[2019-05-11 20:11] dougbu commented on #8841
@livarcocc this or a very similar problem occurred with 'release/2.1' bits. Have a look at first attempt of a recent ASP.NET Core e2e test run: https://dnceng.visualstudio.com/internal/_build/results?buildId=186027

Unfortunately that pipeline doesn't collect bin logs or crash dumps. (It just saves `*.trx` artifacts.) We have an issue (aspnet/AspNetCore-Internal#2079) about saving crash dumps but

[2019-05-11 21:54] KathleenDollard commented on #11306
Should this be:

Update the tool and update the local tool manifest.

or

Update the tool and the local tool manifest.

[2019-05-12 20:19] borgez commented on #10262
no =(
only "npm install -g yarn@1.9.4"

[2019-05-13 00:01] orassr opened #11319 "sdk mismatch"
Normally, when type `dotnet ef` the result is:

                              _/\__
                  ---==/          \\
         ___  ___        |.          \|\
        | __|| __|        |         )   \\\
        | _| | _|          \_/       |  //|\\
        |___||_|                   /   \\\/\\

this time all I'm getting is that error again and again no matter what command it is
I tried to updat

[2019-05-13 06:20] gulshan opened #11320 "Show project templates and file templates separately"
Currently with `dotnet new` command, all available templates are listed. Some of them are project templates and some are file templates. Requesting to show them separately, for clarity.

[2019-05-13 17:43] daviddenis-stx commented on #10842
As a matter of fact compiling is not executing. See my tentative described in https://github.com/dotnet/wpf/issues/57#issuecomment-491918057

It seems that compiling under Unix works just fine, if it is confirmed we could merge the proposed code and enjoy cross compiling (and close the current "issue")

[2019-05-13 17:45] mairaw commented on #11306
I'd go with the latter: "Update the tool and the local tool manifest."

[2019-05-13 18:26] mairaw commented on #9022
But that link is called dotnet-cli-docs @johnbeisner and that's where the link is going, to the CLI docs.
The SDK link should go to https://docs.microsoft.com/dotnet/core/sdk instead.

Do we need a new link or should I just update that aka to go to the sdk topic instead?

That SDK article had some low CSAT so I just opened a PR to try to improve that article a bit as well:
https://github.com/dotne

[2019-05-13 19:28] dsplaisted commented on #10842
@daviddenis-stx Yes, it would be nice to support building a WPF app on all OS's.  Currently we're planning to not support this for the initial .NET Core 3 release, but hopefully we can add support for it later.

[2019-05-13 19:34] daviddenis-stx commented on #10842
we're testing the outputs currently, will let you know if the produced assemblies execute correctly

[2019-05-13 23:56] dsplaisted commented on #10537
Issues tracking adding manifests:

- .NET Core and WindowsDesktop runtime packs: https://github.com/dotnet/core-setup/issues/6409
- ASP.NET targeting pack: https://github.com/aspnet/AspNetCore/issues/10215
- ASP.NET runtime pack: https://github.com/aspnet/AspNetCore/issues/10216

[2019-05-14 00:14] wli3 opened #11324 "Flaky test: TestPersistenceChannelConstructorAndDisposeOnDeadlock"

[2019-05-14 01:08] #10666 closed

[2019-05-14 16:03] natemcmaster commented on #10537
What is the timeframe for getting this done? preview6 is already overbooked, and I'm looking to punt work to preview7 if we can.

[2019-05-14 16:54] #11320 closed

[2019-05-14 16:54] livarcocc commented on #11320
Issue moved to [dotnet/templating #1894](https://github.com/dotnet/templating/issues/1894) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-14 16:57] livarcocc commented on #11319
dotnet ef no longer ships with the SDK in 3.0.100. It is now a global tool and the 2.2 version there is the dotnet ef global tool version. It is not clear to me why it fails the way it is failing. I would suggest that you close this issue and file a new one on https://github.com/aspnet/EntityFrameworkCore/

[2019-05-14 16:58] livarcocc commented on #11316
`dotnet -v` is used in other commands for verbosity level setting. We don't want to confuse these options.

As such, we have no plans to add that short hand for version. Please continue using `--version`.

[2019-05-14 16:58] #11316 closed

[2019-05-14 17:20] livarcocc commented on #3723
This code has changed considerably since we moved to msbuild. Going to close this issue. If this is still a problem, please file a new issue.

[2019-05-14 17:20] #3723 closed

[2019-05-14 17:21] wli3 commented on #11299
Close via https://github.com/dotnet/sdk/pull/3212

[2019-05-14 17:21] #11299 closed

[2019-05-14 17:22] livarcocc commented on #4427
We now have local tools that is our answer to this request. It is not in global.json though. It uses its own new tool manifest file.

[2019-05-14 17:22] #4427 closed

[2019-05-14 17:25] livarcocc commented on #5896
I believe this has been fixed in the host.

[2019-05-14 17:25] #5896 closed

[2019-05-14 17:27] livarcocc commented on #5580
This is fixed. Don't see this anymore since before the move to arcade.

[2019-05-14 17:27] #5580 closed

[2019-05-14 17:30] livarcocc commented on #7793
Done for 3.0.

[2019-05-14 17:30] #7793 closed

[2019-05-14 19:47] Rick-Anderson opened #11336 "Remove "please" in error messages."
Per the MS Style guide

Avoid please except in situations where the customer is asked to do something inconvenient or the application or site is to blame for the situation.

A search yields 864 lines with please. In almost every case, please should be removed.

Examples:

* ` <source>Found more than one project in `{0}`. Please specify which one to use.</source>`
*  `<source>Please specify at leas

[2019-05-14 19:56] nguerrera commented on #10537
I think preview 7 is fine for ASP.NET IMHO. I would really like the targeting pack info with the profiles in preview 6 if possible for the windows desktop SDK. That changes the experience so it is better to have customers try it sooner.

[2019-05-15 01:13] livarcocc commented on #11336
@Rick-Anderson We would gladly take a PR for this 😄.

cc @peterhuene

[2019-05-15 01:44] fadimounir commented on #1437
@dasMulli We currently don't support cross-platform crossgen. There are some cross-architecture scenarios that we support though. You can compile for ARM from Windows and Linux.
Which platform/architecture are you trying to target?

[2019-05-15 04:20] dasMulli commented on #1437
That's fine (for now?), just wanted to ask, there's no immediate need.
Scenarios i can see is crossgen for *nix on windows build agents (not everyone uses linux build agents, esp. when self-hosting or mixed solutions with also some UI integration testing going on) and crossgen for edge devices (ARM/ARM64) from x64 agents.

[2019-05-15 04:25] peterhuene commented on #11336
Technically this is a dupe of https://github.com/dotnet/cli/issues/9203 which I never got around to scrubbing (I've been more monitoring new resource strings so we didn't add additional work).

[2019-05-15 04:51] Rick-Anderson commented on #11336
I could probably PR this. Do I PR into master?

[2019-05-15 08:55] nhathoang989 commented on #8743
In my case, I resolved by installing version compatible with visual studio ( below .Net Core sdk).
https://dotnet.microsoft.com/download

[2019-05-15 09:29] daviddenis-stx commented on #10842
@dsplaisted I filed https://github.com/dotnet/wpf/issues/688 for future reference

[2019-05-15 10:28] jasondaicoder commented on #9458
`dotnet build-server shutdown`  doesn't work on mac, I can still see the `dotnet` processes are live and consuming lots of CPU.

[2019-05-15 11:29] PDostalek commented on #11306
Thanks for your replies!

[2019-05-15 11:29] #11306 closed

[2019-05-15 14:36] moh-hassan commented on #9659
With me, in  netcore   2.2.103 it is working fine.

[2019-05-15 16:00] fadimounir commented on #1437
Thanks for the feedback regarding cross-platform.
Now, you can compile for arm/arm64 from a x64 machine, as long as it’s the same platform (windows x64 to compile for windows arm/arm64, and Linux x64 to compile for Linux arm/arm64)

[2019-05-15 16:38] VictorioBerra commented on #9659
It seems okay to me. During my testing at some points I bumped into the error again but I can not replicate it at this point.

Easy way to set up a test using Bash:

[code]

Then try this:

- in Console1 target `netcoreapp1.1`
- in StdLib1 target `netstandard1.6`

[code]

Error:

[code]

[2019-05-15 17:33] peterhuene commented on #9458
@jasondaicoder what DLLs are those `dotnet` processes executing? That is to say, if you view the command lines for those processes, what was the argument to `dotnet` or `dotnet exec`?

[2019-05-15 19:31] tonerdo commented on #10060
I took a break on pushing this to focus on some personal issues. I think I'll go ahead an share with you the real world scenario I'm currently experiencing that made me ask for this.

I'm trying to introduce C# into the CS curriculum of some local universities and the lack of this feature has been a blocker. Here, instructors grade students' programming assignments by having them submit the single

[2019-05-15 21:25] dsplaisted opened #11351 ""dotnet run" for project targeting .NET Framework fails with unhelpful error on Linux"
Trying to `dotnet run` a project targeting .NET Framework fails with the following error on Linux (and probably Mac):

[code]

We should fail with a more graceful error.

[2019-05-15 21:34] peterhuene commented on #11351
I think corefx should probably provide one and not the CLI.

[2019-05-15 21:38] dsplaisted commented on #11351
I'm not sure of the details of how it all works, but I think to .NET Core / the OS it's simply an invalid file to execute, while the .NET Core SDK knows that it's a .NET Framework project which would be useful to include in the error.

[2019-05-15 21:39] peterhuene commented on #11351
That's fair, although users would probably then expect that `dotnet run` when you've set `RuntimeIdentifier` to a RID other than your current platform to behave the same, which becomes trickier to implement.

[2019-05-15 21:52] nikunjratanpara commented on #8837
I am facing this issue with .Net Core 2.2, VS Code, Ubuntu 18.04 LTS. Is there any way I can fix it.

[2019-05-15 22:02] peterhuene commented on #8837
@nikunjratanpara assets from package references are only copied when running `dotnet publish` for .NET Core 2.x.  In 3.0, we now copy package assets on build too.

Are you running the output from `dotnet build` or `dotnet publish`?

[2019-05-16 14:48] orassr commented on #11319
@livarcocc Will do
Thanks.

[2019-05-16 14:48] #11319 closed

[2019-05-16 20:12] rrelyea commented on #10960
The problem here is that the SDK (via msbuild targets) adds some package sources for restore.
NuGet.Config clear doesn't impact msbuild set sources.
Should the SDK be setting these sources via Targets?

[2019-05-16 20:16] peterhuene commented on #10960
Re-opening for discussion.

[2019-05-16 23:35] johnbeisner commented on #10663
Resolved...

[2019-05-16 23:35] #10663 closed

[2019-05-16 23:35] johnbeisner commented on #10664
Resolved...

[2019-05-16 23:35] #10664 closed

[2019-05-17 07:03] dzmitry-lahoda commented on #7408
First search result on the web for me. So
[code]
to convert it into normal date.

[2019-05-17 08:24] yuki233 opened #11372 ""dotnet build" for mvc failed with error MSB4064"
## Steps to reproduce
1. Install .NET core SDK 3.0.100-preview6-011991
2. Run "dotnet new mvc -o mymvc"
3. Run "dotnet build" to observe the result

## Expected  behavior
1. Dotnet build works fine.

## Actual behavior
1. dotnet build failed with error MSB4064

/usr/share/dotnet/sdk/3.0.100-preview6-011991/Sdks/Microsoft.NET.Sdk.Razor/build                                  /netstandard2.0/Microsof

[2019-05-17 11:52] MonDeveloper commented on #9478
This limitation is really painfull when the xml documentation are the one describing the model packed with NuGET and  used on the WebAPI contracts where something like swagger is used to self document the WebApi themselves, in such a case there's no possibility to auto-describe the contracts (since it is autodiscovered using the xml documentations)

[2019-05-17 13:12] dasMulli commented on #11372
Looks like an instance of https://github.com/aspnet/AspNetCore/issues/10218

[2019-05-17 21:02] #11336 closed

[2019-05-17 21:57] adovepf opened #11375 "Global tool should be able to update itself"
## Steps to reproduce
* Create a global tool which allows for an update command (`dotnet install -g <toolName>`)
* Publish version 0.0.0 of the tool
* Implement the update command in such a way that it invokes `dotnet tool update -g <toolName>` to update to the latest version of the tool
* Install version 0.0.0 of the tool
* Publish version 0.0.1 of the tool
* Run the update command (`<toolName> u

[2019-05-17 21:57] #11375 closed

[2019-05-17 22:04] ardove opened #11376 "Global tools should be allowed to update themselves"
I previously opened https://github.com/dotnet/cli/issues/11375 but on the wrong account, so reopening here.

This is handy for making sure that someone using your tool doesn't need to understand the dotnet cli to update their tools (we can simply provide useful contextual information from our global tool that guides them through the process). Typically, something like a `<toolName> update` is less

[2019-05-18 21:22] tebeco commented on #10288
@wli3
Update is a great idea and would be really effective with a full update option :

`dotnet tool update --local --all`

asking developper to manually list + update tool one by one is kinda harsh

I'm super lazy and if would add a nightly build on my CI just for that one

so every night the tooling is updated

[2019-05-19 11:54] wuchang commented on #9478
怎么解决？

[2019-05-20 01:29] restrellasosa commented on #10288
[
![Capture](https://user-images.githubusercontent.com/6253560/57991475-38906a80-7a7d-11e9-9ff6-5bad861fe8b6.JPG)
](url)

[2019-05-20 01:30] restrellasosa commented on #10288
How i can fix this. I try all! I dont know why and if anybody have knowlegde pls!

[2019-05-20 03:56] tebeco commented on #10288
@restrellasosa
is that related to local tool ? or should it be in a new issue ?

[2019-05-20 04:00] restrellasosa commented on #10288
Local tools vs2019 v16.1
[cid:image002.png@01D50E9E.F9466720]

[cid:image006.png@01D50E9E.F9466720]

Enviado desde Correo<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

________________________________
De: TeBeCo <notifications@github.com>
Enviado: Sunday, May 19, 2019 11:56:52 PM
Para: dotnet/cli
Cc: Rigoberto Estrella Sosa; Mention
Asunto: Re: [dotnet/cli] Local Tools Early Pre

[2019-05-20 04:39] tebeco commented on #10288
it's visual studio right ?
Visual Studio is your IDE
Local tool are the name given to a specific tooling ship via nuget to extend `dotnet.exe`

if your issue is related to Visual Studio and it installation
Can delete your comments here and create an issue in Visual Studio feedback hub ?
for that just click the "Feedback" button in visual studio ? It's in the top right corner next to the "Live Shar

[2019-05-20 08:32] Jepson109 opened #11378 ""dotnet build" failed with error NETSDK1073 for the .NET core 3.0 app with reference to a .NET Standard 2.1 class lib"
## Steps to reproduce
1. Install .NET core sdk 3.0.100-preview6-012012
2. Create a  .NET core 3.0 app with reference to a .NET Standard **2.1** class lib with below CLI
    dotnet new console -o consoleapp30
    dotnet new classlib -n CSNS21Lib -f **netstandard2.1**
    dotnet add reference ..\CSNS21Lib\CSNS21Lib.csproj
3. run "dotnet build" to observe the result

##Note
1. This issue also repro w

[2019-05-20 17:05] livarcocc commented on #11378
@dsplaisted can you take a look?

[2019-05-20 17:06] livarcocc commented on #11372
Yep. Dup of the issue @dasMulli linked above. It should be fixed very soon.

[2019-05-20 17:06] #11372 closed

[2019-05-20 17:10] livarcocc commented on #11376
@wli3

[2019-05-20 17:49] livarcocc commented on #10581
@dsplaisted to check and close if done. Otherwise specify left over work.

[2019-05-20 17:52] livarcocc commented on #10502
@nguerrera is going to sort out what is still left here.

[2019-05-20 19:16] dsplaisted commented on #11378
It looks like this is because we don't have a version of NuGet in this repo that honors `PrivateAssets="All"` on `FrameworkReference` items.

@nkolev92, Is the attribute correct [here](https://github.com/dotnet/sdk/blob/efc78834f8816aeea9d26168f887248732fd9fda/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.props#L49)?  Which insertion of NuGet would include the code to

[2019-05-20 19:35] nkolev92 commented on #11378
Yep, that looks right.

https://github.com/dotnet/sdk/pull/3243 should be the first insertion carrying those bits.

[2019-05-20 21:08] nguerrera opened #11380 "dotnet tool install uses current runtime's dotnet.exe and not current dotnet.exe to restore tool"
If multilevel lookup is enabled (current default), the sdk can be running on a runtime from a different directory than the dotnet.exe that launched the sdk command. When tool install shells out to dotnet restore, it picks the dotnet.exe next to the runtime that is being used and not the dotnet.exe that hosted the tool install command.

## Steps to reproduce

1. Have some 2.1.x runtime newer than 2

[2019-05-20 21:18] nguerrera commented on #11380
Workaround for this is `set DOTNET_MULTILEVEL_LOOKUP=0`, which is generally recommended in cases where you are trying to use a local SDK over whatever is globally installed anyhow.

[2019-05-20 21:20] nguerrera commented on #11380
Surprising code is here:

https://github.com/dotnet/cli/blob/86f8ed535b1dcf0f8790ebe71876794612dba4b7/src/Microsoft.DotNet.Cli.Utils/Muxer.cs#L51-L59

This locates the deps file inside the shared framework we are running against, then walks up to find dotnet.exe.

The expected behavior of using the current dotnet.exe would be to use `Process.GetCurrentProcess().MainModule.FileName`

[2019-05-20 21:20] nguerrera commented on #11380
cc @AArnott

[2019-05-20 21:20] wli3 commented on #11376
Thank you for the suggestion!

For UX perspective, `<toolName> update` is ambiguous with a command from the tool itself.

For technical side. Once a command is installed, SDK is out of the picture, and when invoking, it is just like run a console app. So, it would be hard to add extra SDK action in the middle. At the same time, this design makes tool producers' testing much easier and it improves

[2019-05-20 21:29] wli3 commented on #10288
@tebeco there is an existing issue https://github.com/dotnet/cli/issues/10860 and I'd like to add this feature.  However, this is unlikely to make in 3.0.100 release due to this is not a trivial feature.

[2019-05-20 21:29] AArnott commented on #11380
Do you want to file a bug against the [DotNetCoreInstaller](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreInstallerV1) task to also `set DOTNET_MULTILEVEL_LOOKUP=0` based on this guidance?

[2019-05-20 21:35] wli3 opened #11386 "Local tools vs2019 v16.1 -- There was an error running the selected code generator"
From @restrellasosa

[
![Capture](https://user-images.githubusercontent.com/6253560/57991475-38906a80-7a7d-11e9-9ff6-5bad861fe8b6.JPG)
](url)

How i can fix this. I try all! I dont know why and if anybody have knowlegde pls!

--------------------------

From @tebeco
@restrellasosa
is that related to local tool ? or should it be in another issue ?

--------------------------
From @restrellasosa

Lo

[2019-05-20 21:37] wli3 commented on #10288
@tebeco and @restrellasosa I moved the other issue to https://github.com/dotnet/cli/issues/11386

I hope this thread only focus on bigger design of local tools

[2019-05-20 21:39] wli3 commented on #11386
@restrellasosa could you show me your manifest file? and how to invoke a local tool inside visual studio? There is no existing integration with visual studio

[2019-05-20 21:45] nguerrera commented on #11380
@AArnott I went to do that, but it seems they already disable multilevel lookup by default if I'm reading this right:

https://github.com/microsoft/azure-pipelines-tasks/blob/c4dc3ed710b1c36f4756e21eee13c53f14e3f3d2/Tasks/DotNetCoreInstallerV1/dotnetcoreinstaller.ts#L35-L37

Do you have `performMultiLevelLookup=true` set?

[2019-05-20 22:07] AArnott commented on #11380
I do not set that variable. But in checking the YML again, I'm not using the `@1` version of the task either. [I'm using `@0`](https://github.com/microsoft/vs-streamjsonrpc/blob/3a77795621c6e510a4a04815a9910d7002260d6e/azure-pipelines/build.yml#L2-L6). 🤦‍♂

[2019-05-20 22:14] AArnott commented on #11380
Ya, [switching to `UseDotNet@2`](https://github.com/microsoft/vs-streamjsonrpc/pull/283) allows me to remove my workaround since it's already applied within the task.

[2019-05-20 23:40] wli3 commented on #11006
close due to the lack of a repro

[2019-05-20 23:40] #11006 closed

[2019-05-20 23:58] livarcocc commented on #11275
Closing as the question has been addressed.

[2019-05-20 23:58] #11275 closed

[2019-05-20 23:59] livarcocc commented on #10960
Those feeds have since been removed from the SDK. So closing this issue.

[2019-05-20 23:59] #10960 closed

[2019-05-21 01:12] wli3 commented on #11380
Some archaeology, we used typeof before, and changed to existing state due to https://github.com/dotnet/cli/issues/2489 (PR https://github.com/dotnet/cli/pull/2617)

And I am still reading to see if it still applies. It mentioned muxer servicing, but we don't have muxer servicing story. @livarcocc may have context?

[2019-05-21 02:16] jnm2 commented on #9114
I'm still getting this error on Azure Pipelines macOS even with DOTNET_ROOT set:

[code]

Result:

[code]

What options are there?

[2019-05-21 02:28] dsplaisted commented on #10537
Closing this in favor of #10581 for targeting packs and #10442 for runtime packs

[2019-05-21 02:28] #10537 closed

[2019-05-21 03:26] nguerrera commented on #11380
That change is switching from one way to find the muxer next to current runtime to another. So I don't think that has our answer. Why do we want the muxer of the current runtime and not just the current muxer?

[2019-05-21 03:30] natemcmaster commented on #9114
Try changing this line to include `readlink`, which follow the symlink to the actual location of dotnet.
[code]

[2019-05-21 06:51] atifaziz opened #11387 "Multiple tool versions install with unexpected behaviours thereafter"
## Steps to reproduce

I honestly don't know how I or `dotnet tool install` got me here 😕 but I have two version of [`dotnet-try`](https://www.nuget.org/packages/dotnet-try/) installed:

[code]

However, when I try to update, I get an error:

[code]

And the same happen when trying to uninstall:

[code]

When I look at the help for `uninstall`, I do not see a way to uninstall a specific version:

[2019-05-21 07:44] tomRedox commented on #10336
I had this infuriating issue when migrating a .NET Core 2.2 app to core 3.0.  The issue turned out to be that I was still referencing Microsoft.AspNetCore.Razor.Design Version="2.2.0" in the .proj file's package references.  Deleting that reference (which isn't needed at all as Razor.Design is now part of AspNetCore library) fixed the issue.

Once I'd done that, I then got hundreds of errors about

[2019-05-21 10:35] YunWeiaa commented on #11378
Not repro on CLI/SDK 3.0.100-preview6-012027

[2019-05-21 11:53] jonathancross commented on #533
It's been almost a year since the last update here... is there a way to install dotnet via Homebrew yet?

[2019-05-21 12:02] ematta commented on #533
@jonathancross `brew cask install dotnet-sdk`

[2019-05-21 17:28] livarcocc commented on #11387
@wli3 can you investigate?

[2019-05-21 17:29] #5194 closed

[2019-05-21 17:32] #4823 closed

[2019-05-21 17:35] #4746 closed

[2019-05-21 17:35] livarcocc commented on #4746
dotnet list packages has been implemented.

[2019-05-21 17:36] livarcocc commented on #4723
We have built local tools to cover this.

[2019-05-21 17:36] #4723 closed

[2019-05-21 17:38] livarcocc commented on #5830
We no longer have that in the product.

[2019-05-21 17:38] #5830 closed

[2019-05-21 17:39] wli3 commented on #11387
could you show me the content of folder ` %HOME%/.dotnet/tools/.store/dotnet-try` (%HOME% is your C:\Users\USERNAME)? The following command should do it. I suspect there is a concurrency bug on update.

`tree %HOME%/.dotnet/tools/.store/dotnet-try /f`

you could get out of the state by first back up your  %HOME%/.dotnet/tools/.store/dotnet-try and then remove the folder. So you can install dotnet-

[2019-05-21 17:40] livarcocc commented on #5650
Closing this issue as we do not have plans to provide APIs out of the CLI repo and have since stopped shipping Cli.Utils.

[2019-05-21 17:40] #5650 closed

[2019-05-21 17:51] livarcocc commented on #6061
This hasn't been a problem in quite a while. Closing this issue.

[2019-05-21 17:51] #6061 closed

[2019-05-21 18:43] wli3 commented on #11380
true here

[2019-05-21 19:35] dsplaisted commented on #11378
Looks like this has been fixed.

[2019-05-21 19:35] #11378 closed

[2019-05-21 20:40] livarcocc commented on #9908
I believe this is now done, correct @dsplaisted?

[2019-05-21 20:51] livarcocc commented on #9136
The preview branding is back on the installers, like preview6. I am going to close this issue.

[2019-05-21 20:51] #9136 closed

[2019-05-21 20:56] dsplaisted commented on #9908
Yes, this was done in https://github.com/dotnet/core-sdk/pull/1561

[2019-05-21 20:56] #9908 closed

[2019-05-21 21:01] ardove commented on #11376
I don't know that it is ambiguous, actually. A good example is the nuget command line interface. It has an option to update itself `nuget update --self`. The concept is the same (except we're just assuming the --self option).

The problem is that the command installed isn't versioned so I can't install multiple versions side by side. In my case, it's installed under C:\Users\<userName>\.dotnet\too

[2019-05-21 21:04] wli3 commented on #11376
Could you see if [local tools](https://github.com/dotnet/cli/issues/10288) can solve this problem? tool-version is scoped to a directory.

[2019-05-21 22:19] ardove commented on #11376
It's close, but we really want folks to be able to use our tool from wherever they are (not just inside a specific directory).

[2019-05-22 00:07] wli3 commented on #11376
We had conversion about supporting multiple versions of the same tool. However, we cannot find a good UX experience -- we don't know how to invoke it. `dotnetsay --version 1.3` vs `dotnetsay --version 1.4` could be hard to type. Any suggestions?

A command case we find is a project require to use a lower version, so a local tool manifest file could help pin the version. Does your scenario require

[2019-05-22 00:29] ardove commented on #11376
In fact, our case is the opposite. We want folks to always use the latest version of our tool (and it’s dependencies).

For a concrete example, we have a number of dotnet templates that need to be invoked to get a complete solution. This is by design as some folks will want to pick and choose which templates they use, but the majority of cases will just want “the whole enchilada”. So we wrapped up

[2019-05-22 00:51] wli3 commented on #11324
still happening. should delete since never happen in real

[2019-05-22 03:59] livarcocc commented on #2754
We don't ship this out of the CLI anymore.

[2019-05-22 03:59] #2754 closed

[2019-05-22 04:02] Jepson109 opened #11395 "Hotkey conflict on the SDK installation wiwith Turkish"
## Steps to reproduce
1.Open  the sdk installation file (.NET core sdk 3.0.100-preview6-012031)
2.Tap "Alt" key to observe the hotkey on installation wizard

## Expected  behavior
Hotkeys work fine on the installation wizard

## Actual behavior
Hotkey "k" is conflicted on the installation wizard
![Untitled](https://user-images.githubusercontent.com/38854445/58146582-5500f280-7c89-11e9-805c-3612895

[2019-05-22 06:47] Jepson109 opened #11397 "Button "install" is truncated on the SDK installation wizard with Japanese"
## Steps to reproduce
1.Open the sdk installation file (.NET core sdk 3.0.100-preview6-012031).
2.Observe the button "インストール" .

## Expected  behavior
Button content isn't truncated

## Actual behavior
Button content is truncated
![image](https://user-images.githubusercontent.com/38854445/58152836-23dfec80-7ca0-11e9-8d90-c524ea6022cc.png)
![image](https://user-images.githubusercontent.com/38854445

[2019-05-22 07:18] AriNuer opened #11398 "Installation components are over translated on sdk installation wizard with Chinese"
## Steps to reproduce
1. Open SDK 3.0.100-preview6-012031 on Win10-x64 CHN
2. Observe the installation completion page of the installation wizard

## Expected  behavior
The installation components should show in English rather than Chinese

## Actual behavior
Over translation occurs on installation components
![image](https://user-images.githubusercontent.com/42136111/58154354-0745b380-7ca4-11e9-8

[2019-05-22 12:23] AArnott commented on #11380
Actually, my PR linked above to switch to use `UseDotNet@2` can't complete because 3 PR builds in a row have failed in the `dotnet test` step. [All tests pass, but `dotnet.exe` returns a nonzero exit code](https://dev.azure.com/azure-public/vside/_build/results?buildId=6240&view=logs&jobId=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&taskId=ea74d3ec-af51-57bf-65e6-f50dd234a1e5&lineStart=1163&lineEnd=1177&

[2019-05-22 12:42] PDostalek opened #11401 "[loc][Query][Cli] Localizability of "ValueMustBeAnObject""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
The property '{0}' must be an object if it is specified.

File Name:
dotnet\commands\dotnet-run\xlf\LocalizableStrings.xlf

==========================================
Query:
Please clarify if "it" stands for the property o

[2019-05-22 12:44] PDostalek opened #11402 "[loc][Query][Cli] Localizability of "CouldNotConvertToString""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Could not convert the value of property '{0}' to a string.

File Name:
dotnet\commands\dotnet-run\xlf\LocalizableStrings.xlf

==========================================
Query:
Please, define what will placeholder be replac

[2019-05-22 14:49] james-novino commented on #11297
We have a similar issue, where we are getting the following build error
[code]
We have a Console Application running on netcoreapp2.1 the uses a library project that does WCF for a SOAP service, this SOAP service requires an XMLSerializers.dll for operation. But when setting the `<GenerateSerializationAssemblies>On</GenerateSerializationAssemblies>` property for the library project we get the issu

[2019-05-22 17:53] livarcocc commented on #11401
@peterhuene can you help disambiguate?

[2019-05-22 17:54] livarcocc commented on #11402
@peterhuene

[2019-05-22 19:44] dasMulli opened #11403 "Failure in Telemetry sending should not be printed to output"
## Steps to reproduce
* macOS
* .NET Core 3.0 preview 5
* call an unknown `dotnet` command

## Expected  behavior
Command is run or error message is written that a command is not found

## Actual behavior
[code]

## Environment data
`netstat -nr` output:
[code]

`dotnet --info` output:

[code]

[2019-05-22 19:47] dasMulli commented on #11403
My concern is mostly that telemetry should fail silently.

About the underlying issue, I couldn't get `System.Net.NetworkInformation.NetworkInterface.GetIsNetworkAvailable()` to throw when run from a simple netcoreapp3.0 console app.

[2019-05-22 20:47] livarcocc commented on #11403
@wli3 can you take a look?

[2019-05-22 20:59] wli3 commented on #11403
it should @vitek-karas how to silence Internal CLR error output? This is not a exception, I cannot catch it

[2019-05-22 21:03] peterhuene commented on #11401
@PDostalek I can't find that string anywhere.  What branch is it and what is the property key?

[2019-05-22 21:04] peterhuene commented on #11401
Never mind, I found it.  Too much servicing work, not enough time in master, apparently (needed a pull).

[2019-05-22 21:06] peterhuene commented on #11401
@PDostalek It apparently refers to the property.

[2019-05-22 21:09] peterhuene commented on #11402
It looks like the placeholder might be replaced with any of the expected string property names, which appear to be:

* `CommandLineArgs`
* `LaunchUrl`
* `ApplicationUrl`

[2019-05-22 21:12] peterhuene commented on #11402
@PDostalek Please let me know if that didn't answer the question.  Thanks!

[2019-05-22 21:12] #11402 closed

[2019-05-22 21:13] peterhuene commented on #11401
@PDostalek Please let me know if that didn't answer the question. Thanks!

[2019-05-22 21:13] #11401 closed

[2019-05-22 21:53] wli3 opened #11406 "DotNetCoreInstaller@1` task failed with non-zero exit code when switch to 1"
From @AArnott

Actually, [my PR to switch to use `UseDotNet@2`](https://github.com/microsoft/vs-streamjsonrpc/pull/283) can't complete because 3 PR builds in a row have failed in the `dotnet test` step. [All tests pass, but `dotnet.exe` returns a nonzero exit code](https://dev.azure.com/azure-public/vside/_build/results?buildId=6240&view=logs&jobId=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&taskId=ea74d

[2019-05-22 21:54] wli3 commented on #11380
@AArnott  @nguerrera Let move the second issue to https://github.com/dotnet/cli/issues/11406

[2019-05-22 21:55] wli3 commented on #11406
Is it hard to read but there is an error in the log

[code]

[2019-05-22 21:56] wli3 commented on #11406
@AArnott I think since mutilevel look up is disabled, we can no longer find the runtime version in preinstalled location. You will also need to install 1.x runtime

[2019-05-22 21:58] AArnott commented on #11406
I see. Ya, with my workaround the multi-level lookup was only disabled for the `dotnet tool` command. Now with this new task it's an env var that applies everywhere.

I hope I can run that task several times and have the results be cumulative. I'll give it a try.

[2019-05-22 22:01] wli3 commented on #11406
It used to install different SDK versions in different location, so it cannot accumulate . And there was an bug for that. Looks like the install location is "C:\hostedtoolcache\windows\dotnet\" without extra subfolder. It should be fixed

[2019-05-22 22:23] AArnott commented on #11406
Awesome. Yes, I remember the task on OSX couldn't accumulate, which really limited what I could do. I see in my Windows box at least that accumulation works. So I can complete my PR and we can close this issue.
Thanks for your help.

[2019-05-22 22:23] #11406 closed

[2019-05-22 22:28] wli3 commented on #11324
https://github.com/dotnet/cli/pull/11396

[2019-05-22 22:28] #11324 closed

[2019-05-22 23:17] #11380 closed

[2019-05-23 00:26] dsplaisted opened #11410 "Fail gracefully when building on non-Windows and WindowsDesktop shared framework is referenced"
For the 3.0 release, we plan to not support building Windows Forms and WPF apps on non-Windows operating systems.  (We may consider supporting it later, see for example https://github.com/dotnet/wpf/issues/688).

Most WPF apps will use Microsoft.NET.Sdk.WindowsDesktop, and the experience for that on non-Windows is covered here: https://github.com/dotnet/cli/issues/10842

However, some projects may

[2019-05-23 00:36] isidore commented on #9321
It's odd that this discussion is this long.

Is there any reason this is more complex than having the installer add to the path?

[2019-05-23 00:39] wli3 commented on #9321
Only on Windows there is a standard way to do that. As in discussion above, it is tricky on mac and Linux

[2019-05-23 05:32] mgkeen commented on #11017
+1 for this. I'm currently having issues because I'm running dotnet test against my solution. The builds happen quickly, each one being passed off to vstest separately and effectively causing them all to run in parallel. On my not so great CI container it's causing the whole test run to grind to a halt and fail.

[2019-05-23 09:17] nitzel commented on #9481
Are there any updates on this @peterhuene @livarcocc ?

[2019-05-23 10:37] wmorian opened #11412 "dotnet-list-package in a UnitTest project returns an error"
## Steps to reproduce
create a new xunit project:
  `dotnet new xunit`

The referenced packages are:
[code]

restore project:
`dotnet restore`

list all packages
`dotnet list package`

## Expected  behavior
[code]

## Actual behavior
[code]

## Note
If I comment out Microsoft.NET.Test.Sdk, then I got no error!

## Environment data
`dotnet --info` output:

[code]

[2019-05-23 17:31] peterhuene commented on #9481
Hi @nitzel.  There's been no update as I don't think an issue to implement this was ever filed (as far as I'm aware).

@livarcocc what do you think about implementing this option for our MSBuild forwarding commands in 3.0?

[2019-05-23 17:52] livarcocc commented on #11412
This issue was moved to NuGet/Home#8154

[2019-05-23 17:52] #11412 closed

[2019-05-23 20:10] FiniteReality commented on #11403
I can reproduce this on a Linux install, too. However, I also occasionally get another stack trace, coming from System.Globalization:
[code]

As for GetIsNetworkAvailable:
[code]

[2019-05-23 20:19] FiniteReality commented on #11403
Interestingly, the actual stack trace seems to vary each time the command is ran. Sometimes, no exception is thrown at all, while other times differing amounts of each exception are thrown.

[2019-05-24 05:27] jgarciaweb commented on #8309
Updating Visual Studio to version 15.9.12 fixed the problem.

[2019-05-24 08:16] nitzel commented on #9481
Thank you for looking into this. Currently we need to set `-p:UseSharedCompilation=false` and `/m:1` for `dotnet build` to avoid processes hanging around after the compilation.
To stop the second process spawned by `dotnet run ..` we're using `taskkill /f /T /pid <pid-of-dotnet-run>` to take down both processes, but that seems sub optimal to me.

[2019-05-24 09:49] VanCoding opened #11420 "dotnet does not find latest patch version of SDK specified in global.json"
## Steps to reproduce
- Install latest SDK version (2.2.204 in my casse)
- Install SDK version 2.1.300
- in global.json set sdk.version to 2.1.0
- try to dotnet restore the project.

## Expected  behavior
All dependencies get installed.

## Actual behavior
I get an error message, stating "A compatible SDK version for global.json version: [2.1.0] from [...] was not found.

## Environment data
`dotn

[2019-05-24 11:46] ruimaciel opened #11421 "Dotnet test hangs when running on a multi-project solution"
I've just upgraded to dotnet 2.2.300 and since the upgrade I've started experiencing a problem running unit tests.

I have multi-project solutions which store all unit tests in a dedicated subfolder, and when I run `dotnet test` in the solution directory the test project hangs with the following output:

[code]

Oddly enough, if I run `dotnet test` within the directory of each unit test, everythin

[2019-05-24 16:52] livarcocc commented on #11420
Patchs for the SDK are on the hundreds version, for instance, 2.1.300 would match 2.1.300, 2.1.301, 2.1.303, etc.

We are considering a way to specify a major.minor version on the global.json but that does not exist yet. As such, right now, this issue is by design.

[2019-05-24 16:52] #11420 closed

[2019-05-24 16:53] livarcocc commented on #11421
This issue was moved to microsoft/vstest#2025

[2019-05-24 16:53] #11421 closed

[2019-05-24 18:31] livarcocc commented on #9481
hey @peterhuene I think having a switch that would encompass all our long running servers makes sense. Feel free to file a new issue for that and link it here.

[2019-05-24 19:10] peterhuene opened #11424 "Implement an option for restore/build/publish commands that disable build servers."
## Steps to reproduce

See discussion on https://github.com/dotnet/cli/issues/9481.

1) `dotnet new console`
2) `dotnet build`

## Expected  behavior

There should be an option to `dotnet build` (and other building commands) to disable the use of the various build servers (Roslyn, MSBuild node reuse, Razor).

## Actual behavior

Users have to pass a plethora of undiscoverable properties and option

[2019-05-24 19:10] peterhuene commented on #9481
I've opened https://github.com/dotnet/cli/issues/11424 and set it to the 3.0 milestone.

[2019-05-24 21:19] dsplaisted opened #11425 "Windows Forms and WPF project templates should not show up if current OS isn't Windows"
We are not planning to support building Windows Forms and WPF projects on non-Windows operating systems (at least for now): #10842

Given that, we should not include the `winforms` and `wpf` project templates for non-Windows builds of the .NET Core SDK.

[2019-05-24 22:19] johnbeisner commented on #11397
![image](https://user-images.githubusercontent.com/24683167/58359245-57a14a80-7e37-11e9-8bb8-ad90a9fd6831.png)

[2019-05-24 22:19] #11397 closed

[2019-05-24 22:52] jamesralstin commented on #9425
Hello @peterhuene, I am a student currently in an introduction to Open Source software, and I need to make two 'technical' contributions to an open source project for one of my assignments.

As a student, I am incredibly intimidated by this task. My apologies if this is not the right approach to engaging with this project, but I noticed you labeled this as a "good first issue" and "help wanted". D

[2019-05-25 00:42] peterhuene commented on #9425
Hi @jamesralstin.  Thank you for engaging us and no apologies are required as this is exactly the intent of the "good first issue" label!

This issue is marked "good first issue" because the fix would be relatively easy to make, although it would likely be done on the `dotnet/sdk` repo rather than the `dotnet/cli` repo.  However, upon further investigation, I think this issue doesn't belong to thi

[2019-05-25 00:54] davkean commented on #9425
I don't believe this is MSBuild controlled. I've run into before and filed against CPS: https://devdiv.visualstudio.com/DevDiv/_queries/edit/677376/?triage=true (microsoft only).

The errors/messages in the output window are are massaged somewhat by the project system itself (we're not just reading console out), so I think it might be controlled by us. Let me dig in.

[2019-05-25 00:55] #4815 closed

[2019-05-25 01:10] jamesralstin commented on #9425
@peterhuene, thank you so much for the quick reply! I will keep an eye on this thread for @davkean updated response, I would be happy to hop over to another repo to make this change (if it is also open source).

Thanks again for helping an Open Source newbie out! Looking forward to growing my knowledge in this space as well as just my general development abilities.

[2019-05-25 01:14] davkean commented on #9425
Actually, I stand corrected. We do massage it, but only to setup a relationship between it and the error list. Back to square one, maybe it is controlled by MSBuild/csc.

[2019-05-25 01:20] davkean commented on #9425
The plot thickens, legacy isn't throwing the /fullpaths switch:

File -> New -> WPF App (.NET Framework):
[code]

[code]

[2019-05-25 01:47] davkean commented on #9425
Okay, after more investigation I found the following:

- Legacy project system specifically handles the message output and writes out the full file name.
- The new project system indirectly calls through EventArgsFormatting.FormatEventMessage in MSBuild (via the ConsoleLogger) - it outputs whatever `BuildXXXEventArgs.File` contains.

I tested with `GenerateFullPaths` to `true`, the new project sys

[2019-05-25 05:02] ikeough commented on #9321
I had the same problem as @bmsantos. My workaround is the following:
[code]

[2019-05-25 15:27] jamesralstin commented on #9425
@davkean, so is the suggestion to make this a command-line argument when building from the command line?

[2019-05-26 07:09] Fabi commented on #11378
Currently this happens in Visual Studio 2019 Preview but not on command line.

[2019-05-26 20:28] jnm2 commented on #9114
@natemcmaster Thank you! That works.

[2019-05-27 13:26] Jaygem commented on #8218
Is this request relevant as of now?
It could be useful to add paket as a dotnet tool.

[2019-05-27 13:42] loop-evgeny commented on #11301
I'm running into this as well, but for me the result is inconsistent - sometimes I get the file from project A and sometimes the one from project B!

`dotnet --info`:
 Version:   3.0.100-preview5-011568

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview5-011568\

[2019-05-27 21:22] masaeedu opened #11429 "Add command to list files that are part of the solution"
Hello. I think it would be useful if the `dotnet` CLI exposed some command to list all of the files that are considered part of the build (project files, source code, resource files, hardcoded DLLs, etc.). This would facilitate use of .NET code with build and deployment tools like Docker and Nix, which rely on being able to discover an exhaustive list of build inputs ahead of time.

I'm not sure w

[2019-05-28 18:00] livarcocc commented on #11429
We currently have no plans of adding explicit support to this, so I have moved this bug to our backlog. Would invoking some msbuild targets work for you?

[2019-05-28 21:21] spboyer opened #11430 "add deploy as a first class command"
Consider adding `deploy` as a first-class command.  Adding this command as an option to deploy to azure, or even other cloud platforms within the CLI helps push .NET Core without having to install additional CLI tooling.

See: https://github.com/spboyer/dotnet-azure for an example.

Angular has also added this an option using `ng deploy azure` within their CLI.

[2019-05-28 21:32] livarcocc commented on #11430
cc @DamianEdwards @Pilchie

[2019-05-28 22:30] masaeedu commented on #11429
@livarcocc Sure, that works. I just need a way to get that information from the command line, regardless of what sequence of tools I actually invoke.

[2019-05-29 02:00] ccic opened #11433 "dotnet core 3.0 (master nightly build) restore fails on Ubuntu for invalid certificate"
## Steps to reproduce
Install dotnet core nightly build 3.0.100-preview6-012026 on Ubuntu 16.04.4 LTS.
"OpenSSL 1.0.2g  1 Mar 2016" or "OpenSSL 1.1.1  11 Sep 2018"

Create a new webapp project through dotnet cli:

dotnet new webapp -n WebApp1 -o WebApp1

The template "ASP.NET Core Web App" was created successfully.
This template contains technologies from parties other than Microsoft, see https://

[2019-05-29 12:20] tomrus88 commented on #11378
@dsplaisted I'm also having this issue when building from VS 2019 16.2 Preview 1 and daily .NET Core build.

[2019-05-29 13:30] janbaltus commented on #11395
HK issue fixed. wxl file need to be checked-in

[2019-05-29 13:30] janbaltus commented on #11398
overtranslation issue fixed. File need to be checked-in

[2019-05-29 16:34] directhex opened #11437 "dotnet-install.sh architecture detection installs wrong architecture on ARM64 host, ARM32 OS"
## Issue Description

get_machine_architecture contains the following:

https://github.com/microsoft/azure-pipelines-tasks/blob/08914a70defbdbe73b2bb87e8d0663bdbeb248e0/Tasks/UseDotNetV2/externals/get-os-distro.sh#L159-L178

This is... fundamentally not how `uname` should be used.

1. `uname` refers to the profile of the running kernel, not the executing environment. It can be a 100% mismatch, and

[2019-05-29 16:43] #11398 closed

[2019-05-29 17:13] livarcocc commented on #11433
This issue was moved to NuGet/Home#8169

[2019-05-29 17:13] #11433 closed

[2019-05-29 17:49] clarotech opened #11439 "Framework-dependent executable does not create *.exe file"
## Steps to reproduce
On a dot net core console app, which uses a number of nuget packages I set out to create a publication package that had a *.exe for the program plus relevant *.dll for the nuget packages - but not the dot net core *.dlls

I used the CLI as per:

dotnet publish -c Release --self-contained false -r win-x64

## Expected  behavior
Expected to have a publish folder with *.exe and

[2019-05-29 18:56] #9737 closed

[2019-05-29 19:06] peterhuene commented on #11439
Hi @clarotech.  This is by design with a 2.1 .NET Core SDK, as it will not create an apphost (the .exe) by default when doing framework-dependent deployments (i.e. `--self-contained false`).  Note that with a 2.2+ .NET Core SDK, the apphost will be created by default when doing a framework-dependent deployment.

You may force the 2.1 SDK to produce an apphost by setting the `UseAppHost` property t

[2019-05-29 19:06] #11439 closed

[2019-05-29 19:16] cmeeren opened #11440 "Unable to install any tools using dotnet tool install"
I am trying to install a global tool. However, I always get the same error message regardless of the tool I try to install (e.g. also for `dotnetsay`):

[code]

I have tried for several hours to clean up my environment, PATH, reinstall VS, etc., but I can't figure out why this doesn't work.

I get the same problem when specifying a tool path.

I'm sorry for what is evidently a support request, but

[2019-05-29 19:23] cmeeren commented on #11440
Nevermind, I found the issue. I removed the `MSBuildSDKsPath` environment variable and now everything works fine.

[2019-05-29 19:23] #11440 closed

[2019-05-29 19:44] nguerrera opened #11441 "Source-Build: Eliminate Microsoft.DotNet.Cli.CommandLine in CLI"
cc @dseefeld

CLI Prebuilts |   |   |
-- | -- | --
**Package** | **Version** | **Status**  
Microsoft.DotNet.Cli.CommandLine | 0.1.1 | Use Source Built Version

[2019-05-29 20:43] nguerrera commented on #11441
@dseefeld I can't reproduce this one:

Microsoft.DotNet.Cli.CommandLine | 0.1.1 | Use Source Built Version
-- | -- | --

Everything seems to be wired up correctly.

[code]
[code]

[2019-05-29 21:06] dsplaisted commented on #10536
The experience should now be enabled, but it's via hard-coding which assemblies belong to which profiles in the SDK.  So I'm going to leave this issue open until the profiles are added to the targeting pack manifest, and the SDK is updated to consume them.

[2019-05-29 22:34] xavierjohn opened #11442 "Published exe is missing version information."
## Steps to reproduce
Create the default Hello World console application.
publish it
`dotnet publish -o c:\temp\hello -r win10-x64`

## Expected  behavior
The generated HelloWorld.exe has Product name & Version filled in just like HelloWorld.dll.

## Actual behavior
File version, Product Name, Product version are all empty.

## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting an

[2019-05-29 22:43] peterhuene commented on #11442
Hi @xavierjohn.  This is a 3.0 feature and is available since the first preview of .NET Core 3.0 SDK ([see implementation PR](https://github.com/dotnet/sdk/pull/2545)).

This feature will not be backported to 2.2 as it doesn't meet the servicing bar and as such I am closing this issue.  Thanks!

[2019-05-29 22:43] #11442 closed

[2019-05-29 23:18] BartoGabriel opened #11443 "Input of keys in another language"
When creating a new project from a template, in case there are possible actions to be executed, it does not take well the keys pressed in another language.

For example, in my machine in Spanish I am being asked to press S or N, and when I press S it says that it is incorrect and expects me to press Y (English).

Spanish:
![imagen](https://user-images.githubusercontent.com/5618170/58590488-928dee8

[2019-05-29 23:28] ericstj opened #11444 "Deps file for MSBuild shouldn't downgrade common task dependencies."
## Steps to reproduce
Produce a task with a dependency on a new version of roslyn.

## Expected  behavior
Task works on latest SDK

## Actual behavior
Task fails to load with ref-def mismatch for roslyn DLLs since old version (2.1.0) is listed in MSBuild's deps file and carried in the MSBuild bin folder.

## Environment data
`dotnet --info` output:
[code]

@nguerrera suggested a tactical fix https

[2019-05-29 23:46] #10440 closed

[2019-05-30 00:02] dsplaisted commented on #11378
Good point, this failure will still show up in VS until VS has the NuGet change (which should be in 16.2 Preview 2 I believe).

[2019-05-30 06:01] yyjdelete opened #11446 "`dotnet tool install --global {1}` in `CannotFindCommandAvailableAsTool` should not be translated"
It's an raw command and should not be translated.
Seems the file are updated automatically from another place?

See it's translated in
https://github.com/dotnet/cli/blob/ae5ff2c666e5288ef6dbbba15f36782210b6412d/src/Microsoft.DotNet.Cli.Utils/xlf/LocalizableStrings.zh-Hans.xlf#L104
https://github.com/dotnet/cli/blob/ae5ff2c666e5288ef6dbbba15f36782210b6412d/src/Microsoft.DotNet.Cli.Utils/xlf/Localiz

[2019-05-30 06:45] dsplaisted commented on #10102
We have unit test coverage of this, and we are also going to validate the scenario with app building.

[2019-05-30 06:45] #10102 closed

[2019-05-30 06:51] #11403 closed

[2019-05-30 07:32] KathleenDollard commented on #11376
Sounds like there are two suggestions here:

1) Support `<toolName> update`
2) Support multiple versions

I'm not clear on your reasons for 2) other than supporting 1) so I'll focus on that and let you follow up on what I may be missing.

While will pointed out some good supporting reasons, the reason we just can't support `<toolName> update` is that it would be breaking change. We must assume som

[2019-05-30 10:28] SimonCropp commented on #9321
@ikeough would 'which dotnet' help you resolve that location ?

[2019-05-30 16:12] ardove commented on #11376
We attempted starting a new process that invoked `dotnet tool update <toolName>`. The problem is that there's a lock on the `<toolName>` executable because it's currently in use which is why that doesn't work (hence, my suggestion that the dotnet cli allow a caller to install multiple versions side by side).

I'm not sure I understand why it would be a breaking change. The `dotnet-` syntax could s

[2019-05-30 17:26] #11425 closed

[2019-05-30 18:59] KathleenDollard commented on #11376
Thanks! Reopen if you hit a wall in your work

[2019-05-30 18:59] #11376 closed

[2019-05-30 20:25] johnbeisner commented on #11437
@directhex
'get-os-distro.sh' appears to be a partial copy of https://dot.net/v1/dotnet-install.sh
https://dot.net/v1/dotnet-install.sh and https://dot.net/v1/dotnet-install.ps1 are supported by the CLI team and .Net core as an SDK acquisition method. More to the point, https://dot.net/v1/dotnet-install.sh has an 'architecture' parameter expressly for the situation you have described. Please try t

[2019-05-31 14:44] directhex commented on #11437
The `--architecture` override works, but the auto-detection should still be corrected.

`dotnet: ELF 32-bit LSB executable, ARM, EABI5 version 1 (SYSV), dynamically linked, interpreter /lib/ld-linux-armhf.so.3, for GNU/Linux 2.6.32, BuildID[sha1]=e152ba87e063bbbf82e6dd5a94959d433b1661e1, stripped`

Also, I don't think it can be passed through if installing via the Arcade eng/common/tools.sh wrappe

[2019-05-31 15:13] decriptor opened #11456 "Make error messages a bit more helpful"
A specific example is the `-g` or `--global` argument. Instead of just saying `Unrecognized command or argument '-g'` maybe state that `tool` doesn't have a `-g` argument.

§ {~\tmp}PS>dotnet tool list
Please specify either the global option (--global) or the tool path option (--tool-path).                             Usage: dotnet tool list [options]

[2019-05-31 15:16] decriptor commented on #11456
It seems like it'd be nice if `-g` in particular could be applied at the beginning and "inherited" throughout. In other words, if I do something like `dotnet -g` then anything that follows will be applied at the `global` level

[2019-05-31 15:41] Thraka opened #11457 "Improve dotnet pack command to create templates"
The current CLI requires users to install and use `nuget pack`  to create a template for the dotnet SDK. This incurs a penalty on non-Windows computers where the user will have to install Mono and get nuget.exe running just to create templates.

The existing `dotnet pack` command should support targeting a nuspec (or something.props?) and look for the settings that `nuget pack` does and output a t

[2019-05-31 17:36] #11410 closed

[2019-05-31 18:37] GuillaumeJUST commented on #6561
Same problem for me with MacOs and Rider.

To resolve :
 - Close Rider
 - Remove path with ** into Yotha.Website.csproj added by Rider
 - Remove `bin`and obj`folder (if you don't close rider they are automatically regenerated)
 - Open Visual Studio for Mac
 - Clean and Build your project
 - You can reopen Rider

I don't try to rebuild with rider

[2019-05-31 21:33] ikeough commented on #9321
Possibly. I didn't realize that the global tools were installed in the same location as dotnet. And, I think that would only work on *nix right?

[2019-05-31 21:48] wli3 commented on #9321
In this case manually append `$HOME/.dotnet/tools` to PATH like adding it to .bashrc is appropriate. Since in the end, unix expect the user to maintain the PATH, and it has constrain for what we can automatically do

[2019-05-31 22:16] nguerrera commented on #11441
https://github.com/dotnet/toolset/pull/1088 is out to remove System.Data.SqlClient from source build.

[2019-05-31 22:23] nguerrera commented on #11441
https://github.com/dotnet/core-sdk/pull/2232 is out to remove the DotnetHostResolver packages from core-sdk

[2019-05-31 22:24] nguerrera commented on #11441
cli-migrate is being removed from the product. cc @livarcocc

[2019-05-31 22:27] nguerrera commented on #11441
So status is:

* **cli**: Looks like false positive. @dseefeld can you look at https://github.com/dotnet/cli/issues/11441#issuecomment-497101652

* **cli-migrate**: Doesn't matter since it will be removed from product

* **toolset* in PR: dotnet/toolset#1088 i

* **core-sdk** in PR: dotnet/core-sdk#2232 i

[2019-05-31 22:31] nguerrera commented on #11441
Moving to individual issues per instructions. This one now tracks only the cli issue that I think is a false positive.

[2019-05-31 22:32] nguerrera opened #11458 "Source-Build: Eliminate Microsoft.DotNet.Cli.Utils prebuilt from cli-migrate"
cli-migrate   Prebuilts: |   |   |
-- | -- | --
**Package** | **Version** | **Status**
Microsoft.DotNet.Cli.Utils | 1.0.1 | Use Source Built Version 

[2019-05-31 22:32] nguerrera commented on #11458
This will be resolved by removing cli-migrate from the product. :)

[2019-05-31 22:32] nguerrera commented on #11458
cc @livarcocc @dseefeld

[2019-05-31 22:33] nguerrera opened #11459 "Source-Build: Eliminate DotNetHostResolver from core-sdk"
Core-sdk   Prebuilts: |   |   |
-- | -- | --
**Package** | **Version** | **Status** |   |  
runtime.win-x64.Microsoft.NETCore.DotNetHostResolver | 3.0.0-preview4-27615-11 | Exclude from Source-build  
runtime.win-x86.Microsoft.NETCore.DotNetHostResolver | 3.0.0-preview4-27615-11 | Exclude from Source-build  

[2019-05-31 22:36] nguerrera opened #11460 "Source-Build: Remove System.Data.SqlClient prebuilt from toolset"
Package | Version | Status
 -- | -- | --
System.Data.SqlClient |	4.3.0 | |

[2019-06-02 17:53] Banyc commented on #6237
Try modifying the value of `TargetFramework` in file `*.csproj` into like `net48` then you got an EXE that can be run under .NET Framework 4.8

learn more here <https://docs.microsoft.com/en-us/dotnet/standard/frameworks>

[2019-06-03 06:08] waratah commented on #6561
Side note:   I got this error due to stackify creating logs on Mac.   Removing these allowed the build and run to complete without issue:

c:\temp\stackifymiddleware_settings.log
it also created c:\temp directory

The moral to this is to look for c: in your application directory.   I had to close VS before the log was created.  Researching stackify issue now...

[2019-06-03 17:28] peterhuene commented on #11088
I haven't seen this fail in a while and I haven't disabled the test.  Perhaps the failing CI didn't have the fix at the time.  I'm going to close for now but keep my eyes out.

[2019-06-03 19:31] GeorgDangl commented on #9397
FYI, this is happening for me on Ubuntu 18.04 and with dotnet 2.2.300. Passing `-nodereuse:false` to `dotnet test` solves this problem for me.

    /usr/bin/dotnet test --test-adapter-path . --framework netcoreapp2.2 --logger xunit;LogFilePath=/home/.../output/testresults-linux.xml -nodereuse:false

[2019-06-04 16:14] ardove opened #11478 "dotnet tool install/uninstall should support post-install/uninstall action"
In dotnet templates, you can run a set of specific, standardized actions or even a custom script after a template is executed. It'd be great if the dotnet tool install supported something similar as part of the distributed nuget package.

A good use case for this is that we have a dotnet global tool which uses a specific set of templates. It supports a command to install/update the templates, but

[2019-06-04 17:03] ardove opened #11479 "dotnet global tool exe product version should match product version of dll"
## Steps to reproduce
* Create a dotnet global tool
* In the assembly properties of the csproj specify the version to be 0.0.1
* Install the global tool on a windows host
* Inspect the executable generated by installation in C:\Users\<userName>\.dotnet\tools

## Expected  behavior
Product version should be 0.0.1 and file version should be 0.0.1.0

## Actual behavior
Product version and file versio

[2019-06-04 17:20] nguerrera commented on #10989
Duplicate of dotnet/sdk#2322

[2019-06-04 17:20] nguerrera commented on #10989
This was fixed by dotnet/sdk#3268

[2019-06-04 17:20] #10989 closed

[2019-06-04 17:23] wli3 commented on #11387
Hi @atifaziz?

[2019-06-04 17:24] wli3 commented on #11386
close due to now enough detail

[2019-06-04 17:24] #11386 closed

[2019-06-04 17:34] nguerrera commented on #11444
Draft PR here: https://github.com/dotnet/toolset/pull/1127

Waiting for the change to remove dotnet-migrate, which will just eliminate roslyn altogether from this root dir and deps.

[2019-06-04 17:37] nguerrera commented on #11444
There is still one more fx file in root dir, but not in deps that is not up-to-date: System.Xml.XPath.XmlDocument. It comes in via insertion from vstest. I will file a bug on them. They should retarget past netcoreapp2.1 from netcoreapp1.0 and this should go away.

[2019-06-04 17:49] Thraka commented on #11457
@KathleenDollard Per your request, I've filed this issue.

[2019-06-04 17:53] nguerrera commented on #11444
https://github.com/microsoft/vstest/issues/2043

[2019-06-04 18:19] spartanroger opened #11480 "Support custom scripts"
My project has some micro-services written with DotNet Core C# and we have some scripts that we use very often and are very long to remind, so we have to put them in a README.MD file and copy every time, which isn't very productive.

Example:

[code]

And would be very nice if we could just have a JSON file in the project root folder and add some shortcuts. Just like npm-scripts (but without insta

[2019-06-04 18:34] slishnevsky commented on #9705
I think its unrelated to extensions or dev tools you use. You may want to use Sublime Text or even Notepad to write C# .NET Core code, in this case it has nothing to do with Omnisharp extension, but rather with .NET Core Cli "dotnet new"

[2019-06-04 18:46] slishnevsky commented on #9905
I agree with the poster.
When you create a new project with Angular CLI "ng new my-app" it will add .gitignore to it.
When you create a new project in Visual Studio, it will add .gitignore to it.
When you create a new project with Dotnet CLI, it doesnt add .gitignore to it.
We all know how popular git these days, why not add this little feature so that developers dont waste time trying to find out

[2019-06-04 18:49] lukepuplett commented on #7543
For anyone stumbling on this today, I had this issue on build.

It was complaining of missing 2.2.5. It listed the installed frameworks which was indeed missing 2.2.5. So I installed the SDK which is 2.2.107 according to its MSI filename and that includes 2.2.5 of the runtime.

I don't get the version numbers.

I assume Testhost is a process and it wants to run on 2.2.5. Not sure which package the

[2019-06-04 19:36] #11460 closed

[2019-06-04 20:05] #11459 closed

[2019-06-04 22:46] nguerrera commented on #8959
Removing dotnet migrate.

[2019-06-04 22:46] #8959 closed

[2019-06-04 23:12] #11458 closed

[2019-06-04 23:12] livarcocc commented on #11480
cc @KathleenDollard

[2019-06-04 23:14] livarcocc commented on #11479
I don't believe this is something that we can do, unless you package your own executable. The executable for the global tool is generated on the fly when the global tool gets created.

cc @wli3 to confirm.

[2019-06-04 23:15] livarcocc commented on #11478
Isn't this something that you could do in your global tool itself, say, when it runs for the first time? We have no plans to add this kind of support to the install/uninstall gestures at this moment.

[2019-06-04 23:16] livarcocc commented on #11478
cc @wli3

[2019-06-04 23:17] livarcocc commented on #11457
I believe this issue should go into nuget/home.

[2019-06-04 23:18] livarcocc commented on #11456
@wli3

[2019-06-04 23:18] nguerrera commented on #11444
Migrate is gone: #11481 🎉

[2019-06-04 23:19] livarcocc commented on #11446
@tmeschter how can we surface this to the translation team?

[2019-06-04 23:20] livarcocc commented on #11443
I believe this is a translation issue. We should not have translated those keys.

cc @nguerrera to confirm this behavior.

cc @tmeschter in case this is something we need to fix in the translations.

[2019-06-04 23:28] nguerrera commented on #11444
Reopening to wait for a build with both #11481 and  dotnet/toolset#1127, and I will validate that the everything is lifted up or removed.

[2019-06-04 23:48] wli3 opened #11482 "ToolManifestEditor should catch FormatException"
https://github.com/dotnet/cli/blob/8ab442a668e63d902d03715b84f0764a92ee13eb/src/dotnet/ToolManifest/ToolManifestEditor.cs#L218-L223

The TryGetInt32Value API could throw FormatException if the JSON payload had "version" property with a non-int32 value (like double - e.g. 1.23 or (u)int64 - e.g. 4294967296).

[2019-06-04 23:54] Thraka commented on #11457
It seems this may be related to NuGet/Home#8018

[2019-06-04 23:56] ardove commented on #11478
Yeah, we can do install actions but not uninstall actions.

For the install case, It’d just be nice to not have to force our callers to run a separate command to make this happen.

As currently implemented, we have 2 commands — an “update” command and a “new” command. Update does the update/install of dependencies while the new command actually uses the dependencies. Forcing the new command to als

[2019-06-04 23:59] ardove commented on #11479
Well I’d imagine you would know what the entry point artifact is at build/pack time, so you’d need to store the metadata about product version in the produced nupkg at pack time so you could use it at runtime.

[2019-06-04 23:59] nguerrera commented on #11441
The fixes to the other issues are merged. This is the last one, and I'm waiting to understand as noted above.

[2019-06-05 00:21] netroby commented on #9905
@slishnevsky
Agree with you

[2019-06-05 02:39] #9949 closed

[2019-06-05 03:14] YunWeiaa opened #11483 "Hotkey conflict on the runtime installation wizard with Turkish"
## Steps to reproduce
1.Open the runtime installation (.NET core runtime-[3.0.0-preview6-27804-01](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdotnetcli.blob.core.windows.net%2Fdotnet%2FRuntime%2Frelease%2F3.0%2Fdotnet-runtime-latest-win-x64.exe&data=02%7C01%7Cv-yunwei%40microsoft.com%7C2074437f22144735d02208d6e9392843%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636952829055

[2019-06-05 06:56] atifaziz commented on #11387
@wli3 Result of running `dir "$env:HOME/.dotnet/tools/.store/dotnet-try"`:

[code]

Result of running `tree /f /a "$env:HOME/.dotnet/tools/.store/dotnet-try"`:

[code]

Thanks for looking into this.

[2019-06-05 07:33] yuki233 opened #11484 "Installation completed info should not be shown with Runtime installer when uninstallation is completed"
## Steps to reproduce
1. Install .NET core runtime-3.0.0-preview6-27804-01 with runtime installer
2. Uninstall it
3. Observe Uninstall Successfully Completed page

## Expected  behavior
1. It only shows the info for uninstall successfully completed.
Take  **.NET Core SDK installer** for example
![image](https://user-images.githubusercontent.com/1578239/58937977-7ba14c00-87a6-11e9-94c8-e7ca6c287c9d

[2019-06-05 08:47] LightVolk opened #11485 "Add solution folder argument to dotnet-sln show-folders"
Feature request:

If possible, can this fucntionality be added: list of solution folders?
Use case:

1. List of solution folders (dotnet sln show folders)
2. Add new project under on of this solution folder.  (dotnet sln add project)

It must be related to PR: [https://github.com/dotnet/cli/pull/11000](url)

[2019-06-05 11:06] marek-safar commented on #11437
@livarcocc is this something what will be addressed or we need to work on a workaround?

[2019-06-05 11:19] dazinator commented on #3474
I'm just after a command that I can run on an Ubuntu container to install the dotnet sdk, and then use a `dotnet` cli commands in the same script.. Nothing on the docs site so far works. For example using this example command from the docs in a DOCKERFILE doesn't seem to do that:

[code]

[2019-06-05 13:59] gfoidl commented on #3474
@dazinator the best way is to set the `-InstallDir` (see [doc](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script#description)) and add this direcotry to the `$PATH`.

As alternative create a symlink: `ln -s $installdir/dotnet /usr/local/bin`. Where `$installdir` is the given installation directory from above.

[2019-06-05 15:24] dazinator commented on #3474
@gfoidl I was hoping to use `apt-get` but there are a few things missing on the sdk 3.0 debian10 based docker image that prevent this from being straightforward.

Here is finally a working DOCKERFILE that shows the issues I had to overcome in order to apt-get dotnet core sdk 2.1 and build a Blazor client / server project. The issues were:

1. `sudo` is not installed.
2. `apt-get install -y dotnet-

[2019-06-05 15:46] directhex commented on #11437
My suspicion that this prevents use of Arcade is correct. The `InitializeDotNetCli` function does not pass through the architecture (you'd need to bypass it and call into InstallDotNetSdk directly, which opens another can of worms)

Rather than add workarounds to Arcade, I feel it should be fixed properly, here.

[2019-06-05 16:00] gfoidl commented on #3474
Aside: your dockerfile has too many layers. See [Best practices for writing Dockerfiles -- Minimize the number of layers](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#minimize-the-number-of-layers).

---

Try something like this:
[code]

So
[code]

[2019-06-05 16:30] dazinator commented on #3474
@gfoidl even though that seems to successfully install, it still yield a failure from razor during the build:

RAZORTAGHELPER : Failed to load hF�, error : libunwind.so.8: cannot open shared object file: No such file or directory [/src/Hub.Platform.Core/Hub.Platform.Core.csproj]
5 Warning(s)
1 Error(s)
Time Elapsed 00:00:24.97
The command '/bin/sh -c dotnet build --no-restore "Hub.Platform.Server.

[2019-06-05 16:31] dazinator commented on #3474
oh i'm guessing it's the `rm *` you've put at the end deleting stuff it shouldn't? I'll give a quick try without that.

[2019-06-05 16:34] gfoidl commented on #3474
The `rm *` is there to delete the downloaded `dotnet-install.sh`. But this can be specified -- i.e. without the wildcard, so it becomes `rm dotnet-install.sh` (I was just lazy).

[2019-06-05 16:59] Thraka opened #11490 "the -d parameter doesn't provide me with diagnostic information"
Any time I use the -d parameter I get a message about telemetry is turned on, but I get no error/warning/trace output in the console. I can't figure out why my nuget template package will not install with `dotnet -d new -i c:\path\to\nupkg`

## Steps to reproduce

Run a command with `dotnet -d` and no extra information is displayed.

## Expected  behavior

I get more debug output to understand wha

[2019-06-05 17:29] peterhuene commented on #10842
This issue was fixed with dotnet/sdk#3275.

[2019-06-05 17:29] #10842 closed

[2019-06-05 18:57] livarcocc commented on #11490
The -d option enables diagnostics for the command resolution of the CLI. Say, for project tools and global tools.

So, in a sense, it offers diagnostics for the core of the CLI itself. Beyond that, most commands use '-v, --verbosity` to mean the output level for that command.

In the particular case of dotnet new, I am not sure what is their diagnostics flag. cc @vijayrkn @seancpeters to provide m

[2019-06-05 18:59] livarcocc commented on #11479
Why do you need this feature? Perhaps understand your customer needs we can either provide you with an alternative (like I said, packaging your own exe would be one way to solve this and we can provide guidance) or we can better prioritize this work.

Right now, this is not something that I believe we would spend effort on.

[2019-06-05 19:09] seancpeters commented on #11490
For template installation issues, you could try either or both of `--trace:authoring` or `--trace:install`, like this:
`dotnet new -i c:\path\to\nupkg --trace:authoring --trace:install`
The output from these flags is not as robust as it could be, but you may find it useful.

If this doesn't help identify the install problem, I can work with you to figure it out.

[2019-06-05 19:15] Thraka commented on #11490
I tried both `--trace:authoring --trace:install` and each one individually and there is no difference in output.

@seancpeters can you ping me on MS Teams so we can chat? alias is adegeo

[2019-06-05 20:19] ardove commented on #11479
I don't need it, I was more reporting it from what I'd consider a correctness perspective.

[2019-06-05 21:03] Thraka commented on #11457
I'm closing this as I got it to run successfully. I'll be updating the documentation around this scenario.

[2019-06-05 21:03] #11457 closed

[2019-06-05 21:20] nguerrera commented on #11444
Confirmed fixed in 3.0.100-preview7-012271.

[2019-06-05 21:20] #11444 closed

[2019-06-05 22:07] peterhuene commented on #11443
I think this is coming from [dotnet/templating](https://github.com/dotnet/templating/blob/be2077ada1ac1864836cadd801b43d6ef4fdfb0d/src/Microsoft.TemplateEngine.Cli/LocalizableStrings.resx#L396).

It does appear to be translated, as you can see [from this example](https://github.com/dotnet/templating/blob/c9756317f4b3e42f7788f3ad5462155b36bb1e4d/localize/PLK/Microsoft.TemplateEngine.Cli.resources.d

[2019-06-05 22:20] tmeschter commented on #11443
Either the resources need to be set up in such a way that the options are the same in every language, or you need some way to keep the prompt text and possible input options synced up within a given language. That could be as simple as copious notes to the loc team.

[2019-06-05 22:30] Shoh commented on #9482
I don't understand why a flag can't be added, like it was suggested in #11259, and just be done with it?  It's not removing or changing any default behavior (so no users will be surprised) and it will satisfy the needs of all those that want the option to not throw an error when installing a tool that has already been installed.  Using `dotnet update` is NOT a proper solution for it.  What if I do

[2019-06-05 23:42] wli3 commented on #11479
It may not be impossible to do it. During the install time we could try to copy such information from the entry point dll. Although i am not sure that is the right thing since it is still not determined by the producer. To be more "correct", producer could prepackage the shim in the nupkg following [this doc](https://github.com/dotnet/cli/blob/master/Documentation/general/signing-global-tool-packa

[2019-06-05 23:55] wli3 commented on #9482
@Shoh i hope to understand your scenario better. You do not want to update to the latest version, but if according to your suggestion, with the new flag, the dotnet install will still install the latest version.

We added "--version" option to dotnet tool update (in 3.0.100 preview). If you want to pin to an older version, will always run "dotnet tool update mytool --version PINNED_VERSION" works?

[2019-06-06 00:03] wli3 opened #11494 "A new option to allow dotnet tool install should return exit code 0 if tool is already installed"
Continue of https://github.com/dotnet/cli/issues/11259 to make the topic more specific. Even thought "dotnet update" with "--version" could solve the similar issue, but it is hard to discover.

[2019-06-06 00:03] wli3 commented on #9482
I created https://github.com/dotnet/cli/issues/11494 to discuss this specific option

[2019-06-06 00:06] wli3 commented on #11494
@KathleenDollard @natemcmaster @Shoh

thoughts on having different command to do similar work?
and will adding a flag actually solve the discoverability issue?
what will the flag be called? `--skip-if-installed`?

[2019-06-06 00:13] dsplaisted commented on #10536
The last part of this has been implemented with https://github.com/dotnet/sdk/pull/3304

[2019-06-06 00:13] #10536 closed

[2019-06-06 00:14] wli3 commented on #11494
relate https://github.com/dotnet/cli/issues/11259

[2019-06-06 00:46] cottsak commented on #11494
A *new option*!!? This should be the default behaviour.

Everyone back to https://github.com/dotnet/cli/issues/9482 please.

[2019-06-06 00:51] wli3 commented on #11494
That would be a breaking change. We would need be to be more careful about it

[2019-06-06 05:16] natemcmaster commented on #11494
Who does it break and how?

[2019-06-06 05:19] Shoh commented on #9482
My use case (and I'm sure for many others) is for CI scripts.  I should be able to put `dotnet tool install (inserttoolhere)` and not worry about it failing on subsequent builds.  IMO, it doesn't feel right to use `update` when you're actually looking to just install a specific version.

Since the current behavior is to fail with exit code 1 when a tool is already installed, IMO, the safest soluti

[2019-06-06 05:32] Shoh commented on #9482
I will say that I agree with the others though, that the current behavior is not _normal_ behavior and "gracefully failing" (i.e. exit with code 0 if already installed) should be the default behavior.  If anything, the current behavior should be "opted" in, if a user wants it.  i.e. something like `dotnet tool install sometool --error-if-installed`

I was just providing an option to satisfy the ne

[2019-06-06 06:45] forki opened #11499 "Allow dotnet commands to bypass the global.json version check"
Sometimes users or more importantly CI servers don't have the correct dotnet SDK installed.
We wrote install scripts that would take care of installing the correct SDK version during the build. Unfortunately even `dotnet tool` requires to have exactly the specified version available. So we have chicken and egg situation. We can't download the tool that would fix the SDK version conflict since the

[2019-06-06 06:50] matthid commented on #11499
I haven't tested it but I'd say `dotnet nuget` probably fails as well. Therefore only `nuget.exe` is an option.

Regarding the cli option: I'd suggest `--ignore-global-json` or something like that. And I'd suggest this option to be available for all commands (not just `install`).

[2019-06-06 06:54] forki commented on #11499
even worse:

`A compatible SDK version for global.json version: [2.2.300] from [D:\...\global.json] was not found
Did you mean to run dotnet SDK commands? Please install dotnet SDK from:
  https://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409`

you can't even get the version of what would be available.

[2019-06-06 09:41] bishal-pdMSFT commented on #11437
@johnbeisner @livarcocc yes, you are right. 'get-os-distro.sh' is a partial copy which uses install scripts as a reference.

This will require all tools depending on the install scripts to expose additional parameter for architecture. Please note that the default behavior still will be different for windows and linux. dotnet-install.ps1 installs as per process architecture and dotnet-install.sh in

[2019-06-06 13:19] seesharper opened #11504 "dotnet restore using RID causes "empty" project.assets.json file (netcoreapp3.0)"
First a little bit of background.
I am one of the collaborators over at the [dotnet-script](https://github.com/filipw/dotnet-script) repo.

We use `dotnet restore` as a way of getting a list of dependencies we need to execute a script.

So we basically generate a csproj file behind the scenes that looks like this.

[code]

Then we do a runtime specific restore

[code]

This generates the `project.

[2019-06-06 15:53] dseefeld commented on #11441
@nguerrera I investigated this one.  In source-build, we have a patch that is pinning the version to 0.1.1.  I added a PR to remove this patch: https://github.com/dotnet/source-build/pull/1058

[2019-06-06 16:09] nguerrera commented on #11441
Aha! Thanks!

[2019-06-06 18:37] nguerrera commented on #11441
Fixed by dotnet/source-build#1058

[2019-06-06 18:37] #11441 closed

[2019-06-06 19:21] didaskein commented on #2802
You could also check my note : https://github.com/Microsoft/azure-pipelines-tasks/issues/6625  (i have an issue with the /obj folder, the dll &json arein the bin folder)

[2019-06-07 00:25] KathleenDollard commented on #11494
The break would be that someone is running a script that depends on 1 as the return value.

I'm not sure we got this right, but will need a bit of convincing that no one is relying on the 1 return value.

[2019-06-07 01:20] KathleenDollard commented on #11480
Agree that this is a good backlog item.

[2019-06-07 14:41] PinpointTownes commented on #11378
I'm hitting this error in both VS and the latest CLI (3.0.100-preview7-012287). Is there a known workaround?

[2019-06-07 16:54] livarcocc commented on #11499
cc @KathleenDollard

[2019-06-07 16:56] livarcocc commented on #11504
This is by design. We have moved the platform out of the assets file.

cc @dsplaisted who can point to documentation and perhaps some alternatives.

[2019-06-07 16:57] livarcocc commented on #11490
@seancpeters @Thraka have you folks figured out the issue here?

[2019-06-07 17:48] dsplaisted commented on #11378
@PinpointTownes Do you get an error if you close VS, delete your "bin" and "obj" folders, and then run `dotnet build` from the command line?

[2019-06-07 17:57] Fabi commented on #11378
It works fine on command line. It's just a Visual Studio issue atm.

[2019-06-07 17:59] PinpointTownes commented on #11378
@dsplaisted thanks for your reply. It indeed works when do you that (it's the trick I actually used to temporarily unblock me), but as soon as I reopen VS and try to run the app, the error immediately reappears 😄

I guess I'll just have to wait for the next preview to ship. But in the meantime, the experience will be really terrible. I suppose there's no trivial way to work around that in VS, righ

[2019-06-07 18:19] dsplaisted commented on #11378
As a workaround, you can put the following in your .NET Core project which references .NET Standard 2.1:

[code]

[2019-06-07 18:40] PinpointTownes commented on #11378
Brilliant, it works like a charm. Thanks! 👏

[2019-06-07 18:50] dsplaisted commented on #11504
Reference assemblies for .NET Core 3.0 are now provided via targeting packs, and won't show up in the assets file.

One thing you can do is set the `PreserveCompilationContext` property in the project to True.  Then the information about what assemblies are referenced will be in the compile sections of the deps.json file in the output folder.

Another possibility would be to add the following targ

[2019-06-08 08:30] peterblazejewicz commented on #11480
It looks like `commands` and `scripts` feature from defunct `project.json`:
https://github.com/aspnet/AspNetCore/wiki/Project.json-file

[2019-06-08 15:28] spartanroger commented on #11480
It's a little bit similar. But the main idea is to be flexible, allowing to create new scripts alias. Also, I believe that the root project folder (.sln level) would be better than the project level. Or, in the best scenario, support both. I would be happy to help, just need to be sure of the path to follow.

[2019-06-08 18:11] hoyho opened #11512 "dotnet restore not resolving content/contentfiles"
## Steps to reproduce
1. create a nuget pack by running `dotnet pack xxx.csproj`
here is the xxx.csproj
[code]
// successful to generate a nupkg with desired content files
unzip the package
[code]
It also have a new nuspec file:

`❯ cat WegouSharp.nuspec.txt`

[code]

2. upload generated nupack file to nuget
https://www.nuget.org/packages/WegouSharp/0.0.2

3. add package an another project
[code]

[2019-06-09 17:32] wli3 opened #11515 "Change all aspnet feed"
the feed is out of date and aspnet no longer publish to it
https://github.com/dotnet/sdk/blob/4005bb6a11e492e03f784b5bde9ed5e438224374/src/Tests/Microsoft.NET.TestFramework/NuGetConfigWriter.cs#L13

This is the update to date list
https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md

[2019-06-10 17:38] #10131 closed

[2019-06-10 17:38] #10274 closed

[2019-06-10 17:59] peterhuene commented on #9425
@davkean thanks for investigating from the project system side; that answers the question as to why /fullpaths wasn't in the build log, but the full paths were still showing up with the legacy project system.

Personally, I think VS should show full paths for consistent behavior.  For the CLI UX, I think relative path from project file is fine since brevity is desired.

Do we want to move this iss

[2019-06-10 19:34] Thraka commented on #11490
I think this can be closed. I got my issue solved that led me to looking at diagnostic stuff.

However, I think `dotnet` needs a better experience around enabling debug output so people know what is going on while running commands. It doesn't seem that this experience really exists currently? Nor do commands implement this the same. Sometimes it's `--trace` and sometimes it's `-v` but this basic c

[2019-06-10 19:36] crummel opened #11518 "Source-build patch removal for CLI"
Source-build has some patches that we are currently applying to your repo.  This issue tracks removing the patches.  These patches can be found at https://github.com/dotnet/source-build/tree/release/3.0/patches/cli.

Patches that have the responsibility "Repo" and the Disposition "Incorporate" are patches that we believe are valid source-build fixes that should be moved into your repo.  Please let

[2019-06-10 19:36] jjxtra opened #11519 "Cannot publish self contained of an exe that references another exe project"
## Steps to reproduce
Create two csproj, both exe console application
Have one csproj reference the other
Attempt to: dotnet publish -r linux-64 --self-contained -o ./publish
You will get a runtime identifier error, even though -r is passed
Now set a <RuntimeIdentifier> to the referenced exe project in the csproj to 'win-x86'.
Now run the dotnet publish command from above again. It works.

Seems l

[2019-06-10 19:37] Spongman commented on #9425
But what about when building a solution form the cli? Project-relative is insufficient then.

[2019-06-10 20:18] peterhuene commented on #9425
Ideally the compiler would spit out CWD-relative paths as most terminals that support clicking on file paths would support that.

It's been this way in the CLI for quite some time (perhaps inception?), so I think there would have to be significant demand from the community to make this the default.  Plus, there's opt-in functionality to show the full paths today.

From VS, it makes complete sense

[2019-06-10 20:21] crummel opened #11520 "CLI should not use stage0 SDK for reference assemblies"
CLI currently uses the stage0 SDK in its build for reference assemblies.  In source-build, CoreFX is always built before CLI, so CLI can use up-to-date reference assemblies from there instead.

cc @dseefeld

[2019-06-10 20:30] seesharper commented on #11504
@dseefeld
Thanks a lot for valuable information.

Actually the `RecordReferencePaths` looks very promising as it happens when we do the restore.
Can we do something similar for the runtime deps

Excerpt from `project.assets.json` when target framework is `netcoreapp2.1`

[code]

[2019-06-10 20:35] rainersigwald commented on #9425
The compiler will ~always see CWD as the project directory, so that wouldn't help. I'd lean toward "just always use the full path" but I agree that the existing longstanding behavior shouldn't be changed on a whim. I also agree that VS should opt into full paths; it doesn't have to display them but it should know them.

[2019-06-10 21:00] dsplaisted commented on #10496
We decided to stay with a single version of the RID graph in the .NET Core SDK, and assume that we won't make breaking changes to it.  If we do need to make breaking changes in the future, then we could consider conditioning the graph on the target framework.

[2019-06-10 21:00] #10496 closed

[2019-06-10 23:45] davkean commented on #9425
Let's use this bug to decided this. If we do this for CLI, then VS just benefits.

[2019-06-10 23:55] StephenWeatherford opened #11521 "dotnet-install.cmd fails if install path contains a space"
## Steps to reproduce
On Windows, run this:
[code]

## Expected  behavior
Should install

## Actual behavior
Gives an error:
[code]

The path is correctly interpreted by the batch file, but PowerShell is getting a corrupted value for the $Archtecture parameter (`"Insiders\User\globalStorage\ms-vscode.sample-extension\.dotnet\2.2.0"`)

## Environment data
`dotnet --info` output:

.NET Core SDK (ref

[2019-06-11 00:04] peterhuene commented on #9425
@KathleenDollard @livarcocc do you have any input to this issue regarding defaulting the SDK to show full paths in csc error messages?

[2019-06-11 00:06] StephenWeatherford commented on #11521
Note: Works if you use single quotes instead of double quotes in the call to dotnet-install.cmd

[2019-06-11 00:06] davkean commented on #9425
Think about build scenarios in AzureDevOps, you'd probably want paths in build errors to be clickable too? I wonder if that works today.

[2019-06-11 00:10] peterhuene commented on #9425
The mechanism is there to enable it currently for AzDO, so I would rather focus on the UX for the CLI first and foremost since that's where the defaulting decision would impact the most, I feel.

[2019-06-11 00:34] peterhuene opened #11522 "Review global.json design document."
Issue to track the review of the proposed changes to global.json for SDK versioning.

[2019-06-11 00:34] peterhuene opened #11523 "Improvements to global.json."
This epic tracks the work for improving the SDK versioning in global.json.

[2019-06-11 02:47] friedrich-brunzema opened #11524 "dotnet publish -f netcoreapp2.2 mysolution.sln should publish netcoreapp2.2 targets in solution but not generate errors for .netstandard2.2 projects in solution"
## Steps to reproduce
1. Create 3 projects
   - dotnet new classlib
   - dotnet new nunit
   - dotnet new console
2. Link all 3 projects into a .sln file (t.sln)
3. Both nunit and console project reference classlib as project reference
4. run: dotnet publish -f netcoreapp2.2 t.sln

## Expected  behavior
No errors, Netcore projects (nunit, console) publish to the publish folder for both projects.

[2019-06-11 05:15] JamesNK commented on #11378
Is there an issue to track fixing the new bug?

Is it safe to start publishing NuGet packages with netstandard2.1 targets?

[2019-06-11 16:01] livarcocc commented on #11378
This should be working on the latest version of VS. Installing it now to try it out and will report back.

[2019-06-11 16:31] livarcocc commented on #11378
This is working using the latest VS build and the latest preview6 CLI.

[2019-06-11 18:17] peterhuene commented on #10908
Merged with #11493.

[2019-06-11 18:17] #10908 closed

[2019-06-11 19:17] daholste opened #11530 "Telemetry Error"
Hey Dotnet CLI,

To build the ML.NET CLI, we forked the telemetry portion of this repo. When @justinormont was executing this code on a Mac laptop, during one run, the following exception occurred:

[code]

Out of four runs today (and many in the past) on the Mac of the same code, this only happened one time.

Any thoughts on what the issue could be?

[2019-06-11 19:17] daholste opened #11531 "Telemetry Exception in EnumerateInterfaceAddresses"
Hey .NET CLI,

To build the ML.NET CLI, we forked the telemetry portion of this repo. When @justinormont was executing this code on a Mac, during one run, the following exception occurred:

[code]

Out of four runs today (and many in the past) on the Mac of the same code, this only happened one time.

Any thoughts on what the issue could be?

[2019-06-11 19:31] daholste commented on #11531
I also filed the upper portion of this stack trace in the .NET Core CLR repo https://github.com/dotnet/coreclr/issues/25091

[2019-06-11 19:37] daholste commented on #11531
Looks like this is known -- https://github.com/dotnet/coreclr/issues/25091#issuecomment-500990375

[2019-06-11 19:37] #11531 closed

[2019-06-11 19:39] peterhuene commented on #11530
Hi @daholste:

It looks like #11531 was an accidental dupe of this one, which was now closed as a dupe of a CoreFX issue.  I am going to close this issue as well.  Please reopen if there's something I'm missing.  Thanks!

[2019-06-11 19:39] #11530 closed

[2019-06-11 20:21] CodeSwimBikeRunner opened #11533 "Request to Make Self Contained Deployments Smaller"
## Steps to reproduce
1. Create a HelloWorld Console app with `dotnet new console`
2. Run `dotnet publish -o output -c Release -r linux-x64 --self-contained`
3. Look in the output folder and see libraries that are not necessary to running the app

## Expected  behavior
.net core runtime with only the deps of the project needed to run the executable.

## Actual behavior
Fluff :)

## Environment dat

[2019-06-12 06:44] forki commented on #11499
@KathleenDollard @livarcocc is there some official recommendations on if people should use the global.json at all?

[2019-06-12 06:53] Cosebdd commented on #10669
@peterhuene I can fix that. Can you assign it to me?

[2019-06-12 12:17] Tragetaschen commented on #1437
I would love cross-platform crossgen: I'm developing on Windows x64 and deploy with `-r linux-arm`. By using WSL, I was able to build an R2R version, which reduced startup time from 23s to 17s. However, this pretty much messed up my restore state and doesn't work with VS being open

[2019-06-12 14:52] peterhuene commented on #10669
@Cosebdd thanks for the offer to help! I've added you as an assignee.  I'm here to offer any guidance if you run into problems.

[2019-06-12 15:42] pcgeek86 commented on #2544
Still an issue in June 2019

[2019-06-12 19:27] livarcocc commented on #11533
Starting with Preview6 of the 3.0.100 SDK you can use the Linker to trim assemblies from the output of your app.

We are giving out details in a blog post for preview6 soon, but here is an piece of it that might be helpful to you. Just to be sure, this is only supported starting in Preview6.

## Assembly linking

The .NET core 3.0 SDK comes with a tool that can reduce the size of apps by analyzing

[2019-06-12 19:27] #11533 closed

[2019-06-13 03:36] jhoward321 opened #11542 "System.ComponentModel.Win32Exception when using ef tools"
## Steps to reproduce
Run any dotnet ef command inside a working repo. I'm using the 2.2.107 sdk from the https://copr.fedorainfracloud.org/coprs/g/dotnet-sig/dotnet/ repo. Unfortunately there is not a newer sdk available.

## Expected  behavior
Show existing migrations

## Actual behavior
[code]

## Environment data
[code]

[2019-06-13 04:39] leecow opened #11543 "PublishSingleFile with RuntimeIdentifiers fail to publish"
@johnlarfour commented on [Tue Jun 11 2019](https://github.com/dotnet/core/issues/2851)

`linux/amd64 dotnet 3.0.100-preview5-011568`

Step to reproduce:
[code]
Replace csproj with:
[code]
[code]

Error:
[code]

[2019-06-13 04:46] ravarnamsft opened #11544 "dotnet publish results in wrong runtimeTarget in dependencies.json"
## Steps to reproduce
Create a .Net core project targeting 3.0 (having installed 3.0 preview 5 SDK)
Add runtime identifiers linux-64 and win-64 to the project file.
In powershell,
run dotnet publish -c release -o outputFolder --runtime win-x64 myProject.csproj
delete the "outputFolder"
run dotnet publish -c release -o outputFolder --runtime linux-x64 myProject.csproj

The deps.json file in the out

[2019-06-13 09:53] YunWeiaa opened #11545 "Install global tool failed with System.TypeLoadException: Could not load type 'System.Text.Json.Serialization.JsonSerializer' from assembly 'System.Text.Json"
## Steps to reproduce
Require: machine also install netcoreapp2.1 runtime since "dotnetsay" is targeting 2.1. This should not be required when netcoreapp3.0 is released and dotnetsay is updated
1. Create empty directory
2. not yet implemented Run dotnet new tool-manifest
a. In the meantime copy the following and create file called dotnet-tools.json

{
"version": 1,
"isRoot": true,
"tools": {}
}

3

[2019-06-13 14:13] RheaAyase commented on #11542
2.1.507 and 2.2.107 are the latest up to date.
Looking into this with @aslicerh @omajid

[2019-06-13 14:47] omajid commented on #11542
The output of `dotnet ef -v migrations list ` would be nice to have.

[2019-06-13 16:50] wli3 commented on #11542
This issue was moved to aspnet/EntityFrameworkCore#16071

[2019-06-13 16:50] #11542 closed

[2019-06-13 16:51] wli3 commented on #11545
fixed in https://github.com/dotnet/cli/pull/11532 need sometime to flow to core-sdk

[2019-06-13 16:51] #11545 closed

[2019-06-13 16:53] livarcocc commented on #11543
You need to specify a single RuntimeIdentifier when publishing with Single File. The error message is correct and accurate in this case.

You can try to either edit your csproj to contain a single RuntimeIdentifier, like this
[code]
Or, you can pass the -r parameter to the dotnet publish command.

[2019-06-13 16:53] #11543 closed

[2019-06-13 17:17] livarcocc commented on #11544
Can you try this with the latest preview6 bits that were just released? I tried this scenario using 3.0.100-preview6-012264 and I could not reproduce this issue following the repro steps you provided.

[2019-06-13 19:06] jimbobbennett opened #11549 "dotnet tool install fails with a local source if offline"
## Steps to reproduce

Be offline
Install a tool using a local package with the --add-sources flag

## Expected  behavior

The CLI should check all sources for the tool and install it if it is found in any path, and ignore being offline unless no package is found. It should look in the add-sources path first and install from there, not caring that the nuget.org source is offline.

## Actual behavi

[2019-06-13 22:22] jjxtra commented on #7532
See https://github.com/dotnet/core/issues/2869

[2019-06-14 02:19] peterhuene commented on #11088
Just saw another failure here: https://dev.azure.com/dnceng/public/_build/results?buildId=221133&view=ms.vss-test-web.build-test-results-tab&runId=5439940&resultId=100032&paneView=debug

I will disable the test tomorrow and see if I can figure out why it's still flaky.  The timing issue should have been fixed.

[2019-06-14 03:05] peterhuene commented on #11088
And another: https://dev.azure.com/dnceng/public/_build/results?buildId=224742&view=ms.vss-test-web.build-test-results-tab&runId=5538498&resultId=100032&paneView=debug

[2019-06-14 04:09] livarcocc commented on #11549
Local tools uses NuGet behind the scenes to acquire packages. This is a behavior from NuGet and we do not want to add different semantics for local tools packages versus other kinds of packages.

cc @wli3 to confirm.

[2019-06-14 04:43] wli3 commented on #11549
Yes, fail by default for feed not reach is a nuget behavior. However, we also pass the flag to ignore failed feeds ` --ignore-failed-sources`

[2019-06-14 04:43] #11549 closed

[2019-06-14 15:05] enricoreich opened #11560 "Unable to restore packages on Ubuntu 18.04"
Hello,

I'm trying to get the latest 3.0 preview7 working on my Ubuntu 18.04 remote server using the latest tar.gz from [core-setup#daily-builds](https://github.com/dotnet/core-setup#daily-builds) for Linux x64.
The dotnet command is working but if I try to install new templates eg. for blazor, the restore process fires up but then -> nothing. The process stays in my process list:

![Screenshot_1]

[2019-06-14 16:12] livarcocc commented on #11560
Does restore of regular packages work? Is this an issue only when installing templates?

[2019-06-14 16:22] enricoreich commented on #11560
This happens even if I want to create a new project with `dotnet new webapp -n AspWebApp` or run `dotnet restore` on an existing project (created on Windows and copied over).

[2019-06-14 17:10] peterhuene commented on #11560
Do you get any additional output with `dotnet build -v:diag`?

[2019-06-14 17:28] enricoreich commented on #11560
@peterhuene Yes, but the process does not exit normally..it hangs and some threads are using 1-3% cpu.

[diag.txt](https://github.com/dotnet/cli/files/3291594/diag.txt)

[2019-06-14 17:32] livarcocc commented on #11560
@nkolev92 @rrelyea

[2019-06-14 17:59] ravarnamsft commented on #11544
Will do, note that this is not 100% repro, perhaps around 65 to 70% on preview-5

[2019-06-14 18:27] peterhuene opened #11564 "'Dotnet.exe publish' silently creates bad format for mis-matching architectures"
@jjxtra commented on [Thu Jun 13 2019](https://github.com/dotnet/core/issues/2869)

When using `dotnet.exe publish` for specific runtimes, say win-x86, if using the 64 bit dotnet.exe, this runs without error, but when running the result executable, a `BadImageFormatException `is thrown. Same with target win-x64 from 32 bit dotnet.exe

It should be an error to create a runtime with the wrong 32 bit

[2019-06-14 18:27] peterhuene commented on #11564
@jjxtra what version of the SDK are you using?

[2019-06-14 18:32] jjxtra commented on #11564
[code]

[2019-06-14 18:45] peterhuene commented on #11564
So with both a 64-bit and 32-bit `2.2.300` SDK, I get the expected behavior when publishing:

For `win-x86`:
[code]

For `win-x64`:
[code]

Would it be possible for you to determine which dll in your published application is of a mismatched format that would cause `BadImageFormatException` when loaded?

[2019-06-14 18:50] peterhuene commented on #11564
Also, does your project make use of the `PlatformTarget` property?

[2019-06-14 18:50] jjxtra commented on #11564
The .exe did look to be the correct architecture, so it must have been one of the other .dll files. I am using Microsoft.Data.Sqlite, perhaps the problem is there?

[2019-06-14 18:51] jjxtra commented on #11564
`<PlatformTarget>AnyCPU</PlatformTarget>`

[2019-06-14 19:03] peterhuene commented on #11564
From a 64-bit SDK publishing for `win-x86` (referencing `Microsoft.Data.Sqlite` version `2.2.4`):

[code]

Did the exception indicate which assembly (and its dependencies) to look at?

[2019-06-14 19:05] jjxtra commented on #11564
Unfortunately it just gave the exception and no other details, nothing in log files, console, stack trace or event viewer...

[2019-06-14 19:20] peterhuene commented on #11564
The SDK being x86 or x64 shouldn't impact this particular scenario since you're publishing for a specific RID and the host / runtime / native dependencies that are deployed with your application should match that RID.

I would need to figure out which of your dependencies is the wrong architecture when published.  It should be possible to use Visual Studio to debug the published application and ho

[2019-06-14 19:22] jjxtra commented on #11564
I'll send you an email

[2019-06-14 19:43] enricoreich commented on #11560
I have installed dotnet core sdk 2.2.300 as described in the [installation guide](https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/sdk-2.2.300) and everything works like intended.

[2019-06-14 20:19] brian-pickens-web commented on #11378
@livarcocc - Specifically which versions? I still get this error with the following versions:

NetCoreApp3.0: preview6-27804-01
Visual Studio: 16.1.3

[2019-06-14 20:50] #11185 closed

[2019-06-14 20:51] wli3 commented on #11185
closed via https://github.com/dotnet/cli/pull/11509

[2019-06-14 22:49] Fabi commented on #11378
You have to use the latest Visual Studio preview.

[2019-06-15 09:03] mallikarjunpatala opened #11566 "Cannot find project info.... This can indicate a missing project reference , C:\Program Files\dotnet\sdk\2.1.505\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.targets"
## Steps to reproduce
One PCL class is referencing another PCL classs

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2019-06-15 14:02] nguerrera commented on #11566
Can you provide full steps to reproduce the problem or a binary log: https://gist.github.com/dsplaisted/b256d7804672a6f6375476a5f5658b7b

When you say PCL, do you mean classic portable class library? That is not supported by .NET CLI and you would need to move to .NET Standard.

[2019-06-16 17:45] enricoreich commented on #11560
Today I tried build 3.0.100-preview7-012421 and noticed that the there is no `NuGetFallbackFolder` at `/opt/dotnet/sdk` (there I unpacked the tar.gz) and it is not created when I try to install (any) `dotnet new` templates.

[2019-06-17 11:28] enricoreich commented on #11560
I installed the sdk with the help of the dotnet-install.sh and and following command: `./dotnet-install.sh -Channel 3.0 --verbose`.
It downloads and installs 3.0.100-preview4-010988 and everything seems to work correctly. I can install templates, build projects and restore packages.

Using Channel master `./dotnet-install.sh -Channel master --verbose` gets me 3.0.100-preview7-012424 and all the is

[2019-06-17 12:45] DonkeyKongJr commented on #11494
If it's not possible to invert the current behaviour I am supporting the additional flag like `--skip-if-installed`.

[2019-06-17 15:16] jjxtra commented on #11564
Ok I've played for several hours and now cannot reproduce this. Feel free to close and I will post back if I find a reliable way to reproduce this.

[2019-06-17 17:06] vsccarl opened #11574 "‘Dotnet new‘ shows WPF template for VB only"
## Steps to reproduce
Using CLI:

1. Run dotnet new help
[code]

## Expected  behavior
Template for C# is included

## Actual behavior
![wpfVBonly](https://user-images.githubusercontent.com/12900364/59622778-5cc88100-90e7-11e9-9ed5-fe97f16c1056.jpg)

## Environment data
`dotnet --info` output:
CLI\SDK: 3.0.100-preview7-012422 (runtime-3.0.0-preview7-27816-02)

[2019-06-17 18:24] nkolev92 commented on #11560
From the logs it seems stuck in the msbuild part of restore, not the restore task itself.
I no context on similar issues.

[2019-06-17 18:34] livarcocc commented on #11574
@dsplaisted @peterhuene can one of you take a look?

[2019-06-17 18:58] vatsan-madhavan commented on #11574
Should this be moved to the WPF repo?

[2019-06-17 18:59] vatsan-madhavan commented on #11574
Could be related to https://github.com/dotnet/wpf/pull/946.

/cc @jmarolf

[2019-06-17 19:07] peterhuene commented on #11574
It does look related to that change.  All other template identities I've seen have been unique.

[2019-06-17 19:11] vatsan-madhavan commented on #11574
@jmarolf would you mind reverting https://github.com/dotnet/wpf/pull/946

[2019-06-17 20:12] peterhuene commented on #11574
It does look like the template engine stores the templates in the cache by identity, thus only one entry is made for WPF projects:

[code]

[2019-06-17 20:13] peterhuene commented on #11574
I'm going to move this to the WPF repo.

[2019-06-17 20:14] peterhuene commented on #11574
This issue was moved to dotnet/wpf#987

[2019-06-17 20:14] #11574 closed

[2019-06-17 20:45] enricoreich commented on #11560
Thanks @nkolev92 for looking into it.

I duno if this helps but I have created diag logs for preview4 (which is working) and preview7 (latest master, not working!) by creating a simple `dotnet new console` ConsoleApp with the corresponding sdk and run `dotnet build -v:diag` on each.
All SDKs were downloaded and installed via your `dotnet-install.sh` script.

3.0.100-preview4-010988: [diagPrev4.0.t

[2019-06-18 11:46] chrisbecke opened #11575 "dotnet publish recursivly publishes its own output"
## Steps to reproduce
create a new dotnet core application, and publish it multiple times using the -o option

[code]

## Expected  behavior
The publish folder should be unaltered on the 2nd call to publish

## Actual behavior
The publish folder contains a copy of the publish folder for each call to publish.

## Discussion
While the problem doesn't occur in the default (bin/) output location, this

[2019-06-18 14:38] katlimruiz commented on #10098
found it:

modifyOutputPath
Add project name to publish path | (Optional) If true, folders created by the publish command will have project file name prefixed to their folder names when output path is specified explicitly in arguments. This is useful if you want to publish multiple projects to the same folder. Default value: true

It should be set as false

[2019-06-18 15:11] daniefer opened #11578 "dotnet pack fails because command builds project into wrong target directory"
Using this simple repo: https://github.com/daniefer/dotnetcliissue
When the `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>` project attribute is specified and the project has not been built with `dotnet build` before hand, the build will target netcoreapp2.2 instead of the target framework specified with the `<TargetFramework>netstandard2.0</TargetFramework>` attribute.  When this happens

[2019-06-18 15:11] Jaygem opened #11579 "Feature Request : dotnet add file -lang [C#/F#] [MyClass/MyScript]"
Context :

adding a class file/script file to the project. I'm currently using Ionide for F# and a 3rd party extension of VsCode to add a C#. Else i'm forced to add the file manually and rewrite the boilerplate code (usings and namespaces)

Possible use :

C#
[code]

F#
[code]

[2019-06-18 16:36] basbossink opened #11580 "dotnet nuget push --no-symbols requires option value while documented as switch"
## Steps to reproduce

Run
[code]

## Expected  behavior
Packages successfully pushed to NuGet.

## Actual behavior
`dotnet nuget push` returns:
[code]
Changing the above command to:
[code]
gives the expected result.

## Environment data
`dotnet --info` output:
[code]

[2019-06-18 16:38] jjxtra commented on #11564
I believe this was a problem using latest .NET SDK with Visual Studio 2017. I had installed 2019 a while ago but uninstalled it. So I recently downgraded to the latest VS 2017 compatible .NET core SDK and that seems to have gotten things back in order.

[2019-06-18 17:08] livarcocc commented on #11580
This issue was moved to NuGet/Home#8241

[2019-06-18 17:08] #11580 closed

[2019-06-18 17:16] livarcocc commented on #11575
This is by design because of globbing. When globing content we can't distinguish the publish folder that was created by the publish operation from other folders in the application. So, it ends up being globed.

We exclude bin/obj from globbing, which is why if you use the regular publish folder, this does not happen.

You can edit the DefaultItemExcludes property to exclude your publish folder if

[2019-06-18 17:16] #11575 closed

[2019-06-18 17:17] livarcocc commented on #11579
cc @KathleenDollard

[2019-06-18 17:18] livarcocc commented on #11578
@wli3 can you take a look at this issue?

[2019-06-18 17:22] KathleenDollard commented on #11579
@Jaygem Have you explored custom templates? They would allow creation of the file. Since C# uses globbing, that should be sufficient to add it to the project. Does C# also use globbing?

You would access this via

[code]

Let me know if I misunderstand the request.

[2019-06-18 17:37] peterhuene commented on #11564
@jjxtra thanks for following up.  I also have had no luck reproducing this either.  If you run into the problem again, let me know and we'll try to figure out the steps to reproduce.  I appreciate your assistance in trying to diagnose the problem via email!

[2019-06-18 17:37] #11564 closed

[2019-06-18 17:40] Jaygem commented on #11579
I haven't yet explored custom templates, I'm not sure what is globbing.

To explain the use case :

In visual studio, if I want to add a class file

[2019-06-18 17:54] #11522 closed

[2019-06-18 18:00] peterhuene opened #11581 "Implement improvements for SDK resolution in global.json."
Tracking issue for implementing backwards-compatible improvements to global.json for .NET Core SDK resolution.

This feature will give users more flexibility in determining how SDKs are resolved by the command line tools.

Currently, a SDK version specified in `global.json` will always use the specified version or roll-forward to a compatible patch level if not found.

The improvement will allow u

[2019-06-18 19:10] ravarnamsft commented on #11544
I cannot repro this in Preview6. I am closing this issue. I will reopen if I encounter it again.

[2019-06-18 19:10] #11544 closed

[2019-06-18 21:38] nguerrera commented on #10405
Looks like the path forward here is: https://github.com/dotnet/core-setup/pull/6831#issuecomment-502876821

cc @jkoritzinsky @swaroop-sridhar @davidwrighton

[2019-06-19 00:10] KathleenDollard commented on #11579
Thanks for the clarification.

@peterhuene This sounds like a request for a template that is an empty class file. Would you like to mark this as a good first issue or move it to dotnet/template, or something else.

There might be more complexity, but it sounds like a variation of the global.json and other templates.

[2019-06-19 05:31] chrisbecke commented on #11575
And there I thought that I needed to explicitly *add* asset folders I wanted to have published to the project.

[2019-06-19 10:04] YunWeiaa opened #11585 "Current 3.0 Preview 7 SDK can't build projects targeting lower SDK versions in the 16.3 Release channel build."
## Steps to reproduce
1. Install 16.3.0 [29018.65.master]([Release Channel](https://vsdrop.corp.microsoft.com/file/v1/Products/DevDiv/VS/710819d747beda09ce59cbbbf69a82db4090fcab/258a92b4-1d34-4fee-88e3-fbb419f25336%3bchannels/internal/Release/bootstrappers/fixed/Enterprise/vs_Enterprise.exe))
2. Open an existing .NET Core 2.1/2.2 console application with reference to a .NET Standard class lib via

[2019-06-19 14:23] rcl4444 opened #11590 "some problem with dotnet publish"
## Steps to reproduce
I have a project,SplitPackage.Web.Host reference SplitPackage.Web.Core, SplitPackage.Web.Core  reference SplitPackage.Application.SplitPackage.Web.Host 's publish need SplitPackage.Application.xml and SplitPackage.Web.Core.xml in the SwaggerXml folder.
when I excuting command `dotnet publish` in dotnet sdk 2.1.505, it do well.when I upgrade to 2.2.300.The result is not as exp

[2019-06-19 17:37] richaverma1 commented on #11585
@YunWeiaa, where is the failure happening? when opening the project in VS? or when building the project? or when running the project? Also, do you have 2.1/2.2 checked in the installer?

[2019-06-19 20:29] chrisbecke commented on #11575
Ok, so heres a question:
Using an absolute path to publish to would break a CI/CD scenario where a server has multiple runners. So thats not a good idea.
Using a relative path via -o means you need to take steps to keep this folder clean between  publishes / excluded from publishing, but that violates the principal of least surprise as that introduces a hidden dependency between the CI/CD scripts

[2019-06-19 21:21] livarcocc commented on #11585
Also, do you have a global.json for your project?

[2019-06-19 21:21] livarcocc commented on #11585
Also, I imagine this is happening on @johnbeisner 's private bits only.

[2019-06-19 21:22] livarcocc commented on #11590
@vijayrkn I don't believe we do anything special for swagger in the base SDK. Is this something being done by the web sdk? Can you take a look?

[2019-06-19 22:32] vijayrkn commented on #11590
@rcl4444

Are these 2 files present under this folder?  does it work if you change it to always? Also does it work if it is changed to content?

[code]

[2019-06-20 06:57] YunWeiaa commented on #11585
@richaverma1 , the failure is happening when opening the project in VS. Yes, I have 2.1/2.2 checked in the installer.
![image](https://user-images.githubusercontent.com/33921754/59827582-af19d400-936b-11e9-814c-a8e7f1a0a926.png)

[2019-06-20 07:00] YunWeiaa commented on #11585
Thanks @livarcocc , today I try to dotnet new global.json for my project, it can work well.

[2019-06-20 11:25] sajidali2444 commented on #9321
its work for me thank you dear

[2019-06-20 11:32] Leon99 opened #11593 "dotnet should ignore .dcproj"
As far as I'm aware, `dotnet` has nothing to do with .dcproj, however, it considers a .dcproj to be an eligible project file. As a result, after adding docker compose support in VS, which creates a .dcproj next to the .sln, `dotnet build` no longer works when executed in the root folder reporting ` error MSB1011: Specify which project or solution file to use because this folder contains more than

[2019-06-20 11:37] baronfel commented on #9321
This is going to become a greater usability concern with the next version of macos, where bash is being replaced by zsh.

[2019-06-20 16:28] bigpod98 opened #11597 "was http CLI for API testing dropped."
There is still no HTTP CLI for testing of APIs that was shown in build 2018 by scott hunter and scot hanselman

[2019-06-20 17:24] livarcocc commented on #11597
This repo is not the right place to ask these questions.

I don't believe we have plans on shipping the tool as a inbox verb on the CLI at this point in time. I believe the plan is to ship it OOB as a global tool.

If you want more information about it, a better repo to ask questions is probably here: https://github.com/aspnet/httprepl/issues.

[2019-06-20 17:24] #11597 closed

[2019-06-20 17:39] livarcocc commented on #11593
Actually, dcproj is handleded by the CLI. We have an empty docker SDK so that when building through the command line that project is effectly skipped.

The issue here is as the message describes: you have two buildable things on the same folder and we can't disambiguate through them.

Also, the CLI should not have a list of project types that work for them because folks can extend the CLI in ways

[2019-06-20 17:39] #11593 closed

[2019-06-20 18:15] livarcocc commented on #10094
Moving it out of 3.0 as this is not something we are going to tackle for this release.

[2019-06-20 19:31] mwpowellhtx commented on #1385
I'm not sure I'm having a similar issue. If I should open a new issue, I'll do that, let me know. I have a custom CLI tool that I want to relay command line arguments to. Literally, something like this ``dotnet mytool --response "MyCommandLineTool.rsp"``. My CLI tool is a ``netcoreapp`` *Console Application* and knows how to process a ``response`` command line argument, among several others.

I ha

[2019-06-20 20:27] mwpowellhtx commented on #7692
@livarcocc Question, my ``.runtimeconfig.json`` file is being generated. That's great. However, it is not included with the usual project output, i.e. when I make a ``<ProjectReference/>``. Is that normal? How do I tell ``dotnet`` which *runtimeconfig(s)* to use otherwise?

[2019-06-20 20:31] mwpowellhtx commented on #7692
@livarcocc Maybe a separate issue, there are additional dependencies my CLI tool has in the form of ``<PackageReference/>``. These are not private assets, they should be traveling with the build output to projects otherwise making the ``<ProjectReference/>``. I can possibly workaround that by making the ``<PackgeReference/>`` in the destination project, but I think that should be unnecessary unles

[2019-06-20 21:54] mwpowellhtx commented on #9629
I am finding a similar behavior... ``dotnet mytool ...`` seems to be caching my ``dotnet-mytool.dll`` CLI tool somewhere along the way, because changes I am making in order to troubleshoot odd looking behavior. In context, my CLI tool exists, and is subsequently being consumed, as part of my project level build pipeline. That is by design. Is there a way to force a no-cache behavior from ``dotnet`

[2019-06-20 21:56] mwpowellhtx commented on #9629
@wli3 To be clear, for me at the moment, this has nothing to do with anything in the ``nuget`` pipeline. I am literally wanting my project to update, the dependent project to see that update, and to be able to invoke that project output, live and up to date during the development/build pipeline.

[2019-06-20 22:19] mwpowellhtx opened #11598 "Command line arguments not passing to my CLI tool"
Possibly also stuck in a ``dotnet`` cache somewhere.

## Steps to reproduce

[code]

Yes, I do have a ``dotnet-mytool.dll`` registered:

[code]

However, version(s) of my tool appear to be somehow cached, because I am not finding behavior consistent with my troubleshooting efforts. In the CLI tool itself:

[code]

Yet, when I am trying to integration test, I am finding the message ``The output dir

[2019-06-20 22:42] mwpowellhtx commented on #11598
Another thought occurred to me... ``The output directory must be specified.`` could actually be a *dotnet CLI* message itself, although I cannot confirm that. I do happen to have an internal message, but it is, ``An output directory must be specified.``. So I think this is more of a *dotnet CLI* message, possibly an *Microsoft Build* message concerning the ``<Exec/>``.

[2019-06-20 22:54] mwpowellhtx commented on #11598
Possibly identified an issue, ``prefercliruntime`` does not travel with the CLI tool when a project depends on the CLI tool project. I'll see about working around that.

[2019-06-20 22:56] SergeyKleyman opened #11599 "Where can I find the code that discovers Host version printed by dotnet --info"
I would like to log .NET Core runtime version and it seems there is no easy way to do it until [this change](https://github.com/dotnet/corefx/issues/35573) that is available only from .NET Core 3.0 Preview 4. On the other hand I see that `dotnet --info` does print

        Host (useful for support):
          Version: 2.1.8

So I was wondering if I can use the code in `dotnet` utility that discove

[2019-06-20 23:13] Leon99 commented on #11593
Thanks for thorough explanation @livarcocc. My understanding is that you either use VS SDKs from `dotnet`, which is weird given that they are supposed to be fully decoupled and independent products or you supply an "empty docker SDK" with dotnet SDK, which doesn't make much sense at all. Am I right here?

Now, this is clearly a case with two buildable things. No questions here.

I tried it and it

[2019-06-20 23:16] wli3 commented on #9629
could you give me a sample of "caching my dotnet-mytool.dll CLI tool somewhere along the way"?

And could you also have some pseudo command/code to help me understand your flow?

[2019-06-20 23:49] mwpowellhtx commented on #9629
@wli3 I think what I found was a tooling/packaging naming conflict. ``dotnet``, or ``nuget``, or ``msbuild``, not necessarily in that order, or one of its surrogates, appears to be jumping out to my ``packages\.tools`` directory and caching a package that happens to exist by the same name. That instead of using the project artifacts that I already furnished, which do happen to exist by the same na

[2019-06-20 23:57] mwpowellhtx commented on #9629
@wli3 In terms of build pipelines, everything flows naturally out of the CLI tool project, into integration assemblies, using the natural project references that exist already.

[2019-06-21 00:53] mwpowellhtx commented on #1385
@davidfowl I think I've run into what I think is most likely a naming conflict with an already existing nuget ``dotnet-mytool`` package. Not literally, but in pattern. It does already exist, I know that for a fact. What is a mystery to me is why ``dotnet``, ``nuget``, ``msbuild``, not necessarily in that order, or one of its surrogate(s), did not fall back on the project artifacts which were there

[2019-06-21 01:03] johnbeisner commented on #11585
@YunWeiaa
The 3.0 SDK insertion in the PR was at fault. I will update the SDK component versions and rebuild.

[2019-06-21 01:03] #11585 closed

[2019-06-21 01:45] plioi commented on #1385
@mwpowellhtx Since this is a 3 year old, closed, unrelated issue, you'll probably get more eyes and feedback by opening a new issue.

[2019-06-21 05:45] bishal-pdMSFT commented on #11437
@johnbeisner any comment on this thread? Are you planning to make changes to ensure that both Windows and Linux install for same architecture? This will ensure that downstream tools won't have to tke care of this.

[2019-06-21 09:04] vinnytheviking opened #11603 "Installing tool to custom tool-path fails when trying to access it"
I'm trying to install a custom tool during azure pipeline however if fails to pick up the tool. I've tried several options but they all fail at execution stage. I'm trying to use the tool-path because without it step 2 fails with cannot find the executable

## Steps to reproduce

[code]

[code]

## Expected  behavior
Tool should install and be executable

## Actual behavior

Output from Installati

[2019-06-21 10:14] yuki233 commented on #10686
Repro on CLI/SDK: 2.1.605(runtime- 2.1.12), not repro on CLI/SDK: 2.1.508(runtime- 2.1.12)

[2019-06-21 11:07] george-chakhidze commented on #5844
This one is also interesting: https://github.com/microsoft/msbuild/issues/1680#issuecomment-468710590

While `<BeforeBuild>` and `<AfterBuild>` do not work, oddly, these work fine:

[code]

[2019-06-21 12:43] chrisgilbert commented on #9482
This broke our makefile, which tries to install 4 tools so we can use them to do various things - lambda, cake, and unit test coverage for an AWS lambda project we have.

If any one of the tools are installed, it will exit with a failure, and not install the rest (that's the normal behaviour of make).

That's not expected behaviour to me - I went searching for a way around it, and found this issue

[2019-06-21 12:46] nguerrera commented on #10686
@yuki233 can you open a new bug and re-document the steps taken since the instructions were changed when this was last reported?

[2019-06-21 15:29] mwpowellhtx commented on #1385
@plioi [I did actually](/dotnet/cli/issues/11598), thanks...

[2019-06-21 15:33] mwpowellhtx commented on #11598
I discovered that ``msbuild``, ``dotnet``, ``nuget``, not necessarily in that order, or one of its surrogates, apparently `discovered´, so to speak, a CLI tool nuget package and tried to install it in my ``packages\.tools`` cache. While accurate, there is a naming conflict, I am not sure why the parts involved would not fall back on the project level artifacts that are right there for it to use. T

[2019-06-21 16:32] livarcocc commented on #11598
@mwpowellhtx Can you summarize what you are trying to do and how? Are you producing a global tool and installing it and then trying to invoke it through MSBuild?

[2019-06-21 16:37] livarcocc commented on #11599
I believe this is what you are looking for: https://github.com/dotnet/core-setup/blob/aec6c77a664561249ecf763a642c6429c7891cdd/src/corehost/cli/fxr/command_line.cpp#L282.

[2019-06-21 16:37] #11599 closed

[2019-06-21 16:38] livarcocc commented on #11603
@wli3 can you take a look?

[2019-06-21 16:41] mwpowellhtx commented on #11598
@livarcocc I'm not sure what you mean by ´global tool´. I am developing a CLI tool, yes. Invoked as ``dotnet mytool -- <mytool-args/>``, and so on; which means it will get published as ``dotnet-mytool.dll`` asset. At least that's how I understand the build pipeline. To facilitate that, I am using ``<ProjectReference/>`` in order to ensure that the tool, and, ostensibly, any package referenced asse

[2019-06-21 18:14] wli3 commented on #11603
` dotnet ~/tools/stryker` part should be the problem. You could either call it by `dotnet stryker`(need to be on PATH), or just directly call `~/tools/dotnet-stryker`

[2019-06-21 19:58] mwpowellhtx commented on #11598
@livarcocc Any ideas? Bare minimum, I think my my courses of action must include renaming my target CLI tool. That much is clear. But I would still like to get a better understanding as to how I might better persuade ``dotnet`` or any of its downstream surrogates to ´just work´ and do the right thing.

[2019-06-21 20:03] mwpowellhtx commented on #11598
@livarcocc Probably separate issue, but corollary to this is my CLI tool references are not traveling with the project when I make a ``<ProjectReference/>``. Perhaps that could also be clarified; is there something about CLI tools that prohibits them from carrying package references with them?

[2019-06-21 20:39] isaac2004 opened #11608 "Support for verbosity in dotnet new"
I came across this comment in a [closed issue](https://github.com/dotnet/cli/issues/9165#issuecomment-385222281) where this has been talked about, but I see value in having more verbose logging for `dotnet new`. Here is my scenario. I want to be able to create custom templates with configuration based on options (think --auth for dotnet new webapp). If something goes wrong in the project generatio

[2019-06-21 20:51] vinnytheviking commented on #11603
@livarcocc @wli3

This issue isn't closed

I tried

`~/tools/dotnet-stryker --project-file=${{ parameters.Stryker_Project }}.csproj `

and the result is

`/home/vsts/work/_temp/31079486-e89b-4a31-801f-5e4002bb8851.sh: line 2: /home/vsts/tools/dotnet-stryker: No such file or directory`

can you please explain the path option?

I'm trying the tool-path because initially i tried without and got the f

[2019-06-21 21:27] wli3 commented on #11603
--tool-path will install the tool in the specific location instead of installing it globally. It is recommended for CI, since this can avoid changing the machine state.

Let me keep keep checking why it failed

[2019-06-21 21:50] wli3 commented on #11603
Looks like `arguments: 'install dotnet-stryker --tool-path ~/tools'` will not expend `~` like normal shell would. I tried the following, it worked. I'll file an issue for why this won't work to Azdo. However, I think to use $(Agent.BuildDirectory) would be more reliable. Since you have the write access for sure

[code]

[2019-06-21 22:03] wli3 commented on #11603
filed here https://github.com/microsoft/azure-pipelines-tasks/issues/10731

[2019-06-21 22:03] #11603 closed

[2019-06-22 07:36] vinnytheviking commented on #11603
@wli3 Thank you for the response. I can confirm it's now working for me. Much appreciated

[2019-06-22 12:48] rcl4444 commented on #11590
@vijayrkn the two file is dynamic build with SplitPackage.Web.Core and SplitPackage.Application.I can't use the two file in SplitPackage.Web.Host for content.when I use publish in CI/CD.It can't copy in
the release directory.now i use `dotnet build && dotnet publish` replace `dotnet publish`.that do work.

[2019-06-22 13:14] vbfox commented on #11523
Is there any hope for the resolution of https://github.com/dotnet/core-setup/issues/679 to avoid the constant pain that is SDK versioning in the OSS world ?

[2019-06-22 17:35] mwpowellhtx commented on #11598
@livarcocc The bottom line for me, I think, is how these are rolled up in the deliverable build targets. Here are a few examples:

[code]

And:

[code]

Although another example I saw was this, which I'm not sure whether *dotnet* is taking the response file and passing the line separated arguments to *dotnet-mytool.dll*?

[code]

Which has a couple of questions there for me:

1. How to pass argume

[2019-06-22 18:00] mwpowellhtx commented on #11598
I think I've potentially found the issue, but I need to troubleshoot that a bit.

I had this:

[code]

Assuming the directory was correct, *dotnet-mytool* clearly was not. I think it may in fact need to be this:

[code]

Including the file extension.

[2019-06-23 18:24] mwpowellhtx commented on #11598
I provided the full path, including extension, to my targets, and got the expected response:

[code]

My verification ``Program.Main``, is:

[code]

So, what's left for me is to reconnect the actual tooling code and see what happens.

[2019-06-23 18:34] cra0zy opened #11614 "Compiling projects withing symlink broken"
Compiling projects by specifying a full path when the path is part of a symbolic link will result in a broken compilation.

Here is an example project showing the error:
https://github.com/cra0zy/DotnetBuildError

## Expected  behavior

[code]

## Actual  behavior
[code]

## Environment data

[code]

[2019-06-23 18:57] mwpowellhtx commented on #11598
@livarcocc Okay, I am confused. It seemed to work one time, perhaps an initial VS session build attempt? I am receiving an exception during the build. But the odd part is, the ``Program.Main`` does get invoked?

[code]

I do have telemetry engaged to try and further decipher just what the heck is going on here. It seems to me that possibly ``dotnet`` is trying to farm out to the NuGet Package sour

[2019-06-23 20:35] mwpowellhtx commented on #11598
@livarcocc Did a bit more troubleshooting. I am pretty confident now that messages are making it to my tooling properly and it is just a matter of solving the couple of issues I've uncovered to do with the tooling itself. Thanks for sounding off concerning any ``dotnet`` bits, much appreciated.

[2019-06-23 20:35] #11598 closed

[2019-06-23 21:15] ryanseipp commented on #7569
Has there been any progress towards this issue, or an expectation of what milestone this will be addressed in?

[2019-06-24 07:21] YunWeiaa commented on #11585
Not repro on “[[Release Channel](https://vsdrop.corp.microsoft.com/file/v1/Products/DevDiv/VS/2ec8efc9df21f30b8d843c8d4b025b213f299ccf/4c37020a-8abf-8cb8-6b2b-b5fb2898982c%3bchannels/internal/Release/bootstrappers/fixed/Enterprise/vs_Enterprise.exe)]”( 16.3.0 [29021.39.master]).

[2019-06-24 09:16] YunWeiaa opened #11616 "Error occurred when min-code is specific on VAL 16.0 with CLI/SDK: 2.1.605(runtime- 2.1.12)"
## Steps to reproduce
1. Create a new console app in VS(D16.0/[28803.527](https://vsdrop.corp.microsoft.com/file/v1/Products/DevDiv/VS/32dd098c5e3741ac40f9633ff8f4c1523c08ccbf/deb176a6-aec3-e88e-c5a3-7372e1785305%3Bbootstrappers/Enterprise/vs_enterprise.exe)(16.0.6 preview 1.0))
2. Modify the csproj with the following: `<Project Sdk="Microsoft.NET.Sdk/min=9999">
`
It shows as below:
![image](https

[2019-06-24 09:22] YunWeiaa commented on #11616
Repro on D16.1/29020.173(16.1.4 preview 1.0) with CLI/SDK: 2.2.301(runtime:2.2.6).

[2019-06-24 16:31] richaverma1 commented on #11616
The test steps seem to be missing the modification to the csproj file. I believe the modification is to add - <Project Sdk="Microsoft.NET.Sdk/min=9999">

[2019-06-24 17:19] livarcocc commented on #11616
@johnbeisner can you take a look?

[2019-06-24 18:03] crummel commented on #11518
Hi Nick, I was just wondering if you had a chance to look at these or the other sdk/toolset/core-sdk patches yet.  Thanks!

[2019-06-24 19:01] seancpeters opened #11619 "Feature change: Update the dotnet new template acquisition story"
The delivery of dotnet new templates with the SDK is changing. The template acquisition logic in the dotnet new first run code will need to change accordingly.

The changes will need to be made here:
https://github.com/dotnet/cli/blob/master/src/dotnet/commands/dotnet-new/NewCommandShim.cs

But we'll first need to fully define what the behavior should be.

[2019-06-24 20:25] nguerrera commented on #10502
@rynowak Sorry, this issue got a little stale, and I'm trying to go back and understand if there is must fix work remaining for 3.0.

What are the steps to trigger this recompilation? When I build a 3.0 web app, there are no refs/ being copied on F5.

[2019-06-24 21:07] nguerrera commented on #10502
Found it:

https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-3/

[code]

[2019-06-24 21:20] nguerrera commented on #10502
Adding this package adds the following to bin\

(1) Extra runtime assemblies (8.89 MB total)

"Microsoft.AspNetCore.Razor.Language.dll"
"Microsoft.CodeAnalysis.CSharp.dll"
"Microsoft.CodeAnalysis.dll"
"Microsoft.CodeAnalysis.Razor.dll"
"Microsoft.Extensions.DependencyModel.dll"
"System.Text.Encoding.CodePages.dll"
"Microsoft.AspNetCore.Mvc.Razor.Extensions.dll"
"Microsoft.AspNetCore.Mvc.Razor.Runt

[2019-06-24 22:07] nguerrera commented on #10502
Also, this earlier comment is still relevant: "Furthermore, I think we should make refs/ copying consistent with nuget libs. In 3.0, we are saying that build output can be copied to another machine and used as-is by default. In that case, I believe that even if we had support for finding framework reference assemblies in .NET Core targeting packs in dependency model, it should not be turned on by

[2019-06-24 22:53] tmat commented on #11518
@crummel @nguerrera
Re [0005-Disable-signing.patch](https://github.com/dotnet/source-build/blob/release/3.0/patches/cli/0005-Disable-signing.patch) - why do we need to changes signing settings here?

Arcade sets the values for all projects here:
https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/StrongName.targets

Are these projects special in some way?

[2019-06-24 22:54] tmat commented on #11518
Re [0006-Remove-keys-from-InternalsVisibleTo](https://github.com/dotnet/source-build/blob/release/3.0/patches/cli/0006-Remove-keys-from-InternalsVisibleTo.patch), I'd suggest using `InternalsVisibleTo` item group instead of attributes.

[2019-06-24 22:56] nguerrera commented on #11518
I think we wouldn't need to remove keys if we weren't changing signing. I think both patches should be removed. Agree on using InternalsVisibleTo, but I don't understand why this matters for source build. Seems like outdated change.

[2019-06-24 23:00] nguerrera commented on #11518
I have not had a chance to look these over. I will do so tomorrow.

[2019-06-25 15:35] mwpowellhtx commented on #11598
@livarcocc Just wanted to circle around and let you know. I had a minor breakthrough the other day as I mentioned, ``dotnet`` was landing on ``mytool`` tooling successfully. Followed closely by a successful end-to-end integration. I have a bit of unit testing to do before I can call it done-done, but I am happy with that major breakthrough. Thanks again.

[2019-06-25 15:42] damageboy opened #11626 "dotnet-install.sh fail with a `Text file busy` error when dotnet process is running in background"
## Steps to reproduce
run dotnet-install.sh on linux while a background dotnet process is running (for example background compiler)

## Expected  behavior
dotnet-install.sh should succeed

## Actual behavior
dotnet-install.sh will fail during the `cp -R` phase with a `Text file busy` error:

[code]

This is pretty common in Unix, and normally, to avoid this, most installers (such as dpkg, for exam

[2019-06-25 17:30] #11482 closed

[2019-06-25 17:33] nguerrera commented on #11518
@crummel, why is that "incorporate". I assume Arcade handles this now?

[2019-06-25 17:34] nguerrera commented on #11518
Do we need this or will https://github.com/dotnet/arcade/pull/3034 handle it?

[2019-06-25 17:35] nguerrera commented on #11518
It is a source build bug if source build removes PKT from any assemblies. Source build must produce matching identities as standard build.

[2019-06-25 18:33] crummel commented on #11518
Yes, Arcade should handle the PVP import now, and that should take care of 0002 as well.  I think the signing issues will go away with the removal of cli-migrate, that was causing several issues.

[2019-06-25 18:53] #11518 closed

[2019-06-25 19:43] damageboy commented on #11626
I think the issue is with:
https://github.com/dotnet/cli/blob/7a96d9cb1a40d80b9ec99181fdd0fbb9458a94b9/scripts/obtain/dotnet-install.sh#L615

When I run the script with bash -x it's clear it's performing something like:
[code]

This will fail if there is a `dotnet` process running...

The proper way to handle this would be to change the command like from `cp -R ...` to `cp -R --remove-destination`

[2019-06-25 20:13] johnbeisner commented on #11616
I can repro this error using VS(D16.0/28803.527(16.0.6 preview 1.0)) using SDK **2.1.604**
This behavior is not new.

[2019-06-25 23:33] mairaw commented on #10492
Probably this is the right @AngelosP

Also, what if the person wants to target .NET Framework? Is it possible to install a template for that too?

It would probably be good to cover this scenario in the docs.

[2019-06-26 01:15] techiechap commented on #2873
dotnet script installation successful unfortunately dotnet command not found error

[2019-06-26 07:56] hiyadav commented on #11437
Hey,
Is there a plan for this, is this getting addressed soon ?

[2019-06-26 08:53] Jepson109 opened #11633 "Dotnet run a web project failed with Unhandled expection after isntall .NET Core 3.0 Preview 7"
## Steps to reproduce
1.Install .NET Core 3.0 Preview 6 build 3.0.100-preview7-012621
2.Open Cmd, create a c# ASP.NET Core web project
3.Dotnet run

## Expected  behavior
Dotnet  run succeeded.

## Actual behavior
Dotnet run failed
![image](https://user-images.githubusercontent.com/38854445/60165775-804fa200-9832-11e9-94e4-97268c7b4f15.png)

Note:
    1.This issue is repro when we create webapi/mv

[2019-06-26 11:58] gthvidsten opened #11634 ""dotnet restore" fails if "nuget" folder doesn't exist"
## Steps to reproduce

I cloned a repo, but restore of NuGet packages (`dotnet restore`) failed with the following message:

I manually created `C:\ClonedRepo\nuget` and ran `dotnet restore` again, and now it worked just fine.

## Expected  behavior

`dotnet restore` should create the `nuget` folder if it doesn't exist.

## Actual behavior

`dotnet restore` fails because it can't find non-existing

[2019-06-26 11:58] gthvidsten commented on #11634
@blackdwarf

[2019-06-26 14:29] kurtnelle commented on #7610
Experiencing the same problem on Debian ARM on my Pocket Beagle (TI Sitara AM335x). dotnet code.dll takes 3 seconds to print the "Hello World", but when run on Windows, it prints almost instantly.

[2019-06-26 15:31] richlander opened #11636 "Multiple instances of Preview warning"
When building some projects, I see multiple instances of `You are using a preview version of .NET Core. See: https://aka.ms/dotnet-core-preview`, right after one another. It would be great if this was only displayed once. I have seen this on multiple projects.

[code]

I am using the .NET Core 3.0 Preview 7 SDK on Windows.

[2019-06-26 16:21] livarcocc commented on #11633
This seems more like a asp.net issue.

@anurse can you direct this issue appropriately?

[2019-06-26 16:34] anurse commented on #11633
This issue was moved to aspnet/Extensions#1891

[2019-06-26 16:34] #11633 closed

[2019-06-26 16:35] livarcocc commented on #11633
thanks @anurse

[2019-06-26 16:54] livarcocc commented on #11636
This happens because of how we determine that we have displayed that message already.

We only have an mechanism to do that per node, so, if you build with n nodes you will get the message displayed n times.

Addressing this would require a non-trivial set of changes and at the time we put the message we determined it was too risky (to break other parts of the build) and not worth it for a message

[2019-06-26 16:54] #11636 closed

[2019-06-26 16:55] livarcocc commented on #11634
This issue was moved to NuGet/Home#8264

[2019-06-26 16:55] #11634 closed

[2019-06-26 16:56] livarcocc commented on #11626
@johnbeisner can you comment?

[2019-06-26 21:20] johnbeisner commented on #11626
@damageboy
"This will fail if there is a dotnet process running" Wouldn't the deletion of 'dotnet' before the copy negatively impact the ongoing 'dotnet' process? In this instance, the correct outcome should be a failure of the new 'dotnet' installation.

[2019-06-26 22:15] damageboy commented on #11626
Not on unix systems.

Unix has this thing where you can delete open/mmap'd files and while the last reference pointing to that file/inode does disappear (e.g. you can't open that file from that moment on) running processes still have access to the file.. (also technically there is still "something" pointing to that file through /proc, but that's a bit nit-picky so lets skip that for now).

It's a

[2019-06-27 00:14] DamianEdwards commented on #10502
I think it's fine to leave this as-is for (i.e. the extra assemblies are copied to \bin when using the runtime-compilation package). We can keep monitoring customer feedback to see if it's something we want to address in the future.

[2019-06-27 00:18] nguerrera commented on #10502
Thanks, @DamianEdwards

Moved to backlog.

I thought about this: "we would need to decide what is the trigger that tells the SDK that it is OK to rely on this in the build output. " and I think if we did this feature, it could be the same trigger as not copying nuget bits: CopyLocalLockFileAssemblies. That should probably be aliased with a better name too.

But it is complexity that we should only

[2019-06-27 05:08] nguerrera commented on #11520
Working on a fix in #11639

[2019-06-27 07:24] Themodem commented on #10860
If you want a horror show of a quick work around you can use

`dotnet tool list -g | ForEach-Object {$index = 0} { $index++; if($index -gt 2) { dotnet tool update -g $_.split(" ")[0] } }`

[2019-06-27 08:02] couven92 commented on #10860
@Themodem yeah, I personally prefer the one below, but I agree that it is still horribly ugly...

[code]

[2019-06-27 16:39] AndyAyersMS opened #11643 "program hangs unexpectedly"
## Steps to reproduce

Clone https://github.com/dotnet/coreclr (to say d:/repos/coreclr)
Clone https://github.com/AndyAyersMS/jitutils (to say d:/repos/jitutils)
  change to the MutateTest branch of jitutils
Install 3.0 Preview 6

cd to d:/repos/jitutils/src/MutateTest

dotnet run -c Release --  --ehStress --recursive d:\repos\coreclr\tests\src\jit\jit64 --quiet

Processing 537 test files
// d:\re

[2019-06-27 17:38] peterhuene commented on #11643
@AndyAyersMS why do you think this belongs in the CLI rather than runtime?  Would it be possible to capture stacks of the hang?

[2019-06-27 18:22] AndyAyersMS commented on #11643
@livarcocc asked me to open this here based on some email discussion.

I have a dump I can share.

[2019-06-27 18:30] peterhuene commented on #11643
Ah, didn't know @livarcocc already had some context on the issue.  From first glance it seems the CLI isn't involved with the hang since we've successfully exec'd the target test assembly, but I can take a look at the dump.

[2019-06-27 18:37] peterhuene commented on #11643
Thanks @AndyAyersMS for forwarding the mail thread.  The `dotnet exec` / apphost process appears to terminate, so it is the `dotnet run` process that is hanging and it appears related to telemetry.  Assigning to @wli3 to do the preliminary investigation.

[2019-06-27 19:12] pinaki1234 commented on #9659
Issue is very much open. I have
1. Azure function with .NETCore.App 2.0 referencing
2. Class Library with NET Standard Library 2.0.3

Azure function cannot load the Class Library at runtime and runs into:
Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll
Could not load file or assembly <Project at no 2 above>

Will be really helpful if someone has any pointers.

[2019-06-27 19:19] VictorioBerra commented on #9659
I think you might be right. I think this is still an issue.

[2019-06-27 19:48] DamianEdwards opened #11650 "Randomly get 'The "CreateAppHost" task failed unexpectedly' error when doing CLI build of a new web app"
## Steps to reproduce
1. Create a new web app: `dotnet new webapp`
1. Repeatedly build the app from the CLI with no changes: `dotnet build`

## Expected  behavior
No errors

## Actual behavior
Randomly see the following error (twice in the last 20 builds just now):
[code]

## Environment data
`dotnet --info` output:
[code]

[2019-06-27 19:50] livarcocc commented on #11650
@peterhuene can you take a look?

[2019-06-27 19:52] peterhuene commented on #11650
0x8007006E is cannot open the file specified.  Not entirely sure if that's because it doesn't exist or a sharing violation.  My guess would be on the latter since it's intermittent (perhaps something external to the build is interfering?).

[2019-06-27 19:53] peterhuene commented on #11650
We have a lot of tests that create and customize the apphost on Windows and I haven't seen flaky CI with this.  I'll attempt to repro it.

[2019-06-27 19:57] livarcocc commented on #11650
Anti-virus?

[2019-06-27 22:00] peterhuene commented on #11650
I ran `dotnet build` 100 times in my VM with `3.0.100-preview7-012687` and had no failures.

@DamianEdwards are you seeing this on a particular machine or multiple machines?

[2019-06-27 22:57] #11520 closed

[2019-06-27 23:50] labmorales commented on #6770
For me the only thing that worker (after installing all the targeting packs) was to repair the .NET Core SDK installation.

[2019-06-28 00:06] wli3 commented on #11643
@peterhuene as you suggested. We looked at the main thread. It is waiting for `System.Diagnostics.Process.WaitForExit` so that is the running the app itself is blocking.

[code]

[2019-06-28 00:06] #11643 closed

[2019-06-28 00:49] nguerrera opened #11651 "SDK resolver should flow traced errors from hostfxr to msbuild"
Follow up to https://github.com/dotnet/core-setup/issues/6970

We can set an error writer on hostfxr and then return the errors to msbuild.

See https://github.com/dotnet/core-setup/blob/1a10af88e3904b1d9790be38450c23eea683d6ae/src/corehost/cli/fxr/hostfxr.cpp#L391

cc @peterhuene

[2019-06-28 00:49] nguerrera commented on #11651
cc @KathleenDollard

[2019-06-28 00:51] nguerrera commented on #11651
It would be nice to be able to plumb warnings too, and to have a flag that can be set somehow to get all the informational tracing as well into the binlog, but that is blocked by https://github.com/dotnet/core-setup/issues/6972

[2019-06-28 15:26] vsccarl opened #11656 "x86 build configurations are missing"
## Steps to reproduce
1. Create a .NET Core 3.0 project
2. Change build configuration to x86 in Configuration manager
3. Build

## Expected  behavior
Projects are built as expected.

## Actual behavior
Unable to build the project.
[code]
And when opening the WPF designer this error shows up:
[code]
## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
Version:   3

[2019-06-28 15:56] livarcocc commented on #11656
This is by design.

We only carry packages offline for the architecture that the SDK targets itself, so, x64 SDK brings with it x64 packages. Likewise for x86. So, you will need to add package feeds (until we release the packages to nuget.org) to be able to restore.

You will also need to install the x86 runtime separately in order to run the application.

We intend to install both x86 and x64 run

[2019-06-28 15:56] #11656 closed

[2019-06-28 17:12] peterhuene commented on #11656
For the feeds to use, check out this section in [the dotnet/core-sdk README](https://github.com/dotnet/core-sdk#installers-and-binaries).

[2019-06-28 20:12] DamianEdwards commented on #11650
@peterhuene was seeing this on only one machine so far, but haven't tried to repro it on my other machine.

[2019-06-28 20:14] DamianEdwards commented on #11430
@glennc @shirhatti @bradygaster
We've definitely talked about this before but not pursued it thus far. I think it certainly warrants investigation for an upcoming release.

[2019-06-28 20:17] bradygaster commented on #11430
huge fan of the idea, ever since @spboyer brought it to me. i can drive from PM side. to get it done we'd need to:

1. get it code-signed, right?
1. do some doc-writing to get folks educated on usage (@scottaddie is reviewing similar docs on the http-repl ATM).
1. decide on a versioning scheme (snap to the 3.0 wave?)

[2019-06-28 20:22] DamianEdwards commented on #8485
@yufeih you can use a wildcard in the version to make it simpler, e.g.
[code]

[2019-06-28 20:25] spboyer commented on #11430
Would be great to offer static storage sites option for Blazor if we can introspect app type or a have a .deploy file type.

Containers is a ++ effort.

[2019-06-28 20:26] bradygaster commented on #11430
@DamianEdwards clarified with me this would be a top-level command, not something distributed as an OOB or another global tool. Much more to think about with that in mind. Will spin up a conversation with Kathleen to discuss more ideas.

[2019-06-28 21:56] omajid opened #11663 "dotnet test doesn't work on .NET Core 3.0 Preview 6"
## Steps to reproduce

    dotnet --info
    dotnet new xunit
    dotnet test

## Expected  behavior

The generated `UnitTest1` class with the single `Test1` is executed and the test is marked as passed

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

This dotnet SDK was compiled from the `v3.0.0-preview6-27804-01` tag of source-build.

[2019-06-28 22:18] livarcocc commented on #11663
This issue was moved to microsoft/vstest#2079

[2019-06-28 22:18] #11663 closed

[2019-06-29 01:08] yufeih commented on #8485
@DamianEdwards , that works if you already know the exact `major.minor.revision`,  it does not express the intend to install the latest pre-release. Something like `dotnet tool install --pre` or `dotnet tool install --version *-*` is helpful.

[2019-06-29 10:31] benaadams opened #11668 "dotnet publish should default to release mode"
Currently it defaults to debug

[2019-06-29 16:26] livarcocc commented on #11668
@KathleenDollard to consider this breaking change.

[2019-06-29 16:39] forki commented on #11668
It's not breaking. It's fixing.

Livar <notifications@github.com> schrieb am Sa., 29. Juni 2019, 18:26:

[2019-06-29 16:58] BruceForstall opened #11673 "dotnet.exe keeps running in background"
After a build, I have 8 dotnet.exe processes around. If I use "dotnet build-server shutdown", I still have one dotnet.exe process running. How do I shut it down without just killing it using "taskkill" or the equivalent?

## Steps to reproduce

I build the dotnet/coreclr or dotnet/corefx repo. These download and install a dotnet CLI in the .dotnet directory.

## Expected  behavior

dotnet.exe goes

[2019-06-29 17:58] benaadams commented on #11668
Was pointed out pre-1.0 that this was incorrect behaviour https://github.com/dotnet/cli/issues/477 however the issue was auto-closed as part of a PR, but not fixed

[2019-06-29 18:00] benaadams commented on #11668
Was pointed out pre-1.0 that this was incorrect behaviour https://github.com/dotnet/cli/issues/477 however the issue was closed but not fixed

There are number of examples of people putting Debug builds into production and Debug libs onto NuGet

[2019-06-29 19:02] peterhuene commented on #11673
Hi @BruceForstall! Can you capture the command line arguments for the stubborn dotnet process? It might shed some light on what is still running. Thanks!

[2019-06-29 20:13] nguerrera commented on #11668
This is not as simple as it might seem.

`dotnet publish` doesn't explicitly set the configuration to Debug. It just does what msbuild /t:Publish does without a /p:Configuration=X argument.  That is not necessarily debug: try it with a Directory.Build.props like this:

[code]

Further note that configurations can be arbitrarily customized. There might not even be one called Release in the project.

[2019-06-29 20:47] benaadams commented on #11668
Perhaps a more general way of capturing the requirement is `dotnet publish` should default to optimized output if it is not overriden.

[2019-06-29 21:05] nguerrera commented on #11668
There are a lot of different ways to interpret that requirement.

My above comment demonstrates why changing dotnet publish to be equivalent to today’s dotnet publish -c Release is very problematic, technically.

It’s certainly possible that a more involved change could work. We’d need a concrete proposal to evaluate that.

[2019-06-29 21:11] benaadams commented on #11668
Can `publish` and `build` be differentiated and the default swapped for `publish`?

[2019-06-29 21:14] nguerrera commented on #11668
Possibly. We could set /p:RunningDotNetPublishWithDefaultConfig=true. And change above based on that. Or something. It would mean that dotnet publish and msbuild /t:Publish are different, though.

[2019-06-29 21:18] benaadams commented on #11668
Solving the compat worries in one fell swoop! 😉

Also I hear there's a major version (this and the next) which would be an ideal time for such a change 😄

[2019-06-29 21:23] nguerrera commented on #11668
Just to set expectations, I think we’re way too late for 3, but happy to explore this for 5.

[2019-06-30 03:19] BruceForstall commented on #11673
This is a corefx repo build.

Looks like the command-line is:
[code]
and the current directory is:
[code]

[2019-06-30 20:27] wli3 commented on #8485
unfortunately, this issue is still being blocked on https://github.com/NuGet/Home/issues/912

[2019-07-01 05:18] peterhuene commented on #11673
`dotnet build-server shutdown` will only shutdown the compiler server from its own install, thus won't shutdown a compiler server that started from the NuGet cache.  If I recall correctly, the server's default pipe name is derived from a hash of the path to the compiler server dll.

I'm not sure if there is much `dotnet` can do here without the compiler server [writing a pid file](https://github.c

[2019-07-01 09:24] stroborobo opened #11679 "dotnet sln: support for custom configurations"
At the moment (3.0.100-preview6) the `dotnet sln` command only supports adding, removing and listing projects. However it is not possible to change the build configurations, so that has to be done either manually or using e.g. Visual Studio.

It would be nice if you could add and remove configurations from the solution file.

[2019-07-01 17:26] damageboy commented on #11626
@johnbeisner Any thoughts?

I'm no sure if my answer provided you with enough information to make a decision...

[2019-07-01 18:23] johnbeisner commented on #11626
@damageboy
Your comments seem very resonable. How would I prove or dis-prove the above assertions?

[2019-07-01 18:23] livarcocc commented on #11679
We don't currently have plans to add this functionality but this one feels like something we would take a PR for.

@peterhuene what do you think? Does this one feel like a good first issue/community contribution?

[2019-07-01 18:43] mwpowellhtx opened #11687 "CLI attempts NuGet Restore instead of using provided DLL path"
## Background

I have not published my tooling project to NuGet yet. I plan to today, but I have a curious message, error, or warning, that is happening at the moment.

I uniquely renamed my project output such that it no longer conflicts with existing NuGet packages. I am finding this kind of error during the build. I think that the local path is being used, but the error in the meantime is curio

[2019-07-01 18:50] peterhuene commented on #11679
I think that's a pretty good feature for the community, although the UX might be pretty complex for full fidelity with VS.  I think we'd have to design the UX before a first time contributor would be able to run with it.

At a bare minimum, two commands would be needed.  One to create a new solution config that maps to any existing project configuration of the same name and platform.  If one doesn

[2019-07-01 19:46] livarcocc commented on #11687
Hey @mwpowellhtx, I am sorry, I don't quite follow exactly what you are trying to do.

Is this a project tool, a global tool or a local tool? What does your csproj look like (if this is a project tool)?

How are you invoking it exactly? Where would you provide the DLL assets that you mention above?

[2019-07-01 20:09] wli3 opened #11688 "Investigate running CI in Linux/ARM64 box"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2019-07-01 20:11] wli3 commented on #11688
cc @RussKeldorph

[2019-07-01 20:12] wli3 commented on #11688
Currently there are some tests are failing in SDK and CLI. Some are due to 1.0 which we can ignore. (no 1.0 runtime for arm and we have not plan to add it). There are other tests fail due to apphost. I need to keep digging and categorize them

[2019-07-01 21:03] mwpowellhtx commented on #11687
@livarcocc Again, not sure what you mean by project v local v global tools. During development it is intended that I test against the project output. Eventually, I intend to publish, at which point, for subscribers, I suppose it would be a NuGet-delivered tool through whatever NuGet channels are appropriate, i.e. solution ``package/`` directory.

[2019-07-02 00:42] livarcocc commented on #11687
Project tools are specified as <DotnetCLiToolReference> in the project file. They can be invoked by running dotnet toolname when in the project folder.

Global tools are shared framework apps packaged in a special way. They are installed through dotnet tool install -g and can be invoked through toolname.

Local tools are the same package as global tools but they are installed to a manifest file so

[2019-07-02 01:02] mwpowellhtx commented on #11687
@livarcocc In this case, as an end-to-end integration test, I am literally trying to invoke:

[code]

After the build has completed, no problem, the path-oriented asset receives the correct instruction, and my integration tests run fine. Leading up to that point, the asset may not have been built yet, so I think ``dotnet`` is attempting to fall back on a package from NuGet, which in this case, wou

[2019-07-02 01:27] peterhuene commented on #11687
Try using `dotnet exec <path_to_dll> ...`.

[2019-07-02 02:09] mwpowellhtx commented on #11687
@peterhuene No effect, same outcome. However, it does not seem to be a critical error, and is understandable given my build pipeline.

[2019-07-02 02:15] mwpowellhtx commented on #11687
Which, to be clear, I do not read anything about ``dotnet exec`` failing anything in the command line help. I just think that may be the default ``dotnet`` *SDK command* behavior. Oddly enough, ``exec`` not listed among those commands.

[2019-07-02 04:36] peterhuene commented on #11687
`dotnet exec <dll>` shouldn't have the same effect; it should always fail with `The application to execute does not exist` if the path to the application dll does not exist.  This differs from just `dotnet <dll>` because if the application dll doesn't exist, it passes the path to the .NET Core SDK to interpret as a command, which may be a built-in command, a `dotnet-` prefixed executable on the `P

[2019-07-02 04:41] enricoreich commented on #11560
Same problem on Debian 9.9 (stretch)
[code]

[2019-07-02 07:56] yuki233 opened #11700 "Dotnet new a project returns some errors with .Net Core 3.0 Preview 7"
## Steps to reproduce
1.  Install SDK 3.0.100-preview7-012769
2. Dotnet new a console APP and observe the result
3. Dotnet new a UnitTest or web APP and observe the result

## Expected  behavior
On step2,3, dotnet new a project works normally

## Actual behavior
1. On Step2, returns some errors
![image](https://user-images.githubusercontent.com/1578239/60494497-7c63ca00-9ce1-11e9-85bf-03e7d09be6bc

[2019-07-02 09:03] damageboy commented on #11626
Good question, I guess my best bet is for you to try and either use my PR and replace the `dotnet` executable while there's some process running...

I did the following just now as a test:

1. Installed `dotnet-serve` as a global-tool: `dotnet tool install --global dotnet-serve`
2. Ran it from some directory
3. Test that it's serving on `http://localhost:8080` for example
4. Find the `pid` for the

[2019-07-02 10:49] Lybecker opened #11701 "dotnet build+publish and dotnet publish does not produce the same result - fails when running as unprivileged user in Docker container"
When the Dockerfile has both the steps `dotnet build` and `dotnet publish`, then the error `realpath(): Permission denied` appears at runtime when running as unprivileged user

## Steps to reproduce

1. Create simple webapp with command
`dotnet new webapp -o mywebapp --no-https`
2. Use Dockerfile from here:
https://github.com/Lybecker/dotnetclibug/blob/master/Dockerfile
3. Uncomment line 15
`RUN d

[2019-07-02 14:21] mthalman opened #11705 "Regression: self-contained publish fails on Linux ARM in 3.0 Preview 7"
## Steps to reproduce
1. `dotnet new web --framework netcoreapp3.0`
2. `dotnet publish -r linux-arm -c Release -o out`

## Expected  behavior
Publish succeeds

## Actual behavior
An exception occurs: `System.ArgumentException: Can not add property libclrjit.so to Newtonsoft.Json.Linq.JObject. Property with the same name already exists on object.`
[code]

## Environment data
This issue was discover

[2019-07-02 16:29] livarcocc commented on #11700
This is a dup of https://github.com/dotnet/templating/issues/1979.

[2019-07-02 16:29] #11700 closed

[2019-07-02 16:30] livarcocc commented on #11701
@peterhuene can you take a first look at this?

[2019-07-02 16:32] livarcocc commented on #11705
And @peterhuene another one. Can you please give some priority to this one, as this might be a blocking issue?

[2019-07-02 16:41] peterhuene commented on #11705
I don't have an ARM device to repro with, so I will need a binlog to investigate.  I suspect this might be related to recent changes @dsplaisted made.

@mthalman would you be able to provide a binlog from the `dotnet publish` command by passing the `/bl` option and emailing me the resulting MSBuild.binlog file?  Thanks!

[2019-07-02 16:45] peterhuene commented on #11705
Never mind, I was able to reproduce just fine with a cross-build.  I'll investigate.

[2019-07-02 17:13] mwpowellhtx commented on #11687
@peterhuene Okay, well, I tried with and without the switches, same outcome. Reported via my build log:

[code]

With the targets commands:

[code]

``DotnetMyToolPath`` defined as : ``exec path\to\dotnet-mytool.dll``, with the error:

[code]

So, I hear you, *it shouldn't*, however, the evidence is clear, ***IT DOES***. That is, attempt to peer into package sources.

The error does not appear to

[2019-07-02 17:38] mwpowellhtx commented on #11687
@peterhuene What are you basing your assumptions on?

[2019-07-02 19:08] peterhuene commented on #11701
I haven't looked at it yet, but I suspect the errors might be coming from the file system watcher (I see calls to `realpath` in the framework there) used by the ASP.NET application and thus not a CLI issue as the application started by `dotnet run`.  I'll move the issue if I can confirm my suspicion.

[2019-07-02 19:12] chabiss opened #11709 "XAML designer or application failed to launch : invalid runtime config.json"
## Steps to reproduce
Verified that the machine is on
3.0.100-preview7-012601

Install Visual Studio 16.3 Preview 1

First project.
"\\scratch2\scratch\peterspa\MahAppsFail\MahApps.Metro.zip"

It restore and compile fine. But then we try to launch the designer, we have this error:

This appears to be a bug with design time

Below is a copy of the JSON file.
\\scratch2\scratch\peterspa\MahAppsFail\

[2019-07-02 20:00] peterhuene commented on #11687
Hi @mwpowellhtx.  Do you get the error if you manually run `dotnet exec path\to\dotnet-mytool.dll --version` outside of the context of MSBuild?

If this project has a `DotNetCliToolReference` item and any restoring command (i.e. `dotnet restore`, `dotnet build`, `dotnet publish`, etc.) is run without the tool being available in a NuGet source, I would expect a `NU1101` error from the restore opera

[2019-07-02 20:15] mwpowellhtx commented on #11687
@peterhuene Not at the command line. As mentioned here, or in an earlier issue, the error is obviously not of ``dotnet`` origin, so I suspect this probably has to do with one surrogate *Microsoft Build* target or another, attempting to invoke a *NuGet* target.

[code]

Whereas, when I do a similar thing, I do in fact get an error:

[code]

[2019-07-02 21:02] peterhuene commented on #11705
There are two entries in the `RuntimeManifest.xml` for `libclrjit.so`:

[code]

@dagood is this a known issue with the arm runtime manifests?  Note the "weird" RID of `x64_arm`.

Obviously there's a bug here in the SDK to be more robust against duplicates in the manifest, but this should be corrected in the manifest first to unblock the scenario.

[2019-07-02 21:08] peterhuene commented on #11705
I can confirm that removing the duplicate moves past the failure to generate the deps file.

[2019-07-02 21:16] dagood commented on #11705
My expectation would be for `linux-arm` to be used. `x64_arm` is for running crossgen cross-target (https://github.com/dotnet/core-setup/issues/5969). That doesn't mean it has to be in the runtime list in particular, but that's why it's there. To unblock Preview 7 I'll prep a workaround in Core-Setup to remove it.

/cc @wtgodbe

[2019-07-02 21:19] peterhuene commented on #11705
Thanks!  I'd like to keep this bug assigned to me in the CLI so that we can make this task more robust, but I don't think that needs to be addressed for preview7.

[2019-07-02 21:22] dagood commented on #11705
Sounds good. It might actually end up being right to keep it out of the list since it's tooling, not something that ships with self-contained apps--not sure how focused that file is intended to be. Or some extra attribute to avoid putting the logic in the SDK to filter out stuff that doesn't match the RID.

Yes please. 😄

[2019-07-02 21:31] dsplaisted commented on #11705
The runtime list is supposed to be the list of files that will be included for self-contained apps.  So it should not include the x64_arm file in this case.

I think the should fail more gracefully here, but I don't think it should try to choose the best file to use in a case like this.

[2019-07-02 21:33] peterhuene commented on #11705
Opened dotnet/core-setup#7039.

[2019-07-02 22:13] peterhuene commented on #11701
So my hunch was wrong.  It's not coming from the framework but from [the host PAL](https://github.com/dotnet/core-setup/blob/832f8250b5986028594c0db47b4e1cb62915c15b/src/corehost/common/pal.unix.cpp#L733).

Looks like there's an [core-setup issue here](https://github.com/dotnet/core-setup/issues/4038) that hasn't received any attention lately.  I'm going to close this as a duplicate of the core-se

[2019-07-02 22:13] #11701 closed

[2019-07-02 22:24] peterhuene commented on #11701
While it's the host that's the cause of the error, I want to explore why sharing the build and publish output would introduce the error.

Without the build step:

[code]

With the build step:
[code]

There must be something that the host is probing.  I'll see if I can strace it.

[2019-07-02 22:32] peterhuene commented on #11701
I've figured it out.  It's the `mywebapp.runtimeconfig.json` that got generated from the build:

[code]

There are paths there that cause the host to probe locations it doesn't have permissions to when running as non-root.

As a workaround to the host emitting the error messages, I would add this as a post-publish step to your `Dockerfile`:

[code]

[2019-07-02 22:47] dagood commented on #11705
I merged https://github.com/dotnet/core-setup/pull/7042 into Core-Setup `release/3.0` to fix this for preview 7. (FYI for those on this thread.)

[2019-07-03 00:15] peterhuene commented on #11687
@mwpowellhtx were your able to resolve your issue? I just want to make sure nothing is blocking your scenario.

If you would still like me to inspect your build log, feel free to email one to me at any time. Thanks for taking the time to report your issue to us!

[2019-07-03 01:15] Kinematics opened #11713 "Unable to specify a subdirectory for assembly loading"
## Steps to reproduce
Build a project for .NET Core 3.  Add some nuget package.
Create a "lib" subdirectory in the output folder.
Move some/all of the .dll files into "lib".
Program will fail to run, as it is unable to locate the moved assemblies.

## Details
When building a program using the standard framework, which used `app.exe.config` for its runtime configuration, you could specify private s

[2019-07-03 07:40] Lybecker commented on #11701
Thanks @peterhuene

[2019-07-03 08:35] mwpowellhtx commented on #11687
@peterhuene Sure no problem. Honestly, I think it is probably normal behavior, not fatal to the surrogate NuGet invocation, builds succeed anyway. Would be better if the *error* could be simply ignored, not reported, etc, but whatever.

[2019-07-03 08:44] joelharkes commented on #4825
Sorry guys, was not working in dotnet core for a long while so i though clean up my open issues im no longer working on (and might already be outdated).

I'll re-open it again for you guys

[2019-07-03 12:27] haf commented on #4825
@mariusGundersen Still; this issue is about publishing multiple projects with a command, not to change the directory structure of publishes of a single `.sln` file. I think it would be appropriate to file a new issue if you want another type of change, than what this thread is about.

Workaround: I started using https://github.com/eiriktsarpalis/snippets/tree/master/SlnTools to package multiple pr

[2019-07-03 13:36] Actionintint commented on #10060
I want to build a single source file and specify compilation options like csc.
In situations where you can only use the command line, it would be tedious to create a project and edit csproj.

[2019-07-03 14:17] nguerrera commented on #11709
The issue is caused by transitive framework references. It is getting Microsoft.WindowsDesktop.App transitively and directly, and then we put dupes of it in runtimeconfig. The issue is not limited to design time, the built app doesn’t start either.

If DisableTransitiveFrameworkReferences=true is used, then the designer and the app work.

cc @livarcocc @dsplaisted

[2019-07-03 16:52] mwpowellhtx commented on #11687
@peterhuene I do not know how much of a corner case this is. Of course, now that I have published, *MSBuild* pulls those packages down, but would not use them because I furnish the path internal to the solution, but still, can be confusing.

[2019-07-03 22:32] mwpowellhtx commented on #11687
@peterhuene I have two issues, the first phase described here. The second is the prototypical ``Package XYZ is not compatible with netcoreapp2.1``, related to the same. I do not think it is a CLI issue, per se, but I do think it is *MSBuild*, *dotnet*, or one of its surrogates, i.e. *NuGet*, related. I can be a little less cryptic now that I have deployed if you would like to [please take a look](

[2019-07-03 22:33] mwpowellhtx commented on #11687
Possibly is a second issue, above. Possibly not a CLI issue, per se, more likely an *MSBuild* issue, *dotnet*, or *nuget*.

[2019-07-03 22:41] mwpowellhtx commented on #11687
@peterhuene May have just identified an actual typo in my dependencies.

[2019-07-03 22:41] #11687 closed

[2019-07-03 23:07] wli3 commented on #9321
Here is my plan:

We won’t have the same experience as bash shell.

We will print the following instruction.

[code]

Detail reason:
Mac don’t have a good solution to put user path for all user (/USERNAME/home/.dotnet/tools is different for different user). We currently adding literal `~/.dotnet/tools` for all users. And that works for bash. But it no longer works for zsh.

At the same time, direc

[2019-07-04 00:35] livarcocc commented on #11713
I do not believe this is possible at in .Net Core.

@peterhuene to confirm or see if he has an idea here for this.

If you are trying to simplify the output of your application, have you looked at the single executable option?

[2019-07-04 01:27] Kinematics commented on #11713
I've considered it, but a 60 MB release isn't acceptable compared to something that should be less than 1 MB.  The issue is the noise as more nuGet packages are added.  They're tiny in size, but add huge numbers of extra files that really don't need to be polluting the root directory.

[2019-07-04 04:30] peterhuene commented on #11713
As far as I'm aware, this is currently not a support feature of the host.

There is a `runtimeOptions.additionalProbingPaths` option for `runtimeconfig.json`, but the probing is done by the library (e.g. package) path and then asset's path within the library.

Perhaps the host could support an additional set of probing paths to consider when doing "local" dependency resolution, in addition to the

[2019-07-04 10:51] upretyrohan opened #11738 "dotnet test command does not generate Test Results.xml file.How to generate it"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2019-07-04 13:43] 0xd4d commented on #11713
Sounds like you want the exe in the root folder and everything else in the bin folder, similar issue: https://github.com/dotnet/core-setup/issues/5120

The apphost supports loading a DLL file located in another folder, but the msbuild files don't allow you to change the name. it defaults to `<asm>.dll` with apphost renamed to `<asm>.exe`.

[2019-07-05 12:46] vitek-karas commented on #11713
In general .NET Core has a different model for the apps - the runtime/host is following the `.deps.json` file to learn where to look for files, it does very little probing.

I'm wondering what is the root problem here and what is the scenario:
* Is your application self-contained, meaning it has to carry the framework with it? If so, does it really have to do that? Could you potentially use framew

[2019-07-05 17:34] livarcocc commented on #11738
This issue was moved to microsoft/vstest#2086

[2019-07-05 17:34] #11738 closed

[2019-07-05 19:01] anurse opened #11756 "launchSettings.json no longer allows comments after System.Text.Json migration"
As part of the migration to System.Text.Json, it looks like Comment handling in launchSettings.json was lost. This issue **does not repro** on SDK 2.2.203.

System.Text.Json supports comment handling, but it has to be enabled in the options. It looks like the current code does not pass in any options: https://github.com/dotnet/cli/blob/0cb36481ad4e628079374447c8ae313006e3f602/src/dotnet/commands/d

[2019-07-05 19:34] Kinematics commented on #11713
- It is for a framework dependent app already, though 0xd4d mentioned a similar issue (#5120) for someone deploying a self-contained app.
- As noted, a single-exe deployment is not desirable because of size issues.

It's not.  I'm saying that the individual files are already tiny in size, so I'm not wanting to go a route that negates that (ie: a single exe or self-contained), but that it's *not* d

[2019-07-05 19:54] vitek-karas commented on #11713
@Kinematics thanks for the response.

I'm looking into some idea which might be a possible work around... meanwhile I'm curious about your single-file statement.

I don't really understand this. Single-file can also be framework dependent in which case its size is nearly identical to your current build output.

[2019-07-05 20:22] vitek-karas commented on #11713
OK - I might have a workaround, but it's not pretty.

I tried a simple app created like this:
[code]

Then I went into the `bin/Debug/netcoreapp3.0` folder (the build output) and I moved the Newtonsoft.Json.dll into a subfolder `bin\newtonsoft.json\12.0.2\lib\netstandard2.0` (all under the `netcoreapp3.0` folder. Then I modified the `.runtimeconfig.dev.json` by removing all the paths in it (as tha

[2019-07-05 20:32] vitek-karas commented on #11713
I totally agree that before UI apps this problem is much less likely to occur. That said .NET Core doesn't have a simple counterpart to "probing paths":
* It generally relies on `.deps.json` and the SDK to produce these artifacts which are consumed at runtime - trying to reduce the complexity of the assembly resolution logic in the runtime.
* The main reason for the strong bias towards `.deps.json

[2019-07-05 22:11] Kinematics commented on #11713
OK, attempts that I've made had all generated the self-contained ~60 MB output.  I'll take another look at this to see if I can get it done properly as framework dependent.

... OK, took a bit to figure out how (documentation seems a bit scarce), but I managed to get it to compile.  Unfortunately it has two problems:
- Attempting to run it fails, saying it's missing the `hostfxr.dll` file, which i

[2019-07-05 22:20] vitek-karas commented on #11713
Thanks - could you please file a new issue on the problem with single-file failing to run? That sounds like a bug.

[2019-07-06 00:37] Kinematics commented on #11713
While trying to create a testcase, I realized I'd specified the `win-x86` RID, since it errored out when trying just `win` (which is what the [RID Catalog docs](https://docs.microsoft.com/en-us/dotnet/core/rid-catalog) seem to imply would be generically usable), but it failed because I have the 64 bit version of .NET Core installed, not the 32 bit version. So that's where the error message was com

[2019-07-06 00:45] KathleenDollard commented on #10060
@anthonydgreen has done some prototypes on this. This is the first of a series of about five posts.

https://anthonydgreen.net/2019/04/23/top-level-code-scenario-a/

[2019-07-06 05:20] 0xd4d commented on #11713
That workaround is ugly and requires too much work.

@Kinematics  I've successfully removed all files from the root folder and put them in the bin folder. The only thing remaining are the apphost exe files. Nothing else. I already mentioned it above but here's some more info.

The apphost exe (eg. `myapp.exe` if your entry point assembly is `myapp.dll`) has the path to your main dll file. You can

[2019-07-06 07:19] vitek-karas commented on #11713
@Kinematics In .NET Core it's not possible to create an executable which would work on both x86 and x64 (and ran natively as 32bit or 64bit). The executable is just like any other native executable and thus has to be tied to a specific platform. The fact that in .NET Framework it was possible to have an .exe which ran on either x86 or x64 was achieved by tight integration with the Windows OS (the

[2019-07-06 07:22] vitek-karas commented on #11713
@0xd4d That is definitely another approach although it has its own issues as well. The main problem is that it's somewhat confusing what the application base path going to be (is it the folder with the .exe or the one with the main .dll?). But I agree that in terms of work required it's relatively simpler.

[2019-07-06 08:26] vitek-karas commented on #11713
The bug in the host where it ignores the relative path for app directory lookups is tracked here: https://github.com/dotnet/core-setup/issues/5645.

[2019-07-06 09:34] AdmiralSnyder commented on #11756
in my environment, the line number in the error message also was off by one.

[2019-07-07 16:20] ViktorHofer commented on #2243
How would I use `runtime-options` together with dotnet or dotnet run? `dotnet exec` seems to be the only verb that accept those. In example from corefx:

[code]

[2019-07-07 18:15] jameschch commented on #9876
Has the same problem on Ubuntu 16.04 and I guess the solution is similar regardless:
[code]

[2019-07-08 11:42] AlexanderTaeschner commented on #11709
Although there was a fix merged to dotnet/sdk, this fix seems to be not included in the latest SDK (3.0.100-preview8-012929) yet! The included Microsoft.NET.Build.Tasks.dll has the version 3.0.100-preview8.19354.2+adf76a594158a742e2c22b49b0fb4942cb53317d.

[2019-07-08 14:42] Jericho opened #11784 "dotnet restore executes twice on a unit testing project"
## Steps to reproduce
I execute the dotnet restore command agains my .NET solution like so:
[code]
This solution contains three C# projects: a library, a unit testing project and an integration testing project.

## Expected  behavior
I expect the restore command to be executed once against each of the three projects and therefore I expect the output to look something like this:
[code]

## Actual b

[2019-07-08 17:52] nguerrera commented on #11709
@AlexanderTaeschner This can happen where a fix made in a release branch doesn't flow to master right away. Keep in mind that daily builds like the preview 8 build you're using are not official releases. The official preview 7 will have this fix as will the official preview 8. We don't generally make guarantees about when daily builds will have certain changes. That said, I will look at getting th

[2019-07-08 18:15] Jericho commented on #11784
After much trial and error, I finally figured out that the presence of the following line in my unit testing `csproj` is causing restore to execure twice:
 `<DotNetCliToolReference Include="dotnet-xunit" Version="2.3.1" />`.

[2019-07-09 17:09] livarcocc commented on #11756
@vijayrkn for launchsettings.json

@ericstj @ahsonkhan about the changes in json parsing.

[2019-07-10 01:05] nguerrera commented on #11756
I think there's just an option that we need to pass in to allow comments.

[2019-07-10 08:22] LXBdev commented on #10053
This confused me again today:

Microsoft (R) Build Engine version 16.1.76+g14b0a930a7 for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

Switch: --interactive

But maybe my SDKs are just outdated or mismatch somewhere...

[2019-07-10 10:10] vnwonah opened #11812 "build.cmd fails on windows when space is in directory path"
## Steps to reproduce
clone the cli repo
run `build.cmd` from commandline

## Expected  behavior
build starts

## Actual behavior
build fails with error:

    The term C:\Users\<FirstPartofUserName> is not recognized as the name of a cmdlet,
    function...
    verify that the path is correct and try again.

## Environment data
`dotnet --info` output:

## Investigation

    $RepoRoot = "$PSScriptR

[2019-07-10 11:40] WeihanLi opened #11814 "dotnet exec with fx project got error `The library 'hostpolicy.dll' required to execute the application was not found`"
## Steps to reproduce

I've upload a demo here <https://github.com/WeihanLi/FxProjectDotNetExecBug>

## Expected  behavior

should work like dotnet core project

## Actual behavior

can not exec and get an error like

[code]

![error](https://github.com/WeihanLi/FxProjectDotNetExecBug/raw/master/images/2019-07-10_193451.png)

## Environment data

`dotnet --info` output:

.NET Core SDK (reflecting

[2019-07-10 17:14] livarcocc commented on #11814
It seems like you are asking for dotnet to be able to activate full framework apps, given that your exe is a net472 app. I don't believe this is supported, but in any case, I am going to move this issue to dotnet/core-setup where they can confirm and close this issue or continue the conversation.

[2019-07-10 17:19] livarcocc commented on #11812
@peterhuene this seems like it would be a good first issue. Mainly figuring out proper quotation in the run-build.ps1 script.

What do you think?

[2019-07-10 17:27] ericstj commented on #11756
Comments are disallowed by default but can be enabled in the reader settings. If you’d like to permit comments enable this setting : https://github.com/dotnet/corefx/blob/1a26c1617216c078e725ed0a697b93e2cc5d3074/src/System.Text.Json/ref/System.Text.Json.cs#L34.  Which component is responsible for reading LaunchSettings?  That’s where this change should go.  @bartonjs @grabyourpitchforks

[2019-07-10 17:55] anurse commented on #11756
Yep, we've done this for [the Microsoft.Extensions configuration logic](https://github.com/aspnet/Extensions/blob/32446d4efff557a58927107f72e4c59b89daf767/src/Configuration/Config.Json/src/JsonConfigurationFileParser.cs#L27-L31) and other places where we previously got comment handling through Json.NET's defaults.

I think the S.T.J behavior of disallowing comments by default is more spec-complian

[2019-07-10 19:10] vijayrkn commented on #11756
@BillHiebert - can you please help with this?

[2019-07-10 19:19] nguerrera commented on #11756
Just to clarify, the code is in this repo, and owned by @vijayrkn's team.

[2019-07-10 19:56] genifycom opened #11822 "dotnet publish gets access denied in only in release mode"
## Steps to reproduce
dotnet publish works for -c Debug but gets ACCESS DENIED generating DLL for -c Release

## Expected  behavior
Build would work for either configuration

## Actual behavior
-c Debug wotks but -c Release does not

## Environment data
`dotnet --info` output:

Publish with -c Release fails with:
... publish: C:\Program Files\dotnet\sdk\2.2.105\Microsoft.Common.CurrentVersion.targ

[2019-07-10 19:57] #11709 closed

[2019-07-10 20:40] ericstj commented on #11756
@nguerrera I wonder if the SDK had other files that supported comments previously but don't with the new JSON library:
https://github.com/dotnet/cli/search?q=JsonDocument.Parse&unscoped_q=JsonDocument.Parse&type=Code
https://github.com/dotnet/cli/search?q=JsonSerializer.Deserialize&unscoped_q=JsonSerializer.Deserialize&type=Code

It might be worthwhile doing a review.

[2019-07-10 21:05] nguerrera commented on #11756
@wli3 Please review those. Some are generated or new in this release, but not all AFAICT.

[2019-07-10 21:40] vitek-karas commented on #11713
See more customer scenarios described in dotnet/sdk#3405

[2019-07-10 22:10] dseefeld opened #11827 "Condition out NETStandard.Library.NETFramework for source-build"
NETStandard.Library.NETFramework is identified as a prebuilt in source-build.  This package is needed for building apps for net4x which use a netstandard libaray.  These should not be included in source-build and an error should be produced if this condition occurs.

Changes to make:

1.	Stop restoring the package during source builds
2.	If the targets hit a case where these would be used, but the

[2019-07-11 17:56] rjmholt opened #11837 "dotnet -sdk snap alias to 'dotnet'"
I just installed the dotnet-sdk snap and was a bit confused:

[code]

Apparently it's possible to [request aliases](https://forum.snapcraft.io/t/commands-and-aliases/3950) in snap. My request is for `dotnet` to be a snap alias for `dotnet-sdk.dotnet`.

[2019-07-11 17:57] livarcocc commented on #11837
@leecow to comment.

[2019-07-11 17:59] livarcocc commented on #11822
I just tried this and could not repro it. Is this just a vanilla project? Do you have any customization?

I wonder if you virus scan is keeping a handle to the file and thus leading to this error.

[2019-07-11 18:00] rjmholt commented on #11837
Trying to use Omnisharp in VSCode with the snap installed also says it can't find the .NET SDK. Not sure if a snap alias would fix that though.

[2019-07-11 21:08] CoreyBuckley commented on #11812
Hi, I'd like to take a stab at this! Currently working on something, should have a PR up by the end of the day. 😄

[2019-07-11 22:45] queen-of-code opened #11842 "Incompat with dotnet test settings files and solution usage"
While testing out the new XPlat Code Coverage functionality in dotnet test via the collectors, I've run into a significant blocking bug in our workflow. We always run tests off a solution file, and generally speaking this works well in our scenarios - and it is several orders of magnitudes faster than attempting to run each test csproj serially.

However, I've noticed that you cannot use a runsett

[2019-07-12 01:14] CoreyBuckley commented on #11812
So, the issue has become more complicated than I thought. I was able to have the build command work in `run-build.ps1` like so:
[code]
Where the file path is wrapped in quotes and the leading ampersand instructs Invoke-Expression to treat the string as a command.

But somewhere along the build process the spaces in the file path must be an issue elsewhere. My log after cloning a new repo, editing

[2019-07-12 01:32] #11088 closed

[2019-07-12 04:15] peterhuene commented on #11842
Hi @queen-of-code.

Thanks for reporting this to us.  I believe this may be fixed in the .NET Core 3.0 SDK previews.  The `--settings` option was made relative to CWD (as one would expect) rather than passing the option down as-is, which caused the property to be relative to each project.

As this was a breaking change in the 3.0 SDK, it's not something we can back-port as a patch to a 2.x SDK.  H

[2019-07-12 05:15] queen-of-code commented on #11842
It's not ideal, but I can probably make it work until RTM in September at least. Thanks for the quick reply!

[2019-07-12 11:44] damageboy commented on #11626
ping?

[2019-07-12 17:35] ViktorHofer opened #11852 "Allow the --roll-forward switch to be used with repo tools"
The runtime-option `--roll-forward` is settable when using the `exec` SDK command but currently not when invoking a repo tool with `dotnet tool run`. If a repo tool doesn't define a roll-forward policy then there's no way to make a tool run on a higher shared framework version.

I'm not up-to-date on the decisions being made around repo tools but naively I would expect that option to be usable wit

[2019-07-12 18:32] wli3 commented on #11852
1. @vitek-karas do we want to support this option? I remember there is no such flag for apphost. That means global tools do not support `--roll-forward`. We don't need to support that for local tools. Set environment variable does work.

2. and it is challenging to come up with a clear UX to support that. `dotnet tool run --roll-forward Major dotnetsay 'hi'` should be short and close to host's syn

[2019-07-12 18:35] wli3 commented on #11852
add release blocking to make sure to discussed that before the release.

[2019-07-12 18:50] wrathofodin commented on #6237
@Peter-Schneider I would prefer to have a single exe (not a host + dll) on Windows like in .NET Framework. It looks really weird now.

[2019-07-12 18:50] wrathofodin commented on #6237
@peterhuene I would prefer to have a single exe (not a host + dll) on Windows like in .NET Framework. It looks really weird now.

[2019-07-12 19:14] peterhuene commented on #6237
@wrathofodin unfortunately that's not how .NET Core activation currently works.  .NET Core is designed to be cross-platform and it needs a platform-native executable that cannot rely on special behavior in the operating system loader to work (like the Windows-only .NET Framework does for its executables).

We currently have no plans to change the design of application activation. .NET Core applica

[2019-07-12 19:44] AnthonyMastrean opened #11856 "Is there a Visual Studio Code problem matcher for `dotnet test` (using mstest)?"
Everywhere I look, people are using this built in `$msCompile` problem matcher, but it doesn't seem to work on my machine.

## Steps to reproduce

Write some failing mstest unit tests. Use the following VS Code custom task. Run tests w/ that task.

**tasks.json**
[code]
**output**
[code]

## Expected  behavior

Failed tests should be recorded as problems in the Problems panel.

## Actual behavior

[2019-07-12 19:45] AnthonyMastrean commented on #11856
I now realize this could be a vscode or vstest issue (depending on where mstest problems are tracked or if it's even their problem).

[2019-07-12 19:52] peterhuene commented on #11856
This issue was moved to microsoft/vscode#77304

[2019-07-12 19:52] #11856 closed

[2019-07-12 19:52] peterhuene commented on #11856
I think this probably belongs to VS Code since I believe `$msCompile` is a built-in matcher and this would be a feature request for a similar built-in to match VSTest output, unless I'm misunderstanding the problem.

I'm going to move this issue to the Code repo for now.

[2019-07-12 20:30] vitek-karas commented on #11852
Number 1 from above is not correct. Apphost does support `--roll-forward`. The way we parse the command line is simple - we take the options we recognize and pass the rest to the app.
I don't know how `dotnet tool run` is implemented, but it should be possible to run the tool's `.exe` directly with the `--roll-forward` parameter.

What I don't understand is why the environment variable `DOTNET_ROL

[2019-07-12 20:56] wli3 commented on #11852
If so we should have the parity with global tools. @KathleenDollard @ViktorHofer we need to discussion the syntax

[2019-07-12 20:58] AnthonyMastrean commented on #9886
Hey. I just worked up a custom VS Code background watching task for mstest and found this issue 😬. It really kills the effectiveness of this task.

[code]

[2019-07-12 21:50] KathleenDollard commented on #11852
@vitek-karas The environment variable affects all roll-forward doesn't it? We anticipate that people may want to be more aggressive with roll forward on tools than on anything they are running.

[2019-07-12 22:05] vitek-karas commented on #11852
The environment variable takes effect if the app doesn't explicitly specify roll forward policy, but yes, it affects anything executed with it. I was relating this to the scenarios which @ViktorHofer probably has in mind which are all around the "in-repo" tools. The "repo" typically has exactly one version in it (also typically something very recent). So when we run things in the repo, we pretty m

[2019-07-12 23:32] livarcocc commented on #10260
Fixed by https://github.com/dotnet/core-sdk/pull/2991.

[2019-07-12 23:32] #10260 closed

[2019-07-12 23:49] wli3 commented on #11756
I discussed all possible behavior breaking files with the team already. RuntimeConfig is generated, we agreed the change in a stand up. Local tools are still in preview, break it is ok. AddPackageParser read from nuget web api. we don't own launchSettings.json

[2019-07-12 23:52] nguerrera commented on #11756
Which runtime configs do we read in this repo? It is possible that they could be hand-edited in general. It is a config file after all and a very simple one. I could see someone adding a comment.

[2019-07-13 00:07] wli3 commented on #11756
@nguerrera it could also have trailing comma and all small mismatch behavior with system.text.json. we need to draw the line somewhere. The change is in very early preview 3.0, so far no complain. I think it is appropriate

[2019-07-13 00:09] nguerrera commented on #11756
@wli3 That is reasonable. Thanks.

[2019-07-13 00:26] ViktorHofer commented on #11852
Exactly. The environment variable of course would work but we don't want to set it for the entire environment ie test script just because of repo tools and their lack of a roll forward strategy.

I was discussing this change with Will offline and I agree with Vitek that runtime-options should just work, ideally with the same Syntax and ordering as with dotnet exec.

[2019-07-13 05:24] anurse commented on #11756
Just a data point to add to the `.runtimeconfig.json` discussion: The native core-host logic **does** permit comments in `.runtimeconfig.json` (I just tested it :)).

If there are places where the SDK is reading JSON files, it seems appropriate to make them as compatible with the old logic as possible (for the places we know we can support) to encourage users to move to the latest SDK without rese

[2019-07-13 06:08] nguerrera commented on #11756
Why are we reading runtimeconfig at all in this repo?

Let's just allow comments when doing so. I see risk and no upside in not allowing it.

[2019-07-13 06:15] nguerrera commented on #11756
Also feels like I should be allowed to add comments to tools manifest even if it hasn't ever sbipped rtm with comment support. Will, I'm sorry to be changing my mind here and also sorry that I don't remember the discussion you mention. It's like a one line change to opt in to comments, right? So far I haven't heard any real reason not to do that. Just reasons why it's not likely to be a breaking c