[2016-05-19 15:15] xoofx commented on #2902
Hm, this bug is quite annoying. Most of MSBUILD project types I know are supporting "Content/CopyToOutput" transitively. It makes the `copyToOutput` currently in project.json completely useless as soon as you use project dependencies.

[2016-05-19 15:31] blackdwarf commented on #3123
@smoothdeveloper you seem to be running on Win7. Do you have Virtual Box installed? Or similar? If so, you are probably running into this (known) issue: #1732 . Can you check to see if that solves your problem?

[2016-05-19 15:46] glennc commented on #2913
We talked once about making emitEntryPoint automatic. Did we decide not to do that for a reason?

[2016-05-19 15:53] smoothdeveloper commented on #3123
@blackdwarf thanks for insight.

I do have VMWare installed, which indeed creates extra network adapters.

Are we talking about a networking issue low in the dotnet core stack (HAL or managed network socket lib)?

In order to reproduce the issue, I need to clean up my nuget cache, but I have no clue where `dotnet restore` is actually caching stuff? It seems you didn't get this simple answer to the

[2016-05-19 16:28] blackdwarf commented on #2913
@glennc I thought that is a thing that needs Roslyn work, no?

[2016-05-19 16:39] blackdwarf commented on #3123
@smoothdeveloper could be, the Nuget team is still investigating, as you can see in the linked issue. To see if this solves your issue, just disable those virtual adapters and re-run `dotnet restore`.

The NuGet cache is in your home directory on Windows under `.nuget` in most cases. There is a `packages` dir below it that you delete.

[2016-05-19 16:40] Kieranties opened #3135 "Dotnet restore does not honour nuget.config 'repositoryPath'"
## Steps to reproduce
1. `dotnet new` in an empty directory
2. Add the following nuget.config to the same directory
[code]
3. `dotnet restore` in the same directory

## Expected  behavior
Packages for the solution are restored to _c:\packages_

## Actual behavior
Packages for the solution are restored to _c:\users\<username>\.nuget\packages_

## Environment data
.NET Command Line Tools (1.0.0-prev

[2016-05-19 16:50] vcsjones commented on #3133
I wonder why [CS2008](https://msdn.microsoft.com/en-us/library/swb241d7.aspx) wasn't getting bubbled up from Roslyn, or why Roslyn wasn't producing that error at all.

[2016-05-19 16:59] meyerrj commented on #2855
It would be helpful if the `dotnet publish` command had an argument such as `--clean` or `--delete-existing`.  Such an option would be similar to the checkbox in Visual Studio's File Publish Options for "Delete all files prior to publish".

Having a `dotnet clean` command would be nice as well... The current alternatives appear to be manually deleting stale files from the bin/obj folders, or addin

[2016-05-19 17:06] sunsided opened #3136 "Allow dotnet test to run on all test projects in a given directory"
For continuous integration, I want to be able to run `dotnet test` on all test projects in the `test` directory of my solution, without having to explicitly configure each subdirectory manually, by e.g. issuing

[code]

or

[code]

from the solution directory.
## Steps to reproduce

In the solution directory, run

[code]
## Expected  behavior

Runs all tests in `test` subdirectory.
## Actual behav

[2016-05-19 17:09] dazinator commented on #1139
@GuardRex - In terms of the VS move to dotnetcli - any ideas how this is going to be released - i.e will we see an update for VS 2015? Or will this be some preview version of the next version of VS that we will have to download and install seperately? I'm just trying to get a handle on what the upgrade path may be for the team :)

[2016-05-19 17:14] Petermarcu commented on #1139
@dazinator , The Preview tools that just released on Monday on top of VS 2015 are built on top of the CLI. Over time, you will see more and more integration. There is a link to the installer here. https://www.microsoft.com/net/core#windows

[2016-05-19 17:19] GuardRex commented on #1139
@dazinator Reports at Slack are very good about the VS experience with RC2. I'm **still** using VS Code, and I don't have a firm switch-back-to-VS date for myself yet.

Here's the sign-on to Slack: http://tattoocoder.com/aspnet-slack-sign-up/ ... pretty much everyone is over there. A few us still bop around at JabbR (the cool people anyway :sunglasses: lol). I have an #iis channel at Slack with he

[2016-05-19 17:20] anoordende commented on #3135
This issue can also be reproduced with a global NuGet.config in e.g. (Windows) `C:\Users\<name>\AppData\Roaming\NuGet\NuGet.config` - A Visual Studio package restore will honour this config, `dotnet restore` does not.

[2016-05-19 17:24] rstropek opened #3137 "dotnet hangs in Docker Container in Azure"
## Steps to reproduce
* Create Azure VM based on *Docker on Ubuntu Server* (`CanonicalandMSOpenTech.DockerOnUbuntuServer1404LTS`)
* Connect to VM using e.g. PuTTY
* Start new Docker container: `docker run -it microsoft/dotnet:latest /bin/bash`
* Run any `dotnet` command (e.g. `dotnet --info` or `dotnet new`)
* The `dotnet` command will print the expected output but hang at the end and never return

[2016-05-19 17:25] blackdwarf commented on #3048
Well, @julielerman that line above will also overwrite your path. So, it seems the real solution here is to go back to symlinking. :(

[2016-05-19 17:26] vcsjones commented on #3135
I think `dotnet` and nuget in general prefer using the `NUGET_PACKAGES` environment variable now.

[2016-05-19 17:31] blackdwarf commented on #3121
/cc @schellap

[2016-05-19 17:32] blackdwarf commented on #3119
@davidfowl I think what @jeffschwMSFT wanted to do was to publish a library. This is not supported, as libraries are supposed to be `dotnet pack`-ed. We need guidance on this methinks.

[2016-05-19 17:33] blackdwarf commented on #3114
@Greg15153 can you provide some more details? Wouldn't `dotnet test > output.txt` work? Or are the details that it prints not enough?

/cc @livarcocc

[2016-05-19 17:34] blackdwarf commented on #3113
/cc @krwq

[2016-05-19 17:44] xanather commented on #2902
I create a related issue back in Jan https://github.com/dotnet/cli/issues/1090

[2016-05-19 17:57] dazinator commented on #1139
@Petermarcu - ahh wow I had totally missed this. Installing now ;)
@GuardRex - brilliant i'll sign up! - cheers ;)

[2016-05-19 17:59] brthor commented on #3137
Why is your rid `debian.8-x64`

Can you show output of:
`cat /etc/os-release`?

[2016-05-19 18:03] rstropek commented on #3137
It is the standard Azure VM *Docker on Ubuntu Server* provided by Canonical and MS. Here is the output of `cat /etc/os-release`:
[code]

BTW: I built my own Docker image using Microsoft's Dockerfile at https://github.com/dotnet/dotnet-docker/blob/master/1.0.0-preview1/Dockerfile. This locally built images shows the same behavior.

[2016-05-19 18:06] ajaybhargavb commented on #2861
b6e3224387e6d66fac982250d88783ae4289657d

[2016-05-19 18:06] #2861 closed

[2016-05-19 18:07] rstropek commented on #3137
Sorry, this was the output from the Docker host. I assume you wanted to see the output from within the Docker container where `dotnet` runs. Here it is:
[code]

[2016-05-19 18:08] CoreyKaylor commented on #3069
Followed the recommendations on the xunit issue and was able to get things working again.

[2016-05-19 18:14] brthor commented on #3137
I made a mistake and assumed that dotnet was running on the Ubuntu host for some reason 😄

the debian rid makes sense in the docker container.

[2016-05-19 18:31] blackdwarf commented on #3119
OK, will keep this issue and rename it to track work for a slightly better error message that will inform users about libraries and point them somewhere.

@piotrpMSFT thoughts?

[2016-05-19 18:33] troydai commented on #3083
This is still bothering me. Do we have a quick solution?

[2016-05-19 18:34] Greg15153 commented on #3114
Outputting the result of the command and parsing out what I need isn't too big of a deal but it is a little lacking. Previously before switching over to dotnet core we would use VSTest.Console and had the option to output TRX files.

To be able to know what tests were run and how long in an XML output would be great. Found this example of xunit results.
[code]

[2016-05-19 18:39] brthor commented on #3114
You can pass `-xml /some/path/out.xml`

[2016-05-19 18:43] Greg15153 commented on #3114
Thats perfect. Wish dotnet test --help showed me that :)

[2016-05-19 18:43] #3114 closed

[2016-05-19 18:55] Kieranties commented on #3135
@vcjones day to day development is going to be incredibly tedious having to set an environment variable every time you change solutions and want to restore/build.

What happens if two different feeds dump packages into the same location and possibly cause conflicts?

I should be able to do a nuget restore for any solution and not affect the on disk packages for another. It's an option that already

[2016-05-19 19:26] blackdwarf commented on #3137
/cc @dleeapho @MichaelSimons

[2016-05-19 19:33] niemyjski commented on #16
This functionality needs to be removed from vs if it's not going to be supported on the command line :)

[2016-05-19 19:37] MichaelSimons commented on #3137
@rstropek - What is the kernel version of the host?  Depending on the kernel version, you may have hit https://github.com/docker/docker/issues/18180 which is a docker issue.  The [solution](https://github.com/docker/docker/issues/18180#issuecomment-193708192) on Ubuntu 15.10 is to Upgrade kernel to 4.2.0-30.35 or later.

[2016-05-19 19:42] blackdwarf commented on #3130
@davidfowl @anurse care to weigh in?

[2016-05-19 19:46] DamianEdwards commented on #1985
@piotrpMSFT @blackdwarf can we please get this looked at for the next tools preview. This is making it impossible to use `dotnet run` when writing interactive console applications, like project tools.

[2016-05-19 19:48] blackdwarf commented on #3135
/cc @emgarten @yishaigalatzer

This to me looks like a NuGet issue.

[2016-05-19 19:49] GiorgioG commented on #16
@blackdwarf why isn't it making it into v1?

[2016-05-19 19:50] tmat commented on #1433
Microsoft.DiaSymReader.Native v1.4.0-rc has just been published, which doesn't have dependency on VCRUNTIME140 anymore.

[2016-05-19 19:51] davidfowl commented on #3130
It's slower because of a bunch of reasons. In short we'll be looking at improving this post RC2. It's a combination of tooling and runtime here.

[2016-05-19 20:25] vcsjones commented on #3135
I don't think the *source* of a nuget package should be part of the identity of a package. If two packages have the same identifier, I would expect them to the the same package no matter where they come from.

Regardless, I'm not saying that `repositoryPath` in nuget.config shouldn't work and that there should be ways other than an environment variable to do it, but I do think it's a poor practice

[2016-05-19 20:28] vstoykov commented on #2018
I also has the same problem. I'm trying it on Fedora 23 (downloaded Centos binaries).

I know that Fedora is not listed in supported distributions but I just wanted to try. Probably the reason for error is the same as for Ubuntu 16.04 (version of the `icu` is newer in Fedora 23 and Ubuntu 16.04, compared to Debian 8, CentOS 7 and Ubuntu 14.04)

[2016-05-19 20:30] vcsjones commented on #3089
FWIW this was fixed by #2969 and and #2980.

[2016-05-19 20:37] rstropek commented on #3137
@MichaelSimons Yes, that helped. I upgraded to kernel 4.2.8 (http://kernel.ubuntu.com/~kernel-ppa/mainline/v4.2.8-wily/), restarted the host, started a container and now the dotnet CLI works. Thank you for your help!

For RTM, I think it would be great to have a `Docker on Ubuntu` image in Azure that supports running dotnet CLI without prior updating the kernel. However, my current problem is solv

[2016-05-19 20:37] mvermef opened #3141 "DotNet SDK Found, DotNet.DLL not.... but its there"
## Steps to reproduce
Installed SDK Preview

## Expected  behavior
No Error

## Actual behavior
Severity	Code	Description	Project	File	Line	Suppression State
Error		The project is configured to use .NET Core SDK version 1.0.0-* which is not installed or cannot be found under the path C:\Program Files (x86)\dotnet. These components are required to build and run this project.	PcasoftMVC	C:\Users\Mor

[2016-05-19 20:45] yishaigalatzer commented on #3135
Here is where it stands
1. The source is not part of the id. The model is the identity is id + version and that's it.
2. The repository path will never be respected. It is the path for packages.config based projects
3. We do have a nuget.config setting for the global packages folder. The CLI needs to pick it up, there is no nuget work to enable it, so this issue does belong here.

Get Outlook for

[2016-05-19 21:01] muratg commented on #3130
@Eilon Move to MVC?

[2016-05-19 21:01] anorborg commented on #3048
I think an additional helpful diagnostic step is to `echo $PATH`. If the PATH is being overwritten by a shell configuration, you should see that its missing the reference to dotnet.

Regarding GitHub Mac Client. I did a fresh install on a clean mac and no issue, so this could be a bad `.bash_profile` mod on my end at some point.

[2016-05-19 21:10] joergjo commented on #3103
Just found this: [dotnet-test-xunit 1.0.0-rc2-build10015 has a 32 bit binary in the runtimes/net451/win7-x64 directory](https://github.com/xunit/xunit/issues/843). So it is an xUnit issue after all.

[2016-05-19 21:10] blackdwarf commented on #3135
/cc @piotrpMSFT

[2016-05-19 21:14] livarcocc opened #3143 "dotnet-test: expose the help information from the runner when doing dotnet-test --help"
We should consider also printing the help from the runner when the user does dotnet test --help. This would make discovering the runner options a lot easier.

[2016-05-19 21:14] livarcocc commented on #3114
It does not because that's a capability of the runner dotnet-test-xunit and not of dotnet test. Maybe we should do something to show the capabilities of your runner as well, when you do dotnet-test --help. I have created https://github.com/dotnet/cli/issues/3143 to consider this.

[2016-05-19 21:27] #3141 closed

[2016-05-19 21:36] schotime commented on #1977
I'm seeing this issue too.
Will it be fixed for RTM?

[2016-05-19 21:44] #3038 closed

[2016-05-19 21:55] joshmouch opened #3144 "Upgrading to DotNet Core RC2 Preview seems to have broken Visual Studio"
Let me start by saying that I'm receiving errors left and right inside Visual Studio since upgrading to the newest version of DotNet Core.  I'm going to just post one of the problems here in the hopes that they're all related and/or can be fixed the same.  I've tried uninstalling/repairing the packages here (https://www.microsoft.com/net/core#windows) several times, with no luck.

## Steps to repr

[2016-05-19 21:59] bragma commented on #1370
Probably not a surprise, but I have the same problem on a project.json containing:

"frameworks": {
	"net461": { }
}

[2016-05-19 22:49] Eilon commented on #1977
@piotrpMSFT @Petermarcu can we have someone look at this? It's quite difficult to read the un-colorized output when using `dotnet run` (or similar). It seems the fix is as easy as *not* piping the sub-command's output. The piping breaks streaming the data "live" as well as breaks any console commands that don't go out on the stream, such as setting the current console colors.

cc @DamianEdwards

[2016-05-20 00:03] ryanbrandenburg opened #3145 "Differentiate between versions of a test with different InlineData"
## Steps to reproduce
1. Launch MusicStore in VS
2. Run the test SmoeTests_X64.WindowsOS (any of the InlineData versions will do)
3. Select the test after it finishes and see that it's run 9 times (the same number of time as the test has InlineData attributes)
## Expected  behavior

I would expect that each InlineData would only run itself and only run once.
## Actual behavior

Every InlineData ru

[2016-05-20 01:06] vijayrkn commented on #3131
Do you see any output from the postpublish section ?

e.g:
Configuring the following project for use with IIS: 'C:\Temp'
Updating web.config at 'C:\Temp\web.config'

If you don't see this, Can you try running this command manually providing the publishFolder and framework?

"dotnet publish-iis --publish-folder %publish:OutputPath% --framework %publish:FullTargetFramework%"

[2016-05-20 01:21] gulbanana commented on #72
Is support for VB being tracked anywhere else?

[2016-05-20 01:22] gulbanana commented on #72
Nevermind, I just saw #587

[2016-05-20 01:36] mikeharder opened #3146 "dotnet build is slower on Linux than Windows"
## Steps to reproduce
1. Create Linux VM in Hyper-V
2. Run the following commands on both Windows and Linux
 1. `dotnet new`
 2. `dotnet restore`
 3. `set DOTNET_CLI_CAPTURE_TIMING=1` (Windows) or `export DOTNET_CLI_CAPTURE_TIMING=1` (Linux)
 4. `dotnet build`

## Expected  behavior
Build time is about the same on Windows and Linux.

## Actual behavior
### Windows
[code]

### Linux
[code]
## Envir

[2016-05-20 02:07] blackdwarf commented on #3115
@piotrpMSFT I filed this in the future 1.1.0 milestone because I'm not sure what is the priority of this one.

[2016-05-20 02:18] #606 closed

[2016-05-20 02:18] #603 closed

[2016-05-20 02:35] blackdwarf opened #3147 "Improve error messages and/or help content in various commands"
This is an aggregate issue that tracks improving error messages in various commands for various cases. We should add to this issue whenever we find one. The current set below is based on feedback from users and testing.
- [x] Add another sentence to `dotnet publish` to inform the user that publishing libraries is not a valid operation (see #3119)
- [x] Add valid configurations in help for `dotnet

[2016-05-20 02:37] blackdwarf commented on #3063
Or, at least post how is your path in said files configured. This seems to be the "ugly bit".

[2016-05-20 02:38] blackdwarf commented on #3048
Will track this with #3063 so closing this one.

[2016-05-20 02:38] #3048 closed

[2016-05-20 02:47] blackdwarf commented on #2571
@cheers00 this document explains the types of portability that apps can have and what is the output of each: http://dotnet.github.io/docs/core-concepts/app-types.html.

I will close this issue. If this explanation is not sufficient, please reopen this issue or file a new one under dotnet/core-docs.

[2016-05-20 02:47] #2571 closed

[2016-05-20 03:23] blackdwarf commented on #2286
Seems the #2643 is closed and fixed. I've added the `--` to the docs on http://dotnet.github.io/docs/core-concepts/core-sdk/cli/dotnet-run.html. With this, will close this one. Reopen if all of this is not solving it.

[2016-05-20 03:23] #2286 closed

[2016-05-20 03:25] blackdwarf commented on #1641
Da thing has been done. :)

[2016-05-20 03:25] #1641 closed

[2016-05-20 03:26] blackdwarf commented on #1496
@jeremymeng is this still valid/reproing?

[2016-05-20 03:28] blackdwarf commented on #764
OK, this has been figured out and done.

[2016-05-20 03:28] #764 closed

[2016-05-20 03:30] #1022 closed

[2016-05-20 03:31] blackdwarf commented on #1230
No activity on this issue for a couple of months. I will go ahead and close this. If more is needed please reopen.

[2016-05-20 03:31] #1230 closed

[2016-05-20 03:33] blackdwarf commented on #2258
/cc @richlander

@richlander we also have to do this for the release.

[2016-05-20 04:33] #2206 closed

[2016-05-20 04:33] troydai commented on #2206
Close for the reason stated in the PR.

[2016-05-20 04:34] vmrocha commented on #2811
I don't agree that its a nuget issue. I believe that it is more likely that dotnet cli is misusing nuget somehow.

[2016-05-20 05:12] dasMulli commented on #3147
There also still is #2896

[2016-05-20 05:16] blackdwarf commented on #3147
@dasMulli thanks, added in the list above.

[2016-05-20 05:30] blackdwarf commented on #3143
@livarcocc I think we should do this. First, very easy step, would be to simply inform the user that there is the possibility to pass in `--help` to the runner as well or a link or something. Second, better step, would be to pass in the `--help` to the runner, collect the output and show it on `dotnet test` as well.

Something like (off the top of my head):

[code]

Thoughts?

[2016-05-20 05:36] davidfowl commented on #1579
@ciel and @ayende If you can reproduce with the final RC2 bits reopen the issue

[2016-05-20 05:36] #1579 closed

[2016-05-20 05:42] blackdwarf commented on #3035
Seems to me that the behavior here is very close to the JSON spec. Also, as @GuardRex mentions above, this issue has been debated previously on ASP.NET Core repos. I will close this issue. If you believe that this an error, please reopen.

[2016-05-20 05:42] #3035 closed

[2016-05-20 05:43] blackdwarf commented on #3029
@DamianEdwards here as well, but I would agree with @GuardRex.

[2016-05-20 05:44] blackdwarf commented on #3006
@mutex007 this @eerhardt suggestion solve your problem?

[2016-05-20 05:46] blackdwarf commented on #2457
@brthor have you seen this?

[2016-05-20 05:48] blackdwarf commented on #2434
This has to do with the default verbosity levels in `dotnet restore` as well. This is covered in #1623 I believe.

/cc @piotrpMSFT

[2016-05-20 06:20] rstropek commented on #3137
Just a hint for people who want to demo dotnet CLI on Azure in a Docker container: You can use the Azure ARM Quickstart Template for Docker on Ubuntu (https://github.com/Azure/azure-quickstart-templates/tree/master/docker-simple-on-ubuntu). This will give you an environment where dotnet CLI works inside a Docker container out of the box. No need to update the Linux kernel there.

[2016-05-20 06:20] #3137 closed

[2016-05-20 07:04] 4nderss commented on #3131
It crashes immediately aftert the gulp build command. Checking the output folder C:\Users\Anders\AppData\Local\Temp\PublishTemp\Pascal51 it is empty. So I have no sources to use with donet publish-iis . Before I migrated to rc2(the new targets and props in my xproj) I saw the output you are reffering to, but now It crashes before.

Here is my xproj aswell.

[code]

[2016-05-20 07:09] igatanasov commented on #3143
also it will be very easier just to output the xunit.console.exe arguments

dotnet test --help => xunit.console.exe output

xUnit.net Console Runner (64-bit .NET 4.0.30319.42000)
Copyright (C) 2015 Outercurve Foundation.

usage: xunit.console <assemblyFile> [configFile] [assemblyFile [configFile]...]
[options] [reporter] [resultFormat filename [...]]

Note: Configuration files must end in .json (f

[2016-05-20 07:43] Kieranties commented on #3135
@vcsjones I completely agree that two packages with the same identifier should be the same package, no matter the feed.  However when the feed is not managed by yourself and two feeds provide different versions of a package, always using a global packages folder introduces problems. (Appreciate you're response just highlighting the issue I'm trying to prevent)

e.g. we had several scenarios when c

[2016-05-20 08:06] fubar-coder commented on #3069
I'm closing this issue, because it's not related to dotnet/cli. Updating xunit to rc3 works. The myget gallery for xunit where s/o can download the RC3: https://myget.org/gallery/xunit

[2016-05-20 08:06] #3069 closed

[2016-05-20 09:21] asadsahi opened #3151 "The .NET CLI did not correctly restore debugger files."
## Steps to reproduce
1) Installed latest version of vscode

![image](https://cloud.githubusercontent.com/assets/3470892/15423149/1bb655c2-1e74-11e6-818a-df50f7d910c1.png)

2) Install latest version of c# extension
![image](https://cloud.githubusercontent.com/assets/3470892/15423286/a0fca90c-1e74-11e6-9a17-9d51d92a6a3b.png)

3) When opening an aspnet core project, vscode tries to install .net core

[2016-05-20 10:22] tmds opened #3152 "dotnet-install.sh tries to download a non existing tar.gz file on Debian 8"
I am unable to install dotnet on Debian Jessie.

When executing `curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh | bash /dev/stdin --version 1.0.0-preview1-002702`, the installer reports it cannot download `https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview1-002702/dotnet-dev-debian-x64.1.0.0-preview1-002702.tar.gz`.

[2016-05-20 10:27] tmds commented on #3152
There is a file at (preview->beta) https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/1.0.0-preview1-002702/dotnet-dev-debian-x64.1.0.0-preview1-002702.tar.gz.

So probably the installer is broken by: https://github.com/dotnet/cli/commit/bf9b5a928845998cc0268cf95559aea0e559183f#diff-3385102241bcd3718b9ca13a0c55b9af
/cc @eerhardt

[2016-05-20 11:41] derekdreery opened #3153 "Issue during installation of CLI tools"
## Steps to reproduce
Install the CLI tools on my computer

## Expected  behavior
Success

## Actual behavior
Access Denied

## Cause
I'll dump the full installation logs below, but the key section is

[code]

I don't really know enough about the registry to know why this step is failing.

Full install log:

[code]

[2016-05-20 12:11] macgyver76 commented on #3103
@joergjo It works if you download RC3 of `dotnet-test-xunit": "1.0.0-rc3-*`. Hovewer VS itegration (eg. discovering tests in Test Explorer) should be provided (am I wrong?) by the MS guys.

[2016-05-20 12:20] julielerman commented on #3048
just a note that I pointed out these zsh and bash anomalies along with links to this issue and 3063 in my blog post about updating to RC2 (http://thedatafarm.com/data-access/updating-to-rc2-changes-to-efcore-aspnetcore-postgresql-driver-xunit/)

[2016-05-20 12:22] yishaigalatzer commented on #3135
It is not deprecated, you can have a solution that mixes both modes, repositorypath refers only to packages that introduce a relative path.

Get Outlook for Android<https://aka.ms/ghei36>

On Fri, May 20, 2016 at 12:43 AM -0700, "Kieranties" <notifications@github.com<mailto:notifications@github.com>> wrote:

@vcsjones<https://github.com/vcsjones> I completely agree that two packages with the same

[2016-05-20 12:26] fubar-coder opened #3154 "netcoreapp referencing PCL project cannot find the PCL when run"
## Steps to reproduce

1. Create a .NET Core app
2. Create a PCL library (profile 259)
3. Reference the PCL library from the .NET Core App (project reference)
4. Use the PCL library from the .NET Core app
5. Start the .NET Core app

Example application: [TestRestSharpPortable.zip](https://github.com/dotnet/cli/files/274534/TestRestSharpPortable.zip)

## Expected  behavior

The .NET Core app should

[2016-05-20 12:34] fubar-coder opened #3155 "PCL bait and switch trick not working any more"
## Steps to reproduce

1. Create a `net45` app with `dotnet new`
2. Create a PCL library (profile 259)
3. Add `FubarCoder.RestSharp.Portable.HttpClient` (4.0.0-alpha1-5) as dependency to the `net45` project
4. Add `FubarCoder.RestSharp.Portable.Core` (4.0.0-alpha1-5) as dependency to the PCL project
5. Reference the PCL library from the `net45` project (project reference)
6. Use the PCL library fr

[2016-05-20 13:19] eerhardt commented on #3152
@tmds - If you want to install the "Preview1" bits, you should use the install scripts in the "Preview1" branch.  The scripts are versioned with the releases, so we can make changes like where the files get uploaded to in Azure, how they get laid out on disk, etc.

So instead of:

`https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh`

use

`https://raw.githubuse

[2016-05-20 13:48] svick opened #3156 "README shouldn't mention DNX"
On the topic of ASP.NET, README.md says:

I don't think RC1 or DNX should be mentioned anymore. Also http://get.asp.net/ is now just a redirect to https://www.microsoft.com/net.

I would send a pull request, but I'm not sure what should that section say now, if anything.

[2016-05-20 14:03] MichaelSimons commented on #3115
With the interest in Nano, it would sure be nice to have a one line installation story sooner rather than later.

cc @dleeapho

[2016-05-20 14:25] pranavkm opened #3157 "Add a builder API to work with DependencyContext"
Per https://github.com/aspnet/Mvc/pull/4672/files/8651e71758e11828e66b9175e999f938fb6a3c2e#r63941253, the goal is to create a nicer API to construct `DependencyContext` instances.

[2016-05-20 14:28] pofallon commented on #3063
I ran into the same issue.  I'm using oh-my-zsh.  Here's the relevant portion of my ~/.zshrc:

[code]

Manually creating the symlink to /usr/local/bin/ fixed it for me.

Thanks!

[2016-05-20 14:35] Liudapeng commented on #3154
http://stackoverflow.com/q/37316112/6361580

[2016-05-20 14:50] blackdwarf commented on #3063
@pofallon one question: how did you install `go`? Using `brew` or their PKG?

[2016-05-20 14:56] blackdwarf commented on #3156
@svick it should just be deleted, I guess. Will create the PR.

[2016-05-20 14:56] blackdwarf commented on #3153
@Sridhar-MS

[2016-05-20 14:57] blackdwarf commented on #3152
@eerhardt hm, than we need to change this in the instructions.

[2016-05-20 15:00] pofallon commented on #3063
Good question -- I don't remember :)  Most of that predated my switch to zsh (I haven't been using zsh very long).

[2016-05-20 15:03] enricosada commented on #3043
@blackdwarf ok fixed, problem was rc2 pass double quotes to tools arguments, previous version `1.0.0-beta-002071` was stripping it. That's ok was an old version

for example `dotnet mergnupkg --source "path/to/package.nupkg"` was passing `--source` and `"path/to/package.nug"` (without stripping double quotes)

fixed with [dotnet-mergenupkg v0.10.2](https://github.com/enricosada/dotnet-mergenupkg/r

[2016-05-20 15:11] pofallon commented on #3063
Same process on a different Mac -- same results, and same fix worked.  Also using oh-my-zsh.  Here's the relevant PATH info:

[code]
I had to manually fix the `.rvm` stuff when moving to .zsh.  I don't remember if I manually added the `/dotnet/bin` path entry (from RC1) or if an installer added that for me.

[2016-05-20 15:15] blackdwarf commented on #3063
@pofallon aha, good. :) Good in the sense that then I know what the problem is.

So it seems that the main culprit here is the way installer for oh-my-zsh works. It creates a `.zshrc` file and then puts the `$PATH` exploded in there. That means that it will overwrite whatever dynamic path is being created using `path_helper` when you launch a new session of `zsh`.

The only way to solve this, apar

[2016-05-20 15:17] haf commented on #3043
Will you PR to suave too?

[2016-05-20 15:19] enricosada commented on #3043
done better, check https://github.com/SuaveIO/suave/pull/439
that pr work with released rc2, not the old version. also examples/Example work

[2016-05-20 15:28] kaanoo2904 commented on #1732
Same here , I got GenyMotion for my Android devs; first i was thought it's because of my home network, but then i still got "timed out after 100000ms" error when trying to restore packages at my office.

My machine is Win 7 x64 SP1.

[2016-05-20 15:57] jeremymeng commented on #1496
Closing now since the installation method for RC2 is different.

[2016-05-20 15:57] #1496 closed

[2016-05-20 16:00] derekdreery commented on #3153
I found the cause - it was McAfee. Might be worth putting a note in the install docs to say that you may need to turn off antivirus when you install.

[2016-05-20 16:45] brthor commented on #3147
What does this mean?

[2016-05-20 16:53] brthor commented on #2457
the conflict with `dotnet-nightly` is by design.

The mono conflict was resolved in #1264

I've self assigned to ensure there wasn't a regression.

[2016-05-20 16:54] blackdwarf commented on #3147
@brthor means that when you do `dotnet build --help` the entry for the `--configuration` argument should contain also the possible values (i.e. Debug, Release etc.)

[2016-05-20 16:57] vijayrkn commented on #3131
Can you run each of these commands individually from commandline and see if you get more info on the error (you might have to add them to the path first)?

npm install
jspm install
gulp build

[2016-05-20 17:03] ncave opened #3158 "Debugger not stopping at breakpoint"
## Steps to reproduce
1. Generate new RC2 netcore project with: dotnet new --lang F#
2. Add a line before the entry point so Program.fs looks like this:

[code]
## Expected  behavior

Visual Studio debugger will stop at the breakpoint.
## Actual behavior

Not stopping at breakpoint.
## Environment data

`dotnet --info` output:

[code]

[2016-05-20 17:09] blackdwarf commented on #3051
This is now fixed in #3150 . @vancem can you verify and close if it behaves correctly? This is on the latest.

[2016-05-20 17:23] brthor commented on #3143
@blackdwarf With your proposal, the help output would change based on the directory (based on the `testRunner` in `project.json) a user is in, which can be confusing for a first time user of dotnet-test (who need `--help` the most).

What if we were to contain in the default help message, a set of options for the most commonly used runner, and override this when a user enters a directory with a pr

[2016-05-20 17:26] dsgouda opened #3159 "dotnet cli installation fails with download error"
## Steps to reproduce
When trying to install dotnet cli using either of the scripts dotnet-install.sh and dotnet-install.ps1 for an older version (1.0.0-rc2-002520) the installation scripts don't seem to find the blob to download
To install, we run the script as
dotnet-install.ps1 -InstallDir <someDir> -Version "1.0.0-rc2-002520"
(similar args for the .sh script)

## Expected  behavior
dotnet cli

[2016-05-20 17:26] brthor commented on #3159
cc @eerhardt

[2016-05-20 17:42] eerhardt commented on #3159
dupe of #3152

[2016-05-20 17:42] #3159 closed

[2016-05-20 18:02] toddlucas commented on #3144
I, too, have been receiving this error. I wasn't sure where to seek help (since VS Tooling doesn't appear to be on Github), so I posted to these two locations:

https://blogs.msdn.microsoft.com/visualstudio/2016/05/16/announcing-updated-web-development-tools-for-asp-net-core-rc2/

https://connect.microsoft.com/VisualStudio/Feedback/Details/2717687

but these have received no attention. I was begin

[2016-05-20 18:02] joshfree opened #3162 "dotnet restore high cpu usage"
Moving issue https://github.com/dotnet/corefx/issues/8711 on behalf of @xyting
<img width="313" alt="2016-05-20 14 43 09" src="https://cloud.githubusercontent.com/assets/14950276/15419548/44396168-1e99-11e6-97c3-1bfda94c6a8b.png">

[2016-05-20 18:03] piotrpMSFT commented on #3152
@blackdwarf yes, the instructions should point to the preview1 branch. Rel/1.0.0 is already actively working on preview2!

[2016-05-20 18:04] piotrpMSFT commented on #3162
This issue belongs in nuget/home.

[2016-05-20 18:04] joshmouch commented on #3144
I think I have a fix.

I went to the following folder:
C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft

And deleted the "DotNet" folder and the "Web Tools" folder.

Then I did a repair (from Programs and Features) of "Microsoft .NET Core 1.0.0 RC2 - VS 2015 Tooling Preview 1".

I'm still testing it, but I'm way further than I was able to get before.

[2016-05-20 18:07] joshmouch commented on #3144
I should also add that I added the environment variable to "opt out" of the new report-everything-that-you're-doing-to-microsoft (i.e. Telemetry) feature. :)

[2016-05-20 18:08] natemcmaster opened #3164 "Framework-level build options not used to determine if a project is runnable"
## Steps to reproduce

[code]

`dotnet run`
## Expected  behavior

"Hello world"
## Actual behavior

App is not runnable. `dotnet run` dies with

[code]
## Workaround

Add a top-level build option with emitEntryPoint = true (and override in other TFMs buildOptions/emitEntryPoint = false).

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-05-20 18:09] piotrpMSFT commented on #3162
Created nuget/home#2827

[2016-05-20 18:09] #3162 closed

[2016-05-20 18:16] gkhanna79 commented on #2831
Doing this change also depends upon whether we are picking up the new build pipeline (which publishes CoreCLR package that depends upon JIt package) or using the Closed build for rtm (which carries JIT inside coreclr package).

[2016-05-20 18:18] blackdwarf commented on #3143
@brthor sounds a little messy. Also, wouldn't we want it to change based on the testRunner? :)

[2016-05-20 18:23] mobaba commented on #3141
I am getting the same error...

[2016-05-20 18:25] piotrpMSFT commented on #3158
@enricosada can you take a look?

[2016-05-20 18:25] livarcocc commented on #3143
I think I am fine with what @blackdwarf initially suggested.

We show the help for dotnet test and under it, we can put some separation: -------- or ===== or something and say test runner help: <runner> and show the content for the runner, if the project hasn't been restored. Otherwise, we can show a message saying restore to see runner help options?

Would this be ok?

[2016-05-20 18:26] brthor commented on #3143
Why messy? It provides a default experience that makes sense for 80% of use cases and caters to new users of the toolset, who might not even be aware of the significance of the testRunner property in the project.json.

It would change based on testRunner when that information is present.

[2016-05-20 18:29] Echogp commented on #3141
Check your .NET component very carefully, I found my .NET CLI component at the very end of .NET framework component, remove it and remove the RC2 component and re-install the RC2 component, when running HelloWorld sample app, delete the old "hwapp" if you have it, create a new one and follow the steps on MS RC2 download page will work.

[2016-05-20 18:29] sokket commented on #3120
I was breaking the outputs out into "packages that users will manually get (exes, msis, nupkgs, debian packages)" and and "packages that automation will grab (archives)". Basically, unless someone knows that they should do otherwise, they should grab the installer or packaged bits....that was my goal.

Thoughts?

[2016-05-20 18:30] mvermef commented on #3141
Global.json..... Version needs to match, sdk installed

[2016-05-20 18:32] piotrpMSFT commented on #3120
What's the benefit of breaking them apart? These are just different projections of the same build artifacts. I'd keep them together.

[2016-05-20 18:34] blackdwarf commented on #3152
This is now done. You can check out https://www.microsoft.com/net/core#debian and see it. Closing the issue with this change.

[2016-05-20 18:34] #3152 closed

[2016-05-20 18:35] piotrpMSFT commented on #3120
Reading closer, this becomes more apparent. The archives are not intermediates and are in fact more mission critical than the native installers. Let's unify. Folks don't have browse access to these directories so unification won't hurt anything.

[2016-05-20 18:38] blackdwarf commented on #3143
@brthor people need to be aware of the significance of the test runner property for now, because it tells them what test runner they are using. I like @livarcocc approach. Consider also one thing: if you mix the two, if people didn't restore, they may try to pass in a switch that fails because the binary is not there to handle it.

[2016-05-20 18:45] toddlucas commented on #3144
Yes! Thank you @joshmouch

I copied the two directories and ran a diff after the repair. It looks like the only file that is changed in DotNet is cache.bin, so it may not be necessary to remove this directory.

My "Web Tools" directory had a large number of files in it. In particular the "Web Tools" directory had a DNX subdirectory with these two files in it:

11/15/2015  01:06 PM            16,57

[2016-05-20 18:56] abpiskunov opened #3166 "[xproj->csproj] In dotnet build/publish add support resource/satellite assemblies and CopyToOutput metadata in csproj projects"
## Steps to reproduce

We need to add support resource/satellite assemblies and CopyToOutput metadata in csproj projects in RTW.

I gave it a shot and it seems that there is also a third scenario when users have some custom Post-Build scripts that copy some stuff to csproj bin folder without any known metadata.

So there are several approaches that we could take:

All changes actually can happen o

[2016-05-20 19:02] dsgouda commented on #3152
eerhardt  do you think the URL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0-preview1/scripts/obtain/dotnet-install.sh would also change in the future (our daily builds depend on this script), also do improvements/bug fixes to the code get posted to this branch?

[2016-05-20 19:18] eerhardt commented on #3152
No, `rel/1.0.0-preview1` shipped on Monday and the only time this branch will change anymore will be for servicing/hotfix changes, which will be rare, if any.

But a change like we just made to `rel/1.0.0` will not happen in `rel/1.0.0-preview1`.  That would be a huge breaking change which we wouldn't be able to make unless it was absolutely necessary (like a security issue).

[2016-05-20 19:38] smoothdeveloper commented on #3123
@blackdwarf, any idea of which upstream ticket on NuGet/NuGet.Client (make sure the capital letters are consistent to make it work on linux, although GitHub Inc. is lenient on that) we should track?

* In #1732 I see a link to some code file in NuGet/NuGet.Client but no issue n°?
* I don't see any Issues tab at the same spot
* in this repository I see 770 open issues but they might collude a lots

[2016-05-20 19:41] amcdnl commented on #3064
Similar issue, its ashamed the installer doesn't auto upgrade the old rc2?

[2016-05-20 19:47] muratg opened #3168 "Add XProj -> CSProj dependency support in DependencyContext"
cc @pakrym

[2016-05-20 19:49] abpiskunov commented on #2961
Just tried it with 1.0.0-preview2-002804 , dll of the csproj is copied , but not a pdb file. Debugging will be broken.

[2016-05-20 19:49] muratg commented on #3130
cc @SajayAntony

[2016-05-20 19:51] alberto-riggi commented on #3073
I have the exact same problem as @jskeet with TFM net452.
project json:
 "dependencies": {

    "xunit": "2.1.0",
    "dotnet-test-xunit": "1.0.0-rc2-build10015"
  },

  "frameworks": {
    "net452": {
      "frameworkAssemblies": {
        "System.Runtime": "4.0.10.0"
      },
      "dependencies": {
        "NSubstitute": "1.10.0"
      }
    }
  },
  "testRunner": "xunit"

dotnet --info:
.NET C

[2016-05-20 19:56] CoreyKaylor opened #3169 "Fail to install with dotnet-install.sh on rel/1.0.0"
## Steps to reproduce
In a shell script running on ubuntu.
`curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh | bash /dev/stdin --version 1.0.0-preview1-002702 --install-dir ~/dotnet`

## Expected  behavior
The script will install the dotnet cli on the distribution of Linux.

## Actual behavior
While trying to install dotnet it will fail to pull down

[2016-05-20 20:01] jskeet commented on #3073
@alberto-riggi: Just to check - you're having this problem on Windows? It only bit me on Linux. (My tiny sample works on Windows with both net451 and net452.)

[2016-05-20 20:04] enricosada commented on #3158
sure @piotrpMSFT

[2016-05-20 20:07] jskeet commented on #2113
@akoeplinger: Could you ping this bug (possibly with a link to more information) when a non-sudo-requiring environment is available? It would be much appreciated. (Admittedly a `language: dotnet` with dotnet already installed would be even better...)

[2016-05-20 20:16] ghost opened #3170 "Readme contains invalid and outdated content"
1. https://github.com/dotnet/cli#release-schedule is stating RC2 release date etc. That ship has already sailed.:ship:  We should have a section about next milestone (RTM?) or no section at all.
2. The [Installers and Binaries](https://github.com/dotnet/cli#installers-and-binaries) and [Ubuntu Installers](https://github.com/dotnet/cli#ubuntu-installers) sections are showing preview1-002702 badges,

[2016-05-20 20:22] rsantos16 commented on #2543
I was getting the same error on Visual studio 2015 Update 2. I noticed that I had a telerik feed configured and the error message was showing this one (It was not the default one), removed it and that fixed the problem without having to add a Nuget.Config.

[2016-05-20 20:25] gkhanna79 commented on #2831
@markwilkie Do we have clarity on whether we will be using the new build pipeline or the closed build?

[2016-05-20 20:28] #3108 closed

[2016-05-20 20:29] gkhanna79 commented on #2831
@piotrpMSFT @Sridhar-MS Have you picked up post-RC2 SharedFW package within CLI?

[2016-05-20 20:30] alberto-riggi commented on #1370
same with net452

[2016-05-20 20:33] markwilkie commented on #2831
@gkhanna79, yes - we should use the new build pipeline if at all possible.  Confirming that this is a CoreCLR pipeline update?  I'm not 100% sure the status of that bringup by Wil.  We are wanting to switch over to the new pipeline for CoreFx today, and intend to have a good tested build by Monday assuming the product and tests build at all after forking.  (We are also building from TFS over the w

[2016-05-20 20:41] svick opened #3171 "How to create application that targets both .Net 4.6.1 and Core RC2?"
Assume that I'm trying to create a very simple ASP.NET Core RC2 application that takes advantage of a .Net Framework assembly, but can also run without it. The code would look something like this:

[code]

Here `System.DirectoryServices.AccountManagement.UserPrincipal` is the type from .Net Framework.

What is the right way to write project.json to make this work?

My assumption was that it would

[2016-05-20 20:42] joergjo commented on #3103
After upgrading to RC3, both `dotnet test` and VS integration work for me. I also didn't need to muck about with any dependencies for the net461 TFM.

[2016-05-20 20:42] alberto-riggi commented on #3073
@jskeet , correct, on windows.
I saw there is another issue regarding this https://github.com/dotnet/cli/issues/1370 .
Your example in win works just targeting net452?
I've read somewhere that if you have net45x and aspnet core as TFMs it works.

[2016-05-20 20:42] piotrpMSFT commented on #956
LibSSL is required for this scenario to work. Take a look at https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/known-issues.md.

[2016-05-20 20:42] #956 closed

[2016-05-20 20:43] piotrpMSFT commented on #952
DNU & DNX have been replaced by CLI.

[2016-05-20 20:43] #952 closed

[2016-05-20 20:44] piotrpMSFT commented on #610
kpm has been deprecated.

[2016-05-20 20:44] #610 closed

[2016-05-20 20:44] jskeet commented on #3073
@alberto-riggi Yes, it works with just net452 - see the code/config in my first post, but with net452. It might be worth you trying that too.

[2016-05-20 20:45] piotrpMSFT commented on #609
The current behavior is consistent with msbuild.

[2016-05-20 20:45] #609 closed

[2016-05-20 20:46] piotrpMSFT commented on #608
k run/web and kpm have been deprecated.

[2016-05-20 20:46] #608 closed

[2016-05-20 20:46] piotrpMSFT commented on #607
kpm has been deprecated.

[2016-05-20 20:46] #607 closed

[2016-05-20 20:46] piotrpMSFT commented on #605
kpm has been deprecated.

[2016-05-20 20:46] #605 closed

[2016-05-20 20:47] piotrpMSFT commented on #604
klr.exe has been deprecated. CLI supports Background GC.

[2016-05-20 20:47] #604 closed

[2016-05-20 20:48] #1433 closed

[2016-05-20 20:48] pranavkm commented on #1370
This is an issue with test runner - https://github.com/xunit/xunit/issues/843. Try the instructions from -  https://github.com/xunit/xunit/issues/843#issuecomment-219868947

[2016-05-20 20:48] piotrpMSFT commented on #602
@smbecker dotnet-pack will soon be replaced with the native NuGet capability.

@rrelyea FYI.

[2016-05-20 20:48] #602 closed

[2016-05-20 20:49] piotrpMSFT commented on #601
kpm has been deprecated.

[2016-05-20 20:49] #601 closed

[2016-05-20 20:59] blackdwarf commented on #600
We have figured this out for RC2. Closing.

[2016-05-20 20:59] #600 closed

[2016-05-20 21:00] blackdwarf commented on #598
DTH is deprecated, we have ProjectModel.Server. Closing this.

[2016-05-20 21:00] #598 closed

[2016-05-20 21:04] blackdwarf commented on #596
Closing this as we are not going to support this moving forward.

[2016-05-20 21:04] #596 closed

[2016-05-20 21:04] blackdwarf commented on #595
DTH has been deprecated.

[2016-05-20 21:04] #595 closed

[2016-05-20 21:04] blackdwarf commented on #593
DTH has been deprecated.

[2016-05-20 21:04] #593 closed

[2016-05-20 21:05] blackdwarf commented on #592
We may want to consider this for the CLI at least for `dotnet build`.

[2016-05-20 21:07] piotrpMSFT commented on #2961
@pakrym can you take a look?

[2016-05-20 21:07] blackdwarf commented on #586
Closing this as there is a story with F# and the new tooling.

[2016-05-20 21:07] #586 closed

[2016-05-20 21:09] blackdwarf commented on #582
DTH has been deprecated. We now have ProjectModel.Server.

[2016-05-20 21:09] #582 closed

[2016-05-20 21:10] troydai commented on #3125
@fubar-coder please try add "dnxcore50" to the list of "imports".

[2016-05-20 21:17] joergjo commented on #3103
I take that back. One of my machines, I do need

`   "net461": {
      "dependencies": {
        "Microsoft.NETCore.Platforms": "1.0.1-rc2-24027"
      }
    }
  `

 in the test project in order to get VS2015 discover them.

[2016-05-20 21:17] blackdwarf commented on #575
DNU wrap is not a CLI construct anymore so I'm closing this.

[2016-05-20 21:17] #575 closed

[2016-05-20 21:19] blackdwarf commented on #573
DNU (and DNX tooling) has been deprecated. Reopen if `dotnet restore` hits this issue.

[2016-05-20 21:19] #573 closed

[2016-05-20 21:20] fubar-coder commented on #3125
`dnxcore50` maps to `dotnet5.4`, which in turn maps to `netstandard1.3`, which seems dangerous. Using `portable-net45+wp80+win8+wpa81+dnxcore50` as workaround works as expected.

[2016-05-20 21:21] blackdwarf commented on #591
The CLI doesn't create a .dnx directory anymore. The installer properly places files in Program Files on Windows. The install scripts also properly defaults on Windows as well.

[2016-05-20 21:21] #591 closed

[2016-05-20 21:24] blackdwarf commented on #567
CLI uses proper NuGet code under the hood, so this is not needed anymore.

[2016-05-20 21:24] #567 closed

[2016-05-20 21:25] blackdwarf commented on #561
Restore uses NuGet, if this is still an issue, it should go to Nuget/Home.

[2016-05-20 21:25] #561 closed

[2016-05-20 21:26] #597 closed

[2016-05-20 21:26] piotrpMSFT commented on #594
deprecated properties produce warnings.

[2016-05-20 21:26] #594 closed

[2016-05-20 21:27] piotrpMSFT commented on #592
Chatted with @blackdwarf and we decided to close this.

[2016-05-20 21:27] #592 closed

[2016-05-20 21:29] piotrpMSFT commented on #590
dnx* tfms are no longer supported.

[2016-05-20 21:29] #590 closed

[2016-05-20 21:29] blackdwarf commented on #558
If this is MVC, it should go to Aspnet/Home.

[2016-05-20 21:29] #558 closed

[2016-05-20 21:31] am11 commented on #1370
@alberto-riggi, with RC2, we can follow this structure in `project.json`:

[code]

Then in VS Test Explorer, you will see the tests after the build.

Or from CLI:

[code]

Note that `dotnet-test-xunit` has not landed on NuGet yet, so before `dotnet restore`'ing, add a file `NuGet.Config` in your solution directory with xUnit's nightlies MyGet feed URL key:

[code]

*(in future, when `dotnet-test-x

[2016-05-20 21:32] pranavkm commented on #591
A bit unfortunate because we still have a %UserProfile%/.nuget directory. I guess we can transfer the bug over to to NuGet team.

[2016-05-20 21:33] piotrpMSFT commented on #584
Differences between CLI and msbuild will be addressed post preview2 in a broader work item.

[2016-05-20 21:33] #584 closed

[2016-05-20 21:33] blackdwarf commented on #562
We have an issue that tracks this for the CLI: #1119

[2016-05-20 21:33] #562 closed

[2016-05-20 21:34] piotrpMSFT commented on #581
This is already fixed in dotnet-compile-fsc.

[2016-05-20 21:34] #581 closed

[2016-05-20 21:35] piotrpMSFT commented on #580
@enricosada is this still an issue?

[2016-05-20 21:36] piotrpMSFT commented on #579
dupe of #164

[2016-05-20 21:36] #579 closed

[2016-05-20 21:38] piotrpMSFT commented on #547
AssemblyInfo.cs is supported in CLI.

[2016-05-20 21:38] #547 closed

[2016-05-20 21:41] piotrpMSFT commented on #548
Closing as the duplicate https://github.com/aspnet/Tooling/issues/311 has been closed as fixed.

[2016-05-20 21:41] #548 closed

[2016-05-20 21:45] alberto-riggi commented on #1370
It worked!

Thanks!

[2016-05-20 21:47] alberto-riggi commented on #3073
Thanks john, I had to use "dotnet-test-xunit": "1.0.0-**rc3**-build10019"  though.
As pointed here
https://github.com/dotnet/cli/issues/1370#issuecomment-220723436

[2016-05-20 21:51] piotrpMSFT commented on #549
@PhilipDaniels that sounds interesting. Can you take a look at http://dotnet.github.io/docs/core-concepts/core-sdk/cli/extensibility.html? It would be great to have these tools available as dotnet extensions!

[2016-05-20 21:51] #549 closed

[2016-05-20 21:53] blackdwarf commented on #591
@pranavkm yup.

[2016-05-20 21:53] piotrpMSFT commented on #550
@onovotny is this still an issue?

[2016-05-20 21:57] piotrpMSFT commented on #551
@AArnott take a look at the CLI repo itself. It implements a particular versioning strategy and uses existing --version-suffix capabilities to have that strategy respected throughout the CLI repo. If you think that there are better hooks to be exposed by CLI to enable other versioning strategies, perhaps you can suggest a design along with scenarios that it would address?

[2016-05-20 21:57] blackdwarf commented on #574
This is implemented in the CLI, closing.

[2016-05-20 21:57] #574 closed

[2016-05-20 21:59] piotrpMSFT commented on #555
Closing as the root bug is > 1 yr old. If this is still an issue please open a new bug.

[2016-05-20 21:59] #555 closed

[2016-05-20 22:00] piotrpMSFT commented on #554
This will be addressed in the new project system.

[2016-05-20 22:00] #554 closed

[2016-05-20 22:00] Sebazzz commented on #2892
Perhaps this can be clarified in documentation. I was trying to run my published app using `dotnet run`, only to find out now it should be run using `dotnet filename.dll`. Never mind, it shouldn't crash with such a vague error message. I haven't tried the preview2 bits yet though.

[2016-05-20 22:00] piotrpMSFT commented on #557
dnx servicing is not a CLI concern.

[2016-05-20 22:00] #557 closed

[2016-05-20 22:01] piotrpMSFT commented on #563
Since we're converging with msbuild, this behavior is expected to fall out of the new project model.

[2016-05-20 22:01] #563 closed

[2016-05-20 22:02] piotrpMSFT commented on #560
DTH no longer exists in CLI.

[2016-05-20 22:02] #560 closed

[2016-05-20 22:06] piotrpMSFT commented on #577
@abpiskunov do you still see this issue in ProjectModelServer?

[2016-05-20 22:08] piotrpMSFT commented on #572
The CLI servicing mechanisms have been implemented but took a different approach.

[2016-05-20 22:08] #572 closed

[2016-05-20 22:09] piotrpMSFT commented on #571
dupe of #549

[2016-05-20 22:09] #571 closed

[2016-05-20 22:09] piotrpMSFT commented on #570
This is not an issue in dotnet publish.

[2016-05-20 22:09] #570 closed

[2016-05-20 22:13] piotrpMSFT commented on #566
Let's start this conversation once the new project model is in place.

[2016-05-20 22:13] #566 closed

[2016-05-20 22:14] #565 closed

[2016-05-20 22:14] piotrpMSFT commented on #552
dotnet pack will be replaced by nuget pack.

[2016-05-20 22:14] #552 closed

[2016-05-20 22:16] piotrpMSFT commented on #553
dnu publish is no longer supported.

[2016-05-20 22:16] #553 closed

[2016-05-20 22:16] am11 commented on #3171
It seems like `Microsoft.NETCore.App` has dependency on `System.Runtime.Loader` which is only available in netcoreapp. This situation may get resolved in future, when `System.Runtime.Loader` will be added as a 'Desktop contract': dotnet/corefx#8526.

Original issue: dotnet/corefx#8453.

[2016-05-20 22:17] piotrpMSFT commented on #556
This falls under the new project model.

[2016-05-20 22:17] #556 closed

[2016-05-20 22:17] piotrpMSFT commented on #559
DTH is no longer supported.

[2016-05-20 22:17] #559 closed

[2016-05-20 22:19] #569 closed

[2016-05-20 22:19] #578 closed

[2016-05-20 22:20] piotrpMSFT commented on #583
We can look at this once we move to the new project system.

[2016-05-20 22:20] #583 closed

[2016-05-20 22:20] piotrpMSFT commented on #988
We're going to 16.04, not 15.04.

[2016-05-20 22:20] #988 closed

[2016-05-20 22:21] piotrpMSFT commented on #13
Verbosity has been resolved.

[2016-05-20 22:22] #13 closed

[2016-05-20 22:28] emgarten commented on #3135
Just to reiterate again on how nuget works here, in nuget.config:
packages.config uses ``repositoryPath``
project.json uses ``globalPackagesFolder``

As @yishaigalatzer mentioned mixed mode is the reason these have to be separate. Packages.config and project.json use different folder structures, so restoring an entire solution to a single packages folder would cause problems if the solution contai

[2016-05-20 22:36] tzwlai opened #3172 "Improve logging for "dotnet publish""
Creating this for @Maoni0:

This was one of the errors I got:

Would it be possible to spell out the syntax in 2), ie:

Maybe this is trivial for folks who are familiar with the syntax but it was not obvious to me that I should put {} as the value of win7-x64.

[2016-05-20 22:48] onovotny commented on #550
I don't think so since I can run Humanizer tests with netcoreapp1.0

[2016-05-20 22:53] pakrym commented on #2961
@piotrpMSFT: `.pdb` issue is not connected to `.dll` issue, I don't know why but `csproj` references are treated as package references inside CLI (https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/Compilation/LibraryExporter.cs#L180) and we never copy package `pdb's` to output.

[2016-05-20 23:14] andschwa opened #3173 "dotnet-test-xunit aborts after failure"
## Steps to reproduce

Setup a test project with some _failing_ tests and some passing tests.

[code]

[code]
## Expected  behavior

1) The failing tests (plural) to be reported as such
2) The passing tests to be be reported as such
3) the XML report file to be created
## Actual behavior

The runner aborts with `SUMMARY: Total: 1 targets, Passed: 0, Failed: 1.` but does not say which test(s) faile

[2016-05-20 23:19] natemcmaster commented on #2289
@anurse have you had a chance to make any progress on this?

[2016-05-20 23:33] natemcmaster commented on #2645
Has there been any progress on this? There has been a lot of chatter about this limitation, especially because the workarounds are not easy.

[2016-05-21 00:03] #3084 closed

[2016-05-21 00:48] akoeplinger commented on #2113
@jskeet sure. I'm currently quite busy with a few last minute Mono 4.4 bug fixes as we're releasing soon, but I'll try to fit it in next week.

FWIW, there was a lengthy discussion when we added C# to travis about `language: dotnet` vs `language: csharp (or fsharp/vb)` but we decided in the end that .NET isn't a language so we picked the other option ;)

Adding out of the box support for .NET Core

[2016-05-21 01:41] andschwa commented on #3173
Specifically this happens if the test causes an abortion. See [my example](https://github.com/andschwa/netcore-debug/blob/9f6fb65d41d940663fa7dffdfaf75f21125dff9e/Program.cs#L27).

@livarcocc and I think this means there's a bug in the isolation of tests within xUnit, and need to re-file accordingly.

[2016-05-21 02:58] justinbailey opened #3174 "Restore fails when a NuGet feed with Encrypted Credentials (default) is defined on the system"
## Steps to reproduce
1. set nuget private feed with credentials as described [here](https://docs.nuget.org/consume/nuget-config-settings#credentials-for-package-source)
   `NuGet.exe Sources Add -Name <feedName> -Source <pathToPackageSource> -UserName xxx -Password <secret>`
2. validate that nuget works with the feed on a non-Core project
3. create new basic app using dotnet new
4. restore packag

[2016-05-21 03:50] AArnott commented on #551
I just looked into that. The `--version-sufix` switch doesn't appear any more flexible at least at first glance than the DNX version support was.

For instance, I set my project.json `version` field to "1.0.*". Then I tried to build and specify the rest of the version at the command line:

[code]

The position of the asterisk, and what values are allowed to be substituted in where the asterisk is,

[2016-05-21 04:54] davidfowl commented on #3125
@fubar-coder use https://www.nuget.org/packages/Newtonsoft.Json/8.0.4-beta1  it supports netstandard.

[2016-05-21 04:57] alexlau811 commented on #1509
@ericwj, could you try using `IHostEnvironment.ContentRootPath` ?

[code]

[2016-05-21 05:41] #2529 closed

[2016-05-21 06:34] duracellko opened #3175 "Support for Roslyn Analyzers"
How can I use [Roslyn Analyzers](https://github.com/dotnet/roslyn-analyzers) with .NET Core?
## Steps to reproduce
1. Add `"Microsoft.CodeAnalysis.FxCopAnalyzers": "1.2.0-beta2"` into `dependencies` in project.json
2. Add abstract class with constructor.
3. run `dotnet build`
## Expected  behavior

Compilation warning or error CA1012
## Actual behavior

No build warnings nor errors.
## Environment

[2016-05-21 09:03] RehanSaeed commented on #549
NPM has the [version](https://docs.npmjs.com/cli/version) command which lets you bump up each number.

[2016-05-21 09:03] RehanSaeed commented on #551
NPM has the [version](https://docs.npmjs.com/cli/version) command which lets you bump up each number. Having the same for `dotnet` would be great.

[2016-05-21 09:31] thecodejunkie commented on #1370
@am11 @alberto-riggi

Not quite. The rc2 version, `1.0.0-rc2-build10015` can be found on NuGet https://www.nuget.org/packages/dotnet-test-xunit/1.0.0-rc2-build10015 but it contained a bug (https://github.com/xunit/xunit/issues/843) which had to be fixed and it's the fixed version that is only available on MyGet at the moment

[2016-05-21 09:56] blackhill commented on #3064
Go to Programs and Features, find "Microsoft Dotnet CLI for Windows (1.0.0.XXXX" then unistall.

[2016-05-21 09:58] DreamingDevs opened #3176 "dotnet run not updating changed files in wwwroot to bin\Debug\net452\win7-x64\wwwroot folder"
## Steps to reproduce
1. ASP.Net Core RC2 App with below project.json.
2. use `dotnet restore` and then `dotnet run`. Check `wwwroot` under bin folder, all files are copied..
3. Now change a file in `wwwrooot` or `appsettings..json`. Repeat `dotnet run`.
4. Check `wwwroot` folder for Updated files. They are not updated.

Observation: C# code is getting updates, I mean DLL's are getting updared. On

[2016-05-21 10:06] MarcoMiltenburg commented on #3066
Instead of "postcompile" you should use "postpublish" or "postbuild" (if you'd like the package(s) to be created after each build).

[2016-05-21 10:07] Kieranties commented on #3135
@emgarten Thank you, I think that clears up the issue.

To confirm, creating a config as follows
[code]
and performing `dotnet restore` at the root of a solution restores packages to _c:\packages_

I can also confirm that performing restore in Visual Studio also recognised the configuration and restored to the configured path.

-----

**Question**: Setting the value to simply _packages_ (or any re

[2016-05-21 10:12] am11 commented on #1370
Great! So I removed the NuGet and changed the `dotnet-test-xunit` version from `"1.0.0-rc3-*"` to `1.0.0-*`. It restores `1.0.0-rc2-build10015` (visible in `project.lock.json` file) and `dotnet test` still successfully executing for net452 framework. Thanks @thecodejunkie!

[2016-05-21 10:41] fubar-coder commented on #3125
This does work, but there are other PCLs out there, that don't support netstandard (yet).

[2016-05-21 11:59] dallancarr opened #3177 "Doc check."
Adding 3rd party dependencies to the projects seems to reference commands since removed.

https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/canonical.md

[2016-05-21 12:51] #3177 closed

[2016-05-21 13:05] alderic opened #3178 "Custom tool: No executable found matching command <mytool>"
How can I create custom tool and run it for my project?

## Steps to reproduce
https://github.com/alderic/dotnet-tool

## Expected  behavior
"Hello dotnet tool."

## Actual behavior
Unhandled Exception: System.IO.DirectoryNotFoundException: Could not find a part of the path 'C:\Users\username\.nuget\packages\.tools\dotnet-tool'.
or (if I do some change to project.json of sampleapp)
No executable f

[2016-05-21 13:12] 4nderss commented on #3131
This is not a problem with the prepublish stuff, we can debug and run the app (which involves the above tasks) but we are unable to publish it for IIS. The gulp build finished task is the last thing logged before crash.

[2016-05-21 14:53] eerhardt commented on #2999
This issue is now fixed with #3092 and adding the appropriate build steps.

See https://github.com/dotnet/versions/blob/master/build-info/dotnet/cli/rel/1.0.0/Latest_Packages.txt

[2016-05-21 14:53] #2999 closed

[2016-05-21 16:12] Raviuppa opened #3179 "Restore fails with new preview build of CLI"
## Steps to reproduce

1. Install 2816 Preview2 build from https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/Latest/dotnet-dev-ubuntu-x64.latest.tar.gz

2. dotnet new
3. dotnet restore

## Expected  behavior
Restore should be success without any errors.

## Actual behavior
Fails with "Unable to resolve 'Microsoft.NETCore.App (1>=1.0.0.rc3-002816)' for '.NETCoreApp, Version=v1.0'

##

[2016-05-21 16:16] #2758 closed

[2016-05-21 16:17] blackdwarf commented on #3179
@Raviuppa this is by design. Only releases end up on Nuget.org. This has been added to the [known issues document](https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/known-issues.md).

[2016-05-21 16:17] #3179 closed

[2016-05-21 16:21] blackdwarf commented on #3178
@alderic http://dotnet.github.io/docs/core-concepts/core-sdk/cli/extensibility.html has info on how to build a tool that `dotnet` can run.

Based on the above in the issue I can suggest the following:

- Have you packaged the tool into a NuGet package using `dotnet pack`?
- After the above, have you restored the sample app?

[2016-05-21 16:22] blackdwarf commented on #3174
@yishaigalatzer @emgarten this seems like a NuGet issue.

[2016-05-21 16:24] blackdwarf commented on #3170
@jasonwilliams200OK the "release schedule" thing should be there because it also explains the different versioning between the runtime/fx bits (RC2) and CLI bits (Preview 1). Maybe a different heading would be all right.

Agreed on all others.

[2016-05-21 16:25] blackdwarf commented on #3169
@CoreyKaylor can you try this instead:

[code]

And see if it solves the problem?

[2016-05-21 16:29] yishaigalatzer commented on #3174
This is currently by design as the error message clearly declares. There are no decryption APIs in .net core yet.

Another work around is to use nuget.exe restore instead (use 3.5 beta)

Get Outlook for Android<https://aka.ms/ghei36>

On Sat, May 21, 2016 at 9:22 AM -0700, "Zlatko Knezevic" <notifications@github.com<mailto:notifications@github.com>> wrote:

@yishaigalatzer<https://github.com/yisha

[2016-05-21 17:13] jasonwilliams200OK commented on #3170
Usually such differences go in the (bulleted) release notes under https://github.com/dotnet/cli/releases (for example: https://github.com/Polymer/polymer/releases and https://github.com/aspnet/KestrelHttpServer/releases). Such quick release notes can be added for github population, in addition to the MSDN blog links. :)

Then some people also keep a `CHANGELOG.md` within the repo for offline acces

[2016-05-21 17:29] blackdwarf commented on #3153
@derekdreery hm, ok, that's weird. Will close this issue now then, please reopen if needed.

[2016-05-21 17:29] #3153 closed

[2016-05-21 17:35] blackdwarf commented on #3136
@livarcocc @piotrpMSFT thoughts?

[2016-05-21 17:47] alderic commented on #3178
yes, restore sampleApp log part:

info :   GET https://api.nuget.org/v3-flatcontainer/dotnet-tool/index.json
info :   NotFound https://api.nuget.org/v3-flatcontainer/dotnet-tool/index.json 576ms
error: Unable to resolve 'dotnet-tool (>= 1.0.0)' for '.NETCoreApp,Version=v1.0'.

If I add in sampleApp directory "NuGet.Config" with "&lt;add key="Local" value="..\dotnet-tool\bin\Debug" />", then restor

[2016-05-21 18:03] blackdwarf commented on #3178
@alderic pack in this case is an operation that is analog to `publish` for an app you want to run on your server, for instance. You have to repack the tool after changes and then do a restore again for your consuming project to get the changes. You should not have to clean out your cache, however.

With this, it seems that the issue has been solved, since the system is behaving as designed. I will

[2016-05-21 18:03] #3178 closed

[2016-05-21 18:06] blackdwarf commented on #3117
/cc @bricelam

[2016-05-21 18:53] emgarten commented on #3135
It is expected to be relative to the solution root, but with dotnet restore from the command line there is no solution.

I think this NuGet behavior needs to change to make this easier to use, I've opened https://github.com/NuGet/Home/issues/2831 to track it. Please add any comments there if you expect it to work differently than described.

[2016-05-21 20:04] tmds commented on #3009
Is this expected to work or fail?

[2016-05-21 20:12] GuardRex commented on #3176
Possible duplicate/related to this: https://github.com/dotnet/cli/issues/1614 and https://github.com/dotnet/cli/issues/2989

[2016-05-21 20:29] GuardRex commented on #3071
@melsayed Here's some help on finding and getting rid of the old bits: https://github.com/dotnet/cli/issues/2948

... and don't forget to run a `nuget locals all -clear` to nuke your package caches.

[2016-05-21 20:33] GuardRex commented on #3091
@sadjadbp Not sure if it helps, but you could probably publish it: `dotnet publish -c Debug -r win7-x86` ... that should work ... if you don't mind publishing over building.

[2016-05-21 22:52] dasMulli opened #3181 "Mono framework assemblies for net35 not resolved correctly"
## Steps to reproduce
(non-windows platforms using mono)
Create a new console project targeting `net35`.

## Expected  behavior
Project should build and run.

## Actual behavior
No net35 framework dependencies are resoved.
[code]

## Rationale
mono ships framework definitions for all versions in `/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/xbuild-frameworks/.NETFramework/`, the `F

[2016-05-21 22:53] dasMulli commented on #3009
I think a found it a few minutes ago.. #3181

[2016-05-21 23:31] hassanselim0 commented on #2571
It's still not clear how can I make it generate an exe file (the renamed corehost.exe file) in the case of a "Portable Application", and what exactly does the "emitEntryPoint" value do.

[2016-05-22 00:00] blackdwarf commented on #2571
@hassanselim0 you don't. For portable apps, you use the runner. The "emitEntryPoint" creates an entry point which you need in your IL code.

[2016-05-22 00:15] blackdwarf commented on #3135
Is this issue OK to be closed then?

[2016-05-22 02:59] DreamingDevs commented on #3176
@GuardRex Yes I think it is the same behavior, but there was not update in the linked threads. What was the consensus and what is the workaround? Please let me know if you know more details.

[2016-05-22 03:58] GuardRex commented on #3176
@DreamingDevs The only thing that jumps to mind would be a `postbuild` script that would copy the contents of those folders (possibly Views, as well, since they suffer the same problem) into the published output. It's kind'a a pain to have to do that, but I don't know of any other workaround until they get to this.

[2016-05-22 04:37] scionwest opened #3183 "Referenced Projects do not allow referencing via "name" element in project.json"
## Steps to reproduce
I have a repository with reproducible steps [here](https://github.com/scionwest/project.json_repro). You may clone it, perform `dotnet restore` on /AppLib and then on /App to see the issue.

I have the following directory structure.

    Root
      /src
        /App
        /AppLib

AppLib has a simple `project.json` using a `name` element to define it's name as *FooLib*

[2016-05-22 04:40] davidfowl commented on #3183
Yea, that's not a feature. Currently you can't rename projects.

[2016-05-22 04:41] scionwest commented on #3183
I'm not renaming a project though, are you saying that the folder name *is* the project name? If so, what is the point of the *name* element in the `project.json`?

[2016-05-22 05:52] shawnrc commented on #3063
@blackdwarf Good catch! I also found a similar offending line in my `.zshrc`:

[code]

At this point, it's been so long since I set up zsh on my machine that I honestly can't remember what's responsible for that line in there, but oh-my-zsh is definitely a likely culprit. To resolve the issue on my end, I've changed the export to this:

[code]

Which then allows me to do this:

[code]

Cheers!

[2016-05-22 06:09] tmds commented on #3009
@dasMulli I thought dotnet no longer had dependencies on mono?

[2016-05-22 07:27] fubar-coder commented on #3183
This is related to #2677

[2016-05-22 10:22] dasMulli commented on #3009
All `net*` on non-windows uses mono to build and run. But if you don't need to use it then there is no dependency (unlike dnx before things like NuGet were able to run on CoreCLR).

[2016-05-22 11:31] am11 commented on #3183
Also related to #3040 (with a workaround).
At https://github.com/maxmind/GeoIP2-dotnet/tree/26a876a, the project directory name (GeoIP2) is different than the desired assembly name (MaxMind.GeoIP2). By explicitly `dotnet build`-ing before `dotnet run`-ing was the workaround (used in Travis/AppVeyor CI scripts).

[2016-05-22 11:37] nmilosev commented on #2958
Hello, I don't know if it helps, but I wrote a guide how to run the CentOS package on latest Fedora 23 here:

https://nmilosev.svbtle.com/running-net-core-rc2-on-fedora-23

The only thing that wasn't working out of the box was the ```libicu``` library which is at version 50 in CentOS and 54 in Fedora 23. Once I got ```libicu``` 50 in my ```lib``` folder everything worked.

Hope this helps!

Cheers

[2016-05-22 11:42] nmilosev opened #3184 "Fedora 23 support"
While Fedora package isn't officially available yet (see #2958), you can run the CentOS binaries pretty easily today on latest versions of Fedora as described here (my blog):

https://nmilosev.svbtle.com/running-net-core-rc2-on-fedora-23

I've tested a few examples from the examples repo and all are working.

Cheers.

[2016-05-22 12:38] ahmad-moussawi opened #3185 "Failed to restore on ubuntu 14"
## Steps to reproduce

I've followed this guide https://www.microsoft.com/net/core#ubuntu step by step
## Expected  behavior

restore the packages
## Actual behavior

When running `dotnet restore`
I get the following info (note the **segmentation fault** at the end)

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-05-22 12:41] hassanselim0 commented on #2571
I think the documentation needs to get better at specifying the difference between the following with regards to the output you get:
building a portable app
publishing a portable app
building a self-contained app
publishing a self-contained app

I don't quite yet understand the difference between building and publishing a portable app, but I think I understand the rest now.

[2016-05-22 13:42] hultqvist commented on #2103
@piotrpMSFT I managed to get an exe following this
https://github.com/dotnet/core/issues/77#issuecomment-219807733

[2016-05-22 13:42] ArieJones commented on #3070
I am having the same issue..... Is there an update to this yet?
My particular issue was once I loaded the RC2 tooling my RC1 projects exhibited the following behavior

1. Dependencies folder and npm folder under it show as "- not installed"
2. When debugging the application I could no longer perform watch or quickwatch operations. Breakpoints work but are essentially useless now

So I uninstalled

[2016-05-22 14:13] DazFahy commented on #3066
postbuild is not working in RC2, it never gets executed whereas postcompile does

[2016-05-22 14:41] jskeet opened #3186 "dotnet run swallows empty lines"
## Steps to reproduce

Start with `dotnet new` - no `project.json` changes required.

`Program.cs`:

[code]

Build and run:

[code]

## Expected  behavior

There should be one blank line between `x` and `y`, and two between `a` and `b`, i.e.

[code]

## Actual behavior

The blank lines are missing:

[code]

If instead you run it with `dotnet bin/Debug/netcoreapp1.0/bug.dll` then the output is as e

[2016-05-22 14:47] AerisG222 commented on #3184
Thanks @nmilosev, this was very helpful!  I am now able to run my rc2 aspnet site on FC23 w/o having to jump into an ubu vm - nice!

I did run into an error about missing libhostpolicy.so when trying to run an xunit test, but I can always jump back to ubu for that when needed.

[2016-05-22 14:54] nmilosev commented on #3184
Glad it worked out for you! About the ```libhostpolicy.so```, I believe that's a library in the ```dotnet``` package and maybe it is missing from the CentOS package. Nevertheless you can copy it from your VM to the ```lib64``` folder or to ```~/dotnet/shared/Microsoft.NETCore.App/1.0.0-rc2-3002702/``` and try to see if it works after that.

Cheers!

[2016-05-22 14:57] derekdreery commented on #3153
Hi @blackdwarf the version of McAfee I was running prevented certain access to the registry.

[2016-05-22 15:01] jasonwilliams200OK commented on #3186
This is a duplicate of #2234.
#2235 and #2244 pull requests are fixing this problem. (@svick both PRs need a rebase)

[2016-05-22 15:15] CoreyKaylor commented on #3169
That worked great, then it looks like I ran into... https://github.com/dotnet/cli/issues/1534

[2016-05-22 15:15] #3169 closed

[2016-05-22 15:35] CoreyKaylor commented on #3169
That was easy to deal with too, just a little different than before where I was only using dnvm use ..., changed to just use dotnet test -f netcoreapp1.0 in my linux script and everything went green again.

Thanks for the help.

[2016-05-22 16:01] thosoft commented on #3073
Got it works with work around on Ubuntu 14.04
Failed:
`dotnet test test/ProjectFolderTest`

Success:
`mono test/ProjectFolderTest/bin/Debug/net451/ubuntu.14.04-x64/dotnet-test-xunit.exe test/ProjectFolderTest/bin/Debug/net451/ubuntu.14.04-x64/ProjectFolderTest.dll`

[2016-05-22 16:42] Villason commented on #2645
Potentially related to https://github.com/aspnet/EntityFramework/issues/5460

[2016-05-22 16:51] GiorgioG commented on #1742
If the team has no interest in implementing this, it would be useful if the dotnet exposed a command to return whether the dependencies in project.json had changed since the last dot net restore.  Right now it's a black box, we can either always run dotnet restore before a build (suboptimal, slow, unnecessary 95% of the time), or we get a warning from dotnet build that you should run dotnet restor

[2016-05-22 16:59] blackdwarf commented on #2571
@hassanselim0 OK, fair enough. I should probably update that document.

The different between publishing a portable app an building it is where your dependencies that exist outside of .NET Core come from. In the first case, a built app, they come from your NuGet cache. In the second case, a published app, they are packaged with your application.

Hope this makes it somewhat clearer.

[2016-05-22 17:17] serdna27 opened #3187 "Could not read the incremental cache file"
## Steps to reproduce

Was working with Aspnet core rc2 with the new tooling. Made some changes to controllers, models among others changes using dotnet watch. After i finished editing an error was thrown in the console: "Could not read the incremental cache file". I stopped the watch re-run the project but the error keep showing.
## Environment data

Product Information:
 Version:     1.0.0-previ

[2016-05-22 17:22] Kieranties commented on #3135
@blackdwarf I think so, @emgarten response made it clear that `repositoryPath` is not respected by design (and for good reason)

I'll pick up the discussion on issue https://github.com/NuGet/Home/issues/2831

[2016-05-22 17:22] #3135 closed

[2016-05-22 19:06] xperiandri opened #3189 "How do I reference .NET Core project from UWP?"
Is it possible to reference .NET Core RC2 class library project from UWP project?

[2016-05-22 20:03] asadsahi opened #3190 "dotnet build erros for .cs files in node_modules folder?"
## Steps to reproduce
install a node module folder which has some .cs files in it, e.g selenium webdriver has some aspx pages with their code behind.

## Expected  behavior
dotnet build should only compile the project c sharp files

## Actual behavior
error during build:
![image](https://cloud.githubusercontent.com/assets/3470892/15456186/866cbcce-2060-11e6-9946-5028fd43c853.png)

## Environment d

[2016-05-22 21:31] peterblazejewicz commented on #3187
@serdna27
I'm getting the same. Have you used `dotnet watch` tool by chance? I don't remember similar problem with `dotnet run`

[2016-05-22 21:33] peterblazejewicz commented on #3187
@serdna27
try: `rm -rf obj/ && dotnet watch` from the project root

[2016-05-22 22:25] golf1052 opened #3192 "dotnet restore fails to resolve local dependencies with a certain folder structure"
## Steps to reproduce
1. Create folder `testlib` and `testapp` under the same directory
2. Inside testlib run `dotnet new`
3. Inside project.json change the frameworks from `netcoreapp1.0` to `netstandard1.5`
4. Create folder `src` inside testlib
5. Move Program.cs and project.json inside src
6. Create global.json (not inside src) with contents

[code]

7. Inside testlib run `dotnet restore`
8. In

[2016-05-23 01:09] xoofx opened #3193 "Publish not working for self contained app? (rc2)"
## Steps to reproduce
- Create a "Console Application (.NET Core)" from Visual Studio
- Add a runtime "win10-x64" as specified in the documentation [app-types](https://github.com/dotnet/core-docs/blob/master/docs/core-concepts/app-types.md)
- run `dotnet publish --configuration Release --runtime win10-x64`

Final content of the `project.json`:

[code]

## Expected  behavior
The full runtime, dotne

[2016-05-23 01:14] xoofx commented on #3193
Oops, missed that important part in the doc :sweat_smile:

So this `project.json` will generate a proper self contained app:

[code]

[2016-05-23 01:14] #3193 closed

[2016-05-23 05:40] vivekmishra-sft opened #3194 "Modified Hello world sample shows strange behavior"
## Steps to reproduce
Follow the steps given at [https://www.microsoft.com/net/core#windows] and use the following modified version of Hello world program:
[code]

## Expected  behavior
The program should roduce the following as ouptut(Let us suppose user enters 5):
Hello World!
Enter a number to see magic: 5
1
2
3
4
5

## Actual behavior
The program gives the following as ouptut(Let us suppose us

[2016-05-23 05:52] Michael-D-Pine commented on #3065
Is this for real ? So basically I really should be considering this as a tool to use because I can't tell over DEV's that you need to install Fiddler and do this and that to get things working. Just going to have to stick with traditional ASP.Net MVC blank application and then will convert over to .Net core when they get their act together.

I can't believe they just toss aside corporate developer

[2016-05-23 06:15] GuardRex commented on #3193
@xoofx fyi the last advice I had from @ericstj on the `win10-x64` RID was that it should be used for UWP apps only at this time. He recommended `win81-x64` for WS2012+. That may have changed in the last few weeks, but he'll let us know if it has. cc/ @blackdwarf

[2016-05-23 06:19] xoofx commented on #3193
@GuardRex thanks! Is the win7-x64 working as well? (as I would better target this one actually)

[2016-05-23 06:22] sravan1022 commented on #3194
Hi,
I don't see any problem with the above code.I have the same environment data as yours and when i run the above code, it works fine for me.No errors for me. Try restarting the VS and run again.

[2016-05-23 06:25] GuardRex commented on #2571
@hassanselim0

@blackdwarf may have one on the way for the outputs of publishing, as well. That's currently listed for RTM: https://github.com/dotnet/cli/issues/937

I'm also fleshing out some details in an unofficial IIS helper doc in the Slack #iis channel ( http://tattoocoder.com/aspnet-slack-sign-up/ ) that has some info in these regards.

... and I think you probably got this from @blackdwarf

[2016-05-23 06:33] GuardRex commented on #3193
@xoofx Yes, they are forward compat, so you can use `win7-x64` on forward platforms from Win7+ and IIS 7.5+, while `win81-x64` would be Win81+ and IIS 8.5+.

@ericstj will probably tell us if the prior advice holds regarding `win10-x64`, and @blackdwarf might want to change that doc if it makes more sense to make it say either `win7-x64` or `win81-x64`.

I am a little concerned about devs seeing `

[2016-05-23 06:47] vivekmishra-sft commented on #3194
I am using the "dotnet cli" to run the program. The issue above gives you the exact steps to follow, when you follow the provided link. I know that this runs in visual studiobut when I run it using **dotnet run** command, it gives me the strange output as given above.

[2016-05-23 06:47] toddams commented on #2892
@eehardt
But when you actually use `dotnet run app.dll` on self-contained app - it works. That is an expected behaviour?

[2016-05-23 07:39] wmathes commented on #3040
I might add, that this is extremely cumbersome when developing tools.

Is there a way of debugging a tool locally? I can just dotnet run it, but I want to access the assembly of the project using the tool. I realize the EF tools are doing that, but there are a lot of comments suggesting even their approach is quite hacky and i cant get it to run locally at all. It all only seems to work once packa

[2016-05-23 07:47] axelheer commented on #3065
@Michael-D-Pine CNtlm instead of Fiddler should work too. It's basically the same problem NPM, Bower et al have...

[2016-05-23 07:56] PeterJakubik opened #3196 "How to reference NuGet packages depending on full .net framework from core project?"
Hi
I'm using RC2 and my app depends on other Nugets (NPOI, NLog) that require full .net framework.
What is the best way to reference those Nugets?
Right now I have project.json:
[code]

Is it needed to reference the 'portable-net45+win8' together with 'dnx451' ?
Should the frameworks section mention only ''dnx451' like this?
[code]

Thank you
Peter

[2016-05-23 07:56] FatherDougal commented on #1732
I seem to have the same issue.

[2016-05-23 08:46] FatherDougal commented on #1368
I have the same issue

[2016-05-23 09:03] techcap opened #3197 "How to use dotnet cli in debian linux on arm."
## Steps to reproduce

sudo apt-get install curl
curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0-preview1/scripts/obtain/dotnet-install.sh | bash /dev/stdin --version 1.0.0-preview1-002702 --install-dir ~/dotnet
sudo ln -s ~/dotnet/dotnet /usr/local/bin

dotnet restore

## Expected  behavior
run dotnet restore command properly.

## Actual behavior
dotnet restore
-bash: /usr/local/

[2016-05-23 09:36] JamesNK opened #3198 "Update Json.NET"
https://www.nuget.org/packages/Newtonsoft.Json/8.0.4-beta1

Targets netstandard1.0 - no more imports!

[2016-05-23 09:43] 4nderss commented on #3131
I went back to use dnx46 and then publish started working.

[code]
`

[2016-05-23 10:33] timotyweis opened #3199 "dotnet restore unable to resolve .NET Framework libraries (4.5.2, 4.6.2)"
## Steps to reproduce

In Visual Studio 2015
1. Create a new ASP.NET Core Web Application (.NET Framework)
2. Add a regular Class Library to the solution
3. Add a reference to the new class library (in my case .NET Framework 4.6.2) from the web app
4. run `dotnet restore` from the command line
## Expected  behavior

`dotnet restore` completes without errors.
## Actual behavior

The command termina

[2016-05-23 10:45] timotyweis commented on #3199
The problem seems somehow related to the `project.fragment.lock.json` file. The fragment file doesn't get generated and even adding it manually does not help.

[2016-05-23 10:56] WolfspiritM commented on #3091
Having the exact same issue.
I have a ASP.NET project that needs to be build for x86 (I know..this shouldn't be the case anymore...but my website is relying on an x86 C++ project). Whatever I tried it always build for x64. Thanks to the tip uninstalling the x64 version and installing the x86 version fixed it but now I'm stuck to x86 it seems.

@GuardRex I tried publishing but for me that also cras

[2016-05-23 11:01] 304NotModified commented on #2892
Agree with this. I got the same problem, and fixed it with this thread.

[2016-05-23 11:56] anders9ustafsson commented on #2549
@ericstj I am running into the same issue with RC2:

Unable to satisfy conflicting requests for 'Microsoft.NETCore.Platforms': Microsoft.NETCore.Platforms (>= 1.0.1-rc2-24027) (via package/NETStandard.Library 1.5.0-rc2-24027), Microsoft.NETCore.Platforms (>= 1.0.0) (via package/Microsoft.NETCore.Targets 1.0.0)
Unable to satisfy conflicting requests for 'Microsoft.NETCore.Targets.UniversalWindowsPl

[2016-05-23 12:10] Malediction commented on #3131
I am also seeing this when trying to publish a brand new app created using the VS ASP.NET Core app template. The "target runtime" is "Inferred Runtime (win7-x64)" which seems a bit odd, but this might be a red herring.

[2016-05-23 12:48] Malediction commented on #3131
The "Publish" task failed unexpectedly.
System.Exception:
Publishing FooApp for .NETFramework,Version=v4.6.2/win7-x64

Object reference not set to an instance of an object.
   at Microsoft.DotNet.Tasks.Publish.Execute()
   at Microsoft.Build.BackEnd.TaskExecutionHost.Microsoft.Build.BackEnd.ITaskExecutionHost.Execute()
   at Microsoft.Build.BackEnd.TaskBuilder.<ExecuteInstantiatedTask>d__26.MoveNe

[2016-05-23 13:08] barynov commented on #3199
I have the same problem for net452: it works in VS, but does not work with dotnet restore.

[2016-05-23 14:08] niemyjski commented on #2869
I'm seeing this issue locally, but it's a very simple project.

[2016-05-23 14:25] mikes-gh commented on #3198
Your work is much appreciated @JamesNK .

This is great news.  I guess MS wont touch all their repos until you go 8.0.4 (final) though.  It would be great if you can go 8.0.4 (final) before aspnetcore RTM.

[2016-05-23 14:43] abpiskunov commented on #2961
well, related or not, scenario is still not working as expected, i.e. debug would be broken and users expect pdbs to be copied along with project dlls.

[2016-05-23 15:41] niemyjski commented on #585
We really need this for our api consumers.

[2016-05-23 15:49] 0xdeafcafe opened #3200 ""The given key was not present in the dictionary." on dotnet pack"
## Steps to reproduce
Run the command `dotnet pack` in the directory that contains the project.json

## Expected  behavior
Create as nuget package.

## Actual behavior
Throws the following error `The given key was not present in the dictionary.`

## Environment data
`dotnet --info` output:
[code]

[2016-05-23 15:57] AnOldMan opened #3201 "DotNetCore.1.0.0.RC2-VS2015Tools.Preview1"
## Steps to reproduce

Install DotNetCore.1.0.0.RC2-VS2015Tools.Preview1 on VS 14.0.25123.00 Update2
## Expected  behavior

Normal build/rebuild/clean
## Actual behavior

No build process ever completes (don't even seem to **start**), build output blank, can only cancel.
Cannot debug (auto-build never completes, site never starts).

Attempted fixes in https://github.com/dotnet/cli/issues/3064 , bu

[2016-05-23 16:02] eerhardt commented on #2892
Can you describe exactly the steps you took and which directory you were running from?  The command can work if you execute it from the project directory:

[code]

This only works by accident for 2 reasons:

1. You are running from the same directory as your project.json, so `dotnet run` is finding the project file in the current directory.
2. The `bin\Debug\netcoreapp1.0\publish\MyTest.dll` is be

[2016-05-23 16:04] vcsjones commented on #2892
@toddams

I suspect it is not running `app.dll`, but it found a `project.json` in the directory that you are running it from, and *that* is what is getting run.

[2016-05-23 16:16] blackdwarf commented on #3192
I have seen this as well. @emgarten is this by design behavior?

[2016-05-23 16:28] 0xdeafcafe commented on #3200
So I ran `dotnet restore`, and it worked. Maybe it should say this to the user?

[2016-05-23 16:34] Eilon commented on #2961
Unassigning from @pakrym as it's not directly related to his original fix. Is there another engineer that can take this over?

[2016-05-23 16:35] GuardRex commented on #3200
@0xdeafcafe Probably going to need more to go on than that. Can you provide the `project.json` for the project? [However, that does suck as a general exception, since it doesn't tell one what key is missing.]

[2016-05-23 16:35] GuardRex commented on #3200
Oh ... there is an open issue on that. I'll see if I can track it down.

[2016-05-23 16:36] GuardRex commented on #3200
https://github.com/dotnet/cli/issues/2504

[2016-05-23 16:43] ericstj commented on #3193
The only reason not to use win10-x64 was due to an issue with the CLRCompression package.  @ianhays was working on that.  I believe that is still not fixed in the latest packages so you should avoid using win10 until that is fixed.  https://github.com/dotnet/corefx/issues/7436

[2016-05-23 16:48] ericstj commented on #2549
RC2 should not be used for targeting UWP.  There was a long list of bugs that didn't meet the bar for fixing in RC2 so we fixed them in RC3.

To use the RC3 packages make sure you pull them from the https://dotnet.myget.org/F/dotnet-core/api/v3/index.json feed.

[2016-05-23 17:00] vijayrkn commented on #3131
@4nderss - Can you set this environment variable (COREHOST_TRACE=1) and run dotnet publish from commandline and share the output. This should tell where it is failing.

@Malediction - Target runtime ("Inferred Runtime (win7-x64)" ) should only show up for projects targeting full .Net framework. Target runtime should show as "Any" for core apps targeting the shared runtime ("type":"platform" for "M

[2016-05-23 17:09] blackdwarf commented on #3200
@0xdeafcafe can we close this as a dupe of #2504?

[2016-05-23 17:18] 0xdeafcafe commented on #3200
Ah awesome, I had a quick look but I guess I wasn't thorough enough. Closing.

[2016-05-23 17:18] #3200 closed

[2016-05-23 17:49] krwq commented on #2949
Duplicate of #2343

[2016-05-23 17:49] #2949 closed

[2016-05-23 17:52] pakrym opened #3202 "Using wrong package name casing causes it to appear twice in DependencyContext"
## Steps to reproduce
1. Add a reference to `Microsoft.NetCore.App` exact casing
2. Build, Run, get `DependencyContext.Default`

## Expected  behavior
Single `Microsoft.NETCore.App` runtime library entry

## Actual behavior
One `Microsoft.NETCore.App` and one `Microsoft.NetCore.App` runtime library entry

@rynowak

[2016-05-23 18:47] shanselman commented on #1743
Whether this is the default or not, can the VSIX on VSCode automatically notice if it's not? If you're on Windows and you're debugging and this is NOT set, then the VSIX or the error should at least **lead you to the pit of success**. That means, either fix it for me, or tell me in the error.

We can do this in the VSIX today, without waiting.

/cc @glennc @DustinCampbell

[2016-05-23 18:50] sokket commented on #3120
After an offline discussion, we have closed on a slightly modified version of @brthor's feedback.

We will be dropping all build and packaging output into the following blob structure:
[code]

All pointers (Latest, LKG, Production, etc) will be hosted in the [GitHub repo](https://github.com/dotnet/versions) that @eerhardt has setup to track versioning. There will not be any .version files in the b

[2016-05-23 19:01] abpiskunov commented on #3166
Tooling changes are in progress and we need matching runtime changes for testing E2E:

Here are changes:

1.	We check UICulture of project and if it is specified we add an item under “runtime” section:

"bin/Debug/<UICulture>/ClassLibrary2.resources.dll": {
          		"outputPath": "en-US/ClassLibrary2.resources.dll"
        }

Items path is similar to what we added before – relative to csproj fi

[2016-05-23 19:07] DustinCampbell commented on #1743
Sound like a good idea. Send an issue our way in https://github.com/OmniSharp/omnisharp-vscode.

[2016-05-23 19:18] pakrym opened #3203 "DependencyContext does not resolve 'msbuildproject' library type"
## Steps to reproduce
1. Reference csproj from xproj
2. Get `DependencyContext.Default`

## Expected  behavior
Referenced csproj is in `CompilationLibraries` and `RuntimeLibraries`

## Actual behavior
csproj library is absent.

[2016-05-23 19:39] Eilon opened #3205 "Dependency conflict when project.json references csproj"
Moved from https://github.com/aspnet/Mvc/issues/4680
By @pantonis

------------------

## Steps to reproduce

Use the app from https://github.com/pantonis/AspNetRC2EFCore

It is a simple web app (project.json) that references a class library (csproj + packages.config) using this syntax:

[code]

## Expected  behavior

Everything should compile and run.

## Actual behavior

[code]

## Environment d

[2016-05-23 19:41] gzak opened #3206 "Multi-trageting basic class library with VS2015"
I have a very barebones class library, and here's its project.json file (it's just a data model with very basic types and so doesn't need any other dependencies):

[code]

I also have a separate solution with a traditional csproj project inside targeting .net 451 (framework assemblies), and when I add a dependency on the `My.Models` package in the csproj I get the following error:

[code]

What am

[2016-05-23 19:49] emgarten commented on #3125
This is a known issue with the newtonsoft.json package. portable-net45+wp80+win8+wpa81+dnxcore50 is not a real framework which causes a portable-net40-* folder to be selected, and that hits issues with mscorlib under netstandard.

[2016-05-23 19:54] brthor commented on #3120
@eerhardt Can we put a commit hash with the version in the versions repo? Similar to our `.version` file content today?

[2016-05-23 20:01] emgarten commented on #3192
This is expected, global.json needs to be in a parent folder.

[2016-05-23 20:14] sadjadbp commented on #3091
@WolfspiritM good that it helped. But yes, now I think you are stuck with x86. Interesting enough, installing the x64 version of Windows Server Tools on our servers, I can copy the published folder there and then Web Application works fine!

Either way, it seems to be VS Tooling bug or something. I'll wait for MS Person to answer to this thread.

[2016-05-23 21:09] troydai commented on #2826
Close as not repo. Here's what I got from VS preview1 release:

![image](https://cloud.githubusercontent.com/assets/1329240/15484657/e005c3b8-20ef-11e6-87e2-898d882996e3.png)

[2016-05-23 21:09] #2826 closed

[2016-05-23 21:10] troydai commented on #2826
@piotrpMSFT please help me fix the labels. if needed.

[2016-05-23 21:22] tysonnero commented on #3064
@blackhill Thanks, that was the culprit

[2016-05-23 22:07] brthor commented on #3083
If we were to just append something to this path, that might be a quick fix. I don't see any workaround currently.

https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/MulticoreJitProfilePathCalculator.cs#L37

[2016-05-23 22:25] schellap commented on #3121
@blackdwarf, this is a topic for discussion. What are we promising with respect to app portability? @hglkrijger is trying to take a published standalone app to another distro (another rid) and manually copying over the other dynamic dependencies (what we mark as pre-requisites) of the app.

This is at best unsupported because it breaks the invariant of:

* Using the published executable as the act

[2016-05-23 22:31] davidfowl commented on #3206
What version of the NuGet client and visual studio are you using?

[2016-05-23 23:07] #3031 closed

[2016-05-23 23:17] Michael-D-Pine commented on #3065
@axelheer I don't understand this, I have CNtlm installed and as far as I am aware working because I can use npm fine from a command line but this always fails, I don't think I have ever been able to get it work here are there environment variables or something else that needs to be set in a configuration file that will allow the dotnet restore command or other commands to work correctly ?

cheers

[2016-05-23 23:25] troydai commented on #2888
@mlacouture do you have a work around for this issue?

[2016-05-23 23:29] #3202 closed

[2016-05-23 23:29] #3203 closed

[2016-05-23 23:55] serdna27 commented on #3187
Thanks your solution works.

[2016-05-24 01:17] livarcocc opened #3209 "Update the JITPath to use the separate package when we move to a new version of the netcore packages"
When we moved to the RC3 packages, crossgen now expected to the passed the path to the CoreJIT dll.

The packages of the coreclr that we moved to had this dll in the same package as the coreclr, so I used that to figure out the path.

Newer packages will have the core clr jit dll in a separate package, so we will have to updated the code that calculates this path.

The code is located here: https:

[2016-05-24 01:48] Quinn-L commented on #3091
I'm having the same issue as well, however I think I've got it working now (maybe).
According to this https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/runtime-configuration-file.md
you also need to specify the runtime to force the platform properly.
eg. outside next to buildOptions

`"runtimes": {
    "win": [ "win7-x86", "win8-x86", "win10-x86" ]
  }`

Try this to see if Visual St

[2016-05-24 02:52] John0King opened #3210 "dotnet core can not ouput Non-English characters correctly"
## Steps to reproduce
1 . create a console application with this code
[code]
2 . run this application!

## Expected  behavior
ouput four chinese characters with enough letter-space ( 8 english letter width )
## Actual behavior
ouput four chinese characters  but with only 4 english letter width
![dotnet](https://cloud.githubusercontent.com/assets/13639146/15490690/fa19317e-219c-11e6-9109-d9cb104b86

[2016-05-24 03:07] williamthiago commented on #2780
Same behavior/exception for:
[code]

[2016-05-24 03:18] golf1052 commented on #3192
I tried poking around for documentation on global.json and I found [this](http://dotnet.github.io/docs/core-concepts/libraries/libraries-with-cli.html#structuring-a-solution). Based upon above this doesn't work when referencing local projects. I know everything is in flux right now and is pending change but what would be the best reference to look at for local project references?

[2016-05-24 03:33] davidfowl commented on #3205
/cc @emgarten @yishaigalatzer

This is the problem that happens when we don't read the packages.config as part of the dependency walk.

[2016-05-24 04:28] 717009629 commented on #3210
[http://www.cnblogs.com/artech/p/encoding-registeration-4-net-core.html](http://www.cnblogs.com/artech/p/encoding-registeration-4-net-core.html)
`            Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);
            Console.WriteLine("你好");`
"System.Text.Encoding.CodePages": "4.0.1-rc2-24027"

[2016-05-24 04:41] John0King commented on #3210
@717009629. 这不是我遇到的问题，你看截图，汉字并不是乱码，而是叠在了一起。

[2016-05-24 04:45] 717009629 commented on #3210
cmd 属性 改下字体试试

[2016-05-24 05:27] troydai commented on #3112
I tried this scenario in VS preview1 release.

1. Create a new web application
2. Restore, save and close the project.
3. Remove `.nuget\packages` folder
4. Open the project in VS

VS starts restore correctly and all packages are re-download. Afterwards, no error.

The same scenario is valid through runtime automation, too. See branch: https://github.com/dotnet/cli/tree/troy-3112.

The server retu

[2016-05-24 05:28] axelheer commented on #3065
@Michael-D-Pine try setting the `http_proxy` value of the [NuGet Config File](https://docs.nuget.org/consume/nuget-config-file) to point to your local CNtlm installation (e.g. `http://127.0.0.1:3128`)

[2016-05-24 05:29] blackdwarf commented on #3121
@schellap let's chat tomorrow, I need to understand some more what is happening here. The loading logic...is it like that because the host is not built for all distros that this is supposed to run on?

RID compat is not kernel compat, that is, it doesn't imply that.

[2016-05-24 05:32] 18583690825 commented on #2652
I remind there was a command like `dotnet restore -xx 23811`, it used to replace the asterisk into specified version number. But i cannot find the information of how to use it or what the argument is.Does this command exists?

[2016-05-24 05:34] Eilon commented on #3198
@JamesNK we discussed this today with @leecow @gkhanna79 @davidfowl @danroth27 and we will need to chat with you about how to make this happen cleanly. We'll have to time things with you to ensure we can build on top of each other's RTM-quality packages.

[2016-05-24 06:21] Michael-D-Pine commented on #3065
@axelheer Thanks for the info and updates we went and had a chat with our Operations guys and they have something setup that they put in our PC name and it basically enables us for anonymous authentication with the Proxy and this has worked for us here.

But my CNtlm is still fine for npm but I will move away from that soon as I now don't have to worry about re-hasing my password on password chang

[2016-05-24 06:35] fubar-coder commented on #3194
It would be nice, if .NET Core would ensure that stdio is flushed, before reading the input. Might be a corefx problem?

[2016-05-24 06:37] pantonis commented on #3205
Please fix this asap. I think it is a very important bug and the workaround as described by @Eilon in https://github.com/aspnet/Mvc/issues/4680#issuecomment-221171047 is a little bit messy especially where it large projects.

I think 99% of the existing projects out there use .csproj class libraries. So there should be a way of smooth transition to asp.net core.  I already saw a lot of people comp

[2016-05-24 06:42] 4nderss commented on #3131
Okay, after setting that environment variable I'm unable to build the project. It gives me 5204 errors which I guess is just lines from dotnet trace.

Don't know if this helps you but here is the error list.

https://gist.github.com/4nderss/dc054ed313bc82ffa8adc49131015a54

[2016-05-24 06:43] fubar-coder opened #3211 "Project build system support for ref assemblies (PCL bait-and-switch)"
## Steps to reproduce

You want to create a bait-and-switch NuGet package by specifying a build for the `ref` folder instead of the `lib` folder.

## Expected  behavior

A way to specify in the csproj/xproj/project.json that the build output is packaged to the `ref`, instead of the `lib` folder.

## Actual behavior

No way to include it except by using `packInclude` (or similar means).

[2016-05-24 06:44] fubar-coder commented on #3183
Related to #2677

[2016-05-24 06:50] davidfowl commented on #3211
We're not going to be doing features like this as we're eventually moving to msbuild based projects. This kinda of feature has far reaching impact of things like tooling, nuget, intellisense, etc.

[2016-05-24 06:51] davidfowl commented on #3194
I believe @eerhardt fixed this recently.

[2016-05-24 06:59] fubar-coder commented on #3211
That's why I wrote: "Project build system", not explicitly project.json. There should be a way to do this kind of stuff with msbuild based projects.

[2016-05-24 07:00] davidfowl commented on #3211
+1000 😄

[2016-05-24 08:04] teodimache commented on #546
Good to know, thanks!

[2016-05-24 08:08] guylando opened #3212 "What is the alternative to DNX_TRACE in dotnet cli?"
I always used DNX_TRACE environment variable in dnx asp.net projects.
I can't find information on what is the alternative in dotnet cli for DNX_TRACE?
Also, is there some page which lists all the available environment variables in dotnet cli and their purpose?
Thanks a lot!

[2016-05-24 08:14] ayydevara commented on #3190
Same error for me as well. Any update on this one?

[2016-05-24 08:25] pbering commented on #3064
@blackhill thanks, worked for me also

[2016-05-24 08:59] Kagamine opened #3213 "How to kill dotnet process"
I am using the System.Diagnostics.Process to start a process which based on .net core.

after dotnet run.

I want to kill the dotnet process by process id.

I killed the process but it will restart, how to kill it?

[code]

[2016-05-24 09:52] #3213 closed

[2016-05-24 09:55] badyalsk commented on #3064
Thanks alot @blackhill . your solution worked for me.

[2016-05-24 11:28] asadsahi commented on #3190
It works by removing two files from the error location (Page.aspx and Redirect.aspx with their respective c# files), but this is just a work around.

There is an option in project.json file:
`  "compileExclude": "node_modules/**",`
.. this excludes the folder, but compileExclude seems deprecated as per compilation message when you run `dotnet run`

`

`

I have added this as per message suggests:

[2016-05-24 11:30] abpiskunov commented on #3112
Lets do it together today, it did repro consistently.

On May 24, 2016, at 1:27 AM, Troy Dai <notifications@github.com<mailto:notifications@github.com>> wrote:

I tried this scenario in VS preview1 release.

  1.  Create a new web application
  2.  Restore, save and close the project.
  3.  Remove .nuget\packages folder
  4.  Open the project in VS

VS starts restore correctly and all packages are

[2016-05-24 12:44] eerhardt commented on #3194
Yes, this issue was fixed with #3013, but it didn't make it into "Preview1". It is only fixed in the latest "Preview2" nightly builds.

You can work around this issue for now by saying 'dotnet path-to-your-assembly.dll' instead of calling 'dotnet run'.

[2016-05-24 12:44] #3194 closed

[2016-05-24 12:45] kjbetz commented on #2645
@natemcmaster I put a different solution for https://github.com/aspnet/EntityFramework/issues/5460  here: https://github.com/aspnet/EntityFramework/issues/5460#issuecomment-221167712

cc/ @Villason

[2016-05-24 12:51] galmok commented on #1306
This is still an issue. Also, these script commands claims gulp is unavailable (not found):

"postcompile": [ "cmd /c echo after building", "gulp build"],
"postcompile": [ "cmd /c echo after building", "cmd /c gulp build"],

But this entry has no issues with gulp (nor npm or bower):

"prepublish": [ "npm install", "bower install", "gulp clean", "gulp min" ],

[2016-05-24 13:29] BuddyWork commented on #3065
I am getting the same issue with NuGet under VS 2015, I've tried everything and no joy, any ideas?

PATH=.\node_modules\.bin;C:\Program Files (x86)\Microsoft Visual Studio 14.0\Web\External;%PATH%;C:\Program Files (x86)\Microsoft Visual Studio 14.0\Web\External\git
C:\Program Files\dotnet\dotnet.exe restore "d:\temp\DayTrader\.vs\restore.dg"
log  : Restoring packages for d:\temp\DayTrader\src\DayT

[2016-05-24 14:21] eByte23 opened #3214 "Multi-Target library error count and intellisense inconsistent when exclude and includeincluding cs files"
## Steps to reproduce

Target netstandard\* and net35/net40/net451 etc...

In buildoptions for all three have different includes excludes e.g.

[code]
## Expected  behavior

dotnet build and visual studio error and warning count are matching
## Actual behavior

Visual studio seems to include the files and folders exclude by the net\* targets
But works correctly for netstandard*

[2016-05-24 14:33] nemenos commented on #3205
Yes, please, fix this asap. This bug is blocking us all

[2016-05-24 14:35] eerhardt opened #3216 "Re-enable Kestrel.Tests"
In order to get on the RC3 builds of CoreFX, we needed to disable the Kestrel.Tests. This is because they were built on ASP.NET RC2, which isn't compatible with CoreFX RC3 assemblies.

We should re-enable the Kestrel.Tests when we get an ASP.NET RC3 build.

[2016-05-24 14:46] yishaigalatzer commented on #3205
You should be able to move your class library to use project.json to define dependencies while still maintaining the csproj file, this should unblock you (and give you other goodness).

See:
https://oren.codes/2016/02/08/project-json-all-the-things/

Get Outlook for Android<https://aka.ms/ghei36>

On Tue, May 24, 2016 at 7:33 AM -0700, "nemenos" <notifications@github.com<mailto:notifications@githu

[2016-05-24 14:54] yishaigalatzer commented on #3205
You can also define the dependencies just like you would do in any asp.net 4 web application you would build

[2016-05-24 14:58] enricosada commented on #2113
sry i forgot about this issue :smile:

so as we discussed i added in core-docs repo the example for both travis and appveyor.
That's what i use.
I prefer sdk binaries instead of sdk installer because are easier to reproduce locally (no fear, it's just an unzip) and no permission needed, so can be copied everywhere.
I didnt use the dotnet/cli install script because it's more work than just curl | u

[2016-05-24 15:19] sadjadbp commented on #3091
@Quinn-L thanks, that seems to be the fix.

[2016-05-24 15:27] pherbel opened #3218 "Class library compilation fail when targeting netstandard 1.3 with imports net45 reference"
I don't know what I'm doing wrong.

## Steps to reproduce

Create class librarary with Microsoft.Azure.DocumentDb nuget reference
add build target .netstandard 1.3

  "dependencies": {
    "Microsoft.Azure.DocumentDB": "1.6.3",
    "Microsoft.Extensions.Logging.Abstractions": "1.0.0-rc2-final",
    "Microsoft.Extensions.PlatformAbstractions": "1.0.0-rc2-final"
  },
  "frameworks": {
    "net451":

[2016-05-24 15:35] anurse commented on #2289
No, I've been OOF for the past few days. I'm back in today though and will be starting to look at these remaining preview 2 issues.

[2016-05-24 15:38] GuardRex commented on #3091
@sadjadbp are you saying that you were able to get `x86` outputs with `"platform": "x86"` and `dotnet build` merely by having that `runtimes` section present?

[2016-05-24 15:42] sadjadbp commented on #3091
@GuardRex seems like `"platform": "x86" ` is irrelevant, but just in case I just left it there.
I'm using Visual Studio not the command mode, and but adding what @Quinn-L suggested, I was able to get a win7-x86 build folder and the same goes for publishing via VS. I just installed SDK Preview 1 (x64) back again and removed the SDK Preview 1 (x86) from my PC. Now one project with these new settings

[2016-05-24 15:45] tugberkugurlu opened #3219 "DependencyContext.Default is null under mono"
## Steps to reproduce

`Program.cs` file

[code]

`project.json` file:

[code]

run `dotnet run --framework net451`.

## Expected  behavior

console output as `False`.

## Actual behavior

console output as `True`:

[code]

## Environment data
`dotnet --info` output:

[code]

mono:

[code]

[2016-05-24 16:13] tjrobinson commented on #3199
I'm having the same problem. It works in Visual Studio but not when using the dotnet CLI. My class library targets .NET 4.6.1. Error: "Unable to resolve 'MyCompany.MyProject' for '.NETFramework,Version=v4.6.1'."

[code]

[2016-05-24 16:14] tjrobinson commented on #3199
@timotyweis Your "Actual behaviour" error message refers to '.NETFramework,Version=v4.5.2'. - shouldn't it be '.NETFramework,Version=v4.6.2'.?

[2016-05-24 16:15] dmikov commented on #3199
Identical, started with project 4.5.0, thought it might have been issue, build my project to 4.6.1 still cannot resolve that project when running dotnet restore for the target project.

[2016-05-24 16:17] #3210 closed

[2016-05-24 16:34] WolfspiritM commented on #3091
Sorry but I can't get it to work like that.
I removed x86 SDK and installed x64 again, started Visual Studio, created a new "ASP.NET Core Web Application (.NET Framework)" added runtimes beside buildOptions and even added platform so it looks like this:

[code]
Then did a build and ended up with a win7-x64 folder.
Same goes for "dotnet build" and it also crashes (as before when using platform x86)

[2016-05-24 16:34] ayydevara commented on #3190
@asadsahi I did this and it worked fine

	 "buildOptions": {
	    "emitEntryPoint": true,
	    "preserveCompilationContext": true,
	    "debugType": "portable",
	    "compile": {
	    	"include" : ["**/*.cs"]
	    	"exclude" : ["**/node_modules/"]
	      }
	  },

[2016-05-24 16:35] ayydevara commented on #3190
@asadsahi I think I should try just exclude instead of include all cs files.

[2016-05-24 16:40] sadjadbp commented on #3091
@WolfspiritM couple of VS restarts and now mine does not work, it seems to be caching the runtime version! So not fixed for now.

[2016-05-24 16:55] troydai commented on #3112
I saw the issue you mentioned. After the restore accomplish there are issues show up actually. The existence of assemblies are not reset. I'll file a new issue for that and close this one.

[2016-05-24 16:56] troydai opened #3220 "Project model server doesn't update packages' statues after they're restored from missing file statues."
## Steps to reproduce
1. Create a new project in VS, restore, save and close the project.
2. Remove `.nuget/packages` folder
3. Open the project in VS. Missing dependencies are detected and restore is started.
4. Restore finished.

## Expected  behavior
No error.

## Actual behavior
Errors' from the step 3 are not removed even though packages are restored. This is because the package description's

[2016-05-24 16:58] mlacouture commented on #2888
@troydai - yes, but it is very ugly, do you have an ETA for a fix? thanks

[2016-05-24 17:00] troydai commented on #3112
@abpiskunov https://github.com/dotnet/cli/issues/3220

[2016-05-24 17:08] herikx2k3 commented on #3006
Works now, however byte* gives me a CLS compliant error too many of them filling up the terminal no way to actually see the actual compile errors to fix. Is there a way to disable these warnings. dotnet run --help does not appear to have an option to disable warnings.

Thanks once again.

[2016-05-24 17:09] mutex007 commented on #3006
Works now, however byte* gives me a CLS compliant error too many of them filling up the terminal no way to actually see the actual compile errors to fix. Is there a way to disable these warnings. dotnet run --help does not appear to have an option to disable warnings.

Thanks once again.

[2016-05-24 17:16] blowdart opened #3221 "Cannot build a project with space in the name"
## Steps to reproduce

Create an xproj with a space in the file name or in the containing directory. I encountered this trying to port my authorization lab from https://github.com/blowdart/AspNetAuthorizationWorkshop. As you can see there are multiple Step X - Description projects.
## Expected  behavior

Compilation works.
## Actual behavior

When running dotnet build

[code]
## Environment data

[2016-05-24 17:22] brthor commented on #1306
@galmok Is gulp on the path in the first instances?

[2016-05-24 17:25] brthor opened #3222 "MulticoreJit Optimization Data Location should be configurable"
#3083 For reference.

Optimization data is dropped in `~/.dotnet/...`

We should add some option to configure this so we don't need to populate the home directory during our builds.

cc @piotrpMSFT @troydai

[2016-05-24 17:25] mellinoe commented on #3006
That is most likely because you have declared your assembly as CLS Compliant. Pointer types are not CLS compliant.

[2016-05-24 17:26] #3083 closed

[2016-05-24 17:30] #2361 closed

[2016-05-24 17:32] gzak commented on #3206
The wrong one, my bad. It was an older 2013 csproj and I forgot to open it with VS2015 (out of habit).

Now I get a different issue, but I think it's because the package targets netstandard1.5, but needs to target at most netstandard1.2 to be compatible with .net 451 according to [this](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#mapping-the-net

[2016-05-24 17:34] #2974 closed

[2016-05-24 18:11] piotrpMSFT commented on #2888
The work is scheduled for tools rtm.

[2016-05-24 18:13] gzak commented on #3206
Nope, downgrading didn't fix the issue. Here's the error I get in the Description column of the Error List window:
[code]
I'm using the following versions of software:
VS2015: 14.0.25123.00 Update 2
NuGet Package Manager (VS Extension): 3.4.3.

The package was created on the command line using the `dotnet` command, version 1.0.0-preview1-002702

[2016-05-24 18:34] troydai commented on #3220
The root is the issue is that the project model server refresh the project model only after lock files or project files are updated. In this scenario, the lock file is not updated because the dependency graph is not actually updated.

The easiest approach to fix this issue is to touch the lock file after restore to update the "last update time". /cc @piotrpMSFT

[2016-05-24 18:41] davidfowl commented on #3219
/cc @pakrym

[2016-05-24 18:51] troydai commented on #3220
/cc @abpiskunov

[2016-05-24 18:56] troydai commented on #3220
@piotrpMSFT just pointed out that touch lock file after restore will break the incremental build scenario. So that leaves us following choices.

1. Major changes to [how `DesignTimeWorkspace` invalid the project](https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/ProjectContextCollection.cs#L36). To track the changes of resolved path existence flip. The size of the chan

[2016-05-24 19:03] abpiskunov commented on #3220
I like option 3. since from tooling side if we add new request type to PMS , it would be called at the same time as RestoreComplete, so they would not be different actually.

[2016-05-24 19:14] schellap commented on #2537
Fixed by #3195

[2016-05-24 19:14] #2537 closed

[2016-05-24 19:35] pakrym commented on #3219
'preserveCompilationContext' should be set to 'true'  in 'buildOptions' to get 'DependencyContext' on full framework.

[2016-05-24 19:40] enricosada commented on #580
no @piotrpMSFT this issue can be closed, portablepdb or pdb on windows are supported.
these need to be configured in project.json (like c#)

[2016-05-24 19:57] CarlosTorrecillas opened #3224 ""Dotnet restore" references 1.0.0-rc3-002832"
## Steps to reproduce

On Mac OS:

- Get the SDK from GitHub (https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/Latest/dotnet-dev-osx-x64.latest.pkg)
- Follow the steps to create a new app: https://www.microsoft.com/net/core#macosx
- You can either try to debug using VS Code or run it through the console you get the following message:

error NU1001: The dependency Microsoft.NETCore

[2016-05-24 20:50] abpiskunov commented on #577
no, it does not repro in dotnet cli

[2016-05-24 22:08] MichaelSimons opened #3226 "Unable to build full PDBs on Nano Server"
## Steps to reproduce

1. Install .NET CLI on Nano Server TP5.  The following Dockerfile illustrates the steps you can use to do this.

[code]

2. mkdir app
3. cd app
4. dotnet new
5. dotnet restore
6. dotnet build

## Expected  behavior
Build should succeed.

## Actual behavior
Build fails

Verbose output:

[code]

running `dotnet.exe "C:\Program Files\dotnet\sdk\1.0.0-preview2-002832\csc.dll" -n

[2016-05-24 22:17] gkhanna79 commented on #2831
@schellap This also requires the host to be updated to pass the JIT path to the runtime if there is a case of loading CoreCLR when clrjit is *not* next to it. See https://github.com/dotnet/coreclr/commit/2385b697ea4eeaa7314fafd32415e943601211cf#diff-6202e77c14df46ab42fe3b629083b3a9 for details.

[2016-05-24 22:17] Quinn-L commented on #3091
@WolfspiritM Your settings are correct.
I believe you need x86 SDK installed, as I don't think the x64 SDK can build 32 bit apps (if it can, VIsual Studio doesn't seem to like it)
I have both installed on your machine and don't appear to interfere with each other.

[2016-05-24 22:48] mutex007 commented on #3006
Thanks. it appears a third party lib i download had declared cscompliant in the assembly.cs file. Removing it solved the problem.

[2016-05-24 22:48] #3006 closed

[2016-05-24 23:21] Quinn-L commented on #3091
Further research shows that x64 CLI can't build x86 apps https://github.com/dotnet/cli/issues/1485
We are required to install the x86 SDK and get this CLI to build our projects.
So the reason it was originally working in VS on my machine was because I managed to get the x86 CLI as the primary CLI, but on restarting my VS is now with x64 CLI and breaking the build.
Looks like those build settings a

[2016-05-25 00:42] ericwj commented on #1509
Ah yes, I have noticed that this is what the templates do nowadays. I believe I had stuff running doing `Directory.GetCurrentDirectory()` although that seemed a hack of sorts.

But thanks for dropping me a line 👍

[2016-05-25 01:29] troydai commented on #3112
Close as a narrowed down scenario is going to be addressed in #3220 .

[2016-05-25 01:29] #3112 closed

[2016-05-25 04:47] ellismg commented on #3224
This is by design.  The daily builds of CLI (which is what's present at https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/Latest/dotnet-dev-osx-x64.latest.pkg reference the latest version of the Microsoft.NETCore.app package (which is the version that will eventually become 1.0 RTM).

https://github.com/dotnet/cli/blob/9155fbfbdbcb03877fc7b6e8a880b911c2e90449/Documentation/known-is

[2016-05-25 05:35] blackdwarf commented on #3063
After some thinking about this, I think that this is really a problem of various different shell installers. We will have documentation to essentially have a workaround to add the symbolic link manually.

[2016-05-25 05:35] blackdwarf commented on #1567
After some thinking about this, I think that this is really a problem of various different shell installers. We will have documentation to essentially have a workaround to add the symbolic link manually.

[2016-05-25 06:10] manu-silicon opened #3232 "Running a program using .NET Core"
## Steps to reproduce

I'm looking how I can use .NET Core on Linux to run a program I compiled myself (i.e. without using the dotnet-cli tools). When I compile CoreCLR myself, I just do corerun myprogram.exe where corerun is in my path and sits along with all the native shared libraries and the .NET assemblies (mscorlib and CoreFX). All is fine but to make the process easier, I'd would rather ins

[2016-05-25 06:40] leo9223 opened #3233 "How to consume mixed mode/native library in asp.net core? while targeting net461"
## Steps to reproduce

1. Here is the package I have made with a native library that is publicly available https://www.nuget.org/packages/SmileNet/

2. Please make an asp.net core project and target **net461** in project.json

3. Install this package from nuget

4. Try to consume by creating an object of type `Network obj = new Network();`

## Expected  behavior
It should successfully create an ob

[2016-05-25 06:55] davidfowl commented on #3233
NuGet packages with native assets have a very specific layout in NuGet v3 (the one we're rely on). You'll need to re-package to support the new layout. If you want to see examples, take a look at https://www.nuget.org/packages/Libuv/1.9.0-rc2-20896 or https://www.nuget.org/packages/Microsoft.Data.SQLite/1.0.0-rc2-final.

You'll need this:
http://dotnet.github.io/docs/core-concepts/rid-catalog.html

[2016-05-25 07:04] mellinoe commented on #3232
@schellap

[2016-05-25 08:09] asadsahi commented on #3190
Makes sense @ayydevara . Blacklisting using exclude sounds good to me too instead of whitelisting files. Thanks

[2016-05-25 08:09] #3190 closed

[2016-05-25 08:16] pherbel commented on #3218
Any help?

[2016-05-25 08:22] timotyweis commented on #3199
@tjrobinson Exactly, the message that I've posted is wrong (actually it was from a previous test with the v4.5.2 which is not working as well)

[2016-05-25 09:24] schellap commented on #3232
Could you please attach a zip file of your application drop?

[2016-05-25 09:31] schellap commented on #3232
Is there a reason you can't use the .NET CLI SDK?

If all your app's dependencies are in the app directory, then you need the following:

app.dll -- this is just the managed binary (named as .dll)
app.exe -- copy over dotnet.exe as app.exe (note: this is not future-proof) into the app base
hostfxr.dll -- copy over from the .NET Core install base.
hostpolicy.dll -- copy over from the .NET Core Shar

[2016-05-25 10:09] ncave commented on #3158
@enricosada I tried using the latest visualfsharp CI build (1.0.0-alpha-160523) to see if it will make a difference, but it does not. Still getting the same error:

![breakpoint](https://cloud.githubusercontent.com/assets/777696/15535936/41bc5452-2224-11e6-806a-aaa0fbb47ffc.png)

On a related topic, is it possible to debug with VSCode as you mentioned [here](https://github.com/ctaggart/dotnet-vsco

[2016-05-25 10:19] am11 commented on #3196
NLog supports .NET Platform (Core RC2): https://www.nuget.org/packages/NLog/4.4.0-beta8. We can use it like this:

[code]

*(there is also NLog extension package for ASPNET Logging abstraction: https://github.com/aspnet/Logging -- {readme links to} --> https://github.com/NLog/NLog.Extensions.Logging -- {readme links to} --> https://www.nuget.org/packages/NLog.Extensions.Logging)*

For NPOI (or in

[2016-05-25 10:23] Dresel commented on #3175
I also wasted some time on this issue. This information may be helpful for others to track down the problem. `Microsoft.CodeAnalysis.FxCopAnalyzers` is composed of other [nuget packages](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/1.2.0-beta2) which contain the actual analyzers. These analyzers (dependencies of FxCopAnalyzers) do not get added to the compiler options, unle

[2016-05-25 10:23] dmikov commented on #3199
Guys, are your projects csproj based? Mine is. Might be a duplicate of https://github.com/dotnet/cli/issues/3205

[2016-05-25 10:30] dmikov commented on #3205
+1 it is blocking issue for us as well (I can do it in VS, but build server crashes) and no - the wrapper doesn't work. Going to try @yishaigalatzer suggestion now.

[2016-05-25 11:40] amcdnl commented on #3205
+1 Blocker for me

[2016-05-25 11:54] Alxandr commented on #580
I'm not saying this isn't resolved, but @enricosada when I mad this issue, it had nothing to do with portable PDBs.

[2016-05-25 12:18] PeterJakubik commented on #3196
I came up with following project.json

[code]

But this gives me a lot of errors Package System.XY is not compatible with net451 (.NETFramework,Version=v4.5.1)

But when i remove `"Microsoft.NETCore.App"` from dependencies everything compiles and works.

Is this a right way to compile with full Framework?

Thanks
Peter
[project.json.txt](https://github.com/dotnet/cli/files/281909/project.json.txt)

[2016-05-25 12:26] am11 commented on #3196
In full framework, `imports` is usually not required. If the app is targeting `netcoreapp1.0`, there `imports` can be specified for dependencies like NPOI.

Yes, removing for net4x is the way to go:  `Microsoft.NETCore.App` is not [yet](https://github.com/dotnet/corefx/issues/8453) supported with full framework. It can be put under `netcoreapp1.0` (if the app is targeting that TFM).

[2016-05-25 12:27] #3196 closed

[2016-05-25 12:28] stefan505 opened #3234 "resx files in sub-folders causes 'MissingManifestResourceException'"
## Steps to reproduce
1. Create a new .NET Core console app targeting `net451` only.
2. Create a new .NET Core class lib targeting `net451` only and reference it in the app.
3. Add folder in the class lib.
4. Add resource file to the folder e.g. `Resource.resx`.
5. Add another resource file to the folder e.g. `Resource.af-ZA.resx`.
6. Add corresponding resource key and value to both resx files.
7.

[2016-05-25 13:13] galmok commented on #1306
@brthor Obviously gulp is not in the path and that is the bug. The path during setup during postcompile does not include a path to gulp. The same is not a problem with the prepublish step. Shouldn't the path for postcompile and prepublish both include a path to gulp (and bower, npm, and maybe more)?

[2016-05-25 13:32] kgosciniak-insys opened #3235 "Object reference not set to an instance of an object after publish"
I'm having trouble when publishing my application.
Published output doesn't work, with error:

## Steps to reproduce

1. Create Empty ASP.NET Core Web Application (.NET Core)
2. Setup simple project.json
[code]

3. `dotnet restore`
4. `dotnet run`
5. "Hello world" is visible in browser at http://localhost:5000
6. dotnet publish -r win8-x64 -o "c:\tmp\Publish"
7. Navigate to output directory "c:\tm

[2016-05-25 14:12] dasMulli commented on #3235
It should generate and run with `WebApplication4.exe` (no `dotnet ...` call required for standalone apps).
The nullref comes from `run` not finding a project.json/project.lock.json and afaik has been fixed in newer builds.

[2016-05-25 14:26] CezaryRynkowski opened #3237 "dotnet restore - TeamCity"
I have a issue with deploying by TeamCity. When i run C:\Program Files\dotnet\dotnet.exe restore from cmd its going greate, but when i running the same command from TeamCity Agent i getting error:
error: TODO: unknown keyword platform
unknown keyword platform

## Steps to reproduce
Create new project -> dotnet new
Create new TM project, install .net core plugin from [here](https://github.com/JetBr

[2016-05-25 14:29] zygimantas opened #3238 "project.lock.json file name case"
"dotnet restore" should take account into how project.json is named and generate project.lock.json accordingly. I personally use Pascal case naming convention for files.

## Steps to reproduce

1. Create file Project.json
2. Execute "dotnet restore"

## Expected  behavior

**P**roject.lock.json

## Actual behavior

**p**roject.lock.json

## Environment data

.NET Command Line Tools (1.0.0-preview1

[2016-05-25 14:34] jamisonwight commented on #3063
I had the same problem and found that closing my terminal sessions and reopening a new terminal fixed this issue as @flyingsky stated.

[2016-05-25 14:59] Antaris opened #3239 "Unable to include project reference to CLI tool"
## Steps to reproduce

Create two .NET Core projects
- Class library representing the tool (`DemoTool`)
  -- Add `Program.cs` with `Main(string[] args) => Console.WriteLine("Hello World");`

[code]
- Console application representing the app (`DemoApp`) referencing the tool

Configure a project reference to the tool

[code]

Execute `dotnet restore`
## Expected  behavior

`dotnet restore` executes

[2016-05-25 15:28] blackdwarf commented on #3239
@Antaris have you used `dotnet pack` to package a tool as a NuGet package? Did you also point `dotnet restore` to the right feed where the tool is?

There is a document on http://dotnet.github.io/docs/core-concepts/core-sdk/cli/extensibility.html that goes into more details about how this all works.

[2016-05-25 15:28] blackdwarf commented on #3238
@emgarten @yishaigalatzer thoughts on this?

[2016-05-25 15:33] blackdwarf commented on #3237
@CezaryRynkowski hmm, seems like the plugin is trying to invoke an old version of the dotnet tool. You can see it in the log, since it is trying to invoke `C:\Program Files\dotnet\bin\dotnet.exe` instead of `C:\Program Files\dotnet\dotnet.exe`.

[2016-05-25 15:37] blackdwarf commented on #3235
@dasMulli is right. For a standalone app, you will get an EXE file that you run.

Can you try with the latest builds and see if the `dotnet run` behavior is correct (not throwing)?

[2016-05-25 15:41] blackdwarf commented on #3224
@CarlosTorrecillas since this is a by design behavior and @ellismg has pointed to the documentation that explains what needs to be done here, I will close this issue.

[2016-05-25 15:41] #3224 closed

[2016-05-25 15:49] blackdwarf commented on #3221
@blowdart this is xproj specific?

[2016-05-25 15:55] buzhansky commented on #3234
There are problem in generation *.Designer.cs file
 internal static global::System.Resources.ResourceManager ResourceManager {
            get {
                if (object.ReferenceEquals(resourceMan, null)) {
                    global::System.Resources.ResourceManager temp = new global::System.Resources.ResourceManager("Test.Global.Resources", typeof(Global_Resources).GetTypeInfo().Assembly);

[2016-05-25 15:55] sadjadbp commented on #3091
@Quinn-L Seems like whichever SDK you install the first (if you have both), it will be the default. I had x64 uninstalled and x86 installed. Both projects of mine (the one I wanted to be build in x86 and the other one that is fine under x64) was build in x86. Now I installed x64 on top of x86 SDK, and still both projects are compiled in x86 mode! As you said, seem like all those settings in projec

[2016-05-25 16:01] PeterHageus commented on #3131
Same problem. Building for NET46. Have output if needed.

[2016-05-25 16:01] blackdwarf commented on #3197
There are no builds of the SDK for ARM currently (and I'm pretty sure that .NET Core is also not being built for that arch; @brthor am I right?) so this is by design. The script is trying to download the only SDK for Debian it can.

[2016-05-25 16:02] blackdwarf commented on #3192
@golf1052 yes though we have a document in works on the same site that is a reference for `global.json` files: http://dotnet.github.io/docs/project-model/global-json-reference.html.

[2016-05-25 16:05] Antaris commented on #3239
@blackdwarf

No, what I am trying to do is use a .NET Core CLI tool as a project reference, like I can do for a class library. The problem with the `dotnet pack` approach is that it requires me to pack and deploy an in-development tool through which I then have to reference in a *separate* solution because I can't restore it using a local project source reference instead of it trying to download i

[2016-05-25 16:06] blackdwarf commented on #3146
/cc @cdmihai

[2016-05-25 16:09] yishaigalatzer commented on #3238
I disagree, the casing should be predictable (lower case) and no extra magic should be added, and on UNIX we shouldn't support Project.json

[2016-05-25 16:15] enricosada commented on #580
sry @Alxandr i confused empty symbol package with empty debug symbols assembly (thinking about the empty pdb generated atm by dotnet build with f#)

so about symbol package:

using netcore sdk preview1:

[code]

output of `dotnet pack`:

[code]

and `testsy.1.0.0.symbols.nupkg` contains `Program.fs` (the source file).

[code]

That was the issue before @Alxandr ?

[2016-05-25 16:20] GrantErickson commented on #3239
I am running into the same issue.

I want to be able to debug my CLI tool like I was able to with DNX. Additionally, I was hoping for a quick turn around for debugging my code gen templates. Creating a package and restoring every time I want to run after a change seems like a very slow process.

Any guidance on the debug story for tools?

[2016-05-25 16:21] #3063 closed

[2016-05-25 16:22] piotrpMSFT commented on #1567
Fixed by #3240

[2016-05-25 16:22] #1567 closed

[2016-05-25 16:24] akoeplinger commented on #3238
I agree with @yishaigalatzer, I ran into a similar issue before because of project.json casing: https://github.com/dotnet/cli/issues/561

[2016-05-25 16:37] GuardRex commented on #3232
@schellap Little confused by one line there ...

Are you saying that `app.exe` for a self-contained app is really just `dotnet.exe` renamed when we explicitly publish a self-contained app?

[2016-05-25 16:39] robert-sandor commented on #2018
For Ubuntu 16.04, installing libicu52 from trusty-security seems to fix the problem.

[2016-05-25 16:46] BrennanConroy commented on #1977
This is fixed by https://github.com/dotnet/cli/pull/3013 I believe.

[2016-05-25 17:01] marspd commented on #3070
I'm having exactly the same problem as you ArieJones. Have you managed to find a solution at all?

[2016-05-25 17:21] blowdart commented on #3221
Well, that's all I use, so I would assume so :) They're all ASP.NET Core apps.

[2016-05-25 17:26] blackdwarf commented on #3239
@Antaris @GrantErickson this is not supported for RC2. You have to package your tool as a Nuget package. However, you don't have to have a feed, you can restore it using the `-f` switch to `dotnet restore`.

We are thinking about whether to add this feature going forward.

[2016-05-25 17:26] blackdwarf commented on #3238
+1 on that. Mixing cases is not good.

[2016-05-25 17:32] blackdwarf commented on #317
@andriysavin for now, we have a roadmap and a supported OS matrix that you can see in the repo. We are working off of that for RTM and ARM support for the CLI is not planned at this time.

Of course, this may change in the future as we hear feedback from the users on theirs needs and as we broaden support for the CLI tooms.

[2016-05-25 17:54] yishaigalatzer commented on #3238
The only thing we will need to support going forward is projectname.project.json and the equivalent lock file, there we should just follow the project casing verbatim

[2016-05-25 18:14] #3234 closed

[2016-05-25 18:23] GrantErickson commented on #3239
Thanks for the update. Good to know I can stop looking. I would definitely vote for a better debug story going forward.

[2016-05-25 18:24] ArieJones commented on #3070
I had to uninstall EVERYTHING 2015...delete the associated folder for the version in program files and the MSBuild folder and then reinstall.....
When I tired to just uninstall and reinstall VS it didn't work...

This is a pretty major problem since they have this install link showing up in the notifications area in vs

[2016-05-25 18:37] piotrpMSFT opened #3243 "Host Policy to allow roll forward of preview1 -> preview2 sdk version"
Tools preview2 will be compatible with projects built against tools preview1. The VS Templates for preview1 included an sdkversion of 1.0.0-preview1-002702. Once preview2 ships, the muxer should allow preview1 projects to roll forward to the preview2 tools.

[2016-05-25 18:41] NTaylorMullen opened #3244 "Build-base-path cannot handle trailing slash"
## Steps to reproduce
`dotnet build --build-base-path "C:\users\USER\foo\"`

## Expected  behavior
Strips trailing slash and works as expected.

## Actual behavior
`Illegal cahracters in path.` output

## Environment data
`dotnet --info` output:
[code]

## Notes
This also happens when using tools that utilize `ProjectDependenciesCommandFactory`.

[2016-05-25 18:59] blackdwarf commented on #3238
@yishaigalatzer what is this?

[2016-05-25 20:17] jasonwilliams200OK commented on #3205
This is blocking us as well. New application xproj wants to three csproj-based libraries which are not maintained by us as they are submodules. So where changing the dependency lib projects is not an option, the new project system is off the table?

First:

dotnet restore fails ``Unable to resolve 'csproj-based-project-name' for `.NETFramework, Version=v4.5` `` see #3199: same for 4.5.1, 4.5.2, 4.

[2016-05-25 21:32] eerhardt commented on #3120
We can put any file we want in this repo.  We can put a `.version` file if we want...

The idea is, the versions repo contains the necessary information for your consumers to know about the different build versions of your repo.  If a commit hash is part of that "necessary information", then putting the commit hash is fine.

[2016-05-25 21:37] ramarag opened #3247 "Resources only work when placed in the default namespace"
Using RC2 version, if a resource is placed outside the default namespace, its ResourceManager throws a MissingManifestResourceException when it tries to get the ResourceSet

Scenario:

[code]

Expected behavior:

[code]

Actual behavior:

[code]

Workaround:

Add a namedResource in Project.json to force the resource to be embedded as TestResx.Res.resources

  "namedResource": {
    "TestResx.Res":

[2016-05-25 21:45] sokket commented on #3120
Awesome, I have most of this written now; I'm waiting for #3230 to go in before making more changes since there will be conflicts

[2016-05-25 22:48] dsgouda commented on #3152
Tagging @brianrob for reference

[2016-05-25 22:50] svick commented on #3186
@jasonwilliams200OK Thanks for letting me know, I have rebased #2244.

[2016-05-25 23:01] PavelSafronov commented on #564
+1

Any updates on this issue or if there is a way to accomplish the same with the current releases?

[2016-05-25 23:17] brthor commented on #3244
This is an issue at the Windows level as it escapes the final quote, and is true for any argument.

The args are delivered in string[] args as not delimited properly when trailing backslashes are used before a quote.

If you must do this you can escape the trailing backslash like so:
`dotnet build --build-base-path "C:\users\USER\foo\\"`

[2016-05-25 23:17] #3244 closed

[2016-05-25 23:24] yishaigalatzer commented on #3238
The ability to have more than one csproj file in a folder, and a matching project.json connected to it. This might all change depending on how we design the msbuild based integration.

Imho we shouldn't do any improvements of this nature at this point until we lock the msbuild based design. E.g. this file will probably change both its name, content and location

[2016-05-25 23:40] Max13 commented on #1644
Hi there, sorry for hijacking your issue.

I'm reported the same issue with my exe (made with Inno Setup), compiled on a clean installed VM with Windows 7 original. I'm sharing in case we discover something like github is modifying the submitted exe files.

The issue was reported on Windows 10/Defender

https://github.com/Max13/Pulse-Qt/releases/download/v1.2.0/Pulse-1.2.1_Win32.exe

[2016-05-26 00:20] techcap commented on #3197
Then, how can I run asp.net core rc2 project which only use net451(mono) in arm linux machine, such as raspberry pi? It was working properly on RC1.

[2016-05-26 02:00] schellap commented on #3243
Validated global.json.sdk.version works as follows:

1. Pick specified version in global.json.
2. If not 1, pick maximum production version.
3. If not 2, pick maximum pre-release version.

**Note** step 2 can pick a smaller production version (say, 1.0.0) over a higher pre-release version (2.0.0-prerelease-00001).

Closing for preview 2.

[2016-05-26 02:00] #3243 closed

[2016-05-26 04:42] hach-que commented on #2629
So now that RC2 is out, can we revisit this?

[2016-05-26 04:53] yishaigalatzer commented on #2629
This is going to completely change, we are moving away from project.json to msbuild for dependencies, so at point you need your own entries in msbuild and your own tool chain through something like an msbuild task.

We are just starting the design, so not much to talk about but in general whatever you have that works for msbuild should work with minor changes.

[2016-05-26 04:58] hach-que commented on #2629
Oh okay.

In Protobuild, we actually generate the MSBuild projects that are then used in IDEs / build tools.  The package resolution occurs before MSBuild or xbuild ever gets invoked.  The goal of this task was that because the .NET Core tools were using `project.json` and not MSBuild, we wanted to ensure that package dependencies could be resolved correctly when .NET Core projects were built.

We

[2016-05-26 05:00] piotrpMSFT commented on #3247
why is this preview2 release blocking?

[2016-05-26 05:02] piotrpMSFT commented on #3239
@rrelyea enabling p2p `tools` will primarily be a NuGet feature. Should we track this in NuGet/home?

[2016-05-26 05:08] piotrpMSFT commented on #3238
@zygimantas as this whole space [matures](https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/) over the next few months we will have an opportunity to think about how these file names relate to one another. For now we're going to keep things stable so we're not driving the product in two directions.

[2016-05-26 05:08] #3238 closed

[2016-05-26 05:15] piotrpMSFT commented on #3237
@CezaryRynkowski take a look at this [doc](http://dotnet.github.io/docs/core-concepts/core-sdk/cli/using-ci-with-cli.html). For CI scenarios we strongly recommend using the dotnet-install scripts so you have total control over the Cli you are using. Just invoke the appropriate script early in your build, either .sh or .ps1. The script will download and PATH the CLI version you expect regardless of

[2016-05-26 05:15] #3237 closed

[2016-05-26 05:23] piotrpMSFT commented on #3235
preview2 does indeed include a fix:

[code]

[2016-05-26 05:23] #3235 closed

[2016-05-26 05:25] piotrpMSFT commented on #3233
Thanks @davidfowl!

[2016-05-26 05:25] #3233 closed

[2016-05-26 05:47] Alxandr commented on #580
Yes. I believe this was fixed by convention when the F# compiler started using the same fields for what files to compile as the C# compiler did. Still think it should be allowed for the compiler to inject into what goes into the symbols package, but yeah, this works.

[2016-05-26 05:48] piotrpMSFT commented on #3232
@manu-silicon since the dotnet tools are still in preview we are not ready to document the output artifacts generated by the SDK. The SDK does do compilation, as you did, but they also generate a layout and supporting artifacts required for running the application with the host. If you want to use a custom process to compile your binary then consider building a working application with the SDK and

[2016-05-26 05:48] #3232 closed

[2016-05-26 05:50] piotrpMSFT commented on #3226
@tmat does csc support generating full PDBs on Nano?

@MichaelSimons why does this need to be supported for preview2?

[2016-05-26 05:53] piotrpMSFT commented on #3222
@brthor what is the scenario here? Why do we care about populating the home directory during our builds?

[2016-05-26 05:55] aL3891 commented on #3239
There's this issue Nuget/Home#2469 and also dotnet/cli#854

[2016-05-26 05:57] piotrpMSFT commented on #3220
Seems reasonable. @troydai is there a scenario where we would not want to dispose the cache on RestoreComplete?

[2016-05-26 05:57] piotrpMSFT commented on #3220
@troydai can you associate a milestone with this issue?

[2016-05-26 05:59] piotrpMSFT commented on #3219
@tugberkugurlu I'm going to close the issue. If @pakrym's suggestion did not help please let us know and we'll reopen.

[2016-05-26 05:59] #3219 closed

[2016-05-26 06:04] piotrpMSFT commented on #3218
Can you provide a complete project.json?

[2016-05-26 06:06] piotrpMSFT commented on #3218
I'm also curious about the scenario. Why add imports net45 to a netstandard target? If the dependencies are not available for netstandard and are not portable, what is the purpose?

[2016-05-26 06:06] piotrpMSFT commented on #3216
is there a related ASP.NET issue?

[2016-05-26 06:07] piotrpMSFT commented on #3214
@troydai can you take a look?

[2016-05-26 06:08] schellap commented on #3232
@manu-silicon,  do you have app.dll, app.runtimeconfig.json and do a `dotnet app.dll`, things should work, let me know or attach zipball.

[2016-05-26 06:11] davidfowl commented on #3218
You can;t import net45, that's broken. Imports are powerful but also very hard to get right.

[2016-05-26 06:18] piotrpMSFT commented on #3201
@barrytang

[2016-05-26 06:29] piotrpMSFT commented on #3192
@golf1052 for project-to-project references to work the projects must be in the domain of a single global.json. It is the global.json that describes where peer projects can be found. Please restructure your projects like this:

[code]

[2016-05-26 06:29] #3192 closed

[2016-05-26 06:30] piotrpMSFT commented on #3189
@ericstj

[2016-05-26 06:30] PeterHageus commented on #3131
Problem solved. Used the wrong template in VS to determine required changes.

Removing the dependency on "Microsoft.NETCore.App" does the trick.

[2016-05-26 06:33] piotrpMSFT commented on #3187
@victorhurdugaci can you take a look? we shouldn't require deleting obj before running `dotnet watch`

[2016-05-26 06:38] piotrpMSFT commented on #3186
Closing since duplicate of #2234

[2016-05-26 06:38] #3186 closed

[2016-05-26 06:40] piotrpMSFT commented on #3185
@ahmad-moussawi do you have a repro project.json? We run quite a bit of restore operations on Ubuntu 14.04 x64 and I've not seen this symptom before. let's see if I can get a repro.

@schellap

[2016-05-26 06:44] piotrpMSFT commented on #3184
Thanks @nmilosev! I'm going to close the issue since there is not action to take here, but I'm sure folks will be glad to find it when searching :)

/cc @livarcocc

[2016-05-26 06:44] #3184 closed

[2016-05-26 06:53] tmat commented on #3226
@piotrpMSFT I don't know, we don't test Roslyn compilers on Nano afaik. I'm not familiar with what dependencies of DiaSymReader are or are not available on Nano server. That would need to be investigated.

[2016-05-26 06:56] piotrpMSFT commented on #3183
We'll track this in #2677

[2016-05-26 06:56] #3183 closed

[2016-05-26 06:56] nmilosev commented on #3184
Sure, @piotrpMSFT that was the idea. Glad I can help and thank you guys for everything. :)

I've done some more testing with Fedora, and everything seems to be working perfectly.

Cheers!

[2016-05-26 06:59] Antaris commented on #3239
That's fair enough. I have a follow up question:

Given that I could be building a tool to use the output of a projects compile - how would I initialise `DependencyModel.Default` with the context of the project I am trying to target, if I am running my too using `dotnet run`?

E.g, how can I debug this?

[2016-05-26 07:08] piotrpMSFT commented on #3173
Can we move this to https://github.com/xunit/dotnet-test-xunit?

[2016-05-26 07:21] piotrpMSFT commented on #3171
@svick you have it right. The Microsoft.NetCore.App dependency should only exist under that `framework`. We're playing with a few design changes to make this more straightforward in the future!

[2016-05-26 07:21] #3171 closed

[2016-05-26 07:33] piotrpMSFT commented on #3170
@jasonwilliams200OK I'm curious about (2). Where are you seeing missmatched version badge/installer links? Both branches, `rel/1.0.0` and `rel/1.0.0-preview1` appear self consistent.

As to stable links, we should be directing folks [here](https://www.microsoft.com/net/download).

@blackdwarf assigning to you so you can implement the right design here. Putting in backlog as we're not blocking rele

[2016-05-26 07:34] piotrpMSFT commented on #3168
When do we expect this to come in, @pakrym ?

[2016-05-26 07:35] piotrpMSFT commented on #3166
@abpiskunov setting rtm milestone per your original comment. Let me know if this needs attention sooner. Focused on preview2/3 right now.

[2016-05-26 07:37] piotrpMSFT commented on #3158
@enricosada putting in backlog for now. We can bring in once understood.

[2016-05-26 07:38] piotrpMSFT commented on #3155
dupe of #3211

[2016-05-26 07:38] #3155 closed

[2016-05-26 07:42] piotrpMSFT commented on #3151
@DustinCampbell have  you seen this before?

[2016-05-26 07:44] fubar-coder commented on #3155
Shouldn't the bait-and-switch trick work even when there's no `ref` assembly specified? At least until `ref` assembly packaging is supported?

[2016-05-26 07:44] piotrpMSFT commented on #3146
@brianrob @lt72 are we collecting comparable data across RIDs?

[2016-05-26 07:45] piotrpMSFT commented on #3145
@ryanbrandenburg are you saying that dotnet-test-xunit executes tests inconsistently with other xunit runners, e.g. the xunit console runner?

/cc @livarcocc

[2016-05-26 07:50] piotrpMSFT commented on #3144
@barrytang @abpiskunov there are a number of potential tools issues here. Can you take a look, and provide guidance for tools bugs?

[2016-05-26 07:52] piotrpMSFT commented on #3136
We need to think about this in the context of the new project model design...

[2016-05-26 07:59] piotrpMSFT commented on #3131
When targetting multiple frameworks, `Microsoft.NetCore.App` should only appear under `netcoreapp1.0`.

@blackdwarf we should think about moving the dependency in `dotnet new` templates. I'm seeing this create a lot of confusion. Thoughts?

[2016-05-26 08:00] piotrpMSFT commented on #3130
@muratg @Eilon are we moving this to MVC?

[2016-05-26 08:02] piotrpMSFT commented on #3181
Fixed by #3129

[2016-05-26 08:02] #3181 closed

[2016-05-26 08:04] piotrpMSFT commented on #3128
Fixed by #3129

[2016-05-26 08:04] #3128 closed

[2016-05-26 08:05] tjrobinson commented on #3199
Mine is csproj based, yes.

[2016-05-26 08:05] piotrpMSFT commented on #941
I verified this is fixed in preview2.

[2016-05-26 08:05] #941 closed

[2016-05-26 08:06] piotrpMSFT commented on #2429
Closed, since fixed in preview2.

[2016-05-26 08:06] #2429 closed

[2016-05-26 08:06] piotrpMSFT commented on #3127
Fixed by https://github.com/dotnet/cli/pull/2980

[2016-05-26 08:06] #3127 closed

[2016-05-26 08:07] piotrpMSFT commented on #3124
@barrytang @abpiskunov can you take a look and provide guidance for tooling issues?

[2016-05-26 08:09] asadsahi commented on #3151
Thanks @piotrpMSFT The issue was resolved.

Problem on my machine was that I had older version of .net runtime (Version: 1.0.0-rc2-002374) even I installed the latest version, On physical location I had two versions and cli was picking up the old version. I manually deleted the folder and the issue was resolved.

This is what the situation was when both versions exist:
![image](https://cloud.githu

[2016-05-26 08:09] #3151 closed

[2016-05-26 08:10] piotrpMSFT commented on #3123
#3229 reduces the verbosity of NuGet during `dotnet restore`.

[2016-05-26 08:10] #3123 closed

[2016-05-26 08:15] piotrpMSFT commented on #3115
@MichaelSimons does the `dotnet-install.ps1` vector not suffice for a one-line installation story here?

[2016-05-26 08:16] piotrpMSFT commented on #3115
related to #3113

[2016-05-26 08:16] piotrpMSFT commented on #3109
@livarcocc can you take a look?

[2016-05-26 08:17] piotrpMSFT commented on #3105
@davidfowl can you elaborate the bug?

[2016-05-26 08:21] piotrpMSFT commented on #3097
@yishaigalatzer @rrelyea can you link the associated NuGet issue? Closing CLI issue as external, but a pointer would be nice for folks that run across this.

[2016-05-26 08:21] #3097 closed

[2016-05-26 08:22] piotrpMSFT commented on #3096
@cdmihai can you comment?

[2016-05-26 08:23] piotrpMSFT commented on #3094
@ajaybhargavb can you comment?

[2016-05-26 08:29] piotrpMSFT commented on #3091
@barrytang @abpiskunov can you take a look? Where should folks be opening VS Tooling issues?

[2016-05-26 08:31] piotrpMSFT commented on #3089
Closing per @vcsjones comment above.

[2016-05-26 08:31] #3089 closed

[2016-05-26 08:34] piotrpMSFT commented on #3087
CLI's platform matrix is largely driven by CoreFx & CoreCLR matrix. I'm closing this issue since there is not action we can take in CLI today. Let's move this conversation into dotnet/coreclr if interest grows.

[2016-05-26 08:34] #3087 closed

[2016-05-26 08:34] piotrpMSFT commented on #3086
duplicate of #2855

[2016-05-26 08:34] #3086 closed

[2016-05-26 08:36] piotrpMSFT commented on #3085
This is currently by-design. As the project system matures we should address this scenario.

[2016-05-26 08:36] #3085 closed

[2016-05-26 08:37] piotrpMSFT commented on #3081
@lt72 can you take a look? We need to have these tests be repeatable...

[2016-05-26 08:43] piotrpMSFT commented on #3071
Also please note that, though rc2 > preview1, the preview1 CLI is in fact newer. The repo got ahead of the product in version suffixes, I'm afraid.

If `dontet --version` is preview1 then you have the latest!

[2016-05-26 08:43] #3071 closed

[2016-05-26 08:49] piotrpMSFT commented on #3067
#3226 is related

[2016-05-26 09:25] pherbel commented on #3218
project.json
{
  "version": "1.0.0-*",
  "description": "DocumentDbUtils Class Library",
  "authors": [ "PeterHerbel" ],
  "packOptions": {
    "tags": [ "documentdb" ],
    "projectUrl": "",
    "licenseUrl": ""
  },
  "dependencies": {
    "Microsoft.Azure.DocumentDB": "1.6.3",
    "Microsoft.Extensions.Logging.Abstractions": "1.0.0-rc2-final",
    "Microsoft.Extensions.PlatformAbstractions": "1

[2016-05-26 09:30] tugberkugurlu commented on #3219
@pakrym, @piotrpMSFT works as expected after having *"preserveCompilationContext": true* :+1:

[2016-05-26 09:43] pherbel commented on #3218
@davidfowl @piotrpMSFT
I just wanted to create my library target to net451 and netstandard and will remove the import net45 if the Azure team provide a netstandard compatible library.
It seemed to me it can work, but I can live only with net451 target until the netstandard lib come.

Is there any public information about Azure team schedule? When do we expect the netstandard compatible SDK?
storag

[2016-05-26 10:12] svick commented on #3171
@piotrpMSFT Thanks for confirming.

[2016-05-26 10:35] MichaelSimons commented on #3115
@piotrpMSFT, `dotnet-install.ps1

[2016-05-26 10:50] MichaelSimons commented on #3115
@piotrpMSFT, `dotnet-install.ps1` does not satisfy the requirement IMO because the acquisition part of the story.  How do you easily get the installer onto the machine?  Being able to install from a store such as a chocolatey package would get us to having a true one liner.

[2016-05-26 11:02] MichaelSimons commented on #3226
@piotrpMSFT - There is a growing interest in Nano Server and being able to build and run .NET Core apps on it.  We wanted to have a .NET Core story on Preview1 but encountered this blocking issue.  Since the current default CLI behavior is to produce full PDBs, the default experience on Nano is broken.  I think the min bar is to get a functional default experience (e.g. either this bug should be f

[2016-05-26 11:33] MariovanZeist opened #3249 "Possibility to add custom name/value pairs to deps.json"
I have a question if it would be possible to add custom name/value pairs to a deps.json file.
something like `"jsSource=%project:Directory%/PathToResource"`, where `%project:Directory% `is resolved to the projects root directory.

I tried using the define section to add them, but it would not parse the `%project:Directory%`

My specific use case is the following:
I want to build separate dotnet li

[2016-05-26 13:09] silverferrum opened #3250 "buildOptions/copyToOutput does not copy folders by relative path"
## Steps to reproduce

[code]
## Expected  behavior

Areas folder appears in `\bin\Debug\net461\win7-x64\` after successful compilation.
test.html file appears in `\bin\Debug\net461\win7-x64\` after successful compilation.
## Actual behavior

Areas folder **does not** appear in `\bin\Debug\net461\win7-x64\` after successful compilation.
test.html file appears in `\bin\Debug\net461\win7-x64\` after

[2016-05-26 13:17] CoreyKaylor commented on #3105
To maybe restate the problem... DllImport doesn't work for project references, but does for nuget package references. This makes things very awkward for test projects.

[2016-05-26 13:28] ericstj commented on #3189
You need to use the RC3 packages to make this work and update the UWP project to use the 5.2.0-rc3-* Microsoft.NETCore.UniversalWindowsPlatform package.

[2016-05-26 13:38] abpiskunov commented on #3166
@piotrpMSFT sorry for confusion, i meant that this should be done sooner (RTW was actually preview 2 or 3 latest). This is missing feature in xproj->csproj flow and since xproj->csproj has higher importance lately, it would be nice if someone form cli team could work on it sooner.

Could you please assign it to some engineer, so we could finalize design and i could complete changes on tooling end

[2016-05-26 13:59] sadjadbp commented on #3091
https://github.com/aspnet/Tooling/issues/522 @piotrpMSFT I've already added in Tooling

[2016-05-26 14:05] blackdwarf commented on #3131
@piotrpMSFT already being done in #3149

[2016-05-26 14:05] DustinCampbell commented on #3151
That's consistent with many other debugger acquisition failures we've seen. cc @gregg-miskelly

[2016-05-26 14:14] aL3891 commented on #3189
Can those (rc3 packages) be published to the store? I know there was some restrictions with preview apis and uwp apps previously

[2016-05-26 14:16] xperiandri commented on #3189
On which feed are they available?

[2016-05-26 14:30] danipen opened #3251 "ASP.NET Core publish failed due to a false positive in Microsoft.DotNet.Publishing.targets"
## Steps to reproduce
- Setup a ASP.NET Core project with Visual Studio 2015
- Configure it to WebDeploy it to a remote machine with IIS.
- Deploy it in release mode
## Expected  behavior

The project is deployed without errors.
## Actual behavior

Some MSBuild tasks (gifsicle, jpegtran, optipng ...), that are ok, are detected as an error by MSBuild.
## Environment data

As you can see in the outp

[2016-05-26 14:35] blackdwarf commented on #3115
@MichaelSimons wait, can't you do `Invoke-WebRequest` or something similar from PowerShell on Nano? I admit, I have 0 knowledge of Nano server. :)

[2016-05-26 14:43] vcsjones commented on #2988
Migrated to dotnet/core-setup#18.

[2016-05-26 14:43] #2988 closed

[2016-05-26 14:57] troydai commented on #3220
I can't think of one.

[2016-05-26 15:10] pakrym opened #3252 "Build time dependencies are not filtered from full framework embedded deps file"
@JunTaoLuo

[2016-05-26 15:11] pakrym commented on #3168
Dup of https://github.com/dotnet/cli/issues/3203

[2016-05-26 15:11] #3168 closed

[2016-05-26 15:17] ahmad-moussawi commented on #3185
@piotrpMSFT this happening after generating a new project using `dotnet new`, below is the content of the project.json file, but really I think it's not the cause, maybe the dotnet is not installed correctly, or it's conflicting with the old `dnx`

[code]

## Additional information
I was installing the previous `dnx`, maybe some kind of conflict ?

[2016-05-26 15:18] marspd commented on #3070
It's taken me over 5 hours to completely remove everything and re-install VS2015 and at the end of it all......... same problem as I started with. This is so frustrating!

[2016-05-26 15:20] MichaelSimons commented on #3115
@blackdwarf - Unfortunately not.  Using `Invoke-WebRequest` is the source of https://github.com/dotnet/cli/issues/3113.  The alternative is using something like HttpClient which is cumbersome IMO.
[code]

[2016-05-26 15:29] pakrym opened #3253 "Add ability to customize resolver settings in DependencyModel"
To allow custom compilation assembly load locations.

@pranavkm @davidfowl

[2016-05-26 15:32] blackdwarf commented on #3115
Well, I never...ok, but Chocolatey exists on Nano?

[2016-05-26 15:39] dontbesorry80 commented on #3070
I found I had problems when installing the latest versions. However if I removed all the dot net core stuff then installed the official ones from here:
https://www.microsoft.com/net/core#windows
It seemed to work for me.

[2016-05-26 15:46] marspd commented on #2199
I'm doing the Hello World app on the getting started and have this exact problem. Can someone tell me how to resolve this issue when you do get this error message?

[2016-05-26 15:53] MichaelSimons commented on #3115
There is a Chocolatey provider but upon further reading it doesn't look like it is officially supported by msft.  I think part of this issue is to do further research and figure out what would be the best option for CLI.

[2016-05-26 16:10] gkhanna79 commented on #2523
Chatted with @glennc and @leecow and they confirmed driving this ahead. Assigned to @leecow to do so.

[2016-05-26 16:14] sebok commented on #3073
I confirm that `dotnet test` does NOT work on linux when targetting net451.

Setup:

- Debian 8 (x64)
- Mono 4.2.3
- Dotnet 1.0.0-preview1-002702

project.json:

[code]

Output of `dotnet test`:

    sebok$ dotnet test
    Project Atelier.Tests (.NETFramework,Version=v4.5.1) was previously compiled. Skipping compilation.
    dotnet-test Error: 0 : Microsoft.DotNet.Cli.Utils.CommandUnknownException

[2016-05-26 16:17] victorhurdugaci commented on #3187
Some people reported that on dotnet watch too: https://github.com/aspnet/dotnet-watch/issues/97

I'm not sure if this is a watcher issue. The watcher kills the process and then calls `dotnet run` (or `dotnet <whatever command you pass>`).

@serdna27 if you see that error again, can you please what dotnet processes are running and what arguments were used to start them?

[2016-05-26 16:35] sayedihashimi opened #3255 "Add a web template to dotnet new"
We should add a web template to `dotnet new` for the June release. The content is [here](https://www.dropbox.com/s/e4o35zbj0qyj31e/WebAppIndAuth.zip?dl=0). After creation the result should be the same as the result from `yo aspnet`. When running `yo aspnet` it will automatically run npm install. We can consider to skip this step if it adds more difficultly here. We can simply print out a message l

[2016-05-26 16:42] Eilon commented on #3130
@SajayAntony @davidfowl does this issue come down to things related to R2R/crossgen, or shared runtime, or something else?

I don't know that there's any MVC-specific issue here. It's presumably slow because it's loading Roslyn and compiling code on the fly.

[2016-05-26 16:45] phenning commented on #3221
I did some initial investigation as we discovered this was happening with Web templates but not console templates.

It looks like an issue with setting "preserveCompilationContext": true.

Repo steps are:

1. mkdir "c:\dd\path with spaces"
2. dotnet new
3. add "preserveCompilationContext": true to the buildOptions in project json
4. dotnet restore
5. dotnet build

results in:
C:\dd\path with space

[2016-05-26 16:47] marspd commented on #3070
Thanks for the comment but I've tried that. I've tried all sorts and still no joy.

I have found that it is a VS tooling issue. If I start a command prompt the dotnet tool works and I can restore, build and run the application.

[2016-05-26 16:50] ArieJones commented on #3070
@marspd you have to ensure that you manually delete the specific version folder for BOTH visual studio and msbuild and reboot before doing a reinstall of VS

[2016-05-26 16:51] dontbesorry80 commented on #3070
Yes. However, I didn't need to re-install VS just the manual uninstall of the other versions was enough for me.

[2016-05-26 17:11] brthor commented on #3222
Our build is affecting system state, and these files will build up over time on the build machine rather than being wiped out with each build.

For some things (like our nuget cache) this is desirable but in this case the benefits don't seem clear. I don't fully understand the purpose of this file though so let me know if that's not the case.

[2016-05-26 17:14] ajaybhargavb commented on #3094
Nothing changed here as part of the recent changes to the project.json schema. I am guessing this has always been the case. It could just be that the schemastore had the wrong values. @anurse, do you recall any changes made in this part?

[2016-05-26 17:18] troydai commented on #3214
@eByte23 can you confirm the error you saw in the VS is intellisense error or build error?

[2016-05-26 17:22] anurse commented on #3094
Yeah, I think schemastore just had the wrong values. We changed it during the dotnet cli work.

[2016-05-26 17:44] troydai commented on #3214
@eByte23 i did some quick validation and unfortunately can't repo your issue. here's the mini example i used to investigate: https://github.com/troydai/cli3214

Here's what I see:
* When the flawed source file is excluded from both framework, there is no error in VS ✅
* When __exclude__ clauses are removed from `net451`, immediately there will be an intellisense error shows up associated to `net45

[2016-05-26 17:45] marspd commented on #3070
I did all that but I guess I will have to try again tomorrow. I'm giving in for today. Thanks for the suggestions guys.

[2016-05-26 17:46] acervantes commented on #3118
I think you can solve it by creating your own Nuget local repository:
1. Follow these [steps](https://docs.nuget.org/create/creating-and-publishing-a-package#from-an-assembly) to create a nuget package for your assembly
2. Create a folder at solution level and copy the nuget package into it (for example: c:\mysolution\lib)
3. Add or edit a solution level [NuGet.Config](https://docs.nuget.org/consu

[2016-05-26 17:51] cdmihai commented on #3096
Running a verbose build shows why it is rebuilding:

[code]

So there's a bug in the interaction between incremental build feature and bin wrapping feature: the incremental feature is expecting that asset to be in the build output folder.

[2016-05-26 18:00] cdmihai commented on #3096
The bug is somewhere in the output path calculator that the incremental check is using:
https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-build/CompilerIOManager.cs#L78-L80

Somewhere in there, the path to the wrapped assembly is being computed wrong. Interesting why compilation succeeds. It means there's to pieces of code doing the same thing, one of them in the wrong way.

[2016-05-26 18:06] cdmihai commented on #3146
It looks like all the execution is slower. Is the pre-jitted CLI code being picked up on Linux?

[2016-05-26 18:26] wpostma commented on #3103
I saw a report on stackoverflow that the upstream package problem that triggers this condition is now fixed (a new xunit runner build in nuget)?

Seems a good idea to make the visual studio integration show a nicer error message than this, if for some reason, your test runner is missing or invalid, right?

[2016-05-26 18:41] lt72 commented on #3081
@piotrpMSFT: these tests were added by Pavel. Also perf tests are maintained by the feature team, not the RAP team. This does not look like a perf infra/tooling issue. It seems like the dotnet executable path the test uses is wrong: /opt/code/artifacts/ubuntu.14.04-x64/stage2/dotnet

[2016-05-26 19:38] MichaelSimons commented on #2955
This needs to be fixed before RTM.  Moving to preview2.

[2016-05-26 19:42] kspearrin commented on #2966
I'm having this same problem now. I used to do this app the time with my rc1 aspnet app. Getting same errors as @abpiskunov now with RC2.

[2016-05-26 20:14] piotrpMSFT commented on #1103
@schellap has the work to:

been done? Are we ready to have dotnet.exe signed?

[2016-05-26 20:20] eerhardt commented on #3216
Not an exact one that I know of. We just need a build of Kestrel that is on RC3 of corefx. @pranavkm is working on that right now.

[2016-05-26 20:30] schellap commented on #1103
dotnet.exe cannot be signed because the process has to load arbitrary user DLLs.
Example: `dotnet user-app.dll`

This bug was before the Shared Framework days when we only had standalone applications and is obsolete in the new model.

[2016-05-26 20:31] bastienJS opened #3259 "Could not find a part of the path 'C:\Users\MyUsername\.nuget\packages\.tools\dotnet-ef'."
## Steps to reproduce

Define that in your project.json:
[code]
then SAVE!

Now the nuget restore starts in Visual studio but I get this error among the other error below:

[code]

Why is this nuget: Microsoft.EntityFrameworkCore.Tools not compatible - somehow - with my
framework: **net461** project?

I get this error:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not

[2016-05-26 20:31] schellap commented on #1103
@leecow, @piotrpMSFT, @gkhanna79 if there are no objections with the reasoning above, I will close this out.

[2016-05-26 20:38] gkhanna79 commented on #1103
Sounds fine to me.

[2016-05-26 20:40] schellap commented on #2582
This bug is blocked on #2523

[2016-05-26 20:41] vcsjones commented on #3212
`COREHOST_TRACE` appears to be the replacement of `DNX_TRACE`.

[2016-05-26 20:41] gkhanna79 commented on #2582
CC @leecow who is driving #2523

[2016-05-26 20:42] schellap commented on #2761
The SCCS ID is already embedded in the host binaries. We need to think about the resource and branding for Windows dotnet process. So keeping this issue open -- related to https://github.com/dotnet/cli/issues/3041

Cc @gkhanna79

[2016-05-26 20:49] guylando commented on #3212
Thanks!

[2016-05-26 20:49] #3212 closed

[2016-05-26 20:52] logankd commented on #3201
I'm having to run dotnet build in a console, then F5 in Visual Studio (this launches the console server window for Kestrel for me). Otherwise, the debugger says the file is out of date and I can't debug.
I installed the Preview1 tools yesterday.
I have a very small app and it takes 9-20 seconds to build.

I'm using
`"frameworks": {
    "net46": {`

[2016-05-26 21:04] eByte23 commented on #3214
Hi I'll see if I can can fork your example and give you a concrete example, of my issue and I'll also try to confirm if it's intellisense or build errors

[2016-05-26 21:19] piotrpMSFT commented on #2983
chatted with @ramarag. This is not a release blocker.

[2016-05-26 21:22] bastienJS commented on #3259
Sorry for the confusion in the repro steps, but the "bug" is behaving very ambivalent...

[2016-05-26 21:24] guardiannite commented on #3205
+1 Would like fix.  The work-around is working for me, except I don't get any intellisense for my project references.  o.O

[2016-05-26 21:31] abpiskunov commented on #3091
Tooling issue was closed by @sayedihashimi  , see his comment here: https://github.com/aspnet/Tooling/issues/522

[2016-05-26 21:37] joeloff commented on #3124
Delete the EXE for the installer and download it again and then run the install. Each of the installers in the bundle (EXE) are downloaded on demand and it's possible for corruption to occur.

[2016-05-26 21:38] joeloff commented on #3144
Could you send me your installation logs (they should be in %temp%, and will all start with dd_dotnet*)

[2016-05-26 21:44] piotrpMSFT commented on #3198
@Eilon I'm going to close this issue. Once we have RTM packages let's open a new one and CLI will get updated :)

[2016-05-26 21:44] #3198 closed

[2016-05-26 21:45] piotrpMSFT commented on #3226
@MichaelSimons thanks. I opened a bug on Roslyn for @tmat to investigate, as requested. If this gets fixed and there is work needed beyond a PR from @tmat to bump dependencies in CLI please do open a new issue!

[2016-05-26 21:46] #3226 closed

[2016-05-26 21:46] piotrpMSFT commented on #3156
@blackdwarf @svick can we get this PR done today?

[2016-05-26 21:48] toddlucas commented on #3144
Happy to. If you could send me an email (see my profile) I'll send a zip. I'm leaving for the holiday weekend soon.

[2016-05-26 21:51] joeloff commented on #3144
@toddlucas zip will likely get rejected by mail on my end, so maybe try something like RAR. Otherwise you can just attach the zip with the logs to this issue

[2016-05-26 21:55] toddlucas commented on #3144
The zip is 42MB. I'd rather not attach since it's a log. If you send me an email I'll upload to S3 and send you a link.

[2016-05-26 22:03] joeloff commented on #3144
Sure. Just mail the link to me at joeloff at microsoft dot com

[2016-05-26 22:04] piotrpMSFT commented on #3251
moved to aspnet/Tooling

[2016-05-26 22:16] piotrpMSFT commented on #3144
Moved to appropriate repo. Closing CLI copy.

[2016-05-26 22:16] #3144 closed

[2016-05-26 22:32] piotrpMSFT commented on #3079
@brthor can we add a `Common Options` with a single entry that is `--help`?

[2016-05-26 22:35] #577 closed

[2016-05-26 22:35] blackdwarf commented on #3079
@tstringer I'm not sure what the ask is here. `--help` is a common switch for the in-box commands. It is not a command on its own.

[2016-05-26 22:38] piotrpMSFT commented on #3059
Blocked by #3260

[2016-05-26 22:38] piotrpMSFT commented on #3059
This fix needs to go in to both CLI and dotnet/core-setup repos.

[2016-05-26 22:40] piotrpMSFT commented on #3023
@nattress and I chatted yesterday. I think we're just going to move the `dotnet-compile-native` work to the CoreRT repo altogether.

@nattress are you ok with us deleting `master`?

[2016-05-26 22:51] nattress commented on #3023
Yes you can go ahead and delete it and we'll sort things out in CoreRT.

[2016-05-26 22:52] eerhardt commented on #3023
You sure we shouldn't just rename it for a while, in case you want to look at the commits?

[2016-05-26 22:54] nattress commented on #3023
Aren't the interesting commits in RC2 branch from the last several months?  A renamed master is fine with me, too just incase.

[2016-05-26 23:00] troydai commented on #3214
Thanks @eByte23 。

[2016-05-26 23:01] sayedihashimi commented on #3091
I reopened https://github.com/aspnet/Tooling/issues/522.

[2016-05-26 23:07] eerhardt commented on #3059
Now unblocked by #3260.

[2016-05-26 23:09] piotrpMSFT commented on #3023
I crated branch `feature/compile-native` and deleted `master.

[2016-05-26 23:09] #3023 closed

[2016-05-26 23:10] piotrpMSFT commented on #2979
Let's make the plan to remove imports by the time we RTM the CLI?

[2016-05-26 23:10] piotrpMSFT commented on #2978
@brthor do we need both #2978 and #2979?

[2016-05-26 23:17] piotrpMSFT commented on #2996
Fixed by #3142

[2016-05-26 23:17] #2996 closed

[2016-05-26 23:18] piotrpMSFT commented on #2975
@brthor is pretty sure this is done. He's validating, then closing.

[2016-05-26 23:19] brthor commented on #2975
There are a couple here which need updating.

[2016-05-26 23:20] piotrpMSFT commented on #2970
@blackdwarf can this come in today??

[2016-05-26 23:20] brthor commented on #2975
EDIT: I was on an old commit, this is done.

[2016-05-26 23:20] #2975 closed

[2016-05-26 23:30] piotrpMSFT commented on #2970
Chatted with @blackdwarf. He will get this PR working tonight.

[2016-05-26 23:32] piotrpMSFT commented on #2961
@Eilon I'd ask you that question :) ProjectModel has been owned by @pakrym and peers thus far. Is there someone else that can help?

[2016-05-26 23:40] piotrpMSFT commented on #2960
@ellismg do we have an explicit list of the configuration you care about? If this is going to make `preview2` it needs to come in fairly soon. You should also note that the env vars you mention, NuGet reads some and CLI reads others...

[2016-05-26 23:43] ellismg commented on #2960
Can we start with the environment variables that CLI reads (I know the telemetry one, I was unaware there were others).

Ignoring the NuGet ones for preview fine is reasonable, we can figure out the best way to centralize them later.

[2016-05-27 00:21] svick commented on #3156
@piotrpMSFT @blackdwarf  PR created.

[2016-05-27 01:45] blackdwarf commented on #3156
@svick thanks, I was actually doing some more things to the README.md to add more stuff.

[2016-05-27 02:06] blackdwarf commented on #2970
The PR is updated, @eerhardt change makes all of this a breeze. :)

[2016-05-27 04:24] CharlesKuncheria commented on #3064
To add: I had to uninstall the cli (from Programs and Features). Now of dotnet --version => I get "1.0.0-preview1-002702"

[2016-05-27 04:41] #2970 closed

[2016-05-27 04:43] eerhardt commented on #3023
Should I delete the VSO build definitions for master?

[2016-05-27 05:10] tatalvit commented on #3130
Or maybe some issue in IIS Express?

[2016-05-27 06:30] barrytang commented on #3201
@BillHiebert, do you think this is a setup issue? If yes, can you engage Jacques?

[2016-05-27 06:31] barrytang commented on #3201
Adding @joeloff as well.

[2016-05-27 07:14] PrashanthIBM opened #3263 "Support referring assemblies from GAC"
## Steps to reproduce

Hi ,

I am trying to upgrade my project to RC2.
In my previous project.json, i was able to refer gac assemblies using the frameworkassemblies section. But after upgrading to RC2, assemblies in gac are not getting recognized.
Even i tried using the import , but no luck.

Can anyone help me ?

sample project.json :
"frameworks": {
"net451": {
"imports": [ "portable-net452+win8

[2016-05-27 07:30] mikes-gh commented on #3198
@piotrpMSFT This is very disappointing.  Can you not coordinate with @JamesNK  to get 8.0.4 for RTM.
There are some project.json level imports in the tooling for example that really need to vanish to improve the usability of asp.net core.

[2016-05-27 09:16] AleksSimi opened #3265 "dotnet restore doesn't send authentication info to the proxy server"
## Steps to reproduce
My developer machine is behind a corporate proxy. All the traffic goes through the proxy.

I tried to set in Visual Studio 14 /Common7/IDE/**devenv.exe.config** and /v4.0.30319/Config/**machine.config**

[code]

but it doesn't help to take the proxy user and credentials from the IE settings.

## Expected  behavior
dotnet restore   downloads packages and creates the project.lo

[2016-05-27 09:31] tmds opened #3266 "Script exit codes are ignored"
Script exit codes are ignored

## Steps to reproduce

Setup with a script that fails
[code]

## Expected  behavior

publish should fail with an error message and a non-zero exit code

## Actual behavior

script failures are ignored, success message is printed, exit code is zero

[2016-05-27 10:22] mareek commented on #3065
Can someone of the donet cli team comment on this issue, please ?

[2016-05-27 10:43] nocommonsense commented on #2802
+1 also experiencing same issue. Happening after creating a new ASP.NET core application via Visual Studio 2015 Update 2.

[2016-05-27 11:21] andynormancx commented on #3064
Took me a while to fix this, as I was looking for the wrong thing to install. I was searching for things with Core in their name, which was only finding the RC2 bits.

On my machine I had to uninstall something called "Microsoft Dotnet CLI for Windows (1.0.0.001598 )".

[2016-05-27 11:52] techyian commented on #2802
OK just to add something more RE this issue:

If you have spacing in the name of your project, the .deps.json file appears to take the last word of your project, which is fine, however, if you copy out the file in the intermediate folder as suggested by @jamesgibbs100 you receive a lot of errors stating "CS1022 Type or namespace definition, or end-of-file expected". If you rename your project to b

[2016-05-27 12:52] MariovanZeist commented on #3249
I have found a better solution for my requirement. (basically generating a seperate resourcefile containing the information needed.)
closing this issue.

[2016-05-27 12:52] #3249 closed

[2016-05-27 13:39] Yves57 opened #3267 "Be able to set an icon to standalone applications"
When building a standalone application, it would be nice to be able to set an icon (the Roslyn `/win32icon`option in fact).

[2016-05-27 13:56] ajtowf commented on #3117
Same thing for an aspnet core rc2 app, can't add migrations anymore:

Using project 'x'.
Using framework 'netcoreapp1.0'.
Using configuration 'Debug'.
Running x\project.json --configuration Debug --framework netcoreapp1.0
Process ID: 14292
Project x (.NETCoreApp,Version=v1.0) was previously compiled. Skipping compilation.
Invoking dependency command 'Microsoft.EntityFrameworkCore.Tools.Cli' in pro

[2016-05-27 15:05] chemitaxis commented on #2543
Install pre-requisites
In order to use .NET Core, you need to install the updated version of OpenSSL, from Homebrew. After installing brew, do the following:

brew update
brew install openssl
brew link --force openssl

[2016-05-27 15:23] eerhardt opened #3269 "Re-enable tests disabled for crossgen enabling"
To re-enable crossgen we needed to disable some tests:

- It_builds_projects_with_ruleset_relative_path

[2016-05-27 16:05] brthor commented on #3209
@livarcocc What version of CoreCLR has the JITPath in a different package? When will we be taking it?

[2016-05-27 16:08] brthor commented on #3119
@blackdwarf Still going to rename this?

What do you think the error message should be?

Are we saying that anything but the `netcoreapp1.0` tfm cannot be published?

[2016-05-27 16:53] nbarbettini commented on #3187
I received this error, although I wasn't using ``dotnet watch``. I started a build, then canceled it before it finished. When I tried to build again, ``dotnet build`` threw this error.

[2016-05-27 16:56] eerhardt commented on #3269
- LibraryWithAnalyzer

[2016-05-27 17:07] blackdwarf commented on #3119
@brthor I think the message should have something along the following:

[code]

Or something. Since we can detect the TFM, we might actually say something like "you are publishing netstandard1.5, do not do that, that way be dragons" or something like that.

[2016-05-27 17:11] brthor commented on #3119
I think the decision here is whether we want to blacklist specific tfms like `netstandard1.5` or whitelist tfms like `netcoreapp1.0`. There are tradeoffs to each in that blacklisting will give us opportunity to have non-defined errors on new Tfms if they're not blacklisted properly, and whitelisting gives us the opposite opportunity.

I think I prefer the general error message here as I do not kno

[2016-05-27 17:17] blackdwarf commented on #3119
@brthor agreed, that's why I put both proposals there. The important thing here is for the user to have enough info to start on a solution path. Currently, the error message doesn't help with that because `runtimes` will be the wrong thing for a portable library without native assets.

[2016-05-27 17:36] Eilon commented on #3198
@mikes-gh yes we are updating to 8.0.4 rtm, don't worry! It's just a bit of a balancing act to make it happen 😄

[2016-05-27 17:43] brthor commented on #3065
`dotnet restore` simply forwards to NuGet.

cc @emgarten

[2016-05-27 17:49] #2687 closed

[2016-05-27 17:51] gzak commented on #3206
@davidfowl any ideas? I'm sort of stuck...

[2016-05-27 18:39] brthor commented on #2821
I have verified that the publish output does not match the one dropped in the folder you have pointed out @schellap  (which is the output of dotnet-build)

Closing as a dupe of #2343

[2016-05-27 18:39] #2821 closed

[2016-05-27 18:51] #3259 closed

[2016-05-27 18:52] bastienJS commented on #3259
Should have better read the official docu: https://github.com/aspnet/EntityFramework.Docs/blob/master/docs/cli/dotnet.rst

instead of following some half-done www tuts...

[2016-05-27 19:03] kaspersorensen commented on #1302
+1 for builds based on global.json! We're currently trying to automate dotnet core builds and having to deal with the dependencies and orders of individual project.json files seems like really not the way to go.

[2016-05-27 19:07] livarcocc commented on #3209
Chat with @schellap

[2016-05-27 19:37] #2924 closed

[2016-05-27 20:23] brianrob commented on #3146
My understanding is that there were some recent issues that caused crossgen to be disabled.  I believe that it is being re-enabled at this time.  @eerhardt has details.

[2016-05-27 20:25] eerhardt commented on #3146
Crossgen was only disabled on Windows in the latest CLI builds, not on Linux.

We are working on getting a new CLI build out that has crossgen enabled on Windows. The code is in, just need the official build.

[2016-05-27 20:28] piotrpMSFT commented on #3267
@schellap @gkhanna79 @blackdwarf this would have to be added to dotnet.exe after renaming. Thoughts?

[2016-05-27 20:30] GrantErickson opened #3274 "DotNet CLI tools fail when using the full framework"
I am porting a dnx command line tool from RC1 to RC2 with dotnet. It uses the full framework 4.5.1. I have stripped it down to a very simple project. My suspicion is that I am missing something basic, but I can't seem to find parallel examples. Apologies in advance if this is a simple fix.

## Steps to reproduce
Here is my project.json file.

    {
      "version": "1.0.2-alpha001",
      "descrip

[2016-05-27 20:35] brianrob commented on #3146
That's a bit worrisome then.  @eerhardt can you let us know when there is a version of CLI that has crossgen enabled and Ican confirm that it's doing the right thing on Linux as well?

[2016-05-27 20:43] schellap commented on #3267
It sounds like we are going to need two exes

1. The muxer exe that carries dotnet branding.
2. The corehost exe that carries no branding and CLI would post process this for the developer.

For 2, potentially CLI can ask roslyn package expose this capability or CLI carries or depends on rc.exe to bake this into the published corehost exe.

I am not sure if we can overwrite the dotnet branding usin

[2016-05-27 21:32] elvirb commented on #3118
I don't really want to create a local nuget repo. Any reason why this feature was removed from dotnet rc2+?

[2016-05-27 21:35] brthor commented on #3118
This feature exists, see this test:

https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/TestProjects/TestAppWithWrapperProjectDependency/TestLibrary/project.json

[2016-05-27 21:41] bastienJS commented on #3117
I experience the same problem with asp.net core rc2 + EFCore and .net 461.

The workarounds on that site: https://github.com/aspnet/EntityFramework.Docs/blob/master/docs/cli/dotnet.rst

does not work!

See: https://github.com/aspnet/EntityFramework.Docs/issues/174

[2016-05-27 21:53] #3252 closed

[2016-05-27 22:11] elvirb commented on #3118
That's what I'm doing currently sans the pdb reference. It doesn't copy the DLL into the bin/* directory which confuses IDE's such as VSCode.

[2016-05-27 22:27] brthor commented on #3118
Do you have a referencing project.json?

[2016-05-28 08:37] gpcottle opened #3279 "dotnet restore times out in ifs build"
Hi
I am having trouble trying to get a build to work in a locally hosted Team Foundation Server 2015 on Windows SBS2011/2008R2. I hope I have put this issue in the right place.

The project itself is small, being just the default items created when Visual Studio creates an empty Core Web Application. I can do a manual deploy to my IIS and get it to display - nothing more than "Hello World" at the

[2016-05-28 12:14] Daniel15 commented on #576
I don't see "nowarn" in the project.json intellisense in Visual Studio (sorry, wasn't sure where to report Visual Studio tooling bugs)

[2016-05-28 12:32] gumaflux commented on #2871
@crokusek: did you resolve this?

[2016-05-28 12:50] mrgleba opened #3280 "dotnet run fails if "buildOptions" not specified int the global context"
## Steps to reproduce

[App.zip](https://github.com/dotnet/cli/files/287709/App.zip)
cd App
dotnet restore
dotnet run
## Expected  behavior

Command is run
## Actual behavior

File not found exception
## Environment data

`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:

[2016-05-28 14:25] tstringer commented on #3079
@blackdwarf my issue here is that there is no obvious way to get specific help for each command.  For instance, the general flow of "command discovery" would is as follows:

[code]

Now say I want to find out the params for `dotnet new`.  If you run `dotnet new` then of course you wouldn't get a param menu, you would create a new .NET Core project.  So without assuming that you can run `dotnet new

[2016-05-28 15:58] blackhill commented on #1517
I had the same error when I added : "Microsoft.Extensions.Configuration.Json": "1.0.0-rc2-final" as a dependecy in my project.json

[2016-05-28 17:36] PivotalAnimal commented on #3117
Same.
"Microsoft.EntityFrameworkCore.Tools.Core": "1.0.0-rc2-final",
"tools": {
    "Microsoft.EntityFrameworkCore.Tools.Core": {
      "version": "1.0.0-preview1-final",
      "imports": [
        "portable-net45+win8+dnxcore50",
        "portable-net45+win8"
      ]
    }
}
  "frameworks": {
    //"netcoreapp1.0": {
    //  "imports": [
    //    "dotnet5.6",
    //    "dnxcore50",
    //    "po

[2016-05-28 18:17] Eilon opened #3282 "Add 'nowarn' schema info to SchemaStore"
## Steps to reproduce

Open project.json, try to get Intellisense for `nowarn` compiler option to suppress compiler warnings.

The option does exist, as seen here: https://github.com/dotnet/cli/blob/f515e80029440847e547e67c19fbb3a3b0907418/src/Microsoft.DotNet.ProjectModel/ProjectReader.cs#L580

It's just not in the schema.

### SchemaStore

The fix is to send a PR to https://github.com/SchemaStor

[2016-05-28 18:17] Eilon commented on #576
@Daniel15 yeah I don't see it in the schema that Intellisense uses: https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/project.json

But there is indeed a `nowarn` option, as seen here: https://github.com/dotnet/cli/blob/f515e80029440847e547e67c19fbb3a3b0907418/src/Microsoft.DotNet.ProjectModel/ProjectReader.cs#L580

So you should be able to use it just fine.

I logged a bug t

[2016-05-28 19:08] blackdwarf commented on #3079
@tstringer makes some more sense. Essentially, you would like a line in that help screen that says something like "You can use `--help` with any of the commands below"?

[2016-05-28 19:19] weidazhao opened #3283 "publishOptions include is not honored when relative output path is specified with dotnet publish on Linux"
## Steps to reproduce
1. Prepare a Ubuntu 16.04 machine with DotNet CLI, Node.js, Bower, Gulp installed.
   Here are the steps I used:
   DotNet CLI:
   Install a required package:
   **wget http://security.ubuntu.com/ubuntu/pool/main/i/icu/libicu52_52.1-8ubuntu0.2_amd64.deb
   sudo dpkg -i libicu52_52.1-8ubuntu0.2_amd64.deb**

   Install DotNet CLI from https://www.microsoft.com/net/core#ubuntu

[2016-05-28 20:29] #2761 closed

[2016-05-28 22:15] GuardRex opened #3285 "project.json Schema missing default value for preserveCompilationContext"
## Issue

Every other `"type": "boolean"` setting in the [`project.json` schema at JSON Schema Store](http://json.schemastore.org/project) has a `"default": false`, except for `preserveCompilationContext`.
## Expected  entry

[code]
## Actual entry

[code]

This appears in both `buildOptions` and `compilationOptions` (depreciated).

[2016-05-28 23:11] Mertsch commented on #3066
Yes, sadly `postbuild` does nothing. A possible workaround is to exit your `.xproj` file and add
[code]

[2016-05-29 07:22] StefH commented on #3066
Maybe not that strange...

In the future all these things will maybe move to csproj so no worries...

[2016-05-29 10:12] drwharris commented on #1732
I have the same issue.

    dotnet --info
    NET Command Line Tools (1.0.0-preview1-002702)

    Product Information:
    Version:     1.0.0-preview1-002702
    Commit Sha:  6cde21225e

    Runtime Environment:
     OS Name:     Windows
     OS Version:  6.1.7601
     OS Platform: Windows
     RID:         win7-x64

Only one network connection and its working perfectly.

[2016-05-29 10:15] andrewlock commented on #3073
Same behaviour as @sebok - `dotnet test` works on windows but no osx.10.11 using net451

* osx.10.11
* Mono 4.2.3
* dotnet 1.0.0-preview1-002702

project.json:

[code]

Running `dotnet test` fails with the following output:

[code]

Running `dotnet-test-xunit.exe` from `bin/Debug/net451/osx.10.11-x64` succeeds:

[code]

[2016-05-29 11:03] ahmedanis03 commented on #2645
Ok
there is really a big headache from this issue and i am stucked  now.
first i was have this issue  #https://github.com/aspnet/EntityFramework/issues/5460
then applied this work around https://docs.efproject.net/en/latest/cli/dotnet.html#dotnet-cli-issues
another issue raised cannot remember the link but it is related that buildoptions should be on root in project.json fixed that and Yes! dotnet

[2016-05-29 15:55] rwasef1830 opened #3286 "Areas/**/Views glob is not working in publishOptions/include in project.json"
## Steps to reproduce

Project structure:

[code]

project.json snippet:

[code]

Publish to IIS with Visual Studio 2015 with ASP.net Core RC2 and Web Deploy 3.6 (with server rc2 components installed).
## Expected  behavior

Areas/Area1/Views/Index.cshtml and Areas/Area2/Views/Index.cshtml should be published.
## Actual behavior

No "Areas" folder is published.
## Environment data

`dotnet --info`

[2016-05-29 16:55] manifestarium commented on #1038
Still happening.

[2016-05-29 19:46] bhukivskyi commented on #3232
I had a similar problem and I correct it by removing bin and obj folders and project.lock.json. Then i use  dotnet restore --infer-runtimes
dotnet publish and all work correct.