[2016-03-14 22:34] sepidehMS commented on #1846
I realized this issue was caused by my VS not being configured to work with .net cli. Could work around this with using another editor. Closing the issue.

[2016-03-14 22:34] #1846 closed

[2016-03-14 22:39] pakrym commented on #1694
Since https://github.com/dotnet/cli/commit/7df754be36ffc43a08220d8b7f0215980d1ff044 we are filtering out build dependencies.

[2016-03-14 22:39] #1694 closed

[2016-03-14 22:40] #1562 closed

[2016-03-14 23:29] piotrpMSFT commented on #1651
@Peter-Schneider we discussed this and decided that these messages should remain in standard output for regular compilation. However, we have identified a few cases in which we want to hide these messages if there is no build error:
- `dotnet test` building before running tests
- 'dotnet run` building before running

Will that address your concern as well?

[2016-03-15 01:02] gkhanna79 opened #1854 "Build Product and Tests for Arm64"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --version` output:

[2016-03-15 01:03] gkhanna79 opened #1855 "Design cross-target publishing"
CC @piotrpMSFT

[2016-03-15 02:47] xatabhk opened #1858 "No executable found matching command "dotnet-publish-iis" etc."
## Steps to reproduce

   "tools": {
        "dotnet-publish-iis": "1.0.0-*",
        "dotnet-razor-tooling": "1.0.0-*",
        "dotnet-ef": "1.0.0-*"
    },

## Actual behavior

No executable found matching command "dotnet-ef"
No executable found matching command "dotnet-publish-iis"

## Environment data
`dotnet --version` output:
.NET Command Line Tools (1.0.0-beta-001741)

Product Information:

[2016-03-15 04:06] gkhanna79 opened #1859 "Validate NETCoreApp redist"

[2016-03-15 05:48] tmds commented on #1179
@jasonwilliams200OK do you know how to handle this:?
[code]

Are these what the [net-platform-standard](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md calls) "Anchored Assemblys"?

[2016-03-15 06:35] branciat commented on #1832
Is it possible to have access to the source code of stage0 to make compatible with debian ?

[2016-03-15 08:10] cwe1ss opened #1860 "Build error "An item with the same key has already been added.""
"dotnet build" throws an error when project.lock.json contains assemblies with the same name in different packages. While this seems logical on one side, it is quite hard to debug these issues.

My biggest concern is that this is a common problem in Microsoft packages as well. Packages like "Microsoft.Net.Http" and "System.Net.Http" contain assemblies with the same name. AFAIK people should move t

[2016-03-15 08:57] citizenmatt commented on #1376
Cool, thanks. Can this be included in the documentation write up (#1803), please? Also, similar instructions for cross-platform would be really useful in the not-too-distant future.

[2016-03-15 14:55] hal-ler commented on #1839
For me install.sh gives the right version, but "https://dotnetcli.blob.core.windows.net/dotnet/beta/dnvm/latest.ubuntu.version" returns version number 1675.

Output from install.sh for me (after running it once already):
[code]

[2016-03-15 14:58] blackdwarf commented on #1837
@cheers00 we should have the official naming soon.

[2016-03-15 14:59] blackdwarf commented on #1827
@Cuiqs76 can you try installing the CRT for VS2015 and seeing if that helps?

[2016-03-15 15:00] blackdwarf commented on #1826
@mrmeek this works. @davidfowl @anurse @piotrpMSFT when will the new Nuget come in? This also repros on latest.

[2016-03-15 15:02] blackdwarf commented on #1816
@mertozturk80 we are working towards signing. The work is tracked in #1654

[2016-03-15 15:03] #1816 closed

[2016-03-15 15:09] blackdwarf commented on #1815
@tangentsoft good catch.

[2016-03-15 15:12] #1815 closed

[2016-03-15 15:20] blackdwarf commented on #1732
@HermanEldering yup, disabling the VBox interface actually made it work! However, as you specify, this has not been the case with other software on my box. @emgarten we should still look into why this is happening. I will add this to the known issues page if anyone else encounters it.

[2016-03-15 16:38] davidfowl commented on #1579
@ayende is this resolved?

[2016-03-15 16:49] livarcocc commented on #1803
Add information on how VS finds the dotnet version to run. Though, this may change in the near future, double check then.

ProjectSystem looks at the following regkey for dotnet installpath. I think there are more changes happening in this space to handle multiple versions, but for now this is the path:

HKEY_LOCAL_MACHINE\SOFTWARE\dotnet\Setup\InstallDir

[2016-03-15 16:51] anurse opened #1863 "Update `dotnet new` template for portable app model"
See https://gist.github.com/anurse/63b063f27384806c53b9

We need to change the output of `dotnet new` so that it matches the portable app expectation. **NOTE**: The use of `netstandard1.5` as the TFM is **temporary** due to RID-inference in NuGet. It will be replaced by `netcoreapp1.0` soon.

/cc @piotrpMSFT

[2016-03-15 16:52] #1686 closed

[2016-03-15 16:53] andschwa commented on #1410
I think this issue is a duplicate of #753.

[2016-03-15 16:57] davidfowl commented on #1079
This should have been fixed a while ago. If you don't see it then reopen.

/cc @anurse @pakrym

[2016-03-15 16:57] #1079 closed

[2016-03-15 16:58] davidfowl commented on #1094
@weidazhao if it still repros, reopen this issue.

[2016-03-15 16:58] #1094 closed

[2016-03-15 16:59] davidfowl commented on #792
unassigning myself. There's a set of changes @DamianEdwards wants to make to project.json. There should be an uber issue on that.

[2016-03-15 16:59] davidfowl commented on #1403
dotnet run is a dev time thing...

[2016-03-15 17:03] #1498 closed

[2016-03-15 17:03] davidfowl commented on #1498
/cc @brthor seems like the .version file is missing on ubuntu.

[2016-03-15 17:18] andschwa commented on #1839
Yeah it's still stuck on 1675, but the latest binary on the homepage is 1760.

[2016-03-15 17:20] livarcocc opened #1864 "Replace entities in Testing.Abstractions with entities from TestPlatform from VS"
Stop using our own home made abstractions and instead use the VS one defined here: http://www.nuget.org/packages/MSTest.ObjectModel/.

[2016-03-15 18:44] brthor commented on #1498
#1867

[2016-03-15 18:45] livarcocc commented on #1201
We have added a dotnet test debug experience in VS.

[2016-03-15 18:45] #1201 closed

[2016-03-15 18:46] livarcocc commented on #1670
We did something different. We changed dotnet test to be a client instead of a server for the adapter. This way the adapter can reserver all the ports it needs and then call dotnet test passing which port it should connect to.

See https://github.com/dotnet/cli/pull/1786.

[2016-03-15 18:50] brthor commented on #1839
taking a look

[2016-03-15 18:53] brthor commented on #1839
Looks like we regressed publishing this to the feed recently. Putting a fix in.

[2016-03-15 18:55] blackdwarf commented on #45
@dburriss custom commands are supported on per-project basis. Global commands like what DNU provided with DNU commands are not going to be supported at least for V1.

[2016-03-15 18:58] andschwa commented on #1839
Awesome, thanks @brthor

[2016-03-15 18:59] livarcocc commented on #1506
I have updated  the version of the xunit runner to be netstandardapp1.5.

[2016-03-15 18:59] #1506 closed

[2016-03-15 19:10] livarcocc commented on #1664
I have https://github.com/dotnet/cli/pull/1872 out to add this extra information.

[2016-03-15 19:33] #1839 closed

[2016-03-15 20:02] natemcmaster opened #1876 "Question: AppContext base directory for project tools is set to nuget installation directory"
When a project tool (for example dotnet-tool-name) is launched, `AppContext.BaseDirectory` will is the location of dotnet-tool-name.dll. In most cases, this will be the nuget package install directory. (On my machine, this is means`AppContext.BaseDirectory == %USERPROFILE%\.nuget\packages\dotnet-tool-name\version\lib\dnxcore50`)

**Question:** was this intentional design? If not, what should based

[2016-03-15 20:30] #1702 closed

[2016-03-15 20:32] emgarten commented on #1826
@blackdwarf it should have gone in yesterday.

[2016-03-15 20:41] blackdwarf commented on #1826
@emgarten ah, ok, wil try with the latest tonight to see if this repros again. At least now I can restore on my home machine (with disabiling network devices).

[2016-03-15 20:55] #1664 closed

[2016-03-15 21:16] jberezanski commented on #591
The dnx folder should ideally be placed under AppData\Local (i.e. %LOCALAPPDATA%), so that it would play nice with roaming profiles and folder redirection.

The fact that other platforms historically did not define conventions for per-user application data placement and applications were free to clutter the user profile directory should not result in importing this mess to Windows. Incidentally, t

[2016-03-15 21:43] cheers00 commented on #1629
@piotrpMSFT wondering if you have any update on custom-cli for symbols support.

[2016-03-15 21:46] mlorbetske opened #1881 "Duplicate errors when a parse error occurs in project.json"
![image](https://cloud.githubusercontent.com/assets/1414993/13795067/5b7a2044-eabc-11e5-9d58-c85034515c6a.png)

I have a broken project.json and I ran build and my error list looked like the above picture. I expected a single error to show up.

/cc @davidfowl

[2016-03-15 21:48] gregg-miskelly opened #1882 "Need a way to obtain the current runtime id from the CLI"
We need a way of asking the .NET CLI what is the runtime id for the current computer. It looks like it may be possible to do this by scrapping the output of 'dotnet.exe --version'. As long as we don't care about localizing 'runtime id', and as long as restoring for 'win10-x64' will restore 'win7-x64' packages (for example) then I think we are already good.

Otherwise I would propose a 'dotnet.exe

[2016-03-15 22:19] Sridhar-MS opened #1886 "Revert #1885 when host muxer supports using a pre-release CLI SDK without global.json"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --version` output:

[2016-03-15 22:19] Sridhar-MS commented on #1886
revert #1885

[2016-03-15 22:26] troydai commented on #1821
I'll assign this to myself for now.

[2016-03-15 23:23] andschwa opened #1888 "Support compilationOptions per runtime"
There are a few scenarios with cross-platform code that a runtime OS switch isn't enough. When changing the name of the library to a `DllImport` statement, or when changing the type given to `MarshalAs`, the switch *must* be done at compile-time, as enforced by C# (please tell me if I'm wrong, that would be delightful).

Our two big use cases are: 1) a reimplementation of a Windows shared library

[2016-03-16 00:23] clockwisemusic commented on #1679
I'm having the same error and getting the same stack trace. @Cronan did you find a workaround?

[2016-03-16 02:54] emgarten commented on #1679
@Cronan does your nuget server use Windows Auth?

[2016-03-16 05:37] dburriss commented on #45
That is good to know. Are there any resources on getting started with custom commands? If we eventually got global commands would they be able to fill a space like gems in ruby or packages in node?
Eg.
*RUBY*

*DOTNET (hopeful)*

Note: njekyll doesn't exist as far as I know. Just an example.

[2016-03-16 10:25] xatabhk commented on #1860
Same issue. I have not been able to get dotnet.exe working since 001718 I think.
![system io error](https://cloud.githubusercontent.com/assets/6814395/13809172/63a96872-eba4-11e5-8d95-8eeb17644f62.png)

[2016-03-16 10:28] davidfowl commented on #1882
/cc @natemcmaster :smile:

[2016-03-16 10:29] davidfowl commented on #1881
/cc @troydai

[2016-03-16 10:31] davidfowl commented on #1876
The best bet here is to use the working directory instead of the app base to find the project being invoked on. The ApplicationBase might be being used by the tool itself to find configuration files relative to it and other things like this (resource assemblies etc).

[2016-03-16 10:32] davidfowl commented on #1864
does it target netstandard?

[2016-03-16 10:32] davidfowl commented on #1864
Also:

Why would we use this?

[2016-03-16 10:34] davidfowl commented on #1888
This is the same as https://github.com/dotnet/cli/issues/465 and I can tell you this isn't happening for RTM. The workaround for now is to use different `project.json` (I'm assuming this is an application not a project?)

[2016-03-16 10:35] davidfowl commented on #1860
This is a nuget bug https://github.com/NuGet/NuGet.Client/commit/f489a21dbb40706c4b8ac436e5462828feb9d1d5. We'll pull a new version ASAP.

[2016-03-16 12:51] onovotny opened #1896 "Auto RID is incorrect for uap10.0 packages"
## Steps to reproduce
Create project.json with a uap10.0 target. Restore

Repro here:
https://onedrive.live.com/redir?resid=B98D981155DF4D47!818874&authkey=!AEPXTFkv_F1lqNs&ithint=file%2czip

## Expected  behavior
Restore should succeed

## Actual behavior
[code]

According to @ericstj, the `System.AppContext` is a known issue, but it seems the CLI tools are incorrectly using a Win7 RID.

## Envir

[2016-03-16 12:51] onovotny commented on #1896
Split from here https://github.com/dotnet/corefx/issues/6603#issuecomment-195225605

[2016-03-16 13:02] xatabhk opened #1897 "An unhandled exception has occurred: Sequence contains no matching element"
## Steps to reproduce
Build and run MusicStore attached.
[MusicStore-dev.zip](https://github.com/dotnet/cli/files/175978/MusicStore-dev.zip)

##Error
![dotnet_err](https://cloud.githubusercontent.com/assets/6814395/13813034/2e665772-ebba-11e5-8cb8-2477f8290999.png)

## Environment data
`dotnet --version` output:
.NET Command Line Tools (1.0.0-beta-001806)

Product Information:
 Version:     1.0.0-

[2016-03-16 13:31] flagbug commented on #1860
@davidfowl Is there a workaround for now?

[2016-03-16 14:34] afortaleza commented on #1679
I'm having the same error when I run ```dotnet restore```, also behind a corporate proxy. http_proxy and https_proxy variables set, git works fine on github, npm works fine. Here's my log:

[code]

[2016-03-16 15:10] mrmeek commented on #1770
This appears to be working again in beta 0.1806, issue can probably be closed

[2016-03-16 15:39] andschwa commented on #1888
Ah I *thought* we had an issue, just couldn't find it.

Multiple project.jsons is not a work around when you have a half dozen interdependent projects that all need this.

[2016-03-16 15:39] #1888 closed

[2016-03-16 15:59] mertozturk80 commented on #1816
Ok thank you.

[2016-03-16 16:54] Cronan commented on #1679
@emgarten Yes, my devops guys say we use Windows Auth

[2016-03-16 17:23] factormystic commented on #1882
Previous discussion on this topic includes a request for just the "version" part (https://github.com/dotnet/cli/issues/1607#issuecomment-189930471) and a request for the machine rid (https://github.com/dotnet/cli/pull/1235#issuecomment-186403648).

I believe the most elegant & scaleable solution to all of these scenarios (and more that people might invent in the future) is to enhance `--version` w

[2016-03-16 17:50] troydai commented on #1881
One is from DTH and the other comes from VS's json schema checker.

[2016-03-16 18:36] pakrym opened #1904 "Absence of shared runtime is not reported correcly"
## Steps to reproduce
Run portable app targeting one version of runtime with dotnet that doesn't have it.

## Expected  behavior
Meaningful error message like "Runtime version 1.0.1132213 not found"

## Actual behavior
[code]

## Environment data
`dotnet --version` output:

[code]

[2016-03-16 18:37] pakrym commented on #1904
/cc  @schellap

[2016-03-16 18:45] pakrym opened #1905 "dotnet run should use the dotnet muxer and not corehost"
## Steps to reproduce
Build something with dependency to `System.Security.Cryptography.OpenSsl/4.0.0-rc2-23914 ` on windows.
Run it.

## Expected  behavior
When having library like `System.Security.Cryptography.OpenSsl` which doesn't have runtime target for current platform `corehost` should skip it.

[code]

## Actual behavior
Fails with an error.
[code]

## Environment data
`dotnet --version` ou

[2016-03-16 18:46] pakrym commented on #1905
/cc @schellap

[2016-03-16 18:47] pakrym commented on #1905
Added `blocking-partner` because it blocks MVC.

[2016-03-16 18:53] pakrym commented on #1688
https://github.com/dotnet/cli/pull/1895

[2016-03-16 18:53] #1688 closed

[2016-03-16 19:46] bruceyclee commented on #1827
I have the same issue and C++ Redistributables(VS 2015) was installed on my machine.

[2016-03-16 19:48] gkhanna79 opened #1907 "Chain in VC++ 2015 REDIST"
SharedFramework REDIST installer, on windows, should chain in VC++ 2015 REDIST installation as well.

CC @blackdwarf @piotrpMSFT @mellinoe @joshfree

[2016-03-16 20:05] #1770 closed

[2016-03-16 20:20] anurse opened #1908 "Corehost doesn't mux properly on Unix"
## Steps to reproduce
1. Be on a Mac (maybe Linux too?)
2. Download and unpack the latest package from here: https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/Latest/dotnet-combined-framework-sdk-host-osx-x64.latest.tar.gz
 1. `curl -O https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/Latest/dotnet-combined-framework-sdk-host-osx-x64.latest.tar.gz`
 2. `tar -xf dotnet-combine

[2016-03-16 20:30] schellap commented on #1908
Looking...

[2016-03-16 20:31] anurse commented on #1908
FYI, same result on CentOS (there isn't a Ubuntu build out yet). For that, you'd use `curl -O https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/Latest/dotnet-combined-framework-sdk-host-centos-x64.latest.tar.gz` and `tar -xf dotnet-combined-framework-sdk-host-centos-x64.latest.tar.gz`

[2016-03-16 20:32] anurse commented on #1908
Confirmed that Windows does not exhibit this behavior (and in fact, works just fine :smile: )

[2016-03-16 20:33] schellap commented on #1908
As per spec, the shared folder should be `Shared` case sensitive :)

[2016-03-16 20:34] schellap commented on #1908
The error code gives 0x97. May be a better print message is needed.

[2016-03-16 20:36] schellap commented on #1908
That is not the actual problem but one of the potential problems.

[2016-03-16 20:48] anurse commented on #1908
That looks really strange on a Unix system. Why was `Shared` chosen rather than `shared`?

[2016-03-16 20:49] schellap commented on #1908
In any case, the bug is in the usage of `readdir` as it only lists files in unix.

[2016-03-16 20:50] schellap commented on #1908
Should we just use `shared` on all platforms? @gkhanna79

[2016-03-16 20:50] anurse commented on #1908
Ok, sounds good. The CLI packaging uses `shared` right now. I think it'd be best to do that for consistency. If you fix the underlying issue I can work around the casing for now though.

[2016-03-16 21:04] anurse opened #1910 "CoreHost should take only the RID-specific asset OR the RID-less asset for a particular asset type"
For each asset type (`runtime`, `native`), we should only take the RID-less assets if there are no RID-specific assets. Today we merge: https://github.com/dotnet/cli/blob/rel/1.0.0/src/corehost/cli/deps_format.cpp#L233 - (It's my and @pakrym 's fault, we explicitly asked for merging, but it turns out we were wrong! After discussing with @ericstj we realized the logic should match the NuGet behavio

[2016-03-16 21:09] emgarten commented on #1679
@Cronan Windows auth isn't supported yet for dotnet restore, only basic auth.

[2016-03-16 21:33] #1670 closed

[2016-03-16 22:06] livarcocc commented on #1755
This should be available now.

[2016-03-16 22:06] #1755 closed

[2016-03-16 22:12] livarcocc commented on #1299
This has been fixed.

[2016-03-16 22:12] #1299 closed

[2016-03-16 22:12] joelverhagen commented on #1818
We write the lock file progress at the `debug` level. This can be view by executing the restore with `--verbosity debug`. Code here: [RestoreResult.cs](https://github.com/NuGet/NuGet.Client/blob/272b41b8234e3a241da012e88fd45d0b639e9083/src/NuGet.Core/NuGet.Commands/RestoreCommand/RestoreResult.cs#L131).

The pattern that we use before writing the lock file is:
[code]

Note that if we detect that t

[2016-03-16 22:17] victorhurdugaci opened #1914 "No code file => 0 bytes nupkg"
create a folder with the following `project.json` file in it:

[code]

Run `dotnet restore` and then `dotnet pack` on it.

Result: a 0 bytes nupkg

If you add a code file without an entry point it will complain but without any code file it seems that there's no error.

[2016-03-16 22:26] #1908 closed

[2016-03-16 22:29] victorhurdugaci opened #1916 "FrameworkAssemblies are transitive for project dependencies but not for packages"
Get this repro code: https://github.com/victorhu-msft/deps-leak
1. In the root run `dotnet restore`
2. Go to `src\ref.xxx` and run `dotnet build` => success
3. Notice that the `project.json` file references `proj.xxx`
4. Go to `src\proj.xxx` and run `dotnet pack` => success
5. Notice that the `project.json` file has some build-time framework assembly references
6. Copy the nupkg produced by the bu

[2016-03-16 22:36] joelverhagen commented on #1781
There are actually two things going on here. The first iteration of tool restore that was implemented in NuGet (by me) does not read in the existing lock file and therefore does not do all the no-op that a normal project does. Another thing that could be happening is that @brthor's existing tool restore code is running.

[2016-03-16 22:37] weidazhao commented on #1830
I'm seeing the same error on Windows.

[2016-03-16 23:05] livarcocc commented on #1267
This seems to be working now. I get the dotnet test command to fail in such a situation.

[2016-03-16 23:05] #1267 closed

[2016-03-16 23:09] cdmihai opened #1917 "Publish fails with unclear error if LockFileReader fails"
## Steps to reproduce

Manually change the lock file so LockFileReader fails (e.g. replace a string value with an int)
## Expected  behavior

Publish should fail with a clear error like: `"Failed to read lock file <file path>. Try to restore the project."`
## Actual behavior

Publish fails with: `'C:\...\project' cannot be published for '<no framework provided>' '<no runtime provided>'`

This is b

[2016-03-16 23:26] livarcocc commented on #1343
I haven't seen a repro for this. @tushargupta51 if this is still happening to you, please, re-activate.

[2016-03-16 23:26] #1343 closed

[2016-03-17 00:56] abpiskunov commented on #1781
I am using whatever is merged to dotnet and on last week i was told it is not ready and real working xplat restore was not merged yet to dotnet.

Is it merged now? If not is it possible to test latest and merge to dotnet along with the change to output project.lock.json in default verbosity?

Thanks,
Anton

On Mar 16, 2016, at 6:37 PM, Joel Verhagen <notifications@github.com<mailto:notifications@g

[2016-03-17 01:03] ellismg commented on #1907
@robmen Can you confirm my understanding that the right way to do this is via the bundle (through the use of `<ExePackage>`?)

[2016-03-17 01:04] TingluoHuang opened #1919 "Unable install DOTNET CLI for Windows 1.0.0.001598"
## Steps to reproduce
Install CLI 1.0.0.001598

## Expected  behavior
install succeed

## Actual behavior
install failed with log:
[2FA4:3F7C][2016-03-16T20:50:20]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: C:\Users\huang\AppData\Local\Temp{E1F0B9DA-4EF0-4C99-8AF3-F28E1CC61CC4}.cr\dotnet-win-x64.1.0.0.001598.exe
[2FA4:3F7C][2016-03-16T20:50:20]i000: Initializing str

[2016-03-17 03:13] blackdwarf commented on #1882
@factormystic the solution with overloading `--version` seems wrong. I'm gonna say it again. Ideally, we should have a short version string that contains the needed data and that is much easier to parse out.

@gregg-miskelly I don't know of a case where we would localize rids. They are machine-consumable strings AFAIK. Also, is this something that CLI needs to support or is there a configuration/d

[2016-03-17 03:16] blackdwarf commented on #1919
@TingluoHuang did you have an old version installed? Like, really old version? If so, can you uninstall and try again?

[2016-03-17 03:17] blackdwarf commented on #1863
@anurse I will take this, I have a change for class libraries already, so will finish and send a PR for this for now. Also, we may do something nicer with `dotnet new` and so on.

[2016-03-17 03:20] TingluoHuang commented on #1919
@blackdwarf  I already uninstall a recently installed old version. I do installed some really old version of DNX, but i forgot whether i uninstall it or not. Control Panel doesn't shows any CLI/DNX related software still installed. do i have to reboot after uninstall?

[2016-03-17 03:25] blackdwarf commented on #1919
@TingluoHuang DNX will not be a problem. This is interesting. @Sridhar-MS did you ever see this?

[2016-03-17 04:14] blackdwarf commented on #1863
@anurse what is the current TFM for class lib?

[2016-03-17 05:49] gregg-miskelly commented on #1882
@blackdwarf - not localize the rid itself, but rather localize the string "Runtime Id:", so we can do the equivalent to:

` dotnet --version | grep "Runtime Id:" | head -1`

To find the current rid.

[2016-03-17 05:55] blackdwarf commented on #1882
@gregg-miskelly that's a different matter. Yeah, for that, we may need to do it, but for now it is safe.

Again, I guess all of this would be solved with a short version string that would be something like `dotnet-cli;1.0.0.001598;win7-x64` (off the top of my head) that has well-known positions for stuff.

[2016-03-17 06:00] gregg-miskelly commented on #1882
Sure. That works too, as long as we can fix it before RTM. It looks like I will need to take a dependency on this, so lets not change it after RTM :)

[2016-03-17 06:11] blackdwarf commented on #1882
@gregg-miskelly what about having a data file that would contain this info or something similar in a well-known location? Would that work? Just exploring options here.

[2016-03-17 08:05] ayende commented on #1579
On Windows 8, still using:
https://github.com/ayende/ravendb/tree/temp

I run the following sequence of commands:

rdb> dotnet restore
rdb\src\Sparrow> dotnet restore
rdb\src\Sparrow> dotnet build
rdb\src\Voron> dotnet restore
rdb\src\Voron> dotnet build
rdb\src\Raven.Client> dotnet restore
rdb\src\Raven.Client> dotnet build
rdb\src\Raven.Server> dotnet restore

Then I get:

[code]

Running restor

[2016-03-17 08:24] Cuiqs76 commented on #1827
I re-install windows 10 and VS2015， the problem is still there.

[2016-03-17 11:55] MariovanZeist commented on #1860
@davidfowl Besides having the same issue @xatabhk has, I also can't build using visual studio.
I am able to build some libraries using dotnet build, but building the same library from inside visual studio gives a plethora of errors mostly of the format

`The type 'IList<>' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime, Version=4.0.0.0, Cultu

[2016-03-17 12:14] abpiskunov commented on #1818
Well this means you would need either to change how you print project.lock.json or provide us with some other marker in the output.

Why don't you print by default at the end of each project restore : "Generated ...project.lock.json" as it was before in default verbosity level and "Lock file was not changed .." stays under verbosity=Debug which we never call from VS. In this case we would always h

[2016-03-17 12:55] Cronan commented on #1679
@emgarten I still can't get this to work when I remove my internal server, I'll repost my comment from above:

[code]

[2016-03-17 13:34] blackdwarf commented on #1858
@xatabhk did the restore operation finish succesfully?

[2016-03-17 14:10] MichaelSimons commented on #1582
Docker made a change (https://github.com/docker/docker/pull/21117) to allow the restart_syscall by default.  With the next release of Docker (1.11.0), this issue will be addressed and you will no longer encounter it with the default experience.  Additionally a change (https://github.com/lttng/lttng-ust/commit/8aadb54abbf7c13e8eb8f0554c517c6bfbc9ea0c) was made to the LTTng library to provide a bett

[2016-03-17 14:10] #1582 closed

[2016-03-17 15:36] gkhanna79 commented on #1907
Needs to happen for both x86 and x64 installers.

[2016-03-17 16:13] xatabhk commented on #1858
@blackdwarf blackdwarf Yes. Here is a screenshot.
![no_tools_err](https://cloud.githubusercontent.com/assets/6814395/13852629/eeaa3222-ec9d-11e5-8581-b00d17b3da0e.png)

[2016-03-17 16:37] anurse commented on #1863
`netstandard`

[2016-03-17 16:53] brianrob opened #1924 "Cannot Build A Linux Targeted App on Windows"
## Steps to reproduce
1. dotnet new
2. Edit the project.json file to include a Linux RID (e.g. ubuntu.14.04-x64)
3. dotnet restore
4. dotnet build -r ubuntu.14.04-x64
5. Navigate to the bin\Debug\dnxcore50\Ubuntu.14.04-x64 directory.
## Expected  behavior

Expect to see Linux specific files (e.g. libhostpolicy.so and an ELF executable for the app).
## Actual behavior

Only Windows specific files a

[2016-03-17 16:54] brianrob commented on #1924
@piotrpMSFT, can you confirm that this workflow is expected to work?

[2016-03-17 16:58] robmen commented on #1907
@ellismg yep. ExePackage with a `DetectCondition` and `InstallCondition` should be enough. I'd mark it permanent since removing the VC Redist generally isn't something an app should do.

[2016-03-17 17:01] anurse opened #1925 "dotnet.exe should consider an empty argument set as an SDK invocation"
When the `dotnet` muxer is executed with no arguments, it should consider that an SDK invocation and mux to the SDK as appropriate (same as it would with `dotnet --help`, etc.). That way, typing `dotnet` on the command line will give the help text from the SDK (which can include help for the muxer itself).

Currently, typing `dotnet` produces no output at all, which is definitely not a good user s

[2016-03-17 17:05] steelheaddigital commented on #1732
@blackdwarf and @HermanEldering, same problem and same fix.  Disabling the VBox interface fixed everything.

[2016-03-17 17:15] Petermarcu commented on #1907
@ellismg , I just emailed you a sample of how another product does it.

[2016-03-17 17:16] blackdwarf commented on #1732
@emgarten would be good to investigate what is happening here.

[2016-03-17 17:17] mellinoe commented on #1925
:+1:

[2016-03-17 17:18] blackdwarf commented on #1858
@xatabhk can you share your `project.json`? I see from the screenshot that you are building for 4.5.1.

/cc @piotrpMSFT

[2016-03-17 17:18] ellismg opened #1926 "dotnet 1.0.0.001833 fails to find an SDK on RHEL"
## Steps to reproduce

This is on RHEL (but I expect the problem exists elsewhere).  Download and unpack `dotnet-combined-framework-sdk-host-rhel-x64.latest.tar.gz` and then try to run ./dotnet help

## Expected  behavior

Help is displayed.

## Actual behavior

[code]

If you make a softlink in the sdk folder named -1.-1.-1 and point it at 1.0.0-beta-001833 then things get a little further, but t

[2016-03-17 17:18] ellismg commented on #1926
/cc @schellap

[2016-03-17 17:25] anurse commented on #1925
Psh, clearly **someone** didn't read about the new [reactions feature](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) ;P

[2016-03-17 17:28] xatabhk commented on #1858
@blackdwarf blackdwarf  project.json. Net450 or dnx451, the same result.
[project.txt](https://github.com/dotnet/cli/files/178385/project.txt)

[2016-03-17 17:29] benaadams commented on #1403
Maybe just publish then? (If its not the default as @GuardRex suggests)

[2016-03-17 17:53] troydai commented on #1668
Ping @BillHiebert

[2016-03-17 18:01] gregg-miskelly commented on #1882
Sure. Also, all we are going to do with the runtime id is pass it to dotnet restore/publish. So if these commands took a '--runtime current' (or whatever) that would also work.

[2016-03-17 18:12] mellinoe commented on #1926
I'm seeing this on Windows, with the same build.

[code]
dotnet.dll is present at that location.

[2016-03-17 18:13] schellap commented on #1926
Fixed by #1927

[2016-03-17 18:14] schellap commented on #1926
I broke this during some logging and refactoring work I did yesterday. Got a fix issued, sorry guys, I will add some tests now that we have everything in place.

[2016-03-17 18:15] gregg-miskelly opened #1928 "dotnet restore fails with bogus missing config file error on some computers"
Moving issue from https://github.com/OmniSharp/omnisharp-vscode/issues/96

## Steps to reproduce
1. Install VS Code on a Ubuntu
2. Try to restore the CLR debugger in the same way that VS Code will --

    cd ~/.vscode/extensions/ms-vscode.csharp-0.3.7/coreclr-debug
    dotnet --verbose restore --configfile NuGet.config

## Expected  behavior
Restore succeeds

## Actual behavior
On some machine, re

[2016-03-17 18:19] schellap commented on #1925
Psh, clearly **someone** didn't read about the new [reactions feature](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) ;P

[2016-03-17 20:01] cheers00 commented on #496
Getting symbols from symbols server or as nuget package is one solution. But we also want to

- Build CoreCLR and CoreFx
- Copy dlls to .Net CLI
- Build and Deploy
- use my own symbols for debugging.

[2016-03-17 20:07] emgarten commented on #1732
@blackdwarf what are simplest repro steps for this issue?

//cc @joelverhagen

[2016-03-17 20:20] blackdwarf commented on #1732
@emgarten install Win7SP1, install Virtual Box, install CLI tools. Do

[code]

[2016-03-17 20:26] ellismg commented on #1926
@schellap Even with the above fix (), I'm still seeing an error unless my SDK folder has a symlink named `-1.-1-.-1` to the real SDK:

[code]

Expected?

[2016-03-17 20:35] schellap commented on #1926
`ls /home/matell/temp/sdk/` why is it only probing `.` `..` inside `sdk`.

[2016-03-17 20:42] coshkun commented on #308
There may be a WORKAROUND with:

[Source is here..](http://askubuntu.com/questions/722075/no-installation-candidate-for-libicu52-on-15-10)

[2016-03-17 20:53] ellismg commented on #1926
[code]

unsure if this strace output will be helpful

[code]

[2016-03-17 20:57] tmds commented on #308
@coshkun after installing libicu52 things still won't work as you'll hit this issue: https://github.com/dotnet/cli/issues/1179
@vaelen documentation request: https://github.com/dotnet/corefx/issues/6770

[2016-03-17 21:00] livarcocc opened #1933 "Corehost should give a better error message when the dll path is too long"
## Steps to reproduce
Just invoke corehost.exe passing to it a dll whose path is bigger than 255 characters.

## Expected  behavior
We get an error saying that path is too long or something like that.

## Actual behavior
The error message says that coreclr could not be found.

[2016-03-17 21:28] ellismg commented on #1933
Is there a plan to support long paths?

[2016-03-17 22:16] livarcocc opened #1935 "corehost does not return an error code in unix when it fails to find coreclr"
Use this branch: https://github.com/livarcocc/cli-1/tree/more_test_params
## Steps to reproduce

Change the test It_returns_a_failure_when_it_fails_to_run_the_tests at GivenThatWeWantToRunTestsInTheConsole. Change the WindowsFactOnly to Fact and run the test.
## Expected  behavior

The test should pass because the command result should indicate a failure.
## Actual behavior

It does not fail, even

[2016-03-17 22:20] billwert opened #1936 "Configuration section of project.json needs documentation"
There isn't yet documentation explaining how users can/should add their own configuration sections to their project.json, and the help from dotnet build --help doesn't make clear the link between the configuration specified there to the one in project.json.

[2016-03-17 22:21] schellap commented on #1935
This is on ubuntu?

[2016-03-17 22:29] schellap commented on #1933
The host isn't built that way as of now, we would be adding support to long path during ask mode. Cc @gkhanna79

[2016-03-17 22:46] muratg commented on #1858
cc @moozzyk who saw this when we updated to a newer CLI.

This looks like a regression.

[2016-03-17 22:49] fearthecowboy commented on #1860
Any progress on this? This is blocking me in a rather bad way at the moment.

[2016-03-17 22:57] zumicts commented on #1858
Using `dnxcore50` and get the same error.

[2016-03-17 23:06] moozzyk commented on #1858
Looks like if the application targets a different framework than the tool itself resolving the tool fails. (The  [SelectTarget](https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/ProjectContextBuilder.cs#L388-L410) method returns null)

I was able to make `dotnet-publish-iis` work it by modifying the target framework of the tool and the target framework of the app to ma

[2016-03-17 23:22] emgarten commented on #1679
@Cronan would you run again with ``--verbosity verbose`` this looks like a different issue based on your output logs.

[2016-03-18 00:48] mlorbetske commented on #1881
@troydai neither of those messages come from VS's schema checker which is part of the JSON editor (the one that does is the highlighted line in the screenshot below). One comes in on file save (or project open as the case may be) and one happens on build, the errors show up without ever opening the JSON editor.

![image](https://cloud.githubusercontent.com/assets/1414993/13865368/e6ccce56-ec67-11e

[2016-03-18 01:01] brthor opened #1940 "Dotnet Run PortableAppWithNative Test Project Fails"
## Steps to reproduce
from cli repo root
dotnet run test/TestAssets/TestProjects/PortableTests/PortableAppWithNative

## Expected  behavior
runs successfully

## Actual behavior
fails

[code]

## Environment data
`dotnet --version` output:

[code]

Putting this issue in place to track test skip.

[2016-03-18 01:28] schellap commented on #1933
Also see #1695

[2016-03-18 01:28] schellap commented on #1910
This should be working now?

[2016-03-18 02:50] jamesqo commented on #1289
I also seem to be getting this issue with `dotnet compile`, with the freshest build provided by the link on the README.

Output of `dotnet --version`:

[code]

[2016-03-18 03:21] jamesqo commented on #1289
Just tested from an Ubuntu 14.04 VM on [Cloud9](http://c9.io) using the [Getting Started](http://dotnet.github.io/getting-started/) instructions from the website, seems to be happening there too.

[2016-03-18 03:34] troydai commented on #1881
I see. I was wrong. The error is returned from project model server for invalid JSON. It seems to me that the errors are accumulated in build tasks. I need to validate who's accumulate the errors CLI or VS. (@BillHiebert any thoughts? What additional action VS take for build?)

The second error probably comes from `dotnet build` command execution:
[code]

[2016-03-18 03:36] jamesqo opened #1944 "Should `dotnet compile` be a builtin command?"
It seems a bit strange that `compile-csc`, `compile-fsc`, and `compile-native` are builtins, but plain old `compile` is not. I'm running into a problem with this on my machine, where I'm getting an error about `dotnet-compile` not being found. Should we make the latter a builtin as well?

[2016-03-18 03:41] troydai commented on #1881
I'll assign this to myself although I believe it is a tooling bug. I'll sync up with @BillHiebert

[2016-03-18 05:40] moozzyk commented on #1858
/cc @glennc

[2016-03-18 07:22] mmalolepszy commented on #1944
@jamesqo According to #1574 compile was removed intentionally.

[2016-03-18 07:56] mmalolepszy commented on #1830
I've also seen this error, but since 1.0.0-beta-001829 its gone.

[2016-03-18 10:37] jamesqo commented on #1944
Ah, that makes more sense then. I was wondering why there was both a build and compile command.

[2016-03-18 10:37] #1944 closed

[2016-03-18 11:21] weidazhao commented on #1830
Microsoft.AspNetCore.Mvc has got rid of the dependency on Microsoft.Extensions.DependencyModel since https://github.com/aspnet/Mvc/commit/4299a4d50bd782b9253c0e69a0505463492bfc5f. Should be good now.

[2016-03-18 13:35] glennblock opened #1948 "Dotnet run not working on OSX"
## Steps to reproduce
- Installed dotnet cli version: 1.0.0-beta-001844
- `dotnet build` on an ASP.NET 5.0 app.
- `dotnet run`
## Expected  behavior

App builds and launches successfully.
## Actual behavior

App builds but gives the following error when launching.`Could not resolve coreclr path`
## Environment data

`dotnet --version` output:

.NET Command Line Tools (1.0.0-beta-001844)

Product I

[2016-03-18 13:42] miguellira commented on #1948
What does your `dnvm list` output look like? Have you tried upgrading to the latest DNX? `dnvm upgrade -u -r corelcr`

[2016-03-18 13:44] glennblock commented on #1948
[code]

[2016-03-18 13:45] glennblock commented on #1948
Trying now

[2016-03-18 13:46] miguellira commented on #1948
I'm assuming your ASP.NET app is currently targeting RC1 bits, not ASP.NET Core - correct? If so, you should just stick with DNX/DNU commands until RC2 goes live.

[2016-03-18 13:48] citizenmatt opened #1949 "Possible race condition in finding open port for dotnet test?"
Looking at the way dotnet-test works, it expects a port that it will start listening on, and the IDE will connect to and pass in commands. This means the IDE needs to find an open port, with code like:

[code]

Is there a chance of a race condition here, that the port that the IDE gets is then reused by another app running similar code, before `dotnet test` gets chance to open the port itself? Whi

[2016-03-18 13:50] miguellira commented on #1948
BTW, if you run the upgrade command, remember to switch back to RC1 if your ASP.NET targets that framework.

`dnvm use 1.0.0-rc1-update1 -p`

[2016-03-18 13:52] glennblock commented on #1948
The app targets RC1 yeah.

[2016-03-18 13:54] glennblock commented on #1948
In either case, trying the newer version didn't make the error go away when I ran "dotnet".

[2016-03-18 13:59] glennblock commented on #1948
Thank you for the responsiveness @miguellira!

[2016-03-18 14:00] miguellira commented on #1948
Yeah, I'm following your thread on Twitter.

I would stick with DNX/DNU for your demo and wait for RC2 to go out then move that app to ASP.NET Core. dotnet-cli should be a lot more stable by then.

Curious though, where is your dotnet currently installed `which dotnet`?

I'm currently on `1.0.0-beta-001842` which is an earlier build than yours and I'm able to build *most* RC2 beta projects.

[2016-03-18 14:10] glennblock commented on #1948
Thanks for the advice. I'll wait. I can still show it and show what it will enable.

It is installed here:  `/usr/local/share/dotnet/bin/dotnet`

I installed it downloading the OSX pkg from the `readme.md`

[2016-03-18 16:45] david-driscoll commented on #1948
looks like the actual tarball for osx is wrong, when compared to linux/mac layouts.  Specific `bin` folder is missing.

![image](https://cloud.githubusercontent.com/assets/1269157/13885106/512c6e38-ed07-11e5-8ffb-e95f475b1ecb.png)

[2016-03-18 17:38] miguellira opened #1950 "Error when executing dotnet run in a folder with a "." on OSX"
If you rename the `HelloMvc` sample application (https://github.com/aspnet/cli-samples) to `HelloMvc.Web` dotnet run does not properly execute the app.

## Steps to reproduce
[code]
## Expected  behavior
App builds and launches successfully.
## Actual behavior

App builds but gives the following error when launching:
[code]
## Environment data
dotnet --version output:
[code]
dnx --version output:

[2016-03-18 18:01] anurse commented on #1910
I think it is. /cc @pakrym

It was blocking ASP.NET scenarios that are now working, so I would assume so :). Will close and we can re-open if needed.

[2016-03-18 18:09] anurse commented on #1950
/cc @schellap @brthor @Sridhar-MS @piotrpMSFT

It looks like when `dotnet run` is invoking the host, it's doing something wrong:

[2016-03-18 19:22] onovotny commented on #1896
Latest bit:

[code]

[2016-03-18 19:22] #1642 closed

[2016-03-18 19:23] #1561 closed

[2016-03-18 19:23] anurse commented on #1561
@xanather That was always possible, this doesn't break that. But yes, you can publish apps for all platforms on all platforms. It just takes some command line tweaks.

[2016-03-18 19:23] #1811 closed

[2016-03-18 19:25] anurse commented on #391
I believe @schellap has handled host servicability (or is at least working on it as part of the general servicability story)

[2016-03-18 19:25] #391 closed

[2016-03-18 21:00] #1863 closed

[2016-03-18 21:02] moozzyk commented on #1858
@piotrpMSFT @blackdwarf - do you have any ETA for fixing or triaging this?

[2016-03-18 21:37] emgarten commented on #1896
@onovotny auto RID infer will be removed from NuGet: https://github.com/NuGet/Home/issues/2114

Once you define a ``runtimes`` section in your project.json file containing the correct set of RIDs to restore NuGet will use these instead of the fallback rids it currently infers and restores for (win7-x86).

[2016-03-18 21:39] eerhardt commented on #1607
A discussion between @blackdwarf and @anurse produced the recommendation that `dotnet --version` will output just the version of the CLI with no formatting:  ex. `1.0.0-beta-001880`.  Any "long" version and outputting other information can be handled later as the scenarios for the information arises.

[2016-03-18 21:51] ryanbrandenburg commented on #1607
Cool. Although, if I might push my luck here, the format that's stored in the .version file on windows and that a couple of our tools expect is "1.0.0.001880", without the "-beta-". It's a small thing to fix on our end, but it seems like whatever the "proper" format is it should be that way everywhere. Unless I'm missing some distinction.

[2016-03-18 21:56] kwaclaw commented on #1000
Version badges are not correct, though. The current Windows x64 shows version badge 1.0.0.001880, but the actual installer has been at version 1.0.0.001840 for a day or so.

[2016-03-18 22:01] onovotny commented on #1896
Cannot do that since runtimes are for the whole thing-- I'm cross compiling:

Here's the project.json:
https://gist.github.com/onovotny/3b6b1493ee4f26277ec5

[2016-03-18 22:29] blackdwarf commented on #1863
@anurse why did you close this? :)

[2016-03-18 23:12] anurse commented on #1863
Because it's done

[2016-03-19 01:18] emgarten commented on #1896
RID infer is for the entire project.json also.

[2016-03-19 01:20] onovotny commented on #1896
I'm not sure what you're suggesting here? I don't want to specify a win8 runtime for the whole project.json for those when other targets would work on win7/unix/any?

[2016-03-19 01:30] emgarten commented on #1896
Runtimes cannot be specified on a per TFM basis currently. The auto RID here comes from the environment you are running dotnet restore on, it is unrelated to the TFM itself.

[2016-03-19 01:32] onovotny commented on #1896
Okay...so my real question is what's the solution to this and is there already an better issue to track this (or should there be one?)

I was guessing that auto-RID was the issue given the comments in the issue linked in the summary, but the end result is that I cannot successfully restore this project.json currently.

[2016-03-19 02:00] emgarten commented on #1896
It looks like the project.json above creates a nupkg with libraries for win81, wpa81, and uap10.0. RIDs are meant for apps/executables and I don't see an entry point here so I'm assuming it's not that. Correct me if I'm wrong and there is more involved here (I'm sure there is).

My suggestion is to add ``"any": { }`` to your runtimes section. The RID will come from the consuming project, your port

[2016-03-19 02:03] onovotny commented on #1896
You are correct in that this is just for a library. The linked solution has the full repro, just open up Rx.NET-New.sln and watch the restore progress/window. That's when I saw the errors.

I don't have any executables except the test project, and that targets `netstandardapp15` and `net461`.

That's why this whole thing is confusing to me. I wouldn't expect to get those restore errors since those

[2016-03-19 02:27] tushargupta51 commented on #1343
@livarcocc I no longer get this error. I think it went away after I updated to a later version of dotnet. Thanks!

[2016-03-19 03:17] emgarten commented on #1896
I see the confusion. Auto RID infer handles things correctly for new TFMs because they are split, your test project under ``netstandardapp15`` will restore RID graphs and that allows you to run tests. ``netstandard`` ignores all RIDs and does not create RID graphs because it is portable.

In your project auto RID infer is incorrectly restoring RIDs for all of the frameworks because they are not co

[2016-03-19 04:22] varcario commented on #326
I see how you can specify to target net45, but can you actually deploy an app that targets net45 onto a .NET Core environment.  I have a net45 class library that references System.SerializableAttribute from a Reference.cs file generated from Visual Studio when I created my proxy classes from a WCF service.  I would like to deploy my ASP.NET Web API to run on .NET core and reference my library that

[2016-03-19 16:56] ericstj commented on #1910
The algorithm should do a hit-testing / probing type approach same as NuGet.
1. First consider the most specific RID and fallback to less specific RIDs in order.
2. For each matching RID, then consider TFM and fallback to less specific/compatible TFMs in order.  Stop at any point if a folder is found (with asset, or with placeholder).
3. If no asset or placeholder has been found, consider RID-less

[2016-03-19 17:04] livarcocc commented on #1152
Fixed by https://github.com/dotnet/cli/pull/1853

[2016-03-19 17:04] #1152 closed

[2016-03-19 17:04] livarcocc commented on #1376
Remaining parameters added by https://github.com/dotnet/cli/pull/1853.

[2016-03-19 17:04] #1376 closed

[2016-03-19 18:52] troydai opened #1955 "The latest available dotnet build (1.0.0.001876) for Ubuntu is installed incorrectly."
## Steps to reproduce
1. On an Ubuntu 14.04 build
2. Run `./scripts/obtain/install.sh -c beta -d ~/.dotnet` (destination is overridden)
Output:
[code]

## Expected  behavior
The link `~/.dotnet/cli/dotnet` works.

## Actual behavior
The folder `~/.dotnet/cli/bin` doesn't exist therefore the link is not functional.

__Note__ on Mac the latest dotnet build from beta is __1.0.0.001884__. The ubuntu b

[2016-03-19 18:54] blackdwarf commented on #1955
/cc @krwq

[2016-03-19 19:11] troydai commented on #1955
It occurs to me to be a deeper problem here. The build offered on different platforms are not aligned. Versions are different therefore the features are different. It makes consumers' lives difficult if their products are cross-platform.

For example, OmniSharp builds on different platforms. The inconsistency between platforms makes their build systems complex.

[2016-03-19 19:40] hal-ler commented on #1955
Reverting `04adb5ef567b498fbb2ff5cdaf2b7a06fc521383` on install.sh seemed to have solved it locally.

[2016-03-19 20:03] MichalStrehovsky opened #1956 "Dotnet build refuses to rebuild if switches change"
## Steps to reproduce

[code]
## Expected  behavior

The latest binaries will be produced by CppCodegen backend of .NET Native.
## Actual behavior

Nothing gets compiled by the second `dotnet build`.

[code]

The CLI should remember the compiler switches that were used to produce output and if they change, the project should not be considered up to date. (E.g. `--cppcompilerflags` could have chang

[2016-03-19 21:09] cpx opened #1957 "Restore fails with NotFound since a few days"
On a fresh installation, run:
dotnet new
dotnet restore

This fails with a "NotFound" error from nuget.org. As a workaround running restore with "-s  https://myget.org/f/dotnet-core" does find the packages, as suggested in other GH issues. If this is how it's supposed to be though, that should be stated in the docs.

Note that this was working fine just a few days ago. It was only today that I fou

[2016-03-20 02:44] ctaggart commented on #1405
I am able to reproduce this error when I use the latest official docker image.
https://dotnet.github.io/getting-started/
https://hub.docker.com/r/microsoft/dotnet/

[code]

It looks like the version being used is `1.0.0-alpha-151221` based on this:
[code]

Let's test that theory by overwriting the F# binaries with ones downloaded from MyGet for that specific version.

[code]

Yes, same error.

[co

[2016-03-20 03:24] KevinRansom commented on #1405
That exception used to happen coercer build when no assemblies are passed on the command line.   That build is from December last year,  there are later builds on myget that can be used.

From: Cameron Taggart <notifications@github.com<mailto:notifications@github.com>>
Reply-To: dotnet/cli <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Saturday, March 19, 2016 at 7:44 PM
To: dotnet/

[2016-03-20 03:42] ctaggart commented on #1405
@kevinransom, I know. Keep scrolling. :-) I tried the latest builds and get a different error about $Reshapedmsbuild.

[2016-03-20 04:41] KevinRansom commented on #1405
I got some iffy advice on Thursday … that installer had the sigfile, opt file and win10manifest file in lib.  Publish does not put them in the right place.

So I just did this on my mac:

1. Install dotnet cli from here:   https://github.com/dotnet/cli

Used this project.json to publish the compiler somewhere usable …

{
  "dependencies": {
    "Microsoft.FSharp.Compiler.Host.netcore": "1.0.0-alph

[2016-03-20 07:25] troydai opened #1958 "Command dotnet --version doesn't print commit SHA any more."
[code]

[2016-03-20 08:27] ctaggart opened #1959 "How do I download specific version? (not latest)"
## Steps to reproduce

[code]

How do I download that specific version of `1.0.1.001806`?

## Expected  behavior

I was expecting something like this to work:

https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/dotnet-ubuntu-x64.1.0.1.001806.tar.gz
[code]

[2016-03-20 11:07] xabikos commented on #1567
I am in OSX El Capitan 10.11.3 and using zsh and faced the same problem. I had to execute in a terminal window the command "export PATH=$PATH:/usr/local/share/dotnet/bin" >> .zshrc as suggested above and problem was fixed.

[2016-03-20 11:53] SkyKnight commented on #1827
I have same issue even on latest docker container.

[2016-03-20 14:43] kwaclaw opened #1961 "Version badges on dotnet/cli page are wrong"
## Steps to reproduce
Open https://github.com/dotnet/cli page at branch rel/1..0.0.
Download Windows x64 installer.

## Expected  behavior
Downloaded package version matches version badge.

## Actual behavior
As of right now: version badge shows 1.0.0.001887
Downloaded version: 1.0.0.1840

[2016-03-20 14:46] ctaggart commented on #1959
Figured it out based https://github.com/dotnet/cli/issues/1637 and https://chocolatey.org/packages/dotnetcore. I was pretty close, but I was missing the directory name with the version. This works:

https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/1.0.1.001806/dotnet-ubuntu-x64.1.0.1.001806.tar.gz
[code]

[2016-03-20 14:46] #1959 closed

[2016-03-20 16:51] MichalStrehovsky opened #1962 "Error messages should be more prescriptive"
I know these things are documented, but nobody wants to read the documentation. The `git` command line tools do a pretty good job at explaining what the user should do to fix a problem - I think `dotnet` should take lessons from it:
### Project dotnet does not have a lock file

[code]

_Hey dummy, you need to run `dotnet restore`!_ (Also, I'm not sure why are we printing this twice.)
### fatal err

[2016-03-20 21:32] ctaggart commented on #1405
Thanks @KevinRansom. I created a `1.0.0-alpha-160318` docker image the latest dotnet-cli version. I also tagged it as `latest`, so you can run it like so:

[code]
Any idea why `fsi` is giving that error?

[2016-03-20 22:06] KevinRansom commented on #1405
Nice, thanks

From: Cameron Taggart <notifications@github.com<mailto:notifications@github.com>>
Reply-To: dotnet/cli <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Sunday, March 20, 2016 at 2:32 PM
To: dotnet/cli <cli@noreply.github.com<mailto:cli@noreply.github.com>>
Cc: Kevin Ransom <Kevin.Ransom@microsoft.com<mailto:Kevin.Ransom@microsoft.com>>
Subject: Re: [cli] DotNet Run for F

[2016-03-20 23:22] dlech commented on #1721
Elementary OS is based on Ubuntu 14.04. It just has a different desktop and core desktop apps. Anything that dotnet deals with is going to be identical to Ubuntu 14.04 other than `/etc/os-release`. So really the bug here is not that elementary OS doesn't work, but rather that dotnet is using `/etc/os-release` to determine which packages to download.

It seems to me that if you install `dotnet` fro

[2016-03-20 23:32] troydai opened #1963 "Fail to build cli on Ubuntu 14.04"
## Steps to reproduce
1. Clone cli repo;
2. Install all the necessary pacakges;
3. `./build.sh`

## Expected  behavior
Build successfully

## Actual behavior
[code]

## Environment data
`dotnet --version` output:

[2016-03-20 23:33] troydai commented on #1963
Releated https://github.com/dotnet/cli/issues/1955

[2016-03-21 00:27] joshcomley commented on #564
Yes this is quite surprising especially given the problems with the general bugginess of RC; sometimes I need to reference both old and new versions of the same library to hack it to work, but if the namespace hasn't changed I cannot because of the lack of alias support.

So +1 here

[2016-03-21 00:52] troydai opened #1964 "Install script (bash) will repeatedly install the dotnet package even the same version already exists"
## Steps to reproduce
1. Execute `./install.sh -c beta -d ./.dotnet` to install __dotnet__ to a local folder.
2. Execute the same command again.

## Expected  behavior
The command detects that the same version of __dotnet__ is already installed at the given folder therefore skip the second execution.

## Actual behavior
The tarball is downloaded again as well as the instllation.

## Environment da

[2016-03-21 02:12] anurse commented on #1910
Thanks for that clarification. TFM resolution has already been done in this case (deps files are always for a single TFM), this adjustment should bring the behavior in line with that algorithm

[2016-03-21 04:56] ericstj commented on #1910
Do you preserve the placeholders and halt when one is encountered?

[2016-03-21 09:55] luisgarciaalanis commented on #1721
+1 here

Elementary OS is ubuntu 14.04 based, it even shares ubuntu's package repos... is there a way to tell the CLI to treat is as ubunut 14.04?

it is using the same binaries from Canonical, compiled by Canonical after all. Just another desktop and apps.

[2016-03-21 10:25] shealey commented on #1928
I'm also experiencing the same problem on the same operating system following a fresh install of the latest version of the coreclr.

I'm unable to build any auto generated dot net core projects in Visual Studio Code because of it.

[2016-03-21 11:22] mattwarren opened #1965 "Console app with cmd line args"
What is the guidance for an application that wants to have it's own command line arguments? It seems that `dotnet run ...` will not allow any arguments that are prefixed with `--`, even if they should be passed through to the application that `dotnet` it is running/hosting (i.e. they are not argument for `dotnet` itself, such as `--framework` or `--help`)

## Steps to reproduce

[code]

and the fo

[2016-03-21 12:04] akoeplinger commented on #1965
Seems like a duplicate of https://github.com/dotnet/cli/issues/1385.

[2016-03-21 13:18] mmalolepszy commented on #1965
@mattwarren There is a workaround allowing you to pass `--` prefixed arguments into your app:
[code]

[2016-03-21 13:22] PinpointTownes opened #1966 "The latest .NET CLI bits crash on Windows 7"
## Steps to reproduce

Install the latest CLI bits on Windows 7 or download the latest "portable CLI" .zip and run any command.

## Expected  behavior

No error should be displayed.

## Actual behavior

![image](https://cloud.githubusercontent.com/assets/6998306/13919767/b9f30976-ef6f-11e5-8440-7733ab906d3f.png)

![image](https://cloud.githubusercontent.com/assets/6998306/13919783/ccfa4048-ef6f-11

[2016-03-21 14:46] mattwarren commented on #1965
@akoeplinger sigh I completely missed #1385, yeah this is a dupe, I'll close it.

[2016-03-21 14:46] #1965 closed

[2016-03-21 15:09] onovotny opened #1967 "Project.json configuration split into separate files"
Right now project.json files have to be self-contained. This could get messy and also precludes the use of generated configuration values easily.

My suggestion is to have a `project.<configuration>.json` file that is sparsely populated and each provided section overrides a matching element in the parent. Thus, I could cherry-pick and replace a specific `compilationOptions` value, etc.

For rules,

[2016-03-21 15:36] anurse commented on #1910
I believe so, but @pakrym and @schellap would know for sure. We certainly **should** be preserving them and `corehost` should consider them a "successful" match, but with no actual assets provided.

[2016-03-21 15:57] enricosada opened #1968 "f# fail to build netstandardapp framework"
## Steps to reproduce

using latest .NET CLI:

- `dotnet new --lang f#`
- `dotnet restore`
- `dotnet build`

Or use framework `netstandardapp1.5` instead of `dnxcore50` (`dnxcore50` works)

## Expected  behavior

Build successful

## Actual behavior

Error `error FS0078: Unable to find the file 'mscorlib.dll' in any of`

## Why

The fsc argument `--profile: netcore` it's passed only for `dnxcore50

[2016-03-21 15:58] enricosada commented on #1968
fixed by #1898

[2016-03-21 16:04] abpiskunov commented on #1780
I am reactivating this issue. This error happens when tools are restored and Vs is not elevated. This did not happen for me in console since tools are not restored when I run same command in console. Tools are restored only in VS.

Note: there are several tools that are restored , some of them in web templates. Why they are restored for my console or class library apps?

[2016-03-21 16:10] ctaggart commented on #1405
To resolve this, the dotnetcli packages just need to update their F# dependencies like I did in the docker image I made over the weekend.
https://github.com/ctaggart/visualfsharp-docker/blob/master/.travis.yml#L16
https://hub.docker.com/r/ctaggart/visualfsharp/

[2016-03-21 16:29] enricosada commented on #1405
@ctaggart there is pr #1898 ready to be merged with this and other fixes

[2016-03-21 17:03] schellap commented on #1910
No as impleme

[2016-03-21 17:06] schellap commented on #1910
What is a placeholder? Just a folder with no assets?

[2016-03-21 18:04] anurse commented on #1910
Yes, it manifests as an asset named `_._` within a folder (because ZIP files can't have empty folders, they need a file there to "create" the folder). I'll do some checking today

[2016-03-21 18:05] dlech commented on #1721
As mentioned above, you can edit `/etc/os-release`.

I also did a little digging and found this: <https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json>. It has Linux Mint already, so maybe adding elementary OS might be a possibility.

[2016-03-21 18:16] schellap commented on #1910
This shows up in the lock file?

[2016-03-21 18:25] PinpointTownes commented on #1966
Same issue with 1887:

![image](https://cloud.githubusercontent.com/assets/6998306/13929483/a101bf4a-ef9a-11e5-9366-30ac64beae57.png)

[2016-03-21 18:32] Sridhar-MS commented on #1961
I updated the readme.md links. Can you try the latest links?

[2016-03-21 18:36] emgarten commented on #1780
@abpiskunov you are seeing the same error as before? Where are you expecting a fix to be made here?

[2016-03-21 18:41] brthor opened #1970 "Dotnet CLI Tools Changes FYI"
Last week the changes implementing this spec: `https://github.com/brthor/cli-nuget-extensions` went in.

There are some notable changes to the way tools behave here and how they interact with the shared framework.
- Tools are now expected to be portable apps
- Tools are expected to have a [runtimeconfig.json](https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/runtime-configuration-fi

[2016-03-21 18:46] anurse commented on #1910
Yes, in circumstances where a package provides one

[2016-03-21 18:47] brthor commented on #1948
@david-driscoll
Had some large changes to the layout of tarballs last week, the absence of a bin folder is expected, the cli now lives in `sdk`

[2016-03-21 18:47] anurse commented on #1910
@ericstj Do you have an example of a package that has one I can try out? I could make one but if you've got a simple example that would speed things along :)

[2016-03-21 18:54] brthor commented on #1805
The hang itself being a separate issue, I'm not sure if the cli should be timing out child processes.

We have no idea how long it is expected to take or if it should actually never go down (thinking server applications).

[2016-03-21 19:10] abpiskunov opened #1973 "latest dotnet installer brings old version of dotnet"
## Steps to reproduce

I am trying to download this installer

https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-win-x64.latest.exe

and it brings me dotnet version 1840, when I know that there are much newer builds available , for example https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/1.0.0.001887/dotnet-dev-win-x64.1.0.0.001887.zip

Is that broken or just

[2016-03-21 19:27] piotrpMSFT commented on #1973
Where are you seeing version 1840 reported?

[2016-03-21 19:31] abpiskunov commented on #1973
programs and features.

In command line I see: 10.0.10586. Ijust checked zip that I mentioned and it has changes that I need, but current latest doe snot have them for a while (a week?)

[2016-03-21 19:33] abpiskunov commented on #1780
This is in the code that restoring tools. Hold in with this , Joel tested latest dev bits in dotnet and issue did not repro, I am waiting on official latest installer to try things out with that.

[2016-03-21 19:43] ericstj commented on #1910
We don't have any for netstandardapp, but we use this type of structure for netcore50.  Have a look at https://dotnet.myget.org/F/dotnet-core/api/v2/package/System.Diagnostics.Process/4.1.0-rc3-23921 for example.

Not sure how much we'd actually do this in corefx packages, but I could imagine folks doing it in 3rd party.

[2016-03-21 19:56] troydai opened #1974 "Build CLI on Ubuntu from a clean environment requires too many apt-get install"
### Repo
1. Set up clean Ubuntu OS clone the CLI repo and run `./build.sh`
2. Over the course of the building, user is prompted to `sudo apt-get install` different packages. The prompts don't happen together. As a result the entire build process keeps being interrupted and new package needs to be installed to try again.

[2016-03-21 20:11] muratg commented on #1970
:eyes:

[2016-03-21 20:13] kwaclaw commented on #1973
I think related to #1961 .

[2016-03-21 20:32] abpiskunov commented on #1961
it is still 1840

[2016-03-21 20:34] brthor commented on #1974
What do you recommend?

Multiple tiers here, we have a prereq check in the pre-build scripts, in the install scripts, and in the build itself.

[2016-03-21 20:35] brthor commented on #1973
@abpiskunov links on the readme have been updated to reflect the new link to latest zips on Windows.

The name of the zip changed with the shared fx changes last week.

[2016-03-21 20:39] Sridhar-MS commented on #1973
The latest installer is @ https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe

Can you give that a try? I have updated the readme.md links too.

[2016-03-21 20:43] abpiskunov commented on #1973
That worked yes.

[2016-03-21 20:43] Sridhar-MS commented on #1961
Did you try https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe? Thats what is there on the readme.md file.

And I get this
[code]

[2016-03-21 20:53] #1958 closed

[2016-03-21 20:56] andschwa opened #1975 "dotnet-test-xunit incompatible with build 23921"
We're trying to upgrade our packages to NETStandard.Library 1.5.0-rc2-23921, and cannot move forward as `dotnet-test-xunit` is incompatible.

This [repo](https://github.com/andschwa/xunit-bug) has a simple repro.

After restoring and building,

[code]

dotnet/corefx#7038 tracks a similar compatibility issue.

@livarcocc and I can both reproduce this on Windows and Linux with various recent version

[2016-03-21 20:57] andschwa commented on #1975
Note that the same failure reproduces despite trying a build with dotnet/coreclr.xunit#15.

[2016-03-21 21:11] troydai commented on #1974
A script for prerequisite check. List the missing packages.

[2016-03-21 21:13] troydai commented on #1974
Is the prereq check executed? All the required packages check should happen together ahead of the build process. So user is interrupt once for all.

[2016-03-21 21:14] brthor commented on #1974
I think the answer for this is in the install scripts cc @krwq

Our build does a pre-req check but the issue is that the build itself needs some of the pre-reqs. The install script seems like the most obvious (and generally useful) place for this to happen.

[2016-03-21 21:16] kichalla opened #1976 "'dotnet restore --help' missing information about explicitly setting 'lock' ON"
## Steps to reproduce
I would like to lock the lock.json file that gets generated so that I can ship my project with lock.json file and share with others and they also get the same package versions that worked for me. While I see there is an entry in lock.json saying `"locked": false`, I do not see any command line way of setting the lock to `true`.

(**Unrelated**: the usage says `nuget3` instead

[2016-03-21 21:21] brthor opened #1977 "Dotnet run does not preserve colors in child processes"
@mattwarren in BenchmarkDotNet brought this to my attention

## Steps to reproduce

`dotnet new`

make Program.cs
[code]
`dotnet restore`
`dotnet run`

## Expected  behavior
Outputs gray text

## Actual behavior
![save](https://cloud.githubusercontent.com/assets/14280892/13934553/0cb14fd8-ef70-11e5-8f30-fb80b251521d.PNG)

## Environment data
`dotnet --version` output:

[code]

I'd expect this to b

[2016-03-21 21:31] moozzyk commented on #1797
Fixed with ca74a9b17756a284667e56dcc10959c6397b1624

[2016-03-21 21:31] #1797 closed

[2016-03-21 21:35] #1973 closed

[2016-03-21 21:36] brthor opened #1979 "Build downloading stage0 every time on ubuntu."
## Steps to reproduce
clone repo
`./build.sh`
`./build.sh`

## Expected  behavior
Downloads stage0 only the first time

## Actual behavior

Downloads both times.

## Environment data
`dotnet --version` output:

N/A, as of commit 1887

[2016-03-21 22:03] mikeharder opened #1981 "'dotnet run' without 'dotnet restore' prints "Object reference not set to an instance of an object.""
## Steps to reproduce
1. dotnet new
2. dotnet run

## Expected  behavior
Run project or display an error message that 'dotnet restore' must be executed before 'dotnet run'.

## Actual behavior
Prints "Object reference not set to an instance of an object."

## Environment data
`dotnet --version` output:
.NET Command Line Tools (1.0.0-beta-001718)

Product Information:
 Version:     1.0.0-beta-00171

[2016-03-21 22:24] anurse commented on #1977
We call `ForwardStdOut` on the command we launch. We shouldn't. It's basically that simple :). Then the colors should flow properly on Windows.

[2016-03-21 22:36] Sridhar-MS commented on #1979
I fixed the commit issue #1971

[2016-03-21 22:37] brthor commented on #1979
Is the commit issue related?

[2016-03-21 22:38] Sridhar-MS commented on #1979
Nope.

[2016-03-21 22:42] Sridhar-MS commented on #1979
The `.version` file location has moved to `<install root>/sdk/<nugetversion>/.version` from  `<install root>/.version`.

Relevant code
https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/obtain/install.sh#L146

cc: @krwq

[2016-03-21 22:51] krwq commented on #1979
there is no way of reliably checking versions right now since there is more than one versioned folder inside zip. I will fix it once this story is figured out

[2016-03-21 23:40] natemcmaster commented on #1905
Also blocking Microsoft.Data.Sqlite: https://github.com/aspnet/Microsoft.Data.Sqlite/issues/241

[2016-03-21 23:41] livarcocc commented on #1975
This is happening when reading the JObject in the DependencyContext. I already tried adding System.Collections to the project.json of the runner but no success. I am not sure how to proceed in the investigation of this issue.

@ericstj @pakrym Is this something that you guys can help me with?

Project dotnet-test-xunit (.NETStandardApp,Version=v1.5) was previously compiled. Skipping compilation.
U

[2016-03-21 23:51] kwaclaw commented on #1961
Just tried. Version badge ending in 1897, commit count is 1897, downloaded file at version 1897.
Still one inconsistency: The windows builds are in "failed" status (have been for a quite few days).

[2016-03-21 23:54] Sridhar-MS commented on #1961
We have been switching over to a different build definition internally. I am fixing it now.

[2016-03-22 00:30] schellap commented on #1905
@pakrym this is fixed now, right? @natemcmaster did you see this error message in the latest CLI?

[2016-03-22 02:19] troydai commented on #1955
Fixed in build `1.0.0.001897`

[2016-03-22 02:19] #1955 closed

[2016-03-22 02:20] troydai commented on #1963
Fixed in build `1.0.0.001897`

[2016-03-22 02:20] #1963 closed

[2016-03-22 03:26] AustinWinstanley commented on #1919
Same problem. Looks like different error. No previous install, although DNX-1.0.0-rc1-update1 is installed. Tried running as administrator. Same issue.

- Windows 10 Pro Insider Preview
- Build 14291.rs1_release.160314-2254

[2016-03-22 03:32] eerhardt commented on #1964
This repros on all platforms, Unix and Windows. The issue is we moved the .version file and the build scripts can no longer find it.

[2016-03-22 03:34] eerhardt commented on #1964
I think instead of having the scripts rely on the .version file, we should have `dotnet --version` return just the simple version number with no extra formatting.  And then the scripts can just call dotnet --version to get the version number. However it is implemented under the covers is no business of the scripts.

[2016-03-22 03:34] DamianEdwards commented on #1858
**ping**

[2016-03-22 03:37] DamianEdwards commented on #1758
The current proposal is to replace `content` with new properties under `compilationOptions` and `publishingOptions` to allow explicit control of this. For ASP.NET Core applications, copying content to the output folder for every build is a) too slow, and b) breaks many of our "edit a file and refresh the browser" workflows, e.g. views (which are dynamically compiled by the application) and static

[2016-03-22 03:55] DamianEdwards opened #1985 "dotnet run buffers piped output from child process when using Console.Write()"
Piping output was mentioned in #134 and marked as complete but the current implementation has issues. I wonder why we're piping at all and not just letting the child process take over the launching process' output.
## Steps to reproduce

Create a console app with the following and run it using `dotnet run`:

[code]
## Expected  behavior

You see "Type: " printed then as you type chars they appear

[2016-03-22 04:33] troydai commented on #1821
@piotrpMSFT @anurse went through this issue as well as the codes again, I don't think we should fix this. It's beneficial to be case sensitive for cross-platform. It is also hard to determine if a given file system is case sensitive or not. CoreFx doesn't provide this API yet.

I'll close this issue now.

[2016-03-22 04:33] #1821 closed

[2016-03-22 04:39] davidfowl commented on #1967
Why do you need this?

[2016-03-22 05:28] mylibero commented on #1728
@Sridhar-MS This issue may be closed now. https://github.com/dotnet/cli/pull/1747 has been merged.

[2016-03-22 05:38] sharpoverride commented on #1433
I could repro this on
$ dotnet --version
.NET Command Line Tools (1.0.0-beta-001598)

Product Information:
 Version:     1.0.0-beta-001598
 Commit Sha:  7582649f88

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 Runtime Id:  win10-x64

(Re)Installing VC++ Redistributable 2015 fixed the issue.

[2016-03-22 06:58] #1728 closed

[2016-03-22 07:01] RobTheX commented on #1518
Hello,

I am new at .NET Core and facing a similar problem when trying to restore my first test project.
I am behind a proxy, however, it seems that some packages can be downloaded successfully, some not (see listing extract below).

I also use Windows 7 64bit, so I guess that is the same bug as described above, isn't it?

If I try to run the project after restoring in spite of the error messages,

[2016-03-22 08:02] RobTheX commented on #1518
... ok, I found the solution for my problem:
I removed/commented the "clear" statement in the "NuGet.Config" file in my project directory (see screenshot). Then restoring worked (I still had some "Not Found .." messages though) and I could also run the project.

![capture](https://cloud.githubusercontent.com/assets/18000290/13945276/4a55a018-f00c-11e5-9d51-9e496bf476a5.png)

[2016-03-22 10:01] mmalolepszy opened #1988 "[Ubuntu][netstandardapp1.5] Compiled executable not starting app when there is a dot in folder name"
## Steps to reproduce

1. `mkdir with.dot && cd with.dot`
2. `dotnet new`
3. Edit `project.json` to target `netstandardapp1.5`
4. `dotnet restore`
5. `dotnet build`
6. `./bin/Debug/netstandardapp1.5/ubuntu.14.04-x64/with.dot`

## Expected  behavior

[code]

## Actual behavior

[code]

## Environment data
`dotnet --version` output:

[code]

## Additional info

- Running `./bin/Debug/netstandardapp1

[2016-03-22 10:24] enricosada commented on #1967
With a single file it's easier to see the base values and specific configuration overrides. I like project.json it's self contained

Using multiple files add complexity, and using `project.<configuration>.json` doesnt help to share configuration options with multiple project.json in same repository.
i think global.json can help to share some options, but it's a tradeoff about make it easier to rea

[2016-03-22 10:40] enricosada commented on #1970
i add myself with ( for notifications :smile: )

- `dotnet-fssrgen` ( working, ref https://github.com/fsprojects/FsSrGen )
- `dotnet-fslexyacc` ( WIP,  ref https://github.com/fsprojects/FsLexYacc )

after #1823 also `dotnet-compile-fsc`

[2016-03-22 11:28] abpiskunov commented on #1780
Closing - I tried latest dev installer and this error is gone, so assume it was fixed.

[2016-03-22 11:28] #1780 closed

[2016-03-22 12:03] onovotny commented on #1967
Initially I was thinking it'd be a place that covers almost every element in the project.json, going beyond what the configurations node does. It'd be a way to override/replace existing values. Based on a file naming convention, the file could also be generated and not checked in to source control.

A few scenarios come to mind:

  - programmatically setting a version number in a pre-build step. I

[2016-03-22 13:01] mmalolepszy commented on #1748
I confirm this problem still exists on 1.0.0-beta-001933.

[2016-03-22 14:23] chenbojian commented on #1919
same error!

[1474:0964][2016-03-22T22:17:16]i000: Initializing string variable 'BuildType' to value 'Release'
[1474:0964][2016-03-22T22:17:16]i000: Initializing string variable 'DisplayVersion' to value '1.0.0.001598'
[1474:0964][2016-03-22T22:17:16]i000: Initializing string variable 'ReleaseSuffix' to value ''
[1474:0964][2016-03-22T22:17:16]i000: Initializing string variable 'DOTNETHOME' to val

[2016-03-22 14:47] taginn commented on #1919
Similar problem.

1. Tried to install latest .NET CLI 1.0.0.001598
2. Found out it did not un-install the previous dev install.
3. Uninstalled both.
4. Tried to re-install and received error 0x80070001 - Incorrect function.

log contents:
[1A70:1BE4][2016-03-22T09:36:56]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: C:\Users\tginn\AppData\Local\Temp\{3F782675-FAFE-4D98

[2016-03-22 15:48] muratg commented on #1970
@moozzyk When you look into `dotnet-publish-iis` changes, could you also take care of the other tools?

Full list is here:
[code]

[2016-03-22 16:06] natemcmaster commented on #1905
@schellap just reproed in this version:
[code]

[2016-03-22 16:07] BillHiebert commented on #1602
I can still repro this with 1.0.0-beta-001888

Error		An item with the same key has already been added. Key: System.Runtime	ConsoleApp1

[2016-03-22 16:08] moozzyk commented on #1970
Yes, I will.

[2016-03-22 16:09] natemcmaster commented on #1876
Thanks for clarifying. We worked around this by using `ProjectContext.GetOutputPaths()` and setting an environment variable. https://github.com/aspnet/EntityFramework/pull/4873. Closing now.

[2016-03-22 16:09] #1876 closed

[2016-03-22 16:21] schellap commented on #1905
Can I ssh or can you gzip your app?

[2016-03-22 16:24] natemcmaster commented on #1905
@schellap
[sqlite3.zip](https://github.com/dotnet/cli/files/184495/sqlite3.zip)

[2016-03-22 16:26] schellap commented on #1905
Is this the exact error message, could you double check? Because this code got removed from deps_format.cpp.

https://github.com/dotnet/cli/blob/rel/1.0.0/src/corehost/cli/deps_format.cpp

[2016-03-22 16:28] natemcmaster commented on #1905
@schellap maybe this change isn't in the build I'm using?
[code]

[2016-03-22 16:29] natemcmaster commented on #1905
Just saw a new build came out a few minutes ago. Still getting the exact same error.
[code]

[2016-03-22 17:06] anurse opened #1992 "Stop generating `.deps` CSV file"
Now that `corehost` is updated to support `.deps.json`, we should remove the code that generates the `.deps` CSV file.

[2016-03-22 17:06] Peter-Schneider commented on #1977
@anurse I think #1985 is also related to `ForwardStdOut`...

[2016-03-22 17:08] troydai commented on #1602
This is a different issue. The issue reported originally by @abpiskunov is specific to desktop CLR and limited to one of the four assemblies: `mscorlib`, `System`, `System.Core`, and `Microsoft.CSharp`. In this case the `System.Runtime` is a different case. @BillHiebert  can you provide the project file as well as lock file for the repo in a new issue?

[2016-03-22 17:09] Sridhar-MS commented on #1919
Taking a look at this...

[2016-03-22 17:10] troydai opened #1993 "Project Model Server Error An item with the same key has already been added. Key: System.Runtime ConsoleApp1"
__@BillHiebert, please fill in the description.__

Moved from #1602 (The description is by the end of the comments)

[2016-03-22 17:11] troydai commented on #1993
@BillHiebert I'll assign this issue to you for now. Please assign it back to me when we have the details.

[2016-03-22 17:11] #1602 closed

[2016-03-22 17:20] Sridhar-MS commented on #1919
We had to manually sign this particular version. Unfortunately that was not done correctly. The bundle was signed but the burn engine was not.

Correct signing steps:
- Extract burn engine from bundle.
- Sign the burn engine.
- Reattach the burn engine to bundle.
- Sign the bundle.

I am following it up to make sure it is correctly signed.

Reference: http://www.daves-blog.net/post/2014/08/29/Sign

[2016-03-22 17:22] Sridhar-MS commented on #1919
We already do this in our automated signing process.

https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/dotnet-cli-build/MsiTargets.cs#L165-L183

[2016-03-22 17:30] enricosada commented on #1970
`dotnet-test-xunit` @piotrpMSFT @livarcocc

because it's nice to see examples of tools :smile:

[2016-03-22 17:33] bricelam commented on #1970
BTW, ASP.NET will need CoreCLR build `23910` or newer for this to work.

[2016-03-22 17:44] brthor commented on #1970
`dotnet-test-xunit` is a special class of tools which merge with the package graph of the project under test.

These types of tools (which are listed in the dependencies section rather than tools) should not need any changes.

@piotrpMSFT @livarcocc

[2016-03-22 17:50] brthor commented on #738
I am seeing this pretty heavily in docker in our build scripts which do not use the StreamForwarder.

Unlikely that is the root cause.

[2016-03-22 18:10] Sridhar-MS commented on #1919
As a temporary measure I have uploaded a unsigned build @ https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0.001598/dotnet-win-x64.1.0.0.001598.exe

This works and I will try to get a signed bundle meanwhile.

[2016-03-22 18:48] DamianEdwards opened #1994 "Failure during dotnet restore isn't obvious enough, leading to usability issues"
If failures occur during `dotnet restore`, a lock file is still produced and the last messages printed to the console are success messages about the packages that did install correctly. This can lead to it looking like the restore worked just fine, even though the project is in a broken state, leading to compile errors when `dotnet build` or `dotnet run` is executed immediately afterward.

Example

[2016-03-22 19:05] anurse commented on #1821
I don't even know if it could provide that API :). It's file-system-dependent, not OS-dependent. Even on Linux you can have a case-insensitive file system (and on Mac you can have a case-sensitive FS). Short of having an API to get the File System type and a big giant table of "Is this FS case-sensitive", I think we have to assume we'll always be in an environment of unknown case-sensitivity :)

[2016-03-22 19:11] akoeplinger commented on #1821
@anurse not necessarily. You could imagine an API where you pass in a path and it returns whether the file system on that path is case sensitive or not :)

[2016-03-22 19:12] anurse commented on #1992
/cc @piotrpMSFT @pakrym @davidfowl @schellap

[2016-03-22 19:22] joshcomley commented on #1181
In case anybody needs it, I bodged a console app to use the latest sources to generate migrations anyway. Details here:

http://overengineer.net/generating-new-entity-framework-migrations-when-dotnet-ef-is-broken

[2016-03-22 19:30] AbhitejJohn opened #1995 "Code Coverage does not work even after adding the code coverage nuget."
## Steps to reproduce

The attached project has a simple xunit test. There are two ways to repro this:

The more easier way of reproing this is : From a developer command prompt run vstest.console.exe project.json /useVsixExtensions:true /enableCodeCoverage

For the VS IDE repro you can use this:
1. Open it in VS.
2. Open Test Explorer.(Test -> Windows -> Test Explorer)
3. Build the solution to tr

[2016-03-22 20:01] PinpointTownes commented on #1993
@troydai FYI, I'm seeing a similar thing when adding `"System.Runtime": { "type": "build" }` under frameworks/net451/frameworkAssemblies.

[2016-03-22 20:08] schellap commented on #1905
Which dotnet is on your path?
Can you invoke it directly with absolute path and see if this reproes?

If it still reproes, I need this file:

[code]

The error message in the linked bug is slightly different, this means the host is not able to find a rid fallback graph for its own starting rid.

[2016-03-22 20:17] natemcmaster commented on #1905
I've been installing dotnet into `$HOME/.dotnet`

[code]
And yes, with absolute path invocation, this still reproduces.
[code]

[code]
Here is the deps.json file: https://gist.github.com/natemcmaster/792c658fa25f00306923

[2016-03-22 21:10] jeffschwMSFT opened #1997 "Help text is missing test as a command"
This is simple issue, the help for dotnet-cli missed test as one of the built-in commands.

[2016-03-22 21:25] anurse opened #1998 "Remove DependencyModel RuntimeLibrary hacks for xunit"
#1932 will introduce some small hacks to DependencyModel in order to allow coreclr.xunit to run. Once that's in, fix xunit and remove the hacks

[2016-03-22 21:47] schellap commented on #1905
Okay I have figured out the issue:

`dotnet` run is not using the `dotnet` muxer. It is using `corehost` and hence there is no rid fallback present and corehost failing to do a rid fallback.

[code]

I worked around by doing this:
`../../dotnet /Users/clrteam/Desktop/schellap/cli/temp/sqlite/sqlite3/bin/Debug/netstandard1.5/sqlite3.dll`

@pakrym could you PTAL or assign it to the right person.

[2016-03-22 22:03] schellap commented on #1905
@piotrpMSFT please redirect...

[2016-03-22 22:05] brthor commented on #1905
https://github.com/dotnet/cli/pull/1851

[2016-03-22 22:23] jchannon opened #2000 "What templates will ship with dotnet new"
When the cli tools hit RTM what are the proposed templates for dotnet new command? Will it be just a console app or MS web framework templates or will there be OSS ones too?

[2016-03-22 22:55] andschwa commented on #1975
It is compatible with Build 23922.

[2016-03-22 23:05] troydai commented on #1993
Thanks @pinpointTownes. You see that in VS or during command line `dotnet build` or `dotnet restore`?

[2016-03-22 23:10] paulowens commented on #1433
I could repro this on a fresh machine:

.NET Command Line Tools (1.0.0-beta-001598)

Product Information:
 Version:     1.0.0-beta-001598
 Commit Sha:  7582649f88

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10240
 OS Platform: Windows
 Runtime Id:  win10-x64

VS not installed

[2016-03-22 23:12] troydai commented on #1668
@BillHiebert I'm going to close this one. Please reopen if you're able to repo.

[2016-03-22 23:12] #1668 closed

[2016-03-22 23:12] PinpointTownes commented on #1993
During `dotnet build` (`dotnet restore` works fine):

![image](https://cloud.githubusercontent.com/assets/6998306/13970841/b093ff62-f08b-11e5-9d24-7c8054e2e2b0.png)

If I specify an explicit version, it works fine:

[code]

[2016-03-22 23:15] anurse commented on #1935
Also, it looks like on Windows, a missing deps file is causing a crash:

[code]

![image](https://cloud.githubusercontent.com/assets/7574/13970921/486e1d60-f049-11e5-9596-f45fd457f85d.png)

[2016-03-22 23:32] troydai commented on #1993
@PinpointTownes thank you. the repo is very helpful. I'll look into this.

[2016-03-22 23:38] PinpointTownes commented on #1993
I've finally managed to find how to make both DNX and CLI happy: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/pull/224/files

DNX requires the `frameworkAssemblies` references and CLI crashes if I don't add the `System.Runtime`/`System.ComponentModel`/`System.IO` packages in the global dependencies:

[code]

[2016-03-22 23:51] troydai commented on #1993
@PinpointTownes I have a broader question here. If you only need to support _CLI_ would it make easier to right the `project.json`?

[2016-03-23 00:00] krwq opened #2001 "sdk/<Version> is Nuget version instead of cli version"
Currently when extracting dotnet-dev zip I'm seeing following folder:
[code]

instead of:
[code]

I believe sdk is referring to a cli version.

[2016-03-23 00:02] brthor commented on #2001
cc @Sridhar-MS What is this supposed to be?

for the deb packages the version is the same format: `1.0.0-beta-001937` is this right?

[2016-03-23 00:05] PinpointTownes commented on #1993
Assuming you want to know whether CLI works fine when removing the ugly DNX/CLI hacks, then the answer is no.

If I remove **all the workarounds**, running `dotnet restore` with the [`Mvc.Server` sample](https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/tree/vNext/samples/Mvc/Mvc.Server) fails with this message:

![image](https://cloud.githubusercontent.com/assets/6998306/1397

[2016-03-23 00:28] mikes-gh commented on #1966
I confirm win 7 x64

[2016-03-23 01:09] #1606 closed

[2016-03-23 01:23] brthor opened #2002 "Clean up PublishTargets"
Filing this to track cleaning up/factoring some code merged as a part of #1890

[2016-03-23 01:46] manu-silicon commented on #822
This is still a blocking issue for cross platform development.

[2016-03-23 02:30] Raviuppa opened #2004 "dotnet execution fails with "invalid .deps" file error due to permissions issue in the tarball"
## Steps to reproduce

1. Download the latest RHEL CLI tarball from https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/Latest/dotnet-dev-rhel-x64.latest.tar.gz

2. Unpack the file into **/opt/dotnet ** with sudo privilege.
3. Set below environment settings to execute .NET Core

     export DOTNET_HOME=/opt/dotnet
     PATH=$PATH:/opt/dotnet
4. execute below

     dotnet --version

## Exp

[2016-03-23 02:31] Raviuppa commented on #2004
@ellismg can you look into this?

[2016-03-23 03:52] ellismg commented on #1926
This is fixed now.  Thanks @schellap !

[2016-03-23 03:52] #1926 closed

[2016-03-23 04:09] robmen commented on #1919
We (wixtoolset) really need to fix the log message there.

[2016-03-23 06:01] AustinWinstanley commented on #1919
This install worked. Thanks!

[2016-03-23 08:36] branciat commented on #1832
I find an assembly System.Security.Cryptography.Native.so into the directory bin of corefx master zip  project that passed on debian.

[2016-03-23 08:36] #1832 closed

[2016-03-23 10:30] igilham opened #2005 "OSX package does not modify path or tell the user where files installed to"
After installing the package linked from the website on OS X, `dotnet` is not on my PATH and there is no obvious location where it is installed. The CLI installer documentation says the PATH should be modified by the package.

## Steps to reproduce

Install the PKG on Mac OS X.

## Expected  behavior

`dotnet` CLI tool should be added to the PATH, or the user should be informed about where the too

[2016-03-23 13:33] tbolon opened #2006 "dotnet run does not support special characters in args"
## Steps to reproduce
- run `dotnet run`
- edit `Program.cs`

[code]
- run `dotnet run Wôrld`
## Expected  behavior

Output:

[code]

file log.txt (utf-8):

[code]
## Actual behavior

Output:

[code]

file log.txt (utf-8):

[code]
## Environment data

`dotnet --version` output:

[code]

[2016-03-23 13:46] vavans commented on #1433
I ran into the same issue and installed: [Visual C++ Redistributable for Visual Studio 2015](https://www.microsoft.com/en-hk/download/details.aspx?id=48145).
It solved it.

[2016-03-23 15:09] MichaelSimons opened #2007 "Ubuntu Latest links are not getting updated with recent builds"
The installer links on the [Readme](https://github.com/dotnet/cli/blob/rel/1.0.0/README.md) for Ubuntu are out of date.  The readme indicates the current version is 1.0.0.001971 yet the installers are for 1.0.0.001793.

https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-ubuntu-x64.latest.deb
https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/Latest/dotnet-dev-ub

[2016-03-23 15:16] MichaelSimons commented on #2007
@brthor, @naamunds - this is affecting the dotnet-preview docker builds.  New builds are getting triggered in Docker Hub from the dotnet CI builds but they are all pointing to the same version - 1793.

[2016-03-23 16:05] schellap opened #2008 "Produce better error message when hostpolicy not found"
See https://github.com/dotnet/cli/pull/1990

[2016-03-23 16:21] tmat commented on #1433
Installing C++ Redist shouldn't be necessary. The binary we are loading is distributed with dotnet cli. Perhaps there is an issue in load path and CoreCLR loads it from some other path first.

[2016-03-23 16:34] tmat commented on #1433
Just installed 64bit dotnet cli for WIndows. It's missing Microsoft.DiaSymReader.Native.amd64.dll

[2016-03-23 17:14] Eilon commented on #1858
@piotrpMSFT @Petermarcu any status update on this?

[2016-03-23 17:49] davidfowl commented on #1966
/cc @SidharthNabar @piotrpMSFT

[2016-03-23 18:10] troydai commented on #1993
@PinpointTownes this is expected. The `System.Runtime/4.0.20` is pulled in by one of the dependencies, however it directly conflict with `Microsoft.NETCore.Platforms` since it is an old package without `RID` defined in it. When you List `System.Runtime 4.1.0-*` in the dependencies, it overrides the `4.0.20` and pulled in the new defined package (which is compatible with the tfm we're using today).

[2016-03-23 18:11] troydai commented on #1993
Ping @BillHiebert can you provide a repo?

[2016-03-23 18:11] mellinoe commented on #2005
We're only adding to the path for the cli SDK installer right now, we should either do it in both places or, perhaps better, just do it in the shared framework installer since that will (eventually) be a pre-requisite for the SDK installer.

See:
[SDK postinstall](https://github.com/dotnet/cli/blob/d5f118273b21a9ca70c9a2d0793be9c977f606a5/packaging/osx/clisdk/scripts/postinstall),
[Shared Framewor

[2016-03-23 18:12] joelverhagen opened #2009 "Project directories containing a dot cannot resolve coreclr path"
Project directories containing a dot cannot resolve coreclr path. A folder name without a dot (a.k.a. period, full stop) works just fine.

I used the `1.0.0-beta-001937` Windows x64 installer from the README:
https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe

This seems like a really basic problem, so perhaps it is a silly user issue :smile:.

## S

[2016-03-23 18:14] PinpointTownes commented on #1993
@troydai ahhhhh, fantastic. I'll give it a try ASAP, thanks! :smile:

[2016-03-23 18:21] jaredpar commented on #1433
@tmat when i tested this out that DLL was present.  Guess that's why it was working on my machine.  I'm not sure who owns deploying this binary.

[2016-03-23 18:38] tmat commented on #1433
@jaredpar The binary is in sdk directory but it is not in Microsoft.NETCore.App. I don't know what's the purpose of these two directories.

[2016-03-23 18:47] brthor commented on #2007
I'll take a look at this today

[2016-03-23 18:49] joshfree opened #2010 "Capitalization of build folders names in case sensitive OS's"
Moved from https://github.com/dotnet/corefx/issues/7173 on behalf of @dmportella

[2016-03-23 18:52] colemickens commented on #2009
I was experiencing this but was unaware that it was due to the period. This affects 1.0.1.001589-1 for Linux as well.

[2016-03-23 19:01] brthor commented on #1858
Significant changes to this were checked in as part of #1920

In the latest cli, tools are always resolved against the TfM netstandardapp1.5, in the future this will be netcoreapp1.5

[2016-03-23 19:08] krwq commented on #2001
Talked offline, version is correct

[2016-03-23 19:08] #2001 closed

[2016-03-23 19:37] PinpointTownes commented on #1993
@troydai I'm probably doing something wrong, but removing the explicit `System.*` references and replacing `Microsoft.NETCore.Platforms` by `NETStandard.Library` doesn't work :cry:

Here's the CI log: https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-openidconnect-server/build/1.0.0-beta5-647
And the updated project.json: https://github.com/PinpointTownes/AspNet.Security.OpenIdConnect

[2016-03-23 19:40] PinpointTownes commented on #1993
Could that be related to the fact `Microsoft.AspNetCore.Mvc.Dnx` explicitly references these packages at the global level?

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Dnx/project.json#L20-L22

[2016-03-23 19:42] brthor commented on #1858
I managed to repro this even with the latest bits, fix is in PR.

#2011

[2016-03-23 19:42] #2002 closed

[2016-03-23 19:43] brthor commented on #2009
fairly strange cc @schellap any ideas?

[2016-03-23 20:02] brthor commented on #2006
likely related #1604

[2016-03-23 20:18] natemcmaster opened #2012 "OS X treats Microsoft.NETCore.App as an application bundle"
Because the folder name ends in ".app", OS X treats this package as an [application bundle](https://en.wikipedia.org/wiki/Bundle_(OS_X)#OS_X_application_bundles). This doesn't really affect how dotnet-cli executes, but it's kind of quirky for anyone using Finder on OSX.

![image](https://cloud.githubusercontent.com/assets/2696087/13999402/6a9499ea-f0f9-11e5-99be-d0ffdf872fa8.png)

[2016-03-23 20:21] ellismg opened #2013 "Include crossgen in the shared framework."
@brianrob Would like us to include crossgen as part of the shared framework so that during profiling it's possible to generate symbols for NGEN and R2R images, which requires the matching version of crossgen.

[2016-03-23 20:22] ellismg commented on #2013
/cc @gkhanna79 @weshaggard @piotrpMSFT

I think there were some discussions going on about how folks could pick up the correct version of crossgen (since it's in the tools folder, correct?).  Could we just include it as part of the the runtime so any application that deployed (either via shared framework or published standalone) can have it?

[2016-03-23 20:34] brianrob commented on #2013
@ellismg, I think that's exactly what we should do.  Makes discovery super-simple, and ensures that crossgen is always available in all scenarios (both development and production).

[2016-03-23 20:41] troydai commented on #1993
Well just base on the name `Microsoft.AspNetCore.Mvc.Dnx` I won't be surprised if it cause when the project is built with `dotnet`. Will this break your application's functionality if you drop it?

[2016-03-23 20:47] PinpointTownes commented on #1993
Well yeah, because MVC won't be able to build the Razor views or locate the controllers if I don't use this compat' package when running on DNX. And since CLI no longer works on Windows 7 (https://github.com/dotnet/cli/issues/1966), I'm pretty much stuck :smile:

Luckily, the buggy references should be removed when the ASP.NET team migrates to the latest CLI builds, that include the NuGet fix.

[2016-03-23 20:51] schellap commented on #1940
@brthor, could you help me understand if this is blocked on the host packaging work?

[2016-03-23 20:59] troydai commented on #1993
Let's wait till ASP.NET's new packages.

Well, the issue we discussed so far has been different from the original subject :P.

@BillHiebert can you provide more details for the original issue?

[2016-03-23 21:04] tbolon commented on #2006
Yes, certainly

[2016-03-23 21:30] weshaggard commented on #2013
This is @gkhanna79 call since he owns the tool and the runtime package but I know there were some concerns from folks like @jkotas about always including crossgen by default. I'm not sure what the best option is here but it seems like it should be part of the SDK in someway.

[2016-03-23 21:34] gkhanna79 commented on #2013
We dont need crossgen deployed by default. For SharedFX, dont know the CoreCLR nuget package at composition time so as to extract crossgen from there to include as part of the REDIST package?

[2016-03-23 21:35] ellismg commented on #2013
Brian's concern is that without crossgen present when an app is deployed standalone, profiling it becomes impossible because we can't generate symbols for native images.  This would be a problem even if we add it to Shared Framework.

[2016-03-23 21:38] brianrob commented on #2013
Matt is right.  If there is a scenario where you deploy an app, we need crossgen there as well or we can't generate symbols for native images.

[2016-03-23 21:48] jkotas commented on #2013
I think that the symbols should be generated during the build and then copied to the target machine - if they are needed for profiling, etc.

It should be no different from how the unmanaged code works: You need to generate symbols during the build to get good symbols for unmanaged code, and then deploy them next to the app.

If we do something creative that is different from what one would do for

[2016-03-23 21:50] brianrob commented on #2013
That sounds like a good plan for images that we ship.  Are we supporting apps to be completely crossgen'd?  If so, we'd need a story for that too.

[2016-03-23 22:03] brianrob commented on #2013
To be clear, I like a plan that puts symbol generation in the build and simplifies what we have to do to collect performance data  - I just want to make sure that the full set of scenarios is covered.

[2016-03-23 22:12] gkhanna79 commented on #2013
I am not aware of this. But we should not built anything that wouldnt work if this gets enabled.

[2016-03-23 22:15] brianrob commented on #2013
I could see us doing this in a couple of different ways - one would be to ship crossgen, and another would be to have crossgen automatically produce the symbol files at image generation time, and then there's just a question of how they get packaged and made available.  You could imagine them being part of the nuget package.

[2016-03-23 22:27] piotrpMSFT commented on #1627
This is a dupe of #1907

[2016-03-23 22:27] #1627 closed

[2016-03-23 22:30] piotrpMSFT commented on #1586
chatted with @gkhanna79 and this is no longer needed.

[2016-03-23 22:30] #1586 closed

[2016-03-23 22:33] murali2020kris opened #2018 "Failed to initialize CoreCLR, HRESULT: 0x80131500"
## Steps to reproduce
1. Download https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/Latest/dotnet-dev-centos-x64.latest.tar.gz
2. Unpack tar file
3. Set DOTNET_HOME as unzipped folder. [usr/share/dotnet]
4. Change permission settings for unzipped folder dotnet
5. run dotnet -version

## Expected  behavior
Should give version number

## Actual behavior
Gives error message Failed to initi

[2016-03-23 22:35] piotrpMSFT commented on #1388
#1891 is fixing the branding [dotnet --> .NET and the logo change]. Please take a look and let me know if we need any other changes.

[2016-03-23 22:39] piotrpMSFT commented on #1388
@danroth27 the Windows Installer now reads:

`Microsoft .NET CLI for Windows ($(var.DisplayVersion) $(var.ReleaseSuffix))`

I think we should reserve the .NET Core branding for a package that does not include the SDK.

[2016-03-23 22:53] jeremymeng commented on #1800
see the workaround in https://github.com/dotnet/cli/issues/1001.

[2016-03-23 23:04] #2012 closed

[2016-03-23 23:15] singlewind commented on #716
The same issue here. Does dotnet run support website yet? How to specify which command to run in project.json when use dotnet command

[2016-03-24 00:40] andschwa commented on #1043
CoreFX has taken care of this.

[2016-03-24 00:40] #1043 closed

[2016-03-24 00:40] muratg opened #2020 ""Dependency" type of tools for EF and Razor tooling (and possibly others)"
In addition to regular "tools", we'll need an additional tool type for the tools that require to access the project. One example is EF tooling for migrations, which need to access DbContext of the given project.

EF and Razor tools from ASP.NET Core will be of this new type.  Publish-IIS, dotnet-watch etc. will be of the current type.

Here are the requirements/design proposal for this:
- Tools th

[2016-03-24 00:40] #1975 closed

[2016-03-24 00:41] muratg commented on #2020
@piotrpMSFT could you please triage? I believe this is tracked in the war room so filing this bug to track the work.

[2016-03-24 00:43] andschwa commented on #1839
@brthor We should re-open this, the feed is now stuck at 1.0.0.001793-1.

[2016-03-24 00:45] andschwa commented on #1839
Hm, this seems separate. That's the same version as the installer on the home page (i.e. what `wget https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-ubuntu-x64.latest.deb` gives you), but does not match the version reported on the home page (1.0.0.001973).

[2016-03-24 01:03] brthor commented on #1839
@andschwa testing the fixes now. Debs were temporarily disabled with the shared fx changes.

[2016-03-24 01:08] #1858 closed

[2016-03-24 01:46] ellismg commented on #2018
Have you installed dependent packages like icu and libunwind?

[2016-03-24 03:11] murali2020kris commented on #2018
@ellismg Thank you so much. icu was missing. It works now.

[2016-03-24 03:19] ellismg commented on #2018
Glad to hear it!

[2016-03-24 03:19] #2018 closed

[2016-03-24 04:11] qiansen1386 commented on #1679
I am creating a new Nuget package project using VS2015, and it warp the project with DNX for me. Then when I  try to install some basic NuGet packages, I get this.
![image](https://cloud.githubusercontent.com/assets/1759658/14008173/dbeb35a8-f1b8-11e5-9998-ef57575de405.png)

[code]
Who the hell is responsible for this? You guys? DNX? NuGet?
Why Microsoft always make things over complicated...

[2016-03-24 04:33] blackdwarf commented on #1679
@qiansen1386 I'm sorry, I don't follow. What has this got to do with the CLI?

[2016-03-24 04:40] #2007 closed

[2016-03-24 04:44] blackdwarf commented on #716
@singlewind you don't. You just use `dotnet run` in the context of your project.

[2016-03-24 05:33] qiansen1386 commented on #1679
@blackdwarf  I also don't know what is dotnet cli..... But I get the same error with @Cronan .
Google sent me here.

[2016-03-24 06:29] piotrpMSFT commented on #2020
@muratg The core of this feature already exists. The most important missing component is the ability to bypass dotnet.exe when calling a command in the desktop context. We'll get this done tomorrow.

The 2nd and 3rd main bullets are inconsistent with CLI patterns, something we want to avoid.

For TFM selection, this command resolution strategy already works but requires the TFM to be specified wit

[2016-03-24 08:51] schellap commented on #2009
This is a corehost bug. Thanks for reporting it. PR #2021 should address this.

[2016-03-24 09:09] davidfowl opened #2024 "Dependencies with type "build" should not be published"
Because they are only needed for build time :smile:

[2016-03-24 09:38] NicolaDipierro commented on #564
+1

Critical in RC enviroments

[2016-03-24 11:09] marono opened #2025 "Build for dnxcore50 entrypoint does not include dependent assembly in its output"
When building an app (entrypoint) for dnxcore50, dependent assemblies are not included in the output. This is different from building the same project for net451, which will copy all dependencies to the output directory.

Is this by design?
And if so, how do I run my code on a production machine, if I want to ship the binaries and not rebuild it there?

MO

[2016-03-24 11:47] mmalolepszy commented on #2009
@schellap Will this also address #1988?

[2016-03-24 14:45] dmportella commented on #2010
thank you! yes please!

[2016-03-24 15:07] blackdwarf commented on #1679
@qiansen1386 no need. However, it is a good point whether this needs to be in NuGet. @emgarten thoughts?

[2016-03-24 16:08] danroth27 commented on #1388
As long as it says .NET instead of dotnet in the branding than I am happy :smile:.

[2016-03-24 16:32] prafullbhosale opened #2026 "Could not resolve coreclr path when invoking a dotnet tool"
## Steps to reproduce
Create a web application
Add a tool like dotnet-ef / dotnet-aspnet-codegenerator
Invoke the tool
for eg:
[code]

## Expected  behavior
It shows the help text (or does whatever the tool is expected to do)

## Actual behavior
[code]

## Environment data
`dotnet --version` output:

[code]

`where dotnet` output:

[code]

Attached trace
[Full Trace for invoking tool.txt](https://

[2016-03-24 16:50] gkhanna79 opened #2027 "Add support for .devruntimeconfig.json"
This will be generated only during non-publish scenarios and contains absolutePath to a cache that host can use for resolving dependencies.

It contains the property "additionalProbingPaths" that are semicolon delimited.

CC @schellap @blackdwarf

[2016-03-24 16:51] gkhanna79 opened #2028 "Enable host support for .devruntimeconfig.json"
Host should consume the semi-colon delimited paths to support additional probing for non-publish scenarios.

https://github.com/dotnet/cli/issues/2027

CC @blackdwarf @piotrpMSFT

[2016-03-24 16:57] troydai commented on #1881
@BillHiebert is tracking this issue in TFS.

[2016-03-24 16:57] #1881 closed

[2016-03-24 17:04] schellap commented on #2027
Why do you need a change from a single path to multiple paths?

Why a devruntimeconfig? It seems we are reading too many files. I see you want it to be really explicit, but you can do this with a section in runtimeconfig itself with an explicit name. If a user moves build output to another machine, code may not run today and in both cases whether we have this section or not.

[2016-03-24 18:00] enricosada commented on #1961
@Sridhar-MS i can repro too

- badge version: 1977
- downloaded version:  1937

[2016-03-24 18:06] Sridhar-MS commented on #1961
@enricosada We are facing very slow upload speeds to azure blob. This is causing the links to be out of date. I am looking into it.

[2016-03-24 18:12] brthor commented on #716
Have a repro here, it would be super nice to get line number on non-windows. Debugging any large function is fun :smile:

Steps:
1. dotnet new
2. Set Program.CS as below
3. dotnet restore && dotnet run
4. see output below

**Program.cs**
[code]

**Output**
[code]

[2016-03-24 18:15] agocke commented on #716
Seems likely to be a coreclr or corefx (depending on who generates the stack trace) issue. Does the CoreCLR stack unwinder parse Portable PDBs? That's how you would get line numbers.

[2016-03-24 18:16] agocke commented on #716
/cc @stephentoub Do you know what piece of the runtime+fx is responsible for building stack trace objects and dumping on unhandled exceptions?

[2016-03-24 18:19] stephentoub commented on #716
That support doesn't exist yet.  And, IIRC, according to @jkotas that it produces file name / line numbers on Windows is essentially an accident based on it picking up full framework debugger components.

[2016-03-24 18:21] brthor commented on #2026
Hey @prafullbhosale could you share a project.json and NuGet.config ?

[2016-03-24 18:21] agocke commented on #716
@stephentoub Yeah, I guessed so. Do you or CoreCLR have an issue tracking this? If not, do you know which project I should file on?

[2016-03-24 18:23] stephentoub commented on #716
CoreCLR.  I'm not sure if there's an issue for it.  If you can't find one, just open one and then it can be closed as a dup if necessary.

[2016-03-24 18:27] agocke commented on #716
@stephentoub Thanks!

I'm closing this issue as a dup of https://github.com/dotnet/coreclr/issues/3906

[2016-03-24 18:27] #716 closed

[2016-03-24 18:27] prafullbhosale commented on #2026
I just created a new web project using the latest WTE build.

Nuget.config (global nuget.config. There isn't one for the project)
[code]

Project.json
[code]

[2016-03-24 18:33] enricosada commented on #2025
You can use `dotnet publish` to create a directory with all binaries ready to be copied on production machine.

[2016-03-24 18:40] brthor commented on #1979
@krwq this should now be possible as of #2022

http://dotnetcli.blob.core.windows.net/dotnet/beta/dnvm/latest.sharedfx.osx.x64.version

Would really speed up dev cycles with this in :smile:

[2016-03-24 18:49] brthor commented on #2026
Thanks!
Can you confirm these tools have been converted to Portable Apps as per #1970 ?

Regardless of that, I think there's an issue with the error message we're displaying.,

[2016-03-24 19:35] emgarten commented on #1679
@qiansen1386 that auth error is coming from DNU which did not support authenticated feeds. DNU has been replaced by NuGet.

[2016-03-24 19:36] emgarten commented on #1679
From the stack this looks like a nuget issue. I'm moving the bug to that repo.

https://github.com/NuGet/Home/issues/2393

[2016-03-24 19:36] #1679 closed

[2016-03-24 19:37] ciel commented on #1970
So does this mean that libraries that target `dnxcore50` will no longer work with the newest toolchain?

[2016-03-24 19:40] ciel commented on #1837
I am hoping they go with `.net cli` so it isn't confusing between standard and core.

[2016-03-24 19:41] ciel commented on #1139
I've been able to get Visual Studio to recognize the packages downloaded and give me intellisense back, and *sometimes* the NuGet *Restore Packages* command works - but in general I still have to do things from the command line - especially building and running.

[2016-03-24 19:54] piotrpMSFT commented on #2020
Chatted with @muratg offline. For the moment, we'll light up this scenario with basic -f scenario [tfm must be specified when invoking a tool that is a direct dependency of the project]. We'll look at improving UX as we learn more about usage patterns, etc.

@blackdwarf @brthor @livarcocc

[2016-03-24 20:09] brthor commented on #1970
@ciel This change is specific to project tools and doesn't affect libraries.
`dnxcore50` libraries should still work with an appropriate project.json

[2016-03-24 20:18] ciel commented on #1970
I'm a bit confused, then.

I was using **RavenDB** fine up until yesterday. It targets `dnxcore50`. I had my `asp.net mvc` app targeting `netstandardapp1.5` and things ran fine.

I installed the new CLI, and updated my app to `netstandard1.5`, downloaded the newest `asp.net mvc` builds - which worked fine on that - but when I tried to add `RavenDB` back in, it balked at me and said `could not loca

[2016-03-24 20:25] brthor commented on #1970
@ciel is RavenDB a project tool?

[2016-03-24 20:43] ciel commented on #1970
well nevermind. it must have been a bug in the specific version of the cli I was using. I tried it today with the latest build and it works.

[2016-03-24 20:45] andschwa commented on #490
@gkhanna79 Thanks for the information :smile: I'm trying to fix this whole mess the *right* way.

[2016-03-24 20:46] ciel commented on #1433
Also having this problem. Not sure what in the world this error even begins to mean.

[2016-03-24 20:50] blackdwarf commented on #2020
@piotrpMSFT so, these types of tools would be invoked like `dotnet ef scaffold -f net45` or similar?

[2016-03-24 20:52] piotrpMSFT commented on #2020
so you bring up a neat issue, @blackdwarf. Sadly, no. These tools would be invoked as:

`dotnet -f net45 -c Release -r win7-x64 -b C:\my\output\dir\ ef scaffold`

[2016-03-24 20:55] brthor commented on #1970
@ciel  :smile: glad it's working

[2016-03-24 21:00] ciel commented on #1970
oh yes, getting completely new errors now!

[2016-03-24 21:03] DamianEdwards commented on #2020
Yeah that's not going to work. It needs to be as simple as @blackdwarf's sample

[2016-03-24 21:04] brthor commented on #1970
please file issues :frowning:

[2016-03-24 21:06] piotrpMSFT commented on #2020
yea agreed :) we need to make some simplifying assumptions. I'll find time...

[2016-03-24 21:09] eerhardt commented on #1607
@ryanbrandenburg - the new "proper" version format is with the `-beta-` going forward.  New .version files have this format as well.

[2016-03-24 21:14] ciel opened #2037 ""Could not load host policy library" after updates"
When I try to run an application that includes the `Microsoft.NETCore.App` library, such as the one created by `dotnet new`, I get the error message...

## Steps to reproduce

- Install the latest `dot net cli` build (as of 3/24/2016 - 4:11 PM CST, it is version `1.0.0-beta-001986`)

- create a new folder anywhere
- open a command line in the new folder
- in the command line, run `dotnet new`
- in

[2016-03-24 21:24] troydai opened #2038 "dotnet.exe fail to execute in Azure Web Site"
## Steps to reproduce
Try to deploy MVC to Azure Web Sites through Kudu. Here's the sample app:
https://github.com/troydai/HelloMvcKudu/tree/0950beaa48027a47496bd3426935cf0716f7e9be

Here's the deployment script:
https://github.com/troydai/HelloMvcKudu/blob/0950beaa48027a47496bd3426935cf0716f7e9be/deploy.ps1

## Expected  behavior
The deployment script will execute the `dotnet.exe --version`. It i

[2016-03-24 21:24] troydai commented on #2038
/cc @davidfowl @pakrym @schellap

[2016-03-24 21:28] ciel commented on #2037
This also happens if you remove the `Microsoft.NETCore.App` completely. However, using it at the version that it pulls by default, which is listed as...

[code]

Yields a different error after the run begins;

`Unexpected error writing debug information -- 'Unable to cast COM object of type 'System.__ComObject' to interface type 'Microsoft.Cci.ISymUnmanagedWriter5'. This operation failed because t

[2016-03-24 21:32] troydai commented on #2038
/cc @muratg this will block partners

[2016-03-24 21:33] anurse opened #2039 "install scripts are no longer "incremental""
Previously, the install scripts used to check the latest version number and if it matched the version already installed, it exited successfully without downloading anything. Now it appears to wipe out and reinstall the existing version. We should reintroduce the ability to detect the version and no-op, since the download and unpacking of the ZIP is significantly slower and now happens on every inv

[2016-03-24 21:34] piotrpMSFT commented on #2038
@schellap, need your thoughts here

[2016-03-24 21:36] schellap commented on #2038
@troydai, can you try the latest CLI and see if it still reproes because I fixed a bug with path names with a dot in them. If it still reproes, I would like a remote VM or steps to repro locally on my box.

[2016-03-24 21:40] schellap commented on #2038
Tyring to repro. Taking a look...

[2016-03-24 21:44] troydai commented on #2038
@schellap the dotnet used here is 1.0.0-beta-1986, which is the latest (tried 30 seconds ago). I'm not able to repo this issue locally (Windows 10). This is a Azure Web Site on public cloud we only have limited access to the environment.

[2016-03-24 21:57] prafullbhosale commented on #2026
No its not, its importing dnxcore50 and portable-net45+win8.
Will try to get rid of these and see if it works with that.

[2016-03-24 22:06] schellap commented on #2038
I just tried `deploy.ps1` and was not able to repro it anymore, 1943 sounds old. This was during the hackathon days I believe and we have fixed several bugs since then.

[2016-03-24 22:18] troydai commented on #2038
@schellap it issue repos on 1986 build. It can't be repo locally as I tried on my own box.

[2016-03-24 22:18] blackdwarf commented on #2020
Yup, this needs to be better.

[2016-03-24 22:25] emgarten commented on #1657
Restore will fail now in NuGet when projects are incompatible.
NuGet/NuGet.Client@a06a5906ab294fee6e442cbedfb39cdeaeafff6a

Bumping up the TFM automatically seems dangerous, users typically set the project TFM for a specific reason such as being compatible with net45. Failing seems like the correct behavior here.

[2016-03-24 22:29] DanSeefeldt opened #2042 "dotnet cli not displaying opening square bracket plus two characters on Docker"
## Steps to reproduce
1. Create a Docker container using a preview container
2. type `dotnet --help`

## Expected  behavior
Help should be fully displayed.

Also, the same issue occurs if I write an app.

`Console.WriteLine("[Hello]");`

results in:

	ello]

## Actual behavior
Any text that contains square brackets is missing the leading square bracket and the following two letters.

Example:

[2016-03-24 22:35] MichaelSimons commented on #2042
I verified this repros with the latest bits (e.g. 1.0.0-beta-001988)

[2016-03-24 22:40] brthor commented on #2042
I have seen this frequently as well. Haven't had the time to investigate yet

In docker it can be pretty bad

[2016-03-24 23:06] anurse opened #2044 "`corehost` not resolving assemblies from immediate app-local directory in portable app"
While working on portablizing `dotnet`, we discovered that `corehost` does not place app-local assemblies in the TPA list for portable apps. It puts runtime-specific assets (the ones in the `runtimes` subfolder) on the list, but not ones directly adjacent to the app. This can result in Binding Model issues when the application tries to change the load context because an app-local non-TPA assembly

[2016-03-24 23:10] anurse commented on #2044
On a related note, `corehost` should also always ensure the entry-point assembly is on the TPA list. That was the main thing that bit us when we found it. But it was confusing because we though that app-local things always landed on the TPA list.

[2016-03-24 23:13] weshaggard commented on #1707
To close the door on this issue once AppContext.GetData has be added so any package update over the last week or so should have that API.

[2016-03-24 23:14] piotrpMSFT commented on #2020
Ok, chatted with @bricelam offline and we came up with a plan. In order to keep the user experience clean, we'll have commands that require project-specific execution to behave like dotnet-test + dotnet-test-xunit. This is a bit more work for tools implementers, but hides the complexity associated with commands that resolve with the project.

[2016-03-24 23:16] DamianEdwards commented on #2020
I don't quite understand what that means. Could you provide some more detail please?

[2016-03-24 23:31] joepeer opened #2045 "dotnet publish does not behave as described in the doc"
## Steps to reproduce
Install latest dotnet cli on windows

## Expected  behavior
c:\helloworld\dotnet new
dotnet restore
dotnet publish
under c:\helloworld\bin\Debug\netstandard1.5\publish
I should find a helloworld.exe (native binary) with all required dependencies.
I should then be able to copy the entire folder and deploy on a different windows machine with no shared framework installed.

## A

[2016-03-24 23:36] piotrpMSFT commented on #2020
EF will provide a tool called dotnet-ef which is referenced in the 'tools' section. There will also be a TFM specific package which is referenced in the dependencies section. The `tools` tool will follow usual invocation conventions `dotnet ef` which includes redirection like `dotnet ef -c Release -...`.

With this approach, the user follows a consistent calling convention for tools. For example:

[2016-03-25 00:04] colemickens opened #2047 "Package names in apt-mo look wrong"
This is using https://apt-mo.trafficmanager.net/repos/dotnet

[code]

Looks like the version string got put in the package name string...

* dotnet-dev-1.0.0-rc2-23911

* dotnet-sharedframework-microsoft.netcore.app-1.0.0-rc2-23911

[2016-03-25 00:06] colemickens commented on #2047
For context: I'm trying to emulate [this PR on dotnet-docker-preview](https://github.com/dotnet/dotnet-docker-preview/pull/7) because I prefer to pull from apt (mostly because I can pin a specific version rather than dotnet-docker-preview where I don't really know what build I'm getting). But I ran into this...

[2016-03-25 00:06] muratg commented on #2020
What will be the package that's referenced in the dependencies section?

So with this, let's say I have both netcoreapp1.0 and net451 in my app. I and I have the ef tool in tools.

When I say dotnet ef, which version will be executed?  (I assume netcoreapp1.0 version... If that's the case, do I still need to provide -c -f -r -o to execute the net451 version?)

(Also, I assume you meant net451 inst

[2016-03-25 00:06] colemickens commented on #2047
CC: @brthor (I think, sorry for the noise if not)

[2016-03-25 00:08] piotrpMSFT commented on #2020
`dotnet ef` executes teh 'tools' section version. This one acts like dotnet-test.

The tools section version decides what's next, really. By default, it can copy dotnet-test in its logic. However, we can figure out a more interesting EF-specific policy.

If we want to share logic with dotnet-test, that has already been split into utils.

[2016-03-25 00:08] brthor commented on #2047
#2043 Is fixing some of the deb versions inconsistencies (the wrong version is actually in that name), but the version being part of the name is part of the new side by side strategy

The older dotnet-dev, dotnet-nightly, and dotnet packages will all be cleaned up from the feed soon.

(cc @blackdwarf  @piotrpMSFT )

[2016-03-25 00:09] piotrpMSFT commented on #2020
You will need to provide -c -f -r -o just like it was provided to build. Otherwise, we have no way of finding the TFM-specific output directory --> TFM specific tool.

[2016-03-25 00:17] DamianEdwards commented on #2020
So basically it's up to the tool to handle the dispatching logic, yes? But the CLI will still support dispatching to CLI-based tools in "dependencies", or are we removing that completely to make this more clear-cut?

I'd like to see some sample `project.json` files here with what this would look like for a typical ASP.NET Core application, with EF and Razor tools. Is there any reason we can't have

[2016-03-25 00:18] muratg commented on #2020
OK thanks. So this proposal saves us from providing the parameters when you run against netcoreapp1.0, right?

[2016-03-25 00:23] #2004 closed

[2016-03-25 01:41] schellap commented on #2044
I thought we are resolving against package relative paths in app local case?

[2016-03-25 02:08] schellap opened #2050 "Need breadcrumb store ACL'ed by installer"
@mellinoe @ellismg

On Unix and Mac OS, need known paths that will be ACL'ed for

1. Host breadcrumbs
2. Servicing location.

On Windows it is:
C:\ProgramData\Microsoft\NetFramework\BreadcrumbStore

The host's fallback order:
1. `/opt/dotnet_servicing/breadcrumbs` (this needs to be ACL'ed user writable)
2. `$DOTNET_SERVICING/breadcrumbs`
3. `$HOME/.dotnet_servicing/breadcrumbs`

[2016-03-25 02:15] #1607 closed

[2016-03-25 02:18] eerhardt commented on #1882
Closing with #2035

@gregg-miskelly - there are 2 breaking changes here you will need to react to.

1. Instead of `--version` you will need to call `--info`
2. Instead of searching for `Runtime Id:`, parse it for `RID:`

This will be the stable way of getting the runtime id going forward.  (Even when we localize, we won't localize "RID" in the output.)

[2016-03-25 02:18] #1882 closed

[2016-03-25 03:06] schellap commented on #2050
The setup should create the folder if they don't exist and ACL them to be user-write-once on windows and on Unix make it user write.

[2016-03-25 03:41] anurse commented on #2044
Yeah, that's only for runtime-specific assets. In general, all application modes should put app-local binaries on the TPA list (to prevent locking the binding model). It's just that for runtime-specific assets in portable apps, we need to have a way to structure the binaries so we use relative paths.

[2016-03-25 04:09] krwq commented on #2039
Did this https://github.com/dotnet/cli/pull/2041 solve it?

[2016-03-25 04:15] krwq commented on #1964
This should've solved it https://github.com/dotnet/cli/pull/2041

[2016-03-25 04:17] #2039 closed

[2016-03-25 04:17] krwq commented on #1979
Should be solved with https://github.com/dotnet/cli/pull/2041

[2016-03-25 04:17] #1979 closed

[2016-03-25 04:17] #1964 closed

[2016-03-25 04:20] ellismg commented on #2050
Can we change the order to prove $DOTNET_SERVICING location before the others?

[2016-03-25 05:15] bricelam commented on #2020
My ideal `project.json` for EF would look like this:
[code]

[2016-03-25 05:21] DamianEdwards commented on #2020
What is `"type": "design"`? Does NuGet already understand that? Do you mean `"type": "build"`?

[2016-03-25 05:56] bricelam commented on #2020
I made up `design`. I think `build` might work. The lines between build, publish, pack, and deploy are blurry in my mind. I'll play with it and see.

[2016-03-25 06:05] DamianEdwards commented on #2020
Any new value there requires changes to NuGet so the bar is extremely high there. The design we came up with for this already used "build" so I think that should be fine, as long the CLI ensures dependencies marked as "build" are copied to the build output but not the publish output.

[2016-03-25 06:06] DamianEdwards commented on #2020
And you made up at least one of those verbs :)

[2016-03-25 06:20] DamianEdwards commented on #2020
Based on my current understanding, and fleshing it out a bit more, it will end up looking like this:

[code]

[2016-03-25 06:28] blackdwarf opened #2052 "Reimagine dotnet-new (dotnet new enhanchements 2)"
As it currently stands, `dotnet new` is a good command for people to get started with simple projects. However, it suffers from several things:
- Templates are coupled with the implementation, thus requiring a new release of the CLI when adding/changing templates
- Extending templates is tough
- No support for naming projects via the command line

This issue suggests a new form of `dotnet new` tha

[2016-03-25 06:28] blackdwarf commented on #655
Closing this one in favor of the proposal in #2052.

[2016-03-25 06:28] #655 closed

[2016-03-25 06:29] DamianEdwards commented on #2052
There is a functional prototype at https://github.com/DamianEdwards/dotnet-new2

[2016-03-25 06:56] Eilon commented on #2052
@ajaybhargavb this is for you.

[2016-03-25 07:00] blackdwarf commented on #1721
@dlech @luisgarciaalanis even though Elementary OS is something that is based off of Ubuntu, as @dlech found out, we need to have a RID for it. Since we don't, we cannot restore. This has nothing to do with the version of the CLI toolset. This is how packages on NuGet work.

What would be good is for us to figure out how to help get these distros in, that is, what would be a good and sustainable p

[2016-03-25 07:55] muratg commented on #2020
@DamianEdwards wouldn't the `dependencies` references have `.tools` in their package names as well?

[2016-03-25 08:37] davidfowl commented on #2020
So how did this fix anything? Are we just generally going to stop dispatching from dependencies and instead just use the tools section? I don't understand.

[2016-03-25 10:57] enricosada commented on #2052
nice having a way for templates outside instead of embedded resources :+1:

I'd like to add the feedback from old thread #655:

Make the common use case short using positional arguments (in addition to named arg)

the most common use case: `dotnet new name type` ( about --lang, see next comment )

so these are equivalent:

- `dotnet new hello_world console`
- `dotnet new --name hello_world --type

[2016-03-25 12:33] miguellira commented on #2037
@ciel Ran into the same issue on OS X.

FYI, I noticed you requested `1.0.0-rc-*` instead of `1.0.0-rc*` which will always result in the warning included in your output.

Nevertheless, I also get the `Could not load host policy library` error will appear unless I pin it to the default included in `dotnet new` namely `1.0.0-rc2-23911`

Have you tried updating your [CLI](https://github.com/dotnet/cl

[2016-03-25 13:09] enricosada commented on #2052
About other languages support ( just to check my use case ):

- templates support multiple languages using subdirectory, nice, :+1: :white_check_mark:
- `--list` should output **all** templates installed, `--list --lang f#` only the templates who support f#
- `--list --lang vb` should show grouped templates ( like `aspnetcore` ) if at least one of aspnetcore subtemplates support vb (let's filter o

[2016-03-25 13:54] enricosada commented on #2052
about the issue load templates from nuget (last feedback i promise).

- when i install a template, it's global or per .net cli? i dont want to mess the global config when i install a package, for example in a ci scenario with multiple .net cli installed by directory.
- if i want to add more nuget feeds (personal/work templates), i need to modify global nuget.config? or add a local nuget.config in

[2016-03-25 16:05] natemcmaster commented on #1985
I'm seeing this too. This makes it difficult to test interactive console apps with `dotnet run` and impossible to make a tool extension.

[2016-03-25 16:09] BillHiebert opened #2054 "Running tools no longer works- returns Could not resolve coreclr path"
## Steps to reproduce
Installed 1.0.0.002019
[code]

[2016-03-25 16:43] dlech commented on #1721
It looks like NuGet is changing already: https://github.com/NuGet/NuGet.Client/pull/391

I got a bit farther by following [this suggestion](https://github.com/NuGet/NuGet.Client/pull/398#issuecomment-198546263). If I use just

    "runtimes": {
        "ubuntu-x64": {}
      }

...then `dotnet restore` completes  successfully but `dotnet run` fails with

    Can not find runtime target for framewo

[2016-03-25 16:48] saurabsa opened #2055 "'Failed to initialize CoreCLR' on dotnet-watch"
## Steps to reproduce
project.json:

_"tools": {
    "dotnet-publish-iis": "1.0.0-rc2-20094",
    "dotnet-razor-tooling": "1.0.0-rc2-20094",
    "dotnet-watch": "1.0.0-*"
  }_

`dotnet watch`

## Expected  behavior
I assume it should have worked.

## Actual behavior
**Failed to initialize CoreCLR, HRESULT: 0x80004005**

## Environment data
`dotnet --version` output:

[2016-03-25 16:51] anurse commented on #2044
FYI, #2049 did not quite fix this. We need app-local to be used when an assembly is not in the `deps` file, but if an assembly **does** appear in the `deps` file, whatever is resolved for the selected assembly should be used. As an example, if there is the following layout on disk:

[code]

Then, on any `win`-derived RID, `runtimes/win/lib/netstandard1.5/System.Net.Http.dll` should be on the TPA l

[2016-03-25 16:55] brthor commented on #2055
looking into this now, closing as a dupe of #2026

[2016-03-25 17:03] brthor commented on #2054
Dupe of #2026

[2016-03-25 17:07] moozzyk opened #2057 ".NET Core Installer vs .NET Core Cli Installers is confusing"
I installed `.NET Core Installer` and wanted to confirm that I have the latest version and got:

[code]

I did see that `--help` options in the new thing were limited but was not aware that I need a different installer to do my dev work. This is quite confusing since the tutorials say you should do `dotnet build`, `dotnet run` etc. but if you install just the Core Installer nothing of this works.

[2016-03-25 17:08] schellap commented on #2044
Tarball of app and fx?

[2016-03-25 17:11] pakrym commented on #2044
Any portable app referencing net.http with latest cli should show this issue.

[2016-03-25 17:17] schellap commented on #2044
I think the code conforms at least mentally, need to debug what is missing...

[2016-03-25 17:17] brthor commented on #2026
@prafullbhosale I reproed this with `razor-tooling`

It is caused by the tools not yet having reacted to #1970

I agree the error message here should be more obvious and not look like a bug though.

[2016-03-25 17:23] joshfree commented on #718
moving to the 1.0.0-rc2 milestone

[2016-03-25 17:24] joshfree commented on #668
moving to the 1.0.0-rc2 milestone

[2016-03-25 17:24] joshfree commented on #429
moving to the 1.0.0-rc2 milestone

[2016-03-25 17:24] brthor commented on #2057
@moozzyk The Core Installer is intended to place the shared framework and host only on your machine.

In this way it can be used for running apps, but not building them.

The `.NET Core Cli` Installer is what you are looking for

[2016-03-25 17:30] jeffschwMSFT opened #2058 "dotnet publish includes a lot of unncessary (and non-referenced dependencies)"
## Steps to reproduce
dotnet new
dotnet restore
dotnet build
dotnet publish

## Expected  behavior
The contents of the publish folder should just be the app (there are no additional dependencies outside of the shared framework)

## Actual behavior
A ton of additional dependencies are dropped.

## Environment data
`dotnet --version` output:
1.0.0-beta-001980

[2016-03-25 17:33] pakrym opened #2059 "muxer can not be used to run standalone application"
In unit test case this doesn't work because muxer can not find coreclr.dll

[code]

Trace:

[code]

/cc @schellap @piotrpMSFT @anurse @davidfowl

[2016-03-25 17:38] schellap commented on #2059
Can you do dotnet exec --depsfile --add foo.dll. The way the host is invoked is the legacy way, not the shared fx supported way. This is exec mode operation.

[2016-03-25 17:38] bricelam commented on #2020
@davidfowl Yes, the tools (e.g. `dotnet-ef`) will contain logic to dispatch to the dependencies (e.g. `Microsoft.EFCore.Design`). The tool will only target `netcoreapp` while the dependency can target any number of frameworks.

[2016-03-25 17:40] pakrym commented on #2059
Is there an ability to pass deps.json in shared fw scenario?

Running same command without exec does not change anything.

[2016-03-25 17:41] bricelam commented on #2020
cc @NTaylorMullen @prafullbhosale

[2016-03-25 17:45] DamianEdwards commented on #2020
But will the CLI actually stop discovering and invoking tools in dependencies too?

[2016-03-25 17:45] moozzyk commented on #2057
Yes, @anurse explained it too me. But users don't have @anurse or you around - the message should make it possible to figure it out on my own. At the moment is is not helpful.

[2016-03-25 17:49] davidfowl commented on #2020
@bricelam so we "fixed it" by making each tool dispatch to another tool in the project. Are we basically going to copy the command resolver to each tool?

[2016-03-25 17:50] brthor commented on #2057
Totally agree! any suggestions there?

cc @blackdwarf

[2016-03-25 17:53] brthor commented on #2020
The `ProjectDependenciesCommandResolver` and `ProjectDependenciesCommandFactory` are both available via the cli Utils nupkg, so copying them to each tool shouldn't be necessary

[2016-03-25 17:53] shahid-pk commented on #2057
the .net core one should be called something like .net core runtime.

[2016-03-25 17:54] brthor commented on #2059
@pakrym @schellap

The runtimeconfig is not always guaranteed to be next to the deps json, and making this assumption will actually break project tools currently.

Having separate switches seems like the best route to add this extensibility.

[2016-03-25 17:56] pakrym commented on #2059
I had a more detailed look at issue and it goes as follows:

I run muxer:
[code]

muxer fails not being able to find coreclr.dll
[code]
deps file has coreclr entry:

[code]

[2016-03-25 17:59] bricelam commented on #2020
To clarify some of my comments: I'm not advocating any particular implementation of this feature. We just talked about **one way** it could work. If the CLI team wants to add more first-class support for this scenario, I'll use it; otherwise, I'm happy to put the logic in `dotnet-ef`.

[2016-03-25 18:00] #2055 closed

[2016-03-25 18:07] DamianEdwards commented on #2020
@murat yeah I was wondering whether should just do that, i.e. have the "Tools" package appear in both "tools" and "dependencies" and carry all it needs to be run. But as @davidfowl said, this seems like we're just back to where we started. I'm not sure I quite understand why we couldn't have the CLI dispatch to tools in the project output, given we're now just asking the tool itself to do it.

[2016-03-25 18:07] kwaclaw opened #2061 "Newest build (2019) seems to break ASP.NET"
See https://github.com/aspnet/Mvc/issues/4349

[2016-03-25 18:23] livarcocc commented on #1997
Duplicate of https://github.com/dotnet/cli/issues/1287.

[2016-03-25 18:23] #1997 closed

[2016-03-25 18:26] livarcocc commented on #1184
It is working now after all the changes we did to the Resolvers.

[2016-03-25 18:26] #1184 closed

[2016-03-25 18:28] Eilon commented on #2061
This isn't really a CLI bug, is it? ASP.NET just needs to accept a newer CLI (which they are doing).

[2016-03-25 18:29] livarcocc commented on #1370
Tracking dotnet-test-xunit support here.

[2016-03-25 18:31] livarcocc commented on #1534
I have added -f to dotnet test. As for running for multiple frameworks, I will track that here: https://github.com/dotnet/cli/issues/913.

[2016-03-25 18:31] #1534 closed

[2016-03-25 18:35] anurse commented on #2057
I prefer "Runtime" and "SDK" as distinctions. Also, the muxer should be capable of responding to `--version` at some point before RTM :)

[2016-03-25 18:36] enricosada commented on #2057
:+1: about `.NET Core Runtime`

And maybe `.NET Core CLI` can be just `.NET CLI`, because it can build all targets, not only `.NET Core`.
It's already a good name, short

![image](https://cloud.githubusercontent.com/assets/147243/14051122/cfefd8ea-f2c0-11e5-815b-57a5837878e7.png)

[2016-03-25 18:38] natemcmaster commented on #2059
Looping in as we need this for some EF x-plat testing.

Side note: would be nice to be able to invoke dotnet-test on published output, but that probably belongs on a different issue.

[2016-03-25 18:54] natemcmaster opened #2063 "`dotnet test --help` executes tests"
## Steps to reproduce
`dotnet test --help`

## Expected  behavior
Print help output.
Exit 0.

## Actual behavior
Print help output.
Execute tests.

## Environment data
`dotnet --version` output:

[code]

[2016-03-25 20:21] joepeer commented on #2058
I'm expecting this kind of behavior through a dotnet publish.  But I'm not getting it.
See [2205](https://github.com/dotnet/cli/issues/2045)
I'm expecting an exe, the runtime and all dependencies to be present.  So I can deploy to another Windows machine that has  nothing "net core"

Is dotnet publish will only now give something runnable through dotnet run?

[2016-03-25 21:18] anurse commented on #2039
Looks like it.

[2016-03-25 21:56] natemcmaster commented on #1970
@brthor the project.json spec seems to be changing continually. How can we ensure our tools are compiled as portable apps, not standalone?

[2016-03-25 22:03] brthor commented on #1970
@natemcmaster There are some example projects here:
https://github.com/dotnet/cli/tree/rel/1.0.0/TestAssets/TestProjects/PortableTests

Make sure to reference `Microsoft.NETCore.App` and not to add rids to the project.

[2016-03-25 22:08] joepeer commented on #2045
I think I found my problem

dotnet new template uses netstandard1.5.

    "netstandard1.5": {

But if I change it to

    "netstandardapp1.5": {

It works as before.

Not sure what the difference is between a TFM netstandard1.5 and netstandardapp1.5 but this is another matter.

[2016-03-25 22:08] #2045 closed

[2016-03-25 22:09] natemcmaster commented on #1970
@brthor so if I understand this correctly, somewhere CLI does this kind of check ?

[code]

Are there any other conditions?

[2016-03-25 22:12] brthor commented on #1970
cc @anurse @pakrym  made the changes to build and will have the best answer for that

[2016-03-25 22:18] livarcocc commented on #1716
Resolved by https://github.com/dotnet/cli/pull/2051.

[2016-03-25 22:18] #1716 closed

[2016-03-25 22:20] livarcocc opened #2070 "Need to fix the version suffix of coreclr-xunit so that new packages show up before older ones"
A package generated today had version 1.0.0-dev-121848-00 which shows after the previous version 1.0.0-dev-91790-12.

[2016-03-25 22:37] moozzyk opened #2071 "Tool dependecies versioning issues"
When you build a tool that uses NetCore.App version that you don't have installed the tool does not work at all. Example:
I compiled the tool against NetCore.App 23911 and 23923 (
        "Microsoft.NETCore.App": {
          "type": "platform",
          "version": "1.0.0-rc2-23911"
        }
      }
) and it did not work because:
 C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.0.0-rc2-239

[2016-03-25 22:37] moozzyk commented on #2071
/cc @NTaylorMullen

[2016-03-25 22:40] moozzyk commented on #2071
/cc @natemcmaster

[2016-03-25 22:42] moozzyk commented on #1970
@natemcmaster - see: https://github.com/aspnet/IISIntegration/compare/pawelka/tools
I gues you are asking about the

+      "dependencies": {
+        "Microsoft.NETCore.App": {
+          "type": "platform",
+          "version": "1.0.0-rc2-23911"
+        }

bit

[2016-03-25 22:42] natemcmaster opened #2072 "CoreCLR crashes on initialization: Ubuntu 15.10 (wily)"
## Steps to reproduce
`dotnet --help`

## Expected  behavior
Help output

## Actual behavior
Crashes with output:
`Failed to initialize CoreCLR, HRESULT: 0x80131500`

Full log with trace on: https://gist.github.com/natemcmaster/55ada183b40f894aff91

## Environment data
`dotnet --version` output:
(doesn't work....)

But, it would probably contain

Version: 1.0.0-beta-002028
RID: ubuntu.15.10-x64

L

[2016-03-25 22:54] natemcmaster commented on #1970
@moozzyk so, TFM's also play a role? is this right?

[code]

[2016-03-25 22:55] anurse commented on #1970
In general, no TFM's do not matter. In the short term (while we land all the things in the right places) `netstandard` is requires for portable apps.

[2016-03-25 23:35] Sridhar-MS opened #2073 "[MSI]: Registry keys are not removed on uninstall for the dotnet-dev bundle"
## Steps to reproduce
Install the latest dotnet-dev bundle - https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe

## Expected  behavior
Remove the reg keys at SOFTWARE\dotnet\Setup

## Actual behavior
Reg keys are not getting removed.

## Environment data
`dotnet --version` output:

[2016-03-25 23:56] emgarten commented on #1896
Auto rid has been removed.

[2016-03-25 23:57] emgarten commented on #1075
NuGet is not able to control where publish finds packages.

[2016-03-26 00:00] onovotny commented on #1896
Sweet -- what CLI version would I see this change in? I'm on 1.0.0-beta-002024

[2016-03-26 01:31] andschwa commented on #819
Is there any updated status here? I'm getting murdered trying to get CLI to generate a satellite resources assembly from the set of `*.resx` files I have, and the pre-generated `.cs` bindings I had to make on Windows. CLI won't make a satellite assembly unless I rename the `.resx` files to `en-US.resx` etc.; but at that point, the C# bindings (I think) are then out of date, and so unable to find t

[2016-03-26 02:05] emgarten commented on #1896
@onovotny that should have the fix. You can double check that sdk\1.0.0-beta-002022\NuGet.CommandLine.XPlat.dll is 3.5.0-beta-1068

Are the errors the same? Does project.lock.json contain RID specific target graphs?

[2016-03-26 02:06] emgarten commented on #1657
dotnet/cli@895c4e0221e63626c9ca9d939497f9558d3d745c

[2016-03-26 02:06] #1657 closed

[2016-03-26 02:24] onovotny commented on #1896
Yup, I have that xplat.xll version and the errors are the same..

[code]
Easiest repro, use the attached solution and run `dotnet restore` on it.

https://onedrive.live.com/redir?resid=B98D981155DF4D47!822876&authkey=!AMOcAKcx4za69ug&ithint=file%2czip

[2016-03-26 02:39] emgarten commented on #1896
This was fixed in NuGet but it looks like dotnet restore does not allow for turning this off.
https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-restore/Program.cs#L39-L40

//cc @anurse

[2016-03-26 03:19] livarcocc commented on #1803
Fixed by https://github.com/dotnet/cli/pull/2069.

[2016-03-26 03:19] #1803 closed

[2016-03-26 07:12] vlesierse commented on #2042
I see the same on Mac OSX. Also my own .NET Core apps using the `Microsoft.Extensions.CommandLineUtils` shows this problem.

[code]

[2016-03-26 10:40] flagbug commented on #1860
Just downloaded the latest version of the CLI and this seems to be fixed!

[2016-03-26 11:33] ciel commented on #2037
Yeah, I just tried the newest cli. Still no luck.

[2016-03-26 12:04] xatabhk opened #2081 ""dotnet restore" fails when local folder used as nuget source"
## Steps to reproduce

create a folder and put some packages in it. For an example:

[code]
## Actual behavior

Restoring fails even if package does exist. But 'dnu restore" works in the same situation.
## Environment data

`dotnet --version` output:
dotnet --version
1.0.0-beta-002058

dotnet --info:
.NET Command Line Tools (1.0.0-beta-002058)

Product Information:
 Version:     1.0.0-beta-002058

[2016-03-26 12:07] miguellira commented on #2037
@ciel As was pointed out in the thread I referenced above, it looks like unless you pin it you're going to bring down rc3 bits and the interplay with depencies will generated errors.

Is there a reason why you want `-rc*` bits?

I installed the latest CLI on my Windows 10 setup and noticed it now uses `"1.0.0-rc2-23925` - I'd stick with that version for console apps.

[2016-03-26 12:29] miguellira commented on #2037
@ciel  BTW... I attemped to run the HelloMvc sample app from https://github.com/aspnet/cli-samples on my Windows 10 setup with the latest CLI and ran into the same issue I logged here: https://github.com/aspnet/Mvc/issues/4349 so although neither works at lease both my Mac and Windows machine are on par :confused:

FYI, in order to get the HelloMvc app to run against the latest CLI I updated the `

[2016-03-26 17:40] #1287 closed

[2016-03-26 22:52] andschwa commented on #819
I've got `dotnet-resgen` compiling the resx files for the default culture (all that's available to me) into the assemblies correctly. As @onovotny correctly pointed out in Gitter, CLI's resgen prepends the assembly name to the resources, so I had to manually fix our pre-generated C# bindings to look in the right namespace.

While we still **really** need support to generate the C# bindings from th

[2016-03-27 00:38] agocke commented on #809
I just hit this again:

[code]

This is running with `dotnet restore --disable-parallel`.

Upping the ulimit is not an acceptable workaround -- we need to get this properly fixed ASAP.

[2016-03-27 06:26] dougbu commented on #1977
Similarly `dotnet test` on Windows outputs only grey text while `xunit.console.exe` provides useful differentiation in its log spew.

Is this the same issue? If not I'll file something new.

E.g. logging during test execution:
###### `dotnet test`
![dotnet](https://cloud.githubusercontent.com/assets/6431421/14064110/0f4f7920-f3aa-11e5-9a14-f607d479b025.png)

###### `xunit.console.exe`
![console](h

[2016-03-27 06:34] dougbu opened #2082 "`dotnet test` says it is the "DNX runner""
## Steps to reproduce
1. Restore a test project
2. Build
3. Execute `dotnet test --configuration debug` (if you built for debug configuration)

## Expected  behavior
Command starts with a description of the current runtime.

## Actual behavior
Command starts with a description of some old DNX runtime.
![dotnet](https://cloud.githubusercontent.com/assets/6431421/14064134/4c311e1a-f3ab-11e5-90a3-acd

[2016-03-27 15:21] davidfowl commented on #2082
I have no idea if this is fixed but you are using an extremely old dotnet

[2016-03-27 16:47] livarcocc commented on #2082
@davidfowl It is not. This is something that the runner prints. Easy fix. How about xUnit.net Dotnet Runner? The double dotnet seems weird. My second option would be simply xUnit.net Runner. Any opnions?

[2016-03-27 16:51] livarcocc commented on #2082
https://github.com/dotnet/coreclr.xunit/pull/19

[2016-03-27 17:59] enricosada commented on #1968
closed because now `netstand` is supported

[2016-03-27 17:59] #1968 closed

[2016-03-27 19:00] borgdylan commented on #2025
If on ubuntu 15.10, publish still leaves stuff behind like System.Console (excluding having to copy coreclr manually).

[2016-03-27 19:07] borgdylan commented on #988
A workaround includes copying the CoreCLR binaries manually. That gets past the clr not found issue but does not solve the lack of key dlls that should have been published such as System.Console.dll

[2016-03-27 19:37] dougbu commented on #2082
FYI this is the `dotnet` version that ASP.NET builds are currently pinned to use. See [`cli.version.darwin`](https://github.com/aspnet/KoreBuild/blob/23f04b626f5da557fa8b96842532b4c740d772e7/build/cli.version.darwin) for example.

[2016-03-27 21:57] enricosada opened #2085 "f# build fail with missing default.win32manifest"
## Steps to reproduce

[code]

## Expected  behavior

build successful

## Actual behavior

compile error: error FS0193: Could not find file `default.win32manifest`

## Environment data
`dotnet --version` output:

1.0.0-beta-002060

[2016-03-28 03:55] xoofx commented on #2057
:+1:  for  `.NET Core Runtime` and `.NET Core SDK` installers.

[2016-03-28 04:19] robmen commented on #2073
Can you attach a log file from the uninstall of the MSI?

[2016-03-28 07:13] schellap commented on #2059
@brthor, could you please confirm if this is fixed by #2083?

[2016-03-28 07:54] #2085 closed

[2016-03-28 09:05] piotrpMSFT commented on #2071
@gkhanna79 @schellap what are your thoughts here?

I discussed this with @schellap last week. The problem goes away for a while once we ship 1.0.0, but until then it means that using a tool requires installing the shared framework the tool was built for. We can make this a bit better by allowing roll-forward for pre-release versions. However, this is in a fairly sensitive portion of the host.

Is

[2016-03-28 09:11] piotrpMSFT commented on #2061
Read through aspnet/Mvc#4349 and agree with @Eilon. need to move ASP.NET to latest CLI + NuGets. Please re-open if there is a CLI issue here.

[2016-03-28 09:11] #2061 closed

[2016-03-28 09:15] piotrpMSFT commented on #2058
@joepeer in order to make your app standalone, you must specify "runtimes" in your project.json file so restore can get the packages for your target environments, build can produce the right layouts, and publish can take advantage of these artifacts. This is "standalone" mode.

Without a runtimes section publish creates a portable application which requires a Shared Framework to be installed for e

[2016-03-28 09:18] piotrpMSFT commented on #2057
@richlander @blackdwarf regarding branding.

@schellap regarding --version in the muxer

[2016-03-28 09:20] piotrpMSFT commented on #2054
Closing. This is bug needs to be filed against the tools in question.

[2016-03-28 09:20] #2054 closed

[2016-03-28 09:23] piotrpMSFT commented on #2005
@Sridhar-MS the path should be set by the host package, right?

[2016-03-28 10:35] PhilipDaniels commented on #549
I've been looking into this because I have been looking to improve the efficiency of our build systems at work. The conclusions I have come to is that it is best to have little utility programs to do what you need and then glue them together with a PowerShell script. The question is how to make it as easy as possible, and for me, I needed to support legacy (csproj) projects too. I was inspired to

[2016-03-28 10:38] PhilipDaniels commented on #551
@muratg can you take a look at my comment on https://github.com/dotnet/cli/issues/549 and let me know if that does what you want? Making it possible for developers to make proper local builds that look just like CI builds was one of my aims.

[2016-03-28 10:44] PhilipDaniels commented on #571
I just commented on https://github.com/dotnet/cli/issues/549 about some work I have been doing with versioning, I wrote custom command line tools that can set the version in both old and new style projects. I agree that it is necessary to control all 3 versioning attributes.

Re: http://particularlabs.github.io/GitVersion/ - while cool, to my mind it has an aura of "too much magic" and not everybo

[2016-03-28 13:47] MichaelSimons commented on #2042
A couple observations I have made.

The following c# code will also show the truncation behavior.
[code]

If you do a similar thing in a C program, everything works as expected.

The default `LANG` within a docker container is `POSIX`.  If you change this to `en_US.UTF-8`, the issue goes away.  You can reproduce this truncation behavior outside of docker by changing the `LANG` to `POSIX`

[2016-03-28 14:22] vlesierse commented on #2042
I can confirm that `export LANG=en_US.UTF-8` in my Mac terminal will fix this behaviour.

[2016-03-28 15:10] Raviuppa commented on #2004
Thank you Matt.

Thanks,
Ravi.

From: Matt Ellis [mailto:notifications@github.com]
Sent: Thursday, March 24, 2016 7:23 PM
To: dotnet/cli <cli@noreply.github.com>
Cc: Ravi Uppaluru <raviuppa@microsoft.com>
Subject: Re: [cli] dotnet execution fails with "invalid .deps" file error due to permissions issue in the tarball (#2004)

Closed #2004<https://github.com/dotnet/cli/issues/2004> via #2015<https:

[2016-03-28 15:14] MichaelSimons commented on #2042
I only see this misbehavior when using `dotnet run` on my app.  If I `dotnet build` and `dotnet app.dll`, the braces are not truncated.

[2016-03-28 15:55] gkhanna79 opened #2089 "Create a dotnetextensions path in platform installer"
Platform installer for SharedFX redist should also crete a "dotnetextensions" folder, sibling to the "dotnet" folder. On Windows, this should be created next to the "dotnet" folder in ProgramFiles(x86) folder.

CC @blackdwarf @richlander @Petermarcu @schellap @piotrpMSFT

[2016-03-28 16:14] AArnott commented on #551
@PhilipDaniels This is actually my (@aarnott) issue, but @muratg copied it from a deprecated project.

And no, #549 doesn't come close to what I want. I don't want to have to make a commit in a git repo (or otherwise change any source code) in order to build a package with a different version number than the prior commit in git. I don't want to keep having to increment a patch version in project.j

[2016-03-28 16:27] schellap commented on #2044
@pqkrym, this can be closed now?

[2016-03-28 16:28] pakrym commented on #2044
Yes, this issue seems to be resolved

[2016-03-28 16:28] #2044 closed

[2016-03-28 16:29] moozzyk commented on #2071
@piotrpMSFT - can you elaborate a bit more on how this is fixed with 1.0.0? What happens once 1.0.1 ships? Won't the 1.0.0 tools stop working if only 1.0.1 sdk installed?
Given that dotnet follows semver I think it is reasonable to roll tools forward (and possibly backward?) within the minor or maybe even major version.
Also, not sure if this is reasonable but maybe it should also be possible to c

[2016-03-28 16:31] #2063 closed

[2016-03-28 16:34] gkhanna79 commented on #2071
For pre-release scenarios like this, there is no auto-roll forward by design as there are no compat guarantees between even daily builds. This issue is specific to such intermediary scenarios where the underlying platform is still being developed.

For actual production scenarios, the tool would be built against a shipping version of the framework and would just work. It should be kept in mind tha

[2016-03-28 16:35] gkhanna79 commented on #1910
@schellap What are the next steps for this?

[2016-03-28 17:11] gkhanna79 opened #2090 "Add additionalProbingPath to runtimeconfig.json"
For the development time scenarios of doing "dotnet build" followed by "dotnet <path to app.dll>", without publishing the app as Portable or Standalone, there is need to reference a shared location where any dependencies (not present in SharedFX and appLocal) can be found.

CLI infrastructure should add a "additionalProbingPath" property to runtimeconfig.json that the host can read to support this

[2016-03-28 17:12] gkhanna79 opened #2091 "Universal host should consume additionalProbingPath"
See https://github.com/dotnet/cli/issues/2090 for details. The universal host should consume the value of this property, if set, to aid dependency probing.

Please also add command line support for "--rollforward {true|false}".

[2016-03-28 17:12] gkhanna79 commented on #2091
CC @Petermarcu @piotrpMSFT @blackdwarf @brthor

[2016-03-28 17:16] Sridhar-MS commented on #2005
Yup. It is done in the host pkg - https://github.com/dotnet/cli/pull/2062/files.

@igilham @mellinoe Can you try the latest https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-osx-x64.latest.pkg ?

[2016-03-28 17:23] NTaylorMullen commented on #2071
Looping in a few others. /cc @DamianEdwards @Eilon

[2016-03-28 17:30] Eilon commented on #2071
We need to try our best to make sure that NuGet packages such as Razor Tooling don't break when a newer .NET CLI is installed, even though it could have work.

Is there a reason to be restrictive on which versions are compatible, when there's probably a decent change it'll just work?

[2016-03-28 17:30] Eilon commented on #2071
It's worth noting that ASP.NET went to great lengths to ensure that N+1 runtimes worked with N tooling as long as possible, even with pre-releases (it often *eventually* breaks, but only when there's no reasonable alternative).

[2016-03-28 17:35] gkhanna79 commented on #2071
This constraint is only applicable to pre-release versions for the reason called out above.

This is less of a host issue but rather overall policy/scenario question - in the past discussions, the concern was always about breaking across pre-releases.

CC @weshaggard

[2016-03-28 17:44] brthor commented on #2090
@gkhanna79 @schellap

So this will be a top level property in the runtimeconfig.json?

Quick mockup of how I envision it:
[code]

This will also be set regardless of app type? For both portable and standalone.

[2016-03-28 17:45] gkhanna79 commented on #2090
I would suggest this would be part of the runtimeOptions section.

[2016-03-28 17:54] brthor commented on #2090
Yeah that makes more sense. Updated above

[2016-03-28 18:03] anurse opened #2093 "CLI Needs to be a portable app"
In order to properly exercise the portable app model, the CLI really needs to be a portable app itself. ASP.NET is waiting on this before converting it's own projects to portable because there were a number of issues in the initial port that converting the CLI would clear up.

[2016-03-28 18:06] moozzyk commented on #2071
It seems that this rule makes it also virtually impossible for early adopters to use the tools. They typically install the latest cli. To use a tool they would have to know the version of the Microsoft.NETCore.App version the tool depends on (probably means they need to crack open the package) and install the shared runtime that corresponds to this version (and it's not easy to install not the lat

[2016-03-28 18:06] Eilon commented on #2071
I just wonder if such a policy is a bit *too* restrictive for pre-releases. It certainly might break, but normally we leave that to people on the bleeding edge to experience, and it's part of what they expect (that's the "blood" part of "bleeding edge").

[2016-03-28 18:09] livarcocc commented on #2082
Fixed the runner.

[2016-03-28 18:09] #2082 closed

[2016-03-28 18:27] eerhardt commented on #1544
@piotrpMSFT @ericstj - please confirm the following statement:

"It is **not** required that Roslyn upgrade their existing dependencies that are to previously released CoreFX packages."

For example, if a Roslyn project has a reference to "System.Runtime 4.0.0", (note no -prerelease), that dependency is 100% correct.

[2016-03-28 20:01] stephentoub commented on #2042
I took a look at this.

@ellismg, this is related to the coreclr implementation of IndexOf on strings.  When LANG=, ```"[hello]".IndexOf("\x1b[")``` returns 0 rather than -1, which it returns when LANG=en_US.UTF-8.  This then causes problems with https://github.com/dotnet/cli/blob/30b5d7a95298250e68f3884ee5c8361f3c021be7/src/Microsoft.DotNet.Cli.Utils/AnsiConsole.cs#L69, which will skip two charac

[2016-03-28 21:40] brthor commented on #2081
We do this regularly in our builds, can you provide any more info that might help diagnose?

Error output would be a good start

[2016-03-28 22:00] TJSoftware commented on #1070
I just happened to see this thread and noticed that I do not see the issue you are seeing in the version listed below.

[code]

[2016-03-28 22:43] colemickens commented on #2047
Stiill seeing new builds in apt-mo that don't look right even though your fix was merged 3 days ago.

Also, the CLI has no --version flag, and the version listed in dpkg doesn't align with the version that shows up in the package filename, so it's very hard to tell what version(s) are in play at any given time.

[2016-03-28 22:54] brthor commented on #2047
@colemickens Known issue with the feeds currently. Publishing of the shared framework broke something. Chuan is telling me there is an aptly error on the repo side. Am following up with him.

[2016-03-28 23:01] Petermarcu opened #2098 "Crash when "emitEntryPoint": true is not present in project.json"
## Steps to reproduce

dotnet new
remove "emitEntryPoint": true
dotnet run
## Expected  behavior

App should be able to run with a default setting
## Actual behavior

App crashes:

[Window Title]
dotnet.exe

[Main Instruction]
dotnet.exe has stopped working

[Content]
A problem caused the program to stop working correctly. Windows will close the program and notify you if a solution is available.

[2016-03-28 23:14] piotrpMSFT commented on #18
This is done for a while now...

[2016-03-28 23:16] mellinoe commented on #2098
Isn't this how it should be? Now, the error message / behavior should probably be better, something like: `The project cannot be run, it has no entry point`, but still.

I always assume these "options" parameters to be false unless otherwise specified. So I would assume that not specifying "emitEntryPoint" would make the default value "false", i.e. create a DLL with no .entrypoint method. That mig

[2016-03-28 23:18] #18 closed

[2016-03-28 23:24] piotrpMSFT commented on #1388
fixed by #1891

[2016-03-28 23:24] #1388 closed

[2016-03-28 23:28] enricosada opened #2099 "Install specific dotnet cli version from install.ps1 or install.sh"
## Steps to reproduce

Using the script https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/install.ps1 ( or [install.sh](https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/install.sh) ) to install a specific version

The `Latest` version works, the specific version doesnt works /cc @Sridhar-MS @krwq

The issue is the same for all os

That's really important fo

[2016-03-28 23:38] billwert opened #2100 ".NET Core Installer still claims it is the CLI installer:"
Running https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-win-x64.latest.exe, this is what the installer dialog looks like:

![image](https://cloud.githubusercontent.com/assets/4523120/14093559/85a68fd2-f503-11e5-8d11-e836adcd759e.png)

[2016-03-28 23:56] livarcocc commented on #1705
This is working now. Besides, since restore worked, this seemed more like an issue with VS.

[2016-03-28 23:56] #1705 closed

[2016-03-29 00:04] livarcocc commented on #1707
@anurse Now that this API is available, can you check that that's enough for you and close this issue?

[2016-03-29 00:08] enricosada commented on #2099
/cc @Sridhar-MS

[2016-03-29 00:08] livarcocc commented on #1764
@victorhurdugaci This does not repro anymore.

[2016-03-29 00:08] #1764 closed

[2016-03-29 00:14] brthor commented on #1905
This was fixed last week

[2016-03-29 00:14] #1905 closed

[2016-03-29 00:18] livarcocc commented on #1775
@moozzyk I don't see the repro branch available anymore. I saw a tool-test branch but not a bug branch. I am closing this issue for now. If you can still repro, could you give us me some details on how you are reproing it?

[2016-03-29 00:18] #1775 closed

[2016-03-29 00:19] livarcocc commented on #1758
@davidfowl @DamianEdwards So, do we have a design for this? Is this written down somewhere? Have we fixed this already?

[2016-03-29 00:21] livarcocc commented on #1779
This worked at 1.0.0-beta-002071.

[2016-03-29 00:21] #1779 closed

[2016-03-29 00:23] moozzyk commented on #1775
The branch is still there https://github.com/aspnet/cli-samples/tree/pawelka/bug. I don't know if it reproes though.

[2016-03-29 00:24] brthor commented on #1781
Fixed via #1920

[2016-03-29 00:24] #1781 closed

[2016-03-29 00:32] Sridhar-MS commented on #2099
@enricosada We switched over to using nuget-semantic version `1.0.0-beta-002071`. The version badge should reflect this but it does not and needs to be fixed.

[2016-03-29 00:33] livarcocc commented on #1818
Closing this one in favor of https://github.com/NuGet/Home/issues/2413. This is a nuget issue and should be tracked there.

[2016-03-29 00:33] #1818 closed

[2016-03-29 00:43] enricosada commented on #2099
thx @Sridhar-MS that works, really thx.

btw i think the [install.ps1](https://github.com/dotnet/cli/blob/8df6f5405d5a2356beddff71da105a7e953ac46d/scripts/obtain/install.ps1#L21) need to be changed.

[code]

[2016-03-29 00:45] livarcocc commented on #2027
Closing this in favor of https://github.com/dotnet/cli/issues/2090.

[2016-03-29 00:45] #2027 closed

[2016-03-29 00:46] livarcocc commented on #2090
@schellap @gkhanna79 can we reach a consensus on how we want to do this? Should we create a separate .devruntimeconfig.json or go with a separate session for this information or just follow @brthor's suggestion above?

[2016-03-29 00:47] livarcocc commented on #1758
@davidfowl Fowler, once we have answers for the questions above, please assign it back to me.

[2016-03-29 01:07] livarcocc commented on #1294
PR https://github.com/dotnet/cli/pull/1847 is fixing this.

[2016-03-29 01:19] gkhanna79 commented on #2090
I think it is fine to keep this in runtimeOptions section. Additionally, @brthor please plumb "dotnet build" to insert this property and "rollforward:false" and plumb "dotnet publish" to remove both of them.

[2016-03-29 01:21] livarcocc commented on #762
I am closing this. If you guys still feel this is needed, please re-activate. And when you do, update the blocking flag. Well, if it is still blocking you, leave it, otherwise, remove it please.

[2016-03-29 01:21] #762 closed

[2016-03-29 01:24] livarcocc commented on #2090
@gkhanna79 I will do this work. So, I will add "additionalProbingPaths": ["..."] and "rollforward": "false" to runtimeconfig.json only when doing dotnet build. They will not be present when doing dotnet publish.

Also, do we need this for both standalone and portable or just standalone?

[2016-03-29 01:35] gkhanna79 commented on #2090
@livarcocc yes, this is done when running a development time artifact (which is the output of dotnet build) and not set when running the published output.

I presume doing this for development time also addresses it for the xunit discussion we had today?

[2016-03-29 01:51] anurse commented on #1707
Should be enough, but we need to convert DependencyContext to use it. /cc @pakrym

[2016-03-29 01:52] xatabhk commented on #2081
@brthor

NuGet.Config:
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="mynuget" value="C:\temp\nuget" />

The package folder layout:
![local_package](https://cloud.githubusercontent.com/assets/6814395/14095526/dbb2c6c6-f593-11e5-8135-40cdf35b8146.png)

The output message:
[

[2016-03-29 01:59] livarcocc commented on #488
I believe we are done with this one. If there is anything else we need to do, please re-activate it with additional information.

[2016-03-29 02:02] #1294 closed

[2016-03-29 02:06] anurse commented on #488
I don't think it's actually getting copied. We're writing the necessary stuff for the shared framework, but I don't think anything is copying other fields from project.json.

[2016-03-29 02:13] blackdwarf commented on #488
@anurse ok, so we are using this to track then?

[2016-03-29 02:19] anurse commented on #488
Sounds good. FYI I don't expect it's going to make RC2. It can probably wait for RTM

[2016-03-29 02:58] billwert opened #2103 "'dotnet publish' with --runtime argument won't produce stand alone app"
I am informed (for now) that the way to build a stand alone app (opposed to shared library) is to add runtimes to your project.json and to invoke 'dotnet publish' with --runtime choosing one of them. This does not seem to work on today's CLI.
Repro:
1) dotnet new
2) notepad project.json, add runtimes tag like so:
[code]
3) dotnet restore
4) dotnet build
5) dotnet publish -r win7-x64

Result:
C:\so

[2016-03-29 03:05] blackdwarf opened #2104 "Add C# class lib and xunittest templates to dotnet new"
Add C# class library template as well as xUnit test template to dotnet new. To be invoked with `dotnet new -t lib` and `dotnet new -t xunittest` respectively.

[2016-03-29 03:10] joepeer commented on #2103
Instead of netstandard1.5 put netstandardapp1.5 in the framework section of your project.json

Not sure why the template for dotnet new  type console is set to netstandard1.5.

With the runtimes section also added both dotnet restore and publish should work.

[2016-03-29 04:44] blackdwarf commented on #2000
@jchannon the `dotnet new` command will be different than its current incarnation. There is an issue that outlines how it will work. Basically, the templates will be separated from the implementation. If/when that happens, we aim to have multiple templates.

[2016-03-29 07:09] jchannon commented on #2000
Not just MS fwk ones? Would be nice to get some OSS templates in out of the
box. Maybe a Nancy template?

On Tuesday, 29 March 2016, Zlatko Knezevic <notifications@github.com> wrote:

[2016-03-29 08:00] piotrpMSFT opened #2110 "CLI VSO Builds broken due to corehost packaging"
## Steps to reproduce
Run VSO Build

## Expected  behavior
Build passes

## Actual behavior
### On Windows x86:
builds are failing with long path:
`'src/corehost/packaging/packages/Microsoft.DotNet.BuildTools/1.0.25-prerelease-00228-02/lib/portableTargets/packages/Microsoft.Portable.Targets/0.1.1-dev/contentFiles/any/any/Extensions/Microsoft/Portable/v4.0/Microsoft.Portable.Common.targets': Filena

[2016-03-29 08:02] piotrpMSFT commented on #2110
@schellap please priorotize this and take a first stab. It's strange that the same change seems to be causing so many different symptoms.

I'm also curious why this passed Jenkins CI but is failing so badly in VSO...

[2016-03-29 08:28] schellap commented on #2110
I'll probably undo the change.

[2016-03-29 10:30] cjaeckel opened #2112 "While getting started: Could not load file or assembly 'System.Runtime, Version=4.1.0.0"
## Steps to reproduce
1. Installed latest dotnet-win-x64.1.0.0.001598.exe
2. In an empty directory I entered:

--

    Compiling core for DNXCore,Version=v5.0

    Compilation succeeded.
        0 Warning(s)
        0 Error(s)

    Time elapsed 00:00:01.2474332

    Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutr

[2016-03-29 10:34] enricosada commented on #2000
@jchannon see #2052 you can install templates from url, so you can provide a nancy template and ppl can install and use it

[2016-03-29 10:35] jchannon commented on #2000
And that's great so will do that but my other point is why not ship some OSS templates out of the box or ship none and let people find them so all is equal

[2016-03-29 10:36] jchannon commented on #2052
Pinging @sayedihashimi just in case he hasn't seen this...(although I'm sure he has)

[2016-03-29 10:43] schellap commented on #2090
`    "additionalProbingPaths": ["~/.nuget/packages"],`

Just a clarification, additionalprobingpath is a single entity not an array. It should be a string. This has a special (internal) meaning and comes low in the precedence unlike other shared paths.

[2016-03-29 11:11] schellap commented on #2050
@gkhanna79 can close this?

[2016-03-29 11:12] enricosada commented on #2000
i think ootb should be a **minimal showcase of use case supported** by .NET CLI team

- library
- console
- test proj? `dotnet test`
- tool proj? `dotnet-mytool`

Nice for demo, and bootstrap simple proj.

About asp.net, it's not directly of cli but it's a good complete use case and is supported, so ok.

If a template is really used a lot (telemetry?), can be added later as ootb.

About ootb vs di

[2016-03-29 11:13] schellap commented on #1925
We have more activation models than just CLI, we print an useful message now. So closing...

[2016-03-29 11:13] #1925 closed

[2016-03-29 11:13] schellap commented on #2009
Can this be closed now?

[2016-03-29 11:15] #2110 closed

[2016-03-29 13:20] marono commented on #2025
Thanks @enricosada, that's what I was after.

[2016-03-29 13:20] #2025 closed

[2016-03-29 13:38] abpiskunov commented on #1705
it is not VS , it is ProjectModel.Server and @troydai  is working on it now

[2016-03-29 14:28] enricosada commented on #2104
@blackdwarf adding myself for notification, i can add f# and xunit works with f# too

[2016-03-29 14:32] gkhanna79 commented on #2050
Yes, it can be closed.

[2016-03-29 14:32] #2050 closed

[2016-03-29 14:35] gkhanna79 commented on #2090
@livarcocc can you please name the property as "applyPatch" instead of "rollForward"? @schellap Please make appropriate changes for the property name in the host as well.

@blackdwarf @leecow Thoughts on the property name?

[2016-03-29 14:38] gkhanna79 commented on #2090
@schellap Per our discussion yesterday, if the additionalProbePaths are processed after dotnetextensions and FX, there will be nothing special about them. And order of probing is an implementation detail. Also, this will work for the standalone xunit like scenario (post dotnet build) since there will be no FX path at that point and flow will fall into probe paths.

Any reason why the property shou

[2016-03-29 14:46] enricosada opened #2113 "Add examples of .NET CLI install for travisci/appveyor"
Lots of OSS libraries use [travis-ci](https://travis-ci.org/) and/or [appveyor](https://www.appveyor.com) as ci server (usually integrated with github)

The install doc is really nice, but it's possibile to have a working example (under ci) ?
Last week a version change broke the build script (already fixed), but it's nice to have a working implementation to copy :smile:

I use:

- https://github.c

[2016-03-29 15:00] blackdwarf commented on #2090
@gkhanna79 I would leave `rollForward` since it is clearer what is happening.

[2016-03-29 15:06] GuardRex commented on #1570
Side-by-side installs appears to be the default now regardless of architecture (x64-x64, x86-x86, and x64-x86) apparently (guessing here) due to the need to keep multiple shared frameworks for apps using different shared framework versions on a given development system (or shared frameworks on a server).

![capture](https://cloud.githubusercontent.com/assets/1622880/14112446/567d7482-f594-11e5-82e

[2016-03-29 15:45] joelverhagen commented on #2009
Yup, I've tried with newer builds and things seem to be working. Feel free to close.

[2016-03-29 16:01] leecow commented on #2090
@blackdwarf, @gkhanna79 - what specifically is rollForward / applyPatch controlling? I have some ideas but would rather see it written down than making stuff up ;-)

[2016-03-29 16:14] pakrym opened #2115 "Corehost ouputs lots of `A JSON parsing exception occurred` errors with no diagnostic info"
Looks like it gets exception parsing sdk version but error message itself is not helping at all. Doesn't show neither what error is, or what file it tries to parse.

[code]
/cc @schellap @davidfowl @pranavkm

[2016-03-29 16:16] muratg commented on #2052
:eye:

[2016-03-29 16:27] #2009 closed

[2016-03-29 16:30] gkhanna79 opened #2116 "Author servicing patch installer"
We need this for RTM, at the minimum.

CC @leecow @ericstj @schellap @piotrpMSFT

[2016-03-29 16:47] pakrym commented on #2093
Fixed by https://github.com/dotnet/cli/pull/2036 I suppose

[2016-03-29 16:47] #2093 closed

[2016-03-29 16:48] billwert commented on #2103
netstandardapp1.5 doesn't fix it.

[2016-03-29 16:51] anurse commented on #2093
:+1:

[2016-03-29 17:11] schellap commented on #2090
@gkhanna79, then I don't get in what sense it is additional. Additional, as per user means after app local. Shared paths means we can set the precedence and educate the user.

[2016-03-29 17:50] davidfowl commented on #1570
The msi only matters for tools if you're doing standalone development. The framework comes from packages when running standalone

[2016-03-29 18:47] moozzyk opened #2119 "NullRefException when trying to run a tool that was not restored correctly"
## Steps to reproduce
- Create an application with a tool (or a version of a tool) that doesn't exist
- Run restore - it will restore the application just fine but will fail to restore the tool
- Run the tool - e.g. `dotnet watch`
## Expected  behavior

An error saying that the tool was to restored correctly
## Actual behavior

[code]
## Environment data

`dotnet --version` output:

[code]

[2016-03-29 18:54] glennc opened #2120 "Allow specifying a path to a project.json"
The ability to do `dotnet build --project /app/project.json` instead of being forced to set the workingdir to `/app`. e.g. I could do something like this: `dotnet publish -p ../myapp/project.json -o ./ && ./myapp`

I am mostly requesting it for the ability to build a project that is in a different directory, I don't know that we would allow a filename other than project.json so perhaps it can just

[2016-03-29 19:09] livarcocc opened #2121 "Copy runtimeOptions from project.json into runtimeconfig.json"
## Steps to reproduce
Adding the following lines to project.json has no effect on the content of the [app].runtimeconfig.json that is created in bin/Debug/…

  "runtimeOptions": {
        "configProperties": {
            "System.GC.Server": true,
            "System.GC.Concurrent": true
        }
    }

## Expected  behavior
The runtimeOptions should show up at runtimeconfig.json.

## Actual beha

[2016-03-29 19:24] livarcocc commented on #2121
cc @anurse @schellap @gkhanna79 So, should we blindly move whatever is under runtimeoptions in the project.json to the runtimeoptions of runtimeconfig.json?

Do we have to do anything smart about it?

[2016-03-29 19:25] schellap commented on #2121
That is correct. Except you should remove rollforward or probe paths etc, if specified based on the scenarios like build for example (yesterday's stuff)

[2016-03-29 19:26] livarcocc commented on #2121
@schellap Remove it for publish, right?

[2016-03-29 19:26] schellap commented on #2121
yeah, but specify it to false for build also right?

[2016-03-29 19:27] livarcocc commented on #2121
For rollover you mean? If it is never true, why do we need it again? Also, if they do specify it and we will not honor it, should we warn or something like that?

[2016-03-29 19:28] schellap commented on #2121
Basically, I am saying you might need to merge the config with the scenario. If they specified true, for build do you want to turn it off forcefully, and add .nuget cache to the probe list if they didn't specify. Stuff like that... basically the merge operation needs to be considered.

[2016-03-29 19:34] mellinoe commented on #2089
From the discussion in the email, we should be able to have the other installers/servicing components install to this directory even if it doesn't exist yet and avoid adding extra stuff to the existing installers to handle this.

[2016-03-29 19:34] #2089 closed

[2016-03-29 20:20] brthor commented on #2057
I think Tools is confusing because we have a separate concept of cli tools in the project.json.

It's not too bad, but every time we talk about tools we'll need to point out which tools we're talking about.

[2016-03-29 20:26] akoeplinger commented on #2057
You could call it `.NET Core Command Line Interface (CLI)` similar to the SDK. I agree that Tools is more confusing even though there are different CLI meanings.

[2016-03-29 20:33] schellap commented on #2121
We can get away with runtimeOptions.configProperties for now to enable ASP.NET. But how config in project.json merges with scenario can come for RTM.

https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/runtime-configuration-file.md

[2016-03-29 20:36] RickJWagner opened #2122 "Could not load file or assembly 'Microsoft.CodeAnalysis.CSharp, access code invalid"
## Steps to reproduce

docker run -it microsoft/dotnet:latest
mkdir hello_world
cd hello_world
dotnet new
dotnet restore
dotnet run

## Expected  behavior
A running 'Hello World' CLI app.

## Actual behavior

dotnet run brings:

Compiling hello_world for
                            NXCore,Version=v5.0
Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'Microsoft.C

[2016-03-29 20:48] cdmihai opened #2123 "Home for CLI / VS integration tests"
@abpiskunov @davidfowl @troydai

Automated integration tests for the xproj / csproj interoperability scenario require test assets with artifacts that are only obtainable / interpretable via VS (project.json with csproj references, lock files with missing dependencies, fragment file, binaries for csproj projects).
These tests and test assets cannot live in the CLI repo because it would mean committ

[2016-03-29 20:49] cdmihai commented on #2123
I assume that VS has integration tests for many sample projects. Ideally, the xproj / csproj integration tests should live alongside those, so they can get restored, built with msbuild, etc

[2016-03-29 21:20] brthor commented on #2047
As a note here, the latest available packages are as below:

[code]

cc @MichaelSimons @naamunds

any of the dev and shared framework versions can be installed side by side.

Going to close this out for now

[2016-03-29 21:20] #2047 closed

[2016-03-29 21:22] colemickens commented on #2047
Sorry, I should've commented earlier. Are you intentionally putting the version name in the package name? That's not normal as far as I know.

I would expect to see:
[code]

[2016-03-29 21:24] brthor commented on #2047
Decision was made that we would support Side by side installations with the cli and the shared framework.

To support this we followed the model clang uses where you'd do `apt-get install clang-3.5`

Currently the package names are about impossible to remember and type out, but the intention is that come 1.0.0, it will be much easier.

cc @blackdwarf

[2016-03-29 21:25] colemickens commented on #2047
Got it. Thanks.

[2016-03-29 21:28] pakrym opened #2125 "Corehost trims part of executable file name on *NIX"
## Steps to reproduce
dotnet run application with dot in name

## Expected  behavior
Runs

## Actual behavior
Fails with weird error because corehost detects `Own DLL path` wrong and runs in wrong mode

[code]
## Environment data
`dotnet --version` output:

[2016-03-29 21:28] colemickens commented on #2047
One more question -- some packages have 'beta' in the name, others have 'rc2'. Are there separate branches building two sets of packages? In fact in your reply this morning where you note the latest packages available, one is a "beta" and one is an "rc"?

Thanks for all the help on this.

[2016-03-29 21:33] brthor commented on #2047
No problem.

The reason for the difference is that the shared framework package contains corefx and coreclr, so it follows their versioning scheme. The dev package contains only the cli so it follows our versioning.

The random `rc2` dotnet-dev package was a mistake. I'll be going through and cleaning up the feed soon, but want to give a chance for things to settle first.

It is somewhat confusing

[2016-03-29 21:36] bricelam opened #2126 "ProjectDependenciesCommand should execute in the output directory on Desktop"
I am implementing a "dependency" type tool (as described in #2020), and using `ProjectDependenciesCommandFactory` to dispatch to the tool on `net451`. However, when I execute, the command, it tries to execute from `%USERPROFILE%\.nuget\packages\dotnet-sample\1.0.0\lib\net451`. Because of this, the CLR can't resolve any of the tool's dependencies, and I get the following exception.

    System.IO.F

[2016-03-29 21:42] livarcocc commented on #2090
So, this is how we are going to do this:

- Additional probing path: Will be put inside a runtimeconfig.dev.json and it will be an array. This file will only be generated by build and won't be copied over for publish.

- Rollfoward: the host will implement a policy where it will look for the runtimeconfig.dev.json file. If it is present, roll forward will always be false and it will ignore whateve

[2016-03-29 21:53] pakrym opened #2127 "dotnet run passing ` --additionalprobingpath` to standalone app"
## Steps to reproduce

dotnet run standalone app
## Expected  behavior

It get executed only with arguments passed to `dotnet run` command
## Actual behavior

`--additionalprobingpath` gets passed to standalone app

[code]
## Environment data

`dotnet --version` output:

[code]

[2016-03-29 21:53] brthor commented on #2126
I believe @piotrpMSFT ran into this and found a solution.

Check out this test here:
https://github.com/dotnet/cli/blob/rel/1.0.0/test/dotnet.Tests/PackagedCommandTests.cs#L49

[2016-03-29 21:53] davidfowl commented on #2120
This needs to be just like dnx so that you can point the muxer to the right script so it can find the right version of dnx (if that matters).

`dotnet --project /app/project.json build`

[2016-03-29 21:53] pakrym commented on #2127
/cc @piotrpMSFT @davidfowl

[2016-03-29 21:59] pakrym commented on #2127
will break any tool that uses dotnet run and arguments

[2016-03-29 22:00] brthor commented on #2127
Why would this break?

Wouldn't additionalProbingPath be used for any packages which can't be found app local? Which is all of them in the dev scenario?

cc @schellap @Sridhar-MS

[2016-03-29 22:01] pakrym commented on #2127
Wouldn't app get additionalProbingPath  in args?

[2016-03-29 22:02] brthor commented on #2127
Okay I see, so the ordering of additionalProbingPath is the issue here?

[2016-03-29 22:04] pakrym commented on #2127
No, their presence. Lets take `Standalone` app on windows, which will produce `Standalone.exe`, corehost in standalone mode should forward app arguments to app itself and now you get `additionalProbingPath` in `public static void Man(string[] args)`

[2016-03-29 22:05] brthor commented on #2127
After doing a dotnet build, how could dependencies be resolved without `--additionalProbingPath`?

@schellap @gkhanna79 we talked about this at length yesterday

[2016-03-29 22:06] pakrym commented on #2127
Via new devruntimecontig.json?

[2016-03-29 22:07] brthor commented on #2127
Sure, the plan is to move `additionalProbingPath` there, but we still need that information available somehow was the point I was making. I understand what you're saying now.

Can we track this bug in the devruntimeconfig.json bug?

[2016-03-29 22:11] gkhanna79 commented on #2127
This shouldnt happen. The argument is only for the host and not passed to the application.

[2016-03-29 22:13] emgarten commented on #2081
@xatabhk I am not able to repro this issue. Will you check that the casing of the package id in licensedotnetlib.dll is all lowercase and matches the casing you in your project.json file?

Are you overriding the global packages folder? Running DNU restore (there is no DNX restore) should have no effect on NuGet since they use different packages folders.

Is the PayPal package also in your folder,

[2016-03-29 22:14] pakrym commented on #2127
@gkhanna79 isn't corehost in standalone mode just passing all arguments to manages app without reading/filtering anything?

[2016-03-29 22:16] brthor commented on #2127
dotnet run is using the muxer, not corehost. Not sure if that affects your expectations @pakrym

[2016-03-29 22:20] pakrym commented on #2127
@brthor no, it runs executable directly. https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-run/RunCommand.cs#L165

[2016-03-29 22:25] brthor commented on #2127
The fact that you are executing an exe directly is not apparent from your example.

I'm somewhat confused actually, what invocation of dotnet run is failing?

[2016-03-29 22:34] abpiskunov commented on #2123
Yes , we do have integration tests and I could run yours, but there will be a lag for reporting issues in dotnet since we don't update dotnet installer every day in our enlistments. If you are ok with it , I can port your tests

[2016-03-29 22:43] blackdwarf commented on #2103
@anurse @piotrMSFT can you take a look at this? Seems like a bug.

[2016-03-29 22:58] brthor commented on #2103
@joepeer my understanding is dotnet new template is set to netstandard1.5 as a Point in Time until RID inference is removed in NuGet for netcoreapp1.0

[2016-03-29 23:13] PinpointTownes commented on #1966
FWIW, I'm still seeing this bug with 1.0.0-rc2-23929.

[2016-03-29 23:15] pakrym commented on #2103
"type":"platform" should be removed from dependencies

[2016-03-29 23:22] pakrym opened #2129 "corehost filters out muxer aguments in standalone mode"
## Steps to reproduce

[code]

[code]

Build, run exe directly with `--depsFile` argument
## Expected  behavior

All arguments get forwarded to managed code
## Actual behavior

Muxer known arguments get filtered:

[code]
## Environment data

`dotnet --version` output:

[code]

[2016-03-29 23:58] billwert commented on #2103
@pakrym perhaps, but that doesn't help this issue. Tried it and no change.

[2016-03-30 00:32] blackdwarf commented on #2057
@brthor @akoeplinger good, I actually would like to leave it as CLI. :) Grew on me, we are all using it, the people outside are using it and there is **a lot** of precedent in other products.

[2016-03-30 00:34] TingluoHuang commented on #1919
@Sridhar-MS I am still getting same error even use the installation package you provided.
[4208:2174][2016-03-29T20:33:05]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: C:\Users\huang\AppData\Local\Temp\{7017B7F7-B735-4BEC-802C-06A0709E8F26}\.cr\dotnet-win-x64.1.0.0.001598 (6).exe
[4208:2174][2016-03-29T20:33:05]i000: Initializing string variable 'BuildType' to value '

[2016-03-30 00:49] piotrpMSFT commented on #2127
`dotnet run` should be invoking the muxer with --additionalProbingPath. The muxer should be taking data out of --additionalProbingPath and stripping the parameter from the args which get passed along to the app. Like `--depsfile`, this is an option that is passed to the muxer for its own use and should not get passed along to the app.

@pakrym, is your concern that `dotnet.exe` is passing along th

[2016-03-30 00:55] piotrpMSFT commented on #2103
@pakrym @anurse you guys collaborated fairly closely on the standalone publish scenario. Can you please help get @billwert unblocked?

[2016-03-30 01:46] billwert commented on #2103
@anurse was kind enough to help me figure this out offline.

[2016-03-30 01:46] #2103 closed

[2016-03-30 04:45] cdmihai commented on #2123
I propose 2 ways:
- VS should have a lot of xproj/csproj samples that test many scenarios and p2p shapes
- CLI could keep one small sample to guard against regressions. This still means committing the dlls and lock files for it. If VS breaks the format, it won't be that much of a pain to update. Yes, it will get downloaded on each CLI repo clone, but it should be small.

[2016-03-30 05:25] livarcocc opened #2132 "CI is currently broken because of failing test"
## Steps to reproduce
The dotnet test test is failing in Ubuntu and OSX. We are still in a very old version of dotnet-test-xunit that uses an old version of the DependencyModel.

We need to update our xunit runner to the latest.

[2016-03-30 06:19] colemickens commented on #1488
I can repro. I used this Dockerfile: https://raw.githubusercontent.com/colemickens/polykube/dev/dotnet/dockerfiles/aspnet-base/Dockerfile

Cloned `dotnet/cli-samples`.

Ran `dotnet restore` and `COREHOST_TRACE=1 dotnet run`: https://gist.github.com/colemickens/133e434131961e6fe28178a35ed03696

`Failed to initialize CoreCLR, HRESULT: 0x80004005`

[2016-03-30 06:42] colemickens opened #2134 "Could not resolve SDK directory from [/../netcoreapp1.0/ubuntu.14.04-x64]"
## Steps to reproduce
1. Use this Dockerfile: https://raw.githubusercontent.com/colemickens/polykube/dev/dotnet/dockerfiles/aspnet-base/Dockerfile

2. Use this code: https://github.com/colemickens/polykube/tree/f5910f5a6a616ca60f497800026c04a080852894/dotnet

3. `dotnet restore; dotnet run`

## Expected  behavior

It compiles and runs.

## Actual behavior

[code]

## Environment data
`dotnet --ver

[2016-03-30 06:43] colemickens commented on #2134
I'm assuming that I should use `netcoreapp1.0` with the `1.0.0-beta-002111` build. If not, I can revert to `netstandard1.3`, but then I get a different error.

[2016-03-30 07:10] piotrpMSFT commented on #2103
@billwert can you share the solution so other folks have access?

[2016-03-30 08:01] Gillardo opened #2135 "How do you publish a website with dotnet cli and upload to server?"
What i mean is that before, when using `dnx publish` it would create 3 folders, wwwroot, approot and logs.  You then uploaded these 3 folders to your server, and pointing the IIS at the wwwroot folder that you just uploaded.  Boom website running.

Now it seems to create a folder called publis in the following path MyProject\bin\Debug\net451\win7-x64

Now if i upload the contents of this folder, w