[2016-11-14 18:04] jinujoseph commented on #4701
@piotrpMSFT is this dupe of #4632 ?

[2016-11-14 18:54] joelverhagen commented on #4691
Related: https://github.com/dotnet/cli/issues/4609

[2016-11-14 19:01] jgoshi opened #4716 "Review the need for --runtimes option for restore, build pack commands"
We should figure out our story for when we need to pass in an RID. For example, by putting <RuntimeIdentifiers> in the csproj file we shouldn't need to pass the --runtimes argument to restore. What about for pack?

If we decide there shouldn't be a --runtimes option we need to clean up our build (see the build tasks which have the Runtimes option).

[2016-11-14 19:03] piotrpMSFT commented on #4508
I think we should minimize the default output and in failure cases add a note that says "Rerun with /v:diag for more info"

[2016-11-14 19:42] jeremymeng opened #4717 "Authors property is not migrated by `dotnet migrate`"
## Steps to reproduce
1. Clone https://github.com/serilog/serilog-sinks-coloredconsole.git
2. Open the solution in VS 2017 RC
3. Run `.\Build.ps1` in a Powershell command prompt
4. Look at the content of the new .csproj file.  Check the generated nupkg file in .\artifacts

## Expected  behavior
Authors/Owners are set to "Serilog Contributors", same as when project.json is used

## Actual behavior

[2016-11-14 21:31] twsouthwick commented on #4689
The error I'm seeing (which I'm assuming is being tracked by this issue) is: `RuntimeIdentifier must be set for .NETFramework executables. Consider RuntimeIdentifier=win7-x86 or RuntimeIdentifier=win7-x64`

I am doing a migration for a project that targets .NET 4.6. The manual fix is to do this for now in the csproj file:

[code]

[2016-11-14 22:00] shawnwildermuth commented on #3050
The use-case is for tools that are project specific. Any reason why I'd need to globally install a tool that is just for the current project. For example, imagine a data migration tool that is run by the developers and deployers, but is only used by the project not externally.

[2016-11-14 22:59] #4686 closed

[2016-11-14 23:34] mellinoe commented on #4715
https://github.com/dotnet/buildtools is also hitting this.

[2016-11-15 01:46] am11 commented on #4697
Would also be nice, when [*path to solution dir is a valid git repo*](https://github.com/libgit2/libgit2sharp/blob/88cf9a7b8f1732ae8a2953816895989bb2ae9403/LibGit2Sharp/Repository.cs#L197-L224), `git -c core.longpaths=true tag v<Version> -am <Version>` is also created (like `npm version <Version>` command does).

Some minor details on this account:

* both `npm version 2.8.5` and `npm version v2.8

[2016-11-15 08:02] psulek commented on #3781
@piotrpMSFT , we have same issue, we have:
- asp.net core web mvc app
- in app.config we have configured privatePath **Modules** like:
[code]

And such error is trowed when we want to render "ViewComponent" from assembly loaded from that **Modules** path. Such assembly is registered into ApplicationPartManager, like:

[code]

[2016-11-15 10:09] kubarom commented on #3199
@milla: worked for me as well

[2016-11-15 11:05] daviatorstorm opened #4721 "Restore packages fail 1.0.0-preview4-004079"
## Steps to reproduce
dotenet new -t web
dotnet restore

## Expected  behavior
Restore packages

## Actual behavior
C:\Program Files\dotnet\sdk\1.0.0-preview4-004079\NuGet.targets(70,5): error : Unable to resolve 'Microsoft.NET.Sdk.Web (>= 1.0.0-alpha-20161104-2-112)' for '.NETCoreApp,Version=v1.0'.

## Environment data
.NET Command Line Tools (1.0.0-preview4-004079)

Product Information:
 Version

[2016-11-15 14:13] blackdwarf commented on #4712
/cc @piotrpMSFT @livarcocc

[2016-11-15 14:15] blackdwarf commented on #2199
Just to add to this, the behavior on a Windows machine is even weirder since it will not fail, but will produce something unexepcted. On Windows, I guess that .NET 4.0 ref assemblies exist or MSBuild ends up using the GAC, so without a restore you will not see an error and an assembly will get produced, but it will not be what the user expects.

[2016-11-15 14:29] enricosada commented on #4697
I think `dotnet version` can be confusing for new users (for example vs `dotnet --version`)
Maybe `dotnet set-version` ?

[2016-11-15 14:46] enricosada opened #4722 "Remove `dotnet-` prefix requirement for sdk tool"
Lots of console app are already used in existing projects, but the .net sdk tools are awesome because fix some real issues:

- xplat ready
- boostrapping (download exe before execution, to not commit binaries in repo)
- easy discoverability

Atm the package name can be anything AFAIK, but app name should have `dotnet-` prefix.
But having `dotnet-` prefix as requirement is ok for new tools (like `d

[2016-11-15 15:00] MarkPerryBV commented on #3199
I have had to commit project.fragment.json to my Git repo in order for the solution to build on TeamCity. I have a asp.net core project which references several .net 4.6.2 class libraries. Took a long time to figure out that the build sever could NOT generate that project.fragment.lock using either MSBuild or VSBuild tasks in TeamCity.

[2016-11-15 15:01] enricosada commented on #4722
maybe is the wrong repo. i didnt understood if should go in `dotnet/sdk`.
I'll move it if is the wrong one.

[2016-11-15 15:17] enricosada opened #4723 "Add per repo scope to sdk tools"
The current .net cli tools are per project (csproj) and run only if the working directory is the project directy (scope per project).

But often the tools used in a repo are utilities needed at the repository level for example for build orchestration/documentation/generators/helpers/etc

My wish is to have a list of tools defined in a normal msbuild project, maybe in the root (like `$root/tools.ta

[2016-11-15 17:40] krwq commented on #4655
Fixed by https://github.com/dotnet/cli/pull/4718
Please create a new issue if you find some other not working cases

[2016-11-15 17:40] #4655 closed

[2016-11-15 17:59] livarcocc commented on #4721
You need to add

[code]

to your NuGet.Config. And even though, I don't think all the packages for that template are available yet. We just published it like that so that when they do become available, the template will be correct.

[2016-11-15 17:59] #4721 closed

[2016-11-15 18:00] livarcocc commented on #4714
Can you try migrating from the Command Line. Migration from the new VS is still a work in progress.

[2016-11-15 18:03] livarcocc commented on #4712
I will look into this. You are right.

[2016-11-15 18:21] piotrpMSFT commented on #4014
@atrauzzi we looked into doing the same. The concern is that updating the metapackage would uninstall the previous metapackage's references and break previously running apps. Thoughts on how to manage that?

[2016-11-15 18:25] jgoshi opened #4724 "Migration: Content include directory hierarchy is not preserved"
For a project.json file that has this:
"copyToOutput": {
    "include": [
        "../../TestAssets/TestProjects/AppWithToolDependency/**/*",
        "../../artifacts/*/stage2/sdk/*/.version"
    ],
    "mappings": {
        ".version": "../../artifacts/*/stage2/sdk/*/.version"
    }
}

AppWithToolDependency was copied to the output directory preserving the directory hierarchy from TestAssets, whi

[2016-11-15 18:34] jgoshi opened #4725 "Migration: ProjectReference does not get the correct version for dotnet pack"
The project.json file for Microsoft.DotNet.Cli.Utils contains a version number like this:
"version": "1.0.0-preview4-*"

The it is referenced in project dotnet-dependency-tool-invoker like this:
"dependencies": {
    "Microsoft.DotNet.Cli.Utils": {
      "target": "project"
    }
  }

After running dotnet pack, examining the nuspec file you see this snippet
nuspec:
&lt;dependencies>
      &lt;grou

[2016-11-15 18:36] jeremymeng commented on #4714
Migrating from command line works.  Hit an error when running `dotnet test`
[code]

[2016-11-15 18:40] jgoshi opened #4726 "Migration: runtimeconfig.json file is not included with dotnet pack"
I need to add something like this to the csproj file:
&lt;ItemGroup&gt;
    &lt;Content Include="$(OutputPath)\dotnet-dependency-tool-invoker.runtimeconfig.json"&gt;
        &lt;Pack>true&lt;/Pack&gt;
        &lt;PackagePath>lib\$(TargetFramework)&lt;/PackagePath&gt;
    &lt;/Content&gt;
&lt;/ItemGroup&gt;

Migration should automatically add that when needed (if the OutputType is exe or if the Gen

[2016-11-15 18:40] piotrpMSFT commented on #3993
@TrexinanF14 thanks for the added detail. @blackdwarf can you give this UX issue some thought and reactivate if appropriate?

[2016-11-15 18:43] jgoshi opened #4727 "Migration: preserve cases where nuget and assembly name are different"
In the situations where the nuget package name is different than the assembly name, migration needs to insert the &lt;PackageId&gt; property in the csproj file. When that property is set it will be used (instead of the assembly name) for the nuget package name.

[2016-11-15 18:43] piotrpMSFT commented on #3790
I agree @techcap but since we're replacing PJ with csproj all up, we're not pursuing fixes for PJ [project.json]...

[2016-11-15 18:44] piotrpMSFT commented on #4704
@Petermarcu can you add a repro project for your specific scenario?

[2016-11-15 19:04] piotrpMSFT commented on #4705
Moved to SDK repo

[2016-11-15 19:04] #4705 closed

[2016-11-15 19:11] piotrpMSFT commented on #3387
@koenigsbier can you share a stripped down version of the app?

I think this is the confusion, but seeing an actual project.json will disambiguate for me:

* You are building a portable netcoreapp1.0 application. The application does not have an inherrent CPU architecture affinity
* You would like for that application to be executed in a 64-bit process

[2016-11-15 19:15] piotrpMSFT commented on #3387
We need to provide better UX around this in the CLI.

1. If a project is Portable and will run against the active CLI then --runtime should not be permitted.
2. If a project is Portable with RID-specific assets and those assets are not available for the current RID then we should fail gracefully
3. If a project is Standalone and not targetting the current RID then we should fail gracefully

Ideall

[2016-11-15 19:17] piotrpMSFT commented on #4039
@dzumbuehl can you open an issue to track adding `--no-build` to run, and expand a bit on the scenario in which we want to be able to invoke `run` from a post-compile script?

[2016-11-15 19:18] Petermarcu commented on #4704
Its just dotnet new with a runtime defined that I want to publish for. As soon as I add the runtime, it acts like I want to be fully standalone.

[2016-11-15 19:18] atrauzzi commented on #4014
Is it possible that this would fall under "you got what you asked for"?  If someone wants a specific version, they wouldn't install the metapackage at that point as it will be implied that it's going to roll (sometimes only within a major version).

[2016-11-15 19:19] piotrpMSFT commented on #3996
@psulek I can't comment on real dates, but we have forked a  preview3 branch at build 1.0.0-preview3-004056 and have rev'd the version number of `rel/1.0.0` to preview4...

[2016-11-15 19:21] piotrpMSFT commented on #4703
@Petermarcu https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/ProjectJsonToCSProj.md

I'll work with the host team to see if we can do something more self-contained for the next release.

[2016-11-15 19:22] svick commented on #4014
@piotrpMSFT What if the default templates for .Net Core projects did not depend on a specific version of the SDK? I get that it goes against the currently recommended practice of always specifying versions of packages exactly, but it would avoid this problem and it would also made upgrading to a new SDK easier in general.

[2016-11-15 19:25] gkhanna79 commented on #4703
CC @schellap

[2016-11-15 19:30] piotrpMSFT commented on #4707
are you tring to add some build-time extension to your current context?

[2016-11-15 19:32] piotrpMSFT commented on #4709
Please `dotnet publish` the application after building to make it self-contained.

[2016-11-15 19:35] piotrpMSFT commented on #4711
For globs use `include` instead of `includeFiles`.

[2016-11-15 19:38] piotrpMSFT commented on #4713
Use mapping:
[code]
Source:
https://github.com/piotrpmsft/cli/blob/rel/1.0.0/test/Microsoft.DotNet.Cli.Utils.Tests/project.json#L21

[2016-11-15 19:38] #4713 closed

[2016-11-15 19:42] piotrpMSFT commented on #4710
@SamvelS we need to improve that experience. As @dasMulli suggests, there are already flags in place for disabling any auto-generation of attributes that you are explicitly specifying. What attributes are you defining in assemblyinfo.cs? I'd first like to give you the right content to put in the csproj file, then hear your and @dasMulli's thoughts on how to improve this UX.

/cc @livarcocc @nguerr

[2016-11-15 19:42] piotrpMSFT commented on #4710
/cc @blackdwarf

[2016-11-15 19:44] piotrpMSFT commented on #4685
The suggested fix addressed the original issue, then exposed a different issue which you're tracking in #4710.

[2016-11-15 19:47] piotrpMSFT commented on #3995
#3623 is a similar issue.

Use this workaround:
set the env var `DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true`. This will skip the first-run experience.

When fixing #3623 we will make a first-run failure non-blocking.

[2016-11-15 19:47] piotrpMSFT commented on #3623
I just linked #3995 which is another instance where first run might fail but should not be blocking. Let's track both here.

[2016-11-15 19:49] piotrpMSFT commented on #4604
@jinujoseph you should be able to fix up the sln to point to the post-migrated file instead.

[2016-11-15 19:51] piotrpMSFT commented on #4701
Yep, it's a dupe. Closing this one as the other is already assinged to a milestone.

[2016-11-15 19:51] #4701 closed

[2016-11-15 19:53] piotrpMSFT commented on #4717
@livarcocc may have already opened another bug tracking this.

https://github.com/NuGet/Home/issues/3914 is related.

[2016-11-15 19:54] piotrpMSFT commented on #4689
Thanks @twsouthwick that's exactly what the migration tool will do. It will likely add both RID's for completeness, though.

[2016-11-15 19:56] SamvelS commented on #4710
@piotrpMSFT  I didn't specify any argument at all. Everything is what was generated. The problem was with inner project. I was trying to create solution like structure, created inner folder (on same directory as root csproj file) and added new project to it.
After that first was building inner project (which was generating bin and obj folders) and after that root project.
I removed inner bin/obj f

[2016-11-15 19:56] piotrpMSFT commented on #3050
@shawnwildermuth why does `dotnet path/to/dotnet-tool.dll` not suffice?

[2016-11-15 19:57] krwq commented on #4508
Fixed by https://github.com/dotnet/cli/pull/4719

[2016-11-15 19:57] #4508 closed

[2016-11-15 19:58] piotrpMSFT commented on #4715
@rs38 do you have cycles to take a look?

[2016-11-15 20:03] piotrpMSFT commented on #4697
@simonech: @krwq will be cherrypicking your PR to incorporate into the `dotnet add` verb he is working on :)

[2016-11-15 20:05] piotrpMSFT commented on #4697
Can we move the `version` discussion into #3990? I'd like for whomever picks that up to have the full context :)

[2016-11-15 20:09] piotrpMSFT commented on #4723
@DamianEdwards

[2016-11-15 20:09] piotrpMSFT commented on #4722
@DamianEdwards

[2016-11-15 20:09] jgoshi commented on #4724
Closing this bug because we are tracking this one instead:
https://github.com/NuGet/Home/issues/3953

[2016-11-15 20:12] piotrpMSFT commented on #4712
Dupe of #4715

[2016-11-15 20:12] piotrpMSFT commented on #4715
Closing in favor of #4712. they're dupes and @livarcocc is already looking at the other.

[2016-11-15 20:12] #4715 closed

[2016-11-15 20:12] jgoshi commented on #4725
Closing this bug because we are tracking this one instead:
NuGet/Home#3953

[2016-11-15 20:12] #4725 closed

[2016-11-15 20:13] piotrpMSFT commented on #4714
@jeremymeng glad cmd line migrate worked.

Can you open an issue with repro for the test problem? Ideally include PJ and csproj.

[2016-11-15 20:13] #4714 closed

[2016-11-15 20:14] piotrpMSFT commented on #4704
@eerhardt you seem to be partially online. Thoughts on this one?

[2016-11-15 20:18] piotrpMSFT commented on #4710
@SamvelS I see. So you have:

[code]

Is that right? Then for the first issue, you should be able to modify your `myproj.csproj`'s compile Items like this:

[code]

You may need to play with the glob a little, but this will allow the outer project to ignore the sources of the inner project.

RE the <OuputType> issue can you create a bug with a repro? CLI build generates many EXE's and we've not se

[2016-11-15 20:20] piotrpMSFT commented on #4014
It's not just SDK. The runtime also gets affected. Imagine that you upgrade and your 1.0 CoreFx is replaced with 2.0 :-/

[2016-11-15 20:21] SamvelS commented on #4710
For first one structure is correct.
I will try DLL part with tomorrows build as well and will create a bug if will see it again. I tested on Windows and Mac OS.

[2016-11-15 20:24] blackdwarf commented on #4014
@atrauzzi so once you install the metapackage, you would have to always use the specific version named package moving forward?

[2016-11-15 20:26] piotrpMSFT commented on #4014
This obviously needs to be solved. We just need to identify the right mechanics to do it...

[2016-11-15 20:26] dasMulli commented on #4710
@piotrpMSFT
So i just gave the migration code that parses the `AssemblyInfo.cs` a short test to try to reproduce my former issue.
The migration fails with the following attributes (using the full namespace and/or the "Attribute" suffix):
[code]

used dotnet version was `1.0.0-preview3-004056`. I'll try with the latest `preview4` in a few minutes (sloooow download here in austria).

[2016-11-15 20:39] dasMulli commented on #4710
Same with `1.0.0-preview4-004079`. The migration issue can be worked around by adding the corresponding `<Generate*Attribute>false</..>`. Or by not being such a :trollface: and sticking to the templates and good code styling.

VSCode IntelliSense currently gives the `...Attribute` version for completion in `1.5.0`
<img width="675" alt="screen shot 2016-11-15 at 21 38 48" src="https://cloud.githubu

[2016-11-15 20:47] am11 commented on #4453
With upcoming `dotnet ref [add/rem]` command (#4521), the general experience of dealing with references (and not needing to edit the csprojs) would be improved IMO.

A related thread is here dotnet/roslyn-project-system#639 (ability to add reference from nested directory via glob).

[2016-11-15 21:08] jgoshi commented on #4724
I'm attaching sample projects.
1. TestContentPJ - Sample project.json based project
2. TestContentMsbuild - Migrated project
3. TestAppWithManualFixes.csproj - File that contains the manually added link tags that migration should add.

[Sample.zip](https://github.com/dotnet/cli/files/593106/Sample.zip)

Here is the observed project.json behavior:
1. Anything with a mapping entry specifies the (use

[2016-11-15 21:15] binki commented on #3995
Even when setting that envvar I still get the error:

[code]

[2016-11-15 21:17] binki commented on #3623
@piotrpMSFT Please reopen #3995 or explain how it is a dupe—I don’t think it’s a dupe. Thanks.

[2016-11-15 21:35] Phrohdoh opened #4730 "CLI should automatically run restore for commands that need it. Like pack, build and publish."
## Steps to reproduce

1) Create a .NET Core application (with preview3+ so you can use csproj, not project.json)
2) `dotnet pack`
3) Observer error

## Expected  behavior

A `.nupkg` is created alongside the `.csproj` (or in the directory specified by -o|--output).

## Actual behavior

`error MSB4057: The target "pack" does not exist in the project.`

## Environment data
`dotnet --info` output:

[2016-11-15 21:47] livarcocc commented on #3497
This has been fixed in preview3.

[code]

[2016-11-15 21:47] #3497 closed

[2016-11-15 22:11] vijayrkn opened #4731 "Migration: While migrating web projects, dotnet publish-iis needs to be removed from postpublishscripts section."
## Steps to reproduce
Migrate an xproj webproject with reference to publish-iis

## Expected  behavior
No error during publish

## Actual behavior
dotnet publish-iis not found issue.

In the csproj, this section is added after migration, this should not be added during migration.

  <Target Name="PostpublishScript" AfterTargets="Publish" Condition=" '$(IsCrossTargetingBuild)' != 'true' ">
    <Exe

[2016-11-15 22:12] krwq opened #4732 "dotnet <non-existing-string> exits with NRE in some cases"
## Steps to reproduce
In the root of cli repo type `dotnet asdfasdf`
In some other folders we actually get nice exceptions - I haven't investigated how those folders are different.

## Expected  behavior
Graceful exception

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview4-004088)

Product Information:
 Version:            1.0.0-preview4

[2016-11-15 22:13] livarcocc commented on #4731
Dupe of https://github.com/dotnet/cli/issues/4612.

[2016-11-15 22:13] #4731 closed

[2016-11-15 22:16] livarcocc commented on #4702
@Petermarcu Which editor did you use? Also, can you paste the csproj. This is unexpected. We have fixed this a while ago.

[2016-11-15 22:16] livarcocc commented on #4730
You need to restore first, to bring down the Pack target. Run dotnet restore and then try dotnet pack.

[2016-11-15 22:24] dasMulli commented on #4730
@livarcocc on the automatic restore: could the `MSB4057` be mapped to a more helpful error message when invoked through msbuild forwarding commands?

[2016-11-15 22:33] livarcocc commented on #4730
Possible, I guess. It would help when running something like dotnet msbuild /t:Pack.

[2016-11-15 22:33] blackdwarf commented on #4014
@piotrpMSFT yes. We need to investigate more the metapackage behavior, esp. w.r.t installing and removing bits that it installs.

[2016-11-15 22:58] livarcocc commented on #4727
How do we know that the casing differs?

[2016-11-15 22:58] jeremymeng opened #4734 "dotnet test failed to find testhost.dll after migration"
## Steps to reproduce
1. git clone https://github.com/serilog/serilog-sinks-logentries.git
2. git checkout d7e9975b3b8c99393b5b8dda0b46372544a0dc73
3. dotnet migrate ./global.json
4. cd test/Serilog.Sinks.Logentries.Tests/
5. dotnet restore
6. dotnet test

## Expected  behavior
No errors.
(Expected: zero tests run since this is an empty test project.)

## Actual behavior
[code]

## Environment dat

[2016-11-15 22:58] livarcocc commented on #4726
Was this being automatically included by dotnet pack in pj world? If so, why isn't the new dotnet pack including it? Seems like something that every tool will need.

[2016-11-15 23:40] jgoshi commented on #4726
Yes it was automatically included by dotnet pack in the pj world.

[2016-11-15 23:41] jgoshi commented on #4727
Not casing differences. But cases (situations) where your assembly name is one thing but the nuget package name is something else. I think this has to do with setting outputName in pj?

[2016-11-16 00:24] bzhu94 opened #4736 "Migrated Empty Web App on Full Framework Fails to Build"
## Steps to reproduce
1.Clean Win10 x64 ENU machine
2.Install Dev15 RC from (select .NET Core workload only) :
\\cpvsbuild\drops\VS\d15prerel\products\25913.00\bootstrappers\Enterprise
3. Download the ZIP of the repo https://github.com/balaTest/ProjectKTestProjects.git (
4. Extract the ZIP, then copy Tooling
4. In command prompt, cd into AspNetCoreWeb_OnNet452_Empty_1.
5. Run "dotnet migrate"
6. c

[2016-11-16 00:28] livarcocc commented on #4736
This is a dup of https://github.com/dotnet/cli/issues/4689.

[2016-11-16 00:28] #4736 closed

[2016-11-16 00:41] livarcocc commented on #4726
@rohit21agrawal Should the new pack include this file as well? Otherwise, people who write tools will have to include it in their csproj. Plus, we used to do it in PJ world. Any particular reason why we stopped?

[2016-11-16 01:01] jeremymeng opened #4738 "[Suggestion] cleaner publish layout?"
This is a suggestion from one of our customers.

## Expected  behavior
Customer thinks the current publish layout is cluttered.  He has some suggestions:
- Merge dll's into one or a few bigger dll's, so that the published app would only have an exe, and one (or a few) dll's.  He gave the example of Golang where the packed app is a single executable.
- Or put all dependencies into a `libs` folder a

[2016-11-16 01:18] atrauzzi commented on #4014
The metapackage will install and point to the latest available version -- always.  All the symlinks and paths would constantly resolve to the latest installed version.  When package managers scan for updates, they'll pick up new releases and automatically install them, updating all symlinks.  Nobody would be surprised by this.

If that behaviour is not desired, then you set up a package for every

[2016-11-16 02:24] blackdwarf commented on #4014
@atrauzzi we don't want to prematurely corner people, we just want to figure out a solution where they don't accidentally get broken.

So, if I understand your post above correctly:

1. The user runs `sudo apt-get install dotnet`
2. The user gets 1.0.0
3. We release 2.0.0
4. User runs `sudo apt-get update` followed by `sudo apt-get install dotnet`
5. They get upgraded to 2.0.0

What happens to 1.0

[2016-11-16 02:34] atrauzzi commented on #4014
If I can just briefly tweak your steps before answering:

1. The user runs `sudo apt-get install dotnet`
2. The user gets 1.0.0
3. We release 2.0.0
4. User runs `sudo apt-get update` followed by `sudo apt-get upgrade`
5. They get upgraded to 2.0.0

In the case of the meta package, 1.0.0 is uninstalled.  If however they explicitly `sudo apt-get install dotnet-1`, it's in there not as a dependency o

[2016-11-16 02:50] piotrpMSFT commented on #4710
Thanks for hunting down the root cause, @dasMulli

[2016-11-16 02:50] piotrpMSFT commented on #4710
/cc @livarcocc

[2016-11-16 02:53] piotrpMSFT commented on #3623
@binki just looked at that one and confirmed. That issue was also affected by this one, but also shows remaining symptoms.

[2016-11-16 03:30] piotrpMSFT commented on #4211
https://github.com/NuGet/Home/issues/3229 is the root cause.

[2016-11-16 04:35] piotrpMSFT commented on #3795
I built a small repro of this and experimented with globs in both PJ and csproj. In both cases, the Glob you want to use is `Areas/*/Views/**`. The trailing `**` will pull in the underlying files.

[2016-11-16 04:35] #3795 closed

[2016-11-16 04:38] piotrpMSFT commented on #3214
Closing this since we don't have a repro. If anyone is still hitting this, please do share a .zip or a repo that we can diagnose.

[2016-11-16 04:38] #3214 closed

[2016-11-16 04:46] piotrpMSFT commented on #4260
Verified this still exists in preview3

[2016-11-16 05:09] piotrpMSFT commented on #4260
@wjk thanks for pointing to the corefx issue. I see that it has been fixed in the CoreCLR master branch. Once those bits are in a release we can pull in as a CLI dependency we'll validate and close this issue.

[2016-11-16 05:13] dasMulli opened #4739 "Migration: Delete .xproj.user file"
## Steps to reproduce
* Have a pj/xproj solution you have worked on in VS
   * Alt: Forget a proper gitignore and end up with *.user files in your source control.
* Run `dotnet migrate`

## Expected  behavior
Only a csproj file in project folder.

## Actual behavior
There is a leftover `.xproj.user` file in the directory

## Environment data
`dotnet --info` output:
[code]

[2016-11-16 06:51] gencebay commented on #4707
Hi, I want to install a binary (compiled by .NET Core as Console App) to my local path to execute it from console directly. I found something to do [Chocolatey](https://chocolatey.org/) but it just works on Windows platform and required .NET framework dependencies. It would be nice that when I have dotnet cli (.NET SDK) on my local machine so get a binary from source and execute it with compatible

[2016-11-16 07:43] dsplaisted commented on #4695
The PR has been merged, and the implicit references are the same as I initially listed in this issue description.

[2016-11-16 07:49] memark commented on #2852
Maybe I'm missing something here. Why is it telling me `Run "dotnet build --build-profile" for more information`, when running that exact command gives me no additional information whatsoever?

[2016-11-16 08:32] simonech commented on #4697
I'll be completing the dev this week at latest

Sent from my iPhone

[2016-11-16 08:39] piotrpMSFT commented on #4739
Sure, we can move this one to backup as well.

[2016-11-16 08:55] daviatorstorm commented on #4721
It works.

[2016-11-16 09:38] techcap commented on #3790
I think cli should work even in the case of empty string in define list.

[2016-11-16 10:34] SamvelS commented on #4710
@piotrpMSFT I tried suggested solution with adding `Exclude` to `Compile` section and getting following crash:

[code]

[2016-11-16 10:45] enricosada commented on #3990
The command to set that is useful (build script, etc). but not partial like `--version-suffix` because that's was too limited.

I think `dotnet version` can be confusing for new users (for example vs `dotnet --version`)
Maybe `dotnet set-version` ? but like that is too specific.

Best ihmo for scripting is like what `git` does (example`git config user.mail`) who is both getter and setter
- as gett

[2016-11-16 11:16] enricosada commented on #2333
@piotrpMSFT fixed in `preview3`, can be closed.

[2016-11-16 11:31] enricosada commented on #2305
@piotrpMSFT @abrodersen i tried and with dotnet `1.0.0-preview2-003131` and is fixed.
i tried using same structure/repro steps using c# console and f# lib created from `dotnet new`
i didnt seen that before, so maybe was fixed long time ago (`preview1`?).

Anyway to be sure, i added https://github.com/dotnet/netcorecli-fsc/issues/37 to add a test to current test suite, to avoid in next `preview3` (

[2016-11-16 15:09] SamvelS opened #4742 "Incorrect version of System.Private.CoreLib is loading in .net core"
## Steps to reproduce
I am using 1.0.0-preview4-004079 version of .net core.
Trying to use `IsInterface` property of `Type`. If I am correct it is located in `System.Private.CoreLib` DLL.
Using ILSpy I can see that  `IsInterface` property is available. I've checked with `C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.0.3\System.Private.CoreLib.dll`.
Other types such as ones in `System.Coll

[2016-11-16 16:55] livarcocc commented on #4742
Can you share your CSProj and how you are executing your application?

[2016-11-16 17:28] #4712 closed

[2016-11-16 17:29] #4689 closed

[2016-11-16 17:29] #4717 closed

[2016-11-16 17:30] #4739 closed

[2016-11-16 18:10] SamvelS commented on #4742
@livarcocc
My csproj file is what was generated by default.
Just try to call IsInterface on any Type instance.
I am building by command line

[2016-11-16 18:16] Serjster commented on #1860
one thing you can try doing is to clear out your nuget cache... this seems to have solved my problem... at least for now.

1. Download nuget.exe: https://github.com/NuGet/Home/releases
2. nuget.exe locals all -clear from the folder where you downloaded above (I actually put mine in C:\Program Files (x86)\NuGet\Visual Studio 2015 )
3. Run dotnet restore in your VS Package Manager Console

[2016-11-16 18:29] billwert commented on #2852
@piotrpMSFT @cdmihai does this feature even survive into the msbuild implementation? I don't see the option at all in build's code, but I don't know if it got plumbed through in msbuild somewhere as a passthrough.

[2016-11-16 19:24] sgtobin opened #4743 "dotnet restore and dotnet build fails when pnpm is used to install npm packages"
## Steps to reproduce
use pnpm to install any npm package
then do a 'dotnet restore'

## Expected  behavior
'dotnet restore' would restore packages

## Actual behavior
Error message is displayed: 'error: The name of the file cannot be resolved by the system'

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003133)

Product Information:
 Version:            1.0.0

[2016-11-16 19:46] cookting commented on #4684
I get the above error doing a simple:
dotnet new
dotnet run
Even though there is only one target framework, I still get the same error.

[2016-11-16 20:28] MattGertz commented on #4730
@livarcocc Would it be an existing but different error message or a new one?  Note we are getting close to loc freeze (as we work to move all of the strings to resources), so there is a limited two-week window for a while for any new ones.

[2016-11-16 20:43] MattGertz commented on #4570
@livarcocc @piotrpMSFT Another one like #4370 where it's now or never due to impending loc freeze.

[2016-11-16 21:22] chausner opened #4744 "dotnet test fails due to missing quotes in the call to dotnet exec"
## Steps to reproduce
Create a new, empty xUnit project and attempt to run it:
[code]

## Expected  behavior
Test should complete with zero passing and zero failing tests.

## Actual behavior
`dotnet test` outputs:

Process Monitor shows that `dotnet test` fails to quote the path to vstest.console.dll when running `dotnet exec` internally:

Running the command by hand with the path correctly quote

[2016-11-16 21:23] piotrpMSFT opened #4745 "Eliminate cyclic dependencies in CLI [Utils <-- EF Tools <-- templates]"

[2016-11-16 21:26] TheRealPiotrP opened #4746 "CSProj & SLN CRUD Commands"
This is a tracking issue

### csproj manipulation
 - [x] `dotnet add p2p`
 - [x] `dotnet add package`
 - [x] `dotnet remove p2p`
 - [x] `dotnet remove package`
 - [x] `dotnet list p2ps`
 - [ ] `dotnet list packages`

### sln manipuliation
 - [x] `dotnet add project`
 - [x] `dotnet remove project`
 - [x] `dotnet list projects`

[2016-11-16 21:28] piotrpMSFT opened #4747 "CLI Migration Bug Bash"
Attempt migrating a bunch of projects, identify bugs

[2016-11-16 21:31] piotrpMSFT opened #4748 "Consider moving CLI offline package cache to VS model"

[2016-11-16 22:11] simonech commented on #4697
@piotrpMSFT @krwq I completed what I was doing, but it's as external tool.
If you prefer it as PR directly to the repo let me know

[2016-11-16 22:21] blackdwarf commented on #4746
Relevant for #4521 and #4513

[2016-11-16 22:21] blackdwarf commented on #4521
Tracking issue is #4746

[2016-11-16 22:22] blackdwarf commented on #4513
Tracking issue is #4746

[2016-11-16 22:44] Bartmax opened #4749 "Update all packages on webapi project crashes vs2017"
## Steps to reproduce
Open existing solution with api, web, core project
Using the ui, manage packages for solution, updates, select all, update.

## Expected  behavior
restore all packages.

## Actual behavior
Update all solution packages to 1.1 via nuget package restore hangs and crashes vs2017
Update all api packages to 1.1 via nuget package restore hangs and crashes vs2017
Update all web packa

[2016-11-16 23:03] Bartmax commented on #4749
doing it in batches of 5 per update worked fine.

[2016-11-16 23:05] Bartmax opened #4751 "annoying dependency mismatch Microsoft.NET.Sdk.Web"
after i migrated with lots of problems a solution i keep getting this information message

![image](https://cloud.githubusercontent.com/assets/3386797/20369477/e996e97e-ac37-11e6-9ba4-dab9ed2aa16c.png)

Dependency specified was Microsoft.NET.Sdk.Web (>= 1.0.0-alpha-20161104-2) but ended up with Microsoft.NET.Sdk.Web 1.0.0-alpha-20161104-2-112.

[2016-11-16 23:08] daviatorstorm commented on #4751
Add NuGet.config file to project root directory with the next text insde
[code]
then do `dotnet restore ` and `dotnet run`

[2016-11-16 23:09] Bartmax opened #4752 "Weird folder error after migration on vs 2017 rc"
this happened on a test project and and mvc project.

![image](https://cloud.githubusercontent.com/assets/3386797/20369512/1c96ee64-ac38-11e6-83a7-6b5fb3da7c15.png)

csproj file:

[code]

[2016-11-16 23:10] Bartmax commented on #4751
@daviatorstorm im using 1.1 and 2017rc. I don't want to use nightly build.

[2016-11-16 23:12] Bartmax opened #4753 "project.lock.json isn't moved out of root folder."
## Steps to reproduce
migrate project/solution

## Expected  behavior
all files from previous version that aren't used anymore should be moved into backup folder

## Actual behavior
xproj.user and project.lock.json aren't moved

[2016-11-16 23:19] Bartmax opened #4754 "editing csproj is VERY painfull"
## Steps to reproduce
Edit csproj file

## Expected  behavior
good experience

## Actual behavior
**xml warning everywhere**
![image](https://cloud.githubusercontent.com/assets/3386797/20369684/3f72d92e-ac39-11e6-8aa8-1ec42ae6ad15.png)

![image](https://cloud.githubusercontent.com/assets/3386797/20369701/5f935bde-ac39-11e6-9fd7-eb9b3f7352aa.png)

**no intellisense**
![image](https://cloud.githubus

[2016-11-16 23:36] Bartmax opened #4755 "migration failed with no helpful error messages"
## Steps to reproduce
open project.json file on vs2017rc

## Expected  behavior
migrate sucessfully

## Actual behavior
![image](https://cloud.githubusercontent.com/assets/3386797/20370159/ee2dbed2-ac3b-11e6-859e-5b6ddef0c5a8.png)

trying to run the command manually:
![image](https://cloud.githubusercontent.com/assets/3386797/20370192/26501134-ac3c-11e6-87fa-70fe3864b85e.png)

removing the -p swit

[2016-11-16 23:58] daviatorstorm commented on #4751
Apparently, you cannot use that dependency :smile:
As i testing VS 2017 RC it uses last installed dotnet sdk. The best solution for your task, I think, use VS 2015.

[2016-11-17 00:15] lobster2012-user opened #4756 "Microsoft.NETCore.App 1.1.0 + vs 2017!! RC"
## Steps to reproduce
net core console project template
console.writeline(...)
update reference on Microsoft.NETCore.App to 1.1.0 (with previous versions all good)
It was updated from via nuget from 1.0*

## Expected  behavior

## Actual behavior
Program                                       exited with code
Программа "[12344] dotnet.exe" завершилась с кодом -2147450749 (0x80008083).

## Environme

[2016-11-17 00:53] brianrob opened #4757 "dotnet migrate puts the backup project.json file for project to project dependencies in the wrong place."
## Steps to reproduce
1. Create two project.json based projects where one depends on the other via project to project reference.
2. dotnet migrate the root package.
3. Look in the directory of the root package and you'll have a directory with the name of the leaf project that contains its project.json rather than it being in the backup directory of the leaf project directory.

## Environment data

[2016-11-17 00:53] brianrob commented on #4757
cc: @piotrpMSFT

[2016-11-17 00:54] thinktainer commented on #4744
Seeing the same behaviour in win81-x64:
`dotnet --info`

[2016-11-17 01:21] GuardRex opened #4759 "Failure with dotnet publish on preview tooling for MSBuild/csproj"
## Steps to reproduce

Using `1.0.0-preview4-004079` ...

1. Execute `dotnet migrate` to migrate `project.json`-based Core project to MSBuild/`.csproj` project
2. Execute `dotnet publish --configuration Release --runtime win10-x64`

See resultant `.csproj` file here: https://gist.github.com/GuardRex/58bb9e17a9b372c7bfcd3f79043365ab

## Expected  behavior

Successful publish of project. [Note: `dot

[2016-11-17 02:26] GuardRex commented on #4759
I believe the problem here was that I updated the tools but didn't install the SDK (duh!).

I have a different exception now, but that might be related to aspnet/MvcPrecompilation#30

[2016-11-17 02:26] #4759 closed

[2016-11-17 02:27] Bartmax commented on #4755
in my case was solved by removing the `prepare` command on `scripts` section

[2016-11-17 02:39] glenn-barnett opened #4760 "Fresh Mac Install: "The specified framework 'Microsoft.NETCore.App', version '1.0.0' was not found.""
## Steps to reproduce

I'm a first-timer; just installed dotnet-dev-osx-x64.1.0.0-preview2-1-003177.pkg

The hello world sequence worked fine - I ran into problems setting up a webapp via https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-create-web-app-using-vscode

If i do the `dotnet build` or `dotnet ef ...` steps, I get the following output:

<code>The specified framework 'Micro

[2016-11-17 02:56] glenn-barnett commented on #4760
Installing .NET Core 1.0.1 SDK (package) fixed my issue - the problem seems to be the Yeoman templates (`yo aspnet`) are not yet ready for 1.1.0

[2016-11-17 04:53] rohit21agrawal commented on #4726
This is because the output files that are packed depend on msbuild target BuiltProjectGroupOutput. This target does not include runtimeconfig.json file in the list of output files.

[2016-11-17 05:02] dasMulli commented on #4751
I think the -2-112 package was fixed in the template post-release..
New versions seem to be pushed to the [`dotnet-web` feed](https://dotnet.myget.org/gallery/dotnet-web).

[2016-11-17 06:44] dmirmilshteyn commented on #4752
I've been able to get around this by removing:
[code]
as per #4640

[2016-11-17 08:00] Bartmax commented on #4752
@dmirmilshteyn unfortunately, i don't have that. :(

[2016-11-17 08:49] piotrpMSFT commented on #4707
@blackdwarf you wrote a CLI extensibility guide at one point. Can  you share? Perhaps a link to your demo as well?

@gencebay we today support wrapping console apps as nuget packages and then restoring them to other machines. It is close to the behavior that you want, though there are some issues [it requires running in the context of a csproj] that make this approach not ideal. @blackdwarf should

[2016-11-17 08:50] piotrpMSFT commented on #3790
Try it out with preview3 bits. Are you seeing a similar issue?

[2016-11-17 08:50] piotrpMSFT commented on #4710
@SamvelS do you have a minimal repro you can share?

[2016-11-17 08:52] piotrpMSFT commented on #2333
Thanks for confirming @enricosada !

[2016-11-17 08:52] #2333 closed

[2016-11-17 08:52] piotrpMSFT commented on #2305
Thanks for confirming @enricosada !

[2016-11-17 08:52] #2305 closed

[2016-11-17 08:57] simonech commented on #3990
I wrote a small tool: https://github.com/simonech/dotnet-prop/
it is `dotnet prop add --version <version_num>`

[2016-11-17 09:02] piotrpMSFT commented on #4742
I checked the CoreFx repo and found that IsInterface hangs off of TypeInfo, not type:
https://github.com/dotnet/corefx/blob/ce4f75ffa1abf74c6b7a59c93acf23ac5b8b3b1b/src/System.Linq.Expressions/src/System/Dynamic/Utils/TypeUtils.cs#L199

I was able to use this knowledge to generate a working sample in the manner @SamvelS describes. Here is the Main which calls IsInterface:

[code]

[2016-11-17 09:02] #4742 closed

[2016-11-17 09:05] piotrpMSFT commented on #2852
This feature is not needed in MSBuild as MSBuild has its own incrementality mechanism which can be diagnosed via `/v:diag` [there is logged output that tells us why incrementality optimizations failed e.g. an input is newer than an output.

[2016-11-17 09:05] #2852 closed

[2016-11-17 09:08] piotrpMSFT commented on #4743
Can you try with preview3?

[2016-11-17 09:18] piotrpMSFT commented on #4749
Moved to NuGet repo

[2016-11-17 09:18] #4749 closed

[2016-11-17 09:19] piotrpMSFT commented on #4753
xproj.user got fixed last night with #4741

Updating title to track project.lock.json

[2016-11-17 09:20] piotrpMSFT commented on #4754
@MattGertz FYI. Not much we can do here in the CLI, but it's an experience that needs to be improved for sure...

[2016-11-17 09:22] piotrpMSFT commented on #4756
I'm not able to get a local repro. Can you share the `dotnet --info` output and perhaps your repro project so we can get to the bottom of this? Please re-open once info is available.

[2016-11-17 09:23] enricosada commented on #4521
It's possible to add also an option to set also `PrivateAssets` property for `PackageReference`?
it's useful for adding sdk packages who need `<PrivateAssets>All</PrivateAssets>`

So something like `--private-assets "All"` ?
@blackdwarf  if ok, i can add that (i need that for adding fsharp sdk package :D, so personal interests) but i think is useful for scripting/tutorial to add `dotnet test` sdk

[2016-11-17 09:49] SamvelS commented on #4710
@piotrpMSFT  sure, here is project https://dl.dropboxusercontent.com/u/65479031/folder.zip.
When you try to restore, it gives error above.

[2016-11-17 09:56] lobster2012-user commented on #4756
https://github.com/lobster2012-user/test_vs7

[code]

[2016-11-17 10:18] witchdrash commented on #4714
@piotrpMSFT
The order of migration is really important, because, for some reason the dotnet migrate command (and it's VS2017 equivalent) deletes the project.json immediately after it's containing project is migrated, so any project that references the project just migrated and can no longer migrate.

Fortunately when I migrated my project is was in source control so I simply reverted each project.

[2016-11-17 10:20] GuardRex commented on #4747
Is this tracking issue for internal use, or did you want to hear about community `dotnet migration` problems, as well. I have a pair of small ones thus far (but they are being addressed in other issues).

[2016-11-17 10:23] GuardRex commented on #4751
Hit this, too, @bartmax. I solved it by going wildcard on the package ...
[code]

[2016-11-17 10:24] piotrpMSFT commented on #4757
Such a fun bug :D oi, those relative paths...

[2016-11-17 10:28] piotrpMSFT commented on #4744
Thanks folks. The `test` repo isn't public yet, but I'm moving the bug over there. Once the repo is open, issue 231 is what we're tracking. Leaving CLI copy open until that repo is public.

@harshjain2 @Faizan2304

[2016-11-17 10:29] GuardRex commented on #4738
I'd like to plug tho that this is no real bother imo. Just creating fewer files doesn't seem like a significant benefit, and moving deps into folders reduces the "flatness" of the published output, which is clean and simple to navigate.

[2016-11-17 10:31] piotrpMSFT commented on #4755
FYI the command line migration experience is significantly further ahead than the IDE integration. If you see migration errors in VS:
- revert
- go to the solution root directory in the command windows
- `dotnet migrate`

[2016-11-17 10:32] piotrpMSFT commented on #4760
Thanks for following up :)

[2016-11-17 10:32] #4760 closed

[2016-11-17 10:36] piotrpMSFT commented on #4751
@livarcocc FYI

Oi... migration adds a whole new dimension to "The impact of taking one more fix before locking things down for realz" :-/

@GuardRex I strongly discourage * dependencies. The good thing is they're magical. The bad thing is they're... magical.

@Bartmax please update your csproj file to the 112 version number. Other folks as well.

Leaving this open to fix up release process to acc

[2016-11-17 10:38] GuardRex commented on #4612
@livarcocc I also asked @natemcmaster over in https://github.com/aspnet/IISIntegration/pull/299#issuecomment-261149435 before I saw this issue.

Are we just going back to a handmade `web.config` and something like ...
[code]
... to get it into published output?

[2016-11-17 10:39] piotrpMSFT commented on #4752
This is a packaging issue in diasmreader where the dll is being pulled in as a content file and the new Globbing feature in the VS UI is displaying the full relative path as best as it can. If anyone has wondered what `../` looks like in a tree view... there it is :)

I'm going to close the issue since it's really by-design given the package's authoring, but hope @tmat and @srivatsn can share some

[2016-11-17 10:39] #4752 closed

[2016-11-17 10:41] GuardRex commented on #4751
Hardcoding that package tho results in this for me ...
[code]

[2016-11-17 10:41] GuardRex commented on #4751
Maybe a little :sparkles: magic :sparkles: isn't such a bad thing. :smile:

[2016-11-17 10:44] piotrpMSFT commented on #4521
@enricosada I like the proposal. Can you wait on #4758? We decided to change the calling convention for this class of commands to get back to `dotnet {verb} {subject} {object}` behavior and @krwq is making fairly big code changes to account for that. Once it's merged, we'll have a basis for other commands including adding package refs and the private flag.

@rrelyea I believe this ask, having a ve

[2016-11-17 10:44] SamvelS commented on #4742
Calling `GetTypeInfo().IsInterface` instead of `IsInterface` solved that problem.
But System.Private.CoreLib.dll (C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.0.1 or 1.0.3) which is referenced form mscorlib.dll has `Type` which has `IsInterface`. Also there is `AppDomain` which is missing in my case.
Can I somehow force my app to use DLLs from that path as I need `AppDomain` as well?
I a

[2016-11-17 10:45] piotrpMSFT commented on #4521
@dasMulli Can you open an issue in nuget/home to track the PackageRef update verb you propose?

[2016-11-17 10:45] piotrpMSFT commented on #4521
@blackdwarf can you update the docs at the top to match the current POR for impl?

[2016-11-17 10:53] piotrpMSFT commented on #4710
Thanks for that! What a gnarly bug.

@cdmihai @rainersigwald @jeffkl can you guys take a look? NullRef in MSBuild!

[2016-11-17 10:54] koenigsbier commented on #3387
@piotrpMSFT sorry there was still lots of mystery with CLI, Visual Studio and NuGet on my side.
You should probably read [this](http://stackoverflow.com/a/40652794/1203116). Even though I finally got the solution of my issue, there is lots of things in that process that I don't think are legit.

There is probably some issues (or I need to dig more in that part to understand why they are not issues

[2016-11-17 11:01] piotrpMSFT commented on #4756
I see a failure as well, though a different one:

[code]

but this is because I've not installed the 1.1 runtime from here:
https://www.microsoft.com/net/download/core

@schellap, in case the host error code tells you something.

[2016-11-17 11:03] piotrpMSFT commented on #4714
@witchdrash just run `dotnet migrate` from the root directory of the solution. So long as it has the full context it will migrate everything before cleaning up. It only cleans up when it believes it has addressed the entire closure.

Also, note it does not delete. It creates a `backup` folder where it stashes the deprecated artifacts. There is a bug, however, that the path to backup is miscalculat

[2016-11-17 11:05] piotrpMSFT commented on #4747
It was intended for internal tracking, but if the community wants to throw bugs our way we'd be obliged [as it allows us to spend time fixing bugs instead of hunting for them :D] :bug: :gun:

[2016-11-17 11:07] piotrpMSFT commented on #4738
I moved this to backlog to give space for discussion, but I don't expect a clear cut "right" answer. This is all very subjective. I'm curious about opinions, and will help where possible, but if we're down to two options with subjective benefits... that doesn't sound like making a change will improve thigns.

[2016-11-17 11:11] piotrpMSFT commented on #4751
Restore fails to find the thing it... restores...

Something is fishy here. @rrelyea any ideas?

:EmotionFeltWhenCantFindGuardRex'sEmoji:

[2016-11-17 11:12] piotrpMSFT commented on #4742
Excellent question for https://github.com/dotnet/corefx repo. CLI just does what the CoreFx nupkg's tell it to :D

[2016-11-17 11:14] piotrpMSFT commented on #3387
Thanks for the link. I bet we have docs on how this is supposed to work. @blackdwarf @rrelyea can you share pointers?

[2016-11-17 11:39] GuardRex commented on #4747
:+1: ... What we could do (e.g., @bartmax issues along with others) is just reference the open issues here and check them off as they're addressed. Either that, or I'll just filter CLI issues by the `migration` label. I'm particularly interested in what devs hit that are relevant for my upcoming doc updates.

- [ ] There's the Sdk package version restore we're talking about in https://github.com/d

[2016-11-17 12:36] fubar-coder opened #4761 "dotnet build fails for beanio-net after migrate"
## Steps to reproduce

1. Clone [beanio-net](https://github.com/FubarDevelopment/beanio-net)
2. Checkout branch `release/4.0.0`
3. Remove the `sdk` entry from the `global.json`
4. Try to open the solutin in VS2016 RC (projects in solutions cannot be converted - no useful error message)
5. Run `dotnet migrate` from the command line (succeeds)
6. Open `BeanIO.sln` (loading projects are failing)
7. R

[2016-11-17 14:35] blackdwarf commented on #4707
@gencebay here is the Preview 2 (project.json based CLI) extensibility document: https://docs.microsoft.com/en-us/dotnet/articles/core/tools/extensibility. Preview 3 (MSBuild based) extensibility document is on https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/extensibility.

These should get you going if you wish to write your console app as an extension.

[2016-11-17 14:51] sgtobin commented on #4743
Whats the easiest way to get the preview 3 bits ?

[2016-11-17 14:55] sgtobin commented on #4743
btw - I'm guessing the issue is related to the symlinks used by pnpm. If I npm (rather than pnpm) the packages, everything is good.

[2016-11-17 15:18] sjdweb opened #4762 "Add `dotnet nuget` and `dotnet msbuild` to --help output"
## Steps to reproduce
When using dotnet-cli on non-Windows machines, you are able to make use of `dotnet pack` to prepare your NuGet packages for publishing, but still need to use `nuget push` to finish the job. Unfortunately this relies on Mono which has issues with certain SSL ciphers and TLS 1.2. Which means you cannot publish NuGet packages and must use Windows. [Here](https://bugzilla.xamarin

[2016-11-17 15:58] AFimin commented on #4734
Hallo,
I'm experiencing same errors.

dotnet --info output:

.NET Command Line Tools (1.0.0-preview4-004079)

Product Information:
 Version:            1.0.0-preview4-004079
 Commit SHA-1 hash:  43dfa6b8ba

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64

[2016-11-17 16:36] dasMulli commented on #4762
You could use `dotnet nuget push`. However, `dotnet nuget` isn't shown in the help text, just like `dotnet msbuild`.

[2016-11-17 16:37] svick commented on #4762
Preview 3 has [the `dotnet nuget push` command](https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-nuget-push) for exactly this purpose.

[2016-11-17 16:44] rainersigwald commented on #4710
Nasty indeed. I suspect the same root cause as https://github.com/Microsoft/msbuild/pull/1349.

[2016-11-17 17:04] Bartmax commented on #4755
I think you should track the error when having not expected things like `prepare` on the `scripts` section. because neither command line or ide was able to migrate properly.

[2016-11-17 17:06] Bartmax commented on #4752
is there any workaround or is something that should be fixed on the ide?

[2016-11-17 17:42] natemcmaster opened #4764 "Project tools extension cannot target netcoreapp1.1"
## Steps to reproduce
Create a sample extension tool (e.g. dotnet-blah).
Target 'netcoreapp1.1' instead of 'netcoreapp1.0'.
Build
Pack
Restore into a new project from "project.json > tools" or csproj/DotNetCliToolReference.

Real life example: https://www.nuget.org/packages/BundlerMinifier.Core/2.2.305

## Expected  behavior
Installed tool. "dotnet blah" runs correctly if .NET Core 1.1 is installe

[2016-11-17 17:54] natemcmaster commented on #4764
cc @emgarten this not sure which layer of the stack (CLI or NuGet or both) this issue belongs to.

[2016-11-17 18:12] piotrpMSFT commented on #4761
@fubar-coder so you expect the additionalArguments to be passed to the compiler?

Other issues here are known:
* #4632 tracks migrating the sln file
* VS change is tracked internally

[2016-11-17 18:13] piotrpMSFT commented on #4743
@blackdwarf I know that our latest bits went live yesterday but I cannot find a pointer on http://dot.net. Can you help?

[2016-11-17 18:15] piotrpMSFT commented on #4762
Tracking updating help content with this issue, after changing title.

[2016-11-17 18:25] piotrpMSFT commented on #4710
@rainersigwald do you want this in MSBuild repo? We can't do much here  in CLI so I'd like to close...

[2016-11-17 18:38] piotrpMSFT commented on #4755
Did the command line not notify you that `prepare` is no longer supported? It's not an error to be resolved.

[2016-11-17 18:39] piotrpMSFT commented on #4752
I believe the IDE is doing the right thing since that Content element is being added to the context of the project. It's a thing that should be fixed in the package. @srivatsn is the right person to comment on the final resolution.

[2016-11-17 18:40] piotrpMSFT commented on #4764
Tools only support netcoreapp1.0 in the current design.

[2016-11-17 18:40] blackdwarf commented on #4762
This is a dupe of #4700.

[2016-11-17 18:43] natemcmaster commented on #4764
FWIW tools that reference Microsoft.NETCore.App/1.1.0 but target netcoreapp1.0 will still run on the .NET Core 1.1 sharedfx.

[2016-11-17 18:44] blackdwarf commented on #4743
Sure, the best link to use is https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md.

[2016-11-17 19:23] piotrpMSFT commented on #4762
@blackdwarf I don't see `msbuild` in the updated help text in #4700.

[2016-11-17 19:23] piotrpMSFT commented on #4762
nor `nuget`

[2016-11-17 19:24] piotrpMSFT commented on #4764
Yep, I know. It's an existing design limitation we want to get to before RTM...

[2016-11-17 20:22] piotrpMSFT commented on #4744
The Test team followed up with me and pointed out that this should already be fixed in the preview4 nightlies. Can you try the latest installer from https://github.com/dotnet/cli [there is a big table of installer links if you scroll down] and see if this is still an issue?

[2016-11-17 21:01] blackdwarf commented on #4762
@piotrpMSFT there is no updated text in #4700. :) The text there is actually the current situation. I will add it.

[2016-11-17 21:37] jvandertil opened #4765 "'dotnet pack -o .' places NuGet packages in project folder"
## Steps to reproduce
`dotnet pack -o . src\project\project.csproj`

## Expected  behavior
NuGet packages are placed in current folder as specified with `-o .`
This worked properly using preview2 tooling (1.0.0-preview2-003131) and project.json.

## Actual behavior
NuGet packages are placed in `src\project`.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview3-00405

[2016-11-17 21:40] sjdweb commented on #4762
Great to see this is in preview3 already! Awesome.

Would you like a pull request for the updated docs or do Microsoft devs usually handle that?

[2016-11-17 21:47] jvandertil commented on #4747
Not sure if a bug caught me off guard:

1. Have 2 projects A, B with a reference B -> A
2. Convert A
3. Converting B fails with reference not found (project.json).

For example:
[code]

Reverting everything, editing the global.json again, and running a dotnet migrate from the root works without problems though.

[2016-11-17 21:47] svick commented on #4762
@sjdweb What docs are you specifically talking about? [There already is documentation for `dotnet nuget push` on docs.microsoft.com](https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-nuget-push) and `dotnet --help` is being updated by https://github.com/dotnet/cli/pull/4763.

[2016-11-17 21:51] sjdweb commented on #4762
@svick I see. I meant the `dotnet --help` output. #4763 fixes it.

[2016-11-17 22:05] natemcmaster commented on #4747
Ran into the same issue as @jvandertil when using VS 2017 RC migration. The `--skip-project-references` flag didn't seem to help. Repro: try converting [this code](https://github.com/aspnet/DotNetTools/tree/2a0e827f9b6b6161604fb94a687e155e404f005a) in VS 2017 RC.

[2016-11-17 22:08] krwq opened #4766 "Command line parsing does not support all scenarios and causes need to reimplement it"
Examples I found:
- `dotnet` and `dotnet (add|list|del|...)` command logic: chaining commands
- Pending in review `dotnet add` - `<object>` and `<command>`  are both positional args which require `<command>` and do not require `<object>` - to determine which one is which we need a way of giving a parser some predicate which determines if this arg accepts this value
- `dotnet add` - auto generated

[2016-11-17 22:09] natemcmaster commented on #4745
FWIW I'm made some progress on this for dotnet-watch by removing dependency on Utils altogether. dotnet-user-secrets (aspnet/DotNetTools) will follow soon. dotnet-ef (aspnet/EntityFramework.Tools), and dotnet-aspnet-codegenerator (aspnet/Scaffolding) still have a dependency on Cli.Utils

[2016-11-17 22:10] muratg commented on #4746
Nice!

[2016-11-17 22:16] krwq opened #4767 "Design: Dotnet (add|del|list|...) - paths: relative, absolute, globs, wildcards"
We should determine how should we parse paths in pending dotnet-add dotnet-list and dotnet-del commands.

I'll leave this part out of https://github.com/dotnet/cli/pull/4758 as there is too many unknowns and I believe this will create unwanted design discussion and side feature.

Open questions:
- Should adding absolute path (or overcomplicated relative) convert it to most simplified relative path

[2016-11-17 22:23] piotrpMSFT commented on #4765
@rainersigwald @rrelyea it seems like `.` is being interpreted relative to the project root and not the PWD. This seems like a broken experience since it is natural to assume that relative paths are relative to the PWD. Thoughts on this?

[2016-11-17 22:24] piotrpMSFT commented on #4762
Cool. We'll close this once #4736 is merged.

[2016-11-17 22:30] rainersigwald commented on #4765
@piotrpMSFT how are you passing the cli argument down into MSBuild?

Paths in projects are relative to the project, because the CWD can change arbitrarily but you wouldn't want to be referring to different files (say if you built the same project as `msbuild something.proj` and then again as `msbuild ..\..\some\other\thing\something.proj`).

So if (as I suspect) you're setting a property to the va

[2016-11-17 22:32] piotrpMSFT commented on #4747
VS 2017 RC has a known issue where migration fails for multi-project solutions. It's due to conflicting backup strategies between the CLI and VS.

The original issue here is that the CLI has no way of knowing that a successfully migrated project might be depended on by projects it does not refer to... so it cleans up after itself. The solution here is to run migrate from the parent directory so `m

[2016-11-17 22:33] piotrpMSFT commented on #4745
@natemcmaster do you have plans to eliminate all of these dependencies? What are you doing instead?

[2016-11-17 22:39] piotrpMSFT commented on #4765
@rainersigwald this means that the issue will repro for folks using MSBuild directly and not via CLI. Wouldn't this be more scalable if `.` were interpreted early on by e.g. the SDK? I do get the concern that it's just another property to MSBuild until interpreted by a target/prop.

@nguerrera @dsplaisted thoughts?

[2016-11-17 22:40] natemcmaster commented on #4747
Yeah, it's a tricky situation. The only helpful suggestion I can make is that in some situations dotnet-migrate could prompt the user with "We detected a problem: {description}. If you continue, manual fix up may be required. Would you like to ignore this and continue migrating? [y/N]". Basically, I want dotnet-migrate to do the bulk of the conversion work. I don't mind making some manual edits if

[2016-11-17 22:44] muratg opened #4768 "CLI templates should still create global.json"
Related: https://github.com/aspnet/Templates/issues/716

Because we have a mixture of project.json and csproj SDKs on various environment (for example, Azure App Service) apps that do not have global.json always use the latest SDK available.

Several folks deploying their PJ based apps to Antares through Kudu hit this already.

[2016-11-17 22:56] natemcmaster commented on #4745
You might consider splitting Cli.Utils, as it has become sort of a grab back of APIs. I see basically three distinct groups of APIs in this library:

1. Utilities for command line apps in general (e.g. ArgumentEscaper, StreamForwarding, Reporter, AnsiColors)
1. Utilities for dotnet-CLI's build in commands. (e.g. CommandResolution, CoreHost, PerfTracing, most of the Constants)
1. Abstractions for C

[2016-11-17 23:02] piotrpMSFT commented on #4768
@mlorbetske @davkean who own some of the templates

[2016-11-17 23:04] piotrpMSFT commented on #4745
For Group 3 we may need to move to an explicit LKG model. These APIs are fairly well baked at the moment.

[2016-11-17 23:04] davkean commented on #4768
Need some background on this - there's not enough context in linked issue, where does the global.json come into play in the new CLI, has things changed since I've been away?

[2016-11-17 23:07] chausner commented on #4744
Thanks Piotr, I can confirm that it is fixed for 1.0.0-preview4-004079.

[2016-11-17 23:07] #4744 closed

[2016-11-17 23:10] napalm684 opened #4770 "Unable to migrate multi-project solution to Asp.net Core 1.1"
Migration tool does not seem to support multiple project solutions well.

ReciPiBook.Api Message src\ReciPiBook.Api\ReciPiBook.Api.xproj: Failed to migrate XProj project ReciPiBook.Api. 'dotnet migrate -s -p "C:\Users\xxx\Documents\Visual Studio 2015\Projects\ReciPiBook2017\ReciPiBookCore\src\ReciPiBook.Api" -x "C:\Users\xxx\Documents\Visual Studio 2015\Projects\ReciPiBook2017\ReciPiBookCore\src\R

[2016-11-17 23:11] bricelam commented on #4745
I'm also removing the dependency on Utils in dotnet-ef.

[2016-11-17 23:12] blackdwarf commented on #4700
Here is a proposal on how the text should look like:

[code]

[2016-11-17 23:12] blackdwarf commented on #4762
@piotrpMSFT issue #4700 updated with the needed/updated text.

[2016-11-17 23:12] muratg commented on #4768
@davkean, I asked if GJ is supported in the new CLI, and @blackdwarf confirmed that it is.  If this is incorrect, what's the mechanism for selecting a particular SDK version nowadays?

The concrete issue that folks are hitting is this:  Antares has a bunch of preview2 SDKs, and as of a couple days, one preview3 SDK, all side-by-side. So consider that you have a project.json based project, but lack

[2016-11-17 23:14] davkean commented on #4768
@blackdwarf @piotrpMSFT How is global.json used in the new CLI?

[2016-11-17 23:15] blackdwarf commented on #4768
@davkean the global.json is used only for the `sdk` property.

[2016-11-17 23:15] natemcmaster commented on #4745
IIRC aspnet/Scaffolding is the only tool still using ProjectDependenciesCommandFactory. dotnet-ef moved away from this API and dotnet-razor-tooling isn't being ported to msbuild.

[2016-11-17 23:18] natemcmaster commented on #4745
....(premature form submit).
... but I believe aspnet/Scaffolding has looked into removing this usage as well. cc @prafullbhosale

[2016-11-17 23:28] nguerrera commented on #4765
@piotrpMSFT AFAICT msbuild actually changed the CWD to the project dir, so I don't know how the SDK can do anything about this.

[code]

[code]

[2016-11-17 23:31] alinapopa commented on #4770
I have seen the same issue when migrating a solution to VS 2017 RC: in the solution there are projects A and B, B depends on A. Project A is migrated successfully and its project.json is moved, then when it tries to convert project B, it looks for project A's project.json, but it's not there since it was already moved.
There are three issues:
- failure to migrate when there are projects in solutio

[2016-11-17 23:52] piotrpMSFT commented on #4747
It leads to an interesting idea:

`dotnet migrate` cannot find a `project.json` file in `directory`. If you've previously migrated that project, please restore the project.json file from the backup folder.

[2016-11-18 00:00] rainersigwald commented on #4765
We do offer the magic property `$(MSBuildStartupDirectory)` . . . the SDK could use that. Maybe something like `$(System.IO.Path::Combine($(MSBuildStartupDirectory), $(PropertyThatGetsPassedIn))`, which would allow a fully-qualified passed-in path to override?

[2016-11-18 00:03] rainersigwald commented on #4710
Yes, let's call Microsoft/msbuild#1349 the original and close this as a duplicate.

[2016-11-18 00:14] livarcocc commented on #4695
I believe we are only adding System. I will remove it though.

[2016-11-18 00:21] haraldnagel commented on #4770
You can see the error if you run the `dotnet migrate` command manually from each project directory - it's prematurely discarding the `project.json` file during conversion (it saves a backup you can put back in place).

I manually upgraded each project in my solution to get around this issue and then ran into another one.

[2016-11-18 00:25] napalm684 commented on #4770
Even if manual migration behaves (I'd have to try it on my repo) can anyone explain why the projects cannot be recreated manually?  As mentioned the nuget installations of libraries like MVC and Microsoft.Extensions.DependencyInjection are not recognized despite successful installation.  Is the solution overall left in a bad state because of the failed migration?

[2016-11-18 00:28] srivatsn commented on #4752
Yes the IDE is just trying to display the items in the project. The package should be fixed to not include such items. I can't think of any good workarounds. You can add `<Content Remove="path to that file" /> to your project and it will go away but then that file won't get copied to output which is need for runtime. You could maybe then write a target that copies the file to outputpath as well.

[2016-11-18 00:37] haraldnagel commented on #4770
@napalm684 I'm guessing here but it looks to me like the `migrate` command just migrated the `.xproj` projects to `.csproj` but didn't actually update any references to libraries or anything. I think the best approach here might be to try to upgrade to .NET Core 1.1 in VS2015 and then once it's running in 1.1 do the migration to VS2017RC.

[2016-11-18 01:00] Oceanswave commented on #3919
Running into this exact same issue. I can use mappings to copy files from a folder to a subfolder of the output folder but not directly INTO the output folder.

Normally, this would be not too bad, but I'm also p/invoking to a native library. On windows, the DllImport attribute will find dlls in subfolders without their extensions - e.g.  [DllImport('nativelibs/mydll')] but this doesn't work on ma

[2016-11-18 01:32] #4710 closed

[2016-11-18 01:33] #4700 closed

[2016-11-18 01:35] piotrpMSFT commented on #4752
fixed a markdown error in the previous comment

[2016-11-18 01:42] piotrpMSFT commented on #4770
For the project-to-project dependencies, you have two options:
1. Recommended: run migration from the parent directory of the projects. No arguments needed. Migrate will scan the child directories and migrate while preserving context, then clean up only once migration has fully completed.
2. Migrate the projects individually, but pass `--skip-backup` so the project.json files are left behind. Then

[2016-11-18 01:43] nguerrera commented on #4765
Then we also have to repeat and give TreatAsLocal to every directory that could get passed in (there are many). Sounds messy. I'd say that if you invoke directly via msbuild then thIngs should work as they always have. The CLI, acting as an abstraction over msbuild, can have different behaviour.

[2016-11-18 01:44] piotrpMSFT commented on #4770
@napalm684 I'm not sure about the manual recreation issues. does your repo include the manually generated file?

[2016-11-18 01:47] piotrpMSFT commented on #3919
@dmcweeney, @Oceanswave we've not been able to repro this on preview3 with msbuild. If you have a preview3 repro I'm happy to take a look.

This issue is closed because we're not pursuing a fix on pre-preview3 [project.json] CLI's. If we have a preview3 repro please open a new issue and link this one.

[2016-11-18 01:56] mauricew commented on #4754
I've got a solution just for tag completion and removal of the warnings, involves adding a bit of extra XML schema.
https://git.io/vX7uW

[2016-11-18 02:15] piotrpMSFT commented on #4765
If we're not going to address this in the SDK then I think CLI should be consistent with other products. This is a migration pain in the short term, but offering differing behavior will lead to long-term issues. It's unfortunate that the migration tool can't capture these sorts of scenarios, however.

@blackdwarf I'd love to hear your thoughts on this.

I think the POR recommendation is that @jvan

[2016-11-18 02:16] piotrpMSFT commented on #4754
@srivatsn regarding the proposal from @mauricew

[2016-11-18 02:18] napalm684 commented on #4770
@piotrpMSFT So I attempted suggestion one and the migration returned 8 of 8 migrated projects in the output.

Project ReciPiBook.Api migration succeeded (C:\Users\xxx\Documents\Visual Studio 2015\Projects\ReciPiBook\ReciPiBookCore\src\ReciPiBook.Api)
Project ReciPiBook.Client migration succeeded (C:\Users\xxx\Documents\Visual Studio 2015\Projects\ReciPiBook\ReciPiBookCore\src\ReciPiBook.Client)
Pr

[2016-11-18 02:30] haraldnagel commented on #4770
I'm seeing the same issues.

1. Running `dotnet migrate` from the directory the solution is in seems to create the `.csproj` files as @piotrpMSFT says.
2. It does not update the solution - when opened in VS2017RC it asks to 'One-way upgrade' them all again which gives a failure.
3. Once I remove all the non-functional `.xproj` files from the solution and add the `.csproj` files nothing works, ther

[2016-11-18 04:43] blackdwarf opened #4773 "dotnet publish --runtime followed by dotnet run throws an "bad image" error"
## Steps to reproduce

* Create a self-contained application
* Run a `dotnet publish --runtime`
* Follow immediately by `dotnet run`

## Expected  behavior
The application runs.

## Actual behavior
An error is thrown.

Attached to this issue is the zip of the application that uncovered this behavior.
[testcoreapp.zip](https://github.com/dotnet/cli/files/599067/testcoreapp.zip)

/cc @livarcocc @pio

[2016-11-18 05:06] rajkumar42 commented on #4211
@piotrpMSFT  apologies, only got to see the message today. I did the usual apt-get as suggested in the getting started page. I suppose you have identified the root cause. Please let me know if you need more info.

[2016-11-18 06:29] jpierson opened #4774 "Unrecognized language: fsharp when running dotnet new for Preview 3"
## Steps to reproduce

1. Install [.NET Core SDK 1.0 Preview 3 build 004056](https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md) using installer.
2. From a powershell window:
   1. `> mkdir fsharpproj`
   2. `> pushd fsharpproj`
   3. `> dotnet new -t console -l fsharp`

## Expected  behavior

A new .csproj based console project should be created in the `fsharpproj` fold

[2016-11-18 07:01] haraldnagel commented on #4770
I got my project working in VS2017RC (*finally*). Here's the process I followed:

1. Followed steps 1 and 2 of the [ASP.NET Core 1.1 upgrade instructions on the blog](https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/) (install SDK 1.1 and edit the Web `project.json`). I also installed the "Visual Studio 2015 Tools (Preview 2)" from the [.NET Core downloads page](https

[2016-11-18 07:10] piotrpMSFT commented on #4773
@nguerrera @dsplaisted this is likely an issue in the build target...

[2016-11-18 07:13] piotrpMSFT commented on #4211
Thanks @rajkumar42. We've identified the root cause and are waiting for NuGet/Home#3229 to be addressed.

[2016-11-18 07:14] piotrpMSFT commented on #4774
@enricosada can help here. We don't yet have an F# template in-box atop msbuild, though @enricosada has a prototype in the works.

[2016-11-18 07:17] piotrpMSFT commented on #4770
Thanks for the walkthrough @haraldnagel. The migrate tool only handles PJ -> csproj and does not do the ASP.NET-specific update steps. I'm sure many will benefit from your guide.

The `modify sln file` issue is also known and tracked to be fixed in an upcoming release via #4632

[2016-11-18 07:28] tanaka-takayoshi opened #4775 "Takes long time to fail in in- dotnet command before genrating lockfiles"
## Steps to reproduce

1. generate dotnet project ``dotnet new``
2. execute non-existence command e.g. ``dotnet aaa``

This should be exected before ``dotnet restore`` (generating lock file). When already restore, please remove ``obj/project.assets.json`` then you can reproduce this error again.

## Expected  behavior
Show the error ``No executable found matching command "dotnet-aaa"`` soon.

## A

[2016-11-18 07:37] borgdylan opened #4776 "Question: What is the required work to add a new language?"
Is there any guidance on what must be added to support the new msbuild based cli? How would I supply the targets file for msbuild for instance using a portable manner e.g. nupkg? Does the cli support bringing in such msbuild support files using packages?

[2016-11-18 08:14] enricosada commented on #4774
@jpierson we were late for templates (`dotnet new` and `migrate`). Atm is wip but works okish for an alpha, see below.

about preview3 you can find info in the wiki https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-preview3#dotnet-new

Or directly templates in https://github.com/dotnet/netcorecli-fsc/tree/master/examples/preview3 )

If you find bugs pls open issues in https://github.com/

[2016-11-18 09:47] fubar-coder commented on #4761
What I expect is, that the solution still builds without errors (as stated in the title). The other problems are (IMHO) minor, but still a nuisance.

Regarding the `additionalArguments`: The problem is, that there was no way to specify an `additionalFile` in the `project.json`, which only left the option to use the additional arguments. The other problem, that was only solvable by the additional a

[2016-11-18 10:32] henkmollema commented on #2906
I'm experiencing this error when building `net45` on Travis with these dependencies:
[code]

[2016-11-18 11:01] softlion commented on #4251
I agree with Josalem that there should not be duplicate files in this refs folder. But i agree that having reference assemblies there makes your app independant of the system configuration which is great as it wont break with system updates (but makes your app weak in security).

[2016-11-18 11:06] AFimin commented on #4734
Hey @jeremymeng

Don't know if this will help you.
But I workaround this issue by this:
1) yo aspnet -> choose console application C#
2) cd to proj directory
3) dotnet migrate
4) add packages: xunit, Microsoft.TestPlatform.TestHost, xunit.runner.visualstudio
5) dotnet restore
6) dotnet build
7) dotnet test

--> output now
Microsoft (R) Test Execution Command Line Tool Version 15.0.0.0
Copyright (c

[2016-11-18 11:28] Larswa commented on #4713
Thanks!

[2016-11-18 11:30] Larswa commented on #4711
In that case, it is the documentation that needs to be updated.

[2016-11-18 12:32] napalm684 commented on #4770
I am going to attempt this some time today hopefully @haraldnagel to ensure there are not other issues with my particular solution.  Installing RC 2017 on my work machine as we speak.  I will let the thread know upon completion.

[2016-11-18 17:13] srivatsn commented on #4754
Thanks @mauricew. The actual msbuild schema is [here](https://github.com/Microsoft/msbuild/blob/master/src/XMakeCommandLine/Microsoft.Build.CommonTypes.xsd). We've recently [updated it](https://github.com/Microsoft/msbuild/pull/1347) to add PackageReference and TargetFramework but you have more things additions in your schema which are useful. Feel free to send a PR directly to the msbuild repo. I

[2016-11-18 17:24] Bartmax commented on #4747
Why not look in root and backup folder?

Sent from my iPhone

On Thu, Nov 17, 2016 at 8:52 PM -0300, "Piotr Puszkiewicz" <notifications@github.com> wrote:

It leads to an interesting idea:

dotnet migrate cannot find a project.json file in directory. If you've previously migrated that project, please restore the project.json file from the backup folder.

—
You are receiving this because you were m

[2016-11-18 18:00] nguerrera commented on #4414
@livarcocc Was https://github.com/dotnet/cli/issues/4414#issuecomment-253925947 addressed with the fix, I'm not seeing it? cc @joelverhagen

[2016-11-18 18:04] nguerrera commented on #4414
If not and pack is generating too many dependencies, we can infer private assets from FromP2P in the SDK to make things retroactively work on already migrated projects.

[2016-11-18 18:11] livarcocc commented on #4414
@nguerrera No, it was not added. And that is a mistake. It should have been. I can add this going forward, if necessary. But if you can handle it using the FromP2P, that would be good too.

[2016-11-18 19:07] piotrpMSFT commented on #4775
I think the async method's exception handler needs to be beefed up here: https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/FileAccessRetryer.cs#L43. The intent of this code is to loop while the file is in use, but the current `catch` is accepting any IO Exception, including the file not existing.

I don't want to explicitly check for the file existing as the name, etc. of

[2016-11-18 19:11] piotrpMSFT commented on #4776
It does support it. The full story for `SDK`s is being fleshed out right now, so you may need to make some changes as that finalizes, but immediately you can look at @blackdwarf's example [here](https://github.com/dotnet/MVPSummitHackathon2016/blob/master/SampleTargets.PackerTarget/build/SampleTargets.PackerTarget.targets) to get unblocked.

[2016-11-18 19:11] piotrpMSFT commented on #4774
Thanks!

[2016-11-18 19:38] borgdylan commented on #4776
To add compilers is it enough to implement a ToolTask? I already support my compiler in full-framework msbuild by hosting the compiler in-process. I heard that that cannot happen in the msbuild powered by .NET Core uless I port the compiler to .NET Core.

[2016-11-18 19:47] piotrpMSFT commented on #4747
Great question. Once #4757 is fixed we'll be able to pursue that. That fix will need to make assumptions about its ability to write to the most common root directory, however, so some sort of escape hatch will be needed [like this error message suggestion].

[2016-11-18 19:47] dougloyo commented on #3833
I am still having the same issue.
#Relative Path does not work.
dotnet publish --configuration Release --output ..\published-app
#Full path works...
dotnet publish --configuration Release --output D:\projects\x\published-app

**Seems like this should be fixed**

I just installed .net Core like a week a go:
.NET Command Line Tools (1.0.0-preview2-003131)
Product Information:
 Version:            1.

[2016-11-18 20:14] borgdylan commented on #4776
Also, it seems that msbuild is not finding mono's reference assemblies for full framework targeting.

[2016-11-18 21:12] shawnwildermuth commented on #4453
Dotnet Ref is interesting but not a solution. Not all dev's want to keep a console open to run commands if they can just edit a simple file.

[2016-11-18 21:13] shawnwildermuth commented on #3050
It should, as long as I can do ./dotnet-tool.dll just feel unmagical. But perhaps not enough to change it.

[2016-11-18 21:20] akusmin opened #4778 "Failed to initialize CoreCLR, HRESULT: 0x80004005"
[code]

## Steps to reproduce
making default WebAPI project in VS
publish to remote Ubuntu server
dotnet WebApplication3.dll

## Expected  behavior
Now listening on: http://*:11901
Application started. Press Ctrl+C to shut down.

## Actual behavior
Failed to initialize CoreCLR, HRESULT: 0x80004005

## Environment data
`dotnet --info` output:
Windows:
.NET Command Line Tools (1.0.0-preview2-1-00317

[2016-11-18 21:22] BillHiebert opened #4779 "The projectname.deps.json file is removed every 2nd build."
## Steps to reproduce
Install VS d15prerel.25918.01 build
Create a new ASP.NET Core Web Applicatoin (.NET Core)
Open the bin\debug\netcoreapp1.0 folder so you can see the build output

Build once deps file is there
Build again it is gone
Build again it is back

This causes the runtime (F5) to fail every 2nd build.

## Environment data
`dotnet --info` output:

[2016-11-18 21:26] borgdylan commented on #4776
@piotrpMSFT I am current hacking up a set of targets/props files base don the C# support in the CLI. Since these will be published in my compiler repo, I have left the attribution to MSFT as well leaving my changes under the original license for those files.

[2016-11-18 21:27] BillHiebert commented on #4779
Moved to sdk

[2016-11-18 21:27] #4779 closed

[2016-11-18 21:34] livarcocc commented on #4778
You are targeting runtime 1.0.1 with this:

[code]

But you have preview2-1 installed, which brings the 1.1.0 shared framework. So, either you need to update your Microsoft.NetCore.App to 1.1.0 or you need to install the 1.0.1 shared framework in the machines where you want to run your site.

[2016-11-18 22:53] livarcocc commented on #2326
This is our current output:

[code]

Are we satisfied with it?

[2016-11-18 23:11] ryanbrandenburg opened #4781 "ResourceManager can't find parent culture resources when built using csproj/msbuild"
## Steps to reproduce
1. Clone [this](https://github.com/ryanbrandenburg/ResourceManagerMsbuild) repo
2. Run the project.

## Expected  behavior
Finds the parent culture of "en" and outputs "key1 en" (this is confirmed to work with ".NET Command Line Tools (1.0.0-preview3-003770)" which still used project.json)

## Actual behavior
Unable to find parent culture, so A MissingManifest exception is th

[2016-11-18 23:31] mauricew commented on #4754
Great, I'll have a branch up soon, while adjusting a few things to more closely match official documentation style.

[2016-11-19 00:04] dougbu commented on #2326
My view: @livarcocc's clip looks much better than the `dotnet build` (i.e. old world) output.

[2016-11-19 03:20] blackdwarf commented on #2326
@livarcocc looks ok to me. Is that all? I assume the "Build complete" is still there and all that?

[2016-11-19 03:30] piotrpMSFT commented on #4781
Moved to sdk repo

[2016-11-19 03:30] #4781 closed

[2016-11-19 03:36] piotrpMSFT commented on #2326
This was fixed by #4508. When invoking msbuild we now pass /v:m[inimal] to control output. Folks who want more verbose output can pass `/v:q[uiet], m[inimal], n[ormal], d[etailed], and diag[nostic]`.

[2016-11-19 03:39] piotrpMSFT commented on #2326
This change, by the way, is a very early benefit of moving to msbuild. the maturity of the logging system in msbuild is significantly ahead of where we would be with project.json today. `/v:diag` and `/pp` have proven to be invaluable tools in debugging some of the more nuanced issues posted to this repo in recent weeks.

[2016-11-19 03:39] #2326 closed

[2016-11-19 03:49] sayedihashimi commented on #4513
@TheSamsterZA

Yes it will handle all the MSBuild based project types. For website project, how important is that for you to be able to add on a mac? I don't think we've considered this yet.

Seems like a good idea for integration with `dotnet run`. From the ASP.NET perspective the scenario is that I have a Web API service that my front end talks to. When I invoke `dotnet run` it would be good to

[2016-11-19 07:01] tanaka-takayoshi commented on #4775
@piotrpMSFT Thank you so much for such a quick fix. I confirmed the issue is fixed the latest daily build. I'm closing the case.

[2016-11-19 07:01] #4775 closed

[2016-11-19 10:20] Daniel15 commented on #2565
Is there some difference between Ubuntu and Debian that mean you need to build separate Debian packages instead of just reusing the Ubuntu packages?

[2016-11-19 11:18] frankbuckley opened #4783 "dotnet build results in error CS0579 duplicate attributes with AssemblyVersionAttribute (and others) specified"
Building a library project fails with error CS0579 (duplicate attribute) with **library** projects with `AssemblyVersionAttribute` (or other assembly attributes) specified.

- Adding (for example) `<GenerateAssemblyVersionAttribute>false</GenerateAssemblyVersionAttribute>` to csproj fixes

## Steps to reproduce

- `dotnet new -t lib`
- insert `[assembly: System.Reflection.AssemblyVersion("0.1.0.0"

[2016-11-19 13:15] mo-esmp opened #4784 "XUnit2 not finding tests after upgrading to ASP.NET Core 1.1 RTM"
after upgrading project when I build test project I get this error:

when I execute `dotnet test` in command prompt it gave me this exception:

[2016-11-19 13:15] frankbuckley commented on #4783
Setting [GenerateAssemblyInfo](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.GenerateAssemblyInfo.targets) property to **false** fixes for all attributes:

    <PropertyGroup>
      <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
    </PropertyGroup>

[2016-11-19 19:41] piotrpMSFT commented on #2565
Yea, the native bits in CoreFx are currently not portable across Linux distros...

[2016-11-19 19:43] piotrpMSFT commented on #4784
Can you add your 'dotnet --info' output from that directory?

[2016-11-19 19:45] piotrpMSFT commented on #4783
@frankbuckley Im glad the switches fix the issue. Do you have thoughts on how the experience should change?

[2016-11-19 19:53] #4774 closed

[2016-11-19 20:22] frankbuckley commented on #4783
(I'm not sure why I thought this did not happen with exe projects. I have just tried again and it does.)

I hit the issue porting existing code from existing PCL projects by creating a new netstandard/core library (`dotnet new -t lib`) and copying sources (including, as it happened, Properties\AssemblyInfo.cs).

If traditional assembly attributes are being somehow deprecated in the new csproj mode

[2016-11-19 20:54] tinchou opened #4785 "No TypeScript files in VS2017"
\[moved from https://github.com/Microsoft/msbuild/issues/1354]

Just downloaded VS2017 and migrated my project.json-based project. This was created using the Angular 2 template that can be found in https://github.com/aspnet/JavaScriptServices.

Now my TypeScript files are not shown and there are many .js and .map.js files created automatically.

What would be the correct configuration to have what

[2016-11-19 21:00] alsconsulting commented on #4784
fixed this by adding  "Microsoft.DotNet.InternalAbstractions" to the test project.json file.

[2016-11-19 21:37] frankbuckley opened #4786 "Builds of solutions with multiple inter-dependent .NET Core projects frequently fail with CS2012 "Cannot open" file errors"
## Steps to reproduce

With a solution with multiple .NET Core projects with many sharing project dependencies:

- dotnet restore
- dotnet build

## Expected  behavior

Solution builds.

## Actual behavior

Solution sometimes builds, but also often fails with errors similar to:

`CSC : error CS2012: Cannot open 'C:\a\w\1\s\src\Project\obj\Debug\netstandard1.4\Project.dll' for writing -- 'The proce

[2016-11-19 22:02] NVentimiglia commented on #4770
Hi running into this also. In my case I am getting this :

### dotnet migrate
No executable found matching command "dotnet-migrate"

I am running this from project root.

### dotnet --info

.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14

[2016-11-19 23:03] piotrpMSFT commented on #4783
@nguerrera @dsplaisted thoughts on improving the error message to hint at the auto generation flags?

@frankbuckley We chose not to inspect the included assemblyinfo.vs because it is very expensive to open the assemblyinfo.cs at build time. We would add 100s of ms to all builds with that approach.

I think improving the UX here is valuable as this question comes up often...

[2016-11-19 23:05] piotrpMSFT commented on #4785
@mlorbetske I'm not familiar with this aspnet template. Thoughts on how we could migrate more effectively?

[2016-11-19 23:06] piotrpMSFT commented on #4784
I see. So these are project.json projects?

[2016-11-19 23:08] piotrpMSFT commented on #4786
Are there any custom build scripts involved? Particularly direct MSbuild invocations?  Is this a sln build or multiple parallel project builds?

@nguerrera @dsplaisted

[2016-11-19 23:10] piotrpMSFT commented on #4770
@NVentimiglia you are using an older .net cli which does not yet have the migration utility. Please upgrade to preview3

[2016-11-19 23:47] frankbuckley commented on #4786
sln - no custom build scripts.

I can replicate pretty regularly on my laptop by simply running `dotnet build` in the directory with the sln file after changing source files - or by executing `dotnet build --no-incremental`. Running `dotnet msbuild /m:1` does not error.

The build servers run VSTS agents that simply step through the following:

- Run GitVersion and update AssemblyInfo.cs files
- E

[2016-11-20 05:11] mo-esmp commented on #4784
Here is my info

[code]

[2016-11-20 07:58] Biarity opened #4787 "Compilation failure after fresh install (F#)"
## Steps to reproduce
In a new directory, follow these commads:
`dotnet new -l F#`
`dotnet restore`
## Expected  behavior
Running `dotnet run` or `dotnet build` works like in a C# .NET Core project.

## Actual behavior
When doing `dotnet run` or `dotnet build`, you'll get a compilation error, even though the installation is clean, all configs are default.

## Environment data
`dotnet --info` outpu

[2016-11-20 10:04] GuardRex commented on #1396
In case anyone stumbles in here looking for the "how-to" on creating the `Logs` folder (or any other content folder for that matter) with MSBuild and `csproj`, do this ...

In the `<ItemGroup>`, where you have your `<Compile ... />` and `<EmbeddedResource ... />` entries, add ...
[code]
... I have an `Exclude` attribute on there to keep any log files that were produced as a result of Debug runs ou

[2016-11-20 10:41] ondrejgr commented on #4787
I have the same problem. C# project compiles just fine. F# does not.
I tried OSX and Windows.
This problem occurs when using .NET Core 1.1, when I downloaded .NET Core 1.0, the project compiles without problem.

[2016-11-20 12:54] bytemaster-0xff commented on #3528
seems like same sort of situation is happening as part of the .NET Core build steps on VS Online where the end result is that the site can not be started since web.config is invalid

[code]

[2016-11-20 13:11] simonech opened #4788 "New projects are not created referencing netcoreapp1.1"
After installing SDK + Runtime 1.1 I would expect to have new projects created targeting netcoreapp1.1 as by what was written in the [blog announcing .NET Core 1.1](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-1-1/), but what I get is csproj file referencing netcoreapp1.0

I know I can just edit it manually but it's very confusing, especially given the explanation in the

[2016-11-20 15:40] Phrohdoh opened #4790 "Packing should not alter nuspec file"
## Steps to reproduce

1) Create a project
2) `dotnet pack`
3) Edit the resulting nuspec (fixing license, owner, author, etc)
4) `dotnet pack`

## Expected  behavior

My nuspec should not be written to.
A nupkg is created with the metadata I wrote.

## Actual behavior

A nupkg is created with the incorrect metadata (because the final `pack` overwrites the nuspec)

## Environment data
`dotnet --inf

[2016-11-20 15:58] svick commented on #4790
Why would you expect that to work? Since the `nuspec` is used as an intermediate file in `dotnet pack`, I would expect it to be overwritten, to ensure any changes in the project are reflected.

Have you tried using `dotnet nuget pack your.nuspec` in step 4 instead?

[2016-11-20 16:05] Phrohdoh commented on #4790
Ah I see, I did not know `nuget` was available to me like that.
The help should probably suggest that.

That makes sense, I'll write a build script that uses that instead.

[2016-11-20 16:05] #4790 closed

[2016-11-20 16:37] svick commented on #4790
It will in the next release, see PR https://github.com/dotnet/cli/pull/4763.

[2016-11-20 16:47] lambdakris commented on #4787
I also ran into this problem. I imagine the template for F# needs to be updated to work with .NET Core SDK 1.1.0. I opened a supporting issue on the dotnet/netcorecli-fsc repo, https://github.com/dotnet/netcorecli-fsc/issues/42.

[2016-11-20 17:15] piotrpMSFT commented on #4784
Cool thanks. Glad to see this is preview2 and that there is a workaround. This issue won't apply in preview3 as there is a new test execution model.

[2016-11-20 17:15] #4784 closed

[2016-11-20 17:34] piotrpMSFT commented on #4788
This is an interesting issue caused by recent release mechanics.

The problem is that the product is evolving on two fronts: the framework moved to 1.1 and the tools moved to msbuild. Both of these releases occurred at nearly the same time and were intentionally kept separate. This, however, means that one of them had to win for the default experience...

What happened on your system is that you i

[2016-11-20 17:38] peterblazejewicz opened #4791 "'appsettings.json' files are optional by convention - publish .csproj in Preview 4 fails with MSB3030 error"
I have set of projects, including one in the  production at my company. I've migrated sample project to .csproj and now I found it fails to publish with '1.0.0-preview4-004107' because of missing file:

Microsoft (R) Build Engine version 15.1.0.0
Copyright (C) Microsoft Corporation. All rights reserved.
  PolymerShopDotnet.Client -> /Users/piotrblazejewicz/git/polymer-shop-dotnet/PolymerShopDotnet

[2016-11-20 17:44] piotrpMSFT commented on #4787
Have you tried rev'ing the project.json version number for Microsoft.NetCore.App to 1.1?

@enricosada we just chatted about tests for f# templates...

[2016-11-20 18:33] peterblazejewicz commented on #4791
I've ~~downgraded~~switched to 1.1 `1.0.0-preview2-1-003177` and it just works:
[code]
[code]

[2016-11-20 18:40] simonech commented on #4788
So if I want to have the msbuild project file I need the tools "preview3" but then I have 1.0 templates.
If I want to use the templates with 1.1 I just need to install the preview 2.1 and just the runtime 1.1 (not the SDK).
Is that correct?

[2016-11-20 18:48] akusmin commented on #4778
@livarcocc yes. this was wrong configuration, but with  Microsoft.NetCore.App 1.1.0 same story...
[code]
[code]
is there any way to trace what is going on?

[2016-11-20 19:46] ChrisSimmons commented on #3459
@ctrl-brk - I use this to get the product version (I don't know if this is platform-agnostic, though):

[code]

[2016-11-20 20:02] ondrejgr commented on #4787
piotrpMSFT: it's already targeting 1.1. Here's the json:
`{
  "version": "1.0.0-*",
  "buildOptions": {
    "debugType": "portable",
    "emitEntryPoint": true,
    "compilerName": "fsc",
    "compile": {
      "includeFiles": [
        "Program.fs"
      ]
    }
  },
  "tools": {
    "dotnet-compile-fsc": "1.0.0-preview2.1-*"
  },
  "frameworks": {
    "netcoreapp1.1": {
      "dependencies": {

[2016-11-20 20:35] dvdobrovolskiy commented on #2802
Same issue.

[2016-11-20 21:00] Thealexbarney opened #4792 "dotnet-install.ps1 doesn't add InstallDir to the path if the specified version is already installed"
## Steps to reproduce
Install any cli version that isn't installed:
`.\dotnet-install.ps1 -Version 1.0.0-preview3-003170`

InstallDir is added to the path, and the sdk version is as expected:
`$env:Path.split(";")`

`dotnet --version`
`1.0.0-preview3-003170`

Open a new PowerShell and install the same cli version again:
`.\dotnet-install.ps1 -Version 1.0.0-preview3-003170`

InstallDir is not added

[2016-11-20 21:13] Qudware commented on #4787
@piotrpMSFT I tried editing the versioning in `project.json` to counter the error message with no success too. Still the same error.

[2016-11-20 21:21] enricosada commented on #4787
dotnet-compile-fsc": "1.0.0-preview2.1-*"

Is 1.0.0-preview2-*

I'll send a pr with correct template and update wiki, and comment in this issue.

But check Also there meanwhile http://blog.2mas.xyz/fsharp-suave-app-on-dotnet-core-on-kubernetes-on-google-cloud/

[2016-11-20 23:32] rnagpal commented on #4557
Thanks @ajaybhargavb  for the pointer!

I had to tweak it a bit to get this working. Here is what worked:

"embed": {
      "mappings": {
        "Microsoft.Azure.Documents.RMResources.resx": {
          "include": "../../../../Microsoft.Azure.Documents/SharedFiles/RMResources.resx"
        }
      }
    }

[2016-11-20 23:36] maor-eini commented on #3988
@blackdwarf Thanks for updating the documentation.
I'm closing this issue.

[2016-11-20 23:36] #3988 closed

[2016-11-21 02:44] MelbourneDeveloper commented on #3419
I am getting this error message, but perhaps the cause of the problem is different for me. I have a project called Adapt.Data.Generic. My runnable project (ASP.NET Core - .NET Framework) is called Adapt.REST. Adapt.REST references Adapt.Data.Generic by putting the project in the project.json like this:

"Adapt.Data.Generic": {
          "target": "project"
        }

The problem is that the projec

[2016-11-21 02:51] MelbourneDeveloper commented on #3419
@ChaosEngine, how did you manage to extricate yourself from the xproj disaster?

Microsoft has been saying that they are going to ditch the xproj format for a long time, but nobody has explained to me how to make the move...

Is there a tutorial or article on how to do this somewhere?

[2016-11-21 03:54] napalm684 commented on #4770
Sorry for the delay but I am not having the same success as @haraldnagel .  I have gotten it to compile and run in VS2015.  I updated the solution file sdk version to the same one as @haraldnagel .  Dotnet migrate completes without error but dotnet restore at the solution level fails.

C:\Program Files\dotnet\sdk\1.0.0-preview3-004056\NuGet.targets(164,5): error MSB3202: The project file "C:\Users

[2016-11-21 07:08] kierenj commented on #4683
I'm getting the same MSB4019 suddenly on an Azure App Service.  I was using 1.1 preview just fine.  Can I force an older version of the tooling somehow to temporarily work around?

[2016-11-21 07:52] kierenj commented on #4683
I found this - http://stackoverflow.com/questions/40699867/choose-the-sdk-version-e-g-preview3-vs-preview2-that-the-dotnet-cli-uses - after much searching.  No idea why Azure team would decide to use preview tools by default.

[2016-11-21 08:15] kierenj opened #4794 "Make global.json "sdk/version" support min/max, or wildcards"
Today, I tried to deploy to Azure App Services, but they had updated to the latest tools SDK (preview3).  This broke the build for my project.

Eventually, I found that I can specify an sdk/version to use a different version of the SDK.  However, App Services have a range of versions installed, and the previous version I had (`1.0.0-preview2-003133`) wasn't an option - they have `1.0.0-preview2-00

[2016-11-21 08:18] davidfowl commented on #4794
If there's a breaking change in a preview release, you would be ok getting broken right?

[2016-11-21 08:32] ChaosEngine commented on #3419
@MelbourneDeveloper I was having similar situation as you; two project with project.json's referencing each other. When updated to ASP.NET > 1.0.0-rc1 this error started to appear.

So I switched your counterparting Adapt.Data.Generic back from (*.xproj and project.json) to plain old *.csproj (which in fact it previously was in t he beginning).
The just include the reference of Adapt.Data.Generic

[2016-11-21 10:43] mmisztal1980 commented on #4085
I've had this happen to me again just now.
Using preview2 tooling version.

[tools.zip](https://github.com/dotnet/cli/files/603316/tools.zip)

[2016-11-21 11:07] Kieranties opened #4795 "Unable to download 1.0.0-preview2-003131 via obtain script"
## Steps to reproduce

1. [Manual] Save [this](https://github.com/dotnet/cli/blob/91e24d886b04bbb9379c93d625517e0221480dd1/scripts/obtain/dotnet-install.ps1) instance of dotnet-install.ps1 locally
2. `.\dotnet-install.ps1 -Version 1.0.0-preview2-003131`

## Expected  behavior
Version 1.0.0-preview2-003131 of the SDK is download and installed into the users path

## Actual behavior
Output from runn

[2016-11-21 11:09] Kieranties commented on #4795
If there's an alternative version that supports project.json that should be downloaded instead, please let me know.

[2016-11-21 13:04] adamhathcock commented on #3778
@piotrpMSFT `--version-suffix` is listed on the `publish` command as well and doesn't seem to work.

It's listed on `build`, `publish`, `pack`  I think it should be on all of those commands, not just `pack`

Is the intent for it to only be on `pack`?  I'd like to publish an app with versions too.  Not just libraries.

[2016-11-21 13:13] khellang commented on #3778
Isn't it weird that `pack` does something else than `build` when it comes to building the actual assembly? I'd expect `pack` to call `build` (if needed) and that they'd behave exactly the same.

[2016-11-21 13:14] adamhathcock commented on #3778
I apologize.  `publish` with `--version-suffix` does actually work for me.  I was doing something stupid.

However, it is still listed on the `build` command so this issue still stands as before :)

[2016-11-21 15:21] tugberkugurlu opened #4796 "Replace MSBuild Condition Attributes with Specific Elements"
I can see the below conditional properties inside my csproj file:

[code]

This is really hard to remember and hand-type. I am not going to get into how this was easy in project.json (opps, I did). At least it would be nice to simplify this like below:

[code]

## Environment data
`dotnet --info` output:

[code]

[2016-11-21 15:31] jvandertil commented on #4765
Considering this is preview tooling, I can live with adjusting my script for the time being. But I would greatly prefer that the 'dotnet pack -o' works as I expected in the original report.

[2016-11-21 16:10] haraldnagel commented on #4770
Some suggestions after having gone through this process a couple times:
- It seems like VS2017RC should throw up a warning if the project is not targeting .NET Core 1.1 and either provide instructions for migrating or at least link to the [blog post with migration information](https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/).
- When doing the migration VS2017RC shou

[2016-11-21 17:16] prafullbhosale commented on #4514
@krwq, @livarcocc  is this issue targeted for the RC.2 for VS?

[2016-11-21 17:22] nguerrera commented on #4765
I think it makes sense for direct msbuild invocation and dotnet.exe invocation to differ here. In the msbuild case, there is an explicit /p argument, and so it seems fine that this works as it alwayss. But the help for dotnet -o says:

[code]

From that alone, it is more surprising that `-o .` does what it currently does.

[2016-11-21 17:34] fletchsod-developer commented on #3820
FYI - The link is now broken

[2016-11-21 17:57] SteveSandersonMS commented on #4785
Seems like it should be possible to migrate:

 * Preserve the `<TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>` value if it's is present in the `.xproj` that's being migrated
 * Ensure that all original files show up in solution explorer (`.ts`, `.js`, `.json`, `.css`, `.less`, `.sass`, `.png`, etc.), like they did with `.xproj`

[2016-11-21 19:09] livarcocc commented on #4796
@blackdwarf

[2016-11-21 19:19] livarcocc commented on #4795
Please, use the script from here: https://github.com/dotnet/cli/blob/rel/1.0.0-preview2/scripts/obtain/dotnet-install.ps1.

[2016-11-21 19:21] livarcocc commented on #4791
@nguerrera Is this something that the SDK should handle or we should express this somehow during migration?

[2016-11-21 19:33] GBatault commented on #2018
I am on Fedora 24 : I use a script wich force LD_LIBRARY_PATH, works good for dotnet run. Now I am lost in Visual Studio Code : where do I configure the path of .NET CLI ?

[2016-11-21 19:38] LordMike opened #4798 "[dotnet build] Build fails, unable to find correct version of dependencies"
## Steps to reproduce
1. Create a solution with three projects:
1a. BugRepro, targets `net452`, depends on `Dependency1`
1b. Dependency1, targets `net40`, depends on `Dependency2`
1c. Dependency2, targets `net40` and `net452`
2. Run `dotnet restore`
3. Run `dotnet build BugRepro`
4. Observe that `Dependency1` cannot find the `net40` edition of `Dependency2`

![image](https://cloud.githubuserconten

[2016-11-21 19:42] nguerrera commented on #4791
Looks like an SDK bug.

[2016-11-21 19:52] LordMike commented on #4798
Added test solution.

[BugRepro.zip](https://github.com/dotnet/cli/files/604648/BugRepro.zip)

[2016-11-21 19:56] tugberkugurlu opened #4799 "Change the way to target multiple frameworks inside csproj"
Currently, this is the way to target multiple frameworks:

![image](https://cloud.githubusercontent.com/assets/328122/20498277/68a97b7e-b024-11e6-9970-bb235d371109.png)

In addition to what is proposed on #4796, it would be nice to have something similar to below:

[code]

## Environment data
`dotnet --info` output:

[code]

[2016-11-21 20:29] battisti commented on #4787
Replacing the value for the dotnet-compile-fsc field from "1.0.0-preview2.1-*" to "1.0.0-preview2-*" still results in the same error (using macOS 10.12).

Replacing the value for the Microsoft.FSharp.Core.netcore field with the current (as of today) version "1.0.0-alpha-161111" also does not fix the error.

[2016-11-21 20:52] blackdwarf commented on #4796
/cc @nguerrera @srivatsn @davkean

This is a good suggestion. I don't know, however, how complex would this be to support in MSBuild.

[2016-11-21 21:03] nguerrera commented on #4796
This won't be possible without deep changes to msbuild. You'd need to start by engaging on https://github.com/microsoft/msbuild around a general mechanism for putting items in trees.

[2016-11-21 21:11] Adaok opened #4800 "dotnet cli doesn't work on my Windows 8"
## Steps to reproduce
Install dotnet from : https://www.microsoft.com/net/core#windowscmd
test
`dotnet new on terminal
`

## Expected  behavior
Create new project

## Actual behavior
`
C:/Program Files/dotnet/dotnet.exe: error while loading shared libraries: api-ms-win-crt-multibyte-l1-1-0.dll: cannot open shared object file: No such file or directory
`

## Environment data
`
C:/Program Files/dotn

[2016-11-21 21:22] #3900 closed

[2016-11-21 21:23] livarcocc commented on #4800
@gkhanna79 @schellap Is this something that you guys can help with?

[2016-11-21 21:27] gkhanna79 commented on #4800
@Adaok Did you install the CLI via installer or are using the zip package? Can you please ensure https://www.microsoft.com/en-us/download/details.aspx?id=48145 is installed and try again? VC++ 2015 redist is installed by the CLI installer.

[2016-11-21 21:27] romrom38 commented on #587
Any update on vb support ?
If you intend to have help could you at least please start by giving people pointers ?

[2016-11-21 21:35] Adaok commented on #4800
@gkhanna79 Hi ! I have install the CLI via installer and https://www.microsoft.com/en-us/download/details.aspx?id=48145 is install also. I retry but no changes... :(

[2016-11-21 21:45] livarcocc commented on #4796
If you want, please open an issue for this in the msbuild repo.

[2016-11-21 21:45] #4796 closed

[2016-11-21 21:46] livarcocc commented on #4799
Same as the other one. This requires deep msbuild changes. Please, open an issue at https://github.com/microsoft/msbuild for this.

[2016-11-21 21:46] #4799 closed

[2016-11-21 22:08] livarcocc commented on #4660
It seems we still have some flaky tests left, but with different causes now:

[code]

[2016-11-21 22:26] tugberkugurlu commented on #4799
@livarcocc done https://github.com/Microsoft/msbuild/issues/1372

[2016-11-21 22:27] tugberkugurlu commented on #4796
@livarcocc done https://github.com/Microsoft/msbuild/issues/1371

[2016-11-21 22:57] piotrpMSFT commented on #4794
@schellap @gkhanna79

[2016-11-21 23:17] kierenj commented on #4794
@davidfowl I see what you mean, it's luck here that the version was bumped along with the breaking change.  But this feels like a positive move and a step in the right direction for me.

[2016-11-22 00:17] enricosada commented on #4787
@battisti thx for testing! i tried locally and require a new release of `dotnet-compile-fsc` (dunno why in my  previous local tests was working ok before, probably i mixed cli version) with correct deps. i'll publish that tomorrow.

And yes @piotrpMSFT the tests for templates are my next todo (`preview2.1`, `preview4`).
At least i just enabled full ci for all os! in https://github.com/dotnet/netco

[2016-11-22 00:48] onpentox commented on #4787
+

[2016-11-22 02:43] harshjain2 opened #4803 "Migration doesn't handle resources file."
dotnet migrate doesn't create entry for resource (resx) file in csproj.
## Steps to reproduce
1. Create an xproj based project and add resource (resx) file.
2. Execute `dotnet migrate project.json` of this project

## Expected  behavior
Generated csproj file has entry for resx file
[code]

## Actual behavior
Generated csproj file doesn't have entry for resx file.

## Environment data
`dotnet --inf

[2016-11-22 04:32] blackdwarf commented on #4765
I don't know if I would actually say that what is proposed above (in @piotrpMSFT answer) is acceptable as a long-term solution (it is fine as an unblocking mechanism for @jvandertil for now). Though I understand the MSBuild specifics and the potential challenges in changing them, I would say that I expect the CLI to behave properly w.r.t to the current directory, that is, the `.` should resolve to

[2016-11-22 04:42] jsgoupil opened #4804 "dotnet build folder reports "Project file does not exist" on Azure"
## Steps to reproduce
When using a .xproj project, I try to run "dotnet build D:\path\to\folder".
Or if I CD into the project and run "dotnet build ." It fails on Azure. But it works on my computer.

This is failing on Azure only. On Azure, I have to `cd` into the folder, then run exactly `dotnet build`

## Expected  behavior
Build properly

## Actual behavior
`MSBUILD : error MSB1009: Project fil

[2016-11-22 07:05] #4794 closed

[2016-11-22 07:46] ondrejgr commented on #4787
@enricosada : I'm not sure how this relates to the templates you mention. I think templates are correct.
FYI, I cloned https://github.com/dotnet/netcorecli-fsc and there are tests in the build script of F# project templates (TestApp, TestAppWithArgs,TestLibrary, ...).
They all fail with the discussed error :-)
BTW, running alone the command without specifying project to compile

results in the sam

[2016-11-22 08:00] schwamster opened #4806 "dotnet pack produces confusing/wrong versions for dependencies in nuspec file"
dotnet pack creates nuget package with nuspec that only sets a minimum version even though project.json defines a specific version. Have a look at the examples in expected/actual

## Steps to reproduce
dotnet new

then add a dependency to project.json (for example Newtonsoft):

[code]

then build the nuget package:
dotnet pack

## Expected  behavior
I get a nuget package with the following nuspec:

[2016-11-22 08:03] davidfowl commented on #4806
This is by design. You don't have an exact version, you have a minimum and that's what nuget packs. Using exact versions is an anti pattern and should *only* ever be used with dependencies you tightly control or when you absolutely know that higher versions are broken.

[2016-11-22 08:11] piotrpMSFT commented on #4788
preview 2.1 comes with runtime 1.1 so you would be good to go.

Personally, I'd install preview3, install 1.1, and manually bump the version number in the generated templates to 1.1. I don't see much benefit in using the project.json tooling if a project is being created from scratch.

[2016-11-22 08:15] piotrpMSFT commented on #4778
I looked at the 1.1 templates [here](https://github.com/dotnet/cli/blob/rel/1.0.0-preview2.1/src/dotnet/commands/dotnet-new/CSharp_Console/project.json.template#L9) and found that we're using the `netcoreapp1.1` framework. That's the only difference I can discern but you may find others if you compare the PJ files. I'm going to reopen this issue as a discussion until you get into a good state.

[2016-11-22 08:23] piotrpMSFT commented on #4085
@mmisztal1980 can you try this with Preview3? Since the toolset went through such a major overhaul there is not much opportunity to fix preview2 [project.json-based] issues.

[2016-11-22 08:28] piotrpMSFT commented on #4785
@SteveSandersonMS thus far migration has been limited to project.json. We'll need to look at opportunities to selectively migrate xproj content for these projects.

[2016-11-22 08:32] piotrpMSFT commented on #4791
Moved to SDK.

[2016-11-22 08:46] piotrpMSFT commented on #4798
@LordMike this was a limitation of the project.json build system. I just verified your scenario will work once you move to preview3.

 - install preview3 CLI
 - `dotnet migrate` from your repro root
 - `cd src\BugRepro`
 - `dotnet restore`
 - `dotnet build --runtime win7-x64`

Please reopen if you see issues on preview3!

[2016-11-22 08:46] #4798 closed

[2016-11-22 08:46] piotrpMSFT commented on #587
@srivatsn thoughts?

[2016-11-22 08:53] piotrpMSFT commented on #4660
One more:
[code]

[2016-11-22 08:58] piotrpMSFT commented on #4803
@nguerrera currently migrate adds:
[code]

This is not equivalent to what is suggested by @harshjain2. What does the SDK expect?

[2016-11-22 08:59] blackdwarf commented on #3820
@mlorbetske do you happen to know what happened to this file?

[2016-11-22 09:00] blackdwarf commented on #3820
Actually, scratch that, I believe this is the doc that is needed: https://github.com/aspnet/Tooling/blob/master/known-issues-vs2015.md#missing-sdk.

[2016-11-22 09:01] mmisztal1980 commented on #4085
I'm afraid not now, it's going to be a while before our ogranization
migrates to preview 3. I estimate this will happen sometime in Q12017. Is
there anything else we can try?

On Tue, Nov 22, 2016 at 9:23 AM, Piotr Puszkiewicz <notifications@github.com

[2016-11-22 09:10] piotrpMSFT commented on #4765
Moved to RTM milestone. I'd still love to see consistent behavior across the product suite, but am glad we have consensus on what should happen in CLI.

[2016-11-22 09:12] piotrpMSFT commented on #4804
Azure web apps includes prevew2, preview2.1, and preview3. Without a [global.json]() the project will default to preview3 [the latest] which won't work for a project.json-based app.

Does the global.json address the issue for you?

[2016-11-22 09:24] piotrpMSFT commented on #4806
Since this gets into intent of NuGet, closing the CLI issue. Let's have this discussion on nuget/home repo if we want to dig in. I'm sure other NuGet user will have an easier time finding it there.

[2016-11-22 09:24] #4806 closed

[2016-11-22 09:33] Jipperism opened #4807 "dotnet --version wrong output"
## Steps to reproduce
Upgrade from `1.0.0` to `1.1.0`

## Expected  behavior
Output `1.1.0`

## Actual behavior
Output `1.0.0-preview2-003177`

## Environment data
`dotnet --info` output:
[code]

[2016-11-22 09:34] schwamster commented on #4806
actually have to agree with davidfowl
i looked at it from the wrong perspective

[2016-11-22 09:36] piotrpMSFT commented on #4085
I think @brthor's advice was quite good... and in line with what we do for CLI builds. However, given the path you shared, I suspect that both agents share a single cache.

We:
1. Use NUGET_PACKAGES in our build scripts
2. locate the target directory of NUGET_PACKAGES inside the repo directory, so each build is guaranteed a private copy
3. Through (2), each build sets its own path to that director

[2016-11-22 10:55] akusmin commented on #4778
@piotrpMSFT , thanks for your feedback. I've tried netcoreapp1.1 also but no result.
[code]
Same error: Failed to initialize CoreCLR, HRESULT: 0x80004005

also let me note that i'm using dotnet-install-script command:
dotnet-install.sh --version 1.0.0-preview2-1-003177
then export to PATH variable dotnet folder.

previous dotnet installation was removed using script from official manuals: https://

[2016-11-22 11:17] TheSamsterZA commented on #4513
@sayedihashimi

I think it's important if only so that there is feature parity across platforms. We can do this in VS proper, so the expectation is that the `dotnet sln` command should be able to do it, too.

This is exactly the scenario I was thinking of, so I am certain that having it in `dotnet sln` would be appreciated by many.

[2016-11-22 11:42] enricosada commented on #4787
@ondrejgr yes the issue is with `dotnet-compile-fsc`, not with `dotnet-new` template.
the `preview2.1` require a different version of `dotnet-compile-fsc` than `preview2`. i'll publish that soon

[2016-11-22 13:12] JanWerder commented on #3197
Looking at the roadmap over at https://blogs.msdn.microsoft.com/dotnet/2016/07/15/net-core-roadmap/ this is supposed be in the Q4'16 oder Q1'17 release

[2016-11-22 14:19] erslater commented on #2802
I had the same issue and it turned out to be a space in the name or description found in the project.json file:
{
    name: "Project Name" -> changing this to ProjectName corrected it.
    ...

[2016-11-22 14:22] jsgoupil commented on #4804
@piotrpMSFT The global.json does not fix the issue. I have put the global.json in the folder first and it still say `MSBUILD : error MSB1009: Project file does not exist.`

Without the global.json but by doing `dotnet build`, I can't build (I get a different error error: MSB4019: The imported project "D:\Program Files (x86)\dotnet\sdk\1.0.0-preview3-004056\Extensions\Microsoft\VisualStudio\v14.0\D

[2016-11-22 15:05] enricosada opened #4808 "invoke a dotnet tool with multiple *proj in same directory is not possibile"
## Steps to reproduce

Or:

- download https://github.com/dotnet/netcorecli-fsc/tree/eb4a2943518e7c188c6e33939246158623d679e0/test-msbuild/TestMultipleLibraryInSameDir
- `dotnet restore Test1Library.fsproj` ok
- `dotnet restore Test2Library.fsproj` ok
- `dotnet compile-fsc` fails

Or:

- inside a directory
  - create a lib with name `lib1.csproj`
  - create a lib with name `lib2.csproj`
- Add any

[2016-11-22 15:18] Bidimus opened #4809 "Migrating a solution with multiple libraries using project.json fails"
## Steps to reproduce
Attempted to migrate a solution with multiple projects that use project.json and have cross project dependencies.

## Expected  behavior
Successful migration of solution.

## Actual behavior
Migration fails because it migrates the projects out of order.  Migrating a project that has a dependency on another project requires that it can read the other projects project.json file

[2016-11-22 16:56] lpodolak commented on #1183
I wonder why this has been closed?

I'm giving a .net core a try and I'm trying to build a basic CD pipeline, according to the rules from "the CD bible". One of the rule is that you should build your binaries once, and only once. Each stage should get the binaries and do some verifications on them. One of early stages should be running your unit tests against ALREADY BUILT binaries.

This is what

[2016-11-22 17:08] srivatsn commented on #587
For VS, there are templates for VB projects [here](https://github.com/dotnet/sdk/tree/master/src/Templates/ProjectTemplates/VisualBasic/.NETCore) We have been blocked on a [compiler bug](https://github.com/dotnet/roslyn/issues/13681) that was causing F5 to fail but that has been recently fixed. With that fix the templates should build and debug. However, we haven't tested the new project system fo

[2016-11-22 17:13] NPadrutt commented on #2802
I have it with a project name like: Project.Name.WebService

[2016-11-22 17:25] nguerrera commented on #4803
The SDK doesn't have fixed expectations here, but for the VS generation of strongly typed resources to work the metadata @harshjain2 shows is needed. dotnet/sdk#94 tracks moving the generation to the build and in the interim adjusting the templates so that an add resx gesture in VS gives the right metadata. We may want some interim changes to migration too. Once everything is in the build, I would

[2016-11-22 17:57] livarcocc commented on #4778
@akusmin I must be missing something. You said that your environment in windows, however you are using the debian script to uninstall it?

Can you tell us what OS and architecture you are running?

[2016-11-22 18:00] livarcocc commented on #4809
Can you share a repo that reproes this? This is a scenario that we actually test for. Having a project structure like Project A -> Project B -> Project C. If you migrate from Project A, the whole tree should get migrated correctly. However, if you migrate Project C and the Project A, it is expected to fail, as it can't find C anymore.

[2016-11-22 18:01] blackdwarf commented on #4513
@TheSamsterZA for the first question, we don't plan to restrict any project. We will focus on supporting .NET Core projects in the first turn of the crank, so to speak, but we will be adding more later as community requests. Also, since CLI is cross-platform, this will work on a Mac as well.

Refresh my memory please, is website project a regular \*proj file?

@sayedihashimi I think the startup pr

[2016-11-22 18:02] livarcocc commented on #1183
You don't say which version of the CLI you are using. Anyways, if you are using preview3, you can use dotnet test to run tests for a project file or you can use dotnet vstest to run tests against a dll. So, your scenario should be covered.

[2016-11-22 18:23] Bidimus commented on #4809
I wish I could.  Unfortunately the solution I was testing on is not publicly available.  It was an Asp.Net API solution built under VS2015 using .Net Core 1.0.  It had two class library projects under the src directory for Core and Infrastructure.  There was also another project under the test directory with a xunit test library in it.  The test library referenced Core and Infrastructure while the

[2016-11-22 18:36] geeooff commented on #1488
I tried all RTM versions on my Debian 8.6 (jessie) server, but my pre-compiled ASP.NET Core MVC webapp failed with this exact error.

My webapp is running as a _systemd service unit_ that call `dotnet my.dll --server.urls http://localhost:xxxx` with specific environment variables, and systemd is constantly trying to run and rerun the unit that fail constantly.

After several tries, sometimes, the

[2016-11-22 18:53] akusmin commented on #4778
@livarcocc partially.. I mentioned two environments: Ubuntu and Windows. I'm building sources on Windows and publishing to remote Ubuntu server. Also I checked on a local Ubuntu and everything is great.

I used debian script to uninstall dotnet from remote Ubuntu server.

Remote Ubuntu desc:
[code]
[code]
Regards

[2016-11-22 19:10] vcsjones commented on #4807
I think this behavior is correct. This:

Is the version of the tooling, not the the runtime or SDK. As you see, `dotnet --info` or just `dotnet` print the SDK version.

[2016-11-22 19:15] erslater commented on #2802
@NPadrutt I also have a project with a similar name but when I updated the project.json file as above it corrected the problem for me.

[2016-11-22 19:24] jsgoupil commented on #4085
I faced the exact same issue on Azure. Deleted the .tools folder, then re-ran the nuget restore then it started to compile.

[2016-11-22 19:32] lpodolak commented on #1183
Sorry, I should have stated that, I'm using: 1.0.0-preview2-1-003177. I've looked at the docs of preview3 CLI and I don't see anything like vstest command (https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/layering). Is this a new command that isn't yet described in docs? Can you please shed me some light on this before I decide to migrate to preview3? Thanks

[2016-11-22 19:56] blackdwarf commented on #1183
@lpodolak yes, this is a new command and the docs about it are incoming. Sorry about that. You can get more info if you install Preview 3 and run `dotnet --help`. By installing here I don't mean installing globally. You can use the ZIPs/tarballs to install to a specific, isolated place on disk and then try it out.

[2016-11-22 20:56] nibbles- commented on #2018
Just upgraded to Fedora25 (libicu 57.1) and now it is broken again

[2016-11-22 21:04] Spongman opened #4811 "adding core project to solution causes msbuild /p:PublishOnBuild to fail"
## Steps to reproduce

- in VS, create a new blank solution.
- add a new ASP.NET 4.x WebApplication project
  - create a new publish profile called "publish" for the Web App (cutsom, filesystem)
- add a new, non-core console app to the solution.
- in a command line prompt:
  - cd to the solution folder
  - MSBuild /p:PublishProfile=publish /p:DeployOnBuild=true
  - notice that it builds fine and d

[2016-11-22 21:08] jsgoupil commented on #4085
@piotrpMSFT I can re-create the same problem on a new machine/slot on Azure 100% of the time.
My deployment script does
`nuget restore path/to/sln.sln -packagesavemode nuspec`

This creates a "Microsoft.AspNetCore.Server.IISIntegration.Tools" in /.nuget/.tools with "netstandardapp1.5" in it.

I run
`nuget restore path/to/proj.xproj -packagesavemode nuspec`

Then a "netcoreapp1.0" shows up in this

[2016-11-22 21:13] Spongman commented on #4811
here's the project:
[WebApplication2.zip](https://github.com/dotnet/cli/files/607603/WebApplication2.zip)

[2016-11-22 21:15] mishra14 opened #4812 "dotnet cli should no longer call into Nuget xplat restore"
NuGet has remove xplat restore here: https://github.com/NuGet/NuGet.Client/commit/207589e20f20fe2b33e8f80eae0562c30a6c01b5

But it seems that dotnet restore-projectjson still calls into it: https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-restore-projectjson/NuGet3.cs#L20

Seems like restore should no longer be invoked through NuGet since restore is invoked through msbuild.

[2016-11-22 21:19] mishra14 opened #4813 "Fix help usage for dotnet pack and restore"
Discovered this while working on similar bug in dotnet nuget command.

The help usage part of dotnet pack and dotnet restore should correctly display usage as `dotnet pack ...` or `dotnet restore ...`

1.
[code]

2.
[code]

[2016-11-22 21:23] jsgoupil commented on #4804
OK, I have retried this and it seems to work. This is definitely a strange behavior

**1. global.json not in the root, does not compile**
/path/where/global.json
/path/ > dotnet build ".\where"

This will fail with `MSBUILD : error MSB1009: Project file does not exist.
Switch: .\where`

**2. global.json in the root**
/path/global.json
/path/ > dotnet build ".\where"

It builds.

If this is a norma

[2016-11-22 21:43] davidebbo commented on #4804
Yes, I believe what it does is walk up from the current folder looking for global.json. So if it's in a subfolder, it doesn't find it, even if it's in the folder of the app you're asking it to build. Frankly, I think that's a bit broken, but that's the behavior of dotnet.exe.

[2016-11-22 22:52] dsplaisted opened #4815 ""Dotnet build" command should generate an error directing you to use "dotnet msbuild" if you try to specify a target to run (/t:TargetName)"
Once you get used to using `dotnet build` to build your MSBuild projects, and you learn that you can pass MSBuild command-line parameters, it's natural to try something like this:

`dotnet build MyProj.csproj /t:MyCustomTarget`

That's what I did and then I spent like an hour banging my head against the wall trying to figure out why it was trying to build the "Build" target when "MyCustomTarget" d

[2016-11-22 23:03] jeffkl commented on #4815
I think this was in case the project had no DefaultTargets but won't MSBuild choose 'Build' anyway?

At the very least, if the `/t:Build` could only be added if the user did not specify a target to build.

I can make this change if approved.

[2016-11-22 23:05] GuardRex opened #4816 "dotnet migrate doesn't delete project.lock.json"
## Steps to reproduce
Execute `dotnet migrate` on an xproj/`project.json` project.

## Expected  behavior
The `project.lock.json` file is either deleted or moved to the `backup` folder.

## Actual behavior
The `project.lock.json` file is left in place.

## Environment data
[code]

[2016-11-23 00:00] TimeDelta opened #4817 "debugType "full" does not work on OS X"
## Steps to reproduce
1. On OS X, check out [this GitHub project](https://github.com/jpopadak/CoreMatchers/) at [this commit](https://github.com/jpopadak/CoreMatchers/commit/23c71ff1503c921e70646b55837d6067f1870097)
1. Run this command: `dotnet restore`
1. Run this command: `dotnet test ./test/CoreMatchers.Tests/project.json`

## Expected  behavior
Compilation should succeed.

## Actual behavior
<

[2016-11-23 00:03] svick commented on #4817
I think this is expected. The code for writing PDBs (which is what `"debugType": "full"` means) is Windows-only. Using `"debugType": "portable"`, which writes PPDBs is the right fix.

[2016-11-23 00:18] livarcocc commented on #4817
Exactly. This is expected. If you want to debug on non-windows, use portable pdbs.

[2016-11-23 00:18] #4817 closed

[2016-11-23 00:44] livarcocc commented on #4816
Duplicate of https://github.com/dotnet/cli/issues/4753.

[2016-11-23 00:44] #4816 closed

[2016-11-23 00:46] livarcocc commented on #4807
dotnet --version returns the version of the CLI, not the version of the runtime. We will track maybe changing that, no guarantees, in the issue above.

[2016-11-23 00:46] #4807 closed

[2016-11-23 00:47] livarcocc commented on #4812
We are using that to keep restoring project.json, which we need for some of our migration tests. Is there a way to do project.json restore still?

[2016-11-23 01:01] GuardRex commented on #4753
Adding `dotnet migrate` to make this issue discoverable in GH issue search.

[2016-11-23 01:38] hishamco commented on #4698
@piotrpMSFT these are the [MVP Summit projects](https://blogs.msdn.microsoft.com/webdev/2016/11/22/mvp-hackathon-2016/) unfortunately I didn't find a VB support?!! anyhow I will struggle on this, but I need the mentioned files to continue with

[2016-11-23 01:46] rrelyea commented on #4812
Preview2 CLI is the only way you will be able to do xproj/project.json restore.
You could also use NuGet.exe v3.5.0-rtm

[2016-11-23 02:46] dsplaisted commented on #4815
Microsoft.Common.CurrentVersion.targets [has `DefaultTargets="Build'](https://github.com/Microsoft/msbuild/blob/fbba93c46c3603d4eef64cbfe5aaf86a8e6b2e88/src/XMakeTasks/Microsoft.Common.CurrentVersion.targets#L17), so I think the only way you wouldn't get the Build target as the default would be if you didn't import the standard targets, or if you overrode it yourself.  In both of those cases I thi

[2016-11-23 04:25] ArieJones commented on #4770
@piotrpMSFT it looks like one of the main problems is with the -s option. In the Visual Studio 2017 RC conversion this is what is run. AND when this same command is run manually this is I believe why it is balking about the project.json not existing in a referenced project.

I just manually converted a 4 project solution and had to do the following

1. upgrade the lowest class library...either cop

[2016-11-23 04:32] ArieJones commented on #4747
@piotrpMSFT I have commented in another issue about this but I believe the problem is probably with the   -s|--skip-project-references  Skip migrating project references. By default project references are migrated recursively

Visual Studio 2017 RC uses this option but it is not being honored.

[2016-11-23 04:34] ArieJones commented on #4747
Also when I get done with the dance to get all of my projects in my solution migrated .. it says that my web project is migrated but it won't open in Visual Studio 2017 RC

D:\Development\Workspaces\VS2017\src\Carepilot\Carepilot.csproj : error  : The operation could not be completed. Unspecified error

This is even though it says it has migrated the project properly.... .

`C:\WINDOWS\system32>do

[2016-11-23 07:50] NPadrutt commented on #2802
@erslater  I don't have any name or description tage in my project.json as far as I can see.

[2016-11-23 07:56] piotrpMSFT commented on #4787
@enricosada please get the PR out tomorrow if you need a change in the next release...

[2016-11-23 08:01] piotrpMSFT commented on #4808
I do agree that we can do magic here to figure out how to function in a directory with multiple proj files. However, based on our previous conversations, I expect that what we really want is for the solution to have a command version that is global to the solution/repo. Is that fair? Is it at least the right prioritization?

[2016-11-23 08:02] piotrpMSFT commented on #587
@srivatsn do we have a `well known prototype vb template` that folks can `use at their own risk`?

[2016-11-23 08:04] piotrpMSFT commented on #4803
We'll need to discuss this offline a bit. There are a lot of parallel issues here and we need to figure out the right approach. @harshjain2 I hope you're unblocked via manual migration for the time being.

[2016-11-23 08:05] piotrpMSFT commented on #4803
@livarcocc FYI

[2016-11-23 08:05] kevin-de-coninck opened #4819 "Cannot run unit tests using the new MSBuild Alpha"
From within Visual Studio of from the Command Line, it's impossible to run unit tests.

## Steps to reproduce

- Create a new XUnit Test project using the CLI: `dotnet new -t Xunittest`.
- Restore the packages using the CLI: `dotnet restore`.
- Run the tests using the CLI: `dotnet test`

## Expected  behavior

The tests should be executed and reported.

## Actual behavior

An error is raised: `dot

[2016-11-23 08:15] piotrpMSFT commented on #4513
To echo what @blackdwarf says, CLI is x-plat first. If you see any of these capabilities behave `better on Windows` please do file issues! The Azure Website project template may be Windows focused, but the tools you use to interact with it won't be :)

[2016-11-23 08:17] piotrpMSFT commented on #4809
I assume this failed in VS, @Bidimus. The same migration should succeed from the command line so long as it was initiated from a parent directory of all the projects involved. The VS issue will be fixed in an upcoming release.

[2016-11-23 08:20] piotrpMSFT commented on #1488
Reopening as there is obviously another issue here. @schellap @gkhanna79 can you guys take a look at these OOMs? What data do we need to make this experience better?

[2016-11-23 08:22] piotrpMSFT commented on #4778
@schellap @gkhanna79 can you guys take a look? I think we've exhausted available options for debugging CoreCLR initialization issues...

[2016-11-23 08:24] piotrpMSFT commented on #1183
@lpodolak let us know once you've had a chance to try this out.

[2016-11-23 08:25] piotrpMSFT commented on #2018
@DustinCampbell can you comment on

@ellismg any updates on this issue? Seems like it's still affecting a bunch of folks...

[2016-11-23 08:30] piotrpMSFT commented on #4085
@jsgoupil If you're using `nuget restore` you'll want to open an issue on `nuget/home` repo. I'm afraid that CLI only ships with the `nuget crossplat client` and this one is fairly different from full-fledged desktop NuGet restore. Please open an issue there to track!

[2016-11-23 08:31] piotrpMSFT commented on #4811
Are you running desktop MSBuild on Windows? Or `dotnet msbuild`?

[2016-11-23 08:32] piotrpMSFT commented on #4813
@rrelyea thoughts?

[2016-11-23 08:37] piotrpMSFT commented on #4804
@davidebbo is right on. The issue here is that `dotnet.exe` doesn't know anything about `build` parameters and it selects a `CLI` version before delegating to `build`. By the time `build` figures out it has a project path it already is too late to select a different CLI. We could make different decisions, but this would kill the CLI's ability to be extensible since the root `dotnet.exe` would need

[2016-11-23 08:41] piotrpMSFT commented on #4753
On the priority of this: project.lock.json was always a transient file that should not be in folk's source control systems. If it is, that should be fixed. Cleaning one's repo/enlistment will remove project.lock.json's [unlike project.json, *.xproj]. We'll fix this if there are spare cycles, but it's a low-priority issue at the moment.

[2016-11-23 08:42] piotrpMSFT commented on #4698
@srivatsn just called out in #587 that VB support should basically be in place and a template is missing. Please do watch that issue :)

[2016-11-23 08:43] piotrpMSFT commented on #4812
Good to know. We'll need to change builds to account for this...

[2016-11-23 08:44] piotrpMSFT commented on #4815
@dsplaisted aren't you asking for `dotnet build` to become `dotnet msbuild`?

[2016-11-23 08:48] piotrpMSFT commented on #4770
@ArieJones yea, not fixing the VS experience was a really hard cut in RC and has created a lot of angst. Your point that the calling convention for migrate is a great one. VS calls migrate differently because it has a bunch of useful infrastructure for tracking status of migration for each project and generate nice reports. CLI only has the migrate command so it migrates the solution holistically.

[2016-11-23 08:51] piotrpMSFT commented on #4747
I just commented on the other issue @ArieJones and I'll add here as well that I'd love to see the migrated project that's failing. Does it build from the command line?

In case it helps, the issue in VS is not that `--skip-project-references` is ignored. It is actually honored. The issue is that VS is not passing `--skip-backup` which causes a project's project.json to be removed even if overall m

[2016-11-23 08:53] piotrpMSFT commented on #4819
@kevin-de-coninck yea, this is an unfortunate issue that is fixed in the latest nightlies on https://github.com/dotnet/cli. The problem is the space in `Program Files`. A lot of testing happened against cmd-line installed CLI, not the native installer, so this was missed during preview3 end-game. Can you try the latest and confirm that the issue is fixed?

[2016-11-23 09:02] sayedihashimi commented on #4513
@blackdwarf

Website project doesn't have a project file.

Correct.

In VS I can set multiple startup projects and then run/debug them all at once. This is especially important for ASP.NET developers because often times they have multiple web projects (i.e. web api service with a web front end).

I like the suggestion for `dotnet sln` to support setting startup projects, and then for `dotnet run`

[2016-11-23 09:05] kevin-de-coninck commented on #4819
Sure,

Can you point me to the correct installer to test it?

Kind regards

[2016-11-23 09:08] enricosada commented on #4808
Yes, i think so. tools usually are shared per repo or global, that's the best ihmo.
This one is just a minor corner case

[2016-11-23 09:11] ellismg commented on #2018
We took fixes for vNext (they didn't make it in for 1.1) that should help here.  Basically we added a mode where we can compile in a way such that we'll "roll forward" to newer ICUs.  I believe the plan is to cut over to that mode as the default before vNext for the binaries that we build and distribute.

In the mean time, you can install an older version of libicu or if it's possible to override

[2016-11-23 09:17] hishamco commented on #4698
Thanks @piotrpMSFT, I already change the `dotnet new` locally and I added VB project template, the problem in the build step, coz the compiler binaries are missed.
I will try to check the compiler bug that @srivatsn mentioned in that issue that you referenced

[2016-11-23 09:23] sayedihashimi commented on #4513
@piotrpMSFT he's asking about "Website project", it doesn't have anything to do with Azure and is not windows specific.

I do agree with @TheSamsterZA that we should be able to do the same things across tools, but for website project I'm really not sure in this case. Since website project doesn't have a project file the properties are stored in the .sln file. For example here is a snippet from a .

[2016-11-23 09:26] piotrpMSFT opened #4820 "Update C# templates to latest"

[2016-11-23 09:58] piotrpMSFT opened #4822 "Add MSBuildSDKsPath to MSBuild invocations"
CLI portion of https://gist.github.com/piotrpMSFT/9ab355cd48a5539c9fc31bafd98df5aa

[2016-11-23 10:25] simonech commented on #4788
Shall I leave the Microsoft.NET.Sdk to 1.0.0-alpha-20161104-2?

[2016-11-23 10:25] kevin-de-coninck commented on #4819
I've installed `1.0.0-preview4-004110` of .NET Core.
The issue seems to be resolved.

This issue can now be closed.

[2016-11-23 10:50] kevin-de-coninck commented on #4819
After testing a bit further, running XUnit Tests in Visual Studio does not work, they remain "Inconclusive".
Is there any workaround to make the unit tests behave correctly inside Visual Studio?

[2016-11-23 11:03] ArieJones commented on #4747
@piotrpMSFT  What is the purpose of --skip-project-references then?

Maybe I wasn't clear in my previous post but I ran these commands from the command line and each time it would look for any references project's project.json file even though the option was specified.

When I specify  a build using the VS 2017 RC command line via
`devenv /build Debug "D:\Development\Workspaces\VS2017\src\Carepilo

[2016-11-23 11:22] TheRealPiotrP opened #4823 "`-v` option should behave equivalently for all msbuild commands"
## Steps to reproduce
`dotnet msbuild -v diag`

## Expected  behavior
Like other msbuild forwarding commands `restore;build;pack` et al, this should invoke `dotnet msbuild /v:diag`

## Actual behavior
Exit Code: 1
StdOut:
Microsoft (R) Build Engine version 15.1.0.0
Copyright (C) Microsoft Corporation. All rights reserved.
MSBUILD : error MSB1016: Specify the verbosity level.
Switch: -v
For switch

[2016-11-23 12:00] ArieJones commented on #4747
@piotrpMSFT  I do have another project that I could zip and share with you. On this project it's just jacked.. all projects say they migrated correctly but cannot load any from the solution file.

I just need an email addy to send the zip file to.

[2016-11-23 12:29] lpodolak commented on #1183
guys, thanks for an instant help.
I didn't try the preview 3 yet, as it is not that easy. As far as I understand, using preview 3 CLI obliges me to port my projects to csproj from json/xsproj firstly. This requires me however to move from VS 2015 (which doesn't support the new-old format) to VS 2017 RC.
Using the RC is something I'd rather avoid at this point of time, as I try to minimize (the alr

[2016-11-23 12:41] TheSamsterZA commented on #4513
@sayedihashimi

Agreed. It would be best to place at least the startup project(s) info in the human-readable .sln file instead of the (I believe) binary .suo file. Personally, I would prefer not to have to think about a file that I have no real control over that somehow affects my solution.

[2016-11-23 13:08] TheSamsterZA commented on #4513
@sayedihashimi

I just saw this:

[Visual Studio Extension: Folder To Solution Folder](https://marketplace.visualstudio.com/items?itemName=CeciliaWiren-CeciliaSHARP.FolderToSolutionFolder) ([GitHub](https://github.com/ceciliasharp/Extension.FolderToSolutionFolder))

Which reminded me of this:

To flesh this out a bit more, I would expect `dotnet sln add --file some/deep/path/to/somefile.ext` to ei

[2016-11-23 13:43] ArieJones commented on #4747
It also appears that the migration does not handle the following ...leaving junk around ..

[projectname].xproj.user
project.lock.json

[2016-11-23 13:45] ArieJones commented on #4747
When migrating, I also run into a problem where if the migration fails then the project is left in a state where there is a runtimeconfig.template.json file and the migrate command complains that it is already there.... shouldn't it just overwrite the thing.

[2016-11-23 14:05] ArieJones commented on #4747
So with a project with only single dependency between the projects...
Web -> Common
Security -> Common

because I haven't gotten around to adding in the Security class into the web project yet.. .

The migration shows as all successful ....EXCEPT the web project won't open on this one as well. The class libraries are fine.

[2016-11-23 14:05] ArieJones commented on #4747
The previous project had a more complex chain of dependencies involved.

[2016-11-23 14:27] joelharkes opened #4825 "Unable to publish multiple projects at the same time."
When i publish with `dotnet` cli, the output is:

Which indicates i could publish multiple projects at te same time (why else say: 1/1)

so i tried this.

## Steps to reproduce

`dotnet publish project1 project2 -o ../output`

## Expected  behavior

I expect 2 projects to be published in this output folder (each in there own folder, having the same name as the project folder).

## Actual behavior

[2016-11-23 14:28] blackdwarf commented on #4823
@piotrpMSFT no, we are not, but the idea of `dotnet msbuild` is to provide access to "raw" MSBuild in all its glory. This is why stayed with MSBuild style of switches. Of course, we could support both forms, that is, `/v` and `-v` even on `dotnet msbuild` to cover both use cases.

[2016-11-23 14:30] blackdwarf commented on #1183
@lpodolak for the last bit, here is the link for the doc with all of the links for Preview 3: https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md

[2016-11-23 14:38] blackdwarf commented on #4513
All of the above are good scearios, and it is good to see interest in this capability. However, I would like us to focus, obviously, on basic scenarios first (adding .NET Core projects to the solution file). When this is baked, I would look at other scenarios, like adding a solution folders. Similar can be said for website projects, especially since they don't seem to have a \*proj file (thanks @s

[2016-11-23 14:52] gkhanna79 commented on #1488
@geeooff Is this a deterministic repro on Debian8.6? If so, can you please share the steps to setup a repro at our end? This will enable @kouvel to take a look at this further.

Also, if the repro is deterministic, have you had a chance to run it under gdb/lldb and break at when exception is thrown? If so, can you please share that dump or callstack?

CC @janvorli

[2016-11-23 14:54] DustinCampbell commented on #2018
@GBatault: If I understand, you have a script that sets LD_LIBRARY_PATH and launches 'dotnet'? If so, putting this script on your path and naming it 'dotnet' should get various commnads in VS Code that depend on the .NET CLI working.

[2016-11-23 15:07] yupferris commented on #3995
I'm also seeing the original error, and interestingly enough I'm also using msys2. It works fine with straight cmd, but ideally that shouldn't make a difference.

[2016-11-23 15:08] yupferris commented on #3995
Setting `DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true` does not make a difference.

[2016-11-23 15:08] janvorli commented on #1488
@kamilosxd678 I've just seen your previous post, I am sorry for missing it when you have posted it few weeks ago. What is the hardware configuration of your machine?
Getting `Failed to initialize CoreCLR, HRESULT: 0x80004005` means that the initialization has failed at very early stages and I have always seen this error in the past when there was a mismatch between the libcoreclr.so and mscorlib.d

[2016-11-23 15:18] jpopadak commented on #4817
I believe if this were to occur, there should be a better error message stating that the platform is not compatible with this `debugType`.

[2016-11-23 15:18] kamilosxd678 commented on #1488
@janvorli I have basically bare-bone installation from https://www.microsoft.com/net/core#linuxdebian this tutorial. Even basic example hello world app has these problems and my server is not some weak virtual machine but middle-grade dedicated server (32 GB RAM, Xeon E5, SSD drive) and I still have problems with it. I would agree that this is strictly bad installation problem, but it works random

[2016-11-23 15:41] GuardRex commented on #4753
That's cool, but it isn't even a one liner ... https://github.com/GuardRex/cli/blob/guardrex/migration-tool-mod/src/dotnet/commands/dotnet-migrate/MigrateCommand.cs#L153

[2016-11-23 16:10] Bidimus commented on #4809
Excellent point.  I'll see if I can find time to verify this today.

[2016-11-23 16:51] kevin-de-coninck commented on #4819
Seems to be an issue with Resharper. Unit Tests (written in xUnit) does work correctly when running them from within the Test Explorer from inside Visual Studio.

[2016-11-23 16:51] #4819 closed

[2016-11-23 17:08] svick commented on #4813
There's a similar issue with `dotnet msbuild`:

[code]

[2016-11-23 17:18] svick opened #4826 "Trying to run preview 3 commands on project.json projects could give clearer error"
## Steps to reproduce

1. Create a project.json-based project.
2. Run a preview 3 command like `dotnet restore`, `dotnet build` or `dotnet run` on it.

## Expected  behavior

Clear error message explaining that the project is not compatible and suggesting `dotnet migrate`.

## Actual behavior

[code]

This is confusing to users that don't know the difference between the various Preview versions or

[2016-11-23 17:36] krwq commented on #4702
@Petermarcu I haven't seen that and I have migrated couple of projects - is it possible that you were using notepad and `dotnet migrate` used \n instead of \r\n? That still would be a bug on Windows IMO but lower priority.
If there is no actual line endings could you share the project and the output?

[2016-11-23 17:49] Petermarcu commented on #4702
yes, I opened it in notepad. I opened my project.json in notepad as well and it had line breaks. Its not a bug in Windows that it expects \r\n. The project I migrated was literally one that I created using 'dotnet new' from an older CLI (preview 2). I'll try to repro.

[2016-11-23 17:51] enricosada commented on #4787
@piotrpMSFT about templates, i sent #4827 (`preview2`) #4828 (`preview2.1`), updated #4789 (`preview4`).
i hope to release really soon, the `dotnet-compile-fsc` `1.0.0-preview2.1`, i hope tonight (tomorrow morning), i was a bit busy  yesterday and dont want to publish without more testing

[2016-11-23 17:57] Petermarcu commented on #4702
Yes, just repro'd it really easily. I'll email it to you.

[2016-11-23 18:00] jsgoupil commented on #4085
@piotrpMSFT ... thanks for the input. After more research (because I just spent 30h on this), Azure is with NuGet 3.5, and when you download NuGet from the home page, it ships with 3.4

3.5 behaves properly, 3.4 doesn't.

[2016-11-23 18:05] phenning opened #4830 "Update Web Templates to the latest"

[2016-11-23 18:05] jsgoupil commented on #4804
@piotrpMSFT Since you are here to talk about this version, I have been searching on how to not use this global.json and use the --fx-version? This simply doesn't work... Is --fx-version supposed to work like that?

On Azure with no global.json

    Version  : 1.1.0-preview1-001100-00
    ...
      --fx-version <version>           Version of the installed Shared Framework to use to run the applicat

[2016-11-23 18:19] krwq commented on #4702
Seems like we only get \n where on windows \r\n is most likely expected as many people use notpad which is not displaying that character properly. If we can't fix it in msbuild yet we should be able to do simply string.Replace("\r\n", "\n") on the output for now to provide better experience - not sure if that is suitable solution.

[2016-11-23 18:22] krwq commented on #4823
@piotrpMSFT, I agree with @blackdwarf - we have had this conversation on Slack before and since `dotnet msbuild` is as @blackdwarf mentioned pure msbuild experience I think it is not expected to provide such switch

[2016-11-23 18:26] janvorli commented on #1488
@kamilosxd678 the out of memory is really strange on a machine with so much memory. Is it possible that you have cgroups installed and that it limits the amount of memory available for the .NET SDK?
Anyways, would you be willing to run the dotnet run in a little different way and under strace and get me the log when it fails? I may be able to dig the real culprit from that.

What I would need is t

[2016-11-23 18:33] srivatsn commented on #4698
@hishamco The [Microsoft.Net.Compilers.netcore](https://github.com/dotnet/roslyn/blob/master/src/NuGet/Microsoft.Net.Compilers.netcore.nuspec) package brings in the vb compiler as well - are you saying that the vb compiler is not working for you? The bug that I mention in the compiler shouldn't block you from building because i'd put in a [workaround](https://github.com/dotnet/sdk/blob/master/src/

[2016-11-23 18:38] schellap commented on #1488
I have seen something similar before https://github.com/dotnet/cli/issues/652, with the server GC switch. Could you also try toggling the GC to be server or not in the project file? Or in the runtimeconfig.json.

[code]

[2016-11-23 18:46] srivatsn commented on #587
Yes the ones I point to above are definitely `use at your own risk` :)

[2016-11-23 18:52] GBatault commented on #2018
@DustinCampbell Tanks for the trick : So what I did today : I use my .bashrc add an alias : `dotnet='LD_LIBRARY_PATH=~/oldicu/:$LD_LIBRARY_PATH dotnet'`

But still the error on launching VS Code :
`The .NET CLI tools cannot be located. .NET Core debugging will not be enabled. Make sure .NET CLI tools are installed and are on the path.`

[2016-11-23 18:53] DustinCampbell commented on #2018
@gregg-miskelly: do you have any ideas?

[2016-11-23 18:53] kamilosxd678 commented on #1488
@janvorli Here it is http://cx453.net/download/strace.log

[2016-11-23 19:17] hishamco commented on #4698
Nope, I didn't find the VB assemblies, I found some with the same names in my machine but there's a missing dependencies, anyhow i will try to install the package and see what I come up with
thanks @srivatsn

[2016-11-23 19:34] Petermarcu commented on #4702
This isn't an immediate problem meaning, I don't think you need to hack to make it work. It should be fixed before you ship though. If that solution is in MSBuild then you can just track it there.

[2016-11-23 19:49] jeffkl commented on #4702
We have an open issue with comments' line endings being altered: https://github.com/Microsoft/msbuild/issues/1340

But the rest of the file should be correct.  @AndyGerlicher might have fixed this in https://github.com/Microsoft/msbuild/pull/1378

[2016-11-23 19:50] geeooff commented on #1488
@gkhanna79 I will try to build another public project to test, this one is just too big to reproduce, and source code can't be shared unfortunately. For the moment, my app was built on a VSTS Build Server (Azure Hosted Agent) using `dotnet publish` command. Technically this is the only .NET Core project this machine had launched. Can this be related to Debian vs Ubuntu differences ? On my test lap

[2016-11-23 19:54] gkhanna79 commented on #1488
It is possible and this is what I would like to isolate. If you can get a crash dump and share that, that may help too.

[2016-11-23 20:00] janvorli commented on #1488
@kamilosxd678 thanks a lot for the log. It has revealed one substantial anomaly that I believe causes the problem you are seeing, but I need to fully understand what's exactly going on.
The first part of the issue is that at the startup, we are trying to reserve a block of continuous memory at least 128MB and at most 2GB large that's located within 2GB range from the location of the libcoreclr.so

[2016-11-23 20:15] geeooff commented on #1488
@janvorli here's my log file: [https://dl.dropboxusercontent.com/u/7169701/GitHub/dotnet/strace_2016-11-23_1.log](url). I have renamed some parts of it, for obvious privacy reasons. I hope it will not bother you.

[2016-11-23 20:45] janvorli commented on #1488
@geeooff it shows a similar pattern. I cannot see the attempt to allocate memory for the executable memory allocator, but the pattern of looping over the large range of memory by 64k increments and failing after that is the same.

[2016-11-23 20:52] janvorli commented on #1488
@kamilosxd678 could you please run
`gdb --args dotnet exec bin/Debug/netcoreapp1.0/WebApplication2.dll`
then set breakpoint:
`b ExecutableMemoryAllocator::TryReserveInitialMemory`
answer "y" to "Make breakpoint pending on future shared library load? (y or [n])"
and then run the app:
`r`
When you hit the breakpoint, run
`info proc map`
and get me the output. This shows the layout of the memory at t

[2016-11-23 21:00] kamilosxd678 commented on #1488
@janvorli Sure thing
http://pastebin.com/LeNYCGwE

[2016-11-23 21:00] djanosik opened #4832 "Error: dotnet exec needs a managed .dll or .exe extension"
## Steps to reproduce

`dotnet test` in a folder with .csproj .NET Core project.

## Expected  behavior

Runs tests defined in the given project and display results.

## Actual behavior

Tests do not run and error message is displayed. It looks like an issue with space in path to some executable (MsBuild?).
[code]
Tests run in Visual Studio without issues.

## Environment data
[code]

[2016-11-23 21:01] djanosik commented on #4832
Eh, I see it's already fixed. Sorry, my mistake.

[2016-11-23 21:01] #4832 closed

[2016-11-23 21:12] geeooff commented on #1488
@janvorli I did the same thing, log file is [here](https://dl.dropboxusercontent.com/u/7169701/GitHub/dotnet/gdb_2016-11-23_breakpoint.log).

[2016-11-23 21:19] janvorli commented on #1488
@kamilosxd678, @geeooff  when you use `c` debugger command after dumping the map, do you hit the problem? The thing is that in both of the logs you have provided, the memory is free in the range where the executable allocator would try to reserve it, so I wonder if that's caused by the fact we are running under GDB or if it is an indicator of the fact that the mmap for some reason behaves differen

[2016-11-23 21:21] natemcmaster commented on #4812
Does this mean support for `dotnet nuget restore project.json` is removed?

[2016-11-23 21:48] geeooff commented on #1488
@kamilosxd678 I hit `Failed to initialize CoreCLR, HRESULT: 0x80004005` error after continuing from breakpoint. I tried to set your two breakpoints, and execution stopped on both breakpoints before crash. Here's the [log file](https://dl.dropboxusercontent.com/u/7169701/GitHub/dotnet/gdb_2016-11-23_two-breakpoints.log).

[2016-11-23 22:01] kamilosxd678 commented on #1488
@geeooff I think you wanted to respond to @janvorli

@janvorli So far every 10 times I continued program in gdb it was working ok :-( But without it - it still crashes

[2016-11-23 22:02] #4753 closed

[2016-11-23 22:39] blackdwarf commented on #2189
This is now done and the new instructions are on the website. Closing down.

[2016-11-23 22:39] #2189 closed

[2016-11-23 22:48] blackdwarf commented on #4726
This bit me as well. We need to figure out a way to do this because otherwise any tool author out there will need to add the above to their csproj files.

Any suggestions?

[2016-11-23 22:49] janvorli commented on #1488
Ok, then it seems that mmap is behaving in a strange way on Debian. I am installing debian 8.6 into a VM right now so that I can try to repro and debug the issue locally.

[2016-11-23 22:53] blackdwarf commented on #4609
Is there any fix for this btw?

[2016-11-23 22:55] blackdwarf commented on #4684
@cookting did you run `dotnet restore`?

[2016-11-23 23:00] blackdwarf commented on #4570
@krwq for localization purposes, what is the actual source of the error (why are we throwing)?

[2016-11-23 23:03] blackdwarf commented on #4539
On `1.0.0-preview3-004056` when running `dotnet /?` I get:

`No executable found matching command "dotnet-/?"`.

Not ideal, but better than the exception. :) We should change the error message if possible though.

[2016-11-23 23:14] kouvel commented on #1488
I tried some simple tests on Debian 8.6, wasn't able to repro with server GC on or off. My VM has 4 GB RAM and I just installed with the default settings for relevant options. Were there any significant config changes made to your machines apart from the default settings?

[2016-11-23 23:16] duraz0rz opened #4833 "dotnet test fails to run after a successful dotnet migrate on Mac and Windows"
Sorry if the name is pretty vague. Feel free to rename it.

I've been playing around with .NET Core as part of doing this kata, and I wanted to try to migrate to the new csproj-based projects just because. I'm running into an issue where I can't get the unit test project to run on my Macbook Pro or my Windows PC. Not sure what I'm doing wrong, either.

## Steps to reproduce
- Grab code from [this

[2016-11-23 23:20] prafullbhosale opened #4834 "Running dotnet build on a project that targets both net451 and netcoreapp1.0 fails"
## Steps to reproduce

Run `dotnet restore` and `dotnet build` on the below project

[code]

[code]

## Expected  behavior
Build succeeds.

## Actual behavior
**Error**

[code]

## Workaround
Run `dotnet msbuild /t:Restore /p:TargetFramework=net451` and then run `dotnet build`

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview4-004117)

Product Information:
 Versi

[2016-11-23 23:26] livarcocc commented on #4834
This belongs in the SDK repo. Please move it there.

[2016-11-23 23:29] livarcocc commented on #4833
A couple of things here. For the windows issue, this is a known issue in dotnet test where the path to the dll is not being quoted. You can work around it by downloading the binaries zip file and dropping it in a path without spaces and then adding that to your path and trying again.

For the mac issue, did you run dotnet restore before trying dotnet test? dotnet restore is still required.

As for

[2016-11-23 23:29] #4830 closed

[2016-11-23 23:30] enricosada commented on #4787
@piotrpMSFT ok template prs should be ok, i hope i am in time.
the `dotnet-compile-fsc` is not yet published (testing locally and i want to add ci in `dotnet/netcorecli-fsc` to check preview2/preview2.1)

[2016-11-23 23:35] geeooff commented on #1488
@kouvel It's a physical server, with a tiny CPU (an Intel Atom N2800, 2 cores, 4 threads), provided by OVH french ISP.

[code]

I didn't change anything "significant", except upgrades to last stable version (jessie).
But I think OVH pushed a custom linux kernel on their servers...
[code]

Until now, I've never been worried about this kernel. Maybe something is missing or disabled in mine ?

[2016-11-23 23:50] duraz0rz commented on #4833
@livarcocc Thanks for the pointers! That got me a bit further...just need to change the test runner now.

Also, I thought you could use netcoreapp 1.1 per [the alpha announcement blog](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/#dotnet-cli-tools) under the "Upgrading your project to use .NET Core 1.1" heading.

[2016-11-23 23:50] #4833 closed

[2016-11-23 23:57] cookting commented on #4684
Doh, no.  That fixed it.  Silly oversight, though the error was certainly
unclear.

On Nov 23, 2016 2:55 PM, "Zlatko Knezevic" <notifications@github.com> wrote:

[2016-11-24 00:12] prafullbhosale commented on #4834
Moved: https://github.com/dotnet/sdk/issues/423

[2016-11-24 00:12] #4834 closed

[2016-11-24 00:15] kouvel commented on #1488
I couldn't find an older kernel to try in the repo. Would it be possible to try the current stable kernel for Jessie and switch back to the other kernel, to see if that has something to do with it?

This is what I have installed: https://packages.debian.org/jessie/linux-image-3.16.0-4-amd64

[2016-11-24 00:31] geeooff commented on #1488
@kouvel I will do it as soon as I can (need to change grub boot order, and reboot the server), but for now I must sleep a bit ;)
My other server, virtual one this time, still from OVH, where the same app was used to run successfully, was using the stock Ubuntu 16.04 LTS kernel :
[code]

[2016-11-24 00:58] janvorli commented on #1488
@geeooff could you please repeat the experiment with running under gdb and setting breakpoint to ClrVirtualAllocWithinRange and when it gets hit, dump the stack trace using `bt` command for me? I'd like to see where this call came from. There are multiple code paths that can result in this function invocation.

[2016-11-24 02:19] gregg-miskelly commented on #2018
@GBatault I don't know enough about how node spawns processes to say for sure if bash aliases will apply or not. Did you try starting VS Code from a bash prompt with the alias set? I would imagine you could at least make a `dotnet` file which is really a bash script that could work.

For reference, all the debugger does is run [`dotnet --info`](https://github.com/OmniSharp/omnisharp-vscode/blob/03

[2016-11-24 02:33] blackdwarf commented on #4684
@cookting no argument about that. :)

[2016-11-24 04:47] GZidar commented on #4770
Perhaps this is because I am using an old version of the SDK (I am on 1.0.0-preview4-4079) but I notice that the command that Visual Studio tries to run when calling dotnet migrate includes a -p switch that the command does not appear to support. But I can attest to having all the same issues that are reported above when attempting to migrate a preview2 tools xproj + project.json to the preview4 t

[2016-11-24 04:52] GZidar commented on #4747
When attempting to open the project in VS 2017 RC the project doesn't properly load and there are warnings in the errors window with the following message:

The file '**\*.cs' could not be added to the project.  The specified path contains invalid characters, is an absolute path, or is a path outside of the project directory.

[2016-11-24 05:22] dsplaisted commented on #4815
@piotrpMSFT Yes, basically.  I think `dotnet build` should do what `dotnet msbuild` does today, and then there's probably not a need for a separate `dotnet msbuild` command.

[2016-11-24 07:00] weedkiller commented on #3064
**After updating to the latest it does not work for me!**

## I have this issue still NOT fixed, does not work.
In addition uninstalling a previous version fails to remove from windows

![image](https://cloud.githubusercontent.com/assets/21086190/20589069/e652cdf4-b1e7-11e6-8220-cbc9ede4c35b.png)

I tried to uninstall the `older Microsoft Core RC 1.0.1 VS tooling` and the `older Microsoft Core RC

[2016-11-24 07:19] piotrpMSFT commented on #4788
yep, you can leave the SDK at that version.

[2016-11-24 07:21] piotrpMSFT commented on #4817
@jpopadak recommendation?

/cc @blackdwarf

[2016-11-24 07:26] piotrpMSFT commented on #4825
@blackdwarf I agree with @joelharkes's assertion that the experience in preview2.1 was confusing. Thoughts? Note, this is a bug on the PJ CLI so it may not apply directly, but what is our intent on multi-project [sln?] publish?

[2016-11-24 07:30] piotrpMSFT commented on #4085
Glad you shared that @jsgoupil as I'm sure it will help others. Is there anything left to track in this issue, or can we close?

[2016-11-24 07:36] piotrpMSFT commented on #4804
@schellap you should comment here as well

That is pretty frustrating. We need to do a better job of disambiguating fx version [runtime] from tools version [sdk]. What you are expecting from the last command, I suspect, is something I'd type as `dotnet --sdk-version "1.0.0-preview2.1-003155" --info`. However, due to a couple of behaviors what is happening is that the host ignores --fx-version beca

[2016-11-24 07:42] #587 closed

[2016-11-24 07:46] piotrpMSFT commented on #4702
Using this to track getting a fix to the msbuild issues linked by @jeffkl above.

[2016-11-24 07:47] piotrpMSFT commented on #4832
@djanosik thanks for reporting and also validating :D

[2016-11-24 07:48] piotrpMSFT commented on #4812
That's what I understand from @rrelyea's post. It broke some tests for CLI [migration specifically] that we need to compensate for. I was under the impression that PJ restore was in for the long run, but the change reduces concepts and makes sense... Does this diverge from nuget.exe, however? I assume that one needs to maintain PJ support...

[2016-11-24 07:53] piotrpMSFT commented on #4539
@blackdwarf this will need to be spec'd. If we want some list of commands to result in `did you mean` then we need to know what those mappings are. Assigning to you for spec'ing...

[2016-11-24 07:54] #4822 closed

[2016-11-24 08:10] piotrpMSFT commented on #4770
@Gzidar do you have a repro we can debug?

[2016-11-24 08:22] piotrpMSFT commented on #4747
@ArieJones you've been busy 👍 I hope I don't miss any:
1. `--skip-project-references`
From help text:

This command simply prevents recursive migration of dependencies. It still requires dependency project.json's to be available for the migration of the current project.

2. `devenv /build Debug "D:\Development\Workspaces\VS2017\src\Carepilot\Carepilot.csproj"`
@srivatsn may be able to help with th

[2016-11-24 08:24] piotrpMSFT commented on #4747
@GZidar seems like a related but different issue. Can you open and add a repro?

[2016-11-24 08:25] piotrpMSFT commented on #4815
The intent of `dotnet build` is to call `dotnet msbuild /t:build`.  I don't think it's a fair assumption that the `default` target for a proj file is the `build` target...

[2016-11-24 08:31] piotrpMSFT commented on #4823
Ok, I like the reasoning. I opened the issue because the tests for `-v` are in the msbuild integration tests, which should include things we do for all msbuild invocations. This one stood out as an odity. If `-v` is not an msbuild integration feature but is a helper for a subset of commands then we need to move the test to an appropriate container. That container would own behavior common to the s

[2016-11-24 08:34] schellap commented on #4804
Why is `global.json` within the project root not sufficient? I just wanted to understand why, before we add `--sdk-version`.

Is it just for testing? Then you can simply use: `dotnet --fx-version "1.2.0" sdk/1.2.0/dotnet.dll --info` at the expense of UX.

I think the help message states the `--fx-version   Version of the installed Shared Framework to use to run the application`. It was never inten

[2016-11-24 09:29] der-andy opened #4835 "dotnet migrate fails with 'The given key was not present in the dictionary.'"
I have a solution with multiple projects. The "main" web project is an ASP.NET Core 1.1 project using .NET Framework 4.6.2. It references another project which is a "classic" Desktop class library (.csproj) which itself also references another "classic" class library. The web project is the only .xproj file in the solution.

In VS2015, everything worked fine. But I wanted to unify the project type

[2016-11-24 10:01] joelharkes commented on #4770
I Have the same issue:

[code]

The problem is probably there are multiple endpoint projects (not a single project that has all dependencies).

Then it twice migrates. but if they both have dependencies on the same project `MyLibrary` it will throw an error trying to migrate any other endpoint projects.

[2016-11-24 10:15] alexvaluyskiy opened #4837 "Coould not run xunit tests for two frameworks in one project"
## Steps to reproduce
I have this csproj
[code]

## Expected  behavior
dotnet test --framework net46
dotnet test --framework netcoreapp1.0

## Actual behavior
dotnet test --framework net46 - works fine
dotnet test --framework netcoreapp1.0 - does not work. I got an error
[code]
## Environment data
.NET Command Line Tools (1.0.0-preview4-004123)

Product Information:
 Version:            1.0.0-prev

[2016-11-24 10:34] joelharkes commented on #4825
@piotrpMSFT I think multi publish should be considered.

our architecture is made up of 2 kestrel console apps and 3 other console applications.
now i have to execute 5 times dotnet publish. 5 times going over library projects and all executing in synchronous order (otherwise i don't know if it will run into locking problems with trying to build the same project). This is a lot of overhead. if thi

[2016-11-24 14:47] alecrt commented on #4835
Same issue here:

[code]

In the zip attached project.json and xproj files
[project_files.zip](https://github.com/dotnet/cli/files/611572/project_files.zip)

[2016-11-24 15:40] jchannon commented on #2902
Just hit the same issue :( :(

[2016-11-24 17:06] nguerrera commented on #4539
How about showing usage for any unrecognized command?

[2016-11-24 17:09] enricosada opened #4839 "Flacky test GivenThatAnAppWasMigrated.When_skipbackup_specified_Then_project_json_artifacts_do_not_get_moved_to_backup"
## Steps to reproduce

Run ci test suite

## Expected  behavior

Pass

## Actual behavior

Intermittentlye (expecially on Ubuntu x64 Release Build), the build fails with a test error (ref [test report](https://ci.dot.net/job/dotnet_cli/job/rel_1.0.0/job/release_ubuntu_x64_prtest/130/testReport/(root)/(empty)/Microsoft_DotNet_Migration_Tests_GivenThatAnAppWasMigrated_When_skipbackup_specified_Then_

[2016-11-24 17:15] enricosada opened #4840 "Current ci fails for new pr"
CI is green, but new pr fails (with no changes)

## Steps to reproduce

Send a pr with empty commit.

## Expected  behavior

CI: Green

## Actual behavior

- Intermittent #4839 test failure
- always Test failure .VSTestFailTest (from MSTestSuite)

The current `HEAD` eb8e0cfa409d2ef89091f2058487be0e48e8a32e has a test failure  [.VSTestFailTest (from MSTestSuite)](https://ci.dot.net/job/dotnet_cli/j

[2016-11-24 17:16] enricosada commented on #4840
fixed by #4838 /cc @livarcocc @piotrpMSFT

[2016-11-24 17:23] blackdwarf commented on #4539
@nguerrera that could be a good first step. I will do some thinking here and update the issue with the plan on Mon.

[2016-11-24 17:28] dasMulli commented on #4835
So the script migration seems to have an issue when using an unsupported script hook [here](https://github.com/dotnet/cli/blob/eb8e0cfa409d2ef89091f2058487be0e48e8a32e/src/Microsoft.DotNet.ProjectJsonMigration/Rules/MigrateScriptsRule.cs#L90).

If i delete the `postbuild` script from the repro provided by @alecrt, the migration succeeds.

Log from my debug build (preview4-004124):
[code]

[2016-11-24 17:43] enricosada opened #4841 "Update F# templates to latest"
- [x] `preview2` ref #4827
- [x] `preview2.1` ref #4828 (may fails on restore because `dotnet-compile-fsc` is not on nuget.org yet, can be done later)
- [x] `preview4` ref #4836

/cc @cartermp @KevinRansom @dsyme @cloudRoutine

fix https://github.com/dotnet/netcorecli-fsc/issues/36

[2016-11-24 17:46] jpopadak commented on #4817
Honestly, I don't care what the error message states. As long at it explains that the `debutType` of `full` is not supported for non-windows machines. It would have saved my friend hours of searching the web...

@TimeDelta works strictly on Mac OS, I have someone else who works strictly on Linux, and I work strictly on Windows. They both had the same issue except for me. I thought their CLI tools

[2016-11-24 18:30] GBatault commented on #2018
@gregg-miskelly Tanks, seems to work like this : Create a srcipt shell to launch VS Code whith : `LD_LIBRARY_PATH=~/oldicu/:$LD_LIBRARY_PATH code`

[2016-11-24 20:09] erslater commented on #2802
@NPadrutt can you post your project.json file.

[2016-11-24 20:40] Thealexbarney commented on #2568
This seems to only happen when using dotnet-install.sh to install the SDK, and then it only happens for me when I run `dotnet` without any arguments. Running it with arguments works as expected.

Manually adding the installation directory to the path after running dotnet-install.sh works as expected.

[2016-11-25 10:21] mcintyre321 commented on #3187
I got this while using R#s continuous testing feature

[2016-11-25 12:14] geeooff commented on #1488
@janvorli Here's the [output](https://dl.dropboxusercontent.com/u/7169701/GitHub/dotnet/gdb_2016-11-25_callstack.log).
@kouvel I didn't forget you, i'm applying the generic kernel as soon as I can ;)

[2016-11-25 13:27] geeooff commented on #1488
@gkhanna79 @janvorli @kouvel My server is now running on the Debian 8.6 stable generic kernel, so without Grsecurity patches, and 3 instances of my app are running fine. I tried using GDB and `ClrVirtualAllocWithinRange` breakpoint wasn't hit at all with Server GC, only segfaults (expected ?) and no crash. Virtual Memory usage is still very high (approx 22 GB per instance).

I didn't check every p

[2016-11-25 13:51] yasenm commented on #3419
In our team we started recently a project.

Did try the fix with removing the app.config and worked for a brief period before checking the change and did appear again after that. This is major issue for us as we use TFS for all our projects. Can't believe this is not something considered before.

Did all kind of research and nothing helped. This is simply discouraging.

[2016-11-25 14:03] janvorli commented on #1488
@geeooff thank you for the details, I will definitely look into the grsecurity stuff, try to enable it on my local Debian 8.6 and see what we can do about it.
SEGFAULTS visible under the debugger most likely mean null references and if it runs ok without GDB, then they seem properly handled.
Thanks to the call stack you have provided us with, I can see why the ClrVirtualAllocWithinRange is called.

[2016-11-25 14:45] NPadrutt commented on #2802
@erslater sure:

[code]

I solved it for now with copying the .deps file one folder hierarchy up. to the folder it looks for it. that solved it so far.

[2016-11-25 15:17] erslater commented on #2802
You issue is with "frameworks": { "netcoreapp1.0": {. I had this issue as
well. This is used in the folder structure. It took a while for me to find
it and it also can make a difference if you use 1.1.0. Just make sure it
matches your folder structure.

There is also a newer version of the tools:
"Microsoft.EntityFrameworkCore.Tools.DotNet": "1.1.0-preview4-final"

On Fri, Nov 25, 2016 at 9:45 AM,

[2016-11-25 15:23] simonech opened #4844 "Cannot restore packages for RID ubuntu.16.10-x64"
## Steps to reproduce

Execute ` dotnew new`
Update `.csproj` file adding
[code]
Launch `dotnet restore`

## Expected  behavior

I would expect to able to the same thing I do with the `project.json` based project, like explained in the page [Self-contained deployments (SCD)](https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/#self-contained-deployments-scd)

So, being able to restore

[2016-11-25 15:33] simonech commented on #4844
Ok, nevermind... find the error....
No space allowed in the `RuntimeIdentifiers` property:

This works:

[code]

[2016-11-25 15:47] simonech opened #4845 "Space in between ids in RuntimeIdentifiers caused restore to fail"
Specifying the RIDs for a net core app leaving space between the ids causes restore to fail

This fails:
[code]
This doesn't:
[code]

Either the restore is more tolerant of spaces or an more descriptive error is given, otherwsie the only error I get is a criptic

[code]

[2016-11-25 15:47] atanasa commented on #4783
Considering why you are migrating back to MSBuild, legacy code should work with minimal changes. That is, one way is for the default value for GenerateAssemblyInfo to be false and migration from project.json to handle this.
If I remember correctly, the project.json behavior was to generate only the attributes that were specified in the project.json and that approach supported both legacy code and

[2016-11-25 16:38] dsplaisted commented on #4783
@atanasa We do have granular attributes that let you enable or disable each automatically generated assembly attribute: https://github.com/dotnet/sdk/blob/8f09baf9b3c600d7df3495c6eb68814959b4bafb/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.GenerateAssemblyInfo.targets#L27-L36

I would like to improve the error message here, but I would not like to have to put an extra property in the p

[2016-11-25 19:03] vcsjones commented on #4837
Same.

.NET Command Line Tools (1.0.0-preview4-004124)

Product Information:
 Version:            1.0.0-preview4-004124
 Commit SHA-1 hash:  eb8e0cfa40

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.11-x64
 Base Path:   /usr/local/share/dotnet/sdk/1.0.0-preview4-004124

[2016-11-25 19:36] jsgoupil commented on #4085
Yes you may. Thanks.

[2016-11-25 19:46] jsgoupil commented on #4804
Picking a tool based on having a global.json in the root is not obvious. If you were to run dotnet.exe from a path I don't have access to drop any files, then we would never be able to choose the SDK version.

Also, the fact that Azure updates with new "previews" and in turn changes the behavior of the `dotnet` command makes me cringe... Especially the fact that it's not backward compatible. Now y

[2016-11-26 00:14] #4034 closed

[2016-11-26 00:16] livarcocc commented on #4845
Moved this over to the SDK repo.

[2016-11-26 00:16] #4845 closed

[2016-11-26 10:22] rogersachan commented on #4787
The updated template linked to (http://blog.2mas.xyz/fsharp-suave-app-on-dotnet-core-on-kubernetes-on-google-cloud/) is also broken.

P.S. Is there any update to this? I can't upgrade the version of any other .NET Core templates for Eclipse Che if this isn't going to be fixed soon.

[2016-11-26 10:55] pellea commented on #3371
This problem is not solved. I wanted to install the new .NET core 1.1 runtime and sdk and it failed. I had to remove the VS2015 C++ x86 and x64 before installing the .NET core.

[2016-11-26 11:43] NPadrutt commented on #2802
ah, I see.  I will try it out :)

[2016-11-26 13:52] GuidovTricht commented on #4619
I am running into the same problem, even after adding the RuntimeIdentifier in the csproj:
![image](https://cloud.githubusercontent.com/assets/1440052/20640752/d821299a-b3e7-11e6-834e-69cf1ba3f4ff.png)
Is there another fix for this, or am i doing something wrong? It does work on my desktop PC without even adding the RuntimeIdentifiers.

[2016-11-26 14:59] belczyk commented on #4619
@GuidovTricht I had the same problem. I'm pretty sure @livarcocc quoted specs not actually value to be copied to project file.
It actually should be <RuntimeIdentifier> (singular) not <RuntimeIdentifiers> (plural).
For example: `<RuntimeIdentifier>win7-x86</RuntimeIdentifier>`
When I changed it to singular version project builds properly.

![2016-11-26 15_53_50 visual studio](https://cloud.githubu

[2016-11-26 14:59] carlos-sarmiento opened #4846 "dotnet restore succeeds from within VS, fails in command line"
## Steps to reproduce
I have a solution that implements a library along with its unit tests. Both projects are .NET Core projects, the Class Library points to .NETStandard 1.6, the unit test is .NETCoreApp 1.1

The folder structure is
[code]

The `global.json` file is:
[code]

The `project.json` in Somesoft.V2.Libs.EventSourcing.Tests includes a dependency on Somesoft.V2.Libs.EventSourcing like th

[2016-11-26 16:32] GuidovTricht commented on #4619
@belczyk Thanks for your reply!
This is indeed the case, next to the fact that the node was named RuntimeIdentifier**S**, instead of RuntimeIdentifier.
I can now succesfully build my solution, thanks :)

[2016-11-26 20:22] alexvaluyskiy commented on #4837
I've added these two lines and it started working
[code]

[2016-11-26 20:55] onovotny opened #4847 "Dotnet Migrate fails to create working project"
## Steps to reproduce
Use the following xproj/project.json that builds successfully on Windows using the Preview2 tooling:

https://github.com/onovotny/Preview3-migrate-bug/tree/master/backup

Then run `dotnet migrate`. The migrate itself is successful, but the result does not build.

## Expected  behavior
Everything that works in preview 2 should work in preview 3 and beyond.

## Actual behavior

[2016-11-26 20:56] onovotny commented on #4847
@piotrpMSFT Any ideas here? This seems like basic stuff, but tons of errors.

[2016-11-26 21:35] johnwilkey commented on #3093
Since there hasn't been any post on this topic in a couple of months, I will share some insights having just come across this as a fresh (potential) adopter of Core CLR.

Just downloaded latest build of .NET core and just by luck noticed the unremarkable disclaimer after running one of the dotnet shell commands.

This is altogether ridiculous and comes on the heels of already-rediculous telemetry

[2016-11-26 22:14] gregoryagu commented on #4770
## Steps to reproduce
Migrate Project from VS2015 to VS2017RC

## Expected  behavior
Migration Completed

## Actual behavior
"The imported project ...\Microsoft.DotNet.Props" was not found."

## Environment data
.NET Command Line Tools (1.0.0-preview3-004056)

Product Information:
 Version:            1.0.0-preview3-004056
 Commit SHA-1 hash:  ccc4968bc3

Runtime Environment:
 OS Name:     Windows

[2016-11-26 22:23] enricosada commented on #4787
@rogersachan the Eclipse Che support f#?

[2016-11-26 22:39] clentfort commented on #4675
A "ASP.NET Web API" template for `dotnet new` would be nice. :)

[2016-11-27 01:08] ByronAP commented on #1860
I have this problem regularly, my solution seems to be opening the root folder of the solution and doing a find for *.lock.json and deleting them all then opening the solution.

[2016-11-27 02:56] mcm-ham opened #4848 "Tooling issue with microsoft.diasymreader.native"
## Steps to reproduce
* run `dotnet new`
* update csproj to target `netcoreapp1.1` and Microsoft.NETCore.App nuget reference to 1.1.0.
* open project in VS2017RC

## Expected  behavior
Not throw an an error if project located on a different drive other than C:
[VsProjectFault_1f5782a9-94e0-4018-94af-b0462c6fff0c.failure.txt](https://github.com/dotnet/cli/files/614539/VsProjectFault_1f5782a9-94e0-4

[2016-11-27 03:17] tinchou commented on #4759
Hey, sorry to hijack your issue. Do you have any more information about how you fixed it?

I'm running the docker image `microsoft/docker:1.1-sdk-msbuild` and it fails in the publish step with exactly the same errors you posted here. I checked and every reference was updated to `netcoreapp1.1`.

Thanks!

[2016-11-27 03:22] rogersachan commented on #4787
@enricosada Yes, they support .NET Core - indirectly F# since I contributed the template to them. They have basic support for the lang such as highlighting and basic code completion.

P.S. We haven't upgraded our .NET Core version yet, but it doesn't help having the rug pulled out from under my feet since this will now become a blocking issue when we do move.

[2016-11-27 06:12] inormis commented on #2385
@piotrpMSFT is there any workaround for this?

[2016-11-27 06:37] GuardRex commented on #4759
If you know you have the 1.1 SDK from https://www.microsoft.com/net/download/core and you have `1.0.0-preview3-004056` tooling from https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md, check out the notes from @vijayrkn in https://github.com/aspnet/IISIntegration/pull/299. He got me patched up. 🚑

[2016-11-27 08:19] droyad commented on #2385
@inormis IIRC setting the `Home` environment variable works around this issue

[2016-11-27 08:43] rogersachan commented on #4841
All three of them were approved. When will they be merged then?

[2016-11-27 13:51] enricosada commented on #4841
@rogersachan soon, because there is going another release (`preview4` and an update of `preview2` too).
The dotnet/cli is really near code freeze, they are finalizing for next release (that's why the `approved` label)
Is thanksgiving atm in usa, so lets wait a bit 😄

[2016-11-27 14:15] enricosada commented on #4787
@rogersachan nice to see more ides support!

Your issue is blocking because the default templates use the net core 1.1 ? because the LTS is .net core 1.0 atm.

[2016-11-27 15:28] jeromelaban opened #4849 "Upgrade fails on a project that contains a relative "includeFiles""
## Steps to reproduce
Open [Rx.NET/Source/Rx.NET.sln](https://github.com/Reactive-Extensions/Rx.NET/commit/548cd01bd6d6f9e5883d67bcc9ba62a7a4579d33#diff-e8e13495843b2818d0f01c89f97daa0d) in `VS2017 RC (15.0.25920.0)`

## Expected  behavior
The migration for all `.xproj` projects to `.csproj` happens correctly.

## Actual behavior
The migration fails because the [GlobalAssemblyVersion.cs](https://g

[2016-11-27 16:17] rogersachan commented on #4787
@enricosada "Current releases include the latest features and are supported for three months after the next release, so you should always stay in the latest version."

This is directly from te site and is what led us to upgrade.

[2016-11-27 16:52] enricosada commented on #4787
@rogersachan i dont know your project and reasons, but atm new .net core 1.1 changes are not much (respect of .net core 1.0) ref https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.md pratically more distro and some perf atm, plus some bugs (but big one are backported to preview2 and .net core 1.0.* too).
"Stay to latest version" i think mean latest of `Current` preview2.1. Using prev

[2016-11-27 17:00] GuardRex commented on #2956
@moozzyk Reviewing issues for Pub IIS. This seems like too much of an edge case to sweat for the Common Errors section (if even still a problem), correct?

[2016-11-27 17:24] tinchou commented on #4759
It built now! I think the issue was I had `web.config` in the `<Content>` tag, and it was overlapping with the one on `Microsoft.NET.Sdk.Web`.

Thanks a lot!

[2016-11-27 18:02] rogersachan commented on #4787
@enricosada It's the tooltips from https://www.microsoft.com/net/download/core when you hover over `LTS` and `Latest`

[2016-11-27 18:19] enricosada commented on #4787
@rogersachan i think that's ambiguous. i think it mean:
- use `LTS` and use lts updates, will be updated and supported X years
- use `Current` but each release of current will be out-of-support after three months of next `Current`. so you need to periodically update `Current`.
maybe we should just open a new issue asking for clarifying

[2016-11-27 21:47] rpokrovskij commented on #3419
@MelbourneDeveloper
I have one core sulution (web mvc) and many proj C# libraries.
In my case total removing nuget packages from all my proj projects (and delete all files in package folder) with next  returning them back helped me.

What doesn't help: "Consolidate on sulution level".

[2016-11-28 02:58] mellinoe opened #4850 "CLI (permanently) changes console color when an invalid command is typed"
## Steps to reproduce
Try to use a command that doesn't exist. e.g.: `dotnet.exe migate`

## Expected  behavior
An error message appears, maybe in a different color, and then console color is unchanged after that.

## Actual behavior
Console color remains pink-ish.

## Environment data
[code]

[2016-11-28 03:01] mellinoe opened #4851 "CLI has bad behavior when a csproj already exists in the folder"
When calling `dotnet migrate` on a project.json which has a csproj file next to it, the CLI gives bad error messages and leaves files in a torn state. It both says that the migration has succeeded and that it has failed. It deletes the project.json file but leaves the csproj file unchanged.

[code]

[2016-11-28 03:39] mellinoe opened #4852 "Migration does not transfer "packOptions -> files" items"
My project.json file has some files listed under the "packOptions" header. They aren't migrated at all and no error is given.

[2016-11-28 03:45] mellinoe opened #4853 "Migration inserts unnecessary elements into the project"
I see that all of my projects have a number of unnecessary elements in them. Can we detect if these are necessary and only conditionally include them?

[code]

^ Unused; there are no such files.

[code]
^ I don't want my project to reference this package, and it didn't before.

[code]

This just seems like cruft.

[2016-11-28 06:37] GuardRex commented on #4853
[code]
It also doesn't check if these `Exclude` locations or the `.xproj` file exists before tossing this in.

[2016-11-28 07:17] kimbaudi commented on #4760
The problem isn't the Yeoman template (`yo aspnet`). In fact, it is ready for 1.1.0. I think the issue is that you need to update your .NET Core SDK to version 1.1 (https://www.microsoft.com/net/core#macos), which is the current version.

[2016-11-28 07:59] piotrpMSFT commented on #4852
Can you add a repro, @mellinoe?

[2016-11-28 07:59] piotrpMSFT commented on #4852
@livarcocc

[2016-11-28 08:00] omajid opened #4854 "No mention of NuGet.Client in ThirdPartyNotices.txt"
A built cli includes various dlls built from from NuGet.Client project. It also includes a LICENSE file and a ThirdPartyNotices.txt. There's no mention of NuGet.Client or its license (Apache 2.0) in either the main LICENSE file or in ThirdPartyNotices.txt.

[2016-11-28 08:01] piotrpMSFT commented on #4854
@rrelyea do we need to add?

[2016-11-28 08:16] piotrpMSFT commented on #4849
@jeromelaban does this repro if you:
- revert changes from VS
- run 'dotnet migrate' from cmd line from root directory of project with no args?

[2016-11-28 08:19] piotrpMSFT commented on #4848
@srivatsn

[2016-11-28 08:22] piotrpMSFT commented on #4675
@mlorbetske

[2016-11-28 08:27] piotrpMSFT commented on #4847
@onovotny restore?

[2016-11-28 08:50] piotrpMSFT commented on #4840
#4838 is merged.

[2016-11-28 08:50] #4840 closed

[2016-11-28 08:52] piotrpMSFT commented on #4817
We should consider adding a persistent warning if `debugType` is not portable, off only if the project targets Desktop TFMs only.

[2016-11-28 08:53] piotrpMSFT commented on #4825
@blackdwarf will propose the intention change here.

[2016-11-28 11:28] inormis commented on #2385
@droyad could you elaborate more on this?

[2016-11-28 12:01] droyad commented on #2385
As OP mentions, this issue occurs when the `HOME` environment variable is not set. Setting it works around the issue.

[2016-11-28 12:05] svick commented on #4850
This sounds like duplicate of https://github.com/dotnet/cli/issues/4428, which was closed because @livarcocc could not reproduce it in preview2.

[2016-11-28 12:40] svick commented on #4853
@mellinoe If you add .resx file to the project directory at some point after the migration, wouldn't you expect the project to pick it up?

[2016-11-28 13:08] onovotny commented on #4847
Restore succeeds:

[code]

Build errors out:

[code]

[2016-11-28 14:10] inormis commented on #2385
@droyad  Home is set to /home/teamcity. Should it be set to something else?

[2016-11-28 14:38] glenn-barnett commented on #4760
.NET Core 1.1 was the first thing I installed - on 11/16, which was the day it was released (https://github.com/dotnet/core/releases).  This was my first time trying .NET core.

I encountered the issue described with 1.1.  When I additionally installed 1.01, and reran the dotnet cli commands, things worked properly.

[2016-11-28 14:42] radenkozec commented on #3439
@piotrpMSFT  Having same issue when upgraded to .NET Core 1.1 and workaround above did not solve the issue.

[2016-11-28 14:54] inormis commented on #354
@piotrpMSFT  same here. I still get this error

[2016-11-28 15:05] ahmedalejo commented on #3915
@jindovu deleting **/bin** worked around this issue,

But i guess this doesn´t resolve it, we don´t know why it occurs.

[2016-11-28 16:30] joelverhagen commented on #4609
For now, the workaround is to specify a RID in the app .csproj, e.g.

[code]

[2016-11-28 17:19] leecow commented on #4854
@rrelyea this would potentially be a ship blocker for Red Hat.

[2016-11-28 17:28] omajid commented on #4854
@leecow It doesn't affect us immediately. We generally look at the set of licenses on the entire RPM - in this case all of .NET Core - and since at least one other piece of code in .NET Core is under Apache 2.0, this license is covered. But the packaging guidelines strongly encourage us to make sure the list of  licenses is complete and all licenses are installed on the user's machine.

[2016-11-28 17:31] moozzyk commented on #2956
@GuardRex - Correct, I don't think this belongs to __common__ errors.

[2016-11-28 17:37] leecow commented on #4854
Thanks for the clarification @omajid !

[2016-11-28 17:37] GuardRex commented on #2956
yep ... not "common" enough for "common errors" :smile:

[2016-11-28 17:38] PinpointTownes commented on #2956
@GuardRex @moozzyk isn't this "bug" fixed in RTM, anyway?