[2016-11-01 05:23] #4302 closed

[2016-11-01 05:30] livarcocc commented on #4556
cc @nguerrera

[2016-11-01 05:35] piotrpMSFT commented on #4555
@blackdwarf could we go for a warning here? Overwriting on a second migration can be quite destructive as folks are likely to have modified their csproj after migrating. I'd much rather display a summary that says that a PJ was skipped in migration because foo.csproj already exists. This is enough context for a user to delete the csproj if they really want the migration to take place. Thoughts?

[2016-11-01 05:38] piotrpMSFT commented on #4556
This likely belongs in the SDK repo. @nguerrera do you want me to move it?

[2016-11-01 05:48] piotrpMSFT commented on #4548
Updating the title a bit. This bug is really about references that PJ interpreted as being P2P instead being migrated as PackageRefs.

[2016-11-01 05:50] piotrpMSFT commented on #4484
glad to hear, @enricosada!

/cc @srivatsn @nguerrera @KevinRansom regarding contributions to the sdk.

[2016-11-01 05:51] Eilon commented on #4556
@livarcocc @piotrpMSFT BTW as @NTaylorMullen said, we think this is a dup, but we just can't find it.

This is the "resources don't seem to work properly" issue I mentioned at today's 4:30pm standup/sync.

[2016-11-01 06:00] piotrpMSFT commented on #4280
Yep, the scripting system in the project.json CLI had a limitation around intrinsic commands provided by the shell itself. I just did a small test atop msbuild, however, and validated that we won't see this behavior moving forward!

[code]

Outputs:

[code]

[2016-11-01 06:00] #4280 closed

[2016-11-01 06:04] piotrpMSFT commented on #4278
We recently completely removed project.json support from the preview3 CLI altogether. I believe build 3933 was the first to carry the change. If working with project.json please continue to use preview2 at the moment. Once the end-to-end migration scenario lights up you'll be able to use preview3 again.

[2016-11-01 06:04] #4278 closed

[2016-11-01 06:05] piotrpMSFT commented on #4274
@mjmilan I'm going to close the issue since it's been idle for quite some time. Please open a new issue if needed.

[2016-11-01 06:05] #4274 closed

[2016-11-01 06:21] livarcocc commented on #4096
I am closing this. We have separate items for the two items that still need work.

[2016-11-01 06:21] #4096 closed

[2016-11-01 06:22] livarcocc commented on #4458
This is in the preview2-1 CLI. It does not belong in the preview3 bucket. Though it is fixed for preview3.

[2016-11-01 06:46] piotrpMSFT commented on #4235
The visual studio tooling is tracked in the aspnet/tooling repo.

[2016-11-01 06:48] #4235 closed

[2016-11-01 06:49] piotrpMSFT commented on #4244
Agreed with both comments, but we should have a consistent story.

@blackdwarf can you help us get the right version documented everywhere? @bartonjs may be able to help identify that version if needed.

[2016-11-01 06:51] piotrpMSFT commented on #4245
@blackdwarf @bartonjs we need to get the libssl docs cleaned up to be more bulletproof.

[2016-11-01 06:53] piotrpMSFT commented on #4246
Moving to aspnet/home repo

[2016-11-01 06:53] #4246 closed

[2016-11-01 06:59] piotrpMSFT commented on #4247
Just verified that this is fixed in the preview3 msbuild version of pack:

[code]

Since this is fixed in the next release, closing.

[2016-11-01 06:59] #4247 closed

[2016-11-01 07:01] piotrpMSFT commented on #4199
Let's track this in the core-setup repo per @eerhardt's link above. If this is to be implemented it will need to happen at the host level, which comes from core-setup.

[2016-11-01 07:01] #4199 closed

[2016-11-01 07:13] piotrpMSFT commented on #4197
I just ran this repro and found that while the `Repositories` project restores successfully, the WebApplication project does not. The reason for this is that the global.json file in the WebApplication directory does not point to the Repositories project directory as a source location. as a result, we cannot find the project dependency and fail to restore.

You can change the global.json in the Web

[2016-11-01 07:13] #4197 closed

[2016-11-01 07:14] piotrpMSFT commented on #4196
Moved to nuget repo

[2016-11-01 07:14] #4196 closed

[2016-11-01 08:29] izverev-aexsoft commented on #3754
Got the same issue.
Reason was the file MyProject.**runtimeconfig.json** located in MyProject\bin\Debug\netcoreapp1.0 folder which contained a reference to previously used version. Project/solution clean/rebuild won't help. Deleting the file resolved the issue.

[2016-11-01 11:32] aling93 commented on #4248
I'm also experiencing the same issue.

[2016-11-01 11:59] codito opened #4559 "Add migrate support for mstest test projects"
Sample mstest project.json based test is available here: https://blogs.msdn.microsoft.com/visualstudioalm/2016/09/01/announcing-mstest-v2-framework-support-for-net-core-1-0-rtm/

A csproj based template is available here: https://github.com/dotnet/sdk/tree/master/src/Templates/ProjectTemplates/CSharp/.NETCore/CSharpUnitTest

[2016-11-01 13:37] Faizan2304 opened #4560 "Vstest.console is not getting packaged"
## Steps to reproduce
I fetched latest rel/1.0.0 and build it. I found that vstest.console is not getting packaged.

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2016-11-01 13:57] blackdwarf commented on #3528
@livarcocc @piotrpMSFT thoughts on this?

[2016-11-01 14:16] bartonjs commented on #4244
The documentation is correct.  We only depend on functions available from 1.0.1, 1.0.2 is binary compatible (and what is currently installed by Homebrew, but I don't know about MacPorts); and both of them use "1.0.0" as their library loader version.

[2016-11-01 14:19] bartonjs commented on #4245
@sushihangover I've not seen `libcrypto.1.0.2.dylib` as a filename produced by Homebrew (it's always produced `libcrypto.1.0.0.dylib` in my experience).  Did you do a default install, or do you have some sort of brew customization?

[2016-11-01 16:24] nguerrera commented on #4556
Go ahead and create a new issue on the SDK. Please provide complete repro steps.

[2016-11-01 16:39] Eilon commented on #4556
This issue was moved to dotnet/sdk#346

[2016-11-01 16:39] #4556 closed

[2016-11-01 16:43] codito commented on #4560
Fix is in https://github.com/dotnet/cli/pull/4558

[2016-11-01 16:43] codito commented on #4526
Fix is in https://github.com/dotnet/cli/pull/4558

[2016-11-01 17:04] jinujoseph opened #4561 "Migrated project from command-line migration again prompts migration when opened from VS"
## Steps to reproduce
- Copy the project from \\scratch2\scratch\jinuj\TestSceanrio\VSMigrationDemo.zip
- Extract to some folder in machine
- Go to VSMigrationDemo and run " dotnet migrate "
![image](https://cloud.githubusercontent.com/assets/12449387/19898579/dbc798d6-a019-11e6-971f-a65ac2be9ea4.png)
- now open the solution in IDE
## Expected  behavior
Once migrated , the solution should open up

[2016-11-01 17:14] jinujoseph opened #4562 "Restore fails on migrated project"
## Steps to reproduce
Copy the project from \scratch2\scratch\jinuj\TestSceanrio\VSMigrationDemo.zip
Extract to some folder in machine
Go to VSMigrationDemo and run " dotnet migrate "
![image](https://cloud.githubusercontent.com/assets/12449387/19898900/2db70d38-a01b-11e6-9796-2af99e41fedb.png)

- once migrated run dotnet restore
- Restore failed on solution level
- Now try restoring from from the

[2016-11-01 17:28] NTaylorMullen opened #4563 "Parameterless dotnet restore/build confuse xproj for buildable project file."
## Steps to reproduce
- Add xproj to a directory with a csproj
- Run dotnet restore or dotnet build

## Expected  behavior
- restore/build choose the only csproj file in the directory and succeed

## Actual behavior
- `MSBUILD : error MSB1011: Specify which project or solution file to use because this folder contains more than one project or solution file.`

## Environment data
`dotnet --info` out

[2016-11-01 18:04] blackdwarf commented on #4245
@bartonjs @sushihangover so, would it help if we explicitly install the version that we need/want via `brew`? If `brew` does change the filenames being installed, then this is going to be a never-ending update cycle...

[2016-11-01 18:12] bartonjs commented on #4245
@blackdwarf Depends on what you mean be "explicit" and "version".  We don't want a locked patch version, that advises that we don't want security fixes coming down.  The package named "openssl" on homebrew brings down, as of me running `brew update` just now, OpenSSL 1.0.2j.

And `/usr/local/Cellar/openssl/1.0.2j/lib/` contains `libcrypto.1.0.0.dylib` and `libssl.1.0.0.dylib`, but no `libcrypto.1.

[2016-11-01 18:17] NTaylorMullen opened #4564 "Migrate doesn't correctly migrate property content newlines from project.json"
The incorrect migration results in build errors.

## Steps to reproduce
- Migrate a project.json with the following property: `"description": "Line 1\r\nLine 2\r\nLine 3"`

## Expected  behavior
- csproj has description as:
[code]
Or
[code]

Looks like Description doesn't support CDATA out of the box, not sure if this is intended or not. Filed an issue: https://github.com/dotnet/sdk/issues/347

##

[2016-11-01 18:26] livarcocc commented on #4564
@jeffkl @raines @cdmihai I don't think we do anything special for it. It is the msbuild API that is doing that. Can you guys comment on it?

[2016-11-01 18:28] livarcocc commented on #4563
We have made a change to move the PJ and the xproj to the backup folder once migration happens, so this won't be an issue.

We don't want to only look for csproj because that is not really the only thing that we can handle. We handle what MSBuild does. We could be explicit about excluding xproj, at best, but given that we are moving these files away, I don't think that is needed.

Re-activate if y

[2016-11-01 18:28] #4563 closed

[2016-11-01 18:30] livarcocc commented on #4562
@emgarten Justin, can you take a look?

@jinujoseph For the xproj/csproj, we have fixed that in a later build of the CLI, where we move the migrated xproj/PJ to a backup folder.

[2016-11-01 18:30] livarcocc commented on #4561
Please open this in VS.

[2016-11-01 18:30] #4561 closed

[2016-11-01 18:32] livarcocc commented on #4555
I agree with @piotrpMSFT. If we overwrite we may delete work the user has already done on the previously migrated csproj. Plus, at this point, why not simply editing the csproj?

[2016-11-01 18:47] emgarten commented on #4562
This error appears to be coming from Microsoft.Common.CurrentVersion.targets, it does not look related to NuGet,

[2016-11-01 19:05] chwarr commented on #3807
This looks like a duplicate of https://github.com/dotnet/cli/issues/1475 to me. That issue mentions a possible workaround: have dummy files that get overwritten by the precompile scripts. This is working for me.

I doubt that this will get fixed, with the planned move to MSBuild-based builds.

(Though I work for Microsoft, I'm not associated with this project.)

[2016-11-01 19:08] livarcocc commented on #4564
Closing this. Please open one in msbuild, if there isn't one already.

[2016-11-01 19:08] #4564 closed

[2016-11-01 19:22] livarcocc commented on #4562
cc @nguerrera

[2016-11-01 20:02] nguerrera commented on #4562
This would be fixed by https://github.com/Microsoft/msbuild/pull/1280, which I understand is already in latest VS and CLI.

[2016-11-01 20:04] nguerrera commented on #4562
@livarcocc Was the msbuild update for that after v3933 of CLI? If so, that would explain it.

[2016-11-01 20:05] nguerrera commented on #4562
Also, has a CLI with the newer msbuild gone in to VS yet?

[2016-11-01 20:05] livarcocc commented on #4562
@nguerrera Correct. It was updated after that.

[2016-11-01 20:05] #4562 closed

[2016-11-01 20:38] NTaylorMullen commented on #4564
Curious isn't it the CLI migration logic that should be outputting the CData?

[2016-11-01 20:38] NTaylorMullen commented on #4564
Ah, nevermind. We want to support newlines in the property outright.

[2016-11-01 21:05] nguerrera commented on #4534
Making another SDK change, and it's just begging to add a BaseOutputPath (default bin\) for symmetry with BaseIntermediateOutputPath (default obj\).

I think it is useful to support setting only BaseOutputPath and letting the SDK decide the defaults under it and we should do it. The CLI can set BaseOutputPath based on buildBasePath once that's done.

[2016-11-01 21:37] NTaylorMullen commented on #4534
So build base path will be supported soon?

[2016-11-01 21:41] nguerrera commented on #4534
I don't know about "soon" in the CLI. I will have a building block in the SDK shortly.

What were the precise semantics of buildBasePath in CLI?

Did it:
* also redirect intermediate output?
* still make each project build to its own folder?

If so, matching the semantics would not be as trivial as setting /p:BaseOutputPath={buildBasePath}, It would have to be something like /p:BaseOutputPath={bui

[2016-11-01 21:49] NTaylorMullen commented on #4534
I believe so but would need to verify.

Build base path would be set to something like `../../somewhere` and then you'd have a `../../somewhere/ProjectName/...` structure. The project built with a build base path would not output any bits in the folder with the project file

[2016-11-01 21:53] DustinCampbell opened #4567 "Latest Preview3 .NET CLI fails on "dotnet new" on Windows 32-bit"
## Steps to reproduce

1. Install Windows 10 32-bit
2. Install latest Preview3 .NET CLI
3. `dotnet new`

## Expected  behavior

Success!

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

[2016-11-01 21:55] livarcocc commented on #4567
@emgarten Can you help me understand why this is happening?

[2016-11-01 22:12] #4559 closed

[2016-11-01 22:41] blackdwarf commented on #4555
There are multiple options here:

1. Blindly overwrite - bad for some reasons
2. Produce a warning
3. Produce a warning and let the user continue with a key pres (similar to what happens in zsh if you do `rm -rf *`)
    3.1 Also add a `--force` option to `dotnet migrate` to do the `y` press.

I'm fine with starting with #2 and seeing what the users tell us is this a problem or not. Ideally, after

[2016-11-01 22:47] NTaylorMullen opened #4568 "Migrate doesn't respect global.json"
## Steps to reproduce
- Unzip [Repro.zip](https://github.com/dotnet/cli/files/565236/Repro.zip)
- Run dotnet migrate at the root (or individually, doesn't matter).
- Inspect csproj files

## Expected  behavior
- Project references for Project1 => Project2 => Project3

## Actual behavior
- Package references

## Environment data
`dotnet --info` output:

[code]

[2016-11-01 22:47] blackdwarf commented on #2632
Moving this to Preview 4 as it will require some more verification to see if it is working.

[2016-11-01 22:55] #4548 closed

[2016-11-01 23:01] bgribaudo opened #4569 "Standardize dotnet's Project Search Algorithm (i.e. how project.json files are found)"
## Expected  Behavior
`dotnet restore`, `dotnet build`, `dotnet test`, `dotnet pack` all use the same search algorithm to look for projects (i.e. project.json files).

When run from a project's top-level directory, each should find child project.json files per global.json's configuration.

If no project.json files are found, a standardized, user-friendly error message should be displayed.

When th

[2016-11-01 23:02] bgribaudo commented on #4569
CCing @blackdwarf (per https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/issue-filing-guide.md)

[2016-11-01 23:08] blackdwarf commented on #4495
Well, based on the snippet that @eerhardt shared above and what I just managed to repro, this issue is mitigated with move to msbuild since the deps file will always be generated. The same situation is for the runtime config files.

Here is the csproj file I used:

[code]

Running just `dotnet publish` with the latest rel/1.0.0 gives me this in the default publish location:

[code]

One thing to n

[2016-11-01 23:08] #4495 closed

[2016-11-01 23:09] krwq opened #4570 "Migrate: Improve error message on failure"
Project is not expected to migrate but some actionable error is expected.

## Steps to reproduce
dotnet migrate

project.json
[code]

## Expected  behavior
Actionable error message

## Actual behavior
If you have symbols:
[code]
if you don't:
[code]

## Environment data
`dotnet --info` output:
 Version:            1.0.0-preview3-003975
 Commit SHA-1 hash:  f53c51fc07

Runtime Environment:
 OS Name

[2016-11-01 23:12] blackdwarf commented on #3214
I will move this issue to Preview 4 as it will require some more testing to verify. Also, I'm not sure if it is still reproing that is, if it is still valid.

[2016-11-01 23:16] dsplaisted opened #4571 "TestPlatform targets should add themselves to MSBuildAllProjects property"
Ideally, all imported project files should add themselves to the `MSBuildAllProjects` property, in order to better support incremental builds.  `Microsoft.TestPlatform.ImportAfter.targets` and `Microsoft.TestPlatform.targets` aren't currently doing this.  These files appear to be included in the .NET CLI, but I'm not sure if they actually live in this repo.  Feel free to move as necessary.

They c

[2016-11-01 23:50] #4547 closed

[2016-11-02 00:16] emgarten commented on #4567
This might be due to NuGet looking for ProgramFiles x86 on a 32-bit machine. I'll take a look.

[2016-11-02 01:38] blackdwarf commented on #4570
@krwq good catch. We should never show exceptions to the users.

[2016-11-02 03:07] blackdwarf opened #4577 "Discussion - allow dotnet publish to create a subdirectory for a framework when -f and -o are used"
## Steps to reproduce
* Have a project with two or more targets.
* Run `dotnet publish -f <framework1> -o pub`
* Run `dotnet publish -f <framework2> -o pub`

The second call will overwrite the results of the first call and the `pub` directory will contain the published app for `<framework2>`. We should think about whether `dotnet publish` should always create a subfolder named after a target (eith

[2016-11-02 04:17] blackdwarf commented on #4245
@bartonjs well, to me it looks like, based on the original issue that @sushihangover described, that `brew update` followed by `brew install openssl` can land files which are not named in a way that we expect with our instructions. Following that logic, if we "pin" the version in the instructions, e.g. `brew install openssl/1.0.0` or something similar, we may have reproducible results.

Of course,

[2016-11-02 05:34] livarcocc commented on #4577
I disagree, when I specify the output path, I expect it to be final. I don't want to have to deal with additional conventions to then find out where my files will end up. I am saying where it is.

[2016-11-02 06:52] anobaka opened #4578 "why dotnet exited?"
## Steps to reproduce
It's a web app, and I just use this dockerfile to build an image and run a container
[code]
the docker container exits with code 139 randomly(maybe in several minutes or never), I've done some research about it and it seems like the exitance of dotnet caused the docker container to stop. I also checked the console's output and there was none about why dotnet exited, how can I

[2016-11-02 11:08] LuisAnibalVasquez opened #4579 "Problems installing .Net Core on Linux Mint Sarah version (32 Bits)"
Followin the instruction from:
https://www.microsoft.com/net/core#ubuntu

## Steps to reproduce
sudo sh -c 'echo "deb [arch=i386] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893

## Expected  behavior

## Actual behavior
gpg: solicitando clave 417A0893 de hkp s

[2016-11-02 11:24] dustinmoris commented on #2113
Hey guys I wanted to inform you that TravisCI has a new trusty beta environment and supports .NET Core out of the box now. I have written an [elaborate blog post about it](https://dusted.codes/building-and-shipping-a-dotnet-core-application-with-docker-and-travisci) and also included an example how to deploy the built application as a Docker image to a Docker registry like the Docker hub. Hope tha

[2016-11-02 11:31] enricosada commented on #2113
@dustinmoris the disable telemetry option is nice, it speedup things?.

Maybe is worth add that to the travisci example in docs?
I added an example of travis in the docs, see https://docs.microsoft.com/en-us/dotnet/articles/core/tools/using-ci-with-cli

The docs contains a link with an example .travis.yml (with an osx/ubuntu matrix too)

[2016-11-02 12:00] sjdweb commented on #3745
Bitten by this too. Absolute paths work luckily.

[2016-11-02 14:52] cehager commented on #4248
Same issue with '#:'. But I can open powershell and run dotnet restore and all packages restore correctly. Beeezaaar!

[2016-11-02 16:53] jinujoseph commented on #4510
Can we close this after this is in sync ?
I see this out of sync on todays build d15rel/15.0.25901.2
Microsoft.NET.Sdk package used by "dotnet new" is 1.0.0-alpha-20161029-1, which does not match the version in offline package 1.0.0-alpha-20161031-2

[2016-11-02 17:26] livarcocc commented on #4578
@naamunds Is there a way to get a stack trace of dotnet out of the docker machine?

I suspect that this is a NullPointer somewhere, but there is a very great chance that this is actually in the application itself and not in the host.

[2016-11-02 17:27] livarcocc commented on #4571
Closed this one in favor of https://github.com/Microsoft/vstest/issues/175/

[2016-11-02 17:27] #4571 closed

[2016-11-02 17:29] livarcocc commented on #4567
@emgarten Will you do a NuGet insertion in the CLI to pick the fix for the bug above?

[2016-11-02 17:32] livarcocc commented on #4568
Ok, with the fix for https://github.com/dotnet/cli/issues/4548 I am seeing the project being migrated correctly:

[code]

[2016-11-02 17:32] #4568 closed

[2016-11-02 17:46] kamilosxd678 commented on #1488
I don't know why this is closed, because .NET Core stability is some kind of a joke.

http://pastebin.com/raw/tdSdXDKa

I have to issue _dotnet run_ command **37 TIMES** before it actually works. **THIRTY SEVEN GODDAMN TIMES** OR MORE!

[2016-11-02 17:50] livarcocc commented on #4250
@rohit21agrawal Are you ever getting around to doing this? I punted to preview4 of the CLI.

[2016-11-02 17:56] krwq commented on #4570
@blackdwarf, the stack is only when you have symbols (which is good), if you don't then you get really not helpful error "Sequence contains no elements"

[2016-11-02 17:59] mellinoe commented on #4579
Unfortunately, we don't support 32-bit Linux at this time. We do support x86 windows, but only x64 on Linux/macOS.

[2016-11-02 18:00] blackdwarf commented on #4282
OK, given the lack of activity on the issue and the repro above, I will close this issue down as mitigated bty our move to MSBui.d If the core condition still repros and/or more help is needed, please reopen this issue. Thanks!

[2016-11-02 18:00] #4282 closed

[2016-11-02 18:01] blackdwarf commented on #3528
Since this will require some more thinking, moving it to Preview 4.

[2016-11-02 18:29] blackdwarf commented on #3292
Actually, I cannot repro this even on `1.0.0-preview2-003131`. After cloning the repo mentioned in the issue, updating the dependencies to point to 1.0.0 versions of the packages and running `dotnet publish`, here is the `AppConfigIssue.exe.config` file:

[code]

Seems like a valid XML file to me and the error mentioned is not reproduced at the end of the file. Seeing as how this is an issue from

[2016-11-02 18:29] #3292 closed

[2016-11-02 18:33] emgarten commented on #4567
@livarcocc I can update nuget in the CLI once this is approved everywhere.

[2016-11-02 18:54] skumarvenkat opened #4582 "Dotnet core 1.0.1 runtime error"
I am trying to execute dotnet command from command line it is failed to execute and it showing following error

Operating system: windows 2012 Rc2 cloud vm.

![untitled1](https://cloud.githubusercontent.com/assets/120073/19942974/e05d9394-a10b-11e6-9631-907cf011d8ad.png)

![untitled2](https://cloud.githubusercontent.com/assets/120073/19942982/e77c1a24-a10b-11e6-8768-546aec6d2e74.png)

What mistake

[2016-11-02 20:16] alexkreskiyan commented on #4513
@blackdwarf If the following makes sense and is not too late yet =)

Would be nice to operate not only sln file and not only VS-specific stuff.
At least, would be cool to have one commang group, providing through specific commands possibility to generate minimalistic environment for solution.

We have `global.json` and several `project.json` files. So, it's possible to locate where to place `.sln`

[2016-11-02 20:21] shaunluttin commented on #4513
Related StackOverflow question: http://stackoverflow.com/questions/40387332/add-a-project-json-based-project-to-a-sln-file-without-using-visual-studio

[2016-11-02 21:04] #4485 closed

[2016-11-02 21:07] fabioes commented on #3783
SudhaOnline, it works for me too.

[2016-11-02 21:21] bzhu94 opened #4586 ""dotnet new" and "dotnet new -t web" commands throw when using Developer Admin Command Prompt"
## Steps to reproduce

Install Steps:

1. Install Dev15 RC build d15rel.25901.02.

Repro steps:

1. Run "dotnet new" or "dotnet new -t web" from Administrator Developer Command Prompt for VS '15 RC

## Expected  behavior

The command completes and creates a new project.

## Actual behavior

The command throws the following error:

![dotnetnewcropped](https://cloud.githubusercontent.com/assets/8541

[2016-11-02 21:59] piotrpMSFT opened #4588 "CLI breaks when installed to path containing ` ` character"
## Steps to reproduce
Install the CLI using an MSI, or copy to path with spaces.

Run any command that leverages msbuild, such as `dotnet restore`

## Expected  behavior
Restore succeeds

## Actual behavior
[code]

[2016-11-02 22:09] #4526 closed

[2016-11-02 22:13] piotrpMSFT opened #4590 "Add msbuild-based Stage 0"
/CC @seancpeters @nguerrera @livarcocc @jgoshi

[2016-11-02 22:29] #4579 closed

[2016-11-02 22:31] livarcocc commented on #4582
@gkhanna79 @schellap  This seems like a host issue. Can you guys take a look?

[2016-11-02 22:32] #4577 closed

[2016-11-02 22:33] livarcocc commented on #4567
@emgarten Thanks. Let's us know where it stands.

[2016-11-02 22:33] gkhanna79 commented on #4582
@schellap @ramarag Can you please help out?

[2016-11-02 22:41] NTaylorMullen opened #4591 "Migrate does not understand transitive project references that have already been migrated."
## Steps to reproduce
- Unzip [TransitiveMigrationRepro.zip](https://github.com/dotnet/cli/files/567871/TransitiveMigrationRepro.zip). Project3 has already been migrated and the graph is Project1 => Project2 => Project3.
- `cd src/Project1` (can also go into Project2)
- `dotnet migrate`

## Expected  behavior
- Migration succeeds

## Actual behavior
[code]
Note: Project2/project.json does exist.

[2016-11-02 22:45] livarcocc commented on #4591
This means that we didn't have enough context to know what project3 was needed, it migrated successfully and it was then moved to backup. After that, we can't find a project.json for it when migrating project1 and migration fails.

If you want to run migration like that, you can pass the --no-backup to dotnet migrate and we won't move files around.

[2016-11-02 22:45] #4591 closed

[2016-11-02 22:48] livarcocc opened #4592 "lock contention for tool project.assets.json causes tests to fail in CI"

[2016-11-02 22:54] livarcocc opened #4593 "Put lzma archiver in blob storage so that we don't have to always re-generated it in builds"
We should put the lzma archive in blob to avoid rebuilding it everytime.

We can put it in the same folder as core-setup so that it is easy to find and construct the URI for it.

The question is what to do when we have a new M.NC.App version and need a new lzma archive. Should CLI generate it if it can't find one? I believe so, but we should not upload when doing a local dev build.

The upload sho

[2016-11-02 22:57] piotrpMSFT commented on #4593
YES!!!!!

[2016-11-02 23:05] #4588 closed

[2016-11-02 23:09] #4560 closed

[2016-11-02 23:11] livarcocc commented on #4586
I tried it in Administrator Developer Command Prompt for VS 2015 and dotnet new without a problem.

Can you try that there too, just so we can confirm this is only happening in VS 2017? Narrow down the root cause a bit?

[2016-11-02 23:31] prafullbhosale opened #4594 "Need new version of CLI included with VS."
With a project having sdk version 1.0.0-alpha-20161031-2 or higher and dotnet cli version `1.0.0-preview3-003933`

`dotnet msbuild /t:ResolveReferences /p:TargetFramework=netcoreapp1.0` fails with below error

[code]

The same succeeds with dotnet cli version `1.0.0-preview3-4007`

cc @barrytang

The current version of cli included with VS is `1.0.0-preview3-003933`

This issue is to track the ins

[2016-11-02 23:34] livarcocc commented on #4384
This happens because the new CLI (preview3) will try to build the xproj (because it is a *proj) file and it fail.

It can't handle xproj nor project.json.

The real fix here is to add a global.json with the following.

[code]

cc @leecow as we will have to make this know for people taking the preview3 CLI. This should not be a problem for projects created from VS, because the VS template already i

[2016-11-02 23:34] #4384 closed

[2016-11-02 23:35] livarcocc commented on #4594
cc @srivatsn who I think was doing an insertion today.

[2016-11-02 23:39] NTaylorMullen opened #4595 "Migrate does not include transitive frameworkAssemblies"
Including transitive `frameworkAssemblies` may make a migrated csproj unmanageable due to how many framework assemblies may need to be included; however, without it users projects may successfully migrate but then fail to build.

Note, once [this](https://github.com/dotnet/roslyn-project-system/issues/199) is fixed this issue should go away; however, that's not slated until after RC. We've worked

[2016-11-02 23:42] srivatsn commented on #4594
4005 was inserted today.

[2016-11-02 23:51] TheSamsterZA commented on #4513
@blackdwarf Here's a quick mind dump of what I think the `dotnet sln` command should be capable of doing:

- Please don't forget other project types (vbproj, dbproj, sqlproj, filesystem-based website projects, etc.). Question: how would xproj files be handled? Add to the sln as-is or skip with info about how to convert to a csproj, maybe?

- Add a way to set the default project(s):

    `dotnet sl

[2016-11-03 00:00] livarcocc commented on #4594
Re-open if 4005 does not solve this for you.

[2016-11-03 00:00] #4594 closed

[2016-11-03 00:03] #4330 closed

[2016-11-03 00:27] livarcocc opened #4596 "Hoisted Project dependencies should be marked with a Migrated attribute or metadata"
This is so that it is easy to remove them once https://github.com/dotnet/roslyn-project-system/issues/199 gets fixed.

[2016-11-03 01:06] piotrpMSFT commented on #4588
Anyone immediately blocked can work around this issue by setting the following environment:

`DOTNET_CLI_TELEMETRY_OPTOUT=true`

[2016-11-03 01:29] schellap commented on #4582
Do you have all the pre-requisites installed?

https://docs.microsoft.com/en-us/dotnet/articles/core/windows-prerequisites

Esp.,

[2016-11-03 05:49] piotrpMSFT commented on #4586
for those who are blocked, you should be able to avoid this by setting the following Environment variable:

`DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true`

[2016-11-03 05:57] piotrpMSFT commented on #4569
Fully agreed on standardization, though the team decided to move in a different direction. Specifically, we decided to have all of the commands require a path to a `root` artifact from which a closure is determined. This means you can run a command from a directory containing a `.csproj` file, or you can pass a relative or absolute path to such a file. From that file we'll find any others it refer

[2016-11-03 05:57] #4569 closed

[2016-11-03 06:01] #4590 closed

[2016-11-03 06:02] naamunds commented on #4578
@anobaka Have you checked the logs for the container with the [`docker logs` command](https://docs.docker.com/engine/reference/commandline/logs/)?  Does it contain anything about dotnet exiting?

[2016-11-03 06:33] anobaka commented on #4578
@naamunds  Thanks for your attention.
It's just the console's output of my program and there is nothing about why it exited.
Here's the end of the log:
![qq 20161103140717](https://cloud.githubusercontent.com/assets/2888789/19957127/de3caf78-a1ce-11e6-924d-2037cea84567.jpg)

After I changed `microsoft/dotnet:1.0.0-preview2.1-sdk` to `microsoft/dotnet:1.1.0-preview1-core`, it runs normally(never st

[2016-11-03 07:16] piotrpMSFT commented on #4248
Folks, when Preview3 ships it will not include project.json support. In fact, builds since 3393 have already moved all major verbs [new, restore, build, pack, publish, etc...] to work with .csproj files only. There is a new `dotnet migrate` verb in preview3 that will convert your project.json project into a csproj project. Of course, the preview tooling you have installed for project.json won't be

[2016-11-03 07:22] piotrpMSFT commented on #4249
@codito @Faizan2304 have been doing a lot of work around the test verb for preview3 lately. I think they should be able to comment on this.

[2016-11-03 07:41] piotrpMSFT commented on #4259
Thanks @aggieben. I just tested this against the preview3 release and the new restore functionality does indeed print a controlled error message in this scenario.

[2016-11-03 07:41] #4259 closed

[2016-11-03 07:43] moander commented on #3739
Absolute paths did *not* work for me using `1.0.0-preview2-003121` on OS X.

[2016-11-03 07:57] piotrpMSFT commented on #4263
Can you post a zip with your repro, @ergodaveh ? As @svick points out, something is putting a strange URL in your nuget configuration. That URL, https://go.microsoft.com/fwlink/?LinkID=230477, currently redirects to https://www.msn.com/?ocid=NEFLS000... which is certainly not a nuget feed :) this is causing the restore operation to fail. It is possible that something in the generated project is in

[2016-11-03 08:05] piotrpMSFT commented on #4268
I agree that if we're printing some level of diagnostics, it should be actionable diagnostics. That said, given that taking a partial build output is not a designed-for scenario [at an extreme, why not take the first N bytes of the generated dll], I think that `hello.dll is not a valid application` would be a fine message as well.

Moved this bug to core-setup repo where the host is maintained.

[2016-11-03 08:05] #4268 closed

[2016-11-03 08:06] piotrpMSFT commented on #4271
Let's try to look at this in preview 4.

[2016-11-03 08:11] piotrpMSFT commented on #4289
Thanks for the report and the workaround, @DovydasNavickas.

The test adapter model is changing fairly drastically in preview 3. You can see an example test project [here](https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/TestProjects/VSTestXunitDotNetCore/VSTestXunitDotNetCore.csproj). Since `dotnet-test-xunit` is not going to continue playing a role, I'm going to close this issue.

[2016-11-03 08:11] #4289 closed

[2016-11-03 08:17] piotrpMSFT commented on #4411
I'd commit my changes, run `git clean -xfd` on my clone of the repo, then do a full build. Also, make sure your PATH is pointing to the root of the Stage2 directory. The message above suggests you're trying to invoke dotnet.dll directly from `C:\Users\Dell\Source\Repos\cli\artifacts\win10-x64\stage2\sdk\1.0.0-preview3-003805`

[2016-11-03 08:24] piotrpMSFT commented on #4211
@rajkumar42 did you install via apt-get? DEB download? tar.gz?

Is that the full failure message you saw?

[2016-11-03 08:28] piotrpMSFT commented on #4198
@couven92 thanks for the detailed issue, repro, and workaround. This looks like an issue in the VS tooling, so I moved to their repo for initial investigation. Thanks!

[2016-11-03 08:28] #4198 closed

[2016-11-03 08:29] kierenj opened #4599 "dotnet run looking for Microsoft.NETCore.App 1.1.0 (not preview), without me referencing it"
## Steps to reproduce
Unfortunately I only have a fairly complex, private set of projects which exhibit this.

I am very happy to spend time diagnosing, sharing specific information and trying things out.

Basically, though: `dotnet run` on my project, whose setup is described in a little more detail here: http://stackoverflow.com/questions/40396769/dotnet-run-looking-for-microsoft-netcore-app-1-1

[2016-11-03 08:46] piotrpMSFT commented on #4189
@comdiv the new msbuild implementation of `dotnet test` actually just [invokes](https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-test/Program.cs#L165) `msbuild /t:VSTest` behind the scenes. You will be able to create your own targets that run before or after this target name and light up exactly these sorts of experiences!

[2016-11-03 08:46] #4189 closed

[2016-11-03 08:49] piotrpMSFT commented on #4182
http://ourcodeworld.com/articles/read/109/how-to-solve-filename-too-long-error-in-git-powershell-and-github-application-for-windows

I haven't tried it, but I'm hopeful :) Can you let us know if this works, @nguerrera ?

[2016-11-03 08:55] piotrpMSFT commented on #4177
@svick is right. Compilation requires reference assemblies and those do not reside in the GAC. While a convenience in some cases, GAC dependencies lead to fragile builds because it's impossible to determine the specific versions of your dependencies that reside in a GAC on a given machine. By preserving the compilation context in its current form we're able to better protect against `it works on m

[2016-11-03 08:55] #4177 closed

[2016-11-03 08:59] piotrpMSFT commented on #4176
@patriksvensson at this point the preview3 CLI installers have been moved from project.json to csproj altogether. You will need to `dotnet migrate` your hosting project.json in order for `dotnet` to be able to migrate and run your tool. Can you give that a shot?

[2016-11-03 09:04] piotrpMSFT commented on #4173
The preview3 CLI has moved from project.json to csproj. As part of that move, the recursive behavior described here has been removed. See #3409 for more details.

[2016-11-03 09:04] #4173 closed

[2016-11-03 09:06] piotrpMSFT commented on #3409
#4569 describes how this was resolved.

[2016-11-03 09:06] piotrpMSFT commented on #4173
#4569 actually has a better explanation.

[2016-11-03 09:16] piotrpMSFT commented on #4168
Why is `lib/net45/PCLStorage.dll ` more correct? Both claim to target net45...

[2016-11-03 09:20] piotrpMSFT commented on #4159
Did you find a workaround for this issue?

[2016-11-03 09:21] piotrpMSFT commented on #4161
Well said folks. Thanks for clarifying.

[2016-11-03 09:21] #4161 closed

[2016-11-03 09:22] piotrpMSFT commented on #4158
@enricosada this got fixed some time back. I'm closing the issue for bookkeeping.

[2016-11-03 09:22] #4158 closed

[2016-11-03 09:24] piotrpMSFT commented on #4157
@enricosada we updated the dev guide a while ago. Closing this issue for bookkeeping. Nice to see our build scripts in Italian!

[2016-11-03 09:24] #4157 closed

[2016-11-03 09:25] piotrpMSFT commented on #4156
We are eliminating the xproj files and won't get to this before they're gone.

[2016-11-03 09:25] #4156 closed

[2016-11-03 09:31] piotrpMSFT commented on #4144
These dependencies should make their way into newer base os images, so the problem will go away with time.

[2016-11-03 09:31] #4144 closed

[2016-11-03 09:32] piotrpMSFT commented on #4141
@andschwa is this bug still tracking any open work? Or can we call it closed?

[2016-11-03 09:42] piotrpMSFT commented on #4133
Test projects need to have both a testRunner attribute and emit an entrypoint. Also, since they are exe's, they must also reference netcoreapp1.0 and not NETStandard.Library.

[2016-11-03 09:42] #4133 closed

[2016-11-03 09:44] piotrpMSFT commented on #4123
Host help output now includes this content.

[code]

[2016-11-03 09:44] #4123 closed

[2016-11-03 09:57] piotrpMSFT commented on #4113
Moved to VS Tooling repo :)

[2016-11-03 09:57] #4113 closed

[2016-11-03 09:58] piotrpMSFT commented on #4111
any progress here?

[2016-11-03 10:10] piotrpMSFT commented on #4092
You would need to put a dummy entrypoint into the class that emits it. Perhaps even by deriving from your Program class in the console app project.

[2016-11-03 10:10] #4092 closed

[2016-11-03 10:11] piotrpMSFT commented on #4091
as stated, this is not possible at the moment due to reference assemblies.

[2016-11-03 10:11] #4091 closed

[2016-11-03 10:13] piotrpMSFT commented on #4086
xproj project system is tracked in /aspnet/tooling, jeremyment. CLI didnt know anything about xproj, nor did it interact with desktop msbuild.

[2016-11-03 10:13] #4086 closed

[2016-11-03 14:15] blackdwarf commented on #4577
@livarcocc errr, a "discussion" means more than one person can/should weigh in. 😄 However, after discussing with @piotrpMSFT I will move this issue to the SDK for discussion, since the CLI does not control the output paths anymore.

[2016-11-03 15:41] hishamco commented on #4411
Can I do the clean & build in my local repo as well?!!
FYI the path is pointing to `C:\Users\Dell\Source\Repos\cli\artifacts\win10-x64\stage2`

[2016-11-03 16:04] GuardRex commented on #4599
I hit this, too. The preview must be installed locally:

Windows x64: https://go.microsoft.com/fwlink/?LinkID=831453
Windows x86: https://go.microsoft.com/fwlink/?LinkID=831458
macOS x64: https://go.microsoft.com/fwlink/?LinkID=831445
Linux x64: https://github.com/dotnet/core/blob/master/release-notes/preview-download.md

[2016-11-03 16:18] livarcocc commented on #4599
cc @schellap @gkhanna79

[2016-11-03 16:21] cehager commented on #4248
I'm still on  "sdk": {
    "version": "1.0.0-preview2-003133"
  }

The restore process fails, but dotnet restore works. (restore.dg has #: as first chars)
Thanks for the info, looking forward to preview3. Cheers

[2016-11-03 16:25] kierenj commented on #4599
@GuardRex, I think I have that already - as I say, I've installed the preview1, other 1.1.0-preview1 apps work fine, and the output of dotnet run states I have 1.1.0-preview1-001100 installed.  Are you /sure/ its the same issue?

[2016-11-03 16:29] andschwa commented on #4141
We can close this.

[2016-11-03 16:29] #4141 closed

[2016-11-03 16:29] GuardRex commented on #4599
Oh, sorry. :smile: I was just remarking on Slack that I haven't had enough :coffee: yet this morning (or :beer: **Hooray Cubs!**)

Anywho, yeah, I sort of wanted to just ref the metapackage and 🎵 jam on it 🎵, but I hit the same thing you did.

[2016-11-03 16:40] andresvillenas commented on #3199
Just in case, first, be sure that the .NET framework are you using is listed here:
[Targeting .NET Platforms][1] (I don't understand why 4.6.1 is not listed and 4.6.2 is listed.).

To resolve the issue about that the .Net Framework is not found, use Nuget 3.5.0 RC2. It solved the issue for me.

[![Nuget version that solve the issue][2]][2]

  [1]: http://getdotnet.azurewebsites.net/target-dotnet-p

[2016-11-03 17:01] Tratcher commented on #4578
@anobaka those session cookie errors may just be from outdated cookies. Encryption keys are not persisted across docker runs by default. You can just clear the cookies on the client.
https://github.com/aspnet/MusicStore/issues/716#issuecomment-254967373

[2016-11-03 17:08] gkhanna79 commented on #4599
I believe the activation path only supports specifying exact version of M.N.App.

[2016-11-03 17:10] GuardRex commented on #4599
... but `"Microsoft.NETCore.App": "1.1.0-preview1-001100-00",` is the exact version, no? (confused 😕 )

[2016-11-03 17:12] gkhanna79 commented on #4599
Yes, that is the exact version. Maybe I misunderstood since -* was being referred to above:

`I only reference Microsoft.NETCore.App 1.1.0-preview1-*`

Is that not correct?

[2016-11-03 17:14] gokarnm commented on #4495
Thanks @blackdwarf !

[2016-11-03 17:17] GuardRex commented on #4599
In my case what I did was use the exact version in a self-contained project, so I didn't have `"type": "platform"` on the dep. I saw that this package was listed at NuGet. I naively thought that I could just list the metapackage, restore, and publish, but it choked and demanded that the metapackage appear at `C:\Program Files\dotnet\shared\`. After I ran the installer and the package was there, it

[2016-11-03 17:27] #4596 closed

[2016-11-03 17:33] gkhanna79 commented on #4599
M.N.App defines the core .NET Core FX and when referencing it, it is expected to be present in _dotnet\shared_ for portable apps or will be published alongwith the app when it is published as standalone.

Did you publish the application as standalone? If so, can you please share the repro project for @schellap to take a look at?

[2016-11-03 17:34] GuardRex commented on #4599
Yes, the app is self-contained and published as such. I'll repro myself one more time in a few hours and then put up a repro project and signal you back here.

[2016-11-03 17:41] blackdwarf commented on #4318
@ili since there was no response in 3 days, I will close this issue down. If you can still repro it with the latest builds from `rel/1.0.0` from the CLI (this) repo, please reopen the issue.

[2016-11-03 17:41] #4318 closed

[2016-11-03 17:41] blackdwarf commented on #4317
@ili since there was no response in 3 days, I will close this issue down. If you can still repro it with the latest builds from `rel/1.0.0` from the CLI (this) repo, please reopen the issue.

[2016-11-03 17:41] #4317 closed

[2016-11-03 17:41] kierenj commented on #4599
(In case you are referring to my original issue - I'll try without the preview1-* shortly and report back)

[2016-11-03 17:53] blackdwarf commented on #4245
@sushihangover any update on this?

[2016-11-03 18:55] skumarvenkat commented on #4582
Finally found root cause, i tried to install .net framework 4.6 in server, installation popped with error message update "2919355" is missing(even though server configured with automatic updates), after installing updates, reinstall vc++ 2015 runtime -> donet core runtime -> works .

Update details available @: https://support.microsoft.com/en-us/kb/2919355

Note: The updates must be installed in

[2016-11-03 19:01] GuardRex commented on #4599
@gkhanna79 @schellap

It's up now at https://github.com/GuardRex/CLI_Issue_4599

If the metapackage folder is present at `C:\Program Files\dotnet\shared\Microsoft.NETCore.App` ...

![capture](https://cloud.githubusercontent.com/assets/1622880/19980832/91ee37fa-a1cd-11e6-8f3c-5de300a89d80.PNG)

... it's all good. If I just drag that version folder out, I get the ...
[code]
... message.

I think thi

[2016-11-03 19:16] livarcocc commented on #4599
Yeah, you need to have the runtime installed in the box in order to be able to run your project.

[2016-11-03 19:19] GuardRex commented on #4599
@livarcocc ok, cool :+1: ... I just didn't "get it" on that one, but I wasn't trying to run it locally tho. I was just trying to publish it with the metapackage **not** having `"type": "platform"` on it (self-contained app), so that's why I was confused. I certainly don't mind having to have the metapackage installed locally.

Thx for clearing it up for me. I think a few others tho will hit that a

[2016-11-03 19:39] ChristianSacramento commented on #3199
@MichaelGiger

https://github.com/aspnet/Tooling/issues/813#issuecomment-257739697

[2016-11-03 19:47] stajs commented on #4177
Thanks for the official word!

[2016-11-03 21:08] pealmeid opened #4603 "dotnet restore failing to resolve package for web project (with updated NuGet.Config)"
## Steps to reproduce
    dotnet new -t web
    (add NuGet.Config to folder -- see below for NuGet.Config contents)
    dotnet restore

## Expected  behavior
Restore completes successfully.

## Actual behavior
Restore fails with message:

    Unable to resolve 'Microsoft.NET.Sdk.Web(>= 1.0.0-alpha-20161029-1)' for '.NETCoreApp,Version=v1.0'

## Environment data
    .NET Command Line Tools (1.0.0-p

[2016-11-03 21:22] livarcocc commented on #4603
@pealmeid for web projects you also need:

<add key="dotnet-web" value="https://dotnet.myget.org/F/dotnet-web/api/v3/index.json" />

Can you try that out?

[2016-11-03 21:26] livarcocc commented on #4599
@kierenj Have you had a chance to try this out without the preview1-*?

[2016-11-03 21:33] pealmeid commented on #4603
@livarcocc Thanks for the quick reply, that solved the problem!

I would suggest adding this to the known issues (I can do it if someone helps me with the PR, as I have never done one in a public repository).

Once again, thanks a lot for your help!

[2016-11-03 21:33] #4603 closed

[2016-11-03 21:51] jinujoseph opened #4604 "Migrated project fails to restore"
**Repro steps**
unzip \scratch2\scratch\jinuj\TestSceanrio\VSMigrationDemo.zip to your local machine
from VSMigrationDemo folder run  "dotnet migrate"
![image](https://cloud.githubusercontent.com/assets/12449387/19986686/ebc77dde-a1d4-11e6-9a78-96f3739156da.png)

run dotnet restore

![image](https://cloud.githubusercontent.com/assets/12449387/19986702/fa70dc0e-a1d4-11e6-9805-8792be100f6c.png)

##

[2016-11-03 22:00] livarcocc commented on #4604
This is happening because restore is picking up this metaproj file to run the restore for.

Can you try running dotnet restore <your_file>.csproj?

[2016-11-03 22:00] barrytang opened #4605 "Migration for BundlerMinifier.Core"
The scripts section in project json looks like this:

[code]

and should be added to .csproj and look something like this:

[code]

The tools should be added similar to this:

[code]

[2016-11-03 22:01] barrytang commented on #4605
/cc @madskristensen and @sayedihashimi

[2016-11-03 22:07] sayedihashimi commented on #4605
For the target name how about "BundleAndMinify"?

[2016-11-03 22:11] jinujoseph commented on #4604
@livarcocc  , going to individual project directory and restoring works

[2016-11-03 22:12] madskristensen commented on #4605
We should probably do something generic because the name will have to be auto-generated when migrating from project.json to .csproj. So perhaps we should map "prepublish" from project.json to "BeforePublish" in .csproj and then use that as the target name instead of doing "BeforeTarget. Then it would look like this:

[code]

@sayedihashimi you had reservation about doing it this way, but I think i

[2016-11-03 22:19] livarcocc commented on #4605
I don't think we will have a special target name.

I don't intend to special case this and we already have migration in place for pre-publish scripts.

[2016-11-03 22:22] madskristensen commented on #4605
@livarcocc So what do you call the target name for the pre-publish scripts in the migration?

[2016-11-03 22:56] schellap commented on #4599
Dup of https://github.com/dotnet/cli/issues/2454

@GuardRex we spent a long thread on this one!

[2016-11-03 23:01] GuardRex commented on #4599
I didn't realize that was the case (and truly I forgot about the other one! lol :smile: )

[2016-11-03 23:08] robrich22 commented on #3199
I was having the issue above (couldn't restore referenced libraries in a csproj), building in TFS 2015.

I was able to successfully restore the packages after using the newer version of Nuget.exe (v3.5.0).

[2016-11-03 23:08] livarcocc commented on #4599
ok. Closing this one.

[2016-11-03 23:08] #4599 closed

[2016-11-03 23:08] odytrice opened #4607 "Support for installing packages directly from the command line"
It would be nice to get the ability to do a `dotnet install Newtonsoft.Json` that would automatically add the reference to the project rather than having to crack open `project.json` or `csproj/fsproj`.

There'd probably be a switch to install tools like `dotnet install -t Microsoft.EntityFrameworkCore.Tools`

[2016-11-03 23:39] naamunds commented on #4578
@anobaka I don't think that changing from `microsoft/dotnet:1.0.0-preview2.1-sdk` to `microsoft/dotnet:1.1.0-preview1-core` would affect this.  The difference between these two images is that the "sdk" image contains the .NET Core command-line tools, whereas the "core" image just contains the .NET Core runtime and libraries.  The former is recommended to be used for development environments, and t

[2016-11-03 23:56] blackdwarf opened #4609 "dotnet pack fails when trying to package a netcoreapp1.0 with a netstandard1.x project reference"
## Steps to reproduce
Install the latest from `rel/1.0.0`.

[code]

Open and modify the `app.csproj` file and add a project reference to the lib file. Then do:

[code]

## Expected  behavior
The application is package in a nupkg.

## Actual behavior

[code]

Once the project reference is removed, the pack operation completes successfully.

/cc @rohit21agrawal @joelverhagen @livarcocc @piotrpMSFT

[2016-11-03 23:59] wjk opened #4610 "dotnet run file contention errors"
## Steps to reproduce

1. Download and restore [dotnet-issue-test.zip](https://github.com/dotnet/cli/files/570337/dotnet-issue-test.zip).
1. Run two `dotnet run` commands concurrently, launching each as close to the same time as is possible. (On my system, I can consistently repro this by typing `dotnet run & dotnet run &` at my shell prompt, which launches two copies of .NET CLI, both in the back

[2016-11-04 00:00] wjk commented on #4610
Note that the `dotnet.exe` processes running in the background apparently remain alive after emitting the errors described above, and will need to be cleaned up using `killall`.

[2016-11-04 00:16] wjk commented on #4521
Honestly, I don't see a need for a specialized command just to add a `<PackageReference>` tag to the csproj; I do it by hand and have no problems. On the other hand, @dasMulli's suggestion about a command to update NuGet references is a _great_ idea.

[2016-11-04 00:17] joelverhagen commented on #4609
/cc @zhili1208, is this what you observed?

[2016-11-04 00:19] wjk commented on #4508
Personally, I like seeing all the output, even the ridiculously-long `csc.exe` command lines, as they help me get and keep a finger on the state and progress of the build. Without this output, I would not have found and fixed several bugs in the build of one of my projects that were preventing incremental rebuild. As long as there is a flag that allows me to view the full output, I am happy.

[2016-11-04 00:20] svick commented on #4607
I think this is a duplicate of https://github.com/dotnet/cli/issues/4521 and https://github.com/dotnet/cli/issues/917.

[2016-11-04 00:40] barrytang opened #4612 "PostpublishScript target shouldn't be there after migration"
## Steps to reproduce
1. Create a xproj web project in Dev14
2. Open it in Dev15

## Expected  behavior
PostpublishScript target not there

## Actual behavior

[code]

[2016-11-04 00:47] barrytang commented on #4605
@madskristensen, I opened a Dev14 xproj web project in Dev15 and after the migration, here is the output. I confirmed with Vijay this should work. We will update our web template accordingly as well.

[code]

[2016-11-04 01:52] wjk commented on #4260
@piotrpMSFT Note that I brought this up in dotnet/corefx#13342, seeing as I have found that .NET CLI is not the only program that exhibits this behavior.

[2016-11-04 02:55] #4605 closed

[2016-11-04 04:04] piotrpMSFT opened #4616 "`dotnet test` runner cannot find desktop test adapter when --Runtime is passed in"

[2016-11-04 04:50] rohit21agrawal commented on #4609
is this in pack or pack3? or has the switch been made already?

[2016-11-04 05:06] anobaka commented on #4578
@Tratcher @naamunds Thanks for your suggestions.

### **About session cookie error**
The session cookie error is caused by there are two versions of our websites online, which one(previous version) is on CoreCLR and using .net452 hosted on windows, and the other(current version, persists keys to redis) is using netcoreapp1.1 and hosted on docker, and they shared the same session cookie name. After

[2016-11-04 05:08] livarcocc commented on #4609
@rohit21agrawal The switch has been made. This is for the msbuild based pack.

[2016-11-04 05:19] ili commented on #4317
@blackdwarf sorry here it is: https://github.com/ili/issue4317

after the build in output would only be `Data` folder, while i'm expecting `Data` and `Database`

[2016-11-04 05:32] ili commented on #4318
@blackdwarf once again - sorry
here we go: https://github.com/ili/issue4318

after build in output would be `Data\file2.txt` while i'm expecting `Database\File1.txt` and `Data\File2.txt`

[2016-11-04 05:51] livarcocc commented on #4612
The right thing here is that we should not have a dontet publish-iis script anymore, since that tool does not exist in msbuild world.

[2016-11-04 05:51] #4567 closed

[2016-11-04 07:06] kierenj commented on #4599
I've tried it without the wildcard, and it works fine.  Not sure it's a clean dupe of the other issue (which was to do with publish, had a different error message, etc)? - and this was kind of hijacked, but whatever, it works!

[2016-11-04 07:44] MichaelGiger commented on #3199
@robrich22 I tried it also with the version 3.5.0 (RC2), but it did not work. I suspect that it has to do with the dependency (AspNetCoreNetFrameworkDemo -> CL1)

@ChristianSacramento That's exaclty the way I did it. I hope that this will be fixed in future...

[2016-11-04 10:23] haf opened #4618 "Broken installation"
## Steps to reproduce

Use https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0-preview2/scripts/obtain/dotnet-install.ps1 to download .Net core.

## Expected  behavior

Downloading .net core.

## Actual behavior

Errors out with:

[code]

## Environment data
`dotnet --info` output: not installed

[2016-11-04 11:45] #4618 closed

[2016-11-04 12:57] milla commented on #3199
I removed all the project references and added them back again, and solved the problem.

Before this, I always removed all the .lock.json files and to do rebuild, or dotnet restore. Used nuget 3.5 and use nuget restore, it showed me that some legacy folder which I've changed a while ago, no idea where cached this information. So I removed all project references and added them back again, now final

[2016-11-04 13:06] Faizan2304 opened #4619 ""dotnet build" is not building project targeting net46. Asking for RuntimeIdentifier"
## Steps to reproduce
Create any project targeting net46 say project.csproj"
run command "dotnet build project.csproj"

## Expected  behavior
It should build it successfully

## Actual behavior
Getting following error
*\.nuget\packages\microsoft.net.sdk\1.0.0-alpha-20161029-1\build\Microsoft.NET.RuntimeIdentifierInference.targets(45,5): error : RuntimeIdentifier must be set for .NETFramework execu

[2016-11-04 13:26] Faizan2304 commented on #4619
In my local development box it is working fine but if a create a new windows 10 machine (Version 1607 (OS Build14393 .0) With visual studio from branch d15rel version 15.0.25903.2, I am hitting this issue.

[2016-11-04 16:57] livarcocc commented on #4619
This is by design. For Full Framework projects, they need to have RuntimeIdentifiers set inside the project and you need to say for which RID you want to build, otherwise we don't know which native assets to use.

https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/DesktopTestProjects/AppWithProjTool2Fx/App.csproj#L8

[2016-11-04 16:57] #4619 closed

[2016-11-04 17:23] livarcocc commented on #4604
@jinujoseph dotnet restore does not support restoring a folder. It supports restoring an individual project, a solution file or a chain of projects. If you run dotnet restore on projectA and projectA depends on ProjectB. ProjectB will also be restored.

[2016-11-04 18:48] mishra14 opened #4621 "Unable to start process "dotnet-projectmodel-server" while starting VS2015"
## Steps to reproduce
Install dotnet cli sdk 1.0.0-preview3-004050
Open an xproj based solution (I opened the [nuget.core](https://github.com/NuGet/NuGet.Client) solution, Not sure if this is an issue with all xproj solutions.)

## Expected  behavior
Solution should load without error

## Actual behavior

Get an error -

![2016-11-04](https://cloud.githubusercontent.com/assets/10507120/20018227/26

[2016-11-04 20:08] watashiSHUN opened #4623 "NU1001 The dependency Microsoft.NETCore.App >= 1.0.1 could not be resolved."
## Steps to reproduce
VS 14.0.25431.01 Update3
.NET Core 1.0.1 - VS 2015 Tooling Preview 2
downloaded from this [link](https://www.microsoft.com/net/core#windows)

create a dotnetcore console app (here is the project.json)
[code]
## Expected  behavior
Everything is created by VS by default....I should be able to start developping....I don't understand how could it fail on package restore

## Actua

[2016-11-04 20:20] ramarag commented on #4111
i have not tried the to set up the repro yet. Is it possible to get the repro setup which can be investigated immediately ?

[2016-11-04 20:28] kiewic opened #4624 "error: Unable to load the service index for source https://MyAccount.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MyProject/nuget/index.json."
## Steps to reproduce

1. Open Visual Studio 2015
2. Go to Tools > Options ....
3. Navigate to NuGet Package Manager > Package Sources
4. Click + button (add package source)
5. Write a name in the Name field
6. Set the Source field to a NuGet source that requires Azure Active Directory authentication, such as, `https://contsoso.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/ContosoNuGet/n

[2016-11-04 22:55] NickCraver commented on #4248
@piotrpMSFT Is there any chance this will change? The hard migration of projects, repositories, and IDEs all at once is a *huge* ask for any project. The current plan is a stop-the-world operation and a major pain for any team that has given a lot of time to come along on this journey and help improve things along the way. It's even worse for open source which has pull requests involved.

I strong

[2016-11-04 22:59] Thealexbarney opened #4626 "Unable to target .NET Framework 3.5 or lower with .csproj"
## Steps to reproduce
Create a new project with `dotnet new`
Change the `TargetFramework` to `net35` or lower
Add `<RuntimeIdentifier>win10-x64</RuntimeIdentifier>` to the .csproj
`dotnet restore`
`dotnet build`

I've been seeing this issue since the move to msbuild. Targeting .NET 3.5 and lower works in the Preview 2 release SDK. All the relevant targeting packs are installed.

## Expected  behav

[2016-11-04 23:15] piotrpMSFT opened #4627 "Enable migration of deprecated project.json's"

[2016-11-04 23:16] piotrpMSFT opened #4628 "Improve preview3+ UX when invoked on non-migrated xproj's"

[2016-11-04 23:54] benaadams commented on #4248
@NickCraver I assume its not by design as you can do a command line restore, then VS will happily build - it just has issues restoring due to the restore.dg file which the cli doesn't seem to use but VS does.

[2016-11-04 23:58] NickCraver commented on #4248
@benaadams re-reading that I see I should have clarified: I was speaking specifically about supporting `project.json` in VS 2015 (14) *only* and  supporting the new `.csproj` in VS 15 *only*. That's an incredibly bad constraint and I'd even say feels like punishment for any early adopters, especially people multi-targeting in `project.json` today.

[2016-11-05 00:03] NTaylorMullen opened #4629 "Migrating dotnet-test-xunit breaks test execution."
## Steps to reproduce
- `dotnet migrate` [this super simple project](https://github.com/dotnet/cli/files/572858/TestMigrationProject.zip). Key thing about this project is it has a `dotnet-test-xunit 2.2.0-*` dependency which enabled it to run in project.json land.
- Add `<OutputType>Exe</OutputType>` to top level `PropertyGroup`. This is to workaround a [test execution bug](https://github.com/Micr

[2016-11-05 08:44] MarinAtanasov commented on #3136
Fully agree. If I want to run multiple projects from PowerShell, the only way I've found is:
[code]
And the results are not easily readable because it runs every project separately.

Also, somewhat related, we should be able to run all projects in a single run. Even in VS, every project seems to have a separate loading time (about 2 seconds) which slows down the test run when you have multiple tes

[2016-11-05 16:48] tflanitzer commented on #3929
Since I was facing the same problem and directly referencing local assemblies is not supported either at the moment, I have created a nuget package that lists both required assemblies. Its called Saxon-HE-fixedrefs and available on nuget.org.

[2016-11-05 22:32] karabaja4 commented on #4544
You can hack around this issue by manually installing the missing libicu55 dependency on 16.10:

http://packages.ubuntu.com/xenial/amd64/libicu55/download

`sudo dpkg -i libicu55_55.1-7_amd64.deb`

[2016-11-06 03:05] hishamco commented on #4411
I forked this repo, I fetched the latest updates and I run `build.cmd` again i'm not able to download the **dev-win-x64.1.0.0-preview3-003842.zip** FYI i'm not running behind a proxy, but after several time with running the script it produces `artifacts/<rid>/stage2`
So my question is why this error show up again and again, second thing should I run 'build.cmd' when I modify or create a new dotnet

[2016-11-06 03:26] bradwilson commented on #4629
`dotnet-test-xunit` is going away. The Visual Studio runner is being updated with .NET Core support.

[2016-11-06 03:28] bradwilson commented on #4629
For what it's worth, I'm seeing the exact same behavior with the new Visual Studio runner. I'm engaged with @hasrshjain2 who [did the work](https://github.com/xunit/visualstudio.xunit/commit/4a852e61b8e2dfb41079a76c63a6e84a582586c1).

[2016-11-06 10:24] gulbanana commented on #4129
Thanks! Lots of interesting info there.

[2016-11-06 13:17] Ziflin commented on #4521
@wjk It is a very useful feature of NodeJS to be able to install/uninstall a package from the command line for certain build systems. I would imagine it would be equally useful in dotnet.

[2016-11-06 15:33] hishamco commented on #4411
When I run `build.cmd` after any change I made I got this

 "C:\Users\Dell\Source\Repos\cli\build.proj" (default target) (1) ->
       (GenerateArchives target) ->
         C:\Users\Dell\Source\Repos\cli\build\package\Microsoft.DotNet.Cli.Archive.targets(15,5): error : An exception has occured while trying to compress 'C:\Users\Dell\Source\Repos\cli\/artifacts/win10-x64/intermediate/layouts/dotnet

[2016-11-06 16:52] dazinator opened #4631 "Can't restore packages, not sure why."
## Steps to reproduce
clear nuget cache

[code]
disable nuget.org nuget feed, and configure a different nuget feed like Team City.

restore dependencies.

[code]

add nuget.org feed back:

[code]

## Expected  behavior
All packages are restored.

## Actual behavior
`dotnet restore` says it completes ok. But dependencies not restored?

![image](https://cloud.githubusercontent.com/assets/3176632/200

[2016-11-06 16:57] dazinator commented on #4631
Doing the following fixed the problem:

1. Delete `project.lock` files
2. Delete my local "NuGet.config" file
3. Use no cache option when restoring, i.e `dotnet restore --no-cache`

[2016-11-06 16:57] #4631 closed

[2016-11-06 23:55] dasMulli opened #4632 "Migration should replace xproj references in solution files"
## Steps to reproduce
* Have a `my.sln` file that references an `.xproj`+`project.json` file.
* run `dotnet migrate`
* run `dotnet build my.sln`

## Expected  behavior
Solution builds

## Actual behavior
Solution still references now missing `.xproj` files.

## Workaround
Manually edit `.sln` file to replace `.xproj` with `.csproj` and `8BB2217D-0F2D-49D1-97BC-3654ED321F3B` with `FAE04EC0-301F-11D

[2016-11-07 00:45] wjk opened #4633 "dotnet restore: RuntimeIdentifiers does not tolerate spaces"
## Steps to reproduce

Create a new C# project using `dotnet new`. Add the following line to a PropertyGroup:

[code]

Note the space after the semicolon; it is important. Then run `dotnet restore`.

## Expected  behavior

`dotnet restore` should succeed.

## Actual behavior

`dotnet restore` fails with a number of errors like this:

Although you can't see it above, there are actually two spaces b

[2016-11-07 02:30] #4578 closed

[2016-11-07 04:15] MattGertz opened #4634 "Migration creates warnings for obsolete but empty properties"
## Steps to reproduce
Open an old, simple xproj (ask me for my Vigenere project) in VS 25904.02.  Migrate it.

## Expected  behavior
Project migrates with the exception of buildOptions-related stuff.

## Actual behavior

src\Vigenere\Vigenere.xproj: Project Vigenere migration failed (C:\Users\MattGe\Vigenere\src\Vigenere) MIGRATE1011::Deprecated Project: C:\Users\MattGe\Vigenere\src\Vigenere The '

[2016-11-07 04:41] samuelyounge opened #4635 "dotnet on an AWS Linux instance throws a: System.DllNotFoundException: Unable to load DLL 'System.Security.Cryptography.Native.OpenSsl'"
dotnet on an AWS Linux instance throws a: System.DllNotFoundException: Unable to load DLL 'System.Security.Cryptography.Native.OpenSsl' exception.

Project ran fine before adding HttpContext.Session support which apparently added additional dependencies.  I tried loading different versions of "System.Security.Cryptography.Algorithms":  which did change the error message but was unable run exceptio

[2016-11-07 05:28] amitsha commented on #2005
Interestingly, this path wasn't visible to the terminal /usr/local/share/dotnet/ without restarting it.

[2016-11-07 06:54] conniey commented on #3832
@blackdwarf Do you know who to bubble this up to? None of the traits/categories (for xUnit or NUnit) show up in the Visual Studio Test Runner and there are many issues related to this.

[2016-11-07 08:12] jinujoseph commented on #4604
![image](https://cloud.githubusercontent.com/assets/12449387/20050557/d2e93f44-a47e-11e6-8562-e21417bcdb5e.png)

The folder does contain solution file.

[2016-11-07 14:49] rnagpal opened #4637 "Passing arguments to project.json"
This is regarding project.json tooling that we have currently.

I need to provide different buildOptions while building locally vs building in the lab. For example, I want to delaySign my assembly when building locally but publicSign when building in the lab.

Also, some of the dependencies that I need to package in my nuget package are located in different locations in local machine vs lab machin

[2016-11-07 15:25] bgribaudo commented on #4569
Thanks, @piotrpMSFT.

[2016-11-07 15:55] samuelyounge commented on #4635
This seemed like dotnet could not locate the openssl libraries or either they were the wrong version.
So I tried installing OpenSSL 1.10b and pointing dotnet to the new libraries.

If I read this correctly: [](https://github.com/dotnet/corefx/blob/9823256decb60d6824121fb4578e3780698ccd4e/src/Native/System.Security.Cryptography.Native/CMakeLists.txt)

dotnet core openssl library pathing is determin

[2016-11-07 16:07] markvincze commented on #4238
The `DOTNET_RUNTIME_ID` environment variable doesn't seem to work for me either.

I removed the `osx.10.12-x64` runtime from the `project.json`. I tried this command:
[code]
And also tried to globally set the env variable in my `.zshrc`, but I'm still getting a bunch of
[code]

error messages for various packages.

What can be the reason why dotnet is not picking up the specify runtime?

[2016-11-07 16:11] jeffkl commented on #4633
FYI @emgarten, not sure a group contact to send this to.

This should be opened against NuGet.  The issue is the [Split](https://github.com/NuGet/NuGet.Client/blob/4f85794855737b27c009b2169c00b718c4af01df/src/NuGet.Core/NuGet.Commands/RestoreCommand/Utility/MSBuildRestoreUtility.cs#L398) function called [here](https://github.com/NuGet/NuGet.Client/blob/4f85794855737b27c009b2169c00b718c4af01df/src/

[2016-11-07 16:57] emgarten commented on #4633
@jeffkl thanks for the code snippet, this tracked on the nuget side here https://github.com/NuGet/Home/issues/3819

[2016-11-07 16:58] jeffkl commented on #4633
Thanks, I looked for an open issue but couldn't find one!

[2016-11-07 18:26] NTaylorMullen commented on #4629
Ah, good to know! Thanks Brad!

[2016-11-07 19:06] jgoshi opened #4640 "Migrate should remove reference to the old test runner"
Remove (don't migrate) the reference to dotnet-test-xunit

[2016-11-07 19:11] halter73 commented on #4635
I don't think the native openssl library is the issue. System.Security.Cryptography.Native.OpenSsl (the thing that's missing) is a managed shim to the native library.

You can either downgrade your AspNetCore dependencies all to 1.0.0/1.0.1, or upgrade them all to to 1.1.0-preview1-final. We don't test mixing and matching minor versions of AspNetCore. If you updated to 1.1.0-preview1-final AspNetC

[2016-11-07 20:18] olivier-spinelli commented on #3419
Same here. The behavior is "funny".
After having compile correctly, suddenly the "Failed to make the following project runnable..." pops: it complained about a dll not found in C:\Dev\MyProject\*src*\packages\MyLib.1.0.0\lib\net45\MyLib.dll".

What *src" is doing here? I changed the folder layout, getting rid of the *src" sub directory (all the projects are now rooted in the solution directory). A

[2016-11-07 20:28] ChaosEngine commented on #3419
I got around it by converting *.xproj project (with project.json) to plain old *.csproj (with packages.config deps). Then used this project as a start for further dependency chain.

[2016-11-07 20:33] olivier-spinelli commented on #3419
Glad to see we are not alone on earth!
I'm afraid that you must be right.
xproj/csproj/nuget seems really buggy...

[2016-11-07 23:42] samuelyounge commented on #4635
Thanks for the good advice halter73.  It worked!
It took me a good two hours fighting with various dependency conflicts and buggy VS2015, but in the end it worked out.

Here is my working project.json in case someone has a similar problem with .net core mvc on aws linux.

{
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0",
      "type": "platform"
    },
    "Microsoft.F

[2016-11-07 23:42] #4635 closed

[2016-11-07 23:46] piotrpMSFT opened #4643 "Move CLI to C#7"

[2016-11-08 00:17] conniey opened #4645 "`dotnet test` does not use contentFiles from NuGet dependencies"
## Steps to reproduce

1. Clone https://github.com/conniey/webrepo
2. Open `NetCoreApp.sln`
3. Build solution
4. Run test `xUnitLib.Program.TestFoo`

I tried to set `<CopyNuGetImplementation>true</CopyNuGetImplementation>` but it did not work either.

## Expected  behavior

The test passes.  Interestingly, when the .NET Core application `ConsoleApp2` is run, it works like it is supposed to.

## Ac

[2016-11-08 01:26] plioi commented on #4030
I'm not sure we're talking about the same thing. In the bug report, it's not a project dependency that's being garbled, but an attempt to get the most recent build of some arbitrary other third party dependency. Your own version suffix has nothing to do with external dependencies.

[2016-11-08 04:15] bradwilson commented on #4629
There are 2.2 beta 4 builds of `xunit` and `xunit.runner.visualstudio` on NuGet that should work for you now. (The `dotnet-test-xunit` package is being retired.)

[2016-11-08 04:55] lostmsu commented on #4168
@piotrpMSFT it might be a design problem.
I guess current approach is the first matching wins.
Old-style build approach was to pick the library referenced by project currently being built over a reference of a reference. Many packages rely on this to have stubs for portable libraries, that are replaced with concrete implementations of the final platform. System.IO.Compression is an example of that

[2016-11-08 05:32] davidfowl commented on #3608
It's a pretty simple graph walk but yes it would be a nice feature to add.

[2016-11-08 07:13] rs38 opened #4648 "dotnet-install.ps1 robustness / comments"
I ran into an issue before adding a disk space guard clause, when running the script on nano server with less disk space than 250 GB.
The script exited somewhere in the extracting step and when repeating the script it claims that all has been installed correctly.

I would suggest to get the needed size a bit more precisely and add a better check for a correctly installed dotnet version.
Not sure i

[2016-11-08 09:34] stanislavromanov opened #4649 "What's the point of `--packages` on restore?"
What is the point of `--packages` option on `restore` if there is no `--packages` on `run` or/and `build`?

## Steps to reproduce
`dotnet new`
`dotnet restore --packages Packages`
`dotnet build/run`

## Expected  behavior
I expect to pass some parameter which tells where to look for packages.

## Actual behavior
Error, packages not found.

## Environment data
`dotnet --info` output:
[code]

[2016-11-08 10:08] MeirionHughes commented on #3065
@Barryrowe if relevent; I'm having an issue with the csharp extension for vscode; it seems to be trying to download its dependencies and failing.

Telemetry is: Enabled
log  : Restoring packages for C:\Users\Meirion\.vscode\extensions\ms-vscode.csharp-1.4.1\coreclr-debug\project.json...
error: Unable to load the service index for source https://api.nuget.org/v3/index.json.
error:   Response status

[2016-11-08 10:19] tebeco commented on #3065
@juanreyesv => NOP :)

```dotnet restore``` still does NOT WORK without global variable,
reliate on global variable that contains clear password is not a working solution right ?

```nuget restore``` works without any kind of tricks

Furthermore, if you have special character in you password, the Forward proxy may not be able to do "HtmlDecode" on it (for example if you use @ or / inside the passw

[2016-11-08 13:59] darrenparkinson opened #4650 "No dotnet repl"
There was talk of a dotnet repl.  This would be useful and it was some time ago these discussions happened, so I wanted to know if there was any update?

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-003133)

Product Information:
 Version:            1.0.0-preview2-003133
 Commit SHA-1 hash:  74df06500c

Runtime Environment:
 OS Name:     Windows
 OS Version:

[2016-11-08 14:47] plioi commented on #1742
I can't +1 @enricosada hard enough on this one. If you're building a test runner, for example, your own tests-of-self projects have to reference your freshly packed local NuGet packages rather than whatever the latest version was on nuget.org, or else `dotnet test` won't be able to find your runner in all cases.

[2016-11-08 18:01] plioi commented on #4249
Is this because of an unintended WaitForExit before processing the background queue of incoming messages?

[2016-11-08 18:06] #4595 closed

[2016-11-08 18:57] alien-mcl opened #4652 "Unable to build due to conflicting or unresolved dependencies"
## Steps to reproduce
1. Run command _dotnet build_ for [URSA](https://github.com/alien-mcl/URSA/blob/dot-net-core/URSA.Http.Description/project.json) project.
2. Run command _dotnet restore_ for [URSA](https://github.com/alien-mcl/URSA/blob/dot-net-core/URSA.Http.Description/project.json) project.

## Expected  behavior
1. Project compiled.
2. Project dependencies restored

## Actual behavior
1.

[2016-11-08 22:36] 333fred opened #4653 "Help text for migrate -r is unclear"
## Steps to reproduce
Using 1.0.0-preview3-004056, run `dotnet migration -h`.

## Expected  behavior
The help text for `-r` mentions that it expects a parameter for the file to store the migration log in.

## Actual behavior
No mention of a needed parameter.

While I'm at it, there is inconsistent use of periods at the end of sentences.

@piotrpMSFT.

[2016-11-08 23:10] chwarr commented on #2639
FWIW, I'm still seeing this behavior with a more recent `dotnet`:

[code]

If I use a command line like the following, I can get it to work:

[code]

I assume that no action will be taken so that time can be spent instead on the MSBuild work. That's OK with me for now.

[2016-11-08 23:19] 333fred opened #4655 "Migrate errors are not getting put in formatted output"
## Steps to reproduce
Create a bad xproj scenario. The one I've been testing with is having an xproj reference a non-existent project. Run `dotnet migrate -r output.json --format-report-file-json`.

## Expected  behavior
The text
[code]
is put into a formatted json report in output.json as well as being printed to the console.

## Actual behavior
The error is just printed to the console. Migration

[2016-11-08 23:48] plioi opened #4658 "`dotnet test` should consider the Tools section when searching for `dotnet-test-<runner>`"
## Steps to reproduce

Create a test project which uses xUnit and its dotnet-test-xunit runner.

Following https://xunit.github.io/docs/getting-started-dotnet-core.html for instance, I have a project.json like so:

[code]

At the command line, `dotnet test` runs the tests as normal.

Strange, though, that all the .NET Core test runners place the runner itself in the Dependencies section, as they a

[2016-11-09 01:02] piotrpMSFT commented on #4248
Folks, we just posted a nice writeup of options for working around this issue:
https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/ProjectJsonToCSProj.md

I think that everyone can find an approach that works for them, whether wanting to work with project.json, csproj, or both. Please take a look and let us know if this gets you unblocked!

[2016-11-09 05:05] #4653 closed

[2016-11-09 05:52] piotrpMSFT commented on #4248
Folks, we got reports from a number of machines which still repro the issue after following the steps in the linked writeup. Unfortunately, we haven't been able to reproduce the issue and need some assistance to get this addressed.

If you followed the guidance in the writeup and still see an issue can you please share some state with us?
 - zip archives of both the `Program Files\dotnet` and `Pro

[2016-11-09 06:03] piotrpMSFT opened #4660 "Flaky tests in CLI"
- [x] Microsoft.DotNet.Migration.Tests.GivenThatAnAppWasMigrated.
When_migration_succeeds_Then_project_json_artifacts_get_moved_to_backup(
testProjectName: \"TestAppWithLibrary\")
- [x] Microsoft.DotNet.Cli.Utils.Tests.GivenAProjectDependencyCommandResolver.
ItSetsDepsfileToOutputInCommandspecForMSBuild
- [x] Microsoft.DotNet.Cli.Utils.Tests.GivenAProjectDependencyCommandResolver.
ItPassesDepsfile

[2016-11-09 06:15] piotrpMSFT commented on #4658
@plioi this is by-design. The reason is that the runner's dependencies and the test library's dependencies have to be unified into a single graph. `tools` dependencies, on the other hand, get restored with their own graph and don't consider packages that a test library might reference at an incompatible version. Consider a common type like System.Object. If the test references it from a 1.0.1 libr

[2016-11-09 06:15] #4658 closed

[2016-11-09 06:20] plioi commented on #4658
Is this another problem introduced by the lack of AppDomain isolation?

[2016-11-09 06:27] piotrpMSFT commented on #4652
@alien-mcl I took a quick look and found:
- json-ld.net: project.json requests version 1.0.6, NuGet.org has 1.0.5
- RomatincWeb: project.json requests version 1.0.0, NuGet.org has 0.4.0

It looks like there are packages requested that don't exist on nuget.org [I didn't check the others, but expect it's the same issue based on version numbers.

Is there perhaps a NuGet.config file missing that give

[2016-11-09 06:27] #4652 closed

[2016-11-09 06:29] piotrpMSFT commented on #4650
REPL depends on an expansion of `dotnet extensions` that allows them to run outside the context of a project. Once that feature comes in we will re-evaluate REPL. I don't expect this to happen before the holidays.

[2016-11-09 06:29] #4650 closed

[2016-11-09 06:32] piotrpMSFT commented on #4649
Excellent question! I'm sure the option came in because of legacy behavior in `nuget.exe`. @emgarten may be able to tell us about scenarios where this option makes sense in CLI.

@blackdwarf we should figure out how to unify this option's intent across the CLI. Either remove the option from `dotnet restore` or add it to other verbs.

[2016-11-09 06:37] piotrpMSFT commented on #4643
We verified that CLI is already on Roslyn 2, so C#7 is already in place.

[2016-11-09 06:37] #4643 closed

[2016-11-09 06:38] nictaylr opened #4661 "[Question] embedding cli executor?"
Hello,

I want to embed `dotnet`'s built-in portable application executor in my application.
My goal is to be able to launch and possibly attach to any portable .NET Core `.dll` application.

In other words, I want to use the functionality of `dotnet SomePortableCommandLineApp.dll` in my own application without invoking the `dotnet` executable. In Framework .NET I would use an AppDomain, but I'm n

[2016-11-09 06:40] piotrpMSFT commented on #4634
@MattGertz can you share your `project.json`, at least the relevant bits?

[2016-11-09 06:41] piotrpMSFT commented on #4633
Closing CLI issue in favor of NuGet/Home#3819

[2016-11-09 06:41] #4633 closed

[2016-11-09 06:46] piotrpMSFT commented on #4661
I presume you want to do this in managed code. The issue you will run into is that some types, particularly in the core framework, cannot be loaded twice in the same CLR instance. This means that if your Host app depends on one version and your Target app depends on another then you may hit some hard-to-diagnose issues.

That disclaimer aside, can you just load the Target assembly and use reflecti

[2016-11-09 06:48] piotrpMSFT commented on #4626
We need to add this support in the dotnet SDK. I moved the issue to that repo to help get it some traction.

[2016-11-09 06:48] #4626 closed

[2016-11-09 06:53] piotrpMSFT commented on #4623
@watashiSHUN take a look at https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/ProjectJsonToCSProj.md.

If this doesn't help, perhaps you can help me with a repro as described here:
https://github.com/dotnet/cli/issues/4248#issuecomment-259338964

Thanks!

[2016-11-09 06:54] piotrpMSFT commented on #4621
This looks like a dupe of https://github.com/dotnet/cli/issues/4248

Try the options documented here:
https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/ProjectJsonToCSProj.md

[2016-11-09 07:15] nictaylr commented on #4661
yes, i would like to use managed code. invoking main through reflection should be fairly straightforward.
will i be able to avoid these issues by using the reflection approach? if so, then i could just use that.

in addition, would it be possible to do this in unmanaged (c++ for example) code? i would like to load the clr from unmanaged code in a hopefully platform-agnostic way.

thanks!

[2016-11-09 07:23] #4592 closed

[2016-11-09 08:25] emgarten commented on #4649
The value of ``--packages`` is stored in project.assets.json, build/run should be reading it from there.

Setting ``--packages`` to a new folder for restore is a common way to ensure that no previously downloaded packages are used during a CI build.

[2016-11-09 12:05] nelsonmorais commented on #4172
Same problem here, any workarounds?

[2016-11-09 12:37] blackdwarf commented on #4649
@piotrpMSFT by what @emgarten says above, the build/run/publish commands should read the value from the assets file.

[2016-11-09 12:40] blackdwarf commented on #4607
@svick yes, it is. Closing as a dupe of #4521 . @odytrice as that issue suggest, we will be adding a command to add a reference to the project file.

[2016-11-09 12:40] #4607 closed

[2016-11-09 15:56] MattGertz commented on #4634
{
  "version": "1.0.0-*",
  "buildOptions": {
    "emitEntryPoint": true,
    "debugType": "portable"
    },

  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0-rc2-24018"
    }
  },
  "frameworks": {
    "netstandard1.5": {}
  }
}

[2016-11-09 18:21] piotrpMSFT commented on #4661
You won't be able to avoid these issues by using the reflection approach. Reflection itself will load e.g. System.Object, System.String, etc. which might conflict in version with the Target app.

The unmanaged code option is much better here. Since that code would bootstrap the CLR for the target app, the app would fully own the dependencies loaded.

Why don't you start with the `dotnet` host and

[2016-11-09 18:21] #4661 closed

[2016-11-09 19:11] #4640 closed

[2016-11-09 19:11] dpaquette opened #4663 "Unable to restore packages after dotnet migrate"
## Steps to reproduce

- Clone https://github.com/AspNetMonsters/AlpineSkiHouse/
- Go to /src/AlpineSkiHouse.Web
- run `dotnet migrate`
- run `dotnet restore`

## Expected  behavior
Packages should restore.

## Actual behavior

[code]
## Environment data
`dotnet --info` output:

[code]

[2016-11-09 19:17] kyschouv commented on #4172
One thing I found when looking at this (I forget where the issue is) is that if your class library produces an output with a different name, the project reference won't work. That's for the new project.json class libraries though - not sure about older ones.

[2016-11-09 19:25] tilutza opened #4664 "Visual Studio Docker tools 0.41 docker build is failing"
## Steps to reproduce
- Create a new template project from VS 2015 U3 with Docker Tools 0.41 installed

try to build manually:
[code]

On my side it does not work either to debug from Visual Studio either, but I think it is not related to. However, I will paste here, maybe it is related:
`Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4018	The "PrepareForCompile" task faile

[2016-11-09 19:38] #4593 closed

[2016-11-09 20:05] alien-mcl commented on #4652
@piotrpMSFT
Indeed, there are packages that are yet not available on nuget and I serve them from local repository. Bu that's not the case (I could probably add those to nuget and remat my dependencies, but I don't expect this would resolve the situation).
The thing is - when I build the solution from Visual Studio everything works fine. It complains when restoring, but when I "hack" the nuget's te

[2016-11-09 21:30] prafullbhosale opened #4666 "dotnet build on a project that targets Full .Net Framework does not generate binding redirects for dependency tools"
## Steps to reproduce
In a project that targets `net4xx` add scaffolding design and tools package.

[code]

Run `dotnet-build` on the project.

## Expected  behavior
A config file is created in the bin folder next to the `dotnet-aspnet-codegenerator-design.exe` as `dotnet-aspnet-codegenerator-design.exe.config`
The contents are same as the config file generated for the project's output.

This was

[2016-11-09 21:31] prafullbhosale commented on #4666
cc @livarcocc

[2016-11-09 21:42] nguerrera opened #4667 "Migration can produce duplicate resource items"
Reported to me by @harshjain2. I don't have the original project.json so follow up with him on that

dotnet migrate produced two embedded resource entries:

[code]

Notice how resx files in `Resources\` match `**\*.resx` and `Resources\*.resx`

@livarcocc

[2016-11-09 21:49] halter73 commented on #4635
FWIW,, I tried mixing 1.1.0 and 1.0.0 dependencies using the prerelease packages from the [aspnetcore-ci-dev myget feed](https://dotnet.myget.org/gallery/aspnetcore-ci-dev/), and the app ran fine on both Windows and Debian 8.2, so it looks like dotnet/corefx#12517 was fixed but not in time for 1.1.0-preview1.

Here's the sample app I used to test the dependency mixing: https://github.com/halter73/

[2016-11-09 22:19] alien-mcl commented on #4652
@piotrpMSFT
I think I've pin-pointed the culprit. Looks like it's related to #2901 and #236. It came that dotNetRDF causes the project.lock.json file to have a dependency on Newtonsoft.JSON@9.0.1 ending up with failed resolution of that dependency. Workaround of that issue in my case is to replace Newtonsoft.JSON to Newtonsoft.Json and it builds correctly.
Can you somehow confirm that this issue i

[2016-11-09 22:45] enricosada opened #4669 "Extension point for languages"
To have an awesome language agnostic experience it's nice if the sdk (like previous `preview2`) has a clean extension point to add additional languages

Atm works ( ref f# [examples](https://github.com/dotnet/netcorecli-fsc/tree/master/examples/preview3) and [tests suite](https://github.com/dotnet/netcorecli-fsc/tree/master/test-msbuild) ), but can be improved a bit

An example the [fsharp with pr

[2016-11-09 22:59] piotrpMSFT commented on #4248
@cehager thanks for helping out with a repro!

Folks we were able to track down the cause of the .dg issue. As a workaround you can:
- Copy the full command line that is failing, something like `C:\Program Files\dotnet\dotnet.exe restore "C:\Users\ramiadmin\Desktop\SampleApp\.vs\restore.dg"`
- Open a command prompt and navigate to the project directory, e.g. `cd C:\Users\ramiadmin\Desktop\SampleAp

[2016-11-10 00:16] piotrpMSFT commented on #4666
@krwq is working on this

[2016-11-10 00:19] #4621 closed

[2016-11-10 00:19] #4623 closed

[2016-11-10 00:37] piotrpMSFT commented on #4669
I moved this issue to the SDK repo as it pertains primarily to changes in the SDK targets. Let's re-open here if/when there are CLI changes needed.

[2016-11-10 00:37] #4669 closed

[2016-11-10 00:38] piotrpMSFT commented on #4667
@harshjain2 can you share the project that reproduces this behavior?

[2016-11-10 00:39] piotrpMSFT commented on #4666
This is also a duplicate of #4514

[2016-11-10 00:39] #4666 closed

[2016-11-10 00:42] piotrpMSFT commented on #4664
This repo is not tracking Tools for Docker issues. I reached out to the appropriate team and learned that they are tracking issues here:

https://visualstudiogallery.msdn.microsoft.com/0f5b2caa-ea00-41c8-b8a2-058c7da0b3e4

I did look to see if there was an underlying CLI issue, but I only see CLI referenced in terms of a help text that seems unrelated to this issue. Please re-open if I missunderst

[2016-11-10 00:42] #4664 closed

[2016-11-10 00:43] piotrpMSFT commented on #4663
@livarcocc tracked down this issue after we chatted. The root cause is that the ASP.NET packages referenced after migration are not yet on NuGet and other package versions are being picked up. This should be fixed once the next wave of NuGet packages gets pushed to NuGet.org.

[2016-11-10 00:43] #4663 closed

[2016-11-10 00:48] piotrpMSFT commented on #1412
Closing, as ProjectModel is removed starting with preview3.

[2016-11-10 00:48] #1412 closed

[2016-11-10 00:51] piotrpMSFT commented on #1591
This responsibility now sits in https://github.com/dotnet/sdk. The SDK supports down to net40. If we need support for older Frameworks then please file a feature request there.

[2016-11-10 00:51] #1591 closed

[2016-11-10 01:28] piotrpMSFT commented on #1706
I just followed up with @mikem8361 on this issue and learned that the underlying problem has been fixed in the 1.1 version of CoreFx. To get line numbers, update your `Microsoft.NetCore.App` reference to version `1.1.0`. You will need to include the CoreFx nightly feed in your NuGet configuration to make this work. The nightly feed URL can be found here: https://github.com/dotnet/corefx. I'll incl

[2016-11-10 01:28] #1706 closed

[2016-11-10 01:29] piotrpMSFT commented on #1714
Closing as `dotnet pack` became a proxy for `nuget pack` in preview3.

[2016-11-10 01:29] #1714 closed

[2016-11-10 01:30] piotrpMSFT commented on #1715
Closing as `dotnet pack` became a proxy for `nuget pack` in preview3.

/CC @rrelyea

[2016-11-10 01:30] #1715 closed

[2016-11-10 01:33] piotrpMSFT opened #4672 "Extensions Wishlist"
This issue tracks asks for additional CLI Tools that folks would like to have access to. Think of these as `Up For Grabs` work items for folks that want to build CLI extensions. Let us know if you're interested in taking one of these on!

 - [ ] ILAsm #1727
 - [ ] ILDasm #1727

[2016-11-10 01:33] piotrpMSFT commented on #1727
Added to an extensions backlog.

[2016-11-10 01:33] #1727 closed

[2016-11-10 01:42] piotrpMSFT commented on #1744
@abpiskunov I just checked this in the msbuild implementation and found that:
- with the syntax error in play, only the error is presented
- with the error fixed, the warning is presented

It looks like the compiler stops parsing when the error is found and ignores the warning until a subsequent pass. If you feel this is an issue please file a bug with the Roslyn team. We'll be glad to take an upd

[2016-11-10 01:42] #1744 closed

[2016-11-10 01:58] piotrpMSFT commented on #1771
@pakrym given how much the system has changed and that we didn't need to fix this for the previous N releases I'm assuming this issue is no longer needed. Please re-open with a description/repro in terms of MSBuild CLI if you feel that's not the right call.

[2016-11-10 01:58] #1771 closed

[2016-11-10 01:58] piotrpMSFT commented on #1805
This hasn't come up for quite some time, so closing.

[2016-11-10 01:58] #1805 closed

[2016-11-10 02:21] piotrpMSFT commented on #1834
Deps file format is fairly locked down at the moment. If you still want to pursue this please open a new issue that includes developments since this was openend.

[2016-11-10 02:21] #1834 closed

[2016-11-10 02:23] piotrpMSFT commented on #1848
This is already vastly improved, particularly in msbuild-based preview3

[2016-11-10 02:23] #1848 closed

[2016-11-10 02:23] piotrpMSFT commented on #1914
If this is still an issue in preview3 please re-open in /nuget/home.

[2016-11-10 02:23] #1914 closed

[2016-11-10 02:29] MiaomiaoHuangfu commented on #4510
Testing on build d15rel/15.0.25909.0:
Version of Microsoft.NET.Sdk package used by "dotnet new" is 1.0.0-alpha-20161104-2, which matched the version in offline package 1.0.0-alpha-20161104-2.
The issue is fixed.

[2016-11-10 02:30] piotrpMSFT commented on #1917
Moved to SDK repo.

[2016-11-10 02:30] #1917 closed

[2016-11-10 02:31] #4510 closed

[2016-11-10 02:33] piotrpMSFT commented on #1924
I just tried this with preview3 and it worked just fine :)

[2016-11-10 02:33] #1924 closed

[2016-11-10 02:34] piotrpMSFT commented on #1936
PJ is deprecated

[2016-11-10 02:34] #1936 closed

[2016-11-10 02:34] #1948 closed

[2016-11-10 02:35] piotrpMSFT commented on #1956
Just verified this does not repro in preview3

[2016-11-10 02:35] #1956 closed

[2016-11-10 02:36] piotrpMSFT commented on #1967
@onovotny <Import> away :) [in preview3]

[2016-11-10 02:36] #1967 closed

[2016-11-10 02:37] #1970 closed

[2016-11-10 02:38] livarcocc commented on #4048
We have moved to rel/1.0.0 and this is shipping as preview3.

[2016-11-10 02:38] #4048 closed

[2016-11-10 02:43] piotrpMSFT commented on #1994
Moved to nuget/home

[2016-11-10 02:43] #1994 closed

[2016-11-10 02:48] piotrpMSFT commented on #1998
Moved to CoreSDK repo

[2016-11-10 02:48] #1998 closed

[2016-11-10 02:49] piotrpMSFT commented on #2010
Moved to SDK repo

[2016-11-10 02:49] #2010 closed

[2016-11-10 02:51] piotrpMSFT commented on #2013
Moved to Core-Setup repo

[2016-11-10 02:51] #2013 closed

[2016-11-10 02:52] piotrpMSFT commented on #2020
We already have a model for these types of tools.

[2016-11-10 02:52] #2020 closed

[2016-11-10 03:02] piotrpMSFT commented on #2024
Moved to SDK repo after validating this issue still exists.

[2016-11-10 03:02] #2024 closed

[2016-11-10 03:05] piotrpMSFT commented on #2059
I just tested the scenario in Preview3 and did not find a repro.

[2016-11-10 03:05] #2059 closed

[2016-11-10 03:06] piotrpMSFT commented on #2081
I just verified that this scenario works with preview3 CLI. If you still see the issue, please open in https://github.com/nuget/home.

[2016-11-10 03:06] #2081 closed

[2016-11-10 03:06] piotrpMSFT commented on #2120
We support passing paths to csproj files.

[2016-11-10 03:06] #2120 closed

[2016-11-10 03:07] piotrpMSFT commented on #2123
Given some recent bugs, I wish we had gotten to this issue :) However, as we're moving to csproj, we're not going to have an opportunity to fix this.

[2016-11-10 03:07] #2123 closed

[2016-11-10 03:14] piotrpMSFT commented on #2127
Closing in favor of #2129.

[2016-11-10 03:16] piotrpMSFT commented on #2127
Moved to Coresetup repo

[2016-11-10 03:16] #2127 closed

[2016-11-10 03:19] piotrpMSFT commented on #2142
Moved to SDK repo

[2016-11-10 03:19] #2142 closed

[2016-11-10 03:20] piotrpMSFT commented on #2146
Fixed in preview3.

[2016-11-10 03:20] #2146 closed

[2016-11-10 03:21] piotrpMSFT commented on #2164
Looks like the repro is gone. However, I did some tests in preview3 and did not see this issue come up.

[2016-11-10 03:21] #2164 closed

[2016-11-10 03:22] piotrpMSFT commented on #2170
preview 3 includes a new `dotnet nuget` command which itself provides a `pack` verb which accepts nuspecs.

[2016-11-10 03:22] #2170 closed

[2016-11-10 03:27] piotrpMSFT commented on #2189
@blackdwarf will this be fixed with the next dot.net site refresh?

[2016-11-10 03:28] piotrpMSFT commented on #2190
Looks like this got fixed. If anyone is still experiencing this issue please reopen with details at https://github.com/nuget/home

[2016-11-10 03:28] #2190 closed

[2016-11-10 03:28] #2201 closed

[2016-11-10 03:29] piotrpMSFT commented on #2212
In preview3 the build output is provided by MSBuild and is controllable by MSBuild verbosity option.

[2016-11-10 03:29] #2212 closed

[2016-11-10 03:37] piotrpMSFT commented on #2241
Seems like this got solved. Please reopen if still an issue.

[2016-11-10 03:37] #2241 closed

[2016-11-10 03:42] piotrpMSFT commented on #2292
preview3 drops support for ProjectModel.

[2016-11-10 03:42] #2292 closed

[2016-11-10 03:43] piotrpMSFT commented on #2305
@enricosada is this still an issue with your new implementation? Given our earlier conversation I assume 'yes'...

[2016-11-10 03:45] piotrpMSFT commented on #2308
Moved to core-setup repo

[2016-11-10 03:45] #2308 closed

[2016-11-10 03:47] blackdwarf commented on #2189
Yep, the PR is merged and it will be visible next week with the overall website refresh.

[2016-11-10 03:58] piotrpMSFT commented on #2326
@blackdwarf is this mitigated? we're still pretty noisy when building successfully. Should we look at the UX here?

[2016-11-10 03:59] piotrpMSFT commented on #2333
@enricosada are you still seeing this with the preview3-based implementation?

[2016-11-10 04:05] piotrpMSFT commented on #2336
@smoothdeveloper Scripting is not part of the core SDK but it would make for a great extension. I added this to the list in #4672.

Can you share more details about how you'd like to handle dependencies at the solution level? I get this for tools, but are there other scenarios in your mind?

[2016-11-10 05:00] piotrpMSFT commented on #2375
project-model-server has been deprecated in preview3

[2016-11-10 05:00] #2375 closed

[2016-11-10 05:01] piotrpMSFT commented on #2384
Was an RC2 issue

[2016-11-10 05:01] #2384 closed

[2016-11-10 05:06] piotrpMSFT commented on #2385
Just verified this still repros on preview3 on OS X. Fix should be easy. The dependency exists when validating or prepping the offline nuget cache.

[2016-11-10 05:07] piotrpMSFT commented on #2388
@enricosada still need something here?

[2016-11-10 05:08] piotrpMSFT commented on #2432
dupe of https://github.com/NuGet/Home/issues/3878

[2016-11-10 05:08] #2432 closed

[2016-11-10 05:11] piotrpMSFT commented on #2454
@bleroy @blackdwarf what is the fix you imagine here?

[2016-11-10 05:12] piotrpMSFT commented on #2455
We've not seen any reports of this since April. @mausch can you try to repro with preview3 bits and let us know if you hit this again? I was not able to...

[2016-11-10 05:16] blackdwarf commented on #2454
@piotrpMSFT so there are a couple of things that come to mind (not exclusive):

1. Make restore (or build) complain about this metapackage and advise people to not put in a star with a good error message and a link to...
2. ...a proper docs that explains why stars are not good for this scenario and why people should avoid them (in general as well).

The templates already do not contain a star, so

[2016-11-10 05:25] piotrpMSFT commented on #2454
This needs to work with `platform` packages in general. We don't want to hard-code package lists.

This scenario will only blow up in two cases, and I don't think I want to block other scenarios since doing a build shouldn't require that you install a shared framework e.g.

The first case it blows up is `run` and we could easily put a check there that validates that the Shared Framework version is

[2016-11-10 05:28] blackdwarf commented on #2454
@piotrpMSFT sounds like a plan. Of course, we need docs as well. I will file that issue in dotnet/docs repo.

[2016-11-10 06:00] jchadwick opened #4674 "Add ability to search for and install packages"
Nobody wants to manually edit MSBuild XML files to add package references.  If you can `dotnet restore` then you should be able to `dotnet search [query]` to search the NuGet repo or at least `dotnet install [package name]` to install a package whose name you already know.

cc: @blackdwarf

[2016-11-10 06:07] piotrpMSFT commented on #2456
I wanted to test this in preview3 but found that `shared` is not being migrated yet. I opened https://github.com/NuGet/Home/issues/3914 to determine where the property should go. @livarcocc we need to make sure this gets to a conclusion.

[2016-11-10 06:10] piotrpMSFT commented on #2461
restore does not require passing a RID in this scenario anymore.

[2016-11-10 06:10] #2461 closed

[2016-11-10 06:12] piotrpMSFT commented on #2997
I've not been able to repro this. If this is still an issue for you, could you open a new issue with a pointer to a repro?

[2016-11-10 06:12] #2997 closed

[2016-11-10 06:27] piotrpMSFT commented on #3000
@jeffschwMSFT I just tried to repro this on preview3. First, I moved the project.json to preview2 format:

[code]

Next, I ran
- `dotnet migrate`
- `dotnet restore`
- `dotnet publish`
- cd to publish directory
- `ls -l ** | wc -l`

This gave me a figure of 205 files. Though I did find some of the overlapping content you mentioned, it existed in the refs directory which is needed for compilation of

[2016-11-10 06:27] #3000 closed

[2016-11-10 06:29] piotrpMSFT commented on #3009
Sounds like this got resolved.

[2016-11-10 06:29] #3009 closed

[2016-11-10 06:30] blackdwarf commented on #4674
Thanks for the comment @jchadwick. This issue is tracked as part of the #4521 issue. I will close this, but can you please add any comments over on that issue?

Thanks!

[2016-11-10 06:30] #4674 closed

[2016-11-10 06:32] piotrpMSFT commented on #3015
Starting with preview3, the `tools` node capabilities were migrated to `<DotNetCliToolReference>` items. These items do not support imports. Tools need to be netcoreapp1.0 compatible and their dependencies must as well. If a dependency is needed which does not have a compatible nupkg then it will need to ship with the tool.

[2016-11-10 06:32] #3015 closed

[2016-11-10 06:36] piotrpMSFT commented on #3017
I just tried to repro this with preview2 and it restored successfuly. I also migrated to csproj and restored with preview3 and that also worked. This was probably an issue with packages not having been on NuGet yet.

[2016-11-10 06:36] #3017 closed

[2016-11-10 06:39] piotrpMSFT commented on #3026
project-model-server is deprecated with the preview3 release. MSBuild can be queried directly for relevant state.

[2016-11-10 06:39] #3026 closed

[2016-11-10 06:43] piotrpMSFT commented on #3034
Moved to core-setup

[2016-11-10 06:43] #3034 closed

[2016-11-10 06:45] piotrpMSFT commented on #3040
Starting with preview3 P2P references use relative paths, so this sort of failure due to implicit P2P reference no longer exists.

[2016-11-10 06:45] #3040 closed

[2016-11-10 06:49] piotrpMSFT commented on #3131
Then closing :)

[2016-11-10 06:49] #3131 closed

[2016-11-10 06:58] piotrpMSFT commented on #3130
This data is still based on project.json which makes it fairly unactionable. Let's see if we hit similar issues in preview3 and address them there.

[2016-11-10 06:58] #3130 closed

[2016-11-10 07:00] piotrpMSFT commented on #3126
Moved to the aspnet/tooling repo which tracks VS 2015 tooling.

[2016-11-10 07:00] #3126 closed

[2016-11-10 07:02] piotrpMSFT commented on #3125
Closing as a new newtonsoft package has shipped.

[2016-11-10 07:02] #3125 closed

[2016-11-10 07:08] piotrpMSFT commented on #3070
We've spent time hardening the installer against these sorts of issues and fixing up the host to provide better messages. We should not see this sort of frustration moving forward.

[2016-11-10 07:08] #3070 closed

[2016-11-10 07:10] piotrpMSFT commented on #3066
@StefH had this right :) Preview3 moves this behavior to csproj and lets us use msbuild for build orchestration. Pack itself is now a target, making this sort of chaining even easier.

[2016-11-10 07:10] #3066 closed

[2016-11-10 07:11] piotrpMSFT commented on #3103
Glad this got fixed :)

[2016-11-10 07:11] #3103 closed

[2016-11-10 07:14] piotrpMSFT commented on #3057
Moved to ASPNET/Tooling repo which tracks VS2015 tooling for .net core

[2016-11-10 07:14] #3057 closed

[2016-11-10 07:27] piotrpMSFT commented on #3050
We haven't seen a scenario for this yet. If we're in the directory we can invoke the executable directly. I'd be glad to hear about what this enables, though!

[2016-11-10 07:27] #3050 closed

[2016-11-10 07:33] piotrpMSFT commented on #3041
Moved to core-setup

[2016-11-10 07:33] #3041 closed

[2016-11-10 07:37] piotrpMSFT commented on #3586
The missing types are missing by-design, so closing.

[2016-11-10 07:37] #3586 closed

[2016-11-10 07:38] piotrpMSFT commented on #3584
Glad this was solved :)

[2016-11-10 07:38] #3584 closed

[2016-11-10 07:44] piotrpMSFT commented on #3583
That's exactly right. The VS 2015 tooling invokes `dotnet test` with the active framework and therefore runs only the tests for that framework!

[2016-11-10 07:44] #3583 closed

[2016-11-10 07:46] piotrpMSFT commented on #3582
If you can share a repro we can take a look at the issue!

[2016-11-10 07:46] #3582 closed

[2016-11-10 07:49] piotrpMSFT commented on #3569
Moved to core-setup

[2016-11-10 07:49] #3569 closed

[2016-11-10 07:51] piotrpMSFT commented on #3506
The F# template was removed from preview3 as the new tooling ramps up.

[2016-11-10 07:51] #3506 closed

[2016-11-10 07:55] piotrpMSFT opened #4675 "Template Wishlist"
This issue tracks asks for additional CLI Templates that folks would like to have access to. Think of these as Up For Grabs work items for folks that want to build CLI templates. Let us know if you're interested in taking one of these on!

 - [ ] Starter Solution - a library, a test project, and a sln file to match #3503
 - [ ] Self-contained deployment with a Dockerfile
 - [ ] Console application

[2016-11-10 07:55] piotrpMSFT commented on #3503
Tracking in #4675.

[2016-11-10 07:55] #3503 closed

[2016-11-10 08:03] piotrpMSFT commented on #3453
This scenario has been cleaned up a lot in preview3. If we try to run a non-runnable project we get:

[code]

[2016-11-10 08:03] #3453 closed

[2016-11-10 08:17] piotrpMSFT commented on #3439
Glad this got figured out :)

[2016-11-10 08:17] #3439 closed

[2016-11-10 08:19] forki commented on #2336
Scripting has always been one of the most important features in F# land and the rise of things like ScriptCs shows that it's also important in C#. TBH I can't really understand how fsx/csx files are not supported from day 1. We asked for this on every occasion.

@smoothdeveloper regarding dependencies. It looks like NuGet will never get the concept of solution-wide dependencies. But fortunately th

[2016-11-10 08:21] piotrpMSFT commented on #3288
Moved to nuget/home.

[2016-11-10 08:21] #3288 closed

[2016-11-10 08:23] piotrpMSFT commented on #3286
does anyone have a repro they can share? I'd like to make sure  this is fixed in Preview3.

[2016-11-10 08:27] piotrpMSFT commented on #3285
With project.json being replaced by csproj, we won't be pursuing a fix here.

[2016-11-10 08:27] #3285 closed

[2016-11-10 08:31] piotrpMSFT commented on #3253
Moved to core-setup

[2016-11-10 08:31] #3253 closed

[2016-11-10 08:41] piotrpMSFT commented on #3174
Closing as this is fixed in the latest version of nuget. If there is a further issue here, please open in https://github.com/nuget/home.

[2016-11-10 08:41] #3174 closed

[2016-11-10 08:41] nelsonmorais commented on #4172
@kyschouv Not the case here, but thanks for your input.

[2016-11-10 08:50] artiomchi commented on #3286
Sure,

I just created a new blank ASP.Net project, added an area (see last commit), and then tried to build+publish. The area is missing in the outputs.

Then added the patch described above (`Areas/**/*.cshtml`) and the area views appeared in the publish outputs.

Created a blank repository with it: [artiomchi/WebApplicationAreaPublishTest](https://github.com/artiomchi/WebApplicationAreaPublishTe

[2016-11-10 09:07] piotrpMSFT commented on #3175
Using preview3 I reproduced this scenario and migrated it to csproj. I then did a `restore` and `build`. In the output I see:

[code]

So analyzers are certainly active and catching issues. Furthermore, I wanted to see which analyzers got wired in. I checked the contents of obj/r3175.csproj.nuget.g.props [a props file generated by nuget and auto-included in the project] and found:

[code]

You can

[2016-11-10 09:07] #3175 closed

[2016-11-10 09:10] piotrpMSFT commented on #3187
As @cdmihai mentioned, this will be fixed as Microsoft/MSBuild#2616. As of preview3, the CLI's incremental cache is gone.

[2016-11-10 09:10] #3187 closed

[2016-11-10 09:13] piotrpMSFT commented on #3189
Thanks for your help, @onovotny

[2016-11-10 09:13] #3189 closed

[2016-11-10 09:17] piotrpMSFT commented on #3206
This got moved to https://github.com/dotnet/corefx/issues/8991

[2016-11-10 09:17] #3206 closed

[2016-11-10 09:19] piotrpMSFT commented on #3201
Please try Preview2 instead.

https://www.microsoft.com/net/core#windows

[2016-11-10 09:19] #3201 closed

[2016-11-10 09:29] nietras opened #4676 "Perf: CLI extremely high memory usage and CPU load during restore all packages for corefx"
## Steps to reproduce
 * Clone `corefx` repo and follow instructions to build. E.g. commit 4e961640ab618297326575bb70722760115e61d0
 * Run `build.cmd` in git powershell window on Windows 10.
 * Wait until all packages are restored.

## Expected  behavior
 * Restore should be fast, very little cpu usage and low memory usage.

## Actual behavior
 * Memory usage and CPU is extremely high for a long t

[2016-11-10 09:55] piotrpMSFT commented on #3672
ProjectModel, along with ProjectContextBuilder, are deprecated in preview3.

[2016-11-10 09:55] #3672 closed

[2016-11-10 09:56] piotrpMSFT commented on #3670
the fixed timestamp is consistent with other assets coming from nupkgs. It also destinguishes the generated content from the xcopied content. Finally, fixed timestamps are very useful to incrementality scenarios. Let's leave this as-is.

[2016-11-10 09:56] #3670 closed

[2016-11-10 09:57] piotrpMSFT commented on #3668
MSBuild does not have a -b equivalent, so this option was deprecated in preview3.

[2016-11-10 09:57] #3668 closed

[2016-11-10 09:58] piotrpMSFT commented on #3665
The preview3 web template uses csproj, so we can no longer make this fix.

[2016-11-10 09:58] #3665 closed

[2016-11-10 09:58] jonjomckay commented on #2997
@piotrpMSFT there's a bit more information inside #4148 if it helps?

[2016-11-10 10:09] piotrpMSFT commented on #3662
Moved to core-setup. This issue exists in the dotnet host despite affecting the CLI.

[2016-11-10 10:09] #3662 closed

[2016-11-10 10:18] piotrpMSFT commented on #3761
The preview3 web template dropped the readme.md file.

[2016-11-10 10:18] #3761 closed

[2016-11-10 10:21] piotrpMSFT commented on #3765
In #3175 I showed how analyzers surface in the preview3 msbuild CLI. As you can see, you'll be able to add <Include>s in your project file and pull in other project outputs. Just mimic the pattern I've shown from the nuget.g.props file.

[2016-11-10 10:21] #3765 closed

[2016-11-10 10:23] piotrpMSFT commented on #3759
Odd. Since we don't have a repro we couldn't investigate this one. If you see it again, please do re-open.

[2016-11-10 10:27] piotrpMSFT commented on #3756
In preview3 each verb supports a single project input. We will be looking at enabling multi-project e.g. restore based on sln files in a future release.

[2016-11-10 10:27] #3756 closed

[2016-11-10 10:28] piotrpMSFT commented on #3755
Preview3's msbuild support will allow you to use the same errorlog switch. See #3175 for some snippets of how that look in .NET Core.

[2016-11-10 10:28] #3755 closed

[2016-11-10 10:31] piotrpMSFT commented on #3743
Since preview3 moved us from project.json to csproj, these PJ properties won't be getting brought forward. The preview3 CLI includes a `dotnet nuget` command in addition to `restore` and `pack` giving you access to NuGet itself and, bugs aside, removing the blocks we saw with this class of issue.

[2016-11-10 10:31] #3743 closed

[2016-11-10 10:36] piotrpMSFT commented on #3742
This was shown to be an issue with an older CLI +  Nuget combination. I'm not able to repro this today.

[2016-11-10 10:36] #3742 closed

[2016-11-10 10:38] piotrpMSFT commented on #3732
`publishOptions` gets translated into MSBuild content in preview3. Error handling subsystem is vastly different, so this issue is not actionable.

[2016-11-10 10:38] #3732 closed

[2016-11-10 10:40] piotrpMSFT commented on #3727
This may be interesting to pursue one day. Putting in backlog.

[2016-11-10 10:42] #3718 closed

[2016-11-10 10:46] piotrpMSFT commented on #3714
Moved to corefx. This issue is not tractable until an appropriate Shared Framework is available.

[2016-11-10 10:46] #3714 closed

[2016-11-10 10:48] #3702 closed

[2016-11-10 10:58] mausch commented on #2455
This seems to be still broken:

[code]

[code]

[code]

Apparently the `microsoft/dotnet:latest` image is still running preview2.

[2016-11-10 12:46] blackdwarf commented on #4675
Here are a few more:

- [ ] Self-contained deployment with a Dockerfile
- [ ] Console application with a Dockerfile
- [ ] Extensibility with a target

[2016-11-10 12:49] blackdwarf commented on #507
We have the hashes now thanks to the work from @naamunds so I'm moving this to Preview 4 and assigning to myself to finish.

[2016-11-10 12:51] blackdwarf commented on #1404
@tugberkugurlu I believe this will be covered by the newly proposed `dotnet ref` command. See #4521.

Will close this issue. Please comment on #4521. Thanks!

[2016-11-10 12:51] #1404 closed

[2016-11-10 12:55] blackdwarf commented on #865
@piotrpMSFT is this still valid? Is this something that is mitigated with the move to MSBuild?

[2016-11-10 13:03] blackdwarf commented on #4283
There should be a link to the RID catalogue in the `dotnet publish` help, since it is not clear what should be done and where to get help.. I'm moving this to the Preview 4 milestone.

[2016-11-10 13:04] blackdwarf commented on #4245
I will close this as there doesn't seem to be an update to this and we cannot repro the issue. @sushihangover please reopen if this continues behaving.

[2016-11-10 13:04] #4245 closed

[2016-11-10 13:09] blackdwarf commented on #3826
This is actually not reproing in the preview 3 bits. For this project file:

[code]

I'm getting this output:

[code]

Will close. @jchannon please reopen if you continue experiencing this. Thanks!

[2016-11-10 13:09] #3826 closed

[2016-11-10 13:13] blackdwarf commented on #3409
@piotrpMSFT is this still an issue? Also, with our move to MSBuild, isn't globbing standardized to whatever MSBuild is supporting?

[2016-11-10 13:21] blackdwarf commented on #1651
This is actually done with `dotnet run` in the Preview 3 bits. It will now by default output build information only if there are errors. So, closing this.

[2016-11-10 13:21] #1651 closed

[2016-11-10 13:24] blackdwarf commented on #1604
@piotrpMSFT did this got solved? I cannot repro this using the latest Preview 3 bits.

[2016-11-10 13:25] blackdwarf commented on #2175
Moving this to Nuget/Home, but yes, this is still reproing.

[2016-11-10 13:26] #2175 closed

[2016-11-10 13:42] denizalpaslan opened #4677 "Publishing .NET Core Web API Project on CentOS 7"
Hi, I've coded a very simple web API Project (with a single controller) and having some issues with publishing.  Am I missing something? Thanks in advance.

## Steps to reproduce

-  I run "dotnet publish" in my project folder, resulting a /bin/Debug/publish folder.
-  Copied the contents of this folder to "/var/www/dotnet_core_poc"
- "dotnet restore"
- "dotnet run"

## Expected  behavior

Expecte

[2016-11-10 13:43] blackdwarf commented on #2098
So, this error doesn't exist anymore in the latest bits. `dotnet run` returns the following information:

[code]
With this, I will close this issue since I don't really see how the CLI could do anything better here.

[2016-11-10 13:43] #2098 closed

[2016-11-10 13:47] blackdwarf commented on #2006
This does not repro in the lastest Preview 3 bits. Closing. @tbolon if you find this repros again, please reopen. Thanks!

[2016-11-10 13:47] #2006 closed

[2016-11-10 14:19] MikeRavenelle opened #4678 "Migrations on releases of different runtimes"
I am attempting to publish my application to win10-x64 from a Ubuntu 16.04 system. I am able to publish it correctly but how do I go about adding the migration and updating the database?

I tried using --configuration release flag for dotnet ef, but it defaults to ubuntu-16.04 runtime and creates the migration and database for it instead of the win10-x64. I tried adding the dotnet ef commands to a

[2016-11-10 15:21] Antaris commented on #3583
@piotrpMSFT But with the unit test runner, how do you express **which** framework you want to run tests for?

[2016-11-10 16:13] niemyjski commented on #3759
I haven't tried this since I moved on to let it bake, but you weren't  able reproduce this with the dotnet branch of the above repo? https://github.com/exceptionless/Foundatio

[2016-11-10 16:14] niemyjski commented on #3718
There is some kind of issue that I've repeatedly seen where the bin folder wasn't kept in sync and caused runtime issues. Are you aware of any issues that have been causing this?

[2016-11-10 17:18] livarcocc commented on #4678
Moved it to the aspnet entity framework repo.

[2016-11-10 17:18] #4678 closed

[2016-11-10 17:22] livarcocc commented on #4677
Once you publish an application you do not need (or can) restore or use the run command on it anymore.

Both restore and run are development tools and they require your source code to work.

The good news is that once you publish, you can simply run your application in one of two ways, depending on whether you published a portable or a self contained app.

If it is a portable app, you won't see an

[2016-11-10 17:22] #4677 closed

[2016-11-10 17:29] livarcocc commented on #4676
Moved this to the NuGet repo.

[2016-11-10 17:29] #4676 closed

[2016-11-10 17:31] livarcocc commented on #4411
Do you have the zip file opened somewhere so that there is a handle for it preventing the build from overwriting it?

[2016-11-10 17:33] hishamco commented on #4411
Which zip file you mean?

[2016-11-10 18:04] svick commented on #4677
Just a small correction:

Not on CentOS (or any other Linux). There, a self contained app produces an executable named just `app`, which can be directly invoked (`./app`).

[2016-11-10 18:09] piotrpMSFT commented on #4677
I'm seeing myself type app[.exe] and myscript.[sh|ps1] all too often :)

[2016-11-10 18:19] #2242 closed

[2016-11-10 18:26] livarcocc commented on #4085
This seems to be have been resolved. Please re-open if you are still running into problems.

[2016-11-10 18:26] #4085 closed

[2016-11-10 18:37] dasMulli commented on #4521
I think if it did support TFM-specific references, this would be highly useful since adding a PackageReference is easy, but getting the condition right from memory not so much (srsly, "do i need to wrap things with apostrophes? do i need brackets for the `$xyz` expressions? what was that variable called again anyway?")

For adding references, a switch could be added for the target framework:

* `-

[2016-11-10 18:38] blackdwarf commented on #1985
This seems like it was fixed in the latest (Preview 3) bits, so I'm going to close. The repro specified above by @DamianEdwards works now as it should. If still repros, please reopen.

[2016-11-10 18:38] #1985 closed

[2016-11-10 19:52] livarcocc commented on #1518
If you guys run into something like this again, please open a new issue under the NuGet repo.

[2016-11-10 19:52] #1518 closed

[2016-11-10 19:52] livarcocc commented on #1486
We don't have this anymore.

[2016-11-10 19:52] #1486 closed

[2016-11-10 20:46] livarcocc commented on #4604
Does this work if you invoke dotnet restore VSMigrationDemo.sln?

[2016-11-10 20:54] Luo-Liang opened #4679 "[Question] Running the compiled .net coreclr, .net corefx with .net cli"
Hey! I'm trying to compile and try the new everything (coreclr, corefx, cli) on my own machine, and I have compiled everything. The related question is here: https://github.com/dotnet/corefx/issues/13409 as they pointed me to try the new CLI.

I have a .nuget config that looks like this:
_I feel like there is something wrong here, please correct me_
[code]
And a simple project.json as follows:
[co

[2016-11-10 21:12] piotrpMSFT commented on #4679
"Microsoft.NETCore.Runtime.CoreCLR": "1.2.0-beta-24702-0"

This reference only includes the runtime, not the full framework. It should be a flavor of "Microsoft.NetCore.App" that includes the aforementioned CoreCLR. If that is not available, you can try adding the NetCore.App reference in addition to the CLR reference... though this will be more error prone since the CLR and CoreFx would likely no

[2016-11-10 21:14] piotrpMSFT commented on #4604
Once we get @jinujoseph unblocked, we need an issue for `dotnet restore` in NuGet/Home to fix the UX here.

[2016-11-10 21:22] piotrpMSFT commented on #3759
Reopening. Thanks for the repro. I'll take a look at this soon.

[2016-11-10 21:22] piotrpMSFT commented on #3583
`dotnet test --framework netcoreapp1.0` for example.

[2016-11-10 21:23] piotrpMSFT commented on #3583
The preview2 help experience here is lackluster. We end up just showing the xunit-specific options. This should be fixed soon.

[2016-11-10 22:18] Luo-Liang commented on #4679
Hmm, thanks for the reply - I'm rusty on this..

[code]
Doesn't this mean that I specify the dependency I wanted? Since I do not need the full .net, and only want a few references that make it run?

[2016-11-10 22:29] livarcocc commented on #4060
Please re-open if this is still an issue.

[2016-11-10 22:29] #4060 closed

[2016-11-10 22:32] livarcocc commented on #4045
This is an issue in the Subsystem itself. This SystemNative_ForkAndExecuteProcess is failing with a errno == ENOMEM. The linux subsystem folks will look into this.

[2016-11-10 22:32] #4045 closed

[2016-11-10 22:33] livarcocc commented on #4016
Are you able to restore now?

[2016-11-10 22:33] juanreyesv commented on #3065
@tebeco Yes I think that's right. `Dotnet restore` uses nuget to restore the dependencies so if nuget is not configured to work behind a proxy (and your computer is behind a proxy) dotnet restore fails.

`nuget restore` download the dependencies from the internet, if your computer is not behind a proxy then it will just work, is like browsing any website. That is or course if the nuget package is

[2016-11-10 22:33] livarcocc commented on #3999
I don't believe this is a CLI issue.

[2016-11-10 22:33] #3999 closed

[2016-11-10 22:36] livarcocc commented on #3992
We do not have such packages.

You can get zips and tarballs of both the SDK and the shared framework.

There is a list of links in the CLI main page: https://github.com/dotnet/cli.

[2016-11-10 22:36] #3992 closed

[2016-11-10 22:37] livarcocc commented on #3987
We haven't heard back in a while. Please re-open if you are still hitting this.

[2016-11-10 22:37] #3987 closed

[2016-11-10 22:38] livarcocc commented on #3936
Seems like this is working for people. And I tried it in a Linux subsystem yesterday and installation worked.

[2016-11-10 22:38] #3936 closed

[2016-11-10 22:43] Dzivo commented on #2477
This still throws the same error

[2016-11-10 22:47] piotrpMSFT commented on #3409
We should keep using this issue to ensure that all msbuild-using verbs are able to act on:
project paths
project directories
solution paths
solution directories

This needs to be consistent.

[2016-11-10 22:48] livarcocc commented on #1456
This is now being handled in VSTEST and we no longer have runner specific parameters in MSBuild world.

[2016-11-10 22:48] #1456 closed

[2016-11-10 22:49] livarcocc commented on #1427
Is this still happening? If so, please re-activate and if possible, with a repro.

[2016-11-10 22:49] #1427 closed

[2016-11-10 22:52] livarcocc commented on #990
both build and publish support framework and runtime.

In MSBuild world, you still need to have the RuntimeIdentifiers set in the csproj, but then restoring the project restores them all.

After that, you can simply run dotnet publish --runtime win7-x64 for instance, even on a non-windows machine and the application will be published for windows.

[2016-11-10 22:52] #990 closed

[2016-11-10 22:56] livarcocc commented on #1576
Please, re-activate if you are still hitting this.

[2016-11-10 22:56] #1576 closed

[2016-11-10 23:09] piotrpMSFT commented on #2477
I just tried this in preview3 with csproj and it worked quite nicely :) Here is the csproj I used, for reference. Notice the <Compile ... Exclude="..."/> tag.

[code]

[2016-11-10 23:13] piotrpMSFT commented on #865
@krwq is making some Binding Redirects fixes. It'd be good to hear that this is fixed.

[2016-11-10 23:30] piotrpMSFT commented on #4675
@blackdwarf I edited our posts to merge the lists :)

Which impl? TBD.

[2016-11-10 23:43] Dzivo commented on #2477
I found the problem and the solution. I had angular2 cli project in this folder
i have exxluded that folder and now build works.

  "compile": {
      "exclude": ["angular2cli-project"]
    }

[2016-11-11 00:11] livarcocc commented on #3847
Moved it to the core-setup repo.

[2016-11-11 00:11] #3847 closed

[2016-11-11 00:11] livarcocc commented on #3839
ProjectModel is no longer a thing.

[2016-11-11 00:11] #3839 closed

[2016-11-11 00:12] livarcocc commented on #3840
We have pulled this optimization into preview2.1 and into the SDK tasks.

[2016-11-11 00:12] #3840 closed

[2016-11-11 00:15] livarcocc commented on #3825
This is what you get in MSBuild world:

[code]

[2016-11-11 00:15] #3825 closed

[2016-11-11 00:24] livarcocc commented on #2276
I tried this out with preview3 and it worked.

[2016-11-11 00:24] #2276 closed

[2016-11-11 00:24] livarcocc commented on #2256
We don't have project.json anymore.

[2016-11-11 00:24] #2256 closed

[2016-11-11 00:27] livarcocc commented on #2199
This is still relevant for MSBuild.

Running dotnet build without restoring gives us the error below, which is pretty bad.

[code]

[2016-11-11 00:32] #2433 closed

[2016-11-11 00:33] livarcocc commented on #2388
I think this is done now.

[2016-11-11 00:33] #2388 closed

[2016-11-11 00:34] #2330 closed

[2016-11-11 00:36] livarcocc commented on #2528
We no longer support imports for tools.

[2016-11-11 00:36] #2528 closed

[2016-11-11 02:16] xatabhk opened #4683 "Microsoft.DotNet.Props was not found"
## Steps to reproduce
Build MusicStore sample

## Expected  behavior
No error

## Actual behavior
C:\temp\MusicStore-dev\samples\MusicStore>dotnet build
Microsoft (R) Build Engine version 15.1.0.0
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 11/11/2016 10:13:07 AM.
     1>Project "C:\temp\MusicStore-dev\samples\MusicStore\MusicStore.xproj" on node 1 (Build target(s)).

[2016-11-11 02:24] #1475 closed

[2016-11-11 03:01] blackdwarf commented on #2199
@livarcocc yes, it is still quite relevant.

[2016-11-11 04:21] livarcocc commented on #3807
This will work with preview3.

[2016-11-11 04:21] #3807 closed

[2016-11-11 04:23] livarcocc commented on #4683
Have you migrated this project to csproj? The msbuild based CLI does not support xproj. If you migrate your projet, we will create an equivalent csproj for it and move your project.json and xproj to a backup folder.

Please, re-activate if that doesn't solve your problem.

[2016-11-11 04:23] #4683 closed

[2016-11-11 04:24] livarcocc commented on #2255
Not applicable in MSBuild.

[2016-11-11 04:24] #2255 closed

[2016-11-11 04:24] livarcocc commented on #2254
This has already been simplified.

[2016-11-11 04:24] #2254 closed

[2016-11-11 04:26] livarcocc commented on #1855
We already support cross-target publishing.

You can publish from one RID to another.

[2016-11-11 04:26] #1855 closed

[2016-11-11 04:28] livarcocc commented on #2500
The new MSBuild templates do not have imports.

[2016-11-11 04:28] #2500 closed

[2016-11-11 04:29] livarcocc commented on #2497
We don't have ProjectModel anymore.

[2016-11-11 04:29] #2497 closed

[2016-11-11 04:33] livarcocc commented on #4637
I don't believe this is possible except with different files, at least in project.json world.

If you migrate to csproj and msbuild, you can pass an arbitrary number of properties through the command line using the /p:propertyname:propertyvalue and you can use that to change/set values differently based on where you are building.

[2016-11-11 04:33] #4637 closed

[2016-11-11 04:35] livarcocc commented on #4629
Migration will now remove the reference to dotnet-test-xunit.

[2016-11-11 04:35] #4629 closed

[2016-11-11 04:37] livarcocc commented on #2624
We are not directly depending on JSON.NET anymore.

[2016-11-11 04:37] #2624 closed

[2016-11-11 04:40] livarcocc commented on #2581
This code no longer exists in the CLI.

[2016-11-11 04:40] #2581 closed

[2016-11-11 04:44] livarcocc commented on #2199
Which is why I moved to preview4.

[2016-11-11 04:46] livarcocc commented on #4411
The one just mentioned in the error above. We run build.cmd tens of times a day and this error I have never seen. Which makes believe that you may have opened that zip file at some point and left it open. At least I can't think of something else at the moment.

[2016-11-11 04:54] harshjain2 commented on #4629
@livarcocc Migration should also remove the reference of dotnet-test-mstest as well.

[2016-11-11 05:27] blackdwarf commented on #4003
Since there was no action here for a while now, I will close this issue. If the problem still repros, please reopen.

[2016-11-11 05:27] #4003 closed

[2016-11-11 08:34] piotrpMSFT opened #4684 "dotnet run requires framework to be specified when multiple are present"
Moved https://github.com/dotnet/sdk/issues/358 on behalf of @NTaylorMullen.

Given a project with multiple Target Frameworks, i.e. `net451;netcoreapp1.1` dotnet run should behave like it used to in project.json land. At a glance it looks like the old world prioritizes the netcoreapp tfm.

This is how it behaves today:
[code]

[2016-11-11 08:39] Antaris commented on #3583
@piotrpMSFT I think this issue specifically relates to the experience using VS's unit test runner. I am already using the `--framework` switch when I run tests as part of my build process, but I don't want to really have to manually run `dotnet test` for each framework when the unit test runner UI should display this for me.

[2016-11-11 08:41] SamvelS opened #4685 "Indirect dependency on the framework assembly on .Net core prerelease version"
## Steps to reproduce
I am doing some experiments with prerelase version of .Net Core.

I am using **1.0.0-preview4-004071** version of .Net Core.
Installed .NET Core SDK, created **1.0.3** folder in **C:\Program Files\dotnet\shared\Microsoft.NETCore.App** and added binaries for same build version (all downloaded from **https://github.com/dotnet/cli#installers-and-binaries**).

My *.csproj file is

[2016-11-11 09:31] piotrpMSFT commented on #4685
The error message is spot on. The <Reference> items are pulling in Desktop .NET Framework. Since you're targetting netcoreapp1.0, you'll want the portable versions of these. I checked NuGet.org for the [first one](https://www.nuget.org/packages/System.Collections.Specialized/4.3.0-preview1-24530-04) and found that version 4.3.0-preview1-24530-04 is the latest version and supports `netstandard1.3`,

[2016-11-11 09:31] #4685 closed

[2016-11-11 09:35] piotrpMSFT commented on #4629
@harshjain2  can you open an issue to track that one?

[2016-11-11 09:37] piotrpMSFT commented on #4411
`C:\Users\Dell\Source\Repos\cli\/artifacts/win10-x64/packages/dotnet-sdk-win-x64.1.0.0-preview3-004049.zip`

this file. Delete it, then try the build again. Something seems to have it locked.

[2016-11-11 09:40] harshjain2 opened #4686 "Migration should also remove the reference of dotnet-test-mstest"
## Steps to reproduce
1. Run dotnet migrate on a xproj based test project that uses dotnet-test-mstest nuget package.

## Expected  behavior
In the generated . csproj file dotnet-test-mstest nuget package shouldn't be present.

## Actual behavior
In the generated . csproj file dotnet-test-mstest nuget package is present.

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-

[2016-11-11 09:44] piotrpMSFT commented on #3583
Yea, agreed that the VS experience needs improvement. This is being tracked, but it'll take longer to get the right model in the IDE.

The UI, btw, is able to test for each framework, just one at a time. You have a drop-down in the IDE for selecting the active framework in the code editor windows. The same drop-down influences the framework used by the test  window. Give it a shot!

Here is an ima

[2016-11-11 09:48] piotrpMSFT commented on #4679
You can reach success, but this scenario is `off the rails` and will require some work on your part. We don't have a metapackage that represents the `minimal` framework, so you'll need to find the minimum set needed to make your project work. I'd start with "Everything in netcoreapp" and prune down until it works. Most of the CoreFx libraries should be removable, but you need the native bits and e

[2016-11-11 10:01] piotrpMSFT commented on #4624
Moved to nuget repo

[2016-11-11 10:01] #4624 closed

[2016-11-11 10:04] piotrpMSFT commented on #4610
This is an interesting bug to fix once we're fully feature complete. In general, run should be a `ctrl+F5` experience and used for quick testing of code. Production scenarios like multiple instances [I know someone will have examples of where it's interesting in development, but that's not the 99% case :) ] should be invoking `dotnet path/to.dll` directly to avoid the extra overhead of `run`.

[2016-11-11 10:07] piotrpMSFT opened #4687 "dotnet migrate should adjust sln file references"
sln files should have their xproj refs swapped for csproj refs, where sln files exist.

[2016-11-11 10:07] piotrpMSFT commented on #4604
This ends up being a dupe of https://github.com/dotnet/cli/issues/4687. The sln file fails to restore 'cause it is referencing non-existant csproj files.

[2016-11-11 10:07] #4604 closed

[2016-11-11 10:09] piotrpMSFT commented on #4586
Let's look at this for RTM. In general, we may want to cleanly block CLI running in admin command prompt... at least without some special user gesture. NuGet packages can bring with them injected tasks/targets which can do gnarly stuff to a machine given the access.

[2016-11-11 10:10] piotrpMSFT commented on #4582
@skumarvenkat can you open an issue in https://github.com/dotnet/core-setup to track the desired installer fixes?

[2016-11-11 10:10] #4582 closed

[2016-11-11 10:24] piotrpMSFT commented on #2997
thanks @jonjomckay I'm working through the backlog and will try to look at it when i get to 4148 :)

[2016-11-11 10:32] dasMulli commented on #4687
Dupe of #4632?

[2016-11-11 10:33] piotrpMSFT commented on #4553
Publish is handled by sdk, so moving to appropriate repo.

[2016-11-11 10:33] #4553 closed

[2016-11-11 10:34] piotrpMSFT commented on #4484
@enricosada thanks for the heads up. Since there is no work here and the conversation wound down, I'm going to close the issue. We can reopen if you think we need to do something here.

[2016-11-11 10:34] #4484 closed

[2016-11-11 10:35] piotrpMSFT commented on #4458
@muratg since this is fixed in preview3 I'm closing the issue.

[2016-11-11 10:35] #4458 closed

[2016-11-11 10:36] piotrpMSFT commented on #4437
Closing as we don't have any traction here.

[2016-11-11 10:36] #4437 closed

[2016-11-11 10:41] piotrpMSFT commented on #4427
@DamianEdwards you're looking at something related...

[2016-11-11 10:44] piotrpMSFT commented on #4343
Since this is a VS2015-only issue, moving to aspnet tooling repo

[2016-11-11 10:44] #4343 closed

[2016-11-11 10:45] #4266 closed

[2016-11-11 10:47] piotrpMSFT commented on #4248
Closing the issue since there is a workaround. Working on a better fix...

[2016-11-11 10:47] #4248 closed

[2016-11-11 10:47] piotrpMSFT commented on #4244
Thanks @bartonjs

[2016-11-11 10:47] #4244 closed

[2016-11-11 10:53] piotrpMSFT commented on #4182
did you get a chance to try that out?

[2016-11-11 10:54] piotrpMSFT commented on #4181
in preview3 csproj files you will be able to use globbing to handle large amounts of files.

[2016-11-11 10:54] #4181 closed

[2016-11-11 12:06] xatabhk opened #4688 "Unable to build MusicStore sample"
## Steps to reproduce
dotnet migrate
dotnet restore
dotnet build

## Expected  behavior

no error

## Actual behavior

both 'dotnet restore' and 'dotnet build' report errors.

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview4-004079)

Product Information:
 Version:            1.0.0-preview4-004079
 Commit SHA-1 hash:  43dfa6b8ba

Runtime Environment:
 OS Name:

[2016-11-11 12:13] xatabhk commented on #4683
It still did not work after migrated; "dotnet restore/build" fails. MusicStore or project by "dotnet new -t web" has the same issue too.

[2016-11-11 12:19] Antaris commented on #3583
Ah yes, sadly there is another annoying bug I've noticed where I select an alternative framework and VS keeps switching back ;-) good call though, didn't realise it was contextual this way.

[2016-11-11 12:28] SamvelS commented on #4685
This didn't help me and I did following:
Added DLLs listed in warnings from cpreclr (https://github.com/dotnet/coreclr) build.
After adding reference for System.Runtime getting lots of exceptions such as:

`AssemblyInfo.cs(6,30): error CS0433: The type 'AssemblyCompanyAttribute' exists in both 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' and 'System.Runtime, Versio

[2016-11-11 13:17] svick commented on #4688
What errors are you getting?

[2016-11-11 13:26] SamvelS commented on #4685
Some of DLLs I am using supports `netstandard1.3` while some support only `netstandard1.0`.
Can issue be because of this?

[2016-11-11 16:27] nguerrera commented on #4182
Not yet. Gotta wonder why this isn't the default.

[2016-11-11 16:31] xatabhk commented on #4688
![music_error](https://cloud.githubusercontent.com/assets/6814395/20222163/33bfae22-a86f-11e6-9970-ce0e923ae6f4.png)

[2016-11-11 16:40] svick commented on #4688
Packages for the msbuild-based SDK are not on NuGet yet, you need to get them from MyGet and to do that, you need to set up a NuGet.config like this: https://github.com/dotnet/sdk/issues/345#issuecomment-257624891.

[2016-11-11 16:56] xatabhk commented on #4688
Actually I have been using MyGet all the time.

[2016-11-11 17:35] strohhut commented on #3419
I'm not getting "Access to the path ... is denied" but "The requested operation cannot be performed on a file with a user-mapped section open". Restarting Visual Studio or the PC doesn't help. Only thing that helps is changing the framework from 4.5.2 to 4.5.1 or vice versa then restoring. This gives me "Object reference not set to an instance of an object" in Visual Studio. Compiling a second tim

[2016-11-11 18:01] livarcocc opened #4689 "Migration should add rids when it migrates a project with a desktop TFM in it"
Without the RIDS, the desktop project won't be able to build.

[2016-11-11 18:02] livarcocc commented on #4688
This is because of a change in msbuild. In MSBuild, if you have a desktop TFM (like net45, net451, net46, etc), you need to set the RuntimeIdentifiers in your csproj as well.

We have a bug tracking doing that automatically doing migration, but you can try to work around this problem by add this to your csproj:

[code]

[2016-11-11 18:02] dmportella commented on #2010
thank you

[2016-11-11 18:03] livarcocc commented on #4683
Not all package dependencies for web projects are available yet, which is why it fails for you.

[2016-11-11 18:20] #4687 closed

[2016-11-11 18:22] livarcocc commented on #4555
So, now that we are moving the user's artifacts to the backup folder, does this still make sense? After all, the user will have to move the project.json from the backup folder to the original place and add the reference and then migrate.

Won't it be much easier to run dotnet ref add?

[2016-11-11 18:23] livarcocc commented on #4195
This is no longer an issue in preview3.

[2016-11-11 18:23] #4195 closed

[2016-11-11 18:26] piotrpMSFT commented on #3583
For the switching back issue, can you open a bug on https://github.com/aspnet/tooling?

[2016-11-11 18:28] ajaybhargavb commented on #4557
@rnagpal, you can use mappings to use your preferred name for the resx file.

[code]

[2016-11-11 18:37] livarcocc commented on #4634
@MattGertz we are tracking this here already: https://github.com/dotnet/cli/issues/4166. We will get it in.

[2016-11-11 18:37] #4634 closed

[2016-11-11 18:48] piotrpMSFT commented on #4182
agreed. probably worried people have exception-driven logic :-/

[2016-11-11 19:05] livarcocc commented on #2495
We don't have ProjectModel anymore.

[2016-11-11 19:05] #2495 closed

[2016-11-11 19:26] jgoshi opened #4691 "dotnet pack is missing --runtime option"
If I build a project with --runtime, dotnet pack requires me to pass in an RID. Either:
1. This is a bug with pack because it shouldn't need an RID, or
2. We need to add that option to dotnet pack

[2016-11-11 19:37] krwq commented on #4514
This is blocked on sdk bugs

[2016-11-11 19:38] livarcocc commented on #4514
Links to those bugs?

[2016-11-11 19:49] krwq commented on #4514
https://github.com/dotnet/sdk/issues/384

[2016-11-11 19:57] hishamco commented on #4411
@livarcocc there's no zip file opened
@piotrpMSFT i delete it still the error show up but with new file `https://dotnetcli.azureedge.net/dotnet/Sdk/1.0.0-preview4-00
4079/dotnet-dev-win-x64.1.0.0-preview4-004079.zip`

[2016-11-11 20:00] conniey commented on #4150
@blackdwarf Do you know if this issue will be solved when we move to msbuild? I am experiencing the same issue in my Lucene.NET migration.

[2016-11-11 20:07] piotrpMSFT commented on #4557
Thanks @ajaybhargavb !!

[2016-11-11 20:07] #4557 closed

[2016-11-11 20:08] piotrpMSFT commented on #4691
I think Pack should do all available RIDs, not force users to select one. @joelverhagen what are your thoughts?

[2016-11-11 20:12] piotrpMSFT commented on #4411
@hishamco if that is making forward progress, I'd keep following the pattern. It seems something is funny about your local clone. Perhaps commit your work, clean your clone [even create a new one] and re-run the build. I don't know what's keeping files in use for you. Looking at our CI, we're running these builds 100's of times per day and haven't seen this issue.

[2016-11-11 20:15] hishamco commented on #4411
I will try to remove it from local and pull it again, one last question @piotrpMSFT if I change something in my code shall I run `build.cmd` again or building the solution is enough to reflect the changes to the newly created `dotnet`?

[2016-11-11 20:39] raagzcd commented on #3783
Sudhaonline thanks a lot your solution worked.

[2016-11-11 20:55] piotrpMSFT commented on #3783
@blackdwarf do we need to update the docs here?

[2016-11-11 20:56] piotrpMSFT commented on #4411
Solution builds are in no way wired up at this point. We brought up the build system for CLI long before we had access to sln builds and therefore have some... signs of age in the code base to clean up. You will want to run build.cmd.

[2016-11-11 20:58] blackdwarf commented on #3783
@piotrpMSFT the docs on https://www.microsoft.com/net/core#macos already use the solution from @SudhaOnline's reply, so I would say "no".

[2016-11-11 20:59] piotrpMSFT commented on #4609
I chatted with @joelverhagen a bit about this. Also adding @emgarten and @rrelyea

Forgetting about RIDs for a second, the behavior of pack is, by default, to pack all the things. It triggers a full build of all TFMs and creates a nupkg that NuGet can then use in multiple contexts.

I believe that in this scenario, where RID specificity is in play due to the creation of managed EXE's on Windows, P

[2016-11-11 21:24] blackdwarf opened #4693 "Fix the error that happens on running build on a non-restored project"
## Steps to reproduce

Install the latest MSBuild-based CLI and then do  the following:

[code]

## Expected  behavior
The build returns the error that there is no assets file and gives clear guidance on what to do, that is, run `dotnet restore`.

## Actual behavior
This message is produced as an error:

[code]

## Environment data
`dotnet --info` output:

[code]

On Windows, it is even more confu

[2016-11-11 21:45] #3596 closed

[2016-11-11 21:45] #3597 closed

[2016-11-11 21:45] #3598 closed

[2016-11-11 21:45] #3599 closed

[2016-11-11 21:45] #3601 closed

[2016-11-11 21:45] #3602 closed

[2016-11-11 21:45] #3603 closed

[2016-11-11 21:50] wjk commented on #4610
@piotrpMSFT The reason I’m using `dotnet run` in parallel is because I am using it to run a code generator as part of my MSBuild sequence. Several projects are building concurrently, and each of those must run the same tool.

I’ve tried changing my MSBuild target to build the target in a separate step, get the path to the DLL, and then pass that into `dotnet` directly. Unfortunately, I still get t

[2016-11-11 22:20] piotrpMSFT commented on #4693
For commands that require restore [e.g. anything that drills down to msbuild] we should have a simple check for restore artifacts. If they simply don't exist we should pre-restore OR at least tell the user they should restore.

[2016-11-11 22:22] piotrpMSFT commented on #4688
@xatabhk are you unblocked with this info?

@livarcocc can you link the bug that will fix the root cause so we can close this out without losing the ref count?

[2016-11-11 22:51] emgarten commented on #4609
@piotrpMSFT pack doesn't support runtime specific scenarios today.

Can you describe the scenario you are trying to solve here? How will the resulting nupkg be consumed?

[2016-11-11 22:54] piotrpMSFT commented on #4645
If you check the output directory `bin/Debug/netcoreapp1.0/win7-x64` you will see that icuuc54.dll is present. The issue here seems to be that `Wrapper` is expecting icuuc54.dll to sit next to icu.net.dll. Since icu.net.dll sits in the package cache and icuuc54.dll sits in the project's output directory they currently cannot find one another.

Try the information [here](https://github.com/dotnet/c

[2016-11-11 22:54] #4645 closed

[2016-11-11 22:56] piotrpMSFT commented on #4263
Closing due to inactivity. Please re-open with a repro if this is still an issue.

[2016-11-11 22:56] #4263 closed

[2016-11-11 22:57] livarcocc commented on #4693
This is the same as this: https://github.com/dotnet/cli/issues/2199.

[2016-11-11 22:57] #4693 closed

[2016-11-11 22:58] piotrpMSFT commented on #4172
Can someone add a code repro to this issue? either a link to a repo or just a zip file with src. I've not been successful at reproducing this behavior.

[2016-11-11 23:04] krwq opened #4694 "dotnet migrate should add <None Include="App.config" /> when file present"
This is low priority since this file is not technically needed for build but it will improve VS experience for migrated projects.

## Steps to reproduce
`dotnet migrate` desktop app with App.config

## Expected  behavior
App.config visible in VS

## Actual behavior
App.config not visible in VS

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview4-004081)

Product Inf

[2016-11-11 23:06] piotrpMSFT commented on #4168
https://docs.nuget.org/ndocs/guides/create-cross-platform-packages

It would be great if PCLStorage-Append could be moved to the new NuGet package format [above]. The tools are much more deterministic in the new design than they were with the PCL portable-++++ format. You could imagine looking at old-style packages differently, but that algorithm is fairly baked and it's limitations were better ad

[2016-11-11 23:06] #4168 closed

[2016-11-11 23:08] piotrpMSFT commented on #4159
@kazeshini178 please create a small repro for this bug and re-open the issue. I'd love to dig into it further but I was not able to reproduce the setup given the description above.

[2016-11-11 23:08] #4159 closed

[2016-11-12 00:04] dsplaisted opened #4695 "dotnet migrate should not add Framework references that the SDK will include by default"
dotnet/sdk#379 will make the .NET SDK implicitly include references to assemblies such as `System`, `System.Core`, etc when the project is targeting .NET Framework.  So these references do not need to be in the project file and the migration tool should not add them.

Currently, these are the references that are implicitly included, though it's possible that they will change due to feedback before

[2016-11-12 00:47] piotrpMSFT commented on #4610
If you're invoking the dll directly then it seems that the runtimeconfig.json for that dll should not be being modified... you're not building it, just executing it. Do you think the problem might be, then, that while executing the dll there is an exclusive lock on the runtimeconfig.json file? If that speculation sounds right then we'll want to open the bug in the /dotnet/core-setup repo instead.

[2016-11-12 00:47] piotrpMSFT commented on #4610
@schellap in case you see this before the bug gets to core-setup :)

[2016-11-12 00:48] piotrpMSFT commented on #4609
@emgarten the key scenario here is shipping desktop tools in nuget packages. These are RID specific. I presume a similar scenario would apply if a native asset is being packaged with a lib, however.

[2016-11-12 00:49] piotrpMSFT commented on #4694
I assume you're saying that project.json pack did the same thing?

[2016-11-12 00:53] piotrpMSFT commented on #4695
@dsplaisted I'm assigning to you for the moment until you can provide an explicit list of things that need to change. Once that's locked, update the issue and assign to @livarcocc

[2016-11-12 00:55] piotrpMSFT commented on #4153
Moved to SDK repo as this behavior happens in the publish targets.

[2016-11-12 00:55] #4153 closed

[2016-11-12 00:57] piotrpMSFT commented on #4148
Can someone share a repro project? 20-50 mins is absolutely unreasonable. We need to address that.

With a repro project I will:
- `dotnet migrate` from the solution root [with 1.0.0-preview3-004056 or later installed]
- `dotnet restore` the head project [please identify]
- `dotnet publish` and see how long it takes.
- IF it still takes a long time, `dotnet publish /v:diag` to see where the time i

[2016-11-12 01:06] xatabhk commented on #4688
I added <RuntimeIdentifiers> but still got the same error. Dotnet just ignored it.

Here is my project file:
  <PropertyGroup>
    <Description>Music store application on ASP.NET 5</Description>
    <VersionPrefix>1.1.0</VersionPrefix>
    <TargetFrameworks>net451;netcoreapp1.1</TargetFrameworks>
    <DefineConstants>$(DefineConstants);DEMO</DefineConstants>
    <WarningsAsErrors>true</WarningsAsE

[2016-11-12 01:19] piotrpMSFT commented on #4140
This issue will be fixed in msbuild. There is nothing for migration to do here.

[2016-11-12 01:19] #4140 closed

[2016-11-12 01:21] piotrpMSFT commented on #4139
Moving to the backlog for the moment as we can work around this using `dotnet path/to.dll`. I'd love to fix it but we need to focus on issues with no workarounds :-/

[2016-11-12 01:21] piotrpMSFT commented on #4139
@natemcmaster if this IS blocking something, please let me know and we can repriorotize

[2016-11-12 01:26] piotrpMSFT commented on #4135
in preview3 you can use the `$(OutputPath)` property, along with many other [https://msdn.microsoft.com/en-us/library/bb629394.aspx](new [to .NET Core] properties) :)

[2016-11-12 01:26] #4135 closed

[2016-11-12 01:34] piotrpMSFT commented on #4117
Per https://github.com/dotnet/sdk/pull/351, this is fixed in the preview3 CLI.

[2016-11-12 01:34] #4117 closed

[2016-11-12 01:36] piotrpMSFT commented on #4095
Looks like this is resolved. If not, please re-open in https://github.com/nuget/home.

[2016-11-12 01:36] #4095 closed

[2016-11-12 01:40] piotrpMSFT commented on #4084
Looks like Microsoft/msbuild#492 is fixed. We should fix this now.

[2016-11-12 01:40] piotrpMSFT commented on #4094
Moved to NuGet/Home#3934

[2016-11-12 01:40] #4094 closed

[2016-11-12 02:02] conniey commented on #4645
Thanks! repackaging my NuGet using `runtimes/{rid}/native` fixed the issues where dotnet test would not work

[2016-11-12 02:36] wjk commented on #4610
@piotrpMSFT I am quite sure that this bug is in the MSBuild infrastructure, and is avoidable by invoking the DLL directly. That said, I have managed to workaround this issue by rebuilding the project once, writing the path to the output DLL to a file, and then reading it in again when it is time to run the tool. Since I am only rebuilding the project in question once per complete build cycle (if t

[2016-11-12 02:36] #4610 closed

[2016-11-12 03:40] piotrpMSFT commented on #4688
We're not currently inferring the runtime during run. We only gave you a partial solution, sorry about that :) Now that you have the identifiers make sure you restore and then invoke run with `dotnet run /p:RuntimeIdentifier=win10-x64`. Use the appropriate runtime identifier for your system.

 I updated the title to track adding back inference.

[2016-11-12 03:40] piotrpMSFT commented on #4645
Great :D

[2016-11-12 03:43] piotrpMSFT commented on #4610
I guess I was confused by this statement. It sounded like the host repro'd the issue without the build infrastructure in the picture. If you're in a good state then I'm happy to leave this closed until we do a concurrency push but if there is a potential host issue I want to let the host folks know as that is a very important scenario :)

[2016-11-12 03:46] piotrpMSFT commented on #4111
@ramarag, can you move this to the core-setuprepo?

[2016-11-12 03:48] piotrpMSFT commented on #4082
@jnm2 can you attach a small repro project? There is a lot of IDE-generated code above and it's easy to build an improper repro through UI.

[2016-11-12 03:49] piotrpMSFT commented on #4076
@danroth27 @sayedihashimi @mlorbetske

Can we link a tracking issue for the template? We can't act on this issue in CLI and I want to be sure @gregg-miskelly can track the root fix.

[2016-11-12 03:58] piotrpMSFT commented on #4073
This question will be best answered by NuGet folks :) I moved the issue to their repo to help get traction.

[2016-11-12 03:58] #4073 closed

[2016-11-12 03:59] piotrpMSFT commented on #4069
@schellap @gkhanna79 FYI

Closing as we haven't had traction on this in over two months, but feel free to reopen if it's still an issue.

[2016-11-12 03:59] #4069 closed

[2016-11-12 04:01] piotrpMSFT commented on #4068
Closing since we've not had traction since August. This issue, though, should be re-opened in https://github.com/nuget/home if we still need to do something.

[2016-11-12 04:01] #4068 closed

[2016-11-12 04:11] livarcocc commented on #3145
Please, try it with test in preview3. If you still see this, re-activate.

[2016-11-12 04:11] #3145 closed

[2016-11-12 04:11] livarcocc commented on #2309
This is now being done by NuGet.

[2016-11-12 04:11] #2309 closed

[2016-11-12 04:14] livarcocc commented on #3785
This capability is now available in the new msbuild based dotnet restore.

[2016-11-12 04:14] #3785 closed

[2016-11-12 04:16] livarcocc commented on #3717
We support Fedora 24 in preview2.1.

[2016-11-12 04:16] #3717 closed

[2016-11-12 04:29] livarcocc commented on #1213
This has been moved out of the CLI.

[2016-11-12 04:29] #1213 closed

[2016-11-12 04:54] piotrpMSFT opened #4696 "Test Project not migrated as test project"
https://github.com/gulbanana/repro-dotnettest-workingdirectory

[2016-11-12 04:55] piotrpMSFT commented on #4696
https://github.com/dotnet/cli/issues/4067 is the source of this one

[2016-11-12 05:07] piotrpMSFT commented on #4696
I think this may be because the test project targets netcoreapp1.0 and net461.

[2016-11-12 05:30] AArnott commented on #4045
Thanks.

[2016-11-12 05:55] piotrpMSFT commented on #4055
Can someone provide a repro project for us to investigate?

[2016-11-12 05:56] piotrpMSFT commented on #4055
a zip or github branch will be great.

[2016-11-12 06:23] piotrpMSFT commented on #4051
@emgarten agreed, we need to clean this up. Not sure when though...

[2016-11-12 06:49] piotrpMSFT commented on #4049
@wjk shouldn't this issue be tracked in the build-tools repo? I chatted with @weshaggard earlier today about this topic and we agreed that moving corefx+build-tools [that's not math :)] over to CLI preview3+ is going to be a fairly big effort. We'll eventually get there, but it's not a primary concern for the initial msbuild push. I'm quite certain that the CLI repo will be rather ancillary in tha

[2016-11-12 06:57] piotrpMSFT commented on #4047
I'm glad the issue was resolved. If there are lingering problems here we'll need to tackle them as they become concrete.

[2016-11-12 06:57] #4047 closed

[2016-11-12 07:04] piotrpMSFT commented on #4043
@blackdwarf is right on. As I understand it, the (2) scenario is strictly a `classic` csproj experience as CLI has no knowledge or handling for that scenario. Scenarios (1) and (3) are covered by the migration tool as it doesn't take the source of a PJ into account.

@orloffm can you create a simple repro of the (2) scenario for us to play with? I'm especially curious as to what the project.json d

[2016-11-12 07:11] piotrpMSFT commented on #4036
Can you provide a repro, either a zip or a repo link?

[2016-11-12 07:12] xatabhk commented on #4688
As "dotnet build" does not work, I have not got the chance to try "dotnet run". It is "dotnet build" that complains about RuntimeIdentifier and ignores it.

[2016-11-12 07:14] piotrpMSFT commented on #4034
This problem exists in preview3 and is a bit worse... due to the work done to avoid conflicting with nuget, there is a 30s timeout waiting on a lock to open [via file system mutex] which first hangs and then fails with an exception. Need to fix this.

[2016-11-12 07:17] piotrpMSFT commented on #4033
This is done in preview3. Take a look at the default app template:

[code]

Special attention to:

[code]

You can add additional <Compile> items using fairly arbitrary globbing patterns, including `..\`. Give it a shot and let us know if you find any issues!

[2016-11-12 07:17] #4033 closed

[2016-11-12 07:19] piotrpMSFT commented on #4030
Thanks for clarifying @plioi!

I'm going to move this to the NuGet repo to make sure the scenario is covered.

[2016-11-12 08:14] piotrpMSFT commented on #4688
Putting back the title. Passing the RuntimeIdentifier to Build only resulted in another failure. We will need to look deeper.

Thanks @xatabhk !

[2016-11-12 08:15] #4030 closed

[2016-11-12 08:21] piotrpMSFT commented on #4021
Moved to nuget/home

[2016-11-12 08:21] #4021 closed

[2016-11-12 08:28] piotrpMSFT commented on #4015
Moved to aspnet/tooling repo

[2016-11-12 08:28] #4015 closed

[2016-11-12 08:40] piotrpMSFT commented on #4014
@atrauzzi thanks! update-alternatives is not quite what we're after, though. The dotnet host already knows how to select the right framework version and needs to be able to do this on the fly. `update-alternatives`, as I understand, forces the user to figure out which version of `dotnet` they want and then to manually update symlinks with a command. We need both alternatives to be installable at t

[2016-11-12 08:48] piotrpMSFT commented on #4012
In general, CLI piggybacks on the platform support policy for https://github.com/dotnet/coreclr and https://github.com/dotnet/corefx.

[2016-11-12 08:54] piotrpMSFT commented on #4011
Thanks for the repro @pieceofsummer. I just tested with `preview3` by `dotnet migrate`ing , restoring, and building. Glad to say the issue is fixed :)

[2016-11-12 08:54] #4011 closed

[2016-11-12 08:57] piotrpMSFT commented on #4010
Moved to core-setup since the host is failing to activate.

[2016-11-12 08:57] #4010 closed

[2016-11-12 09:03] piotrpMSFT commented on #4005
Moved to core-setup to keep close to dependencycontext.

[2016-11-12 09:03] #4005 closed

[2016-11-12 09:34] mickaelistria commented on #3717
cool, thanks. Does performing the install steps from https://www.microsoft.com/net/core#fedora get preview2.1 ? I see the download only mention "preview2".

[2016-11-12 09:48] piotrpMSFT commented on #620
https://blog.jcoglan.com/2013/02/12/tab-completion-for-your-command-line-apps/ has some nice info regarding this. Both bash & zsh.

[2016-11-12 10:05] piotrpMSFT commented on #4004
Moved to sdk repo

[2016-11-12 10:05] #4004 closed

[2016-11-12 10:06] #3997 closed

[2016-11-12 10:07] piotrpMSFT commented on #3996
This has been fixed for C# in preview3 and @enricosada is working on an update to F#.

[2016-11-12 10:07] #3996 closed

[2016-11-12 10:11] piotrpMSFT commented on #3995
Can you try this out with preview3 bits? I've not been able to repro with PJ CLI nor the new bits...

[2016-11-12 10:20] piotrpMSFT commented on #3993
The proposal here is a `global exception handler`, generally a bad idea as it prevents crash data from being captured. The current behavior is useful because it allows the process to fail, dumps to get generated, and debug data to get back to developers.  I agree that VS shouldn't crash [please file an issue on https://github.com/aspnet/tooling] but I'm otherwise hard-pressed to see the benefit he

[2016-11-12 10:20] piotrpMSFT commented on #3993
An app that wants the behavior described in the issue can simply add a global exception handler in Main to get the same experience.

[2016-11-12 10:29] piotrpMSFT opened #4697 "Commands Wishlist"
This issue tracks asks for additional CLI Commands. These may first be implemented as extensions, but affect fairly core functionality so tracking independently.
 - [ ] `dotnet version` to update a csproj's <Version> property #3990

[2016-11-12 10:30] piotrpMSFT commented on #3990
Added to the `Commands Wishlist`.

[2016-11-12 10:31] piotrpMSFT commented on #3988
@blackdwarf is this going into the next docs update?

[2016-11-12 10:32] piotrpMSFT commented on #3986
Please move to https://github.com/aspnet/tooling

[2016-11-12 10:32] #3986 closed

[2016-11-12 10:38] piotrpMSFT commented on #3973
Try out preview3. Incrementality is now vastly improved.

[2016-11-12 10:38] #3973 closed

[2016-11-12 10:39] piotrpMSFT commented on #3965
Without a repro, this is not actionable. Please re-open with a repro.

[2016-11-12 10:39] #3965 closed

[2016-11-12 10:41] piotrpMSFT commented on #3964
Installation instructions have been updated and verified. Closing the remaining issue.

[2016-11-12 10:42] #3949 closed

[2016-11-12 10:45] piotrpMSFT commented on #3951
I've not been able to repro this after migrating to csproj in preview3. If someone has a csproj repro, please share and reopen!

[2016-11-12 10:45] #3951 closed

[2016-11-12 10:46] #3938 closed

[2016-11-12 10:46] #3934 closed

[2016-11-12 10:48] piotrpMSFT commented on #3908
@nothrow MissingMethodExceptions usually occur when reference assemblies and runtime assemblies get out of sync. Build succeeded happily against the references, but their contract was not fulfilled by the runtime assemblies.

[2016-11-12 10:48] #3908 closed

[2016-11-12 10:49] piotrpMSFT commented on #3893
they did not make it into csproj :)

[2016-11-12 10:49] #3893 closed

[2016-11-12 10:52] #3892 closed

[2016-11-12 10:52] #3891 closed

[2016-11-12 10:53] #3877 closed

[2016-11-12 11:01] MikeMcQuaid commented on #3964
@piotrpMSFT Homebrew maintainer here: your solution is a bad one for a few reasons so I don't think you should close this issue. These instructions will break when Homebrew upgrades to a newer version of OpenSSL so you're just delaying the inevitable, here. The right solution (as has been stated multiple times in this and other threads): if your macOS application needs a library: you ship it with

[2016-11-12 11:01] piotrpMSFT commented on #3874
@DOMZE I tried a simple experiment in preview3 atop MSBuild and wasn't able to trigger this issue. Do you have a repro I can migrate?

[2016-11-12 11:02] MikeMcQuaid commented on #3964
@piotrpMSFT I can probably find and recommend some paid macOS consultants if that would be more helpful.

[2016-11-12 11:02] piotrpMSFT commented on #3867
we've not been able to repro this or see other examples of the failure. Closing out the issue.

[2016-11-12 11:02] #3867 closed

[2016-11-12 11:02] #3865 closed

[2016-11-12 11:02] #3864 closed

[2016-11-12 11:03] piotrpMSFT commented on #3862
`dotnet nuget` in preview3 is a transparent passthrough.

[2016-11-12 11:03] #3862 closed

[2016-11-12 11:07] piotrpMSFT commented on #3853
@svick no repro after migrating to preview3. Give it a shot and re-open if you see issues.

[2016-11-12 11:07] #3853 closed

[2016-11-12 11:17] piotrpMSFT commented on #3844
Moved to nuget/home

[2016-11-12 11:17] #3844 closed

[2016-11-12 11:19] #3841 closed

[2016-11-12 11:21] hishamco commented on #4411
Thanks to you all for your help

[2016-11-12 11:21] #4411 closed

[2016-11-12 11:23] piotrpMSFT commented on #3833
Yep, MSBuild has a much stronger globbing functionality. I'm unable to repro this in preview3. Please re-open if you still see this.

[2016-11-12 11:23] #3833 closed

[2016-11-12 11:24] piotrpMSFT commented on #3832
yep, the VS integration for the PJ test runner is tracked in `aspnet/tooling`. Can you open there?

[2016-11-12 11:24] #3832 closed

[2016-11-12 11:25] piotrpMSFT commented on #3831
`dotnet nuget` with the nuspec will do the trick :)

[2016-11-12 11:25] #3831 closed

[2016-11-12 11:34] piotrpMSFT commented on #3824
Can you try this with preview3? If still an issue, please open in https://github.com/dotnet/sdk. Thanks!

[2016-11-12 11:34] #3824 closed

[2016-11-12 11:35] piotrpMSFT commented on #3823
Yes, DNF. Yes, packOptions :)

[2016-11-12 11:35] #3823 closed

[2016-11-12 11:36] piotrpMSFT commented on #3817
Glad this got resolved :)

[2016-11-12 11:36] #3817 closed

[2016-11-12 11:39] piotrpMSFT commented on #3816
dupe of https://github.com/NuGet/Home/issues/3915

[2016-11-12 11:39] #3816 closed

[2016-11-12 11:40] piotrpMSFT commented on #3815
Let's track on corefx. That repo defines the platform matrix for CLI.

[2016-11-12 11:40] #3815 closed

[2016-11-12 11:41] piotrpMSFT commented on #3810
Yep, @dankellett. Content files need to be specified in project file.

[2016-11-12 11:41] #3810 closed

[2016-11-12 11:42] piotrpMSFT commented on #3805
You're right, but won't fix at this stage...

[2016-11-12 11:42] #3805 closed

[2016-11-12 11:43] piotrpMSFT commented on #3804
Won't fix. References defined in an xproj are not honored.

[2016-11-12 11:43] #3804 closed

[2016-11-12 11:44] #3801 closed

[2016-11-12 11:45] piotrpMSFT commented on #3798
ProjectContext is not continuing to evolve due to project.json -> csproj conversion.

[2016-11-12 11:45] #3798 closed

[2016-11-12 12:28] hishamco opened #4698 "Adding vbc.exe & vbc.dll"
I was playing with dotnet Cli stuff, my question from where shall I bring the assemblies `vbc.exe` and `vbc.dll` so I can drop them in the `stage2` folder and use them later on

/cc @piotrpMSFT

[2016-11-12 13:52] gkhanna79 commented on #4111
Ported to Core-Setup as https://github.com/dotnet/core-setup/issues/636

[2016-11-12 13:52] #4111 closed

[2016-11-12 14:16] carterpants commented on #3717
Install steps and links for Fedora 24 have not yet been updated.

[2016-11-12 14:27] jnm2 commented on #4082
New OS installation (faster SSD now) but the same issue is repro'd. dotnet:
  Version  : 1.0.1
  Build    : cee57bf6c981237d80aa1631cfe83cb9ba329f12

https://github.com/jnm2/misc-codesamples/raw/master/Bug%20reports/.NET/Profile328%20Core%20reference%20issue.zip

[2016-11-12 16:28] binki commented on #3995
@piotrpMSFT I don’t see preview3 [here](https://www.microsoft.com/net/core#windows). Where do I get it?

[2016-11-12 16:40] bartonjs commented on #3964
@MikeMcQuaid If Homebrew had a fixed location for where it put OpenSSL AND you used the same location as a fixed location used by MacPorts, we'd set RPATH to that.  But that isn't the case.

Since our current position is that we aren't bundling OpenSSL, our current instructions are the best middle-ground that we have come up with.

It's all temporary, anyways, since I'm working as fast as I can to

[2016-11-12 18:15] simonech commented on #4697
@piotrpMSFT as part of the hackaton I've done a `dotnet prop` extension:
https://github.com/simonech/dotnet-prop/

At the moment the syntax is:
[code]
Still hasn't finished (still travelling home) but planning to complete it beginning of the week.
Let me know if it makes sense as generic property setter or better make one extension per property

[2016-11-12 19:05] josteink commented on #3717
I'm going to guess preview 2.1 is this one?

https://github.com/dotnet/core/releases/tag/v1.1.0-preview1 (don't mind the name in the link...)

[2016-11-12 19:25] piotrpMSFT commented on #4698
Ty come from the same package as CSC, iirc. They may already be in the stage2 directory...

[2016-11-12 19:28] piotrpMSFT commented on #3995
Official bits will be available soon. Until then, grab the latest bits from https://github.com/dotnet/cli

[2016-11-12 19:54] nick-korsakov opened #4699 "Hotkey for dotnet.test.debug command doesn't work"
## Steps to reproduce
Use this keybindings.json:
[code]
Set breakpoint inside test method, point the cursor inside the test method and hit Alt+F5.

P.S.: Don't offer me to use mouse and click "debug test" link. I like to hide reference info links and use hotkeys to execute an actions.

## Expected  behavior
Current test executed in debug mode as it happes when I click "debug test" link above this

[2016-11-12 19:55] #4699 closed

[2016-11-12 20:16] piotrpMSFT commented on #3829
Moved to core-setup

[2016-11-12 20:16] #3829 closed

[2016-11-12 20:17] piotrpMSFT commented on #3828
@chris5287 can you attach a small repro so we can validate this is fixed?

[2016-11-12 20:19] piotrpMSFT commented on #3795
@Bartmax can you add a small repro so we can validate this is fixed in preview3?

[2016-11-12 20:22] piotrpMSFT commented on #3790
This is a syntax concern in project.json. csproj has a different syntax for defining conditional compilation symbols so the issue doesn't apply moving forward.

[2016-11-12 20:22] #3790 closed

[2016-11-12 20:24] piotrpMSFT commented on #3786
In csproj these tools elements are simply Items and can be defined where desired. There is no longer a tools node that can overwrite another tools node.

[2016-11-12 20:24] #3786 closed

[2016-11-12 20:27] piotrpMSFT commented on #3784
moved to the sdk repo

[2016-11-12 20:27] #3784 closed

[2016-11-12 20:31] piotrpMSFT commented on #3782
Moved to nuget/home to get the right Property to set in csproj.

[2016-11-12 20:31] #3782 closed

[2016-11-12 20:33] piotrpMSFT commented on #3781
Can someone add a small repro with steps for how the exception should be hit locally?

[2016-11-12 20:34] piotrpMSFT commented on #3780
you should be able to do this with "../dist/**"

[2016-11-12 20:34] #3780 closed

[2016-11-12 20:37] piotrpMSFT commented on #3778
The attribute is being tested in the Pack scenario only, today. Do you need it in build as well?

https://github.com/dotnet/cli/blob/6d57ca7e140f945f182b75a836ad2a0a86dcbd67/test/dotnet-pack.Tests/PackTests.cs#L87

[2016-11-12 20:39] hishamco commented on #4698
Nope, the only thing is the C# compiler, I already did a lot of changes to create and build VB files, regarding the create new vbproj no problem, but the main issue in the `dotnet build` because the VB assemblies are not found, I tried to use `vbc` which I bring from `nuget` folder with no luck. There's a dependency issue
Any idea?

[2016-11-12 20:41] piotrpMSFT commented on #3771
the preview3 CLI will require a pack invocation to include a full path to a csproj or to be kicked off in the directory that contains a csproj. Looking forward, performing operations on multiple projects with one invocation will be done via .sln files. So `dotnet pack path/to/my.sln` will likely pack all the projects in that sln. This hasn't been fully designed yet.

I'm closing the issue since we

[2016-11-12 20:41] #3771 closed

[2016-11-12 20:42] atrauzzi commented on #4014
@piotrpMSFT - Right, yeah I've been learning a bit about the platform-type dependencies in `project.json`.

Maybe help me understand for a second -- but aren't frameworks now installed as dependencies?

[2016-11-12 20:42] piotrpMSFT commented on #3770
Can you add a WriteLine within your #if APPDOMAIN to ensure that the right build output is being invoked?

[2016-11-12 20:45] piotrpMSFT commented on #3769
Take a look at [this](https://github.com/dotnet/cli/blob/rel/1.0.0/test/Microsoft.DotNet.ProjectJsonMigration.Tests/Rules/GivenThatIWantToMigrateAssemblyInfo.cs#L75) test and the next. You can use properties like `< GenerateAssemblyFileVersionAttribute>false</GenerateAssemblyFileVersionAttribute>` to disable automatic generation. Less Magic!!

[2016-11-12 20:45] #3769 closed

[2016-11-12 20:50] piotrpMSFT commented on #3757
Try this out with preview3 bits. I've seen some experiments with using `../` globs successfully pick up files from parent directories. If you see issues, run `dotnet build /v:diag` [preview3+ only] to see how the engine is processing the glob and what content is being included.

[2016-11-12 20:53] nathanielcook commented on #4238
Removing osx.10.12-x64 from the list of runtime identifiers works for me. But I wonder why is osx.10.12-x64 listed in the [RID catalog](https://docs.microsoft.com/en-us/dotnet/articles/core/rid-catalog) if it's not yet supported (not even in a preview version of the CLI)? Please correct me if there is a preview out there supporting it. The [October 2016 Update](https://blogs.msdn.microsoft.com/dot

[2016-11-12 20:57] piotrpMSFT commented on #3745
Just tried this scenario with preview3:
- `dotnet new -t Web`
- `dotnet restore`
- `dotnet publish`
- `dotnet publish -o ../out`

Both publish folders contain wwwroot.

Give it a shot [grab the latest bits from https://github.com/dotnet/cli to try it before we officially ship] and let us know if you find additional issues.

[2016-11-12 20:57] #3745 closed

[2016-11-12 21:00] piotrpMSFT commented on #3739
I just closed #3745 after testing it out on preview3 bits. The whole publish infrastructure was re-written for csproj and is doing much cleaner path handling. Since this seems to be a dupe, I'm closing the issue. Try it out with Preview3 and let us know if you see any additional problems!

[2016-11-12 21:00] #3739 closed

[2016-11-12 21:06] piotrpMSFT commented on #3683
I just tried this with preview3. Warnings are being redirected to std out.

[2016-11-12 21:06] #3683 closed

[2016-11-12 21:07] piotrpMSFT commented on #3679
dupe of #3745

[2016-11-12 21:07] #3679 closed

[2016-11-12 21:08] piotrpMSFT commented on #3675
Added to the commands wishlist.

[2016-11-12 21:10] piotrpMSFT commented on #3674
This is a known issue in project.json binding redirects handling. Fortunately, this has been fixed in preview3+ in msbuild. We were able to bring over much of the tried & true binding redirects logic from csproj.

[2016-11-12 21:10] #3674 closed

[2016-11-12 21:45] MikeMcQuaid commented on #3964
Good to know, thanks.

[2016-11-12 22:00] piotrpMSFT commented on #4698
Are you doing this work on vbproj or project.json? I heard of a group creating vb support during a hackathon last week. @blackdwarf may know if this got published.

I'd strongly recommend going down the msbuild route. Making this work will be considerable work on project.json and will prevent benefiting from evolution of the cli...

[2016-11-12 22:02] piotrpMSFT commented on #4014
These SxS installs ARE that cache :)

Its also possible to package the full framework with the app, but with obvious size and portability drawbacks...

[2016-11-12 22:06] Antaris commented on #3583
@piotrpMSFT Raised the bug @ https://github.com/aspnet/Tooling/issues/855

[2016-11-13 00:43] atrauzzi commented on #4014
I guess what I'm thinking is if `dotnet` is going to download and install the frameworks as part of normal operation, what exactly are we versioning?

The `dotnet` command itself as I understand it is just a suite of bootstrap and should always just be "the latest version".

[2016-11-13 01:14] blackdwarf commented on #4014
@atrauzzi we are versioning 3 things:

1. The CLI
2. The runtime that the CLI needs
3. The host policy file that the host need

All of the 3 above things can be installed side-by-side in a known location. The host has a convention-based way to find the SDK, the policy file and the shared runtime based on their install location. The install location looks something like this:

[code]

Every time yo

[2016-11-13 01:22] piotrpMSFT commented on #3618
I would have loved to see the nuget.config file summary from the bottom of this. We've seen such restore failures when folks were using the product before the packages hit nuget.org. If it's persistent, there's usually a NuGet.config in the way that is blocking nuget.org.

In general, formatting a machine is never required. The development environment has two stores of artifacts on disk:
 - The Nu

[2016-11-13 01:22] #3618 closed

[2016-11-13 01:25] piotrpMSFT commented on #3630
Moved to SDK repo

[2016-11-13 01:25] #3630 closed

[2016-11-13 01:52] piotrpMSFT commented on #3634
Looks like there was a bad package involved: https://github.com/dotnet/corefx/issues/6801

[2016-11-13 01:52] #3634 closed

[2016-11-13 02:14] piotrpMSFT commented on #3636
Just tested this with preview3. I have a csproj with netcoreapp1.0 and net451 on OS X. `dotnet run --framework netcoreapp1.0` works just fine. I also did make sure to remove mono before testing.

[2016-11-13 02:14] #3636 closed

[2016-11-13 02:15] piotrpMSFT commented on #3638
This is a known issue. Take a look at https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/ProjectJsonToCSProj.md for a workaround.

[2016-11-13 02:15] #3638 closed

[2016-11-13 02:17] piotrpMSFT commented on #3648
I just verified that this does not repro with preview3. If you do still see an issue with preview3 please let us know! I ask because there are variables like Mono which make it difficult to say we've tested exhaustively.

[2016-11-13 02:17] #3648 closed

[2016-11-13 02:17] piotrpMSFT commented on #3658
duplicate of #3636

[2016-11-13 02:17] #3658 closed

[2016-11-13 02:19] piotrpMSFT commented on #3964
@bartonjs is there an issue we can reference to track the work you're doing?

[2016-11-13 02:20] piotrpMSFT commented on #3583
Thanks!

[2016-11-13 02:23] piotrpMSFT commented on #3657
This issue seems to have splintered in a bunch of dirrections, many related to older builds. Since we've not had traction since August I'm going to close this issue. If you still have issues getting the host/pre-reqs to run please do open new issues that we can track down.

[2016-11-13 02:23] #3657 closed

[2016-11-13 02:24] piotrpMSFT commented on #3652
The test runner attribute has been eliminated in preview3/csproj so this no longer applies.

[2016-11-13 02:24] #3652 closed

[2016-11-13 02:25] piotrpMSFT commented on #3617
Moved to templating repo

[2016-11-13 02:25] #3617 closed

[2016-11-13 02:32] piotrpMSFT commented on #3615
@natemcmaster CLI gets the Rid from [PlatformAbstractions](https://github.com/dotnet/core-setup/blob/master/src/Microsoft.DotNet.PlatformAbstractions/Native/PlatformApis.cs#L100) which in turn reads the OS name from `/etc/os-release`. As you said, Mint self-reports as Ubuntu which causes this behavior. Since RIDs need to be consistent across consumers in the dotnet ecosystem, it's PlatformAbstract

[2016-11-13 02:32] #3615 closed

[2016-11-13 02:33] piotrpMSFT commented on #3614
DTH was removed as part of preview3

[2016-11-13 02:33] #3614 closed

[2016-11-13 02:38] piotrpMSFT commented on #3611
postcompile scripts are replaced with AfterTargets in preview3. These are much more flexible and the engine provides better handling than in project.json.

https://msdn.microsoft.com/en-us/library/ee216359.aspx#BeforeTargets and After Targets

[2016-11-13 02:38] #3611 closed

[2016-11-13 02:40] piotrpMSFT commented on #3609
Anecdotaly, since starting the transition to csproj after preview2 we've seen the CLI build times improve by > 60%. Of course, we cannot say that this was all due to swapping the build engine since many other changes and improvements went in. However, the overall experience and feeling is much faster.

I'm going to close this since we no longer have project.json code to improve but will be looking

[2016-11-13 02:40] #3609 closed

[2016-11-13 02:41] piotrpMSFT commented on #3610
This is a dupe of https://github.com/NuGet/Home/issues/3915

[2016-11-13 02:41] #3610 closed

[2016-11-13 02:43] piotrpMSFT commented on #3608
Moved to coresetup repo

[2016-11-13 02:43] #3608 closed

[2016-11-13 04:06] hishamco commented on #4698
I'm not quite sure about the hackathon
Previously I worked on `project.json` but I move it to the msbuild after the latest changes in the Cli repo. My aim from awhile to enable VB via Cli

[2016-11-13 04:38] piotrpMSFT commented on #4698
@blackdwarf is the hackathon port on gh somewhere?

[2016-11-13 04:40] blackdwarf commented on #4698
@piotrpMSFT I haven't gotten anything so far.

[2016-11-13 04:42] blackdwarf commented on #4698
@cartermp did you have something to do with this?

[2016-11-13 04:43] blackdwarf commented on #1604
Closing this as I cannot repro it using the latest bits. If it still repros, please reopen.

[2016-11-13 04:43] #1604 closed

[2016-11-13 05:54] bartonjs commented on #3964
https://github.com/dotnet/corefx/issues/9394

[2016-11-13 07:00] piotrpMSFT commented on #3964
Ok. Closing this one. Cli is just a down level dependant

[2016-11-13 07:00] #3964 closed

[2016-11-13 07:04] piotrpMSFT commented on #3606
This didn't repro on preview3 bits. Please give it a shot and let us know if there is a lingering issue.

[2016-11-13 07:04] #3606 closed

[2016-11-13 07:25] piotrpMSFT commented on #3283
Fixed in preview3. The change was quite fundamental, however, so let us know if you're still experiencing this issue. We've tested a few flavors of `--output` problems and they worked quite nicely :)

[2016-11-13 07:25] #3283 closed

[2016-11-13 14:34] gimlichael commented on #1860
Why is this bug closed? Like louislewis2, I still experience this bug. Only workaround working was the `dotnet restore --no-cache` suggested by Serjster. But that is a workaround .. please fix this annoying bug!

[2016-11-13 17:15] cartermp commented on #4698
Nope.

[2016-11-13 19:59] atrauzzi commented on #4014
Yeah, this actually happens for a few things. You might also look at the Ruby and Java packages as well.

They version in the repository, but have a metapackage that is always pointing to "latest".  That way if someone just wants to ride the razor's edge, they install the metapackage.  If they need to freeze it, they go for the specific version.

[2016-11-13 21:01] blackdwarf opened #4700 "dotnet --help does not contain all of the commands"
## Steps to reproduce
Install latest from rel/1.0.0. Type `dotnet --help`.

## Expected  behavior
See all of the commands that are in the package with the CLI, most notably `migrate`.

## Actual behavior
The following is returned:

[code]

Ideally,  we would add `msbuild` and `nuget` here as well and separate the commands per their main use into two groups (main commands, "raw" commands). The grou

[2016-11-13 21:17] #937 closed

[2016-11-13 22:59] hishamco commented on #4698
Thanks all, I already did some stuff in the Cli source, but when I bring the vbc.exe from the NuGet package it seems not compatible with the core stuff, AFAIK Roslyn should serve both C# and VB.NET

[2016-11-13 23:07] binki commented on #3995
When I try to download the [last Windows x64 build](https://mseng.visualstudio.com/dotnetcore/_build?_a=completed&definitionId=3022), [I cannot get past the login page](https://social.msdn.microsoft.com/Forums/en-US/db1e15fc-b06e-4217-beee-11276039d19e/mfa-dots-spin-forever?forum=WindowsAzureAD).

[2016-11-14 00:25] TrexinanF14 commented on #3993
I just want to clarify a bit to ensure this request is fully captured.

To quote the dotnet run documentation: "This command is useful for fast iterative development...". I would argue that if this command is intended to help developers quickly iterate on an application, it should avoid behavior that can break that workflow. Popping a windows error dialog every time your application throws an exce

[2016-11-14 00:48] koenigsbier commented on #4045
Any other github issue to follow progression of this issue? I'd like to be aware when this is fixed. Thanks

[2016-11-14 03:35] MiaomiaoHuangfu opened #4701 "dotnet migrate xproj files to csproj files succeed but .sln file does not update in sync"
Test the scenario on the build of d15rel/25909.2
Steps to reproduce:
• Copy this zip file from \\scratch2\scratch\jinuj\TestSceanrio\VSMigrationDemo.zip, which contains a solution with .xproj files, to your machine and extract it;
• Open command prompt and navigate to the folder of your legacy project;
• dotnet migrate

Expected  behavior:
dotnet migrate succeeded and the .sln file update the Proj

[2016-11-14 04:04] techcap commented on #3790
I think it looks like a bug.

[2016-11-14 05:27] Petermarcu opened #4702 "Ugly formatting of a migrated project"
## Steps to reproduce
migrate a project.json to app.csproj

## Expected  behavior
Formatting is nice

## Actual behavior
There are no new lines and opening it up in a text editor is ugly.

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview4-004079)

Product Information:
 Version:            1.0.0-preview4-004079
 Commit SHA-1 hash:  43dfa6b8ba

Runtime Environment:

[2016-11-14 05:29] Petermarcu opened #4703 "SxS with project.json and csproj"
## Steps to reproduce
Install an msbuild based CLI after installing a project.json based one.

## Expected  behavior
Building my old stable projects should not be broken.

## Actual behavior
Now I have to go through the effort to migrate all my projects or isolate their build environments.

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview4-004079)

Product Inform

[2016-11-14 05:31] Petermarcu opened #4704 "Cannot publish a platform specific shared framework app"
## Steps to reproduce
Try to publish for a specific platform but remain runnable on a shared framework

## Expected  behavior
Expect to be able to prevent the pollution of my Windows build with Linux and OSX assets.

## Actual behavior
Everything in the portable app that has platform specific binaries are all copied to my published output making my app have binaries for platforms I don't care abou

[2016-11-14 05:35] Petermarcu opened #4705 "dotnet publish without a build or restore should give a good error"
## Steps to reproduce
create a project
run dotnet publish

## Expected  behavior
Error that says, please restore your project before publishing or even better, restore just happens for me.

## Actual behavior
     1>Project "c:\temp\arm2\arm.csproj" on node 1 (Publish target(s)).
     1>PrepareForBuild:
         Creating directory "bin\Debug\".
         Creating directory "obj\Debug\".
       Gene

[2016-11-14 07:03] koenigsbier commented on #3387
Could you please specify what do you mean by  "you will no longer build for a specific runtime/RID" and "`dotnet run` will always build portable apps" I'm creating a NuGet package to use internally in my company and I need a specified RID otherwise I could not deploy proper native DLLs to the runtime folder

I have the architecture

So far only this works:

Because Visual Studio always run the app

[2016-11-14 08:01] SamvelS commented on #4685
Why this issue is closed?
Suggested fix is not working.

[2016-11-14 08:11] dzumbuehl commented on #4039
@brthor I have the same behavior with dotnet run where I don't have a `--no-build` option

[2016-11-14 09:16] psulek commented on #3996
@piotrpMSFT Any ETA on C# preview3 ?

[2016-11-14 10:07] svick commented on #4703
Isn't that what `sdk` in global.json is for? How would you expect this to work otherwise?

[2016-11-14 10:57] gencebay opened #4707 "How to get third party console app or package from the url using dotnet cli get | install <url>"
Is there any feature in dotnet cli to get small package or cross platform executable compiled console program from the source (Url or Path) like that:

`dotnet get github.com/<reponame>`

to install the build output on my local DOTNET_PATH that is already registered on my environment!
Thanks!

[2016-11-14 12:42] Larswa opened #4708 "Rootfolder for unittests is the folder where "dotnet test" is run"
## Steps to reproduce
For a test project based on netcoreapp1.0:
Run "dotnet tests MySolutionRootFolder\Test\SomeTestProject.UnitTests\project.json"
Same issue for both the xunit and the mstest testrunner.

## Expected  behavior
The root file location when the test is running, should be the output folder .... for instance the \bin\Debug\netcoreapp1.0 folder underneath the test project.

## Actual

[2016-11-14 13:14] miladkdz opened #4709 "Running an SCD on ubuntu"
## Steps to reproduce
1. start a new project in a new folder
[code]
2. restore the packages
[code]
3. remove the line specifying the app is of platform type from project.json according to documentation
[code]
4. add ubuntu runtime to project.json
[code]
5. run restore and publish commands
[code]

## Expected  behavior
The binary file should be runnable on ubuntu.

## Actual behavior
When built on

[2016-11-14 13:15] SamvelS opened #4710 "Duplicate 'System.Reflection.AssemblyCompanyAttribute' attribute"
## Steps to reproduce
I am using `1.0.0-preview4-004079` prerelase version of .Net core.
My csproj file is following:

[code]

After `dotnet restore` I don't get any error or warning, but after `dotnet build` I am getting 9 errors like `error CS0579: Duplicate 'System.Reflection.AssemblyCompanyAttribute' attribute` .

Is this because of incorrect version of `System.Collections.Specialized` and how

[2016-11-14 14:14] Larswa opened #4711 "Globbing not working for project.json "includefiles""
## Steps to reproduce
"buildOptions": {
    "copyToOutput": {
      "includeFiles": "Credentials/*.json"
    }
  }

## Expected  behavior
On dotnet build, find and copy the .json files in the Credentials folder for the project.
As documented in the project.json documentation
https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json#buildoptions

## Actual behavior
dotnet build fails

[2016-11-14 14:15] jskeet opened #4712 "dotnet-install.ps1 change breaks installation"
Commit b2a83e0072566ea2ff4405c2c0c51cbfcca21c70 includes a call to `Get-Item $InstallRoot`.

That means that if the installation root doesn't already exist - which it's clearly not always expected to, given the later line of

[code]

... the installation fails:

This broke my AppVeyor CI build script, which includes:

[code]

I strongly suspect many other people will have very similar CI installat

[2016-11-14 14:17] Larswa opened #4713 "BuildOptions / IncludeFiles copies folders as well"
## Steps to reproduce
"buildOptions": {
"copyToOutput": {
"includeFiles": "Credentials/MyToken.json"
}
}

## Expected  behavior
On dotnet build, copying the MyToken.json file to the output folder
I was expecting just the file, and not the file under the folder.

## Actual behavior
Copies the entire Credentials folder with the Mytoken.json file to the output folder.

## Environment data
`dotnet --i

[2016-11-14 14:31] dasMulli commented on #4710
Ran into that myself when already having a `Properties\AssemblyInfo.cs` in the project with an `[assembly: AssemblyCompany("..")]` attribute.
The SDK now has targets that emit these attributes to a generated `AssemblyInfo.cs` that is included during build. ([Here](https://github.com/dotnet/sdk/blob/34aa24bba2829a81719eb8c1c901db52df508704/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Gen

[2016-11-14 14:36] SamvelS commented on #4710
In my case I need to remove bin and obj folders after any change, do restore and then build. This fixed issue.

[2016-11-14 14:48] SamvelS commented on #4685
Solution is [here](https://github.com/dotnet/cli/issues/4710)

[2016-11-14 15:14] binki commented on #3995
OK, I tried with `1.0.0-preview4-004079` and it still happens. But I can only figure out how to have both `tmp` and `TMP` show up in `SET` if I’m using MSYS2’s bash shell. But, as I’ve said before, I have never seen it cause an issue with another program and Windows’s `CreateProcess()` apparently lets you do this even though most of the tools that ship with Windows (e.g., cmd) don’t let you.

[cod

[2016-11-14 16:14] jsgoupil commented on #3199
This is working fine on my computer but I can't deploy on Azure... 👎
Unable to resolve 'Project.Common' for '.NETFramework,Version=v4.6'.

[2016-11-14 16:55] zadjii-msft commented on #4045
@koenigsbier I found two BashOnWindows issues that are probably the right ones to look at.

https://github.com/Microsoft/BashOnWindows/issues/520
https://github.com/Microsoft/BashOnWindows/issues/1178 (This is probably a dupe)

Not a whole lot of discussion in there, but something to keep your eye on.

[2016-11-14 17:43] jeremymeng opened #4714 "dotnet migrate failed on test project that references library project, which was just migrated in the same solution"
## Steps to reproduce
1. Clone the repro https://github.com/serilog/serilog-sinks-logentries.git
2. Open the solution serilog-sinks-logentries.sln in VS 2017
3. Click OK to migrate

## Expected  behavior
Success

## Actual behavior

Serilog.Sinks.Logentries.Tests

Message

 test\Serilog.Sinks.Logentries.Tests\Serilog.Sinks.Logentries.Tests.xproj: Failed to migrate XProj project Serilog.Sinks.Logen

[2016-11-14 18:01] adityapatwardhan opened #4715 "dotnet-install.ps1 fails if the installation root does not exist"
## Steps to reproduce
[code]
This issue was caused changes in by PR #4647

## Expected  behavior
Installation completes

## Actual behavior
Installation fails on Get-Item

## Environment data
`dotnet --info` output:

[2016-11-14 18:01] jinujoseph commented on #4604
@livarcocc , just to answer your question.
![image](https://cloud.githubusercontent.com/assets/12449387/20276494/51422d74-aa51-11e6-920b-d3a46d7f7caf.png)