[2015-12-27 10:06] borgdylan commented on #628
Will the desktop TFMs still be available?

[2015-12-27 10:10] borgdylan commented on #587
I am currently working on dylan.NET support for the CLI (requires net451 so it runs on mono/.NET). IMHO the VB support can be done using a copy/paste/adapt methodology as it would be similar to the csharp case. After all vbc and csc are both bundled together in the roslyn packages.

[2015-12-27 10:11] borgdylan commented on #586
@enricosada In my mono port of the CLI, I adapted your work to work on mono.

[2015-12-27 11:00] borgdylan opened #654 "Question: Could dotnet-compile pass a project root parameter?"
The DNX compiler provider for dylan.NET used the project root to automatically discover the main file to pass to the compiler. With the CLI I have to force the user to add that file to the ```compileFiles``` list in project.json. It would be nice to get the project root or at least the path to the project.json used.

[2015-12-27 12:14] davidfowl commented on #628
@borgdylan Not sure what you mean

[2015-12-27 12:17] davidfowl commented on #652
F# support PR is what makes it fail

/cc @KevinRansom @enricosada

[2015-12-27 12:22] borgdylan commented on #628
Will the net451,net46 etc. TFMs be dropped from support? i.e. will the use of the reference assembly folders that get used by MSBuild be dropped?

[2015-12-27 12:33] davidfowl commented on #628
No

[2015-12-27 12:35] borgdylan commented on #628
That's great news. I made my mono fork include th4 env var that tells dotnet-compile where those assembly reside part of the boot-up scripts.

[2015-12-27 13:01] borgdylan commented on #531
```$(dirname `which mono`)/../lib/mono/xbuild-frameworks``` evaluates to right path.

[2015-12-27 13:02] borgdylan commented on #531
In the mono fork at https://github.com/borgdylan/dotnet-cli I solved this by setting the environment variable in the dotnet-compile launch script.

[2015-12-27 17:54] anurse commented on #531
We probably want to avoid having to shell out to `which`, but we can use a similar process by just probing the `PATH` variable to find the `mono` binary and then apply the relative path as above.

Re #191 - That may remove the need for this, but I haven't heard what the progress/timeline is on that.

[2015-12-27 17:56] anurse commented on #291
The pre-requisite change in the PlatformAbstractions library is done, but I wasn't able to get the necessary changes made to dotnet-cli before leaving for the holidays.

[2015-12-27 17:58] anurse commented on #270
The plan we originally discussed was to switch to `.csx` scripts and use `dotnet run`, but as far as I know C# interactive is still broken on .NET Core because of conflicts between runtime and reference assemblies.

[2015-12-27 18:19] devlead commented on #270
@anurse as soon as Roslyn scripting is supported xplat on CoreCLR, then it's just a matter of time before @Cake-Build will utilize it. Cake's already available xplat on platforms you can build CoreCLR on via .Net or Mono so don't see why @piotrpMSFT  thinks it has to be ported to CoreCLR to be able to use it and for it to provide value.

Any build system like Cake, Fake, Bau, etc. will bring allot

[2015-12-27 18:21] borgdylan commented on #531
You can also opt to use startup scripts like it is done with mono. The script sets teh environment variable then starts up dotnet-compile using CoreCLR.

[2015-12-27 18:37] troydai commented on #175
Done in 935cd4e2812f37cd9293506b84676fa6889a3200

[2015-12-27 18:37] #175 closed

[2015-12-28 03:11] blackdwarf commented on #291
@anurse thanks for the update! :)

[2015-12-28 06:24] piotrpMSFT commented on #270
This is a step in that direction. Unifying the build architecture x-plat makes it easy to move to single source as soon as it's available.

[2015-12-28 06:29] piotrpMSFT commented on #270
@devlead, I'd love to avoid adding back a mono dependency if we can help it. Porting to CoreCLR means we can build anywhere that CoreCLR is available. Since that is a good indicator of where CLI should be available, it's a good dependency for us to have :)

Do you know if anyone considered the porting effort? I'd imagine that reducing platform dependencies could be beneficial for everyone!

[2015-12-28 06:31] piotrpMSFT commented on #175
Thanks!

[2015-12-28 10:27] devlead commented on #270
@piotrpMSFT yes totally agreeing reducing dependencies would be beneficial :+1:

Ran the .NET Portability analyzer on Cake, TLDR; shouldn't be an gigantic effort to port Cake to CoreCLR.

### Portability Summary
| Assembly                         | .NET Core,Version=v5.0 | .NET Framework,Version=v4.6.1 | Note                                                      |
|---------------------------------

[2015-12-28 17:55] brthor commented on #270
@piotrpMSFT
Initially the build was fully happening in docker, but we ran into a GC deadlock issue during restore causing pretty frequent hangs.

The issue is tracked here:
https://github.com/dotnet/coreclr/issues/2215

[2015-12-28 18:18] blackdwarf opened #655 "dotnet-new enhancements"
Currently, as @davidfowl put it, `dotnet new` is a toy thing that helps people get up and running with *something* as soon as possible. What I would like to propose here is to add enhancements to make `dotnet new` slightly more powerful, but without adding too much complexity and also allow its basic scenarios to cover the full range of .NET Core capabilities.

`dotnet new` should also not become,

[2015-12-28 18:30] TJSoftware commented on #535
I noticed when I checked the environment variable from the command prompt that it was not returning the correct value.  I used the `set` command this time.  However, I still do not see this working, but perhaps I am using the wrong environment variable.  You can see the screenshot below for a few tests where I set `DOTNET_HOME` to various paths that I tried in my previous post and confirm the path

[2015-12-28 18:41] brthor commented on #535
`dotnet restore` currently uses `dnx restore` in the background. This looks like an error in dnx and shouldn't bre related to the `DOTNET_HOME` environment variable.

@anurse Have you seen this error before?

[2015-12-28 18:43] gkhanna79 commented on #640
The dump, shared by @enricosada, indicates av AV in a CSC binary (see frame 0xc) and is different from the CI failures:

00 00000000`0015dd58 000007fe`fdbd1430 ntdll!ZwWaitForMultipleObjects+0xa [e:\obj.amd64fre\minkernel\ntdll\daytona\objfre\amd64\usrstubs.asm @ 876]
01 00000000`0015dd60 00000000`779d1723 KERNELBASE!WaitForMultipleObjectsEx+0xe8 [d:\win7sp1_gdr\minkernel\kernelbase\synch.c @ 1455

[2015-12-28 19:47] brthor commented on #77
@dleeapho Are we rebuilding the docker image with cli bits on any schedule or is it a manual step?

If not, should we consider adding this as a publish step to the cli repo?

[2015-12-28 19:53] brthor opened #656 "Remove Nuget.Config from `dotnet new` drop for release"
The nuget.config drop was added as a temporary step until the StdLib is available on nuget.org.

When this is true, we should remove the nuget.config drop.

[2015-12-28 20:30] enricosada commented on #652
I have not added an E2E test for fsharp.

I cannot repro. No El cap locally in OS X

[2015-12-28 20:35] brthor commented on #518
@piotrpMSFT @blackdwarf

This doesn't seem so much a bug as an inconsistency in our argument design.
I see three options:

1. Remove -r as a shortcut for runtime in publish and wherever else it may exist.
2. Build -r into our `dotnet restore` script which wraps dnx. It would transform this option into `--runtime` This will probably be pretty ugly.
3. Drive adding -r to dnx/nuget

I think 1 is the

[2015-12-28 21:05] NikolayIT commented on #83
@davidfowl Any information when analyzers will be supported?

[2015-12-28 21:11] gkhanna79 commented on #518
Having shortcuts is a semantic that is commonly used in Unix world (take a look at lldb tutorial as an example or the GIT infrastructure). If the long term plan is to use Nuget, we should get this fixed in there and adopt the corresponding build soon.

[2015-12-28 21:25] brthor commented on #518
Agreed that shortcuts are common, but it seems the lack of shortcuts is as well. I'm not sure which is right, or what the convention is but just pointing out that both are viable.

Git as an example.
[code]

[2015-12-28 21:55] piotrpMSFT opened #657 "dotnet PKG rejected by vanilla OS X 10.11.1"
The PKG is not able to install on 10.11.1.

[code]

[2015-12-28 22:15] blackdwarf commented on #657
@piotrpMSFT is this from the terminal or GUI? Also, I will take a look at this, my guess we need to somehow sign or something.

In the meantime, the workaround is to save locally and then right-click and choose "Open". Same warning, but will give the "Install anyway" button (or similar).

[2015-12-28 22:33] blackdwarf commented on #518
+1 to what @gkhanna79 said. I like having shortcuts, since it makes some things easier for those troublesome typing. Also, I think GNU says it is good to have shortcuts, no? GNU guidelines that is.

[2015-12-28 22:39] brthor commented on #518
If shortcuts are the popular opinon by all means let's bring this over to nuget. Personally, I like them as well, removing them seemed like the easiest option to gain consistency.

P.S. @blackdwarf Where can I find GNU guidelines?

[2015-12-29 00:22] brthor commented on #652
We are seeing this our VSO builds for OS X.

Relevant Error:
[code]

This seems to have appeared with the Server GC change to CoreHost.
PR #638

@schellap

[2015-12-29 00:37] schellap commented on #652
Taking a look

[2015-12-29 02:08] schellap commented on #652
The PR #658 undoes SERVER_GC change for CLI which causes this problem.

We need to resolve #488 to enable SERVER_GC by default [OR] at least we should have a temporary solution of disabling SERVER_GC using an environment flag, so VSO can set this variable to switch off. Otherwise it is enabled. How does that sound?

https://github.com/dotnet/cli/pull/658/files

[2015-12-29 02:35] schellap commented on #652
@davidfowl, to unblock just flip the bit.

https://github.com/dotnet/cli/blob/504e109947865d98bb87b1dec4c7d8f5daf0f8fe/src/corehost/src/main.cpp#L130

Set to "0"

[2015-12-29 17:40] gkhanna79 commented on #652
@janvorli Can you please take a look to understand why enabling Server GC would trigger OOM on OSX Elcapitan?

[2015-12-29 17:42] TJSoftware commented on #535
I created a new win 10 VM with nothing else on it.  I downloaded the msi from https://github.com/dotnet/cli.  I tested `dotnet` I received an error about a missing dll (sorry did not copy the message before fixing it).  The fix was to install VS 2015 community.  After installing VS I was able to use the `dotnet restore`.  I am certain that my previous issues are just that I have previous `dnx` ver

[2015-12-29 17:56] blackdwarf commented on #535
@TJSoftware the requirement for VS could be a point-in-time issue. @brthor @Sridhar-MS could this be related to native compilation and its requirements?

[2015-12-29 18:44] blackdwarf commented on #631
@hunter-xue thanks for confirmation. The other issue is tracked by different issues here, so I will close this one.

[2015-12-29 18:44] #631 closed

[2015-12-29 19:01] brthor commented on #535
@blackdwarf I think we need to do some investigation of our dependencies on a vanilla box.

We do have a dependency on the c++ redistributable for most commands, but VS 2015 should only be required if actually doing native compilation.

[2015-12-29 19:03] piotrpMSFT commented on #518
I have a PR coming with new dotnet restore. I'll add this there.

[2015-12-29 19:28] TJSoftware commented on #535
@brthor I recreated the VM to get the error I saw with just installing the msi from https://github.com/dotnet/cli and nothing else.

![image](https://cloud.githubusercontent.com/assets/4823412/12040579/84c00ed6-ae27-11e5-9fb9-ddeb823be88e.png)

[2015-12-29 19:30] brthor commented on #535
@TJSoftware Can you try installing the c++ redistributable?

https://www.microsoft.com/en-us/download/details.aspx?id=48145

I think this is the dependency which is missing.

@schellap Would there be any way to remove this dependency by static linking corehost?

[2015-12-29 19:33] brthor commented on #623
To resolve this, I think we should separate the packaging from the regular build. Additionally the package script should check dependencies before continuing.

This is caused because the build is trying to create the debian package, but that process has a number of dependencies (see here https://github.com/dotnet/cli/blob/master/scripts/docker/Dockerfile)

As a workaround you can install docker (h

[2015-12-29 19:36] TJSoftware commented on #535
@brthor The link you gave me fixed the error.

[2015-12-29 19:38] brthor commented on #535
Looks like this is already being tracked:
https://github.com/dotnet/cli/issues/195

[2015-12-29 19:41] TJSoftware commented on #535
Thanks all for your help.  I tested all the `dotnet` commands, they are all working as expected now.  It seems I am always a few weeks behind on finding bugs :wink:.

[2015-12-29 19:49] brthor opened #659 "Temp Directory Infrastructure Causes Unknown NuGet.Config to be picked up"
The Temporary directory infrastructure introduced in #508 causes a random NuGet.Config to be picked up by `dotnet restore` inside that temp directory.

This does not happen outside the temporary directory infrastructure because the NuGet.config in our repo root gets picked up.

This issue is causing build failures on Windows in VSO.

As a solution we should include a NuGet.config in each temporary

[2015-12-29 19:55] brthor commented on #535
Great to hear everything is working :smile:

[2015-12-29 20:00] brthor commented on #633
@SirusDoma I do not see any errors there. Can you check if the native binary was produced?

[2015-12-29 20:03] borgdylan commented on #655
Should there be a way for external compilers to provide a dotnet-new-{langaugeName} so that dotnet-new would call that binary if the requested language is not c#/f#/vb?

[2015-12-29 20:07] brthor commented on #655
@blackdwarf How does the `--web` param mix with the `--lib` and `--lang` params?

Is `--web` mutually exclusive to the other two?

[2015-12-29 20:16] brthor commented on #620
This would be very nice to have. Any recommendations on how to go about this?

[2015-12-29 20:28] schellap commented on #535
I'll take care of that in my next PR.

[2015-12-29 20:40] borgdylan opened #663 "Regression: dotnet-compile regressed with dotnet-build introduction"
The ```dotnet-compile``` has been broken with the ```dotnet-build``` PR. Before calling compile used to compile each dependency to its own bin folder and then reference those binaries where they stood. Now it references the binaries within the bin folder of the current project. This means that calling ```dotnet-compile``` in a project that has dependency projects will not work while ```dotnet-buil

[2015-12-29 20:57] cdmihai commented on #663
I my understanding that was the correct intended change: the Compile verb just compiles a project, without doing anything with dependencies. The dependencies that need to be compiled get there by previous invocations of Compile on them.

So you now have to type `dotnet build` instead of `dotnet compile` to achieve the same effect.

For this PR I tried as best as I could to have build behave in the

[2015-12-29 21:12] cdmihai commented on #663
Issue #532 discusses the new user experience.

[2015-12-29 21:20] borgdylan commented on #663
If I am not wrong, in previous builds I only used to get the project's actual binaries in its bin folder and not the binaries of all the closure. Before the bin folder had differing contents when compiling or publishing. That is difference if very blurred in the last builds. I will test a prior build I have lying around and check its behaviour.

[2015-12-29 21:26] borgdylan commented on #663
OK, I was wrong big time. Thanks for clarifying that build is what should be used instead of compile as from now on. The current rendition of dotnet-build is behaving as intended.

[2015-12-29 21:26] #663 closed

[2015-12-29 21:28] blackdwarf commented on #655
@brthor `--web` is exclusive to `--lib` and to the default (which should be `--bin` really) behavior. The `--lang` is compatible, though we *can* error out for states/combination that don't make sense. I.e. `dotnet new --web --lang f#`.

[2015-12-29 21:29] borgdylan commented on #663
The only extra change I would encourage would be to change the root README.md to use build rather than compile. Many people read that when they try the CLI for the first time.

[2015-12-29 21:29] brthor commented on #655
@blackdwarf Would it make sense to then have a `--mode` (or some other name) to which `web, bin, lib` are a parameter?

[2015-12-29 21:30] blackdwarf commented on #655
@brthor hm, good suggestion. Though not `--mode` more like `--type`?

[2015-12-29 21:30] cdmihai commented on #663
Good point, I totally missed that one. Thanks!

[2015-12-29 21:36] adrian17 commented on #620
Technically all that needs to be done is add a script to debian package: `/etc/bash_completion.d/dotnet`

[I made a basic completion file](https://gist.github.com/adrian17/80a26beb5b166d09f9b0) that simply completes command names (`new`, `compile` etc) and basic common options (`--help`, `--verbose`). For expanding it, there's a short guide [here](https://www.debian-administration.org/article/317/

[2015-12-29 23:13] #506 closed

[2015-12-30 00:27] #659 closed

[2015-12-30 06:56] piotrpMSFT opened #668 "DotNet CLI Versioning and Installation Vectors"
# Branch Structure
The DotNet/CLI repo will move to a branching model tightly based on [GitFlow](http://nvie.com/posts/a-successful-git-branching-model/). In summary:
* *master* will hold all, and only, public production releases.
* *release-[ver]* branches will hold release candidates for future public releases.
* *develop* will hold the latest bits

## Bootstrapping
1. A new branch called *devel

[2015-12-30 07:01] piotrpMSFT commented on #668
/cc @brthor @Petermarcu @blackdwarf @richlander @davidfowl @markwilkie

[2015-12-30 07:08] #3 closed

[2015-12-30 08:09] gkhanna79 opened #669 "Ensure CLI download links have consistent binaries for all platforms"
I have observed that the CLI download links (used by external developers and our build infrastructure) are often pointing to different set of binaries that may have different changes in them. this is likely due to build failing for platform A but passing for platform B, resulting in publishing of build for B and not A. As a result, folks will experience differences between A and B.

We should ensu

[2015-12-30 08:47] piotrpMSFT commented on #464
@Antaris, the install directory you're seeing is consistent with what @Sridhar-MS was showing. It looks like your Path is listing an older install location. Can you uninstall dotnet, check your path variable for the C:\...Microsoft\dotnet... and remove it if present, and then re-install latest?

I'm not able to get a report, so I hope we are just seeing a bug from an outdated installer.

[2015-12-30 08:49] piotrpMSFT commented on #450
This is being tracked in #668

[2015-12-30 08:49] #450 closed

[2015-12-30 09:01] piotrpMSFT opened #670 "Modernize build scripts"
dotnet builds are currently orchestrated through bash/ps1 scripts. This is not ideal since it means we have duplicate source code and are re-inventing capabilities already available in existing build systems. Beta milestone's cleanup issue #270 had a great dialogue regarding paths forward. Thanks @devlead!

Once the initial RTM push is finished and we have cycles to rethink our builds, let's follo

[2015-12-30 09:04] piotrpMSFT commented on #270
@devlead @anurse thanks, this is interesting. Let's see where scripting stands when we reach RTM milestone... I'm not sure we'll be able to evolve the build scripts before then... I hope we can then have a full-on CoreCLR conversation.

@brthor, thanks for the detailed explanation. I didn't intend to disable docker, was only curious if we needed to maintain a build/package split. I ended up mainta

[2015-12-30 09:04] #270 closed

[2015-12-30 09:07] piotrpMSFT commented on #68
@davidfowl what's left here for Beta milestone?

[2015-12-30 09:11] piotrpMSFT commented on #156
@Sridhar-MS once we enable tests on CentOS this should be complete. Otherwise, CI is running there already. Thanks for pushing this forward, @Sridhar-MS!

[2015-12-30 09:33] piotrpMSFT commented on #279
@gkhanna79 yes, this is regarding shared host
@schellap started a conversation about this today. I'm curious if NuGet is really the right answer... Or should these be zip files. Will they really behave like NuGets?

[2015-12-30 09:37] piotrpMSFT commented on #484
@cdmihai is this something you want to pick up while you're thinking about eliminating post-compile scripts?

[2015-12-30 09:38] #19 closed

[2015-12-30 09:44] devlead commented on #670
@piotrpMSFT sounds like a plan :+1:  The CoreCLR bits are on @cake-build's radar (and I  think most other .Net build systems too).
Regardless what direction you choose, unifying to a xplat way makes total sense and would be happy to provide feedback, the work with making Cake cross platform & environment has given us _scar..._ experiences I mean :wink: , that would be useful for any build system.

[2015-12-30 09:49] piotrpMSFT commented on #670
@devlead check out this project's milestones :)

[2015-12-30 09:49] #289 closed

[2015-12-30 09:51] devlead commented on #670
@piotrpMSFT  Ah RTM Due by March 16, perfect for [Build](http://build.microsoft.com/) then :wink: :+1:

[2015-12-30 13:05] willl commented on #620
Have a look at the work @nosami wrote in this repo - https://github.com/nosami/dnx-bash-completion

[2015-12-30 13:07] shahid-pk commented on #668
Please document the final version of this in this repo's wiki or somewhere else easily accessible.

[2015-12-30 13:18] nosami commented on #620
Sadly, it's a little out of date now. It could be brought up to date pretty quickly though by someone with the motivation. I'm afraid I don't use DNX any more (or C#)

Someone should build zsh completion too.

[2015-12-30 14:21] cnblogs-dudu opened #671 "check-prereqs.sh: line 8: error: command not found"
Run `./build.sh` without cmake on ubuntu and get the following errors.
[code]

[2015-12-30 14:31] gkhanna79 commented on #279
What is the design for cross-architecture compilation for CLI as that will influence what this shapes up to be?

[2015-12-30 14:35] horsdal commented on #620
Would be nice for PowerShell too ..

[2015-12-30 17:44] boxofnotgoodery commented on #83
Would really love to see this happen,
Code analysis and unit tests are both two tools I leverage to ensure my code is production ready, or at least qa ready :)

[2015-12-30 17:46] thebrianlopez commented on #620
+1

[2015-12-30 17:46] schellap commented on #279
@anurse, how will you be consuming the host?

@piotrpMSFT, I asked this mainly for servicing  the host using the dotnet servicing methods.

I am thinking two types of servicing:

1. Explicit COREHOST_LIBPATH to load custom hosts like corerun and also clihost (current host)

2. Use the DOTNET_SERVICING/PackageName/PackageVersion to load a serviced host dll if 1 doesn't exist. PackageName and Packag

[2015-12-30 17:54] cdmihai commented on #484
Yes, we were actually studying this exact behaviour yesterday when we were looking into taking them out.

We found out that the `place-binary` script always copies to stage2, indifferent of what you compile  So compilation of stage 1 copies output to stage 2. Compilation of stage2 copies output over itself. This got us a bit puzzled about the meaning of the script so we removed removed it entirely

[2015-12-30 18:25] brthor commented on #668
Overall I like the versioning scheme. :smile:

The incompatibility between dev and release/master gives us room to correct any mistakes and simplifies the upgrade story for most of our users. For those who want to switch between dev and release/master installers, an uninstall takes a small effort.

I also like the inclusion of the commit count as it gives us ever increasing version numbers even in

[2015-12-30 18:25] schellap commented on #279
Also, ILC and other folks can start using the unified host without dependency on dotnet through the Nuget package.

[2015-12-30 18:34] brthor commented on #671
Looks like the error function didn't get sourced, quick fix.

[2015-12-30 18:53] blackdwarf commented on #655
New stuff based on the discussion above.

## Language-based templates
`dotnet new` should support all of the OOB languages in its templates. C# should be the default. However, the `dotnet new` command should accept a `--lang (-l)` parameter to override the language for the template. The `-lang` OOB valid values should be "c#", "f#" and "vb", predicated upon compiler support in the package. The eff

[2015-12-30 19:03] brthor opened #673 "Manpage Contents should follow Conventions"
Manpages have a fairly consistent formatting pattern that we should follow in our own.

This page has a pretty good example: http://www.tldp.org/HOWTO/Man-Page/q3.html

Specifically I propose we make the following changes:

1. Include a brief summary of the available options in the SYNOPSIS section.
(ex. `git [--version] [--help] [-C <path>] [-c <name>=<value>] ...` )

2. Shorten our DESCRIPTION s

[2015-12-30 19:27] #671 closed

[2015-12-30 20:36] blackdwarf commented on #673
@brthor makes sense. We will still use the MD files as the source of truth here, since they are much easier to edit and we will have the same effect as for the actual man pages.

[2015-12-30 21:50] bartonjs opened #674 "Need a system for ensuring minimum (native) dependencies"
CoreFX has dependencies on native libraries for functionality we haven't duplicated.  Many of these dependencies may already met on standard installations of our intended platforms, but at least one (OpenSSL \> 1.0.0 on OS X) is not.

* ICU (libicucore) - System.Globalization.Native (coreclr)
* zlib (libz) - System.IO.Compression.Native (corefx)
* curl (libcurl) - System.Net.Http.Native (corefx)
*

[2015-12-30 21:53] bartonjs commented on #674
FYI: @piotrpMSFT, @ellismg

(Matt, I feel like the ICU dependencies are tighter than that, we need specific versions that correspond with whatever version we built System.Globalization.Native against, right?)

[2015-12-30 22:22] ellismg commented on #674
Regarding ICU, correct.  Most platforms do not disable function renaming and so we link against exports that have version numbers baked into them.

[2015-12-30 22:54] brthor commented on #673
@blackdwarf That sounds fine. I'm not suggesting to switch away from the md files, only to change contents to be similar to typical manpages.

[2015-12-30 23:44] piotrpMSFT commented on #674
To be clear, these are dependencies both for the CLI as well as any app produced atop CoreFx, right? The idea of a self-contained app folder is unrealistic and dependency validation is necessary?

[2015-12-30 23:53] davidfowl commented on #674
I was going to mention that's this is blurring runtime for the CLI itself and the applications produced by the CLI toolchain

[2015-12-31 00:28] bartonjs commented on #674
The dependencies are of CoreFX, so primarily my concern is about apps produced by the toolchain.  But since the CLI is itself a CoreFX application, it applies to both.

The self-contained app folder notion is... difficult.  It could be done with a statement of minimum requirements, or inclusion of the library dependency chain outside of the minimum requirements, or a dependency check.  The depende

[2015-12-31 01:29] davidfowl commented on #674
I don't know how you'd make any of that work in an app local world. The other platforms usually ship a runtime via the native package manager to avoid this problem. With an only nuget package xcopy the runtime world, you end up making this every app developers problem.

[2015-12-31 05:26] piotrpMSFT commented on #674
Yep, agreed fully. @bartonjs @ellismg do you guys have enough knowledge to describe where we can run on stock OS images [sounds like Ubuntu 14.04.03 is one] where all of our known dependencies are in-box by default? How about Windows and OS X? It would be good to know where we 'just work' vs. where we 'work with caveats'.

@richlander @Petermarcu you guys might be interested in this issue.

[2015-12-31 05:46] weshaggard commented on #668
Overall I like the plan, in particular I like using the commit count as part of the version number, I think it has potential to become our new build number scheme.

One thing that I'm not sure how I feel about is master vs develop branch. I kind of like the default development branch to be master as that is the default branch for git and makes the general dev workflow obvious. Given that general d

[2015-12-31 06:06] piotrpMSFT commented on #668
Thanks for looking at this, Wes.

I like your thoughts on making master the development branch. As I was writing a supplemental to this issue, which I'll post in a bit, I came to the realization that having the 'production' branch called master is inconvenient because we'd not want to call the accompanying feed "master". Calling that branch 'production' seems much more natural. Your point around o

[2015-12-31 08:03] piotrpMSFT commented on #484
Goal of the script is to enable dev cycle. I update dotnet-foo, I compile dotnet-foo [which replaces in stage2], I run dotnet-foo and my new bits are in place...

[2015-12-31 12:02] simranjitr commented on #291
I did the following (on OSX 10.11.2) to get the basic 'dotnet new' generated program up and running:

##########
export DOTNET_HOME=/usr/local/share/dotnet/
##########

###project.json####
{
    "version": "1.0.0-*",
    "compilationOptions": {
        "emitEntryPoint": true
    },

    "dependencies": {
        "System.Console": "4.0.0-beta-23409",
        "System.IO": "4.0.11-beta-*",
        "S

[2015-12-31 16:27] iainnicol commented on #539
I presume this can be closed because your PR was merged?  Thanks for implementing this, by the way.

[2015-12-31 16:30] enricosada commented on #539
I think so. There see some issues/improvements but these can be fixed with other pr.
Compiler fsc works

[2015-12-31 19:03] brthor commented on #674
Want to point out #293 here where we ran into the Ubuntu docker image not having libcurl.

[2015-12-31 19:23] tijoytom opened #678 "Ability to pass custom compiler option to backend compiler when using --native and --cpp"
For example i want to compile to position independent  shared library instead of an executable . So i need to pass -fPIC and -shared to clang.

dotnet compile --native  --cpp  --compileoption  shared  --compileoption fPIC

[2015-12-31 19:35] ellismg commented on #674
What exactly do you mean by that?  For example, if the base install of Ubuntu 14.04 doesn't have the libunwind package installed, we aren't going to run, but it's just an `apt-get install` away.  Do you consider that "working with caveats" or "just works"?

For the binaries we produce for both CoreCLR and CoreFX we build against CentOS 7 and Ubuntu 14.04.  The CentOS 7 bits also run on RHEL 7 (sin

[2015-12-31 20:18] devigned opened #680 "dotnet test failure on OS X 10.11.2"
project.json:
[code]

[code]

[code]

Thoughts?

[2015-12-31 20:26] bartonjs commented on #674
Oh, yeah, I didn't even think to check out the dependencies of libcoreclr.
[code]
Of those, libunwind8 is the only one that doesn't appear in the manifest for Ubuntu 14.04.03.

* OS X: Missing supported openssl (libssl/libcrypto > 1.0.0)
* Ubuntu 14.04.03: Missing libunwind8
* CentOS 7.1: Minimal install (the default that I did this morning): Missing libunwind, ICU
* Windows: Probably OK? :smile:

[2015-12-31 20:49] devigned commented on #680
This might be related to: https://github.com/dotnet/cli/issues/407

[2015-12-31 22:25] muratg commented on #680
cc @piotrpMSFT

[2016-01-01 16:41] atrauzzi opened #682 "Ensure support running via bash, etc... on Windows"
As per these tickets for dnvm: https://github.com/aspnet/dnvm/pull/451 and https://github.com/aspnet/dnvm/issues/280

I wanted to make sure that this use case isn't forgotten or overlooked.

There are many people - especially those who have installed docker-toolbox - who prefer to use bash on Windows rather than PS or cmd.  It would be nice if the new dotnet utilities at least were made aware of t

[2016-01-01 16:44] atrauzzi opened #683 "Provide an installer for msys2"
This is slightly off the beaten path, but it's gaining some popularity for people who are serious about getting bash on Windows: Why not provide a pacman installer for [msys2](https://msys2.github.io/)?

Here's the repository: https://github.com/Alexpux/MSYS2-packages

I think it would be very cool if I could have the new cli tools integrated fully with the msys2 bash environment.

[2016-01-02 23:48] knarfalingus opened #685 "README.md and setting DOTNET_HOME"
I followed the instructions in README.md

Installed on Ubuntu 14.04 using the Debian package, most of the heavy lifting was handled by the Ubuntu software center.

I set the DOTNET_HOME environment variable per instructions.

dotnet run yields **"failed to locate CLR files at /usr/share/dotnet/runtime/coreclr"**

At least for me, the issue is that the DOTNET_HOME directory needed to be set to  /us

[2016-01-03 00:08] knarfalingus commented on #23
Just wanted to ping this since I just experienced it, I typed dotnet restor -s https://myget.org/f/dotnet-core  (note the missing e) and got a stack trace, would be more helpful to show a message like "invalid command 'restor'" or similar and then display the help text as if --help had been specified.

[2016-01-03 06:41] piotrpMSFT commented on #682
What feature work is needed to light up these scenarios?

[2016-01-03 07:02] zhouyongtao commented on #668
棒棒的！！！

[2016-01-03 09:09] benaadams opened #686 "compile error: `dotnet new` should create folder"
Opening a command window takes you to user folder root (e.g. `C:\Users\Ben>`)

If you follow the instructions there e.g.
[code]
The last step takes a very long time then fails with

Access to the path 'C:\Users\Ben\AppData\Local\ElevatedDiagnostics' is denied.

If you run as admin in same place it then fails with

Access to the path 'C:\Users\Ben\AppData\Local\Microsoft\Windows\INetCache\Content.I

[2016-01-03 09:12] davidfowl opened #687 "dotnet new should require a folder name"
It's pretty annoying that I have to do:

[code]

We should just make it part of the new project experience:

[code]

Ends up with:

[code]

See http://doc.crates.io/#let’s-get-started for some inspiration :smile:

/cc @richlander @blackdwarf

[2016-01-03 09:13] davidfowl commented on #687
Related to https://github.com/dotnet/cli/issues/686

[2016-01-03 14:51] atrauzzi commented on #683
Related: https://github.com/dotnet/cli/issues/682

[2016-01-03 15:18] blackdwarf commented on #687
Intrestingly enough, Cargo was somewhat my inspiration for #655. @davidfowl, can you comment on that one with this so we have all of suggestions for `dotnet new` in one place?

[2016-01-03 15:19] blackdwarf commented on #685
Thanks for bringing this up, discrepancy in the docs. Will fix.

[2016-01-03 22:26] benaadams commented on #633
I've got it working following the steps above; the gotchas were

`x64 Native Tools Command Prompt` and `-c Release`; can go with `--cpp` or without.

Lots of warnings as above about pdbs; would be nice if it said `Success` at end.

Both versions run; though don't work (for a complex app); but I assume that's because its early days.

The `--cpp` crashes; and non-cpp complains about missing il for a

[2016-01-03 23:18] anurse commented on #668
A few comments. Mostly I like it but had some comments:

1. Git has psuedo-support for branch "folders" by using `/` in branch names. I suggest using that in release branches: `release/1.0`, etc. since it allows Git GUI tools to group them.

1. I realize that preview releases are different from production releases, but I think it's probably more appropriate to give each preview it's own branch rat

[2016-01-03 23:22] anurse commented on #279
These really don't sound like NuGet packages, but I am totally in favor of the idea of distributing them as versioned artifacts on a feed that is consumed by the CLI somehow. In general, I don't want to create the impression that an application takes a **dependency** on the host.

I think the best way to do this would be to work out how we will be packaging runtimes (which should **NOT** be in NuG

[2016-01-03 23:24] anurse commented on #291
Yeah, that's because `dotnet-restore` knows about `osx.10.11` and so it puts that in the lock file, but `dotnet-run` does **not**, so it's looking for `osx.10.10` :). It's exactly the issue I'm working on resolving in #498

[2016-01-04 07:53] venkthi1 commented on #407
Hi,
I am hitting the same issue when trying to run my windows app on ubuntu.
Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'api-ms-win-core-localization-l1-2-0.dll': The specified module could not be found.
 (Exception from HRESULT: 0x8007007E)
   at Interop.mincore.FormatMessage(Int32 dwFlags, IntPtr lpSource_mustBeNull, UInt32 dwMessageId, Int32 dwLanguageId, StringBuilder

[2016-01-04 08:02] andschwa commented on #407
@venkat-raman251 It's an unhandled error that (usually) simply means the sub-binary you tried to call (i.e. `dotnet <tool>`) wasn't in your path (what you're seeing is an error thrown when it's trying to report another error).

Can you post the exact command you were running?

[2016-01-04 13:01] enricosada commented on #655
I'll do `--lang` as part of #647 .
If we need `dotnet new fsharp` instead of `dotnet new --lang f#` we can change it later.
I think it's better to have `--lang` instead because `dotnet new` it's not going to be a full scaffolding tool, but as base generator is ok ( other tools can use it, and add more files/etc ).

:+1: for `dotnet new hello_world` to created the app inside `hello_world` directory

[2016-01-04 13:07] khellang commented on #655
Is `#` valid in CLI arguments across the board? Could it be interpreted as a comment? I'd vote for `csharp`, `fsharp` and `vb` instead.

[2016-01-04 13:23] enricosada commented on #655
@khellang yes, np about #.
I'll do alias to, so `--lang csharp` is the same as `--lang c#` , maybe `--lang cs` too

[2016-01-04 13:24] khellang commented on #655
Sounds good :+1:

[2016-01-04 13:27] khellang commented on #655
Also, `bin`? Why not `exe`? It is, after all, an executable? `lib` is also `bin`, right? :wink:

[2016-01-04 16:21] venkthi1 commented on #407
Hi @andschwa , This is command and I am running this from the same folder where my exe is

sudo dotnet ./ContainerManagement.Discovery.exe 1

I even tried to copy the api-ms-win-core-localization-l1-2-0.dll' from my windows server to the same folder in Ubuntu with the exe but still fails with the same.
This is ContainerManagement.Discovery.exe is an exe that I compiled in VS2015 with a regular csp

[2016-01-04 16:57] venkthi1 commented on #407
@andschwa I might have misunderstood the usage of dotnet cli. What I really want is that I have an existing application that was already compiled in VS2015 in windows via csproj files which has a bunch of dependencies on other csproj files.
I want to run it in Linux (without re-compiling via project.json). So basically instead of mono <EXE Name> I was hoping for an equivalent in dotnet core.

[2016-01-04 17:43] andschwa commented on #407
@venkthi1 Ah, no, that is not the use of `dotnet`. It's simply a front-end to .NET build tools; it's not a native host.

You will be very unlikely to to run an executable compiled on Windows without using Mono on Linux. While CoreFX does have a `corerun` executable (similar to `mono` in that it's a native host for .NET apps), the assumptions made on Linux about DLL locations (and other things) is

[2016-01-04 17:43] mattnischan commented on #654
I'm not sure I follow.

By default all `**/*.cs` from the location of your project.json are included for compilation. You do not need to use `compileFiles` unless you need to change that behavior.

[2016-01-04 18:32] borgdylan commented on #654
I have implemented ```dotnet-compile-dnc``` a provider for my compiler. My compiler expects source files in order and uses ```#include``` to traverse the source tree, as only the root source file gets passed in. With DNX I used a convention for main entry file, so that it could be discovered automatically inside the project root. As things stand with the CLI I have to force the user to specify tha

[2016-01-04 18:45] blackdwarf commented on #655
@khellang yes, the `--lang csharp` was my first thought as well, but wanted to shorten it out (a lot of people on this GH repo think that `dotnet` is too long). So, am all for having language strings spelled out.

Now, for other stuff:

1. I think that for now `dotnet new` **should not** imply any directory structure at least for now. That is not to say that it shouldn't *create* a directory with

[2016-01-04 18:49] Sridhar-MS commented on #520
There are already some checks for pre-reqs in [install.sh](https://github.com/dotnet/cli/blob/master/scripts/obtain/install.sh#L114).

[2016-01-04 18:54] Sridhar-MS commented on #453
@gkhanna79 CentOS builds are currently enabled and we are targeting for beta(still working through some bugs). We have pushed native compilation on CentOS to RC2.

[2016-01-04 19:04] enricosada commented on #655
added `--lang` with `csharp`, `c#` or `cs` aliases. same for `f#`

@blackdwarf about folder structure what are possible issues with directories? just curious

another possible solution is like lein:

`lein new [TEMPLATE] NAME`, with optional template name ( so `dotnet new web hello_world` mean web template inside hello_world directory, instead `dotnet new hello_world` generate default ( console? )

[2016-01-04 19:21] gkhanna79 commented on #500
@livarcocc What is the current status on this? We need to get this enabled in CoreRT repo as well and cannot do until you have figured out the overall infrastructure design.

[2016-01-04 19:37] dleeapho commented on #77
@brthor the linking of docker images to cli builds is logged here: https://github.com/dotnet/dotnet-docker/issues/14. But yes, @MichaelSimons we need to freshen the docker images to pickup "new" and other changes.

[2016-01-04 19:38] gkhanna79 commented on #496
Happy New Year @markwilkie. Do you think we can get thoughts together mid this week?

[2016-01-04 19:43] bricelam opened #691 "Can't reference System.Runtime design-time facade"
cc @anurse @davidfowl @victorhurdugaci @divega

My `project.json` contains the following.

[code]

`Remotion.Linq` is a **portable** assembly, so I've referenced  all the (potentially) required facades.

My `dotnet-compile-csc.rsp` file contains the following. Note that `System.Runtime.dll` is conspicuously missing.

[code]

Compiling yields errors like the following.

[2016-01-04 19:46] livarcocc commented on #340
@piotrpMSFT @davidfowl

We are feeling the need for this flag (or something like it) for the authenticode sign work. Because of compile being invoked by pack immediately before creating the packages, we don't have an opportunity to authenticode sign these binaries, or point pack to signed binaries. What if we added a path to the binaries directory? We could just point to wherever the signed binari

[2016-01-04 19:56] gkhanna79 commented on #279
I agree. That said, servicing of the host is independent of how cross-compilation/publishing is going to work.

Let us use https://github.com/dotnet/cli/issues/438 to discuss how servicing of the host should work and use this to have a base package inplace for the host (something that we can do right now).

[2016-01-04 19:57] abrodersen opened #692 "Cannot compile F# code that uses integer comparison"
The following F# code fails to compile on @1f30ecc :
[code]

Using this `project.json`:
[code]

Giving this compiler error:
[code]

[2016-01-04 20:29] jeremymeng opened #693 "Invalid command options cause dotnet to crash"
For example, `dotnet /?` throws
[code]

It would be better to handle invalid options, and print help message.

[2016-01-04 20:36] piotrpMSFT opened #694 "dotnet-restore"
Create a dotnet-restore command that uses NuGet to bring down a project's tools dependencies.

Tools dependencies are listed in a top-level `tools` node in the project.json. The node contains a list of NuGet packages specified with the same language as used by the `dependencies` node.

Tools are allowed to run with their own dependency closure. As such, they are restored independently of the refer

[2016-01-04 20:51] brthor commented on #668
@anurse

Can you provide some more info (or an informative link) on why merges throw the count off? I am curious to find out.

Your point on rebasing and history changes is good. We could run into an issue where we had a decreasing commit count if we ever needed to rewrite the history of a release branch. Ideally this would never happen, but like you said things can go horribly wrong.

Assuming th

[2016-01-04 21:13] piotrpMSFT opened #696 "Refactor Deps Generator from Compiler"
The deps file generator is currently embedded in dotnet-compile. This tool needs to be available to dotnet-restore as well, so it needs to be refactored into an independently callable component.

[2016-01-04 21:20] piotrpMSFT opened #697 "CommandResolver"
To enable calling commands from either tools or dependency NuGet packages introduce a CommandResolver which defines the algorithms by which commands are found as well as the precedence of those algorithms. The algorithms are as follows:

1. If the command name is a rooted path, use the command name itself.
2. Check project dependencies for a matching command.
3. Check project tools dependencies fo

[2016-01-04 21:49] piotrpMSFT opened #698 "Enable CrossGen of Stage 1"
A recent build produced the following abbreviated log:
10:56:23	*** Building dotnet tools version 1.0.0-dev-1451933517 - Debug ***
10:56:23	*** Checking Pre-Reqs ***
10:56:23	*** Restoring Tools and Packages ***
10:56:23	*** Installing dotnet stage 0 ***
10:56:31	*** Downloading DNX  ***
10:56:31	*** Restoring packages ***
11:00:18	*** Compiling ***
11:00:32	*** Building corehost ***
11:00:32	***

[2016-01-04 21:53] brthor commented on #698
:+1:

[2016-01-04 22:47] anurse commented on #668
A merge creates a commit with two parents, the head of the branch being merged to and the head of the branch being merged. `git rev-list` follows all parent links by default, so it counts the main line and the commits in every branch that was merged in. All we really want to use here are the main-line commits, basically just counting the merge commits themselves rather than also counting all the c

[2016-01-04 23:05] schnee72 opened #702 "Error with executable created with --native on Linux"
I know --native is highly experimental, but brthor on gitter suggested filing an issue for this:

Linux 3.19.0-42
Ubuntu 14.04.3 LTS

Followed instructions to install dotnet from: https://dotnet.github.io/getting-started/

Created the Hello World example with 'dotnet new'.

The resulting file from using 'dotnet compile --native' works fine with the hello world example.

Changing 'Console.WriteLine

[2016-01-04 23:06] #441 closed

[2016-01-04 23:07] gkhanna79 commented on #490
@davidfowl is this still a problem? If so, are you able to repro this on Windows?

[2016-01-04 23:08] gkhanna79 commented on #279
@Sridhar-MS Can you confirm you still need this issue to be addressed (i.e. need a nuget package for the universal host)?

[2016-01-04 23:15] brthor commented on #702
cc @schellap

Is this expected?

[2016-01-04 23:25] victorhurdugaci opened #703 "Alternative to "packInclude""
In "dnu" there is the `packInclude` option to include extra files when publishing or packing. There doesn't seem to be an alternative in dotnet.

We need this to pack/publish our tests that depend on extra files

[2016-01-04 23:32] schellap commented on #702
Yes, this is expected, there are few methods that haven't been brought up yet due to which we are seeing this issue:

You can see those methods by running:
`../bin/dotnet compile --native --ilcargs "\\\"-verbose\\\""`

I've filed issue https://github.com/dotnet/corert/issues/587

[2016-01-04 23:36] markwilkie commented on #496
Currently looking further into either:
- providing a separate nugget package w/ the symbols, or
- using the existing MSFT symbol server

The nugget package seems great until you starting thinking about all the current tooling which assumes the symbol server.

Regardless, all published packages should have symbols available.

[2016-01-05 01:23] gregg-miskelly opened #704 "CLI should produce portable PDBs on Windows"
Currently the .NET CLI invokes Roslyn on non-Windows platforms so that portable PDBs are produced, but on Windows, standard PDBs are still used. After discussing this with the Roslyn team, they would like the default to be that portable PDBs are produced everywhere, but there is an option to produce Windows PDBs on Windows.

Note that the support for portable PDBs in VS isn't in yet, so I would re

[2016-01-05 04:15] schellap commented on #279
Currently, the app takes a dependency on NETStandard.Library NuGet package which brings in the runtime. We can make an entry for the host nupkg in the standard library package.

@gkhanna79, moving forward, I believe we need the nupkg for both aquisition and servicing. For now, we can assume the host would come from the dotnet CLI, but like @anurse also suggests, it should come from NETStandard.Lib

[2016-01-05 04:22] schellap commented on #488
@blackdwarf, did you arrive at a plan for this? This might become important soon, because currently, SERVER_GC is by default ON for all platforms and if you want to turn it off you have to set an environment variable. People might get frustrated by the ElCap issue that @davidfowl was hitting recently in Mac development mode (https://github.com/dotnet/cli/issues/652) I also need enough time to get

[2016-01-05 04:32] blackdwarf commented on #488
@schellap was thinking about doing this this week. :) Will find you to chat! :)

[2016-01-05 07:34] piotrpMSFT commented on #698
Resolved by #701

[2016-01-05 07:34] #698 closed

[2016-01-05 07:35] piotrpMSFT opened #707 "build.[cmd|sh] should use the NuGet cache by default"
though --no-cache is great for CI scenarios, it significantly slows down Dev builds. Make this off-by-default and re-enable in build-ci.[cmd|sh].

/cc @davidfowl

[2016-01-05 09:40] enricosada commented on #640
i cannot build anymore 8b8496c828516e315f7e2f5c84851647f3279915 , always AV during CodeAnalysys, before was working if i rerun build.cmd, now is always AV

[code]

more dumps http://1drv.ms/1PHB4qg

[2016-01-05 11:25] enricosada commented on #692
i'll take a look, thx @abrodersen

[2016-01-05 13:29] jasonwilliams200OK commented on #377
@blackdwarf, in addition to your points on algorithm, if `project.json` is already present, overwrite it.
IMO, we can make analogy with `npm init`:

[code]

[2016-01-05 15:59] jaredpar commented on #640
@tmat ?  This is blocking development

[2016-01-05 16:18] enricosada commented on #640
same with latest HEAD ( a20cffb9e3ec64611a687c58c21edb928cf8a390 ).
i add the build log, maybe is useful https://gist.github.com/enricosada/fd35d765034c6fdfc6b6
if you need more info, pls ping me

[2016-01-05 17:41] tmat commented on #640
The crash dumps can't be debugged in VS debugger :(

---------------------------
Microsoft Visual Studio
---------------------------
Managed debugging is not available for this minidump.
Not enough information in this minidump is available to support managed debugging.
---------------------------
OK
---------------------------

Can we get a crash dump using ```procdump -ma```?

[2016-01-05 17:43] enricosada commented on #640
Sure, i'll add another tonight, thx

[2016-01-05 17:44] markwilkie commented on #496
Any feedback/comments on potentially using MyGet's solution?  (MyGet doc reference) [http://docs.myget.org/docs/reference/symbols]

[2016-01-05 17:54] blackdwarf commented on #377
@jasonwilliams200OK slightly different than what I had in mind. However, my comment above with the "algorithm" may be void in the face of new developments.

[2016-01-05 18:32] bricelam opened #710 "Publish skips native artifacts from project references"
cc @victorhurdugaci @divega

Using `dotnet publish` on a project that references another project with native artifacts (e.g. `runtimes/win-x64/native/sqlite3.dll`) does not copy the native artifacts to the publish directory. If I change the reference from a project to a package (by temporarily removing the `project.json` of the dependency) the native artifacts are published.

[2016-01-05 18:57] muratg commented on #710
@davidfowl @danroth27

[2016-01-05 19:18] davidfowl opened #711 "Output folder for compile/build should include the RID"
Because the host is RID specific and so is the output.

[code]

[2016-01-05 19:25] brthor commented on #655
@blackdwarf
I think it'd be good if dotnet had some form of an output directory parameter, similar to #687

[2016-01-05 19:35] blackdwarf commented on #655
@enricosada there are no issues *per se* just that if we add something by default, we are introducing a certain policy. That is also not bad, but would like to think about that policy some more etc. I am talking about having "src" as a default child of the dir that `dotnet new` creates.

@brthor yeah, I asked @davidfowl to comment over here, since I would like to use this issue to track. 100% agre

[2016-01-05 19:42] brthor opened #712 "Native Executable Exit Code 1 (RyuJit Mode)"
In the End to End Test we are seeing the native executable generated by

`dotnet build --native -o testroot`

Exits with code 1.  On All Platforms currently.

It appears to be functioning, passing checks that it outputs `Hello World!` and does not have stderr output.

This will require more investigation. See:
http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/debug_osx_prtest/389/console
http://dot

[2016-01-05 20:18] victorhurdugaci opened #714 "AssemblyFileVersion and AssemblyInfromationalVersion not longer set"
In DNX you could set DNX_BUILD_VERSION and it would set those attributes. In this new world, it doesn't seem to be possible anymore. Here's what gets set on the same assembly compiled with dnx and dotnet:

![untitled](https://cloud.githubusercontent.com/assets/5921642/12126504/6a31cf76-b3a6-11e5-9b87-4b10baa8385f.png)

[2016-01-05 20:52] davidfowl commented on #714
Use `DOTNET_ASSEMBLY_FILE_VERSION`

[2016-01-05 20:53] davidfowl commented on #714
/cc @pakrym

[2016-01-05 21:33] brthor commented on #527
This is no longer reproing.

[2016-01-05 21:33] #527 closed

[2016-01-05 22:10] ManishJayaswal commented on #182
At this time we do not plan to change it unless we get feedback from previews. The term repl is getting adopted by industry in general so it will not be a surprise for everyone. Although I agree that folks who have not used it will find it surprising.

[2016-01-05 22:29] gkhanna79 commented on #279
Host is an implementation detail that shouldn't be reflected in the standard library since it is not part of the library (and we shouldn't use standard library as means to deliver the host).

@anurse Can you please elaborate on why this is required?

[2016-01-05 22:54] gkhanna79 commented on #496
Looks interesting. Given that publicly released nuget packages will be published to Nuget and dev/daily versions to myget, are we planning to use symbol hosting on both or just one? Also, has someone tried the experience?

[2016-01-05 22:58] MichaelSimons opened #715 "dotnet restore does not work correctly from root"
# Repro Steps (Ubuntu 14.04)

1. cd /
2. dotnet new
3. dotnet restore

## Result:
error: Could not find a part of the path '/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/proc/52/root/pr

[2016-01-05 23:06] brthor commented on #541
@krwq Can you do this as a part of the branch creation?

Just need to remove these lines:
https://github.com/dotnet/cli/blob/master/scripts/test/validate-dependencies.sh#L22
https://github.com/dotnet/cli/blob/master/scripts/test/validate-dependencies.sh#L24

And uncomment these lines:
https://github.com/dotnet/cli/blob/master/scripts/test/validate-dependencies.ps1#L12

[2016-01-05 23:12] anurse commented on #279
not really, since I agree with you that it should not be part of the Standard Library, neither should the CLR itself IMO. The runtime (and probably the host) should come using their own packaging mechanism.

[2016-01-05 23:16] KallDrexx opened #716 "No line numbers on exceptions when run on Linux"
Sorry, not 100% sure if this is the correct repo for this, but since DNX is being obsoleted via the dotnet command I'm assuming so.

I followed the instructions from http://dotnet.github.io/getting-started/ to get the latest version of .net core on an ubuntu server box.  After restoring my application then doing `dotnet run` I get the following output:

[code]

This gives me no line numbers, even

[2016-01-05 23:40] brthor opened #718 "Beta Release Dependencies Change and Standardization"
For the beta release we will need to make changes to the dependencies in our project.jsons across the repo.

This will need to happen after the beta version of NETStandard.Library is pushed to NuGet.

1. Move all dependencies on NETStandard.Library to the beta version (Including the dotnet new template)
2. Remove NuGet.config workaround (https://github.com/dotnet/cli/issues/656)
3. Resolve any dep

[2016-01-05 23:42] pakrym commented on #714
@victorhurdugaci are there any other assembly info related env variables we need support for?

[2016-01-05 23:46] prafullbhosale commented on #515
Right now we do not want to expose scaffolding via command line. So closing this issue now.

[2016-01-05 23:46] #515 closed

[2016-01-06 00:05] stankovski commented on #18
+1

[2016-01-06 00:21] jkotas opened #720 "Support for strong name signatures (modern equivalent of sn.exe)"
The developers on Mac and Linux should be able to build libraries that are fully compatible with the full .NET, and could go in the GAC and be shadow-copied. It requires ability to strong name sign the libraries. Linux and Mac will only be toy development environments if full .NET Framework tools on Windows are be the only way to produce binaries compatible with the full .NET.

A new dotnet cli co

[2016-01-06 00:22] jkotas commented on #720
cc @KevinRansom @jaredpar @terrajobst @tmat

[2016-01-06 00:25] brthor opened #721 "Remove --native-subdirectory when NuGet contentFiles become available"
When `dotnet restore` is shifted to NuGet x-plat, and the contentFiles nuspec option is available, we should remove the changes enabling `--native-subdirectory` publish option.

This option was intended to be a stopgap measure for including subdirectories from a nugget dependency in publish output.

Associated Publish Changes:
https://github.com/dotnet/cli/pull/469

Build Changes that should be re

[2016-01-06 00:38] jkotas commented on #720
https://gist.github.com/jkotas/a21de87b790e06979635 is my prototype that can be reused to build this command.

[2016-01-06 00:44] andschwa commented on #18
+100

[2016-01-06 00:48] krwq commented on #720
@jkotas, I'm not sure if it's needed but it's possible thatt support for AssemblySignatureKey might need to be added

[2016-01-06 05:43] blackdwarf commented on #655
New stuff as per discussions:

## Language-based templates
`dotnet new` should support all of the OOB languages in its templates. C# should be the default. However, the `dotnet new` command should accept a `--lang (-l)` parameter to override the language for the template. The `-lang` OOB valid values should be "c#", "f#" and "vb", predicated upon compiler support in the package. The effect is that

[2016-01-06 06:26] davidfowl commented on #714
@pakrym I think this is fine as it works already. Going to close this out. @victorhurdugaci if you can repro after setting those vars reopen.

[2016-01-06 06:26] #714 closed

[2016-01-06 06:27] davidfowl commented on #703
PackInclude exists and works for packages. What specifically do you need?

[2016-01-06 07:26] piotrpMSFT opened #724 "Microsoft.DotNet.Cli.Utils should be public"
The utils library will be used in the creation of 3rd party commands and thus should itself be public.

[2016-01-06 09:36] piotrpMSFT opened #726 "Change tool source directories to match tool name"
Like dotnet-restore, tools sources should live in directory names that match the tool name. Namespaces for libraries happen to match the output name and output name. For tools, the output name diverges from the namespace name because namespaces are inconvenient for users. The directory should map to the artifact it produces and not implementation details of that artifact.

[2016-01-06 10:28] #724 closed

[2016-01-06 10:30] piotrpMSFT commented on #720
@krwq I'd love for this to include the capabilities you developed for using KeyVault if we can make that work easily.

[2016-01-06 10:32] piotrpMSFT commented on #707
Fixed by #708

[2016-01-06 10:32] #707 closed

[2016-01-06 14:53] shahid-pk commented on #655
rust's  `cargo new dir_name` error out if  dir_name already exists if not create it.
ruby's `rails new dir_name` if dir_name exists create new project in it if not create it.

I think rust approach is better because someone could accidentally type name of an already existing directory which could contain another project or some other useful things.

[2016-01-06 14:56] dleeapho commented on #668
/cc @MichaelSimons, we'll need to take this into account for dotnet-docker build linking and image tags.

[2016-01-06 17:20] blackdwarf commented on #488
OK, based on discussions we had yesterday here is a plan on what we should do.

We have two specific needs:

1. Provide a set of configuration options for native compilation
2. Provide a set of configuration options/knobs for runtime behavior of applications

Given the above, the suggestion is the following:

1. For native compilation options we should have a new node in `project.json` that will c

[2016-01-06 18:27] blackdwarf commented on #687
This is now tracked in #655 so I would close this. @davidfowl any objections?

[2016-01-06 18:28] davidfowl commented on #687
Sounds good.

[2016-01-06 18:28] #687 closed

[2016-01-06 18:28] blackdwarf commented on #686
@benaadams this is now tracked in #655 as well.

[2016-01-06 18:41] davidfowl commented on #488
Ugh no. That'll be confusing with nuget's runtime.json. Everytime we refer to it we'll need to explain which one we're talking about.

[2016-01-06 18:43] schellap commented on #488
app.config.json then? Similar to desktop?

[2016-01-06 18:50] tthiery opened #728 "Nuget Package / Nuget Symbol Package share same Id"
The DNX/xproj infrastructure created a Foobar.1.0.0.nupgk and a Foobar.symbols.1.0.0.nupgk. As part of a VSTS Build I uploaded both to a VSTS hosted NuGet Feed. But the feed rejected the second package with a 409 since the id of both packages was "Foobar" (the feed behavior seems correct to me).

Is this by intention (so I should stop uploading both) OR is this a bug?

Microsoft/vso-agent-tasks#84

[2016-01-06 19:06] blackdwarf commented on #488
`app.json` seems short and sweet.

Crap, I missed the NuGet's one.

[2016-01-06 19:10] cdmihai opened #729 "Migrate runtime copying from compile-stage script to PublishCommand"
I was poking around the build scripts and noticed that https://github.com/dotnet/cli/blob/master/scripts/compile/compile-stage.ps1#L63 is using the dummy Microsoft.DotNet.Runtime to copy runtime dlls into the output dir.
Then I noticed that PublishCommand is copying over the same DLLs (because the projects it's publishing also depend on the same runtime libs): https://github.com/dotnet/cli/blob/ma

[2016-01-06 19:11] brthor commented on #726
YES :+1:

Typing those directory names is slow :smile:

[2016-01-06 19:34] anurse commented on #488
`app.config.json` seems OK to me. Especially since we could, in theory, transform it into the appropriate `[assemblyname].config` XML file when compiling an app for desktop CLR.

[2016-01-06 19:59] gkhanna79 commented on #488
How will it know? Will the location be present in the .deps file and marked as "runtimeconfig"?

[2016-01-06 21:28] krwq commented on #720
I think it's a good idea to have both offline and online way of signing. I think it should be fairly easy to add although as always it's just work which needs to be done and probably some unexpected issues on the way :smiley:

[2016-01-06 22:14] schellap commented on #488
The file will be in either own_dir under coreconsole and app_dir in corerun.

[2016-01-06 22:17] schellap commented on #488
The file will be published as a content file.

[2016-01-06 22:28] MichaelSimons commented on #498
@anurse, are you working on this issue or did you want me to take a look at it?  Your last comment makes me think you are already working on it.

[2016-01-06 22:34] natemcmaster opened #732 "[restore] Case-sensitive bug causes false circular reference error"
Repro: execute `dotnet restore ` with this project json

[code]
But if you change the package name to all lowercase i.e. `ngpsql`, restore works fine.

**Error**
[code]

**Stack Trace**
[code]

This a blocking issue for some packages, e.g. `EntityFramework7.Npgsql`. There is no way to use package as it won't restore.

[2016-01-06 23:07] ericstj opened #733 "Improve gaurdrails for the CLI"
Gaurdrails is the compatibility check done by NuGet to determine if a library will run on a particular TFM, or TFM:RID pair.

The set of TFMs/TFM:RID pairs is determined as follows:
1. If no runtime or supports section are listed in the project.json, consider only the TFMs in the framework section.
2. If a runtime section exists, consider the cross-product of all frameworks and runtimes.
3. If a s

[2016-01-06 23:33] ericstj opened #735 "Implicit RID should not be used when restoring a library targeting netstandard"
When building a application or publishing the CLI should use an implicit RID.  This RID can be calculated by calling OS APIs and have some fallback to the native RID that the CLI was built with.

1. If the runtimes section exists in the project, the implicit RID should not be used.
1. If the runtimes section exists in the project, the implicit RID should not be used.
1. In the case of restore for

[2016-01-06 23:41] terrajobst commented on #720
Good point. `AssemblySignatureKeyAttribute` isn't required (it's for older keys that use SHA1) but it would be good to also provide support for it. I'd make this a separate issue, though.

[2016-01-06 23:44] natemcmaster commented on #732
Closing. This is an with nuget feed issue, not a restore issue.

[2016-01-06 23:44] #732 closed

[2016-01-06 23:47] ericstj opened #737 "Package reference to NETStandard.Library should be implicit"
When a project file targets 'netstandardX.Y' we should implicitly include a dependency on NETStandard.Library X.Y.0 (potentially prerelease).

[2016-01-06 23:50] anurse commented on #498
I'm working on it, almost done just been distracted by a few meetings ;)

[2016-01-07 00:06] krwq opened #738 "Letters missing intermittently - "ompilation succeeded.""
Some letters seem to be sometimes disappear when running. I believe it might be related to our console forwarding piece of code. Look at the "ompilation succeeded." in the following:
[code]

While this particular issue is not a high priority right now something similar might be happening when you use dotnet run which could potentially strip some letters from user code which could potentially have

[2016-01-07 00:25] moozzyk commented on #738
Can this also make the console go crazy with colors? I ran `dotnet build` and suddenly any new text on the console was in red (I did have build errors).

[2016-01-07 01:12] krwq commented on #738
I'm experiencing same colors issue even without build errors. It's totally possible it is the same thing :smiley:

[2016-01-07 01:29] moozzyk opened #742 "Chaining `dotnet publish` and `publish-iis`"
For Asp.Net projects the output of `dotnet publish` needs to be tweaked a little bit to enable the project to run on IIS. The crucial part is to modify (or create) the web.config file.

The idea is to create a tool (project tool) which will run after dotnet publish. The tool will take the folder where the project was published and the application name as parameters.

Open questions are:
- how to c

[2016-01-07 02:30] brthor opened #743 "Published Index Issues"
Our latest indexes seem to be inconsistent in both format and version across the board:

http://dotnetcli.blob.core.windows.net/dotnet/dev/dnvm/latest.ubuntu.index
http://dotnetcli.blob.core.windows.net/dotnet/dev/dnvm/latest.centos.index
http://dotnetcli.blob.core.windows.net/dotnet/dev/dnvm/latest.osx.index

[2016-01-07 02:34] #685 closed

[2016-01-07 03:09] tmat commented on #640
Any luck capturing the crash dump?

[2016-01-07 03:15] davidfowl commented on #742
It's going to be in the post publish script. We need to discuss the context we have at that point though

[2016-01-07 12:43] enricosada commented on #640
yes, sry for delay @tmat, i got a bit of problem with dumps and yesterday was holiday in italy

I dont know how to make it dump on AV exception only, if multiple csc are run inside build.cmd.
I tried `-f *AccessViolationException` and `-n` or `-e 1` but doesnt do what i think

so, the [first dump](http://1drv.ms/1PgG5Dy) is the `procdump csc.exe -w -ma` after the csc is stuck with "csc stopped wor

[2016-01-07 17:21] diimdeep commented on #533
[code]

[2016-01-07 17:41] blackdwarf commented on #533
@diimdeep nice one. :) I've already built one but was waiting for the beta to push it to Homebrew. We do have building from sources, btw, but similarly to yours, I have opted for using the built tarballs.

[2016-01-07 17:54] markwilkie commented on #668
From Scott's write up here, http://scottchacon.com/2011/08/31/github-flow.html, he says,  *"Its simplicity gives it a number of advantages. One is that it’s easy for people to understand, which means they can pick it up quickly and they rarely if ever mess it up or have to undo steps they did wrong. Another is that we don’t need a wrapper script to help enforce it or follow it, so using GUIs and s

[2016-01-07 17:59] moozzyk commented on #742
IS post publish working yet? I think I tried it a couple day ago and it was not invoked.

[2016-01-07 18:05] blackdwarf commented on #533
@diimdeep a question: why  all of the bin.install_symlink calls? The brew link phase automatically links stuff properly after install, doesn't it?

[2016-01-07 18:45] KrzysztofCwalina opened #745 "dotnet new template should not expose public types"
The "new" template exposes a public type with a public method:

[code]
These should not be public.

Also, maybe we should remove the namespace once there are no public types. it will simplify our "hello world"

[2016-01-07 18:46] diimdeep commented on #533
@blackdwarf [afaik](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Formula-Cookbook.md) after build, anything from formula `#{prefix}/bin` linked to `HOMEBREW_PREFIX/bin`

I looked at [install script](https://github.com/dotnet/cli/blob/master/packaging/osx/scripts/postinstall) from .pkg and tried to make that formula link same and nothing more(there are much more files in bin/

[2016-01-07 18:59] blackdwarf commented on #533
@diimdeep I just coped stuff over from bin to #{prefix}/bin and brew link did the job. It will only symlink +x files as far as I was able to observe. Reagrdless, the effect is the same, the question was for my education. :)

[2016-01-07 19:06] blackdwarf commented on #737
@ericstj can you add a sample project.json here that shows how would that look?

[2016-01-07 19:06] blackdwarf commented on #726
:+1: Please do this. :)

[2016-01-07 19:27] anurse opened #749 "Clean up RIDs in build scripts"
After #747 goes in, we need to do some build script clean up since we will have proper RID detection.

[2016-01-07 19:29] blackdwarf commented on #520
@piotrpMSFT @glennc @Sridhar-MS @brthor are we fine with this plan moving forward? Also, @glennc are you on board to change the installer scripts?

[2016-01-07 19:37] blackdwarf commented on #657
Yup, the PKG needs to be signed. This will be solved as #500 gets done, so I will close this one.

[2016-01-07 19:38] #657 closed

[2016-01-07 19:45] anurse commented on #291
Should be fixed when #498 is closed. If not, please feel free to reopen!

[2016-01-07 19:45] #291 closed

[2016-01-07 20:18] victorhurdugaci commented on #703
Should have been more explicit. It doesn't work when you publish.

Try this:

[code]

and create `TestFile.txt` in the root of the project.

- Publish with `dnu` and notice that `TestFile.txt` is in `bin\output\approot\src\ClassLibrary1\TestFile.txt`

[2016-01-07 20:18] #703 closed

[2016-01-07 20:32] xperiandri commented on #586
Could someone explain me how to run F# with DNX RC2?
https://github.com/fsprojects/fsharp-dnx/issues/26

[2016-01-07 20:42] spencerwi commented on #586
@xperiandri This issue is, I think, about using a different cli -- `dotnet` (not `dnx`) to run F#.

That being said, I'd also like to know how to run F# projects using the `dotnet` cli.

[2016-01-07 21:02] ericstj commented on #737
Here is the simplest project.json.
[code]
There's likely some more design work here.  If less than the minimum version of NETStandard.Library use the minimum version.  If a dependencies section exists should the implicit dependency be added to that section or not used at all.  Etc.

The general feeling is that the following seems redundant:
[code]

[2016-01-07 21:26] joshfree opened #750 "dotnet restore NullReferenceException"
Filing on behalf of @mafshin from https://github.com/dotnet/coreclr/issues/2499

Following [Getting Started](https://dotnet.github.io/getting-started) Console app with .NET Core just after `dotnet new` I get a `NullReferenceException` for `dotnet restore`:

[code]

[2016-01-07 21:30] enricosada commented on #586
@spencerwi it's really the first steps, check tests. https://github.com/dotnet/cli/tree/master/test/FSharpTestProjects/TestAppWithArgs

it's like c#, but you need to add `"compilerName": "fsc"` in project json and source files inside `compileFiles`.

[2016-01-07 21:40] morganbr commented on #720
Expanding on @piotrpMSFT's point, this would also need to have a reasonable key management story -- perhaps the options exposed by sn.exe are about right, with alterations appropriate to the platform's key management.

CC @bartonjs

[2016-01-07 21:54] xperiandri commented on #586
Cool! As I understand, ASP.NET 5 RTM will run top of CLI, won't it?
However I cannot specify [<EntryPoint>] for DNX or run ASP.NET with CLI yet.

[2016-01-07 21:59] enricosada commented on #586
the dotnet/cli replace asp.net/dnx, and asp.net rtm is going to use cli.
about current cli/dnx support, ask in aspnet, sry i am not in the loop

[2016-01-07 22:20] livarcocc commented on #750
Which OS is this?!

[2016-01-07 22:21] tmat commented on #640
Can you disable crossgen? I suspect this is a bug in crossgen.

[2016-01-07 22:23] davidfowl commented on #691
The problems is that the version isn't 4.0.0 for .NET 4.5.1. You can either remove versions overall or specify the right one.

[2016-01-07 22:32] davidfowl commented on #691
Bah the behavior is bizzare, we'll make sure it work and warn.

[2016-01-07 22:38] davidfowl commented on #691
af06d781c8cd953aba5ac4ba7303a824105aa09b

[2016-01-07 22:38] davidfowl commented on #691
Fixed

[2016-01-07 22:38] #691 closed

[2016-01-07 22:47] enricosada commented on #640
sure, how?

[2016-01-07 23:01] tmat commented on #640
@gkhanna79 How do we disable crossgen?

[2016-01-07 23:03] davidfowl commented on #258
Did this.

[2016-01-07 23:03] #258 closed

[2016-01-07 23:08] davidfowl commented on #745
What does that matter for a console app.....

[2016-01-07 23:26] KrzysztofCwalina commented on #745
It's bad to expose APIs accidentally from dlls or exes. Our template should not lead people to the wrong thing, i.e. expose accidental APIs.

[2016-01-07 23:28] enricosada commented on #640
@tmat, tried commenting out call in /scripts/compile/compile-stage.ps1@91 , same AV

[2016-01-07 23:29] tmat commented on #640
I need a memory dump with the AV. Otherwise I can't do anything about it.

[2016-01-07 23:42] enricosada commented on #640
i'll try http://blogs.msdn.com/b/dotnet/archive/2009/10/15/automatically-capturing-a-dump-when-a-process-crashes.aspx , if `procdump csc.exe -w -ma` doesnt contains the AV

[2016-01-08 00:43] livarcocc opened #753 "Enable the content property in project.json to libraries as well"
Currently, we only honor the Content property in project.json for projects with the emitEntryPoint flag set to true. We should enable that for libraries as well.

Some test libraries need that and the System.Net.Libuv library in corefx needs that as well.

[2016-01-08 00:44] livarcocc commented on #753
@davidfowl @piotrpMSFT Opinions?

[2016-01-08 00:54] brthor opened #754 "MultiProjectValidator Crashing on Ubuntu"
This is the error I am seeing:
[code]

This is being caused by the "net451" framework option in https://github.com/dotnet/cli/blob/master/src/Microsoft.Extensions.DependencyModel/project.json

The Validator is picking up mscorlib which seems to have no version.

As a solution I plan to disable the MultiProjectValidator on desktop target frameworks. It doesn't make much sense for the purpose of thi

[2016-01-08 02:34] ojosdegris commented on #533
+1

[2016-01-08 03:44] mafshin commented on #750
Windows 10 64 bit
On 8 Jan 2016 01:51, "Livar" <notifications@github.com> wrote:

[2016-01-08 06:19] piotrpMSFT commented on #750
whoa, this is interesting. Can you check %DOTNET_HOME%\bin\dotnet-restore[.exe|.cmd] and tell me which extension you see?

[2016-01-08 06:49] piotrpMSFT commented on #533
builds take 20 mins today. will homebrew main do the build server-side? Or are we talking a 20 minute install window for end-users?

[2016-01-08 06:59] blackdwarf commented on #745
@KrzysztofCwalina what about if we want to drop a library template? `public` by default? I.e.:

[code]

[2016-01-08 07:00] blackdwarf commented on #533
@piotrpMSFT for end-users. If we want to do that. We don't have to. It is our choice as @diimdeep mentioned above. We can provide both a stable and a devel install option within a single formula.

[2016-01-08 07:05] mafshin commented on #750
It's a CMD file

On Fri, Jan 8, 2016 at 9:49 AM, Piotr Puszkiewicz <notifications@github.com>
wrote:

--
"Mathematics is the queen of the sciences and number theory is the queen of
mathematics."
--Gauss

[2016-01-08 07:13] piotrpMSFT commented on #750
ok. We recently converted it from CMD to EXE and I thought there might be a regression... how old is your installation? What happens if you call DNU restore directly?

My expectation [hope] is that we have an older install with an older DNU. I think we had NullRefs in DNU early on in the project...

[2016-01-08 07:14] piotrpMSFT commented on #533
I think the better UX would be to download on all feeds. Mostly stirring the pot to see if this is a bad thing to aspire to in the Homebrew context...

[2016-01-08 07:16] piotrpMSFT commented on #745
having main be public, or atleast internal, is pretty convenient for testability. We don't have great utilities for testing CLIs... More than one way to address that problem, tho...

[2016-01-08 07:18] piotrpMSFT commented on #753
Can you add a scenario this unblocks? Seems ok in general, but I want to be sure we're encouraging good practices.

[2016-01-08 07:32] mafshin commented on #750
It's not very old, maybe a week ago.

Calling `dnu restore` directly starts listing dependencies.

Should I download and install the latest [dotnet-win](https://dotnetcli.blob.core.windows.net/dotnet/dev/Installers/Latest/dotnet-win-x64.latest.msi) ?

[2016-01-08 08:04] piotrpMSFT commented on #750
yea, I think that's the right move. I'm not able to repro locally...

[2016-01-08 08:09] piotrpMSFT commented on #720
at the moment we plan to stick with ASP.NET's story for CLI repo. Namely, our SN key will be public and used only for identity generation. However, the work Krzysztof did to enable KeyVault integration provides a much more robust open signing story. SN.exe's options are insufficient since SN needed direct, unlocked access to the private key. Using KeyVault we need only to install a certificate tha

[2016-01-08 08:37] mafshin commented on #750
Using the old one, after `dun restore` I was able to run the app via `dotnet run` but `dotnet restore` was not working.

I deleted the old project completely and installed the new dotnet-win package. I can now see the `dotnet-restore.exe` file in the home directory.

![dotnet](https://cloud.githubusercontent.com/assets/4930000/12193419/6911370e-b5fd-11e5-8df0-37191d2c48fc.PNG)

Yet again after ins

[2016-01-08 15:34] justinmchase commented on #45
When you add support for VB/F# it would be really nice if you added support for 3rd party languages as well. I would consider coming back to the .net community if there was a reasonable api for plugging new languages into this new system.

For example:
[code]

In the project file it would assume that my project is boo and would use the 3rd party compiler instead.

[2016-01-08 15:42] justinmchase commented on #587
How about boo? How can I add boo to this system (and other languages)?

[2016-01-08 15:46] justinmchase commented on #655
The languages shouldn't be restricted to just those three. Inevitably other languages will want to plugin. It should accept any token and there should be a system for looking up the generator based on that token instead of just having 3 hard coded options.

[2016-01-08 16:15] gkhanna79 commented on #279
@schellap What are the next steps on this?

[2016-01-08 16:19] enricosada commented on #655
we can use prefix to search resource directories
For example `CSharp-Console` -> `CSharp-*` are the templates for c#

So new languages need only to add templates and choose name, alias

[2016-01-08 16:36] KrzysztofCwalina commented on #745
@blackdwarf, yeah, for library templates (if we have any), we can do public class.

@piotrpMSFT, I think people test apps not by calling the main, but rather by calling APIs exposed by various types in the app.

[2016-01-08 17:27] bricelam commented on #164
@davidfowl We either need to fix this or NuGet. What is happening for RC2?

[2016-01-08 17:30] davidfowl commented on #164
I rather fix NuGet but that might take a while... Is it ok to fix vs2015 first?

[2016-01-08 17:31] bricelam commented on #164
(See also #578 & #579)
EF's current workaround was to target `net451` without the facade framework references and `dnx451` with them, but `dnx451` is going away, isn't it?

[2016-01-08 17:33] bricelam commented on #164
So long as customers can use our package for `net451` projects on both MSBuild+NuGet and CLI...

cc @rowanmiller

[2016-01-08 18:03] justinmchase commented on #655
:+1:

So
[code]

Would look into and load from a folder called `Boo-Console`? All a language dev would need to do would be to get that folder in that location?

[2016-01-08 18:06] #627 closed

[2016-01-08 18:09] schellap commented on #627
Fixed by https://github.com/dotnet/cli/pull/681

[2016-01-08 18:20] enricosada commented on #655
@justinmchase atm it's a folder inside the project, compiler as embedded resource.
But it's the same yes, that's what i have done with F#, add a new folder ( if `--lang` and `--type` is in place, is as simple as that )
If we want to extend dotnet new, there are lot of options, maybe we can download templates from nuget packages, using a list embedded inside `dotnet new`. but that's about extensibi

[2016-01-08 18:41] #498 closed

[2016-01-08 18:45] blackdwarf commented on #655
@justinmchase @enricosada that seems like a good idea. For now, however, we want to actually get support for the three ones outlined above in. As @enricosada said, there isn't nothing that prevents this now.

One thing about supporting new languages though is that they would also need to support all of the types of the projects that the user can specify with `--type`. For now it is console app (ex

[2016-01-08 18:46] blackdwarf commented on #533
@piotrpMSFT you mean never build from source?

[2016-01-08 18:54] justinmchase commented on #655
@blackdwarf Well if the `langs` and the `types` where just by convention directory names then you could have an infinite number of kinds of projects, if it combination doesn't happen to exist then an error coudl be produced. 99% of projects would have the same basic 3 project kinds probably `bin`, `lib`, `web`.

But I could see someone adding a `unity` project template for example... If all it too

[2016-01-08 19:03] muratg commented on #586
@xperiandri Current plan is to ship ASP.NET 5 RC2 with dotnet CLI support and retire DNX.

[2016-01-08 19:05] anurse commented on #312
FYI, since we aren't using Roslyn we won't be able to have quite the same level of control. We'll have to use the `-doc` switch which will set `DocumentationMode` to `Diagnose` and emit warnings for missing doc comments. It doesn't currently appear to be possible to have `csc` generate an XML file without the warnings (though I suppose we could add the command line switch to suppress the warning a

[2016-01-08 19:37] xperiandri commented on #586
That is great. However I would like to start a project on MVC 6 with F# as soon as possible.

[2016-01-08 21:08] muratg commented on #586
Sure!  @davidfowl has some examples [here](https://github.com/davidfowl/dotnetcli-aspnet5).

[2016-01-08 21:16] BillHiebert opened #760 "Building with multiple frameworks doesn't work correctly"
I have a project targeting two frameworks. When using dotnet compile and specify an output path the frameworks build, but the second framework build overwrites the first one since they are both going into the same output directory. I would expect the output directory to have the framework appended to it. Here's the command I used and output:
"C:\Program Files\dotnet\bin\dotnet.exe" -v compile "C:\

[2016-01-08 21:17] #340 closed

[2016-01-08 22:03] #312 closed

[2016-01-08 22:10] anurse commented on #635
This was actually already working, `dotnet-compile` just wasn't generating the XML file. Once #312 was fixed this came for free.

[2016-01-08 22:10] #635 closed

[2016-01-08 22:11] victorhurdugaci commented on #635
@ajaybhargavb can you please check, once the build completes, that this one fixes the nuget verifier? It should pass now

[2016-01-08 22:12] brthor commented on #696
Fixed in #699

[2016-01-08 22:12] #696 closed

[2016-01-08 22:13] brthor commented on #694
Fixed #713

[2016-01-08 22:13] #694 closed

[2016-01-08 22:14] brthor commented on #669
This will be a manual step currently for releases.

[2016-01-08 22:16] brthor commented on #628
Delaying this until we have final TfM
@ericstj @piotrpMSFT

[2016-01-08 22:19] brthor commented on #528
Fixed

[2016-01-08 22:19] #528 closed

[2016-01-08 22:20] brthor commented on #519
Being tracked in #668

[2016-01-08 22:20] #519 closed

[2016-01-08 22:22] brthor commented on #464
have not been able to repro. Please reopen if you are still hitting this.

[2016-01-08 22:22] #464 closed

[2016-01-08 22:22] brthor commented on #452
Fixed #722

[2016-01-08 22:22] #452 closed

[2016-01-08 22:27] brthor commented on #215
Other work items are tracked #195 #251

[2016-01-08 22:27] #215 closed

[2016-01-08 22:27] schellap opened #762 "dotnet-pack should take nuspec style input"
`dotnet-pack` currently expects a project and builds a folder and packs up the compiled/published output.

What we would like to have is something that NuGet offered which can take a nuspec file that specifies dependencies, source locations and target locations, then the package builder can simply build any arbitrary set of libs and binaries based on this spec file.

This is needed to make corehos

[2016-01-08 22:28] brthor commented on #195
@schellap Are you still planning to static link corehost?

[2016-01-08 22:30] brthor commented on #156
Fixed #722

[2016-01-08 22:30] #156 closed

[2016-01-08 22:35] gkhanna79 commented on #669
Is there a reason we cannot ensure VSO publishing does not publish until all 3 builds are clean?

[2016-01-08 22:40] gkhanna79 commented on #195
@Sridhar-MS Native compilation cannot be supported on a vanilla machine as it requires VS 2015 with C++ support to be installed. And once that is done, all required dependencies will be in place.

Are you suggesting that we intend to support a scenario (vanilla windows mchine) where native compilation is not going to be supported?

With the above said, static linking puts the servicing burden onto

[2016-01-08 22:42] brthor commented on #704
@agocke This looks like a dotnet-compile-csc feature

[2016-01-08 22:48] brthor commented on #491
Tracked in #66

[2016-01-08 22:48] #491 closed

[2016-01-08 22:50] brthor commented on #479
Compile output is already single binary.

[2016-01-08 22:50] #479 closed

[2016-01-08 22:51] #477 closed

[2016-01-08 22:55] brthor commented on #454
Fixed #722

[2016-01-08 22:55] #454 closed

[2016-01-08 23:08] brthor commented on #290
Fixed #343

[2016-01-08 23:08] #290 closed

[2016-01-08 23:11] brthor commented on #271
For native installers closed on not supporting SxS.

Local install will support sxs

[2016-01-08 23:11] #271 closed

[2016-01-08 23:13] brthor commented on #266
Add prereq check for debian package build dependencies.

[2016-01-08 23:17] tannergooding commented on #704
FYI. @tmat

[2016-01-08 23:19] ericstj commented on #628
You could move the libs to `dotnet5.x` now, with the plan to move to `netstandard1.x` as soon as nuget adds support.
For the exes we need to wait for concensus on a new app TFM.

The rename from dnxcore > dotnet requires a human to select the right value.

The move from dotnet > netstandard and dnxcore50 > newapptfm are both find-replace.

[2016-01-08 23:23] brthor commented on #60
Being tracked in other places

[2016-01-08 23:23] #60 closed

[2016-01-08 23:27] #34 closed

[2016-01-08 23:37] livarcocc opened #764 "Figure out the story for pkg upgrade on OSX"
Our PKG is not an app bundle, so we can't just tell users to install by deleting the app under the applications folder.

We need to figure out a good story for upgrading with PKGs.

[2016-01-08 23:42] blackdwarf commented on #655
@justinmchase implementation-wise, sure, but I was more thinking about the user experience. If we have a lot of project types and a lot of languages, we can end up in a situation where the resulting matrix of support becomes rather...sparse. If this happens, the user would have a tougher time figuring out what comes with what.

[2016-01-08 23:50] xperiandri opened #765 "Encoding problems. Again?"
[code]

[code]

Does this happen because of Ukrainian (Byelorussian) letter i with code U+0456 in my user profile path?
https://connect.microsoft.com/VisualStudio/feedback/details/808844/msbuild-passes-incorect-string-to-its-task-if-that-string-contains-ukrainian-byelorussian-letter-i-with-code-u-0456

[2016-01-09 00:07] ericstj commented on #465
Here's a suggestion for how we can represent this: permit a runtime to be nested under framework.  When that exists it indicates that we should cross compile for that runtime.  In that case we'll use the TFM:RID target (runtime graph) for both the compile items and the runtime items.  The runtime listed under framework can have its own dependency section to represent packages dependencies specific

[2016-01-09 00:08] enricosada commented on #655
@blackdwarf add `dotnet new --templates`` to show a grouped view of templates by language?

another option is `dotnet new language/type` like you said with `_` ( i like `/` better )
like that `dotnet new fsharp/<TAB>` can expand with autocomplete.

examples:

- `dotnet new fsharp/web`
- `dotnet new boo/console`
- without `/` the default language is csharp, so `dotnet new console` is like `dotnet n

[2016-01-09 00:15] blackdwarf commented on #655
@enricosada hmmmm...this is interesting. This could work. How would your autocomplete suggestion work above?

[2016-01-09 02:18] brthor commented on #743
This looks to have been resolved. Closing.

[2016-01-09 02:18] #743 closed

[2016-01-09 02:37] noahfalk opened #768 "ilcpath argument should accept a full path to the executable"
Assuming that ilc.exe is located at c:\ilc\ilc.exe and a developer runs the command:
    dotnet compile --native --ilcpath c:\ilc\ilc.exe

It would be nice if the compile worked. Instead you get an error saying:

    System.Exception: ILC Directory does not exist:
    f:\github\corert\bin\Product\Windows_NT.x64.Debug\ilc.exe.
    at Microsoft.DotNet.Tools.Compiler.Native.NativeCompileSettings.set_

[2016-01-09 07:53] davidfowl commented on #764
/cc @glennc

[2016-01-09 07:53] davidfowl commented on #762
Why not just use nuget?

[2016-01-09 08:03] schellap commented on #762
@piotrpMSFT suggested that we should use dotnet pack. Is there a specific reason?

I assume it is because dotnet pack needs to get there anyway?

[2016-01-09 08:11] davidfowl commented on #762
`dotnet pack` will eventually just call `nuget pack`. Right now the value in package a project with `project.json` is that it is for building managed class libraries into packages. It really isn't a nuget replacement for packing random things.

[2016-01-09 10:30] GerjanOnline commented on #655
I like the idea of `dotnet new [lang]/[type]` :+1:

[2016-01-09 11:28] enricosada commented on #655
@blackdwarf i was speaking about bash completion.
we can autogenerate suggestions ( the list is fixed at compile time ) and because format is `lang/type` is easy to do. partial list of `--type` based on `--lang` is more complicated
also a `--templates` can show the list ( than can be used by completion instead of generated list )

[2016-01-09 16:22] justinmchase commented on #655
`dotnet new [lang]/[type]` :+1:

Bash and powershell can do dynamic auto-completion (we're all using bash anyway right?). People using cmd on windows could fallback to `--templates`.

[2016-01-09 16:52] gkhanna79 commented on #762
@schellap I presume this is accounting for the discussion we had yesterday about clihost piece no longer being statically linked in, right?

[2016-01-09 19:22] mikehaas763 opened #771 "dotnet command missing (at least on mac)"
I've already had dotnet installed through the mac .pkg install. It's been a while since I downloaded it so I went and downloaded a new copy and installed it to get updated with the latest.

Now I have no `dotnet` command available. I've made sure that I've opened a new shell make sure it wasn't that.

[2016-01-09 20:44] piotrpMSFT opened #772 "dotnet-pack incorrectly defaults the artifacts source path to the package output path"
When basePath is not provided, dotnet-pack looks for build artifacts, which should become the contents of the package, in the outputPath. However, when outputPath is provided via the `--output` parameter, this value proves incorrect. Compilation artifacts are placed and left in the package output path. This creates opportunity for parallel build to cause multiple invocations of the pack command to

[2016-01-09 21:11] davidfowl commented on #772
Noooo, leaving the build artifacts is super useful. I use it like 94% of the time when I want to see what ended up in the package

[2016-01-10 00:36] piotrpMSFT commented on #772
Hmm, in that case where should the artifacts go? Putting them in the root of the packages folder assumes no file name collisions across packages, and it doesn't help determine what went into which package. perhaps {packageRoot}/ProjectName/Tfm/Rid/?

Dumping everything into a flat directory structure is pretty dangerous...

[2016-01-10 00:38] piotrpMSFT opened #773 "dotnet-pack produces empty NuGet packages when used with --output and path to pj"
This is a new issue since we added --basePath

When calling `dotnet pack --output={somepath} {pjPath} the resultant NuPkg do not include a lib directory.

[2016-01-10 02:39] piotrpMSFT commented on #771
Whoa, interesting. @blackdwarf can you take a look?

[2016-01-10 04:12] weshaggard commented on #271
Is there further discussion around this? I'm curious what the thinking is about that decision as I suspect we will have to alter that in the future as most other tools, including C++ compiler, do SxS because it is almost impossible to guarantee back compat forever when doing in-place updates.

[2016-01-10 04:36] factormystic opened #775 "Add x64 native tools to documentation (for usage)"
After `dotnet new` and `dotnet restore` (which appear to work fine, as does `dotnet run`), I get an error doing a native compile:
[code]

And with `-c Release` as suggested here https://github.com/dotnet/cli/issues/633
[code]
Installed just now from `https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/Latest/dotnet-win-x64.latest.zip`

Environment:
[code]

[2016-01-10 05:46] ellismg opened #777 "MSI installer is not signed"
(from @bendono in dotnet/coreclr#2589)

Following the .NET Core installation instructions for Windows, I downloaded the MSI installer.
Path: https://dotnet.github.io/getting-started/
OS: Windows 10

Upon installation, SmartScreen will attempt to block installation.
![msi](https://cloud.githubusercontent.com/assets/846533/12213523/f51de5de-b6bc-11e5-8a53-92acbf93c1e8.png)
Likely this is because the

[2016-01-10 07:39] KodrAus opened #778 "Add dotnet-build to Debian package"
I'm not too sure what the cli is actually trying to do here, but if I try to run a command that doesn't exist on Ubuntu, like `dotnet build`, I get the following error:

[code]

Which looks like a bug trying to format an actual error message?

[2016-01-10 15:39] blackdwarf commented on #771
@mikehaas763 so you've installed the PKG a while back, then you've downloaded and installed a recent one (you didn't remove the old one) and now there is no `dotnet` command?

[2016-01-10 15:54] mikehaas763 commented on #771
@blackdwarf exactly. I also tried redownloading the PKG several times and reinstalling. I'm not sure how to uninstall so I haven't attempted to try.

[2016-01-10 19:54] blackdwarf commented on #771
@mikehaas763 uninstalling the PKG is a bit involved. There is a good [SuperUser question](http://superuser.com/questions/36567/how-do-i-uninstall-any-apple-pkg-package-file) that can help you with that. This is just FYI, of course.

Can you check if /usr/local/share/dotnet exists and what is in it? Also, can you do a `ls -lhF /usr/local/bin/dotnet` and add the output to this issue? Thanks!

[2016-01-10 20:45] mikehaas763 commented on #771
[code]

[code]

So looks like there is a symlink in the standard $PATH but it's pointing to a file in the cli dir when bin is a sibling directory of cli. Is that what the path used to be? Maybe the installer needs to not just check for the existence of the symlink but of the file it points to? I'm just making an assumption there because I have no idea what the PKG internals actually does.

For my

[2016-01-10 21:02] fsoikin commented on #586
@enricosada I tried this just now, and it failed at `dotnet restore`, because dependency `Microsoft.FSharp.Core.netcore` is nowhere to be found.

Should I be using some special feed? Right now I'm using these:

[code]

[2016-01-10 21:43] enricosada commented on #586
you need

[code]

like [NuGet.Config#L15](https://github.com/dotnet/cli/blob/ecda2a810615dda9f280fd8a87d23be2e2fcae45/NuGet.Config#L15)

[2016-01-10 21:57] dsyme commented on #692
@enricosada What is the full ``fsc.exe`` command line being run? I suspect a bad assembly reference (e.g. an extraneous reference to mscorlib.dll) or a missing ``--targetprofile:netcore``.

@abrodersen If you can find a way to get the full command line being generated by dotnet cli that would be helpful.

[2016-01-10 22:11] blackdwarf commented on #771
@mikehaas763 yes, that is the problem. The main issue is that you've installed a newer PKG over a very old one. The PKG should recreate all of the symlinks, but for whatever reason it didn't. I tried this today (installing PKG twice without removing anything in between installs) and it worked correctly for me.

So, yes, some more work should be done in the postinstall (or maybe preinstall) steps t

[2016-01-10 22:19] factormystic commented on #775
Related? https://github.com/dotnet/corert/issues/606

[2016-01-10 22:23] dsyme commented on #692
From Dave Wecker:

[code]

[code]

[2016-01-10 22:41] dsyme commented on #692
@enricosada Do you need a ``--targetprofile:netcore`` flag?

[2016-01-10 22:47] davidfowl commented on #692
@dsyme What does that do?

[2016-01-10 22:50] enricosada commented on #692
yes @dsyme , it's missing

[2016-01-10 22:51] enricosada commented on #692
to debug arguments, you can add a `-t <directory>` to use a temp directory.
in the temp directory there is the response file used by fsc with arguments

[2016-01-10 23:19] davidfowl commented on #692
Just look in the obj dir, it's there by default after a build.

[2016-01-10 23:25] enricosada commented on #692
better :smile: , thx @davidfowl

[2016-01-11 00:12] anurse commented on #488
As noted in #757, during some other discussions @davidfowl and I are mostly on board with bringing the runtime options into the `project.json` file. They would still be transferred to a "runtime configuration file" (formerly the "deps file") during compilation/publishing, but the `project.json` seemed like a reasonable source for these settings. Having a separate file made sense when it was going

[2016-01-11 03:12] blackdwarf commented on #655
@justinmchase @enricosada so, to summarize, your suggestion is the following:

`dotnet new [lang]/[type]`

Both `[lang]` and `[type]` are optional and they default to C# and console app respectively. We also introduce bash completion to help people find all of the potential options, though for now we will have just two for the types (console application and library) and two for the languages (cs a

[2016-01-11 04:00] piotrpMSFT commented on #777
Thanks @ellismg. @livarcocc is working on a permanent solution for this.

[2016-01-11 04:06] piotrpMSFT commented on #760
@cdmihai can you take a look? I'm hitting a similar issue in dotnet-pack. I'll check if they're related.

[2016-01-11 05:16] piotrpMSFT commented on #760
It looks like somewhere along the way dotnet-compile stopped creating bin/{config}/{tfm} folders when a custom output path was provided. I have a fix that is being tested as we speak.

[2016-01-11 05:27] piotrpMSFT commented on #760
looks like this was somewhat intentional. We'll need to talk about design tomorrow... the current implementation seems wrong.

[2016-01-11 06:22] KevinRansom commented on #692
@davidfowl @enricosada @dsyme The fsharp compiler command line currently needs --targetprofile:netcore --noframework in order to target a portable profile or the coreclr.

This is a legacy of the desktop compiler.

[2016-01-11 07:21] piotrpMSFT commented on #760
even when --output is specified, compile output should go to  {output}/bin/{config}/{tfm}/{rid}. Note, the last element {rid} still needs to get plumbed through the system.

[2016-01-11 07:44] piotrpMSFT opened #781 "corehost deps path override"
When running tools that load their target projects in-process [e.g. test runners like xUnit] we need to allow for the deps file [coming from the project] to be separated from the tool [coming from a Nuget package].

`corehost.exe --tpaFile:"{deps path}" "{dllPath}" {other args}`

/cc @schellap @anurse

[2016-01-11 08:16] schellap commented on #781
Peter, is it needed in coreconsole mode, since in that mode any args have to be forwarded to the target exe?

[2016-01-11 08:19] piotrpMSFT commented on #781
I had planned to include it there, but can make it corehost mode only if that's preferable. Let me know.

Even in coreconsole mode we trim the first arg since it's the app name. This code behaves similarly, conditionally removing the next argument:

[code]

[2016-01-11 08:42] piotrpMSFT commented on #781
expanded code sample to make it more obvious.

[2016-01-11 09:09] #118 closed

[2016-01-11 09:09] #226 closed

[2016-01-11 09:09] #697 closed

[2016-01-11 09:10] #11 closed

[2016-01-11 13:01] akoeplinger commented on #655
I like `dotnet new [lang]/[type]`, it is short and easy to remember :+1:

If you accidentally switch the arguments then you'll just get an error as the combination won't exist.

[2016-01-11 14:52] justinmchase commented on #655
@blackdwarf You could possibly leave off the `dirname` too. Until people complain about wanting to make new projects in other directories regularly it's probably fine to just say it only works on the current dir (similar to `npm init`).

Also, addition of `--templates` option to get a full list of available templates. e.g.:
[code]

[2016-01-11 16:14] cartermp commented on #655
I could easily see someone like myself screwing up the order all the time.  I think that would be fine if there is a helpful error message (e.g. `"library/fsharp" is not a valid combindation.  Did you mean "fsharp/library"?`).

[2016-01-11 16:35] weshaggard commented on #195
I would like to +1 this as this became a huge headache trying to start using dotnet.exe on our build servers, which are running Windows Server 2012 RC2 without the 140 version of CRT on the box.

In case it is useful we needed up needing to deploy the following assemblies locally to run this on a machine without a global 140 CRT.

[code]

[2016-01-11 16:38] weshaggard opened #783 "x86 version of dotnet.exe"
Our build environments require that all tools be x86 so we need an x86 version of the dotnet cli. Perhaps there is one already but I didn't see one on the main page.

As for the reason this is a requirement we do file tracking as part of our official builds and for that to work there is an x86 file driver that gets injected into the process which of course causes that process to crash if it isn't

[2016-01-11 16:47] blackdwarf commented on #655
@cartermp too many jokes...must resist... :))

But yeah, that's my worry as well. We may end up having an invocation mechanism that is prone to these kinds of errors which leads to user dissatisfaction.

@justinmchase people already asked for `dirname` which is why I wanted to include it here.

[2016-01-11 17:16] BillHiebert commented on #760
I am not sure how much of the path should be appended to by dotnet compile. I would only expect it to append the {tfm} since that is the only piece of the path that can't be controlled by the caller. Typically, the project system would add differentiators for {config} and {rid}.  So the the output would go to {output}/{tfm}.

[2016-01-11 17:20] victorhurdugaci opened #784 "Consolidate file copying between compile and publish"
Compile and publish use similar copy code but not identical. Consider consolidating some parts of it.

Related https://github.com/dotnet/cli/pull/767#discussion_r49257712

[2016-01-11 17:39] ctide opened #786 "`dotnet restore` doesn't work on a fresh osx install"
Under the 1.0.1-beta-23516 (I believe, `dotnet` says 1.0.0, but running dnu restore references this version in the project.lock.json file) version of the dotnet tools, dotnet restore doesn't work:

[code]

There is a `dotnet-restore` executable located in `/usr/local/share/dotnet/bin` and other dotnet commands, such as `dotnet new`, do work. `dotnet run`, doesn't work either, saying it can't find

[2016-01-11 17:47] #376 closed

[2016-01-11 17:47] #392 closed

[2016-01-11 17:52] livarcocc commented on #773
Looking.

[2016-01-11 17:55] livarcocc commented on #777
Yes. We are already tracking this here: #500. Closing this one.

[2016-01-11 17:55] #777 closed

[2016-01-11 18:49] spencerhakim commented on #786
+1'ing this, although I get `﻿﻿﻿No executable found matching command "dotnet-dnx"` when running `dotnet restore`.

[2016-01-11 19:01] ajaybhargavb commented on #635
I just tried building Common repo. It still doesn't generate the XML files. @anurse could you please check if the latest build has the fix?

[2016-01-11 19:14] brthor commented on #786
Is this installed via the PKG? Also what version of OSX are you on?

[2016-01-11 19:14] anurse commented on #635
Figured this out in person, we need to set `compilationOptions.xmlDoc` to `true` in the `project.json`. As in https://github.com/dotnet/cli/blob/master/test/TestProjects/TestLibrary/project.json

[2016-01-11 19:14] brthor commented on #775
Are you inside x64 Native Tools Command Prompt?

[2016-01-11 19:23] danroth27 commented on #399
@Eilon I believe we need this for Razor view compilation.

[2016-01-11 19:35] ctide commented on #786
Via PKG, yes, both on El Capitan and on Yosemite.

On Mon, Jan 11, 2016 at 11:14 AM, Bryan Thornbury <notifications@github.com>
wrote:

[2016-01-11 19:47] pakrym commented on #399
This was implemented in https://github.com/dotnet/cli/commit/f05b208ad7b1d4d3c855a0213b1f431ee07cf068
refs folder is created on compile and publish

There is one related issue https://github.com/dotnet/cli/issues/616

[2016-01-11 20:42] spencerhakim commented on #786
Installed via the pkg linked on the dotnet.github.io, running El Capitan.

[2016-01-11 20:57] brthor commented on #786
@ctide Can you post the result of `ls /usr/local/share/dotnet/bin` and `ls -l /usr/local/bin | grep dotnet` (Not sure if OSX has grep by default, but I want to see what symlinks are there)

[2016-01-11 20:59] ctide commented on #786
I had to actually revert back to the older version, as I'm teaching a class
today on c#. If no one else posts it, I'll switch to the newer version
later tonight and can post the output of those.

On Mon, Jan 11, 2016 at 12:57 PM, Bryan Thornbury <notifications@github.com>
wrote:

[2016-01-11 20:59] brthor commented on #778
I think there's two bugs here:
1. `dotnet build` isn't present on Ubuntu (Did you install via apt-get)?
2. Duplicate of #118 (Which should be resolved as of today)

[2016-01-11 21:40] gkhanna79 commented on #195
I just built CLI repo master and corehost.exe that is produced on Windows does not have any MSVCRT import (which does not seem right). @weshaggard Did you get the list above from dumpbin?

[2016-01-11 21:48] gkhanna79 commented on #195
I looked at https://github.com/dotnet/cli/blob/master/src/corehost/cli/CMakeLists.txt - it is already statically linking the CRT into the host as "/MT" is specified (for both Release and Debug builds).

@weshaggard and @Sridhar-MS Please share more details of what is not working. Clearly, corehost is linking CRT statically so that cannot be it.

[2016-01-11 21:48] danroth27 commented on #399
@piotrpMSFT Should this issue be closed?

[2016-01-11 21:51] shahid-pk commented on #778
i installed it on ubuntu from .deb found  on the read me page of this repo a few days ago [when incremental compilaton prs were merged]. I also got exactly this , 'dotnet compile' however worked so i reverted back stable :smile: i mean the version that is going to be stable.
Could it be that ci is not creating .deb packages and they are older ?

[2016-01-11 22:03] factormystic commented on #775
It was just normal command prompt. Switching to the VS 2015 one as you suggests fixes the error. I suppose this should flow into documentation/wiki somewhere? Or is this behavior expected to change by the final release?

[2016-01-11 22:12] brthor commented on #775
This behavior is expected to change (see #301), but indeed this should be in the documentation. I thought it was somewhere but can't seem to find it.

[2016-01-11 22:19] KodrAus commented on #778
Hadn't seen #118 I think that's the main issue I was having. I did install via apt-get, but wasn't actually expecting `dotnet build` to be there. I just typed it without thinking and was thrown by the exception I got back.

`dotnet build` works just fine.

[2016-01-11 22:25] piotrpMSFT opened #790 "Re-enable copying output files to Stage 2 during CLI dev cycle"
https://github.com/dotnet/cli/pull/761

[2016-01-11 23:00] livarcocc commented on #772
I am not sure this is an issue with pack but maybe with dotnet build. Whenever you specify an output for dotnet build, it does not append the framework folders to it. So, dotnet build will put the contents at bin\Debug\dnxcore50, but dotnet build --output bin\debug will put the contents right there. No folders created for the framework.

Maybe we should do that. Also, we probably should unify the

[2016-01-11 23:01] livarcocc commented on #773
PR #791 has a fix for this, however, I believe the discussion going on #772 is extremely relevant this and may lead to a different solution to this problem.

[2016-01-11 23:20] #781 closed

[2016-01-11 23:21] victorhurdugaci opened #792 "Clean up project.json schema (was: Rename "content" to "publishInclude" in project.json)"
- Would pair better with "publishExclude"
- The name is more descriptive

cc @davidfowl @lodejard

[2016-01-11 23:23] #673 closed

[2016-01-11 23:28] blackdwarf commented on #786
Same here. The problem is in lacking symbolic link for dotnet-dnx binary in the postinstall step. Adding that symlink makes the thing work.

[2016-01-11 23:40] blackdwarf commented on #792
@davidfowl can you determine the design here?

[2016-01-11 23:43] blackdwarf commented on #778
Renaming and putting @brthor  on it.

[2016-01-11 23:44] blackdwarf commented on #775
We need to document the fact that you need to run the native compilation within a certain context (cmd prompt).

[2016-01-11 23:50] blackdwarf commented on #765
So far, we haven't really looked at globalization/localization of the toolset, but we will do that at one point so keeping this issue to track.

[2016-01-11 23:53] xperiandri commented on #765
Thanks.

[2016-01-12 00:00] blackdwarf commented on #716
@agocke can you take a look at this?

[2016-01-12 00:04] agocke commented on #716
Is there a repro I can take a look at?

[2016-01-12 00:06] blackdwarf commented on #693
This was fixed in #697.

[2016-01-12 00:06] #693 closed

[2016-01-12 00:09] blackdwarf commented on #678
@gkhanna79 can you comment on this?

[2016-01-12 00:16] gkhanna79 commented on #678
There is already such a switch - it is called --cppcompilerflags. Currently it can only take a single value. https://github.com/dotnet/corert/issues/561 tracks enabling it to be specified multiple times on command line.

[2016-01-12 00:16] gkhanna79 commented on #678
We do not need to add a new switch for this.

[2016-01-12 00:17] blackdwarf commented on #646
Fixed in #697 so closing.

[2016-01-12 00:17] #646 closed

[2016-01-12 00:18] blackdwarf commented on #645
Fixed in #747

[2016-01-12 00:18] #645 closed

[2016-01-12 00:21] blackdwarf commented on #633
Closing as the documentation issue for the context is tracked in #775 . Reopen if you hit this again.

[2016-01-12 00:21] #633 closed

[2016-01-12 00:23] blackdwarf commented on #623
Pass the `--nopackage` option to skip any packaging on build. This should fix it. Reopen if encountered again.

[2016-01-12 00:23] #623 closed

[2016-01-12 00:26] blackdwarf commented on #618
Fixed in #449 . Reopen if encountered again.

[2016-01-12 00:26] #618 closed

[2016-01-12 00:45] brthor opened #794 "Create Single Source of truth for Packaged Commands in Native Installers"
Right now if we change a command name or add a command, we need to make changes in a number of places:

1. https://github.com/dotnet/cli/blob/master/scripts/compile/compile-stage.sh
2. https://github.com/dotnet/cli/blob/master/scripts/compile/compile-stage.ps1
3. https://github.com/dotnet/cli/blob/master/packaging/debian/debian_config.json
4. https://github.com/dotnet/cli/blob/master/packaging/osx

[2016-01-12 01:04] blackdwarf commented on #539
Closing because #538 fixed it.

[2016-01-12 01:04] #539 closed

[2016-01-12 01:05] blackdwarf commented on #535
Fixed with #617 .

[2016-01-12 01:05] #535 closed

[2016-01-12 01:07] blackdwarf commented on #526
Fixed with #767 so closing.

[2016-01-12 01:07] #526 closed

[2016-01-12 01:08] blackdwarf commented on #126
@davidfowl is this still an issue?

[2016-01-12 01:09] blackdwarf commented on #83
@jaredpar @agocke which milestone can we expect something like this to happen in?

[2016-01-12 01:11] blackdwarf commented on #72
F# is done and in. VB remains. @agocke can you take a look at this?

[2016-01-12 01:12] blackdwarf commented on #55
Closing because it is now a part of the standard lib. Reopen if not true. :)

[2016-01-12 01:12] #55 closed

[2016-01-12 01:13] blackdwarf commented on #52
This is probably done. Opportunistic close. Reopen if needed. Fixed by #102.

[2016-01-12 01:13] #52 closed

[2016-01-12 01:14] blackdwarf commented on #67
Closing for lack of activity.

[2016-01-12 01:14] #67 closed

[2016-01-12 01:16] blackdwarf commented on #65
@davidfowl is this still an issue?

[2016-01-12 01:19] blackdwarf commented on #27
Done.

[2016-01-12 01:19] #27 closed

[2016-01-12 01:19] blackdwarf commented on #532
Done in #663

[2016-01-12 01:19] #532 closed

[2016-01-12 01:22] #23 closed

[2016-01-12 01:22] blackdwarf commented on #13
We have this in places. We should review all ofthe cases at some point.

[2016-01-12 01:23] blackdwarf commented on #24
This is done.

[2016-01-12 01:23] #24 closed

[2016-01-12 02:00] #773 closed

[2016-01-12 02:01] brthor commented on #353
I believe this may be the same as #712

[2016-01-12 06:26] piotrpMSFT opened #797 "Build produces empty NuPkg's"
Recent updates designed to enable signing of our libraries before packaging, #734, pointed out some gaps in our build script whereby not all packaged libraries were being built before packing. This meant that when we separated build from pack then these libraries were not being produced and their resultant nupkg's were created as empty.

We need to update our build scripts to build these missing l

[2016-01-12 08:52] piotrpMSFT commented on #351
looks like this got removed before we got to fixing it. Let me know if you still see a related issue... though we'll want to add back the verbose logging at some point :p

[2016-01-12 08:52] #351 closed

[2016-01-12 08:54] piotrpMSFT commented on #680
@devigned the error message should be improved now :) The issue is that we don't have an xunit runner  package quite ready yet. Now back to work on dotnet-test-xunit

[2016-01-12 09:00] piotrpMSFT commented on #523
@cdmihai do you have a proposed design? I'd like to see how it would impact UX for the product.

[2016-01-12 09:03] piotrpMSFT commented on #407
@andschwa, @venkthi1 the ugly error message should be fixed as of #697

With that change in [it also fixed our ability to load commands from NuGet packages], dotnet-test-xunit is not far behind.

[2016-01-12 09:34] dsyme commented on #692
@davidfowl Roughly speaking it tells the compiler to look in System.Runtime instead of mscorlib for basic types.

[2016-01-12 10:23] davidfowl commented on #692
@dsyme why not instead mimic what C# does and allow passing `/noconfig` and just handing over all of the references without an assumption about `mscorlib` or `System.Runtime`? I guess there must be an assumption somewhere about which assembly contains the intrinsic definitions...

[2016-01-12 11:53] clrjunkie opened #799 "Cli project does not compile in VS2015"
1. git clone https://github.com/dotnet/cli.git
2. Open Microsoft.DotNet.Cli.Sln
3. Rebuild Solution

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0117	'MessageTypes' does not contain a definition for 'AllDiagnostics'	Microsoft.DotNet.ProjectModel.Server.Tests.DNX Core 5.0	C:\clrjunkie\cli\test\Microsoft.DotNet.ProjectModel.Server.Tests\Helpers\DthMessageExtension.cs	54	Act

[2016-01-12 11:57] davidfowl commented on #799
/cc @troydai

[2016-01-12 14:26] KallDrexx commented on #716
Unfortunately when I tried to create a reproduction that I could make
public (that wasn't tied to our proprietary code) I encountered other
issues that blocked me from getting to that point.  I had to drop .Net Core
until things are more stable (even for a prototype) so I had to stop
working on it and get back to DNF.

On Mon, Jan 11, 2016 at 6:04 PM, Andy Gocke <notifications@github.com>
wrote:

[2016-01-12 15:29] gkhanna79 commented on #195
@Sridhar-MS Sent this back your way since there is nothing actionable from the host side as it already links CRT statically (see the master branch). If you think the host has issues pertaining to CRT, please share more details.

[2016-01-12 17:04] jwhitmarsh commented on #786
There's a symlink to csc missing too, fixed on my setup with:

[code]

Fresh install on OSX:
[code]

[2016-01-12 17:34] giggio commented on #83
Yes, RC2! \o/

[2016-01-12 17:41] blackdwarf commented on #786
@brthor when did we add a csc executable? I thought we only needed dotnet-compile-csc in the PATH for compile to work?

[2016-01-12 17:43] #742 closed

[2016-01-12 17:54] andschwa commented on #407
That is fantastic news @piotrpMSFT, thanks for the update!

[2016-01-12 18:30] Sridhar-MS commented on #195
Corehost statically links the CRT libs. But coreclr does not do that. Here is the dumpbin output of coreclr.dll

Microsoft (R) COFF/PE Dumper Version 14.00.23026.0
Copyright (C) Microsoft Corporation.  All rights reserved.

    msvcrt.dll
    api-ms-win-core-winrt-l1-1-0.dll
    api-ms-win-core-winrt-string-l1-1-0.dll
    api-ms-win-ro-typeresolution-l1-1-0.dll
    api-ms-win-core-winrt-roparamete

[2016-01-12 18:34] BillHiebert opened #801 "ProjectModelServer - Modifying project.json does not send new data to the host"
@troydai

[2016-01-12 18:35] BillHiebert opened #802 "ProjectModelServer - Dependencies data is not compatible with previous versions of the design time host"
The biggest issue is the use of the fx/ prefix to denote framework assemblies.

[2016-01-12 18:36] BillHiebert commented on #802
@troydai

[2016-01-12 18:42] KevinRansom commented on #692
@davidfowl I'm sure we will end up doing something with the command line to make it less ungainly, the suggested model seems perfectly workable.  The legacy that is the current command line options have been in the product for a long time, and will need to continue to work.  We currently have a bunch of higher priority work than cleaning up the cl options.  Especially since the dotnet cl tool will

[2016-01-12 18:50] muratg commented on #399
@pakrym Good to close?

[2016-01-12 18:52] moozzyk opened #803 "Restoring "tools" fails if a project is in a folder containing a space"
Error: Unrecognized command or argument __'Studio'__

[code]

[2016-01-12 18:56] brthor commented on #803
Likely same issue as #525

[2016-01-12 19:00] piotrpMSFT opened #804 "Beta Release Documentation"
We will expand this. For now keeping notes on what is needed:
- Versioning breaking change documentation
- Uninstall instructions for pre-beta

[2016-01-12 19:02] blackdwarf commented on #804
Moar needed!!

* Release notes
* Known issues
* Updated install instructions for all paths
* List of all the enviornment variables

[2016-01-12 19:03] moozzyk commented on #803
@brthor - dotnet restore doesn't show the stack trace but the error message is exactly the same so you are probably right. I will close as a dupe then.

[2016-01-12 19:03] moozzyk commented on #803
dupe of #525

[2016-01-12 19:03] #803 closed

[2016-01-12 19:09] Sridhar-MS commented on #195
I am able to run the dotnet CLI tools on a vanilla Windows 10 machine. The coreclr is dynamically linked against Windows CRT library msvcrt.dll which can be found in c:\windows\system32.

@weshaggard It seems like @schellap had recently made the change to statically link the CRT libs. Can you give it a try with the latest dotnet CLI bits?

[2016-01-12 19:18] BillHiebert opened #805 "ProjectModelServer - Framework friendly names don't match previous version of the DTH"
@troyDai

[2016-01-12 19:19] schellap commented on #195
@gkhanna79 and @Sridhar-MS, thanks for confirming corehost works, I spun off a VM to verify but couldn't get to it last night. The api* is the tell, the host doesn't need these files.

**Note** I made the change to include the CRT in the corehost but not coreclr.

[2016-01-12 19:51] #754 closed

[2016-01-12 20:09] glennc opened #806 "DOTNET_PACKAGE_CACHE needs to win over app_local"
This is a spec and host change. Assembly loading order should be:

   1. Servicing: First so that the serviced assemblies always win
   2. Dotnet_Packages_cache: 2nd so that assemblies can be pre-installed in location in environments like Antares and have the host load assemblies from a faster disk.
   3. App_Local: When I have published most, if not all, dependencies are here so by default this i

[2016-01-12 20:16] schellap commented on #806
Will get the PR out soon. @glennc have you already deployed the host. I am asking to gauge how much testing the host has seen.

[2016-01-12 20:23] glennc commented on #806
We are spinning up some perf benchmarks at the moment that use the host to run a web application on Azure. So not a great deal of testing yet, just starting to ramp up on things using the host.

[2016-01-12 20:41] victorhurdugaci opened #807 "Copy the config file for published dlls"
When you compile a test dll we produce the `<dll>.config` file during `dotnet build` but if you run `dotnet publish` the file is not included in the output.

We need them for xunit tests. Blocking ASP.NET build.

cc @pakrym @anurse

[2016-01-12 20:42] victorhurdugaci commented on #807
Also, make sure the config files gets published.

[2016-01-12 21:18] livarcocc opened #809 "Dotnet restore fails on OSX with too many open files error - need a generic solution for different projects"
Just run build.sh on the Mac.

I got a bunch of these at first:

Warning: FindPackagesById: System.Reflection.Emit.Lightweight
  Too many open files

And then it turned into an error.

[2016-01-12 21:28] livarcocc commented on #809
@brthor Suggested a workaround, just run ulimit -n 512. We still need to prevent this from ever happening though.

[2016-01-12 21:28] victorhurdugaci commented on #807
Related: https://github.com/xunit/xunit/issues/732

[2016-01-12 21:37] moozzyk opened #810 "`dotnet publish` publishes all frameworks to one folder if -o specified"
If the output folder is specified and the project.json contains multiple frameworks `dotnet publish` will publish everything into the folder specified by the user.
It would make sense to treat the output folder specified by the user as a root under which the entire structure of Configuration/Framework/Runtime is created - at least if project.json contains more than one framework.

https://github.c

[2016-01-12 21:40] moozzyk opened #811 "`dotnet restore` leaves temporary folders behind"
Each time a project is restored a temporary folder is being created and left behind (empty) e.g (notice the guid folders):

[code]

[2016-01-12 21:41] victorhurdugaci commented on #807
Updated the bug. It turns out that the file is produce on build but not copied on publish. So, just change the code to include this file.

[2016-01-12 21:51] spencerhakim commented on #764
I'd love it if there was a Homebrew formula, was never clear on why `dnx` has one but `dotnet` doesn't.

[2016-01-12 22:00] blackdwarf commented on #764
@spencerhakim it is coming soon-ish.

[2016-01-12 22:01] stephentoub opened #812 "`dotnet run` doesn't handle ctrl-c well"
Porting issue https://github.com/dotnet/corefx/issues/5339...

Even if the app being run has a CancelKeyPress handler, the SIGINT generated by typing ctrl-C goes to the `dotnet run` process, killing it.

[2016-01-12 22:20] christianspecht opened #813 "The output of `dotnet publish` doesn't work on a machine without .NET Core installed"
*Note: I posted this [as a question on Stack Overflow first](http://stackoverflow.com/q/34580599/6884), because I thought I was doing something wrong.*

My example project is here:
https://github.com/christianspecht/CoreTestVisualStudio

- I created a new project in Visual Studio Community Edition:
*"New Project" ⇒ "Web" ⇒ "Console Application (Package)"*

- I created a new publish profile inside

[2016-01-12 22:30] krwq commented on #797
I think this is also a good chance to add some warning/error to nuget pack whenever output nuget package is empty

[2016-01-12 22:34] davidfowl commented on #797
Sounds good

[2016-01-12 22:41] chuck-mitchell opened #814 "dotnet restore seems to restore references to Windows modules on Linux"
I have a project with the project.json specified at the bottom of this issue.
Works fine on Windows.  On Linux I do the following then try to run the application.

dotnet restore
dotnet compile
bin/Debug/dnxcore50/app.exe

And get the following:

System.DllNotFoundException: Unable to load DLL 'api-ms-win-core-errorhandling-l1-1-0.dll': The specified module could not be found.

file project.json:

[2016-01-12 22:46] davidfowl commented on #814
You should be referencing the standard library. Try making a new project with `dotnet new` (after making a folder for the application and navigating to that folder). It has the correct references.

[2016-01-12 22:47] davidfowl commented on #814
See http://dotnet.github.io/ for more details

[2016-01-12 22:50] #778 closed

[2016-01-12 22:51] cdmihai commented on #523
I don't think this would impact the user. The change suggests replacing the hard coded paths from below with parameters, that would probably get sent to TryResolveCommandSpec and then trickled down (or maybe transform CommandResolver into a non static class whose instances get constructed with them)
- https://github.com/cdmihai/cli/blob/8274f5285b4dd45ab73e12e26033d3428457de5e/src/Microsoft.DotNet

[2016-01-12 23:06] chuck-mitchell commented on #814
I started out by doing that, and adding the references to other modules required by my program like XML reader, file IO, process control.   This is what "dotnet new" gives you and it is a subset of the my project.json.

{
    "version": "1.0.0-*",
    "compilationOptions": {
        "emitEntryPoint": true
    },

    "dependencies": {
        "Microsoft.NETCore.Runtime": "1.0.1-beta-*",
        "S

[2016-01-12 23:21] #806 closed

[2016-01-12 23:24] brthor commented on #525
Some notes on the progress here.

This is more complex than just quoting args before forwarding them. There are a number of cases to consider. Args are processed before receiving them in our `string[] args` array in main. We need to make sure that the next process the driver forwards to receives the exact same `string[] args`. To do this we need to undo the processing which took place, or find a w

[2016-01-12 23:59] troydai commented on #805
/cc @davidfowl
@BillHiebert how critical is this issue? I assume we use the friendly name for display only, right? In that case, do we have an agreement on what's the friendly name should look like for frameworks?

[2016-01-13 00:01] troydai commented on #799
@clrjunkie can I know what's the version of the VS? And what's the tooling DNX being used in this case (defined in global.json).

[2016-01-13 00:08] BillHiebert commented on #805
It is pretty important, as it appears in the solution explorer, error list, intellisense context dropdown, etc. The friendly name comes from the frameworklist.xml files for desktop frameworks and I think the old DTH used to extract it from there. Not sure where the one for dnx came from.

[2016-01-13 00:15] davidfowl commented on #805
Super critical and easy to do

[2016-01-13 00:44] gkhanna79 opened #819 "Enable dotnet-resgen-<lang> support for CLI"
There is a need to allow dotnet-resgen to generate .NET Core compliant and strongly typed resource access code as part of the CLI infrastructure. The high-level principle is to ensure that there is an extensible way to generate the strongly type code for resource access as CLI is extended to support new languages. In this paradigm:
1.  Each language compiler that supports CLI will also support a d

[2016-01-13 01:29] natemcmaster commented on #166
+1 for sooner than RTM. Would help make aspnet build scripts cleaner

[2016-01-13 01:31] natemcmaster commented on #166
...not to mention it will save on each bug report when you need to ask the issue author "which version of cli are you using?"

[2016-01-13 01:51] davidfowl commented on #814
Update your dotnet, that template looks old

[2016-01-13 02:28] piotrpMSFT commented on #811
thanks @moozzyk

I already moved these temporary folders int Temp in a non-merged PR. I'll let you know once that's merged.

[2016-01-13 02:57] piotrpMSFT commented on #813
@christianspecht the CLI is not yet integrated with Visual Studio. Try publishing via the command line interface instead! Please re-open the issue if you see the same behavior from the CLI.

[2016-01-13 03:49] chuck-mitchell commented on #814
I just re-installed dotnet, "apt-get install dotnet".   "dotnet new" still gives me the same project.json.
Do you see something different?   What?

[2016-01-13 05:01] davidfowl commented on #166
It's there now

[2016-01-13 05:08] weshaggard commented on #195
I was running this and seeing the missing dependencies and also ran depends.exe to see them. However that was an older version (https://github.com/dotnet/cli/commit/91acc03a137c4dd6d44ca17aa7ce2078824cc672). I just checked a more recent one and I also can confirm that this looks like it is correctly statically linked now. Thanks.

[2016-01-13 05:12] schellap commented on #195
The clihost doesn't have its own version of the CRT so that needs to be fixed.

[2016-01-13 05:38] christianspecht commented on #813
@piotrpMSFT: unfortunately, I'm not able to re-open the issue myself. But IMO it should be re-opened.

I **did** try to publish via the command line interface.
Here's the short version of the long text in my issue:

0. create project in Visual Studio, publish via Visual Studio
⇒ the result works on a machine without .NET Core installed

0. go to the command line (i.e. outside Visual Studio) and tr

[2016-01-13 08:59] manu-silicon opened #822 "Issue when building corert"
I currently cannot build corert if in the cross folder I have build  the rootfs folder. The issue is the dotnet restore command. Even without executing the restore but just querying the help it will fail. For example, in the ```home/Microsoft/corert/``` folder I'm executing the following:

[code]

As you can see it fails because in the cross folder the path ```/home/Microsoft/corert/cross/rootfs/a

[2016-01-13 10:23] clrjunkie commented on #799
@troydai

Microsoft Visual Studio Community 2015
Version 14.0.24720.00 Update 1
Microsoft .NET Framework
Version 4.6.01038

ASP.NET and Web Tools 2015 (RC1 Update 1)   14.1.11120.0

For which project?

Here is the one for Microsoft.DotNet.Cli

[code]

[2016-01-13 12:27] shahid-pk commented on #814
@chuck-mitchell he means install dotnet manually by downloading the .deb from the read me page by first uninstalling the one you get from apt-get.Because The one installed with apt-get is old and will be updated with in the next few weeks.
Or wait a week or two :smile:

[2016-01-13 12:47] stefanoric commented on #786
+1

[2016-01-13 12:54] stefanoric opened #823 "dotnet run fails on Mac OS X"
Trying to run http://dotnet.github.io/getting-started/ on MacOS, even after circumventing the problem with dotnet restore adding missing links (see https://github.com/dotnet/cli/issues/786) I get the following error:

$ dotnet --version
.NET Command Line Tools (1.0.0)
Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.10
 OS Platform: Darwin
 Runtime Id:  osx.10.10-x64

[2016-01-13 13:46] chuck-mitchell commented on #814
I am new to Linux.   I uninstalled the old dotnet.    Do I use the Software Center to install the Debian Package?   Or do I save file and install a different way?

[2016-01-13 16:14] clrjunkie commented on #799
@troydai

The global.json file that's placed in root just contains:

[code]

[2016-01-13 16:54] blackdwarf commented on #823
@stefanoric will take a look.

[2016-01-13 16:57] KrzysztofCwalina opened #824 "Don't put API sets into the bin folder of the dotnet CLI installation when on Win8+"

[2016-01-13 17:05] natemcmaster commented on #166
Can we add revision number? "1.0.0.xxxx"

[2016-01-13 17:07] blackdwarf commented on #823
Yup, this repros. Now, we didn't have to symlink dylib files into /usr/local/bin before.

@anurse @brthor what changed? The fix is, of course, trivial, but would like to understand what are all the files that we need to symlink to do it in one go.

[2016-01-13 17:25] cdmihai opened #825 "Move all dependency copying from Compile into Publish"
I've noticed that after the compile verb invokes CSC (it's main job), it starts doing a lot of stuff that's similar to what publish should do: it copies over dependencies, it copies the host, generates the deps file (this one is somewhere in between). I suggest that the following code be moved into publish: https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Compiler/Program.cs#L3

[2016-01-13 17:26] cdmihai commented on #729
Subsumed by #825

[2016-01-13 17:47] anurse commented on #823
/cc @schellap sounds like a result of #780

[2016-01-13 17:47] blackdwarf commented on #823
/cc @schellap as well.

[2016-01-13 18:09] livarcocc commented on #813
Reopening on behalf of @christianspecht

[2016-01-13 18:19] troydai commented on #799
@clrjunkie thanks for the information, let me try it out with community VS.

[2016-01-13 18:21] moozzyk commented on #811
:+1:

(just curious, are they getting deleted from temp or still will be left behind?)

[2016-01-13 18:25] natemcmaster opened #827 "`dotnet restore` fails when double-quotes used in PATH env var"
On Windows 10, using 1.0.0.1452673922

To repro: run `init-tools` from corefx.

[code]

[2016-01-13 18:27] clrjunkie commented on #799
Windows 10

[2016-01-13 18:30] troydai commented on #799
Ah, @clrjunkie this is actual compiling error in our code. The test code are not built or verified in CI now so we didn't capture that. I'll update the code. https://github.com/dotnet/cli/pull/828

[2016-01-13 18:35] #799 closed

[2016-01-13 18:35] kkoning commented on #786
I still had problem after jwitmarsh's suggestion above.  I got the error message:

[code]

However, adding the following symlink allowed me to run the simple hello world sample.

[code]

[2016-01-13 18:38] gkhanna79 commented on #195
@schellap Please fix it before EOW.

[2016-01-13 18:39] clrjunkie commented on #799
So if I clone it will it work?

[2016-01-13 18:39] troydai commented on #799
Yes, please pull the latest `master`.

[2016-01-13 18:58] natemcmaster commented on #827
Found the offender: `%PATH%` included a double-quotes enclosed path, `...;"C:\Program Files\dotnet\bin";...` Removing the double quotes fixes the crash.

[2016-01-13 19:15] blackdwarf commented on #786
@kkoning yes, thewe are tracking that in #823.

[2016-01-13 19:22] clrjunkie commented on #799
@troydai Thanks, now it build Ok.

Question:

Believe it or not, but I prepared my own “dotnet” based on the C++ CoreRun project because I couldn’t understand how to execute a simple console application on the command line that references corefx dll's, so I resorted to self hosting the CLR and now I can execute a Main() :)

Now from initial look at the CLI Projects what I understand is that Micros

[2016-01-13 21:53] livarcocc commented on #809
#818

[2016-01-13 22:12] #775 closed

[2016-01-13 23:05] brthor opened #832 "Add PreReqs Check for debian package build to build."

[2016-01-13 23:33] brthor commented on #823
On osx corehost is copied to /usr/local/bin as a workaround to dotnet/coreclr#2128

Seems like this could be the root cause here.

[2016-01-13 23:45] markrendle opened #834 "Arch Linux support: can I help at all?"
Sorry, don't know where else to ask the question.

I'm using Arch Linux (well, Manjaro). It's not clear why the distro is restricted, but if there's anything I could do to help get Arch supported, I'd be happy to try.

[2016-01-13 23:48] anurse commented on #576
This is blocking some ASP.NET scenarios so I'm going to jump on it. Should be easy

[2016-01-13 23:50] gkhanna79 opened #835 "CLIHost should statically link CRT for Windows"
https://github.com/dotnet/cli/issues/195#issuecomment-171169228

[2016-01-14 00:07] #28 closed

[2016-01-14 00:28] krwq commented on #181
@brthor is working on similar issue and this should go away when he merges his work. Please assign back if there is more issues than what you're working on right now.

[2016-01-14 00:33] #823 closed

[2016-01-14 00:34] gkhanna79 commented on #490
@davidfowl @andschwa Let me know if this is still an issue. Keep in mind that LoadFromAssemblyPath needs to specify assemblies that are *not* on TPA list. Otherwise, their load is blocked by design.

[2016-01-14 00:44] brthor commented on #674
Created a blank azure vm, installed latest `dotnet-dev` package, and confirmed there are no missing dependencies.

@blackdwarf are you checking OSX?

[2016-01-14 01:11] Sridhar-MS commented on #649
@agocke Can you confirm that teh roslyn version `1.2.0-beta1-20160108-01` [used in the CLI](https://github.com/agocke/cli/blob/master/src/Microsoft.DotNet.Compiler.Common/project.json#L12) is
- pinned in myget?
- PDBs indexed?
- git tags added to the source code?

[2016-01-14 01:13] agocke commented on #649
@Sridhar-MS That build has been uploaded to NuGet: https://www.nuget.org/packages/Microsoft.Net.Compilers.netcore/1.2.0-beta1-20160108-01

As for the rest, @brettfo I know some of the indexing services were down last, how are we doing on that? And do we still need to create a tag for the latest toolset?

[2016-01-14 01:18] krwq commented on #728
Hey @tthiery, thanks for reporting this issue. I've experienced similar thing and reported a bug to NuGet: https://github.com/NuGet/Home/issues/1920

I believe if you push them separately the symbol package will go to the symbol server and bulk push will treat all of them as regular packages. I believe that this is purely nuget issue but @anurse would need to confirm if there is something we need

[2016-01-14 01:31] brthor commented on #319
Will try to repro this after fix for #525 comes in, expecting it is the same issue.

[2016-01-14 01:32] davidfowl opened #838 "Incremental compilation doesn't work when using CLI built from source"
Not sure if this is a problem with a CLI built from source or one put on the PATH after unzipping but here's what I see on my mac.

[code]

/cc @cdmihai

[2016-01-14 01:33] brthor opened #839 "Remove -f myget workaround in dotnet-restore"
When https://github.com/dotnet/cli/pull/837 goes in, a workaround for #615 will be in place.

This workaround adds "-f https://myget.org/f/dotnet-core" to any restore which is done, so prevent needing to drop a NuGet.config during dotnet new.

Whey stdlib is pushed to Nuget.org we should remove this workaround.

[2016-01-14 01:37] davidfowl commented on #839
That change looks like a bad idea. Dropping a nuget.config is much less magic. And you can turn it off. Baking a switch into code like that will cause all sorts of problems.

[2016-01-14 02:08] blackdwarf opened #841 "dotnet-compile --native not working on OS X"
Repro steps:

Install PKG
[code]

This gives the following error:

[code]

[2016-01-14 02:09] brthor commented on #841
Root cause here is likely https://github.com/dotnet/coreclr/issues/2128

[2016-01-14 02:11] davidfowl commented on #835
YES

[2016-01-14 02:13] brthor commented on #839
Agreed it's less magic, but what would break?

@ericstj and @piotrpMSFT were not big fans of dropping the NuGet.config, so trying to find a cleaner way.

[2016-01-14 03:04] chuck-mitchell commented on #814
I downloaded manually from the .deb.   I can "dotnet restore" and "dotnet compile",  but when I "dotnet run"   it can't find coreclr.   Shouldn't that get installed?

[2016-01-14 03:20] brthor commented on #814
@chuck-mitchell Ran into this as well today.

This is the result of some versioning and name changes coming through and will be fixed shortly.

As a workaround try this
[code]

[2016-01-14 04:06] agocke commented on #649
I've tagged the release myself here: https://github.com/dotnet/roslyn/releases/tag/version-1.2.0-beta1-20160108-01

[2016-01-14 04:11] davidfowl commented on #824
How would you know not to?

[2016-01-14 04:39] anurse commented on #728
The package ID is, I believe, expected to be identical. It does sound like there is a NuGet issue here.

Regardless, the safest workaround would definitely be to manually filter `*.symbols.nupkg` files out from the list of files you publish.

I think this is probably up for closing, since there is a NuGet issue tracking this and there isn't actually a dotnet-cli change here.

[2016-01-14 04:41] ericstj commented on #839
@davidfowl how did DNX do this in pre-release?  Did it have a Nuget.config in the bin dir?

[2016-01-14 04:59] chuck-mitchell commented on #814
I get a little farther.    My program uses XML, but I don't see any System.Xml* assemblies in there.

[2016-01-14 07:42] piotrpMSFT commented on #839
We want to avoid folks checking in a NuGet.config that points them to a pre-release feed. This is a workaround for a point-in-time problem since we don't have bits on nuget.org that folks can use yet. I'm also curious, however, about the DNX experience.

[2016-01-14 07:43] piotrpMSFT commented on #838
@cdmihai  and I chatted about this today and he plans to look into this.

[2016-01-14 07:48] piotrpMSFT commented on #834
The support matrix for CLI is driven by that of https://github.com/dotnet/corefx. Since we are tooling for [and built upon] CoreFx we cannot make headway in directions where the Framework is not available.

I did a quick search and found this issue https://github.com/dotnet/corefx/issues/1641 which seems related. I think the best way to help would be to follow up in CoreFx to start with and then h

[2016-01-14 07:48] #834 closed

[2016-01-14 07:57] piotrpMSFT commented on #827
Thanks @natemcmaster looks like a bug in our CommandResolver. This should affect every command, though, not just restore. Did you find that to be the case?

[2016-01-14 08:09] piotrpMSFT commented on #825
@cdmihai I think we should split this into two issues, one for the shipping verbs and another for our build scripts.

### Shipping Verbs
For our shipping verbs, the distinction is intentional but there may be opportunity to converge a bit. The difference between compile and publish is that compile generates a locally runnable executable [deps file pointing to all Nuget dependencies, local copy of

[2016-01-14 08:19] piotrpMSFT commented on #822
is `/home/Microsoft/corert/cross/rootfs/arm64/usr/lib/ssl/private` the folder you are trying to restore? How is it getting into the picture?

Is the bug that you are running restore from a parent folder of `private`, `/home/Microsoft/corert/` for example, and restore is failing because it is probing for all project.json files under that directory, failing to  probe into the directory in question?

[2016-01-14 08:25] manu-silicon commented on #822
Yes, the folder in which I run the ```dotnet restore --help``` is /home/Microsoft/corert. But why would the ```--help``` causes a lookup in subfolder?

[2016-01-14 08:26] piotrpMSFT commented on #814
If you need additional dependencies that are not in the standard library, you can pick them up from https://github.com/dotnet/corefx. The [MyGet Gallery](https://www.myget.org/gallery/dotnet-core) will list specific package IDs and versions.

[2016-01-14 08:38] #801 closed

[2016-01-14 08:39] troydai commented on #801
Fixed in https://github.com/dotnet/cli/commit/4344af3c1b27d8385c4e491b197e311c95590853

[2016-01-14 08:39] piotrpMSFT commented on #813
@christianspecht sorry for closing too fast. I did miss that you dontet-published. This looks like a duplicate of #835 [though that one was created after this one :)] Can you try installing just the C++ Runtime, as you suggested, and validating that this unblocks you? If so, #835 should indeed fix this.

[2016-01-14 09:12] piotrpMSFT commented on #811
They get deleted on the happy path, but the command has not been hardened against exception scenarios [yet].

[2016-01-14 10:48] davidfowl commented on #792
Yar

[2016-01-14 10:48] davidfowl commented on #417
@giggio Take a look at samples here https://github.com/davidfowl/dotnetcli-aspnet5

[2016-01-14 11:33] giggio commented on #417
@davidfowl So we are back to the old model where all apps produce an `.exe` and we run it directly. There will be no more `dnx <command>`? Is this written down anywhere so I can read more about it?

[2016-01-14 11:50] xanather commented on #813
Sorry, this may be slightly unrelated, but is there a timeframe on the dotnet CLI visual studio integration, is a alpha/beta release possible? .NET Core w/ CLI seems to work good already, however not being able to debug .NET Core CLI programs in visual studio and trying to make it somewhat work with the old DNX tools is problematic.

[2016-01-14 15:35] shahid-pk commented on #417
@giggio  commands are still their in dotnet/cli not sure how much they are similar to what commands were in dnx.
for example look at this pr https://github.com/dotnet/cli/pull/727.
I think they are packaged applications which you can invoke from dotnet/cli. I may be wrong

[2016-01-14 16:33] gkhanna79 commented on #490
Here is the repro I constructed, which compiled and executed successfully with CLI:

https://gist.github.com/gkhanna79/271d90f49b74d1336fc1

[2016-01-14 16:51] KrzysztofCwalina commented on #824
If the OS == Win and Ver > 8+, don't put them in. These api sets are not needed on Win 8+, or so I thought.

[2016-01-14 16:55] davidfowl commented on #824
We're not going to hardcore anything like that into the cli tools. Maybe the packaging needs to change or the way we infer rids needs to change. I believe we default to win7 if no runtimes are specified

[2016-01-14 17:05] natemcmaster commented on #827
I didn’t try anything other than restore…hard to compile w/o dependencies

[2016-01-14 17:09] KrzysztofCwalina commented on #824
I think it's fine to default to Win7 (when no version is specified) for the software dotnet-cli produces. Possibly I was not clear, I am talking about the bin folder of dotnet-cli itself. When I install dotnet-cli on Win8, I will never need the api sets.

[2016-01-14 17:13] #399 closed

[2016-01-14 17:15] davidfowl commented on #824
The API sets are coming from packages referenced by the application. Because we default the RID to win7 on a windows box, you end up getting the API sets in the runtime graph.

You want to us to produce a dotnet CLI for win7 and win8?

/cc @ericstj

[2016-01-14 17:18] ericstj commented on #824
Some API sets are needed on win8 and even some on win8.1.  The packages do have the granularity to distinguish what is needed where.  When resolving for the specific RID you are running on you should get the right set.

[2016-01-14 17:21] davidfowl commented on #824
This issue is pretty ambiguous. I'll update the title but I still think it's a bad idea.

[2016-01-14 17:23] piotrpMSFT commented on #827
I thought there may have been a 'new' in there somewhere. Thanks.

[2016-01-14 17:25] KrzysztofCwalina commented on #824
Why is it a bad idea? In general, I think we pollute output folders too much with unnecessary api sets.

[2016-01-14 17:39] victorhurdugaci opened #844 "Null ref during tools restore"
@piotrpMSFT I get a null ref during tools restore

Use this project.json:

[code]

and this NuGet.config:

[code]

Run `dotnet restore`:

[code]

[2016-01-14 17:46] andschwa commented on #490
@gkhanna79 Ah, that would be what I saw then. Since it's a `dotnet-cli` published app, all the assemblies at start are in the TPA. The app then *reloads* them (by path!) to cache the types in the assemblies. I'll see if I can fix the logic so that it doesn't use the path to load them.

Thanks for the information.

[2016-01-14 17:46] #749 closed

[2016-01-14 17:47] davidfowl commented on #490
@gkhanna79 We need to make the TPA list unspecial

[2016-01-14 17:52] tzwlai opened #845 "dotnet run: Access to path... AppData\Local\Application Data is denied"
Filing this on behalf of @bendono from https://github.com/dotnet/coreclr/issues/2590:

Following the .NET Core installation instructions for Windows, I issue the command "dotnet run". This results in the following error: Access to path... AppData\Local\Application Data is denied

![dotnet_error](https://cloud.githubusercontent.com/assets/846533/12213548/93aa118c-b6bd-11e5-9212-a35f48b190be.png)

P

[2016-01-14 18:02] anurse commented on #468
I think @schellap and @gkhanna79 own this now, right? This is definitely important for RTM since we expect ASP.NET applications to run on Nano Server. @moozzyk may have some insight from our own porting efforts for DNX.

/cc @piotrpMSFT

[2016-01-14 18:12] troydai commented on #802
Fixed in ce3e719

[2016-01-14 18:12] #802 closed

[2016-01-14 18:13] troydai commented on #805
Fixed in ce3e719

[2016-01-14 18:13] #805 closed

[2016-01-14 18:28] anurse commented on #483
I think @pakrym is working on this now. Do you have a bug for tracking that already @pakrym ?

[2016-01-14 18:29] pakrym commented on #483
Yep, https://github.com/dotnet/cli/issues/66

[2016-01-14 18:30] anurse commented on #459
This is tracked in other issues now and via the spec

[2016-01-14 18:30] #459 closed

[2016-01-14 18:31] #483 closed

[2016-01-14 18:31] anurse commented on #483
This is a dup then. Thanks!

[2016-01-14 18:49] cdmihai commented on #729
Reopened to track issue separately, as suggested by https://github.com/dotnet/cli/issues/825#issuecomment-171567864. I will also copy paste Peter's response regarding the build script in order to have continuity for this issue.

[2016-01-14 18:50] cdmihai commented on #729
Copy pasting @piotrpMSFT's response from #825:

*__Build Scripts__*

_Note that the restore of the runtime is used to generate the Runtime folder which is then used for runtime of CLI-produced apps. Publish copies that same runtime into the Bin directory for use by the CLI tooling. In order to clean this up [and significantly reduce package size] we need to add another probing path to the corehost

[2016-01-14 19:00] cdmihai commented on #729
I agree that package size might be an issue, and therefore DOTNET_HOME probing.

However, with this approach it would be good if this approach:
- does not lock users on a certain runtime version and allow them to use different runtime versions for different apps. This means allowing users to specify their runtime version in their project.json and then doing some magic to get restore and load those

[2016-01-14 19:04] cdmihai commented on #825
I revived #729 for the runtime / build script and renamed this issue to cover the shared responsibility of Compile and Publish

[2016-01-14 19:13] cdmihai commented on #825
Concerning Compile and Publish, it seems to me that what Compile is doing is a local machine flavor of Publish.

Is it correct to say that while Publish is producing a TFM+RID flavor of dependencies, Compile is doing a TFM+local flavor of dependencies. So basically Compile is doing a mini Publish. What happens if a user compiles for full framework on windows, but then publishes for net core on Lin

[2016-01-14 19:33] gkhanna79 commented on #468
Yes, @schellap owns it. However, I am not sure if this can make RC2 but can be done for RTM. I will move this to RTM - let me know if anyone feels otherwise.

CC @leecow

[2016-01-14 19:33] Sridhar-MS opened #846 "Separate package and publish scripts"
Today the package scripts call the publish scripts after generating the packages.
https://github.com/dotnet/cli/blob/master/scripts/package/package-zip.ps1#L42
https://github.com/dotnet/cli/blob/master/packaging/windows/generatemsi.ps1#L156

Publishing of all the packages must be done as the last part of the build. Otherwise we may end up in a scenario where zips are published but MSI generation f

[2016-01-14 19:35] blackdwarf commented on #841
@brthor we can. However, they are not pretty. :)

[2016-01-14 19:37] Sridhar-MS commented on #846
As a part of fixing this also move MSI version [generation](https://github.com/dotnet/cli/blob/master/scripts/build/generate-version.ps1#L17) to [generatemsi.ps1](https://github.com/dotnet/cli/blob/master/packaging/windows/generatemsi.ps1).

[2016-01-14 19:53] brthor commented on #846
:+1:
This would be a good improvement IMO. Following the codepaths from each package to the publishing of that package can be somewhat confusing.

[2016-01-14 20:01] kouvel commented on #652
I'll take a look at this

[2016-01-14 20:13] BillHiebert opened #847 "ProjectModelServer - Signing options returned by DTH are not quite right"
The compilation settings returns a bool for the PublicSign option. This option is true if the user has chosen to use OSS signing. The DTH needs to return the hardcoded public key as a byte array (like the previous version did), instead of the bool value.

[2016-01-14 20:15] BillHiebert opened #848 "ProjectModelServer - compilation options missing warning level and warning suppression options"
@troydai
These two options are pretty important especially since the old DTH returned 3 hardcoded C# warning suppressions

[2016-01-14 20:15] BillHiebert commented on #847
@troydai

[2016-01-14 21:06] piotrpMSFT opened #850 "CoreHost should pick up AppBase from Deps Path if specified"
When we added the --depsfile path override to corehost we did not augment AppBase logic. Deps file is expected to be located in the AppBase directory and thus, when overridden, its parent directory should be treated as the AppBase.

[2016-01-14 21:24] davidfowl commented on #850
What's up with this weird logic?

[2016-01-14 22:33] krwq commented on #765
Thanks for reporting this!

[2016-01-14 22:35] krwq commented on #738
This might be a Windows console issue. I actually just saw letter 'r' missing when using 'git clone' ('eceiving objects'). (we need to consider this possibility when investigating this)

[2016-01-14 23:13] cesarbs opened #854 "Allow project references to be used as tools"
Currently tools only work as package references. If I try to use a project reference as a tool, I get a "not found" error.

It would be interesting to have the option of using project references as tools in cases where there's a tool specific to a single project's build. Having to publish a separate package for the tool is cumbersome.

An example is Kestrel, which has two projects under `tools\` (

[2016-01-14 23:16] abpiskunov opened #857 "ProjectModelServer : send References before Dependencies"
When updating a tree in Solution Explorer we need both references and dependencies, however updates happen after dependencies are sent. It is hard to time them reliably so we want references to be sent before dependencies.
We do have a throttle to handle cases when references received later, but it would be more reliable if we switch order.

[2016-01-14 23:19] abpiskunov opened #858 "ProjectModelServer: Exception when opening project and there no project.lock.json yet (no any snapshot sent)"
When open existing project that has no project.lock.json file, DTH console shows exception and no any snapshot is sent after that:

[code]

[2016-01-14 23:22] davidfowl commented on #858
What did it do before?

[2016-01-14 23:24] troydai commented on #858
The exception should be suppress first. There should be error in `DependencyDiagnostics` suggesting IDE to restore.

[2016-01-14 23:29] abpiskunov commented on #858
continue with normal initialization and initial snapshots, then tooling would know that restore needed based on them . Now we don't have any data.

[2016-01-14 23:30] danroth27 commented on #181
https://github.com/dotnet/cli/issues/525

[2016-01-14 23:46] #576 closed

[2016-01-14 23:55] cdmihai commented on #838
@davidfowl

I could not reproduce the issue on my OSX vm:
- CLI builds itself incrementally
- tests pass
- manually invoking new -> restore -> publish on a random directory works

Can you please put in more detailed repro steps?

[2016-01-15 00:07] troydai commented on #858
PR is out.

[2016-01-15 00:11] #850 closed

[2016-01-15 00:21] piotrpMSFT commented on #797
Packages are now getting created, though for some reason Microsoft.DotNet.ProjectModel.Workspaces is still empty.

Agreed we should also add warnings when empty nupkgs are generated.

[2016-01-15 01:09] #835 closed

[2016-01-15 02:20] swgillespie opened #862 "corehost fails to find libcoreclr when installed with the debian nightly package"
Repro steps:

1. On an Ubuntu machine (distro information below), install the nightly .deb with `dpkg`.
2. Somewhere, create a new project: `mkdir project && cd project && dotnet new`
3. `dotnet restore`
4. `dotnet run`

The output of `dotnet run` is `Could not resolve coreclr path`.

`strace` reveals that it's looking in these locations:

[code]

That isn't right - the debian package installed to

[2016-01-15 02:20] davidfowl commented on #857
@abpiskunov Is this new?

[2016-01-15 02:23] brthor commented on #862
Thanks @swgillespie!

We do need to solve this issue.

Currently as a workaround you can do this:
[code]

[2016-01-15 02:25] brthor commented on #862
@schellap
There are some steps we could take in packaging to prevent this, like creating the above symlink during install time.

But would it be feasible to bake the search path into the host at build time, based on what the produced debian package name will be?

[2016-01-15 02:28] schellap commented on #862
Could you tell me if there is an environment variable that tells that this is a nightly build?

[2016-01-15 02:30] brthor commented on #862
There is `RELEASE_SUFFIX` on the unix builds, and `ReleaseSuffix` on the windows build.

The package name is determined like so:

[code]

[2016-01-15 02:30] schellap commented on #862
Let me know a couple of things, `NIGHTLY_PACKAGE_NAME` if set, should be used. If not default to the location?

[2016-01-15 02:54] davidfowl opened #864 "Can't build on OSX anymore"
[code]

[2016-01-15 03:55] schellap commented on #862
We should ideally specify overrides to default probe paths in runtime.config.json file that is coming up soon rather than baking such data at compile time into the host. Till then, as we discussed offline, we should keep this workaround.

[2016-01-15 04:05] troydai commented on #857
@davidfowl This is new: https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.DesignTimeHost/ApplicationContext.cs#L729

[2016-01-15 07:21] maximpashuk commented on #571
Agree with @roji

**--version-suffix** option in "dotnet pack" command is not enough.

When I am using [git describe --tags](https://gitfu.wordpress.com/2008/05/25/git-describe-great-another-way-to-refer-to-commits/) for generating version based on git tags, then I
need ability to set whole package version externally.

I think it is good idea to add **--package-version** option to "dotnet pack" fo

[2016-01-15 07:43] lodejard commented on #792
Do we usually have Include suffix on that category of properties, or would it be "publish" instead if publishInclude?

[2016-01-15 07:43] gkhanna79 commented on #490
@davidfowl That approach makes is very easy for folks to run into the issue of loading the same FX assembly (e.g. System.runtime.dll or system.Collections.dll) into two LoadContexts and run into type mismatch issues.

It is a simpler model, and invariant, that any assembly that needs to be loaded from path/ni should not be in the app-base (since that set is semantically loaded in default context).

[2016-01-15 08:11] davidfowl commented on #792
If we were being consistent:

[code]
@DamianEdwards  had a proposal to change remove the top level properties:

[code]

[2016-01-15 08:15] victorhurdugaci commented on #807
@pakrym I think this is fixed, right?

[2016-01-15 08:16] victorhurdugaci commented on #792
What's the difference between `include` and `includeFiles`? Can't it be the same property?

[2016-01-15 08:19] davidfowl commented on #792
includeFiles doesn't support globs. The idea is that an IDE like visual studio can tool adding individual files by having a wide exclude globbing pattern and including individual files (for example, if you wanted to exclude an entire folder but include 2 files from it). *Files are always applied to the pattern last.

[2016-01-15 08:19] GuardRex commented on #468
@anurse @Rick-Anderson @shirhatti Curious ... Does the .NET 5 on Nano doc also need to stay under-the-covers until RTM? https://github.com/aspnet/Docs/pull/894

[2016-01-15 08:32] davidfowl commented on #864
Needed to clean

[2016-01-15 08:32] #864 closed

[2016-01-15 10:14] davidfowl commented on #490
@gkhanna79 with great power comes great responsibility. That constraint makes it nearly impossible properly implement a child load context where you don't want to unify certain types.

[2016-01-15 15:43] marono opened #865 "Error on dotnet run"
Guys,

I'm getting an error when running dotnet run or dotnet build:
_An item with the same key has already been added. Key: (log4net, neutral, 669e0ddf0bb1aa2a)_

Not sure how to proceed.

Thank you!

A bit more context:
My project.lock.json contains the following bits:

[code]

Notice the log4net dependency of log4net.Ext.Json has different casing than the root Log4Net dependency. Could this be

[2016-01-15 16:07] #807 closed

[2016-01-15 16:55] marono opened #866 "Cant build/run dnx452 projects"
Guys,

I can't build or run dnx452 projects. It works fine for dnx451 and dnx46, the only difference being I'm missing the Microsoft .NET Framework 4.5.2 SDK when checking the installed programs.

I haven't been able to find the setup for it. Is there one?

[2016-01-15 17:00] enricosada commented on #692
i'll send a fix monday or tuesday or update this issue, lots of build problems this week

[2016-01-15 17:18] victorhurdugaci commented on #792
So, it's everything in `include`, then filter through `exclude`, and then include everything in `includeFiles`?

[2016-01-15 17:28] davidfowl commented on #792
Yep

[2016-01-15 17:31] victorhurdugaci commented on #792
Makes sense but it's a bit confusing because you can add individual files in `include` also

[2016-01-15 18:09] anurse commented on #468
My only concern with waiting for RTM is that DNX RC1 ran on Nano Server, so this would be a temporary regression of behavior since an ASP.NET app compiled with dotnet cli would not be guaranteed to run on Nano Server.

@DamianEdwards, @danroth27, @davidfowl and @glennc should probably be aware of that :)

/cc @victorhurdugaci @muratg @Eilon

[2016-01-15 18:16] DamianEdwards commented on #468
We have customers running on Nano now so this would indeed be a regression for RC2. What is the hold up?

[2016-01-15 18:32] gkhanna79 commented on #490
@davidfowl The implication of only unifying mscorlib (which is required by design) is that for any custom ALC instance, everytime a static assemblyref needs to be resolved for an assembly being loaded via Load from path/ni/stream, we would need to call into custom ALC's Load method where the ALC implementation would need to know where to load the assembly from.

From what you propose, this will be

[2016-01-15 18:36] anurse commented on #468
It's mostly just that we have a new host now (`corehost` rather than `dnx`) and we need to to ensure that it runs on Nano server.

[2016-01-15 19:15] lodejard commented on #792
Different treatment of the data. "content" globs w/out wildcard are not an error if the file is missing. And adding a rule that paths without wildcards need to be added in a different way is just an extra hoop to jump through

[2016-01-15 19:25] piotrpMSFT commented on #866
@marono can you provide more details? Failure msg, etc?

[2016-01-15 19:40] Sridhar-MS commented on #649
@brettfo Any idea about the PDBs indexing?

[2016-01-15 19:52] piotrpMSFT commented on #865
@marono not sure what the CLI bug might be here. What does your project.json look like? It seems this might be an issue with the log4net nuspec?

[2016-01-15 19:53] ac-esousa opened #869 "Error running dnu restore on linux from a Makefile"
Hello,

When a running `dnu restore` from a Makefile (this is my Makefile [Makefile.zip](https://github.com/dotnet/cli/files/92434/Makefile.zip)) on a linux machine, I got the following error:

    Microsoft .NET Development Utility CoreClr-x64-1.0.0-rc1-16231

      CACHE https://api.nuget.org/v3/index.json
    Restoring packages for /home/dudu/acpm/src/BackEnd/Data.Contracts/project.json

    Un

[2016-01-15 19:57] natemcmaster opened #870 "Cannot load hostpolicy.dll on Win2012R2"
dotnet.exe crashes on startup on Windows 2012 Server.

``Failed to load the dll from C:\dotnet\bin\hostpolicy.dll, HRESULT:0x8007007E``

Running from cmd prompt displays an error dialog:

`The pgoram can't start because MSVCP140.dll is missing from your computer`

Error started with changes in 262274b9681b6586e01d715703a13e1098c0be1e

[2016-01-15 19:59] Sridhar-MS opened #871 "Unable to run dotnet on Windows after MSI installation"
Failed to load the dll from C:\dotnet\bin\hostpolicy.dll, HRESULT: 0x8007007E
Error loading the host library from own dir: C:\dotnet\bin; Status=00000041

@schellap I think its because of your recent changes - https://github.com/dotnet/cli/pull/843

/cc @piotrpMSFT @gkhanna79

[2016-01-15 20:00] piotrpMSFT commented on #862
@brthor @schellap are we going to get this fixed today?

[2016-01-15 20:01] piotrpMSFT commented on #870
#835 seems to be the culprit here. @natemcmaster can you verify that installing the CRT fixes this issue?

[2016-01-15 20:04] piotrpMSFT commented on #869
@gkhanna79 the AV makes me think that this might be a Linux-specific CoreCLR issue. Can you help us get to the bottom of it?

[2016-01-15 20:05] gkhanna79 commented on #869
@janvorli Can you please help take a look?

[2016-01-15 20:05] natemcmaster commented on #870
@piotrpMSFT installing CRT changes the error to
![image](https://cloud.githubusercontent.com/assets/2696087/12363904/5357a096-bb80-11e5-8c02-f65619ea54f2.png)

[2016-01-15 20:07] gkhanna79 commented on #871
@Sridhar-MS Is hostpolicy.dll not present next to the host?

[2016-01-15 20:08] schellap commented on #871
This is weird. It is present. So I am looking at why Windows is not picking up.

[2016-01-15 20:10] piotrpMSFT commented on #854
@cesarbs this would be quite a bit of work and I'm not sure that the benefit is sufficient. If the tool is intended for a single repo then building it and calling the executable directly seems fairly straightforward.

[2016-01-15 20:13] anurse commented on #845
Can you post the output of `dotnet -v run`?

[2016-01-15 20:14] piotrpMSFT commented on #814
@chuck-mitchell please reopen if this is still a CLI issue

[2016-01-15 20:14] #814 closed

[2016-01-15 20:16] piotrpMSFT commented on #813
@xanather this is very much on our radar, though I don't think the IDE folks have shared concrete dates yet. We're working on this fairly actively.

@christianspecht if installing the CRT did not fix, can you please reopen?

[2016-01-15 20:16] #813 closed

[2016-01-15 20:17] piotrpMSFT commented on #810
this is a duplicate of #760

[2016-01-15 20:17] #810 closed

[2016-01-15 20:18] piotrpMSFT commented on #393
@anurse, is this coming in today or should we bump to RC?

[2016-01-15 20:19] schellap commented on #871
Could you please paste the repro steps, I am not able to repro on my Windows 10 box with the latest MSI.

[2016-01-15 20:19] natemcmaster commented on #870
Install CRT 2015 + reboot fixes this problem.

[2016-01-15 20:19] piotrpMSFT commented on #407
@andschwa, at this point this is blocked only on the xunit runner package being published which will happen from xunit's repo [though we'll try to share a prototype sooner]. Closing the issue.

[2016-01-15 20:19] #407 closed

[2016-01-15 20:20] schellap commented on #871
See similar issue:
https://github.com/dotnet/cli/issues/871#issuecomment-172072816

[2016-01-15 20:20] piotrpMSFT commented on #421
@anurse, I've heard you're on point for this issue. Is this coming in today?

[2016-01-15 20:20] piotrpMSFT commented on #467
@anurse, is this coming in today or should we bump to RC?

[2016-01-15 20:21] piotrpMSFT commented on #500
@livarcocc what's the status here?

[2016-01-15 20:21] natemcmaster commented on #871
Duplicate of #870? I installed the C++ Redistributable 2015 and rebooted and the error went away.

[2016-01-15 20:22] piotrpMSFT commented on #647
@enricosada the PR here is still in need of rebasing. I'm moving out to RC milestone. Let us know if this can happen today.

[2016-01-15 20:22] brthor commented on #862
@piotrpMSFT PR in

[2016-01-15 20:23] schellap commented on #500
@livarcocc and @schellap plan to sign ILC/Dependency bits today at 3:30. We need to get the RyuJIT and OW packages signed as well. @kyulee1, I will take care of the JIT this time as @livarcocc has kindly agreed to do this for us.

[2016-01-15 20:25] schellap commented on #488
Undo below PR and add an option to the host config: `overrideDotnetPath`

https://github.com/dotnet/cli/pull/872

[2016-01-15 20:27] piotrpMSFT commented on #680
@devigned since the CLI-side issues here are done, I'm closing this issue. We're just waiting on the xunit runner now.

[2016-01-15 20:27] #680 closed

[2016-01-15 20:28] piotrpMSFT commented on #18
FYI, we have a working prototype xunit runner. I'm working on PR to xunit and will try to share a "pre-alpha" package.

[2016-01-15 20:29] piotrpMSFT commented on #195
Fixed in #835

[2016-01-15 20:29] #195 closed

[2016-01-15 20:30] piotrpMSFT commented on #251
@Sridhar-MS is this coming in today? Can we bump to RC2?

[2016-01-15 20:33] schellap commented on #870
CRT shouldn't be required for at least the first step.

https://github.com/schellap/cli/blob/master/src/corehost/cli/dll/CMakeLists.txt#L8-L10 should all be MT and not MD

[2016-01-15 20:36] piotrpMSFT commented on #674
PKG does not offer as clean a solution as Apt-Get, but a warning would be nice.

@blackdwarf if we can show a warning that says there is a missing dependency, that would be great. Otherwise, let's add a note to the install sequence that states that the dependency must be installed.

[2016-01-15 20:39] brettfo commented on #649
I'm not sure on the PDB indexing, but I do know that source archiving is still down and I suspect those two systems are related.

[2016-01-15 20:39] piotrpMSFT commented on #750
This should be fixed with #421. If it repros after that gets checked in, please reopen this issue @mafshin

[2016-01-15 20:39] #750 closed

[2016-01-15 20:40] Sridhar-MS commented on #251
This is already fixed. Environment variables are associated with the registry keys (https://github.com/dotnet/cli/blob/master/packaging/windows/registrykeys.wxs#L14). Build-to-build major upgrades do reset these environment variables correctly. Uninstall also removes them correctly.

[2016-01-15 20:40] #251 closed

[2016-01-15 20:41] #786 closed

[2016-01-15 20:41] andschwa commented on #18
That would be fantastic.

[2016-01-15 20:43] piotrpMSFT commented on #771
Fixed by #840

[2016-01-15 20:43] #771 closed

[2016-01-15 20:44] piotrpMSFT commented on #841
Fixed by #840

[2016-01-15 20:44] #841 closed

[2016-01-15 20:45] tannergooding commented on #649
@brettfo, PDB indexing for bits that end up on NuGet (publicly released) is a manual process and is not currently down. Whoever uploaded the netcore package to nuget should have ensured the proper process was kicked off for the public archiving of pdb bits.

[2016-01-15 20:50] #768 closed

[2016-01-15 20:56] Sridhar-MS commented on #871
Duplicate of #870

[2016-01-15 20:56] #871 closed

[2016-01-15 21:01] agocke commented on #649
@tannergooding Do we have documentation on this?

[2016-01-15 21:04] brettfo commented on #649
@agocke: Yes, we have some internal notes on this, I'll send you a pointer shortly.

Thanks to @tannergooding who reminded me where these instructions live.  I've started the PDB archiving process and will report back here as soon as it's complete.

[2016-01-15 21:14] piotrpMSFT commented on #797
fixed by #868

[2016-01-15 21:14] #797 closed

[2016-01-15 21:15] piotrpMSFT commented on #827
fixed by #863

[2016-01-15 21:15] #827 closed

[2016-01-15 21:34] prafullbhosale opened #876 "Support ProjectModel for dnx451"
Currently ProjectModel, ProjectModel.Loader and ProjectModel.Workspaces are supporting only dnxcore50.

Are there any plans to support dnx451? (or any Full .Net framework)?

[2016-01-15 21:39] anurse commented on #421
Maybe, it depends on a number of things. Mostly there are a few minor issues still with NuGet to resolve. It's pretty close though.

[2016-01-15 21:39] anurse commented on #467
Not today for sure.

[2016-01-15 21:39] Sridhar-MS opened #878 "[MSI] Remove the hardcoded check of "ReleaseSuffix" from wix files to build scripts"
Currently the [wix source files](https://github.com/dotnet/cli/blob/master/packaging/windows/variables.wxi#L3) does the check to see if the current MSI is generated for 'release' or `nightly` feeds ( the `BuildType` variable). There are some hardcoded values in this check.

This can be moved to the [generatemsi.ps1](https://github.com/dotnet/cli/blob/master/packaging/windows/generatemsi.ps1) scrip

[2016-01-15 21:41] anurse commented on #393
No, bump to RC

[2016-01-15 21:50] muratg commented on #680
@piotrpMSFT How long till we get the xunit runner?  We're blocked on getting rid of DNX in our repos due to this.

[2016-01-15 22:09] andschwa commented on #68
@davidfowl @piotrpMSFT Will strongly typed classes be part of the beta milestone?

[2016-01-15 22:16] bendono commented on #845
Here is the output:
![dotnet_run](https://cloud.githubusercontent.com/assets/846533/12366815/ecd40584-bc20-11e5-8004-c3abd5cd9572.png)

[2016-01-15 22:21] piotrpMSFT commented on #680
I can give you a working prototype offline. Working with xunit to get real bits.

[2016-01-15 22:22] bendono commented on #845
I checked the path given in the output above.
I notice that C:\Users\Ben\bin\.dotnetrun\bf9df5e28144428fa371533fb314a325 is an empty folder.

[2016-01-15 22:23] anurse commented on #845
Yeah, it hasn't been able to compile the project yet so there's nothing there. Can you access the folder in question (`C:\Users\Ben\AppData\Local\Application Data`) via explorer? I'm not sure what would actually be trying to read/write there...

[2016-01-15 22:25] bendono commented on #845
The path up to C:\Users\Ben\AppData\Local exists.
However, there is no "Application Data" path.
Would you like me to manually create it?

[2016-01-15 22:43] devigned commented on #680
@piotrpMSFT thank you for the update! Looking forward to the xunit bits.

[2016-01-15 22:54] #870 closed

[2016-01-15 23:22] gkhanna79 commented on #468
This would require building the host against apisets so that it can work on Nano server. And since it will be linked against them, we need to have the right forwarder binaries in place.

The work is to ensure all of this works - especially on downlevel OS. It would have been awesome to see this issue earlier but it came our way just yesterday. We will see what can be done for RC2.

CC @Petermarcu

[2016-01-15 23:25] moozzyk commented on #468
At the moment ASP.NET requires reverse forwarders to be installed on Nano.

[2016-01-15 23:28] gkhanna79 commented on #468
If reverse forwarders are installed, then the host should work (since R-Forwarders are going to resolve Kernel32->API-*). Has someone on ASP.NET or Nano server tried using the host?

[2016-01-15 23:29] GuardRex commented on #468
Yes ... It's working with the Forwarders package. Which is what we have in the tutorial on this. I can rapidly respond to changes for the doc to match any changes teams make, and I can add a note at the head of the doc saying "works for RC1 only" if RC2 is a concern.

[2016-01-15 23:30] GuardRex commented on #468
... btw ... my test middleware app is RC2 current packages and runtime ... and it did work just this morning.

[2016-01-15 23:31] GuardRex commented on #468
... dotnet CLI changes ... no idea on that one ... which I think is what @anurse is referring to here.

[2016-01-15 23:51] anurse commented on #468
Requiring the reverse forwarders is probably just fine, so if we need to do that, that's fine.

@moozzyk, @victorhurdugaci You guys have done nano server work before. Do you still have a VM set up using nano? My VM host doesn't use Hyper-V (because Docker) so I can't easily set one up. We just need someone to try running a `dotnet-publish`ed app on Nano Server and see if it works :)

[2016-01-16 00:22] victorhurdugaci commented on #468
When we convert MusicStore it will test Nano server too. We have a Nano CI agent for it

[2016-01-16 00:49] brettfo commented on #649
The PDB archiving build is now complete for the `1.2.0-beta1-20160108-01` build.

[2016-01-16 00:56] troydai commented on #858
Fixed in 68c0edf

[2016-01-16 00:56] #858 closed

[2016-01-16 01:09] #862 closed

[2016-01-16 01:16] gkhanna79 commented on #468
If reverse forwarders (and not APISet forwarders) are always going to be present on Nano server, then please try the test @anurse suggested above. It should just work without requiring any changes to the host. In that case, this issue is a no-op and can be closed (once confirmation comes through).

[2016-01-16 01:28] kkurni opened #881 "Run WebApp inside IIS Test Scenario"
In DNX, we have issue with publishing website inside IIS & Debuging Code in VS
https://github.com/dotnet/corefx/issues/5252

Hopefully this scenario will be covered by CLI as well.

Here is the summary in RC1 using wen publishing website to IIS.

When you publish your web project, you will get AppRoot/web.cmd
This AppRoot/web.cmd will get executed on IIS and fire DNX.exe.When publishing web projec

[2016-01-16 01:29] moozzyk commented on #468
The requirement of having reverse loaders on Nano for ASP.NET 5 comes from http platform handler and libuv. I could imagine that in the future http plafrom handler will no longer require forwarders. Similarly libuv can be fixed (there are ~20 APIs that are not available in one core - most of which have  *Ex counterparts that are present in onecore) - especially if http platform handler is fixed.

[2016-01-16 01:33] pranavkm opened #882 "Microsoft.Extensions.DependencyModel package has the dotnet5.4 binary under net451 directory"
Seeing this with issue in the `1.0.0-dev-000973` build of the package. The `lib\net451\Microsoft.Extensions.DependencyModel.dll` binary has an `TargetFrameworkAttribute` that says '.NETPlatform,Version=v5.4` and is compiled against the 4.1.0.0 of System.Reflection which doesn't exist in net451.

[2016-01-16 01:39] GuardRex commented on #468
@moozzyk Curious why it will/might break for dotnet cli? ... just because if true, it blocks the release of the ".NET 5 on Nano Server" doc for quite a while.

[2016-01-16 04:15] GuardRex commented on #468
@moozzyk Nevermind. I'm off that doc now. Someone else is going to handle it.

[2016-01-16 04:26] moozzyk commented on #468
@GuardRex In general native apps not against onecore.lib don't work without reverse forwarders and reverse forwarders are not installed on Nano by default (as opposed to win10).

[2016-01-16 04:26] GuardRex commented on #468
@moozzyk thx

[2016-01-16 05:11] troydai commented on #857
Fixed in 479a81a576a7fb24dce731d48c185af2d4a9edcd

[2016-01-16 05:11] #857 closed

[2016-01-16 06:02] piotrpMSFT commented on #882
#760 should be the root cause. @livarcocc

[2016-01-16 06:04] davidfowl commented on #882
Is that really the root cause?

[2016-01-16 06:43] piotrpMSFT commented on #68
Beta is basically done. We will be branching soon.

[2016-01-16 18:21] christianspecht commented on #813
@piotrpMSFT Yep, installing the C++ runtime fixed it.
I see that #835 has been resolved in the meantime by [this pull request](https://github.com/dotnet/cli/pull/843). How do I know when this will actually be released?

[2016-01-16 22:06] piotrpMSFT commented on #813
Should be in the latest installer. If you're seeing issues, check 'dotnet --version'

[2016-01-16 22:12] piotrpMSFT commented on #882
We will find out. Given, however, that Publish stomps on its own output, it should be at least 'a' cause.

[2016-01-16 22:15] piotrpMSFT commented on #500
Did the dependency signing happen?

[2016-01-16 22:22] piotrpMSFT commented on #571
@krwq @sridhar-ms @brthor

Take a look at gitversion above. We just built a simplified version of this but I wonder if we should consider a change...

[2016-01-16 22:23] piotrpMSFT commented on #571
@davidfowl, thoughts on M.m.r coming from outside of pj?

[2016-01-16 22:55] giggio commented on #417
@shahid-pk Yes, those seem to be dnu commands. It seems there is `tools` value on `project.json`, where you can call for some tools, too, but I am not sure how that is related.
It seems that the old way, with commands for an app, from `project.json`,  where you could have multiple "entry points" to your app are gone.
For example, if your app was named `app`, you could do:

[code]

And after you pa

[2016-01-16 23:29] brthor commented on #571
GitVersion looks pretty cool and would take away a lot of the complexity in our original plan with what looks like a small amount of change. Still need to finish reading how the versioning strategies work but it seems promising.

[2016-01-16 23:31] brthor commented on #571
:+1:  To  M.m.r coming from outside the PJ. The scenario where the version of the package is generated by some build logic seems common.

[2016-01-17 04:50] jkotas opened #884 "crossgen_roslyn.sh needs to use -readytorun option"
Same as crossgen_roslyn.bat for Windows. This option is needed to allow servicing.

[2016-01-17 04:51] jkotas commented on #884
Related: #90

[2016-01-17 04:51] jkotas commented on #884
Blocked by: https://github.com/dotnet/coreclr/issues/2710

[2016-01-17 05:47] livarcocc opened #885 "dnx pack should validate its contents"
Now that we support specifying a basepath to dotnet pack from where it should pick up the assets to be packaged, we should validate that it managed to find all the necessary files. This will help avoid silently creating empty nuget packages.

[2016-01-17 08:52] dburriss opened #886 "dotnet run fails when directory contains spaces (Windows)"
When running a dotnet application from command line with the "run" command it fails with "Unrecognized command or argument 'xxx' where xxx is the 2nd work in the folder name.

*Repro:*
1. md "A Test"
2. cd "A Test"
3. dotnet new
4. dotnet restore
5. dotnet run
Result: Unrecognized command or argument 'Test'

dotnet --version
.NET Command Line Tools (1.0.0)
Runtime Environment:
 OS Name:     Window

[2016-01-17 20:45] christianspecht commented on #813
Yes, it works now :+1:

I downloaded and ran the latest installer, and `dotnet publish`ed again.

Compared to before, I see only two differences in the result of `dotnet publish`:

 - There's one new file (`hostpolicy.dll`)
 - The size of the main .exe increased (418 KB vs 113 KB)

The .exe now works on my second machine without .NET Core installed (of course, I un-installed the C++ runtime before

[2016-01-17 21:50] piotrpMSFT commented on #599
@brthor, you've been thinking along these lines lately.

[2016-01-17 23:07] spencerwi commented on #212
Another issue I'm hitting: `libicu52` is currently required by the the available deb packages, but in Ubuntu 15.10 (and presumably onwards) that package is superseded by the newer `libicu55`.

[2016-01-18 01:57] piotrpMSFT commented on #212
@brthor take note of the libicu dependency

[2016-01-18 09:18] piotrpMSFT commented on #886
@brthor has an incoming fix for this issue!

[2016-01-18 09:38] marono commented on #865
Hi @piotrpMSFT ,
When building the project.lock.json, it will consider log4net and Log4Net as two different packages and would try to bring them both; the model (dependencies model) would then reject the second package as being already added (hence the key collision error). At least that's my understanding without looking at the code...

Here's my dependencies spec (only global dependencies for th

[2016-01-18 10:43] davidfowl commented on #882
This is blocking ASP.NET, marking it as such

[2016-01-18 16:25] Fosol opened #887 "Visual Studio Build Issue"
More and more often I'm running into this issue when attempting to build my projects.

When I build it fails and displays the following error.
[code]
I can run the dnu build command myself and it all works fine.

I've noticed some kind of relationship between within Visual Studio checking off the project property "Produce outputs on build" within Visual Studio and the creation of a "/lib/" folder.

[2016-01-18 16:32] Fosol commented on #887
Looks like an issue with "dnu pack" running for multiple projects within a single open solution within Visual Studio - while you are doing an MsBuild...  Just a few variables...

I think it boils down to something related to Visual Studio locking folders and files.

[2016-01-18 16:43] davidfowl commented on #884
@jkotas It's so much slower though..

[2016-01-18 17:08] marono commented on #866
Hi, the error message is:
[code]

[2016-01-18 17:39] AdamDotNet opened #888 "Question to help understand the purpose of the tools using a real scenario"
In my company, we have performance critical portions of our code that are getting a little old, they are COM C++. The desire is to update the API to be more modern, both the algorithms and to get off COM. The GUI of the application is currently WinForms, with hopes to move to WPF, full .Net framework 4.6.1.

Performance is still key, but in the best case scenario, we could still write it in C#. So

[2016-01-18 19:01] davidfowl commented on #866
Do you have .NET Framework 4.5.2 reference assemblies in that folder?

[2016-01-18 20:55] piotrpMSFT commented on #887
Does this repro on CLI or only DNU? For CLI build we recently decoupled pack from compile. This enables us to sign once and ship the same binaries everywhere. By default, pack will recompile each dependency for each target, so there can be concurrency issues if doing pack in parallel.

[2016-01-18 20:59] dsyme commented on #692
@enricosada Note that if "dotnet cli" adds this switch by default, then it won't work for .NET Framework compilation.   I suppose you need to make sure you propagate an "other flags" setting, which would be useful in any case.

[2016-01-18 21:37] Fosol commented on #887
dnu only - sorry!

[2016-01-18 21:56] benaadams opened #889 "Need Threadpool minThreads config setting"
`ThreadPool.SetMinThreads` doesn't exist as an api in coreclr and apparently its available and the responsibility of the hosting model https://github.com/dotnet/coreclr/issues/1606#issuecomment-144126757

So this should be exposed via a config to the dotnet cli

[2016-01-18 22:24] zach-folwick commented on #680
@piotrpMSFT - I would be very interested in a prototype test runner.  We've already adopted dotnet-cli and have been missing xunit tests.

[2016-01-19 01:29] livarcocc commented on #500
We did the signing on Friday, waiting on the approval of the two approvers we need to to be able to download the CLR bits.

We need the Beta branch for me to do the same for the CLI.

[2016-01-19 05:00] piotrpMSFT commented on #887
Okie! As you transition to CLI please let us know if this creeps up again!

[2016-01-19 05:00] #887 closed

[2016-01-19 05:02] piotrpMSFT commented on #865
@davidfowl this one is in your wheelhouse :)

[2016-01-19 06:10] davidfowl commented on #692
You can check the target framework before adding the switch

[2016-01-19 06:16] piotrpMSFT commented on #889
@benaadams is this blocking Kestrel?

@schellap, can you take a look?

[2016-01-19 06:18] davidfowl commented on #865
Is it a casing problem?

[2016-01-19 06:19] benaadams commented on #889
@piotrpMSFT depends, might block how users use Kestrel - if that's not too enigmatic :grin:

@halter73 is probably better to comment on it.

[2016-01-19 06:20] piotrpMSFT commented on #18
Okie folks, here it is!

https://github.com/piotrpMSFT/dotnet-test-samples/

That will show you how to start playing with the prototype xunit runner. If you find issues, please feel free to open them here:

https://github.com/dotnet/coreclr.xunit

Thanks, @livarcocc for test-driving the sample and reviewing the readme content!

[2016-01-19 06:23] piotrpMSFT commented on #844
thanks @victorhurdugaci
@brthor ran across this late last week and has a fix which provides a cleaner error message. I'll ask him to PR his fix and we'll see if this gets you unblocked.

[2016-01-19 06:28] piotrpMSFT commented on #18
/cc @andschwa @stankovski @victorhurdugaci @muratg @davidfowl @blackdwarf @richlander @livarcocc @Sridhar-MS @brthor @krwq

[2016-01-19 07:14] andschwa commented on #18
Sweet! Will try it out first thing tomorrow morning :D
On Jan 18, 2016 10:28 PM, "Piotr Puszkiewicz" <notifications@github.com>
wrote:

[2016-01-19 07:14] piotrpMSFT commented on #813
Yea, the size hit is not ideal... must be caused by statically linking CRT.

@schellap, do we have any opportunities for making this smaller?

[2016-01-19 07:16] piotrpMSFT commented on #811
@Sridhar-MS fixed this in #877

[2016-01-19 07:16] #811 closed

[2016-01-19 07:40] enricosada commented on #692
I'll do like that, thx @davidfowl

[2016-01-19 07:59] torotoroi opened #892 "dotnet restore proxy bug"
If a proxy server that does not require authentication, Error occurs, it will not work.

### Not Work
`dotnet restore -p http://hogehoge.local:8080`

[code]

### Work
`dotnet restore -p http://User:Pass@hogehoge.local:8080`

[2016-01-19 09:57] marono commented on #865
Here's a gist which will hopefully highlight the issue:
https://gist.github.com/marono/f4934cf81249c0cb700c

It seems the issue is slightly more involved than originally thought. It will only show itself when using the option to emit the entry point.

Let me know if you need more context.

[2016-01-19 10:06] marono commented on #866
Hi,
I've got a bunch of folders under ``C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework``:
[code]

``.NETCore`` will contain ``v4.5`` and ``v4.5.1``
``.NETFramework`` has all versions from 3.5 to 3.6.

Are these details enough ?

[2016-01-19 10:20] mikes-gh commented on #640
I have exactly the same issue.
csc AV at
[code]
I will try and get a dump

[2016-01-19 10:41] enricosada commented on #640
i got no luck with getting dump, my bad, i cant catch the av in a dump

[2016-01-19 10:58] mikes-gh commented on #640
@tmat
I have this 100% fail repro on aspnet/Security using build.cmd on Windows 7
build works fine on OSX

On windows 7
set ComPlus_ReadyToRun=0
#2153
then running build.cmd
works 100%

Hope this helps

[2016-01-19 11:13] davidfowl commented on #889
Not kestrel, it's server scenarios in general.

[2016-01-19 11:42] enricosada commented on #640
@mikes-gh THX!! the set ComPlus workaround fix the build for me :+1:

[2016-01-19 17:13] cdmihai commented on #838
@davidfowl updated to latest code and the issue does not manifest anymore.

[2016-01-19 17:13] #838 closed

[2016-01-19 17:15] muratg commented on #18
Nice, thanks @piotrpMSFT!

[2016-01-19 17:17] brthor commented on #886
#525

[2016-01-19 17:33] pranavkm commented on #882
Is there some way to get to the net451 binaries? I'd be happy to workaround this issue locally until you're able to produce a package with the fix.

[2016-01-19 18:26] piotrpMSFT commented on #888
@blackdwarf

[2016-01-19 18:32] janvorli commented on #884
Unblocked by https://github.com/dotnet/coreclr/pull/2716

[2016-01-19 18:32] piotrpMSFT commented on #882
Yea, you should be able to manually publish into the right folder layout. @livarcocc or@davidfowl should know how to make this work.

[2016-01-19 18:34] davidfowl commented on #882
I'm not aware of what the actual bug is, who is working on this? It looks like the packages on the feed are bad..

[2016-01-19 18:35] piotrpMSFT commented on #640
@janvorli @jkotas looks like ReadyToRun may influence this AV...

[2016-01-19 18:40] jkotas commented on #640
Note that there multiple crashes mixed up together in this bug. The one related to ReadyToRun has this stack trace:
[code]

The original report is crash in DiaSymReader - that is very unlikely to be related to ReadyToRun:
[code]

[2016-01-19 18:40] jkotas commented on #640
cc @JohnChen0

[2016-01-19 18:42] brthor commented on #212
After reading this thread https://github.com/dotnet/cli/issues/674 I'm not sure coreclr/corefx will work with libicu55.

@ellismg You mentioned that System.Globalization requires specific versions of libicu. Would making this work be as simple as changing the dependency in the debian package or more involved on the framework side?

[2016-01-19 18:44] brthor commented on #844
I'll cherry pick it and put it up shortly.

[2016-01-19 18:45] victorhurdugaci opened #895 "dotnet test doesn't detect the runner when it is a framework specific dependency"
1. dotnet restore
2. dotnet build
3. dotnet test

With this project.json it works:

[code]

With this project.json it fails:

[code]

error:

[code]

cc @piotrpMSFT

[2016-01-19 18:45] victorhurdugaci commented on #18
@piotrpMSFT found a bug: https://github.com/dotnet/cli/issues/895

[2016-01-19 18:46] brthor commented on #18
too cool!

[2016-01-19 18:46] ellismg commented on #212
@brthor You need to build System.Globalization from source against whatever ICU makes sense for the distro you are packaging for.  It will compile cleanly against any recent ICU.  What you can't do is take the binary version we built in CI for CentOS or Ubuntu 14.04 and then throw it on a different distro, since they might not have the same version of ICU.

So it's more than updating a dependency

[2016-01-19 18:47] victorhurdugaci commented on #895
Nevermind, I had a typo in project.json

[2016-01-19 18:47] #895 closed

[2016-01-19 18:47] victorhurdugaci commented on #18
Ignore my previous message

[2016-01-19 19:34] christianspecht commented on #813
Please don't get me wrong, I wasn't complaining. I don't care about the size increase.
It's rather the opposite - I had expected that the size would increase more by including the C++ runtime.

[2016-01-19 19:41] moozzyk commented on #844
What's the root cause of this and is there any workaround? This seems to be something environmental or related to contents of project.json because tt works fine on my box. I couldn't find anything that stood out when we looked at @victorhurdugaci 's machine.

[2016-01-19 19:43] brthor commented on #844
I saw this happening when the tool could not be found.

[2016-01-19 19:48] tiagomargalho commented on #620
+1

[2016-01-19 19:51] DamianEdwards commented on #792
I'd like to see us consolidate a bunch of the top-level properties here before we ship RC2. Right now it feels somewhat hodge-podge. E.g. all options to do with compilation should be in the `"compilationOptions"` property. Here's what I had in mind:

[code]

[2016-01-19 20:05] natemcmaster opened #897 "Cannot express skip-compilation option in project.json"
DNX supported wrapping pre-build library and would not attempt to compile the library when it was present. https://github.com/aspnet/Home/wiki/Project.json-file#bin-syntax-wrapping-a-dll

[code]

EntityFramework.Commands used this feature to prevent compilation but still produce a nupkg with `netcore50` support.

`dotnet compile` compiles even if the wrapping syntax is present.