[2015-10-05 20:53] piotrpMSFT opened #2 "'dotnet commands' command"
dotnet-commands should enumerate all executables on the path that match the 'dotnet-' preamble. The preamble should not be displayed in the output. So, if we have:

    dotnet-restore
    dotnet-commands
    dotnet-compile

then we should see:

    $ dotnet commands
      compile
      commands
      restore

[2015-10-05 20:57] piotrpMSFT opened #3 "man pages for dotnet"
dotnet executable should support printing its own usage instructions. The same should be printed when calling 'man dotnet'

[2015-10-07 21:53] brthor opened #11 "Figure out which packages the dotnet- commands will live in."
These commands have interwoven dependencies on each other, and we need to figure out which package each will be deployed as a part of.

The dotnet-run command is a good example. It has a dependency on dotnet-publish, which has a dependency on dotnet-compile and dotnet-resolve-references. Should these all be part of the package which contains csc, since they depend on it? If so, what commands will

[2015-10-07 21:57] piotrpMSFT opened #13 "Output Verbosity"
How do we want to handle verbosity of what is written by the CLI?

[2015-10-07 22:05] piotrpMSFT opened #14 "Remove Mono Dependency from CLI branch"

[2015-10-07 22:07] piotrpMSFT opened #15 "Cross-Gen or Native Compile managed exes"
Do we need to do this on Windows? What are requirements? How soon can we have real Compile-To-Native?

[2015-10-07 22:07] piotrpMSFT opened #16 "dotnet-clean command"
We need to determine what this does. Is it project specific?

[2015-10-07 22:08] piotrpMSFT opened #18 "Enable xunit test execution"
https://github.com/piotrpMSFT/dotnet-test-samples/

That will show you how to start playing with the prototype xunit runner. If you find issues, please feel free to open them here:

https://github.com/dotnet/coreclr.xunit

[2015-10-07 22:10] piotrpMSFT opened #19 "Packaging Story"
What will we ship as Debian packages?
What will we ship as NuGet packages?
What are the packages we expect to pull in during apt-get dotnet?

[2015-10-07 22:13] piotrpMSFT opened #22 "Get Package lintian-clean"

[2015-10-07 22:17] piotrpMSFT opened #23 "dotnet --help command"
should support both --help and invalid input.

[2015-10-07 22:36] piotrpMSFT opened #24 "Top-level build & test commands"
let's have simple commands to build & test the repo

[2015-10-07 22:38] piotrpMSFT opened #26 "Final metadata for debian packages"

[2015-10-07 22:39] piotrpMSFT opened #27 "Final content for MAN/--help"

[2015-10-07 22:44] piotrpMSFT opened #28 "Packaging tests"
- Upgrade
- Remove
- Purge
- Install

Try to validate that the packages install a consistent payload.

[2015-10-08 00:42] Sridhar-MS opened #30 "Sign the debian packages before shipping"

[2015-10-08 01:08] Sridhar-MS opened #31 "Enable workflow orchestration between dotnet driver invocations"
For example - use json files to pass information between dotnet driver invocations.

[2015-10-08 01:21] Sridhar-MS opened #32 "Figure out how Nuget and CLI interact"
potential example:
dotnet install XXXX {VVVVV}

add the nuget package XXXX with optional version VVVVV to the project.json in the current directory.

[2015-10-08 21:10] brthor opened #34 "Consider complement to dotnet install"
dotnet install will install a package to your project.json

Let's consider whether we should include a complement to that command which removes the package.
The same command could potentially have an option to remove unused packages.

[2015-10-08 21:48] piotrpMSFT opened #35 "Recommendation for Command Line Parser"
Can someone make a recommendation on what CLI parser to use? some options:
* ASP.NET
* CoreFx
* docopt

[2015-10-08 22:36] brthor opened #36 "Debian Source package should contain Source Code"
Typically, the entire source code is included as a part of a debian source package, and the build of this source code is orchestrated as part of the build of the overall package. This orchestration is handled in a special makefile (debian/rules).

Clang, and git both follow this convention, and it will likely be necessary for us to do so if we ever want to have our package as part of an official d

[2015-10-12 16:42] Petermarcu opened #39 "compile and publish commands need handle native compilation in its various forms"
Today we provide the option to include native images with your output:

--native                         Build and include native images. User must provide targeted CoreCLR runtime versions

We need to reconcile this with all the other scenarios and provide the right knobs/defaults. Should this be a compile or publish option (or both).

Examples of some of the scenarios:
Ngen:
$ dotnet compile --a

[2015-10-12 17:30] Sridhar-MS opened #41 "build.sh is failing in the CI builds"
http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_cli_linux_debug_prtest/2/console

10:12:01   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
10:12:01                                  Dload  Upload   Total   Spent    Left  Speed
10:12:01
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:

[2015-10-13 08:47] piotrpMSFT opened #44 "PROPOSED: dotnet CLI command layering"
# Proposed dotnet CLI command layering
Commands in the dotnet CLI can represent atomic tasks, such as "Compile source to IL with the csc compiler" or more complicated workflows like "dotnet-compile" which should restore dependencies, compile to IL, then compile that IL to native.

We intend for workflows to be decomposable into their base atomic components, allowing for easy modification and integ

[2015-10-14 20:49] richlander opened #45 "CLI Roadmap"
The dotnet CLI is a driver for a set of distinct and standalone commands. We need to prioritize these commands so that people can use them E2E for common tasks (like conference demos). These are broken into priorities.

Commands
---------------

This document just lists the command and doesn't explain what they do. It links to other issues that go into depth on those commands, as available. Some o

[2015-10-15 21:54] richlander opened #48 "dotnet-compile"
dotnet-compile
===========

**NAME**
dotnet-compile -- Compiles source files to a binary format and saves to a target file.

**SYNOPSIS**
dotnet compile [options]

**DESCRIPTION**
The compile command compiles source files to a binary file, either IL byte code or native machine code, depending on the options provided. The default option is compilation to IL byte code, but may change to native compi

[2015-10-16 06:32] davidfowl opened #52 "Compiler extensibility"
We should add an additional `--compiler` argument to `dotnet compile`. `dotnet compile --compiler {compiler}`. In absence of any compiler we'll use `csc` or sniff some sensible default. It can also be specified in the `project.json` file

[code]

The above project would be an f# project and we would execute the equivalent of  `dotnet compile --framework dnxcore50 --compiler fsc`. The command line

[2015-10-16 06:42] davidfowl opened #53 "Infer RID from running OS/Platform"
We should infer the default RID based on the running OS/bitness. This affects restore and publish

[2015-10-16 11:25] davidfowl opened #55 "Remove reference to Microsoft.NETCore.Runtime"
Because I don't like downloading the internet everytime :smile:

[2015-10-16 14:12] richlander opened #59 "dotnet-run"
dotnet-run
===========

**NAME**
dotnet-run -- Runs source code 'in-place' without any explicit compile or launch commands.

**SYNOPSIS**
dotnet run [options]

**DESCRIPTION**
The run command provides a convenient option to run source code with one command. It compiles source code, generates an output program and then runs that program. This command is useful for fast iterative development and can

[2015-10-16 16:30] Sridhar-MS opened #60 "Unified console host"
We need to design/create a unified console host for running dotnet apps using
 - app local fx
 - or Shared fx
 - or custom fx

[2015-10-17 02:25] Petermarcu opened #62 "Need to establish and create tests for user scenarios benchmarks"
We need to set up goals for each of the commands and write user scenario perf tests for those commands.

[2015-10-17 07:19] davidfowl opened #64 "dnu parity"
In the next 2 weeks, we'd like to be able to change the ASP.NET build infrastructure to use dotnet cli. To do that we need to make sure we have parity for most of the commands. This is an issue to track the bare minimum required for us to switch over:

- [x] - Running prebuild, postbuild events in project.json
- [x] - Running prepublish, postpublish events in project.json
- [ ] - Compile module su

[2015-10-17 14:42] davidfowl opened #65 "Remove the FrameworkReferenceResolver"
It's ugly and should be deleted and doesn't work xplatform. Requires https://github.com/dotnet/corefx/issues/3934

/cc @Petermarcu @ericstj @piotrpMSFT

[2015-10-17 14:51] davidfowl opened #66 "Implement new shared content pattern in NuGet v3"
https://github.com/NuGet/Home/wiki/%5BSpec%5D-Content-v2-for-project.json

[2015-10-18 08:11] davidfowl opened #67 "Rename publish to deploy?"
Might resonate more with people. Publish sounds very webish

[2015-10-18 08:35] davidfowl opened #68 "dotnet-resgen"
https://msdn.microsoft.com/en-us/library/ccec7sz1(v=vs.110).aspx

We're going to need to either port resgen to coreclr or just write a new command that replicates some of the functionality. Today in the DNX  we replicate some of it and pass data to the roslyn APIs. I'd imagine compile would work like this:

`dotnet-compile /foo/project.json`
  `dotnet-resgen /foo/project.json`
  `resgen  /foo/Reso

[2015-10-19 04:09] gafter opened #71 "What is this repo?"
It is conventional for a repo's README.md to give a brief description of what the repo is about. This repo's README gives requirements, hints for building and testing, but no hint as to what the repo is about.

[2015-10-19 10:12] davidfowl opened #72 "Add more compilers"
- [ ] - Add Visual Basic support (`dotnet-compile-vb` or `dotnet-compile-vbc`)
- [x] - Add F# support (`dotnet-compile-fs` or `dotnet-compile-fsc`)

Related to #52
/cc @jaredpar

[2015-10-20 23:05] blackdwarf opened #76 "dotnet-install-package"
dotnet-install-package
======================

**NAME**

dotnet-install-package -- Installs a package from a package source or from a local file

**SYNOPSIS**

dotnet-install-package [options] [package]

**DESCRIPTION**

The dotnet-install-package command is used to install packages for your application. Packages can be installed from either a remote, online source via a "package feed", or by usin

[2015-10-20 23:14] Petermarcu opened #77 "Create a Microsoft/Docker image on DockerHub for Dotnet CLI"
Microsoft/Dotnet Docker Images
===========

**NAME**
microsoft/dotnet Docker Images

**SYNOPSIS**
We intend to get developers from "zero to Dockerized" quickly but we also want a credible presence in the Docker community. We will do so by providing variant images that cater to real-world uses that showcase the versatility of dotnet. With our focus on high-performance microservice scenarios, we wil

[2015-10-21 00:06] blackdwarf opened #79 "dotnet-restore"
dotnet-restore
==============

**NAME**
dotnet-restore -- Restore packages specified in project.json (project file)

**SYNOPSIS**
dotnet-restore [options] [project file(s)]

**DESCRIPTION**
This command is used to restore all of the dependencies that are specified in one or more project files for a given application. The packages that form the dependencies will be installed  It will read the depen

[2015-10-21 00:16] blackdwarf opened #81 "Have package manipulation be specific sub-command of dotnet?"
As was specified in the CLI Roadmap #45, as P0 we have two main ways of manipulating packages for a given application: install-package and restore. However, in the future we may want to add support for removing packages, publishing them (once `pack` is done) etc. Given this, would it be better to have a `dotnet-packages` command that would have verbs to describe the wanted action?

As an example,

[2015-10-21 06:43] davidfowl opened #82 "Clean up what stream we print to"
All errors goto stderr? Everything else goes to stdout? What are the normal rules?

[2015-10-21 07:26] davidfowl opened #83 "Add analyzer support"
We need to put some code in the ProjectModel that surfaces analyzers from the lock file. This also crosses over to development dependencies but that can be solved separately. We can likely port that code from the existing NuGet msbuild task

/cc @agocke

[2015-10-21 17:19] Petermarcu opened #85 "Understand plan for command line debugging."
There are many experience to think through with debugging and whether there are commands or switches we need to add to enable attach on run.

[2015-10-22 00:27] davidfowl opened #90 "Crossgen /r2r the CLI"
Until we have working native compilation, we should crossgen the entire CLI.

[2015-10-28 04:58] richlander opened #106 "dotnet-api"
dotnet-api
===========

**NAME**
dotnet-api -- Prints basic API-level documentation for a given namespace(s), type or member.

**SYNOPSIS**
dotnet api [options]

**DESCRIPTION**
The api command provides a convenient and low-tech and offline (!) way of getting documentation for a given set of restored NuGet packages (whatever you have on your machine). When you are developing an app or library and

[2015-10-29 02:19] davidfowl opened #115 "dotnet-compile performance"
Right now the compilation performance is slow, even after we crossgen roslyn it'll still be slow. Here's  brain dump of some ideas on how to speed it up after we have crossgened everything:

- [ ] - Incremental compilation. If no inputs changed, don't recompile.
- [ ] - Out of process compilation server (like DTH and VBCSCompiler). Caches metadata references and syntax trees for a long time. Huge

[2015-10-29 08:59] davidfowl opened #118 "Clean up error handling when command can't be found"
[code]

[2015-10-29 09:11] davidfowl opened #119 "Need incremental building for dev cycle"
Right now the develop cycle is pretty painful for the CLI, I'd recommend we copy what the DNX did to make it more usable. Implement post build/post compile scritps (see https://github.com/dotnet/cli/issues/64), then add a post compile step that updates the stage2 folder with the pdb and dll. This will make it easy to patch the dev build and test new changes.

[2015-10-30 10:11] davidfowl opened #126 "Make delete more robust"
[code]

[2015-10-30 19:30] brthor opened #127 "Dotnet Compile . creates "..exe""
to repro

dotnet compile .

Creates a file named ..exe instead of using the project name.

[2015-10-30 22:21] blackdwarf opened #128 "dotnet compile should clean up its temporary files"
dotnet compile should clean up its artifacts that it puts in /tmp/. Not doing this means that compile will fail for different users.

[2015-10-30 22:59] blackdwarf opened #129 "dotnet compile - all artifacts dropped are +x"
When running dotnet compile, all of the artifacts that it drops in the bin/ directory (including, for instance, pdb file) are marked as executable (+x). This should not happen, only the actual binary should be executable.

[2015-11-01 04:37] anurse opened #132 "Random AV in Roslyn?"
Got the following randomly while building dotnet-ci. It doesn't repro consistently (hasn't even happened a second time yet), but wanted to raise it in case anyone has seen it, or sees it in the future.

/cc @jaredpar @agocke @davidfowl

[code]

[2015-11-01 06:44] davidfowl opened #134 "dotnet run issues"
- [x] The application base path ends up being the temp directory. We'd need to copy assets so that config files are found (mini publish) or make the app base the original project folder
- [x] Support mono
- [x] Pipe standard input
- [ ] Embed .deps file in the PE file
- [ ] Support passing packages (that could be resolved from global.json or nuget.config)
- [x] P2P references should be compiled in

[2015-11-02 18:43] piotrpMSFT opened #136 "Remove DNX references from exception messages"
The command line exceptions show weird dnx names when you don't type the right thing.

[2015-11-02 19:50] Petermarcu opened #137 "Need to find a solution for telemetry to understand usage and failure points"
We would like to track the usage of the tool in a generic form and make that data available to the public as well.

[2015-11-05 01:08] blackdwarf opened #151 "dotnet compile fails to resolve depedencies on Linux"
The repro program and project.json are below. On Windows, doing dotnet compile and then running the exe works. On Linux, the compile passes but running it fails with the following error:

[code]

[code]

[code]

[2015-11-06 02:09] joshfree opened #156 "add CentOS builds to CI"

[2015-11-06 12:35] davidfowl opened #157 "dotnet publish should not output deps file"
@anurse Is the deps file preferred over app local? If so then that might post problematic for our current build and things might just be working by fluke.

Here's what the output folder looks like:

![image](https://cloud.githubusercontent.com/assets/95136/10997178/c968f29e-843f-11e5-9392-c03502823d8c.png)

[2015-11-06 17:17] anurse opened #159 "Investigate source indexing in dotnet-compile"
During `dotnet-compile` we should try to index the source code into the PDBs, including Git metadata and source code download paths where possible (additional metadata in project.json might be required). I talked with @ctaggart at the MVP summit about this (see also aspnet/Universe#131) and we decided to put this down as a potential dotnet-compile feature. Once this repo goes public we can co-ordi

[2015-11-07 01:23] davidfowl opened #164 "Add implicit design time facade expansion"
As much as I hate it, we have to do it for existing PCLs.

[2015-11-07 09:14] davidfowl opened #165 "Automatically sign pkg on ci builds"

[2015-11-07 10:39] davidfowl opened #166 "Add --version switch to cli"
For comparison:

Mono
[code]

Node
[code]

Golang
[code]

Personally, I Iike seeing the commit sha in there as well as the version.

[2015-11-07 11:29] davidfowl opened #167 "Remove dnvm2 from bootstrap script"
Since @Sridhar-MS made the latest packages (https://github.com/dotnet/cli#build-status) we have little need for dnvm2 anymore. We should just curl the latest tar.gz/zip and put it in stage0.

/cc @anurse @glennc

[2015-11-10 19:50] cston opened #171 "No prompt in 'dotnet repl'"
Prompt is echoed after input rather than before.

[code]

[2015-11-11 19:13] troydai opened #175 "Migrate DTH experience"
_Updated on 12/9_:

Brief:
* [x] Establish `WorkspaceContext` in `Microsoft.DotNet.ProjectModel`. It manages `ProjectContext` among projects under same workspace
* [x] Slim the original DTH mechanism into APIs.
* [x] Establish internal mechanism to cache `ProjectContext` and `Project` for a design time experience
* [x] Integration with OmniSharp.
* [x] Establish `dotnet-designtimeserver` as replac

[2015-11-12 07:26] weshaggard opened #181 "Cmd escaping is causing argument parse errors"
https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Cli.Utils/Command.cs#L64
The escaping of quotes appear to be unnecessary in some scenarios.

[code]

Note that we only go down this code path when the command is not on the path, if it is on the path then the command works with the following command line:

[code]

I would submit a PR to remove the escaping but I wanted to understand if

[2015-11-12 10:04] krwq opened #182 "Why 'dotnet repl'?"
Can we change it to something a normal user can understand without using a search engine like "run" "code" "exec" or something which actually means something and not an abbreviation? Wasn't second word supposed to be a verb?

[2015-11-12 10:59] krwq opened #184 "dotnet repl should react on arrows"
Clicking arrows should show you last commands. Currently nothing is happening (at least not on Windows 10 console)

[2015-11-12 18:14] Sridhar-MS opened #185 "Make '--framework' and '--runtime' optional in dotnet-publish and set default values for them."
dotnet-publish must set the default values for target framework and runtime when the options are not specified by the user.

**Default Target Runtime**
Find the default runtime based on the platform/OS on which dotnet-publish is run. For example if dotnet-publish is running on OSX then the default runtime is "osx.10.10-x64"

Questions:
- How do we choose between aot and non-aot for the default run

[2015-11-13 00:40] blackdwarf opened #187 "dotnet-publish"
dotnet-publish
==============

**NAME**

dotnet-publish -- packs the application and all of its dependencies into a folder getting it ready for publishing

**SYNOPSIS**

dotnet-publish [options] [project]

**DESCRIPTION**
dotnet-publish will compile the application, read through its dependencies specified in project.json and publish the resulting set of files to a directory. This directory contain

[2015-11-13 20:51] richlander opened #191 "Publish .NET Framework and PCL Reference assemblies"
Goal: Build projects (e.g. project.json) that support net451 (or later) or PCL frameworks.

We need a way to acquire the reference assemblies on any/all OSes w/o installing anything special and certainly w/o requiring a VS install on Windows.

[2015-11-14 02:16] Sridhar-MS opened #195 "[Windows] Visual C++ Redistributable(VS 2015) is required to run dotnet tools on Windows"
dotnet tools cannot run on a vanilla Windows machine. It fails to load
- VCRUNTIME140.dll
- MSVCP140.dll

Need to install C++ Redistributables(VS 2015)   - https://www.microsoft.com/en-us/download/details.aspx?id=48145

[2015-11-16 15:37] richlander opened #199 "Add samples to repo"
We need some simple samples in the repo that people can kick the tires with. This should be similar to: https://github.com/aspnet/Home/tree/dev/samples. This isn't the same as #192.

/cc @blackdwarf

[2015-11-16 22:13] piotrpMSFT opened #205 "Jenkins cannot access dotnet-linux-x64...tar.gz"
http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_cli_debug_ubuntu_prtest/265/console

java.io.IOException: remote file operation failed: /mnt/j/workspace/Private/dotnet_cli_debug_ubuntu_prtest at hudson.remoting.Channel@68a5c403:dci-ub-bld-12: java.nio.file.AccessDeniedException: /mnt/j/workspace/Private/dotnet_cli_debug_ubuntu_prtest/artifacts/packages/dnvm/dotnet-linux-x64.0.0.1-alpha-201511

[2015-11-17 14:57] MichaelSimons opened #212 "dotnet should support Debian distros"
# Repro Steps
1. Create the following Dockerfile.

FROM buildpack-deps:jessie-scm

RUN echo "deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/dotnet/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list \
    && apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893 \
    && echo "deb [arch=amd64] http://llvm.org/apt/trusty/ llvm-toolchain-trusty-3.6 main" > /etc/apt/source

[2015-11-17 18:00] MichaelSimons opened #214 "dotnet run fails when running from a certain directories"
# Repro Steps
1. Create a Dockerfile with the following contents
[code]
2. Build the docker image using an Ubuntu.14.04-x64 machine - docker build -t nestedBug .
3. Run the docker image - docker run -it nestedBug
4. Within the docker container run 'dotnet run' from the various application directories

# Actual Results
dotnet run succeeds for the dotnetapp and app1 directories.  When run from other

[2015-11-17 18:15] Sridhar-MS opened #215 "Windows MSI installer"
To do list
- [X] Make sure no machine restart is required to update the environment variables (%patth%, %dotnet_home%).
- [ ] Make the MSI upgradable.
- [X] Enable machine wide installation for all users
- [ ] Chain VC++ redistributable.
- [X] Add dependency provider keys
- [X] Add registry keys to detect installation

[2015-11-17 19:05] piotrpMSFT opened #216 "Guidance for migrating DNX --> BCL APIs"
We want folks to move off of IApplicationEnvironment as part of move to CLI. This issue tracks recommended replacement APIs.

|  IApplicationEnvironment   |   BCL   |   Notes   |
|-------------------------|----|-------------|
|  ApplicationName |    |  dotnet/corefx#1784, dotnet/corefx#4146, dotnet/corefx#4314   |
|  ApplicationVersion |    |  Replacement not found.  |
|  ApplicationBasePath |  Ap

[2015-11-17 21:23] anurse opened #218 "Use Microsoft.Extensions.Logging for console output"
We may need to fiddle with the Console output, but we should probably use the new common logging APIs to send log messages around.

[2015-11-17 22:58] piotrpMSFT opened #219 "Support Multiple Test Frameworks"
We will be adding a top-level TestRunner(s) property to project.json to allow for folks to select the runners that should be executed when they *dotnet test*. I don't see any reason why folks could not use multiple runners/frameworks in a given project [xunit + nunit, for example]. Supporting this, however, means that the property would be an array of 0+ elements:

[code]

The common scenario, how

[2015-11-18 06:17] davidfowl opened #226 "Composability via NuGet packages with tools"
This came up today in a discussion and it seemed interesting. We have 2 ways to compose tools today:

- Overwrite tools in the dotnet folder
- Put a tool on the PATH

What if you could add a nuget package with a tools folder, and we respected the tools in there? Crazy?

[2015-11-18 08:45] piotrpMSFT opened #232 "dotnet-build should compile incrementally"
dotnet-compile and therefore dotnet-publish is not considering current artifacts when choosing to recompile a project. This is slowing down both operations.

[2015-11-18 08:49] piotrpMSFT opened #233 "dotnet publish --nocompile"
dotnet publish should support being plugged into a build orchestration workflow wherein the dotnet-compile step took place earlier and need not be repeated.

[2015-11-18 14:47] dleeapho opened #234 "corehost should not require DOTNET_HOME"
Install as follows:
wget https://dotnetcli.blob.core.windows.net/dotnet/dev/Installers/Latest/dotnet-linux-x64.latest.deb
dpkg -i dotnet-linux-x64.latest.deb

'dotnet run' on an app folder gives:
failed to locate CLR files, set the DOTNET_HOME environment variable

[2015-11-18 16:40] weshaggard commented on #216
I've updated the table with a couple more options. As for GetEntryAssembly it isn't added yet but we do have plans to include it.

[2015-11-18 16:43] weshaggard commented on #191
@richlander I assume this is a duplicate of https://github.com/dotnet/corefx/issues/3934. Can you provide the exact list of profiles we need?

[2015-11-18 16:54] anurse commented on #219
I figured someone just needed to say it ;P. Let's go with one, and we can always expand later. It's easy to have the test runner property be a single string now and add support for it being an array later.

As for command line arguments, I think we should work like DNX commands worked, just add the command line arguments to the string that is used for the runner. For example:

[code]

What if we u

[2015-11-18 16:55] anurse commented on #234
:+1: indeed it should. We may also want to consider having `corehost` be able to search default locations though so that setting `DOTNET_HOME` isn't absolutely necessary.

[2015-11-18 16:56] anurse commented on #218
This turned out to be not as trivial as I'd hoped. Unfortunately, because we chain tools and forward `stdout`, we get ugly stuff like this:

[code]

I'm gonna think a bit on how to solve this, but for now I'm putting this on hold. I have a prototype branch started.

[2015-11-18 16:58] anurse commented on #226
The node community is even moving away from heavy tools in global install (https://nodejs.org/en/blog/npm/npm-1-0-global-vs-local-installation/). When you `npm install -g grunt-cli`, you don't get the full CLI, instead you get a shim that launches the cli from your local project directory. Having `dotnet` go one step further and implement that "shimming" itself doesn't seem like a bad idea to me a

[2015-11-18 17:04] natemcmaster opened #236 "Package names should not be case-sensitive"
DNX treats package names as case-sensitive but NuGet does not. E.g. using "Microsoft.NetCore.Platforms" instead of "Microsoft.NETCore.Platforms" can crash restore. This is evident when running `dotnet restore` on the following project json on darwin/linux.
[code]

Error:
[code]

This can also lead to other build errors (See https://github.com/aspnet/EntityFramework/issues/3779 for example)

[2015-11-18 17:04] natemcmaster commented on #236
cc @anurse @ericstj

[2015-11-18 17:05] anurse opened #237 "Port DNX "scripts" concept"
DNX has a useful `scripts` construct where scripts can be assigned to run during certain lifecycle events in the `dnu build/pack/restore` pipelines. We should migrate that concept to `dotnet`. It is extremely useful for things like incremental compilation of `dotnet` itself where compiling an individual project can copy the resulting binary into your previous full build so that you don't have to r

[2015-11-18 17:06] anurse commented on #236
Technically this code is moving to NuGet, but we can track this here for now. `dotnet restore` (if it exists) in the final product will be a shim around `nuget`. Currently, it is a shim around `dnu restore`, which means it has the same issues.

[2015-11-18 17:38] spboyer commented on #59
@davidfowl @shanselman so I'm clear. `dotnet run` == `dnx web` today for web apps? Or what would be the equivalent?

[2015-11-18 17:40] anurse commented on #59
It would certainly work similarly. Moving forward, you'll have three main options

1. `dotnet run` it from source directly, this compiles the project and launches it
2. `dotnet compile` the managed code and run the output (`dotnet compile` drops a shim native executable that loads coreclr and launches your app)
2. `dotnet compile --native` into a completely self-contained native application with n

[2015-11-18 18:19] anurse opened #238 "Move debian packaging tools and scripts to packaging folder"
Hey @brthor, now that we have a `packaging` folder with `windows` and `osx` folders to hold the packaging tools, can we move the `package_tool`, `debian_config.json` and other necessary components to a `packaging/debian` folder?

[2015-11-18 18:27] davidfowl commented on #237
I had an even crazier idea last night.

dotnet command runs

dotnet-command

Which will run the script pre{command}, dotnet-{command}, post{command}. Might now work well in all scenarios as context is required. But it's worth thinking about.

[2015-11-18 18:28] anurse commented on #237
Yeah... I think that's getting a little more complicated that we want though. Worth thinking about

[2015-11-18 18:37] blackdwarf commented on #234
@anurse that would be actually a much better solution. So:

* search for a default install
* if not exists check for env variable
* if not set, fail

Thoughts?

[2015-11-18 18:40] anurse commented on #234
Yeah, the point of the `DOTNET_HOME` environment variable is mostly for specific applications and our own development process, so I think that's the best option. The search orders would be as follows:

Windows:

* `%DOTNET_HOME%`
* `%LOCALAPPDATA%\Microsoft\dotnet\cli`
* `%ProgramFiles%\Microsoft .NET Tools?\dotnet\cli?` (we need to finalize the Windows MSI layout)

Unix:

* `$DOTNET_HOME`
* Maybe

[2015-11-18 18:51] Sridhar-MS opened #240 "Crossgen is failing for windows builds"
From the build logs

10:39:07
10:39:07 D:\j\workspace\Private\dotnet_cli_release_windows_nt_prtest>REM Copyright (c) .NET Foundation and contributors. All rights reserved.
10:39:07
10:39:07 D:\j\workspace\Private\dotnet_cli_release_windows_nt_prtest>REM Licensed under the MIT license. See LICENSE file in the project root for full license information.
10:39:23 Crossgen failed...

http://dotnet-ci.c

[2015-11-18 18:56] piotrpMSFT commented on #216
Thanks Wes. We have two members that have no path forward right now. What are your thoughts? Are these capabilities we can add in BCL?

[2015-11-18 19:01] davidfowl commented on #216
I've been laughing these into the BCL where it makes sense. Some of them have been taking longer than expected go in though

[2015-11-18 19:04] brthor commented on #238
Makes sense, the package_tool directory does look a little weird next to src and scripts :+1:

[2015-11-18 19:19] brthor commented on #212
Is this a debian docker image?

If so, it seems like 8.debian-x64 as the RID might be the correct behavior and we need to account for it in other places.

[2015-11-18 19:24] Petermarcu commented on #212
Not much testing is happening on Debian right now. Most is on Ubuntu 14.04. Should we use that as the base image instead for now?

[2015-11-18 19:31] piotrpMSFT commented on #237
I like it. Code will be simpler and project.json will be easier to parse by humans. Having 4 top-level nodes [compile, pack, restore, publish] is much easier to reason about than 8.

[2015-11-18 19:31] brthor commented on #212
@Petermarcu This seems like the best solution for now, but we will need to think about this eventually.

The Ubuntu base docker image is substantially larger than the debian image, so I think we'll want to go back at some point.

[2015-11-18 19:31] piotrpMSFT commented on #237
@Sridhar-MS, I think you were starting to look at this issue as well.

[2015-11-18 19:36] brthor commented on #234
@anurse Why the cli after /usr/share/dotnet?

Are we planning to put other things there? And does the PKG already install to that location?

[2015-11-18 19:40] anurse commented on #237
@piotrpMSFT There would still be `pre` and `post` events in project.json in David's proposal. He's just proposing a significantly more general solution of adding `pre`/`post` scripts to **any** `dotnet` command. For example, I could have a `precompile-csc` command or a `preresgen` command or a `prerepl`(?? I think it actually only makes sense for commands that have a project context) command.

[2015-11-18 19:41] anurse commented on #237
Let's take expansion of this behavior offline or to a new thread though. I've submitted a PR to add the infrastructure and `precompile`/`postcompile` events. From there we just need to add the other events. I'll file bugs for those.

[2015-11-18 19:42] piotrpMSFT commented on #212
Interesting. We should keep our images to Ubuntu for now. I want to get CI running on other platforms in the very near future but until then we can't guarantee anything about customer experience on non-Ubuntu.

[2015-11-18 19:43] piotrpMSFT commented on #237
@anurse yep, I understand the proposal. Though it's more text, I think grouping pre/post scripts around their commands makes the overall experience easier to understand.

[2015-11-18 19:43] anurse opened #242 "Add prepack/postpack events to scripts"
After #237, we have script execution in `dotnet`. We should add the `prepack` and `postpack` events which run before and after the `dotnet pack` command. Since `dotnet pack` executes `dotnet compile`, the flow looks like this:

1. `prepack`
2. `dotnet-compile`
  1. `precompile`
  2. `dotnet-compile-csc`
  3. `postcompile`
3. Prepare outputs for packaging
4. Create nupkg
5. `postpack`

/cc @davidfo

[2015-11-18 19:43] Petermarcu commented on #212
@brthor, absolutely. I'm just aiming to unblock right now. We will continue to add distros and deal with the differences throughout the stack.

[2015-11-18 19:46] Sridhar-MS commented on #237
I agree with @piotrpMSFT but I guess it will involve changing the project.json schema.

[2015-11-18 19:47] anurse commented on #237
So are you talking about a possible restructuring of the schema? Something like

[code]

If we're going to do that, maybe we change the top-level property name. Thoughts @davidfowl

[2015-11-18 19:48] piotrpMSFT commented on #242
I think we should generalize this, per @davidfowl's suggestion.

@Sridhar-MS

[2015-11-18 19:48] piotrpMSFT commented on #237
right.

[2015-11-18 19:48] anurse commented on #234
I saw other packagers put things in the "cli" subfolder so I duplicated it. I'm happy to remove it!

The PKG currently installs to `/usr/local`. I'd actually suggest it should install to `/usr` instead since it is using the OS-provided packaging mechanism (just like the DEB is today)

[2015-11-18 19:49] anurse commented on #238
Coolio

[2015-11-18 19:52] piotrpMSFT commented on #216
I've linked the issues you created where I ran across them. Can you add any others?

[2015-11-18 19:52] anurse commented on #242
I mostly agree, just want to keep this here temporarily to remember it until we finalize that plan. I'll close it out once we have a clean plan there

[2015-11-18 19:53] anurse commented on #237
Ok, I'll let this issue represent the initial port of the code and the `precompile` event (I still think there's value in adding that as-is, even if we change it later). I'll open an issue to generalize this and we can start on that immediately after. IMHO it's easier to get the initial stuff in and generalize

[2015-11-18 19:54] piotrpMSFT commented on #237
agreed.

[2015-11-18 19:54] anurse commented on #234
@Sridhar-MS where does the MSI install to? Have we finalized that path?

[2015-11-18 19:56] piotrpMSFT commented on #232
publish calling compile makes it messy.

Feel free to clean up description, though. So far this issue is just to track the concept and no design is proposed.

[2015-11-18 19:57] piotrpMSFT commented on #233
codesign. described just above.

[2015-11-18 20:00] anurse opened #244 "Generalize project.json "scripts""
Rather than specific lifecycle events, we could have a more general model where **every** `dotnet-[command]` command (**where a project context is available**) runs the following sequence of events:

1. `pre[command]` script in the `project.json`
2. `[command]` implementation
3. `post[command]` script in the `project.json`

Open questions:

1. Should the driver do this or the individual commands?

[2015-11-18 20:02] anurse commented on #240
I've seen this too. I do like that we don't fail the build on this, at least on dev machines, since the result is still completely usable. Perhaps we should make the CI fail builds if crossgen fails though.

[2015-11-18 20:07] blackdwarf commented on #234
Program Files\Microsoft\dotnet is the install path I see.

[2015-11-18 20:14] Petermarcu commented on #244
As you mention, these commands are going to be project/context specific. In different contexts, you may want the script to do something completely different. In that case would I have to have the [pre]command inside the context so the right one is run. That whole route seems very complicated.
We also need to consider the impact of supporting these scripting events on usability within the context o

[2015-11-18 20:16] gkhanna79 opened #246 "Enable dotnet compile --native for Mac"
We should get the basic pieces in for Mac and test the CPP mode. We will enable the JIT mode once we have the supporting packages made available tracked by https://github.com/dotnet/corert/issues/327.

[2015-11-18 20:33] anurse commented on #234
I don't know that we should be writing into `%ProgramFiles%\Microsoft` directly... maybe we need to review that path.

[2015-11-18 20:34] Petermarcu commented on #234
I agree, we need to review all the paths and registry key locations.

[2015-11-18 20:57] blackdwarf opened #247 "OS X PKG permissions and symlinks are not correctly placed"
Postinstall script is not creating correct symlinks. Also, the permissions on the resulting directory after install are wrong.

[2015-11-18 21:12] Sridhar-MS opened #249 "Find the correct default install location for dotnet windows MSI"
Right now the dotnet MSI installs by default into `%programfiles%\Microsoft\dotnet`.

- Is `%programfiles%` the right place to install dotnet? This is where users typically expect files to be after installation. But the user needs admin privileges.
- Is `%LOCALAPPDATA%\Programs` the right place to install? This becomes a per-user installation,  though it can follow the user around the network. The

[2015-11-18 22:14] Sridhar-MS opened #250 "Find the correct registry keys that the Windows Installer should create"
https://github.com/dotnet/cli/blob/master/packaging/windows/registrykeys.wxs

Currently the following reg keys are set
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Dotnet CLI\Setup
- Install DWord '1'
- InstallDir String 'install directory'
- Version String 'dotnet cli version'

[2015-11-18 22:17] piotrpMSFT commented on #249
I'd prefer %ProgramFiles%\dotnet\cli as our root. Let's not become yet another product [dotnet] that dumps on %ProgramFiles% as it grows.

Our Native installer packages are all in-place updates right now, so omitting a version number seems fine.

[2015-11-18 22:19] piotrpMSFT commented on #250
HKLM\SOFTWARE\dotnet\cli\Setup?

This is a .NET Foundation project so I don't think we should use Microsoft. I'd also like to parent CLI with dotnet.

[2015-11-18 22:25] anurse commented on #249
So do we want the `cli` suffix in there? Other threads have discussed removing it... I think we don't really need it. The layout would look something like:

[code]

[2015-11-18 22:26] Sridhar-MS commented on #249
`dotnet` node in `%ProgramFiles%\dotnet\cli` may confuse people with Desktop .Net.

[2015-11-18 22:27] piotrpMSFT commented on #205
Bryan, can you take another look. Some machines got back into this state. Can we tell what caused it this time?

[2015-11-18 22:29] anurse commented on #249
So serious question: Why couldn't `dotnet` be used to interact with Desktop .NET? `dotnet compile` can already compile things. `dotnet run` is pretty easy to implement as well (just don't copy the stub)

[2015-11-18 22:56] Sridhar-MS commented on #250
/cc: @joeloff I like get your feedback on the registry keys needed by aspnet installer to check for dotnet CLI installations.

[2015-11-18 23:24] Sridhar-MS opened #251 "[MSI] Associate the PATH Environment variable with dotnet[executable]"
So that if that versioned file is uninstalled the environment variables are also removed.

https://github.com/dotnet/cli/blob/master/packaging/windows/envvars.wxs

Here are the comments from @Petermarcu in #211

[2015-11-18 23:47] natemcmaster commented on #246
Until then, we should consider showing an error that says "not supported". At the very least, fix the error message (which complains about `Unrecognized option '--output'` when "--native" is the issue).

[code]

[2015-11-18 23:50] mellinoe commented on #250
Should we try to avoid using the acronym "CLI" in directories, installers, etc? We had an issue regarding its ambiguity which didn't really get resolved very specifically. I don't think the acronym has surfaced in many other places than the repo name right now.

[2015-11-19 00:04] gkhanna79 commented on #246
These are known issues @brthor and @livarcocc are working upon to fix.

[2015-11-19 00:07] Sridhar-MS commented on #250
@mellinoe What issue are you talking about?

Azure CLI also follows the pattern of `azure\cli` in it's directory structure.

[2015-11-19 00:24] blackdwarf commented on #249
@anurse don't know, that is a good question. I guess because we don't want to add more code for something that alrady has significant tooling support, esp. on Windows? Though it is something that could be considered for the future (once we have other things baking).

+1 to not having version numbers and removing \cli. It makes not sense, this is the actual product you are installing, so it seems r

[2015-11-19 00:35] joeloff commented on #250
@Sridhar-MS For the registry keys, what we did in DNX is just write a global key and a local key. The global key contained the root folder of the runtimes folder. The local key had specific information about the version of each installer DNX, DNXMOno, DNXCore-Linux, etc.

The 64-bit installers wrote the keys to both the 32-bit and 64-bit hive since 32-bit installers can't read the 64-bit hive and

[2015-11-19 00:37] piotrpMSFT commented on #234
do we have an ETA for this?

[2015-11-19 00:41] #247 closed

[2015-11-19 00:42] #237 closed

[2015-11-19 01:01] sebastienros opened #253 "dnu pack --out doesn't support forward slash on windows"
Try to use `dnu pack --out ./MyTarget` from windows.

Since rc1 the resulting nupkg contains `/lib/dnxcore50/dnxcore50` which will fail to restore from nuget.
With `dnu pack --out .\MyTarget` it works fine.

[2015-11-19 01:06] mikehaas763 opened #254 "Add documentation comparing and contrasting with dnx+dnu+dnvm"
I suspect that many more people will have the same questions I had wondering how this compares to dnx commands.

I did see in the readme: "This toolchain is independent from the DNX-based .NET Core + ASP.NET 5 RC bits" but I can interpret that several ways and I think some more thorough documentation will be helpful.

[2015-11-19 01:31] brthor opened #255 "dotnet compile --native should pass app dependencies to ILC.exe"
This functionality was taken out because the CoreRT framework libraries are currently only included in the AppDepSDK Nuget package.

We need to think about where the framework libraries will eventually come from, and how we deal with third party app dependencies.

/cc @gkhanna79 @schellap @livarcocc

[2015-11-19 01:47] gkhanna79 commented on #255
@brthor - To confirm, are you saying that "-r" is only passed for System.Private.Corelib.dll and AppDepSDK?

[2015-11-19 01:58] schellap commented on #255
@gkhanna79, we need more libraries in AppDepSDK like EntityFramework. If there are third party libraries, how is ILC supposed to work? Will we do -r ThirdPartyApp.dll or our goal is to have a native image for each IL binary?

[2015-11-19 02:01] gkhanna79 commented on #255
Longterm, acquisition of 3rd party libraries would be part of restoring the app which would declare dependency on such libraries. At that point in time, dotnet compile native should be passing -r for all libraries constituting the app to ilc.

[2015-11-19 02:26] schellap commented on #255
--ilcargs "-r reference1.dll -r reference2.dll" can be passed in such a case as of now.

[2015-11-19 02:50] davidfowl commented on #255
this includes packaging for aot things. Today projects only target dnxcore50 but the aot things are netcore50 and this needs to be sorted

[2015-11-19 03:40] brthor commented on #255
@gkhanna yes currently only appdepsdk/*.dll and System.Private.CoreLib are passed as references

[2015-11-19 04:36] agocke commented on #240
Fixed by #252

[2015-11-19 04:36] #240 closed

[2015-11-19 06:07] krwq commented on #244
I think that the idea is good although I think that project should represent a project while set of a commands should be contained in the script next to it. I think it is better to recommend to have project.json + build.bat/sh

[2015-11-19 08:00] krwq opened #257 "What is Microsoft.DotNet.Tools.Pack?"
It is showing in my VS as some broken project

[2015-11-19 08:10] davidfowl commented on #257
@anurse Added it recently. It makes a nuget package from a project.

[2015-11-19 08:11] davidfowl opened #258 "Add symbol packages back to dotnet pack"
I removed these in my initial commit but it looks like NuGet is doubling down on them.

[2015-11-19 15:38] richlander opened #259 "How to 'uninstall' a built CLI"
I built the CLI. It worked. It's now in my path. Remind me how I remove it so that I can install a new version. I want to install the PKG version, so don't want the versions to conflict.

Can this be written down somewhere?

/cc @blackdwarf

[2015-11-19 15:42] blackdwarf commented on #259
If you built it from source, just remove the $PATH binding by editing the env variable. If you created symlinks, rm those.

Will write it down for people, though these are not cli-specific but rather os-specific operations. :)

[2015-11-19 15:49] richlander commented on #259
/I/ didn't do anything. It's whatever the build script did.

Should I just rm /usr/local/bin/dotnet*

[2015-11-19 15:51] gkhanna79 commented on #255
@davidfowl - I agree. Who is driving that? @richlander may have some context on who maybe driving the transition to netcore50.

[2015-11-19 16:47] anurse commented on #257
What's broken about it? Is there an error in it?

[2015-11-19 16:48] anurse commented on #234
I'm working on it now, mostly done. PR to come today probably.

[2015-11-19 16:50] anurse commented on #249
I'm pretty sure `dotnet run` actually supports Desktop .NET already, and I think that given that we are trying to build a whole new .NET CLI, we should look to try and support the legacy world where we can. Obviously I wouldn't advocate bending over backwards to replace the entire existing ecosystem, but maintaining the ability to build `netNN` projects would be valuable for ensuring the toolchain

[2015-11-19 16:58] blackdwarf commented on #259
@anurse  Did we change the build script to now install stuff?

@richlander yeah, in that case, you can do the following:

1. Remove /usr/local/share/dotnet dir  (rm -r)
2. Remove all of the symlinks in /usr/local/bin that point to the above dir.

[2015-11-19 17:09] anurse commented on #259
The build script certainly shouldn't install the outputs of the build. Are you possibly hitting https://github.com/dotnet/cli/issues/200 (which has been fixed) and actually seeing the installed stage0?

Either way, running `where dotnet` should help you find the things to clean up.

[2015-11-19 17:13] blackdwarf commented on #259
@anurse yeah, that sounds about right, build just drops the artifacts locally, shouldn't be installing.

[2015-11-19 17:15] anurse commented on #254
I'm pretty sure this documentation will be forthcoming, but this is a good reminder :). Here's a brief summary of the way things are changing:

| DNX (rc1) | dotnet (post-rc1) |
|----|----|
|`dnx run`|`dotnet run` **OR** `dotnet compile` + `./bin/[config]/[tfm]/MyProject`|
|`dnu build`|`dotnet compile`|
|`dnu pack`|`dotnet pack`*|
|`dnu restore`|`dotnet restore`|
|`dnu publish`|`dotnet publish`*|

[2015-11-19 17:16] anurse commented on #253
FYI, this isn't where `dnu` bugs should go, but since the packaging code in `dotnet` is copied, I expect the bug is still there ;P

[2015-11-19 17:20] gkhanna79 opened #260 "CLI repo cannot be build when offline"
Building CLI repo attempts to download the latest CLI dotnet tools - this operation will fail when the machine is offline. Is there a specific reason we always download the latest tools to build the repo? Why can we not use the tools downloaded by a previous build, or explicitly installed by the developer?

[2015-11-19 17:29] sebastienros commented on #253
Exactly why it's open here as the other one is deprecated ;) and I am also following @davidfowl 's orders. Thanks.

[2015-11-19 17:30] anurse commented on #253
Psh, I don't know if I would trust that guy :D

[2015-11-19 17:54] joperezr opened #261 "dotnet publish doesn't take argument to point to restored packages"
Here is my scenario:

I want to restore some packages specified on my project.json and then I want to publish the runtime for a specific framework and runtime into one folder. The issue is that when I restore the packages, I want to be able to specify where to restore the packages, like:
[code]

If then I try to run publish, it won't work as it looks for the restored packages in %UserProfile%\.dnx

[2015-11-19 17:54] joperezr commented on #261
cc @brthor

[2015-11-19 18:07] krwq commented on #257
It won't open in VS but is displayed. Am I missing some tool in VS?

[2015-11-19 18:09] blackdwarf opened #262 "dotnet init fails on Linux"
Repro steps:

1. Install the package on Ubuntu
2. mkdir start
3. cd start
4. dotnet init

Expected result: Program.cs and project.json are dropped in the directory.
Current result: A Win32Exception is thrown:
`Unhandled Exception: System.ComponentModel.Win32Exception: No such file or directory
   at System.Diagnostics.Process.ResolvePath(String filename)
   at System.Diagnostics.Process.StartCore(

[2015-11-19 18:37] cartermp opened #263 "[osx] dotnet run only appears to be compiling and gives warnings dnx run does not"
I'm running samples from here: https://github.com/dotnet/core-docs/tree/master/samples/linq/csharp/element

The dnu/dnx toolchain runs just fine, but the dotnet toolchain only outputs some warnings.

```$ dotnet restore```

Output:

[code]

Then:

```$ dotnet run```

Output:
[code]

**When using the dnu/dnx toolchain:**

```$ dnu restore```

Output:

[code]

Then:

```$ dnx run```

Output:

[code]

[2015-11-19 18:52] Sridhar-MS commented on #260
The dotnet commands/contents/layout of the packages are constantly changing and building against the latest builds is a  good feedback loop we are using now.

I guess we can detect offline mode and as a fallback use the installed/older version of dotnet. But still such a build may be very different to the CI/official builds and may be prone to failure.

But anyways you may need to be connected whe

[2015-11-19 19:04] Sridhar-MS commented on #249
I think we need the `\cli` sub-folder. I am thinking people can use the `dotnet` node to pivot other dotnet tools - maybe a debugger.

[2015-11-19 19:04] Sridhar-MS commented on #249
I am ok with having no version numbers which means no SxS for the MSI installer.

[2015-11-19 19:11] Petermarcu commented on #249
So in place updates forever?

[2015-11-19 19:18] Sridhar-MS commented on #249
Yes. And SxS is enabled by downloading zip packages.

[2015-11-19 19:29] cartermp commented on #263
Was able to get it to attempt to run by adding this to the project.json:

[code]

Unfortunately it emits an exception:

[code]

Which is a different problem.

[2015-11-19 19:29] #263 closed

[2015-11-19 19:35] Petermarcu commented on #249
Just took a quick look.

Node.js has no version and goes under program files.
Python has a version and installs per user.
Go has no version and installs in C:\go.
Elm goes under program files and has a version.

Do we know the pro's and con's? My worry is that people will depend on the default location and if we ship changes in the future that break people, we'll be in a weird place.

[2015-11-19 19:38] brthor commented on #262
@blackdwarf Can confirm, dotnet-init is not on the path and also is not in the package root folder.

@krwq Is dotnet init included in the build?

[2015-11-19 19:50] gkhanna79 commented on #260
@Sridhar-MS Does that mean I cannot build CLI repo if the packages are already restored?

[2015-11-19 20:10] Sridhar-MS commented on #260
Well, we do specify `no-cache` when restoring. https://github.com/dotnet/cli/blob/master/scripts/compile.ps1#L49
https://github.com/dotnet/cli/blob/master/scripts/compile.sh#L54

Let me try without the `no-cache` option.

[2015-11-19 20:19] brthor commented on #262
@krwq Dotnet Init should be added here

https://github.com/dotnet/cli/blob/master/scripts/build/build-stage.sh

and in the windows equivalent

[2015-11-19 20:49] gkhanna79 opened #265 "Consolidate how custom arguments are passed to ILC"
dotnet-compile takes them as --ilc-args while dotnet-compile-native takes them as --ilcargs. Can we consolidate them to be "--ilcargs" ?

[2015-11-19 21:26] blackdwarf commented on #262
@brthor @krwq is the error above caused by dotnet-init not being among the bits? This is a very poor error for that. :)

[2015-11-19 21:36] brthor commented on #262
@blackdwarf
Yup, this is basically command not found. Agreed we should be catching this and outputting some error message that makes sense.

[2015-11-19 21:50] brthor commented on #246
@gkhanna79 @schellap

Are Mac Versions of ILCompiler Available on your feed? If not when should we expect them?

As this is coming up the Mac ILCompiler package should not declare a dependency on ObjectWriter or Ryujit until those packages are also available, or restore will break.

[2015-11-19 21:52] schellap commented on #246
@kyulee1, do you have an objwriter and ryujit for OSX for Mac?

[2015-11-19 21:53] fearthecowboy commented on #68
Does this (or will it one day) provide the second feature of ResGen, that is, to create the strongly typed classes  (either generating the .cs files or just emit the code) ?

(Desperately to know :) )

[2015-11-19 21:55] gkhanna79 commented on #246
@brthor @schellap - we will have them tomorrow. However, can we validate that Mac CPP works?

[2015-11-19 22:00] brthor commented on #246
@gkhanna79 We just need the mac version of the toolchain package available somewhere that doesn't depend on Ryujit or ObjectWriter

[2015-11-19 22:08] gkhanna79 opened #266 "CLI repo build partial failures on Ubuntu"
Attempting to build CLI repo on Ubuntu results in the following failures towards the end of the build:

/home/gkhanna/Github/gkhanna79/cli/package_tool/package_tool: line 45: debuild: command not found
*** Testing debian package ***
fatal: destination path '/tmp/bats' already exists and is not an empty directory.
/tmp/bats ~/Github/gkhanna79/cli
mkdir: cannot create directory ‘/usr/local/libexec’:

[2015-11-19 22:14] brthor commented on #266
This is the debian package build failing. This needs to be run as root to succeed, or inside a docker container.

It will not affect the build of your actual bits, you just won't get a debian package as a part of it.

[2015-11-19 22:16] gkhanna79 commented on #266
We should detect this and making it a warning/message as opposed to have failures displayed like this.

[2015-11-19 22:16] kyulee1 commented on #246
https://github.com/dotnet/corert/issues/327 @russellhadley is working on ryujit/objwriter packages for OSX.

[2015-11-19 22:20] blackdwarf commented on #259
OK, I'm going to close this because it seems that we are already tracking it as #200 and the issue is not valid, since the behavior is abberant.

[2015-11-19 22:20] #259 closed

[2015-11-19 22:55] brthor commented on #265
This is fixed.

[2015-11-19 22:55] #265 closed

[2015-11-19 23:42] krwq opened #269 "Add tests"
Add some scenario for tests.

At minimum observable behavior like:
[code]

[2015-11-19 23:43] krwq opened #270 "Simplify build scripts"
Build scripts kept growing and it's time to clean up

[2015-11-19 23:56] Sridhar-MS opened #271 "Should we support side by side installations in our installers?"
The default installation location is
- windows - `%programfiles%/dotnet/cli`
- linux - `/usr/share/dotnet`
- Osx - `/usr/local/share/dotnet`

None of the installation paths are versioned. Should we support installing multiple versions of the CLI?

[2015-11-19 23:56] Sridhar-MS commented on #249
I feel like versioned installation support should be its own issue. Its not specific to windows.

Lets decide the root path in this issue. We can add version to the root path based on whether we want to support multiple version installations or not.

Created #271

[2015-11-20 00:31] brthor commented on #270
@krwq They are somewhat complicated right now, but there is a lot going on too.

What do you suggest should be simplified?

[2015-11-20 00:31] Petermarcu commented on #249
Ok, we can discuss versions on the other issue. My vote would be to have symmetry across platforms. If we have a cli folder on one, we should have it on all and vice versa. Looking around at other things, many of them seem to have something like `dotnet/bin` where they put a bunch of the tools that need to go on the path for that ecosystem.

[2015-11-20 00:38] brthor commented on #261
/cc @piotrpMSFT

I think this functionality would be useful. Since restore supports custom locations, it makes sense that the rest of our tools would.

[2015-11-20 01:11] dsplaisted commented on #233
On MSBuild, we would also like to be able to do a publish without compilation.  In our case, we want to do it on a project.json file that doesn't even include any source files.  We'd like to be able to create NuGet packages for the different components of MSBuild, list them in a project.json, and then do a restore and publish to resolve all the dependencies and publish everything to a folder.  In

[2015-11-20 02:35] davidfowl commented on #233
Why are you using dotnet publish at all? Are you just using it to gather files?

[2015-11-20 02:39] krwq opened #274 "Windows compile --native doesn't work on TestApp"
repro at latest (20f5ba4a5edd518bd012aa6ccee9a899f1bf70ff)
[code]

output:
[code]

[2015-11-20 03:50] dannyvv opened #275 "Poor error handling on json misformatting"
Repro:
1: Enlist in CLI (I'm at 20f5ba4a5)
2: Modify test\TestApp\Project.json
    change
        "System.IO": "4.0.11-beta-23428",
    to:
        "System.IO": { version: "4.0.11-beta-23428" },
3. run build.cmd

Expected:
Error message in IDE parsable format:
[code]

Encountered:
[code]

[2015-11-20 14:26] blackdwarf commented on #271
I still think that SxS of the actual toolchain is something that most people will not do. For those that need it, as @piotrpMSFT mentioned corefx for instance, we have the ZIPs and they can package the toolchain they need (or more than one) themselves.

Thoughts?

@piotrpMSFT @Petermarcu

[2015-11-20 14:29] blackdwarf commented on #254
Good catch @mikehaas763 and a good suggestion. I will be making these documents in the upcoming weeks. Just curious, how would you interpret that sentence from the readme? If it is not clear, we should change it.

[2015-11-20 18:19] spboyer commented on #254
@anurse missing `dnx web` from your table...?

[2015-11-20 18:28] krwq opened #278 "dotnet-compile-native --help crashing..."
I'm getting "application stopped working" just after the help is printed.

[2015-11-20 18:30] mikehaas763 commented on #254
@spboyer Good point. Unless the run command is going to be smart enough to know that a project is an asp.net project and therefore start up a server etc. Right now I believe that command comes from being configured in the project.json file so maybe that's why it's not listed?

Along the same lines I think that a watch or --watch command built in to the dotnet cli tool would be awesome so there is

[2015-11-20 18:34] livarcocc commented on #278
I will take a look at it.

[2015-11-20 18:35] spboyer commented on #254
@mikehaas763 - there is a new entry point in the Startup.cs in web apps now,
[code]
which solves the need perhaps as to not need to read the commands section in project.json

[2015-11-20 18:36] davidfowl commented on #254
Take a look a the RC1 templates, they have a Main that calls `WebApplication.Run`. There's no need for `dnx web` which was just a shortcut to do the same thing.

Neither

Currently we don't have commands support (and may not have any).

The gist of the change is that the tool chain and runtime are decoupled.

[2015-11-20 18:41] mikehaas763 commented on #254
That's interesting. Will have to look into it more.

Not sure what you mean by this. If you took it as I want to have commands support in project.json that's not what I was getting at.

[2015-11-20 18:46] brthor commented on #274
@krwq This is a known issue and is being tracked here #255

P2P references are not currently supported.

[2015-11-20 18:47] krwq commented on #278
https://github.com/dotnet/corefxlab/blob/master/src/System.CommandLine/src/System/CommandLine/ArgumentSyntax.cs#L59

[2015-11-20 18:48] Sridhar-MS opened #279 "Publish the console host in its own nuget package"
This is needed for xplat publish. #185 discusses the scenario of publishing for all runtimes when `--runtime` switch is not specified by the user.

[2015-11-20 18:52] #234 closed

[2015-11-20 18:56] anurse commented on #254
FYI, I updated my table.

We probably won't end up with a watch command in the core dotnet package, but the idea is that other commands can be added from additional packages. Since `dotnet foo` just runs `dotnet-foo`, if someone provides a `dotnet-watch` executable, that will be usable as `dotnet watch`. We're looking at porting the existing https://github.com/aspnet/dnx-watch application to work

[2015-11-20 18:58] brthor commented on #274
@krwq Also you'll need to be inside x64 Native Tools Command Prompt

[2015-11-20 19:28] joperezr opened #280 "dotnet publish --out parameter doesn't support path that ends with slash"
The following fails:
[code]
While if I remove the last backslash it succeeds.
[code]

It's annoying to have to remove the trailing backslash because sometimes you are using properties in a script to pass in as the output path, and since those sometimes get passed in it's annoying that this is a requirement. I would expect the --out param to support both scenarios.

[2015-11-20 19:38] anurse commented on #257
Not sure why, but the xproj for that project got removed. I regenerated it and checked it in to master.

[2015-11-20 19:38] #257 closed

[2015-11-20 19:39] anurse commented on #260
`no-cache` only affects the HTTP cache, if the requested version of a package is already installed it will not be reinstalled.

[2015-11-20 19:42] Sridhar-MS commented on #260
We still need to use `ignore-failed-sources` for restore to work offline (provided the packages are already locally installed).

[2015-11-20 19:44] piotrpMSFT commented on #280
We need to make sure all of the tools are consistent with this request, not just publish.

[2015-11-20 19:47] brthor commented on #262
This is in the latest deb packages now. Closing this.

[2015-11-20 19:47] anurse commented on #270
Agree entirely. Also, we have different scripts for Windows and Unix, which is unfortunate. We started with the simplest thing that would work and it's grown organically to be quite complicated (which was, to be honest, both expected and inevitable). Ideally we want the following:

* Simplicity. No big XML files (*cough* MSBuild *cough*), just simple steps
* Easy to edit. Ideally a language we're

[2015-11-20 19:47] #262 closed

[2015-11-20 20:10] glennc commented on #165
There is a team inside Microsoft that are building a facility to get pkgs automatically signed for our releases, we will end up doing whatever we have to to integrate with that. I don't know exactly how that is going to play out yet.

[2015-11-20 20:11] glennc commented on #167
This is now done. It uses the install.sh that I created and the install.ps1 that @anurse made.

[2015-11-20 20:11] #167 closed

[2015-11-20 20:13] glennc commented on #77
@dleeapho It doesn't though, there are packages that have to be installed in order for a published coreclr application to work. Unless we are changing that or I am misunderstanding something? I need icu for example in order to run my published app.

[2015-11-20 23:32] schellap opened #281 "Add CI test to perform a dotnet-compile-native on hello world"
Since there are a lot of moving parts, let us (corert/CLI) both make sure we don't break the E2E experience between PR merges for both CPP and RyuJIT modes on all supported platforms.

[2015-11-20 23:57] Sridhar-MS opened #282 "Add remote source code support to dotnet-publish"
Something like

This should compile and publish the binaries similar to local source code. Also add support for tags/branches to let users point to the latest stable releases.

Developers can just have CLI installed in their production machines and simply publish their latest stable release into that machine.

[2015-11-21 00:00] brthor opened #283 "Create Test for Full Workflow after Build"
In our builds today, even though we are self-hosted we primarily exercise `dotnet-compile` and `dotnet-restore`. After the build we run a simple smoke test which only exercises the same two commands.

We should create a test which exercises the mainline suite of commands we expect to be available. The workflow would look like this:

1. dotnet init
2. dotnet restore
3. dotnet compile
4. dotnet comp

[2015-11-21 00:01] brthor commented on #281
@schellap I created #283 to track a wider set of work that encapsulates this.

[2015-11-21 00:02] piotrpMSFT commented on #281
Can we close this one then?

[2015-11-21 00:04] #281 closed

[2015-11-21 00:09] brthor commented on #269
@krwq Is this along the same lines as #283 or something different?

[2015-11-21 04:18] krwq opened #287 "Successful build despite visible errors"
I just noticed that in some cases you are getting successful build despite errors.

Here is what I did (not sure if it repros as is):
[code]

[2015-11-21 07:58] krwq commented on #283
Ideally it would be nice to use our own stack to implement this although that would be a bad proof that the stuff is working without any prior simple validation. I think we should at minimum create some simple shell script which tests some simple proof that we are working. Something like that (I don't know if errorlevel would be set when command not found):
[code]

[2015-11-21 13:20] krwq commented on #269
We can close it as your extends this.

[2015-11-21 13:20] #269 closed

[2015-11-21 20:41] brthor commented on #283
@krwq I think we are on the same page. Let me know if that's not true.

[2015-11-21 23:16] wjk opened #289 "dotnet-publish: Unknown runtime identifier"
I am trying to run `dotnet-publish.exe` to build my .NET Core project, but no matter what I runtime argument I pass to it, it keeps saying "Unknown runtime identifier" and exits immediately. I have tried `win7-x64`, `ubuntu.14.04-x64`, and `osx.10.10-x64`; none of them works. Why does this happen?

(I am running the version of dotnet-cli available from the MSI installer on the repo home page, if i

[2015-11-22 02:55] blackdwarf commented on #282
So, essentially, provide support for project.json to be eslewhere and be accessible over network?

[2015-11-22 03:02] davidfowl commented on #282
Uh what? I'm not understanding the use case. Publish is about producing deployable bits. It's not responsible for deploying anything

[2015-11-22 03:05] blackdwarf opened #290 "Should dotnet-publish support publishing without runtime?"
The scenario was raised by @glennc in a chat on Fri. The idea is to `dotnet-publish` publish the user's code and all of the code's dependencies but not the runtime. I guess the runtime would be expected on the deployment target for the application.

/cc @davidfowl @piotrpMSFT

[2015-11-22 03:08] blackdwarf commented on #282
The way I understood it is that dotnet publish can access source code artifacts over the network. Deployable bits are produced locally. But, if this is allowed, CLI can be on the prod machine and invoked thus effectivelly using it for a kind of deployment.

[2015-11-22 03:10] Petermarcu commented on #282
Sounds like a possible future/backlog item to discuss but not for v1.

[2015-11-22 03:13] Petermarcu commented on #290
Yes, publish needs to be able to create a layout that could be deployed to a machine with a shared framework. The shared would be .net core based on coreclr in this case.

[2015-11-22 03:16] davidfowl commented on #282
Sounds like it won't work at all. Publish is going to clone the repository, run restore, and publish and expect that to just work?

[2015-11-22 03:17] davidfowl commented on #290
Yea compile does this already. We need to consolidate

[2015-11-22 03:22] blackdwarf commented on #290
OK, that's pretty clear sentiment then. So, should it behave like above? That is, running `dotnet publish --no-runtime` produces the same layout as currently *sans* the runtime files?

[2015-11-22 03:25] blackdwarf commented on #282
@davidfowl who? Dev? For sure, depending on their code, right? It *could* work if all is well.

[2015-11-22 03:50] davidfowl commented on #282
Lots of things could work and lots of things are also theoretically possible with enough code and constraints. This is one of those things that sounds nice but is harder and more error prone than you can imagine.

[2015-11-22 03:52] blackdwarf commented on #282
@davidfowl for sure. :)

[2015-11-22 04:03] mikehaas763 opened #291 "Minimal console app unhandled FileNotFoundException"
I installed the mac osx pkg installer from get.asp.net. I then created a very minimal hello world console app. I've ran `dotnet restore` which appears to have run successfully. Then when I run `dotnet run` I get this:

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of i

[2015-11-22 07:48] Sridhar-MS commented on #282
@blackdwarf yes, your understanding is right. But apart from this I see more possibilities
- a developer can just do dotnet-publish on any netcore-based repo and get runnable binaries out of it. No need to download the code and run any custom build scripts.
- A simplified CI where a developer just needs to run a bunch of dotnet commands like dotnet-restore, dotnet-publish, dotnet-test and dotnet-p

[2015-11-22 15:30] mikehaas763 commented on #291
project.json:
[code]

[2015-11-22 20:47] adrian17 commented on #291
Same issue on Debian Testing.

[2015-11-22 20:55] adrian17 opened #293 "libcurl should be added to Debian package dependencies"
If `libcurl3`package is not installed, `dotnet restore` fails:

    dotnet restore --no-cache
    Microsoft .NET Development Utility CoreClr-x64-1.0.0-rc1-16048

    ----------
    System.TypeInitializationException: The type initializer for 'System.Net.Http.CurlHandler' threw an exception. ---> System.DllNotFoundException: Unable to load DLL 'libcurl.so.4': The specified module could not be found

[2015-11-22 23:16] blackdwarf commented on #291
The docs are now updated as well as the samples. Confirmed that fix works on Ubuntu. However, OS X still fails (El Capitan, 10.11.1) with the above issue.

/cc @davidfowl @piotrpMSFT for visibility.

[2015-11-22 23:20] hunter-xue opened #294 "dotnet compile does not work on MAC OS 10.11.1"
Get error message:
My MAC OS X version is: EI Capitan 10.11.1
xuedeMacBook-Air:p02 xuehaitao$ dotnet compile
Compiling p02 for DNXCore,Version=v5.0
Could not find file '/usr/local/bin/corehost'.

[2015-11-22 23:40] blackdwarf opened #295 "Add new command "dotnet pkg" for installed package manipulation"
Today (11/22/2015) I was fixing the samples, wondering why they were working on one of my machines but not on a brand new machine. Of course, the reason is that the old machine had a bunch of stuff in the NuGet cache. This lead me, in turn, to thinking about overall package manipulation using our CLI toolchain. We already have two ways of getting packages to the machine specified/planned (`dotnet

[2015-11-23 01:16] davidfowl commented on #295
I think not. We should avoid duplicating nuget commands in the dotnet cli. We keep the most critical ones but nuget already has something for this. I really don't want this tool to be used for advanced scenarios like that.

[2015-11-23 03:02] wjk commented on #289
In perusing the documentation in this repo, I find no mention of `dotnet-publish.exe`. This makes me think that this feature is not yet fully implemented. Unfortunately, I cannot build my project correctly without this feature. @Sridhar-MS @piotrpMSFT Any clue as to why this is happening? Thanks!

[2015-11-23 03:03] davidfowl commented on #289
Nothing is fully implemented yet.

[2015-11-23 04:11] blackdwarf commented on #294
/cc @brthor @Sridhar-MS

[2015-11-23 04:33] davidfowl commented on #294
How did we regress compile? Don't we use it to produce the cli?

[2015-11-23 06:10] Sridhar-MS commented on #293
/cc: @brthor

[2015-11-23 06:16] Sridhar-MS commented on #289
@wjk This is still a work in progress very much. Can you let me know if you also specified the right `--framework` parameter too? We are also tracking an issue #185 where we are making `runtime` and `framework` parameters optional.

There is documentation for publish [here](https://github.com/dotnet/cli/tree/master/src/Microsoft.DotNet.Tools.Publish/README.md).

[2015-11-23 10:52] xanather opened #296 "Add no console compile/publish command"
As it stands executables that are deployed by CLI always open a console. It may be preferred to have a "hide console" option/parameter if the program is developed to run as a background process/service or the program itself intends to create its own input/ouput UI.

[2015-11-23 16:19] davidfowl commented on #296
Sounds windows specific

[2015-11-23 16:24] xanather commented on #296
Why do you think that? How do native ubuntu/mac apps only show a GUI without a terminal?

[2015-11-23 16:30] wjk commented on #289
I am using the value `coreclr` for `--framework`. I assume that’s correct, as I have seen no documentation to the contrary. Also, that README you linked is where I found the runtime identifiers I listed above as nonfunctional.

[2015-11-23 16:32] blackdwarf commented on #294
Compile works, as in, it drops the IL, but the last step, copying over the corehost, fails. @brthor investigated and has some conclusions on why this is failing on OS X. BTW, it works on Windows and on Ubuntu, as far as I can tell.

[2015-11-23 17:07] muratg commented on #294
Repro'd. Is someone fixing this?

[2015-11-23 17:52] AlexGhiondea commented on #216
In the process of implementig/moving ApplicationName to CoreFx I have ran into a bunch of questions around the actual scenario where this API would be necessary.

So far, as I have outlined [here](https://github.com/dotnet/corefx/issues/4314#issuecomment-157537025), the only scenario where this would be useful are hosting scenarios.
And even in those cases, the relationship between host and hosted

[2015-11-23 18:19] natemcmaster commented on #293
Could we add *all* native dependencies to the deb package? `libunwind8 gettext libssl-dev libcurl4-openssl-dev zlib1g libicu-dev uuid-dev` (list from dnx rc1)

[2015-11-23 18:27] davidfowl commented on #296
How do you do this with node or go or rust? Or any of the other languages (e.g is it a compiler flag?) ? I know Java has javaw but I dunno how the other application models work on top of the base. This isn't the general purpose tool chain for all models and I think it depends on what the additional steps look like that determine where they should live.

[2015-11-23 18:30] Sridhar-MS commented on #289
`--framework` input must be a [framework]((https://github.com/aspnet/Home/wiki/Project.json-file#frameworks)) targeted in your project.json. For example - `dnx451` or `dnxcore50`.

But I understand that the error message is misleading.

[2015-11-23 18:42] Sridhar-MS commented on #293
I think any direct runtime dependencies like libunwind is detected automatically and added by debian packaging scripts. But any framework assembly dependency (example - System.Security.Cryptography dependency on libssl and System.Net.Http dependency on libcurl) is not automatically detected and needs to be manually added to the [debian config file](https://github.com/dotnet/cli/blob/20f5ba4a5edd51

[2015-11-23 18:50] brthor commented on #294
@davidfowl @muratg @blackdwarf @hunter-xue

I did some digging on this on Friday, and it looks like this only happens when CoreHost/CoreConsole binaries are symlinked on OSX.

As a temporary workaround (might need sudo):
`cp /usr/local/share/dotnet/cli/bin/corehost /usr/local/bin/corehost`

Issue is being tracked here:
https://github.com/dotnet/coreclr/issues/2128

[2015-11-23 18:53] adrian17 commented on #293
Ah, true, I just took a look at the control file from my package and it contains definitely more than [the config file](https://github.com/dotnet/cli/blob/master/packaging/debian/debian_config.json#L31):

    Depends: libc6 (>= 2.15), libcurl3-gnutls (>= 7.28.0), libgcc1 (>= 1:4.1.1), libicu52 (>= 52~m1-1~), liblldb-3.6, liblttng-ust0, libssl1.0.0 (>= 1.0.1), libstdc++6 (>= 4.8), libtinfo5, libunw

[2015-11-23 18:55] brthor commented on #293
@adrian17 Thanks for the great detail! Will work to repro this today on a clean machine and add in that dependency.

Are you on Ubuntu.14.04?

[2015-11-23 19:06] adrian17 commented on #293
I'm on Debian Stretch, but I just checked on a Ubuntu 14.04 VM and it seems to look the same there.

[2015-11-23 19:08] brthor commented on #293
@adrian17 Thanks for the quick reply!

Taking a look now

[2015-11-23 19:09] wjk commented on #289
Using `dnxcore50` as the `--framework` input fixed it for me. Thanks! However, even though `dotnet publish` completes successfully, the CoreCLR native runtime files are not copied to the output directory, as far as I can tell. Is this supposed to happen? (My guess is that it isn’t, based on the information in that README linked above.)

[2015-11-23 19:12] wjk commented on #289
Note that the program will still run as long as the `DOTNET_HOME` environment variable is set.

[2015-11-23 19:13] blackdwarf commented on #294
I guess the workaround can be to add the copy step to the postinstall for PKG creation, correct? I will try to do that today. Assigning to myself.

[2015-11-23 19:16] brthor commented on #289
@wjk Do you reference the Nuget Package `Microsoft.NETCore.Runtime` in your project.json ? This is the dependency for CoreCLR runtime files

[2015-11-23 19:17] Sridhar-MS commented on #289
`dotnet publish` is just going to copy all the dependencies found in the project.json. If you want the CoreCLR native runtime files to be published you need to add `Microsoft.NETCore.Runtime` as a dependency in your project.json.

[2015-11-23 19:17] brthor commented on #287
@krwq What platforms does this repro on?

[2015-11-23 19:17] adrian17 commented on #293
Oh, on Debian Stretch `curl` depends on `libcurl3-gnutls`, but on Debian Jessie and Ubuntu it depends on `libcurl` - so it's very hard to accidentally encounter this issue on most systems unless you don't have curl installed at all. (although the issue of missing dependency exists nonetheless).

[2015-11-23 19:20] #238 closed

[2015-11-23 19:23] wjk commented on #289
@brthor That did it. All needed dependencies are now copied. Thank you!

[2015-11-23 19:28] muratg commented on #294
Not sure if it's related or not, but `dotnet run` also does nothing, and just exits on a basic Hello World app.  (App runs fine with dnx)

[2015-11-23 20:06] gkhanna79 opened #298 "Add --native tests to smoketest.sh"
We should have coverage for --native in smoke-test.sh that is invoked during the CLI build.

[2015-11-23 20:14] brthor commented on #298
This work is being tracked here #283

[2015-11-23 20:28] piotrpMSFT commented on #298
Duplicate of #283

[2015-11-23 20:28] #298 closed

[2015-11-23 20:32] piotrpMSFT commented on #295
@davidfowl Is the idea that we'd have a dotnet-{foo} that would pass through to NuGet?

[2015-11-23 20:38] piotrpMSFT commented on #291
@mikehaas, can you confirm @blackdwarf updates and let us know if this can be closed?

[2015-11-23 20:39] piotrpMSFT commented on #290
--runtime:shared?

[2015-11-23 20:43] piotrpMSFT commented on #289
@blackdwarf it looks like the docs might have a gap. Can you take a look?

[2015-11-23 20:45] piotrpMSFT commented on #287
yep, can you include a gist with project.json + Program.cs?

[2015-11-23 20:51] piotrpMSFT commented on #279
@gkhanna79 this is dependent on the outcome of our host conversations. Assigning to you until that story fleshes out a bit.

[2015-11-23 20:51] gkhanna79 commented on #279
@piotrpMSFT Is this about the shared host?

[2015-11-23 20:54] billwert opened #300 "dotnet -? should list --help as a subcommand for each command"
Today, -? is this:
.NET Command Line Interface
Usage: dotnet [common-options] [command] [arguments]

Arguments:
  [command]     The command to execute
  [arguments]   Arguments to pass to the command

Common Options (passed before the command):
  -v|--verbose  Enable verbose output

Common Commands:
  compile       Compiles a .NET project
  publish       Publishes a .NET project for deployment
  r

[2015-11-23 20:57] piotrpMSFT opened #301 "dotnet-compile --native should work outside x64 Native Tools Command Prompt"

[2015-11-23 20:57] piotrpMSFT commented on #274
Opened #301 to track x64 Native Tools Command Prompt. All issues identified here are tracked on other issues, so closing.

[2015-11-23 20:57] #274 closed

[2015-11-23 21:00] mikehaas763 commented on #291
@blackdwarf what are the doc updates you've made? Is it the change from manually creating a project.json file to just using `dotnet init` ?

[2015-11-23 21:01] piotrpMSFT opened #302 "Document and trim dependencies for --native"
Using compile --native adds additional dependencies [linker, potentially cpp compiler] that need to be explained, validated, and ideally removed.

[2015-11-23 21:02] piotrpMSFT commented on #275
Thanks @dannyvv. We'll take a look at improving this experience once core functionality is stable.

[2015-11-23 21:04] dlech commented on #291
Here are the changes: https://github.com/dotnet/core/commit/c61177243a0387832666e25d2a8d2bc64d43bedf

[2015-11-23 21:04] piotrpMSFT commented on #270
@anurse, can you pick this up? You have a great understanding of our scripts.

[2015-11-23 21:10] mikehaas763 commented on #291
@dlech thanks for pointing me to the change

@piotrpMSFT Yes I confirm that the docs were updated, but do you really want to have this bug closed before it's fixed when it's being referenced in the Beta-Jan milestone?

[2015-11-23 21:12] piotrpMSFT commented on #255
@brthor can you start linking issues for the pre-requisites of this issue?

[2015-11-23 21:21] piotrpMSFT commented on #249
Please make sure we keep consistency across:
- Mac
- Linux
- Windows
- Registry
- CoreHost defaults

[2015-11-23 21:29] piotrpMSFT commented on #242
This is a duplicate of #244

[2015-11-23 21:29] #242 closed

[2015-11-23 21:41] piotrpMSFT commented on #219
okie, I'm making this a single-runner-per-project. Thanks for inptu!

[2015-11-23 21:41] #219 closed

[2015-11-23 21:44] piotrpMSFT commented on #215
x86 is a non-goal for now

[2015-11-23 21:46] piotrpMSFT commented on #214
@MichaleSimons, @dleeapho mentioned this might be Debian specific. Have you seen this repro on Ubuntu?

[2015-11-23 21:48] piotrpMSFT commented on #205
This issue no longer repros.

[2015-11-23 21:48] #205 closed

[2015-11-23 21:51] piotrpMSFT commented on #195
@Sridhar-MS, can you sync with @gkhanna79 ? It seems we want to statically link these dependencies but the same issue likely exists in other places including the shared host.

[2015-11-23 21:53] piotrpMSFT commented on #191
@richlander, can you add more detail here? It's not clear what work needs to be done here, nor by whom. Leaving in backlog for now.

[2015-11-23 21:54] piotrpMSFT commented on #187
This MD file is already checked in.

[2015-11-23 21:54] #187 closed

[2015-11-23 21:56] piotrpMSFT commented on #182
Looks like we're keeping dotnet-repl.

[2015-11-23 22:00] piotrpMSFT commented on #165
We need signing online in January. How's this going?

@Sridhar-MS, can you link the related MSI issue?
@brthor, can you link the related Debian issue?

[2015-11-23 22:00] piotrpMSFT commented on #164
David, can you provide more detail on this?

[2015-11-23 22:15] brthor commented on #165
@piotrpMSFT
Debian signing is tracked here. #30

[2015-11-23 22:31] jgowdy commented on #291
Still seems broken:

user@host:~/hello$ dotnet run

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

user@host:~/hello$ cat project.json
{
    "version": "1.0.0-*",
    "compilationOptions": {
        "emitE

[2015-11-23 22:37] Sridhar-MS opened #304 "Sign the MSI packages in the CI builds"

[2015-11-23 22:38] Sridhar-MS commented on #165
#304

[2015-11-23 22:39] krwq opened #305 "Command line parsing should have an option to "collect all args from now on""
Since we use forwarding command line args in many places we should have an ability to forward them.

Currently we choose to use System.CommandLine which has issues with this. I.e:
[code]
should print help for dotnet and ignore "anything" while this:
[code]
should run "anything" and pass --help to it

currently both options are equivalent. The cause of this is that you can't simply express:
"When y

[2015-11-23 22:46] blackdwarf commented on #291
Is this on os x @jgowdy?

[2015-11-23 22:55] brthor commented on #128
@blackdwarf This should be fixed in the latest dotnet-compile-native stuff, can you confirm you no longer see it?

[2015-11-23 22:56] jgowdy commented on #291
Ubuntu 15.04

[2015-11-23 22:56] brthor commented on #246
@kyulee1 @russellhadley @gkhanna79 Are these packages available currently?

[2015-11-23 23:05] blackdwarf commented on #290
@piotrpMSFT that is an even better suggestion really. Though...one thing I don't like is that it is yet another "magic string" that the user needs to know. --no-runtime or --exclude-runtime is much clearer...though, the user would then need to know the semantics.

[2015-11-23 23:06] brthor commented on #291
@jgowdy Can you give this a try before `dotnet run` ?

`dotnet restore -s https://myget.org/f/dotnet-core`

[2015-11-23 23:09] blackdwarf commented on #199
@richlander @piotrpMSFT could the dotnet/core repo samples work here?

[2015-11-23 23:13] blackdwarf commented on #295
@piotrpMSFT @davidfowl I'm not talking about implementation, I leave that to your capable hands. :) I just want to see if we think that there is value in this scenario, that we have commands that allow users to interact with the package cache. We have a way to get the packages in there (restore & install-package) but no way to remove them, clear the cache, list it out etc.

[2015-11-23 23:15] glennc opened #306 "Console.Write behaviour differs when running dotnet run"
This is probably something to do with the way we are redirecting things when doing run.

[code]

Running the exe generated `dotnet compile`:
[code]
Using `dotnet run` I get this:
[code]
I haven't dug very far into what `dotnet run` is doing that breaks this. Maybe something to do with stdin.

[2015-11-23 23:15] akoeplinger commented on #182
FWIW, `csharp` launches Mono's C# REPL.

So does `dotnet repl` imply C# now? Or will we get `--lang vb | fsharp` eventually?

[2015-11-23 23:21] Sridhar-MS opened #307 "Run ICE validation for the MSI package"
https://msdn.microsoft.com/en-us/library/aa372423(v=vs.85).aspx

[2015-11-23 23:38] dleeapho commented on #77
@glennc I think you are right, we still need to think about the packages (like ICU) that are needed for all .net core apps. I'll move the --slim issue to dotnet-docker #16

[2015-11-24 00:00] jgowdy commented on #291
I just reinstalled with Ubuntu 14.04 LTS and can no longer reproduce the problem after changing System.IO to "4.0.11-beta-*"  Specifically targeting 23516 wasn't needed.

It's possible the cruft from one of my previous dnvm / dnx setups was involved.  I'm going to reinstall 15.04 to see if I can reproduce it version specific.

[2015-11-24 00:01] jgowdy opened #308 "Ubuntu 15.10 can't install dotnet"
root@ubuntu:~# apt-get install dotnet
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to reso

[2015-11-24 00:10] jgowdy commented on #308
Installation on 15.04 works fine.

[2015-11-24 00:15] jgowdy commented on #291
OSX 10.11.1 El Capitan:

Jeremiahs-MacBook-Pro:hello jgowdy$ dotnet run

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

[2015-11-24 01:07] brthor commented on #293
I was able to reproduce this on a clean Ubuntu 14.04 only by explicitly uninstalling libcurl3, so it shouldn't be an issue in most cases.

Still going to fix it as it is a missing dependency though.

[2015-11-24 02:00] piotrpMSFT commented on #291
Ok, yea, we will take a look.

[2015-11-24 02:02] piotrpMSFT commented on #308
@brthor, FYI. We are not ready for Ubuntu 15 yet, but be aware this is coming. Easy fix?

[2015-11-24 02:04] brthor commented on #308
Thanks for the heads up @piotrpMSFT and thanks for pointing this out @jgowdy

Have not done any testing for this yet but I have a few ideas on the cause.

[2015-11-24 02:12] piotrpMSFT commented on #306
@glennc sounds like you're going to take a look so assigning.

[2015-11-24 02:26] blackdwarf opened #309 "OS X: dotnet-compile outputs error that it cannot copy corehost to the output directory"
In https://github.com/dotnet/cli/pull/299 we added a workaround to unblock dotnet compile failing on OS X with the error of not being able to copy corehost. The crux of the issue is explained in dotnet/coreclr#2128. The workaround was to add a postinstall copy step for corehost to /usr/local/bin instead of a symlink.

We need to solve this properly so this issue is for tracking the proper conclusi

[2015-11-24 03:53] krwq opened #311 "Magic sdf files"
Does anyone know why every single time I do git clean I get warning similar to this:
[code]
What's generating files with this extension? This looks like someone did:
[code]
for debugging purposes and forgot to remove :smile:

[2015-11-24 04:06] krwq commented on #287
it's faster to fix than answering these questions:
https://github.com/dotnet/cli/pull/310

[2015-11-24 05:02] Petermarcu commented on #182
@ManishJayaswal, reopening and assigning to Manish to weigh in.

[2015-11-24 06:07] ManishJayaswal commented on #182
C# will be the default. We do plan to add dotnet  repl --language vb | fsharp later.

[2015-11-24 06:55] adrian17 commented on #308
For the record (I don't know what's the priority on Debian support compared to Ubuntu), there is a similar issue on Debian: Debian 8 (Jessie) can't install because it lacks liblldb-3.6, and on the testing release (Stretch) there is the same libicu52 issue as on Ubuntu 15.10.

[2015-11-24 07:04] davidfowl opened #312 "DocumentationMode compileOptions"
From https://github.com/aspnet/dnx/issues/3189

[2015-11-24 07:33] weshaggard commented on #249
I like `%ProgramFiles%\dotnet\bin`
I know we plan to discuss versioning in another issue but I do believe we should consider including the version because I think side-by-side will be more sustainable.

[2015-11-24 07:40] weshaggard commented on #233
Yes. We have the same scenario as @dsplaisted for bootstrapping the corefx repo. We want to use it to gather the right files from the nuget packages so we can get them into a flat directory for running  other .NET Core based tools.

cc @joperezr

[2015-11-24 07:44] weshaggard commented on #271
@blackdwarf do you ever run with SxS VS instances? I think a number of people do primarily because they are using the existing version of the tools to do the day jobs and then installing a new preview version of the tools that are still in preview mode for testing or playing around with. I think having multiple SxS versions of these tools will be more common then we might think.

[2015-11-24 13:10] shahid-pk opened #313 "Resgen in dotnet debian package conflicts with resgen in mono-devel"
This was reported in #125 but that issue was closed without a fix or workaround.

[2015-11-24 17:58] anurse commented on #295
I really think that commands for manipulating packages should remain under `nuget`. I'd rather see `nuget restore` rather than `dotnet restore` and similarly, commands that manipulate the package cache should live there as well.

As much as I like a "unified" CLI, `nuget` has an existing ecosystem and community around it and we should build around that as well rather than hiding everything behind

[2015-11-24 17:58] anurse commented on #295
But yeah, the general concept of having more commands to manipulate packages and package caches, I'm down with that ;)

[2015-11-24 19:37] krwq commented on #287
#310 merged

[2015-11-24 19:37] #287 closed

[2015-11-24 19:57] MichaelSimons commented on #212
Are there any thoughts on whether or not it would be appropriate to modify the RID detection code to default Debian distros to Ubuntu.  This defaulting seems backwards as it seems more appropriate to default Ubuntu to Debian.  If it is appropriate to change the RID detection logic, what should the version mapping logic be?  I assume the correct long term solution would to support Debian as an offi

[2015-11-24 20:26] krwq commented on #132
I already opened one bug on them with some other AV, I added ref to this issue:
https://github.com/dotnet/roslyn/issues/6993

[2015-11-24 20:26] #132 closed

[2015-11-24 20:29] agocke commented on #132
I think this should stay open. This looks definitively like a bug in CoreCLR.

https://github.com/dotnet/roslyn/issues/6993 could theoretically be the DiaSymReader, so it can stay as a separate issue.

[2015-11-24 20:31] agocke commented on #132
Alternatively, we can open a bug on CoreCLR. This won't be actionable without a dump, though.

[2015-11-24 20:40] krwq commented on #132
Also added https://github.com/dotnet/coreclr/issues/2153

[2015-11-24 21:23] Sridhar-MS opened #314 "dotnet-publish must work for libraries too"
Today for a library project dotnet-publish fails with

xunit test cases are libraries which are reflected over by the xunit runner. And xunit tests are usually not published along with some other application or added as a dependency to an application. So we must provide a way to publish libraries.

[2015-11-24 21:31] krwq opened #316 "Check if any PR feedback should be applied"
This is was just asking for merge conflicts so I merged it and created this PR to make sure you apply feedback if needed
https://github.com/dotnet/cli/pull/284

[2015-11-24 22:55] krwq commented on #278
https://github.com/dotnet/corefxlab/pull/471
I want to workaround it by disabling help by default and manually displaying it - I need IsHelpRequested from commandline parser. For failfast issue - currently Im not aware of any portable workarounds except for Process.GetCurrentProcess().Kill() which is exiting with NZEC

[2015-11-24 22:59] mellinoe commented on #311
It looks like "opensdf" files have something to do with C++ projects in Visual Studio. Perhaps it's because you have the solution open and it's not able to delete the file while the solution is open? If I had to guess it's probably from something CMake generates for the corehost project and can't be deleted while the project is open.

[2015-11-24 23:35] MichaelSimons commented on #214
@piotrpMSFT, per my comments, this did repro on both Ubuntu and Debian.  That being said, I pulled the latest dotnet package and the issue no longer repros in either environment.  Based on this, I am closing this issue.

[2015-11-24 23:35] #214 closed

[2015-11-24 23:39] johanste opened #317 "Enable cross-platform publishing"
It looks like the ExeSuffix used by dotnet-publish is determined by the platform that the tool is currently being run on rather than the runtime you passed in to the publish operation.

[2015-11-24 23:55] anurse commented on #308
Ubuntu 15.10 is not supported by the CoreCLR. Sounds like there are no plans to support it at this time: https://github.com/dotnet/corefx/issues/4324#issuecomment-159373852

[2015-11-24 23:56] anurse commented on #308
There are some hacks you can do to get it working though: https://github.com/aspnet/dnx/issues/3059#issuecomment-150670962

[2015-11-24 23:58] anurse commented on #314
Yeah, I've hit this too. Out of curiosity though, why would xunit need this? I'd expect xunit tests to be run with a shared-runtime model since they are generally run at development time.

[2015-11-24 23:59] anurse commented on #311
Yeah, these are from the Visual C++ project. It's a constant problem in any repo with C++ projects. We can remove them from the solution though, it seems like few people need to use the C++ project and the opensdf file isn't generated unless you open the projects.

[2015-11-25 00:08] jgowdy commented on #308
Okay, it looks like as of now there's language on the getting started page that specifies Ubuntu 14.04.  I don't recall seeing that before.  :)

[2015-11-25 00:08] #308 closed

[2015-11-25 00:17] Sridhar-MS commented on #314
The xunit runner will be run using a shared host. But I am talking about my xunit test case dll. Let's say it has a dependency on PackageA. Right now I cannot publish my xunit test library along with PackageA to a folder.

Now if that scenario is enabled then I can call xunit runner on my published xunit test library.

[2015-11-25 00:52] pakrym opened #319 "dotnet run in directory with space doesn't work"
It treats part after space as a parameter.

[code]

[2015-11-25 01:13] mikedn commented on #311
If they're from VC++ then you can avoid the issue if you configure VC++ to store the database in another place instead of the source directory, see VS options, Text Editor, C/C++, Advanced, Fallback Location.

[2015-11-25 01:22] anurse opened #320 "dotnet repl auto-references mscorlib which breaks on CoreCLR"
This may be a Roslyn issue, but I'm starting it off here because that's where I repro'd it.

Do the following:

1. Run `csi` (`dotnet-repl-csi` is broken, I'm fixing that now)
2. Type `System.ConsoleColor.Red`
  1. :+1: `(1,1): error CS0234: The type or namespace name 'ConsoleColor' does not exist in the namespace 'System' (are you missing an assembly reference?)` (this is **expected**)
3. Type `#

[2015-11-25 01:28] akoeplinger commented on #191
@piotrpMSFT the corresponding corefx issue https://github.com/dotnet/corefx/issues/3934 is assigned to @ericstj and rtm milestone. maybe @davidfowl can provide more details as well.

[2015-11-25 01:35] anurse commented on #314
The test case dll will also be loaded using the shared host logic. You shouldn't have to publish the tests to run them. @davidfowl has started work on a managed library that xunit can use to facilitate this based on what we did in DNX https://github.com/dotnet/cli/tree/davidfowl/loader/src/Microsoft.DotNet.ProjectModel.Loader

Anyway, that's a separate issue. The core idea of publishing a library

[2015-11-25 01:35] Petermarcu commented on #191
The idea here is to enable building libraries targeting the varied .NET platforms from the cli. For example, if I build a set of libraries for one nuget package that have different implementations for .NET Framework, some PCL profile, netstandard, and uwp, you should be able to compile that anywhere the cli runs.

[2015-11-25 01:48] Sridhar-MS commented on #314
May be I am missing something very obvious here, but in my example above how will PackageA library be loaded by the xunit runner process?

[2015-11-25 01:51] anurse commented on #314
The same way the shared host finds it, by reading the test project's lock file and looking it up in the package cache.

[2015-11-25 01:57] Sridhar-MS commented on #314
Oh. I thought shared host will be reading the deps file to look up dependencies.

[2015-11-25 02:33] muratg commented on #319
Same on OS X.

[code]

[2015-11-25 04:27] davidfowl commented on #319
Dupe of #93

[2015-11-25 05:31] glennc commented on #212
For the ASP.NET Docker image we set an environment variable to set the RID to ubuntu, kind of short circuiting RID detection to work on the debian base image. But I don't know if that variable made its way to dotnet yet. @anurse might.

I am comfortable doing that because we have made sure all the appropriate dependencies work and a bunch of people have been using it for a while. It is, however, t

[2015-11-25 06:36] Kimi-Arthur opened #325 "Folder permission is broken for Mac OS X."
After installing dotnet-cli with the pkg file. The group / other 's "x" bit is not set for the folders including and under "/usr/local/share/dotnet/cli".
This makes the binary uncallable since the installation is using "root" user.

[2015-11-25 06:44] Kimi-Arthur opened #326 "How to run dotnet with some target framework other than NetCore 5.0?"
Most packages in nuget don't support .net core.
Since it's mainly MSIL or CIL code, it should probably work in some way.
Maybe we can specify the target framework to use to check for the compatibility.

[2015-11-25 07:53] davidfowl commented on #326
@Kimi-Arthur simply change your project.json to use the framework you want to run. You can run on mono, normal .NET Framework or CoreCLR. `net4x` (e.g. net45)   can be used for .NET Framework 4.5 or mono (as an example), and dnxcore50 is core clr.

[2015-11-25 07:53] davidfowl commented on #325
/cc @glennc

[2015-11-25 07:56] davidfowl commented on #14
Where's the mono dependency?

[2015-11-25 07:56] davidfowl commented on #31
Do we still need this?

[2015-11-25 08:00] Kimi-Arthur commented on #326
Is there a document for how to specify the runtime?
Maybe I didn't dig enough, but I didn't find one yet.

[2015-11-25 08:31] davidfowl commented on #166
Why is this RTM?

[2015-11-25 11:16] muratg commented on #319
This repro's with a a few days old build.

[2015-11-25 16:29] weshaggard commented on #191
I get the basic idea but which targets do we care about? This needs to be fully spec'ed out so we know which target frameworks to produce packages for.

[2015-11-25 16:48] f0rt opened #328 ""assembly not found" exception while running "dotnet compile --native""
Hi team,
I'm running "dotnet compile --native" that fails with exception: *** Assembly not found: System.Collections. ([Myproject]Myproject.Program.Main).
The command "dotnet compile" completes without exceptions. The project is ASP.NET Console Application (package).
I guess I'm doing something wrong. Any ideas?

Thanks in advance!

[2015-11-25 16:55] blackdwarf commented on #325
@Kimi-Arthur this sounds like a regression. Can you invoke `dotnet` from the shell or does that not work?

[2015-11-25 16:58] blackdwarf commented on #317
@johanste can you provide more details? I'm afraif I'm confused slightly by the title of the issue and the issue itself as you described it. :)

[2015-11-25 17:00] blackdwarf commented on #326
@Kimi-Arthur you specify it via the "frameworks" node. You can see some examples on https://docs.asp.net/en/latest/dnx/projects.html, just don't use "dnx451" but "net45".

[2015-11-25 17:47] gkhanna79 commented on #328
Can you confirm you followed the steps at https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md?

[2015-11-25 17:48] gkhanna79 opened #329 "Generate NI images for Microsoft.DotNet.ILCompiler that is packaged with dotnet CLI tools."

[2015-11-25 17:55] blackdwarf commented on #295
@anurse I could go both ways. Honestly, there are times when working with other platforms where I get super frustrated that their package managers are a separate thing from the rest of the toolchain (python & pip, perl & cpan, ruby & gem, node & npm...go seems the only one that doesn't do this), so I can see the value in having an unified toolchain for users.

So, from what I gather from the comme

[2015-11-25 18:11] davidfowl commented on #295
Dotnet should be for the core commands required to get something working. Debug, restore, compile, run, test (and repl I guess). dotnet install or dotnet pkg sub commands should just not exist as they need replicate the underlying thing they are driving. We shoulda avoid inventing specs for how the command should behave outside of the underlying thing.

I'm also ok with non conflicting commands li

[2015-11-25 18:37] Sridhar-MS commented on #31
This can be closed. In way we are already doing this indirectly via project.lock.json. @piotrpMSFT Do we still need this for any scenarios? I can't remember the original reason we created this issue for.

[2015-11-25 18:50] f0rt commented on #328
@gkhanna79 Thanks for the link.
I haven't followed the steps. I'm trying to do it now. Do I need to build the ILCompiler or I just need to install the pre-requisites?
Whan I try to build the compiler I'm getting this error:

Commencing CoreRT Repo build

Checking pre-requisites...

'&' is not recognized as an internal or external command,
operable program or batch file.
'digitally' is not recogniz

[2015-11-25 18:52] brthor commented on #329
Will these NI images be  a part of their respective toolchain packages?

[2015-11-25 18:54] brthor commented on #328
@f0rt You should not need to build CoreRT in order to use `dotnet compile --native`

Keep in mind though this feature is in early stages of development and only works in very simple scenarios. Can you share your project.json ?

[2015-11-25 18:54] brthor commented on #325
+1 hit this issue and had to use `sudo dotnet` frequently

[2015-11-25 18:55] brthor commented on #313
@anurse What all is involved in fixing this? Mono and dotnet are likely to be used side by side frequently and I see this as a big issue.

[2015-11-25 18:57] Kimi-Arthur commented on #325
To @brthor , one workaround is to add "x" bits for all folders under /usr/local/share/dotnet/cli"

[2015-11-25 18:57] blackdwarf commented on #325
@brthor @Kimi-Arthur the weird part is that it is not repro'd on my machine, so this is why I'm asking. Can you share a `ls -lhF` on the `/usr/local/share/dotnet/cli/bin` dir on your machines after installing latest?

[2015-11-25 19:00] #294 closed

[2015-11-25 19:00] brthor commented on #325
@blackdwarf Already adjusted my perms unfortunately. This should fix it though:

`sudo chmod -R +x /usr/local/share/dotnet/cli`

Obviously it's not optimal though since you are making everything executable.

[2015-11-25 19:06] f0rt commented on #328
Sure. Here it is:
{
  "version": "1.0.0-*",
  "description": "MyProject Console Application",
  "authors": [ "blade" ],
  "tags": [ "" ],
  "projectUrl": "",
  "licenseUrl": "",

  "compilationOptions": {
    "emitEntryPoint": true
  },

  "dependencies": {
    "Microsoft.AspNet.Hosting": "1.0.0-rc1-final",
    "MyProjectData": "1.0.0-*",
  },

  "commands": {
    "MyProjectConsoleApp": "MyProject

[2015-11-25 19:12] anurse commented on #313
We should just rename our `resgen`. It's not intended to be used externally, and is not a complete `resgen` replacement. /cc @davidfowl

[2015-11-25 19:17] anurse commented on #212
This isn't actually Docker related at all, this is about running the CoreCLR on Debian (it just happens that most Docker images use Debian ;)). At the moment, CoreCLR only supports Ubuntu 14.04, not Debian. We can work around that in places, but what we really need is for CoreCLR to support Debian Jessie (or similar).

[2015-11-25 19:30] blackdwarf commented on #325
@brthor I **really** dislike that approach. The `--ownership preserve` switch to `pkgbuild` should've kept the permisssions properly.

[2015-11-25 20:11] adrian17 commented on #212
I can still reproduce it on both Jessie and Stretch (future release) on a VM. May be connected to https://github.com/dotnet/cli/issues/291 ?

[2015-11-25 20:13] brthor commented on #325
@blackdwarf I am not familiar with that switch, but does it preserve permissions or ownership?

Permissions are the issue here, not necessarily ownership.

[2015-11-25 20:16] brthor commented on #328
@f0rt The supported way of producing a template project for use with the dotnet cli right now is through `dotnet init`

Your shared project.json has a couple dependencies that are still unsupported at this time. For example, Project to Project references are not yet supported but are being worked on.

[2015-11-25 20:43] pakrym opened #332 "FileNotFoundException on Ubuntu when using file system watcher"
http://stackoverflow.com/questions/33902230/cannot-use-filesystemwatcher-with-coreclr-on-ubuntu

project.json:
[code]

Program.cs:
[code]
Output:
[code]

[2015-11-25 20:45] muratg commented on #325
@BrennanConroy recently fixed the same issue for `dnx` PKG.  Please feel free to ping with him as needed.

[2015-11-25 21:20] gkhanna79 commented on #329
Long term, we would like to selfhost the toolchain. that said, this should be used as tracking bug to enable that experience earlier if required.

[2015-11-25 21:40] brthor commented on #329
I'm just not clear if we should generate these images in the cli build (like we crossgen roslyn) or if they'll already be there in the packages.

[2015-11-25 21:43] brthor opened #333 "Dotnet Pack exiting with Exit Code 1"
Caught this with the new E2E Test.

On all platforms `dotnet pack` exits with exit code 1 after seemingly successfully producing a nuget package. There is no output other than the path where the nuget package was produced.

[2015-11-25 22:09] johanste commented on #317
My apologies for not being clear. Also, I’m currently setting things up so I can actually step through the code to make sure that my observations jive with reality – but in the meantime, this is what I think that I’m seeing:

Microsoft.DotNet.Cli.Utils is using the platform you are currently running on:

namespace Microsoft.DotNet.Cli.Utils

{

internal static class Constants

{

public static rea

[2015-11-25 22:13] gkhanna79 commented on #329
We should generate it to be part of the package that the user downloads for faster out of the box experience for --native.

[2015-11-25 22:14] davidfowl commented on #317
Yea that's broken. Care to send a pull request?

[2015-11-25 22:15] davidfowl commented on #333
Glad we have tests now 😀

[2015-11-25 22:35] anurse commented on #291
This is all due to our extremely minimal support of RIDs (see https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.ProjectModel/RuntimeIdentifier.cs and https://github.com/dotnet/cli/blob/master/scripts/_common.sh#L68)

We need to port the runtime identification code DNX has over, but that was heavily P/Invoke dependent. We are hoping to get an API in CoreFX we can use (https://github.co

[2015-11-26 01:56] Kimi-Arthur commented on #325
The command failed with permission denied. Got:

 And I try to do with `sudo`. It works. Please note that the user `pimix` is some other user on this machine.

total 226824
-rw-r--r--    1 pimix  staff   439K Nov 25 07:55 Microsoft.CSharp.dll
-rw-r--r--    1 pimix  staff    26K Nov 25 07:54 Microsoft.CodeAnalysis.CSharp.Scripting.dll
-rw-r--r--    1 pimix  staff   3.9M Nov 25 07:55 Microsoft.CodeA

[2015-11-26 02:28] blackdwarf commented on #325
@Kimi-Arthur my installation looks the same and stuff works (dotnet can be invoked without sudo). Now, I thought that it is the artifact of me building the package locally, so that the --ownership switch actually preserves stuff properly. I've just installed the online PKG and I still cannot repro this, which is why I'm confused.

[2015-11-26 02:33] Kimi-Arthur commented on #325
So what is your permission for folders under `/usr/local/share/dotnet`? Is it 755 or 744?

[2015-11-26 02:43] blackdwarf commented on #325
@Kimi-Arthur below:
drwxr--r--  178 zlatkoknezevic  staff   5.9K Nov 25 13:55 bin/
drwxr--r--    3 zlatkoknezevic  staff   102B Nov 25 13:54 runtime/

Looks like 744?

[2015-11-26 03:11] Kimi-Arthur commented on #325
So the thing is. If the tool is installed by one user, it's not usable by another. (I'm not sure whether this behaviour is considered a bug?)

Because the symlink in /usr/local/bin points to some path under `/usr/local/share/dotnet`, it won't be able to get there because it cannot `execute` on the folders to reach the real binary. This is the problem.

Quoted from http://unix.stackexchange.com/que

[2015-11-26 05:11] schellap commented on #329
For now, @brthor can ILCompiler also be crossgen'ed?

[2015-11-26 05:50] blackdwarf commented on #325
@Kimi-Arthur ah, so...that's the deal. Nice piece of debugging. So the switch to pkgbuild works but not for multiuser scenarios. Can you try to install as your user and see if it repros? Or have you tried that already?

[2015-11-26 05:58] Kimi-Arthur commented on #325
I don't know why the user isn't myself. But `untar` the `tar` package will work (whose user is myself).
So, this should probably show the cause.

[2015-11-26 07:07] brthor commented on #329
@schellap We can try 😀

[2015-11-26 07:20] krwq commented on #311
Thanks guys! :+1: I think we can close it

[2015-11-26 07:20] #311 closed

[2015-11-26 08:41] f0rt commented on #328
Thank you for pointing that. Looking forward to your next features. :)

[2015-11-26 10:50] krwq opened #335 "dotnet-compile-native should support Debug Build Configuation"
This is causing E2E tests to fail.

CI output:
http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_cli_debug_windows_nt_prtest/478/console
CI log copy:
https://gist.github.com/krwq/4d06b494905a7e7e856c

[2015-11-28 04:27] piotrpMSFT opened #340 "dotnet pack --no-compile"
DotNet pack issues `dotnet compile` by default. Convenient by default, this prevents the implementation of some key post-compile scenarios like signing and localization. The --no-compile flag allows users to opt-out of compilation, allowing them to manipulate the binaries before creating a package.

[2015-11-28 04:43] Petermarcu commented on #340
Will we teach publish and pack to pick up localized or signed binaries from alternate paths? Ideally we wouldn't have to modify them in place to then have them picked up by a later stage.

[2015-11-28 05:07] davidfowl commented on #340
Why does that need to be a flag? If you want control then just call dotnet compile and then nuget pack. I'm not a fan of decoupling the commands from themselves.

[2015-11-28 06:49] piotrpMSFT commented on #340
@davidfowl are you suggesting that localize & sign are things that pubish/pack do in addition to compiling? The current coupling is already causing grief. I'd like to enable postcompile to call pack so folks don't need to remember to regenerate nuget packages in their developer cycle. This is impossible, since it is recursive. compile --> pack --> compile --> pack... It'd be unfortunate to stop us

[2015-11-28 13:44] adrian17 commented on #291
For impatient Ubuntu non-LTS1 users, there is an ugly unsafe temporary workaround: edit `/etc/os-release` and change the following values:

    ID=ubuntu
    VERSION_ID="14.04"

Then rerun `dotnet restore` (remember to change `os-release` back to its original version immediately afterwards!). After this, `dotnet run` properly runs a minimal console application. I tested it on Ubuntu 15.10, 15.04 a

[2015-11-28 17:43] piotrpMSFT commented on #335
@gkhanna79 this seems like a codegen issue...

[2015-11-28 17:53] piotrpMSFT commented on #332
I just saw the same behavior, but had forgotten to `dotnet restore` after adding the dependency on FileSystemWatcher. The output I saw was a bit more verbose, though:

[code]

Can you try re-running the scenario and let me know if this is still an issue?

[2015-11-28 17:53] #332 closed

[2015-11-28 17:57] piotrpMSFT commented on #328
looks like this is resolved :)

f0rt, please re-open if there is still something we need to look into here!

[2015-11-28 17:57] #328 closed

[2015-11-28 18:04] piotrpMSFT commented on #320
Jared, @AArnott, can you guys help get the right person looking at this one?

[2015-11-28 18:10] piotrpMSFT commented on #314
@anurse, assigning to you the removal of this if check :)

[2015-11-28 18:12] piotrpMSFT commented on #313
@anurse, @brthor why is our resgen on the path? We should only be exposing dotnet-resgen, right?

[2015-11-28 18:23] piotrpMSFT commented on #182
@ManishJayaswal, can you close out this issue once it's resolved?

[2015-11-28 18:52] piotrpMSFT opened #342 "dotnet-test"
dotnet-test
===========

**NAME**
dotnet-test -- Runs tests in a project using configured test runner.

**SYNOPSIS**
dotnet test [options]

**DESCRIPTION**
The test command identifies a test runner to use based on project.json and uses that runner to execute tests in the library. The test runner is specified in the TestRunner property of project.json

[code]

The test runner is resolved into a com

[2015-11-29 01:45] davidfowl commented on #340
What do you mean? Those things are already part of compile (generating resource assemblies needs to be added). What exactly is causing grief where?

[2015-11-29 11:01] ManishJayaswal commented on #182
@kuhlenh FYI

[2015-11-29 11:01] ManishJayaswal commented on #182
@kuhlenh FYI

[2015-11-29 11:01] ManishJayaswal commented on #182
@kuhlenh FYI

[2015-11-29 12:18] shahid-pk commented on #313
@piotrpMSFT  resgen is installed into /usr/bin , anything that goes their is automatically on path but if resgen is not intended to be used stand alone than their is not point installing it to /usr/bin , install it to any other place that is not on the path and point dotnet cli tools to that location then renaming resgen will not be required.

[2015-11-29 18:02] jaredpar commented on #320
Moved over to the scripting team (CC @dotnet/roslyn-interactive)

I'm not familiar with that code but it seems odd to unconditionally reference mscorlib.  Naively I would assume that it is tied to the `/nostdlib` option same as the rest of the compiler.

[2015-11-29 21:12] brthor commented on #313
@piotrpMSFT our dotnet-Resgen is named Resgen. We just need to change the name and places where it's invoked.

[2015-11-30 06:35] krwq commented on #342
I like it! :+1: My only concern is who should be responsible for knowing what values can be typed in TestRunner? Let's say I want to write my own fancy build system: how do I know what to do with value "xunit"

[2015-11-30 14:28] blackdwarf commented on #342
@piotrpMSFT  not bad. Some questions:

* What is the Nuget package thing you mention above? Is that a new way of finding commands? I wasn't aware of that.
* What happens if no command is found? I assume failure, but would be good to document that as well.
* Will the tests themselves be compiled automatically or does this command imply `dotnet compile` on the test source files?

@krwq I assume your

[2015-11-30 14:35] blackdwarf commented on #317
@johanste ah, I see, ok, yah, that's broken. :)

[2015-11-30 17:16] MichaelSimons commented on #212
@anurse, yes this is not specific to Docker.  I also agree with you that we need CoreCLR to support Debian distros.  What is your opinion about providing a workaround in dotnet for the time being until Debian is officially supported?  We could either map Debian to Ubuntu (e.g. in Microsoft.Dnx.Tooling.RestoreRuntimeEnvironmentExtensions.GetDefaultRestoreRuntimes) or we could provide a hook such as

[2015-11-30 17:29] anurse commented on #212
I'd totally be in favor of a `DOTNET_RUNTIME_ID` environment variable fallback, and we can implement that sooner rather than later to get moving faster.

The most accurate solution would probably be to change the packages in dotnet/corefx to use an RID derived from Debian as much as possible (the big question is which, if any, version of `libicu` is provided by Debian; that's not the only one, but

[2015-11-30 17:33] anurse commented on #313
I'd definitely like to rename `resgen`, at least for now, it is not a full replacement for the actual `resgen` tool, it is extremely limited to specific scenarios. In general we need to resolve the difference between internal tools and externally-visible tools.

[2015-11-30 17:35] anurse commented on #320
I'd certainly like to try and get this resolved ASAP. As far as I can tell, it makes it very difficult (maybe impossible...) to use CoreFX libraries in the CoreCLR-based `csi`.

[2015-11-30 17:36] anurse commented on #314
Sure.

@Sridhar-MS It could also read that file. There's no reason we can't have managed code to do the same thing the shared host does when setting up a load context for a test runner to operate within :)

[2015-11-30 17:42] amcasey commented on #320
http://index/#Microsoft.CodeAnalysis.Scripting/Script.cs,195

[2015-11-30 17:42] amcasey commented on #320
Maybe you have to use binaries that were themselves compiled on CoreCLR?  Or maybe that's just wrong.  @tmat would be the one to ask, but he's still out.

[2015-11-30 17:44] jaredpar commented on #320
@amcasey these should be the CoreCLR CLI binaries

https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Repl.Csi/project.json#L23

[2015-11-30 17:47] anurse commented on #320
Yeah, that line is wrong in a CoreCLR context. CoreCLR compilations should never reference `mscorlib`, they should only reference the contract assemblies (`System.Runtime`, etc.)

[2015-11-30 17:51] amcasey commented on #320
This is the IL I'm seeing for that line:

[code]

That seems correct, doesn't it?

[2015-11-30 18:02] anurse commented on #320
Sure, but we're still seeing the issue. My interpretation of the cause may very well be off.

[2015-11-30 18:07] amcasey commented on #320
@anurse, sorry, I meant that as a question rather than a challenge.  The IL looks sane to me, but when I step over that line in the debugger, `corlib` is set to `C:\Enlistments\roslyn-internal_master\Open\Binaries\Debug\core-clr\mscorlib.ni.dll`, which surprises me (and matches your theory of why you're seeing ambiguity).

[2015-11-30 18:10] anurse commented on #320
No worries :).

I think the problem is the distinction between reference and implementation assemblies. At runtime, `typeof(object)` appears to return the forwarded `mscorlib` version of `System.Object`. I'd assume that's something that happens inside `GetTypeFromHandle` or elsewhere in the runtime. We should, instead, add a reference to `System.Runtime` directly rather than relying on `typeof(obj

[2015-11-30 18:17] amcasey commented on #320
I'm guessing the current implementation was an attempt to make it work with both mscorlib and System.Runtime.  I also remember @tmat saying that we specifically wanted to use the runtime assemblies everywhere, though I can't recall exactly why.  Maybe @cston has more context?

[2015-11-30 18:44] anurse commented on #320
Using runtime assemblies everywhere in a scripting context makes some sense, but the problem is that users need to know how to resolve that distinction and select the right assemblies for their `#r` directives, etc.

[2015-11-30 18:50] amcasey commented on #320
This looks relevant: https://github.com/dotnet/roslyn/issues/6094

I'm pretty sure @tmat has changes in flight in this area, so I'm a little reluctant to touch it.  Is there something we can do to unblock you until he returns?

[2015-11-30 19:04] anurse commented on #320
If `csi` could accept `/nostdlib` and completely remove all references (except those provided by `/r` in the `csi` command line), that would be fairly low-impact and sufficient for now. In the context I'm working on (dotnet-cli build scripts), I have easy full access to the reference assemblies in a reliable location.

[2015-11-30 19:43] victorhurdugaci opened #345 "dotnet help run makes dotnet crash"
- Run: `dotnet help run` => app crashes
- Run: `dotnet help compile` => no crash

[2015-11-30 20:42] victorhurdugaci commented on #333
I'll fix it because it blocks the KoreBuild porting

[2015-11-30 20:46] anurse commented on #333
@victorhurdugaci and I found it, he's submitting a PR and we'll merge it ASAP. It's trivial.

https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Pack/Program.cs#L54

![image](https://cloud.githubusercontent.com/assets/7574/11483896/f0ac2352-975f-11e5-9d7d-079d2a85b83b.png)

![image](https://cloud.githubusercontent.com/assets/7574/11483920/07b00d52-9760-11e5-8764-99f870f89090.png)

[2015-11-30 21:35] MichaelSimons commented on #212
@anurse, I agree the mapping of Debian to Ubuntu would seem backwards.  If I understand the implementation correctly, the dotnet restore logic is contained within the shared DNX code.  If this is correct, it feels wrong to use an environment variable named 'DOTNET_RUNTIME_ID'.  Isn't this being refactored into CLI though? I prototyped a fix here (https://github.com/MichaelSimons/dnx/commit/d93c996

[2015-11-30 21:36] chaliy opened #350 "`dotnet restore` does not work with relative pathes for local package sources"
I have nuget.config

    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <packageSources>
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="thirdparties" value="thirdparties" />
      </packageSources>
    </configuration>

When I use nuget.exe, it correctly resolve full path to relative to nuget.config file folder thirdparties. Howe

[2015-11-30 21:38] anurse commented on #212
We do already have it in DNX: https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Runtime.Internals/RuntimeEnvironmentExtensions.cs#L15

The problem is that the parts of the code that read the lock file (in `Microsoft.DotNet.ProjectModel`) don't have a similar variable yet.

Eventually that code will be moving to `nuget` and `dotnet` though, so we need to think about where it should go then.

[2015-11-30 22:17] krwq commented on #345
Thanks for the feedback! I'm currently gathering requirements for similar problems. I.e:
https://github.com/dotnet/cli/issues/300
We will be fixing the command line parsing issues soon altogether, please report if you see anything else which you think should be working or should be working differently.

It is good to know people expect `dotnet help <command>` syntax to work as I actually personall

[2015-11-30 22:19] victorhurdugaci commented on #345
I use `help <command>` because it used to work with `dnu`. E.g. `dnu help pack`

[2015-11-30 22:26] moozzyk commented on #345
@krwq `--?` or `-?` ? (`dnx` had `-?` (one dash))

[2015-11-30 22:28] bricelam commented on #342
What value does this command add over just calling (for example) `xunit.console bin/Debug/net45/MyTests.dll`?

[2015-11-30 23:01] BrennanConroy opened #351 "Verbose output displays Microsoft.Extensions.ProjectModel.Compilation.LibraryAsset for every Assembly line"
Need to add a ToString method in LibraryAsset

https://github.com/dotnet/cli/blob/7d5a9015326ce0791659cfdb48ff0f7f5cda9c06/src/Microsoft.DotNet.Tools.Compiler/Program.cs#L736

Example output
[code]

[2015-11-30 23:01] #333 closed

[2015-11-30 23:04] #283 closed

[2015-11-30 23:35] krwq opened #353 "Something in E2E is being displayed in red when building (no errors though)"
[code]

Following line is red (last)
[code]

If this is expected we should make sure it doesn't display in red if not expected then it should fail. Either way something should be fixed.

Let's try to investigate quickly where this is coming from.
@brthor, this appears just before the skipped test in E2E - do you perhaps know if this is expected?

[2015-11-30 23:38] schellap opened #354 "Remove HOME variable requirement to perform restore"
On Ubuntu CI machines, issuing dotnet restore causes errors. This is because HOME is not defined and DNX has trouble finding a place for its cache. Worst case please at least default to /tmp/{username} or use some other variable.

See also hack here:
https://github.com/dotnet/cli/blob/5f5e3ad74c0c1de7071ba1309dca2ea289691163/scripts/ci_build.sh#L24

@Sridhar-MS, @piotrpMSFT, @krwq, @brthor

00:45:

[2015-11-30 23:47] krwq opened #356 "dotnet pack?"
I was planning to do separate issues but something is seriously wrong here and needs to be fixed:
Dotnet compile help for dotnet pack
[code]

Help or some useful message expected, this found:
[code]

We should probably write down some spec and implement it correctly

[2015-12-01 00:19] anurse commented on #270
I should be able to replace the scripts with `dotnet run`. We'll use C# scripting and then use the stage 0 CLI we download to run the build scripts. However, I am currently blocked on #320 which should be getting resolved next week.

[2015-12-01 00:22] anurse commented on #171
This is because of how we forward the process output. Unfortunately, once you redirect Standard In/Out, everything is line-buffered and it doesn't appear to be possible to disable the buffering. @glennc found the same thing.

The only real fix right now is to use Process.Start without redirection and allow the processes to attach to the parent console.

[2015-12-01 00:24] anurse commented on #356
The error messages and help certainly need to be cleaned up, but in both cases these are expected behaviors. `--help` is printing (an obviously copied and not updated) help message and `dotnet-pack` is failing because there isn't a project.json in the working directory.

I'm not sure this needs quite the urgent all caps red label on it, but it should be a fairly simple fix.

[2015-12-01 00:25] anurse commented on #356
It should also be noted that this command will likely move to `nuget` and mostly exists just to allow ASP.NET to begin dogfooding `dotnet`

[2015-12-01 00:26] anurse commented on #356
Also, the error message in a release build is significantly less noisy:

[code]

[2015-12-01 02:30] piotrpMSFT opened #359 "Flakiness in e2e test"
I just had a PR CI run fail with the following:

[code]

What's interesting here is that the invalid pattern is actually the last line of my initial commit message:

[code]

I tried repro'ing this in PowerShell to no avail, so it seems something more interesting is going on. The console logs are here:

http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_cli_debug_windows_nt_prtest/522/console

I'

[2015-12-01 02:32] piotrpMSFT commented on #359
Note, I noticed that a Code Review tool I use left this in my comment as well:

[code]

This might be associated with the issue in question.

[2015-12-01 04:08] brthor commented on #359
This is interesting. It looks like the workaround for #301 is causing this issue somehow. Will take a look.

[2015-12-01 05:13] brthor commented on #359
I believe this is being caused by newlines in environment variable values causing the value to be interpreted as multiple items for the foreach command. Also explains why your workaround in the PR is not working.

[2015-12-01 08:10] piotrpMSFT commented on #359
@brthor, yep. But a fix already got merged :) #344

[2015-12-01 08:10] #359 closed

[2015-12-01 08:34] #314 closed

[2015-12-01 08:35] piotrpMSFT commented on #354
@davidfowl @anurse is this addressed in NuGet already?

[2015-12-01 08:50] piotrpMSFT commented on #342
@krwq the runner author specifies their own string. We need to solve lookup for both test runners and for compilers.

@blackdwarf take a look at #341. It enables dotnet.exe to find and prefer commands in referenced nuget packages over PATH. Necessary for specifying per-project runners as was done in VS.

@blackdwarf we need to think about failure cases all up.

@blackdwarf currently this assumes p

[2015-12-01 08:50] #342 closed

[2015-12-01 08:54] piotrpMSFT commented on #350
dotnet currently uses DNU as the backer for `dotnet restore` so we're seeing the same behavior. Once we move to nuget[.exe] this should be resolved.

[2015-12-01 09:00] piotrpMSFT commented on #313
let's rename this tool to dotnet-resgen for the time being. I'd like to keep that name in the long term so the CLI can stay in the loop with these tools and allow for package-based distribution.

[2015-12-01 09:05] piotrpMSFT commented on #340
I think there is a difference in expectation around the compile verb. Compile seems to be becoming "do everything to prepare this project for publish/pack". There is another responsibility, "find the right compiler, prepare a rsp file for it, and invoke it", that got pulled in. Invoking the compiler directly is not a good option because it forces folks to re-build all the logic in compile for sele

[2015-12-01 09:08] shahid-pk commented on #270
:+1:  for cake

[2015-12-01 09:11] #31 closed

[2015-12-01 09:17] piotrpMSFT commented on #191
This seems like it will primarily affect NuGet + Compilers + Fx package authoring. I get the value add. Do we want to use this issue to track dotnet/CoreFx#3934 along with other affected product issues?

[2015-12-01 09:19] piotrpMSFT commented on #166
We shouldn't ship RTM without it, but this is fit & finish relative to other work we're tracking.

[2015-12-01 09:25] piotrpMSFT commented on #14
This was tracking some early comments about such a dependency in nuget or DNX. If @davidfowl is confident it's not there, we can close.

[2015-12-01 09:33] piotrpMSFT commented on #271
#341 should address our SxS concerns. Projects can reference packages that include the commands they care about. @weshaggard thoughts?

[2015-12-01 09:35] piotrpMSFT commented on #233
@anurse fixed [at least part of] the issue @dsplaisted was seeing in #348. Is that scenario still blocked?

[2015-12-01 09:36] piotrpMSFT commented on #199
Whatever repo hosts the samples should also build the samples x-plat to make sure we don't regress.

[2015-12-01 09:47] piotrpMSFT commented on #290
@Sridhar-MS you've been thinking about a flavor of this scenario lately
If Runtime and Framework are shared then the output of Compile should suffice. This gets messed up a bit by any native dependencies, though, since those would be platform specific.

I think this is what we're after:

|  App contents | Win7-x64 | OSX-x64 | Linux-x64| Shared |
|:--------:|:-------:|:-------:|:-------:|
| Managed

[2015-12-01 10:19] piotrpMSFT commented on #246
@Sridhar-MS is going to work with @anurse and others to figure out the story for where runtimes come from and how they're referenced.

[2015-12-01 10:22] piotrpMSFT commented on #68
This tool needs to be renamed dotnet-resgen until it's at parity with resgen. It's clashing on paths.

[2015-12-01 16:47] ericstj commented on #191
We already have all the PCL profile assemblies for PCLs targeting net45/win8/win-phone-8 and higher so I think this is just about desktop, is that correct Rich or did you have something in mind around a meta-package for the PCL profiles?

[2015-12-01 16:48] clrjunkie opened #360 "Change dotnet "restore""
The word "Restore" strongly suggests "problem".

I think a better naming would be:

dotnet update

or

dotnet sync

[2015-12-01 16:52] davidfowl commented on #360
Restore is the verb that nuget uses and we chose to keep it consistent (tbh I don't see that changing).

[2015-12-01 16:54] davidfowl commented on #191
@ericstj Do the PCL profile folders contain reference assemblies or empty `_._` folders?

[2015-12-01 16:58] ericstj commented on #191
We don't explicitly list out the profiles, instead we have generational reference assemblies that can be used.

[2015-12-01 17:06] clrjunky commented on #360
You normally do "restore" is after a "crash"

if you really want to emphasize downloading then::

"dotnet pull" or "dotnet fetch" would be better.

But I think "dotnet update" is the simplest, you bring yourself up to date with what you need.

[2015-12-01 17:12] clrjunky commented on #360
Think happy :)

[2015-12-01 17:42] anurse commented on #354
No, this will be something we need to review. Right now, both NuGet 3 and DNX use `HOME` to locate their packages cache, since we found that most places have it already. Perhaps we could provide an override variable for CI processes, but the idea is that this cache should be shared between builds, even on CI machines. We could have a final fallback of using `Path.GetTempPath` if absolutely necessa

[2015-12-01 17:43] clrjunkie opened #362 "warning NU1012: Dependency conflict."
Installed CLI via official MSI installer and continued according to the http://dotnet.github.io/getting-started/

init, restore, run

Here is the output:

C:\dd>dotnet run
C:\dd\project.json(9,22): warning NU1012: Dependency conflict. Microsoft.NETCore.Runtime.CoreCLR 1.0.1-beta-23516 expected System.IO 4.0.11-beta-23516 but got 4.0.10-beta-23109
C:\dd\project.json(9,22): warning NU1012: Dependenc

[2015-12-01 18:56] brthor commented on #359
Nice @piotrpMSFT I would say this is a workaround not quite a fix. Environment variables in the CI can get created from the commit message in any PR, which is scary.

[2015-12-01 19:03] #356 closed

[2015-12-01 19:30] AlexGhiondea commented on #216
@piotrpMSFT can you help identify the scenarios where AppContext.ApplicationName would be used? As it stands today there is only 1 scenario that would benefit from it and all use cases in that scenario are somewhat domain specific.

[2015-12-01 19:47] piotrpMSFT commented on #359
The problem was not strictly newlines. The issue is that Set-Item -path treats -path as a pattern expression [e.g. C:\foo\bar\*.cs] and some characters in some EnvVar names ended up causing the Name of those variables to look like malformed patterns. By moving to -LiteralPath we would have dealt with this class of issues since it forces the string to be treated as a literal and not a pattern.

[2015-12-01 19:51] anurse commented on #362
This can happen when your project.json refers to a version of a package which is not present on the feeds you are restoring with. Sounds like `dotnet init`'s template needs to be updated.

[2015-12-01 19:53] anurse commented on #362
FYI, you can work around this by changing those packages to the version that you got anyway: `4.0.10-beta-23109`.

dotnet init should probably only be using packages from NuGet.org, it looks like these are versions that are only present on the dotnet-core MyGet feed.

[2015-12-01 19:54] anurse commented on #360
Restore has been used throughout NuGet's history (https://docs.nuget.org/consume/package-restore), I think we'd prefer to keep in sync with all the existing NuGet documentation rather than create a new concept. In an ideal world, maybe a name change could be useful but I think consistency is more important here.

[2015-12-01 20:04] clrjunky commented on #360
There is no new concept...

dotnet update restores nuget packages.

Sorry but in my opinion "restore" makes the OOB ugly.

Nuget history is .net history not *nix/mac history and quite frankly I don't recall ever using NuGet Package Restore.

But that's just my 2c...

[2015-12-01 21:22] kuhlenh commented on #182
Alternatives we had discussed were: "dotnet play", "dotnet interactive", and "dotnet code".

[2015-12-01 21:55] piotrpMSFT commented on #354
@schellap can you drive this issue?

[2015-12-01 22:00] piotrpMSFT commented on #216
@brthor @anurse @krwq @Sridhar-MS @livarcocc

Adding some more folks who can comment. Display name is the most obvious, though I can imagine using this to find paths to related artifacts [exe/dll/deps/pdb] as well.

[2015-12-01 22:09] bricelam commented on #226
@davidfowl asked

The xunit runner is actually independent from the xunit framework. Any version of the runner can run any version of framework. The runner could be installed (and updated) globally, and each project could have the version of the framework they want to use.

[2015-12-01 22:43] piotrpMSFT commented on #226
Can you have 7.0 and 7.1 both in a single project.json?

[2015-12-01 22:46] piotrpMSFT commented on #182
Do we plan to change?

[2015-12-02 00:56] piotrpMSFT opened #365 "Create Command Packages with dotnet-pack"
Now that we can load commands, like dotnet-test-xunit, from a NuGet package we should enable a path for creating such NuGet packages. Command packages should contain:
* The command implementation [.dll]
* Dependency paths [.deps]
* Hosts [one per target OS]
  * Ideally we'd have a better story for this. I'm working on finding one but want to unblock the scenario first.

The changes to dotnet-pack

[2015-12-02 06:16] krwq commented on #360
I personally would like `dotnet install` best although IMO restore doesn't sound too bad (or maybe I could've got used to that name).

`update` suggests that you want to bump versions to me which is not what is happening.
`restore` literally would mean what you described although it kind of made sense in VS when you think of experience of installing nuget package and then restoring it. In here it

[2015-12-02 06:37] krwq opened #366 "Tons of warnings"
Is there any reason we get this warnings or can we fix it?
[code]

Half of my build log is covered with this.

I'm just wondering how did this happen that we target non-existing version which happens to be higher than highest existing - did we somehow remove the package from nuget, some typo or is there some obscured bug in `restore` which caused this?

[2015-12-02 07:12] clrjunky commented on #360
My intention with "update" was to convey updating your project to include all required dependencies (as apposed to "upgrade")

However, I agree this also suggests a version bump. "Install" is better than "Restore" but by the same intuition it sounds to me a bit weird since "dotnet" is already installed so why do I need to do install again.

After giving this further thought I think what really bot

[2015-12-02 07:26] clrjunky commented on #360
Actually "package-restore" (not nuget-restore) for the point above...

[2015-12-02 07:39] krwq commented on #360
I agree more intuitive would probably be `dotnet package install` although I think this is quite popular convention to shorten it to just `intstall`. Restore I agree can be interpreted quite negatively.

Currently the reason `dotnet init` requires `restore` is because we currently don't have a mechanism for auto-downloading framework packages although that is in our plans.

The final goal for why

[2015-12-02 07:40] clrjunky commented on #362
Here is the original project.json that the cli generated:

 {
    "version": "1.0.0-*",
    "compilationOptions": {
        "emitEntryPoint": true
    },

    "dependencies": {
        "Microsoft.NETCore.Runtime": "1.0.1-beta-*",
        "System.IO": "4.0.10-beta-*",
        "System.Console": "4.0.0-beta-*",
        "System.Runtime": "4.0.21-beta-*"
    },

    "frameworks": {
        "dnxcore50":

[2015-12-02 07:44] clrjunky commented on #360
Sounds like we're on the same page :)

[2015-12-02 08:21] piotrpMSFT commented on #216
@glennc as well. Glenn, do you have context on how ApplicationName was used in DNX?

[2015-12-02 08:24] piotrpMSFT commented on #249
@Sridhar-MS I believe this is now resolved. Can we close?

[2015-12-02 08:45] #157 closed

[2015-12-02 09:03] krwq commented on #345
@moozzyk that was about any command. i.e. git --? That's just about general user experience of how this should be implemented

[2015-12-02 09:05] piotrpMSFT commented on #362
@clrjunky can you confirm this is fixed once new bits roll out?

[2015-12-02 09:30] krwq opened #369 "Improve readability of dotnet publish messages"
When publishing TestApp I can see these mysterious and suspicious messages:
[code]

I think it is confusing as my first thought was "that's not what I wanted to publish".

This issue is for improving general readability of this not about this particular issue.

[2015-12-02 09:45] krwq commented on #181
@weshaggard, I'm not sure I understand this issue, could you. IMO the problem is that in CMD you should be escaping quotes with ^ and not with \
When I copy&paste your command I get exactly what you get but when I run:
[code]
It works well. For the exception itself - I think we should improve the message

[2015-12-02 10:00] krwq commented on #360
:smiley:  :+1:

[2015-12-02 11:28] clrjunky commented on #362
Sure, just ping me when it's ready (I doubt I'll remember :)

[2015-12-02 16:46] anurse commented on #362
We should not be using `*` in the template. `*` is designed solely for interconnected packages built by the same team. It is designed for referencing builds directly off build machines only, not for getting the latest version of public feeds like NuGet.

It is also highly dependent upon the feeds the user has configured. We should either a) do what our ASP.NET templates do and fill in the `*` valu

[2015-12-02 17:09] xanather commented on #296
Seems like its more difficult to do on other platforms.
On Mac OS X you need to manually create a bundle. I assume Linux systems would work in a similar way?

http://stackoverflow.com/questions/23861914/how-to-hide-terminal-window-in-mac-osx

Since creating OS-specific packages/bundles would be slightly out of scope of this toolset I suppose I wont be supported. It would still help to have an opti

[2015-12-02 17:27] weshaggard commented on #181
@krwq the cmd command line is being produced by the tooling which is what the bug is about. All I'm doing is calling `.\dotnet -v publish ..\test -f dnxcore50 -r win7-x64`

[2015-12-02 17:29] anurse commented on #181
Sounds like we should change the escaping to use `^`. Does that work when launching processes **without** cmd as well? (i.e. as raw input to `CreateProcess`?)

[2015-12-02 17:30] anurse commented on #369
That's only supposed to appear when using verbose (`dotnet -v publish`). It's strange that it would be appearing normally. Are you using the latest CLI (or a local build)?

[2015-12-02 17:31] anurse commented on #369
This is what I see on the latest:

[code]

[2015-12-02 17:33] anurse commented on #366
Yeah, it's caused by a feed not having the exact version of the package requested. Sounds like we should just go through our project.json's and correct them

[2015-12-02 17:36] davidfowl commented on #366
It's a downgrade warning, https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Compiler.Common/project.json#L7 is pulling the version down.

[2015-12-02 17:37] bricelam commented on #226
@piotrpMSFT No, it needs to be separate projects. Otherwise, you'll get assembly and type conflicts.

[2015-12-02 17:48] anurse commented on #366
It's not just there. DNX took a higher BCL build in the latest feed and that's causing some of our projects to downgrade. We should probably work on moving the DNX code we're using into this repo to avoid that :).

[2015-12-02 18:15] krwq commented on #366
How much work are we talking? Can this be done by EOD? :smiley:

[2015-12-02 18:19] davidfowl commented on #366
There's other important issues. That said, Andrew is looking into it.

[2015-12-02 18:20] anurse commented on #366
Yeah, I'm doing an overhaul of the p-j's (that's how the cool kids say "project.json 's" btw, :sunglasses:). Should be ready for PR shortly.

[2015-12-02 18:44] davidfowl commented on #351
What do you mean, that looks amazing :trollface:

[2015-12-02 18:45] blackdwarf commented on #369
@krwq I can also confirm what @anurse said. I see similar.

[2015-12-02 18:46] davidfowl commented on #340
Thats the point of this tool though. Teasing apart the responsibilities is fine and you can always call each tool if you want to feel all the pain. The point of this tool is to be extremely opinionated about a specific vertical and not allow that vertical to be infinitely configurable.

[2015-12-02 19:12] krwq commented on #181
I think it will only work with ShellExecute on Windows although I haven't tested it yet.

[2015-12-02 19:14] anurse commented on #181
Hmm. We can't use `ShellExecute`, because it will break output forwarding.

[2015-12-02 19:15] gkhanna79 commented on #335
@schellap Can you please look into this?

[2015-12-02 19:24] schellap commented on #335
@brthor, we do not have debug runtime libs, like we discussed in your PR . I thought you were going to hold off until we figure the packaging out:

https://github.com/dotnet/cli/pull/322#issuecomment-160720311

Is this still occuring after switching to pure retail?

[2015-12-02 19:25] schellap commented on #335
I am working on this since Mon. Is it blocking anyone?

[2015-12-02 19:27] krwq commented on #181
I will test it and see. There probably is some easy way to do that

[2015-12-02 19:28] brthor commented on #181
When I run like this it also seems to work:

`C:\Windows\system32\cmd.exe /C "dotnet-compile --framework "DNXCore,Version=v5.0" --output "C:\temp\dotnet_test\test""`

Do the quotes need to be escaped?

[2015-12-02 19:29] brthor commented on #335
@schellap Debug is our default configuration so for the moment a raw `dotnet compile --native` won't work on windows. I skipped the test with a reference to this issue for the time being.

[2015-12-02 19:30] anurse commented on #181
I think they would if the framework had spaces in it.

[2015-12-02 19:33] krwq commented on #181
does it ever do?

[2015-12-02 19:36] brthor opened #371 "Dotnet REPL does nothing on Ubuntu 14.04"
Easy to replicate with latest bits from the deb package.

[code]

It would be nice to have some message here at least.

/cc @cston

[2015-12-02 19:40] brthor commented on #181
We can test this with spaces in the output param.

`C:\Windows\system32\cmd.exe /C "dotnet-compile --framework "DNXCore,Version=v5.0" --output "C:\temp\dotnet test\test""`

I can't actually get anything compiled for other reasons, but this successfully creates the output folder `dotnet test`

[2015-12-02 19:44] anurse commented on #181
Framework doesn't, but certainly some arguments will have spaces, especially paths on Windows.

[2015-12-02 19:50] gkhanna79 commented on #335
@brthor Instead of skipping the test, can we update dotnet-compile-native to override the configuration to always be release so that the native compilation would continue to be tested. @schellap can use this issue to enable debug builds.

[2015-12-02 19:59] gkhanna79 commented on #246
@piotrpMSFT I am not sure I follow your comment. Can you please elaborate?

For Mac, CPP compilation was enabled last week before Thanksgiving break.

CC @schellap

[2015-12-02 20:05] brthor commented on #335
@gkhanna79 Debug configuration does not appear to be broken on other platforms besides Windows though (not sure if it only appears this way). How do you want to handle this disconnect?

[2015-12-02 20:50] blackdwarf opened #374 "Rename dotnet init to dotnet new"
Based on some of the feedback we've heard in face to face interactions, "init" as a verb is not really intuitive for what it does. The actual functionality is not in question, just the naming of the command.

Some suggestions:

* `dotnet template`
* `dotnet create`
* `dotnet new`

The last one, `dotnet new` is, I think, the strongest contender for the new name. It is pretty clear.

/cc @richlander

[2015-12-02 20:52] muratg opened #375 "install.sh vs PKG/DEB based installers."
See https://github.com/dotnet/cli/pull/331#issuecomment-161401074

Seems like there's an inconsistency between install.sh vs pkg/deb installers.

This should be either documented or the inconsistency removed.

[2015-12-02 21:15] khellang commented on #374
`dotnet scaffold`?

[2015-12-02 21:22] gkhanna79 commented on #335
@schellap can help take a look at this. I suspect its got to do with differences between how linkages are exported for CRT on Windows.

[2015-12-02 21:26] davidfowl commented on #374
+1 to create or new since it's not customizable.

[2015-12-02 21:33] pakrym opened #376 "Add `deps` file api"
Add a project `Microsoft.Extensions.DependencyModel`
Add a class `DependencyContext` this represents flat list of `.deps` file entries
With `.Load` method that read entries from `{Name}.deps` by default, using format we don't know yet.
Also, should it be able to Write these files?

/cc @davidfowl

[2015-12-02 21:34] blackdwarf commented on #374
@khellang `dotnet scaffold` is a good one, I just think that maybe it implies a little bit more than what this command is doing.

[2015-12-02 21:38] blackdwarf opened #377 "Use default project.json if one is not present"
If there is no project.json in the application that is currently being ran (or compiled), use the default project.json that is shipped with the CLI and that contains the stdlib.

/cc @piotrpMSFT

[2015-12-02 21:48] khellang commented on #374
Oh, now I see what it does. Yeah, scaffold should be reserved for something bigger :smile:

[2015-12-02 21:50] paulmey commented on #293
Actually ran into this as well on my clean minimal Ubuntu server as well as the ubuntu:14.04 docker image. Not everyone likes a fat server...? :-)

[2015-12-02 21:52] brthor commented on #365
Is this intended to be only used for CLI command scenarios? The "dotnet-" check seems to imply that. Why not do this for executables in general?

[2015-12-02 21:54] brthor commented on #26
ping @blackdwarf still happy with these values?

If so, going to close this out.

[2015-12-02 21:54] #128 closed

[2015-12-02 21:54] Petermarcu commented on #374
I like `dotnet new` :)

[2015-12-02 21:55] brthor commented on #128
This is no longer happening with new bits.

[2015-12-02 22:04] mellinoe commented on #374
`dotnet new` is good. Rust uses `cargo new` for reference, and it seemed natural there. Although `dotnet` is a bit of a general purpose tool so there's slightly more ambiguity, it still seems fine.

[2015-12-02 22:14] blackdwarf commented on #26
Nope, let's change the short one to .NET Core & command line tools

[2015-12-02 22:14] blackdwarf commented on #374
Seems like "new" is getting traction. :)

[2015-12-02 22:19] brthor commented on #156
If we could get unblocked on `dotnet restore` in docker, this would be much easier. We wouldn't need to spin up any CentOS CI machines.

[2015-12-02 22:20] pakrym commented on #376
https://github.com/dotnet/cli/tree/pakrym/deps

[2015-12-02 23:05] shahid-pk commented on #313
this is fixed now with the latest .deb package.

[2015-12-02 23:05] #313 closed

[2015-12-02 23:23] cdmihai commented on #115
Incremental compilation and concurrent builds should increase performance.

Issue #232 discusses (status, specs, etc) incremental compilation.

[2015-12-03 00:21] brthor opened #381 "Uncomment E2E Tests for Dotnet Debian Package"
The debian package installation should be tested with End to end tests.

This functionality is commented out because of https://github.com/dotnet/coreclr/issues/2215

This issue prevents `dotnet restore` from running properly inside a docker container, which is where we do our package testing.

Before closing, the E2E test should be uncommented in `scripts/package/package-debian.sh`

[2015-12-03 01:55] krwq commented on #374
seems like we all agree on `dotnet new` :+1:

[2015-12-03 02:03] piotrpMSFT commented on #296
This is a parent/child process relationship. The parent process can hide the window for the child process.
 https://msdn.microsoft.com/en-us/library/system.diagnostics.processstartinfo.createnowindow.aspx

What's the gap?

[2015-12-03 02:03] joshfree commented on #374
`dotnet new` :+1:

[2015-12-03 02:05] piotrpMSFT commented on #369
Please reopen if you see this on a current build.

[2015-12-03 02:05] #369 closed

[2015-12-03 02:07] piotrpMSFT commented on #340
Yea, but decomposability is a goal. We need to be able to call compilers without calling all the other stuff. Need a new verb for that one.

[2015-12-03 02:13] cdmihai opened #382 "Perform safety checks for incremental compilation"
Incremental and concurrent compilation is unsafe when compilation relies on tools with potential side effects (tools that can cause data races or modify the state of other projects that have been deemed safe to skip compilation. Or tools that integrate timestamps or guids into the build output).

The presence of such cases needs to be recorded so that incremental and concurrent compilation can be

[2015-12-03 02:16] cdmihai commented on #232
Incremental compilation depends on the ability to detect when it's not safe to run. Safety discussed on #382

[2015-12-03 02:19] brthor commented on #374
+1 for `dotnet new` :)

[2015-12-03 02:23] cdmihai opened #383 "dotnet-build should compile concurrently"
Having concurrent compilation would address some of the performance concerns in #115 .
This feature depends on the ability to detect when it's not safe to run (#382).

[2015-12-03 02:35] brthor commented on #293
Thanks @paulmey didn't realize this was breaking the docker image.

Like @Sridhar-MS typically executables which depend on dynamic libraries will automatically have the packages containing those libraries added as dependencies. It seems this doesn't work for managed executables and is ultimately root cause here.

[2015-12-03 03:11] krwq commented on #377
I think this should be happening. Also we could make `dotnet new` create project only if there are already files in the directory

[2015-12-03 04:35] mellinoe commented on #296
I'm pretty sure the ask is for a way to make the original process (corehost or whatever other native host is being used) start without a console window. For Windows that means linking to the WINDOWS subsystem: https://msdn.microsoft.com/en-us/library/fcc1zstk.aspx. I've done this with coreconsole, but I actually could never figure out the CMake options to make it possible, so I just manually edite

[2015-12-03 05:13] piotrpMSFT commented on #371
Charles, can you help find an owner for this one?

[2015-12-03 05:18] piotrpMSFT commented on #181
We need to make sure we handle platform-specific escaping. "" vs. ^", etc. We're not bringing new standards along with us.

[2015-12-03 06:04] piotrpMSFT commented on #375
@blackdwarf can you pull together a list of our env vars? What they do, when they are required, whether installers set them, etc?

[2015-12-03 06:16] piotrpMSFT commented on #365
The scenario, at least for the time being, is to make dotnet ecosystem more easily expandable. The entry point to these applications is the dotnet driver. Using these packages is done via `dotnet {command}`. Since that is a mandatory calling convention for the time being, making that explicit in the executable is a nice convention.

[2015-12-03 06:19] piotrpMSFT commented on #156
We already have CentOS CI machines for CoreFx [and openSUSE, in fact], just like we do for Ubuntu. We're going to piggyback on that infrastructure again.

[2015-12-03 06:23] piotrpMSFT commented on #376
What's the scenario? Assembly Loading?

[2015-12-03 06:26] davidfowl commented on #376
@piotrpMSFT Yep! And getting compilation data at runtime.

[2015-12-03 07:06] piotrpMSFT commented on #382
Some of these concerns are reasonable for the CLI itself, though others seem better associated with an orchestrator that has additional requirements. The CLI should, for example, support arbitrary compilers. Some of those compilers might not be desirable for use with particular orchestrators, but this is not for the CLI to support.

I'd like to understand how you're thinking about seeing these cha

[2015-12-03 07:19] piotrpMSFT commented on #232
MS Build-style incremental compile would be a great first step [compare timestamps between inputs and outputs]. You're right that this has gaps which we're trying to address per #382 but there's a lot of moving parts there and I want to be sure we can start iterating more quickly before that story fleshes out.

[2015-12-03 08:02] piotrpMSFT commented on #383
Concurrent compilation seems like a build orchestrator concern. We're not setting out to make dotnet itself an orchestrator. We should play nicely in environments where that capability is available, however.

[2015-12-03 08:09] #293 closed

[2015-12-03 08:10] piotrpMSFT commented on #377
Can we spell out the algorithm here a bit more clearly? Which command(s) check for and create project.json? What are the two operating modes of `dotnet new`?

[2015-12-03 08:19] NikolaiTillmann commented on #383
One could argue that (time-stamp based) incrementality is also a build orchestrator concern. Both incrementality and concurrency deliver huge performance gains and can be implemented rather cheaply --- but only if certain safety guarantees are in place. There seems to be consensus that we want incrementality for dotnet, so I don't see the big deal with some form of concurrency either.

[2015-12-03 08:24] piotrpMSFT commented on #376
Cool. I was thinking this should just go into ProjectModel but given the runtime usage for non-tools this makes sense.

[2015-12-03 08:34] piotrpMSFT commented on #383
I think the immediate goal with incremental build is essentially to fail-fast. e.g. dumbly compile everything, but have some of those compiles be no-ops.

We want to opt in to true concurrency/incrementality where possible but it's not something we can mandate for all components. Once folks see the value, they'll jump on board.

[2015-12-03 09:14] NikolaiTillmann commented on #382
All of the concerns need to be addressed for safe incremental compilation.

Once we have the warnings agreed upon and in place, we want to enhance/rearrange the dotnet-compile program as follows.

First dotnet-compile will check the preconditions by walking the project contexts and emit warnings if they are not met (but nothing actually builds at this time). Then, if some preconditions are not met

[2015-12-03 09:19] NikolaiTillmann commented on #383
Agreed on that we can't mandate it for everything. Both incrementality and concurrency only work safely when certain conditions are met. Hence #382. If conditions are not met, no incrementality or concurrency.

[2015-12-03 15:19] blackdwarf commented on #377
@krwq @piotrpMSFT fair enough, let me take a swing at `dotnet new` at this point. Need to think a little on the rest of them.

`dotnet new` should, in my mind, always drop a project.json in the dir. If the dir is empty, it should also create some sample code files (i.e. hello world). If it is not empty, it should generate a standard project.json that references stdlib. The reasoning is that by inv

[2015-12-03 16:12] MichaelSimons opened #385 "Developer-guide is outdated in a couple of places"
I setup a clean Linux (Ubuntu.14.04) development environment by following the Develop-guide (https://github.com/dotnet/cli/blob/master/Documentation/developer-guide.md).  I noticed the following issues.

1. In the Building/Running section, step 2 is out of date.  It references the 'artifacts/{os}-{arch}/stage2/dotnet' folder.  'dotnet' needs to be updated to 'bin'
2. The Building/Running section d

[2015-12-03 16:17] cston commented on #371
@piotrpMSFT I'll investigate, thanks.

[2015-12-03 17:20] clrjunky commented on #374
dotnet program

[2015-12-03 17:22] Sridhar-MS commented on #156
But we have some hard-coded reference to runtime identifiers. One place I know of is [here](https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Compiler/Program.cs#L385). We need to make sure that the CLI is aware of this new [centos](https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json#L168) runtime identifier or if possible make the CLI compl

[2015-12-03 17:27] Sridhar-MS opened #390 "Remove 'cli' from OSX install root location."
Ubuntu - /usr/share/dotnet
Windows - %ProgramFiles%/dotnet
OSx - [/usr/local/share/dotnet/cli]https://github.com/dotnet/cli/blob/master/packaging/osx/package-osx.sh#L46

Lets make it consistent across all platforms. Remove `cli` for the OSX install root.

[2015-12-03 17:28] Sridhar-MS commented on #249
Tracking OSX #390

[2015-12-03 17:28] #249 closed

[2015-12-03 17:53] anurse opened #391 "Allow host serviceability"
When operating in the shared-runtime model, `corehost` needs to support some degree of serviceability. We'll need to do a little bit of design here since there are a few open questions:

* Servicing multiple versions: Do we identify the version of the desired runtime and then look for servicing?
* Do we just service the host? That would allow us to simplify things a little. In that case, the host

[2015-12-03 17:56] anurse opened #392 "Provide an option to preserve compilation graph during compile"
Much like we preserve the runtime graph during compile via the `deps` file, and in order to support things like Razor dynamic compilation, we need to provide a mechanism to preserve the package graph used for compilation.

This will be disabled by default, since it increases the metadata in the output, and enabled via a boolean project.json property `preserveCompilationContext` (name?). When this

[2015-12-03 17:59] anurse opened #393 "Embed full runtime graph data in the deps file"
In order to support various extensibility scenarios (like locating MVC Controllers or Glimpse Plugins), `dnx` had an API called `GetReferencingLibraries` which allowed you to get a list of all the packages in the project which referenced a particular package. This would allow MVC's controller search process to avoid searching all packages and instead search only the package that reference the MVC

[2015-12-03 18:02] anurse opened #394 "Review the deps file format"
The deps file format needs to be as simple as possible in order to be loaded by the shared host, but CSV appears to be a little too simple (and too noisy). As we work on #393 and #392, we will likely want to embed small amounts of structured data in the deps file. We'd certainly rather avoid making the deps file JSON, but we may want to investigate a slightly more compact and structured storage fo

[2015-12-03 18:05] anurse opened #395 "Consider embedding the deps file"
The need for a side-car deps file in shared-host mode is a little annoying. We should consider embedding the file in the Managed Resources of the assembly itself. This would mean that the shared-host would need to load the assembly and read the metadata manually, but I would hope there is some code we could borrow from the CLR to do this ;). Also, we'd want to do this in a way that avoids loading

[2015-12-03 18:37] MichaelSimons commented on #385
Another point that should be mentioned in the prerequisites section is that building on windows requires a change to the default PowerShell execution policies.

[2015-12-03 18:58] krwq commented on #181
Seems like we don't have any specific APIs for platform independent escaping. I'm trying to get us that:
https://github.com/dotnet/corefx/issues/4720

I already found some workarounds (windows: http://www.robvanderwoude.com/escapechars.php OR https://msdn.microsoft.com/en-us/library/xwy0k9bb.aspx ; Linux: http://linux.die.net/man/3/execvp) although that's gonna end up with pretty much creating por

[2015-12-03 19:28] brthor commented on #22
@piotrpMSFT @Sridhar-MS

The CI is currently running Lintian, but we don't fail the build on any errors (of which there are many).

As we move towards this, do you guys think we should be failing the build on any lintian errors?

[2015-12-03 19:39] #14 closed

[2015-12-03 19:46] muratg opened #397 "Generate binding redirect for Desktop CLR"

[2015-12-03 19:46] krwq commented on #392
Isn't IL the compilation graph?

[2015-12-03 19:48] krwq commented on #374
You can create a symlink for that :)

[2015-12-03 19:50] muratg opened #398 "Generate appropriate assemblyinfo.cs during compilation"
- Merge with existing user's assembly info?
- Apply targetframework attribute based on project.json?

@jaredpar Could someone from your team pick this up?

cc @davidfowl  @anurse

[2015-12-03 19:56] brthor commented on #390
As a part of this let's make sure this is updated in CoreHost.

https://github.com/dotnet/cli/blob/master/src/corehost/src/pal.unix.cpp

[2015-12-03 19:57] muratg opened #399 "Allow opt-in publishing of reference assemblies"
When we're doing dotnet publish of web apps, we often need the reference assemblies present.

This can be a project.json option.

[2015-12-03 20:00] brthor commented on #392
Is this putting the reference assemblies in the deps file or something else entirely? Trying to understand what the compilation graph is.

[2015-12-03 20:07] muratg opened #401 "Microsoft.DotNet.ProjectModel.Loader"
Create load context/app domains based on project.json environments. This will be useful for scaffolding and entity framework.

[2015-12-03 20:13] brthor opened #402 "Standardize on a TFM for aot and non-aot Framework Libraries"
Currently aot libraries exist under the TfM `netcore50`, whilst non-aot libraries exist under the TfM `dnxcore50`

The aot libraries are needed to compile apps with CoreRT. Currently we include a hardcoded list of aot libraries that are compiled into every app when doing native compilation. This is blocking scenarios beyond Hello World.

To move forward with proper framework dependency compilation

[2015-12-03 20:17] muratg opened #403 "Satellite resource assembly generation"
Today we use roslyn but maybe we need a resgen port?

https://github.com/dotnet/cli/issues/64

[2015-12-03 20:32] jaredpar commented on #398
Assigning to @agocke

Do we have a motivating scenario here to drive this issue?

[2015-12-03 20:49] clrjunky commented on #374
@krwq sounds to me pretty straightforward :)

[2015-12-03 21:14] brthor commented on #302
On Linux/Mac our additional Dependency is `clang-3.5`

On Windows there is a dependency on a Full VS2015 Install with c++ tools.

/cc @schellap Am I missing anything?

[2015-12-03 21:23] brthor opened #404 "Publish CoreRT Framework Libs on Nuget/Myget and remove AppDepSDK"
Today CoreRT framework libs are included in the `AppDepSDK` NuGet package. This only includes a small subset of libraries, and does not provide any functionality for a user to opt in or out of specific libraries.

We should instead publish these libraries on nuget/myget and allow them to be referenced like other framework libraries in the project.json

The resolution of this is heavily tied to the

[2015-12-03 21:26] brthor opened #405 "Figure out where Native shims will be published and how to consume them."
For Context https://github.com/dotnet/corefx/issues/4572

Native shims in the form of static libraries need to be published somewhere and consumable for the `dotnet-compile-native` and `ilcompiler` toolchains.

These libraries need to be linked into the application during native compile.

This is another step in unblocking #255

/cc @schellap @gkhanna79

[2015-12-03 21:31] brthor opened #406 "Include 3rd party and P2P dependencies during native compile."
Implementation assemblies for 3rd party and P2P dependencies should be passed to `ilc.exe` as references.

An open question is how to handle the runtime identifier in this case. 3rd Party dependencies may not be targeting the `-aot` runtime identifier suffix that native libs are currently under. For this reason this is somewhat tied to #402

This is another step in unblocking #255

/cc @schellap @

[2015-12-03 21:33] brthor commented on #255
@piotrpMSFT Child issues have been created.

#402
#404
#405
#406

@schellap @gkhanna79
Please review these issues to ensure we are still on the same page. Feel free to offer any corrections.

[2015-12-03 21:48] brthor commented on #28
E2E Tests for the deb package are tracked here #381

Let's use this issue to track finishing upgrade tests.

[2015-12-03 21:54] brthor commented on #27
@blackdwarf can we begin checking in these manpages so they can get included in the deb package?

IMO they do not need to be final, they can be revved on after check in.

[2015-12-03 21:59] anurse commented on #398
`project.json` has a `version` field that should be propagated to the Assembly. In DNX we did this by adding a syntax tree defining the necessary attributes. In `dotnet-compile` we'd probably achieve this by generating a temporary file. The trick is that we do want to allow users to override this with their own AssemblyInfo.cs file. Again, in DNX we did this by scanning the existing syntax trees.

[2015-12-03 22:03] anurse commented on #392
This is about the reference assemblies. We don't want to build against the runtime assemblies because they are not designed for that purpose.

"Compilation Graph" refers to the package dependency graph used during compilation. Currently, the .deps file contains most (but not all, see #393) of the data from the "runtime graph" (which is the package dependency graph used at runtime. This issue track

[2015-12-03 22:58] blackdwarf commented on #27
@brthor yeah, I think they are OK enough for that.

[2015-12-03 23:20] krwq commented on #181
@brthor I think it is actually purely accidentally working in your case. I believe cmd treats quotes in pairs if you don't escape them with ^. So if you put a string like "a"b"c"  it will be treated as "a" + "b" + "c" (quotes around "a", then non quoted b and then "c")

[2015-12-03 23:26] andschwa opened #407 "dotnet-test aborts on Ubuntu 14.04"
## Versions
[code]
## `project.json`
[code]
## Error
[code]

Also have tried with with `"Microsoft.NETCore.Runtime": "1.0.1-beta-*",` as a dependency, and with `"TestRunner": "xunit",` and `"commands": { "TestRunner": "xunit" },`. @blackdwarf Any clue?

[2015-12-03 23:32] andschwa opened #408 "dotnet-resgen aborts on Ubuntu 14.04"
## Versions
[code]

## Error
This happens when called via `dotnet [run|compile|publish]` but reproduces most easily with just `dotnet-resgen`

[code]

Running the above under strace, the assembly it's trying to load is `/usr/share/dotnet/bin/System.Xml.XDocument.dll`; the version of which is incorrect.

[code]

The included runtime has 4.0.10, but `dotnet-resgen` wants 4.0.11. By overwriting it wi

[2015-12-03 23:53] brthor commented on #181
@krwq I am not so sure.

From the `cmd /?`

[code]

If I'm understanding that right, because we have more than two quote characters, the outside ones will be stripped and the others will just be passed along as regular quotes, which seems to be what we want in this case.

[2015-12-04 00:02] shahid-pk commented on #408
dotnet-resgen is not intended to be used standalone as of yet. dotnet use it internally

[2015-12-04 00:08] brthor commented on #181
@krwq or are you saying quotes inside of quotes aren't parsed properly without escaping?

[2015-12-04 00:12] andschwa commented on #408
@shahid-pk As noted above, when `dotnet-resgen` is used by the `dotnet` tool in any of the above subcommands (`[run|publish|compile]`), the same error is produced, and the cause is as noted.

[2015-12-04 00:15] brthor commented on #408
`dotnet resgen` has this dependency in project.json

`"System.Xml.XDocument": "4.0.11-beta-23504"` so it's clear why that dependency is needed.

It's not clear why it's getting stomped on by a different version of system.xml.xdocument though.

Any thoughts @krwq @anurse ?

[2015-12-04 00:43] andschwa commented on #408
@brthor how do you guys get and package the DLLs that end up in `$DOTNET_HOME/{bin,runtime/coreclr}`?

[2015-12-04 00:51] cdmihai commented on #226
In addition to allowing projects to run different versions of the same tool, keeping tools local to the Nuget package that depend on them would also help incremental compilation. It makes it possible to detect when a tool changed (which would trigger re-compilation).

[2015-12-04 01:11] dannyvv commented on #392
If we

[2015-12-04 01:12] dannyvv commented on #392
sorry, the button next to the green is not cancel ::):

[2015-12-04 01:13] dannyvv commented on #392
If we need a runtime.deps and now a buildtime.deps.
Wouldn't it be simpler to place the libraries section of project.lock.json?

[2015-12-04 01:19] anurse commented on #392
It would, wouldn't it? That's basically what we're looking at as a first pass. Stripping down the project.lock.json to what we need in this context and dropping it to the output.

[2015-12-04 01:30] dannyvv commented on #392
so isn't that the libraries section?

[2015-12-04 01:45] dannyvv commented on #392
I would like to recommend not to invent another format for this information.
Either the libraries section for which there is already existing parsing logic, or if that results in too big a file, take the csv style syntax and embed that in the project.lock.json
I'm hoping we can avoid this becoming a proliferation of 'custom' formats and files that has to be placed in the output folder. It might st

[2015-12-04 02:32] anurse commented on #392
No, the libraries section is a list of all libraries in the lock file so it includes libraries that are used in only some targets. We'd want the targets section as well, which is filtered to specific framework/runtime pairs. Also, the lock file is designed to isolate others from the NuGet conventions of `lib/[tfm]/[etc.]` so it lists exactly which relative paths are relevant for a specific purpose

[2015-12-04 02:33] anurse commented on #392
@dannyvv I'm in agreement and would generally prefer to just transfer the lock file to the output. There were concerns about reading that in `corehost` at runtime start-up though.

[2015-12-04 02:44] jasonwilliams200OK commented on #181
@brettfo, @krwq, I wanted to share couple of edge cases maybe related to this work.

The following example is written in JavaScript for node.js REPL, but the underlying problem is of windows cmd. It is simply spawning a `.bat` file with arguments. The catch is the path to bat file has a withespace (and the cases do not fail when path doesn't have whitespaces):

[code]

There are many such corner c

[2015-12-04 05:04] devlead commented on #270
:+1: for Cake

[2015-12-04 05:27] gep13 commented on #270
:+1: for Cake

[2015-12-04 15:49] blackdwarf commented on #365
@brthor what is the scenario you were thinking when you mention "executables in general"?

[2015-12-04 19:07] #26 closed

[2015-12-04 19:07] MichaelSimons commented on #385
Per discussion with @brthor, I'm taking ownership to address these issues.

[2015-12-04 20:54] piotrpMSFT commented on #156
These are the bugs we need to shake out.

[2015-12-04 20:55] dannyvv commented on #392
sorry mixed up the sections again. I indeed meant the targets part.
I can see there are memory and potential extra decoding cost at startup for json vs csv. A typical app would do more IO parsing the lock than loading the binary. Although this would hold true for CLI as well and for CLI it is probably more exasperated since it parsed the file over a dozen times.

[2015-12-04 20:57] piotrpMSFT commented on #391
We need to decide on host/runtime package relationship

[2015-12-04 21:35] davidfowl commented on #392
Except this is runtime performance and is a tad more critical than build time performance.

[2015-12-05 01:41] piotrpMSFT commented on #408
$DOTNET_HOME is something we're eliminating the need for. In cases where it's needed, the bits can get there in many ways:
- native installer
- zip package
- build output

[2015-12-05 01:44] huangpf opened #412 "dotnet-resgen aborts on Windows 8.1 & 10"
```dotnet publish $cmdletsDir -f dnxcore50 -r win7-x64 -o $packageSource```

==>

[code]

Win8.1 Info:
[code]

Win10 Info:
[code]

Running ```dotnet-resgen.exe``` itself reproduces the problem as well, like described in #408.

[code]

[2015-12-05 01:46] huangpf commented on #412
The ```.resx``` file can be accessed at: ```https://github.com/Azure/azure-powershell/blob/clu/src/CLU/Commands.Common.Authentication/Properties/Resources.resx```

[2015-12-05 01:48] piotrpMSFT commented on #408
@gkhanna79 FYI

[2015-12-05 04:36] krwq opened #414 "MAC build takes forever"
Something is obviously broken on MAC. The build is taking forever to finish. Considering that Windows and Ubuntu finished after few minutes and MAC isn't finishing after an hour there must be something seriously wrong going on.

This should be investigated as it may seriously affect perf of users apps too considering that most of the things in our repo run on coreclr

[2015-12-05 04:38] krwq commented on #414
Ahh my bad. I was looking at the CI build and it says "build triggered" on MAC

[2015-12-05 04:38] #414 closed

[2015-12-05 06:50] davidfowl commented on #408
@anurse bug with corehost?

[2015-12-05 09:20] jasonwilliams200OK commented on #77
Since Docker is neither a VM nor a Jail, so it is bit tricky to get stuff out of the machine.
To build corefx and get the `bin` directory out from docker, we can get Docker file have this line `RUN tar -cvzf bins.tar.gz bin/` and then `cat` out the zipped file:

[code]

[2015-12-05 09:58] weshaggard commented on #271
I do finding the commands in the packages does help with the sxs problems, at least for individual tools, it will still not help for the dotnet.exe shim itself but assuming we can keep that 100% compatible (not sure if that is possible) then it doesn't matter as much.

As for the tool packages it wasn't clear to me how those actually get discovered. Will they have to explicitly be listed in the pr

[2015-12-05 10:01] weshaggard commented on #402
We need a TFM for for dotnet-cli/netstandadard or what ever we end up with and then we can use that in combination with the aot RID to uniquely select assets for the --native option.

[2015-12-05 10:03] weshaggard commented on #404
I expect a number of these libraries, in particular the System.Private.* libraries, may still remain in some runtime level package, similar to how mscorlib is in the CoreCLR runtime package. However we do still need a TFM/RID combination to be able to ship the higher level assemblies in our other library packages.

[2015-12-05 10:34] weshaggard commented on #399
+1 there are a number of scenarios where I would like to be able to publish a set of reference assemblies as well. In particular for building other build systems, where the still require a flat list of reference assemblies to compile.

[2015-12-05 17:51] davidfowl commented on #312
/cc @jaredpar

[2015-12-06 10:49] chaliy opened #415 "dotnet is too long to type"
It is expected to type many times a day. It might be benefitial to make it at max 3 chars long.

[2015-12-06 12:05] davidfowl commented on #415
dnx?

[2015-12-06 12:29] chaliy commented on #415
@davidfowl dnx was ok.

[2015-12-06 13:10] shahid-pk commented on #415
or create a symlink for it , forget 3 chars just one  d instead of dotnet  :wink:

[2015-12-06 13:16] chaliy commented on #415
problem with symlinks, links, aliases, etc that everybody on each machine will need to configure them, and what is more important is that it will not be a standard.

P.S. One char is even better.

[2015-12-06 18:12] davidfowl opened #416 "Can't pass arguments to application using dotnet run anymore"
Since switching to System.CommandLine this doesn't seem to work anymore:

[code]

Running the application directly works

[code]

[2015-12-06 18:12] davidfowl commented on #416
/cc @krwq @piotrpMSFT

[2015-12-06 18:23] gkhanna79 commented on #408
@ramarag CC

[2015-12-06 21:15] davidfowl commented on #415
I think dotnet is fine tbh. We spent so long trying to name DNX, at least dotnet has a meaning and isn't that bad to type

[2015-12-07 00:26] dealdiane opened #417 "Question: How do I start Kestrel?"
It seems `dotnet` doesn't have the concept of `commands` any more. When I tried out a vanilla ASPNET 5 RC1 website, for the love of me, I couldn't figure out how to start up kestrel. How do I do this? Does this work with RC1 or do I need RC2 bits?

The [project.json](https://github.com/aspnet/Home/blob/dev/samples/latest/HelloMvc/project.json) from the Home repo looks like it still has the `web` c

[2015-12-07 00:50] davidfowl commented on #417
The dotnet cli does not work with rc1

[2015-12-07 12:05] xanather opened #418 "Debugging with CLI"
Will support for visual studio be coming? Right now is difficult to debug a CLI project, I have been using DNX (for debugging) alongside CLI but it feels like segmented development.

Just wondering if there's any plans for integration with VS for the next .NET Core release candidate?

[2015-12-07 13:40] dasMulli commented on #415
What about ".net" - at least as an alias? So you could run `.net compile --native`, `.net restore` etc.
Having a `.something` executable in your PATH should work on all platforms (even with `.cmd` or `.exe` on windows)

[2015-12-07 16:13] giggio commented on #417
Will it work with RC2? And any idea when that would be due, the roadmap on aspnet/home does not show any dates yet.

[2015-12-07 17:33] victorhurdugaci opened #419 "Resgen crashes"
1. Clone [UserSecrets](https://github.com/aspnet/usersecrets)
2. `cd src\Microsoft.Extensions.Configuration.UserSecrets`
3. `dotnet compile`

Result:

[code]

[2015-12-07 17:39] anurse commented on #399
Yep, the current design is a little up in the air, but the idea is to allow, via a project.json setting (`publishReferenceAssemblies`?) for `dotnet publish` to copy the reference assemblies for all packages used by the application to a `refs` folder in the published output.

Publishing a specific set of reference assemblies that differs from the set the application uses isn't part of this work ite

[2015-12-07 17:41] anurse commented on #408
Sounds more like one of the other projects in dotnet-cli is stomping on the System.Xml.XDocument version since we publish to one flat folder. `corehost` just loads everything from the app folder.

[2015-12-07 17:42] victorhurdugaci commented on #408
Duplicate: https://github.com/dotnet/cli/issues/419

This is blocking the ASP.NET build.

[2015-12-07 18:25] andschwa opened #420 "Fix Ubuntu 'unknown command' experience"
Same versions as #407

[code]

Clearly there is an error in the build, and when it attempts to report it, it crashes.

[2015-12-07 18:39] davidfowl commented on #420
There is no build command

[2015-12-07 18:49] brthor commented on #420
This error shows up when the driver tries to call something that's not on the path. We should probably catch this beforehand.

[2015-12-07 18:50] krwq commented on #420
that dll it is searching for it is windows specific

[2015-12-07 18:58] piotrpMSFT commented on #419
This is a duplicate of #408

[2015-12-07 18:58] #419 closed

[2015-12-07 18:59] piotrpMSFT commented on #412
This is a duplicate of #408

[2015-12-07 18:59] #412 closed

[2015-12-07 19:04] piotrpMSFT commented on #418
Yes, IDE integration is on the roadmap.

[2015-12-07 19:09] piotrpMSFT commented on #407
@andschwa did dotnet-test get installed on your machine?

[2015-12-07 19:18] piotrpMSFT commented on #79
@blackdwarf can we close this?

[2015-12-07 19:21] piotrpMSFT commented on #64
@davidfowl, can you update this list and make sure we have issues tracking remaining work?

[2015-12-07 19:23] piotrpMSFT opened #421 "dotnet-restore should use nuget, not dnu"

[2015-12-07 19:23] piotrpMSFT commented on #350
This needs to be addressed in #421

[2015-12-07 19:23] #350 closed

[2015-12-07 19:36] davidfowl commented on #418
The DNX tooling will morph into cli tooling

[2015-12-07 19:37] andschwa commented on #407
@piotrpMSFT Yes:
[code]

It could very well be that I'm not using `dotnet-test` properly, please point me to docs if that's case :smile: However, it also seems that its internal error reporting is... broken.

[2015-12-07 19:39] andschwa commented on #420
@davidfowl Ah, no there is not. I forgot now it's `dotnet compile`, thank you.

But this error reporting has to be fixed, that was impossible to deduce from the given stacktrace.

[2015-12-07 19:49] davidfowl commented on #420
Yea, that bug was filed a while ago

[2015-12-07 19:49] #420 closed

[2015-12-07 19:59] victorhurdugaci opened #422 "Dotnet pack on Ubuntu: The underlying compression routine could not be loaded correctly."
1. Clone [Common](https://github.com/aspnet/common)
2. Run `dotnet pack` in `src/Microsoft.Extensions.ActivatorUtilities.Sources`

Result:

[code]

Blocking ASP.NET build.

[2015-12-07 20:12] johanste commented on #365
@blackdwarf, one scenario would be having another "family" of dispatcher/extensibility commands - just as dotnet triggers off dotnet-<executable>, another family might have another named dispatcher with exactly the same (or very similar) extensibility mechanism as what dotnet uses.

In fact, I'm doing something very similar right now :)

[2015-12-07 21:11] kouvel opened #423 "Enable server GC"
This is to track enabling server GC as appropriate in the CLI tools. @sergiy-k had noticed improved performance in ASP.NET benchmarks with server GC enabled. It may not be ideal for regular apps though, so perhaps it could be enabled upon user's request somehow.

[2015-12-07 21:15] blackdwarf commented on #79
Yes, we can.

Z

From: Piotr Puszkiewicz <notifications@github.com<mailto:notifications@github.com>>
Reply-To: dotnet/cli <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, December 7, 2015 at 11:18 AM
To: dotnet/cli <cli@noreply.github.com<mailto:cli@noreply.github.com>>
Cc: Zlatko Knezevic <Zlatko.Knezevic@microsoft.com<mailto:Zlatko.Knezevic@microsoft.com>>
Subject: Re: [cli]

[2015-12-08 00:21] UppaJung opened #426 "Runtime configuration of .NET"
I need to be able to configuring the .NET runtime.  In my case I need to enable objects of size > 2GB, though presumably there are many other reasons one might one to do change runtime configuration parameters from their defaults.

Piotr (Peter Puszkiewicz <piotrp@microsoft.com>) explained that "we've not added runtime configuration to the host thus far" and asked me to file this issue.

[2015-12-08 00:48] krwq opened #427 "project.json/nuget versioning improvement"
Currently the versioning of packages/project is not intuitive (for setting version of the project, not for dependencies).

Examples:
- project.json accepts `1.0.0-*` but doesn't `1.*` or `1.0.*` or just `*`
- version `1.0.0-abc-123` is ok but `1.0.0-123-123` is not
- `1.0.0.0.1` is not accepted
- documentation about this: https://docs.nuget.org/create/versioning is super verbose but the same could

[2015-12-08 00:59] krwq commented on #427
Actually when I think of it now we could just use date and a tag as a version.

[2015-12-08 01:10] factormystic opened #428 "distribute via powershell package management"
Reposting my request from dnx: https://github.com/aspnet/dnx/issues/2337#issuecomment-142664701

At least for Windows, could dotnet cli be delivered via powershell package management? I'm sure someone somewhere enjoys manually downloading and double clicking msi's, but I sure don't. I'd much rather set up your package source once and then do `install-package dotnet.cli`

[2015-12-08 02:34] brthor opened #429 "Fix Dependency Stomping in Commands Directory"
### What is the problem?

* Every Command and it's closure is flat packed into the bin directory
* Command Dependency closures stomp on each other between publishes
* Ultimately leads to issues like #408

This has worked up until now, but is not scalable. Ultimately #226 could solve this, but I think we need a solution in the more immediate timeframe. To resolve this I am proposing the following:

[2015-12-08 02:42] dannyvv commented on #392
My fear is just where does it stop. At what point will compile generate many derived file formats from the project.(lock).json.
I.e. for this CsHtml. What about the #Defines that gets passed to CSC, the resources files? etc etc.

[2015-12-08 03:14] rhires commented on #415
I think it should be `dnt` - I think that has cachet, panache...and it seems like "tnt" which makes it exciting! Ok, I think `dnt` is reasonable, because it keeps the commands all in the family, as it were: dnx, dnu...(what did the u stand for, anyway?) And it's fairly obvious that `dnt` is a shortened form of dotnet...

[2015-12-08 17:45] victorhurdugaci opened #431 "Add support for building multiple projects at once"
In `dnu` we had support for "globbing-build" where you could specify a globbing pattern and build all the projects at once. E.g: `dnu build src/**`

Today, the only solution is to build each project individually which leads to a lot of recompilations because each project will rebuild its project dependencies.

[2015-12-08 17:45] jeremymeng opened #432 "CLI MSI needs to be signed else Windows SmartScreen doesn't recognize it"
![image](https://cloud.githubusercontent.com/assets/7583839/11663308/55af4b04-9d90-11e5-9b65-310c02a9a2c1.png)

[2015-12-08 18:25] andschwa commented on #18
Yes please, we could use this very much :+1:

[2015-12-08 18:28] andschwa commented on #64
@davidfowl is there any preview I can use for `dotnet-test`? We've had to switch from DNX to `dotnet-cli`, but it means we can no longer run our xUnit tests.

[2015-12-08 19:03] anurse opened #433 "Sort out Project Output Directory for good"
Right now we recalculate the output directory for a project in a bunch of places. We should sort that out. I think we should actually promote output directory and configuration to properties of `ProjectContext`, since they are related to the context in which a project is viewed. That will have some ripple effects though (OmniSharp/DTH, etc.).

[2015-12-08 19:04] #119 closed

[2015-12-08 19:04] anurse commented on #119
This is done

[2015-12-08 19:31] anurse commented on #401
Assigning to self and moving to Beta since this is blocking xunit.

[2015-12-08 19:37] andschwa opened #435 "Copying content files does not work"
While it appears implemented in #61, I can't get my content files to be copied correctly on Linux.

I have (literally, as a test) in my `project.json`

[code]

And then publish with `dotnet publish --framework dnxcore50 --runtime ubuntu.14.04-x64 --output ../../bin`, but no `foo` is in `../../bin`.

While the publish succeeds and I get the DLLs, the content files are not copied over (likewise for

[2015-12-08 19:40] brthor commented on #433
Would this be output directory of compilation of the project?

Would this still be able to be overridden by cmd line switches in commands like `dotnet-compile` ?

[2015-12-08 19:42] anurse commented on #433
Yes to both. I'd imagine you can provide an override Output Directory to the `ProjectContextBuilder`.

[2015-12-08 19:50] andschwa commented on #435
Here's a simple repro:

### `project.json`
[code]
### `foo`
[code]
### steps
[code]

But `foo` is missing.

[2015-12-08 19:53] andschwa commented on #408
A new build was pushed and I upgraded, but this bug is still present.

[2015-12-08 20:10] anurse commented on #408
Looks like this is caused by NuGet.Packaging pulling in System.Xml.XDocument 4.0.10, which is stomping on the build resgen uses. I'm going to revert resgen to 4.0.10 and see if that fixes the issue.

[2015-12-08 20:24] anurse commented on #427
Few notes:

`1.0.0-*` being the only supported float is intentional. It's designed after Maven's SNAPSHOT version token and is only designed for working directly with CI builds (i.e. it isn't a full "floating version" system, since it is closely tied with the feed you use)

All the NuGet versioning logic is designed after the Semantic Versioning standard: http://semver.org/ (v1.0) and isn't likely

[2015-12-08 20:26] anurse commented on #432
/cc @Sridhar-MS Are the "latest" builds being signed or are they still unsigned right now?

[2015-12-08 20:28] anurse commented on #407
I think there is a CoreFX bug here in that the error should not be `Unable to load DLL 'api-ms-win-core-localization-l1-2-0.dll': The specified module could not be found.`. I'm pretty sure we're getting the right implementation of System.Diagnostics.Process since it works on Unix, yet it still seems to be trying to P/Invoke to windows APIs.

[2015-12-08 21:25] krwq commented on #429
This is actually causing pdb to not match dll in the stage2 folder for couple of assemblies which makes debugging pretty hard without playing with the assemblies. I think we should fix it ASAP as it may cause us a headache

[2015-12-08 21:51] gkhanna79 opened #437 "Unified Host should support enabling/disabling Server GC"

[2015-12-08 22:48] victorhurdugaci commented on #416
+1 on this. `dotnet-watch` needs it to pass arguments to the watched `dotnet`.

Probably the issue is here:
https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Run/Program.cs#L26

[2015-12-08 22:53] victorhurdugaci commented on #416
While I'm at this I should mention that the argument parsing should be positional so you can pass the same arguments to the app being run as to `dotnet`. For example: `dotnet run` should allow me to pass `--project` to my app that's different from `--project` passed to `dotnet`. For example:

[code]

Which will pass the first `--project` to `dotnet` and the second to the application.

Maybe a git-

[2015-12-08 23:35] Petermarcu opened #438 "Need a plan for loading a serviced version of the host"

[2015-12-08 23:36] Petermarcu commented on #438
@gkhanna79, FYI

[2015-12-09 00:17] schellap opened #439 "Dotnet publish does not detect OSX El Capitan RID correctly"
Follow these repro steps:

Obtain latest CLI from: https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/Latest/dotnet-osx-x64.latest.tar.gz
[code]

Error:
[code]

@brthor, @piotrpMSFT route to appropriate owner. Blocks dotnet scenario and https://github.com/dotnet/corert/pull/498

[2015-12-09 00:23] Sridhar-MS opened #440 "Build rpm packages for centos"

[2015-12-09 00:26] brthor commented on #439
@schellap

This is on El Capitan only correct?

[2015-12-09 00:27] schellap commented on #439
This is on El Capitan. Yes.