[2018-03-23 03:54] peterhuene commented on #8185
@rynowak something we could reference and invoke that takes care of whatever IPC is needed to shut the server process down.  For example, Rainer linked to a method that can be called from the `Microsoft.Build` package (a netstandard lib), which is referenced from dotnet; presumably this will enable us to shutdown the msbuild server without having to invoke msbuild to do so.

Regarding your tool, i

[2018-03-23 04:46] peterhuene commented on #8103
Hi @inossidabile.  Thanks for reporting this issue!  I've reproduced the problem.  Currently the default item globs are being evaluated once for build (needed to discover files to compile, resources to embed, etc.) and a second time when evaluating the properties needed to figure out what to "run".  This second glob is entirely unnecessary and can be easily prevented.  The fix I'll have up shortly

[2018-03-23 05:09] wli3 commented on #8762
@KathleenDollard sorry I was late to this, we cannot parse nuget error. So we can only know failure.

CLI's error message from `Tool 't-rex' failed to install`

so is the following better?

[code]

[2018-03-23 05:28] peterhuene commented on #7742
Hi @xtmq.  The fix for this issue should be in the next preview release of the .NET SDK.  Thanks again for reporting this to us!

[2018-03-23 05:28] #7742 closed

[2018-03-23 05:30] peterhuene commented on #5131
Fixed in #8796.

[2018-03-23 05:30] #5131 closed

[2018-03-23 09:33] raffaeler commented on #8872
Are all the proposed items tracked elsewhere?
I would like either to follow them or create the issue if needed. (I am currently travelling, so it may take few days)

[2018-03-23 09:44] aguacongas opened #8883 "dotnet new -i 404 (Not Found)."
## Steps to reproduce
* Install SDK v2.1.300-preview1-008174
* run dotnet new -i Microsoft.AspNetCore.Blazor.Templates

[code]

## Expected  behavior
The command should install the template with the default nuget source

## Actual behavior
The command fail if we don't specify the nuget source.
We need to specify --nuget-source :

[code]

## Environment data
`dotnet --info` output:
[code]

If I spe

[2018-03-23 10:42] SteveSandersonMS commented on #8765
You are right to be concerned about that, because if your production deployments ended up with different versions of dependencies than you've tested, there's no guarantee that behavior would be consistent (no matter what SemVer says).

But the good news is that this is a solved problem. Alongside your `node_modules` directory, you'll find either `package-lock.json` or `npm-shrinkwrap.json` (depend

[2018-03-23 10:42] #8765 closed

[2018-03-23 11:27] ucavalcante commented on #8879
Tks for this solution its worked but very nicely if this thing will be native without edit any file.

[2018-03-23 16:15] richlander commented on #8848
I would be happy with this flow:

[code]

One step better:

[code]

[2018-03-23 16:29] Petermarcu commented on #8848
`dotnet new nugetconfig --add-dotnet-preview-source`

[2018-03-23 16:45] KathleenDollard commented on #8762
Can we make that

`
Tool 't-rex' failed to install. You may need to specify the version using

   dotnet tool install -g t-rex --version <version>
`

Are there any other super common reasons an install will fail?

[2018-03-23 17:22] livarcocc commented on #8883
This issue was moved to dotnet/templating#1485

[2018-03-23 17:22] #8883 closed

[2018-03-23 17:30] peterhuene commented on #8874
I think the first-run sentinel is fine.  We should only attempt this once, and if it fails in this manner, warn the user and move on.

I'll have a PR for this up today.

[2018-03-23 19:53] rynowak commented on #8185
The tool itself is shipped in a package/shared framework. Razor is kinda hybrid compiler/runtime and we expect the versions to match on the tool/server and the runtime libraries.

For that reason there isn't a great dependency for the CLI to take to shutdown Razor.

MSBuild sounds like something we can do unless you have more ideas I'm not considering 😕

[2018-03-23 19:59] peterhuene commented on #8698
Now that the other clean-up work is in for the tool install UX, I'm going to close this issue in favor of Nuget/Home#6630 that is the remaining piece of the puzzle (a clearer message that the package that was found was not a tool package and cannot be installed with `dotnet tool install`).

[2018-03-23 19:59] #8698 closed

[2018-03-23 21:38] zhili1208 commented on #8819
No, it's not similar, I mentioned the lock file is incorrect in memory. This asset file is incorrect on disk.

[2018-03-23 22:55] peterhuene opened #8890 "Dotnet sln add command is not checking for project name conflicts."
## Steps to reproduce
[code]

or

[code]
## Expected  behavior

The solution builds successfully.

## Actual behavior

The build fails.

[code]

## Environment data
[code]

[2018-03-23 23:34] peterhuene commented on #8890
I will check what that Visual Studio performs when there's a conflict with an existing solution folder / project name and replicate their behavior for resolving the conflict.

[2018-03-24 01:04] SuperJMN opened #8891 "Cannot dotnet pack a .NET Standard library referencing xunit"
## Steps to reproduce

1. Create a .NET Standard Library (2.0)
2. Add a package reference to xunit (the testing framework)
3. Try to create a package either with `dotnet pack` or using the "Pack" menu from Visual Studio

## Expected  behavior

The package (nupkg) is generated

## Actual behavior

Nothing is created.

## Environment data
`dotnet --info` output:

Product Information:
 Version:

[2018-03-24 02:06] livarcocc commented on #8891
This is by design.

The `xunit` package sets a property called `IsTestProject` to true and that causes the Pack targets to, in turn, set `IsPackable` to false.

If you need to get around this you can have your project file look like this or something similar:

[code]

[2018-03-24 02:06] #8891 closed

[2018-03-24 13:07] VasiliyNovikov opened #8892 "dotnet run "eats" empty command line arguments"
## Steps to reproduce
Have a simple console app written on C#:
[code]
And equivalent written in Python to compare the behavior:
[code]
Run them from command line:
`dotnet run a "" "b"`
`python Program.py a "" "b"`

## Expected  behavior
I'd expect the following output for both of them:
[code]

## Actual behavior
.NET Core code outputs:
[code]
Python code outputs:
[code]

## Environment data
`dotne

[2018-03-26 02:58] jwisener commented on #7947
agreed, a failure, to say the least.

[2018-03-26 17:08] richaverma1 opened #8900 "Dotnet restore or build takes a long time"
## Steps to reproduce
1.	Using CLI : Create an empty solution, add a .NET Core Console application with reference to .NET Core/.NET Standard class library;

## Expected  behavior

Dotnet restore or build should be completed quickly

## Actual behavior
Dotnet restore or build is stalled for a long time, can't be quickly completed.

## Environment data
CLI/SDK -  2.1.300-preview2-008396

[2018-03-26 17:36] livarcocc commented on #8900
Richa, what machine was this? What OS? Was this a ProdCon build? Do you have logs for the restore/build?

Is it consistent? Can we repro it?

We have not noticed such slow down and without additional information there isn't much that we can do here.

[2018-03-26 17:43] livarcocc commented on #8900
Without more info this isn't an actionable bug. For instance, was it a VM? Did it repro all the time? Did they capture performance numbers that we can look at? Was there anything else going on on the machine?

[2018-03-26 19:05] sch0bert opened #8903 ".Net Core SDK is not able to install it in Ubuntu 16.04"
## Steps to reproduce
I followed the instructions given in the next microsoft web page:
https://www.microsoft.com/net/download/linux-package-manager/ubuntu16-04/sdk-current

- curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
- sudo mv microsoft.gpg /etc/apt/trusted.gpg.d/microsoft.gpg
- sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/mi

[2018-03-26 19:19] livarcocc commented on #8903
I believe we are in the process of pushing these packages.

@leecow

[2018-03-26 19:29] leecow commented on #8903
@sch0bert - there have been a few changes to the product feeds over the last few releases and updates need to be made to the feed set up instructions.

Replace

`deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-xenial-prod xenial main`

with

`deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ xenial main`

in you /etc/apt/sources.list.d/dotnetdev.list a

[2018-03-26 19:42] sch0bert commented on #8903
@leecow I did what you said and I got the same fail result.

[2018-03-26 19:42] BlaqCox commented on #8757
I'm not really following what happened here.

My dotnet --version output is **2.1.102** and the [documentation](https://docs.microsoft.com/en-us/aspnet/core/spa/react?tabs=visual-studio) here indicates that if you're using Core 2.1, then the new templates should be included, but '**dotnet new react**' generates it with the 2.0 template.

Why is the global.json file necessary and why should an issu

[2018-03-26 20:01] leecow commented on #8903
Sorry about that, got in a hurry and typed something that made no sense ;-)

dotnetdev.list should point to `deb [arch=amd64] https://packages.microsoft.com/ubuntu/16.04/prod xenial main`

Here is mine to double-check

[code]

... and output of apt search after running apt-get update.

[code]

[2018-03-26 20:36] livarcocc commented on #8757
SDK <b>2.1.102</b> does not include .NET Core 2.1. The earliest version available of teh .NET Core SDK that is compatible with .NET Core 2.1 is <b>2.1.300</b> which is available as preview1 at get.dot.net.

We have since then re-worked our versioning story to align the SDK version major.minor version numbers with the runtime major.minor version numbers, but until we are past 2.1, we will have this

[2018-03-26 20:47] sch0bert commented on #8903
Is still failing after changing that...

[2018-03-26 20:49] BlaqCox commented on #8757
Man, that is confusing.

[2018-03-26 21:29] leecow commented on #8903
Odd - files are clearly visible at https://packages.microsoft.com/ubuntu/16.04/prod/pool/main/d/.

Short of re-confirming the contents of your .list file, you could just rename it and use the .deb config file which is what the updated instructions will use.

[code]

[2018-03-26 21:39] wli3 commented on #8762
not unique name. But it is more likely to happen when the user is a producer and s/he is testing the tools.

Say I just create my tool with command `show`. I install `show`, and I will get a nuget package called show instead.

[2018-03-26 22:27] livarcocc commented on #5606
@dvdobrovolskiy Could you share the contents of your PATH environment variable? In the past, when we saw this, it was usually because of some garbage present in that env variable.

[2018-03-26 22:52] sch0bert commented on #8903
I'm still getting the same error,

I'm running the next steps now with your directions and I get the same result:

curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg &&
sudo mv microsoft.gpg /etc/apt/trusted.gpg.d/microsoft.gpg &&
sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/ubuntu/16.04/prod xenial main" > /etc/apt/sources.list.d/dotnetdev.

[2018-03-26 22:53] dvdobrovolskiy commented on #5317
Having same issue. Checked Path many times - all normal

c:\Users\dima\source\repos\TNPK\TNPK>dotnet script --version --verbose
System.ArgumentException: Illegal characters in path.
Parameter name: path
   at System.IO.PathInternal.CheckInvalidPathChars(String path)
   at System.IO.Path.Combine(String path1, String path2)
   at Microsoft.DotNet.Cli.Utils.EnvironmentProvider.<>c__DisplayClass7_0.<G

[2018-03-27 05:36] davkean commented on #6896
My SDK folder still looks like this:
![image](https://user-images.githubusercontent.com/1103906/37948685-fc3cebd8-31dc-11e8-9c56-edafecbc2eb6.png)

[2018-03-27 09:46] joaopgrassi commented on #6516
There are so many issues open/closed on this so  please point me if I'm supposed to ask about this somewhere else:

I have a fresh install centOS 7 box where I deployed our api. The API is targeting the latest sdk 2.1.101. As part of our deployment process via Octopus, we check if we need to install the sdk/runtime. Since we saw all these issues when installing only the runtime, we decided to go w

[2018-03-27 10:10] tmds commented on #6516
@joaopgrassi if you are using dotnet packages that come with CentOS, those do not include the runtime store. For 2.0, the runtime store wasn't source buildable, so only Microsoft packages include the runtime store. In any case, you should be able to get your app running if you include the store packages with your app. This can be done by adding `/p:PublishWithAspNetCoreTargetManifest=false` to you

[2018-03-27 10:34] joaopgrassi commented on #6516
I see. But if I do that, then my artifact is way bigger.. which is not cool. But what I don't understand is we have several other linux vms and the `store` folder is there, and they were also installed via yum.

[2018-03-27 10:38] tmds commented on #6516
Microsoft provides a feed which has these packages. Probably those vms use Microsoft packages.
2.1 should be cooler 😎

[2018-03-27 11:21] joaopgrassi commented on #6516
Ah I see your point now, was a little confused. Sure, as part of our deploy script we add the microsoft feed as explained [here ](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x#install-net-core-for-centos-71-64-bit--oracle-linux-71-64-bit). Then we just do `yum install dotnet-sdk-{version}`. The issue is that this package (from MS feeds) doesn't contain the runtime

[2018-03-27 16:17] mizhang opened #8909 "brew update only gives an older version of openssl, 1.0.2o, but not the standard version, which is 1.0.2j in my understanding"
## Steps to reproduce
brew update
brew upgrade openssl

## Expected  behavior
downloading 1.0.2j at least

## Actual behavior
Error: openssl 1.0.2o already installed

## Environment data
`dotnet --info` output:

[2018-03-27 16:17] #8909 closed

[2018-03-27 16:22] richaverma1 commented on #8900
From CTI -
In my VM machines, it reproes all the time.
Dotnet restore is stalled, need to wait for a long time restore completed. There is no any log.

Repro Machine: 172.16.194.154
Login Account: Redmond\vseqa1

Dotnet -info :
![dotnetinfoforbug](https://user-images.githubusercontent.com/19596695/37980565-411fc46a-31a0-11e8-9639-8bdb044a6e02.png)

[2018-03-27 17:16] mikeharder commented on #8900
@richaverma1: Please add me to the thread as well, I can help investigate.  I did run a few perf tests on this CLI build and I didn't see any issues.

[2018-03-27 18:12] sch0bert commented on #8903
Hello, this is a friendly reminder.

[2018-03-27 18:15] omajid commented on #8903
.NET Core is not supported on i386 platforms: https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0-supported-os.md#linux. We only support x86_64/amd64/x64.

[2018-03-27 19:29] stevedesmond-ca opened #8911 "Enable bash autocompletion on CLI install"
I only just learned about the .NET CLI having bash autocomplete from @shanselman's blog post today (see [this Twitter thread](https://twitter.com/shanselman/status/978712127476088833)).

It would be great if this were enabled by default when installing the CLI. Not sure if that would mean appending to `~/.profile`/`~/.bashrc`/etc. or if there's a better system- or app-centric way to do it (e.g. ho

[2018-03-27 19:30] #4766 closed

[2018-03-27 19:33] livarcocc commented on #3476
We no longer have that verb on the CLI.

[2018-03-27 19:33] #3476 closed

[2018-03-27 19:33] livarcocc commented on #2556
we now have linux arm32 and linux arm64 un-official builds available with 2.1.300 CLI.

[2018-03-27 19:33] #2556 closed

[2018-03-27 19:35] livarcocc commented on #8911
I bit hidden, but this is a dup of https://github.com/dotnet/cli/issues/620.

[2018-03-27 19:35] #8911 closed

[2018-03-27 19:38] livarcocc commented on #8147
@peterhuene is there an action for us on this issue or should we dup it to the msbuild one? Or are we blocked on it?

[2018-03-27 19:56] mikeharder commented on #8900
The issues seems specific to MSBuild parallelism and the MSI version of 2.1.300-preview2-008396.  It doesn't repro when using the zip version of 2.1.300-preview2-008396, and it also doesn't repro when MSBuild parallelism is disabled (`/m:1`).

# Repro Steps
1. Clean Win10
2. Install MSI and zip
  A. Install 2.1.300-preview2-008396 MSI
  B. Extract 2.1.300-preview2-008396 zip to a folder (say C:\do

[2018-03-27 19:56] mikeharder commented on #8900
CC: @rainersigwald

[2018-03-27 20:29] livarcocc commented on #7590
We got our perf improvements in for 2.1.300 at this point with considerable perf improvements. Given that, I am going to close this issue.

[2018-03-27 20:29] #7590 closed

[2018-03-27 20:29] rainersigwald commented on #8900
I think the root cause of this is Microsoft/msbuild#3142.

[2018-03-27 20:30] peterhuene commented on #8147
I think we can dupe it to that one since there isn't a fix on the CLI side needed.

[2018-03-27 20:30] #8147 closed

[2018-03-27 20:42] peterhuene commented on #7551
I have a fix (#8907) that prevents "double globbing": once for the build and again for the run property evaluation.  For directories containing many files, such as (potentially) `node_modules`, this second glob contributed to poor performance, especially when the first glob is skipped entirely (i.e. `dotnet run --no-build`).

`DefaultItemExcludes` should still be used used to prevent the build fro

[2018-03-27 21:21] #8805 closed

[2018-03-27 21:22] #8762 closed

[2018-03-27 21:24] wli3 commented on #8270
since there is pack tool available. Move the milestone

[2018-03-27 21:26] wli3 commented on #8779
After Apphost shim, targeting netcoreapp2.0 will fail to start

[2018-03-27 21:46] sch0bert commented on #8903
oohh... that's sad... then we can close it.

[2018-03-27 21:50] #8903 closed

[2018-03-27 21:54] livarcocc commented on #6146
We are adding Fedora 27 now. I don't believe we need this CI. Closing.

[2018-03-27 21:54] #6146 closed

[2018-03-27 21:55] livarcocc commented on #6143
We have add the commands steve mentioned above and dotnet --info is also displaying that information now.

Given that, going to close this issue.

[2018-03-27 21:55] #6143 closed

[2018-03-27 21:57] livarcocc commented on #5819
This is no longer the case, as the CLI does not run a restore as part of its first run anymore. We just expand the lzma into the fallback folder.

[2018-03-27 21:57] #5819 closed

[2018-03-27 21:58] livarcocc commented on #5727
daniel made changes a while ago to improve the incremental build story of the CLI. I believe this was addressed there.

[2018-03-27 21:58] #5727 closed

[2018-03-27 21:59] #5719 closed

[2018-03-27 22:02] livarcocc commented on #8690
We are not shipping any tools of off the NuGetFallbackFolder anymore. Closing this issue. We can re-activate of file a new one if we start doing that again.

[2018-03-27 22:02] #8690 closed

[2018-03-27 22:35] AndrewSav commented on #6241
I think this one is specifically about cli being slower on linux.

It is not clear if that PR resolves this particular issue. It would be more logical to wait for the PR to come through, get this retested after it's done and _then_ close when we know that it was resolved this way.

As it stands this closure feels a bit premature.

[2018-03-27 23:32] livarcocc commented on #5873
By the way, these are now separated. The cache expansion sentinel and the first run message sentinel.

[2018-03-27 23:32] #5873 closed

[2018-03-27 23:34] livarcocc commented on #5667
By header, do you mean the Project reference(s) header?

[2018-03-27 23:39] livarcocc commented on #6241
We have two other issues tracking the `dotnet run` explicit problem and it feels like it got globbed together on this conversation to begin with.

[2018-03-27 23:42] krwq commented on #5667
@livarcocc the scenario is that you can execute multiple things on the output of `dotnet list reference`

Currently:
`dotnet list reference`

[code]

or

[code]

xargs will interpret lines like `Project reference(s)` and try to execute commands on them.

If there was an option like `-1` (one per line) or equivalent the the expected output would be empty or :

[code]

this way the output is machine

[2018-03-28 00:00] livarcocc commented on #5664
If you try this scenario today you will get a series of package downgrades and it won't be possible to restore your project.

[2018-03-28 00:00] #5664 closed

[2018-03-28 00:05] livarcocc commented on #5659
The help has since been updated and particularly the runsettings now explicitly determines the -- separator before passing commands to the runner directly.

I tried `dotnet test -- --Tests:Test1` after creating a xunit project and it worked.

[2018-03-28 00:11] kasper3 opened #8917 "What is the difference between dotnet run and dotnet assembly.dll in terms of stdin?"
An issue was reported at https://github.com/dotnet/corefx/issues/25916 that can be reproduced with `dotnet run` instead of `dotnet /path/to/assembly.dll`. If we type entries too fast and code is looping over Console.ReadLine , stdin entries gets echoed to stdout. Is there some kind of pipeline involved when we use `dotnet run`, which gets exempted when we use `dotnet path/to/assembly`?

[2018-03-28 00:14] livarcocc commented on #5445
We have since added this coverage through the SDK repo.

[2018-03-28 00:14] #5445 closed

[2018-03-28 00:32] stevedesmond-ca commented on #620
Given @TheRealPiotrP's two options, I would prefer startup time registration.

My ideal solution would be to integrate it into current shell completion engines (e.g. for `bash-completion`, adding a file to `/etc/bash-completion.d` on install). My thought is that using the `.deb` (most likely via `apt-get`) is the happy path, make that as automated as possible (plus it's already running as `root`).

[2018-03-28 00:36] livarcocc commented on #8769
I am going to close this issue as this is not something we intend to support.

[2018-03-28 00:36] #8769 closed

[2018-03-28 00:41] livarcocc commented on #4711
project.json is not being actively supported anymore. Closing this issue.

[2018-03-28 00:41] #4711 closed

[2018-03-28 00:45] AndrewSav commented on #6241
@livarcocc it would certainly help if you could list these other issues here, for people who used to track this issue and what to track those ones you mentioned. Thanks.

[2018-03-28 02:44] yuki233 opened #8918 "With .zip installer, message is not localized when install global tool succeed"
## Steps to reproduce
1. Prepare a windows 10 OS with language SC
2. Download zip installer and unzip, add this path to system path
3. run dotnet new console -n test-global-tools. 
4. edit project file, add line <PackAsTool>true</PackAsTool> in PropertyGroup session. 
5. run dotnet pack 
6. setup local nuget feed and copy paste result bin/Debug/test-global-tools.1.0.0.nupkg in to it 
7. run dotnet

[2018-03-28 03:42] wli3 commented on #8918
@nguerrera did we have all the loc for zip installation? I remember "pay to play" it is about different installers at all?

[2018-03-28 04:51] omajid commented on #620
I agree with @stevedesmond-ca. For anyone using .NET Core with a package manager (whether `apt`, `brew`, `choco`, `dnf`, `yum` or `zipper`) we should ensure the auxiliary items like shell completion (and other things such as man pages) get installed correctly. It's the simplest and most common use case to implement and support.

This is going to be a bit difficult to do in a way that handles all c

[2018-03-28 05:08] livarcocc commented on #6241
https://github.com/dotnet/cli/issues/8103
https://github.com/dotnet/cli/issues/7610
https://github.com/dotnet/cli/issues/7551

[2018-03-28 05:11] livarcocc commented on #8918
I had missed this to being with. In order to save space, the decision that was made by Scott back when we were shipping 2.0 was that the tarballs/zips where going to be English only and folks needed to acquire a second file (language pack) to localize their xcopy installs. Given that, this behavior is by design.

[2018-03-28 05:11] #8918 closed

[2018-03-28 05:11] livarcocc commented on #8918
@yuki233 one last question, other pieces of the CLI should be unlocalized as well, not just tools. Can you confirm that?

[2018-03-28 05:17] livarcocc commented on #5737
@mairaw do you still intend to review these? Could it be done for the 2.1 timeframe?

[2018-03-28 05:52] mairaw commented on #5737
I actually had a draft email to you and @KathleenDollard about this that I started today. I think it’d be good but not sure if Kathleen wanted to look at this more closely beyond just basic grammar and punctuation.

[2018-03-28 10:14] qbit86 commented on #7913
@nguerrera

Doesn't work for me. In Git Bash (on Windows):
[code]
Take a look at description, it is still in Cyrillic: “Программы командной строки .NET (2.1.103)”

[2018-03-28 14:28] KathleenDollard commented on #5737
I will not be able to work on this until after Tuesday. Does that push us beyond the 2.1 timeframe?

I would love to have @mairaw review on this if you have the time.

[2018-03-28 15:06] svick commented on #7913
@qbit86 I believe you need to use [`export`](https://stackoverflow.com/a/1158231/41071). In my git bash:

[code]

Note that my git bash console window is not configured for Unicode, so it displays question marks instead of Cyrillic.

[2018-03-28 15:12] tarekgh opened #8920 "same project dotnet build -c release on linux is fail"
@quan01994 commented on [Tue Mar 27 2018](https://github.com/dotnet/corefx/issues/28542)

same project .
on linux
![image](https://user-images.githubusercontent.com/20533465/38012499-47a4bfbc-3294-11e8-9cec-7a3aa58990ec.png)

on windows
![image](https://user-images.githubusercontent.com/20533465/38012526-5e74c6b0-3294-11e8-9491-3a7f7cce620a.png)

but on linux ,run " dotnet build -c release " is fa

[2018-03-28 15:21] qbit86 commented on #7913
@svick Thanks, it does solve the issue!

[2018-03-28 16:03] svick commented on #8920
@joemey

I think the reason is that the csproj contains uppercase Release:

[code]

but the command used lowercase release: `dotnet build -c release`.

[2018-03-28 17:29] bencz opened #8921 "PowerPC and AIX support"
After some research, I checked that the .net core has no supported for PowerPC or AIX ... Are there plans to implement support for the Power architecture and the AIX operating system?

[2018-03-28 17:34] bencz commented on #8921
Wrong project, sorry.

[2018-03-28 17:34] #8921 closed

[2018-03-28 19:38] livarcocc commented on #8920
When you pass the -c option to the CLI, it gets set to msbuild as the Configuration global property and that is used to determine the path to the build artifacts. In this case, you are setting it lower case and we are respecting that.

However, in your project file, you are expecting it to be upper case and thus this fails.

So, @svick is completely right on his comment above.

Is your expectation

[2018-03-28 21:55] livarcocc commented on #7331
I believe this has now been addressed as we are catching that exception and bubbling up an appropriate error message.

[2018-03-28 21:55] #7331 closed

[2018-03-28 21:56] brunohbrito commented on #8309
I got this same issue at a specific project.

I can create new apps at .Net Core 2.0, but for that project I was getting this message: "the current .NET SDK does not support targeting .NET Core 2.0. Either target .NET Core 1.1 or lower, or use a version of the .NET SDK that supports .NET Core 2.0"

After some hours looking, I got the problem at global.json:

`
{
  "projects": [ "src", "test" ],

[2018-03-28 22:17] livarcocc commented on #7511
These tests have been re-enabled a while ago.

[2018-03-28 22:17] #7511 closed

[2018-03-28 22:20] peterhuene commented on #8103
The fix has been checked in and will propagate to the CLI repo once we take a new SDK version.  Thanks again for reporting this issue to us!

[2018-03-28 22:20] #8103 closed

[2018-03-28 22:23] peterhuene commented on #7551
The fix is checked in.  This should improve performance of `dotnet run --no-build` considerably and reduce the overall time of just `dotnet run` by a considerable amount when run in directories containing a large set of files, even without `DefaultItemExcludes` set.

I still recommend setting that property to exclude unnecessary directories from being globbed for the build, though.

[2018-03-28 22:23] #7551 closed

[2018-03-28 23:06] dasMulli commented on #8920
There's still an issue logged about folder name capitalization at https://github.com/dotnet/sdk/issues/375

a way to work around is to remove both property groups setting the `<DocumentationFile>` and replacing it with
[code]
which will generate the correct default paths based on the current configuration. Downside is that there isn't yet a UI for that setting - https://github.com/dotnet/project-s

[2018-03-28 23:07] mairaw commented on #5737
@livarcocc what's the deadline for getting 2.1 changes?

[2018-03-28 23:43] omajid commented on #8920
It's a bit surprising to me that values other than `Release` and `Debug` are possible. I thought `release` and `debug` were just synonyms for the first two. Does `msbuild` really treat `Release` and `release` as two different configurations? If they get normalized to something, perhaps we should tell users to use the same normalization in their .csproj?

[2018-03-28 23:50] omajid opened #8923 "Port zsh shell completion to #compdef"
Our current [shell completion for zsh](https://github.com/dotnet/cli/blob/master/scripts/register-completions.zsh) uses `compctl`. This makes it hard for any packages (like `.deb`, or `.rpm`) to register these completions as system-wide by default. We can't simply copy the file at `/usr/share/zsh/site-functions/` and call it a day. They wont get picked up. As far as I can tell, `zsh` actually only

[2018-03-28 23:52] omajid commented on #620
FWIW, it looks like we can simply copy our current bash completion file over to` /usr/share/bash-completion/completions/dotnet` (or equivalent) and it will get picked up and used automatically. We could easily do this in our `.rpm` or `.deb` packages.

zsh needs more work: https://github.com/dotnet/cli/issues/8923

[2018-03-29 05:38] yuki233 opened #8924 "Warning message indicating that format version is missing should not occur if the installation tool was packed with preview 2"
## Steps to reproduce
1.	run dotnet new console -n test-global-tools.
2.	edit project file, add line <PackAsTool>true</PackAsTool> in PropertyGroup session.
3.	run dotnet pack
4.	setup local nuget feed and copy paste result bin/Debug/test-global-tools.1.0.0.nupkg in to it
5.	run dotnet install tool -g test-global-tools
6.	Observe the instruction printed on the screen

## Expected  behavior
Install

[2018-03-29 05:53] yuki233 opened #8927 "The error text should not indicating version issue when conflicting shim exists"
## Steps to reproduce
1. Setup tools local feed.
2. Prepare 2 tools that have different package ID but same command name. Add <ToolCommandName>mytool2</ToolCommandName> after <PackAsTool>true</PackAsTool> to customize nameSetup tools local feed. Prepare 2 tools that have different package ID but same command name. Add <ToolCommandName>mytool2</ToolCommandName> after <PackAsTool>true</PackAsTool> t

[2018-03-29 06:03] yuki233 opened #8928 "Two restore meesages are displayed when run dotnet restore for Xunit project"
## Steps to reproduce
1. Create Xunit Project
2. Run dotnet restore

## Expected  behavior
Only one restore message is displayed

## Actual behavior
Two restore meesages are displayed
![image](https://user-images.githubusercontent.com/1578239/38072639-db61a308-3359-11e8-8a44-6fceeea10c55.png)

## Environment data
`dotnet --info` output:
dotnet --info output:
.NET Core SDK (reflecting any global.js

[2018-03-29 06:23] yuki233 opened #8929 "URL paths for RHEL 7.2 SDK and ASP.NET Core Runtime installer should omit “rhel” on github page - 2.1 master branch"
URL paths for RHEL 7.2 SDK and ASP.NET Core Runtime installer should omit “rhel” on https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1. Otherwise, it will return 404 error.
![image](https://user-images.githubusercontent.com/1578239/38073183-8d3b6e2c-335c-11e8-9b3a-f4e443ced12c.png)

Workaround: Modify the link ***-**rhel-x64.rpm** -> ***-**x64.rpm**,
SDK:
http

[2018-03-29 06:43] rkdrnfds opened #8930 "request processing slows down on concurrent requests."
Request handling extremely slows down on concurrent requests

[code]
Against above controller, I tested concurrent request using shell script below
[code]

For sequential request, there's almost no delay for processing requests. consuming about 1~5ms per request.
but For concurrent request, handling time varies from 100ms ~ 2000ms

There's light middleware attached for logging execution time.

[co

[2018-03-29 06:49] yuki233 opened #8931 "It should return error when run dotnet tool list using non-exist tool path"
## Steps to reproduce
Run dotnet tool list --tool-path "~/non-exist-path"

## Expected  behavior
It should return error path

## Actual behavior
The output shows the table header with package id, version, and commands. 
![image](https://user-images.githubusercontent.com/1578239/38074117-42602538-3360-11e8-9ad5-d33b4fac4ef9.png)

## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting

[2018-03-29 09:00] tmds opened #8934 "Install global tools described in csproj"
It would be interesting to be able to specify a list of global tools in csproj.
This makes it easy for anyone working on the project to install those tools.
This is similar to csproj DotNetCliToolReference and npm devDependencies.

[2018-03-29 11:48] tmds commented on #8846
@livarcocc @DamianEdwards @natemcmaster Can you please give an update on the plan for global tools? and the plan for shared frameworks (Microsoft.AspNetCore.App, Microsoft.AspNetCore.All)?

[2018-03-29 11:54] tmds commented on #4014
I think this can be closed by the recent update to https://docs.microsoft.com/en-us/dotnet/core/build/distribution-packaging.

[2018-03-29 11:57] sherlock1982 opened #8935 "CLI builds referenced libraries as debug for release build"
## Steps to reproduce
Linux:

1. Create a library library1 (dotnet new library)
2. Create a console app console1 (dotnet new console)
3. Reference library from console app (dotnet add reference)
4. Create solution (dotnet new sln)
5. Add console1 to solution (dotnet sln add)
6. Run publish with release

## Expected  behavior

library1 should be build for Release

## Actual behavior

[code]

## Env

[2018-03-29 15:17] livarcocc commented on #8928
This is by design.

One restore is for your project while the other restore is for the DotnetCliToolReference. The tool gets restored separately.

[2018-03-29 15:17] #8928 closed

[2018-03-29 15:18] livarcocc commented on #8929
@johnbeisner can you take a look at this?

[2018-03-29 15:19] livarcocc commented on #8930
This issue was moved to aspnet/Home#3009

[2018-03-29 15:19] #8930 closed

[2018-03-29 15:20] livarcocc commented on #8931
@peterhuene @KathleenDollard can you take a look? Is that true? Should it return an error code or just return empty as we are already doing?

[2018-03-29 15:24] livarcocc commented on #8934
This is not something that we are looking at. Instead, we have been talking about what we have been calling repo tools. Which is basically a "manifest" file sitting at the root of you repo where you can invoke any of the tools there through dotnet <tool>. You would also get a gesture to install these tools locally to your repo.

For tools based on your csproj, the recommendation is to continue usi

[2018-03-29 15:24] #4014 closed

[2018-03-29 15:36] tmds commented on #8934
ok, this 'manifest' will support global tools then?

I doubt tool-owners will make their tools available both a 'global' and as 'DotNetCliToolReference' packages. So, this is manifest is deprecating 'DotNetCliToolReference'?

[2018-03-29 15:47] dagood commented on #8929
@mmitche, can you help correct this?

[2018-03-29 15:49] mmitche commented on #8929
Yeah.  I thought I had removed all of the rhel bits.  Checking.

[2018-03-29 15:49] johnbeisner commented on #8929
@mmitche
Thanks Matt...

[2018-03-29 15:54] mmitche commented on #8929
@livarcocc What's the OS support for that rpm installer?  Should I change the tag from RHEL 7.2 to something else?

[2018-03-29 15:59] natemcmaster commented on #8846
We don't have specific plans at the moment. We're still discussing how to prioritize this against the other work we have to get done for 2.1.0 rtm. I wrote up what we would need to implement to support the shared frameworks in source build here: https://github.com/dotnet/source-build/issues/375. As I mentioned there, source-build requires refactoring almost all of our build infrastructure, plus we

[2018-03-29 16:21] johnbeisner commented on #8929
RHEL 7.2 should use a 'non-rhel' labeled RPM package: http://dotnetfeed.blob.core.windows.net/orchestrated-release-2-1/20180326-03/final/assets/Sdk/2.1.300-preview2-008407/dotnet-sdk-2.1.300-preview2-008407-x64.rpm

[2018-03-29 16:24] mmitche commented on #8929
Right, but the implication of that rpm installer losing it's 'rhel' label is that it might also be usable for other RPM based OS's? CentOS, OpenSuSE, etc.  Should the distro column be changed from RHEL7.2 to something else, like the debian based installer has?

[2018-03-29 16:48] kasper3 commented on #7291
@nguerrera, @richlander, @Petermarcu, if hooking up pandoc script in CI is not possible for 2.1 (https://github.com/dotnet/docs/issues/2791#issuecomment-372707046), could we run pandoc script locally and send PR somewhere with all converted manpages for review? Maybe the auto-converted md files will require some manual changes.
It would be very helpful if 2.1 ships out with new manpages. Thanks!

[2018-03-29 16:50] wli3 commented on #8927
We've talked about this trade off. Either never preview version guide or always preview version guide since the nuget error is transparent for SDK. All SDK get is a return code that is not 0.

Maybe add an extra line like "Trouble shooting suggestions" can mitigate it a bit? To indicate the message is generic

[2018-03-29 16:55] verysimplenick opened #8936 "dotnet publish crash"
## Steps to reproduce
`dotnet publish -r -h`
[code]
## Expected  behavior
Print some help or something

## Actual behavior
Crash

## Environment data
`dotnet --info` output:
[code]

[2018-03-29 17:44] peterhuene commented on #8931
I'm in agreement that we should probably throw `GracefulException` if the given path doesn't exist.

For install, there shouldn't be an error because it creates the directory.

For uninstall, it will error because it can't find the tool package to uninstall (although, it should probably have the same error as list).

[2018-03-29 17:46] peterhuene commented on #8927
We can easily do better than what we're doing now, just limit this message to handling ToolPackageException.

[2018-03-29 17:48] wli3 commented on #8927
that is true, at least it will only show when restore failed

[2018-03-29 17:49] wli3 commented on #8927
That means, the error message will still show, say when internet is down

[2018-03-29 17:57] nguerrera commented on #7291
Sure, we can accept a PR to dotnet/cli with the updated man pages. I am still wary of manual process, but at this point it seems we're not getting anywhere on automation. :(

[2018-03-29 18:28] peterhuene commented on #8927
Not ideal, but best we can do unless we want to check the NuGet error code 🤷‍♂️

[2018-03-29 19:16] livarcocc commented on #8900
Closing in favor of the MSBuild issue. Also, this fix should have flowed in ProdCon already.

[2018-03-29 19:25] peterhuene commented on #8185
The command will be implemented with a broken MSBuild and Razor shutdown.

Blocked on Microsoft/MSBuild#3151 for MSBuild shutdown to work.

Blocked on aspnet/Razor#2230 for Razor shutdown to work.

[2018-03-29 21:09] luisantoniojr opened #8939 "Opensuse Tumbleweed - No usable version of the libssl was found"
After a clean installation of opensuse tumbleweed, first thing i done, after update the system, was try to install dotnet sdk. So after follow this tutorial, https://www.microsoft.com/net/learn/get-started/linux/opensuse, i had this problem:

openssl is installed:
teste@linux-my0x:~> sudo zypper search openssl
i  | libopenssl-1_1-devel            | Development files for OpenSSL

[2018-03-29 21:20] #8939 closed

[2018-03-29 22:20] verysimplenick commented on #2556
@Peter-Schneider , @livarcocc
Ok, publishing now is fine, now I try run on my router published app:
`dotnet hello_world.dll`
[code]
`# ldd ./hello_world`
[code]
`echo $LD_LIBRARY_PATH`
[code]
Whats wrong?

[2018-03-30 00:31] livarcocc commented on #2556
Are you xcopying the contents of the publish folder? Under something like bin\debug\netcoreapp2.0\publish? That's what you need to copy, not the contents under the build folder.

[2018-03-30 06:12] verysimplenick commented on #2556
@livarcocc yes, I tried run under publish (`bin\Release\netcoreapp2.1\linux-arm64\publish\`)

[2018-03-30 06:36] Petermarcu commented on #2556
Ah, typo in my sample. Sorry. The last package is missing "64" it needs to be `runtime.linux-arm.Microsoft.NETCore.DotNetHostPolicy`. Thats the missing file.

[2018-03-30 06:36] Petermarcu commented on #2556
I'm fixing my example inline as well.

[2018-03-30 08:13] verysimplenick commented on #2556
@Petermarcu yep, have tried your fixed  version, but now I get:
`dotnet ./hello_world.dll`
[code]

`ls -la lib*`
[code]
Maybe you can help me
🆘

[2018-03-30 20:05] wli3 commented on #8466
dotnet tool install did detect PATH and print instruction when the tool path are not in it.

Given the "non mac standard" config of zsh, it would be too complex and error prone for SDK to jam the tool path in (by the option in this thread and the latest year thread). Let's see if there is any zsh user cannot resolve this issue by the instruction. If so. we might need to consider detect current she

[2018-03-30 20:05] #8466 closed

[2018-03-30 23:19] dsplaisted opened #8956 "NETStandard.Library 2.0.2 should be picked up in SDK servicing"
_From @ericstj on September 26, 2017 21:6_

/cc @livarcocc @dsplaisted

_Copied from original issue: dotnet/sdk#1608_

[2018-03-30 23:19] dsplaisted commented on #8956
_From @livarcocc on September 28, 2017 3:56_

@ericstj what version of the SDK should carry that? What is the official release date for the package?

[2018-03-30 23:19] dsplaisted commented on #8956
_From @ericstj on September 29, 2017 20:47_

Probably next available?  @leecow or others running .NET Core shiproom should be able to help coordinate.

[2018-03-31 00:39] #8048 closed

[2018-03-31 00:50] kasper3 opened #8958 "Tab-completion is expected to exhibit "starts with" semantics, instead of "contains""
## Steps to reproduce

In PowerShell, copy the contents of https://github.com/dotnet/cli/blob/6b240926a3f4a71ac097ba234bd4f627efaedcad/scripts/register-completions.ps1 in `$PROFILE`

[code]

Type in `dotnet n<TAB>`.

## Expected  behavior
`dotnet new`, or something that **starts with `n`**.

## Actual behavior
`dotnet clean`
Press tab again to get `dotnet internal-reportinstallsuccess` (why is thi

[2018-03-31 00:51] livarcocc commented on #7550
We have added CI for opensuse 43.2 using the linux portable version of the CLI.

[2018-03-31 00:51] #7550 closed

[2018-03-31 00:59] livarcocc opened #8959 "Flaky Test: Microsoft.DotNet.Migration.Tests.GivenThatIWantToMigrateSolutions.ItMigratesAndBuildsSln"
This test fails in CI with the stack below:

Latest failure: https://ci.dot.net/job/dotnet_cli/job/master/job/release_windows_nt_x64_prtest/2583/

[code]

[2018-03-31 03:56] livarcocc commented on #7291
Moving this to 2.1.4xx for the automation part.

[2018-03-31 18:05] ivaylo5ev commented on #7427
Hello, I have the same issue with a newer .NET SDK:

     2.1.103
----

[code]

[2018-03-31 22:32] hvanbakel commented on #4057
@Antaris this might be fixed with https://github.com/dotnet/core-setup/issues/3634 but this is only coming in 2.1

[2018-04-01 18:53] kouvel commented on #8776
I don't fully understand your perspective. I see that an executable should specify which runtime it intends to run on, and a library targeting netstandard can still target a runtime by specifying the `RuntimeFrameworkVersion` and yet there is no error indicating that this is not a valid request for the library. From a user's perspective, there is something worthy of error here. There may be good r

[2018-04-01 19:01] kouvel commented on #8776
Aside from publish / self-contained, I also mentioned above the following, which was not responded to:

This definitely looks like a bug (from a user's perspective), as even without a publish / self-contained specification, it seems to behave similarly by using the 2.0.0 runtime. Could someone please explain this?

[2018-04-02 00:01] Alois-xx opened #8963 "When are crossgen images loaded?"
## Steps to reproduce
1. Create a new Console application for netstandard. Used runtime is 2.0.6 x64/x86 e.g. NetCoreExe on Windows
2. Copy all dependencies into one directory via dotnet publish
    **NetCoreExe>dotnet publish -r win-x64 -c release  /p:TargetFramework=netcoreapp2**
3. Move exe and associated files to publish folder
    **NetCoreExe\bin\Release\netcoreapp2\win-x64>move \*.\* publis

[2018-04-02 08:17] pizixie commented on #5993
this problem had be solved in [this](https://github.com/dotnet/corefx/issues/17026).

just to add
`<AutoUnifyAssemblyReferences Condition="'$(TargetFramework)' == 'net40'">false</AutoUnifyAssemblyReferences>`

@rguryanov your example maybe work when OutputType is Exe,but Library do not

[2018-04-02 09:14] yuki233 opened #8964 "Right bracket is missing in text when tool installation succeed with SC language"
## Steps to reproduce
1. Install global tool on windows with SC language

## Expected  behavior
All the text is translated and displayed normally

## Actual behavior
Right bracket is missing in text when tool installation succeed
![image](https://user-images.githubusercontent.com/1578239/38190747-3c218032-3698-11e8-9183-a6628595d9d3.png)

## Environment data
`dotnet --info` output:
.NET Core SDK（反

[2018-04-02 16:25] livarcocc commented on #8963
This issue was moved to dotnet/core-setup#3953

[2018-04-02 16:25] #8963 closed

[2018-04-02 16:26] livarcocc commented on #8964
@peterhuene @wli3 please take a look.

[2018-04-02 17:28] wli3 commented on #8964
This is strange. It is missing a unicode bracket and a unicode comma but it is not in xlf text.

https://github.com/dotnet/cli/blob/release/2.1.3xx/src/dotnet/commands/dotnet-tool/install/xlf/LocalizableStrings.zh-Hans.xlf#L9

@yuki233 does it repo constantly?

@nguerrera have you seen this before?

[2018-04-02 18:08] peterhuene commented on #8185
This has been fixed with #8950.

[2018-04-02 18:08] #8185 closed

[2018-04-02 18:25] nguerrera commented on #8185
@peterhuene Is there an issue tracking the follow-up post preview2 to [this](https://github.com/dotnet/cli/pull/8950#discussion_r178253999)

[2018-04-02 19:16] peterhuene opened #8968 "Improve design of the buildserver shutdown command."
See related discussion [here](https://github.com/dotnet/cli/pull/8950#discussion_r178253999).

Currently the `buildserver shutdown` command uses three different mechanisms for shutting down build servers:

* Using a well-defined API we link against that knows how to shut down the server (*MSBuild*)
* Using an executable to run to shut down the server from a well-defined location (*VBCSCompiler*)
*

[2018-04-02 19:16] peterhuene commented on #8185
I've opened https://github.com/dotnet/cli/issues/8968.

[2018-04-02 19:42] #8825 closed

[2018-04-02 19:51] nguerrera commented on #8776
That second issue should be addressed by @dsplaisted's latest changes. We will default to the latest patch for self-contained apps.

[2018-04-02 23:06] wli3 opened #8972 "CI error Retrying X for source - Could not load file or assembly 'Microsoft.Win32.Primitives - Too many open files"
Relate to

https://github.com/NuGet/Home/issues/2004
https://github.com/dotnet/cli/issues/809

Failed CI build
https://ci.dot.net/job/dotnet_cli/job/release_2.1.3xx/job/release_rhel7.2_x64_prtest/187/testReport/junit/(root)/(empty)/Microsoft_DotNet_New_Tests_GivenThatIWantANewAppWithSpecifiedType_TemplateRestoresAndBuildsWithoutWarnings_language___C____projectType___mvc___skipSpaWebpackSteps__Fals

[2018-04-02 23:12] wli3 commented on #8972
https://ci.dot.net/job/dotnet_cli/job/release_2.1.3xx/job/debug_centos7.1_x64_prtest/196/

[2018-04-02 23:42] richlander opened #8973 "I cannot create a .NET Core 2.0 console app with `dotnet new console`"
I want to do this:

[code]

[2018-04-02 23:45] wli3 commented on #8972
I added $FILE_DESCRIPTOR_LIMIT like last time. See if it can help

[2018-04-02 23:45] wli3 commented on #8972
$FILE_DESCRIPTOR_LIMIT

[2018-04-03 00:15] wli3 commented on #8972
Previews fix https://github.com/NuGet/NuGet.Client/commit/f5f67f6da8d8c34be14017a88a08b9f13c78e65a

[2018-04-03 00:43] livarcocc commented on #8973
This is currently not supported by dotnet new console and it is actually on the list of work items we need to do to support our LTS plan of having only a current version of the SDK. This was one of the things you, me and @leecow discussed. In any case, I will move this issue to dotnet/templating.

[2018-04-03 00:43] livarcocc commented on #8973
This issue was moved to dotnet/templating#1495

[2018-04-03 00:43] #8973 closed

[2018-04-03 00:48] wli3 commented on #8972
Doesn't work

[2018-04-03 01:32] wli3 commented on #8972
Creating a vm and see  try to repo.

[2018-04-03 04:36] #8927 closed

[2018-04-03 08:19] chauhannneha commented on #3964
Hi,

Can anyone please help me with this issue which I am getting while running dotnet on my mac?
I came across a good number of solutions, which I tried implementing but I think I am just getting confused with so many options to resolve this issue.

Details are as followed:

.NET Command Line Tools (2.1.4)

Product Information:
Version: 2.1.4
Commit SHA-1 hash: 5e8add2190

Runtime Environment:
OS

[2018-04-03 16:46] livarcocc commented on #7482
I tested this with the 2.1.300-preview1 build currently available to the public and on OSX, the first build with restore too 35 seconds and subsequent incremental builds were coming to 25 seconds. This will be even faster with our preview2 build.

As such, I am going to close this issue.

[2018-04-03 16:46] #7482 closed

[2018-04-03 16:52] livarcocc commented on #6926
This is the current behavior in the CLI:

[code]

It explicitly says the command is missing and then you can see below what are the possible values and formats for the commands.

[2018-04-03 16:52] #6926 closed

[2018-04-03 17:30] wli3 commented on #8972
I pumped the ulimit to 65536, but it still won't resolve the issue. ulimit should not be the real cause

[2018-04-03 18:04] wli3 commented on #8972
ulimit: open files: cannot modify limit: Operation not permitted

Error on pump to 65535

[2018-04-03 18:05] wli3 commented on #8972
https://github.com/dotnet/corefx/issues/28662

[2018-04-03 18:06] wli3 commented on #8972
get repo on local. But it does not help much. But it still points to ulimit

[code]

[2018-04-03 18:27] #7227 closed

[2018-04-03 19:36] wli3 commented on #8972
Improve ulimit solved the problem on my local repo

[2018-04-03 19:37] livarcocc commented on #8972
Good to know. Let's go through the process of setting this for our machines.

[2018-04-03 19:49] omajid commented on #8846
https://github.com/dotnet/cli/pull/8977 is probably related to this

[2018-04-03 20:02] dsplaisted commented on #8776
@kouvel This should run against the latest 2.0.x shared framework installed on the machine.  Are you saying that this isn't what happens, or are you saying that you expect an error if only 2.0.0 is available because of the `RuntimeFrameworkVersion` set in the library?

As for why it works like this, generally we think that you should not need to specify the `RuntimeFrameworkVersion`.  A framework-

[2018-04-03 20:41] peterhuene commented on #8931
[code]

[2018-04-03 21:25] dsplaisted opened #8981 "unable to generate deps.json, it may have been already generated"
_From @jholovacs on March 18, 2018 21:8_

trying to use migrations, or update the database, I get this message:

[code]
application builds fine.  I've tried

`dotnet restore`

and this seems to work.

`dotnet run` also works.

versions of stuff:
[code]

_Copied from original issue: aspnet/EntityFrameworkCore#11320_

[2018-04-03 21:25] dsplaisted commented on #8981
_From @ajcvickers on March 19, 2018 19:49_

@jholovacs We're not really sure what is going on here and whether it is a CLI issue or an EF issue. Some observations/ideas:
* One thing we noticed is that the SDK version installed seems to be different that the package version being used. It's not clear that this would cause the issue you are seeing, but if this is not intentional, then it is somethin

[2018-04-03 21:25] dsplaisted commented on #8981
_From @jholovacs on March 19, 2018 22:2_

`dotnet build` works.

`dotnet ef --verbose` doesn't get particularly verbose:

[code]

cleared the nuget cache:
[code]

After futzing with versions and dependencies, `dotnet build` works again, but `dotnet ef` still generates the same headscratching error.

Can you elucidate on "SDK version installed seems to be different that the package version being us

[2018-04-03 21:25] dsplaisted commented on #8981
_From @jholovacs on March 20, 2018 1:25_

OK, I discovered the issue; it's permissions on the sdk directory.  Once I opened up the permissions for nonprivileged users to write to the sdk directory, this message went away.  Maybe this file should be generated someplace else?

[2018-04-03 21:25] dsplaisted commented on #8981
_From @ajcvickers on March 22, 2018 2:35_

@livarcocc This looks similar to #11367. We're not sure what is going on with permissions here and in that issue. @bricelam is going to investigate, but there is nothing we can think of that would cause this. Do you know where "unable to generate deps.json, it may have been already generated" comes from? It's not an EF message.

[2018-04-03 21:25] dsplaisted commented on #8981
_From @livarcocc on March 22, 2018 17:23_

@dsplaisted can you take a look? This seems to be when trying to generate the project tool deps.json file. Though, this file ships with the SDK itself, it is not generated there at all.

I wonder if the issue here is that there was no read access to that file for non-privileged users. The CLI runs fine in windows when installed on the Program Files folder

[2018-04-03 21:25] dsplaisted commented on #8981
_From @ajcvickers on March 28, 2018 15:48_

@dsplaisted @livarcocc Any updates on this?

[2018-04-03 21:25] dsplaisted commented on #8981
@jholovacs Can you check your user NuGet.config (under `C:\Users\<username>\AppData\Roaming\NuGet`) and see if it includes anything about a fallback folder?  For some preview versions of the .NET Core SDK, we would add an entry to that file, but we eventually changed that.  However if you installed one of those previews you could have an entry for a fallback folder in your NuGet.config, and I thin

[2018-04-03 21:25] dsplaisted commented on #8981
_From @jholovacs on March 28, 2018 22:10_

I got something like this:

[code]

[2018-04-03 21:26] dsplaisted commented on #8981
@jholovacs Which was the sdk folder you had to grant permissions to in order to get it to work?

[2018-04-03 21:26] dsplaisted commented on #8981
_From @jholovacs on March 29, 2018 1:38_

C:\Program Files\dotnet\sdk

[2018-04-03 21:26] dsplaisted commented on #8981
_From @divega on April 3, 2018 0:36_

@dsplaisted @livarcocc, I would like to move this to a more appropriate repo. Please suggest where. BTW, I already moved https://github.com/dotnet/core-setup/issues/3965, which seemed to also be file permissions-related.

[2018-04-03 21:38] wli3 commented on #8972
blocking checking is resolved. Close this issue and only track on nuget

[2018-04-03 21:38] #8972 closed

[2018-04-03 22:05] livarcocc commented on #8846
Our plan is to have a variable to turn off including bundled tools into the CLI. This change went in in the PR @omajid mentioned above.

Other than that, we will add special error messages when you try to dotnet <bundled_tool> and we don't find the tool indicating the user to run dotnet install -g (which will only happen in source build tools).

Issue #8861 is tracking adding that error message.

[2018-04-03 22:05] #8846 closed

[2018-04-03 22:32] KathleenDollard commented on #8931
LGTM

[2018-04-03 22:37] sebastienros opened #8983 "linux_platform_name unbound variable in dotnet-install"
Using the latest `dotnet-install.sh` version from `master`, inside a Docker container based on `microsoft/dotnet:2.0-sdk-jessie` running on an Azure Ubuntu VM.

[code]

The `sdk` folder only contains `DotnetTools` and nothing else, which leads to a `dotnet.dll` not found when trying to use this sdk.

[2018-04-03 22:51] omajid commented on #8983
This looks surprisingly similar to https://github.com/dotnet/cli/pull/8912

[2018-04-03 22:52] livarcocc commented on #8983
I was just typing that this has been fixed already. We fixed it in release/2.1.3xx, can you try the script from that branch and see if that addresses your issue?

[2018-04-03 23:23] KaspireFX opened #8986 "Unhandled Exception when trying to Build/Run on Arch Linux"
Environment data

dotnet --info output:
.NET Command Line Tools (2.1.103)

Product Information:
Version: 2.1.103
Commit SHA-1 hash: 60218cecb5

Runtime Environment:
OS Name: arch
OS Version:
OS Platform: Linux
RID: linux-x64
Base Path: /opt/dotnet/sdk/2.1.103/

Microsoft .NET Core Shared Framework Host

Version : 2.0.6
Build : 74b1c703813c8910df5b96f304b0f2b78cdf194d

VS Code version: Version 1.21

[2018-04-03 23:25] livarcocc commented on #8986
This issue was moved to dotnet/core-setup#3976

[2018-04-03 23:25] #8986 closed

[2018-04-03 23:34] nguerrera commented on #5331
dotnet/sdk#2111 (in PR) implements the dotnet/sdk half of this. After that, we just need to wire --no-build to /p:NoBuild=true here.

[2018-04-04 01:36] dance2die opened #8989 ""dotnet new" fails to install a new template with "node_modules" with "Error: Value cannot be null" message"
## Steps to reproduce
1. Create a new `dotnet new` SPA project, `react`.
[code]
2. Go to the newly created project.
[code]
3. Install NPM packages.
[code]
4. Add a new template folder, `.template.config` and a new configuration file, `template.json`.
5. Copy the following configuration to `template.json` file.
[code]
6. Go up one directory.
[code]
7. Install the template, `ThisFails`.
[code]
## Ex

[2018-04-04 02:02] livarcocc commented on #8989
This issue was moved to dotnet/templating#1498

[2018-04-04 02:02] #8989 closed

[2018-04-04 02:47] kouvel commented on #8776
I didn't realize that it was expected that providing --runtime switch to "dotnet build" implied publish. I typically specify --runtime but I don't intend to publish.

[2018-04-04 02:52] kouvel commented on #8776
But in any case regarding the original issue about issuing errors where an unexpected runtime would be used, I think with the fix for defaults it would make it less of an issue. @BrendanGrant do you think this is reasonable enough to close on this issue?

[2018-04-04 07:55] haf commented on #5346
@TheRealPiotrP Wouldn't it be a good idea to reopen this issue now that you have a repro with output/debug symbols?

[2018-04-04 15:52] livarcocc commented on #5346
@TheAngryByrd that happens to you because when packaging for netcoreapp2.0 you are setting `OutputType` to `exe`.

In that case, we don't mark the implicit dependency as `PrivateAssets=All` and the package shows up in your nuspec. In the case of apps, it is supposed to not be privateassets.

[2018-04-04 16:06] TheAngryByrd commented on #5346
@livarcocc good to know, thanks!

Ok so then

[code]

 https://travis-ci.org/TheAngryByrd/MiniScaffold/jobs/361733228#L2425 is a paket issue?

[2018-04-04 17:08] livarcocc commented on #5346
Not sure. Can't really tell just from the build. I think there is a higher chance that it is something to do with your build itself.

[2018-04-04 17:38] TheAngryByrd commented on #5346
Yeah I think my issue is paket specifically.  A project without it doesn't give me that warning.  I'll open an issue over there.

[2018-04-04 18:52] #8931 closed

[2018-04-04 18:53] peterhuene commented on #8874
Fixed with #8886.

[2018-04-04 18:53] #8874 closed

[2018-04-04 21:29] peterhuene commented on #8968
@rainersigwald @rynowak @jaredpar @nguerrera I've created this as a discussion issue to talk about improving the design of how we shutdown build servers for the 2.1 release.

My goal is to make this a unified design between our different server implementations so that `dotnet` doesn't have to have specific implementations for each build server we want to support.  Additionally, I'd like this desig

[2018-04-04 21:53] JulienLajugie commented on #2660
Hi,
I am having the same problem. What is the proper way to pack native assemblies into a nuget package? Should I add the native libraries to the /lib/native folder of the Nuget package or should I add it to the /native folder?
Thank you

[2018-04-04 23:00] KathleenDollard commented on #8563
Do we still need text on this?

[2018-04-04 23:06] wli3 commented on #8563
the original idea i believe is to have a list of troubleshooting tips. when you see this do that... we currently have the "preview please add version" message, do we want to add more? like check your feed, you package name could conflict with a different package on other feed (often happen when you test your tool, and you call you tool something very common).

[2018-04-04 23:09] wli3 commented on #8563
i don't have strong opinion on this, on one side i am afraid this will become a rabbit hole and list all the place nuget error could happen. but sometimes it does help(while we don't have a reliable API to indicate different errors from nuget)

[2018-04-04 23:11] KathleenDollard commented on #8563
@peterhuene Thoughts?

[2018-04-05 00:18] sdmaclea opened #8998 "[Arm] crossgen cli tools"
Arm64 & Arm crosscomponent crossgen tools are available and are being consumed by coreclr core-setup to crossgen the runtime.

They are not yet being used by cli to crossgen the SDK (done for x64).

One of the issues is that the crosscomponent crossgen tool is contained in a private coreclr package which is enacapsulated by core-setup.  ClI does not seem to have the necessary version info to refer

[2018-04-05 00:29] mattcbaker opened #8999 "Add Nuget source commands to cli?"
The cli has some nuget commands that can be used, [ref](https://docs.microsoft.com/en-us/nuget/tools/dotnet-commands).

What does everyone think about adding more? I'm specifically interested in being able to add nuget sources using the cli.

My use case is in AWS CodePipeline. CodePipeline uses an Ubuntu image to run dotnet builds, and I cannot access that image (AFAIK). The image has the dotnet

[2018-04-05 00:32] peterhuene commented on #8563
I'm fine with expanding the guidance to a few things like @wli3 mentioned.

Something along the lines of:

[code]

I wouldn't offer more than the top three, though.
*

[2018-04-05 03:56] livarcocc commented on #8999
Ultimately, the NuGet team owns these commands for NuGet itself, so it might be worth filling an issue at nuget/home for this instead.

However, NuGet does support passing these options through MSBuild properties, so you could pass to your build, I believe it is `RestoreAdditionalProjectSources` with the feed you are trying to use. This should be able to unblock you.

I am going to close this issu

[2018-04-05 03:56] #8999 closed

[2018-04-05 05:34] tharmachandran commented on #3907
Thank you  @RakeshYadvanshi  / Question is valuable , Thank you @gkhanna79 / Answer is 100 times valuable .. helps to solve my 2 days problem

[2018-04-05 08:10] daften commented on #533
Isn't this https://github.com/caskroom/homebrew-cask/blob/master/Casks/dotnet-sdk.rb
or this https://github.com/caskroom/homebrew-cask/blob/master/Casks/dotnet.rb what you're looking for?

[2018-04-05 08:14] cglong commented on #533
@daften The primary difference between a Caskroom version of .NET Core and a Homebrew version is that the latter is built from source, which would allow other open-source packages that depend on Core to *also* be eligible for Homebrew. As it is now, any apps written that take a dependency on Core (e.g. PowerShell) can never be in Homebrew proper :(

[2018-04-05 14:08] saviour123 opened #9003 "dotnet install command not available"
## Steps to reproduce
`$ dotnet new console`
`$ dotnet pack -c Release`
`$ dotnet install tool -g sayhi`

## Expected  behavior
run successfully.
`>sayhi`
`his saviour`

## Actual behavior
No executable found matching command "dotnet-install"

## Environment data
dotnet sdk 2.1.4, ubuntu 17.10

Is `dotnet install` not supported for installing builiding commandline tools?

[2018-04-05 16:01] livarcocc commented on #9003
It is only available starting on .NET Core SDK 2.1.300, which preview1 is the only official version available.

Please note that in preview2, we have changed the command from `dotnet install tool` to `dotnet tool install`.

[2018-04-05 16:01] #9003 closed

[2018-04-05 16:02] livarcocc opened #9004 "Flakiness on Microsoft.DotNet.Cli.Utils.Tests.GivenThatWeWantToReadLockFilesQuickly.ItFailsInLessThanOneSecondWhenTheProjectAssetsJsonDoesNotExist"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2018-04-05 17:50] #8042 closed

[2018-04-05 19:12] natemcmaster opened #9007 "dotnet-install.sh installs linux-x64, not linux-arm, on an arm32v7 machine"
## Steps to reproduce
Create a Dockerfile
[code]
Execute `docker build . -t test`

## Expected  behavior
Downloads https://dotnetcli.azureedge.net/dotnet/Sdk/2.1.300-preview2-008528/dotnet-sdk-2.1.300-preview2-008528-linux-arm.tar.gz

## Actual behavior
[code]

[2018-04-05 19:58] NTaylorMullen opened #9008 "ASP.NET Core HTTPs first run experience disclaimer is misleading for Linux users"
Today the text for the ASP.NET Core HTTPs bits is:
![image](https://user-images.githubusercontent.com/2008729/38388681-c8c5565a-38d0-11e8-9aaf-df632b22ff1c.png)

The problem with this is it makes it seem that for Linux the trust has already been trusted in some fashion; however, in reality it's up to the user to determine how to trust the cert on their flavor of Linux. Should update the wording to

[2018-04-05 20:09] danroth27 commented on #9008
Thanks for the feedback, @NTaylorMullen.

We could append some text to clarify that Linux will require manual steps:

To trust the certificate run 'dotnet dev-certs https --trust' (Windows and macOS only). For establishing trust on other platforms please refer to the platform specific documentation.

[2018-04-05 20:30] nguerrera commented on #8720
Closing in favor of #6896 and we can revisit if necessary after that is done, but I suspect it will be enough.

[2018-04-05 20:30] #8720 closed

[2018-04-05 22:13] KathleenDollard commented on #8563
* Not being able to access a NuGet feed, such as not having an Internet connection
* Mistyping the name of the tool

Any others? Anything more interesting?

[2018-04-06 00:11] dsplaisted commented on #8981
I discussed this with @KathleenDollard, and we decided it would be a good idea to automatically print the diagnostic output when running a tool failed, followed by a blank line and a message saying something like "Unable to run tool (unable to generate deps.json).  The diagnostic log which should have details on the failure has been included above."

[2018-04-06 00:50] veeral-patel commented on #3875
Can confirm @vidstige's solution works on Mac OS Sierra in Visual Studio Code. Thanks so much!

[2018-04-06 06:43] #5331 closed

[2018-04-06 09:09] mattcbaker commented on #8999
I think I found a simple solution, based on the advice from @livarcocc above. You can pass sources to the `dotnet restore` command.

[code]

[2018-04-06 16:33] Eilon commented on #9008
Agreed the wording could be clearer.

[2018-04-06 16:34] anurse commented on #8633
Just ran into this while verifying preview 2. I couldn't remember the name of the dev cert tool so I typed `dotnet help` and was disappointed they weren't there.

[2018-04-06 19:08] dmumladze commented on #8374
I've got 2059 build warnings once the entire production build is completed. I would really like to get rid of them, but I don't seem to find any way...

[2018-04-06 20:32] JieCarolHu commented on #8374
@livarcocc Could you or someone from your team help me take a look at this issue? Thanks!

C:\Users\dotnet-bot\.nuget\packages\microbuild.plugins.swixbuild\1.1.0-g0701ee829f\build\Microsoft.VisualStudio.Setup.Tools.targets(106,3): error MSB4011: "C:\Users\dotnet-bot\.nuget\packages\RoslynTools.MSBuild\0.4.0-alpha\tools\msbuild\Microsoft.Common.targets" cannot be imported again. It was already impo

[2018-04-06 20:42] livarcocc commented on #8374
@dsplaisted @nguerrera might be able to help.

[2018-04-06 20:53] MNie opened #9017 "Restore hangs when referenced project targets only .net standard 2.0"
## Steps to reproduce
1. Try to install an Expecto Template via `dotnet new -i Expecto.Template`

## Expected  behavior
2. Everything is ok, the template is installed as expected.

## Actual behavior
[code]
2. Installation hangs with an error that Expecto library doesn't support .net core 1.0 (Expecto supports .net standard 2.0, and drops support to .net standard 1.6 after 7.0 release).
3. When we

[2018-04-06 22:01] peterhuene commented on #7995
Hi @dmorrison42.  Thank you for reporting this issue to us!

#8048, which is actually a dupe of your issue (but I didn't see your issue until now, unfortunately), has been fixed with the merging of #2088.

As such, I'm closing this issue.  The fix should be available in the upcoming "preview 2" of .NET Core 2.1.

Please reopen this issue if you have any questions.  Thanks again!

[2018-04-06 22:01] #7995 closed

[2018-04-06 22:17] livarcocc commented on #9017
This issue was moved to dotnet/templating#1506

[2018-04-06 22:17] #9017 closed

[2018-04-06 23:27] dsplaisted commented on #8374
@JieCarolHu The error you're hitting doesn't look like it's a bug in the SDK.  It looks like there are two different versions of the MicroBuild.Plugins.SwixBuild plugin in the `MicroBuildPluginDirectory` (versions 1.1.0-g0701ee829f and 1.0.295).  They are both getting imported by a statement like this:

[code]

Then when they both try to import the common targets, you get the duplicate import erro

[2018-04-07 11:59] lindexi commented on #3390
@brthor I still cant run in my arm-32 for I cant install any lib.

[2018-04-07 17:44] brthor commented on #3390
@lindexi You're going to have to pull the libraries from one of the ARM 32 docker images. I suspect the path to the libraries will be different as well (not `/usr/lib/x86_64-linux-gnu`)

(See Here)[https://hub.docker.com/r/microsoft/dotnet/]

[2018-04-07 18:01] brthor commented on #3390
@livarcocc The experience surrounding this issue is awful, consider reopening it and fixing at least the experience if not the issue itself.

The average .NET Core user has no clue what `libunwind` is, and probably jumps back to building their service in Node.js or Ruby after they see an error like this.

This isn't an isolated incident either, this is a problem for *EVERY* self-contained linux ap

[2018-04-07 18:14] brthor commented on #533
When I worked on CLI, I had an experimental homebrew formula for `preview2` here:

https://github.com/brthor/homebrew-dotnet-cli/blob/master/Formula/dotnetcli.rb

For anyone interested, this is a good starting place, and I think will *just work* if you replace the preview2 url in the formula with whatever release you are targetting.

IIRC there were several issues with building a proper homebrew f

[2018-04-07 18:58] dasMulli commented on #533
The caskcroom version even isn't able to install side-by-side. you can do a `brew cask install dotnet-sdk --force` to install the newest version while keeping old ones or do a re-install deleting the old version and installing the newest. Due to the problem of the asp.net core runtime store not rolling forward (2.1 asp.net core runtime fixes this for 2.1) this may leave some apps non-functional.

[2018-04-07 19:06] cglong commented on #533
It'd be ugly, but it could be supported via Homebrew's versioning story. For instance, PowerShell could declare a dependency on an older minor release that it no longer receiving patch updates (e.g. `:depends_on "dotnet@2.0"`.

Sidenote: why is SxS an issue? Not to derail the thread, but when I write `:depends_on "node"`, all packages will just use whatever is available at `/usr/local/bin/node` wi

[2018-04-07 19:48] cglong commented on #533
I guess what I meant is just: Why is this an issue for .NET Core but not Node, Python or Ruby? TypeScript, IPython and Lolcat (formulae I wrote) all just use whatever happens to be the latest version of their respective runtimes *at* runtime. I've installed major point updates to Node without TypeScript being affected at all.

If a formula takes a dependency on `dotnet@2.0`, then that formula's de

[2018-04-07 19:59] brthor commented on #533
.NET Core solves the SxS problem in a different way (more robustly IMO).

Python for example solves it by naming one of your binaries `python` and the other `python3`. Alternatively you can use 3rd party tools like virtualenv to get a version specific to a project. But realistically having one project that depends on behavior in python 2.5 and another in 2.7 will be difficult to manage on the same

[2018-04-08 00:48] lindexi commented on #3390
@brthor  Thx , but I cant install anything on my linux for it's a microcomputer that can only install when reinstalling the system. That I cant use docker or install libunwin.so.8 .

[2018-04-08 08:31] yuki233 commented on #8964
Yes, It is always repro. And this issue is also reproduced with build 2.1.300-preview2-008530.

[2018-04-08 15:09] nguerrera commented on #8964
Very odd. No, I have not seen this. Maybe an issue with the console font? If so, and that's the default font for this locale, we should get loc folks to spell comma and paren differently.

[2018-04-08 15:10] nguerrera commented on #8964
@janbaltus

[2018-04-09 06:28] richardwhatever commented on #6680
I get problem too.

[2018-04-09 14:54] sathesh-pandian commented on #5747
Any updates on targeting .NET framework 2.0? i have seen people migrated .NET framework 2.0 apps in DotNet core and got struck like me.

[2018-04-09 16:52] livarcocc commented on #9008
@danroth27 Can we get confirmation of the new message we should use here?

[2018-04-09 16:59] Petermarcu opened #9022 "Conclusion page in the installer has multiple issues to address."
Feel free to split this up as neccessary:

![image](https://user-images.githubusercontent.com/8228359/38511088-d52b01ac-3bdb-11e8-80df-66496df67ca1.png)

I installed the Preview 2 SDK and noticed a few things on the conclusion page that should be addressed.

@KathleenDollard

1. There is nothing that tells me its preview 2. I was juggling preview 1 uninstalls and preview 2 installs and the install

[2018-04-09 17:17] danroth27 commented on #9008
Here you go:

To trust the certificate run 'dotnet dev-certs https --trust' (Windows and macOS only). For establishing trust on other platforms please refer to the platform specific documentation.
For more information on configuring HTTPS see https://go.microsoft.com/fwlink/?linkid=848054.

[2018-04-09 17:52] livarcocc commented on #9022
I agree on all the changes.

cc @leecow on issue 1, as if I remember correctly, that was the branding that him and @richlander landed on a while ago.

As for issue 2, I will update the text, but I don't know how to update the aka.ms links.

[2018-04-09 18:12] leecow commented on #9022
We can update the fwlinks.

- Tutorials is just top level tutorials doc location. Let us know if there's a better target.
- Release notes link will be updated to 2.1 P2 release notes.
- I don't have access to the 'dotnet-cli-docs' link. We can make a new one if needed. Let us know where to target it.

cc/ @preetikr

[2018-04-09 18:28] KathleenDollard commented on #9022
@mairaw to help with links.

[2018-04-09 18:31] mairaw commented on #9022
Gave you access to the dotnet-cli-docs link @leecow and @KathleenDollard.

[2018-04-09 18:41] mairaw opened #9023 "Add help support for new CLI commands"
## Steps to reproduce
dotnet help install

## Expected  behavior
Would open an article for the command (which doesn't exist right now 😄)

Probably the following files should be updated:
https://github.com/dotnet/cli/blob/master/src/dotnet/README.md
https://github.com/dotnet/cli/blob/master/src/dotnet/BuiltInCommandsCatalog.cs

## Actual behavior
You get an error message saying:
Specified command '

[2018-04-09 21:02] wli3 opened #9027 "Unify EmbedAppNameInHost in CLI and SDK"
https://github.com/dotnet/cli/blob/56c10f65c71e070116ca92f55598015a7f7713c1/src/Microsoft.DotNet.Cli.Utils/EmbedAppNameInHost.cs

https://github.com/dotnet/sdk/blob/cd25d6bbfc2aac61cc790c511900427ac64fdaa8/src/Tasks/Microsoft.NET.Build.Tasks/EmbedAppNameInHost.cs

This logic is duplicated in both CLI and SDK. It should be unified.

[2018-04-09 21:03] wli3 commented on #9027
https://github.com/dotnet/cli/pull/8893#discussion_r176923641 was introduced there

[2018-04-09 21:15] #9008 closed

[2018-04-09 23:59] noahfalk commented on #8872
@raffaeler - I've opened new tracking issues that I think cover 1 and 4 above. You also opened the VS user voice issue which I think was intended to cover 2 and 3. Let me know if you still think there are gaps in the requests and we'll get it sorted out.

Also a question on your user voice request - right now there are some non-trivial technical issues making our library that inspects dumps operat

[2018-04-10 00:41] mairaw commented on #9023
@livarcocc fair enough. Updated the issue with the new name of the command.

[2018-04-10 11:09] kasper3 opened #9035 "dotnet-install without parameters to download latest instead of older version"
## Steps to reproduce

[code]

## Expected  behavior

It downloads the latest nightly (or latest stable):

## Actual behavior

It downloads the oldest:

## Workaround

[code]

to download the latest, which is fine. But when I am running the script without any argument, I would accept to get latest or something near to latest, instead of an year old version..

[2018-04-10 11:56] vRITHNER opened #9036 "dotnet new mvc with latest cli version doesn't run"
## Steps to reproduce
install latest cli version 2.1.300-preview3-008443
dotnet new mvc --auth Individual -uld

first errors during restoration:

replace in csproj
`<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.0-preview2-30431" />`
to
`<PackageReference Include="Microsoft.AspNetCore.All" Version="2.1.0-preview2-30431" />`

dotnet restore - successfull
dotnet build - successful

[2018-04-10 12:09] vRITHNER opened #9037 "new mvc project with latest cli doesn't run"
## Steps to reproduce

- Create

-  new MVC web app from VS 15.7.0 Preview 3.0

- F5 to Debug  -> Crash

- Change Exception Settings -> Common Language Runtime Exceptions

- F5 to Debug  -> see Error:

## Expected  behavior

## Actual behavior

in:
[code]

## Environment data
`dotnet --info` output:

[2018-04-10 13:56] Doomblaster opened #9038 "dotnet pack generates wrong nuspec"
## Steps to reproduce
Create project and pack it in nuget package A with version 2.0.0.0. Create another project dependant on nuget package A and change the PackageReference Version attribute to *. Use dotnet pack and create version 3.0.0.0.

## Expected  behavior
Nuget package B to be dependant on nuget package A v2.0.0.0

## Actual behavior
Nuget package B is dependant on nuget package A v3.0.0.

[2018-04-10 14:40] pierslawson opened #9039 "Framework-Dependent Deployment not loading assemblies on linux-arm"
I original posted this in dotnet/coreclr#17438 but it was suggested it was better here.

## Steps to reproduce
On a Windows machine with .Net Core 2.1 Preview 1 installed create a console application to target a Raspberry Pi (Linux-arm) as described in [omnisharp guidelines for remote debugging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Remote-Debugging-On-Linux-Arm).  It is possible to s

[2018-04-10 16:24] livarcocc commented on #9037
Same comment as in your other issue. Pick up the latest preview for 2.1.300 available at get.dot.net.

There were some breaking changes to the System.Memory API that asp.net already reacted to and it seems you are not using those bits yet (they may not have flowed into master of the SDK yet).

[2018-04-10 16:24] #9037 closed

[2018-04-10 16:26] livarcocc commented on #9038
This issue was moved to NuGet/Home#6803

[2018-04-10 16:26] #9038 closed

[2018-04-10 16:29] livarcocc commented on #9039
I don't know about debugging, does it fail with the same error code as when you run the dll?

Also, how are you copying the FDD app to the pie? Are you copying the contents of the build output `bin/debug/netcoreapp2.1` or the contents of the publish folder `bin/debug/netcoreapp2.1/publish`? The contents of the build are not xcopyable and runnable. If you want to deploy your app you need to publish

[2018-04-10 17:06] AndyGerlicher commented on #8968
We're already in escrow for MSBuild (Visual Studio escrow bar) so I think this will need to be pushed to 15.8 time-frame. If there's strong push back we can reconsider, but given this works it doesn't seem critical for release.

[2018-04-10 17:10] pierslawson commented on #9039
My code actually resides on the RPi and the Windows machine can see it through a samba share (so I don't have to copy files around). I have tried both FDD and SCD.

For FDD:

1. I build the project using VSCode on my Windows machine
1. Open a terminal on the Raspberry Pi
1. Change directory to the `bin/Debug/netcoreapp2.1`
1. Run `sudo dotnet MyConsoleApp.dll`.

That runs fine with a straight out

[2018-04-10 17:56] livarcocc commented on #9039
Step 4 in the FDD scenario is wrong. You can't run your application like that. You need to either use dotnet run or you need to publish your application and `sudo dotnet MyConsoleApp.dll` from `bin/debug/netcoreapp2.1/publish` folder. The build output is not runnable directly, like you are trying to do.

[2018-04-10 18:03] pierslawson commented on #9039
Apologies... I just re-read your comment and saw the publish step. Running in the sub-directory does work correctly. I guess what fooled me is that running in the `bin/Debug/netcoreapp2.1` directory does work until you reference assemblies that are not part of .Net Core itself... so a Hello World application can be debugged!

[2018-04-10 18:03] #9039 closed

[2018-04-10 18:41] yizhang82 opened #9041 "dotnet new --help display usage message twice"
## Steps to reproduce

1. dotnet new --help
2. Look at the help message

## Expected  behavior

Usage message only shown once

## Actual behavior

[code]
## Environment data
`dotnet --info` output:

.NET Command Line Tools (2.1.103)

Product Information:
 Version:            2.1.103
 Commit SHA-1 hash:  60218cecb5

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: W

[2018-04-10 18:41] yizhang82 opened #9042 "dotnet pack -v crashes"
## Steps to reproduce

dotnet pack -v

## Expected  behavior

Don't crash

## Actual behavior

Crashes with:

System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index
   at System.ThrowHelper.ThrowArgumentOutOfRange_IndexException()
   at System.SZArrayHelper.get_Item[T](Int32 index)
   at System.Linq.Enumerabl

[2018-04-10 18:44] yizhang82 commented on #9042
I know the correct command is to /v:detail, etc. But crashing with such callstack isn't very helpful.

[2018-04-10 18:44] omajid commented on #9042
https://github.com/dotnet/cli/issues/8160 was another variant of the same issue.

[2018-04-10 18:50] yizhang82 opened #9043 "dotnet pack crashes with NullReferenceException with missing Nuspecfile property"
## Steps to reproduce

1. dotnet new library
2. dotnet pack
This succeeds
3. Add following section to the csproj file

[code]
4. dotnet pack

This crashes.

Adding expected   <NuspecFile>$(MSBuildThisFileDirectory)$(MSBuildProjectName).nuspec</NuspecFile> reference will give a proper error message that the .nuspec file is not found.

## Expected  behavior

Don't crash and give better diagnostic er

[2018-04-10 20:16] nguerrera commented on #9043
This issue was moved to NuGet/Home#6805

[2018-04-10 20:16] #9043 closed

[2018-04-10 20:19] nguerrera commented on #9041
This is fixed in 2.13xx, but does repro with 2.1.1xx and 2.1.2xx.

cc @mlorbetske @livarcocc Do you know which change fixed this? I'm guessing we wouldn't patch 2.1.1xx or 2.1.2xx for this, right?

[2018-04-10 20:28] nguerrera commented on #9022
"20-p2-rel-notes" is an unfortunate name for the release notes perma-link. Not high importance, but can we create a new one without a version in the link?

[2018-04-10 20:37] nguerrera commented on #9042
Duplicate of #8160

[2018-04-10 20:37] #9042 closed

[2018-04-10 20:49] wli3 commented on #8924
@yuki233 I tried but I cannot repo it.  There is no error message. And there is version property in the setttings.xml which will trigger the warning when missing. Maybe there is an old package with the same name? Or maybe the code did not flow to CLI when the test was performed.

Please reopen it if you see it again.

![image](https://user-images.githubusercontent.com/6993335/38582659-595602ee-3cc

[2018-04-10 20:49] #8924 closed

[2018-04-10 20:56] Krakean opened #9046 ".NET Core 2.0, MSBuild, RuntimeIdentifier - how to specify output directory?"
Hello.
I have this csproj for my application executable: https://pastebin.com/N60prKm3
How can I specify there output directory for files produced by RuntimeIdentifier?

A bit more details.
I have Directory.Build.props with settings for all projects within my solution like:
<BaseIntermediateOutputPath>$(MSBuildThisFileDirectory)!objs\$(MSBuildProjectName)\$(Configuration)\</BaseIntermediateOutputP

[2018-04-10 21:01] wli3 commented on #9023
It's missing doc-link. The error message really not helpful https://github.com/dotnet/cli/blob/56c10f65c71e070116ca92f55598015a7f7713c1/src/dotnet/BuiltInCommandsCatalog.cs#L151

[2018-04-10 21:15] livarcocc commented on #9041
I agree. I find it hard that this meets the bar for patching. The fix in 300 seems all right.

[2018-04-10 21:24] livarcocc commented on #9046
You can set `AppendRuntimeIdentifierToOutputPath` to `false` to turn this off. Be careful though, as it may cause your files to stomp on each other.

[2018-04-10 21:24] #9046 closed

[2018-04-10 22:01] nguerrera commented on #9022
I realize that we can't just update a single perma-link for release notes unless we have a page with release notes for all versions.

[2018-04-10 22:40] Krakean commented on #9046
@livarcocc then why not just add ability to msbuild to specify separate runtime output dir path thus not have problems with files "stomp on each other"? Obvious thing, isn't?

[2018-04-10 22:50] pierslawson commented on #9039
It appears the instructions I followed at the OmniSharp/omnisharp-vscode repository were wrong:

[Remote Debugging On Linux Arm](https://github.com/OmniSharp/omnisharp-vscode/wiki/Remote-Debugging-On-Linux-Arm#build-and-deploy)

For FDD it does not say to use dotnet publish or run using the DLL in the publish sub-directory. I'll raise an issue there.

[2018-04-10 23:05] mlorbetske commented on #9041
This would be addressed by #9029 and #9030, these changes didn't flow to 2.1.1xx and 2.1.2xx via product construction.

[2018-04-10 23:09] D3m0nKingx opened #9048 "***[ URGENT ]*** Missing Package Dependencies"
## Steps to reproduce
[code]
or
[code]

## Expected  behavior
Installs dotnet sdk and relevant deps

## Actual behavior
Linux rejects installation of packages due to missing dependencies:

 First Method ( from  http://apt-mo.trafficmanager.net/repos/dotnet/ xenial main )
[code]

 Second Method ( from  https://packages.microsoft.com/repos/microsoft-ubuntu-xenial-prod xenial main )
[code]

## Enviro

[2018-04-10 23:33] livarcocc commented on #9046
I believe MSBuild already has that capability. Just condition your output path based on your RIDs.

[2018-04-10 23:34] livarcocc commented on #9039
Thanks for following up and filling an issue to update the instructions.

[2018-04-10 23:34] #9041 closed

[2018-04-10 23:38] livarcocc commented on #9048
We have stopped publishing our packages to the daily feed because these dependencies were missing. I recommend installing the SDK in your machine through the install script or installing one of the officially released SDKs (not nightlies), like 2.1.300-preview2-008530, that just shipped today.

Otherwise, this is expected and the reason why we are no longer publishing these nightly packages.

[2018-04-10 23:38] #9048 closed

[2018-04-10 23:49] D3m0nKingx commented on #9048
@livarcocc Hi thank you for the quick reply, if you don't mind, could you please link me to the script or official download for the sdk .deb or tar, thanks !

[2018-04-10 23:50] D3m0nKingx commented on #9048
I'm not finding the version you indicated

[2018-04-10 23:53] livarcocc commented on #9048
Apparently the links haven't been updated for preview2 yet, however, preview1 is here: https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-preview1.

More information on the install scripts here: https://github.com/dotnet/cli/blob/master/Documentation/specs/cli-installation-scenarios.md#installation-script.

[2018-04-10 23:54] Krakean commented on #9046
@livarcocc can you please point me to this capability? Didn't found in msbuild docs.
Plus, can't understand how can I condition my output path basing on my RIDs, because rids output path cannot be controlled without overwrite content that is already produced in output path.

[2018-04-11 00:08] D3m0nKingx commented on #9048
[code]

Seems I'm back to where I started :)

And for the script ([dotnet-install.sh](https://dot.net/v1/dotnet-install.sh)):

[code]
The version installed by the script is unfeasible for me as the project I'm working on is geared for 2.0:
[code]
;
If there's a better solution, please help. I'm unable to work on the project(s) due to this :(

[2018-04-11 00:13] livarcocc commented on #9048
You can specify the version the scripts installs using the --version parameter.

@leecow as to why apt-get is failing to install above.

[2018-04-11 02:12] yuki233 commented on #8924
@wli3  This warming message is still shown when run "dotnet tool install -g doTNetsay". Please help to confirm if it is expected.
![image](https://user-images.githubusercontent.com/1578239/38592812-d00bbb3a-3d70-11e8-8081-2a4d466bff29.png)

[2018-04-11 12:35] janbaltus commented on #8964
Hi Nick,
from our point of view there is not much we can do.
Double quotes are present in the string "已成功安装工具“{1}”（版本“{2}”）。" and first pair is visible with no issue.
Can this issue be tested on more langauges? Especially CHS,CHT,KOR,JPN and RUS?

[2018-04-11 13:09] nuzelac opened #9050 "Dotnet publish ends up with appsettings.Development.json from wrong project"
We have two .NET Core API projects in our solution. Project B has a project reference on Project A. Both contain their own `appsettings.*.json` files.

If we run `dotnet publish` for Project B two times, on the 1st run everything is fine, but on the 2nd run we end up with `appsettings.Development.json` file from the Project A, which is really strange.

We do not clear bin/ or obj/ folders in betwe

[2018-04-11 13:33] nuzelac commented on #9050
Actually this seems non-deterministic so you might not reproduce the issue...

[2018-04-11 15:17] kasper3 commented on #8964
In a shell called Hyper (https://hyper.is) on windows 10, using PowerShell (inside hyper) with chcp 430, I get

![image](https://user-images.githubusercontent.com/33230602/38625721-c4f9f07a-3db3-11e8-914d-f7cb42935008.png)

In cmder with `set LANG=C.UTF-8`, it looks correct

![image](https://user-images.githubusercontent.com/33230602/38625858-0c26c5c2-3db4-11e8-8127-428433f4ded2.png)

with cmd and

[2018-04-11 15:45] eerhardt opened #9051 "CLI no longer gets auto PRs for core-setup in the master branch"
## Steps to reproduce
Look at the auto PRs in dotnet/cli master branch.

## Expected  behavior
There should be a recent one for the core-setup repo.

## Actual behavior
There is only a PR to update Roslyn.

## Notes

I believe https://github.com/dotnet/cli/pull/8940 broke this.

[2018-04-11 16:27] Petermarcu opened #9052 "Dotnet restore is looking for tools at dot net sdk folder rather than visual studio folder"
@sam-adh commented on [Wed Apr 04 2018](https://github.com/dotnet/core/issues/1407)

# Issue Title

Dotnet restore is looking tools at dot net sdk folder rather than visual studio folder

# General

We had an issue while creating VS 2017 with .Net Core 1.*(I installed .Net Core 1.1.8 ). While triggering the dotnet restore, it failed as it was searching the components like wix, azure etc in dotnet

[2018-04-11 17:06] mmitche commented on #9051
Should be fixed by https://github.com/dotnet/versions/pull/288

[2018-04-11 17:16] wli3 commented on #8924
Yes, this is expected. dotnetsay haven't been updated yet. https://github.com/dotnet/core/issues/1382

[2018-04-11 19:09] livarcocc commented on #9050
This issue was moved to aspnet/websdk#327

[2018-04-11 19:09] #9050 closed

[2018-04-11 19:11] livarcocc commented on #9051
Yep. Fixed. Thanks @mmitche.

We got a pr: https://github.com/dotnet/cli/pull/9044.

[2018-04-11 19:11] #9051 closed

[2018-04-11 19:13] livarcocc commented on #9052
This is the issue we were discussing on Monday about the regression on restore to handle projects we can't find the imports for. Moving to nuget.

[2018-04-11 19:13] livarcocc commented on #9052
This issue was moved to NuGet/Home#6812

[2018-04-11 19:13] #9052 closed

[2018-04-11 19:15] livarcocc commented on #9023
We should add this for dotnet builserver as well. cc @peterhuene

[2018-04-11 19:29] mairaw commented on #9023
Ok, links created.

[2018-04-11 19:34] peterhuene commented on #9023
Thanks, @mairaw!

[2018-04-11 21:04] #9007 closed

[2018-04-11 22:24] ckpearson commented on #6680
Only workaround I've found for now is to temporarily comment out the offending source and run the install.

Obviously the desired behaviour should be that if any feed fails it moves on and tries the others, as I shouldn't need to specify the feed credentials unless I'm absolutely looking for a package in that feed.

[2018-04-11 22:35] wli3 commented on #8964
I tried it on dev test lab _Windows-10-Enterprise-RS3-ZH-CN_ image. No repo in full ZH-CN image. Please reopen if you think more need to be addressed

![image](https://user-images.githubusercontent.com/6993335/38646595-7306162e-3d9d-11e8-919f-8f7ab38e7526.png)

[2018-04-11 22:35] #8964 closed

[2018-04-12 01:29] sebastienros opened #9056 "dotnet-install.sh resulting in empty folder"
As shown on these commands, I install two versions of the SDK, which are returning successfully.
It's running inside the 2.0-sdk docker image.

[code]

But the folder for the second command is actually empty:

[code]

I verified the disk space and there is plenty.
The script is downloaded directly from ` https://raw.githubusercontent.com/dotnet/cli/master/scripts/obtain/dotnet-install.sh`
It happe

[2018-04-12 01:42] sebastienros commented on #9056
And now it's working ...
Maybe there was a temporary issue with the file download, may I suggest to add some validation before the "Installation finished successfully." is displayed, because as you can see it was definitely not complete.

[2018-04-12 11:17] kasper3 opened #9060 "Template for "dotnet new dotnettool""
It would be really nice to have `dotnet new dotnettool` template for ease of development.

Current experience:

[code]

gives:

1. What does that mean and what is it trying to tell us?
2. How to fix it? We are investigating it over at: https://github.com/mganss/XmlSchemaClassGenerator/issues/56

Does that mean we need to modify https://github.com/mganss/XmlSchemaClassGenerator/blob/7e1889fb10bbb65

[2018-04-12 11:52] dasMulli commented on #9060
The idea is that you set

[code]

in the csproj file to make it work with `dotnet tool install`.

There is also
[code]
in case you want to use a different executable name than the project being packed.

The error message about the package type is probably a result of the inner workings of NuGet here..

@KathleenDollard @wli3 I don't think this error message should be displayed. it is technically c

[2018-04-12 15:01] dasMulli commented on #9060
This is different than the `DotNetCliToolReference`. A "global tool" as per 2.1 tooling doesn't work as a  `DotNetCliToolReference` and the other way around.
However you can publish a 2.0 app as a global tool using 2.1 tooling (by targeting `netcoreapp2.0` in the application)

[2018-04-12 15:01] kasper3 commented on #9060
@xaviergxf, I think we need to use dotnet 2.1 to `pack`: `cd myproj && dotnet2.1preview.exe pack <other-args>`. Then it can be installed using dotnet 2.1 as `dotnet tool install yourtool` and `<DotNetCliToolReference Include="dotnet-mytool" Version="1.2.3" />` on both, dotnet core 2.0 (and 2.0 cli) as well as dotnet core 2.1.

[2018-04-12 15:11] xaviergxf commented on #9060
This means i need to install vs 15.7?

[2018-04-12 15:32] kasper3 commented on #9060
I think .NET Core 2.1 release candidate will be made available next week or so.

Meanwhile, I am using nightly build only on command line. In win10 powershell:

[code]

[2018-04-12 15:42] BillHiebert opened #9061 "Occasionally seeing warnings or errors building Asp.Net Core 2.1 projects"
## Steps to reproduce

- From VS, create a new ASP.NET Core 2.1 Empty Web project
- Build

## Expected  behavior
Build succeeds

## Actual behavior
Occasionally, the build will succeed but show the following warning:

Could not write state file "obj\Debug\netcoreapp1.1\App3.csprojAssemblyReference.cache". The process cannot access the file 'D:\dd\WTE\Rel\TestResults\Deploy_asplab 2018-04-11 14_56_

[2018-04-12 16:13] kasper3 opened #9062 "Unify names of argument --source-feed vs -s,--source"
## Steps to reproduce

Try:

[code]

then:

[code]

## Expected  behavior

`dotnet tool install` should have `-s, --source` switch instead of `--source-feed` without (unreserved) `-s` alias

## Actual behavior

`dotnet nuget push` has `-s, --source`, and `dotnet tool install` has `--source-feed`, hence the disparity.

## Environment data
`dotnet --info` output:

[code]

[2018-04-12 17:32] wli3 commented on #9060
@xaviergxf @kasper3 yes, you need to target 2.1. Since only 2.1.3xx SDK can consume global tools.(no dotnet too install on lower version)

The most easy way to pack tool is by adding PackAsTool and run dotnet pack. There is a "spec" that you can use to create your own tool by "manually" put right asset in right folder structure. There is no official document yet. Meanwhile you can reference tests(

[2018-04-12 18:19] sebastienros commented on #8983
Interestingly the end-result is the same as this issues, without the error message.
https://github.com/dotnet/cli/issues/9056

[2018-04-12 18:20] sebastienros commented on #8983
And I did it after `release/2.1.3xx` was merged to `master`

[2018-04-12 20:31] ppumkin commented on #6397
Which version of NetCore is this fix coming out with? And what is a temp work around.. i am on 2.1.104 ? Getting issue on Ubuntu system

[2018-04-12 20:36] fbarletta commented on #6397
@ppumkin The workaround is to not use a . in your naming at all. When you publish, it'll correct itself.

I'm surprised this is still open.

[2018-04-12 21:21] lunim opened #9064 "Improve dotnet tool install/update experience"
For the purposes of build automation, it would be helpful for 'dotnet tool install' to either update or return a positive exit code if the tool is already installed.  Likewise, 'dotnet tool update' might install the tool if not already installed.

We are basically looking for a clean way to ensure a global tool is installed and updated at runtime, preferably with a single command.  It seems most e

[2018-04-13 01:56] rolandh commented on #2859
I am now having this problem when I didn't previously. It only occurs in debug mode and not in release mode. Is anyone about to assist? What information do you need from me to help resolve this?

[2018-04-13 02:28] rolandh commented on #5880
This still happens with VS2017 5.6 and csproj

[2018-04-13 09:33] RobinHSanner commented on #4710
This is the only place I've been able to find this information.  It would be nice if it was part of the documentation.

[2018-04-13 14:27] KathleenDollard commented on #9062
@wli3 We are currently additive, correct?

Didn't we find another CLI command that used --source-feed that pushed us over on this issue?

[2018-04-13 14:38] kasper3 commented on #9062
@KathleenDollard, `dotnet tool install` and `dotnet tool update` are the two commands using this option. If it is possible to change the behavior of `dotnet nuget push --source` to be additive as well, and then align the names of the options (with `-s` alias), please consider it. :)

[2018-04-13 15:17] yuriipitomets commented on #5672
So what it is the decision on that?

[2018-04-13 15:54] KathleenDollard commented on #9060
@kasper3
We made a decision to path through NuGet messages (with a little clean up regarding how we use them).

This ensures we aren't hiding important information for users to debug common problems, like version mismatches and mis-configured feeds.

We also felt that certain messages, like the one you got, should appear and be resolved by the tool author when they test their tool. Thus, the autho

[2018-04-13 17:14] wli3 commented on #9062
@KathleenDollard confirm, it is  pretty much the same as @kasper3 said

use `source-feed`
dotnet tool install
dotnet tool update

use `source`
dotnet add package
dotnet nuget
dotnet restore

[2018-04-13 18:51] kasper3 commented on #9060
@wli3, this was originally a feature request (first line): It would be really nice to have `dotnet new dotnettool` template for ease of development. :)

@KathleenDollard, thanks for sharing the info on usage and version compatibility. We don't currently have users, we were rehearsing the build with 2.1 preview builds. Once RTM is out, we will rebuild the product. However, the tool which was build

[2018-04-13 19:11] kasper3 commented on #9060
Moved to https://github.com/dotnet/templating/issues/1511.

[2018-04-13 19:11] #9060 closed

[2018-04-13 20:34] redknightlois opened #9066 "dotnet.exe hangs when publishing"
## Steps to reproduce
Execute `dotnet publish -c Release -r win10-x64` on the `2.1.300-preview3-008433` SDK.

## Expected  behavior
Generation of the .exe file in the proper publish directory.

## Actual behavior

[code]
And hangs there.

## Environment data
`dotnet --info` output:

[code]

[2018-04-13 20:53] redknightlois commented on #9066
Doesn't happen in the daily build `2.1.300-preview3-008620`

[2018-04-13 21:53] vkvenkat opened #9068 "Unable to build apps with the latest daily build"
## Steps to reproduce

1. Install .NET Core SDK 2.1.300-preview3-008627 from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.exe
2. Verify version `dotnet --version`
3. Create new app `dotnet new console -o helloworld`
4. `cd helloworld`
5. Build `dotnet build -c Release`

## Expected  behavior
Build successfully completed

## Actual behavior
[code]

## Environm

[2018-04-13 23:12] KathleenDollard commented on #9062
OK, I'm still concerned

- source-feed is additive, source on the other features is not
- almost everyone was confused by just "source" and assumed it was a "run from source" feature that would be sensible in this context.

So, don't change it yet, but I'd like more opinions.

[2018-04-13 23:53] livarcocc commented on #9061
@nguerrera

[2018-04-13 23:59] livarcocc commented on #9064
If this is for CI, should you be installing the tool globally?

For CI, I would imagine you would want to use the --tool-path option to install the tool in a location under your repo, that the CI machine could then clean up after the build has run. This way, you would have complete control over which global tools are being used by your build.

[2018-04-13 23:59] livarcocc commented on #9064
cc @KathleenDollard @peterhuene @wli3

[2018-04-14 00:03] livarcocc commented on #9066
This was an issue in MSBuild when it was starting node processes and msbuild was in a path with an empty space in its name, like `c:\Program Files\dotnet\`. It has since then been fixed, which is why it does not repro in the higher SDK build version.

[2018-04-14 00:03] #9066 closed

[2018-04-14 00:05] livarcocc commented on #9068
This is expected. Because you are using a nightly build of the CLI, it is pointing to packages that are not available in nuget.org and therefore you need to add a nuget feed so that we can discover the necessary packages.

If you don't need to use a nightly build (you are not trying to pick up a fix or feature only there), I would suggest using the latest preview build of 2.1.300 available at get.

[2018-04-14 00:05] #9068 closed

[2018-04-14 09:34] gwalschl commented on #4783
I have just experienced exactly what @alexellis just described and I'm using the new SDK format project on .NET framework targeted code.  I have a project with a class library.  Built fine repeatedly.  Added another project that created a console app that referenced the class library, got duplicate assembly info errors.  Removed the executable project, built just fine again.  There are still issue

[2018-04-14 17:32] nguerrera commented on #4783
@gwalschl please open a new issue with the precise steps you took to get to the error.

[2018-04-14 23:48] replaysMike commented on #7901
I too have this issue. I think it was caused either when uninstalling preview-2 and installing preview-3. I no longer have a `2.1.0-preview2-final` directory in C:\Program Files\dotnet only `2.1.0-preview1-26216-03` and launch using IIS Express anymore because of this issue.

[2018-04-15 17:46] chriskrycho commented on #533
I'd like to make a strong recommendation for a solution that is definitely more work up front but which would fairly nicely obviate most of the concerns around side by side installations, trying to manage things on the homebrew (and chocolatey) front, etc.

As has been mentioned a number of times in this thread, other language communities tend to *support* installing specific versions via homebrew

[2018-04-15 23:45] wli3 commented on #7362
Several version of the SDK will share the same fallback folder. We need to implement/use ref counting on installer in order to delete the folder properly

[2018-04-16 05:13] davkean commented on #7610
As a heads up, more improvements have been made in Preview 2 - https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/.

I'll let the graph speak for itself:

![image](https://user-images.githubusercontent.com/1103906/38791029-85ecfaac-4188-11e8-99c5-6d52548b6774.png)

[2018-04-16 05:15] davkean commented on #7590
While we've closed this issue, thought I'd update thread on the perf progress, we've more even more improvements in Preview 2 - https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/:

![image](https://user-images.githubusercontent.com/1103906/38791029-85ecfaac-4188-11e8-99c5-6d52548b6774.png)

[2018-04-16 12:55] seesharper opened #9072 "dotnet publish -c whatever"
## Steps to reproduce

[code]
## Expected  behavior

Some kind of error message regarding invalid configuration

## Actual behavior

Published with the `whatever` configuration whatever that might be, Release or Debug ?

[code]
## Environment data
`dotnet --info` output:

[code]

[2018-04-16 15:50] sivakspt commented on #5144
I have unloaded the project and reloaded the project it work from me.

[2018-04-16 17:07] livarcocc commented on #9072
I believe this is by design. There is no fixed set of possible values for Configuration, as you can define your own in your project files and build.

[2018-04-16 17:07] #9072 closed

[2018-04-16 17:28] spboyer opened #9073 "Fatal Error in global tools SDK version 2.1.300-preview2-008530"
## Steps to reproduce
* Create dotnet global tool `dotnet new global-tool -n my-tool --command-name go`
* `dotnet pack --ouput ./`
* install `dotnet tool install -g my-tool --source ./`
* run `go`

Error in latest SDK (see `--version` below)
**A fatal error was encountered. The library 'hostpolicy.dll' required to execute the application was not found in 'C:\Program Files\dotnet'.**

same on macOS

[2018-04-16 17:43] wli3 commented on #8563
@KathleenDollard I cannot think up more.

[2018-04-16 17:47] livarcocc commented on #9073
@spboyer I am not familiar with this global-tool template. Can you share its contents? Also, in preview2, if you are not using a default location (one set through a native installer), you need to set DOTNET_ROOT, pointing to the root of your dotnet installation. This is so that the tool shim can find a shared framework to run against.

[2018-04-16 17:59] KathleenDollard opened #9075 "Change name of buildserver command to build-server"
## Expected  behavior

`dotnet build-server shutdown`

## Actual behavior

`dotnet buildserver shutdown`

(Sorry I missed this earlier :-(

[2018-04-16 18:01] spboyer commented on #9073
This is the template from @natemcmaster - `dotnet new --install "McMaster.DotNet.GlobalTool.Templates::2.1.300-preview1"`

I did't purposely set an installation location outside of the default for dotnet (clicked next, next, next :-))

[2018-04-16 18:14] andmos commented on #9072
So let's say we run `dotnet publish -c whatever`, the `bin/whatever/netcoreapp2.1/publish` DLL's will be Debug, since there is no `whatever` configuration? I'm also curious about uppercase in `Release` vs `release`, any difference there?

[2018-04-16 18:24] dasMulli commented on #9072
msbuild string comparisons are case insensitive by default so the defaults should apply to Debug/debug/DeBuG in any case..

cc @dsplaisted maybe.. since VS 15.3+ introduced the `<Configurations>` property, I was wondering if it would be interesting to issue a warning if a project is built/published with a `$(Configuration)` that is not listed in `$(Configurations)`. Not sure what the tooling suppo

[2018-04-16 18:28] andmos commented on #9072
Thanks for the answer. We stumbled upon this after a typo, as you might guess 😆

[2018-04-16 18:38] petermorlion commented on #8722
I think you want to use the `--no-incremental` option, i.e.:

[code]

This does, however, mean a full rebuild.

[2018-04-16 18:39] livarcocc commented on #9073
@wli3 @peterhuene can you guys check the template above and make sure it is correct for preview2?

[2018-04-16 18:52] johnbeisner commented on #8929
@mmitche
RHEL 7.2 uses the portable Linux tarball: dotnet-sdk-2.1.300-preview2-008533-linux-x64.tar.gz
Moving forward, RHEL 7.2 will use a non-distro-specific RPM installer: dotnet-sdk-2.1.300-preview2-008533-x64.rpm

IMHO; the non-distro-specific RPM installer link should move into 'Linux x64' below the non-distro-specific DEB installer link - 'RHEL 7.2' should be removed.

[2018-04-16 20:02] wli3 commented on #9073
It is not correct for preview 2 anymore. It is targeting  netcoreapp2.0 which does not have new AppHost support(able to find runtime on programfiles).

[2018-04-16 20:07] KathleenDollard commented on #8563
How about:

[code]

[2018-04-16 20:09] natemcmaster commented on #9073
So, are you saying that global tools don't work for console apps that target netcoreapp2.0?
If so, that seems like either a bug or a serious design flaw.

FYI the templates should produce a project that effectively looks like this.

[code]

[2018-04-16 20:15] mmitche commented on #8929
@johnbeisner Okay thanks.

[2018-04-16 20:28] peterhuene commented on #8563
LGTM.

[2018-04-16 20:28] wli3 commented on #8563
@KathleenDollard we have a different error message that suggest `--version` when nuge failed to restore, and it has more narrow context. I will change it to
[code]

Also since we have `Tool '{0}' failed to install.` for existing one. I will replace `The installation failed` with that

[2018-04-16 21:09] natemcmaster commented on #9073
I played with netcoreapp2.0, and it seems this is completely busted. I'm re-opening as it seems like either:

 - the SDK should fail when TargetFramework != netcoreapp2.1 and PackAsTool == true
 - fix global tools so they work for all versions of netcoreapp.

**Repro:**
[code]

**Error**
[code]

[2018-04-16 21:45] livarcocc commented on #5918
Closing this issue as we have done a series of perf improvements for SDK 2.1.300 and while we will continue improving on it, we are not planning any other changes in this area for this release.

[2018-04-16 21:45] #5918 closed

[2018-04-16 21:48] livarcocc commented on #5737
At this point, we probably missed the boat for 2.1.300, as I don't think this would meet the bar. Moving it out.

[2018-04-16 22:08] mairaw commented on #5737
Sounds good @livarcocc. I've been super swamped so this didn't make the cut for my priority list.

[2018-04-16 22:33] livarcocc commented on #9073
I think an error on Pack when PackAsTool is set and TFM is less than netcoreapp2.1 seems reasonable. Your second option is not really feasible as we depend on the framework exe feature built in the runtime in netcoreapp2.1.

[2018-04-16 22:33] livarcocc commented on #9073
@wli3 @peterhuene can you take a look?

[2018-04-16 22:37] peterhuene commented on #9073
I think an error on pack is reasonable as well.

[2018-04-16 22:40] wli3 commented on #9073
@livarcocc I can add check on Pack to prevent TFM is less than netcoreapp2.1 . So i will target this work for release 2.1.3xx.

@KathleenDollard I think we have a communication issue on the breaking of netcoreapp2.0.

[2018-04-16 22:40] wli3 opened #9082 "Error on PackAsTool when target framework is lower than netcoreapp2.1"
https://github.com/dotnet/cli/issues/9073#issuecomment-381771163

[2018-04-16 22:55] #9082 closed

[2018-04-16 22:55] wli3 commented on #9073
So the action item is to add warning for PackAsTool

[2018-04-16 23:57] KathleenDollard commented on #9073
I agree that we should add this warning on pack

[2018-04-17 01:09] BlitzkriegSoftware commented on #1995
I have the same issue as of today. .NET Core 2.0 project XUNIT test project.

[2018-04-17 01:11] shanselman opened #9083 "Microsoft.NET.Build.Tasks.ResolvePackageAssets" task could not be loaded - 2.1.300-preview2-008530"
## Steps to reproduce

I upgraded my .NET 2.1 Preview 1 site to Preview 2 and I'm unable to load the Test Project in VSCode/OmniSharp running code/dotnet/omnisharp under **2.1.300-preview2-008530**

[code]

## Environment data
`dotnet --info` output:

[code]

[omnisharp.log](https://github.com/dotnet/cli/files/1917781/omnisharp.log)

[2018-04-17 04:15] davkean commented on #5918
As a heads up, more improvements have been made in Preview 2 - https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/.

![image](https://user-images.githubusercontent.com/1103906/38791029-85ecfaac-4188-11e8-99c5-6d52548b6774.png)

[2018-04-17 06:09] etinin commented on #7426
getting this with 2.1.0-preview2-26406-04, both on Linux and on Windows

[2018-04-17 06:54] peterhuene opened #9084 "Razor build server shutdown should use pid files to discover running servers."
See https://github.com/aspnet/Razor/issues/2248 which is implementing support for writing a pid file `dotnet` can use to discover running Razor build servers.

## Steps to reproduce
1. `dotnet buildserver shutdown`

## Expected  behavior

Expected running Razor servers to shut down.  `dotnet` should use the pid file created by the Razor server to issue a shut down command, without relying on a Raz

[2018-04-17 07:27] kasper3 opened #9085 "Prerelease option in GitHub releases"
<img width="30%" src="https://user-images.githubusercontent.com/33230602/38854373-ea235cc8-4228-11e8-9967-5306ba868ef9.png" />

This helps downstream in a build automation etc. when using GitHub APIs. For example currently `v2.1.300-preview2-008530` is not showing up in https://api.github.com/repos/dotnet/cli/releases with `"prerelease": true`, but only showing up as a tag https://api.github.com/r

[2018-04-17 08:45] xaviergxf commented on #7290
Any workarounds before the release of 2.1?

[2018-04-17 12:15] davidparker commented on #8981
the issue here is that the cli packages are preview1, no preview2 available yet.   this causes other issues especially with the built in dependency on  Json.net  that falls back when using preview1 references.    This kinda issue was spotted out by the CLI team when debugging another issue I was having and also getting no detailed error messages.   I think if the CLI can be updated, then we can st

[2018-04-17 14:44] seesharper commented on #9073
How come this worked in preview 1?

The following package installs and runs fine on preview 1

https://www.nuget.org/packages/dotnet-script/

[2018-04-17 14:48] filipw commented on #9073
I would like to +1 this - this issue has broken https://github.com/filipw/dotnet-script/ as well, which is targeting `netcoreapp2.0` as well.

With preview1, it was generating `dotnet-script.exe.config` in the `.dotnet/tools` folder upon installation.
Now with preview2, a `dotnet-script.startupconfig.json` is being generated.

It seems that the problem is with that `appRoot` path found in that sta

[2018-04-17 15:04] CumpsD commented on #8806
I have the same error, but on Windows Subsystem Linux, Bash on Ubuntu on Windows

`/usr/local/dotnet/sdk/2.1.101/Sdks/Microsoft.NET.Sdk/build/Microsoft.PackageDependencyResolution.targets(172,5): error MSB4018: NuGet.Packaging.Core.PackagingException: Unable to find fallback package folder 'C:\Program Files\dotnet\sdk\NuGetFallbackFolder'. [/mnt/d/code/bb-aiv/municipality-registry/src/Municipality

[2018-04-17 15:31] davidparker commented on #8981
So i had this issue, and realised that there seems to be some sort of bug with how its working nuget.    I am on mac.    sdk is /usr/share/dotnet/sdk/  version     back a folder contains nuget packages.    however if you clear out nuget --all    the packages are searched for in /user/user1/.nuget/packages    and no restore is done on build for SDK dependencies, and it does not look in sdk folder e

[2018-04-17 15:37] KathleenDollard commented on #8981
@davidparker

Global Tools do not contain analyzers or packages, and don't install to the nuget package folder.

@ajcvickers do you know what is going on here? Is it a missing reference in the project file?

[2018-04-17 15:42] davidparker commented on #8981
Yeah that is expected.    but a simple

dotnet new razor -au Individual      gets nothing on aspnet-codegenerator   or EF  etc.    so I cleared all nuget.    had to re-install SDK.    ran build  and then it showed all the references that error, but dont show up as its hidden.     it then shows, like above that it looks in project packages.     Like I said,  I thought it would be worth a mention, a

[2018-04-17 16:39] livarcocc commented on #9023
@peterhuene or @wli3 can we quickly take care of this issue, given that the links have been created?

[2018-04-17 16:39] livarcocc commented on #8929
@johnbeisner is there an expected fix here or is the issue addressed?

[2018-04-17 16:41] leecow commented on #9085
Yep, sorry, I just missed publishing the CLI release. Done now.

[2018-04-17 16:41] #9085 closed

[2018-04-17 16:50] spboyer commented on #9073
@KathleenDollard if you target netcoreapp2.1 and recompile, it works.

[2018-04-17 17:46] wli3 commented on #9023
I had one already

[2018-04-17 17:47] wli3 commented on #9023
@KathleenDollard you should have the control of aka.ms/dotnet-build-server. I created yesterday when i was working on adding it

[2018-04-17 17:49] wli3 commented on #9023
@livarcocc the PR is out. I am writing the email to shiproom

[2018-04-17 17:56] mairaw commented on #9023
Ok, deleted the old dotnet-buildserver then. @wli3 please add me as an additional owner so I can update the link once the docs are out. Thanks!

[2018-04-17 18:38] filipw commented on #9073
if you target netcoreapp2.1 and recompile, it works.
but if you target netcoreapp2.0 and recompile (using the new SDK), it doesn't work.

Not every tool can afford to retarget itself into netcoreapp2.1 straight away, as there could be other considerations and dependencies.
I think it would be a shame if global tools were only allowed if one targets netcoreapp2.1, which seems to be the case now.

[2018-04-17 18:41] livarcocc commented on #9073
That's the plan. For global tools, you will need to target netcoreapp2.1.

Can you share more details on what are the considerations and dependencies that would block you from moving your global tool (the first version should have been out with preview1 only) to netcoreapp2.1. netcoreapp2.1 should be able to reference anything that netcoreapp2.0 did. So, dependencies should not be a problem.

[2018-04-17 18:50] filipw commented on #9073
In the case of dotnet-script project, it is a C# script runner, and it compiles your scripts by combining your own script-level references and some implicit references inherited from the runner itself. Long story short, if the script wants to be executed as `netcoreapp2.0` it cannot be fed the implicit inherited dependencies from the host runner which is built against `netcoreapp2.1`.

I am sure I

[2018-04-17 19:53] nguerrera commented on #9061
This issue was moved to dotnet/sdk#2149

[2018-04-17 19:53] #9061 closed

[2018-04-17 20:07] wli3 commented on #9073
It is possible. If you follow the convention tools/TFM/RID/shims/SHIM-RID
you can reference the test project https://github.com/dotnet/cli/commit/b0ee5db411a7c257757b6c70e0b9ae0ceb58ed5f

Your own shim will be used

However, you need to cover shims for every different OSs you support(rid `win` and `unix`). Also, you need to pre compute the dll path on consumer's machine. Which is `.store/$(Package

[2018-04-17 20:13] rchrismon opened #9087 "Error with Resharper build: The SDK 'Microsoft.NET.Sdk.Web' specified could not be found."
## Steps to reproduce
Create ASP.NET Core Web Application, Web Application (Model-View-Controller)
Using MySQL database, imported MySQL Framework Core DLLs
    MySql.Data 8.0.10-rc
    MySql.Data.Entity 7.0.7-m61
    MySql.Data.EntityFrameworkCore 8.0.10-rc
Other pretty much standard DLLs for building a .netcore 2.0 web-app.
Build solution

## Expected  behavior
Clean build

## Actual behavior
Err

[2018-04-17 20:15] livarcocc commented on #9087
Does this repro if you build through the command line using full framework msbuild? Just open a developer prompt and run msbuild on your solution.

@nguerrera since this seems like a resolver issue.

[2018-04-17 20:26] nguerrera commented on #9087
The project opens in VS, but does not build? That is not the typical case for that error message.

[2018-04-17 20:26] livarcocc commented on #9083
That's correct. Multiple SDKs in the same build process is not supported. I wonder if we could somehow detect this and give a better error message.

@rchande so, does the csharp extension evaluates every msbuild project separately but in the same process? I imagine so, similarly to what VS does for its own design-time builds.

It works when building from the command line because in that case, the

[2018-04-17 20:27] livarcocc commented on #9083
also cc @nguerrera since this is the resolver.

[2018-04-17 20:32] rchande commented on #9083
@livarcocc Yes, that's right. We figure out the set of project files and evaluate them all in the same process.

[2018-04-17 20:44] filipw commented on #9073
thanks a lot, looks promising - we will have to explore this.

On a related note - if a `netcoreapp2.0` based tool won't work anymore, what is the purpose of the framework option during the tool installation?
For example, I can invoke the following: `dotnet tool install dotnet-script -g -f netcoreapp2.0`.
This generates the assets file relevant for .NET Core 2.0, but obviously doesn't work.

Is th

[2018-04-17 21:07] rchrismon commented on #9087
Yes, the project opens but does not build. In response to livarcocc, dotnet build completes successfully, but neither dotnet run, nor dotnet myProject.dll will instantiate our web-app landing page. Looks like a 404 error.

Thanks.

[2018-04-17 21:08] nguerrera commented on #9087
What do you get when you run `msbuild` instead of `dotnet build`?

[2018-04-17 21:26] abpiskunov commented on #8622
I tried the repro solution on 15.7 P3 and it was debugging fine with IIS and Chrome. I don't have Resharper though. Was anyone else able to repro it on and VS build?

[2018-04-17 21:55] wli3 commented on #9073
@filipw more importantly it is to fit dotnet core TFM model. And currently it is for future proof, to have an option for multi target 2.1 and next rumtime major bump --a breaking runtime version will cause existing 2.1 build fail to run. But producer can multi target both TFM to meet all audience

[2018-04-17 22:03] livarcocc commented on #8779
@KathleenDollard Can we close this issue now?

[2018-04-17 22:27] livarcocc commented on #9087
What are the contents of `c:\Program Files\dotnet\sdk\2.1.200-preview-007517\Sdks`? Do you have a Microsoft.NET.Sdk.Web folder there? And what are the contents of that folder?

[2018-04-17 22:40] abpiskunov commented on #8622
@LazerFX could you confirm something: does it work if you run (not debug) the project via Ctrl+F5? Also, since it only reproed so far on your machine, could you try to get fusion log to see what exactly happens during Jetbrains.Annotation resolution? If it was restored and exists on disk, i don't see how it could not be found, unless some mismatching runtime subfolder is used form the package...

[2018-04-17 23:58] kasper3 commented on #8998
@BruceForstall, could you mention someone who may be able help bringing up ARM32 crossgen? aarch64 changes are in.

[2018-04-18 00:25] BruceForstall commented on #8998
also, @RussKeldorph

[2018-04-18 00:43] RussKeldorph commented on #8998
@Petermarcu Has anybody already figured out how the "cross" crosstools will flow between repos?  I'd assume coreclr can continue to maintain a private/sloppy package interface and everybody else consumes via core-setup, but I haven't thought it through.

[2018-04-18 00:58] sdmaclea commented on #8998
Right now the crosscomponent x86_arm & x64_arm64 tools are being published with core-setup runtime

[2018-04-18 01:27] RussKeldorph commented on #8998
@sdmaclea Ok, sorry, I missed the time difference between you opening this issue and @kasper3's question.  Sounds like this is mostly settled.

[2018-04-18 01:29] sdmaclea commented on #8998
The remaining work is using a x86 docker image to call crossgen for arm in cli

[2018-04-18 01:30] sdmaclea commented on #8998
Editted the title because the arm64 crossgen is merged in cli master branch

[2018-04-18 02:32] mrhocuong commented on #6561
I'm not sure you have the same problem like me.
I have a .net core project are run on Windows but when I try to run the project on macOs I got the error message "error MSB3552: Resource file "**/*.resx" cannot be found".

In my project, I have a config to store the log files in the folder

`"WriteTo": [
      {
        "Name": "RollingFileAlternate",
        "Args": {
          "logDirectory": ".\

[2018-04-18 03:13] lunim commented on #9064
@livarcocc I think we could make it work with the --tool-path option, since our build environment should be clean each run.  It would still be nice for a single command install/update, we have some other tools planned for end-users on their development machines.  The experience would be much cleaner if they can just run a single command to ensure they have installed and got the latest version.

Th

[2018-04-18 05:27] DiginessForever commented on #7901
All,

I've figured something out regarding transactions on the latest preview
nuget package (preview2).

I could not get the TransactionScope working, but have successfully gotten
CommittableTransaction working.
Here's a doc link:
https://docs.microsoft.com/en-us/ef/core/saving/transactions  (look near
the bottom for the code sample I used to get going)

They are still working on TransactionScope

[2018-04-18 05:50] davkean commented on #6896
Time to uninstall the 15 of the 16 SDKs on my machine right now:

![image](https://user-images.githubusercontent.com/1103906/38913846-34005e5c-4320-11e8-8052-346983e7c468.png)

[2018-04-18 09:12] CumpsD commented on #8806
I've "fixed" it by not relying on the fallback folder:

[code]

[2018-04-18 09:59] yuki233 commented on #8964
This issue is due to the displayed font.
![image](https://user-images.githubusercontent.com/1578239/38925452-3a53c21e-4332-11e8-95ea-ed2243d91bc9.png)

[2018-04-18 13:53] rchrismon commented on #9087
Need to find msbuild. It isn't in the path... msbuild.exe worked but there were 800+ warnings about dll conflicts, downgrades, and who knows what else.

I figure it has to  be a configuration or resolver issue of some sort, but completely at sea with what or where.

Thanks.

[2018-04-18 14:01] rchrismon commented on #9087
Results of dir > dotnet.lst:

[dotnet.zip](https://github.com/dotnet/cli/files/1924286/dotnet.zip)

Anybody want to see the csproj or sln files?

Thanks.

[2018-04-18 14:27] cynic opened #9091 "`dotnet test` fails when the file path has an ampersand in it"
## Steps to reproduce

1. Move existing solution, which contains a test project, to a directory that has an ampersand in it, e.g. `C:\Projects\Tom&Jerry\`.
2. Run `dotnet test` with the relevant `.csproj` file.

## Expected  behavior

Tests should be executed.

## Actual behavior

An `XmlException` is thrown; a stack trace is printed out; and the tool exits badly.

## Environment data

.NET Comman

[2018-04-18 14:44] eerhardt commented on #8998
This is correct.  Just like the "regular" crossgen executables are being packaged in the `runtime.RID.Microsoft.NETCore.App` packages, we are now packaging the "cross component" crossgen executables in the same packages, in a separate folder.  So all the runtime components are available for both the CLI and ASP.NET repos to crossgen the ARM binaries.

[2018-04-18 15:46] KathleenDollard commented on #8779
Summary (to clear up changes to what I said I would do), then close:

- You can move between previews. You cannot move to RTM.
   - In proto-preview 2 notes for cli-tools-discuss and will be in Release Notes after review
- cli-tools-discuss will have a proposal for discussion on dn, dx, dotnet- and many reserved words

Now, close :)

[2018-04-18 15:56] KathleenDollard commented on #9073
@filipw

Regarding the decision to have Global Tools support only 2.1 and forward.

The previous shim was a hack, particularly on Windows. The new executable approach allows a single process, which means it will show up as the exe name not "dotnet' in your process explorer, be immensely more debuggable, and other benefits. Some amazing work by the runtime team made this possible and we believe it

[2018-04-18 16:01] pakrym opened #9092 "dotnet store crashed with The process cannot access the file rs.assets.cache"
## Steps to reproduce
1.
[code]
2.
`dotnet.exe store -m d:\temp\store\rs.csproj -f netcoreapp2.1 --framework-version 2.1.0-preview3-26413-05 -r win7-x64 --output d:\temp\store --skip-optimization`

## Expected  behavior
No error

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

Marking as blocking partner as this breaks ASP.NET Core site extension build.

[2018-04-18 16:04] rchrismon commented on #9087
Livarcocc, I'm not sure what you're asking. Under the "C:\Program Files\dotnet\" folder there is an sdk folder, and under that a 2.1.200-preview-007517 folder. In that folder there is another sdk folder containing the Microsoft.NET.Sdk.Web folder. (Should I keep going?). Next is another Sdk folder containing two files, Sdk.props, and Sdk.targets.

So Program files => dotnet => sdk => 2.1.200-previ

[2018-04-18 16:15] nguerrera commented on #9087
Msbuild should be on your path if you launch "Visual Studio Developer Command Prompt" from start menu.

Run `msbuild /bl` and send the resulting msbuild.binlog. If you can share the solution as well that would be helpful. Note that binlog may also reveal details about your project. If you'd prefer to share over email rather than publicly here, you can reach me at nicholg at microsoft.com

[2018-04-18 16:25] livarcocc commented on #9092
Is this consistent? Are there other operations running besides the store command?

[2018-04-18 16:26] livarcocc commented on #9092
@nguerrera can you please investigate?

[2018-04-18 16:28] pakrym commented on #9092
Happens in ~70% of invocations.

No.

[2018-04-18 16:46] rchrismon commented on #9087
Output from msbuild /bl attached.
[BuildOutput.txt](https://github.com/dotnet/cli/files/1924955/BuildOutput.txt)

[2018-04-18 17:13] nguerrera commented on #9087
Can you send the `msbuild.binlog` file that is dropped on disk from there? Again, feel free to email me (nicholg at microsoft.com) if there are concerns about anything confidential in the project being shared publicly.

The build is working fine via command line msbuild (those conflict messages aren't errors and I think they should be dropped in importance, but that's entirely separate).

It is ve

[2018-04-18 17:15] livarcocc commented on #8779
Closing then.

[2018-04-18 17:15] #8779 closed

[2018-04-18 17:50] DustinCampbell commented on #9075
FWIW, I'm not sure I get the need to mention "build" at all. Wouldn't it be fine to just call the command `server`? `dotnet server shutdown` seems reasonable and easy to type. Also, I suspect this might eventually be used to shutdown more servers than just "build" servers (perhaps a "project system" server?).

[2018-04-18 18:00] wli3 commented on #9064
It is good for usability. However, the advantage of explicit and strict is the state transition is narrow. It is easy to understand and control action.

With `update` has implicit install, `update` will have different action depends on the disk state.

maybe `update --ensure-install` is a better alternative. I prefer explicit than overload a term.

[2018-04-18 18:18] #8471 closed

[2018-04-18 18:32] johnbeisner commented on #6750
The README.md has resisted all of my efforts to make it's content dynamic - closing the issue.

[2018-04-18 18:32] #6750 closed

[2018-04-18 18:43] livarcocc commented on #9075
there is a `dotnet server` global command already. I think using build-server to shutdown a `project system` server sounds all right.

[2018-04-18 18:58] wli3 commented on #8573
Message is added https://github.com/dotnet/cli/pull/9079

[2018-04-18 18:58] #8573 closed

[2018-04-18 19:04] wli3 commented on #8039
it was due to osx.10.13 is not in the rid graph and runtime give the full name back. it is in and corrected now https://github.com/dotnet/cli/blob/master/scripts/cli-test-env.sh#L19

[2018-04-18 19:04] #8039 closed

[2018-04-18 19:05] #9075 closed

[2018-04-18 20:03] rchrismon commented on #9087
Well, this is interesting. Build Logging shows no output. So, either I'm using it incorrectly, or I'm going crazy. I shutdown VS, then clicked on the visx to install Build Logging. I then restarted VS, and opened the solution. Opening the Build logging view, I saw that there was a start button (triangle), so I clicked that on, then did a solution build (there's only one project in the solution). B

[2018-04-18 20:18] KathleenDollard commented on #9064
I'm fine using update for this. We need to work on the switch name.

[2018-04-18 20:18] nguerrera commented on #9087
You can save the logs from project system tools via right-click, save logs:

![image](https://user-images.githubusercontent.com/75470/38955803-90113e34-430a-11e8-946f-455a1a2a1b9c.png)

There is a built-in viewer (see explore logs, open logs) and also http://msbuildlog.com

[2018-04-18 20:46] omajid commented on #9091
Here is the stack trace:

    Unhandled Exception: System.Xml.XmlException: An error occurred while parsing EntityName. Line 1, position 25.
       at System.Xml.XmlTextReaderImpl.Throw(Exception e)
       at System.Xml.XmlTextReaderImpl.Throw(String res, String arg)
       at System.Xml.XmlTextReaderImpl.ParseEntityName()
       at System.Xml.XmlTextReaderImpl.ParseEntityReference()
       at Sys

[2018-04-19 02:43] bording opened #9095 "2.1.105 SDK package isn't installing aspnetcore-store packages"
I installed the dotnet-sdk-2.1.105 package on an Ubuntu 16.04 machine and then removed the 2.1.104 package, and I noticed that the aspnetcore-store packages were eligible for auto-removal.

It looks like the 2.1.105 package doesn't have the correct dependency to bring in the runtime store packages like previous SDKs do.

Looking at the tarball version of the 2.1.105 SDK, I see that the store files

[2018-04-19 03:28] natemcmaster commented on #9095
Looks like there are similar problems in both debian and rpm packages.

![image](https://user-images.githubusercontent.com/2696087/38969755-b0782318-4346-11e8-99f5-8304340b231b.png)

![image](https://user-images.githubusercontent.com/2696087/38969844-06d37d7a-4347-11e8-9ac9-005bc710c220.png)

[2018-04-19 04:56] davkean opened #9098 "Building a project between two different SDKs fails hard if you reuse nodes"
## Steps to reproduce

1. Build a project via msbuild with 2.1.300-preview2-008324
2. Before msbuild nodes shutdown, build a project via msbuild with 2.1.300-preview2-008533

## Expected  behavior
No errors

## Actual behavior
Actual:
[code]

## Environment data
`dotnet --info` output:

[2018-04-19 04:57] davkean commented on #9098
This issue was moved to dotnet/sdk#2161

[2018-04-19 04:57] #9098 closed

[2018-04-19 11:02] rdhainaut commented on #4783
I have encountered a error CS0579 duplicate attributes after "an upgrade" to .NetStandard library project.
After some investigation, i have founded that i have a file 2 AssemblyInfo files.
- One in Properties/AssemblyInfo.cs
- A new one auto generated during the compilation in obj/Debug/netStandard2.0/ProjectName.AssemblyInfo.cs

After delete Properties/AssemblyInfo.cs file, the compilation works

[2018-04-19 11:49] andybn commented on #7630
We have the same issue. Is there some workaround?.

[2018-04-19 12:46] frankbuckley commented on #4783
Closing as @TheRealPiotrP stated this is by design. FWIW, we moved away from AssemblyInfo.cs with GitVersion and now write version information into a common MSBuild props file that our projects reference.

[2018-04-19 12:46] #4783 closed

[2018-04-19 15:10] rchrismon commented on #9087
Well, as I said, there's no output from the System Tool. I can open the Save Logs menu item, as shown in your last post, but there's nothing to save. I tried to open logs, and also got nothing. As soon as my file manager stops looking for msbuild.binlog (mentioned in one of your earlier posts) I'll try to explore logs.

It's not at all your problem, but I don't look forward to my meeting with the

[2018-04-19 15:14] rchrismon commented on #9087
Is there a debugger that I can run from the command line? Dotnet build, dotnet msbuild, and msbuild by itself all successfully build the app. However, I need to debug the app, but I can't launch it from within VS because of the alleged build error.

Thanks,

Randy

[2018-04-19 16:16] rchrismon commented on #9087
I am so sorry!! I had a colleague look at my situation. He noticed that I was using JetBrains build instead of MSBuild. When I switched to MSBuild, the application built as expected.

I apologize for wasting  your time.

Randy

[2018-04-19 17:17] andras-ferencz commented on #6237
I just want to add my two cents to this issue so that the dev team understands how I feel: hhhhhhhhhhngggghhhhasdffffffffaaaaaaagfgnggggggggggghhhhhhhhhhhhhhhhgnnnnnnnghhhhhhhhhhhhhhhhhhhhh

<img src="https://i.pinimg.com/originals/ed/95/7d/ed957df6760fc268a0f9d1d4ae1bc062.jpg">

[2018-04-19 17:37] livarcocc commented on #9091
This issue was moved to Microsoft/vstest#1554

[2018-04-19 17:37] #9091 closed

[2018-04-19 17:38] livarcocc commented on #9095
@johnbeisner @wli3 can one of you check our linux native installers?

[2018-04-19 17:39] livarcocc commented on #9095
nvm, @natemcmaster has a PR for it already.

[2018-04-19 17:45] nguerrera commented on #9087
No time wasted! Glad to help!

It is very good to know how this situation can occur. We had not observed a case before this where a project loads, but cannot find Sdk on build. I can happily work with JetBrains to help get this resolved.

@AndreyAkinshin, How should we proceed? Is this a known issue on your side? Feel free to reach out to me by email me (nicholg at microsoft.com) to discuss furthe

[2018-04-19 21:34] wli3 opened #9103 "Remove -f short hand in dotnet tool install"
`--framework` usage in `dotnet tool install` and `update` is uncommon, it is not necessary to take the shorthand `-f`. And  `-f` can be used for future commands

https://github.com/dotnet/cli/issues/9073#issuecomment-382138783
https://github.com/dotnet/cli/issues/9064#issuecomment-382240361

[2018-04-19 21:34] wli3 commented on #9103
cc @KathleenDollard

[2018-04-19 23:32] nguerrera commented on #9092
Fixed by dotnet/sdk#2159

[2018-04-19 23:32] #9092 closed

[2018-04-19 23:46] #9095 closed

[2018-04-19 23:49] bording commented on #9095
@natemcmaster @livarcocc Given that this breaks the existing public release, what's the plan for fixing 2.1.105?

[2018-04-19 23:53] wli3 commented on #7687
This issue was moved to dotnet/templating#1515

[2018-04-19 23:53] #7687 closed

[2018-04-20 02:01] natemcmaster opened #9105 "`dotnet.exe msbuild` exits code 1 even if MSBuild succeeds"
## Steps to reproduce
So far, this only reproduces on our Windows 2012 R2 machines, but **it is consistent**. I can get you access to a machine to investigate more.

We are trying to upgrade ASP.NET Core to build with the 2.1.300-preview3-008646 SDK.
Previously we were building with 2.1.300-preview2-008530. https://github.com/aspnet/BuildTools/commit/ed5ca9de3c652347dbb0158a9a65eff3471d2114

## Ex

[2018-04-20 02:13] livarcocc commented on #9095
@leecow @preetikr for servicing 2.1.100. I will go ahead and bump the patch version on the CLI in preparation for this servicing. Though, keep in mind that 2.1.200 is coming out soon and will become the latest of the CLI.

[2018-04-20 02:15] livarcocc commented on #9105
does this repro in older versions of the CLI? Like, 2.1.100 or 2.1.200?

also, cc @rainersigwald since the CLI is just surfacing the error code from MSBuild.

[2018-04-20 04:26] natemcmaster commented on #9105
Hard to say. The repo in question uses netcoreapp2.1, which isn't supported in 2.1.200. The issue is definitely tied to updating from 2.1.300-preview2-008530 to 2.1.300-preview3-008646. I figured it's probably the underlying `dotnet MSBuild.dll` process actually returning non-zero, but figured I'd start this issue at the top of the stack in case there were changes to forwarding, telemetry, logging

[2018-04-20 04:52] muratg commented on #9105
Ugh. Is there even a workaround?

[2018-04-20 06:15] natemcmaster commented on #9105
One clue: it appears to happen only when dotnet msbuild is launched as a child process of another dotnet msbuild process.

[2018-04-20 08:53] kasper3 commented on #9105
@natemcmaster, I have made smaller steps to repro, it seems like it is happening with CLI 2.1.10x as well as 2.1.300-preview3

Seems the behavior with `ContinueOnError = true` makes the difference.

parent.proj

[code]

child.proj

[code]

With `dotnet msbuild parent.proj /p:CauseError=true`, the process exits with non-zero code and with `dotnet msbuild parent.proj` (or `/p:CauseError=false`), it

[2018-04-20 13:58] spboyer commented on #9103
This leads to confusion, all long commands should have a short version. This is pretty much a standard style for CLI.

if you intend to use `-f` for another command, please add `-fw` for `--framework`

[2018-04-20 15:14] wli3 opened #9109 "dotnet 2.1-preview 2 test unable to load dependent project libraries"
_From @livarcocc on April 19, 2018 21:8_

_From @lunim on April 19, 2018 6:29_

Hello,

I have a simple xunit test project that references a single .net core 2.1 app.  Both define `<TargetFramework>netcoreapp2.1</TargetFramework>`.  The app references System.CommandLine: `<PackageReference Include="System.CommandLine" Version="0.1.0-preview2-180412-1" />` and includes the proper myget source in or

[2018-04-20 15:14] wli3 commented on #9109
_From @livarcocc on April 19, 2018 21:8_

_From @Petermarcu on April 19, 2018 21:2_

So the app builds and runs just fine? Its just the unit testing that doesn't work? @kendrahavens Do you know the best people to loop in to help here?

[2018-04-20 15:14] wli3 commented on #9109
_From @lunim on April 19, 2018 21:32_

@Petermarcu Yes, the app builds and runs without issue.  The unit tests also work correctly if I add the System.CommandLine PackageReference to the test's .csproj.

[2018-04-20 15:14] wli3 commented on #9109
_From @lunim on April 19, 2018 21:47_

@Petermarcu @livarcocc I believe I may have found a cause, the app I am testing is a global tool, I have the option `<PackAsTool>true</PackAsTool>` set.  If I remove this flag, the tests work.

I was able to reproduce, here is a sample project: https://github.com/lunim/Test-Core21-Tool.  Locally, I am using dotnet-sdk-2.1.300-preview2-008530-win-x64.

[2018-04-20 15:14] wli3 commented on #9109
_From @livarcocc on April 20, 2018 2:16_

@wli3 can you take a look? If seems some of our pack work may have broken dotnet test for direct references to a global tool.

[2018-04-20 15:15] rainersigwald commented on #9105
One possible change candidate: post-preview2, we turned on MSBuild node reuse on *nix by default, after fixing an issue with calling `dotnet msbuild` inside `dotnet msbuild`. That shouldn't have changed anything on Windows, but since the symptoms are so similar it's worth mentioning.

I'd be happy to take a look at the repro machine @natemcmaster. Would also be curious if setting `MSBUILDDISABLENO

[2018-04-20 15:16] wli3 commented on #9109
PackAsTool will set <PrivateAssets>All</PrivateAssets> for package and project reference to prevent them to be pack as nuspec reference.

However, that breaks test project.

[2018-04-20 15:30] wli3 commented on #9109
https://github.com/NuGet/Home/issues/6354

[2018-04-20 16:11] Petermarcu opened #9110 "ArgumentOutOfRangeException"
## Steps to reproduce
run `dotnet publish -f` in a folder that doesn't have a project. I ran it at the root of the .NET Core installation.

## Expected  behavior
Useful error or message.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

[2018-04-20 16:43] omajid opened #9111 "Tab completion should not provide internal-reportinstallsuccess as an option"
## Steps to reproduce

0. Enable bash completion for .NET Core as described on https://github.com/dotnet/cli/blob/master/Documentation/general/tab-completion.md. I just `cp cli/scripts/register-completions.bash /usr/share/bash-completion/completions/dotnet`
1. Start a shell to pick up the completions
2. `dotnet new console -o completion`
3. `cd completion`
4. `dotnet<TAB><TAB>`

## Expected  behav

[2018-04-20 16:43] omajid commented on #9111
cc @jonsequitur

[2018-04-20 17:06] livarcocc commented on #9111
I was using https://github.com/dotnet/cli/issues/8958 to track this.

[2018-04-20 17:16] livarcocc commented on #9110
I can't repro this. I see the following:

[code]

[2018-04-20 17:25] livarcocc commented on #9110
Is there anything else that you are doing? Any extra files that you added to the folder? I just downloaded the zip, unzipped it and ran `dotnet publish -f` in the root of the extracted folder. We do the right thing and show the content I pasted above.

[2018-04-20 17:26] Petermarcu commented on #9110
It was put in a clean folder and I ran from there. You can see I have lots of other things on the machine from my --info

[2018-04-20 17:27] ericstj commented on #8956
We need to make sure that 2.0.3 is picked up.  We found an issue with 2.0.2 and needed to rebuild.  2.0.3 is in flight.

[2018-04-20 17:28] livarcocc commented on #9110
Sorry, I meant on that folder. Like a weird project file or something like that. I tried just running from a separate empty folder and still could not repro it.

[2018-04-20 17:37] peterhuene opened #9112 "Roslyn build server shutdown should use pid files for server discovery."
This is a tracking issue for future feature work.

## Steps to reproduce

1. `dotnet build-server shutdown`

## Expected  behavior

No messages are printed out about the VB/C# compiler server shutting down unless it was actually running.

## Actual behavior

It always prints a message about the VB/C# compiler server shutting down.  This is because the implementation does not dynamically discover t

[2018-04-20 17:41] peterhuene opened #9113 "MSBuild build server shutdown should use pid files for server discovery."
This is a tracking issue for future feature work.

## Steps to reproduce

1. `dotnet build-server shutdown`

## Expected  behavior

No messages are printed out about the MSBuild server shutting down unless it was actually running.

## Actual behavior

It always prints a message about the MSBuild compiler server shutting down.  This is because the implementation does not dynamically discover the ru

[2018-04-20 17:43] Petermarcu commented on #9110
Nothing was in there. I did exactly what you did it sounds.

[2018-04-20 17:43] omajid commented on #9103
I would strongly recommend against that. It is very common for two one-word arguments to be combined. If I saw `-fw` anywhere, I would assume it was a shortcut to specify `-f -w`. That's the whole point of two-dash arguments so we can have arbitrarily long arugument names. It really should be `--fw`.

But that aside, I agree: we should keep `-f` as `--framework` everwhere possible. Perhaps `-F` or

[2018-04-20 17:46] livarcocc commented on #9103
The reason we decided to remove -f from tool install is that we felt users would associated it much more strongly with --force in this context than with --framework if/when we add --force option to tool install.

[2018-04-20 19:07] natemcmaster opened #9114 ".NET Core executables fail if .NET Core is not installed in default location"
## Steps to reproduce
Download .NET Core CLI to $env:USERPROFILE/.dotnet/x64 and install a global tool
[code]

## Expected  behavior

The generated shim dotnet-serve.exe should find and use the dotnet on PATH to launch the global tool.

## Actual behavior
If no .NET Core is installed in `C:\Program Files\dotnet`
[code]

If .NET Core is installed in `C:\Program Files\dotnet`, but doesn't have the r

[2018-04-20 19:16] #9084 closed

[2018-04-20 19:45] natemcmaster commented on #9114
Possible solution: the apphost should automatically default DOTNET_ROOT to the first dotnet.exe on PATH.

[2018-04-20 20:25] KathleenDollard commented on #9103
--framework is a niche switch right now.

I don't think we should use the -f now.

[2018-04-20 20:30] livarcocc commented on #9114
This is by design and the decision we made on the host taking many different things in consideration. I believe the dotnet install message will guide you to setting DOTNET_ROOT if your dotnet is not installed in the default location.

[2018-04-20 20:32] natemcmaster commented on #9114
My concern about this design is that the error message is not clear when there are some .NET Core runtime installations in C:\Program Files\dotnet, but not the right ones for the global tool. How would a user ever figure this out from this?
[code]

[2018-04-20 20:33] livarcocc commented on #9114
@steveharter is this something that we could improve in the host?

[2018-04-20 20:38] spboyer commented on #9103
Is there a roadmap item that discusses why we would need to **force** install a tool?

How can we say that this is niche? Is this going away? The point of the switch is to target a framework when [creating a classlib](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore2x#template-options). Is there not a need to declare TFM in the future.

[2018-04-20 20:45] livarcocc commented on #9103
It is not on the roadmap, but something that we are trying to leave our options free for.

As for niche, it is niche in the context of global tools and this is being changed only for the tool command. Restore, build, run, publish, test, etc, are all maintaining the -f option, as in the context of those commands, -f is very intuitive in its meaning.

[2018-04-20 20:47] wli3 commented on #9110
That is a bug in 2.0 but fixed in later release. Do you have anything that pinned?

[2018-04-20 21:07] livarcocc commented on #9110
That was my suspicion as well and something that I commented with @Petermarcu. I am going to move it out of 2.1.3xx and once we confirm it was a pinned SDK, we can close.

[2018-04-20 21:42] steveharter commented on #9114
The error message could be extended to provide more information, but is really a short-term problem since once the hostfxr should be updated (once) it should be good forever for this particular error message.

I'd prefer not to start probing %PATH%

[2018-04-20 21:54] natemcmaster commented on #9114
Can you elaborate? It seems like it would be a better user experience, but want to know why you would rather not.

I was expecting this PATH lookup behavior because it's one we depend on to make Visual Studio work SDKs installed into user-locations. It's also one less variable that we have to set to make CI builds work well. We already have a handful, and the list seems to be ever growing.

[2018-04-23 01:26] bbusacker opened #9118 "Illegal Instruction when executing dotnet msbuild on Ubuntu 16.04 ARM64"
## Steps to reproduce
It can be reproduced by attempting to build vsts-agent on Ubuntu 16.04 Arm64 platform.  dev.sh need dotcli library version changed from 2.0.3 to 2.2.100-preview1-008633.

## Expected  behavior
Build fails and illegal instructions is printed on the console and also in dmesg

## Actual behavior
No illegal instruction should occur

## Environment data
**`dotnet --info` output:**

[2018-04-23 12:32] LazerFX commented on #8622
Apologies for the delay in responding to your queries - I was recovering from Bacterial Tonsillitis (I don't recommend this!).

I've just upgraded to Visual Studio 15.6.6, cleared out the OBJ/BIN folders and re-run the project through IIS (Run as administrator, as always), and it has run without issue - it still doesn't include the DLLs, but it also doesn't fail asking for the DLLs.

It seems that

[2018-04-23 15:40] abpiskunov commented on #8622
I see. Yes, it should not copy , it is expected. Good that it is working now. I will close this issue, please re-open if see it again in newer versions of VS and Sdk.

[2018-04-23 15:40] #8622 closed

[2018-04-23 15:58] balachir opened #9119 "Provide fwlink in the warning about obsolete DotNetCliToolReference that points to good documentation about global tools"
## Steps to reproduce
With VS 15.7 + CLI for .NET Core 2.1 (CLI 2.1.300 or higher) installed,
1. Open ASP.NET Core 2.0 project that was created using a previous version of the CLI
2. View Error list or build

## Actual behavior
You see the warnings below

![image](https://user-images.githubusercontent.com/8246794/39138249-63e8c20a-46d4-11e8-8513-74f4350a3f96.png)

## Expected  behavior
Warning sho

[2018-04-23 16:10] balachir opened #9120 "Need better warning/error message when ASP.NET Core 1.1 project is opened using CLI for .NET Core 2.1"
## Steps to reproduce
With VS 15.7 + CLI for .NET Core 2.1 (CLI 2.1.300 or higher) installed,

1. Open ASP.NET Core 1.1 project that was created using a previous version of the CLI
2. View Error list

## Actual behavior
You see the warnings below
![image](https://user-images.githubusercontent.com/8246794/39138907-a150cbaa-46d5-11e8-8300-340e4835f48b.png)

For the ASP.NET Core 1.1 / 1.0 cases, the

[2018-04-23 16:40] pakrym opened #9121 "dotnet store fails with NRE when referencing Microsoft.AspNetCore.App"
## Steps to reproduce
1.
[code]
2.
[code]

## Expected  behavior

Store is generated that excludes assets that exist in Microsoft.AspNetCore.app

## Actual behavior

Crashes with NRE

## Environment data
`dotnet --info` output:

[code]

[2018-04-23 18:15] wli3 commented on #8929
This issue was moved to dotnet/versions#290

[2018-04-23 19:05] livarcocc commented on #9119
@KathleenDollard @danroth27 @leecow who can provide me with an updated message that contains the appropriate forward link?

[2018-04-23 20:27] #9103 closed

[2018-04-23 20:28] livarcocc commented on #9120
Closing this one in favor of https://github.com/dotnet/cli/issues/9119

[2018-04-23 20:32] livarcocc commented on #9105
Closing this one in favor of https://github.com/Microsoft/msbuild/pull/3215.

[2018-04-23 20:32] #9105 closed

[2018-04-23 22:18] livarcocc commented on #9121
I believe this may have been fixed already by @nguerrera through https://github.com/dotnet/sdk/pull/2159. I will try it out in the next ProdCon build.

[2018-04-23 22:29] peterhuene commented on #7791
@evil-shrike Thanks for reporting this issue!  I have reproduced this and I have a fix that should both work for your example as well as the workaround @dasMulli provided.  I'll put a PR up for it soon.

[2018-04-23 23:43] wli3 opened #9124 "do not set BaseIntermediateOutputPath in temp project of dotnet install"
After https://github.com/NuGet/NuGet.Client/pull/2131 and https://github.com/Microsoft/msbuild/pull/3059

MSBuildProjectExtensionsPath is the more accurate property to set to **only** redirect nuget's output

[2018-04-24 06:43] filipw commented on #9073
@KathleenDollard thanks for the info. We managed to solve it for the time being by using cross compilation. So if you are on 2.1 preview SDK, you'd run as netcoreapp2.1, if you are on earlier version you'd run as netcoreapp2.0. The shim is something we will explore down the road.

Regarding your naming comment, it's simple - there has been a vision since the beginning that in the future `dotnet sc

[2018-04-24 10:40] roterdam opened #9126 "How to include a runtimeconfig.json?"
I made a new .NET Core app in Visual Studio 2017 15.6 and added a "runtimeconfig.json" in my root directory next to the csproj and it doesn't work.

Whenever the project is output or published some random runtimeconfig.json is stuffed there.

Here is my file contents. And the true filename is "runtimeconfig.json". I've tried myapp.runtimeconfig.json, and other variations but nothing works.

[code]

[2018-04-24 13:39] balachir opened #9127 "In a command window, 'dotnet tool list --global' does not list any global tools"
## Steps to reproduce
1. Install CLI for .NET Core 2.1 (version 2.1.300-rc1-008662)
2. Open command window and run
`dotnet tool list --global`

## Expected  behavior
List all the global tools

## Actual behavior
No global tools are listed

![image](https://user-images.githubusercontent.com/8246794/39190822-445c13ea-478a-11e8-8b4d-4e6a72c517d7.png)

[2018-04-24 16:38] svick opened #9128 "Completion for dotnet add package doesn't work well"
## Steps to reproduce

Try to use tab completion in PS (after [setting it up](https://github.com/dotnet/cli/blob/master/Documentation/general/tab-completion.md#powershell)) or `dotnet complete` with partial package name.

If the NuGet API is not suitable for this right now, then I think it should be improved.

For example, when trying to add the package `Microsoft.CodeAnalysis.CSharp`, I might inv

[2018-04-24 16:54] livarcocc commented on #9127
@peterhuene can you take a look?

[2018-04-24 16:55] livarcocc commented on #9128
This is due to an limitation in the NuGet apis, where it just returns results for full words. I would file an issue on NuGet to get the API improved and then link that issue to this one. Without that, there isn't much that we can do, if anything at all.

[2018-04-24 17:16] svick commented on #9128
@livarcocc

Done: https://github.com/NuGet/Home/issues/6860.

[2018-04-24 17:25] #9124 closed

[2018-04-24 17:28] wli3 commented on #9127
@balachir what tool is installed that you expect to see? could you show us the content under c:\Users\fwtlaba\.dotnet\tools ?

Also the second command _dotnet tool list_ is not valid and the error is expected

[2018-04-24 17:48] mishra14 commented on #9128
@livarcocc Which APIs do you use?

[2018-04-24 17:49] wli3 commented on #9126
Hi @roterdam,
You should name your `runtimeconfig.template.json` is the correct name of the file. You can find more here https://docs.microsoft.com/en-us/dotnet/core/tools/project-json-to-csproj#runtimeoptions

And you do not need the following part. It will be generated
[code]

There is an example
https://github.com/dotnet/sdk/blob/master/src/Assets/TestProjects/AppWithLibrary/TestApp/runtimeconf

[2018-04-24 17:49] #9126 closed

[2018-04-24 17:57] wli3 commented on #9128
@mishra14 that is the query we use. CLI calls webapi directory
`https://api-v2v3search-0.nuget.org/query?q={match}&skip=0&take=100&prerelease=true`

https://github.com/dotnet/cli/blob/master/src/dotnet/commands/dotnet-add/dotnet-add-package/AddPackageParser.cs#L62

[2018-04-24 18:54] livarcocc commented on #9121
This still reproes with the latest prodcon build.

[2018-04-24 19:18] ericstj commented on #8956
Thank you @livarcocc

[2018-04-24 19:34] peterhuene commented on #9127
As @wli3 mentioned, the second error is expected since either of the two options specified are required.

Regarding the output of `dotnet tool list --global`, that is the expected output if no tools have been installed globally.  Is that the case?  Following Will's suggestion should help answer that.

[2018-04-24 20:04] jbagga opened #9129 "Publishing ASP.NET Core webapplication from VS to Azure fails when the web app references a class library"
## Steps to reproduce
- Create a Razor Pages or MVC web application in Visual Studio
- Create a regular netstandard2.0 Class Library project
- Reference the Class Library project from the web application
- Publish the web application to Azure from VS
- Configure the deployment mode as Self-Contained Target Runtime win-x64; File Publish Options-> Check the Remove additional files at destination box

[2018-04-24 20:09] jbagga commented on #9129
Visual Studio information:
Microsoft Visual Studio Professional 2017 Preview
Version 15.7.0 Preview 4.0
VisualStudio.15.Preview/15.7.0-pre.4.0+27617.1
Microsoft .NET Framework
Version 4.7.02558

Installed Version: Professional

[2018-04-24 20:16] livarcocc commented on #9129
@dsplaisted did we miss some update of the assets path?

[2018-04-24 20:45] richlander opened #9131 "Different CLI syntax for --source"
## Steps to reproduce

[code]

Emphasis on last line.

[code]

Emphasis on last line.

## Expected  behavior

Same syntax for NuGet feeds across CLI. Also, the help text suggests different semantics. Is that true?

## Environment data
dotnet --version
2.1.300-preview2-008530

[2018-04-24 20:52] kichalla commented on #9129
More details here:

[code]

[2018-04-24 20:52] richlander opened #9132 "dotnet tool install --source-feed isn't relative"
## Steps to reproduce

[code]

## Expected  behavior

I was expecting the NuGet source to realize I wanted it to use: `C:\git\PowerShell\src\powershell-win-core\nupkg`

It uses: `'C:\Users\rlander\AppData\Local\Temp\xrucfdsj.yyf\nupkg`

Fully-qualified path works. I expect to be able to use relative paths.

## Environment data
dotnet --version
2.1.300-preview2-008530

[2018-04-24 20:54] obylium commented on #8399
@dagood Your solution works perfectly while using msbuild.

I am attempting to convert projects over to the new format and start using dotnet to build all of them. Using dotnet build I am getting the following error.

Any ideas?

[2018-04-24 21:12] livarcocc commented on #9131
This was a conscious decision we made because we felt like --source had little meaning on the context of tool when referring to source feed and there was a high likely hood with it being confused with some sort of build from source tool experience, like the one we talked about a while ago.

Also, we couldn't change the restore parameter as that would be a breaking change.

So, right now, this is b

[2018-04-24 21:12] #9131 closed

[2018-04-24 21:14] livarcocc commented on #9132
cc @wli3 @peterhuene please take a look.

[2018-04-24 21:25] richlander commented on #9131
Just want to register that I think this is the wrong decision. It's one confusion vs another. Also, I don't think this choice lines up well a CLI design philosophy.

Folks reading this ... do you want status-quo or alignment of syntax for NuGet sources across the CLI syntax?

[2018-04-24 21:30] omajid commented on #9131
There is also concern about the differences between the two options here: https://github.com/dotnet/cli/issues/9062

[2018-04-24 21:34] peterhuene commented on #9132
This appears to be a regression caused by https://github.com/dotnet/cli/commit/9cc2b7cd2f9dc165ee3a04b1de6fa5065b142dd3.  That commit moved the source feed options to the project file, making them relative to the temporary directory instead of where the restore is run (i.e. the current directory).

I'm thinking about a proper fix to this.

[2018-04-24 21:42] wli3 commented on #9132
We can go back to pass by command line. But we need to properly escape the path. (that's why i move to xml first). use --source source 1 --source source2 can achieve multiple source.

Or we can expend the relative path ourself.

[2018-04-24 21:46] wli3 commented on #9132
I think we should just GetFullName of the path, and add full path to temp project

[2018-04-24 21:54] peterhuene commented on #9132
Sources aren't just paths.

[2018-04-24 22:42] wli3 commented on #9132
you are right...

[2018-04-24 23:07] peterhuene commented on #9132
So getting the full path provided the source is not an absolute Uri should do the trick.

[2018-04-24 23:29] nguerrera commented on #9121
The problem is here:

https://github.com/dotnet/sdk/blob/cfe8ff3c4e51c473ae75ca32d1c7a62043e96990/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.ComposeStore.targets#L455

`store` targets are assuming that the platform package will have IsImplicitlyDefined=true metadata, but this isn't true for Microsoft.AspNetCore.App.

Workaround: set IsImplicitlyDefined=true
[code]

It may also work

[2018-04-24 23:37] kichalla opened #9135 "Building a Razor Class Library project generates refs directory in the build output"
## Steps to reproduce
- dotnet new razorclasslib
- dotnet build
- open folder `bin\Debug\netstandard2.0`

## Expected  behavior
No refs directory

## Actual behavior
refs directory is present

## Environment data
`dotnet --info` output:

[code]

cc @nguerrera

[2018-04-24 23:52] livarcocc commented on #9135
@dsplaisted can you take a look?

@pranavkm as I think I remember some discussion about this in another issue. Not sure it was the same thing though.

[2018-04-25 00:36] richlander opened #9136 "Add numbers ("Preview 1" vs "Preview 2") back into the branding strings in installers"
I cannot tell Preview 1 vs Preview 2 installers apart in Windows ARP. I can only differentiate them by install date. Please add numbers so we can tell previews / RCs apart.

[2018-04-25 01:02] pranavkm commented on #9135
So this is pretty similar to https://github.com/dotnet/sdk/pull/2133. However, in this case it looks like the problem lies in the way reference assemblies from the NETStandard.Library package are setup.

Here's the `Reference` item from Microsoft.NETCore.App that you get targeting `netcoreapp2.1`:

[code]

Compare it to the one for a project targeting `netstandard2.0`:

[code]

Notice that it's mi

[2018-04-25 01:08] livarcocc commented on #9136
@leecow this was the design that both you and Lee asked us to do. Though, in ARP, you should see a version on the right side of the program list.

Once I have an agreement from @leecow, we can make the change, assuming it will get approved.

cc @KathleenDollard

[2018-04-25 01:09] livarcocc commented on #9135
@ericstj to comment on a potential authoring problem.

Does this repro if you manually target netstandard 2.0 or 2.1?

[2018-04-25 01:11] dsplaisted commented on #9135
@nguerrera @ericstj It looks like in this case we are getting bitten by the fact that NETStandard.Library doesn't set `NuGetSourceType`.  Should we update the package to add this metadata, update the SDK to use `NuGetPackageId` instead when determining whether to copy assemblies to the ref folder, or something else?

[2018-04-25 03:27] livarcocc commented on #9135
@kichalla what is the impact of having these refs in the build output? Size?

[2018-04-25 03:36] pranavkm commented on #9135
AFAIK, it's has no impact other than size. It'd certainly be nice to get this fixed for 2.1.0 (RTM).

[2018-04-25 03:51] richlander commented on #9136
Yes, we did. Someone asked us to go this direction. We now realize that it is unworkable.

[2018-04-25 03:54] livarcocc commented on #9135
I ask because I am sure shiproom will ask this question when we take this bug for approval. Right now, it is costing 4mb of ref assemblies in there.

[2018-04-25 04:08] richlander commented on #9062
I think we need to adopt a standard dialect across the CLI. If something is confusing, we have to accept that. The standardization across the whole nomenclature is super important and trumps most everything else. I also don't find `--source` the least bit confusing. The first thing I tried using this command today was `-s` to specify a feed and that didn't work. Why break muscle memory for advance

[2018-04-25 04:14] livarcocc commented on #9062
I disagree, I don't think we should try to keep all the same just for the sake of being standard. I believe that if something is following the standard and being confusing to our users, we should break that standard in that particular case. That was the feedback we got from tools install regarding --source, that people did not understand what it meant in the context of tools, and so we changed.

A

[2018-04-25 04:34] dasMulli commented on #8399
@obylium It should work on 2.1.300+ CLI versions as this task was introduced for newer msbuild version (https://github.com/Microsoft/msbuild/pull/2933)
You could try the .NET Core 2.1 preview which will install a version of the CLI that should be able to do this.

[2018-04-25 04:37] dasMulli commented on #8399
Actually it may already be in 2.1.200+ but I'm not 100% sure.

[2018-04-25 04:57] kasper3 commented on #9062
@livarcocc, if `--source` is confusing for folks discussing `dotnet-tool-install`, then isn't it equally confusing for `dotnet-nuget-push`, `dotnet-restore`, `dotnet-add-package`? We can always have a breaking change to align these, for example when revving the major version so existing usages will not be affected.

I agree with you that they don't have to be same, but if the other commands's `sou

[2018-04-25 05:00] livarcocc commented on #9062
I would argue that the commands listed above are more obviously related to restore (and NuGet) than dotnet tool install.

[2018-04-25 05:05] kasper3 commented on #9062
Sure but does the relation with restore/nuget makes it obvious that names cannot be improved or `--source` is the most suitable name?

[2018-04-25 11:14] balachir commented on #9127
I don't have a ```c:\Users\fwtlaba\.dotnet\tools``` folder. Did something not get initialized correctly? I even tried running ```dotnet new console``` to make sure any initialization completed, but my folder still looks like below.

![image](https://user-images.githubusercontent.com/8246794/39242193-15ccdfe6-483e-11e8-8462-baf3d4047ba5.png)

**Related question**: Is ```c:\Users\fwtlaba\.dotnet\too

[2018-04-25 14:26] natemcmaster commented on #9127
No. Those binaries are installed along with the rest of the sdk files in C:/Program Files/dotnet/sdk/$version

[2018-04-25 16:13] KathleenDollard commented on #9136
Agree with "Preview 1" etc.

We should use the same words here we would use in Release Notes, blog posts or on stage, which is what was decided.
________________________________
From: Rich Lander <notifications@github.com>
Sent: Tuesday, April 24, 2018 8:51 PM
To: dotnet/cli
Cc: Kathleen Dollard; Mention
Subject: Re: [dotnet/cli] Add numbers ("Preview 1" vs "Preview 2") back into the branding stri

[2018-04-25 16:17] richlander opened #9138 "Uninstalling .NET Core removes dotnet directory from path"
I had nearly 20 versions of .NET Core installed. I decided to uninstall them all but one (2.1.300-preview2). After that, "dotnet" didn't work anymore since the PF directory was removed from the path. Do we have any testing on this?

I decided to uninstall this last version, too, to see what was left. I assume that the 1.0.0 folder was a bug that is no longer interesting. It does seem like there is

[2018-04-25 16:28] tmds commented on #9062
It would be nice if `dotnet tool install` provided a `--source` parameter that is consistent with the other commands: i.e. not additive.

I like this consistency since we are not going to remove `--source` parameter from the other commands and we are used to how it behaves.

I see this when some scripts. I want to pass the same feeds to `dotnet tool install` as I am passing to `dotnet restore` and

[2018-04-25 16:28] richlander opened #9140 "Use Capitals for Release names"
Just installed an RC1 build ... see:

![image](https://user-images.githubusercontent.com/2608468/39259304-f5fa33e4-486a-11e8-8743-bf31109b5106.png)

Branding should follow this form:

- "Preview 1"
- "RC1"

[2018-04-25 17:01] ericstj commented on #9135
No authoring problem, IMHO.  Sure NETStandard.Library may be different / special and breaking some assumptions you have, but those assumptions may be incorrect.

I see two problems with the original issue statement.

1. *Why* do you expect these not to be present?  Is it because you expect the razor compilation to be able to pull them from the packages?  If so, how is it going to do that when we a

[2018-04-25 17:02] leecow commented on #9136
Livar, can the Window title carry the full version string but the banner only 'Preview N', 'RC N', etc?

 eg

* Window title: `Microsoft .NET Core SDK 2.2.100-008530 - Preview 1 (x64) Installer'
* Banner title: `Microsoft .NET Core SDK 2.2.100 - Preview 1'

[2018-04-25 17:07] livarcocc commented on #9138
For the fallback folder, we have a bug here in the CLI tracking that already. For the PATH, we have not seen this issue before. Are you sure that there was not something else going on here? I just tried this a couple of times and dotnet continues to work and point to my program files installation.

[2018-04-25 17:13] livarcocc commented on #9136
Given that our next release is going to be RC1, could we just punt this issue to 2.2? Just so that we can clear on priorities?

If so, I would feel more comfortable in making the installer changes.

[2018-04-25 17:27] wli3 commented on #9127
@balachir all the that will show up in `dotnet tool list` requires explicit `dotnet tool install -g packageid`. If a tool does not require it. It might be a bundled tool, project tool, or custom configured packages like xunit runner.

[2018-04-25 17:58] ericstj commented on #9135
Are you agreeing or disagreeing?  Sounds to me like this just further backs the point that it doesn't make sense to do anything for libraries (except perhaps to preserve defines / compiler args / etc).

[2018-04-25 18:04] kichalla commented on #9129
We have noticed that this issue occurs even when referencing a regular class library, which as you can
imagine is a basic scenario.

I now updated the title and repro steps in the OP

[2018-04-25 18:14] mjgebhard opened #9142 "2.1.300-preview2-008530: dotnet ef migrations remove causes NULL exception while Remove-Migration in PMC Works"
## Steps to reproduce
PS C:\Users\mgebhard\Source\Repos\SchoolFinance\Dpi.SchoolFinance.Dal> dotnet --version
2.1.300-preview2-008530

PS C:\Users\mgebhard\Source\Repos\SchoolFinance\Dpi.SchoolFinance.Dal> dotnet ef migrations add InsertSeedEddieLeaLookup
Migration -c ApplicationDbContext -o Data/Migrations/ApplicationDb  --startup-project ../Dpi.SchoolFinance.Idp
info: Microsoft.EntityFrameworkCo

[2018-04-25 18:27] richlander commented on #9062
I like your proposal, @tmds.

[2018-04-25 18:31] livarcocc commented on #9118
@steveharter can you help look into this?

[2018-04-25 18:38] pranavkm commented on #9135
We could change the Razor.Sdk to turn off PreserveCompilationContext for library projects. But the fact that setting it isn't an unsupported scenario (nothing in the Sdk complains when you set this flag in a class library) suggests that this is an issue either with the Sdk not correctly filtering out these assemblies or with the authoring of the package.

[2018-04-25 18:50] ericstj commented on #9135
Why do you say that?   See point number 1 above.

[2018-04-25 18:54] KathleenDollard commented on #9119
Suggest:

Using DotNetCliToolReference to reference 'Microsoft.EntityFrameworkCore.Tools.DotNet' is obsolete and can be removed from this project. This tool is bundled by default in the .NET Core SDK. [More info on tool usage](https://aka.ms/global-tools).

[2018-04-25 19:16] natemcmaster opened #9143 "Same SDK version, different contents"
For the last few rounds of stabilization, we have repeatedly run into issues with ProdCon and the CLI. Because the CLI uses commit height to determine its version, **multiple builds of the CLI will have the same filenames**. This makes it difficult for partner teams to ensure that the correct bits are used and tested.

For example, there are at least two builds of 2.1.300-rc1-008662, one containin

[2018-04-25 19:37] onovotny commented on #9062
One question regarding additive vs exclusive feeds. For tool installs, do you think things may be more likely to fail if they're exclusive?

Scenario is putting up a CI build of a tool on a MyGet feed. Only the tool is there, any dependencies it might need are not (or do tools never have dependencies)? How likely will it fail if people use `--source` and the MyGet isn't configured to pass through

[2018-04-25 19:45] ajcvickers commented on #9142
Moved to https://github.com/aspnet/EntityFrameworkCore/issues/11810

[2018-04-25 19:45] #9142 closed

[2018-04-25 19:47] livarcocc commented on #9143
This is not a bug of the SDK, but rather of prodcon builds overwriting builds of the CLI, the same issue will happen for the shared runtime bits as well (and asp.net bits) since they are all behind the same blob storage and CDN.

We should not overwrite builds. The CLI has mechanisms in place to allow the overwriting of the build number.

This is challenging for us because we have multiple legs th

[2018-04-25 19:58] muratg commented on #9143
@livarcocc are you saying the fix to this would be in prodcon?  In that case, should it be tracked elsewhere?

[2018-04-25 20:05] skofman1 commented on #9128
You should use the autocomplete API and not the search API:
https://api-v2v3search-0.nuget.org/autocomplete?q=Microsoft.Cod

[2018-04-25 20:15] livarcocc commented on #9143
No. I agree with Nate that we should be able to have different versions for the rebuilds and that's a change in the CLI. However, we need to be able to do that and to re-spin legs in the same build number when necessary.

It is our work to figure that out.

However, in general, we should not rebuild things in place. It always leads to issues.

[2018-04-25 20:17] livarcocc commented on #9127
Closing this as not a bug.

The bundled SDK tools ship as native verbs on the CLI and should not appear as global tools, which is the current behavior.

If you happen to install a global tool (like dotnet-cowsay) and that is not listed, then comment or file a new issue and we can investigate.

[2018-04-25 20:17] #9127 closed

[2018-04-25 20:30] livarcocc commented on #9121
@nguerrera  is right. Following his sugestions, this project worked for me:

[code]

I am going to close this issue. If using the web sdk, where the package is marked appropriately, is not possible, we can consider explicitly calling out the `Microsoft.AspNetCore.App` package as Implicitly defined, but I am not too keen on that approach.

[2018-04-25 20:30] #9121 closed

[2018-04-25 20:31] natemcmaster commented on #9143
Can PipeBuild be used to provide consistent build numbers between the various legs of the build?

[2018-04-25 21:55] pranavkm commented on #9135
We had a chat about this and the plan is to turn off `PreserveCompilationContext` in the Razor.Sdk for class library projects. We don't fully very confident in making this change for 2.1 since we don't have enough test coverage for this, the plan is to address it as part of 2.2. I'll file a separate issue to see if want to consider addressing the extra refs in a netstandard targeting project with

[2018-04-25 21:55] #9135 closed

[2018-04-25 21:58] KathleenDollard commented on #9062
We need additive feeds for tools to support [Enable tools RID filtering availability #8618](https://github.com/dotnet/cli/issues/8618)

I do not want the same switch name for an additive and an exclusive feed.

That does not mean --source-feed is the best name.

We want to think this through carefully because if we make a change it will be sufficiently close to release that we will not have an opp

[2018-04-25 22:00] richlander commented on #9062
Can you elaborate on #8618? I cannot get enough context from that issue.

[2018-04-25 22:17] RabdPnguin opened #9144 "Inconsistency between : and = for setting command line options."
## Steps to reproduce
dotnet new console -o:"-o" // command works but creates the console app in the current directory.
dotnet new console -o="-o" // command works as expected; creates a "-o" directory and creates a new console app in the "-o" directory.

Why does : work differently than =?

## Expected  behavior
: and = for setting options should work the same.

## Actual behavior

They don't wor

[2018-04-25 22:37] wli3 commented on #9128
That is nice, and there is no number limit

[2018-04-25 23:16] KathleenDollard commented on #9073
yes, I answered to quickly without realizing this was an existing tool.

[2018-04-25 23:18] jcagme opened #9145 "Build failures in 'prodcon/cli/release/2.1.3xx/' - '20180425.02'"
@dotnet-mc-bot commented on [Wed Apr 25 2018](https://github.com/dotnet/core-eng/issues/3368)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1629756
  - **Agent:** DDVSOLINUXAGE003
  - **Error log:** An error occurred while sending the request....

* https://devdiv.visualstudio.com/De

[2018-04-26 03:46] livarcocc commented on #9145
What is this and is this being filed in the CLI? From what I can see in the logs, a bunch of these failed because the ASP.NET runtime we were being told to target could not be found in the blob storage.

[2018-04-26 04:40] wli3 commented on #9062
@richlander this package need to be up to date(as in the same level of SDK). If the rid graph is packed in. A new rid comes out later will not be able to install it. It happened to osx.10.13.

[2018-04-26 04:42] wli3 commented on #9062
https://github.com/dotnet/cli/issues/8436

[2018-04-26 07:16] tmds commented on #9062
@wli3 I'm trying to follow the discussion. Is this correct: currently tools are restored on install using the 'any' rid. There is a desire to use the system rid, to trim the tools on install. This requires a 'Microsoft.NETCore.Platforms' package to figure out the rid graph.

So when @KathleenDollard is saying 'we need additive feeds', this is not a user requirement; but a technical requirement to

[2018-04-26 07:21] mszymankiewicz opened #9149 "Dotnet publish => The 'Publish' target is not supported without specifying a target framework"
## Steps to reproduce
When I use command:
`dotnet publish /p:Configuration=Release`

I get error:
`C:\Program Files\dotnet\sdk\2.1.4\Sdks\Microsoft.NET.Sdk\buildCrossTargeting\Microsoft.NET.Sdk.targets(31,5): error : The 'Publish' target is not supported without specifying a target framework. The current project targets multiple frameworks, please specify the framework for the published applicatio

[2018-04-26 07:56] tmds commented on #9062
@KathleenDollard @livarcocc @richlander can you please update milestone to 2.1.3xx?

[2018-04-26 11:13] dahrari commented on #4357
I'm not even on mac and I'm getting this same error.
If the _dotnet /path/to/dllfile.dll --myapparg_  is run by cron, it throws that error. If I just copypaste the same exact line and run it from bash, it executes successfully.

[2018-04-26 13:25] balachir commented on #9119
Thanks Kathleen. Couple of comments:

1. For **ASP.NET Core 2.0** projects, the text looks fine to me. **One suggestion**: the link [More info on tool usage](https://aka.ms/global-tools) should be an fwlink rather than point directly to https://aka.ms/global-tools.
    - The https://aka.ms/global-tools link points to very generic documentation about .NET Core CLI tools. Given a lot of ASP.NET Core

[2018-04-26 13:34] KathleenDollard commented on #9062
@tmds Yes, you explained the technical scenario: the need for an updated RID graph. And you are also correct on packing dependencies. That original design was to avoid the problem.

The user scenario for system RIDs is somewhat broader: We want to support tools that are platform specific and it supports signing.

 Re confusion (which I thought too much about last night): I think there are two type

[2018-04-26 14:16] tmds commented on #9062
@KathleenDollard @wli3 another technical consideration is .NET Core source-build currently doesn't have a sdk/NuGetFallbackFolder. So additive isn't adding 'Microsoft.NETCore.Platforms'.

[2018-04-26 14:25] kasper3 opened #9152 "Usage in --help does not state correctly how [command-options] should be specified"
## Steps to reproduce

`dotnet -h` shows something like:

[code]

If I am reading it correctly, the `dotnet new console --name myApp --verbosity detailed` should create application with detailed verbosity, right? Since `[command-options]` is listed as the last thing in usage. But it throws error:

[code]

If I use separator:

[code]

then it works.

Then by that logic command-option shouldn't care

[2018-04-26 14:40] balachir commented on #9127
Thanks for the clarifications everyone!

[2018-04-26 14:56] steveharter commented on #9118
cc @janvorli.

@weshaggard  Do we have a supported matrix of ARM64? The current core-setup build for ARM64 just says "Linux (arm64) (for glibc based OS)" and does not have Ubuntu, etc specific builds.

@bbusacker do you get the same errors during "dotnet new" and when building vsts-agent?

[2018-04-26 15:11] janvorli commented on #9118
@bbusacker  This looks strange in the dotnet --info output:
RID: ubuntu.16.04-**x64**
It should have arm64 and not x64 in it. That could explain the invalid instruction thing.

As a workaround, can you try to build and publish for arm64 on an x64 Linux machine and just copy the output to the arm64 one and see if it works? (run `dotnet publish -r linux-arm64` and then grab the contents of the publi

[2018-04-26 15:36] mmitche commented on #9145
@livarcocc We turned on issue filing due to error classification.  I am pretty sure that this is a result of the build definition changes I made.  I think PB_AssetRootUrl was expected to be in the ambient environment in addition to the command line.

[2018-04-26 15:37] balachir commented on #9120
After discussing with Kathleen, we agreed that for this ASP.NET Core 1.1 case, users should see ***an error*** rather than a warning.

Here is the proposed text for the error message:
```DotNetCliToolReference in .NET Core 1.1 or earlier are not supported by this version of the .NET Core SDK. Projects targeting NET Core 1.1 or earlier versions should pin the SDK in global.json. See [[]]```

@Kathl

[2018-04-26 15:38] balachir commented on #9119
I discussed some more with Kathleen offline on Skype, and she and I are on the same page now.

1. For **ASP.NET Core 2.0** projects: we can keep the text below. Note that the "More info on tool usage" part is an fwlink. @KathleenDollard, can you provide a new fwlink to use here?

```Using DotNetCliToolReference to reference 'Microsoft.EntityFrameworkCore.Tools.DotNet' is obsolete and can be remove

[2018-04-26 15:42] livarcocc commented on #9062
Actually, the additive works here because it will then fallback to your NuGet.Config, that by default includes a nuget.org, so, it won't pick that from the fallback folder, but it will find that from internet.

[2018-04-26 15:43] livarcocc commented on #9062
I moved to release/2.1.3xx, but mostly so that we can track the conversation in the milestone, I am not convinced of the change yet! 😃

[2018-04-26 15:43] steveharter commented on #9118
From System.Runtime.InteropServices.RuntimeEnvironment.GetRuntimeIdentifier(): https://github.com/dotnet/core-setup/blob/9dff3ce12574699e6d4d31722047f775d92d05fd/src/managed/Microsoft.DotNet.PlatformAbstractions/RuntimeEnvironment.cs

Unfortunately that currently appears to hard-code "x64" for any 64-bit arch; I'll log an issue for that.

[2018-04-26 16:07] steveharter commented on #9118
Actually, there is a check after calling RuntimeEnvironment.GetRuntimeIdentifier: https://github.com/dotnet/cli/blob/56c10f65c71e070116ca92f55598015a7f7713c1/src/dotnet/Program.cs#L302

that says:
[code]
I don't have a Linux VM available at the moment to check if "ubuntu.16.04-x64" is in the framework's RID graph to know if this code is executed. The RID graph is in Microsoft.NETCore.App.deps.json

[2018-04-26 16:17] livarcocc commented on #9120
I need the actual "more documentation link" in order to be able to close this issue.

[2018-04-26 16:26] livarcocc commented on #9145
Ok to close this one then? Or do you want to use it to track something?

[2018-04-26 16:30] kasper3 commented on #9152
This issue wasn't about changing the behavior, but about adding to usage:

[code]

[2018-04-26 16:30] KathleenDollard commented on #9120
https://aka.ms/sdk1-1-fails-on-sdk2-1

[2018-04-26 16:32] KathleenDollard commented on #9119
Using DotNetCliToolReference to reference 'Microsoft.EntityFrameworkCore.Tools.DotNet' is obsolete and can be removed from this project. This tool is bundled by default in the .NET Core SDK. [See] (https://aka.ms/dotnetclitools-in-box)

[2018-04-26 16:36] livarcocc commented on #9152
But that's not right, as that's not common behavior across the commands (the -- common options). Like I said, even for dotnet new, that's not what is happening. That is not the way to specify verbosity to dotnet new. Everything coming after the -- for dotnet new is blindly passed along to the template. See my example above about using dotnet new -- --foo bar. If you want to know which commands sup

[2018-04-26 16:41] kasper3 commented on #9152
OK, I get it now. Thanks.
`dotnet build -h` shows the verbosity as a first class option, but `dotnet new -h` doesn't.
Should `dotnet -h` not list `--verbosity` as it is not applicable on it?

[2018-04-26 16:42] mmitche commented on #9145
Okay to close

[2018-04-26 16:42] #9145 closed

[2018-04-26 17:42] richlander commented on #9062
I think that downloading a new RID graph is a bad idea to start with. If the existing RID graph in user's SDK doesn't have the right info, tell them to download a new SDK. That's amazingly simple UX. Many customers don't want us downloading arbitrary files over the internet. This will become particularly important as we support local/repo tools that people install in their builds.

Let's not do ma

[2018-04-26 17:42] bbusacker commented on #9118
@steveharter  The cli appears to run until it hits this exception.  It starts to buid vsts-agent until it hits this exception.  I believe this issue occurs in many of the cli commands new, msbuild, etc.

[2018-04-26 17:55] wli3 commented on #9062
@richlander
1. it will not download extra if it is in nuget fall back folder.
2. download new SDK will not solve this issue. You suggest add this step in pack, so the RID graph will be the locked version. As long as new RID is not in the locked rid graph stored in nupkg, I will not install.
3. there is no different than creating a new project and restore it. If you think Microsoft.NETCore.App is a

[2018-04-26 18:07] steveharter commented on #9118
@livarcocc @nguerrera because of the bug in [RuntimeEnvironment.GetRuntimeIdentifier](https://github.com/dotnet/core-setup/issues/4081), could RID fallback not be working correctly, and perhaps installing the x64 packages instead of arm64?

[2018-04-26 18:10] livarcocc commented on #9118
I find that unlikely. The RID fallback happens in NuGet, based on the specified rid of the app (which should say linux-arm64) and the Rid graph in the Platforms package.

[2018-04-26 18:15] janvorli commented on #9118
@bbusacker I've already described how to build on x64 to target arm64 in my comment above:
run `dotnet publish -r linux-arm64` and then grab the contents of the publish folder - the publish will print the path to the console

[2018-04-26 18:57] richlander commented on #9062
I talked to @wli3 ... Here is what I learned:

- `dotnet restore -s` is exclusive with `-s` but does not treat the NugetFallbackFolder as a feed, so consults it, if needed.
- `dotnet tool install --source-feed` needs to be additive because it treats the NuGetFallbackFolder as a feed and needs to consult it for the platform package (the one that contains the RID graph).
- This difference in behavio

[2018-04-26 19:12] peterhuene commented on #9149
Hi @mszymankiewicz,

Thank you for your issue.  The `--framework/-f` option is required when your project targets multiple frameworks.

When you run `dotnet publish` with `-f netcoreapp2.0`, what error are you encountering?

[2018-04-26 19:12] natemcmaster commented on #9120
Can this be scoped to only produce an error for Microsoft.EntityFrameworkCore.Tools.DotNet? This is the only one that is not backwards compatible with .NET Core 1.1. All others should still work just fine.

cc @divega @ajcvickers @bricelam

[2018-04-26 19:13] natemcmaster commented on #9119
If you haven't seen it already, checkout https://github.com/aspnet/Announcements/issues/290. This contains details on the change and  instructions on how to upgrade.

[2018-04-26 20:15] kasper3 commented on #9062
`--add-source` sounds like a  like a really good choice that will (probably) mostly be rename refactoring in terms of implementation.

My suggestion was to also consider a shorthand, `-a` sounds like a reasonable option. However, if this doesn't warrant reserving that shorthand based on the usage/pervasiveness scale, that would be a good reason not to introduce it and instead save this shorthand o

[2018-04-26 20:33] peterhuene commented on #8968
Closing this issue as we have a design in place for Razor that hopefully we can extend to Roslyn and MSBuild in a future release.

[2018-04-26 20:33] #8968 closed

[2018-04-26 21:11] steveharter commented on #9114
@richlander

Probing %PATH% for dotnet.exe is not intuitive and somewhat error-prone as we can't exactly duplicate what the OS does. That's why we added %DOTNET_ROOT%

[2018-04-26 22:05] KathleenDollard commented on #9062
I think we should change the wording only:` --add-source` as new wording for the current `--source-feed` option. No changes to the current design of the feature.

This is a very low risk change.

Assuming the docs are complete in the abbreviations, `-a` is currently used only for `--test-adapter` in the .NET Core CLI. It means "all" in at least the bash `ls` context. I am fine using this abbreviat

[2018-04-26 22:06] sdmaclea opened #9156 "ASP.NET libraries missing from 2.1 ARM/ARM64 SDK builds"
DOTNET_SDK_VERSION  2.1.300-rc1-008662
The 2.1 linux-arm32 & linux-arm64 sdk are missing, libe_sqlite3.so & libuv.so

@RussKeldorph

[2018-04-26 22:28] livarcocc commented on #9156
Then this issue definitely belongs in asp.net.

[2018-04-26 22:58] richaverma1 opened #9157 "Executables compiled with x86 cannot be run because CLI and VS default to x64 version of the SDK"
## Steps to reproduce
Install both x86  and x64 version of the SDK.
Through VS -
1. Create a .Net Core console app. it will target netcoreapp2.0 by default
2. Change platform to x86 and build.
3. Run the app from VS

## Expected  behavior
App should run.

## Actual behavior
'.Net Core Host has stopped working' error message

4. Run from command line, result -
Unhandled Exception: System.BadImageFo

[2018-04-26 23:34] KathleenDollard commented on #9120
After further discussion, there will be a single error message for all cases - #9119.

This is because the problem does not relate to the version of .NET Core being targeted, but the version of EF that is in use.

We cannot be accurate in when this warning message is displayed and it may inaccurately suggest a global.json file, so we will expand the #9119 message to include a link for EF that will

[2018-04-26 23:37] livarcocc commented on #9120
Me, @natemcmaster and @KathleenDollard got together again and decided not do do anything special for a particular TFM, because the TFM is not really the best pivot for this. Instead, we will massage the message a little bit and add more details about pinning if you have EF in the more details page.

[2018-04-26 23:37] #9120 closed

[2018-04-26 23:37] livarcocc commented on #9129
This issue is being tracked internally, as it affects VS only.

[2018-04-26 23:37] #9129 closed

[2018-04-26 23:39] livarcocc commented on #9120
I should have read @KathleenDollard's comment above before writing mine above. Oh, well.

[2018-04-26 23:41] KathleenDollard commented on #9119
This scenario faced by the user is more complicated. It's difficult for us to make recommendations by tool and the recommendation may vary by version of the target of the tool, which we don't know. Thus, I suggest a simple message and a complete explanation in help.

The tool 'Microsoft.EntityFrameworkCore.Tools.DotNet' is now included in the .NET Core SDK.  See  for [information on resolving this

[2018-04-26 23:52] ajcvickers commented on #9120
@KathleenDollard @livarcocc  What are the conditions that trigger this warning?

[2018-04-27 00:08] mattscheffer opened #9158 "Build-server shutdown doesn't get credentials to delete Razor PID file"
## Steps to reproduce
Install latest RC CLI build
In powershell or cmd prompt, run the following:
dotnet new razor
dotnet build
dotnet build-server shutdown

## Expected  behavior
The Razor build server is shutdown and the PID file is deleted

## Actual behavior
Exception is thrown:

PS C:\Users\v-masche\servertests\test3> dotnet build-server shutdown
Shutting down MSBuild server...
Shutting down