[2019-07-13 06:16] nguerrera commented on #11756
As far as drawing the lone somewhere, let's draw it where s.t.json gives us no recourse. It let's us support comments easily.

[2019-07-13 18:32] mayank9804 opened #11874 "How do I publish ASP.NET mvc project from linux using dotnet publish and publish profile?"
<pre>
- dotnet publish WebProj.csproj /p:PublishProfile=&lt;publish_profile&gt;
</pre>
(this according to docs is cross platform)

When i execute this in windows platform, it gets executed successfully and it publishes to desired server, but when I execute it in linux machine, it publishes locally in bin folder but not publish in server.

Publish Method:  **WebDeploy**

**Following is the profile*

[2019-07-13 18:49] wli3 commented on #11756
The "new line" is still not very convening. If we want to be 100% safe, we should duplicate the native json parsing code or just revert the migration. At the same time, as long as it is editable, it is possible to have all the corner cases. Again, why not also allow trailing comma and other options. In the end, I am not convinced we should or should not change it. And I think as long as we do not

[2019-07-13 19:46] aaabbbcccddd00001111 commented on #7610
Using dotnet 3.0.100-preview6-012264 , `dotnet run` takes 8 seconds before my app runs. That is a subsequent run, not the first run. The app is a WPF app.

This delay slows down productivity when developing dotnet app. There is hugh benefit in making `dotnet run` fast.

[2019-07-13 21:22] nguerrera commented on #11756
The practical approach is exactly what I meant by drawing the line where s.t.json gives us no recourse.

[2019-07-13 21:24] nguerrera commented on #11756
Comments should be allowed in any config file that a user can edit. Strictness in trailing commas is a nuisance but not the same as forbidding comments in user hostility.

[2019-07-14 20:44] HKochniss commented on #6923
This, *unfortunately*, is bad advice (at least right now), when using a recent Version of VS 2017. It will get stuck in a Nuget restore loop (I think unconnected to whether one opens the .csproj) and eventually VS will crash and restart. This is with the newest VS 2017 version 15.9.14.
I guess restoring the nuget touches the csproj, and somehow the build variable change retriggers the Nuget restor

[2019-07-15 08:17] shvez opened #12296 "publishing of heterogeneous solution"
Hi, there

we have a solution which contains netstandard assemblies and assemblies targeting netcoreapp and .net classic.
if I publish the solution using netcoreapp for instance, I get errors that some project do not contain netcoreapp target.

would not it be more logical/convenient to publish netstandard assemblies as netstandard because they should work smooth with netcoreapp.  Of course, there

[2019-07-15 08:22] dasMulli commented on #6923
@HKochniss please file an issue on https://github.com/NuGet/Home/ when you have a repro solution.

I tried this with earlier versions only (the answer is from 2018).

Yes it is. I sort of brought this as a joke on a Slack channel but then figured I could post it. There are better options for versioning, e.g. using git based versioning. (Personally I like to use https://github.com/AArnott/Nerdbank.

[2019-07-15 15:56] AliveDevil opened #11898 "Do not autoreference WindowsBase.dll in Microsoft.NetCore.App"
## Steps to reproduce
* Create three projects: 2 winforms, 1 shared project
* Change 1 winform project to `net47`
* Create a file in the shared project with namespace `System.Windows` and try to use `System.Drawing.Point`
Like:
[code]
* Reference the shared project from both winforms projects and see what happens.

## Expected  behavior
This works just fine.

## Actual behavior
This works fine on

[2019-07-15 17:28] livarcocc commented on #11898
@dagood @ericstj since this is about the assemblies factoring in the shared runtimes.

[2019-07-15 17:28] livarcocc commented on #11898
Though, wonder if this should have been resolved by the SDK.

cc @nguerrera @dsplaisted  as well.

[2019-07-15 17:42] peterhuene commented on #11874
@vijayrkn is there anything that would prevent this scenario on Linux with a 2.2 SDK?

[2019-07-15 17:47] ericstj commented on #11898
Here's what I'd expect to happen.  WindowsBase.dll in Microsoft.NETCore.App is autoreferenced.  This never causes an issue since this only has type-forwards for a small subset of the real WindowsBase.dll.   WindowsBase.dll in Microsoft.WindowsDesktop.App is only referenced when UseWPF is true and takes precedent over the one in Microsoft.NETCore.App.  If this isn't happening it sounds like an SDK

[2019-07-15 17:56] vijayrkn commented on #11874
Yes, This wouldn't work in Linux because Web Deploy is windows only.

[2019-07-15 17:58] peterhuene commented on #11874
@vijayrkn there should probably be a publish-time diagnostic message to inform the user of this so understand the limitation.  Do you agree?  If so, I can transfer this to the websdk repo.

[2019-07-15 18:01] nguerrera commented on #11898
I will look at the repro, I expect things to work as @ericstj describes and at least for several cases that I've debugged in the past, this is what I see.  Either something regressed or there's a compounding factor in the repro.

[2019-07-15 18:05] vijayrkn commented on #11874
@peterhuene Agreed. Please move this to WebSdk and we will add a message indicating Web Deploy is windows only.

[2019-07-15 18:07] peterhuene commented on #11874
This issue was moved to aspnet/websdk#781

[2019-07-15 18:07] #11874 closed

[2019-07-15 22:29] nguerrera commented on #11898
The repro project is building fine with preview 7, trying preview 6.

[2019-07-15 22:36] peterhuene commented on #11581
Closed with dotnet/core-setup#6953.

[2019-07-15 22:36] #11581 closed

[2019-07-15 22:42] nguerrera commented on #11898
It does repro with preview 6, the difference being that in preview 6 WindowsBase.dll from Microsoft.WindowsDesktop.App was referenced even when UseWPF=true was not set.

Starting with preview 7, we won't reference WindowsBase.dll by default without UseWPF=true and you can actually compile code like this repro that redefines the meaning of System.Windows.Point. (Strange, by the way, but it will wor

[2019-07-15 22:42] #11898 closed

[2019-07-15 22:52] peterhuene commented on #11650
@DamianEdwards I'm still not able to reproduce this.

The API call is `EndUpdateResource` and the error code is 110 (`ERROR_OPEN_FAILED`).  It seems that some antivirus software may interfere with this API.

As I don't have any MSIT-controlled Windows machines (and it's been a decade since I last did), I don't know what we're using for antivirus on corpnet these days.

Would it be possible to chec

[2019-07-15 22:59] wli3 commented on #11852
@ViktorHofer @nguerrera @dsplaisted  @dotnet/dotnet-cli

Talked to @KathleenDollard offline. We think moving it to tool manifest might be a good idea. Repo owner should have more power than the producer to determine which runtime it should run on. At the same time, it can reduce the pain of the initial update of 3.0 incompact, when all 2.x tools cannot run on 3.0 runtime at the beginning. The repo

[2019-07-15 23:13] richlander commented on #11852
If we're going to enable roll-forward to the manifest, we should first look at modeling it in the same way as `runtimeconfig.json`. Was that already rejected? Are there other runtime arguments you envision?

One option is to use `runtimeconfig.json` syntax in this manifest and then enable updating global tools `runtimeconfig.json` in the same way.

[2019-07-15 23:14] richlander commented on #11852
There is also an option question of whether users want to set this value for every single tool or would like an option for the whole manifest.

[2019-07-15 23:21] wli3 commented on #11852
Good point, it should be close to runtimeconfig.json syntax, instead of commandline. However, that will require sdk to write a file every time, or some “translations ” in SDK layer — that would be a circular dependency from sdk to runtime. To avoid it all together, maybe back to command line instead of manifest file would be better.

[2019-07-15 23:23] peterhuene commented on #11523
@vbfox for 3.0 preview 8, we've implemented a slew of new functionality that gives more fine-grained control over how the .NET Core SDK resolution works.  Here is the [design document](https://github.com/dotnet/designs/pull/71) for the feature.

Unfortunately, version ranges were not in scope for the feature.  However, you can now pin to specific versions without any roll-forward and also prevent

[2019-07-15 23:23] peterhuene commented on #11523
Closing epic now that dotnet/core-setup#6953 has been merged.

[2019-07-15 23:23] #11523 closed

[2019-07-15 23:27] richlander commented on #11852
Can you elaborate? Why would a file need to be written? Yes, I was thinking that the SDK would know how to translate that JSON syntax into the correct commandline arg. That seems reasonable to me and a good model for users, instead of needing to learn two different models for the same thing. No?

[2019-07-15 23:57] KathleenDollard commented on #11852
@richlander It may be a friction point to have the arguments that would appear on the command line in the manifest file, but is it learning a second model? Assuming the values here would be the same ones you'd pass if we add a --tool-runtime-rollforward and we name it something that clearly indicates they are arguments.

[2019-07-16 00:02] richlander commented on #11852
It's just a question on whether the proposed solution is the best one. As a starting point, offering two ways of doing roll-forward for apps does not seem like the best approach. I'd like to see a good reason to depart from the model we already have in `runtimeconfig.json` before we propose another model. I'm looking for a user-centered reason not "implementation complexity".

[2019-07-16 00:04] nguerrera commented on #11852
I just learned this,  and I'm concerned by it, to be honest. I would not expect that my exe gains special command line args if I port from .NET Framework to .NET Core. Or just frankly that anything other than what my Main(string[] args) handles. We will need to be careful about any args we add that might conflict with the app, which would be a breaking change.

[2019-07-16 00:06] wli3 commented on #11852
@vitek-karas
From what I tried, these params need be in front of the dll path. Is that right?

[2019-07-16 00:08] richlander commented on #11852
@nguerrera That's a very valid concern. Some scenarios use `--` for these kind of things. That's not an intuitive pattern for many people, but maybe that's fine for scenarios like this and avoids breaking changes.

For clarity, this concern is logically separate from my concern.

[2019-07-16 00:09] nguerrera commented on #11852
Yes, I wish there was threading support on issue discussion.

[2019-07-16 00:11] nguerrera commented on #11852
The thing is that if I'm calling myapp.exe, we can't use `--` either for this concern. myapp's Main can interpret that too. There's no good position in invocation of myapp.exe to mean args for the runtime, not my app. We would need to pick something that is obscure enough to reserve for runtime args.

[2019-07-16 11:29] vitek-karas commented on #11852
Well - we already shipped with the runtime options on apphost.exe command line, and we actually support quite a few there. The interesting ones are `--additionalProbingPath`, `--additionalDeps` and now the `--rollForward`.
We could change that I guess since apphost.exe is really only a thing since 2.2 and even then it was rather obscure (outside of global tools).

@wli3 For `dotnet.exe` the runtim

[2019-07-16 13:20] saxenark opened #11914 "dotnet test coverage with partially failed tests"
Hi,

I am using .net core 2.2 in my ASP.NET core application. My command line to invoke tests is like so:

dotnet test -v n <path_to_test_csproj> -c Release --no-build --logger:trx /p:CollectCoverage=true /p:CoverletOutputFormat=\"opencover,lcov,Cobertura\" /p:CoverletOutput=<path_to_coverage_results> --results-directory <path_to_test_results>

I have added reference to coverlet like so:
dotnet ad

[2019-07-16 15:38] livarcocc commented on #11914
This issue was moved to microsoft/vstest#2095

[2019-07-16 15:38] #11914 closed

[2019-07-16 15:44] #11756 closed

[2019-07-16 16:17] wli3 opened #11918 "enable all s.t.json options for .runtimeconfig.json"
Per https://github.com/dotnet/cli/issues/11756#issuecomment-511145296

[2019-07-16 16:18] wli3 commented on #11756
Create https://github.com/dotnet/cli/issues/11918 for runtimeconfig.json

[2019-07-16 16:19] hknielsen commented on #10288
I like that its part of the dotnet tool, and local tools. But why not part of the csproj? We got away with the nuget file, but now adding a new file for this feels weird? 🙂

[2019-07-16 16:21] richlander commented on #11852
There are a few separate questions here ...

## Roll forward for tools
1. How should we expose roll-forward to tools? Via the commandline and/or the existing tools manifest?
1. Should we expose a CLI gesture for enabling roll-forward for tools or require manifest editing?
1. Should we expose roll-forward for just local tools (since they have a manifest) or both local and globally installed tools?

[2019-07-16 17:03] jnm2 commented on #10288
@hknielsen To me it's a relief that it's not part of a csproj. I make use of this in a PowerShell build script where there is no one csproj that is more particularly connected to the build script than any other csproj.

[2019-07-16 17:32] KathleenDollard commented on #11852
@nguerrera Can we get the link to the --roll-forward effect on apps in general?

@vitek-karas @mairaw Do we have this documented for customers?

I don't know if it would be worth changing, but I think the chance of colliding with an application switch would be signficantly reduced if we called ig --fx-roll-forward.

[2019-07-16 17:33] KathleenDollard commented on #11852
@richlander I didn't see what you intended in the grep link

[2019-07-16 17:38] nguerrera commented on #11852
Do you mean a link to a separate issue on the potential for app/runtime command line arg conflict? I said I'd file one yesterday evening, but haven't gotten to it yet this morning. Or do you want something else from me here?

[2019-07-16 17:45] tebeco commented on #10288
@hknielsen
`dotnet tool` should not have any relation with `csproj`.
`dotnet tool` are CLI adding it to a csproj would force you to restore all the dependency tree for your business code.
This means :
* the restore time will blow up
* that transitive of the CLI will impact your code (or fail the restore)
* transitive of your code can make the resolution fail

there are scenarios where you want to

[2019-07-16 17:53] nguerrera commented on #11852
I filed https://github.com/dotnet/core-setup/issues/7234

[2019-07-16 18:04] wli3 commented on #11852
a meta conclusion. we find this change would require more discussion to avoid paint us into a corner in the future and it depends on  dotnet/core-setup#7234

we will not rush it to make it into 3.0.100, so i'll remove the blocking release tag

[2019-07-16 18:32] #11812 closed

[2019-07-16 18:35] KathleenDollard commented on #11852
@nguerrera Yep, just realized I was continuing to add to that discussion here.

[2019-07-16 19:00] richlander commented on #11852
@KathleenDollard -- grep has a scheme for separating one form of command-line input from another with `--`. That's what the man page doc says that I linked to. It is similar to the `--` as supported by [dotnet run](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run?tabs=netcore21). If we want to make the separation formal, we need a similar form of delimiter.

[2019-07-16 19:04] richlander commented on #11852
I agree in theory, however, that devolves into "make the runtime switches more obscure and less usable." That seems like a bad tradeoff and evidence of a missing capability.

Also, the runtime switches are intended to map directly to runtime config names, which doesn't require this kind of namespacing.  It doesn't make sense to change our config naming scheme because of a weak commandline model.

[2019-07-16 19:36] peterhuene commented on #10647
@fromorbonia I don't believe the fix we made for 3.0 can be ported to a servicing release as it requires a coordinated change from both the .NET Core SDK and the Web SDK to make work.  Combined with the fact that this isn't a regression from previous versions and there is a simple-enough workaround, it won't meet the servicing bar to backport to the 2.x versions.

With a "go live" preview of the 3

[2019-07-16 19:36] #10647 closed

[2019-07-16 21:07] nguerrera commented on #11852
Let's move the discussion on the collision aspect to dotnet/core-setup#7234

[2019-07-16 21:10] genifycom commented on #11822
So this happens on several developers machines, not just mine. It fails with different files (even with static files that are not being built by the compiler).

Because there are several class libraries, it is difficult to reproduce simply. The problem is it holds up publishing (we have to keep trying to publish until it finally does).

Is there any debugging I can enable to help track this proble

[2019-07-16 21:17] #11705 closed

[2019-07-16 21:17] peterhuene commented on #11705
Both the fix to the `RuntimeList.xml` and for better handling in the .NET Core SDK when there is a missing or invalid `RuntimeList.xml` have been merged.

[2019-07-16 22:38] richlander commented on #11852
I'm going to re-hydrate half of what I wrote earlier now that we have moved the CLI arguments topic out. Here:

1. How should we expose roll-forward to tools? Via the commandline and/or the existing tools manifest?
1. Should we expose a CLI gesture for enabling roll-forward for tools or require manifest editing?
1. Should we expose roll-forward for just local tools (since they have a manifest) or

[2019-07-17 00:15] richlander commented on #11852
I was thinking about this a bit more while I was riding my bike. I think we still have a bit of a problem.

This scenario is clear:

[code]

It may be less clear with local tools:

[code]

The issue is that `--roll-forward` is a directive to dotnet about which runtime to load, however local tools is a CLI concept and the CLI needs to load on a runtime before it can even think about reading the man

[2019-07-17 00:40] nkolev92 commented on #11560
Funny thing is we are now hitting the same issue on one of our build machines:

https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2855648

2.2.302-preview-010246

It hangs in a very similar way.

//cc @donnie-msft has more info.

[2019-07-17 00:42] nkolev92 commented on #11560
it only happens on 1 of our 4 linux machines.
We could log into the machine and running any target on the offending projects hangs.

In our case running /t:clean hung the execution as well.

Any ideas how to debug this? @peterhuene @livarcocc
We have a machine that gets a 100% repro rate somehow.

[2019-07-17 01:48] peterhuene commented on #11560
One thing to quickly check if it's node reuse that is causing the hang by setting `MSBUILDDISABLENODEREUSE=1` in the environment prior to spawning `dotnet`.

Pinging @rainersigwald to see if he can help with any tips for aiding debugging of this issue.

If possible, I would use lldb + sos to dump the CLR threads from each MSBuild.dll dotnet process.

[2019-07-17 09:16] Jepson109 opened #11930 "Restore with waning NETSDK1080 after target the project(mvc/web/webapi) framework from 2.1 to 3.0"
## Steps to reproduce
1.Install .NET Core 3.0 Preview 7 build 3.0.100-preview7-012821
2.Open an existing 2.1 (mvc/web/webapi) project
3.Target the project(mvc/web/webapi) framework from 2.1 to 3.0

## Expected  behavior
Dotnet restore & dotnet build successfully

## Actual behavior
**Dotnet restore  with warning NETSDK1080.** Details as below :
![image](https://user-images.githubusercontent.com/38

[2019-07-17 15:50] livarcocc commented on #11930
This is by design and the error message is stating the actions you can take to fix your project. Have you given that a go?

[2019-07-17 19:32] leecow commented on #11837
Thanks for the feedback. It's possible (likely?) that we'll automatically apply the alias in the future. Also, we're aware of the Omnisharp issue and don't currently have a workaround as it's related to how the MSBuild resolver locates the SDK. https://github.com/OmniSharp/omnisharp-vscode/issues/3160

[2019-07-17 19:52] wli3 commented on #11852
I don't think that is required. Ideally we don't want every users to think about runtime -- what the runtime the tools wants, what runtime the user has installed and what runtime is safe to use. But once the user has to consider it, it is pretty much an expert scenario. And without a CLI gesture is fine. I think most people facing this problem will just install a new runtime.

This is the ambiguou

[2019-07-17 22:10] #9321 closed

[2019-07-18 01:48] winnieryl opened #11940 "dotnet-install.sh does not download correct version on RHEL 6 workstation"
https://dot.net/v1/dotnet-install.sh
this script, at line 151, it does not consider RHEL 6 Workstation, when I run this on rhel6 workstation, it downloads the wrong version fo dotnet runtime.

## Steps to reproduce
prepare a rhel 6 workstation, run dotnet-install.sh to install dotnet runtime

## Expected  behavior
download dotnet runtime rhel6 version

## Actual behavior
does not download the corr

[2019-07-18 02:21] manigandham commented on #11378
Adding this also solves this error in projects that fail to build:

[code]

[2019-07-18 05:58] Jepson109 commented on #11930
@livarcocc I remove the unnecessary PackageReferences when targeting .NET Core 3.0, the project can be restore successfully

[2019-07-18 13:18] kev24uk opened #11945 "Add Ability to specify nuget.config file for dotnet test"
## Steps to reproduce
Run dotnet test against a project or solution which uses nuget packages from a private repository.

## Expected  behavior
Should be able to provide a --configfile parameter (as per dotnet build, restore and publish) and the packages will be restored correctly.

## Actual behavior
There is no parameter to provide a nuget.config file so you have to run a dotnet build or restore

[2019-07-18 14:22] dwillist commented on #9456
It looks like this is happening for the 3.0.100 previews. If we could get a similar +dependencies tag for these preview that would be appreciated.

[2019-07-18 15:14] mmitche commented on #9456
We have yet to publish preview7 to nuget.org, so you'll need to add some dev feeds to make it work.

[2019-07-18 15:22] ylorph commented on #11494
What about the behavior of  "--skip-if-installed " when there is a version mismatch between what's installed and available to install ?

[2019-07-18 16:24] richlander commented on #11852
I don't think so.

We need to give guidance to tools authors. It can be any of:

- Multi-target your tools so that compatible versions are available [My least favorite option].
- Set `<RollForward>Major</RollForward>` in the tool project file [My second least favorite option].
- Tell your users to roll-forward your tool via CLI or config (for local tools).
- Tell your users to install the target r

[2019-07-18 20:16] wli3 commented on #11852
This sounds very complicated. "We tell producer to tell consumer..." Also, the consumer still need to understand the compatibility matrix. I don't think it is a long term solution and we should not spend much effort to "patch" this route.

`dotnet tool run -roll-forward Major dotnetsay 'hi'` it looks good. But in technical side we don't have a good way to tell `dotnetsay` is not a runtime argument

[2019-07-18 20:27] jim-at-survey-com commented on #5959
I had the same issue but my file was capitalized "Nuget.confg" originally and changing it to "NuGet.Config" appears to have worked.

[2019-07-18 20:39] richlander commented on #11852
Unfortunately, we need to. If .NET Core tools become a large ecosystem, then users will hit this problem every day.

Another perfect example is that .NET Core 2.x isn't supported on ARM64 so there is no option to install .NET Core 2.x on those platforms; roll-forward is the only option.

Good question. What error condition did you have in mind?

[2019-07-19 13:13] vnwonah commented on #10819
@peterhuene @livarcocc I can fix this, however, I find there is a test checking that this particular behavior is exhibited at

https://github.com/dotnet/cli/blob/3e26f2daf398be5aacd6194c1a06690c656d0866/test/dotnet-sln-remove.Tests/GivenDotnetSlnRemove.cs#L666

Makes me wonder if there's a reason for the behavior or I can go ahead to fix

[2019-07-19 14:29] TonyKenny666 commented on #6926
I'd like to +1 this because I just spent a lot of time trying to decipher this when trying to add a package to a project. It was only when I came here that I saw additional parameters which are not shown in the error message or in the help. I also assumed the [command] was optional as it's in square brackets, the same as [options].

This request:

`dotnet add ./Web Microsoft.Extensions.Options.Con

[2019-07-19 17:40] peterhuene commented on #10819
Hi @vnwonah.  Thanks for offering to help fix this issue!

I believe the test to be correct for what it tests.  The intention is that if you remove a project and the solution folder containing that project is made empty by the removal, the containing solution folder also gets removed.  If removing the solution folder causes its parent solution folder to now be empty, it gets removed; this process

[2019-07-19 18:27] vnwonah commented on #10819
Ah, I see that now @peterhuene. Thanks for pointing that out. I’ll open a PR when done.

[2019-07-19 18:51] wli3 opened #11952 "Enable comments for tool manifest json"
Enable read is easy. But by the current implementation, all the comments will be removed everytime the tool CRUD command is used

[2019-07-19 19:31] wli3 commented on #11952
@livarcocc @nguerrera

The current API available is the lowest-level. Like the following. The higher level API like jsondocument and deserialize will current ignore or remove them when write.

I don't think I can easily re-write read and write using the lower-API in time. Do you think we should "unblock + document but will remove all comments if the user ever used CRUD command" or block writing co

[2019-07-19 19:58] #11918 closed

[2019-07-19 20:16] johnbeisner commented on #6896
Implemented for Visual Studio 16.3 Preview 1
https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/186888

[2019-07-19 20:16] #6896 closed

[2019-07-19 20:53] nguerrera commented on #11952
I'm willing to wait and see past 3.0 RTM on this. Since we can always add comment support, but can't remove it, we can leave it out of the first version of local tools. We should monitor feedback and relay to corefx to give us a DOM like API that we can read/write and preserve comments as I can do with System.Xml.

I think our general principle should remain that we are permissive in files that us

[2019-07-19 21:15] johnbeisner commented on #11626
@damageboy
I've run a similar test like the one you have described; we are going to take this change. Thank you for your contribution.

[2019-07-19 21:16] #11626 closed

[2019-07-19 21:17] wli3 commented on #11952
filed https://github.com/dotnet/corefx/issues/39631

[2019-07-19 22:27] nguerrera commented on #11952
So it turns out that Json.NET makes this hard too. Without this capability available, I think JSON isn't well suited to documents maintained by a mix of humans and machines. Even without comments, reformatting everything will make noisy diffs. XML stack handles this all very well.

[2019-07-19 22:28] nguerrera commented on #11952
Anyway, enough venting on that, I don't think we need to be concerned about the push back. Waiting and seeing what feedback we get on this is still a viable approach. If we get enough we can return to that issue and point to it. If we don't get the feedback, then we can leave it without comment support.

[2019-07-20 00:04] peterhuene opened #11956 "Deps file and runtimeconfig are not regenerated upon assets cache invalidation."
## Steps to reproduce

On Windows with an x64 SDK installed:

1. `dotnet new console`
2. `dotnet build -r win-x64`
3. Run `bin\Debug\netcoreapp3.0\win-x64\foo.exe` (expected: it prints "hello world").
4. `dotnet build -r win-x86 /p:SelfContained=false --no-restore`
5. Run `bin\Debug\netcoreapp3.0\win-x64\foo.exe`

## Expected  behavior

The application should run as a framework-dependent applicati

[2019-07-20 16:26] richlander opened #11961 "Preview link points to an unhelpful page"
I see this message all the time (I only run previews) …

[code]

I’d never actually taken the time to try out that link. It lands @ https://docs.microsoft.com/en-us/dotnet/core/tools/global-json

That’s not at all helpful. I was expecting a page dedicated to previews, and how to use previews in Visual Studio if you are using that product. Global.json is a small part of the preview experience. It’s

[2019-07-20 20:53] #11956 closed

[2019-07-21 00:21] dtivel opened #11964 "dotnet-install.sh: fails on macOS"
## Steps to reproduce
On macOS open bash shell and execute:
[code]
## Expected  behavior
Install will succeed.

## Actual behavior
[code]

The root problem is [this change](https://github.com/dotnet/cli/commit/7a1afb7e707e44fd3a3c6e0dd81dc92aa9b7f7d9#diff-3385102241bcd3718b9ca13a0c55b9afR615).  On macOS `cp` does not have a `--remove-destination` option.

[2019-07-22 11:10] xavierdecoster opened #11969 "dotnet list package --deprecated"
Tracking issue for adding support for `dotnet list package --deprecated` to the CLI (to be forwarded to NuGet xplat CLI commands).

[NuGet CLI spec](https://github.com/NuGet/Home/wiki/Deprecate-packages#cli)

[2019-07-22 17:17] rainersigwald commented on #11560
I'd also be curious whether it works or produces a better error with `-m:1`.

[2019-07-22 18:35] livarcocc commented on #11961
@KathleenDollard

[2019-07-22 18:37] enricoreich commented on #11560
Hello,

Unfortunately the same problem:
`dotnet build -v:diag > diag-3.0.100-preview8-013380.txt`: [diag-3.0.100-preview8-013380.txt](https://github.com/dotnet/cli/files/3418722/diag-3.0.100-preview8-013380.txt)

`dotnet build -m:1 -v:diag > diag-3.0.100-preview8-013380_m1.txt`: [diag-3.0.100-preview8-013380_m1.txt](https://github.com/dotnet/cli/files/3418751/diag-3.0.100-preview8-013380_m1.txt)

[2019-07-22 19:08] TravisEz13 commented on #11626
This change doesn’t work on macOS.  This switch doesn’t exist.  Can we revert or switch around the OS?

[2019-07-22 19:42] johnbeisner commented on #11964
@dtivel
@zivkan
Thank you for reporting the BUG

These are the officially supported locations for 'dotnet-install':
https://dot.net/v1/dotnet-install.sh
https://dot.net/v1/dotnet-install.ps1
You can use the versions directly from the CLI repo; however, you will less consistent results as you will be using the 'developmental' versions.

[2019-07-22 19:52] johnbeisner commented on #11964
Related: https://github.com/dotnet/cli/pull/11974

[2019-07-22 20:36] #11964 closed

[2019-07-23 10:38] Shuenhoy opened #11977 "`dotnet-watch run` fails when there are access-denied folders"
## Steps to reproduce

[code]

## Expected  behavior
`dotnet-watch` should ignore the `test` folder.

## Actual behavior
`dotnet-watch` fails with exception `System.UnauthorizedAccessException: Access to the path 'test' is denied. ---> System.IO.IOException: Permission denied`

## Environment data
`dotnet --info` output:

[code]

[2019-07-23 10:55] damageboy commented on #11626
Sure thing!

On Mon, 22 Jul 2019, 22:08 Travis Plunk, <notifications@github.com> wrote:

[2019-07-23 15:28] johnbeisner commented on #11626
https://github.com/dotnet/cli/pull/11974

[2019-07-23 17:09] livarcocc commented on #11977
@anurse can you move this issue to asp.net? In the CLI, we just take a package for this verb from asp.net.

[2019-07-23 17:30] anurse commented on #11977
This issue was moved to aspnet/AspNetCore#12484

[2019-07-23 17:30] #11977 closed

[2019-07-23 17:38] TravisEz13 commented on #11626
@damageboy yeah, I submitted #11974 to fix this

[2019-07-23 17:43] Thaodan opened #11981 "[Linux] Don't use dot folder comply by XDG Base Directory Specification"
Currently SDK files get installed into _~/.dotnet_ on Linux.
However this outdated, apps should follow the XDG Base Directory Specification.
This isn't an issue of the CLI (I think), as this about setting the defaults for Linux.

[2019-07-23 18:05] peterhuene commented on #11981
This is the [specification to follow](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html).

We could implement this such that if `~/.dotnet` is present, continue to use it (thus backwards compatible).  Otherwise, on linux, we would stick it in the appropriate place.

This would impact global tools on the PATH, though.

[2019-07-23 20:03] Thaodan commented on #11981
Why should this affect tools on PATH?

I think data should be migrated if troubleshouting guides will
always have a if then.
This anyway something that affects Windows and macOS in
a way because the have similar standards.

[2019-07-23 20:09] peterhuene commented on #11981
Because some of the installers put `~/.dotnet/tools` on PATH for user-specific installed global tools.  If we would support both the legacy and the correct location, then both locations would need to be put on PATH.

[2019-07-24 00:24] nguerrera commented on #10682
This is done.

[2019-07-24 00:24] #10682 closed

[2019-07-24 00:56] nguerrera commented on #8477
.NET Core msbuild cannot resolve COMReference or resolve references from the GAC.

You will need to use the full framework version of MSBuild at this time. It is still possible to publish on the command line using msbuild.exe instead of msbuild.

Use `msbuild /restore /t:Publish` instead of `dotnet publish`.

[2019-07-24 00:57] nguerrera commented on #8477
Duplicate of https://github.com/microsoft/msbuild/issues/3986

[2019-07-24 00:57] #8477 closed

[2019-07-24 01:11] nguerrera commented on #8290
Duplicate of https://github.com/dotnet/corefx/issues/28021

[2019-07-24 01:12] nguerrera commented on #8290
This should be fixed now (see corefx duplicate).

[2019-07-24 01:12] #8290 closed

[2019-07-24 10:05] StefanOssendorf opened #11986 "dotnet build fails with stack overflow in .Net Core 3.0 Preview 7"
This problem occurs only with Preview 7 (exact version see below). With sdk version 3.0.100-preview6-012264 everything works as expected.

## Steps to reproduce
Have a big solution (90 projects) with a couple of postbuild copy-steps in some projects (e.g. copy 80 files from A to B).

Commands used:
`dotnet restore <Solution>`
`dotnet build <Solution> --no-restore`

## Expected  behavior
`dotnet bu

[2019-07-24 12:58] hillin commented on #11986
Could this be related to https://github.com/microsoft/msbuild/pull/2079 ?

The same error randomly breaks builds on our side, it does produce  correct assemblies tho.

[2019-07-24 13:11] StefanOssendorf commented on #11986
Don't think so. The build is not finished at that moment (other projects still need to be build) and this crash is reproducable. Mean every build with preview 7 crashes in this way.

[2019-07-24 14:57] rpc-scandinavia opened #11990 "dotnet publish assembly with whitespace in filename"
## Steps to reproduce
1) In a "netcoreapp3" application, comsume a "netstandard2.1" library assembly (DLL) with spaces in its names (project directory, csproj-file and build assembly).

2) Restore, build and publish:
dotnet  publish  --self-contained true  --configuration release  --runtime "linux-x86"  --output "../bin.release"

3) Execute the application, which gives this exception:

[code]

But

[2019-07-24 15:29] rpc-scandinavia commented on #11990
Sorry, just tried with "3.0.100-preview7-012821" and now it works with the whitespace assemblies.

[2019-07-24 15:29] #11990 closed

[2019-07-24 16:28] Heneman commented on #5606
How has this been sitting around for 2 1/2 years? @livarcocc Any update on this?

[2019-07-25 01:12] WardenGnaw opened #11994 "dotnet restore fails with RuntimeFrameworkVersion specified"
## Steps to reproduce
When specified `<RuntimeFrameworkVersion>3.0.0-preview7-27912-14</RuntimeFrameworkVersion>`, `dotnet restore` fails

## Expected behavior
Downloads `3.0.0-preview7-27912-14` for `Microsoft.NetCore.App.Runtime.linux-arm64` and `3.0.0-preview7.19365.7` for `Microsoft.AspNetCore.App.Runtime.linux-arm64`

## Actual behavior
Errors with
`Unable to find package Microsoft.AspNetCore

[2019-07-25 10:29] hillin commented on #11986
Some observations:

- MSBuild_pid-*.failure.txt files with the same content are generated by preview 6, too. They are just not reported as errors.

- The content of these files, generated by preview 6 and preview 7, is either

or

[2019-07-25 10:46] bolner commented on #7610
It could have an `execute` option, like `dotnet execute` in which case it would read the location of the already compiled file from a cached text file. It would update that file after each build or run. Then it would not need to parse through the folders searching for files and file changes.

[2019-07-25 10:48] hillin commented on #11986
I'm reporting this issue to the msbuild project, which seems more relatable:
https://github.com/microsoft/msbuild/issues/4546

[2019-07-25 11:00] rpc-scandinavia opened #11997 "Error with blazor when moving the BIN folder"
## Steps to reproduce
Create new Blazor clientside demo project:

1)
dotnet  new  -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview7.19365.7

2)
dotnet  new  blazor  --name "Test Blazor Client"

3)
Use this CSPROJ file:

[code]

4)
dotnet  build (OK)

5)
dotnet  run (EXCEPTION)

## Expected  behavior
I expect that "dotnet run" works.

## Actual behavior
The "dotnet run" gives this exception:

[2019-07-25 12:05] rpc-scandinavia commented on #11997
I made this work around, which copies the files after build:

[code]

[2019-07-25 15:41] johnbeisner commented on #11940
Workstation:
 /etc/redhat-release
 Red Hat Enterprise Linux Workstation release 6.2 Beta

 Client:
 /etc/redhat-release
 Red Hat Enterprise Linux Client release 5.9 (Tikanga)

 Server:
 /etc/redhat-release
 Red Hat Enterprise Linux Server release 5.9 (Tikanga)

[2019-07-25 17:12] livarcocc commented on #11994
@dsplaisted can you comment on the proper way to do this now?

[2019-07-25 17:14] livarcocc commented on #11997
@mkArtakMSFT  this seems like an asp.net issue. Could you move it to aspnet/aspnetcore?

[2019-07-25 18:01] peterhuene commented on #11986
Thanks @hillin.  I agree, this belongs on the MSBuild repo.  Closing this issue for now.

[2019-07-25 18:01] #11986 closed

[2019-07-25 18:12] mkArtakMSFT commented on #11997
Thanks @livarcocc.
Can you please move this over using https://hubbup.io/mover ?

[2019-07-25 18:13] mkArtakMSFT commented on #11997
This issue was moved to aspnet/AspNetCore#12580

[2019-07-25 18:26] #11940 closed

[2019-07-25 18:46] rpc-scandinavia commented on #11997
Ok, thank you @mkArtakMSFT.

[2019-07-25 19:00] livarcocc commented on #11997
Closing this one.

[2019-07-25 19:00] #11997 closed

[2019-07-25 19:13] wli3 opened #12004 "Finish content for https://aka.ms/failure-installing-tool"
it is pointing to generic https://docs.microsoft.com/ for now. We need to add guide for first party tool rename. _dotnet-MYTOOL_ to _microsoft.dotnet-MYTOOL_

[2019-07-25 19:26] wli3 opened #12005 "official documentation for DotNetCliToolReference netcoreapp2.2 cap"

[2019-07-25 19:47] dsplaisted commented on #11994
If possible, I would recommend simply not setting `RuntimeFrameworkVersion`, and letting the SDK select the version to use.

The problem is that the preview versions for .NET Core and ASP.NET Core don't match.  The SDK knows which versions to use by default, but if you try to specify a specific version, there's no way to look up which version of ASP.NET Core would correspond to the specified .NET

[2019-07-25 20:30] peterhuene commented on #10692
I believe this has been fixed with microsoft/msbuild#4418.  I believe the original problem was that MSBuild wasn't discovering related items for WinRT C++ projects.

If there are additional cases of .winmd or the implementation .dll not being copied locally for .NET Core projects, would you mind reopening this issue with the repro steps that demonstrate the issue?  Thanks!

[2019-07-25 20:30] #10692 closed

[2019-07-25 21:19] reyou opened #12008 "Execute .sh (bash scripts) file via “/bin/bash” in Linux with .NET Core"
## Steps to reproduce

https://stackoverflow.com/questions/57209915/execute-sh-bash-scripts-file-via-bin-bash-in-linux-with-net-core

## Expected  behavior

make my application open a new terminal window and run sample.sh

## Actual behavior

[code]

## Environment data
OS: Linux 4.15.0-48-generic #51-Ubuntu
Framework: .NET Core 4.6.27817.03
`dotnet --info` output:

[code]

[2019-07-25 22:07] richlander opened #12009 ".NET Core 3.0 SDK cannot build 2.1 webapp projects"
Our initial philosophy with the .NET Core SDK was that “the latest SDK is always good enough to build your projects.”

I realize that the UX I am seeing is due to the Razor compiler. I’m starting with this repo to validate the product philosophy. I consider this to behavior to be undesirable. Has any thought been put in place to ensuring that the latest SDK can reliably build projects that target

[2019-07-25 23:33] livarcocc commented on #11619
This is done now.

[2019-07-25 23:33] #11619 closed

[2019-07-26 00:02] livarcocc commented on #12009
Our agreement is that the latest SDK can target older TargetFrameworks.

If your application requires older runtimes to run or requires tools that require said older runtimes, you should do the work to acquire them.

Regarding the particular razor failure, I would file an issue on asp.net for it, it might be a more productive conversation.

[2019-07-26 00:11] livarcocc commented on #9804
Roslyn only stabilizes their packages later in the cycle, so we can't really react to that in time and do an insertion into VS. For now, this is expected.

[2019-07-26 00:11] #9804 closed

[2019-07-26 00:12] livarcocc commented on #11616
@johnbeisner what is the conclusion here?

[2019-07-26 00:14] richlander commented on #12009
K. I wanted to validate that we still had the same philosophy in place. I read that we do. I’ll close this issue and re-open one in the ASP.NET repo. Thanks!

[2019-07-26 00:14] #12009 closed

[2019-07-26 00:17] #10941 closed

[2019-07-26 00:23] WardenGnaw commented on #11994
We will have to go with the `FrameworkReference` solution while coreclr 3.0 is in preview.

Sadly, not specifying `RuntimeFrameworkVersion` would make it difficult to diagnose coreclr issues with different debugger releases.

[2019-07-26 00:23] #11994 closed

[2019-07-26 00:24] donnie-msft commented on #11560
Our Build issues were resolved by setting `MSBUILDDISABLENODEREUSE=1` in [this PR](https://github.com/NuGet/NuGet.Client/pull/2956).

Thanks for the suggestion, and I've referenced an issue to revert this fix once this Issue is closed.

[2019-07-26 00:56] dougbu commented on #11378
@dsplaisted and @livarcocc, something seems to have regressed related to this bug in the VS 16.x versions on our BYOC agents. At least the problem feels similar though the dependency relationship is reversed.

For example, we've got a dependency update PR (aspnet/Extensions#2082) that hits the following error in a .NET Standard **2.1** project that references a project targeting both .NET Standard

[2019-07-26 00:57] dougbu commented on #11378
Separately, we have workaround 2. in our AspNetCore repo. Should I attempt to _remove_ that or expect the new issue to show up?

/cc @aspnet/build

[2019-07-26 02:39] dsplaisted commented on #11378
The new issue will be fixed with this: https://github.com/dotnet/sdk/pull/3463

[2019-07-26 13:23] kjpou1 opened #12115 "Failure: System.NotImplementedException SDK 2.1.801"
We ran into a possible regression in the mono CI after moving to 2.1.801.  PR in the mono repo can be seen here that fixed the problem: [PR 15844](https://github.com/mono/mono/pull/15844)

This code has been compiling for a while.

A small repro is below.

**Version Used**:

Mac

[code]

[code]

**Steps to Reproduce**:

1. Create a new netstandard2.0 library - `dotnet new classlib`
2. Replace with

[2019-07-26 19:22] peterhuene commented on #11650
I'm updating the `CreateAppHost` task to be more resilient to a temporarily locked intermediate apphost, like MSBuild handles file copying. Hopefully this will help alleviate this problem.

[2019-07-27 00:02] #11969 closed

[2019-07-27 04:47] Sewer56 commented on #11250
Although this is not officially supported, as said. I would like to point out that this official hosting sample works around it by wrapping a C++ project around a .csproj container: https://github.com/dotnet/samples/tree/master/core/hosting/HostWithHostFxr

At the very least, for now it can serve as an idea.

[2019-07-27 13:14] redwyre commented on #6019
Just got bitten by this in .net 4.7.2, I wrote `AssemblyLoadContext.Default.LoadFromStream` and visual studio _suggested_ installing System.Runtime.Loader, which succeeded, but nothing changed.

[2019-07-28 22:40] hiyadav opened #12055 "new `SDKS` property in releases.json for channel 2.2"
I saw that 'sdks' property was recently introduced in channel 2.2 releases.json. This property contained an array of sdk objects as part of the same release.

This lead to customers being broken in Use .Net Core task, which used to look at the sdk property of the release object to find the url for sdk download. As only one sdk 2.2.301 was exposed in sdk object, while 2 other sdk's were only presen

[2019-07-28 22:40] danmosemsft commented on #12055
I wanted to move this issue into core-sdk, but github won't allow as apparently I don't have write permission to it.

[2019-07-29 03:13] winnieryl commented on #11940
Thanks for the fix, waiting to download it from website.

[2019-07-29 03:26] AArnott opened #12057 "`dotnet tool install` should accept switch to specify *only* nuget source"
The `dotnet tool install` includes an optional `--add-source` parameter, but when run in the context of a nuget.config file it's impossible to *ignore* those sources with the command line.

For a script that installs a tool, that script will be unreliable because based on the directory in which it is run, and a nuget.config file that includes feed sources that require authentication and for which

[2019-07-29 03:28] AArnott opened #12058 "`dotnet tool install --tool-path X Y` fails on Azure Pipelines Mac/Linux Hosted agents"
The `dotnet tool install --tool-path some/path some-tool` command fails on Mac and Linux Hosted agents in Azure Pipelines:

Failed to create shell shim for tool 'nbgv': Failed to create tool shim for command 'nbgv': Access to the path '/Users/vsts/agent/2.154.3/work/1/s/azure-pipelines/obj/tools/nbgv' is denied.
Tool 'nbgv' failed to install.

This happens regardless of what path is given, as I've

[2019-07-29 12:52] AArnott commented on #12058
User error. My script was creating a directory at the very position that the tool was supposed to be created.

[2019-07-29 12:52] #12058 closed

[2019-07-29 15:31] livarcocc commented on #12055
I am not sure what is the right repo for this really. Core-sdk does feel more appropriate. In any case, this is not something that my team does, so tagging @leecow to respond/take  a look.

[2019-07-29 15:33] livarcocc commented on #12055
@hiyadav there were three SDKs release because they cover multiple releases of VS. We released one SDK for VS 15.9, one for VS16.0 and one for VS 16.1. We need to do that because each version of VS carries versions of components that the SDK also carries (NuGet, Roslyn, MSBuild) and that must match between VS and the SDK for those things to work together.

Also, any reason why you are using the re

[2019-07-29 15:36] livarcocc commented on #12057
cc @wli3

[2019-07-29 20:05] wli3 commented on #12057
Original discussion is here https://github.com/dotnet/cli/issues/9062
And More context. We need nuget.org to be in the source so `Microsoft.NetCore.Platforms` can be restore and to decide the right RID asset to use. However [a recent feature](https://github.com/dotnet/sdk/pull/3406/files) made this not necessary. We need to do similar change to tools.

For you specific issue, try `--ignore-failed-

[2019-07-29 22:27] VictorioBerra opened #12072 "I can not run any dotnet tool installed with --tool-path"
I am trying to configure my build environment to download and run my tools in a local directory so I dont blow up anyone elses builds. I have tried all of the following:

[code]

You can see nothing I try works. This is with a fresh install of the latest core. I even try and set the `env:path`.

Should I be installing the tool differently in order to use it in my build environment?

[2019-07-29 22:40] peterhuene commented on #12072
Hi @VictorioBerra.  Thank you for reporting this issue to us.

You can run the app with `.\tools\dotnetsay.exe` or after you add it to your path, simply `dotnetsay`.

As the tool is not prefixed with `dotnet-` (e.g. `dotnet-dotnetsay`), it can't be run as `dotnet dotnetsay`, only as `dotnetsay`.

I'm going to close this issue as by design.  If neither of the above solutions work for you, please re

[2019-07-29 22:40] #12072 closed

[2019-07-30 00:09] wli3 commented on #11578
the same issue as https://github.com/dotnet/sdk/issues/3471

[2019-07-30 00:10] wli3 commented on #11578
More info here https://github.com/dotnet/sdk/pull/3473#issuecomment-516169229

[2019-07-30 00:45] wli3 commented on #11578
It is not really related to target framework. It is actually due to the following logic. When GeneratePackageOnBuild=true, it will skip the build step. So there is no built dll to pack.

https://github.com/NuGet/NuGet.Client/blob/ad3e1a24a5fcf3fe5d062c4fef854a97932e11d6/src/NuGet.Core/NuGet.Build.Tasks.Pack/NuGet.Build.Tasks.Pack.targets#L51

@nkolev92 this is issue an I am thinking to no fix. See

[2019-07-30 01:17] #10581 closed

[2019-07-30 01:17] #10442 closed

[2019-07-30 17:50] trondhindenes commented on #9114
as a user who just supports dev teams I can't express how much confusion and frustration dotnet CLI causes. There's so much mess. We use the dotnet install scripts (https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script) on Linux and making this all work with multiple frameworks/cli versions is just a mess. Please improve so we don't have to waste time getting seemingly simple th

[2019-07-31 05:48] aaabbbcccddd00001111 opened #12089 "Integrate Xamarin.Android project"
Is it possible to integrate Xamarin.Android project with .NET CLI ?
So that we can use .NET CLI to create and build Xamarin.Android project.

[2019-07-31 07:36] alexrp opened #12090 "PublishSingleFile=true and PackAsTool=true in csproj do not play well with dotnet pack"
## Steps to reproduce

* `dotnet new console -n test -o .`
* Add `<PackAsTool>true</PackAsTool>` and `<PublishSingleFile>true</PublishSingleFile>` to `test.csproj`
* `dotnet pack`

## Expected behavior

As I understand it, .NET Core tool packages are RID-agnostic, so `PublishSingleFile` should be ignored by `dotnet pack` and only be observed by `dotnet publish`. I am not sure what the behavior sho

[2019-07-31 07:46] alexrp commented on #12090
On a perhaps related note, if you replace the `PublishSingleFile=true` with `PublishTrimmed=true`, you get a similar issue:

[code]

Again, it seems like `dotnet pack` should ignore this property if it's not relevant.

[2019-07-31 09:15] liesauer commented on #11713
try this tool [NetCoreBeauty](https://github.com/nulastudio/NetCoreBeauty)

[2019-07-31 12:52] FrameBassman commented on #8806
I "fixed" it via remove `dotnet clean` before `dotnet build` in my Dockerfile

[2019-07-31 14:12] dbsanfte commented on #8368
Sorry, it's a bit unclear whether the original complaint was ever addressed.

Does dotnet now set the PATH correctly for globally installed tools in the original scenario, or must we add `--tool-path .tools` to get it to work?

[2019-07-31 14:56] livarcocc commented on #12090
I am not sure silently ignoring an option is the right choice here, as it will cause confusion when the thing the user wanted to happen does not happen.

The issue here is that trimming is only supported for self-contained apps while packastool is support for framework dependent apps. If you are trying to use packastool, I would say for you to follow the error message recommendation and remove tri

[2019-07-31 16:30] KathleenDollard commented on #8368
@dbsanfte The problem with needing to restart the shell is in how some shell/OS's work. That waste original issue. This only needs to be done once, after installing the .NET SDK.

I'm not sure that's the issue you're referring to.

[2019-07-31 18:55] johnbeisner commented on #11940
@winnieryl
We have uploaded this to: https://dot.net/staging/dotnet-install.sh
Can you see if this addresses your issue.

[2019-07-31 21:14] schuettecarsten opened #12099 "Feature Request: look for global.json file next to sln file"
Currently, dotnet looks for `global.json` file in the current directory (ref: https://docs.microsoft.com/de-de/dotnet/core/tools/global-json). If you put the `global.json` next to your solution sln file and call then `dotnet build` with a sln file parameter that uses a subfolder or a full qualified folder name, the `global.json` is not used.

I suggest that - if dotnet is called with a sln file -

[2019-07-31 21:20] nguerrera commented on #12099
Duplicate of https://github.com/microsoft/msbuild/issues/4564

[2019-07-31 21:20] nguerrera commented on #12099
It was in the right repo already.

[2019-07-31 23:14] alexrp commented on #12090
That's the thing though, I *don't* want trimming or self-contained packaging to happen when doing `dotnet pack`, only when doing `dotnet publish`. As part of my build process, this package is published both as a tool package for NuGet and as a self-contained app to be released on GitHub.

Of course, I could just remove `PublishSingleFile` and `PublishTrimmed` from the project file and specify them

[2019-08-01 04:37] livarcocc commented on #12090
But the issue is that a user specifying these properties and then running pack might spec that these properties will work for pack, unless something happens, which is what we are doing. This is the last surprising behavior: I set some configuration, if it does not work with the command I am running, tell me, don't silently ignore said configurations and let me scratching my head to understand whic

[2019-08-01 06:01] winnieryl commented on #11940
@johnbeisner
Hi, Yes this works!
Thanks

[2019-08-01 06:59] alexrp commented on #12090
Well, I'm not saying they should necessarily be *silently* ignored. A simple warning would suffice, I'd think. There's precedent for that too with e.g. the `ApplicationIcon´ property:

[code]

Alternatively, if there was a way to set these properties in the project file based on which publish command is being executed, that would be fine too.

[2019-08-01 07:03] alexrp commented on #12090
In any case, I would have to say that, for me, the most surprising behavior here is the fact that these properties (whose names starts with `Publish`) are being observed by the `dotnet pack` command *at all*. From my perspective as a user, packing and publishing have nothing whatsoever to do with each other. It may be the case that they share some MSBuild logic under the hood, but I don't think th

[2019-08-01 15:09] nguerrera opened #12110 "SDK resolver does not work with snap installations of SDK on Linux"
See https://github.com/OmniSharp/omnisharp-vscode/issues/3160

When installed via snap:

[code]

Then `dotnet` on PATH resolves to a realpath of /usr/bin/snap and not to a dotnet executable next to the sdk foler.

This breaks an assumption of the resolver that we can use realpath on dotnet on PATH to find the SDK.

We could maybe implement something like the much slower option of shelling out to d

[2019-08-01 15:30] nguerrera commented on #12110
cc @leecow @wheelerlaw @livarcocc

[2019-08-01 22:17] wli3 commented on #11650
I have a repro too during app building on blazor server app, but not consistent. I ran `git clean -fxd`. and open the sln with VS then F5.

[code]

[2019-08-01 22:27] peterhuene commented on #11650
Would it be possible to use procmon to see if we can figure out who is opening the file?  I've never been able to reproduce the issue in a VM.

[2019-08-01 22:40] wli3 commented on #11650
good point, let me try several times more

[2019-08-01 23:15] lulzzz commented on #11560
Same issue.

Using Azure DevOps Hosted ubuntu 16.04 fails to restore packages in private feeds.
dotnet core 3 preview 7

[2019-08-01 23:30] #12115 closed

[2019-08-01 23:30] peterhuene commented on #12115
Issue moved to [dotnet/roslyn #37667](https://github.com/dotnet/roslyn/issues/37667) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-01 23:48] mattscheffer opened #12116 "Global.Microsoft.VisualBasic.MyServices.Internal.ContextValue is not defined in VB .NET core class library projects"
## Steps to reproduce
Open a command prompt with cli.
Create a new VB Class Library using .NET Core 3.0:
dotnet new classlib -f netcoreapp3.0 -lang vb -n test1
Build via: dotnet build

## Expected  behavior
Library builds correctly.

## Actual behavior
Library fails to build with the following error.
vbc : error BC30002: Type 'Global.Microsoft.VisualBasic.MyServices.Internal.ContextValue' is not d

[2019-08-01 23:59] peterhuene commented on #12115
Whoops, didn't notice this was previously transferred from Roslyn.  This isn't a CLI issue:

[code]

[2019-08-02 21:48] elvisFabian opened #12124 "dotnet test LogFileName break change in 2.2.300"
The last docker image `mcr.microsoft.com/dotnet/core/sdk:2.2` upgrade **DOTNET_SDK_VERSION** to **2.2.300**

## Steps to reproduce
- Create multiples test projects
- run: `dotnet test --logger "trx;LogFileName=TestResults.trx"`

## Expected  behavior
Create a unique file name per test project

## Actual behavior

**Using DOTNET_SDK_VERSION=2.2.202**
[code]

**Using DOTNET_SDK_VERSION=2.2.300**
[co

[2019-08-03 13:17] TFTomSun opened #12129 "CLI option to Build with full .NET Framework MSBuild"
I'm currently trying to build a net472 application that has a ComReference. ComReferences are not yet support by the msbuild that is integrated in the dotnet core sdk.

I would like to propose a feature that allows us to use the dotnet cli to spawn a full .net framework MSBuild process. Something like

I think it wouldn't be a big issue to implement this. But it would help the developers to prepar

[2019-08-03 18:24] dasMulli commented on #12129
I recommend using vswhere to get the MSBuild location - https://github.com/microsoft/vswhere

I think this has come up before for both VS msbuild and Mono's msbuild. Personally I believe it would be a good tool (global / local tool), but shouldn't be part of the core .NET CLI.

Another interesting question: Should the CLI only resolve to a version of MSBuild that in turn is compatible with the SDK

[2019-08-03 22:51] DanielRuf commented on #9594
Is this still relevant for 6.5.3?

[2019-08-04 10:39] TFTomSun opened #12134 "Why does dotnet update reinstall the existing version?"
`dotnet update -g MyTool `
seems to reinstall the tool, which takes quite long. What I wish is just an check for a newer version, and install it if available. Is there any undocumented flag to achieve that?

[2019-08-04 10:53] TFTomSun commented on #12129
Since vswhere is a bit complicated to use, i've created a global tool msbuild-net for me. The code can be found here:
https://github.com/microsoft/vswhere/issues/196

[2019-08-04 11:54] 3F commented on #12129
@TFTomSun, In the past I had a similar problem before vswhere distribution together with VS:

* https://github.com/Microsoft/vswhere/issues/41

Finally, after some decision for an unified solution we're still using this https://github.com/3F/hMSBuild
... compiled text-based embeddable pure batch-scripts (no powershell, no dotnet-cli).

[2019-08-04 21:21] nguerrera commented on #12116
Duplicate of https://github.com/dotnet/corefx/issues/40012

[2019-08-04 21:21] #12116 closed

[2019-08-04 21:21] nguerrera commented on #12116
This came in first, but the fix would go in corefx or roslyn, and https://github.com/dotnet/corefx/issues/40012 is therefore a better place to track this.

[2019-08-05 01:42] #11930 closed

[2019-08-05 03:24] #11300 closed

[2019-08-05 03:25] wli3 commented on #11300
SDK side fix https://github.com/dotnet/sdk/pull/3447

[2019-08-05 03:26] wli3 commented on #9027
Done along with https://github.com/dotnet/cli/issues/11300

[2019-08-05 03:26] #9027 closed

[2019-08-05 08:56] thomaslevesque opened #12139 "dotnet new sln creates a VS2017 solution"
## Steps to reproduce
Install .NET Core 3.0 SDK Preview 7
Create a new solution with `dotnet new sln`

## Expected  behavior
The new solution is created with `VisualStudioVersion` set to 16.* (VS2019)

## Actual behavior
The new solution is created with `VisualStudioVersion` set to 15.* (VS2017)

I realize it's a problem with the template rather than with the `dotnet new` command, but I don't know

[2019-08-05 15:59] livarcocc commented on #12134
@wli3

[2019-08-05 16:01] livarcocc commented on #12139
@vijayrkn which package brings in the sln template?

[2019-08-05 16:04] livarcocc commented on #12124
This issue was moved to microsoft/vstest#2113

[2019-08-05 16:04] #12124 closed

[2019-08-05 16:04] vijayrkn commented on #12139
https://github.com/dotnet/templating/tree/stabilize/template_feed/Microsoft.DotNet.Common.ItemTemplates/content/Solution

[2019-08-05 17:03] livarcocc commented on #7348
We are now following arcade. With it, if you do a build.cmd once and then open the solution, the solution does load correctly.

[2019-08-05 17:03] #7348 closed

[2019-08-05 17:10] livarcocc commented on #5232
I hoped this might have been addressed with the various infra changes we made during 3.0. Alas, they were not real. This is very much a problem today:
- FSHarp/Roslyn both carry runtimes for windows in the unix builds.
- vstest also contains a full framework files
- the sdks also contain full framework files.

[2019-08-05 17:52] livarcocc commented on #9022
@johnbeisner are these addressed?

[2019-08-05 17:55] wli3 commented on #12134
Sorry for the bad experience. It is due to technical constrain. dotnet tools use nuget underneath. SDK layer does not know what nuget would restore beforehand, especially considering the feed could change from last time restore is run. cc @nkolev92

[2019-08-05 18:03] nkolev92 commented on #12134
During tool install you restore to a temp directory and then copy later to the global installation location correct?

What's the motivation behind that? Not having to adhere to NuGet's folder structure correct?

[2019-08-05 18:15] wli3 commented on #12134
The reason is that it can support multiple tools in one package and dependencies in the future (not to intervene so we can delete them safely).

[2019-08-05 18:23] peterhuene commented on #10314
Closing as I think we've implemented as much of the cleanup as was possible for the 3.0 milestone.

[2019-08-05 18:23] #10314 closed

[2019-08-05 18:27] nkolev92 commented on #12134
How difficult would it be for you to mimic what NuGet expects from that package on disk so NuGet looks at it as installed and doesn't go and download the package itself.

Basically, mimic the GPF/fallback folder for that package.

[2019-08-05 22:42] TFTomSun commented on #12134
@wli3
you can use the nuget console api, which is pretty close to the nuget.exe CLI. Its cross platform and provides the list command, which allows you to query for the latest version of a package. I can provide sample code tomorrow, if necessary.

[2019-08-05 22:57] nkolev92 commented on #12134
@TFTomSun

There's more to it than just package download.
NuGet does the assets selection(similarly to restore) for the global tool.

[2019-08-05 23:01] TFTomSun commented on #12134
@nkolev92
Maybe I don't understand the problem. Keep the whole installation as it is, just compare the installed version with the latest version that you get via the nuget api, before you do the installation. Wouldn't that be sufficient to avoid unnecessary reinstallations?

[2019-08-05 23:11] nkolev92 commented on #12134
That adds a dependency between our different tooling that we've tried to avoid.
The whole thing becomes a multi step process.

Not saying we shouldn't do something like that, but we should carefully consider it before making the change.

[2019-08-05 23:17] TFTomSun commented on #12134
actually it would be nice if the nuget.exe list command would be available as dotnet nuget list command. Would that solve the problem? Unfortunately i am not familiar with how you separate the tooling.

Anyway I see that you are willing to do something about it. That's good. I start packing some global tools as self contained apps. Of course, they are pretty big, but it help me to use those tools

[2019-08-05 23:22] johnbeisner commented on #9022
SDK documentation:
@mairaw
May I have the aka-link to "https://docs.microsoft.com/dotnet/core/sdk"

Release Notes:
@leecow
The release notes aka-link is broken: "https://aka.ms/netcore3releasenotes"
Should we be using a different link?

[2019-08-05 23:33] mairaw commented on #9022
I've just created https://aka.ms/dotnet-sdk-docs

[2019-08-05 23:48] nkolev92 commented on #12134
It's something we are considering: https://github.com/NuGet/Home/issues/6060

[2019-08-06 01:10] livarcocc commented on #11068
There are a couple of instances in dotnet/sdk, dotnet/toolset and core-sdk for us to clean up.

We should file a separate issue on arcade to have them remove it from their scripts (unless they still use a 2.x SDK there)

[2019-08-06 07:45] kwaazaar commented on #8368
What if I cannot restart? I'm using a Dockerfile to build an AZP agent...

[2019-08-06 07:58] dbsanfte commented on #8368
I am facing the same issue: I'm in a Docker image.

It should be trivial to update the PATH of the current shell session on addition to system one.

[2019-08-06 14:31] MisinformedDNA opened #12154 "Feature request: Add ability to build solution filter"
In VS2019 we are able to create solution filters of file type *.slnf. It would be great if we could build these file types at the command line (i.e. `dotnet build [solution].slnf`).

I can see this as beneficial in CI workflows where only the selected projects need to be built. I could just use SLN files, but then I would ditch SLNF files as I don't want to maintain two solutions.

## Environment

[2019-08-06 14:57] VictorioBerra opened #12155 "dotnet nuget push source does not recognize PSDrive."
## Steps to reproduce
- Mount a PSDrive without using `-Persist`
- Try and push a nuget package to it.

## Expected  behavior
It should see it as a file source and just work (tm)

## Actual behavior
I get an error about not providing an API Key as if it were a MyGet server or something.

If I use `-Persist`, the code works just fine.

[code]

Simply adding `-Persist` will map the share top a drive

[2019-08-06 17:34] livarcocc commented on #12155
@nkolev92 this seems like a NuGet issue. Should I go ahead and move this to nuget/home?

[2019-08-06 17:37] nkolev92 commented on #12155
Yeah, feel free to move it.

NuGet seems to detecting the source type wrong.

[2019-08-06 17:48] johnbeisner commented on #9022
"https://aka.ms/netcore3releasenotes" is active now

[2019-08-06 18:02] eiriktsarpalis opened #12157 "Disabling first run welcome message?"
Is there a good way to completely disable the first time user notice when installing a new version of the SDK? Looking at the code, it seems that it can only be done by creating the appropriate [`dotnetFirstTimeUseSentinel`](https://github.com/dotnet/cli/blob/143a75dcacfbcc3665d9bbfa54d14217ce3e0ab3/src/Microsoft.DotNet.Configurer/FirstTimeUseNoticeSentinel.cs#L13) file.

There should be an easier

[2019-08-06 18:31] peterhuene commented on #11650
For preview 9, we'll retry the apphost creation as a mitigation for these file locking issues.

I'm going to leave this issue open for now to see if we can get some idea of which external process is locking the apphost.

[2019-08-06 18:36] peterhuene commented on #10474
The original issue should now be fixed in the latest 3.0 previews.

The .NET Core SDK now imports publish profiles (you can even pass `/p:PublishProfile=Foo` to `dotnet publish`) at the appropriate time to allow the specified properties to be properly respected.  Thus, properties like the `RuntimeIdentifier` and `UseAppHost` in the publish profile will work as expected.

I'm going to close this is

[2019-08-06 18:36] #10474 closed

[2019-08-06 18:56] Cosebdd commented on #10819
I believe this PR https://github.com/dotnet/cli/pull/12149 also fixes this issue

[2019-08-06 21:07] #9022 closed

[2019-08-06 21:23] livarcocc commented on #12157
@wli3

[2019-08-06 21:25] livarcocc commented on #12155
This issue was moved to NuGet/Home#8431

[2019-08-06 21:25] #12155 closed

[2019-08-06 21:28] livarcocc commented on #12129
This is not something that we have plans of enabling in the .NET Core SDK itself. Our current belief is that you need to target projects that are not currently support by the .NET Core version of msbuild (using dotnet build, etc), that you instead use msbuild.exe directly.

[2019-08-06 21:28] #12129 closed

[2019-08-06 21:31] wli3 commented on #12157
Let's see if this issue will get popular. We do have concern adding more environment variable especially related to the firstrun (existing [test matrix](https://github.com/dotnet/cli/blob/7efbf4770630fd370779d222ce9aba35ffe56100/test/Microsoft.DotNet.Configurer.UnitTests/GivenADotnetFirstTimeUseConfigurerWIthStateSetup.cs#L49)) We have many existing environment variable on firstrun. The interactio

[2019-08-06 21:32] #9656 closed

[2019-08-06 21:33] wli3 commented on #9656
duplicated of https://github.com/dotnet/sdk/issues/3367
fixed by https://github.com/dotnet/sdk/pull/3473

[2019-08-07 02:23] AungMy0 opened #12160 "INFO: [xUnit.Net-v2 (default)] - No test report file(s) were found with the pattern Jenkin Xunit Test generate Report"
## Steps to reproduce
I tried to integrate Xunit Test plugin with jenkin and to generate my unit test report

## Expected  behavior

## Actual behavior
Jenkin said no test report files found.

INFO: Processing xUnit.Net-v2 (default)
INFO: [xUnit.Net-v2 (default)] - No test report file(s) were found with the pattern 'HelloJenkinTest\TestResults\*/xml'

## Environment data
`dotnet --info` output:

[2019-08-07 04:32] #10041 closed

[2019-08-07 04:33] #10007 closed

[2019-08-07 04:35] livarcocc commented on #10009
I am closing this issue as we have another one in core-sdk to discuss this. We are trying a different approach there with not tying this to the SDK nor to the runtime installed in the box.

[2019-08-07 04:35] #10009 closed

[2019-08-07 05:48] wli3 commented on #8368
This is actually not trivial by the design of Unix. PATH like any other environment variable is stored in current shell session. There is no API available to change PATH in an application for the current session.

However, if you are in Docker you could run  `export PATH="$PATH:$HOME/.dotnet/tools"` to make it available. Or relogin bash shell session by command

[2019-08-07 07:19] dbsanfte commented on #8368
I'm fine with sourcing the .bashrc again if that's where you're updating my PATH.

You'll appreciate, however, that this still sucks. Dotnet should just know to look there anyways, it shouldn't need to rely on the PATH at all.

[2019-08-07 10:49] Liversage commented on #10882
I hit this issue today after uninstalling preview 7. I also was asked about "close automatically/leave open?" two times and being impatient waiting for "close automatically" I manually killed several dotnet.exe processes the second time which allowed the installer to proceed but alas without removing the folder for the SDK that was uninstalled.

[2019-08-07 16:33] dasMulli opened #12163 "PublishSingleFile should have verb option for publish"
`dotnet publish` should accept a `--single-file` option to be translated to `-p:PublishSingleFile=True`.

[2019-08-07 16:52] KathleenDollard commented on #8368
@dbsanfte We'd love to have a better experience on this and remain open to ideas. But we're also committed to playing nice on all the platforms we support.

[2019-08-07 16:58] peterhuene commented on #12163
I agree completely that this option should exist.

@livarcocc given that this is a relatively high-profile feature for 3.0, what's the chance this would meet the P9 bar?

[2019-08-07 17:00] livarcocc commented on #12163
@peterhuene do we need similar switches for trimming and the linker?

I am supportive of making the change and taking it to Steve for approval.

[2019-08-07 17:02] peterhuene commented on #12163
I think adding those as well would make sense.  It's just as easy to add one as three.

[2019-08-07 17:32] wli3 commented on #8368
@dbsanfte we did not add the export to bashrc. it is in `/etc/profile.d/dotnet-cli-tools-bin-path.sh`

[2019-08-07 18:36] wli3 commented on #11650
Spend another half of an hour trying to repro, see once again, but forget to open procmon :( start to think it is anti virus scan -- once it is scanned once, it no longer does that anymore.

[2019-08-07 20:14] #10669 closed

[2019-08-08 00:28] ivanbasov opened #12168 "Provide a map file generation to use for remove unused references functionality"
This task is a part of https://github.com/dotnet/roslyn/issues/36068.

The build team will generate a file with a map of assemblies, packages which can be checked for usage/non-usage. MS Build will generated the file. If other environments are used, they have to provide this file on their own.

[2019-08-08 00:28] ivanbasov commented on #12168
@nguerrera and @livarcocc please help with scheduling.

[2019-08-08 07:54] jwfx opened #12169 "Publishing a solution and publishing a project yields different results"
## Steps to reproduce
Using this project here: https://github.com/jwfx/TestApp

Publish the solution:
`D:\downloads\TestApp-master>dotnet publish -o d:\publishcsproj -c Release -r linux-x64 --self-contained true`

Publish the TestApp project:
`D:\downloads\TestApp-master\TestApp>dotnet publish -o d:\publishcsproj -c Release -r linux-x64 --self-contained true`

## Expected  behavior
Both publish fo

[2019-08-08 08:50] dbsanfte commented on #8368
Can you make a symbolic link in /usr/local/bin? That's in most everyone's PATH, definitely the default PATH in Ubuntu at any rate.

helm, kubectl, tiller, etc put their symbolic links there.

[2019-08-08 09:34] #12160 closed

[2019-08-08 14:15] Zanadar opened #12173 "Please publish 2.1.801+dependencies"
## Steps to reproduce
Hey folks. Like like this release is missing. Any chance you could publish a `2.1.801+dependencies` release? Thanks!

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2019-08-08 16:44] jeffkl opened #12175 "dotnet-install should be able to get version from repository's global.json"
Many users lock down their version of .NET Core via `global.json`.  They also have scripts that prepare for build which installs the corresponding .NET Core.  However, the version has to be defined in two places or every script must get the version from `global.json` and pass it to the `dotnet-install` script.

I'd like to add a feature to `dotnet-install.ps1` to allow users to pass in a path to a

[2019-08-08 17:03] johnbeisner commented on #12175
@jeffkl
You say: "every script must get the version" You should be able to consolidate the harvesting of the version to at most 2 scripts. Arcade does it in this manner: https://github.com/dotnet/arcade/blob/638da455bb57ee432f733f71c08c6d1767ac798b/eng/common/tools.ps1#L128

[2019-08-08 17:05] jeffkl commented on #12175
I'm asking to have our scripts that call `dotnet-install.ps1` to just pass the path to `global.json` rather than having to parse by itself.  Not everyone is on Arcade so we have lots of repos with their own scripts that aren't updated or shared by some outside service.

[2019-08-08 18:00] peterhuene commented on #12173
@Zanadar thanks for bringing this to our attention.

I've created the `v2.1.801+dependencies` and `v2.2.401+dependencies` tags.

For this release, the commit for both the "version" and "version+dependencies" tags are the same.  This was caused by the dependencies already be updated for the 2.1.800/2.2.400 release.  However an important fix taken after we had finalized those builds, but before we h

[2019-08-08 18:00] #12173 closed

[2019-08-08 18:40] wli3 commented on #8368
That would require `sudo` for every dotnet tool install command. Since /usr/local/bin is not writable by current user

[2019-08-08 18:45] Zanadar commented on #12173
Thanks! @peterhuene Will future releases all have dependencies updated? Or should be continue to track `+dependencies` tags?

[2019-08-08 19:08] peterhuene commented on #12173
Given the way our build works, they will continue to have "+dependencies" tags that should be used when building an individual repo like `dotnet/cli`.

Basically there's a unified build of all the many repos comprising .NET Core and the version information flows through that build only.  Once a build is released, each repo takes a dependency version update PR that bumps the versions to match those

[2019-08-09 05:45] UncleSamSwiss opened #12182 "Dotnet XUnit test hangs when running on a solution in 3.0 preview 7"
Moved from https://github.com/microsoft/vstest/issues/2107

## Description
After upgrading our Docker containers from preview 4 to preview 7 (`mcr.microsoft.com/dotnet/core/sdk:3.0-buster`) all our XUnit tests are hanging.

Command (in the solution directory):
[code]
Output:
[code]

After this comes nothing.

I've seen the same (or similar) issue reported here for .NET Core 2.x
- https://github.co

[2019-08-09 06:58] dbsanfte commented on #8368
For a global install (presumably for all users), sudo would seem to be acceptable.

[2019-08-09 08:01] arisliang commented on #10357
Does this mean every now and then you need to run this `sudo dotnet new console` to refresh the cache?

[2019-08-09 12:35] DerAlbertCom opened #12187 "dotnet test swallows unit tests"
dotnet swallows silently xunit tests (maybe also test from other test frameworks) when there is a problem on the test discovery. I filed the same under: https://github.com/xunit/visualstudio.xunit/issues/164

## Steps to reproduce
Checkout the repository https://github.com/DerAlbertCom/MisbehavingUnittestRunners run dotnet test. More details why the problem occurs is also there.

## Expected  beha

[2019-08-09 12:56] eiriktsarpalis commented on #12157
In the meantime, I have been able to squash by adding the following post-installation step to my nightly installer script (in bash):
[code]

[2019-08-09 14:31] robert-skarzycki commented on #3141
FYI - same thing after uninstalling preview on `3.0.100` - I had to manually remove preview version folders from `sdk` folder.

[2019-08-09 16:51] livarcocc commented on #12187
This issue was moved to microsoft/vstest#2123

[2019-08-09 16:51] #12187 closed

[2019-08-09 16:58] livarcocc commented on #12182
This should be fixed in .NET Core 3.0.100-preview8 that is shipping soon.

Over there, we are referencing version 16.3.0-preview-20190715-02 of the test SDK.

[2019-08-09 16:58] #12182 closed

[2019-08-09 17:44] nguerrera commented on #12163
Without an incremental clean for publish, I don't think we should rush this into 3.0. It does not work to switch between these in different invocations.

This came up in the original design review: https://github.com/dotnet/designs/pull/52#discussion_r255150038

[2019-08-09 17:45] nguerrera commented on #12163
I would prefer to design an incremental cleaning mechanism for publish, and target a release where both of these can land, and in the meantime, recommend setting these in the project, using configurations where appropriate to have different options that can be chosen on the command line.

[2019-08-09 17:45] nguerrera commented on #12163
cc @rainersigwald

[2019-08-09 18:30] peterhuene commented on #12163
Now that the .NET Core SDK imports publish profiles (and at the appropriate time), perhaps we should steer users towards that as the place to put these publish-specific properties?

[2019-08-09 20:39] dasMulli commented on #12163
This is already helpful when using non-self-contained RID specific publish..
e.g. Desktop app using app host customisation (icon) - `dotnet publish -r win-x86` (because 32bit-only native libs from hardware vendors will never go way) - "oh I don't want that much" - add `--self-contained false` and wonder why there is still so much in the folder.

However, I believe having CLI options is already use

[2019-08-09 20:59] nguerrera commented on #12163
Can you point me to blog posts with -p:, I specifically asked to document project file and the posts I saw had that.

I don't want to encourage -p. Self contained is in the same boat and we've had many bugs with it.

[2019-08-09 22:11] torquerrr commented on #12110
I don't think only the snap is affected.
The very same problem occurs on Manjaro/Arch Linux (issue has been reported by many) when you install dotnet with pacman.
In this case pacman pulls the package from community repo.
And the package contains dotnet.sh which is effectively added to PATH after being installed to /usr/bin. Obviously it is not a symlink, so the resolving process fails.
The SDK it

[2019-08-09 22:32] nguerrera commented on #12110
Thanks, @torquerrr, I'd seen the arch/manjaro issues, but thought it was something with mono there. Now we have the simpler explanation, and so I think even if we handle snap more efficiently we should have the ultimate fallback to slow path of shelling out.

That said, would it be hard to make that a symlink on arch? That will resolve faster. The shell script doesn't do anything but exec dotnet w

[2019-08-09 22:42] nguerrera commented on #12110
If you see other reports of arch/manjaro issues, can you link here?

[2019-08-09 23:17] torquerrr commented on #12110
I forgot to mention that I do have the latest Mono (5.20) installed, as well as `msbuild-stable` package. But probably those are irrelevant indeed.

@alucryd could you please provide your thoughts on that?

[2019-08-09 23:20] peterhuene commented on #12163
The behavior of switching self-contained off leaving everything behind is, I think, a good-enough precedent to warrant moving forward with the new options before we implement proper incremental publishing, but I'm not strongly opinionated other than I'd like to get this implemented now for P9 if we decide to.

@livarcocc since you missed the discussion relating to this in stand-up this morning, wh

[2019-08-09 23:20] nguerrera commented on #12110
I read too quickly and was mistaken here, it sets DOTNET_ROOT. There is a better solution for this now to store where dotnet is installed globally for apphosts. Looking for the docs.

[2019-08-09 23:24] nguerrera commented on #12110
https://github.com/dotnet/designs/blob/master/accepted/install-locations.md

Instead of DOTNET_ROOT, /opt/dotnet can be written to /etc/dotnet/install_location

However, this will require updating to 3.0

[2019-08-09 23:37] torquerrr commented on #12110
@nguerrera Just tried to manually create a symbolic link instead of .sh file pointing to `/opt/dotnet/dotnet` - still getting the error:
`Microsoft.Build.Exceptions.InvalidProjectFileException: The SDK 'Microsoft.NET.Sdk.Razor' specified could not be found.  /usr/lib/mono/msbuild/15.0/bin/Sdks/Microsoft.NET.Sdk.Web/Sdk/Sdk.props`.
`dotnet --info` returns a valid output.

[2019-08-09 23:40] nguerrera commented on #12110
What version is `dotnet --version`?

[2019-08-09 23:41] torquerrr commented on #12110
@nguerrera
[code]

[2019-08-09 23:44] nguerrera commented on #12110
Hmm, do you have "Microsoft.DotNet.MSBuildSdkResolver.dll" under /usr/lib/mono?

[2019-08-09 23:50] torquerrr commented on #12110
@nguerrera Nope. I've checked in `/usr/lib/mono/msbuild/15.0/bin/`, no other folders or files above that.

[2019-08-09 23:51] nguerrera commented on #12110
OK, that is actually a problem here on top of the symlynk. That mono has the web sdk baked into it, no razor sdk, and no resolver to find dotnet.

cc @radical

[2019-08-09 23:53] nguerrera commented on #12110
(I really wish mono would stop baking sdks into its msbuild and using the resolver everywhere.)

[2019-08-09 23:53] nguerrera commented on #12110
cc @livarcocc

[2019-08-10 00:09] torquerrr commented on #12110
@nguerrera Made a full filesystem search just to be sure and found only those two:
[code]

[2019-08-10 00:12] swaroop-sridhar commented on #11650
@peterhuene  I looked a bit more at the ResourceUpdater code in HostModel -- wrt whether/where retries should be added to ResouceUpdater code.

Looks like there are only two places where a file is opened:
* [`Kernel32.BeginUpdateResource`](https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.NET.HostModel/AppHost/ResourceUpdater.cs#L25)
* [`Kernel32.LoadLibraryEx`](https://github

[2019-08-10 00:20] nguerrera commented on #12110
Those are with the private mono in omnisharp so it's an issue that it's missing in the real mono. Out of curiosity, does it work if you temporarily install mono? Are you able to upgrade mono to more recent version and does that help?

[2019-08-10 00:26] swaroop-sridhar commented on #11650
There is one scenario I can see where we may end up in this case: If we call `ResourceUpdater.Update()` twice.

The `Update()` function releases the `SafeHandle` whether or not it succeeds, but it does not zero out the handle. So, it is possible that we have a stale handle that passes the `SafeUpdateHandle.IsInvalid` test, but then ends up throwing the error.

[2019-08-10 01:03] swaroop-sridhar commented on #11650
The error codes for lock-violation is `21` (file) and `6C` (disk).
The `6E` error code is for a file that cannot be open (which agrees with the theory that the handle is invalid).

[2019-08-10 02:41] swaroop-sridhar commented on #11650
@peterhuene @wli3
I've submitted https://github.com/dotnet/core-setup/pull/7665 for retrying resource-update in HostModel. But I don't think it'll fix this issue.

[2019-08-10 04:03] radical commented on #12110
@torquerrr how did you install mono? It is supposed to include the resolver.

[2019-08-10 07:46] torquerrr commented on #12110
@nguerrera Here's the OmniSharp Log after `mono` removal:
<details>
  <summary>OmniSharp Log</summary>
Starting OmniSharp server at 8/10/2019, 10:31:48 AM
    Target: /home/torquerrr/Projects/NET Projects/NewWebApp

OmniSharp server started.
    Path: /home/torquerrr/.vscode/extensions/ms-vscode.csharp-1.21.0/.omnisharp/1.34.0/run
    PID: 4320

[info]: OmniSharp.Stdio.Host
        Starting OmniSh

[2019-08-10 08:52] torquerrr commented on #12110
@nguerrera, @radical
So this is more tricky to deal with.
It turns out that `mono` build for Arch from `community` repo comes without `msbuild` instance, and no `Microsoft.DotNet.MSBuildSdkResolver.dll` present.
Then you'll need to install `msbuild` package from AUR - but here you choose from `msbuild-stable` (which I did) and `msbuild` plus `msbuild-sdkresolver`.
After removing `msbuild-stable` a

[2019-08-11 00:03] Jjagg commented on #9794
@livarcocc To me it reads like the quoted text is a response as to why runtimes/x/native got flattened. The issue is not that the `runtimes/x/native` part was flattened, but that what's after that got flattened.

E.g. a file in `runtimes/win-x64/mydir/lib.dll` will be published to `publish/lib.dll` instead of the expected `publish/mydir/lib.dll`. That seems like a bug to me. I don't see any reason

[2019-08-11 05:09] enricoreich opened #12207 "Problem installing SDK 3.0.100-preview7-012821"
Hello,

I tried to install .Net Core SDK 3.0.100-preview7-012821 but the Windows installer completes after 3 seconds without any error and none of the packages are installed at `C:\Program Files\.dotnet`.
If I restart the installer `dotnet-sdk-3.0.100-preview7-012821-win-x64.exe` the dialog gives me options to repair or uninstall. If I click uninstall it completes immediately. If I click repair, t

[2019-08-12 15:54] nguerrera commented on #12110
It looks like the C# plugin / omnisharp is not up to date. How are you installing that? Can you try the scenario:

1. Without mono installed
2. With latest C# plugin for VS code

As for the scenario with a mono, with a proper resolver, that NETSDK1061 is not in itself an issue. The linked doc would explain the the cases where that can happen and how to avoid it. But, if there's something about how

[2019-08-12 15:56] ForestEckhardt opened #12219 "Unexpected version of Dotnet SDK when building from v2.1.605+dependencies"
## Steps to reproduce
This was was run on cloudfoundry/cflinuxfs3 image:
[code]

## Expected  behavior

When we go to our build artifacts at `bin/2/linux-x64/dotnet` and run `./dotnet --info`, we see 2.1.605 underneath our .NET Core SDKs installed.

## Actual behavior

The only SDK installed is 2.1.508.

## Environment data
`dotnet --info` output:

[code]

[2019-08-12 17:47] livarcocc commented on #12219
@peterhuene can you take a look at the tag and make sure it is pointing to the right commit?

[2019-08-12 17:49] livarcocc commented on #12207
@johnbeisner can you please take a look?

@enricoreich I would not recommend deleting files from Program Files manually, but we will look at the logs and come up with a recommendation on how to address this.

[2019-08-12 17:53] peterhuene commented on #12219
It's not.  508 and 605 are pointing at the same commit.  I'll correct.

[2019-08-12 17:54] LouisT123 opened #12221 "Unable to trust development certificate"
Working with @sayedihashimi as an intern at Microsoft, and I'm running into this blocking issue. He was unable to figure out what was going on.

## Steps to reproduce
 1. Create project using `dotnet new web`
 1. `dotnet build`
 1. `dotnet run`

## Expected  behavior
Web app runs

## Actual behavior
Getting error about development certificate

[code]

## Environment data
`dotnet --info` output:

[

[2019-08-12 18:02] peterhuene commented on #12219
@ForestEckhardt thanks for bringing this to my attention.  I accidentally tagged the 2.1.508 commit as it flowed into the `release/2.1.6xx` branch, rather than the previous commit that was to update the dependencies for the `release/2.1.6xx` branch.

If you fetch upstream and check the tag out, you should now see `<VersionPatch>605</VersionPatch>` in `build/Versions.props`.

[2019-08-12 18:02] #12219 closed

[2019-08-12 18:51] vvolodin commented on #7610
Every refresh of the hello world 3.0-preview7 with angular through UseProxyToSpaDevelopmentServer takes at least 4.5 seconds for me:
![image](https://user-images.githubusercontent.com/1472383/62890076-57845d00-bd4b-11e9-98a6-be2a368b0e9f.png)

[2019-08-12 18:52] nguerrera commented on #11650
Reopened based on discussion above suggesting there's still something else here

[2019-08-12 19:03] torquerrr commented on #12110
@nguerrera You can find the log attached above by me showing how does it look like without mono installed.
C# plugin is indeed the latest version, installed from within VS Code itself.
More and more I start to think that this is the Arch/Manjaro-specifig bug, the only way to overcome which is setting the LegacyResolver in omnisharp.json.
As I also noted, mono build for Arch does not have MsBuild i

[2019-08-12 20:14] nguerrera commented on #12110
My bad, I misread the latest version of the C# plugin elsewhere. I will try to spin up an arch VM to play with some of this, but it won't be too quick to be able to do that. Thank you for all of the extra info.

[2019-08-12 23:28] livarcocc commented on #12221
@anurse is this something that you can take a look at?

[2019-08-12 23:30] livarcocc commented on #12221
It seems from the list of commands that you removed the certificate but haven't added it back.

[code]

[2019-08-13 00:27] sayedihashimi commented on #12221
He tried adding it, several times actually.

@louist123 please execute the following and paste results here: clean, check, trust and check again.

[2019-08-13 00:29] sayedihashimi commented on #12221
@livarcocc you can see in the output he did try trust.

Anands-MBP:dasdasdakjfh louistaing$ dotnet dev-certs https --trust
Trusting the HTTPS development certificate was requested. If the certificate is not already trusted we will run the following command:
'sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain <<certificate>>'

[2019-08-13 02:15] lextm commented on #8999
This feature request is still valid, for enterprise scenarios such as,

1. An internal NuGet feed with authentication enabled.
1. Restore a .NET Core project on Linux based machines against such a feed.

`dotnet restore --source FEED_URL` does not handle authentication properly, so it is not really a solution.

[2019-08-13 12:23] mchender commented on #10986
Has any thought been put in to this topic since March?

We've come across a scenario where we need to patch an earlier version of an assembly we created that all of our internally developed .NET Core applications use. The problem is that the assembly currently resides in the runtime package store.

We can publish a new version of this assembly to the runtime package store and send out a communicat

[2019-08-13 15:14] LouisT123 commented on #12221
@sayedihashimi Executed:
[code]

[2019-08-13 15:17] anurse commented on #12221
+ @javiercn

[2019-08-13 15:45] rainersigwald opened #12233 "dotnet test should escape MSBuild special characters in filter"
Inspired by @yshpakov's dotnet/docs#13749.

`dotnet test` accepts a `--filter` option that is passed as a property on the MSBuild command line:

https://github.com/dotnet/cli/blob/cb38255c64ba0d17b06aac725c4a86ea24d79aac/src/dotnet/commands/dotnet-test/TestCommandParser.cs#L34-L39

Unfortunately, there are some test case names that use MSBuild special characters, like `,` (`%2C`). These should be

[2019-08-13 16:18] VictorioBerra commented on #10607
@damageboy Did you ever find a workaround for this in 2.2? Would it be a good idea to maybe make two .csproj files? Or would that be messy to maintain with dependencies and all that?

[2019-08-13 16:56] nguerrera commented on #11616
The expected behavior here is based on a prior bug. The new behavior is the correct behavior.

[2019-08-13 16:58] nguerrera commented on #11616
I'm following up to fix the instructions.

[2019-08-13 16:58] #11616 closed

[2019-08-13 17:01] nguerrera commented on #11616
This expectation

Was only due to the 1.1 fallback SDK which was removed in VS 2019, getting in the way of this error, which is much more direct about the actual error:

[2019-08-13 17:09] baracoder opened #12234 "dotnet tool install fails, if dotnet-sdk is on a read-only file system"
## Steps to reproduce

This happens, if the filesystem where dotnet-sdk is installed, is mounted read-only like on NixOS.
To reproduce,
mark `AppHostTemplate/apphost` as read-only on your dotnet-sdk installation.
[code]

## Expected  behavior
`dotnet tool install -g dotnetsay` install the tool

## Actual behavior

[code]

Running it with `strace`, I see that the readonly permissions of the origina

[2019-08-13 18:05] livarcocc commented on #12234
cc @wli3

[2019-08-13 18:13] wli3 commented on #12234
I need to understand more on why NixOS will it mount as read only. And could you tell me how you get the SDK in detail? Like you install it via tar.gz and then mount it or there is a different package manager.

Many components in SDK are permission sensitive, and they have correct permission when using existing official supported method like apt-get, rpm, tar.gz and download script.

[2019-08-13 19:21] javiercn commented on #12221
There can be something in the environment that is causing the tool to not work correctly. I'll double check tomorrow on my Mac to see if I repro the behavior on a clean machine and I'll see what info we can gather to figure out what's going on.

[2019-08-13 20:17] nguerrera commented on #11616
I fixed up the test instructions on this.

[2019-08-13 20:55] nguerrera commented on #11827
Now reported against core-sdk. Make sure it's conditioned out of all repos sdk, cli, toolset, core-sdk

[2019-08-13 23:37] baracoder commented on #12234
Thank you for the reply.

NixOS bases on nix package manager, I am using the `dotnet-sdk` package, which is based on the tar.gz download.
https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/compilers/dotnet/sdk/default.nix#L20

Nix strives to make building packages reproducible. It stores packages in `/nix/store` according to hash of its inputs (hash of dependencies + hash of source file

[2019-08-14 08:22] darkguy2008 commented on #2740
What is the CDN? I'm having the same issue from Costa Rica, I have 100mbps optic fiber and most I get is 1Mb/s... which is ridiculous.

[2019-08-14 09:08] Moobylicious commented on #9648
I have encountered this issue in our build/CI environment, but I encountered it when upgrading the VM doing the builds to 2 CPU cores rather than 1.  Since having _working_ builds is generally more useful than _faster_ builds, I've worked around this by downgrading the VM back to a single core, so it doesn't try to build projects in parallel... so that's one "solution" at least where you have that

[2019-08-14 09:49] baracoder commented on #9114
[code]
When the shim is created, the path for the target dll is set in the apphost template.
In the same step the string for dotnet-root could be set. Would this be an option?

[2019-08-14 10:50] srudin commented on #7786
How can this be closed? How can such a serious flaw not be addressed?!?
There must be a clean solution for it or it is not possible to do any clean code development with .NET Core...

[2019-08-14 11:41] dasMulli commented on #7786
At the moment the best way to do this is making internal implementation details `internal` to that assembly.

I have heard this ask multiple times now, most of them being "I don't want some dev to accidentally reference XY, especially our juniors are prone to this".. My 2 cents on this is that no technical tool/config can replace proper development processes like code reviews on PRs, CI/CD etc.
Th

[2019-08-14 15:28] johnbeisner commented on #12207
@enricoreich
Can you provide the log files for this installation. They should be in your %temp% folder.

[2019-08-14 16:04] mpetrinidev opened #12251 "dotnet dev-certs https --trust --check is ok but client cannot trust development certificate"
## Steps to reproduce

- Create .NET Core 3.0 + Api on VS for Mac
- Call API with postman
  - GET https://localhost:5001/api/session

## Expected  behavior

- Call Api successfullly

## Actual behavior

Postman throws

[code]

If I run `dotnet dev-certs https --trust --check`

- A valid certificate was found.
- A trusted certificate was found.

## Environment data
`dotnet --info` output:

[code]

[2019-08-14 16:06] johnbeisner commented on #12207
2578:2AB0][2019-08-11T06:22:17]i301: Applying execute package: AspNetCoreSharedFramework_x64, action: Repair, path: C:\ProgramData\Package Cache\{1D8E1EF4-2D42-3B1D-97B2-099AF85F20A3}v3.0.0.0\AspNetCoreSharedFramework-x64.msi, arguments: ' ARPSYSTEMCOMPONENT="1" MSIFASTINSTALL="7" DOTNETHOME="C:\Program Files\dotnet"'
[2578:2AB0][2019-08-11T06:22:55]e000: Error 0x80070643: Failed to run maintananc

[2019-08-14 16:09] johnbeisner commented on #12207
The repair action is failing for one MSI: AspNetCoreSharedFramework-x64.msi
The rest of the MSIs seem to execute a repair just fine.
The odd thing here is the name of the MSI: "AspNetCoreSharedFramework-x64.msi" it doesn't follow the typical naming convention: "netstandard_targeting_pack_2.1.0_preview7_27912_14_win_x64.msi"

Looking further...

[2019-08-14 16:28] enricoreich commented on #12207
@johnbeisner Thanks for looking into it but I think this issue is obsolete because of the availability of preview8. I mean you don't have to waste your time unless it is of further interest on your part.
The preview8 SDK windows installer `3.0.100-preview8-013656` from [dot.net](https://dot.net) runs without problems.

I close this issue but feel free to reopen if you need further information on t

[2019-08-14 16:28] #12207 closed

[2019-08-14 16:40] johnbeisner commented on #12207
@enricoreich thanks for bringing this up because I think the non-versioned name of the MSI is a potential problem because the repair/uninstall would need to know which MSI to 'call' given that a user might more than 1 SDK. We will look into this further.

[2019-08-14 17:27] livarcocc commented on #12251
@anurse @javiercn can you take a look? Should I move this to asp.net?

[2019-08-14 17:33] sayedihashimi commented on #12251
Related (but I think different) issue https://github.com/dotnet/cli/issues/12221

[2019-08-14 17:59] richlander opened #12255 "dotnet tool install fails if user NuGetFallBack folder doesn't exist"
[code]

[2019-08-14 18:22] livarcocc commented on #12255
Did you create that fallback folder? Do you have it configured in a NuGet.Config.

This is not really unique to tools. Restoring a project will likely fail as well. NuGet does not support specifying a source that does not exist.

[2019-08-14 18:57] richlander commented on #12255
I don't have a nuget.config. I tried the same command at the root of "C" and I get the same error.

[2019-08-14 19:06] richlander commented on #12255
This is where it is coming from. I don't remember adding that. Any ideas?

![image](https://user-images.githubusercontent.com/2608468/63048570-ab965b00-be8b-11e9-9341-80c15952e9c9.png)

Seems related to: https://github.com/dotnet/cli/issues/7256

[2019-08-14 19:36] richlander opened #12257 "Cannot enable Major version roll-forward for 2.x apps"
## Steps to reproduce

I attempted to enable major-version roll-forward for the [dotnetsay .NET Core tool](https://github.com/dotnet/core/blob/master/samples/dotnetsay/dotnetsay.csproj).

I added `<RollForward>LatestMajor</RollForward>` within the `PropertyGroup`. I get this error:

[code]

## Expected  behavior

I understand why RollForward isn't enabled in general for 2.x since the feature is ne

[2019-08-14 19:38] vitek-karas commented on #12257
Technically it is possible to do this via `.runtimeconfig.template` but I agree that's not very nice or discoverable.

[2019-08-14 19:40] richlander commented on #12257
That's what I'm going to do in this particular case (to unblock myself) but I still want the fix considered. It's solely a question of whether this feature (major version roll-forward) is important for the 2.x to 3.x boundary only starting with 3.x to 5.x. My opinion should be pretty clear at this point.

[2019-08-14 19:41] vitek-karas commented on #12257
I think we should enable it for both `Major` and `LatestMajor` - the global tools may want `LatestMajor` but I think even `Major` would make sense as well.

[2019-08-14 19:53] richlander commented on #12257
Relevant tweet that formed much of the motivation for this feature: https://twitter.com/KathleenDollard/status/1079811275641696256

[2019-08-14 20:40] anurse commented on #12251
Yeah, it looks like a similar problem. @BrennanConroy can you see if you can repro something like this on a Mac and help load balance a bit here (cc @javiercn).

It seems like this should be a clear repro based on the reports we've gotten.

[2019-08-14 23:00] BrennanConroy commented on #12251
I tried this out on my mac and I had to turn off "SSL certificate verification" in Settings > General because Postman says "Self-signed SSL certificates are being blocked"

[2019-08-15 00:30] livarcocc commented on #12255
I don't know what would add that. We used to add that at the very beginning of 1.0 when we were experimenting with fallback folders.

The error you are getting is completely expected given that configuration in VS. And that configuration gets reflected on your NuGet.Config file under %appdata%/NuGet if I remember correctly.

[2019-08-15 00:30] #12255 closed

[2019-08-15 00:31] livarcocc commented on #12257
@vitek-karas are you going to do a bar check on this?

[2019-08-15 01:26] chriskuech commented on #6561
I had this issue building dotnet app in an Ubuntu container.  I was being lazy and copying the files directly into the file system root.  Would work fine for any other language, but dotnet seems to do some kind of recursive search from the build folder and some of the unexpected file types trigger this error.  I solved the problem by moving to an app folder.

[2019-08-15 16:01] Lxiamail opened #12262 "Install .NET Core tool/app without .NET Core SDK on the machine"
## Steps to reproduce
I'm migrating an existing .NET Framework app to .NET Core. Since .NET Framework is default windows component installed on all Windows machines, my existing .NET Framework app doesn't need to consider the situation what if .NET Framework is not on the machine. However, for .NET Core app, I can make it as a .NET Core Global tool, but it requires .NET Core SDK installed on the m

[2019-08-15 16:13] sherry-ummen opened #12263 "Possibility to configure SolutionConfigurationPlatforms"
## Steps to reproduce
dotnet new sln Some.sln

## Expected  behavior
GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|x64 = Debug|x64
		Release|x64 = Release|x64
EndGlobalSection

## Actual behavior
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Debug|x64 = Debug|x64
		Debug|x86 = Debug|x86
		Release|Any CPU = Release|Any CPU
		Rel

[2019-08-15 16:26] anurse commented on #12251
We investigated and this is *not* related to #12221 in the end.

Safari is showing the certificate as fully trusted in our repro, but Postman still produces this error. This seems to be a limitation in Postman. The certificate is fully trusted, even though it's self-signed, but Postman still refuses to use it. The recommended fix is to toggle the setting @BrennanConroy mentioned ("SSL certificate

[2019-08-15 16:27] anurse commented on #12251
I think we can close this now. @mpetrinidev if you have further issues with certificates or ASP.NET Core applications, please file issues in https://github.com/aspnet/AspNetCore so we can help right away!

[2019-08-15 16:27] #12251 closed

[2019-08-15 16:49] bigswede74 opened #12264 "Unable to target 3.0.100-preview8-103656 sdk to build a project"
## Steps to reproduce

[09:45:34][Step 2/11] Executing: "C:/Program Files/dotnet/dotnet.exe" restore "../MyProj/MyProj.csproj"
[09:45:35][Step 2/11] C:\Program Files\dotnet\sdk\2.1.400\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.TargetFrameworkInference.targets(137,5): error NETSDK1045: The current .NET SDK does not support targeting .NET Core 3.0.  Either target .NET Core 2.1 or lower, or use a

[2019-08-15 16:57] livarcocc commented on #12262
I don't follow the relationship you are implying between being self-contained and running by itself in a machine without the shared framework and being a global tool.

Can you clarify that?

If it helps, this link has more information about .NET Core's deployment models: https://docs.microsoft.com/en-us/dotnet/core/deploying/.

 Being self-contained/framework dependent is orthogonal to being a glo

[2019-08-15 17:02] livarcocc commented on #12263
This is not support today and unfortunately we don't plan to tune this further. We do have this issue open that might help out if we ever get around to it: https://github.com/dotnet/cli/issues/11679.

[2019-08-15 17:02] #12263 closed

[2019-08-15 17:04] livarcocc commented on #12264
Do you have a `MSBuildSDKsPath` environment variable set pointing to the 2.1.400 props/targets by any chance?

[2019-08-15 17:10] bigswede74 commented on #12264
@livarcocc I do not have an MSBuildSDKsPath environment variable set.

[2019-08-15 17:13] livarcocc commented on #12264
Can you confirm that no step in your build is setting it though? can you share a binlog file with us? Though, read this before sharing, as it may contain private information about your build: https://aka.ms/binlog.

[2019-08-15 17:35] sherry-ummen commented on #11679
Hi,
(Warning: I don't know everything about sln schema. So I might just be talking rubbish. Please excuse)
The requirement I had was #12263 for this I was thinking the command like this
dotnet new sln Some.sln /platform x64

And that should generate only those required entries.

Should that be enough to fix my case?

Coming to add or remove config. What are the scenarios we are talking about here?

[2019-08-15 18:33] bigswede74 commented on #12264
@livarcocc I was able to get this from the output when enabling binlog.

[code]

[2019-08-15 18:40] BrennanConroy commented on #12221
We found a bug with the dev-certs tool that caused issues with --clean and --check. We'll be fixing it in preview9.

It's hard to see if your scenario is hitting this issue but it's a good guess that it is

[2019-08-15 18:44] sayedihashimi commented on #12221
@BrennanConroy thanks for the follow up. Perhaps when you have a build with the fix then @LouisT123 can try it out to confirm that it's working for him. When do you think you may have a new build with the fix?

[2019-08-15 19:08] batzen opened #12267 "dotnet list package fails on unreachable conditions"
## Steps to reproduce
- dotnet new console
- add
[code]
to the project
- dotnet restore
- dotnet list package --outdated

## Expected  behavior
As `dotnet restore` and `dotnet build` work without any error i expect it to just output:
`The given project `xx` has no updates given the current sources.`

## Actual behavior
`error: A numeric comparison was attempted on "asdf" that evaluates to "asdf" i

[2019-08-15 19:26] peterhuene commented on #12267
@rainersigwald is this an artifact of how MSBuild works?

[2019-08-15 19:30] peterhuene commented on #12233
@livarcocc 3.0 bar check?

[2019-08-15 19:42] anurse commented on #12221
I'm going to move this to aspnet/AspNetCore since we found actionable work (probably could've merged it earlier anyway :)). An issue link will be posted next, please move discussion to that thread.

Thanks for the report @LouisT123 !

[2019-08-15 19:43] anurse commented on #12221
This issue was moved to aspnet/AspNetCore#13175

[2019-08-15 19:43] #12221 closed

[2019-08-15 19:55] thild opened #12269 "preview8 - signal SIGSEGV on executables"
# preview8 - signal SIGSEGV on executables

Create a console app "console1" and run with `dotnet run`
Nothing happens. Program just exits silently.

The program builds normally.
`dotnet bin/Debug/netcoreapp3.0/console1.dll` works.
`./bin/Debug/netcoreapp3.0/console1` crashes with segmentation fault.

# General
[code]

[code]

[2019-08-15 19:57] rainersigwald commented on #12267
Yes. When you load a project "as if for edit", as NuGet does here, MSBuild goes through codepaths that ignore conditions. That enables, for instance, finding `PackageReference` elements that are conditioned to only certain `TargetFramework`s, or things that are conditioned on `Debug` and so on.

This is a surprising and confusing behavior in this circumstance, but I don't think that warrants tryin

[2019-08-15 20:01] Lxiamail commented on #12262
@livarcocc Today, if my app is .NET Core global tool, it needs .NET Core SDK present on the machine in order to install the global tool. I want my app to be .NET Core global tool for easy deployment and easy use, in the meantime, the customer can install it without their machine already has .NET Core SDK installed. I understand that it is not supported now, I hope the submit the request so that th

[2019-08-15 20:05] peterhuene commented on #12269
Attempting to reproduce.

[2019-08-15 20:06] richlander opened #12270 "exe is not produced when PackAsTool = true"
## Steps to reproduce

- Create a new project
- Add `<PackAsTool>true</PackAsTool>`

## Expected  behavior

You get an exe

## Actual behavior

No exe.

## Environment data
3.0 Preview 8

## Commentary

I think of PackAsTool as a publishing choice. Everything about the dev experience should be the same as regular projects until you act on packing the project as a tool.

I understand that there are

[2019-08-15 20:15] peterhuene commented on #12267
Thanks for the clarification.

@batzen given that this is by design, I am going to close this issue.  Please feel free to ask additional questions of myself or @rainersigwald.  Thanks!

[2019-08-15 20:15] #12267 closed

[2019-08-15 20:19] zivkan commented on #12267
Relevant docs: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#adding-a-packagereference-condition

emphasis mine.

From https://github.com/NuGet/Home/issues/5895, it may be possible to specify the property doing an msbuild restore `msbuild /t:restore /p:PropertyName=Value`. I'm not sure if `dotnet restore -p:PropertyName=Value` would work. Sometimes unk

[2019-08-15 20:23] livarcocc commented on #12163
Me and @KathleenDollard just discussed this and due to the finality of this change (we can't really take it back) and the potential to lead to very confusing contents in your publish output, we would like to post-pone this change to 5.0, when we hopefully can address the publish incrementality issues.

We will pay attention to feedback meanwhile.

[2019-08-15 20:35] batzen commented on #12267
The code was just an example. The real issue is that code like that is part of the wpf sdk and not a part of user code. Essentially this behavior leads to being unable to call the command on a wpf project.
Do you suggest i create an issue at the wpf project? They would have to duplicate all checks done in an outer scope to several inner scope conditions then.

To be honest I don't think the curren

[2019-08-15 20:52] zivkan commented on #12267
If there's a problem with the way that NuGet and the WPF SDK work together, then our teams need to talk ASAP. However

[code]
works fine for me, so I don't understand the scenario. As the NuGet docs say we only support the TargetFramework property in conditions at the moment, so to me it's working as designed.

[2019-08-15 20:53] bigswede74 commented on #12264
@livarcocc My build server was overriding the sdk version. I removed this and it worked properly. Thanks for the help.

[2019-08-15 20:53] #12264 closed

[2019-08-15 21:34] richlander opened #12272 "Confusing warning message about license, only for pack verb"
This is the experience with .NET Core 3.0 Preview 8:

[code]

This is the warning at issue:

That wording isn't directly actionable since I don't explicitly use "licenseUrl" in my project, and warning doesn't suggest that "licenseUrl might be a substring of another element.

Made this change (based on [NU5125](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5125)):

` <Packa

[2019-08-15 21:38] batzen commented on #12267
It only happens in wpf projects when using TargetFrameworks instead of TargetFramework. That's because TargetFrameworkWithoutV seems to resolve to an empty string at some stage. Can post a repro tomorrow.

[2019-08-15 22:02] peterhuene commented on #12272
Moving to NuGet since this is pack-related.

[2019-08-15 22:04] peterhuene commented on #12272
This issue was moved to NuGet/Home#8461

[2019-08-15 22:04] #12272 closed

[2019-08-15 22:14] peterhuene commented on #12262
Hi @Lxiamail.  The only mechanism for installing .NET Core global tool packages is via an installed .NET Core SDK.  There are no other plans for being able to distribute .NET Core global tools.

Your understanding is correct.  Since global tools are typically just console application projects, you may also distribute your global tool as a self-contained deployment which will not require the target

[2019-08-15 22:23] livarcocc commented on #12270
@wli3 can you take a look?

@richlander as exe produced, I imagine you mean during build?

[2019-08-15 22:25] wli3 commented on #12270
Fixed by https://github.com/dotnet/sdk/pull/3505 should be in preview 9. Is that what you expect?

[2019-08-15 22:25] #12270 closed

[2019-08-15 22:28] livarcocc commented on #12233
I would not take this for 3.0! Seems like something simple for us to take right at the beginning of 5.0, if you want to go ahead and address it.

[2019-08-15 22:30] livarcocc commented on #12262
What @peterhuene is absolutely on point. We have talked about extending global tools to global "apps" and make it available with runtime install alone, but that's not something that we can commit to at this point.

[2019-08-15 22:30] #12262 closed

[2019-08-15 22:58] Lxiamail commented on #12262
@livarcocc @peterhuene Thanks to both of your explanation.

[2019-08-15 23:20] peterhuene commented on #12269
I was unable to reproduce with the generic Linux x64 tar.gz on `opensuse-tumbleweed`.  I could build and run with `dotnet run` as well as executing the produced apphost directly.

I was able to reproduce with the .NET Core SDK installed via snap.

@leecow are there known issues in this area with snap installed .NET Core SDKs?

I'll try to see if I can capture a meaningful backtrace.

[2019-08-15 23:23] peterhuene commented on #12269
It looks like this may be a dupe of dotnet/core-setup#5186.

[2019-08-15 23:47] peterhuene commented on #12269
This is a dupe of the core-setup issue.  The problem is the way snap has modified the apphost's RPATH so that it can't correctly resolve the dependencies from the snap.

I was able to get the apphost working with this workaround:

[code]

Edit `bin/Debug/netcore3.0/console1.runtimeoptions.json` to include this in the `runtimeOptions` settings:

[code]

And then finally run with `DOTNET_ROOT` set:

[2019-08-15 23:47] #12269 closed

[2019-08-16 02:03] omajid opened #12275 "Strange versioning of templates dir in preview 8"
I downloaded .NET Core 3.0 Preview 8 from https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.0.100-preview8-linux-x64-binaries

It contains a new directory for templates. The versioning of this templates directory is strange: `DOTNET_ROOT/templates/3.0.0-preview8-013656/`. The version number of this directory (3.0.0-preview8-013656) doesn't match the SDK (3.0.100-preview8-013656) or the

[2019-08-16 02:04] omajid commented on #12275
This also affects source-build.

cc @crummel @dleeapho @tmds

[2019-08-16 07:14] dasMulli commented on #12163
https://www.google.com/search?rls=en&q=%22p%3APublishSingleFile%3DTrue%22 returns a lot of results..

[2019-08-16 08:03] n-develop commented on #3141
I had the same problem after uninstalling SDK 2.2.401. Removing the empty folder made it work again.

[2019-08-16 13:20] thild commented on #12269
`patchelf` and `DOTNET_ROOT` do the job. No need to set `configProperties` in my case.

[2019-08-16 15:35] richlander commented on #12270
That looks like the same thing, so thanks! I'll repro with P9 and tell you if something is wrong.

[2019-08-16 15:36] richlander commented on #12257
@vitek-karas sent mail, so yes.

[2019-08-16 15:39] richlander commented on #12255
OK. I'll assume I have a machine in a weird state. If others users see this same problem, please say so on this issue.

[2019-08-16 16:11] richlander commented on #10986
I agree with @nguerrera. We haven't designed a solution for custom frameworks (or whatever you want to call them). In general, we like the scenario, but it's hard to design and get right. This is the "full complexity of NuGet" comment that @nguerrera made. We have a way to reason about that for the frameworks that we ship, exactly because they have no NuGet dependencies (by design). If custom fram

[2019-08-16 16:21] batzen commented on #12267
@peterhuene @zivkan
Simple repro for wpf:
- dotnet new wpf
- Replace `TargetFramework` with `<TargetFrameworks>netcoreapp3.0;net45</TargetFrameworks>`
- dotnet restore
- dotnet list package
-> Results in an error being displayed
That's by design?

[2019-08-16 16:34] zivkan commented on #12267
I should have said not a supported scenario, rather than by design.  I also missed that this was about `dotnet list package`, I thought it was a `dotnet restore ` error which would have been really scary.

I'll create an issue on NuGet, since we own `dotnet list package`, but it won't get done for .NET Core 3.0.

[2019-08-16 16:39] batzen commented on #12267
So dotnet list package will be broken for multi targeted projects?
That's sad. Hope it gets fixed for core 3.1 ;-)

[2019-08-16 16:51] rainersigwald commented on #12267
That's a very nice repo @batzen, thanks. Filed microsoft/msbuild#4622 (it _might_ be possible for MSBuild to be more forgiving at some point in the future) and https://github.com/dotnet/wpf/issues/1651 (a small change in the WPF SDK should be able to resolve this specific problem).

[2019-08-16 17:01] zivkan commented on #12267
dotnet list package will work fine for multi targeting projects whose msbuild evaluations don't use conditions other than TargetFramework. Basically, any project type other than wpf or winforms.

[2019-08-16 17:04] livarcocc commented on #12275
This is by design.

It is a mix of the SDK version with the runtime version.

The runtime version is used because it depicts which runtime it targets and it revs based on the runtime.

The SDK version is used because this asset is produced (aggregated) at the core-sdk repo and we needed a way to rev it for every SDK build.

[2019-08-16 17:04] #12275 closed

[2019-08-16 17:52] richlander commented on #12257
Ya, we're going to take this fix. It's approved.

[2019-08-16 17:57] paveliak opened #12282 "dot.net site is down, cannot download https://dot.net/v1/dotnet-install.ps1"
## Steps to reproduce
curl https://dot.net/v1/dotnet-install.ps1

## Expected  behavior
Can download PS file

## Actual behavior
curl: (7) Failed to connect to dot.net port 443: Timed out

## Environment data
`dotnet --info` output:

N/A

Thanks,
Pavel

[2019-08-16 18:34] torquerrr commented on #12110
@nguerrera Sure, thanks in advance! I am also thinking of spinning a clean Manjaro installation in the VM. So we can compare installed packages' versions.

[2019-08-16 18:42] torquerrr commented on #12110
@rchande, @radical I am afraid Mono SDK is somehow involved.
As far as I remember even the `dotnet` purging does not affect the OmniSharp output - it is the same `The SDK 'Microsoft.NET.Sdk.Razor' specified could not be found`.
I think I can provide some additional info after clean VM run.

[2019-08-16 19:07] omajid commented on #12275
@livarcocc What would this version look like at 3.0 GA? Will it be `3.0.0` or `3.0.100`?

[2019-08-16 20:28] livarcocc commented on #12282
We are aware.

cc @rowanmiller

[2019-08-16 20:30] livarcocc commented on #12275
3.0.0, matching the runtime that it targets.

[2019-08-16 20:30] livarcocc commented on #12275
cc @johnbeisner

[2019-08-16 20:38] omajid commented on #12275
Thanks!

[2019-08-16 20:50] rowanmiller commented on #12282
Issue is resolved now, everything is back online

[2019-08-16 20:59] markwilkie commented on #12282
Tracking issue:  https://github.com/dotnet/core-eng/issues/7463

[2019-08-16 21:20] #12282 closed

[2019-08-17 04:41] livarcocc commented on #2448
Going to close this issue since we are moving away from project tools towards global/local tools.

[2019-08-17 04:41] #2448 closed

[2019-08-17 13:01] julielerman opened #12287 "net core 3 preview9 does not build testhost and other runner files for tests"
## Description
In an Xunit project with recent preview9 SDKs, dotnet build doesn't pull testhost.dll or any other important files for running tests. The result when running tests is that none are discovered. Error reports testhost.dll can't be found. I was experiencing this with previously working test projects but it was easily reproducible with a default test project.

## Steps to reproduce
In a

[2019-08-17 15:00] julielerman commented on #12287
boy I need to clean up those old versions. ;)

[2019-08-17 15:19] dasMulli commented on #12287
off-topic / fyi try https://github.com/dotnet/cli-lab/tree/master/src/dotnet-core-uninstall

[code]

[2019-08-17 15:23] julielerman commented on #12287
oh thanks . will try that. Build works properly with   3.0.100-preview8-013656 FWIW

[2019-08-17 16:57] dasMulli commented on #12287
I also just tested it on Mac and linux with the latest preview 9 (preview9-013942) and it seems to work on my machine.. trying to find your exact version now.

[2019-08-17 17:10] dasMulli commented on #12287
I couldn't reproduce this on my Mac and linux docker images with the exact preview9 version you used as well as the latest preview9..
Could also be an environment issue (env vars, Directory.Build.props/targets/rsp files somewhere in the folder hierarchy etc.) - a binary log could help here (`dotnet build -bl` to create `msbuild.binlog` but be aware that it includes full paths and all environment v

[2019-08-17 17:53] julielerman commented on #12287
really appreciate the validation @dasMulli. I tried SO MANY THINGS :( for hours.... ahh well. I will check nto these ideas when I return later. THANK YOU

[2019-08-17 19:08] dasMulli commented on #10986
Visual Studio, and especially MSBuild is a probably a good example. Turns out that the best solution to creating custom tools using MSBuild is compile against the assemblies and then use a loader at runtime (`MSBuildLocator`).

I've come across a few use cases where a framework / decoupling build/runtime assents has made sense and it was done via the GAC.

I think so as well. What I would do at th

[2019-08-17 19:17] orcun opened #12288 "dotnet tool commands should work offline for local sources"
I noticed that sometimes dotnet tool update hangs and realized that was due to connection issues. However I was not expecting this behavior since I was providing a local source.

## Steps to reproduce
Poor wifi connection (or no connection, I haven't tested)
Use a local nupkg folder as source

## Expected  behavior
Operation to work quickly

## Actual behavior
Operation hangs or waits for a long t

[2019-08-17 19:22] orcun opened #12289 "tool manifest should contain source"
## Steps to reproduce
Install a tool locally using a local source

## Expected  behavior
dotnet-tools.json to include source information, beside version, commands, etc.

## Actual behavior
dotnet-tools.json does not record the source of the package

This would help to update local tools with different sources.

## Environment data
Version: 3.0.0-preview8-28405-07

[2019-08-17 21:21] julielerman commented on #12287
I ended up clearing off all of the versions of 3 (sdk & runtime) from my machine and reinstalling the latest daily build. dotnet build on the test projects is now working properly. Thanks for the hints!

[2019-08-17 21:21] #12287 closed

[2019-08-19 00:40] wli3 commented on #12289
@orcun thank you for the issue. What is the scenario you want to achieve? nuget.config (to specify source) can be store with your source code as well. For example https://github.com/NuGet/NuGet.Client/blob/dev/NuGet.Config

[2019-08-19 00:44] wli3 commented on #12288
I believe nuget would prefer local source first. Could your run restore with `-v:diag`, make sure there is no sensitive information and post it here?

 @nkolev92 to verify.

[2019-08-19 01:13] wli3 commented on #10607
@VictorioBerra a "clean" way might be extract all the logic to a library and have 2 projects referencing the library.

[2019-08-19 12:24] dasMulli commented on #12163
ad publish profiles: I've opend https://github.com/dotnet/templating/issues/1654 quite a while ago suggesting templates for publishing profiles. I didn't pursue it any further though.
But it could potentially help in these situations, => `dotnet new publish-profile -n SingleFilePublish --type folder --self-contained false --single-file true -r win-x64`

[2019-08-19 12:57] mchender commented on #10986
Can someone expand on what is meant by this?

This comment seems to imply that the first comment is suggesting we move our assembly from the runtime package store to the GAC. The primary reason this is not an option is that our assembly depends on NuGet packages that are part of the shared framework like Microsoft.AspNetCore.Http, Microsoft.Extensions.DependencyInjection, and Microsoft.Extensions.

[2019-08-19 13:26] dasMulli commented on #10986
I was mostly referring to other software i have seen / worked with. Many of which have been started in the .NET 2.0 era and use the GAC. I am in no way suggesting that (it would likely make you unhappy, also .NET Core doesn't have a GAC comparable with the .NET Framework GAC).

Recent versions of the roslyn compiler are able to emit reference assemblies and the functionality has been wired up in M

[2019-08-19 15:47] nkolev92 commented on #12288
Yup, that's correct. Local sources are preferred over network sources.

[2019-08-19 20:09] torquerrr commented on #12110
@nguerrera
After spending some time with clean Ubuntu 19.04 installation I think I have found a solution. It will apply mostly to Arch/Manjaro users, but likely the same approach could be used for other cases/OSes/packaging types.
Let's start from the basic packages almost anyone who reported the issue (and related issues) have.
In parentheses I will specify versions installed on my machine.
1. do

[2019-08-19 20:25] livarcocc commented on #12296
@shvez how are you publishing your solution?

[2019-08-19 22:34] yshpakov commented on #12233
Why 5.0? It's not good enough for 3.0?

[2019-08-19 23:08] livarcocc commented on #12233
because it is very late for 3.0 and we are shutting down the release.

[2019-08-19 23:13] yshpakov commented on #12233
To me now it looks like a bug and the documentation doesn't have a reference to MSBuild in general or to MSBuild escaping rules. At least maybe the documentation needs to be updated now:

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21

[2019-08-20 03:20] SidShetye opened #12298 "dotnet build should either build or ignore sqlproj SQL project - not error out"
## Steps to reproduce

1. Have a visual studio solution with two projects, one asp.net core project (`*.csproj`) and the other a SQL project (`*.sqlproj`).
2. Issue `dotnet build` at solution level

## Expected  behavior

### Ideal

The solution is successfully built by either msbuild or natively by the dotnet cli (or a plugin).

### Minimum Acceptable

Solution is built by **skipping** projects (

[2019-08-20 03:32] shvez commented on #12296
@livarcocc dotnet publish sln_file -f netcoreapp2.1 -r win-x64

[2019-08-20 06:11] idg10 opened #12299 "corehost spec deleted but still referenced"
## Steps to reproduce

1. Go to https://github.com/dotnet/cli/blob/master/Documentation/README.md
2. Look in **Specifications** section
3. Click on the **Corehost specification** entry

## Expected  behavior

Either: the Corehost specification should load, or: there should be no **Corehost specification** entry in that list.

## Actual behavior

GitHub's 404 page shows because that document does n

[2019-08-20 09:31] yuki233 opened #12300 "Dotnet build failed after targeting a web project's(mvc/web/webapi) framework from 3.0 to 2.x"
## Steps to reproduce
1. Install d16.3 and enable dotnet core 3.0 (3.0.100-preview8-013656 is installed)
2. Install 2.x runtime
3. Create a webapp (targeting 3.0 by default)
4.  Retargeting to 2.1 or 2.2 by edit .csproj file
5. dotnet build

## Expected  behavior
1. This project could be run normally.

## Actual behavior
1. Dotnet build failed with below message
C:\Users\v-zhuqin\myweb30>dotnet bu

[2019-08-20 10:48] vitek-karas commented on #12299
Thanks for spotting this. I created #12301 to remove the stale link.

As noted in the removal, almost all of that information is no longer true, or at the very least it's misleading. There are newer docs in the core-setup repo which describe parts of the problem space, for example: https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/host-components.md and https://github.com/

[2019-08-20 16:10] xenalite opened #12304 "[Question] How to publish solution to a custom output folder?"
I run `dotnet publish name.sln`. The solution contains project X and Y.
I want the publish output to go to: `C:\sample\X` for project X and `C:\sample\Y` for project Y.
I do not want to run `dotnet publish` for each project (rather than solution), because there may be more projects added in the future.

[2019-08-20 16:40] richaverma1 commented on #12300
@yuki233 did you enable .NET Core 2.1 and/or 2.2 from the installer?

[2019-08-20 17:39] livarcocc commented on #12298
This is by design.

The CLI does not try to reason about the set of projects it supports natively because that list of not final.

User's can customize their builds to make different project types work. And this has happened before.

Our recommendation here is that you either use full framework MSBuild.

[2019-08-20 17:39] #12298 closed

[2019-08-20 17:40] livarcocc commented on #12296
This is a known issue because when you pass these options they are treated as global properties and passed to all projects in the solution, which leads to the issue you are running into.

Could you try publishing a particular project instead of a solution? That might unblock you.

[2019-08-20 17:42] shvez commented on #12296
yes, that is what we do now.

how do you plan to resolve the issue with solution publishing and when if you plan?

[2019-08-20 18:15] #12299 closed

[2019-08-20 18:15] livarcocc commented on #12304
I am not sure this is possible today.

@dsplaisted any ideas?

[2019-08-20 18:17] livarcocc commented on #12300
This is not supported. Things have moved around in 3.0 and simply re-targeting the TFM will not be enough to get your project working again in 2.1/2.2.

[2019-08-20 18:17] #12300 closed

[2019-08-20 18:18] livarcocc commented on #12296
The earliest we will address this will be 5.0.

[2019-08-20 18:19] shvez commented on #12296
OMG!

[2019-08-20 18:19] #12296 closed

[2019-08-20 20:53] SidShetye commented on #12298
Why doesn't the CLI figure out what projects it can work with? If Microsoft's own tool team can't figure out that the supported projects are for a given release/config, who else is in a better position?

As an example, CI scripts are far simpler when relying just on `dotnet` and a single way of doing things versus having somethings in msbuild and other in dotnet.

Can you elaborate why this is a d

[2019-08-20 22:00] livarcocc commented on #12298
Because of the open ended nature of MSBuild, verifying if a project is buildable would pretty much require a build to happen, for errors on it to be ignored (how exactly would we discern actual build errors from errors related to the project not being supported) and then a second build would have to happen with some projects excluded.

This would be extremely costly and every build would have to p

[2019-08-20 23:37] SidShetye commented on #12298
I see. What about shipping a default `C:\Program Files\dotnet\sdk\3.0.100-preview8-013656\Microsoft\VisualStudio\v11.0\SSDT\Microsoft.Data.Tools.Schema.SqlTasks.targets` that's a "null target" that's defined as "nothing to do here" or "everything already done", effectively skipping it?

This could patch out certain known problematic project types till either they are actually supported by the MSFT

[2019-08-21 00:21] dsplaisted commented on #12304
`dotnet publish` should work on a solution.  If you want to redirect the output to a different path, you can't do that entirely via the command line.  You can put something like the following in a [Directory.Build.props](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2019) file in your solution directory to customize the different output folders:

[code]

[2019-08-21 00:26] livarcocc commented on #12298
I don't think patching these 1:1 to noop is the right approach here. The number of project types is open ended. Why do one and not the others? Plus, I find the experience of silently ignoring a project type to be very dangerous.

Folks may interpret that as success while noop is very far from that.

[2019-08-21 01:10] TheButlah opened #12318 "[bug] dotnet build repeats executable extension"
## Steps to reproduce
1. `mkdir dotnet-bug`
2. `cd dotnet-bug`
3. `dotnet new console`
4. add `<AssemblyName>dotnet-bug.client</AssemblyName>` into `<PropertyGroup>`
5. run `dotnet build dotnet-bug.csproj -r linux-x64`

## Expected  behavior
Should see an executable named `dotnet-bug.client` in `bin/Debug/netcoreapp2.2/linux-x64/`

## Actual behavior
Instead, the extension of the executable is dup

[2019-08-21 04:36] zhangyiqiu opened #12319 "dotnet build Not recognized overload | dotnet build 无法正确识别重载"
- 英文翻译来自https://translate.google.cn
- English translation from https://translate.google.cn

### vs2019能正常识别到重载，但是dotnet cli没有识别到重载
### Vs2019 can recognize overloads normally, but dotnet cli does not recognize overloads.
## Steps to reproduce
**
如下命令在powershell执行
The following command is executed in powershell
**
[code]
**
将以下内容替换到Program.cs中
Replace the following into program.cs
**
[code]

## Exp

[2019-08-21 09:52] v-yuyul opened #12320 "Update the error info under Entity Framework Migrations section in Publish Settings."
Copied from bug [899200](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/899200).
## Steps to reproduce

1. New Project > ASP.NET Core Web Application >.NET Core 3.0 ~ Web Application With Ind Auth > Create
2. Right click the project > Publish > Create Profile > Select WTE Subscription > Select existing or new resource group/Plan > Create a SQL Database, select exisitng or new Database Serv

[2019-08-21 12:29] kendaleiv opened #12324 "Add `dotnet tool run` for one-time invocation without install"
Add `dotnet tool run` for one-time invocation without install, similar to `npx`. This would enable users to run a package one time without having to first install it. This can be especially useful for tools that are used on occasion but users generally always want the latest version.

[2019-08-21 12:39] TheRealFlif commented on #6060
I got it to work after manually creating the directory logs.
As explained [here](https://codedocu.com/Net-Framework/ASP_dot_Net-Core/Errors/IIS-AspCore-Errors/Asp-Core-Error_colon_-Could-not-create-stdoutLogFile?2308)

[2019-08-21 14:15] am11 opened #12325 "dotnet-publish with --use-current-rid or --infer-rid option"
At present:

[code]

throws error:

which requires a fix like:

[code]

It is fairly a common usecase to publish an app for platform with same RID as host.

However, the error is good to keep it an explicit and conscious decision of user; instead of falling back to some default value.

Please add `--use-current-rid` or `--infer-rid` option for automation and documentation convenience.

This way us

[2019-08-21 15:14] TheButlah commented on #12325
It would be awesome if this could be configured in the .csproj too

[2019-08-21 15:45] livarcocc commented on #12318
We might have a bug for this already. I will try to find it later.

[2019-08-21 15:47] livarcocc commented on #12319
@agocke @jaredpar any ideas?

[2019-08-21 15:49] livarcocc commented on #12324
cc @KathleenDollard

[2019-08-21 15:51] livarcocc commented on #12325
@peterhuene can you help out here?

[2019-08-21 16:09] jaredpar commented on #12319
Do we know which version of VS2019 is being used here? Need that to understand which SDK is involved for the good scenario.

[2019-08-21 16:14] jaredpar commented on #12319
So far I've been unable to reproduce this. I used the following SDK versions:

- 2.1.600
- 3.0.100-preview7

The code compiled in both cases.

[2019-08-21 16:29] livarcocc commented on #12319
I see he is using 2.2.101, which is the equivalent of 15.9 for the SDK, while VS is some 16.x build.

[2019-08-21 16:39] zhangyiqiu commented on #12319
谢谢大家
Thanks everyone.

此问题和sdk版本有关，2.2.101会有这个问题
This issue is related to the sdk version，2.2.101 will have this problem.

在我安装当前最新版的dotnet-sdk-2.2.401后此问题得到解决
This problem is solved after I install the latest version of dotnet-sdk-2.2.401.

[2019-08-21 16:39] #12319 closed

[2019-08-21 16:42] peterhuene commented on #12325
@livarcocc as a feature for 5.0?

[2019-08-21 16:53] peterhuene commented on #12318
I believe this was fixed in 3.0, but I can't seem to find the tracking issue.  It does not repro with SDK `3.0.0-preview9-19419-03`.

[2019-08-21 18:22] johnbeisner opened #12328 "The install scripts rely on a failure to download as a normal procedure"
The install scripts rely on a failure to download as a normal procedure.

The 'primary' blob storage location is tried
    if the download fails
The 'legacy' blob storage location is tried

This can be confusing to users as they see an 'error' in a successful process.

**Proposal:**
1. Maintain a hint path table with presedential ordering
2. Perform a 'lookup' first before trying a download [retry

[2019-08-21 18:26] Sean-Driscoll commented on #11543
@livarcocc - this is still unclear to me. Per the doc [here](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj#runtimeidentifiers), RuntimeIdentifier**s** exists to publish multiple self-contained deployments (i.e. it's akin to publishing several times with different RuntimeIdentifier values). By that logic I assumed it would publish multiple singles files, one per target RID. The part tha

[2019-08-21 19:53] wli3 commented on #12324
regardless if we want to add it or not. On technical level, signing verification on nuget xplat is required. cc @anangaur

[2019-08-21 20:34] livarcocc commented on #12325
That's what I had in mind, though I imagine we should spend some time figuring it out exactly. cc @KathleenDollard

[2019-08-21 20:35] livarcocc commented on #12318
I thought so as well.

@TheButlah can you try that with the latest 3.0 preview9 build and see if this repros for you?

[2019-08-22 06:17] mcm-ham commented on #7539
@dasMulli I would like to package my [Razor Class Lib](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk) as a nuget package and had to add IsPackable before it worked.

Did that issue get filed?

[2019-08-22 09:06] codeinstinct opened #12333 "Feature request: Flutter cli like "doctor" command"
It would be helpful for beginners and intermediates to get started with the dotnet core ecosystem, if there was a utility like `dotnet doctor` (just like the one in the flutter cli) that could diagnose the dotnet setup on the machine and point out which dependency is out of place.

More points, if the dependency error could automatically get fixed or point the user to the most relevant step for th

[2019-08-22 12:20] vitek-karas commented on #12257
Fixed by dotnet/sdk#3542

[2019-08-22 12:20] #12257 closed

[2019-08-22 13:17] grantzvolsky commented on #9114
For those using the [snap](https://snapcraft.io/dotnet-sdk) package, the `libhostfxr.so` error can be fixed as follows.
[code]

[2019-08-22 13:32] UweKeim commented on #11650
I'm getting this/a similar error with an ASP.NET Core 3 Preview-7 project, when I first opened it with Preview-8 in Visual Studio 2019:

[code]

[2019-08-22 15:01] Chrispy555 commented on #3102
Still happening in VS Community 2019, can`t find dotnet.exe in task manager!

[2019-08-22 17:31] TheButlah commented on #12318
Can I still target .net core 2.2 with that? Sorry I'm new to this whole ecosystem

[2019-08-22 17:38] livarcocc commented on #12333
cc @KathleenDollard

[2019-08-22 17:39] livarcocc commented on #11650
@peterhuene any ideas?

[2019-08-22 17:40] livarcocc commented on #12318
@TheButlah yes. You can use the latest SDK to target all TFMs that came before it. So, 3.0, can target 2.2, 2.1, 2.0, 1.1 and 1.0.

[2019-08-22 17:45] TheButlah commented on #12318
Yep, the following version no longer has the bug:
[code]

[2019-08-22 17:45] #12318 closed

[2019-08-22 19:27] peterhuene commented on #11650
No new theories other than something like an antivirus program is interfering with writing out the resources.  This is a generic access denied error.  I still believe that retry at the point of resource updater interaction in `HostWriter` will help mitigate the issue.

Ultimately I hope a future version of the SDK opens the apphost just once for customization, but that would require getting rid of

[2019-08-22 21:49] adaggarwal opened #12340 "Potential Bug in the way to detect for docker environment"
## Steps to reproduce
Use this Environment -> CentOS docker on RHEL7 host

## Expected  behavior
for `docker run --rm centos:centos7 /bin/sh -c 'if grep -q /docker/ "/proc/1/cgroup"; then echo "yes"; fi'` to stdout `yes` but in reality it fails as there is no trailing `/` in the cgroup file for docker on rhel7. In reality it passes with `/docker-` as the check.

## Actual behavior
The [logic](http

[2019-08-22 22:30] KathleenDollard commented on #12333
We have been thinking about this, but we are considering what to check. Would love your further thoughts on what questions you think a doctor command should check.

[2019-08-22 22:46] livarcocc commented on #12340
@adaggarwal can you help me understand why do you believe this is a .NET Core CLI issue?

[2019-08-22 22:56] Lxiamail opened #12341 "dotnet build Doesn't copy ilasm.exe to app output folder after switching from netstandard1.3 to 2.0"
## Steps to reproduce
1. consoleapp3  references to a classlib1 project.
2. consoleapp3  also packagereference to Microsoft.NETCore.ILAsm (`<PackageReference Include="Microsoft.NETCore.ILAsm" Version="2.0.5" />`)
3. classlib1's TargetFramework is netstandard1.3
4. "dotnet build  ConsoleApp3.sln" to build the solution, ilasm.exe is copied to bin/debug output dir of consoleapp3 as expected.
5. chang

[2019-08-22 23:05] livarcocc commented on #12341
@dsplaisted can you take a look?

[2019-08-23 00:06] dsplaisted commented on #12341
I think this was fixed in the .NET Core 3.0 SDK with https://github.com/dotnet/sdk/pull/3406.

If you need to work around the issue, you can do so by referencing the `Microsoft.NETCore.Platforms` NuGet package for the project targeting .NET Framework.

[2019-08-23 11:42] dasMulli commented on #12325
This is a reasonable request, the SDK already does some RID inferring, even for non-rid-specific builds, and generates a host in 3.0
Seems like a reasonable extension that PublishSingleFile or UseAppHost should also use an inferred RID by default or at least provide an option to infer the RID.
Could also be useful in multi-leg CI builds running off the same scripts.

[2019-08-23 14:01] fbouteruche commented on #9738
It is the same issue if you want to run a global tool in a folder that contains multiple project files.

[2019-08-23 15:36] Lxiamail commented on #12341
@dsplaisted Thanks!

[2019-08-23 15:44] thothothotho commented on #10357
Why don't you add a post install script in the ubuntu package  that does exactly that ? (`sudo dotnet new console`)

[2019-08-23 16:06] hananiel commented on #1201
on linux/mac: `export VSTEST_HOST_DEBUG=1`

[2019-08-23 16:47] andtii opened #12349 "dotnet publish {path} dosent respect global.json"
## Steps to reproduce
Using dotnet publish pointing to another path then the current folder ignores the global.json

## Expected  behavior
Use the global json

## Actual behavior
Its not using the global json and is using the latest

[2019-08-23 17:33] daniel-packard commented on #9690
@vijayrkn -- seems I have the same issue with visual studio 2019, netstandard 2.0, and netcoreapp2.2

Is it better to file as a new issue since this is already closed for some time?

[2019-08-23 17:43] adaggarwal commented on #12340
I just believe that given that someone is using rhel7 host and if the intention is to detect docker environment, this may fail. I had something similar in source-build for running coreFX tests which failed in my local environment. So I thought it may be a good idea to open to give a heads up here as well.

[2019-08-23 20:20] dsplaisted commented on #9690
@daniel-packard Yes, please file a new issue with details about your issue, and as much as possible in terms of repro steps.  Thanks!

[2019-08-23 21:06] vsfeedback opened #12354 "-->VS 2019 nice to have version control install"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/475347/-vs-2019-nice-to-have-version-control-install.html)._

---
In VS 2017 when loading project if you were missing a framework the VS message box would appear notifying you of this, allowing you to download
required Framework.
would be nice to have simular situation for SDK

[2019-08-23 21:13] timheuer commented on #12354
Can be closed...triaged to this path in error.

[2019-08-23 23:21] livarcocc commented on #12341
Seems like this is addressed. Going to close this issue.

[2019-08-23 23:21] #12341 closed

[2019-08-23 23:22] livarcocc commented on #12349
@peterhuene can you take a look?

[2019-08-23 23:23] livarcocc commented on #12349
@andtii which version of the SDK are you using? Could you share with us the output of running `dotnet --info`?

[2019-08-23 23:26] #12354 closed

[2019-08-23 23:55] douglasg14b commented on #7539
This also seems to apply to projects that Visual Studio thinks are test projects. Even if there are no tests (ie. a supporting library that has xunit as a dependency)

[2019-08-24 06:45] dasMulli commented on #7539
For test project, there was an explanation at https://github.com/NuGet/NuGet.Client/pull/1170#issuecomment-279033654
Also helped protecting against https://github.com/xunit/xunit/issues/1170

I'm surprised about razor class libs though, that seems to make sense - sharing view code across web projects.. maybe @vijayrkn has some insight on the web / razor SDKs behaviour for packing

[2019-08-24 14:16] echuck66 commented on #2921
I don't understand why my try-catch blocks won't catch this. It occurs when executing a .migrate operation agains a sql database using ef core.

Again, why the heck doesn't the try/catch block catch this?

[2019-08-25 15:01] codeinstinct commented on #12333
Hi Kathleen, apologies for a delay in my response.

[Here](https://github.com/codeinstinct/thoughts-dotnet) are some thoughts about DFCE (Dotnet First Contact Executable) and DD (Dotnet Doctor).
Feel free to share your thoughts, fork or use it in any way you seem fit.

[2019-08-26 07:27] isen-ng commented on #533
This removes your old version and installs the current latest version. For users of `Global.json` (which in itself needs greater-than/lesser-than operators as well as wildcarding), this can be a bane.

There should be a tap available for users to install different versions of the dotnet-sdk side-by-side. The good thing is that dotnet-sdk already supports this (see `dotnet --list-sdks`), and the on

[2019-08-27 12:13] andtii commented on #12349
.NET Core SDK (reflecting any global.json):                                                                                                                       Version:   3.0.100-preview8-013656
 Commit:    8bf06ffc8d

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview8-013656

[2019-08-28 12:54] orcun commented on #12289
Perhaps generating nuget.config or an entry if it exits would probably work. I am not sure if that also supports file paths but assuming that it does, how can naming conflicts be resolved? I would also prefer to read the source of the package right next to it and not search for it.

[2019-08-28 13:11] orcun commented on #12288
I am not sure if I can replicate it (poor wifi connection) easily but I will keep it in mind. Perhaps suggesting this to users when some tasks take a long time would be useful.

[2019-08-28 15:02] theswanand commented on #10548
Hi @peterhuene,

Can you assign this issue to me. I can try this as my first issue.

[2019-08-28 20:23] orcun commented on #12289
You are absolutely right. I didn't even check if it were also the case for package references before posting this issue. That is something I was expecting by default because of experience with other package managers in many different languages and I assumed this was probably due to new local tool manifest support.

[2019-08-29 07:10] xenalite commented on #12304
@dsplaisted Thanks. I used this in `Directory.Build.props` file and worked fine.
[code]

[2019-08-29 07:10] #12304 closed

[2019-08-29 08:31] PDostalek opened #12422 "[loc][Query][cli] Localizability of "0; "ToolInstallationFailedWithRestoreGuidance"
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Tool '{0}' failed to install. This failure may have been caused by:\r\n\r\n* You are attempting to install a preview release and did not use the --version option to specify the version.\r\n* A package by this name was foun

[2019-08-29 15:56] danielvlasceanu commented on #3568
In my opinion, the path should be somehow configurable, via UI at installation time (in which case it should provide a default path) or an environment variable. I had to move the Program Files\dotnet folder to another disk and changed the dotnet variable accordingly, and all worked well. Until I installed another version of .NET Core SDK and wondered why on Earth isn't Visual Studio picking it up?

[2019-08-30 05:23] Thaina opened #12433 "Please add command option --sln to build one single sln file"
For the most part, where we want to write script for autobuild or build the default solution. We might have many proj file in the same folder. So I think we should have some option to infer the single solution without specifying its name

I think we should have `dotnet build --sln` option available. It would find the single sln in the root folder. And still throw `MSB1011` if there is multiple sln

[2019-08-30 17:05] livarcocc commented on #12433
Wildcard is not directly implemented by the CLI. It is dependent on the shell that you are using. For instance, on bash, it works without a problem.

I don't believe this is something we will get to and as such I am going to close this issue.

This command work for me on bash though: `dotnet build *.sln` where I had also created a couple of csproj files in the same folder.

[2019-08-30 17:05] #12433 closed

[2019-08-31 00:18] mairaw opened #12444 "--depsfile and --runtimeconfig runtime options missing from dotnet --help"
## Steps to reproduce
dotnet --help

## Expected  behavior
It would list those two options (`--depsfile` and `--runtimeconfig`) under runtime-options.

## Actual behavior
Those options are not listed.

## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview9-014004
 Commit:    8e7ef240a5

Runtime Environment:
 OS Name:     Windows
 OS Ve

[2019-08-31 00:19] mairaw commented on #12444
Related to https://github.com/dotnet/docs/issues/12543

[2019-08-31 08:15] hez2010 opened #12459 "Resx files weren't compiled with Release configuration"
**Version Used**: .NET Core 3.0 preview 8

**Steps to Reproduce**:

1. dotnet new console
2. add a resx file Resource1.resx using Visual Studio
3. add some strings, files or whatever you like in the resx file
4. use the resource you added in code

**Expected Behavior**:
Program will run as expected

**Actual Behavior**:
Program will run as expected with Debug configuration `dotnet run`, but not wi

[2019-08-31 20:19] arcooke opened #12454 "dotnet run fails silently on linux"
_I'm running an unsupported distro_ (Solus) using dotnet and vs code snaps, so there is no expectation of official support.  However, I don't think `dotnet run` should be failing silently under any circumstance, supported or not.  I am happy to to try to resolve my own issue, but I'm not getting any output from dotnet that I can use to debug.  `--verbosity` option makes no difference

I could use

[2019-09-01 13:51] tyeth commented on #10336
Thank you @tomRedox , in my mixed version solution, I had a legacy web project using 2.2 converted to 3 and it was  still referencing Microsoft.AspNetCore.Razor.Design Version="2.2.0"

[2019-09-01 14:45] svick opened #12457 "Tab completion for "dotnet new""
## Steps to reproduce

1. Enable tab completion for `dotnet` in PowerShell.
2. Type e.g. `dotnet new cl<Tab><Tab>`.

## Expected  behavior

Tab completion works for `dotnet new` templates.

## Actual behavior

Tab completion doesn't work. This can also be seen using `dotnet complete`:

[code]

Notice that options to `dotnet new` are listed, but template names are not.

## Environment data
`dotnet

[2019-09-01 14:59] svick commented on #12457
Looks like this is a duplicate of https://github.com/dotnet/templating/issues/1539.

[2019-09-01 14:59] #12457 closed

[2019-09-01 17:31] HoldOffHunger commented on #8456
Once again, another dotnet issue resolved by ordinary GitHub users and not the devs!

P.S. Dev's recommended solution crashes with "msbuild command not recognized."

[2019-09-02 08:10] dasMulli commented on #8456
Did you get the same MSB4216 error from before? That does not seem related.

[2019-09-02 08:12] robertmclaws opened #12467 "dotnet pack wildcard exclusions"
When I call `dotnet pack`, I can have wildcard exclusions for the path. For example:
`**/*.csproj;!**/MyFramework.Templates.*.csproj;**/MyFramework.Templates.Package.csproj;`

The same is not true when I call `dotnet restore`. If I want projects with a certain set of criteria to be left out, I have to manually specify each project. That can get kinda bonkers on large projects.

If you folks could

[2019-09-02 08:52] ransagy commented on #10668
I've come across this myself. Is there any way for us to nail it down further? some diagnostic/verbose output to understand which path is it tripping on?

I tried adding the --verbosity diag and --diagnostics flags, but the cli doesn't accept those in any way i could add them coupled with the add package command.

[2019-09-02 09:54] tmds opened #12468 "dotnet new is slow with 3.0 sdk"
`dotnet new` takes much longer with 3.0 sdk. From less than half a second with 2.2, to more than 3 seconds with 3.0:

[code]

[code]

The message `The template "Console Application" was created successfully.` appears as fast, but then the program still sits idle for some time.

[2019-09-02 11:07] tmds commented on #12468
After the message is printed, the sdk is still doing some things that involve `installUnitDescriptors.json`, `nugetTemplateSearchInfo.json` and downloading stuff from the internet.

[2019-09-02 11:38] vchirikov commented on #6178
`3.0.100-preview8-013656` still broken.
@livarcocc can you reopen this?

[2019-09-02 16:28] dasMulli opened #12470 "CLI experience for managing framework references"
Similar to managing references to NuGet packages and other projects (P2P references), the CLI should provide a mechanism to manage reference to frameworks.

Looking at a few 3.0 apps being built, I have seen horrible workarounds to make library projects trying to make use of types in the ASP.NET Core shared frameworks for creating separate projects for things like controllers for certain APIs, reu

[2019-09-02 21:46] danielValdezR opened #12476 "Getting NULL when using ResourceManager.GetString() with strings using placeholders"
I have a embedded Resource.resx file and a Resource.Designer.cs autogenerated containing many string resources, some of them have placeholders (i.e. "Hello, '{0}'") and these are the ones that are returning **null** when calling from code, i.e. Resource.KeyName. This Resource.resx file exist in a library project with TargetFrameworks net452, netstandard2.0 and netstandard2.1. I'm dealing with this

[2019-09-03 02:14] TheButlah commented on #12325
For what its worth, the use case for me was that the codebase I was working with was being migrated from .Net Framework. It expected .exe files to be in certain locations. This meant that an rid had to be specified to get an actual executable file. On linux and mac, the executable was renamed to end in .exe

However, I want it so that simply doing a dotnet build will produce an exe, as simply buil

[2019-09-03 05:21] sknightq commented on #7913
@nguerrera Thanks for your sharing. It works for me!

[2019-09-03 06:41] tmds commented on #12468
CC @livarcocc @KathleenDollard

[2019-09-03 07:03] tmds commented on #12325
+1

It's good to make explicit what rid the published artifacts are going to work on. Especially on Linux, where users may expect publish to mean `linux-x64`. If you're on Alpine (which isn't `linux-x64`, but `linux-musl-x64`) your published application won't work where you expect it to.

[source-build](https://github.com/dotnet/source-build/) .NET Core will be producing artifacts which are likely

[2019-09-03 08:01] MuiBienCarlota commented on #7043
@livarcocc Why did you moved this to nuget? It's only a need of evolution of dotnet cli.

[2019-09-03 08:09] MuiBienCarlota commented on #7043
After 2 years, this issue should be re openned and handled.

[2019-09-03 13:19] JerryBian commented on #10336
Exactly like @tomRedox explained.

For me just one additional step - restart Visual Studio to make it effective. Possible some cache file - not sure.

[2019-09-03 13:49] rainersigwald commented on #12459
Thanks for the report. The error message is correct; the bug is that the second build succeeded. This is expected to be fixed in preview 9.

[2019-09-03 13:49] rainersigwald commented on #12459
Duplicate of https://github.com/microsoft/msbuild/issues/4553

[2019-09-03 13:49] #12459 closed

[2019-09-03 15:29] valdanioDanio commented on #9659
ok

[2019-09-03 16:15] wli3 commented on #10668
This issue was moved to NuGet/Home#8543

[2019-09-03 16:15] #10668 closed

[2019-09-03 16:44] KathleenDollard commented on #12468
@tmds We made a change in `dotnet new` that allows it to check the validity of templates when running `dotnet new` so this slow down is in the range we expected. If your template is out of date (important for some templates like the gRPC one) you'll be notified.

These changes were in [the template engine](https://github.com/dotnet/core-setup)

[2019-09-03 17:38] peterhuene commented on #12349
Hi @andtii.  In your scenario, where is `global.json` located?  Is it where `dotnet` is being run or where the solution/project file you're publishing is located?

`dotnet` only looks up the directory tree relative to the current working directory and not based on any input to a .NET Core SDK command (such as `dotnet publish`).

[2019-09-03 17:49] peterhuene commented on #12422
Hi @PDostalek.

Sorry for the late reply as I've been on vacation.

@wli3 what would be a good explanation of this text?  "Package naming requirement"?

[2019-09-03 17:51] danmosemsft commented on #12476
OK, moving. CLI folks, thoughts? This seems CLI build specific.

[2019-09-03 17:51] peterhuene commented on #3568
@johnbeisner we addressed this in 3.0, correct?

[2019-09-03 17:53] peterhuene commented on #12444
@livarcocc I assume 5.0?  I can quickly get this fix this week.

[2019-09-03 17:58] wli3 commented on #12422
cc @KathleenDollard
package naming enforcement -- we reference to the policy (not yet implemented) all Microsoft first party global tools package name need to have prefix "microsoft." (_dotnet-mytool_ vs _microsoft.dotnet-mytool_)

[2019-09-03 18:02] peterhuene commented on #12454
Hi @arcooke.

This is a known issue with snap installs preventing framework-dependent application via the apphost (the executable that gets built by default for your application).

See https://github.com/dotnet/cli/issues/12269#issuecomment-521835506 for a workaround.

We're tracking the problem with https://github.com/dotnet/core-setup/issues/5186, which also links to a bug in snap.

I'm going to

[2019-09-03 18:02] #12454 closed

[2019-09-03 18:03] KathleenDollard commented on #12422
OK, now I hate that we are saying that. Will, if no one knows what that means except us, what is the point of saying more than:

I know, making text changes in localization is terribly late.

[2019-09-03 18:06] peterhuene commented on #12470
@livarcocc @dsplaisted @nguerrera thoughts on this one?

[2019-09-03 18:13] tmds commented on #12468
This is the UX:
[code]
It's not obvious why several seconds are passing.
It also seems weird that you check new templates after instantiating, and not before.
If I'm not instantiating a template that may need an update why am I delayed.

[2019-09-03 18:19] wli3 commented on #12288
close per no action item (it should work. and no repro for not working)

[2019-09-03 18:19] #12288 closed

[2019-09-03 18:31] KathleenDollard commented on #12468
@vijayrkn

[2019-09-03 18:38] adamralph commented on #10825
In which version of the .NET SDK can we expect this change?

[2019-09-03 18:44] peterhuene commented on #10825
Hi @adamralph.  It looks like the change went into Preview 4 of the 3.0 .NET Core SDK.

The latest version is Preview 8, which should still contain the change.

Thanks!

[2019-09-03 18:46] adamralph commented on #10825
Thanks @peterhuene.

I'm still a confused by the status of `dotnet test`. https://github.com/dotnet/cli/issues/10165 was raised for `dotnet test`, but was closed in favour of this issue. But I see no mention of `dotnet test` in https://github.com/dotnet/cli/pull/10829.

[2019-09-03 19:01] peterhuene commented on #10825
I believe `dotnet test` already did support `--nologo` prior to this issue and thus only the other commands were changed.

[2019-09-03 19:11] adamralph commented on #10825
@peterhuene thanks, that issue in turn has led me to https://github.com/dotnet/cli/pull/10662 so I'll follow up there.

[2019-09-03 20:29] arcooke commented on #12269
Thanks for the workaround.  All I needed was `patchelf` as well. Globalization setting was not needed and I didn't have to define my project path in DOTNET_ROOT

Because this information is scattered all over the place, here is my complete solution to get the dotnet core snap fully up and running (on Solus) if it helps anyone:

* Install dotnet core snap
* Make `dotnet` alias: `sudo snap alias dot

[2019-09-03 21:08] ericstj commented on #12476
This is most likely related to changes in ResGen.  /cc @rainersigwald

What's interesting here is GenerateResourceUsePreserializedResources + net452.  System.Resources.Extensions only supports netstandard2.0, so the net452 compile would not be seeing System.Resources.Extensions.dll.  I would expect the net452 compile of your library from the dotnet CLI to fail if S.R.E was actually required.  If y

[2019-09-03 21:18] rainersigwald commented on #12476
Possibly a failure to compile on net452 was being masked by https://github.com/microsoft/msbuild/issues/4553.

I would also like to see a repro project.

[2019-09-03 22:18] tarekgh commented on #12476
having a repro project will help here as I am even not sure what means by calling ```Resource.KeyName```. I tried a small console project calling a library with a resources and I am not experiencing any problems reading the resources even when targeting net45 and using CLI.

[2019-09-03 22:25] vsfeedback opened #12478 "VS 2019 16.2.2 and .Net core .2.2.6 SDK 2.2.401"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/697682/vs-2019-1622-and-net-core-226-sdk-22401.html)._

---
Hi ,
I have updated VS 2019 to 16.2.2.  Installed .net core 2.2.6 (sdk 2.2.401)
I can't upgdate my asp.net core  project to use .net core 2.2.6.

C:\&gt;dotnet --list-sdks
2.2.401 [C:\Program Files\dotnet\sdk]

---

[2019-09-03 22:28] mkArtakMSFT commented on #12478
@livarcocc can you please move this over to aspnet/AspNetCore repo? Thanks!

[2019-09-03 22:32] wli3 commented on #12478
This issue was moved to aspnet/AspNetCore#13665

[2019-09-03 22:32] #12478 closed

[2019-09-04 08:49] danielValdezR commented on #12476
repro project: https://github.com/danielValdezR/ResourcesTest

Steps to reproduce:
cd ..\ResourcesTest\ResourcesTest.Tests
[code]

Log:  https://github.com/danielValdezR/ResourcesTest/blob/master/log.txt

[2019-09-04 15:00] rainersigwald commented on #12476
Thanks @danielValdezR! The fact that the second build is required is indicative of microsoft/msbuild#4553. I tried your repro on my machine with a preview9 build (`3.0.100-preview9-014004`) and all three TargetFrameworks pass tests. Another change means that `System.Resources.Extensions` is not required as often, so this specific repro project doesn't require it, though that won't be true of all `

[2019-09-04 15:00] #12476 closed

[2019-09-04 15:14] ldubrois opened #12480 "'dotnet pack' is not restoring right package dependencies when condition is used"
## Steps to reproduce
I have a project in which I have created additional Configuration (Release_v3).

In the csproj of my project, I have added the following lines :

[code]

## Expected  behavior
When I run the ```dotnet pack``` command with the argument ```-c Release_v3``` the resulting package should include a dependency to MyPackage version 3

## Actual behavior
The package produced has the r

[2019-09-04 16:42] dasMulli commented on #12325
Did you try the 3.0 previews already? You should get a .exe for non RID-specific builds as well.

Building / publishing for a specific RID and generating an apphost (.exe on windows, mach-o executable on macOS, ELF binary on linux) are not necessarily both necessary.

The SDK is capable of emitting a host binary for the current RID even for framework-dependent deployments so you don't absolutely h

[2019-09-04 16:44] dasMulli commented on #12325
Sadly there is no way (@peterhuene / @nguerrera correct me if I'm wrong) to specify a RID for the app host generation without forcing NuGet to create a RID-specific package / asset graph and e.g. create a framework-dependent deployment with a convenience host for different platform.

[2019-09-04 17:54] jewinkle opened #12482 "MicrosoftNETPlatformLibrary property for Microsoft.AspNetCore.App fails with NRE for .NET Core 3.0"
## Steps to reproduce
 1.
[code]

2.
[code]

## Expected  behavior
Store is generated that excludes assets that exist in Microsoft.AspNetCore.App

## Actual behavior
Crashes with NRE

## Environment data
`dotnet --info` output:
[code]

[2019-09-05 01:53] winnieryl commented on #11940
@mairaw Hi, I notice this was closed, but https://dot.net/v1/dotnet-install.sh is not updated.

[2019-09-05 02:42] mairaw commented on #11940
@winnieryl they will probably release the script soon to the download site. Can you check if the script at https://dot.net/staging/dotnet-install.sh works for you?

[2019-09-05 06:27] YunWeiaa opened #12488 "Preview version message should not appear when build project with .Net Core 3.0 GA"
## Steps to reproduce
1. Install .NET core SDK 3.0.100-rc1-014183(Use release/3.0.1XX branch from https://github.com/dotnet/core-sdk)
2. Run `dotnet new console -o csapp02` via CLI
3. Run `dotnet build` to observe the result

## Expected  behavior
Dotnet build works fine, the preview version message does not appear.

## Actual behavior
It shows that: _`You are using a preview version of .NET Core.

[2019-09-05 10:36] rezna306601261 commented on #11006
Hi wli3, I would like to reopen that issue as I have ran into the same situation. I'm attaching a minimalistic solution for repro.

[TestProjForRepro.zip](https://github.com/dotnet/cli/files/3578775/TestProjForRepro.zip)

I'm using .NET core 2.2.106 to build it. Now the repro. I always assume I start in the directory where *.sln is, and that the 'bin' and 'obj' folders are deleted -> so I have a c

[2019-09-05 11:46] rochapablo commented on #2921
In my case, this occurs when I do

[code]

[2019-09-05 12:46] rezna306601261 commented on #11006
I was wondering what's happening and why 'Debug' works, here's what procmon sees. Even though I'm trying to run Release version it searches the Debug folder

![procmon](https://user-images.githubusercontent.com/18053378/64342930-d63b8580-cfeb-11e9-964f-63729c771dd0.PNG)

[2019-09-05 14:26] rezna306601261 commented on #11006
Continued debugging the dotnet.exe tool 2.2.106 and here it comes

`CommandResult result = Command.Create(`
`                        "dotnet-" + topLevelCommandParserResult.Command,`
`                        appArgs,`
`                        FrameworkConstants.CommonFrameworks.NetStandardApp15)`
`                    .Execute();`

Command.Create actually has more argument and one of them is Config

[2019-09-05 14:50] OlegYanushkevich opened #12493 "How to pass parametrized tests into filter for dotnet test?"
How I can pass parameterized tests into filter for dotnet test command?

I tried something like:

```dotnet test --filter 'FullyQualifiedName=QAutomation.Tests.NUnit.Fixture.Test2("first",3,4)'```

and

```dotnet test --filter 'FullyQualifiedName=QAutomation.Tests.NUnit.Fixture.Test2\("first",3,4\)'```

but it doesn't work.

I have parameterized tests:

[code]

[2019-09-05 15:42] chrispat commented on #12175
As mentioned in the issue referenced for github/actions we have been looking to implement this feature in our setup-dotnet action.  My preference would be to have the installer scripts just handle it so people just get this for free.

[2019-09-05 17:12] livarcocc commented on #12488
This is still a preview version, although versioned rc1 instead of previewX. It won't show the message when it is final branded, without any suffix in the version.

[2019-09-05 17:12] #12488 closed

[2019-09-05 17:44] livarcocc commented on #12467
The CLI itself does not do globing. We rely exclusively on the shell script on which the CLI is running for globing expansion.

Which shell are you using?

[2019-09-05 17:45] livarcocc commented on #6178
@vchirikov how is it broken for you?

[2019-09-05 17:47] livarcocc commented on #7043
This is moved to NuGet because the add package code is owned by NuGet, even though it runs through the CLI. Moving it to NuGet makes it easier for that team to see and respond to it.

[2019-09-05 18:28] peterhuene commented on #12493
@mayankbansal018 would you know the answer to this question?

[2019-09-05 20:47] #12444 closed

[2019-09-05 20:48] peterhuene commented on #12444
Fix merged into master (5.0).

@livarcocc if this meets the bar for 3.1, let me know and I'll port it to the `release/3.1.1xx` branch.

[2019-09-05 21:22] livarcocc commented on #12480
Can you share the project.assets.json file for when the dotnet pack runs and uses the wrong dependencies?

Are you sure restore is running when you pass the new configuration?

@nkolev92 is configuration an input for implicit restore?

[2019-09-05 21:24] livarcocc commented on #12482
@dsplaisted can you take a look?

[2019-09-05 21:36] nkolev92 commented on #12480
Nope.
Restore by design won't use the configuration switch, because the assets file lives in root obj.
You need to pass it explicitly to every step or consider not using configuration as a pivot, but a custom property.

[2019-09-05 21:42] dsplaisted commented on #12482
We should fix the error message.  However, if you are targeting 3.0, then I think you should not set MicrosoftNETPlatformLibrary in this scenario.  The shared framework is no longer represented as NuGet packages, so it shouldn't be part of the store by default.

FYI @nguerrera

[2019-09-05 23:28] jewinkle commented on #12482
Is there something that can be used in 3.0 so that we can trim down the packages generated by the runtime store?

[2019-09-05 23:31] nguerrera commented on #12482
Can you supply the full repro steps of what you are trying to store?

[2019-09-06 03:03] winnieryl commented on #11940
yes, staging works for me.

[2019-09-06 05:50] OlegYanushkevich commented on #12493
Found similar question in [doc repository](https://github.com/dotnet/docs/issues/13963), but any answers.

[2019-09-06 05:57] mayankbansal018 commented on #12493
@OlegYanushkevich can you please check https://github.com/microsoft/vstest-docs/blob/master/docs/filter.md, see if that helps. It's possible FQN is not supported by NUnit. If that's the case you will have to follow with NUnit team for that.

[2019-09-06 07:19] ldubrois commented on #12480
Thanks for your feedback.

What is strange and disapointing is that Visual Studio does it well, but the command line does not.

I've seen on forum and issues many people has encountered the same issue.
@nkolev92  Is there somewhere some sample of how to perform it in the way you indicate it in your answer ?

thanks

[2019-09-06 09:10] rezna306601261 commented on #11006
A workaround I have found is to set also

`<MSBuildProjectExtensionsPath>$(SolutionDir)\obj\Shared\$(MSBuildProjectName)\</MSBuildProjectExtensionsPath>`

So the extensions path is configuration agnostic. Then it works.

[2019-09-06 23:07] KathleenDollard opened #12522 "--nologo incorrect/ugly in --help"
## Steps to reproduce
dotnet build -h
dotnet pack -h
possibly others

## Expected  behavior
--nologo

## Actual behavior
/nologo, --nologo

## Environment data
`dotnet --info` output:

/usr/local/share/dotnet/sdk $ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview9-014004
 Commit:    8e7ef240a5

Runtime Environment: (Preview 9)
 OS Name:     Mac OS X
 OS Version

[2019-09-07 03:50] SidShetye opened #12525 "dotnet publish for single file executable doesn't copy supporting non-executable files"
When publishing a dotnet core app to a single file per directions at https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#single-file-executables, any supporting files that are supposed to be copied over are not copied. This typically breaks any project dependent on such additional file
(non-code) resources.

## Steps to reproduce

1. clone repo @ https://github.com/SidShetye/Dot

[2019-09-07 05:06] vchirikov commented on #6178
@livarcocc you can read about it here https://github.com/microsoft/DockerTools/issues/209

[2019-09-07 17:37] dasMulli commented on #12525
Single-file publishing will bundle all contents the resulting exe file instead of copying it to the output directory. The contents (all dlls and files) are extracted to a temporary location.

You basically have two options.
1. Load the file from the extracted location:
[code]
2. Exclude the file from single-file publishing by modifying the csproj:
[code]
(not that there appears to be a bug so that

[2019-09-09 01:27] #12422 closed

[2019-09-09 08:47] tai-yi commented on #4825
Here is a workaround to publish multi projects in a solution

Directory example

📦src
 ┣ 📂Web
 ┃ ┗ 📜Web.csproj
 ┣ 📂WebApp2
 ┃ ┗ 📜WebApp2.csproj
 ┣ 📜publish.targets
 ┗ 📜sln.sln

1. Add shared MSbuild target file as below
  you can change default `PublishRootDir` or use command line args `/p:PublishRootDir=somedir`
[code]
2. Reference it to projects you want to publish
`<Import Project="$(MSBuildThi

[2019-09-09 10:01] IanKemp opened #12557 "Add --no-logo as a synonym for --nologo"
We already have `--no-build` and `--no-restore`, IMO it makes sense to make all "no" parameters behave similarly.

Ref https://github.com/dotnet/docs/issues/14163

[2019-09-09 10:16] IanKemp opened #12558 "Allow dotnet pack to emit only the generated package paths, to allow piping to other commands"
`dotnet pack` on its default verbosity setting (minimal) outputs something like the following:

[code]

On quiet verbosity, it emits nothing.

For my workflow, I need to know the filename(s) of the package(s) that are generated in order to do additional processing on them. I can get them by parsing the `dotnet pack` output, but this is obviously not optimal, and of course my parsing code will brea

[2019-09-09 10:21] IanKemp opened #12559 "Different tools have different default verbosity levels"
For example, `dotnet clean` has a default verbosity of normal, but `dotnet pack` defaults to minimal.

`dotnet --info` output:
.NET Core SDK (reflecting any global.json):                                                                              Version:   3.0.100-preview9-014004                                                                                      Commit:    8e7ef240a5

[2019-09-09 10:39] IanKemp commented on #3959
Probably because the NuGet team are a bunch of drunken monkeys.

[2019-09-09 18:50] livarcocc commented on #12493
Closing as this does not seem like a CLI issue and there is a follow up issue on NUnit.

[2019-09-09 18:50] #12493 closed

[2019-09-09 18:51] livarcocc commented on #12480
I am going to close this issue as for now the system is behaving as expected.

It is ok to continue talking here, but if you want some changes here, it seems nuget/home might be a better repo for this conversation.

[2019-09-09 18:51] #12480 closed

[2019-09-09 18:55] livarcocc commented on #6178
Looking at the issue you referenced, the CLI team will not enable building this dcprojs in the command line. Though, there is now an SDK that should at least skip doing anything for it.

What seems like a bug to me is the failure to use dotnet sln add for dcprojs. If that's the case, I would suggest filling a brand new issue just for dotnet sln add.

[2019-09-09 20:57] livarcocc commented on #12558
How do you intend to consume this information? You can probably right a target in MSBuild to print the information you need in a way that you control, so that it is guaranteed to not break. You could even right it to a separate file that you could read later on.

[2019-09-09 20:58] livarcocc commented on #12559
@dsplaisted what about this one as a first one?

[2019-09-09 22:10] livarcocc commented on #12525
@SidShetye can you let us know if one of @dasMulli 's suggestions above work for you?

[2019-09-09 23:56] SidShetye commented on #12525
@dasMulli @livarcocc : thanks for the clarification. Can confirm both options work in our POC. On a side note, the new publishing choices are very cool, opening up powerful scenarios. Great stuff.

[2019-09-09 23:56] #12525 closed

[2019-09-10 00:07] livarcocc commented on #12525
thanks for getting back to us. @SidShetye glad you like the new publishing options.

cc @jeffschwMSFT for this KUDUS.

[2019-09-10 01:16] SidShetye opened #12570 "dotnet help test is broken in 3.0.0-preview9 on Ubuntu 18.04 LTS"
## Steps to reproduce

Just type `dotnet help test` in ubuntu 18.04 server

[code]
## Expected  behavior

see help

## Actual behavior

see exception

## Environment data
`dotnet --info` output:

[code]

[2019-09-10 01:40] natenho opened #12571 "dotnet-install.sh not installing the latest SDK version"
## Steps to reproduce

[code]

## Expected  behavior
To install the latest SDK version (2.2)

## Actual behavior
It's installing 2.1.701 version

Original issue: https://github.com/dotnet/docs/issues/10447

[2019-09-10 11:13] nmaarse opened #12575 "dotnetcli publish does not use vstsfeed parameter when restoring nuget packages"
## Steps to reproduce
                - task: DotNetCoreCLI@2
                  displayName: Dotnet Build
                  inputs:
                      publishWebProjects: false
                      command: "publish"
                      vstsFeed: '7b591551-0978-4734-ac2a-1172b12c2a17'
                      arguments: "$(solutionName) --configuration $(buildConfiguration) --output c:\artifact

[2019-09-10 11:48] stevehayles opened #12576 "dotnet new command missing templates"
## Steps to reproduce

On an ARM64 installation with SDK dotnet-sdk-3.0.100-preview9-014004-linux-arm64.tar.gz installed, running dotnet new console returns error code "Couldn't find an installed template that matches the input, searching online for one that does..."

Running dotnet new -l doesn't list any installed templates

## Environment data
`dotnet --info` output:

.NET Core SDK (reflecting

[2019-09-10 17:25] livarcocc commented on #12575
This task in Azdo is not really owned by us. I would recommend following up on the issue you have linked here already for azure pipelines.

cc @wli3 who might know someone we can ping about this.

[2019-09-10 17:38] wli3 commented on #12575
This issue was moved to microsoft/azure-pipelines-tasks#11315

[2019-09-10 17:38] #12575 closed

[2019-09-10 19:23] asad-c commented on #7610
Having the same issue with preview 8, using the proxy is super slow. Should be able to run the SPA independently but without the proxy the IdentityServer redirects don't work correctly.

[2019-09-10 19:44] johnbeisner commented on #12571
@natenho
2.1.701 is indeed the latest LTS version - with no parameters the default 'channel' is LTS; try this:
`./dotnet-install.sh --channel current`
that should get you version: 2.2.301

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script#options

[2019-09-11 09:16] AlseinX opened #12600 "`dotnet new` templetes becomes incorrect on preview9 on Linux"
## Steps to reproduce
`dotnet new sln`

## Expected  behavior
Working properly, creating a solution file in the current directory.

## Actual behavior
[code]
After that I have checked the available templetes by `dotnet new`
[code]
Some templetes are missing, such as `sln` and `gitignore`.
And I believe that wpf and winforms templetes were removed on linux for not supported, but are unexpectedly ap

[2019-09-11 09:22] AlseinX commented on #12600
Solved by `rm -rf ~/.templateengine`, the missing templetes are back.
But `wpf` and `winforms` still exist.

[2019-09-11 22:27] nguerrera commented on #12482
The way this should work is that you would add a FrameworkReference to Microsoft.AspNetCore.App. However, there is a bug here that the target that loads the "platform manifests" that say which packages are subsumed by the shared framework is not running in .NET Store.

So instead of setting MicrosoftNETPlatformLibrary, you would have the following:

[code]

However, due to the bug, this still does

[2019-09-12 02:04] dquist commented on #2170
That works fine until you decide you want to include an icon and find that `<iconUrl>` [is deprecated](https://docs.microsoft.com/en-us/nuget/reference/nuspec#iconurl) in favor of `<icon>` which has no .csproj counterpart.

[2019-09-12 05:08] BrainSlugs83 opened #12612 "Building for OSX gives me the wrong icon."
Using the following commands to build a `HelloWorld.csproj` type console app for Windows & OSX (with an Icon set in the correct properties screen of the project):
[code]
The Windows version gets the correct icon.  Copying the executable file produced by the second command over to OSX; I can see that it's runnable, but it instead gets some embedded Console app looking icon that looks nothing the ic

[2019-09-12 05:09] jkotas commented on #12612
Related / duplicate of https://github.com/dotnet/cli/issues/10405

[2019-09-12 09:31] TestSubject09 opened #12615 "System.IO.FileNotFoundException for NuGet packages when using PrivateAssets = "All""
Similar issue with https://github.com/dotnet/cli/issues/7786 but not quite the same.

## Steps to reproduce

Create a project layout like this.

Assembly A -> Assembly B -> Assembly C.

Program lives in Assembly A.
ClassB lives in Assembly B.
ClassC lives in Assembly C.

I don't want AssemblyC to be directly accessible in AssemblyA. So I added PrivateAssets = "All" in the ProjectReference element

[2019-09-13 08:52] am11 opened #12627 "dotnet-new to create project with avaiable TargetFramework"
## Steps to reproduce

Install latest master in a fresh environment:

[code]

## Expected  behavior

`Hello World!` is printed.

## Actual behavior

[code]

## Workaround

Replace netcoreapp3.0 with netcoreapp5.0 in csproj:

[code]

## Environment data
`dotnet --info` output:

[code]

[2019-09-13 10:53] greenmooseSE opened #12628 "Do I need to rebuild/redeploy app with every new SDK version (vs update only runtime on host)?"
Hi.

I am wondering how the SDK version vs Runtime version work, related to building an application.
For example, on https://dotnet.microsoft.com/download/dotnet-core/2.1 there are 3 SDK releases (```2.1.509```, ```2.1.606``` and ```2.1.802```) for same runtime version ```2.1.13```. and e.g. 4 SDK versions for runtime ```2.1.12```

Given I am not deploying self-contained applications:
In order to

[2019-09-13 15:02] johnbeisner commented on #7312
Note: Arcade should have a sign-check per @joeloff

[2019-09-13 15:29] johnbeisner commented on #11521
@StephenWeatherford
I could not reproduce the failure. I used the following command:
`.\dotnet-install.ps1 -Version "2.1.701" -InstallDir "D:\G\Test - Folder" -Verbose "True"`

[2019-09-13 16:03] johnbeisner commented on #11521
moving this issue to dotnet/arcade: https://github.com/dotnet/arcade/issues/3941

[2019-09-13 16:03] #11521 closed

[2019-09-13 16:03] johnbeisner commented on #11521
dotnet-install.cmd is supported by dotnet/arcade

[2019-09-13 17:06] PatrickReddy opened #12632 "Unable to download latest SDK 2.2"
## Steps to reproduce
Running the following step in our builds fails due to the "latest" available package not being correct.  From the git repo the version should  be 2.2.402 not 2.2.804.

.\dotnet-install.ps1 -Channel 2.2 -Version latest -Architecture x64

Explicitly adding -Version "2.2.402" does download the sdk.

## Expected  behavior
The correct latest package should be retrieved and downloa

[2019-09-13 17:08] assyadh opened #12633 "Which dotnet/cli tag to use to build the cli for .NET 2.1.13"
Hi,

I am seeing 3 different tags for the .NET Cli for the 2.1.13 release:

v2.1.802+dependencies
v2.1.606+dependencies
v2.1.509+dependencies

I am trying to build the CLI that is released with 2.1.13, but I see three different binaries here as well for 2.1.13:

https://dotnet.microsoft.com/download/dotnet-core/2.1

Should I just build the latest one? What is the reasoning behind the three differe

[2019-09-13 19:02] vatsan-madhavan opened #12635 "https://dot.net/v1/dotnet-install.ps1 does not support `windowsdesktop` `Runtime`"
Support for `windowsdesktop` `Runtime` was added by https://github.com/dotnet/cli/pull/12315 and the website download copy was (I think) updated by https://github.com/dotnet/dotnet-core-website/pull/1458.

Still, it looks like the copy of dotnet-install.ps1 hosted at https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script is the one that seems to be a version prior to when windows

[2019-09-14 01:59] livarcocc commented on #12633
2.1.13 is not a CLI version, it is a runtime version.

It will depend on what version of the CLI you want. All three of the above will carry with it the 2.1.13 runtime.

2.1.509 targets VS 15.9
2.1.606 targets VS 16.0
2.1.802 targets VS 16.2

[2019-09-14 01:59] #12633 closed

[2019-09-14 02:03] livarcocc commented on #12628
No.

If you are using a Framework Dependent App (FDD), it is always built targeting the lowest possible patch version for that major.minor. This guarantees that the app runs against as many runtimes as possible.

When the app is getting started, the host will find the latest patch version of that major.minor runtime installed in the machine and use that runtime to run your app.

In order for you F

[2019-09-14 02:03] #12628 closed

[2019-09-14 02:07] livarcocc commented on #12627
This is by design.

You are using a nightly build of the CLI for 5.0, where we are still bringing it online.

Also, the reason why it fails to find packages is because the 5.0 CLI will not carry with it targeting packs for older tfms. They will need to be acquired from NuGet, but as 3.0 hasn't shipped yet, you will need to add package feeds to your project in order for restore to find them.

You c

[2019-09-14 02:07] #12627 closed

[2019-09-14 02:10] livarcocc commented on #12615
Closing this issue as there is a tracking bug for it on NuGet already.

@dsplaisted do you know if we have a doc's page for PrivateAssets at all? I feel like that would be very useful.

[2019-09-14 02:10] #12615 closed

[2019-09-14 02:11] livarcocc commented on #7312
Are we going to track this in Arcade or the CLI? If we feel this should be provided by arcade, the issue should probably be filled there.

[2019-09-14 03:22] joeloff commented on #7312
Yup, I know Core CLR is using it and ASP.NET as well. My SignCheck tool is integrated in Arcade AFAIK, it should just be a matter of having a repo leverage the validation step during the build

[2019-09-14 06:09] am11 commented on #12627
Thanks for the explanation @livarcocc.

Can we expect that the generated csproj contain `<TargetFramework>netcoreapp5.0</TargetFramework>` in this case (simply because the current system does not have 3.0 SDK)? `dotnet-cli` seems to have the context available/cached about installed SDKs (as the error message indicates).

[2019-09-14 16:32] livarcocc commented on #12627
It will, likely in a couple of weeks, once we are through with 3.0 and have 3.1 underway.

[2019-09-14 18:40] rkeithhill opened #12648 "Enh request: Update dotnet-install script to cache and use downloaded SDK"
This is an enhancement request for `install-script.ps1/.sh`.

Can we get a new parameter to request that this script only download the selected SDK **if** it can't find a find previously downloaded SDK in the temp directory (or wherever it places the SDK archive upon download)?

I know a lot build machines these days start with a fresh image but that isn't the case for our build machines. There re

[2019-09-15 12:19] Trolldemorted opened #12653 "IncludeSource and --include-source are ignored if SymbolPackageFormat is set to snupkg"
## Steps to reproduce
Take this .csproj:
[code]

This generates a symbols.nupkg archive with the source code as expected:
![grafik](https://user-images.githubusercontent.com/10261186/64921403-3b992e80-d7c3-11e9-8492-5fa59304476e.png)

But if you add `<SymbolPackageFormat>snupkg</SymbolPackageFormat>` because you want to push your symbols to nuget.org, the source code is omitted:
![grafik](https://

[2019-09-15 14:13] ovebastiansen opened #12654 "dotnet build produces different output in bin folder with latest sdk"
## Steps to reproduce
Pin sdk with global.json
dotnet new webapi -f netcoreapp2.2
Build with sdk 2.2.401 and 3.0.100-preview9-014004
dotnet build and look at bin\debug\netcoreapp2.2 with different value for sdk in global.json

## Expected  behavior
*.json is not copied out to output folder, unless CopyToOutputDirectory is preservenewest or copyalways
only copied to output when using dotnet publish

[2019-09-15 15:40] dsplaisted commented on #12615
@livarcocc PrivateAssets is covered in the Controlling dependency assets section here: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

[2019-09-15 18:42] livarcocc commented on #12653
Going to move this to NuGet for them to take a first look at this issue. If this turns out to be an issue on the cli/sdk, we can re-activate this one.

[2019-09-15 18:42] livarcocc commented on #12653
This issue was moved to NuGet/Home#8589

[2019-09-15 18:42] #12653 closed

[2019-09-15 18:44] livarcocc commented on #12654
@vijayrkn was this a change in the web sdk?

[2019-09-15 18:47] vijayrkn commented on #12654
This was an intentional change made by @davidfowl in WebSdk - https://github.com/aspnet/websdk/commit/7e6b193ddcf1eec5c0a88a9748c626775555273e#diff-edf5a48ed0d4aa5a4289cb857bf46a04

But since then we have moved all the ASP.NET Core specific globs to Razor Sdk
https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/Sdk/Sdk.Razor.StaticAssets.ProjectSystem.prop

[2019-09-15 20:16] fasetto opened #12656 "Publishing doesn't generate executable file"
## Steps to reproduce
Create a console app and publish it.

## Expected  behavior
It should generate executable file for OS.

## Actual behavior
Generates .dll file but not executable.

## Environment data
`dotnet --info` output:
[code]

[2019-09-15 20:27] fasetto commented on #12656
It was my mistake. I was searching the binary in the wrong dir.

[2019-09-15 20:27] #12656 closed

[2019-09-15 21:51] livarcocc commented on #12654
Closing this issue since this was intentional.

[2019-09-15 21:51] #12654 closed

[2019-09-16 07:26] forki commented on #12632
also link is broken.

![image](https://user-images.githubusercontent.com/57396/64940345-07c21580-d864-11e9-81e7-a3e6a3627cf6.png)

[2019-09-16 13:04] MarkusReynolds1989 commented on #7610
I was using core 3.0.100-preview9-014004 today on a Windows 10 machine and it's still slow to compile it in powershell. 1.7 seconds to run the simple hello-world project and 0.5 seconds with no-build. If I just run the dll it runs like I'd expect at 0.1 seconds.

[2019-09-16 13:41] lauxjpn opened #12660 "Improve current progress output of dotnet test"
Calling `dotnet test` on a large test suit leaves you guessing, how many tests are left to be run.

Instead of just outputting `Test run in progress.", a small summary of the passed, failed, skipped and remaining test should be displayed.

[2019-09-16 13:48] lauxjpn commented on #12660
Wrong repo.

[2019-09-16 13:48] #12660 closed

[2019-09-16 19:19] sebastienros opened #12663 "Latest version of 3.0.xx/release branch cannot be found"
The latest stable version of the sdk can be found here:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/3.0.1xx/latest.version

[code]

However when using this version with `dotnet-install` it can't be found. I waited a few hours in case it would be a transient issue but it's still occuring.

[code]

[2019-09-17 06:05] dasMulli commented on #12169
Please don't use `dotnet publish` on solution files. There are lots of issues that you can potentially run into.

cc @KathleenDollard another instance of publishing solutions.

[2019-09-17 08:23] seesharper commented on #11504
@dseefeld @livarcocc
We got around this issue by explicitly adding the `Microsoft.NETCore.App` package, but that has stopped working in the latest previews of .Net Core 3.0.
We have also noticed that the 3.x versions of `Microsoft.NETCore.App` are unlisted from NuGet.

Are there any other packages we can add that would cause `dotnet restore -r osx-x64` to emit runtime and reference assemblies to t

[2019-09-17 14:04] stevehayles commented on #12576
Sorry for any wasted effort, this was a build script issue from my side.

The layout and location of the 'templates' directory has changed at some stage in the history of the SDK (along with the 'packs' directory) and my Yocto install layer wasn't correctly adjusted to suit.

[2019-09-17 14:04] #12576 closed

[2019-09-17 17:40] sebastienros commented on #12663
/cc @johnbeisner just in case nobody saw this already

[2019-09-17 18:11] livarcocc commented on #11504
I think you are tagging the wrong daniel. tagging @dsplaisted to help with questions here.

[2019-09-17 18:15] johnbeisner commented on #12663
@mmitche
Why are the dotnet/core-sdk builds not publishing assets to blob storage?

[2019-09-17 18:19] dsplaisted commented on #11504
No, these won't go in the assets file for .NET Core 3.0 and up.  You should probably do a build with `PreserveCompilationContext` set to True, or possibly use something like the `RecordReferencePaths` target I suggested.