[2016-04-18 18:16] piotrpMSFT commented on #2563
This issue is not very clear cut. We encourage folks to use `netcoreapp1.0` for executable applications but there is no technical reason why they `must` use that `framework` to build a valid application. This feels like a real opportunity for enhancement but we will need to identify a clean solution.

[2016-04-18 18:16] piotrpMSFT commented on #2563
This issue is a refactoring of issue https://github.com/dotnet/cli/issues/2555

[2016-04-18 18:17] piotrpMSFT opened #2564 "Design-time helpers for 'frameworks'"
The `frameworks` node of `project.json` is the root of many open issues for CLI. Aggregating these here so we can think about improving the overall `frameworks` experience for 1.0.0-rtm.
- [ ] https://github.com/dotnet/cli/issues/2552 Typeo in `framework` name shows as compilation error
- [ ] https://github.com/dotnet/cli/issues/2562 Actionable feedback for developers who use netstandard1.5 for ru

[2016-04-18 18:17] piotrpMSFT commented on #2564
@jeffschwMSFT I think you have a few other issues that affect this space. Can you link them as well?

[2016-04-18 18:19] piotrpMSFT commented on #2563
@moozzyk already created https://github.com/dotnet/cli/issues/2562, so this is a duplicate.

[2016-04-18 18:19] #2563 closed

[2016-04-18 18:19] piotrpMSFT commented on #2562
This issue is not very clear cut. We encourage folks to use netcoreapp1.0 for executable applications but there is no technical reason why they must use that framework to build a valid application. This feels like a real opportunity for enhancement but we will need to identify a clean solution.

[2016-04-18 18:20] MichaelSimons opened #2565 "Add installer support for Debian"
When the initial work was done to support [Debian](https://github.com/dotnet/cli/issues/212) in RC2, a decision was made for scoping reasons to not include the work to produce Debian packages.  This work should include the necessary publish changes to produce Debian packages so that dotnet can be acquired via apt-get on Debian just like what can be done on Ubuntu today.

[2016-04-18 18:21] piotrpMSFT commented on #2551
setting to 1.0.0-rtm since this bug has an obvious workaround. Thanks for catching it, @thecodejunkie

[2016-04-18 18:24] piotrpMSFT commented on #2487
@brthor any update?

[2016-04-18 18:32] piotrpMSFT commented on #2465
@jeffschwMSFT can we close as duplicate?

[2016-04-18 18:33] piotrpMSFT commented on #2461
@jeffschwMSFT for the nuget restore issue, can you open on https://github.com/nuget/home? I'm not sure we have the right folks looking at this here...

[2016-04-18 18:34] piotrpMSFT commented on #2458
I'm closing this as duplicate. I know this issue was first, but we have already marked #2486 during triage.

[2016-04-18 18:34] #2458 closed

[2016-04-18 18:35] brthor commented on #2487
There is a bug in the deletion of these using the API.

They are currently still available on the feed and I've followed up on how to get them removed.

[2016-04-18 18:41] #2542 closed

[2016-04-18 18:53] natemcmaster opened #2566 "Commands cannot execute from a desktop .NET process"
## Steps to reproduce
Create a command using Microsoft.DotNet.Cli.Utils.
Call Command.Execute()
Example:
[code]
## Expected  behavior
Starts process "dotnet.exe build {projectPath}".
Process begins to execute successfully.
Process can forward stderr/stdout

## Actual behavior
[code]

## Environment data
Microsoft.DotNet.Cli.Utils/1.0.0-rc2-002416

[code]

This is blocking https://github.com/aspnet

[2016-04-18 18:55] natemcmaster commented on #2566
cc @divega

[2016-04-18 18:57] brthor commented on #2487
this is fixed.

Btw like the pokemon reference in the title 😄

[2016-04-18 18:57] #2487 closed

[2016-04-18 18:58] #212 closed

[2016-04-18 19:00] schellap commented on #2555
@piotrpMSFT dotnet run should detect if entryPoint is set to false. Or we have to plumb this into the host from project.json into runtimeconfig. @gkhanna79

[2016-04-18 19:03] Sridhar-MS opened #2567 "CLI must reference the aspnet packages from 'aspnetrelease' feed"
@eerhardt The 1.0.0-rc2* aspnet packages in the `cli-deps` feed seem to be from `aspnetcidev` (the assemblies are not signed correctly). We must be picking those packages from the `aspnetrelease` feed.

[2016-04-18 19:04] gkhanna79 commented on #2555
The host should not be in the business of validating configurations. If it is invoked, it should look for the data it requires for activating the application and work with it.

In this scenario, @moozzyk says emitEntrypoint was specified to true but @piotrpMSFT you say otherwise. Which is it?

[2016-04-18 19:06] Sridhar-MS commented on #2567
List of assemblies that ship with the CLI

Microsoft.Extensions.CommandLineUtils.Sources.dll,
Microsoft.Extensions.Configuration.Abstractions.dll,
Microsoft.Extensions.DependencyInjection.Abstractions.dll,
Microsoft.Extensions.FileSystemGlobbing.dll,
Microsoft.Extensions.Logging.Abstractions.dll,
Microsoft.Extensions.Logging.Console.dll,
Microsoft.Extensions.Logging.dll,
Microsoft.Extensions.Platf

[2016-04-18 19:09] dsgouda opened #2568 "Terminal crash when launching dotnet cli on Linux"
## Steps to reproduce
1. On a clean Linux machine run https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh like so:
$ source <path_to_file>/install.sh –I <installation_dir>
 This runs without any issues
2. On the terminal, simply run
$ dotnet

## Expected  behavior
This should display the dotnet "help" instructions on the terminal which is also a confirmation tha

[2016-04-18 19:09] moozzyk commented on #2555
@gkhanna79 `emitEntryPoint` was set to true from the very beginning and until I changed the tfm to netcoreapp1.0 (or netstandardapp1.5) `dotnet run` fell flat on the face with the `Could not load host policy library from...`.

In general I think none of the messages returned by the host should reach the user in the form they are now or without more explanation. The only thing a user can do when th

[2016-04-18 19:12] brthor commented on #2568
@krwq Have we done any tests with the install.sh script? I have never seen this with any of the other installers.

[2016-04-18 19:17] krwq commented on #2568
i've performed manual testing and every build is testing install script. never encountered any issues like this. i don't believe that running any executable should ever close terminal unless you are running `exit`.
Which linux is this?

[2016-04-18 19:18] anurse opened #2569 "Always set "serviceable" in deps file"
For RC2 we're going to always set the `serviceable` flag for assemblies in the deps file. This does mean we'll over-breadcrumb, but there's no major negative impact. Doing it this way allows `corehost` to continue to read the deps file in the current way and allows deps files to be constructed that can test servicing and breadcrumbing scenarios, while achieving the RC2 goal of limited changes to g

[2016-04-18 19:21] brthor commented on #2568
A note here, even when executing dotnet in a subshell, we saw both the subshell and parent shell exit, which made it impossible to see what was happening.

@dsgouda Can you try executing the dotnet executable underneath lldb?

`lldb dotnet ....` should do it
Depending where it crashes you may want to load the sos plugin from your installation directory.

[2016-04-18 19:22] dsgouda commented on #2568
This is the Linux version info

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.3 LTS"

[2016-04-18 19:24] brthor opened #2570 "Removing "testrunner": "xunit" from TestLibraryLesser test asset causes binding redirect generation to fail."
Removing "testrunner": "xunit" from TestLibraryLesser test asset causes binding redirect generation to fail.

I ran into this in #2450, for now I've just added back the node in project.json but this is pretty weird.

This is the file:
https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/TestProjects/TestBindingRedirectGeneration/TestLibraryLesser/project.json

cc @pakrym @anurse @Sridhar-MS @pi

[2016-04-18 19:36] eerhardt commented on #2567
We need to get our WebHook on the aspnetrelease feed.  I emailed the ASP.NET team about it.

@Eilon @muratg

[2016-04-18 19:42] joffreykern commented on #2547
@davidfowl @piotrpMSFT I was trying to start a project from an Visual Studio 2015 Update 2 templates, it was a mistake.

Thanks for your help !

[2016-04-18 19:42] #2547 closed

[2016-04-18 19:59] dsgouda commented on #2568
@brthor  lldb dotnet also crashes immediately, is there something I am missing here?

[2016-04-18 20:00] gkhanna79 commented on #2555
This is why "dotnet run" implementation should account for pre-conditions to be valid before invoking the host.

@piotrpMSFT I am assigning this to you to reroute this as appropriate.

[2016-04-18 20:13] schellap commented on #2555
An appropriate error message here would be:
`Expected host artifacts to be present in C:\foo\bar. This may be because of an invalid configuration.`

@moozzyk, the host needs a `libhostpolicy.so` to run the app, but `dotnet run` optimizes away copying host artifacts when `emitEntryPoint` is false. Would the above error message be useful to you?

See:
https://github.com/dotnet/cli/blob/852446e859108

[2016-04-18 20:16] cheers00 opened #2571 ""emitEntryPoint": true is not creating exe"
I'm using the latest CLI (`rc2-002418`) and both `build `and `publish `commands not creating exe file. Is there any other setting to build exe file?

[code]

[2016-04-18 20:34] moozzyk commented on #2555
@schellap - `emitEntryPoint` was true - see the project.json.

[2016-04-18 20:42] moozzyk opened #2572 "`Could not load host policy...` when dll does not exist"
## Steps to reproduce
Misspell dll name when doing `dotnet my.dll`

## Expected  behavior
An error message saying that the dll can't be found. This is the dll that does not exist in the first place and not the host policy.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[2016-04-18 20:58] sokket commented on #2480
Fixed via #2538

[2016-04-18 20:58] #2480 closed

[2016-04-18 21:07] gkhanna79 commented on #2555
This is an internal implementation detail that does not make sense to the user. We should say something generic but user-consumable like "Invalid .NET Core FX configuration".

[2016-04-18 21:08] dleeapho opened #2573 "dotnet build scripts fail when the script command file is written with UTF-8+BOM"
## Steps to reproduce

1. Add "scripts" to a project.json, eg. [https://github.com/dotnet/cli/tree/rel/1.0.0/TestAssets/TestProjects/TestAppWithScripts](url)
2. Create the script file (echoscript.sh or echoscript.cmd) using an editor that saves with a BOM (byte order marker) like the Visual Studio 2015 code editor.
3. `dotnet build`

## Expected  behavior
The script command file is invoked at prec

[2016-04-18 21:26] brthor commented on #2182
#2408 is tracking this

[2016-04-18 21:26] #2182 closed

[2016-04-18 21:26] brthor commented on #2195
This should be resolved now.

Thanks @chuan

[2016-04-18 21:26] #2195 closed

[2016-04-18 21:31] brthor commented on #2573
do these scripts run from the command line with the bom introduced?

[2016-04-18 21:36] joplaal commented on #2380
I think that's being addressed at https://github.com/dotnet/coreclr.xunit/pull/6

I expect that soon the dotnet-test-xunit will target net451 and net46

[2016-04-18 21:38] brthor commented on #2026
Closing this out, as it was that tools were not yet portable.

[2016-04-18 21:38] #2026 closed

[2016-04-18 21:39] colemickens commented on #2155
I don't know what cli version changed this, but I'm back to not getting a binary, even with the RID specified in project.json.

[2016-04-18 21:42] muratg commented on #2567
@Sridhar-MS you guys should use aspnetrelease feed for your "RC2" branches (I believe rel/1.0.0)..  Your RTM branches (I believe master ) should continue to use aspnetcidev feed.

This would reflect our usage of the feed.

@eerhardt @Eilon added the WebHook.

[2016-04-18 21:44] anurse commented on #2570
This was originally by design. Binding Redirects are only generated for executables (including Unit Tests) so you need either `emitEntryPoint` or `testRunner`. I do agree that it may not be the ideal behavior though. We should consider just emitting them for every assembly (as long as we don't copy them around, because that's going to be a lot of `.dll.config` files :))

[2016-04-18 21:49] colemickens commented on #2155
Looks like this was caused  by removing this from my dependencies:

[code]

and replacing it with:

[code]

removing the `"type": "platform"` has restored my desired behavior.

[2016-04-18 21:49] #2155 closed

[2016-04-18 21:52] Sridhar-MS commented on #2570
Why do we need to emit binding redirects for dlls? It makes sense only in the context of the app. Am I missing something here?

[2016-04-18 22:08] eerhardt commented on #2567
@muratg - I assume `aspnetcidev` and `aspnetrelease` have different version numbers, right?  ex. `aspnetrelease` creates package versions `rc2-12345` and `aspnetcidev` creates package versions `rc3-12345`. If not, how can you tell the packages apart?

One thing to note is that ALL the CLI dependencies get aggregated into a single feed - dotnet.myget.org/F/cli-deps - and both CLI `master` and `rel/

[2016-04-18 22:08] sokket commented on #2485
Taking a look

[2016-04-18 22:15] dleeapho commented on #2573
Yes I see what you are getting at @brthor . The shell is not liking the BOM either so the "scripts" invocation can't be expected to be resilient to BOM.

[2016-04-18 22:18] muratg commented on #2567
First of all let me correct myself.  Please do NOT use `aspnetcidev` feed.  Our development branch feed is `aspnetvnext`.

| aspnet branch | cli branch | aspnet feed|
|--------------------|--------------|---------------|
| release            | rel/1.0.0    | aspnetrelease|
| dev                  | master      | aspnetvnext |

@eerhardt yes, currently packages in `aspnetrelease` are `-RC2-1234`, an

[2016-04-18 22:21] brthor commented on #2573
My intuition here is that for unix scripts, the BOM is going to mess with the hashbang at the beginning. I'm not sure how we can work around that.

[2016-04-18 22:21] halter73 opened #2576 "dotnet build does not publish native dependencies for net451 on Mac and Linux"
## Steps to reproduce

Run `build.sh` from https://github.com/aspnet/KestrelHttpServer on Mac and/or linux.

You can also reproduce by running `KestrelHttpServer/samples/SampleApp` using `dotnet run -f net451`.

## Expected  behavior

All the tests should pass. The sample app should run successfully.

## Actual behavior

You will see the `Microsoft.AspNetCore.Server.Kestrel.FunctionalTests` projec

[2016-04-18 22:21] sokket commented on #2485
Taking a look

[2016-04-18 22:22] halter73 commented on #2576
This is causing our Travis runs to fail:

https://travis-ci.org/aspnet/KestrelHttpServer/jobs/124003631

[2016-04-18 22:31] gitavares commented on #2504
Me too... the same bug

[2016-04-18 22:34] krwq commented on #2568
ok, this is caused by sourcing
[code]
and then running dotnet which returns 1

[2016-04-18 23:02] anurse commented on #2570
In the case of a test runner, when the runner loads the DLL we need it to honor the binding redirects for that DLL (and it does, in fact, do that when there is a dll.config next to it)

[2016-04-18 23:04] piotrpMSFT commented on #2568
This has a straightforward workaround for RC2. Let's fix for RTM.

[2016-04-18 23:06] piotrpMSFT commented on #2571
@cheers00 this is a documentation issue. The system is behaving as designed. @blackdwarf is working on updated docs, so assigning to him to make sure you get unblocked.

[2016-04-18 23:08] piotrpMSFT commented on #2573
Since the script is also not working from the shell, this is not a CLI issue. We can only kick off scripts that work :trollface:

Does the message we pass through match what the OS tells you? Or do we need a better UX?

[2016-04-18 23:08] piotrpMSFT commented on #2573
Please re-open if we need a better message.

[2016-04-18 23:08] #2573 closed

[2016-04-18 23:10] piotrpMSFT commented on #2576
net45* projects are not supported on non-Windows OS's for 1.0.0.

@richlander FYI

[2016-04-18 23:10] #2576 closed

[2016-04-18 23:11] piotrpMSFT commented on #792
When will the PR get merged, @ajaybhargavb

[2016-04-18 23:13] piotrpMSFT commented on #809
Since this is being tracked @nuget/home:2163, closing the CLI issue.

[2016-04-18 23:13] #809 closed

[2016-04-18 23:14] piotrpMSFT commented on #1440
@cdmihai is this coming in for RC2?

[2016-04-18 23:16] piotrpMSFT commented on #2346
@pranavkm is this ready for code review?

[2016-04-18 23:17] piotrpMSFT commented on #2427
@troydai what's the status of this issue?

[2016-04-18 23:17] NickCraver commented on #809
Link for others: https://github.com/NuGet/Home/issues/2163

[2016-04-18 23:20] piotrpMSFT commented on #2438
This PR should be getting merged tonight.

[2016-04-18 23:20] piotrpMSFT commented on #2438
This is approved by @Petermarcu in my office. Let's merge once this is CR'd.

[2016-04-18 23:21] piotrpMSFT commented on #2479
@cdmihai any updates on this issue?

[2016-04-18 23:23] pranavkm commented on #2346
Yup - https://github.com/dotnet/cli/pull/2527 is the PR for it.

[2016-04-18 23:25] piotrpMSFT commented on #2483
Moving to RTM. Roslyn's extensibility model does not make it a great candidate for running in-process with CLI. We may be able to find some wins by moving things like Roslyn analyzers out-of-process but this is not clearly the right thing to do and will not happen in RC2.

[2016-04-18 23:31] piotrpMSFT commented on #2489
This change needs to account for a number of codepaths
 - [ ] Muxer.cs
 - [ ] CoreHost.cs

@schellap told me today he'll be picking this up to test the CoreHost/Dotnet.exe changes. @schellap will you be doing this?

[2016-04-18 23:33] #2512 closed

[2016-04-18 23:36] piotrpMSFT commented on #2505
@Sridhar-MS will have a fix today.

[2016-04-18 23:36] piotrpMSFT commented on #2506
@pranavkm when do you expect this to land? Today?

[2016-04-18 23:38] piotrpMSFT commented on #2513
Moving to backlog. There are docs coming with the RC2 release for building xunit tests. The CLI repo's tests themselves are not great candidates since we do a lot of atypical stuff to test the underlying infrastructure.

[2016-04-18 23:39] piotrpMSFT commented on #2520
@davidfowl when is this coming in?

[2016-04-18 23:39] piotrpMSFT commented on #2521
@davidfowl when is this coming in?

[2016-04-18 23:39] piotrpMSFT commented on #2522
@brianrob what's the status of this issue?

[2016-04-18 23:41] brianrob commented on #2522
I've made a little bit of progress here, but this has been blocked by some high-pri performance measurements that I've needed to do.  I should have something by EOW.

[2016-04-18 23:46] piotrpMSFT commented on #2558
ok. Sounds like @schellap is also picking up #2489 to test the fix for this one.

[2016-04-18 23:47] GuardRex commented on #2543
@weshaggard Until rc2 releases, do we get the same effect using `1.0.0-*` if we aren't using the `dotnet-core` and/or `dotnet-cli` feeds but instead just using the `aspnetcirelease` feed?

[2016-04-18 23:48] piotrpMSFT commented on #2567
We won't be creating a separate RC2 branch unless we need to service. Everyone is working on RC2 so the cost of new CI doesn't make much sense. rel/1.0.0 will point to aspnetrelease until we snap RC2, then will get redirected to aspnetvnext.

[2016-04-18 23:49] GuardRex opened #2577 "Occasional locking of the `project.lock.json` file"
## Steps to reproduce
1. Open a project in VS Code.
2. Immediately `dotnet restore` the project.
3. Sometimes (rarely) a process locks the `project.lock.json` file.
4. Running `dotnet restore` again has been successful ~100% of the time.

## Expected  behavior
The `project.lock.json` file is written at the end of the restore. Re-restoring a 2nd time is never necessary.

## Actual behavior
[code]
C

[2016-04-18 23:55] onovotny opened #2578 "Bad error message if Microsoft.NETCore.App isn't a "platform" in the project.json"
## Steps to reproduce

Create a new project/exe that uses the netcoreapp1.0 framework.

Add a dependency "Microsoft.NETCore.App":"1.0.0-rc2-24015"
## Expected  behavior

A better error saying that the type needs to be a platform. The entry should be
"Microsoft.NETCore.App": {
                    "version": "1.0.0-rc2-24015",
                    "type": "platform"
                }
And that fixes t

[2016-04-19 00:01] weshaggard commented on #2543
@GuardRex I'm not sure of the current stated of the aspnetcirelease feed so I cannot say if that would work or not. In general I would avoid `1.0.0-*` though because it might find and RC3 package which doesn't currently work with CLI tools.

[2016-04-19 00:04] eerhardt commented on #2499
I'm not convinced we should be adding the `dnxcore50` import to our templates.  The packages that target `dnxcore50` aren't guaranteed to actually work end-to-end in .NET Core.

For example, adding a dependency to Newtonsoft blows up immediately in `dotnet restore` and it very clearly says "this package doesn't work in the framework you are targeting".  By adding the import, that makes `dotnet res

[2016-04-19 00:05] trehy commented on #2433
I can't, cannot, and can not understand why this is a typo (and neither can Oxford).
http://www.oxforddictionaries.com/words/cannot-or-can-not

[2016-04-19 00:05] GuardRex commented on #2543
@weshaggard Seems to be the way things are working ... `aspnetcirelease` is stabilization for rc2-final. I just ran a test with it, and no rc3 packages came down, and this would also explain why my shared framework app with `Microsoft.NETCore.App/1.0.0-*` didn't hit this issue ... it pulled rc2 due to my feed. I'm good ... we just get a lot of questions about this from devs coming in new to .NET C

[2016-04-19 00:09] pranavkm commented on #2506
https://github.com/dotnet/coreclr.xunit/pull/6 needs to go in first which requires a fix in the CLI first. This will take a bit to go in

[2016-04-19 00:13] brthor commented on #2566
@natemcmaster Am I understanding this right that you are using this:
[code]

from inside a desktop application?

Would it be possible to post a full project to help repro this?

[2016-04-19 00:16] brthor commented on #2566
https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Windows.cs#L50

Pretty sure this is the issue.

On Desktop it is true by default and we don't explicitly set a value. The fix is simple but I am also going to add a test here.

[2016-04-19 00:18] GuardRex commented on #2499
I bet there will be cases where some new package is added to a project that wouldn't ordinarily restore on its frameworks but just so happens to match an existing `imports` entry that was put there purposefully earlier ... then later ... :boom:

The restore doesn't necessarily need to fail completely in these cases but at least state in the output that the package is not supported (as it says with

[2016-04-19 00:28] natemcmaster commented on #2566
Here is a repro. [issue2566.zip](https://github.com/dotnet/cli/files/225026/issue2566.zip)
Try `dotnet -v run ./`

[2016-04-19 00:29] brthor commented on #2566
thanks @natemcmaster !

[2016-04-19 01:29] PinpointTownes commented on #2230
**Really, why isn't this ticket labelled with the "bug" flag?**

This is literally making .NET CLI crash for every user having a special char in his session folder. It even makes Omnisharp for VS Code choke when it comes to download and install the .NET Core debugger:

[code]

[2016-04-19 01:31] PinpointTownes commented on #2230
/cc @brthor @blackdwarf @Sridhar-MS

[2016-04-19 01:37] cdmihai commented on #1440
It should :)

[2016-04-19 01:38] cdmihai commented on #2479
@hovsepm I can't repro this issue (see my previous cmd line printout). Please install new dotnet CLI tools and see if you still run into the issue.

[2016-04-19 02:07] binoypatel commented on #2549
Thanks Eric, it worked after updating UWP project as you suggested

[2016-04-19 02:07] #2549 closed

[2016-04-19 02:12] brthor commented on #2438
Changes are green, but given the Post code review concerns around the stub nuget packages getting published to our feed, this is more likely coming tomorrow morning.

[2016-04-19 02:25] brthor commented on #2230
@PinpointTownes

https://github.com/dotnet/cli/issues/2486

Is tracking fixing this for rc2

[2016-04-19 02:40] PinpointTownes commented on #2230
Wonderful, thanks! :clap:

[2016-04-19 02:41] cdmihai opened #2581 "Add tests for incremental preconditions"
So they don't regress

[2016-04-19 02:43] PinpointTownes commented on #2230
Closing, since https://github.com/dotnet/cli/issues/2486 is already triaged (even if this thread is older :smile:).

[2016-04-19 02:43] #2230 closed

[2016-04-19 02:57] blitzd commented on #1289
First exposure to dotnet core I run the command line and think 'oh how nice, a REPL'. Then the error, then googling the error, then reading through this and the PR and... ah yes, there's the MS that I know!

If you can't be bothered to update the usage to reflect the actual functionality that is present (for months on end, even), how do you think that looks to people who are just picking up these

[2016-04-19 03:39] schellap opened #2582 "Build DotNetHostPolicy packages with serviceable attribute"
Since we decided not to mark assemblies as serviceable, instead, the packages as serviceable, the host policy package needs to be marked so as well.

@gkhanna79, just filing a tracking issue for RTM.

[2016-04-19 03:52] #2391 closed

[2016-04-19 03:52] #2299 closed

[2016-04-19 04:50] troydai commented on #2427
@BillHiebert and @balachir has been investigating this since last week. They're not able to repo this on any machine other than a slow Maddog test machine. These is little I can do at this point.

@BillHiebert and @balachir may have more to update.

[2016-04-19 06:02] Ciantic commented on #2552
@piotrpMSFT this is not *just* "net999" it also requires that there is dependency: `"Microsoft.AspNetCore.Mvc.DataAnnotations": "1.0.0-*",` otherwise you get different error.

[2016-04-19 11:51] tugberkugurlu opened #2583 "outdated packages on apt-get"
I am looking to see how I can get dotnet CLI working on travis CI but installation steps for apt-get [here ](http://dotnet.github.io/getting-started/) seems to outdated or new releases are not available there. Following the instructions there and running `sudo apt-cache madison dotnet` gives me `1.0.0.001793-1` as latest version. I cannot see `1.0.0-rc2-*` releases there.

[2016-04-19 14:19] dleeapho commented on #2573
Makes sense. There might be an issue with the VS tooling scenario. I'll investigate how the BOM got introduced by the tooling.

[2016-04-19 14:52] tonysneed commented on #2583
👍  It would be nice to be able to build a docker image similar to the one here: https://hub.docker.com/r/microsoft/dotnet, but it seems like the a recent build should be posted for apt-get to work.  Any workarounds for this?

[2016-04-19 15:34] #2569 closed

[2016-04-19 16:21] ciel commented on #2332
Just throwing this out; It works fine right now if you rename the file `dotnet.project.json` - the schema is even carried over to the lock file, getting named `dotnet.project.lock.json`. Perhaps there's no need for a coding change, just an emphasis on best practice.

[2016-04-19 16:34] eerhardt commented on #2526
FYI - I have started working on this.

The general approach is to remove System.CommandLine from CLI.

However, one of the biggest issues to tackle is that Microsoft.DotNet.Compiler.Common.dll is exposing methods that use types from System.CommandLine.

https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Compiler.Common/CommonCompilerOptionsExtensions.cs#L45
https://github.com/dotnet

[2016-04-19 16:50] gkhanna79 commented on #2483
Yes. I am not aware of anything in the design that prevents this.

@jkotas Thoughts?

The simplest way is to load an assembly in one LoadContext and return its reference for use in another LoadContext.

[2016-04-19 17:04] ckkashyap commented on #2229
I continue to see the error even after installing openssl using brew - I must mention that, for me, brew installs everything in my home directory. Is there someway, I can provide LD_LIBRARY_PATH or something?

[2016-04-19 17:04] jkotas commented on #2483
Same physical assembly loaded into separate contexts gets own copy of the JITed code, as well as its own copy of statics.

Assembly loaded in one context can have its dependencies satisfied by assemblies loaded into a different context. The typical usage pattern for extensions is:
- Framework and main app is loaded into the default context
- Extension is loaded into custom context
- Extension refe

[2016-04-19 17:21] agocke commented on #2526
@eerhardt That type/helper is meant to be a common utility that any dotnet `compiler` can implement to get the shared functionality specified by the `CommonCompilerOptions`. How do you propose other compilers use this code without living inside the CLI repo?

[2016-04-19 17:25] Petermarcu commented on #2583
@brthor , @MichaelSimons can you guys give guidance here?

[2016-04-19 17:25] balachir commented on #2427
We are continuing to see this reported in the tests that our China team is running with the RC2 tooling bits using the Maddog machines. Yesterday, I was able to reproduce this on one of my RC2 VMs with a checkpoint, I shall try reverting to that checkpoint to see if that gives a consistent repro. Hopefully, we'll get a repro and that will help us make progress on this investigation.

[2016-04-19 17:27] Petermarcu commented on #2578
The other option here is that you could build a standalone application by providing runtimes. This would create a self-contained application. Perhaps a 3rd option in the error (maybe it should be first) that says the package may be a platform?

[2016-04-19 17:40] anurse commented on #2526
We can still publish the package as a shared-source package and other compilers can reference it.

[2016-04-19 17:42] agocke commented on #2526
Cool, LGTM then.

[2016-04-19 17:50] piotrpMSFT commented on #2483
@brianrob @eerhardt besides csc.exe, are there any other in-box commands that get invoked out-of-proc?

[2016-04-19 17:51] piotrpMSFT commented on #1440
When do you expect it to get PR'd/merged?

[2016-04-19 17:52] piotrpMSFT commented on #2343
@krwq how's this going?

[2016-04-19 18:03] eerhardt commented on #2526
My thought is `AssemblyInfoOptions` and `CommonCompilerOptions` types will still live in that assembly. The only thing I'm pulling out is the `Parse` methods that rely on System.CommandLine.ArgumentSyntax.

The hope is that someday we will have an official "CommandLine" utility, but until that day comes, we can't ship our public APIs using this unofficial package.

[2016-04-19 18:14] brthor commented on #2583
@tugberkugurlu Our packages are no longer named `dotnet`

Those packages still exist because our current lkg is amongst them.

try this:
`apt-cache search dotnet-dev`

Then you can install like this (long package name):
`apt-get install dotnet-dev-1.0.0-rc2-002416`

This is an effect of our new Side by side model of installation, you can have multiple framework or cli versions installed on a machi

[2016-04-19 18:15] MichaelSimons commented on #2583
The following Dockerfile illustrates how you can install a newer version.

[code]

We will be updating the https://hub.docker.com/r/microsoft/dotnet image once RC2 is released.  In the meantime if you want to experiment with the latest bits consider using the https://hub.docker.com/r/microsoft/dotnet-preview image.

[2016-04-19 18:18] davidfowl commented on #2552
I can repro.

[2016-04-19 18:19] eerhardt commented on #2483
Looking at `Command.CreateDotNet`, it gets called from 4 places:

1. https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-build/CompileContext.cs#L314
 - `private void CollectCheckPathProbingPreconditions(ProjectContext project, IncrementalPreconditions preconditions)` which doesn't look like it actually executes the commands
1. https://github.com/dotnet/cli/blob/rel/1.0.0/src/d

[2016-04-19 18:39] brianrob opened #2584 "Enable MutlicoreJIT to Further Reduce Critical Path JIT Time for Dotnet.exe"
In addition to using crossgen to reduce JIT time of the CLI binaries, I'd also recommend using Multi-Core JIT to reduce the critical path JIT time.  Multi-Core JIT works by keeping track of which methods get used, persisting that to a file, and then on the subsequent run, JIT compiling those methods on a background thread (hopefully) before they're actually needed by the program.

In prototyping t

[2016-04-19 18:53] brthor commented on #2565
@chuan recently enabled the capability in our repo to publish packages for specific distributions.

Can you comment on what work might be involved to take advantage of that feature @chuan?

[2016-04-19 19:16] agocke commented on #2526
@eerhardt Right, I would assume they *must* live in that core assembly, since otherwise they types may not unify across assembly boundaries.

[2016-04-19 19:17] aliozgur commented on #2332
:+1:

[2016-04-19 19:45] #2438 closed

[2016-04-19 19:45] brthor commented on #2438
This is merged.

[2016-04-19 19:49] deathrowe commented on #2510
I'm still hitting this issue with version 1.0.0-rc2-002427. I have nuget version 3.3.0.212 as well. I also noticed that 'dotnet restore' will even try to hit my diabledPackageSources.

[2016-04-19 20:09] #2499 closed

[2016-04-19 20:10] cdmihai commented on #1440
After successfully rebasing on top of @pakrym's changes. Either today or tomorrow.

[2016-04-19 20:11] cdmihai commented on #2483
1) is used to check how the command gets loaded (Path is bad, other stuff is okay).

[2016-04-19 20:26] rrelyea commented on #2510
Included with the .NET CLI binaries are some NuGet binaries...
The last build we integrated into .NET CLI was 3.5.0-beta-1178.
That build of NuGet should contain all fixes from our public 3.4.2 release.
Please check your version of NuGet components in the CLI build you have.

[2016-04-19 20:30] jeffschwMSFT opened #2585 "[Mac OS X] System.Net.Http.WinHttpHandler throwing FileNotFoundException for 'winhttp.dll'"
Ported from: https://github.com/dotnet/corefx/issues/7835

I have a portable application that has a reference to the beta version (I think that is the latest) of System.Net.Http.dll.

project.json
 {
 "version": "1.0.0-",
 "compilationOptions": {
 "emitEntryPoint": true
 },
 "dependencies": {
 "Microsoft.NETCore.App": {
 "type": "platform",
 "version": "1.0.0-rc2-3002394"
 },
 "System.Net.Http": "

[2016-04-19 20:42] Sridhar-MS opened #2587 "[MSI]: Chain the SharedFx redist bundle into the CLI SDK bundle"
CLI SDK bundle is not chaining in the redist bundle but instead pulling in the SharedFx redist packages directly.

https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/windows/clisdk/bundle.wxs#L51

cc @Petermarcu @joeloff

[2016-04-19 20:47] Sridhar-MS opened #2588 "[MSI]: CLI and SharedFx bundle must set up the right registry keys for install detection"
For example VC++ redist bundle sets up the correct registry keys for detection - https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/windows/clisdk/bundle.wxs#L34

The CLI bundle and SharedFx bundle must do something similar.

Note: CLI and SharedFx are installed SxS. So these registry keys must also be SxS and not overwrite each other.

cc @Petermarcu @joeloff

[2016-04-19 21:09] deathrowe commented on #2510
I'm assuming you're talking about any of the NuGet.*.dll files from the /sdk/1.0.0-rc2-002427/ directory? I tried looking at the info for a couple of the files and I don't see any versioning. Is there a command I can run? I'm running on the latest OS X if that makes a difference

[2016-04-19 21:12] rrelyea commented on #2510
This may be able to tell you the version:
    corerun nuget.commandline.xplat.dll --version

[2016-04-19 22:02] ajaybhargavb commented on #792
I am currently working on tests. Hopefully, I'll get this in tomorrow.

[2016-04-19 22:18] brthor opened #2589 "Append `-1` to debian upload_json"
Currently we produce our debian packages with `-1` appended to the suffix.

This is a debian best practice so that debian package only hot fixes may happen.

This is currently breaking our package uploads since a strict enforcement of matching the declared version (without -1) and the actual version was implemented.

For a quick fix we should consider appending -1 to our declared version when uplo

[2016-04-19 22:26] moozzyk opened #2590 "Escape characters in error messages"
## Steps to reproduce

[code]
## Expected  behavior

No `[39m[22m` like sequences in the error message
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-04-19 22:34] brthor commented on #2590
what platform

[2016-04-19 22:37] #2566 closed

[2016-04-19 22:45] piotrpMSFT commented on #2499
I think the feedback on this issue is pretty compelling and @blackdwarf should think about whether adding imports actually improves User Experience. For the time being, since we're locking down RC2, I went ahead and fixed this issue as stated.

The test is good as-is. The intent of this issue is not to make arbitrary dependencies work. It is only to enable the restoration of packages that target d

[2016-04-19 22:46] piotrpMSFT commented on #2584
@brianrob is this just a change to the runtime options for dotnet.dll?

[2016-04-19 22:47] Petermarcu commented on #2585
The fact that the downgrade wasn't obvious is either a bug for the CLI or for NuGet. Getting the wrong asset from the package may be a corefx issue. @ericstj

[2016-04-19 22:50] kendaleiv commented on #2332
This could potentially reduce confusion between the npm `package.json` vs `project.json`.

[2016-04-19 22:56] moozzyk commented on #2590
win10

[2016-04-19 23:07] brianrob commented on #2584
This is a change that gets made in the application.  The goal is to make it as early as possible, but it needs to be done once the binding model (default AssemblyLoadContext) isn't going to change.  I don't believe you set it in dotnet.dll, so you should be able to set it in the entrypoint.

`AssemblyLoadContext.Default.SetProfileOptimizationRoot(<path to writable directory for profile>);
Assembly

[2016-04-19 23:09] piotrpMSFT commented on #2343
@BillHiebert this will introduce a breaking change on `dotnet build -o`. Once this is in place, -o will require that you pass a RID:

`dotnet build -o DIR -f TFM -r RID`

@krwq can give you details.

[2016-04-19 23:12] piotrpMSFT commented on #2343
@Eilon I'm not sure if your team is using `dotnet build -o`. Once this fix goes in, any callers of `dotnet build -o` will need to specify `-r` in addition to `-f`. Who can I coordinate with?

[2016-04-19 23:14] piotrpMSFT commented on #2346
@pranavkm now that the runner is available, how soon should we expect this to come in?

[2016-04-19 23:17] piotrpMSFT commented on #2427
@balachir are we any closer to a repro? If it's so inconsistent, would you ship RC2 without addressing this issue?

[2016-04-19 23:17] piotrpMSFT commented on #2479
@hovsepm have you had a chance to try this with latest? We really need a repro to be able to investigate this.

[2016-04-19 23:18] piotrpMSFT commented on #2485
@sokket has a fix and is finishing up tests. This should be in tomorrow.

[2016-04-19 23:22] piotrpMSFT commented on #2505
Fix is in PR, but needs test cases.

[2016-04-19 23:24] piotrpMSFT commented on #2506
dotnet/coreclr.xunit#6 is fixed. What's the ETA for this one?

[2016-04-19 23:24] piotrpMSFT commented on #2520
@davidfowl ping

[2016-04-19 23:24] piotrpMSFT commented on #2521
@davidfowl ping

[2016-04-19 23:28] piotrpMSFT commented on #2536
@emgarten when do you expect this to come in?

[2016-04-19 23:30] piotrpMSFT commented on #2543
This will be fixed once RC2 packages are on NuGet.

[2016-04-19 23:30] #2543 closed

[2016-04-19 23:30] piotrpMSFT commented on #2558
@schellap any update here?

[2016-04-19 23:33] piotrpMSFT commented on #2584
@brianrob `dotnet.dll` is the entry point dll for the CLI :)

@gkhanna79 @schellap is this setting already captured in runtimeconfig.json? What do we need to set to turn this on?

[2016-04-19 23:34] piotrpMSFT commented on #2589
@Petermarcu approved this fix in my office.

[2016-04-19 23:44] gkhanna79 commented on #2584
@brianrob Should this be opted in or out? Based upon the answer, @piotrpMSFT runtimeconfig.json should contain the correct opt-in/out and dotnet.dll implementation should consume it to enable/disable Multi-CoreJIT.

[2016-04-19 23:44] brthor commented on #2523
Is publish the only concern here? Do we need to have the same for build?

[2016-04-19 23:45] brianrob commented on #2584
Multi-Core JIT requires that you opt-in.  By default it is off, so you'd want to opt-in.

[2016-04-19 23:48] piotrpMSFT commented on #2584
I see, this is a managed API. How do you recommend testing that Multi-Core JIT is working? Shall we just check the ProfileOptimizationRoot for content? Or is there a stronger validation we can do?

[2016-04-19 23:52] pakrym commented on #2521
@piotrpMSFT I'm working on it, should have a PR tomorrow or day after.

[2016-04-19 23:52] brianrob commented on #2584
Checking for the profile after process shutdown is likely the best one (at least for automation).  If you want to do a one-off validation, you can hook a debugger and see the background thread start compiling.  We can (and will) also take a trace and see how many / which methods get background compiled.

[2016-04-19 23:53] piotrpMSFT commented on #2584
Automation is what I was after. This sounds good.

[2016-04-20 00:07] GuardRex commented on #2578
I don't think "A better error saying that the type needs to be a platform." is accurate. It's entirely reasonable to use `Microsoft.NETCore.App` without `"type": "platform"` in a standalone project. In which case, the exception line ...
[code]
... is fairly clear. I agree though with the sentiment of @onovotny that this is bound to come up and confuse devs new to the application types.

Perhaps, t

[2016-04-20 00:18] hovsepm commented on #2479
@piotrpMSFT , @piotrpMSFT I'm setting up a new dev box to try this on a different PC than mine. Will update this thread.

[2016-04-20 00:18] GuardRex commented on #2585
@jeffschwMSFT Did this happen because the `imports` masked it being restored? ... when without the `imports` it does fail and state that the package is incompat?

[2016-04-20 00:19] natemcmaster opened #2592 "ProjectDependenciesCommandFactory fails to create command when assembly name differs from package name"
`ProjectDependenciesCommandFactory` cannot create a command to a project dependency if the assembly name is different from the library name.

I believe the source of the issue is that `ProjectDependenciesCommandFactory.Create` a parameter  "commandName".  `ProjectDependenciesCommandResolver` uses to [find the library](https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/Comm

[2016-04-20 00:19] hovsepm commented on #2479
@piotrpMSFT , @cdmihai, after upgrading to
[code]
it builds from the first attempt.

[2016-04-20 00:19] #2479 closed

[2016-04-20 00:29] schellap commented on #2558
Part of the fix is in PR #2546

[2016-04-20 00:39] onionhammer opened #2593 "Nuget package sources not existing interferes with dotnet restore"
## Steps to reproduce
1. Add nuget source to broken path
2. Navigate to empty directory and `dotnet new` `dotnet restore`

## Expected  behavior
Packages should be restored

## Actual behavior
[code]

## Registered sources
[code]

Why is the 2nd source taking precedence over #1?

## Environment data
`dotnet --info` output:

[code]

[2016-04-20 00:43] troydai commented on #2427
Here's what we found now.

The issue happens for only:
1. VS is just installed;
2. Create a new web project

Research the log captured by Process Monitor during the repo, we found that `dotnet.exe` process terminates in 1 second after it is started by Visual Studio. The exit status is -1.

It doesn't repo afterwards.

It doesn't repo if between step 1 and 2 open a command line and run `dotnet --ve

[2016-04-20 01:10] balachir commented on #2427
@piotrpMSFT, we are seeing this issue reported by our China testing team pretty consistently with Maddog machines, and by a few others locally when they have installed the tooling build on less powerful machines. So we should definitely address this for RC2.

Adding to what Troy mentioned above, this one has been a tricky one to investigate because it reproduces the very first-time only. Troy and

[2016-04-20 01:17] pranavkm commented on #2506
Waiting for sign off.

[2016-04-20 03:14] NTaylorMullen commented on #2592
/cc @Eilon @muratg

[2016-04-20 03:17] deathrowe commented on #2510
Unfortunately, that command does not work for me. I get: 'Could not get full path: No such file or directory'

[2016-04-20 04:18] davidfowl commented on #2552
This isn't RTM, needs to be fixed in RC2

[2016-04-20 04:19] davidfowl commented on #2552
Here's the stack:

[code]

[2016-04-20 04:33] davidfowl commented on #2552
Minimal repro:

[code]

[2016-04-20 05:45] TheRealPiotrP opened #2595 "Move Telemetry out of process from dotnet CLI"
Telemetry reporting takes ~15% of runtime for some CLI usage scenarios. Reporting needs to be moved into an asynchronous process.

[2016-04-20 05:51] piotrpMSFT commented on #2584
@brianrob @gkhanna79 should the profile optimization root be distinct across invocations or unique?

[2016-04-20 05:51] troydai commented on #2427
@piotrpMSFT please advice who we can talk to regarding to the symptom. It is fairly clear now it is not a problem of dotnet-projectmodel-server itself. It more likely a dotnet.exe or muxer issue.

[2016-04-20 06:03] piotrpMSFT commented on #2584
Also, is the feature designed to have multiple processes use the same root path? Do apps need to worry about the state of files written in that directory? What sorts of validation/management is the app responsible for?

[2016-04-20 06:15] piotrpMSFT commented on #2584
I'm planning to put the optimization data in:

Windows: $env:LocalAppData\Microsoft\dotnet
Non-Windows: /usr/local/share/dotnet

[2016-04-20 06:26] tonysneed commented on #2583
@MichaelSimons @tugberkugurlu Thanks, this is exactly what I was looking for.

[2016-04-20 06:50] danroth27 opened #2596 "An item with the same key has already been added. Key: System.Runtime"
## Steps to reproduce

I'm trying to build docfx from their [net462 branch](https://github.com/dotnet/docfx/tree/net462) at this commit: https://github.com/dotnet/docfx/commit/18b96381e4e6cb7abca365dcb09a641f65f75313.

I ran `dotnet restore` from the `src` folder and `dotnet build` form the `src/docfx` folder.

## Expected  behavior

Successful build or a meaningful build error

## Actual behavior

[2016-04-20 06:52] danroth27 commented on #2596
Possible dup of #2552

[2016-04-20 06:52] danroth27 commented on #2596
@qinezh

[2016-04-20 06:55] danroth27 commented on #2596
Might be because I tried to build without .NET 4.6.2 installed. Still, the error message is bad.

[2016-04-20 07:00] davidfowl commented on #2596
Dupe!

[2016-04-20 07:00] #2596 closed

[2016-04-20 07:34] emgarten commented on #2536
@piotrpMSFT the fix is checked into the nuget repo but there is no plan to integrate it into the CLI currently. It could be taken soon if you need the change.

[2016-04-20 07:57] Ciantic commented on #2332
@kendaleiv not to mention "app.json" used by Heroku. Here [is a aspnet app having](https://github.com/aspnet/MusicStore) app.json (for heroku), global.json for dotnet and in subfolder a project.json.

[2016-04-20 08:30] blackdwarf commented on #1289
Moving this to RC2 to track removal of "repl" from the command help. This removal is tracked in the #1530 PR.

[2016-04-20 09:12] songdongsheng opened #2598 "Add RID ubuntu.16.04-x64 support"
## Steps to reproduce

Runing build.sh in ubuntu.16.04-x64:

root@ubuntu-1604-01:~/vcs/git/dotnet/cli# ./build.sh

## Actual behavior

Many errors 'there is no run-time assembly compatible with ubuntu.16.04-x64', e.g.

error: Microsoft.Win32.Primitives 4.0.1-rc2-24018 provides a compile-time reference assembly for Microsoft.Win32.Primitives on .NETStandardApp,Version=v1.5, but there is no run-time

[2016-04-20 09:22] tonysneed commented on #2583
I tried running a container from a Dockerfile based on the dotnet-preview image.  But the NuGet dependencies could not be resolved.  This is part of the docker log:

[code]

Grateful for any tips. 😄

[2016-04-20 09:52] toptensoftware commented on #1928
Having a similar issue, but no reported errors:

[code]

When I run VSCode, "Error while installing .NET Core Debugger", clicking View Log shows empty Extensions Output panel.

[2016-04-20 11:42] Gillardo commented on #2135
sorry i have not tried this yet, bit behind on stuff.  i will try this within next couple days

[2016-04-20 11:47] phenixdotnet opened #2599 "[dotnet restore] --configfile is relative to project dir instead of the cmd dir"
## Steps to reproduce
Assume this solution structure:
- MySol
    - nuget.config
    - src
         - MyProject

Open a cmd prompt and move to MySol directory

## Expected  behavior
Relative path are evaluated from the current prompt directory and not from the project directory

## Actual behavior
When running ```dotnet restore --configfile .\nuget.config``` from a cmd in ```MySol``` dir the comma

[2016-04-20 12:47] jmezach opened #2600 "dotnet build with compilationOptions.xmlDoc = true fails with CS2001 error"
## Steps to reproduce
git clone https://github.com/aspnet/dotnet-watch
git branch dev
cd src\Microsoft.DotNet.Watcher.Core
dotnet restore
dotnet build

## Expected  behavior
Compiling Microsoft.DotNet.Watcher.Core for .NETStandard,Version=v1.5

Compilation succeeded.
    0 Warning(s)
    0 Error(s)

Time elapsed 00:00:02.7261664

## Actual behavior
Compiling Microsoft.DotNet.Watcher.Core for .NETS

[2016-04-20 14:21] MichaelSimons commented on #2583
@tonysneed - Please refer to https://github.com/dotnet/cli/issues/2545 for details about the error you encountered and how to workaround it.

[2016-04-20 14:31] gregg-miskelly commented on #1928
@toptensoftware the 1.x-rc2 builds of the extension are meant for more recent builds of .NET CLI than the 1598 build. If you want to move to newer builds of the CLI -- http://aka.ms/vscclrdogfood.

Otherwise I would suggest sticking with the version of the extension from the gallery.

[2016-04-20 15:10] jeffschwMSFT commented on #2585
@GuardRex yes the import is necessary to select a compatible package.  Right now there is not a netstandard version of System.Net.Http

[2016-04-20 15:31] GuardRex commented on #2585
@jeffschwMSFT The reason I asked was that there is/was an open question about `imports` masking incompatible packages that seemed related to your issue: https://github.com/dotnet/cli/issues/2499#issuecomment-211645044

I have this gut feeling that `imports` added to make a known-ok-package "good" for a TFM will mask some other packages brought in later (or by accident) that may restore and compile

[2016-04-20 16:13] Eilon commented on #2343
@pranavkm & @victorhurdugaci any idea about @piotrpMSFT 's question about `dotnet build -o`?

[2016-04-20 16:17] pranavkm commented on #2343
We dont use that in our build scripts:
* https://github.com/aspnet/KoreBuild/blob/dev/build/shade/_k-standard-goals.shade#L145
* https://github.com/aspnet/KoreBuild/blob/dev/build/shade/_k-standard-goals.shade#L133

[2016-04-20 16:18] victorhurdugaci commented on #2343
We use it in at least one place in tests:

https://github.com/aspnet/Hosting/blob/12fff1833fdcaa36b6d43bbdeb0465a11d9cf365/src/Microsoft.AspNetCore.Server.Testing/Deployers/ApplicationDeployer.cs#L51

[2016-04-20 16:44] eerhardt commented on #2526
The PR to remove System.CommandLine from CLI is ready to review - #2594.

Barring legal hurdles with copying the 5 DNX files into our repo, this should be merged today.

(The legal hurdles are that the copied DNX code has a copyright header that uses the Apache v2 license, whereas the rest of the CLI code has MIT license. I'm not sure exactly how to approach this.  Anyone with insight please LMK.)

[2016-04-20 16:50] Eilon commented on #2526
@eerhardt I'll contact you over email.

[2016-04-20 16:51] anurse commented on #2343
@piotrpMSFT To be clear, that's only if you're building a standalone app, yes? If you're building a portable output, `-o` should not require `-r` since there is no RID to put there...

[2016-04-20 17:12] MichalStrehovsky commented on #2526
Since e.g. Roslyn targets `netstandard1.3` will targeting `netstandard1.1` in the CLI buy anything?

(I'm asking because the CoreRT native compiler targets 1.3 as well).

[2016-04-20 17:17] moozzyk commented on #2135
The new publish-iis tool is available. It should create a correct web.config for you. See more details here: https://github.com/aspnet/Announcements/issues/169. (You can even delete the old config you have if you don't have any custom setting - the tool will create a web.config for you after you application is published).

[2016-04-20 17:34] troydai opened #2602 "Duplicate keys (Microsoft.CSharp) cause ProjectModel server error."
## Steps to reproduce
1. Restore MusicStore (https://github.com/aspnet/musicstore)
2. Start project model server and try get dependencies information for it

## Expected  behavior
No error

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

@BillHiebert ?

[2016-04-20 17:35] troydai commented on #2602
@piotrpMSFT this is partner block and rc2 issue.
@BillHiebert from WTE team reported this
@davidfowl has a PR related to this #2597

[2016-04-20 17:42] #2589 closed

[2016-04-20 17:51] Petermarcu commented on #2526
I think the main problem @Eilon is trying to solve is that they use some specific libraries that are built from the CLI repo. For those libraries in particular, they need their dependency graph to work on netstandard1.1.

[2016-04-20 17:56] colemickens opened #2604 "apt repo may not contain latest dotnet-cli builds (?)"
Latest package in apt: dotnet-dev-1.0.0-rc2-002416

Latest package on README (according to the badge, at least): 1.0.0-rc2-002439

Looks like last deb available in the repo was modified on the 17th (three days ago).

Not sure if this is expected.

[2016-04-20 17:58] brthor commented on #2604
This is a result of #2589

Our repo partners added some additional validation which we needed to account for, the fix was merged this morning.

[2016-04-20 18:14] jeffschwMSFT opened #2605 "Mysterious Newtonsoft.Json conflict when depending on a library from a Web app"
## Steps to reproduce
ungzip downgrade.tar.gz
tar -xf downgrade.tar

There are two projects in the tar ball: 1) a web app and 2) library which depends on Newtonsoft.Json.

App/project.json:
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0-rc2-20507",
    "Microsoft.AspNetCore.Server.Kest

[2016-04-20 18:17] troydai commented on #2602
I file this issue for @BillHiebert. I can repo the issue with the lock file provided by @BillHiebert : https://github.com/dotnet/cli/tree/03eb1bb895c9194bd847fc8e5c57ddfb5927ad13/TestAssets/ProjectModelServer/MusicStoreError

However I can't recreate a similar lock file using latest dotnet to repo this issue.

[2016-04-20 18:35] tonysneed commented on #2583
Thanks for the workaround for the Nu1001 error.  This error went away, but I have another one:

[code]

[2016-04-20 18:39] krwq commented on #2343
@anurse correct

[2016-04-20 18:44] moozzyk commented on #2592
Look like when the tool calls back into ProjectDependenciesCommandFactory the factory only checks the lock file. Since it is a project reference there are is no target dll name and as a result [this check](https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/CommandResolution/ProjectDependenciesCommandResolver.cs#L103) fails. I guess for project references the factory needs

[2016-04-20 18:52] schellap opened #2607 "Leave package versioning breadcrumbs for servicing"
## Steps to reproduce
`dotnet help`

## Expected  behavior
`dotnet help`

Breadcrumbs for dotnet.dll's dependencies should be present in the form:

`netcore,PkgId,PkgVersion`

in `C:\ProgramData\Microsoft\NetFramework\BreadcrumbStore\` for Windows,

and for Unix, should either be present in `$CORE_BREADCRUMBS` or in the environment variable's absence present in `/opt/corebreadcrumbs/` if ACL-ed ap

[2016-04-20 18:54] #2525 closed

[2016-04-20 18:55] anurse commented on #2523
We've solved this issue for RC2 by simply always writing the serviceable attribute to the deps file. Post RC2 we are going to look at the right solution for specifying this value.

[2016-04-20 18:58] troydai commented on #2602
@BillHiebert can you try this scenario on latest dotnet again? I'm not able to repo it now.

[2016-04-20 19:00] schellap commented on #2607
Fixed by #2546

[2016-04-20 19:15] mikeharder opened #2608 "MyGet packages should be updated before CLI installer"
At the time this issue was created (4/20/16 12:12PM), the version of "Windows x64 .NET Core SDK Installer" at https://github.com/dotnet/cli is 1.0.0-rc2-002439.  However, the newest version of Microsoft.NETCore.App at https://dotnet.myget.org/F/dotnet-core/api/v3/index.json is v1.0.0-rc2-3002426.  This means that `dotnet restore` after `dotnet new` will fail.

The fix is to update packages on MyGe

[2016-04-20 19:15] schellap commented on #2523
@brthor, edited the title, whoever produces deps file should be consistent. In this case yes, build needs to be fixed as well.

[2016-04-20 19:27] piotrpMSFT commented on #2526
This change also removes a point of complexity from CLI's dependency graph. It's a win overall.

[2016-04-20 19:39] mikeharder opened #2609 "Error message from dotnet.exe shows invalid characters "←[1m←[31m" on Windows Server 2012 R2"
## Steps to reproduce
1. Install "Windows x64 .NET Core SDK Installer" on Windows Server 2012 R2.
2. Run `dotnet foo`

## Expected  behavior
Error message printed in red text, like on Windows 10.

## Actual behavior
Error message starts and ends with invalid characters:
[code]

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-rc2-002441)

Product Information:
 Version:

[2016-04-20 19:51] troydai commented on #2602
Close as not repo. @BillHiebert please feel free to reopen if you can repo this on newer packages.

[2016-04-20 19:51] #2602 closed

[2016-04-20 19:54] muratg commented on #2592
cc @piotrpMSFT @danroth27

[2016-04-20 19:59] MichalStrehovsky commented on #2526
Except it has a subtle message: "Hey, we have this cool System.CommandLine package for you. We don't eat our own dogfood because we make food for us on the side, but hey maybe it will work for you."

[2016-04-20 20:21] Eilon commented on #2526
System.CommandLine is part of corefxlabs, it's not a supported product.

[2016-04-20 21:05] ah- commented on #244
I'd also really like to see pre/postrestore. See https://github.com/NuGet/Home/issues/2260 for the corresponding NuGet issue.

[2016-04-20 21:37] moozzyk commented on #2592
Actually the repro was not correct - as it was we ended up with a project references and we already know this does not work (https://github.com/dotnet/cli/issues/1215). It still does not work with packages but the fix for this might be simpler.

[2016-04-20 21:44] natemcmaster commented on #2592
Ah, good catch @moozzyk. Here's the repro changed so the dependency is a package, not a project. The error is still the same.
[dispatching-tool-update1.zip](https://github.com/dotnet/cli/files/228861/dispatching-tool-update1.zip)

[2016-04-20 21:45] piotrpMSFT commented on #2592
There hasn't been a behavioral change in this space for quite some time. Why is this coming in as blocking so late?

[2016-04-20 21:51] moozzyk commented on #2592
Because enabling packages whose names were different from the dll came along only last week (https://github.com/dotnet/cli/issues/2322) and this when we started converting the tools.

On the bright side - I think the fix might be a single liner.

[2016-04-20 22:14] brthor commented on #2486
A PR with tests exhibiting the failure is windows only is here:
https://github.com/dotnet/cli/pull/2610

Corefx issue filed here:
https://github.com/dotnet/corefx/issues/7935

[2016-04-20 22:21] toptensoftware opened #2611 "Brand new project failing to restore in rc2-002444 on OS X"
## Steps to reproduce

Install latest from https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-osx-x64.latest.pkg

Create and restore a new project `dotnet new` `dotnet restore`

## Expected  behavior

Restore should succeed

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

[2016-04-20 22:21] toptensoftware commented on #1928
@gregg-miskelly Thanks Gregg.  Tried that and the debugger installed, but now I can't run even a basic `dotnet new` `dotnet restore`.

Logged it here: https://github.com/dotnet/cli/issues/2611

[2016-04-20 22:29] MichaelSimons opened #2612 ""The following applications are using files that need to be updated" installer warning is not helpful"
## Steps to reproduce

1. Install VS .Net Core Tools (installs a version of CLI that is not the latest)
2. Open a .Net Core project in VS
3. Install the latest CLI (https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe) (1.0.0-rc2-002444)

## Expected  behavior
Installer describes what applications are using files that need to be updated.

## Actual be

[2016-04-20 22:45] toptensoftware commented on #2611
Found solution: create NuGet.Config file in the project directory as [described here](https://github.com/gregg-miskelly/omnisharp-vscode/blob/daily-build-docs/debugger.md) in section "If dotnet restore fails"

[2016-04-20 23:04] #2611 closed

[2016-04-20 23:08] piotrpMSFT commented on #1289
Fixed by #1530

[2016-04-20 23:08] #1289 closed

[2016-04-20 23:09] piotrpMSFT commented on #1440
@cdmihai it's tomorrow :) Is this ready to go?

[2016-04-20 23:12] moozzyk commented on #2592
Here is a prototype of the fix:
https://github.com/dotnet/cli/compare/pawelka/tools#diff-16c83a05b97f578bc7a5c809ad865920R104
I am looking at how to test this.
I am also considering throwing an exception for ambiguous commands - it would be easier to find later when https://github.com/dotnet/cli/issues/2540 is being fixed.

[2016-04-20 23:13] piotrpMSFT commented on #2346
Just chatted with @pranavkm. There are test failures on Windows x86 that are being inspected. This is expected to be fixed today/tomorrow.

[2016-04-20 23:20] piotrpMSFT opened #2613 "CLI Builds should publish when all builds are finished"
## Steps to reproduce
go to https://github.com/dotnet/cli

## Expected  behavior
All versions are the same

## Actual behavior
Builds get out of sync, so you will have fixes on one OS but not on others.

[2016-04-20 23:24] piotrpMSFT commented on #2346
This is already closed by #6 in coreclr.xunit

[2016-04-20 23:24] #2346 closed

[2016-04-20 23:24] piotrpMSFT commented on #2506
Just chatted with @pranavkm. There are test failures on Windows x86 that are being inspected. This is expected to be fixed today/tomorrow.

[2016-04-20 23:30] piotrpMSFT commented on #2536
@emgarten we need the CLI PR. This bug is blocking RC2. There were also tests that had to be disabled because of this issue, so the same PR should re-enable those tests. Please create the PR today/tomorrow to update CLI's 3.5 build of NuGet.

[2016-04-20 23:34] GuardRex commented on #1403
Cross-referencing the discussion on Development vs. Production: https://github.com/dotnet/cli/issues/1403

[2016-04-20 23:37] #2567 closed

[2016-04-20 23:43] #2607 closed

[2016-04-20 23:48] brthor commented on #2592
@moozzyk I'm not sure this fix is going to work since commandName is also the name of the package which gets restored. Did you have success testing it?

[2016-04-21 00:11] moozzyk commented on #2592
Yes. I tested this manually and also added a test for that. I did debug the code before and after the change and it fixed the issue.

[2016-04-21 00:12] schellap commented on #2558
Fixed by #2546

[2016-04-21 00:12] #2558 closed

[2016-04-21 00:12] vijayrkn opened #2615 "dotnet test fails if --no-build and --base-build-path is passed and assemblies are present in the base build path folder"
## Steps to reproduce
"C:\Program Files\dotnet\dotnet.exe" test "E:\git\mvc\test\Microsoft.AspNetCore.Mvc.Abstractions.Test\project.json"  --no-build --base-build-path E:\git\mvc\artifacts\bin\ --configuration Debug --framework netcoreapp1.0

Fails with error : Deps file [E:\git\mvc\test\Microsoft.AspNetCore.Mvc.Abstractions.Test\bin\Debug\netcoreapp1.0\Microsoft.AspNetCore.Mvc.Abstractions.Test.d

[2016-04-21 01:05] vijayrkn opened #2616 "Running dotnet tests in parellel throws error - it is being used by another process."
## Steps to reproduce

discovering multiple tests in parallel causes this error
C:\Program Files\dotnet\dotnet.exe compile-csc @E:\git\mvc\src\Microsoft.AspNetCore.Mvc.Abstractions\obj\Debug\netstandard1.3\dotnet-compile.rsp returned Exit Code 1
## Expected  behavior

Building in parallel works.
## Actual behavior

The process cannot access the file 'E:\git\mvc\src\Microsoft.AspNetCore.Mvc.Abstrac

[2016-04-21 01:20] yishaigalatzer commented on #809
Comments to others - At the moment this looks like a coreFX issue, we are discussing internally and will figure out if this will get fixed for RC2 and how.

[2016-04-21 01:51] GuardRex commented on #2135
@Gillardo If you get stuck and need chat help, hit us up on Jabbr at https://jabbr.net/#/rooms/AspNetCore

Here's a few links that might help:
[cli-samples repo](https://github.com/aspnet/cli-samples)
[IISIntegration repo sample](https://github.com/aspnet/IISIntegration/tree/dev/samples/IISSample)
[Sample standalone (self-contained) application](https://github.com/GuardRex/standalone)
[DRAFT WIP P

[2016-04-21 02:02] #2526 closed

[2016-04-21 02:33] binoypatel opened #2618 "Unable to reference NetStandard project to Xamarin.Android and Xamarin.iOS projects"
First of, accept my apology if this is not a bug (using nuget I can reference the same project) or I am posting to wrong place, here is what is happening:

## Steps to reproduce
- Created a NetStandard project version 1.3, here is project.json:
{
  "supports": {},
  "dependencies": {
    "NETStandard.Library": "1.0.0-rc2-23910"
  },
  "frameworks": {
    "netstandard1.3": {}
  }
}
- Trying to refe

[2016-04-21 03:24] cdmihai commented on #1440
Almost there :)
Made a WIP PR: #2619. I'll iron out the merge issues tomorrow.

[2016-04-21 05:08] JamesNK commented on #2525
Hi! Is this available now in the public build server .NET CLI version?

[2016-04-21 05:16] eByte23 commented on #2525
@JamesNK Not sure about the 'public build server?' but I downloaded the .NET Core SDK Installer build 002457 and it works as expected

[2016-04-21 05:48] JamesNK commented on #2525
That's what I meant. Ok!

[2016-04-21 06:29] robmen commented on #2400
Sorry, I'm not getting notifications from GitHub (either email nor on the web). What did shiproom decide?

[2016-04-21 06:49] robmen commented on #2400
@blackdwarf the difference between is Close and Cancel is that Close closes the window, Cancel prompts you if you want to cancel the operation. Can name them the same if you want.

Also note that @shanselman is proposing to do away with all the Close/Cancel buttons and have users bail by clicking red "X". Which way do you want to go?

Do you want to remove the Cancel button from the progress page

[2016-04-21 08:19] robmen commented on #2612
Should try to fix this problem while doing #2400.

[2016-04-21 08:27] thecodejunkie opened #2621 "unicode characters in non-existent command names result in mutated output"
## Steps to reproduce

Type `dotnet <invalid command>` in the CLI
## Expected  behavior

An error output without scrambled text
## Actual behavior

[code]

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-04-21 08:29] khellang commented on #2621
I could've sworn this was fixed with #1212...

[2016-04-21 08:30] Bartmax commented on #2621
is weird:)

powershell first try, error described above.
run cmd, no scramble
exit to ps and now no scramble :)

![image](https://cloud.githubusercontent.com/assets/3386797/14702675/12f1346a-0782-11e6-80e6-16eb446129ee.png)

[2016-04-21 08:30] thecodejunkie commented on #2621
@khellang Regression, yo? :D

[2016-04-21 09:19] eByte23 commented on #2605
@jeffschwMSFT you need to add imports property in the iis dependency in tools. This will be fixed soon when the tools dependencies are updated.

E.g.

tools": {
 "Microsoft.AspNetCore.Server.IISIntegration.Tools": {
"version":"1.0.0-rc2-20507",
"imports":["portable-net40+sl5+win8+wp8+wpa81"]
 }

[2016-04-21 11:06] GerjanOnline commented on #2400
I just checked other installers and it seems 95% uses a "Cancel" button at the start of a wizard
https://www.google.nl/search?q=windows+installer+wizard&source=lnms&tbm=isch

[2016-04-21 12:28] tugberkugurlu commented on #2037
I am getting the same:

[code]

info:

[code]

[2016-04-21 12:30] per-samuelsson commented on #1812
No, really?! :cry: That's just a game-changer for the thing we're building, and we've build quite a lot on it since the launch of DNX.

So is there like any way right now to hook into the compilation process? Even if it's more low-level than than `ICompileModule` (including hooking into native bootstrapping)?

[2016-04-21 12:45] renatohh commented on #2393
same issue here, on windows 10

[2016-04-21 12:45] apawsey commented on #244
I'd like to add my two (more like 50 now I've actually finished) cents as I've been struggling for days with the current scripts functionality with dnx and dotnet.  And there is at least one useful nugget of information in here, I promise :)

I think the generalized approach is excellent, and it must be down to each command to define it's available scripts.  Your (not sure of the correct terminolo

[2016-04-21 14:41] m0sa commented on #1812
@per-samuelsson https://github.com/dotnet/roslyn/issues/5561 seems to be the official discussion about the feature replacing this one

[2016-04-21 14:43] apawsey commented on #244
Should also note, I am happy to put my code where my mouth is, and contribute to this.  Not sure how much outside contribution there is in the cli project.

[2016-04-21 14:47] ckkashyap commented on #2229
Problem solved for me :) .. adding soft links from /usr/local/opt to my homebrew did the trick

[2016-04-21 15:06] jeffschwMSFT commented on #2605
@eByte23 thanks for the point-in-time workaround.  I am still a little baffled why the app restores successfully without these imports and without the lib dependency.  It seems like there is a warning/error case missing.

[2016-04-21 15:08] per-samuelsson commented on #1812
Thanks @m0sa. By chance I found that issue some hour ago and started reading uo on it (and linked issues) to see if I could grasp it, and see if it fit our needs. It's still some things to digest there for me. I hope it turns out well.

You pointing me in that direction, and when I saw you just posted there days ago, is helpful indeed, because then I know I'm likely reading at the right place. :sm

[2016-04-21 15:14] robmen commented on #2400
@GerjanOnline That is true. If you want to continue to look like installers designed in 1997 then "Cancel" button in the bottom right corner on all pages is the way to go. That's the "Wizard 97" guidelines.

[2016-04-21 16:00] BeelzeBu commented on #2618
Xamarin does not work with dotnet. There is a project to work with dnx and dnxcore5.0 rc1.

[2016-04-21 16:10] anurse commented on #2525
Yeah, should be there. Glad to hear it seems to have fixed the issue!

[2016-04-21 16:21] kerryjiang commented on #2608
I met the same problem.
I waited the updated rc night build release for many days, but still got same errors.

Fortunately, there is a workaround for this problem mentioned in the other issue https://github.com/dotnet/cli/issues/2543.

[2016-04-21 16:33] john-hidey opened #2622 "dotnet compile - no matching command"
## Steps to reproduce
[code]

## Expected  behavior
Output the command line options for `dotnet compile`

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

[2016-04-21 16:37] gkhanna79 opened #2623 "Create Breadcrumb Location when it is absent"
If the required .NET FX is not installed on a machine (e.g. clean Win7), then BreadCrumb location will not be present. This needs to be addressed for two scenarios:

1) Create it, if it does not exist, when installing the SharedFX Redist
2) Have a mechanism to create it when standalone apps are executed on a machine that does not contain SharedFX redist.

CC @leecow @schellap @mellinoe @ericstj @e

[2016-04-21 17:04] piotrpMSFT commented on #2592
@natemcmaster @NTaylorMullen @moozzyk just to be super clear, the goal here is to address only project dependency extensions. `tools` dependencies will continue to maintain their existing behavior. Can you confirm?

[2016-04-21 17:09] moozzyk commented on #2592
Yes. `tools` dependencies already can handle packages where the dll name is different from the package name. I was able to convert 4 tools already that didn't need project dependencies and they work fine.

[2016-04-21 17:20] piotrpMSFT commented on #2592
great. Can you add a test that covers that scenario as well so it doesn't get regressed?

[2016-04-21 17:25] moozzyk commented on #2592
Yes. I will add a test as per https://github.com/dotnet/cli/pull/2620/files#r60618140

[2016-04-21 17:28] GuardRex commented on #2037
@tugberkugurlu Show your `project.json`

[2016-04-21 17:29] jaredpar commented on #1812
The Roslyn source generator feature work is actually well under way.  The progress can be followed on this branch:

[2016-04-21 17:36] rustd opened #2624 ".NET CLI and frameworks should use the latest version of JSON.NET"
We should be using the latest version of JSON.NET across ASP.NET and .NET Core.
This is required for RC2
## Steps to reproduce

Create an ASP.NET Core Web Application
Look at Newtonsoft.Json version in project.lock.json
## Expected  behavior

[code]

Microsoft.Extensions.DependencyModel also has 7.0.1 version of JSON.NET
## Actual behavior

[code]
## Environment data

`dotnet --info` output:
.NET

[2016-04-21 17:43] tugberkugurlu commented on #2037
@GuardRex https://github.com/aspnet/cli-samples/blob/28a8dd10a0f7660ff4528f576081d7c34f69722f/HelloMvcApi/project.json

[2016-04-21 17:45] GuardRex commented on #2037
@tugberkugurlu That's cool. You're using the CI release feed, right? I can't repro that here. You might want to nuke your package cache.

[2016-04-21 17:47] ellismg commented on #2623
What is the exact location and and set of ACLs that should be put on the breadcrumb location?

[2016-04-21 17:50] ericstj commented on #2623
(programdata folder)Microsoft\NetFramework\BreadcrumbStore
sddl="D:(A;OICI;CCDCSWWPLORC;;;WD)(A;OICI;FA;;;BA)(A;OICI;FA;;;SY)"

[2016-04-21 18:00] gkhanna79 commented on #2623
@leecow and I were chatting. It maybe a better idea to have this ACLed BredCrumb location creation (after the existence check) be in its own installer so that both the above scenarios can be addressed. This installer can be used by itself (e.g. for standalone apps) and chained by SharedFX Redist installer to create on machines where it does not exist (e.g. Win7).

Thoughts?

A question that comes

[2016-04-21 18:07] miguellira commented on #2037
@tugberkugurlu Might also want to make sure you pull the latest of that repo. The reference to the meta package (`Microsoft.NETCore.App`) was recently updated to grab latest (`1.0.0-*`)

[2016-04-21 18:26] schellap commented on #2623
@gkhanna79 I was thinking about this and it may help alleviate your NET FX conflict concerns. Now that we have an opportunity to create one, can we create one for ourselves: `CoreBreadcrumbs` inside `NetFramework`?

It is easier to say if you install `dotnet` you get servicing irrespective of what app you are, than say, go get this special installer to get servicing if you are a standalone app (i.

[2016-04-21 18:59] abpiskunov opened #2625 "[ProjectModel.Server] Error can not find project.json when there is a syntax error"
## Steps to reproduce

Repro:

Create a new ClassLibrary
Wait for restore and replace text in project.json with following:
{
"version": "1.0.0.0",

"dependencies": {
},

"frameworks": {
"frameworks": {
"netcoreapp1.0": {
"imports": [
"dotnet5.6",
"dnxcore50",
"portable-net45+win8"
]
}
}
}
}
## Expected  behavior

Error about some wrong syntax or missing target frameworks
## Actual behavior

Severi

[2016-04-21 18:59] anurse commented on #2595
What's the status of this? It's impacting build times because we're seeing a ~1sec pause at the end of build due to telemetry.

/cc @pakrym @davidfowl

[2016-04-21 19:09] anurse commented on #2520
I have a PR coming that addresses some of these. We're going to be iterating quickly on this, producing smaller changes that keep working so this may trigger multiple PRs.

[2016-04-21 19:15] xatabhk opened #2627 "Q:How to publish app/site to azure?"
In IDE, I got the following error:
The project being published does not support the runtime 'dnx-clr-win-x86.1.0.0-rc2-20221'
   at Microsoft.DNX.Tasks.Dnu.Execute()
   at Microsoft.Build.BackEnd.TaskExecutionHost.Microsoft.Build.BackEnd.ITaskExecutionHost.Execute()
   at Microsoft.Build.BackEnd.TaskBuilder.<ExecuteInstantiatedTask>d__26.MoveNext()

[2016-04-21 19:53] gitchomik commented on #2622
Same problem on Ubuntu 14.04 x64

[code]

[code]

[2016-04-21 21:08] vijayrkn opened #2628 "dotnet test - Test runner fails to run the tests correctly if there is a dependency on extenal folders"
## Steps to reproduce
1. Clone the aspnet/Mvc repo
2. .\build.ps1 --quiet initialize # to restore all packages
3. Open Mvc.sln in VS
4. Open the Test Explorer tab
5. Build Solution (F6)
6. Wait for test discovery to complete # surprisingly slow but that's not the bug here
7. Run a functional test that uses views e.g. AntiforgeryTests.Antiforgery_HeaderNotSet_SendsBadRequest (in Microsoft.AspNetCor

[2016-04-21 21:12] eerhardt commented on #2622
Use `dotnet build` instead.  We should remove `dotnet compile` from any documentation, it isn't a public facing command.

[2016-04-21 21:19] colemickens commented on #2604
This is fixed. Thanks.

[2016-04-21 21:19] #2604 closed

[2016-04-21 21:26] cdmihai commented on #1440
PR is ready for review / merge

[2016-04-21 21:37] hach-que opened #2629 "Support Protobuild packages in the "dependencies" section"
I'm the developer of [Protobuild](https://github.com/Protobuild/Protobuild), a cross-platform project generator and package management system for C#.  It focuses on platforms ("windows"/"mac"/"linux"/etc) instead of frameworks ("net40"/"net45"/etc) which allows code to be written that references native APIs without expensive runtime checks.  Protobuild is used by projects such as MonoGame.

I want

[2016-04-21 21:37] moozzyk commented on #2609
dupe of https://github.com/dotnet/cli/issues/2590 ?

[2016-04-21 21:49] #2609 closed

[2016-04-21 21:50] mikeharder commented on #2590
I was also seeing this on Windows Server 2012 R2.  See #2609.

[2016-04-21 22:41] piotrpMSFT commented on #2629
@blackdwarf @yishaigalatzer can you guys share some thoughts on this?

[2016-04-21 22:45] piotrpMSFT commented on #2628
@vijayrkn what is the working directory in which VS spawns the test process? It needs to match the expected working directory.

[2016-04-21 22:52] yishaigalatzer commented on #2629
My initial thought is that it doesn't belong here under dependencies

[2016-04-21 22:58] piotrpMSFT commented on #2627
@xatabhk it looks like you're using DNX tools. Tools for CLI are not available yet but will be soon.

[2016-04-21 22:58] #2627 closed

[2016-04-21 23:06] piotrpMSFT commented on #1540
System.CommandLine is no longer a dependency of CLI. #2594 addressed this. @anurse, when do you expect this issue to get closed?

[2016-04-21 23:08] piotrpMSFT commented on #2343
@krwq continues to find issues as he gets further. He will be adding a PR so we can see the direction of this feature and help if possible.

[2016-04-21 23:08] piotrpMSFT commented on #2427
@schellap can help if this is a dotnet.exe issue.

[2016-04-21 23:09] piotrpMSFT commented on #2427
@troydai @balachir do we know if dotnet.dll is being loaded? Are any tools being referenced by the project? Does CLI produce any command line output?

[2016-04-21 23:11] piotrpMSFT commented on #2485
This is blocked by #2613

[2016-04-21 23:12] piotrpMSFT commented on #2489
Fixed by #2617

[2016-04-21 23:12] #2489 closed

[2016-04-21 23:13] piotrpMSFT commented on #2505
@Sridhar-MS can you create an RTM issue to track generating the redirects for publish output?

[2016-04-21 23:14] piotrpMSFT commented on #2506
@pranavkm can you share an update here?

[2016-04-21 23:16] piotrpMSFT commented on #2552
@davidfowl does #2597 close this issue?

[2016-04-21 23:21] piotrpMSFT commented on #2595
@LakshanF started looking into this today.

[2016-04-21 23:22] vijayrkn commented on #2628
Currently the working directory returned in ProcessStartInfo message is null, so it is getting set the project json path. I tried setting it to outputPath, still I get the same error.

[VSTestAdapter]: Received ((, TestExecution.TestRunnerProcessStartInfo) -> {
  "FileName": "C:\\Program Files\\dotnet\\dotnet.exe",
  "Arguments": "exec --runtimeconfig E:\\git\\mvc\\artifacts\\bin\\test\\Microsoft.

[2016-04-21 23:34] pranavkm commented on #2628
The problem is that Mvc expects the application BasePath to be /test/Microsoft.AspNetCore.Mvc.FunctionalTests/bin/debug/netcoreapp1.0 but VS sets the base-output-path to /artifacts. We can fix this in Mvc's tests to look for the repo root and make our paths relative from there.

[2016-04-21 23:34] piotrpMSFT commented on #2593
Can you please open this bug in https://github.com/nuget/home?

/cc @yishaigalatzer @emgarten

[2016-04-21 23:34] #2593 closed

[2016-04-21 23:35] piotrpMSFT commented on #2598
Ubuntu 16.04 is not yet supported by CoreFx. This will be done as part of 16.04 bring-up.

[2016-04-21 23:35] #2598 closed

[2016-04-21 23:36] pranavkm commented on #2506
Waiting on ask mode approval for https://github.com/dotnet/coreclr.xunit/pull/28

[2016-04-21 23:37] piotrpMSFT commented on #2599
Can you please open this bug in https://github.com/nuget/home?

/cc @yishaigalatzer @emgarten

[2016-04-21 23:37] #2599 closed

[2016-04-21 23:37] vijayrkn commented on #2628
Thanks @pranavkm

@piotrpMSFT - Can we use this bug to fix the working directory returned in the TestRunnerProcessStartInfo message.

[VSTestAdapter]: Received ((, TestExecution.TestRunnerProcessStartInfo) -> {
 "FileName": "C:\Program Files\dotnet\dotnet.exe",
 "Arguments": "exec --runtimeconfig ....

[2016-04-21 23:40] piotrpMSFT commented on #2605
Can you please open this bug in https://github.com/nuget/home?

/cc @yishaigalatzer @emgarten

[2016-04-21 23:40] #2605 closed

[2016-04-21 23:41] piotrpMSFT commented on #2608
This is a dupe of #2613

[2016-04-21 23:41] #2608 closed

[2016-04-21 23:43] piotrpMSFT commented on #2612
This is really a point-in-time issue. @schellap is working on locking down dotnet.exe's version. Once that happens, installers will stop trying to update over top of one another's payloads. For completeness, putting in rtm for now to track for @robmen so we have a clean installer.

[2016-04-21 23:44] piotrpMSFT commented on #2615
@vijayrkn is this blocking VS for RC2?

[2016-04-21 23:46] piotrpMSFT commented on #2616
@cdmihai it looks like VS is trying to do multiple builds concurrently and the builds are conflicting with one another. Forgetting `dotnet test`, this means that running multiple builds in parallel is not handled gracefully.

[2016-04-21 23:47] schellap commented on #2427
It could be a muxer issue but just setting this logging environment shouldn't be a reason to conclude so. It sounds from the above statements it is a timing issue.

Also, why is the process name in the alert box a version number? `"attempting to run a project model server process (1.0.0-rc2-002345)"`

[2016-04-21 23:49] piotrpMSFT commented on #2618
@binoypatel if @BeelzeBu's response doesn't cover the question you're asking please reopen the issue. The fix here would not be coming from CLI, however. Xamarin itself would need to be updated to take advantage of netstandard.

/cc @richlander

[2016-04-21 23:49] #2618 closed

[2016-04-22 00:02] piotrpMSFT commented on #2621
There are two issues here. One is that unicode characters are being scrambled when written back out from CLI:
[code]

The other issue is that folks' command lines are somehow getting into a state where they are not respecting ANSI Color codes. We're tracking this one here: https://github.com/dotnet/cli/issues/2590

Can folks comment on that issue to help us get to a repro? We're trying exactly the

[2016-04-22 00:06] piotrpMSFT commented on #2622
correct. `dotnet compile` is no longer a public-facing command.

@blackdwarf a number of our .md files still reference dotnet-compile. Can you take a pass at cleaning these out?

[2016-04-22 00:11] piotrpMSFT commented on #2624
@rustd why is this required for RC2? What are you asking to have changed?

This is not a command supported by CLI. None of the templates generated by CLI reference Newtonsoft.json either. I think you want this change in Visual Studio Tools and should raise the issue in the appropriate repo/store. If you do need CLI changes please reopen and provide more detail.

[2016-04-22 00:16] yishaigalatzer commented on #2605
It is because one of the dependencies asked for a different version. Not sure there is a bug to open

[2016-04-22 00:27] Sridhar-MS opened #2632 "'publish' must generate binding redirects for referenced packages that contain executables."

[2016-04-22 00:34] Sridhar-MS commented on #2632
Discussion - https://github.com/dotnet/cli/pull/2586#discussion_r60653725

This is the continuation of fixing issue https://github.com/dotnet/cli/issues/2505

[2016-04-22 00:41] livarcocc commented on #2628
@vijayrkn You mean you want to have the working directory included in the TestRunnerProcessStartInfo message?

And how should we find it? Should it be the directory under which VS invoked dotnet test? The designtime one?

[2016-04-22 00:45] Cuiqs76 commented on #2364
![20160422084005](https://cloud.githubusercontent.com/assets/13130628/14728353/5780fbee-0866-11e6-933f-bdac79f12308.png)  the issue come again when install the latest version.

[2016-04-22 00:45] piotrpMSFT opened #2633 "MSI: Change branding to Microsoft .NET Core SDK"
## Steps to reproduce
run MSI

## Expected  behavior
ARP/Installer name is Microsoft .NET Core SDK

## Actual behavior
ARP/Installer name is Microsoft .NET CLI for Windows

## Environment data
`dotnet --info` output:

[2016-04-22 00:48] vijayrkn commented on #2628
I already have the project.json directory. We need the directory where the test dll is present and if you can pass it in the TestRunnerProcessStartInfo  message, I can use that as the working directory while starting the test runner process.

[2016-04-22 00:58] vijayrkn commented on #2615
Right now VS is passing the --no-build flag, so this is not a blocking issue at this point but we have a bug to remove the --no-build option passed to dotnet-test. If we decide to take that bug, then this will be blocking issue.

[2016-04-22 01:15] piotrpMSFT commented on #2590
Folks, we're not successfully finding a repro for this issue. I've only seen the ANSI color code characters show up when i redirect console output to a text file and then open that file in notepad. We've tried this on multiple win10 machines. Can you help us find a good repro?

[2016-04-22 01:42] mikeharder commented on #2590
**Repro Steps**
1. Create a VM in Azure running Windows Server 2012 R2 Datacenter
2. Install "Windows x64 .NET Core SDK Installer" version 1.0.0-rc2-002470.
3. Open command prompt (cmd.exe)
4. Run `dotnet foo`

**Output**
[code]

[2016-04-22 02:19] anurse commented on #1540
I'll change ProjectModel.Workspace to target net451 tomorrow morning, which should resolve this issue. There's also a similar problem in NuGet, and we'll need to take a new NuGet to fix that. I'm not sure the status of that.

[2016-04-22 02:55] binoypatel commented on #2618
@piotrpMSFT , I think I am not clear enough to report the issue. Ok let me rephrase it, I am using Visual studio 2015 update 2 with latest dotnet/cli installed. In the solution I have 3 projects:
ProjectA: this is netstandard project version 1.3
ProjectB: this is Xamarin.Android project
ProjectC: this is UWP project

I can reference ProjectA using Add Reference to ProjectC. If I do the same for Pr

[2016-04-22 03:15] kerryjiang opened #2634 "Always get latest Microsoft.NETCore.App after restore"
I updated my dotnet cli yesterday and the version I got is 1.0.0-rc2-002464.

But today, when I wanted to create and build a project, it always failed.

The dependencies node in project.json.

[code]

Is there a way to tell the dotnet cli only get the dependencies in the exactly same version which is declared in project.json instead of latest version?

## Steps to reproduce
1. Run dotnet new
2. Ad

[2016-04-22 03:44] 717009629 commented on #2634
应该是服务器上没有对应版本，就取了一个比他略大的版本，试试把1.0.0-rc2-3002464 改得小一点 ，比如1.0.0-rc2-3002400，这样应该就能编译了

[2016-04-22 03:56] kerryjiang commented on #2634
My local dotnet cli version is 1.0.0-rc2-302464, but cli restore always get the latest version of Microsoft.NETCore.App (1.0.0-rc2-3002468).

The compiling is ok but with only one warning I mentioned.

I found the workaround:

1) find the file "*.runtimeconfig.json" in bin directory;
2) update the version number to your local cli version;
[code]
But I cannot update it every time after build.

Is t

[2016-04-22 04:01] 717009629 commented on #2634
我之前试了试 ，如果改成2400 他就会下于等于 2400的， 如果改成2450就会下大于等于2450的。
 这个版本小于你安装的netcore版本 ，编译和运行都没问题 ，大于就不行了

[2016-04-22 04:09] ibrmohammed commented on #2543
created a Helloworld app.Dotnet restore fails to restore packages

My nuget.config

    <add key="AspNetCI" value="https://www.myget.org/F/aspnetcirelease/api/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />

project.json

{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.NETCore.App": {

[2016-04-22 04:11] GuardRex commented on #2543
Unfreeze the version of that package ...
[code]

[2016-04-22 04:24] kerryjiang commented on #2634
Good point.

Probably I need update my CLI to a version which has released package in myget/nuget with matched version.

[2016-04-22 04:38] ibrmohammed commented on #2543
getting this error

![image](https://cloud.githubusercontent.com/assets/5870046/14731794/1de07d86-0872-11e6-8bbb-9fff9766c892.png)

[2016-04-22 04:40] GuardRex commented on #2543
Looks like an Internet connection problem. Your NuGet feeds are correct.

[2016-04-22 04:43] ibrmohammed commented on #2543
Ok. So the dotnet restore depends on internet speed.Because i am constantly getting timeout errors.

[2016-04-22 04:44] GuardRex commented on #2543
Possibly. That hasn't been a reported problem generally ... actually, this is the first time I've seen it be a consistent problem. Are you on a very slow connection there?

[2016-04-22 04:46] davidfowl opened #2635 "Remove IsPackageBased helper method"
Once this goes in and we get it https://github.com/NuGet/NuGet.Client/pull/529

/cc @emgarten

[2016-04-22 04:51] ibrmohammed commented on #2543
yes. looks like that.

[2016-04-22 04:52] GuardRex commented on #2543
hummmmm .... I'm having a problem restoring an app here, too. Let me check online and see what's what.

[2016-04-22 04:54] ibrmohammed commented on #2543
My internet speed test shows download speed of 1mbps. That should be fine!!

[2016-04-22 04:56] GuardRex commented on #2543
https://github.com/dotnet/cli/issues/2552 ... check the spelling of your TFM in `project.json`

[2016-04-22 05:00] danroth27 commented on #1540
[DocFx](https://github.com/dotnet/docfx) is taking a dependency on ProjectModel.Workspace and having net451 support would allow them to run on Mono for their initial xplat story. Long term they will move to .NET Core, but they are blocked on a bunch of 3rd party dependencies.

[2016-04-22 05:13] davidfowl commented on #2552
Yes

[2016-04-22 05:13] #2552 closed

[2016-04-22 05:28] moozzyk commented on #2592
Fixed in 1aac8fb

[2016-04-22 05:28] #2592 closed

[2016-04-22 06:33] 717009629 commented on #2634
去掉"type": "platform" ，加上‘runtimes’，就没有framework的限制了
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true,
    "debugType": "portable"
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0-rc2-3002464"

    }
  },
  "frameworks": {
    "netcoreapp1.0": {
      "imports": "dnxcore50"
    }
  },
  "runtimes":{
    "win10-x64":{},
  "ubuntu14.04-x64"

[2016-04-22 06:46] phenixdotnet commented on #2599
Sure, Thanks for the quick response

[2016-04-22 07:29] ibrmohammed opened #2637 "dotnet publish command throwing error on publishing net451 framework based application"
dotnet publish --configuration Release --runtime win81-x64

![image](https://cloud.githubusercontent.com/assets/5870046/14734666/9f963eee-0889-11e6-9bfc-2ac6420b42bd.png)

Project.json
"frameworks": {
    "net451": { }
  }
## Environment data

`dotnet --info

![image](https://cloud.githubusercontent.com/assets/5870046/14734714/eff0c968-0889-11e6-9359-af840dce9f1e.png)

[2016-04-22 08:01] gitchomik commented on #2622
@eerhardt : what about native compilation ? dotnet build doesn't support it

[2016-04-22 08:10] davidfowl commented on #2637
@ibrmohammed 2 questions:
1. Is that your full project.json?
2. Can you try the latest version?

[2016-04-22 08:43] per-samuelsson commented on #1812
@jaredpar

Thanks. Those were new to me, and very valuable. Any kind of resources you have on this would be very welcome, as it's quite different from the thing we've implemented on top of `DNX/ICompileModule`, and we kind of need to reconsider our whole design from scratch.

[2016-04-22 08:53] ibrmohammed commented on #2637
My Project.json

{
  "userSecretsId": "aspnet5-Idp-149e9283-fb72-416b-bf12-4bc1df27d486",
  "version": "1.0.0-*",
  "description": "Aps.Idp.Web Project",
  "authors": [ "IPPCS" ],
  "commands": {
    "web": "Aps.Idp.Web",
    "ef": "EntityFrameworkCore.Commands"
  },
  "content": [
    "wwwroot"
  ],
  "compilationOptions": {
    "emitEntryPoint": true,
    "preserveCompilationContext": true
  },

[2016-04-22 09:23] tugberkugurlu commented on #1404
could this be up for grabs?

[2016-04-22 09:26] tugberkugurlu commented on #2037
@GuardRex nice, thx! running `dotnet restore --no-cache` [made it work](https://twitter.com/tourismgeek/status/723440947678208000).

Where is the package cache is stored? or is there a command to nuke the package cache?

[2016-04-22 11:05] nil4 commented on #2037
@tugberkugurlu you can use the [nuget locals](https://docs.nuget.org/consume/command-line-reference#locals-command) commands (I'm using nuget.exe 3.3):
- list all package cache locations: `nuget.exe locals all -list`
- clear all package caches: `nuget.exe locals all -clear`

[2016-04-22 11:20] tugberkugurlu commented on #2037
@nil4 thanks. It confusing to have nuget.exe and dotnet.exe at the same time.

[2016-04-22 14:07] eerhardt commented on #2622
native compilation isn't an officially supported scenario yet. We plan on adding full support for it after RC2.

@schellap

[2016-04-22 14:54] GuardRex commented on #2037
@tugberkugurlu ^^ Great tip from @nil4 ... I've been doing it the stupid :monkey: way: Dump them in  `c:\Users\<user>\AppData\.nuget\packages`. Now that @nil4 set me straight on that, I can stop the iNsAnIty.

@tugberkugurlu ^^ **Great idea!**

[2016-04-22 15:11] jeffschwMSFT commented on #2605
@yishaigalatzer here is how I see it.  Project A restores and builds fine and Project B restores and builds fine.  If A depends on B, A stops restoring.  I have not tried @eByte23 workaround, by why would adding a new imports to A make this work, when the dependency that is failing is part of A.  If A worked standalone it should work when it depends on B.

The bug is around discoverability of what

[2016-04-22 15:12] anorborg commented on #2005
I just ran the latest sdk installer and while it appears to complete successfully, `dotnet` command not found. `bash_profile` has no reference to `dotnet`

[2016-04-22 15:21] fubar-coder opened #2639 "Build with globbing should respect project dependencies"
## Steps to reproduce

Project layout:
[code]

Precondition:
Project A depends on Project B

Commands:
[code]

## Expected  behavior

Project build order:
* Project B
* Project A

## Actual behavior

Project build order:
* Project A
* Project B

## Environment data
`dotnet --info` output:

[code]

[2016-04-22 15:44] tugberkugurlu opened #2640 "Could not resolve coreclr path"
My project.json file looks like below:

[code]

when I run `dotnet run` after running `dotnet restore --no-cache`, I am getting the below error:

[code]

I added the runtime and did another restore:

[code]

now I am getting this:

[code]

Not sure about a few things:

 - why do I need to specify the runtime inside the project.json file? I expected to do this through the global.json file.
 - why a

[2016-04-22 15:47] jeffschwMSFT opened #2641 "Framework imports in app have to match dependent libraries"
## Steps to reproduce
gunzip imports.tar.gz
tar -xf imports.tar

The scenario is the following... Project A is an App and has no additional imports declared for NetCoreApp1.0.  Project B is a library and includes "dnxcore50" in order to support its nuget dependencies.

When Project A takes a dependency on Project B, A's imports must also include "dnxcore50" in order to restore/build.  But why?  Is

[2016-04-22 16:08] davidfowl commented on #2641
This is by design because we don't want to let imports flow transitively. The goal was to force people to feel enough pain to get package authors to support the right target frameworks in their packages.

[2016-04-22 16:13] moozzyk commented on #2590
I don't see it happening anymore with 1.0.0-rc2-002476

[2016-04-22 16:14] livarcocc commented on #2628
@vijayrkn Do we understand why it works from the command line but not from VS? I imagine from the command line, we run it from the folder containing the project.json, therefore, that folder becomes the working directory. I am curious because you mentioned that you are setting the working directory to the folder containing the project.json and still it doesn't work. Weird.

Having said that, it sho

[2016-04-22 16:16] jeffschwMSFT commented on #2641
@davidfowl in this case it is the developer not package owner that is feeling the pain. :(

[2016-04-22 16:18] dleeapho commented on #2286
@krwg problem is that the `run` command has its own args so you need to separate the command args from the operands. Using `--` fits convention: http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html

[2016-04-22 16:29] dleeapho opened #2643 "`dotnet run` regressed in supporting multiple operands"
## Steps to reproduce
Create a command-line app that accepts more than one argument (eg. "Hello" -p) try to a pass the arguments as operands the `run` command, ie your command-line app.

## Expected  behavior
Previously, `dotnet run` syntax was:
[code]
dotnet run "Hello" -p
Specify --help for a list of available options and commands.
Missing value for option 'project'
[code]

[2016-04-22 16:31] dleeapho commented on #2286
This recently regressed, #2643

[2016-04-22 16:49] PabloZaiden opened #2644 "Any dotnet command consuming nearly all cpu time when running from "dotnet-preview" docker image in Azure "Docker on Ubuntu Server" VM"
## Steps to reproduce
Create a new "Docker on Ubuntu Server" Azure VM with all default values.
Login to that VM
docker run -ti --name reposteps microsoft/dotnet-preview
(inside the container) dotnet --info

## Expected  behavior
show the info and finish the process

## Actual behavior
the info is shown, but the process never ends and it uses almost 100% CPU time

## Environment data
`dotnet --info

[2016-04-22 16:49] moozzyk commented on #2624
Currently all the tools that need to read project.json file have a dependency on `"Microsoft.DotNet.ProjectModel": "1.0.0-*"`. As a result all the projects that use these tools need the imports:
[code]
It is not only ugly - people who don't create projects from templates have hard time creating a project.json file that works. Everything seems to be fine until they try to run the tool and they get:

[2016-04-22 16:51] vijayrkn commented on #2628
The reason the tests are failing in VS because in the tests, it is assumed that the dll is present in the /bin folder and not /artifacts/bin folder (VS always writes output to the artifacts folder). To fix the test, they need to fix the path here - https://github.com/aspnet/Mvc/blob/1f93977729f9998c3971567268e025ef4ae76ed6/test/Microsoft.AspNetCore.Mvc.FunctionalTests/MvcTestFixture.cs

@pranavkm

[2016-04-22 16:56] GuardRex commented on #2640
If your goal was to produce a shared framework application, you need the packages in `Microsoft.NETCore.App` with a `"type": "platform"` to indicate that that those packages (including the runtime) will be supplied on the platform where the app will be deployed ...
[code]
which includes things like the NET Standard library and the host executagle. The platform where you deploy the app should have

[2016-04-22 17:15] GuardRex commented on #2364
@Cuiqs76 Try this ... that is referenced here: https://github.com/dotnet/cli/issues/1919#issuecomment-209433994

[2016-04-22 17:29] natemcmaster opened #2645 "Cannot invoke project dependency command on a library"
**Update:** the error is only on libraries, not standalone.

~~It looks like https://github.com/dotnet/cli/pull/2617 broke PackagedCommandSpecFactory in tools on standalone apps.~~
## Steps to reproduce

Create a tool that invokes tries to execute a dependency command where projectContext is a netstandard **library**.

[code]

Repro project: https://github.com/natemcmaster/dotnet-sample-tool/tree/

[2016-04-22 17:40] cdmihai opened #2646 "Potential hidden bugs due to file system case sensitivity and test ToLower normalization"
Test assets are normalizer to lower case: https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.TestFramework/Microsoft.DotNet.TestFramework.TestInstance.cs
There might be other parts in the testing framework depending on this normalization too.

This might hide case sensitivity bugs on case sensitive file systems.

[2016-04-22 18:02] natemcmaster commented on #2645
Updated the original issue description. It looks like I had two bugs conflated, so I redacted the description. The first bug was resolved by deleting muxer. The second bug, however, "Could not resolve coreclr path" error persists.

Incidentally, why don't the install scripts delete the muxer for in-place upgrades?

[2016-04-22 18:15] javiercn opened #2647 "dotnet restore filename.json fails if the file name is not explicitly project.json"
## Steps to reproduce
1) Create a project.json file, name it project.something.json
2) Run dotnet restore project.something.json (other args)

## Expected  behavior
dotnet restore restores the packages in project.something.json into the target folder using the given sources in (other args)

I expect that if I explicitly give the tool the file with the packages, it trusts my input instead of throwi

[2016-04-22 18:49] schellap commented on #2645
I took a first stab and this file doesn't exist:

`C:\Users\namc\dev\dotnet-sample-tool\SampleLibrary\bin\Debug\netstandard1.5\SampleLibrary.runtimeconfig.json`

probably because there is no target framework (`Microsoft.NETCore.App`) in the `project.json`.

[2016-04-22 18:56] natemcmaster commented on #2645
@schellap and I took a look at this offline. This looks like a design issue, not a bug. "Could not find coreclr" is accurate because there is no coreclr referenced from a library project.

This is a common scenario we want to enable for Entity Framework. User's often use EF on a library that is shared between web, desktop, etc.
[code]

How can a user run a dependency tool on this kind of project?

[2016-04-22 18:58] gkhanna79 commented on #1604
@schellap Can you please confirm if this is the same issue as the one you are looking into?

[2016-04-22 19:02] eerhardt opened #2649 "dotnet.exe doesn't pass non-ASCII characters into the managed code correctly on Windows"
When passing the command line args through to the managed code, the native host code isn't converting the strings correctly.

## Steps to reproduce

[code]

`dotnet.exe run Tést`

## Expected  behavior

The Output.txt file should contain

`Tést`

## Actual behavior

The Output.txt file contains

`TÃƒÂ©st`

## Environment data
`dotnet --info` output:

[code]

@schellap @gkhanna79 @piotrpMSFT

[2016-04-22 19:05] Priya91 opened #2650 "New dotnet cli update is not publishing all the deps for net45"
## Steps to reproduce
[code]
1. Save the file as project.json
2. ```dotnet.exe restore --source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json```
3. ```dotnet.exe publish -f dnxcore50 -r win7-x86 -o dnxcore50```
4. ```dotnet.exe publish -f net45 -r win7-x86 -o net45```

## Expected  behavior
Publish for dnxcore50, drops the winapi sets, but no dependencies published for net45, only myapp

[2016-04-22 19:10] natemcmaster commented on #2645
User's can workaround this by invoking the tool a different project, such as a "netcoreapp1.0" web project that references the library. This is unfortunately misleading because means "tools" can still install in a library.

Example: to add migrations to "Contoso.DataAccess", you need to invoke dotnet-ef on "Contoso.Web" which references "Contoso.DataAccess".

I spoke offline with @rowanmiller and

[2016-04-22 19:32] eerhardt commented on #2643
This caused by removing System.CommandLine and using the DNX command line parser instead.  #2594.  I'll get a fix for this.

Also - we need a test.  :)

[2016-04-22 19:34] mikeharder commented on #2590
Still repros on Windows Server 2012 R2 with 1.0.0-rc2-002476.

[2016-04-22 20:53] BruceForstall opened #2652 "dotnet restore usage issues"
## Steps to reproduce

dotnet restore --help
## Expected  behavior
## Actual behavior
1. The usage line says:

Usage: nuget3 restore [arguments] [options]

(a) it should say "dotnet", not "nuget3".
(b) The "--verbosity" line should state which the default verbosity level is. It should also state that the levels are in order of increasing information (if that is true).
(c) Consistency: some help li

[2016-04-22 21:08] piotrpMSFT opened #2655 "Generate and publish artifacts for pushing CLI to Windows hosted environments"
Pushing to hosted environments involves two steps:
 - [ ] Install the Host MSI to the hosted environment
 - [ ] Unzip a copy of the Shared Framework + CLI next to the MSI

We already produce the MSI, simply need to push along with the rest of our artifacts. We also need to create and push a zip file which contains the Shared Framework and CLI but not the host.

[2016-04-22 21:09] cdmihai commented on #2616
OK. We can use OS level locks to coordinate between processes. Here's one solution:

- locking mechanism: whatever each OS provides. Hopefully file handle's FileShare.None works as a mutex crossplat. If not, we'll have OS specific locking code
- locking granularity: per config / tfm combination (each output path gets a lock)
- locking rule:
1) build wants to build a project;
2) build waits to acqu

[2016-04-22 21:20] piotrpMSFT commented on #2624
That sounds good. I'm putting this in backlog. Once there is a version that we need to move to, let's move the bug to RC2.

I'm assigning to @rustd to track down the right version of Newtonsoft.Json and push this to RC2 once it's actionable.

[2016-04-22 21:29] john-hidey commented on #2622
Sorry @eerhardt, I mistakenly closed the issue without noticing you had assigned it to @blackdwarf

[2016-04-22 21:38] BruceForstall opened #2656 "dotnet build usage issues"
## Steps to reproduce

dotnet build --help
## Expected  behavior
## Actual behavior

There are several issues with the help text:
1. The title is ".NET Builder". That seems unnecessarily concise. How about ".NET Command Line Build Tool".
2. The "Arguments" says:

[code]

There is poor grammar, no line breaking, and a typo ("patter" => "pattern"). "globbing patter" is jargon that should probably re

[2016-04-22 21:43] BruceForstall opened #2657 "dotnet publish usage issues"
## Steps to reproduce

dotnet publish --help
## Expected  behavior
## Actual behavior

See also #2656, which repeats many similar issues.

"dotnet publish" and "dotnet build" share some arguments, but in the usage message, they are not listed in the same order, they are not given the same arguments (e.g., `-o|--output <OUTPUT_PATH>` versus "-o|--output <OUTPUT_DIR>`), and the help text for identic

[2016-04-22 22:40] piotrpMSFT commented on #2645
@weshaggard @ericstj @davidfowl @yishaigalatzer  for their thoughts on this one. Maybe we can have the library target both netstandard1.x and netcoreapp1.0. The tool would run against the netcoreapp target while we would only ship the netstandard target. Fairly easy to do via command line, but do we want to make this a cleaner experience? What are other options?

[2016-04-22 22:42] piotrpMSFT commented on #2647
This is by-design in CLI. Since NuGet provides the restore capability, you could propose the idea of restoring something other than project.json in https://github.com/nuget/home.

[2016-04-22 22:42] #2647 closed

[2016-04-22 23:05] natemcmaster commented on #2645
Could work, but I've found this buggy. For example, this project.json has the same error as the original issue above. No runtimeconfig.json is produced for netcoreapp1.0.

[code]

[2016-04-22 23:11] ericstj commented on #2645
Which is the run-able entity here, the TOOL?  In that case should the restore be happening for the TOOL's TFM and merging the dependencies of the project as if it were a dependency of the tool?

[2016-04-22 23:23] dantraMSFT opened #2660 "dotnet build reporting "PE image does not have metadata" with no details."
## Steps to reproduce
I'm hitting this in a private repro building an assembly building against the full CLR.

## Expected  behavior
Builds clean or reports the errant image not containing metadatea

## Actual behavior
Compilation Succeeds with 0 errors and warnings. Elapsed time is reported. The text "PE image does not have metadata." is reported and dotnet build exits with 1.
The DLL and PDB fil

[2016-04-23 00:12] dleeapho commented on #2644
@PabloZaiden , can you provide the `docker --version` and the `lsb-release -a` from your Ubuntu VM? Thx.

[2016-04-23 02:00] #1966 closed

[2016-04-23 02:51] BruceForstall opened #2664 "Terrible error message: "Invalid .deps file""
## Steps to reproduce

Hard to know what details to give. Probably, on Windows 8.1:

1. git clone https://github.com/russellhadley/mcgdiff
2. cd mcgdiff
3. build.cmd -p -f
4. bin\mcgdiff\mcgdiff.exe
5. get: "Invalid .deps file"

unless Russell fixes the project.json, or something else, and makes this repo not reproduce the problem.

This is an app built/published with "dotnet publish". I presume t

[2016-04-23 19:17] xatabhk opened #2665 "Cannot set self-hosting url using command line argument and hosting.json"
"siteapp.exe -serverurl http://xyz:5000" does not work. Neither does ""server.urls": "http://xyz:5000/"" in hosting.json.

Only "UseUrls("http://xyz:5000")" in code works.

[2016-04-23 19:53] jchannon opened #2666 "What C# support is there going to be when adding custom commands to "dotnet""
## Steps to reproduce
Create a executable script as highlighted here https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/intro-to-cli.md but with csharp code `Console.WriteLine("Hello");`

## Expected  behavior
When executing `dotnet hello` I expect to see output in the terminal

## Actual behavior
Command is executed but no output

## Environment data
`dotnet --info` output:

[code]

[2016-04-23 23:01] davidfowl commented on #2665
File these issues on asp.net. It has nothing to do with dotnet cli

[2016-04-23 23:01] #2665 closed

[2016-04-24 00:54] livarcocc commented on #2628
Closed per comment.

[2016-04-24 00:54] #2628 closed

[2016-04-24 03:07] piotrpMSFT commented on #2660
@jaredpar @cdmihai does the error message "PE image does not have metadata" mean something to either of you? Is CSC producing this?

@dantraMSFT can you provide a minimal repro?

[2016-04-24 03:11] piotrpMSFT commented on #2664
@schellap can you take a look at this? Can we make the message a bit more verbose? Perhaps: `Failed to launch <path to app>: <path to deps> is invalid` ?

[2016-04-24 03:12] piotrpMSFT commented on #2666
@jchannon can you share your repro?

[2016-04-24 04:29] schellap commented on #2664
@BruceForstall hi!

I tried the steps but I couldn't repro. I got this:

[code]

1. Could you please zip up your repo (as is on your machine) and the dotnet root folder (with the FX) and share these zips?
2. Rename dotnet.exe relative `shared\Microsoft.NETCore.App\1.0.0-rc2-23931` folder to `foo`
3. Next, can you target "Microsoft.NETCore.App": "1.0.0-rc2-002476" in your project.json and see if th

[2016-04-24 05:09] russellhadley commented on #2664
I've been developing these tools (mcgdiff + etc.) and I've updated to a new CLI and I'm getting the same error.  I've been looking around trying to find the .deps file to noodle out what's going wrong but no luck as of yet.  Should I update the version numbers of the dependencies?  Is there a workaround?

[2016-04-24 05:42] schellap commented on #2664
@russellhadley can you target the latest netcore.app?

Here:
https://github.com/russellhadley/mcgutils/blob/master/src/mcgdiff/project.json#L8

Also, I would like your app folder zipped up and attached to this issue to investigate.

[2016-04-24 05:43] schellap commented on #2664
The Microsoft.NETCore.App version is: `1.0.0-rc2-3002476` with `30`

[2016-04-24 05:50] schellap commented on #2664
If you are trying this right now, the one on the feed is: `1.0.0-rc2-3002471`.

The `1.0.0-rc2-3002476` hasn't made its way to the feed yet.

[2016-04-24 06:25] russellhadley commented on #2664
Updating worked for me.  I seem to be unblocked.

[2016-04-24 07:46] xatabhk opened #2668 "Cannot set CPU type (X64 or X86) when publishing an app in Windows"
I guess we cannot install X64 and X86 tools on the same machine. So this seems a bug.

[2016-04-24 08:21] jchannon commented on #2666
OK got a bit further, using `chmod +x` lowercase seemed to change it to executable however when executed the output is now:

[code]

[2016-04-24 08:29] piotrpMSFT commented on #2668
What is blocking this installation for you, @xatabhk ?

[2016-04-24 08:51] piotrpMSFT commented on #2666
This example is mixing models a bit. If you want for `dotnet-helloworld` to be a script then it is just that... a script. `dotnet` will simply shell-execute it. Since bash doesn't understand C# the example is failing. To use a script, simply remove the C#-ism and replace it with a bash equivalent e.g. `echo Hello World`.

[2016-04-24 08:51] #2666 closed

[2016-04-24 08:55] jchannon commented on #2666
Understood but my initial question was is there going to be c# support?

For example have a tool "dotnet fixusings" which using roslyn loops over
source files and removes and sorts using statements.

On Sunday, 24 April 2016, Piotr Puszkiewicz <notifications@github.com>
wrote:

[2016-04-24 09:10] xatabhk commented on #2668
@piotrpMSFT I have not tried to install both on the same machine. As I was wondering which dotnet.exe to be started by system if both installed.

[2016-04-24 16:57] BruceForstall commented on #2664
@piotrpMSFT your suggested error message, `Failed to launch <path to app>: <path to deps> is invalid`, is better, but insufficient. The next, and very important, question, is _why_ is it invalid?

[2016-04-24 16:58] BruceForstall commented on #2664
@schellap are you trying to repro with the same version of dotnet as me?

[2016-04-24 17:04] BruceForstall commented on #2664
@schellap I sent you zip files privately. Let me know if you need more.

[2016-04-24 18:04] schellap commented on #2664
@BruceForstall, the parser prints the error messages when it encounters errors and then a check for validity of the parsing result produces this message. This looks like some garbage value printing the secon d message without the first message, so it is confusing. The garbage is due to an interface break that exists between 1.0.0-rc2-23931 and the later hostfxr.dll. From CLI and netcore.app 2349,

[2016-04-24 20:35] tugberkugurlu commented on #2640
@GuardRex my aim is to produce a platform independent executable. I wanted to have `Microsoft.NETCore.App` platform reference to but it complaint with the below error:

[code]

I am assuming this is because my library platform reference to `NETStandard.Library`:

[code]

Any suggestions in this case? What should be using in my library project as a platform reference or none?

Well, I don't want to

[2016-04-24 20:59] tugberkugurlu commented on #2640
I am about to run out of hairs to pull :smile: this is really way too complicated to get going.

I handpicked the references and my library's project.json file looks like below:

[code]

However, I am now getting this after running `dotnet restore --no-cache` and `dotnet run`:

[code]

`dotnet restore --no-cache` output:

[code]

[2016-04-24 21:01] GuardRex commented on #2640
When you say "library project," do you mean that you plan to `dotnet pack` this into a NuGet package that you can consume in other projects?

If that's the case, then you can just use `"NETStandard.Library": "1.5.0-*"` or `Microsoft.NETCore.App": "1.0.0-*"` (if using the cli-samples feeds that have CI release as the main feed) or `Microsoft.NETCore.App": "1.0.0-rc2-*"` (if using a different feed t

[2016-04-24 21:04] tugberkugurlu commented on #2640
Library project means it doesn't have an entry point emitted into the produced assembly. Just like this: https://github.com/aspnet/HttpAbstractions/tree/391db10384b72be955b9987a19ec0cf4b77d22f8/src/Microsoft.AspNetCore.Http.Abstractions

[2016-04-24 21:04] davidfowl commented on #2640
@tugberkugurlu Are you trying to run your library? I'm lost as to what you're trying to do.

[2016-04-24 21:05] GuardRex commented on #2640
Yeah ... I'm a little confused what you're trying to build, too.

[2016-04-24 21:07] tugberkugurlu commented on #2640
@davidfowl not library, I also have another project which consumes my library project and has `"emitEntryPoint": true` compilation option and a static Main method (good old console app). It's project.json file looks like below:

[code]

and the rest is as describe in https://github.com/dotnet/cli/issues/2640#issuecomment-214036392. This is the one that I try to run `dotnet run` on and get the erro

[2016-04-24 21:08] davidfowl commented on #2640
@tugberkugurlu What's your CLI version?

[2016-04-24 21:10] GuardRex commented on #2640
should be `netcoreapp1.0`

[2016-04-24 21:10] tugberkugurlu commented on #2640
@davidfowl

[code]

[2016-04-24 21:16] tugberkugurlu commented on #2640
Oh yeah but that didn't help, too (rerestored everything and `dotnet run`):

[code]

[2016-04-24 21:18] davidfowl commented on #2640
@tugberkugurlu Upgrade it, your CLI is too old for the shared runtime you're trying to use.

I believe the versioning scheme looks like this:

CLI version = {version}
Shared Framework version = 300{version}

Your shared framework version can't be higher than your CLI version (because the CLI comes with a version of the shared framework, but yours is too low.

[2016-04-24 21:18] fpawel opened #2669 ""dotnet restore" error"
## Steps to reproduce
[code]
## Actual behavior
[code]
## Environment data
`dotnet --version` output:
[code]

[2016-04-24 21:20] tugberkugurlu commented on #2640
@davidfowl ah, OK. upgrading now, thanks!

It doesn't mention any incompatibility on the error message. Can this be picked up at runtime and if so, can error message be made a bit more clear?

[2016-04-24 21:22] davidfowl commented on #2640
The error messages are pretty horrible overall but @schellap has been tackling them one by one. It would be great if the error told you, what the available versions were as well.

https://github.com/dotnet/cli/pull/2648/files

[2016-04-24 21:37] tugberkugurlu commented on #2640
@davidfowl instead of upgrading, I locked the version of the platform reference:

[code]

it worked! thx!

[2016-04-24 21:37] #2640 closed

[2016-04-24 21:42] fpawel commented on #2669
Sorry for the trouble, the problem was solved reinstalling `dotnet`, which was two
[code]

[2016-04-24 21:42] #2669 closed

[2016-04-24 23:16] davidfowl commented on #2664
@schellap so the claim is this error message will never happen again?

[2016-04-25 00:19] NinoFloris opened #2671 "dotnet cli and vscode task arguments funny business"
## Steps to reproduce
Create more advanced build task in vscode:

[code]

## Expected  behavior
It works.

## Actual behavior
[code]

This also happens with ``-c Debug``.
What doesn't work at all also was concatenating all the args into one big string ``"build src/MyProject/project.json --configuration Debug"``.
And the error coming with it:
[code]
So vscode does insert all the args some way other

[2016-04-25 03:02] 717009629 commented on #2671
"--configuration" , " Debug"  ,  it can work

[2016-04-25 04:51] #2506 closed

[2016-04-25 06:15] piotrpMSFT commented on #2671
This should fix the issue. Please reopen if that's not the case!

[2016-04-25 06:15] #2671 closed

[2016-04-25 06:21] piotrpMSFT commented on #2666
Yes absolutely. I think the script example may be a bit misleading. If your tool is a console application whose name starts with 'dotnet-' then it will work like the script. You can even 'dotnet-pack' that application and reference it from the 'tools'section of project.json to use it from other projects. It will get downloaded and installed by 'dotnet restore'!

[2016-04-25 06:26] piotrpMSFT commented on #2650
@priya91 why is the Deps file breaking builds?

[2016-04-25 06:42] piotrpMSFT commented on #2229
The dependency comes from http s://github.com/dotnet/CoreFx. If you have suggestions on how to eliminate it, that's the right place!

[2016-04-25 06:42] #2229 closed

[2016-04-25 06:57] davidfowl commented on #2650
deps files aren't the required for net45, why do you need it?

[2016-04-25 08:35] davidfowl opened #2672 "Trim application deps file for dependencies already in shared framework"
Today we trim the output for things that already exist in the shared framework. We could do the same thing with the deps file and it would reduce the size and complexity of it for most applications.

/cc @anurse @schellap @pakrym

[2016-04-25 09:05] schellap commented on #2672
We are doing this already for assets. Are you suggesting for libraries and dependencies? Even then this suggestion should speed up parsing times.

[2016-04-25 09:14] #2634 closed

[2016-04-25 10:53] Gormy opened #2674 "dotnet restore after 100000ms return for all request error message 'has timed out after 100000ms'"
## Steps to reproduce
Windows Server 2012 x64
I have solution with 4 projects. When I try run 'dotnet restore' from TeamCity runner, don`t load all packages,

## Expected  behavior
Load all packages from nuget

## Actual behavior
Load packages only in first 100 seconds.

## Environment data
`dotnet restore` output:
before 10000ms:
...
[repo-initialize] info :   OK https://api.nuget.org/v3-flatcont

[2016-04-25 11:09] PabloZaiden commented on #2644
[code]

[2016-04-25 12:21] tugberkugurlu commented on #2583
@MichaelSimons I am getting the following error under Travis CI:

[code]

See this for entire log: https://travis-ci.org/tugberkugurlu/AspNetCore.Identity.MongoDB/builds/125548660#L1219

This is what I am doing: https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/blob/4a1a251eb91984b09f23fca0a0e7048bbd23e2ea/.travis.yml#L15-L18

Any thoughts?

[2016-04-25 13:04] atanasa opened #2675 "Restore fails for the default project created by dotnet new"
## Steps to reproduce

dotnet new
dotnet restore

## Expected  behavior

Restore without errors.

## Actual behavior

error: Unable to resolve 'Microsoft.NETCore.App (>= 1.0.0-rc2-3002485)' for **'.NETCoreApp,Version=v1.0'.**

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-rc2-002485)

Product Information:
 Version:     1.0.0-rc2-002485
 Commit Sha:  d3c65aee87

Runtim

[2016-04-25 13:32] fubar-coder commented on #2170
The first three points are bugs and will be (most likely) fixed. The last one will be fixed when the consumer of your package uses the lastest NuGet client. Otherwise, you're always able to specify multiple frameworks for your project with their own set of dependencies.

[2016-04-25 13:46] fubar-coder opened #2676 "Make dotnet pack usage more CI / build system friendly"
## Steps to reproduce

Assume, that have a project.json with a version placeholder (e.g. 1.0.0). It would be nice, if there would be a way for a CI system (like TeamCity) to update this version number without requiring the usage of regular expressions.
## Expected  behavior

One or more of the following:
- Support for `$version$` as `version` value.
- Support for `--version` parameter

The `$versi

[2016-04-25 14:23] fubar-coder opened #2677 "dotnet pack uses project folder name instead of project name as dependency"
## Steps to reproduce

Project layout:
[code]

The project name for LibA is `Test.LibA` and for LibB, it's `Test.LibB`.
LibB has a dependency to LibA by its folder name `LibA`, because `Test.LibA` searches the NuGet sources for a package with this ID (which might cause trouble).

## Expected  behavior

After a `dotnet pack`, the dependency of `Test.LibB` must be `Test.LibA`.

## Actual behavior

T

[2016-04-25 14:24] MichaelSimons commented on #2122
Closing issue as there are no CLI changes necessary.  A [fix](https://github.com/dotnet/coreclr/pull/4541) was made in CoreClr to address the issue that was requiring execmod.  Until that change is available the workaround previously mentioned should be used.

[2016-04-25 14:24] #2122 closed

[2016-04-25 14:46] fubar-coder commented on #2639
This problem is related to issue #2677. My example is incomplete. The package name must be different from the package folder name, e.g. `test.project_a` for the project name, and `project_a` for the project folder name.

[2016-04-25 14:59] NinoFloris commented on #2583
@tugberkugurlu I just ran into this today to get a docker container running with RC2, you have to install the debs manually like so

[code]

[2016-04-25 15:16] atanasa commented on #2675
Seems like `dotnet new` does not create a NuGet.Config file anymore and this is causing the error. Is this intentional?

[2016-04-25 15:30] MichaelSimons commented on #2583
@tugberkugurlu When I looked at the Travis CI log, it looks like Ubuntu 12.04 is being used.  Is this correct?  Ubuntu 12.04 is not officially supported.  I would suggest using the officially supported version 14.04 if possible.

[2016-04-25 15:52] GuardRex commented on #2675
Dup https://github.com/dotnet/cli/issues/2545

[2016-04-25 15:59] jeffschwMSFT opened #2678 "Files in Use dialog showed a process that did not exist "A""
## Steps to reproduce
Install .NET CLI tools
With, apparently, a process holding a file in use (I really am not sure which).

## Expected  behavior
The Files In Use dialog show the full process name

## Actual behavior
The Files In Use dialog shows only the first letter (Unicode vs Ascii issue?)

## Environment data
`dotnet --info` output:

![dialog](https://cloud.githubusercontent.com/assets/9561

[2016-04-25 16:44] kouvel commented on #889
MinThreads and MaxThreads are now exposed in the app config, see https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/runtime-configuration-file.md and https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/clr-configuration-knobs.md.

[2016-04-25 16:44] #889 closed

[2016-04-25 16:44] dantraMSFT commented on #2660
@piotrpMSFT - I haven't been able to make it too minimal but I did managed to isolate it down to the single project and as set of packages.  How should I get it to you?

[2016-04-25 17:48] sayedihashimi commented on #2229
@piotrpMSFT I just ran into this with the latest. To get around it I installed openssl via homebrew as mentioned above. Since we closed this, is this a known requirement to work with .NET on a mac or is there another way to enable this besides installing openssl?

[2016-04-25 17:53] cdmihai commented on #2660
@piotrpMSFT never seen it. Seems like a resource that gets written in the obj? https://github.com/search?q=PEImageDoesNotHaveMetadata&type=Code&utf8=%E2%9C%93

@dantraMSFT a zip with command line repro steps would be nice.

[2016-04-25 18:06] sayedihashimi commented on #2229
I see that openssl is listed at http://dotnet.github.io/getting-started/ as a prereq for the OSX case. Ignore my previous question.

[2016-04-25 18:13] tugberkugurlu commented on #2583
@MichaelSimons :+1: that was the issue, all seems good now: https://travis-ci.org/tugberkugurlu/AspNetCore.Identity.MongoDB/builds/125608880

[2016-04-25 18:42] cdmihai commented on #2616
@vijayrkn I'd like to have this for RTM, not RC2. Is that alright?

[2016-04-25 18:43] cdmihai commented on #2616
Beyond test and build, should other commands behave "gracefully" when called in parallel from other processes? Publish, pack ..?

[2016-04-25 19:01] anurse commented on #2520
The bulk of this is now done. We're going to keep investigating build perf and iterating as needed.

[2016-04-25 19:04] piotrpMSFT commented on #2536
@emgarten any updates here?

[2016-04-25 19:07] piotrpMSFT commented on #2660
@dantraMSFT can you share the repro with @cdmihai?

[2016-04-25 19:13] piotrpMSFT commented on #2645
I chatted with @ericstj today. He'll put some thought into the model and may have feedback/suggestions. For the time being, however, we need to understand why the project.json above is not producing a deps file/runnable output.

[2016-04-25 19:19] Priya91 commented on #2650
The bug is not about the deps files, it is that for net45 not all the dependent dlls are published along with the app.exe. The only difference i noted between dnxcore50 and net45 is the .deps.json. I have no idea what this file is for or the design behind it.

[2016-04-25 19:28] piotrpMSFT commented on #2650
I created a repro using @Priya91's project.json from above. Once restored, the project.lock.json file has the following target for win7-x64:
[code]

Looks like `dotnet build` and `dotnet publish` are ignoring `native` content for `net451` apps.

[2016-04-25 19:29] emgarten commented on #2536
NuGet has been updated: https://github.com/dotnet/cli/commit/7509e4d1750d8fb471c276874c18f8c8a1715765

It looks like the tests weren't re-enabled as part of this, but you should be able to turn them back on now.

[2016-04-25 19:43] jaredpar commented on #2660
This error is actually coming from System.Reflection.MetadataReader:

@tmat has more context but I'm guessing the compiler is being asked to reference a file that isn't actually a valid PE.

[2016-04-25 20:06] vijayrkn commented on #2616
yes RTM should be fine because we have decided to call dotnet test with --no-build flag (from VS) for RC2. We need to fix this for dotnet publish too.

[2016-04-25 20:45] brthor commented on #2650
I'm seeing the same behavior. At a first look at publish, there doesn't look to be anything explicit causing this.

@anurse @pakrym @davidfowl Can you comment if having the native assets copied to publish output is the correct behavior?

[2016-04-25 20:51] natemcmaster opened #2682 "Failed to initialize CoreCLR when depsfile path is relative"
## Steps to reproduce

`dotnet exec --depsfile $relativePath ....`

I hit this execution path in Visual Studio where build-base-path is set to a relative folder `..\..\artifacts` and trying to execute the command spec created with [`ProjectDependenciesCommandFactory`](https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/ProjectDependenciesCommandFactory.cs#L18-L23).

Specify

[2016-04-25 20:53] pakrym commented on #2650
There is a bug with target selection for net451. I'll fix it.

[2016-04-25 21:01] anurse commented on #2650
FYI, this only occurs when working with "RID-split" packages like `Microsoft.NETCore.Windows.ApiSets` (a package which uses `runtime.json` to pull in additional dependencies). It happens because .NET Framework apps are always "Portable" (since there's no such thing as a standalone .NET Framework), so we ignore the RID-specific targets, just like we do for .NET Core apps that use `type: platform`.

[2016-04-25 21:06] anurse commented on #1540
We've added a net451 target to ProjectModel.Workspace. As far as I know that should resolve this issue. Let me know if there's anything else that needs to be updated!

[2016-04-25 21:06] #1540 closed

[2016-04-25 21:06] #2520 closed

[2016-04-25 21:35] vancem commented on #2595
Note that the first line of attack here is to cut the amount of telemetry data being logged.   In particular we certainly should be logging every build.

Also 1 second is a VERY long time to upload telemetry in an average case (I would have expected 1/10th that).

It may be reasonable to have the uploader be a separate process, but I would not introduce this complexity proactively.   First create

[2016-04-25 21:55] brthor commented on #2615
I am unable to repro this @vijayrkn

This is the command I'm executing against a test project:
`dotnet -v test .\project.json --no-build --build-base-path C:\hey\ --framework netcoreapp1.0 --configuration Debug`

One note is the correct option is `--build-base-path` was that just a typo above?

Are you able to provide a self-contained repro of this bug? Sharing a project.json/Program.cs or a repo

[2016-04-25 22:17] brthor commented on #2615
okay, so when the assemblies are **not** present in `--build-base-path` I run into this error

Deps file [C:\hey\\test\EndToEnd\bin\Debug\netcoreapp1.0\EndToEnd.deps.json] specified but doesn't exist

This error is expected since the files aren't present but the error experience is not great. This seems like a fit n' finish issue.

[2016-04-25 22:25] vijayrkn commented on #2615
It was a typo. I was using --base-build-path instead of --build-base-path. I can't repro this issue with the correct argument. Will close this issue.

[2016-04-25 22:25] #2615 closed

[2016-04-25 22:31] krwq opened #2683 "Nuget cache is being corrupted after running build"
## Steps to reproduce
build.bat/build.sh

## Expected  behavior
Build should not be placing partial host nuget packages in the real cache as they are causing cross build/publish to not work after running build

## Actual behavior
It does happen

## Environment data
`dotnet --info` output: irrelevant

[2016-04-25 22:34] brthor commented on #2615
😄

[2016-04-25 22:42] eerhardt commented on #2645
I pulled https://github.com/natemcmaster/dotnet-sample-tool and was able to get `Pass. Called inside the project. :)` printed out by build.ps1 for SampleLibrary.  **The thing I needed to fix is to put `netcoreapp1.0` as the first TFM in the project.json**.  The CLI is using the first TFM in the file to run.

I chatted with @brthor today, and he mentioned a decent idea: If the library isn't already

[2016-04-25 23:40] piotrpMSFT commented on #2677
@fubar-coder the dependency name must match the output nuget package name. Can you share a more complete repro?

[2016-04-25 23:41] piotrpMSFT commented on #2676
@yishaigalatzer @emgarten can you guys comment on this? We want to be sure that `dotnet pack` is consistent with the `nuget` behavior.

[2016-04-25 23:41] #2675 closed

[2016-04-25 23:41] piotrpMSFT commented on #2675
Closed as dup.

[2016-04-25 23:43] piotrpMSFT commented on #2674
This is a NuGet issue. Can you please re-open this bug in https://github.com/nuget/home?

/cc @yishaigalatzer @emgarten

[2016-04-25 23:43] #2674 closed

[2016-04-25 23:45] piotrpMSFT commented on #2641
Since this is by-design, I'm closing the issue.

[2016-04-25 23:45] #2641 closed

[2016-04-25 23:47] piotrpMSFT commented on #2639
There is an incoming feature #2574 that will allow you to specify multiple project.json's for a single build operation. This is a dupe of that feature.

[2016-04-25 23:47] #2639 closed

[2016-04-25 23:50] piotrpMSFT commented on #2637
This project.json looks like is copied from a DNX solution. You'll need to port this to CLI. We'll take a look at the error message for RTM.

[2016-04-25 23:52] piotrpMSFT commented on #792
@ajaybhargavb can you rebase and send ask-mode mail to Shiproom?

[2016-04-25 23:53] piotrpMSFT commented on #1440
This was fixed by #2619

[2016-04-25 23:53] #1440 closed

[2016-04-25 23:58] joelverhagen commented on #2674
Moved to https://github.com/NuGet/Home/issues/2657.

[2016-04-26 00:03] piotrpMSFT commented on #2521
@pakrym:

Is this ready to go?

[2016-04-26 00:04] piotrpMSFT commented on #2505
Fixed by #2586

[2016-04-26 00:04] #2505 closed

[2016-04-26 00:06] piotrpMSFT commented on #2522
This will be fixed by https://github.com/dotnet/cli/pull/2681

[2016-04-26 00:10] piotrpMSFT commented on #2585
@jeffschwMSFT the latest System.Net.Http is here:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Net.Http/4.0.1-rc2-24022

Can you try that one and re-open if it proves problematic? This is likely a better CoreFx issue, if that's the case.

[2016-04-26 00:10] #2585 closed

[2016-04-26 00:12] piotrpMSFT commented on #2616
bumping to RTM per above.

[2016-04-26 00:13] piotrpMSFT commented on #2623
#2546

[2016-04-26 00:13] piotrpMSFT commented on #2623
#2662

[2016-04-26 00:18] piotrpMSFT commented on #2660
@cdmihai @tmat, I trust you guys will figure out whose fix this is :)

[2016-04-26 00:32] brthor commented on #2682
going to begin investigating this,

@natemcmaster is it possible for you to share the full `dotnet exec` command line which is invoked but fails?

[2016-04-26 00:57] natemcmaster commented on #2682
@brthor here is a repro: https://github.com/natemcmaster/dotnet-sample-tool/tree/issue/2682 Run build.ps1 on the project. Here is my output:
[code]

[2016-04-26 01:48] brthor commented on #2682
thanks @natemcmaster !

[2016-04-26 02:33] atrauzzi commented on #1179
16.04 is out...still can't install.

[2016-04-26 02:35] atrauzzi commented on #2598
Is there anywhere for people to keep an eye on progress?

[2016-04-26 02:35] piotrpMSFT commented on #2664
@schellap is saying there are multiple issues involved and that one of them has been fixed.

[2016-04-26 02:43] eerhardt commented on #2645
I've figured out why I needed to put `netcoreapp1.0` as the first TFM in the project.json - it was because of this line in the `dotnet-my-tool` code:

https://github.com/natemcmaster/dotnet-sample-tool/blob/master/dotnet-my-tool/Program.cs#L21

[code]

The tool was only running against the first TFM, which in this case was `netstandard1.5`, which isn't a "runnable" TFM.

I've pushed some changes t

[2016-04-26 03:50] #2649 closed

[2016-04-26 08:55] mikes-gh commented on #2624
https://github.com/JamesNK/Newtonsoft.Json/issues/618

So it looks like this wont make rc2 :disappointed:

[2016-04-26 13:04] NinoFloris commented on #2578
So hooking into this, how would one have both options on at the same time?
E.g. I would like to locally, for devs, have "platform", but at build time I want to have self contained publishes.

Currently I either have to switch it to build when I need to produce a production build or have all the different development machine runtimes in the project.json.

Is there a good story for this?

[2016-04-26 13:51] TiFix commented on #1732
Same issue when activated vmware network adapters. Disabling helps.

[2016-04-26 14:06] markrendle commented on #1179
I suspect (I may be wrong) that there is a push to address the urgent platform-independent issues (i.e. those that exist across all the currently-officially-supported platforms (i.e. Windows, Mac, Ubuntu 14, Debian 8.2 and RH7)) to get the Release Candidate out the door (in line with ASP.NET Core RC2, which has been greatly delayed by re-platforming).

Until the RC is out, adding more distros, or

[2016-04-26 15:04] rh78 opened #2686 "ASP.NET 5 RC vs. planned RC2"
At our company some time ago we started a new project, and we chose ASP.NET 5 RC as our way to go as we liked the idea of a new, slimmed down version of ASP.NET very much. Given that it was a RC version, we did not expect major changes to the implementation so it seemed to be a good bet, given that the release of our solution would be quite some time in the future, and it would be very likely that

[2016-04-26 15:34] GuardRex commented on #2686
It won't completely change, but there are many deltas for RC2. You can get a rundown of the main changes by looking at the [RC2 milestones in Annoucements](https://github.com/aspnet/Announcements/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0-rc2)

Of course! There are hosting changes for an app headed to RC2, and you will use a new module with IIS called the `AspNetCoreModule` ("ANCM"), which is

[2016-04-26 15:51] mcliment opened #2687 "Changing --version-suffix should trigger a new build"
## Steps to reproduce

* Having a `project.json` with `"version": "1.0.0-*"`.
* Run `dotnet build --version-suffix 1`
* Run `dotnet build --version-suffix 2`

## Expected  behavior

To build twice and have a `.dll` with version 1.0.0-2

## Actual behavior

The build is not triggered and the message `Project MyProject (.NETCoreApp,Version=v1.0) was previously compiled. Skipping compilation.` is sho

[2016-04-26 16:13] myoung34 commented on #1179
I think there was a real architectural snafu here by requiring versions to be whitelisted.
The longer this goes unresolved the more frustrated people will become and stop using it.

[2016-04-26 16:29] jasonwilliams200OK commented on #1179
Guys, Ubuntu 15 seems to be working for both CoreFX and CoreCLR:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu15.10_debug/lastBuild/
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/debug_ubuntu15.10/lastBuild/

*[nit] @mmitche, can we have uniform URL slug in core[fx/clr] `ubuntu15.10_debug` vs. `debug_ubuntu15.10` :smile:*

---

CoreFX has even a issue tra

[2016-04-26 16:40] jeffschwMSFT commented on #2641
To be honest, I do not fully understand the rationale.  However, I have found another case that is more mainline that feels just as broken in the same way.

In my case I have a NetCoreApp and a NetStandard.Library.  The NetStandardLibrary has a reference to System.Diagnostics.Process (which is part of NetCoreApp but not NetStandard.Library).  When the app depends on the library I get a restore err

[2016-04-26 16:47] naamunds commented on #2644
@PabloZaiden What kernel version is your host using?  I suspect this may be a duplicate of https://github.com/dotnet/dotnet-docker/issues/26, which is caused by a Linux kernel issue.  According to https://github.com/docker/docker/issues/18180#issuecomment-193708192, you would need kernel version 4.2.0-30.35 or later to avoid this issue.

[2016-04-26 16:52] mmitche commented on #1179
@jasonwilliams200OK Yeah, the job names can be changed pretty easily.  Which do you prefer?

[2016-04-26 16:56] jasonwilliams200OK commented on #1179
@mmitche, thanks. I would say `{Platform}_{BuildConfiguration}` for two reasons:

* platform is more significant (but that's debatable)
* less replacements in CoreCLR's README :smile:

[2016-04-26 17:01] Petermarcu commented on #2641
@jeffschwMSFT , I believe I've seen this before. You really shouldn't get a restore error just because you are referencing a library that is also in a metapackage you reference. Can you file that issue?

[2016-04-26 17:19] brianrob opened #2688 "Build of CLI Repo Fails Looking for hostpolicy.dll from Invalid Location"
## Steps to reproduce
1. Clone the repo.
2. Make some changes and commit them.
3. Wait for more changes to be committed and build in the main repo (to increase the commit count).
4. Build your changes.

## Expected  behavior
Build succeeds.

## Actual behavior
Build fails because it can't find host policy DLL.

[TARGET     <] [ OK ] [00:04:13.045] CompileStage1

[2016-04-26 17:19] brianrob commented on #2688
cc: @Sridhar-MS

[2016-04-26 17:22] sayedihashimi commented on #2616
It seems like a really bad user experience for the test cases to be running old code. I would think that this would be super frustrating for users. They are editing test code to get the test to pass, but the test explorer is using old code so the test never passes until an explicit build.

I discussed with @barrytang @mlorbetske and we are hoping that we can fix this somehow for RC2, or in a micro

[2016-04-26 17:26] anurse commented on #2521
This is done.

[2016-04-26 17:26] #2521 closed

[2016-04-26 17:32] anurse commented on #2635
The change has gone in. Is there a NuGet build we can take for this? /cc @eerhardt @emgarten

[2016-04-26 17:34] brthor commented on #2688
Instance of https://github.com/dotnet/cli/issues/2405?

[2016-04-26 17:36] Sridhar-MS commented on #2688
yes.. It is indeed. Closing it

[2016-04-26 17:36] #2688 closed

[2016-04-26 17:38] brthor commented on #2683
Should do something like this
https://github.com/dotnet/cli/blob/rel/1.0.0/build.sh#L19

but all the time

[2016-04-26 17:39] #2655 closed

[2016-04-26 17:41] karlti opened #2689 "Win10bash: "Could not load host policy library" error when trying to run C# app"
Env: Win10 Build 14328, "Bash on Ubuntu on Windows" subsystem.

## Steps to reproduce
- setup `'dotnet-dev-Ubuntu-x64.1.0.0-beta-002071'`
- create new default dotnet C# app
- build the app

try to run it, either via "dotnet test.dll" or with absolute path

my project.json is:

project.json:
-------------

`{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "depen

[2016-04-26 17:43] brianrob commented on #2405
Has there been any more movement here?  I've been hitting this over the last several days trying to develop a single change.

[2016-04-26 17:46] brthor commented on #2689
How are you installing? 2071 is a fairly old version at this point

[2016-04-26 17:47] GuardRex commented on #2689
@karlti ... and change your framework to `netcoreapp1.0`.

[2016-04-26 18:22] karlti commented on #2689
@brthor first I had followed the steps from "https://dotnet.github.io/getting-started" had several problems. read in another issue that this build should be fine. so downloaded 2071 from `https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries` and setup locally.

is `1.0.0-rc2-3002498 `the current one?

@GuardRex Thanks, but does not change. same issue.

my Linux is rusty, but I think I will

[2016-04-26 18:35] lt72 opened #2690 "Enable IBC for CLI"
Please measure expected performance gain before proceeding and define the set of relevant tests.

[2016-04-26 18:38] GuardRex commented on #2689
Yeah ... I meant in addition. You have a mismatch between your cli version and what your wildcard package dep is pulling down.

[2016-04-26 18:41] davidfowl commented on #2578
@NinoFloris no, there's no good story for that. Here's a question though, why not just develop standalone?

[2016-04-26 18:43] karlti commented on #2689
ok. finally I got it to work...
I apt-get version `dotnet-dev-1.0.0-rc2-002498`
and now I see tat friendly `"Hello world!"`
(after` execstack -c libcoreclr.so `& `rm libcoreclrtraceptprovider.so `)

Thanks!

[2016-04-26 18:43] #2689 closed

[2016-04-26 18:44] mellinoe opened #2691 ""dotnet test project.json" fails in a directory with a test project.json in it"
## Steps to reproduce
1. Make a test project somewhere
2. cd into that directory
3. Run `dotnet test project.json`

## Expected  behavior
The "project.json" file in the same directory is used and tests are run.

## Actual behavior
An error is given:
[code]

NOTE: This works if I pass `dotnet test .\project.json`.

## Environment data
`dotnet --info` output:

[code]

[2016-04-26 18:48] mellinoe opened #2692 "Bad error message when running "dotnet test" on a blank template project"
## Steps to reproduce
1. Run `dotnet new`
2. Run `dotnet test`

## Expected  behavior
Some sort of error message about `dotnet restore` not being run, no tests being found, etc.

## Actual behavior
An exception message with stack trace is printed:
[code]

## Environment data
`dotnet --info` output:

[code]

[2016-04-26 19:01] chlowell opened #2693 "dotnet crashes on invalid command"
## Steps to reproduce

1. `dotnet new`
2. Edit `project.json`: depend on a version of `Microsoft.NETCore.App` that won't resolve, e.g. `42.42.42`.
3. `dotnet restore`
4. `dotnet crash`

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2016-04-26 19:21] #2536 closed

[2016-04-26 19:27] anurse opened #2695 "Errors are unclear when a project has an unresolved dependency"
## Steps to reproduce
1. `dotnet new`
2. Add a dependency on a project that does not exist, for example:

[code]
3. `dotnet restore` (this should fail but write a lock file)
4. `dotnet build`

## Expected  behavior
A helpful error message

## Actual behavior
Outputs

[code]

Also, if this error is bypassed, you get even worse behavior. It emits an error for the unresolved dependency, but continues

[2016-04-26 20:00] Sridhar-MS commented on #2588
@Petermarcu @robmen @joeloff @piotrpMSFT I like to get your feedback on this

Below is the registry I like to setup for CLI bundle detection

![image](https://cloud.githubusercontent.com/assets/9423246/14830226/7085255c-0ba4-11e6-8a25-98352ac9586c.png)

Since the CLI is installed SxS I am planning to set the registry keys in the following way
`HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\dotnet\Setup\$

[2016-04-26 20:04] joeloff commented on #2588
Have you considered using the OptionalUpdateRegistration in the bundle? See http://wixtoolset.org/documentation/manual/v3/xsd/wix/optionalupdateregistration.html

[2016-04-26 20:06] eerhardt commented on #2643
@Petermarcu approved in email.

[2016-04-26 20:10] eerhardt commented on #2486
@Petermarcu approved in email

[2016-04-26 20:11] #2486 closed

[2016-04-26 20:12] PabloZaiden commented on #2644
Already dropped that VM, but that must be the case. Java images are causing the same issue.
Thanks!

[2016-04-26 20:13] Petermarcu commented on #2588
One of the things that's always been a challenge has been detecting that at least a certain version is installed. Do we want people parsing the key names and using semver to figure this out?

[2016-04-26 20:16] Sridhar-MS commented on #2588
Seems like it is used for product updates

But the CLI itself does not do any update during installation. It is strictly SxS. Are there any advantages  in using this? For example - does the bundle detection become much easier? Otherwise I see the registry keys are arranged in a similar way to my original proposal.

[2016-04-26 20:18] joeloff commented on #2588
We've been using it in our bundles simply as a means of tracking the bundle vs all the various MSIs we potentially install.

For the min version detection, isn't dotnet.exe shared across the CLIs? So if you do a filesearch and use that version you'll be able to find the highest version always, and if you want a specific version when there are multiple installs, you can rely on looking for specific

[2016-04-26 20:20] Petermarcu commented on #2588
@joeloff , dotnet.exe won't be updated with each sdk version. They version independently.

[2016-04-26 20:25] eerhardt commented on #2600
@jmezach - I tried reproing this using the latest build, but I couldn't repro it.  Is "dev" the right branch to use?

I am getting a `Microsoft.DotNet.Watcher.Core.xml` file generated under `bin\Debug\netstandard1.5`:

[code]

Can you try it again using a newer build?

[2016-04-26 20:42] Sridhar-MS commented on #2588
Maybe a registry value of type `REG_MULTI_SZ` can be used to store all the installed versions.. I am giving it a try so see if its feasible (especially if uninstalling will remove a version from that registry value).

[2016-04-26 20:45] MichaelSimons opened #2697 "dotnet --help is not functional when only installing .Net Core"
## Steps to reproduce
1. Install the .Net Core your favorite Linux distro.  Note this is **not **installing the .Net Core SDK
2. Run `dotnet`
3. Observe the output `Usage: dotnet [--help | app.dll]`
4. Run `dotnet --help`

## Expected  behavior
I would not expect the Usage to display commands that are invalid.

## Actual behavior
`Could not resolve SDK directory from [/usr/share/dotnet]`

## Envir

[2016-04-26 20:50] joeloff commented on #2588
That could work, but it will still be difficult to parse the values. You'd likely need a custom action in an MSI and I'm not sure what you'd do at the bundle level to parse it.

[2016-04-26 20:56] naamunds commented on #2644
@PabloZaiden Would you like to confirm that you don't see this issue on an Ubuntu 15 machine with a new enough kernel version?

[2016-04-26 21:03] robmen commented on #2588
Some thoughts off the top of my head:

1. Using semver pretty much guarantees a custom action. Semver just isn't deeply baked into the world of Windows yet (try to version a file with semver for example). As a starting point, it'd be good if we had a custom action for it and we've discussed adding support for semver to Burn in WiX v4.

2. Similarly, SxS everything isn't well supported today either

[2016-04-26 21:04] robmen commented on #2588
PS: I still have no idea why I'm not getting any notifications when /cc:d on issues. Very frustrating.

[2016-04-26 21:22] Sridhar-MS opened #2698 "Unix builds are failing to publish the new sharedfx+cli zip"
All the unix builds are failing to publish the new sharedfx+cli zip with the below exception

2016-04-26T18:38:56.107Z: Build failed: System.AggregateException: One or more errors occurred. (Could not find file '/opt/code/artifacts/ubuntu.14.04-x64/packages/dotnet-sharedframework-sdk-ubuntu-x64.1.0.0-rc2-002500.tar.gz'.) ---> System.IO.FileNotFoundException: Could not find file '/opt/code/artifact

[2016-04-26 21:24] Sridhar-MS commented on #2588
Yup. MULTI_SZ  is a bad idea..

[2016-04-26 21:56] NinoFloris commented on #2578
@davidfowl I'm not sure what you mean by standalone, by rid's? as in "type": "build"?

Look at it like this, I will only deploy to debian flavors, and preferably a fat dist with everything included. I will not deploy to osx, windows, linuxmint, etc. so why take them up in my config?
However I may want to bytecode compile on those, let me take care of the existence of a runtime.

Why will it not ju

[2016-04-26 22:09] piotrpMSFT commented on #2660
any updates here?

[2016-04-26 22:24] eerhardt commented on #2691
FYI - I have a fix for this.  It is a simple 2 line fix.

[2016-04-26 22:36] fubar-coder commented on #2677
This is the example.
[naming-inconsistencies-folder-name.zip](https://github.com/dotnet/cli/files/237624/naming-inconsistencies-folder-name.zip)

Run:
[code]

Every command succeeds and in the file `project.lock.json`, you can see the reference to the `Json` project. The produced nupkg file references a package named `Json` instead of `Newtonsoft.Json`. The obvious solution to this problem would b

[2016-04-26 22:40] brthor opened #2701 "BlockingMemoryStream Intermittent build failures"
I am seeing this intermittently in different places.

Any ideas @eerhardt ?

[code]

[2016-04-26 22:56] victorhurdugaci opened #2702 "DOTNET_HOSTING_OPTIMIZATION_CACHE requires architecture in the folder name"
It seems that setting DOTNET_HOSTING_OPTIOMIZATION_CACHE requires the architecture to be part of the path. I was under the impression that you just point it to a folder that has two subfolders in it and it works.

So, my native image cache has:

- ni-cache\x86\<packages>
- ni-cache\x64\<pacakges>

If the env var points to the `ni-cache`, the packages are not loaded but if I point to `ni-cache\x64`

[2016-04-26 23:03] eerhardt commented on #2701
Are you seeing this in CI or locally? Is it a test or manual usage?

The stream uses a BlockingCollection underneath the covers and calls CompleteAdding when it is done. However in this case it looks like someone is still trying to write to the stream.

We could add a check for IsAddingCompleted, but even in that case we should still throw since the stream is supposed to be in a state where no mor

[2016-04-26 23:05] piotrpMSFT commented on #2686
@blackdwarf @glennc it looks like we need docs describing how folks should transition from RC

[2016-04-26 23:10] piotrpMSFT commented on #2687
@mcliment where are you seeing a side-effect of passing --version-suffix to dotnet build? The bug seems to be that build accepts a --version-suffix option without actually using it. Can you confirm?

[2016-04-26 23:18] Eilon commented on #2633
Can we also fix the product name shown in the MSI:
![msi-title](https://cloud.githubusercontent.com/assets/202643/14837097/70335aa8-0bca-11e6-8d13-22dcf71a661a.png)

Note that it says `Microsoft .Net CLI for Windows` (`.Net` is Pascal Case, but should be `.NET` upper case).

[2016-04-26 23:18] piotrpMSFT commented on #2697
@schellap we'll need to think about how to show host-specific help.

[2016-04-26 23:20] schellap commented on #2697
Displaying help is dependent on whether CLI is present or not actually.

Also, we should probably reword the CLI resolution error message as well in the CLI actually absent case.

[2016-04-26 23:21] piotrpMSFT commented on #2702
It looks like there is a workaround here. @schellap, is the behavior by-design?

[2016-04-26 23:27] piotrpMSFT commented on #2427
@schellap just told me that @BillHiebert has taken on this issue.

[2016-04-26 23:33] piotrpMSFT commented on #2635
ping. When do we anticipate getting this fix from NuGet to CLI? @emgarten

[2016-04-26 23:49] piotrpMSFT commented on #2623
Fixed by #2662

[2016-04-26 23:49] #2623 closed

[2016-04-26 23:52] piotrpMSFT commented on #2687
Aha, I see `--version-suffix` got added as part of recent perf improvements. @anurse can you pick this up, then?

[2016-04-27 00:18] schellap commented on #2702
No, it is not by design. In fact code from the commit SHA above seems to be appending `get_arch` and `get_arch` is x86/x64. Can I ask @victorhurdugaci to share `set COREHOST_TRACE=1` output with me, please?

`https://github.com/dotnet/cli/blob/ef0c3b2cee6c2cae84a0201e794ec1c272c0e211/src/corehost/cli/deps_resolver.cpp#L210`

`https://github.com/dotnet/cli/blob/5b38dd6765f0bf9b3fdd198d7e2e762fbf1fc

[2016-04-27 00:42] schellap commented on #2702
Just tried to repro and things work as expected on this specified version:

1. Created `c:\temp`
2. Downloaded https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/1.0.0-rc2-002439/dotnet-dev-win-x64.1.0.0-rc2-002439.zip
3. Copied `%USERPROFILE%\.nuget\packages\runtime.win7.System.Console` into `c:\temp\x64`
4. `dotnet help`
5. Saw this in the TPA: `.dll;c:\temp\x64\runtime.win7.System.Con

[2016-04-27 00:45] brthor commented on #2701
I am using `dotnet -v test` locally and seeing this intermittently, but also have seen it in random CI runs.

If it happens again, I'll try to get more details.

[2016-04-27 01:02] barrytang commented on #2616
@piotrpMSFT @Petermarcu, this is the issue I mentioned in Core War today. Now you understand the tooling impact, are you guys still thinking this is out of scope for RC2?

[2016-04-27 01:08] cdmihai commented on #2616
There's also the question whether this (graceful handling when called in parallel from other processes) is CLI's responsibility. For example, MSBuild crashes similarly when multiple invocations race on the same files.

In CLI's case, the processes that invoke dotnet build can ensure they send unique build base paths per invocation, thus eliminating the race (it also eliminates sharing build artifa

[2016-04-27 01:14] cdmihai commented on #2660
Haven't had the time to look into this yet. I'll try to repro it tomorrow.
Thanks @jaredpar for the indication. I'll take a look what references are sent to csc.

[2016-04-27 01:23] vijayrkn commented on #2616
VS currently passing the same build-base-path for all projects while invoking dotnet test and dotnet test constructs the full output path based on configuration, framework and rid. Are you suggesting that dotnet test (or any other tool that calls build) always constructs unique path for the build outputs while invoking build? Wouldn't we loose the benefit of incremental build in this case?

[2016-04-27 01:26] smbecker commented on #2676
You can use environment variables like you could with DNX: https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/ProjectReaderSettings.cs

[2016-04-27 01:30] yishaigalatzer commented on #2676
There is no point in investing in dotnet pack. We are retiring it right after rc in favor of nuget pack

[2016-04-27 01:32] yishaigalatzer commented on #2676
I do agree with the ask, but there is strong pushback to add replacement parameters to project.json. the package version is easy, it is the dependencies that get super tricky and it leaks into restore

[2016-04-27 01:37] schellap commented on #2582
Packages should be serviceable.

[2016-04-27 01:47] ellismg commented on #2698
Fixed via #2699

[2016-04-27 01:47] #2698 closed

[2016-04-27 02:13] 21E14 commented on #2640
https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/TestProjects/TestSimpleIncrementalApp/project.json runs with the foolowing settings on Ubuntu 14.04:

    "frameworks": {
        "netcoreapp1.0": {
            "imports": [
                "portable-net45+wp80+win8+wpa81+dnxcore50"
            ]
        }
    },
    "runtimes": {
        "ubuntu.14.04-x64": {}
    }

[2016-04-27 03:49] neilhuiz opened #2706 "dotnet publish -b fails when not equal to "..""
Based on the help, the "-b" command line parameter to dotnet-publish should be used to indicate the temp directory for the build. It does not seem to work that way. By default, the value of "-b" is ".." (i.e. the parent of the current directory). When you pass a different location, compilation completes, but the publish step fails to find the build output.

## Steps to reproduce
[code]
## Expected

[2016-04-27 04:01] #2643 closed

[2016-04-27 04:45] robmen commented on #2451
@piotrpMSFT I believe this can be closed.

[2016-04-27 04:47] robmen commented on #2633
See #2400. When the open questions are answered, I think that will resolve most of these issues.

[2016-04-27 05:58] blackdwarf commented on #2686
@piotrpMSFT this is already in the works. @danroth27 is in charge of the ASP.NET Core migration documentation.

[2016-04-27 07:32] fubar-coder commented on #2676
@smbecker Using DOTNET_BUILD_VERSION is not a solution, because it's for the version suffix, and not for the version itself
@yishaigalatzer What is the proposed solution for setting the version from the CI system? What happens with the restore/build when a different version is specified during nuget pack?

[2016-04-27 07:38] davidfowl commented on #2672
@schellap Right, it's going to be beautiful 😄 and the deps files for most applications will be tiny.

[2016-04-27 08:19] xatabhk commented on #2081
The latest Dotnet.exe is still not able to restore all packages for me.

[2016-04-27 08:23] schellap opened #2708 ".NET Core apps don't break on unhandled exceptions"
From @danroth27

## Repro steps
-	I tried the latest ASP.NET Core dogfood tooling build with the .NET Core tools.
-	I create a .NET Core Console App
-	Add “throw new ArgumentException();” in the Main method
-	Hit F5

## Expected:
-	Break on unhandled exception

## Actual:
-	App just dies. I see the following in the output window:

Exception thrown: 'System.ArgumentException' in ConsoleApp1.dll
The

[2016-04-27 08:24] schellap commented on #2708
From @BillHiebert: The  only difference between the Console app case (which works) and the aspnet case, is that VS does an attach in the 2nd case (the process is launched suspended and the debugger attaches to it before it is resumed).

[2016-04-27 08:26] schellap commented on #2708
Based on what Bill said, I reproed this with the below program. This reproes for any program that initializes the locale (_lock_locale call) in std.

See Converter.cpp as what the offending code is. If you removed that “thread_local” things are fine. If you put it there, crash.

The sad part is we don’t need this UTF8 converter in the host because the OS API supports it cleanly with MultiByteToWid

[2016-04-27 08:31] schellap commented on #2708
Fixed by https://github.com/dotnet/cli/pull/2705

@piotrpMSFT marking for RC2.

[2016-04-27 10:21] jmezach commented on #2600
Just tried it with the newest build, but I'm still getting the same error:

F:\Projects\Open Source\dotnet-watch\src\Microsoft.DotNet.Watcher.Core>dotnet --info
.NET Command Line Tools (1.0.0-rc2-002520)

Product Information:
 Version:     1.0.0-rc2-002520
 Commit Sha:  7c504b2456

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14328
 OS Platform: Windows
 RID:         win10-x64

F:

[2016-04-27 12:38] smbecker commented on #2429
I see the same exception when trying to build [cli-samples/HelloWeb](https://github.com/aspnet/cli-samples/tree/master/HelloWeb) after changing the framework to 'net451'

[2016-04-27 13:38] yishaigalatzer commented on #2676
There are two discussions going on, I have an answer for one at the moment (which is current pack is going away).

As for your other question (control version on CI) there is no answer yet. I do agree it is a problem that needs resolution. Still debating the design with various team members.

The scenario to keep in mind is as such:

Project a references project b, both of them produce packages.

[2016-04-27 14:51] PinpointTownes commented on #2600
@eerhardt FYI, I'm also seeing this bug, which only reproduces when there's a space in the project path (maybe caused by a few missing quotes somewhere?).

[code]

You can see that the path used (and returned) by `dotnet build` is totally wrong:

`G:\space in path\AspNet.Security.OpenIdConnect.Server\src\AspNet.Security.OpenIdConnect.Extensions\path\AspNet.Security.OpenIdConnect.Server\src\AspNet.

[2016-04-27 14:54] eerhardt commented on #2600
Thanks @jmezach and @PinpointTownes.  The space in the path does appear to be the problem.  It's good to know how to repro the issue.  Makes my job a lot easier. :smile:

I will get a fix for it today hopefully.

[2016-04-27 15:06] PinpointTownes commented on #2600
@eerhardt thanks! :clap:

My best guess is that this issue may be caused by the lack of quotes there: https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-compile-csc/Program.cs#L192.

[2016-04-27 15:18] davunderscorei opened #2710 "Relative paths in compilationOptions/additionalArguments don't work as expected when running build from a different folder"
## Steps to reproduce
Given the following folder structure
[code]

With `project.json` including:
[code]

## Expected  behavior
Running `dotnet build` from the `\src\project` folder compiles the project.
Running `dotnet build .\src\project` from root folder compiles the project.

## Actual behavior
Running `dotnet build` from the `\src\project` folder compiles the project.
Running `dotnet build .\

[2016-04-27 15:42] victorhurdugaci commented on #2702
That's strange. I cannot reproduce it anymore... I'll investigate more but it seems to work now. Will reopen if I find a case in which it doesn't work

[2016-04-27 15:42] #2702 closed

[2016-04-27 15:55] danroth27 commented on #2686
Yes, we will have porting docs for both DNX -> .NET Core and ASP.NET 5 RC1 to ASP.NET Core RC2. They are in the works here:
                https://github.com/aspnet/Docs/pull/1161
                https://github.com/dotnet/core-docs/pull/391/files#diff-b76e7e5efd65cec0d968e260eb08ea41

[2016-04-27 16:00] anurse commented on #2687
It's not related to the perf changes, this bug would have existed since incremental compilation was added. The command line used to build is not considered as part of the incremental inputs. Changing that is not going to be trivial, but I can try to look at it for RC2.

[2016-04-27 16:05] danroth27 commented on #2686
Most of your code will be unchanged. The biggest changes are:
- Package IDs and namespaces have been updated to reflect the new ASP.NET Core branding
- DNX has been replaced with the new .NET Core CLI with various updates to the project model
- ASP.NET Core apps are now just a console app, so you need a Main entry point that wires up ASP.NET Core hosting
- Other changes are listed in our [RC2 anno

[2016-04-27 16:06] ericstj opened #2712 "DotNet restore supports --packages but build and publish do not"
Seems like a gap in functionality.  Is the expectation that folks use global.json here?
## Steps to reproduce

dotnet restore --packages c:\myPackages ...
dotnet build --packages c:\myPackages ...
dotnet publish --packages c:\myPackages ...
## Expected  behavior

Build and publish work using the specified packages folder
## Actual behavior

Build and Publish fail with `Unrecognized option '--packa

[2016-04-27 16:08] rh78 commented on #2686
Hi thanks for this quick and extensive feedback! Now I have a better feeling :-) Just suggesting: you should write a blog article about that. Users that are thinking about using ASP.NET Core or who are using RC1 are very likely asking the same questions as I am - and are probably afraid and because of this not using the new versions...

PS: so it is still possible to run ASP.NET 1.0 Core RC2 on th

[2016-04-27 16:50] balachir opened #2713 "After uninstall DotNetCoreCli newer version, new AspNetCore web application, meet error 'System cannot find file specified'"
## Install Steps
Win7 Sp1 x64 ENU
DotNetCoreRedist (rc2-3002392)
Dev14 U2 RTW VSE (with Web checkbox)
DotNetCoreTools RC2 (release.b104 includes DotNetCoreCli rc2-002426)
Install DotNetCoreCli newer version (latest: rc2-002514)
Uninstall DotNetCoreCli newer version (latest: rc2-002514)

## Steps to reproduce
After uninstall DotNetCoreCli newer version,
File > New AspNetCore web application

## Exp

[2016-04-27 16:51] cdmihai commented on #2660
Apparently one Nuget package has a native dll:

C:\Issue2660\build\packages\Microsoft.Management.Infrastructure.Native\1.0.0-rc3\lib\net451\Microsoft.Management.Infrastructure.Native.Unmanaged.dll

MakeRunnables attempts to redirect it and tries to read the metadata. PEReader throws because it can't read the metadata:
[code]
@pakrym

[2016-04-27 16:52] schaabs opened #2714 "dotnet restore | build | publish do not respect nuget.config repository path"
## Steps to reproduce

use cli to restore | build | publish a project which has a nuget.config with a specific repository path.

[code]

however if you create the following global.json in the same directory it functions as expected:

[code]
## Expected  behavior

dotnet cli should respect both global.json packages property and nuget.config repositoryPath
## Actual behavior

if only the nuget.confi

[2016-04-27 16:53] pakrym commented on #2660
This file should not be in the `lib` folder if it's native, it should be in `native` folder.

[2016-04-27 16:56] bartonjs commented on #2229
For future finders, not interacting well with macports or user-scoped-brew-install is tracked now at https://github.com/dotnet/corefx/issues/8124.

[2016-04-27 17:06] cdmihai commented on #2660
Ideally, there should be an error message about this so people do not open issues thinking it's a CLI bug. Who should check for valid nuget package consistency?

- nuget pack
- dotnet pack
- nuget restore
- dotnet restore
- ProjectContextBuilder.Build when it creates the library descriptions
- some other package checker that should run somewhere in the CLI so all commands benefit from it

[2016-04-27 17:15] barrytang commented on #2713
cc @Petermarcu and @piotrpMSFT

[2016-04-27 17:34] danroth27 commented on #2686
Yes, you will be able to run ASP.NET Core RC2 on both .NET Core and on the full .NET Framework.

[2016-04-27 17:38] piotrpMSFT commented on #2713
@balachir do you have a repro machine? I have a feeling this has to do with packaging + invocation in VS.

When you say you `uninstall DotNetCoreCLI` can you show what item you actually uninstalled? I understand that VS, at some point, considered the three CLI MSIs as a unit, which is incorrect. Assuming you just uninstalled the CLI MSI, which has its own ARP entry, I would expect your `shared` su

[2016-04-27 17:40] piotrpMSFT commented on #2712
This is closely related to #2714

[2016-04-27 17:48] muratg commented on #2613
:eyes:

[2016-04-27 17:48] schellap commented on #2702
Are you hitting `MAX_PATH`?

[2016-04-27 18:05] piotrpMSFT commented on #2714
@yishaigalatzer @davidfowl @emgarten  your thoughts on this? Can you point me to an API in NuGet to get the resolved repositoryPath?

[2016-04-27 18:08] moozzyk opened #2715 "dotnet needs a command that works with project tools/commands"
dotnet needs a command that allow list, install, remove tools from the project.

e.g. `dotnet tools list` would list all the tools installed into project.

[2016-04-27 18:09] DamianEdwards opened #2716 "dotnet publish places output in sub-directory of the app output by default"
## Steps to reproduce
Create an ASP.NET Core application in VS then publish it using `dotnet publish`

## Expected  behavior
The output of publish doesn't impact the files contained in the folder of my running app

## Actual behavior
The output of publish is now included in the folder that my app runs from when I `dotnet run`. Depending on the what the application does, this could result in clashe

[2016-04-27 18:11] emgarten commented on #2635
I see this bug is marked for RC2, we could integrate the new nuget packages with just this fix.  /cc @rrelyea

[2016-04-27 18:14] yishaigalatzer commented on #2714
We should deprecate the duplicate global.json property it just adds confusion.

You will need to use nuget.configuration package for this

[2016-04-27 18:16] emgarten commented on #2714
``repositoryPath`` refers to the packages.config ``packages`` folder, not to the global package folder.

The issue for tracking the API for the global folder is here: https://github.com/NuGet/Home/issues/2403

[2016-04-27 18:21] yishaigalatzer commented on #2714
@emgarten can you provide a current code sample?

[2016-04-27 18:35] cdmihai commented on #2616
Since VS is calling dotnet test in parallel, it should ensure that each dotnet test invocation has a unique build base path. You loose sharing of build artefacts between invocations. Within invocations though, the artefacts are still being reused.

BTW, are you using a --no-dependency argument for dotnet test? If not, dotnet build rebuilds the entire project graph (reachable from the test project)

[2016-04-27 19:04] victorhurdugaci commented on #2702
Nope. The folder in the root of the drive

[2016-04-27 20:04] ajaybhargavb commented on #792
44fd8bc2de3274704e16154a91e8e0222f89b435

[2016-04-27 20:04] #792 closed

[2016-04-27 20:36] balachir commented on #2713
@piotrpMSFT, I sent you email with repro machine and exact build locations we used.

Regarding the version number shown in dialog box, it sounds like this should be a bug on our side. @BillHiebert, where do we get this version info from?
![image](https://cloud.githubusercontent.com/assets/8246794/14867343/ea5f6cd8-0c7c-11e6-93fb-056970ec42d8.png)

[2016-04-27 20:54] joshfree commented on #440
@Sridhar-MS @ellismg @piotrpMSFT why isn't this an RC2 issue?

[2016-04-27 21:05] vijayrkn commented on #2616
The current behavior is passing the --no-build and passing the output path (containing the dlls) to dotnet test and dotnet test discovers/runs the test from this provided output path.

But we have a bug where - if the user changes anything in the test and triggers a test execution, project build/msbuild is not triggered at this point. So, the user could get wrong test results.

That is the reason

[2016-04-27 21:19] natemcmaster commented on #2183
@hal-ler your project needs to be a "runnable" tfm, i.e. `netcoreapp1.0`. Simplest way to do this is run `dotnet new` and then add testRunner and dotnet-test-xunit to project.json.

[code]

If you want to share test code between projects, this can be [in a library](https://github.com/aspnet/DependencyInjection/tree/d3359dfc540a123f1a687c75aa97ece296268e4a/src/Microsoft.Extensions.DependencyInjecti

[2016-04-27 21:24] cdmihai commented on #2616
@vijayrkn You are right, I also checked and dotnet test does not have a --no-dependencies flag to pass thru to build.

Triggering a build of the test project when the test project changed, from within VS, seems to me like the good approach here, since VS is the coordinator.

[2016-04-27 21:48] hal-ler commented on #2183
Thank you very much for the clarifications. I see that in the latest versions using`"type": "platform"` in the dependencies with `netstandardapp1.0` creates portable apps. This can also be a solution to #2201 then.

[2016-04-27 22:12] BillHiebert opened #2718 "In VS changing project.json TFM from 'netstandard1.5' to a different 'netstandard1.x' tries to restore both"
## Steps to reproduce
- File/New Project
- NetCore ClassLib
- In project.json change 'netstandard1.5' to 'netstandard1.0'

RESULT:
VS thinks I'm using *both* 'netstandard1.5' *and* 'netstandard1.0':
References node shows both frameworks

I turned on project model server trace and it is returning both the old and the new framework.

[2016-04-27 22:16] troydai commented on #2718
It's a regression. I'm looking into this.

[2016-04-27 22:20] natemcmaster opened #2719 "Running tests from published output"
In many scenarios, it is useful to execute tests on published output rather than from source code. This is currently difficult to do.
### Example scenario

Entity Framework runs the same test project on multiple operating systems, architectures, environments, and database versions. `dotnet-restore` and `dotnet-build` takes 10-15 min alone. To save time, we `dotnet-publish` test projects and re-dis

[2016-04-27 22:23] krwq opened #2720 "dotnet pack/packInclude not working with absolute paths"
When passing absolute path to packInclude  in project.json, dotnet pack produces invalid content:
- target file does not exist,
- different file shows up instead,
- no error or warning is reported

Exactly the same setup with relative paths to project.json works fine.
I didn't test if the same repros with packOptions but assuming it is since this is the same logic.

example project.json:

[code]

[2016-04-27 22:27] hal-ler commented on #2578
What about separating portable and standalone apps into different TFMs? This makes the decision clear both for the CLI and the developer and the error message could be specialized for the TFM. It also allows a developer to include both options into their `project.json` at the same time with no confusion (as long as the TFMs are clearly named).

I was playing around with this option around a month

[2016-04-27 22:38] troydai commented on #2718
/cc @anurse @pakrym could this be related to recent change to the `WorksapceContext`?

[2016-04-27 22:51] piotrpMSFT commented on #2719
Marking this as an rtm-timeframe question for now. The RTM runners are going to be getting fleshed out post RC2 and this is a scenario that should be accounted for then.

[2016-04-27 22:53] piotrpMSFT commented on #2716
@DamianEdwards changing this would be a breaking change for the toolset, something we're avoiding until RC2 ships.

@blackdwarf this needs design. I believe you have a doc on the output of build / publish. Can you work with @DamianEdwards and make sure concerns are covered?

[2016-04-27 22:54] piotrpMSFT commented on #2715
@yishaigalatzer is this a capability that should be exposed through NuGet xplat?

[2016-04-27 22:55] ajaybhargavb commented on #2720
@krwq, Could you check if this works on a previous version of dotnet cli? That is before the project model changes.

[2016-04-27 22:57] jeffschwMSFT commented on #2465
No longer an issue

[2016-04-27 22:57] #2465 closed

[2016-04-27 22:58] yishaigalatzer commented on #2715
I would think so

[2016-04-27 22:58] hal-ler commented on #2578
Developer tools are another scenario where both shared platform and standalone builds are desirable in my view. For example your build system might rely on NuGet, ScriptCs and some other tools. Instead of downloading a 20MB standalone version for all of these (with replicated copies of all platform libraries), one would first install the SDK (as it is needed for the build) and just download the sh

[2016-04-27 22:58] piotrpMSFT commented on #2706
@pakrym is specifying both -o and -b a real scenario? Or is the product missing a block? It's not clear to me what -o and -b should result in...

[2016-04-27 22:59] NinoFloris commented on #2578
Yeah, I also thought about that. It's not really good as runtimes are something in the background and are not part of the real dependencies. So it does not make any sense to have different TFM's for portable and standalones.

[2016-04-27 23:00] piotrpMSFT commented on #2584
Though a PR is ready for this issue, @brianrob is validating if this is a fix we want to bring forward in RC2. Moving to backlog for the time being.

[2016-04-27 23:01] krwq commented on #2720
I believe @brthor just tested it and he was also seeing it, @brthor could you confirm?

[2016-04-27 23:05] piotrpMSFT commented on #2588
There is an open design issue here. @Sridhar-MS will set up a meeting to discuss...

[2016-04-27 23:07] pakrym commented on #2706
I think I fixed this issue already, please try newer version of dotnet, `001598` is very old.

[2016-04-27 23:12] NinoFloris commented on #2578
Hah our answers just crossed.

I really do think that there should be some way to just create a portable but I don't know enough about all the constraints and underlying thought behind the current model to know what the options are.

I hope @davidfowl can spare some of his time to explain why it is as it is.

[2016-04-27 23:15] piotrpMSFT commented on #2660
@cdmihai let's fix the error message coming from CLI, and also open two issues for NuGet:
- [ ] nuget pack should warn if a bad package is being produced
- [ ] nuget restore should warn if a bad package got restored

Bad needs to be defined, here we're saying that a bad package is one that has non-managed assets in a directory expected to carry managed code only.

[2016-04-27 23:25] piotrpMSFT commented on #2683
#2405 is a duplicate of this issue.

[2016-04-27 23:34] ajaybhargavb commented on #2720
I investigated more and I can confirm that this is not a regression from the recent changes. `packInclude` had the same behavior for a long time. It never supported absolute paths.

As a workaround using the new schema you can do,
[code]
And this will throw an exception,
`System.InvalidOperationException: The 'includeFiles' property cannot be a rooted path.`

[2016-04-27 23:34] brthor commented on #2720
Also confirmed this was happening prior to to @ajaybhargavb 's changes

[2016-04-27 23:35] piotrpMSFT commented on #2706
Thanks @pakrym. @neilhuiz please reopoen if you see this repro on latest CLI.

You can get a newer pre-release installer from https://github.com/dotnet/cli

[2016-04-27 23:35] #2706 closed

[2016-04-27 23:39] piotrpMSFT commented on #2713
FYI, @Sridhar-MS was able to repro the issue and verify it is a bug in the CLI bundles. Fix coming.

[2016-04-27 23:40] piotrpMSFT commented on #2718
@troydai please make sure we have a test for this once fixed.

[2016-04-27 23:40] Petermarcu commented on #2720
So is this an RC2 issue anymore?

[2016-04-27 23:42] piotrpMSFT commented on #2720
@krwq confirmed we don't need this for RC2

[2016-04-27 23:56] piotrpMSFT commented on #2600
@eerhardt did you send approval mail?

[2016-04-27 23:57] piotrpMSFT commented on #2664
@schellap did you send approval mail?

[2016-04-27 23:57] piotrpMSFT commented on #2691
@eerhardt did you send approval mail?

[2016-04-27 23:57] piotrpMSFT commented on #2708
@schellap did you send approval mail?

[2016-04-27 23:57] eerhardt commented on #2600
yes

[2016-04-28 00:02] eerhardt commented on #2691
Just did.

[2016-04-28 00:08] schellap commented on #2708
Yes, closing...

[2016-04-28 00:08] #2708 closed

[2016-04-28 00:17] schellap commented on #2682
Yo @brthor my referenced PR above fixes it in the host. Do you want to fix it by not passing relative paths?

[2016-04-28 00:18] gregg-miskelly commented on #2649
Matt, yup, this issue is very related, except that IMHO, the CLI fix is wrong (at least long term) - they fixed the CLI to try and work around the design flaw in CoreCLR, but the design flaw is still there in CoreCLR, and their fix will not work with Unicode paths.

I opened https://github.com/dotnet/coreclr/issues/4634 to actually fix the design flaw. We may need to do something like their hack f

[2016-04-28 00:47] ctolkien commented on #2595
Please bear in mind users (such as myself) located on the other side of the world with crappy internet,  high latency and heavily constrained connections.

[2016-04-28 01:23] #2650 closed

[2016-04-28 01:36] #2600 closed

[2016-04-28 01:37] eerhardt commented on #2600
Thanks @PinpointTownes. You made my investigation really easy. :)

[2016-04-28 01:39] PinpointTownes commented on #2600
@eerhardt you're welcome. Thanks for fixing it :smile:

[2016-04-28 03:17] neilhuiz commented on #2706
Sadly, version 1.0.0-rc2-002526 is worse. The files generated by `dotnet new` result in something that won't restore or build.

[2016-04-28 04:52] troydai commented on #2718
@piotrpMSFT thanks for reminding. I'll begin any work with at least one test to cover the scenario I intends to impact.

[2016-04-28 06:49] DamianEdwards commented on #2716
We were thinking we'd change the default to "/bin/publish-{configuration}" instead.

What do you mean by breaking change for the toolset? Which toolset?

[2016-04-28 07:15] schellap commented on #2664
Closing...

[2016-04-28 07:15] #2664 closed

[2016-04-28 07:18] schellap commented on #1910
We look at placeholders in the deps file and do the right thing here. The only issue is we also probe for `_._` which is being tracked for RTM in #2351

[2016-04-28 07:18] #1910 closed

[2016-04-28 07:20] schellap commented on #1409
@anurse should this be a fail fast instead? When you say warning, do you mean continue to run the app but emit a visible message or do you mean to see this tracing on?

[2016-04-28 08:18] davidfowl commented on #2710
@piotrpMSFT This is a @jaredpar @agocke issue

[2016-04-28 08:31] PinpointTownes commented on #2643
@eerhardt FYI, it's probably not the only regression, as this syntax no longer works:

[code]

This one does, though:

[code]

[2016-04-28 09:05] tmds opened #2727 "Support generic linux target"
Would it be possible to support a generic linux target which is used as a fallback when the specific flavor of linux is not supported?
e.g. ubuntu.15.10-x64 falls back to linux-x64.

[2016-04-28 13:30] dazinator commented on #1139
Any news on when we may be able to expect an update for VS 2015 that delivers dotnet cli and gets rid of dnu? I am having nothing but problems with `dnu` at present.. eager to get rid of it.

[2016-04-28 13:41] smbecker commented on #2429
Also seeing this on a project that I am currently attempting to upgrade to rc2. I can build the app using `-f netcoreapp1.5` but when I try to use `net46`, I get this exception.

[2016-04-28 14:23] GuardRex commented on #1139
@dazinator The comments in the Standup on the 21st put their guesstimate at that time between 3-6 weeks; therefore, we'd have 2-5 weeks left to go.

[2016-04-28 14:29] dazinator commented on #1139
@GuardRex - ok lovely - cheers :)

[2016-04-28 14:32] eerhardt commented on #2643
@PinpointTownes - this behavior is by design.  The first syntax is incorrect according to:

http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html#tag_12_02

All options should precede operands on the command line.

It may have worked before, but it wasn't intended to work.

[2016-04-28 14:46] smbecker commented on #2429
Turns out that I had a bad dependency but the error message did not help me diagnose that at all.

[2016-04-28 15:12] PinpointTownes commented on #2643
Well, it's not really incorrect since specifying operands/arguments before options is just "recommended", not mandatory (it's a *should*, not a *must*). And IIRC, the command lines stack already goes beyond what POSIX requires (e.g double dash support).

The "old" syntax feels more natural (IMHO) and is supported by many programs like git or all the GNU utilities.

[2016-04-28 15:20] eerhardt commented on #2643
Feel free to log a separate issue, as the scenario you are asking for is in direct conflict with this issue.

This issue says:

Specify --help for a list of available options and commands.
Missing value for option 'project'

You are asking to allow `-p` after "Hello". If that was allowed, failing for an empty `-p` argument would be the correct behavior.

[2016-04-28 15:32] PinpointTownes opened #2728 "Reintroduce "operands/parameters before options" support in the command line parser"
_Moved from https://github.com/dotnet/cli/issues/2643#issuecomment-215351732:_

---
## Steps to reproduce

Run `dotnet run server.urls=http://localhost:53507/ --framework net451`
## Expected  behavior

The `--framework net451` option should be recognized and should allow running the console app using .NET Framework, [exactly like it used to work before moving away from `System.CommandLine`](https:

[2016-04-28 15:32] PinpointTownes commented on #2728
_Moved from https://github.com/dotnet/cli/issues/2643#issuecomment-215445196:_
___________

@PinpointTownes - this behavior is by design. The first syntax is incorrect according to:

http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html#tag_12_02

All options should precede operands on the command line.
It may have worked before, but it wasn't intended to work.

[2016-04-28 15:33] PinpointTownes commented on #2728
_Moved from https://github.com/dotnet/cli/issues/2643#issuecomment-215351732:_
______

Well, it's not really incorrect since specifying options before operands/arguments is just "recommended", not mandatory (it's a *should*, not a *must*). And IIRC, the command lines stack already goes beyond what POSIX requires (e.g double dash support).

The "old" syntax feels more natural (IMHO) and is supporte

[2016-04-28 15:33] PinpointTownes commented on #2728
_Moved from https://github.com/dotnet/cli/issues/2643#issuecomment-215462529:_
______

Feel free to log a separate issue, as the scenario you are asking for is in direct conflict with this issue.

This issue says:

dotnet run "Hello" -p
Specify --help for a list of available options and commands.
Missing value for option 'project'

You are asking to allow -p after "Hello". If that was allowed, fai

[2016-04-28 15:37] PinpointTownes commented on #2643
I created a separate ticket: https://github.com/dotnet/cli/issues/2728 :smile:

[2016-04-28 15:49] GuardRex commented on #792
@ajaybhargavb @piotrpMSFT
 Confused ... I don't see in the commit where `content` becomes `publishInclude` ... it looks like it says `publishOptions`. What's the status on `content` becoming `publishInclude`? ... was that design changed?

https://github.com/dotnet/cli/blob/44fd8bc2de3274704e16154a91e8e0222f89b435/src/Microsoft.DotNet.ProjectModel/ProjectReader.cs#L724

[2016-04-28 15:52] anurse commented on #1409
Yeah, I think a fail-fast might be appropriate here. Effectively it's a preemptive assembly load failure. If the app ever tries to load that assembly, it's going to fail. In theory, if the app never loads the assembly it's not a problem, but I think that's a pretty odd case. Thoughts @davidfowl @pakrym ?

[2016-04-28 15:59] dazinator opened #2729 "Team City restore"
## Steps to reproduce
1. Add a NuGet package to a Team City NuGet Feed.
2. In the Team City DATA directory, in the "config" folder, create an "internal.properties" file with the following contents, and then restart Team City server.

[code]

This ensures that the Team City NuGet feed is a V2 compatible feed, rather than NuGet v1.

4. Publish some NuGet package dependency / artifact to the Team Cit

[2016-04-28 15:59] pakrym commented on #1409
If it's in `deps` it should be resolved, i'm for fail-fast.

[2016-04-28 16:01] dazinator opened #2730 "Problems with installer on Windows"
## Steps to reproduce
1. Download windows installer from here: http://dotnet.github.io/getting-started/ and install.
2. Uninstall.
3. Re-Install

## Expected  behavior
Can use `dotnet` cli from command line.

## Actual behavior
Can't find dotnetcli anywhere. Can't run dotnet cli from command line. It doesn't appear to have re-installed dotnet cli.

## Environment data
`dotnet --info` output:
![ima

[2016-04-28 16:16] smbecker commented on #2390
Looks like you can now pass in a \<PROJECT\> argument to `dotnet test` but I would think it should be consistent with other command usage in that it is `-p|--project \<PROJECT\>`.

[2016-04-28 16:19] smbecker commented on #2643
Will the fix here also apply to `dotnet test` because it would be nice to be able to send command line arguments into the test runner as well?

[2016-04-28 16:29] Eilon opened #2731 "EULA link in README.md points to an RTF file in GitHub, can't read it"
The default readme shown at https://github.com/dotnet/cli/ has a link a the bottom that points at the EULA. The link is to https://aka.ms/dotnet-cli-eula, which redirects to https://github.com/dotnet/cli/blob/master/packaging/osx/sharedframework/resources/en.lproj/eula.rtf.

Unfortunately GitHub doesn't have a viewer for RTF files, so all you see is garbled curly braces and backslashes with some t

[2016-04-28 17:02] #2695 closed

[2016-04-28 17:32] #2691 closed

[2016-04-28 17:38] Sridhar-MS opened #2734 "Windows build failure: System.IO.DirectoryNotFoundException: Could not find a part of the path 'F:\Agent\_work\2\s\artifacts\win10-x86\corehost\locked\dotnet.exe'"
Windows build failing in VSO

[TARGET     <] [FAIL] [00:01:41.808] CompileStage1                                         (Microsoft.DotNet.Cli.Build.CompileTargets.CompileStage1)
2016-04-28T17:27:54.8758491Z Build failed: System.IO.DirectoryNotFoundException: Could not find a part of the path 'F:\Agent\_work\2\s\artifacts\win10-x86\corehost\locked\dotnet.exe'.
2016-04-28T17:27:54.8758491Z    at Sy

[2016-04-28 17:46] Petermarcu commented on #2734
@Sridhar-MS should we pull out #2636 to unblock the builds assuming its related?

[2016-04-28 17:48] schellap commented on #2734
Flip variabled Dirs.CoreHostLocked to be same as Dirs.CoreHost.

[2016-04-28 18:03] Sridhar-MS commented on #2734
The change #2636 required a change in VSO build definition too because of introduction of a new target `RestoreLockedCoreHost`. After adding this target to VSO build definition I am no longer seeing the above exception.

I am also looking into how to minimize these kind of breaking changes to VSO build defintions.

[2016-04-28 18:08] schellap commented on #2734
Awesome, thanks for the investigation. Would it make sense to have a targets file which we can edit in the repo with a list of targets to do task X and not in the build definition?

[2016-04-28 18:09] ajaybhargavb commented on #792
Yes, the final decision was to change it to `publishOptions`.

[2016-04-28 18:10] eerhardt commented on #2643
The fix of allowing `--` separator was only applied to `dotnet run`.

However, you were and still are able to pass command line arguments into the test runner through `dotnet test`, it's just `dotnet test --help` doesn't say you can (#1549).

For example, if you are using xunit you can say:

[code]

to just run a single method.

[2016-04-28 18:13] #2734 closed

[2016-04-28 18:18] GuardRex commented on #792
@ajaybhargavb ... but these are not publish "options" under the standard meaning of the word ... these files (or folders) listed in this section will *actually be published* in the output. I thought the effort here was to align this section with `publishExclude`? Why was this section named this way (if you don't mind me being perhaps overly :nose: nosy! :smile: )

[2016-04-28 18:28] piotrpMSFT commented on #2728
Thanks @PinpointTownes. Lets take a broader look at parser behavior for RTM. I have a feeling we'll be collecting a few similar issues as folks experiment with the unified parser.

[2016-04-28 18:50] ciel commented on #792
Yeah... I've got to agree with @GuardRex . This makes absolutely zero sense at all.

[2016-04-28 18:53] #2424 closed

[2016-04-28 18:53] pakrym commented on #2341
Fixed by: https://github.com/dotnet/cli/pull/2337

[2016-04-28 18:53] #2341 closed

[2016-04-28 19:00] ajaybhargavb commented on #792
I assume it was done to make it consistent with `packOptions` and `buildOptions`. But didn't want to add another layer of nesting like `packOptions` has,
[code]

cc' @davidfowl @DamianEdwards

[2016-04-28 19:00] abpiskunov opened #2737 "[dotnet build] regression: latest cli fails to build xproj->csproj saying that TFMs are incompatible"
## Steps to reproduce

1. create a new core console app
2. remove default framework and package dependencies and substitute it with "net46"
3. Create new windows classlibrary with target 4.5.1
4. Wait for restore (it is workiing fine and restores csproj ok)
5. Build

## Expected  behavior

Build fine

## Actual behavior
Build error:  Compiling ConsoleApp19 for .NETFramework,Version=v4.6
2>c:\Users

[2016-04-28 19:01] Eilon commented on #2710
Un-assigning from @ajaybhargavb as this is not related to his work.

[2016-04-28 19:02] pakrym commented on #1301
Closing in favor of https://github.com/dotnet/cli/issues/66

[2016-04-28 19:02] #1301 closed

[2016-04-28 19:02] ciel commented on #792
That's a very different kind of thing than we were understanding it would have. In that context, it does make more sense.

[2016-04-28 19:03] GuardRex commented on #792
Agreed .... communication! If there isn't going to be an Annoucement, then we need the design notes in the issue or PR IMHO. Would save a lot of time and head-scratching.

[2016-04-28 19:04] Eilon commented on #2720
Un-assigning from @ajaybhargavb as this is not related to his work.

@piotrpMSFT can you find another engineer for this? Thanks!

[2016-04-28 19:05] piotrpMSFT commented on #2737
@abpiskunov can you share your repro?

[2016-04-28 19:06] pakrym commented on #1323
Closing in favor of https://github.com/dotnet/cli/issues/66