[2016-05-08 15:22] dasMulli commented on #2949
@GuardRex thanks for the input, but cross-publishing works fine. `dotnet publish -f netcoreapp1.0 -r win7-x64` produces runnable outputs for windows, however `dotnet build -f netcoreapp1.0 -r win7-x64` creates OS X output.
My point is it should either put executables / libs into the build for the targeted RID or nothing at all (if cross-building is not supported).
Browsing around the code, i think

[2016-05-08 15:44] GuardRex commented on #2949
mmm ... I see. I can't repro this behavior on Windows. `dotnet build` provided good outputs for both `win7-x64` and `osx.10.11-x64` using the command `dotnet build -f netcoreapp1.0 -r <RID>`.

[2016-05-08 16:18] dasMulli commented on #2949
@GuardRex  Interesting. I just tried it on my win10 vm and it repros giving me a
`C:\…\cli-build-artifact-issue-repro\TestApp\bin\Debug\netcoreapp1.0\osx.10.11-x64\TestApp.exe` together with `hostfxr.dll` and `hostpolicy.dll`.
Which version of the CLI did you use? I used [this project.json](https://github.com/dasMulli/cli-build-artifact-issue-repro/blob/master/TestApp/project.json), also varied us

[2016-05-08 16:24] GuardRex commented on #2949
@dasMulli I'll try your `project.json`. When I did my test, I was using my test self-contained `project.json` ...
[code]
I'll try the one you're testing now.

[2016-05-08 16:33] GuardRex commented on #2949
I'm still unable to repro it. All I did to your `project.json` was add the deps that my test self-contained app needs ...
[code]
I'm getting all good output in both directions ...
[code]

![capture](https://cloud.githubusercontent.com/assets/1622880/15099004/5a9d6d60-1510-11e6-91d4-850bdbc93e9a.PNG)

[code]

[2016-05-08 16:34] GuardRex commented on #2949
Can you check your registry for old dotnet keys and your `dotnet` folder in `Programs` and see if you have old SDK's in there?

[2016-05-08 16:38] dasMulli commented on #2949
@GuardRex will do, currently afk. I'd like to know what's in the `osx.10.11-x64` folders in your screenshots.. if it is working, there shouldn't be an `.exe` file.

[2016-05-08 16:40] GuardRex commented on #2949
![capture](https://cloud.githubusercontent.com/assets/1622880/15099056/b4328d50-1511-11e6-9ee8-ff0237123d4f.PNG)

[2016-05-08 16:45] GuardRex commented on #2949
Good ... at least its a stable bug ...

![capture](https://cloud.githubusercontent.com/assets/1622880/15099102/582c841a-1512-11e6-86a8-2b01c9818f87.PNG)

[2016-05-08 18:50] gwicksted commented on #2405
I got the same mysterious version number.  Noticed after installing the latest [CLI](http://dotnet.github.io/getting-started/#/windows) on Win 10 (previously had dnvm, dnu, dnx & about 6 versions of clr / coreclr previously installed).  Uninstalled all runtimes and tools, re-installed dotnet, cleared nuget cache and ran `dotnet new` + `dotnet update` and the problem still persists.  The new projec

[2016-05-08 20:00] piotrpMSFT commented on #2934
Fixed by #2941

[2016-05-08 20:00] #2934 closed

[2016-05-08 20:14] piotrpMSFT commented on #2952
What's the consumption plan for this script? Can't we just point folks to existing docs for enabling MU on their machines?

[2016-05-08 20:16] piotrpMSFT commented on #2917
Thanks for resolving this issue, folks!

[2016-05-08 20:16] #2917 closed

[2016-05-08 20:20] piotrpMSFT commented on #2921
It looks like there is a difference in behavior between standalone and sharedfx that needs to get resolved. Marking for RTM milestone.

[2016-05-08 20:21] piotrpMSFT commented on #2924
I chatted briefly with @weshaggard about this on Friday and he seemed to feel that the current behavior is by-design. I'll leave it to @weshaggard to comment here and to close the bug if appropriate.

[2016-05-08 20:56] piotrpMSFT commented on #2926
@mikary can you replace your imports with this? It's the exact imports we use in the CLI repo:
[code]

If you need `dotnet` and not `dotnet5.4` then please maintain the order as depicted: let `dotnet` come first.

The error shows us that a v2.0.5.0 assembly is being pulled in. This typically occurs when imports statements enable NuGet to pull in an incompatible [read: desktop] assembly dependency.

[2016-05-08 20:59] piotrpMSFT commented on #2927
@weshaggard @emgarten @rrelyea can you guys take a look? I'm not familiar with the netcore50 TFM but if we should fail at restore here then we likely need to change the NetCore.App package authoring or think about our handling of "type": "platform" in NuGet.

[2016-05-08 21:00] piotrpMSFT commented on #2928
This was fixed by #2941

[2016-05-08 21:00] #2928 closed

[2016-05-08 21:02] piotrpMSFT commented on #2953
@leecow let's chat about this offline. We need to consider the User Experience here along with UI changes.

[2016-05-08 21:11] piotrpMSFT commented on #2949
This issue is essentially a dupe of #2343, though I appreciate the thorough investigation and want to be sure @krwq confirms this full scenario is covered before he closes this as a duplicate.

We haven't fixed this yet because the issue is a bit tightly tied to tooling experiences which we don't want to destabilize before getting the next named release locked down. Before cross-publish and cross-

[2016-05-08 21:11] piotrpMSFT commented on #2949
@krwq please confirm that your fix for #2343 covers this issue fully and then close this as a duplicate. If there are gaps, let's track them in this issue.

[2016-05-08 21:14] piotrpMSFT commented on #2948
@GuardRex I noticed that the affected uninstalls are all from fairly old builds of CLI. @Sridhar-MS did a bunch of installer cleanup work last week which should have helped with some of these issues. I've not seen similar behavior when testing with recent CLI builds.

Do you see similar behavior with recent builds>

[2016-05-08 21:19] piotrpMSFT commented on #2939
@lajones thanks for filing this. We need to take a look at the tools pipeline overall to improve diagnosability. The issue is that there are 7 or so command resolution strategies in CLI and each attempts to identify the tool you are trying to run. If all of them fail, we're currently only able to display `no` helpful information, the current state, or `all` helpful information, so something like:

[2016-05-08 21:20] piotrpMSFT commented on #2919
Fixed by #2933

[2016-05-08 21:21] #2919 closed

[2016-05-08 21:21] leecow commented on #2953
@piotrpMSFT sounds good. The key consideration is that not every installation will have the Shared FX nor happen using an installer. An xcopied portable application is a prime example.

[2016-05-08 21:26] piotrpMSFT commented on #2952
Moving to rtm milestone. I see we really want #2953 in the CLI. If we do provide a guided solution for folks before that installer feature is built then this will be a sample/doc change and shouldn't be tracked against CLI RC2 milestone.

[2016-05-08 21:30] GuardRex commented on #2948
I don't think so with recent builds. I've made a note to manually check the registry and the installed sdk's next weekend. I'll close, then if things don't go well, I'll re-open next weekend.

[2016-05-08 21:30] #2948 closed

[2016-05-08 23:46] NTaylorMullen commented on #2924
@weshaggard Why do we need to target netstandard1.0 for `Microsoft.NETCore.App`?

[2016-05-08 23:47] davidfowl commented on #2924
@piotrpMSFT @weshaggard What's exactly is by design? Shouldn't it be targeting netcoreapp1.0? Seems pretty wrong that it doesn't.

[2016-05-09 00:27] GuardRex commented on #2926
I still suggest a warning on restore ... `imports` is tooooo graceful on bringing packages in so transparently. https://github.com/dotnet/cli/issues/2585#issuecomment-212479040

[2016-05-09 03:24] troydai commented on #2928
Thanks, just verified with latest install script. It works now.

[2016-05-09 07:38] dasMulli commented on #2896
It would be nice if `build`, `publish` and `run` produced the same error message.

Currently their output is:
[code]

My preference would be towards the current output of `build` (`Project '…' does not support framework: .NETFramework,Version=v4.5.2.`)

[2016-05-09 13:26] Gillardo commented on #2135
Right guys i am ready to do this, but i am lost, can someone help please?  my framework in my projects are like so

    "frameworks": {
        "net451": {
            "frameworkAssemblies": {
                "System.ComponentModel": { "type": "build" }
            }
        }
    },

Every example doesnt seem to use net451. I have tried keeping this the same and also changing the postpublish comm

[2016-05-09 14:07] MichaelSimons opened #2955 "microsoft/dotnet-preview images no longer contain the latest builds."
The microsoft/dotnet-preview images are supposed to contain the latest CLI builds.  Currently the images contain the latest -1 CLI bits.  The [logic](https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/dotnet-cli-build/PublishTargets.cs#L49) in the CLI builds that trigger the building of the new docker images is getting invoked before the "latest" tagged images are uploaded to Azure.  This looks

[2016-05-09 14:32] gkhanna79 commented on #2952
@leecow This is a pretty simple (effectively, a single line) batch script. Shouldnt the docs suffice instead of this?

[2016-05-09 16:14] moozzyk commented on #2556
@DanTup - the lowest layer of the code/bootstrapper is native and CoreClr has also a lot of native code. Currently there is no version of the bootstrapper that is compiled for ARM. The CLI portable applications can be run on different platforms as long as there is a bootstrapper and CoreClr for a given platform.

[2016-05-09 16:39] GuardRex commented on #2896
Agree with @dasMulli, but I think keeping the explicit TFM in there is helpful (parenthetically adding it to the end of the spelled-out framework name?).

[2016-05-09 16:42] leecow commented on #2952
@gkhanna79 I think documenting the short script will be fine for RC2. Wouldn't mind thinking through possible options which could enable what is needed on first app launch.

[2016-05-09 16:46] DanTup commented on #2556
Sorry, still confused :( What was it that you got working with Scott?

Could I just compile the whole thing directly on a Pi or would it likely need debugging/tweaking of native code?

[2016-05-09 16:50] weshaggard commented on #2924
This is actually a bug.

@davidfowl would you suggest we just remove the TFM from the dependencies set which would give people the most flexibility in trying to use this meta-package or should we just bind it to netcoreapp1.0?

cc @ericstj

[2016-05-09 17:19] lajones commented on #2939
Would providing a `fwlink` provide both a relatively short error message plus more details when you need them? (Also see same suggestion in #2859).

[2016-05-09 17:31] moozzyk opened #2956 "RID inheritance does not work when publishing for net451+"
## Steps to reproduce
Publish a web application for full desktop using non-win7-x* RID:

`dotnet publish -f net451 -r win8-x64`

The application will not have libuv.dll and therefore it will fail at runtime.

## Expected  behavior
Since there is not libuv for win8-x64 the one for win7-x64 should be published to the output.

## Actual behavior

Because libuv.dll was not published the application fa

[2016-05-09 17:37] blackdwarf commented on #2886
@sokket thoughts? I want to maybe tackle this soon...

[2016-05-09 17:39] sokket commented on #2886
Sure, whatever we can do to make it easily discoverable and allow people to remove us from their system easily

[2016-05-09 18:03] Tratcher commented on #2697
`Did not find a suitable dotnet SDK at 'C:\Program Files\dotnet'. Install dotnet SDK from https://github.com/dotnet/cli` on Windows7 with 1.0.0-rc2-3002673.
`--version` doesn't work either.

help and version should have native defaults if the CLI is not installed.

[2016-05-09 18:05] joshfree opened #2957 "Add Ubuntu 16.04 CLI build / packages for Preview2"
Related tracking item for CoreFX/CoreCLR 1.0.0-rtm https://github.com/dotnet/corefx/issues/7191; we're just waiting on an updated CLI

cc: @Priya91 @piotrpMSFT

[2016-05-09 18:07] joshfree opened #2958 "Add Fedora 23 CLI Build / Packages for Preview 2"
Related:
https://github.com/dotnet/corefx/issues/5990 - tracking Fedora 23 for CoreFX/CoreCLR

cc: @ellismg @piotrpMSFT

[2016-05-09 18:12] moozzyk opened #2959 "rc2 CLI used even if preview1 is installed"
https://github.com/dotnet/cli shows that the available version is 1.0.0-preview1-002700 but when I download I only get  `1.0.0-rc2-002670`.
Where do I get the latest preview1 version?
The links should be updated so that it can be downloaded.

[2016-05-09 18:15] brthor commented on #2956
@moozzyk Is this a portable desktop app?

@pakrym Might this be related to the half portable work?

[2016-05-09 18:16] pakrym commented on #2956
@moozzyk post `project.json` please

[2016-05-09 18:18] schellap commented on #2952
These are the steps that are needed AFAIK:

1. BreadcrumbStore should be [ACL'ed as in](https://github.com/dotnet/cli/blob/cb9ece20490747f52fa6e3f54b55a93a0eef8796/packaging/windows/sharedframework/sharedframework.wxs#L16)  PR #2662
2. MU should be enabled on the machine.

[2016-05-09 18:19] dasMulli commented on #2956
I only get this behavior when i don't have `"Microsoft.NETCore.Platforms" : "1.0.1-*"` in my dependencies.

[2016-05-09 18:23] ellismg opened #2960 "Allow configuration of cli settings via a JSON file"
Today, we have a collection of environment variables and XML files that provide configuration to the toolchain.  For example, we have an environment variable to to control if telemetry is reported.  We have another that you can use to change where the machine wide nuget configuration is read from (so folks can add additional sources).

It would be nice if this configuration could be centralized in

[2016-05-09 18:35] moozzyk commented on #2956
@pakrym - updated the report with project.json
@brthor  - I don't know what is portable desktop app vs. non-portable desktop app and how I express one vs. the other in the project.json.

[2016-05-09 18:41] moozzyk commented on #2959
Probably version ordering. I did install preview1 sdks but dotnet kept picking up rc2. Once I deleted rc2 sdks the latest preview1 one was picked.

[2016-05-09 18:42] pakrym commented on #2956
@moozzyk try adding `"Microsoft.NETCore.Platforms" : "1.0.1-*" ` to common or `net451` specific dependencies

[2016-05-09 18:49] davidfowl commented on #2833
Microsoft.DotNet.ProjectModel -> This should be preview as well, it's all tooling

/cc @piotrpMSFT

[2016-05-09 19:03] moozzyk commented on #2956
After adding a dependency on `"Microsoft.NETCore.Platforms" : "1.0.1-*"` publish works even if runtime is not  `win7-x64`

[2016-05-09 19:05] livarcocc commented on #2955
@MichaelSimons Is this blocking preview1? Can we trigger these builds manually for now?

[2016-05-09 19:05] moozzyk commented on #2959
There will be need some guidance about this because it will cause issues for early adopters - reopening. I think @davidfowl just hit this as well.

[2016-05-09 19:18] PinpointTownes commented on #2956
Hum, I had not realized this dependency was required even for .NET Desktop (in my defense, the fact it has `NETCore` in its name is... misleading)

Would you recommend adding this dependency in a portable app that is supposed to work on both .NET Desktop and .NET Core? (the original `project.json`, that uses the portable model, can be found here: https://github.com/openiddict/openiddict-core/tree/

[2016-05-09 19:44] balachir opened #2961 "Runtime error after add reference from xproj web app (netcoreapp) to PCL csproj with project.json (netstandard)"
## Steps to reproduce
Dev14 U2 + DotNetCore RC2 Tooling Preview1 (includes DotNetCli 1.0.0-rc2-002673) + Dev14 micro-update + Nuget 3.5-beta

1. New .NET Core Console App (xproj targeting netcoreapp 1.0) : ConsoleAppOnCore1
2. Add new Portable Class Library csproj to the solution : PortableClassLibrary1
![image](https://cloud.githubusercontent.com/assets/8246794/15125506/1213edc6-15e2-11e6-8519-37

[2016-05-09 19:44] sabastiaan opened #2962 "Ubuntu 16.04 Can't install dotnet"
~$ sudo apt-get install dotnet
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the

[2016-05-09 19:47] piotrpMSFT commented on #2833
@davidfowl I'll take this offline with you.

[2016-05-09 19:48] Sridhar-MS commented on #2962
Duplicate of https://github.com/dotnet/cli/issues/2957.
We are working on supporting the dotnet CLI on Ubuntu 16.04.

[2016-05-09 19:48] #2962 closed

[2016-05-09 19:58] rynowak opened #2963 "Error for unknown command has terminal escape codes"
## Steps to reproduce

type `dotnet rebuild` at the command line on win10

[code]
## Expected  behavior

Output doesn't have terminal escape codes
## Actual behavior

It does
## Environment data

`dotnet --info` output:

.NET Command Line Tools (1.0.0-rc2-002673)

Product Information:
 Version:     1.0.0-rc2-002673
 Commit Sha:  c0aeb91d61

Runtime Environment:
 OS Name:     Windows
 OS Version:

[2016-05-09 20:12] MichaelSimons commented on #2955
@livarcocc, No I don't see this as blocking preview1.  I had already triggered a manual build once I discovered this problem.

[2016-05-09 20:18] moozzyk opened #2964 "dotnet publish allows publishing for random RIDs when publishing for net451"
## Steps to reproduce

`dotnet publish -f net451 -r win19-x12`

project.json:

[code]

![image](https://cloud.githubusercontent.com/assets/1438884/15126674/e7b31182-15e7-11e6-9a5a-0d6d25ae8752.png)

The application is not functional - libuv.dll is not published:
Unhandled Exception: System.AggregateException: One or more errors occurred. ---> System.DllNotFoundException: Unable to load DLL 'libuv'

[2016-05-09 20:18] moozzyk commented on #2964
Kind of related issue: https://github.com/dotnet/cli/issues/2956

[2016-05-09 20:35] dasMulli commented on #2896
The root issue of the missing `1. …` line is quite simple.. classic operator precedence and associativity surprise 🎉

a set of parenthesis is needed [here]
(https://github.com/dotnet/cli/blob/f32683cbab2e5b508b91879ae8d4201dc2e17add/src/dotnet/commands/dotnet-run/RunCommand.cs#L96)
`"a" + null == null ? "b" : "c"` is always `"c"` :wink:

I'm holding off submitting a PR because there is still #2763

[2016-05-09 21:38] vcsjones opened #2965 "`dotnet run` gives null reference exception when it cannot find a project.json file."
## Steps to reproduce

Run `dotnet run --project path/to/non/existent/project.json`

## Expected  behavior

Indicates that the project.json file cannot be found.

## Actual behavior

is printed the console. That is the error message in its entirety.

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview1-002700)

Product Information:
 Version:     1.0.0-preview1-00270

[2016-05-09 21:42] joganet commented on #2924
Hi Guys, I don't know if this applies for this same issue or I should raise a new one but looks pretty close to what I have been dealing with.

we have a core library targetting to netstandard1.5 framework and another project for unit test targetting "Microsoft.NETCore.App": {"version": "1.0.0-*", "type": "platform"}

the library restore, compile and pack pretty well. (this is the project.json)
{

[2016-05-09 21:44] abpiskunov opened #2966 "[dotnet build] Can't replace MVC packages with sources"
## Steps to reproduce

Part of this verification task: aspnet/Release#10

Steps:

1) Create web app project
 2) Clone https://github.com/aspnet/Mvc
 3) Add path to Mvc\src to global.json
 4) Restore (right-click project in Solution Explorer and click "Restore packages") so VS sees new source refs (related: #528)
 5) Build

Expected: my app should compile fine and I should be able to run it.

Actua

[2016-05-09 21:45] abpiskunov commented on #2966
See related issue that was first opened for tooling: https://github.com/aspnet/Tooling-Internal/issues/530

[2016-05-09 21:48] brthor commented on #2924
@joganet I believe this is a separate issue but please share the project.json of the project referencing "MyLibrary"

[2016-05-09 21:49] weshaggard commented on #2317
No this one is currently working.

[2016-05-09 21:49] #2317 closed

[2016-05-09 21:52] joganet commented on #2924
the project.json from MyLibrary is the first project json I paste, and the second project json is the one for the unitTest project
I will share again

MyLibrary project.json
{
 "version": "1.0.0-alpha-*",
 "description": "My .Net Core Class Library",

"packOptions": {
 "content": "content/Readme.txt",
 "releaseNotes": "Review Readme.txt for details.",
 "requireLicenseAcceptance": true,
 },

"build

[2016-05-09 22:03] weshaggard commented on #2927
This is partly a manifestation of https://github.com/dotnet/cli/issues/2924 because restore should have probably failed because the meta-package doesn't support netcore50 and does contain references to things like System.Runtime.Loader which isn't supported on netcore50.

@ericstj any ideas why this didn't fail at restore time but instead at build time?

[2016-05-09 22:05] livarcocc commented on #2966
@abpiskunov The related issue link seems broken.

[2016-05-09 22:07] livarcocc commented on #2965
I don't think this is blocking RC2, so moving this to RTM.

[2016-05-09 22:10] abpiskunov commented on #2966
It has, same info i added to new issue, i just copy pasted it.

Thanks,
Anton

On May 9, 2016, at 6:06 PM, Livar <notifications@github.com<mailto:notifications@github.com>> wrote:

@abpiskunov<https://github.com/abpiskunov> The related issue link seems broken.

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/dotnet/cli/issue

[2016-05-09 22:11] livarcocc commented on #2964
@moozzyk I don't think this blocks RC2 right? Marking this for RTM.

[2016-05-09 22:18] moozzyk commented on #2964
@livarcocc - no, this is not rc2

[2016-05-09 22:21] livarcocc commented on #2966
@abpiskunov Can you give more details about your files layouts? Where is your web app in relation to the mvc src? Also, where is your global.json? Is the root for your "solution" D:\src\aspnet?

[2016-05-09 22:39] livarcocc commented on #2961
@balachir I can't restore this. Is the repro project missing a NuGet.config? I think this may be working for you because you have the packages in your local cache already. And by working, I mean restoring.

[2016-05-09 22:46] Sridhar-MS commented on #2961
Try this NuGet.Config

[code]

[2016-05-09 22:53] GuardRex commented on #2964
@moozzyk I see you have the  `NETStandard.Library` under the `net451`  TFM. Does it still exhibit this behavior if you add the `Microsoft.NETCore.DotNetHostPolicy` package to the `net451` along with `NetStandard.Library`?

[2016-05-09 23:04] GuardRex commented on #2924
@joganet You still have an rc1 package in there: `Microsoft.Extensions.Configuration.Json`. There is an rc2 package for that ... https://www.myget.org/gallery/aspnetcirelease

[2016-05-09 23:14] sivagms opened #2967 "dotnet.exe doesn't work on Nano. (unless three dlls are copied advapi32.dll, kernel32.dll and shell32.dll)"
## Steps to reproduce
Nano Machine - TP5 build
Unzip https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/1.0.0-rc2-002678/dotnet-dev-win-x64.1.0.0-rc2-002678.zip
dotnet --version

## Expected  behavior
command should return success.
## Actual behavior
[10.209.36.6]: PS C:\tmp\dotnet> .\dotnet.exe --version
.\dotnet.exe : Failed to load the dll from
[C:\tmp\dotnet\shared\Microsoft.NETCore.

[2016-05-09 23:18] NTaylorMullen opened #2968 "dotnet restore null refs instead of verbose error for malformed NuGet.config value."
## Steps to reproduce
- `dotnet new`
- Add the following `NuGet.config`

[code]
- `dotnet restore`  (can even add `--ignore-failed-sources` and still null refs)
## Expected  behavior
- Understandable error about malformed package source or error saying data could not be retrieved for package source.
## Actual behavior

[code]
## Environment data

[code]

[2016-05-09 23:22] GuardRex commented on #468
@gkhanna79 So much for getting to this by Sunday! My schedule got a little backed up. We see this now: https://github.com/dotnet/cli/issues/2967 ... which doesn't bode well for portable apps on Nano.

I only tested the self-contained application model previously. I still have a To-Do item to run tests for both app types in the coming days. I'll report back here soon.

[2016-05-09 23:29] abpiskunov commented on #2966
Please follow repro steps with default vs options and you will get all layouts for files.

Thanks,
Anton

On May 9, 2016, at 6:22 PM, Livar <notifications@github.com<mailto:notifications@github.com>> wrote:

@abpiskunov<https://github.com/abpiskunov> Can you give more details about your files layouts? Where is your web app in relation to the mvc src? Also, where is your global.json? Is the root fo

[2016-05-09 23:30] vcsjones commented on #2965
So the issue is a little different than I anticipated, perhaps the issue needs to be renamed.

The null ref is when it cannot find a project.json in the current directory if `--project` is not specified or if `-- project` is specified to a file that does not exist. If I run `dotnet run /dsf/sdfsd/sdf` and there happens to be a project.json in the current directory, it will run that.

I think the n

[2016-05-09 23:30] gkhanna79 commented on #2967
@refaati Why is this an issue if reverse forwarders are present?

[2016-05-09 23:33] gkhanna79 commented on #2967
@sivagms Which build of Nano are you using and where are you copying those 3 binaries from?

[2016-05-09 23:42] gkhanna79 commented on #2967
CC @schellap @piotrpMSFT

[2016-05-09 23:46] vcsjones commented on #2965
I pull down the source and compiled in debug. Here is the stack:

   at Microsoft.DotNet.Tools.Run.RunCommand.CalculateDefaultsForNonAssigned()
   at Microsoft.DotNet.Tools.Run.RunCommand.RunExecutable()
   at Microsoft.DotNet.Tools.Run.RunCommand.Start()
   at Microsoft.DotNet.Tools.Run.RunCommand.<>c__DisplayClass0_0.<Run>b__0()
   at Microsoft.DotNet.Cli.CommandLine.CommandLineApplication.Execu

[2016-05-09 23:54] balachir commented on #2961
Yes you can probably try the NuGet.config that Sridhar provided. The templates in Visual Studio by default do not lay down a NuGet.config. I can also share the repro machine if you need.

[2016-05-09 23:59] sivagms commented on #2967
Nano Version: 10.0.14338.1000
I'm copying the dlls from C:\Windows\System32\forwarders\

[2016-05-10 00:00] gkhanna79 commented on #2967
@sivagms Are you copying them from Nano image itself?

[2016-05-10 00:06] sivagms commented on #2967
I did remote powershell and copied the dlls -
FROM "C:\Windows\System32\forwarders\ on the nano machine"
TO "dotnet folder on nano machine"

[2016-05-10 00:18] gkhanna79 commented on #2967
@sivagms Are you able to run HelloWorld version of an app on Nano after making this change?

[2016-05-10 00:37] gkhanna79 commented on #2967
Also, @sivagms, which version of .NET Core are you using?

[2016-05-10 00:41] sivagms commented on #2967
.NET version: 1.0.0-rc2-002678
yes, I'm able to run Helloworld and Musicstore as well after copying the dlls.

[2016-05-10 01:02] sivagms commented on #2967
@SajayAntony

[2016-05-10 01:38] vcsjones commented on #2892
This is related to #2965. CLI is looking for a project.json in the current path and wants to pass "app.dll" as an argument.

[2016-05-10 02:35] piotrpMSFT commented on #2968
@emgarten @joelverhagen CLI doesn't parse NuGet.config. Are you seeing this in the xplat client?

[2016-05-10 02:40] piotrpMSFT commented on #2966
@abpiskunov can you make steps 2 & 3 more explicit? In what directory did you clone? what did you add to global.json and where [show full file]?

[2016-05-10 03:19] NTaylorMullen commented on #2968
@piotrpMSFT Yes

[2016-05-10 03:56] gkhanna79 commented on #2967
This is confirmed to be an issue with the Nano Server build.

[2016-05-10 04:11] ibrmohammed commented on #2956
@moozzyk  should we add the dependency  "Microsoft.NETCore.Platforms" : "1.0.1-*"  at the common level or at a framework level.
Also please let me know for now if I can use the dependency change  or publish it using win7-x64.

[2016-05-10 05:16] moozzyk commented on #2956
For now I would add `"Microsoft.NETCore.Platforms" : "1.0.1-*"` since this seems to fix the issue.  I guess  when this bug is resolved it will be clear whether you need to keep  `"Microsoft.NETCore.Platforms" : "1.0.1-*"`.

[2016-05-10 08:34] Gillardo commented on #2135
Right i seem to have published my site... Not it has created a new folder in myProject\bin\Debug\net451\win8-x64\publish

Now in there i have 3 folders called refs, Views and wwwroot, along with lots of dlls and a myProject.exe file.

What exactly do i need to upload to my server, everything?

[2016-05-10 08:50] GuardRex commented on #2135
@Gillardo Yes, deploy the entire contents of the `publish` folder. You will probably want to add a `logs` folder either to the project itself by adding `logs` to the `publishOptions > include` ...
[code]
You'll also need to put a dummy text file in the logs folder in your project, as `dotnet cli` will not copy an empty folder to the publish output. That's a bug that they will fix for RTM.

Your ot

[2016-05-10 09:17] cwe1ss commented on #2835
This is fixed in the current version (1.0.0-preview1-002700)! Is there anything left you want to do on this issue? Feel free to close it, if not.

thanks guys!!

[2016-05-10 10:39] danpantry commented on #2190
:+1: this is extremely annoying. The worst part is that I have developed some code at home that works except for some services not working because I'm not on the corporate network, but as soon as I'm on the corporate network I can't run the project because the network is blocking NuGet unless it's through the proxy.. which `dotnet restore` is ignoring!

If there's anything I can do to help contrib

[2016-05-10 11:12] synercoder commented on #2556
I am also working with my Raspberry Pi's to try to get dotnet working on them. I have RPi 2 and RPi 3. I have been tinkering with both Raspian Jessie and Windows 10 IoT core. I have yet to gain some results, but i'll keep tinkering.

[2016-05-10 12:13] Gillardo commented on #2135
Yep installed ASP.NET Core Module already...still nothing. Doesnt create a log or anything, just returns the very stupid, unhelpful

![image](https://cloud.githubusercontent.com/assets/7406381/15146004/c844ff3a-16b0-11e6-9da6-b0e86d353fcd.png)

[2016-05-10 14:41] harikm86 commented on #2190
Can you try setting the Proxy settings in nuget.config? More information available here https://docs.nuget.org/consume/nuget-config-settings#proxy-settings

[2016-05-10 14:47] GuardRex commented on #2135
@Gillardo It actually should be creating the log with that Details Error Information (i.e., I can see the Module there).

If there is no log created, then it's likely that the path provided to `stdoutLogFile` doesn't exist. Now under these conditions if it has a good path to provide a log file, I expect it will create the file but that the file will be empty. Then, you have to check ...

Does the

[2016-05-10 15:18] olliholliday commented on #2556
I'm also using CLR for a console app on a pi2 - currently using mono rc2 with dnx 4.5.1 - and it's all working great. I'm interested in knowing about what options I'll have for using the newer stuff going forwards though.

It sounds way out of my comfort zone to attempt anything myself but, if needed, I'd be a very willing tester / experimenter for anybody wanting to have a crack.

[2016-05-10 15:27] olliholliday commented on #2556
I'm using PI2s with mono rc2 and dnx4.5.1 on raspbian jessie at the moment and it's all great, I'm interested in knowing what my options are going forwards though. I'd like to be able to use the new stuff in future. Stuck with linux as I need hardware accelerated display.

It's out of my comfort zone to try it myself but, if needed, I'd be a willing tester / experimenter for somebody wanting to ha

[2016-05-10 15:31] danpantry commented on #2190
I did try that, unfortunately, though that may be more of an issue with our set up than the cli.

[2016-05-10 15:35] Gillardo commented on #2135
This is now what my web.config file looks like, which i believe is ok.  The stdLogoutFile was set to False, i have now set it to true, but still no logs created.
[code]
My folder structure is

webRoot
  |-- logs
  |-- refs
  |-- Views
  |-- wwwroot
  |  dlls and 1 .exe file which is named the same as my project

My IIS is configured to look at the physical path as the wwwroot folder within my webR

[2016-05-10 15:39] Gillardo commented on #2135
Well i have nearly got it working.... I have changed the paths in the web.config file to ..\ instead of .\
since the exe file and the logs folder is in the folder above the wwwroot.  Not sure if this is a bug or should i have set something before publishing? But now i have updated the paths in the web.config and thought it was working, none of my MVC Views are not being found?

I have to laugh or

[2016-05-10 15:43] Gillardo commented on #2135
Dont understand why on my machine (running with `dotnet run`) my contentroot is C:\Path, yet publishing and uploading to the server, the contentRoot is C:\Path\wwwroot

[2016-05-10 15:49] moozzyk commented on #2135
@Gillardo - to make it easier. Move web.config from wwwroot to the folder where your application is and (you would need to reconfigure your IIS accordingly) then change the paths back to be `.\` instead of `..\`. Once you make it work we may work on moving it back to wwwroot. The issue is that if the web.config is in wwwroot Views are resolved relative to this path and not to the path where you ap

[2016-05-10 15:55] Gillardo commented on #2135
@moozzyk STAR!  I changed my IIS to point to the application, and not the wwwroot folder, then moved the web.config into that same folder and it works.  Thanks again!

[2016-05-10 15:55] #2135 closed

[2016-05-10 16:12] GuardRex commented on #2135
:+1: If you are interested in the topic of having the physical path point to warrior, see the discussion at https://github.com/aspnet/IISIntegration/issues/164

[2016-05-10 16:13] abpiskunov commented on #2966
I am a bit surprised why that matters and why you don't "just try to do it".. I tried this repro steps as they were assigned to a bug for my team and was able to repro it within 5 mins, but extra questions in this issue postponed investigation for 1 extra day already. I am not trying to be a "smart ass", but really it is just a pattern I noticed for some cli issues... Below is my global.json and a

[2016-05-10 16:14] GuardRex commented on #2135
^^^ warrior ... wwwroot ... stupid phone! :smile:

[2016-05-10 16:16] joganet commented on #2924
Thanks GuardRex, I didn't have that feed, and last week we were told that an RC2 will be released shortly

just another question due to this update (besides the others about the project.json issue) I updated the dependendy to     "Microsoft.Extensions.Configuration.Json": "1.0.0-rc2-20852",
and now when I try to build throw two exceptions related to the object "Type" that doesn't have the method o

[2016-05-10 16:19] Eilon commented on #2135
@GuardRex fixed it for ya! 😄

[2016-05-10 16:23] moozzyk commented on #2135
why? warrior was amusing ;)

[2016-05-10 16:35] patrickjamesbarry commented on #2510
On NET Command Line Tools (1.0.0-preview1-002700), and this is still an issue. Can we get an update on this issue?

[2016-05-10 16:45] yishaigalatzer commented on #2510
Everything is already merged. So we will need more info from you, like a fiddler trace, exact version of Nexus and any particular instruction you can provide us to try and repro this in details.

CC @rrelyea

[2016-05-10 16:52] rustd opened #2970 "Update dot-new templates to move NetCoreApp Dependency into tfm-specific dependendencies"
## Steps to reproduce
We are updating the Web templates for RC2. See this issue for details https://github.com/aspnet/Templates/issues/544
The class/ console templates for dotnet new should follow the same pattern

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2016-05-10 17:00] GuardRex commented on #2924
@joganet That package falls under Configuration. Try asking there, and they'll prob be able to help. https://github.com/aspnet/Configuration/issues

[2016-05-10 17:13] joganet commented on #2924
Thanks GuardRex but actually I already resolved, it was the TypeExtensions dependency

Any clue why I can't do a restore in my test project.json? (the update o the dependency in rc1 will not fix the problem)

[2016-05-10 17:21] PinpointTownes commented on #2966
@abpiskunov have you tried to escape your absolute path?

`D:\\git\\ms\\aspnet\\Mvc\\src`

[2016-05-10 17:27] GuardRex commented on #2924
@joganet If you're still getting the same conflicting requests on the same version as you showed in the TXT file of output above, no, I don't know the exact cause of that.

When I freeze package versions, what I usually do is float all of the versions first for both my NuGet package and my main app (e.g., wildcard `-*` versions on all packages and use the CI Release feed so that I only get RC2 pac

[2016-05-10 17:28] joepeer opened #2971 "Executing stand alone app with sudo gives Failed to initialize CoreCLR, HRESULT: 0x8007001F"
## Steps to reproduce

dotnet new
Modify project.json to make a standalone app:
1.  Remove type: "platform" for Microsoft.NETCore.App"
2.  Add runtimes section.  Ex:

[code]
1.  dotnet restore
2.  dotnet publish -r ubuntu.14.04-x64
3.  sudo ./bin/Debug/netcoreapp1.0/ubuntu.14.04-x64/publish/helloworld
## Expected  behavior

Hello World! should be printed in console
## Actual behavior

Failed to in

[2016-05-10 17:34] abpiskunov commented on #2966
I did not and it does not matter, all projects are found just fine and are being restored, built etc. However see at where "dotnet build" tries to find their binaries under RID subfolders bin\Debug\netstandard1.5, but they actually being built under artifacts.

So it does not matter how they are specified in global.json.

[2016-05-10 17:35] abpiskunov commented on #2966
1 sec - when I pasted GitHub changed \ symbols , I did have escaped ones

[2016-05-10 17:42] livarcocc commented on #2970
@piotrpMSFT @blackdwarf Should we take this for RC2? Seems like a change that is happening in ASP.NET.

[2016-05-10 17:47] joganet commented on #2924
so there is no problem at all between netstandard.1.5 (library) and netcoreapp1.0 (unit test) is what you say?
we currently don't have yet the library in nuget or any internal nuget server, but I will try, I know the package has been detected because it detect the interntald ependencies and is when it says that it can't satisfy the cconflicting request (error: Unable to satisfy conflicting request

[2016-05-10 17:53] GuardRex commented on #2924
@joganet That's correct. You do have the TFM's correct. My packages are `netstandard1.5`, and my apps are `netcoreapp1.0`. Yeah ... unfreeze and perhaps check for lingering old SDK's and `dotnet cli`'s in `Programs & Features`.

Worst case scenario is that you'll have to put up a repro so that a MS dev can pull it down and see what's what with the problem. They're monitoring our conversation :eyes

[2016-05-10 17:56] blackdwarf commented on #2970
For preview 2? Sure, why not, this is a very small change. I will do it (since I've already been doing the work there).

[2016-05-10 18:05] blackdwarf commented on #2970
@piotrpMSFT @rustd so, to be more clear, this change can only come in RC2 - Preview 2, not the current one (Preview 1), since it would reset the escrow build and I don't think the change is that important.

[2016-05-10 18:07] piotrpMSFT commented on #2970
Updating milestone to rtm.

[2016-05-10 18:07] livarcocc commented on #2970
@piotrpMSFT Yes. Though we probably need a preview2 milestone.

[2016-05-10 18:07] piotrpMSFT commented on #2970
yep, will set one up today.

[2016-05-10 18:09] blackdwarf commented on #2970
Yep.

[2016-05-10 18:21] lajones opened #2972 "Runing a Tool with dependency on a different version of Newtonsoft.Json gives FileNotFoundException"
## Steps to reproduce
1 File|New Project|.NET Core|Console Application (.NET Core)
2 Call it `dotnet-ToolWithDependencyNetCore1_0`
3 Install-Package `Newtonsoft.Json -Version 7.0.1`
4 Add dependency on e.g. `JsonSerializer` into `Program.Main()` so that the tool depends on `Newtonsoft.Json v7.0.1`and also add a `Console.WriteLine("Hello from dotnet-ToolWithDependencyNetCore1_0")` so you can tell i

[2016-05-10 18:23] patrickjamesbarry commented on #2510
Artifactory (Cloud subscription)
Mac 10.10.5
NET Command Line Tools (1.0.0-preview1-002700)
Mono JIT compiler version 4.2.3

I think I found the problem. The auth header is not getting set correctly.
**Authorization: Basic Og==**

I have confirmed that my credentials are set correctly and even tried 2 different ways. Encrypted vs Clear text.  Everything works when I run nuget restore, which uses t

[2016-05-10 18:23] davidfowl commented on #2972
This isn't a cli bug the tool is broken because dependencies are missing

[2016-05-10 18:23] #2972 closed

[2016-05-10 18:32] Sridhar-MS opened #2973 "Reenable publishing debian packages to the debian Repo feed"
As we move to preview2 I am disabling publishing the *.deb files into the debian repo. Because we do not want higher version (preview2) to override the preview1 builds. Once we find the right production feed for the preview1 *.deb file we can start publishing the preview2 *.deb files into the debian repo feed.

[2016-05-10 18:33] #36 closed

[2016-05-10 18:35] lajones commented on #2972
Note: You can solve this problem by adding the `aspnetrelease` feed to your `Nuget.config` and adding a dependency on `"System.Runtime.Serialization.Primitives": "4.1.1-rc2-24018"` but I would have thought that that should not be necessary?

[2016-05-10 18:36] piotrpMSFT commented on #134
This hasn't had activity for a long time. Closing.

[2016-05-10 18:36] #134 closed

[2016-05-10 18:40] piotrpMSFT commented on #159
Interesting idea. I'd like to look into this when we have some free time.

[2016-05-10 18:41] shahid-pk commented on #2556
coreclr has made very good progress on linux arm , thanks to contributions from the community. People from the community are tracking the progress here.
https://github.com/dotnet/coreclr/issues/3977

I think manually building coreclr on arm and using that build to built this repo can be made possible. But i think to make cli functional on linux will also need some changes to corefx, mainly publish

[2016-05-10 18:41] Sridhar-MS commented on #2971
Can you try?
1. dotnet restore
2. sudo dotnet publish -r ubuntu.14.04-x64
3. sudo ./bin/Debug/netcoreapp1.0/ubuntu.14.04-x64/publish/helloworld

[2016-05-10 19:05] Gillardo commented on #2135
Lmao...i really asked myself "warrior?"
On 10 May 2016 5:24 p.m., "Pawel Kadluczka" <notifications@github.com>
wrote:

[2016-05-10 19:21] alpaix commented on #2510
@patrickjamesbarry Encrypted passwords are not supported on CoreCLR due to missing System.Security.Cryptography assembly. Can you try with clear text password section only?

[2016-05-10 19:27] patrickjamesbarry commented on #2510
I tried both (separately) with neither working.

[2016-05-10 19:32] joepeer commented on #2971
Yes doing sudo dotnet publish works also.

[2016-05-10 19:50] livarcocc commented on #2971
@joepeer I don't think this is an RC2 issue so I am parking it under RTM. Let me know if you disagree.

[2016-05-10 20:25] brthor commented on #2971
My first guess is that we only set up permissions for the current user, which I'm not sure is wrong here.

@joepeer Could you share `ls -l` of your output directory.

[2016-05-10 20:42] brthor commented on #2973
cc @blackdwarf

[2016-05-10 20:50] blackdwarf commented on #2973
@Sridhar-MS this means that users will ever only be able to get preview 1 bits from the apt-get feed?

[2016-05-10 20:52] brthor commented on #2973
@blackdwarf My understanding is that would the plan for the prod feed right? Until we release preview2?

The preview feed would just have whatever the latest is after we re-enable this.

[2016-05-10 20:54] Sridhar-MS commented on #2973
The idea is to not override the preview1 with preview2 build in the apt-get feed. At least until we are ready to ship preview2.

[2016-05-10 20:57] joepeer commented on #2971
ls -l ./bin/Debug/netcoreapp1.0/ubuntu.14.04-x64/publish/
total 49760
-rwxrw-r-- 1 da da 8294560 Apr 26 21:09 libcoreclr.so
-rwxrw-r-- 1 da da  673656 Apr 26 21:09 libcoreclrtraceptprovider.so
-rwxrw-r-- 1 da da 1007272 Apr 26 21:09 libdbgshim.so
-rwxrw-r-- 1 da da  910658 May  8 21:23 libhostfxr.so
-rwxrw-r-- 1 da da 1139345 May  8 21:23 libhostpolicy.so
-rwxrw-r-- 1 da da 3544504 Apr 26 21:09 li

[2016-05-10 21:05] schellap opened #2974 "Use UTF-8 strings for CoreCLR APIs"
This is to track corresponding CLI side of changes required after https://github.com/dotnet/coreclr/issues/4634 is fixed.

Cc @janvorli

[2016-05-10 21:06] Sridhar-MS opened #2975 "Update the Microsoft.NETCore.App dependency from rc2 to rc3 for tests"
The following tests need to be updated from rc2 to rc3 for the Microsoft.NETCore.App dependency

cli\TestAssets\TestProjects\PortableTests\StandaloneApp\project.json
cli\TestAssets\TestProjects\ProjectsWithTests\MultipleFrameworkProject\project.json
cli\TestAssets\TestProjects\ProjectsWithTests\NetCoreAppOnlyProject\project.json

Since they need real RC3 package from the myget feed they have to be

[2016-05-10 21:06] brthor commented on #2973
@Sridhar-MS we will override preview 1 in the preview apt-get feed I thought? In prod it will not be overridden?

[2016-05-10 21:10] joepeer commented on #2971
As soon as I do chmod +X to my binary (here it's tata) it works.

It's really the error message that didn't make it clear that it was missing the executable permission on my binary.

[2016-05-10 21:17] Sridhar-MS commented on #2973
But do we have a prod feed yet?

[2016-05-10 21:24] BillWagner opened #2976 "CLI is buffering console output on 'dotnet run'"
## Steps to reproduce

Run the finished tutorial for this sample: https://github.com/dotnet/core-docs/tree/master/docs/tutorials/getting-started-with-csharp/console-teleprompter

It's been updated for RC2 on this fork / branch: https://github.com/BillWagner/core-docs/tree/RC2UpdatesForCSharpTutorials
## Expected  behavior

Each word should be echoed, with a pause between each word. You can see thi

[2016-05-10 21:25] piotrpMSFT commented on #66
This is tracked by NuGet/Home#2470

[2016-05-10 21:25] #66 closed

[2016-05-10 21:26] #236 closed

[2016-05-10 21:27] piotrpMSFT commented on #250
This was fixed in preview1.

[2016-05-10 21:27] #250 closed

[2016-05-10 21:28] billwert commented on #2976
This is probably #2777

[2016-05-10 21:28] natemcmaster commented on #1508
Probably a naïve question, but is there a reason we can't bundle libssl in the pkg installer for osx?

[2016-05-10 21:28] piotrpMSFT commented on #254
@blackdwarf can you add this table to our docs and close the issue?

[2016-05-10 21:32] lajones commented on #2972
Note: this happens on Windows 10 x86 but not on Windows 10 x64.

[2016-05-10 21:35] ellismg commented on #1508
From a technical standpoint, we could make this work.  The concerns are around servicing (there's a bug in libssl and we are on the hook for servicing it) and there's some additional internal procedure we'd need to go through to try to get approval to do this (and it's not even a given).

[2016-05-10 21:43] smitpatel commented on #2926
Using following imports works fine.
[code]

[2016-05-10 21:50] PinpointTownes commented on #2956
@piotrpMSFT backlog? I'm pretty sure it's not coherent with what @davidfowl said earlier today about the fact this package won't be required for apps and that it should be fixed for RTM.

https://github.com/aspnet/Templates/issues/544#issuecomment-218216692

[2016-05-10 21:52] markwilkie commented on #1218
@dagood is point person on this effort and has made excellent progress.

[2016-05-10 22:06] blackdwarf commented on #254
All of this exists in the docs now. The migration guide covers this: http://dotnet.github.io/docs/core-concepts/dnx-migration.html. Closing, please file an issue on dotnet/core-docs if more info is needed.

[2016-05-10 22:06] #254 closed

[2016-05-10 22:11] livarcocc commented on #2926
What is expected of the CLI in this case? It is up to NuGet how it handles the imports.

[2016-05-10 22:20] pranavkm opened #2977 "dotnet restore does not update lock file for tools when imports are modified"
Restore caches the lock file and does not rebuild it if imports changes (which might cause the dependency graph to be rebuilt).

`dotnet --version`: `1.0.0-preview1-002700`

[2016-05-10 23:03] livarcocc commented on #2977
@pranavkm This seems like a NuGet bug. Can you open a bug there and close this one in favor of it?

[2016-05-10 23:03] brthor commented on #2977
@pranavkm Is it definitely the lock file and not deps file which is not being rebuilt?

[2016-05-10 23:07] pakrym opened #2978 "Tools deps file should not be cached in global location"
Changing tool imports produce different lock file but `deps` file is never regenerated. Customer need to remove deps file manually to force regeneration.

@davidfowl @piotrpMSFT

[2016-05-10 23:08] pakrym opened #2979 "Tools lock file should not be written to global location"
Changing tools import would produce different lock files which will conflict if storing in global location.
@davidfowl  @piotrpMSFT

[2016-05-10 23:11] #22 closed

[2016-05-10 23:11] livarcocc commented on #2427
@BillHiebert Did increasing the time out solve this problem?

[2016-05-10 23:18] livarcocc commented on #2483
@eerhardt What is the work left here?

[2016-05-10 23:20] eerhardt commented on #2483
The unchecked box in the issue description:

- [ ] compile-csc should invoke the actual C# compiler in the same process

[2016-05-10 23:23] piotrpMSFT commented on #275
I just verified and this is now fixed with a nice error message.

[code]

produces

[code]

[2016-05-10 23:23] #275 closed

[2016-05-10 23:24] piotrpMSFT commented on #300
`-?` is no longer a supported option.

[2016-05-10 23:25] #300 closed

[2016-05-10 23:25] livarcocc commented on #2483
@eerhardt I was under the impression from your comment 4 boxes above that we had found a way around that. A way that handled the problem and therefore we didn't need to invoke the C# compiler in-proc. I guess not.

[2016-05-10 23:27] Sridhar-MS commented on #1654
We are producing signed installers every builds.

[2016-05-10 23:27] #1654 closed

[2016-05-10 23:30] Sridhar-MS commented on #1700
SharedFx bundle is now side-by-side and we should be not be facing any upgrade issues.

[2016-05-10 23:30] #1700 closed

[2016-05-10 23:37] Sridhar-MS commented on #878
We have already removed the check for `ReleaseSuffix` from the installers. This is no longer applicable.

[2016-05-10 23:37] #878 closed

[2016-05-10 23:44] Sridhar-MS commented on #1315
@joshfree I think we longer need this since we do not produce any Ubuntu 15.10 coreclr packages and I see that 15.10 is not an LTS release.

https://wiki.ubuntu.com/Releases

[2016-05-10 23:45] piotrpMSFT commented on #354
HOME env var is no longer necessary

[2016-05-10 23:45] #383 closed

[2016-05-10 23:45] yishaigalatzer commented on #2510
We have a proper repro, thanks!

@spadapet and @alpaix are working on a fix.

CC @rrelyea

[2016-05-10 23:48] pranavkm commented on #2977
Sorry, I think it's the deps file. @pakrym might have more info on this.

[2016-05-10 23:55] muratg commented on #2427
Also, did anyone repro this on a *second* project creation? If it's just a time out problem, wouldn't it occasionally fail in the second time too? (AFAIK it doesn't repro after the first time.)

[2016-05-10 23:58] Sridhar-MS commented on #1429
We longer do any major upgrades and should not be facing this issue now.

[2016-05-10 23:58] #1429 closed

[2016-05-11 00:02] Sridhar-MS commented on #1713
@natemcmaster please reopen the issue if your still facing it.

[2016-05-11 00:02] #1713 closed

[2016-05-11 00:03] Sridhar-MS commented on #2073
This no longer repros.

[2016-05-11 00:03] #2073 closed

[2016-05-11 00:04] #307 closed

[2016-05-11 00:13] Sridhar-MS commented on #1485
https://github.com/dotnet/cli/issues/2343 is tracking cross-plat build. So closing this issue.

[2016-05-11 00:13] #1485 closed

[2016-05-11 00:16] pakrym commented on #2977
`deps` file is not rebuild

[2016-05-11 00:20] Sridhar-MS commented on #2250
Actually closing this issue now.

[2016-05-11 00:20] #2250 closed

[2016-05-11 00:24] #470 closed

[2016-05-11 00:26] Sridhar-MS commented on #2464
@weidazhao A lot of fixes went into the windows installer last couple of weeks. Please try with the latest builds - https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0-preview1-002700/dotnet-dev-win-x64.1.0.0-preview1-002700.exe and reopen the issue if you are still facing it.

[2016-05-11 00:26] #2464 closed

[2016-05-11 00:29] piotrpMSFT commented on #518
This is a nuget/home issue, and it is something they have said is not in scope for NuGet.

[2016-05-11 00:29] #518 closed

[2016-05-11 00:40] Sridhar-MS commented on #2918
We are adding support for Fedora 23 - https://github.com/dotnet/cli/issues/2958
So closing this issue.

[2016-05-11 00:40] #2918 closed

[2016-05-11 00:47] Sridhar-MS commented on #2807
Closing it as a duplicate of https://github.com/dotnet/cli/issues/2965

[2016-05-11 00:47] #2807 closed

[2016-05-11 00:52] #541 closed

[2016-05-11 00:53] piotrpMSFT commented on #546
This is fixed.

[2016-05-11 00:53] #546 closed

[2016-05-11 00:54] piotrpMSFT commented on #628
we are now on netstandard1.x. This is no longer needed.

[2016-05-11 00:54] #628 closed

[2016-05-11 00:55] brthor commented on #2979
cc @joelverhagen @emgarten

This is a design issue with imports in tools. The package graph of an individual tool is dependent on the project and is not global because of imports.

As long as we have imports I think we must move the lock file/deps file to be project local to solve this issue.

[2016-05-11 00:55] piotrpMSFT commented on #652
This is fixed.

[2016-05-11 00:55] #652 closed

[2016-05-11 00:57] brthor commented on #2821
@schellap Both of your posted version strings appear to be the same, is that just a mistake?

[2016-05-11 00:58] #668 closed

[2016-05-11 01:01] btrepp opened #2982 "dynamic attribute not in netstandard? What package is required."
## Steps to reproduce

dotnet restore
dotnet build

in project that uses dynamic

## Expected  behavior

Project compiles

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

I've tried to add the dynamic attributes in via below. But that doesn't seem to work.
What package is required to use dynamic in netstandard?.
[code]

[2016-05-11 01:06] schellap commented on #2821
Just to illustrate the message, the issue exists.

[2016-05-11 01:07] piotrpMSFT commented on #686
Dupe of #655

[2016-05-11 01:07] #686 closed

[2016-05-11 01:16] #692 closed

[2016-05-11 01:17] brthor commented on #2821
Alright, I'll take a look

[2016-05-11 01:35] btrepp commented on #2982
So apparently I needed "System.Dynamic.Runtime":"4.0.11-rc3-24110-00"

[2016-05-11 01:35] #2982 closed

[2016-05-11 02:08] ramarag opened #2983 "Localization files are not bin placed"
When a .net "legacy" library is referenced from an application targeting net46, the localized resources are not working properly, and neutral culture resources are being used.

Steps to reproduce: https://gist.github.com/joplaal/5e7399d126f2bd79336a65569932fbd1

(A console app using FluentValidator, that has resources in spanish)

Targeting dnx46, with dnx run, works properly. But targeting net46

[2016-05-11 02:33] 18583690825 opened #2984 "Unable to load DLL 'sqlite3': The specified module could not be found. On CentOS7.2 using corecli."
## Steps to reproduce
As the title:

Compilation succeeded.
    132 Warning(s)
    0 Error(s)
Time elapsed 00:00:06.5318837
Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'sqlite3': The specified module could not be found.
 (Exception from HRESULT: 0x8007007E)
   at Microsoft.Data.Sqlite.Interop.NativeMethods.sqlite3_open_v2(IntPtr filename, Sqlite3Handle& ppDb, Int32 flags,

[2016-05-11 05:16] Challagolla opened #2985 "Not able to success using dotnet restore in windows 10 x64"
## Steps to reproduce
Installed the latest .NET Core SDK Installer from https://github.com/dotnet/cli.
run dotnet restore
## Expected  behavior
restore should be successful

## Actual behavior
getting the following errors

error: Microsoft.AspNetCore.Server.IISIntegration.Tools 1.0.0-rc2-20832 is not compatible with DNXCore,Version=v5.0.
error: Some packages are not compatible with DNXCore,Version

[2016-05-11 05:32] GuardRex commented on #2985
@Challagolla Are you trying to update an RC1 app to RC2?

[2016-05-11 05:34] GuardRex commented on #2985
Note that you need to go with latest version of `dotnet cli`. Since you look like you tried to get the latest from the `rel/1.0.0` branch at GH, I bet you are running into this issue: https://github.com/dotnet/cli/issues/2948

Also, I have some links that might help if you're performing a project upgrade to RC2: https://github.com/dotnet/cli/issues/2135#issuecomment-212692267

[2016-05-11 05:44] Challagolla commented on #2985
@GuardRex I am not trying to update form RC1 to RC2. i have been working on RC2 only. I have restored the same application on windows 8.1 x64 machine but, when i run the dotnet restore on windows 10 x64, i am getting the problem. i will check based on the above mentioned issues.

[2016-05-11 05:52] GuardRex commented on #2985
@Challagolla Ok, yeah. Since you're seeing that -1598 version ... and perhaps you already tried using `Programs and Features` to get rid of old `dotnet cli`'s ... if that's still lingering ... yeah ... you'll have to do some manual work there to reset and dump old bits. That should get you up to latest, then with sime luck :four_leaf_clover: things will go well after that.

[2016-05-11 07:29] tmds commented on #2727
@davidfowl Is there some up-to-date documentation on project.json? I constantly find myself changing this file until stuff builds.

[2016-05-11 07:53] dasMulli commented on #2727
http://json.schemastore.org/project

It has just been updated yesterday.

[2016-05-11 08:23] tmds commented on #2727
@dasMulli Good for validating, less for understanding. Need a bigger picture to understand things like: when do you need a runtimes section (and what RIDs are there)? What is the "Microsoft.NETCore.App dependency? How does a typical project.json look for a library and for an application? What is "preserveCompilationContext"? ...

[2016-05-11 08:28] dasMulli commented on #2821
Possibly a duplicate of #2949 (which is/may be a dupe of #2343).

`..\win7-x64\publish` should contain the correct host binaries.
The `build` step just copies over the cli's own host binaries.

[2016-05-11 09:53] jtbm37 commented on #1732
@blackdwarf the workaround for win7 in virtualbox is not working for me anymore. I cannot restore even though the virtualbox host adapter has been disabled (and completely removed)

`$ dotnet --info`
[code]

[2016-05-11 11:58] GuardRex commented on #2727
@tmds Docs are WIP and on the way, but I have some links at https://github.com/dotnet/cli/issues/2135#issuecomment-212692267. Some of your questions are answered by the app types doc, and there are some other docs in the cli repo `Documentation` folder. There are some good basic explanations at https://docs.asp.net/en/latest/ under `Conceptual Overview` and `Fundamentals`. [Keep in mind that RC2 m

[2016-05-11 12:14] DavidADoran commented on #2190
I'm seeing a similar thing when using DNU on Ubuntu. The corporate proxy normally expects Active Directory credentials, so in order to get anything to work, curl, dnu etc., I've had the guys grant my Ubuntu VM exemption from the credential check.

That made things work OK until I updated to 1.0.0-rc1-update1, where it now fails. I have both versions of DNX on there:
[code]
When using beta7, dnu re

[2016-05-11 13:09] fubar-coder commented on #2618
@binoypatel This issue is still closed, you may want to re-open it, when it's not resolved.

[2016-05-11 13:23] tmds commented on #2727
@GuardRex I found this interesting article: http://dotnet.github.io/docs/core-concepts/app-types.html, but it doesn't cover libraries, created a doc issue: https://github.com/dotnet/core-docs/issues/427

[2016-05-11 13:44] GuardRex commented on #2727
@tmds Yep ... but just as well they didn't do too much work on docs with all of the design. Bascially, the GH issues **ARE** the best docs. It's just that there is a lot there to consume. You can get a rundown in the Annoucements for RC2 of breaking changes: https://github.com/aspnet/Announcements/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0-rc2

Your question about the platform standard is ans

[2016-05-11 13:53] blackdwarf commented on #1732
@emgarten can you check if this regressed?

[2016-05-11 13:56] GuardRex commented on #2727
@tmds So here's a hack Email lib that is to tide me over to `System.Net.Mail` for Core CLR.

https://github.com/GuardRex/Email

This is compiled with `dotnet pack`. It is consumed in my apps by ...
- Create a local NuGet feed or point a NuGet feed line directly to the output folder in this Email project. (e.g., `<add key="LocalEmail" value="C:\_APPLICATIONS\Email\bin\Release" />`).
- Add `"Email":

[2016-05-11 13:58] blackdwarf commented on #1732
Hm, I cannot repro it on my box. @jtbm37 what is the version of VBox that you have installed?

[2016-05-11 14:00] jtbm37 commented on #1732
@blackdwarf 5.0.20 r106931

[2016-05-11 14:57] blackdwarf commented on #1732
Yes, my VBox is in 4.3.x range. Interesting...

[2016-05-11 15:45] joelverhagen commented on #2979
@brthor, is the global lock file really needed? Can't the hosting project's lock file be inspected for the interesting bits of information, i.e. the `"tools"` and `"projectFileToolGroups"` sections in the lock file.

[2016-05-11 16:27] #2692 closed

[2016-05-11 16:27] #2942 closed

[2016-05-11 17:01] dagood commented on #1218
From my point of view (not knowing much about native parts of CLI) this issue would be about CoreCLR, since I don't believe we strip out symbols from the CoreFX native libs right now.

In CoreCLR, release builds strip out symbols into a symbol package alongside the library package, but the TFS build ignores these packages and builds its own that doesn't include the symbols. The build pipeline will

[2016-05-11 17:03] mikem8361 commented on #1218
@wtgodbe is working on exactly that: getting the coreclr switched to the new build pipeline and is making sure the symbol packages are being published.

[2016-05-11 17:08] wtgodbe commented on #1218
Part of the build pipeline for CoreCLR includes publishing symbol packages to the Azure portal. You can see an example of that here - Check blob 20160510-01 or 20160510-02<https://ms.portal.azure.com/#blade/Microsoft_Azure_Storage/ContainersBlade/storageAccountId/%2Fsubscriptions%2F06962174-fd78-47a2-9cf5-96d1e3975117%2FresourceGroups%2Fdotnetbuild%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts

[2016-05-11 17:13] schellap opened #2986 "Allow zero day servicing opt outs"
We have opt out for SharedFX through patch roll forward flag which can be turned off. For pre-release we only roll forward within pre-releases if specified SharedFX doesn't exist.

For zero-day there is no opt-out in RC2.

[2016-05-11 17:44] halter73 commented on #2277
We have created a Libuv 1.9.0 package which is currently being published to myget.org/F/aspnetrelease/ and will be published to nuget.org for RC2. We would still like to include this in the redist for RTM.

[2016-05-11 17:50] vcsjones commented on #2965
This is fixed by #2980.

[2016-05-11 17:50] #2965 closed

[2016-05-11 17:54] muratg commented on #2277
:eyes:

[2016-05-11 17:57] vcsjones commented on #2959
I hit this too on OS X. I torched everything and installed from scratch, then everything worked correctly.

[2016-05-11 17:59] brthor commented on #2821
@dasMulli Publish uses different logic to output the host than build for cross-os scenarios.

So this issue shouldn't be a dupe.

[2016-05-11 18:00] brthor commented on #2979
@joelverhagen That's a good solution but wouldn't we then need an entire lock file for the tool inside the lock file for the project?

[2016-05-11 18:16] danquirk opened #2987 "Update EULAs for new privacy policy links"
There are pending changes to the EULA in https://github.com/dotnet/cli/pull/2478 which are associated with previously merged telemetry changes (from a few different PRs). This issue simply tracks merging that PR.

[2016-05-11 18:21] vcsjones opened #2988 "Installing packages appends many times to /etc/paths.d/dotnet"
## Steps to reproduce

Run the .pkg for the SDK installer multiple times. Can be the same version, can be different ones.

## Expected  behavior

The `/etc/paths.d/dotnet` file contains a single line to the path of where the CLI tools are run.

## Actual behavior

Every time the package installer is run, another path line is added:

[code]

I only discovered this because it looks like at some poin

[2016-05-11 18:22] fuszenecker commented on #1179
After having created a new project, I receive the following result:

[code]

```dotnet --info``` says:
[code]

Do you have any idea why it happens?
Thanks, Robert

[2016-05-11 18:25] ellismg commented on #1179
@fuszenecker The packages have not been published to NuGet yet, so you need to add a NuGet config that tells NuGet to also look at MyGet:

Place a file called `NuGet.config` in your project folder

[code]

And try restore again.

This will be resolved in a few days when we publish the final packages to NuGet.

[2016-05-11 18:25] BeelzeBu opened #2989 "Razor not copied to folder on change"
When I change only a razor (cshtml) page and build/rebuild the solution I do not see the changes applied, files dont get copied to build folder. need to remove bin folder or change a controller to copy all new razor content.
## Steps to reproduce

modify a razor page (.cshtml)
## Expected  behaviour

always copy content files even if they are not changed
## Actual behaviour

Does not copy Views un

[2016-05-11 18:32] dasMulli commented on #2821
@brthor sry to not mention it: issue mentions `bin\Debug\netcoreapp1.0\win7-x64`. afaik that is the `build` output, publish should be in a `\pulish` subdirectory.

@schellap can you confirm that the issue exists with the output in `bin\Debug\netcoreapp1.0\win7-x64\publish\`

[2016-05-11 18:38] emgarten commented on #1732
There hasn't been a fix for this yet. There have been some improvements around bad network connections, but the root cause of why restore has trouble on VBox hasn't been tracked down yet.

[2016-05-11 18:44] brthor commented on #2821
Very good catch @dasMulli

[2016-05-11 18:51] eerhardt commented on #941
I think this was resolved with #2980.  Can you retry with the latest Preview2 bits and close if this is fixed?

[2016-05-11 18:52] eerhardt commented on #2892
I think this was fixed with #2890.  Can you try again with the latest Preview2 build and close if this has been fixed?

BTW - to run your published app, you don't say `dotnet run`.  Instead you call, `dotnet myapp.dll`.  `dotnet run` is a "development time" command, thus it needs a project.json file, and your project to be restored, etc.

[2016-05-11 19:10] oaiey opened #2992 "Simple project(.json) Format"
After hearing the msbuild announcement and the feedback on Twitter by @davidfowl, @DamianEdwards and @davkean and @terrajobst , I wonder whether there would be space for a simple project format. Something which could be automatically converted into a full fledged msbuild project file in-memory before going to the msbuild pipeline? Since there is already some project.json tooling it would be even h

[2016-05-11 19:32] oold commented on #2988
Apparently, it also doesn't clean old versions. My old dotnet binary still exists in the bin directory.

[2016-05-11 19:38] oold commented on #2959
Might be connected to this bug -> #2988

[2016-05-11 19:38] GuardRex commented on #1614
Might be a problem after all: https://github.com/dotnet/cli/issues/2989

[2016-05-11 19:40] GuardRex commented on #2989
@BeelzeBu Sort of a dup of my https://github.com/dotnet/cli/issues/1614 ... however ... I thought that this was fixed. I re-opened that issue as there is some MS Team communication on that one. These issues are cross-linked now.

[2016-05-11 19:46] GuardRex commented on #2959
Cross ref in case someone hits that one I opened (and is closed now) and should be directed here: https://github.com/dotnet/cli/issues/2948

[2016-05-11 20:11] #2835 closed

[2016-05-11 20:29] SunnyWar opened #2994 "Optimize common patterns, specificially in this case x%2 where x is an integer."
## Steps to reproduce
compare how the compile deals with x%2 versus x&1. It should be the same but isn't.

`for (var i = 0; i < iterations; i++)
            {
                var x = i%2;
                if (x == 0)
                {
                    count++;
                }
            }`

 Look at the generated assembly for the i%2 part:
00DE2E13  mov         eax,edx
00DE2E15  and         e

[2016-05-11 20:30] troydai opened #2995 "Project Model Server should change types of dependencies back to package when corresponding path is removed from global.json"
_This issue is reported by @abpiskunov . I haven't start reproducing this without tooling yet._

## Steps to reproduce

1. User adds a path to global.json and new projects are picked up after restore
2. The Project Model Server sends them as project references
3. User removes path from global.json
4. Restore starts and tooling passes all project references to *.dg file which creates a lock file wi

[2016-05-11 20:42] abpiskunov commented on #2995
in step 3, if restore did not start - start it manually (there is another bug in TFS on that)

[2016-05-11 20:48] piotrpMSFT opened #2996 "Flaky Project Model Server Test"
## Steps to reproduce
http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/rel_1.0.0/job/debug_debian8.2_x64_prtest/664/consoleFull

## Expected  behavior
Test passes or fails reliably

## Actual behavior
Test occasionally fails with
A unexpected exception occurred:
[code]

[2016-05-11 20:56] jamesgibbs100 opened #2997 "Should dotnet publish take more than 20 mins - very slow publish"
It is taking ages to publish a standalone app - upward of 20 mins on Windows and more on Linux.
The Linux build server is now approaching an hour of runtime of which all but 7 minutes is the publish step.

I am wondering what factors might make this take such a long time ?

Is there a trace flag I can turn on or some such ??

On it took about 7 min. on the same Linux box with this version of dotne

[2016-05-11 21:13] troydai commented on #2996
@piotrpMSFT

The error message is correct. This is a negative case. It adds unused characters to project.json to trigger a global error. The test doesn't seem to fail according to the test report of the build you pointed at: http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/rel_1.0.0/job/debug_debian8.2_x64_prtest/664/testReport/

[2016-05-11 21:26] schellap commented on #2640
Just closing the loop on this one... the error message was improved since https://github.com/dotnet/cli/pull/2709.

The escrow builds displays this message.

[code]

[2016-05-11 21:45] pranavkm opened #2999 "Produce a file with the versions for packages produced as part of build"
There's a file at https://raw.githubusercontent.com/dotnet/versions/master/build-info/dotnet/cli/rel/1.0.0-preview1/Latest_Packages.txt that contains the versions for packages produced by the CLI build. @eerhardt created one for preview1 but there's none available for preview2. This is required for AspNet to pick up the right set of CLI packages.

[2016-05-11 22:00] jeffschwMSFT opened #3000 "dotnet publish of a netcoreapp contains files that are part of netcoreapp cache"
## Steps to reproduce

dotnet new
vi project.json  (this is a simplification of the app I have)
{
  "version" : "1.0.27-*",
  "compilationOptions": {
    "emitEntryPoint": true,
    "preserveCompilationContext": true
  },

  "dependencies": {
    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0-rc2-20507",
    "Microsoft.AspNetCore.Server.Kestrel": "1.0.0-rc2-20507",
    "Microsoft.NETCore.App

[2016-05-11 22:11] piotrpMSFT commented on #2996
Ok, I suppose it's not that specific test. The output of that set of tests is quite verbose with lots of intended failures. Let's start here, then:

=== TEST EXECUTION SUMMARY ===
   dotnet-projectmodel-server.Tests  Total: 23, Errors: 0, Failed: 1, Skipped: 1, Time: 149.893s

[2016-05-11 22:18] troydai commented on #2996
So we're actually talking about this one:
[code]

Does it become flaky recently or it is always like this?
Do we run tests in parallel?

[2016-05-11 22:19] piotrpMSFT commented on #2996
it fails occasionally. We do run tests in parallel in some contexts.

[2016-05-11 22:22] troydai commented on #2996
How can I tell if project model server tests are run in parallel?

[2016-05-11 23:01] livarcocc commented on #2961
I just tried this using you repro project with the following versions:

![image](https://cloud.githubusercontent.com/assets/367554/15199161/04883af8-1791-11e6-83e2-586002ae6b39.png)

![image](https://cloud.githubusercontent.com/assets/367554/15199178/24c817d4-1791-11e6-8480-8a6f7f523d57.png)

And this is what I got:

![image](https://cloud.githubusercontent.com/assets/367554/15199213/5d0189f0-1791

[2016-05-11 23:24] livarcocc commented on #2994
This is a compiler improvement, not a CLI one. Please open this issue at the roslyn repo.

[2016-05-11 23:24] #2994 closed

[2016-05-11 23:25] #2987 closed

[2016-05-11 23:50] piotrpMSFT commented on #2959
This is a dupe of #2833.

[2016-05-11 23:50] #2959 closed

[2016-05-11 23:52] piotrpMSFT commented on #2977
This is then a dupe of #2978

[2016-05-11 23:52] #2977 closed

[2016-05-11 23:53] piotrpMSFT commented on #2978
@brthor can you look into this?

[2016-05-11 23:54] piotrpMSFT commented on #2979
We need to figure out how to get rid of imports. What is being suggested here won't scale for global commands.

[2016-05-11 23:55] brthor commented on #2978
@piotrpMSFT We have a discussion going in #2979

We will need to make some design changes.

[2016-05-12 00:01] brthor commented on #2979
Removing import support would be ideal for retaining the current design. The issue there being many of the tools rely on imports for bringing in packages like IxAsync.

[2016-05-12 00:36] balachir commented on #2961
I worked offline with Livar on this and he can repro now on his machine with a new project. He's going to continue investigating.

[2016-05-12 00:56] livarcocc commented on #2961
Ok, I managed to repro this and I know why this happens.

When VS created the library project, instead of creating it under the src folder (even though I explicitly right-clicked the folder and choose add new project), it is creating it in the solution folder on the same level as the src folder.

The global.json file has as sources only the src and test folders. When it gets converted to a net cor

[2016-05-12 01:00] livarcocc commented on #2961
Also, I don't know why restore does not fail in VS for this. I was told that it is calling NuGet directly, so this may be another problem, but when I run dotnet restore with having the project under source and without having "." in the global.json, restore fails for me for the ConsoleApp.

I don't think this is an issue with the CLI at this point.

[2016-05-12 02:58] mutex007 opened #3006 "unable to resolve 'System.Threading.Thread (>= 4.0.0-rc2-23811)' for 'DNXCore,Version=v5.0 (ubuntu.14.04-x64)"
Hi, could you please advice if what i am doing is currently supported.

.NET Command Line Tools (1.0.0-preview1-002701)

Product Information:
 Version:     1.0.0-preview1-002701
 Commit Sha:  11492c7fac

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  14.04
 OS Platform: Linux
 RID:         ubuntu.14.04-x64

This is the project.json file.

{
    "version": "1.0.0-*",
    "compilationOption

[2016-05-12 06:37] fuszenecker commented on #1179
Many thanks, Ellismg, I'll check this nuget config this evening.

[2016-05-12 10:35] am11 opened #3008 "New version file has a commit hash on first line and version on second"
When `-version Latest` is passed as argument, the install.ps1 and install.sh1 call the following URL to get a latest number, . https://dotnetcli.blob.core.windows.net/dotnet/preview/dnvm/latest.win.x64.version

The file produced for latest commit in blob has a commit hash on the first line and version on the second, instead of just one line with version.

Therefore, at the moment, `install.ps1` is

[2016-05-12 10:49] tmds opened #3009 "project builds for various framework except net35 on Ubuntu 14.04"
I have a project.json with a bunch of frameworks (including Windows only frameworks). When I restore and build my project on Ubuntu 14.04, it builds for every framework except net35.

[code]

On net35 compilation fails with error messages like:

[code]

[2016-05-12 10:59] multiarc opened #3010 "Assembly.Load issue when using latest cli running a test."
Run a test from the following solution: https://github.com/multiarc/roslyn-issues
The issue reproducing only with dotnet cli (both 1.0.0-preview1-002700 and 1.0.0-preview1-002702) using any version of Microsoft.CodeAnalysis.CSharp (1.1.1, 1.2.1, 1.3.0-beta). Fails only on net451 and net461 targets, works good on netcoreapp1.0 (dnxcore50) target.
By the way there is no issue when using DNX rc1-upda

[2016-05-12 14:24] tmds commented on #3009
Can be reproduced with this simple project:
[code]
[code]
[code]
using dotnet 1.0.0-preview1-preview1-002697, build output:
[code]

[2016-05-12 14:47] #2693 closed

[2016-05-12 15:38] SunnyWar commented on #2994
[https://github.com/dotnet/roslyn/issues/11261](url)

[2016-05-12 15:43] eerhardt opened #3012 "Fix nupkg publishing for DotNetHost and Microsoft.NETCore.App packages"
There are 2 problems with our publishing of the corehost and meta package:

1. Currently we are pushing the corehost and NETCore.App packages to a folder in Azure storage under the CLI version: https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/dotnet-cli-build/PublishTargets.cs#L230.  This is incorrect because the corehost and NETCore.App packages have a different versioning scheme (`rc3` vs. `

[2016-05-12 15:45] svick commented on #2994
@SunnyWar I expect [CoreCLR](https://github.com/dotnet/coreclr/) is the right repo, since CLR is what actually generates assembly.

[2016-05-12 15:53] SunnyWar commented on #2994
@svick This isn't about machine code. it's about substituion. The machine code that I showed is to demonstrate the x&1 IS OPTIMIZED. So Roslyn just has to do the substitution.

[2016-05-12 15:59] weshaggard commented on #3012
I agree with all the statements. However I'm less clear about which Azure storage blob to use, as long as it is logically part of the CLI I would expect it to be in the same blob as the rest of CLI. If we move these to another repo or build then we should definitely use a different blob.

[2016-05-12 16:05] eerhardt commented on #3012
Agreed. When we move these to another repo, moving them to another azure storage blob makes sense.  But we can't wait until we move to another repo to fix this. We need the `rc3` packages to be published to myget now so people can start consuming them.

[2016-05-12 16:50] weshaggard commented on #3012
Assuming the rel/1.0.0 branch is open for changes now, I'm not sure if it is or not, then we should just get this merged into that branch. I pinged @sokket to try and get this into the same publish pipeline as we are publishing the rest of the CLI. I think that is the best thing to do until we ultimately split them into another repo.

[2016-05-12 16:52] eerhardt commented on #3012
It is open for "Preview2" work.  So we should be good there.

[2016-05-12 17:04] gtbull80 commented on #2393
anyone have any luck with this?

[2016-05-12 18:18] dougbu opened #3014 "Add missing `userSecretsId` property to the `project.json` schema"
## Steps to reproduce
1. Open VS in an existing .NET Core web project
2. Open the `project.json` file
3. Attempt to add the `userSecretsId` property

## Expected  behavior
- A suggestion once I've typed `u` for the property name.
- Addition of double quotes around the value once I've typed the `:` between name and value.

## Actual behavior
Nope, no help at all.

## Environment data
`dotnet --info

[2016-05-12 18:20] dougbu commented on #3014
/cc @anurse @muratg @Eilon since this touches on #933 and ASP.NET team seems to own this schema.

[2016-05-12 18:32] livarcocc commented on #2393
This tool is actually developed at this repo: https://github.com/aspnet/EntityFramework.

Please open this bug there, you will get more traction.

[2016-05-12 18:45] fuszenecker commented on #1179
[code]

Works perfectly. Thanks Ellismg, again.

[2016-05-12 18:47] #2572 closed

[2016-05-12 18:52] livarcocc commented on #3008
This issue was not due to the file having the commit hash and version on it. The install script handles that. This issue happened because of a change in mime type of the version file.

This PR fixed it: https://github.com/dotnet/cli/pull/3011

[2016-05-12 18:52] #3008 closed

[2016-05-12 18:53] Sridhar-MS commented on #3008
@am11 can you try using the install scripts to get the latest? https://github.com/dotnet/cli/commit/d906524dec52f2a89836399943aa02e0514c2c13 fixed it.

[2016-05-12 18:58] dougbu opened #3015 "Improve schema for `tools` property in the `project.json` schema"
## Steps to reproduce
1. Open VS in an existing .NET Core web project
2. Open the `project.json` file
3. Add a `tools` property
4. Add a `Microsoft.Extensions.SecurityManager.Tools` property in the `tools` object
5. Choose the `{}` option
6. Fill in the suggested `version` property in the `Microsoft.Extensions.SecurityManager.Tools` object
7. Add a comma after the `version` property
## Expected  b

[2016-05-12 19:18] dougbu commented on #3015
/cc @anurse @muratg @Eilon since this touches on #933 and ASP.NET team seems to own this schema.

[2016-05-12 19:25] am11 commented on #3008
It worked. Thanks for the quick fix! 🎉

[2016-05-12 19:31] am11 commented on #3014
It seems like this key was only present in beta4 schema: [project-1.0.0-beta4.json#L417](https://github.com/SchemaStore/schemastore/blob/0207d3ea8c1e28f93638f679e205d3e161cb6a7a/src/schemas/json/project-1.0.0-beta4.json#L417) and missing from current [`project.json`](https://github.com/SchemaStore/schemastore/blob/0207d3ea8c1e28f93638f679e205d3e161cb6a7a/src/schemas/json/project.json).

[2016-05-12 20:40] jeremymeng commented on #2984
This seems unrelated to dotnet/cli.

You probably need to install libsqlite3-dev package as sqlite3.dll is a native dll.  On Linux I'd expect a `.so` library corresponding to that.  Even with that I am not sure about the Linux support of `Microsoft.Data.Sqlite`.

[2016-05-12 20:50] smitpatel opened #3016 "Unable to load DLL 'Microsoft.DiaSymReader.Native.amd64.dll'"
## Steps to reproduce
project.json
[code]
Commands to run:
[code]
## Expected  behavior
Tests are run for all frameworks (there are 5 of them)

## Actual behavior
Tests run for only netcoreapp. For other frameworks it throws exception:
[code]

## Environment data
`dotnet --info` output:
Machine 1:
[code]
Machine 2:
[code]

What am I missing here?

[2016-05-12 21:09] barrytang commented on #2961
Latest offline investigation seems to indicate this is a CLI issue.

[2016-05-12 21:50] midiway commented on #1732
Same problem with VMWare network interfaces (ex.: VMware Network Adapter VMnet1),
Disabling them made it work!

[2016-05-12 21:52] joganet opened #3017 "problem with NETStandard.Library >= 1.5.0-rc2-24027 could not be resolved"
## Steps to reproduce

I have a project that have a dependency with a custom library, the library target the framework netstandard1.5 and have the dependency of NetStandard.Library": "1.5.0-rc2-\* that is ok so far.
 that project is a console app, it target the netcoreapp1.0 and have a dependency "Microsoft.NETCore.App": {
          "version": "1.0.0-rc2-*",
          "type": "platform"
        }

[2016-05-12 22:25] dasMulli commented on #3017
did `dotnet restore` work? what puget-feeds are you using (`nuget.config`).
btw if you depend on `Microsoft.NETCore.App`, you shouldn't need to add `NETStandard.Library` as a dependency.

[2016-05-12 22:37] joganet commented on #3017
dotnet restore work, at least I didn't see any error, but when I try to compile the error show up, I just added the library to see if that solve the problem but no, the library that I add use the NetStandard.Library

let me share the custom library project.json

the restore and the build in the custom library works like a charm
the custom library is "MySql.Data.MySqlClient": "1.0.0-alpha" a port f

[2016-05-12 22:56] emgarten commented on #1732
Would someone hitting this issue try creating a basic repro of this to see if this happens just from using HttpClient or if this is specific to how NuGet sets up HttpClient?

For reference the NuGet wrapper for HttpClient is here: https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Protocol.Core.v3/HttpSource/HttpSource.cs  (NuGet.Protocol.Core.v3) package on nuget.org.

[2016-05-12 22:58] joelverhagen commented on #1732
Another interesting data point would be PowerShell:
[code]

[2016-05-12 22:59] blackdwarf commented on #1732
@emgarten I can do this. You mean just having a simple app that essentially does a `HttpClient` call to an URL?

[2016-05-12 23:29] smitpatel commented on #3016
Adding dependency to `"Microsoft.NETCore.Platforms": "1.0.1-*"` or `"NETStandard.Library": "1.5.0-*"` make it work. Which one to use and why?

[2016-05-12 23:44] emgarten commented on #1732
@blackdwarf yeah, just an httpclient url request.

[2016-05-13 00:10] smitpatel opened #3019 "dotnet test: Invalid binding redirect file generated which makes app to crash"
## Steps to reproduce
Start with clean project
project.json
[code]
Commands:
[code]
Everything works fine.
[code]

Add dependency to `"Newtonsoft.Json": "8.0.3"`
new project.json
[code]
Commands to run
[code]
Crashes with dialogue box saying xUnit.net Test Runner (CoreCLR) has stopped working.
[code]

Delete `bin` folder.
run `dotnet test`
new binding redirect file
[code]
Everything works fine aga

[2016-05-13 00:21] Eilon commented on #3015
ASP.NET does not own `project.json` schema. However, @ajaybhargavb recently did a bunch of fixes for project.json schema in SchemaStore, but I don't think this was included.

[2016-05-13 00:21] Eilon commented on #3014
@dougbu I think this bug would go in our own UserSecrets repo because there's nothing in CLI to fix for this. Every team owns their own schema. Recommend closing this bug.

[2016-05-13 01:05] schellap commented on #2523
@anurse, can this be looked into now? Have you given some thought around how the packages should be tagged or marked serviceable? /Cc @ericstj

I've marked this for Preview 2 when the runtime packages are going to be RTM.

[2016-05-13 01:18] smitpatel commented on #3016
Dependency to `Microsoft.NETCore.Platforms` needed for RID graph which was missing. Any package which has transitive dependency on it (like `NETStandard.Library`) could also make things work.

[2016-05-13 01:18] #3016 closed

[2016-05-13 01:55] 18583690825 commented on #2984
@jeremymeng Exactly,THX a lot ! `yum install sqlite-devel` had solved it.
However,under Windows,i only added a reference to the `project.json` like: ` "Microsoft.Data.SQLite": "1.0.0-rc1-final"` and then every thing had been nicely prepared ,even as the sqlite3.dll, had been restored into the .nuget directory. But under Linux, it didn't restore the sqlite package so that maybe we should install it

[2016-05-13 01:55] #2984 closed

[2016-05-13 01:57] dougbu commented on #3014
@Eilon isn't the `project.json` schema hosted here then uploaded to http://json.schemastore.org/ ?

[2016-05-13 02:33] binoypatel commented on #2618
@fubar-coder  Thanks for heads-up but couldn't see an option to re-open this issue as I didn't close it, this issue is not resolved, please check my previous comment to repro, thanks

[2016-05-13 06:22] fubar-coder commented on #2618
I'm neither from Microsoft, nor an admin for this github repository :wink: . I suggest, that you create a new issue, explains that you were unable to open a new issue and link to the old issue.

[2016-05-13 07:24] billwert opened #3021 "Project.json schema warnings aren't working"
I'm pretty sure this broke at #2980, looking at CI history.

## Steps to reproduce
dotnet new
edit project.json, change "buildOptions" to "compilationOptions"
dotnet restore
dotnet build

## Expected  behavior
warning DOTNET1015: The 'compilationOptions' option is deprecated. Use 'buildOptions' instead.

## Actual behavior
No warning is printed

## Environment data
`dotnet --info` output:

[2016-05-13 07:52] myungjoo commented on #2556
@mylibero had "almost" prepared dotnet-cli/ARM a while ago to the point where we simply need to run Roslyn(csc.exe) in ARM/Linux, which seems to run reliably now (I build my own ARM/Linux c# test cases in ARM machines).

[2016-05-13 09:04] jtbm37 commented on #1732
` Invoke-WebRequest https://api.nuget.org/v3/index.json`
[code]

`PS C:\> $PSVersionTable`
[code]

[2016-05-13 10:30] jtbm37 commented on #1732
@blackdwarf I reinstalled `virtualbox-4.3` but still no luck. I am not sure what changed.

[2016-05-13 14:44] eerhardt commented on #3021
Yes, that change broke this behavior.  Working on a fix (and a test) now.

[2016-05-13 15:08] ianhays commented on #2912
netcore50 is the moniker used for UWP 10 apps. Even with the packaging fixes, targeting netcore50 and win10 will get you the UWP version of Clrcompression.dll

[It sounds like you want to target netstandard1.5.](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md)

[2016-05-13 16:38] jeremymeng commented on #2984
@18583690825 I guess it is hard or infeasible to package native dependencies for various Linux distros and versions, as it is very likely to hit incompatible dependency issue.  On Windows it's much easier (probably just need to care about x64 and x86 and that's all).

[2016-05-13 17:15] #2393 closed

[2016-05-13 17:23] blackdwarf commented on #2912
Or, better yet. netcoreapp1.0.

[2016-05-13 18:20] eerhardt opened #3023 "Rename 'master' branch to be 'feature/native-compile'"
Or some similar name.

The 'master' branch is no longer the 'master' branch. Instead it is really a feature branch that contains the native compile feature.  As of now `rel/1.0.0` is really our "master"/"develop" branch that is the main  branch people should be contributing to.

We should also consider turning off Jenkins and VSO CI runs for the 'master' branch.

[2016-05-13 18:26] brthor opened #3024 "Running `dotnet-install.ps1` more than once returns non-zero exit code"
## Steps to reproduce
Place a ps1 file with the content below in your repo root.

[code]

## Expected  behavior
First invocation installs cli, second exits successfully saying there's already an installation.

## Actual behavior
second invocation exits with failure saying there's already an installation.

## Environment data
`dotnet --info` output:
N/A

cc @krwq @blackdwarf

[2016-05-13 18:34] blackdwarf commented on #3024
@brthor the script should not exit with an error code. The second behavior is perfectly valid and is not an error, more of a warning/info.

[2016-05-13 18:42] eerhardt commented on #3006
@mutex007 your dependencies are for old versions of CoreFX.  Can you update them to the latest RC2?

Also, you should not have to reference any "runtime.XXX" package.  I think your project.json could look like this:

[code]

[2016-05-13 18:42] Eilon commented on #3014
Talked to @dougbu in person, this bug should move. No bug for CLI on this.

[2016-05-13 19:19] abpiskunov opened #3026 "[ProjectModel.Server] when package version changed in project.json very quickly, PMS sends Dependencies with old package version, which breaks restore"
## Steps to reproduce
1. Set PMS trace env var PROJECTMODELSERVER_TRACE=1
2. Create a console app
3. add Newtonsoft.Json 7.0.1 to roject.json, wait for restore
4. Go to Project Model Server output pane and clean it
5. Open Nuget Package Manager dialog
6. Go to updates tab and update Newtonsoft.Json to 8.0.3
## Expected  behavior

Restore to be triggered
## Actual behavior

No restore

What happens

[2016-05-13 19:46] dougbu commented on #3014
This issue was moved to aspnet/UserSecrets#80

[2016-05-13 19:46] #3014 closed

[2016-05-13 20:10] #3021 closed

[2016-05-13 20:19] DavidObando opened #3029 "Should `dotnet publish` also take the elements specified in "copyToOutput"?"
## Steps to reproduce

This is more of a design question than a bug, up to the CLI team to decide.

Have an app such as [HelloWorldMvc](https://github.com/aspnet/Performance/tree/dev/testapp/HelloWorldMvc). In its project.json it specifies "copyToOutput":

[code]

When I execute `dotnet run` it runs fine. When I execute `dotnet publish` and then `dotnet path\to\publish.dll` I get runtime errors as

[2016-05-13 20:43] jamesqo opened #3030 "[question] How to copy files to the publish directory post-publish?"
Hi everyone, I have the latest version of `dotnet` from the README page (rc2/preview1) and I'm wondering how to copy files to the publish directory post-build. The reason is I'm looking to change the version of mscorlib that's used with my app (see dotnet/coreclr#4678) by overwriting the files included with `Microsoft.NETCore.App` with my copy, as I am contributing to coreclr/corefx.

Anyway, here

[2016-05-13 20:50] #3024 closed

[2016-05-13 21:01] brthor opened #3031 "Remove build dependency on VSO NuGet Publisher"
Currently our builds have a dependency on the VSO NuGet publisher in order to push our packages to myget.

This dependency is only available on Windows and forces us to workaround with separate build definitions only for handling publishing of our nuget packages.

NuGet.Xplat has the push command available and we should consider switching to that to remove this dependency and the need to work arou

[2016-05-13 21:18] ethanhann commented on #2622
@blackdwarf [Markdown files that reference "dotnet compile" in this repo](https://github.com/dotnet/cli/search?l=markdown&q=%22dotnet+compile%22&type=Code&utf8=%E2%9C%93)

[2016-05-13 21:18] ericstj commented on #2927
@weshaggard i believe it is not failing because NuGet doesn't do any compat checks for things marked "platform" they just make sure that packages have some applicable asset.

[2016-05-13 23:28] pakrym opened #3034 "DependencyModel uses wrong package cahce environment variable name"
In PR https://github.com/dotnet/cli/pull/2156 `DOTNET_PACKAGES_CACHE` variable name was changes to `DOTNET_HOSTING_OPTIMIZATION_CACHE`
https://github.com/dotnet/cli/pull/2156/files#diff-76ff25fcb7bb5726c0738b88686cf16dR111

But DependencyModel usage (https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.Extensions.DependencyModel/Resolution/PackageCacheCompilationAssemblyResolver.cs#L71) was

[2016-05-14 00:18] halter73 opened #3035 "Comments in project.json array literals incorrectly read as array elements"
## Steps to reproduce

Add the following to your project.json

    "buildOptions": {
      "embed": {
        "exclude": [
          //"Strings.fr.resx"
        ]
      }
    }

## Expected  behavior

Application runs as expected with the fr resources.dll (if "Strings.fr.resx" exists, this isn't necessary to reproduce) in the output since there is nothing in the exclude array.

## Actual behavior

[2016-05-14 00:42] 18583690825 commented on #2984
@jeremymeng Oh i see.You're right.It is difficault to unified such many linux operation systems.😂Perhaps i need to prepare variety kinds of libraris for different linuxs in order to run apps on them.Thank you again!

[2016-05-14 01:26] #3012 closed

[2016-05-14 02:32] jamesqo commented on #1488
I seem to be getting this error too with the RC2/preview1 build on Windows. Not sure if this has anything to do with it, but I used `xcopy` to replace my versions of `mscorlib.dll` and `mscorlib.ni.dll` as I am attempting to measure the perf impact of some changes to coreclr.

Here is the output with `COREHOST_TRACE=1`: https://gist.github.com/anonymous/5f1ea6c1161a1850fc84cdabcef07f02

[2016-05-14 02:46] jeff-wu opened #3036 "May add a selfupdate option ?"
May add a `selfupdate` option ? run `dotnet selfupdate` command will upgrade to the latest version for dotnet SDK and CLI.

[2016-05-14 03:09] #2777 closed

[2016-05-14 03:16] Varorbc commented on #3036
I think so too

[2016-05-14 06:45] leecow opened #3037 "License.txt needed for tar.gz and zip archives"
We need to ensure proper licensing is include with all archive packages. License is the same EULA as displayed by native installers. File should be LICENSE.TXT and placed in the root of the archive.

[2016-05-14 07:29] billwert opened #3038 "Project.json warnings in build"
After the schema change at #2493, there are several hundred warnings in the tree.

## Steps to reproduce
build the CLI tree

## Expected  behavior
Warnings only related to tests

## Actual behavior
Several hundred warnings

## Environment data
`dotnet --info` output:

[2016-05-14 09:41] szogun1987 commented on #308
I have fixed it by adding entry in etc/apt/sources.list
I have followed this article http://packages.ubuntu.com/trusty/amd64/libicu52/download

[2016-05-14 12:22] peterblazejewicz commented on #3035
But that JSON is incorrect, as there are no comments support in JSON. Do you want add some usage pattern from xproj or other tooling?

[2016-05-14 13:59] shederman commented on #3035
JSON.Net supports comments

[2016-05-14 14:02] shederman commented on #2992
Just keep in mind a lot of the noise is less to do with XML, and more to do with going back to MSBuild...

[2016-05-14 21:46] am11 opened #3040 "Run command does not fallback to build dependency, when project name is different than the containing directory name"
## Problem Intro.

Attachment: [Archive.zip](https://github.com/dotnet/cli/files/264700/Archive.zip)

There are two solution directories `test` and `test1` in the attachment.
In `test`, there are two projects `A` (lib) and `B` (app).
Then I made a copy of solution directory `test` namely `test1`, renamed project `test1/A` to `test1/A1` and added the following in `test1/A1/project.json`:

[code]

i

[2016-05-14 21:55] Petermarcu opened #3041 "dotnet.exe should have proper file information embedded in it"
## Steps to reproduce

Run dotnet and look at the view in task manager on Windows.
## Expected  behavior

All the information about the process and its brand should be there. It should show up as something like ".NET Application Host" with all the details about versions, product names, etc should be complete.
## Actual behavior

 It just shows up as dotnet and all the detailed file info is blank.

[2016-05-15 04:40] #2697 closed

[2016-05-15 10:38] haf commented on #533
Ping, still waiting for an answer here. Reading this thread would seem to imply you need to publish at least a semi-stable release. Given the amount of press that coreclr has attracted, perhaps now would be a good time for a rc3 that can be used as stable and that you know work together with F#?

[2016-05-15 10:44] haf opened #3043 "Merge is broken on Windows and CoreCLR is broken on OS X"
## Steps to reproduce
Here's a log https://ci.appveyor.com/project/haf/suave/build/1.0.112/job/hmbmk93sdrjrjv5h#L2605 of running https://github.com/SuaveIO/suave/blob/master/appveyor.yml

## Expected  behavior
No crash, and if crash a notification of the path name/string that is invalid. For running the packages without merging, CoreCLR is broken on OS X, complaining about a policy error. Repro fo

[2016-05-15 13:12] jamesgibbs100 commented on #2997
Update :

I moved to the portable app model as opposed to the standalone model and publish times came down to something workable.

This was prompted by the above but also realizing that native dependencies were not included into the publish - therefore some form of specialized platform was still necessary even in a "standalone" model.

[2016-05-15 16:32] GuardRex commented on #3035
mmm ... yeah. This issue was sort of beaten to death back in https://github.com/aspnet/Announcements/issues/24

TL;DR ... JSON (pure JSON) does not support comments; therefore this is the equivalent of just typing random characters into the file, which of course one wouldn't expect to work. :smile: I was hoping back in those days for JSON5, but that was rejected on the grounds that tooling should

[2016-05-15 16:35] GuardRex commented on #3036
@lywujie Duplicate: https://github.com/dotnet/cli/issues/511

TL;DR: This suggestion was rejected by the team.

[2016-05-15 17:15] GuardRex commented on #3030
@jamesqo When you speak of copying assets over at publish, that's all in `publishOptions` now. I'm not sure if it will suit your needs, but the structure is like this if you're just trying to get assets put into the output. In my case, I use it to move the `Views`, `wwwroot`, and `Logs` (with a dummy text file in the folder, as there is a bug right now that won't copy empty folders) over to the pu

[2016-05-15 17:23] GuardRex commented on #3029
@DavidObando I don't think that would be safe behavior. I don't think publishing should be guessing what is needed for deployable outputs based on `copyToOutput`. I hear what you're saying ... it would be leaner to avoid needing the `publishOptions` explicitly spelled-out in your situation, but this would be a security risk to make any such assumptions IMO. I think it's safer to force the dev to t

[2016-05-15 17:25] peterblazejewicz commented on #3035
That's the point: from my perspective (someone new to C#/.NET stack) that's `perfectly illegal` to use comments in JSON: http://stackoverflow.com/questions/244777/can-i-use-comments-inside-a-json-file
http://www.ietf.org/rfc/rfc7159.txt
So for me that's not an issue

[2016-05-15 23:26] onovotny opened #3044 "Impossible to create UdpClient on shared port"
As per the discussion here:
https://github.com/dotnet/corefx/pull/5953#issuecomment-219304032

With the removal of `Client` from `UdpClient`, it's now impossible to create a `UdpClient` instance that can listen on a shared port if the port is already in use. The core issue is that the ctor of `UdpClient` creates the socket. The `ExclusiveAddressUse` is a property that evaluates after the ctor, so

[2016-05-15 23:32] onovotny commented on #3044
created in wrong repo by mistake.

[2016-05-15 23:32] #3044 closed

[2016-05-16 13:40] justinyoo commented on #2803
@brthor Thanks for the clarification. Could you tell us a rough timeline when the --native option comes back?

[2016-05-16 15:17] blackdwarf commented on #3038
Assigning @brthor because for some reason cannot assign @billwert.

[2016-05-16 15:29] blackdwarf commented on #3036
And with @GuardRex comment I'm closing this. I think I'm going to start working on actually having an user voice site up for suggestions like these so we keep the issues list for bugs and such.

[2016-05-16 15:29] #3036 closed

[2016-05-16 16:05] julielerman opened #3048 "dotnet command can't be found on osx with RC2 bits"
I was updating to the latest (2072) bits. The install seemed ok but some other issue caused me to uninstall and reinstall and now dotnet is totally lost.

Initial  success:
I ran the dotnet uninstall script on OSX and then installed from the 2072 package.
Ran dotnet --version which reported the correct version.
Ran dotnet new then dotnet run to verify that things were working.

Problems with dotne

[2016-05-16 16:16] vancem opened #3049 "Need visibility into the Nuget feeds being used"
I was trying to dogfood the RC2 release

https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0-preview1-002700/dotnet-dev-win-x64.1.0.0-preview1-002700.exe

And when I tried

dotnet new
dotnet restore
dotnet run

It was failing.  I ultimately tracked it back to the fact that my Nuget.config did not have the feed for the https://dotnet.myget.org/F/dotnet-core/api/v3/index.json.    I

[2016-05-16 16:39] dasMulli commented on #3049
Isn't `dotnet restore` logging feeds and configs already? at least on os x it prints those:

[code]

[2016-05-16 16:44] dasMulli commented on #3048
Is there a `/usr/local/share/dotnet/` folder?

Try `sudo rm -rf /usr/local/share/dotnet` and `sudo rm /etc/paths.d/dotnet` to clear the install location and PATH entries, then run the installer again. That helped me a couple of times.

[2016-05-16 16:59] kdaveid commented on #2042
Issue fixed with 1.0.0-preview1-002702. LANG=de_CH.UTF-8 which is not en_US.UTF8.
Can anyone confirm?

Issue could be closed

[2016-05-16 17:01] julielerman commented on #3048
thanks. no there is just no dotnet folder at all. Will report back on trying to get rid of the installer files and re-install.

[2016-05-16 17:07] dasMulli commented on #3048
You can try hitting Command-L on the pkg installer and see if there is an error / suspicious message logged. os x pkgs sometimes report false positive installs when a script fails..

[2016-05-16 17:10] ellismg commented on #2042
Basically and non C or Empty locale should work.

We have made changes to the CLR to do the right thing even when this is empty, but they are not present in RC2 (they are in the nightly builds now and will be part of RTM).

I think this is safe to close.

[2016-05-16 17:10] #2042 closed

[2016-05-16 17:10] #2622 closed

[2016-05-16 17:23] julielerman commented on #3048
cmd -l just creates aliases. Right click/info does not show any logs. I can't find an etc folder anywhere. Is this stuff just not there or is this my stupendous lack of experience with osx that's getting in the way?

[2016-05-16 17:24] blackdwarf commented on #3048
@julielerman you **have** to have `/etc/` in you FS, otherwise your OS would not work. 😄

Are you working from a terminal?

[2016-05-16 17:33] julielerman commented on #3048
do you think the file I got from the PR trashed it? gosh I wonder what else is busted without that.

[2016-05-16 17:38] blackdwarf commented on #3048
@julielerman no, it doesn't touch that part. OK, if you go down into the terminal and type the following:

[code]

What happens?

[2016-05-16 17:43] julielerman commented on #3048
i see dotnet folder now and drilling in I see evidence of it being 2702. Now I will go back to see about dotnet commands.

[2016-05-16 17:48] julielerman commented on #3048
still not found (dotnet command) . These are the symlinks I set up:
ln -s /usr/local/share/dotnet/bin/dotnet /usr/local/bin/
 ln -s /usr/local/share/dotnet/bin/csc /usr/local/bin/

[2016-05-16 17:57] julielerman commented on #3048
is this related? Should there be someting in bashprofile? https://github.com/dotnet/cli/issues/2005

[2016-05-16 18:07] ardalis commented on #2461
I'm getting this today on a project I'm trying to update to RC2. Same behavior on Windows and on Mac (only difference is the runtime listed in option 2):
dotnet build

Any idea how to get past this? I'm using this nuget feed: https://www.myget.org/F/aspnetrc2/api/v3/index.json
if that matters.

[2016-05-16 18:37] dasMulli commented on #3048
uhm.. why symlinks? first, they shouldn't be necessary (pkg will append to /etc/paths.d/dotnet, os x will set up your env to include those in your $PATH), 2nd `dotnet/bin/*` is gone. try removing all of these.
If using the terminal is too confusing, you can use command-shift-G on any finder window. That will open a prompt where you can type a directory name that finder will open. If you just enter

[2016-05-16 18:38] AArnott commented on #2429
I just installed 'latest' from the readme and got 1.0.0-preview1-002702. Where are folks getting the newer rc2?
With the version I have, 'dotnet build' produces a folder without an .exe and without a project.json file. "dotnet run" in that folder produce this same NRE.

[2016-05-16 18:44] julielerman commented on #3048
symlinks was suggested in the original issue where I reported my problem. I'm not confused by terminal. I was confused by usr vs user the latter meaning "insert your name here". I've been on windows for a few decades but Mac only for a few months so I have some big knowledge gaps. I finally got high enough in the file path to see the real usr folder.

 dotnet is installed. I can see it. But dotnet

[2016-05-16 18:47] shawnwildermuth opened #3050 "Extensibility only looks in the Path, not the local directory"
## Steps to reproduce

Create a console app named 'dotnet-foo'.
Publish the app.
Open the publish directory in a console window
type "dotnet foo" (no quotes)
## Expected  behavior

Runs dotnet-foo.exe with dotnet as extensibility function
## Actual behavior

"Can't find executable called dotnet-foo"
## Environment data

`dotnet --info` output:
D:\working\firstcmd\bin\Release\netcoreapp1.0\win81-x6

[2016-05-16 18:48] shawnwildermuth commented on #3050
Note, adding the directory to the path and it works.

[2016-05-16 18:52] dasMulli commented on #3048
np, i figured. That os x "i'll just show you some directories where you can't break things and hide my *nix heritage" is confusing anyway ^^.

So, check that when you open a Terminal and execute `/usr/local/share/dotnet/dotnet --info` something useful ist displayed. That means that dotnet itself is working.

Then check that there is a **file** `/etc/paths.d/dotnet` that lists the **directory** `/u

[2016-05-16 18:53] dasMulli commented on #3048
another thing that comes to my mind:
you might have a broken symlink. `/usr/local/bin/dotnet` (your symlink) might point to a non-existing file and causing the `command not found` error. Just delete all that symlinks..

[2016-05-16 19:11] vancem opened #3051 "Better Dianostic if you don't do a dotnet restore before a dotnet build"
When I was dogfooding the RC2 bits  https://go.microsoft.com/fwlink/?LinkId=798481

I issued the following command

mkdir app
cd app
dotnet new
dotnet run

Produces the following diagnostic.

Project hello does not have a lock file.
Project hello does not have a lock file.

I realize this is now an error, as you are now required to do the dotnet restore, however the current diagnostic does nothing

[2016-05-16 19:11] blackdwarf commented on #3048
@dasMulli we need the symlinkfor now for `zsh` users because `path_helper` is not working in all instances so this happens.

[2016-05-16 19:13] eerhardt commented on #2429
That is the correct version of the CLI tools for ".NET Core 1.0 RC2 - SDK Preview1".  The CLI is "preview1", the runtime is "RC2".

`dotnet run` is a dev-time command, you call it from the same folder as your `project.json` file, not your output directory.  If you want to run your app directly call `dotnet your-app-name.dll` from the output folder.

[2016-05-16 19:16] vancem commented on #3049
I have opened this issue in error.  My main problem was that dotnet restore is now required before a dotnet run will succeed (and it gives a cryptic error in that case).   I have opened a separate issue for that and will close this issue.

[2016-05-16 19:16] #3049 closed

[2016-05-16 19:17] eerhardt commented on #2429
This was logged as issue #2965, which didn't make it into "Preview1".  Instead it was fixed with #2980 in "Preview2".

[2016-05-16 19:18] julielerman commented on #3048
Hey! I deleted the symlink and recreated it and dotnet works again!!!!!!!!!!!!!!!!!!!! :)

It was broken before I added the symlink originally. But whatever I've done to fix dotnet was not being recognized and the symlinnk was tied to it.

FWIW among the 5 million things I tried, I did switch back to bash (exec bash) but dotnet still (at that time) was coming up as command not found.

So I will cl

[2016-05-16 19:18] eerhardt commented on #2461
if that matters.

The RC2 packages are now on nuget.org, so you shouldn't need to be using any `myget.org` feed.

[2016-05-16 19:22] eerhardt commented on #3049
I logged https://github.com/dotnet/cli/issues/1334 a while ago to try to address this issue.  IMO - the developer shouldn't be forced to call 'restore'.  Instead the tooling should recognize when a restore is needed and restore as appropriate.  (Just like how you don't need to execute `dotnet build` before you call `dotnet run`. If the project needs to be built, the tooling does it for you).

[2016-05-16 19:23] colemickens commented on #3051
It's also confusing if you have a lock file already but haven't restored packages yet (or cleared your cache, etc). I don't have the exact error, but it's not super user friendly.

[2016-05-16 19:24] ardalis commented on #2461
@eerhardt thanks. Switched feeds/sources, but doesn't help with the underlying issue.

[2016-05-16 19:25] eerhardt commented on #2461
1. Can you list your project.json file?
2. Can you list the exact set of commands you executed?

[2016-05-16 19:27] anurse commented on #1896
RID inference was removed in Preview 1. Is this issue still relevant? Please feel free to re-open if there are still issues with this.

[2016-05-16 19:27] #1896 closed

[2016-05-16 19:27] anurse commented on #1778
This is no longer relevant.

[2016-05-16 19:27] #1778 closed

[2016-05-16 19:47] ardalis commented on #2461
Sure, I'm trying to update this sample to RC2 (from RC1):
https://github.com/aspnet/Docs/tree/ardalis/config-rc2/aspnet/fundamentals/configuration/sample

My commands to reproduce the issue are:
dotnet restore
dotnet build

Restore succeeds. Build shows this:
Steves-MBP:CustomConfigurationProvider stevesmith$ dotnet build
Can not find runtime target for framework '.NETCoreApp,Version=v1.0' compati

[2016-05-16 20:05] Eilon commented on #2718
Tried on the final RTM bits, confirmed works there too. Thanks!

[2016-05-16 20:05] Eilon commented on #2718
Sorry final RC2 / Preview1 bits I meant 😄

[2016-05-16 20:18] eerhardt commented on #2461
Looking at your project.json, you are picking a "Self-contained App" (see the ".NET Core App Types" section of https://blogs.msdn.microsoft.com/dotnet/2016/05/16/announcing-net-core-rc2).

Since you are not referencing "Microsoft.NETCore.App" and using a "type: platform" dependency, you are a self-contained app.  In order for self-contained apps to work, they need a "runtimes" section listing all

[2016-05-16 20:30] eerhardt commented on #2529
@piotrpMSFT @gkhanna79 @schellap - do we want this for "Preview2"?

[2016-05-16 20:38] ardalis commented on #2461
I previously tried adding some different runtimes, but didn't get that working, either. I'm guessing I'm using the wrong kind of project for what would just be a class library in the old world.

[2016-05-16 20:40] KevinRansom commented on #1405
This was a dotnet tool bug, I believe it is fixed in the latest versions of the tools.

[2016-05-16 20:40] #1405 closed

[2016-05-16 20:43] eerhardt commented on #2461
Oh, I didn't know you were trying to build a "class library". Your project.json had:

[code]

The "description" said "Console Application" and "emitEntryPoint: true" usually means "console app".

In that case, you don't need a "runtimes" section.  Instead, you should change your "framework" section from `netcoreapp1.0` to `netstandard1.x` where `x` is the lowest level you need. 0-5.  You will prob

[2016-05-16 20:53] eerhardt commented on #2529
Similarly, we should remove the `corehost.exe` file from the Shared Framework directory.  Currently this is being used by `dotnet test` to execute the test runner. And looks like it can be used for other 'extension' commands as well.

[2016-05-16 20:56] brianrob opened #3053 "Disable Partial NGEN"
#2517 enables crossgen for SDK binaries.  However, it does not actually disable partial NGEN.  This is my fault, as I provided the wrong COMPLUS variable.  Instead, the variable specified - COMPLUS_ZapDisable - disables NGEN usage during crossgen, but not at runtime.

@JohnChen0, can you please provide instructions on how to disable partial NGEN at crossgen time so that it can be done during the C

[2016-05-16 21:29] joshfree opened #3054 "Add openSUSE 13.2 CLI build / packages for Preview2"
related https://github.com/dotnet/corefx/issues/8584
/cc @ellismg @livarcocc

[2016-05-16 21:37] pakrym commented on #1736
Fixed: https://github.com/dotnet/cli/pull/2264

[2016-05-16 21:37] #1736 closed

[2016-05-16 21:47] schellap commented on #2986
@leecow closing this as we already have a solution for plumbing the opt out through `configProperties`

/Cc @gkhanna79

[2016-05-16 21:47] #2986 closed

[2016-05-16 21:48] schellap commented on #2582
@anurse, I'd like to close this one out, once you have a fix for #2523

[2016-05-16 22:09] pakrym opened #3055 "MakeRunnable is not called on project when it's built as other project dependency"
...during globbing build

## Steps to reproduce
1. Create apps: TestApp1 -> TestApp2
2. `dotnet build TestApp1 TestApp2`

## Expected  behavior
Both TestApp1 and TestApp2 should have "runtime files" (.deps.json, project references, etc.)

## Actual behavior
Only `TestApp1` would have runtime files

[2016-05-16 22:26] blackdwarf commented on #3043
/cc @enricosada because it seems that @haf is using a tool Enrico wrote. I'm honestly slightly at a loss what is the problem the issue is raising so I hope Enrico can help.

[2016-05-16 22:28] JohnChen0 commented on #3053
To disable partial NGen, please set the following environment variable: `COMPlus_PartialNGen=0`

[2016-05-16 22:40] schellap commented on #2529
`corehost` removal has another bug to be removed. #2408

[2016-05-16 22:42] schellap commented on #2974
@Sridhar-MS assigning this to you once you pick the coreclr. Please merge the above changes from #3007 and close out this issue.

[2016-05-16 22:42] anurse commented on #2523
There are a lot of moving parts to get figured out here so I don't have any immediate plans. I'm not exactly sure who's driving this functionality post RC2.

[2016-05-16 23:00] eerhardt commented on #2529
Thanks, @schellap, I moved that bug to "preview2" as well.

Do we have a bug to support `dotnet test` using the muxer?

[2016-05-16 23:02] brianrob commented on #3053
@Sridhar-MS, is this something that you can fix-up for preview2?

[2016-05-16 23:23] Sridhar-MS commented on #3053
Why does the title mention `Roslyn` only? Note we crossgen all the binaries in the SDK with the same parameters.

[2016-05-16 23:28] shaggygi opened #3057 "Get InitializeComponent and System.Runtime.InteropServices.PInvoke errors when referencing .NET Core RC2 Class DLL with WPF app"
## Steps to reproduce

Using .NET Core RC2 and VS Tools Preview1, create a new C# Class project and compile.  Then create a new WPF application in the same solution.  Reference the Class project DLL by right-clicking Add References... > navigate to DLL > check DLL > click OK.  Now rebuild WPF application.  I tried with .NET 4.5.2 and 4.6.1 with same results.
## Expected  behavior

Should be able t

[2016-05-16 23:28] brianrob commented on #3053
Yes, you're right.  Roslyn is the only one that uses partial NGEN today.  I've updated the title to reflect that the change will affect all binaries that get crossgen'd.

[2016-05-16 23:32] Sridhar-MS commented on #3053
The fix is pretty simple. Add the environment variable here - https://github.com/dotnet/cli/blob/rel/1.0.0/build_projects/shared-build-targets-utils/Utils/Crossgen.cs#L91.

[2016-05-16 23:40] Sridhar-MS opened #3059 "Re-enable crossgen for windows"
When moving the CLI corefx dependency from RC2 to RC3 there was an issue in crossgen for windows. The CLI builds failed with an InvalidCastException in the Newtonsoft.Json library.

CoreCLR issue - https://github.com/dotnet/coreclr/issues/5064

[2016-05-16 23:56] enricosada commented on #3043
I am actively checking this

[2016-05-17 00:51] multiarc commented on #3010
I did checked some results from .Emit() and found actual issue, once referenced Microsoft.CSharp fx reference tests not failing. Closing this as not an issue. My bad.

[2016-05-17 00:51] #3010 closed

[2016-05-17 00:54] justinjstark commented on #1488
I just installed on Ubuntu 16.04 using the directions at https://www.microsoft.com/net/core#ubuntu except I dropped it in /opt/dotnet instead of ~/dotnet.

[code]

[2016-05-17 00:55] justinjstark commented on #1488
I just installed on Ubuntu 16.04 using the directions at https://www.microsoft.com/net/core#ubuntu except I dropped it in /opt/dotnet instead of ~/dotnet.

[code]

[2016-05-17 01:01] colemickens commented on #1488
Xenial isn't supported yet.

[2016-05-17 01:15] barnson opened #3062 "Shared framework MSI has embedded cab"
## Steps to reproduce
- Install DotNetCore.1.0.0.RC2-SDK.Preview1-x64.exe.
## Expected  behavior

Like dotnet-dev-win-x64.1.0.0-preview1-002702.msi, the cab for dotnet-sharedframework-win-x64.1.0.0-rc2-3002702.msi should be external. That ~20MB is duplicated in the package cache and the MSI cache (\Windows\Installer).
## Actual behavior
- Note ~20MB installed for dotnet-sharedframework-win-x64.1.0

[2016-05-17 01:37] justinjstark commented on #1488
@colemickens Got it. Thanks.

[2016-05-17 02:38] shawnrc opened #3063 "dotnet: command not found Mac OS X 10.11.4, dotnet-osx-x64.1.0.0-rc2-3002702.pkg"
## Steps to reproduce
1. Run the latest released .NET Core `pkg` installer: `dotnet-osx-x64.1.0.0-rc2-3002702.pkg`.
2. Pull up a fresh instance of your preferred shell.
3. Run `dotnet`

## Expected  behavior
`dotnet` executes and probably prints usage information because no specific command was passed.

## Actual behavior
I'm given this output:
[code]

## Environment data
`dotnet --info` output:

[2016-05-17 03:14] flyingsky commented on #2544
same even with latest build, "dotnet: command not found"

[2016-05-17 03:53] ardalis commented on #2461
Thanks, @eerhardt, this got me sorted out.

[2016-05-17 04:16] shrayasr commented on #1732
@blackdwarf I had the very same issue and with help from the .NET slack, I got here.

**Disabling the VirtualBox Adapter fixed it for me**

---

Here's what I did:

[code]

This went slow at the start and then eventually pooped out with

[code]

My OS is `Windows 7 SP1 x64`

[code]

VirtualBox is on Version `5.0.10 r 104061` ([FileHippo link](http://filehippo.com/download_virtualbox/64439/) / [Vir

[2016-05-17 04:51] AArnott commented on #2429
That doesn't work either:

[code]

[2016-05-17 05:09] Petermarcu commented on #3062
Hey Bob! Good feedback.

[2016-05-17 05:12] Petermarcu commented on #3062
Looks like its right in the SDK installer but as you pointed out, the shared framework installer inside it is wrong.

[2016-05-17 06:52] Skywalker13 commented on #1832
I don't understand why you have closed this issue; the problem persists with debian stretch and the current preview1 of dotnet cli.

[2016-05-17 07:08] liuhaoyang opened #3064 "Asp.Net Core RC2 Error in visual studio 2015"
I am using Visual Studio Enterpirse 2015  Version 14.0.25123.00 Update 2.

I am getting error message after installing DotNetCore.1.0.0.RC2-VS2015Tools.Preview1.

The error message says:
"The project is configured to use .NET Core SDK version 1.0.0-preview1-002702 which is not installed or cannot be found. These components are required to build and run this project."

What should I do now? Looking

[2016-05-17 07:22] axelheer opened #3065 "dotnet restore fails behind proxy using windows authentication"
## Steps to reproduce

* set nuget `http_proxy` as described [here](https://docs.nuget.org/consume/nuget-config-settings#proxy-settings)
* validate that "classic" nuget actually works
* create new basic app using `dotnet new`
* restore packages using `dotnet restore`

## Actual behavior

[code]

## Environment data

[code]

[2016-05-17 07:23] ShaomingCode commented on #3064
please workspace run  dotnet --version

[2016-05-17 08:11] StefH opened #3066 "Produce outputs on build is removed from RC2 and PostCompile does not work as expected"
In RC1 (dnx) you could check the option "Produce outputs on build" which creates a NuGet after the build.

However in RC2 (dotnet) this does not work anymore, and the **postcompile** cannot be use for that.

I've defined this in my **project.json**:

[code]

However this step is executed for every framework in my projoct.json ?

[code]

[2016-05-17 08:27] mwiedemeyer commented on #3064
Same issue here. Here is the output of `dotnet --version`
![image](https://cloud.githubusercontent.com/assets/4295189/15315772/eb1b5040-1c19-11e6-8f81-8500f80cc123.png)

[2016-05-17 08:39] AmirSasson commented on #3065
Got into the same problem, did you managed to solve?

[2016-05-17 08:52] axelheer commented on #3065
I'm currently using Fiddler as a local proxy using the "Automatically Authenticate" rule for our corporate proxy while the nuget config points to http://127.0.0.1:8888. Not very handy, but works as a temporary workaround.

[2016-05-17 08:56] harumph opened #3067 "Installation failure on Windows 8.1"
## Steps to reproduce
I installed the .Net Core SDK from the official page: https://www.microsoft.com/net/core#windows
The installer failed at first try but succeeded on second.

[code]

## Expected  behavior

Compile and execute the example project

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

## My investigation so far

I tried reparing C++ 2015 Redistributabl

[2016-05-17 09:46] wenjiangtao commented on #3063
same problem with u, still do not how to fix it.

[2016-05-17 10:09] fubar-coder opened #3069 "Native DLL not found with dotnet cli win-x64 while testing with xunit targeting net451"
## Steps to reproduce

project.json:
[code]

Program.cs:
[code]

Commands:
[code]

## Expected  behavior

Working test run, as with .NET Core 1.0 RC2:
[code]

## Actual behavior

[code]

The error message says, that the file `Microsoft.DiaSymReader.Native.x86.dll` could not be found.

The full build output is stored in `.\Debug\net451\win7-x64`, which only contains a `Microsoft.DiaSymReader.Native

[2016-05-17 10:18] jtbm37 commented on #1732
I don't know how but after several attempts of disabling the interface and rebooting the vm, it finally worked. I could finally restore a new project.

[2016-05-17 10:58] alaatm opened #3070 "RC2 error in VS 2015 - Failed to initialize CoreCLR, HRESULT: 0x80131500"
## Steps to reproduce

Install RC2 on a machine that previously had RC1 installed and removed through Add/Remove Programs.
Open VS 2015 and create a new.net core console/web or library template.
## Expected  behavior

New solution created successfully.
## Actual behavior

I get the following error:

![image](https://cloud.githubusercontent.com/assets/2095803/15357526/0e11ec6e-1d08-11e6-90b7-a5d5c5

[2016-05-17 11:14] plouveau commented on #3069
I've got exactly the same behavior here !
Got my tests running with framework **.NETCoreApp,Version=v1.0**, but it's failed with **.NETFramework,Version=v4.5.1 or v4.6**

[2016-05-17 12:36] ealsur commented on #3069
+1 same behavior with 4.6

[2016-05-17 13:23] melsayed opened #3071 "can not update core preview 1 to RC2"
## Steps to reproduce
I installed .NET Core (RC2) from https://www.microsoft.com/net/download
but when open CMD and check version of Core it still get preview1

need to know what is the problem?

[2016-05-17 13:34] dasMulli commented on #3063
If you created symlinks manually, they may point to a different directory. execute `ls -l $(which dotnet)` to see if you have a broken symlink (e.g. pointing to a `dotnet/bin` directory).

[2016-05-17 13:37] branciat commented on #1832
The runtimes is compatible with the [debian 8.2](https://www.microsoft.com/net/core#debian) version only.

[2016-05-17 13:39] dasMulli commented on #3063
Also note that there is another zsh related issue thread: #1567

[2016-05-17 13:40] flyingsky commented on #2544
Actually after install, i need open new terminal to run command. Then it works.

[2016-05-17 13:43] flyingsky commented on #3063
I just open a new terminal, it works. It's the first time to install. If I use existing terminal before the installer, it seems the path is not effect, so cannot find command 'dotnet'.

[2016-05-17 13:46] jakvike commented on #3064
Same issue here.
![image](https://cloud.githubusercontent.com/assets/1852180/15324381/d2aa9538-1c0b-11e6-9466-079f58f8342d.png)

[2016-05-17 13:49] dlebedynskyi opened #3072 "How to run SSL on RC2 from console?"
## Intro
We need to run app on https for development since it integrates with other services that are https/wss only.
in RC1 in project.json we had
[code]
that allowed us to run command in console `dnx express -- server.urls https:\\localhost:43431\`.

## Steps to reproduce
Current dotnet has run  and with new Visual Studio project on RC2 you can get launchSettings.json that allows you to specify

[2016-05-17 13:51] dasMulli commented on #3064
You need to uninstall old version of the RC2 tooling. `dotnet --version` should show `1.0.0-preview1-002702`

[2016-05-17 14:00] tatalvit commented on #2515
I tested RC1 and today RC2. Basic hello world web app compiles in around 2.0 seconds and IIS Express shows the changes to startup.cs file within 3-5 seconds in both RC1 and RC2. But, when I edit MVC controller class and hit the refresh in browser there is a major difference: in RC1 it tooks 3-5 seconds but in RC2 around 9-12 seconds. This only applies if the URI executes MVC controller.

[2016-05-17 14:07] tatalvit commented on #2889
I tested RC1 and today RC2. Basic hello world web app compiles in around 2.0 seconds and IIS Express shows the changes made to startup.cs file within 3-5 seconds in both RC1 and RC2. But, when I edit MVC controller class and then hit the refresh in browser there is a major difference: in RC1 it tooks 3-5 seconds but in RC2 around 9-12 seconds until IIS Express responds to request. This only applie

[2016-05-17 14:27] #3064 closed

[2016-05-17 14:45] mcliment commented on #3069
I have the same problem. Explicitly specifiying where the compiled binaries are works for me.

`> dotnet test` -> Fails as described above trying to locate `Microsoft.DiaSymReader.Native.x86.dll`, banner is `xUnit.net .NET CLI test runner (32-bit win10-x86)`
`> dotnet test -r win10-x86 -o bin\Debug\net46\win10-x86` -> **Works** :fireworks: properly and runs all tests

Setting the runtime seems to

[2016-05-17 15:34] jskeet opened #3073 "Unable to test non-Core code on Linux"
(Apologies if this is the wrong repo for this; it's not clear to me whether this is xUnit-specific or the expected behaviour when testing on Linux.)

## Background

I have projects which don't target core yet, but I still want to test on Travis. They work fine on RC1 (with `dnx test` and the old xUnit setup) and work fine with an updated `project.json` on Windows, but fail to run tests on Linux.

[2016-05-17 15:37] onovotny commented on #3073
As far as I can tell, one issue is that there's no specific Mono RID, so there's no runtime exe that we can create in the `dotnet-test-xunit` package for this.

[2016-05-17 15:37] onovotny commented on #3073
/cc @bradwilson

[2016-05-17 15:43] pocarist commented on #1405
I installed latest version ([dotnet-dev-osx-x64.1.0.0-preview1-002702.pkg](https://go.microsoft.com/fwlink/?LinkID=798400)), but still occur.

My environment is OS X 11.4.
I tried,
[code]

Did anyone succeed?

[2016-05-17 15:54] tuespetre commented on #854
The local development process for a CLI tool doesn't seem very accessible without this functionality.

[2016-05-17 16:00] gafemoyano commented on #3065
What worked for me was leaving the NuGet.Config in AppData intact after installation and checking the "Automatically Authenticate" option on Fiddler.

[2016-05-17 16:01] pocarist commented on #1405
Sorry, I succeeded!
It was because left the old environment.
% rm -rf /usr/local/share/dotnet
then reinstall latest version, so I succeeded.
Thank you.

[2016-05-17 16:12] CoreyKaylor commented on #3069
Same behavior for me. https://github.com/CoreyKaylor/Lightning.NET/tree/rc2-update

[2016-05-17 16:25] pakrym opened #3075 "NullReferenceException in dotnet build if project.json target framework was changed"
But project was not re-restored.

## Steps to reproduce
1. dotnet new
2. change `netcoreapp1.5` to `net451`
3. dotnet build

## Expected  behavior
Error message saying that project need to be restored

## Actual behavior
[code]

[2016-05-17 16:25] jchannon opened #3076 "Add a flag to dotnet build to only show errors"
## Steps to reproduce

Run `dotnet build` this will give warnings and errors.

When migrating code you only want to see errors to start with.  You can then solve the warnings once it compiles and turn on "Warning as errors"
## Expected  behavior

Output only showing errors
## Actual behavior

Shows errors and warnings
## Environment data

[code]

[2016-05-17 16:27] james-uffindell-hpe opened #3077 "dotnet test documentation steps error"
## Steps to reproduce
The dotnet-test documentation here: http://dotnet.github.io/docs/core-concepts/core-sdk/cli/dotnet-test.html has a sample project.json that looks as follows:
{
    "version": "1.0.0-*",

    "dependencies": {
        "NETStandard.Library": "1.0.0-*",
        "xunit": "2.1.0-*",
        "dotnet-test-xunit": "1.0.0-*"
    },
    "testRunner": "xunit",

    "frameworks": {

[2016-05-17 16:27] jchannon opened #3078 "Order the warnings and errors"
## Steps to reproduce

Run `dotnet build`

This gives warnings and errors as it compiles each file.
## Expected  behavior

Errors and Warnings to be reported separately
## Actual behavior

Errors and Warnings mixed together
## Environment data

[code]

[2016-05-17 16:27] tstringer opened #3079 "CLI help documentation should list `help` as a command"
## Steps to reproduce

1. `dotnet --help`
2. Notice no `help` entry under `Common Commands`

## Expected  behavior

When running `dotnet --help` it should explicitly state that `help` is a command.  I.e. something like this:

[code]

Without knowing (or digging through online information, which isn't desired with a CLI) that you can run `dotnet help <command>`.  Whereas it is also possible to run

[2016-05-17 16:32] NickCraver commented on #3075
+1 - Hit this while porting `StackExchange.Redis` up from RC1. I have a saved zip of the directory to re-test any fix here.

[2016-05-17 16:34] bradwilson commented on #3073
Smells like a tooling problem, not an xUnit.net problem.

[2016-05-17 16:37] jskeet commented on #3073
So I reported it in the right repo by chance? Result :)

Do let me know if there's anything I can do to help diagnose it. I realize there are a lot of variables in play here.

[2016-05-17 16:40] james-uffindell-hpe commented on #3069
That project.json fails the same for me too:

xUnit.net .NET CLI test runner (32-bit win7-x86)
System.DllNotFoundException: Unable to load DLL 'Microsoft.DiaSymReader.Native.x86.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
SUMMARY: Total: 1 targets, Passed: 0, Failed: 1.

I don't have a bin\Debug\net451\win7-x86 folder, only bin\Debug\net451\win7-x64. Passing

[2016-05-17 16:48] eerhardt opened #3081 "Performance tests fail unexpectedly on CI"
Microsoft.DotNet.Tools.Builder.Tests.BuildPerformanceTest.IncrementalRebuildWithRootChangedInGraph_TwoTargetGraph failed in my CI run.

http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/rel_1.0.0/job/release_ubuntu_x64_prtest/1926/

[code]

[2016-05-17 16:48] brthor commented on #854
This would require some nuget changes to make happen. Why is a `dotnet run` on the tool project itself insufficient?

In our repo we pack the tool, then use a local package source during restore of the consuming project, which works nicely.

cc @emgarten @joelverhagen

[2016-05-17 16:50] joelverhagen commented on #854
Related NuGet issue: https://github.com/NuGet/Home/issues/2469

[2016-05-17 16:51] #3055 closed

[2016-05-17 16:51] eerhardt commented on #2999
I'm working on fixing this.

[2016-05-17 16:54] dontbesorry80 commented on #3070
Alaatm.
I have the same problem as this.. How did you manage to resolve it?

[2016-05-17 17:47] shawnrc commented on #3063
@wenjiangtao The quick fix is to just run `ln -s /usr/local/share/dotnet/dotnet /usr/local/bin/`, which will get you a working `dotnet`, but doesn't change the fact that the installer fails to make the symlink.

@dasMulli I haven't made any symlinks to the dotnet binary before, and there was nothing referencing it in `/usr/local/bin/` at that point.

@flyingsky Hey, looks like the installer actual

[2016-05-17 17:54] halter73 opened #3082 "Validate parameters to the "mapppings" sections in project.json"
## Steps to reproduce

Map a single embedded resource (meaning the destination/key doesn't end in a '/') to a directory. Use any of the invalid source and destination "mapping" parameters demonstrated below.
## Expected  behavior

An error output from `dotnet build` indicating that the destination must end in a '/' to map to a directory. An error for any invalid or mismatching source or destinatio

[2016-05-17 18:07] responsiveObject commented on #3069
+1 same error with framework net46
When I build the class library, the Discovering tests display: 'test-xunit' returned '1'.

[2016-05-17 18:16] troydai opened #3083 "Running build from rel/1.0.0 will create a sdk without assemblies but optimization data"
## Steps to reproduce
1. Install preview1 build by running `dotnet-install.sh`
2. Sync to latest `rel/1.0.0` branch
3. Run `build.sh`

## Expected  behavior
1. dotnet already installed should be intact;
2. or the newly installed dotnet works;

## Actual behavior
1. A new folder is created under `sdk` folder, named `1.0.0-preview2-002769`, under which there is nothing but optimization data
2. Cause

[2016-05-17 18:20] brthor commented on #3083
cc @piotrpMSFT

Is there a way to redirect the location of the multicorejit data? If we did that in our build, it should solve this issue.

[2016-05-17 18:23] cbeall commented on #3065
I'm experiencing the same issue. Is it fair to assume (and plan for) this being something that would not be resolved until RTM? Does anybody know if this is an issue exclusively with windows, or impacts all platforms?

[2016-05-17 18:23] shawnrc commented on #1567
Since the project requires users to have brew set up, why not create a symlink to the dotnet binary in `/usr/local/bin/`? Also doesn't require root privilege to do so.

[2016-05-17 18:28] NickCraver opened #3084 "dotnet test -r without an argument causes a hard crash"
## Steps to reproduce
`dotnet test -r` (no actual argument for runtime)

## Expected  behavior
An error/informational message at the console that the `runtime` argument is required, optimally with a list of runtimes.

## Actual behavior
Hard crash outside of the terminal, WER style.

## Environment data
`dotnet --info` output:
[code]

[2016-05-17 18:34] blackdwarf commented on #1567
@shawnrc not quite sure what you mean? We do not have a brew formula (yet).

[2016-05-17 18:36] halter73 opened #3085 ""runtimeOptions" are not supported under the "frameworks" or "configurations" project.json sections"
## Steps to reproduce

Add a "runtimeOptions" section under a specified framework or configuration in a project.json.

    "configurations": {
      "Release": {
        "runtimeOptions": {
          "configProperties": {
            "System.GC.Server": true
          }
        }
      },
      ...

## Expected  behavior

The runtimeOptions would take affect for the specified configuration or fram

[2016-05-17 18:39] shawnrc commented on #1567
@blackdwarf On the OS X install instructions page (https://www.microsoft.com/net/core#macosx), the first thing they have users do is to install brew and pull down the latest version of openssl. If I remember correctly, the brew installer instructs users to add `/usr/local/bin/` to their PATH, so you might be able to take advantage of that.

[2016-05-17 18:41] brthor commented on #1567
Why `/usr/local/bin` over `/usr/bin` ?

Is pkg considered machine wide or user specific?

[2016-05-17 18:42] anurse commented on #540
This was actually done in RC2 via https://github.com/dotnet/cli/pull/2511

[2016-05-17 18:42] #540 closed

[2016-05-17 18:43] blackdwarf commented on #1567
@shawnrc ah, I see what you mean. Yes, we might end up doing that if we detect `zsh` on the user's machine.

But, my main thig is, `path_helper` is an OS-wide thing. I would like to know why is this not working for `zsh` and whether any solution we come up with is a workaround or permanent.

[2016-05-17 18:43] blackdwarf commented on #1567
@brthor PKG is machine wide.

[2016-05-17 18:52] aL3891 commented on #854
It's just added friction to developing tools, I figured since this already works for regular packages, it would be possible to do for tools as well. For me personally, its not a deal breaker, but it would be handy :)

[2016-05-17 18:53] shawnrc commented on #1567
@blackdwarf Fair enough, and figuring out how to get `path_helper` working properly on all shells is potentially the more sustainable solution, assuming you can't symlink to some directory that's more likely to already be part of users' PATHs.

Crazy idea - perhaps a `brew`-installed `zsh` doesn't use the system zprofile at `/etc/zprofile`, and therefore doesn't make a call to `path_helper`?

[2016-05-17 19:05] halter73 opened #3086 "dotnet publish does not clean output directory"
## Steps to reproduce

Run `dotnet publish` with `publishOptions` like the following:

    "publishOptions": {
      "include": [
        "wwwroot",
        "Views",
        "appsettings.json",
        "web.config"
      ]
    }

Then remove an included directory such as "wwwroot" and run `dotnet publish` again.

## Expected  behavior

The publish directory would be cleaned and "wwwroot" would not

[2016-05-17 20:22] devhammer opened #3087 "Is x86 support for Linux planned?"
Wanted to test .NET Core RC2 on Linux Mint 17.3, but the build I'm running is x86, and it looks like the current .NET Core bits are x64 only.

Is x86 support planned at some point, or is x64 the only option?

[2016-05-17 20:23] eerhardt commented on #3031
I don't think we can do this for our managed assemblies.  The .nupkgs we package and publish need to be signed, and signing only happens on Windows builds.

[2016-05-17 20:32] blackdwarf commented on #1567
@shawnrc interesting idea. Will look into that.

[2016-05-17 20:39] blackdwarf opened #3088 "Go through the DEB dependencies with a fine-tooth comb"
We need to go through all of the dependencies on our DEB packages and fix all of the dependencies to be only the set we really need.

[2016-05-17 20:40] brthor commented on #3088
Can we create separate issues for each of the packages and use this to track cleaning the dependencies of the deb package?

[2016-05-17 20:42] blackdwarf commented on #3088
Sure thing. Though, we have just this one for now. :)

[2016-05-17 20:42] brthor commented on #3088
The only thing on deb which should need to be removed is the `clang-3.5` dependency.

[2016-05-17 20:55] blackdwarf commented on #3088
@brthor we should also go through the runtime and fx debs and see if those need updating.

/cc @ellismg for that as well.

[2016-05-17 20:57] RussKeldorph commented on #3087
I would say it's likely "at some point," but can't provide any details right now.  If you look in https://github.com/dotnet/coreclr, you'll see we are actively porting RyuJIT to x86 on Windows.  That would open the door to Linux/x86, but there's still a bunch of JIT work in addition to the runtime work to make that happen.

[2016-05-17 20:57] brthor commented on #3088
@blackdwarf The dependencies of the runtime/fx debs are auto detected by matching the exports of the .so files against packages on the build machine.

Except for libssl1.0.0 and libcurl3 which we have established previously that needed to be there.

[2016-05-17 21:07] blackdwarf commented on #3088
@brthor ah, ok. Then I was misinformed. We need liblldb-3.6 as well for sharedfx?

[2016-05-17 21:10] ellismg commented on #3088
This is necessary if you want to load the SOS plugin in LLDB.  If there's a way to say it's "optional", we should do that.  The runtime will function fine without it, but using lldb to debug the runtime will be harder (this does not impact using VS to debug managed code).

[2016-05-17 21:10] brthor commented on #3088
##dotnet-host
[code]

#dotnet-sharedframework
[code]

#dotnet-dev
[code]

[2016-05-17 21:16] Bundas commented on #2018
Hey, I have the same error. I have icu and libundwind installed. What else could be the problem?

I am running Ubuntu 16.04 @ellismg @murali2020kris

[2016-05-17 21:16] brthor commented on #3088
@ellismg We can do this by manually setting liblldb-3.6 to an recommended dependency and passing a `-X` argument to [dpkg-shlibdeps](http://manpages.ubuntu.com/manpages/wily/man1/dh_shlibdeps.1.html) in the rules file of the runtime package.

[2016-05-17 21:18] dmarkle commented on #3065
This is pretty huge.  I'm experiencing this as well.  It's a complete blocker for us.

[2016-05-17 21:22] mutex007 commented on #3006
Thanks, will try it out tonight.

[2016-05-17 21:35] NotMyself opened #3089 "dotnet run ./path/to/project throws Object reference not set to an instance of an object."
## Steps to reproduce
Steps fail on both Windows or OSX

clone https://github.com/NotMyself/coreapp
`cd coreapp` & `dotnet restore`
`dotnet run ./src/UIMvc`
`dotnet test ./test/UIMvc.Tests`

## Expected  behavior
web project should compile and run
test project should compile and run
## Actual behavior
web project throws Error: Object not set to an instance of an object.
test project runs as expect

[2016-05-17 21:40] michalogluszka opened #3090 "dotnet uninstall debian packages fails with 1.0.0-beta-001675"
## Steps to reproduce
(current documentation mention this as first step: https://www.microsoft.com/net/core#ubuntu)
- run dotnet-uninstall-debian-packages.sh

## Expected  behavior
 - Documentation to be changed, or
 - Script should remove dotnet and dotnet-host as well

## Actual behavior
`$ sudo ./dotnet-uninstall-debian-packages.sh`
Unable to find dotnet installation to remove.
But...
`$ dpkg -

[2016-05-17 21:42] blackdwarf commented on #3087
@devhammer at this point, we don't have any real plans to have an x86 release for Linux. However, as with all things, we will listen to customer feedback and re-evaluate that decision if feedback indicates it is a needed/wanted thing.

[2016-05-17 21:43] blackdwarf commented on #3089
@NotMyself just one item, did you point to a directory with a project.json or to the project.json explictly?

[2016-05-17 21:48] brthor commented on #3090
Hi @michalogluszka,

The uninstallation script was only intended to remove packages created post-sharedframework, which does not include the `dotnet` package. This includes packages like `dotnet-host` and `dotnet-dev-1.0.0-preview1-002702`

This would be easy enough add, but as you noticed the fix is as simple as doing `apt-get remove dotnet`. If you were to try to install the newer packages, they

[2016-05-17 21:49] NotMyself commented on #3089
To a directory with a project.json. You should be able to repro from the git repo posted.

[2016-05-17 21:53] rdefreitas commented on #3069
same here

[2016-05-17 21:53] devhammer commented on #3087
OK. Thanks for the feedback. I don't know that I'd prioritize it over other work...more trying to understand the roadmap.

[2016-05-17 21:54] michalogluszka commented on #3090
Thanks for explanation. I'll close this ticket.
P.S. As I see documentation has changed already. Issue with apt-get certificates has been resolved. Good Luck!

[2016-05-17 21:54] #3090 closed

[2016-05-17 21:54] sadjadbp opened #3091 "Asp.Net project with Build platform x86"
Here is a original thread at MVC repo, been told to open it here https://github.com/aspnet/Mvc/issues/4663

I have a asp.net project that reference a native dll via Nuget package. This native DLL is only build for x86. I've changed my project.json to set buildOptions
"platform": "x86"

But when I build this asp.net project via visual studio, it creates "bin\Debug\net46\win7-x64" as oppose to "win7

[2016-05-17 21:54] galvesribeiro commented on #3069
:+1:

[2016-05-17 21:55] brthor commented on #3090
no problem, thanks!

[2016-05-17 22:30] ellismg commented on #3088
The library bringing in the dependency is `libsosplugin.so`.

[2016-05-18 00:35] nil4 commented on #3086
@halter73 reported as #2855

[2016-05-18 02:00] brunobelarmino commented on #3077
:+1:

[2016-05-18 02:14] blackdwarf commented on #3077
@james-uffindell-hpe yeah, that needs to change. Will update the sample which went out of sync with the implementation.

[2016-05-18 02:25] blackdwarf commented on #3077
This is fixed via dotnet/core-docs#449. The changes will be online tomorrow in the docs. Closing this, please reopen if the docs are still not correct.

[2016-05-18 02:25] #3077 closed

[2016-05-18 04:59] KrzysFR commented on #3071
I had a similar issue, but on OSX. I installed some nightly version released during NDC London earlier this year that may not be recognized by the uninstall script, as well as the 1.0.0 version of dotnet cli.

I found the offending locations by looking at my PATH env variable, and testing each one, and removing all the old ones

I had to do the following to make it work on OSX (YMMV):
- run the un

[2016-05-18 06:01] ghost opened #3093 ".NET core should not SPY on users by default"
@blackdwarf @piotrMSFT I am very disappointed to discover that .NET core comes with a hidden and enabled spy utility that reports on its users. (Lakshanf/issue2066/telemetry #2145). Apparently, MS has learned nothing from the backclash against Windows 10 spying on users. I suspect many will not want to install .NET core for this reason, which is a shame because .NET core is otherwise cool.

[2016-05-18 06:33] Tasteful opened #3094 "project json schema is refereing to pre/postbuild and code to pre/postcompile"
## Steps to reproduce
Create a project.json that includes
[code]
That regarding to http://json.schemastore.org/project-1.0.0-rc2 (http://json.schemastore.org/project) are the correct script-name for build (pre/post).

## Expected  behavior
The script should be executed

## Actual behavior
The script is not executed,
regarding to https://github.com/dotnet/cli/blob/ac4c6702d5d345dc9c397f80290f105fed

[2016-05-18 06:33] praseetht commented on #3064
I'm also running into the same issue. I had previous version on runtimes which i removed using `dnvm uninstall` but VS 2015(Update 2) still doesn't allow me to build AspNetCore project
:confused:

[2016-05-18 06:56] macgyver76 commented on #3064
I've got same problem when changing sdk version in global.json file. My `dotnet` version is `1.0.0-preview1-002702`.

[2016-05-18 07:08] melsayed opened #3095 "version of dotnet core"
hello all,

what should be the right version after install RC2?

because after installed i always got version 1.0.0-preview1-002702
not version 1.0.0-RC2

need help of this

[2016-05-18 07:56] tverboon commented on #3095
It's .Net Core RC2 and .NET Core SDK Preview 1.

So dotnet --version should show: 1.0.0-preview1-002702. It is the right version.

https://blogs.msdn.microsoft.com/dotnet/2016/05/16/announcing-net-core-rc2/

[2016-05-18 08:42] atanasa opened #3096 "Projects wrapping binary assemblies break incremental build"
## Steps to reproduce
1. Wrap a.dll in a project using the "bin" -> "assembly" keys in the project.json
2. Reference the project in an executable (library project should also reproduce it)
3. Build the executable project
4. Build the executable project again

## Expected  behavior
The second build (step 4) should report that a build is not needed.

## Actual behavior
The second build (step 4) buil

[2016-05-18 08:50] veb82 commented on #3065
I've tried setting proxy in nuget.config in AppData (proxy, user and pass) and it somehow ignores that, but not completely. If I set the proxy to nonsense URL it fails saying that the URL is wrong. If I provide a correct one it complains about auth (407). So if knows about the settings but somehow partially only.

[2016-05-18 09:08] james-uffindell-hpe commented on #3077
There seems to be a missing comma in the json example there now (after the Microsoft.NETCore.App object), but other than that the updated json works fine for me with dotnet restore/test.

[2016-05-18 09:14] dasMulli commented on #3064
@praseetht @macgyver76: check that you have the following two packages installed (only! nothing else named "Microsoft .NET Core ...") via control panel > programs and features

* `Microsoft .NET Core 1.0.0 RC2 - SDK Preview 1 (x64)` version `1.0.0.2702` (you may have an x86 version. but not concurrent with x64 afaik.)
* `Microsoft .NET Core 1.0.0 RC2 - VS 2015 Tooling Preview 1` version `1.0.2513.

[2016-05-18 09:25] macgyver76 commented on #3064
@dasMulli Yes, I have just the two of them, nothing else.

[2016-05-18 09:32] dasMulli commented on #3064
You can try to delete the `.xproj` files and just open the `project.json` file as a project (file > open > project/solution). That should generate a fresh `.xproj` file (however, you may run into https://github.com/aspnet/Tooling/issues/480 which you need to manually work around).
If that and a reboot doesn't solve it, you should maybe file a new issue.

[2016-05-18 10:55] andriysavin commented on #317
When I try to publish a self-contained app for **win10-arm** using RC2 (according to instructions [here](http://dotnet.github.io/docs/core-concepts/app-types.html)) I get the same warning: host executable not available in dependencies, using host for current platform. And in the output I get x64 executable (what's the sense in such fallback?). From this thread I still don't see how to make this wo

[2016-05-18 11:29] james-uffindell-hpe opened #3097 "dotnet restore does not prompt for authentication"
## Steps to reproduce
When using a Nuget repository that requires authentication, dotnet restore fails with a 401 Unauthorized unless the password is provided in cleartext in the Nuget config file. The underlying issue seems to be similar to #2510 - as mentioned in that ticket, a cleartext password in the Nuget config file works.

However, having cleartext passwords in the config file isn't great,

[2016-05-18 11:31] ivaylokenov opened #3098 "AsyncLocal is behaving differently after upgraging from DNX"
## Steps to reproduce

I have the following class:

[code]

The following test runs successfully on DNX. Assume that TestServiceProvider always returns the same instanve of MockedMemoryCache and TestHelper just call Dispose, which clears the dictionary.

[code]

## Expected  behavior

The test to pass like it did on DNX.

## Actual behavior

After moving to CLI the test started failing with unexpe

[2016-05-18 11:45] ivaylokenov opened #3099 "Does DependencyContext loads libraries from the current build?"
## Steps to reproduce

I have the following project.json file in a project called "MyTested.Mvc.Test":

[code]

Then in a test I call

[code]

## Expected  behavior

I expect to find the dependency with type "build".

## Actual behavior

The dependency is null. If I change it to "Microsoft.AspNetCore.Mvc", which is an external library, it works correctly. Is this expected behavior?

Also if I run

[2016-05-18 11:50] alaatm commented on #3070
@dontbesorry80 I haven't managed to resolve it. I closed the issue thinking it was a tooling problem (https://github.com/aspnet/Tooling/issues/489) but I'm re-opening again.

[2016-05-18 11:56] simsod commented on #2576
@piotrpMSFT: is this for real? How has this not been communicated clearly to the community? Dropping support for net451 on osx/mono is a HUGE deal for many of us. Is there a workaround or something using imports?

[2016-05-18 12:03] mswietlicki commented on #3069
I noticed that as a temporary fix adding C:\Program Files\dotnet\sdk\1.0.0-preview1-002702\runtimes\win-x86\native to Env:Path helps.

[2016-05-18 12:18] davidfowl commented on #2576
Pretty sure this works

[2016-05-18 12:24] simsod commented on #2576
Based on @davidfowl cli-samples/HelloMvc
`
{
  "buildOptions": {
    "preserveCompilationContext": true,
    "emitEntryPoint": true,
    "debugType": "portable"
  },
  "publishOptions": {
    "include": [
      "wwwroot",
      "Views"
    ]
  },
  "dependencies": {
    "Microsoft.AspNetCore.Diagnostics": "1.0.0-*",
    "Microsoft.AspNetCore.Mvc": "1.0.0-*",
    "Microsoft.AspNetCore.Server.IISInt

[2016-05-18 12:32] ivaylokenov commented on #3099
I changed the project.json file from this:

[code]

To this:

[code]

It seems that now the dependency is loaded correctly and everything works fine, however I believe the above is a bug.

[2016-05-18 12:38] ivaylokenov opened #3101 "CLI Test Runner returns different ApplicationName than the DNX one"
I am opening this issue here because the test runner repository cannot have issues.

## Steps to reproduce

Create test project named "MyApp.Test" (or whatever name you like).

Somewhere in the tests call:

[code]

## Expected  behavior

In DNX we received "MyApp.Test".

## Actual behavior

In CLI we receive "dotnet-test-xunit".

While I know this is not a bug and completely understand why "dotnet

[2016-05-18 12:38] praseetht commented on #3064
It finally worked. Thanks @dasMulli :+1:
Here's what I did:
- Reinstalled Tooling
- Did `dnvm uninstall` on all version of runtime
- Installed latest Nuget Manager Extension from https://dist.nuget.org/visualstudio-2015-vsix/v3.5.0-beta/NuGet.Tools.vsix (This was mentioned in the docs, but somehow I missed that)
- Deleted all old `.xprojs` and created new.

[2016-05-18 12:40] dg9ngf opened #3102 "dotnet.exe locks web application .dll file, prevents re-deployment"
## Steps to reproduce

* Deploy an ASP.NET Core 1.0 RC2 web application to an IIS web server
* Open the web page in a browser
* Deploy the app again

## Expected  behavior

* .dll file is copied to IIS application path

## Actual behavior

* dotnet.exe (started by w3wp.exe) locks the main web application .dll file and msdeploy can't overwrite it

## Environment data
`dotnet --info` output:

[2016-05-18 12:41] macgyver76 commented on #3064
@praseetht How did you create new `xprojs` files?

[2016-05-18 12:43] praseetht commented on #3064
@macgyver76 Yes. I removed the old ones'

[2016-05-18 13:08] jlandersen opened #3103 "dotnet test with xUnit and full .NET framework causes System.BadImageFormatException"
## Steps to reproduce

Create a web application that targets full .NET framework, e.g. with:
`
 "frameworks": {
    "net461": { }
  },`

Create a class library with xUnit, testhost and web application as dependencies - e.g.:

[code]

Create a unit test in class library that uses the web application:

[code]
## Expected  behavior

Tests are executed properly
## Actual behavior

[code]
## Environmen

[2016-05-18 13:20] decompiled commented on #2018
@Bundas I am also having the same issue with 16.04 with icu and libundwind.

[2016-05-18 14:20] julielerman commented on #3073
I'm getting this error ( No executable found matching command "dotnet-test-") as well but with dotnet core on osx. I'm not finding much via googlebing so adding onto this relatively similar thread ...because it puts me in such good company. :)

[2016-05-18 14:24] onovotny commented on #3073
@julielerman can you share your project.json?

[2016-05-18 14:28] GuardRex commented on #317
@andriysavin Looks like this is still being worked on https://github.com/dotnet/cli/issues/2949 and https://github.com/dotnet/cli/issues/2343.

[2016-05-18 14:31] julielerman commented on #3073
I've been mucking with it but results are still the same:

[code]

[2016-05-18 14:33] onovotny commented on #3073
So to be clear, the above works on Windows but not OSX?

[2016-05-18 14:36] degrim commented on #3089
using `dotnet run -p ./src/UIMvc` should work, but this error message should really clarify that you need the -p.

[2016-05-18 14:40] degrim commented on #3088
@brthor I don't see gettext in that list, but the dotnet-install.sh script checks for it.  Is gettext actually required on debian-based systems?

[2016-05-18 14:41] andriysavin commented on #317
@GuardRex  Ok, its hard to see clearly what's the status of the bug, since there are many similar issues which are somehow related, some of which are open, some closed (like this)...

[2016-05-18 14:42] CoreyKaylor opened #3105 "DllImport native lib not found on rc2"
## Steps to reproduce
Use DllImport with folder structure in project as proposed from previous working rc1 release.
A unit test project with tests using the functions that have DllImportAttribute applied.

## Expected  behavior
The native lib should be found the same as it was in rc1 and shouldn't cause failing tests.

## Actual behavior
All tests will fail with errors System.DllNotFoundException

[2016-05-18 14:46] julielerman commented on #3073
have not done any of this on windows. using vscode on a mac. Also, I have a full project that is running. I will create a 1+1=2 test and try to run that to be sure it's not a problem related to the dependency on that other project. Also, the only other ref I found to this error message was followed by "oh ..typo in project.json...sorry" but I can't see one and vscode is not reporting any issues. T

[2016-05-18 14:58] blackdwarf commented on #3095
@tverboon is right. Closing this with that answer.

[2016-05-18 14:58] #3095 closed

[2016-05-18 15:06] blackdwarf commented on #3089
In general, I don't think we should throw exceptions. :smile:

[2016-05-18 15:07] ardalis commented on #3073
dotnet-test should be dotnet test, if you're still seeing that error. If you're not typing that yourself, then it seems like you need to update your tools/SDK.

[2016-05-18 15:10] blackdwarf commented on #3072
@anurse @DamianEdwards care to weigh in? Maybe this issue is supposed to be on the ASP.NET Core repo(s)?

[2016-05-18 15:17] blackdwarf commented on #3071
@melsayed you need to uninstall **all** of the Pre-RC2 versions of the CLI. However, you can still have DNX installed and it shouldn't matter. I'm not sure what are you seeing as a problem?

[2016-05-18 15:17] blackdwarf commented on #3067
@Sridhar-MS want to take a look at this?

[2016-05-18 15:26] davidfowl commented on #3072
@dlebedynskyi file this bug on aspnet/home

[2016-05-18 15:26] #3072 closed

[2016-05-18 15:28] davidfowl commented on #3102
File this issue on aspnet/Home

[2016-05-18 15:29] davidfowl commented on #3101
You're correct, it's not a bug and there's no easy way to get the project name. What are you trying to do?

[2016-05-18 15:29] blackdwarf commented on #3063
What would help, guys, was if any of you would post your `.zshrc` files and specify are you using oh-my-zsh.

[2016-05-18 15:30] blackdwarf commented on #3043
@enricosada @haf is this then a CLI issue?

[2016-05-18 15:33] davidfowl commented on #3099
It's not a bug. Dependencies of type build don't make it into the output. There are 2 APIs:

- DependencyContext - Used at runtime (relies on {app}.deps.json)
- ProjectContext - Used a design time (relies on `project.json`)

The deps file has a trimmed down dependency set that reflects the things that are required at runtime only. If you want to get at project information, then use the ProjectCont

[2016-05-18 15:33] #3099 closed

[2016-05-18 15:34] blackdwarf commented on #1567
Guys, can you post your `.zshrc` and tell me if you are using oh-my-zsh?

[2016-05-18 15:35] davidfowl commented on #3098
This isn't a CLI but can you move this to either CoreFX or aspnet/Home? Also a repro without memory cache will narrow it down further.

[2016-05-18 15:37] davidfowl commented on #3097
It's a known limitation of NuGet right now. /cc @yishaigalatzer

[2016-05-18 15:40] Bob55 commented on #3103
Also experiencing this.

[2016-05-18 15:41] pranavkm commented on #3059
cc @javiercn \ @victorhurdugaci - this probably affects us too.

[2016-05-18 15:53] NotMyself commented on #3089
@degrim that seems inconsistent with the test command shouldn't they both require the -r?

[2016-05-18 16:01] bradwilson commented on #3073
You're missing the testRunner entry. This may help: http://xunit.github.io/docs/getting-started-dotnet-core.html

[2016-05-18 16:07] dg9ngf commented on #3102
404 - Where's that?

[2016-05-18 16:08] ellismg commented on #2018
Support for 16.04 will come at RTM.

[2016-05-18 16:15] brianrob commented on #3053
Yes, it should be that simple.  Is this something that you can take care of?  Thanks.

[2016-05-18 16:20] ellismg commented on #3088
That is a bug in the script.  The gettext dependency is a compile time dependency and not a runtime one (the runtime support is present in glibc).

[2016-05-18 16:29] richlander commented on #3093
Our recent blog post discusses the addition of telemetry to the .NET Core tools. See: https://blogs.msdn.microsoft.com/dotnet/2016/05/16/announcing-net-core-rc2/#telemetry

Me and the folks on my team are motivated to provide a great product. As you can also see from the blog post, we've made some pretty dramatic changes in RC2. We believe that they are the right ones, but we need both feedback an

[2016-05-18 16:32] ivaylokenov commented on #3101
@davidfowl Thank you for the answer. I am writing a testing framework for ASP.NET Core MVC similar to this one: https://github.com/ivaylokenov/MyTested.WebApi

I want the developer who use it to be able to add TestStartup file at the root of the project, define his/her services there by inheriting the original web Startup class and replace the ones who need mocks. For example:

[code]

And then in

[2016-05-18 16:32] #3101 closed

[2016-05-18 16:34] ivaylokenov commented on #3099
@davidfowl Thank you for the answer, it is much clear now. :+1:

[2016-05-18 16:48] brthor commented on #317
@andriysavin We left the fallback in place simply not to break existing applications.

If you wanted to get this working on ARM you'd have to perform a build of native host of the CLI, on that platform, and restore your application against the locally built packages which would exist in `artifacts/$Rid/corehost` and `artifacts/$Rid/corehostDummyPackages` after a successful build.

[2016-05-18 16:57] brthor opened #3108 "Install Script should not look for `gettext` dependency"
https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/obtain/dotnet-install.sh#L124

cc @ellismg @krwq

[2016-05-18 16:59] brthor commented on #3088
Filed issue #3108 for the install script.

What I'm seeing here, is that we need to remove `clang3.5` dependency, and do some work to make `liblldb-3.6` an optional dependency.

Do all other dependencies look appropriate?

`libgssapi-krb5-2` What is this one?

[2016-05-18 17:01] mcliment commented on #1732
We had a similar issue with a CI machine that has not Virtualbox installed and only one interface. The error was the same (timeout) but actually it was not a networking problem at all.

After logging in with _another_ user (not the one CI uses) I was able to restore all the packages and logging in with the CI user consistently gave timeout errors. That was weird.

Using `procmon` I found something

[2016-05-18 17:03] ellismg commented on #3088
It's used by some of the networking code to talk to either Kerberos or NTLM servers, or something related. It's a newer dependency (we added it back in the middle of march).

[2016-05-18 17:04] ellismg commented on #3088
They look correct to me.

[2016-05-18 17:07] julielerman commented on #3073
@bradwilson gah! I saw that but was so focused on the dependencies section. Running up to my macbook to try it out and will let you know.

[2016-05-18 17:10] Sridhar-MS opened #3109 "dotnet-test.Tests block infinitely if one of the tests fail"
And thereby blocking the entire builds.

Example Build failures
http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/rel_1.0.0/job/debug_centos7.1_x64_prtest/1950/console
http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/rel_1.0.0/job/debug_debian8.2_x64_prtest/788/console
http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/rel_1.0.0/job/release_osx_x64_prtest/2000/console
http://dotnet-ci.cloudapp.net/jo

[2016-05-18 17:10] GuardRex commented on #3093
@richlander

Does the telemetry still include arguments provided to the `dotnet` command? In server hosting scenarios, some may have sensitive arguments passed to the command (for portable apps) that they wouldn't want leaked to MS.

The program is not "transparent" IMO.

[2016-05-18 17:13] gafemoyano commented on #3065
@veb82  I had a similar issue, if I set the proxxy on nuget.config in AppData instead of (407) I'd get a timeout. As I said before what worked for me was reverting the nuget.config to it's original state, downloading Fiddler and  enabling the "Automatically Authenticate" option while I ran "dotnet restore". You can close Fiddler after that.

[2016-05-18 17:17] sivabudh commented on #1405
Yay, mine works now too with Rc2 and removing the old dotnet!

[2016-05-18 17:17] julielerman commented on #3073
got it. sorry for my little RTFM snafu, @bradwilson . Sorry @jskeet for piggy backing. You *do* have that specification in your project.json.

[2016-05-18 17:43] degrim commented on #3089
`dotnet test -r` should specify the runtime to use, according to `dotnet test --help`:

[2016-05-18 17:47] terrajobst commented on #3093
My understanding is that this was recently discussed with our privacy team and we concluded that collecting the arguments themselves (hashed or not) is not acceptable per our privacy policies. Not sure whether the code already reflects that, but it's being worked on.

[2016-05-18 17:51] terrajobst commented on #3093
What would you accept as sufficiently transparently? Not trying to say that we already are sufficiently transparent; I'm trying to understand your concern and what we could do make it better. The product is worked on by various team who all contribute to the same open source code base on GitHub. Clearly you think that's not sufficient, so I'd like to understand what would address that.

[2016-05-18 18:15] waynesi opened #3110 "dotnet (1.0.0-preview1-002702) publish doesn't include runtime (with Microsoft.NETCore.Runtime nuget package)"
I'm used to dnu/dnx toolchain but new to dotnet cli, so my question may be stupid although I did my homework on the github and stackoverflow with no luck.

## Steps to reproduce
1. Installed .Net Core 1.0.0 RC2 - SDK Preview 1 (x64) and -VS 2015 Tooling Preview 1
2. Create a Console Application (.Net Core) project
3. As Sridhar-MS suggested in https://github.com/dotnet/cli/issues/289, add Microsof

[2016-05-18 18:16] GuardRex commented on #3093
@terrajobst Ah! Thanks. I'm glad the arguments are safe on the server.

WRT transparency: There is no indication at the time of install that the `dotnet cli` is automatically opted-into data sharing. There's no checkbox that will set the opt-out env var. There's no note or link to the GH issue or a Docs page that describes the program and how to opt-out. The privacy policy merely links to the gene

[2016-05-18 18:21] NotMyself commented on #3089
bleh, I meant to say -p not -r

[2016-05-18 18:23] degrim commented on #3089
I agree that seems inconsistent.

[2016-05-18 18:47] waynesi commented on #3110
Very coincidentally found the solution following [the official documentation](http://dotnet.github.io/docs/core-concepts/app-types.html). Thanks for the info but have to say it's not that easy to dig some useful and up-to-date info out of a pile of yet-to-construct articles. :-)

[2016-05-18 18:47] #3110 closed

[2016-05-18 18:56] richlander commented on #3093
@GuardRex This is good feedback. We do have a bit more to do to make sure that everything to with telemetry is obvious. We'll make sure that gets into the next release.

[2016-05-18 19:01] schellap commented on #2503
Fixed by #3068

[2016-05-18 19:01] #2503 closed

[2016-05-18 19:03] haf commented on #3043
Probably not. Closing until more progress from Enrico.

[2016-05-18 19:03] #3043 closed

[2016-05-18 19:10] jskeet commented on #1069
I would expect the "fit-n-finish" label to be for things which are a bit ugly, but don't actually cause any pain.

Currenty, I'm receiving this error message and I have no idea why. The complete lack of clue about the cause (I'm *guessing* it's a bug in my project.json...) makes this a bug to fix urgently IMO.

[2016-05-18 19:16] abpiskunov opened #3112 "[ProjectModel.Server] PMS does not send updated snapshots after restore complete and there was no .nuget/packages folder"
## Steps to reproduce

1. Create a new WebApp wait for restore to succeed.
2. Close WebApp solution
3. go to your %userprofile%\.nuget and remove packages subfolder
4. Open WebApp solution again
5. Restore should start and succeed but dependencies and intellisense show errors

## Expected  behavior

No errors

## Actual behavior

What is going on is when Solution opens PMS sends Dependencies snaps

[2016-05-18 19:32] andriysavin commented on #317
@brthor Its still not clear why can't the ARM packages be built on a different platform, and why CLI doesn't support ARM **while** there is a runtime for ARM (like win10-arm) and I can build the native host for ARM myself. I'm also wondering will it ever be available out of the box, or will it always be the DIY task for enthusiasts? When went to the .Net Core installation downloads page, I was sur

[2016-05-18 19:37] MichaelSimons opened #3113 "dotnet-install.ps1 should work on NanoServer"
Download and run https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.ps1 on a NanoServer.

**Actual Results:**
powershell : new-object : Cannot find type [net.webclient]: verify that the assembly
    + CategoryInfo          : NotSpecified: (new-object : Ca...t the assembly :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

containing thi

[2016-05-18 19:38] muratg commented on #3112
cc  @troydai

[2016-05-18 19:38] Greg15153 opened #3114 "dotnet test - Output test results"
Currently there is no way to output the test results from dotnet test. Our CI requires a file in order to determine if a job has failed or not plus it allows us to gather data from our builds.

Would be useful for dotnet test to accept a output path for test results.

[2016-05-18 19:40] schellap commented on #2529
Fixed by #3106

[2016-05-18 19:44] schellap commented on #2529
See expected behavior of #2408. Can use the same bug to track.

[2016-05-18 19:47] MichaelSimons opened #3115 "Add installer support for NanoServer"
Installing dotnet cli on NanoServer is not trivial.  We should have installer support for this.  Possibly create an [APPX or WSA installer](https://blogs.technet.microsoft.com/nanoserver/2015/11/18/installing-windows-server-apps-on-nano-server/).

[2016-05-18 20:09] livarcocc commented on #3089
Right now, dotnet run is actually the only command that requires the -p when specifying the project.json.

I would argue that instead of simply adding that to dotnet test, we should take a look and see if we can make all the built-in commands for the CLI consistent on how they take a path to the project.json.

We just need to keep in mind that dotnet test/run are special because they also pass arg

[2016-05-18 20:21] joergjo commented on #3103
I ran into the same issue today on Windows 10 x64. It seems the dotnet test runner _always_ runs as 32 bit executable and hence expects x86 binaries. Forcing both the ASP.NET Core and the xUnit test project to build x86 assemblies works for me as a stopgap measure.

` "buildOptions": {
    "platform": "x86"
  }`

[2016-05-18 20:33] shivajiraot opened #3117 "no executable found matching command microsoft.entityframeworkcore.tools.cli"
Project.json:
I have a class library project set to run on `net452` (not `netcoreapp1.0` or `netstandard1.5`). Migrations used to work on this framework earlier with rc1 but not with rc2.

[code]

When I try to add a migration, I get below error:
`no executable found matching command "Microsoft.Entityframeworkcore.Tools.Cli" The preview of Entity Framework Framework tools does not support targetin

[2016-05-18 20:40] anorborg commented on #3048
I'm still having this issue. I followed the steps laid out by @dasMulli, but still get `-bash: dotnet: command not found`. I have previously had the issue when using the nightly builds, but thought it would be fixed for the official RC2. I also followed the instructions here: https://www.microsoft.com/net/core#macosx including the uninstall. Any help?

[2016-05-18 20:43] joergjo commented on #3103
Ouch, now the web app crashes with anoter BadImageFormatException in Kestrel. See [issue 4663](https://github.com/aspnet/Mvc/issues/4663).

[2016-05-18 20:44] troydai commented on #3112
Today project model server doesn't validate if the assembly path resolved in lock file are invalidate. So this is a feature request.

There are two parts for this scenario.

Project model server is passive. So it doesn't actively monitor file changes or removal. It reacts to `FileChanged` or `RestoreCompleted` request. So when `.nuget` folder is cleared, there should be the client to notify projec

[2016-05-18 20:45] Bob55 commented on #3103
joergjo, I am experiencing the exact same thing if I force both projects to build x86 binaries. Though the xunit runner now executes, "dotnet run" fails in the main project with the following stack trace:

Unhandled Exception: System.AggregateException: One or more errors occurred. ---> System.BadImageFormatException: An attempt was made to load a program with an incorrect format. (Exception from

[2016-05-18 20:45] Bob55 commented on #3103
joergjo, I am experiencing the exact same thing if I force both projects to build x86 binaries. Though the xunit runner now executes, "dotnet run" fails in the main project with the following stack trace:

Unhandled Exception: System.AggregateException: One or more errors occurred. ---> System.BadImageFormatException: An attempt was made to load a program with an incorrect format. (Exception from

[2016-05-18 20:47] abpiskunov commented on #3112
By RestoreComplete request - what do you mean?

[2016-05-18 20:48] joergjo commented on #3103
Just out of curiosity: Did you use the standalone .NET Core SDK installer or the integrated setup for VS 2015? I'm using the latter.

[2016-05-18 20:49] troydai commented on #3112
Project Model Server is passive. That means we don't initiate the conversation. So when you remove `.nuget/packages` folder externally. The server won't react because nothing happens in its perspective. A request should be sent to the server trigger it to resolve dependencies again. That's the responsibility of client (VS).

[2016-05-18 20:49] Bob55 commented on #3103
I'm using the standalone version.

[2016-05-18 20:49] abpiskunov commented on #3112
what is RestoreComplete you mentioned above?

[2016-05-18 20:50] julielerman commented on #3048
Hey, if *I* can get it working anyone should be able to. Have you tried deleting all of the caches in
[username]/.local/share/Nuget/v3-cache
&
[username]/.nuget/packages

I really went around in circles for a long time until it finally kicked in. So my path to success is not very clear.

[2016-05-18 20:50] blackdwarf commented on #3089
Ofc. The discern could happen with a special token, e.g. `--` or something like that, that would indicate others are to be passed down. Just a though.

[2016-05-18 20:50] troydai commented on #3112
https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-projectmodel-server/ProjectManager.cs#L203

[2016-05-18 20:50] blackdwarf commented on #3048
@anorborg this is a closed issue, can we move the discussion over to #1567 ?

[2016-05-18 20:57] anorborg commented on #3048
@blackdwarf , not using zsh that I know of, just the base OSX El Capitan Terminal. Is that still the right bug or a new one? Thanks @julielerman I'll give it a shot

[2016-05-18 20:58] blackdwarf commented on #3048
@anorborg oh, ok then, nope it is not.

[2016-05-18 21:02] elvirb opened #3118 "Wrapping dlls using framework->bin->assembly does not work"
## Steps to reproduce
[code]

## Expected  behavior
The project is built wrapping the supplied dll.

## Actual behavior
There is no output for the build.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS P

[2016-05-18 21:03] anorborg commented on #3048
no luck @julielerman. @blackdwarf, let me know if I should post a new issue or if someone can reopen this one.

[2016-05-18 21:04] julielerman commented on #3048
@anorborg i'm interested in sorting this out. If you want to do a skype to see if I can help you hit all the things I did to see if there is a silver , email me at my alias at gmail then we can share what we've learned.

[2016-05-18 21:14] abpiskunov commented on #3112
I just added a small change to send you DependenciesChanged request after restore complete explicitly and PMS does return new snapshots, but they are the same as they were before restore, i.e. containing error diagnostics for all packages:

 "ErrorCode": "NU1001",
      "SourceFilePath": "C:\\Users\\antonpis\\Documents\\Visual Studio 2015\\Projects\\1\\GlobalJsonSources\\WebApplication4\\src\\WebA

[2016-05-18 21:43] troydai commented on #3112
Answers:

1. Project model does check if folders exit only when a package description is created (https://github.com/dotnet/cli/blob/18f9018eb9a5ea100b65170adc25f3ad6752dd2e/src/Microsoft.DotNet.ProjectModel/Resolution/PackageDependencyProvider.cs#L44). Therefore in the scenario where lock file is generated, folders are removed and then open project in VS, the missing files are detected because ca

[2016-05-18 21:45] jeffschwMSFT opened #3119 "No longer able to publish a NETStandard.Library without a runtime directive"
## Steps to reproduce
dotnet new
vi project.json
{
  "version": "1.0.0-*",
  "dependencies": {
    "NETStandard.Library" : "1.5.0-rc2-24027"
  },
  "frameworks": {
    "netstandard1.5": {
    }
  }
}
dotnet restore
dotnet build
dotnet publish

## Expected  behavior
Late RC2 builds would perform the publish and just the necessary dependencies would be published to the bin/<flavor>/netstandard1.5/pu

[2016-05-18 21:59] joergjo commented on #3103
It seems `dotnet-test-xunit 1.0.0-rc2-build10015` is the culprit. The NuGet package contains only the 32 bit runner, even in `runtimes\win7-x64`. If I replace the runner in `bin\Debug\net461\win7-x64` with a x64 RC3 version the unit tests do work.

[2016-05-18 22:00] abpiskunov commented on #3112
I think neither option is good enough .. In option 1 tooling would have to monitor nuget/packages and we don't want to do that. IN option 2 PMS might have a perf impact.

What about Option3: PMS cache is refreshed if : It is empty and new RefreshDependencies or FilesChanged request sent to PMS? You would only check nuget cache folder until next successful or partially successful restore (when we s

[2016-05-18 22:05] Sridhar-MS commented on #3053
Fixed by #3116

[2016-05-18 22:05] #3053 closed

[2016-05-18 22:06] brianrob commented on #3053
Thanks much @Sridhar-MS!

[2016-05-18 22:11] troydai commented on #3112
One thing to remember, neither project model server or VS can actually monitor the packages cache folder because it is not deterministic. The `.nuget/packages` is used when `dotnet restore` is ran with default setting. It can be ran with `--packages` option, in that case the packages folder is customized.

To determine if a package is removed from disk, the server has to evaluate each packages des

[2016-05-18 22:19] blackdwarf commented on #3048
OK, let's reopen this one then. @anorborg can you tell me:

1. Which shell you are using (bash, zsh)
2. Did the install finish correctly, that is, is there directory in `/usr/local/share/` called "dotnet" and if there are things in it.

[2016-05-18 23:00] sokket opened #3120 "Refactor the Publishing code to be more organized"
# Overview
When we publish built code and installers today, compiled units are compressed into archives and put into the same root folder in one Azure Blob Container (ie ```<root>\<cli_version>``` or ```<root>\<other version>```). This requires consumers of the archives (or installers) to understand the product difference between versions 1.0.0-rc2-3002520 and 1.0.0-rc2-002520.

# Proposal
In orde

[2016-05-18 23:00] abpiskunov commented on #3112
No the flow is different see my repro steps:

After you close project, then delete nuget/p packages, then open project.

At this moment PM's starts and returns us dependencies with errors. We start restore. Restore succeeds. Nuget/packages is back. We request dependencies refresh from the PM's. At this time your cache is still empty and you received a dependencies request - reevaluate your cache n

[2016-05-18 23:00] hglkrijger opened #3121 "Self-contained applications in Linux are not truly portable"
## Steps to reproduce
1. create self-contained application (Ubuntu runtime)
2. dotnet restore
3. dotnet publish
4. ldd -v <binary>
5. for each dynamic dependency, copy and link locally (in the publish folder), e.g.:
   cp /usr/lib/x86_64-linux-gnu/libunwind.so.8.0.1 .
   ln -s libunwind.so.8.0.1 libunwind.so.8
   cp /usr/lib/x86_64-linux-gnu/libunwind-x86_64.so.8 .
6. find the loader listed in the

[2016-05-18 23:02] brthor commented on #3120
Aren't our zip packages also consumables? Would it make more sense to group them with other consumables?

[2016-05-18 23:10] troydai commented on #3112
I see. Now here's the misunderstanding: even the dependencies are unresolved, the objects are still cached. So the cache is never empty after the server is started.

I need to try out this scenario in automation. It looks weird to me that after the restore happens the dependencies are not updated. They should be since lock files are updated. If that's the case this sounds like a legit bug.

[2016-05-18 23:18] crokusek commented on #2871
I'm seeing this bug in different project for rc2 final (just converted from rc1), building from within MSVS.   Could anyone post a workaround?

[2016-05-18 23:54] hglkrijger commented on #3121
Please assign to @schellap

[2016-05-18 23:58] abpiskunov commented on #3112
Yes, and the lock file is not updated by nuget since dependencies did not change in our scenario.

Thanks,
Anton

On May 18, 2016, at 7:11 PM, Troy Dai <notifications@github.com<mailto:notifications@github.com>> wrote:

I see. Now here's the misunderstanding: even the dependencies are unresolved, the objects are still cached. So the cache is never empty after the server is started.

I need to try

[2016-05-19 02:58] davidfowl commented on #3119
That's by design. If you want to go standalone you need to add a runtimes section and a specific RID.

[2016-05-19 03:35] bilal-fazlani commented on #3064
You need to delete the old donet cli installed from control panel. Then reinstall new runtime.
Doing this solved the issue for me without recreating projects.

[2016-05-19 03:46] smoothdeveloper opened #3123 "dotnet restore stalls and prints a lot of things"
## Steps to reproduce

* checkout microsoft/visualfsharp
* cd into lkg folder
* call dotnet restore
* wait for eternity

## Expected behavior

* top level summary of packages that needs to be downloaded
* download packages with a reasonable degree of concurrency
* report progress after each package being downloaded

## Actual behavior

* pages and pages (and pages) of output with 0 value to end us

[2016-05-19 05:08] blueskybcl opened #3124 "Install tooling preview for visual studio 2015 enterprice"
error:
Product: Microsoft .NET Core Tools 2015 (Preview 1) - Visual Studio 2015 -- Error 1335. The cabinet file 'VisualStudioDotNetToolsSetup.cab' required for this installation is corrupt and cannot be used. This could indicate a network error, an error reading from the CD-ROM, or a problem with this package.

why?help me please.

[2016-05-19 05:44] manu-silicon commented on #2189
Could we get this fixed? This actually prevents installation of .NET Core in most companies that disallow anything outgoing on something else than http/https protocol. Usually there is a way to retrieve the key over port 80, checkout how mono does their key retrieval:

[code]

[2016-05-19 06:06] bluemmc commented on #3093
GuardRex is exactly right about the lack of transparency and danger you are in for a shitstorm, so it is a good idea to include a checkbox in the installer to make it visible!

Also, you should keep in mind the problem is both privacy AND security. As for security, I think that MS forget that a power user/developer may have hundreds of pieces of software installed. If all these pieces of software

[2016-05-19 07:28] HagamosVideojuegos commented on #2544
I fix it with this command line:
`ln -s /usr/local/share/dotnet/dotnet /usr/local/bin/`

[2016-05-19 07:29] bruno-garcia commented on #3069
:+1:

[2016-05-19 07:29] troydai commented on #3112
I assign this to myself for investigation. I'll report back for the particular issue mentioned in the later part of the discussion. For the overall feature, we need a coordinate design together with tooling to determine if it is feasible in given windows between now and RTM.

[2016-05-19 08:15] fubar-coder opened #3125 "Unresolved references when using a PCL dependency"
## Steps to reproduce

project.json:

[code]

Program.cs

[code]

Commands:

[code]
## Expected  behavior

A successful build, because [in order to ease transition to .NET Platform Standard, packages targeting it will be able to depend on PCL packages through the imports element](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md).
## Actual behavior

[2016-05-19 08:50] qooroo commented on #1370
Can you please update what the status of this is? Is net451 now supported? A few of us are running into this: #3069

[2016-05-19 09:13] macgyver76 commented on #3103
I'm also facing the same problem. Full framework 4.6.1 + win7-x64. @joergjo Where did you found x64 RC3 version runner?

[2016-05-19 09:15] vinhhrv commented on #3069
👍

[2016-05-19 09:35] storment opened #3126 "Referencing a PCL breaks Intellisense in VS2015 Update2 but still compiles"
## Steps to reproduce

Create a PCL (PortableClassLibrary1) targeting .NETPortable,Version=v4.5,Profile=Profile111

[code]

Create a test class in the PCL

[code]

Create a project (Project1) targeting netstandard1.5 or netcoreapp1.0
Edit frameworks in project.json to import the PCL.

[code]

Create a test class in Project1

[code]
## Expected  behavior

No errors reported by Visual Studio.
## Act

[2016-05-19 09:58] joergjo commented on #3103
I used the [MusicStore](https://github.com/aspnet/MusicStore) sample dev branch to compare a supposedly working unit test setup with mine, that's how I stumbled across it. If you download a copy of MusicStore and run `dotnet restore`, it'll download RC3.

[2016-05-19 10:09] qooroo commented on #1370
There is also a separate test runner not found issue when running on ubuntu/mono - details here: https://github.com/xunit/xunit/issues/848

[2016-05-19 10:26] macgyver76 commented on #3103
Thanks but anyway - it should be fixed.

[2016-05-19 10:32] mausch opened #3127 "dotnet run NRE"
## Steps to reproduce

$ docker run --rm -it microsoft/dotnet-preview
$ dotnet run

## Expected  behavior

Show some meaningful error message.

## Actual behavior

Shows "Object reference not set to an instance of an object."

## Environment data
`dotnet --info` output:

[code]

[2016-05-19 10:38] NickCraver commented on #2469
Please make this a thing very soon. We're hitting exceptions and wasting a lot of time back and forth debugging for lack of this simple feature. `Object reference not set to an instance of an object` in a console is not helpful. Please let us easily enable traces without a custom CLI build.

[2016-05-19 10:40] thosoft commented on #3069
:+1:

[2016-05-19 10:48] jskeet commented on #2469
Absolutely. I don't expect a pre-release tool to work in all situations, but I *do* expect it to give me more error information than we're currently getting.

[2016-05-19 11:13] dasMulli commented on #3127
Possible duplicate of https://github.com/dotnet/cli/issues/2965

[2016-05-19 11:21] fubar-coder opened #3128 "Cannot reference MonoAndroid framework assemblies"
## Steps to reproduce

project.json
[code]

Program.cs
[code]

[code]

## Expected  behavior

The mscorlib dependency should be found.

## Actual behavior

The mscorlib dependency isn't found.

[code]

The problem is the `FrameworkReferenceResolver.cs`. It doesn't support two features:

1. Support for `IncludeFramework` in `FrameworkList.xml`, which is required from `MonoAndroid` and `net403`.
2.

[2016-05-19 11:35] tatalvit opened #3130 "RC2 MVC controller edit slower than in RC1"
## Steps to reproduce

I tested RC1 and RC2. Created new project: "ASP.NET Core Web Application (.NET Core)" and "Empty" as ASP.NET Core template.

Test case A: 1) Run without debugging 2) wait for startup.cs to write "Hello world!" 3) modify text to "Hello world 2!" Ctrl+S 4) Hit F5 in browser.
Test case A results in RC1: IIS Express responds within 4-5 seconds with "Hello world 2!"
Test case A r

[2016-05-19 12:09] akoeplinger commented on #2189
Since keyservers are synchronizing keys you can actually use any other keyserver like the Ubuntu one for getting the MS key:

`sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 417A0893`

I agree that it's a good idea to switch the docs for apt-mo.trafficmanager.net to port 80 too (on Mono we did this because users were constantly running into firewall issues).

[2016-05-19 12:40] #2829 closed

[2016-05-19 13:11] anorborg commented on #3048
@blackdwarf

1) Shell bash (`echo $SHELL` returns ` /bin/bash`
2) `ls /usr/local/share/dotnet/` returns

[code]

[2016-05-19 13:15] blackdwarf commented on #3048
@anorborg ok, can you do `ls /etc/paths.d/` and show the output of that. Also, you did start a new Terminal instance/tab after installing the PKG?

[2016-05-19 13:22] anorborg commented on #3048
yeah, did a full restart per one of your eariler commments:

`ls /etc/paths.d/ ` output:
[code]

[2016-05-19 13:23] 4nderss opened #3131 "Publish fails after migration from rc1 to rc2."
## Background

I have tried to work out if this is something on my local machine but kind of hard to repro. I have migrated a RC1 project to RC2 using the following guide
https://wildermuth.com/2016/05/17/Converting-an-ASP-NET-Core-RC1-Project-to-RC2

My project has dependencies on older 4.6 class libraries.
## Steps to reproduce

Either run Publish through Visual Studio or commandline dotnet publ

[2016-05-19 13:56] anorborg commented on #3048
I think I figured it out. I think the issue is actually the Github Mac Client. my `.bash_profile` has the following line in it:
[code]
which appears to overwrite the `PATH` variable instead of appending. I commented out the line and dotnet worked. So this may be an issue with Github Desktop Client. If someone can confirm this behavior is incorrect I can attempt to report this to Github.

[2016-05-19 13:57] blackdwarf commented on #3048
@anorborg ah, that thing. You can actually keep that and just have the following:

[code]

I don't know who did that to your `.bash_profile` but that is the reason why it is happening. And yes, they should not be doing this.

[2016-05-19 14:00] julielerman commented on #3048
woah! I'm going to go look to see if that's in mine. Really hoping to find a common thread to this problem!

[2016-05-19 14:00] pranavkm commented on #3069
This is an issue with the xunit runner. See https://github.com/xunit/xunit/issues/843

[2016-05-19 14:03] anorborg commented on #3048
Changing the line definitely worked for me @blackdwarf. Not sure if I messed that up at some point or maybe a Github Mac Client issue that isn't wide spread? (Don't see anything similar when googling, but maybe not many people use the github GUI client. At any rate, I'm up and running. Thinks @blackdwarf and @julielerman for your help!

[2016-05-19 14:10] dlebedynskyi commented on #3072
@davidfowl not sure that is right point. Visual Studio canrun IIS Express with SSL or  Kestrel  on custom ports. For that it is using launchSettings.json. There is no way (or no documented way) to do same with cli command  `dotnet run`. Basically all we need is to have to start app the same way vs does with ssl and custom ports

[2016-05-19 14:19] vcsjones commented on #3102
@dg9ngf https://github.com/aspnet/Home/issues

[2016-05-19 14:28] dg9ngf commented on #3102
Duplicate of https://github.com/aspnet/Home/issues/694, still unresolved

[2016-05-19 14:28] #3102 closed

[2016-05-19 14:28] vcsjones commented on #3093
I would probably agree that people will be a little miffed by this. Homebrew for OS X [recently went through this](https://news.ycombinator.com/item?id=11566720) even though they were well intentioned, did it anonymously, and provided a way to opt out.

I think simply asking people on first use if they'd like to submit telemetry is a good start.

Consider what Yeoman does on first use:

![screen s

[2016-05-19 14:40] julielerman commented on #3048
nah ...that wasn't it for me. Checking zsh not bash_profile I have some dnx stuff but don't see anything around bin. I still don't know if using the updated uninstall was what did it. It seemed to be...since I had dotnet after running the default uninstall and the install package. It disappeared after the PR version of the uninstall which has since changed. Who knows. At least there's one more pie

[2016-05-19 14:41] ivaylokenov commented on #3098
Moved, thank you!

[2016-05-19 14:41] #3098 closed

[2016-05-19 14:49] vcsjones commented on #3084
Stack trace:

Unhandled Exception: Microsoft.DotNet.Cli.CommandLine.CommandParsingException: Missing value for option 'runtime'
   at Microsoft.DotNet.Cli.CommandLine.CommandLineApplication.Execute(String[] args)
   at Microsoft.DotNet.Tools.Test.DotnetTestParams.Parse(String[] args)
   at Microsoft.DotNet.Tools.Test.TestCommand.DoRun(String[] args)
   at Microsoft.DotNet.Tools.Test.TestCommand.Ru

[2016-05-19 14:59] NickCraver commented on #1342
This is still a problem in RC2.

[2016-05-19 15:10] NickCraver opened #3133 "dotnet build should warn if no files are found to compile"
## Steps to reproduce

Clone Dapper prior to [this commit](https://github.com/StackExchange/dapper-dot-net/commit/89908e0f028dcbc7fcf255f3716bb9bb695f438a). The issue was an extra `:` inside here:

[code]

There was no warning for the invalid field either, but that's a separate issue.
## Expected  behavior

`dotnet build` produces a warning indicating no files were found to build and to check your