[2016-03-30 10:45] mikes-gh commented on #1966
If I download the binary package and set the path it works for me.
It seems to be a problem with the MSI(which I install via the UAC prompt).

[2016-03-30 11:03] AndrewBarfield commented on #1179
Does anyone know when this will be resolved? Has anything happened in the past 15 days?

[2016-03-30 15:15] Eilon commented on #2135
@moozzyk this seems to be your territory?

[2016-03-30 15:25] Raviuppa commented on #1196
Seems like the bug is fixed. Can not repro the issue with the new CLI tar bits . Closing it for now.

[2016-03-30 15:25] #1196 closed

[2016-03-30 15:57] moozzyk commented on #2135
@Gillardo - can you show me your web.config file? If you want to use IIS you need to install [AspNetCoreModule](https://github.com/aspnet/Announcements/issues/164) and tweak the web.config file accordingly. We do have the publish-iis tool that tweaks the web.config but it needs to be updated to the latest version of dotnet cli.

[2016-03-30 16:56] pakrym commented on #2134
Dup of https://github.com/dotnet/cli/issues/2125

[2016-03-30 17:57] syalachigere commented on #496
Any updates on this?

[2016-03-30 18:05] sivagms opened #2140 "Error publishing on a maching in private domain"
## Steps to reproduce
I'm using this app - https://github.com/aspnet/Performance/tree/dev/testapp/HelloWorldMvc
This app restores and publishes fine on all other machines except on a set of machines that are on a private domain. - Not sure if the domain thing is the issue but just an observation.
Windows server 2012 datacenter.

## Expected  behavior
publish should work.

## Actual behavior
d:\git

[2016-03-30 18:24] billwert opened #2141 "Stand alone executables are published for the platform they are produced on, not the target"
When performing a stand alone publish, the stand alone executable is published for whatever platform you are publishing from. For example, publishing for Ubuntu.14.04-x64 from my Windows machine, I still end up with myapp.exe, not just 'myapp'. @blackdwarf sees the same thing publishing for Windows from OSX, he ends up with 'myapp', not 'myapp.exe'.

To reproduce, publish Windows for Ubuntu, or on

[2016-03-30 18:37] billwert opened #2142 "Publish should clean the output folder"
If you publish into a folder that has binaries in it, the existing binaries aren't removed. For example, if you had a build system publishing to a specified folder with --output, were publishing stand alone, and switch to shared framework, your output folder will still have all the stand alone binaries in it.

[2016-03-30 18:50] livarcocc commented on #2070
@victorhurdugaci I have done a workaround by removing the old package. So, all the packages currently in the feed are in the right order.

[2016-03-30 18:51] victorhurdugaci commented on #2070
Sounds good :)

[2016-03-30 19:03] pakrym opened #2143 "Running dotnet sdk command from unit tests is not possible without using full path"
## Steps to reproduce
1. Create unit test project
2. Add following code into test

[code]
1. dotnet test
## Expected  behavior

Current `dotnet` version gets displayed along with muxer `dotnet.exe` path.
## Actual behavior

`dotnet.exe` from shared runtime directory is resolved and it throws an error.

[code]
## Cause

When dotnet test runs it uses corehost from shared host directory to run xunit

[2016-03-30 19:04] pakrym commented on #2143
/cc @livarcocc @brthor @piotrpMSFT @pranavkm @victorhurdugaci @davidfowl

[2016-03-30 19:33] brthor commented on #2143
Is the solution here to search the path explicitly for dotnet.exe instead of relying on Process.Start resolution rules?

[2016-03-30 19:34] pakrym commented on #2143
No, i think we should use muxer for running tests, not corehost.

[2016-03-30 19:44] livarcocc commented on #2143
@pakrym Why is this marked as blocking-partner? What is the scenario that you need that you can't run without this fix?

[2016-03-30 19:46] #2132 closed

[2016-03-30 19:46] pakrym commented on #2143
ASP.NET cli gate runs `dotnet publish` in it's test, and so do many of other ASP.NET projects. We have temporary workaround for gate.

[2016-03-30 19:47] brthor commented on #2143
Corehost running the tests is Point-In-Time issue, I don't understand how that is breaking this scenario though?

[2016-03-30 19:48] pakrym commented on #2143
because process start resolves 'dotnet' to 'dotnet.exe' next to `coreshost.exe` in shared runtime folder instead of muxer

[2016-03-30 20:05] piotrpMSFT commented on #2143
I don't love this solution. If we're saying that the Muxer should always win then we shouldn't call the thing in the Shared FX dir dotnet.exe. We should call it dotnet.{version}.exe so there is no opportunity for ambiguity.

[2016-03-30 20:15] #2090 closed

[2016-03-30 20:16] livarcocc commented on #2121
We will copy over the properties from project.json runtimeoptions to runtimeoptions of runtimeconfig.json, including additionalprobingpath and rollforward.

[2016-03-30 20:19] piotrpMSFT commented on #2143
@schellap @gkhanna79 any concern with renaming the dotnet.exe that gets installed in Shared FX Dir?

[2016-03-30 20:22] piotrpMSFT commented on #2126
I'm working on a fix. we run the right exe from the wrong directory.

[2016-03-30 20:40] BillHiebert commented on #2115
I am seeing the same thing from VS with 1.0.0.002117 when running dotnet build on a new web project.

`
"C:\Program Files\dotnet\dotnet.exe" build "c:\Users\billhie\Documents\projects\WebApplication26\src\WebApplication26" --configuration Debug --no-dependencies --build-base-path "c:\Users\billhie\Documents\projects\WebApplication26\artifacts" --no-incremental
**A JSON parsing exception occurred**

[2016-03-30 21:19] schellap commented on #2038
Does it still not repro with corehost as you observed earlier, now that CLI is a portable app?

[2016-03-30 21:21] MichaelSimons commented on #212
@piotrpMSFT, What is the remaining work on supporting Debian?  It seems all corefx and rid issues have been resolved.  What installer/packaging changes are necessary?

[2016-03-30 21:45] schellap commented on #2115
Is it possible to see what the line endings are in Windows?

[2016-03-30 21:58] pranavkm commented on #2070
Couldn't you change the min version of the package? Removing this would require us to remove it from aspnetcidev which would leave our dev branches broken.

[2016-03-30 21:59] barrytang opened #2146 "Compilation errors include an error that the compiler returned Exit Code 1. This isn't helpful to the developer."
## Steps to reproduce

1) Make a new .NET Core CLI project
2) Introduce some syntax error into Program.cs (missing ;, whatever.)
3) Build

You're left with your expected error in the error list, along with this:

`Error  C:\Program Files\dotnet\sdk\1.0.0-beta-002071\dotnet.exe compile-csc @<pathtoproj>\obj\Debug\netstandardapp1.5\dotnet-compile.rsp returned Exit Code 1 FeedbackPreparer C:\Program

[2016-03-30 21:59] barrytang commented on #2146
Opened on behalf of Bill Wert.

[2016-03-30 22:24] livarcocc commented on #2070
@pranavkm I could. This was just faster. Can't you manually updated to the latest one? If it is a problem, I can manually generate a package.

[2016-03-30 22:25] #2125 closed

[2016-03-30 22:29] pranavkm commented on #2070
Hmm, we'd have to update all our project.jsons to react to the version change, so I think it might be simpler to try and get the latest version you have now. We can live with it :smile:

[2016-03-30 22:31] Petermarcu commented on #2146
on build 2117 I get this:
c:\dotnet\dotnet.exe compile-csc @c:\samples\App2\obj\Debug\netstandard1.5\dotnet-compile.rsp returned Exit Code 1
c:\samples\App2\Program.cs(9,46): error CS1002: ; expected

[2016-03-30 23:10] #1992 closed

[2016-03-30 23:55] pakrym commented on #1860
Should be fixed by https://github.com/dotnet/cli/pull/2137

[2016-03-30 23:55] #1860 closed

[2016-03-31 00:21] troydai commented on #2038
With latest build the issue is not fixed:
[code]

[2016-03-31 00:22] schellap commented on #2038
dotnet --version?

[2016-03-31 01:17] pakrym opened #2152 "Dotnet run should not pass ` --additionalprobingpath` to net45 apps"
## Steps to reproduce
1. Build `net451` app that dumps its argumets
2. `dotnet run` it

## Expected  behavior
Managed app gets no arguments

## Actual behavior
Managed app gets ` --additionalprobingpath` argument

/cc @pranavkm @brthor @piotrpMSFT

[2016-03-31 01:37] colemickens commented on #2134
This is fixed, at least I can't repro in `dotnet-dev-1.0.0-beta-002131` anymore.

[2016-03-31 01:37] #2134 closed

[2016-03-31 01:50] troydai commented on #2038
build 002129, which contains your fix.

[2016-03-31 01:53] schellap commented on #2038
@troydai I need a better env to debug, rather than a console in the browser. It seems we are getting an UI dialog when this failure happens. It might contain some useful info.

Try the following and see if it solves the problem:

`set PATH=%PATH%;c:\dotnet\shared\Microsoft.NETCore.App\1.0.0`

Give this a shot, if this doesn't work, add sdk also to the path.

`set PATH=%PATH%;c:\dotnet\sdk`

[2016-03-31 02:10] nuevoalex opened #2154 "dotnet restore will only use a local NuGet.Config"
## Steps to reproduce

Following the steps from https://dotnet.github.io/getting-started/

get to the `dotnet restore` step and either run

`dotnet restore`

or

`dotnet restore --configfile [NUGET CONFIG FILE PATH]`

## Expected  behavior

The resulting restore call includes the default roaming and/or the explicitly specified NuGet.Config and its feeds.

## Actual behavior

The dotnet restore onl

[2016-03-31 02:29] blackdwarf commented on #2057
There is a PR where you can share your opinions: #2147

[2016-03-31 04:46] colemickens opened #2155 "002125 -> 002136 - no binary is produced on publish"
I was on `dotnet-dev-1.0.0-beta-002125`. Thing were working. I could publish and would get a directory with `/bin/Release/netcoreapp1.0/ubuntu.14.04-x64/MY_EXECUTABLE` (or maybe `/bin/Release/netcoreapp1.0/ubuntu.14.04-x64/publish/MY_EXECUTABLE`, I think that was a different bug)

I upgraded to `dotnet-dev-1.0.0-beta-002136` and now I no longer get a `ubuntu.14.04-x64` directory, and I no longer g

[2016-03-31 05:47] blackdwarf commented on #2142
@billwert hm, looks like a switch to me, something like `--remove-existing` or similar. Similar to the way publish in VS works, you have that little checkbox.

[2016-03-31 05:48] blackdwarf commented on #2141
@billwert is correct, this is a behavior that I've seen.

[2016-03-31 06:21] tmds commented on #1179
There are a number of issues related to "Ubuntu 15.10" support and none of them are moving. Today it isn't well documented how to port to an unsupported flavor of linux (see https://github.com/dotnet/corefx/issues/6770). If this improves, dotnet will boldy go where it hasn't gone before.

Probably the new Ubuntu LTS release (16.04), due in a few weeks, will be supported on the short term.

[2016-03-31 06:26] alfhenrik commented on #2155
I'm having the same issue running `dotnet publish --runtime win81-x64 --framework netcoreapp1.0 --configuration Release` on OSX. Run the same command on my Windows box works just fine.

`project.json`
[code]

[code]

[code]

[2016-03-31 06:32] colemickens commented on #2155
I just moved to 002196 and added `"runtimes": { "ubuntu.14.04-x64": {} }` and I seem to be back to as I was before. I get the ubuntu.14.04-x64 directory and an executable inside.

[2016-03-31 06:37] piotrpMSFT commented on #2152
@schellap

[2016-03-31 06:38] piotrpMSFT commented on #2154
your version output seems to be dotnet, but the bug claims that you're using dnu. is the command in question `dnu restore` or `dotnet restore`?

[2016-03-31 06:40] piotrpMSFT commented on #2146
What is the bug here? `dotnet compile` issues several sub-commands like `dotnet resgen` and `dotnet compile-csc`. Knowing which one failed is useful, particularly when you choose a non-default compiler. What is the desired/expected output?

[2016-03-31 06:41] piotrpMSFT commented on #2143
@krwq can you pick this issue up?

[2016-03-31 06:44] piotrpMSFT commented on #2141
Would it be possible to get a repo with a repro? We'll fix the bug, but having a project that captures what you're seeing will make the team much more able to write a unit test and fix the bug...

[2016-03-31 06:44] nuevoalex commented on #2154
My bad, editing now. It should be dotnet. I've been switching back and forth to test.

[2016-03-31 06:46] xatabhk commented on #2081
@emgarten Yes. it is all lowercase and matches the casing in project.json. And no paypal package in C:\Users\xxxx\.nuget\packages after "dotnet restore".

But "DNU restore" fixes all the issues. The latest DNX (20221) puts packages in C:\Users\xxxx\.nuget\packages instead of C:\Users\xxxx\.dnx\packages.

[2016-03-31 06:52] piotrpMSFT commented on #2129
What's the scenario here? We can debate what the intention should be, but how is this getting in your way?

I'm not a big fan of introducing behavioral differences between standalone and portable mode. Folks should be easily able to flip the switch.

i'm also curious why no runtimes are listed in pj. We have said that an app is not standalone until RIDs are listed.

[2016-03-31 06:52] piotrpMSFT commented on #2127
ping

[2016-03-31 07:00] piotrpMSFT commented on #2123
Why do we need to check in dll's? Unless I'm missreading this code, CLI does not have explicit knowledge of VS. what it has is the ability to have a fragmet.json which describes additional paths at which it might find build/runtime dependencies. These need not be produced by VS and in fact can be the output of other cli-produced projects [with global.json preventing normal p2p behavior].

CLI shou

[2016-03-31 07:01] piotrpMSFT commented on #2122
@danleeapho looks like this docker image has a super old version of CLI... something like 500 commits ago. Is there a more recent image?

[2016-03-31 07:03] piotrpMSFT commented on #2120
You guys are describing two scenarios. @glennc's should already work: `dotnet build {path to project dir}`. @davidfowl's is a new one in that it sets the 'address' of the project context prior to issuing a command. We also need this to find e.g. tools which are defined in a project outside the current one. @livarcocc thoughts?

[2016-03-31 07:04] piotrpMSFT commented on #2116
I'm not sure what this means. Servicing patch of what?

[2016-03-31 07:06] piotrpMSFT commented on #2113
@blackdwarf can you provide some guidance? These would be great samples to have somewhere!

[2016-03-31 07:07] piotrpMSFT commented on #2112
Whoa... where did you get that CLI version? 1598 is VERY old. Try latest from https://github.com/dotnet/cli!

[2016-03-31 07:11] piotrpMSFT commented on #2098
I agree with @mellinoe. Removing the emit entry point option turns the assembly into a library. Running it should not succeed. That said, we should provide a much better UX.

@schellap, I assume this is easy to catch and handle in dotnet.exe? I'd augment the error a bit to `{path to dll} cannot be run, it has no entry point`

[2016-03-31 07:15] piotrpMSFT commented on #2070
Is this still an issue, then?

[2016-03-31 07:16] piotrpMSFT commented on #2059
Any updates?

[2016-03-31 07:17] piotrpMSFT commented on #2058
@jeffschwMSFT still seeing this? I believe it's fixed.

[2016-03-31 07:42] brthor commented on #2059
Tested this locally with latest bits:

[code]

It is working.

[2016-03-31 07:44] colemickens commented on #2155
Relevant: https://github.com/dotnet/cli/issues/1642

Is that behavior desirable in `publish` scenarios though? I thought `publish` was meant to produce output that was pretty standalone?

[2016-03-31 08:30] davidfowl commented on #2155
Yes this is by design. You now have to add runtimes to the `project.json` to get the old behavior or use the `dotnet restore --infer-runtimes`.

[2016-03-31 08:34] colemickens commented on #2155
Alright. I'd close this but it seems like @alfhenrik is still having issues despite specifying the runtime as a cli option.

[2016-03-31 09:05] schellap commented on #2152
What is a net451 app? I have this in my project.json and I couldn't repro it.

[code]

[2016-03-31 09:07] brthor commented on #2152
@schellap set framework to `net451` and it will target desktop

[2016-03-31 09:11] schellap commented on #2127
First, it looks like the standalone app.exe is run with --additionalprobingpath and not using the muxer.

`/Users/asplab/Documents/buildAgent/work/169923259d6dcfec/Universe/KestrelHttpServer/tools/Microsoft.AspNetCore.Server.Kestrel.GeneratedCode/bin/Debug/netstandardapp1.5/osx.10.10x64/Microsoft.AspNetCore.Server.Kestrel.GeneratedCode --additionalprobingpath /Users/asplab/.nuget/packages`

[2016-03-31 09:15] schellap commented on #2152
Well, in that case corehost is not even involved.

[2016-03-31 09:31] davidfowl commented on #2127
That's expected right? It is standalone...

[2016-03-31 09:36] schellap commented on #2127
@gkhanna79 had it clear in his spec that `--additionalprobingpath` is only for dev scenarios and the muxer will be used to activate the build exe using the `dotnet exec` keyword.

Why would you expect it to be standalone when it isn't published yet with its dependencies next to it?

[2016-03-31 09:42] schellap commented on #2127
Secondly, how and why did you get the native app.exe if you just did build? Isn't build supposed to just produce the entry.dll and its project dependency dlls?

[2016-03-31 09:49] davidfowl commented on #2127
That doesn't make any sense. The muxer only applies for shared framework scenarios, not standalone ones.

Because standalone doesn't mean published. It means everything comes from packages instead of a shared framework.

Because when you're standalone, that is, when you have a RID specified, you get a native executable in the build output so that you can run.

PS: This is how things have been work

[2016-03-31 09:51] sunsided commented on #2112
That is what gets downloaded from http://dotnet.github.io/

[2016-03-31 09:51] schellap commented on #2127
From where?

[2016-03-31 09:53] davidfowl commented on #2152
This is blocking us. It's a bug in `dotnet-run`, not corehost. It always passes in those flags regardless of target framework, we just need to check.

[2016-03-31 09:54] schellap commented on #2127
I mean if dotnet cli is a fully portable app with no rid specific artifacts and build doesn't know about locations of the nuget dependencies how did the native executable appear by just doing build.

[2016-03-31 09:54] davidfowl commented on #2127
@schellap Are you asking how you specify a RID? The `project.json` file or a command line switch.

[2016-03-31 09:55] davidfowl commented on #2127
That's not what this bug is about. This bug is about standalone applications, not shared ones. When the app is shared there is no executable.

[2016-03-31 09:55] schellap commented on #2127
No just help me understand where you got the native exe from. That is where the problem is.

[2016-03-31 09:56] pranavkm commented on #2070
This can be closed. The build of the CLI that we have does not support restoring tools with `netstandardapp`, so we can't upgrade one without the other. Waiting to sort the two out.

[2016-03-31 10:11] cjaeckel commented on #2112
Well, I got that CLI from [.NET Core Getting Started](http://dotnet.github.io/getting-started/) by just following the the link [official MSI installer](https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0.001598/dotnet-win-x64.1.0.0.001598.exe)...

Thank you for you hint, I now tried the win x64 installer from https://github.com/dotnet/cli but with no better luck.
Now even the dotn

[2016-03-31 10:14] schellap commented on #2127
Cc @blackdwarf

[2016-03-31 10:14] enricosada opened #2157 "f# after 1.0.0-beta-002071 doesnt work"
I'll add this issue as info if someone try F# with latest .NET CLI, but should be fixed after #1823 is merged

## Steps to reproduce

[code]

## Expected  behavior

Build successful

## Actual behavior

[code]

## Environment data

After version `1.0.0-beta-002071`

[2016-03-31 10:16] sunsided commented on #2112
`2169`? I just got the `2171` version from the GitHub repo here. However I couldn't even install the `dotnet-win-x64.latest.exe` one on Windows 10, but had to use `dotnet-dev-win-x64.latest.exe` ... with that, Kestrel won't start because it misses `libuv`.

[2016-03-31 10:18] schellap commented on #2127
As an aside, @piotrpMSFT, for standalone it sounds like we are going to copy `corehost` to run the build output whether it is from the CLI or from the nuget cache. `dotnet build` might eventually copy it from the cache, so I guess hostpolicy should be just copied as well. If build can do that, it doesn't make sense for the host to resolve it out of the cache.

[2016-03-31 10:20] schellap commented on #2127
@gkhanna79 please sync with @davidfowl and @piotrpMSFT on this one.

[2016-03-31 11:44] abpiskunov commented on #2123
I think MIhai was not speaking about VS specific dlls, but output dlls for csproj test projects that should be used for dotnet build/publish tests.. In VS, dotnet tools take care about building , restoring everything right, when at runtime you would need to simulate that...

[2016-03-31 13:11] cjaeckel commented on #2112
There seems to happen continuous building...

- I uninstalled my current `2169` build.
But the uninstall is leaving the `sdk` folder in the `dotnet` installation folder. (So, I manually deleted the `dotnet` folder.)
- Installation of `2171` shows the same problem:

[code]
Again: Any recommended steps for a manual setup?

[2016-03-31 13:19] Gillardo commented on #2135
Here is my web.config file which is in the wwwroot folder of my application
[code]

[2016-03-31 14:14] gkhanna79 commented on #2116
This is about authoring WU update servicing patch installer.

[2016-03-31 14:22] gkhanna79 commented on #2127
@davidfowl Do you expect being "portable/shared" or "standalone" be a characteristic that is expected to be known at app build time or app publish time? From what you are describing above, it sounds like it is not a deployment artifact and the app developer would need to know at app build time. Is that correct?

That said, @schellap we did discuss yesterday that we will be able to maintain status

[2016-03-31 14:31] blackdwarf commented on #2113
@piotrpMSFT sure, put it on my backlog, seems slightly empty-ish at the moment.

All jokes aside, @enricosada: TravisCI allows you to use apt-get AFAIK. Are people in general using this method? One thing that I'm wondering with the script install is getting dependencies installed. Did you run into this.

And yes, in general, core-docs is the repo where our docs live.

[2016-03-31 14:36] gkhanna79 commented on #2143
I believe changing the name of dotnet.exe in the shared FX is not the right solution. It will break the scenario of allowing folks to run dotnet directly from the SharedFX folder.

Also, what is this "corehost.exe" thing and is it in SharedFX (and if so, why)?

Is this problem happening because muxer (i.e. dotnet.exe) in the SharedFX location does not respect "--version"? @schellap is that what yo

[2016-03-31 14:50] akoeplinger commented on #2113
Travis allows apt-get but only for the images where sudo is available (or if the apt feed is whitelisted).

I'm one of the maintainers of the C# support for Travis (i.e. if you specify `language: csharp` in the .travis.yml) which is currently using Mono. We don't have that restriction in the language setup script, so I'm planning on using the apt feed to support .NET Core once RC2 is ready :smile:

[2016-03-31 14:54] enricosada commented on #2113
it's a pleasure to give you more work @blackdwarf :smile:

I tried installers/packages time ago, but got issues (probably pebkac), and was more difficult to test locally
I like binaries because it's easier to reproduce locally (it's just a download and unzip)
It's also possibile to use the installer in appveyor, if we want (or it's better) to use packages.

But it's easier to show the code :smile:

[2016-03-31 14:55] enricosada commented on #2113
i was thinking about you @akoeplinger for review, that was fast

[2016-03-31 15:00] tiomke commented on #953
@tijoytom try  `"allowUnsafe": true`

[2016-03-31 15:24] jeffschwMSFT commented on #2058
Now that the sharedfx work has worked through, I am seeing the expected behavior for publish (only my components and the ones that my app uniquely requests).

[2016-03-31 15:24] #2058 closed

[2016-03-31 15:26] pakrym opened #2159 "dotnet muxer reports JSON syntax error when global.json is saved in UTF8+BOM"
## Steps to reproduce
1. Save global.json in utf8 with byte order mark.
2. dotnet build

## Expected  behavior
dotnet build shows no errors

## Actual behavior
[code]

## Environment data
`dotnet --version` output:
[code]

[2016-03-31 15:26] pakrym commented on #2159
//cc @piotrpMSFT @davidfowl @victorhurdugaci @pranavkm

[2016-03-31 15:33] pakrym commented on #2129
It's not getting in my way, it's just `corehost` bug I noticed. This app was published before we disabled rid inference so it didn't need rids in `project.json`.

[2016-03-31 15:46] muratg commented on #2038
@schellap re first workaround -- wouldn't it be a problem if two different apps use different versions of Microsoft.NETCore.App?

@troydai Perhaps @shhsu could help with his private stamp for a repro env.

[2016-03-31 15:47] moozzyk commented on #2135
No one is setting the `%DNX_PATH%` variable. You need to replace it with the path to your application. If you have .exe in the published output set /processPath="..\{yourApp.exe}"`. If you are using shared runtime (your app is a .dll) you need to modify the config as follows `processPath="dotnet" arguments="..\{yourApp.dll}"`. You may need to use the full path to dotnet.exe as per https://github.c

[2016-03-31 15:55] pakrym commented on #2115
File name is still not displayed after latest fix.

[2016-03-31 16:02] blackdwarf commented on #2113
@enricosada thanks for the PR, that would be super helpful. Let's take it there then. I will be making a large-ish CLI docs PR this week, so if you want, you can wait for that to settle or you can contribute to the "samples" directory in there and I can take care of the text around it (as in, explanations, scenarios and what not).

Sounds like a plan?

[2016-03-31 16:03] blackdwarf commented on #2113
@akoeplinger yeah, thought as much. Again, the net effect is  the same apart from the dependencies. Speaking of which, lemme go back to documenting those for this repo...

[2016-03-31 16:11] Sridhar-MS commented on #1919
@TingluoHuang  We have updated the LKG to https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0-beta-002133/dotnet-dev-win-x64.1.0.0-beta-002133.exe. Can you try this?

cc: @blackdwarf

[2016-03-31 16:37] brandiqa commented on #1644
Avast antivirus also reports the same. Had to uninstall the dotnet asap!!

[2016-03-31 16:41] Sridhar-MS commented on #1644
@brandiqa Can you tell which link you used for installation?

[2016-03-31 16:46] brandiqa commented on #1644
https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0-beta-002133/dotnet-dev-win-x64.1.0.0-beta-002133.exe
Got the above link from this page: http://dotnet.github.io/getting-started/

[2016-03-31 16:47] jeffschwMSFT opened #2161 ".NET Core Mac pkg Installer missing default strings"
<img width="953" alt="screen shot 2016-03-31 at 8 37 07 am" src="https://cloud.githubusercontent.com/assets/9561583/14183502/80956bc0-f725-11e5-9d09-9ac853ea87fc.PNG">

Resources {SharedFrameworkNugetName} and {SharedFrameworkNugetVersion} are not filled in properly

.NET Core Installer version 1.0.0-rc2-23930

[2016-03-31 16:52] schellap commented on #2038
@muratg, you could wrap in a setlocal in a cmd file?

[2016-03-31 16:55] schellap commented on #2129
@pakrym, in one thread you want this and in another it is a bug? Just use the muxer then. We'll kill --additionalprobingpath in standalone @davidfowl

[2016-03-31 16:56] pakrym commented on #2129
@chellap Where do I wan't this?

[2016-03-31 16:59] schellap commented on #2143
No I believe the ask is Muxer should print own version with say `--hostversion`. @piotrpMSFT?

[2016-03-31 17:03] pakrym commented on #2143
`--version` is irrelevant in this issue. Issues is that when running via `corehost.exe` from runtime folder `dotnet` command name get resolved to runtimes `dotnet.exe` even if muxer is the only one on the path.

[2016-03-31 17:15] brendandixon opened #2164 "`dotnet build` claims `dotnet restore` is necessary even when it is not"
## Steps to reproduce

This occurs for my project (see attached) running in a Docker Ubuntu 14.04 container under Mac OS X (El Capitan). I run `dotnet restore` which appears to successfully complete. A subsequent `dotnet build`, which compiles successfully, claims I need to run `dotnet restore.`
## Expected  behavior

`dotnet build` only complains when it should.
## Actual behavior
## Environment

[2016-03-31 17:21] brendandixon opened #2165 "The output from `dotnet build` snakes instead of having correct line breaks"
## Steps to reproduce
- Run `dotnet build` in a Docker container under Mac OS X.
## Expected  behavior

One line per line.
## Actual behavior

The lines snake across the screen. Line breaks are not honored. New lines do not begin at the left edge. Etc. I've attached a screen shot.
![screen shot 2016-03-31 at 10 21 29 am](https://cloud.githubusercontent.com/assets/305205/14184504/5e3a4bf4-f72a-11e5

[2016-03-31 17:25] schellap commented on #2129
https://github.com/dotnet/cli/issues/2127#issuecomment-203849540. Here... this bug and that comment don't make sense together.

[2016-03-31 17:43] pakrym commented on #2129
"Expected" there is running standalone exe part, not passing `additionalprobingpath` part

[2016-03-31 18:23] brthor commented on #1327
@victorhurdugaci did you make any progress in solving this issue? cc @Sridhar-MS is hitting a similar issue

[2016-03-31 18:27] victorhurdugaci commented on #1327
I ended up writing a helper that kills a process tree. Not the perfect solution but it works for us. https://github.com/aspnet/Common/blob/dev/src/Microsoft.Extensions.Process.Sources/ProcessHelper.cs#L22

[2016-03-31 18:42] dleeapho commented on #2122
Even if the image was old it should work since http://dotnet.github.io/getting-started/ referenced that version of CLI. In any case I'm not able to reproduce the error with the same image. @RickJWagner, just to get a complete picture, Docker host are you running and what version of Docker?

[2016-03-31 18:46] RickJWagner commented on #2122
Hi @dleeapho,
Thanks for having a look.  My Docker Host is a Fedora 22 machine, the Docker version is:
 Docker version 1.8.2-fc22, build cb216be/1.8.2
Thanks,
Rick

[2016-03-31 18:59] dleeapho commented on #2122
@RickJWagner, I just tried it on a RHEL 7 host and Docker version 1.8.2-el7, build a01dc02/1.8.2 and yes I ran into the same issue, whereas on an Ubuntu host with Docker 1.10 it does not repro. FYI, with a newer an image on a newer CLI version (RHEL 7 host) I'm running into a CoreCLR activation issue. @RickJWagner, since these issues seems specific to a RH Docker host scenario let's work offline t

[2016-03-31 19:01] nattress opened #2166 "Dev channel CLI package acquisition fails"
The CLI script to obtain dev channel packages from Master fails. With x64 it discovers 1.0.1.001606 is latest but that blob doesn't exist.

scripts\obtain\install.ps1 -Verbose -Channel dev -Architecture x64

Verbose output:

VERBOSE: dotnet_install: Get-Azure-Channel-From-Channel -Channel "dev"
VERBOSE: dotnet_install: Get-CLIArchitecture-From-Architecture -Architecture "x64"
VERBOSE: dotnet_insta

[2016-03-31 20:32] Petermarcu commented on #2152
Is this one complete now that the linked PR is merged?

[2016-03-31 20:33] #2152 closed

[2016-03-31 21:05] gregg-miskelly commented on #1072
Looks like this is now fixed.

[2016-03-31 21:09] ljw1004 opened #2170 "dotnet pack doesn't let me provide my own nuspec"
When I do "dotnet pack", it synthesizes a .nuspec. This nuspec has several problems:
- Authors and Owners isn't right
- requireLicenseAcceptance is wrong for my package
- URLs to license and product and icon are wrong
- It only has one dependency group on ".NETStandard", but I wish to provide additional dependency groups so that UWP and .NET46 can consume my nuget package too

I wish to provide my

[2016-03-31 21:10] ljw1004 opened #2172 "dotnet run -h doesn't provide any run-specific help"
## Steps to reproduce

`dotnet run -h`

## Expected  behavior

It should print information about the "run" command

## Actual behavior

It only prints the same overall information that I get from "dotnet -h"

## Environment data
`dotnet --version` output: 1.0.0-beta-002133 on OSX

[2016-03-31 21:13] ljw1004 opened #2173 "Can't pass "a.cs" as argument to my console app via dotnet run"
## Steps to reproduce

Do "dotnet new", "dotnet restore", then write this code inside Main:
[code]
Now run it in two different ways:
[code]

## Expected  behavior

The first run should print "hello world" on two separate lines.
The second run should print "Program.cs"

## Actual behavior

The first run works fine.

The second run gives an error "Not found - d.cs"

Basically, I need a rock-solid re

[2016-03-31 21:16] #1072 closed

[2016-03-31 21:17] ljw1004 opened #2174 "dotnet run always prints info/compilation stuff to stdout; it shouldn't"
## Steps to reproduce

do `dotnet new` and `dotnet restore` and `dotnet build` and `dotnet run > output.txt`

## Expected  behavior

It should create a file `output.txt` with the contents `Hello World!`

## Actual behavior

The actual contents of the `output.txt` file are
[code]

## Rationale

I am writing a text-processing utility, similar to grep/sed/awk. It's obviously crucial that my utility c

[2016-03-31 21:19] pakrym commented on #2159
This makes build to fail.
[code]

[2016-03-31 21:20] ljw1004 opened #2175 "dotnet pack produces a zip with no read-permissions on its file contents"
## Steps to reproduce

`dotnet new` then `dotnet restore` then `dotnet build` then `dotnet pack`

Go into the `bin/Debug` directory and `unzip Project.1.0.0.nupkg`

Try to view the contents of the nuspec: `more Project.nuspec`
## Expected  behavior

It should show me the contents of the file
## Actual behavior

It says `Project.nuspec: Permission denied`
## Rationale

I'm working on OSX. I need a

[2016-03-31 21:22] ljw1004 opened #2176 "dotnet build -n doesn't build native"
## Steps to reproduce

`dotnet new` then `dotnet restore` then `dotnet build` then `dotnet build -n`

## Expected  behavior

It should do a native build

## Actual behavior

It doesn't do a native build! It merely says
[code]
Also, the bin/Debug directory doesn't contain any native output files.

## Environment data
`dotnet --version` output: 1.0.0-beta-002133 on OSX

[2016-03-31 21:25] gkhanna79 commented on #2159
@pakrym Why is this blocking given that JSON parsing was working all this while?

[2016-03-31 21:26] pakrym commented on #2159
Because now its output makes `dotnet build` to fail

[2016-03-31 21:27] gkhanna79 commented on #2159
Have you changed the format in which the .json files are saved?

[2016-03-31 21:28] pakrym commented on #2159
No, it reports false positive for files with BOM

[2016-03-31 21:28] gkhanna79 commented on #2159
How was this saved earlier when this worked? I am not aware of any JSON parsing changes that would result in this.

[2016-03-31 21:31] brthor commented on #2143
The XUnit runner is using "corehost" in the shared fx directory to start the xunit runner. This is a separate but related issue that I'll be working on.

Although this issue exists I don't believe it is the same as the issue you are presenting @pakrym. That issue is that anytime you are running an app from shared fx directory (using "corehost"), Process.Start will default to the present dotnet.exe

[2016-03-31 21:31] pakrym commented on #2159
Reporting changed in https://github.com/dotnet/cli/commit/1428eb81cfb1e81251b8241d08e5fefd95882153, it started printing line numbers into `stderr` and `dotnet build` thinks its `csc` errors.

[2016-03-31 21:36] gkhanna79 commented on #2159
Are you suggesting that if trace_error was not executed, the build would have succeeded as that would be strange given that json parsing failed?

[2016-03-31 21:38] pakrym commented on #2159
Global.json is perfectly valid json file, it just has UTF8 BOM encoding which `corehost` can not process correctly. So yes, build would have succeeded if this error wasn't written to `stderr`.

[2016-03-31 21:43] pakrym commented on #2159
I'm not fixing it

[2016-03-31 21:44] pakrym commented on #2159
This will only make it write to `stdout` instead `stderror`

[2016-03-31 21:44] gkhanna79 commented on #2159
Casablanca does not support BOM. If you think this is blocking for RTM, let us discuss.

[2016-03-31 21:46] gkhanna79 opened #2178 "Document installation of VC++ 2015 REDIST for CLI zip archive consumers"

[2016-03-31 21:46] pakrym commented on #2159
I think it blocks rc2, VS saves json files with BOM by default.

[2016-03-31 21:49] gkhanna79 commented on #2159
With your workaround in place, I dont believe this is blocking for RC2. We can look into what can be done for RTM for Casablanca.

[2016-03-31 21:52] pakrym commented on #2159
All users would see error message that is not true, how is this not an issue?

[2016-03-31 21:52] pakrym commented on #2159
And sdk selection feature won't work at all.

[2016-03-31 21:56] gkhanna79 commented on #2159
Are there other editors that allow you to save JSON without BOM marker? If so, can that not be a workaround until RTM to author the json file? Or, are you suggesting there is a case where VS is used to create a project type that will have .json files with BOM markers?

[2016-03-31 22:05] pakrym commented on #2159
`File->Create project->Core console application` creates `global.json` with BOM

[2016-03-31 22:07] schellap commented on #2159
Cc @BillHiebert

[2016-03-31 22:15] davidfowl commented on #2159
Did anyone look at a fix?

[2016-03-31 22:16] cdmihai commented on #2123
@piotrpMSFT

What Anton said :)

The CLI cannot build those test assets, so we would have to build the assets in VS and then commit them in. This would enable us to the test dotnet build being called in the presence of fragment files and guard against regressions.

[2016-03-31 22:18] schellap opened #2179 "CoreHost reads env variable ProgramFiles"
This works because of:
https://msdn.microsoft.com/en-us/library/windows/desktop/aa384274(v=vs.85).aspx

Instead, this should come from:
https://msdn.microsoft.com/en-us/library/windows/desktop/dd378457(v=vs.85).aspx

[2016-03-31 22:23] gkhanna79 commented on #2159
I am looking at what Casablanca supports and what we can do.

[2016-03-31 22:27] brthor commented on #2176
`native` binaries are placed in a native subdirectory in build output, possibly in a rid specific folder (not sure)

[2016-03-31 22:27] Ronan-Farrell opened #2180 "Issue installing latest .NET Core Installers"
## Steps to reproduce
1. Go to: https://github.com/dotnet/cli/
2. Download latest installer e.g. the x64 url is https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-win-x64.latest.exe
(have also tried x86)
3. Error during install: "0x80070001 - Incorrect Function"

## Expected  behavior
Install complete

## Actual behavior
Error "0x80070001 - Incorrect Function"

## Environ

[2016-03-31 22:29] brthor commented on #2165
I have seen this in docker as well.

[2016-03-31 22:33] schellap commented on #2159
@gkhanna79 we should just istream::get and match for the BOM and istream::gseek to 0 if we don't find it. We shouldn't probably mess with Casablanca. `global.json` is a little different from `deps.json` in that it is conformant to the platform spec for such files.

[2016-03-31 22:34] davidfowl commented on #2159
We can start a thread with that team and work around the BOM issue hopefully.

[2016-03-31 22:37] ljw1004 commented on #2176
No directories contain any native files anywhere when I do this.

[2016-03-31 22:39] gkhanna79 commented on #2159
They have some stuff done, to handle bom, in their httphelpers implementation:

https://github.com/Microsoft/cpprestsdk/blob/1e487cc2d158f1cc4a4627beaf8d0b7663957b8b/Release/src/http/common/http_helpers.cpp

[2016-03-31 22:48] brthor opened #2182 "XUnit Runner is launched with CoreHost instead of the muxer."

[2016-03-31 23:06] hal-ler opened #2183 "What is the recommended way to create portable tests?"
## Steps to reproduce

The project.json files of the unit tests specify `netstandard1.5` as the framework without any specific runtime (code is meant to be portable and I would prefer having not to repeat a large list of runtimes in every test-related project.json).

Run `dotnet test` in the test project folder.

## Expected  behavior

Test runs as previously.

## Actual behavior

`No executable f

[2016-04-01 00:31] onovotny opened #2184 "xUnit CoreCLR runner doesn't handle xunit config properly"
The xunit runner should not parse the xunit config from the command line. It should use the following logic to determine the correct config file for the assembly:

https://github.com/xunit/visualstudio.xunit/blob/master/xunit.runner.visualstudio.testadapter/VsTestRunner.cs#L228-L248

This change should happen in the CommandLine.cs in the Parse method. Around line 100.

[2016-04-01 01:04] remms commented on #1813
Same happens to me, following instructions from: http://dotnet.github.io/getting-started/

[code]

[2016-04-01 02:01] TingluoHuang commented on #1919
@Sridhar-MS Still get error.
[1264:3BE4][2016-03-31T21:58:40]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: C:\Users\huang\AppData\Local\Temp\{B157199A-1C6E-45AA-B5C6-A8AC02174DAE}\.cr\dotnet-dev-win-x64.1.0.0-beta-002133.exe
[1264:3BE4][2016-03-31T21:58:40]i000: Initializing string variable 'BuildType' to value 'Release'
[1264:3BE4][2016-03-31T21:58:40]i000: Initializ

[2016-04-01 05:00] alfhenrik commented on #2155
I've got a workaround for now, so I have no problem with this being closed.

[2016-04-01 05:12] gkhanna79 commented on #446
We are planning to call out VC++ 2015 REDIST as a pre-req and will install this by default as part of the Shared FX installer. Hence, there is no action required.

[2016-04-01 05:12] #446 closed

[2016-04-01 05:16] gkhanna79 commented on #1129
WER policy is owned by the machine configuration. For the remaining issues, they are nice to have (but captured in the trace logging) that can be considered for RTM. Thoughts @piotrpMSFT?

[2016-04-01 05:16] gkhanna79 commented on #1585
This is completed.

[2016-04-01 05:16] #1585 closed

[2016-04-01 05:18] gkhanna79 commented on #2028
Dup of https://github.com/dotnet/cli/issues/2028

[2016-04-01 05:19] gkhanna79 commented on #2091
Closing as dup of https://github.com/dotnet/cli/issues/2028

[2016-04-01 05:19] #2091 closed

[2016-04-01 05:22] gkhanna79 commented on #438
I believe this is addressed with the nuget packages for host.

[2016-04-01 05:22] #438 closed

[2016-04-01 05:26] gkhanna79 commented on #2098
The native host has no such idea since presence of managed entrypoint is done by the runtime. If this needs to be reported better, it will be good to have a hint in app.deps.json (or such) to indicate if this is an app or not.

[2016-04-01 05:30] gkhanna79 commented on #2115
Is this the BOM issue?

[2016-04-01 05:34] gkhanna79 commented on #2129
@pakrym Is this a real issue for RTM? Can you please elaborate on the impacted scenario?

[2016-04-01 05:39] gkhanna79 commented on #1933
Closing as dup of https://github.com/dotnet/cli/issues/1933

[2016-04-01 05:39] #1933 closed

[2016-04-01 06:12] gkhanna79 commented on #2141
@brthor and @Sridhar-MS mentioned in a discussion today that this is a known issue for RC2.

[2016-04-01 06:17] gkhanna79 commented on #2121
@livarcocc When do you expect to have this resolved?

[2016-04-01 06:40] livarcocc commented on #2121
I intend to sent it out for PR tomorrow.

[2016-04-01 06:41] gkhanna79 commented on #1218
I think it will be useful to get the symbols for all repos published. CLI's native pieces are the host components.

[2016-04-01 06:53] schellap commented on #2129
@pakrym, not sure what you mean the exe is expected but not the additionalorobingpath. How will that exe run if you just did build, without the additionalprobingpath or what is the use of the exe without full publish?

[2016-04-01 06:55] schellap commented on #2129
Actually with runtimeconfig.dev.json we can get rid of this arg. Is that what you are getting at?

[2016-04-01 06:58] gkhanna79 commented on #2059
@brthor How is the above a standalone app when it does not contain libhostfxr and libhostpolicy in it? Also, it appears to be missing ./StandaloneApp.

Who generated this output?

[2016-04-01 08:04] Ronan-Farrell commented on #2180
Just a heads up, have tried installing on a different PC this morning and that failed also.
 Log:

[11A0:0A7C][2016-04-01T09:03:21]i001: Burn v3.10.2.2516, Windows v6.1 (Build 7601: Service Pack 1), path: C:\Users\farrer\AppData\Local\Temp\{852C42DA-4477-4ABD-833F-F1FA8A51071D}\.cr\dotnet-win-x64.latest (1).exe
[11A0:0A7C][2016-04-01T09:03:21]i000: Initializing string variable 'DOTNETHOME' to valu

[2016-04-01 09:22] cjaeckel commented on #2112
After uninstall of previous CLI versions and some cleanup of the mess being leftover I fetched version 2188.
Congratulations:
[code]
...is now showing `Hello world!`

[2016-04-01 09:22] #2112 closed

[2016-04-01 11:04] kkokosa opened #2189 "Key 417A0893 can't be retrieved from keyserver for apt"
## Steps to reproduce

During adding the new apt-get feed:

`sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893`
## Actual behavior

[code]
## Environment data

`uname -a` output:

`Linux debian 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt20-1+deb8u4 (2016-02-29) x86_64 GNU/Linux`

`curl apt-mo.trafficmanager.net --head` output (besides being behind corporate proxy):

[code]

A

[2016-04-01 14:27] gkhanna79 commented on #2159
Fixed with https://github.com/dotnet/cli/pull/2186.

[2016-04-01 14:27] #2159 closed

[2016-04-01 14:54] kkokosa opened #2190 "Dotnet restore fails behind corporate proxy"
## Steps to reproduce

Create new Dockerfile as follows:

[code]

Then build new image:

`sudo docker build -t dotnet-cmd .`
## Actual behavior

Run a new container:

`sudo docker run -it dotnet-cmd`

Then, inside container:

[code]

while normal curl works:

[code]

Full verbose output from dotnet restore:

[code]

**Note:** without configuring Proxy_CA.crt `curl` is failing with the following er

[2016-04-01 15:42] jeffschwMSFT opened #2192 "Missing string replacement on Mac .NET cli installer {version}"
<img width="614" alt="screen shot 2016-04-01 at 8 36 04 am" src="https://cloud.githubusercontent.com/assets/9561583/14211978/a40cb89a-f7e5-11e5-85f7-153d68152164.png">

{version} should be replaced with the latest version.

[2016-04-01 15:44] slackmoehrle opened #2193 "dotnet restore Unrecognized option '--infer-runtimes'"
## Steps to reproduce
(jtsm @ 15 ~/.vscode/extensions/ms-vscode.cpptools-0.4.2)  $ dotnet restore --configfile NuGet.Config --infer-runtimes
Specify --help for a list of available options and commands.
error: Unrecognized option '--infer-runtimes'
(jtsm @ 15 ~/.vscode/extensions/ms-vscode.cpptools-0.4.2)  $ dotnet restore --help

Usage: nuget3 restore [arguments] [options]

Arguments:
  [root]  Li

[2016-04-01 15:45] slackmoehrle commented on #2192
Also, here:

![screen shot 2016-04-01 at 11 45 30 am](https://cloud.githubusercontent.com/assets/7491758/14212099/49b46e0a-f7ff-11e5-887b-fe3a2c0257e4.png)

[2016-04-01 16:20] colemickens opened #2194 "002177 -> 002179: `dotnet restore`: "the structure of init data has changed""
`dotnet-dev-1.0.0-beta-002177` works

upgraded to `dotnet-dev-1.0.0-beta-002179`. cleared nuget cache. This is all in Docker so it's a "clean" install of 002179.

[code]

[code]

[2016-04-01 16:27] colemickens opened #2195 "Installing dotnet-dev-1.0.0-beta-002192 pulls in dotnet-host-1.0.0.002020-1"
Is this expected? There are quite a few newer versions of dotnet-host in the repo.

Was wondering if it could be related to what I'm seeing in https://github.com/dotnet/cli/issues/2194

[2016-04-01 16:37] TurkeyMan opened #2196 "Pacman package for Arch based distros"
Please consider a PKGBUILD to package for pacman/Arch based Linux distros.
Many developers prefer Arch, the package repository is typically much better than *buntu, and more up-to-date.

[2016-04-01 16:38] krwq commented on #2166
Seems like some versioning changes did not make it to master:
[code]
this should have nuget version

also I can't see any folders with nuget versions in azure. the last uploaded version seem to be  1.0.1.001808 and seems like it didn't update the latest.version file.

[2016-04-01 16:48] cdmihai commented on #2176
See #1041

[2016-04-01 17:10] krwq commented on #2099
version description update: https://github.com/dotnet/cli/pull/2197

[2016-04-01 17:13] #2099 closed

[2016-04-01 17:50] schellap commented on #1103
Cc @piotrpMSFT and @livarcocc

[2016-04-01 17:50] schellap commented on #1103
Moving to RTM.

[2016-04-01 17:52] schellap commented on #1910
Moving to RTM since this doesn't impact mainline scenario.

[2016-04-01 17:52] krwq opened #2199 "dotnet build should print out a more helpful message when no lock file is present"
## Steps to reproduce

git clone https://github.com/dotnet/cli
cd cli\test\dotnet.Tests
dotnet restore && dotnet test
## Expected  behavior

Failing run  of tests with the message that the referenced P2P dependency was not restored.
## Actual behavior

...\cli\test\dotnet.Tests>dotnet restore && dotnet test
Project Microsoft.DotNet.InternalAbstractions does not have a lock file.
Project Microsoft.

[2016-04-01 17:53] schellap commented on #1988
This should be fixed now... thanks for reporting it!

[2016-04-01 17:53] #1988 closed

[2016-04-01 17:54] schellap commented on #2115
Fixed, closing..

[2016-04-01 17:54] #2115 closed

[2016-04-01 17:55] schellap commented on #1935
Moving to RTM.

[2016-04-01 17:59] schellap commented on #2129
Moving to RTM, we can clean this up.

This is an artifact of doing xunit before shared fx. This shouldn't block anyone unless they really can't change their argument names to something else.

[2016-04-01 18:02] livarcocc commented on #2199
This is not a problem with dotnet test. This is a problem of you trying to build a project dependency that has not been restored.

What you are kind of asking here is for transitive restore. I am closing this.

[2016-04-01 18:03] Sridhar-MS commented on #783
x86 version of dotnet CLI is available - https://github.com/dotnet/cli#sdk-installers.

[2016-04-01 18:03] #783 closed

[2016-04-01 18:04] Sridhar-MS commented on #649
We moved all our required nuget packages into https://dotnet.myget.org/F/cli-deps/api/v3/index.json feed. So this issue is fixed.

[2016-04-01 18:04] #649 closed

[2016-04-01 18:08] abpiskunov opened #2200 "ProjectModel.Server sends null versions when csproj is just added to project.json and there was no restore"
## Steps to reproduce

          "ClassLibrary1": {
            "Name": "ClassLibrary1",
            "DisplayName": "ClassLibrary1",
            "Version": null,
            "Path": null,
            "Type": "Project",
            "Resolved": false,
            "Dependencies": [],
            "Errors": [
              {
                "ErrorCode": "NU1001",
                "SourceFilePath": "C:\\

[2016-04-01 18:08] abpiskunov commented on #2200
@troydai

[2016-04-01 18:14] brthor commented on #2199
I think the restore issues aside there is a UX issue here and we could rename the issue to reflect it.

Basically when you see a project doesn't have a lock file, it might be helpful for the error message to say "go publish that project"

What do you think @blackdwarf ?

[2016-04-01 18:19] livarcocc commented on #2199
Just to be clear, this message is coming from Build. dotnet test invokes build before running the tests, so whatever we decide, if we want to improve messaging, we need to do so at dotnet build.

[2016-04-01 18:21] brthor commented on #2199
Sure, that's reasonable, so how about we reopen this as:
"dotnet build message for unrestored projects is confusing" or something similar @krwq ?

[2016-04-01 18:28] blackdwarf commented on #2199
@richlander also had this idea. I'm reopening this for tracking and renaming it.

[2016-04-01 18:30] blackdwarf commented on #2199
The actual message should say something along the lines of "The project ${PROJECT} doesn't have a lock file. Try running dotnet restore first.".

[2016-04-01 18:31] brthor commented on #2195
Are you able to inspect the dotnet-dev package control file by unpacking it by any chance?

Curious to see what it's dependencies are. I might be able to take a look later today.

[2016-04-01 18:31] brthor commented on #2199
I honestly think a path to the project you need to restore would be immensely helpful at alleviating confusion.

[2016-04-01 18:33] blackdwarf commented on #2199
That's the `${PROJECT}` part above. Anything can go there. We could do: ""The project ${PROJECT} (in ${PROJECT_PATH}) doesn't have a lock file. Try running dotnet restore first."

[2016-04-01 18:36] brthor opened #2201 "Cannot run Test Projects unless restored with --infer-runtimes"
## Steps to reproduce

clone a clean repo with no restored projects

[code]
## Expected  behavior

Runs Test
## Actual behavior

[code]
## Environment data

`dotnet --info` output:
Seeing this everywhere.

[code]

cc @anurse @pakrym @piotrpMSFT

What does the `--infer-runtime` switch actually do and how can i reason about it?

I think we can fix this by changing the ProjectDependenciesResolver to

[2016-04-01 18:36] colemickens commented on #2195
[code]

from the deb itself.

And then the SharedFramework since it's pulling in dotnet-host:

[code]

[2016-04-01 18:37] brthor commented on #2182
@livarcocc don't think the test label is appropriate here. This is more of a command resolver issue than something specific to test.

[2016-04-01 18:39] #429 closed

[2016-04-01 18:39] pakrym commented on #2201
Not a bug, for standalone projects you either need to have rid list in `project.json` or restore with `--infer-runtime` to tell `nuget` to restore for current runtimes.

[2016-04-01 18:39] brthor commented on #309
@blackdwarf do you know if we're still doing this?

[2016-04-01 18:40] brthor commented on #2059
I believe this was the ridless output of build, so this would be an unpublished standalone app.

I didn't specify additionalprobingpath, so let me try that as well.

[2016-04-01 18:47] brthor commented on #2195
Thanks for this issue @colemickens !

It looks like the old version format of the host package is evaluated as newer than the actual newer ones.

I will actually clean this feed today and the issue should go away.

[2016-04-01 19:01] brthor opened #2202 "SDK Debian Packages cannot be installed SxS"
Manpages like `dotnet-publish` are conflicting.

to get this unblocked we will version the manpages in the immediate term @piotrpMSFT

cc @blackdwarf

[2016-04-01 19:03] brthor opened #2203 "Manpages in SDK Deb Package Conflict with One Another"
The manpages in our sdk deb packages conflict causing them to be unable to be installed SxS.

To get this scenario unblocked immediately we will version the manage #2202

We should do some thinking about the right thing to do here for RTM though.

A suggestion I am leaning towards is publishing the manpages, samples, and any other static content in another debian package, which the sdk package dep

[2016-04-01 19:14] dagood commented on #496
An update and a little clarification of what I'm working on:

So far I have enabled managed symbol package builds for corefx/wcf that will start publishing to the dotnet-core MyGet feed next week. @markwilkie @brianrob and I have thought about a plan for native symbol publishing that I'll be proving out next.

The way I understand it, the current work for this issue is to make it clear how we (dot

[2016-04-01 19:15] rongriffin opened #2204 "dotnet-osx-x64.1.0.0.001598 error 'Could not resolve SDK directory from [/usr/local/share/dotnet]'"
## Steps to reproduce

Installed dotnet-osx-x64.1.0.0.001598. When I try to run 'dot net --version' (or any other command), i get 'Could not resolve SDK directory from [/usr/local/share/dotnet]' .

## Expected  behavior

print version information

## Actual behavior

Could not resolve SDK directory from [/usr/local/share/dotnet]

## Environment data
`dotnet --info` output:  Could not resolve SDK d

[2016-04-01 19:22] brthor commented on #2204
how did you install?

Can you try picking up a later build? 1598 was weeks ago :smile:

[2016-04-01 19:25] rongriffin commented on #2204
I grabbed the package from http://dotnet.github.io/getting-started/

[2016-04-01 19:26] brthor commented on #496
Can you give more details on this guidance?

What should be in this cli symbols package, pdbs only?
How are developers expected to consume these packages?

[2016-04-01 19:26] brthor commented on #2204
Please try downloading one of the latest from the github page and let us know if you still see the issue :smile:

[2016-04-01 19:31] rongriffin commented on #2204
Ok, I got the latest linked from the README.

version 1.0.0-beta-002194 is working.  Thanks!

[2016-04-01 19:31] #2204 closed

[2016-04-01 19:31] brthor commented on #2204
np, glad it worked!

[2016-04-01 19:32] brthor commented on #2204
cc @blackdwarf it looks like our LKG pkg is busted

[2016-04-01 19:32] blackdwarf commented on #309
I'm pretty sure that we're not, we can close this. We are now adding the path into `paths.d` and nothing is being symlinked anymore.

[2016-04-01 19:32] #309 closed

[2016-04-01 19:33] markwilkie commented on #496
My recommend is to publish "skinny" packages - which are the new one, and then also "fat" packages as well (diff name) that have symbols.

On Fri, Apr 1, 2016 at 12:26 PM -0700, "Bryan Thornbury" <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you give more details on this guidance?

What should be in this cli symbols package, pdbs only?
How are developers expected to consu

[2016-04-01 19:33] blackdwarf commented on #2204
@brthor how can this be busted? It should not even know about the SDK. 1598 is before the shared fx stuff. There is no concept of SDK .

[2016-04-01 19:34] mellinoe commented on #2192
Looks like it will be fixed by https://github.com/dotnet/cli/pull/2163

@Sridhar-MS

[2016-04-01 19:35] brthor commented on #2204
My naive guess is somehow it is getting the new host. I don't know how that's possible though.

[2016-04-01 19:36] blackdwarf commented on #2204
@brthor just installed it, cannot repro. @rongriffin did you install later then 1598 builds on your machine **prior** to installed the 1598?

[2016-04-01 19:38] brthor commented on #496
Not too clear on what "skinny" and "fat" packages are in this context. My understanding is those determine which rid specific assets are included in a portable app.

Is the guidance simply to publish a zip with sdk binaries only and another with sdk binaries and pdbs?

[2016-04-01 19:45] markwilkie commented on #496
There are a few options of course. I'm suggestion publishing the binaries without the symbols stripped, and again with them stripped.

On Fri, Apr 1, 2016 at 12:38 PM -0700, "Bryan Thornbury" <notifications@github.com<mailto:notifications@github.com>> wrote:

Not too clear on what "skinny" and "fat" packages are in this context. My understanding is those determine which rid specific assets are inc

[2016-04-01 19:48] dagood commented on #496
The reason we don't suggest publishing the pdbs without binaries is that it's not all pdbs: native xplat symbols are (usually) contained within the binary itself and distributed that way. Making a new binary + symbol package seems like the most consistent way to handle this.

[2016-04-01 19:49] danquirk opened #2205 "Build failure on debian"
## Steps to reproduce
Successfully built last night but now when I run ./build.sh or ./build.sh --target Prepare,Package I get a seg fault (see below). I'm working in a docker container from @brthor synced to latest rel/1.0.0. Hopefully it's just something dumb on my end.

## Expected  behavior
No errors

## Actual behavior
[code]

## Environment data
Same results when I built with or without dotn

[2016-04-01 20:24] Sridhar-MS commented on #2192
yup

[2016-04-01 20:41] #2100 closed

[2016-04-01 20:41] #2161 closed

[2016-04-01 21:01] troydai opened #2206 "Improve the LockFileReader.Read method signature"
Mr. @davidfowl holds a strong opinion on this. And somehow he didn't point it out in code review.

Add a overload to default set `designTime` parameter to `false`

[2016-04-01 21:06] gkhanna79 commented on #1103
@Sridhar-MS Assigning this to you per our discussion today.

[2016-04-01 21:08] hal-ler commented on #2201
Is `--infer-runtimes` supported long-term, or just temporarily? I would prefer not to have all runtimes listed in the `project.json` of all the test projects.

[2016-04-01 21:11] #2205 closed

[2016-04-01 21:18] gkhanna79 opened #2207 "Add MusicStore app as an automated test to cover (majority of) E2E scenarios"
@Sridhar-MS Can you please look into adding MusicStor for E2E validation of CLI? Per @muratg:

Repo: https://github.com/aspnet/MusicStore
You can just run build.cmd to build it.

For the command line, you can just keep the CLI you want in the path.

For the CLI libraries, you’ll need to put them somewhere and edit your nuget.config to pick the packages from that location.

[2016-04-01 21:57] brthor opened #2210 "SharedFramework Deb shouldn't be published more than once for the same version."
Today we are publishing the shared framework deb every build we do regardless if it's version was bumped.

This is causing issues with the apt client as the bits in each of these debs are not identical but they have the same version.

Apt will cache the metadata at the user's side and not update it when it detects a mismatch between the cached data and the package being pulled down, it fails inste

[2016-04-01 22:18] BruceForstall opened #2211 "dotnet restore is far too verbose"
## Steps to reproduce

dotnet restore

## Expected  behavior

On success, either no output (and success result code), to be very "unix-y", or VERY SMALL amount of output.
On failure, just print the error.

## Actual behavior

gobs and gobs of incomprehensible output

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-beta-002196)

Product Information:
 Version:     1.0.0-b

[2016-04-01 22:19] BruceForstall commented on #2211
After all, there is a "--verbose" switch you could use to output all the current info.

[2016-04-01 22:24] BruceForstall opened #2212 "dotnet build is too verbose"
## Steps to reproduce

dotnet build
## Expected  behavior

On success (clean build), no output.
On failure, or compile had warnings, just that output.
## Actual behavior

from a compilation:

[code]
1. Compilation succeeded. You don't need to tell me 0 warnings, 0 errors. You don't even need to tell me "compilation succeeded". I assume you'll tell me if it failed, so I can assume it succeeded if t

[2016-04-01 22:36] brthor opened #2213 "dotnet-compile-fsc template needs imports"
This error is output otherwise:
[code]

[2016-04-01 22:58] andschwa commented on #1758
We're switching our use of publish to build for a big internal project. Please do not implement this without a way to specify files to be copied to output on build.

[2016-04-01 23:17] pakrym opened #2216 "Dotnet publish with -o and multiple targets stomps the output"
## Steps to reproduce
1. Target net451 and netstandart1.5
2. `dotnet publish -o pub`
## Expected  behavior

It should either throw an error asking for target like build does, or publish one.
## Actual behavior

Published both targets into same directory overwriting files.
## Environment data

`dotnet --info` output:

[code]

[2016-04-01 23:18] pakrym commented on #2216
Non blocking
//cc @piotrpMSFT @brthor

[2016-04-01 23:20] brthor opened #2217 "hostfxr library for the sharedfx is copied from the sdk directory during build."
cc @schellap @Sridhar-MS

[2016-04-01 23:46] blackdwarf opened #2218 "dotnet run needs to understand netcoreapp tfm"
Currently, `dotnet run` selects `dnxcore` or `netstandardapp` as the default TFMs to run. We also need `netcoreapp` in there.

/cc @piotrpMSFT @anurse @pakrym

[2016-04-01 23:50] blackdwarf commented on #2211
We are already tracking this as #1623. Closing down this one as a duplicate.

[2016-04-01 23:50] #2211 closed

[2016-04-01 23:56] colemickens commented on #2194
Now I'm getting this on 002177 on a different machine, which makes me suspicious of apt, as the only thing that differs between these two machines is that one has a cached docker layer from when I initially switched to 002177.

[2016-04-01 23:58] colemickens commented on #2194
Well, `dpkg -l | grep dotnet` seems to indicate that they both have the same packages installed. Very strange. The dockerfiles are identical. Both workspaces have no modifications and are on the same git revision. Any suggestions would be great.

[2016-04-02 00:14] colemickens commented on #2194
I don't really understand why it was working on one machine, but upgrading `dotnet-host` on my new machine allows restore to occur, so when #2195 is fixed I'll close this out as well.

[2016-04-02 00:36] brthor commented on #2194
@colemickens hit this as well today

The host package version issue is the root cause.

[2016-04-02 00:36] brthor commented on #2194
It's a case of an older root host communicating with a newer host policy library and blowing up.

[2016-04-02 03:16] ctaggart opened #2221 "ubuntu sdk's csc throws FileVersionInfo exception"
## Steps to reproduce

[code]
## Environment data

I setup the Docker image like so:

[code]

[2016-04-02 03:21] GuardRex opened #2222 "Triage question on this System.ArgumentNullException"
@blackdwarf  --- Triage question on this one. Here? ... or Mvc repo?
## Exception
[code]
## Environment data
[code]

[2016-04-02 03:38] Petermarcu commented on #2222
Looks like mvc to me...

[2016-04-02 03:40] GuardRex commented on #2222
Moved to https://github.com/aspnet/Mvc/issues/4399

[2016-04-02 03:40] #2222 closed

[2016-04-02 04:46] BruceForstall opened #2225 "dotnet restore fails on Mac"
## Steps to reproduce

dotnet restore

## Expected  behavior

Everything gets downloaded.

## Actual behavior

Fails with "too many open files"

If I use "ulimit -n 2048", it succeeds.

However, that is a terrible user experience, and there is no help from the error message that something so obscure is required. Can't it just stop opening so many files???

## Environment data
`dotnet --info` outpu

[2016-04-02 05:14] colemickens commented on #2194
Does the sharedframework need to depend on a specific version of dotnet-host? Otherwise if I install an older dotnet-beta build and then it pulls the latest dotnet-host, which could be too new?

[2016-04-02 05:36] ctaggart commented on #2221
I'm able to reproduce the problem using `dotnet-dev-ubuntu-x64.latest.tar.gz` as well.
[code]

To setup the docker container, I did:
[code]

[2016-04-02 05:58] mlorbetske commented on #933
Looping myself in. Any updates on getting an RC2 project.json schema on schemastore?

[2016-04-02 07:35] Jamlee commented on #988
installed `dotnet-dev` instead of `dotnet`.  and run `  sudo ln -sf /usr/share/dotnet-dev /usr/share/dotnet` . your problem will be resloved.

[2016-04-02 10:45] bryanar commented on #496
Has anyone begun publishing symbols to VSTS yet?

[2016-04-02 16:18] PinpointTownes commented on #1966
@mikes-gh looks like both the latest binaries and the installer now work fine on Windows 7. Can you confirm it also works for you?

[2016-04-02 16:22] lukka opened #2228 "dotnet restore failing with "Unable to load DLL 'System.Security.Cryptography.Native':"
## Steps to reproduce
/temp/hwapp$ dotnet new
/temp/hwapp$ dotnet restore
log  : Restoring packages for /Users/xxx/temp/hwapp/project.json...
error: The type initializer for 'Crypto' threw an exception.
error:   Unable to load DLL 'System.Security.Cryptography.Native': The specified module could not be found.
error:    (Exception from HRESULT: 0x8007007E)

## Expected  behavior

I expected to get

[2016-04-02 16:22] lukka opened #2229 "dotnet restore failing with "Unable to load DLL 'System.Security.Cryptography.Native'" on macosx"
## Steps to reproduce
/temp/hwapp$ dotnet new
/temp/hwapp$ dotnet restore
log  : Restoring packages for /Users/xxx/temp/hwapp/project.json...
error: The type initializer for 'Crypto' threw an exception.
error:   Unable to load DLL 'System.Security.Cryptography.Native': The specified module could not be found.
error:    (Exception from HRESULT: 0x8007007E)

## Expected  behavior

I expected to get

[2016-04-02 16:22] #2228 closed

[2016-04-02 16:28] troydai commented on #2200
/cc @muratg @Eilon @piotrpMSFT @davidfowl

Since we're in ask mode, please help me to triage this bug. The fix is straightforward: filling a default version value in place to avoid the null value in project.json. The change will be low risk as well. On the other hand @abpiskunov here can help fill in the impact of this bug.

[2016-04-02 17:05] PinpointTownes opened #2230 "dotnet build doesn't correctly handle special chars in project paths"
## Steps to reproduce

Create a new folder containing accents/special chars (e.g `I love special chars - éèàôöç`)
Run `dotnet new` to initialize a new project.
Run `dotnet restore`.
Run `dotnet run`.

## Expected  behavior

[code]

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-beta-002202)

Product Information:
 Version:     1.0.0-beta-0022

[2016-04-02 18:32] sayedihashimi opened #2231 "Error when following windows one-liner in docs"
## Steps to reproduce
Execute windows one liner found at https://github.com/dotnet/cli/blob/master/Documentation/cli-installation-scenarios.md and https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/cli-installation-scenarios.md#windows-command

## Expected  behavior
CLI to be installed

## Actual behavior
404 file not found.
The url is wrong in the docs. It's pointing to `dotnet-install.ps

[2016-04-02 19:56] emgarten commented on #2193
@slackmoehrle ``--infer-runtimes`` was added recently and does not exist in 1.0.0-beta-001598. With the build you are using it is on by default and does not need to be passed as a flag. If you upgrade to the latest beta build you will need to pass it in however.

[2016-04-02 19:59] emgarten commented on #2225
@BruceForstall there was a recent fix for this, would you try the latest build?

Your issue does not specify which version of dotnet you are using so I can't tell which version you encountered this problem on.

[2016-04-02 20:11] emgarten commented on #2154
Only the config file passed in is used. To use multiple config files add them to the directory hierarchy above the project so that they will all be picked up along with the machine wide config.
https://github.com/NuGet/Home/issues/2087

[2016-04-02 21:07] nuevoalex commented on #2154
@emgarten The bug I'm observing is that:

The config file passed in is NOT used

and

the machine wide config is not used.

Whether or not there is a local config or config files in the directory hierarchy above the project does not seem to affect those issues.

[2016-04-02 21:10] emgarten commented on #2154
Which file does this refer to then? It will use the first one it finds the project directory when using ``--config-file``?

Are you able to repro this with the latest build?

[2016-04-02 21:17] nuevoalex commented on #2154
It will find and use the config file in the directory which I am running `dotnet restore` from. I want it to find my default machine wide config as this is where all the feeds and authentication information my projects need is kept.

I am able to repro this with the latest MSI version on my work computer but not from my home computer where it correctly pulls both the project local config and the m

[2016-04-02 21:33] emgarten commented on #2154
The correct behavior for --configfile is that only that file will be used. Would you provide more repro steps to help track this down?

* dotnet --version output
* Working directory
* dotnet restore arguments passed in
* Config file paths in and above the project, project layout
* Summary output from restore containing the list of config files used

[2016-04-02 21:49] davidfowl commented on #2200
Seems fine.

[2016-04-02 21:58] xatabhk opened #2233 "Unable to load DLL 'libuv': The specified module could not be found. (Exception from HRESULT: 0x8007007E)"
## Actual behavior
Unable to load DLL 'libuv': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
![host_err](https://cloud.githubusercontent.com/assets/6814395/14229062/a63e3ca2-f95b-11e5-88a0-9f30394bc047.png)

##dotnet --info
.NET Command Line Tools (1.0.0-beta-002202)

Product Information:
 Version:     1.0.0-beta-002202
 Commit Sha:  60b23d5115

Runtime Environment:

[2016-04-02 22:18] nuevoalex commented on #2154
## dotnet --version output

.NET Command Line Tools (1.0.0-beta-001598)

Product Information:
 Version:     1.0.0-beta-001598
 Commit Sha:  7582649f88

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 Runtime Id:  win7-x64

## Working Directory

 Directory of C:\Users\achapman\Desktop\test

03/30/2016  06:04 PM    <DIR>          .
03/30/2016  06:04 PM    <DI

[2016-04-02 22:21] nuevoalex commented on #2154
FWIW my original behavior on initial dotnet CLI install was that `dotnet restore` raised an `Exception has been thrown by the target of an invocation` error.

I temporarily commented out parts of my default config which made that problem go away but have since had this problem.

[2016-04-02 22:47] svick opened #2234 "dotnet run hides empty lines from output"
## Steps to reproduce
Per dotnet/corefx#7409, use `dotnet new`, modify the code to contain:

[code]

Then run it using `dotnet run`.

## Expected  behavior
Two empty lines are shown:

[code]

## Actual behavior
No empty lines:

[code]

## Cause

This is caused by [this code in `StreamFormwarder`](https://github.com/dotnet/cli/blob/3188d0559bf8c7107ae03f5e2ffe98587045b709/src/Microsoft.DotNet.Cli.U

[2016-04-02 23:18] sayedihashimi opened #2236 "Error when installing from preview channel"
## Steps to reproduce
I'm trying to automate install from preview. I created the following script.

[code]

## Expected  behavior
Install success

## Actual behavior
Error message

[code]

It looks like the script is trying to download `https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/1.0.1.001606/dotnet-dev-win-x64.1.0.1.001606.zip` but the correct url is `https://dotnetcli.blob.core.w

[2016-04-02 23:20] sayedihashimi opened #2237 "Error in docs regarding channel names for Nightly/future"
In the channel listing at https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/cli-installation-scenarios.md#channels it mentions the following channel names.
- Nightly
- Preview
- Production

The install script at https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/obtain/install.ps1#L12 has these as:
 - future
 - preview
 - production

[2016-04-03 00:08] xasx commented on #1804
Encountering the same issue.
Couldn't find anything to uninstall though.

Had been working with dnx a while ago, but stopped.

Any hint on what to look for?

[2016-04-03 00:21] GuardRex commented on #2201
and ...

... but what are the "current runtimes" if they are not specified in `project.json`?

[2016-04-03 00:27] sayedihashimi commented on #2236
PR submitted https://github.com/dotnet/cli/pull/2239

[2016-04-03 00:48] emgarten commented on #2154
The latest version is ``1.0.0-beta-002202``. Are you able to repro the issue after updating?

[2016-04-03 01:42] nuevoalex commented on #2154
I'll try that tomorrow and update here. Thanks for the help so far!

[2016-04-03 02:24] gkhanna79 commented on #2059
@brthor any update?

[2016-04-03 06:54] blackdwarf commented on #1804
@xasx so you didn't install any versions of the .NET Core CLI prior to 1598?

[2016-04-03 14:59] karimelm commented on #2229
Installing openssl using homebrew worked for me

[2016-04-03 15:58] davidfowl opened #2241 "Random failure on ASP.NET ci machine to do with file in use"
[code]

/cc @cdmihai @livarcocc

[2016-04-03 16:06] davidfowl commented on #2241
We're running `dotnet test` in parallel. Seems like this change https://github.com/dotnet/cli/commit/f14b4cbd3d04b1846208a5f31f811adf26a6bc45 now makes it more likely to fail.

[2016-04-03 16:37] davidfowl opened #2242 "Remove imports from dotnet"
We need to see if we still need these:

https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/project.json#L67-L69

Right now they are hiding incompatibilities that should be fixed

[2016-04-03 16:38] davidfowl commented on #2242
/cc @piotrpMSFT

[2016-04-03 17:08] xasx commented on #1804
@blackdwarf in fact, my scenario is slightly different:

1. installed 1598 -- successfully
2. `dotnet restore` failing, so *uninstalled 1598* again
3. tried installing latest version, which currently is 2202

What I can see is a `C:\Program Files\dotnet\runtime\coreclr` with assemblies versioned 4.6.23704.0

:see_no_evil: ...and an entry in my Control Panel stating there's a dev version installed;

[2016-04-03 17:56] ljw1004 opened #2243 ""dotnet exec" needs to be listed in -h"
## Steps to reproduce

(1) do `dotnet -h`
(2) do `dotnet exec -h`

## Expected  behavior

(1) should list `exec` amongst the possible command
(2) should provide help about `dotnet exec`

## Actual behavior

(1) it doesn't
(2) it doesn't

## Environment data
`dotnet --info` output:

[code]

[2016-04-03 18:11] davidfowl commented on #2243
What is `dotnet exec`?

[2016-04-03 18:16] davidfowl commented on #2233
Where is your web application? You probably need to make some changes for it to work on the latest cli. See the samples here https://github.com/aspnet/cli-samples

[2016-04-03 21:18] nuevoalex commented on #2154
This problem does seem to be resolved in the latest version. I'm now getting authentication errors for my private feeds but that's another issue.

Thanks!

[2016-04-03 21:18] #2154 closed

[2016-04-03 22:07] ljw1004 commented on #2243
@davidfowl exactly :)

[2016-04-03 22:44] nuevoalex opened #2245 "dotnet build fails for all frameworks besides net451"
## Steps to reproduce

`dotnet new`

modify the project.json to look like this:

`
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
  },
  "frameworks": {
        "net451" :{},
        "net35": {},
        "dnxcore50": {},
        "dotnet5.0": {},
	"netstandard1.0": {}
  }
}
`

run `dotnet restore`

run each of these:

`dotnet build --framewor

[2016-04-04 01:53] xatabhk commented on #2233
@davidfowl I made the changes I think required but they did not work. The workaround I have found is to run "dnu restore" after "dotnet restore". Here is my sample code:
[zaxitech_core_demo.zip](https://github.com/dotnet/cli/files/201658/zaxitech_core_demo.zip)

[2016-04-04 02:28] parjong opened #2246 "Is it possible not to generate pdb file?"
It seems that dotnet build always generates pdb file (even for Release configuration). Is it possible not to generate pdb file?
## Steps to reproduce

$ mkdir dotnet_sample
$ cd dotnet_sample
$ dotnet new
$ dotnet restore
$ dotnet publish -c Debug
...
$ dotnet publish -c Release
...
$ ls bin/Debug/netstandard1.5/publish
...
$ ls bin/Release/netstandard1.5/publish
...
## Expected  behavior

...
$ l

[2016-04-04 07:36] lukka commented on #2229
I really hope that macports is not the issue here, as it should be supported :) I will investigate further

[2016-04-04 10:27] mmalolepszy commented on #1988
I confirm it is fixed now on 1.0.0-beta-002202. Thanks!

[2016-04-04 11:09] mmalolepszy opened #2250 "Could not find file _._ while trying to dotnet publish"
## Steps to reproduce

- `dotnet new`
- Edit `project.json`:
[code]
- `dotnet restore`
- `dotnet publish`

## Expected  behavior

[code]

## Actual behavior

`Could not find file 'C:\Users\<my-user>\.nuget\packages\runtime.win7-x64.Microsoft.NETCore.DotNetHost\1.0.0-rc2-00001\runtimes\win7-x64\native\_._'.`

## Environment data
`dotnet --info` output:

[code]

## Additional info
- Publish succeede

[2016-04-04 12:14] Fodsuk commented on #1368
same issue when installing the net dotnet cli (version 1.0.0-beta-001598) and running 'dotnet build' on the MVC samples (e.g. TagHelperSample.Web).

(message appears twice).

Project Microsoft.AspNetCore.Mvc.Abstractions does not have a lock file.
Project Microsoft.AspNetCore.Mvc.Abstractions does not have a lock file.

[2016-04-04 13:37] mmalolepszy commented on #2213
@brthor I'm facing exactly the same error, but replacing my project.json with one from your PR didn't help.

[2016-04-04 14:08] carlosrfernandez commented on #2190
Same here... Right now it's a blocking issue for us. I hope it's fixed soon.

[2016-04-04 16:35] pakrym opened #2251 "Dotnet publish should not trim reference asemblies"
## Steps to reproduce
Publish a portable app with `preserveCompilationContext`

## Expected  behavior
`refs` folder contains system assemblies facades

## Actual behavior
`refs` folder does not contain system assemblies facades

https://github.com/aspnet/Mvc/issues/4398

/cc @muratg

[2016-04-04 16:49] vijayrkn opened #2252 "dotnet test needs to support filtering tests based on Traits like Owner/priority etc"
## Steps to reproduce
1. Dotnet tests in VS does not support filtering based on owner, priority etc.
2. Dotnet tests needs to support customizations using runsettings file.
## Expected  behavior

Need to support traits and runsettings.
## Actual behavior

Not supported.

Details:
Filtering based on Traits like Owner/priority etc is not currently supported. This is because of two things:
- The Proj

[2016-04-04 17:07] jocull commented on #1543
+1 happened on Windows 10 x64 (upgraded from Win 7). Fixed with C++ Redist 2015

[2016-04-04 17:20] Sridhar-MS commented on #1543
This is getting fixed in https://github.com/dotnet/cli/pull/1939.

[2016-04-04 17:50] billwert commented on #2146
The desired/expected output is that whatever contract you have with VS doesn't cause VS to show an error message stating that the compiler returned 1. It's entirely unhelpful to the developer.

The error is coming from dotnet compile-csc as shown in the text @Petermarcu and I (through @barrytang, thanks Barry!) put in the issue.

[2016-04-04 17:52] bricelam commented on #1181
Did this regress with portable app tools? I'm getting the following exception after our latest CLI update.

    Could not load file or assembly 'Remotion.Linq, Version=2.0.0.0, Culture=neutral,
    PublicKeyToken=fee00910d6e5f53b' or one of its dependencies. The system cannot find the file
    specified.

[2016-04-04 17:56] davidebbo commented on #2038
What are the repro steps? When I try to deploy https://github.com/troydai/HelloMvcKudu to a clean Azure App, it fails for me as follows, which is completely different from what's reported here:

[code]

[2016-04-04 18:01] livarcocc commented on #2245
You are missing dependencies required by the other frameworks.

Also, did you remove the dependency entry that dotnet new puts in the project.json:

"Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0-rc2-23931"
    }

[2016-04-04 18:01] #2245 closed

[2016-04-04 18:01] troydai commented on #2038
The issue won't be repo on latest commit because fixes were made to work around this issue. Try push this status: https://github.com/troydai/HelloMvcKudu/tree/5e4473fb2f2b014c8c54f9ea65ad1810cc1c703a

[2016-04-04 18:07] brthor commented on #2213
@mmalolepszy

Try this out, then try again with imports:
[code]

[2016-04-04 18:10] nuevoalex commented on #2245
I don't think this should be closed given that information.

I have no idea why I'm adding that dependency and even with it added back the other frameworks will not build.

What dependencies?

Why are those now required as explicit dependencies when the previous behavior of dnu and visual studio was to implicitly provide them?

Why does net451 magically work if I must explicitly require core libra

[2016-04-04 18:16] livarcocc opened #2254 "Refactor global settings"
The globalSettings class has one big method that does everything for it. We should refactor it to at least break it up into smaller methods.

https://github.com/dotnet/cli/pull/2227

[2016-04-04 18:18] livarcocc opened #2255 "Make sources and projects in global settings accept string as well as array"
Today, sources and projects in global settings only accept array of strings. We should make it accept strings as well to be consistent with other properties in our json files.

[2016-04-04 18:19] livarcocc opened #2256 "Remove commands from our project.json"
We still have commands in our project.json, which is something that we got from the dnx code but that the CLI does not support.

[2016-04-04 18:22] livarcocc opened #2257 "Throw an error when an invalid value for a script is passed in the project.json"
## Steps to reproduce

Modify your project.json and add a "scripts": true to it.
Try to do build or some other action that would cause the project.json to be loaded by the CLI
## Expected  behavior

This should throw an exception saying that this is an invalid project.json and point to what the error is.
## Actual behavior

It silently loads the project.json and ignores the scripts property.

[2016-04-04 18:23] schellap commented on #2115
Fixed by #2186

[2016-04-04 18:28] nuevoalex commented on #2245
I should also mention I'm using the specific example of the dotnet new project, but can repro this behavior with all of my existing real world projects.

Specifically they fail to find all of my dependencies while dnu build and visual studio builds work perfectly.

[2016-04-04 18:54] livarcocc commented on #2245
@blackdwarf Can you give pointers to where to find this information?

[2016-04-04 19:05] blackdwarf commented on #2245
@livarcocc I'm workin on the docs that explain how to change things. But, in general, this new world is different from DNX.

[2016-04-04 19:08] brthor commented on #1181
cc @joelverhagen

This did not regress but the decision was made that tool consumers need to declare the imports.
 See #2214 for an example.

[2016-04-04 19:22] anurse commented on #1707
AFAIK, we still need to convert DependencyContext to use the new API. It's using reflection right now

[2016-04-04 19:24] gkhanna79 commented on #2028
This is complete.

[2016-04-04 19:24] #2028 closed

[2016-04-04 19:25] gkhanna79 commented on #1707
Reopened based upon @anurse comment above.

[2016-04-04 19:48] muratg commented on #2071
What's the plan for RC2?  How do the tools work in RC2?

[2016-04-04 19:51] gkhanna79 commented on #2071
@davidfowl mentioned on Friday that he is working on a tool to address this. Have you chatted with him on this?

[2016-04-04 20:22] danquirk opened #2258 "Update non-ENU EULA's for telemetry policies"
In https://github.com/dotnet/cli/pull/2149 we're updating the EULA text to explain the new data collection policy. At the moment we do not have non-ENU EULA text, so all locales' copies have been replaced with the ENU copy. This item tracks getting the correct LOC'd copies back where they belong instead of the ENU copies.

[2016-04-04 20:22] cdmihai commented on #2241
Can you please include the entire stack trace for that exception?

It looks like multiple tests are building into the same output directory. Which will of course fail due to the same file being open for write (and if it does not race on the .version file, then it could race on the intermediate response or the csc response file, or the compiler outputs).

[2016-04-04 20:25] davidebbo commented on #2038
Here is what I see after deployment when manually running `dotnet.exe`. Due to some display bug it's not correctly outputting stderr, so I redirect it to a file:

    D:\home\site\repository\.dotnet>dotnet.exe 2> out.txt

Then I see the file contains:

    Usage: dotnet [--help | app.dll]

Isn't that the expected behavior when running it without parameters?

[2016-04-04 20:25] blackdwarf commented on #2071
@gkhanna79 what kind of a tool would this be? This seems to me to be an issue that would also require guidance for people writing the tools, no?

[2016-04-04 20:29] davidebbo commented on #2038
As an aside, the reason the display is messed up appears to be that it's outputting bad line endings. Specifically it seems to have this sequence at the end 0x0d 0x0d 0x0a (probably should be 0x0d 0x0a 0x0d 0x0a).

[2016-04-04 20:31] TPoise commented on #988
Advice for others having this problem:

0.  Uninstall the previous dotnet if you got it using apt-get  (`sudo apt-get remove dotnet`)
1.  Install the latest unbuntu files in order directly using **`dpkg -i`** (the files an be found on the frontpage of github.com/dotnet/cli for ubuntu).  The files coming through apt-get aren't always the latest, and I still had the problem.
2.  Create a blank new d

[2016-04-04 20:52] troydai commented on #2038
@davidebbo can you run `dotnet --info`? The problem happens when parameter is feed because this is when it needs to locate a specific version of SDK.

[2016-04-04 20:55] davidebbo commented on #2038
Seems to work fine. Do you mean that it failed for you?

[code]

[2016-04-04 20:58] livarcocc commented on #2241
In the CLI, we copy the files to a folder named after the test being run to avoid this sort of issue. Could you guys do something similar?

[2016-04-04 20:59] Ronan-Farrell commented on #2180
No longer an issue, latest installer works fine.

[2016-04-04 20:59] #2180 closed

[2016-04-04 21:03] brthor commented on #2071
This issue is larger than tools, it is true for portable apps in general.

In production we will have some form of roll forward in place (as I understand it) but with prerelease bits, portable apps can only work against the sharedfx that they target. The fact that project tools are now portable apps is the cause here.

I'd like to get thoughts on whether we be looking at solutions for tools in spe

[2016-04-04 21:05] brthor opened #2260 "Publish a zip/tar.gz which includes Pdbs"
Currently we are deleting pdbs in stage2. We should publish them separately so we don't lose symbols for any builds.

As we approach RTM we will put together a more complete story (related: #496)

This fix will:
 - Copy Stage2 to another (debugging) directory prior to deleting pdbs (it will include binaries as well)
 - Create a .tar.gz/.zip with this directory
 - Publish this .tar.gz/.zip to Azure

[2016-04-04 21:08] blackdwarf commented on #2071
Hm, that's true. But with portable apps, isn't the statement that you've made a very deliberate call on what you depend on?

[2016-04-04 21:09] brthor commented on #496
Created an issue for the RC2 specific plan here: https://github.com/dotnet/cli/issues/2260

As we come to a more complete plan I think we should update this issue, and track the specific work in it's own issue.

[2016-04-04 21:11] muratg commented on #2200
Looks fine to me too. Email @Eilon and @DamianEdwards for RC2 approval.

[2016-04-04 21:13] #2121 closed

[2016-04-04 21:15] muratg commented on #2071
We will either need a guidance doc for tool writers, or enable roll-forward now. Otherwise experience will be really bad. RC2 users will need to have matching CLI versions everywhere (command line, VS, CI, ...)

[2016-04-04 21:21] gkhanna79 commented on #2071
This is correct.

@davidfowl Can you please share the details of the tool you were referring to on Friday?

@muratg Can you please elaborate? Are you suggesting that developers using RC2 final bits will update their dependencies to depend upon a pre-release build? Is this going to happen in a production usage of the tool?

[2016-04-04 21:21] GuardRex opened #2261 "Installer is not removing prior installs of dotnet cli"
![capture](https://cloud.githubusercontent.com/assets/1622880/14263588/f755e240-fa80-11e5-91fb-04808d169490.PNG)

I think I asked about this elsewhere and was told this is "Ok," but is that really correct? Shouldn't these prior versions be removed as we go along with `rel/1.0.0` installers?

[2016-04-04 21:22] blackdwarf commented on #2071
@muratg for the guidance, I will be writing that regardless. But @gkhanna79 has a good point above: for RC2, you should only depend on the version of the NETCore.App that is RC2, right? Why would you depend on before or after if you want to run on RC2?

[2016-04-04 21:22] troydai commented on #2038
Let me reurn my scenario. It may be fixed since last week. @schellap and I were looking at this last Thursday.

[2016-04-04 21:27] troydai commented on #2038
Looks like this is fixed here: https://github.com/dotnet/cli/commit/29b567db3fe368d2c5be12d0dba7be473f9a584b

Close. Thank for the help @davidebbo .

[2016-04-04 21:27] #2038 closed

[2016-04-04 21:27] muratg commented on #2071
@blackdwarf We'll be rolling newer versions between RC2 and RTM.  Don't we want to keep RC2 users be able to update the CLI so that they can use newer bits?

I feel like the current design is too restrictive. Ideally risk of breaking due to roll-forward is more acceptable than forcing folks to use exact versions.

[2016-04-04 21:44] gkhanna79 commented on #2071
Are you referring to releasing new builds of SharedFX and targeting them? If so, then yes, they will be published but the developer would need to take an explicit action to update their component to target it. Rolling forward to from a production (RC2 final) to pre-release may not be a good idea as pre-release builds could have bugs/breaks, which violate invariants associated with production scena

[2016-04-04 21:46] schellap commented on #2038
@troydai I am not sure what the fix is?
Why are you using `corehost.exe` to activate `dotnet.dll` instead of the muxer?

`DOTNET_HOSTING_OPTIMIZATION_CACHE` is the new name for `DOTNET_PACKAGES_CACHE`. That is part of the above commit. Are you sure this is fixed and this change is not interfering with your repro?

[2016-04-04 21:49] schellap commented on #2038
@glennc, I cc'ed you on the PR, but just confirming about the name change -- `DOTNET_HOSTING_OPTIMIZATION_CACHE` Cc @davidfowl

[2016-04-04 21:53] BruceForstall commented on #2225
@emgarten Here's the --info output:

.NET Command Line Tools (1.0.0-beta-002198)

Product Information:
 Version:     1.0.0-beta-002198
 Commit Sha:  813049dabe

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.10
 OS Platform: Darwin
 RID:         osx.10.10-x64

Was the fix after this?

[2016-04-04 21:57] troydai commented on #2038
If not this PR then something else is fixing this bug. I tested executing muxer directly just now on 2203 build and the original issue doesn't repo.

[2016-04-04 21:58] bricelam commented on #1181
Oh that's right. Sorry, I forgot.

[2016-04-04 21:58] #1181 closed

[2016-04-04 22:02] victorhurdugaci commented on #1181
@brthor can you give more details about that reasoning behind that decision? I'm just curious why the app needs to know about the import statement that tools need. Also, I'm curious if a `dotnet451` only app could use `netstandardapp1.5` only tool.

[2016-04-04 22:10] livarcocc opened #2262 "dotnet-test fails to find system when portable-net45+win8 is before dnxcore50 in the imports statement"
## Steps to reproduce
Create a simple test project and have your project json like below. Note the portable import before dnxcore50.

[code]
do a dotnet restore --infer-runtimes
do a dotnet test

## Expected  behavior
Tests run successfully

## Actual behavior
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System, Version=2.0.5.0, Culture=neutral, PublicKeyT

[2016-04-04 22:15] brthor commented on #1181
@victorhurdugaci, @emgarten could give the best reasoning here. The basis of the decision was that imports are non ideal in the nuget world.

Project Tools ("tools" node) are completely independent apps from the consuming project, so the target framework of the consuming app should have no effect on whether you can run a specific tool (Project Dependencies tool are a different story here).

[2016-04-04 22:21] GuardRex opened #2263 "Installer at http://dotnet.github.io/ is bringing down dotnet cli -1598"
The MSI link at http://dotnet.github.io/getting-started/
![capture](https://cloud.githubusercontent.com/assets/1622880/14265843/7f3901b2-fa89-11e5-81db-544119f44199.PNG)
Is bringing down `dotnet-win-x64.1.0.0.001598.exe`, which is rather old (by nightly bits standards). A few folks have run into this and come to JabbR for help, and we re-direct them to the GH repo for `rel/1.0.0` current nightly M

[2016-04-04 22:24] anurse commented on #1707
This should go in RTM though, since it's not blocking a user scenario. /cc @piotrpMSFT @blackdwarf

[2016-04-04 22:52] muratg commented on #2071
@gkhanna79 Right now it's really hard for us to have a matching set of ASP.NET Core tools and VS tooling (WTE).  They have to have the exact build of CLI.  Which means folks will have a lot of trouble when they run tools with newer runtime (till we ship RC2) or newer tooling (as we get daily WTE builds.) It's not technically "blocking" the release, but it's making day to day work really hard for a

[2016-04-04 22:57] livarcocc commented on #2262
Closing this one in favor of this https://github.com/NuGet/Home/issues/2453.

[2016-04-04 22:57] #2262 closed

[2016-04-04 23:04] jeffschwMSFT opened #2265 "dotnet publish standalone without a runtime or framework publishes something (but it is incomplete)"
## Steps to reproduce

dotnet new
edit project.json (remove "type": "platform" from Microsoft.NETCore.App"
dotnet publish
## Expected  behavior

It would be great if this 'just worked' but I guess I would expect this to error and say the app needs a "runtimes" declaration and -r and -f need to be specified at publish time.
## Actual behavior

bin/Debug/netstandard1.5/publish contains some but not

[2016-04-04 23:15] emgarten commented on #1181
@victorhurdugaci tools are restored for the target framework they are going to run under, the process that runs tools for dotnet will use ``netstandardapp1.5``. This isn't in the project.json file because it cannot be changed.

Imports is considered a workaround to allow packages that haven't updated to netstandard yet. It needs to be added to project.json so that users opt into this instead of ge

[2016-04-04 23:16] emgarten commented on #2225
There are some fixes that went in after that, I believe in 1.0.0-beta-002202.

[2016-04-04 23:22] naamunds opened #2266 "Triggering of DockerHub builds should be explicitly dependent on publishing of installer files"
Now that there are separate build targets for the publishing of the CLI installer files, the build target for trigger DockerHub builds should be explicitly dependent on these build targets.

I believe this change would only have a functional effect if the publishing of the installer files is skipped.  With the current behavior, if the publishing of the installer files succeeds, then the DockerHub

[2016-04-04 23:34] pakrym opened #2267 "`Failed to bind to coreclr` dotnet run failure on Windows 7 and Windows 2008 R2"
## Steps to reproduce
`dotnet run` standalone app on Windows 7 or Windows 2008 R2

## Expected  behavior
Application runs

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
`
1.0.0-beta-002202
`
@piotrpMSFT @Petermarcu @davidfowl @muratg @anurse  @schellap

[2016-04-04 23:46] cheers00 commented on #496
Will there be any support to build CoreCLR\CoreFX locally and use both binaries and symbols in .Net CLI?

[2016-04-05 00:02] schellap commented on #2267
On min OSes coreclr needs `api-*` dlls to be sxs `coreclr.dll` or windows `PATH` for `LoadLibraryExW` is setup correctly to point to the directories containing these api forwarder DLLs. Since `dotnet build` runs against the nuget cache, these api-forwarders are part of another directory. Though a bit ugly, it seems the fix would be to expand the DLL search paths to include the nuget cache native d

[2016-04-05 03:17] nattress opened #2270 ""dotnet restore" fails when local package folder is not present"
## Steps to reproduce

- dotnet new
- Remove your packages cache. On Linux where I have observed this, I removed ~/.nuget/packages to simulate a clean machine building for the first time.
- dotnet restore

## Expected  behavior
Package cache is silently created

## Actual behavior
log  : Restoring packages for /home/simonn/Documents/repro/project.json...
error: Failed to retrieve information from

[2016-04-05 03:50] piotrpMSFT commented on #2270
@emgarten

[2016-04-05 03:53] piotrpMSFT commented on #2263
This is the right version at the moment. CLI took on significant changes in the past few weeks and they've not yet stabilized throughout the system. We locked back to an earlier build to minimize confusion for folks learning about CLI @//build/

@blackdwarf

[2016-04-05 03:53] #2263 closed

[2016-04-05 03:59] piotrpMSFT commented on #2261
This is by-design.

A core outcome of the Shared Framework work is that we want the Shared Framework and CLI to update in-place as infrequently as possible. When we ship 1.0.0 and then 1.0.1 these will both install side-by-side with one-another. This enables folks to continue running against their original dependencies instead of being broken irreparably by updates.

Given that this is a very new

[2016-04-05 03:59] #2261 closed

[2016-04-05 04:07] GuardRex commented on #2261
That's cool, but there will be standalone people, and a checkbox in the installer to "Remove prior installs" will save a bunch of trips to `Programs and Features` to get rid of the old ones for us standalone folks.

That could have been put into place even during this period for RC2-nightly people, like me. Installing these is a daily thing; and as you can see by my screenshot, I have to go in the

[2016-04-05 04:09] piotrpMSFT commented on #2257
@anurse @pakrym

The existing ProjectModel implementation, to which @livarcocc added test as part of another change, is fairly inconsistent in its handling of JSON. In particular, when dealing with unexpected values. Some examples:

* When string arrays are expected, some properties are allowed to have only string [] values. Other properties accept string values as well, treating them as single-el

[2016-04-05 04:10] piotrpMSFT commented on #2256
@anurse @pakrym any concerns?

[2016-04-05 04:11] pakrym commented on #2257
There also is https://github.com/dotnet/cli/pull/2248 work, I think we should finish that spec and base all changes on it.

[2016-04-05 04:22] piotrpMSFT commented on #2252
This needs design work on the CLI side. We need to make sure that the design here allows for discovery of traits from arbitrary test frameworks for consumption by arbitrary IDEs.

It's not clear to me that dotnet-test should have knowledge of runsettings. This seems like a file that should be understood by VS Tooling for CLI but not the CLI directly. It won't be scalable for `dotnet-test` to under

[2016-04-05 04:23] piotrpMSFT commented on #2250
@schellap looks like a host packaging issue

[2016-04-05 04:26] piotrpMSFT commented on #2246
@jaredpar @gregg-miskelly @blackdwarf it would be good to get your thoughts here.

I understand the Release configuration to generate valid and useful PDBs. If these are not desirable for a particular distribution scenario then they can be cleaned out post-publish. What do you think? Have we started dropping PDBs for Release configurations?

[2016-04-05 04:28] piotrpMSFT commented on #2243
/cc @blackdwarf @schellap @gkhanna79

`dotnet-exec` should be an implementation detail of other commands like `dotnet run`. I don't see a need to advertise it directly nor to drive folks towards its usage. Why do you feel that the value of this command to an end-user is worth the concept count?

[2016-04-05 04:37] gkhanna79 commented on #2243
I concur with @piotrpmsft. Exec is an internal implementation detail and not a formal command.

There should not be a need to doc it.

[2016-04-05 04:48] parjong commented on #2246
@piotrpMSFT

The approach that you mentioned is the first approach that I considered, but I can't use that approach since there is a difference in outcome itself. The following showed the comparision result:
$ ls -al bin/*/netstandard1.5/*.dll
-rwxrw---- 1 parjong parjong 5120 Apr  4 11:37 bin/Debug/netstandard1.5/csharp_benchmark.dll
-rwxrw---- 1 parjong parjong 4608 Apr  4 11:48 bin/Distribute/n

[2016-04-05 04:50] blackdwarf commented on #2243
Agreed with @gkhanna79 and @piotrpMSFT. `dotnet run` is something that should be used.

[2016-04-05 04:52] pakrym commented on #2256
No

[2016-04-05 04:54] blackdwarf commented on #2257
@piotrpMSFT what will be the breaking changes?

[2016-04-05 05:15] piotrpMSFT commented on #2071
@muratg

If this is true then we have an implementation bug. Installing a newer CLI should not remove an older shared framework. This means that as folks upgrade their CLI to keep up with tooling they are getting more versions but scenarios that worked yesterday should continue working today. The only case in which someone becomes broken is when they have not yet installed the Shared Framework to

[2016-04-05 06:04] emgarten commented on #2270
@nattress This was fixed last week, would you try the latest build?

[2016-04-05 07:08] ajaykalarickal opened #2273 "dotnet-compile --native getting failed in windows"
## Steps to reproduce
dotnet-compile --native` failing when using x64 native command prompt

## Expected  behavior
The expected is to get exe file. Even dotnet publish isn't working fully as I'm only getting dll, pdb files. Exe is not getting published.

## Actual behavior
[code]

[2016-04-05 07:52] piotrpMSFT commented on #2143
@eerhardt can you take a look? We need to close on a design. Ask @brthor  to send you context.

[2016-04-05 07:59] mmalolepszy commented on #2213
@brthor Cleaning packages and nuget cache helped. Thanks.

[2016-04-05 12:33] joshcomley commented on #2233
I just got this error. I had run a `dotnet restore`. I then deleted the `project.lock.json` and let Visual Studio do the restore again (which I assume is `dnu restore` until the tooling is updated) and it fixed it. I backed up my old lock file to compare to the new one, and it's massively different (old from `dotnet restore` is 271KB, whereas new is 444KB).

[2016-04-05 13:41] davidfowl commented on #2233
Yea that's not right. You can't use dotnet and visual studio together yet. So either stick to DNX or wait for the dotnet tooling

[2016-04-05 15:46] muratg commented on #2071
@piotrpMSFT We build our tools (dotnet-publish-iis, dotnet-watch, ...) in our CI.  To be able to run those tools locally, VS/WTE on the local box needs to have a matching version of the CLI with the one on the CI.

[2016-04-05 15:49] ljw1004 commented on #2243
@piotrpMSFT I don't think the value is worth the concept count. I have a different take. It gives me the willies that the tools I depend upon have secret undocumented switches and functionality. I've never seen this in any other tool I use and don't know why dotnet deserves to be the first.

[2016-04-05 15:54] GuardRex commented on #2265
Side Note on "-r and -f need to be specified at publish time": I'm working with standalone apps, and my testing indicates that publish will default to the RID you specify in `project.json` if the switch isn't present. I also don't need to specify the `-f` at publish if I only have one TFM (in my case `netcoreapp1.0`) ... seems to pick that up ok as well.

[2016-04-05 15:55] #2251 closed

[2016-04-05 15:56] jeffschwMSFT opened #2276 "Publish standalone on Mac for Win10, fails to run on Win10 with "invalid .deps file""
Likely related to #2141
## Steps to reproduce

Publish a standalone app on Mac for Win10-x64
- dotnet new
- "replace project.json with attached"
- dotnet restore
- dotnet publish -r "win10-x64" -f "netstandardapp1.5"

Deploy to Win10-x64

dotnet stalone.dll
## Expected  behavior

Runs
## Actual behavior

Fails with "invalid .deps file"
(A side note, without symbols for hostpolicy.dll, it is nearly

[2016-04-05 15:59] gkhanna79 commented on #2243
@ljw1004 This is no different from universal host depending upon the layout of deps.json, as an example, which is an internal implementation detail.

[2016-04-05 16:46] ljw1004 commented on #2243
@gkhanna79 you're making this sound worse not better :)

[2016-04-05 16:50] joshfree opened #2277 "Add libuv to the Microsoft.NETCore.App redist"
Moved from https://github.com/dotnet/corefx/issues/7481 on behalf of @davidfowl

David let us know when you have the libuv package created so we can chain it into the redist

[2016-04-05 16:55] piotrpMSFT commented on #1758
@andschwa you should not be using build output outside of the development pipeline. I'm not sure what it means to move from publish to build, then...

[2016-04-05 16:59] piotrpMSFT commented on #1827
Is this still an issue? If so, I expect the issue is the dependency to NetStandard.Library. Tools in the test directory depend on

[code]

[2016-04-05 16:59] andschwa commented on #1758
We were previously depending on publish for development builds because we needed a flat list of all dependencies to run anything. That's been fixed so we can use build (and even run) during development.

The only problem is that we still need to copy some runtime dependent native libraries that are built outside of CLI to the same location as the host. We're using content to do this until a better

[2016-04-05 17:04] anurse commented on #2256
Sounds good. Better to remove it to avoid confusion :)

[2016-04-05 17:04] anurse commented on #2256
Update the schema here when this is done: https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/project.json

[2016-04-05 17:06] anurse commented on #218
Definitely not happening for RC2, nor do I think it's the right approach any more. Closing.

[2016-04-05 17:06] #218 closed

[2016-04-05 17:13] natemcmaster opened #2278 "dotnet-test does not find dotnet-test-xunit executable"
## Steps to reproduce

[code]

[code]

Attached full repro project and lock file.
[sni-test.zip](https://github.com/dotnet/cli/files/204959/sni-test.zip)

`dotnet restore`
`dotnet test`
## Expected  behavior

Execute the one test in the project.
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[code]

Happens on osx.10.11-x64 too.

This seems odd. Am I missing something obv

[2016-04-05 17:16] piotrpMSFT commented on #1707
Sounds good @anurse. Looking forward to the PR.

[2016-04-05 17:17] DamianEdwards commented on #1758
There will be settings in `"compilationOptions"` to allow the copying of files during compilation/build.

[2016-04-05 17:17] #2070 closed

[2016-04-05 17:18] piotrpMSFT commented on #2071
Only a matching version of the Shared Framework. If that's broken, please let us know ASAP.

[2016-04-05 17:24] andschwa commented on #1758
Exactly. I'm just trying to say that we need the settings in compilationOptions before the changes in this issue are integrated, please :smile:.

Also, will those settings be able to be applied on a per runtime basis? That would be awesome. Right now we use a wildcard that fortunately does not fail if there are no matches to deal with our three cases: no library, .so, and .dylib.

[2016-04-05 17:28] troydai commented on #1993
@BillHiebert did you see this anymore?

[2016-04-05 17:28] Eilon commented on #2071
The problem is that a machine will have a *tool* that was *built* with "yesterday's" CLI/shared framework, but try to run against "today's" CLI/shared framework.

And that's the problem here: tools are built only rarely (e.g. only when there's a bug fix), but apps likely want to use the most recent CLI/shared framework. The machine won't have the "old" CLI/shared framework installed.

How can an a

[2016-04-05 17:29] #1993 closed

[2016-04-05 17:30] troydai commented on #1993
Talked with @BillHiebert. We didn't see this issue for awhile.

[2016-04-05 17:31] troydai commented on #2200
Fixed in cb14076b38a59c30176b887d0a0fb1318a58c54e

[2016-04-05 17:31] #2200 closed

[2016-04-05 17:32] piotrpMSFT commented on #2071
These are disjoint scenarios, right? The tool is restored and executed independently of the app. If the right shared framework is on the box the tool will run against its version while the app will run against its version. The CLI itself can run against a third version, for completeness sake.

Tools are just portable applications so this is actually exercising the mainline scenario of enabling dis

[2016-04-05 17:33] anurse commented on #467
@pakrym can you make sure these are pulled from the lock file through to the deps file?

[2016-04-05 17:34] shirhatti opened #2279 "Unable to run assembly from the directory containing it"
I am unable to run the published dll from within the directory containing it. However, it works fine if I specify an absolute path to my .dll or any relative path that involves a directory walk.

## Steps to reproduce
[code]
## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2016-04-05 17:52] Eilon commented on #2071
I think the problem is that "the right shared framework" isn't on the box, and there's also no way to know which version to install, even if that was the right fix.

E.g. my project uses the tool `dotnet-frob`, which has its most recent build that was built against CLI/shared framework 1234. But my project happens to use CLI/shared framework 6789. So I need to have CLI 1234 *and* 6789 installed. A

[2016-04-05 17:57] piotrpMSFT commented on #2279
@schellap can you take a look?

[2016-04-05 17:57] piotrpMSFT commented on #2279
@shirhatti is this app shared or standalone?

[2016-04-05 17:58] piotrpMSFT commented on #2277
@weshaggard what are your thoughts?

[2016-04-05 17:58] brthor commented on #2279
If this is a portable app this behavior would be expected, please share project.json

[2016-04-05 17:58] piotrpMSFT commented on #2278
restore with --infer-runtimes to get unblocked. @livarcocc was taking a look into root caus.

[2016-04-05 18:00] NTaylorMullen commented on #2071
This is assuming folks continually do in-place upgrades and more importantly have been along for the ride from the start. Without auto-rollforward support here I'd imagine you'd need to have every CLI install every shared framework that was previously released to ensure compatibility for first-time users. What about CI's? Do they install the whole shared framework world every time?

Having a singl

[2016-04-05 18:16] jeffschwMSFT opened #2281 "Dotnet restore for helloworld app pulls down >600 meg"
## Steps to reproduce
rm ~/.nugget (or clean machine)
dotnet new
dotnet restore

## Expected  behavior
The default new console app is sharedfx and should not need anything restored

## Actual behavior
600+ meg of nuget packages are restored

## Environment data
`dotnet --info` output:
1.0.0-beta-002215

[2016-04-05 18:41] davidfowl commented on #2279
Not it's not. It should work no matter what the working directory is.

[2016-04-05 18:46] brthor commented on #2279
@davidfowl you are right, not sure why I was thinking that. HostPolicy should get picked up from the sharedfx.

Seems like the most likely thing here is that there is no runtimeconfig.json, or it's an unpublished standalone app (which should be run with `dotnet run`)

[2016-04-05 19:13] #2260 closed

[2016-04-05 19:16] brthor commented on #2279
tried to do a quick repro and found it successful with a PortableApp

[code]

[2016-04-05 19:20] ericstj commented on #1433
I just hit this when trying out on a clean WS2008R2 machine.  I was able to examine a procmon trace and found that the problem has to do with the dependencies of `Microsoft.DiaSymReader.Native.amd64.dll`.  It looks like this native binary was built against VC++ 14.  That should not be a pre-requisite of dotnet CLI AFAIK.  For other components we specifically build them against the OS CRT to avoid

[2016-04-05 19:21] ellismg commented on #1907
Fixed with #1939

[2016-04-05 19:21] #1907 closed

[2016-04-05 19:22] shirhatti commented on #2279
`dotnet foo.dll` doesn't work, but `dotnet ./foo.dll` does work.

[2016-04-05 19:25] ellismg commented on #1433
@gkhanna79 who wanted the chaining to be done.

[2016-04-05 19:26] livarcocc opened #2285 "TestInstance can lead to conflicts when two tests have the same name"
## Steps to reproduce

Create two test projects in with the same name but in different classes in the same test project.
Run the tests multiple times
## Expected  behavior

No issues, all tests pass
## Actual behavior

Because the TestInstance uses the test name as the folder name for the test assets for that tests, one test will stomp on the other and sometimes that will cause a failure, because

[2016-04-05 19:34] jaredpar commented on #1433
Is there a reason we just don't reference the DiaSymreader NuGet in the CLI?

[2016-04-05 19:49] Petermarcu commented on #2281
We have to decide whether we install a nuget cache with the CLI or not. We're planning on having tools like VS and VS Code have the option of installing a cache.

[2016-04-05 19:51] tmat commented on #1433
@jaredpar That won't solve the dependency on VS++14. Microsoft.DiaSymReader.Native.amd64.dll is build from WinCComp branch.

[2016-04-05 19:55] ericstj commented on #1433
CLI is picking up the nuget package: https://github.com/dotnet/cli/blob/rel/1.0.0/src/compilers/project.json#L13

You need a new version of that package with a DLL built against the OS CRT (msvcrt.dll).  We do this already for native components in CoreFx.  Regardless of where you build it from you should be able to set up the toolset to compile against the OS CRT.

[2016-04-05 20:28] tmat commented on #1433
Tracked by internal bug 209522

[2016-04-05 20:35] bricelam commented on #1181
BTW, I've mitigated EF's need to use imports for tools in aspnet/EntityFramework#4977 by removing nearly all of our tool's dependencies.

[2016-04-05 20:44] weshaggard commented on #2277
I think we are landing on adding this but I suspect it will be post-RC2 so the RTM milestone looks correct. We of course do need the packages before we can actually do this. @davidfowl is there another issue somewhere tracking the creation of the libuv packages?

[2016-04-05 21:05] natemcmaster commented on #2278
Aha. So, is there going to be a warning when cli/nuget aretrying to produce a standalone app and no runtimes are specified?

[2016-04-05 21:07] nattress commented on #2270
Yep, that did the trick. Thanks!

[2016-04-05 21:07] #2270 closed

[2016-04-05 21:10] kyschouv commented on #585
Any chance this could be added to the schema?

http://json.schemastore.org/project

[2016-04-05 21:10] cdmihai commented on #1758
Doesn't this make it ambiguous what compilationOptions means? Is it compiler specific, or build specific? I would keep compilationOptions for only controlling the compiler, and then introduce flags into build for controlling build,so build could have a `--do-not-make-runnable` flag. Otherwise it gets ambiguous on when should something be in compilerOptions, and when should it be a verb flag.

In a

[2016-04-05 21:12] muratg commented on #585
@kyschouv https://github.com/dotnet/cli/issues/933

[2016-04-05 21:24] Eilon commented on #2126
@piotrpMSFT do you have an update on this issue? This is critical for RC2 tooling.

[2016-04-05 21:29] Sridhar-MS commented on #2126
I am picking up this now..

[2016-04-05 21:33] russellhadley opened #2286 "dotnet run of subproject not getting commandline args"
Assumes an app (I'm running standalone) that takes arguments, one of which is '--help'

## Steps to reproduce

dotnet publish .\src\subproj
dotnet run -p .\src\subproj --help

## Expected  behavior

'--help' argument passed to the commandline app being run.

## Actual behavior

'--help' is parsed and passed to dotnet itself.

## Environment data
`dotnet --info` output:

 14:32:26 > dotnet --info
.

[2016-04-05 21:37] piotrpMSFT commented on #1758
@davidfowl what release are you targeting for this change?

[2016-04-05 21:37] russellhadley commented on #2286
@blackdwarf Here's the issue I was seeing.

[2016-04-05 21:40] piotrpMSFT commented on #2278
The standalone app story is in need of a terrible amount of love before rtm.

[2016-04-05 21:46] piotrpMSFT commented on #2202
Eta?

[2016-04-05 21:55] piotrpMSFT commented on #2073
Moving to rtm.

[2016-04-05 21:56] piotrpMSFT commented on #1743
Is this going to make rc2?

[2016-04-05 21:57] #1596 closed

[2016-04-05 22:00] gkhanna79 opened #2287 "Remove APISet path setting for DLL SearchPath"
We wouldn't need it for RTM since we will ship from open and link against traditional imports.

We will need to coordinate this, though, we publishing from the open.

[2016-04-05 22:07] brthor commented on #2202
This is in PR

[2016-04-05 22:07] brthor commented on #2202
Awaiting approval from Shiproom

[2016-04-05 22:08] brthor commented on #2202
https://github.com/dotnet/cli/pull/2215

Been there since friday, waiting on approval

[2016-04-05 22:08] saurabh500 commented on #2287
@gkhanna79 Is this issue related to the corefx bug https://github.com/dotnet/corefx/issues/7518 ?

[2016-04-05 22:11] jaredpar commented on #1743
@piotrpMSFT it can't make it unless #1735 is fixed which it doesn't appear to be.

[2016-04-05 22:16] piotrpMSFT opened #2288 "Update rel/1.0.0 suffix to rc2 f"
## Steps to reproduce
Examine CLI version number

## Expected  behavior
1.0.0-rc2-*

## Actual behavior
1.0.0-beta-*

## Environment data
`dotnet --info` output:

[2016-04-05 22:17] dleeapho commented on #2286
Have you tried escaping the args to the app with a double dash '--' :
`dotnet run -p .\src\subproj -- --help`

[2016-04-05 22:21] gkhanna79 commented on #2287
Nope, it is about removing some code that would no longer be applicable.

[2016-04-05 22:25] bricelam opened #2289 "ProjectLoadContext isn't resolving for portable apps"
I'm working on the `dotnet-ef` tool, and using the `ProjectLoadContext` to load the project's assembly. See the code that [creates the ProjectContext](https://github.com/aspnet/EntityFramework/blob/dev/src/dotnet-ef/ReflectionOperationExecutor.cs#L238). Everything appears to be working fine when I use the tool with standalone app projects, but when I switch the projects to be portable apps, I star

[2016-04-05 22:41] #2202 closed

[2016-04-05 22:47] brthor commented on #2126
I think the right fix here is to create a new command resolver which specifically works for desktop projects only. Instead of resolving out of the package cache it would take as inputs the base path and configuration for the build invocation, pass these to the output calculator, and look for the command there.

Let's call it `DesktopOutputDirectoryCommandResolver`?

Then modify the existing `Proje

[2016-04-05 23:13] russellhadley commented on #2286
@dleeapho that worked. So I guess this is more a discoverability bug.  Quick search in the engine didn't turn it up either.  Where should I expect to see this documented?

[2016-04-05 23:25] blackdwarf commented on #2286
@russellhadley that is a good question, even I didn't know about this. @dleeapho how did you discover this and what are the semantics?

[2016-04-05 23:45] natemcmaster opened #2291 "dotnet-test: standalone apps cannot resolve BCL libraries on OS X El Capitan"
I have only been able to reproduce this on OS X 10.11. Doesn't reproduce on Windows or OS X 10.10.
## Steps to reproduce
1. `dotnet new`
2. Add xunit and dotnet-test-xunit.
3. Change to standalone.
4. `dotnet restore` or `dotnet restore --infer-runtimes`. Bug happens with either.

[code]

Here is my project lock so you can get the same versions: [project.lock.json](https://gist.github.com/natemcma

[2016-04-05 23:53] natemcmaster commented on #2278
@piotrpMSFT this reproduces in portable apps too, by the way.

[2016-04-06 00:01] muratg commented on #2277
https://github.com/aspnet/KestrelHttpServer/issues/730

[2016-04-06 00:29] livarcocc commented on #2291
@ericstj @piotrpMSFT This is the issue that I was talking to you guys about earlier today.

cc @Sridhar-MS Who has encountered this also.

[2016-04-06 00:33] brthor commented on #2291
@natemcmaster Your app has no dependency on `Microsoft.NETCore.App`, where is the framework expected to come from?

[2016-04-06 00:48] livarcocc commented on #2291
@brthor Even with that, I still saw the System.Reflection.Extensions issue repro.

[2016-04-06 00:55] brthor commented on #2291
Ah alright. Maybe if the app is standalone it expects things app local?

@schellap does `corehost` know how to use --additionalprobingpath for standalone apps?

[2016-04-06 00:56] gregg-miskelly commented on #2246
I don't see any problem with adding a compilation option to disable PDB generation. I don't think it should be the default behavior.

[2016-04-06 01:00] pranavkm opened #2292 "Should LockFileReader use Newtonsoft.Json for parsing?"
It's currently using the Json parser from DNX. The plan is to stop maintaining DNX going forward which would require moving that code elsewhere where it can be maintained. The alternative is to use Newtonsoft.Json which is already used in ProjectModel.

[2016-04-06 01:02] brthor commented on #2292
With this: https://github.com/dotnet/cli/pull/1972

Will this concern go away?

[2016-04-06 01:03] pranavkm commented on #2292
Yup, looks like it.

[2016-04-06 01:37] piotrpMSFT commented on #2278
Livar took a look today. Looks like we will need to make a breaking change in dotnet test to fix this. Will do post-RC.

[2016-04-06 01:50] brthor opened #2293 "PackageUpload.json for Debian packages has the same name for all packages"
The packageUpload.json we are uploading to the azure feed server has the same packageName for the host, sharedfx, and cli packages.

This has no impact to our products or feed observable behavior but makes tidying up the feed fairly difficult.

[2016-04-06 02:06] brthor opened #2295 "Dev Packages are overriding Beta packages on the Debian Feed"
apt-cache policy dotnet-host

[code]

cc @krwq @Sridhar-MS  Additional work needs to be done for master to publish these packages properly. Going to disable deb publishing from master for the moment.

[2016-04-06 04:08] pakrym commented on #2292
Wait, we stopped using dnx parser in https://github.com/dotnet/cli/commit/f665c28173ba2eea43c074f61f113882b88edc66

[2016-04-06 05:11] pranavkm commented on #2292
@pakrym - these types are from DNX's Json parser - https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/Graph/LockFileReader.cs#L42

[2016-04-06 05:12] pakrym commented on #2292
Oh, lock file, my bad, yes then that pr should solve it but it's stale and won't go into RC2.

[2016-04-06 06:40] Petermarcu commented on #2281
We should also look at what is in the 600MB. A large chunk is likely XML intellisense files.

[2016-04-06 07:37] 717009629 opened #2299 "dotnet build -n can't work on win10"
## Steps to reproduce
C:\Users\71700\dotnet>dotnet build -n
Compiling dotnet for .NETStandard,Version=v1.5

Compilation succeeded.
    0 Warning(s)
    0 Error(s)

Time elapsed 00:00:05.1366594
Input Assembly: C:\Users\71700\dotnet\bin\Debug\netstandard1.5\dotnet.dll
Could not find a part of the path 'C:\Program Files\dotnet\sdk\1.0.0-beta-002244\sdk'.

## Environment data
`dotnet --info` output:

[2016-04-06 14:19] jaredpar commented on #2246
Enabling this requires a small change to this line:

https://github.com/dotnet/cli/blob/ac4c6702d5d345dc9c397f80290f105fedebe98b/src/dotnet/commands/dotnet-compile-csc/Program.cs#L224

At a glance I should have just coded that as something closer to:

[code]

Then we could support this via the following option in project.json

[code]

[2016-04-06 14:24] alexbfr commented on #2189
Same problem here:

[code]

`uname -a:`
`Linux redrock 3.13.0-45-generic #74-Ubuntu SMP Tue Jan 13 19:36:28 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

`curl apt-mo.trafficmanager.net --head`
[code]

[2016-04-06 14:36] MarkStega opened #2302 "dnvm update to 1.0.0-rc1-update2 caused strange behavior in a VS2015 xproj"
## Steps to reproduce

1) Use dnvm to update to 1.0.0-rc1-update2 (all architectures and runtimes)

2) Remove the old 1.0.0-rc1-update1 (all architectures and runtimes)

3) Open a VS2015 project that contains an xproj that has references of the form "Microsoft.AspNet.IISPlatformHandler": "1.0.0-rc1-final"

## Expected  behavior

1) Nothing should happen as the most recent semantic version of the e

[2016-04-06 15:14] blackdwarf commented on #2203
@brthor this is an interesting problem. The main interest here is that docs can diverge between versions. I'm almost tempted to have a single man page that points to an online resource where stuff can be done in a more creative way.

[2016-04-06 15:15] blackdwarf commented on #2199
So let's say that this is the message we want:

Who should change the message?

[2016-04-06 15:19] blackdwarf commented on #1837
I believe this is now done via #2147 . Will close this one, reopen if the referenced PR did not solve this issue.

[2016-04-06 15:19] #1837 closed

[2016-04-06 15:24] dleeapho commented on #2286
Somewhat ironically, `dotnet run --help`
[code]

[2016-04-06 15:26] blackdwarf commented on #1760
This is now in motion. The relevant PR is dotnet/core-docs#391 and it has many of these.

[2016-04-06 15:30] blackdwarf commented on #1543
Reassigning this to @ellismg because he is working on the PR.

[2016-04-06 15:34] blackdwarf commented on #1446
This is now in PR: #1923 . Some comments on those would be welcome.

[2016-04-06 15:38] blackdwarf commented on #1351
@piotrpMSFT what do you think? We would essentially have stable links (aka.ms) for all commands and then each help would point to that link at the end. Let's take `dotnet build` as an example. This is the current `--help` output:

[code]
It becomes this:

[code]

Thoughts?

[2016-04-06 15:40] jeffschwMSFT commented on #2281
What is the scenario to cache anything?  Is it not preferable to pull down what you need and no more?

[2016-04-06 15:40] blackdwarf commented on #2286
So we need to document this in the help as well as in the docs.

[2016-04-06 15:53] MichaelSimons commented on #2122
If you run the container with privileged mode on a RHEL 7 host, the issue goes away.  Digging around a little, it appears that SELinux is blocking access to `Microsoft.CodeAnalysis.CSharp.ni.dll`.  You can see this by inspecting `/var/log/audit/audit.log` on the host by running `sudo ausearch -i -m avc -ts recent`

[code]
Running ` audit2allow –a` will tell you which rule is blocking access.

[cod

[2016-04-06 16:51] muratg commented on #2071
@gkhanna79 any updates on this?  Let us know when this is ready. :)

[2016-04-06 16:57] nuevoalex commented on #2245
@blackdwarf

I can't really do much with this information.

To be super clear. When I run `dotnet build` either from the base project created using `dotnet new` OR from my existing projects it does not find ANY of the dependencies I use in the project, whether they are required in my project.json or not.

I submitted this subset of the issue to try and simplify the error case and make it easily re

[2016-04-06 16:58] russellhadley commented on #2286
@blackdwarf @dleeapho I saw the dotnet run --help but I was unclear as to the semantics of [--] since it didn't have an explanation in the usage splash screen. It might just be my ignorance but it wasn't super clear.  At the same time the docs get updated we should add a blurb to help to cover it for users like me.

[2016-04-06 17:03] schellap commented on #2071
Will be ready before 1 PM.

[2016-04-06 17:04] Sridhar-MS opened #2303 "Add HelloMvc integration test"
Suggestion from https://github.com/dotnet/cli/pull/2269#issuecomment-206048982

https://github.com/aspnet/Home/tree/dev/samples/latest/HelloMvc

[2016-04-06 17:06] moozzyk commented on #2071
@piotrpMSFT

I think I pointed it out in one of the other issues I opened but if I have a tool that was built against an older version of the NetCore.App how do I even a) find and b) donwnload the version of the runtime I need?
With regards to:

a) the version of dotnet cli does not match the version of the CoreApp package (e.g. the version is 1.0.0-beta-002252 how should I know if this installs t

[2016-04-06 17:08] muratg commented on #2303
Thanks @Sridhar-MS!

[2016-04-06 17:26] blackdwarf commented on #2286
@russellhadley yup. Working on that now.

[2016-04-06 17:35] krwq commented on #2286
shouldn't we be forwarding everything after project name? IMO this is an annoying bug even if it was by design a while ago

[2016-04-06 17:35] abrodersen opened #2305 "F# projects cannot be built from outside the project directory"
Currently, F# projects can only be built from the project directory. This is very poblematic for C# projects which reference F# projects.
## Steps to reproduce
1. `git clone https://github.com/abrodersen/fsharp-bug.git`
2. `cd fsharp-bug`
3. `dotnet restore`
4. `cd src/csharp-bin`
5. `dotnet run`
## Expected  behavior

The program should compile and run, producing text output.
## Actual behavior

[2016-04-06 17:38] blackdwarf commented on #1289
All, REPL is not going to be distributed with the CLI core package.

@jamesqo are you still seeing the behavior? I cannot repro with the latest bits?

[2016-04-06 17:50] adamralph commented on #1289
@blackdwarf are you going to remove the REPL line from the help output? I guess that is what is generating the expectation right now.

[2016-04-06 17:50] Petermarcu commented on #656
@brthor , We need to make sure this happens for RC2

[2016-04-06 17:57] brthor commented on #656
@weshaggard
What is the version that will be available via nuget?

I think it would be best to publish to nuget before dropping the NuGet.config here or I expect we'll see CI failures.

Does that follow our process or is there another way you think we should go about this?

[2016-04-06 18:09] brthor commented on #2203
@blackdwarf

That almost defeats the purpose of a manpage. We could show that in dotnet --help and call it a day.

Core issue here is that we have `N` sdks on the box and one set of manpages.
What is the default behavior of the muxer? To pick the latest SDK?

If that's what we're already doing, why not follow that pattern with the manpages?

[2016-04-06 18:32] GuardRex commented on #2058
@jeffschwMSFT Side note FYI to you, since we may both be working with standalone apps ...

I compiled a standalone test app this morning with the `NETStandard.Library` meta-package, and published output came to 50.6MB. I swapped that for the shard framework meta-package, `Microsoft.NETCore.App` (which brings in, among a lot of other things, `NETStandard.Library`), and the outputs came to 57MB, so

[2016-04-06 18:48] GuardRex commented on #1614
This behavior no longer repros since my OP back in February. Closing now.

[2016-04-06 19:02] pakrym opened #2307 "dotnet doesn't support `type: platform` dependency in target subnode"
## Steps to reproduce
1. Put  `type: platform` dependency in target subnode
2. Restore

## Expected  behavior
Target publishes portable

## Actual behavior
`dotnet build` fails

[2016-04-06 19:12] jeffschwMSFT opened #2308 "Audit the list of Ubuntu runtime dependencies - currently 44"
We should audit the list of 44 libs required to run on Ubuntu with the goal of reducing the list to a more manageable set (eg. Windows has 1, Mac has 1, and Centos has 9).

Current list of dependencies for Ubuntu:
libc6
libedit2
libffi6
libgcc1
libicu52
liblldb-3.6
libllvm3.6
liblttng-ust0
liblzma5
libncurses5
libpython2.7
libstdc++6
libtinfo5
libunwind8
liburcu1
libuuid1
zlib1g
libasn1-8-heimdal

[2016-04-06 19:14] pakrym opened #2309 "dotnet should print LibraryManager diagnostics when reading lock file for tool"
Right now when reading tools `lock.json` file we are ignoring all the diagnostics `LibraryManager` contains about unresolved libraries and fail only in runtime with assembly not found issues.

/cc @brthor @davidfowl

[2016-04-06 19:16] piotrpMSFT commented on #2071
@moozzyk this is somewhat moot since @schellap is implementing rollforward on pre-release at the moment. Your points are well taken and are being addressed as part of getting ahead of this issue for 1.0->1.1, etc. More to come.

[2016-04-06 19:17] brthor commented on #2308
This list was generated by using ldd on the runtime/corefx binaries themselves.

The dependency set can likely be reduced by using a set of parent packages (this list represents the full set of transitive dependencies).

CentOS has not gone through the same process to get the required packages, so that is likely a gap. On OS X (as I understand it) everything is already on the box except libssl.

c

[2016-04-06 19:18] brthor commented on #2309
We are using the LockfileReader, should it throw in these scenarios or is there some explicit error checking that needs to happen?

[2016-04-06 19:21] MichaelSimons commented on #2122
It appears that a fix for this issue was made in Fedora 23 - https://bugzilla.redhat.com/show_bug.cgi?id=1295546

There is a RHEL 7 bug as well but has not been fixed yet - https://bugzilla.redhat.com/show_bug.cgi?id=1206339

[2016-04-06 19:22] pakrym commented on #2309
You get these errors in `ProjectContext.LibraryManager.GetAllDiagnostics()` and it doesn't throw them, see https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-compile/ManagedCompiler.cs#L50 on how we handle them.

[2016-04-06 19:23] brthor commented on #2309
Might it be worthwhile to move this logic into some `SafeLockfileReader` which will print any errors and then throw, or do we generally want to continue when we hit these errors?

[2016-04-06 19:24] schellap commented on #2250
@weshaggard any ideas here? I know this `_._` is a placeholder, but are these expected to be present in the package?

[2016-04-06 19:25] conniey opened #2311 "dotnet CLI (pack, restore, build) does not work with {projectname}.project.json"
## Steps to reproduce
1. Create a PCL that targets ASP.NET Core and .NET 4.6. (ie. MyProject)
2. Rename the project.json to the {projectname}.project.json (ie. MyProject.project.json)
3. Try running `dotnet restore` or `dotnet pack`

In many of our repros, we use {projectname}.project.json because of their resolution for this issue: https://github.com/NuGet/Home/issues/1294

## Expected  behavior

[2016-04-06 19:26] moozzyk commented on #2071
@piotrpMSFT - Agreed. Rollforward makes it irrelevant for now.

[2016-04-06 19:27] weshaggard commented on #656
@Petermarcu what is the push to remove this for RC2? Doing so will require more end-game coordination which might be tricky.

[2016-04-06 19:34] pakrym commented on #2309
Some of them are warnings, like `Dependency specified was {FormatLibraryRange(range)} but ended up with {library.Identity}`

[2016-04-06 19:36] weshaggard commented on #2250
cc @ericstj

Yes placeholder files should be present in the package as they are used as markers by nuget to mean there is no asset.

[2016-04-06 19:39] brthor commented on #2309
Sure, the core of what I'm asking is if you see value in a `LockFileReader` abstraction that has warning/error handling. Could potentially accept delegates for onError or onWarning for custom behavior on each.

The value I see is that it wasn't immediately apparent to me that this would need to happen when using the LockFileReader, and I expect that would be true in the future for other folks. Hav

[2016-04-06 19:40] krwq commented on #2236
This should work right now

[2016-04-06 19:40] #2236 closed

[2016-04-06 19:40] krwq commented on #2231
This should work right now

[2016-04-06 19:41] krwq commented on #2166
This should work right now

[2016-04-06 19:41] #2166 closed

[2016-04-06 19:42] schellap commented on #2250
This happens for all native packages, coreclr, apisets, host sub packages... I will talk to @ericstj what this is about.

[2016-04-06 19:42] pranavkm opened #2314 "Is the reference to Microsoft.ApplicationInsights intentionally placed in Microsoft.Dotnet.Cli.Utils?"
`Microsoft.Dotnet.Cli.Utils` is referenced by most of the tools we https://github.com/aspnet. These now end up picking up a reference to ApplicationInsights despite not having any telemetry. Could we move the telemetry code into the dotnet project instead?

[2016-04-06 19:50] Sridhar-MS commented on #2166
thanks @krwq for doing this.

[2016-04-06 19:58] natemcmaster opened #2315 "Design-time tools cannot execute on projects that include native assets"
## Steps to reproduce
Create a `ProjectContext` from the sample below.

Project
[code]

[code]
## Expected  behavior
`loadContext._nativeLibraries` should include sqlite3.dll (either x64 or x86).

## Actual behavior
`loadContext._nativeLibraries` is empty.

For design tools, executing any piece of the user project at design-time requires native assets at design time will throw errors.

## Environm

[2016-04-06 20:00] natemcmaster commented on #2315
I believe the solution is to add native assets in `LoaderProjectContextExtensions.CreateLoadContext()`...but there may be a more elegant solution.

[2016-04-06 20:01] blackdwarf commented on #2286
@krwq we should, ideally, but there could be some reason we are not.

[2016-04-06 20:02] natemcmaster commented on #2315
Just realized this is a duplicate of https://github.com/dotnet/cli/issues/2289. :facepalm:

[2016-04-06 20:02] #2315 closed

[2016-04-06 20:02] natemcmaster commented on #2289
See #2315 for more details on reproducing the error. This blocks Entity Framework design-time tools that need to connect to a database.

[2016-04-06 20:07] blackdwarf commented on #2203
@brthor it does defeat it. My main worry with the latest is that there could be different behaviors between versions. Sure, if the muxer selects the latest we couild say that theat is what you will get. But what about if you have two projects, one is on the latest and the other is on a previous version which had changes?

[2016-04-06 20:10] pakrym commented on #2309
It's not `LockFileReader` its `ProjectContextBuilder` I think we should not extend it, just add another class that validates `ProjectContext` you got and throws or prints errors.

[2016-04-06 20:15] eerhardt opened #2317 "Publish non-Windows CoreHost runtime NuGet packages"
We currently only publish NuGet packages on our Windows build.  But we are now building native CoreHost packages on non-Windows platforms.

We should do something to publish these packages on non-Windows platforms.

[2016-04-06 20:18] brthor commented on #2203
Had an idea that might work, but would have some interesting logic to implement.

Make the manpages symlinks to a directory (which is also a symlink) in our install root called `currentsdkman`. The directory symlink get's updated when new sdks are invoked and then the manpages match whatever the last sdk invoked was.

On installation we update as well, so if no sdk has been invoked it defaults to

[2016-04-06 20:20] brthor commented on #2309
Why not have the errors handled in `ProjectContextBuilder`?

Are there situations where we want to continue with the ProjectContext despite it having errors?

[2016-04-06 20:25] pakrym commented on #2309
It's not errors, it's diagnostics, some of them are warnings, and `ManagedCompiler` tries to build even if there are errors.

[2016-04-06 20:26] #2307 closed

[2016-04-06 20:27] gkhanna79 commented on #2250
@Sridhar-MS Assigned to you since you are looking into this.

[2016-04-06 20:27] weshaggard commented on #2250
@mmalolepszy can you please remove

[code]

Currently you cannot have that along with RID's specified. @anurse this error message needs to be fixed so we don't get into this situation or we need to teach publish to handle it correctly.

[2016-04-06 20:28] Petermarcu commented on #656
We need people that use dotnet new to use the packages from NuGet and not from the MyGet servers.

We also can't publish to NuGet ahead of time.

[2016-04-06 20:29] ericstj commented on #2250
None of these actually require placeholders since they have actual content in that directory in the package.

[2016-04-06 20:29] anurse commented on #2250
You sure can. That enables the non-portable-but-shared-framework scenario. This error was caused by something else, and I think @pakrym fixed it. Does it still repro on the latest builds?

[2016-04-06 20:29] anurse commented on #2250
Ah, I've seen this before. The file exists, but NuGet is dropping a placeholder in the lock file. This may be a NuGet bug.

[2016-04-06 20:30] tmat commented on #1735
Fixed by 85884c5e9a4b4fb99dbe2dd5de501eb215ced33c

[2016-04-06 20:30] #1735 closed

[2016-04-06 20:30] piotrpMSFT commented on #2250
@petermarcu hit this yesterday.

@krwq you're finishing up #2198 which repros the issue. Are you still seeing it?

[2016-04-06 20:31] piotrpMSFT commented on #2250
@emgarten adding you in case this is a Nuget issue.

[2016-04-06 20:32] ManishJayaswal commented on #1743
@jaredpar #1735 was fixed. You can re-enable this.

[2016-04-06 20:35] natemcmaster commented on #2289
Source of the issue:
## Expected
`AssemblyLoadContext` should contain `sqlite3.dll` from Microsoft.Data.Sqlite's "win7-x64" native assets.
[code]

`AssemblyLoadContext` should contain `Sqlite.Data.SqlClient` from System.Data.SqlClient "win7" runtime asset.
[code]
## Actual
Contains neither.

[2016-04-06 20:36] #2267 closed

[2016-04-06 20:36] piotrpMSFT commented on #933
@muratg the project.json schema has been evolved by your team. I expected the schema updates to be handled the same way.

[2016-04-06 20:38] anurse commented on #2250
To be clear, @pakrym 's change should remove the immediate error since he filters out `_._` files during publish. However, this is still a bug, since there should be a file in the lock file but we're getting a placeholder instead

[2016-04-06 20:43] Sridhar-MS commented on #2250
I am not able to repro this with a later version `1.0.0-beta-002222`.

When did @pakrym changes go in?

[2016-04-06 20:45] pakrym commented on #2250
https://github.com/dotnet/cli/commit/87ee62c282b9124ec2f63bbd7cb3963cbbd0c4b7

[2016-04-06 20:45] weshaggard commented on #2317
cc @schellap

[2016-04-06 20:47] brthor commented on #656
We'll be taking on a test gap here to make this happen. If folks think that's acceptable, I'll make the changes.

[2016-04-06 20:53] jamesqo commented on #1289
@blackdwarf Yes, it looks like it's still happening with the latest version, with both `compile` and `repl-csi`. (You can try it yourself at the link to Cloud9 I posted.)

[2016-04-06 21:03] schellap commented on #2250
Cc @brthor the errors you saw the other day (and Compilation Failed)...

[2016-04-06 21:11] blackdwarf commented on #1230
@cesarbs yes, it does. So, by default it will actually try to pick up the .NET Core TFMs and fail if those are not there. You need to use the `-f` switch. I guess this is good enough.

Are you still seeing this problem with latest?

[2016-04-06 21:11] yishaigalatzer commented on #66
https://github.com/NuGet/Home/issues/2470

[2016-04-06 21:12] blackdwarf commented on #45
This document is now hopelessly outdated. I'm just going to close this issue.

[2016-04-06 21:12] #45 closed

[2016-04-06 21:14] blackdwarf commented on #254
This is now being done via the CLI docs PR on dotnet/core-docs#391.

[2016-04-06 21:15] Sridhar-MS opened #2318 "TestCommand.RunAsync should return Process object."
TestCommand class holds the state of a running process.
This is an issue when we want to run the same TestCommand object twice concurrently.

[2016-04-06 21:16] blackdwarf commented on #428
This is now being solved via the `dotnet-install` script. I will close this issue, since for now we are not planning to do PS package management and @qbikez ask is being addressed.

[2016-04-06 21:16] #428 closed

[2016-04-06 21:17] Sridhar-MS commented on #2318
Relevant comments here -
https://github.com/dotnet/cli/pull/2269#discussion_r58771710
https://github.com/dotnet/cli/pull/2269#discussion_r58771762

[2016-04-06 21:17] blackdwarf commented on #488
@anurse @piotrpMSFT who does this need to be assigned to?

[2016-04-06 21:19] blackdwarf commented on #682
As it currently stands, this is not something we will tackle. I will close this issue. If you think this is in error, please reopen.

[2016-04-06 21:19] #682 closed

[2016-04-06 21:19] gkhanna79 commented on #488
Isnt this fixed by https://github.com/dotnet/cli/pull/2227 PR from @livarcocc ?

[2016-04-06 21:23] anurse commented on #488
Should be. @livarcocc can you confirm and close?

[2016-04-06 21:24] gkhanna79 commented on #488
@livarcocc is OOF.

[2016-04-06 21:27] #488 closed

[2016-04-06 22:02] piotrpMSFT commented on #2143
Chatted with @muratg. We're not going to block rc2 on this, but will continue treating it with priority.

[2016-04-06 22:03] blackdwarf commented on #2178
This is being solved with #2219 .

[2016-04-06 22:11] blackdwarf commented on #2302
@MarkStega this is concerning DNVM. In the future, when we release RC2 of .NET Core, we will transition off of DNX and to CLI and DNVM will not be used anymore.  This repo is housing the CLI tools which you can start exploring to replace DNX in your usage.

[2016-04-06 22:13] moozzyk opened #2322 "dotnet pack does not pack libs or create the runtimeconfig.json file if the output name is different from the package name"
For packages that contain tools we want to be able to use names that don't start with dotnet-*. It is now possible to specify outputName for a target binary but if it is specified it won't be picked up by `dotnet pack`.

## Steps to reproduce

run `dotnet pack` on a project with `outputName` different from the package name specified in `compilationOptions`

## Expected  behavior
the package should

[2016-04-06 22:13] natemcmaster commented on #2289
Discussed with @anurse. May be able to workaround using dependency context instead.

[2016-04-06 22:21] #2293 closed

[2016-04-06 22:25] anurse commented on #2289
Yeah, we'll need to convert ProjectContextLoader to be based off the DependencyContext, since that is what handles the loading of portable frameworks

[2016-04-06 22:38] #2213 closed

[2016-04-06 22:45] MarkStega commented on #2302
So I take it there will be a coordinated update of VS2015 to also not use DNVM?

[2016-04-06 22:51] jeffschwMSFT opened #2324 "dotnet restore will load NuGet.config but no other casing"
## Steps to reproduce
On Linux
dotnet new
mv NuGet.config Nuget.config
dotnet restore

## Expected  behavior
Nuget.config will be loaded and used as the nuget feeds

My recommendation is since case sensitive file systems are supported, we should use the defacto default of all lower case to ensure it is loaded in all necessary cases.

## Actual behavior
Nuget.config is ignored since it is not the r

[2016-04-06 22:59] akoeplinger commented on #2324
Related: https://github.com/NuGet/Home/issues/1427

I'd obviously :+1: to an all lowercase `nuget.config` by default.

[2016-04-06 23:30] Sridhar-MS commented on #2250
The bug is no longer reproing with @pakrym 's fix - https://github.com/dotnet/cli/commit/87ee62c282b9124ec2f63bbd7cb3963cbbd0c4b7

I think there is still an underlying nuget restore bug. If a project.json contains `type: platform` and the `runtimes` node too, then restore drops the placeholder `_._` into the lock file even though files are present in the nuget package.

Example:

[code]

[2016-04-06 23:31] dougbu opened #2326 "`dotnet build` writes unnecessary information to the console"
Console logging includes individual elapsed times (information of interest only to those writing these tools) and explanations why every dependency that was or was not built (information that's very easy to infer from the rest of the output -- there's only one reason to build). None of this is of interest to developers using the command line tools.
## Steps to reproduce
1. Clone the aspnet/Mvc rep

[2016-04-06 23:42] natemcmaster commented on #2289
Is deps.json supposed to have the RID fallback? In my samples of standalone and portable, deps.json has no runtimes section.

[2016-04-07 00:05] natemcmaster opened #2327 "DependencyContextJsonReader creates incorrect runtime asset groups"
Create a project (portable or standalone) with System.Data.SqlClient. The deps.json file should contain:

[code]
When DependencyContextJsonReader parses this, it duplicates runtime assets paths in each RID specific RID. The asset group fo win7 should not contain a path for the unix asset and vice versa.

![image](https://cloud.githubusercontent.com/assets/2696087/14336499/7bcc8c56-fc19-11e5-9674-6

[2016-04-07 00:09] natemcmaster commented on #2289
Complicated by https://github.com/dotnet/cli/issues/2327

[2016-04-07 00:58] ctaggart commented on #2221
This is still happening with the latest build, 1.0.0-beta-002266. Any ideas?

root@63dd78325fcc:/# echo $sdk
/usr/share/dotnet/sdk/1.0.0-beta-002266
root@63dd78325fcc:/# $sdk/corehost $sdk/csc.dll

Unhandled Exception: System.TypeInitializationException: The type initializer for 'FileVersionInfo' threw an exception. ---> System.ArgumentNullException: Value cannot be null.
Parameter name: type
   a

[2016-04-07 01:55] blackdwarf commented on #2265
Hmmm, yes. In this case the absence of `runtimes` node in the project.json **and** the `type: platform` makes this a middle-ground which publish should detect and throw an error saying that one of these two needs to be added to get *something*.

[2016-04-07 01:56] blackdwarf commented on #2265
/cc @anurse

[2016-04-07 05:32] emgarten commented on #2250
The placeholder ``_._`` is added to the lock file so that compatibility can be checked outside of NuGet. Looks like this has already been fixed, but it is expected that consumers of the lock file understand the ``_._`` convention.

[2016-04-07 05:35] #656 closed

[2016-04-07 06:10] brthor opened #2330 "Remove NuGet.config drop in EndToEnd Test"
In #656

A workaround was introduced in the EndToEnd test to allow us to remove the NuGet.config from the `dotnet new` drop before corefx packages are available via nuget.org.

We should remove this workaround and make the EndToEnd feeds configurable for the future.

@piotrpMSFT @Petermarcu

[2016-04-07 06:14] sayedihashimi commented on #2231
@krwq how does it work? I just pasted the [one liner](https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/cli-installation-scenarios.md) into a command prompt and I got the same error that I reported. Here is a screenshot,

![error01](https://cloud.githubusercontent.com/assets/1283154/14342079/e0f0fd56-fc4b-11e5-9ba0-51bc2f0e4566.png)

If you look at the command in the one-liner `@powershel

[2016-04-07 06:24] schellap commented on #2250
Are these useful in the deps file? I saw them show up there, and the host thinks it is an asset. If they don't serve any purpose don't put in the deps file.

[2016-04-07 07:02] Ciantic opened #2332 "Renaming "project.json" to "dotnet.json"?"
Since the new tool is "dotnet", this is last chance to rename generally named "project.json" to "dotnet.json". Is there any interest in there?

I think project.json is too generic name for dotnet specific project, and the file itself does not contain identifier inside. This means when project.json projects spread, the IDE's and tools have to go inside this generically named file to see if it's a d

[2016-04-07 09:13] cmatskas commented on #2281
I think there is a good case for caching but we should make it a separate task and an explicit one too.

[2016-04-07 09:32] mmalolepszy opened #2333 "Messed up multi-line compiler errors in F#"
## Steps to reproduce

Sample code:

[code]
## Expected  behavior

[code]
## Actual behavior

[code]

Notice how error messages are mixed up. It can be better seen on a terminal with colored output.
## Environment data

`dotnet --info` output:

[code]

[2016-04-07 09:51] Merlineus commented on #2299
Same issue on Win 10 64bit and OS X 10.10 using latest builds

[2016-04-07 09:54] mmalolepszy commented on #2333
I've also came across a strange behavior with printing output to console from F# app. I think both those problems could be output buffering related.

## Steps to reproduce
[code]
## Expected behavior
[code]
## Actual behavior
[code]

[2016-04-07 11:22] Gillardo opened #2334 "dotnet run error "An item with the same key has already been added. Key: Microsoft.DotNet.ProjectModel.ProjectContentBuilder+LibraryKey""
## Steps to reproduce
run `dotnet restore` which works fine.
Then `dotnet run` and get the error

## Expected  behavior
I would expect it to run the project

## Actual behavior
Reports the error "An item with the same key has already been added. Key: Microsoft.DotNet.ProjectModel.ProjectContentBuilder+LibraryKey"

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-beta-0015

[2016-04-07 11:54] smoothdeveloper opened #2335 "project.lock.json: why is it so big"
I encountered this:

https://github.com/Krzysztof-Cieslak/KestrelFSharp/blob/3bb81aad259f88957848133e889dfb0bc570387e/project.lock.json

I'd like to understand (as reasonably possible) the reasons why this file has to be so large.

Why does each dependency needs to specify the file contents and sha of the nuget package? this seems to be the bulk of the contents there.

I think this content (which

[2016-04-07 11:58] smoothdeveloper opened #2336 "Scripting story, how to reference assemblies in script files"
I use .fsx and .csx files to do scripting, nowadays I'm relying on paket to list and download my dependencies (transitive dependencies included), which has a side effect of those assemblies to land under `packages/packagename/../` folder which I can then easily reference:

[code]

What is the story with dotnet cli for this?

[2016-04-07 13:18] pranavkm commented on #2334
This was a NuGet restore issue that was fixed in later issues of the CLI. Try updating to a [more recent build](https://github.com/dotnet/cli#installers-and-binaries)

[2016-04-07 13:33] Bartmax commented on #2326
I would like to keep time elapsed. that's generally useful information.

but agree to be less 'versbose'. something like this?

[code]

[2016-04-07 14:33] gkhanna79 commented on #2071
This got fixed with https://github.com/dotnet/cli/pull/2316. Closing the issue.

[2016-04-07 14:33] #2071 closed

[2016-04-07 14:48] ericstj commented on #2250
They need to be there to replicate package structure.  For instance of a package includes a DLL on win7 but that DLL is part of the operating system on win8.  Host shouldn't try to load package copy.

[2016-04-07 14:51] Gillardo commented on #2334
Thank you, i was downloading the wrong installer! duh!

How come my files being referenced (javascript, css etc) are not the ones in the wwwroot folder, but within a sub folder like \bin\debug\net451\win7-x64\wwwroot

Does this mean if i update any javascript or css, i have to run my gulpfile, then stop dotnet from running and rerun it?  Never had to do this with `dnx web` command

[2016-04-07 16:04] enricosada commented on #2333
i can repro, i am not sure it's a `fsc` bug, but something like you @mmalolepszy said about buffering/flush of multiple redirect?
Call is `dotnet build` -> `dotnet compile-fsc` -> `dotnet fsc`

doing **`dotnet build`** :x:  :

[code]

Just running the **real fsc** :white_check_mark:  command ( it's easy to see with `dotnet --verbose build` ), the output is ok

[code]

Running **`dotnet compile-fsc

[2016-04-07 16:16] enricosada commented on #2305
that's a problem with `compile-fsc` as tool /cc @brthor

[2016-04-07 16:57] #2327 closed

[2016-04-07 17:14] anurse opened #2339 "Use fallback logic when selecting targets to publish"
We should use the full `runtime.json` graph walking logic to select appropriate runtimes when publishing. For example, if the project.json has

[code]

If the host RID is `ubuntu.15.04`, this will fail today, and you have to add that RID. Instead, we can use the data from the RIDless graph to load up the `runtime.json` that defines the RIDs and walk it back to allow us to select the `ubuntu.14.04`

[2016-04-07 17:14] anurse commented on #2289
Libraries within the portable target for a `.deps.json` that have runtime-specific assets should have a `runtimeTargets` section. The `DependencyContext` should be abstracting all of that though.

[2016-04-07 17:15] anurse commented on #2250
Yeah, the `_._` indicates that the host **should** match that section as an asset, but not load anything. It implies that the assembly/library is already going to be loadable (in Desktop, that means the GAC, on  Core that means the shared framework, or in the case of a native library, an OS-specific library search path).

[2016-04-07 17:18] krwq commented on #2231
True, didn't notice the file name mismatch. I'll check if the file should be renamed or documentation updated

[2016-04-07 17:28] natemcmaster commented on #2289
It is, but I've still been unable to actually get rid fallbacks from `DependencyContext`. For now, I'm working around by hard-coding well-know RID graphs and re-implementing `ProjectContext.CreateLoadContext()` to include native/runtime assets.

[2016-04-07 17:45] anurse commented on #2289
You have to load the shared framework DependencyContext and merge it. I think the DependencyContextLoader does that for you, but if you're using the reader directly you don't get that behavior.

[2016-04-07 17:47] natemcmaster commented on #2289
Yes, DependencyContextLoader.Default should, but at design time, it's not able to locate the shared framework (at least in 2202). This means I get `null` for DependencyContext. cc @pakrym is this a bug?

[2016-04-07 17:47] krwq commented on #2231
https://github.com/dotnet/cli/pull/2340

[2016-04-07 17:49] natemcmaster commented on #2289
cc https://github.com/natemcmaster/EntityFramework/blob/f859b720bdec85a1c7cee30a1e76190af4b37787/src/dotnet-ef/LoaderProjectContextExtensions.cs

[2016-04-07 18:06] natemcmaster commented on #2194
I hit this today with 2284 in win10-x64. I cleared the shared framework, but get the error.

[2016-04-07 18:06] sayedihashimi commented on #2052
# Thoughts on command line project creation

With `dotnew new` we are interested in enabling an experience for users to create new projects from the command line. Creating projects from the command line is not a new concept, it's been around for a while especially on the web development side. One example of a successful command line project generator is [`yeoman`](http://yeoman.io/). Yeoman is a s

[2016-04-07 18:16] mrmeek commented on #1732
I just reproed this on my Win7x64 machine using latest betas. Installed Most recent Virtual Box x64 yesterday, dotnet restore stops working... Disabling 'VirtualBox Host-Only Network' adapter resolves the issue.

.NET Command Line Tools (1.0.0-beta-002279)

Product Information:
 Version:     1.0.0-beta-002279
 Commit Sha:  76610c4cd4

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.76

[2016-04-07 18:25] anurse commented on #2289
Unfortunately, DependencyContext is only able to locate the shared framework for the application that is currently running (because the host fills in an AppDomain property with the path)... Not sure the best way to solve that...

[2016-04-07 18:28] pakrym opened #2341 "dotnet build requires net451 projects restored with rids even if they are class libraries"
This is wrong and unnecessary.

[2016-04-07 18:53] dougbu commented on #2326
@Bartmax sure.

[2016-04-07 18:58] natemcmaster commented on #2194
I believe part of the issue is that the isntaller scripts (scripts/obtain) don't correctly clear old versions. Completely deleting the folder where dotnet is installed (e.g. ensure I cleared the muxer, shared framework, and sdk) fixed the problem for me.

[2016-04-07 19:22] anurse opened #2343 "dotnet build should produce runnable outputs for each runtime in project.json"
When your project.json has multiple runtimes in project.json, we compile the managed code and then picks the most appropriate RID to make the output "runnable". Instead, it would be pretty easy for build to make runnable outputs for all RIDs provided in the project.json (basically just have to add a loop here: https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-build/CompileCon

[2016-04-07 19:59] abpiskunov opened #2344 "unexpected exception occurred: System.ArgumentException: An item with the same key has already been added. Key: mscorlib when opening Nuget.Core solution"
## Steps to reproduce

1. get repo https://github.com/NuGet/NuGet.Client
2. Set env variable PROJECTMODELSERVER_TRACE=1
3. remove sdk section from NuGet.Client\src\NuGet.Core\global.json
2. Open Nuget.Core.sln

## Expected  behavior

Restore should start

## Actual behavior

No restore happening, open Nuget.Packaging project and see References node has no framework subfolders.

Reason is exception

[2016-04-07 20:21] BillHiebert commented on #2343
This is needed to make VS work correctly. When the user builds, they will expect all their outputs to be created. This would also make it consistent with the --framework option which builds all frameworks if the option is omitted.

[2016-04-07 21:13] jstarks commented on #2326
A note, golang doesn't output anything on a successful build. It feels very Windowsy for dotnet to say anything when nothing went wrong.

[2016-04-07 21:15] krwq commented on #2126
Resolved by #2297

[2016-04-07 21:15] abpiskunov commented on #2344
For quick reference project.json and lock file are here: "\\vwdbuild01\Temp\antonpis\repro\Nuget.Packaging - dotnet" . Note: PMS throws even when there no lock.

[2016-04-07 21:16] krwq commented on #1743
Hey @jaredpar, are you still planning this for rc2?

[2016-04-07 21:17] jaredpar commented on #1743
@krwq it's being discussed at the moment.  I'm going to issue a PR for it and let ship room decide.

[2016-04-07 21:24] krwq commented on #1433
@ericstj @tmat @jaredpar Is this geting fixed for rc2?

[2016-04-07 21:25] #1422 closed

[2016-04-07 21:27] krwq commented on #1310
@cdmihai, is this getting fixed for rc2?

[2016-04-07 21:31] vijayrkn opened #2346 "dotnet test needs to support desktop and netcore frameworks"
## Steps to reproduce
dotnet test needs to support the following frameworks:

1. netcoreapp1.0
  "frameworks": {
    "netcoreapp1.0": {
}}

2. netstandard1.5/netcore1.5
  "frameworks": {
    "netstandard1.5": {
    }}

3. net451/net46
  "frameworks": {
    "net451": {
    }}

## Expected  behavior
Should be able to discover and run tests for all these frameworks.

## Actual behavior
restore error

[2016-04-07 21:32] #1115 closed

[2016-04-07 21:33] troydai commented on #2344
Following project.json is being processed when this issue happened:
[code]
Look at the file I notice `System.IO.Compress` presents at two target framework. This likely trigger an exception here: https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-projectmodel-server/Helpers/DependencyTypeChangeFinder.cs#L20.

I'm now recreating the scenario.

[2016-04-07 21:38] Sridhar-MS commented on #2250
I think there are two issues here

- Even though `Microsoft.NETCore.Runtime.CoreCLR` has an implementation for `win7-x64` why are placeholders being dropped for `runtime.win7-x64.Microsoft.NETCore.Runtime.CoreCLR` instead of actual assemblies?

- Host is currently probing for `_._`. Even though it does not fail it or add it to the TPA, it can do better to completely ignore `_._` as an optimization

[2016-04-07 21:38] #1087 closed

[2016-04-07 21:40] moozzyk opened #2347 "Cannot use tools without adding additional imports"
Before in a project that uses a tool my tool section looked like this:

[code]
after I moved the tool to `netcoreapp1.0` the tool no longer works.

## Steps to reproduce
[code]

## Expected  behavior
The tool runs just fine.

## Actual behavior
No executable found matching command "dotnet-publish-iis"

## Workaround
You can work around the issue by modifying the tools section like this:

[code]

b

[2016-04-07 21:41] moozzyk commented on #2347
/cc @pakrym

[2016-04-07 21:41] #2192 closed

[2016-04-07 21:44] krwq opened #2348 "dotnet restore --help displays incaccurate info"
## Steps to reproduce

`dotnet restore --help`
## Expected  behavior

(no additional new line before usage)
`Usage: dotnet restore [arguments] [options]` <-- should say `dotnet` not `nuget3`
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[2016-04-07 21:45] #1070 closed

[2016-04-07 21:49] anurse commented on #2250
Ah, I've worked out why the placeholders are there. If you specify `type: platform` for a dependency, we add the `exclude: runtime, native` flags which mean that runtime/native assets are dropped from the lock file (intentionally) because those assets are available in the shared framework. So that's not actually a bug (as long as we have `type: platform` in this scenario)

[2016-04-07 21:49] anurse commented on #2250
So @pakrym 's fix is sufficient for fixing the publish failure.

[2016-04-07 21:52] russellhadley opened #2349 "dotnet executable included in standalone app publish directory"
## Steps to reproduce

dotnet publish standAloneApp

## Expected  behavior

publish directory should not have 'dotnet' executable in it, just assemblies and target dependent host launcher exe.

## Actual behavior

'dotnet' executable is included

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-beta-002184)

Product Information:
 Version:     1.0.0-beta-002184
 Commit Sh

[2016-04-07 21:54] #997 closed

[2016-04-07 21:56] ericstj commented on #1433
I think for RC2 folks are reccomending to install the VC redist.

[2016-04-07 21:56] krwq commented on #1042
@sokket @davidfowl, when you find a solution could you move it to rtm?

[2016-04-07 22:00] krwq commented on #1006
hey @davidfowl, if this is still reproing could you reopen? could you tell what's messed up if it's still the issue?

[2016-04-07 22:00] #1006 closed

[2016-04-07 22:03] krwq commented on #1038
This was fixed for BitDefender, we didn't have any reports since then on any other antiviruses. Please reopen if this is still happening

[2016-04-07 22:03] #1038 closed

[2016-04-07 22:18] Sridhar-MS opened #2351 "Host must ignore placeholder _._ in the deps.json file"
Host is currently probing for `_._`. Even though it does not fail it or add it to the TPA, it can do better to completely ignore `_._` as an optimization.

Related thread - https://github.com/dotnet/cli/issues/2250#issuecomment-207097936

[2016-04-07 22:19] Sridhar-MS commented on #2250
Ok. So there is no bug here except for

Filed #2351 to track this.

[2016-04-07 22:29] krwq opened #2352 "dotnet restore restores single project but dotnet build builds all dependencies"
I believe this is inconsistent that `dotnet restore` doesn't restore the dependencies but `dotnet build` builds all of them. IMO we should go one way or the other

[2016-04-07 22:32] markdall commented on #1433
@ericstj Is that a different redist than the one listed? Because the one on the page doesn't fix the problem...

[2016-04-07 22:36] ericstj commented on #1433
@markdall it definitely fixed it for me.  Are you sure you're installing it and it completes successfully?  If so, grab a procmon trace of the failure and I can take a look an see if there is some other missing dependency.

[2016-04-07 22:40] krwq commented on #792
Hey, is this planned for rc2?
cc: @DamianEdwards, @davidfowl

[2016-04-07 22:41] chuckries opened #2355 "dotnet run works but dotnet <mydll>.dll fails"
## Steps to reproduce
[code]

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2016-04-07 22:58] PinpointTownes commented on #2230
Hum, looks like this repo needs a serious effort on triage... :trollface:

[2016-04-07 22:58] anurse opened #2357 "Make desktop publishing "half-portable" by default"
Desktop frameworks (`net45`, etc.) do not support the full portable layout because we can't intercept native library loading. As a result, if you have an app that targets `net451` and uses Kestrel, you need to put RIDs in your project.json. In order to smooth the experience, we should actually infer a RID during publish and publish for that runtime using the "half-portable" model. For example, giv

[2016-04-07 23:02] moozzyk commented on #2322
/cc @DamianEdwards

[2016-04-07 23:13] cdmihai commented on #1310
Support for the runtime files got introduced by this commit: https://github.com/dotnet/cli/commit/9fb99526a15aa0ff0a3e65cc08a84e5b9611ec7b

I checked it and it works. Unfortunately this makes the boundary between compilation and mini-publish more ambiguous, but it solves the missing exe problem :)

Closing issue.

[2016-04-07 23:13] #1310 closed

[2016-04-07 23:29] schellap opened #2359 "Put hostfxr.dll inside a versioned sub directory"
Currently, we have the following layout in the setup zips:

[code]

Do the following instead:

[code]

Currently, we are not overwriting hostfxr.dll during the installations.

Cc @piotrpMSFT @krwq @brthor @Sridhar-MS

@gkhanna79, this is needed to mitigate the interface breaks and currently we are not copying hostfxr.dll if it is in use.

[2016-04-07 23:43] troydai commented on #2344
I'm able to repo this issue in automation.

[code]

[2016-04-07 23:53] blackdwarf commented on #2245
@nuevoalex wait; are you saying that you are seeing `dotnet build` fail after `dotnet restore` even on a plain, "vanilla" `dotnet new` project?

My comment was more to the point that behaviors will be different with the CLI than what was done with DNX/DNU/DNVM. Docs are currently in PR in the dotnet/core-docs repo and they contain DNX->CLI migration document that explains how to move between these

[2016-04-08 00:09] NTaylorMullen opened #2361 "install.ps1 / install.sh add dotnet to end of path. Visual Studio's path always wins."
## Steps to reproduce
- Install Visual Studio
- Run install.ps1
- Type dotnet -v

## Expected  behavior
You get latest dotnet version

## Actual behavior
You get Visual Studio's dotnet version (old).

## Environment data
`dotnet --info` output:

[code]

This is caused by the following line: https://github.com/dotnet/cli/blob/b9d6a0c911d19eb0ef88c416b359ded97a32ac17/scripts/obtain/install.ps1#L332

[2016-04-08 00:18] gregg-miskelly commented on #2194
Seems like one can work around this for now with:

    sudo cp /usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.0-rc2-23931/libhostfxr.so /usr/share/dotnet/

[2016-04-08 00:26] gkhanna79 commented on #2359
@schellap Doesnt this require change in the host as well?

[2016-04-08 00:44] schellap commented on #2359
No, the host is already built with this logic baked in it.

I'm thinking once this model is in place for RC2, i.e., after @krwq implements it, we should use the side by side as the default first choice and then probe for the host/fxr as second choice. Right now as implemented we get sxs as the second choice in case host/fxr contains a higher version. This is to give the user a fallback.

[2016-04-08 01:25] colemickens commented on #2194
The problem is that the apt repo needs to be cleaned up so that older versions of dotnet-host aren't selected instead of newer versions. Also, if dotnet-host doesn't have some sort of stable interface, it seems like it would need to be side-by-side installable as well... no?

I'm working around this by specifying the exact version of dotnet-host to install via apt. You can see [my Dockerfile here]

[2016-04-08 01:28] GuardRex opened #2362 "Shared Framework not working on 2012R2"
## Steps to reproduce
1. Install the shared framework with either the .NET Core Installer or the .NET Core Binaries from the `dotnet/cli` repo.
2. Create and configure a shared framework .NET Core app in IIS with the AspNetCoreModule on the server.

## Expected  behavior
It works.
## Actual behavior
After installing with the MSI (both straight install and with install+restart), the app fails with

[2016-04-08 02:35] brthor commented on #2194
I cleaned these old host packages a couple days ago. I'm surprised to see this still happening.

[2016-04-08 02:45] colemickens commented on #2194
Just a heads up, I had been using my workaround until just now and was basing my comments about apt still needing a clean from eye-balling the apt-mo listing in my browser. That having been said...

I just modified my Dockerfile from what is just above, to this:

[code]

Running `dotnet restore` returns this:

[code]

After that, the result of `apt-cache policy dotnet-host` is:

[code]

[2016-04-08 02:48] colemickens commented on #2194
So this is the other case I mentioned above -- I'm installing an very slightly "older" version of dotnet-dev-beta, and it's pulling the latest (rather than much too old as before), and incompatible dotnet-host in.

[2016-04-08 03:11] #2218 closed

[2016-04-08 03:23] dougbu commented on #1385
This seems like an important ask for many reasons. For example,
- `dotnet test --help` displays no information about the many options the underlying xUnit (in my case) test runner supports.
- `dotnet run --help` displays no information about the many options the ASP.NET Core's hosting supports for a web site.

@blackdwarf with the shared runtime changes, "quick testing" no longer begins to cover a

[2016-04-08 04:14] russellhadley commented on #2349
@blackdwarf This was the case I was seeing where the dotnet executable was put in the publish directory.

[2016-04-08 04:17] GuardRex commented on #2349
![capture](https://cloud.githubusercontent.com/assets/1622880/14374044/ea36408a-fd16-11e5-998b-51bce498dbd1.PNG)

Yep! Here, too.

[2016-04-08 04:24] davidfowl commented on #2362
The cli isn't the place to file a bug like this. It's hard to know if things are even setup correctly. What does your web.config look like?

[2016-04-08 04:25] GuardRex commented on #2362
[code]

[2016-04-08 04:28] GuardRex commented on #2362
If I navigate to the decompressed binary folder and try `dotnet --version` and it throws that exception. That seems more basic than anything wrong with my `web.config` file.

[2016-04-08 04:32] davidfowl commented on #792
Yes

[2016-04-08 04:55] GuardRex commented on #2335
Pegged dependency versions will give you reproducible builds without having to retain the file. I know exactly what you mean about the size of the file though ... it is **HUGE**. I exclude it from source control.

[2016-04-08 05:17] Cuiqs76 opened #2364 "Can't be upgrade to a 'nightly' build"
## Steps to reproduce
remove the older dotnet from control panel
install the latest version (1.0.1.002317  x64)

## Expected  behavior
right install

## Actual behavior
fail to install

you have installed 'release' build of .net core cli, it cannot be upgraded to a 'nightly' build of .net core cli. pliease uninstall it and re-run setup

## Environment data
can't execute

[2016-04-08 05:30] #2362 closed

[2016-04-08 05:39] GuardRex commented on #2362
Moved to https://github.com/aspnet/IISIntegration/issues/125

[2016-04-08 08:21] smoothdeveloper commented on #2335
@GuardRex thanks for chiming in

What does it mean, is it specifying the exact version number till the last place in project.json itself?

That seems like a lots of noise (and work for the user, if you compare to paket workflow) also and churn for minor updates in more places than necessary.

Is it based on hardcoded minimum version dependency resolution? Doesn't this contradict the ship-fast-and-

[2016-04-08 09:24] thecodejunkie opened #2366 "Wrong command name for dotnet restore --help"
## Steps to reproduce
Run `dotnet restore --help`

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-beta-002279)

Product Information:
 Version:     1.0.0-beta-002279
 Commit Sha:  76610c4cd4

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x86

[2016-04-08 10:16] kinguru opened #2367 "hwapp do not run on other PC"
## Steps to reproduce
Create hwapp as described in manual for Ubuntu.
https://dotnet.github.io/getting-started/

Publish it with "dotnet publish" command
Copy artifacts to another Ubuntu PC and run.

## Expected  behavior
Hello World!

## Actual behavior
Failed to initialize CoreCLR, HRESULT: 0x80131500

## Environment data
`dotnet --info` output:
it is not installed on target PC

[2016-04-08 10:46] skeeping commented on #869
Any ideas on how to get pass this issue?

[2016-04-08 11:03] rschiefer commented on #2052
@sayedihashimi I like this approach, supporting existing solutions with a new abstraction (dotnet new) and making VS templates easier by providing a shim to dotnet new templates.  Also agree Yeoman has too much baggage to be the official solution.  Well documented and thought out!

[2016-04-08 12:42] janvorli commented on #869
@skeeping I am sorry for not responding earlier, I've missed the fact that I was asked to help back in January. Can you still repro the issue? And since dnx is now obsolete (see https://github.com/aspnet/dnx/blob/dev/README.md), can you repro it with dotnet cli that replaced the dnx?
There used to be a problem with running the .NET stuff with stack size limit set to unlimited which is what the mak

[2016-04-08 14:12] pranavkm commented on #2334
@Gillardo - you can set the content root to your working directory so any changes to your wwwroot during dev time are picked up. The wwwroot under the bin\debug directory will get used if you publish your application. See https://github.com/aspnet/Mvc/issues/4428

[2016-04-08 14:29] GuardRex commented on #2335
Yes, I meant specifying the versions of packages exactly for guaranteeing reproducible builds.

Yes, this is probably **not** the guidance. @davidfowl has said ...

... in https://github.com/aspnet/EntityFramework/issues/2996

I don't agree during preview, however, as baking package versions has saved my butt a few times. Even if under some conditions it would be ok to do this, what we'll likely n

[2016-04-08 14:49] ciel opened #2369 "System.IO.IsolatedStorage conflict"
I keep getting a strange warning when I run `dotnet restore` on a particular project. The warning is ...

[code]

I'm fairly certain it is because I am referencing `RavenDB`, but this has happened on other libraries too. I'm simply not sure what it means, or how to deal with it - is this a problem with the cli? or the corefx? or is this something that has to be addressed in the individual class li

[2016-04-08 15:30] smoothdeveloper commented on #2335
To me, that is the point of the lock file (not project.json), and there is also a point of saving everyone the hassle to specify exact versions of all packages (also if I want transitive dependencies resolved another way than the *"one true way"* decreted by MS) just to be up-to-date.

There were discussions about how to make paket work with `dotnet restore` (because amazingly paket handles all th

[2016-04-08 15:34] gkhanna79 commented on #2359
We expect to have a newer version be pushed to host\fxr and not side by side. Thus, making it fallback lookup does not sound right. I think we can remove hostfxr.dll from sxs to host and always keep it under host\fxr. this will always work and will always pickup new versions correctly without break.

What do you think @schellap ?

[2016-04-08 15:41] mightea commented on #1928
I have a similar issue on OS X 10.11.4. I reinstalled VS Code (deleted the app and the ~/.vscode folder). The issue persists.

### Actual Behavior
[code]
### Environment Data
[code]

[2016-04-08 16:01] pakrym opened #2370 "Resource assemblies are added to deps.json file without locale attribute"

[2016-04-08 16:06] moozzyk commented on #2322
Setting milestone to rc2 - this bug was approved by shiproom

[2016-04-08 17:05] pafuent opened #2372 "No executable found matching command "dotnet-test-xunit""
I'm trying to start using ASP.NET and I can't get my unit tests executed.
The KokoAPI project is based on https://github.com/aspnet/cli-samples/tree/master/HelloMvcApi.
BTW, I'm getting the exact same error in Ubuntu 14.04.

## Steps to reproduce
[KokoAPI.zip](https://github.com/dotnet/cli/files/210561/KokoAPI.zip)
cd KokoAPI
dotnet restore
cd test\KokoAPI.Tests
dotnet test

## Expected  behavior

[2016-04-08 17:14] davidfowl commented on #1758
RC2

[2016-04-08 17:18] danroth27 commented on #1540
Both of these packages now target netstandard1.5, which should work on .NET 4.6.2. @prafullbhosale @sayedihashimi Is this sufficient? If yes, then please close.

[2016-04-08 17:18] DamianEdwards commented on #792
This is covered by the changes being made RE https://github.com/dotnet/core-proposals/blob/master/DotNetCore-ProjectModel.md in #2248

[2016-04-08 17:18] danroth27 commented on #1827
Dup of #1970

[2016-04-08 17:18] #1827 closed

[2016-04-08 17:19] DamianEdwards commented on #1758
This is covered by the work in #792

[2016-04-08 17:23] #1758 closed

[2016-04-08 17:46] brthor commented on #2194
Looks like some rogue packages got pushed from the master branch to this feed now.

Disabled and will clean them out.

Thanks @colemickens !

[2016-04-08 17:46] muratg commented on #2372
Dup of this (https://github.com/dotnet/cli/issues/1858) ?

[2016-04-08 17:55] brthor commented on #2364
@Cuiqs76 where are you acquiring the latest version?

[2016-04-08 18:04] ciel commented on #1579
Has there been any update on this? I'm encountering this same problem.

[2016-04-08 18:08] moozzyk opened #2373 "dotnet does not work with forward slashes on windows"
## Steps to reproduce

[code]
## Expected  behavior

Forward slashes should be treated as path separator on windows
## Actual behavior

Could not load host policy library [../HelloMvc.dll]
## Important because?

When you publish you application on Mac/Linux it will put forward slashes into paths (the scenario I tired was to use publish-iis on non-Windows box)
## Environment data

`dotnet --info` o

[2016-04-08 18:09] moozzyk commented on #2373
Related: https://github.com/aspnet/IISIntegration/issues/104

[2016-04-08 18:10] abpiskunov opened #2374 "Exception during dotnet build: error : Unhandled Exception: System.IO.IOException: The process cannot access the file 'C:\Users\antonpis\.nuget\packages\.tools\Microsoft.AspNetCore.Server.IISIntegration.Tools\1.0.0-rc2-20466\netstandardapp1.5\Microsoft.AspNetCore.Server.IISIntegration.Tools.deps.json' because it is being used by another process."
## Steps to reproduce

I can not repro it manually, it is one of our integration tests that randomly fails. It creates 8 new projects one after another, waits for restores and builds. Sometimes we see this exception below and test fails. Note: tooling does not even know about that file that is being used by another process, so it is in cli.

[code]

## Expected  behavior

No exceptions

## Actual

[2016-04-08 18:14] schellap commented on #2359
Once this change is done, there would be no hostfxr.dll by the side of dotnet.exe. I am just saying if user explicitly copied one next to it we'd pick it up as an override. This gives an user to explicitly copy something next to it as a workaround.

[2016-04-08 18:15] gkhanna79 commented on #2359
@schellap Why is that required? What is the user scenario (other than us) doing so?

[2016-04-08 18:20] sayedihashimi commented on #2231
Marking as `blocking-release`

[2016-04-08 18:20] krwq commented on #2366
duplicate of https://github.com/dotnet/cli/issues/2348

[2016-04-08 18:20] #2366 closed

[2016-04-08 18:23] abpiskunov opened #2375 "[ProjectModel.Server] When project.json has syntax error, error comming in incorrect format"
## Steps to reproduce

My project.json has extra } in the middle

[code]

We receive an error diagnostic :

[code]

where message still contains path, line, position.  Since PMS sends us correct line and column, it parses error, thus it can edit it and remove path, line and position from message.
## Expected  behavior
## Actual behavior
## Environment data

[code]

[2016-04-08 18:33] blackdwarf commented on #2237
This is already being dealt with in #1831 .

[2016-04-08 18:49] pafuent commented on #2372
I tested making KokoAPI and KokoAPI.Tests using the same target framework than dotnet-test-xunit but I got it the same error, so I'm not sure if this issue is a duplicate of #1858, because the mentioned workaround didn't work for me.

[2016-04-08 19:26] anurse commented on #2357
FYI, @pakrym is working on a fix.

[2016-04-08 20:28] Sridhar-MS commented on #2250
Closing this issue.

@mmalolepszy The issue is fixed. Reopen the issue of still facing it.

[2016-04-08 20:29] piotrpMSFT commented on #2347
#2350

[2016-04-08 20:33] piotrpMSFT commented on #2288
Fixed by #2325

[2016-04-08 20:33] #2288 closed

[2016-04-08 20:36] thecodejunkie opened #2380 "dotnet-test-xunit does not target net451"
## Steps to reproduce
Add `dotnet-test-xunit` to a project with a `net451` target and

## Expected  behavior
Looking at the [readme](https://github.com/dotnet/coreclr.xunit/blob/6ff4619831e2385d2fe664c64b0d28d95e5726ee/README.md) of the project states that

so I would expect the package to be able to be used with a `net451` TFM. How else are we supposed to run xunit tests in a project that uses `p

[2016-04-08 20:45] anurse opened #2381 "DependencyContext.Default is null when in a `dotnet-` tool"
When `DependencyContext.Default` is dereferenced by a tool (specifically `dotnet-ef` in this case), it always returns `null`.

This is because the code in the `DependencyContextLoader` that checks to see if the assembly is the "Entry Point Assembly" (i.e. the one with Program.Main), does so by comparing the `AssemblyName`s, which don't implement `Equals`, so it does reference equality and fails. A

[2016-04-08 20:56] blackdwarf commented on #2178
This is now solved in #2219

[2016-04-08 20:56] #2178 closed

[2016-04-08 21:07] schellap opened #2382 "Prerelease roll forward"
## Steps to reproduce
1. `dotnet new`
2. In the project.json: target a FX that is older than the currently available FX.
3. `dotnet restore`
4. `dotnet run`

## Expected  behavior
`Hello World!`

## Actual behavior
Could not find hostpolicy [c:\dotnet\shared\Microsoft.NETCore.App\1.0.0-beta-002200]

## Environment data
`dotnet --version` output:
1.0.0-beta-002279

[2016-04-08 21:09] #2382 closed

[2016-04-08 21:35] dougbu commented on #1385
Hmm, maybe this issue is specific to `dotnet test`? Looks as if `dotnet run -- --configuration` does approximately the Right Thing<sup>:tm:</sup>.

[2016-04-08 22:01] dougbu opened #2383 "`dotnet run` lacks command-line arguments available in `dotnet test`"
## Steps to reproduce

1. Execute `dotnet run --help`
2. Execute `dotnet test --help`
3. Execute `dotnet run -?` or another option that is listed in the `dotnet test --help` output but not `dotnet run --help`

## Expected  behavior
See similar options related to invoked build available.

## Actual behavior
[code]

`dotnet test` has support for the following; `dotnet run` does not:
- `-?` # `dotnet

[2016-04-08 22:10] danmosemsft commented on #2199
The message also shows twice. If this is your first use of the CLI you likely won't know what a lock file is, and get discouraged.

[code]

[2016-04-08 22:33] #2381 closed

[2016-04-08 22:35] enricosada opened #2384 "latest cli doesnt restore f# project"
## Steps to reproduce

[code]

Also fork this repo:

https://github.com/enricosada/fsharp-dotnet-cli-samples both [appveyour](https://ci.appveyor.com/project/enricosada/fsharp-dotnet-cli-samples/branch/master) and [travis](https://travis-ci.org/enricosada/fsharp-dotnet-cli-samples/builds/119309189)
## Expected  behavior

Restore successful
## Actual behavior

Restore failed

/cc @brthor

[code]
##

[2016-04-08 22:38] brthor commented on #2384
@enricosada All of our `dotnet new` scenarios (c# as well) have this restore gap until we publish RC2 release packages to nuget.org.

For the time being you can add custom feeds to the dropped NuGet.config to workaround this.

[2016-04-08 22:53] enricosada commented on #2384
thx @brthor

[2016-04-08 22:57] mikeharder opened #2385 "Error "path1 cannot be null" when invoking "dotnet run" on Linux when HOME is not set"
## Steps to reproduce

On Linux, invoke "dotnet run" when HOME is not set.  My specific scenario was invoking "dotnet run" from an Upstart job.
## Expected  behavior

Works correctly or displays friendly error message.
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-04-08 23:20] cdmihai commented on #2374
The exception is thrown from somewhere inside this method call: https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/CommandResolution/ProjectToolsCommandResolver.cs#L198

There's a good likelihood of a check then act race here. Two processes pass the !File.Exists(depsPath) check, then both want to write the deps file.

@abpiskunov: The calls to dotnet build are happening in

[2016-04-08 23:33] gregg-miskelly opened #2386 "'dotnet new' generates project referencing wrong package version"
## Steps to reproduce
* Install the latest build (2330)
* Create a folder
* dotnet new

## Expected  behavior
Generated project.json should work

## Actual behavior
Generated project.json references bogus package version:

    "dependencies": {
      "Microsoft.NETCore.App": {
        "type": "platform",
        "version": "1.0.0-rc2-3002330"
      }
    },

## Environment data
`dotnet --info` out

[2016-04-08 23:34] brthor commented on #2374
@cdmihai
This is exactly the cause we are thinking.

The deps file is a necessary artifact for the host to consume so in-memory is not an easy task.

Keep in mind that this is a specific directory for the project tools (`.tools`) and not the general purpose nuget cache.

One way we can go about this is to minimize the opportunity for a race condition and detect the rare chance of it happening to c

[2016-04-08 23:42] Petermarcu commented on #2231
@sayedihashimi , please mark it as either blocking-partner or blocking-release. Partner is all hands on deck getting bits through the system. Release are things we need to get to for the release. Don't want to double count. I moved it to just blocking release and you can switch it if its higher pri than that.

[2016-04-09 00:04] blackdwarf commented on #2386
/cc @eerhardt this has to do with the recent change to generate the version of `Microsoft.NETCore.App` in templates on build.

[2016-04-09 00:08] brthor commented on #2374
#2387

[2016-04-09 00:13] brthor commented on #2386
this package version is not bogus,

The disconnect here is likely that we are not dropping the NuGet.config any longer so until we push RC2 packages to nuget.org, the dotnet new -> dotnet restore flow won't work.

[2016-04-09 00:16] gregg-miskelly commented on #2386
When I have a nuget.config, I see this
warn : Dependency specified was Microsoft.NETCore.App (>= 1.0.0-rc2-3002330) but ended up with Microsoft.NETCore.App 1.0.0-rc3-23909.

[2016-04-09 00:18] gregg-miskelly commented on #2386
Here is my nuget.config:

    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <packageSources>

        <clear />
        <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
      </packageSources>
    </configuration>

[2016-04-09 00:18] brthor commented on #2386
Try Adding
`<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-cli/api/v3/index.json" />`

[2016-04-09 00:19] brthor commented on #2386
We made a big change to publish this metapackage from the CLI repo, today and yesterday

[2016-04-09 00:21] gregg-miskelly commented on #2386
Should I drop my dotnet-core myget feed, or do I want both?

This change seems pretty dangerous to me because unless you know about the new nuget feed you are going to wind up testing against main instead of rc2.

[2016-04-09 00:24] gregg-miskelly commented on #2386
Adding the new myget feed didn't seem to make a difference.

[2016-04-09 00:25] brthor commented on #2386
You can keep both, the version is compatible.

I've verified the package is present:
https://dotnet.myget.org/gallery/dotnet-cli

[2016-04-09 00:25] brthor commented on #2386
Not sure what the long term publishing plan is here:
cc @weshaggard @eerhardt ?

[2016-04-09 00:30] enricosada opened #2388 "Extract dotnet-compile-fsc tools to new repo"
A new home for `dotnet-compile-fsc` is ready in https://github.com/dotnet/netcorecli-fsc.

how can we manage versioning alignment? ref dotnet/netcorecli-fsc#4
Only a new package built from `netcorecli-fsc` is required to remove `dotnet-compile-fsc` from this repo?

/cc @brthor @piotrpMSFT

[2016-04-09 00:31] gregg-miskelly commented on #2386
Adding the cli myget feed wasn't enough. I also needed to change the package version number (to 3002306 as of this moment). Otherwise I would wind up getting an rc3 package from the other repo.

[2016-04-09 00:41] eerhardt commented on #2386
We need to get our new metapackage published to the dotnet-core myget feed.  Currently that isn't an automated process.  @weshaggard are we going to automate it?

Basically every version of CLI needs the corresponding metapackage published somewhere.

[2016-04-09 01:16] hstarorg commented on #1488
Try ``yum install icu``

[2016-04-09 03:49] weshaggard commented on #2386
I've almost got our publishing automated and it is currently pushing this to dotnet-cli feed but I will actually push it to the dotnet-core feed instead (or perhaps both).

[2016-04-09 05:54] wallaceturner commented on #2384
@brthor would you please be able to indicate which custom feeds are required to get this working?

I've got this (obtained from elsewhere) but am getting the same error as when not using it:

` <add key="AspNetCiDev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="aspnet-contrib" value="https://www.m

[2016-04-09 06:33] weshaggard commented on #2386
I've published the later builds of the Microsoft.NETCore.App meta-package to the dotnet-core feed, and setup a build definition that should publish the latest builds as they complete.

[2016-04-09 09:24] sirentek opened #2389 "Version 1.0.0.2339-beta Windows version doesn't work."
## Steps to reproduce
Run the installer to setup. After installation, run any dotnet command.
Type: "dotnet --version" or "dotnet --help"

## Expected  behavior
Output: "1.0.0-beta-002339".

## Actual behavior
Ouput: "The structure of init data has changed, do not know how to interpret it".

## Environment data
`dotnet --info` output:
"The structure of init data has changed, do not know how to int

[2016-04-09 09:36] chrismcv commented on #2384
this worked for me....
[code]

[2016-04-09 15:58] vahpetr commented on #2385
Thanks @mikeharder
Every launch the supervisor crashing, three weeks could not understand the reason

[code]

[2016-04-09 16:54] tarurar commented on #956
Guys, is there any workaround for this issue?