[2019-09-17 18:47] mmitche commented on #12663
They are, the paths are just odd because of stable builds.  That build was stable and so the latest link points to the wrong place.

[2019-09-17 19:59] andy-ms opened #12665 "Building with a PackageReference on Ubuntu fails with "Could not copy""
## Steps to reproduce

* `git clone https://github.com/andy-ms/dotnet-bug-repro.git`
* `dotnet build`

## Expected  behavior

It should succeed.

## Actual behavior

* One of these three things may happen:

1) It succeeds.
   In this case run `git clean -xfd` and try again.

2) It may fail with one error.
`home/anhans/bin/dotnet/sdk/3.0.100-preview8-013656/Microsoft.Common.CurrentVersion.targets(4

[2019-09-17 20:23] seesharper commented on #11504
@dsplaisted  Thanks a lot for your quick response.  👍😎
I see that the `bin/debug` folder also contains a `refs` folder. It is safe to assume that this represents the reference assemblies?

[2019-09-17 21:20] devel0 commented on #12110
getting similar problem with error `The SDK 'Microsoft.NET.Sdk' specified could not be found.` trying to invoking roslyn workspace open project at [this line](https://github.com/devel0/repros/blob/08293c0ef80d8dd2b235817996038b91bc18c001/netcore/roslyn-01/analyzer/Program.cs#L27) or follow [repro docker prj](https://github.com/devel0/repros/tree/08293c0ef80d8dd2b235817996038b91bc18c001/netcore/ros

[2019-09-17 21:43] dsplaisted commented on #11504
You may also need to look at the contents of the deps.json file.  I think that if there isn't a separate reference assembly from the implementation assembly (such as with a project reference or most NuGet packages), then there won't be a corresponding assembly in the refs folder.

[2019-09-17 22:13] seesharper commented on #11504
Yeah, I noticed that when adding a third party package. It did not show up in the refs folder. It was however in the ReferencePaths.txt file so that might be good enough. We only need the full path to the reference assembly so we can feed that to OmniSharp. 👍 Btw, the trick with RecordReferencePaths. Is that in any way documented somewhere. 😊 Many hidden gems in the csproj/msbuild pipeline 👍😊

[2019-09-17 23:26] andy-ms commented on #12665
Looking at another project, I see that there's a `cs` folder there. There's probably a conflict due to this project being named `cs`.

[2019-09-17 23:35] sebastienros commented on #12663
Right now I have to hard-code an older sdk, and it also prevents us from testing new version of runtime/aspnet on our continuous benchmarks. Do you think this will get fixed by itself or is there something you will have to do?

[2019-09-18 00:19] johnbeisner commented on #12663
@sebastienros
This has been resolved by double publishing the SDK zip files. The zip asset name was in a form that the installation scripts could not predict.

[2019-09-18 00:28] sebastienros commented on #12663
Thanks. I assume it means you will either keep it this way or change dotnet-install scripts to handle the new naming?

[2019-09-18 05:35] mmitche commented on #12663
We will fix it, but not before GA

[2019-09-18 15:57] johnbeisner commented on #12632
@PatrickReddy
Thank you for telling us about this. The download version has been repaired from 2.2.802 to 2.2.402 for the 2.2 channel.

[2019-09-18 15:57] johnbeisner commented on #12632
@leecow can you check the downloads page.

[2019-09-18 17:33] leecow commented on #12632
URL updated

[2019-09-18 21:23] CamSoper opened #12673 "Launching with `dotnet run &` fails to run in background on Linux"
This might be a regression of https://github.com/dotnet/cli/issues/6216.

## Steps to reproduce
From bash:

1. `mkdir temp && cd temp`
1. `dotnet new api`
1. `dotnet run &`  Note the job ID.
1. `jobs`

## Expected  behavior
New job is listed in *Running* state. App is running in background and responds to `curl` commands.

## Actual behavior
New job is listed is *Stopped* state. App is not running

[2019-09-18 21:33] livarcocc commented on #12673
tagging @janvorli and @stephentoub who looked at the originally reported issue.

[2019-09-18 21:35] livarcocc commented on #12673
@CamSoper do note that dotnet run is not meant to be used to running your application in "production". In case that what you are doing. It is closer to debug.

If you want to run your app in production, you should publish it and then executed it through the executable that gets generated or dotnet <path_to_app_dll>.

[2019-09-18 21:41] CamSoper commented on #12673
@livarcocc Totally understood. I'm updating our Microsoft Learn modules ([example](https://aka.ms/learn-web-api)) for 3.0 and `dotnet run` is the way we show the brand new developers how to get started. Since that's actually an instance of Azure Cloud Shell, where there's only one instance of the terminal, that forces us to have the student run `dotnet run` in the background so they can test their

[2019-09-19 07:59] xianyun666 opened #12675 "Can I customize the publish self-contained runtimes path？"
At present, after publish self-contained, exe sibling directory, generate a lot of dll files and folders,

such as System.Net.dll, api-ms-won-core-console-l1-1-0.dll, vcruntime140_cor3.dll, etc.
**It's such a mess.**
It is best to publish with a parameter that separates exe from the runtimes directory,
such as `dotnet publish --self-contained --runtime-packs myruntimes`?
runtime-packs parameter su

[2019-09-19 08:36] donhuvy opened #12676 "dotnet cli version 3.0.100-rc1-014190 still generate *.SLN with # Visual Studio 15"
## Steps to reproduce
Install .NET Core 3 RC1

[code]
then
[code]

Result of file `Actio.sln`

[code]

## Expected  behavior
[code]
become to
[code]
and other related things.

## Actual behavior

## Environment data
`dotnet --info` output:

[code]

[2019-09-19 14:28] sdcb opened #12678 "dotnet pack nuget package don't contains update time on file attributes"
## Steps to reproduce
Just run: `dotnet pack` on a project folder.

## Expected  behavior
Dll file on nuget package should contains update time attribute.
![image](https://user-images.githubusercontent.com/1317141/65253001-79cc8000-db2c-11e9-8895-5f17b1274d87.png)

## Actual behavior
But it fixed to 01/01/1980
![image](https://user-images.githubusercontent.com/1317141/65252957-67eadd00-db2c-11e9-9

[2019-09-19 14:31] EdiWang commented on #12678
I also met this problem. It causes my deployment tool (like Azure DevOps web deploy) not overriding server dll with new version of dll because it's modified time is empty, and eventually caused a .NET runtime exception for unable to load some assembly.

[2019-09-19 16:05] basbossink opened #12679 "Warning NU1603 should include the approximate best match found in the message"
## Steps to reproduce
Create a project that depends on a pre-release package that is not available (yet).
[code]

## Expected  behavior
[code]

So the feature request is to add the actual version that was resolved to the warning message, since that information is more useful than repeating the version of the package that caused the warning.

## Actual behavior
[code]

## Environment data
`dotnet -

[2019-09-19 19:27] johnbeisner commented on #12635
@vatsan-madhavan
The install-scripts with this feature was recently promoted to: https://dot.net/v1/dotnet-install.ps1
PR: https://github.com/dotnet/dotnet-core-website/pull/1508

Closing...

[2019-09-19 19:27] #12635 closed

[2019-09-19 19:49] Raviuppa opened #12680 "Help URL for failed dotnet tool installation pointing to wrong page"
## Steps to reproduce

When tried to install a wrong version of tool (dotnet-sos in this case) or when the tool unable to find the relevant version of the tool, it errors out with detailed information. However, the [URL ](https://aka.ms/failure-installing-tool)that spits out is pointing to Microsoft Docs [main page](https://docs.microsoft.com/en-us/) instead to the actual tool failure assistance p

[2019-09-19 19:51] livarcocc commented on #12675
This is not currently supported and we don't have plans to add support for this at the moment.

Please check on Single file exe publishing, which would generate a single exe as the output for you application. You can use it by setting `PublishSingleFile to true` in your project or through the command line.

This maybe be cleaner for you.

[2019-09-19 19:51] #12675 closed

[2019-09-19 19:52] livarcocc commented on #12678
We have already addressed this problem. A fix for it will ship with the 3.0.100 GA SDK version.

[2019-09-19 19:52] #12678 closed

[2019-09-19 19:53] livarcocc commented on #12679
I believe this warning comes from NuGet. I am going to move the issue there.

[2019-09-19 19:53] livarcocc commented on #12679
This issue was moved to NuGet/Home#8612

[2019-09-19 19:53] #12679 closed

[2019-09-19 19:55] livarcocc commented on #12680
@wli3

[2019-09-19 20:05] wli3 commented on #12680
Thank you for the issue. The help documentation is still work in process https://github.com/dotnet/cli/issues/12004 cc @KathleenDollard

[2019-09-19 20:05] #12680 closed

[2019-09-20 01:01] krwq opened #12681 "Removing template from disk leaves dotnet new in unusable state"
## Steps to reproduce

- `dotnet new -i <path to any template>`
- `rm -rf <path to the template>`
- `dotnet new --help`

## Expected  behavior

Warning or actionable error message

## Actual behavior

Error:

[code]

## Environment data
`dotnet --info` output:

[code]

Removing all of the ~10 entries of my app from json files under `~/.templateengine` I'm able to use it again

[2019-09-20 05:38] maxpavlov commented on #2246
With .NET Core 3 (Preview 10) specifying /p:CopyOutputSymbolsToPublishDirectory=false effectively works to have no pdb generated in the publish directroy. Case closed :)

[2019-09-20 07:33] newpost commented on #2246
where is url link about it ?

[2019-09-20 10:41] xianyun666 opened #12683 "PublishSingleFile,After run,system error:api-ms-win-crt-runtime-l1-1-0.dll is missing"
## Steps to reproduce
Run the software
## Expected  behavior
Run successfully

## Actual behavior
system error,api-ms-win-crt-runtime-l1-1-0.dll is missing

## Environment data
windows7 sp1 64bit
Installed KB2533623
Not installed KB2999226

PublishSingleFile,This error will occur.But,--self-contained does not.
I also found that,Found it in my cache directory.
**C:\Users\liu\AppData\Local\Temp\.net

[2019-09-20 14:40] FinexTech opened #12714 "output parameter for command "dotnet publish" works wrong"
We use dotnet version '3.0.100-rc1-014190'.
Documentation for output parameter states: ' If the path is relative, the output directory generated is relative to the project file location, not to the current working directory.'
To publish application we use next command: 'dotnet publish -r linux-musl-x64 -c "Release" --self-contained=false -o "out"  PATH_TO_SOLUTION'
Publish result of all projects i

[2019-09-20 15:15] Structed commented on #9648
So, i can repro this parallel build issue extremely simple, and publish is not needed, but `dotnet restore` is enough:

Reproduction:
* Create a new solution
* Add an ASP.NET core App
* Add a .NET Standrd 2.0 library
* Run `dotnet restore TheNameYouChose.sln`
* run psh> `Get-Process -Name "dotnet"`
* See leftover `dotnet process`

Probably works with different setups equally easy.

[code]

[2019-09-20 16:12] 0xd4d commented on #12683
What .NET Core SDK did you use?

Do you have a repro?

Did you update your OS and install all updates?

[2019-09-20 16:47] dsplaisted commented on #9648
@Structed The leftover process is expected.  You can shut down such processes with `dotnet build-server shutdown`.

If the leftover process is locking files causing subsequent builds to fail, then that is an issue.

[2019-09-20 16:48] giordi91 opened #12684 "dotnet publish does not generate runtimeconfig.json"
## Steps to reproduce
Good evening, I am trying to integrate .net core 3.0 in my engine as a scripting language. As such I want to be able to kick c# code from my c++ code. I am following the sample code for hosting.
The code, requires a runtimeconfig.json for my c# dll that I want to load and execute at runtime. Unluckily I am unable to generate such file when using dotnet publish.

I have tried

[2019-09-20 16:55] Structed commented on #9648
Yes, exactly this is the case: files are being locked.
Can't currently provide logs/repro project. If you need, let me know and I
can provide them Monday.

Am 20. September 2019 18:47:52 schrieb Daniel Plaisted
<notifications@github.com>:

[2019-09-20 17:05] livarcocc commented on #12681
This issue was moved to dotnet/templating#2112

[2019-09-20 17:06] #12681 closed

[2019-09-20 17:09] livarcocc commented on #12684
A class library is not runnable and as such does not have a runtimeconfig.json. You can create a console app or change your app to be an executable by setting `<OutputType>exe</OutputType>`.

[2019-09-20 18:41] giordi91 commented on #12684
Thank you your reply actually put me on the right path. What I did not understand was that the dotnet sample was not using an exe, and did not have a Main function, the trick is to add

[code]

This will properly export the needed runtimeconfig.json.
Since I have you hear, I know is not for this issue but if too out of topic let me know and I will just close the issue or open another one just for

[2019-09-21 04:15] xianyun666 commented on #12683
@0xd4d

**What .NET Core SDK did you use?**
.NET Core SDK (3.0.100-rc1-014190),It's compiled with this.

**Did you update your OS and install all updates?**
Brand new windows7 sp1 64bit，Only Installed KB2533623.
Previously, I have tested that **self-contained** can run normally，In the same operating system and environment.

Both the self-contained and PublishSingleFile contain the .NET Core SDK an

[2019-09-21 06:32] knocte commented on #2170
So it seems you still cannot feed a .nuspec file to `dotnet pack` even if this issue is marked as closed? In my case it seems I cannot use the workarounds mentioned here because they apply to single projects, however in my scenario I have a .nuspec file that gathers many DLLs from many projects to be included in the same nuget package. I'm at a loss here I guess.

[2019-09-22 10:43] dasMulli commented on #12683
The prerequisites for .NET Core on Windows 7 require KB2999226 and KB2533623 to be installed installed. If it worked by chance without, it may have been by coincidence and never been officially supported.

Does installing KB2999226 fix the issue?

[2019-09-22 11:00] xianyun666 commented on #12683
Your point is not correct, I have been tested many times, it is not accidental, because KB2999226 is referring to "api-ms" dll file. **self-contained** contains these files.

If I need to install KB2999226, **PublishSingleFile**, the 'api-ms' dll file that exists in the compressed file and KB2999226 are duplicated.

[2019-09-22 11:22] alrz opened #12689 "Roslyn analyzer project templates"
It would be nice to be able to run `dotnet new analyzer|codefix` to create roslyn analyzer/codefix projects.

[2019-09-22 11:23] alrz commented on #12689
Moved to dotnet/templating

[2019-09-22 11:23] #12689 closed

[2019-09-22 11:39] dasMulli commented on #12683
Is there documentation pointing to that? if so, this may need to be adapted.

The issue is that the host is (afaik) compiled against the onecore APIs and thus needs these DLLs.

cc @swaroop-sridhar @vitek-karas

[2019-09-23 14:30] Thaodan commented on #11981
Why just don't add the invalid version in path? I see no reason to put the legacy folder in path after a move.
I don't really get how new software like this ends up using legacy path.

[2019-09-23 17:57] Zanadar opened #12692 "Please publish SDK 3.0.100+dependencies"
Hello!
Very excited about this new release. Congrats!
When you get a chance can we get a `+dependencies` release, please?
Thanks you.

[2019-09-23 19:17] livarcocc commented on #12684
Which sample are you referring to?

If all you care about is generating a runtime config, you can set `<GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles>` directly. This property is set to true when `EnableDynamicLoading` is used.

I don't believe there is a command line way to resolve the file you mentioned above.

[2019-09-23 19:19] livarcocc commented on #2170
You should file an issue on nuget/home for this or see if they have one there already. Odds are that they already have a bug tracking this ask.

[2019-09-23 19:22] livarcocc commented on #12692
3.0.100 does not need the +dependencies.

It is built at the HEAD of the repo. Go to dotnet/core-sdk and use the 3.0.100 tag.

[2019-09-23 19:22] #12692 closed

[2019-09-23 19:36] Zanadar commented on #12692
Thanks!

[2019-09-23 20:53] giordi91 commented on #12684
I solved the issue for the configuration thank you. About the package yeah does not seem to be a solution for now, I think there is a PR/Issue open in one of the dotnet repositories to have the lib and headers in the vkpg. Such that can also be used by cmake if not mistaken. I will be keeping an eye on that. Thanks!

[2019-09-23 21:15] #12684 closed

[2019-09-24 02:54] knocte commented on #2170
But nuget pack allows to provide a nuspec file, it's dotnet pack that doesn't.

[2019-09-24 03:02] foo-baar commented on #2921
Good catch @rochapablo  I believe this has to do with the instance of SQL server, during compile time it checks for that. In my case I have docker container that runs sql, if container is not running while I compile the project then I run in the same issue.

Hope this helps 👍

[2019-09-24 05:16] nkolev92 commented on #2170
@knocte

The nuget experience in dotnet is owned by nuget.

dotnet packing a nuspec is already supported https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec.

What's not supported is packing a standalone nuspec file, without a project https://github.com/NuGet/Home/issues/4254

[2019-09-24 09:41] TclasenITVT commented on #12090
I have also been bitten by this I though that PublishSingleFile, PublishTrimmed and PublishReadyToRun would only effect the dotnet publish command otherwise I would have expected them to be called just SingleFile, Trimmed and ReadyToRun... I think this behavior is more unexpected than expected.

[2019-09-24 13:29] RobSwDev opened #12693 "dotnet tools and runtime versions"
## Steps to reproduce
We are using sgen to generate Xml Serialization assemblies. We've started to use the dotnet tool [microsoft.xmlserializer.generator](https://www.nuget.org/packages/Microsoft.XmlSerializer.Generator/2.1.0).  This worked initially. However, after installing net core 3.0, it stopped working on some machines, while continuing to work on others.

The issue *seems* to be this:
The

[2019-09-24 13:33] javadparvaresh opened #12694 "Terminal Freezes for a seconds on boot"
## Steps to reproduce
Ubuntu 18
Terminator :
dotnet-cli version : 3.0.100

## Expected  behavior
Terminal freezes after for about 10 seconds until application booted and started working

## Actual behavior
As soon as you call `dotnet run` command, it freezes terminal for a seconds until firs log prints out, then it start working

## Environment data
`dotnet --info` output:
.NET Core SDK (reflectin

[2019-09-24 13:34] RobSwDev commented on #12693
One obvious question: Why is the tool target framework 2.0.0, when it clearly requires at least 2.1.0?

But also, I'd like to understand why installing dotnet 3.0 caused/uncovered the problems it did.

[2019-09-24 14:27] KevinCathcart commented on #10492
The bug for documenting installing older version templates into a new SDK, and using them to target older frameworks is: dotnet/docs#14572

As for if the person wants to target .Net Framework, well that would work if anybody ever created template packages for them. After all `dotnet new nunit --framework net47` works just fine.

Of course, all the usual limitations with regard to building framewor

[2019-09-24 15:28] javadparvaresh opened #12695 "`Project cannot be packaged` warning even when `<IsPackable>true</IsPackable>` in project file has defined"
## Steps to reproduce
I have a `netcoreapp2.2` project which i'm trying to build by using `dotnet (3.0.100)` getting the `warning` for `warning : This project cannot be packaged because packaging has been disabled. Add <IsPackable>true</IsPackable> to the project file to enable producing a package from this project.`

## Expected  behavior
Ignore projects which has defined `<IsPackable>true</IsPac

[2019-09-24 15:50] livarcocc commented on #12694
`dotnet run` does a lot of work before actually running your app and we decided we didn't want the output from that work to get mixed up with the output for the app being run.

It builds your project (which also involves an implicit restore) and then evaluates your project to determine the command to run to execute the project. Finally, it then spins up another process which is the project's execu

[2019-09-24 15:50] #12694 closed

[2019-09-24 15:53] livarcocc commented on #12693
Regarding why the tool targets the TFM it targets, you would have to check with the authors of the tool. It was not created by us on this repo.

As to why installing 3.0 changed it, it is because 3.0 changed the roll forward policies for apps. You can read more about it in the 3.0 announcement blog post: https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0/. Look for .NET Core runtime rol

[2019-09-24 15:53] #12693 closed

[2019-09-24 15:54] livarcocc commented on #10492
This issue was moved to dotnet/templating#2115

[2019-09-24 15:54] #10492 closed

[2019-09-24 15:55] livarcocc commented on #12695
What is your project like? Could you share you csproj? Could you share a small repro repo on github we could use to try the issue?

[2019-09-24 17:14] mkArtakMSFT opened #12696 "dotnet publish (3.0)"
_From @pranavkm on Monday, September 23, 2019 6:04:07 PM_

_From @zygimantas on Monday, September 23, 2019 5:46:20 PM_

[Enter feedback here]

.NET 3.0 breaking change - I had to change after upgrade from 2.2 to 3.0:

`dotnet publish --configuration=Release --no-restore --output=../../dist src/Website`

to

`dotnet publish --configuration=Release --no-restore --output=dist src/Website`

---
#### D

[2019-09-24 17:14] mkArtakMSFT commented on #12696
_From @pranavkm on Monday, September 23, 2019 6:04:08 PM_

_From @Rick-Anderson on Monday, September 23, 2019 5:50:31 PM_

@pranavkm  who can review `dotnet publish --configuration=Release --no-restore --output=dist src/Website`

[2019-09-24 17:14] mkArtakMSFT commented on #12696
_From @pranavkm on Monday, September 23, 2019 6:04:10 PM_

_From @zygimantas on Monday, September 23, 2019 5:55:09 PM_

Solution structure is:

[code]

[2019-09-24 17:14] mkArtakMSFT commented on #12696
_From @pranavkm on Monday, September 23, 2019 6:04:11 PM_

_From @zygimantas on Monday, September 23, 2019 5:56:23 PM_

Error in 3.0-alpine docker container was:

[2019-09-24 17:14] mkArtakMSFT commented on #12696
_From @pranavkm on Monday, September 23, 2019 6:04:46 PM_

@vijayrkn does this seem familiar?

[2019-09-24 17:14] mkArtakMSFT commented on #12696
_From @vijayrkn on Monday, September 23, 2019 6:18:59 PM_

No. This is just plain 'dotnet publish'.

Adding @nguerrera

[2019-09-24 17:14] mkArtakMSFT commented on #12696
_From @zygimantas on Monday, September 23, 2019 6:31:17 PM_

Probably it's unrelated, but I use 3.0-alpine SDK image, but I haven't upgraded the code yet, so `        <TargetFramework>netcoreapp2.2</TargetFramework>` is still in csproj

[2019-09-24 17:14] mkArtakMSFT commented on #12696
_From @nguerrera on Monday, September 23, 2019 6:38:43 PM_

This was an intentional change and should be documented as such.

There was some discussion of including it in docs/release notes on https://github.com/dotnet/cli/issues/4765, but seems not to have happened. It has been this way in every 3.0 preview.

I believe this would best be tracked as a docs issue. cc @kathleendollard @livarcocc

[2019-09-24 17:42] WeihanLi commented on #12696
the same problem met, that's really a breaking change, a bunch of dockerfile had to update 😢

[2019-09-24 19:31] javadparvaresh commented on #12694
@livarcocc i agree with you, but in this process if you send the kill signal to the command ( in development environment which we usually use `dotnet run` ..) it just broke the terminal and sometimes i really need to open an other one to keep continue working. i thought maybe this issue is related to that one. but your explanation totally make sense. tnx

[2019-09-24 19:33] javadparvaresh commented on #12695
sure,
[code]

and `project.props file includes
[code]

[2019-09-24 19:39] livarcocc commented on #12695
I am sorry, I think I misunderstood your original issue. It seems that the problem here is that there is a warning when there wasn't one before. Is that correct?

@nkolev92 is this warning coming from NuGet? Is it new in 16.3?

[2019-09-24 19:40] livarcocc commented on #12695
By the way, while breaking, I do believe warning here is the right behavior, as it might be surprising for a dotnet pack command to run on a project, do not fail or warn and you end up without a nupkg for it.

Have you tried to NOWARN that particular error?

[2019-09-24 19:44] javadparvaresh commented on #12695
I'm sorry, maybe that's because of my english.

There no error is printing out just Warning, but also the project is not compiling. when i add `<IsPackable>true</IsPackable>` it works, but if you don't it will print out the warning and assembly will not created.

in older dotnet-cli it was working, but after installing new version ( dotnet cli 3 ), this problem occurred.

[2019-09-24 20:19] dasMulli commented on #12696
The change was made for a major version that semantically allows breaks but you probably needed to update your docker files for 3.0 anyway.
Meanwhile people would open issues that the way the output paths are handled seem just wrong and unnatural. I'd be interested to know if you think that what you needed to change to feels better given the current working directory and location of project and ou

[2019-09-24 20:24] dasMulli commented on #12695
Am I correct in assuming that you relied on the side effect of calling `dotnet pack` on a non-packable project also built the project but then stopped before packing and now no longer causes this side effect (since it figures out that there is no need to pack earlier)?

[2019-09-24 20:25] javadparvaresh opened #12699 "`dotnet run` fails to restore packages run application outside of the project directory"
## Steps to reproduce
My solution structure is something like this:

[code]

I tried to execute `dotnet run  --project=$PWD/src/Project1/project1.csproj` but it seems in restore process, The paths can't resolve properly and it returns `error CS0012`, but if i run the command inside project2 it will work perfectly.

## Expected  behavior
by running `dotnet run --project=$PWD/src/project2/project2.c

[2019-09-24 20:27] javadparvaresh commented on #12695
@dasMulli no `dotnet pack`. the problem is in `dotnet build` command. when i'm trying to build the solution which contains multiple projects, some of them has `<IsPackagable>true</IsPackagable>` some of them not. but build process fails for the `netcoreapp` projects.

[2019-09-24 20:31] livarcocc commented on #12699
Could you paste the exact message you are getting please?

[2019-09-24 20:35] javadparvaresh commented on #12699
sure, there is too much erros, i just pasted some of them

the command :
`dotnet run --project=$PWD/src/xxx.Keystone.Server/xxx.Keystone.Server.csproj`

[code]

[2019-09-24 20:36] dasMulli commented on #12695
I can reproduce the warning, however in my case the assemblies (.dll files) are created. Maybe this can be an issue with the treat-warnings-as-errors configuration.

[code]

It has to be the web sdk though. With the `Microsoft.NET.Sdk` no warning is triggered.

[2019-09-24 20:38] javadparvaresh commented on #12695
actually the project sdk is `Microsoft.NET.Sdk.Web`

My project file is like this :
[code]

if you need i can past the detail build logs

[2019-09-24 23:26] Kinematics opened #12701 "Package dependency directory has changed since preview"
## Steps to reproduce
Build project with any of various Microsoft.Extensions.XYZ packages (eg: Microsoft.Extensions.Configuration) using .NET Core 3.0 release.

## Actual behavior

The `Appname.deps.json` file that is produced on build points to reference directories such as "lib/**netcoreapp3.0**/Microsoft.Extensions.Configuration.dll".

## Expected  behavior

Previously, when using preview build

[2019-09-24 23:47] livarcocc commented on #12701
From what kind of project are you referencing this package?

If your project targets netcoreapp3.0, then this is behaving as expected. We are finding the best possible match to your project's TFM and using it.

if you were targeting netstandard2.0 or if you project needed netstandard2.0, say, it targeted netcoreapp2.1, then you would see netstandard2.0 being picked.

If it is behaving as I explain

[2019-09-24 23:47] #12701 closed

[2019-09-24 23:57] javadparvaresh opened #12702 "dotnet build failed exit code"
## Steps to reproduce
When `dotnet build` fails with error, it doesn't return `-1` exit code and also it prints out Build succeeded`.
in previous  version when one of projects failed to build all build process was failing.

## Expected  behavior
When one or more project fails to build, it should return `-1` exit code.

## Actual behavior
When one or more project fails to build, it returns success

[2019-09-25 00:05] Kinematics commented on #12701
The primary project is netcoreapp3.0.  The primary component of the solution (which is where the vast majority of the references are made from) is a netstandard 2.1 assembly.

I'm still uncomfortable with this, as it requires manual updates to the .csproj file in order to work around other .NET Core limitations.  In particular, I don't know why it's `netcoreapp3.0` instead of `netstandard2.1`.  Bu

[2019-09-25 06:46] elonmallin opened #12703 "dotnet pack with nuspec doesn't fill in $version$ and other variables"
There seems to be an issue when using a `nuspec` file with `dotnet pack` like `dotnet pack myproject.csproj -p:NuspecFile=myproject.nuspec`. The variables like `$version$` are not filled out.

## Steps to reproduce
1. Create a .NET Standard 2.0 library project in VS2019.
2. Create a `nuspec` file and put it in the root folder:
[code]
3. Run `dotnet pack myproject.csproj -p:NuspecFile=myproject.nus

[2019-09-25 08:40] Trolldemorted opened #12704 "PublishTrimmed trims too much (Could not load type 'System.Text.Json.JsonSerializer')"
## Steps to reproduce
- checkout https://github.com/VncDotnet/VncMatrix/tree/66fa86b446d2302ac4ae48723f8730e00dc720bd
- run  `dotnet publish -r win-x64 -c Debug /p:PublishSingleFile=true /p:PublishTrimmed=true --self-contained`
- run the built binary: `C:\Users\Benni\repositories\VncMatrix\VncMatrix\bin\Debug\netcoreapp3.0\win-x64\publish>VncMatrix.exe`

## Expected  behavior
The program starts su

[2019-09-25 08:45] secana commented on #11543
This is really unexpected behavior. Any plans to change it? Running a *dotnet publish* for each runtime seems unnecessary if a `RuntimeIdentifiers` exists which could build for multiple runtimes at once.

[2019-09-25 11:26] MarcoRossignoli opened #12705 "Copy dll from global‑packages to output"
Hi I'm Marco from coverlet https://github.com/tonerdo/coverlet

We have an issue with instrumentation through cecil, I'll explain what's happen.
Coverlet is usable through 3 drivers, msbuild, dotnet tool and vstest collectors, and it works for full and core .NET
After a user fire the test command with coverage enabled coverlet instrument needed assemblies.
To do that we use Mono.Cecil.
Mono.Cecil

[2019-09-25 14:13] mthalman opened #12706 "dotnet new command says netcoreapp3.1 TFM is not valid"
## Steps to reproduce
1. Install 3.1 SDK from Release/3.1.1XX branch.
2. Run `dotnet new console --framework netcoreapp3.1 --no-restore`

## Expected  behavior
Creates the project.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2019-09-25 17:09] severen commented on #11981
There are many good reasons for supporting this, such as a clear separation of cache data, local storage, and configuration files, which are of course useful for (a) clearing/managing cached data (b) backing up application data (c) backup configuration files (or putting them in VC as many Linux users are wont to do).

It is somewhat of a travesty that much new software is *still* continuing with t

[2019-09-25 17:19] nkolev92 commented on #12695
This warning has been around for a while, so it shouldn't be a new behavior.

@javadparvaresh

In your latest project you have IsPackable set to true.

detailed logs/binlog would be great, but keep in mind that the binlog would contain the environment variables etc.

[2019-09-25 18:12] livarcocc commented on #12702
Can you share a small repro repo for this?

I just tried this out with a console project referencing a class library. I introduced a compiler error on the classlib and build the console app.

The project failed as expected and reported an error. I also checked $? and it showed 1 as the exit code.

[2019-09-25 18:13] livarcocc commented on #12703
@nkolev92 can you take a look?

[2019-09-25 18:13] dagood opened #12713 ""dotnet new -l" using a 3.1.100 preview SDK welcomes me to .NET Core 3.0 instead"
(Copying from mail) Encountered by scenario testing on .NET Core 3.1.100-preview1-014066 SDK:

![welcome](https://user-images.githubusercontent.com/12819531/65627984-1e6c1900-df96-11e9-92f6-756a8ef87408.png)

It looks like this string controls it:

https://github.com/dotnet/cli/blob/5dd9784ad7f75ee4ebd74f7a177667470c9ec36e/src/Microsoft.DotNet.Configurer/LocalizableStrings.resx#L121

[2019-09-25 18:15] livarcocc commented on #12713
@wli3 seems like a simple and small fix. Can you take care of that?

[2019-09-25 18:16] wli3 commented on #12713
good catch

[2019-09-25 18:17] livarcocc commented on #12704
@jeffschwMSFT @sbomer

[2019-09-25 18:19] livarcocc commented on #11543
The way it works currently is that the RuntimeIdentifiers (plural) servers to inform NuGet that it should fetch all the necessary assets for all the Rids. Then, we you want to publish to a particular RId, you will need to do so one by one. We have a bug somewhere else to consider implementing the behavior of publishing for multiple rids, but I couldn't find it with a quick search, sorry.

[2019-09-25 18:22] nkolev92 commented on #12703
@elonmallin

The targets pack with nuspec works a bit different, see https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packing-using-a-nuspec.

You need to use the NuspecProperties property to pass the values.

Duplicate of https://github.com/NuGet/Home/issues/6636.

[2019-09-25 18:23] dasMulli commented on #11543
RuntimeIdentifiers (plural) was removed elsewhere on the docs for a few reasons, mainly the restore not fetching the right versions anyway - see https://github.com/dotnet/docs/issues/9239

cc @mairaw do you think it is reasonable to remove it from the above mentioned doc as well?

[2019-09-25 18:24] livarcocc commented on #12705
This is already the default behavior for 3.0. We will copy all assets during build to the build output. If you use .NET Core 3.0.100, you should see that behavior.

Also, you can force that to happen by setting `<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>`.

Let us know if any of these work for you.

[2019-09-25 18:25] #12703 closed

[2019-09-25 19:47] livarcocc commented on #12706
This should be fixed with the latest nightly. We were still ingesting 3.1 templates.

[2019-09-25 19:47] #12706 closed

[2019-09-25 20:09] ericstj commented on #12714
@livarcocc @nguerrera i think this is CLI /SDK behavior.

[2019-09-25 22:20] jeffschwMSFT commented on #12704
@Trolldemorted thanks for the feedback.  The Linker emits a warning with a link to this site: https://aka.ms/dotnet-illink.  Linking code that is reliant on reflection will require specific roots.  In this case you may be back to a working case with the following:

<ItemGroup>
  <TrimmerRootAssembly Include="System.Text.Json" />
</ItemGroup>

cc @sbomer @tlakollo

[2019-09-25 22:24] JustArchi opened #12716 "How do I generate framework-dependent deployments in .Net Core 3.0?"
Hey,

I'm trying to get pre-3.0 behaviour of `dotnet publish` without specifying runtime to build for, as I want to get a generic `Program.dll` file to run with `dotnet` utility.

Right now I'm getting framework-dependent executable in above place, which is alright in regards to the **[docs of changes](https://docs.microsoft.com/dotnet/core/deploying/#framework-dependent-executables-fde)**.

My qu

[2019-09-25 23:58] brunocampiol commented on #12714
I have same situation here. Previously it would push files into the specified folder. Now it is relative to the project, I think. Can someone look at this?

[2019-09-26 04:41] livarcocc commented on #12716
Your app will still work as a FDD app. You can still run `dotnet program.dll`. The `program.exe` that is in the output can simply be ignored.

The type of app that gets built has not been changed.

If you don't want the exe generated because you don't want to pay the file cost for it, you can turn that off by setting `<UseAppHost>false</UseAppHost>`.

[2019-09-26 04:41] #12716 closed

[2019-09-26 04:56] taori commented on #10336
Interesting. In some sample solution this fixed the issue, in my actual application it doesn't work.

[2019-09-26 07:33] mohag commented on #12714
#9892 seems to intentionally introduced the behaviour... (I'm not sure if it considered solutions instead of individual `.csproj` files though)

Also see #6700, #4765

[2019-09-26 08:39] MarcoRossignoli commented on #12705
Did some test
1) with 3.0 it works as expected
2) with 2.2 with `CopyLocalLockFileAssemblies` works only if `Microsoft.AspNetCore.All` is not referenced, sample repro with empty xunit project template.
[code]

[2019-09-26 08:49] JustArchi commented on #12716
Thank you!

[2019-09-26 09:18] dasMulli commented on #12714
Yes, this was an intentional breaking change for 3.0.

This is the way the CLI originally worked in the 1.0-preview area for project.json / .NET Core 1.0 pre-VS-2017. When moving to msbuild, this behaviour changed and it got some negative feedback. Re-rooting relative arguments to CLI commands is something unnatural that no other tool does. I was too late trying to get the change into 2.0 so 3.0 i

[2019-09-26 09:19] dasMulli commented on #12714
Btw it has been in every 3.0 preview so far..

[2019-09-26 09:22] FinexTech commented on #12714
Is there any sense to publish 2+ projects into the same (single) folder? Here I am talking about publishing solution, not single project.

[2019-09-26 09:25] dasMulli commented on #12714
https://github.com/dotnet/sdk/issues/3650

Calling `dotnet publish` on a sln file is gambling and I could sleep better at night if it just quit with an error.

[2019-09-26 09:25] dasMulli commented on #12714
`dotnet publish some.sln -r some-RID` => leap of faith no less

[2019-09-26 15:12] DatXN commented on #9321
This is the answer! Thank so much.

[2019-09-26 16:27] cphillips83 commented on #4825
This is a 3 year old issue that should be trivial to fix, so I'm not sure why this is still lingering around? Several suggested solutions have been presented and even the referencing issues to this one outline how this *mistake* came to be.

1. What we need is to either have the `-o` append each project name (just like pack is doing) to create a sub folder for each project.
2. Or allow us to add a

[2019-09-26 17:21] Viir opened #12723 ".NET core app does not start when published with `/p:PublishSingleFile=true`"
How can I use publishing of [single-file executables](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#single-file-executables)?

I tried to follow the instructions from https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#single-file-executables, but this did not work:

## Steps to reproduce

+ Clone the repository from https://github.com/Viir/bots
+ `publi

[2019-09-26 17:44] dasMulli commented on #12723
cc @swaroop-sridhar

[2019-09-26 17:49] Viir commented on #12723
Reading in the document at https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md : I found this paragraph interesting:

I found this interesting because the error message from the published app (quoted above) mentions a file with a name ending in `.pdb`. Here the error message again:
[code]

[2019-09-26 17:57] dasMulli commented on #12723
I've seen one or two other reports about errors when RID-specific content is involved together with single-file publishing.

the deps.json shouldn't contain links to runtimes/* folders when the app is published rid-specific, which is the case for single-file apps.

cc @dsplaisted @nguerrera

[2019-09-26 18:00] dasMulli commented on #12723
Adding

[code]

Could help in your situation, but I'm not sure and even if, it shouldn't be necessary in the first place.

[2019-09-26 18:15] Viir commented on #12723
I added this to the `.csproj` file: https://github.com/Viir/bots/commit/30e7533d92bd2aa0cb03baffbfaa009d579b9b3a (https://github.com/Viir/bots/tree/adapt-for-single-file-exe-publish)

I confirm this helps, at least the app seems to start normally. I did not find a problem with the apps behaviour when published from that version.

Adding the `IncludeSymbolsInSingleFile` resulted in the executable f

[2019-09-26 18:28] mrlife commented on #6896
@johnbeisner Is this available in Visual Studio for Mac?

[2019-09-26 19:46] swaroop-sridhar commented on #12723
@Viir: This problem here is that the app's definition (as dictated by the `deps.json` manifest) requires the presence of the `runtimes/win-x64/native/git2-572e4d8.pdb` file.  The .net core host is simply checking that we have all the files required by the manifest, and fails if it doesn't find the PDB embedded within the single-file app.

The correct fix is to not have the PDB file required by dep

[2019-09-26 20:00] swaroop-sridhar commented on #12723
CC: @dsplaisted

[2019-09-26 20:06] nguerrera commented on #12723
It is strange that pdbs would ever be in deps.json like that. I gues nuget thinks this is a native library?

[2019-09-26 20:33] dasMulli commented on #12723
if I understand the linked issues correctly powershell removes their PDBs.

I don't think that files in native folders should be assumed to be of special type.. it is valid that PDBs shouldn't be runtime libs trying to be loaded by the host. But also removing them from the publish (single file) seems off since the NuGet package should be free to include whatever is necessary - that may be symbols

[2019-09-26 21:47] swaroop-sridhar commented on #12723
@dasMulli the exclusion of PDB is just a default, and can be overridden by `IncludeSymbolsInSingleFile` property. I think if we reverse the default, most apps will build with `ExcludeSymbolsFromSingleFile` setting (or silently take a size penalty without noticing it).

[2019-09-27 13:03] IanKemp commented on #12558
For anyone else who needs to do the same, here is the ugly and fragile `dotnet pack` output-parsing code:

[code]

[2019-09-27 15:56] #12340 closed

[2019-09-27 17:18] Viir commented on #12723
@swaroop-sridhar thank you for the quick clarification.

Does this mean the `dotnet publish` command should output a message to inform us that the executable we just produced will never work?

So far, I did not find such a warning in the output from `dotnet publish`.

[2019-09-27 18:35] zygimantas commented on #12696
3.0 way is more natural

[2019-09-27 18:58] swaroop-sridhar commented on #12723
Sure, the since the SDK generates the deps.json file, it is possible to generate a warning if PDBs are included in deps.json files.

It is also possible to adapt the default to include the required PDBs in the single-file -- but this will silently hide a likely bug in one of the dependent packages and make the app larger unnecessarily.

I filed https://github.com/dotnet/sdk/issues/3685 to track th

[2019-09-27 21:06] TingluoHuang opened #12736 "`Dotnet.exe --version` shows different version"
## Steps to reproduce
- Download: https://dotnetcli.azureedge.net/dotnet/Sdk/2.2.300/dotnet-sdk-2.2.300-win-x64.zip
- unzip.
- `./dotnet.exe --version`

## Expected  behavior
`./dotnet.exe --version` => 2.2.300

## Actual behavior
`./dotnet.exe --version` => 2.2.401

## Environment data
`dotnet --info` output:

[code]

[2019-09-27 23:39] TingluoHuang commented on #12736
fixed by adding `global.json`...

[2019-09-27 23:39] #12736 closed

[2019-09-28 02:32] dquist commented on #9482
Ran into this problem literally the first hour of trying to set up a CI pipeline for my first .net core 3 project. This behavior is so... disheartening and is bad DX.

The added `upgrade` option is nice I guess, but it still downloads the tool every time making it impossible to utilize pipeline caching.

All I want to do is install the tool if it doesn't exist without having to download any extra

[2019-09-28 02:36] dquist commented on #9064
Except that using `--tool-path` still results in an error code if you utilize pipeline caching. This is not a solution.

All I want to do is install the tool if it doesn't exist without having to download any extra binaries. Why does this have to be so complicated?

[2019-09-28 06:15] Kurira commented on #11650
This still happens randomly on release bits. Usually on build either through vs or if dotnet tool tries to compile assembly. Never happened twice in a row though.

[2019-09-28 09:23] taori commented on #10336
@bbqchickenrobot Try removing your dependencies. After a while i found out what caused the issue for me. In my case it was a dependency on AspNetCore.RouteAnalyzer which relied on certain netcore versions. I assume that got the build configuration into a conflict. At least by referencing/dereferencing that nuget package i was able to toggle the issue on and off for me.

[2019-09-28 21:41] felizk opened #12749 "Settings for a self-contained WinForms goes into new folders for every publish"
## Steps to reproduce
 * Publish a self contained WinForms app.
 * Run it.
 * Change and save some Settings (using the WinForms style .settings)
 * Notice settings are saved in LocalAppData ultimately in a folder with this kind of postfix: "_Url_2z3wslwxp2unr2f2llkyxtrbrq3rb5cd"
 * Repeat, notice the postfix has changed and settings are not reused

## Expected  behavior
To be able to persist setti

[2019-09-28 22:36] AskYous commented on #10336
The documentation here explains to remove some packages when updating from v2.2 to 3.0.

https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio-mac#update-the-project-file

[2019-09-29 05:53] charsleysa commented on #11650
@peterhuene maybe this has something to do with WSL?

I found that if I have the project folder open in VSCode through WSL (no files open, just the project folder loaded in VSCode) then this error occurs, though I experience this error through Visual Studio not the CLI.

To get around this issue I close VSCode, wait a few seconds, run the compilation, then re-open VSCode. This allows it to compile

[2019-09-29 20:17] wli3 commented on #11650
@charsleysa i'll continue work on this issue.

Are you using the 3.0.100 SDK?

[2019-09-29 21:07] charsleysa commented on #11650
@wli3 yes, I'm using the 3.0.100 SDK that is installed alongside Visual Studio 2019 16.3.1

[2019-09-29 21:49] EatonZ commented on #8060
I would like to see this. I'm not sure I like the **PublishSingleFile** feature - I'd like to keep things in one folder instead of extracting everything to some temp folder. That's also slower - it's faster to have everything on the file system already, and having a feature to move the dlls into a subfolder would make it easier for users to find the main exe.

Also, @JustArchi, try adding this to

[2019-09-30 11:32] kvpt opened #12751 "Publish produce empty runtimeconfig"
Since DotNetCore 3.0 release, my CI/CD pipeline is broken because runtimeconfig.json file is now empty. My pipeline worked fine with 2.x release.

Is it intended ?
I doesn't found any breaking changes documentation for the 3.0 cli.

## Steps to reproduce

## Expected  behavior
runtimeconfig.json not empty

## Actual behavior
runtimeconfig.json empty

Using the all in one command produce the right

[2019-09-30 15:21] jnm2 commented on #9341
The `rollForward` field needs to be added as of .NET Core SDK 3.0.

[2019-09-30 15:57] dsplaisted commented on #9648
@Structed Yes, please provide the logs and repro project if possible.

[2019-09-30 16:00] johnbeisner commented on #12663
An install against the branch channel pointer is successful:
` .\dotnet-install.ps1 -channel release/3.0.1xx`

An install against the release pointer is successful:
`.\dotnet-install.ps1 -channel 3.0`

[2019-09-30 16:00] #12663 closed

[2019-09-30 16:11] jnm2 commented on #9341
I started a pull request removing the old properties and adding .NET Core 3.0's `rollForward` and `allowPrerelease` fields: https://github.com/SchemaStore/schemastore/pull/807

Can you get it to the right people for review? If it's just in the way, I can close it.

[2019-09-30 16:12] johnbeisner commented on #12571
closing issue...

[2019-09-30 16:12] #12571 closed

[2019-09-30 16:14] jnm2 commented on #9341
Never mind, that was fast! SchemaStore/schemastore#807 is already merged. Is there anything else that needs to happen before this issue is closed?

[2019-09-30 16:14] johnbeisner commented on #12632
Verified the install script download succeeds:
`./dotnet-install.ps1 -Channel 2.2`

[2019-09-30 16:14] #12632 closed

[2019-09-30 17:54] livarcocc commented on #12705
How exactly does it fail? It just does not copy the files?

Could you share binlogs for these with us? Or a repro repo on github we could use? If you decide to share binlogs, please take a look at https://aka.ms/binlog.

[2019-09-30 17:56] livarcocc commented on #12714
I agree with all the things @dasMulli has said above. We are looking to improve working with solutions in the 5.0 timeframe.

Meanwhile, the change as described by @dasMulli is by design for 3.0.

[2019-09-30 17:56] #12714 closed

[2019-09-30 17:59] livarcocc commented on #12696
This change was by design and aligns the CLI with the majority of other command line tools out there regarding this behavior.

[2019-09-30 17:59] #12696 closed

[2019-09-30 18:01] livarcocc commented on #12723
Closing this issue as there is a sdk issue tracking the action item from this thread.

[2019-09-30 18:01] #12723 closed

[2019-09-30 18:05] livarcocc commented on #10336
I am going to close this issue because it sounds like the problem occurs when migrating from 2.2 to 3.0.

For asp.net, this is not a matter of just retargeting the TFM. More work is needed to migrated, as documented on the link above.

If there are things missing on the documentation, I would suggest filling an issue against asp.net.

[2019-09-30 18:05] #10336 closed

[2019-09-30 18:07] livarcocc commented on #12749
This issue was moved to dotnet/winforms#1996

[2019-09-30 18:07] #12749 closed

[2019-09-30 18:08] livarcocc commented on #12751
@dsplaisted can you take a look?

[2019-09-30 18:09] livarcocc commented on #9341
Nothing. Thanks for taking care of it.

[2019-09-30 18:09] #9341 closed

[2019-09-30 18:15] MarcoRossignoli commented on #12705
Yep, with csproj above I cannot copy `Microsoft.Extensions.Logging.Abstractions.dll` to output folder if `Microsoft.AspNetCore.All` is referenced.
Without  `Microsoft.Extensions.Logging.Abstractions.dll` Mono.Cecil fails to "load" dependency.

[CoverletRepro.zip](https://github.com/dotnet/cli/files/3672642/CoverletRepro.zip)

Simple repro above.

1) Build as is and you won't find `Microsoft.Extens

[2019-09-30 18:19] livarcocc commented on #12705
When you add the asp.net package, that dll exists in the shared framework, so we are picking it from the shared framework and therefore we are not binplacing it.

[2019-09-30 18:22] MarcoRossignoli commented on #12705
That was my suspect...so is there a solution(for runtime under 3.0) or workaround...or the only way is "manual" copy of dll?
As I said above I don't know if it's possible write a [custom resolver](https://github.com/tonerdo/coverlet/compare/master...MarcoRossignoli:globakpackagesload)...because the resoluton matrix is complex and could change in future.

[2019-09-30 18:25] MarcoRossignoli commented on #12705
Is there a way to know shared framework version path though code?I could try to find the lib there.

[2019-09-30 18:29] MarcoRossignoli commented on #12705
Or some trick on csproj PackageReference to move dll to output.

[2019-09-30 19:38] dsplaisted commented on #12751
@knpt I think the issue will be fixed if you add `--self-contained False` to the `dotnet build` command line.

I also think this will probably be fixed when we fix https://github.com/dotnet/sdk/issues/2787

[2019-09-30 21:41] kvpt commented on #12751
@dsplaisted It doesn't work.

[2019-09-30 22:01] dsplaisted commented on #12751
@kvpt Try `-p:SelfContained=false` instead

[2019-09-30 22:07] kvpt commented on #12751
@dsplaisted I tried with `-p:Self Contained=false` which doesn't work,
but `-p:SelfContained=false` works.  👍

Thanks.

[2019-10-01 07:16] SirUppyPancakes commented on #11650
I also see the error in Visual Studio 2019 16.3.1 (3.0.100 SDK) when doing `Batch Build` -> `Select All` -> `Rebuild`:
[code]
The solution I'm building is made up of three projects:
- NET Standard 2.1 library
- NET Core 3.0 WPF library (references NET Standard 2.1 library)
- NET Core 3.0 WPF application (references both libraries)

The error occurs every third or so attempt and only seems to manif

[2019-10-01 08:20] chriss2401 commented on #5959
This is still an issue with 3.0.100-bionic :/

[2019-10-01 11:23] hoshymuc commented on #7610
I'd just like to add some timings here... i think it speaks for itself.

`time dotnet bin/Debug/netcoreapp3.0/consoleTest.dll`

real    0m0.184s
user    0m0.109s
sys     0m0.078s

`time dotnet run bin/Debug/netcoreapp3.0/consoleTest.dll`

real    0m6.336s
user    0m2.797s
sys     0m5.641s

dotnet --version
3.0.100

Ubuntu on Win10... I also see near identical timings with dotnet run on windows com

[2019-10-01 12:02] davidmilligan commented on #11378
I'm still seeing this issue when building with Azure DevOps using the MSBuild Task, even on the 3.0.100 release of .net core sdk.

[2019-10-01 15:48] dsplaisted commented on #11378
@davidmilligan Probably Azure DevOps hasn't been updated to Visual Studio 16.3 if you're getting this error.

[2019-10-01 15:57] jeffkl commented on #12175
Thanks again @johnbeisner!

[2019-10-01 18:41] livarcocc commented on #7610
The two times above are non-comparable. They are not meant to be equivalent.

`dotnet <path_to_dll>` is the expected way to run FDD apps and does not require the SDK. It does very little.

Meanwhile, `dotnet run` is a developer tool equivalent to F5 in VS or some other IDE. It does a bunch of things, like restore and build your project and then, it evaluates it to find the necessary commands to ru

[2019-10-01 19:13] blaz0r commented on #7610
Yeap, totally understood that there's more going on,  but you hit the nail on the head with regards to "similar to F5"... hitting F5 I'm sub 1 second and that's including an attached debugger, so 4-5 seconds without the debugger makes for a frustrating dev experience (incidentally, no build and no restore options didn't help).

Anyway, just adding weight as it's putting me off that particular dev

[2019-10-01 20:23] JaimeStill opened #12764 "Suggestion - dotnet CLI Tools User Installer"
Most of the work that I do is in an environment that has no internet connection. I routinely need to transfer packages from my internet connected environment to the offline environment.

Would it be possible to have a user profile based installer for the `dotnet` CLI, similar to how VS Code has a user installer? If not this, then would it be possible to have an executable download with a subset of

[2019-10-01 20:31] livarcocc commented on #12764
I am sorry. I don't quite follow your ask here. dotnet.exe on itself does very little. For instance, dotnet restore, is actually implemented by the SDK. Under the cover, dotnet.exe restore gets translated into dotnet dotnet.dll restore.

So, providing you a package that ships only dotnet.exe would do nothing, really.

[2019-10-01 20:35] JaimeStill commented on #12764
I would like to be able to prepare .NET Core 3 dependencies to be added to `%USERPROFILE%\.nuget\packages` similar to how the `nuget` CLI allows you to for .NET Framework / .NET Standard dependencies via:

[code]

This way, I can capture the dependencies, in the format expected for .NET Core based projects, and transfer them to my offline environment.

Currently, the only way I can accomplish this

[2019-10-01 21:51] livarcocc commented on #12764
This sounds more like a nuget feature. Please, file an issue for this at nuget/home.

[2019-10-01 21:51] #12764 closed

[2019-10-01 23:30] davidmilligan commented on #11378
But that’s the thing. It has been updated to 16.3.

[2019-10-01 23:43] lostmsu commented on #371
@blackdwarf would be nice if you linked to what replaced it, as this page comes up top when looking for ways to launch C# interactive on Linux.

[2019-10-01 23:45] livarcocc commented on #371
Nothing replaced it. This is not something we have put in the product or plan to at this time.

[2019-10-02 06:35] am11 commented on #10845
CI automation (even outside of dotnet org) used it to mute "Welcome to .NET" message. `DOTNET_SKIP_FIRST_TIME_EXPERIENCE` knob has been removed in v3.0 RC2  (7efbf4770630fd370779d222ce9aba35ffe56100).

The new. very implementation detail dependent, way for 3.0 is to create `.dotnetFirstUseSentinel` marker file:

[code]

[2019-10-02 09:37] tenigma commented on #11650
I just had the same thing on our buildserver (Windows Server 2016) with SDK 3.0.100 and I think for us the problem was that the path of the generated files are to long. Can it be?

I copied the folder to a shorter path and then the build worked.

[2019-10-02 10:45] generik0 opened #12777 "dotnet test, azure devops. Not working on with csproj and devops artifacts"
Hi
I have seen other issues (closed) regarding this matter. However none of them adress azure devopops (cload) and build agent.

The basic issue =

When trying to run a dotnet test on a csproj, with personal nugets on devops artifacts, even though the source is added to the build agent, the nuget fail for dotnet test.

This is even is there are adde previous tasks:
- dotnet restore (with nuget.con

[2019-10-02 13:01] devel0 commented on #11206
I solved by setting MSBUILD_EXE_PATH as described [here](https://github.com/microsoft/msbuild/issues/2532#issuecomment-532313911).

Instead if I set MSBuildSDKsPath that cause a different error `"/app/Current/Microsoft.Common.props"` ( seems paths mixed between sdk and compiling csproj )

[code]

[2019-10-02 13:16] StillLearnin commented on #2855
This is still a current issue.  We just updated a Nuget package and all the tests succeeded but the publish folder still had the old version and so production failed.  We fixed it by adding steps in the build process to delete the obj and bin folders but this should not be necessary.

[2019-10-02 14:35] godrose opened #12779 "starting a .NET Core 3.0 app using CLI and bash sporadically crashes"
## Steps to reproduce

1. Have several .NET Core apps all using Web Sdk.
2. Build all of them into the same output folder
3. Run all of them using the following code:
[code]
where `escapedArgs` is something like `dotnet $(executable).dll`

## Expected  behavior

It just works - all processes start and don't crash

## Actual behavior

Sometimes some of the processes crash

## Environment data
.NET

[2019-10-02 14:43] godrose commented on #12779
Process:               dotnet [51994]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        dotnet [51991]
Responsible:           dotnet [51994]
User ID:               501

Date/Time:             2019-10-02 17:41:33.171 +0300
OS Version:            Mac OS X 10.14.5 (18F132)
Report V

[2019-10-02 16:52] livarcocc commented on #12777
I am sorry. This is not the right repo for this issue. I would try nuget/home.

[2019-10-02 16:52] #12777 closed

[2019-10-02 17:12] generik0 commented on #12777
@livarcocc how can this be nuget home?:

- It is the dotnet test that does not allow a configfile parameter
- it is the dotnet buidl not understanding that the nugets are installed.

Sounds like the dotnet build is running from its responsibility.,
Are you sure we ewant to start a finger pointing contest beteen the MS nuget dudes and the MS dotnet build dudes?

[2019-10-02 18:26] johnbeisner commented on #6896
@mrlife
Visual Studio for Mac has an uninstall process that should address the removal of an SDK - however, my understanding is that the uninstall is not a single gesture.
@GouriKumari
Can you point to the Visual Studio for Mac uninstall documentation.

[2019-10-02 18:53] generik0 commented on #12777
@livarcocc anyway i found what i needed was "dotnet test --no-build" the "--no-restore" is not good enough as the build will trigger the restore. But the "dotnet test --no-build" does the job ;-)

[2019-10-02 19:07] JaimeStill commented on #12764
Please re-open due to [NuGet CLI being retired](https://github.com/NuGet/Home/issues/8654#issuecomment-537627101)

[2019-10-02 19:47] GouriKumari commented on #6896
You can find the  doc here: https://docs.microsoft.com/en-us/visualstudio/mac/uninstall?view=vsmac-2019

[2019-10-02 21:16] livarcocc commented on #12777
dotnet build invokes dotnet restore under the covers (quite, but not exactly). That piece of code is owned by NuGet and is better investigated by them. Which is why I suggested an issue there.

as for the `dotnet test --no-restore` not honoring the no restore because of build does sound like a bug on our side. Could I trouble you to file a separate issue for that. The no-restore flag should be pas

[2019-10-02 21:18] livarcocc commented on #12764
This is still an issue that needs to be looked at by NuGet. They own dotnet restore, even though it is surfaced through the CLI. They also own package restore and what you are asking is a variation of that.

[2019-10-02 22:41] livarcocc commented on #12751
Closing as there is a work-around available and a better bug tracking this.

[2019-10-02 22:41] #12751 closed

[2019-10-02 22:44] #12713 closed

[2019-10-02 22:46] livarcocc commented on #12705
@dsplaisted @nguerrera any ideas?

[2019-10-03 12:25] GouriKumari commented on #6896
@mrlife : This feature is not there for Visual Studio For Mac installer.

[2019-10-03 15:05] brunomartinspro opened #12794 "Have an Object output instead of string"
Having a string as an output to dotnet list package is not machine friendly.. we need objects to be able to parse this and use it.

[2019-10-03 15:09] livarcocc commented on #12794
List package is implemented by NuGet. We have asked them for this feature already. Please, go ahead and file an issue on nuget/home for this.

cc @wli3

[2019-10-03 15:09] #12794 closed

[2019-10-03 15:57] dsplaisted commented on #12705
@jeffschwMSFT / @jbevain Is there a good way to programmatically resolve assemblies from the shared framework in order for Mono.Cecil to be able to analyze / instrument user assemblies?

If reference assemblies will work, you may be able to use `PreserveCompilationContext`, and then the reference assemblies for the shared framework should be included in the output.

[2019-10-03 18:46] los93sol opened #12795 "dotnet tool install fails behind authenticated proxy on linux"
## Steps to reproduce
export http_proxy=<proxy info here>
export https_proxy=<proxy info here>
dotnet tool install --global dotnet-trace

## Expected  behavior
It should install the dotnet-trace tool

## Actual behavior
It fails with
/dotnet/sdk/3.0.100/NuGet.targets(123,5): error : Unable to load the service index for source https://api.nuget.org/v3/index.json. [/tmp/nmcypofv.dnl/restore.csproj]

[2019-10-03 18:48] los93sol commented on #12795
If i add http_proxy to the config section in /root/.nuget/NuGet/NuGet.Config I get the following
/dotnet/sdk/3.0.100/NuGet.targets(123,5): error : Unable to load the service index for source https://api.nuget.org/v3/index.json. [/tmp/54carrug.d2x/restore.csproj]
/dotnet/sdk/3.0.100/NuGet.targets(123,5): error :   GSSAPI operation failed with error - Unspecified GSS failure.  Minor code may provide

[2019-10-03 18:49] los93sol commented on #12795
Also worth noting that I have also tried installing gssntlmssp package as well but that doesn't resolve the issue either

[2019-10-03 18:51] wli3 commented on #12795
Could you repro it with nuget restore? Like using dotnet add package ? Since dotnet tool use nuget underneath.

[2019-10-03 18:56] los93sol commented on #12795
Not sure what you mean exactly, like dotnet restore on a project?  nuget seems to be encapsulated within dotnet tool so unless I manually install the mono version of nuget I'm not sure how I would go about that

[2019-10-03 18:58] wli3 commented on #12795
No, I mean setting `export http_proxy=` etc first. And then run an add package for a random nuget package like

`dotnet add package Newtonsoft.Json --version 12.0.2` see if you cannot download any thing from nuget

[2019-10-03 19:05] los93sol commented on #12795
Results coming shortly.  I'm doing this in a docker container so it's trivial for me to start fresh, really just need to get this working as I have an app I need to do some performance profiling on

[2019-10-03 19:11] los93sol commented on #12795
It's just hanging with no error so far

[2019-10-03 20:08] #12004 closed

[2019-10-03 20:32] thomasd3 commented on #11543
This is an issue when using docker; for example I develop using a mac, but I deploy for docker / linux. By forcing a single identifier, I can't use the same project for developing and for deployment.

[2019-10-03 20:47] dasMulli commented on #11543
You can. Just don't set `RuntimeIdentifiers` in the project file. Adding `-r the-rid` to the publish command will create the correct output for the specified runtime.

[2019-10-03 23:59] jeffhongxiao commented on #533
this might be helpful: https://stackoverflow.com/a/57880964/3380951

[2019-10-04 00:17] michaelblyons commented on #533
Haha, I went there and discovered that it's [a cask tap](https://github.com/isen-ng/homebrew-dotnet-sdk-versions) written by the commenter above you. Thanks @isen-ng! 😉

[2019-10-04 01:21] hlubovac opened #12799 ""The current .NET SDK does not support targeting .NET Core 3.0.""
I can't make my system/VS recognize dotnet SDK 3.0, which I just installed today. Obviously, I rebooted, and googled, and checked all hints listed here: https://www.ryadel.com/en/current-net-sdk-not-support-net-core-3-0-fix/

For some reason, my system is using sdk 2.2 to compile a project targeting 3.0, while dotnet 3.0 sdk is installed and default. The error message that I'm getting is this:
[co

[2019-10-04 01:27] hlubovac commented on #12799
No, I don't have `global.json` file within my project/solution directories; searched the whole system, too. I also tried clearing solution, restarting VS and the system, deleting the solution's `.vs` folder - not a budge. I kind of feel that there might be another setting that tells my VS to stubbornly use SDK 2.2.

[2019-10-04 11:13] am11 opened #12805 "Display template version with dotnet-new --list"
## Steps to reproduce

[code]

## Expected  behavior
[code]

## Actual behavior

[code]

## Environment data
[code]

[2019-10-04 13:02] los93sol commented on #12795
I ended up getting it working, not sure what exactly I did that finally got it to go, but it's working now, probably going to open a new issue with CoreFx repo as a feature request to have parity with other things in Linux like curl where this worked as expected without all the additional fuss

[2019-10-04 13:02] #12795 closed

[2019-10-04 13:30] nimor109 commented on #11378
Same issue as @davidmilligan here. It works for the devs locally but not on Azure DevOps MSBuild Task.
We also have the latest VS version installed

[2019-10-04 14:27] benmccallum commented on #4808
Somehow this isn't an issue for me locally but is when used in a dockerfile. Super confused. My machine has the 3.0.100 SDK whereas I'm in a docker container using the 2.2 SDK image. Could this be fixed in 3.0? Can anyone else confirm?

[2019-10-04 15:31] luhis opened #12808 "dotnet restore fails on Ubuntu 16.04"
I have updated my site to dotnet core 3.0, but it fails to restore the packages.  Dotnet restore just hangs.  Reverting back to my old core 2.2 version worked.  I tried using a brand new Ubuntu Server 16.04 image and it restored just fine.  It looks like a similar issue to this https://github.com/dotnet/cli/issues/11560 however setting MSBUILDDISABLENODEREUSE=1 made no difference

## Steps to repr

[2019-10-04 15:35] hlubovac commented on #12799
Came back to the same project, untouched in the meantime (short of another OS reboot), and this magically started working.
![image](https://user-images.githubusercontent.com/3127736/66220404-cd3ce300-e681-11e9-9fa3-450d5c09d08d.png)

So, I'm good, but I'm convinced that there are definitelly installation-related quirks.

[2019-10-04 15:35] #12799 closed

[2019-10-04 15:44] roxxshivamsingh commented on #9519
Finally I resolved this problem!!
Because of 3.0 version. You need to uninstall completely with following steps:
1.go cmd and type "dotnet tool uninstall -g mlnet"
2. Go program files and uninstall dotnet core 3.0
3. download (if you don't have) 2.2.204 version which is capable for dotnet mlnet
Thanks!!

[2019-10-04 16:31] patanne commented on #11543
There is a problem with @dasMulli's suggestion. I'll explain, but first the issue.

I am writing a utility that will run on Windows, Mac, & Linux. Requiring a project for each platform is almost as stupid as .NET Core not running on Intel 32-bit, almost. Yet that is what it seems is needed.

If I create a publish profile within Visual Studio 2019 or JetBrains Rider for that matter, even if I set d

[2019-10-04 17:22] MikhailArkhipov opened #12809 "Failed to create CoreCLR, HRESULT: 0x80004005 when using VS Core Python in remote"
https://github.com/microsoft/python-language-server/issues/1595

## Steps to reproduce
- VsCode + Python extension with [remote](https://code.visualstudio.com/docs/remote/remote-overview)
- Set `python.jediEnabled = false` in settings to switch to Microsoft Python Language Server
Open Python project from code opened out of a Debian terminal running in WSL.

### Notes:
Microsoft Python Language Ser

[2019-10-04 19:14] johnbeisner commented on #9832
no longer viable given repo consolidations...

[2019-10-04 19:14] #9832 closed

[2019-10-05 07:35] MarcoRossignoli opened #12821 "Strange Included value passed to `dotnet test`"
Hi I'm Marco from Coverlet.

I've a question about the verb test.
In coverlet we allow to users to pass some parameters to specify an "include" filter(globbing).
Sometime for some project I found that also if user doesn't pass anything I find some strange filter, for instance:
[code]
I get this "Include" filter(the switch to pass to coverlet include is for instance `/p:Include:[asm*]*` https://git

[2019-10-05 21:42] 0xd4d commented on #12821
Do you run that command inside of a VS command prompt? It sets an `INCLUDE` environment variable.

Coverlet shouldn't use common names such as Include, Exclude etc, but should add some prefix eg. CoverletInclude etc to minimize problems like this. I think there's an issue already.

[2019-10-06 04:12] ooXei1sh commented on #11650
Similar exception seen using VSCode with `dotnet watch run` command in windows 10 linux subsystem terminal:
C:\Program Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.targets(370,5): error MSB4018: The "CreateAppHost"
 task failed unexpectedly.

Closing and reopening VSCode would fixed temporarily.
Just Disconnecting from WSL Ubuntu within VSCode seems to have solved it.

[2019-10-06 06:54] MarcoRossignoli commented on #12821
I agree...

[2019-10-06 16:43] Jalalx commented on #11679
Hello @peterhuene !
I would like to contribute to this feature. As you mentioned two commands are required:

Do you mean a command like `dotnet sln configure Solution1.sln from ConsoleApp1.csproj` which would change a blank solution to:
[code]
for a default `.csproj` like this:
[code]
Also

Something like `dotnet sln configure Solution1.sln remove ConsoleApp1.csproj` which would remove all configu

[2019-10-06 20:47] robborden commented on #11378
I am getting this issue using Rider on MacOS with 3.0.100 SDK when trying to reference a netstandard2.1 library in a netcoreapp3.0 project.    I have removed all preview SDKs and Runtimes.

`dotnet build` works fine from the command line but when Rider uses MSBuild 3.0.100 to do the build I get these errors.

This error seems like it might be indicative of something:
[code]

[code]

[2019-10-07 07:05] MarcoRossignoli commented on #12821
@0xd4d thank's for the hint...I didn't think about...and yes usually I work on vs command prompt, confirm you thesis.

[2019-10-07 07:05] #12821 closed

[2019-10-07 19:01] bender2k14 opened #12842 "dotnet test has exit code 0 despite BadImageFormatException"
## Steps to reproduce and Environment data
When using the [pool](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#pool) with VM image label [`windows-2019`](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#use-a-microsoft-hosted-agent), the relevant part of the `dotnet --info` output is
[code]

Therefore, it is

[2019-10-07 21:12] livarcocc commented on #12842
This issue was moved to microsoft/vstest#2217

[2019-10-07 21:12] #12842 closed

[2019-10-07 21:15] livarcocc commented on #11378
I am not sure how Ryder works, but given that it works from the command line, I suspect they might be copying tasks/targets and they may be stale.

I would file an issue against Ryder for this.

[2019-10-07 21:16] livarcocc commented on #11679
@KathleenDollard can we work together to figure out what these commands should look like?

[2019-10-07 21:21] livarcocc commented on #12809
This is not the right repo to file this issue. This repo covers the command line development tools for .NET Core, not the runtime itself.

I am going to go ahead and move this issue to core-setup for the next layer of investigation.

[2019-10-07 21:26] livarcocc commented on #12808
This issue was moved to NuGet/Home#8667

[2019-10-07 21:26] #12808 closed

[2019-10-07 21:28] livarcocc commented on #12705
@MarcoRossignoli would reference assemblies work, as @dsplaisted asked above?

[2019-10-08 08:29] Lydia-Shi commented on #12713
Verified this bug with .Net core 3.1.100-preview1-14455 from release branch, the issue has been fixed.
Result as below image:
![ShowCore3 1](https://user-images.githubusercontent.com/54019172/66379209-97805d00-e9e7-11e9-947d-6a84f735973f.PNG)

[2019-10-08 09:52] MarcoRossignoli commented on #12705
@livarcocc I've added `<PreserveCompilationContext>true</PreserveCompilationContext>` to PropertyGroup but no luck.
I'm trying also this way by @jbevain https://github.com/jbevain/cecil/issues/306#issuecomment-263157799 but if run with core 3.0 I don't find any valid path for lib `Microsoft.Extensions.Logging.Abstractions` and if downgrade to 2.2(the project version of user issue) I get exception

[2019-10-08 10:54] dasMulli commented on #12705
There was a related discussion at https://github.com/dotnet/core-setup/issues/4975
TL;DR the host doesn't even provide APIs to resolve shared frameworks locations so users would have to re-implement even more of the host's resolution logic. The dependency model API also doesn't process runtimeconfig.json and thus has no knowledge of the shared frameworks being used.

[2019-10-08 10:55] dasMulli commented on #12705
This should create a `ref` subdirectory in the build/publish output, but it will only contain reference assemblies.

[2019-10-08 11:37] MarcoRossignoli commented on #12705
@dasMulli thanks's, do you know where is this logic?Some repo link?I know that is fragile and could change in future...but maybe we could reach best-effort.

[2019-10-08 11:49] dasMulli commented on #12705
Most of it is in https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/multilevel-sharedfx-lookup.md, https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/host-probing.md and other files in that directory.

Though i'm sure you could try some hacks to simplify it whil covering 90%+ of user configurations.
E.g. trying to find out where your current CoreCLR

[2019-10-08 12:23] robborden commented on #11378
It does not work from the command line.  `dotnet build` works.  I cannot run `msbuild` directly, it has the same errors.  I also cannot run `dotnet msbuild`, it also has the same errors.  When I run `msbuild`, I believe it is doing `exec /Library/Frameworks/Mono.framework/Versions/6.4.0/bin/mono $MONO_OPTIONS /Library/Frameworks/Mono.framework/Versions/6.4.0/lib/mono/msbuild/15.0/bin/MSBuild.dll`

[2019-10-08 12:51] nguerrera commented on #12705
That seems fine for the purpose at hand to me. Why would you need implementation of framework to instrument user assemblies?

I'd like to understand more about why https://github.com/dotnet/cli/issues/12705#issuecomment-539440201 didn't work out. Do you have a repro of that approach failing? Is it possibly same as disccussed in https://github.com/dotnet/core-setup/issues/8490 where you need to als

[2019-10-08 13:00] MarcoRossignoli commented on #12705
@nguerrera when we instrument Cecil need to load types that are present on shared framework or fail. The only workaround now is manual copy missing dll to output.

Sample is here https://github.com/dotnet/cli/issues/12705#issuecomment-536685114

[2019-10-08 13:04] dasMulli commented on #12705
The question is more if it would be enough for Cecil to load types from reference assemblies for reflection purposes, similar to how the reference assemblies for compilation are passed to roslyn/csc for compilation.

[2019-10-08 13:07] MarcoRossignoli commented on #12705
In these case I think so...we instrument and re-write only users dll not dependencies.

[2019-10-08 13:26] dasMulli commented on #12705
PreserveCompilationContext should however cause your deps.json file to contain references to the DLL files being used (in "compile" lists) which can be found by applying the package name/version and relative path to one of the paths listed in xyz.runtimeconfig.dev.json as additional probing paths.

So in my case:
xyz.runtimeconfig.dev.json:
[code]
xyz.deps.json:
[code]

[2019-10-08 13:42] MarcoRossignoli commented on #12705
Confirm publish work build not
![image](https://user-images.githubusercontent.com/7894084/66400507-e4613500-e9e1-11e9-8838-765b358f6180.png)

So I could try a pair of trick
1) Add probing directory to Cecil to .\refs if user publish+PreserveCompilationContext should work
2) Try found dll using `Microsoft.Extensions.DependencyModel` or manually...does `Microsoft.Extensions.DependencyModel` handle a

[2019-10-08 14:52] naricc opened #12846 "dotnet-sdk-5.0 depends on dotnet-apphost-pack-5.0, dotnet-targeting-pack-5.0. Do those packages exist?"
I am trying to install the latest build on unbutu, using dpkg, but there are some packages I can't find any where linked on the github page. Specifically otnet-apphost-pack-5.0, dotnet-targeting-pack-5.0.  Are these packages available somewhere?

For reference, here is the command I am using, and the output:

$ sudo dpkg -i dotnet-sdk-latest-x64.deb
(Reading database ... 115796 files and directori

[2019-10-08 16:01] dsplaisted commented on #11378
@robborden Can you open a new issue for the failures you're encountering?  The error message is the same but I don't believe the root cause is the same as this issue which has been fixed.  Thanks!

[2019-10-08 17:02] livarcocc commented on #12846
Try looking for them at dotnet/core-setup.

More instructions can be found there: https://github.com/dotnet/core-sdk. It contains a link to https://github.com/dotnet/core-setup#daily-builds

[2019-10-08 17:02] #12846 closed

[2019-10-08 18:52] voroninp opened #12849 "'dotnet publish' ignores file name casing."
## Steps to reproduce
Create a project named with Pascal casing style and DO NOT set `<AssemblyName>` element explicitly.
In my case project's name is  `Luscii.Identity.Service.csproj`.

Then call `dotnet publish Luscii.Identity.Service.csproj`
You'll end up with published application containing `Luscii.Identity.Service.dll` file.

Delete `publish` folder !

Now call `dotnet publish luscii.identit

[2019-10-08 20:23] robborden commented on #11378
Will do, thank you.

[2019-10-08 20:43] robborden opened #12850 "Compatibility errors between netcoreapp3.0 app and netstandard2.1 library when using MSBuild"
We have a dotnet codebase that contains a 4-5 dotnet core applications as well as around 20 dotnet standard libraries.  These are all separate projects in the same solution. The dotnet core apps reference several of the dotnet standard libraries. We recently migrated everything to netcoreapp3.0 and netstandard2.1.  The other devs working on the project (one in windows, one on macos) are not having

[2019-10-08 20:49] livarcocc commented on #12850
I believe this is either an issue with Mono or with Ryder. It seems like they have some out of date components where this issue has not been fixed. We did fix this a while ago, which is why this works for dotnet build.

Though, `dotnet msbuild` should work.

@dsplaisted is this the sort of issue you were looking into?

[2019-10-08 20:55] robborden commented on #12850
[code]
[code]

[2019-10-08 21:04] robborden commented on #12850
I can provide more complete logs if I can PGP encrypt them before sending.  I just confirmed again that the solution does build successfully when using `dotnet build`

[2019-10-08 21:16] dsplaisted commented on #12850
`dotnet msbuild` should have very similar behavior to `dotnet build`.  The only difference should be some defaults around output verbosity, and the fact that `dotnet build` should implicitly restore (the same as if you ran `dotnet msbuild /restore`).  I suspect the NU1201 failure you are seeing is from a failed restore with the wrong version of some piece of the SDK, but if you run `dotnet msbuild

[2019-10-08 22:26] robborden commented on #12850
Ok, I ran `dotnet msbuild /restore` and it completed successfully!  I was then able to run `msbuild` and it also completed successfully as did `dotnet msbuild`.

I then tried to do a build in Rider and it failed with the same errors as before.  I then tried `dotnet msbuild` again and it also failed and then I needed to run `dotnet msbuild /restore` again to get it back.

So it seems something with

[2019-10-09 00:37] KathleenDollard commented on #11679
I'm happy to work on the CLI, but I'm afraid I'm way out of touch/recollection on sln files and configuration.

[2019-10-09 10:18] NikolayPianikov commented on #9648
Repo: https://github.com/burnasheva/mstest_dotnet3.git

Cmd: `dotnet.exe build MSTestCore.sln --framework netcoreapp3.0`

[dotnet --info](https://github.com/dotnet/cli/files/3706770/info.txt)

Error:

`CSC : error CS2012: Cannot open 'C:\BuildAgentJDK_Branch\work\bd8628495f4400ff\PrimeService\obj\Debug\netcoreapp3.0\PrimeService.dll' for writing -- 'The process cannot access the file 'C:\BuildAgen

[2019-10-09 10:37] jeffkhull commented on #12110
For anyone else having this problem after installing the dotnet cli using apt on ubuntu, I found that having dotnet at /usr/share/dotnet doesn't work on its own.  However, if I create a symlink from /usr/share/dotnet to ~/dotnet, it works.  I also have set the MSBuildSdksPath:

`export MSBuildSDKsPath="/usr/share/dotnet/sdk/$(dotnet --version)/Sdks"`

[2019-10-09 12:08] sourcetonuts opened #12853 "new Ping(); fails on .NET Core 3.0 Trimmed Build"
## Steps to reproduce

Building in .NET and trimming causes new Ping() to throw an exception

Unhandled exception. System.TypeLoadException: Could not load type 'System.Net.NetworkInformation.Ping' from assembly 'System.IO.FileSystem, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

## Expected  behavior

It shouldn't throw an exception when built with .NET and trimmed.

## Act

[2019-10-09 12:24] robborden commented on #12850
Well this is a little embarrassing but it appears I just needed to update Rider.  I tried to update it on a few days ago and it only updated from 2018.3.4 to 2018.3.5.  I just checked for updates again to make sure I updated and now it says there is a 2019.2 update available.  After updating, everything is working properly.  :-|  Thank you for your assistance!

[2019-10-09 13:06] ewest305 opened #12854 "PackageReference element format leads to GIT merge conflicts"
DOTNET Add Package results in a xml format that GIT reports as a merge conflict when using command line for the first time, even though the package has not technically changed.

## Steps to reproduce
This is just one of many ways to reproduce issue:
1. Use Nuget Package Manager to add any reference to a project
2. GIT Commit/Merge
3. Use DOTNET Remove to remove the same package
4. Use DOTNET Add t

[2019-10-09 14:22] #12850 closed

[2019-10-10 10:05] Jepson109 opened #12856 "Button "Uninstall" is truncated on the SDK uninstallation wizard with Japanese"
## Steps to reproduce
1.Open the sdk installation file (.NET core SDK 3.1.100-preview1-014459) and install it.
2.Open control panel and uninstall the SDK(3.1.100-preview1-014459)
2.Observe the button "アンインストール" .

## Expected  behavior
Button content isn't truncated

## Actual behavior
Button content is truncated
![image](https://user-images.githubusercontent.com/38854445/66559124-6a6ab080-eb87-11

[2019-10-10 12:29] conkman commented on #11650
I am also running into this on our Dotnet core 2.2 project.  It is very intermittent.  Has a root cause been found yet?

[2019-10-10 13:48] benmccallum opened #12857 "dotnet publish can't find resource files"
In a docker container I'm trying to do a `dotnet publish` on one of my projects, but the build says a resource file that needs to be embedded can't be found. I've confirmed it exists (docker COPY commanding my whole source root and `ls -alR` says it's there too.

    CSC : error CS1566: Error reading resource 'AutoGuru.GraphQL.Queries.ArticleTileQuery.ArticleTileQuery.graphql' -- 'Could not find a

[2019-10-10 14:27] aolszowka commented on #11679
You might also want to watch out for the default Visual Studio behavior which IIRC is that for each new Project Configuration, all existing projects receive configuration sections for it as well (even if they were not applicable). In our world it got out of hand very quickly resulting in solution files that were several MB in size due to the possible solution combinations. We settled on enforcing

[2019-10-10 14:46] benmccallum commented on #12857
Sorry, turns out the file wasn't there, was in a side-by-side directory tree... Closing.

[2019-10-10 14:46] #12857 closed

[2019-10-10 14:52] aolszowka opened #12858 "Consdering Adding dotnet sln sort"
## Steps to reproduce
Have The following:

1.  One Solution File (`Common.sln`)
2.  Two Branches (`FeatureA` / `FeatureB`)
3.  Two Projects (`A.csproj` / `B.csproj` )

On `FeatureA` Branch Developer X realizes that they need to add components `A.csproj` and `B.csproj` to `Common.sln` to support a feature they are working on. They perform an `dotnet sln add` in the order `A.csproj` and `B.csproj`

[2019-10-10 15:04] nimor109 commented on #11378
@dsplaisted you say it should be fix now? I still can't build my solution using Visual Studio Build. The VS version installed on the build machine is : 16.3.29324.140
I have the following error :
##[error]C:\Program **Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.FrameworkReferenceResolution.targets(263,5): Error NETSDK1073: The FrameworkReference 'NETStandard.Library'

[2019-10-10 16:08] stuartd opened #12860 "Calling dotnet test from a shell script fails on Ubuntu server with net core 3"
We have a shell script that runs our .net core 3 integration tests on a Ubuntu server: it was running just fine, but since upgrading to .net core 3 it has stopped working.

It still works on OSX and in WSL using net core 3 (and the equivalent .bat file works on Windows).

I have reinstalled .net core 3 on the server but to no effect.

There are two problems, which are detailed below:

1. Calling `

[2019-10-10 16:42] dsplaisted commented on #11378
@nimor109 Yes, if you are still getting NETSDK1073, please open a new issue.  If you can [provide a binary log](http://aka.ms/binlog) of the failing build in the issue that will be very helpful.

[2019-10-11 03:07] khteh opened #12870 "error MSB6006: "csc.dll" exited with code 137"
## Steps to reproduce

![Screenshot from 2019-10-11 10-54-24](https://user-images.githubusercontent.com/3871483/66621543-3e970b80-ec17-11e9-925d-7a2ac8db224f.png)

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:
[code]

[2019-10-11 08:44] TimonDDD opened #12872 ""dotnet publish" doesn't add file version, product name in properties of executable"
## Steps to reproduce
Create F# console app, target netcoreapp3.0
specify Version, FileVersion, AssemblyVersion, etc in the .fsproj file
run `dotnet publish -f netcoreapp3.0 -r win10-x64 -c Release /p:PublishSingleFile=true /p:PublishTrimmed=true --self-contained`
to make executable
## Expected  behavior
executable should have file version, product name, etc in properties
## Actual behavior
execut

[2019-10-11 09:15] shidouli opened #12873 "X509Extension.Format() doesn't work well in macOS system"
## Steps to reproduce
MacOs:
PS > $ext.Format($false)
3042304006082B06010505073002863468747470733A2F2F73632D7072642D636F6D702D76633035342E656E672E766D776172652E636F6D2F6166642F766563732F6361

While the same certificate in Ubuntu:
PS > $ext.Format($false) CA Issuers - URI:https://sc-prd-comp-vc054.eng.vmware.com/afd/vecs/ca

## Expected  behavior
In the MacOs, it should return the same result with

[2019-10-11 20:18] MisinformedDNA opened #12877 "Run selenium in a global tool"
# Steps to reproduce

1. Create a console app (.NET Core 2.1)
2. Add NuGet references for `Selenium.WebDriver`, `Selenium.WebDriver.ChromeDriver`
3. Add this code to instantiate the driver: `_ = new ChromeDriver(".");`
4. Go to command line
5. Run `dotnet pack`
6. Unzip the packed file and verify that `chromedriver.exe` is there
7. Run `dotnet tool install --global --add-source ./nupkg SeleniumToo

[2019-10-11 20:27] wli3 commented on #12877
tools package contains a framework dependent app. The exe on the path is generated by SDK. So chromedriver.exe should only be an asset (like a txt file) to be included.

The error is specific to the application (should be the logic in the referenced package) itself. And the application cannot find the chromedriver.exe file. The problem should be at how the application discover chromedriver.exe ass

[2019-10-11 20:27] #12877 closed

[2019-10-11 20:35] MisinformedDNA commented on #12877
Right, I didn't think it was a bug, which is why I posted originally at SO. I'm lost as to how to resolve this error.

So should I change something in the project file?

Yes, how? This is the problem. I can't find any guidance on this.

[2019-10-11 20:44] wli3 commented on #12877
Since you find it under `%USERPROFILE%\.dotnet\tools\.store\seleniumtoolpoc\1.0.0\seleniumtoolpoc\1.0.0\tools\netcoreapp2.1\any` it should be already included.

The problem I think should be in how Selenium.WebDrive or Selenium.WebDriver.ChromeDriver discover the exe. If it discovers the chromedrive.exe by searching for the file name around the dll (assembly location), it should work for tools.

[2019-10-12 02:32] Amy-Li02 commented on #12713
"dotnet new -l" using a 5.0 SDK welcomes me to still .NET Core 3.0 instead.
![image](https://user-images.githubusercontent.com/49627022/66693414-225ca280-ecdb-11e9-9abb-1be959a03803.png)

[2019-10-12 23:33] mwpowellhtx commented on #8743
Help us understand the decoder ring configuring our side by side environment supporting a VS2017 build pipeline? Specifically we are targeting things like `netstandard2.0` and `netcoreapp2.1`. Since installing VS2019, this is superseding what was once a healthy VS2017 environment. Seems like we need to introduce a `global.json` with an appropriate `sdk.version`, but we need help with the table.

W

[2019-10-14 07:50] John0King opened #12885 "Does consume COM component be supported?"
## Steps to reproduce
1. create a class library that use com, and target net461
2. dotnet build

## Expected  behavior
build success and there's a com dll in the project

## Actual behavior
C:\Program Files\dotnet\sdk\3.0.100\Microsoft.Common.CurrentVersion.targets(2726,5): error : MSB4803: .NET Core 版本的 MSBuild 不支持“ResolveComReference”。请使用 .NET Framework 版本的 MSBuild。有关更多详细信息，请参阅 https://aka.ms/ms

[2019-10-14 07:58] khteh opened #12886 "publish -f netcoreapp3.0 errorneously looks for 'Microsoft.NETCore.App', version '2.0.0-preview1-002111-00'"
[code]

## Environment data
`dotnet --info` output:
[code]

[2019-10-14 08:23] khteh commented on #12886
[code]
Doesn't help.

[2019-10-14 11:51] 0xd4d commented on #12885
https://github.com/microsoft/msbuild/issues/3986

The workaround is to use `msbuild.exe` (you need VS or VS build tools).

[2019-10-14 21:52] #12885 closed

[2019-10-14 21:54] livarcocc commented on #12886
This is an issue with the tool being used in your project. It targets netcoreapp 2.0.

After you updated the BundleMinifier package version, did you run a restore on the project? I see your publish command has --no-restore on it.

[2019-10-14 21:56] livarcocc commented on #8743
@mwpowellhtx to target 2.1, you need at least a 2.1 SDK. An SDK is always capable of targeting all the TFMs that came with it. So, 2.1 can target 2.1, 2.0, 1.1 and 1.0.

[2019-10-14 22:01] livarcocc commented on #12849
@wli3 could you help @sfoslund gain some more understanding of this code and fix this issue? If possible?

[2019-10-14 22:04] #12870 closed

[2019-10-14 22:04] livarcocc commented on #12870
Issue moved to [dotnet/roslyn #39276](https://github.com/dotnet/roslyn/issues/39276) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-14 23:05] mwpowellhtx commented on #8743
Thanks. We are actually tracking [a separate issue here](https://github.com/dotnet/sdk/issues/3746).

[2019-10-14 23:26] livarcocc commented on #12853
@jeffschwMSFT since this is related to trimming.

[2019-10-14 23:30] livarcocc commented on #12858
While interesting, this is not something that we plan to invest in for the foreseeable future. Based on that, I am going to close this issue.

[2019-10-14 23:30] #12858 closed

[2019-10-14 23:31] livarcocc commented on #12873
I am not sure how this is a CLI issue. This is either a corefx issue, if the issue is with the API (you can probably write some c# code to validate that) or with powershell.

[2019-10-14 23:31] #12873 closed

[2019-10-14 23:32] livarcocc commented on #12872
@KevinRansom @brettfo any idea what might be going on here?

[2019-10-14 23:36] livarcocc commented on #12860
This issue was moved to microsoft/vstest#2223

[2019-10-14 23:36] #12860 closed

[2019-10-14 23:36] livarcocc commented on #12713
@wli3 seems like we missed this for 5, can you take care of it?

[2019-10-14 23:38] wli3 commented on #12713
I think it did not flow to the branch. Now it is derived from the version below (SDK version)

[2019-10-14 23:49] jeffschwMSFT commented on #12853
In this case, hopefully the exception provides the detail that will help get it working.  Can you try adding the following?

[code]

We are evaluating all the areas of NetCoreApp that are not linker friendly and are considering our options.

cc @sbomer

[2019-10-15 00:04] livarcocc commented on #12713
Can you check where the code flow stands and push it through?! 😄

[2019-10-15 00:26] MisinformedDNA opened #12888 "tool install can't find package in private NuGet feed"
## Steps to reproduce
1. Create an Azure Artifacts feed
2. Push a pre-release global tool to the feed
3. Click "Connect Feed" to get URL
4. Set up Feed in VS to see that the package does exist and is marked pre-release
5. Install the tool via Azure Pipelines

[code]

## Expected  behavior

Tool is successfully installed.

## Actual behavior

Receive an error that package can't be found:

Not getti

[2019-10-15 00:58] khteh commented on #12886
That's because I ran the `dotnet restore` and `dotnet build` in previous steps before running `dotnet publish`

[2019-10-15 01:00] khteh commented on #12886
That's because I ran the `dotnet restore` and `dotnet build` in previous steps before running `dotnet publish`.

[2019-10-15 01:35] khteh commented on #12886
This is the culprit:
[code]

[2019-10-15 01:56] shidouli commented on #12873
Hi livarcocc,

In the macos powershell, it could be reproduced. so I think it's the issue in .net core or powershell core. It's a valid issue, if it's not in cli, could you please share me the right place? or help to point this issue to the right place?

Thanks and BR,
Carrie

[2019-10-15 05:28] livarcocc commented on #12888
@nkolev92 can you help us debug why restore is not finding the package on the feed? It seems like feedname is being considered as one of the sources.

[2019-10-15 05:30] livarcocc commented on #12886
This not a bug in the CLI. The tool you are using requires a runtime that you do not have installed. I would recommend either installing that runtime to unblock yourself or filling an issue in the tool repo `https://github.com/madskristensen/BundlerMinifier` asking for a version of the tool that targets 3.0.

[2019-10-15 05:30] #12886 closed

[2019-10-15 05:31] livarcocc commented on #12873
For corefx, it would be `dotnet/corefx`. For powershell, I would imagine `PowerShell/PowerShell`

[2019-10-15 05:39] nkolev92 commented on #12888
@MisinformedDNA

Can you run the command with a higher verbosity.

On normal verbosity NuGet will print the http calls made.
There will a call with a pattern similar to the following pattern

Then you can check what the url returns in your browser.
That's how NuGet figures out whether the package is available on a feed.

[2019-10-15 06:48] MisinformedDNA commented on #12888
Nevermind. The package name was definitely _not_ correct. It's working now.

[2019-10-15 06:48] #12888 closed

[2019-10-15 07:48] shidouli commented on #12873
Thanks Livar!

-Carrie

From: Livar <notifications@github.com>
Sent: Tuesday, October 15, 2019 1:32 PM
To: dotnet/cli <cli@noreply.github.com>
Cc: Carrie Yang <yangm@vmware.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/cli] X509Extension.Format() doesn't work well in macOS system (#12873)

For corefx, it would be dotnet/corefx. For powershell, I would imagine PowerShell/PowerShell

[2019-10-15 11:05] sourcetonuts commented on #12853
Added suggested <ItemGroup> to the project file and I'm still receiving the same exception. Removing trimming option on the build and all's well. Ping, I don't think , is part of that assembly.

[2019-10-15 11:09] sourcetonuts commented on #12853
Adding the following does seem to do the trick.

	<ItemGroup>
		<TrimmerRootAssembly Include="System.Net.Ping" />
	</ItemGroup>

[2019-10-15 13:17] aolszowka commented on #12858
Thanks for the feedback!

[2019-10-15 13:35] t-hart opened #12890 "dotnet cli, test, build, run, broken; Infinite recursion"
Hey! I ran into an issue today with the CLI, where suddenly nothing seems to work anymore. I'm not sure how I got into this state, but now I can't seem to get out. I tried reinstalling, rebooting, upgrading my OS. Almost every single `dotnet` command I've tried (the only exception being `--version`) terminates with an infinite recursion error.

## Steps to reproduce

Not sure how I got into this s

[2019-10-15 15:09] TclasenITVT opened #12892 "SingleFile Publish Win10-x64 doesnt run on newer windows version than the one it was build on"
## Steps to reproduce
publish a dotnet core 3.0 console app on windows 10.0.14393.
Try running it on a Windows PC 10 x64 1803 (17134.1069).

## Expected  behavior
The Software executes.

## Actual behavior
Not starting but outputting this message (German System Language):

Rough translation:
This version of the ITVT.Tool.exe is incompatible with the current windows-version. Check the systeminforma

[2019-10-15 15:53] dasMulli commented on #12892
@vitek-karas @swaroop-sridhar which windows version is the bundle host built for?.. support doc says Version 1607+ should be supported so it should be reasonable to expect it to work on 1803

[2019-10-15 16:35] TclasenITVT commented on #12892
@dasMulli what do you mean with bundle host? The runtime identifier that it should be build for is win10-x64.

[2019-10-15 16:38] dasMulli commented on #12892
The executable is actually pre-built and the publish process edits it to add the custom dll files and resources.

[2019-10-15 16:43] TclasenITVT commented on #12892
The arguments for the publish step are :  publish ITVT.Tool.csproj --configuration release /p:PublishProfile=Properties\PublishProfiles\FolderProfile.pubxml

[2019-10-15 17:10] livarcocc commented on #12853
Closing this since the issue seems to have been addressed.

[2019-10-15 17:10] #12853 closed

[2019-10-15 17:11] livarcocc commented on #12858
@aolszowka thanks for reaching out. Please, keep these coming!

[2019-10-15 17:12] livarcocc commented on #12890
@t-hart can you run a separate framework dependent app through `dotnet <path_to_app_dll>`?

@stephentoub could you help debug or redirect this issue?

[2019-10-15 17:14] livarcocc commented on #12892
@jeffschwMSFT and @nguerrera as well.

[2019-10-15 17:21] brettfo commented on #12872
I'll be honest, I'm absolutely baffled as to what's happening.  I created two console apps, `version` for F# and `versioncs` for C#.  Properties for each assembly:
![image](https://user-images.githubusercontent.com/926281/66853740-d6a53580-ef34-11e9-8900-dc8a479df0f8.png)

But looking at the manifests from ILDAsm for `version` (F#):

[code]

and `versioncs` (C#):

[code]

Both have assembly-level

[2019-10-15 17:22] nguerrera commented on #12892
Does the ITVT.Tool.csproj specify `<ApplicationManifest>`? What are the contents of the manifest if so? The manifest is copied from the managed dll to the apphost.

[2019-10-15 17:30] dasMulli commented on #12872
I think https://github.com/dotnet/fsharp/pull/7024 has not been a part of the F# compiler that is included in the 3.0.100 SDK, but I may be wrong.

[2019-10-15 17:30] TclasenITVT commented on #12892
No it does not. It has only propertygroup and itemgroup nodes. Inside the propertygroup it has these nodes:
[code]
and inside the itemgroup these packagerefernces:
[code]

[2019-10-15 17:38] brettfo commented on #12872
@dasMulli You're correct.  The 3.0.100 SDK doesn't contain dotnet/fsharp#7024 which embeds the native resources that explorer.exe uses to populate those values, however, that fix will be in the next release of the 3.1 SDK.  I confirmed this locally by building the F# branch `release/dev16.4` which is what will ship in 3.1.

[2019-10-15 17:46] nguerrera commented on #12892
OK, weird. I'm seeing if anyone has an 1803 box ready to go that I can test with.

[2019-10-15 17:48] nguerrera commented on #12892
Can you run

`sigcheck -m ITVT.Too.exe` using https://docs.microsoft.com/en-us/sysinternals/downloads/sigcheck and paste the result?

I am seeing a default manifest as provided by https://github.com/dotnet/roslyn/blob/fab7134296816fc80019c60b0f5bef7400cf23ea/src/Compilers/Core/Portable/Resources/default.win32manifest

[2019-10-15 17:52] livarcocc commented on #12872
Thanks for confirming @brettfo and thanks for pointing it out @dasMulli.

[2019-10-15 17:52] #12872 closed

[2019-10-15 17:59] TclasenITVT commented on #12892
sure, here is the dump:
[code]

[2019-10-15 18:24] BananchickPasha opened #12894 "dotnet build does not run without sudo"
When i write `dotnet build` in any project, I have this error:
[code]

but when I run the same command under root, all works OK:
[code]

Another problem is that when I write `sudo dotnet run`, It cannot find some files
[code]

What can it be?
Here is my dotnet info:
[code]

[2019-10-15 18:29] livarcocc commented on #12894
Do you have write permission as your user to the project folder?

Can you try that in a separate project in a different location on the machine?

[2019-10-15 18:38] BananchickPasha commented on #12894
I have the same error at different location (~/dotnet) and don't have this error with old 2.2 sdk:
[code]

[2019-10-15 18:42] dagood opened #12895 "Running "dotnet Some.NonExistent.dll" for an FDD app tells me "dotnet-Some.NonExistent.dll" doesn't exist"
## Steps to reproduce

Run `dotnet Some.NonExistent.dll`, where `Some.NonExistent.dll` doesn't exist. My intent here is to use the `dotnet` host to run an FDD app.

## Expected  behavior

The error message tells me `Some.NonExistent.dll` doesn't exist (if I meant to run a program).

## Actual behavior

The error message tells me `dotnet-Some.NonExistent.dll` doesn't exist (if I meant to run a prog

[2019-10-15 19:15] dasMulli commented on #12892
Quickly created a Win10 Pro 1803 VM in azure and uploaded a pre-built file (`dotnet new console; dotnet publish -c Release -r win10-x64 -p:PublishSingleFile=True -p:PublishTrimmed=True`) does work. No software installed on top of the azure image:
<img width="511" alt="image" src="https://user-images.githubusercontent.com/6129250/66861611-a2129780-ef8f-11e9-9f48-b6809946c50e.png">
Also if I try to

[2019-10-15 19:23] tarekgh commented on #12890
Need to know how and what culture is used in

[code]

Looks somehow the culture is created with a strange name or with characters that are not classified as Unicode char or number. would be interesting you know the culture name used there.

[2019-10-15 19:38] sourcetonuts commented on #12853
@livarcocc I wouldn't call that closed but a workaround to something that's broken. But that's me.

[2019-10-15 19:41] nguerrera commented on #12892
Ok, that fully rules out the issue being with the manifest. That's the same default manifest I get.

[2019-10-15 20:14] sbomer commented on #12853
@sourcetonuts this is likely one instance of a broader class of issues where the linker doesn't catch reflection uses, which is what @jeffschwMSFT mentioned we're thinking about. Would you be able to share the full stack trace just on the off chance that this is a different kind of issue?

[2019-10-15 20:43] dasMulli commented on #12894
This is likely a duplicate of https://github.com/dotnet/core-setup/issues/8511, about to be fixed by https://github.com/dotnet/core-setup/pull/8510
TL;DR the app host is copied from the global install location which may not include writable permissions and thus the task that modifies the app host fails.

[2019-10-16 07:55] t-hart commented on #12890
@livarcocc From what I gather,  a framework-dependent app is the default build target, right? Here's a 3.0 console app. It spins up, logs two lines of output, and then runs into the same problem:

[code]

@tarekgh: how would I know what culture is used? The value of the `LANG` env var is `en_US=UTF-8`. Which, now that I look at it, doesn't look right. And that seems to have been it! Re-sourcing my

[2019-10-16 08:05] sitepodmatt opened #12902 "Poor error message when using `dotnet <file.dll>` with runtimes only on Linux"
## Steps to reproduce
Using a dotnet runtime-only container run a dll/exe that doesnt exist.
dotnet <nonexistant.dll> somearg

In our case it was typo in our Dockerfile but we missed it  due to the confusing error message about SDKs

## Expected  behavior
Message that nonexistent.dll does not exist. Similar to how it works when SDKS are installed.

## Actual behavior
  It was not possible to find

[2019-10-16 08:07] #12890 closed

[2019-10-16 08:15] TclasenITVT commented on #12892
@dasMulli what was the Version of the Machine you build the app on?

[2019-10-16 08:43] MongkonEiadon commented on #5262
![image](https://user-images.githubusercontent.com/3174809/66902865-9ffe1680-f02b-11e9-9c4e-8b27395beba9.png)

It's work for me, thanks for saving my time

[2019-10-16 09:06] TclasenITVT commented on #12892
Wow, The Problem was with Git LFS and not with DotNetCore. Closing this sry for the trouble

[2019-10-16 09:06] #12892 closed

[2019-10-16 09:10] sitepodmatt commented on #12902
Ah it seems this is reported dozens of times.. This can be merged with any of the other reports. I think this should be on the 3.1 milestone due to evident confusion its causes

[2019-10-16 10:17] smaktacular commented on #9648
As a sidenode:
@rainersigwald mentioned that references were build multiple times. We had the exact same issue and found that one of out net core project files had the TargetFramework tag instead TargetFramework**s**. Once we changed it in the .csproj to <Targetframeworks>, even though it was only one target framework, the extra builds of the same project and the resulting errors were gone.

[2019-10-16 13:43] BananchickPasha commented on #12894
I even set 777 permissions both for dotnet installation and project dirs, but it didn't help, I have the same error.

[2019-10-16 14:06] stsrki opened #12905 "dotnet pack doesn't work for referenced project"
I have an issue with `dotnet pack` when I try to pack projects that have a reference to the base .csproj.

I have already reported this issue on AspNetCore repo https://github.com/aspnet/AspNetCore/issues/14467 but I think this should be the better place to report the problem.

## The problem

Here is a quick overview:

- I have root project named `Blazorise.csproj`
- I also have sub-project named

[2019-10-17 03:04] khteh commented on #12886
How is it possible to use a different runtime version just for the publish job?

[2019-10-17 03:36] guitarrapc commented on #11494
I wonder how about adding `--install` option like helm offers `helm upgrade --install`?

[code]

[2019-10-17 04:01] brianary opened #12910 "Can't find any way to set version"
## Steps to reproduce

1. Add `<VersionPrefix>1.0.0</VersionPrefix>` to **netcoreapp3.0** fsproj file
2. `dotnet build Project.fsproj --version-suffix 1` (as [documented](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build "--version-suffix <VERSION_SUFFIX>"))
3. `Get-ChildItem -Recurse -Filter Project.dll |Foreach-Object VersionInfo`

### or

1. Add `<Version>1.0.0</Version>`
2. `dotn

[2019-10-17 04:11] brianary commented on #12910
If it helps, the specific repo I'm having this problem in is [brianary/SelectXmlExtensions](https://github.com/brianary/SelectXmlExtensions).

[2019-10-17 04:12] keitaroemotion commented on #988
Sometimes you encounter with this error because you don't have required configfile (i.g. appsettings.json etc...)

Please make sure all the dependencies (including jsons) are located on the directory you run your dotnet app.

[2019-10-17 11:06] Tarmil opened #12915 "dotnet tool manifest on windows container throws a COM error"
## Steps to reproduce the issue

Try to build the following Dockerfile with windows containers:

[code]

## Expected behavior

Successful build.

## Actual behavior

The `tool restore` command throws the following error:

[code]

## Additional information (e.g. issue happens only occasionally)

N/A

## Output of `docker version`

[code]

## Output of `docker info`

[code]

[2019-10-17 13:33] KallDrexx commented on #9114
I just want to add an anecdote I encountered that caused me a huge amount of confusion, and no amount of `dotnet install` docs helped because I never ran `dotnet install`.

I work at a bank and we don't have admin access to our machines.   To not have to deal with the pain that it is getting someone to install .net core 3.0 for me I downloaded the binaries, placed them in `c:\users\<name>\dotnet`,

[2019-10-17 15:54] #12695 closed

[2019-10-17 17:47] Thraka commented on #11543
@patanne  There can't be a single **executable** binary because each platform uses a different binary format that is based on the os+architecture. However, there is a single **library** binary that is generated by .NET Core which can be shared, the `<projectname>.dll`. Which you invoke with `dotnet file.dll`. Whenever you publish you'll see (with 3.0) both a platform-specific executable and a plat

[2019-10-17 17:54] wli3 commented on #9114
This issue was moved to dotnet/core-setup#8570

[2019-10-17 17:54] #9114 closed

[2019-10-17 17:54] wli3 commented on #9114
core-setup is the more appropriate repo.

[2019-10-17 17:55] patanne commented on #11543
@Thraka What I am asking for is same as what I do in C/C++. Using cmake I can build a different binary for each os/architecture combo given I have the appropriate toolchain installed. The same should be possible in .NET. I am not asking for a single binary "to rule them all", just a single project... with multiple build configs. I am ok with multiple binaries.

[2019-10-17 18:08] Thraka commented on #11543
Gotcha! Yeah, I want that too. I guess I was confused by the `One project. Multiple platforms. All single-file binary.` part of your message :)

I think #10087 is the issue to track this request. Looking in that issue though I see https://github.com/onovotny/MSBuildSdkExtras as an interesting alternative until this gets implemented into .NET Core.

Cheers!

[2019-10-17 19:49] natemcmaster commented on #9114
You know GitHub let's you transfer issues instead of just copying to a new one, right?

[2019-10-18 01:02] JeremyMorton commented on #10288
Does this hook into `dotnet restore` or `dotnet build`, at all?

We have a DotnetCliTool that is a code generator that we run before compiling C#, `dotnet restore` gets the package and the DotnetCliTool, so someone building a project that uses the generator just needs to run `dotnet build` and it gets what is needed.

If I understand this, switching to a local tool means that every developer *need

[2019-10-18 03:42] richlander opened #12919 "xunit template fails"
This is what I see with .NET Core 3.1, on macOS.

[code]

[2019-10-18 04:14] wli3 commented on #10288
If it is a generator that is part of and always part of the build, writing a Task and deliver it via nuget would be more appropriate.

Local tools operate on a directory level while "dotnet restore" and "dotnet build" operate on project level. Although you could add "dotnet tool restore" as part of your build by configuring your csproj.

[2019-10-18 07:50] joergmaier commented on #9586
Does not seem to be fixed in 3.0.100.
We work with Azure DevOps Server 2019 U1 and Artifactory 6.10.
The error occurs at the .NET Core Build task
`
==============================================================================
Task         : .NET Core
Description  : Build, test, package, or publish a dotnet application, or run a custom dotnet command
Version      : 2.153.3
Author       : Microsoft

[2019-10-18 13:14] eylvisaker commented on #7510
I'm having a similar issue. Any solutions yet?

[2019-10-18 18:08] JeremyMorton commented on #10288
We also have a Task in an assembly in a NuGet package for some build number logic. The big drawback of that is that the dll is held open by VS, so restoring when the project is opened in the IDE fails because it can't overwrite the assembly with a new version.

We get around this by having an init1.ps in the package (which only runs nowadays if you manually open the Package Manager Console in VS ☹

[2019-10-18 21:02] livarcocc commented on #12919
This is a known bug with the template.

It has been fixed here: https://github.com/dotnet/test-templates.

[2019-10-18 21:02] #12919 closed

[2019-10-18 21:04] livarcocc commented on #12915
@wli3 can you take a look?

[2019-10-18 21:06] livarcocc commented on #12910
This issue has been fixed in 3.1.100.

[2019-10-18 21:06] #12910 closed

[2019-10-18 21:15] rainersigwald commented on #7510
The biggest step for this will be with microsoft/msbuild#1754. That should transparently resolve some of the harder conflicts with, for example, Newtonsoft.Json.

[2019-10-18 21:17] wli3 commented on #12915
Did nanoserver remove more things? I remember testing it explicitly on nano servier before using this COM API

[2019-10-18 21:20] MichaelSimons commented on #12915
@wli3 - Do you remember which version you tested on?  Nano Server has been trimmed down over time.  I verified this is broken on 1803 which is the earliest version that is still in support.

[2019-10-18 21:35] wli3 commented on #12915
I hope I can find the docker image I tried back then. -- but looks like we need to switch to non COM version (which is still a pinvoke that i don't know if nano server will remove it one day)

https://github.com/dotnet/cli/pull/10374#issuecomment-443056208

cc  @nguerrera @rainersigwald

[2019-10-18 21:49] wli3 commented on #12915
18a0d32a4b98 is the image hash. I can still find the urlmon.dll under system32

[2019-10-18 21:52] MichaelSimons commented on #12915
What version of NanoServer is in that image?

[2019-10-19 00:40] livarcocc commented on #12895
When the host does not find the dll it passes the command down to the CLI. The CLI tries to resolve it using its resolvers. The last one checks if there is a dotnet-<something> in the path. When that fails it returns that error message.

I guess we could check for .dll and improve the message, but I would argue that in those cases, maybe the host should not even pass it forward to the CLI.

In any

[2019-10-19 00:40] #12895 closed

[2019-10-19 00:43] livarcocc commented on #12902
Given that there is no SDK installed, this message is coming directly from the host. I am going to move this issue to core-setup.

[2019-10-19 00:46] livarcocc commented on #12905
@nkolev92 can you help us understand if this is us doing something wrong or provide better guidance?

[2019-10-19 00:47] livarcocc commented on #12886
You should just install the additional runtime next to the dotnet.exe that you are using. When an application requires that runtime, the host will find it and run just the application using that runtime. It can pick between multiples installed next to it.

[2019-10-19 08:35] thomaslevesque opened #12933 "How to make a package with an empty TFM with dotnet pack"
I'm trying to build a package with multiple target frameworks, with has an empty TFM folder for netstandard2.1 (because the functionality provided by the package is not necessary in netstandard2.1, so I don't want restore to pick netstandard2.0).

I know I could do it easily with a nuspec file, but I'd really prefer to be able to use just a csproj and dotnet pack.

My first attempt was to set `Inc

[2019-10-19 17:51] leo-labs opened #12941 "dotnet sln remove has exit code 0 despite project not found"
## Steps to reproduce

Remove a non existent project from a solution, e.g. `dotnet sln <SLN_FILE> remove foo`

## Expected  behavior

return a nonzero exit code, similar as `dotnet sln <SLN_FILE> add foo`

## Actual behavior

the command returns an exit code of `0`

## Environment data
`dotnet --info` output:

[code]

[2019-10-19 18:48] livarcocc commented on #12933
@nkolev92

[2019-10-19 18:49] livarcocc commented on #12941
Well, we treat this as if the command has done what it was supposed to, make sure the project was no longer in the sln file.

I am not sure we should change this behavior, plus, it would be a breaking change.

@dotnet/dotnet-cli in case someone else has a different opinion.

[2019-10-19 19:00] leo-labs commented on #12941
The output of the command sounds like an error though: `Project `foo` could not be found in the solution.`

I tested some other commands in dotnet that also use the `remove` verb and it seems to be inconsistent: `dotnet remove reference foo` works the same as `dotnet sln remove` but `dotnet remove package foo` will exit with code `1`.

I do not understand the command `remove` as in `removeIfExist`

[2019-10-19 19:24] devel0 opened #12943 "dotnet restore parallel adaptive"
## Description

restoring in tethering mode using phone line may cause failure due to timeout issue; a workaround is to use `--disable-parallel` but I think that a better approach should to use a sort of *adaptive parallel mode* so that restore will start in parallel and auto disable until all packages in queue where timeout occurred downloaded then switch back in parallel mode.

## Steps to repro

[2019-10-19 20:16] KathleenDollard commented on #12941
I am beating my head against the desk right now concerning `dotnet remove package` returning non-zero.

They should all match. But changing any of them would be a breaking change. I want to think more about how people may have relied on these and the impact of a breaking change on those scripts.

[2019-10-19 20:36] KathleenDollard commented on #9586
@wli3 @nkolev92

[2019-10-20 10:34] bjorn-ali-goransson commented on #10336
Sorry to bump this. (definetely not a CLI issue!!)

Just calling in to say if removing the packages doesn't do it in Visual Studio, try cleaning the solution and then building anew. That's all.

[2019-10-20 16:56] livarcocc commented on #12943
This issue was moved to NuGet/Home#8726

[2019-10-20 16:56] #12943 closed

[2019-10-21 01:05] nkolev92 commented on #12933
There are dedicated extensions such TargetsForTfmSpecificBuildOutput.
This doc contains an example:
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#targetsfortfmspecificbuildoutput

[2019-10-21 01:15] nkolev92 commented on #12905
@stsrki Can you please provide a repro so we can understand the scenario better?

[2019-10-21 07:14] ichensky commented on #10497
Do you know the right easy way to firewall `dotnet` tool telemetry with white rules for the nftables/ dns proxy server?

[2019-10-21 07:37] stsrki commented on #12905
Hi @nkolev92

Everything can be found on https://github.com/stsrki/Blazorise in the folder `NuGet`. Just run the `dotnet-pack.bat`.

[2019-10-21 08:26] thomaslevesque commented on #12933
Thanks @nkolev92, I'll look into it.

[2019-10-21 09:31] ww898 opened #12951 "dotnet publush for .NET Core 3.x doesn't set execute flags for executables"
## Steps to reproduce
`dotnet publish --self-contained true -f netcoreapp3.0 -r linux-x64`
`dotnet publish --self-contained true -f netcoreapp3.0 -r osx-x64`

## Expected  behavior
The compiled executable should be ready to be executed after publishing.

## Actual behavior
.NET Core 3.0/3.1 doesn't set execute flags for executables during publishing. Previous version of .NET Core do it.

## Enviro

[2019-10-21 16:07] aolszowka commented on #12858
FWIW Closing the loop on this we have open sourced (MIT Licensed) our tooling https://github.com/aolszowka/VisualStudioSolutionSorter

[2019-10-21 17:06] livarcocc commented on #12951
I just tried this on Mojave with the 3.0.100 SDK and I do see the executable flags being set correctly.

Is there any other information you could provide us regarding this? I would I would maybe suggest, is clearing your nuget cache and trying again.

[2019-10-21 18:08] KthProg commented on #2660
I just saw this out of nowhere in a Xamarin project.No changes made since the last time it successfully built and deployed. Cleaning and rebuilding fixed it.

[2019-10-21 20:38] rainersigwald commented on #4101
Closing as the MSBuild bug is closing.

[2019-10-21 20:38] #4101 closed

[2019-10-22 08:23] Tragetaschen opened #12957 "Deadlock on Linux build machine"
## Description

I run within my Yocto build three `dotnet publish` commands roughly at the same time. Usually those finish within 10s of seconds, but since yesterday, the commands have not finished for several hours. This has not happened before.

## Expected  behavior

No deadlock. The build should finish as always

## Actual behavior

I'm now sitting on a little over 100 PIDs associated with the

[2019-10-22 10:32] ichensky opened #12959 "Telemetry in `dotnet new console` fully not disabled .net core 3.0"
## Steps to reproduce
1. Set environment variable:
[code]
2. Execute
[code]
## Actual behavior
If there is internet, then
`dotnet` util will make several HTTP requests.
1. https://go.microsoft.com/fwlink/?linkid=2087906&clcid=0x409
2. https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwebpifeed.blob.core.windows.net%2Fwebpifeed%2FPartners%2FNuGetTemplateSearchInfo.json&data=02%7C***

[2019-10-22 13:37] patearl opened #12960 "dotnet test can't find included runtime"
## Steps to reproduce
Create an nunit test project that targets netcoreapp3.0. As of today, it uses the latest microsoft test sdk package and the latest nunit adapter package.

Download the 3.0 SDK ZIP file and unzip it.

Run dotnet test from the 3.0 SDK's folder against the solution.

As can be seen below, running dotnet --list-runtimes shows the 3.0 runtime included with the SDK. However, when d

[2019-10-22 15:08] 0xd4d commented on #12957
Could be this: https://github.com/dotnet/core/issues/2944#issuecomment-521522968

[2019-10-22 15:15] ajmcateer opened #12961 "dotnet publish won't publish self contained exe without a RuntimeIdentifier. I am passing -r in the command."
## Steps to reproduce
Run the following command
dotnet publish --self-contained true -f netcoreapp3.0 -r linux-x64

## Expected  behavior
Should publish a single executable file for the given runtime

## Actual behavior
C:\Program Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.RuntimeIdentifierInference.targets(127,5): error NETSDK1031: It is not supported to build or publis

[2019-10-22 15:23] ajmcateer commented on #12961
Alright so just figured something out. My project setup is
Command line app using .netcore 3.0
GUI app using .netcore 3.0

The Gui app references the command line app to call some code directly I guess it is not passing -r to the command line app. If I manually change the csproj files for both and specify the same runtime it works. But I want to build this for all Windows, Linux, Mac its kind of a

[2019-10-22 15:36] PleasantD commented on #12960
A little more background:
We are running compilations (via `dotnet msbuild`) and test (via `dotnet test`) on a TeamCity build server.
Our custom build script downloads and unzips a specific version of the SDK to a local build folder and runs all `dotnet` commands from that.

I had the server run `dotnet --info` and got a few more details
[code]

[2019-10-22 16:10] ForestEckhardt opened #12962 "Unable to leverage new SDK with older runtimes"
## Steps to reproduce
Install 2.1.802 .Net SDK libraries and 2.1.12 .Net Runtime libraries onto your system.

## Expected  behavior
I expected to be able to use a newer version of the .Net SDK and an older version of the .Net Runtimes to build and publish my app as outlined in the following document: https://docs.microsoft.com/en-us/dotnet/core/versions/selection#the-sdk-uses-the-latest-installed-

[2019-10-22 16:45] PleasantD commented on #12960
A little digging...
I am suspicious of this:
https://github.com/microsoft/vstest/blob/3a94eb15674abbee0a2cfcd13f26796f5dc6bb84/src/Microsoft.TestPlatform.Build/Tasks/VSTestForwardingApp.cs#L34

Looks like the test forwarder`VSTestForwardingApp` is starting a process to call `dotnet`.
But not the `dotnet` that was originally used, which would explain why it can't find the local runtime.

[2019-10-22 17:55] Tragetaschen commented on #12957
Unlikely. That issue is on ARM and 100% reproducible. This here is on x64 and happened once after a large number of successful builds.

[2019-10-22 18:10] saviour123 commented on #8743
When it happens like this- i use the nightly builds. They work well especially for containers. I have this issue in my ci with `mcr.microsoft.com/dotnet/sdk:3.0`. I change to this `mcr.microsoft.com/dotnet/core-nightly/sdk:3.0` and everything is fine.

[2019-10-22 18:29] livarcocc commented on #12959
This is not for sending telemetry.

dotnet new checks for templates online to see if there is a newer version of the template.

[2019-10-22 18:29] #12959 closed

[2019-10-22 18:31] livarcocc commented on #12962
When you install the SDK, are you installing only the SDK and not the runtime that comes with it?

if that's the case, that's not supported. You can't break the SDK in bits and pieces. It ships as one artifact that includes the SDK bits and the runtime that itself depends on.

[2019-10-22 18:52] bricelam opened #12963 "Can't install tools targeting 3.1"
## Steps to reproduce

[code]

## Expected  behavior

[code]

## Actual behavior

[code]

## Environment data
`dotnet --info` output:
[code]

cc @ajcvickers @Pilchie

[2019-10-22 18:59] ajcvickers commented on #12963
@bricelam Does this mean that EF tooling is broken for the 3.1 preview 2 release? Do you know the root cause?

[2019-10-22 19:25] bricelam commented on #12963
Yes, broken in Preview 1 too. Needs a NuGet update??

[2019-10-22 21:34] ww898 commented on #12951
@livarcocc I have just reproduced the bug on MacOs Mojave and Ubuntu 16.04 LTS. My configuration is following:
- both computes have no additional software installed - they are clean because they are build agents.
- .NET Core SDK 3.x unzipped into temp directory.
- assigned following environment variables: `DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1` and `DOTNET_MULTILEVEL_LOOKUP=0` before execute `dotnet

[2019-10-22 21:58] livarcocc commented on #12960
This issue was moved to microsoft/vstest#2228

[2019-10-22 21:58] #12960 closed

[2019-10-22 22:22] rainersigwald commented on #12849
The ideal fix would be at the MSBuild layer: microsoft/msbuild#3665.

[2019-10-22 22:45] wli3 opened #12966 "Port change to other branches"
- [ ] https://github.com/dotnet/cli/pull/12955
- [x] https://github.com/dotnet/cli/pull/12899

[2019-10-23 00:50] daniel-white opened #12967 "VSSettings fails with DotNetCliToolReference in VS for Mac"
## Steps to reproduce
* VS for Mac 8.3.4
* Have a `global.json` with
[code]
* Have a csproj file with
[code]
* Build with VS for Mac
* Build from terminal (`dotnet build`)

## Expected  behavior
The swagger tool is run as it does from the CLI.

## Actual behavior
Fails to find tool in mac

[code]

## Environment data
`dotnet --info` output:
(from inside VS for Mac)
[code]

[2019-10-23 01:06] #12856 closed

[2019-10-23 05:41] wli3 commented on #12849
Agree, so close this one and prefer microsoft/msbuild#3665

[2019-10-23 05:41] #12849 closed

[2019-10-23 07:49] AndersMalmgren commented on #10288
Hi, we are migrating our enterprise application from 2.2 to 3.0. I found this post telling us to move to local tools if we use dot net CLI

https://github.com/dotnet/announcements/issues/107

So I found my way here. This does not seem like an replacement for donetcli tool at all? With dotnet cli we made a nuget package. And could reference it from project like

`    <DotNetCliToolReference Include

[2019-10-23 10:24] #12951 closed

[2019-10-23 15:46] mwpowellhtx commented on #8743
@saviour123 @livarcocc We are not tracking with nightly builds. We want to be on the LTS, best case, preferred. Let others cut themselves on the edges, if you will. We want to be on the best possible stable releases.

[2019-10-23 18:03] wli3 commented on #12915
https://github.com/dotnet/cli/pull/12955

[2019-10-23 18:03] #12915 closed

[2019-10-23 18:11] wli3 commented on #10288
@AndersMalmgren as the previous comments stated. If the tool is only used during build, could you try to make it a msbuild task?

At the same time, you could restore a local tool and run it with the similar fashion.

[2019-10-23 18:14] wli3 commented on #10288
We used local tools for our tests. Here is a sample. Although you can start from "dotnet tool restore" instead of "dotnet new manifest" https://github.com/dotnet/sdk/blob/062d9a036ea335833e472d3b3c17174ba62c5c19/src/Tests/Directory.Build.targets#L37

[2019-10-23 18:28] AndersMalmgren commented on #10288
@wli3 I wasnt aware you could restore msbuild tasks using nuget?
I solved it like this for now,

[code]

[2019-10-23 18:48] livarcocc commented on #12951
Thanks for letting us know.

[2019-10-23 18:51] livarcocc commented on #12967
@nguerrera can you take a look?

[2019-10-23 19:03] nguerrera commented on #12967
This seems like an issue with the version of mono getting used. cc @radical

[2019-10-23 19:27] MichaelSimons opened #12969 "Add test coverage for Nano Server"
Add test coverage (CI/official builds) on Nano Server.  Nano Server is very different than other Windows SKUs and is very slimmed down.  The goal is to catch issues like https://github.com/dotnet/cli/issues/12915.

[2019-10-23 20:33] wli3 commented on #10288
@AndersMalmgren we acknowledge this short coming. And we do want to remove this step once some nuget feature is ready

[2019-10-23 20:44] wli3 commented on #12963
There is an extra lib folder inside the root of the nupkg

[2019-10-23 21:22] bricelam commented on #12963
Thanks, I'll work to remove it.

cc @aspnet/build (@dougbu @JunTaoLuo @wtgodbe)

[2019-10-23 21:27] bricelam commented on #12963
Wait, shouldn't https://github.com/aspnet/EntityFrameworkCore/pull/18214 have resolved this?

[2019-10-23 21:31] bricelam commented on #12963
Ah, https://github.com/aspnet/EntityFrameworkCore/pull/17658 is where it all went wrong. Other PR is just additional churn of the problem

[2019-10-23 21:52] bricelam commented on #12963
Working now. Thanks, @wli3! Closing.

[2019-10-23 21:52] #12963 closed

[2019-10-23 21:59] bricelam commented on #12963
Note @wli3, NuGet is erroneously issuing warning NU5128 (missing lib folder) for tools packages? Are there any plans to suppress it?

[2019-10-23 23:18] wli3 commented on #12963
The "default" experience is add `<packastool>true</packastool>` instead of using nuspec. So I think it is ok to for savvy nuspec user to suppress the warning. Although it is a new warning? @nkolev92

[2019-10-23 23:48] nkolev92 commented on #12963
That's a new warning.

@zivkan did we disable the 5128 validation for different package types?
Did that happen actually happen in code, cause I know we did discuss it :)

[2019-10-24 08:00] AndersMalmgren commented on #10288
@wli3 Good to hear. I have found a showstopper sadly. We have private feeds. These interfere with nuget tool restore. Even though the tool is published to nuget.org it tries to use the private feeds and fails

[2019-10-24 13:16] daniel-white commented on #12967
Yea I suspected that after seeing that error message. It appears that `Exec` is looking for `dotnet ...` and replacing that with a loader inside of the Mono CLR to call the tool. I had a thought this morning and I'll give it a go.

[2019-10-24 17:25] livarcocc commented on #12969
Are there docker images available for this?

[2019-10-24 17:29] wli3 commented on #10288
--ignore-failed-sources should solve it

[2019-10-24 17:34] MichaelSimons commented on #12969
https://hub.docker.com/_/microsoft-windows-nanoserver

Do you have any prereqs?  If so an custom Nano Server image could be created at https://github.com/dotnet/dotnet-buildtools-prereqs-docker

[2019-10-24 18:06] zivkan commented on #12963
We talked about it, but haven't made the change yet.

However, when I do `dotnet new console`, `dotnet add package newtonsoft.json`, edit the csproj to use `PackAsTool` and then run `dotnet pack`, I don't get the warning because the generated nupkg doesn't have any dependencies.

This suggests that @bricelam's package does have NuGet dependencies, which itself doesn't make a lot of sense for a too

[2019-10-24 19:56] maurei opened #12977 "dotnet build -o /some-folder fails: Access to the path /some-folder" is denied"
## Steps to reproduce
1. Create a boilerplate .net core 3 app, eg console app (I used Visual Studio Mac 8.3.4)
2. run ` dotnet build -o /test`

## Expected  behavior
A working build

## Actual behavior
[code]

## Environment data
[code]

[2019-10-24 20:20] bricelam commented on #12963
I have an empty dependency group. Is that causing it?

[2019-10-24 20:57] zivkan commented on #12963
yes. In the scenario when I create a new console app then pack it as a tool, the nupkg doesn't get any dependencies groups, not even an empty one.  Are you using a custom nuspec, rather than letting pack autogenerate one?

[2019-10-24 21:05] maurei commented on #12977
Actually, I guess it makes sense that dotnet does not have access to the very root of my machine. The situation in which I encountered it was with a a Dockerfile, in which case it shouldn't be a problem. Will update my repro case tomorrow, but perhaps this might not turn out to be the correct repository for this issue

[2019-10-24 22:56] wli3 commented on #12963
@zivkan packastool used [this](https://github.com/NuGet/NuGet.Client/pull/2237) flag

[2019-10-25 02:42] khteh opened #12979 "Razor build server (process 27970) failed to shut down: The shutdown command failed: The application to execute does not exist"
## Steps to reproduce
`$ dotnet build-server shutdown` error:
[code]
Why does it look for 2.2.0 when I am using 3.0?
## Expected  behavior
Shutdown properly without error

## Actual behavior

## Environment data
`dotnet --info` output:
[code]

[2019-10-25 06:01] #12977 closed

[2019-10-25 06:49] AndersMalmgren commented on #10288
@wli3 Thanks, that works. But I cant help to think the old CLI solution was more straight forward :D

[2019-10-25 10:56] pkese commented on #8890
This is highly annoying for anyone who's not on Windows / Visual Studio.

[code]

Either the tooling fails to work or it generates malformed solution.

Is there any workarounds? How can I add projects in subfolders to a solution?
Looks like the only tool there is is the `dotnet sln` cli...
except it doesn't work.

[2019-10-25 11:25] pkese commented on #8890
Ok, here's the workaround that appears to work in Visual Studio Code:

1) Create your projects in subfolders
2) Make sure all the projects `restore` and `build` from the command line (without being added to the solution file)
3) Install the `vscode-solution-explorer` extension
4) In `vscode-solution-explorer` rightclick on existing folder and create the subfolder (e.g. your `foo` folder).
5) Go ba

[2019-10-25 11:40] verdie-g opened #12980 "Invalid option '7.3' for /langversion when using .NET Core 2.X"
## Steps to reproduce
1. Create a new project targetting .NET Core 2.X
[code]
2. Use a C# 7.1 feature
[code]
3. Use a SDK 2.X by creating a global.json file
[code]
4. Build the project
`dotnet build Test`

## Expected  behavior
According to the page [C# language versioning](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version), .NET Core 2.X should be using

[2019-10-25 11:51] marian-gheorghe commented on #8743
I encouter the same problem with a F# project, after installing latest VS2019

My dotnet environment:

[code]

[2019-10-25 16:06] mwpowellhtx commented on #8743
We ended up resolving our issue, or at least overcoming the immediate obstacle, by engaging with the [`Microsoft.Build.Locator` package](https://www.nuget.org/packages/Microsoft.Build.Locator/). That gets us past this issue, we think, but there's [a whole other can of worms](https://github.com/microsoft/MSBuildLocator/issues/62) which could potentially be addressed in the locator itself, topic for

[2019-10-25 16:56] huoyaoyuan opened #12981 "How to consume native dependencies via ProjectReference?"
Opening at this repository because requiring something like #1841.

## Steps to reproduce
We are publishing some native dependencies via csproj:
[code]
The native libraries are correctly packaged into `runtimes\win-x64\native\*.dll` and other rids.
A test application sits in the same repository, using `ProjectReference` to consume the library.
The test application's `.deps.json` is missing entry f

[2019-10-25 19:20] klausenbusk opened #12982 "dotnet build sometimes exit with a success exit code on build failure"
## Steps to reproduce
We are using `dotnet build -warnaserror` and [StyleCop](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/) as part of you CI which run in Docker. I haven't been able to reproduce the problem locally outside docker.

I did observe that the error order is different in the last run, which strengthens my belief that is is some kind of race condition (I'm wondering if this is

[2019-10-26 13:20] am11 commented on #12982
Same flakiness with `dotnet msbuild build -warnaserror` (tested with both SDK v2.2 and v3.0) with and without docker.

This is the issue with `warnaserror` handling of MSBuild, tracked by https://github.com/microsoft/msbuild/issues/3295.

It consistently returns exit code 1, if we cause a real syntax error, e.g. append `blah` in `HomeController.cs` and run `docker-...-dotnet-...-build` command aga

[2019-10-27 18:03] wli3 commented on #11194
After CLI merge to toolset, this is no longer an issue

[2019-10-27 18:03] #11194 closed

[2019-10-27 18:05] wli3 commented on #10393
No longer needed considering we have https://github.com/dotnet/sdk/issues/3808 for 5.0 instead

[2019-10-27 18:05] #10393 closed

[2019-10-27 18:05] wli3 commented on #9548
Close as there is no further report

[2019-10-27 18:05] #9548 closed

[2019-10-28 18:27] garethblz commented on #11650
I also reproduced the issue on netcoreapp 3.0.100 in Visual Studio 2019 16.3.9. Simple ASP.NET Core project on the IIS Express profile. The only external dependencies are on StyleCop.Analyzers 1.1.118. Would be interested to know if anyone else experienced this with the same dependencies. Here's the error (looks the same as what's reported).

[code]

[2019-10-28 20:37] #12966 closed

[2019-10-28 20:46] mletterle commented on #6223
I've had success with manually downloading the runtime nuget packages for ildasm/ilasm and CoreClr and making sure they're all in the same directory, and I know there's upcoming updates to remove the CoreClr requirement.. would really like to see a global tool for this, it's a little surprising that they're not included with the SDK honestly.

[2019-10-29 11:22] marco-luzzara commented on #5959
I am using docker for windows and linux containers. In the Dockerfile copy this statements:
`RUN apt-get -y install gss-ntlmssp`
`COPY /NuGet.Config /root/.config/NuGet/`

My local `NuGet.Config` file is the following:
[code]

I am actually using jenkins, so after the checkout stage, I just copy my `NuGet.Config` file inside the solution folder and run `dotnet restore`.

[2019-10-29 13:18] BillyMartin1964 commented on #6019
I'm getting this error when building a UWP from Unity. Not sure if it is related. If not, please point me in the right direction. Thanks:

[code]

[2019-10-29 20:44] wli3 commented on #12894
You are using nix, I find there are many restrictions from nix and we are familiar with it. We would need some time to investigate

[2019-10-30 10:03] RicardoCostaPS commented on #7240
Who ever decided that the clean command wouldn't remove bin folders, deserves a promotion at Microsoft, great job, was it that hard to copy functionality from msbuild ? sad

[2019-10-30 15:04] Tragetaschen commented on #12957
If someone cares: It happened again just now on a different build machine.

- The installed packages and configuration is the same as above
- The build server already did a handful of successful builds today
- There weren't any 2.2 SDK processes (neither 2.2.401 and nor 2.2.402)
- One of the three publish calls finished successfully, the other two got stuck

Here's a strace of the dotnet processes

[2019-10-30 20:15] livarcocc commented on #12979
@wli3 can you take a look at this?

[2019-10-30 20:15] livarcocc commented on #12979
@khteh is your application targeting netcoreapp3.0 as well?

[2019-10-30 22:47] swaroop-sridhar commented on #11650
@SirUppyPancakes I tried out the configuration you mentioned -- I used the template WPF-app and added a few resources to it, and linked a WPF-library and console-library. Unfortunately couldn't repro the failure.
Do you think there's anything characteristic about your app that I may be missing?

[2019-10-30 23:19] SirUppyPancakes commented on #11650
@swaroop-sridhar Are the projects you created NET Core and NET Standard? I've only observed this issue when building NET Core apps so far; when using regular NET, this issue doesn't occur.

[2019-10-30 23:43] khteh commented on #12979
Yes, of course.

[2019-10-31 00:10] swaroop-sridhar commented on #11650
Yes, this code path is only executed when building .net core apps. I did try using the .net core projects as you mentioned above.

[2019-10-31 00:12] SirUppyPancakes commented on #11650
I'll try and put together a minimal example project and upload it here, definitely a bit of a difficult issue to reproduce it seems

[2019-10-31 01:08] SirUppyPancakes commented on #11650
Alright so it took quite a lot of shooting in the dark to try and track down what it is about my project, but it looks like it has something to do with Git.
Here are some new repo steps (Visual Stuidio 2019 16.3.7, NET Core SDK 3.0.100):
[code]
Here is a project where I have followed these steps:
[CreateAppHostIssue.zip](https://github.com/dotnet/cli/files/3791670/CreateAppHostIssue.zip)

Download

[2019-10-31 10:32] shaulbehr commented on #12702
+1
I'm having the same issue. Same setup as OP.
In the middle of the build logs is the line

And at the end we have:
[code]

[2019-10-31 10:33] shaulbehr commented on #12702
Actually, ignore me. I'm having the reverse problem from the OP. My build is *succeeding*, but I'm getting an error return code.
I'll open a new ticket for this.

[2019-10-31 11:51] LagManos commented on #6178
@livarcocc Which SDK should skip dcprojs while building? I've just tested with 3.1.100-preview1-014459 and I'm unable to run dotnet build or dotnet test on solution containing dcproj file. The error is:  C:\Program Files\dotnet\sdk\3.1.100-preview1-014459\NuGet.targets(123,5): error : Invalid restore input. Invalid target framework 'unsupported'.

[2019-10-31 16:13] garethblz commented on #11650
I can confirm the opposite. In the crash I experienced, Git was not present. I built from a "src" folder, which sits a directory below the parent that contains the git directory. Like so:

[code]

[2019-10-31 17:20] wli3 commented on #12157
Related https://github.com/dotnet/sdk/issues/3828

[2019-10-31 17:22] wli3 commented on #12157
@casz unfortunately this is a implementation detail leak. You could use `dotnet new` instead if you want to "save" the state.

[2019-10-31 18:04] casz commented on #12157
Doesn't solve the problem for user changes unless we decide to override dotnet cli home

[2019-10-31 20:01] SirUppyPancakes commented on #11650
I tried to get a nice clean `procmon` log on the file while the issue occurred (basically trying to reproduce, clearing the log between each build, and filtering for the path of the exe), and for some reason, when `procmon` is running, the issue disappears (this definitely smells of a timing/race condition across processes to me).
Here is a log of just a normal, successful build on my system thoug

[2019-11-01 17:53] jzabroski commented on #8743
@mwpowellhtx Can you please provide some color on what you did to fix this issue?  Just installed .net core 3.0 sdk last night and Visual Studio refuses to use it for some reason.

I tried:
* Clean solution
* Closing the solution and re-opening it
* Verifying `C:\Program Files\dotnet\` is in my PowerShell `$env:PATH` variable
* Verifying Visual Studio is x64
* Verifying `dotnet --list-sdks` lists

[2019-11-01 18:00] mwpowellhtx commented on #8743
@jzabroski We ran with the clue that `Microsoft.Build.Locator` is the way to identify the SDK properly. With that, dropped any other package references to `Microsoft.Build`, etc (sans `Locator` itself). The API is fairly self-explanatory, we think, but for it the run-time target caveats. That's via code. Not sure what that means for actual Visual Studio confusion under the hood, however.

[2019-11-01 18:09] jzabroski commented on #8743
@mwpowellhtx Sorry, I'm confused and tired of dealing with .NET SDK issues.  What did you do to solve the problem?

[2019-11-01 18:12] mwpowellhtx commented on #8743
@jzabroski I told you. Follow the bread crumbs. Out here.

[2019-11-01 18:27] jzabroski commented on #8743
Sorry, explicitly, _what did you do to solve this problem?_  Do you have a sample project on GitHub with a sha1 commit hash I can look at?  Is it something machine specific?  Are you saying you monkey-patched some files in the `C:\Program Files\` directory or elsewhere?  Saying Microsoft.Build.Locator is the breadcrumb to go fix the problem is so vague.

I don't really want to spend hours on bread

[2019-11-01 18:44] mwpowellhtx commented on #8743
@jzabroski Welcome to the dues you have to pay for subscribing to the `dotnet` paradigm.

[2019-11-01 19:03] jzabroski commented on #8743
I have no words for your approach.  Good luck starting up your business.

[2019-11-02 00:58] livarcocc commented on #8743
@jzabroski what version of VS are you using? .NET Core 3 is only supported in VS 16.3 and up.

[2019-11-02 04:28] Kinematics commented on #12704
I'm having basically the same problem, but with the issue that I have no idea how to find what roots I need to include, since the failure is deep inside private WPF code.

The top of a ~90 line stack trace is:

[code]

This is also an open issue in the Mono tracker (https://github.com/mono/linker/issues/712), which directed me at adding:

[code]
However that has no effect.  The untrimmed version o

[2019-11-04 01:12] brianary commented on #12910
Is there a workaround for this that I can use until next May?

[2019-11-04 05:08] kalkisama commented on #11650
Having the same problem trying to do a "dotnet publish" inside a 3.1-preview SDK container, which is inside a WSL2 ubuntu, with the source code mapped to a /mnt/c/src/... volume.
Yeah, i know... haha

[code]

[2019-11-04 07:18] jiimaho commented on #6617
Is it true that the only thing left to honor is the `commandLineArgs`?

[2019-11-04 16:45] livarcocc commented on #6178
Can you please file a separate and new issue for this? So that we can start fresh?!

@dsplaisted wonder if this is due to the framework composition work we did. Could you take a look?

[2019-11-04 17:58] jberd126 commented on #11650
@peterhuene, I started having this error building almost every time after I updated to Visual Studio 16.3.5 (from 16.3.3?) on Windows 10 (Build 18362). I did find that disabling Windows Defender Antivirus real-time protection avoided this error.

[2019-11-04 18:10] peterhuene commented on #11650
@jberd126 Unfortunately I don't work on .NET (or at Microsoft) any longer, but I'm sure @nguerrera or @swaroop-sridhar are tracking this issue.

@kalkisama I suspect the issue you're running into is dotnet/sdk#2989 where creating the apphost doesn't work on file systems that can't be mapped as `MAP_SHARED`.

@nguerrera Regarding the failure to map the file, I think it would really help if the core

[2019-11-04 21:00] nguerrera commented on #11650
I agree 100% with @peterhuene. Nice to hear from you.

I've filed the following to do both of those things:

https://github.com/dotnet/core-setup/issues/8763
https://github.com/dotnet/core-setup/issues/8764

[2019-11-04 23:55] swaroop-sridhar commented on #11650
@nguerrera I think the above are good issues to solve.

But it may still not be sufficient to address the problem -- because the file may be locked in between operations like:
* Copy the template, and update
* Create Apphost, write bundle contents

So, we will still need to have retries.

Based on the original bug, we added retries to ResourceUpdate() based for Win32 errors that [lock the file or

[2019-11-04 23:57] swaroop-sridhar commented on #11650
But we need to correctly understand that AccessDenied is an actual failure code because of locking -- this will delay reporting of real errors, because it will retry on legitimate access-denied failures.

[2019-11-05 01:13] swaroop-sridhar commented on #11650
Thanks @jberd126  for confirming that disabling the AV circumvents the failure.
I'll check with the Defender team about getting the "access denied" error code when the file is locked by defender.

[2019-11-05 01:20] jzabroski commented on #8743
@livarcocc Thank you very much! That was the problem, with a slight twist: I had two versions of Visual Studio 2019 installed.  One for work and one for open source software.  I use Community Edition for open source software since I'm an extreme stickler for separation of concerns / following rules.  In this case, it seems like something doesn't work right in this scenario.  I'm not going to spend

[2019-11-05 07:28] suadev commented on #3141
Same problem for removing sdk version 3.0.100

[2019-11-05 08:23] LagManos commented on #6178
Unfortunately I can't reproduce it with solution created from scratch with VS2017, VS2019 and different project types. Issue occurs only in my old and big repository, which I can't share.

Maybe there is a corner case that I have run into, but I can't really tell exactly what it is.

[2019-11-05 18:41] wli3 commented on #11650
This issue was moved to dotnet/core-setup#8774

[2019-11-05 18:41] #11650 closed

[2019-11-05 18:42] wli3 commented on #11650
Moved the issue, considering the all action item is in core-setup repo

[2019-11-05 21:11] adamcroissant commented on #10241
@wli3 Is there any plan to port this fix back to 2.1 since that is the current LTS version?

[2019-11-05 22:37] wli3 commented on #10241
@adamcroissant sorry there is no plan to back port the fix. However, next LTS, .net core 3.1 is planned to be released in December 2019

[2019-11-06 00:25] klausenbusk commented on #12982
Moved to: https://github.com/dotnet/sdk/issues/3865

[2019-11-06 00:25] #12982 closed

[2019-11-06 10:20] mahmoudsalahmis commented on #10751
There reason for this error that Azure function does some organising to build artefacts with certain structure and it moves dlls to subdirectory different to the project.dll.

To fix that you need to add PostBuildEvent as following:
[code]

[2019-11-06 15:05] HKochniss commented on #6923
I fixed it btw with

[code]

So for us it's fixed, once we build in any of the official SDK image DOTNET_RUNNING_IN_CONTAINER is set.. so it works even with the VS bug

[2019-11-07 02:50] khteh opened #13034 "dotnet process stays even after `dotnet build-server shutdown` and `killall dotnet`"
[code]

[2019-11-07 12:48] vchirikov commented on #6178
@livarcocc repro here
https://github.com/microsoft/DockerTools/issues/209#issuecomment-551064216

[2019-11-07 21:22] livarcocc commented on #13034
It seems it is running a tests. I am not sure why it is not getting shutdown as part of the killall command. The testhost dll is the one that is not respecting the command to shutdown. I am going to move this issue to vstest.

[2019-11-07 21:39] jwbats commented on #3951
This issue may have made a comeback in .Net Core 3.

The following command produces no files in the specifiout output directory for me:

`dotnet publish ..\..\ -c Debug -r win-x64 -o bin\Debug\PublishOutput`

[2019-11-08 14:02] XmaXStalker opened #13038 "My internet is acting weird."
For a long time (about 1 year) I cannot create servers at all. Every time, on every game if I create a server I get timed out. The server is lagging and everything is teleporting all over the place, then after 5 minutes I time out.

My port is forwarded, I got my DMZ Adress set and I have Inbound rules on my firewall with the required port.

![forwarded ports](https://user-images.githubusercontent

[2019-11-08 15:07] XmaXStalker commented on #13038
One side note I forgot to mention is that I have an amazing internet trough optic fibers.

![internet speed](https://user-images.githubusercontent.com/57114913/68486642-30560280-024a-11ea-94ad-2354cd06865e.png)

[2019-11-08 17:18] livarcocc commented on #13034
This issue was moved to microsoft/vstest#2249

[2019-11-08 17:18] #13034 closed

[2019-11-10 12:18] AsianJohnBoi commented on #2971
commands like docker and dotnet require you to run them on root. These commands create a new group when installed so adding your user to the group will escalate your privileges.

Check the groups on your system `sudo cat /etc/group`
You can check this by going to location of the installed .net package.
(In my case the group I had was `netdev:x:118`
My package was stored in ~/.dotnet and inside con

[2019-11-11 20:05] livarcocc commented on #13038
Not sure why this issue was filled here.

[2019-11-11 20:05] #13038 closed

[2019-11-11 21:23] another-guy commented on #12298
@livarcocc a pretty obvious option is to offer an explicit CLI command key.

`dotnet build --unsupportedProjectAction=<error|warning|ignore>`, with `error` being a default value for compatibility reasons.

[2019-11-14 17:48] jozefizso commented on #7294
@livarcocc please, reopen this issue. `dotnet restore` and `dotnet build` still has issues with solutions which use **.sqlproj** projects. How are we supposed to build our solutions when .NET Core just fails the whole build?

[2019-11-15 08:05] jinwansu commented on #8309
Yes, it works!

[2019-11-15 10:29] baracoder commented on #12234
It seams to be fixed in 3.1-preview2

[2019-11-15 10:29] #12234 closed

[2019-11-16 23:29] alexshikov commented on #6011
@livarcocc Is that something we can expect in the near future?

[2019-11-17 14:34] Ghasan commented on #7500
Oh, my. This was the last thing I would have expected. Like the docs should mention that `runtimes` won't be copied unless the package is already packaged into a nupkg and referenced as so (nupkg) not a project reference. But even so, why is it like this in the first place it is confusing.

[2019-11-18 01:54] winstonhenke commented on #9586
+1 for wanting this fixed and being irritated working with dotnet cli and authenticated feeds

[2019-11-18 02:01] wli3 commented on #9586
@joergmaier seems like there is invalid characters in your nuget config.

@winstonhenke and @joergmaier if you just want to skip these unauthorized feed, you could use `--ignore-failed-sources`.

If further discussion is needed, please create a new issue.

[2019-11-18 02:44] winstonhenke commented on #9586
@wli3 I tried `--ignore-failed-sources` with no luck

[2019-11-18 03:22] wli3 commented on #9586
@winstonhenke could you create a new issue with the error and repro specific to you? There are several errors in this thread, and I don't think they have the same root cause.

[2019-11-18 13:04] akordzik commented on #3959
bump

[2019-11-18 22:02] vrjaroslav commented on #8743
Thank you @jzabroski  => In Visual Studio, going into Options -> Environment -> Preview features .. this helped.

[2019-11-19 00:17] cuichenli opened #13080 "Can I remove the run time folder generated via the publish command"
## PLEASE DO NOT FILE ISSUES IN THIS REPO

File them in https://github.com/dotnet/sdk instead.

[2019-11-19 00:18] #13080 closed

[2019-11-19 10:37] pozitron01 commented on #10006
Hello,
I hop I am not mess up this topic but I do not find any reference for targeting-pack commands...

This does not work to me.

My Dockerfile:
[code]

When i run the above command i got the following message:
[code]

I have tried to point a specific .csproj file with no luck. :(

Can anybody help me with this?

Or can anybody explain me how to build (for run stylecop really) a multiple .csproj

[2019-11-20 13:17] Imisnew2 commented on #12716
It took me over an hour of searching to find this issue. The https://docs.microsoft.com/en-us/dotnet/core/deploying/ documentation mentions "Framework-Dependent Deployments" as a possibility, but never actually explains how to publish as a "Framework-Dependent Deployment" using .NET Core 3.

Should the documentation be updated to reflect the need to use `<UseAppHost>false</UseAppHost>`?

[2019-11-22 14:41] ncbb commented on #12221
Encountered the same issue on macOS. As a solution, in the keychain, remove the old localhost certificate under 'System' and recreate it via the dotnet commands described in the docs. It will be placed under 'login'.

[2019-11-22 20:42] ztorstri commented on #11098
How do you tell the publish profile to use a different command?

[2019-11-23 09:48] simonech commented on #9321
On Catalina, the default shell is zsh... maybe now time to find a way to fix the installation issue? not just writing how to do it manually :)

[2019-11-23 15:54] niko-rm commented on #10336
Yap.. if this is related to update from 2.2 to 3.0

The issue turned out to be that I was still referencing Microsoft.AspNetCore.Razor.Design Version="2.2.0" in the .proj file's package references. Deleting that reference (which isn't needed at all as Razor.Design is now part of AspNetCore library) fixed the issue.

[2019-11-24 01:25] alexzandros commented on #11231
Same problem when trying to run the default F# console app
dotnet --version
3.0.101
System.ComponentModel.Win32Exception (13): Permission denied
   at System.Diagnostics.Process.ForkAndExecProcess(String filename, String[] argv, String[] envp, String cwd, Boolean redirectStdin, Boolean redirectStdout, Boolean redirectStderr, Boolean setCredentials, UInt32 userId, UInt32 groupId, UInt32[] groups, I

[2019-11-24 01:37] alexzandros opened #13120 "Container Image cannot run default console app in F#"
Same problem when trying to run the default F# console app
dotnet --version
3.0.101
System.ComponentModel.Win32Exception (13): Permission denied
   at System.Diagnostics.Process.ForkAndExecProcess(String filename, String[] argv, String[] envp, String cwd, Boolean redirectStdin, Boolean redirectStdout, Boolean redirectStderr, Boolean setCredentials, UInt32 userId, UInt32 groupId, UInt32[] groups, I

[2019-11-24 07:15] mduu commented on #11231
Same issue here with final 3.0.0.100 on macOS Catalina. I used the 3.0.0 macOs x64 installer. That permissions do I need to fix?

[2019-11-25 02:16] NickDarvey commented on #10288
@wli3, if I understand correctly, an msbuild task would be a fine replacement for simple things but as soon as you need to use a dependency the advice I've read is [_don't build an msbuild task_](https://natemcmaster.com/blog/2017/11/11/msbuild-task-with-dependencies/#just-dont).

I don't quite understand the separation that's trying to be achieved here, (which may just be because I haven't been i

[2019-11-25 09:48] TheBoneJarmer commented on #8743
Experiencing the same issue too. However, in my case it is on a TeamCity build agent. And that sucks because the agent needs to build projects using all sorts of sdk versions. Literally ranging from dotnet core 2.0 to 3.1.

For now I decided to not go for the installers but download the binaries instead and copy them to C:\Dotnet\#VERSION NUMBER#\. Have to modify some build configs but I can live

[2019-11-25 17:03] dagood commented on #11231
@mduu Can you please clarify what you installed? 3.0.100, 3.0.101? For example, https://dotnet.microsoft.com/download/dotnet-core/thank-you/sdk-3.0.101-macos-x64-installer

I would recommend opening a new issue with more info, including your command, the console output, and an example repro project, in case it's a different issue that appears the same.

[2019-11-25 19:20] huoyaoyuan commented on #12980
This is the behavior change of newer versions of compiler. Older version still prefers latest major.

`2.1.102` is the very first release of 2.1, and was released far before the behavior change. Please update to latter feature brand, for example `2.1.8xx`.

[2019-11-26 04:14] Gaboik commented on #4710
Just to chime in on this in the hope of possibly helping someone in the future, what caused the problem for me was **when I changed the target framework of my library from `netcoreapp3.0` to `netstandard2.1`**. After trying to compile my lib with `dotnet build -c Debug`, it turned that every single attribute in the `AssemblyInfo.cs`  was marked as 'duplicate'. I simply deleted the `obj` directory

[2019-11-27 06:04] JimmyCushnie commented on #4710
I was getting this error on a project with multiple target frameworks. The problem was that `AssemblyInfo.cs` was being generated multiple times, one for each target framework. The solution was to disable the auto-generation on all frameworks but one.

[code]

[2019-11-27 10:54] LanPodder commented on #5779
[code]
works, but doing
[code]
returns an error:

[2019-11-27 22:15] rainersigwald commented on #5779
@LanPodder Can you open a new issue with some more details?

[2019-11-28 04:10] Thealexbarney commented on #12255
I ran into this issue on Win 10 with 3.0.100. Same error when trying to restore with no local nuget.config file. The `.nuget` directory in my user directory is gone for some unknown reason. I assume the fix would be to recreate the folder.

[2019-11-28 08:08] MarcoRossignoli commented on #12705
Thank's to https://github.com/dotnet/core-setup/issues/8805 and `<PreserveCompilationContext>true</PreserveCompilationContext>` we can find dll, thank's to all for the help!

[2019-11-28 08:08] #12705 closed

[2019-11-28 10:33] msdeibel commented on #9648
@smaktacular's reccomendation works to fix the build of the actual project, but (for me) breaks the build of the related Docker/docker-compose

[2019-11-28 17:57] nlykkei commented on #12221
I fixed the error by copying the localhost certificate in the System keychain into login keychain using Cmd-C + Cmd-V.

[2019-11-28 19:58] theswanand commented on #10548
Hi, Can anyone advice me the project name to simulate/fix this issue. As documented in Readme, the code has been moved to dotnet/toolset. But I am unable to build it as well. So should I need to try dotnet/sdk or I am missing something over here.

[2019-12-02 15:38] TroyWitthoeft commented on #4710
I am using VSCode 1.38, and I can reproduce `error CS0579`.
First start a new empty project, then type in the terminal ...

**Repro steps**

`dotnet new console`
`dotnet new xunit --name MyTests`
`cd MyTests`
`dotnet build`
`cd..`
`dotnet build`

Above, we created a new console app. Then we added an xunit testing project into a subfolder.   We built the child.  Then, when we built the parent we re

[2019-12-03 00:20] wli3 commented on #9321
the latest sdk will print out instruction to ask you to copy paste scripts in order to add the path to your .zshrc

_path_helper_ no longer can put it on path for zsh

[2019-12-03 01:50] dasMulli commented on #4710
@TroyWitthoeft are you creating projects inside of the directory of other projects? That is currently blocked because the default csproj file assumes all content to be part of the project itself. so once you fix the assembly attribute issues, you'll get missing references because all the nested project's `.cs` files will be imported as well.

In this case you should rather exclude these directorie

[2019-12-03 17:17] sparker2000 commented on #10241
@wli3 is there any workaround for this?  Changing the order of my sources doesn't seem to help.

[2019-12-03 19:18] wli3 commented on #10241
@sparker2000 maybe you could use --configfile to pass a different config file to use

[2019-12-03 21:13] simonech commented on #9321
@wli3 the problem is that the message is not visible enough. It says that the installation was successful, so none really care about reading through the info printed.
It should be more visible, maybe in yellow as warning.

[2019-12-03 21:19] wli3 commented on #9321
I see. I created this bug to track it https://github.com/dotnet/sdk/issues/3992

[2019-12-03 22:06] alexshikov commented on #6011
@livarcocc it would really help us to use some cool features of CLI like `dotnet test /p:CollectCoverage=true`. What are the chances it will be available sooner than later?

[2019-12-04 11:11] f2calv commented on #9586
There is a new credential provider tool which I believe helps address this issue, [Azure Artifacts Credential Provider](https://github.com/Microsoft/artifacts-credprovider).

I created a .NET Core 3.1 global tool which I then published to an Azure DevOps private artifact feed, but was initially unable to install elsewhere due to authentication issues. However after using the new credential tool it

[2019-12-04 13:15] GitMarJansen commented on #11512
I have exactly the same behavior. Did you already find a solution for this?

[2019-12-05 13:14] dasMulli commented on #11512
You maybe want to set `PackageCopyToOutput` as well to emit a contentFile file node to the nuspec that has `copyToOutput="True"`:

[code]

[2019-12-05 22:51] Davilink commented on #6617
Is the commandLineArgs still not supported ?

[2019-12-06 12:38] GitMarJansen commented on #11512
I managed to solve this using the following code:
[code]

[2019-12-06 20:55] stsrki commented on #12905
Hi @nkolev92

Is there any progress regarding this issue? tnx

[2019-12-08 17:00] Suchiman commented on #11056
Can this workaround be at least documented somewhere? This was extremely hard to find and that behavior is very counter intuitive.

Example scenario: I find a random .NET Core project on github like https://github.com/Splamy/TS3AudioBot#building-manually
It tells me to install .NET Core 2.2 and build with `--framework netcoreapp2.2` (it's multi targeting 3.0 as well).
Now you receive this error an

[2019-12-09 17:57] dsplaisted commented on #11056
We recommend using the latest SDK even for projects targeting earlier runtimes.  Probably the instructions for building the TS3AudioBot project weren't updated when it added .NET Core 3.0 support.

We recommend using the latest SDK because that's where all of our fixes and improvements go.  For example, even if we were to do as you suggest and skip restoring frameworks that aren't supported, that

[2019-12-10 01:16] nkolev92 commented on #12905
I just tried the repro you provided.

I see Blazorise.Bootstrap.csproj is created without any content/contentFiles which was suggested to be the original problem.

Does the repro need updated?
Or did I miss something?

Thanks.

[2019-12-10 08:55] stsrki commented on #12905
@nkolev92 It seems the original problem is gone. I re-checked all the files and could not found any issue. Maybe it was fixed with the latest  update(s) version of Visual Studio.

Anyways, thank you for your time. If anything comes up I will reopen.

[2019-12-10 08:55] #12905 closed

[2019-12-10 16:39] baronfel commented on #3913
For those F#-interested folks following along here, as of .Net Core SDK 3.0.100 it's possible to launch fsi via `dotnet fsi` from your terminal. Ionide for VS Code supports this when the `FSharp.useSdkScripts` setting is set to `true` in your `settings.json` file.

[2019-12-10 17:47] jgcjoec commented on #11301
We observed this behavior for the first time after upgrading to VS 2019 v16.4. We observed it happening with appsettings files, specifically. One of our referenced assemblies also has an appsettings file that is being copied and overwriting the appsettings file from the project we're publishing. Seems like a bug to me and it was made worse somehow w/ the VS 2019 v16.4 upgrade.

Here is the build i

[2019-12-10 22:27] nguerrera commented on #10948
We're still using Microsoft.NETCore.Compilers. Putting in 3.1.2xx and self-assigning.

[2019-12-10 23:47] mikeharder commented on #11017
Setting the MSBuild property `BuildInParallel=false` seems to work for `dirs.proj` (using [Microsoft.Build.Traversal](https://github.com/microsoft/MSBuildSdks/tree/master/src/Traversal)), though it doesn't seem to work for `*.sln` files.  Given the following `dirs.proj`:

[code]

If you run `dotnet test -p:BuildInParallel=false dirs.proj`, each test project will be run in sequence.
 However, `dotn

[2019-12-11 15:38] bgribaudo commented on #1327
@muratg

There's now a [Process.Kill() overload](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.kill?view=netcore-3.0#System_Diagnostics_Process_Kill_System_Boolean_) for terminating the entire process tree.

[2019-12-11 18:43] muratg commented on #1327
@bgribaudo perfect! Thanks!

[2019-12-12 00:25] ChihweiLHBird commented on #10860
Love this feature. Wish to see it in dotnet in the future.

[2019-12-12 03:29] nhanhgon commented on #4710
Add in .csproj for everyone
<PropertyGroup>
    <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
  </PropertyGroup>

[2019-12-12 11:30] mishka88ru commented on #4710
I am using this to remove duplicated attributes:
[code]

[2019-12-12 16:42] foragerr commented on #12702
I have a similar issue with `dotnet new`. Unsure if it is distinct enough to warrant its own issue.

###Steps to reproduce
[code]

###Expected
non-zero return code

###Actual
[code]

###Environment Data
[code]

[2019-12-12 19:20] livarcocc commented on #10948
@nguerrera this is now done, right? Should we close this issue?

[2019-12-12 19:21] #10948 closed

[2019-12-12 19:21] nguerrera commented on #10948
Yeo

[2019-12-12 19:49] dashesy commented on #11051
This is very confusing. Also related to thus [issue](https://developercommunity.visualstudio.com/content/problem/462968/dotnet-run-looks-in-the-wrong-location-for-project.html)

[2019-12-13 03:51] xianyun666 commented on #12683
.net core 3 ，Still so

[2019-12-13 19:28] Thraka opened #13159 "Install script is not signed"
_From @jozefizso on Friday, December 13, 2019 2:28:43 PM_

Why is the PowerShell script unsigned? How do we know we are running a legitimate script when it's downloaded from internet on each build?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2e484a9-5e0c-eb3e-1413-7b507c4fa07d
* Version Independent ID: 5bc7caa5-f1c

[2019-12-13 19:28] Thraka commented on #13159
_From @Thraka on Friday, December 13, 2019 7:27:11 PM_

@jozefizso I'm going to move this issue to the cli repo where the source of the script is.

[2019-12-13 20:30] livarcocc commented on #13159
@johnbeisner to check on signing the script.

[2019-12-13 20:30] livarcocc commented on #13159
cc @sfoslund

[2019-12-14 17:54] tssm commented on #12894
[I'm seeing a similar problem in macOS + Nix](https://stackoverflow.com/questions/59077719/building-net-core-3-0-app-using-nix-on-macos-fails-with-permissions-error). Version 2.2 works without problem. I'm new to .Net, but maybe I'm able to help fixing it. As detailed in the StackOverflow question my hypothesis is that I need access to some path outside the Nix store but setting `$TMPDIR` doesn't

[2019-12-17 02:03] jtbrower commented on #11440
I am running into the same issue and thanks to @cmeeren for clueing me in, I had to delete the environment variable RestorePackagesPath that I intentionally set to a specific location.  Although I can now install dotnet tooling again, this leaves me wondering why it does not respect the value or RestorePackagesPath.

[2019-12-19 15:21] TheXenocide commented on #9458
We are also experiencing locked files in build environments being held by the dotnet process. If the work it's performing is done, shouldn't it be releasing the files it was using? Even in the case of Razor, different builds could use different versions of the package so shouldn't there be some sort of AssemblyLoadContext to allow GC or a non-locking load behavior (load by byte-array, copy before

[2019-12-19 19:06] amirebrahimi commented on #8309
This was a frustrating issue to track down and after doing all of the updates to VS and still not being able to install I tracked it down to an environment variable. Try removing `MSBuildSDKsPath` and see if that fixes your issue.

[2019-12-20 00:54] mk0003 commented on #2246
`/p:DebugType=None` works for `dotnet publish` on .NET Core 3.0

[2019-12-20 03:27] wakuflair commented on #9397
I can confirm that this still happens on .NET Core 3.1

[code]

[code]

[code]

[2019-12-20 06:23] krwq commented on #11231
I'm getting identical failure on Ubuntu 18.10. This was just a `dotnet new console` and `dotnet run`

my `dotnet --info`

[code]

[2019-12-20 06:46] krwq commented on #11231
Ok, was able to repro again, it seems there is some issue when directory with files is not a physical drive and I have moved files in between first and second time I run:

- mount onedrive with i.e. rclone - this likely will work with any fuse based file system
- create new directory with any name somewhere in the mounted dir
- `dotnet new console` + `dotnet run`

[2019-12-23 16:54] #10882 closed

[2019-12-23 16:55] johnbeisner commented on #10396
timeout was increased to 20 min

[2019-12-23 16:55] #10396 closed

[2019-12-23 17:02] #10281 closed

[2019-12-23 18:34] #10157 closed

[2019-12-24 12:37] stijnherreman commented on #10288
Is this feature still in preview? Or is it the documentation that's in preview?

[2019-12-24 13:22] tebeco commented on #10860
hello @wli3 and everyone else

Any idea about updating all local tools at once ?
`dotnet tool update --local --all`

that would be super helpful
as a `pwsh` alternative would be a workaround.
I just wonder if it's possible to avoid adding script to update tool to work on code ;)

I also wonder if the equivalent of nuget `version range` and `wildcard` would work ?

it would fix a part of the update

[2019-12-24 23:32] tunminster commented on #12298
As far as i know, that can be ignored from the target project.

[2019-12-25 05:28] SidShetye commented on #12298
How do you ignore the SQL project?

[2019-12-27 13:41] wolszakp commented on #9544
Any news on that.
There is the same behavior for netcoreapp3.1

[2019-12-27 20:30] livarcocc commented on #9544
@wolszakp sorry. This is not something we have prioritized at the moment.

[2019-12-30 02:26] wli3 commented on #10288
@stijnherreman only the documentation is in preview. It is shipped in 3.0.100 SDK.

We are working to convert this documentation to an official one

[2019-12-30 02:34] wli3 commented on #10860
@tebeco thank you for your comment.

@KathleenDollard and I do like this feature. It is currently in backlog.

Currently individual update supports `--version` with wildcard. But I don't think it can translate to` --all` easily.

Or are you considering put wild card in the manifest file? Currently only a "precise" number is allowed. In this case, it is under debate. An important feature for local

[2019-12-31 14:31] prashantchoudhary commented on #8374
I get the same error when I target two SDKs.
`<Project Sdk="Microsoft.NET.Sdk;Microsoft.NET.Sdk.Web;Microsoft.NET.Sdk.WindowsDesktop">
  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <UseWindowsForms>true</UseWindowsForms>
  </PropertyGroup>
</Project>`

[2019-12-31 18:06] livarcocc commented on #8374
@prashantchoudhary targeting multiple SDKs like that is not supported. If you target WindowsDesktop, it implicitly brings in Microsoft.Net.SDK for you.

[2020-01-03 09:02] bugproof commented on #8060
FYI dnSpy does this somehow:
![image](https://user-images.githubusercontent.com/3116731/71714921-e6376a80-2e0f-11ea-8ac7-fded19199c61.png)

All the .dll files are inside bin and main .exe to launch it is outside. It looks very clean IMO.

[2020-01-03 14:15] LegatusLarvae commented on #8015
Hi,

I had a similar error and found this searching for a solution. I had the error "Microsoft.DotNet.MSBuildSdkResolver failed to run. Illegal characters in path" when I tried to create a new .Net Core project in Visual Studio 2019 (new installation). It created the project, but didn't add it to the solution. When I tried adding it manually (add existing project) I got this error.

I had no illeg

[2020-01-06 20:24] RomBrz commented on #5262
This happen with me.
Giving more permissions to the Application Pool user for me is the worst option, for God's sake! For who don't know, the Application Pool Identity was created to give more security to the entire server!!

https://docs.microsoft.com/en-us/iis/manage/configuring-security/application-pool-identities

All my sites run with Application Pool Identity, with "Read" only permission to

[2020-01-07 09:56] prashantchoudhary commented on #8374
I get it, but mostly the problem is due to  these two `Sdk="Microsoft.NET.Sdk.Web;Microsoft.NET.Sdk.WindowsDesktop"`

[2020-01-07 21:52] Nburnettt commented on #2855
If this is not included during publish, could you please point out or file a canonical method for deleting the bin/ and obj/ directories?

Very frequently, packages changing versions produces the
`"Duplicate 'System.Reflection.Assembly...'"`
errors which require manual/ad-hoc deleting of the bin and obj directories. If publish can not handle these cases, it seems we should at least have a "dotnet

[2020-01-08 14:18] dasMulli commented on #2855
@Nburnettt this sounds more like you have nested project structures, mulitple csproj files in the same directory or something similar.. this can be fixed by adding an exclusion for other project paths (e.g. https://github.com/SabotageAndi/NewCSProj/blob/248fd105d2b560009de0dccf0d17f124f07b1716/MultipleProjecsInSameFolder/multiprojecttest_project2.csproj#L10)

Do note that publishing (`dotnet publi

[2020-01-09 18:37] Logerfo commented on #10508
I got this error message when trying to build a Windows Forms Application **on Windows** using .NET 5.0 alpha. Is this a known issue?

[2020-01-10 10:03] szTheory commented on #2544
Add `export PATH=/usr/local/share/dotnet:$PATH` to ~/.zshrc if you're on Zsh

[2020-01-13 04:07] ogswr commented on #10981
same here (aws 1gb ubuntu .net core 3.1)

[2020-01-13 14:42] Indomitable commented on #12714
Hi,
  is it possible to update docs: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish currently there is:
[code]
while on dotnet core 3+ it works the other way around.

[2020-01-13 15:43] dasMulli commented on #12714
updating the docs is already filed at https://github.com/dotnet/docs/issues/12486

[2020-01-15 19:37] tyconway commented on #9624
I just ran into the same error as above;
Attempted to place <Target...>true<Target..> into the project file but got an error wherever I put it. (The suggestions to do so above by the way do not mention _where_ to put it; would anyone be willing to share?)

I did resolve the error however by changing all the version numbers in the project file to the same number. That may be unwise--but it's worked

[2020-01-15 20:52] jeffkaminski commented on #10336
This, additionally I had to follow the steps in https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio specifically the code replacement under "Startup changes". I had to do this because I was converting my project from version 2.1 to 3.1 Hopefully this will save someone the struggle I had to endure

[2020-01-15 21:22] dsplaisted commented on #9624
@tyconway It should go inside a `PropertyGroup`, similar to `TargetFramework`

[2020-01-16 09:37] jedidiah81 commented on #12704
Same problem. Glad this came up first on search or would never have figured the trimmer was the reason!

[2020-01-16 21:37] sbomer commented on #12704
I haven't debugged this, but have an idea from looking at [`SystemXmlLinqExtension..cctor`](https://github.com/dotnet/wpf/blob/3d3a1725d45f9ec908f9abc2264e9b1f8d02d09d/src/Microsoft.DotNet.Wpf/src/Extensions/PresentationFramework-SystemXmlLinq/SystemXmlLinqExtension.cs#L21-L27). This reflects over properties of `XElement` that were probably removed by the linker, causing the NRE. You may be able t

[2020-01-17 10:03] andras-gyarmati commented on #6617
I would need commandLineArgs as well, please implement it!

[2020-01-17 17:37] jhudsoncedaron commented on #9558
So I'm going to leave this here because searching for the error yields this page.

COM References don't work when building with the .NET Core 3.1 LTS Toolchain. Use <A HREF="https://docs.microsoft.com/en-us/dotnet/framework/interop/how-to-generate-primary-interop-assemblies-using-tlbimp-exe">tlbimp</A> to make a PIA dll and link against that instead.

We're opting to use a specific version of the

[2020-01-18 00:18] LucidObscurity commented on #11297
This is occurring again in SDK 3.1.1. My co-worker has 3.0.1 as the latest on his machine and does not have this issue.

[2020-01-18 22:16] DRSDavidSoft commented on #6770
@labmorales This also worked for me!

[2020-01-20 21:29] chinmaykelkar9141 commented on #2544
Uninstalling manually and reinstalling dotnet SDK with homebrew worked for me.
"brew cask install dotnet-sdk-3.1.100"
I am using Catalina.

[2020-01-22 15:15] sergiodank commented on #9478
The following solution helped me. Add it in you .csproj file for project which is building:
[code]

[2020-01-23 11:55] redoz commented on #4808
I just got bit by this, has anyone found a work-around yet?

[2020-01-23 17:29] MuiBienCarlota commented on #9583
@peterhuene **--runtime** have not been added to documentation (in fact, latest `dotnet test `documentation is for 2.1 version)

[2020-01-23 17:32] peterhuene commented on #9583
Hi @MuiBienCarlota.  Unfortunately, I no longer work on .NET.  Do you mean the command line help documentation or the online documentation?

@mairaw - is there 3.0 or 2.2 documentation available for `dotnet test`?

[2020-01-23 17:42] MuiBienCarlota commented on #9583
@peterhuene It was missing on online documentation (https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21).

[2020-01-23 20:36] TroyWitthoeft commented on #4710
@dasMulli  Yes, I have a project in a subfolder.  Thanks for catching that.

Instead of  "opting in," defaulting to no AssemblyInfo.cs could we atleast make an IDE level setting that determined whether the AssemblyInfo.cs file was created?  That would allow all the folks facing this issue to set an IDE flag that preven the generation of the metadata file, and keep them from having to explicity edi

[2020-01-24 08:05] dasMulli commented on #4710
At this point, if folks are suggestion behvaior / functional changes, i'd sugest creating a new issue for specifically discussing that instead of continuing to comment on a closed issue. just for the sake of visibility.

Peronally I think the default is good. There should be no need for an assembly info file for new projects and templates and default behavior should reflect that.

These error mess

[2020-01-27 15:01] RehanSaeed commented on #6911
Since https://github.com/dotnet/roslyn/issues/8210 is now completed, I assume this works now?

[2020-01-28 08:30] joergmaier commented on #9586
I thought the credential provider fixed my problem, but the publish action had the same error again. The "test" action seems to be working.
@wli3 I checked the project files and there were no invalid characters

[2020-01-29 15:44] jefflindholm commented on #11206
I am having the same problem with 3.1.100 new install, no other SDKs installed, (I had none and installed the 3.1.100 download) cant build any project.

error MSB4236: The SDK 'Microsoft.NET.Sdk' specified could not be found

Windows 10 build 18995

[code]