[2017-02-27 04:56] piotrpMSFT commented on #5835
This issue was moved to NuGet/Home#4697

[2017-02-27 04:56] #5835 closed

[2017-02-27 04:57] piotrpMSFT commented on #5835
Moved to `nuget/home` repo

[2017-02-27 05:00] piotrpMSFT commented on #5836
@svick is right. .NET Core tooling in Visual Studio will be released as part of VS 2017.

[2017-02-27 05:00] #5836 closed

[2017-02-27 05:02] piotrpMSFT commented on #5837
What version of VS 2017 RC are you using?

[2017-02-27 05:04] piotrpMSFT commented on #5825
This issue was moved to dotnet/templating#381

[2017-02-27 05:04] #5825 closed

[2017-02-27 05:06] piotrpMSFT commented on #5825
Moved over to dotnet/templating repo

[2017-02-27 05:13] piotrpMSFT commented on #5819
@natemcmaster can you set `DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true`?

[2017-02-27 05:21] piotrpMSFT commented on #5815
@abbradar what branch is your stage0 coming from? I wonder if `NixOS` has a different RID than Debian, requiring a different LZMA archive, to be available. If so, you will need to produce a one-time build on NixOS to get a `Stage0` that you can then use on subsequent builds.

I expect that this, by itself, won't be sufficient. You will also need to ensure that the CLI build has access to a shared

[2017-02-27 05:53] zabulus commented on #5846
Is there other way to restore packages? I.e. With msbuild or something like this. Or maybe somehow explicitly specify msbuild path that cli should use.

[2017-02-27 07:18] Petermarcu commented on #5854
There are likely two things. One is building the way the distros build and the other will be building in a "portable" way. We're looking at changing our CI in core-setup to be able to fire off tests to different Helix queues to get cross testing even from Jenkins. The shared framework needs to do this so we have to work through the CI problem.

This is the first time we're doing this on Linux so I

[2017-02-27 07:53] mlorbetske commented on #5843
@ckalan to verify, in the working configuration, building/restoring/publishing the same project (same as the one that failed when trying from outside the container) from inside the container worked?

@glennc

[2017-02-27 08:03] Petermarcu commented on #5854
I may have misread what you said. I think what you are proposing could work but doing it that way would likely mean two builds.

This "Linux" version of the CLI is not what will go into native installers for each distro. Those would just reference the deb or rpm packages they depend on the way it works today I believe. So you would need to build and test the one that runs on the distro specific bi

[2017-02-27 08:08] Rvhappen opened #5855 "Adding a dependency to .Netcore 2.0"
## Steps to reproduce
1. dotnet new (dotnet 2.0)
2. make your own nuget package like in this URL: http://stackoverflow.com/questions/39604462/using-net-core-cli-add-a-reference-to-a-local-dll-when-targeting-the-full-fram
3. add it to a 'project.json' file

## Expected  behavior
My own dependencies (Sifteo.dll and JsonFx.dll) are added to the dependencies.

## Actual behavior
Everytime I try to add

[2017-02-27 08:09] mellinoe commented on #5760
@livarcocc Do you think I should file this somewhere else? I'm not really sure which component this falls under.

[2017-02-27 08:34] tmds commented on #5854
Duplicate of https://github.com/dotnet/cli/issues/5811?

[2017-02-27 10:41] ckalan commented on #5843
@mlorbetske Yes, as I mentioned in my comment. All process works as expected if executed in the docker container.

[2017-02-27 10:41] Rvhappen commented on #5855
I didn't know I had to edit the new csproj file. I don't know why I didn't find that out earlier. To add a reference I modified the xx.csproj file and added the following keys (Sifteo.dll is my reference in this case):
<ItemGroup>
		<Reference Include="Sifteo, Version=0.1.4266.33212, Culture=neutral, PublicKeyToken=0e958af9dbfb2cb7">
			<SpecificVersion>True</SpecificVersion>
			<HintPath>..\xxxx\

[2017-02-27 10:41] #5855 closed

[2017-02-27 10:47] Rvhappen opened #5856 "Reference found at dotnet build, not found at dotnet run"
## Steps to reproduce
1. Add a reference with hintpath to the xxx.csproj file
2. Restore and build the new files
3. Run the application

## Expected  behavior
The application would load the reference as it did before.

## Actual behavior
"Could not load file or assembly ''Sifteo, Version=0.1.4266.33212, Culture=neutral, PublicKeyToken=0e958af9dbfb2cb7'. The system can't find the specified file".
I

[2017-02-27 11:55] Ashthos opened #5857 "dotnet migrate incorrectly set RuntimeIdentifier tag in csproj"
## Steps to reproduce

Execute "dotnet migrate" on a Preview 2 project

## Expected  behavior

Generates csproj file which successfully builds.

## Actual behavior

Add a \<RuntimeIdentifiers\> tag which incorrectly has a trailing 's' (i.e. it is pluralised). This isn't compatible with the "dotnet build" command, which raises an error such as:

[code]

Related to #4619

## Environment data
`dotnet

[2017-02-27 12:28] GapiSla commented on #5059
had the same issues. I created .NET Core Web Application from VS2015 template and used publish to folder. When I ran publish output content on ubuntu 16.04 manually using "dotnet" I got the error.  Fixed it by changing the project.json dependency for Microsoft.NETCoreApp, from this:

"Microsoft.NETCore.App": "1.1.0",

to this:

    "Microsoft.NETCore.App": {
      "version": "1.1.0",
      "type":

[2017-02-27 16:14] RehanSaeed opened #5858 "CopyToPublishDirectory Never Does Not Work"
I have a `.gitignore` file in the `wwwroot` folder of my project that I am trying to exclude from being published. The following code does not seem to work, when I publish the project, the `.gitignore` file is still found in the output directory.

[code]

[2017-02-27 16:26] RehanSaeed commented on #4861
Are there any docs or updates for how we setup pre-compiled views using the new csproj project system?

[2017-02-27 16:29] RehanSaeed commented on #4861
Latest info found here for csproj view precompilation
https://github.com/aspnet/MvcPrecompilation/issues/71

[2017-02-27 16:32] mdmoura commented on #4861
Is there a template for the new CSPROJ format anywhere? This would be really useful.

And you would only need to update it when a new version is released ...

[2017-02-27 16:57] livarcocc commented on #5858
You should use Content Update="wwwroot\.gitignore" instead of the Include above.

[2017-02-27 16:58] livarcocc commented on #5857
We are actually no longer adding a runtime identifier when migrating, unless you already had one or more in your project.json, in which case we will move them over.

[2017-02-27 16:58] #5857 closed

[2017-02-27 17:01] livarcocc commented on #5856
Why are you using the CLI from 2.0.0? Does this work with a 1.0.0 CLI? Also, any chance you can share your projects or a repro of the issue? This is something that we do very frequently, so it should work.

[2017-02-27 17:02] natemcmaster commented on #5819
Yeah, we can suppress the behavior with that variable. But it seems like this should be the default.

[2017-02-27 17:04] RehanSaeed commented on #5858
Thanks!

[2017-02-27 17:04] #5858 closed

[2017-02-27 17:08] Ashthos commented on #5857
@livarcocc you missing the issue I think. I don't think this should have been closed.

When you **are** adding the runtime identifier (as it may be in the project.json) you are using a tag in the csproj which dotnet build does not accept.

Regardless of whether it needs to be there or not, if you are generating a new csproj file the tags included in the file should be compatible with the dotnet bu

[2017-02-27 17:11] dougbu commented on #5849
Behaviour more consistent after I rebased `dougbu/does.it.hang.yes.it.does` to include latest from the Mvc `dev` branch. Problems now sometimes reproduce without redirects. Likely the redirects just change timings slightly and previously made races occur more often.

I tested in the `dougbu/migration` branch after backing out that fix. No hangs.

[2017-02-27 17:37] livarcocc commented on #5837
It does that to update metadata about that particular file.

[2017-02-27 17:38] Rvhappen commented on #5856
Hmm I must admit I have no reason for it. I am working on a project as an intern for an ict company. So I'm not really experienced, but eager to learn.

My goal is to make Sifteo cubes (which are out of the running for 2 years) working on a Raspberry Pi with GroveKit and Windows IoT core. The sifteo cubes do have a DLL called Sifteo.dll. This dll is compatible with .NET 3.5 - recent .NET framework

[2017-02-27 17:40] livarcocc commented on #5780
The new templates in the CLI have been updated.

[2017-02-27 17:40] #5780 closed

[2017-02-27 17:42] livarcocc commented on #5779
Since it has been a while since we saw activity on this issue, and we couldn't repro this ourselves. I am closing the issue.

@tuespetre Please, feel free to re-activate when you have more information for us. Thanks.

[2017-02-27 17:43] tuespetre commented on #5779
@livarcocc hah, I was just typing up something as you closed it

[2017-02-27 17:45] tuespetre commented on #5779
@rainersigwald tried to 🔧 around with ProcMon and in my 'real world' scenario (using `npm`) I see `npm` running to completion (a Process Exit operation with an exit code of 0.) I'm not sure what to make of any of the output after that. Eventually `dotnet.exe` exits with a code of `-1073741790`.

@livarcocc I cannot reopen the issue, I can only comment

[2017-02-27 17:46] livarcocc commented on #5775
Moved this over to core-setup: https://github.com/dotnet/core-setup/issues/1593

[2017-02-27 17:46] #5775 closed

[2017-02-27 17:48] livarcocc commented on #5773
@blackdwarf Is there any action for the CLI on this issue? If not, let's close it.

[2017-02-27 17:49] livarcocc commented on #5760
@mellinoe Can you please move this over to nuget/home?

[2017-02-27 17:50] dougbu commented on #5849
Just saw a message about `MSBuild_*.failure.txt` files written into `$env:temp`. These messages aren't normally output. But, I've got files for all or most hangs I've experienced this morning. Contents include
[code]
and / or (or is much more common)
[code]

Of course, these failures should not result in hangs.

[2017-02-27 17:51] livarcocc commented on #5755
@Mds92 you probably have a global.json at the root of your repo that has an SDK version set in it pointing to preview2.

Nevertheless, @mairaw is right, VS2015 supports up to Preview2 and won't work with rc4. Also, rc4 does not support project.json. If you are using project.json, you will have to migrate it to MSBuild in order to use RC4. You can do that using the dotnet migrate command. More on t

[2017-02-27 17:51] #5755 closed

[2017-02-27 17:58] livarcocc commented on #5752
Moved to https://github.com/NuGet/Home/issues/4699.

[2017-02-27 17:58] #5752 closed

[2017-02-27 18:03] livarcocc commented on #5637
We have also updated our dependencies to Extensions.DependencyModel.

[2017-02-27 18:03] #5637 closed

[2017-02-27 18:07] tuespetre commented on #5779
Still seeing the issue after installing `1.0.0-rc4-004911`.

[2017-02-27 18:12] DustinCampbell opened #5859 "Migrating VS 2015 C# Windows Universal app Missing TargetFrameWorkVersion"
_From @WallyZambotti on February 27, 2017 3:38_

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-rc4-004771)

Product Information:
 Version:            1.0.0-rc4-004771
 Commit SHA-1 hash:  4228198f0e

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Linux
 RID:         ubuntu.16.04-x64
 Base Path:   /usr/share/dotnet/sdk/1.0.0-rc4-004771
VS Co

[2017-02-27 18:12] DustinCampbell commented on #5859
Moving over to the .NET CLI repo.

[2017-02-27 18:24] livarcocc commented on #5549
Since we haven't heard back in a few days, and we haven't had issues with this scenario in the CLI itself (we do this for our tools), I am going to close this issue.

@darkgem666 Feel free to re-activate with more info if this is still reproing for you with the latest version of the CLI.

[2017-02-27 18:24] #5549 closed

[2017-02-27 18:28] livarcocc commented on #5545
Closing this due to the lack of activity and the fact we need more information.

[2017-02-27 18:28] #5545 closed

[2017-02-27 18:41] mellinoe commented on #5760
https://github.com/NuGet/Home/issues/4700

[2017-02-27 18:41] #5760 closed

[2017-02-27 18:47] tuespetre commented on #5779
@livarcocc @rainersigwald it seems to be specifically when running more than one `Exec` within the target, as well (as I put in my original comments.) But I've tried breaking them up with `Message` in between and still no luck. In this example, `npm install` completes and `In between Exec` prints, but the `echo hello` never succeeds and MSBuild dies:

[code]

[2017-02-27 19:16] livarcocc commented on #1693
We have a pretty version being produced and will put it in the right places.

[2017-02-27 19:16] #1693 closed

[2017-02-27 19:37] tuespetre commented on #5779
I put the following target in a 'old-style' .csproj:

[code]

Ran MSBuild from the command line (`msbuild /t:TestTarget`) and got the expected result. Put the same target into any 'new-style' .csproj and try to run it via `dotnet msbuild /t:TestTarget` and it only ever prints 'hello'.

[2017-02-27 20:30] piotrpMSFT commented on #5854
@tmds @Petermarcu do we have a listing of linux distros for which we want to test the `Linux` binaries?

[2017-02-27 20:40] GuardRex commented on #4861
@RehanSaeed It's a little bit buried perhaps, but the PJ doc mention is here: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor#view-compilation and the upcoming csproj mention is here: https://github.com/aspnet/Docs/blob/csproj/aspnetcore/mvc/views/razor.md

@mdmoura The templates are at: https://github.com/aspnet/Templates/tree/dev/src/BaseTemplates

I don't think there is a doc versi

[2017-02-27 20:43] Petermarcu commented on #5854
Yes, Its the same as the support matrix. I have a proposed list in an email somewhere I will dig up.

[2017-02-27 21:17] bruce31 commented on #5837
Using VS Pro 2017 RC
15.0.0-RC.4+26206.0

The metadata (whatever that is) is clearly not required for the build as the dotnet command does not require it. If VS needs to keep track of something about the files in the project surely it can use the .vs folder that it has created which is usually excluded from source control.

The whole point of not requiring lists of .cs files in the project file wa

[2017-02-27 21:18] bruce31 commented on #5837
Clicked wrong button!

[2017-02-27 22:19] livarcocc commented on #5837
Please, move this issue to https://github.com/dotnet/roslyn-project-system.

[2017-02-27 23:42] brettfo commented on #5844
Re-opening because the behavior here is still odd.

If I use `<Target Name="Foo" BeforeTargets="Build">` like you suggest, it works as expected, but if I name the target `BeforeBuild`, the it's _not_ executed, so it appears that there is some (incomplete?) switching on the target name.

[2017-02-27 23:52] livarcocc commented on #5844
@brettfo can you please move this issue to the microsoft/msbuild repo? particularly this last piece about this not working depending on the target name.

[2017-02-27 23:55] brettfo commented on #5844
Issue appears to already exist at Microsoft/MSBuild#1680.

[2017-02-27 23:55] #5844 closed

[2017-02-28 01:03] TommasoScalici commented on #3189
I tried right now in Visual Studio 2017 RC and it seems to not work...

[2017-02-28 01:12] TommasoScalici commented on #3189
It seems to work if you add the reference "manually", but I can't get it to work with the generated NuGet Package. Maybe something still doesn't work properly since this feature was added in the current RC version.

[2017-02-28 04:06] blackdwarf commented on #5773
@livarcocc nope. Closing.

[2017-02-28 04:06] #5773 closed

[2017-02-28 04:11] blackdwarf commented on #5837
Opened dotnet/Roslyn-project-system#1643 to keep track of this. Closing this one.

[2017-02-28 04:11] #5837 closed

[2017-02-28 04:12] blackdwarf commented on #5815
/cc @bleroy

[2017-02-28 04:13] blackdwarf commented on #5795
This is now fixed in the latest builds and the branding has changed. Closing. @julielerman please reopen of you see that the new PKG installer has the same problem.

[2017-02-28 04:13] #5795 closed

[2017-02-28 07:18] jskeet commented on #3189
It works for me in my Shed Automation project. Try it:
https://github.com/jskeet/DemoCode/tree/master/Shed

(Obviously unless you've got the exact same setup as me, it won't be *useful*, but you should be able to see it building...)

[2017-02-28 10:37] shawty commented on #3064
HI All, just to add my 2p worth to this thread.

I got hit by this issue this morning (Previously my VS2015 was working perfectly) then I fired it up, and boom, this happened.

After a bit of detective work (And noticing some other things wrong in my system) I tracked it down to a piece of software I installed a few days ago.

The piece of software I installed had changed my system path to ONLY po

[2017-02-28 11:07] abbradar commented on #5815
@piotrpMSFT Not sure what do you mean by RID, sorry. I simply took .NET SDK 1.1 for Ubuntu 16.04, it works okay as stage0 for me.

Current problem is indeed with NuGet dependencies. Is there a way to build a snapshot of them and provide it later somehow?

[2017-02-28 13:45] TommasoScalici commented on #3189
I still don't understand why a .NET Core NuGet Package can't be consumed in a UWP project. I can manually reference the .dll without problems but when I try to add the NuGet Package the output says:

[2017-02-28 14:00] onovotny commented on #3189
@TommasoScalici It sounds like the package you're trying to use is `netcoreapp1.1`. That is a .NET Core library. .NET Core is a platform, not a surface area -- similar/in parallel to UWP, .NET, Xamarin, etc.

`netcoreapp1.x` can only be referenced by other `netcoreapp` libraries/apps.

I think what you want instead is a .NET Standard library, and that's `netstandard1.x`. .NET Standard 1.0-1.4 can

[2017-02-28 14:02] TommasoScalici commented on #3189
@onovotny Thanks, that in fact was the mistake. I still make confusion between the two.

[2017-02-28 14:55] devlead opened #5867 "Nuget properties lost when migrating from project.json to csproj"
## Steps to reproduce
Running dotnet migrate omits  some pack options that were valid in project.json (https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json)
i.e.

* owners
* summary

### Source project.json
https://github.com/WCOMAB/Cake.Kudu/blob/master/src/Cake.Kudu/project.json
[code]

### Result Cake.Kudu.csproj
[code]

## Expected  behavior

To not omit or warn when data i

[2017-02-28 15:37] blackdwarf commented on #5811
Closing in favor of #5854 which seems to be the same ask.

[2017-02-28 15:37] #5811 closed

[2017-02-28 16:01] RehanSaeed commented on #5827
Is the plan to use `runtimeconfig.template.json` for now and the csproj properties after 2.0?

[2017-02-28 17:00] Tragetaschen commented on #5120
The native dotnet host is now available (dotnet/coreclr#1598).

I tried to create a cli build. However, I keep running into walls when it comes to defining the right RIDs at the right places.

[2017-02-28 17:24] challe opened #5868 "Getting a CLI SDK that supports the 2.0 framework"
I was asked to create an issue here to drive the discussion about how to get a CLI SDK that supports 2.0 framework after asking about this problem in https://github.com/dotnet/core-setup/issues/725.

I'm simply trying to create a .NET Core Web API for my Raspberry Pi 3 running Ubuntu 16.04 with the `2.0.0-beta-001619.00` runtime. I'm using Visual Studio Code on Windows when developing.

## Steps t

[2017-02-28 17:41] pichardoJ commented on #2018
For Fedora 25 I got it working with this [new copr repo](https://copr.fedorainfracloud.org/coprs/nmilosev/dotnet-clean/).

[2017-02-28 17:59] gkhanna79 commented on #5868
@piotrpMSFT @livarcocc PTAL.

Also see https://github.com/dotnet/core-setup/issues/725#issuecomment-283114679.

CC @rahulreddy65

[2017-02-28 19:07] wierzba3 commented on #3174
I'm having this problem and using -StorePasswordInClearText caused the "password decryption not supported" error to go away,

but now I get this:

[code]

The feed with the same credentials work in a different build (normal .NET). So .net core must be the difference causing the 401.

What could be the problem?

[2017-02-28 19:25] livarcocc commented on #5867
@devlead You are correct. These are properties that are not migrated. We should warn when doing that.

[2017-02-28 19:27] livarcocc commented on #5854
@jgoshi has started iterating on this work.

[2017-02-28 20:54] brettfo opened #5871 "`dotnet pack --include-source` places code sub-directories in the root of the package."
## Steps to reproduce
Create a package with sources that includes code in subdirectories.

[code]

Then extract the `*.symbols.nupkg` file

## Expected  behavior
I expect the following structure:

[code]

## Actual behavior
The `SomeDir` directory was placed in the root of the package:

[code]

## Environment data
`dotnet --info` output:

[code]

[2017-02-28 21:04] livarcocc commented on #5871
Moved it over to https://github.com/NuGet/Home/issues/4719.

[2017-02-28 21:04] #5871 closed

[2017-02-28 21:17] jgoshi commented on #5854
@Petermarcu what is the correct shared framework version number for this? I'm assuming the RID is linux-x64?

[2017-02-28 21:36] Petermarcu commented on #5854
Do the versions here help? https://github.com/dotnet/core-setup

Yes, linux-x64 is the rid. Let me know if there are other questions I can answer. Note that we will not have native package manager installers for this version. No MSI's, PKG's, DEB's, or RPMS.

[2017-02-28 21:51] jgoshi commented on #5854
For the master branch it shows failed build. We currently use this one: 2.0.0-beta-001509-00

Will that work for the Linux-x64 RID?

[2017-02-28 22:18] ellismg opened #5873 "First Run Message and LZMA Cache Expansion are intertwined."
## Steps to reproduce

1. Download a CLI drop
2. Delete the .lzma archive that comes in the drop.
3. Run `dotnet help`
4. Run `dotnet help`

## Expected  behavior

The first invocation of `dotnet help` prints the first run message, the second does not.

## Actual behavior

Both commands print the first run goop.  I think this is because the cache priming does not happen (since the LZMA file is mis

[2017-02-28 22:18] ellismg commented on #5873
/cc @Petermarcu something I noticed while doing investigation for you.

[2017-02-28 22:19] ellismg commented on #5873
Since the build from source effort will produce CLI's without the lzma files, I'll want to fix this shortly.

[2017-02-28 22:26] livarcocc commented on #5873
So, your proposal is to simply separate the two behaviors? For instance, register that the message was shown and don't show again? This is not enough. You need to not show the telemetry message, but the priming message should still be shown.

I think maybe what we need is a thing to turn off the nuget cache priming entirely (in some scope). Something like DOTNET_SKIP_NUGET_CACHE_PRIMING. The first

[2017-02-28 22:29] livarcocc commented on #5868
There are a few things here that are confusing:
1. When you ran dotnet `publish --runtime ubuntu.16.04-arm`, did you also ran `dotnet restore --runtime ubuntu.16.04-arm`? If not, do you have that RID in your csproj?
2. You are publishing your app as a self-contained app (exe), which is indicated by the --runtime flag, but you are trying to run it as a portable app, by using dotnet dll. Just pointi

[2017-02-28 22:35] ellismg commented on #5873
I think we should be writing a sentinel file for "have we showed the first run message about telemetry collection" and another for "we have primed the cache".  Most of the first run message is tied to the existence of the telemetry sentinel file, the only part that isn't is the "please stand by while we extract some stuff".  The telemetry sentinel file is shared across versions of the CLI (we can

[2017-02-28 22:58] livarcocc commented on #5873
@ellismg However, this does not address the case where we don't have the lzma archive present. For this case, we will show the priming message 100% of the time, which I think for the build from source case, we would not want to.

[2017-02-28 23:04] Petermarcu opened #5874 "Roslyn R2R differences in private vs shared copies."
I'm looking at the latest build of the SDK in master (2.0).

Roslyn (CSharp) in the shared frameworks is the 1.3 version and is 10MB when R2R. Roslyn in the CLI's Roslyn folder is version 2.0 and is 7MB. They are both generated from very similar size IL. Something is likely wrong here. We should take a closer look.

[2017-03-01 00:03] ellismg commented on #5873
I agree.  I think showing the priming message should be conditional on both the lzma archive being present and the complete sentinel existing.  Does that make sense?

[2017-03-01 00:27] ellismg commented on #5854
It should, the NuGet package for [Microsoft.NETCore.App exists](https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.linux-x64.Microsoft.NETCore.App/2.0.0-beta-001509-00).

[2017-03-01 00:34] ellismg commented on #5815
Once you have the nupkg's that would be restored (which you can get by doing a build once "online" and the copying all the nupkgs downloaded to somewhere safe), you add an addition source to a folder with all the nupkg's in them to the top level `NuGet.Config`.

The build process will also want to download versions of the shared framework, as @piotrpMSFT says.  In the master branch, the DownloadFi

[2017-03-01 00:54] livarcocc commented on #5873
I am actually a bit worried about this approach. As we may have an issue in the build that would be hidden by it. Plus, I would prefer for us to be explicit on choosing this or not.

[2017-03-01 00:59] ellismg commented on #5873
The behavior of the system today when the `.lzma` file does not exist (as well as the sentinel being missing) is to just show the first run message, not do any extraction and continue.  Are you saying that you think that's a bug and we should fix that as well?

[2017-03-01 01:05] livarcocc commented on #5873
I am saying that today we don't really expect the lzma file to be missing and it is only so when someone tinkers with it explicitly. Now, we are making this a feature and we should put the right safety guards in place so that this feature does not slip in the main build accidentally without us noticing.

[2017-03-01 02:44] mishra14 opened #5876 "Add support for dotnet test path_to_solution"
Currently we cannot do `dotnet test` for a solution. That feature would be great to have!

e.g. - `dotnet test NuGet.Sln`

//cc: @emgarten @piotrpMSFT @livarcocc

[2017-03-01 03:47] Petermarcu commented on #5873
I think the lzma file missing should be a good reason to skip the nuget cache extraction and it shouldn't really have any impact on whether the first run message shows or not. It should trigger the message of "extracting the cache" if the lzma file is there. We need to make it an option to have a CI friendly SDK.

[2017-03-01 04:34] ellismg commented on #5873
I think that @livarcocc's point is that for a build where we expect the lzma file to be present, if it's not present, we should error out in some reasonable way instead of just silently skipping over the cache priming step.

I think the wants to guard against some case where the lzma file stopped getting included in the official builds (due to some authoring error somewhere) and then we are blind

[2017-03-01 04:39] Petermarcu commented on #5873
That would just make us have to build binaries twice for these two configurations. If we wanted to test for that. I'd just have a test that verifies the file is in the build we expect it to be in and not in the other. I'm hoping we will produce an SDK zip with caches, templates, and all the getting started materials. I'm also hoping we can just zip up a smaller set of assets into a "minimal" SDK w

[2017-03-01 04:43] Petermarcu commented on #5873
In summary, I need to ability to have an SDK that doesn't have this lzma file in it and have it function without having to build a different set of binaries.

[2017-03-01 05:26] nehalbhanushali commented on #2896
I am facing the same issue, and I have all latest downloads

[2017-03-01 05:35] nehalbhanushali commented on #2896
It was a project that was apparently created with some other version and I was trying to run it in mine.
That being resolved, I have another problem with the Streamreader in C#. I dont know if this is the right platform for this question, but if there is any help,  Streamreader  doesnot accept  string.

Error Messsage :  `error CS1503: Argument 1: cannot convert from 'string' to 'System.IO.Stream'

[2017-03-01 05:49] JohnRusk commented on #5773
Hi @blackdwarf. I just tried the script-based install that you described.  Got an error that said: `release/1.1.0 is an invalid channel name. Use one of the following: future, preview, production`

[2017-03-01 06:04] livarcocc commented on #5873
@Petermarcu I am not disagreeing on your point at all. I just feel like we should be explicit about it by adding a knob that allows us to turn off the cache part of the first run entirely.

Also, for CI, in a sense, we already have all the pieces in place. We have a knob to turn off producing the LZMA archive, which I believe @ellismg added himself and we have the DOTNET_SKIP_FIRST_RUN_EXPERIENCE

[2017-03-01 06:06] livarcocc commented on #5876
Duplicate of https://github.com/Microsoft/vstest/issues/411.

[2017-03-01 06:06] #5876 closed

[2017-03-01 06:07] JohnRusk commented on #5773
For anyone else reading this, you may also strike an in-installable dependency on libicu52. See https://github.com/dotnet/cli/issues/2962 for the workaround

[2017-03-01 06:17] Petermarcu commented on #5873
Funny, I mentioned config to @piotrpMSFT when I was talking to him about my needs :).

It would be nice to able to persist in some way with the sdk I'm using that I want a certain behavior without having to set env vars. In the absense of that, I think enabling things like "deleting the lzma file" from a zip to signal that you don't want the cache to be expanded seems like a very reasonable gestur

[2017-03-01 06:29] challe commented on #5868
Thanks for your input. I'm fairly new to this, and right now it's a matter of piecing together github issues to get an understanding of how this all works.

My goal was to follow the guide [here](https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction), and use nginx as a reverse proxy for Kestrel. There, in your service, you finally do `ExecStart=/usr/bin/dotnet /var/aspnetcore/he

[2017-03-01 06:48] rahulreddy65 commented on #5868
I downloaded the 2.0.0 version without sdk. I need sdk which works with it. Where can I download it.

[2017-03-01 08:18] janbaltus commented on #5369
Fix is implemented #5335.

[2017-03-01 10:51] Xarkam opened #5880 "The library 'hostpolicy.dll' not found after build"
## Steps to reproduce
1. Clone https://github.com/OSAMES/osames-orm
2. Create new .NET Project where you want
3. In new .NET Project, copy files and directory from osames-orm directory :
    - Config directory
    - Configuration directory
    - DbTools directory
    - Logging directory
    - Resources directory
    - Utilities directory
    - all .cs files in root directory

4. Create project.jso

[2017-03-01 13:52] scalefocus commented on #4919
Hey guys, what about just `dotnet init`?

[2017-03-01 14:07] mikebrind commented on #5528
I'm getting this issue with version 1.0.0-rc4-004915

[code]
dotnet --info:
[code]

[2017-03-01 14:09] wburgers commented on #3199
This finally makes some sense to me, though I still think it is broken.
First let me sketch the situation:
I want to publish a dotnet core app that references some class libraries and thus builds on the full net452 framework.

If I try to use dotnet restore on the full solution, the tooling is unable to resolve the references to multiple class libraries.
`Unable to resolve 'ClassLibrary1' for '.NE

[2017-03-01 18:20] #5369 closed

[2017-03-01 18:49] drbergeron commented on #3064
I've been running into this too. the solution for me was to run visual studio 2015 as administrator, then open the project. just double clicking the .sln to launch would cause the SDK error.

I'm running on a fairly locked down corporate laptop, for full disclosure.

[2017-03-01 19:08] challe commented on #5868
@rahulreddy65 I don't remember where I found the link, but I got mine from here:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-win-x64.latest.exe

[2017-03-01 19:15] livarcocc commented on #5873
@ericstj A failure is not blocking. Has never been blocking, however, we will display the message and attempt to prime the cache over and over again until we succeed. The idea of not having an lzma archive present is new and we need to deal/think through it and make the appropriate changes.

[2017-03-01 19:17] challe commented on #5868
After adding
[code]
to `C:\Users\challe\AppData\Roaming\NuGet\NuGet.Config`, I'm finally able to use this in my csproj-file:
[code]
After a `dotnet restore`, a `dotnet publish`, and copying all of the DLL's in my publish-folder to my Raspberry Pi, I now get `Segmentation fault` when doing `usr/bin/dotnet /home/challe/dev/test/test.dll`.

Any ideas?

[2017-03-01 19:50] livarcocc commented on #5868
@gkhanna79 Can you help debug this segmentation fault?

[2017-03-01 19:53] challe commented on #5868
@livarcocc @gkhanna79 I should point out that I'm getting this warning when doing `dotnet publish` as well as when doing `dotnet run` (but the API works just fine on my development machine):

[code]
Not sure if this is related to the segmentation fault.

[2017-03-01 19:57] rahulreddy65 commented on #5868
@challe  I want the linux arm32 version of sdk. Do you know where I can find it?

[2017-03-01 20:18] livarcocc commented on #5868
We don't currently produce a CLI for arm. We produce a runtime that you can use to run your applications there, but they need to be developed on a separate OS.

[2017-03-01 20:43] rahulreddy65 commented on #5868
@livarcocc do you mean I can run applications  which are already compiled on another OS? But when I run 'dotnet run' it says "Did you mean to run dotnet SDK commands?"

[2017-03-01 20:49] livarcocc commented on #5868
run in a CLI command. In order to run the application in arm you need to either publish it as a portable application and run it by invoking dotnet <your_dll>.dll or as a stand alone app and then running it with <your_app>.

To build as a stand alone app you need to either restore and publish with --runtime, passing your rid or having that RID set under <RuntimeIdentifier> in your csproj.

[2017-03-01 20:51] rahulreddy65 commented on #5868
I understand, thank you.

[2017-03-01 20:54] Petermarcu opened #5883 "CLI needs to move to 2.0.0-preview1-XYZ versioning scheme."

[2017-03-01 22:04] pdeligia opened #5885 "dotnet migrate does not generate <Optimize>true</Optimize> when "optimize": true is used"
## Steps to reproduce

Run `dotnet migrate` to migrate the following example json project file to a csproj file.
[code]

## Expected  behavior

The migrated csproj file should include the `<Optimize>true</Optimize>` , since `"optimize": true` was used.

## Actual behavior

In the migrated csproj file, `<Optimize>true</Optimize>` is missing.

## Environment data
`dotnet --info` output:

.NET Comman

[2017-03-01 22:07] pdeligia commented on #5885
Maybe related to #5827 ?

[2017-03-01 22:42] twsouthwick opened #5887 "When scaffolding a data view in VS, I get duplicated key error for DOTNET_SKIP_FIRST_TIME_EXPERIENCE"
Not sure if this is the right repo, but I'll start here:

## Steps to reproduce
- Set DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 as an environment variable
- Launch VS (I'm using 15.0.26228.0)
- Create an ASP.NET Core application
- In project view, right click `Controllers ->Add->New Scaffolded Item` and then select `MVC Controller - Empty`
- Fill in name

## Expected  behavior
- New controller should be

[2017-03-01 22:46] twsouthwick commented on #5846
You can try restoring with `msbuild /t:restore`

[2017-03-01 23:12] livarcocc commented on #5887
@BillHiebert Can you take a look? Are you the right person?

[2017-03-02 00:13] rahulreddy65 commented on #5868
I'm getting `A fatal error was encountered. The library 'libhostpolicy.so' required to execute the application was not found in '/Hello/'.` error when running `dotnet helloworld.dll` command. How to fix that error?

[2017-03-02 00:17] livarcocc commented on #5868
can you share your csproj for this project? Also, is this when running in arm or in your development box?

[2017-03-02 00:34] rahulreddy65 commented on #5868
I downloaded it from `https://www.dllme.com/dll/files/helloworld_dll.html` and I'm running it on arm.

[2017-03-02 02:45] livarcocc opened #5890 "dotnet migrate hits an NRE when migrating a project with star dependency"
## Steps to reproduce
1. git clone https://github.com/jaymedavis/stripe.net
2. dotnet migrate

## Expected  behavior
Migration works.

## Actual behavior
We hit a NRE in the migration code. The workaround for this issue is to replace the * versions with a version with at least a portion of it fixed.

[code]

## Environment data
`dotnet --info` output:

[2017-03-02 06:09] challe commented on #5868
@rahulreddy65 I have gotten that error message before on my arm. The simple mistake I made then was that I published the entire `bin/debug/netcoreapp2.0`folder (which does contain a dll-file) instead of the content of `bin/debug/netcoreapp2.0/publish/` (which also contains a dll-file with the same name).

[2017-03-02 06:16] AndrewSav opened #5893 "Question: why dotnet needs permissions for '/home'? Any work around?"
First I run:

    HOME=/opt/netcore dotnet --info

I'm getting:

[code]

Then I run:

    HOME=/opt/netcore dotnet new

I'm getting:

[code]

Finally I run:

    HOME=/opt/netcore dotnet restore

And the result is:

[code]

Why does dotnet need access to `/home` and how should I run it to avoid this error?

[2017-03-02 06:21] AndrewSav commented on #5893
Never mind, the problem is that I need a project folder one level deeper.

[2017-03-02 06:21] #5893 closed

[2017-03-02 07:59] mikebrind commented on #5528
I resolved this by navigating to C:\Users\...\AppData\Roaming\.Nuget\packages and deleting the existing microsoft.visualstudio.web.browserlink folder. Then run dotnet restore on the project folder.

[2017-03-02 09:54] shaileshpisat commented on #3907
Hi
Had this similar issue. I have Win 7 SP1. Installed Windows update from following link and got resolved.
https://www.microsoft.com/en-us/download/details.aspx?id=26767

Hope it helps

[2017-03-02 15:00] frankbuckley commented on #4786
I am no longer seeing errors with 1.0.0-rc4-004771. Thanks!

[2017-03-02 15:00] #4786 closed

[2017-03-02 15:49] MattGertz commented on #5890
Let's have it handy, but unless we see that a lot of people are hitting this, we won't take it yet.

[2017-03-02 17:12] omajid opened #5895 "dotnet build doesn't pinpoint error when build fails"
## Steps to reproduce

I cloned `core-setup` and made a few changes there, mostly to study how RIDs are resolved by `Microsoft.DotNet.PlatformAbstractions`. Doing a build in core-setup then fails:

    $ /home/omajid/core-setup/.dotnet_stage0/Linux/dotnet build_projects/dotnet-host-build/ build
    Object reference not set to an instance of an object.

I just get a one-line error message, and no f

[2017-03-02 17:50] livarcocc commented on #5895
I see you are using preview3. Is this for project.json or msbuild? In any way, can you please move to the latest CLI build (migrating your project.json to csproj if necessary) and try again?

[2017-03-02 18:30] piotrpMSFT commented on #5887
This issue was moved to dotnet/roslyn-project-system#1668

[2017-03-02 18:30] #5887 closed

[2017-03-02 18:30] ericstj opened #5896 "How to I use machine-wide prerelease CLI 2.0 side-by-side with 1.0?"
## Steps to reproduce
Start with a machine that has DotNET CLI 1.0.  I created a vm with base image Windows-10-VSWillow-d15rel-26228_00-Enterprise.

Install latest CLI from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-win-x64.latest.exe

From command prompt, run `dotnet --info`.

## Expected  behavior
It shows both of them along with instructions on how to choose which one?

[2017-03-02 18:30] piotrpMSFT commented on #5887
Moved this to the project system repo. It looks like VS is trying to add the key despite it already being present.

[2017-03-02 18:36] livarcocc commented on #5896
@ericstj Given that all this logic lives in the host, I think we should move this bug to core-setup.

[2017-03-02 18:39] muratg opened #5897 "VS and CLI offline package cache have mismatching SHAs"
When dotnet is first executed after a CLI installation, dotnet uncompresses its offline package cache, and does a restore.  This restore creates a SHA. This SHA is different between dotnet initial installation and Visual Studio restore.

![image](https://cloud.githubusercontent.com/assets/1808428/23521434/d925ea00-ff33-11e6-9017-565157fc3d6a.png)

[2017-03-02 18:43] livarcocc commented on #5897
@ericstj Would you know why the lzma decompressed nupkgs would differ for the CLI?

[2017-03-02 18:43] ericstj commented on #5896
@livarcocc let's have the discussion here first since it applies to the CLI product.  If we decide on a specific change we can move this issue.

[2017-03-02 19:11] omajid commented on #5895
This is the current master branch of `dotnet/core-setup` repo here on github, though I made some local changes to get this error. The project uses `project.json` files. Is there any other option for me to debug this with `dotnet` tooling short of migrating? I don't own this project and I am not sure if I know enough to migrate it.

[2017-03-02 19:16] livarcocc commented on #5895
you can run dotnet -v for verbose mode, which may give you additional information.

[2017-03-02 19:24] omajid commented on #5895
Thank you! I was using `dotnet build -v` which is quite a bit less useful than `dotnet -v build`. Thanks!

[2017-03-02 19:27] ericstj commented on #5897
Because we reconstruct the nupkg ZIPs from a list of files and the zip implementation is platform specific.    In @muratg's example above the files are the same but their compressed representation is different.

[2017-03-02 19:34] ericstj commented on #5897
FWIW I did try to get them byte for byte identical in v1 and I believe I had it working assuming the folks who originally packed the nupkg did it with the same zip implementation we used.  But all bets are off if someone used a different implementation (eg: pack with desktop, zip the folder using explorer or winzip, etc).  I'll get the order of entries correct but the zip headers might be differen

[2017-03-02 20:00] skanjila opened #5899 "Trying to standardize a reef project to .net framework standard 2.0, .net framework 4.5"
## Steps to reproduce
Hello,
I am running the portability analyzer on my Org.Apache.REEF.Network project and am targeting .Net Framework 4.5, .Net Standard 2.0, I am running into a bunch of warnings like whats shown below

System.Runtime.Caching.MemoryCache.#ctor(System.String,System.Collections.Specialized.NameValueCollection)
Not supported on .NET Standard,Version=v2.0; ASP.NET Core,Version=v1.0

[2017-03-02 20:50] rainersigwald opened #5900 "Unhandled exception in `dotnet sln add` when argument isn't MSBuild-format"
When the argument given to `dotnet sln add` is not a valid MSBuild project, the CLI crashes with an unhandled exception originating from MSBuild.

## Steps to reproduce
`dotnet sln add <file that isn't a .csproj>`

## Expected  behavior
An error message explaining the problem and a failure exit code.

## Actual behavior
Unhandled exception with application-crash dialog (on Windows).

[code]

## En

[2017-03-02 21:03] muratg opened #5901 "dotnet new creates files with unix-style new lines on Windows"
Some editors do not like that `\r`s are missing.

Is this by design?

[2017-03-02 21:10] livarcocc commented on #5900
@jonsequitur this seems to be along your alley.

[2017-03-02 21:11] livarcocc commented on #5900
Actually, maybe not, the stack is coming from MSBuild.

@rainersigwald What is your suggestion here? That we swallow this exception and display an appropriate message?

[2017-03-02 21:12] livarcocc commented on #5901
I think there is an issue tracking this already. In any case, this should be moved to dotnet/templating.

@mlorbetske to confirm if we have an issue tracking this over there.

[2017-03-02 21:19] rainersigwald commented on #5900
Yeah, I think so. It seems reasonable to me for MSBuild to communicate this error back through an exception. But it's not too unusual from the CLI perspective to have user error pointing to a different type of file (my error was because I assumed the command line was `dotnet sln add solution-to-manipulate.sln project-to-add.csproj`).

[2017-03-02 21:44] billwert commented on #5388
looks like #5740 covered this?

[2017-03-02 21:46] mairaw commented on #5388
And I did a PR to fix this: https://github.com/dotnet/cli/pull/5875
I didn't know there were issues for it already.

[2017-03-02 21:49] billwert opened #5902 "dotnet add reference help is confusing"
The help for `dotnet add reference` says:
[code]

That led me to believe I could just point to the directory I wanted to reference, which seems untrue.

## Steps to reproduce
Make two projects, one a classlib and one a console app.
Try to add a P2P reference in the console app to the class lib just by specifying its directory:
dotnet add reference c:\path\to\classlib
Do not specify the csproj dire

[2017-03-02 21:51] mairaw commented on #5388
And @spboyer too! We were working on the same docs. I see this is no longer an issue when I merged master into my PR. 😄

[2017-03-03 00:16] sayedihashimi commented on #5901
https://github.com/dotnet/templating/issues/350

[2017-03-03 00:16] #5901 closed

[2017-03-03 00:59] terrajobst opened #5903 "dotnet new feedback"
Visual Studio has a super simple way to let customers report feedback (using the button in the top right corner). The customer only fills in a subject and a description and VS takes care of capturing a bunch of information (e.g. operating system, locale, VS version etc).

That lowers the bar for customers to report issues and while making sure the VS team has all the relevant information they woul

[2017-03-03 01:11] terrajobst commented on #5903
The [Azure CLI apparently](https://twitter.com/ppog_penguin/status/837470022523985920) does that already.

[2017-03-03 01:13] livarcocc commented on #5903
I like the idea.

[2017-03-03 01:14] mairaw commented on #5903
I just don't think it should be under the new command. Perhaps just `dotnet feedback`.

[2017-03-03 06:05] geminiyellow opened #5907 "dotnet core cannot build in docker container"
## Steps to reproduce

i try to use https://github.com/aspnet/aspnet-docker as my develop environment.
but when i run `dotnet build` it will raise error

[code]

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[code]

[2017-03-03 06:53] piotrpMSFT commented on #5907
curious. CLI builds themselves occur in Docker, so there is likely something else going on here. @tmat, any ideas?

[2017-03-03 06:56] piotrpMSFT commented on #5899
Hi @skanjila

There might be a few issues here. The first, most importantly, is that you're using a CLI which isnt being tested against netstandard2. 1.0.0-rc4-* is only tested against 1.*. Can you install latest from the home page of this repo and see if this still repro's?

[2017-03-03 06:57] tmat commented on #5907
What is the value of ```/debug``` command line argument passed to csc.exe?

[2017-03-03 06:59] piotrpMSFT commented on #5885
yea, likely related. The workaround here is straightforward, but let's try to get this fixed for 2.0

[2017-03-03 06:59] piotrpMSFT commented on #5883
is the ask here simply to change the suffix from alpha- to preview1-?

[2017-03-03 07:02] Petermarcu commented on #5883
Generally, yes, folks are still trying to figure this out. People noticed we were beta in core-setup and alpha in CLI and are getting confused. We need to come up with a better plan and I filed this to track that.

[2017-03-03 07:02] geminiyellow commented on #5907
@tmat in `. csproj` ?

[2017-03-03 07:03] piotrpMSFT commented on #5880
@Xarkam it looks like the issue here is that you're building a desktop [net46] project but trying to debug it as a .NET Core project. @DustinCampbell may be able to help with enabling debugging for that project!

[2017-03-03 07:04] tmat commented on #5907
If you run ```dotnet msbuild /v:diag > build.log``` and find csc.exe in that log there should be ```/debug``` command line argument.

[2017-03-03 07:09] geminiyellow commented on #5907
@tmat thank you ,should i post the log ? it is very long.

[2017-03-03 07:10] tmat commented on #5907
You can just search for a line that contains csc.exe and post the line.

[2017-03-03 07:13] tmat commented on #5907
Or all of such lines if there are multiple

[2017-03-03 07:15] geminiyellow commented on #5907
yep, i searched it, but no one in here, so i ask should i post all.

and all look like `CSC` is here:

[code]

[code]

[code]

[code]

[2017-03-03 07:33] geminiyellow commented on #5907
@tmat is it useful ? or need more ?

[2017-03-03 07:50] Structed commented on #5903
This really seems to be a good idea, particularly because the dotnet team knows best which data is needed for repro from the framework side.

[2017-03-03 08:05] tmat commented on #5907
Looks like DebugType parameter is missing for some reason.

[2017-03-03 08:09] geminiyellow commented on #5907
opps, so what is the right parameter ? and how to add it?

[2017-03-03 08:59] mairaw opened #5908 "dotnet-install scripts description of params and real params don't seem to match"
## Steps to reproduce
Open https://github.com/dotnet/cli/blob/master/scripts/obtain/dotnet-install.ps1

## Expected  behavior
Description talks about a Verbose parameter and doesn't talk about UncachedFeed. It also talks about a 4-part version in the format of A.B.C.D and I though our versions are a 3-part version as in MAJOR.MINOR.PATCH[-PRERELEASE-BUILDNUMBER].

## Actual behavior
cmdletbinding

[2017-03-03 10:43] vineus commented on #3679
Hey there,

OutputDir works with `publish` on preview3+, but not with `publish-iss` apparently:

[code]

using:

- `"Microsoft.AspNetCore.Server.IISIntegration.Tools": "1.0.0-preview4-final"`
- `"Microsoft.EntityFrameworkCore.Tools": "1.0.0-preview4-final"`

Am I doing something wrong ?

Thank you for your help

[2017-03-03 17:19] tmat commented on #5907
Could you share your project and/or the build log?

[2017-03-03 17:48] skanjila commented on #5899
Done, here are details, please let me know next steps:
C:\code\localreefwork\lang\cs>dotnet --info output:
.NET Command Line Tools (2.0.0-alpha-005165)

Product Information:
 Version:            2.0.0-alpha-005165
 Commit SHA-1 hash:  4a0724e136

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.3.9600
 OS Platform: Windows
 RID:         win81-x64
 Base Path:   C:\Program Files\dotnet\sdk

[2017-03-03 18:09] challe opened #5910 "Running a Web API using the latest 1.2.0-preview-1* of Microsoft.AspNetCore gives error"
## Steps to reproduce
`dotnet new webapi`

Change the `csproj`-file so that it looks like this:

[code]
Followed by
`dotnet run`

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.0.0-alpha-004853)

Product Information:
 Version:            2.0.0-alpha-004853
 Commit SHA-1 hash:  e7689a3116

Runtime Environment:
 OS Name

[2017-03-03 18:28] skanjila commented on #5899
So I tried to install the following nuget package: Microsoft.Extensions.Caching.Memory and I get the following message:

[2017-03-03 18:38] ErikSchierboom opened #5911 "Allow dotnet test to work with solution files"
## Steps to reproduce

Go to a directory in which there is a `.sln` file. Execute the `dotnet test` command.

## Expected  behavior

Running `dotnet test` on all projects in the solution. This already works for `dotnet restore` and `dotnet build`.

## Actual behavior

An error message is displayed:

<pre>
Couldn't find a project to run test from. Ensure a project exists in /<directory>.
Or pass th

[2017-03-03 19:09] livarcocc commented on #5910
@mlorbetske Do you know which versions we should use for 2.0?

[2017-03-03 19:11] livarcocc commented on #5911
Dup of https://github.com/Microsoft/vstest/issues/411.

[2017-03-03 19:11] #5911 closed

[2017-03-03 19:21] mlorbetske commented on #5910
@livarcocc the versions in the 2.0 templates simply took the latest from the feed provided by the runtime folks. We'll update the 2.0 templates to use the suggested version number.

[2017-03-03 19:34] dallancarr commented on #3293
@borislavml Which node version exactly. Also did you need to install bower and gulp globally on the build server?

[2017-03-03 19:36] challe commented on #5868
@livarcocc Do you want me to create separate issue for the `Segmentation fault`-error? Or should I perhaps update my initial comment with my latest problem? When I wrote that comment I didn't even know how to get the 2.x compatible packages.

Also, I have created a wiki page [here](https://github.com/challe/dotnet-core-raspberry-pi/wiki/Setting-up-a-Web-API-on-a-Raspberry-Pi-3-(Ubuntu-16.04)-using

[2017-03-03 20:26] piotrpMSFT commented on #5910
Closing in favor of dotnet/templating#403

[2017-03-03 20:26] #5910 closed

[2017-03-03 20:35] challe commented on #5910
Fixing the templating so that it uses the version that currently works does not solve the problem still existing in the latest version, right?

I'm fine with using the version that works, as of now. I was just thinking that the error will continue to exist, and that I can not continue to use later versions as they are released.

[2017-03-03 20:46] livarcocc opened #5914 "Migration is not migrating all the DEFINES"
## Steps to reproduce
1. git clone https://github.com/exceptionless/Exceptionless.Net
2. dotnet migrate

## Expected  behavior
The define constants should be on both PropertyGroups.

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[2017-03-03 20:47] livarcocc commented on #5868
Please, file an issue for it under dotnet/core-setup.

[2017-03-03 22:44] livarcocc opened #5916 "RHEL builds are broken and CLI builds dropped the leading zeros in the build number."

[2017-03-03 22:44] livarcocc commented on #5916
When changing this, also change to preview1

[2017-03-04 02:57] eerhardt commented on #5916
@piotrpMSFT - did this also cause our RHEL builds to fail?

https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=596277&_a=summary

[code]

Notice the ` 5167' is not a valid version string.` error.

[2017-03-04 04:04] geminiyellow commented on #5907
hmm... i think i found the point.

because i try to open it with ide, i forgot what ide, `vs for mac` or `rider`,

[code]

[2017-03-04 04:31] #4399 closed

[2017-03-04 09:00] haakoo commented on #5903
Sounds good to me.

[2017-03-04 10:09] davidfowl commented on #5910
Yes the templating fix won't fix anything with the specific issue you're hitting. Open an issue on aspnet/Home.

[2017-03-04 10:16] challe commented on #5910
@davidfowl  Will do. Thanks.

[2017-03-04 16:07] borislavml commented on #3293
node version is 6.9.5 I don't have a build server I'm just playing with .net core on my dev machine(so yes I'm building only locally). I also did what @valamelkor sugested - installing bower and grunt globally with the prefix pointing to which directory I want it installed(not the default user AppData) and adding it to the PATH so that windows can pick it from there when executing build scripts

[2017-03-04 17:27] NinoFloris opened #5918 "Slow build with msbuild and dotnet cli"
Ok so we migrated over a few weeks ago but I'm really getting annoyed by the lack of incremental build on rc4.
Debug times take 13 seconds from f5 to debugger start because dotnet build lacks any and all smarts to see that only the top level project changed so it just rebuilds all projects again.

I don't have any experience with msbuild and I'd expect at least this to just work out of the box.
It

[2017-03-04 17:51] livarcocc commented on #5918
cc @rainersigwald @dsplaisted this is something that should work out of the box.

[2017-03-04 18:07] mwijnands commented on #3409
But `dotnet test` does not accept a sln file.

[2017-03-04 19:32] eerhardt commented on #5916
I debugged this today.  It looks like the same change broke the RHEL builds as well.

On my RHEL machine, my generated `GitCommitInfo.props` file looks like the following:

[code]

Apparently on RHEL, it is having issues with some locale thing and dumps some messages early in the output.  Our C# task was written in such a way that only the last line of the output mattered.  The `LogEventsFromTextO

[2017-03-04 20:29] glararan opened #5919 "Scaffold-Db returns error, from PowerShell crashes"
## Steps to reproduce

1. Uninstall all .NET Core
2. Install .NET Core 1.1 x86, x64, Tools for VS 2015 Preview 2
3. in root do command at "Actual behavior" from Powershell

global.js

If I run this command in Package Manager Console

I get following error:
**Could not find assembly 'F:\WebApplication1\.\bin\Debug\net461\win7-x64\WebApplication1.exe'.**

I did not configure project as x64. win7-x86

[2017-03-04 21:19] amaldevv opened #5920 "dotnet build fails if the directory name is new"
## Steps to reproduce
1. Create a new directory `md new` and set it as current directory `cd new`
2. Create a new console project `dotnet new console`
3. Restore the packages `dotnet restore`
4. Compile it using `dotnet build`
## Expected  behavior
Should get successfully compiled message

## Actual behavior

Getting build errors

Program.cs(3,11): error CS1514: { expected [E:\test\new\new.csproj]

[2017-03-05 00:34] livarcocc commented on #5920
This is a duplicate of https://github.com/dotnet/templating/issues/381.

[2017-03-05 00:34] #5920 closed

[2017-03-05 00:37] livarcocc commented on #5919
We are no longer actively support preview2 or preview2-1 (project.json) as we have moved all the tooling to MSBuild. It is very close to RTM and I suggest that you move your project to the lastest build of the CLI from here: https://github.com/dotnet/cli/tree/rel/1.0.1.

If you have a project.json project that you want to move, read about it here: https://github.com/dotnet/cli/blob/rel/1.0.1/Docum

[2017-03-05 00:38] livarcocc commented on #5902
@blackdwarf @mairaw can you guys come up with a description for that param that won't have this confusing effect?

[2017-03-05 02:47] am11 opened #5921 "Pack command for selective TFM needs clarity in help"
## Steps to reproduce

[code]

Assuming this means for .NET Standard v1.6, we must use `/p:TargetFrameworkVersion=v1.6` switch:

[code]

## Actual behavior

## Workaround

If we instead use `TargetFramework`, then it succeeds:

[code]

## Expected  behavior

Package creation succeeds. Alternatively, `dotnet msbuild -h` should suggest `TargetFramework` instead of `TargetFrameworkVersion` in the com

[2017-03-05 11:41] maestrow commented on #3705
Since having read this branch for me wasn't obvious how to solve the problem described here, so I'll leave this comment here. I'm using Windows and I have installed .NET Core SDK **1.1** from [this title page](https://www.microsoft.com/net/core#windowscmd) as was offered. Then I ran `dotnet new --lang f#`, `dotnet restore` and finaly `dotnet build`. Last command returns an error ouput:

[code]

Th

[2017-03-05 12:59] enricosada commented on #3705
@maestrow you can also use preview2.1 with a workaround.

See https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-preview2.1#dotnet-new for more info

[2017-03-05 14:10] WALLOUD opened #5923 "HELLOWARLD"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2017-03-05 14:16] WALLOUD opened #5924 "walloud"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2017-03-05 20:14] pksorensen commented on #1396
@blackdwarf I am now on 2017 RC and this is still an issue.

Any files created in the targets below that didnt exists before, will not be published.

[code]
or
[code]

will not be published

with the following condent include.
[code]

[2017-03-05 21:19] dasMulli commented on #1396
@pksorensen this is a known issue (the globs are evaluated before the `PrepareForPublish` target runs): https://github.com/aspnet/websdk/issues/114
There is a workaround described in https://github.com/aspnet/websdk/issues/114#issuecomment-280076533

[2017-03-06 02:31] #5923 closed

[2017-03-06 02:31] #5924 closed

[2017-03-06 02:54] alistair commented on #2971
I ran into this issue in a docker container.   I dont believe this has anything to do with sudo as I was just running omnisharp (and hitting this) as root

[2017-03-06 03:50] gkhanna79 opened #5926 "install .NET Core 1.0.1 fail (tried SKIP_VSU_CHECK=1 already)"
@Innocence commented on [Thu Sep 15 2016](https://github.com/dotnet/coreclr/issues/7215)

.NET Core 1.0.1 - VS 2015 Tooling Preview 2

---

@benaadams commented on [Fri Sep 16 2016](https://github.com/dotnet/coreclr/issues/7215#issuecomment-247579924)

Might be better to raise this here https://github.com/dotnet/cli

[2017-03-06 05:08] tmat commented on #5907
That would do it.

[2017-03-06 05:09] geminiyellow commented on #5907
thank you @tmat

[2017-03-06 05:09] #5907 closed

[2017-03-06 06:03] jyoungyun opened #5927 "Fail to copy core-sdk files in ubuntu.16.04-arm build"
## Steps to reproduce
Build Command:
[code]

Related patch:
[code]
[code]
[code]
[code]
[code]
## Expected  behavior
Build successful

## Actual behavior
Occurred the following errors:
[code]

I'm trying to build cli project for Ubuntu.16.04-arm. I already had a tarball for Ubuntu.16.04-arm but there wasn't in Azure server so I added some patch to copy the local tarball for testing. The copy and d

[2017-03-06 06:11] jyoungyun commented on #5927
I found the below lines in rel/1.0.0 branch. Are all of the issues related to the following line now resolved?
[code]

[2017-03-06 06:17] KodrAus opened #5929 "Error running dotnet in Travis Ubuntu 14.04"
I'm trying to run a `dotnet` build in Travis's Ubuntu 14.04 environment and getting issues.

## Steps to reproduce

Install `dotnet` on Ubuntu 14.04. I have a travis config [here](https://github.com/KodrAus/nuget-rs/blob/ci/travis/.travis.yml#L22-L24) that's installing `dotnet-rc4-004771` on Ubuntu 14.04.

Run `dotnet --info`.

## Expected  behavior

Command prints `dotnet` info.

## Actual behavi

[2017-03-06 07:21] jyoungyun commented on #5927
I added below patch in build/Compile.targets.
[code]

Then I got a dotnet-dev tarball but it doesn't work.
Error msg:
[code]
I think it appears that some files are still missing in the sdk directory.

[2017-03-06 07:33] mairaw commented on #5902
With the docs we have more space, so we make that a bit more clear, I think:
https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-add-reference

Perhaps if you said "Project files to reference" for the additional arguments?

[2017-03-06 07:37] mairaw commented on #5902
Also the other issue that might be causing the confusion here is that the usage is not showing where the first argument is used. Like in our docs we show like this:
`dotnet add [<PROJECT>] reference [-f|--framework] <PROJECT_REFERENCES>`

From reading the usage from --help, if you can't really tell where you put the project file to operate on.

[2017-03-06 08:55] tmarinov commented on #3199
Ok, after spending 2 days in trying to investigate this problem I managed to fix it (not in a best way, but..).
here is my scenario:

VS 2015, dotnet version: 1.0.0-preview2-003156
Solution_1 with a number classic libraries projects, migrated to reference framework 4.6.1.
Solution_2 - .NetCore webapi with a number of .netcore libraries using full framework 4.6.1.
.net core libraries reference (as

[2017-03-06 08:58] KodrAus commented on #5929
I'll probably work around this by running my build in one of the `dotnet` containers, but out-of-the-box support for Travis would definitely be nice.

[2017-03-06 09:24] janvorli opened #5930 "CoreCLR failing to restore build tools on OSX"
@janvorli commented on [Thu Feb 23 2017](https://github.com/dotnet/coreclr/issues/9734)

[code]

---

@janvorli commented on [Thu Feb 23 2017](https://github.com/dotnet/coreclr/issues/9734#issuecomment-281945352)

The first build failed with this issue in CI is
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_osx_flow_prtest/3149/

---

@janvorli commented on [Thu Feb 23 2017](https://

[2017-03-06 10:06] MaticLeva opened #5931 "Running Gulp before publish?"
It seems that dotnet publish runs before gulp tasks even when I specified it should not. Similar to [this](https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/live.asp.net.csproj#L39) my `.csproj` looks like this but doesn't work properly.

[code]

## Steps to reproduce
Clone [this repo](https://github.com/MaticLeva/prepublish). Run `dotnet publish -c Release`

## Expected  behavior
I

[2017-03-06 10:34] dasMulli commented on #5931
There is a difference between the "output directory", which will be `bin/Release/netcoreapp1.0/` and the "publish directory", which will be `bin/Release/netcoreapp1.0/publish/`.
If you are not using the Web SDK (`Sdk="Microsoft.NET.Sdk.Web"`), you may need add more metadata to the `<None>` item: `CopyToPublishDirectory="Always"`.

If the file does not exists before the pre-publish target (clean bu

[2017-03-06 18:09] livarcocc commented on #5921
cc @blackdwarf @mairaw

[2017-03-06 18:21] livarcocc commented on #5926
Is this for the VS add-on installer?

if so, we have moved from project.json based tools to msbuild based tools and VS 2017 is very close to shipping.

[2017-03-06 18:25] livarcocc commented on #5927
Why are you trying to build a CLI that runs on arm? Why not cross-publish to generate a arm runnable application? Is this a main scenario? Where people actually develop in their arm machines?

[2017-03-06 18:26] livarcocc commented on #5929
@gkhanna79 @ellismg Can you help here?

[2017-03-06 18:30] gkhanna79 commented on #5929
Sounds like missing dependencies - what do you think @janvorli ?

[2017-03-06 18:39] janvorli commented on #5929
@KodrAus are you sure you have really installed dotnet package for Ubuntu 14.04 and not for a higher version of Ubuntu? The package for Ubuntu 14.04 should depend on max glibcxx 3.4.19, so I don't know where the reference to 3.4.21 came from. Could you please share the link that you have downloaded the package from.

[2017-03-06 19:42] eerhardt commented on #5930
What version of the CLI are you using? The

[code]

code changed on `7/26/2016` (8 months ago) to no longer call that `PackageDependencyProvider.ResolvePackagesPath` method.

[2017-03-06 19:43] eerhardt commented on #5930
Also, you can (and probably should) disable the first-run experience in your CI.

[code]

The CLI will no longer get into that code path that is throwing the error.

[2017-03-06 19:50] ralphking opened #5934 "Excluding folder contents from publish"
Publishing from Visual studio to IIS server on Windows Server 2012 R2

In .csproj:

[code]

## Expected  behavior
 For the contents of this directory not to be published

## Actual behavior
The directory contents are being added to the server when publishing

Is there another way in core to stop folders from being published? Specifically, this is a folder that I am writing generated PDF files to.

[2017-03-06 19:52] blackdwarf commented on #5921
@am11 what is the scenario you are trying out? I believe that NuGet packages are quite happy having assets for multiple target frameworks within one package. This is, I believe, the reason why `dotnet pack` command does not support the `--framework` option ( @emgarten for confirmation and/or more details).

The MSBuild help *is* confusing, but we need to open the issue on the Microsoft/MSBuild rep

[2017-03-06 19:53] livarcocc commented on #5934
Please use

[code]

The Web SDK (assuming that's what you are using) is including these files for you already. So you need to update the files' metadata to prevent them from being published.

[2017-03-06 19:58] ralphking commented on #5934
Unfortunately that is giving the same behaviour

[2017-03-06 19:59] emgarten commented on #5921
That is correct, packages should contain the complete set of frameworks.

[2017-03-06 20:09] livarcocc commented on #5934
@mlorbetske Can you take a look at this?

Also, how are you publishing this? CLI, VS? Which version?

[2017-03-06 20:15] ralphking commented on #5934
This is in VS 2017 RC, Core 1.1.

If I right click a folder and exclude a file from the project, I can see that in .csproj it will have automatically added an itemgroup to remove the file, and that will work. It only seems to be what I am adding that isn't working with regards to changes to .csproj

[2017-03-06 20:29] KodrAus commented on #5929
@janvorli sure, the link I've used is https://go.microsoft.com/fwlink/?linkid=841684, which I grabbed from the [downloads page](https://github.com/dotnet/core/blob/master/release-notes/rc4-download.md).

[2017-03-06 21:40] rainersigwald commented on #5918
Indeed it should--and on my machine with the current build it seems to.

Of course, this is on Windows. And naturally my Mac is out of commission today. @NinoFloris can you run

[code]

And share the resulting `MSBuild.log` with us? That will help narrow down why you're seeing this.

My results (on Windows):

[code]

[2017-03-06 22:16] janvorli commented on #5929
@gkhanna79 the package that we expose on that page for Ubuntu 14.04 is incorrect. I cannot run it on my 14.04 either. It looks like the links are swapped between Ubuntu 16.04 and 14.04. The package for 16.04 refers to max glibcxx version 3.4.18 while the package for 14.04 refers to max glibcxx version 3.4.21.
@KodrAus can you please try to get the package for Ubuntu 16.04 now and see if it works f

[2017-03-06 22:36] KodrAus commented on #5929
@janvorli Switching links does seem to fix that issue.

[2017-03-06 22:37] Timothy-Liu opened #5936 "Messy Version Numbers"
## Steps to reproduce
1. Download the latest version dotnet-dev-win-x64.latest.exe
2. Double click to run it
3. The installation UI shows it is installing .NET Core SDK **1.0.3**
4. After install finished run command "dotnet", it shows "Version : **1.1.0**"
5. Run command "dotnet --version", it shows **1.0.1**-rc4-004953
6. Navigate to Control Panel -> Programs -> Programs and Features, it shows .

[2017-03-06 22:39] janvorli commented on #5929
@KodrAus thank you for confirmation!
@gkhanna79 who is responsible for updating the links?

[2017-03-06 23:04] gkhanna79 commented on #5929
@leecow @blackdwarf should be able to get RC4 page link fixed.

[2017-03-07 00:14] niemyjski opened #5937 "GeneratePackagesOnBuild is not building packages"
I'm running the latest build (26228.0), this was working in RC4 but is no longer working
## Steps to reproduce
1. Clone https://github.com/exceptionless/foundatio
2. Build the solution in VS.

## Expected  behavior
Packages should be created in the /artifacts folder

## Actual behavior
Nothing is created and no errors in the output window.

## Environment data
`dotnet --info` output:

[2017-03-07 00:18] leecow commented on #5929
Sorry about that. Fixed!

[2017-03-07 00:18] #5929 closed

[2017-03-07 00:20] niemyjski commented on #5914
I'm linking here to the specific commit (https://github.com/exceptionless/Exceptionless.Net/tree/5d063552f395fe8b43402ed7ed3566420d007e95) that should be tested. I may manually upgrade this project :)

[2017-03-07 00:41] KodrAus commented on #5929
No worries, thanks for the quick fix @leecow!

[2017-03-07 03:18] jyoungyun commented on #5927
@livarcocc I had two kinds of arm device, one is Raspberry PI3 and the other is Tizen mobile target. I just wanna build and run a simple application in my arm device. And I think there are a lot of developers out there who want to do this.

[2017-03-07 03:50] weedkiller commented on #3064
Running in a**dmin mode for me is not an option, they need to fix this!!**

[2017-03-07 05:02] livarcocc commented on #5937
@rohit21agrawal can you take a look?

[2017-03-07 05:07] livarcocc commented on #5927
I understand, it is just something that our build scripts were not initially designed to handle: specifying a RID and it will go ahead and build for it.

There is work going on currently to enable building for Linux x64, which I think approximates what needs to happen here. Which is passing a RID in the command line for the build.

The PRs are here: https://github.com/dotnet/cli/pull/5904 and http

[2017-03-07 05:11] livarcocc commented on #5936
For the 1.0.1 release of the CLI, we have update the installers to display this new version and that's also what dotnet --version and dotnet --info will display. These two commands display the SDK version.

However, running dotnet alone will still show 1.1.1 and that's because that shows the version of the latest runtime available in the machine.

There is an issue in core setup tracking improving

[2017-03-07 05:11] #5936 closed

[2017-03-07 05:24] mcctomsk opened #5940 "web.config file has different content after dotnet publish command on different OS"
Hi. For a long time I've been using TeamCity's build agent on Windows to build dotnet projects, but now I'm trying to get the same result with build agent on Linux and found difference which not allow run project on Windows Server with IIS.
Here is my project.json file:
[code]
## Steps to reproduce
`dotnet publish project.json -c Release`
## Expected  behavior
Here is web.config made on Windows:
[

[2017-03-07 06:01] livarcocc commented on #5940
Hi, we have moved the CLI from project.json to MSBuild and are no longer fixing bugs on the project.json version of the tooling.

Could you maybe pickup the latest CLI from here https://github.com/dotnet/cli/tree/rel/1.0.1 and trying this scenario out.

If you need to migrate your project from project.json to csproj, you can get more info here: https://github.com/dotnet/cli/blob/rel/1.0.1/Document

[2017-03-07 06:05] livarcocc commented on #5934
Oh, wwwroot\LicenceFiles is a folder? you need to do wwwroot\LicenseFiles\**\* if you want to update the metadata for everything under that folder.

[2017-03-07 06:29] am11 commented on #5921
Thanks for the pointers. I will move the rewording issue to MSBuild repo.

@blackdwarf, I was upgrading a repo for CLI RC4 readiness, and found they had `dotnet pack` in place of `build` in their CI, which executes for each typical build matrix combination: `tfm x configuration`. However, it makes sense to modify the build matrix in such a way that it runs the pack command for each configuration (

[2017-03-07 06:29] #5921 closed

[2017-03-07 10:29] jyoungyun commented on #5927
@livarcocc I'm trying to use the PRs you mentioned. Today, I finally success 'dotnet restore' in arm device, but it still failed in build. :( Anyway I will follow your codes. Thank you.

[2017-03-07 10:30] RemiBou commented on #1201
@livarcocc is this documented ? or is this issue still opened ?

[2017-03-07 11:09] sebok commented on #4778
@swgillespie Were you able to repro? Any idea of what could be the issue?
I stay available to help.

[2017-03-07 14:10] andres-k commented on #4919
`dotnet init` also implies setting some sort of values or creating something in my opinion. Maybe attach it to dotnet restore, `dotnet restore --only-cache` ? Would conflict with the basic usage of `dotnet restore` but seeing it as kind of a niche option, I think it would be fine.

[2017-03-07 14:27] scalefocus commented on #4919
`dotnet init` is making analogy with the distributed source control system (Git, Mercurial).
If we consider dotnet core is a distributed framework now, why not using same sort of commands to create a local copy of it.
Following the analogy other possible would be:
`dotnet clone`
`dotnet pull`

[2017-03-07 15:44] Jonathan34 commented on #4746
you are missing the `dotnet create my.sln` command to create everything from command line

[2017-03-07 16:19] livarcocc commented on #1201
I am not sure about the documentation. But it is just like any other tests in VS.

[2017-03-07 16:21] livarcocc commented on #4746
@Jonathan34 there is a dotnet new sln.

[2017-03-07 16:59] Jonathan34 opened #5943 "dotnet new xunit - wrong version"
## Steps to reproduce
`dotnet new xunit`

## Expected  behavior
PackageReferences are using the latest stable version of xunit and Microsoft.net.test.sdk

## Actual behavior
the PackageReference are using beta version which prevents discovery of tests when runnig using dotnet test my.csproj

## Environment data
`dotnet --info` output:

[code]
using vscode Version 1.11.0-insider (1.11.0-insider) (5

[2017-03-07 18:09] dougbu commented on #5849
This issue was moved to Microsoft/msbuild#1808

[2017-03-07 18:09] #5849 closed

[2017-03-07 18:14] gamedebug commented on #3968
When I executed "brew link --force openssl" on my macOS Sierra 10.12.3, stdout as below:
Warning: Refusing to link: openssl
Linking keg-only openssl means you may end up linking against the insecure,
deprecated system OpenSSL while using the headers from Homebrew's openssl.
Instead, pass the full include/library paths to your compiler e.g.:
  -I/usr/local/opt/openssl/include -L/usr/local/opt/opens

[2017-03-07 18:20] bradwilson commented on #5943
This is already fixed in the final RTM (1.0.0) of the CLI.

[2017-03-07 18:22] bradwilson commented on #5943
[code]
[code]
[code]

[2017-03-07 19:34] sebok commented on #4778
I just tried with dotnet version released today: the ASP.NET application sometimes starts successfully and sometimes I still get 0x80004005 error.

[code]

[2017-03-07 19:38] Maoni0 commented on #4778
@sebok, thank you for offering to help! we are having trouble reproing this issue so I was wondering if you would be interested in doing a bit of debugging with us :) it would be most appreciated. would it be possible that we could chat on gitter (the coreclr channel)?

[2017-03-07 19:40] sebok commented on #4778
@Maoni0, I would indeed be interested ;)
I'll join you on the channel.

[2017-03-07 19:41] Maoni0 commented on #4778
@sebok, thank you!

[2017-03-07 19:48] Jonathan34 commented on #5943
i see the .net core 1.1.1 with sdk 1.0.1 was just released today. thanks!

[2017-03-07 19:48] #5943 closed

[2017-03-07 20:07] JohnRusk commented on #5773
@livarcocc Can you help with this still not working?  As in my comment of 7 days ago, the script-based install didn't work when I followed @blackdwarf 's instructions.  Do you know a solution?

[2017-03-07 20:39] skanjila commented on #5899
Following up on this, any updates?

[2017-03-07 21:11] swgillespie commented on #4778
So @sebok, @Maoni0 and I took a look at this on Gitter and discovered that the point of failure is after the GC, during initialization of the `SystemDomain` appdomain. In particular, it fails here:

[code]

Looking at @sebok's strace, one of the last things that occured before initialization failed was the mapping of `System.Private.CoreLib.ni.dll` into the process:

[code]

I'm not super familiar

[2017-03-07 22:15] gkhanna79 commented on #4778
Looking at https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.debian.8-x64.Microsoft.NETCore.Runtime.CoreCLR/1.1.1, the assembly is present in the intended location.

[2017-03-07 22:46] txchen opened #5947 "dotnet publish is not copying files to the correct location"
## Steps to reproduce

[code]

run `dotnet publish src/abc/abc.csproj -o publish -c Release` under {projectRoot}

## Expected  behavior

the built files would be bin placed to {projectRoot}/publish/, just like previous dotnet cli versions' behavior (project.json, non-csproj).

## Actual behavior

Files are placed to `{projectRoot}/src/abc/publish/`, and the cli is not printing this dir to stdout.

[2017-03-07 23:24] swgillespie commented on #4778
Yeah, the assembly is in its intended location (the `open` syscall above returns successfully) but apparently something goes awry during the binding of types within S.P.CL.

[2017-03-07 23:25] gkhanna79 commented on #4778
Which types?

[2017-03-07 23:26] swgillespie commented on #4778
@sebok Do you think you could help us one more time and step through `LoadBaseSystemClasses` the way were were above, so we can identify the exact point of failure?

[2017-03-08 00:06] blackdwarf commented on #5773
@JohnRusk here is the actual command you can use. Just tested that it works.

`./dotnet-install.ps1 -Channel 'release/1.1.0' -SharedRuntime -Version '1.1.1'`

[2017-03-08 00:10] JohnRusk commented on #5773
@blackdwarf Thanks. Does that install version 1.1.0 or 1.1.1?

[2017-03-08 00:34] blackdwarf commented on #5773
`1.1.1`

[2017-03-08 00:36] JohnRusk commented on #5773
We haven't tested on that. Have only tested on 1.1.0.  Is there any command to install that - on _Linux_. When I tried --channel release/1.1.0 with the Linux script I got an error about bad channel name. (As above).

[2017-03-08 01:45] jyoungyun commented on #5927
Related issue : #5289 https://github.com/dotnet/core-setup/issues/725

[2017-03-08 02:06] livarcocc commented on #5773
I just tried this:

`./dotnet-install.ps1 -Channel 'release/1.1.0' -SharedRuntime -Version '1.1.0'`

and it ran successfully.

Where are you getting your dotnet-install.ps1 script? And how old is it?

[2017-03-08 03:23] JohnRusk commented on #5773
Ah, yes, I had an old version of the script.  This one is better, and (almost) works:

`https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh `

I say almost because _on Ubuntu 16.04_ it does give an error about being unable to install the 'libunwind' dependency. I found the workaround is to manually install libunwind8, using

`sudo apt-get install libunwind8`

Wo

[2017-03-08 03:33] rohit21agrawal commented on #5937
@niemyjski here is the output when i tried to build your solution:

[code]

It looks to me like the NuGet packages are being generated just fine, am i missing anything? I tried this on the RTM build of Visual Studio.

[2017-03-08 03:47] 8bitreid commented on #5518
I'm getting this message
[code]
Still not able to run Visual Studio projects at this time.

[2017-03-08 04:16] JohnRusk commented on #5773
PS. In addition to the issue I had with libunwind, I also found that the .dotnet directory was on in my path after running the script, even though the script said it had added it to my path. Not sure why...

[2017-03-08 05:42] ralphking commented on #5934
Is that kind of thing covered in the docs anywhere?

Ie CopyToPublishDirectory, CopyToOutputDirectory and other options

[2017-03-08 09:18] Niyo commented on #3199
problem still exists for me with latest VS2017(RTW)

`Restoring NuGet packages...
Unable to resolve 'C:\git\daenet.vs\xxxServices\xxService\xxx.IotHubNet45\xxx.IotHubNet45.csproj' for '.NETFramework,Version=v4.6.1'.
Unable to resolve 'C:\git\daenet.vs\xxxServices\xxService\xxx.IotHubNet45\xxx.IotHubNet45.csproj' for '.NETFramework,Version=v4.6.1 (win7-x64)'.
NuGet package restore failed.`

[2017-03-08 09:27] livarcocc commented on #5947
@eerhardt I think I remember some discussion about this way back when. Do you recall or have the issue where we discussed this handy?

[2017-03-08 09:29] livarcocc commented on #5934
@blackdwarf @mairaw for documentation.

@ralphking barring additional documentation, is this working for you know? Can we go ahead and close this issue?

[2017-03-08 10:41] fubar-coder commented on #3199
@Niyo The error you get (.NET Tooling 1.0 RTM) seems to be different from the error discussed here (.NET Tooling 1.0-preview2-1). Maybe you should open a new ticket?

[2017-03-08 12:44] sebok commented on #4778
I've determined that the exception happens in this call stack:

[code]

Breakpoint locations:
[code]

Execution:

[code]

[2017-03-08 12:57] Ronan-Farrell opened #5948 "RC3 Download Links page is a broken link"
## Steps to reproduce
Go to: https://github.com/dotnet/cli
Click "RC3 download links"

## Expected  behavior
Expect to find a page at: https://github.com/dotnet/core/blob/master/release-notes/rc3-download.md

## Actual behavior
404, page not found

[2017-03-08 13:23] sebok commented on #4778
And here is an updated [strace.txt](https://github.com/dotnet/cli/files/827669/strace.txt) now that I use CoreCLR 1.1.1. We can see that just before the exception, there is a succession of _mmap_ and _munmap_ calls for a total of about 2.4 GB of memory, after `open("/opt/dotnet/shared/Microsoft.NETCore.App/1.1.1/System.Private.CoreLib.ni.dll", O_RDONLY)`.

When I set `ServerGarbageCollection` to `

[2017-03-08 13:24] rsuter commented on #1076
Does someone know how to specify "additionalArguments" in the new .NET Core .csproj files?

[2017-03-08 13:32] sebok commented on #4778
Finally, here is [strace-successful.txt](https://github.com/dotnet/cli/files/827701/strace-successful.txt), for the situation when `ServerGarbageCollection` is NOT set to `false` but the application starts successfully. This succession of mmap and munmap calls does not happen.

This situation happens sometimes (I would say ~20% of the launchs), but most of the time (~80%) there is the `Failed to i

[2017-03-08 14:06] FelschR commented on #3103
After upgrading my .NET Core project which targets net461 to csproj I have this issue again when trying to run dotnet test in the command line it always runs the x86 build.

[2017-03-08 15:32] RassulYunussov opened #5949 "dotnet test"
Interesting thing happening when I add xunit tests to my project.
When I start test using command: dotnet test within Visual Studio Code Terminal - everything goes ok. All tests run.
But when I run dotnet test from a terminal (without Visual Studio Code) I get error message that says that there is no test available.

## Steps to reproduce

dotnet test

## Expected  behavior
(within Visual Studio C

[2017-03-08 16:20] vikas0380 opened #5951 "Unable to find a project to restore"
## Steps to reproduce
dotnet new mvc  --framework netcoreapp1.1
dotnet new sln
dotnet restore

## Expected  behavior
pacakage restore complete

## Actual behavior
/usr/local/share/dotnet/sdk/1.0.1/NuGet.targets(97,5): warning : Unable to find a project to restore! [/Users/vikas/Projects/coretestweb/coretestweb.sln]

## Environment data
`dotnet --info` output:
NET Command Line Tools (1.0.1)

Produc

[2017-03-08 16:22] johnkors commented on #5940
Still an issue.

Use a web.config with:
[code]
Call `dotnet publish`.

In the output web.config in the `/publish` folder:
[code]
Overwritten.

[2017-03-08 16:23] enricosada opened #5952 "dotnet-install scripts for 1.0.0, some questions about args"
So, i want to install the .net core tools 1.0 (now is 1.0.1), using the install script (because i have a build matrix to maintain 😄 )

dotnet-install script is really important and described in [docs too](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-install-script)

https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/obtain/dotnet-install.ps1

some questions:

- is `https://

[2017-03-08 16:31] eerhardt commented on #5947
Dupe of https://github.com/dotnet/cli/issues/4765

[2017-03-08 16:31] #5947 closed

[2017-03-08 16:35] livarcocc commented on #5949
Moved it to the vstest repo: https://github.com/Microsoft/vstest/issues/578.

[2017-03-08 16:35] #5949 closed

[2017-03-08 16:40] livarcocc commented on #5951
running `dotnet new sln` does not automatically add projects to your solution file, it simply creates a new sln file.

You then need to run `dotnet sln add <path_to_csproj>'.

[2017-03-08 16:40] #5951 closed

[2017-03-08 16:42] livarcocc commented on #5952
@blackdwarf Some of the things we were talking about that we need to clean up in the scripts.

[2017-03-08 16:44] livarcocc commented on #5940
@mlorbetske is this something that is happening in the Web.SDK?

[2017-03-08 16:51] johnkors commented on #5940
@dasMulli provided the useful hint of doing

[code]

Also, as a sidenote. This property was until recent known as `IsWebConfigTransformDisabled`.

Not very easy to catch that subtle change from
`IsWebConfigTransformDisabled` => `IsTransformWebConfigDisabled`

[2017-03-08 17:05] danmosemsft opened #5953 "README for master still refers to RC3/4"
This
https://github.com/dotnet/cli/blob/master/README.md
talks about being in the process of moving to MSBuild based tools, and RC4. It has download links for RC3.

I assume we shipped? Where would I install final bits that have an MSbuild based CLI, and 1.1 SDK?

[2017-03-08 17:08] danmosemsft opened #5954 "dll reference support in .NET Core projects"
@bartstinson commented on [Wed Mar 08 2017](https://github.com/dotnet/coreclr/issues/10035)

Hello,

It's my understanding that prior VS 2017, it was impossible to add other .NET Core dll references to .NET Core projects without bundling the dependency in a NuGet package. In VS 2017, I see that the option to add dll references using the IDE but when I run it, the program fails to find the dependen

[2017-03-08 17:10] livarcocc commented on #5953
@blackdwarf does this https://github.com/dotnet/cli/pull/5928 address this issue?

[2017-03-08 17:12] johnkors opened #5955 "dotnet add package fails when tool is installed"
## Steps to reproduce
Using a ASP.NET Core app with the following tool (haven't tested if it's this tool specific, or tools in general).

[code]

## Expected  behavior
[code]
## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2017-03-08 17:21] livarcocc commented on #5955
Moved over to nuget/home: https://github.com/NuGet/Home/issues/4771.

[2017-03-08 17:21] #5955 closed

[2017-03-08 18:03] eerhardt opened #5956 "`dotnet cache` with no arguments crashes with Watson dialog"
## Steps to reproduce
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-win-x64.latest.exe
Make a simple cache .csproj file
`dotnet cache`

## Expected  behavior
Not to get an Unhandled Exception and a Watson dialog.

## Actual behavior

[code]

![image](https://cloud.githubusercontent.com/assets/8291187/23716800/21a70dc8-03f7-11e7-8a82-d444639df6a6.png)

## Environment data
`do

[2017-03-08 18:36] muratg commented on #5300
@piotrpMSFT Any plans to get this done in 2.0 timeline?

[2017-03-08 19:17] JayBee6 opened #5959 "Dotnet restore fails to use the local Nuget.Config to retrieve nuget packages from private feeds while building docker image"
## Steps to reproduce
add a Nuget.Config to your project with a private feed and run dotnet restore as part of docker build. Below is the basic Docker file that I am using.

[code]
Dotnet restore fails because it is not using the package sources from the nuget.config file inside the project. Below is the Nuget.Config file that I am using (mocking the private feed name).

[code]
## Expected  behavi

[2017-03-08 19:17] blackdwarf commented on #5300
@muratg we don't have plans for this in the 2.0 timeline. After thinking about it for a while, I'm leaning towards agreeing with @rainersigwald. This command can only support the basic property adding without devolving into a very messy UX. I'm not sure that in those cases, and you can get into those cases pretty fast, you are not better off just cracking open the file and editing it.

[2017-03-08 19:29] JayBee6 commented on #5959
Below is the workaround I am using right now to fix this problem, as part of my docker build I am copying the local Nuget.Config to root Nuget.Config.

[code]

[2017-03-08 19:34] blackdwarf commented on #5953
@livarcocc no, but it could. :) Let me push that change and link to this issue.

[2017-03-08 19:40] swgillespie commented on #4778
@sebok Thank you so much, this is extremely helpful!

@gkhanna79

So, perhaps the huge amount of maps are coming from here: https://github.com/dotnet/coreclr/blob/master/src/utilcode/util.cpp#L644 , when we are scanning for a free chunk of VM to allocate these emergency jump stubs? I'm not super familiar with the PAL or JIT to know if `VirtualQuery` results in calls to mmap, but if we are failing

[2017-03-08 19:54] blackdwarf commented on #5952
@enricosada some answers for you :)

* You should use the following location: https://dot.net/v1/dotnet-install.sh and https://dot.net/v1/dotnet-install.ps1 in the future.
* In the above the production was added as an argument. We will merge the changes back into `master` at some point, but in general, the above location should be used to get the scripts for v1 tools.
* The above scripts have fixe

[2017-03-08 19:59] blackdwarf commented on #5959
/cc @emgarten @rohit21agrawal

[2017-03-08 20:00] blackdwarf commented on #5948
@Ronan-Farrell we have shipped v1! 😄 Please go to https://dot.net/core. The link is being removed from the README.md file in #5928

[2017-03-08 20:00] #5948 closed

[2017-03-08 20:13] natemcmaster opened #5961 "Proposal: dotnet-inspect"
It would be nice to have a tool that dumps detailed information about a user's project, setup, and runtime environment.

Think: `Help > About Microsoft Visual Studio`, but for command line. It's `dotnet --info` on steroids.

Here is a list of information that is useful for support engineers, our team, and devs in general.

- **dotnet installation**:
  - available CLIs. If global.json is used, wher

[2017-03-08 20:18] natemcmaster commented on #5300
Could we start with "get" and do "set" later?

Almost all CLI tools need to **read** properties like OutputPath, AssemblyName, TargetFramework, etc. (dotnet-watch, dotnet-ef, dotnet-xunit to name a few)

Only a few of them need to edit a csproj info. And there are simple solutions for this. For example, a CLI tool might simply print a message that says "Please add `<xml here>` to your csproj".

[2017-03-08 20:33] blackdwarf commented on #5773
@JohnRusk as of yesterday, I would advise you to use the following two locations for these scripts:

* https://dot.net/v1/dotnet-install.sh
* https://dot.net/v1/dotnet-install.ps1

These will be stable moving forward so you will have most luck with them.

[2017-03-08 21:33] Maoni0 commented on #4778
@janvorli could you please take a look?

[2017-03-08 21:41] JohnRusk commented on #5773
Nice! Thanks.

[2017-03-08 21:45] janvorli commented on #4778
Based on the strace I am almost sure it is due to GRSEC/PAX enabled - see #8480. @sebok do you know if you have GRSEC/PAX enabled on your Linux? As a workaround, disabling for dotnet using `paxctl -r dotnet` where dotnet should be specified by its full path should work.
The issue is that the address passed to mmap is ignored with GRSEC/PAX enabled and that prevents us to find a block of free virtu

[2017-03-08 21:48] ramarag commented on #5956
i believe this is the correct behavior, and it also displays the reason for the failure,. i.e

```Unhandled Exception: System.InvalidOperationException: Specify at least one entry with --entries.```

some thing similar happens if you invoke ```dotnet run``` without any project
[code]

cc @livarcocc

[2017-03-08 21:48] gkhanna79 commented on #4778
CC @kouvel

[2017-03-08 22:02] eerhardt commented on #5956
It is 100% not the correct behavior to display a Watson crash dialog.

[2017-03-08 22:03] spguruguy opened #5962 "DotNet EF does not load"
## Steps to reproduce
<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="1.0.0" />
dotnet restore
dotnet ef add Initial
## Expected  behavior
successful installation

## Actual behavior
No executable found matching command "dotnet-ef"

## Environment data
`dotnet --info` output:
Microsoft .NET Core Shared Framework Host

  Version  : 1.1.0
  Build    : 928f77c4bc

[2017-03-08 22:06] DarthStem opened #5963 "[MIGRATION] Solution migration fails in Visual Studio 2017"
@blackdwarf
@livarcocc

## Steps to reproduce
Installed VS2017
Opened working solution developed in (and operational in) VS2015 in VS2017
Migration required
Migration fails

## Expected  behavior
That it would actually migrate and work.

## Actual behavior
Migration fails.

Failed to migrate XProj project XXX.Web. 'dotnet migrate --skip-backup -s -x ...  --format-report-file-json' exited with erro

[2017-03-08 22:09] eerhardt commented on #5956
Looks like someone broke `dotnet run`.  On `1.0.0`, we display a good error:

[code]

But on `2.0.0-*` I get the Watson dialog.  This is because https://github.com/dotnet/cli/pull/5525 didn't make it's way up to master.  I'll log a separate issue for this.

[2017-03-08 22:10] eerhardt opened #5964 "Need to port #5525 to master"
The PR #5525 didn't make its way into master.

/cc @livarcocc

[2017-03-08 22:12] sebok commented on #4778
@janvorli Indeed, I assume GRSEC/PAX is enabled:
- The kernel image is named `bzImage-3.14.32-xxxx-grs-ipv6-64` (it's actually the default kernel image for all servers hosted by [OVH](https://w3techs.com/technologies/details/ho-ovhsas/all/all))
- I have grsec messages in `dmesg`
- `zgrep CONFIG_SECURITY /proc/config.gz` returns `CONFIG_SECURITYFS=y`

I'll take a look at the workaround mentionned i

[2017-03-08 22:22] sebok commented on #4778
So, ` paxctl -r /opt/dotnet/dotnet` returns `file /opt/dotnet/dotnet does not have a PT_PAX_FLAGS program header, try conversion`. Same result on `libcoreclr.so`.

And I don't have any file named `corerun` or `coreconsole`.

Am I missing something?

[2017-03-08 22:26] janvorli commented on #4778
@sebok I've not tried to use the paxctl myself before. Looking at its options, there is an `-C` option that should do the conversion the -r option complains about. Can you please give it a try? I am not sure if you can pass both options at once or if you need to convert first and then run the -r.

[2017-03-08 22:26] davkean commented on #1076
@rsuter What are you trying to pass to the compiler? We have MSBuild items/properties for nearly all compiler arguments.

[2017-03-08 22:26] sebok commented on #4778
By the way, I confirm that this kernel is configured with PAX and RANDMMAP enabled:

[code]

[2017-03-08 22:35] sebok commented on #4778
`paxctl -c -r /opt/dotnet/dotnet` worked and... SOLVED THE ISSUE! :+1:

It would be great to make it unecessary as you suggest in https://github.com/dotnet/coreclr/issues/8480, or at least / in the meanwhile, provide a more detailed error message to guide users to this workaround.

Alternative: check if PAX/RANDMMAP seems enabled at first launch of dotnet CLI tools (only once, when it populates nu

[2017-03-08 22:43] janvorli commented on #4778
@sebok, thank you for the confirmation!

[2017-03-08 23:09] rsuter commented on #1076
In project.json we used "additionalArguments" and "/ruleset:" to specify the StyleCop ruleset, after the migration to .csproj, the rulesets are not loaded anymore.

I found the required property (for just this case):

     <CodeAnalysisRuleSet>...</CodeAnalysisRuleSet>

In VS2017 I dont have suggestions when editing a .NET Core .csproj and I couldnt find documentation for this in the StyleCop docs

[2017-03-08 23:10] eerhardt opened #5965 "The RuntimeIdentifier option for "dotnet cache" should be optional"
### Repro

`dotnet cache --entries my.csproj`

### Expected Results

The command should succeed.

### Actual Results

`Error: Specify a RuntimeIdentifier`

### Notes

It doesn't make sense for `dotnet cache` to require users to pass in a RuntimeIdentifier for 2 reasons:

- We have a great default that works - the current machine's RID.
- In most cases, the current machine's RID is the ONLY Runtime

[2017-03-08 23:16] swgillespie commented on #4778
@janvorli Thank you! 😄

[2017-03-08 23:26] davkean commented on #1076
By "you don't have suggestions" you mean you don't see:

![image](https://cloud.githubusercontent.com/assets/1103906/23728823/e33a8986-04b2-11e7-8d8e-189be1518ba7.png)

[2017-03-09 00:38] livarcocc commented on #5961
I think this is a great candidate for a tool, but not sure it fits as a main verb for the CLI.

[2017-03-09 00:58] livarcocc commented on #5962
We are going to need a little bit more in order to be able to help you out.

First, can you share your csproj file? This seems like you are missing the EF tool in your csproj file.
Second, the dotnet --info output seems to be missing a lot of information about what version of the CLI you are using, your OS, etc.

[2017-03-09 01:14] spguruguy commented on #5962
I’m following the tutorial here: https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model

Here is the csproj file:
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
  </PropertyGroup>

  <PropertyGroup>
    <PackageTargetFallback>$(PackageTargetFallback);portable-net45+win8+wp8+wpa81;</PackageTargetFallback>
  </

[2017-03-09 01:20] ravipal opened #5967 "Mismatch between processor architecture."
## Steps to reproduce
1. In VS 2015 create a .net web project targeting full framework.
2. Add a Nuget package reference to "Microsoft.ServiceFabric.Services" which targets only AMD64. or any other package that targets only AMD64.
3. Build -> build will be fine.
4. Open this project in another machine with VS 2017 and this will migrate the project.
5. Build

## Expected  behavior
Build should succ

[2017-03-09 01:41] natemcmaster commented on #5961
What if it wasn't a verb? `dotnet --diagnose`

[2017-03-09 04:12] livarcocc commented on #5964
This PR is not missing in master.

@jonsequitur undid the changes to RunCommand that invoked the DisplayAsError extension method here: https://github.com/dotnet/cli/pull/5618.

@jonsequitur why did you make this change? Without the invoking to the extension method this makes dotnet run crash when a project is not found.

[2017-03-09 04:12] livarcocc commented on #5964
Though this will likely get fixed with the new parser.

[2017-03-09 04:33] mlorbetske commented on #5940
cc @vijayrkn

[2017-03-09 05:36] TravisBoatman opened #5970 "launchsettings.json keeps getting modified"
If you remove the IIS Express profile or IIS settings in launchsettings.json, they will re-appear after you restart VS 2017. I'm not sure if this has to do with dotnet tooling or VS 2017.

## Steps to reproduce
Create a new web app.
Remove IIS Express profile and IIS settings from `luanchsettings.json`.
Add a new profile.
Should look something like this:

[code]
Save. Restart VS 2017.
File will no

[2017-03-09 07:46] ajaankur commented on #4171
I am getting issue

**Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.**

[2017-03-09 08:55] glararan commented on #5919
@livarcocc Thanks, was waiting for new Visual Studio 2017 (.csproj from dotnet migrate was not supported by VS2015) and confirm, its working :)

[2017-03-09 08:55] #5919 closed

[2017-03-09 08:57] henkmollema opened #5971 "Packing project with project dependencies does not include build number in nupkg"
## Steps to reproduce
1. Create two class library projects (eg. `ProjA` and `ProjB`)
1. Create a project reference from `ProjB` to `ProjA`:
[code]
1. Use this version in the projects:
[code]
1. Create NuGet packages by calling `dotnet pack` on the solution specifying a build number:
[code]

## Expected  behavior
A nupkg for `ProjB` with a dependency to `ProjA` with version **`1.2.0-preview1-123`**

[2017-03-09 09:16] ViktorHofer commented on #4765
Totally agree that the path should be the CWD. Everything else would not make sense. I also just noticed that weird behaviour and now have to work with absolute paths in my powershell script which invokes dotnet pack to pack multiple projects at once.

[2017-03-09 09:16] atifaziz opened #5973 "[MIGRATION]: Warnings & errors building MoreLINQ post migration"
## Setup

I started by cloning the [MoreLINQ repo](https://github.com/morelinq/MoreLINQ):

    git clone https://github.com/morelinq/MoreLINQ.git`

The default branch, `master`, was at morelinq/MoreLINQ@dbad4803bedfef69f6a27cd897d0a4b2a66ce491 at time of reporting this issue. Next I ran `dotnet --info`:

[code]

I updated `global.json` and changed the SDK version from `1.0.0-preview2-003131` to `1

[2017-03-09 09:50] Gentlehag opened #5974 "Downsize core app doesn't update dockerfile"
## Steps to reproduce
Create a asp core 1.1 application with docker support
Then downsize the application to core 1.0
Start the docker container

## Expected  behavior
it should start the container as before

The docker file should be updated to target aspnetcore 1.0 (if untouched?) to

`FROM microsoft/aspnetcore:1.0`

## Actual behavior
it doesn't start because the docker file still cotnains

`FR

[2017-03-09 09:53] nalla opened #5975 "Garbled umlauts in console output"
## Steps to reproduce
1. Use a german windows 10
2. Run dotnet test
[code]

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2017-03-09 10:00] qrli commented on #5971
Not only with version suffix, also with non-prerelease versions.

[code]
The result nupkg is v1.0.1 but dependencies via project referenced is always 1.0.0. It seems now cli only read the Version property from referenced .csproj file but do not honor the multiple project/package relationship, unlike the old project.json tooling.

[2017-03-09 10:01] dandago commented on #1995
Why is this issue closed if the problem is not solved?

[2017-03-09 11:17] ViktorHofer commented on #5846
Tooling support for UWP, Xamarin (with Xamarin Forms) would be fantastic. Hope to see it soon.

[2017-03-09 11:20] nrandell commented on #5971
I've seen the same, but by setting the environment variables VERSION_PREFIX and VERSION_SUFFIX everything appears to be ok.

I think it is in the restore stage that this is needed. If you look in project.assets.json inside the obj directory, you can see the version it is using. That appears to be copied across to the nuspec file on packing. After I set the correct VERSION_PREFIX and VERSION_SUFFIX

[2017-03-09 11:49] henkmollema commented on #5971
@nrandell you're right. When I specify the build number when restoring (e.g. `dotnet restore /property:BuildNumber=$buildNumber` or setting the environment variable) the `project.assets.json` contains references to the correct version numbers and the NuGet package contains the correct dependencies.

[2017-03-09 13:00] sebok commented on #4778
@janvorli, out of curiosity, how does this relate to server garbage collection? The issue never happens when server GC is disabled.
And why, when server GC is enabled, does it sometimes happen and other times not?

[2017-03-09 13:56] janvorli commented on #4778
@sebok The reason why it sometimes works and sometimes it doesn't with the server GC enabled is that it depends on where System.Private.CoreLib.ni.dll and libcoreclr.so are located in the memory. If they end up being placed close enough so that the code in System.Private.CoreLib.ni.dll can make a short call when calling the native runtime, then we don't need to allocate jump stubs within 2GB dista

[2017-03-09 14:21] vadimkhm opened #5976 "Error MSB4062"
## Steps to reproduce
I have a lot old library projects(4.5.1) that builds correctly with new web site project.
But one project that using some web references cannot be build from dotnet build with different configurations.
For example dotnet build --configuration Debug normally executed but
 dotnet build --configuration Staging gives following error:
Can someone help with this?
Thanks

## Actual

[2017-03-09 14:36] sebok commented on #4778
@janvorli, thank you it's very clear!
For others who might ask why are these jump stubs needed, I found this article quite useful:
- https://support.microsoft.com/en-ca/help/3152158/out-of-memory-exception-in-a-managed-application-that-s-running-on-the-64-bit-.net-framework

[2017-03-09 14:54] adback03 commented on #4921
@derwasp not exactly the same results as using the XML switch, but you can also do this:

`dotnet test MyTestProject.csproj --logger trx`

That will at least output a TRX report which you build agent could then use for reporting.

[2017-03-09 15:16] KallDrexx opened #5977 "Can no longer compile net451 compatible builds on linux with 1.1 tooling"
## Steps to reproduce

1.  Create new directory
2.  Create global.json file with the following content:
[code]
3. execute `dotnet new`
4. Edit project.json and add `net451` framework
5. Execute `dotnet restore` then `dotnet build`
6. Execute `dotnet run`
---> Observe everything works correctly

7. `rm global.json`
8. `dotnet migrate`
9. `dotnet build`
---> Observe the following error:

[code]

##

[2017-03-09 15:35] atanasa commented on #5683
As it is described in the [documentation](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/cli-msbuild-architecture):

Are there plans to make VS call into the Restore target?

[2017-03-09 15:41] bgribaudo opened #5978 "Misleading error message when `dotnet sln` inadvertently used on csproj file"
## Steps to reproduce
* Create a new project -- `dotnet new console`
* Pass the new project's csproj file to `dotnet sln` -- `dotnet sln myproj.csproj list`

## Expected  behavior

Error message should indicate that the file is not a valid solution file because the header on **line 1** is incorrect.

For example, something along the lines of:

    Invalid solution file `myproj.csproj`. Error on li

[2017-03-09 15:47] natemcmaster commented on #5971
This is a duplicate of https://github.com/NuGet/Home/issues/4337. This workaround is also mentioned in that issue.

[2017-03-09 15:47] #5971 closed

[2017-03-09 15:48] henkmollema commented on #5971
I see, thanks. 👍

[2017-03-09 15:55] DarthStem commented on #5963
I worked around this manually.

This is how I got there:
- I commented out the "tools" and "scripts" sections from my project.json.
- From a VS2017 command prompt I ran dotnet migrate "solution.sln" --skip-backup
- Manually had to delete the xproj and project.json files from my project folders.
- Clean/Build
- Solution seems to run fine now.

This was a scenario that should have been handled for m

[2017-03-09 16:15] emgarten commented on #5683
There are no plans for this currently. VS Restore operates using project information already loaded into memory.

Can you explain a bit more about your scenario and what you need to run before restore? It does seem like a general extension point for this could be useful.

[2017-03-09 16:32] spguruguy commented on #5962
There doesn’t seem to be any mechanism to manually install the ef components of dotnet core. I did a manual install of the CLI SDK, and it doesn’t know about dotnet-ef either. Without any way to install this, the entire stack is seriously broken. I have no idea where to go from here…

From: Livar [mailto:notifications@github.com]
Sent: Wednesday, March 8, 2017 4:58 PM
To: dotnet/cli <cli@noreply.g

[2017-03-09 16:40] livarcocc commented on #5970
@BillHiebert do you know anything about this? Also, is there a better repo for this bug? Given that it is exclusively in VS?

[2017-03-09 16:43] livarcocc commented on #5974
How did you downsize the TFM? Also, the CLI will not do that for you. It simply isn't in its capabilities today.

[2017-03-09 16:54] Gentlehag commented on #5974
Project references and changed the dropdown to 1.0 ;)

[2017-03-09 16:59] tchansen commented on #3994
This doesn't work for MacOS; I'm getting the same error as noted before but I can't find a version to adjust anywhere. Any thoughts?

-----

dotnet --info
.NET Command Line Tools (1.0.1)

Product Information:
 Version:            1.0.1
 Commit SHA-1 hash:  005db40cd1

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr

[2017-03-09 17:04] atanasa commented on #5683
I am running a script that "restores" packages from a server that is not NuGet-compatible. Those are later fed to the usual NuGet restore through a directory package source. Essentially extending the restore logical operation to consume a custom source of packages.

[2017-03-09 17:24] BalassaMarton commented on #4770
I got the same error with Visual Studio 2017 RTM. Projects referencing other projects within the solution cannot be migrated.

[2017-03-09 17:50] livarcocc commented on #5974
I see. That's an experience in VS, not in the CLI.

@MichaelSimons @BillHiebert do you know who owns this experience in VS?

[2017-03-09 17:50] livarcocc commented on #3994
@natemcmaster can you help?

[2017-03-09 17:52] vijayrkn commented on #5940
We changed the Property name to match the Task name.
e.g:
IsTransformWebConfigDisabled to disable transforming web.config
IsTransformAppSettingsDisabled to disable transforming appsettings
IsGenerateEFSQLScriptsDisabled to disable generating EF sql scripts (if EF Migration is enabled).

web.config transform not honoring the ProcessPath in web.config looks like a bug (https://github.com/dotnet/cli/

[2017-03-09 17:56] MichaelSimons commented on #5974
This looks like it is part of the VS Docker Tooling experience - @dazhao-msft, @SteveLasker should be able to help.

[2017-03-09 18:23] natemcmaster commented on #3994
The error message is correct. Microsoft.AspNetCore.Mvc requires .NET Framework >= 4.5.1
[code]
I'm not sure this is related to the original issue. If you're still having trouble, can you open an issue on https://github.com/aspnet/Mvc instead?

[2017-03-09 18:41] tchansen commented on #3994
I can. This is a issue with a new installation of Visual Studio for Mac. I have had earlier versions and currently have Visual Studio Code installed. I just don't know how to configure for conflicts.

Chris Hansen
Delivery Solutions Engineer
M: 801.717.0188  |  twitter: @accelasoftware
[id:503CC853-F15B-43ED-B9F6-D41F8F7A6B84]

From: Nate McMaster <notifications@github.com>
Reply-To: dotnet/cli <r

[2017-03-09 19:26] KallDrexx opened #5984 "Dependencies via project reference are not having versions updated when performing a dotnet pack"
## Steps to reproduce
1. Go to a directory
2. `mkdir test1`
3. `mkdir test2`
4. `cd test1`
5. `dotnet new classlib`
6. Edit test1.csproj and add `<VersionPrefix>1.0.1</VersionPrefix>`
7. `dotnet restore` then `dotnet pack`
8. `cd ../test2`
9. `dotnet new classlib`
10. `vim Class1.cs`
11. Change class definition to `public class Class1 : test1.Class1`
12. Edit test2.csproj and add `<VersionPrefix>1

[2017-03-09 20:07] challe commented on #5868
I think this can be closed, unless you want to keep it open for a more general discussion? All the problems I have encountered when trying to get the Web API running using .NET Core using 2.x compatible packages are now solved (and my wiki page is updated). We also have [this issue](https://github.com/aspnet/Coherence/issues/166) to follow for other blocking issues.

[2017-03-09 21:11] tchansen commented on #3994
@natemcmaster, thank you for the reply (and @livarcocc for the assist).

My issue isn't that it is a problem but how do I change the project or my .NET components to resolve the conflict? This thread is the closest I've found in searching.

[2017-03-09 21:26] RichDef77 commented on #3199
Hi @squid16 sorry for the delay in my response ... your app is still a .Net Core app but its now running on top of the full .Net 4.6.1 framework. So you get the best of both worlds - the benefits of .Net Core (new routing, DI, all that good stuff) as well as the full .Net Framework APIs. The only thing to remember is that you lose the cross platform capabilities of .Net Core as the full .Net Frame

[2017-03-09 21:38] tinchou commented on #3199
Just to clarify: those are features of the new **ASP.NET Core** framework, which happens to work in both .NET Framework and .NET Core.

[2017-03-09 22:10] emgarten commented on #5683
@atanasa would you open a nuget issue on https://github.com/nuget/home/issues to track this. Describe your scenario and that you need a hook to run a script before restore in VS that ideally works the same as the target.

[2017-03-09 22:17] #5538 closed

[2017-03-09 22:17] strake7 commented on #5528
Deleting from C:\Users\...\.nuget\packages\microsoft.visualstudio.web.browserlink worked for me as well.

[2017-03-09 22:25] jgoshi commented on #5854
We have this up and running in both Jenkins CI and VSO. There is currently just one remaining issue, test support for 2.0.
https://github.com/Microsoft/vstest/issues/494

Once that becomes available, doing the following two things will enable tests to run for the Linux portable builds.

1. In netci.groovy remove the check (near the bottom) that stops this statement from running on Linux portable b

[2017-03-09 22:34] jgoshi commented on #5131
In the master branch we have support for C# and VB. F# support is still in progress (see the comments near the end of this PR https://github.com/Microsoft/msbuild/pull/1607)

Once F# support is available, do the following: Search our codebase for  "https://github.com/dotnet/sdk/issues/522". It should appear in the following three files.
1. src\dotnet\ProjectInstanceExtensions.cs - Follow the instr

[2017-03-09 22:45] livarcocc commented on #5868
Thanks @challe.

[2017-03-09 22:45] #5868 closed

[2017-03-09 22:52] livarcocc commented on #5984
Moved this to nuget/home: https://github.com/NuGet/Home/issues/4779.

[2017-03-09 22:52] #5984 closed

[2017-03-10 00:53] caleblloyd opened #5988 "dotnet build Command no longer calls Mono on Linux"
## Steps to reproduce

Create a project on Linux targeting both `netcoreapp1.1.1` and `net451` (or some other version of the full .NET framework).  Install the `mono-complete` package

## Expected  behavior

In preview tooling, `dotnet build` would call into mono to build the `net451` package

## Actual behavior

Using `dotnet-dev-1.0.1`, building the `net451` build now fails with:

[code]

Why do

[2017-03-10 01:17] mishra14 opened #5989 "dotnet restore does not respect verbosity"
`dotnet restore -v q` does not respect the quiet flag.

However, `dotnet msbuild /t:restore /v:q` works fine.

@livarcocc @emgarten

[2017-03-10 02:49] johnkors commented on #5940
Looks like a dup of https://github.com/aspnet/websdk/issues/115 - doesn't it @vijayrkn ?

[2017-03-10 03:19] blackdwarf commented on #5953
This is now fixed. Closing.

[2017-03-10 03:19] #5953 closed

[2017-03-10 03:56] livarcocc commented on #5974
@dazhao-msft @stevelasker is there a more appropriate repo to move this issue to?

[2017-03-10 03:57] livarcocc commented on #5970
@vijayrkn is this something that you can help with?

[2017-03-10 07:08] vadimkhm commented on #5976
there is some wrong references to web services and that was a problem

[2017-03-10 07:08] #5976 closed

[2017-03-10 07:25] dansta2k opened #5991 "Framework Dependent ASP.net Core site on Nano Server Process Failure"
## Steps to reproduce
https://docs.microsoft.com/en-us/aspnet/core/tutorials/nano-server

Following this tutorial does not add dotnet.exe to the PATH environment variable, so I manually did this and pointed it to C:\Users\[user]\Local Settings\Microsoft\dotnet\shared\Microsoft.NETCore.App\1.1.1

The site runs fine directly when using dotnet appname.dll, but the site does not run through IIS, this

[2017-03-10 07:36] GuardRex commented on #5991
@robmen This looked to me like something went wrong during the shared framework/runtime installer on Nano. @dansta2k was able to get an SCD app running, so it wasn't a prob with the ANCM/IIS. IIRC there was no stdout log file created. There were ANCM entries in the Application Log, but they had no messages attached to them (or no obvious messages anyway).

@dansta2k, @robmen might want to see the

[2017-03-10 07:47] dansta2k commented on #5991
@GuardRex unfortunately when i list the contents of that directory it shows:

    Directory: C:\users\adminVM\AppData\Local\Temp

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
d-----         3/7/2017   6:27 AM                Microsoft.PackageManagement

The Microsoft.PackageManagement subfolder is empty :(

[2017-03-10 07:53] GuardRex commented on #5991
@dansta2k Not sure ... maybe the log goes somewhere else on Nano.

@robmen can help. He's the 🤴 *Installer King!* 🤴

[2017-03-10 08:40] Jupakabra opened #5992 "dotnet run -p, can not start a project"
## Steps to reproduce
[code]
## Expected  behavior
Project runs and prints out `Hello World!`.

## Actual behavior
Unauthorized exception is always being thrown
[code]
This used to work with previous version, it now only works with full path:
`dotnet run -p Project\ConsoleApp.csproj`
or being inside a `Project` folder:
`dotnet run`

## Environment data
[code]

[2017-03-10 09:57] rsuter commented on #1076
Ah, now these suggestions work... no idea why. Thanks.

[2017-03-10 10:02] Mats391 opened #5993 "net40 application with Microsoft.Bcl.Async cannot resolve dependencies"
## Steps to reproduce
Create a `net40 `application that references `Microsoft.Bcl.Async` and uses await:
project.csproj:

[code]
Program.cs:
[code]

Start with `dotnet run`

## Expected  behavior
Program should start.

## Actual behavior
Creates errors
[code]

## Environment data
`dotnet --info` output:
[code]

Side Note:
Similar behaviour with `Microsoft.Net.Http` which fails to resolve `System.N

[2017-03-10 10:19] RehanSaeed opened #5994 "Minimizing References with .NET Core csproj VS 2017 Tooling"
I have .NET Core class libraries I publish to NuGet. After upgrading them to VS 2017 csproj format, they have the following signature.

[code]

Adding `Microsoft.NET.Sdk` seems to add references to a base set of libraries. However, as a library author myself, I probably want to only references a minimum set of references. Is that still true and if so, how can it be achieved?

Looking at the ASP.NE

[2017-03-10 10:23] davidfowl commented on #5994
Are you talking about NETStandard.Library? It's recommended to always use that as the baseline. For .NET Standard 2.0 you won't be able to break it into pieces anyways so I wouldn't bother trying to go lower than that.

The new guidance is to reference **NETStandard.Library** always as a package author.

[2017-03-10 10:28] derwasp commented on #4921
@adback03 thank you, I know. And that's what I ended up doing for my Jenkins build. It turned out that xUnit jenkins plugin supports MSBuild's TRX format as well.

[2017-03-10 10:46] Tragetaschen commented on #3745
Yes, the relative paths work. Thanks!

[2017-03-10 10:46] markvincze commented on #5977
I'm having the same problem when targeting .NET 4.6.
@KallDrexx, did you find any workaround since then?

[2017-03-10 10:50] dasMulli commented on #5977
There is an open issue in the SDK repo about it: https://github.com/dotnet/sdk/issues/335

[2017-03-10 12:16] RehanSaeed commented on #5994
I don't see [EF Core](https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.InMemory/EFCore.InMemory.csproj) or [MVC](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.DataAnnotations/Microsoft.AspNetCore.Mvc.DataAnnotations.csproj) referencing `NETStandard.Library`. When I did a `dotnet migrate` id didn't add it either. Should I be explicitly adding `NetStandardImplicitP

[2017-03-10 13:35] SapientGuardian opened #5996 "Dotnet pack output moved after tooling upgrade"
After upgrading from the older project.json based tooling to the VS2017 csproj tooling, the output of dotnet pack has moved to an unexpected location.

Sample repo: https://github.com/SapientGuardian/SapientGuardian.MarathonClient
Build with old tooling: https://ci.appveyor.com/project/SapientGuardian/sapientguardian-marathonclient/build/1.0.0-7
Build with new tooling: https://ci.appveyor.com/proj

[2017-03-10 14:44] markvincze commented on #5977
@dasMulli,

Thanks, setting `export FrameworkPathOverride=/usr/lib/mono/4.5/` on Ubuntu and Debian solved the issue for me. cc @KallDrexx

[2017-03-10 15:06] radu-matei commented on #3959
How about `.csproj`?

How do I also include the dependency in a msbuild environment?

Thanks!

[2017-03-10 15:59] RehanSaeed commented on #4921
@adback03 Is there a way to control the output directory for the xml test result files?

[2017-03-10 16:54] UizzUW commented on #3959
@radu-matei that is a whole different beast of an issue.

There are (or were) essentially two different build systems after the release of .NET Core and .NET Standard. The old one, MSBuild, still used for .NET Framework projects (.csproj files), and the new one exposed by the "dotnet" CLI, which knows how to handle project.json files.

The problem is the dotnet CLI does not know how to handle .csp

[2017-03-10 17:02] radu-matei commented on #3959
@UizzUW - my project is VS17 based with `.csproj` for all projects.

I built a nuget package using `dotnet pack`, but I also want to bundle all dependencies of that project (which are also `.csproj` based).

The concrete questions (which I should have made clear in the first place) are:

 - how can (and if) I use `dotnet pack` to create the package with all dependencies
 - how can I use `nuget` (l

[2017-03-10 17:23] vijayrkn commented on #5940
@johnkors Yes, we can track this issue as part of aspnet/websdk#115.

[2017-03-10 17:26] livarcocc commented on #5683
Closing this one in favor of the NuGet one.

[2017-03-10 17:26] #5683 closed

[2017-03-10 17:27] vijayrkn commented on #5970
Similar issue: https://github.com/aspnet/websdk/issues/82

[2017-03-10 17:44] blackdwarf commented on #5896
@ericstj this is by design, in a sense, I would say. We use `global.json` to specify a specific version of the tools to use. I understand that this is slightly confusing since the host prefers, IIUC, the released version over a higher preview version (1.0.0 over 2.0.0-*), but the configuration mechanism is still the same.

This should be documented in the doc you mentioned, of course.

[2017-03-10 17:45] blackdwarf commented on #5989
This is true. We need to create a mapping between the restore level of verbosity and MSBuild ones.

[2017-03-10 17:47] derwasp commented on #4921
@RehanSaeed try this: `dotnet test myproj.csproj --logger "trx;LogFileName=c:\logfile.trx" `

[2017-03-10 17:50] gkhanna79 commented on #5896
@blackdwarf Same as https://github.com/dotnet/core-setup/issues/1664

[2017-03-10 17:53] bricelam opened #5998 "dotnet add package doesn't honor package type"
## Steps to reproduce
1. `dotnet add package Microsoft.EntityFrameworkCore.Tools.DotNet`

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
.NET Command Line Tools (1.0.0)

Product Information:
 Version:            1.0.0
 Commit SHA-1 hash:  e53429feb4

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15042
 OS Platform: Windows
 RID:         win10-x64
 Base

[2017-03-10 17:54] bricelam commented on #5998
This issue is similar to NuGet/Home#4190

[2017-03-10 17:56] bricelam commented on #5998
## Workaround
Manually add the appropriate `<DotNetCliToolReference>` to your `*.csproj`

[2017-03-10 18:50] davidfowl commented on #5994
That's correct, by default it's implicitly added.

I believe that's the default.

Yes migrate trends towards accuracy but it isn't minimal by any means but that's unrelated to this post.

[2017-03-10 18:54] KOliverHulme commented on #5518
You have to uninstall openssl first `brew uninstall openssl`.  Make sure you unlink it first `brew unlink openssl` though.
If it complains that it's a dependency for wget so it shouldn't be uninstalled, use `brew uninstall --ignore-dependencies openssl` to get around it.  Just reinstall openssl **directly after you uninstall it**.

[2017-03-10 19:05] mishra14 opened #6000 "dotnet vstest -h does not display help"
# Steps -

run `dotnet vstest -h`

# Expected -

dotnet vstest help is displayed.

# Actual -

[code]

# Info -

[code]

# Extra -

`dotnet vstest --help` works fine though.

[2017-03-10 19:05] mishra14 commented on #6000
@blackdwarf @livarcocc

[2017-03-10 19:07] nmklotas opened #6001 "dotnet migrate fails for UWP blank app"
## Steps to reproduce
Create any Blank UWP app project and run dotnet migrate.

## Expected  behavior
app is migrated

## Actual behavior
app is not fully migrated, csproj looks messed up. When building the app I get errors:

[code]

[code]

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.1)

Product Information:
 Version:            1.0.1
 Commit SHA-1 hash:  005db40cd1

[2017-03-10 19:17] svick commented on #5975
Unfortunately, this is the expected behavior on .Net Core 1.x, see https://github.com/dotnet/corefx/issues/10054. The fix for console applications is to add `Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);` at the start of `Main`, I'm assuming a similar fix will work for a unit test project.

Also, this should no longer be an issue in .Net Core 2.0, see https://github.com/dotnet/cor

[2017-03-10 22:51] blackdwarf commented on #5961
@natemcmaster we already have `dotnet -d` to mean something else. Regardless, I agree with @livarcocc that this looks like it could be done as a tool and then we can see if the interest for it starts cropping up.

[2017-03-10 22:56] livarcocc commented on #5959
Moved over to Nuget/Home.

[2017-03-10 22:56] #5959 closed

[2017-03-10 22:58] mishra14 opened #6002 "dotnet test does not pass additional arguments to xunit"
# Steps -

`dotnet test -- notrait="platform=darwin"`

# Expected -

`notrait="platform=darwin"` should be passed to xunit.

# Actual -

`dotnet test` does not seem to be sending this to xunit.

[2017-03-11 00:06] wjk opened #6005 "Invalid csproj causes dotnet sln to crash"
## Steps to reproduce

1. Create a solution using `dotnet new sln`, and a project using `dotnet new classlib`.
1. In the csproj, add an `<Import />` statement pointing to a nonexistent targets file.
1. Try to add the project to the solution using `dotnet sln add`.

## Expected behavior

An error message should be emitted, or (better yet) the error is silently ignored and the project added to the s

[2017-03-11 00:58] livarcocc commented on #6001
The dotnet migrate command is not supposed to handle UWP. It handles only .NET Core projects.

cc @rohit21agrawal who may have something to help out with that.

[2017-03-11 00:58] #6001 closed

[2017-03-11 01:00] livarcocc commented on #6000
@mishra14 can you move this to the vstest repo?

[2017-03-11 01:03] livarcocc commented on #5998
Yes, this needs to be handled in NuGet as the command in the CLI is just a shim. We know this is a missing functionality though.

Let's track it in the NuGet issue.

[2017-03-11 01:03] #5998 closed

[2017-03-11 01:05] livarcocc commented on #5994
@RehanSaeed if there is anything else you would like addressed by this issue, please re-activate it. For the meanwhile, I am going to close it.

[2017-03-11 01:05] #5994 closed

[2017-03-11 01:07] livarcocc commented on #5970
Closing this one in favor of the one in the websdk.

[2017-03-11 01:07] #5970 closed

[2017-03-11 01:08] livarcocc commented on #6002
Please, move this to the microsoft/vstest repo.

[2017-03-11 01:09] livarcocc opened #6006 "Investigate the intermittent failures of WhenToolAssetsFileIsLockedByNuGetThenCLIRetriesLaunchingTheCommandForAtLeastOneSecond"
## Steps to reproduce
In the CLI, cd to test/dotnet.Test
Run  dotnet test --filter="FullyQualifiedName=Microsoft.DotNet.Tests.PackagedCommandTests.WhenToolAssetsFileIsLockedByNuGetThenCLIRetriesLaunchingTheCommandForAtLeastOneSecond"

## Expected  behavior
This test should pass 100% of the time.

## Actual behavior
It fails intermittently.

## Environment data
`dotnet --info` output:

[2017-03-11 01:10] mishra14 commented on #6000
ported: https://github.com/Microsoft/vstest/issues/598

[2017-03-11 01:10] #6000 closed

[2017-03-11 01:11] mishra14 commented on #6002
ported: https://github.com/Microsoft/vstest/issues/599

[2017-03-11 01:11] #6002 closed

[2017-03-11 01:12] rohit21agrawal commented on #6001
@nmklotas support for migrating UWP projects is coming very soon to Visual Studio in the next update.

[2017-03-11 01:25] xqrzd opened #6007 "dotnet test hangs when run on non-testing project after upgrade"
I'm trying to setup a CI build server that runs dotnet test on all .csproj files using a batch file,
`
for /R %%f in (*.csproj) do dotnet test --no-build --configuration Release --logger trx "%%f"
`
However after upgrading to the latest .net core tools (1.0.1) dotnet test hangs on projects without any tests, preventing any further test projects from running.

## Steps to reproduce
Create a .net st

[2017-03-11 01:36] dsplaisted opened #6008 "Restore operation should not be required for newly created projects"
When you create a new project (ie via `dotnet new console`), you currently have to run `dotnet restore` before running other commands such as `build`, `run`, or `publish`.

This issue is to make it unnecessary to explicitly run `dotnet restore` after creating a new project via `dotnet new`.

Possible ways of achieving this include implicitly running a restore operation after creating the project,

[2017-03-11 02:24] StenPetrov commented on #5144
This issue is marked closed but I'm seeing it with the released VS 2017, how do I fix it?
I tried adding all the references to my .NET Core project still no luck

[2017-03-11 08:07] alaatm opened #6009 "dotnet restore does not try all sources for restoring"
## Steps to reproduce
1-Create a project that references packages from public nuget, some myget feed and a private feed that requires authentication.

2-Add Nuget.config

    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <packageSources>
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="myget" value="https://www.myget.org/F/***/api/v3/inde

[2017-03-11 11:05] srini1978 opened #6010 "Code coverage for .net core applications"
## Steps to reproduce

1. Run .net core application with VSTS
2. Choose Analyze test with code coverage

## Expected  behavior

Code coverage should come up for each of the dlls

## Actual behavior

Multiple resultssets show up skewing up code coverage. Some internal dlls report code coverage multiple times

## Environment data
`dotnet --info` output:

[2017-03-11 12:19] ralphking commented on #5934
No, it doesn't work. There's not much more information that I can give to debug unfortunately.

Is there any documentation for it at all at the moment?

Thanks

[2017-03-11 13:28] ArturKarbone commented on #4513
@shaunluttin just answered your stack overflow question http://stackoverflow.com/questions/40387332/add-a-project-json-based-project-to-a-sln-file-without-using-visual-studio/42735746#42735746

[2017-03-11 14:38] svick commented on #6008
As long as running `dotnet restore` is required before building a changed project, doesn't it make sense to require it for newly created projects too, to teach users about it?

I imagine the current workflow (assuming https://github.com/dotnet/sdk/issues/918 is fixed) of creating a project, building it, modifying it and then building it again goes something like this:

1. Run `dotnet new`.
2. Run

[2017-03-11 15:39] dasMulli commented on #6008
The templating engine added support for PostActions recently so templates can potentially execute a restore after creation: https://github.com/dotnet/templating/issues/234

Note that this needs to be decided on a per-template basis as `dotnet new lib` would benefit from a restore but `dotnet new solution` and `dotnet new nugetconfig` would not.

[2017-03-11 16:22] Kikimora opened #6011 "Xamarin support?"
I've just migrated bunch of my .NET Standard projects to new csproj file format and it works great (really, Visual Studio Mac became usable with this new project format). I want to do same thing with Xamarin.iOS and Xamarin.Android projects as well. After a bit of experimentation I found that 'dotnet migrate' works for them but after I cannot 'dotnet build', it fails with error

I wonder if proper

[2017-03-11 17:06] NinoFloris commented on #5918
Alright sorry for the delay, here is the log https://gist.github.com/NinoFloris/6599e64cd834b2b5e920bdf42467585a

I do see a lot of "Skipping target" happening but I also see at least 1800ms spent on resolving package dependencies and assembly references.

[2017-03-11 17:51] #6009 closed

[2017-03-11 19:19] #5940 closed

[2017-03-11 19:42] tomzo opened #6012 "Invalid F# template when dotnet new"
## Steps to reproduce

[code]

## Expected  behavior

Build should pass. When F# compilation items should be either not listed or there should be `<EnableDefaultCompileItems>False</EnableDefaultCompileItems>`. My vote is for the latter, because order of compiled files is important in F#.

## Actual behavior

This is the generated fsproj
[code]

And build failure:
[code]

## Environment data

[code

[2017-03-11 20:33] alaatm opened #6013 "dotnet publish is not able to find framework version even though it exists"
## Steps to reproduce
Having the following folders in the system:
C:\Program Files\dotnet
C:\dotnet-sdk

C:\Program Files\dotnet\shared\Microsoft.NETCore.App has the following framework versions:
1.0.1
1.1.0

C:\dotnet-sdk\shared\Microsoft.NETCore.App has the following framework versions:
1.0.4
1.1.1

C:\Program Files\dotnet is on the PATH variable where C:\dotnet-sdk is not.

Create a new project

[2017-03-11 21:00] petertiedemann commented on #6012
Getting exactly the same error:

[code]

[2017-03-11 21:36] neatville commented on #2180
I found this post when Googling the problem - I get that message too. I happen to use 32 bit windows, so I don't know if that has something to do with it.

[2017-03-11 23:59] Meligy opened #6014 "`dotnet new --install` of SpaTemplates fails with `no matches found` error on Zsh (macOS)"
## Steps to reproduce

1. Install dotnet SDK on Mac (version details in `dotnet --info` at the end)
2. Start a new Zsh terminal
3. Run the following command in Zsh:

[code]

## Expected  behavior

The CLI downloads the templates, and reports installing them, then lists them in the available templates for `dotnet new`

## Actual behavior

The following message is shown almost instantly:

[code]

##

[2017-03-12 02:11] sayedihashimi commented on #6014
Do you have OpenSSL installed?

[2017-03-12 03:18] mlorbetske commented on #5934
Cc @vijayrkn

[2017-03-12 06:10] Meligy commented on #6014
Yes, and ensured it is properly linked.

I'd expect more severe-looking errors if it's an OpenSSL failure too.

[2017-03-12 07:27] Meligy commented on #6014
However, any specific test you'd like me to do to time out wrong version linked etc?

Thanks heaps.

[2017-03-12 07:32] PRIMETSS opened #6015 "Versioning Clarity"
Seeing lots of posts on forums about versioning

Is it possible to have a a bit more clarity on what tooling/sdk/framework etc is installed on a machine?
can --info clearly list the
   version of tooling
   version of SDK's installed
   version of framework

etc

@karelz

[2017-03-12 07:33] blackdwarf commented on #6005
@wjk this is interesting. Can you share the exception?

[2017-03-12 08:17] davidfowl commented on #6015
What's tooling?

All of the versions of the The .NET CLI itself?

All versions of the shared framework installed?

[2017-03-12 08:18] davidfowl commented on #5918
The up to date check in visual studio isn't working. It's a known issue and is being worked on.

/cc @davkean

[2017-03-12 08:19] davidfowl commented on #5918
We should look into this though. /cc @emgarten

[2017-03-12 10:45] nover commented on #5685
@piotrpMSFT I'm experiencing similar issues with the final version of VS2017 and the dotnet core tooling - the rules are properly applied with compiling via VS, but with `dotnet build` the rules are not applied at all.

Any suggestions?

[2017-03-12 15:12] AArnott opened #6016 "`dotnet new console -o app` creates source files with execute permissions on linux"
## Steps to reproduce

On "Ubuntu for Windows 10":

[code]

## Expected  behavior

[code]

Specifically note how the source files do not have the `x` attribute.

## Actual behavior

[code]

Specifically note how the source files *do* have the `x` attribute, making linux think they are scripts meant to be executed.

## Environment data
`dotnet --info` output:

[code]

[2017-03-12 16:01] NinoFloris commented on #5918
@davidfowl (Mind you this is on OSX with vscode) but yes I do hope for a fix soon, project.json was blazing fast in comparison

[2017-03-12 16:03] enricosada commented on #6012
@tomzo @petertiedemann you miss the `dotnet restore` step.

[code]

for more info about f# see wiki https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-1.0.1

@tomzo  as a note, `EnableDefaultCompileItems` is added already by `FSharp.NET.Sdk`

if you get more issues, please fill in https://github.com/dotnet/netcorecli-fsc/issues

@piotrpMSFT this can be closed.

[2017-03-12 16:06] enricosada commented on #5952
@blackdwarf awesome have a script url without raw github!

[2017-03-12 16:50] wjk commented on #6005
[code]

[2017-03-12 19:07] davidfowl commented on #5918
Hmm, if this is VS code then it's likely one of the tasks that's taking a long time 😞.

[2017-03-12 19:09] davidfowl commented on #5918
From targets:

[code]

From tasks:

[code]

[2017-03-12 19:11] NinoFloris commented on #5918
So you're saying this is fast on windows with VS?

[2017-03-12 19:13] davidfowl commented on #5918
Nope, I'm saying there in VS on windows there is a known feature that is currently missing in the new project system with SDK projects, the "up to date" check. Which effectively avoids even calling back into msbuild if nothing in the project changed.

[2017-03-12 19:14] NinoFloris commented on #5918
Will something like the lock file come back to fix that?

[2017-03-12 19:58] dasMulli commented on #5918
There certainly is room optimising incremental builds.
Example:
(macOS 10.12, CLI 1.0.1, 2016 MacBook Pro)
* Create 3 library projects from template with references:
`lib1 > lib2 > lib3`
* `cd lib3`
* `time dotnet restore`
* `time dotnet build /clp:PerformanceSummary`
* build again

Expected: Much faster builds on subsequent builds.

Actual:
Build time is only half of the full build, note that the

[2017-03-12 20:09] dasMulli commented on #5918
Note that the lib scenario is *much* faster with the latest CI 2.0.0 builds targeting `netstandard2.0` with first build taking around 1.88s and incremental builds taking around 0.8s.
Seems that a large package graph slows builds down dramatically.

[2017-03-12 20:15] jnevins-gcm opened #6018 "Basic use of AssemblyLoadContext on supported frameworks doesn't work"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2017-03-12 20:16] #6018 closed

[2017-03-12 20:27] jnevins-gcm opened #6019 "Basic use of AssemblyLoadContext on supported frameworks doesn't work"
## Steps to reproduce

- Create a new solution in VS 2017
- Add a .NET core class library that targets NETStandard 1.3 framework and uses NETStandard 1.3 library
- Add a package reference to System.Runtime.Loader
- Create a class that uses AssemblyLoadContext

- Add a .NET 4.6.2 console app project
- Add a reference to the .NET Core class library
- Use the aforementioned class from the class libra

[2017-03-12 20:33] jake-brandt commented on #5685
Upgrading to the latest prerelease build of StyleCop.Analyzers improved
things for me - there appears to be improved support in that build.

On Mar 12, 2017 6:45 AM, "Nicklas Laine Overgaard" <notifications@github.com>
wrote:

[2017-03-12 21:30] ellismg commented on #5930
There is a very high probability that this was happening on a CI machine where `$HOME` is unset and NuGet null refs.  I've seen crashes like this before in that case.

[2017-03-12 23:58] qmfrederik commented on #5927
@jyoungyun Does this still work for you? I just tried with the latest version from cli/master.

Using this command:

[code]

I consistently get this failure:

[code]

Just wanted to make sure I'm not missing something obvious!

[2017-03-13 01:33] spboyer commented on #6014
@meligy - noticed that you are using zsh, have you tries using/testing in just terminal to isolate if this is just a zsh bug?

[2017-03-13 09:28] Meligy commented on #6014
Yes, just zsh. I ran `bash` inside Zsh and repeated the command and it worked just fine. I was able to find the templates listed after restarting the Zsh terminal and confirming with `dotnet new --help`.

I updated the issue title and description to reflect that.

[2017-03-13 09:31] dasMulli commented on #6014
@Meligy does `dotnet new --install "Microsoft.AspNetCore.SpaTemplates::*"` work?

[2017-03-13 09:35] Meligy commented on #6014
It seems to work yes.

I get the following error, but I also get it in bash, so, I expect it's because I have already installed the templates (not sure what's the flag to remove them).

At least both are giving the same output, and it seems to be doing something.

[code]

[2017-03-13 09:52] dasMulli commented on #6014
`error : Too many open files` => https://github.com/NuGet/Home/issues/2163
Looks like this didn't happen often because the CLI ships package cache archives but the templates performs a fresh restore.
(Workaround is `ulimit -n 512`)

[2017-03-13 13:06] dnano91 opened #6020 "Windows installer has poor dpi scaling"
## Steps to reproduce
Execute Installer on a Windows machine with a high resolution and dpi scaling turned on.
In my case 1080p and 125% scaling.

## Expected  behavior
Clean interface with sharp font

## Actual behavior
very blurry fonts during installation

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.1)

Product Information:
 Version:            1.0.1
 Commit SHA-1

[2017-03-13 14:02] RehanSaeed commented on #5988
Duplicate of https://github.com/dotnet/cli/issues/5977

[2017-03-13 14:08] ViktorHofer opened #6022 "dotnet restore places packages in default cache dir but VS2017 does not"
## Steps to reproduce
Visual Studio 2017 opening solution with .NET Core project in it.

## Expected  behavior
Visual Studio 2017 should place packages of .NET Core projects inside the default nuget cache directory as "dotnet restore" dotnet-cli does. Reference: https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-restore

## Actual behavior
Nuget packages get placed under "$project$

[2017-03-13 14:26] fleed commented on #5967
I'm facing the same issue. Any workaround?

[2017-03-13 15:23] omajid opened #6023 "Pushing out updates to https://dot.net/v1/dotnet-install.sh"
I made a change to the `dotnet-install.sh` script in master: https://github.com/dotnet/cli/commit/3fde06faf84161cf8b6d09a0be0ad16e059ec52d. What's the best way to get this changed pushed to the release branches and https://dot.net/v1/dotnet-install.sh?

It's a trivial change that doesn't affect existing operating systems but adds support for additional ones that are known to be backwards compatibl

[2017-03-13 15:40] atanasa commented on #5331
+1

As I see it, there should be an option to have the output of a build be the output of what you call "publish". I'd say that this should be the default behavior but that is debatable. As far as I understand it from reading the issues and documentation, this discrepancy is a workaround to speed up the build time of console apps (e.g. use the nuget cache to save on checksum calculations?!).

.Net

[2017-03-13 16:11] CornedBee commented on #5144
Also had this in a TFS build using Visual Studio solution task set to use VS2017 RTM. Making the transitive project references direct solved it, but seems suboptimal.

[2017-03-13 16:26] nguerrera commented on #6019
System.Runtime.Loader does not work on full .NET Framework. I don't understand why the package is authored as it is (it has an empty lib folder for net462).

@ericstj

[2017-03-13 16:31] jnevins-gcm commented on #6019
So the package is bugged?

And further - if you're publishing a nuget target of the netstandard1.5 framework (which is implemented by .NET 4.6.2), that framework target is bugged too, since you haven't added a platform requirement of CoreCLR.

Can you confirm these statements are correct?

[2017-03-13 16:46] omajid commented on #6023
cc @ellismg @tmds

[2017-03-13 16:54] ChristophB125 commented on #6010
@srini1978  I am trying to get code coverage working at the moment as well. Can you please share how you invoke dotnet test and which NuGet package you use for code coverage (I assume Microsoft.CodeCoverage).
Possible duplicate of #1995 ?

[2017-03-13 17:03] ericstj commented on #6019
An empty lib with a dll for ref is an indication of "not supported" which NuGet flags on install and restore.  https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/CompatibilityChecker.cs#L38-L58

[2017-03-13 17:06] jnevins-gcm commented on #6019
Nuget gave me no problem installing it via the package manager console for a 4.6.2 project. Further, see above points on lack of platform restriction

[2017-03-13 17:10] ericwj opened #6025 "`dotnet pack` takes dependency on package version 1.0.0 of a project dependency regardless of --version-suffix or <VersionSuffix>"
I have two projects in my solution which I want to `dotnet pack --version-suffix alphaXYZ` and push to a CI package source. That works. I get two packages in my feed with version 1.0.0-alphaXYZ.

However, I find that the package made from the project with a project reference to the other project will list version `1.0.0` in the package manifest, so after pushing and trying to take dependency on th

[2017-03-13 17:11] ericstj commented on #6019
How did you determine that it "supports" those versions.  It isn't part of the NETStandard.Library closure, the package just happens to use that tfm to share its reference asssembly between more than one framework.  Wether or not its actually supported relies on that ref/lib check I pointed out in NuGet's restore code.  Let me know with a specific link where you were led to believe it would suppor

[2017-03-13 18:09] jnevins-gcm commented on #6019
I understand the answer. What I don't understand then is why it let me add this package from my 4.6.2 project.

[2017-03-13 18:33] vijayrkn commented on #5934
@ralphking
I just tried this on VS 2017 RTW and seems to be working. It is excluding all the files (including sub directories) from wwwroot\images

[code]

If you are publishing from VS, please make sure to check this so that if the files are already present, they will be removed as well.

![image](https://cloud.githubusercontent.com/assets/3981619/23869594/bfb009d8-07e0-11e7-97b1-00f41e0f670d.png

[2017-03-13 18:45] ericstj commented on #6019
It's a side effect of NuGet's packages.config behavior.  It let the package install but doesn't provide the API.  This is because NuGet doesn't do the ref/lib check for packages.config.  All it sees is the lib placeholder and permits the package to install without providing anything.

We could do something in the package to explicitly block this (potentially a breaking change) but given we aren't

[2017-03-13 19:34] ravimeda opened #6026 "CLI build should not rely on Dockerfile within the repository"
## Steps to reproduce

Perform an official build.

## Expected  behavior
Rather than consuming (or maintaining) a Dockerfile within a repository, it is more efficient to specify the image name required through PB_DockerImageName variable in a build task, and let PipeBuild pull the appropriate image on behalf of the build.  Investigate the possibility of reusing the shared images in `microsoft/dotn

[2017-03-13 19:35] ravimeda commented on #6026
Corresponding issue for core-setup is https://github.com/dotnet/core-setup/issues/1719

[2017-03-13 19:39] livarcocc commented on #5991
Also, you should set your path to C:\Users[user]\Local Settings\Microsoft\dotnet. That's where the dotnet.exe lives.

[2017-03-13 19:42] livarcocc commented on #5993
@dsplaisted can you help out here?

[2017-03-13 19:50] dsplaisted commented on #6019
@ericstj This doesn't seem to be related to packages.config, I am able to install System.Runtime.Loader 4.3.0 into a project targeting .NET 4.6.2 that has opted into PackageReference style references.

[2017-03-13 20:10] ericstj commented on #6019
@dsplaisted that would indicate that NuGet dropped the ref/lib matching code from https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/CompatibilityChecker.cs#L38-L58 in their PackageReference restore implementation.  Either that or the warning/error is buried in restore tracing.

[2017-03-13 20:33] dsplaisted commented on #6019
@ericstj The System.Runtime.Loader package has a lib\net462 folder with a `_._` file in it.  Given that, would you expect an installation or restore failure for the package?

[2017-03-13 20:41] ericstj commented on #6019
Again, based on ref/lib mismatch we'd expect a failure in the compatibility checker code.  That's what happened in nuget3.

[2017-03-13 21:14] dsplaisted commented on #6019
@emgarten @rrelyea @natidea @eerhardt @nguerrera Based on what @ericstj is saying, it sounds like NuGet may no longer be checking that there is an implementation to match a reference assembly from a NuGet package.  Is this expected?

[2017-03-13 21:23] livarcocc commented on #5996
Yes, this is a known issue and we are discussing taking this fix for 2.0.

[2017-03-13 21:31] emgarten commented on #6019
That's correct, the guardrails checks for runtime assemblies is turned off for PackageReference. Publish should add support for verifying this where all the information is available.

[2017-03-13 21:32] dsplaisted commented on #6019
@emgarten Is there a bug filed anywhere to add this check to publish?

[2017-03-13 23:36] ericstj commented on #6019
I'm not sure we care so much about it moving forward.  The old packages that were designed for NuGet 3 relied on this (guardrails) behavior but the new packages for netcoreapp2.0 do not.

[2017-03-13 23:44] livarcocc commented on #5934
I updated my previous comment above about which glob to use. I didn't realize that github that processed it to appear different from what I had typed.

Also, follow up @vijayrkn instructions above and let us know if that works out for you.

[2017-03-13 23:46] livarcocc commented on #6008
@svick This is a stepping stone. Eventually, we would like to run restore behind the scenes not only for new, but for any command that requires it. This issue is simply tracking the first turn of the crank on this.

[2017-03-13 23:50] #6012 closed

[2017-03-14 02:16] xqrzd commented on #6025
I had a similar issue, the workaround [NuGet/Home#4337](https://github.com/NuGet/Home/issues/4337) worked for me.

[2017-03-14 02:27] alexsandro-xpt commented on #5513
Same with me

[code]

[2017-03-14 02:52] StenPetrov commented on #3199
I'm getting the same issue - .NET Core on .NET 4.6.1 referencing another project in the same solution (also targeted at .NET 4.6.1) outputs an error "unable to resolve... for .NETFramework, Version=v.4.6.1"

[2017-03-14 05:59] livarcocc commented on #6026
Will this work even if we don't use pipebuild?

[2017-03-14 06:00] livarcocc commented on #6026
Also, why shouldn't we have these images in the repo? We have had it so for close to 2 years now. What are the drawbacks from it? And the benefits to using the images from pipebuild?

[2017-03-14 06:01] livarcocc commented on #6023
@blackdwarf can you help @omajid.

We should talk about solving this problem in general.

[2017-03-14 06:02] livarcocc commented on #6022
@rrelyea @emgarten can you guys take a look? Any idea why this would be happening?

[2017-03-14 07:07] mrahhal opened #6028 "Cli tool throws exception when dispatching and calling into "PlatformAbstractions" APIs"
## Steps to reproduce
Repro repo [here](https://github.com/mrahhal/CliToolRepro).

I have a tool that needs to load the target project, which targets the full .Net framework. As a result, I should dispatch the execution to the context of the target tfm (so net46 for example), because cli tools are always executed in the context of "netcoreapp". Dispatching like this used to work perfectly in the p

[2017-03-14 07:35] emgarten commented on #6022
@ViktorHofer can you share the .csproj of the netcore project and the obj\project.assets.json file?

[2017-03-14 08:09] tmds commented on #6023
@livarcocc @blackdwarf This change is needed to automatically pick up the rhel install. Next to that, would it be possible to add a parameter to the script to specify the rid you want to install? This would bypass the /etc/os-release readout and make it possible to install runtimes which are not the default and runtimes not known to the script.

e.g. install portable linux:
[code]

[2017-03-14 08:50] dodedodo33 opened #6029 "dotnet restore packages.config support"
## Issue
### Situation
Since the dotnet sdk does not support EF6 edmx with code generation I set up a full .net class library project for my domain, which I reference from a asp.net project. In visual studio I added the EntityFramework package with the manage nuget packages interface. This setup the project correctly and the default Visual Studio nuget package restore works fine, with no build err

[2017-03-14 09:51] enigmahacker commented on #5528
I have downgraded from Microsoft.VisualStudio.Web.BrowserLink (1.1.1) to Microsoft.VisualStudio.Web.BrowserLink (1.0.1) and it solved my problem. VS2017 Asp.Net Core 1.1 project.

[2017-03-14 10:36] flieks commented on #5363
i'm having the same error
[code]

[2017-03-14 10:54] ChristophB125 opened #6031 "dotnet test produces console output that is not in sync with the test execution"
## Steps to reproduce
Have e.g. 3 MsTest tests that write to the Console for logging purposes, which is sometimes essential for understanding failures on build machines. The 2nd test fails and later on we want to see the test log of this test.
[TestMethod]
public void TestMethod1()
{
    Console.WriteLine("TestMethod1");
}
[TestMethod]
public void TestMethod2()
{
    Console.WriteLine("TestMethod2

[2017-03-14 12:06] AnkHansen opened #6032 "Dotnet CLI tool fails to build a solution that VS2017 has no problems building."
## Steps to reproduce
As my solution is a bit complex, it's hard to outline exact steps to reproduce.

I have a solution outlined as below - my real solution has more projects, but I think the small graph is enough to discuss from.

MySolution.sln
- FoundationClasses (x86, .Net Framework 4.5, csproj (legacy)
- BusinessLogic (x86, .Net Framework 4.5, csproj (legcay)
  - References foundation classe

[2017-03-14 12:10] ViktorHofer commented on #6022
Even better, I created a little sample project which shows what I experienced: https://github.com/ViktorHofer/vs17-package-test

What I noticed in my test solution:

1. Creating a netcore app and adding a nuget package --> no solution package dir created
2. Creating a netstandard app, adding another nuget package and referencing the netstandard app from the netcore app --> no solution package dir

[2017-03-14 13:38] AnkHansen commented on #6032
And... All this writing with myself let me to the conclusion, which I will keep here for reference.

The issue was that VS2017 uses another build chain (I suspect) than dotnet msbuild does.

Where VS 2017 uses the msbuild.exe that comes with Visual Studio 2017, dotnet msbuild uses assemblies in C:\Program Files (x86)\dotnet\sdk\1.0.1.

The final solution (which for now seems to be stable is)

- fi

[2017-03-14 13:39] paya-cz opened #6033 "[MIGRATION]: Issues with HttpClient when targeting .NET Framework with .NET Core console app"
## Steps to reproduce
See [the repo I created for this](https://github.com/paya-cz/vs2017-core-migration-bug). Open the solution in `VS2015` directory in Visual Studio 2017, import, compile. Browse to the `bin\Debug\net461\MigrationBug.exe` and run. The application crashes with `Could not load file or assembly System.Diagnostics.DiagnosticSource`.

You may also first change the referenced `System.

[2017-03-14 13:39] aensidhe opened #6034 "dotnet restore fails on ubuntu 16.04 if one of sources is v1 server"
## Steps to reproduce

Add a package from v1 server (e.g. teamcity server can expose nuget feed v1)
Contact me to get actual package and server. This is private info.

nuget.config:
[code]

project file:
[code]

## Expected  behavior

dotnet installs all packages: private from private feed, public from public feed. Like VS2017 does.

## Actual behavior

Lots of errors (with different package ids)

[2017-03-14 13:40] #6032 closed

[2017-03-14 14:01] ChristophB125 opened #6035 "'dotnet test --no-build' not working on Linux when binaries were compiled on Windows"
## Steps to reproduce
1.) Create a new MSTest or XUnit project (e.g. in VS2017) targeting NetCore (version does not matter) and optionally add the Nuget package Microsoft.TestPlatform.TestHost.
2.) Compile on Windows using the latest SDK: dotnet clean; dotnet restore; dotnet build; dotnet test
3.) Copy the whole project to Linux and run the test using the latest SDK for Linux from [here](https://w

[2017-03-14 15:28] omajid opened #6036 "What's the scheme for SDK urls?"
I am trying to modify the `dotnet-install.sh` script. One thing that's hard coded in there is the mapping from RID (computed from `/etc/os-release`) to package names (on https://dotnetcli.azureedge.net/dotnet/Sdk/). Currently that's not a problem, but if we let users provide RIDs as arguments (as suggested as one fix for (https://github.com/dotnet/cli/issues/6023), then we have to redo the mapping

[2017-03-14 16:02] livarcocc commented on #6014
Given that we have a workaround and that the actual restore issue is already tracked by NuGet, I am closing this one.

[2017-03-14 16:02] #6014 closed

[2017-03-14 16:03] gkhanna79 opened #6038 "Update host policy so that it uses full semver to pick the latest CLI"
The host, as required for non-SDK scenarios, has no need for implementing policies around how SDK should be resolved (version rollforward, for example) and should be decoupled from it. All of this logic (about which CLI SDK to consume, which version of SDK to pick, etc) is part of dealing with SDK and only lights up when SDK is present. Thus, this is a very SDK/CLI specific policy implemented in t

[2017-03-14 16:04] livarcocc commented on #6016
Moved the issue to the templating repo: https://github.com/dotnet/templating/issues/424.

[2017-03-14 16:04] #6016 closed

[2017-03-14 16:17] livarcocc commented on #6025
Closing in favor of the NuGet issue. Where this actually needs to be fixed.

[2017-03-14 16:17] #6025 closed

[2017-03-14 16:53] #6034 closed

[2017-03-14 16:53] aensidhe commented on #6034
It is some routing bug in our network, sorry.

[2017-03-14 17:01] jchannon commented on #2902
Anyone know if this has been fixed with the msbuild tooling?

[2017-03-14 17:19] muratg commented on #5961
@blackdwarf @livarcocc there's already interest, I think. Support folks investigating Antares issues for example could use something like this.

[2017-03-14 17:33] blackdwarf commented on #6035
/cc @codito

[2017-03-14 17:45] erensogut commented on #3964
I have a problem about installing Visual studio Code on mac enviroment.I can not work the debugger because it gives the error like
`The debugger cannot be installed. A required component, OpenSSL, is not correctly configured.
In order to use the debugger, open a terminal window and execute the following instructions.
See https://www.microsoft.com/net/core#macos for more details.`
Also there are a

[2017-03-14 17:50] bartonjs commented on #3964
@erensogut Did you follow the instructions at https://www.microsoft.com/net/core#macos?

[2017-03-14 17:51] livarcocc commented on #6029
dotnet restore does not support packages.config. Only csproj packagereferences.

cc @emgarten to confirm.

[2017-03-14 17:54] livarcocc commented on #6031
Moved over to microsoft/vstest repo.

[2017-03-14 17:54] #6031 closed

[2017-03-14 17:57] erensogut commented on #3964
@bartonjs Yes I did follow them but that did not work.:(

[2017-03-14 18:06] livarcocc commented on #6035
I don't believe dotnet test is supposed to work across machines like that.

If you want to run a test dll from one machine into another, you can use dotnet vstest <path_to_test_dll>.

Can you try that?

[2017-03-14 18:17] livarcocc commented on #6036
Can't you do the reverse mapping in this case?

We intend to use the RIDs for any new Distro we add, however, we have no plans to change the existing ones right.

Would the reverse mapping work for you? If so, I would like to close this.

[2017-03-14 18:24] omajid commented on #6036
Sure, I can look into doing the reverse mapping. One question, though. For something `dotnet-dev-rhel-x64....`, would a future rhel 8 version go as `dotnet-dev-rhel.7-x64`? Or would you then redo the scheme to have the `dotnet-dev-rhel-x64` point to the latest release?

[2017-03-14 19:44] niemyjski commented on #5937
This must have been a bug in the pre rtm build. I've changed this code since then so I can't really verify, but I'm not seeing this package creation issue in the final rtm.

[2017-03-14 19:44] #5937 closed

[2017-03-14 21:27] blackdwarf commented on #6005
/cc @livarcocc are we eval-ing the project these days when we add it to the solution?

[2017-03-14 21:40] ViktorHofer opened #6040 "[Feature Request] dotnet test on a solution"
While chatting on the dotnet gitter channel with another user we noticed that dotnet test on a solution file would help a lot in DevOps scenarios.

The feature proposal would look like this:
`dotnet test <path to sln>` --> all test class libraries (with the new csproj format) inside the sln would be tested.

I know that you are busy right now with the next release but justed wanted to discuss if t

[2017-03-14 21:59] omajid commented on #6023
@tmds I implemented your suggestion as https://github.com/dotnet/cli/pull/6037

[2017-03-14 22:22] emgarten commented on #6029
That is correct. We are considering adding packages.config restore support to dotnet restore, but it raises the question, should dotnet restore support projects that dotnet build and other commands do not? @livarcocc do you have any thoughts on the direction this should go?

[2017-03-14 22:38] dasMulli commented on #6040
Adding a VSTest target to the metaproj would probably improve test times for solutions with lots of test projects.
Currently using a [dedicated "ci build" project file](https://gist.github.com/dasMulli/69f5303aa79a8cd4060e44891c90fd2d) using `dotnet msbuild build.proj` to improve test time and find all the projects to test.
This would probably have to be done by the vstest team by adding target fi

[2017-03-14 22:56] blackdwarf commented on #6023
We will have to figure this out. Currently, the upload is a manual process so once @omajid PR is in, we need to get it to the dot.net location.

[2017-03-14 23:41] shanselman commented on #6010
@piotrpMSFT Did this ship with 1.0 or is this not done?

[2017-03-14 23:49] livarcocc commented on #6040
This is a dup of https://github.com/Microsoft/vstest/issues/411.

[2017-03-14 23:49] #6040 closed

[2017-03-14 23:51] livarcocc commented on #6010
I don't think this was explicitly done.

@codito @Faizan2304 Will this work out of the box because of vstest?

[2017-03-15 00:15] munyirik commented on #5144
Seeing this problem with released VS 2017 as well.

[2017-03-15 00:19] livarcocc commented on #5144
Can you share a repro of this issue? Does restoring/building through the command line work?

[2017-03-15 00:33] munyirik commented on #5144
Found out what I was doing wrong. I was thrown off by the error message...

Error		Cannot find project info for ... This can indicate a missing project reference...

My problem was that I was targeting net452 in the class library I was referencing in a asp.net core app targeting netcoreapp1.1. I'd expect a 'mismatch' error instead.

[2017-03-15 00:34] livarcocc commented on #5144
Please, file an issue for the better error message at dotnet/sdk repo.

[2017-03-15 00:39] dsplaisted commented on #5988
Closing this issue in favor of #5977

[2017-03-15 00:39] #5988 closed

[2017-03-15 00:43] ChristophB125 commented on #6035
@livarcocc I get the exact same error and hanging behaviour when using vstest and pointing it to the dll of the test project.
The reason why I want to use it this way is: Only the Windows CI machines are building and publishing the assemblies and then the tests should be run on Linux using those assemblies. This way we can be sure that the tests test a system that behaves the same as if it was in

[2017-03-15 00:45] dsplaisted commented on #5723
We don't have any immediate plans to do this.  We don't support the same scenario on Windows either- ie using the full .NET Framework version of MSBuild when you invoke a `dotnet` command.

I think that you should be able to use Mono's MSBuild to build SDK-style projects, and that would probably address what you're looking for.  @mhutch, is it possible to do this today, and if so what do you need

[2017-03-15 01:24] WildBamboo commented on #6033
Current workaround for us is to explicitly depend on `System.Net.Http` version `4.3.1` which got us back up and running.

[2017-03-15 02:04] emgarten commented on #6022
packages.config based projects still use the solution directory, this is expected.

UWP project.json will use the same global packages folder as netcore projects.

Note that dotnet CLI only supports NETCore projects. It does not support UWP project.json or packages.config projects.

[2017-03-15 03:17] masaeedu commented on #1201
@livarcocc I don't really understand what you mean. If you've added a "dotnet test debug experience", how is a user supposed to invoke it? I'd imagine there's some command line flag or options you have to pass to `dotnet test`, but I can't see this documented anywhere.

[2017-03-15 03:38] livarcocc commented on #6036
We would only change these RIDs if rhel.8 turns into a brand new RID for the CLI/CoreFX. In which case we would have rhel-x64 and rhel.8-x64.

[2017-03-15 04:26] livarcocc commented on #1201
What I mean is that you can do that in VS, but not in the command line.

[2017-03-15 04:28] livarcocc commented on #5967
We have fixed this in migrate for version 1.0.0 of the CLI, where we don't add the runtime identifiers anymore.

[2017-03-15 04:29] livarcocc commented on #5934
@ralphking I am closing this issue. If this is still not working for you, please re-activate.

[2017-03-15 04:29] #5934 closed

[2017-03-15 04:39] ravipal commented on #5967
My project didn't have runtimeidentifier. Please reopen the issue.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Livar <notifications@github.com>
Sent: Tuesday, March 14, 2017 9:28:37 PM
To: dotnet/cli
Cc: Ravikumar Palanisamy; Author
Subject: Re: [dotnet/cli] Mismatch between processor architecture. (#5967)

Closed #5967<https://github.com/dotnet/cli/issu

[2017-03-15 04:47] theShiva commented on #4683
Hello, I'm getting this error too, as of March 14th 2017.

The most baffling this is that, I had a Web API Project called CityInfo.API, that was working as of Feb 19th 2017. I didn't change anything, it was sitting in my VM.

Today, when I opened the Project in Visual Studio 2015, I got the following dialog / Message.

![image](https://cloud.githubusercontent.com/assets/1057194/23934035/bb0c9e80-0

[2017-03-15 05:09] chrishaly commented on #5993
same issue

[2017-03-15 05:17] livarcocc commented on #4683
@theShiva my guess is that you installed a new CLI (1.0.1) and you are trying to open a project without global.json pinning the version of the CLI to what you need for VS2015 (preview2). So, add a global.json to the root of your repo, with

[code]

Basically, VS2015 only works with CLI preview2.
VS2017 needs at least CLI 1.0.0.

[2017-03-15 05:27] livarcocc commented on #5967
Can you share your original project.json?

I am not aware of a AMD64 runtime. AFAIK, these are the RIDs supported by .NET Core: win7-x64;win7-x86;osx.10.10-x64;osx.10.11-x64;ubuntu.14.04-x64;ubuntu.16.04-x64;ubuntu.16.10-x64;centos.7-x64;rhel.7.2-x64;debian.8-x64;fedora.23-x64;fedora.24-x64;opensuse.13.2-x64;opensuse.42.1-x64.

[2017-03-15 05:38] dsplaisted opened #6042 "On Linux and Mac, use Mono to run apps targeting .NET Framework"
When on a non-Windows platform, `dotnet run` should use Mono (if available) to run apps that target .NET Framework.

There's no separate target framework identifier for Mono, it just uses .NETFramework.  So it makes sense to use Mono to run these apps.

The implementation of this may involve simply changing the `RunCommand` and `RunArguments` properties that the .NET SDK sets.

[2017-03-15 05:40] dsplaisted opened #6043 "Allow .NET Core apps to optionally be run using the Mono runtime"
The Mono runtime should support running .NET Core apps.  @migueldeicaza would like a switch in `dotnet run` to run apps targeting .NET Core using the Mono runtime.

Related: #6042

[2017-03-15 05:47] benaadams commented on #6042
Rounds out the ecosystem nicely

[2017-03-15 05:52] am11 opened #6044 "Clarification on dotnet restore in solution with mixed old/new CSPROJ schema based projects"
`dotnet restore` in solution directory restores the dependencies of all the ".NET Core" projects in the solution. It does not restore the non-NetCore ones in the solution (the ones which are using old CSPROJ format with packages.config to enlist their dependencies).

`nuget restore` (where NUGET is v3.4, v3.5 or v4.0) in solution directory only restores the dependencies of non-NETCore projects, bu

[2017-03-15 05:55] benaadams commented on #6043
Makes sense and good for testing 👍

[2017-03-15 06:29] mairaw commented on #5934
I was trying to see if the MSBuild reference had those options but it doesn't seem to have all of them:
https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-items.

I'll open an issue in their repo for this.

/cc @kempb

[2017-03-15 07:44] dodedodo33 commented on #6029
So if I understand correctly, what I'm trying to do is just not supported. I want to use EF's entity designer interface (database first), which is not supported in the .net core class library projects (with "net452" set as framework). This crashes when adding the EntityFramework edmx to the project. So I reverted to using a standard class library project. But then not only is the dotnet restore no

[2017-03-15 08:28] 15949893621 commented on #3964
@nbellocam I did follow you  but that did not work.
1.  tuorungongsideMacBook-Air:~ tuorungongsi$ brew uninstall openssl
Uninstalling /usr/local/Cellar/openssl/1.0.2k... (1,696 files, 12MB)
2.  tuorungongsideMacBook-Air:~ tuorungongsi$ sudo chown -R whoami /usr/local
chown: whoami: illegal user name

The problem is ：
tuorungongsideMacBook-Air:~ tuorungongsi$ brew install homebrew/versions/openssl1

[2017-03-15 08:51] joacar commented on #5513
@alexsandro-xpt This happens to me after every update. So fix the order of that paths in the environment variable and everything should start working

[2017-03-15 09:06] ViktorHofer commented on #6022
Alright that makes sense! Thanks for pointing out. I will close this as it is not an issue.

[2017-03-15 09:06] #6022 closed

[2017-03-15 09:35] ViktorHofer commented on #5457
I also hit that issue with Xamarin.Forms beta package. If i use the full blown msbuild instead of the dotnet build lightweight msbuild version it all works fine.

[2017-03-15 10:25] dasMulli commented on #5457
Looks like it is using a PCL tasks assembly. My best guess is that PCL compatibility facade assemblies would need to be deployed with the CLI's msbuild for that to work - which is nontrivial https://github.com/Microsoft/msbuild/issues/1542.
@idkiller did you just add some 2.0.0-* packages from myget or did you install and use a CI build of the CLI? if something could make it work, it's a 2.0.0-* C

[2017-03-15 11:26] omajid commented on #6036
I see. So the download links would be `rhel-x64` and `rhel.8-x64` even if the RIDs are `rhel.7-x64` and `rhel.8-x64`. Got it.

Thanks.

[2017-03-15 11:26] #6036 closed

[2017-03-15 11:31] omajid commented on #6023
@blackdwarf What's the process to get both of https://github.com/dotnet/cli/commit/3fde06faf84161cf8b6d09a0be0ad16e059ec52d and https://github.com/dotnet/cli/commit/46a1d6f41ed12eba8703057b4b8f0c5e28628c99 backported and pushed to the `rel/1.0.0` branch as well as https://dot.net/v1/dotnet-install.sh? Should I open a separate PR against `rel/1.0.0` and the sync is done later?

[2017-03-15 12:22] CXuesong commented on #2677
Hi, I come across a similar problem in VS 2017. Suppose I have two .NET standard projects: `ProjectA` and `ProjectB`, and `ProjectB` has a reference to `ProjectA`. If I change the package name of `ProjectA` in csproj (e.g. set `PackageId` to `AwesomeProjectA`), and pack `ProjectB`, the resulted nuget package `ProjectB.1.1.0.nupkg` still has a dependecy to `ProjectA` rather than `AwesomeProjectA`,

[2017-03-15 13:38] cwe1ss commented on #4765
Could you add stuff like this to e.g. https://docs.microsoft.com/en-us/dotnet/articles/core/migration/ or could you create something like [aspnet/Announcements](https://github.com/aspnet/Announcements) where you post breaking changes (as they come up)? Right now, everyone just has to trial&error his build script which is a bit annoying :cry:

[2017-03-15 14:58] michael-x commented on #4874
Any update on this?

[2017-03-15 15:26] ChristophB125 commented on #6035
Note that not only MSTest but also XUnit projects suffers from the same issue as well.

[2017-03-15 16:19] blackdwarf commented on #6023
@omajid it is manual at this point. Once these are in I or @livarcocc will add the deltas and get the location updated. Are the PRs merged?

[2017-03-15 16:52] livarcocc commented on #6044
@am11 How does the build of such solution work? I am interested to learn more about these mixed solutions. Yours is the second issue we got about restore supporting packages.config, but when the other CLI verbs do not support old csproj style, it is not clear to me why support it from one verb if the other won't.

cc @emgarten

[2017-03-15 17:25] ravipal commented on #5967
This is the content of project.json

{
  "dependencies": {
    "Microsoft.ApplicationInsights.AspNetCore": "1.0.0",
    "Microsoft.AspNetCore.Diagnostics": "1.0.0",
    "Microsoft.AspNetCore.Mvc": "1.0.0",
    "Microsoft.AspNetCore.Razor.Tools": {
      "version": "1.0.0-preview2-final",
      "type": "build"
    },
    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
    "Microsoft.AspNetCo

[2017-03-15 17:26] ravipal commented on #5967
Sorry, accidentally closed.

[2017-03-15 17:49] am11 commented on #6044
@livarcocc,

We have different teams working on varied class library projects. Our repo has `git submodule` association with those, as our project depends on those libs and we compile all projects from source. Not all teams have their repos upgraded to the new csproj format.

In our SLN, we have included the old-csproj projects (from submodule directories) and our .NET Core app + an additional .NE

[2017-03-15 18:19] tpluscode commented on #2676
@piotrpMSFT so how does one pass build parameters to `dotnet pack` command?

[2017-03-15 19:13] xqrzd commented on #6007
Just tried the latest 2.0 preview tools, and the problem is fixed, so I think this can be closed. It can be re-opened if the problem needs to be fixed before 2.0.

[2017-03-15 19:13] #6007 closed

[2017-03-15 19:14] livarcocc commented on #6029
Supporting old style csproj files is not in scope for the CLI.

@bricelam Do we intend to add support to dotnet core to the EF designer interface in VS?

[2017-03-15 19:17] emgarten commented on #6044
@am11 you only need to run ``nuget.exe restore``, it restores everything ``dotnet restore`` and it also restores packages.config.

[2017-03-15 19:31] am11 commented on #6044
@emgarten, you are right, Just clicked on the link and tested it worked! 😮 I thought I have nuget 4 in path (aliased nuget40), but it was actually pointing to  nuget 3.5 😢

[code]

Thanks a lot! 👏

[2017-03-15 19:31] #6044 closed

[2017-03-15 20:46] nguerrera opened #6046 "Local build failure of this repo due to a parallelism issue"
## Steps to reproduce

Checkout master and build on Windows with all RTM bits

## Expected  behavior

Build succeeds

## Actual behavior

Build fails wtih

[code]

@eerhardt was hitting this too and gave me this patch to get past it.

[code]

[2017-03-15 21:25] nguerrera commented on #6046
Works fine with latest. :)

[2017-03-15 21:25] #6046 closed

[2017-03-15 21:28] ellismg opened #6047 "dotnet new library writes files with Unix line endings when run on Windows."
## Steps to reproduce

[code]

## Expected  behavior

The generated files are written with DOS line endings and render correctly in Notepad.

## Actual behavior

The generated files are written with Unix line endings and appear as one giant line in Notepad.

## Environment data
`dotnet --info` output:

[code]

[2017-03-15 21:49] ellismg commented on #6047
Ahh, looks like this is dotnet/templating#350.  I will +1 this bug.

[2017-03-15 21:49] #6047 closed

[2017-03-15 22:10] livarcocc commented on #6026
@ravimeda Is this something that you guys can make a PR for? Or point me to a similar PR on another repo? Like core-setup?

[2017-03-15 22:14] bricelam commented on #6029
Not the Entity Framework 6 Tools for Visual Studio, no. But we have aspnet/EntityFramework#1027 about creating a new designer for EF Core.

The two existing EF Core-compatible designers that I know about are:
* [LLBGen Pro](http://llblgen.com/)
* [Devart Entity Developer](https://www.devart.com/entitydeveloper/)

We've considered adding CPS-based csproj support to the EF6 PMC commands (aspnet/Enti

[2017-03-15 22:16] livarcocc commented on #6029
@dodedodo33 Like I said, it is not in the plans for the CLI to supported legacy style csproj, so in this case, I would suggest you continue using VS 2017.

[2017-03-15 22:16] #6029 closed

[2017-03-15 22:56] DmitrySikorsky opened #6049 "Wrong dependency versions in the NuGet package after 'dotnet pack' if the project hasn't been rebuilt before"
## Steps to reproduce

0. You are using VS2017 and .csproj files.

1. Let's say you have ProjectA version 1.1.1 that has dependency (project dependency with no version specified) to the ProjectB version 1.1.1. You rebuild them and everything is fine.

2. After that you remove 'bin' and 'obj' folders, open the .csproj files and change (manually, in a text editor) VersionPrefix to 1.1.2. Then run 'd

[2017-03-15 23:16] livarcocc commented on #6049
Have you run dotnet restore again after changing the versions?

Dotnet pack uses information based on your project.assets.json file that gets updated only when you run dotnet restore.

In any case, @rohit21agrawal @mishra14 can you guys take a look?

[2017-03-15 23:19] DmitrySikorsky commented on #6049
No, I didn't. But I didn't run it before too, when used project.json. And it worked as excepted.

[2017-03-15 23:46] livarcocc commented on #5967
@ravipal I just tried this out and it all worked out.

Here is my project.json:

[code]

And here is the migrated csproj:

[code]

In both cases dotnet restore/run succeeded and the page loaded with problems.

I also checked the package that you mentioned above and in nuget.org I can see that it targets net45 and not AMD64.

I wonder if by any chance you had a pointer to a private version of this

[2017-03-16 00:03] mishra14 commented on #4765
@rohit21agrawal

[2017-03-16 01:20] ravipal commented on #5967
I tried it again after clearing the local nuget cache. Still I ran into the same issue. I didn't run 'dotnet restore' instead opened the project in VS that migrated and then built.

Can you please try the steps I mentioned in the build. Or skip the first 3 steps and use the project from \\scratch2\scratch\ravipal\share\5967

[2017-03-16 03:46] geminiyellow opened #6051 "how to do the version manage"
## Steps to reproduce

is there dotnet version manager like the nvm/rvm or *vm?
i found the `aspnet/dnvm` but it is ** OBSOLETE** , and the REAMME link is point to this project.
but no command like the `upgrade` or `use version` .

## Expected  behavior

i wish swith dotnet version between latest and stable, but i cannot find option in current cli

## Environment data
`dotnet --info` output:

.NET

[2017-03-16 05:02] livarcocc commented on #6051
There is no version manager for the CLI today.

However, all CLI versions work side-by-side. So, install as many versions as you want and you get them all.

The CLI will default to the latest release version that you have install. Baring that, it follows semantic versioning for preview versions.

If you want your project(s) to use a specific version, you can create a global.json file at the root o

[2017-03-16 05:02] #6051 closed

[2017-03-16 06:07] JamesNK commented on #5504
When is 2.0 expected to be out? This feature is the one thing blocking me from adopting dotnet cli completely with `Newtonsoft.Json`.

[2017-03-16 09:27] blackcity commented on #5993
Same here. We switched back to VS2015 because we need to support NET4 targets.

[2017-03-16 11:46] CodesInChaos commented on #3093
How about checking `HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\DataCollection\AllowTelemetry` and disabling telemetry when it exists and is `0` in addition to your product specific opt-out? Users who don't want Windows telemetry almost certainly don't want .NET telemetry either.

[2017-03-16 12:36] svallis opened #6052 "Locale warnings during MVC Core application publish process"
## Steps to reproduce

An ASP.NET Core MVC application that self-publishes within its own Docker image based on `microsoft/dotnet:1.1.1-sdk` and sets its locale information using the following commands:

[code]

## Expected  behavior

Publish without errors or warnings.

## Actual behavior

The following warnings, which seem to occur once per project:

[code]

They are just warnings, and I haven't

[2017-03-16 12:49] hardhub commented on #3093
@CodesInChaos, .Net Core can run on Linux...
And I personally think some flag wherever is bad idea... as well as any assumptions...
User should be able to control all in obvious way.

[2017-03-16 13:42] vcsjones commented on #3093
@hardhub

[2017-03-16 14:01] psulek commented on #4683
@livarcocc Thanks a million times! This helps me a lot!

[2017-03-16 15:15] dodedodo33 commented on #6029
@livarcocc Thanks for clarifying, I've found some work arounds to make it work in my build agent. I'll keep using this environment 'till EF core catches up :)

[2017-03-16 17:05] livarcocc commented on #6052
@MichaelSimons I am not sure this has anything to do with the CLI.

[2017-03-16 17:28] Leonardo-Ferreira commented on #5765
Well... that does solved the "dotnet ef" issue, but now i'm getting a "project.json file does not exists"... i'm using VS for mac by the way

[2017-03-16 18:28] MichaelSimons commented on #6052
@svallis, what does your Dockerfile look like and what does the output of the build look like?  Do you see a warning generated from the `ENV LC_ALL en_GB.UTF-8` command?  I suspect that your locale is not configured correctly for `en_GB.UTF-8`.

[2017-03-16 18:54] svallis commented on #6052
Apologies if it's in the wrong place, hard to know exactly where the issue is coming from, but as the warning appears once per project compiled, and interspersed between the beginning and end of the `dotnet publish` command this was my best guess.

@MichaelSimons Dockerfile:

[code]

The entire output from a `docker build` is rather verbose, but the bits that relate (i.e. setting the environment v

[2017-03-16 19:13] svallis commented on #6052
Dropping the `ENV LC_ALL en_GB.UTF-8` line while leaving `ENV LANG en_GB.UTF-8` and `ENV LANGUAGE en_GB:en` in place seems to maintain the locale correctly and stop the warnings. Why that line caused the warnings within the build/publish process, I'm not sure. It seems in this case that the line was superfluous though, so I'm happy enough assuming I don't bump into any unwanted side effects. Thank

[2017-03-16 19:15] MichaelSimons commented on #6052
@svallis, I don't think `ENV LC_ALL en_GB.UTF-8` is working correctly.  Build and run the following Dockerfile:

[code]

When I do, I see this immediately after running - 'bash: warning: setlocale: LC_ALL: cannot change locale (en_GB.UTF-8)'.  I believe this is the underlying issue that is surfacing during `dotnet build`  I am not an expert in changing the locale on Debian but from what I was read

[2017-03-16 19:19] MichaelSimons commented on #6052
Updated Dockerfile to include setting LANGUAGE and LC_ALL.

[2017-03-16 19:21] svallis commented on #6052
@MichaelSimons Understood and agreed. Appreciate your help, thanks.

[2017-03-16 19:24] livarcocc commented on #6052
Can we close this issue? Thanks for looking @MichaelSimons

[2017-03-16 19:39] livarcocc commented on #5105
I tried this out just now and it all restore and built successfully for me using CLI 1.0.1. I am closing this issue. If this still repros for you, please re-activate and add additional details to the bug.

[2017-03-16 19:39] #5105 closed

[2017-03-16 19:41] livarcocc commented on #5531
@julielerman since we have not heard back and you seem to be unblock, I am closing this issue.

[2017-03-16 19:41] #5531 closed

[2017-03-16 19:50] livarcocc commented on #5659
Is this similar to https://github.com/Microsoft/vstest/issues/599? This is something that needs to be enabled in the test platform.

[2017-03-16 19:51] livarcocc commented on #5697
We have made a change where E2E tests in the CLI will run against whatever CLI was used to run dotnet test verb itself, this way it is clearer to the person running the test which CLI it is using.

[2017-03-16 19:51] #5697 closed

[2017-03-16 19:51] livarcocc commented on #5718
@enricosada Is there anything left for this? Can we close?

[2017-03-16 19:52] eerhardt commented on #5659
This is strictly about cleaning up our help text to make things more clear.

[2017-03-16 19:53] enricosada commented on #5718
@livarcocc everything is awesome!
Thx a lot everyone for help!

[2017-03-16 19:53] #5718 closed

[2017-03-16 19:53] livarcocc commented on #5724
Yes. VS 2017 is the only one that supports the new csproj format that is also what the CLI uses.

[2017-03-16 19:53] #5724 closed

[2017-03-16 19:59] livarcocc commented on #5730
We have aligned the version of the installers and the installer dialogs with the version of the CLI itself for 1.0.0 and 1.0.1.

The changes to the host are being discussed here: https://github.com/dotnet/core-setup/issues/1593.

Closing this one.

[2017-03-16 19:59] #5730 closed

[2017-03-16 20:03] livarcocc commented on #5740
This will be fixed by https://github.com/dotnet/cli/pull/5875.

[2017-03-16 20:08] livarcocc commented on #5747
Are you trying to build/run the solution or are you ok if you build and run a particular project in that solution?

If you are running into issues when building/running a project, it would be useful if you could share the csproj file here so that we can see if it is compatible with the CLI.

The CLI only supports the new csproj format and won't work with legacy ones.

Since we haven't heard back i

[2017-03-16 20:08] #5747 closed

[2017-03-16 20:09] 9swampy commented on #5724
Yeah, haven't got back to the tests yet but have converted to 2017 & all's looking good. Nice work :)

[2017-03-16 20:11] livarcocc commented on #5733
We have release 1.0.1 of the CLI a couple of weeks ago.

We have a dotnet migrate command on the CLI that converts your project.json projects to csproj. Also, the latest preview of VS for MAC supports this new csproj format. Though, it is in preview for them.

[2017-03-16 20:11] #5733 closed

[2017-03-16 20:17] livarcocc commented on #5750
We are no longer actively supporting the project.json based tools and we have relasead a 1.0 version of the msbuild based tools, I suggest that you migrate your projects to that using the dotnet migrate command and try again.

If that still fails for you, please re-activate this issue with details about how it is failing.

[2017-03-16 20:17] #5750 closed

[2017-03-16 20:21] livarcocc commented on #5763
We are no longer actively supporting the project.json based tools. We have release a 1.0 version of the msbuild tools and we provide a dotnet migrate command to convert your project.json projects to csproj.

Can you try moving to the new tooling and trying this again?

If this still repro in the new version of the tools, please re-activate and gives us details about the issues you are seeing.

[2017-03-16 20:21] #5763 closed

[2017-03-16 20:24] livarcocc commented on #5767
Can you move your projects to the new csproj based tooling that was release as 1.0 a few weeks ago and try this again?

We are no longer actively support the project.json based tooling and the project.json tooling for VS2015 was a preview only.

[2017-03-16 20:24] #5767 closed

[2017-03-16 20:26] livarcocc commented on #5770
Moved this to nuget/home.

[2017-03-16 20:26] #5770 closed

[2017-03-16 20:38] livarcocc commented on #5792
you don't want these assemblies in the publish output of your project? Is that correct? Are they package references?

If so, you can set the metadata <PrivateAssets>All</PrivateAssets> in your package reference and the package won't be output during publish.

Re-activate if this is not what you are looking for.

[2017-03-16 20:38] #5792 closed

[2017-03-16 20:40] julielerman commented on #5531
sorry about forgetting about this.  I moved onto RC4, RTM etc. Thanks! :)

[2017-03-16 22:00] #6052 closed

[2017-03-16 22:29] piotrpMSFT commented on #6010
This issue was moved to Microsoft/vstest#621

[2017-03-16 22:29] #6010 closed

[2017-03-16 22:31] livarcocc commented on #5897
This issue was moved to dotnet/core-setup#1758

[2017-03-16 22:31] #5897 closed

[2017-03-16 22:46] livarcocc commented on #5926
This looks like the project.json tooling for VS 2015, which we are not actively supporting.

Please try VS 2017.

[2017-03-16 22:46] #5926 closed

[2017-03-16 22:48] livarcocc commented on #5931
@MaticLeva if @dasMulli suggestions does not fix your problem, please re-activate this issue with more information about the problems you are running into.

[2017-03-16 22:48] #5931 closed

[2017-03-16 22:55] mairaw commented on #5740
@spboyer actually fixed this one with #5741. Closing.

[2017-03-16 22:55] #5740 closed

[2017-03-16 22:55] xperiandri commented on #2216
I get the same error when I publish multi target project from VS 2017 RTM
[code]

csproj
[code]

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\Microsoft.NET.Sdk\buildCrossTargeting\Microsoft.NET.Sdk.targets(31,5): Error : The 'Publish' target is not supported without specifying a target framework. The current project targets multiple frameworks, please specify the fr

[2017-03-16 22:56] mairaw commented on #5388
This was resolved with PR #5741. Closing.

[2017-03-16 22:56] #5388 closed

[2017-03-16 22:59] hazemusa commented on #5185
I am a bit new to this so I appreciate some help!

In the current 2017 RC1, I am getting the following:

Error		RuntimeIdentifier must be set for .NETFramework executables.
Consider RuntimeIdentifier=win7-x86 or RuntimeIdentifier=win7-x64.	MusicStore	C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.RuntimeIdentifierInference.target

[2017-03-16 23:08] xperiandri commented on #2216
Why do I come here?
https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/buildCrossTargeting/Microsoft.NET.Sdk.targets#L31
Why VS does not use `<PublishFramework>net462</PublishFramework>` from `pubxml`?

[2017-03-16 23:14] livarcocc commented on #2216
@mlorbetske do you know where this bug should go? It seems to me that VS should use the TFM from the publish profile when invoking the publish target.

[2017-03-16 23:18] livarcocc commented on #5930
Like Eric said, that code has changed when we moved to csproj based tooling. But, you can either set the skip flag to not use that code path (though I suspect it will simply fail further down the road) or check @ellismg suggestion above. We have run into this in a few cases as well where we needed to set $HOME.

[2017-03-16 23:18] #5930 closed

[2017-03-17 00:58] eerhardt commented on #5954
This is fixed in .NET Core 2.0. It is not available in VS 2017 RTM, but will be in the next release.

See https://github.com/dotnet/sdk/issues/120

[2017-03-17 00:58] #5954 closed

[2017-03-17 01:44] mlorbetske commented on #2216
This should go to the WebSDK, I'll move it there

[2017-03-17 01:46] mlorbetske commented on #2216
This issue was moved to aspnet/websdk#155

[2017-03-17 04:24] livarcocc commented on #5789
We have handled this by now.

[2017-03-17 04:24] #5789 closed

[2017-03-17 04:26] #5666 closed

[2017-03-17 04:41] livarcocc commented on #2776
@mellinoe I just tried this in 1.0.1 and I hit the same thing, except that when I published the app and run it using dotnet <dll> it exhibited the same delay there. So, wondering if that's an issue with dotnet.exe, since that's also what we use during dotnet run.

I will move this issue to core-setup.

[2017-03-17 04:41] livarcocc commented on #2776
This issue was moved to dotnet/core-setup#1762

[2017-03-17 04:41] #2776 closed

[2017-03-17 04:47] #5916 closed

[2017-03-17 04:51] livarcocc commented on #5974
ping @dazhao-msft @stevelasker @MichaelSimons

[2017-03-17 04:53] livarcocc commented on #6005
Dup of https://github.com/dotnet/cli/issues/5900.

[2017-03-17 04:53] #6005 closed

[2017-03-17 04:55] livarcocc commented on #5895
We are not actively supporting project.json tooling anymore. The msbuild based tooling should give you as good diagnostics as msbuild does.

[2017-03-17 04:55] #5895 closed

[2017-03-17 04:56] livarcocc commented on #5883
Done.

[2017-03-17 04:56] #5883 closed

[2017-03-17 04:57] livarcocc commented on #5880
Also, it seems you are using project.json based tooling. Please, migrate your project to csproj and use the 1.0 version of the tooling.

We are no longer actively support project.json.

If this still repros with the new tooling, then please re-activate and if possible share your csproj.

[2017-03-17 04:57] #5880 closed

[2017-03-17 06:37] NCC1701M opened #6056 "Feature: dotnet add should handle a list of packages"
## Steps to reproduce
Type in your console the following:
`dotnet add package Microsoft.AspNetCore.Routing Microsoft.AspNetCore.StaticFiles`

## Expected  behavior
The CLI should install both packages at once.

## Actual behavior
Receiving the following error:
`Please specify one package reference to add.`
For each package you like to install you have to call `dotnet add package <PACKAGE>`. This i

[2017-03-17 07:44] StefH commented on #5747
I have the same issue in my project (https://ci.appveyor.com/project/StefH/simmetrics-net/build/1.0.2.3 / https://github.com/StefH/SimMetrics.Net/blob/_vs2017/appveyor.yml)

I get the error message like:

[code]

[2017-03-17 10:59] liuzexiazbx commented on #4683
how to resolve this problem?can you give me a detail ways,thanks