[2016-05-29 19:54] PatrickMcvay commented on #3064
Ok for the people that don't have the Microsoft Dotnet CLI for Windows on their machine. This is what I did and it seemed to fix the problem. Close Visual Studio, Open it again, Open the .NET core project, Go to the link to download when the error modal pops up, Download it again even if you already have it. Once done click run and then click repair. It should fix the problem for the moment, next

[2016-05-30 01:06] Michael-D-Pine commented on #3065
I am pretty sure given my experience that CNTLM will not fix this issue as I stated I could not get that to solve my problem I had to get myself added on our internal group which basically allows anonymous proxy authentication which solves the problem. However maybe I was just missing some settings/configurations to Cntlm to solve the problem, i.e how to configure Visual Studio/dotnet restore to u

[2016-05-30 06:55] macgyver76 commented on #3103
`"dotnet-test-xunit": "1.0.0-rc2-*"` works for me as well.

[2016-05-30 07:12] dneimke opened #3288 "Packages config is not respected"
## Steps to reproduce

Add the following configuration to global.json

`{
  "projects": [ "src", "test" ],
  "packages": "dotnet_packages",
  "sdk": {
    "version": "1.0.0-preview1-002702"
  }
}`

Restore packages
## Expected  behavior

Packages should restore to the specified path (dotnet_packages) in the root folder of the solution
## Actual behavior

Packages are restored to %userprofile%.nuge

[2016-05-30 07:29] davidfowl commented on #3206
I'd file an issue on https://github.com/dotnet/corefx. Looks like NETStandard.Library is broken on packages.config based projects.

[2016-05-30 07:31] davidfowl commented on #3130
It's likely a couple of things:
- Roslyn is slower because of R2R with missing generics
- There are things going on in VS when running IIS to make dynamic compilation work (we'll need to profile this).

[2016-05-30 07:35] davidfowl commented on #3218
The storage SDK now properly supports netstandard.

Not sure. I'll see what I can find out.

[2016-05-30 09:19] tatalvit commented on #3130
Is this odd? By setting web.config <compilation profileGuidedOptimizations="None" /> seems to improve browser to respond MVC changes somewhat 1 second

[2016-05-30 16:04] tomciaaa commented on #3185
I seem to be getting the same error on debian stable+unstable (again, with the Hello World app):

[code]
[code]
(It doesn't actually dump any of the stacktrace annyoingly)

I also had trouble even getting it this far, as previously it wouldn't run because of missing libcurl, and I had to install that:
[code]
After getting rid of the unstable version and installing the one from stable it got going

[2016-05-30 16:42] kakins commented on #3064
@PatrickMcvay I had the same issue not finding the Microsoft Dotnet CLI for Windows in Programs and Features.  However, I did close VS and reopened the project.  The packages began to restore and then everything built, the error went away.  I guess I should've thought about trying a package restore, but I'm just still getting used to the newness of everything :)  Thanks all

[2016-05-30 16:59] zigzag95 opened #3289 "windows authentication NTLM"
Hello,
How to enable windows authentication.

I used to use

 var listener = app.ServerFeatures.Get<WebListener>(); if (listener != null) { listener.AuthenticationManager.AuthenticationSchemes = Microsoft.Net.Http.Server.AuthenticationSchemes.NTLM; }

But listener is null when running from console dot net run
and It's not null when running from VS

[2016-05-30 17:18] GuardRex opened #3290 "Point-in-time Regression? ... or is DotNetHostPolicy not enough?"
## Steps to reproduce
My self-contained test project restores, compiles, publishes, and runs as an `rc2-final` app with feed ...
[code]
Problem occurs if the feed is set to `aspnetvnext` ...
[code]
... which worked a few days ago.

If this is not a point-in-time regression, then I'm wondering if it is related to my minimal use of `NETStandard.Library` + `Microsoft.NETCore.DotNetHostPolicy` to get

[2016-05-30 18:01] schellap commented on #2351
Fixed by https://github.com/dotnet/cli/pull/3020

[2016-05-30 18:01] #2351 closed

[2016-05-30 18:03] schellap commented on #1409
Fixed by https://github.com/dotnet/cli/pull/3020
Files not resolved will fail fast.

[2016-05-30 18:03] #1409 closed

[2016-05-30 21:13] kt215 commented on #3205
+1 Blocker

[2016-05-31 00:44] billwert commented on #1291
We need this. Once you get to real projects not using VS, it turns into a real mess. I'm trying to integrate the CLI into a build system right now. There are many different sets of .NET Core projects in it. The only way I can be sure that everything is restored before any individual piece tries to build is to jam a restore from the root before anything else happens. I'd really like to see either t

[2016-05-31 02:15] Zoltu commented on #591
Was this bug transferred over to the NuGet team?  I was about to file a bug about the creation of the `.nuget` folder (which should be `%APPDATALOCAL%/NuGet`) when I run `dotnet restore`.  If not I'll create one (application folders in my user profile directory are a pet peve of mine).

[2016-05-31 02:49] pranavkm commented on #591
@Zoltu just did - https://github.com/NuGet/Home/issues/2861

[2016-05-31 06:42] DasJott commented on #2962
You can download the missing lib from [here](http://packages.ubuntu.com/de/trusty/libicu52).

After installing you can apt-get install dotnet.

[2016-05-31 07:18] barynov commented on #3199
Still no workaround? This is a blocker for me that prevents to upgrade on RC2.

[2016-05-31 08:42] timotyweis commented on #3199
@dmikov yes a csproj based class library. The error seems different but at the end the problem may be really due to the fact that the mix of packages.congif and project.json dependency doesn't get resolved properly, preventing the correct inclusion of the "classical" libraries. What makes it really odd is that VS is capable of building the solution whatsoever, whereas via console (msbuild) this do

[2016-05-31 08:43] timotyweis commented on #3199
Closed due to duplication

[2016-05-31 09:31] pfedotovsky opened #3292 "ASP.NET Core Web API: Server fails to start due to invalid app.config file"
I want to consume WCF service within my _ASP.NET Core Web API_ application. I've added needed endpoints and another configuration into the _app.config_ file, but when I run "`dotnet publish`" produced _.exe.config_ file is incorrect, see below. So I can't run project until I fix the file manually and I can't run project inside Visual Studio due to this bug.
## Steps to reproduce

I've created samp

[2016-05-31 11:35] tebeco commented on #3065
@brthor , I'm wondering ... I got the issue too, and here is all I tried :)

I've installed .Net Core RC 2 Preview One on top of Vs2015.2
I've also installed the nuget Vsix 3.5.0 beta

I'm created a new Web>Asp.Net Core Web Application (.NET Framework) named "ReactDemo"

When I try to Right click on the node "References> Restore packages" here is the full log :

When I try in the command prompt fr

[2016-05-31 11:52] GonzRu opened #3293 "No executable found matching command "bower""
## Steps to reproduce
Create new ASP.NET Core Web Application. Try to publish from cmd/powershel with "dotnet publish". After this i got such error: No executable found matching command "bower".

How can i fix this?

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-002900)

Product Information:
 Version:            1.0.0-preview2-002900
 Commit SHA-1 hash:  f4ce

[2016-05-31 12:00] xoofx opened #3294 "dotnet pack with copyToOutput not working"
## Steps to reproduce
- Create a Class library project dotnet rc2
- Setup some files with `copyToOutput`, here is the `project.json`
- run `dotnet pack`

See attached project: [TestCopyOutput.zip](https://github.com/dotnet/cli/files/290999/TestCopyOutput.zip)

[code]
## Expected  behavior
- files must be part of the nupkg and an entry with the files to copy should be part of the nuspec.
## Actual

[2016-05-31 12:53] emrahtokalak commented on #3293
I have a same issue but publishing with visual studio successfully.

[2016-05-31 13:01] Lutando commented on #2871
running into the same issue

[2016-05-31 13:25] IsaacSee commented on #3283
Same issue on Windows 10.
If `output-path` option is relative, publish includes are not copied but it works with an absolute path.

[2016-05-31 13:32] appqui opened #3296 "Getting Started link goes nowhere"
Readme.md
Check out our Getting started page.

[2016-05-31 13:57] xoofx opened #3297 "Decrease size of self contained Console App"
Hi there,

While playing with packaging self-contained App, I tried to remove as much libraries as I can that are not used by my application or not critical.
For instance, I removed for example the following dll:
-  `mscordbi.dll`
- `mscordaccore.dll`
-  `mscorlib.ni.dll`
- `mscorrc.debug.dll`
- `dbgshim.dll`
- `sos.dll`
- All `Microsoft.*.dll` as I'm not using them

I may have also try to run a p

[2016-05-31 14:08] RicardoRazz opened #3298 "dotnet missing versions of GLIBCXX (CentOS)"
Hi.
I was trying to run a DNX application on my CentOS 6.8 server but I'm not able to run anything at all. Before installing the RC2 I've installed all the linux dependencies.
This is what I get when running any dotnet command (launching):

**[root@user lib64]#** dotnet --info
dotnet: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.18' not found (required by dotnet)

dotnet: /usr/lib64/libstdc++.s

[2016-05-31 14:29] Akimi commented on #3117
It seems it is known issue, see [this](https://docs.efproject.net/en/latest/cli/dotnet.html#preview-1-known-issues) for more details. Or [here](http://stackoverflow.com/questions/37371091/migrations-in-ef-core-rc2).

The workaround is temporary conversion of a class library project into an app project. So I added `"emitEntryPoint": true` to project.json and defined empty `static void Main()`. Migr

[2016-05-31 16:01] natemcmaster commented on #2645
@ahmedanis03 can you report this issue to https://github.com/aspnet/EntityFramework instead? Your error is different from the issue this bug was opened to track.

[2016-05-31 16:06] vcsjones commented on #3296
Fixed in 5ac3954ee4e2459b655740d0c17dd98bd965424c.

[2016-05-31 16:08] vcsjones commented on #3296
It looks like it goes to https://aka.ms/dotnetcoregs for me.

[2016-05-31 16:36] rrelyea commented on #3205
Tracking as NuGet issue.

[2016-05-31 16:36] #3205 closed

[2016-05-31 17:19] crokusek commented on #2871
It still happens for me every so often.  One time I thought the target .exe was there and then another I think it wasn't there at all.  Changing permissions on the folder or directory did not help and restarting MSVS would still fail the build.  I think a reboot of the machine has cleared it every time.  Someone else working on a different machine here has repeated the issue also.

[2016-05-31 17:44] eerhardt opened #3301 "latest.xxx.version files should be "NO CACHE""
## Steps to reproduce
In Chrome, navigate to https://dotnetcli.blob.core.windows.net/dotnet/preview/dnvm/latest.win.x64.version
Wait for a new build to come out
Navigate to https://dotnetcli.blob.core.windows.net/dotnet/preview/dnvm/latest.win.x64.version again

## Expected  behavior
You should see the new build number.

## Actual behavior
Chrome caches the old .version file, so you aren't seeing

[2016-05-31 19:48] barynov commented on #3199
The related issue is about a conflict between dependencies in csproj and xproj. But I am getting the same "Unable to resolve..." error for a class library with no dependencies.

[2016-05-31 20:48] mellinoe commented on #3297
Most of the assemblies you listed are for debugging support, so they can most likely be removed without any issue if you do not expect folks to debug the app itself (probably an okay assumption for a standalone app). `mscorlib.ni.dll` probably shouldn't be removed; it's the native-generated image of mscorlib and will improve startup time. I'm assuming you're able to delete it because `mscorlib.dll

[2016-05-31 20:54] eerhardt commented on #3146
@brianrob - the latest CLI version:

b3bf977c008666cb435e43377255c3ed54843def
1.0.0-preview2-002911

Has all the latest updates with crossgen fully enabled across all platforms.  Please try it out, and let me know if you hit any issues.

[2016-05-31 21:16] #3269 closed

[2016-05-31 21:18] xoofx commented on #3297
Cool, the `Microsoft.NETCore.Runtime` and `Microsoft.NETCore.DotNetHostPolicy` is already making it a bit more tiny, thanks!

[2016-05-31 21:44] svick opened #3306 "Should imports be checked for validity?"
If I understand it correctly, having the following in project.json is always wrong, since `netcoreapp1.0` uses System.Runtime, but `net45` uses mscorlib instead:

[code]

Would it make sense to make such declarations into errors on `dotnet restore`?

Also, I'm not sure if it makes sense to fix such a relatively minor issue, considering project.json is going away soon.

[2016-05-31 21:44] #3297 closed

[2016-05-31 21:52] livarcocc opened #3307 "Replace the BuildPlatform enum with a BuildPlatform class that is aware of versions"
Right now, our build system isn't totally aware of the hierarchy of build platforms we have now that we have different versions of OSes.

This is due in part because we use an enum to describe our buildplatforms. One alternative to this would be to use a class that would appropriately represent these two informations, in the least.

[2016-05-31 22:05] #3156 closed

[2016-05-31 23:21] scionwest commented on #2752
Is there an update on this? I'm hitting this same issue now, where I'm executing `dotnet test -p Path/To/Test/Project.json` and getting this exception. I'm using VSCode tasks to try and run my test project.

{
        // See https://go.microsoft.com/fwlink/?LinkId=733558
        // for the documentation about the tasks.json format
        "version": "0.1.0",
        "command": "dotnet",
        "i

[2016-06-01 00:17] pranavkm commented on #2754
I was looking at this again and there's a bunch of APIs in `RuntimeInformation` that we require (Unix distro name, OsVersion) that are internal to corefx. I'll file a work item to see if they are willing to make these APIs usable to us.

[2016-06-01 00:23] pranavkm commented on #2754
https://github.com/dotnet/corefx/issues/9011 bug.

[2016-06-01 00:27] manu-silicon commented on #3232
Sorry, never got the notifications sent in the past few days. I'll try what was suggested an report back.

@piotrpMSFT fully understand that what I'm doing is different but using dotnet cli for building large project made of many pre-built assemblies is difficult.

[2016-06-01 00:46] manu-silicon commented on #3232
With various trials and errors and luck, found the reason fro the `Failed to initialize CoreCLR, HRESULT: 0x80070057` very early on.

What is happening is that because we cannot specify the path to lookup native shared libraries, I've created symbolic links to them in the directory where the executable is. Those symbolic links are what causes the error. If instead, I copy them, then it starts.

I'

[2016-06-01 01:13] crokusek opened #3310 "Linking Core RC2 "Portable" with full .NET 4.61 within MSVS"
## Steps to reproduce
Wrap and Link a .NET 4.61 project into a .NET Core RC2 portable executable (MvcMovie) using MSVS 2015 Enterprise Update 2.

It was working with the wrapped assembly compiled/wrapped as .NET 46 and Core Framework target "net46".

## Expected  behavior
No build errors.

## Actual behavior
Build Error:

C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft

[2016-06-01 01:27] jamesqo commented on #3290
I seem to be having this same issue as well; simply including `Microsoft.NETCore.DotNetHostPolicy` doesn't seem to make my app runnable for some reason. Is there some way I can do this, without bringing along the whole `NETStandard.Library`? (I'm a corefx contributor so I need to use rc4+ library components for testing, whereas including `Microsoft.NETCore.App` seems to 'downgrade' the dependencie

[2016-06-01 01:53] vincentshow opened #3311 "console app builded by vs2015 in win7-x64 cannot run in windows server2008"
## Steps to reproduce
publish a self-contained console app named test.exe by vs2015 with project.json below
{
  "version": "1.0.0-*",
  "buildOptions": {
    "emitEntryPoint": true
  },
  "publishOptions": {
    "include": [
      "appsettings.json"
    ]
  },
  "runtimes": {
    "win7-x64": { }
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0-rc2-3002702"//,
      /

[2016-06-01 02:34] vincentshow commented on #3311
curious!!!  dotnet cannot be uninstalled in winserver2008! i've uninstalled dotnet both in win7 and winserver2008, but dotnet still can be executed in winserver2008 without any error outputed

[2016-06-01 04:37] xoofx commented on #2902
@piotrpMSFT @davidfowl Could a fix be part of the RTM for this? This issue should be tagged as a bug, not an enhancement. Building an hybrid ASP.net Core/ConsoleApp and I'm stuck, only workaround is to manually duplicate the files from all my assembly dependencies, and put them as part of the assembly main entrypoint in order to work.

[2016-06-01 06:43] eramella commented on #3064
In case there is still someone, like me, that despite all of the above the "dotnet --version" command still shows the old one, delete the dotnet folder under c:\Program Files and reinstall RC2 preview1 for VS2015. That did for me.

[2016-06-01 07:04] prochnowc opened #3314 "EntityFrameworkCore.Tools throws FileNotFoundException System Version 2.0.5.0"
Running "dotnet ef" commands throws FileNotFoundException:

`
System.IO.FileNotFoundException: Could not load file or assembly 'System, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e, Retargetable=Yes' or one of its dependencies. The system cannot find the file specified.
File name: 'System, Version=2.0.5.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e, Retargetable=Yes'

[2016-06-01 07:10] nmschulte commented on #3185
I'm experiencing this same issue with the microsoft/dotnet:latest docker image.  Below is how I reproduce the issue.

[code]

[2016-06-01 08:10] billwert opened #3315 "Project produced with 'dotnet new' doesn't build"
This starts with 2882 and is true today in 2913. It worked in 2877.

## Steps to reproduce
1) unzip/add to path: https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-002882/dotnet-dev-win-x64.1.0.0-preview2-002882.zip
2) dotnet new
3) dotnet restore
4) dotnet build

## Expected  behavior
Build succeeds.

## Actual behavior
Build fails

Project 2 (.NETCoreApp,Version=v1.0)

[2016-06-01 08:15] xoofx commented on #3029
Related to this problem:
- #3294 for the behaviour with pack, that's more a "breaking changes" from the usual behaviour we have in csproj.
- #2902 for the fact that usually (in csproj), the CopyToOutput was honoured between dependencies.

In csproj, whenever I put CopyToOutput on a file (plus the ability to remap dest folders with "Link", equivalent of "mappings" in project.json), I expect this to

[2016-06-01 11:14] bednart opened #3316 "NuGet pack - Missing Newtonsoft.Json package dependency"
Hi,
I have problem with missing Newtonsoft.Json dependency in my own created NuGet package using NuGet.exe 3.4.3
## Steps to reproduce
- Create .NET451 C# ClassLibrary TestPackage project
- Install NuGet package Microsoft.AspNet.WebApi.Client 5.2.3
- These packages are added to packages.config:

`<package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />`
`<package id

[2016-06-01 11:15] #3316 closed

[2016-06-01 11:16] bednart commented on #3316
Sorry posted to wrong place :(

[2016-06-01 13:32] GonzRu commented on #3293
@emrahtokalak i solved the problem.
need to install bower and gulp(if you use it) as a global packages
`npm install -g bower`
`npm install -g gulp`

[2016-06-01 13:33] #3293 closed

[2016-06-01 15:25] dleeapho opened #3317 "OSX installer pkg for preview2-00291 SDK is corrupted"
## Steps to reproduce
Download https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/Latest/dotnet-dev-osx-x64.latest.pkg and install. Follow the installation steps to the end.

## Expected  behavior
The .NET CLI SDK bits are installed.

## Actual behavior
Error: "Installation failed. The installer can't locate the data it needs to install the software"
Note the pkg is only 8.8mb

## E

[2016-06-01 15:28] dleeapho commented on #3317
@brthor fallout from the repo split?

[2016-06-01 16:01] natemcmaster commented on #3314
@prochnowc this is caused by using the wrong "imports" for Ms.EF.Tools. You should only have "portable-net451+win8":
[code]

Unfortunately, because of https://github.com/dotnet/cli/issues/2978, you will need to delete NuGet caches for changing imports to take effect. See https://github.com/aspnet/EntityFramework/issues/5458#issuecomment-221912806 for instructions on clearing this cache.

[2016-06-01 16:41] brthor commented on #3317
Thanks for filing this @dleeapho I'll take a look today.

[2016-06-01 16:45] ericstj opened #3318 "Restore is too verbose"
## Steps to reproduce
dotnet new
dotnet restore

## Expected  behavior
minimal output with only errors/warnings by default
optionally dial up the verbosity

## Actual behavior
lines upon lines of spew with errors and warnings hidden among the mess.  folks ignore warnings when often those point to issues.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-002882)

[2016-06-01 16:56] ericstj commented on #3315
Works for me.  Don't know where you're getting a Microsoft.CodeAnalysis.Common **2.0.0-beta1** dependency.
I suspect you only have the nuget.org feed registered (which has this version) and not the feed with the actual version that MS.NETCore.App depends on.

 /cc @tmat @weshaggard

[2016-06-01 17:00] ericstj commented on #3315
Hmm I see that the specific version depended on is not on the dotnet-core feed.  https://github.com/dotnet/core-setup/pull/12 changed the version.  @eerhardt should you have also mirrored the packages to https://dotnet.myget.org/gallery/dotnet-core so that folks get a full package set when resolving from this feed?

[2016-06-01 17:07] anurse commented on #2514
Since this is targeted to Tooling RTM, I'm going to unassign myself so it can be re-triaged. I am going to be submitting a fix for #2289 shortly, but this one requires a bit of exploration still and I'm not sure I'll have the bandwidth as I transition back to ASP.NET stuff :). If it needs to come back to me, so be it, but I want to clarify the timeline and plan for this one since it is currently t

[2016-06-01 17:13] billwert commented on #3315
I assume because the Nuget.config in the root of the enlistment has cli-deps in it everything works out in CI. Perhaps the tests in CI should be adjusted to not use this dependency?

[2016-06-01 17:18] eerhardt commented on #3315
`Microsoft.NETCore.App` has always been published to https://dotnet.myget.org/gallery/dotnet-core.  It gets published there first, and mirrored into cli-deps.

Both `Microsoft.NETCore.App` versions 4306 and 4312 are on https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App.  As well as the latest.

Our EndToEnd CI tests don't use the cli-deps, they generate a NuGet.config fi

[2016-06-01 17:19] mellinoe commented on #3318
Related: https://github.com/dotnet/cli/issues/2212, https://github.com/dotnet/cli/issues/1623

[2016-06-01 17:22] ericstj commented on #3315
Yep, and that should be broken today, or at least restore with warnings, due to the missing Roslyn package versions from dotnet-core.

[2016-06-01 17:22] mellinoe commented on #3306
I don't think it makes sense. "Imports" are used so you can ignore/bypass NuGet's asset selection algorithm. By using it, you are already opting in to packages that are potentially invalid for you to use. I don't think it's valuable to try to identify some potentially problematic cases and try to prevent you from shooting yourself in the foot.

[2016-06-01 17:44] billwert commented on #3315
@eerhardt Ah. But EndToEnd test runs after something else has put 1.3.0-beta1-20160525-03 of the CodeAnalysis packages in the nuget cache. I can repro this on my machine:
1) dotnet new
2) add config file without CLI deps
3) dotnet restore
4) dotnet build, it fails
5) restore using config file with CLI deps
6) dotnet build, it succeeds
7) delete lock file
8) restore with original config file, no CL

[2016-06-01 17:44] ericstj commented on #3318
Feel free to dupe to #1623.  I looked but didn't see that.

[2016-06-01 17:55] eerhardt commented on #3315
Shouldn't Roslyn be on dotnet-core? That way the feed contains the closure of its dependencies?

/cc @weshaggard

[2016-06-01 18:02] ericstj commented on #3315
@eerhardt it is.  I believe folks were manually mirroring to dotnet-core when updating NETCore.App.  You were the last to change it with https://github.com/dotnet/core-setup/pull/12 but you didn't mirror the new version.

[2016-06-01 18:04] eerhardt commented on #3315
That's the issue with manual processes. How is everyone supposed to know about it?

[2016-06-01 18:10] nathana1 opened #3320 "unable to install with latest ubuntu installers"
## Steps to reproduce
1. Download the 3 installers linked on the home page and install in order with dpkg -i.
2. The shared host and framework both install without error but the sdk fails with this message (4371 is installed):
dotnet-dev-1.0.0-preview2-002913 depends on dotnet-sharedframework-microsoft.netcore.app-1.0.0-rc3-004338; however:
  Package dotnet-sharedframework-microsoft.netcore.app-1.

[2016-06-01 18:23] brthor commented on #3317
There were two issues here. I have a fix incoming for core-setup which will fix the sharedfx installer, then I'll make a PR with the fixes to the SDK installer and bump the version we take from core-setup.

[2016-06-01 18:31] billwert opened #3322 "EndToEnd test needs to use its own package cache."
#3315 is an issue caused by an incorrect update of the cli-deps feed that didn't get mirrored into dotnet-core. EndToEnd test uses its own Nuget.config and should have caught this. It didn't, because the package cache on the machine could satisfy the dependency.

[2016-06-01 18:35] ericstj commented on #3315
Agreed @eerhardt , not your fault.  Just needs to get fixed.  If we want to make it automatic we could do something in the core-setup repo's publishing /cc @dagood.

[2016-06-01 19:08] andschwa commented on #2902
@xoofx I'm in a really similar situation. It's caused me to write cross-platform scripts around `dotnet` just to distribute files, when it should be able to pick them up automatically. :cry:

[2016-06-01 22:11] brthor commented on #2210
This is no longer an issue since the split

[2016-06-01 22:11] #2210 closed

[2016-06-01 22:47] weshaggard commented on #3315
Yes this is general issue right now when we update the Roslyn version it doesn't end up on the dotnet-core feed. @eerhardt I believe this should be addressed when the Roslyn team adds dotnet-core to their feed webhook.

[2016-06-01 23:11] darrensimsg opened #3330 "Choosing DotNet Restore Package Source"
## Steps to reproduce

Not sure if anyone have encountered this issue, where dotnet restore is not restoring from nuget.org, instead it is restoring from other another source from my list of package sources.

Following's how my NuGet.Config looks like:
`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" pro

[2016-06-01 23:12] brthor commented on #3317
Core-setup fix is in, cli fix is out

[2016-06-01 23:50] andschwa commented on #3185
I'm hitting the same problem, and have manually resolved all the dependencies based on that Ubuntu package information. I get a segfault immediately, the feeds aren't even touched.

[2016-06-02 00:22] livarcocc opened #3335 "build trying to download .deb file for ubuntu16.04"
For ubuntu 16.04, we are not producing .deb files yet. However, we have a target in our build system that will try to download the .deb file for it if the OS is ubuntu, without taking into consideration the version of the OS. This will cause builds in ubuntu 16.04 to fail.

We need to skip downloading installer for ubuntu 16.04.

[2016-06-02 00:33] brthor commented on #2408
Going to work on this tomorrow, @schellap do you expect that the host should handle this scenario fine?

[2016-06-02 00:35] schellap commented on #2408
@brthor, we are RTM-ing. Let me know if you find anything busted. It should work as is.

[2016-06-02 01:58] schellap commented on #3185
@andschwa and I looked into this and there were few things that we observed:

1. Note the RID output from `dotnet --info` from all the above reports.
  * `debian.-x64`.
2. This issue looks related: https://github.com/dotnet/cli/issues/1832
3. The crash repros with `corerun NuGet.XPlat.CommandLine.dll restore`, so we can eliminate the `dotnet` host
4. The crash was inside a call in `libcrypto`

[2016-06-02 03:36] andschwa commented on #3185
Problem was resolved by downgrading to `libcurl3=7.38.0` (Jessie's version), per @tomciaaa's suggestion (after reading the last sentence carefully).

[2016-06-02 03:41] andschwa commented on #3185
I should add that in order to restore an app successfully when on Debian Testing, you need to trick NuGet into thinking you're on a supported runtime. I did this by adding `VERSION_ID=8.2` to `/etc/os-release` so I could restore for RID `debian.8.2-x64`.

If `dotnet --info` shows `debian.-x64`, it's not going to want to restore for what is not really a supported platform (rolling release of testin

[2016-06-02 04:02] nmschulte commented on #3185
Thanks for the note.  This doesn't help my situation: I am running this on Debian Stable, so I already have libcurl at that version:

[code]

As well, both of my `dotnet` binaries (from the microsoft/dotnet:lastest Docker image and the Debian 8 Docker image I built myself) report a `debian.8.x64` RID, not `debian.8.2-x64` nor `debian.-x64`.

[2016-06-02 04:43] #3335 closed

[2016-06-02 05:52] GuardRex opened #3338 "prebuild/postbuild in project.json should be precompile/postcompile"
According the the `project.json` schema, `prebuild/postbuild` are valid; however, it's `precompile/postcompile` that actually work.

http://json.schemastore.org/project shows ...
[code]
I thought there was already an open issue on this, but I couldn't find it. This is causing some confusion (e.g., https://github.com/aspnet/Home/issues/1491#issuecomment-222828650).

[2016-06-02 06:09] prochnowc commented on #3314
@natemcmaster Thank you very much!
The import for tools was ok. But i also had to add the imports to the "Microsoft.EntityFrameworkCore.Tools" package in the dependencies.
Note: If i do not add "dnxcore50" to the imports it does not work.
Finally clearing caches and restoring did work.
Initially i followed this: https://docs.efproject.net/en/latest/miscellaneous/rc1-rc2-upgrade.html
So experience

[2016-06-02 06:42] GuardRex commented on #3297
@mellinoe @piotrpMSFT Curious: Why shouldn't this become a "fit 'n finish" work item? Payload size for self-contained is an issue for those of us needing this app type. If it could be knocked down several megs, that would be a huge benefit for deploying to servers.

This issue was mentioned in https://github.com/dotnet/cli/issues/2496 with ...

... but it looks like based on your chat with @xoofx

[2016-06-02 06:54] GuardRex commented on #3290
Solved by adding `Microsoft.NETCore.Runtime.CoreCLR`. See: https://github.com/dotnet/corefx/pull/9042

Previously, this worked but fails now to compile/publish ...
[code]
Now, using the following will yield successful compile/publish ...
[code]

[2016-06-02 06:54] #3290 closed

[2016-06-02 07:15] weshaggard commented on #3290
Yes to get a full runnable application you need the libraries (NETStandard.Library), a runtime (Microsoft.NETCore.Runtime.CoreCLR) and a host (Microsoft.NETcore.DotNetHostPolicy). In the RC2 time frame NETStandard.Library incorrectly depended on Microsoft.NETCore.Runtime which is why it used to work but going forward you need to independently reference a runtime, or reference the higher level app-

[2016-06-02 09:49] jamesqo opened #3339 "Question: How to ensure CLI restores a package from a particular source?"
Hi, I'd like to use the CLI to restore some corefx/coreclr packages I've built locally for testing purposes. Here is my `NuGet.config` file:

[code]

and here is my `project.json` (the rc4 packages should come from my local builds):

[code]

When I try to run `dotnet restore` on this project after re-building my local copy of `System.Collections`, however, it seems to be unable to restore `runtime

[2016-06-02 10:54] sisovin045 commented on #3070
I have the same issue, I can use dotnet restore and dotnet run in console, but I have to close VS 2015 first. I have uninstall VS 2015 SP2, then reinstall, but it still have the same error above.

[2016-06-02 11:17] alansangeeth opened #3340 "Unable to resolve "classlibrary" for ".NETStandard v1.5""
# Steps to reproduce

Created a class library in vs2015
run command "dont pack" to create nuget package
Refer this nuget in another class library.
## Expected  behavior
Should restore fine

## Actual behavior
Throws error that "Unable to resolve "classlibrary for .NETStandard v1.5"

## Environment data
`dotnet --info` output:
OS Name = Windows
OS Version = 6.3.9600
Os Platform = Windows
RID = win8

[2016-06-02 11:31] mikes-gh commented on #3198
@Eilon
https://github.com/aspnet/EntityFramework/pull/5564/commits/f93b04e2a0785f82fa4788e835421fd5abbf5d0e
We don't want JSON serializing logic leaking into all the packages do we.  That's a bit of a code smell.

[2016-06-02 11:57] cwe1ss commented on #3097
w00t? is there any other way to use authenticated feeds with dotnet cli in the meantime?

A pointer to the nuget issue would be great. haven't found anything in the nuget repo.

[2016-06-02 12:27] marspd commented on #3070
My problem was two fold. I still had a left over installation of part of the RC1 tools which I had to remove by installing RC1 again and then immediately uninstalling. I also had Telerik's JustMock which had to be removed before things would work properly.
I hope that helps some.

[2016-06-02 12:38] ArieJones commented on #3070
@marspd I am probably going to be trying again this weekend to see if I can successfully upgrade to the tooling. So are you currently on the RC2 tooling now? There are similar issues posted on the tooling site where they promised to get back with everyone but we haven't seen anything in over a week.
So more than likely MSFT is just like "YOLO, good luck with the next set of preview tools"

[2016-06-02 13:32] marspd commented on #3070
Mine is working OK now since I resolved the issues I described above. Good luck over the weekend.

[2016-06-02 14:29] tuespetre opened #3342 "Consider adding setting a 'project directory' environment variable in dotnet-run"
It looks like some of the ASP.NET-specific stuff used to support an `ASPNET_APPLICATIONBASE` environment variable in order to allow a web application to automatically determine its 'base path' correctly whether it was running from the context of a project with `dotnet-run` (variable set) or from the context of a set of published outputs (no variable set.) It seems that the Visual Studio tooling se

[2016-06-02 14:52] patrickjamesbarry commented on #2871
Happening to me as well. -o command option seems to be the problem as stated above. **-b** option also seems to need some love when using the **--no-dependencies** flag.  My scenario- building my test project without building the main project it is testing. Works just fine when not using the --no-dependencies flag.  My hack to work around the -o problem is to build twice. Once not specifying -o, t

[2016-06-02 15:13] Ausm opened #3343 "Analyze Code Coverage in VS2015 not working"
## Steps to reproduce
When I create a test solution with a ClassLibrary project in the src folder, and a Test project in the test folder with the following project.json files, all tests/testrunners work just fine, but analyzing the code coverage in VS is not working.

ClassLibrary's project.json:
[code]

Test's project.json:
[code]

## Expected  behavior
To show me the code coverage.

## Actual be

[2016-06-02 15:15] ritcoder commented on #3314
I was getting the same error as above. After doing, what is recommended, `dotnet ef` works. After adding a migration, I get an error when `dotnet ef database update`. The error is as below

[code]

Code compiles and runs just fine. What have I missed?

[2016-06-02 15:19] Ausm commented on #3343
I tried to debug it in the dotnet-test-xunit, and added a `Debugger.Launch();` in it's Main.
It's called when I discover/run the tests in any way, but not when I run "Analyze Code Coverage".

[2016-06-02 15:51] RicardoRazz opened #3344 "HttpClient PostAsync - The server returned an invalid or unrecognized response"
EDITED:

If I run this application on a Windows computer everything works out fine. When I run this application on a Linux (CentOS) computer I get the following exception:

I've tried this code on a Windows machine and it is working perfectly. I've also tried to make a SOAP call on CentOS console trough curl and it also works fine (I get the response). In the web application I keep getting the exc

[2016-06-02 16:24] avikenjale commented on #3320
Same issue on Win X64.

[2016-06-02 16:28] dasMulli commented on #3338
i think the active issue is https://github.com/dotnet/cli/issues/3094

[2016-06-02 16:29] #3338 closed

[2016-06-02 16:45] ericstj opened #3345 "Assemblies built out of CLI should set [assembly:System.Reflection.AssemblyMetadata("Serviceable", "True")]"
Any Microsoft assembly that can be loaded on desktop and distributed via NuGet should set this if it wants to be targetable by updates through Microsoft Update.

[code]

I reviewed a few packages on https://dotnet.myget.org/gallery/dotnet-cli and found them lacking.

For more info see https://blogs.msdn.microsoft.com/dotnet/2014/01/22/net-4-5-1-supports-microsoft-security-updates-for-net-nuget-lib

[2016-06-02 17:27] alansangeeth commented on #3340
Got it!!!
Actually i was just simply moving the packages generated (dotnet pack) to /%userprofile%/.nuget/packages which was the cause of the problem.

Instead of it, after generating packages, I used following command to add nuget package and it worked :)
nuget add classLibrary.nupkg -source "%userprofile%\.nuget\packages "

[2016-06-02 17:33] brthor commented on #3079
I'm thinking help is somewhat of a special case here since it's the only common option that we have between commands, and is critical for discovering how to use the commands themselves, so why not give it it's own section.

This is what I have in mind

[code]

Thoughts? @blackdwarf

[2016-06-02 17:40] blackdwarf commented on #3079
@brthor like it, with a nit: `--help` is not really a command but an option. This is crucial so we don't confuse the concept of a command (verb). Otherwise, this would be good.

[2016-06-02 17:40] brianrob commented on #3146
Thanks @eerhardt.  It does appear that there is a ton of JIT compilation that I would not have expected to be present consider that ready-to-run is being used by the CLI and shared framework.

@gkhanna79, @JohnChen0, @fadimounir, can you please take a look at this?

[2016-06-02 17:41] brthor commented on #3079
I agree, I didn't mean to imply `--help` was a command:

Do you think this implies that? What do you suggest instead?

[2016-06-02 17:42] blackdwarf commented on #3079
@brthor I would suggest "Common options (applicable to all commands):". This way we leave space for adding something more tomorrow (for instance, `set` or `destroy` or my favorite `--desolate` :))

[2016-06-02 17:46] brthor commented on #3079
We already have a common options section which has a different purpose, it'd be confusing to have two such sections.

Perhaps we could have this:
[code]

[2016-06-02 17:48] blackdwarf commented on #3079
Wait, if we have common options, why not just stick it in there? :)

[2016-06-02 17:52] brthor commented on #3079
because help isn't passed before the command

[2016-06-02 17:53] tstringer commented on #3079
Not to mention, you can use help as a command: i.e. `dotnet help run`

And to answer your original question, @blackdwarf, yes that would be sufficient.  Although I'd rather see it in a command/param fashion instead of a sentence, I think that's better than the current availability for help discovery.

[2016-06-02 17:54] blackdwarf commented on #3079
Ah, you can use it as a command because it is implemented as a `HelpCommand`. Interesting...

@brthor well, let's follow the pattern we have and do `Common Options passed after the command`.

[2016-06-02 17:58] brthor commented on #3079
@blackdwarf
This is terrible and confusing. It's so easy to miss the only difference which is the word **after**

[code]

[2016-06-02 18:01] brthor opened #3347 "DTH tests timing out"
## Steps to reproduce
Make a PR unrelated to DTH

## Expected  behavior
DTH tests pass

## Actual behavior
DTH tests time out

## Environment data
`dotnet --info` output:
N/A

Example here

http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/rel_1.0.0-preview2/job/debug_fedora23_x64_prtest/13/

@troydai @eerhardt @livarcocc

[2016-06-02 18:02] blackdwarf commented on #3079
@brthor wait...ok, I need to think about this. The common options is not a good thing, because these options are not "common". They are the muxer's/host options.

[2016-06-02 18:04] brthor commented on #3079
Yeah I agree that was my line of thought with `Dotnet Options` but admittedly that's not too great either.

[2016-06-02 18:19] brthor opened #3348 "Resolve Output Host from Package graph in `dotnet build`"
Currently the host and other artifacts are copied from the sdk folder when running `dotnet build` on a standalone app.

We should copy the host from the package graph instead.

@eerhardt @schellap

[2016-06-02 18:21] brthor opened #3349 "Remove `corehost` from the sdk directory"
This is dependent on
- [ ] https://github.com/dotnet/cli/issues/2444
- [ ] https://github.com/dotnet/cli/issues/3348

@schellap @eerhardt

[2016-06-02 18:35] ellismg opened #3350 "dotnet publish selects rid'd assets when publishing for Desktop"
## Steps to reproduce

[code]
## Expected  behavior

The version of `System.Runtime.InteropServices.RuntimeInformation.dll` that is published is the net45 version from the project.json without a rid:

[code]
## Actual behavior

The asset selected is in unix one listed in the runtime targets section of the `project.lock.json` additionally, dotnet-restore spits the following message:

[code]

Note t

[2016-06-02 18:36] ellismg commented on #3350
@anurse, Eric and I really aren't sure where this goes, but he thought you might understand the context better.  This is blocking us from making progress on https://github.com/dotnet/corefx/issues/9012 since we could consider having the desktop asset do light up when on Mono, if it's not even getting deployed, we have a world of problems.

[2016-06-02 19:00] anurse commented on #3350
We do always select a RID when publishing for desktop because desktop does not support fully portable apps (since we can't hook native asset resolution). So we always have to do "half-portable" apps where we select a specific set of native assets.

Is the issue that there is a `runtimes/[rid]/lib/netstandard/...` AND a `lib/net45/...` and we're picking the first one instead of the second one on `n

[2016-06-02 19:09] ellismg commented on #3350
Here's the relevant portion of the `project.lock.json`

[code]

The asset that is being selected is `runtimes/unix/lib/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll`

[2016-06-02 19:17] BrennanConroy commented on #3350
If it were to choose the net45 one then IsPlatform() would be wrong since it's hard coded to Windows

[2016-06-02 19:25] alpaix commented on #3097
@cwe1ss Plaintext passwords is the only supported method of authenticating NuGet feeds with dotnet cli. Interactive credential acquisition is not enabled. Encrypted passwords support is blocked due to missing `ProtectedData.Protect` API on CoreCLR.

[2016-06-02 19:38] ericstj commented on #3350
We're trying to get clarity on what the expected behavior is here so that we know what we'd need to do in the packages if we wanted to try to better suppport mono.  Today none of our packages expect to resolve a net* TFM with anything but a windows RID.  All packages today duplicate the net* assets in the runtimes/win/net* folder whenever any runtime specific asset is provided so that we guard aga

[2016-06-02 20:07] tmat commented on #3067
Likely due to the fact that the reported dll is actually missing from the Shared FX: https://github.com/dotnet/core-setup/issues/72

[2016-06-02 20:09] tmat commented on #3226
OK, so it turns out the reported dll is actually missing from the Shared FX: dotnet/core-setup#72. At this point this issue doesn't seem to be Nano Server specific. It repros on all Windows SKUs that don't have with the right version of diasymreader in Desktop .NET Framework

[2016-06-02 20:10] brthor commented on #3088
The clang-3.5 dependency has been removed here.

Going to keep this open for tracking lldb as an optional dependency but retarget for preview3

[2016-06-02 20:11] brthor commented on #3317
Fixed in #3327

Core-Setup builds were getting blocked by some ubuntu issues. Leaving this open til those fixes come into cli.

[2016-06-02 20:12] brthor commented on #2408
Fixed in #3346

[2016-06-02 20:12] #2408 closed

[2016-06-02 21:43] darrensimsg commented on #3330
Found a workaround for this, simply create a NuGet.config file in the project directory which contains the following:

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>

    <clear />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

[2016-06-02 21:43] darrensimsg commented on #3330
This can be marked as closed.

[2016-06-02 21:43] #3330 closed

[2016-06-02 21:58] blackdwarf commented on #3079
OK, maybe something like this?

[code]

[2016-06-02 22:02] brthor commented on #3079
LGTM

[2016-06-02 22:05] blackdwarf commented on #3079
Do you have a PR open for this change @brthor ?

[2016-06-02 22:19] mellinoe commented on #1623
@blackdwarf Any update on this?

[2016-06-02 22:26] brthor commented on #3079
https://github.com/dotnet/cli/pull/3353

[2016-06-02 22:40] elvirb commented on #3118
Yes. This is the project.json for that project. It currently has compilation issues in VSCode - it works fine when using "dotnet build + restore":

`
{
  "version": "1.0.0-*",
  "dependencies": {
  },
  "frameworks": {
    "monotouch": {
      "dependencies": {
        "mscorlib": {
          "target": "project",
          "version": "3.5.0-Unity"
        },
        "System": {
          "target":

[2016-06-02 23:04] BrennanConroy opened #3356 "Remove PlatformAbstractions usages"
Today there are couple places where Microsoft.Extensions.PlatformAbstractions is used.

E.g.
https://github.com/dotnet/cli/blob/rel/1.0.0-preview2/src/dotnet/MulticoreJitProfilePathCalculator.cs#L35

These can all be replaced by classes not built by ASP.NET Core. The plan is to remove this for RTM on our end.

@davidfowl @piotrpMSFT

[2016-06-03 00:18] #2277 closed

[2016-06-03 00:48] blackdwarf commented on #1623
@mellinoe I believe @billwert created a PR for this, #3229, which shows as merged.

[2016-06-03 01:23] tmat commented on #3067
It's fixed in the latest dotnet cli build by https://github.com/dotnet/cli/pull/3140.

[2016-06-03 01:23] #3067 closed

[2016-06-03 01:42] sisovin045 commented on #3070
@marspd, thank you. I follows your issue to remove Terelik's JustMock, which had conflict with RC2, then is working fine, I have resolved the issues as you, have the best trip over the weekend.

[2016-06-03 05:35] JakeGinnivan opened #3360 "An item with the same key has already been added. Key: System.Runtime Unspecified"
## Steps to reproduce

Install the following Serilog packages into a web project targeting `net451` (from file/new) is fine:

[code]
## Expected  behavior

A better error message would be handy. There was a bit of trouble figuring out how to fix the issue with in another serilog project. See https://github.com/serilog/serilog-extensions-logging/issues/38
## Actual behavior

Build fails with `An it

[2016-06-03 05:36] pherbel commented on #3218
We can close this.
Please share if you have any info about Azure SDK support.

Thanks

[2016-06-03 05:36] #3218 closed

[2016-06-03 05:38] Ausm commented on #3343
Ok, my fault.
See #1995

Simply add ```"Microsoft.CodeCoverage": "1.0.1"``` to the netcoreapp1.0 dependencies, and everything works fine.

The Test's project.json looks now like:
[code]

[2016-06-03 05:38] #3343 closed

[2016-06-03 07:31] leak opened #3362 "Questions regarding ref folder in publish output"
What is the point of the `refs` folder in publish output when targeting full framework only (`net46`)?

Why is the main applications exe file present as a copy in the `refs` folder?

How does `preserveCompilationContext` interact with the `refs` folder? Is it only relevant for core applications that contain MVC views? If I don't target core and have no MVC views (due to SPA) can i ommit this flag?

[2016-06-03 07:32] ajaybhargavb commented on #3094
schemastore/schemastore@b8f5a46d61975041ca8febab92687b0dcfe45455

[2016-06-03 07:32] #3094 closed

[2016-06-03 09:54] simsod opened #3363 "packOptions should have a packageName/outputName property"
## Steps to reproduce

if the source files (.cs) are located in \MyProject
and the project.json is located in a subdirectory, like \MyProject\build\project.json
The package filename and .nuspec id is forced to be the folder name, in this case build.1.0.0.nupkg and <id>build</id>
## Expected  behavior

It would be useful to be able to set the filename/id of the output to "MyProject" in this case. J

[2016-06-03 12:15] timotyweis commented on #3199
@barynov If you prefer I may reopen the Issue and we'll wait for more detail.

[2016-06-03 13:01] barynov commented on #3199
@timotyweis Please re-open the issue and I will provide a sample to reproduce it.

[2016-06-03 14:02] patrickjamesbarry opened #3365 "Version string replacement"
Right now, dotnet supports the ability to change pre-release part of sem ver (1.0.0-*).  So the \* is replaced with the value you specify with --version-suffix flag.  This allows you to create packages that nuget will consider Pre-release packages.  We work in a continuous delivery model where each build could be a possibly release candidate if it passes all tests.  Because of that, and after read

[2016-06-03 14:35] ivaylokenov opened #3366 "Is there any way to pack all projects in a folder at once?"
## Steps to reproduce
I have the following projects:

![prsrc](https://cloud.githubusercontent.com/assets/3391906/15781720/19ab3e0e-29b0-11e6-970f-cf5e5f88f127.png)

Each project in the `src` folder should be packed as a NuGet package. The `MyTested.Mvc` one has all the others as dependencies.

## Expected  behavior

When I run `dotnet pack --configuration Release` on the `MyTested.Mvc` folder I e

[2016-06-03 15:36] BrennanConroy commented on #3356
Here is the issue on NuGet's side https://github.com/NuGet/Home/issues/2890 I think that's where CLI's dependency comes from

[2016-06-03 15:46] patrickjamesbarry opened #3367 "Dotnet and AssemblyInfo.cs"
What is the direction for dotnet in relation to AssemblyInfo.cs.

- Does the need for this class go away?
- Will the entire class get generated on the fly with values provided in project.json/new csproj?
- Will values be automatically inserted into it, if it remains?
- Do I need to provide replacement tokes inside of the class for values that can be provided by project.json/new csproj?

[2016-06-03 16:51] muratg commented on #3356
cc @Petermarcu, @rrelyea

[2016-06-03 17:08] thewilsons13 commented on #3174
I have the same issue with a private Nuget feed I use in VS Team Services.  The nuget.exe 3.5 beta trick appears to work for a restore, but I'd prefer to have the normal restore features of dotnet CLI work so I don't have to remember this trick two years from now.  I work in an enterprise IT environment and I've always sighed when I have to work with projects that have all these dependency resolut

[2016-06-03 17:36] brthor opened #3368 "Make CI Build NuGet Cache Independent"
Today our CI build nuget cache is placed in the parent directory of the CI workspace to prevent it from being wiped out in each build to save on caching time.

This presents multiple issues:
1. If two builds are running on the same machine, with the same number of commits in each build, there is a race condition in the cache as to which version of the packages produced in the build will be present

[2016-06-03 17:38] #2912 closed

[2016-06-03 17:41] sayedihashimi commented on #3205
@rrelyea what's the NuGet issue?

[2016-06-03 18:02] ivaylokenov commented on #3366
I solved the problem by adding these lines to each `.xproj` file:

[code]

Still it would be nice to have a built-in solution, because when I add new project, I need to add the above lines manually every time.

[2016-06-03 18:26] joelverhagen commented on #3205
@sayedihashimi, https://github.com/NuGet/Home/issues/2865.

[2016-06-03 19:32] gregg-miskelly opened #3371 ".NET CLI Installer fails with error 0x80070666 if newer CRT is installed"
## Steps to reproduce
1. Install VS 2015 + Update 3 RC candidate. If you are a Microsoft employee, you can obtain these machines from http://xlab
2. Download the CLI installer from https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/Latest/dotnet-dev-win-x64.latest.exe and try to run it.

## Expected  behavior
Install succeeds

## Actual behavior
Install fails with this error 0x80070

[2016-06-03 19:36] vijayrkn commented on #1327
/cc @livarcocc

[2016-06-03 19:36] ryanbrandenburg commented on #3145
After re-acquainting myself with this problem on returning from vacation I found that this is only true of `ConditionalTheory`'s, not of `Theory`'s in general.

And to answer your question @piotrpMSFT yes, this behavior doesn't show when running in the console, only in VS running `dotnet-test-xunit`.

Here's a quick test class that I whipped up while confirming everything:
[code]
It's my understan

[2016-06-03 19:43] rrelyea opened #3372 "dotnet build needs to support nuget fallback package folder"
to work in concert with: https://github.com/NuGet/Home/issues/2899, dotnet build will need to understand the fallback package folder, and look at it after the nuget package folder, and before the app and shared framework.
@ericstj

[2016-06-03 20:14] brthor commented on #3339
@jamesqo What you're doing here is sufficient to point the cli at your local package sources. In fact you can see which feeds were used:

[code]

What is more interesting is the version mismatch between System.Collections (` 4.0.11-rc4-24121-0`) and runtime.any.System.Collections (`4.0.11-rc4-24201-0`).

I would highly recommend you don't use * and target specific versions in your project.json and

[2016-06-03 20:16] #3079 closed

[2016-06-03 20:48] brianrob commented on #3146
Assigning to @JohnChen0 for further investigation.

[2016-06-03 23:54] javiercn opened #3377 "Update JSON.NET to 9.0.1"
It has support for NetStandard and allows to remove imports from project.json, we want to update ASP.NET to use it, but it is causing issues with our test runner.

[2016-06-03 23:54] javiercn commented on #3377
@Eilon @pranavkm

[2016-06-04 01:34] GuardRex opened #3379 "Assembly not found: Microsoft.CSharp"
## Steps to reproduce
My portable test app won't run this evening. I'm getting a missing assembly exception.

If you need a repro, let me know, but this app is akin to the cli-samples MVC app.

I noted that the build was failing for `dotnet cli`, but that shouldn't matter, correct? I mean the `Download` link is going to link last good build of `dotnet cli`, right? [EDIT] I rolled back my `dotnet c

[2016-06-04 08:07] ericstj opened #3381 "Get a warning when referencing a package that has a inbox facade on desktop"
## Steps to reproduce

Create a project with the following:

[code]

Restore it, works fine, no warnings.  Build it.
## Expected  behavior

No warnings
## Actual behavior

warning NU1007: Dependency specified was System.Linq.Parallel >= 4.0.1-rc3-24201-00 but ended up with System.Linq.Parallel 4.0.0.0
## Environment data

`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-002877)

Pr

[2016-06-04 13:46] RehanSaeed opened #3382 "How to Enable Randomized Hashes"
How can I enable [randomized hashes](https://msdn.microsoft.com/library/jj152924.aspx) in an xproj project. Normally done like so:

[code]

Do I use the web.config file? Do I use the `runtimeOptions` section of project.json? Is this setting available and working for .NET Core? Lots of questions about this obscure setting.

[2016-06-04 15:11] davidfowl commented on #3382
Are you asking specifically about .NET Core?

[2016-06-04 16:20] MarkPflug opened #3383 "Adding a file resource to a resx doesn't work as expected"
## Steps to reproduce
Create a new project, class library (.netcore).
Add a Resources.resx to the project.
Add a file TestResource.txt to the file, containing "test text".
Open the Resources.resx file.
Select Files from the resource type dropdown.
Drag the TestResource.txt file into the resx designer.
Compile.
Inspect the compiled assembly (ilspy).

## Expected  behavior
The compiled resource cont

[2016-06-04 17:55] eerhardt commented on #3366
It seems like `dotnet pack` should allow for file globbing, just like `dotnet build` does:

`dotnet pack src/**/project.json` would pack all projects under the `src` folder.

Looking at the code, it looks like `build` supports this, but `pack` doesn't.

[2016-06-04 21:27] niemyjski opened #3385 "StackOverflowException when a project references itself"
Running RC2 on Windows 10 x64 (fully updated)

![screen shot 2016-06-04 at 4 20 17 pm](https://cloud.githubusercontent.com/assets/1020579/15802220/f9ff2cd4-2a70-11e6-8c3a-6ba01b8089bc.png)

[code]

[code]

I have a mini dump and made a zip of my code directory that throws this error.

[2016-06-04 21:30] niemyjski commented on #3385
Just let me know where you want me to upload the files, or I'm free for a remote meeting...

[2016-06-04 21:50] niemyjski commented on #3385
I found the issue... I renamed a project and here's what you need to reproduce...

## \ProjectA\project.json
[code]

This shouldn't build or restore as it references itself but it does.

## \ProjectB\project.json
[code]

This fails to restore and causes a stack overflow exception on `dotnet build`

[2016-06-04 22:36] niemyjski commented on #3385
stream of me tracking it down https://www.livecoding.tv/niemyjski/videos/raN1x-exceptionless-net-standard-support-2 (about 3 minutes in)

[2016-06-05 02:47] ahumeniy opened #3387 "Build does not honor the runtime setting"
## Steps to reproduce

On X64 machine run:

`dotnet build -c release -r win7-x86`
## Expected  behavior

It should generate x86 assemblies
## Actual behavior

Generates x64 instead
## Environment data

`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Window

[2016-06-05 03:53] shootdaj commented on #317
@blackdwarf If ARM support for CLI is not planned, how are we supposed to publish applications to win10-arm? Seems like you cannot publish for win10-arm using a regular x64 machine, and since you don't plan on adding support for arm to CLI, I don't see how we can accomplish running .NET programs on arm machines.

[2016-06-05 05:39] shootdaj commented on #1728
@mylibero Can you tell me how I can use the dotnet CLI to build/publish a .NET Core RC2 application to Raspberry Pi with Windows IoT? I read that you have to actually build the CLI on the ARM platform itself for the output to be compatible with ARM. It seems that you were able to cross-build it on the x64 platform. How were you able to do that? And is the output dotnet.exe runnable on a Raspberry

[2016-06-05 06:45] GuardRex commented on #3387
@ahumeniy See: https://github.com/dotnet/cli/issues/3091#issuecomment-221621415

You prob need to uninstall x64 and install x86. They mention an open tooling issue, so they're aware of the problem.

[2016-06-05 08:53] kedare commented on #1161
Hmm same problem on my setup even with openssl installed :

[code]

On 1.0.0-preview2-002973

How can I solve this ?

[2016-06-05 10:28] RehanSaeed commented on #3382
Both .NET Core and .NET Framework in an xproj project using project.json.

[2016-06-05 12:19] dazinator commented on #3171
Can someone confirm - is this the same for `NETStandard.Library` too?

[2016-06-05 13:29] thild commented on #3054
Please, add package authoring for openSUSE Tumbleweed to.

[2016-06-05 14:05] dazinator commented on #3171
I'll raise a new issue.

[2016-06-06 01:18] vincentshow commented on #3311
can somebody give me any help? am i in a wrong room?

[2016-06-06 03:22] troydai commented on #3347
@brthor can you find me a recent case of such failure?

[2016-06-06 03:40] eerhardt commented on #3347
6 legs failed here:  https://github.com/dotnet/cli/pull/3388

[2016-06-06 04:19] troydai commented on #3347
Thanks. I'm starting a PR to test my theory here: https://github.com/dotnet/cli/pull/3389

[2016-06-06 04:42] troydai commented on #3347
Expanding the timeout to 20 seconds pass all the tests run in first try: https://github.com/dotnet/cli/pull/3389

[2016-06-06 06:00] jskeet commented on #1385
I arrived at this issue due to looking for something like the `--` separator within dotnet test. I'm lucky I *did* get here though, given that the title of the issue is specifically about dotnet run.

Could I suggest that either the issue title is changed, or a new issue is raised specifically about dotnet test? Basically, I'd be entirely in favour of supporting `--` as a separator between argumen

[2016-06-06 08:02] tebeco commented on #3065
@brthor  @degrim
Sry but i'll have to bump this post against since there's really an issue with dotnet.exe since "nuget.exe" is working ... please at least give us a hint you just read the previous all block posted that tend to indicate that something is not going well

*Lots of company use NTLM proxy as you have seen from the HUGE number of people requesting (or going after auth & proxy)*
We're t

[2016-06-06 11:40] timotyweis commented on #3199
@barynov Here you go

[2016-06-06 12:24] AlbertoMonteiro opened #3390 "Self-contained applications in Linux does not work"
## Steps to reproduce

+ `mkdir hwapp`
+ `cd hwapp`
+ `dotnet new`
+ Modify project.json to match self-contained app
[code]
+ `dotnet restore`
+ `dotnet publish -o out`
+ `cd out`
+ `hwapp`

## Expected  behavior

Print Hello World!

## Actual behavior

[code]

## Environment data
[code]

[2016-06-06 12:36] alexandru-calinoiu commented on #3016
@smitpatel do you mind eloborating on your explanation, I hit the same issue today and adding `Microsoft.NETCore.Platforms` worked.

What is `RID` graph?

[2016-06-06 12:50] Angelixion opened #3391 "Exclude folder from deploy"
I want to exclude a folder for deployment and I cant find a way to do so.

I have a folder 'logs' that I dont want to delete/update/add when i deploy, but i want to delete/update/add everything else.

Right now because in my publish doesnt exist the folder 'logs'(is excluded in publish) it will delete the folder in the server when deployed.

Thanks for your time.

[2016-06-06 13:13] MartinJohns opened #3392 "dotnet build with glob throws NRE"
## Steps to reproduce

Project layout:
- /src/projectA/project.json
- /src/projectB/project.json

Current folder: **/** (solution root)
Command: dotnet build src/**
## Expected  behavior

Locates all `project.json` within the `src` folder and builds the projects. Ignores not `project.json` files.
## Actual behavior

Error message:
`Object reference not set to an instance of an object.`

Probably b

[2016-06-06 13:32] soeron commented on #3387
I had both installed and dotnet is not respecting this in anyway.
The tooling isn't ready either. Wherever I add the platform it always generates the one which is installed or x64 if both are installed. This is problem for publish also, because it looks for the wrong folder in the build folder.

[2016-06-06 13:38] soeron commented on #3363
Setting output directory should be available for every step and any configuration of the build process. For the obj folder and for compile output, and it should be respected by the dotnet command and not adding things like in https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/OutputPathsCalculator.cs#L33 and few lines down.

[2016-06-06 15:12] GuardRex commented on #3387
I think they'll be fixing it under https://github.com/aspnet/Tooling/issues/522, and they'll update there as they make progress with it.

[2016-06-06 15:18] DamianEdwards opened #3396 "Localized satellite packages are incorrectly marked as incompatible by the CLI"
## Steps to reproduce

Create a console application and add a reference to `"Humanizer": "2.0.1"`, then run `dotnet restore`
## Expected  behavior

Restore completes successfully.
## Actual behavior

CLI states that the satellite packages aren't compatible with netcoreapp1.0
This seems to be due to those packages only contained resources, and no runtime, ref or lib assets, and the CLI currently do

[2016-06-06 15:21] davidfowl commented on #3396
/cc @yishaigalatzer @rrelyea  @emgarten Can we expose the nuget compatibility check via an API that the CLI can use?

[2016-06-06 15:23] yishaigalatzer commented on #3396
We don't have actual public APIs on the NuGet packages (as in nothing we can commit to be fully stable), but we can definitely share how to run the check. @joelverhagen can you drop a sample here?

[2016-06-06 15:35] davidfowl commented on #3396
We have a check but it's out of date. It would be great if we could call into something, even if it wasn't a good API. The cli and nuget ship in the same app so it's impossible to update nuget outside of the cli (as a cli user) so the risk of breaking is low

[2016-06-06 15:37] Eilon commented on #3377
@piotrpMSFT can you have someone take a look at this today? Thanks!

[2016-06-06 15:43] yishaigalatzer commented on #3396
@davidfowl agreed. We are taking a look right now

[2016-06-06 15:54] brthor commented on #3065
The nuget.xplat client dotnet restore forwards to is not the same code as the nuget.exe which runs against the desktop .NET framework.

This is likely the reason for the discrepancy you are seeing between the two.

`dotnet restore` does nothing but invoke this dll, so there is no logic to debug in `dotnet restore` itself, and nothing we can do on the side of the cli.

Please move this issue to htt

[2016-06-06 15:54] #3065 closed

[2016-06-06 15:56] emgarten commented on #3065
This issue is tracked for nuget here: https://github.com/NuGet/Home/issues/2393

As @brthor mentions nuget.exe uses the desktop framework, dotnet.exe on the other hand targets .net core which does not contain the windows auth APIs that nuget.exe uses.

[2016-06-06 16:10] joelverhagen commented on #3396
I don't think we have a `public` API for this right now. The code certainly exists ([`CompatibilityChecker.cs`](https://github.com/NuGet/NuGet.Client/blob/ecab2955a3aed1eea6f0fcccfe696a9fb46eab60/src/NuGet.Core/NuGet.Commands/RestoreCommand/CompatibilityChecker.cs#L284-L296)), but it is marked as internal.

We should keep this issue open in dotnet/cli as well as expose a friendly API in NuGet: htt

[2016-06-06 16:13] yishaigalatzer commented on #3396
@davidfowl now that I think about it, why does the CLI even do this check? If restore succeeds it means the packages are compatible. Can you elaborate a bit?

[2016-06-06 16:17] troydai commented on #3347
@eerhardt @brthor can you please confirm if the tests are still flaky after #3389 is merged?

[2016-06-06 16:21] brthor commented on #3368
Fixed in https://github.com/dotnet/cli/pull/3370

[2016-06-06 16:36] gkhanna79 commented on #2831
@schellap Is this addressed?

[2016-06-06 16:47] davidfowl commented on #3396
Nuget does not persist all of the results of restore. We need the build and the IDE to show nice errors when a restore fails. Today this works in UWP because restore runs on build. In the cli, we try to infer diagnostics from the lock file

[2016-06-06 16:51] yishaigalatzer commented on #3396
1. I still don't understand why we try to see if a package "fits" when restore succeeds?
2. We need to work on consolidating the two systems so we don't need duplicate code paths to "figure things out". Perhaps the right thing is to capture all restore errors, which we do write to the output and surface them instead?

[2016-06-06 16:55] schellap commented on #2831
This is addressed, yes, left it open for end to end validation to go through.

[2016-06-06 17:03] billwert commented on #3315
This is still true, seemingly: Just tried with 2793.
[code]
<snip>
[code]

Even after adding cli-deps to my nuget.config I get a failure, which doesn't make sense:
[code]
Because System.Threading.Timer seems to have restored just fine:
[code]

I think it is bad that we are publishing new CLI zips that do not work. Can we either make sure they will work or stop publishing them until they do?

[2016-06-06 17:14] eerhardt commented on #3347
I've only seen good builds so far.  Haven't seen a Dth test failure this morning.

So far, so good.

[2016-06-06 17:28] piotrpMSFT opened #3400 "CLI Windows Installer Title/ARP string still uses `Preview1`"
## Steps to reproduce
Run Windows Installer

## Expected  behavior
Product name in title, install UI, ARP, should read 'Preview2'

## Actual behavior
Product name in title, install UI, ARP, reads 'Preview1'

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-002973)

Product Information:
 Version:            1.0.0-preview2-002973
 Commit SHA-1 hash:  512287ec03

R

[2016-06-06 17:31] piotrpMSFT opened #3401 "CLI Windows Installer shows "Dotnet CLI with Signing (Windows) [x64] [rel.1.0.0-preview2] 20160604.2""
## Steps to reproduce
Run the Windows installer and examine `User Account Control` UI

## Expected  behavior
Program Name is `Microsoft .NET Core 1.0.0 RC2 - SDK Preview 2 (x64)`

## Actual behavior
Program Name is `Dotnet CLI with Signing (Windows) [x64] [rel.1.0.0-preview2] 20160604.2`

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-002973)

Product Informat

[2016-06-06 17:36] brthor commented on #3401
That is a weird one.

Do we want to include the build number in the program name?

[2016-06-06 17:49] troydai commented on #3347
Great. Let's keep this issue open for a few more days.

[2016-06-06 17:53] piotrpMSFT commented on #3401
@blackdwarf

[2016-06-06 17:54] piotrpMSFT commented on #3400
@blackdwarf

[2016-06-06 17:57] piotrpMSFT commented on #3392
This usage of globbing is not supported in CLI. However, we do need to fix the error message.

We do need coverage for this scenario, but it's not on the immediate roadmap.

[2016-06-06 17:58] piotrpMSFT commented on #3391
there is not a `dotnet deploy` verb. Can you provide a repro?

[2016-06-06 18:02] brthor commented on #3400
This probably needs to change across all the installers, I will look into it.

[2016-06-06 18:07] davidfowl commented on #3396
Restore succeeds and always writes the lock file (regardless of failure). Build and the project model server want to show the same errors that restore showed. To do that, it tries to repeat the compatibility check to make sure things got resolved.

That's the entire purpose of this request. The errors need to be persisted in *some* format, preferably the lock file since that's what we use for ever

[2016-06-06 18:29] blackdwarf commented on #3401
@brthor nope, .NET Core's next release (the runtime) is RTM. This *is* weird. We should match the product's name and I don't think that the build number in UAC is required.

[2016-06-06 18:45] blackdwarf opened #3404 "The users should be informed when running CLI command(s) for the first time that Telemetry is on"
We need a piece of info for users that is displayed on first run of the dotnet CLI commands that provides more details about the Telemetry that CLI collects.

This text should contain the following items:

- The fact that the telemetry is being collected
- How to turn it off (opt-out)
- A link to a more detailed explanation that will be in the documentation

To be clear, we are not chaning the opt

[2016-06-06 19:17] MartinJohns commented on #3392
It is not? It seemed to work when using `src/**/project.json`.

[2016-06-06 19:35] thild commented on #3054
Please, add openSUSE Tumbleweed support also.

[2016-06-06 19:41] brthor commented on #3401
To confirm, this is what the string should be?
`Microsoft .NET Core 1.0.0 RTM - SDK Preview 2 (x64)`

[2016-06-06 19:53] blackdwarf commented on #3401
Working on it. Need to get the official branding stuff. Based on what I currently know the "RTM" in the string above is not needed.

[2016-06-06 20:03] piotrpMSFT commented on #3390
@AlbertoMonteiro can you share the contents of the `out` directory?

You should also try running `./hwapp`. @brthor suspects this is the issue here.

[2016-06-06 20:04] piotrpMSFT commented on #3387
@ahumeniy can you share a more complete repro? What project are you building?

[2016-06-06 20:08] brthor commented on #3390
@AlbertoMonteiro I am not able to repro this when using `./hwapp`

This is a linux shell requirement, and not something we control in the cli.

[2016-06-06 20:08] #3390 closed

[2016-06-06 20:12] piotrpMSFT commented on #3385
Thanks for reporting this, @niemyjski

I repro'd this with `dotnet new`. The generated `project.json` was modified to add a dependency to itself.

`restore` prints:
[code]

while `build` prints:
[code]

[2016-06-06 20:15] piotrpMSFT commented on #3383
moved this bug to aspnet/tooling repo

[2016-06-06 20:15] #3383 closed

[2016-06-06 20:21] sokket commented on #3385
Looking now

[2016-06-06 20:31] tarekgh commented on #3382
@RehanSaeed UseRandomizedStringHashAlgorithm is already enabled by default in net core so you don't have to do anything to enable it there. for the full/desktop framework, you can use the config file to enable it.

[2016-06-06 20:35] piotrpMSFT commented on #3381
The check that produces NU1007 is here: https://github.com/dotnet/cli/blame/e68a49e1d52bb4f85f63192d95598e559da1af33/src/Microsoft.DotNet.ProjectModel/Resolution/LibraryManager.cs#L116

@davidfowl can you look at the logic and propose a fix?

[2016-06-06 20:48] piotrpMSFT commented on #3382
Thanks @tarekgh !

[2016-06-06 20:48] #3382 closed

[2016-06-06 20:55] jasonwilliams200OK commented on #3392
I can confirm that `dotnet build **/project.json` works just fine and builds all the projects in the nested directories on Unix and Windows. Globing is definitely supported.

[2016-06-06 21:02] NinoFloris opened #3406 "dotnet build needs to have --packages <dir> equivalent to work with custom dotnet restore --packages"
Currently (only by symlinking) for dotnet build there is no way to set the packages folder and it errors out with unresolved package errors.

This is useful for build tools to be able to specify

[2016-06-06 21:10] blackdwarf commented on #3367
@patrickjamesbarry these are good questions. At this point, we are still working through the details of how the alignment towards msbuild and the new csproj project format will work and how will it look, so we don't have a crystal clear answer for these questions. When we have more data we will share, so stay tuned.

[2016-06-06 21:10] #3367 closed

[2016-06-06 21:21] sokket commented on #3377
Looking now

[2016-06-06 21:21] sokket commented on #3377
Running a local build + test of the changes

[2016-06-06 21:22] niemyjski opened #3408 "[OSX] dotnet run crashes if build is required and the process is running."
I was debugging in Visual Studio Code and didn't realize it.. I then went and made some changes to the code and wanted to run it in the regular terminal.

I then went and did dotnet run and watched it fail, then I did it again and it failed again and on the third time it crashed hard (osx said dotnet stopped and asked if I wanted to report it). I then killed the debugger and couldn't get the app t

[2016-06-06 21:30] piotrpMSFT opened #3409 "Standardize usage of globbing across CLI verbs"
`dotnet build` supports globbing pattern inputs, while publish, pack, test do not. We need to decide the intended usage of globbing and standardize it across verbs.

/cc @pakrym who added globbing to `build` for thoughts on why we only added globbing in `build`

[2016-06-06 21:30] brthor commented on #3406
This is a dupe of #2712

[2016-06-06 21:30] #3406 closed

[2016-06-06 21:31] piotrpMSFT commented on #3366
@ivaylokenov has resolved the issue in this bug. I've also opened https://github.com/dotnet/cli/issues/3409 to track the more general `glob all the verbs` concern.

[2016-06-06 21:31] #3366 closed

[2016-06-06 21:31] brthor commented on #2712
A workaround for this is to set the environment variable
`NUGET_PACKAGES` to the packages directory before running the `dotnet build` process.

[2016-06-06 21:34] brthor commented on #3409
This will have interesting ramifications in bash where `**` for example is evaluated before being passed off to the process.

[2016-06-06 21:37] piotrpMSFT commented on #3372
@livarcocc @ericstj is this a preview2 issue?

[2016-06-06 21:37] pakrym commented on #3409
We added globbing to build for performance reasons, when you do `dotnet build src\**\project.json` all lock files are read only once and incremental checks are ran once too, for solutions with many projects this brings measurable speed improvement.

[2016-06-06 21:39] piotrpMSFT commented on #3365
being able to better manipulate the version string globally is an interesting feature which we should eventually get to.

[2016-06-06 21:43] moozzyk opened #3410 "Setup Failed"
I am trying to install: 1.0.0-preview2-002973 from https://github.com/dotnet/cli

![image](https://cloud.githubusercontent.com/assets/1438884/15838660/2527e016-2bf4-11e6-860e-dd6e66184ca9.png)

I think the issue is caused by VC redist. I did install a VS Update3 RC last week. Log file:

[Microsoft_.NET_Core_1.0.0_RC2_-_SDK_Preview_1_(x64)_20160606143541.log.txt](https://github.com/dotnet/cli/files

[2016-06-06 21:48] piotrpMSFT commented on #3410
Dupe of https://github.com/dotnet/cli/issues/3371

[2016-06-06 21:48] #3410 closed

[2016-06-06 22:08] #2289 closed

[2016-06-06 23:43] manu-silicon commented on #3232
Got it working as mentionned before it was due to some mismatch between the referenced assemblies I used (in particular System.Text.RegularExpressions.dll which was version 4.1.0.0 in the reference assemblies, but 4.0.12.xxx as actual version, I simply downgraded the reference assembly to 4.0.10 to make it working).

In any case, I'll still need to figure out the 0x80070057. I'll ask over in CoreC

[2016-06-06 23:54] GuardRex commented on #3379
@piotrpMSFT Any idea on this one ...
[code]
My portable test app (without changes) was publishing and running a week or two ago; but over successive `dotnet cli` versions recently, it's failing with this request for CSharp.

[2016-06-06 23:58] piotrpMSFT commented on #3371
The team is aware of this issue and is working with VC team on a solution.

[2016-06-06 23:59] piotrpMSFT commented on #3362
/cc @pakrym

[2016-06-07 00:00] piotrpMSFT commented on #3360
@JakeGinnivan what is the command that produces this error message?

[2016-06-07 00:02] yishaigalatzer commented on #3205
@dmikov moving to project.json next to the csproj doesn't move you to xproj. It is only used to define the nuget package dependencies.

If you can share your project here (or `support@nuget.org`), and we can try converting it for you.

[2016-06-07 00:05] piotrpMSFT commented on #3356
@sokket can you take a look?

[2016-06-07 00:07] piotrpMSFT commented on #3347
Is 20s the worst-case execution time for these tests? Or is it a constant 20s?

[2016-06-07 00:07] piotrpMSFT commented on #3345
@ericstj I assume this needs to happen for preview2?

[2016-06-07 00:10] piotrpMSFT commented on #3344
Moved to https://github.com/dotnet/corefx/issues/9201

[2016-06-07 00:10] #3344 closed

[2016-06-07 00:14] piotrpMSFT commented on #3342
There has not, thus far, been an intention to differentiate `run` from direct execution. What scenario does the current behavior block?

/cc @blackdwarf @davidfowl

[2016-06-07 00:15] #3340 closed

[2016-06-07 00:17] piotrpMSFT commented on #3339
You may also want to reverse the order of feeds so yours is preferred.

[2016-06-07 00:18] #3339 closed

[2016-06-07 00:25] piotrpMSFT commented on #3311
1.0.0-beta-001598 is a very old build. RC2/Preview1 shipped as 1.0.0-preview1-002702. Can you grab the installers from [here](https://www.microsoft.com/net/download) and give it a shot?

[2016-06-07 00:34] ahumeniy commented on #3387
@piotrpMSFT It's just like the linked issue. If I work in a machine with Windows 10 x64, the MSI for .NET Core SDK install the 64-bit tools and there's no way to build the project into 32-bit. This happens at least when I create a ASP.NET Core project using the .NET Framework only and not .NET Core (I'm using a library not available for .NET Core, that's why).

I tried adding the "win7-x86" runtim

[2016-06-07 00:36] NTaylorMullen opened #3415 "Desktop binding redirects can be generated incorrectly when built multiple times - Explosions at runtime"
## Steps to reproduce
- Create project:

[code]

[code]
- `dotnet restore` original project
- `dotnet build` original project, binding redirect has Newtonsoft entries:

[code]
- Create a second project `SomeDependencyProject`

[code]

[code]
- `dotnet restore` the dep project
- `dotnet build` the dep project
- Reference `SomeDependencyProject` in your original project.
- `dotnet restore` original

[2016-06-07 00:42] ahumeniy commented on #3387
I published the project here on GitHub if you want to check out.

https://github.com/ahumeniy/RawPrintService

[2016-06-07 00:46] schellap commented on #3232
@manu-silicon, Could you please pastebin the `export COREHOST_TRACE=1`?

[2016-06-07 00:52] rprouse commented on #2252
I am working on the NUnit runner, so adding a question for whoever ends up implementing this; will a Traits collection be added to `Microsoft.Extensions.Testing.Abstractions.Test` to be populated by the `dotnet-test-*` runner in discovery? I am currently populating the Properties collection with our properties and categories (traits), but I don't see any evidence of them in Visual Studio.

[2016-06-07 01:06] ahumeniy commented on #3387
Also, this happens with ASPNet Core projects only. Classic .NET projects and UWP projects compile fine with the corresponding architecture.

[2016-06-07 01:26] piotrpMSFT opened #3416 "Provide `matching` Shared Framework Deb link in Readme.md"
The download links in Readme.md point to the `latest` available installers for all components. Since the Shared Framework builds independently of the CLI, the `latest` Shared Framework is sometimes newer than that which `dotnet new` references in the `latest` CLI. This is typically invisible since folks will use a bundled installer for Mac and Windows. In the case of Ubuntu, however, where users m

[2016-06-07 01:27] piotrpMSFT commented on #3320
@brthor may have looked into this already, but I have some guesses as to what is going on.

The original install issue is due to a newer Shared Framework being available as `latest` while a new CLI has not yet been built. We should probably provide an additional link to install the `matching` Shared Framework in the windows of time wherein `latest` is newer than `matching`. I created issue https:/

[2016-06-07 01:27] piotrpMSFT commented on #3320
@nathana1 please try adding the above referenced myget feed to your NuGet configuration and give restore a shot. Alternatively, you can do `dotnet restore -f https://github.com/dotnet/cli/issues/3416`

[2016-06-07 01:30] piotrpMSFT commented on #3318
@billwert already merged #3229 which was supposed to have dealt with this issue. Is there a regression?

[2016-06-07 01:35] piotrpMSFT commented on #3310
Since this is a toolign issue, moved to aspnet/Tooling repo.

[2016-06-07 01:35] #3310 closed

[2016-06-07 01:37] piotrpMSFT commented on #3306
Correct. Package owners should be updating their packages so that the new validation mechanisms included in CLI's NuGet can validate package contents without the use of `imports` statements.

[2016-06-07 01:37] #3306 closed

[2016-06-07 01:42] piotrpMSFT commented on #3298
We started CentOS support with 7.1 and don't have plans to pursue earlier versions. I do hope that folks in the community might comment on this issue with a solution, however!

[2016-06-07 01:42] #3298 closed

[2016-06-07 01:43] piotrpMSFT commented on #3296
just tested the link and found the same as @vcsjones!

[2016-06-07 01:43] #3296 closed

[2016-06-07 01:56] piotrpMSFT commented on #3294
@rrelyea once we move `dotnet pack` to use `nuget`'s implementation will this behavior be addressed?

I'm moving the issue to `backlog` since we don't want to impact `pack` until the implementation is swapped.

[2016-06-07 01:57] henrylle commented on #3390
I have the same problem, but after exec ./hwapp I get this below error:
_"Failed to load /home/ubuntu/teste-dotnet-rc2/libcoreclr.so, error: libunwind.so.8: cannot open shared object file: No such file or directory"_

[2016-06-07 02:08] piotrpMSFT commented on #3289
@danroth27 can you help route this?

[2016-06-07 02:12] piotrpMSFT commented on #3288
@rrelyea can you take a look at this one?

[2016-06-07 02:13] piotrpMSFT commented on #3285
@ajaybhargavb

[2016-06-07 02:15] manu-silicon commented on #3232
Here is the output: [log.txt](https://github.com/dotnet/cli/files/301710/log.txt)

[2016-06-07 02:19] piotrpMSFT commented on #2985
Since there was no followup I'm assuming some luck was found :D

[2016-06-07 02:19] #2985 closed

[2016-06-07 03:12] eerhardt commented on #3315
@billwert - if you want to override your NuGet package directory, an easy way to do that is:

`set NUGET_PACKAGES=D:\work\2973new\here`

This env var is used in in the CLI and NuGet to know where to find your NuGet package cache.

From a [comment in the code](https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/Resolution/PackageDependencyProvider.cs#L159-L165):

[code]

[2016-06-07 03:24] danroth27 commented on #3289
@zigzag95 @Tratcher When running directly from a console app you are running on top of Kestrel, our cross-platform managed web server. Since Windows authentication is platform specific it is not available when running on Kestrel. When running in VS you are actually running behind IIS Express, which does support Windows authentication.

[2016-06-07 03:24] #3289 closed

[2016-06-07 03:39] GuardRex commented on #3379
I've been playing with this a bit, and there is some kind of mis-match between the dep graph of published output and the installed SDK. This is in spite of downloading the latest SDK and installing it. If I run the VS Code debugger, the app runs. If I try to run it manually `dotnet .\testshared.dll` it breaks with this exception. Anyway ... no other complaints, so I think this is a local problem h

[2016-06-07 03:39] #3379 closed

[2016-06-07 03:52] Tratcher commented on #3289
Note if you are using WebListener this has changed for RC2 as follows:
[code]

[2016-06-07 04:19] mylibero commented on #1728
@shootdaj dotnet.exe is just a rename of corehost. Note that corehost is now moved to core-setup.
Compiling corehost for ARM is possible now. Other files except dotnet.exe are platform independent.
So, you can run dotnet-cli on ARM, but I doubt if it would build your project for ARM yet.
Alternatively, if your project does not have native code, you can just build it on x64 and run it on RPi.

[2016-06-07 05:00] ericstj commented on #3315
Shouldn't we make any command that needs packages support the --packages switch?

[2016-06-07 06:04] ac-esousa commented on #869
I have just upgrade my project to RC2, and test it again. With new `dotnet` command line, everything work fine.

[2016-06-07 06:04] #869 closed

[2016-06-07 06:06] LinusEkstrom commented on #2802
I noticed this when the containing folder name for my project contained spaces. I removed all spaces from the project name and files, but I could not compile until I also removed a white space in the folder that the project was located in.

[2016-06-07 06:17] troydai commented on #3347
it's just the worst case. the test execution time won't change if all expected requests are sent.

[2016-06-07 06:17] jasonwilliams200OK commented on #3205
@yishaigalatzer, we are using libraries as submodule which we don't own. So getting every upstream repo owner to agree on having `project.json` for our use-case with all of their csprojs is not a viable option and expensive thing to achieve, especially when everything is building with VS just fine.

This seems very much like a dotnet cli bug or one of its constituents.

[2016-06-07 06:32] nmtoan07 commented on #3117
@shivajiraot : If you're using window7, try install Windows Management Framework 5.0
https://www.microsoft.com/en-us/download/details.aspx?id=50395

I have the similar too, and i solved that problem by Windows Management Framework 5.0 installed

Hope it helps!

[2016-06-07 09:03] daimonfx commented on #3286
I have experienced with same issue in visual studio 2015 and asp.net core rc2 when using web deploy with azure app services.

[2016-06-07 11:33] AlbertoMonteiro commented on #3390
@brthor It worked on the machined(ubuntu.14.04-x64) that I ran the publish command. I copied the output to another Linux distro(AWS Linux), and I got the same error pointed by @henrylle

[2016-06-07 11:56] MartinJohns commented on #3392
@piotrpMSFT Since you say it's not supported in the CLI, yet it works.. Could you provide a link to the specifications of the CLI that describes what it **should** support?

[2016-06-07 12:45] onovotny opened #3418 "Platform dependencies not differentiated in lock file"
## Steps to reproduce
Create a new project that includes a dependency of type `platform`. Run nuget restore/dotnet restore to create the lock file.

## Expected  behavior
The dependency type in the lock file should be `platform`

## Actual behavior
The dependency type is `package`.

This loses information from the `project.json` and makes it harder for tools that need to know the difference.

## E

[2016-06-07 13:18] skushubar opened #3419 "Asp.Net Core RC2 Error "Failed to make the following project runnable""
## Steps to reproduce

I have a MVC project I have just upgraded to RC2 and is checked into version control.  When I build the project with "dotnet build" I get an access denied error on the config file.  If I checkout app.config (e.g. remove the read only flag) it will build successfully.
## Expected  behavior

Project should build.
## Actual behavior

I get the error:

Failed to make the followi

[2016-06-07 13:35] MubienN commented on #3286
Temporary fix as stated [here](https://github.com/aspnet/Mvc/issues/4645) is to add

[2016-06-07 13:38] eerhardt commented on #3315
Maybe. It would likely be all of them sans `dotnet new`. `build` would need it, and `run`, `test`, `pack` and `publish` all need to call `build.

Another way to think about it is:  why does `dotnet restore` need this option when there are so many other ways to specify where the NuGet packages should be cached? How many ways do we need?

[2016-06-07 14:10] tuespetre commented on #3342
@piotrpMSFT I don't know that it would *have to be* a distinction between `run` and direct execution if that bit of data could be supplied by `build` in the `exe.config` or whatever. Then other tools for publishing and deployment and whatever else could manipulate the value as needed for their use cases.

That bit of data would just allow the running application to know where its 'stuff' is withou

[2016-06-07 14:17] avikenjale opened #3420 "Hosting Environment not detected"
I am using Visual Studio code to develop a ASP.NET Core MVC app. I made necessary changes and it application is running fine thru command line. However when I see default it is showing `Hosting environment: Production` . So I added `properties\launchSettings.json` file with following properties
[code]

## Expected  behavior
- This Suppose to change  `Hosting environment: Production` to  `Hosting e

[2016-06-07 14:42] onovotny commented on #3418
/cc @theesj among other things, I need this for the Reference Generator tool to properly generate package dependencies. For transitive refs, there's no real way of finding out the type either as every project.json file in the path would need to be read.

[2016-06-07 15:01] onovotny commented on #3418
Ditto with `build` dependencies. In the lock file, they also show up as `package`. I need that information to be expanded/carried along with transitive refs.

[2016-06-07 15:26] sayedihashimi opened #3421 "Change dotnet new to create portable pdbs by default"
The current experience for VS Code users is not ideal for debugging when running on Mac/Linux because you cannot step into a break point until you update `project.json` to produce portable pdbs by default.

We would like to default this to create portable pdbs when running `dotnet build`, but after some discussions we feel that is too risky for 1.0 RTM. Instead for 1.0 RTM we would like to update

[2016-06-07 15:27] sayedihashimi opened #3422 "Change dotnet build to create portable pdbs by default"
The current experience for VS Code users is not ideal for debugging when running on Mac/Linux because you cannot step into a break point until you update `project.json` to produce portable pdbs by default.

When `dotnet build` is executed it should produce portable pdbs by default if it's not already configured in `project.json`.

Related to #3421

[2016-06-07 15:47] muratg commented on #3356
@sokket @piotrpMSFT I think the nuget change is on its way (cc @rohit21agrawal, @rrelyea) so you won't be bringing this transitively once you get that particular nuget build.

[2016-06-07 15:53] muratg commented on #3415
cc @Petermarcu @piotrpMSFT

[2016-06-07 16:31] brthor commented on #3390
@henrylle @AlbertoMonteiro Have you installed the dependencies of .NET Core?

You can use the debian package to bring them in with the installation of the cli or you need to install them manually.

You can see the list of packages in this dockerfile:
https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/docker/ubuntu.14.04/Dockerfile#L20

[2016-06-07 17:04] brthor commented on #2802
Is the issue here that white space in the project name causes an incorrectly named `deps.json` file?

Is the same true for the `.dll` produced in the output folder?

[2016-06-07 17:06] natemcmaster opened #3424 "dotnet-pack does not update AssemblyInformationVersion if inputs have already been compiled"
## Steps to reproduce
1. `dotnet new`
2. `dotnet pack --version-suffix beta1`
3. `dotnet pack --version-suffix beta2`
## Expected  behavior

The AssemblyInformationalVersion assembly attribute in the "beta2" nupkg should be set to "1.0.0-beta2".
## Actual behavior

dotnet-pack did not recompile because the project was built by the first pack, so it produces a nupkg "beta2" where AssemblyInformatio

[2016-06-07 17:40] piotrpMSFT commented on #2958
Fixed by #3184

[2016-06-07 17:40] #2958 closed

[2016-06-07 17:41] piotrpMSFT commented on #2957
Fixed by #8860

[2016-06-07 17:41] #2957 closed

[2016-06-07 17:44] #1103 closed

[2016-06-07 17:49] piotrpMSFT commented on #2427
This has been open for two months without repro. Closing.

[2016-06-07 17:49] #2427 closed

[2016-06-07 17:54] piotrpMSFT commented on #2740
RTM/Preview2 bits will be on the download center which is CDN'd. We'll get our blob storage updated for RTM of tools.

[2016-06-07 17:55] piotrpMSFT commented on #2752
`dotnet test` will be undergoing significant changes post-preview2 so pushing this out.

[2016-06-07 17:59] piotrpMSFT commented on #3054
Fixed by #3054

[2016-06-07 18:12] rohit21agrawal commented on #3356
NuGet just finished checking in this work to dev and release-3.5.0-beta2 branches.

[2016-06-07 18:19] piotrpMSFT commented on #2116
Moved to core-setup

[2016-06-07 18:19] #2116 closed

[2016-06-07 18:20] piotrpMSFT commented on #2359
Tracked by https://github.com/dotnet/core-setup/issues/94

[2016-06-07 18:20] #2359 closed

[2016-06-07 18:20] schellap commented on #3372
Cc @muratg CLI side of work is tracked by this issue.

[2016-06-07 18:23] piotrpMSFT commented on #2582
Moved to core-setup

[2016-06-07 18:23] #2582 closed

[2016-06-07 18:24] piotrpMSFT commented on #3404
@blackdwarf do we have text?

[2016-06-07 19:27] billwert commented on #3318
I didn't do anything about the copious downgrade warnings a person could see - suppressing warnings by default seemed very bad.

[2016-06-07 19:32] ericstj commented on #3372
I believe NuGet is trying to land this for preview2.  We essentially need all commands that evaluate package paths to consider an additional path when evaluating the packages folder here: https://github.com/dotnet/cli/blob/18f9018eb9a5ea100b65170adc25f3ad6752dd2e/src/Microsoft.DotNet.ProjectModel/Resolution/PackageDependencyProvider.cs#L159

We probably wouldn't even need to do anything if CLI and

[2016-06-07 19:57] brthor commented on #3418
Thanks for the bug @onovotny we've run into this one before.

This is tracked in nuget here:
https://github.com/NuGet/Home/issues/2695

And also see previous discussion here:
https://github.com/dotnet/cli/issues/2760

Going to close out as a dupe. Recommend adding the concern for `build` type dependencies to that nuget issue.

[2016-06-07 19:57] #3418 closed

[2016-06-07 20:12] techyian commented on #2802
Hi @brthor

For myself, the deps.json file wasn't created in my project folder,  and I had to copy it from the output folder into my project folder or otherwise I received errors that it was missing.

Can you confirm whether this is expected of us, or is the dotnet tooling looking for the deps.json file in the wrong place?

Once copied, when I tried building I got the CS1022 errors. However, after

[2016-06-07 20:15] Petermarcu commented on #3421
Moved the milestone. Will @ajaybhargavb be making the PR?

[2016-06-07 20:27] thecodejunkie commented on #2752
@piotrpMSFT what changes are these?

[2016-06-07 21:35] ajaybhargavb commented on #3421
Yes. I am waiting for https://github.com/dotnet/cli/pull/3275 and https://github.com/dotnet/cli/pull/2106 to go in so I can update all of them

[2016-06-07 22:06] blackdwarf commented on #2960
Generally agree that this would be a good overall usability addition, so moving to RTM for further scoping and proper evaluation.

[2016-06-07 22:40] ericstj opened #3427 "Dotnet publish on project with 2 frameworks dumps both into same folder"
## Steps to reproduce

dotnet new
replace project.json with this https://gist.github.com/ericstj/2670a1a41c1e76ae734a310030abe5cd
- or use something simpler, key is two different frameworks with different dependencies/assets + a RID
  dotnet restore
  dotnet publish -r win7-x64 -o .\x64
## Expected  behavior

any of the folowing
1. Error saying -f must be specified
2. Choose one framework and log

[2016-06-07 22:47] mellinoe commented on #2174
I'd like to +1 this. It would be nice if `dotnet run` didn't print any extra stuff when the project is ready to run. What are others' thoughts on this?

[2016-06-07 22:48] troydai opened #3428 "dotnet restore failing after openssl is reinstalled on mac"
## Steps to reproduce
1. On a Mac where dotnet restore worked previously
2. `brew uninstall openssl`
3. `brew install openssl`
4. `dotnet restore`

The steps are inspired by restore failure happen recently on OSX travis environment.

I'm not able to recover the working environment yet.

## Expected  behavior
Restore works

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

15:

[2016-06-07 23:00] troydai commented on #3428
Need to force link: https://github.com/dotnet/corefx/blob/83d245faab882d635154b621c3d78f9ff15d8438/Documentation/building/unix-instructions.md

[2016-06-07 23:00] #3428 closed

[2016-06-07 23:17] sokket commented on #3377
Fixed, closing the issue

[2016-06-07 23:17] #3377 closed

[2016-06-07 23:17] sokket commented on #3385
Fixed

[2016-06-07 23:17] #3385 closed

[2016-06-07 23:34] eerhardt commented on #2523
The current state of this issue:

- The host respects whatever "serviceable" value is written into the deps.json file.
- NuGet does *not* currently write the "serviceable" value into the project.lock.json file: https://github.com/NuGet/Home/issues/2556
- Since the CLI doesn't know which value it should use for "serviceable", it always writes "serviceable = true" in the deps.json file for NuGet pac

[2016-06-07 23:36] pranavkm opened #3430 "Update the version of DiaSymReader to 1.0.8-rc2-60606-01"
According to `the matrix`, the current consumable build of DiaSymReader packages are:

* Microsoft.DiaSymReader 1.0.8-rc2-60606-01
* Microsoft.DiaSymReader.PortablePdb 1.1.0-beta1-60606-02
* Microsoft.DiaSymReader.Native 1.4.0-rc

Testing.Abstrations uses an older version (https://github.com/dotnet/cli/blob/0b30b148f326dfbeeb45692a06a7d258e2fc08ad/src/Microsoft.Extensions.Testing.Abstractions/proj

[2016-06-08 00:57] svick opened #3431 "Output of dotnet-cli-build is mangled on Ubuntu"
I'm building CLI on Ubuntu 14.04 from source. After build scripts are compiled, I start seeing mangled output:

[code]

Notice for example that what should be `Target` is just `arget` and what should be `[TARGET     >]` is `GET     >]`.

When I invoke `./build_projects/dotnet-cli-build/bin/dotnet-cli-build` manually, the output is the same.

When I save the output to a file, I can see it contains

[2016-06-08 00:58] patrickjamesbarry opened #3432 "Tools"
I need to create some customized build scripts and it sounds like I would need to create my own nuget package and others would add a Tools section to their project.json.  (http://dotnet.github.io/docs/core-concepts/core-sdk/cli/extensibility.html) There is hardly any documentation on this topic so far. Are there any requirements?  IE  Do I have to use rc3 nightly builds to try this, or will Tools

[2016-06-08 01:09] piotrpMSFT commented on #3431
@brthor any ideas? I've not seen this in our Ubuntu 14.04 builds...

[2016-06-08 01:11] piotrpMSFT commented on #3427
Thanks @ericstj. Since this has a simple workaround, bumping it out to preview3.

[2016-06-08 01:12] piotrpMSFT commented on #3424
@cdmihai can you look at this in preview3?

[2016-06-08 01:14] piotrpMSFT commented on #3422
Why is 1.1 the right milestone here? If we mean Runtime 1.1, that will likely map to CLI preview3 or RTM.

[2016-06-08 01:16] piotrpMSFT commented on #3420
@danroth27 @sayedihashimi can you help route this to the appropriate repo?

[2016-06-08 01:18] piotrpMSFT commented on #3419
@skushubar I'm not clear on the fix here. Are you asking for dotnet to be aware of your version control system and to check out files on your behalf?

[2016-06-08 01:18] brthor commented on #3431
I only see this on docker, but I do see it there all the time.

I don't have too many ideas here because our build scripts don't use a streamforwarder. There could be something awry in the event handlers being used to capture the output. It would take some investigation.

[2016-06-08 01:30] blackdwarf commented on #3432
@patrickjamesbarry please open an issue on dotnet/core-docs if you feel that the document you linked was not clear enough so we can make it better.

[2016-06-08 01:32] piotrpMSFT commented on #3347
can we close this?

[2016-06-08 01:40] piotrpMSFT commented on #3282
@ajaybhargavb you did the last round of these. can you pick these up?

[2016-06-08 01:41] piotrpMSFT commented on #3280
buildOptions are currently only a global setting. we will revusit before rtm.

[2016-06-08 01:43] piotrpMSFT commented on #3279
@rrelyea thoughts?

[2016-06-08 01:44] piotrpMSFT commented on #3279
@gpcottle can you move this to the nuget/home repo?

[2016-06-08 01:46] piotrpMSFT commented on #3274
At this point we only support portable tools built on netcoreapp1.0. The error message should be more meaningful, however.

[2016-06-08 01:58] sayedihashimi commented on #3420
The launchSettings.json is a Visual Studio file. It's used to set environment variables and to configure what gets launched when you F5 in Visual Studio.

[2016-06-08 02:27] svick commented on #3431
There's something strange going on in `AnsiConsole.Write`. I think this might be caused by https://github.com/dotnet/corefx/issues/9202.

[2016-06-08 03:48] avikenjale commented on #3420
Then, what if I need to apply or change environment variables where I don't have Visual Studio or suppose on Ubuntu?Just I need to change default port from 5000 to something else or hosting environment from Production to Development or Staging ?

[2016-06-08 03:53] eerhardt commented on #3421
Why not take this change instead?  https://github.com/dotnet/cli/pull/2356.  If there is no "debugType" specified - then "portable" is the default.

[2016-06-08 03:57] eerhardt commented on #3430
Isn't this already fixed with this PR:

https://github.com/dotnet/cli/pull/3414

@pranavkm - the link you specified doesn't have the latest code.  See:  https://github.com/dotnet/cli/blob/rel/1.0.0-preview2/src/Microsoft.Extensions.Testing.Abstractions/project.json#L14

[2016-06-08 03:58] eerhardt commented on #3430
I'm closing as this is already fixed.  Please re-open if you feel it isn't.

[2016-06-08 03:58] #3430 closed

[2016-06-08 04:03] eerhardt commented on #3349
Shouldn't this say `Remove corehost from the shared framework and sdk directories`?  It looks like both `corehost.exe` and `dotnet.exe` are in my shared\Microsoft.NETCore.App\version directory, and `corehost.exe` is in sdk\version.

[2016-06-08 04:04] eerhardt commented on #3059
This has been fixed.  Crossgen is enabled in both the Shared Framework and CLI for all platforms.

[2016-06-08 04:04] #3059 closed

[2016-06-08 04:07] eerhardt commented on #2831
The Crossgen change has been address in both core-setup and CLI repos.  See:

https://github.com/dotnet/core-setup/pull/106/commits/a2857af7e34d5b2fceb2cdc5ea6c3b46a6f3e6d6
and
https://github.com/dotnet/cli/pull/3425/commits/82ef0304bb2289f36a18c718b3e9f07d01992115

[2016-06-08 04:14] eerhardt commented on #3209
This is now fixed.  See https://github.com/dotnet/cli/pull/3425/commits/82ef0304bb2289f36a18c718b3e9f07d01992115.

Closing.

[2016-06-08 04:14] #3209 closed

[2016-06-08 04:17] eerhardt commented on #3054
@piotrpMSFT - I think you meant a different #, you just linked the issue with itself.

Did you mean #3278?

I think this issue can be closed now.  Any objections?

[2016-06-08 04:25] sayedihashimi commented on #3420
@avikenjale here are some links on setting environment variables in the command prompt [linux](https://www.digitalocean.com/community/tutorials/how-to-read-and-set-environmental-and-shell-variables-on-a-linux-vps) and [windows](http://superuser.com/a/79614).

[2016-06-08 04:38] gkhanna79 commented on #2831
Thanks @eerhardt. Is there anything outstanding for this issue?

[2016-06-08 05:43] johnkattenhorn commented on #3235
I've followed this issue and pulled the latest build and I get the fix but I still don't get a standalone .exe, what have I missed ?

[2016-06-08 06:11] blackdwarf commented on #3235
@johnkattenhorn can you share your `project.json`?

[2016-06-08 06:31] gdiedoardo commented on #3419
@piotrpMSFT I had the same issue but on a dll (EntityFramework.SqlServer.dll).
There is a way to tell dotnet to ignore the files' read only flag?
Thanks

[2016-06-08 07:07] troydai commented on #3347
if no one objects, I'll close this tomorrow morning.

[2016-06-08 07:44] agoretsky commented on #3387
I have the same problem. CLI always creates x64 binaries, no matter what platform specified in project.json buildOptions section. If I run command dotnet build --runtime test, it creates folder called "test" and puts there x64 binaries, is it ok?

[2016-06-08 08:36] schellap commented on #3311
Could you please check if you have https://support.microsoft.com/en-us/kb/2533623 on the server 2008?

See pre-requisites: https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/cli-prerequisites.md#windows-dependencies

`PS> get-hotfix | findstr KB2533623`

[2016-06-08 10:32] johnkattenhorn commented on #3235
Hey @blackdwarf, I figure it out just now, I needed to remove the platform line from the `project.json`.

Thanks for following it up

[2016-06-08 11:30] jpsingleton opened #3434 "dotnet run doesn't echo Console.ReadLine() as typed and doesn't show colours"
## Steps to reproduce
Run a console app that uses `Console.ReadLine()` and changes `Console.ForegroundColor`, with `dotnet run`.

## Expected  behavior
Should behave the same as running via `dotnet MyApp.dll`, echoing input as typed and showing colours.

## Actual behavior
Doesn't show console input until a newline is typed and all text is monochrome.

Tested on zsh and bash on OS X 10.11.5.

Rela

[2016-06-08 11:38] skushubar commented on #3419
@piotrpMSFT No - I'd actually like to keep the file checked in - the checkout is just a workaround to get the build to succeed.  The problem is that during the build, app.config is copied and renamed to xxx.exe.config.  It appears that once the file is copied, the config file is modified by dotnet to add (in my case at least) an assemblyBinding section.  Since the original file was copied with the

[2016-06-08 11:38] tmds commented on #3235
To run a published application, don't use `run`, just `dotnet myapp.dll`.

[2016-06-08 11:59] onovotny commented on #3166
This is blocking Humanizer

[2016-06-08 12:12] onovotny commented on #3424
Either that or don't use dotnet pack. DotNet pack cannot filter out granular references after using `netstandard.library`. I'd recommend using a nuspec and then the 2.0 version of my Reference Generator tool -- which does handle creating the granular dependency list. Also then with a nuspec, you can do whatever you want.

[2016-06-08 12:15] sayedihashimi commented on #3422
I may not have set the right milestone, please update if I got it wrong.

[2016-06-08 12:35] onovotny commented on #3189
@xperiandri https://dotnet.myget.org/gallery/dotnet-core

[2016-06-08 13:16] tonyqq commented on #3419
Do you need app.config? Check https://msdn.microsoft.com/en-us/library/ms733932%28v=vs.110%29.aspx

I had the same issue. I had file app.config in my project with the following content:
`<configuration>`
`        <runtime>`
`      <gcServer enabled="true"/>`
`   </runtime>`
`</configuration>`

I deleted app.config file and it works now.

[2016-06-08 13:58] shah-123 commented on #3419
Removing app.config fixed our issue to certain extent. We moved this app.config setting into project.json.

We are facing issue with EntityFramework.Sqlserver.dll.  We have DbContext project which needs reference to EntityFramework and RepositoryProject which needs reference to EntityFramework and references DbContext project. This is when we get EntityFramework.SqlServer error mentioned above.

W

[2016-06-08 13:58] pranavkm commented on #3430
:+1:

[2016-06-08 14:37] #3347 closed

[2016-06-08 15:12] abpiskunov commented on #2995
@troydai any updates on this issue?

[2016-06-08 15:15] troydai commented on #2995
PR is out waiting for sign off. It's preview3 issue now.

[2016-06-08 15:19] dlebedynskyi opened #3436 "Pre/Post restore script does not run"
## Steps to reproduce

have a project.json file with
[code]
run ```dotnet restore```
## Expected  behavior

`npm install` to run and node packages are restored. As it was before in RC1.
## Actual behavior

`npm install` does not run  no matter if you use `prerestore`, `postrestore`, `npm install` as an [] or not.

## Environment data
`dotnet --info` output:
[code]

[2016-06-08 15:46] niemyjski commented on #3385
Thanks!

[2016-06-08 15:49] muratg commented on #3372
cc @rohit21agrawal

[2016-06-08 17:29] eerhardt commented on #2831
The only thing that I can think of is @schellap's comment above for end to end validation.

@schellap has this occurred?

[2016-06-08 17:56] vkichline opened #3438 "Publishing to ~/foo on Linux does not expand ~"
## Steps to reproduce
On Mint Linux, cd to a dotnet asp project and enter `dotnet publish --output "~/foo"`

## Expected  behavior
"foo" directory is created in my home directory and published files go there.

## Actual behavior
A directory named "~" is created in the current directory, "foo" is created in it, and publication continues.

## Environment data
`dotnet --info` output:

.NET Command Li

[2016-06-08 18:04] piotrpMSFT commented on #3436
dotnet does not support pre/post-restore events. The extensibility model is going to undergo some redesign for RTM and this may become available in that timeframe.

[2016-06-08 18:04] #3436 closed

[2016-06-08 18:05] sokket commented on #3356
Looking into this now

[2016-06-08 18:06] piotrpMSFT commented on #3356
@rohit21agrawal what is the NuGet package version that will have the updated surface area?

[2016-06-08 18:10] rohit21agrawal commented on #3356
@piotrpMSFT We haven't yet published a NuGet package version with the updated surface area to MyGet. We have it on our internal share - do you need that? Will wait for guidance on publishing packages from @rrelyea on how to coordinate this.

[2016-06-08 18:38] piotrpMSFT commented on #3420
Thanks @sayedihashimi

[2016-06-08 18:38] #3420 closed

[2016-06-08 18:40] piotrpMSFT commented on #3420
If folks run into other tooling-related issues, including launchSettings.json issues, please do open those in https://github.com/aspnet/tooling repo so we have the right folks look at it ASAP

[2016-06-08 18:43] piotrpMSFT commented on #3419
The issue seems to be [here](https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Compiler.Common/BindingRedirectGenerator.cs#L67). We are assuming that the config file is writeable. We need to investigate our general approach to read-only attributes for files copied to output. I'm not convinced that always removing the flag should be happening in CLI, but this case shows we can't sim

[2016-06-08 18:55] #3431 closed

[2016-06-08 19:06] GrantErickson commented on #3274
Thank you for the response. Any idea on when/if this might be coming?

[2016-06-08 19:10] eerhardt commented on #3419
That has my vote.  If we are copying a file to the output directory, and expecting to change it, we should make it writable.

[2016-06-08 19:13] #3054 closed

[2016-06-08 19:18] eerhardt commented on #3315
Is there anything left on this issue to be done for `preview2`? We are automatically publishing the Roslyn packages to the `dotnet-core` feed, so we no longer hit that issue.

I've explained above how to make this scenario work if you are trying to change where your package cache is located.

If we want to add a `--packages` switch to all our commands, I don't think that will happen for `preview2`

[2016-06-08 19:22] fadimounir commented on #3146
The fix for this bug is merged into dotnet/coreclr master branch (922cace885bfe24c18508747346e23ff7dc40d6c), and ported to the dotnet/coreclr release/1.0.0 branch (cc2e4db2c66bfac567f222cd302edaccc4c5d3cf). Closing issue.

[2016-06-08 19:22] #3146 closed

[2016-06-08 19:29] isakagren opened #3439 "dotnet restore: One or more packages are incompatible with .NETCoreApp,Version=v1.0."
After adding “Microsoft.AspNetCore.Authentication.Facebook” dotnet refuses to restore. Even after removing the package, project.json will still not restore.
## Steps to reproduce

My project.json looks like this:

[code]
## Expected  behavior

Restoring
## Actual behavior

Throws the following error message:
`Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.0 (.NETCoreApp,Ve

[2016-06-08 19:45] gpcottle commented on #3279
@piotrpMSFT Many thanks - I have created a new issue at Nuget/Home (not sure whether/how I can move)

[2016-06-08 19:45] #3279 closed

[2016-06-08 19:48] ajaybhargavb commented on #3255
4a88cff1858389960a78ae82c13165f95fad1cd4

[2016-06-08 19:48] #3255 closed

[2016-06-08 20:14] piotrpMSFT commented on #3274
there is not a plan for this today. The decision was quite intentional. Tools should be portable so that the decision to use a tool does not influence an app's target frameworks.

Does this block your tool in some way? Why do you require desktop?

[2016-06-08 20:19] piotrpMSFT commented on #2831
@schellap?

[2016-06-08 20:21] schellap commented on #2831
Closing... since CLI is consuming the rc3 bits with this change.

[2016-06-08 20:21] #2831 closed

[2016-06-08 20:34] brthor commented on #3438
Is there an api available in .NET Core for expanding the `~` character? Something similar to https://docs.python.org/2/library/os.path.html#os.path.expanduser

I was looking for this a couple other times.  @ellismg

[2016-06-08 20:44] brthor opened #3440 "dotnet build on a Standalone TestApp drops no hostpolicy.dll"
## Steps to reproduce

`dotnet new`

change project.json to a standalone test app like:

[code]

 (On Windows 10)
`dotnet build --framework netcoreapp1.0 --runtime win10-x64 --output bin`

look in `./bin`
## Expected  behavior

See `hostpolicy.dll`
## Actual behavior

No host artifacts present
## Environment data

`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-002913)

Happens on

[2016-06-08 20:44] brthor commented on #3440
@schellap @eerhardt @livarcocc @piotrpMSFT @sokket

[2016-06-08 20:52] ellismg commented on #3438
I do not know of one.

[2016-06-08 21:20] livarcocc commented on #3440
There is no emitEntrypoint: true. Why would you expect an exe in this case?

[2016-06-08 21:20] jpsingleton commented on #3434
Also an empty `Console.WriteLine();` does nothing and no blank line is output.

I've not tried [the latest preview](https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/Latest/dotnet-dev-osx-x64.latest.pkg) as it's not signed, but this might be fixed in that.

[2016-06-08 21:22] glennc commented on #3438
Is `~` not being expanded by the shell because it is in quotes?

[2016-06-08 21:25] brthor commented on #3440
That's a fair point I overlooked, let me test with that, if I get host artifacts will close out.

[2016-06-08 21:26] brthor commented on #3440
Yup, thanks @livarcocc

[2016-06-08 21:35] mellinoe commented on #3438
Yeah, it's probably this. I'm not sure this is actually a bug. For example, if I run `mkdir "~"`, a directory named "~" is created in the current directory. It's a valid folder name.

[2016-06-08 21:40] svick commented on #3434
Empty lines not being printed is #2234.

[2016-06-08 21:46] ajaybhargavb commented on #3421
@Petermarcu @eerhardt, Are we still doing this?

[2016-06-08 21:54] glennc commented on #3438
So theoretically removing the quotes would get the desired behavior....

[2016-06-08 21:55] jpsingleton commented on #3434
Thanks, empty lines do work if you run the DLL directly, same as the other issues.

[2016-06-08 23:39] victorhurdugaci opened #3444 "Replacing multiple repositories with source doesn't work"
This is a bit hard to explain so I used my (ahem) awesome (ahem) Paint skills to draw it.

If you reference two projects from two different repositories, as sources instead of packages, and one of them references the other you'll not get all packages replaced with sources

To repro:

1. Clone https://github.com/aspnet/options
2. Clone https://github.com/aspnet/configuration (note: Options referenc

[2016-06-08 23:43] billwert commented on #3315
Yeah, we can close this. It happens that today's build can new, restore, and build successfully on a clean machine, so that's great!

FWIW: As you explain it, it's of course obvious that using --packages like that can't work, since project.lock.json doesn't carry path information. However, the fact that it's the only place right now where it exists implies to the user that it *should* work the way

[2016-06-08 23:43] #3315 closed

[2016-06-08 23:47] brthor commented on #3440
Updated to reflect discussions around this. Standalone test app scenarios will be going away.

For now the workaround is to place `emitEntryPoint: True`

[2016-06-08 23:49] eerhardt opened #3445 "CLI symbols.nupkg packages should be published to myget"
We should be publishing our symbols packages to myget. This is how CoreFX and CoreCLR are handling their symbols.

Note: we still have binaries that aren't in nuget packages (for example dotnet.dll). We should either continue what we are doing for it - and publishing the symbols in a zip file on Azure blob, or we should call `dotnet pack` on it, and publish its symbols.nupkg to myget as well.

/cc

[2016-06-08 23:51] piotrpMSFT commented on #3356
This will be fixed by https://github.com/dotnet/cli/pull/3443

[2016-06-08 23:53] brthor commented on #3438
`dotnet publish --output ~"/path with/spaces"` should work as well if you need spaces

[2016-06-09 00:00] Eilon commented on #3282
@ajaybhargavb if you have time for this, go for it. If not, please let me know.

[2016-06-09 00:00] Eilon commented on #3282
Ok duh, just saw the PR 😄

[2016-06-09 00:12] billwert opened #3447 "dotnet restore --packages is confusing."
The existence of this argument suggests to the user that by telling the CLI where to put packages, builds for the project(s) being restored will use the packages from that location.

@eerhardt points out in #3315 how the algorithm actually works. I can't find any other documentation about how the CLI finds your Nuget dependencies.

This leaves me to wonder why we have this argument, and suggest on

[2016-06-09 00:16] ajaybhargavb commented on #3282
schemastore/schemastore@b24ea2f878d3aab8ab290105326ea4b1b6246425

[2016-06-09 00:16] #3282 closed

[2016-06-09 00:34] livarcocc commented on #3216
@eerhardt @pranavkm Do we have this new kestrel build now? It would be nice to re-activate these tests.

[2016-06-09 00:48] eerhardt commented on #3216
Yes - this has been on my list all day. When I get time I will re-enable them.

[2016-06-09 02:35] jindovu opened #3450 "How to fix One or more packages are incompatible with .NETCoreApp,Version=v1.0."
## Steps to reproduce
I use dotliquid on version .net core ([link](https://github.com/dotliquid/dotliquid)), but I got something wrong with package dotliquid just only support version bellow, How can I Fix it
 Package DotLiquid 1.8.0 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package DotLiquid 1.8.0 supports:
      - net35 (.NETFramework,Version=v3.5)
      - net40 (.NETFrame

[2016-06-09 06:40] kierenj commented on #3450
The message states,

DotLiquid 1.8.0 supports:
- net35 (.NETFramework,Version=v3.5)
- net40 (.NETFramework,Version=v4.0)
- net45 (.NETFramework,Version=v4.5)

....DotLiquid doesn't support .NET Core.  This is nothing to do with the CLI or .NET Core - and everything to do with DotLiquid!

[2016-06-09 06:51] kierenj opened #3453 "Wrong error message when missing emitEntryPoint (first time only): Expect required library hostpolicy.dll to be present in [...\bin\Debug\netcoreapp1.0]"
## Steps to reproduce
1. Create a folder with global.json containing two project folders, xyzzy.MyLib and xyzzy.MyApp
2. Create class library with a single class and a project.json as follows in xyzzy.MyLib:

[code]
1. Create a console app with a single class and a project.json as follows in xyzzy.MyApp (note missing `emitEntryPoint` build option):

[code]
1. `dotnet restore` in the xyzzy.MyLib fo

[2016-06-09 06:53] kierenj commented on #3453
Note that **things change** once I add:

[code]

to project.json.  This then causes the project to build and run correctly (yay!).

**But** if I subsequently remove it again, only then do I get the correct error:

`dotnet.exe` crashes ("has stopped working")
-and-
[code]

So TL;DR I think that the first time I try to run without `emitEntryPoint`, I get the incorrect and confusing error message:

[

[2016-06-09 06:58] pranavkm commented on #3356
Fixed in https://github.com/dotnet/cli/commit/acc5528502699bfb83efe59f220ae62569e3f4ff

[2016-06-09 06:58] #3356 closed

[2016-06-09 08:34] Antaris commented on #599
Where does this case sit with the migration back to `project.json`? I'm looking for guidance on versioning a set of projects in the same solution, hoping I can set a version attribute in `global.json` and have that inherited across all my projects?

[2016-06-09 12:33] jindovu commented on #3450
Hi kierenj
       Thank you for quick reply, I want understand enhancement build project to .net core,  How I can convert some project from net45 to .net core, Plz provider me document

Thank you so much

[2016-06-09 13:23] bogdandanielb commented on #317
Any solution to "host executable not available in dependencies, using host for current platform"  ?
I've tried with older versions of DNX for ARM but they are missing coreclr.dll.

[2016-06-09 13:43] alexandru-calinoiu commented on #3239
I am trying to build a custom tool like this my project.json file is:

[code]

I package it, but when I try to restore it I get:

[code]

The `package.json` for the current project is:

[code]

[2016-06-09 15:16] ChantayOsborne opened #3457 "How to build projects with other project dependencies"
Create ProjectA, with one class. Create ProjectB with a second class, which has a reference to ProjectA's class.. Save each project in different directories (e.g., "c:\projects\ProjectB\class.cs", and "c:\projects\ProjectA\class.cs". Execute dotnet restore on c:\projects.

Throws errors on the build, even though everything is in that root "projects" class.

I have a project "Location" stored at co

[2016-06-09 15:33] Angelixion opened #3459 "--version-suffix not changing Assembly version neither assembly file version"
## Steps to reproduce

dotnet build --version-suffix [anything]

## Expected  behavior

Assembly version and Assembly file version are set to version-[anything]

## Actual behavior

Assembly version and assembly file version are: version.0
## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit S

[2016-06-09 15:55] morrisonbrett commented on #317
I'm waiting for this as well. I have a Windows IoT Core project for Raspberry Pi 3 that is blocked until `--runtime "win10-arm" `publishing is supported in .NET Core.

[2016-06-09 15:58] bogdandanielb commented on #317
@morrisonbrett Did you try with older DNX CLI and RC1 ?

[2016-06-09 16:05] twsouthwick opened #3460 "Can't reference Microsoft.TeamFoundation.Client in net461 app"
## Steps to reproduce
1. Create a new .NET Core App
2. Change framework to net461 instead of netcoreapp1.0
3. Try to add a reference to framework assembly "Microsoft.TeamFoundation.Client"
## Expected  behavior

I expect that it would be added and can compile against
## Actual behavior

It doesn't show up in the project.json intellisense, and when I try to add it via the reference dialog, I don't

[2016-06-09 16:16] morrisonbrett commented on #317
I refuse to go backwards and spend the time getting it all right, and then when RC3 or RTM comes out hopefully with ARM support then have to go forwards again. I will wait.

This guy gave a presentation in Los Angeles this week.  He ended up having to go back to -beta7 to get it to work.

http://www.meetup.com/LADOTNET/events/231446276/?comment_table_id=245593091

[2016-06-09 16:16] hglkrijger commented on #3121
Any updates on this?

[2016-06-09 16:17] eerhardt commented on #3447
@yishaigalatzer @emgarten @rrelyea to get their thoughts on this issue.

Since the CLI doesn't really save where you restored your packages to in `dotnet restore --packages`, if we wanted to support this feature we'd either have to:

- remember where we put it
- have the user pass the same location through to all other commands (build, pack, publish, run, test)

[2016-06-09 16:25] twsouthwick commented on #3460
This seems related https://github.com/dotnet/cli/issues/1681, but having to create a nuget package to reference something in the GAC is a bad experience.

[2016-06-09 16:42] brthor commented on #3459
Share project.json please

[2016-06-09 16:45] brthor commented on #3447
We have a similar issue here https://github.com/dotnet/cli/issues/2712 to support --packages in the cli which was kicked out to RTM.

There's a number of other discovery mechanism nuget supports which cli does not as well, for example via NuGet.Config `globalPackagesFolder`

[2016-06-09 16:49] brthor commented on #3239
@alexandru-calinoiu

You have in issue there in that the `project.json` has a dependency on `dotnet-hello` but targets `net451` while dotnet-hello targets netcoreapp1.0.

To resolve this you can either add `net451` to the dotnet-hello project.json or remove it as a dependency from the consuming project.json. Having it both as a dependency and a tool is not required for using it as a tool. Putting

[2016-06-09 16:52] brthor commented on #3453
@kierenj The application dependency graph cannot be loaded without hostpolicy.dll so there is a bit of chicken/egg problem here.

cc @schellap

[2016-06-09 16:54] brthor commented on #3434
@jpsingleton Please try this with one of the latest preview2 installers. @eerhardt put in a fix for this, and I'm not sure it made it into preview1

[2016-06-09 16:56] brthor commented on #3439
There's no guarantee the dll is actually compatible with .NETCore, but you should at least be able to force a restore by adding `portable-net45+win8+wp8+wpa81` to your imports section.

[2016-06-09 16:59] eerhardt commented on #3345
Note this attribute is moved into the nuspec now.  Our build should be calling `dotnet pack --serviceable` when build our packages, and that should take care of everything, right?

Or is there a switch in `project.json` than can be set?

[2016-06-09 17:02] brthor opened #3462 "Add `--no-build` to dotnet-run"
## Steps to reproduce

dotnet run --no-build
## Expected  behavior

Runs without building
## Actual behavior

`--no-build` is not an option

https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-run/Program.cs#L24

It'd be nice if we had a manual gesture to avoid rebuilding every time we use `dotnet run`.

Especially to support things like:
https://github.com/dotnet/cli/issues/21

[2016-06-09 17:03] eerhardt commented on #2174
/cc @cdmihai

[2016-06-09 17:04] eerhardt commented on #2174
maybe it should only print out the "previously compiled" message on `--verbose` runs.

[2016-06-09 17:07] ericstj commented on #3345
As I mentioned, this is for desktop where there is no host to write breadcrumbs.  The NUSPEC element is for .NET Core and the host which writes package-based breadcrumbs.

In the desktop case it's fusion that writes breadcrumbs based on strong name.  It does so based on this assembly attribute.

[2016-06-09 17:08] brthor commented on #3317
Confirmed this is resolved.

[2016-06-09 17:08] #3317 closed

[2016-06-09 17:08] ericstj commented on #3345
@piotrpMSFT it needs to happen before you ship any package that could load in desktop as stable.  Not sure which of the packages from CLI Repo are shipping as stable for Preview 2, but those are the candidates.

[2016-06-09 17:11] eerhardt commented on #3345
OK - I was just going to ask "are both needed?".  It sounds like the answer to that question is "yes".

`dotnet pack --serviceable` only puts the metadata in the nuspec, AFAIK.

So we need to add the assembly attribute to ProjectModel, DependencyModel and InternalAbstractsions, at a minimum, since they will be loaded in net451.

And we need to add `--serviceable` to `dotnet pack` in our build.

I

[2016-06-09 17:12] brthor commented on #3037
@leecow Can I assume this is the proper EULA?

https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/osx/clisdk/resources/en.lproj/eula.rtf

Should this be converted to plain text or left as rich text?

Thanks

[2016-06-09 17:13] ericstj commented on #3345
We've had it on for CoreFx in pre-release.  Technically it only needs to be on for release builds which you intend to service.
Only downside is the accumulation of pre-release breadcrumbs.

[2016-06-09 17:22] yishaigalatzer commented on #3447
I agree it should be dropped, but the issue should go to nuget. CC @rrelyea @harikm86

[2016-06-09 17:26] brthor commented on #3320
The issues are as @piotrpMSFT stated here.

I think the right fix is to move the `latest` .NET Core installers to the readme of https://github.com/core-setup and only reference the compatible .NET Core installers from the cli readme.

We can add it to the update-dependencies script so the link is updated appropriately.

[2016-06-09 17:42] Angelixion commented on #3459
[code]

[2016-06-09 17:46] brthor commented on #3401
To confirm, this is what the string should be?
`Microsoft .NET Core 1.0.0 - SDK Preview 2 (x64)`

[2016-06-09 17:54] leecow commented on #3037
@brthor - yep, that looks correct and need to be plain text (utf8).

[2016-06-09 18:02] brthor commented on #3401
FYI to all this is controlled in the Signing step of our VSO definition so we'll need to have the value hard coded there, which sucks, but not much way around it.

[2016-06-09 18:14] brthor commented on #3401
I've created the `ProductMoniker` build variable which can be editted. Going to wait for a new build before closing this out.

[2016-06-09 18:16] livarcocc commented on #3447
@yishaigalatzer Please don't drop it. I am actually using that to restore packages in a particular folder and then I zip that folder to create an archive of packages.

[2016-06-09 18:19] brthor commented on #3401
Since this is controlled per branch I have only editted definitions for preview2 in cli and rtm in core-setup.

Please comment on what you'd expect this value to be for `rel/1.0.0` and `master` @blackdwarf

[2016-06-09 18:41] eerhardt commented on #3447
@livarcocc - you can use the `NUGET_PACKAGES` environment variable instead.

[2016-06-09 18:48] eerhardt opened #3465 "Mark CLI stable packages as "stable""
We need to remove the -rc3 prerelease moniker for the appriopriate packages:

- ~~ProjectModel~~
- DependencyModel
- InternalAbstractions

@piotrpMSFT @ericstj @joshfree

[2016-06-09 18:53] NTaylorMullen opened #3466 "Providing "Debug" as a runtimeIdentifier to CreateLoadContext hangs dotnet indefinitely"
## Steps to reproduce
- Provide a null configuration and "Debug" for runtimeIdentifier (obviously wrong but still shouldn't break the way it does) to CreateLoadContext.

## Expected  behavior
- Fails with a reasonable message

## Actual behavior
- Hangs indefinitely

## Environment data
`dotnet --info` output:
[code]

## Notes
This was found due to the recent breaking change to `CreateLoadContext`

[2016-06-09 18:55] yishaigalatzer commented on #3447
or you can use nuget.exe to do the same

[2016-06-09 18:57] patrickjamesbarry opened #3467 "Writing my own tools"
## Steps to reproduce
Create a console app and have it print "Hello  World" in the Program.cs Main() method. Have project.json target net451 framework
project.json
[code]
run dotnet pack and nuget push to your repo.

Create another project that targets net451 and pull in your tooling project.
project.json
[code]

Now do a dotnet restore.

## Expected  behavior

I was expecting to see Hello World p

[2016-06-09 18:59] eerhardt commented on #3447
@livarcocc's needs are for all platforms.

[2016-06-09 19:01] brthor commented on #3467
This is by design. Only Portable Apps targetting netcoreapp1.0 are currently supported as cli tools.

[2016-06-09 19:01] #3467 closed

[2016-06-09 19:02] brthor commented on #3467
See an example tool we ship from cli here:
https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet-compile-fsc/project.json

[2016-06-09 19:03] brthor commented on #3416
this is required to fix #3320

[2016-06-09 19:03] brthor commented on #2234
Please try this with latest bits

[2016-06-09 19:05] brthor commented on #3387
This is essentially a dupe of #2343

[2016-06-09 19:29] NTaylorMullen opened #3469 "CreateLoadContext(runtimeIdentifier, configuration) Stackoverflows"
It calls itself. This is also true for the configuration only overload.

https://github.com/dotnet/cli/blob/cbf5f1ef65a1405403951226474147f5d029601d/src/Microsoft.DotNet.ProjectModel.Loader/LoaderProjectContextExtensions.cs#L23

[2016-06-09 20:07] dlebedynskyi commented on #3436
@piotrpMSFT  how about documenting that for RC2? cause right now docs are misleading and project.json do has those in schema

[2016-06-09 20:42] cdmihai commented on #2174
There could be some msbuild like flags for the dotnet driver to:
- turn off console logging (`--no-console-logger`)
- enable file logging (`--file-logger`)
- have some logging levels (diagnostic, verbose, normal, minimal, etc)

[2016-06-09 20:43] anurse commented on #3469
/cc @muratg @piotrpMSFT This is a trivial and very low risk fix. I think it meets the bar for Preview 3. I'll have a PR out in a few minutes.

[2016-06-09 20:44] plioi commented on #1302
Is there any downside to what @smbecker suggests?  I'm currently finding-and-invoking the latest msbuild using the same technique seen here: https://github.com/jbogard/MediatR/blob/e7a6644fe14eac58a144004467568c7115c7c2ba/Build.ps1

If the suggestion above is truly equivalent, that's save a lot of noise from my build process.

[2016-06-09 20:49] eerhardt commented on #2174
I dislike the `dotnet run --no-build` option because I always think the default should do the most appropriate thing for the most users.

In this case, if a user calls `dotnet run` with no options, they don't care whether the project needs to be recompiled or not, they asked the project to be run, so they should only see `run`'s output.

But of course, if the build fails and the project couldn't b

[2016-06-09 21:24] pedrogaspar commented on #2889
Will this be fixed in time for rtm?
Compilation in rc2 is a lot slower than it was in dnx.

[2016-06-09 21:42] balachir opened #3473 "[Win7 Sp1 x86] Run the project do F5, pop up“a debug component is not installed”"
INSTALL STEPS
Win7 Sp1 x86 ENU+Dev14 U3 RC VSP + DotNetCoreRTWTooling
DotNetCoreRTWTooling build: DotNetCore.1.0.0.RC3-25-VS2015Tools.Preview2.exe

REPRO STEPS
1.File > New Project > ASP.NET Core Web Application->Web application
2. Select "Web Application" template in the One Asp Net dialog, change authentication to "Individual Accounts"
3.build and run

ACTUAL
do F5,meet error
![image](https://cl

[2016-06-09 21:46] pedrogaspar commented on #2515
Will this be fixed in time for rtm?
Compilation in rc2 is a lot slower than it was in dnx.

[2016-06-09 21:48] bartonjs opened #3474 "What does "only when sourcing script" mean?"
## Steps to reproduce

## Expected  behavior

I understand messages that it prints.

## Actual behavior

dotnet-install: Extracting zip
dotnet-install: Adding to current process PATH: /home/bb/dotnet. Note: This change will be visible only when sourcing script.
dotnet-install: Installation finished successfuly.

## Environment data
`dotnet --info` output:

[code]

Or, more usefully:
[code]

[2016-06-09 21:49] brthor commented on #2174
I like @eerhardt 's POV. When you consider the user's expectations when typing dotnet run it makes sense.

But from another perspective if there's an incremental bug (there's some) and they're expecting their latest bits to run, it might be worthwhile to see that that isn't happening.

[2016-06-09 21:56] ljw1004 commented on #2174
I come from a perspective of a compiled language where, when you execute it, it never attempts to recompile, and instead only executes the most recent compilation result.

If someone comes from perspective of a script language, they expect the act of executing it to run the latest source code.

I guess ASP.NET has come from the perspective of pretending to be an interpreted language by making the

[2016-06-09 22:08] kaspersorensen commented on #1302
I think the downsides are:

 * No way to define the order of the modules/folders to build
 * No way to exclude certain modules/folders that may not be relevant or even desired.

[2016-06-09 22:11] piotrpMSFT commented on #3465
We need to have this PR ready, but cannot merge until we feel we have a final build. When is CoreFx doing this change?

[2016-06-09 22:12] piotrpMSFT commented on #3421
Fixed by #3468

[2016-06-09 22:12] #3421 closed

[2016-06-09 22:13] piotrpMSFT commented on #3404
@blackdwarf Can you share the text @livarcocc should display?

[2016-06-09 22:14] GrantErickson commented on #3274
Thanks for the reply.

We built tooling for DNX that used the full framework. It has references to other full framework libraries. We tried an initial migration to .net Core, but there are lots of methods that would need to be rewritten to support the subset of functionality in .net Core. For example much of our reflection code would have to be changed.

Additionally, as far as I know there isn't

[2016-06-09 22:17] eerhardt commented on #3445
Fixed by #3470

[2016-06-09 22:17] #3445 closed

[2016-06-09 22:22] livarcocc commented on #3404
I have the text and it is in the code already. It will be checked-in along with the OFFLINE work.

[2016-06-09 22:24] bartonjs opened #3475 "Typo: Install script finishes "successfuly""
## Steps to reproduce

## Expected  behavior

No typos.  `successfuly` => `successfully`

## Actual behavior

dotnet-install: Downloading https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-002996/dotnet-dev-centos-x64.1.0.0-preview2-002996.tar.gz
dotnet-install: Extracting zip
dotnet-install: Adding to current process PATH: /opt/dotnet. Note: This change will be visible

[2016-06-09 22:30] shootdaj commented on #317
I am ^^^ that guy who gave the presentation. I tried the older DNX CLI and RC1. Didn't work either. The problem is twofold. You cannot cross publish from x86/x64 to ARM, and CLI is not runnable on ARM. Given these two restrictions, I don't see a way to run an RC1/RC2 application on an ARM machine like Raspberry Pi. I tried a few other versions in between beta7, RC1, and RC2, and none of them worke

[2016-06-09 22:40] mikem8361 commented on #3473
@noahfalk, @BillHiebert, @gregg-miskelly

It looks like the problem is when mscordbi.dll is attempting to load mscordaccore.dll:

[code]
It looks like the dac is loaded and then unloaded, but  CORDBG_E_DEBUG_COMPONENT_MISSING is thrown because LoadLIbrary returns a ERROR_MOD_NOT_FOUND in shimprocess.cpp:

[code]
It looks like the dbgshim.dll in `C:\Program Files\Microsoft Visual Studio 14.0\Common

[2016-06-09 22:45] joelverhagen opened #3476 "dotnet compile-csc crashes due to file contention on tool lock file"
## Steps to reproduce

This is regularly reproducing on ASP.NET coherence CI run. During this run, many `dotnet restore` and `dotnet build` commands are running in parallel. Periodically,
## Expected  behavior

After talking to @brthor and @eerhardt, `dotnet build` should not need to read the tool lock file so any writes occurring from a `dotnet restore` should not collide.
## Actual behavior

The

[2016-06-09 22:45] piotrpMSFT commented on #2961
ping @Eilon if @pakrym is no longer working on ProjectModel issues then can you assign to whomever is?

[2016-06-09 22:46] gregg-miskelly commented on #3473
@mikem8361: Yup, we use the same dbgshim for all CoreCLR debugging. I am assuming this is trying to load DAC or DBI? Did you try running depends on them or using loader snaps to see what is missing?

[2016-06-09 22:55] mikem8361 commented on #3473
I realized after that the question about dbgshim is kind of moot.  DBI is already loaded (dbgshim was successful) and it is trying to load the DAC and that fails.  I’m still coming up to speed on how to debug this.  I’ve been debugging Linux/OSX issues too much and haven’t done much recently on win7/x86.

[2016-06-09 22:57] abpiskunov commented on #2961
I fixed it at tooling side after discussing it with Mihai and David via email.

[2016-06-09 22:57] #2961 closed

[2016-06-09 23:02] gregg-miskelly commented on #3473
@mikem8361 you want to enable loader snapper which you can do from gflags.exe. Since this in Win7 only, my guess is that the problem is going to be that mscordaccore.dll is depending on API set dlls, and either these dlls are missing, or the call is being made without the LoadLibraryEx flag to indicate that the directory containing the dll should be searched.

[2016-06-09 23:11] mikem8361 commented on #3473
Depends says it can't find these modules:

API-MS-WIN-SHCORE-SCALING-L1-1-0.DLL
DCOMP.DLL
IESHIMS.DLL

Error: At least one module has an unresolved import due to a missing export function in an implicitly dependent module.
Error: A circular dependency was detected.
Warning: At least one delay-load dependency module was not found.
Warning: At least one module has an unresolved import due to a missi

[2016-06-09 23:17] mikem8361 commented on #3473
gflags.exe doesn't seem available on the repro machine.

[2016-06-09 23:19] mikem8361 commented on #3473
The LoadLibraryEx used is passing 0 for the flags.

[2016-06-09 23:26] sokket commented on #3345
@eerhardt when we build CLI, do we run ```dotnet pack``` or just ```dotnet build```? I have added the attribute to the AssemblyInfoOptions and the AssemblyInfoFileGenerator files, I just need to find the entry point that we use to make sure we go down the right path

[2016-06-09 23:27] smbecker commented on #1302
I have found that order is somewhat irrelevant when doing it as I suggested. Either that or the CLI figures it out at runtime because I haven't had any issues with ordering. I believe that it supports multiple directory selectors and various glob patterns that you could likely get your desired inclusion/exclusion rules.

[2016-06-09 23:29] GuardRex commented on #317
@DamianEdwards @shanselman Good feedback here from @shootdaj regarding getting .NET Core on the RPi.

[2016-06-09 23:30] noahfalk commented on #3473
@mikem8361 - gflags is just a gui wrapper around setting registry keys. You can either set them directory or copy gflags from any other machine that does have it. I think it is part of the Windows SDK. Here is a page that mentions the underlying registry key though I have never done it that way so I can't confirm this is correct:
http://www.codeproject.com/Articles/35205/Loader-snaps

If its helpf

[2016-06-09 23:33] twsouthwick opened #3478 "Document how references get resolved with project.json"
Using project.json is very different from the previous model of referencing assemblies. I found some useful documentation here (https://docs.nuget.org/consume/projectjson-dependency), but someone new to .NET Core may not think to look there when initially confronted with project.json in the .NET Core setting. This issue is to track some sort of documentation wherever the 'Getting Started' stuff is

[2016-06-09 23:36] shahid-pk commented on #317
@shootdaj i think @myungjoo with his team was somewhat successful in building a cli version for arm/linux.
I hope @myungjoo could shed some light on what is the current status or constraints for it to happen from community contributions at least on linux.

[2016-06-09 23:49] shootdaj commented on #317
I just now read the issue that was linked to this thread: https://github.com/aspnet/dnx/issues/3358

@KoalaBear84 was able to get it to work with RC2. Apparently you have to manually copy the coreclr.dll and possibly also libuv.dll into the published folder (in the appropriate subfolder) before copying it to the Pi. Gonna try it this weekend and see if that goes anywhere.

[2016-06-10 00:30] gregg-miskelly commented on #3473
@noahfalk @mikem8361 the default search order for LoadLibrary will NOT check next to the dll being loaded. I think we want to use the 'alternate' search order. See 'Standard Search Order for Desktop Applications' in https://msdn.microsoft.com/en-us/library/windows/desktop/ms682586(v=vs.85).aspx.

[2016-06-10 00:38] cdmihai commented on #3424
I remember @anurse doing a PR where he added the command line (the value for `--version-suffix` portion of it) to the incremental state, so that build would rebuild when `--version-suffix` changes. This means that dotnet pack is not propagating all the relevant flags to build?

[2016-06-10 00:52] hamidshahid opened #3481 ".net 1.0.0.0 RC2 Visual Studio 2015 Tools installation finishes without installing anything"
## Steps to reproduce
Downloaded the latest DotNetCore.1.0.0.RC2-VS2015Tools.Preview1.msi file. Ran it while I still my Visual studio 2015 instance running.

## Expected  behavior
An error message to shut down visual studio

## Actual behavior
The installer finished with a success message.

## Environment data
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.

[2016-06-10 01:08] patrickjamesbarry commented on #3467
Thank you for the example. I changed my project.json on my tooling lib to be:
[code]

and my consuming app's project.json is:
[code]

Is this possible?  (To create a portable library for Tools) and then consume it in a project that only targets net451?

[2016-06-10 02:15] superlogical commented on #3371
Is there a work around to this?

[2016-06-10 05:56] MartinJohns commented on #3474
http://www.tldp.org/HOWTO/Bash-Prompt-HOWTO/x237.html

[2016-06-10 06:04] bartonjs commented on #3474
I think mainly I'm confused as to why it's printed at all.  And/or it needs a "this" in the message.

[2016-06-10 06:58] nigurr opened #3488 "System.Net.Http 4.1.0-rc3-24125-01 provides a compile-time reference assembly for System.Net.Http on .NETCoreApp,Version=v1.0, but there is no run-time assembly"
## Steps to reproduce
1. Clone the repository https://github.com/Microsoft/vsts-agent
2. do "dotnet restore"

## Expected  behavior
1. It should download System.Net libraries

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

[2016-06-10 06:58] nigurr commented on #3488
Tried 2 machines, same error. Please fix this asap

[2016-06-10 07:16] tmds commented on #3488
@nigurr try updating your cli to latest, so it is also an rc3 version.

[2016-06-10 07:31] Angelixion commented on #3391
To clarify, is when you use publish to azure in VS, it makes a dotnet publish and it is deployed, because the folder 'logs' is excluded, it is not in the publish folder, and when it compares with azure, it will mark it as deleted and try to erase it in azure.

i can manually acomplish to exclude any action to that folder, if i use the preview function and uncheck the folder, that makes the be some

[2016-06-10 07:32] nigurr commented on #3488
@tmds, any command to update this specific package. i pulled the latest release from
https://www.microsoft.com/net/core#ubuntu (should this be updated?)

`ddcloud@nigurr-ub1:~/coreclr/vsts-agent/src$ sudo apt-get install dotnet-dev-1.0.0-rc2-23924`

[2016-06-10 07:33] nigurr commented on #3488
`apt-cache search dotnet-dev`

[code]

[2016-06-10 07:46] kierenj commented on #1518
I have similar errors, but only intermittently, and only when running `dotnet restore` under a Docker for Windows container.  The same URLs which fail with "Couldn't connect to the server" then work perfectly when I copy-paste them into the Windows host browser.  Note, I don't have a `<clear/>` in my NuGet.config.

[2016-06-10 08:48] piotrpMSFT commented on #3488
@joshfree @ericstj is there a packaging issue that may cause this?

[2016-06-10 08:48] jpsingleton commented on #3434
OK, I'll have a go when I find some time, but I'll have to disable gatekeeper. It would be nice if the previews were signed.

[2016-06-10 08:48] piotrpMSFT commented on #3481
Please move to aspnet/tooling repo.

[2016-06-10 08:48] #3481 closed

[2016-06-10 08:53] piotrpMSFT commented on #3474
@MartinJohns is spot on

@bartonjs what experience do you suggest?

@blackdwarf

[2016-06-10 09:01] piotrpMSFT commented on #3459
File and assembly version numbers only support four-part numeric version numbers. Semantic versions are not applicable and therefore ignored.

[2016-06-10 09:01] #3459 closed

[2016-06-10 09:03] hamidshahid commented on #3481
Thanks. Done now

https://github.com/aspnet/Tooling/issues/578

[2016-06-10 09:03] piotrpMSFT commented on #3457
You need a global.json in the "solution" root. @blackdwarf can point to docs on https://dot.net

[2016-06-10 09:08] piotrpMSFT commented on #3450
It's not a problem in your code, @jindovu. DotLiquid is not available on core so it cannot be used during build. You can either get the package owner to ship a compatible build or remove the dependency altogether.

[2016-06-10 09:08] #3450 closed

[2016-06-10 09:09] piotrpMSFT commented on #3444
Nice one!

[2016-06-10 09:11] tmds commented on #3488
@nigurr download latest from the links at https://github.com/dotnet/cli

[2016-06-10 09:53] Angelixion commented on #3459
If i use `dotnet build --version-suffix 9` It will not change the assembly version nor the assembly file version, if i put it **manually** with a **dot** "1.0.0.9" **in the project json** it works.

to clarify, `--version-suffix`  **never** changes assembly version or assembly file version, being numeric or not.

[2016-06-10 11:11] Pzixel commented on #3371
Same here. Looking for a solution...

[2016-06-10 13:46] ericstj commented on #3488
All of these would be caused by using a CLI that is too old and doesn't understand netstandard1.6.

[2016-06-10 13:58] bartonjs commented on #3474
Since you're presenting information to me: What do you expect me to do with it?  If "nothing", don't print it.

Otherwise, notice that the message uses an open "when sourcing script".  I can source lots of script(s) that has nothing to do with adding the dotnet install-dir to my $PATH.  If the message has an interesting value that I'm not seeing, it needs to change from an open qualifier (suggesti

[2016-06-10 15:35] blackdwarf commented on #3478
@twsouthwick good point. Can you please close this one and open one on dotnet/core-docs and /cc me? Thanks!

[2016-06-10 15:37] twsouthwick commented on #3478
Done. See here: https://github.com/dotnet/core-docs/issues/509

[2016-06-10 15:37] #3478 closed

[2016-06-10 15:40] smbecker commented on #3422
My vote would be to not do this. Changing to portable pdbs caused issues debugging in Visual Studio on Windows. I get that you want to enable cross-platform but a large majority of developers still use Visual Studio.

[2016-06-10 16:25] piotrpMSFT commented on #3488
Thanks @ericstj

@nigurr @tmds the CLI matching the RC3 CoreFx bits is `preview2`. These packages are not being published to the PPA feed [yet] but should be coming online today according to @brthor. Until then, as @tmds suggests, you can download them from https://github.com/dotnet/cli.

[2016-06-10 16:25] #3488 closed

[2016-06-10 16:28] mmc41 commented on #3093
@blackdwarf
@piotrpMSFT
@richlander
In related news, VS2015 just got into big trouble because spy code was discovered:
https://www.reddit.com/r/cpp/comments/4ibauu/visual_studio_adding_telemetry_function_calls_to/d30dmvu

You should consider learning from such mistakes!

[2016-06-10 17:03] NTaylorMullen commented on #3466
This ended up being due to https://github.com/dotnet/cli/issues/3469.

Closing as dup

[2016-06-10 17:03] #3466 closed

[2016-06-10 17:12] piotrpMSFT commented on #3320
I'm pushing this out to preview3 now that it's understood. If we can fix this sooner that would be great, but it's not release blocking as-is.

[2016-06-10 17:14] piotrpMSFT commented on #3401
@brthor is this something we can add tests for? Since the configuration sits in CI we don't have a clean model to prevent humans from forgetting to make updates.

[2016-06-10 17:16] piotrpMSFT commented on #3396
@yishaigalatzer @rrelyea I see https://github.com/NuGet/Home/issues/2911 is not scheduled yet. Do you expect this to make CLI preview2?

[2016-06-10 17:23] anurse commented on #3424
Indeed, I did add that to the incremental cache data. As long as `pack` is passing along the flag, it should be triggering a rebuild.

[2016-06-10 17:38] piotrpMSFT commented on #3368
Fixed in #3370

[2016-06-10 17:38] #3368 closed

[2016-06-10 17:43] piotrpMSFT commented on #3345
@sokket we do both. We first build the binaries, then package them with `dotnet pack --no-build`. Take a look at https://github.com/dotnet/cli/blob/rel/1.0.0/build_projects/dotnet-cli-build/PackageTargets.cs#L209.

[2016-06-10 17:47] onovotny commented on #3396
Note that this completely breaks `Humanizer` from working correctly for CLI projects (and any other libraries that use satellite languages).

[2016-06-10 17:56] blackdwarf commented on #1518
@kierenj which Windows version are you using?

[2016-06-10 17:57] smbecker commented on #3419
I am seeing this issue as well if I use globbing in `dotnet build` with `--output` specified. I do not have any app.config files.

command:
`dotnet build **/src/**/project.json --configuration Debug --framework net451 --output <path>`

[2016-06-10 17:58] vcsjones commented on #3093
Looks like issue #3404 is tracking implementing notification of telemetry.

[2016-06-10 18:01] piotrpMSFT commented on #3396
@brthor can you coordinate with @joelverhagen on this one?

[2016-06-10 18:08] piotrpMSFT commented on #3372
Just left a note on the associated NuGet issue. We are waiting on an API in NuGet that can be invoked to obtain a resolved path to an asset. CLI should not be duplicating NuGet's path resolution logic.

[2016-06-10 18:14] piotrpMSFT commented on #3371
A workaround has been provided in the VS 2015 Update 3 RC release notes: https://msdn.microsoft.com/vs-knownissues/vs2015-update3-rc

The issue will be fixed in Update 3 RTM.

[2016-06-10 18:14] #3371 closed

[2016-06-10 18:33] brthor commented on #3401
I imagine this name sits somewhere in the PE file metadata and we could add a test to verify it. It would take some time to figure out where and how.

Also, we would be adding a class of tests that only run in VSO, which I think is fine.

[2016-06-10 18:35] brthor commented on #3401
This is fixed, closing this out. Let's open another issue for the tests. I don't see them making it in Preview2

[2016-06-10 18:35] #3401 closed

[2016-06-10 19:08] danmosemsft opened #3495 ""dotnet new" should automatically do "dotnet restore""
With 1.0.0-preview2-003024 on Debian 8.2

[code]

The error message is improved (yay) but I don't believe I should get any error at all from simply doing "dotnet new" .. "dotnet run". .. the first two commands I do after installing Core. It reduces my confidence that I've set up correctly.

Expected: we should do "dotnet restore" automatically as part of "dotnet new".

/cc @livarcocc @piotrpMSFT

[2016-06-10 19:10] bedwar2 commented on #3064
For me, had to remove: Microsoft .Net Core 1.0.0 RC2 - Runtime (x64)

[2016-06-10 19:20] eerhardt opened #3496 "`dotnet new` lib template is broken"
See the conversation here:

https://github.com/dotnet/cli/commit/85e4ed2b74e8cd262d906f5ec5e6ea59835d2c38#commitcomment-17826417

We don't have a "dependencies" node in our project.json, which isn't valid.

@weshaggard @blackdwarf

[2016-06-10 19:28] danmosemsft opened #3497 "dotnet restore --help gives bad output"
1.0.0-preview2-003024

dotnet restore --help gives me the help for something called "nuget3". I guess it's just passing all the parameters to "nuget3" but if I type "--verbose" it doesn't recognize it.

[code]

[2016-06-10 19:30] danmosemsft opened #3498 ""dotnet new" should take a foldername"
Suggestion: instead of
[code]
it would be nice to just do
`dotnet new hello`

[2016-06-10 19:31] danmosemsft commented on #3495
@ericstj Says this is part of the "offline restore" feature, but meantime it'd be great to make this online scenario work better.

[2016-06-10 19:35] kierenj commented on #1518
@blackdwarf Win10 64-bit.  Really confusing since it did work once or twice a few days ago, and it's still intermittent.  Not sure what I can do to diagnose it!  Could be an issue with my machine, or Docker, or something dotnetty... any tips greatly appreciated

[2016-06-10 19:44] sokket opened #3499 "Running dotnet new --type xunittest breaks project"
## Steps to reproduce
1) Create a new C# project folder
    a) mkdir Testing
    b) cd Testing
    c) dotnet new
2) Add xunit testing capabilities in the same folder
   a) dotnet new --type xunittest

## Expected  behavior
Unit test files are added

## Actual behavior
[code]

The project is then changed such that it no longer compiles

## Environment data
`dotnet --info` output:

[bb@bb-oraclelinu

[2016-06-10 19:47] ianhays commented on #3499
Was just about to post this!

[code]

[2016-06-10 19:47] Chrisboh opened #3500 "Add the types to the help text for dotnet new -t"
## Steps to reproduce

Dotnet -new --help

Also typing garbage gives the information I am looking for
bash-3.2$ dotnet new -t asdf
Unrecognized type: asdf
Avaiable types for C# :
- Console
- Web
- Lib
- xunittest
## Expected  behavior

I should see the all the values for the switches for new in the help
## Actual behavior

Options:
  -h|--help             Show help information
  -l|--lang <LANGUAG

[2016-06-10 19:50] livarcocc commented on #3499
I am not sure I agree. dotnet new creates projects. If you run dotnet new under in a folder with an existing project, it will fail, independently of it being a unit test or not.

What you should do is go one directory up, create a new folder and run dotnet new again there to contain your tests.

Note that you will need a global.json at that point, because you are no longer dealing with a single pr

[2016-06-10 19:52] brthor commented on #3499
I agree that it should fail earlier though, and not break the current project that exists there.

[2016-06-10 19:52] ianhays commented on #3499
Failing is fine, that makes sense imo. The issue is that it fails *after* modifying the directory.

[2016-06-10 19:55] brthor commented on #3497
try `dotnet restore -v Verbose`

[2016-06-10 19:59] livarcocc commented on #3499
@ianhays Ah, yes. I Agree as well.

[2016-06-10 20:00] livarcocc commented on #3499
Do we know if newing up other project types is failing correct or if they hit the same issue as test? We should fix them all at once.

[2016-06-10 20:04] andschwa commented on #2914
Just a heads up: this cannot be fatal. We use `*.so` and `*.dylib` to pick our libraries, one of which will not glob anything depending on if we're building and publishing on Linux or OS X. I think a warning is fine, but it must not be a fatal error.

[2016-06-10 20:06] andschwa commented on #3029
I am definitely desiring an ability to tell either `copyToOutput` or `publishOptions` to just inherit the other's definition. This shouldn't be an automatic default, but it'd be awesome if we could specify it, say with `"publishOptions": { "inherit": "copyToOutput" }` or something similar.

As of right now, to update to the new schema, I'm having to duplicate the value of `content` under both new

[2016-06-10 20:11] sokket opened #3501 "Running restore on global.json works but build does not"
## Steps to reproduce

1) Have multiple projects under a global.json
2) Run restore, success!
3) Run build
## Expected  behavior

Success!
## Actual behavior

[bb@bb-oraclelinux72 global]$ ../dotnet/dotnet build
Couldn't find 'project.json' in current directory
## Environment data

`dotnet --info` output:

[bb@bb-oraclelinux72 global]$ ../dotnet/dotnet --info
.NET Command Line Tools (1.0.0-preview

[2016-06-10 20:11] andschwa opened #3502 "publishOptions: [ ... ] is not respected"
## Steps to reproduce

Per the [schema](https://github.com/aspnet/Announcements/issues/175), this should be supported:

[code]

[code]

## Expected  behavior

A `string[ ... ]` to be picked up as `{ "include": [ ... ] }`.

## Actual behavior

Completely ignored.

## Environment data
`dotnet --info` output:

[code]

and `dotnet-dev-1.0.0-preview1-002702` on our Ubuntu 14.04 CI, and `1.0.0-preview2-

[2016-06-10 20:16] Chrisboh opened #3503 "We should change Hello World sample to show how to include multiple projects"
Here is the basic scenario I would like to know how to do.  Create a product and have a test of tests run against it.  I don't want to manually walk to every project directory to run a dotnet build and then a dotnet run.    I was told, by people in the know, about this special file called global.json which helps stitch these things together.  What I don't know is how in the world I would have disc

[2016-06-10 20:20] sokket opened #3504 "Running dotnet <random word> without restoring throws exception"
## Steps to reproduce
1) Make a new project
2) Type ```dotnet bui``` and hit enter

## Expected  behavior
The unknown command error message

## Actual behavior
[bb@bb-oraclelinux72 F#]$ ../../dotnet/dotnet bui

Unhandled Exception: System.IO.DirectoryNotFoundException: Could not find a part of the path '/home/bb/.nuget/packages/.tools/dotnet-compile-fsc'.
   at System.IO.UnixFileSystem.FileSystemE

[2016-06-10 20:26] Chrisboh opened #3505 "Error dialog when trying to run a test from dotnet"
## Steps to reproduce

dotnet new -t xunittest
dotnet restore
dotnet run
## Expected  behavior

I would expect the test cases to run.  If we are forcing the user to have to run dotnet test then we should tell them so for this project type.
## Actual behavior

Nothing runs and you get an exception.

Unhandled Exception: System.MissingMethodException: Entry point not found in assembly 'test, Version

[2016-06-10 20:29] ianhays commented on #3499
The inverse is an issue as well i.e. `dotnet new --type xunittest` followed by `dotnet new`.

[code]

[2016-06-10 20:32] mellinoe opened #3506 "Blank F# project has lots of package downgrade warnings"
## Steps to reproduce

[code]
## Expected  behavior

Project restores cleanly
## Actual behavior

Packages restore, but there are a lot of downgrade warnings:

[code]

_(truncated)_
## Environment data

`dotnet --info` output:

[code]

[2016-06-10 20:51] blackdwarf commented on #1518
@kierenj I encountered the same problem, but on Win7 SP1 and the problem was in the virtual adapters on the machine (e.g. Virtual Box networking adapter, though it repro-ed with VMWare installed as well). I haven't played with Docker on Windows (yet 😄 ) but could it be something similar?

[2016-06-10 21:28] danmosemsft commented on #3497
You're quite right -- I missed off the argument. But, isn't it confusing that it mentions nuget3?

[2016-06-10 21:33] #3400 closed

[2016-06-10 21:34] brthor commented on #3400
Fixed in #3464

[2016-06-10 21:59] ericeil opened #3508 ""Cycle detected" error restoring xunittest project on Windows 2016 Nano"
## Steps to reproduce
Create a new xunittest project on Windows 2016 Nano, and restore it:

[code]

## Expected  behavior
`dotnet restore` works.

## Actual behavior
`dotnet restore` reports "cycle detected" error for xunit.

## Environment data
`dotnet --info` output:

[code]

[2016-06-10 22:01] ericeil commented on #2967
I ended up having to copy more than the three dlls listed here.  Copying everything from c:\windows\system32\forwarders next to CoreCLR seemed to work.

Note that if you "publish" an application, you'll need to copy the forwarders to the publish location as well.

[2016-06-10 22:03] sokket opened #3509 "Dotnet run eats newlines"
## Steps to reproduce
1) Have a Console.ReadLine() in code
2) dotnet run
3) Enter data

## Expected  behavior
The readline works

## Actual behavior
Program waits for newline even though console shows newline has been entered

## Environment data
`dotnet --info` output:

jonmill-macbook:Testing jon$ ~/Downloads/dotnet-dev-osx-x64.1.0.0-preview2-003024/dotnet --info
.NET Command Line Tools (1.0.0-p

[2016-06-10 22:05] joperezr opened #3510 "dotnet build on a test project won't rebuild referenced project when there are source changes."
## Steps to reproduce
1.- Create a Library project with a method
2.- Create a test project that references the Library project's method
3.- run dotnet restore on both projects and dotnet build on both projects.
4.- Make a change on Library project's method to make the test fail.
5.- build and run the test again. <-- Test project will still pass

## Expected  behavior
Test project should fail becau

[2016-06-10 22:05] schellap commented on #2967
@ericeil which version of the CLI are you using?

`dotnet --info`

[2016-06-10 22:06] schellap commented on #2967
@ericeil which version of the Shared FX are you using and is this a recent nano build?

[2016-06-10 22:08] ericeil commented on #2967
[code]

[2016-06-10 22:13] ericeil commented on #2967
Also, got my NuGet.config from here: https://gist.github.com/mellinoe/7580563f9850466ac44352d2b1972c7c

[2016-06-10 22:15] gkhanna79 commented on #2967
Sounds like a Nano config issue that reverse forwarders are not setup correctly?

[2016-06-10 22:17] Priya91 opened #3511 "Project is not compatible with unsupported,Version=0.0 error on dotnet restore on Windows Nano Server TP5"
## Steps to reproduce
mkdir helloworld
cd helloworld
dotnet new
dotnet restore
dotnet build
dotnet run
dotnet publish

edit, project.json to (adding runtimes, and removing type:platform)
[code]

dotnet restore
## Expected  behavior

restore successful
## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2016-06-10 22:21] kierenj commented on #1518
@blackdwarf / others ... I fixed this by going into Docker for Windows' settings, then Network, then un-checking 'VPN compatibility mode', which is ON by default.

[2016-06-10 22:22] ericeil opened #3512 ""dotnet build" fails for new "Lib" project on Windows 2016 Nano"
## Steps to reproduce
Set global nuget.config to this: https://gist.github.com/mellinoe/7580563f9850466ac44352d2b1972c7c
On Windows 2016 Nano, create a new "lib" project, restore it, and build it:

[40.78.96.241]: PS C:\l1> C:\dotnet\dotnetnano\dotnet new -t Lib
Created new C# project in C:\l1.
[40.78.96.241]: PS C:\l1> C:\dotnet\dotnetnano\dotnet restore
log  : Restoring packages for C:\l1\projec

[2016-06-10 22:28] maririos opened #3513 "dotnet test shows exception if project.json file is wrong"
## Steps to reproduce
1. Use a project.json file that has an error in the structure (i.e. a missing comma)
2. dotnet test
## Expected  behavior

When running the other dotnet commands they all show the following error message:
`After parsing a value an unexpected character was encountered: ". Path 'frameworks', line 19, position 2.`
`dotnet test` should show the same message.
## Actual behavior

d

[2016-06-10 22:41] piotrpMSFT commented on #3496
Which pr introduced this issue?

[2016-06-10 22:42] blackdwarf commented on #3496
#3458 . Fix is in PR.

[2016-06-10 22:46] schellap commented on #2967
dotnet publish and running app in standalone/portable, worked fine against `14339`. See below.

[code]

[2016-06-10 23:09] ericeil commented on #3512
Not specific to Nano; I got the same result on Win7.

[code]

[2016-06-10 23:28] Priya91 opened #3515 "Need an installation script for Windows Nano Server"
Currently msi doesn't work on Windows Nano Server, so we need to create a powershell script to install cli on nano. This script should copy over x64 binaries, and alter the system path. Also preview2 doesn't work on Nano without copying over ```C:\windows\system32\forwarders\*``` to the folder that has ```coreclr.dll``` in the cli installation.

This scenario is broken for Windows Nano customers,

[2016-06-11 00:13] joshfree commented on #3476
@yishaigalatzer @rrelyea could this be related to nuget changes around locking / dotnet restore /etc ?

[2016-06-11 00:17] joelverhagen commented on #3476
`dotnet restore` does write out this file. However, it only write the file when it has changed (can change due to `imports`) and we write it in a global lock *only observed by NuGet code* (fix was tracked by NuGet bug https://github.com/NuGet/Home/issues/2304).

[2016-06-11 00:18] gkhanna79 commented on #2967
@joshfree I dont believe there is any bug here - see @schellap email above and my responses from last month. This is a Nano configuration issue.

[2016-06-11 00:18] joshfree commented on #2967
@Priya91 please review

[2016-06-11 00:20] brthor commented on #3476
If for some reason compile-csc were executed out of proc it's possible the resolution step could be trying to read this file at the same time nuget is writing it causing some concurrency issue. Have not had time to get this under a debugger yet.

[2016-06-11 00:23] gkhanna79 commented on #2967
Please see response from @refaati at https://github.com/dotnet/cli/issues/468#issuecomment-217322904

[2016-06-11 00:55] Strandedpirate opened #3517 "How do I produce an exe for a console application using dotnet build?"
## Steps to reproduce
Create a new .Net Core Console Application (PREVIEW).
Run `dotnet build` from the command line.

## Actual behavior
It only produces a `.dll`

## Expected behavior
I need a `.exe` so I can execute it using the `Process` class

## Environment data
`dotnet --info` output:
[code]

**project.json**
[code]

[2016-06-11 03:48] jindovu commented on #3450
Thank you for your help

[2016-06-11 06:27] tmds opened #3519 "Assembly not found: Microsoft.CSharp"
After publishing my .net web app throws an exception when I try to start it:
[code]

I use the 'latest' cli from github dotnet/cli on Debian 8.2: `1.0.0-preview2-003032`

This seems to be the same issue @GuardRex has: https://github.com/dotnet/cli/issues/3379

I am using the `https://www.myget.org/F/aspnetcidev/api/v3/index.json` feed. My dependencies in project.json are `-rc3-*`. I use the same d

[2016-06-11 06:45] bogdandanielb commented on #317
@shootdaj You have to copy all the missing files not just coreclr.dll. Please check my comment https://github.com/aspnet/dnx/issues/3358#issuecomment-225340582

[2016-06-11 08:18] GuardRex commented on #3519
My app worked for a few days and has regressed back to ...
[code]
on the `aspnetvnext` feed. It's a vanilla portable app ...
[code]
Even if I convert it to an `rc2-final` app on a NuGet feed, I get the same issue, except it asks for a different version ...
[code]
... and attempting to supply a dep for the package has no effect.

[2016-06-11 10:06] isakagren commented on #3439
That dose not help.

[2016-06-11 11:40] chassq opened #3520 "dotnet ef dbcontext scaffold does not use assembly name"
## Steps to reproduce
1- Create a asp.net web project.
2- Change the default namespace in the project properties to something different than the project name.
2- Set the project up to run ef dbcontext scaffold to create models from a SQL server db
3- Run the scaffolding command line

## Expected  behavior
Output classes use the Default namespace value for namespace names

## Actual behavior
Output

[2016-06-11 12:56] johnbraden opened #3521 "Different monikers for old new project types"
I am contributing to the Backload project (https://github.com/blackcity/backload). This is highly configurable library that handles web requests and produces a desired result. The component  is usually called from a MVC controller, an ashx handler, etc. In the new project types (project.json) a middleware is available.

The assembly runs on the full Framework (.NET4.0, .NET4.5+) and on .NET Core.

[2016-06-11 13:48] svick commented on #2504
This seems to be fixed with the latest CLI:

[code]

[2016-06-11 14:19] blackdwarf commented on #3517
@Strandedpirate you need to create a self-contained app. For more information, please consult https://dotnet.github.io/docs/core-concepts/app-types.html. When you create a self-contained application, you will get an exe (that is, a binary) and will be able to do what need.

I will go ahead and close this issue. If you still need information, please reopen. Thanks!

[2016-06-11 14:19] #3517 closed

[2016-06-11 14:21] blackdwarf commented on #3512
@ericeil we've merged in a change to this template this morning. Can you try the latest and see if it still repros?

[2016-06-11 14:25] blackdwarf commented on #3505
@Chrisboh you need to use `dotnet test`. We have docs that show this: https://dotnet.github.io/docs/core-concepts/testing/unit-testing-with-dotnet-test.html. However, I will leave this issue for RTM (of tooling) since the suggestion of having custom messages after dropping a template could be a good feature for the new `dotnet new`.

/cc @sayedihashimi

[2016-06-11 14:27] pranavkm commented on #3476
We have worked around this by unparallelizing the build so exactly one repository is restored \ built at a time at the cost of much slower build times. My guess is that when two restores fire off, one of them assumes the tooling project.lock.json is already in place which causes it to proceed to `dotnet build` resulting in the failure. Perhaps tools restore needs to be hardened?

[2016-06-11 14:28] blackdwarf commented on #3503
@Chrisboh we have something like that at https://dotnet.github.io/docs/scenarios/solution-authoring/index.html. It should fill your needs. :smiley: We also have docs on global.json reference on the same site as above.

[2016-06-11 14:54] sayedihashimi commented on #3505
For the final RTM version we should be able to display next steps which are specific to each template.

cc @mlorbetske

[2016-06-11 15:11] gkhanna79 opened #3522 "Incorrect exclusion of System.Private.CoreLib for crossgen"
See https://github.com/dotnet/core-setup/issues/150 for details.

System.Private.CoreLib.dll does not have “.dll” suffix in both core-setup (https://github.com/dotnet/core-setup/blob/6d22159ebd7508bf223d500593b2740d7d030d66/build_projects/shared-build-targets-utils/Utils/Crossgen.cs#L20) and CLI (https://github.com/dotnet/cli/blob/80d3476fd16609a41fde37e4cdaa78e15f659115/build_projects/shared-buil

[2016-06-11 16:08] schellap commented on #3519
The following is the project.json:

 

    "dependencies": {
       "Microsoft.NETCore.App": {
         "type": "platform",
         "version": "1.0.0-rc3-*"
       },
       "Newtonsoft.Json": "9.0.1-beta1"
     }

 

We would expect that, dotnet buildproduces “App.deps.json” with FX’s runtime assemblies filtered out (trimming). But FX’s runtime assemblies are explicitly listed in the “App.deps.j

[2016-06-11 17:13] davidfowl commented on #2672
/cc @pakrym

[2016-06-11 17:54] Strandedpirate commented on #3517
That did the trick. Thanks!

[2016-06-11 18:28] GuardRex commented on #2914
btw - If an engineer is sitting down to do this one, perhaps, a fix for https://github.com/dotnet/cli/issues/1396 could be squared away at the same time?

[2016-06-11 18:38] GuardRex commented on #3440
@brthor

Could you clarify what that means?

[2016-06-11 20:14] eerhardt opened #3527 "We should shut off tests in our official VSO builds"
Our build takes away too long for such a small product.  We should consider not running tests on our official VSO bulids. Our tests take up the bulk of the time in an official build. The "Test and Package" step in our Win x64 build takes 35 minutes, while the entire build takes 66 minutes.

Instead, we can have a "rolling CI" build on the side running the tests. That way the official build can be

[2016-06-11 21:35] WoojO commented on #2543
@chemitaxis That worked for me. Thanks!

[2016-06-11 21:53] gkhanna79 commented on #3519
@piotrpMSFT marking this for preview2 - move it out if you feel it does not meet the bar.

[2016-06-11 21:53] gkhanna79 commented on #3519
CC @Petermarcu

[2016-06-11 22:11] pakrym commented on #2672
@davidfowl what are we doing with `preserveCompilationContext`? We would need to have libraries to put 'compile' section into.

[2016-06-11 23:52] Priya91 commented on #2967
@gkhanna79 The issue repros on TP5 which has reverse forwarders package turned on.

[2016-06-11 23:53] GuardRex commented on #2926
Terrible when this happens, b/c the exception doesn't make it clear what's happening. Thank goodness for Github Fu.

Reference to another example I just hit and solved by fixing `imports`: https://github.com/Azure/azure-storage-net/issues/289

[2016-06-11 23:54] gkhanna79 commented on #2967
@Priya91 How does your finding map to what Senthil has validated? Are they on different versions of Nano server? Also, CoreFX runs are also passing on Nano using the product from open build.

How have you confirmed that Reverse Forwarders are enabled?

[2016-06-11 23:58] gkhanna79 commented on #2967
@Priya91 What is the version of the OS that you are using and version of dotnet (similar to what @schellap shared above)?

[2016-06-11 23:58] piotrpMSFT commented on #3527
Our tests are also very wasteful. We rebuild the same artifacts many times in order to test. We need to eliminate the .nobuild files, replace them with better segregation of Test Assets, build those just once, and re-use the artifacts. We do not perform 35 minutes of valuable testing during these builds.

If we wanted to reduce the test coverage during VSO builds I don't think we should go to 0. A

[2016-06-12 00:01] Priya91 commented on #2967
The TP5 image was created following the blogpost [here] (https://blogs.technet.microsoft.com/nanoserver/2016/05/27/nano-server-tp5-iaas-image-in-azure-updated/)
This is the dotnet version
[code]

[2016-06-12 00:04] piotrpMSFT commented on #3515
@Priya91 do the existing scripts in `/scripts/obtain/install.[sh|ps1] not suffice for the purpose, forwarders aside?

[2016-06-12 00:06] gkhanna79 commented on #2967
@Priya91 you are using the same dotnet as @schellap did for his validation. The only difference I see is that OS version you have is 14300 while @schellap used 14339.

According to https://blogs.iis.net/davidso/nano/aspnet, the following should be used to validate presence of reverse forwarders:

_After installing Reverse Forwarders package (whether offline or online), verify that IIS and Reverse

[2016-06-12 00:19] Priya91 commented on #2967
This is the output from dism, i can't find reverse forwarders here, pasting output for confirmation.

[code]

[2016-06-12 00:22] gkhanna79 commented on #2967
@Priya91 There was a loader bug in Nano build prior to 14339 which was fixed starting 14339. I sent you an email about it offline.

Please create an image, which is 14339 or higher, and validate against it.

[2016-06-12 00:30] Priya91 commented on #2967
@gkhanna79 is the 14339 version publicly available? If not, we'll have to add about this patch to the release notes, as people will be running dotnet on 14300 nano.

[2016-06-12 00:33] gkhanna79 commented on #2967
Nano folks should share an updated Nano build that contains the fix. @refaati When do you expect Nano build, with the loader fix, to be publicly available?

[2016-06-12 00:59] eerhardt commented on #3522
Fixed by #3524

[2016-06-12 00:59] #3522 closed

[2016-06-12 02:41] muojp commented on #3515
seems same issues have different milestones: #3115

[2016-06-12 08:31] tmds commented on #3519
@schellap is there a way to workaround the issue e.g. by fixing some dependencies? Which dependencies should be fixed?

The issue also occurs when using the same dotnet version on the publish and production machine.

[2016-06-12 08:48] schellap commented on #3519
The fix in `dotnet build` would be to remove the "runtime" section entry for `Microsoft.CSharp.dll` in the application's `.deps.json`. Similarly, like `dotnet publish`, copy the `Microsoft.CSharp.dll` from the `shared\Microsoft.NETCore.App\1.0.0-rc3-004340\Microsoft.CSharp.dll` into the app base.

[2016-06-12 09:21] vincentshow commented on #3311
@piotrpMSFT i‘ve checked the cli version by your url, it was same with my installed cli. With the solution given by @schellap,i have executed exe file successfully after installing kb2533623. however, the dll could not be executed by cli yet. i'll try again, thank you all

[2016-06-12 09:30] tmds commented on #3519
@schellap apparently I need to do this for quite a number of assemblies... looking forward to a fix :D

[2016-06-12 17:31] blackdwarf commented on #3496
Fixed by #3507

[2016-06-12 17:31] #3496 closed

[2016-06-12 18:48] bitcrazed commented on #3416
Is there a reason a [PPA](https://help.launchpad.net/Packaging/PPA/InstallingSoftware) can't be created for .NET, ASP.NET, etc. on Ubuntu making installation as simple as `apt-get install dotnet-cli` or similar, as per #2844

[2016-06-12 18:49] bitcrazed commented on #3320
Is "able to install .NET on Ubuntu" not a release blocker?

[2016-06-12 19:12] moozzyk opened #3528 "Paths passed to scripts should be absolute"
## Steps to reproduce

When invoking a tool in a script (e.g. publish-iis) the paths passed to the script should be absolute even if the path provided by the user was relative. This is because when running a tool as a script the current directory is apparently changed and as a result the tool resolves a different path than the global command if the global command is not run from the project folder

[2016-06-12 20:18] schellap commented on #3519
@tmds, you can also make sure the exact version (instead of `-rc3-*`) in the `project.json` is installed at `DOTNET_ROOT\shared\Microsoft.NETCore.App\{project-json-version}`

[2016-06-13 00:26] blackdwarf commented on #3500
@Chrisboh in the future, `dotnet new` will change and will allow installing of templates as well as listing installed templates (so the `--type` will be whatever you installed). So this will effectivelly take care of this issue. Will leave it for RTM to track.

/cc @sayedihashimi

[2016-06-13 02:24] plioi commented on #1385
+1

"dotnet test" without passing through arguments cripples those of us wishing to port test frameworks to .NET Core.

Ditto for "dotnet run". If that supported passing through arguments, then we could have first-class, idiomatic C# build scripts with no weird hoops or dependencies.

[2016-06-13 05:49] vincentshow commented on #3311
it's my fault. i have installed dotnet-win-x64.1.0.0.001598 in April, when dotnet version was just rc1-update2 with a name microsoft dotnet cli which was different from microsoft .net core . unfortunately, i missed it both when uninstalling and installing new dotnet. anyway, it runs ok now after i uninstalling the old version and installing dotnet core rc2, and last but not least, follow the offic

[2016-06-13 06:22] Angelixion commented on #3459
Any help here?

[2016-06-13 06:34] noahfalk opened #3530 "dotnet restore fails with 'Value cannot be null'"
## Steps to reproduce

[code]
## Expected  behavior

Either give a nice error message or calculate settings without falling back to $HOME\...
## Actual behavior

[code]
## Environment data

Sorry I only captured dotnet --version when I had this earlier:
1.0.0-preview1-002702

It was running on OSX 10.11
## Notes

I filed another issue here, but they might be dupes: https://github.com/NuGet/Home/is

[2016-06-13 07:26] theclai commented on #3048
i just close my current terminal then open new terminal again then its work

[2016-06-13 09:20] jijiechen commented on #1161
And after installing openssl, you may also need to add soft links:

    brew link --force openssl

Refer to https://www.microsoft.com/net/core#macosx

[2016-06-13 09:38] jpsingleton commented on #3434
This all seems to work fine in preview 2 (read line echo, colours and empty lines).

BTW you can ctrl-click/right-click the installer package and select open to get the option to run it without fully disabling gatekeeper.

[2016-06-13 09:38] #3434 closed

[2016-06-13 14:00] ChantayOsborne commented on #3457
I've looked for documentation on this and can't find anything (either outdated, or dead pages.) ANy better links?

[2016-06-13 14:40] blackdwarf commented on #3457
@ChantayOsborne please take a look at https://dotnet.github.io/docs/scenarios/solution-authoring/index.html. If you still find that the information is inadequate, please file an issue at dotnet/core-docs for us to improve docs.

With that, I will close this issue.

[2016-06-13 14:40] #3457 closed

[2016-06-13 15:23] joelverhagen commented on #3476
@pranavkm, is it possible to do all of the `dotnet restore` calls in parallel then, only after all of the restores have completed, execute all of the `dotnet build`? Today, the restore code only writes the tool lock file if it has changes and still only does so in a global NuGet lock.

The hint for me is that the error above shows that `dotnet-csc` is crashing (not `NuGet.CommandLine.Xplat` or `do

[2016-06-13 15:45] richlander opened #3531 "Remove namespace from dotnet new artifacts"
The namespace just complicates the sample w/o any value.

Current artifact:

[code]

Simplify to:

[code]

[2016-06-13 15:52] bojingo commented on #3064
I was having this issue in a VSTS CI build.  Simply running "dotnet restore" for each project was all it took for me (I was using a Visual Studio build task and expected Visual Studio to do the restore for me, just like it does when I do it manually).  Not the simplest error message to diagnose, particularly with the variety of methods listed above that people used to fix it.

[2016-06-13 16:44] Chrisboh commented on #3503
My direct feedback here is that we should change the out of the box example to be this example as there are way to many pitfalls for the user to hit when constructing this on their own.  For example it looks like `dotnet build` will pick up code in sub folders even though its not part of the project.

Also where would I find the documentation for global.json on the link above?  i am poking around

[2016-06-13 16:49] xplicit opened #3532 "dotnet does not restore netstandard framework"
## Steps to reproduce
run `dotnet restore` on the following project.json

project.json

    {
      "dependencies": {
        "NETStandard.Library": "1.5.0-rc2-24027"
      },
      "frameworks": {
        "netstandard1.1": {
            "dependencies" : {
	         "System.IO" : "4.0.0-*",
             }
         }

      },
      "version": "4.0.0-*"
    }

## Expected  behavior
project is resto

[2016-06-13 16:51] livarcocc opened #3533 "First run experience breaks parsing of dotnet --version"
## Steps to reproduce
Run dotnet --version

## Expected  behavior
To just have the version of the CLI in the output.

## Actual behavior
We will print the EULA and the offline progress in the output and after that the version, which means that things that rely on simply getting the version out of this command will fail.

We need to consider if we want to skip the First Run experience in some cases

[2016-06-13 17:04] Chrisboh opened #3534 "Getting a 404 for some of our documentation"
## Steps to reproduce
https://dotnet.github.io/docs/getting-started/getting-started/cli-console-app-tutorial.md

## Expected  behavior
I should see the tutorial

## Actual behavior
I get a 404 page

## Environment data
`dotnet --info` output:

[2016-06-13 17:18] pranavkm commented on #3476
They're entirely different projects and all we do is run `build` on them individually. It's hard to run restore on all the projects because individual projects might restore things slightly differently.

[2016-06-13 18:08] brthor commented on #3527
What is the benefit of publishing a potentially broken build though? If we're spinning builds more often, but waiting the same (or longer) time for test results that doesn't make us more productive in resolving issues in the cli. It will make publishing potentially broken builds faster though.

We've seen a number of issues that only repro'd in VSO for whatever reason in the lifetime of the CLI.

[2016-06-13 18:09] brthor commented on #3416
Hey @bitcrazed We do indeed have a debian feed although not a PPA.

See https://www.microsoft.com/net/core#ubuntu

There is no reason we couldn't do that, it just hasn't been done yet.

[2016-06-13 18:11] brthor commented on #3320
You are still able to install .NET via the debian feeds, it's using the explicit .deb download links on the cli page which is broken because they are not targetting the correct versions of .NET Core and the Host

[2016-06-13 18:12] brthor commented on #3519
The workaround here is to target the exact version of the SharedFramework that is provided in the sdk you are using to `dotnet build` your app.

This only occurs in roll-forward scenarios when you are targetting an earlier version of the SharedFX than is available in the sdk you are using for `dotnet build`

[2016-06-13 18:13] brthor commented on #3434
@jpsingleton What platform are you on? Preview MSIs are indeed signed.

[2016-06-13 18:25] jpsingleton commented on #2234
Works on the latest preview 2 on OS X

[2016-06-13 18:25] jpsingleton commented on #3434
:arrow_up: OS X 10.11.5

The released pkg is signed but the latest pkg is not.

[2016-06-13 18:28] GuardRex commented on #3519
`<sarcasm>... or just go with self-contained, which has been rock-solid</sarcasm>` :smile:

I'm glad this one will get addressed ... this isn't the first time we've seen mismatch issues between the shared framework and deps listed in the app, and it was painful the last time, too, but it might be a related issue: https://github.com/dotnet/cli/issues/2454

[2016-06-13 18:33] Priya91 commented on #3515
@piotrpMSFT The ps script in cli repo is using the full framework, certain functions there don't work on .NETcore which is used by powershell on Nano.

[2016-06-13 18:37] MichaelSimons commented on #3515
FYI - https://github.com/dotnet/cli/issues/3113 should address the issues with the ps script not working on Nano.

[2016-06-13 18:38] Priya91 commented on #3515
Will close this issue as dupe of #3113

[2016-06-13 18:38] #3515 closed

[2016-06-13 19:00] superlogical commented on #3371
On windows 10 I can't uninstall the following the Visual C++ 2015 Redistributable. When I click uninstall it doesn't do anything.

Repair the Visual C++ 2015 Redistributable (both x86 and x64) via the "Programs and Feature" Window (a.k.a. Add/Remove Programs)

On Windows 10, right click the start button and select "Programs and Features"
Select "Microsoft Visual C++ 2015 Redistributable (x64) - 14

[2016-06-13 19:02] eerhardt opened #3536 "dotnet first run text is a little cramped on my machine"
## Steps to reproduce
Download a new CLI
`dotnet restore`

## Expected  behavior
The first run text is nice and easy to read.  I think a blank line before the section titles would do that.

## Actual behavior
The first run text isn't easy to separate between the sections

![image](https://cloud.githubusercontent.com/assets/8291187/16019558/3b4fdf44-316f-11e6-9184-ba60bc451b86.png)

## Environment

[2016-06-13 19:08] xplicit commented on #3320
@brthor Where are these feed located? Readme page points only to https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/Latest/dotnet-host-ubuntu-x64.latest.deb ... deb files

[2016-06-13 19:48] Pzixel commented on #3371
@superlogical dunno, I did it on Win10 x64 and everything worked. You also can do not touch x86 redistrutable becuase CLI are depended on x64 version only.

[2016-06-13 19:54] brthor commented on #3320
See here: https://www.microsoft.com/net/core#ubuntu

[2016-06-13 20:05] brthor commented on #3533
Perhaps we only launch first run experience when/if you are also launching a verb? `dotnet new` for example

[2016-06-13 20:06] piotrpMSFT commented on #3532
This issue belongs in the https://github.com/dotnet/corefx repo. @xplicit can you move it there?

/cc @ericstj

[2016-06-13 20:06] #3532 closed

[2016-06-13 20:08] piotrpMSFT commented on #3534
Moved to https://github.com/dotnet/core-docs/issues/525

[2016-06-13 20:08] #3534 closed

[2016-06-13 20:09] brthor commented on #3528
Do you mean the script variables should resolve to absolute paths.

ex `%publish:OutputPath%`

This seems like a good change.

[2016-06-13 20:12] moozzyk commented on #3528
Yes - if a parameter is a path it should be resolved so that the script only gets an absolute path.

[2016-06-13 20:26] MichaelSimons commented on #2504
Closing bug as @svick pointed out this issue has been addressed.

[2016-06-13 20:26] #2504 closed

[2016-06-13 20:27] piotrpMSFT commented on #3521
@johnbraden do you have a repro/sample project.json you can share? It is not clear what problem this issue aims to address. We absolutely have the ability to target multiple TFMs with different dependencies. What, then, is going badly?

[2016-06-13 20:53] mehmetilker commented on #3171
Doesn't work on classic library reference.

I have MVC project with following project.json configuration.
I added one core library reference and one classic (4.6.1) library reference.
It works without calling any method in other libraries but when I add following code on HomeController/Index for example it doesn't compile anymore...

`   ClassLibrary2Classic.Class1 c = new ClassLibrary2Classic.Cla

[2016-06-13 21:01] abpiskunov opened #3539 "[ProjectModel.Server] When project.json syntax error added during restore there should be no "Dependencies unresolved" errors."
## Steps to reproduce

1. Create a new Web App
2. While initial restore is stil runing, open project.json and add a 'a' after some "dependnecy":"version", (comma)

## Expected  behavior

after initial restore complete, dependnecies should be resolved and there should be only syntax error for project.json

## Actual behavior

Lots of "Dependency unresolved" errors

## Environment data
`dotnet --inf

[2016-06-13 21:04] jodavis opened #3540 ""Duplicate attribute" error caused by generated assembly info"
## Steps to reproduce
1. Open the attached repro project
2. Restore packages and build

## Expected  behavior
The build generates dotnet-compile.assemblyinfo.cs. This file should not contain an `[AssemblyInformationalVersionAttribute]` because one is already defined in Program.cs,

## Actual behavior
`[AssemblyInformationalVersionAttribute]` is included in dotnet-compile.assemblyinfo.cs, causing t

[2016-06-13 21:13] ericstj opened #3542 "DotNET first run fails with 'The process cannot access the file...'"
## Steps to reproduce
Using a many core machine (eg, mine has 8)
Ensure Windows defender is running with real-time protection and will scan %TEMP%
Run dotnet new

## Expected  behavior
First run executes completely

## Actual behavior
Fails with
[code]

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-003067)

Product Information:
 Version:            1.0.0-prev

[2016-06-13 21:22] livarcocc commented on #3542
@ericstj already has a fix for this.

[2016-06-13 21:32] eerhardt commented on #3465
FYI - We no longer need ProjectModel as "stable". It was determined that ASP.NET MVC only uses DependencyModel.

Thus DependencyModel and InternalAbstractions need to be "stable".  ProjectModel can go to "preview2"  (or maybe keep it "rc2"???). Either way it can't be marked "stable" because it depends on NuGet packages that aren't going to be marked as "stable".

/cc @pranavkm @davidfowl @anurse