[2016-04-09 18:41] SalvatoreMeschini commented on #1188
I have a similar issue, see comments below:

INITIAL STATUS (1.0.0-rc2-20221 coreclr x64):

sal@SALinux ~/Dev/Test/NandoWebNew $ dnvm list

Active Version              Runtime Architecture OperatingSystem Alias
------ -------              ------- ------------ --------------- -----
       1.0.0-rc1-update2    coreclr x64          linux           rc1
  *    1.0.0-rc2-20221      coreclr x64

[2016-04-09 20:19] dougbu commented on #2389
Found one workaround: `rimraf "$env:LocalAppData\Microsoft\dotnet"` or equivalent then reinstall `dotnet`.

[2016-04-09 21:01] dougbu opened #2390 "`dotnet test` does not support `--project` command-line argument"
Although it's poorly shown in the command-line help, `dotnet run` and `dotnet test` both support specifying the project to run / test on the command line. They do it in inconsistently, leading to confusion and frustration.
## Steps to reproduce
1. Execute `dotnet run --help`
2. Execute `dotnet test --help`
3. Execute `dotnet test --project test/project/project.json`
4. Execute `dotnet run test/pro

[2016-04-10 02:59] 717009629 opened #2391 "aspnetcore project on Ubuntu Could not resolve coreclr path"
## Steps to reproduce
lius@lius-Virtual-Machine:~/musicstore/src/MusicStore$ dotnet run

## Expected  behavior
Now listening on: http://*:5000

## Actual behavior
Project MusicStore (.NETCoreApp,Version=v1.0) was previously compiled. Skipping compilation.
Could not resolve coreclr path

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-rc2-002339)

Product Information:
 Ve

[2016-04-10 14:49] powerhai opened #2393 "System.IO.FileNotFoundException: Could not load file or assembly 'Newtonsoft.Json, Version=7.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified."
## Steps to reproduce
Run command:  dotnet ef migrations add FirstMigration
## Expected  behavior

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-rc2-002339)

Product Information:
 Version:     1.0.0-rc2-002339
 Commit Sha:  2be5e84f87

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.

[2016-04-10 15:36] lukka commented on #2229
@karimelm installing with homebrew openssl (openssl-1.0.2g.el_capitan.bottle.tar.gz) did the trick, now i can got rid of the issue related to **Unable to load DLL 'System.Security.Cryptography.Native'** . I wonder why dotnet/cli rely on homebrew and not on macports.

[2016-04-10 16:27] piotrpMSFT commented on #2389
@schellap

[2016-04-10 16:28] piotrpMSFT commented on #2389
Was this install done MSI or ZIP?

[2016-04-10 17:11] davidfowl commented on #2389
I see this same thing on OSX in the asp.net build using the script

[2016-04-10 17:29] schellap commented on #2389
@davidfowl, There is a mismatch in the interface between hostfxr.dll and hostpolicy.dll. The hostpolicy is probably old. If you cleared out your install and unzipped the contents, do you still repro?

This PR makes the interface backwards compatible:
https://github.com/dotnet/cli/pull/2392

[2016-04-10 17:37] schellap commented on #2389
This fixes the installer to patch hostfxr even when it is in use.

https://github.com/dotnet/cli/pull/2377

[2016-04-10 17:56] GuardRex commented on #1519
Fixed by https://github.com/dotnet/cli/pull/1891

[2016-04-10 17:56] #1519 closed

[2016-04-10 19:31] dougbu commented on #2389
@davidfowl and I were building aspnet repos e.g. https://github.com/aspnet/Mvc, him on OSx and me on Windows. Those builds use `install.ps1` / `install.sh` scripts. The scripts download the Zip file.

I don't know if @sirentek's case is the same.

[2016-04-10 19:36] MartinJohns opened #2394 "Cross-platform standalone publish produces not working executables"
## Steps to reproduce
1. Be on Windows.
2. Create a new project.
3. Have the runtime `ubuntu.14.10-x64` in your project.json file.
4. Deploy with the target runtime: `dotnet publish --runtime ubuntu.14.04-x64`

The other way around has the same issue, be on Ubuntu and try to create binaries for Windows.

## Expected  behavior
I end up with a directory containing a version that I can deploy to and

[2016-04-10 22:24] codemonkeyrawks commented on #1001
I found my answer for now: Feel free to port it however fit.

# Toolchain Update for Debian:
sudo sh -c 'echo "deb http://llvm.org/apt/jessie/ llvm-toolchain-jessie-3.6 main" > /etc/apt/sources.list.d/llvm-toolchain.list' && sudo sh -c 'echo "deb-src http://llvm.org/apt/jessie/ llvm-toolchain-jessie-3.6 main" > /etc/apt/sources.list.d/llvm-toolchain.list'
sudo apt-get update && sudo apt-get instal

[2016-04-11 03:08] TingluoHuang commented on #1919
@Sridhar-MS Ping...

[2016-04-11 04:39] MartinJohns commented on #2394
Likely related: https://github.com/dotnet/cli/pull/2220 - [donotmerge] Enable Cross Platform Publishing and add tests

[2016-04-11 05:57] McNeight opened #2395 "`dotnet restore` fails when --packages directory has spaces"
## Steps to reproduce

Extracted from corefx/init-tools.cmd:
"C:\Users\Neil\Documents\Visual Studio 2015\Projects\dotnet\corefx\Tools\dotnetcli\dotnet.exe" restore "C:\Users\Neil\Documents\Visual Studio 2015\Projects\dotnet\corefx\Tools\1.0.25-prerelease-00307-07\project.json" --packages "C:\Users\Neil\Documents\Visual Studio 2015\Projects\dotnet\corefx\packages\" --source https://dotnet.myget.org

[2016-04-11 07:28] davidfowl opened #2396 "runtimeconfig.json ending up in class libraries built with the CLI"
Just noticed this looking at the packages we generate with ASP.NET

![image](https://cloud.githubusercontent.com/assets/95136/14419608/c584f68e-ff7b-11e5-9031-77cc3dc3cc7d.png)

/cc @pranavkm @pakrym

[2016-04-11 08:24] ytimenkov commented on #1928
I observed similar issue on WIndows with CoreCLR when I had custom package sources in machine-wide nuget.config. (They are https and have packageSourceCredentials entries).

    dotnet restore
    Exception has been thrown by the target of an invocation.

However `dnu restore` gives more details about the problem:

    dnu restore
    Microsoft .NET Development Utility CoreClr-x64-1.0.0-rc1-16609

[2016-04-11 09:05] Gillardo commented on #2334
This seems to have worked thank you

[2016-04-11 09:05] #2334 closed

[2016-04-11 09:14] sirentek commented on #2389
@dougbu
I used the .msi installer (Windows).

[2016-04-11 09:38] mikes-gh commented on #1966
@PinpointTownes
Sorry for delay been on hols.
I confirm all fixed using x64 sdk installer
[code]

[2016-04-11 12:45] Cuiqs76 commented on #2364
this repository: https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe

[2016-04-11 12:58] alexandru commented on #809
I just want to report that the error still happens on OS X:

[code]

[2016-04-11 13:03] alexandru commented on #1405
Product Information:
 Version:     1.0.0-beta-001598
 Commit Sha:  7582649f88

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin

minielo:learning alex$ dotnet run
Compiling arningfor
                    NXCore,Version=v5.0
sr/local/share/dotnet/bin/dotnet compile-fsc @/Users/alex/Projects/learning/obj/Debug/dnxcore50/dotnet-compile.rsp returned Exit Code 1
/User

[2016-04-11 13:04] alexandru commented on #1405
Still happens for this version:

[code]

[2016-04-11 13:08] enricosada commented on #1405
@alexandru you need version `1.0.0-beta-002071`, the version `1.0.0-beta-001598` doesnt work xplat

check https://github.com/enricosada/fsharp-dotnet-cli-samples/wiki/Status

[2016-04-11 13:15] abpiskunov opened #2397 "[dotnet build] null exception during build when no packages are resolved"
## Steps to reproduce

- create a new web app (you need to simulate a situation when no dependency packages can be resolved, disable all nuget feeds or something like that
(for me it is happeneing since this is the state when i use latest tooling, there is some mismatch with packages at the moment)

- build after restore failed

## Expected  behavior

lots of build errors , since dependencies/refe

[2016-04-11 13:19] alexandru opened #2398 "Fix OS X install and uninstall procedure"
## Steps to reproduce

Install the official PKG package for OS X (1.0.0-beta-001598).

## Expected  behavior

I expect OS X to install the pkg without warning of an unsigned package and I expect it to create an item in "Applications" that I can use for uninstalling, or at least see clear instructions for uninstalling in some document on `dotnet.github.io` (currently the subject [doesn't come up](h

[2016-04-11 13:23] alexandru commented on #1405
@enricosada thanks, will try.

[2016-04-11 16:40] Sridhar-MS commented on #2394
cc @brthor

[2016-04-11 16:49] natemcmaster commented on #2389
Dup of https://github.com/dotnet/cli/issues/2194?

[2016-04-11 16:51] troydai commented on #2344
The duplicate libraries keys are fixed in 3d157d0ec8c4f3b98bb4439a0d87366727742edc.

[2016-04-11 16:51] #2344 closed

[2016-04-11 16:53] schellap commented on #2194
We are churning a bit right now, but the interface will be stable with PR #2392

[2016-04-11 17:26] moozzyk commented on #2322
Fixed in https://github.com/dotnet/cli/commit/6a571e5b2aaa06412155830fe9dc51474b807324

[2016-04-11 17:26] #2322 closed

[2016-04-11 17:26] shanselman opened #2400 "CLI Win32 Installer Fit and Finish"
The CLI installer is rather busy and has some problems that I think can be quickly fixed, mostly via subtraction of elements.

Problems
- Too many font size/boldness/changes/
- Install should be the default button and on the right.
- No need for a close button.
- No need for the weird language on the left under “Beta release”
- Ready? Set? No need for that.
- Even the logo is not needed.
- .NET is

[2016-04-11 17:27] anurse commented on #2289
The changes in dotnet/cli have been merged. @natemcmaster : let me know if you need anything else from us to get things working.

[2016-04-11 17:36] natemcmaster commented on #2289
Can we leave this open? I believe we still need to make changes to LoaderProjectContextExtensions to fully fix this. For now, EF will work around with these changes: https://github.com/aspnet/EntityFramework/pull/5002

[2016-04-11 17:38] brthor commented on #2394
This is a dupe of #2141

Working on #2220  now

[2016-04-11 17:38] #2394 closed

[2016-04-11 17:43] piotrpMSFT commented on #2397
@krwq can you take a look?

[2016-04-11 17:43] davidfowl commented on #2397
/cc @cdmihai

[2016-04-11 17:48] anurse commented on #2289
Ok, but those changes can be made post-RC2. I'll retarget the bug and reopen.

[2016-04-11 17:49] brthor commented on #2295
Self-Assigning to track cleaning this up

[2016-04-11 17:49] brthor commented on #2217
Fixed in #2220

[2016-04-11 18:03] BillHiebert commented on #2343
@anurse

Is this on the radar for RC2?

[2016-04-11 18:21] andschwa opened #2402 "dotnet-test-xunit does not work with latest CLI on Ubuntu 14.04"
## Steps to reproduce

### Install latest CLI

[code]

### Run tests

[code]

### project.json snippet

[code]

## Expected  behavior

The tests to run.

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

## Hypothesis

I think `dotnet-test-xunit` isn't yet updated to work with the latest versions of CLI, as its version is the only variable that has changed between my

[2016-04-11 18:48] livarcocc commented on #2396
@davidfowl I started always putting it there because of the project.json runtimeoptions. Should we just create it if the app is portable and/or the app contains a runtime options section in the project.json?

[2016-04-11 18:49] livarcocc commented on #2396
@davidfowl I started always putting it there because of the project.json runtimeoptions. Should we just create it if the app is portable and/or the app contains a runtime options section in the project.json?

[2016-04-11 18:58] pakrym opened #2404 "dotnet test fails with `Could not resolve coreclr path` error"
## Steps to reproduce
`dotnet test` standalone test project

## Expected  behavior
Test runs fine

## Actual behavior
Error is printed:

[code]

## Environment data
`dotnet --info` output:

[code]

## More data (deps file, log, command)
https://gist.github.com/pakrym/97eeb56dbe5bd30a4d04b4d7a40f3cc7

@muratg @Eilon @pranavkm

Blocks ASP.NET taking net CLI

[2016-04-11 18:58] pakrym commented on #2404
/cc @schellap @brthor

[2016-04-11 19:00] schellap commented on #2404
@brthor, only the muxer gets `--runtimeconfig` right? Why is corehost using `--runtimeconfig`?

[2016-04-11 19:05] brthor commented on #2404
please share project.json

[2016-04-11 19:11] brthor opened #2405 "Dev builds fail unless rebased"
## Steps to reproduce
Clone rel
`git reset --soft HEAD~1`

(This puts HEAD one commit behind master)

`build.cmd -Targets Prepare,Compile`

## Expected  behavior
Builds

## Actual behavior
`Could not load host policy library from [C:\Users\brthor\code\cli\artifacts\win10-x64\stage1\shared\Microsoft.NETCore.App\1.0.0-rc2-3002340]
This may be because the targeted framework [Microsoft.NETCore.App 1.0

[2016-04-11 19:13] brthor commented on #2405
@eerhardt Assigned you because you built this out. Feel free to redirect as necessary.

[2016-04-11 19:16] pakrym commented on #2404
https://github.com/aspnet/MusicStore/blob/dev/test/MusicStore.Test/project.json

[2016-04-11 19:18] brthor commented on #2404
Please give this a try:
[code]

[2016-04-11 19:28] eerhardt commented on #2405
I'm not 100% sure I understand why this is a problem that needs to be fixed... We've made many breaking changes from build to build that require getting the latest code in order to build with Stage0.

[2016-04-11 19:29] brthor commented on #2404
Chatted with Senthil, and his PR #2392 should fix the issue you are seeing.

The project.json changes I mentioned shouldn't be necessary but I would still recommend them.

[2016-04-11 19:29] piotrpMSFT commented on #2404
@pakrym did this fix??

[2016-04-11 19:32] brthor commented on #2405
This slows down the developer workflow.

Right now every commit to rel will break the build in every branch until it's rebased. Sure we do make breaking changes, but not at that frequency.

If we get into a place where we are checking in 20 commits a day again (even if they're unrelated to the build), everyone will be spending half the day rebasing just to be productive.

[2016-04-11 19:38] schellap commented on #2404
@piotrpMSFT, `--runtimeconfig` was added only for the muxer in exec mode because it was needed only for portable apps. It is also used with corehost.exe which it doesn't understand and hence doesn't read the deps file argument.

[2016-04-11 19:39] brthor commented on #2374
I have reproed this against rel on Windows and am unable to repro it against #2387.

[2016-04-11 19:45] eerhardt commented on #2405
It looks like an issue is that Stage0 is using its current Shared FX version when writing the dotnet.runtimeconfig.json out to the Stage1 sdk folder:

[code]

What controls writing this .json file?

[2016-04-11 19:46] brthor commented on #2405
The Executable class in Utils.

He's on vacation but maybe he'll see this @livarcocc

[2016-04-11 19:48] pakrym commented on #2404
Having:
[code]
didn't help.

[2016-04-11 19:51] eerhardt commented on #2405
Looks like the project.lock.json file for src\dotnet says:

[code]

probably that is the highest number in my nuget cache, and since we are using * versions, it uses that one.

[2016-04-11 19:51] NTaylorMullen commented on #1540
@danroth27 @Eilon @DamianEdwards @muratg @anurse  this means that `dotnet-razor-tooling`, `ef`, `scaffolding` tools etc (anything that must load a users project) will not be able to work on user projects that target anything less than net 4.6.2.

I assume since Razor targets net451 that our expectations are mismatched. All that are CC'd is this OK?

This blocks with the assumption that net 4.6.2 i

[2016-04-11 19:51] emgarten opened #2406 "dotnet test fails to find system.runtime with netcoreapp"
## Steps to reproduce
1. Create a test project that targets netcoreapp1.0
2. ``dotnet restore --infer-runtimes``
3. ``dotnet test``

project.json

[code]

## Expected  behavior

Tests will run

## Actual behavior

``Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its

[2016-04-11 19:51] sayedihashimi opened #2407 "Feedback on dotnet build for CI scenarios"
I'm working on a real project, and for my CI scenarios here is what I'm doing.
1. Install dotnet cli
2. Restore packages (_for .csproj and project.json_)
3. Build projects
4. Build NuGet package
5. Publish NuGet package to nuget.org

With .csproj I've used this pattern for several other projects and it's worked well for me. I'm also very experienced with build technologies.

On step #2 I build my

[2016-04-11 19:52] brthor commented on #2405
Ah, that's for sure an issue. Should we clean that package location at the beginning of the build? We do a similar thing for the test packages

[2016-04-11 19:52] eerhardt commented on #2405
yea, maybe.  I cleaned and am rebuilding now...

[2016-04-11 19:56] eerhardt commented on #2405
Even cleaning isn't going to help, since the package is on our cli-deps feed.  Maybe we also shouldn't be writing it there... @weshaggard ?

[2016-04-11 19:57] brthor commented on #2402
Share your test project.json please. We are making updates to the tests in regards to SharedFx but I wouldn't expect this to break.

[2016-04-11 19:57] eerhardt commented on #2405
Another (terrible) option is to generate all the project.json files that use Microsoft.NETCore.App to have the current version in it...

[2016-04-11 19:58] NTaylorMullen commented on #1540
Hmm actually, in the form of command line arguments and ifdefs we may be able to work around the limitation. Aka, scavenge all the information needed about a users project in the netstandard process prior to dispatching to the net45 variation of the same tool.

Seems like a poor tool authoring experience, but doable. Consider my question above rephrased to be: Should we do the workaround work or i

[2016-04-11 20:00] brthor commented on #2406
Same issue as #2404 ?

[2016-04-11 20:01] pakrym commented on #2406
Maybe, error message is not exactly the same

[2016-04-11 20:01] muratg commented on #2406
@brthor This blocks nuget from taking a new CLI, which prevents CLI from consuming a newer NuGet (with the fixes ASP.NET needs).

There's a different error between this and  #2404 (which maybe blocking too).

cc @piotrpMSFT @danroth27

[2016-04-11 20:02] eerhardt commented on #2405
I'm going to remove the `Microsoft.NETCore.App` package from our cli-deps feed, clean my cache, and then see if I can get past this error.

[2016-04-11 20:04] brthor commented on #2406
#2392 Will fix the `--runtimeconfig` issue here.

[2016-04-11 20:04] brthor commented on #2404
@pakrym Are you able to try against #2392 ?

[2016-04-11 20:05] andschwa commented on #2402
Under NDA, emailed it you @brthor. Thanks :smile:

[2016-04-11 20:35] eerhardt commented on #2405
OK, I think what needs to happen is:

1. We never push Microsoft.NETCore.App to our cli-deps feed. @weshaggard to verify this is OK, and we aren't doing it anymore.
2. We clean the .nuget cache of Microsoft.NETCore.App during our build.  I will get a PR sent out for this today.

[2016-04-11 20:42] anurse commented on #1540
`ProjectModel.Loader` is certainly only designed for use in .NET Core apps, so it doesn't make sense to have a desktop version since there's no such thing as a Load Context on desktop. Working around it seems like the best option right now.

[2016-04-11 21:00] schellap opened #2408 "Stop using corehost to activate apps"
## Steps to reproduce
`dotnet test` uses `corehost` to activate test xunit.dll

## Expected  behavior
`dotnet test` always uses the muxer to activate xunit.dll

## Actual behavior
corehost in `sdk` is being used.

## Environment data
`dotnet --info` output:

[2016-04-11 21:13] GuardRex commented on #2400
There is a missing space after the privacy statement link in the license terms.

The license terms and the text at the link under "Collection and Use of Personal Data" are not specific enough IMO for `dotnet cli`, where `dotnet` command arguments and details about apps are shared with Microsoft unless the opt-out environment variable is set on the system.

It's also unclear if the automatic opt-in

[2016-04-11 21:14] brthor commented on #2408
I thought we decided to leave this in for RC2?

The issue was resolving hostpolicy.dll from the nuget cache for standalone apps when we decided.

Do we still need to do that or no longer required?

[2016-04-11 21:16] #2374 closed

[2016-04-11 21:16] muratg commented on #1540
cc @divega @natemcmaster @bricelam

[2016-04-11 21:25] weshaggard commented on #2405
I'm not publishing that package to cli-deps feed I'm only publishing it to dotnet-core feed.

I'm not entirely sure I understand why this is a problem. I would expect that if you go back in time you would still get the local built version of this package. To me this is a side-effect of using the `*` versioning which we might need to figure out if we want to use a specific version instead.

[2016-04-11 21:54] eerhardt commented on #2405
This is a problem because if you switch branches, repos, etc you are going to start consuming the wrong Microsoft.NETCore.App package.  Even if you did something like:

1. commit 2 commits.
2. Build
3. squash your 1 commits into 1.
4. Build <-- This is now broken.

[2016-04-11 22:17] #2314 closed

[2016-04-11 22:41] schellap commented on #2408
I've added this for RTM. @gkhanna79

[2016-04-11 23:00] NTaylorMullen commented on #1440
I understand the technical limitation here but this seems like a **really** poor user experience. Is there anything we can do about this for RTM?

Most of the time users sit there doing build => build => build => build rarely ever forcefully doing a rebuild.

[2016-04-11 23:00] krwq commented on #2397
I was able to repro this with following when:
1. dotnet restore a project with a tool which exists but its version does not (i.e. change version from 1.0.0 to 1.0.1 in your project.json)
2. dotnet build

[2016-04-11 23:07] abpiskunov commented on #2397
oh cool, thanks @krwq!

[2016-04-11 23:07] Petermarcu commented on #2397
@abpiskunov can you comment on what is truly blocked if we don't get this for RC2?

[2016-04-11 23:10] abpiskunov commented on #2397
Well, looking at 2 repros , which are slightly different, it can repro when there are some unresolved packages or tools and user tries to build solution. Visible enough?

[2016-04-11 23:17] brthor commented on #2406
Should be fixed in #2409

[2016-04-11 23:36] Eilon commented on #1540
From my understanding, this does not sound acceptable to me. These need to work on .NET 4.5.1.

@DamianEdwards can you comment?

[2016-04-11 23:42] eerhardt commented on #2406
@emgarten - have you tried this without `--infer-runtimes`?  In the CLI, our tests we do:

[code]

And we target `netcoreapp1.0` and the tests run.

[2016-04-11 23:48] Eilon commented on #1540
Is there anything preventing ProjectModel from targeting a much, much lower `netstandard` version? Like 1.0 even?

[2016-04-11 23:49] danroth27 commented on #2373
@piotrpMSFT This seems like an annoyance for users. I don't think this blocks RC2, but should this be in for RTW?

[2016-04-11 23:54] emgarten commented on #2406
@eerhardt that could be the cause..

[2016-04-12 00:13] Cuiqs76 commented on #2364
the latest version (002317) is Ok.

[2016-04-12 00:13] #2364 closed

[2016-04-12 01:08] joeloff opened #2413 "Some files are missing AuthentiCode signatures"
Some of the runtime.win7-x64.* packages seem to have DLLs that are missing Authenticode signatures, e.g. runtime.win7-x64.Microsoft.NETCore.DotNetHost.1.0.0-rc2-00001, \runtimes\win7-x64\native\dotnet.exe is missing an Authenticode signature. Not sure if this is intentional.
Other files are hostfxr.dll, hostpolicy.dll and Microsoft.DotNet.Watcher.Core.dll and runtimes\win7-x64\lib\netstandard1.0\m

[2016-04-12 01:29] natemcmaster commented on #2289
@anurse Found a new bug in ProjectLoadContext. `ProjectLoadContext._nativeLibraries` currently stores a dictionary of native libraries to the path. e.g. `{"sni", "C:\super\long\path\to\sni.dll" }`. But, when `ProjectLoadContext.LoadUnmanagedDll(string unmanagedDllName)` is called, `unmanagedDllName == "sni.dll"`. The dictionary `_nativeLibraries` doesn't strip of the ".dll" and accordingly can't l

[2016-04-12 01:45] loic-sharma commented on #291
Hey, seems like this bug is back:

[code]

I'm on El Capitan 10.11.

[2016-04-12 06:28] ajaykalarickal commented on #2273
@piotrpMSFT Can you please take a look into this issue? I've tried with the new installer also. But still getting the error.

[2016-04-12 07:27] stathissideris commented on #1405
Got `1.0.0-beta-002071` and installed by hand on OSX (by copying the contents of the sdk folder in the tgz into `/usr/local/share/dotnet/bin`) and now I'm getting this: https://github.com/dotnet/cli/issues/1488 -- could it be that I'm missing a step when installing?

[2016-04-12 07:54] alexandru commented on #2398
Hello, so I really need to uninstall the PKG that I installed. Where can I find some instructions?

[2016-04-12 10:28] tugberkugurlu commented on #45
where is the up-to-date roadmap?

[2016-04-12 12:50] blackdwarf commented on #2349
/cc @brthor @Sridhar-MS

I don't think this is right. For self-contained app, the host should be the app's "exe" and we shouldn't need a "vanilla" dotnet.exe in there, right?

[2016-04-12 13:45] gkhanna79 commented on #2413
CC @weshaggard @joperezr @markwilkie - shouldn't the Windows mscorlib.dll be signed?

@piotrpMSFT @schellap can you please look into signing of hostfxr.dll and hostpolicy.dll?

@Sridhar-MS dotnet.exe signing sounds like https://github.com/dotnet/cli/issues/1103.

[2016-04-12 14:18] nklap opened #2417 "cannot run cli"
I'm running Windows 10 Pro - Version: 10.0.10586
Installed the SDK from the Installer - Version: 1.0.0.-rc2-002347

Path for the shared and sdk folder is configured.

Running any dotnet command results in the following output:
e.g. "dotnet --help"

Ok got the fix:
I wiped everything, reboot and reinstall.

can be closed.

[2016-04-12 14:47] GuardRex commented on #2349
Update: This is **not** repro'ing here any longer.

[2016-04-12 15:03] abpiskunov opened #2418 "[dotnet publish] publish fails with ne --no-build flag"
## Steps to reproduce

from https://github.com/weidazhao/Hosting and follow the instruction in readme.md to setup Service Fabric SDK. After opening the Hosting.sln in VS, you can right-click Hosting.sfproj -> Package to repro the issue.

## Expected  behavior

Publish to succeed.

## Actual behavior

1>------ Build started: Project: Microsoft.ServiceFabric.AspNetCore.Hosting, Configuration: Debug

[2016-04-12 15:45] jeffschwMSFT opened #2419 "Latest dotnet restore fails to resolve Microsoft.NETCore.App (>= 1.0.0-rc2-3002349)"
## Steps to reproduce
Mac OSX
dotnet new
dotnet restore

I uninstalled all the previous packages and I am starting from scratch:

xyz:hello-2016-04-12 xyz$ pkgutil --pkgs | grep dotnet
com.microsoft.dotnet.dev.1.0.0-rc2-002349.component.osx.x64
com.microsoft.dotnet.sharedframework.Microsoft.NETCore.App.1.0.0-rc2-3002349.component.osx.x64
com.microsoft.dotnet.sharedhost.1.0.0.component.osx.x64

xyz

[2016-04-12 15:51] jeffschwMSFT commented on #2419
Ok, it seems with the right nuget.config settings I am able to get restore working...

<add key="dotnet-cli" value="https://dotnet.myget.org/F/dotnet-cli/api/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />

[2016-04-12 15:54] GuardRex commented on #2419
@jeffschwMSFT Same here. @moozzyk corrected my feeds to  ...
[code]
... to get me running as shown in the `Nuget.config` of the current `cli-samples`, which are very easy to overlook in the location that they appear in that repo.

[2016-04-12 15:56] abpiskunov opened #2420 "[ProjectModel.Server] DependencyDiagnostics even should come after Dependencies event"
## Steps to reproduce

just check any Project.Model.Server trace, it sends info:
[code]
before new Dependencies snapshot and this some times breaks tooling behavior for suppressing errors when restore is pending or running. For example, tooling determines if auto-restore is needed based on comparison of old and new dependencies snapshots. So when new unresolved dependencies are added we should sho

[2016-04-12 15:57] jeffschwMSFT commented on #2419
Building is then failing with the following...

/Users/xyz/Documents/Projects/matrix/d.app_f.app_shared/project.json(7,31): error NU1002: The dependency Microsoft.CodeAnalysis.Common 2.0.0-beta1 does not support framework .NETCoreApp,Version=v1.0.
/Users/xyz/Documents/Projects/matrix/d.app_f.app_shared/project.json(7,31): error NU1002: The dependency Microsoft.CodeAnalysis.CSharp 2.0.0-beta1 does

[2016-04-12 16:03] GuardRex commented on #2419
@jeffschwMSFT I'll see if I can confirm the same behavior on Windows.

[2016-04-12 16:09] GuardRex commented on #2419
@@jeffschwMSFT They don't have the `dotnet new` project providing the `imports` statement on the TFM. Try it like this ...
[code]
... it won't run for me (yet) just because I don't have the shared framework installed locally (yet), but that's something I'll be getting to shortly. I've been very focused on the standalone model thus far, and this is a shared framework app that `dotnet new` creates.

[2016-04-12 16:12] pakrym opened #2421 "dotnet test fails withot error message"
## Steps to reproduce
1. Checkout git@github.com:aspnet/MusicStore.git release branch
2. Set `KOREBUILD_SKIP_RUNTIME_INSTALL=1 `
3. `.\build`

## Expected  behavior
Build and tests run fine.

## Actual behavior
Test fail without any output.
`$LastExitCode == -1073740791`

`test -v` run output:
[code]

On other machine I get
[code]
Trace https://gist.github.com/pakrym/6b1bb6c71b83abaea5b52b4fb83cb2

[2016-04-12 16:13] jeffschwMSFT commented on #2419
That did it... I suspect this is a point in time right before we ship RC2?

[2016-04-12 16:17] GuardRex commented on #2419
@jeffschwMSFT Correct ... just waiting for packages to catch up so that the `imports` statement can be dropped. AFAICT this will be resolved by the time RC2 hits (guessing).

The only way to know if it can be dropped in a given project is to do a "poor man's test," by just removing the `imports` line and seeing if it will compile/run. I have some projects where I've been able to drop the line and

[2016-04-12 16:22] Petermarcu commented on #2419
@weshaggard , Can we put the netcoreapp metapackage on the dotnet-core myget feed?

[2016-04-12 16:24] Petermarcu commented on #2419
@jeffschwMSFT , Are these the latest CodeAnalysis packages? We should see what it will take to get them to not require imports.

[2016-04-12 16:26] GuardRex commented on #2419
@Petermarcu I noticed that `dotnet new` doesn't produce a `NuGet.config` file. idk if that was by-design. Seems wrong given the prevailing samples and issues where feeds are discussed.

[2016-04-12 16:26] #2417 closed

[2016-04-12 16:28] Petermarcu commented on #2419
We removed it because we will be pushing everything to NuGet and don't want people to have our dev feeds in their feed list. As soon as RC2 packages are on NuGet, all the feedback will go away, until then, folks need to add the dev feed to their NuGet.config to opt into the dev feed.

[2016-04-12 16:30] weshaggard commented on #2419
Microsoft.NETCore.App meta-package is on the dotnet-core myget feed, in fact the exact version is there. The way publishing works however there is a little bit of a delay so it is possible that it wasn't there immediately if you picked up the cli build hot off the press.

That said the dotnet-core feed doesn't have the latest Roslyn packages which would account for the Microsoft.CodeAnalysisissue

[2016-04-12 16:32] cdmihai commented on #2418
After some quick testing, it seems that dotnet publish does not know the --build-base-path very well. If build is called with --build-base-path, then publish --no-build trips over:

[code]

[2016-04-12 16:33] Petermarcu commented on #2419
I'm going to close this issue for now, I believe so far everything is by design and there are a few follow ups.

[2016-04-12 16:33] #2419 closed

[2016-04-12 16:34] robmen commented on #2400
I was talking to @terrajobst  and @richlander at Build saying if they provided a specific design they wanted, I'd be happy to implement it. I'm (unfortunately) the far from a talented UI designer. Is this the desired design?

PS: At some point, there was some desire to inform devs which build/branch they were installing in the UI.

[2016-04-12 16:34] cdmihai commented on #2418
@pakrym, how should publish work when --build-base-path is used with build?

[2016-04-12 16:36] Petermarcu commented on #2231
@krwq , Didn't you have a fix for this one?

[2016-04-12 16:39] xatabhk opened #2423 "Can not find runtime target for framework '.NETFramework,Version=v4.5.1' compatible with one of the target runtimes: 'win10-x64, win81-x64, win8-x64, win7-x64'"
## Steps to reproduce
Test sample
[zaxitech_core_demo.zip](https://github.com/dotnet/cli/files/215480/zaxitech_core_demo.zip)

## Actual behavior
C:\downloads\web\projects\zaxitech_core_demo\src\tbweb>dotnet run
Can not find runtime target for framework '.NETFramework,Version=v4.5.1' compatible with one of the target runtimes: 'win10-x64, win81-x64, win8-x64, win7-x64'. Possible causes:
1. The pro

[2016-04-12 16:43] joplaal commented on #2380
Also net46

[2016-04-12 16:52] anurse commented on #1540
ProjectModel and ProjectModel.Workspace can definitely either cross-target or target a lower `netstandard`. The problem is the Loader is based on `AssemblyLoadContext` which is a CoreCLR thing. Desktop apps need to use an AppDomain. The Loader is a tiny part of the API though, so it's pretty easy to re-implement using AppDomains

[2016-04-12 16:53] pakrym opened #2424 "Microsoft.NETCore.App references wrong version of Microsoft.NETCore.DotNetHostPolicy"
## Steps to reproduce
Restore app targeting `Microsoft.NETCore.App/1.0.0-rc2-24011`

## Expected  behavior
Microsoft.NETCore.App references latest corehost packages it was built agains

## Actual behavior
[code]
@Petermarcu @eerhardt @schellap @piotrpMSFT @pranavkm

[2016-04-12 16:53] anurse commented on #2289
Oof, good catch. For RC2 you're still using your own copy of the load context code, right?

[2016-04-12 16:55] natemcmaster commented on #2289
Yes, for now I've implemented our own load context in EF.

[2016-04-12 16:55] pakrym commented on #2424
This is general cause of https://github.com/dotnet/cli/issues/2421

[2016-04-12 16:56] eerhardt commented on #2424
This is a wrong package version.  Valid `Microsoft.NETCore.App` versions look like `1.0.0-rc2-3` + the CLI version.

So you want to use `1.0.0-rc2-3002339` or something similar.

(Also - rc2-24011 was a bad/mistake build).  @ellismg @joshfree - can we get those packages taken down from the dotnet-core feed?

[2016-04-12 16:56] piotrpMSFT commented on #2420
@pakrym, @anurse please take a look.

[2016-04-12 16:58] anurse commented on #2420
/cc @troydai

[2016-04-12 17:08] piotrpMSFT commented on #792
@ajaybhargavb what is the ETA for this issue?

[2016-04-12 17:09] ericstj commented on #2413
@joeloff can you point us at the exact package you're seeing an unsigned mscorlib.dll in?  If I check https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win7-x64.Microsoft.NETCore.Runtime.CoreCLR/1.0.2-rc2-24008 I see that mscorlib.dll is SHA256 authenticode signed.

[2016-04-12 17:12] piotrpMSFT commented on #2346
@vijayrkn We have not built an xunit runner for dotnet which supports dotnet desktop. The runner which was developed intentionally unblocks the dotnet core scenario, while the existing xunit console from xunit is able to execute tests for desktop.

To prevent restore errors, add the dependency to dotnet-test-xunit within the netstandard/netcoreapp framework nodes. We can look at porting the xunit

[2016-04-12 17:18] piotrpMSFT commented on #2231
#2340 resolved this issue.

[2016-04-12 17:18] #2231 closed

[2016-04-12 17:20] gkhanna79 commented on #2421
Fix in PR at https://github.com/dotnet/cli/pull/2422

[2016-04-12 17:20] piotrpMSFT commented on #2349
Closing since @GuardRex confirmed this no longer repros. Please reopen if you see this again.

[2016-04-12 17:20] #2349 closed

[2016-04-12 17:21] jeffschwMSFT opened #2425 "Project.json Dependencies renamed to Framework in runtimeconfig.json"
<img width="553" alt="screen shot 2016-04-12 at 10 16 21 am" src="https://cloud.githubusercontent.com/assets/9561583/14469058/b15998be-0097-11e6-82e2-6dce418ad8ab.png">
## Steps to reproduce

dotnet new
dotnet restore
dotnet build

cat /bin/Debug/netcoreapp1.0/app.runtimeconfig.json
## Expected  behavior

Please don't reuse names like "Frameworks" (in project.json) vs "Framework" (in runtimeconfig

[2016-04-12 17:21] piotrpMSFT commented on #2359
We're kicking this out to rtm. There is significant installer work that needs to happen to appropriately cover the scenario.

[2016-04-12 17:22] piotrpMSFT commented on #2372
Please pass `--infer-runtimes` to dotnet restore in order to fix this issue.

[2016-04-12 17:22] weshaggard commented on #2413
Yes I expect that mscorlib should be properly signed but the host assemblies may not be getting signed correctly. @schellap please follow-up on that.

[2016-04-12 17:23] schellap commented on #2359
No issues since hostfxr.dll since last night should be backwards compatible with hostpolicy.

[2016-04-12 17:23] piotrpMSFT commented on #2397
The happy path works, and we need to work on fit-n-finish to improve the UX when missing/bad packages are referenced. Let's tackle this in rtm.

[2016-04-12 17:26] joeloff commented on #2413
Talked to @ericstj The mscorlib came from a package we don't want to ship: Microsoft.TargetingPack.Private.CoreCLR.1.0.0-rc2-23931.nupkg

[2016-04-12 17:28] #2406 closed

[2016-04-12 17:28] ajaybhargavb commented on #792
I'll send a PR by today or tomorrow.

[2016-04-12 17:34] pakrym commented on #2418
@cdmihai `dotnet publish --no-build --build-base-path ..\base` should work fine, I'll take a look why it doesn't work.

[2016-04-12 17:39] piotrpMSFT commented on #2217
This is tracked by #2141.

[2016-04-12 17:39] #2217 closed

[2016-04-12 17:41] jeffschwMSFT opened #2426 "dotnet run for a NETStandard.Library project gives obscure error: Could not load host policy"
## Steps to reproduce
dotnet new
vi project.json
{
  "version": "1.0.0-*",
  "dependencies": {
    "NETStandard.Library": "1.5.0-rc2-23931"
  },
  "frameworks": {
    "netstandard1.5": {}
  }
}
dotnet restore
dotnet build
dotnet run

## Expected  behavior
An error message pointing the developer to "compilationOptions" with an "emitEntryPoint".  Or an error saying that NETStandard.Library are not r

[2016-04-12 17:42] troydai commented on #2420
I assign this to myself. It's a quick fix.

[2016-04-12 17:45] piotrpMSFT commented on #2372
@pafuent if `--infer-runtimes` does not fix, please reopen this issue.

[2016-04-12 17:45] #2372 closed

[2016-04-12 17:45] balachir opened #2427 "After first-time project creation, we get: error occurred attempting to run the project model server process"
## Steps to reproduce
Dev14 U2 + AspNetCoreTools RC2
1. New ASP.NET Core web app > Web Application

## Expected  behavior
Project to create

## Actual behavior
When creating a project for the first-time, sometimes we run into this dialog

![image](https://cloud.githubusercontent.com/assets/8246794/14469910/a47c3670-009b-11e6-9e46-cb25161426a2.png)

## Environment data
`dotnet --info` output:

[2016-04-12 17:47] anurse opened #2428 "No way to set '32BITREQ' flag when compiling desktop exes"
## Steps to reproduce
1. Write an app that targets `net451` and takes a dependency on a native library
2. Publish the app for `win7-x86`
3. Run the output with `dotnet run`
## Expected  behavior

The application runs
## Actual behavior

[code]

This affects both `dotnet run` and `dotnet build / exec`. The user has to manually run `corflags` to set the necessary bit on the output.

**NOTE**: If the

[2016-04-12 17:48] anurse commented on #2428
Note there are tests in the PublishDesktopTests file in dotnet-publish.Tests which had to be disabled because of this.

[2016-04-12 17:52] NTaylorMullen opened #2429 "Trying to dotnet run with framework from non-project.json directory causes `Object reference not set to an instance of an object.` error."
## Steps to reproduce
1. Go to directory without a project.json
1. Type dotnet run -f .NETStandardApp1.5

## Expected  behavior
Some appropriate error about the current directory not having a project.json

## Actual behavior
![image](https://cloud.githubusercontent.com/assets/2008729/14470112/9dbc1138-009c-11e6-9bf6-5cc1766c2211.png)

## Environment data
`dotnet --info` output:
[code]

[2016-04-12 17:58] enricosada commented on #2429
without `-f` fails as expected

[code]

[2016-04-12 18:01] Sridhar-MS commented on #1919
I think @blackdwarf reverted the LKG builds to https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0.001598/dotnet-win-x64.1.0.0.001598.exe

@blackdwarf Did you hit anything similar when you were trying to update the LKG from 1.0.0.001598 to  1.0.0-beta-002133?

[2016-04-12 18:03] jeffschwMSFT opened #2430 "[dotnet publish] Passing in bogus --runtime does not throw an error (or warning)"
## Steps to reproduce

dotnet new
dotnet restore
dotnet publish -r "garbage_blah"
## Expected  behavior

An error saying RID "garbage_blah" was either ignored or not understood.
## Actual behavior

It publishes without an error or warning.

BTW, I noticed this since I had mistyped "osx.10.11-x64" and did not notice it was wrong because dotnet did not complain.
## Environment data

`dotnet --info`

[2016-04-12 18:04] blackdwarf commented on #1919
@Sridhar-MS I did revert and no, I did not. However, I uninstalled the 001598.

[2016-04-12 18:13] blackdwarf commented on #2400
@robmen this would be the wanted design.

Now that I look at what @shanselman wrote there are some changes also that I would make to his suggestion:

* ".NET Command Line" Should become ".NET Command Line Tools" because we are not building a shell.
* If everything on the left-hand side is removed, why not make the EULA window wider a bit? This way it is weird.
* Is "Close" the same as cancel? If s

[2016-04-12 18:15] #2421 closed

[2016-04-12 18:15] jeffschwMSFT opened #2431 "[dotnet publish] Publishing NETStandard.Library includes non-referenced assemblies in publish output"
## Steps to reproduce
dotnet new
vi project.json
{
  "version": "1.0.0-*",
  "dependencies": {
    "NETStandard.Library": "1.5.0-rc2-23931"
  },
  "runtimes" : {
    "osx.10.11-x64": {}
  },
  "frameworks": {
    "netstandard1.5": {}
  }
}
dotnet restore
dotnet publish -r "osx.10.11-x64"
ls bin/Debug/netstandard1.5/publish

## Expected  behavior
Only the app.dll and pdb should be published

## Act

[2016-04-12 18:17] sayedihashimi commented on #2231
Thanks, I have verified it.

[2016-04-12 18:20] blackdwarf commented on #2203
@brthor as we saw, `clang` at least has a similar approach. I say we go for it. Thoughts?

[2016-04-12 18:24] brthor commented on #2203
Which one, the symlinks?

[2016-04-12 18:27] jeffschwMSFT opened #2432 "[dotnet pack] Packaging a standalone app does not include the runtimeconfig.json settings"
## Steps to reproduce

dotnet new
vi project.json
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0-rc2-3002349"
    }
  },
  "runtimes" : {
     "osx.10.11-x64": {}
  },
  "frameworks": {
    "netcoreapp1.0": {}
  }
}
dotnet restore
dotnet pack
## Expected  behavior

The app.runtimeconfig.

[2016-04-12 18:32] Eilon opened #2433 "Typo: "Can not" should be "Cannot" in message "Can not find runtime target for framework...""
## Steps to reproduce

I ran `dotnet build` on a slightly messed up project, and got a presumably expected error.
## Expected  behavior

Error message should start with `Cannot`:

[code]
## Actual behavior

Error message starts with `Can not`:

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-04-12 18:35] BeelzeBu commented on #2426
You need to add:

"runtimes" : {
  "osx.10.11-x64": { }
}

Many runtimes can be added as win7-x64,ubuntu.14.04-x64 etc

[2016-04-12 18:37] jeffschwMSFT commented on #2426
I tried that, it made no difference.  The issue is that libraries do not have entry points - I would not expect this to work, but having a good error message is important.

[2016-04-12 18:38] victorhurdugaci opened #2434 "Provide a way to disable the package downgrade warnings"
Those messages create a lot of noise and sometimes we're okay with the downgrade. But there are so many messages of that type that finding any useful information between them is a pain. Here's an example: https://ci.appveyor.com/project/aspnetci/dnx-watch/build/1.0.229 (more than 30K messages just about that).

[2016-04-12 18:43] victorhurdugaci commented on #2434
Also, our logs are 10 times the regular size because of these messages http://aspnetci/viewLog.html?buildId=81701&buildTypeId=UniverseCoherence&tab=buildLog&state=&expand=none#_

[2016-04-12 18:49] BeelzeBu commented on #2426
take a look at the cli-samples [https://github.com/aspnet/cli-samples](url) also I'm using netcoreap1.0 as framework,

[2016-04-12 18:59] natemcmaster commented on #2289
Adding cref here to https://github.com/dotnet/corefx/issues/7683 to track potential changes.

[2016-04-12 19:05] krwq commented on #2404
https://github.com/dotnet/cli/pull/2422 should solve the issue. I will test it once the bits show up

[2016-04-12 19:06] balachir opened #2435 "RC2 Tooling bits + latest dotnet cli, unable to do Ctrl-F5 or F5 with ASP.NET Core Web Application"
## Install Steps
Dev14 U2 RTW
Install AspNetCoreTools RC2: \\aspnetci\drops\Setup-Bundle\release\54\x86\dvdQA\AspNetCoreTools.1.0.RC2.exe
Install latest .NET CLI: https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe

![image](https://cloud.githubusercontent.com/assets/8246794/14472153/a98aad08-00a6-11e6-9754-9fe7a34c87d7.png)

## Steps to reproduce
1.

[2016-04-12 19:17] blackdwarf commented on #2203
The very same.

[2016-04-12 19:18] pranavkm opened #2436 "dotnet test fails on OSX"
## Steps to reproduce
* Start with the MusicStore app: git@github.com:aspnet/MusicStore.git
* Run `export KOREBUILD_DOTNET_VERSION=1.0.0-rc2-002349`
* Run `build.sh`

## Expected  behavior
Build works

## Actual behavior
[code]

## Environment data
[code]

[2016-04-12 19:20] piotrpMSFT commented on #2427
/cc @muratg

[2016-04-12 19:23] muratg commented on #2427
@balachir does this happen only sometimes (and if so, how often)?  Does the client side have retries?

[2016-04-12 19:27] NTaylorMullen commented on #2126
This is still happening. I'm testing it in my [branch](https://github.com/aspnet/RazorTooling/tree/nimullen/net45support.55) where i'm adding net45 support to the Razor tool.

I debugged through it a bit and added [the isDesktop check](https://github.com/dotnet/cli/pull/2297/files#diff-c0cf2a403567444f15ee5a156ff5c4d9R95) and [OperatingSystemPlatform check](https://github.com/dotnet/cli/pull/2297/

[2016-04-12 19:27] piotrpMSFT commented on #2435
@barrytang can you have someone take a first look?

[2016-04-12 19:30] piotrpMSFT commented on #1440
@cdmihai can you look at doing this in RTM milestone?

[2016-04-12 19:31] troydai commented on #2427
`dotnet` may not be started, or when the VS tries to connect to the `dotnet` the process hasn't fully started yet.

[2016-04-12 19:32] balachir commented on #2427
A few of us have run into this. After installing the RC2 tooling bits, when creating the project for the very first time, the dialog pops up. If you hit OK and try creating a project again, then we don't see this issue anymore, so it's a little difficult to repro.

I don't think we have retries on the client-side. /cc: @BillHiebert

[2016-04-12 19:33] blackdwarf commented on #2052
@sayedihashimi can you add some examples of invocation of this new `dotnet new` you imagined on the command line? I'm fine with VS, but would love to see how complex/simple this would be in the shell.

[2016-04-12 19:36] natemcmaster commented on #2126
@NTaylorMullen which version of the package "Microsoft.DotNet.Cli.Utils" are you using?

[2016-04-12 19:38] brthor commented on #2126
@Sridhar-MS did you check in the fix for this?

[2016-04-12 19:41] brthor commented on #2203
Wait the very same as what?

[2016-04-12 19:46] Sridhar-MS commented on #2126
@NTaylorMullen which version of "Microsoft.DotNet.Cli.Utils" is being referenced?

[2016-04-12 19:48] piotrpMSFT commented on #2436
@schellap can you take a quick look?

[2016-04-12 19:56] gkhanna79 commented on #2436
Sounds like the OS ran out of memory to allocate for us. Does the machine have sufficient space/memory? Does this repro on other OSX machines?

[2016-04-12 20:27] schellap commented on #2436
Dup of #2421

[2016-04-12 20:27] #2436 closed

[2016-04-12 20:33] anurse commented on #2428
Discussed this with @DamianEdwards and @davidfowl. This is a pretty broken scenario. It will mean that any application published for `net451/win7-x86` that uses native binaries will **only** work on a true 32-bit OS, it won't work on WoW.

I have some ideas for quick low-impact fixes, I'll work them out and post back to this thread.

[2016-04-12 20:40] piotrpMSFT commented on #2435
@balachir is working on a tool-less repro for CLI team to investigate.

[2016-04-12 20:48] blackdwarf commented on #2203
@brthor :) The solution you proposed above 6 days ago. :)

[2016-04-12 20:54] brthor commented on #2203
Nice, yeah I think it's a good compromise between the last sdk you installed and the latest installed.

This would be the first time we're altering system state like this on a run of the cli though, so we should have some design discussions before implementing.

[2016-04-12 20:59] abpiskunov commented on #2418
I just updated tooling to add --build-base-path and also see publish still failing. For me error was Could not find a part of the path 'C:\Users\antonpis\Documents\Visual Studio 2015\Projects\WebApplication7\src\WebApplication7\bin\Release\netcoreapp1.0\WebApplication7.dll'.

where correct path should be 'C:\Users\antonpis\Documents\Visual Studio 2015\Projects\WebApplication7\**artifacts**\src\Web

[2016-04-12 21:04] blackdwarf commented on #2203
Definitely.

[2016-04-12 21:07] balachir commented on #2435
If I try to do 'dotnet run' on this empty web app from the command-line, I get

![image](https://cloud.githubusercontent.com/assets/8246794/14475522/3b5b8896-00b7-11e6-92d2-f27d3c3c44c3.png)

I can also repro the above message on the command-line with "dotnet new"
![image](https://cloud.githubusercontent.com/assets/8246794/14475544/5c16ac32-00b7-11e6-9a8a-ab1d93b1708c.png)

Change the dependencies

[2016-04-12 21:13] piotrpMSFT commented on #2435
@schellap, this is a host/fxr issue

[2016-04-12 21:15] piotrpMSFT commented on #2435
Can you confirm this has to do with churn in the muxer and is something we should manually workaround by deleting old zip-installed CLI and start fresh?

[2016-04-12 21:16] schellap commented on #2435
Could you please try:

[code]

or better to Uninstall and start with a fresh installlation?

[2016-04-12 21:17] brthor opened #2438 "Move TestAsset Apps from NETStandard.Library to Microsoft.NETCore.App"
This is cleaning up Test Debt.

To do this we must generate stub NuGet packages for each of the host packages for each rid they support other than the rid of the current platform.

This is needed for 2 reasons:
- `--infer-runtimes` in nuget restores both x86 and x64 rids on windows platforms, but we only build a host for one of those rids
- `--infer-runtimes` does not override or filter rids which

[2016-04-12 21:17] piotrpMSFT commented on #2397
@krwq this was discussed at shiproom and pulled in for RC2. Please priorotize fixing the nullref. If the nullref is in NuGet please open an issue in https://github.com/nuget/home.

[2016-04-12 21:21] blackdwarf commented on #2237
Closing this as the docs has been merged.

[2016-04-12 21:21] #2237 closed

[2016-04-12 21:26] jeffschwMSFT opened #2440 "Project.json with dependency "Microsoft.NETCore.App" and framework "NetStandard1.5" should be disallowed"
## Steps to reproduce

dotnet new
vi project.json
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0-rc2-3002349"
    }
  },
  "runtimes" : {
     "osx.10.11-x64": {}
  },
  "frameworks": {
    "netstandard1.5": {}
  }
}
dotnet restore
## Expected  behavior

This should give an error message

[2016-04-12 21:31] balachir commented on #2435
@schellap, I tried copying over hostfxr.dll but I get the error in screenshot below now.
![image](https://cloud.githubusercontent.com/assets/8246794/14476142/df4744f6-00ba-11e6-8d66-c6e672ad29de.png)

When you say "Uninstall and start with a fresh installation", do you mean I should try uninstalling the dotnet cli and installing latest from https://dotnetcli.blob.core.windows.net/dotnet/beta/Insta

[2016-04-12 21:33] schellap commented on #2435
Yes. Please use the latest installation from the link you have added. The latest bits should have the interface between hostfxr and hostpolicy stable.

[2016-04-12 21:39] cdmihai commented on #2431
I think you have to add "type": "Platform" for dependency subgraphs that should be retrieved from the shared framework and not copied on publish.

[2016-04-12 21:40] blackdwarf commented on #2400
@robmen I will assign to you for now, please re-assign if you think this is in error.

[2016-04-12 21:40] piotrpMSFT commented on #2420
any update?

[2016-04-12 21:43] troydai commented on #2420
PR is out (#2441), waiting on CI. I'm drafting the mail to ask for merge permission from .net core ship room.

[2016-04-12 21:47] jcsotoo92 opened #2442 "Can not find runtime target for framework '.NETFramework,Version=v4.5.1'"
i get this error when i try to run my app with the command dotnet run

Can not find runtime target for framework '.NETFramework,Version=v4.5.1' compatible with one of the target runtimes: 'win10-x64, win81-x64, win8-x64, win7-x64'. Possible causes:
1. The project has not been restored or restore failed - run dotnet restore
2. The project does not list one of 'win10-x64, win81-x64, win8-x64, win7-x

[2016-04-12 21:50] balachir commented on #2435
Hmm, I updated to the latest (1.0.0-rc2-002355) and I still see the same issue.

[2016-04-12 21:52] piotrpMSFT commented on #2400
This is pretty important. Let's get shiproom feedback on this tomorrow. Moving to RC2 for now.

[2016-04-12 22:02] sayedihashimi commented on #2052
@blackdwarf the specifix user interaction is orthogonal to my ideas. I think what you have above should work with my proposal. I'd like to make sure the local template story is good, so we may be able to add to it.

[2016-04-12 22:04] NTaylorMullen commented on #2126
Targeting `*`, so whatever version is on our asp.net feed: `1.0.0-beta-002279`

[2016-04-12 22:08] anurse commented on #2428
We came up with a low-impact initial fix for RC2. For desktop builds, we will send the `/platform` switch to csc even if no value is provided. It will default to `anycpu32bitpreferred` in the 32-bit CLI and to `x64` in the 64-bit CLI. This does mean that if I want to build a 64-bit app on 32-bit Windows, I'm going to have a problem, but this was the best model we could come up with that would work

[2016-04-12 22:09] Sridhar-MS commented on #2126
The fix went into `1.0.0-beta-002294`. The feed is https://dotnet.myget.org/feed/dotnet-cli/package/nuget/Microsoft.DotNet.Cli.Utils

Can you give it a try?

[2016-04-12 22:19] brthor opened #2444 "Remove Publish Fallback behavior when #2220 goes in"
#2220

Contains fallback behavior so that existing projects without a host dependency can be published as standalone.

As we move forward a Standalone app will have a requirement to have a host available in it's package graph for publishing.

We should remove the fallback behavior altogether which is blocked on #2438

[2016-04-12 22:27] NTaylorMullen commented on #2126
Manually added the cli feed and coreclr feed and this works. Thanks @Sridhar-MS, sorry for the false alarm. Looks like we haven't pulled latest external packages recently enough.

[2016-04-12 22:27] #2126 closed

[2016-04-12 22:34] #2141 closed

[2016-04-12 22:42] #2418 closed

[2016-04-12 22:59] Sridhar-MS opened #2446 "Appdepsdk folder need not be copied to the sdk directory"
Since we no longer support dotnet-compile-native this is not needed.

On windows the size in disk of this folder is 1.3mb.

cc @brthor @piotrpMSFT

[2016-04-12 22:59] piotrpMSFT commented on #2435
did you delete previous installs?

[2016-04-12 22:59] troydai commented on #2427
The issue requires a newly installed VS. @balachir is building a test environment for me.

[2016-04-12 23:01] piotrpMSFT commented on #2104
@blackdwarf this was discussed in shiproom today and punted to rtm.

[2016-04-12 23:03] piotrpMSFT commented on #2397
@krwq will have a fix tomorrow.

[2016-04-12 23:09] piotrpMSFT commented on #2347
@emgarten is a new build of NuGet available?

[2016-04-12 23:10] emgarten commented on #2347
@piotrpMSFT  Yes, the PR is here: https://github.com/dotnet/cli/pull/2345

NuGet 1160 uses NetCoreApp as the TFM for Tools

[2016-04-12 23:11] piotrpMSFT commented on #2357
This is currently blocked on an x86 issue. @pakrym believes this will come in Tuesday or Wednesday morning.

[2016-04-12 23:12] #2404 closed

[2016-04-12 23:16] jeffschwMSFT commented on #2426
That misses the point - I am not looking to make this work rather ensure the experience in this state is good.

[2016-04-12 23:18] jeffschwMSFT commented on #2431
I am not looking to 'fix' this case by changing it, but rather see it working in as a standalone project.  Adding "type": "platform" will make it sharedfx again.

[2016-04-12 23:22] piotrpMSFT commented on #2343
@anurse, when this was originally brought up you were fairly adament that we should not be looping across all RIDs. Are you ok with the change now?

[2016-04-12 23:22] balachir commented on #2435
I tried deleting the 1.0.0-beta-002275 folder from C:\Program Files\dotnet\sdk but that does not seem to help much either.

I talked offline with Senthil a little while ago. Apparently, there was a breaking change in hostfxr and the Microsoft.NETCore.App 1.0.0-rc2-23931 package which the default templates depend on currently is not compatible with the latest CLI version. So sounds like tooling nee

[2016-04-12 23:31] troydai commented on #2420
Fixed in 065e8352fc88aa2c1653d2321d39b1ab4efe5316

[2016-04-12 23:31] #2420 closed

[2016-04-12 23:42] NTaylorMullen opened #2448 "Trying to execute tool that doesn't properly reference Microsoft.NETCore.App leads to bad error."
## Overview

Ran into this guy when developing the Razor tooling. Essentially, I had temporarily removed the `"type": "platform",` portion from my `Microsoft.NETCore.App` inclusion in order to get it to work with Visual Studio and forgot I had done that. Got the misleading error mentioned below which sent me on a wild goose chase for a while. Could forsee other users trying to build their own tool

[2016-04-13 00:10] krwq commented on #2448
Could you try updating and retrying? I believe this was fixed today with https://github.com/dotnet/cli/commit/aed81d43db0337623fc708ead37216133b82da8b

[2016-04-13 00:12] anurse commented on #2343
Yeah, I've been convinced it's useful and think I've worked out how best to do it. Also #2428 might end up requiring us to actually invoke `csc` separately for different RIDs, so it may be useful anyway.

[2016-04-13 00:25] barrytang commented on #2435
@Petermarcu, @Eilon, can you confirm tooling does need new packages to pick up a new CLI due to this breaking change? If yes, when can I expect the next Coherence-Signed? Thanks!

[2016-04-13 00:35] natemcmaster commented on #2448
I ran into the same error. 1.0.0-rc2-002357

[2016-04-13 00:37] schellap commented on #2435
1.0.0-rc2-23931 is quite an old CLI. We've made several changes (servicing related and bug fixes) to the host. These introduced new properties like patch roll forward and prerelease roll forward.

What is happening here is the newer host is used to load an older policy dll. The interface is now stabilized to be backwards compatible. So it is best to use the newer CLI, specifically, `hostfxr.dll` c

[2016-04-13 00:37] brthor commented on #2448
The fact that an error is thrown here is by design, since tools must be portable.

We could definitely do a better job of detecting this and throwing before trying to execute the tool though.

[2016-04-13 00:41] eerhardt opened #2451 "Installing CLI windows installer makes a 'swidtag' folder"
## Steps to reproduce
Install https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe

## Expected  behavior
I shouldn't have a "swidtag" folder under C:\Program Files\dotnet

## Actual behavior
I have a "swidtag" folder under C:\Program Files\dotnet.  It has one file:
Microsoft .NET Core CLI for Windows (1.0.0.002357 beta).swidtag

[code]

/cc @robmen

[2016-04-13 01:07] gkhanna79 commented on #2413
@Sridhar-MS were you able to fix signing of hostfxr.dll and hostpolicy.dll?

[2016-04-13 01:15] Sridhar-MS commented on #2413
I have a PR out for this - https://github.com/dotnet/cli/pull/2439

[2016-04-13 01:20] blackdwarf commented on #2104
@piotrpMSFT then we should close it. This was specific to RC2 and "old-style" `dotnet new` since RTM will se the "new & improved" `dotnet new`. Essentially, a stopgap measure.

[2016-04-13 01:20] #2104 closed

[2016-04-13 01:26] gkhanna79 commented on #2444
@brthor Is this for RC2?

[2016-04-13 01:27] Eilon commented on #2435
ASP.NET is using CLI 1.0.0-rc2-002353 as of this afternoon.

[2016-04-13 01:27] Eilon commented on #2435
However, there's some issues with ASP.NET full builds going through, so it might not be until tomorrow to get an ASP.NET build that is ready for Barry's team.

[2016-04-13 01:30] gkhanna79 opened #2452 "HostFXR should service hostpolicy targeted by the app"
When HostFXR needs to lookup the serviced version of hostpolicy, it currently looks it up using the version/name info that was baked into it at compile-time, since it is updated in lock-step with hostpolicy.dll.

This will not work when we will need to publish a new hostfxr (which has a different version) that needs to work with existing SharedFX and load a serviced version of hostpolicy correspon

[2016-04-13 01:36] TingluoHuang commented on #1919
@Sridhar-MS @blackdwarf
I was not able to install 1598 at the first time even i uninstall previous installed cli. and I am still not able to either 1598 or 2133. and there isn't any installed software list in my control panel that named like '%dotnet cli%.

[2016-04-13 01:36] blackdwarf commented on #2052
@sayedihashimi ah, I see. When you say a "local template story", you mean templates that are installed with the SDK/other?

[2016-04-13 01:40] blackdwarf commented on #1919
@TingluoHuang can you share details of your OS? This is very weird, I haven't seen anything like this on Windows with 001598.

[2016-04-13 01:46] TingluoHuang commented on #1919
@blackdwarf Windows 10 enterprise edition, build 10.0.10586

[2016-04-13 01:54] barrytang commented on #2435
@Eilon, so you are saying I shouldn't pick up a new CLI until the next Coherence-Signed? And once I have done that, this issue will go away?

[2016-04-13 01:55] TingluoHuang commented on #1919
@blackdwarf I am searching my Registry and find this entry.
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NET Cross-Platform\SDK
which contains
Install: 1
InstallDir: C:\Program Files\Microsoft DNX\Dnvm\
Version: 1.0.10609.0

what do you think i remove this entry from registry and try install again?

[2016-04-13 01:58] barrytang commented on #2346
Adding @Petermarcu, @DamianEdwards and @davidfowl

From today's Core War conservation, I think we agreed that we need a Desktop experience for RC2. I went ahead and moved this to RC2 for now.

[2016-04-13 01:58] Sridhar-MS commented on #1919
These registry keys do not matter. Can you try one of the latest CLI installer in this repo's readme.md?

Sent using CloudMagic Email<https://cloudmagic.com/k/d/mailapp?ct=pi&cv=7.6.23&pv=9.2.1&source=email_footer_2>

On Tue, Apr 12, 2016 at 6:56 PM, Ting <notifications@github.com> wrote:

@blackdwarf<https://github.com/blackdwarf> I am searching my Registry and find this entry.
HKEY_LOCAL_MACHINE

[2016-04-13 01:58] Eilon commented on #2435
@barrytang I'm not sure what will happen if you take a CLI on your own. I think it depends on which CLI you have right now, but honestly I don't know all the intricacies.

[2016-04-13 02:06] TingluoHuang commented on #1919
@Sridhar-MS
it still failed to install latest .net core sdk from readme.md
Error log:
[3ADC:1480][2016-04-12T22:02:53]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: C:\Users\huang\AppData\Local\Temp\{7A3C071E-31ED-4AFB-9A31-513158D0A127}\.cr\dotnet-dev-win-x64.latest.exe
[3ADC:1480][2016-04-12T22:02:53]i000: Initializing string variable 'BuildType' to value 'Release'
[

[2016-04-13 02:13] #2357 closed

[2016-04-13 02:15] #2008 closed

[2016-04-13 02:15] schellap commented on #1690
This is done.

[2016-04-13 02:15] #1690 closed

[2016-04-13 02:16] barrytang commented on #2435
With Bala's earlier comment, it seems to be the case.

I am going to assume my team is blocked picking up the next CLI until the next Coherence-Signed build unless someone tells me otherwise.

[2016-04-13 02:38] GuardRex commented on #2452
@gkhanna79 Does my recent exception working with a test shared framework app pertain to this issue?
[code]

[2016-04-13 02:41] schellap commented on #2452
Can you try this workaround?
https://github.com/dotnet/cli/issues/2389

[2016-04-13 02:42] schellap commented on #2452
Could you please try removing 1.0.1-rc2-002296 and target the newer FX.

[2016-04-13 02:47] GuardRex commented on #2452
@schellap Ok, but that host policy is being pulled in :sparkles: auto-magically :sparkles:
[code]
[code]
Perhaps, I should wait for `-2392` and see if this issue clears up??

[2016-04-13 02:47] schellap opened #2453 "Do not roll forward for servicing"
## Steps to reproduce
NuGet package locations in `C:\Program Files\dotnetextensions\` roll forward automatically for pre-releases.

## Expected  behavior
This should not happen. The patches should be issued in place.

## Actual behavior

## Environment data
`dotnet --info` output:

[2016-04-13 02:47] schellap commented on #2453
Fixed by #2412

[2016-04-13 02:47] #2453 closed

[2016-04-13 02:55] schellap commented on #2452
[code]

The "version" field should be shared FX that you just installed.
`dir C:\Program Files\dotnet\shared\Microsoft.NETCore.App\`

[2016-04-13 02:55] schellap commented on #2452
Can you point me to what your runtimeconfig.json contains in the bin drop cotnains?

[2016-04-13 02:56] GuardRex commented on #2452
@schellap Ok, thanks.

`testshared.runtimeconfig.json`
[code]

[2016-04-13 02:57] schellap commented on #2452
`dir C:\Program Files\dotnet\shared\Microsoft.NETCore.App\`

or `which dotnet` relative dir?

[2016-04-13 02:58] GuardRex commented on #2452
![capture](https://cloud.githubusercontent.com/assets/1622880/14481548/bcccc93e-00f9-11e6-9f81-9329961a4e3d.PNG)

[2016-04-13 02:59] schellap commented on #2452
Can you target 1.0.0-rc2-3002363?

[2016-04-13 03:00] GuardRex commented on #2452
I can, but I have the Azure VM deprovisioned, so I can't run the same test I ran earlier. I was planning on spinning it back up to test again in the morning. I can post back if you like with the result of the change to the TFM you provided tomrrrow.

[2016-04-13 03:01] schellap commented on #2452
The runtimeconfig.json will then be updated with this version and the host should pick it up and load the compatible hostpolicy.dll.

[2016-04-13 03:02] GuardRex commented on #2452
@schellap Is the way I specified `Microsoft.NETCore.App` initially (`-*`) incorrect? ... or is this something that will just not happen shortly with updates?

[2016-04-13 03:06] schellap commented on #2452
@GuardRex do you have a `global.json` in an ancestor of your working dir? Basically, it seems from the dotnet that got picked up, you have 1.0.0-rc2-002363, but do you have an global.json override?

[2016-04-13 03:07] GuardRex commented on #2452
No, I'm not using a `global.json` with any of my apps, including this test app.

[2016-04-13 03:12] sayedihashimi commented on #2052
@blackdwarf

I should have said "local template dev story". Let me explain by example.

When developing templates in Visual Studio with SideWaffle/TemplateBuilder I can CTRL+F5 (or F5) to start the VS experimental instance with my template vsix loaded.

When developing templates with yeoman I can use `npm link` to point to my local copy of `yo aspnet` so that I can try the templates via `yo aspnet

[2016-04-13 03:12] schellap commented on #2452
When I did a restore with 1.0.0-*:

I got this error. May be they should make it red in color or something.

error: Unable to resolve 'Microsoft.NETCore.App (>= 1.0.0)' for '.NETCoreApp,Version=v1.0'.

[2016-04-13 03:14] GuardRex commented on #2452
Not happening here ...
[code]

[2016-04-13 03:16] GuardRex commented on #2452
Why do I have a feeling I found another one??? :imp:

[2016-04-13 03:17] schellap commented on #2452
`md temp & cd temp`
`dotnet new`
`dotnet restore`

Now change the project.json and do a restore?

[2016-04-13 03:19] GuardRex commented on #2452
![capture](https://cloud.githubusercontent.com/assets/1622880/14481873/9d850a5c-00fc-11e6-9a93-1e3a61700d2e.PNG)

[2016-04-13 03:22] GuardRex commented on #2452
The repro for the project is available (for troubleshooting IIS stuff with Chris and Pawel earlier): https://github.com/GuardRex/sharedapp

[2016-04-13 03:23] GuardRex commented on #2452
oh, sorry  ... I didn't do the last step "change the `project.json`" .. brb

[2016-04-13 03:23] schellap commented on #2452
Yeah put the wildcard syntax there...

[2016-04-13 03:24] GuardRex commented on #2452
[code]
Result ...
![capture](https://cloud.githubusercontent.com/assets/1622880/14481970/5d893e54-00fd-11e6-9db9-eda11fa1c663.PNG)

[2016-04-13 03:27] schellap commented on #2452
Not found, that is probably the issue. Can you not specify wildcard and try this out with latest bits?

[2016-04-13 03:29] GuardRex commented on #2452
I have latest, right?
[code]
The one above at https://github.com/dotnet/cli/issues/2452#issuecomment-209209591 was the one that I ran on the raw `dotnet new` project (no mods to `project.json`. It called for `"version": "1.0.0-rc2-3002363"`

[2016-04-13 03:36] schellap commented on #2452
I am wondering why your runtimeconfig.json ends up with an older version of the FX. With the runtimeconfig.json containing 1.0.0-rc2-3002363, you are still facing this issue?

[2016-04-13 03:38] GuardRex commented on #2452
Let me see if I can confirm it just running with Kestrel locally on the `testshared` test app. Be back in a few minutes.

[2016-04-13 03:44] GuardRex commented on #2452
Ok, so here's what I've got. The `project.json` is ...
[code]
The `testshared.runtimeconfig.json` shows this ...
[code]
The restore looks like this ...
[code]
The publish is ...
[code]
... and the exception hits when doing a `dotnet .\testshared.dll` from the `publish` folder.
![capture](https://cloud.githubusercontent.com/assets/1622880/14482210/051b4840-0100-11e6-8e12-4a522f412137.PNG)

[2016-04-13 03:46] schellap commented on #2452
To get you unblocked, try the no wildcard please in the project.json.
The back compat issue is fixed only in newer version starting 002349.

[2016-04-13 03:47] GuardRex commented on #2452
Ok ... brb

[2016-04-13 03:47] schellap commented on #2452
If the wildcard influences what goes inside the project.lock.json then that could be a bug or a question on the usage.

[2016-04-13 03:50] GuardRex commented on #2452
It warned on this in restore ...
[code]
Same on publish ...
[code]
... and no :heart: on the execution ...
![capture](https://cloud.githubusercontent.com/assets/1622880/14482306/eae089bc-0100-11e6-946e-e5dfba4bb5ab.PNG)

[2016-04-13 03:54] schellap commented on #2452
Interestingly, I see that if you put the wildcard the version picked is 23931 in the project lock.json.
I think the new CLI needs to get on the ASP.NET feed.

As last resort, another thing you could try out is uninstall (remove or rename to xyz) the 23931 in `Microsoft.NETCore.App\1.0.0-rc2-23931` and to confirm, manually edit the runtimeconfig.json to target the latest framework.

I did the follo

[2016-04-13 04:01] #2396 closed

[2016-04-13 04:06] GuardRex commented on #2452
Manually editing the `testshared.runtimeconfig.json` and setting it to `"version": "1.0.0-rc2-3002363"` ... :sparkles: works :sparkles:, but yeah, it seems like the larger question is 'What's wrong with the restore (if anything) under these conditions?'

[2016-04-13 04:09] schellap commented on #2452
You are using a different feed, that feed needs to get the updated packages from CLI.
[code]

[2016-04-13 04:13] GuardRex commented on #2452
Ok, so this is just a funky lag condition on the feed getting updated.

[2016-04-13 04:13] schellap commented on #2452
Try this to your NuGet.config and you don't have to muck with the runtimeconfig.json. I don't suggest this as a permanent change, but a way to unblock yourselves.

[code]

[2016-04-13 04:17] GuardRex commented on #2452
mmmm ... I added that one, and I tried to go back to a `1.0.0-*` package ... and ... :boom:

![capture](https://cloud.githubusercontent.com/assets/1622880/14482670/ae3fcae6-0104-11e6-8986-1d5ec9612af4.PNG)

[2016-04-13 04:19] schellap commented on #2452
no wildcard no.

[2016-04-13 04:19] GuardRex commented on #2452
oh, ok. .... but this is a known issue (bug), correct? Wildcard there will work down the road, right?

[2016-04-13 04:20] schellap commented on #2452
In other words, you should target a framework you have on your machine. There  is a conflicting idea of what the wildcard means -- does that mean any on the feed or any on the machine?

[2016-04-13 04:21] schellap commented on #2452
Although, from the user point of view, just use 1.0.0-* this needs to be thought about, please file an issue.

[2016-04-13 04:22] GuardRex commented on #2452
ah ... thanks ... that's what I thought. It feels like it's a good design question. I'll open it and link back here in case anyone runs into this. Thanks for your help tonight.

[2016-04-13 04:41] GuardRex opened #2454 "Shared framework publish on wildcard Microsoft.NETCore.App results in the "Error loading hostpolicy" exception"
## Steps to reproduce

Create a shared framework application that targets a wildcard `Microsoft.NETCore.App` package with ...

[code]

with `NuGet.config` of ...

[code]
## Expected  behavior

Restore, publish, and `dotnet .\testshared.dll` runs the app.
## Actual behavior

`project.lock.json` resolves the package to `Microsoft.NETCore.App/1.0.0-rc2-23931`
`testshared.runtimeconfig.json` resolves

[2016-04-13 04:48] schellap commented on #2454
There are two issues here:

1. The back compat issue which is well understood at this point and the resolution is to move to a latest CLI clean install. In this case, ASP .NET needs to update their feed with latest CLI bits. See related discussion here: https://github.com/dotnet/cli/issues/2435

2. The second issue is the project.json targets `1.0.0-*` picks up some framework potentially a higher

[2016-04-13 09:25] mausch opened #2455 "`dotnet restore` scans /proc when running in /"
## Steps to reproduce

[code]
## Expected  behavior

Restore packages
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[code]

A quick fix/workaround would be making `/home` the working directory in the dockerfile, instead of `/`. At least for the docker case.

[2016-04-13 11:18] olivier-spinelli commented on #1302
Since the global.json references necessarily local projects, do we actually need the full dependencies analysis and topo sort?
My thoughts is that a rather quick analysis of the project.json files (without diving into their external dependencies) should be enough to **topologically sort only the local projects**.
Based on this ordering, the "global" command (whatever it is) could be (blindly) appl

[2016-04-13 12:13] atanasa opened #2456 "Changes to shared files in a dependent project don't trigger incremental build"
## Steps to reproduce
1. Create a shared project with this project.json:

[code]
1. Add a .cs file to that project
2. Create a project to consume the above project like this:

[code]
1. Build the two projects with dotnet restore => dotnet build
2. Modify the shared .cs file in a way that fails the compilation.
3. Build the second project (DebugConsole) by running dotnet build
## Expected  behavior

[2016-04-13 12:28] BeelzeBu commented on #2426
I understand, I think "NETStandard.Library": "1.5.0-rc2-23931" is not needed anymore, when I had the same problem as you, I added the runtimes. Maybe there too many flavours right know and no official information on how to build a basic project.

[2016-04-13 12:55] robmen commented on #1919
Can you provide this log file: `C:\Users\huang\AppData\Local\Temp\Microsoft.NET_Core_CLI_for_Windows_(1.0.0.002363_beta)20160412220253_001_dotnet_sharedframework_win_x64.1.0.0_rc2_3002363.msi.log`

That is where the error occurred.  Consider attaching the file instead of pasting in the text into the bug.

[2016-04-13 13:07] TingluoHuang commented on #1919
@robmen

[Microsoft_.NET_Core_CLI_for_Windows_(1.0.0.002363_beta)_20160412230831_000_dotnet_dev_win_x64.1.0.0_rc2_002363.msi.txt](https://github.com/dotnet/cli/files/217116/Microsoft_.NET_Core_CLI_for_Windows_.1.0.0.002363_beta._20160412230831_000_dotnet_dev_win_x64.1.0.0_rc2_002363.msi.txt)

[2016-04-13 13:09] TingluoHuang commented on #1919
And this:

[Microsoft_.NET_Core_CLI_for_Windows_(1.0.0.002363_beta)_20160412230831.txt](https://github.com/dotnet/cli/files/217122/Microsoft_.NET_Core_CLI_for_Windows_.1.0.0.002363_beta._20160412230831.txt)

[2016-04-13 13:13] robmen commented on #1919
Here is the error. I'll leave to @Sridhar-MS or someone to diagnose what it means:

[2016-04-13 13:41] TingluoHuang commented on #1919
@robmen  I already uninstalled previous cli before the first time i install 001598 or 002363, which is before i log the issue. there is no installed software in control panel has name like 'cli' or 'dotnet'.

[2016-04-13 14:35] Abdullah2993 opened #2457 "Installation conflicts on ubuntu"
[code]

after uninstalling `dotnet-nightly` there is a conflict with xamarin

[code]

[2016-04-13 14:41] xal1983 opened #2458 "Debugger fails when you have special characters in your home path"
Hi
I installed the latest insiders release of vscode, then RC2 for 4/8 of omnisharp.
Opened a project and vs code reported it was getting the debugger bits.
It successfully downloaded a bunch of nuget packages, but then it failed at this step (log):

[code]

You can see there that nuget respects the "é" character but then publishing uses a wrong encoding and fails.

.NET Command Line Tools (1.0.0-

[2016-04-13 14:56] shahid-pk commented on #2457
Is it this issue https://github.com/dotnet/cli/issues/1162 resurfaced/regression ? I have installed dotnet-dev-rc versions from the debian feed and they don't have this problem.

[2016-04-13 15:22] piotrpMSFT opened #2459 "Debugger cannot restore with newest builds of the CLI ('coreclr.ad7Engine.json does not exist')"
## Steps to reproduce
https://github.com/OmniSharp/omnisharp-vscode/issues/181

## Expected  behavior
https://github.com/OmniSharp/omnisharp-vscode/issues/181

## Actual behavior
https://github.com/OmniSharp/omnisharp-vscode/issues/181

## Environment data
`dotnet --info` output:

[2016-04-13 15:43] piotrpMSFT commented on #2459
@brthor, while fixing this regression, can you please also fill the test gap that let this issue come through? It looks like the regressed capability was added near here: https://github.com/dotnet/cli/commit/a71112ce8f895f524740a591be5f8e00b7a88c40

[2016-04-13 15:47] jeffschwMSFT opened #2460 "Building a standalone app by picking and choosing packages is easy to get wrong"
## Steps to reproduce

dotnet new
vi project.json
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "NETStandard.Library": "1.5.0-rc2-24008",
    "Microsoft.NETCore.Runtime": "1.0.0-rc2-002349"
  },
  "runtimes" : {
    "osx.10.11-x64": {}
  },
  "frameworks": {
    "netcoreapp1.0": { }
  }
}
dotnet restore
dotnet build
dotnet run
## Expect

[2016-04-13 15:50] marono commented on #1188
@SalvatoreMeschini try using this feed [https://www.myget.org/gallery/aspnetvnext](https://www.myget.org/gallery/aspnetvnext).

Make sure you reference rc2-* packages.

[2016-04-13 15:55] eerhardt commented on #2459
Taking ownership to fix

[2016-04-13 15:56] jeffschwMSFT opened #2461 "Project restores successfully ONLY IF a previous project successfully restored Microsoft.NETCore.App with a matching RID"
This issue is a bit nuanced, but important given the implications.  The thing I noticed is that an incomplete (missing a rid) project.json can successfully restore, build on a machine that had another project successfully restore the matching dependency.  Why is it that state from another project can mask an error in this project.json?  This imply's that 'order-matters' to nuget restores which lik

[2016-04-13 16:53] piotrpMSFT opened #2462 "Update xunit runner versions"
Align dotnet-test-xunit versions with CLI versions
* Change version of dotnet-test-xunit to 1.0.0-rc2-*
* Change dependency versions of dotnet-test-xunit to match dotnet/cli

This issue is fixed by two PRs:
* https://github.com/dotnet/coreclr.xunit/pull/25
* https://github.com/dotnet/coreclr.xunit/pull/24

[2016-04-13 17:07] pakrym commented on #2347
Assigned to @anurse because he does this as part of updating nuget.

[2016-04-13 17:13] weidazhao opened #2463 ".NET Core SDK Installer still shows 1.0.0.002374-beta in Programs and Features"
## Steps to reproduce
Install the latest .NET Core SDK Installer x64, go to "Programs and Features" and search CLI. The SDK still shows "beta" instead of "rc2" in the name.

[2016-04-13 17:15] weidazhao opened #2464 "SDK can't be uninstalled"
## Steps to reproduce
1. Install the latest .NET Core SDK Installer x64.
2. Uninstall it from "Programs and Features".

## Expected  behavior
Shared host, shared framework and SDK should be all uninstalled.

## Actual behavior
Shared host and shared framework gets uninstalled, but SDK is left.

[2016-04-13 17:15] eerhardt commented on #2459
Ok, I added back in this line:

https://github.com/dotnet/cli/pull/2220/files#diff-21237ad3a7decd8d9b62b36289e2760dL146

And the `coreclr.ad7Engine.json` file is being published again.

[2016-04-13 17:17] anurse commented on #2347
:+1:

[2016-04-13 17:36] cdmihai commented on #1302
Unfortunately you cannot visit all the projects by only recursively traversing the local project.jsons, for several reasons:
- CLI's project model is built from lock files, and build heavily uses the project model.
- AFAIK (@davidfowl), you can have Nuget packages depending on a project (when you replace a nuget package with its sources). This type of dependency is only discoverable from a lock fi

[2016-04-13 17:43] jeffschwMSFT opened #2465 "[dotnet publish] Cross rid sharedfx publish failing with "Could not load host policy library""
Using a build with #2141 fixed enables x-rid standalone publish!!!  Though sharedfx is failing with "could not load host policy library".

## Steps to reproduce
(On Mac)
dotnet new
dotnet restore
dotnet publish
(Copy bin/Debug/netcoreapp1.0/publish/* to Windows)
(install matching .NET Core)
dotnet app.dll

Note: I also tried declaring {"runtimes": "win10-x64": {}} and publishing explicitly for thi

[2016-04-13 17:58] MartinJohns commented on #317
This still seems to be broken. I tried to do a cross-platform publish from Windows to Ubuntu, but the resulting output still produces an **.exe** file.

Command used. `dotnet publish --runtime ubuntu.14.04-x64 --output out5`

dotnet-info:
[code]

[2016-04-13 18:03] michaelherndon opened #2466 "Suggestion for project.json: allow paths to txt/md files for long form text fields such as description & release notes"
## Expected  behavior
use a relative path to a releasenotes.md  or txt file for meta fields like releaseNotes or description

{
    description: "readme.md",
    releaseNotes: "releaseNotes.md"
}

## Actual behavior
{
    description: "really long text in json is a pain to deal with at times."
    releaseNotes: "dito"
}

[2016-04-13 18:08] MaximRouiller commented on #2466
Maybe change the name of the properties however. Otherwise, hard to differentiate between text and a filename without doing a check on disk. `releaseNotesFile` / `descriptionFile` or something along those line would work nicely.

[2016-04-13 18:15] brthor commented on #2459
The intention of https://github.com/dotnet/cli/pull/2220/files#diff-21237ad3a7decd8d9b62b36289e2760dR176

was to replicate the function of that line without copying the host of the current platform at the same time.

[2016-04-13 18:39] Sridhar-MS opened #2467 "[MSI]: Remove the check for any previous installation."
In the MSI we check for any previous installation and we prevent any installation of 'Release' version on top of 'Nightly' version and vice versa. This is no longer needed since CLI SxS now. This is reminiscent of pre-sharedFx CLI.

https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/windows/clisdk/checkbuildtype.wxs

[2016-04-13 18:39] Sridhar-MS commented on #1919
@TingluoHuang This is a reminiscent of a feature in the installer before we started supporting SxS installation. This needs to be removed. Filed - https://github.com/dotnet/cli/issues/2467.

[2016-04-13 18:40] Sridhar-MS commented on #1919
Also can you check if there are any reg keys under `HKLM\SOFTWARE\dotnet\Setup` and delete it?

[2016-04-13 18:47] Sridhar-MS commented on #2467
Folks installing RC2 on top of 1.0.0.001598 (version in the getting started page) or older version may hit this issue. See issue https://github.com/dotnet/cli/issues/1919#issuecomment-209433994.

This is a less risky change for RC2 since it is just removal of a feature.

[2016-04-13 18:47] Sridhar-MS commented on #2467
cc: @piotrpMSFT @Petermarcu for RC2 approval.

[2016-04-13 18:48] Sridhar-MS commented on #1919
Thanks @robmen for helping out here.

[2016-04-13 18:53] ericwj commented on #1509
I'm having this same issue after adding `builder.SetBasePath(appEnv.ApplicationBasePath)` on dotnet `1.0.0-rc2-002357` and I found
`Console.WriteLine($"{nameof(appEnv.ApplicationBasePath)}: {appEnv.ApplicationBasePath}");`
to write
`ApplicationBasePath: C:\Users\Eric\Source\Playground\AspNetCoreRC2\src\Web\bin\Debug\netcoreapp1.0`
That folder only contains files starting with `Web.` after running

[2016-04-13 18:54] sokket opened #2468 "Restore should happen automatically"
## Steps to reproduce
1) Have any project using dotnet CLI
2) Change project.json
3) run dotnet build

## Expected  behavior
The CLI knows that a restore needs to happen since an error is thrown; the CLI should then do the restore automatically rather than do an outdated build and probably fail.

## Actual behavior
The CLI throws a warning but then tries to compile with outdated information

## En

[2016-04-13 18:58] NTaylorMullen opened #2469 "Add environment variable to show stack trace for CLI errors."
## Steps to reproduce
- Create a tool
- Have the tool throw an error when run
- dotnet my-tool
## Expected  behavior
- An error with enough information to diagnose what's going on. Aka stacktrace
## Actual behavior
- You just get the error message.
## Environment data

`dotnet --info` output:

[code]

[2016-04-13 19:02] #2397 closed

[2016-04-13 19:02] krwq commented on #2463
cc: @Sridhar-MS

[2016-04-13 19:03] krwq commented on #2464
cc: @Sridhar-MS

[2016-04-13 19:06] Sridhar-MS commented on #2464
@weidazhao Can you give more details?
- CLI version
- OS
- Any previous installation of CLI?

[2016-04-13 19:36] jeffschwMSFT commented on #2465
The root cause is #2279

[2016-04-13 19:57] jeffschwMSFT commented on #2279
This issue should be considered for RC2.  Due to the error it is very hard to know that full path will fix this issue and it was not something wrong with the publish or file transfer.

[2016-04-13 20:15] brthor commented on #2444
This is in the RC2 Milestone

[2016-04-13 20:36] danroth27 commented on #1540
@muratg Is @anurse available to look at this?

[2016-04-13 20:46] ffquintella commented on #809
Well maybe wrapping the command with the ulimit before it runs ?

Or just using this on your .bashrc
alias dotnet="ulimit -n 2048; dotnet"

[2016-04-13 20:51] brianrob opened #2474 "CLI Binaries are Not Pre-Compiled"
CLI binaries JIT for over 1 second when doing a dotnet build.  There is also significant JIT time in dotnet new and dotnet run.

This can be resolved by pre-compiling the CLI binaries using crossgen.

[2016-04-13 20:55] brianrob opened #2475 "Elapsed Time Emitted by dotnet build is lower than the actual process execution time"
You can measure this using your measurement method of choice (PowerShell "Measure-Command", ETW, Linux "time", etc.)  The dotnet build process runs for at least 1 second longer than the emitted time.

While this is currently due in part to JIT time, we should consider how accurate this time should be (or remove it).

[2016-04-13 20:57] brianrob opened #2476 "Shared Framework Does Not Appear to be Pre-Compiled"
Version: 1.0.0-rc2-002357

The shared framework does not appear to be pre-compiled, which results in long build times - 7.543 seconds in my measurements for a Hello World console app.

The compilation processes themselves are spending 90% of their time in the JIT.

[2016-04-13 21:00] weidazhao commented on #2464
CLI version: 1.0.0-rc2-002374
OS: Windows 10
Any previous installation of CLI? Yes, I installed previous versions but uninstalled them before installing the new ones.

[2016-04-13 21:06] spboyer opened #2477 "dotnet build fails - attempts to build *.aspx file in node_modules package"
## Steps to reproduce
[code]

## Expected  behavior
no errors

## Actual behavior
[code]

## Environment data
[code]

[2016-04-13 21:08] spboyer commented on #2477
Is there an `ignore` setting in the **project.json** for **node_modules** to be set on *build, compile, etc*

[2016-04-13 21:10] spboyer commented on #2477
[code]

[2016-04-13 21:10] #2477 closed

[2016-04-13 21:54] hovsepm opened #2479 "dotnet pack fails for the first time but succeeds in the next call"
## Steps to reproduce
1. Clone https://github.com/hovsepm/AutoRest.git
2. switch to netcore branch
3. go to ClientRuntimes\CSharp\Microsoft.Rest.ClientRuntime folder
4. dotnet restore
5. dotnet pack
6. dotnet pack (again)

## Expected  behavior
step 5 should not fail

## Actual behavior
step 5 fails however step 6 succeeds.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.

[2016-04-13 22:16] moozzyk opened #2480 "dotnet publish throws NRE"
## Steps to reproduce
[code]

## Expected  behavior
publish works

## Actual behavior

[code]
## Environment data
`dotnet --info` output:

PS C:\temp\reprobreaking> dotnet --version
1.0.0-rc2-002376

[2016-04-13 22:17] pranavkm commented on #2314
:cake:

[2016-04-13 22:26] moozzyk opened #2482 "Publish for netstandardapp1.5 no longer works"
## Steps to reproduce
1. `dotnet.exe publish -o C:\temp\reprobreaking1 --framework netstandardapp1.5`
2. Run the published application

## Expected  behavior
Application runs

## Actual behavior
[code]

The .deps file actually does not exist

## Environment data
`dotnet --info` output:

1.0.0-rc2-002374, 1.0.0-rc2-002376

##Trace

[code]

## Project.json

[code]

[2016-04-13 22:26] moozzyk commented on #2482
/cc @Eilon @muratg @danroth27

[2016-04-13 22:30] gkhanna79 commented on #2476
@brthor PTAL.

@brianrob Where are the non-compiled binaries coming from? Shared folder or SDK folder?

CC @JohnChen0 @schellap

[2016-04-13 22:33] gkhanna79 commented on #2435
@piotrpMSFT How should we get a new build over to Barry's team?

[2016-04-13 22:35] brthor commented on #2476
The sharedfx directory should be crossgen'd, but we rename them to eliminate the .ni.

Any binaries in the sdk directory are not currently crossgen'd however.

[2016-04-13 22:35] ellismg commented on #2279
I agree that we should consider this for RC2.  I feel like this is going to be a common thing and understanding that you need to provide a full path is very odd.  I ran into this today and wasted a bunch of time trying to figure out what was going on (especially since the error message is not helpful in this case)

[2016-04-13 22:38] eerhardt commented on #2482
I think this is fixed with #2473.  Going to test out locally to make sure.

[2016-04-13 22:48] brthor commented on #2482
This scenario is currently tested in the repo, I'm surprised to see a failure.

If you do a dotnet build do you see a deps.json in the output?

[2016-04-13 22:51] Sridhar-MS commented on #2464
@weidazhao I am not able to repro this on my windows 10 machine. Can you provide additional info?
Run this command to uninstall the CLI
`dotnet-dev-win-x64.1.0.0-rc2-002374.exe /uninstall /log uninstalllog.txt` and attach the uninstalllog,txt.

[2016-04-13 22:56] moozzyk commented on #2482
Yes. I can `dotnet run` in the folder and the deps.json file is being created.

[2016-04-13 22:56] brianrob commented on #2476
SDK has some DLLs that are loaded and contents JIT compiled.  These (or at least some of them) should be pre-compiled.

When I originally created this issue, we hadn't confirmed that the DLLs in shared were being properly crossgen'd.  As of now, I believe that @JohnChen0 has confirmed that they are, but at a minimum, Roslyn has partial NGEN enabled, so that's where some of the non-generics JIT tim

[2016-04-13 23:04] piotrpMSFT commented on #1540
Assigning @muratg for the time being. We need someone familiar with project model [@anurse, @pakrym] to take this on.

[2016-04-13 23:06] piotrpMSFT commented on #2343
@krwq is starting to work on this tomorrow morning. We may need to throw additional folks at it as this seems like a big workitem.

[2016-04-13 23:09] brianrob opened #2483 "Collapse in-box commands in single process"
CLI Version: 1.0.0-rc2-002357

When compiling a C# hello world app using the CLI, it takes 3 processes to perform the "dotnet build" step.

1. dotnet build
2. dotnet compile-csc [spawned dotnet build]
3. dotnet csc.dll [spawned by dotnet compile-csc]

Each of these comes with the overhead of starting a new process, booting the runtime, loading dependencies and JITTing some of them before work can

[2016-04-13 23:09] brianrob commented on #2483
@brthor, PTAL

[2016-04-13 23:12] piotrpMSFT commented on #2438
Migrating to NetCoreApp forces us to resolve build/restore failures project-by-project. This will likely take another day since we need to iterate over many issues.

[2016-04-13 23:13] anurse commented on #1540
I can take a look at this now

[2016-04-13 23:14] anurse commented on #1540
Ok, first glance, it looks like NuGet is going to be the first problem. It targets `netstandard1.5`, so everything of ours that references it has to as well.

/cc @emgarten

[2016-04-13 23:16] piotrpMSFT commented on #2462
Fixed in https://github.com/dotnet/coreclr.xunit

[2016-04-13 23:16] #2462 closed

[2016-04-13 23:16] anurse commented on #1540
https://github.com/NuGet/Home/issues/2538 will block this.

[2016-04-13 23:24] anurse commented on #1540
Also, it appears System.CommandLine only targets `netstandard1.3` which will block `ProjectModel.Workspaces` from cross-targeting `net451`. I can drop it to `netstandard1.3` (which correlates with .NET 4.6)

The others already cross-target `net451`, with the exception of `ProjectModel.Loader` because it depends on CoreCLR/.NET 4.6.2 features (Load Contexts). On .NET <4.6.2 AppDomains should be use

[2016-04-13 23:24] piotrpMSFT commented on #2474
We're going to give this a shot, but may need to revert the change if we see stability issues.

[2016-04-13 23:26] piotrpMSFT commented on #2476
@brianrob @JohnChen0 we need automation for validating that our payloads are appropriately crossgen'd. This needs to work across platforms. Once we have this we'll add a test and we'll enforce that it's passing. Can you help?

[2016-04-13 23:28] piotrpMSFT commented on #2482
Projects targetting NetStandardApp need to be ported to NetCoreApp. NetStandardApp is not going to be supported by CLI 1.0.0 RC2.

/cc @Petermarcu @richlander

[2016-04-13 23:30] gkhanna79 commented on #2476
@piotrpMSFT SharedFX is being compiled but CLI is carrying some IL binaries, due to explicitly overriding packages in SharedFX, that come into play and get JITted resulting in the slowdown. Is there a plan to address that?

[2016-04-13 23:31] piotrpMSFT commented on #2413
#2439 has been merged. This bug will get closed once VSO definition is updated by @Sridhar-MS

[2016-04-13 23:32] #2446 closed

[2016-04-13 23:35] NTaylorMullen commented on #1540
@anurse how would I replicate the `CreateLoadContext` functionality from `ProjectContext`? Just duplicate the code manually?

[2016-04-13 23:35] brianrob commented on #2474
Awesome.  Thanks!

[2016-04-13 23:43] brianrob commented on #2476
@piotrpMSFT and @gkhanna79, I think that both of the items that you propose should be done.

1. @gkhanna79, @JohnChen0 it would be good to have a way to confirm that crossgen succeeded, but I suspect the definition of succeeded is complicated.
2. @piotrpMSFT, it would be good to make sure that the CLI is always targeting the shared FX when a dependency exist in the shared FX.  Right now, it appear

[2016-04-13 23:45] swgillespie opened #2484 "`dotnet new` produces a project that doesn't restore"
## Steps to reproduce
[code]

`dotnet --version`: `1.0.0-rc2-002376`

## Expected  behavior
`dotnet restore` should be successful.

## Actual behavior
`Unable to resolve 'Microsoft.NETCore.App' for '.NETCoreApp,Version=v1.0'.`

## Environment data
`dotnet --info` output:

[code]

[2016-04-13 23:47] JohnChen0 commented on #2476
@piotrpMSFT @brianrob At the minimum, running crossgen.exe can be considered successful if the return status is 0. A better definition of succeeded is more complicated, as @brianrob suspected.

[2016-04-14 00:03] 717009629 commented on #2484
Feeds : https://www.myget.org/F/aspnetcirelease/api/v3/index.json

[2016-04-14 00:06] davidfowl commented on #2482
[code]

@piotrpMSFT The error message is a bit terse no? Shouldn't it say something helpful? It took 2 devs > 30 minutes to figure this out...

[2016-04-14 00:07] moozzyk commented on #2482
This is not this. It turned out that the app had a dependency on xunit which brought old NetCore.App and this is where hostpolicy.dll and hostfxr were copied from and there was a mismatch. How anyone can figure this out if @pakrym  is not around?

[2016-04-14 00:11] swgillespie opened #2485 "*.runtimeconfig.json file is not persisted by `dotnet build`"
## Steps to reproduce
1. Create a project with the following object in their `project.json` file:

[code]

2. `dotnet build`. Verify that the generated `Project.runtimeconfig.json` file in the build output directory contains the supplied runtime object with the same keys given in the `project.json` file.
3. Split the runtime objects from the `project.json` file in accordance with [these docs](http

[2016-04-14 00:22] gkhanna79 commented on #2483
CC @piotrpMSFT

[2016-04-14 00:23] moozzyk commented on #2482
(It's no longer blocking though)

[2016-04-14 00:27] anurse commented on #1540
In that case yes, and I could see the value in adding some API to ProjectContext to get the same data. @natemcmaster has an updated version of the LoadContext that we'll be taking post RC2 so we can do it in that.

[2016-04-14 00:28] cdmihai commented on #2483
Please reference me in the PR when this is done.

[2016-04-14 00:35] cdmihai commented on #2343
As an addition to this, it would be really cool to share the same dll accross multiple tfm / rids whenever possible. This would cut down on compilation times. If a dll looks the same on multiple targets, it really does not need to be re-compiled.

So, if the csc response files for two different tfm/rid combinations is the same, the dll should be reused. Currently the only difference that I see is

[2016-04-14 00:44] anurse commented on #2343
Across RIDs sure, but I doubt it'd be worth investing much in cross-TFM sharing of assets. Almost all assets depend on the low-level packages (System.*) which have different implementations for most TFMs. In general, cross-compilation is for targeting multiple disparate frameworks or multiple different versions of a specific framework, so they compile against different assemblies. Obviously it's p

[2016-04-14 00:52] weidazhao commented on #2464
No longer repro after I ran the command :(  I will close the issue for now. If I can find a stable repro, I will reopen the bug. Thanks.

[2016-04-14 00:54] natemcmaster commented on #1540
For anyone looking for that, it is in [aspnet/EntityFramework/src/dotnet-ef/Loader/](https://github.com/aspnet/EntityFramework/tree/72af85c13f09654dea9e8cc91a8a70d71c7f1451/src/dotnet-ef/Loader)

[2016-04-14 00:59] weidazhao commented on #2464
I tried 2378 and it seems to repro again.

[uninstalllog.txt](https://github.com/dotnet/cli/files/218202/uninstalllog.txt)
[uninstalllog_000_dotnet_host_win_x64.1.0.0_rc2_002378.msi.txt](https://github.com/dotnet/cli/files/218203/uninstalllog_000_dotnet_host_win_x64.1.0.0_rc2_002378.msi.txt)
[uninstalllog_001_dotnet_sharedframework_win_x64.1.0.0_rc2_3002378.msi.txt](https://github.com/dotnet/cli/f

[2016-04-14 01:07] lt72 commented on #2476
As much as defining success is hard, adding diagnostics may not be not so hard. Since there is a large investment in crossgen tooling, it would definitely be advisable to add the ability to log what methods get compiled (or viceversa, or both) to the crossgen tool, as well as adding the ability to dump what methods are compiled in a tool like nidump.
That way it would be much easier to understand

[2016-04-14 01:16] gregg-miskelly opened #2486 "dotnet build fails if the directory contains unicode characters"
## Steps to reproduce
    cd /d %USERPROFILE%
    mkdir Tést
    cd Tést
    dotnet new
    dotnet restore
    dotnet build

## Expected  behavior
Build succeeds

## Actual behavior

    Response file 'C:\Users\greggm\T├â┬⌐st\obj\Debug\netcoreapp1.0\dotnet-compile.rsp' doesn't exist.
    C:\Program Files\dotnet\dotnet.exe compile-csc @C:\Users\greggm\T├⌐st\obj\Debug\netcoreapp1.0\dotnet-compile.rs

[2016-04-14 01:23] gregg-miskelly commented on #2486
NOTE: I see the same behavior if the Unicode/High ascii character is anywhere on the path to the app. So I believe this will block acquiring the VS Code debugger extension on any user who has accents in their user name. Though it is possible that that is really a different CLI bug. See https://github.com/OmniSharp/omnisharp-vscode/issues/186 for the original bug.

[2016-04-14 01:33] #2459 closed

[2016-04-14 01:48] damageboy opened #2487 "After installing dotnet-sdk-ubuntu-x64.latest.deb, a wild libhostpolicy.so mismatch appears"
## Steps to reproduce
wget https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-sdk-ubuntu-x64.latest.deb
dpkg -i dotnet-sdk-ubuntu-x64.latest.deb
apt-get -f install

## Expected  behavior
`dotnet --version` should work

## Actual behavior
`dotnet --version` gives out:
[code]

## Environment data
`dotnet --info` output:
[code]

`dpkg -l | grep dotnet`:
[code]

`sudo updated

[2016-04-14 01:49] #2279 closed

[2016-04-14 02:10] russcam opened #2488 "MSI installer 1.0.0.001598 installation setup fails on Windows 10 64 Bit"
## Steps to reproduce

1. Download dotnet-win-x64.1.0.0.001598.exe from https://dotnet.github.io/getting-started/
2. Run the downloaded MSI

## Expected  behavior

The MSI installs dotnet cli

## Actual behavior

<img width="465" alt="screenshot 2016-04-14 12 08 50" src="https://cloud.githubusercontent.com/assets/208231/14515076/b7b9217c-0239-11e6-8064-6908599a49bb.png">

Error in MSI installation

[2016-04-14 02:37] schellap opened #2489 "CLI uses typeof(object).GetTypeInfo().Assembly.Location to determine FX location"
If CoreCLR gets serviced, mscorlib's path will be in the servicing root and not the actual FX location.

## Steps to reproduce
`copy /y %USERPROFILE%\.nuget\packages\runtime.win7-x64.Microsoft.NETCore.Runtime.CoreCLR\[Matching CLI Version]\ "C:\Program Files (x86)\dotnetextensions\pkgs\runtime.win7-x64.Microsoft.NETCore.Runtime.CoreCLR\[Matching CLI Version]\"`

`dotnet publish`

## Expected  beha

[2016-04-14 02:37] schellap commented on #2489
@brthor @piotrpMSFT @Sridhar-MS @gkhanna79

[2016-04-14 02:44] eerhardt commented on #1549
+1 from me.  Hit this issue today and had to ask the team how to run a single test.  I would have been able to figure it out myself if `--help` would have listed the options from xunit.

[2016-04-14 02:57] lt72 opened #2490 "CLI should not depend on DNX"
It appears that CLI depends on DNX for command line parsing.
It seems that being CLI the default build tool going forward, it should not depend on anything other than corefx, so that we can ensure a better servicing story and no circular dependencies.

[2016-04-14 03:44] piotrpMSFT opened #2492 "Add assembly load path tests for Standalone and Shared scenarios"
CLI tests currently do not validate that Shared Framework applications are actually loading their dependencies from the Shared Framework location, and the same for Standalone. We should add a test which parses CoreHost output and ensures that the paths match expectations.

/cc @gkhanna79 @schellap

[2016-04-14 04:09] xal1983 commented on #2486
Sorry, I had already filed one here too: #2458

[2016-04-14 04:15] piotrpMSFT commented on #2479
@cdmihai can you take a look? To add more detail, during the first `build` we see a message telling us that compilation failed. On the next run `build` claims that that target has already been built and happily continues along its way. It looks like we are not correctly detecting a previous build failure.

[2016-04-14 04:33] shaunluttin opened #2494 "There is no exe present in the output of `dotnet publish`."
## Steps to reproduce

PowerShell

    git clone https://github.com/aspnet/cli-samples.git
    cd .\cli-samples\HelloWeb\
    dnvm use 1.0.0-rc2-20221 -runtime coreclr -os win -architecture x64
    dotnet restore
    dotnet publish --output approot
    dir .\approot\ -Filter *.exe

## Expected  behavior

[code]

## Actual behavior

There is no .exe present.

## Environment data
`dotnet --info` out

[2016-04-14 04:35] piotrpMSFT opened #2495 "CLI should share build graph information across command invocations"
## Steps to reproduce

`dotnet new`
`dotnet restore`
`dotnet build`
## Expected  behavior

A given Project Context is generated once and shared across requests, potentially spanning multiple process invocations
## Actual behavior

Even in this simple scenario project contexts are created rampantly, leading to multiple parsings of project.json and project.lock.json

[2016-04-14 04:35] piotrpMSFT commented on #2495
@troydai @anurse @pakrym can we somehow leverage ProjectModelServer to reduce parsing of the graph?

[2016-04-14 04:41] piotrpMSFT opened #2496 "Improve CLI performance for RC2"
Tracking issue for performance improvements for CLI

## Bugs
 - [x] https://github.com/dotnet/cli/issues/2476 The shared framework does not appear to be pre-compiled, or if it is, there are a very large number of methods that still get JIT compiled.
 - [x] https://github.com/dotnet/cli/issues/2474 The CLI binaries themselves are not pre-compiled at all

## Enhancements
 - [x] https://github.com/do

[2016-04-14 04:48] GuardRex commented on #317
Same result here.
[code]
`dotnet publish --configuration Release --runtime ubuntu.14.04-x64`

![capture](https://cloud.githubusercontent.com/assets/1622880/14517343/fb369b86-01d1-11e6-8baf-fb923d0a5617.PNG)

[2016-04-14 04:50] GuardRex commented on #2141
Are these two related? https://github.com/dotnet/cli/issues/317

[2016-04-14 04:52] pakrym commented on #2495
I don't think we should share it across invocations, but if we move builtin commands to be inproc we can share it with them.

[2016-04-14 04:55] pakrym commented on #2495
And we should consider creating project contexts and doing other things slow things like `LibraryExporter.GetAllExports()` in less places, ideally ones per project.

[2016-04-14 04:58] piotrpMSFT opened #2497 "Consider using a separate long-lived process for Project Model cache and telemetry"
An anecdotal performance measurement by @pakrym found that ~14% of CLI runtime is spent within telemetry reporting. We need to prevent the benefit of telemetry from having such a high impact on CLI runtime performance. This will likely require a significant design change.
## Initial Proposal

Similarly to #2495, there is likely a need for a coordinator process which manages these expensive IO-boun

[2016-04-14 04:58] piotrpMSFT commented on #2497
/cc @LakshanF

[2016-04-14 05:10] victorhurdugaci commented on #1549
Just a curiosity... Why is dotnet test a special command? Why can't it be a regular "tool"? That way, `--help` would be straightforward

[2016-04-14 05:26] ibrmohammed opened #2498 "discover test fails to discover tests in visual studio 2015"
I am getting this issue when i build my test project.

------ Discover test started ------
------ Test started: Project: bb.bcd.Tests ------
Starting Microsoft.Dnx.TestHost [C:\Users\abcd.dnx\runtimes\dnx-clr-win-x86.1.0.0-rc2-20222\bin\dnx.exe --appbase "C:\Users\abcd\Source\Workspaces\xxx\bcd\test\Aaa.bcd.Tests" Microsoft.Dnx.ApplicationHost --port 49709 Microsoft.Dnx.TestHost --port 49730 --par

[2016-04-14 05:27] piotrpMSFT commented on #2490
The CLI depends on libraries that were originally developed for DNX, not DNX itself. If we want to reduce external dependencies then this issue should grow to include everything in the Microsoft.Extensions namespace as well.

/cc @eerhardt who is investigating how we can reduce CLIs dependencies.

[2016-04-14 05:32] Petermarcu opened #2499 "Add dnxcore50 imports back to dotnet new for RC2"

[2016-04-14 05:33] Petermarcu opened #2500 "Remove imports from dotnet new templates completely in RTM"

[2016-04-14 06:26] Petermarcu commented on #2488
@Sridhar-MS , I believe this is already fixed in the newer builds right?

[2016-04-14 06:26] JohnChen0 commented on #2476
The difficulty is not in adding diagnostics, but in determining what is the right set of diagnostics. Currently, CrossGen is already generating a large amount of diagnostics, but most of the users simply ignore them. We could turn every warning into a fatal error, in order to force users to fix every warning, but our past experience has been some warnings can be hard to fix in some scenarios.

Eve

[2016-04-14 06:27] Petermarcu commented on #2487
@schellap , Can you take a look?

[2016-04-14 06:31] Petermarcu commented on #2484
yes, you need to make sure you have configured your NuGet feeds. Once the packages are published to NuGet..org, you wont have to do that anymore.

[2016-04-14 06:31] #2484 closed

[2016-04-14 06:41] Petermarcu commented on #72
No need to track this here. If VB wants to add as an extension that is totally an option.

[2016-04-14 06:41] #72 closed

[2016-04-14 06:43] Petermarcu commented on #90
tracked under #2474

[2016-04-14 06:43] #90 closed

[2016-04-14 06:44] Petermarcu commented on #115
This is tracked in the other mentioned issues and PR's. Closing

[2016-04-14 06:44] #115 closed

[2016-04-14 06:46] Petermarcu commented on #134
@davidfowl , where are we on this whole issue? Can it be closed? Can we just open an issue tracing specifically what is left?

[2016-04-14 06:46] Petermarcu commented on #137
This was addressed

[2016-04-14 06:46] #137 closed

[2016-04-14 06:51] Petermarcu commented on #212
@MichaelSimons , you are trying to address this right now. Should we move this into rc2 or close it as a duplicate of whichever issue you are using to track debian package support?

[2016-04-14 06:52] Petermarcu commented on #307
@robmen , how is WiX on covering ICE errors these days? Should we even bother with ICE?

[2016-04-14 06:54] Petermarcu commented on #329
@gkhanna79 , does this still need to be tracked here?

[2016-04-14 06:54] Petermarcu commented on #353
@krwq , does this still repro? Should we close?

[2016-04-14 06:56] Petermarcu commented on #416
@brthor , is this already fixed?

[2016-04-14 07:30] Eilon commented on #1540
@anurse thanks - who owns CommandLine? That seems like it could easily target netstandard1.0 as well, at least conceptually. Pretty sure that string parsing is supported all the way back to .NET 1.0 😄

[2016-04-14 07:55] Eilon commented on #2490
JoC was going to set up a mtg at some point with the dev managers to figure out code flow between repos, so this will come up when that happens.

[2016-04-14 10:58] Kukkimonsuta commented on #2442
I have encountered same error, but noticed on fresh machine everything worked. I managed to make work on my old build by removing package cache (on windows located in `%SYSTEMDRIVE%%HOMEPATH%\.nuget\packages`) and reinstalling .net cli (not sure whether the second step was required).

[2016-04-14 11:13] Kukkimonsuta commented on #2423
I've encoutered similiar error, see my answer in #2442 for possible solution

[2016-04-14 11:15] citizenmatt opened #2501 "ReSharper support for dotnet-test. Questions and feedback"
Hi all. I want to implement support for running dotnet/cli tests in ReSharper. I've got ReSharper working with DNX RC1, but hit a few bumps along the way. The current IDE integration for testing is based on what Visual Studio needs, and ReSharper is somewhat different (e.g. we do in-editor, as-you-type discovery, structure tests hierarchically, etc.). After a chat with some of the team at Build (@

[2016-04-14 12:57] onatm commented on #2384
you can use the following `nuget.config`

https://raw.githubusercontent.com/dotnet/cli/584fdea49ee72834b02c003b48dd5d1a3a76cb28/src/dotnet/commands/dotnet-new/CSharp_Console/NuGet.Config

for me it doesn't make sense to remove nuget.config before RC2 packages is published to nuget.

[2016-04-14 13:04] BeelzeBu commented on #1139
@ciel How did you do that??

[2016-04-14 13:49] MichaelSimons commented on #212
@Petermarcu I moved it to rc2.

[2016-04-14 14:06] gkhanna79 commented on #329
@nattress Can you please file an issue for this in the CoreRT repo and close this (since you are looking into moving dotnet-compile-native to CoreRT)?

[2016-04-14 14:14] gkhanna79 commented on #2492
@schellap We should add a test for this as part of your adding tests work.

[2016-04-14 14:19] blackdwarf commented on #2461
@jeffschwMSFT I was able to repro the above not with `dotnet restore` but with `dotnet run` with the latest. Also, this is the error message I get:

[code]

Seems pretty decent to me. Also, failure on `run` would imply that it will **always** fail on running regardless of whether NuGet cache contains the item or not, that is, whether the cache allows restore to write a lock file and succeed the re

[2016-04-14 14:39] gkhanna79 opened #2502 "Investigate perf characteristics for servicing index lookup"
CC @ericstj @leecow @schellap @jkotas

[2016-04-14 14:59] haf commented on #533
Any updates on this? Not feeling very confident in downloading things that change my PATH and are opaque to me to inspect before installing, whilst a homebrew formula is easy to inspect with `brew edit`.

[2016-04-14 15:15] danroth27 commented on #2482
Sounds like @pakrym has a solid consulting career ahead of him :smile:

[2016-04-14 15:41] xatabhk commented on #2423
I find the issue has got fixed in 1.0.0-rc2-002392.

[2016-04-14 15:41] #2423 closed

[2016-04-14 15:52] shaunluttin commented on #2494
Here is a workaround.

This project.json did NOT work.

[code]

This project.json did work.

[code]

[2016-04-14 15:58] moozzyk commented on #2482
Looks like this may affect any standalone application if it depends on a package that brings an older/incompatible NETCoreApp package.

[2016-04-14 15:59] leors75 commented on #1580
Same problem here. In my case, ping returns:

PING apt-eus.cloudapp.net (191.237.88.25) 56(84) bytes of data.
Request timed out.
^C
--- apt-eus.cloudapp.net ping statistics ---

My distro is Ubuntu.

[2016-04-14 16:07] anurse commented on #1540
It's in dotnet/corefxlab , not sure exactly who owns it. Might be @piotrpMSFT

[2016-04-14 16:11] Petermarcu commented on #2489
@piotrpMSFT , who should pick this one up?

[2016-04-14 16:12] Petermarcu commented on #2347
@anurse , Anything left on this one or can we close it?

[2016-04-14 16:13] Petermarcu commented on #2413
@Sridhar-MS , have the VSTS definitions been updated?

[2016-04-14 16:16] Sridhar-MS commented on #2488
@russcam Looks like you have a very old version installed (1.0.0.1452554432) from Dec'15. Can you please uninstall it and install 1.0.0.001598. We made plenty of changes to the installer upgrade scenario.

[2016-04-14 16:21] anurse commented on #2347
Should be fixed with the latest CLI that took new NuGet bits.

[2016-04-14 16:21] #2347 closed

[2016-04-14 16:39] Sridhar-MS commented on #2413
I have updated the VSTS definitions. Waiting for a build to complete successfully. I can close this issue after that.

[2016-04-14 16:40] gkhanna79 opened #2503 "Static link libvcruntime.lib to eliminate dependency on VCRuntime140.dll"
Required for the native components (dotnet, hostfxr, hostpolicy) built in the repo.

CC @schellap @piotrpMSFT @brthor @Sridhar-MS

[2016-04-14 17:02] robmen commented on #307
Sadly the project to replace ICEs is stalled so running the heavy ICE validation process is the only option at the moment. light.exe will run them for you automatically, if you do no suppress it.

[2016-04-14 17:42] nattress commented on #329
See CoreRT https://github.com/dotnet/corert/issues/1135

[2016-04-14 17:42] #329 closed

[2016-04-14 17:50] Petermarcu commented on #2346
https://github.com/dotnet/coreclr.xunit/pull/6# is where the work is happening.

[2016-04-14 18:03] brthor commented on #416
Nothing went in to explicitly fix this as far as I can recall.

@victorhurdugaci
Is this still an issue?

[2016-04-14 18:22] schellap commented on #2487
@krwq is the installer overwriting libhostfxr.so?

[2016-04-14 18:22] schellap commented on #2487
It should overwrite the libhostfxr.so.

[2016-04-14 18:23] brthor commented on #2487
This is because a package from master was pushed to our feed with a higher version. I have put off cleaning up the feed in favor of other high priority work but can prioritize this.

[2016-04-14 18:26] schellap commented on #2487
Oooo sounds creepy :)

[2016-04-14 18:29] brthor commented on #2487
Specifically this version of dotnet-host is the issue: `1.0.1-dev-002315-1`

As an immediate workaround:
`apt-get install dotnet-host=1.0.0-rc2-002392-1`

[2016-04-14 18:32] brthor commented on #2487
Packages don't seem to be getting deleted from the feed. Contacted our repo partner for help on this.

[2016-04-14 18:34] victorhurdugaci commented on #416
Nah, seems to be fixed

[2016-04-14 18:35] MichaelSimons opened #2504 "Build error message is not helpful when restore fails to resolve package"
## Steps to reproduce
[code]

## Expected  behavior
A helpful `dotnet build` error message that indicates the source of the problem - Microsoft.NETCore.App NuGet package was not restored.

## Actual behavior
`dotnet build` error message is rather meaningless `The given key was not present in the dictionary.`

## Environment data
`dotnet --info` output:

[code]

[2016-04-14 18:36] #416 closed

[2016-04-14 18:55] Sridhar-MS commented on #2413
With the latest version (1.0.0-rc2-002392 x64 and x86) hostfxr.dll and hostpolicy.dll are both signed.

[2016-04-14 18:55] #2413 closed

[2016-04-14 19:06] david-driscoll commented on #1623
This would be great to have in, it seems like `--quiet` doesn't do much at all.

This is a huge pain with OmniSharp trying to view things that actually failed.  By the time we get to line 10000 (where travis cuts the file off) we're still restoring... not very helpful at all.

[2016-04-14 19:15] piotrpMSFT commented on #2475
* Ticks since process start
* calculate "end" after telemetry is done

[2016-04-14 19:18] naamunds commented on #1289
@blackdwarf Will it be distributed in a different package for rc2, or has it been cut altogether?  Also, it seems like it should be removed from the "help" output either way.

[2016-04-14 19:19] NTaylorMullen opened #2505 "Binding redirect file is not generated for referenced desktop packages that contain executables."
## Steps to reproduce
- Create a project that has a net451 TFM (I'll refer to the project as `UserProject`)
- Add a reference to a package that contains an executable that expects `Newtonsoft.Json 7.0.1`. (I'll refer to the added package as `ToolX`)
- Add a reference to `Newtonsoft.Json 8.0.3` to `UserProject`.
- Build `UserProject`
- Execute `ToolX.exe` in the `bin/Debug/...` folder of `UserProje

[2016-04-14 19:25] MichaelSimons commented on #1289
@naamunds There is already a PR (https://github.com/dotnet/cli/pull/1530) to remove REPL from the help.

[2016-04-14 19:34] pranavkm opened #2506 "TestCommand (in dotnet-test) command always invokes test method on the first TFM listed in the project.json"
Ran into this when I was working on #2346.  `dotnet test` does not honor the `-f` parameter. Might have similar issues with other parameters.

[2016-04-14 19:37] moozzyk opened #2507 "NRE when resolving a tool"
## Steps to reproduce

The tool was restored into this location: `C:\Users\pawelka\.nuget\packages\.tools\Microsoft.AspNetCore.Server.IISIntegration.Tools\1.0.0-rc2-20568\netstandardapp1.5\project.lock.json`

However the path calculator came up with this path:
`C:\Users\pawelka\.nuget\packages\.tools\Microsoft.AspNetCore.Server.IISIntegration.Tools\1.0.0-rc2-20568\netcoreapp1.0\project.lock.json`

[2016-04-14 19:46] adamralph commented on #1289
:confused:

[2016-04-14 19:58] brthor commented on #2507
Seems like converting the tool to netcoreapp1.0 would be the ideal fix.

This is a result of a breaking change in https://github.com/dotnet/cli/commit/2956446864d668f0821ea89620566c32f15c0d38 (cc @anurse )

Seeing as we won't support netstandardapp1.5 in the future, converting is probably the best fix.

[2016-04-14 19:59] blackdwarf commented on #1289
Thanks @MichaelSimons. @naamunds REPL was not "cut" in a sense that it was discontinued. We are working towards having a story on how to get it in the CLI via the existing extensibility mechanisms (e.g. "tools") but  at this point we are heads down doing other stuff, so the work is standing still.

[2016-04-14 20:03] moozzyk commented on #2507
Actually netstandardapp1.5 folder was created because I restored using the dotnet version that did not have this change https://github.com/NuGet/NuGet.Client/commit/9573f19ce94c84078e0d0e4f128bb24de7bfe140#diff-8c917f3b4e6bc57dc2667ae784dbb4b3R16

Once I restored using the latest I built myself netstandardapp1.5 is no longer created and things work.

If you don't think there are any other scenario

[2016-04-14 20:07] eerhardt commented on #1549
I think because `dotnet test` isn't a single "tool" like the "xunit test runner" is.  Instead, `dotnet test` is more abstract and can plug in any test runner.  Since it can plug in any test runner, it is at a higher level.  Since it can plug in any test runner, --help isn't straightforward, because it needs to call the underlying tool for its --help, and aggregate `dotnet test` options with the un

[2016-04-14 20:15] brianrob commented on #1623
+1 to progress reporting and errors.  I'm happy to re-run higher verbosity when debugging.  Right now, there is way too much output, and I'm never clear on whether things are OK or terrible.

[2016-04-14 20:24] robmen commented on #2451
Software ID Tags (swidtags) are defined in the ISO-19770-2 spec. They are being required by (typically large) entities (think companies and governments) to help manage software. Per the spec the tag should be installed in a "swidtag" folder under the location where the software is installed.

I haven't kept up with the install location of dotnet/cli (so that could be wrong) but otherwise the data

[2016-04-14 20:24] anurse commented on #2370
This is a dup of #467

[2016-04-14 20:24] #2370 closed

[2016-04-14 20:25] anurse commented on #467
I don't think we're OK with making things RTM... it would be a regression in behavior since we would be unable to load satellite assemblies for packages that have resources.

[2016-04-14 20:40] shawnwildermuth commented on #254
Do you have any info on what is replacing dnvm? Is it going to be part of the dotnet cli toolchain or something separate?

[2016-04-14 20:51] adityamandaleeka commented on #2485
Just checked on OS X and this seems to be working (my CLI version is 1.0.0-rc2-002392). I'll check on Windows too.

[2016-04-14 21:05] adityamandaleeka commented on #2485
Just checked on Windows (same CLI version) and it seems to be working there as well. The runtimeconfig.json I'm checking is the one in bin/Debug/netcoreapp1.0.

[2016-04-14 21:12] abpiskunov opened #2509 "[dotnet build] Build fails for Nuget.Core solution, test projects fail to find src binaries"
## Steps to reproduce
1. Get Nuget.Core enlistment https://github.com/NuGet/NuGet.Client
2. Open NuGet.Core.sln and wait for restore to complete
3. Right click on NuGet.Client.Test project and select "Rebuild"
## Expected  behavior

Everything to build fine
## Actual behavior

All src projects build fine, but NuGet.Core.Tests fails to find dependent projects binaries:

C:\Program Files\dotnet\dotn

[2016-04-14 21:22] abpiskunov commented on #2509
Also see the format of those errors - project path is specified in front - this also needs to be fixed.

[2016-04-14 21:38] cdmihai commented on #2343
I was talking about TFM. On one side, there are projects that heavily ifdef based on TFM (like net core msbuild). On the other hand, there also projects that do not change.

The decision to share should not be made by heuristics, but by looking at csc inputs: if all the args and env vars are the same for a csc invocation, then the dll can be shared. Post RTM though.

[2016-04-14 21:46] cdmihai commented on #2479
Can't repro with the head of of the rel branch. Dotnet pack succeeds on the first try, no errors.

[2016-04-14 21:48] cdmihai commented on #2479
[code]

[2016-04-14 21:49] GuardRex commented on #2482
/cc @ciel ... look familiar?

[2016-04-14 21:56] JodiTheTigger commented on #2196
I wanted to try Visual Studio Core 1.0 on my Arch Linux box, but the C++ support extension has a dependency on dotnet/cli.

So I went to install dotnet/cli only to find it doesn't support Arch linux.

:-(

So I went to build it myself and find out it isn't that simple. Instead I found some issues spanning both cli and corefx.

https://github.com/dotnet/cli/issues/1532
https://github.com/dotnet/cor

[2016-04-14 21:57] piotrpMSFT commented on #2509
Does the same repro from the cmd line?

[2016-04-14 22:01] sokket commented on #2480
Can you post a ```dir``` of what is in your test directory?

[2016-04-14 22:02] simon-hardy opened #2510 "dotnet restore with basic authentication failing"
## Steps to reproduce

Ubuntu 14.04 container running on docker in Digital Ocean

Followed https://dotnet.github.io/getting-started/

Nexus Nuget feed with Basic Authentication enabled

Added feeds to Nuget.config with nuget add source & nuget setapikey.
## Expected  behavior

Manually running nuget 3.3.0 authenticates correctly, but:
## Actual behavior

dotnet restore ./project.json

gives

log

[2016-04-14 22:02] GuardRex commented on #2494
@shaunluttin This is by-design. What you produced first was a shared framework application, so it's not supposed to have an executable, as the app's runtime will be installed on the host. Your mods ended up producing a self-contained standalone application (produced by removing the `"type": "platform"`bit and providing a runtime).

I'd give you the doc on the details but it's under development bur

[2016-04-14 22:07] jcsotoo92 commented on #2442
it works thanks @Kukkimonsuta

[2016-04-14 22:07] #2442 closed

[2016-04-14 22:10] moozzyk commented on #2480
It did not have project.json (I think it was empty) - I just forgot to go back to the project directory from my first publish output.

[2016-04-14 22:12] sokket commented on #2480
Got it, so ```C:\temp\reprobreaking``` was empty and you ran the above command, causing this error (just to clarify)?

[2016-04-14 22:12] andschwa commented on #2402
Latest packages work again. Thanks @brthor.

[2016-04-14 22:12] #2402 closed

[2016-04-14 22:22] anurse commented on #467
Note: We're also not able to do project-to-project resource references because of this. I think I've actually got a fix that covers all the these cases though, and it's not super scary. Will discuss and send necessary mails to get approval if we think it's partner-blocking.

[2016-04-14 22:26] moozzyk commented on #2480
yes

[2016-04-14 22:26] anurse commented on #467
/cc @JunTaoLuo

[2016-04-14 22:33] sokket commented on #2480
Cool, thanks for clarifying!

[2016-04-14 22:46] NTaylorMullen opened #2512 "ProjectDependenciesCommandFactory.Create does not respect Configuration"
## Steps to reproduce
- Instantiate a `ProjectDependenciesCommandFactory` with a specific configuration:
[code]

- Create and execute `ICommand`: `commandFactory.Create("some name", Enumerable.Empty<string>()).Execute()`

## Expected  behavior
- Executes command in the `"Release"` configuration.

## Actual behavior
- Executes command in the `"Debug"` configuration.

## Why
Looks like if the config

[2016-04-14 22:47] NTaylorMullen commented on #2512
/cc @natemcmaster @prafullbhosale : You guys will need to work around this.

[2016-04-14 22:54] eerhardt commented on #2483
First round of investigation:

`dotnet build` calls `dotnet compile` inline without spinning a new process:
https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-build/CompileContext.cs#L387

However, `dotnet compile` does invoke `dotnet compile-csc` with a new process:
https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-compile/ManagedCompiler.cs#L184

Workin

[2016-04-14 22:57] eerhardt commented on #2483
Also, like stated orginally, `compile-csc` will spin a new process for `dotnet csc.dll`:
https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-compile-csc/Program.cs#L117

Making that one in-proc as well.

[2016-04-14 23:06] Petermarcu commented on #2494
@GuardRex , agreed. We'll close this issue and hopefully @blackdwarf gets the doc out soon.

[2016-04-14 23:06] #2494 closed

[2016-04-14 23:07] Petermarcu commented on #2498
This is all DNX based. If this repro's with a CLI based solution once we have VS tools available, please let us know.

[2016-04-14 23:07] #2498 closed

[2016-04-14 23:10] #2507 closed

[2016-04-14 23:11] Petermarcu commented on #2509
@abpiskunov , can you get us a more targeted repro on the command line?

[2016-04-14 23:12] Petermarcu commented on #2510
@yishaigalatzer , Can you take a look at confirm what needs to happen here?

[2016-04-14 23:14] yishaigalatzer commented on #2510
Yes, this was fixed already in 4.3.2, but wasn't merged yet into the CLI.

[2016-04-14 23:14] abpiskunov commented on #2509
Same steps repro from command line.

Thanks,
Anton

On Apr 14, 2016, at 7:11 PM, Peter Marcu <notifications@github.com<mailto:notifications@github.com>> wrote:

@abpiskunov<https://github.com/abpiskunov> , can you get us a more targeted repro on the command line?

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/dotnet/cli/is

[2016-04-14 23:16] blackdwarf commented on #2494
@Petermarcu sure, that doc about app types is in PR on dotnet/core-docs.

[2016-04-14 23:17] hovsepm commented on #2479
@cdmihai do I need to update anything on my machine? e.g. core clr tools? It repros on my machine and I don't know how to narrow down the real issue and find out what may cause this.

[2016-04-14 23:19] Petermarcu commented on #2485
@sokket

[2016-04-14 23:24] rohitshrivastava04 opened #2513 "how to use xunit and dotnet test"
Trying to run tests from https://github.com/dotnet/cli/tree/master/TestAssets/TestProjects/ProjectWithTests
when I run dotnet restore it says

    Errors in c:\Users\*****\Documents\coretest\project.json
        Unable to resolve 'Microsoft.Extensions.CommandLineUtils (>= 1.0.0-rc3-20565
    )' for '.NETStandardApp,Version=v1.5'.

Following is my nuget.config
[code]

## Expected  behavior
expectin

[2016-04-14 23:25] eerhardt commented on #2483
That one appears to be troublesome.  What is the best way to invoke the C# compiler in-proc?

/cc @jaredpar @Pilchie

[2016-04-14 23:26] jaredpar commented on #2483
Given that you're converting from a `Process.Start` call the easiest way is to just pass the arguments to the `Main` method.  There are more correct ways of doing it but it involves more code.  If you'd like to take that route we can get you pointed in the right direction.

[2016-04-14 23:26] GuardRex commented on #2494
@shaunluttin That explains it ... I was looking in totally the wrong place. ... and woe! was this hard to find!!! .... https://github.com/blackdwarf/core-docs/blob/clidocs/docs/cli/app-types.md

[2016-04-14 23:31] eerhardt commented on #2483
Thanks, @jaredpar.  Looking more into it, I don't think I can get a reference to the csc.dll from my project.json.  It looks like we are taking the `csc.exe` that ships in the runtimes folder of `Microsoft.Net.Compilers.netcore` and copying it to `csc.dll`.  I don't think there is a NuGet package that can give me this reference.

So maybe the 2nd route would be the way to go.  Can you point me in

[2016-04-15 00:07] rohitshrivastava04 commented on #2513
if I change Nuget.config to just have aspnetvnext it successfully restores but then gives error while executing dotnet test
`c:\Users\rohit1647\Documents\coretest\error CS0041: Unexpected error writing deb
ug information -- 'Windows PDB writer is not available -- could not find Microso
ft.DiaSymReader.Native.amd64.dll'`

[2016-04-15 00:07] piotrpMSFT commented on #2435
My understanding of @barrytang's comment is that he's waiting for a new Coherence-Signed build from ASP.NET and is not blocked on CLI. If I'm missunderstanding help me grasp the gap.

[2016-04-15 00:28] natemcmaster opened #2514 "ProjectLoadContext cannot be used to load project which references Newtonsoft.Json 8"
## Steps to reproduce
Standalone repo here: https://github.com/natemcmaster/assembly-load-context

What this repro does:

There are two independency projects, "Library" and "Loader".
"Loader" attempts to use `Microsoft.DotNet.ProjectModel.ProjectLoadContext` to load the "Library" assembly and instantiate `Library.Banana` via reflection.

Loader uses Newtonsoft.Json 7.0.0.
Library uses Newtonsoft.J

[2016-04-15 00:29] natemcmaster commented on #2514
cc @anurse @davidfowl @NTaylorMullen here is a standalone for what we were discussing in person. May have something to do with TPA, but then again, "Microsoft.Extensions.Primitives" is in the TPA and it gets loaded just fine.

[2016-04-15 00:33] piotrpMSFT commented on #2499
Do we have 'official' `default imports`?

[2016-04-15 00:33] anurse commented on #2514
Does that version differ between the two projects? Because as long as they are the same, it would work fine. The problem is that Newtonsoft.Json is in the TPA list AND the versions differ.

[2016-04-15 00:36] natemcmaster commented on #2514
Could be. Might explain why ProjectContextLoader.Load() gets called to load "Microsoft.Extensions.Primitives"  but never gets called on to load Newtonsoft.Json.

[2016-04-15 00:36] Petermarcu commented on #2499
There is another conversation @blackdwarf is driving to define what those should be. At this point, it appears the only real "safe" import we can add is dnxcore50. PCL tfm's have side effects that need to be better understood.

[2016-04-15 00:37] TheRealPiotrP opened #2515 "Improve CLI performance for RTM"
Tracking issue for performance improvements for CLI for the 1.0.0-rtm milestone
## Bugs
- [x] https://github.com/dotnet/cli/issues/2475 The elapsed time to complete the build emitted by dotnet build is lower than the actual time required to complete the command. - fit-n-finish [Post RC2]
## Enhancements
- [ ] ???? Add Performance automation [Post RC2]
- [ ] https://github.com/dotnet/cli/issues/259

[2016-04-15 00:57] Eilon commented on #2435
We think @barrytang currently has everything he needs (perhaps minus some known issues), so I don't *think* he's particularly blocked right now. But he'd have to comment to confirm.

[2016-04-15 00:59] Eilon commented on #1540
@anurse can you log a bug there with the necessary info? I want to make sure we don't lose track of this.

[2016-04-15 01:08] natemcmaster commented on #2514
Funny thing is if we reverse the version (e.g. "Loader" uses 8 and "Library" uses 7) the error goes away and user code loads and executes, but ProjectContextLoader.Load() *still* isn't called to load Newtonsoft.Json.

[2016-04-15 01:10] barrytang commented on #2435
@piotrpMSFT, @Eilon, I did get the Coherence-Signed build from Eilon along with CLI 2374. My system is chugging along and should have a bundle build soon.@balachir will reply back to confirm whether the issue is fixed once we have a build.

[2016-04-15 01:44] naamunds commented on #2426
@schellap I think this may have been regressed by https://github.com/dotnet/cli/commit/0fec9842dfd654e31140bd2b4c43044b697d1458.  When testing on Debian, I didn't see this issue with version 1.0.0-rc2-002365 of CLI, which was shortly before that commit, but I did see it with version 1.0.0-rc2-002379, which was shortly after it.  With version 2365, the error experience is:
`Unhandled Exception: Sys

[2016-04-15 02:03] schellap commented on #2426
@brthor, if emitEntryPoint is false we don't copy host artifacts. See here: https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Compiler.Common/Executable.cs#L81

We need this for the right experience. @piotrpMSFT. I believe for RTM this would be from the nuget cache?

[2016-04-15 02:16] blackdwarf commented on #2499
@Petermarcu @piotrpMSFT yup. :)

[2016-04-15 03:00] blackdwarf commented on #2494
@GuardRex Its not merged yet. :) Wait a bit. :)

[2016-04-15 03:00] brthor commented on #2426
#2343 is tracking bringing those from the nuget cache during build

Why do we need to copy the host artifacts for a library though?

[2016-04-15 03:19] barrytang commented on #2435
Bad news... The issue is not fixed with the latest ASP.NET build + CLI. I will follow up with @schellap offline and provide a repro machine.

[2016-04-15 03:24] gkhanna79 commented on #2435
@barrytang What is the version of dotnet you are using?

[2016-04-15 03:28] barrytang commented on #2435
2374

[2016-04-15 03:48] eerhardt commented on #2483
@jaredpar - I hacked around calling the `Main` method by using reflection.  However, in some cases, I am getting errors like:

[code]

Does this error make sense?  It would seem something is "locking the binding model" before Roslyn gets invoked, and thus Roslyn can't do it itself.

I kind of think this error is going to block dotnet/cli from invoking the csc compiler in-proc.

[2016-04-15 04:32] gkhanna79 commented on #2435
Examining the repro machine has confirmed (details shared offline) that the mismatch issue is resolved.

[2016-04-15 04:32] gkhanna79 commented on #2435
@barrytang @balachir Can you please close this once you have validated, at your end, the mismatch issue is addressed?

[2016-04-15 04:39] MartinJohns commented on #317
@brthor Could we please re-open this issue? It's not fixed.

[2016-04-15 04:44] blackdwarf commented on #2510
Should we close this?

[2016-04-15 04:48] GuardRex commented on #2494
@blackdwarf :beers:

[2016-04-15 04:49] blackdwarf commented on #2460
@jeffschwMSFT we are working on docs and tests as well as better error messages for RTM timeframe for this issue.

/cc @eerhardt

[2016-04-15 04:49] blackdwarf commented on #2440
/cc @piotrpMSFT @anurse @davidfowl

[2016-04-15 04:51] yishaigalatzer commented on #2510
After we merge

Sent from Outlook Mobile<https://aka.ms/xp9y6l>

On Thu, Apr 14, 2016 at 9:44 PM -0700, "Zlatko Knezevic" <notifications@github.com<mailto:notifications@github.com>> wrote:

Should we close this?

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/dotnet/cli/issues/2510#issuecomment-210285995>

[2016-04-15 04:57] blackdwarf commented on #2398
@alexandru in general, best place to ask these kinds of questions is our Gitter channel, you are more likely to get immediate help there.

PKGs, unfortunately, do not have an uninstall mechanism. Also, there is no rule that proscribes that PKGs install stuff into `Applications`. On the contrary, Application Bundles install there, while PKGs are free to do what they want/need. Take a look at the of

[2016-04-15 04:57] #2398 closed

[2016-04-15 06:23] piotrpMSFT commented on #2464
@weidazhao I wonder if this is an expectations issue

SDK depends on Shared Framework which depends on Host. When you uninstall the SDK it is intended to remove ONLY the SDK pieces and not the framework nor the host. This is because the SDK is one consumer of the Fx, while you may accumulate others [e.g. by installing apps]. When uninstalling, it's the user's decision if they want to remove these

[2016-04-15 06:41] piotrpMSFT commented on #2499
so is the ask to add an import for dnxcore50 for now, then wait for subsequent issues?

[2016-04-15 06:45] blackdwarf commented on #2499
@piotrpMSFT the ask is to have a good set of imports that will allow our users to be able to walk outside of the .net core fx without blowing up but also to not include those that we know have weird side-effects. @davidfowl has the nitty-gritty. We are looking into which set this is and will update the issue once we have it.

Sidenote: The more I think about it, the more I feel `dnxcore50` for `ne

[2016-04-15 06:46] piotrpMSFT commented on #2499
I want to implement the fix right now but it sounds like we don't know what we want yet...

[2016-04-15 06:53] simon-hardy commented on #2510
@yishaigalatzer, any guidance on a likely time-frame for the merge to happen? or any workaround you know of in the meantime?

[2016-04-15 07:16] piotrpMSFT opened #2520 "Static Caching for ProjectContext"

[2016-04-15 07:17] piotrpMSFT commented on #2520
/cc @pakrym @cdmihai

[2016-04-15 07:17] piotrpMSFT opened #2521 "Dotnet Build accepts multiple projects in single invocation"

[2016-04-15 07:17] piotrpMSFT commented on #2521
/cc @pakrym @cdmihai

[2016-04-15 07:20] TheRealPiotrP opened #2522 "add basic performance monitoring"

[2016-04-15 07:30] piotrpMSFT commented on #2496
@LakshanF @danquirk take note of the telemetry issue. As anticipated when we first talked about adding telemetry, there is a huge perf cost associated with sending the data. The proposal is to spin off a simple child process that will report on invoked command. Can you guys help with making this happen?

[2016-04-15 07:31] grtlr commented on #2196
I am also using ``Arch`` and unfortunately, I experienced the same issues as @JodiTheTigger.

[2016-04-15 07:32] damageboy commented on #2487
@brthor You suggestion seems to have fixed this, should I close the issue?

[2016-04-15 07:57] schellap opened #2523 "dotnet restore not persisting serviceable attribute for packages in deps file"
## Steps to reproduce
dotnet new
dotnet restore

## Expected  behavior
CoreCLR and other assemblies are marked serviceable in the libraries section in the `project.lock.json`

## Actual behavior
CoreCLR package and other serviceable assembly packages are marked as `"serviceable": false`

## Environment data
`dotnet --info` output:
1.0.0-rc2-002374

[2016-04-15 07:58] schellap commented on #2523
Following up on PR #2491, Assigning to @anurse, feel free to reassign to the right person. This is a NuGet restore issue.

Cc @piotrpMSFT @gkhanna79 @ericstj @yishaigalatzer

[2016-04-15 07:59] barrytang commented on #2435
Will wait for @piotrpMSFT's ack that this is a CLI upgrade issue before we close this. Thanks for looking into this @gkhanna79!

[2016-04-15 08:46] schellap commented on #2435
We should always be backwards compatible between hostfxr and hostpolicy. @piotrpMSFT we can close this one out once you copy.

[2016-04-15 10:00] ibrmohammed commented on #2498
we are using xunit.runner.dnx which is dnx based.
  "commands": {
    "test": "xunit.runner.dnx"
  }
Is there a runner for Xunit which is CLI based.

[2016-04-15 11:47] sirentek commented on #2389
I am closing this as this is a duplicate of https://github.com/dotnet/cli/issues/2194

[2016-04-15 11:47] #2389 closed

[2016-04-15 12:23] davunderscorei commented on #1076
@pdelvo Hi, how does this look in the `project.json` file? Would you mind pointing to where this is documented? Many thanks.

[2016-04-15 13:03] jtbm37 opened #2524 "dotnet restore fails on windows 7"
## Steps to reproduce
`dotnet new`
`dotnet restore`

## Expected  behavior
All packages restored.

## Actual behavior
Some GET requests indefinitely time out (some do succeed though).

[code]

## Environment data
`dotnet --info` output:

[code]
and

[code]

Note that this is in a Windows 7 VM. On linux (the host) I can restore all packages with the same version as above.
When I put those url in a

[2016-04-15 13:23] jtbm37 commented on #2524
This is the nuget.config sitting in `c:\Users\jtbm\AppData\Roaming\NuGet\NuGet.Config`
[code]

[2016-04-15 13:38] abpiskunov commented on #2509
Tooling calls same dotnet cli, so for command line it will be the same steps:

1. Get Nuget.Core enlistment https://github.com/NuGet/NuGet.Client
2. dotnet restore from solution root
3. C:\Program Files\dotnet\dotnet.exe build "D:\git\ms\nuget\NuGet.Client\test\NuGet.Core.Tests\NuGet.Client.Test" --configuration Debug --no-dependencies --build-base-path "D:\git\ms\nuget\NuGet.Client\artifacts" --n

[2016-04-15 15:17] blackdwarf commented on #2524
@jtbm37 this is covered in the [known issues](https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/known-issues.md) document. You probably have VirtualBox installed and its network adapter is, for whatever reason, messing with restore. Disabling that will allow you to run restore properly.

Can you try that and see if it helps?

[2016-04-15 15:17] eerhardt commented on #2510
We've taken NuGet v3.5.0-beta-1160 in the latest CLI (CLI version 1.0.0-rc2-002392).

The issue report was using .NET Command Line Tools (1.0.0-beta-001793), which was a while ago.

[2016-04-15 15:25] schellap commented on #2194
Resolution: Upgrade app to beyond 002349 and make a clean install, i.e., remove older CLI versions. From now on you can have multiple sxs CLI and we'd be compatible.

[2016-04-15 15:25] #2194 closed

[2016-04-15 15:27] blackdwarf commented on #2510
@simon-hardy can you try with latest and see if this still repros?

[2016-04-15 15:53] simon-hardy commented on #2510
@blackdwarf @eerhardt still get a similar error:

error: Failed to retrieve information from remote source 'http://configmanagement.xxx.com:8081/repository/nuget.org-proxy/FindPackagesById()?id='System.Linq''.
error: Response status code does not indicate success: 401 (Unauthorized).

[2016-04-15 15:57] yishaigalatzer commented on #2510
@simon-hardy yes because it wasn't integrated yet into the CLI and hence this bug should stay open until it does. You can use nuget.exe 3.4.2 in the meantime. The root cause is a bug in the nexus server that the new code doesn't have a hack to work around with.

[2016-04-15 15:59] GuardRex commented on #2454
@schellap :tada: :smile: **Working!** :tada: :smile: for me now on -2394.  I'm using the wildcard syntax for `Microsoft.NETCore.App`, and all is well.

I had to make a strange unrelated change to one of my feed addresses ...
[code]
... stopped working as a feed, and I had to strip the `www` off of the address for ...
[code]
... to get it working. The feed address that was not resolving for me is i

[2016-04-15 16:00] simon-hardy commented on #2510
@yishaigalatzer ok you guys need to get on the same page as @eerhardt is indicating the RC2 CLI has nuget.exe 3.5.0 integrated...

[2016-04-15 16:10] eerhardt commented on #2510
@yishaigalatzer - can you elaborate on which "merge" needs to happen? The way I read your response is that the CLI needs to merge a new NuGet build. But we have the latest NuGet build.

[2016-04-15 16:11] weidazhao commented on #2464
@piotrpMSFT , I believe what I saw was opposite: shared FX and shared host got uninstalled, but SDK didn't.

[2016-04-15 16:18] muratg commented on #2496
:eyes:

[2016-04-15 16:18] muratg commented on #2515
:eyes:

[2016-04-15 16:23] yishaigalatzer commented on #2510
@simon-hardy @eerhardt you are both correct

@eerhardt is correct that he has the latest 3.5-Beta build in the CLI
The fixes are in 3.5-RC (or the nuget dev branch) and 3.4.3 branch that is ahead of 3.5-Beta as 3.5-Beta was frozen in escrow and 3.4.3 had patches applied.

We are working on approving a merge from 3.5-RC (basically renaming the branch to 3.5-Beta) where at that point there will be a

[2016-04-15 16:24] eByte23 opened #2525 "Issues dotnet build when targeting net35 with frameworkAssemblies"
## Steps to reproduce
Create a library targeting net35 where you include frameworkAssemblies

## Expected  behavior
Builds correctly providing you setup everything correctly

## Actual behavior
Errors out with lots of
'Predefined type 'System.Void' is not defined or imported'
etc...

I believe the issue to be that when dynamically creating the dotnet-compile-csc.rsp and dotnet-compile.rsp

When ta

[2016-04-15 16:26] anurse commented on #1540
https://github.com/dotnet/corefxlab/issues/655

[2016-04-15 16:29] anurse commented on #2523
Filed https://github.com/NuGet/Home/issues/2556. It's up to @yishaigalatzer to triage and figure out what to do. Then we take a NuGet build when there's a fix.

[2016-04-15 16:32] Petermarcu commented on #2499
That's right. I think the safe thing to add back in dnxcore50. Those are packages that did the work to move to RC1 of .NET Core. This would make it so we are not regressing the package set that can be used in that scenario.

[2016-04-15 16:35] jaredpar commented on #2483
Hmm, that last error is indicative of a larger problem.

The error you are seeing here is related to how Roslyn loads analyzers.  Which analyzers we load are defined as command line arguments and we use an `AssemblyLoadContext` to get them into the process.  The `Main` method assumes it's run once per process and hence always calls `InitializeDefaultContext` which leads to the above error if you c

[2016-04-15 16:40] schellap commented on #2454
Wildcard is an issue if whats on the feed is higher than whats on the box as we don't downgrade. Version ranges @davidfowl :)

[2016-04-15 16:41] schellap commented on #2454
The feed got updated with the netcoreapp bits lower than or equal to whats on the box.

[2016-04-15 16:45] GuardRex commented on #2454
I'll close then. Thank you @schellap for your help. I'm still a little :skull: scared :skull: of the shared framework model due to the instability of my shared test app over the last week. Standalone has been rock-solid for test apps and production apps. Time and experience with shared should change that feeling. Thanks again for your help.

[2016-04-15 17:03] eerhardt commented on #2483
Thanks for the detailed explanation, @jaredpar.

Even with the "more correct ways of doing it but it involves more code" that you mentioned yesterday, would we still have this conflicting analyzer version issue?

I agree with your assessment that changing any `AssemblyLoadContext` code isn't a good option right now.

[2016-04-15 17:16] anurse commented on #2523
As mentioned in the NuGet issue. We should do this when generating the deps file instead to avoid opening assemblies during restore.

[2016-04-15 17:16] anurse commented on #2523
I'll look at this after my current task (#2511)

[2016-04-15 17:29] davidfowl commented on #2230
/cc @piotrpMSFT

[2016-04-15 17:38] Petermarcu opened #2526 "Remove usage of System.CommandLine"
CLI will be using a private copy of Microsoft.Extensions.CommandLineUtils.Sources.

https://github.com/dotnet/corefxlab/issues/655 .

Tracking here for the rc2 release. We need to see if this can support netstandard1.1 to run on 4.5.1.

@piotrpMSFT @Eilon

[2016-04-15 17:48] brthor commented on #317
@MartinJohns @GuardRex
Using cross publish requires you to have the host in your package graph which means you must reference the latest Microsoft.NETCore.App.

I don't see anything here that suggests that that isn't working..

Take a look at an example app here:
https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/CrossPublishTestProjects/StandaloneAppCrossPublish/project.json

[2016-04-15 17:49] brthor commented on #317
The fallback behavior of dropping the exe exists only while we work on converting our own test assets, then without this reference you will see an error.

[2016-04-15 17:51] DavidObando commented on #2496
:eyes:

[2016-04-15 17:51] brthor commented on #2487
Let's keep this open, and I'll close it once these packages are cleared from the feed.

[2016-04-15 17:56] brthor commented on #317
@MartinJohns are you referencing `Microsoft.NETCore.App` in your project.json?

[2016-04-15 17:57] GuardRex commented on #317
@brthor I wasn't, so that explains my misunderstanding. Thanks.

[2016-04-15 18:09] MartinJohns commented on #317
This is my project.json file:

[code]

I do not reference `Microsoft.NETCore.App`. Why is this required? ~~And if this is required, why is there no warning at all that it's missing?~~ I see there is a warning in the latest release.

However, when I try to run the Ubuntu deployed packages I get this output:

[code]

[2016-04-15 18:12] piotrpMSFT commented on #2526
@Eilon @anurse We're using multiple command line parsers in CLI today. Do you have a desire to use System.CommandLine, or is the replacement of its usage in Compiler.Common a suitable alternative?

[2016-04-15 18:13] brthor commented on #317
@GuardRex Np, I should've called this requirement out better in the issue.

[2016-04-15 18:14] brthor commented on #317
@MartinJohns please share an ls of that directory (cc @schellap)

[2016-04-15 18:15] MartinJohns commented on #317
[code]

Note that I had to do `chmod +x ./RustyPlane.Web` first in order to make the file executable.

[2016-04-15 18:16] brthor commented on #317
@MartinJohns What version of NETCore.App are you referencing? That looks like an old host there (March 24th)

[2016-04-15 18:17] brthor commented on #317
Having a reference on Microsoft.NETCore.App is not required per se, but it makes things easier.

Really what you need is a dependency on the host package so we can find the host for the platform you are trying to publish for. The NETCore.App package makes that easier because it has a dependency on the host and NETStandard.Library.

[2016-04-15 18:18] brianrob commented on #2483
@gkhanna79 and @jkotas can you help with expertise on AssemblyLoadContext?  I'm definitely of the opinion that choosing a well-understood solution for RC2 is the way to go.  Before we throw out the idea of doing something with AssemblyLoadContext, let's get some input from the experts.  I'd like to believe that we can know if there's something quick and relatively not-risky to be done here by EOD.

[2016-04-15 18:20] pdelvo commented on #1076
I can't find information on it either. I had to look into the cli source to find out what the option is called. An example project.json file would be:
[code]

[2016-04-15 18:21] Eilon commented on #2526
@piotrpMSFT original bug is here: https://github.com/dotnet/cli/issues/1540

We need ProjectModel.Loader and ProjectModel.Workspaces for .NET 4.5.1, but they depend on other libraries (e.g. some variation of System.CommandLine) that use netstandard1.5, so it won't compile.

[2016-04-15 18:21] NTaylorMullen opened #2528 "Tools deps file is not regenerated when imports change"
## Steps to reproduce
- Delete your `%UserProfile/.nuget/packages/.tools` folder
- Add the following to your `project.json`:

[code]
- Restore & build your project.
- Change the import statement above to be: `"imports": [ "portable-net45+wp80+win8+wpa81+dnxcore50" ]`
- Restore & build your project.
## Expected  behavior

The .deps file in the .tools dir for dotnet-razor-tooling will have its newto

[2016-04-15 18:22] jaredpar commented on #2483
@brianrob the core issue is that `AssemblyLoadContext` is lacking documentation.  The key issues we need to understand are:

1. What is the actual isolation boundary guaranteed by `AssemblyLoadContext`.  Does it isolate statics, assemblies, etc ...
2. How does communication work between assemblies loaded in different `AssemblyLoadContext`?

In `AppDomains` for example the answers were full isolati

[2016-04-15 18:22] schellap commented on #317
@brthor, I believe the `NETStandard.Library` brings in an old host from the graph. We are building `Microsoft.NETCore.App` in the CLI repo with newer hosts, is that the issue in cross-publish host resolution from the graph? May be we should get rid of the old host from `NETStandard.Library` or start building that as well in the CLI repo? Is this the underlying issue?

[2016-04-15 18:27] brthor commented on #317
@schellap I haven't seen any instances of NETStandard.Library bringing in an old host (is it named dotnet.exe?)

Old versions of `Microsoft.NETCore.App` I have seen bring in old hosts though and has caused issues.

i think the root of the confusion here is the fallback behavior which we need to remove asap.

[2016-04-15 18:29] brthor commented on #2438
TestAssets are converted
TestAssets are building

After getting test runs last night we had 69 test failures.

Reduced this to 38, and working through them.

[2016-04-15 18:29] MartinJohns commented on #317
I was referencing `"Microsoft.NETCore.App": "1.5.0-*"`, instead of your suggested version (with rc2-*). It should reference the same latest version, right?

My current NuGet config:
[code]

Am I perhaps using outdated feeds?

Also, what exactly is the `host package`? What's the name of it, so I could reference it directly instead of `Microsoft.NETCore.App`? Or is the suggested way to always refere

[2016-04-15 18:29] anurse commented on #2526
Also to be clear, `netstandard1.2` is sufficient for .NET 4.5.1 (https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#mapping-the-net-platform-standard-to-platforms)

[2016-04-15 18:32] piotrpMSFT opened #2529 "muxer should support --fx-version and remove shared framework's dotnet.exe"
## Steps to reproduce
N/A

## Expected  behavior
- Can specify a Shared Framework version against which to run an application.
`dotnet.exe --fx-version 1.0.0-rc2-123456 bin/Debug/netcoreapp1.0/myapp.dll`

- No dotnet.exe in the Shared Framework directory

## Actual behavior
N/A

[2016-04-15 18:36] brthor commented on #317
@MartinJohns It will not necessarily bring in the same package.

Try out this version: `"Microsoft.NETCore.App": "1.0.0-rc2-*"`

And add this to your nuget.config:
`<add key="dotnet-core" value="https://dotnet.myget.org/f/dotnet-core" />`

I looked up the host package (remembering all of these names is hard :smile:)
and it's id/version is `"Microsoft.NETCore.DotNetHostPolicy" : "1.0.1-rc2-002394-0

[2016-04-15 18:40] brthor commented on #2528
@NTaylorMullen right next to the deps file is a lock file, does this update when imports change?

[2016-04-15 18:47] gkhanna79 commented on #2483
I agree there is no formal documentation on the topic. However, https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Loader/tests is an example of how the feature gets used (similarly, ASP.NET uses it all across in their implementation as well).

For the specific questions:

1) Assemblies loaded in one context do not see assemblies in another context and cannot consume their functionali

[2016-04-15 18:48] MartinJohns commented on #317
I tried `1.0.0-rc2-*` too, but it said `Lock file has not changed.` - so I assume it was referencing the same package.

After adding your NuGet feed I ended up with 105 new installed packages. When trying to run the newly deployed version I get A LOT of output, more than I should probably paste here. It ends with this error:

[code]

There is no `libcoreclr.so` file present in my published package

[2016-04-15 18:52] jaredpar commented on #2483
Thanks for the info.  That helps a bit.

How does the JIT work here?  If I load the same physical assembly into separate contexts do I get to re-use the JIT'd methods?  Or does everything get re-JIT'd.

No app domains here though so I don't know how this impact statics sharing.

That's fine so long as different assemblies with the same identity can be loaded in different `AssemblyLoadContext` inst

[2016-04-15 18:58] MartinJohns commented on #317
Also, perhaps this warning should actually be an error:

It surely is not intentional to get a .exe (due to the fallback) when I clearly specified that I want an Ubuntu version.

[2016-04-15 19:20] AbhitejJohn opened #2531 "Shared apps cannot have a custom exe"
## Steps to reproduce
Shared apps currently, can only be run using the following commandline
dotnet [pathToAppdll]

This completely breaks branding.

## Expected  behavior
There should be some way of giving these a custom name. Going the standalone apps route and having to build for all supported runtimes that shared apps support just to get a custom name is a painful trade off.

## Actual behavio

[2016-04-15 19:27] brthor commented on #317
@MartinJohns That will be an error after #2444 is resolved, but that is blocked on the work I am doing here: #2438 It's just a Point in time issue.

All of the latest .NET core packages including NETStandard.Library and Microsoft.NETCore.App are published to the dotnet-core feed first, so if you want the bleeding edge that's the feed to go to.

Are you content to close this out since you made a wo

[2016-04-15 19:28] AbhitejJohn opened #2532 "Standalone apps are slower than shared apps"
## Steps to reproduce

Standalone apps currently are not built for .Net native and hence are much slower than shared apps because the host (dotnet.exe) is already crossgen'd.
## Expected  behavior

There should be some switch to build standalone apps in .Net native so they have the same performance as shared apps.
## Actual behavior

Standalone apps are slower because everything is being Jit'ed.
#

[2016-04-15 19:35] AbhitejJohn opened #2533 "User assemblies cannot be as fast as the shared framework"
## Steps to reproduce

User assemblies currently cannot be crossgen'd and hence are not as fast as the shared framework itself.
## Expected  behavior

A user should be able to native compile his assemblies if needed to better performance.
## Actual behavior

There isn't an option to crossgen user assemblies. This could hamper performance even if these are run in shared apps.
## Environment data

1

[2016-04-15 19:39] MartinJohns commented on #317
Yes, I think this can be closed again. Thanks for the replies. :+1:

[2016-04-15 19:41] #317 closed

[2016-04-15 19:41] NTaylorMullen commented on #2528
@brthor Yes it does.

[2016-04-15 20:02] JamesNK commented on #2525
I also get this.

[2016-04-15 20:11] rsbavaresco opened #2535 "[dotnet publish] Azure Web Site support"
Hello!

I am not able to deploy my application to Azure Web App.

## Steps to reproduce
1) `dotnet publish` at my dir, generating path `bin\Debug\dnxcore50\win7-x64\publish`
Obs: (at this step I can run with sucess from compiled .exe)
2) Change web.config to:

[code]
Also I change to:

[code]
3) Publish it via FTP

## Expected  behavior

Run successfully on Azure `(azurewebsites.net)`

## Actual b

[2016-04-15 20:28] piotrpMSFT commented on #2526
@mellinoe is looking into this. it looks like there are dependencies blocking this.

[2016-04-15 20:34] piotrpMSFT commented on #2435
@schellap do you believe there is an upgrade issue? Do we understand why installing a newer CLI did not get us back into a good state? Is this the expected "dotnet.exe + hostfxr.dll were in use during upgrade"?

[2016-04-15 20:38] piotrpMSFT commented on #2499
Ok. So I'm treating this bug as 'add dnxcore50 import to dotnet new template`. If we decide to add others in the future please create new issues.

[2016-04-15 20:52] gkhanna79 commented on #2435
The mismatch, I believe, was between the new hostfxr and the older hostpolicy that came from the older framework since both new and old pre-release FX were installed. If older is removed or renamed, everything works.

[2016-04-15 21:00] jtbm37 commented on #2524
@blackdwarf I did and it fixed the timeout issue.
However now when I do `dotnet build` it outputs this:

[code]

[2016-04-15 21:01] brthor opened #2536 "Libraries targetting netstandard1.5 cannot be restored for RIDs"
This is a current problem in NuGet which prevents libraries from having rid specific assets if published.

Being tracked here:
https://github.com/NuGet/Home/issues/2553
This issue will be used for tracking test skips.

[2016-04-15 21:07] jtbm37 commented on #2524
I am now on this version (had reinstalled thinking it was something to do with the installation):
[code]

[2016-04-15 21:10] brthor commented on #2528
Okay, we currently default to not regenerating the deps file when it already exists. A simple integrity check should be simple to add in ProjectToolsCommandResolver.

[2016-04-15 21:27] davidfowl commented on #2520
- Refactor dotnet build to use the a single build graph structure
- Support passing multiple projects to build (and globs)
- Add ProjectContext caching (use WorkspaceContext)
- Make ProjectContext lighter (based on measurements)
 - Pool strings during lock file parsing
 - LibraryExporter needs to cache exports
- Pass project context to dotnet-compile

## Measure
- MVC
- Single hello world console

[2016-04-15 21:29] schellap commented on #2435
The app still targets the old version. So the mismatch still exists. Starting from 2349, same situations install new with old with app targeting old will work fine.

[2016-04-15 21:40] jtbm37 commented on #2524
Strangely it works now. I tried creating another new project and it seems resolved. Thank you

[2016-04-15 21:40] #2524 closed

[2016-04-15 21:45] #467 closed

[2016-04-15 22:38] gkhanna79 opened #2537 "Only AppLocal binaries, present in app.deps.json, should be setup by the host"
Currently, host would add any appLocal binary, which is not in app.deps.json, as part of the app graph when constructing the TPA list.

It should exclude any binaries not in app.deps.json.

CC @jkotas

[2016-04-15 22:52] piotrpMSFT commented on #2513
@blackdwarf @bleroy can you guys look at this?

[2016-04-15 22:59] piotrpMSFT commented on #2535
@DamianEdwards @davidfowl can you please make sure this is being tracked in the right place?

[2016-04-15 23:00] piotrpMSFT commented on #2536
When this is fixed, please re-enable all tests that are "skipped" due to this issue.

[2016-04-15 23:02] piotrpMSFT commented on #212
Fixed by #2472

[2016-04-15 23:02] piotrpMSFT commented on #212
@MichaelSimons please close when verified.

[2016-04-15 23:04] piotrpMSFT commented on #2435
Ok, closing.

[2016-04-15 23:04] #2435 closed

[2016-04-15 23:07] #2463 closed

[2016-04-15 23:07] piotrpMSFT commented on #2463
fixed by #2530

[2016-04-15 23:07] piotrpMSFT commented on #2467
Fixed by #2530

[2016-04-15 23:07] #2467 closed

[2016-04-15 23:08] moozzyk opened #2540 "It should not be possible to have multiple tools with the same name in one project"
Because it the tool inside a package can have a different name than the package itself it is now possible to have multiple tools with the same package in one project. If this happens dotnet happily picks the first one when resolving tools. Ideally there should be an error during restore.

## Steps to reproduce
Create a project with two tools with the same name (in the project.json below both packa

[2016-04-15 23:08] #2474 closed

[2016-04-15 23:08] piotrpMSFT commented on #2474
Fixed by #2517

[2016-04-15 23:10] piotrpMSFT commented on #2476
Partial NGen is disabled and Shared Framework is NGen'd

[2016-04-15 23:10] #2476 closed

[2016-04-15 23:18] piotrpMSFT commented on #2526
@Eilon any chance you guys could look into making a PR that breaks the CLI's dependency on System.CommandLine? We're not going to be able to get to this immediately.

[2016-04-15 23:19] gregg-miskelly commented on #704
NOTE: This fix was backed out, so this was NOT fixed for RC2.

#1743 tracks re-enabling portable PDBs

[2016-04-15 23:28] schellap commented on #2537
Cc @anurse and @davidfowl. Effectively, `deps.json` will no longer be an optional artifact, i.e., whatever is specified in the deps file will only be setup in the probe paths. App local assemblies just dropped/copied in the app base will not be loaded.

[2016-04-16 00:25] gkhanna79 commented on #2531
CC @schellap

[2016-04-16 00:34] gkhanna79 commented on #2531
@piotrpMSFT Is this about having portable apps that can be executed with a formal "myapp.exe"? If so, are they expected to run against machine wide FX or a downloaded zip version of FX or both?

Can you please share more details on the scenario?

[2016-04-16 00:54] gkhanna79 opened #2541 "publishing Standalone apps should also publish precompiled SharedFX"
Currently, Standalone apps run against IL version of the packages, rendering them really slow and experience not at par with Portable apps.

CC @schellap @blackdwarf @brthor @Sridhar-MS

[2016-04-16 00:55] eerhardt opened #2542 "dotnet compile should invoke compile-csc in the same process"
See https://github.com/dotnet/cli/issues/2483

This issue is for the first fix in order to improve the performance of dotnet build.

We should invoke compile-csc in the same process instead of spinning up a new process. This saves 1 second on my machine when compiling the "dotnet new" project.

[2016-04-16 00:56] gkhanna79 commented on #2532
@AbhitejJohn @piotrpMSFT I presume this means not crossgened, right? If so, we should first address https://github.com/dotnet/cli/issues/2541 as that will improve the experience without requiring apps to be crossgened.

[2016-04-16 01:34] eerhardt commented on #2542
The general issue (#2483) was approved by @Petermarcu in @piotrpMSFT's office, but it was meant for this issue.

[2016-04-16 02:00] blackdwarf commented on #2513
@rohitshrivastava04 can you try to run this from the rel/1.0.0 branch? That is https://github.com/dotnet/cli/tree/rel/1.0.0/TestAssets/ProjectWithTests?

[2016-04-16 04:58] visten commented on #2504
The same bug.. :-(

[2016-04-16 06:25] shawnwildermuth opened #2543 "dotnet new project can't restore it's dependencies"
## Steps to reproduce
install the latest dotnet cli (x64 windows).
open a console
create a directory "helloworld" (e.g. c:\users\{yourname}\documents\helloworld - no spaces in path)
[code]
## Expected  behavior
Restore packages so that dotnet run will run the app

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

nuget.config:

[code]

[2016-04-16 07:07] shawnwildermuth commented on #2543
I missed adding https://dotnet.myget.org/F/dotnet-core/api/v3/index.json to nuget which makes it restore, but still can't build:

[code]

I won't even ask about the reference to RC3 ; )

[2016-04-16 07:14] AbhitejJohn commented on #2532
@gkhanna79 that's true. This is #2541 + process bootstrap optimization. Wouldn't #2541 increase the size of standalone apps installers though? We would just need a subset of the sharedFX that the standalone app uses. #2533 is similar but that covers user assemblies only.

[2016-04-16 07:15] davidfowl commented on #2543
That looks pretty wrong...

[2016-04-16 07:51] shawnwildermuth commented on #2543
I did something wrong, or the result was wrong?

[2016-04-16 08:37] cantrellcode opened #2544 "dotnet: command not found mac OS X, dotnet-osx-x64.1.0.0.001598.pkg"
## Steps to reproduce
Install .NET Core with OSX 10.11 installer:  dotnet-osx-x64.1.0.0.001598.pkg
open mac terminal:
type dotnet

symbolic links missing on post-installation

Creating links with the following fixes the issue.
ln -s /usr/local/share/dotnet/bin/dotnet /usr/local/bin/
ln -s /usr/local/share/dotnet/bin/csc /usr/local/bin/

## Expected  behavior
dotnet command runs with command line o

[2016-04-16 15:10] sirentek commented on #1076
It is possible to globally disable a warning.
I mean, the warning will be disabled for all the classes.
I include an example of project.json for this.

Does anybody know how to disable a warning for the *specified* class, method etc ?

[code]

[2016-04-16 15:47] rsbavaresco commented on #2535
@piotrpMSFT I agree. I am a little confusing where to post it. It seems to be a "problem" at Azure but it is a lot of new information, so it is not clear for me yet. Sorry.

[2016-04-16 17:28] davidfowl commented on #1998
@anurse @pakrym Can we remove this now?

[2016-04-16 17:48] livarcocc commented on #2513
cc @eerhardt Shouldn't the dependency above be available in the cli-deps feed?

[2016-04-16 18:37] jkotas commented on #2537
I do not think the intend of this issue is to make deps.json non-optional. If you do not have deps.json, it is fine to just pick up everything in the app directory. However, if you do have deps.json, we should pick up just what is in deps.json and not other random stuff that may be laying around.

[2016-04-16 18:50] gkhanna79 commented on #2537
I concur with @jkotas.

[2016-04-16 20:21] markhuber commented on #2543
+1 - Also seeing this when trying to do a new C# project. I believe it has to do with the new netstandard1.0 platform moniker.

[2016-04-16 20:35] Petermarcu commented on #2543
@markhuber can you confirm you have set up the dotnet-core package feed?

[2016-04-16 20:43] markhuber commented on #2543
I just got it to work, though I can't say I definitely understand the cause. Here is my info and theory:

nuget.config
[code]

Broken (dotnet new generated)
[code]
Working:
[code]
In the project.lock.json all of the dependencies in the broken scenario are all referencing rc3. I suspect that something was recently pushed to a myget feed referencing rc3. Something about `dotnet restore` is potential

[2016-04-16 21:14] salvarubiomartinez commented on #291
Same thing happen to me

[2016-04-16 22:13] shawnwildermuth commented on #2543
The change to 1.0.0-rc2-* worked for me. So the project.json being built by the dotnet new is probably at fault, or newer build solves it. If I can get you some info on it, let me know.

[2016-04-16 23:29] GuardRex commented on #2535
@rsbavaresco Keep in mind that the `AspNetCoreModule` hasn't been rolled out to Azure Apps yet. They're working on it, but there is no ETA yet. RE: Using `HttpPlatformHandler` ... not with that project you're using. Hosting bits are not compatible. You would probably need to go back to rc1-final for the best experience; and with rc2-final so close, you might want to wait it out. In the meantime, c

[2016-04-16 23:31] GuardRex commented on #2544
@cantrellcode You have an old installer. Get the one from the gh repo for your platform: https://github.com/dotnet/cli/tree/rel/1.0.0

[2016-04-17 07:09] cantrellcode commented on #2544
The install came from  http://dotnet.github.io/getting-started/.

They purport that the best way to install .NET Core on OS X is to use the official PKG package from their site. This installer will install the tools and put them on your PATH.
<a href="https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0.001598/dotnet-osx-x64.1.0.0.001598.pkg">official PKG package</a>

Perhaps the t

[2016-04-17 07:09] #2544 closed

[2016-04-17 07:19] GuardRex commented on #2544
They downgraded the release at that site for the Build conference stating that the experience for devs would be more stable. Use the installers or binaries from the gh repo; however, keep in mind that RC2-nightly is still just a hair unstable for large, complex projects.

[2016-04-17 07:45] davidfowl commented on #2525
/cc @anurse

[2016-04-17 07:55] Varorbc opened #2545 "`dotnet new` output needs a NuGet.config until RC2 is on NuGet.org"
## Steps to reproduce
dotnet new
dotnet restore

## Expected  behavior
Restore packages so that dotnet run will run the app

## Actual behavior
log  : Restoring packages for D:\Test\project.json...
info :   GET https://api.nuget.org/v3-flatcontainer/microsoft.netcore.app/index.json
info :   NotFound https://api.nuget.org/v3-flatcontainer/microsoft.netcore.app/index.json 1290ms
error: Unable to res

[2016-04-17 11:14] ibrmohammed commented on #2135
@Gillardo Did the above suggestion of using .exe worked for you.
I have an application running on rc2. When I published using dotnet publish, did get the similar folder structure.But when i host if on IIS, I got a 500.19 Internal server error.

![image](https://cloud.githubusercontent.com/assets/5870046/14586606/9654a63a-04bb-11e6-8a73-3cdc2db8be38.png)

[2016-04-17 14:02] joffreykern opened #2547 "Could not resolve coreclr path"
Hi, i'm trying to build and run an application (simple app developped by myself). I have the same issue in windows-10-x64 and ubuntu 14.04-x64, when i'm using `dotnet run`, I got `Could not resolve coreclr path` in my console output.

Here is the project.json:
[code]

## Steps to reproduce
I used `dotnet restore`, then `dotnet build` and to finish `dotnet run`.
Output :
[code]

## Environment data

[2016-04-17 14:38] smoothdeveloper commented on #2336
@davidfowl, @enricosada  it would be nice to figure out if I can rely on dotnet cli for scripting or if it is only to be used for projects.

I think scripting is a major way to get people to adopt the languages / platform when starting out, should they instead rely on paket project?

On a similar note, what is the story for dotnet cli and handling dependencies at solution level (this has to be con

[2016-04-17 16:36] mikes-gh commented on #2543
same here latest cli on Mac OS X.  Project wouldn't restore or build.
Once I changes project.json to 1.0.0-rc2-* for core app reference everything worked ok

[2016-04-17 17:13] piotrpMSFT commented on #2547
I don't see a reference to Microsoft.NetCore.App. Your dependencies also suggest this is an RC1/DNX app that is now being restored by CLI. You will need to port the App onto the current toolset. One of these guys should be able to give you access to pre-release guidance docs:

/cc @blackdwarf @davidfowl @glennc

[2016-04-17 17:18] piotrpMSFT commented on #2545
Thanks for opening this issue.

This is a point-in-time issue. The `dotnet new` templates have already been updated in preparation for RC2 bits to be available on NuGet.org. As such, we've removed the NuGet.config file which directs folks to pre-release feeds, causing restore to fail.

You can add a NuGet.config file next to the generated project.json file. In NuGet.config put:
[code]

[2016-04-17 17:19] #2545 closed

[2016-04-17 17:24] piotrpMSFT commented on #2543
I think I see the issue.

@weshaggard I believe you manually push the NetCore.App package back to the dotnet-core feed. The CLI build, meanwhile, always points the dotnet-new template to the just-built version of that package. If that's not propagated immediately to dotnet-core then folks using the NuGet.config workaround are broken.

@shawnwildermuth @markhuber can you try an alternative workarou

[2016-04-17 17:25] piotrpMSFT commented on #2543
This is related to #2545 where we are tracking the recommended workaround. Linking, so we can update the guidance if needed

[2016-04-17 17:25] piotrpMSFT commented on #2543
Marking as `question` for `1.0.0-rc2` as this workaround will not be needed once rc2 packages are on NuGet.org.

[2016-04-17 17:32] piotrpMSFT commented on #2540
@moozzyk we want to take a different path here. Instead of breaking on conflict, we want to warn folks that the call is ambiguous and enable them to qualify their invocation.

In your scenario, we'd like to see something like:

[code]

[2016-04-17 17:46] davidfowl commented on #2547
@joffreykern Please use https://github.com/aspnet/cli-samples as a starting point for ASP.NET Core with the CLI

[2016-04-17 17:47] davidfowl commented on #2535
@rsbavaresco please move this to the ASP.NET repository.

[2016-04-17 17:47] #2535 closed

[2016-04-17 18:10] binoypatel opened #2549 "Unable to compile UWP project when referencing NETStandard project v1.4"
## Steps to reproduce
[code]
## Expected  behavior
Should not have conflict and compile correctly

## Actual behavior
Unable to compile UWP project with NETStandard assembly

## Environment data
C:\Program Files (x86)\Microsoft Visual Studio 14.0>dotnet --version
.NET Command Line Tools (1.0.0-beta-001598)

Product Information:
 Version:     1.0.0-beta-001598
 Commit Sha:  7582649f88

Runtime Envi

[2016-04-17 18:17] davidfowl commented on #2549
A few things:
- Can you share your project on github?
- Can you update to the latest CLI here https://github.com/dotnet/cli#installers-and-binaries (SDK installer)

/cc @ericstj @emgarten

[2016-04-17 18:28] binoypatel commented on #2549
Thanks David for the prompt reply, I tried with the latest cli but same compilation issue, and I cannot share the code on GitHub as it has some proprietary code, here are the compilation issues:

Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the Package Manager node and uncheck 'Allow NuGet to download missing pac

[2016-04-17 18:29] NickCraver commented on #1161
Hit this today - I think that installer warning should be much stronger since you're going to hit issues with `https://` feeds very quickly.

[2016-04-17 18:30] davidfowl commented on #2549
Can you show the `project.json`? Seems like you're using Visual Studio and not the CLI.

[2016-04-17 18:32] binoypatel commented on #2549
sure, here it is:
This is from NETStandard project:
{
  "supports": {},
  "dependencies": {
    "NETStandard.Library": "1.0.0-rc2-23910"
  },
  "frameworks": {
    "netstandard1.4": {}
  }
}

This is from UWP project:
{
  "dependencies": {
    "Microsoft.NETCore.UniversalWindowsPlatform": "5.0.0",
    "Microsoft.OneDriveSDK": "1.1.29",
    "Newtonsoft.Json": "8.0.2"
  },
  "frameworks": {
    "uap

[2016-04-17 18:33] NickCraver commented on #809
Confirmed I'm hitting this with Dapper build scripts now. This should be reopened.

[2016-04-17 18:46] davidfowl commented on #809
/cc @emgarten

[2016-04-17 19:30] piotrpMSFT commented on #2488
1598 is the build referenced in dotnet.github.io. It does not include many fixes that will go out in RC2. If you want to give the latest a shot, try a build from https://github.com/dotnet/cli.

As @Sridhar-MS pointed out, you should uninstall what you have before taking latest since the installers were only stabilized in the interim. If you still see issues, please let us know!

[2016-04-17 19:30] #2488 closed

[2016-04-17 19:45] piotrpMSFT commented on #2466
@davidfowl can comment on this. Moving to backlog for the time being. I'm not sure that release notes are appropriate in the project.json. This really feels like a transient pack-time artifact.

[2016-04-17 20:32] yishaigalatzer commented on #809
We just checked in a file handle leak fix, it could be related. Nick - what build are you using?

[2016-04-17 20:36] NickCraver commented on #809
@yishaigalatzer 1.0.0-rc2-002416

[2016-04-17 20:39] TingluoHuang commented on #1919
.NET Command Line Tools (1.0.0-rc2-002416)
fixed my issue. thanks all for help. :D

[2016-04-17 20:39] #1919 closed

[2016-04-17 21:44] shawnwildermuth commented on #2543
@piotrpMSFT - no difference. Here is the packageSources from my nuget.config:

[code]

[2016-04-17 22:43] schellap commented on #2489
I can pick this one...

[2016-04-17 22:44] schellap commented on #2489
This would require host change to plumb the fx dir.

[2016-04-17 22:57] smoothdeveloper commented on #2543
`dotnet --info`
[code]

`dotnet new`
[code]

`dotnet restore`

[code]

`dotnet build`
[code]

[2016-04-17 22:58] smoothdeveloper commented on #2543
Is there an system integration test which tries those commands out of a fresh build?

It seems builds shouldn't be green and published if they can't output the "hello world" after the commands I listed.

[2016-04-17 23:09] smoothdeveloper commented on #2545
@piotrpMSFT thanks for the work around.

When I `dotnet restore` I endup with pages of:

[code]

What strikes me as a end user:
* the fact that this command would output that kind and amount of details is suprising, you should consider `--verbose` and have a very lean output (you can check what `paket` is doing, a great project!)
* so many errors and exceptions seems to be output as `log:`, while

[2016-04-17 23:34] smoothdeveloper commented on #2545
@piotrpMSFT after running again `dotnet restore`

`>dotnet build`

[code]

`project.json`

[code]

[2016-04-18 08:22] thecodejunkie opened #2551 "Resouces with a space in the name cannot be compiled by dotnet cli"
## Steps to reproduce

Add an embedded resource, with one or more spaces in the filename

[code]
## Expected  behavior

To have the file embedded in the assembly. It worked with `dnx` but not with `dotnet`
## Actual behavior

It seems that ends up splitting the filename on the spaces

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-04-18 09:15] erdeszt commented on #1928
I'm having the same issue on Win8. `dotnet --version`:
[code]
Removing the https nuget sources as @ytimenkov suggested solves the issue(although I don't get the nice detailed error with `dnu restore` as he did).

[2016-04-18 09:23] schellap commented on #1517
Please reopen with better repro steps.

[2016-04-18 09:23] #1517 closed

[2016-04-18 09:25] schellap commented on #1904
This should be fixed now to report a better error message.

[2016-04-18 09:25] #1904 closed

[2016-04-18 09:28] schellap commented on #1129
Not finding a deps file is not an error unless the deps was specified using --depsfile. Rest of the outcomes are not in host's control.

[2016-04-18 09:28] #1129 closed

[2016-04-18 09:31] schellap commented on #2098
This seems like the expected outcome. The host is not in control of handling these errors/exceptions from the runtime. @gkhanna79 is this something worth bubbling up from the runtime for managed exceptions that will pop a WER dialog? If that will not make a CoreCLR RTM bar, we should just close this out.

[2016-04-18 10:09] Ciantic opened #2552 "Typo in TFM gives Microsoft.CSharp error"
Put this in the project.json:

[code]

NuGet.config
[code]

Startup.cs
[code]

[code]

So if you use e.g. net462 without having it, dotnet gives the above non-descriptive error.

[code]

[2016-04-18 10:32] mikes-gh commented on #1720
+1 for a pre rc2 release version of rc2 tooling.
May help iron out any last minute issues that may not be picked up internally.

[2016-04-18 12:13] DanTup commented on #1730
Are there any future plans for the cli on ARM at all (even if not binaries)? I thought it was supported, but hit the same error as @jamesqo when running `build.sh`.

[2016-04-18 14:23] gkhanna79 commented on #2098
This is the runtime exception bubbled up - it went unhandled and the OS configuration on the machine resulted in Watson. The host is not in the business of examining the implementation of the assembly.

@Petermarcu Are you expecting that something will check the binary is not an EXE and abort? If so, that should be "dotnet run" implementation that invokes "dotnet <pathtoapp.dll" after "dotnet buil

[2016-04-18 14:26] gkhanna79 commented on #2489
I believe there are two changes required:

1) Add the FX dir to AppContext - @schellap Please file an issue to fi this.
2) Plumb the CLI to consume the FX dir - which is this issue. @brthor Should look into this.

[2016-04-18 14:29] gkhanna79 commented on #2532
@AbhitejJohn The only way to make standalone apps faster is to crossgen - and that will increase size of the apps (due to the presence of native code). Additionally, it will also make them (more) platform specific.

[2016-04-18 14:29] gkhanna79 commented on #2532
I dont believe there is a way to compute this for an app right now.

CC @weshaggard @ericstj

[2016-04-18 14:31] gkhanna79 commented on #2533
This is about the scenario of precompiling user apps. @richlander @blackdwarf Do you want to drive the scenario definition for this?

CC @piotrpMSFT @Petermarcu @brthor @jkotas @schellap

[2016-04-18 15:46] eerhardt commented on #2513
1. I don't see any place in the rel/1.0.0 branch that is using the "Microsoft.Extensions.CommandLineUtils" package.  I see places using "Microsoft.Extensions.CommandLineUtils.Sources", however.
2. I do see the package and version that error is talking about in the cli-deps feed:  https://dotnet.myget.org/feed/cli-deps/package/nuget/Microsoft.Extensions.CommandLineUtils/1.0.0-rc3-20565

[2016-04-18 15:52] weshaggard commented on #2543
The packages only get pushed to dotnet-core and not cli-deps feed but they only get pushed to the dotnet-core feed once all the different OS legs finish building. So if someone picks up the latest and greatest CLI build for a given OS there is a timing issue before the actual matching nuget packages hit the dotnet-core feed. @piotrpMSFT this is that buid synchronization issue you are so dreading t

[2016-04-18 15:56] weshaggard commented on #2543
As a follow-up to try and shed light on some of the mystery. The reason `1.0.0-rc2-*` works is because that correctly just picks up the latest rc2 build which will work but the reason why the version `dotnet new` output doesn't work is because it is putting an rc2 build number higher then any on the feed, because that build hasn't be fully published yet, and so it trys to find it and fails and nug

[2016-04-18 15:58] mjrousos commented on #2482
I'm hitting this as well with a simple 'Hello World' app.

project.json:
[code]

NuGet.config:
[code]

Builds/runs fine via `dotnet` commands. Running from the published directory yields the 'Invalid .deps file' error.

[2016-04-18 16:06] eerhardt commented on #2482
@mjrousos - you are using the wrong version of Microsoft.NETCore.App.  This package doesn't have the same versioning scheme as the rest of the CoreFX packages.

[code]

Instead you want:

[code]

A way to tell the difference is that the bad/wrong packages have rc2-2xxxxx.  The correct packages have rc2-3xxxxxx.  If you want the latest version, you should just use rc2-*.

[2016-04-18 16:10] mjrousos commented on #2482
Ah, I see. Going forward what's the best way for me to know what a recent dev build of Microsoft.NETCore.App is? For most assemblies, I just check [myget](https://dotnet.myget.org/gallery/dotnet-core), but it shows an incorrect version for Microsoft.NETCore.App (which is how I ended up in this state in the first place :)).

[2016-04-18 16:36] ericstj commented on #2549
In the UWP project try  "Microsoft.NETCore.UniversalWindowsPlatform" : "5.2.0-rc3-24015-00" instead.

[2016-04-18 16:40] anurse commented on #1998
Yes, I believe so.

[2016-04-18 16:56] eerhardt commented on #2482
If you look at the listing of all versions in the myget feed, you can see all the ones with "rc2" in them.  The highest versions (i.e. the ones with rc2-3xxxxxx) will be the most recent.

[2016-04-18 17:03] moozzyk opened #2555 "driver should provide actionable error message when entry point is missing"
## Steps to reproduce

I wanted to create an app but by mistake use the `netstandard1.5` moniker instead of `netcoreapp1.0` - like this:

[code]

do:
`dotnet run`
## Expected  behavior

An error saying my application is not an app but a dll
## Actual behavior

[code]
## Environment data

`dotnet --info` output:
``
dotnet --version
1.0.0-rc2-002416

[code]

[2016-04-18 17:14] GuardRex commented on #2482
You can cap the rc2 ones if you use the CI release feed (as shown in the
cli samples repo), which is being used for rc2 stabilization prior to rc2
release. If you use the CI dev feed, you float into rc3.

It's probably best to follow the format of cli samples right now for shared
framework apps with mods if you wish to embrace the standalone model.
On Apr 18, 2016 11:56 AM, "Eric Erhardt" <notific

[2016-04-18 17:17] mjrousos commented on #2482
Got it. Thanks, @eerhardt and @GuardRex!

[2016-04-18 17:18] DanTup opened #2556 "Is it expected that cli can be built on ARM?"
I was under the impression that I could build this on ARM ([as is](https://twitter.com/shanselman/status/722049659020029953) @shanselman), however I've been unable to make it work. The first step of `build.sh` seems to be to download a binary rather than build and that seems to be an x86 binary.

I found #1730 but it's not clear it that was about binaries or building from source (it sounds like th

[2016-04-18 17:27] anurse commented on #2525
I have a fix. I'm going to ask for RC2 approval for this since it's a regression.

[2016-04-18 17:34] brthor commented on #2489
Once we have this in AppContext, this should be a one line change:

https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/CoreHost.cs#L31

I believe @sokket was picking this one up?

[2016-04-18 17:37] schellap commented on #2489
No issues guys, I'll make the fix.

[2016-04-18 17:37] piotrpMSFT commented on #2556
The CLI itself is a portable application, so it will run happily anywhere we find a CLR, CoreFx, and Host [Shared Framework] to match. Whenever we do a new platform bring-up there is a one-time step to bootstrap builds. We've historically done this by getting the Host [corehost] to build, taking a corresponding CLR + CoreFx, and manually building out the first drop of the CLI. Afterwards, the syst

[2016-04-18 17:42] gkhanna79 opened #2558 "Add support for FX_DEPS_JSON property"
The host should specify the path to deps.json corresponding to the one that the app is being activated against. This can be used by apps (e.g. CLI) as appropriate.

CC @brthor @piotrpMSFT @schellap

[2016-04-18 17:43] gkhanna79 commented on #2489
Filed https://github.com/dotnet/cli/issues/2558 against @schellap

[2016-04-18 17:44] brthor commented on #2558
In the case of deps.json's being merged, which file path will be available via this property?

[2016-04-18 17:46] gkhanna79 commented on #2558
Are you referring to standalone apps? If so, then this should be path of the standalone app's deps.json.

[2016-04-18 17:54] schellap commented on #2558
We should use a property called FX_BASE_DIRECTORY. Why FX_DEPS_JSON?

[2016-04-18 17:55] piotrpMSFT commented on #2555
@moozzyk the first part of the expected behavior makes sense. I'm not clear on how we achieve the second, however. I don't think that hard-coding TFMs is a scalable idea, and I don't know of a mechanism for describing the intended purpose of the various TFMs.

Can you split this into two bugs? Let's try to fix the obvious one soon, but the tfm one will take more thought.

[2016-04-18 17:56] gkhanna79 commented on #2558
Once you have the path to the deps.json, you can compute the path to Shared FX. Also, this alleviates the need to introduce a new property in future to point to the FX's deps.json, if required.

[2016-04-18 17:57] piotrpMSFT commented on #2555
Assigning to schellap for "no entrypoint" fix. @moozzyk please create the second bug only for "this is not the right framework".

[2016-04-18 17:59] BillHiebert opened #2561 "Compiler exit code string should not be sent to stderr"
When VS does a build using dotnet build, it hooks stdout and stderr and assumes every string sent to stderr is an error which needs to go to the error list. The problem is that if the csc compiler generates an error (which is correctly output to stderr), dotnet build is also outputting the following string indicating the csc compiler returned an error.

`"C:\\Program Files\\dotnet\\dotnet.exe comp

[2016-04-18 17:59] DanTup commented on #2556
It's not a big deal, I just thought it'd be fun to get it up and running on my Pi. I'm not sure if I know enough about Linux (total noob!) or dotnet core to do much without hand-holding :(

[2016-04-18 17:59] piotrpMSFT commented on #2561
@BillHiebert RC2 or RTM?

[2016-04-18 18:01] piotrpMSFT commented on #2558
@gkhanna79 @schellap I'm not sure we can absorb consuming this property for RC2. Let's give it a shot, but if you get other blocking work then I'd prioritize this lower since it really creates benefit when CLI-side of the work is also done.

[2016-04-18 18:01] moozzyk commented on #2555
@piotrpMSFT - I will create a new bug.

I think I might have been to specific with the solution. In general the error should make it clear what is wrong and I can fix that.

[2016-04-18 18:03] gkhanna79 commented on #2558
@piotrpMSFT Is this not required for RC2?

[2016-04-18 18:03] moozzyk commented on #2555
@piotrpMSFT - you changed the title but the new title does not reflect the scenario. I **did** have `"emitEntryPoint": true` in my app - and you can see it in the project.json file I included.

[2016-04-18 18:04] BillHiebert commented on #2561
RTM - I am going to put in a work around for RC2

[2016-04-18 18:04] gkhanna79 commented on #2558
My understanding is that we need this for RC2 to ensure CLI can pickup the FX path correctly incase binaries get serviced.

[2016-04-18 18:07] moozzyk opened #2562 "Cryptic error message when using netstandard1.5 moniker for a runnable target"
The app was supposed to be runnable but targeted `netstandard1.5` and not `netcoreapp1.0`. Trying to run the app results in a cryptic error: `Could not load host policy library from [C:\Users\\Documents\Visual Studio 2015\Projects\dotnet-scratch\bin\Debug\netstandard1.5]
`

Instead the message should made it clear what's wrong and how to fix this.

More details in https://github.com/dotnet/cli/iss

[2016-04-18 18:13] piotrpMSFT opened #2563 "Help selecting appropriate `framework` for runnable projects"
Opening on behalf of @moozzyk

## Steps to reproduce
I wanted to create an app but by mistake use the `netstandard1.5` moniker instead of `netcoreapp1.0` - like this:

[code]
do:
`dotnet run`

## Expected  behavior
User is notified that `netstandard1.5` is not suitable for executable applications

## Actual behavior

[code]

## Environment data
`dotnet --info` output:
``
dotnet --version
1.0.0-rc2