[2017-05-29 20:51] omajid commented on #6709
You should be able to do that already using the `--runtime-id` flag. For example, try `./dotnet-install.sh --runtime-id linux-x64`.

[2017-05-30 04:23] juergenhoetzel commented on #6709
Thanks for the hint! :+1:  It would still be useful to use environment variables to specify the the __runtime-id__ without changing code of third-party tools like [OmniSharp](https://github.com/OmniSharp/omnisharp-roslyn/pull/877).

The change would be simple:

[code]

[2017-05-30 04:44] livarcocc commented on #6709
We won't support distro specific packages very soon for the CLI. Meaning, we will only have the linux portable distro. So, this override isn't really needed.

[2017-05-30 05:58] juergenhoetzel commented on #6709
I see. I wasn't aware of *RID* *linux-x64*

Wouldn't it make sense to use *linux-x64* as default *RID* if distro detection fails?

See my related pull request [Handle missing VERSION_ID gracefully](https://github.com/dotnet/cli/pull/6708)

[2017-05-30 06:48] bgever commented on #6143
To put the current situation in perspective of a real-world example (I'll put new terms in quotes):

I've installed the "SDK", ".NET Core SDK (contains .NET Core 1.0 and 1.1)" from the website.

I did a build of a project, and got this:
[code]

Ok, so what "version" do I have? First attempt:

[code]

1.1.0? I was expecting to see (latest) 1.1.1?

[code]

Huh, different? What does 1.0.4 refer to? I

[2017-05-30 09:09] dasMulli commented on #6143
Regarding the version binding: There is a great design issue at https://github.com/dotnet/designs/issues/3
TL;DR Portable apps will no longer require the latest patch version of the runtime that **the SDK knows about when building** (implemented in https://github.com/dotnet/sdk/pull/1222).
Tried to give that a write-up at https://stackoverflow.com/questions/44240029/determine-which-net-core-runtim

[2017-05-30 10:53] nasfra commented on #6680
Removing SyncFusion from my sources works in this case, but isn't really practical!  I need SyncFusion for my work: visual Studio needs it, build scripts need it, etc.  If I remove SyncFusion source form the config file, it is no longer available to all these resources.

[2017-05-30 12:48] pellea commented on #6001
@rohit21agrawal which next version? This is still not supported with dotnet 2.0.0-preview1-005977.

Is there a way to migrate UWP project not manually?

[2017-05-30 13:44] Kritner commented on #6105
I would guess to not restore for each build... i'm guessing it'd only be beneficial for local development, and not a build server scenario.

[2017-05-30 16:28] tetious commented on #5918
I'm seeing build times over a minute, where previously (project.json) I saw 20ish seconds worst case. A full build of my not-very-large at all project with ZERO changes takes nearly 20 seconds now. So that's all overhead, and poking around it seems to all be due to ResolveAssemblyReferences/ResolveProjectReferences.

I think this is the sort of thing that can permanently hurt .net core's reputatio

[2017-05-30 16:33] NinoFloris commented on #5918
@tetious Thank you for your well written comment, I could not agree more

[2017-05-30 17:05] miskiewicz opened #6710 "dotnet publish including all directories with json files by default"
In a ASP.NET Core MVC project, when I have json files in any folder and publish with default options, json files get published together with the folders they are in. Even folders such as Controllers get published. It doesn't feel like this is an intended behaviour.

## Steps to reproduce
Recreatable in VS 2017 and VS Code.

1. In VS 2017 create new project from ASP.NET Core Web Application (.NET C

[2017-05-30 17:09] johnbeisner opened #6711 ".NET Core 2+ Naming and Versioning; Install scripts"
New naming guidelines: dotnet/designs: https://github.com/dotnet/designs/issues/2

Updates to installer and archive names:
Shift rid to the end
Intermediate package dotnet-sharedframework-* will be renamed to dotnet-runtime-*

[2017-05-30 17:10] johnbeisner opened #6712 ".NET Core 2+ Naming and Versioning; Asset rename"
New naming guidelines: dotnet/designs: https://github.com/dotnet/designs/issues/2

Updates to installer and archive names:
Shift rid to the end
Intermediate package dotnet-sharedframework-* will be renamed to dotnet-runtime-*

[2017-05-30 17:39] emgarten commented on #6680
@nasfra this looks like an issue with syncfusion, have you contacted them to find out what might be wrong?

[2017-05-30 17:49] livarcocc commented on #6710
This issue was moved to aspnet/websdk#209

[2017-05-30 17:49] #6710 closed

[2017-05-30 19:21] johnbeisner commented on #6688
Is there a global.json that specifies an sdk version:
	    If no, then use latest installed sdk.     Same as today.
	    If yes, then is the version being asked for available:
        	If yes, then use it.     Same as today.
	        If no, then use the lowest installed version that is higher than the specified version.     New behavior!

[2017-05-30 20:11] DustinCampbell commented on #6699
This should be moved to C# for VS Code at https://github.com/OmniSharp/omnisharp-vscode.

[2017-05-30 20:11] DustinCampbell commented on #6699
This issue was moved to OmniSharp/omnisharp-vscode#1529

[2017-05-30 21:14] melzoghbi opened #6716 "Support for Raspbian Jessie OS"
## Steps to reproduce

i want to be able to create .net core apps and deploy it on Raspberry Pi Zero W. This board supports Raspbian Jessie and i do not see any build to try even a preview build for Arm processor.

## Expected  behavior

A build for Raspbian Jessie so we can download and create .net core apps.

## Actual behavior

Only Debian x64 bit distro.

## Environment data
`dotnet --info` ou

[2017-05-30 21:18] ivamax9 commented on #6581
@gabrielrb I had the same issue today.
Try to restore (`dotnet restore`) and build (`dotnet build`) from CLI and only after that switch to Visual Studio for Mac.

[2017-05-30 21:50] #6711 closed

[2017-05-30 21:50] #6687 closed

[2017-05-30 21:50] #6712 closed

[2017-05-30 21:55] livarcocc commented on #6716
Do you need to build and deploy on ARM? Because you can cross-compile to arm from a windows or another linux machine.

[2017-05-30 21:56] #5502 closed

[2017-05-30 23:11] eerhardt opened #6718 "Remove ArtifactNameCombinedFrameworkSdk/dotnet-runtime-sdk"
No one knows what this artifact is for, and it doesn't feel valuable since it only has the shared framework and the sdk.  It doesn't have the host or hostfxr.

We should investigate why we produce this and delete it.

See https://github.com/dotnet/cli/pull/6714#discussion_r119208020

[2017-05-30 23:25] eerhardt commented on #4340
Closing this.  I don't think we plan on servicing 1.0.0-preview2.1 anymore.  If we do, and we need this change, we can re-open and fix.

[2017-05-30 23:25] #4340 closed

[2017-05-31 00:55] livarcocc commented on #6492
@eerhardt @ramarag is this something you guys will still tackle for 2.0?

[2017-05-31 01:17] ramarag commented on #6492
yes i am working on this as part of using sdk conflict resolution in store

[2017-05-31 15:35] rynowak commented on #3474
It would be really nice to see this addressed. Since the guidance calls out *sourcing* the script, it shouldn't set options that dirty the shell.

It took me a while to chase down why my shell was exiting on a failed, unrelated command after sourcing dotnet-install.

[2017-05-31 15:53] nitrat7 commented on #3298
centos 6.8 (Elemental)

dotnet: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.18' not found (required by dotnet)
dotnet: /usr/lib64/libstdc++.so.6: version `CXXABI_1.3.5' not found (required by dotnet)
dotnet: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.14' not found (required by dotnet)
dotnet: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.15' not found (required by dotnet)

[2017-05-31 17:34] johnbeisner commented on #4648
This was fixed with PR: https://github.com/dotnet/cli/pull/6664

[2017-05-31 17:34] #4648 closed

[2017-05-31 18:05] melzoghbi commented on #6716
I do not mind to build on my windows machine as a cross compile to ARM. Is there any instructions on how to do that from my machine to cross build and then deploy to my arm raspbian jessie.

[2017-05-31 18:05] DustinCampbell commented on #6699
Pinging here as well. @livarcocc, this is clearly not a VS Code issue but looks like a CoreCLR problem. Please see https://github.com/OmniSharp/omnisharp-vscode/issues/1529#issuecomment-305004561.

[2017-05-31 18:59] ChrisNikkel opened #6723 "Unable to find F# project in solution to restore"
## Steps to reproduce
[code]
NOTE: Also tested using linux subsystem on windows 10 with Ubuntu 14.04.5 LTS and dotnet version 1.0.4 and got same results

## Expected  behavior

All F# projects in solution should be able to restore and build.

## Actual behavior

No F# projects are found in solution to restore.

## Environment data
`dotnet --info` output:
[code]

[2017-05-31 20:19] qmfrederik commented on #4808
I wanted to chime in and check whether there's a workaround for this issue?

I just hit this as well, when trying my shiny new dotnet zip/dotnet tarball/dotnet rpm commands :).

In my case, I'm not sure whether I want the tool to be installed globally - I'm guessing that could create some issues in shared build environments?

Also, I only expect to invoke this command for the project in my solutio

[2017-05-31 22:36] MichaelSimons opened #6724 "Resolve checksum file naming differences with core-setup"
As part of https://github.com/dotnet/core-setup/issues/279, checksum shas are now being produced for core-setup.  The problem is the file naming conventions used in core-setup differ from what is being used in cli (e.g. file extension - .sha vs .sha512).  Please resolve this difference.  It would help make the consuming experience uniform across the .NET Core product.

Core-setup - https://dotnetc

[2017-05-31 23:08] matkoch opened #6725 "dotnet restore ignores user-wide config"
## Steps to reproduce

- Project with dependencies located on a different source (not nuget)
- Call `dotnet restore XXX.csproj --configfile customfile.config`

## Expected  behavior

- Passed configfile (custom source) and user-wide config `$HOME/.nuget/NuGet/NuGet.config` (default nuget source) should be used to restore packages

## Actual behavior

- All dependencies are resolved
- Note that it

[2017-05-31 23:12] livarcocc commented on #6725
This issue was moved to NuGet/Home#5311

[2017-05-31 23:12] #6725 closed

[2017-06-01 00:25] eByte23 opened #6726 "[ARM32][PI Zero] Segment Fault - Published app not cli"
## Steps to reproduce
install .net core 2.0 preview or lastest from master
```dotnet new console```
set RuntimeIdentifiers: win7-x64;win-arm;linux-arm

publish using ```dotnet publish -r linux-arm -c Release```
(note also debug has same issue)

copy published app to pi zero and run

## Expected  behavior
The app should output ```Hello World``` to console.

## Actual behavior
Segment Fault

## Envi

[2017-06-01 01:53] Alxandr opened #6727 "The "PackTask" task failed unexpectedly with System.IO.DirectoryNotFoundException"
## Steps to reproduce
I have not been able to figure out what exactly is causing this problem. It happens in my repository https://github.com/YoloDev/Fable.Ava most of the time when I try to publish locally (as opposed to on CI). I run `dotnet pack`, and I get the following exception:

[code]

## Expected  behavior
The project should package without problem and produce a `nupkg`.

## Actual behavi

[2017-06-01 03:45] livarcocc commented on #6726
How are you running the app?

@eerhardt since this seems more like a runtime issue.

[2017-06-01 03:48] eByte23 commented on #6726
I have followed the steps outline here https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

Basically just doing ```./HelloWorld```
Then it returns SegmentFault.

I have ran the exact same app on raspberry pi 2 and it runs successfully.

Could it have anything to do with Software Floating Point vs. Hardware Floating Point, as rpi zero is basically rpi 1 hardware

[2017-06-01 03:51] benzsuankularb commented on #4392
Also got this in mac, with `dotnet --version` 1.0.4

[2017-06-01 05:04] andegre commented on #5692
Why is it so hard to tell where the installer is for this CLI? I installed VS2017, obviously doesn't work. Where's the installer to get the CLI RC3?

[2017-06-01 10:08] ydanila commented on #2556
Does current build.sh could be used to create arm binaries?

First I have error linked with distributive:
`dotnet_install: Error: OS name could not be detected: ubuntu.17.04`
Second - build script calls dotnet-install.sh for x64
` /root/sdk/cli/scripts/obtain/dotnet-install.sh --channel master --version 2.0.0-preview1-005867 --install-dir /root/sdk/cli/.dotnet_stage0/x64 --architecture x64`

[2017-06-01 12:47] melzoghbi commented on #6726
Yes. This is exactly what i am facing. Thanks @eByte23

[2017-06-01 13:06] stevedesmond-ca commented on #2556
There are ARM builds of the .NET Core Runtime at https://github.com/dotnet/core-setup, but (unless something has stealthily changed) the CLI/SDK is still x64 only.

[2017-06-01 14:30] isaac2004 commented on #6703
I had a Global Json in a higher folder. That seemed to resolve the issue

[2017-06-01 14:30] #6703 closed

[2017-06-01 15:30] mattscheffer opened #6730 "'dotnet new console' fails to restore nuget packa"
## Steps to reproduce
D15PreRel 26601.00
Latest CLI 2.0.0 bits. 2.0.0-preview2-006195

Run 'dotnet new console -n console1' from an admin cmd prompt.

## Expected  behavior
Nuget packages are restored during the creation process

## Actual behavior
Nuget packages fail to restore. Gives prompt to restore manually

## Environment data
`dotnet --info` output:
[code]

Log:
[code]

[2017-06-01 15:32] mattscheffer commented on #6730
'dotnet restore' fails to run as well. Same error log.

[2017-06-01 16:06] ChrisNikkel commented on #6723
I have found a workaround to this problem by going into Visual Studio 2017 Prof and adding the projects to the solution there.  Then you can go back to the command line to do the `dotnet restore`

[2017-06-01 17:20] dohnuts commented on #6730
when using --packages path

while there is space left on the device.

[2017-06-01 17:29] livarcocc commented on #6730
@mattscheffer this is a known issue that we are working to fix. This happens because our offline cache is out of sync with the runtime, which means that you need a NuGet.Config with this feed in it to be able to restore: <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />.

@dohnuts I would file an issue at nuget/home for this. I don't believe it is related t

[2017-06-01 17:56] ivnext commented on #5606
I hit this issue and chased it down to having otherwise "invalid path" characters supplied to the migration name (-Name) parameter of the Add-Migration command. For example, if in the migration name I supplied a comment such as: "Added a DBSet<>...", I would see this error. After removing the '<>', the error goes away. This was with EF Core 1.1.2, and I was using the Package Manager Console.

I ha

[2017-06-01 17:58] ericstj opened #6732 "Is it supported to build a non-SDK project with the CLI?"
## Steps to reproduce
1. File->new project->Windows Classic Desktop->Console App in Visual Studio, targeting .NET framework 4.6.1.
2. Go to commandline and run `dotnet build` on the project.
3. File->new project->Windows Classic Desktop->WPF App in Visual Studio, targeting .NET framework 4.6.1.
4. Go to commandline and run `dotnet build` on the project.

## Expected  behavior
Consistent behavior f

[2017-06-01 17:59] livarcocc commented on #6732
No. This is not supported. CLI only supports SDK based projects. Non-sdk based projects need to be built using msbuild.

We have a bug to add full msbuild to the windows versions of the CLI, which would enable this scenario on windows. But not for 2.0.

[2017-06-01 18:08] ericstj commented on #6732
The CLI ought to fail in a better way then.  You could probably do this by injecting some target into MS.Common.Targets via a hook and fail if the SDK property isn't set /cc @nguerrera

[2017-06-01 18:24] #6617 closed

[2017-06-01 19:37] johnbeisner opened #6734 "Update README links: .NET Core 2+ Naming and Versioning"
the README links at https://github.com/dotnet/cli/tree/release/2.0.0#installers-and-binaries need to be updated for this change - reference: https://github.com/dotnet/cli/pull/6714
__________________________
New naming guidelines: dotnet/designs: dotnet/designs#2
Updates to installer and archive names:
Shift rid to the end
Intermediate package dotnet-sharedframework-* will be renamed to dotnet-run

[2017-06-01 20:37] isaac2004 commented on #5998
This workaround does not work with .Net Standard. If you put the preview version of the tools in .csproj you still get the error message

`
Package Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.0-preview1-final is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Package Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.0-preview1-final supports: netcoreapp2.0 (.NETCoreApp,Version=v2.0

[2017-06-01 23:03] dsplaisted opened #6737 "Include .NET 4.6.1 support for .NET Standard 2.0 in CLI layout"
The tasks and targets that support .NET Standard 2.0 in .NET Framework 4.6.1 need to be included in the CLI's layout.

This is a piece of the work required for dotnet/sdk#1267, which tracks the overall work.

[2017-06-01 23:05] dsplaisted opened #6738 "Include .NET 4.6.1 support for .NET Standard 2.0 in VS 15.3 Preview 3"
The tasks and targets that support .NET Standard 2.0 in .NET Framework 4.6.1 need to be inserted into Visual Studio and laid out in the proper folders under the MSBuild path.

This is a piece of the work required for dotnet/sdk#1267, which tracks the overall work.

[2017-06-01 23:06] dsplaisted opened #6739 "Ship .NET 4.6.1 support for .NET Standard 2.0 for VS 2015"
We need to create an MSI that installs the tasks and targets that support .NET Standard 2.0 in .NET Framework 4.6.1 into Visual Studio 2015's version of MSBuild.

This is a piece of the work required for dotnet/sdk#1267, which tracks the overall work.

[2017-06-01 23:38] #6734 closed

[2017-06-02 02:56] kinglionsoft opened #6746 "hostpolicy.dll not found when using dotnet publish"
## Steps to reproduce
1. dotnet new mvc
2. add <RuntimeIdentifiers>linux-arm</RuntimeIdentifiers> to mvc.csproj

[code]
3. dotnet restore
4. dotnet publish -r linux-arm

## Expected  behavior
publish mvc project as a self-host app and run at Raspbian.

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

[2017-06-02 05:47] livarcocc commented on #6746
How are you trying to run the application? invoking dotnet <dll>?

If that's the case, that's the wrong way to run the application. Since you published for a specific rid, you application became a self-contained app. You need to run it by invoking a binary with the same name as your dll, something like mvc.

[2017-06-02 05:48] livarcocc commented on #6726
Moving this issue to core-setup. I think they can triage it better. This seems like an issue in the runtime and not the tooling.

[2017-06-02 05:48] livarcocc commented on #6726
This issue was moved to dotnet/core-setup#2601

[2017-06-02 05:48] #6726 closed

[2017-06-02 05:51] kinglionsoft commented on #6746
dotnet run, and dotnet build both work fine.

[2017-06-02 06:37] livarcocc commented on #6746
But you do not dotnet run/dotnet build in the Raspbian. Also, just to be sure, dotnet run is a development tool only and will not work with your published app.

For a published app, you do to run it by either running dotnet <your_app>.dll (if it is a portable app) or by running <your_app>(.exe if windows) if it is a self-contained app.

[2017-06-02 07:08] kinglionsoft commented on #6746
I have published a console app to Raspbian following by [https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md](https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md). It works fine, but mvc app failed when publishing.

[2017-06-02 07:27] WernerMairl opened #6747 "dotnet-install.ps1 not working on Powershell Core 6.0.0-beta"
## Steps to reproduce
Install/use Powershell Core 6.0.0-beta on Windows (!)
load script from https://raw.githubusercontent.com/dotnet/cli/release/2.0.0/scripts/obtain/dotnet-install.ps1
Execute the script

## Expected  behavior
download and install dotnetcore

## Actual behavior
Exception calling "IsBypassed" with "1" argument(s): "Operation is not supported on this platform."
At ......\dotnet-ins

[2017-06-02 07:48] Patrickkk commented on #6707
While it would probably be nice to have (especially for legacy stuff).
Isn't it a bit strange that there are 2 projects when it is distributed as 1 package? Unless there are some external factors into play forcing you to separate shouldn't  it simply be 1 project since it is distributed as 1 package?

[2017-06-02 08:42] quarion commented on #6707
Yes, that is definitely possible to just merge the two projects together, and this is a workaround that I will use.

But I would imagine, that there might be some valid scenarios similar to this one:

CommonLib.csproj <- this provide no value on its own, so it should not be published.
ProjectA.csproj <- Published as NuGet. Refers CommonLib, so it would need to contain it as part of the package.
Pr

[2017-06-02 09:48] alfonsogarciacaro commented on #6723
Same issue here on macOS with dotnet SDK 1.0.4. Apparently it only works on Windows but not on Unix system. Restoring project by project works though.

[2017-06-02 14:48] mpforce1 opened #6748 "artefact"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2017-06-02 14:48] #6748 closed

[2017-06-02 15:43] mpforce1 opened #6749 "`dotnet build` fails when targeting .NET4.6"
## Steps to reproduce
Create a new project using:

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2017-06-02 15:47] johnbeisner opened #6750 "Update the README.md in the CLI"
Use an example: https://github.com/dotnet/core-setup#daily-builds

[2017-06-02 15:51] livarcocc commented on #6749
There is very little info here. Closing. Please, re-activate when you have repro steps and the CLI version info.

[2017-06-02 15:51] #6749 closed

[2017-06-02 16:01] mpforce1 commented on #6749
@livarcocc Sorry, I accidentally ctrl-entered in the description box. I cannot reopen this issue, could you please do so?

[2017-06-02 16:04] livarcocc commented on #6746
@kinglionsoft Is it failing when you invoke dotnet publish or is it failing when you try to invoke the app once you have it copied to to the raspbian?

[2017-06-02 16:26] kinglionsoft commented on #6746
It is failing when invoking dotnet publish. Thanks.

[2017-06-02 16:28] kinglionsoft commented on #6746
@livarcocc It is failing when invoking dotnet publish. Thanks.

[2017-06-02 17:08] livarcocc commented on #6746
This is not a problem for linux-arm only. This happens whenever you try to publish the mvc app as a self-contained app.

This is failing when invoking the Microsoft.VisualStudio.Web.CodeGeneration.Tools tool. @mlorbetske can you take a look at this?

[2017-06-02 17:11] livarcocc commented on #6746
It seems like the tool is expecting to run the app as a portable app, but the reality is that it is self-contained, so, the runtime.config.json won't have the framework in it, which is why it fails with a libhostpolicy missing error.

[2017-06-02 17:32] mlorbetske commented on #6746
We're investigating

[2017-06-02 17:41] mlorbetske commented on #6746
Could you try changing view compilation to false to see if that helps?

[code]

cc @vijayrkn

[2017-06-02 18:14] prafullbhosale commented on #6746
@livarcocc I am not sure I follow. `dotnet publish` should not be invoking Microsoft.VisualStudio.Web.CodeGeneration.Tools.

I tried running `dotnet aspnet-codegenerator` and it seems to work fine.

I see `microsoft.aspnetcore.mvc.razor.viewcompilation` failing during `dotnet publish`
This is a different `ProjectDependencyTool`

cc @NTaylorMullen

[2017-06-02 23:02] livarcocc commented on #6746
Sorry, I got those wrong, but yeah, that is the problem. ViewCompilation is assuming the project is portable and fails to invoke it when it turns out to be self-contained.

[2017-06-03 03:01] horney0824 opened #6758 "Failed to create prime the NuGet cache. restore failed with: 1"
## Steps to reproduce
dotnet restore

## Expected  behavior
Successfully finished.

## Actual behavior
Failed to create prime the NuGet cache. restore failed with: 1
  Restoring packages for /home/chenzheyou/hwapp/hwapp.csproj...
/usr/share/dotnet/sdk/1.0.4/NuGet.targets(97,5): error : An error occurred while retrieving package metadata for 'Libuv.1.9.1' from source '/home/chenzheyou/.nuget/packag

[2017-06-03 03:16] horney0824 commented on #6657
encountered same issue under ubuntu 16.04@vmplayer

[2017-06-03 05:52] livarcocc commented on #6758
You are not getting this error because the first run experience is failing, it seems like you are getting this error because you have an invalid feed. The actual restore error you are getting is indicating that.

@emgarten in case he can tell exactly what is wrong from the error message above.

[2017-06-03 05:59] emgarten commented on #6758
Check the nuspec under home/chenzheyou/.nuget/packages/Libuv/1.9.1 is valid. This error might indicate the the nuspec is corrupt or empty.

[2017-06-03 19:34] EliRibble commented on #3371
I hit this issue as well during an installation of our own software that has a packaged version of the vcredist 2015 install before installing our software. It prevents our software from installing correctly and I'm not sure there's workaround for the latest windows 10 yet.

[2017-06-04 02:41] horney0824 commented on #6758
@emgarten size of all files under libuv are zero except license.txt, how to solve it?

[2017-06-04 02:45] horney0824 commented on #6758
@livarcocc So there is one more question, does failure of first run exp cause the restore fail? and how can i make this run properly?

[2017-06-04 03:04] horney0824 commented on #6758
i cleared nuget cache by run "dotnet nuget locals -c all", and made it succeed after restoring again. thank you @emgarten @livarcocc

[2017-06-04 04:40] #6758 closed

[2017-06-04 08:46] markmnl commented on #3189
I found using VS 2017 .NET Core and UWP can both reference .NET Standard class library. Although I tried this before without success seems to work now in VS2017.

[2017-06-04 09:45] olivierHen commented on #3189
Hi Mark !
Thank you very much for the tip !

Do you think it will run on Windows IoT on my Rpi3 ?

I can't wait to test it now ;)

[2017-06-05 01:33] CodeCharm opened #6760 "OutputType Exe does not lead to .exe in output"
## Steps to reproduce
1. Install dotnetcore2 preview 1 (2.0.0-preview1-005977)
2. Create a project directory and go into it(I'm using PowerShell):
`md DotNetCore2ConsoleExe`
`sl DotNetCore2ConsoleExe`
3. Create a new console project
`dotnet new console`
4. Check that the csproj file OutputType setting is set to Exe:
[code]
5. Build the project:
[code]

## Expected  behavior
Output should be execut

[2017-06-05 03:29] CodeCharm commented on #6760
BTW, I read this: https://github.com/dotnet/cli/issues/6237
And, yeah, considering you have millions of .NET Framework developers new to .NET Core who know all about Windows .exe files and not that much about macOS and *nix, calling it an Exe when what you mean is "library that has a standard Main" is misleading to say the least. Call it "app" or something.

[2017-06-05 03:29] #6760 closed

[2017-06-05 06:24] micli opened #6761 "dotnet build cannot support path with folder name has '%20'"
## Steps to reproduce

Recently I am trying to write a book to introduce .NET Core Debugging skill to audience. I created a project on Visual Studio Online with name "Dotnet core Debugging Book".  It git clone to local, folder
is "Dotnet%20core%20Debugging%20Book".
In this folder, if I create a simple console .Net Core 2.0 app with below command, it will not build correctly.
`dotnet new console -o

[2017-06-05 06:45] livarcocc commented on #6105
PR: https://github.com/dotnet/cli/pull/6762.

[2017-06-05 07:09] bendono opened #6763 "Unable to resolve 'Microsoft.NETCore.App (>= 2.0.0-preview2-25319-02)' for '.NETCoreApp,Version=v2.0'"
## Steps to reproduce
Following the [dogfooding](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md) steps...
1. Download the Windows SDK.
2. Unzip the download.
3. Create a folder for new project. Switch to folder.
4. Run "dotnet new console".

## Expected  behavior
Successful restoration.

## Actual behavior
Screen capture.
![cli-error](https://cloud.githubuser

[2017-06-05 08:12] Inirit commented on #6397
I've been running into this issue as well, it caused me a few hours of confusion before realizing that it might be a bug in dotnet itself.

Is there a workaround in the meantime to override the generated executable name? It would be preferable to not have to manually rename the file every time.

[2017-06-05 13:36] LeeCampbell commented on #6121
To add supporting information for this ticket.
when I run this batch file
[code]
I expect to either see no output (if there have been no errors) due to the `-v=q` argument. Alternatively, if output is to be expected by design (perhaps with `-v=m`) perhaps only the following output

[code]

However I get the following output

[code]

## Environment data

dotnet --version: 1.0.4

Runtime Environment

[2017-06-05 16:21] Petermarcu commented on #6746
We need to make sure self contained applications work before 2.0 ships.

[2017-06-05 16:43] pranavkm commented on #6746
This is a known issue (https://github.com/aspnet/MvcPrecompilation/issues/102). We're discussing our options for fixing this tomorrow and plan to have a resolution for preview3. FYI @Eilon

[2017-06-05 17:08] jeremysimmons commented on #3409
@GuardRex are you saying the solution that #1834 solved could e applied to `dotnet test` ?

[2017-06-05 17:29] GuardRex commented on #3409
@jeremysimmons I think so. The situation with the `dotnet sln add` topic was that it was very unclear about globbing generally. @gforceg made a major improvement to the topic, but it was just something we were working on for that one command.

I referenced this issue because the discussion here made it sound like globbing was unsupported until that was clarified by [@]livarcocc. Since the globbing

[2017-06-05 18:12] livarcocc commented on #6746
Closing the issue here, since it is already tracked by aspnet.

[2017-06-05 18:12] #6746 closed

[2017-06-05 18:13] livarcocc commented on #6763
this is a known issue that we are working to fix. This happens because our offline cache is out of sync with the runtime, which means that you need a NuGet.Config with this feed in it to be able to restore: <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />

[2017-06-05 18:13] livarcocc commented on #6763
Dup of https://github.com/dotnet/cli/issues/6730.

[2017-06-05 18:13] #6763 closed

[2017-06-05 19:27] livarcocc commented on #6761
I could not repro this.

I wonder if this is something depending on which shell you are using. I tried with zsh.

The folder I ended up with was `/git/temp/Dotnet core Debugging Book/DumpMe`.

I tried the following steps:
1. mkdir "Dotnet core Debugging book"
2. cd Dotnet\ core\ Debugging\ Book/
3. dotnet new console -o DumpMe
4. cd DumpMe
5. dotnet restore
6. dotnet build

All commands succeeded.

[2017-06-05 22:15] dasMulli commented on #3409
@jeremysimmons fyi  there are a few workarounds:

1. you can use an msbuild project file run tests on multiple projects without relying on a platform's shell: https://github.com/dotnet/cli/issues/6572#issuecomment-300921019 (more integrated "build script": https://gist.github.com/dasMulli/69f5303aa79a8cd4060e44891c90fd2d)

2. create a `Directory.Build.props` file containing `<Project><Target Name=

[2017-06-05 22:19] dasMulli commented on #6761
I have seen similar issues when passing "URL-like" paths to msbuild arguments..

@livarcocc this reproduces with `%20` in the path:

1. `mkdir evil%20directory`
2. `cd evil%20directory`
3. `dotnet new console`
4. `dotnet build`

[2017-06-06 00:02] micli commented on #6761
@livarcocc
Indeed, it works when you use real blank character as “Dotnet core Debugging book”. But MS Build doesn't work under "URL-like" path as "Dotnet%20core%20Debugging%20Book" as @dasMulli said before.
I think the root casue is MS Build cannot compatible "%20".

[2017-06-06 01:08] livarcocc commented on #6761
@rainersigwald have you seen this before?

[2017-06-06 01:24] #6688 closed

[2017-06-06 01:50] jeremysimmons commented on #3409
@dasMulli I could not get either option to work. I'm using XUnit, not VSTest

[2017-06-06 04:10] masaeedu opened #6767 "dotnet restore is slow for projects with many non-build files"
## Steps to reproduce
 - Create a class library project
 - Inside the project folder, add a directory containing a large number of plain text files
 - Add these files under a `None` build action in the csproj like so:

[code]
 - Run `dotnet restore`

## Expected  behavior
Restore takes the same amount of time as for the same project without the non-build files (in my testcase ~2-3 seconds).

## Ac

[2017-06-06 05:49] mlorbetske opened #6768 "MSI install drops a build numbered folder containing the store and additionalDeps folders"
Rather than having the `store` and `addtionalDeps` folders being dropped at the root of "dotnet home", a folder containing (presumably) the build number of ASP.NET coherence is dropped, containing those two folders.

Before installing from the MSI from release/2.0.0

![image](https://cloud.githubusercontent.com/assets/1414993/26815341/b805bd48-4a40-11e7-8f73-19480cc7d34b.png)

After installing

![

[2017-06-06 06:25] joeloff commented on #6768
This is a bug in SetupCrossgen. I'm looking into it

[2017-06-06 10:41] anoordende commented on #6747
This same exception also happens using PS 5.1 whilst creating a docker image from microsoft/iis:nanoserver
[code]
Following the instructions as per: https://docs.microsoft.com/en-us/aspnet/core/tutorials/nano-server though the install script on that page is different.

[2017-06-06 11:18] mpforce1 opened #6770 "`dotnet build` fails when targeting .NET4.6"
I'm creating a second issue because the first one #6749 has been closed without a solution and has not been reopened.

## Steps to reproduce
Create a new solution using:
`dotnet new sln --name TestSolution`

Create and Add a class library project:
`dotnet new classlib --name TestProject --output TestProject`
`dotnet sln add ./TestProject/TestProject.csproj`

In TestProject.csproj change the Target

[2017-06-06 14:33] johnbeisner commented on #6688
Closing: https://github.com/dotnet/core-setup/pull/2621

[2017-06-06 16:30] rainersigwald commented on #6761
This issue was moved to Microsoft/msbuild#2178

[2017-06-06 17:03] wjk opened #6772 ".NET CLI segfaults on macOS High Sierra beta"
First of all, I’m sorry if I wasn’t supposed to discuss this issue publicly. I checked the Apple developer program agreement and it seems to allow public discussion of bugs in Apple beta software, provided it has been publicly announced at WWDC (which was yesterday). Also, feel free to move this issue to a more suitable repository if required. (I’m filing it here because I don’t quite know which c

[2017-06-06 17:06] #6761 closed

[2017-06-06 17:15] zunder commented on #6760
@CodeCharm How did you fix this issue for you? I am still hopelessly trying to generate an .exe and all I get is a .dll.

[2017-06-06 19:01] CodeCharm commented on #6760
@zunder It's not really "fixed." Read that thread: #6237 - it's apparently a "by design" feature, although I personally think the design ought to change. After all, every OS has the concept of an executable binary. However, the thing I needed most was to get the exit code from my `static int Main(args[])`, and I was able to do that, even by calling `dotnet.exe` and having it run my (ahem) "executa

[2017-06-06 19:10] ganipcanot opened #6773 "dotnet new --install Microsoft.AspNetCore.SpaTemplates::* fails when multiple packageSources are specified in NuGet.Config"
## Steps to reproduce
My NuGet.config looks like this:
[code]
## Expected  behavior
dotnet new --install Microsoft.AspNetCore.SpaTemplates::* // Should install, not give 401 error

## Actual behavior
401 error seen.
dotnet new --install Microsoft.AspNetCore.SpaTemplates::*
  Restoring packages for C:\Users\brruoff\.templateengine\dotnetcli\v1.0.4\scratch\restore.csproj...
C:\Program Files (x86)\do

[2017-06-06 19:53] livarcocc commented on #6773
I would say this is expected. You have a source in your list of sources to which you have no access.

@emgarten @mlorbetske

[2017-06-06 20:07] onovotny opened #6776 "Need a way to detect if dotnet is present and what version it is"
The scenario is using `dotnet` within a custom build target. I may want to use `dotnet path\to\myutil.dll` if present, then fallback to `myutil.exe` on Windows and `mono myutil.exe` elsewhere.

This needs to work in non-SDK style projects too, so it's not an SDK property because the package can be installed in any project type. It's a pre-build step we want to run to generate code that gets includ

[2017-06-06 20:57] ganipcanot commented on #6773
The private source is one I do have access to, it's just not a public source.  Seems someone might have faced a similar issue as me: https://github.com/dotnet/cli/issues/3330

"It works on another environment I had where there is only **1 package source**.

I was wondering if this is due to the fact that I have private sources? And is there anyway for me to select which sources I want to include /

[2017-06-06 21:25] livarcocc commented on #6773
I am not aware of the capability to select which sources out of the full set of sources will be used. The best work around is the one already suggested in the issue you referenced above.

I will close this issue as I don't believe this is really a problem. Please, re-activate if I got this wrong.

[2017-06-06 21:25] #6773 closed

[2017-06-06 21:33] davmason opened #6778 "dotnet store fails with error that it cannot find DiaSymReader"
## Steps to reproduce
The complete scenario is here: https://github.com/aspnet/JitBench/blob/dev/README.md

This has been working for a while and regressed in the past few days.

The issue is when the store is generated by this script: `.\AspNet-GenerateStore.ps1 -InstallDir .store -Architecture x64 -Runtime win7-x64`

This is the command that is run by the script:
[code]

## Expected  behavior
Do

[2017-06-06 21:35] lt72 commented on #6778
@eerhardt: Eric, could you please take a look?

[2017-06-06 21:44] eerhardt commented on #6778
The default experience for `dotnet store` has recently changed to generate symbols by default.  To generate symbols, crossgen needs Microsoft.DiaSymReader.Native.

To unblock yourself you can either:

* pass `--skip-symbols` into the `dotnet store` command to not generate the symbols
* run the `dotnet store` command from a VS dev command prompt, which has Microsoft.DiaSymReader.Native on the `%PAT

[2017-06-06 21:45] eerhardt commented on #6778
Related:  https://github.com/aspnet/MetaPackages/issues/135

[2017-06-06 21:47] rynowak commented on #6778
Should we revert this until this is resolved? It's really disruptive when changes like this come down the pipe and break something that's been working for months.

[2017-06-06 22:45] ryperl commented on #6773
@livarcocc Why would package management fail if one of the sources is valid and does have the package and is not related to the 401.

Example:
nuget.org is the destination where the package exists
someprivatesource is the 401 but the package wouldn't have existed there anyways.

shouldn't the CLI still succeed in installing this package?

[2017-06-06 23:56] emgarten commented on #6773
@ryperl if a package depends on a range of ``>= 1.0.0`` and source A has 2.0.0 and source B has 3.0.0 then results will change if source A is missing. Restore fails fast here to avoid giving inconsistent results.

[2017-06-07 06:06] somewhatabstract opened #6782 ""dotnet restore" from SLN dir doesn't trigger associated proj targets"
## Steps to reproduce
1. Create a solution with a project in a subfolder
1. Edit project (csproj) to have a custom build target that depends on the `Restore` target (either before or after target is fine). Something simple like executing an obvious command should be fine as long as the results are visible in the console.
1. Verify that `dotnet restore` from the project folder runs the custom targe

[2017-06-07 07:25] Xarkam opened #6783 "dotnet restore Unable to load the service index for source https://api.nuget.org/v3/index.json"
## Steps to reproduce
Clone https://github.com/ExtCore/ExtCore-Sample-Modular-Ui-Adv

## Expected  behavior
Restore package

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

If I use nuget cli for restore, I don't have any problem.
[code]

[2017-06-07 10:13] nicolaszawada commented on #6699
I'm having the same issue on a Windows 7 machine. Have you been able to resolve this?
Combase.dll is not present in the System32 folder.
[code]

[2017-06-07 11:35] BennieCopeland commented on #5331
Here is my use case. I'm working on adding CI to our process for an ASP.Net Core site we are building. I want to be able to build once, test those binaries, and then publish the tested binaries as part of the CI workflow. This flag still works with `package`, which we are using for publishing internal nuget packages in our CI workflow.

[2017-06-07 14:42] eerhardt commented on #6778
Does one of the two above workarounds not work for you until this is fixed?

[2017-06-07 15:59] forki opened #6784 "Umlauts in exec task fail"
## Steps to reproduce

md Präsentationen
cd Präsentationen
dotnet new -i Fable.Template.Elmish.React::*
dotnet new fable-elmish-react -n counter
cd counter
dotnet restore

## Expected  behavior

dotnet restore working

## Actual behavior

"file not found"

This is because ä umlaut doesn't work in the Paket.Restore.targets file line 17.

Even reduced call like the following would not work

    <Exe

[2017-06-07 16:21] livarcocc commented on #6783
This issue was moved to NuGet/Home#5358

[2017-06-07 16:21] #6783 closed

[2017-06-07 16:24] livarcocc commented on #6782
This issue was moved to NuGet/Home#5359

[2017-06-07 16:24] #6782 closed

[2017-06-07 16:43] nguerrera commented on #6707
This issue was moved to NuGet/Home#5360

[2017-06-07 16:43] #6707 closed

[2017-06-07 16:52] nguerrera commented on #6767
This issue was moved to NuGet/Home#5361

[2017-06-07 16:52] #6767 closed

[2017-06-07 16:54] nguerrera commented on #6784
This issue was moved to Microsoft/msbuild#2187

[2017-06-07 16:54] #6784 closed

[2017-06-07 17:01] dazinator commented on #5331
To my mind, publishing a project should operate on it's built assets - therefore publishing is dependent on a build having occurred. I think it would be rare that you would want to publish something from a vanilla state without having done a build and run some tests of other CI logic to test the assets you are publishing. The reason for wanting to publish and specify "no build" is because at the p

[2017-06-07 18:24] wjk commented on #6772
Unfortunately, my note above about the segfault occurring only as the process is exiting has been proven quite false; `dotnet restore` fails to do anything now, because it segfaults immediately upon launch.

[2017-06-07 19:24] BennieCopeland commented on #5331
@dazinator Exactly. Even if the "incremental build" is negligible, that is still shipping a different set of compiled binaries than the ones that were tested, and in some environments that is unacceptable.

[2017-06-07 20:04] stevenshort commented on #5086
Still getting this, anyone have a workaround?

[2017-06-07 20:09] elepner commented on #5086
Everything works perfectly for our .NET Core project targeting net461 since the VS17 release.

[2017-06-07 21:04] rynowak commented on #6778
I'm testing this out and running into some issues. Currently trying to figure out if they are related to the store or something else.

[2017-06-07 21:07] eerhardt commented on #6778
I have a fix for this issue I am testing out locally.  So it hopefully shouldn't be too long...

[2017-06-07 21:24] livarcocc commented on #6772
This issue was moved to dotnet/core-setup#2649

[2017-06-07 21:24] #6772 closed

[2017-06-07 22:08] rynowak commented on #6778
@eerhardt - what I'm seeing now is that I can create the store, but I fail consistently at runtime with:
[code]

Notice it's not probing my store for the reference assembly.

Is this a separate issue?

[code]

[2017-06-07 22:14] eerhardt commented on #6778
It looks like a separate issue that was fixed a few weeks ago.  https://github.com/dotnet/core-setup/issues/2496.

Is there anyway you can check which version of Microsoft.Extensions.DependencyModel is being referenced by that app?  Try looking in the .deps.json file or the project.assets.json file.  Which version of ASP.NET are you referencing?

[2017-06-07 22:18] rynowak commented on #6778
This is happening for me with the 2.0.0-preview1 release of ASP.NET and the newest shared framework/SDK

The version of dependency model in my project.assets.json is 2.0.0-preview1-002111

[2017-06-07 22:22] stevenshort commented on #5086
Ah, I've been looking a few different bugs. Mine is the same behavior but with packaging service fabric - not .net core - sorry

[2017-06-07 22:34] eerhardt commented on #6778
Yep, that's the issue.

After preview1, there was a request to remove the ASP.NET assemblies from the `publish\refs` folder because they are already in the runtime store.  See https://github.com/dotnet/sdk/issues/1216.  So the preview2 (and later) SDK now stops copying the ASP.NET assemblies to the `publish\refs` folder.  However, the preview1 runtime had a bug in it - the one I referenced above h

[2017-06-07 22:37] rynowak commented on #6778
OK interesting, I'm not sure why we're just running into this now. I'll try this preview1 SDK

[2017-06-07 22:45] dpodder opened #6793 "dotnet-install failing to download SDK for release/2.0.0"
## Steps to reproduce
[code]

## Expected  behavior
Successfully downloads the SDK for release/2.0.0

## Actual behavior
[code]

## Environment data
RHEL 7.2 x64
Also fails due to HTTP/404 on: Ubuntu 14.04 x64, Windows 10 (1703) x64 (using analogous steps)
Note: tested also with dotnet-install script from branch: master. Same error.

[2017-06-07 22:47] dpodder commented on #6793
@eerhardt This poppued up today and is blocking our work to validate CoreCLR 2.0 perf. Are there any workarounds we could try to get a 2.0 compatible SDK?

[2017-06-07 22:57] omajid commented on #6793
Should be fixed by https://github.com/dotnet/cli/pull/6785

[2017-06-07 23:11] livarcocc commented on #6793
@omajid is correct.

@johnbeisner FYI

[2017-06-07 23:13] omajid commented on #6793
Here's a quick and dirty workaround:

    wget https://raw.githubusercontent.com/dotnet/cli/master/scripts/obtain/dotnet-install.sh
    sed -ie 's/-dev-/-sdk-/g' ./dotnet-install.sh  # new step. no moneyback guarantees!
    chmod +x dotnet-install.sh
    ./dotnet-install.sh -Architecture x64 -Channel release/2.0.0 -InstallDir ./dotnet

[2017-06-07 23:14] livarcocc opened #6795 "Resolver failures hidden by 1.1 SDK in default fallback location"
(Edit by @nguerrera: Below is just one example of resolution failing and error message getting hidden. A more common one is global.json pinning to a version that is not available and getting 1.1 instead of a failure with proper error message. Title changed to reflect the general issue.)

## Steps to reproduce
    1.	Create a new console app in VS
    2.	Modify the csproj with the following: <Proje

[2017-06-07 23:22] dpodder commented on #6793
Thanks so much @omajid! I can confirm the workaround works and gets at least some of our work unblocked.

+CC: @dotnet/rap-team

[2017-06-07 23:58] wli3 opened #6796 "Cannot find and install deb package via apt-get"
1. Have a clean machine from official ubuntu iso/ Azure VM
2. Run following command, to add our _source_

[code]
3.
[code]

Expect there is package and can be installed, however there is nothing right now

[2017-06-08 01:24] caleblloyd opened #6798 "Application targeting net462 imports library targeting net451 instead of library targeting netstandard2.0"
## Steps to reproduce
1. Build a class library with target frameworks:
[code]
2. Build an application that imports the class library with target frameworks:
[code]
3. Run `dotnet restore`

## Expected  behavior

- App `net46` should import library `net451`
- App `net462` should import library `netstandard2.0`
- App `netcoreapp1.1.2` should import library `netstandard1.3`
- App `netcoreapp2.0` shou

[2017-06-08 12:40] andreujuanc commented on #5918
Running dotnet run takes 50 seconds average to start in my Ubuntu testing box. Which runs in the cheapest azure price tier. The website I'm running it's just 4 views, 2 controllers, no logic, just some localization and just one contact form.

I had some issues to address (paths are case sensitive in linux, so some resources did not get found) when running in linux and it took me literally one enti

[2017-06-08 15:01] nguerrera commented on #6798
I believe this is by design in terms of precedence. Same target framework identifier is consider "nearer" than compatible identifier.

[2017-06-08 15:01] nguerrera commented on #6798
This issue was moved to NuGet/Home#5370

[2017-06-08 15:01] #6798 closed

[2017-06-08 15:26] julielerman commented on #6592
1) I have 10.11.6 and glad I found this quickly enough with nightly build (2.0.0-preview2-25319-02)
2) dang! I guess I better finally move to sierra! :)

[2017-06-08 15:51] ushaharali opened #6803 "EF core-Connection Pool reset"
We are looking for ways to reset connection pools. Basically if a sql server connection goes bad, we should be able to rest our connection pool.
There are ClearPool() and ClearAllPools() that are available with .net framework
Are there similar methods available for use in .net core ? Or what would be recommended way to achieve this?

[2017-06-08 16:21] #6105 closed

[2017-06-08 16:22] livarcocc commented on #6803
This issue was moved to aspnet/EntityFramework#8782

[2017-06-08 16:22] #6803 closed

[2017-06-08 18:31] rynowak commented on #6778
Thanks @eerhardt - hoisting the dependency model workaround that issue, so it looks like we're not blocked here.

[2017-06-08 19:13] eerhardt commented on #6649
Is this issue now solved?  I'm removing the 'store' label, since this isn't an issue with the `dotnet store` command.  Instead, it has morphed into an issue with how we are packaging the asp.net runtime store in the SDK.

[2017-06-08 19:36] gregg-miskelly opened #6805 ".NET Core 1.0 ASP.NET Dynamic compilation broken after installing .NET Core 2.0 SDK on Linux"
## Problem
After installing .NET Core 2.0 preview 1 tooling, the nuget package cache contains lower case names:

    Example: ~/.nuget/packages/microsoft.aspnetcore.antiforgery

But the ASP.NET Core 1.0 runtime expects the same casing as in the package. So if I do a 'dotnet run' on a .NET Core 1.0 app, it will no longer work.

## Approximate repro steps:
1. Install a new Linux box (I was using Ubu

[2017-06-08 20:40] wli3 commented on #6796
That package issue might be cause of master build failure, Ubuntu 14.04 16.04 and Debian failed last time with new naming change, I am requeueing

[2017-06-08 21:17] eerhardt opened #6806 "dotnet test fails on Linux when both 2.0.0-preview1 and 2.0.0-preview2 installed"
## Steps to reproduce
Install both 2.0.0-preview1 and 2.0.0-preview2 to the same folder on the same Linux machine.  (for example, like a customer would into `/usr/share/dotnet`).

dotnet new xunit
dotnet test

## Expected  behavior
The tests should run.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

## Notes
The issue is that there was a breaking change between pr

[2017-06-08 21:22] wli3 commented on #6796
Ubuntu 16.10 is good, which strangely has both correct runtime version and last CLI/SDK build succeeded

[2017-06-08 21:28] wli3 commented on #6796
- [ ] https://github.com/dotnet/core-setup/issues/2657
- [ ] Update runtime version after new build it shows up in the feed
- [ ] Fix VSTS release 2.0.0 build

[2017-06-08 21:46] kevinkuszyk commented on #3778
After many iterations of trial and error, the following command worked for me:

[code]

It produced a nuget package called `R4Mvc.1.2.3-alpha1-ci.4.nupkg`, and put the version numbers into the built DLLs:

![image](https://user-images.githubusercontent.com/2734580/26952115-f1369954-4c9b-11e7-8f71-515a69c6160a.png)

I wouldn't call that combination of arguments intuitive!

[2017-06-08 21:52] #6718 closed

[2017-06-08 23:31] wli3 opened #6809 "deb package should contain Linux generic content"
Deb package build process is still building distro specific bits. It should produce Linux generic bits and packed with deb

#6799

[2017-06-09 00:04] livarcocc commented on #6805
@eerhardt can you take an initial look?

[2017-06-09 00:21] livarcocc commented on #6793
We have merged a fix for this now.

[2017-06-09 00:21] #6793 closed

[2017-06-09 01:23] #6806 closed

[2017-06-09 04:25] livarcocc commented on #6768
@mlorbetske and @joeloff I believe we have already ingested a wixlib with a fix for this. So, closing this issue. If I am mistaken, please, re-activate.

[2017-06-09 04:25] #6768 closed

[2017-06-09 05:53] livarcocc commented on #6778
I believe this issue has been fixed now that we inserted an SDK with the fix in the CLI.

[2017-06-09 05:53] #6778 closed

[2017-06-09 05:54] #6809 closed

[2017-06-09 05:56] livarcocc commented on #6492
I believe this has been fixed now that we inserted an SDK with the fix. Please, re-activate if this is still happening.

[2017-06-09 05:56] #6492 closed

[2017-06-09 08:51] shimingsg opened #6811 "can't install package via apt-get on ubuntu server 14.04"
1. Have a clean machine from official ubuntu iso/ Azure VM
2. Run following command, to add our source
- sudo sh -c 'echo "deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/dotnet/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
- sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
- sudo apt-get update
3. apt-cache search dotnet-sdk | grep 2.0.0 to list availa

[2017-06-09 08:55] lampersky opened #6812 "dotnet publish won't embed edmx resources"
## Steps to reproduce

1. Create new ASP.NET Core Web Application (.NET Framework),
2. Add new Project to solution (Visual C# > Windows Classic Desktop) and select Class Library (.NET Framework),
3. Add EntityFramework 6.1.3 as a reference to previously added class library,
4. Add new Item to class library (Visual C# Items > Data > ADO.NET Entity Data Model),
5. Choose Model Contents -> EF Designe

[2017-06-09 10:21] wklm opened #6813 "Unable to create netcore2 F# project"
## Steps to reproduce

## Expected  behavior
Create a netcore2 project with F#

## Actual behavior
[code]

## Environment data
docker dotnet:2-sdk image

[code]

[2017-06-09 10:44] pksorensen commented on #6716
I followed this: https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

and it gave `Segmentation fault` when running the hello world app

[2017-06-09 11:08] enricosada commented on #6813
@wklm MS is replacing `FSharp.NET.Sdk` and bundling needed files in default `Microsoft.NET.Sdk`.

See https://github.com/dotnet/netcorecli-fsc/issues/115 for more info.

So atm doesnt work with 2.0.0-preview1 because is going to be replaced soon.

[2017-06-09 12:38] tmds opened #6814 "DotNetCliToolReference gives non compatibility restore errors"
## Steps to reproduce

lib/lib.csproj
[code]
app/app.csproj
[code]
app/NuGet.Config
[code]
[code]
## Expected  behavior

The app should restore fine.

## Actual behavior

[code]

Note: Replacing DotNetCliToolReference with PackageReference causes the app to restore fine.

## Environment data

2.0.0-preview1-005977

[2017-06-09 13:09] enricosada commented on #6723
i can repro too

[2017-06-09 14:58] eerhardt commented on #6805
I haven't had a chance to debug the issue, but debugging it in my head, a problem I can think of is:

The v1.0 DependencyModel library that is used in 1.0 was shipped out of the dotnet/cli repo in the rel/1.0.0-preview2 branch.  That version of DependencyModel was never updated to support the `Path` property in the .deps.json file.

To workaround this you can either

1. set a property:

`RestoreLe

[2017-06-09 15:24] emgarten commented on #4214
Is there an ETA on when this might happen? Tools using NuGet libraries are seeing breaks whenever NuGet APIs change in the copy used by the CLI.

[2017-06-09 15:29] livarcocc commented on #6811
I believe this is a dup of https://github.com/dotnet/cli/issues/6796.

@wli3 can you confirm and close this one if that's the case?

[2017-06-09 15:31] livarcocc commented on #6813
@KevinRansom to confirm that this is done for preview2 and close this issue if that's the case.

[2017-06-09 15:33] livarcocc commented on #6814
This issue was moved to NuGet/Home#5380

[2017-06-09 15:33] #6814 closed

[2017-06-09 15:36] enricosada commented on #6813
I tried with `2.0.0-preview2-006391` and F# works.

@livarcocc i am just writing a PR to reeenable [EndToEnd test for F#](https://github.com/dotnet/cli/tree/release/2.0.0/test/EndToEnd) so is easier to be sure, can this be closed with that PR?

[2017-06-09 15:39] NinoFloris commented on #6813
When will preview 2 be released?

[2017-06-09 15:40] wli3 commented on #6811
We should test the latest package, the current one is dotnet-sdk-2.0.0-preview2-006394

The current _dotnet-sdk-2.0.0-preview2-006394_ and the dependency dotnet-runtime-2.0.0-preview2-25407-01 is in the feed (https://github.com/dotnet/core-setup/issues/2657 might already manually pushed).

@livarcocc Majority old packages in the "daily" feed is in the similar broken state, wrong name or missing de

[2017-06-09 15:40] #6811 closed

[2017-06-09 15:45] NinoFloris opened #6815 "How to suppress the initial "populate your local package cache" restore"
We are running the dotnet docker containers (https://github.com/dotnet/dotnet-docker) on http://www.wercker.com/ where we can cache the packages to the cache that lives across build runs.

We set our package path to this folder via the --packages switch

Problem is that it seems dotnet restore stores the fact it has or has not done this initial restore once already in a different location from the

[2017-06-09 15:59] livarcocc commented on #6815
There is an environment variable that you can set that will prevent dotnet from running the first run experience: DOTNET_SKIP_FIRST_TIME_EXPERIENCE. Just set it to true.

[2017-06-09 16:01] livarcocc commented on #6813
@enricosada F# tests have already been re-enabled in the CLI.

[2017-06-09 16:13] NinoFloris commented on #6815
Thanks!

[2017-06-09 16:14] #6815 closed

[2017-06-09 16:16] enricosada commented on #6813
@livarcocc sorry i cannot find these. where?
i see are skipped for F# and `dotnet new` in https://github.com/dotnet/cli/blob/07b93e9d7cd0901edc391d923de7682915c0fe8e/test/dotnet-new.Tests/GivenThatIWantANewAppWithSpecifiedType.cs#L40-L45

Is `release/2.0.0` the right branch to use for next?

[2017-06-09 16:37] johnbeisner commented on #6709
This bit of code lives in the method 'get_distro_specific_os_name' which is used to construct legacy type URLs to blob storage. All of the legacy type URLs to blob storage for Linux are distribution specific and **require a version**. Moreover, the portable Linux package [RID linux-x64] is not available in legacy downloads. This change will not modify downloads.

In my opinion, the script should m

[2017-06-09 16:43] melzoghbi commented on #6716
.NET core is not supported on ARMv6 which is on Pi Zero. The minimum requirement is ARMv7 for .net core to run on pi devices. So i switched to Python :)

[2017-06-09 16:52] johnbeisner opened #6817 "If the Legacy URL construction fails, omit it gracefully"
The method 'get_distro_specific_os_name' is used to construct legacy type URLs to blob storage. If a Linux variant does not have a version, the script errors-out: "Error: OS name could not be detected: xxxxx" even though we have a primary download URL.

From: https://github.com/dotnet/cli/pull/6708
This bit of code lives in the method 'get_distro_specific_os_name' which is used to construct legacy

[2017-06-09 17:33] nguerrera commented on #2983
This has been fixed in the csproj tooling as of https://github.com/dotnet/sdk/pull/1224.

[2017-06-09 17:33] #2983 closed

[2017-06-09 17:37] nguerrera commented on #4977
Specifc issue mentioned here are fixed by by #5509. We will be implementing the override and running unit tests on non-English, which would catch other issues like this.

[2017-06-09 17:37] #4977 closed

[2017-06-09 17:53] pksorensen commented on #6716
Ye, i also have dropped dotnet core again and solved my problem in c++. Hope that we one day can use pi zero.

[2017-06-09 19:26] jhudsoncedaron commented on #5144
1) Running dotnet restore is mandatory or it won't work. VS's "restoring packages" somehow doesn't make it work.
2) The error message is pretty useless. It doesn't even flag the right project but always the last no-link project on the list.

[2017-06-09 19:38] avikenjale opened #6821 "ProjectReference Version number issue (Visual Studio 2017 Community)"
**Domain.csproj** _(potable)_ [Targetting shown below]

![image](https://user-images.githubusercontent.com/6217482/26986023-dd8ddd9a-4d13-11e7-9743-1ac1c8dec513.png)

**Business.csproj** _(.net core class library)_
[code]
**Business.Tests.csproj** _(.net core class library)_
[code]

**WebApi.csproj**  _(asp.net core web api)_
[code]

Getting following errors (both Business & webapi and respective

[2017-06-09 20:45] livarcocc commented on #6813
@enricosada Yes, https://github.com/dotnet/cli/blob/release/2.0.0/test/dotnet-new.Tests/GivenThatIWantANewAppWithSpecifiedType.cs#L29.

[2017-06-09 21:10] enricosada commented on #6813
Ah yes, that if was evaluated to false, thx @livarcocc

[2017-06-09 22:29] livarcocc commented on #6813
Seems like we can close this issue, since this is now support in preview2, being developed out of the release/2.0.0 branch.

[2017-06-09 22:29] #6813 closed

[2017-06-09 22:30] livarcocc commented on #6737
@dsplaisted I think this is now done, correct?

[2017-06-09 23:36] eerhardt commented on #4214
That's going to happen regardless right?  If 2 separate tasks have a dependency on different versions of NuGet, and both NuGet assemblies have the same AssemblyVersion, and there is a breaking change between versions, you will have the same problem.

Do the different NuGet versions have the same AssemblyVersion?

Another thought/option is to not have ABI breaking changes between versions with the

[2017-06-10 11:42] OnurGumus opened #6826 "NullReferenceException when dotnet remove package ..."
This is what I get when I try to remove a package:

[code]

## Environment data
PS C:\Users\onur> dotnet --info
.NET Command Line Tools (2.0.0-preview1-005977)

Product Information:
 Version:            2.0.0-preview1-005977
 Commit SHA-1 hash:  414cab8a0b

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15063
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Fil

[2017-06-10 13:18] julielerman opened #6827 "Here is what will happen if you grab 2.1.0 - preview1-006329 instead of 2.0.0 :"
_This evolved into a document ref for others who make the mistake I did, rather than an issue. So I've closed it._

## Steps to reproduce
Download install nightly build SDK (current is v 2.1.0 - preview1-006329)
dotnet --info

## Expected  behavior
expect dotnet info to say something about v 2.1.0 - preview1 -006329

## Actual behavior
CLI Tools says: 2.0.0-preview2-006127)
Microsoft .NET Core Sha

[2017-06-11 07:17] HelloKitty commented on #5144
If you guys changed the dependencies' target standard, like from netstandard1.5 to netstandard1.0, you will have to remove the hintpath in the target project's .csproj.

For example ```<HintPath>..\FreecraftCore.Serializer.Metadata\bin\Debug\netstandard1.5\FreecraftCore.Serializer.Metadata.dll</HintPath>```

Hints to netstandard1.5 directory so we need to remove the hint path manually by opening u

[2017-06-11 10:09] danielbsig commented on #6592
I also experienced this. I'm on 10.11.6 as well. The problem is that my regular 1.0 install is now broken, when I try to invoke the dotnet command I get this error:

[code]

Any idea how to remove the preview completely?

[2017-06-11 12:56] #6827 closed

[2017-06-11 14:05] martincostello opened #6828 "dotnet restore fails on Windows with .NET Core 2.0-preview1-005977"
## Steps to reproduce

Clone the `DotNet-Core-2.0` branch of https://github.com/martincostello/website.git (see martincostello/website#194).

## Expected  behavior

`dotnet restore` completes successfully, after which the build and tests succeed.

## Actual behavior

On Windows `dotnet restore` fails (see AppVeyor build [ere](https://ci.appveyor.com/project/martincostello/website/build/1.0.365#L10

[2017-06-11 18:32] anjdreas commented on #6267
Can I specify the project in order to have multiple projects in the same dir?
I have a dir with two test projects (to test same source with two different conditional compilation symbols).

Something like this:
`dotnet xunit TestProject.NetCore.csproj`
`dotnet xunit TestProject.WindowRuntimeComponent.csproj`

[2017-06-11 19:07] onovotny opened #6829 "Preview 2 regression: UWP target not restoring"
## Steps to reproduce
Try to build in VS 2017 15.3 with preview2 and today's nightly .NET Core 2 tooling:

Clone https://github.com/Reactive-Extensions/Rx.NET
checkout develop
Open Rx.NET/Source/System.Reactive.sln

This worked with the .NET Core 2 preview 1 tooling.

## Expected  behavior
Restore and build should work

## Actual behavior
[code]

Also, in another project in the solution, I see:

[

[2017-06-11 19:29] #6829 closed

[2017-06-12 01:52] livarcocc commented on #6828
This issue was moved to NuGet/Home#5386

[2017-06-12 01:52] #6828 closed

[2017-06-12 01:57] livarcocc commented on #6826
Can you tell us a bit more about how to repro this issue? What are the contents of the HelloWorldLib folder? do you have a project there? Is it an SDK based project? Can you share it with us?

[2017-06-12 04:03] richlander opened #6831 "Make reference to `dotnet restore`"
Type: `dotnet run`

I see:
[code]

The reference to `NuGet package restore` should be to `dotnet restore`. The error message should bias towards instructive as opposed to descriptive.

[2017-06-12 07:55] Petermarcu opened #6835 "dotnet sln doesn't give good error message"
## Steps to reproduce
dotnet sln

## Expected  behavior
Usage information is displayed

## Actual behavior
"Required command was not provided."

## Environment data
`dotnet --info` output:

Product Information:
 Version:            2.0.0-preview1-005977
 Commit SHA-1 hash:  414cab8a0b

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64

[2017-06-12 09:58] Remleo opened #6836 "global.json does not affect dotnet version"
## Steps to reproduce
1. Create new folder
2. Create global.json file with

[code]
3. run `dotnet --info` in this folder

## Expected  behavior
`1.0.4`

## Actual behavior
`2.0.0-preview2-006215`

## Environment data
`dotnet --info` output:

[code]

![2017-06-12_12-43-10](https://user-images.githubusercontent.com/10843339/27028838-c43eb406-4f6e-11e7-9b7b-e972965db1ff.png)

[2017-06-12 10:18] Remleo commented on #6836
If copy the directory `1.0.4` from `c:\Program Files\dotnet\sdk\` to `c:\Users\admin\.dotnet\x64\sdk\` it wokrs
`dotnet --info` output:
[code]

But the SDK installer is installing files to the `c:\Program Files\dotnet\sdk\`

[2017-06-12 10:40] Remleo commented on #6836
Is it normal that  `Base Path` was changed from `c:\Program Files\dotnet\sdk\` `C:\Users\admin\.dotnet\x64\sdk\1.0.4`?

[2017-06-12 10:49] dasMulli commented on #6836
@Remleo have you built any asp.net core projects from source? their build scripts create an installation there AFAIK.. you might want to check your system's PATH environment variable.

[2017-06-12 11:16] Remleo commented on #6836
@dasMulli Yes! I have run build-script for IdentitySamples

My PATH enveronment variable is:
[code]

There is `C:\Program Files\dotnet\`.

Can you advise how to change back the `Base path` for `Runtime Environment` to `c:\Program Files\dotnet\`?

[2017-06-12 12:18] dasMulli commented on #6836
The base path is just where the `dotnet.exe` muxer is. If your user's and machine's `PATH` settings don't contain the `%USERPROFILE%\.dotnet` folder then i think you should be fine in a new console window.. if not, then it might be a side effect of https://github.com/dotnet/core-setup/issues/2624 and should be fixed in newer builds.. (=> just delete the `%USERPROFILE%\.dotnet` folder if you don't

[2017-06-12 12:46] richlander opened #6837 "Implement app.config pattern"
.NET Framework projects in Visual Studio include a pattern where app.config files get renamed upon build to the correct exe name. If you have an sdk-style project that targets and/or cross-compiles to .NET Framework, you need to implement this pattern manually (see example below).

[code]

[2017-06-12 13:03] spboyer opened #6838 "Add tab completion for fish-shell"
Docs: https://fishshell.com/docs/current/index.html#completion

Awesome support for current Powershell, bash and zsh. (https://github.com/dotnet/cli/blob/master/Documentation/general/tab-completion.md)

Need support for fish-shell. http://fishshell.com

[2017-06-12 15:13] jhudsoncedaron commented on #5144
@HelloKitty : The case I found had zilch-all to do with HintPath; there was no HintPath in the .csproj file.

[2017-06-12 16:45] livarcocc commented on #6835
This is what I see in preview2:

[code]

[2017-06-12 17:35] johnbeisner opened #6840 "Channel updates for blob storage downloads - Runtime/SDK"
Manually create channels at blob storage:
LTS
Current
1.0
1.1   [Runtime only]
2.0

Update install scripts' default channel to "LTS"

[2017-06-12 19:39] Petermarcu commented on #6835
I'm looking to verify on my machine but I'm an hour away from finishing the download of the tar.gz :(

[2017-06-12 21:41] wli3 opened #6841 "Do not run test on VSTS build"
The only job of VSTS build should be building packages. The problem is the E2E post packing smoke test requires functional tests' "TestProjects". Need to invoke the same task before running smoke test

[2017-06-12 22:00] NinoFloris opened #6842 "How to use SOS with lldb under OSX"
I've tried to follow the loosely translated equivalent of the linux steps but trying do `plugin load libsos.dylib` gives an lldb error of `error: plug-in is missing the required initialization: lldb::PluginInitialize(lldb::SBDebugger)`

How to proceed?

[2017-06-12 22:03] NinoFloris commented on #6842
@gkhanna79 @piotrpMSFT Would you perhaps have experience with this for OSX?

[2017-06-12 22:50] mikeharder opened #6843 "Publish and run fail on app with project reference to netstandard2.0 class library"
In CLI 2.0.0-preview2-006391 or later, `dotnet publish -f` fails on an app with a project reference to a netstandard2.0 class library.

# Repro Steps
1. `git clone https://github.com/mikeharder/NetCoreProjectReference`
2. `cd NetCoreProjectReferece\console_netcoreapp20_net46`
3. `dotnet restore`
4. `dotnet publish -f netcoreapp2.0`

[code]

5. `dotnet publish -f net461`

[code]

6. Above publish c

[2017-06-12 22:53] gkhanna79 commented on #6842
@mikem8361 @lt72 should be able to help.

[2017-06-12 22:58] mikem8361 commented on #6842
"libsos.dylib" isn't the lldb plugin to load; it is loaded by the lldb plugin (libsosplugin.dylib). For OS X because of signing issues, etc. you have to first build a version of lldb locally and then build the libsosplugin in the coreclr repo against that.

Some directions:

https://github.com/mikem8361/coreclr/blob/master/Documentation/building/buildinglldb.md

[2017-06-12 23:42] NinoFloris commented on #6842
Noess, I was hoping to avoid all these native build shenanigans. Is that really the only way? Could this not be made a bit easier? I reckon there are quite a few dotnet core people that work on OSX.

Would a brew formula be an option to abstract the hard and error prone work to build and setup SOS?

(I could devote some of my time to that, if that sounds like something that could work)

[2017-06-13 00:07] Petermarcu commented on #6835
Looks like its fixed in preview2.

[2017-06-13 00:07] #6835 closed

[2017-06-13 00:25] livarcocc commented on #6843
We have a proposal to fix this and I will try it out tonight.

The proposal is to not pass forward to implicit restore the -f/--framework parameter.

[2017-06-13 08:11] dasMulli commented on #6550
@livarcocc this happens when you use the 2.0.0-* versions for playing around and then using `1.0.4` again through a `global.json` file (and nuking the nuget cache to trigger first run experience). I think the problem is that there is no public / "released" build of `1.0.*` that contains #6633 yet.

[2017-06-13 13:18] szalapski commented on #4874
MNF, that seems to be about Visual Studio 2017, not about .NET Standard at all.

[2017-06-13 13:19] piolo94 opened #6848 "VisualStudio 2017 preview 2 doesn't load Unit tests with .NET Core 2.0.0-preview2-006391"
In the last two days I've had some trouble with Unit Testing in VS 2017 preview 2. Yesterday I've installed the last version of .NET core, I've updated every package inside my project and, since then, I haven't been able to see not a single test in VisualStudio's Test Explorer . If run the command "dotnet test" in the PowerShell everything works and I receive the information of test's execution. W

[2017-06-13 13:33] nishant261989 opened #6849 "How to install .net core through powershell script?"
The project was using DNVM powershell script to install it on TFS but now as it got obsolete and the url [https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.ps1](https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.ps1) returned as 404 not found. Now the need is to migrate it from DNVM to .Net Core and I was unable to find the exact solution how I can write a powershell script

[2017-06-13 13:36] ppekrol opened #6850 "dotnet build and analyzers"
Hi,

## Steps to reproduce

I have following project with analyzers that target netstandard1.3
https://github.com/ravendb/raven.codeanalysis

The issue I have is that when using `dotnet build` I'm getting warning as follows:

[code]

 but from VS2017 everything is working as expected.

I've created a sample project that demonstrates the issue
https://github.com/ppekrol/AnalyzerIssue

Just do:
`dot

[2017-06-13 13:58] omajid commented on #6849
Have you seen https://github.com/dotnet/cli/blob/master/scripts/obtain/dotnet-install.ps1 ?

[2017-06-13 14:28] #6836 closed

[2017-06-13 15:02] GuardRex commented on #6849
The current doc covering it is at: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script

The 2.0 doc (under development) is at: https://github.com/GuardRex/docs-1/blob/5fb54f42f96bd20e44893f2b24cad31e39d659a6/docs/core/preview/tools/dotnet-install-script.md

[2017-06-13 15:07] GuardRex commented on #4874
The general porting docs are at: [Porting to .NET Core from .NET Framework](https://docs.microsoft.com/dotnet/core/porting/). There are a couple of sub-topics under that which will hopefully be of assistance.

[2017-06-13 17:08] livarcocc commented on #6848
This issue was moved to Microsoft/vstest#858

[2017-06-13 17:08] #6848 closed

[2017-06-13 17:09] mikeharder commented on #6843
Issue also impacts `dotnet run`.

[2017-06-13 18:36] wli3 opened #6851 "Produce RPM package for RHEL"
We should have parity with Debian, but does not publish to the feed

[2017-06-13 18:48] #6840 closed

[2017-06-13 18:49] johnbeisner commented on #6817
PR: https://github.com/dotnet/cli/pull/6839

[2017-06-13 18:49] #6817 closed

[2017-06-13 20:04] fir3pho3nixx opened #6852 "Any chance of dotnet update?"
## Steps to reproduce
None

## Expected  behavior
Updates the dotnet cli easily. You know, just like nuget :)

## Actual behavior
None

## Environment data
`dotnet --info` output:
Null

[2017-06-13 20:28] wli3 opened #6854 "Debian VSTS failure"
With error
[code]

[2017-06-13 20:29] jhgoodwin opened #6855 "dotnet test with TestRunParameters defined should pass parameters to the test runner"
## Overview
I am trying to get `dotnet test` to pass command line parameters into my unit tests so that I can keep from using settings files.

## Steps to reproduce
[code]

// In the normal Test Class
[code]

[code]

// Command line to invoke:
`dotnet test -v d --diag C:\Temp\testoutput.txt -- TestRunParameters.Foo=Bar
`

## Expected  behavior in console
[code]

## Actual behavior in console
[code

[2017-06-13 20:53] fir3pho3nixx opened #6856 "UX: Simple use cases are failing for testing in multi-targetting projects on VS2017 for win10-x64"
## Steps to reproduce

Please clone https://github.com/fir3pho3nixx/nunit-adapter-vs-xunit
Then run: `build.bat`

## Expected  behavior

It does *NOT* kick out: `Make sure test project has a nuget reference of package "microsoft.testplatform.testhost"`. The real problem here would be handy.

This happens for both NUnit and XUnit. You can observe this by commenting out this [line](https://github.co

[2017-06-13 21:03] dsplaisted commented on #6856
What is the real problem?  Or do you not know?

[2017-06-13 21:08] fir3pho3nixx commented on #6856
I keep running into this, I am grumpy and tired right now so going to bed but I am sure with more digging I will find the answer. Please look at the code sample ... it is incredibly simple. Night.

[2017-06-13 22:15] livarcocc commented on #6850
@tmat can you take a look here?

[2017-06-13 22:16] livarcocc commented on #6855
This issue was moved to Microsoft/vstest#860

[2017-06-13 22:16] #6855 closed

[2017-06-13 22:16] livarcocc commented on #6852
cc @richlander

[2017-06-13 22:17] #6851 closed

[2017-06-13 22:18] livarcocc commented on #6849
cc @johnbeisner

[2017-06-13 22:21] #4866 closed

[2017-06-13 22:22] #6737 closed

[2017-06-13 22:25] livarcocc commented on #6649
I believe we have this fixed now. If this is still an issue, please, re-activate.

[2017-06-13 22:25] #6649 closed

[2017-06-13 22:26] livarcocc commented on #6139
We have been running our own tests on this and they have been passing. If this is still an issue for you, please re-activate and provide additional information.

[2017-06-13 22:26] #6139 closed

[2017-06-13 22:35] wli3 commented on #6796
Tested on 16.04, I can install it via apt-get now
![image](https://user-images.githubusercontent.com/6993335/27107628-f1133b02-504d-11e7-9f9b-97bb5942c3cc.png)

[2017-06-13 22:35] #6796 closed

[2017-06-13 23:45] tmat commented on #6850
@mavasani ?

[2017-06-13 23:58] mikem8361 commented on #6842
There are two parts of SOS on Linux and OSX: the lldb plugin (libsosplugin.dylib) and the actual SOS code (libsos.dylib).  The lldb plugin needs to be built against the version lldb you are going to use. The libsos.dylib version needs to match the coreclr you are running. The problem is that the includes/libs (LLDB.h, etc. and liblldb.dylib) needed to build the plugin for the default lldb (lldb-37

[2017-06-14 00:54] NinoFloris opened #6858 "Latest bits on OSX crash for dotnet test"
## Steps to reproduce
Run `dotnet test` on a project, it will crash with
[code]

## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.0-preview1-006329)

Product Information:
 Version:            2.1.0-preview1-006329
 Commit SHA-1 hash:  defa3c3973

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /u

[2017-06-14 01:19] NinoFloris commented on #6842
I think they are actually building from this repo https://github.com/apple/swift-lldb, and it is quite likely to be the build tagged with https://github.com/apple/swift-lldb/releases/tag/swift-3.1-RELEASE

As my terminal reports the exact string format as changed in that commit

About brew and the cert, letting the formula build it all locally is already miles better than having to do all that man

[2017-06-14 03:16] #6854 closed

[2017-06-14 06:06] #6843 closed

[2017-06-14 06:06] #6738 closed

[2017-06-14 09:13] dasMulli commented on #6856
None of these test projects have a package reference to `Microsoft.NET.Test.Sdk` so `dotnet test` isn't going to work.

[code]

[2017-06-14 10:25] lvicentesanchez opened #6862 "Error while restoring F# project on 2.0.0-preview2"
## Steps to reproduce
Using the sdk docker image `microsoft/dotnet-nightly:2.0.0-preview2-sdk-jessie` run `dotnet new console -lang f# -n hello`

## Expected  behavior

The project should be created and restored properly

## Actual behavior

[code]

Content of the `/usr/share/dotnet/sdk/2.0.0-preview2-006215/FSharp` folder:

[code]

## Environment data
`dotnet --info` output:

[code]

[2017-06-14 11:51] fir3pho3nixx commented on #6856
@dasMulli - thanks. If this fixes it that is great.

I still believe the error message is absolutely farcical. It bum steers you to a NuGet that does not have this as a dependency. The reason I raised this was in hope that the error report could be made slightly more intelligable hence why I prefix the issue title with UX.

[2017-06-14 12:23] dasMulli commented on #6856
I also do agree that the error message should be actionable here (sth like "Make sure your project references the Microsoft.NET.Test.Sdk NuGet package."), which would be an issue for the https://github.com/microsoft/vstest repo owning this code. (care to move?)

[2017-06-14 13:09] AnthonyLloyd opened #6863 "F# classlib MissingMethodException in 2.0.0-preview2-006391"
## Steps to reproduce

1. Create a F# classlib referenced by an F# console project
2. Code in the classlib builds fine but throws a MissingMethodException when run

An example I'm working on:
https://github.com/AnthonyLloyd/BenchmarksGame/tree/DotNetCore2preview2Bug

`dotnet build` succeeds
`dotnet run --project .\tester\tester.fsproj` fails

## Expected  behavior

The code builds so I wouldn't ex

[2017-06-14 15:00] fir3pho3nixx commented on #6856
I will move it, many thanks.

[2017-06-14 15:00] #6856 closed

[2017-06-14 15:17] livarcocc commented on #6863
@KevinRansom @cartermp

[2017-06-14 15:19] livarcocc commented on #6862
@KevinRansom

[2017-06-14 15:54] tarekgh opened #6866 "ResourceManager.GetString doesn't return embedded text file on linux"
@Spongman commented on [Tue Jun 13 2017](https://github.com/dotnet/coreclr/issues/12262)

a (.csproj) project a with an embedded text file, added using the VS2017.2 project properties UI.

[ConsoleApp2.zip](https://github.com/dotnet/coreclr/files/1073187/ConsoleApp2.zip)

on windows, it works fine.

on linux, it just shows:
[code]

---

@danmosemsft commented on [Tue Jun 13 2017](https://github.co

[2017-06-14 15:59] cartermp commented on #6863
cc @dsyme as well.  @KevinRansom is out this week, so he may not be able to take a look at this.

[2017-06-14 16:47] ardalis opened #6868 "dotnet test should not build if project already built"
## Steps to reproduce
Run dotnet test. It will build.
Run dotnet test again. It will build. It doesn't need to.

## Expected  behavior
Run dotnet test. It will build (if necessary).
Run dotnet test. It will simply run tests.

## Actual behavior
See above.

## Environment data
`dotnet --info` output:

[2017-06-14 17:36] livarcocc commented on #6868
This issue was moved to Microsoft/vstest#863

[2017-06-14 17:36] #6868 closed

[2017-06-14 18:20] OnurGumus commented on #6826
@livarcocc , I was trying F# getting started tutorial
https://docs.microsoft.com/en-us/dotnet/fsharp/tutorials/getting-started/getting-started-command-line
with 2.0 Preview 1 SDK.
With Preview 2 the issue does not happen. So I will close the issue.

[2017-06-14 18:20] #6826 closed

[2017-06-14 18:51] NTaylorMullen opened #6871 "dotnet test -f ... does not work"
## Steps to reproduce
- Clone https://github.com/aspnet/Razor
- cd test/Microsoft.AspNetCore.Mvc.Razor.Extensions.Test
- dotnet restore
- dotnet test -f netcoreapp2.0

## Expected  behavior
- Tests are run for netcoreapp2.0

## Actual behavior
![image](https://user-images.githubusercontent.com/2008729/27149130-747d681a-50f7-11e7-81a6-a41794451442.png)

## Extra
This works if you just do `dotnet te

[2017-06-14 19:11] ellismg commented on #6862
Note the casing of `.Targets` in the Microsoft.FSharp.Targets filename, vs what the import statement says.  On case specific file systems, this is going to be problematic.

[2017-06-14 19:29] fir3pho3nixx commented on #6856
@dasMulli - Created issue as promised. Thanks again 👍

[2017-06-14 19:38] rrelyea commented on #6871
believe this is related to the implicit restore. CLI is planning on not passing -f to implicit restore to fix. Once you use the CLI with that fix, should be fine.

can workaround by doing:
dotnet restore
dotnet test -norestore -f netcoreapp2.0

[2017-06-14 19:40] livarcocc commented on #6871
Rob is correct. Which version of the CLI are you using? I have merged a change last night that should address this.

[2017-06-14 19:43] Eilon commented on #6871
CLI 6443 per the screenshot. I think you're right and that doesn't have the `-f` fix thingy.

[2017-06-14 19:47] livarcocc commented on #6871
The fix is in 2.0.0-preview2-006449. Sorry, it was hard to see the version in the screenshot. We don't all have your sunglasses @Eilon.

[2017-06-14 20:39] mohamedmansour opened #6875 "dotnet publish does not respect PrepareForPublish target to issue a dotnet bundle cmd"
## Problem

I am trying to include `dotnet bundle` in my publish script. So when I deploy to Azure, it would deploy just the minified scripts. When I type `dotnet publish` it should publish all my `wwwroot` to the `bin\netcoreapp1.1\publish\wwwroot` which it does.  But `_CopyResolvedFilesToPublishAlways` doesn't respect my target to bundle everything.

My csproj is as follows:

[code]
I can verify

[2017-06-14 20:47] Eilon commented on #6871
Haha no worries, thanks! 😎

[2017-06-14 20:54] dasMulli commented on #6875
Does that also occur with a 2.0.0 preview CLI? Looks like a duplicate of https://github.com/aspnet/websdk/issues/114

[2017-06-14 21:28] halter73 commented on #6871
I saw this same issue running `dotnet build -f netcoreapp2.0` using 2.0.0-preview2-006391. I'll wait for the 6449 build to see if that fixes it.

[2017-06-14 22:04] mohamedmansour commented on #6875
@dasMulli  that seems the same problem. I will close this for now. Since I am using Visual Studio Online for the build system, they do not have 2.0 preview. And with the hack solution proposed there, I cannot do the following:

[code]

[2017-06-14 23:02] nguerrera commented on #5331
I think we should add the --no-build. I encountered an issue internally where the build portion of publish overwrote binaries that were signed in the build output directory with unsigned copies.

I worked around it with:

[code]
which is the same as the real `Publish, with PreventProjectReferencesFromBuilding;ResolveReferences replacing Build.

cc @jaredpar @agocke

[2017-06-14 23:05] jaredpar commented on #5331
Strongly agree.  Build is basically a composition of two operations: compile and deploy. Once I've compiled there is simply no need to re-compile when I want to deploy for a new platform. Compiling is just wasting CPU cycles and developer time at that point.

[2017-06-14 23:07] agocke commented on #5331
For the case where publish was overwriting binaries that had a separate post-build step applied: the incremental build is a perf optimization and shouldn't be relied on for semantic guarantees. so it should never be used as a solution to this problem.

[2017-06-14 23:10] nguerrera commented on #5331
The PublishWithoutBuilding above won't be materially faster than an up-to-date incremental build (compile step would no-op but we still need to resolve references in both cases), so it is really more about semantics than speed.

The fact that reference resolution can be slow is orthogonal and something that is being worked on. It will benefit both incremental builds and things that resolve but don

[2017-06-14 23:36] agocke commented on #5331
@nguerrera Not sure you can make that assertion without knowing the write speed of the user's output directory, which could theoretically be on a remote network share.

[2017-06-14 23:37] nguerrera commented on #5331
You mean read speed to determine what's up to date?

[2017-06-14 23:37] agocke commented on #5331
@nguerrera Yes :)

[2017-06-15 00:01] nguerrera commented on #5331
My assertion should have had more qualifications, but my main point was that you need the semantics of --no-build even more importantly than the speed.

[2017-06-15 00:41] livarcocc commented on #6871
@NTaylorMullen did the new build address your issue?

[2017-06-15 00:43] #6875 closed

[2017-06-15 01:01] livarcocc opened #6877 "Implement pay-for-play for localized CLI."
We need to produce two flavors of the CLI. Localized (with all satellite assemblies in it) and english only.

[2017-06-15 01:02] jaredpar commented on #5331
100% agree.

[2017-06-15 01:03] livarcocc opened #6878 "Turn off distro specific VSO builds"
We don't need them anymore.

We may have to update the publish target in the CLI as well, as it checks the legs that have finished successfully to update the version badge.

@johnbeisner can you look into this since you touched this code this week already?

[2017-06-15 05:08] livarcocc commented on #6850
This issue was moved to dotnet/roslyn#20233

[2017-06-15 05:08] #6850 closed

[2017-06-15 05:12] livarcocc commented on #6680
Closing this issue since this seems to have been resolved and we haven't had activity here in a while. Re-activate if that's not the case.

[2017-06-15 05:12] #6680 closed

[2017-06-15 05:14] livarcocc commented on #6862
I am surprised this is not causing CI to tail.

[2017-06-15 05:15] livarcocc commented on #6842
What is the CLI issue here? I will confess that I don't quite follow this thread. If this is not a CLI problem, and it does not look to be, I would like to close this issue.

[2017-06-15 05:19] livarcocc commented on #6537
Closing this issue since we haven't seen the crash in a while. We can re-activate if it happens again.

[2017-06-15 05:19] #6537 closed

[2017-06-15 05:21] vnd-edu opened #6883 "Need options for System information"
## Steps to reproduce
I am migrating Asp.net web application in .net core. i am not getting any api to find system information.

## Expected  behavior
in .net application i used System.management api to run query and get the all information.

## Actual behavior
how to get system information like processor id , system installed date and time?
Please help me out.
## Environment data
`dotnet --info`

[2017-06-15 05:27] livarcocc commented on #6883
This issue was moved to dotnet/corefx#21081

[2017-06-15 05:27] #6883 closed

[2017-06-15 05:28] mikem8361 commented on #6842
The coreclr issue is that the lldb part of the SOS isn't being provided for OS X for all the reason above. This makes it difficult to use lldb/SOS against a CLI/managed app on OS X.

[2017-06-15 06:26] livarcocc commented on #6842
Should this be moved to the coreclr repo then?

[2017-06-15 08:18] mikem8361 commented on #6842
Yes.

[2017-06-15 10:43] opless commented on #6178
In the community edition the sdk is:
"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Sdks\Microsoft.Docker.Sdk"

... and for 2.0.0-preview1-005977 on OSX you need to put the files here:
/usr/local/share/dotnet/sdk/2.0.0-preview1-005977/Sdks/

[2017-06-15 13:24] nguerrera commented on #6831
The error is coming from the SDK targets and can happen in non-CLI usage (VS, VS for Mac, desktop msbuild).

[2017-06-15 13:30] nguerrera commented on #6866
This issue was moved to Microsoft/msbuild#2221

[2017-06-15 13:30] #6866 closed

[2017-06-15 13:44] nguerrera commented on #6831
With latest bits, cli would have implicitly restored with these repro steps. The error will be much less prevalent.

[2017-06-15 16:15] #4850 closed

[2017-06-15 16:18] nguerrera opened #6887 "Ensure errors from resolver about mismatched .NET Core SDK versions are surfaced correctly in VS and desktop msbuild"
_From @srivatsn on June 15, 2017 15:52_

_From @onovotny on June 15, 2017 15:40_

Here's the scenario:

Web project that has a global.json with a pinned SDK version.

Executing an msbuild /pp yields some interesting results for where the SDK's are imported:

If the SDK version is 1.0.0-1.0.3 is:
The import of the Web SDK is from:
`C:\Program Files\dotnet\sdk\1.0.0\Sdks\Microsoft.NET.Sdk.Web\Sdk\Sd

[2017-06-15 16:18] nguerrera commented on #6887
_From @srivatsn on June 15, 2017 15:53_

Tagging @nguerrera @livarcocc

[2017-06-15 16:18] nguerrera commented on #6887
_From @srivatsn on June 15, 2017 15:53_

Since the 1.0.0 web SDK imports the Web.ProjectSystem.SDK using MSBuildSdksPath and that's not in VS anymore, web projects are fairly broken.

[2017-06-15 16:23] livarcocc commented on #6887
We should make sure that if the min version is 1.0.4, if it will work with the 1.1.0 version that will ship with VS Preview3.

[2017-06-15 16:30] nguerrera commented on #6887
This is one of the aspects of dotnet/cli#6585 that was postponed.

Specifically, this part of the proposal:

Add a manifest file next to the resolver that indicates a global minimum sdk version to the resolver and use the greater version of the global minimum and the import-specific minimum. (See #6555.)
A cheap fix for 15.3 would be to have an implicit global minimum of 1.0.4 always. There is no

[2017-06-15 16:35] srivatsn commented on #6887
If we had taken some dependency on the 1.1 SDK from the project system. I don't think we have though - the nuget errors work is the only one that comes to mind and even there if the errors are not raised from the assets file, then NuGet should fall back to its old way of doing things.

[2017-06-15 16:37] nguerrera commented on #6887
Oh, I see. I read that backwards.

[2017-06-15 16:38] srivatsn commented on #6887
Tagging @richaverma1 to note this scenario for validation.

[2017-06-15 16:43] NTaylorMullen commented on #6871
Verified this works now with build 6461. Thanks all!

[2017-06-15 16:43] #6871 closed

[2017-06-15 16:45] livarcocc commented on #6887
@MattGertz FYI, this will be a resolver change that will require an insertion into VS.

[2017-06-15 17:00] livarcocc commented on #6849
Closing this issue since I believe the question has been answered. If there is anything else that you need to know or that's blocking you, please re-activate or file a new issue.

[2017-06-15 17:00] #6849 closed

[2017-06-15 17:00] livarcocc commented on #6842
This issue was moved to dotnet/coreclr#12301

[2017-06-15 17:00] #6842 closed

[2017-06-15 17:03] livarcocc commented on #6805
@Eilon @mlorbetske To see if any of the alternatives above would work.

[2017-06-15 18:32] wli3 opened #6891 "Produce badge for VSTS"
And also turn off non artifact producing VSTS build VM.

All artifact needs to be checked before moving to latest

[2017-06-15 22:48] livarcocc commented on #6862
@cartermp Who can look at this in @KevinRansom's absence?

[2017-06-15 23:45] anoordende opened #6894 "dotnet-restore should accept --configuration"
## Steps to reproduce
Build a project that selects packages based on configuration:

[code]

## Expected  behavior
When using dotnet restore with --configuration specified, it restores the correct package, especially now MSBuild does support this (and so does VS2017)

## Actual behavior
It doesn't, because the --configuration flag cannot be specified.

## Environment data
[code]

[2017-06-15 23:55] leppie opened #6895 "Fix version/verbosity confusion."
[code]

[code]
I dont care the argue, pick one, stick to it.

[2017-06-15 23:59] davkean opened #6896 "Uninstalling Visual Studio, should uninstall any .NET Core SDK that it installed"
I'm forever cleaning up SDK installs in my add/remove, despite only ever installing/upgrading VS. This goes against the goals of the new Willow installer.

Uninstalling VS should uninstall a .NET Core SDK if no other component installed it. Other MSIs in VS uses a ref-count system to implement this - please make the .NET SDK do the same.

[2017-06-15 23:59] nguerrera opened #6897 "Two version of CLI 1.0.4 installed per add/remove, 1 on disk"
![image](https://user-images.githubusercontent.com/75470/27206369-fb82f2ea-51eb-11e7-977a-5e3b4f82de55.png)

[code]

[2017-06-16 00:08] nguerrera opened #6898 "Uninstall gives me welcome message and tells me how to disable telemetry"
This is running an uninstall, not an install:

![image](https://user-images.githubusercontent.com/75470/27206582-39067942-51ed-11e7-8cbd-597129076df6.png)

[2017-06-16 00:14] cartermp commented on #6862
@brettfo is looking at this in his absence.  Though I thought @KevinRansom had identified issues with casing/spelling and fixed them...

[2017-06-16 00:19] nguerrera opened #6899 "Uninstalling all versions of .NET Core SDK and runtime leaves files behind"
I've uninstalled everything and still have the following on disk:

[code]

I know these are shared between versions, but is there no ref counting system to remove them when the last installation using them is removed?

[2017-06-16 01:33] livarcocc commented on #6899
Please, move this to core-setup. These are all host files.

[2017-06-16 01:34] livarcocc commented on #6898
Yes. @wli3 This is the issue that I talked to you a while ago.

[2017-06-16 01:35] livarcocc commented on #6897
This I have never seen before. Any idea how you got yourself in this situation?

[2017-06-16 01:35] nguerrera commented on #6899
This issue was moved to dotnet/core-setup#2697

[2017-06-16 01:35] #6899 closed

[2017-06-16 01:37] livarcocc commented on #6896
Just to flush things out a bit here, we should ONLY do this when that SDK was indeed installed by VS and only that specific version. What I mean is, if VS wants to install 1.0.4 and it is already installed on the box (and VS skips this install), when uninstalling, it should not remove that SDK.

Still, I would argue that we SHOULD not remove the SDK and if the user wants to do so, he should do it

[2017-06-16 01:39] davkean commented on #6896
All other MSI use a ref-counting. It doesn't matter who installed it or when, the last one to uninstall it installs it.

The SDK is not the only component that works independently of VS.

[2017-06-16 01:39] nguerrera commented on #6896
This is what ref-counting is supposed to do. The user install would be ref count 1, subsequent VS 2, VS uninstall drops to 1, leaving it installed.

I don't think the fact that it works independently from VS should matter. Chances are high that user who uninstalls VS wants to uninstall everything it installed (unless something bumped ref count). User can always install CLI again if they want. I th

[2017-06-16 01:41] livarcocc commented on #6895
This is what I see now:

[code]
It is usually helpful to add information about which CLI you are using when you file an issue and it is in the repo's guideline on filing issues.

Also, please, let's keep the tone civil.

[2017-06-16 01:42] livarcocc commented on #6894
This issue was moved to NuGet/Home#5421

[2017-06-16 01:42] #6894 closed

[2017-06-16 01:50] livarcocc commented on #6896
@davkean can you give me an example of other components in VS that behave like this? It would help with the code.

@nguerrera as long as we treat the user installation as a ref-count, I think we can discuss this.

cc @richlander

[2017-06-16 01:55] davkean commented on #6896
The portable library targeting pack is an example of this, but basically anything that is installed outside of the VS directory is in this bucket, as it becomes shared with multiple VS versions. Please reach out to the Willow folks on this - my knowledge about ref-counting is based on the previous installer, and it may have changed in the Willow world.

[2017-06-16 03:09] wli3 commented on #6898
It was fixed in this pull request.
https://github.com/dotnet/cli/pull/6567

Btw, there is another new UI change, here is the pull request, https://github.com/dotnet/cli/pull/6900

[2017-06-16 03:09] #6898 closed

[2017-06-16 08:58] enricosada commented on #6863
@livarcocc is possibile to add an `fsharp` label to these issues? i'd like to see what's missing/bugged in f# for `2.0.0`
Is a bit annoying to find these with search (github ignore the `#` pratically..)

[2017-06-16 11:23] CoskunSunali opened #6904 "Packing a web application"
The scenario I am falling into requires me to develop plugins for a .NET Core web app. The plugins are standard NuGet packages. Some of the plugins require plenty of web related stuff and thus the plugin project's SDK is of type `Microsoft.NET.Sdk.Web`. It is also required to use the Web SDK in order to take advantage of Razor related stuff in Visual Studio (highlighting, intellisense, etc). - The

[2017-06-16 12:24] atanasa commented on #5144
I am hitting this with a directly referenced project and no HintPath. I am running VS 2017 (15.2)

Project A is for netstandard1.0
Project B is for netstandard2.0 and net45
Project B references project A

Doing a manual `dotnet restore` seems to fix it.

[2017-06-16 15:55] wli3 opened #6907 "Fix daily apt-get feed"
![image](https://user-images.githubusercontent.com/6993335/27234372-a4c941bc-5271-11e7-9e3a-ee1237e34aa5.png)

publish failure in azure-apt-cat queue, as missing dotnet-runtime-2.0.0-preview2-25407-01, but this time is our own package dotnet-sdk instead of our dependency. The root cause has not been solved yet.

[2017-06-16 16:05] dsyme commented on #6863
@enricosada @cartermp (Though I do have ``tester.runtimeconfig.dev.json`` which indicates where fsharp.core lives, so that's probably a red herring)

[2017-06-16 16:07] dsyme commented on #6863
@cartermp @KevinRansom @enricosada Ugh, I see this ``valuetype [netstandard]System.Double`` in the compiled binary - this looks wrong.

[code]
and
[code]

[2017-06-16 16:10] dsyme commented on #6863
That is, I would expect simple "double" in these cases.  It looks at first sight like the F# compiler hasn't been correctly adjusted to emit primitive types correctly in the presence of the  "netstandard" library.  I don't know any of the details of this and I don't really understand what's going on

[2017-06-16 16:16] dsyme commented on #6863
OK, so .NET Core 2.0 adds this new DLL ``netstandard.dll``

    packages\netstandard.library\2.0.0-preview2-2540101\build\netstandard2.0\ref\netstandard.dll

This seems to be yet another "mscorlib.dll" and "System.Runtime.dll" but I don't yet understand the rules concerning this.  I'm assuming the F# compiler just needs to be updated to understand this special DLL, though I'm unclear about if/how

[2017-06-16 16:23] CoskunSunali commented on #6904
@livarcocc Sorry for the wrong repository.

[2017-06-16 16:41] dsyme commented on #6863
Here is the full command line being used:
[code]

[2017-06-16 17:13] TOTBWF opened #6909 "Dotnet sln add fails to properly add F# project files on OSX"
## Steps to reproduce
[code]

## Expected  behavior
The project would be restored and built

## Actual behavior
error MSB4025: The project file could not be loaded. Could not find file '<PathToProject>/src/<ProjectName>.fsproj.metaproj'

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.4)
[code]

## Workarounds
In the solution file, replace the all backslashes in the path t

[2017-06-16 17:21] WernerMairl opened #6910 "xUnit Test-Discovery seems not be working with Preview 2 in VS 2017 Preview (1 and 2)"
Not sure where i should post this issue (xUnit, VisualStudio, Cli) => please move on the right place
please advice if i can provide more/other informations/traces

## Steps to reproduce
"Visual Studio Enterprise 2017 Preview (2) Version 15.3.0 Preview 2.0"
plus
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0-preview2/dotnet-sdk-latest-win-x64.exe
## Expected  behavior
Test Explore

[2017-06-16 17:40] enricosada commented on #6863
the `FSharp.Core` dll is never copied in output dir for build (works like that for all assemblies), that's why we pass `--nocopyfsharpcore` to fsc. List of assemblies is in the `.deps.json` file

the `FSharp.Core` is copied (again, with all deps) on `dotnet publish`

#### about this error

@dsyme i tried locally too, same repo. and i cannot repro the error.

[2017-06-16 17:41] dsyme commented on #6863
@enricosada @cartermp Please review the linked PR

@enricosada I'm surprised the error doesn't repro - it sure did for me.  I reduced the 5000000 to 5000 to make it show quickly.  Note you have to switch the ``DotNetCore2preview2Bug`` branch of the repo

[2017-06-16 17:42] dsyme commented on #6863
@enricosada Since this is high priority, to get correct codegen for .NET SDK 2.0 preview 2, could you possibly try the linked PR? I've got to go out now and haven't been able to try it manually as yet - I need to find the right way to use the freshly built bits

[2017-06-16 17:52] enricosada commented on #6863
@dsyme i'll try tonight.
btw i was in `master` branch, thx for hint.
but i cannot repro anyway, output is ok.

[2017-06-16 19:11] livarcocc commented on #6910
This issue was moved to Microsoft/vstest#871

[2017-06-16 19:11] #6910 closed

[2017-06-16 20:25] Jonathan34 opened #6911 "Error signing output with public key from file 'x.snk' -- Assembly signing not supported"
I am moving a .net full project to .net standard 2.0 with a.netcore 2.0 unit test projects.
They both use a snk to strongly sign the binaries.

[code]
When building the .net standard 2.0 project, i get:
[code]

Any idea?

## Environment data
`dotnet --info` output:
[code]

[2017-06-16 21:21] daddykotex commented on #2018
On Ubuntu 16.04, I had:
[code]

so I did:
[code]

[2017-06-16 21:56] ncave opened #6912 "F# Project Reference issue on netcore 2.0"
The following F# project works fine when TargetFramework is `netstandard1.6 / netcoreapp1.0`
but fails with `netstandard2.0 / netcoreapp2.0` (but same project works on 2.0 if --language is C#).

## Steps to reproduce

/test/lib/lib.fsproj:
[code]
/test/app/app.fsproj:
[code]
/test/lib/Library.fs:
[code]
/test/app/Program.fs:
[code]
## Expected  behavior
`Hello World from F#!`

## Actual behavior
[

[2017-06-16 22:16] ncave commented on #6912
@dsyme @KevinRansom @enricosada Is this the same as #6863 or is it just similar?

[2017-06-16 22:19] alfonsogarciacaro commented on #6705
Talked to @dsplaisted today about this. He recommended to set explicitly the minimum target framework patch version and rely on `prefercliruntime` only to allow runtimes with higher minor or patch versions. I think that makes sense so we can close this issue, but I would like to make a couple of questions to clarify.

- Does `prefercliruntime` only roll the tool forward then? In the issue linked o

[2017-06-16 22:26] enricosada commented on #6912
@ncave probably yes.

As a note, please use the `release/2.0.0` branch for `2.0`, that's the next version who will be released (`master` like your version, is `2.1.0`

[2017-06-16 22:28] ncave commented on #6912
@enricosada I tried release/2.0.0 before, same thing.

[2017-06-16 22:41] enricosada commented on #6909
dupe of https://github.com/dotnet/cli/issues/6723

[2017-06-16 23:01] enricosada commented on #6912
@ncave can you try if @dsyme PR fix that? i am trying lot of combinations but i cannot repro this bug locally...

[2017-06-16 23:03] enricosada commented on #6863
I cannot repro.
i tried multiple cli versions, with and without `dotnet core` feed, in debug and release.

[2017-06-16 23:28] enricosada commented on #6863
Ok, if i cannot repro locally, it should in CI.
Opening https://github.com/dotnet/cli/pull/6914 to add an F# end 2 test test (app with lib).

[2017-06-16 23:35] ncave commented on #6912
@enricosada What's the easiest way to try that? Do I need to point some target to a custom compiler build?

[2017-06-16 23:46] thomaslevesque opened #6915 "Can dotnet pack include symbols in the same package?"
The `--include-symbols` switch creates a separate symbols package. However, a commonly used approach is to include the PDBs (patched with SourceLink or GitLink) directly in the main package. Is there a way to tell `dotnet pack` to include the PDBs in the main package, rather than a separate symbols package?

[2017-06-17 00:31] enricosada commented on #6912
@ncave i converted your minimal repro in a test case https://github.com/dotnet/cli/pull/6914

[2017-06-17 00:44] craigb opened #6916 "dotnet restore doesn't use installed credential providers"
## Steps to reproduce
1. Install the VSO [nuget credential provider](https://www.visualstudio.com/en-us/docs/package/nuget/nuget-exe)
1. Take a dependency on a VSO nuget package feed
1. `dotnet restore`

## Expected  behavior
I would expect it to auth and retrieve information about packages just like `nuget.exe restore`.
[code]

## Actual behavior
[code]

## Environment data
`nuget help`:
NuGet Ve

[2017-06-17 00:56] enricosada commented on #6705
@alfonsogarciacaro grepping `dotnet msbuild /pp > logpp.txt`

[code]

so `$(RuntimeFrameworkVersion)` for `Microsoft.NETCore.App`, and `$(NetStandardImplicitPackageVersion)` for netstandard.library

[2017-06-17 01:29] nguerrera commented on #6915
This issue was moved to NuGet/Home#5440

[2017-06-17 01:29] #6915 closed

[2017-06-17 06:23] AnthonyLloyd commented on #6863
@enricosada The branch has only NBody code not Mandelbrot.

[2017-06-17 13:49] enricosada commented on #6863
@AnthonyLloyd thx! i was (another time 😭 ) in the wrong branch
Now i can repro too

[code]

[2017-06-17 17:35] cartermp commented on #6912
@ncave Though I haven't debugged it, I think this is the same as #6863.

[2017-06-17 17:38] ncave commented on #6912
@cartermp Yes, I tested with a CI build, [visualfsharp#3215](https://github.com/Microsoft/visualfsharp/pull/3215) fixes it.

[2017-06-17 18:16] cartermp commented on #6912
\m/

[2017-06-17 19:20] mbp commented on #6089
I experience the same problem. It appears to be only a problem if you use the old csproj format.

If you move your resource files to a class library with the new csproj format, this might be a viable workaround.

[2017-06-17 19:49] darkengines commented on #6089
I confirm.

[2017-06-17 19:49] #6089 closed

[2017-06-17 22:43] CoskunSunali commented on #3409
May I ask why is this issue closed? Is it already implemented, being tracked in another issue or will not be implemented at all?

[2017-06-18 15:44] dazinator opened #6919 "xproj -> csproj migration, postrestore script hook unsupported"
## Steps to reproduce
Open a project.json based solution in vs2017 to trigger the migration, where the project.json has:

[code]

The migration fails:

[code]
.NET Command Line Tools (1.0.4)

Product Information:
 Version:            1.0.4
 Commit SHA-1 hash:  af1e6684fd

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:

[2017-06-18 21:32] g0t4 opened #6921 "Show completion descriptions - in zsh and others shells if possible"
Many zsh command completions provide not only options but descriptions. For example with `docker`:

[code]

It would be nice to have this with the `dotnet` CLI. Right now we have:
[code]

I would like to see something like what we have in the `dotnet help` command:

[code]

The `docker` CLI has similar command and sub-command organization that could serve as inspiration for the `dotnet` CLI to add

[2017-06-19 03:13] uliian opened #6922 "Can we provide a way to pack and distribute similar Fatjar?"
Publishing applications in our current packaging mode will always produce many DLL files, especially in SCD mode. This is not very friendly to the publishing process. Java Spring Boot, Golang has adopted a single file publishing mode, using a much friendlier, we have plans to introduce this way?

[2017-06-19 05:40] leppie commented on #6895
@livarcocc Added version. Given your output `-v` does not work for the single case it should.

[2017-06-19 05:40] baynezy opened #6923 "How to replicate auto version number"
## Steps to reproduce

In previous version of .Net you could make part of your version number auto generated unit an `*`.

E.g. `2.1.1.*`

How can that be done in the new .Net Core csproj file?

I have read #4859, but that requires my CI to manage the dynamic part of the number.

## Expected  behaviour

In the project .csproj file using the following:-

    <PropertyGroup>
      <VersionPrefix>2.1

[2017-06-19 10:14] enricosada commented on #6012
@jpierson `2.0.0-preview1` doesnt work with F#, see https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-2.0.0-preview1 for more info.

You need to use 1.0 (https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-1.0) for a stable and working version

Or latest dev `2.0.0-preview2` (https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-2.0.0-preview2) if you really want to use 2.0

[2017-06-19 10:40] jpierson opened #6926 "Unhelpful error message when running `dotnet add <PACKAGE_NAME>`"
## Steps to reproduce

1. Ensure latest .NET CLI is installed (2.0.0-preview1-005977).
2. Open command line and navigate to directory that contains a .NET project (.fsproj in my case).
4. Run command missing the `package` "command" as such `dotnet add FSharp.Data.TypeProviders`.

## Expected  behavior

1. Inform the user specifically that with the `dotnet add` command that either *package* or *ref

[2017-06-19 13:08] yatli commented on #2660
@piotroko I'm seeing this issue again with coreclr 2.0 preview-1. When our nuget package assembly releases a native assembly in the same directory, the following builds fail.

[2017-06-19 14:40] jskeet opened #6927 "dotnet {build,run} should fail gracefully with bad target framework"
## Steps to reproduce

- In a new directory, run `dotnet new console`
- Look at the generated project file to see what framework version it targets, e.g. `netcoreapp1.1`
- Run `dotnet restore`
- Run `dotnet build -f netcoreapp1.0` - or any other *wrong* framework

## Expected  behavior

A single, easily-understood error message saying that the project file doesn't support the specified framework.

[2017-06-19 14:43] Jonathan34 commented on #6911
This may be better reported in dotnet/sdk. not sure

[2017-06-19 14:48] jskeet commented on #6927
Just tried with 2.0 preview 1 and it fails in the same way

[code]

[2017-06-19 14:52] jskeet opened #6928 "Allow option to skip unsupported frameworks when building a solution"
It's much more convenient to build a solution file than each individual project file.

That's great when all the projects *can* be built in all framework versions, but it fails when some or all projects only work for some environments.

The obvious example of this is when some projects target (say) `net45` and `netstandard1.3` (as Noda Time does). On my Linux CI machine, I'd like to *only* build t

[2017-06-19 15:00] AArnott opened #6929 "Corrupted path error after using `dotnet test -l trx -r some\path\`"
## Steps to reproduce

    dotnet test -l trx -r ..\..\bin\PCLCrypto.Tests.NETCore\netcoreapp1.0\

Note that auto-completion in powershell automatically adds the trailing backslash to the directory name, which is what triggers the failing behavior. If I remove the trailing backslash, I get a correct test run.

## Expected  behavior

A successful test run.

## Actual behavior

[code]

Note the biza

[2017-06-19 17:17] livarcocc commented on #6921
@jonsequitur

[2017-06-19 17:18] livarcocc commented on #6916
This issue was moved to NuGet/Home#5447

[2017-06-19 17:18] #6916 closed

[2017-06-19 18:12] dsplaisted commented on #6927
This should be fixed in later builds of the 2.0 SDK, I think.

Sent from my Windows 10 phone

From: Jon Skeet
Sent: Monday, June 19, 2017 4:48 PM
To: dotnet/cli
Cc: Subscribed
Subject: Re: [dotnet/cli] dotnet {build,run} should fail gracefully with badtarget framework (#6927)

Just tried with 2.0 preview 1 and it fails in the same way
.NET Command Line Tools (2.0.0-preview1-005977)

Product Inform

[2017-06-19 18:37] wli3 opened #6934 "Fix badge and wait for deb to copy to "latest""
VSTS builds are not producing all badges, and as the result of that, the step for copying to latest will not wait for .deb files.

Badge producing process should use HostRID instead of RID, the badges are produced, but they are all Linux-x64-...

[2017-06-19 18:48] wli3 commented on #6927
![image](https://user-images.githubusercontent.com/6993335/27300621-25e488ea-54e5-11e7-8ae1-1d78453de548.png)

@dsplaisted looks so.

[2017-06-19 20:00] mikeharder opened #6936 "Increased build time for project with large number of node modules"
## Steps to reproduce
1. Clean Win10 VM
2. Install Chocolatey
  A. https://chocolatey.org/install
3. Admin command prompt
  A. `choco install nodejs`
  B. `npm install --global --production windows-build-tools`
4. `git clone https://github.com/mikeharder/scripts`
5. `git clone https://github.com/aspnet/JavaScriptServices`
6. `cd JavaScriptServices`
7. `git checkout dbdc81a06a50a853a6025c975edc584a

[2017-06-20 03:50] #6683 closed

[2017-06-20 05:08] livarcocc commented on #6927
Yep. Closing this. @jskeet if there is anything else going on with this issue, please, re-activate.

[2017-06-20 05:08] #6927 closed

[2017-06-20 05:11] livarcocc commented on #6929
This issue was moved to Microsoft/vstest#878

[2017-06-20 05:11] #6929 closed

[2017-06-20 05:15] livarcocc commented on #6919
This is an event that was not supported in preview2.

The reason why we don't handle the postrestore event is because migration was built to support valid preview2 project.json files and do a best effort on pre-preview2, as there as no good set of options available to us to map those project.json to csproj.

I would recommend commenting out (or removing the event) and attempting migration again.

[2017-06-20 05:15] #6919 closed

[2017-06-20 05:19] livarcocc commented on #6911
This is strange. We do this ourselves all the time with our assemblies in the CLI repo: https://github.com/dotnet/cli/blob/release/2.0.0/src/dotnet/dotnet.csproj#L8-L10.

Would it be possible for you to share a repro repo with us? Though, I see that this happens only on non-windows. if that's the case, you are probably missing this:
`<PublicSign Condition=" '$(OS)' != 'Windows_NT' ">true</PublicSi

[2017-06-20 05:22] livarcocc commented on #6895
You mean to indicate verbosity? If you look at the full help of dotnet, that is an option that you can pass when invoking dotnet with some verbs. What is the scenario that you are trying to light up by simply invoking dotnet -v and expecting a verbose output? We already print the full help when you do that, as that option alone is not supported.

[2017-06-20 05:52] nguerrera commented on #6911
Support for full signing on non-Windows in Roslyn is tracked by https://github.com/dotnet/roslyn/issues/8210

[2017-06-20 06:54] nishant261989 opened #6947 "Is there any way to install DNVM DNX to TFS build using powershell script?"
Below is the powershell script we are using:

`# bootstrap DNVM into this session.
&{$Branch='dev';iex ((new-object net.webclient).DownloadString('https://github.com/aspnet/dnvm/tree/dev/src/dnvm.ps1'))}`

`# load up the global.json so we can find the DNX version`
`$globalJson = Get-Content -Path $PSScriptRoot\global.json -Raw -ErrorAction Ignore | ConvertFrom-Json -ErrorAction Ignore`

`if($globa

[2017-06-20 08:04] arvopartet opened #6950 "Cannot run dnc v1 C# projects alongside dnc v2 preview 1 install (on Ubuntu)"
Why is it not possible to run dotnet core version 1 C# projects anymore once you have installed version 2 preview 1 alongside (on Ubuntu)?

## _Steps to reproduce_ Behaviour

_dotnet build_
Microsoft (R) Build Engine version 15.3.117.23532
Copyright (C) Microsoft Corporation. All rights reserved.

  my_app -> path/my_app.dll

Build succeeded.
    0 Warning(s)
    0 Error(s)

Time Elapsed 00:00:06.

[2017-06-20 09:50] bhugot opened #6951 "Tests results not aggregating result for each targetFrameworks"
## Steps to reproduce

Create a test project with 2 targetFrameworks and 1 Test

run Dotnet Test  --logger "trx;LogFileName=abc.trx"

## Expected  behavior

The file abc.trx should contains 2 lines, one for each target framework

## Actual behavior

There is only one line for the last targetFramework used.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.0.0-preview2-006127)

[2017-06-20 10:07] dazinator commented on #6919
So there is no msbuild based eqivalent hook for post restore? The reason I ask is because my projects have npm as well as jspm dependencies that should also be restored. i'd like to have a dotnet restore restore all my project dependencies not just the nuget ones leaving the developer to also do npm and jspm restores seperately..

[2017-06-20 12:08] vRITHNER opened #6952 "dotnet build doesn't compile with 2.0.0-preview2-final for MVC template"
## Steps to reproduce

Add new  project from VS (mvc --auth Individual):
- Build
- Build 100%

Do the same from shell command:

- dotnet new mvc --auth Individual
- dotnet build

## Expected  behavior
build

## Actual behavior
 error NU1003: PackageTargetFallback and AssetTargetFallback cannot be used together. Remove PackageTargetFallback(deprecated) references from the project environment.

## E

[2017-06-20 12:36] JosephWoodward commented on #6550
Ran into the same issue, `DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1` solved it for me too.

[2017-06-20 13:34] Jonathan34 commented on #6911
@livarcocc if i set the `publicSign` it says:
`CSC : error CS8102: Public signing was specified and requires a public key, but no public key was specified. [/proj/projA.csproj]`

Unfortunately, I can only provide the csproj file, so i am not sure it will be a big help.

[2017-06-20 14:07] victorperin commented on #4865
Not fixed. Still having this issue on fedora 25. :/

[2017-06-20 14:54] atanasa opened #6953 "Restore does not work for solution with project dependencies"
## Steps to reproduce
1. Create a solution with 2 projects - A and B.
2. Edit the solution so that B depends on A.
3. Run `dotnet restore` on the solution file.

## Expected  behavior
Both project A and B are restored.

## Actual behavior
Only project A is restored.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.0.0-preview1-005977)

Product Information:
 Version:

[2017-06-20 16:46] livarcocc commented on #6952
This has been fixed in the latest preview2 build.

[2017-06-20 16:46] #6952 closed

[2017-06-20 16:46] livarcocc commented on #6951
This issue was moved to Microsoft/vstest#880

[2017-06-20 16:46] #6951 closed

[2017-06-20 17:46] dazinator opened #6956 "netstandard and net461"
## Steps to reproduce
In my csproj, I am targeting netstandard 1.6

[code]

I then have another project targeting net 461 that references the first netstandard1.6 project.

dotnet restore on the net 461 project then outputs this:

[code]

Yet from this table: https://docs.microsoft.com/en-gb/dotnet/standard/net-standard netstandard1.6 should be compatible with net461. What am I missing?

## Expect

[2017-06-20 18:26] livarcocc commented on #6956
net461 is compatible with netstandard1.6 when using the 2.0 tooling. With the 1.0 tooling, net461 is compatible with netstandard1.4.

[2017-06-20 18:27] livarcocc commented on #6947
dnmv and dnx are no longer supported. You should move to the .NET Core SDK (CLI). In which case, we do have install scripts that allow you to download the SDK and install it on a machine. Do note that in case, you will have to migrate your dnx project.json to msbuild, which dotnet migrate will not do for you. dotnet migrate only handles CLI 1.0.0-preview2 project.json and onward.

[2017-06-20 18:27] #6947 closed

[2017-06-20 18:29] dazinator commented on #6956
Ok.. can you clarify what / where is the 2 tooling? Is there a dotnet cli 2? I can only see a dotnet cli 1.1 on the cli sdk download page.

[2017-06-20 18:43] livarcocc commented on #6956
https://www.microsoft.com/net/core/preview#windowscmd.

Also, https://github.com/dotnet/cli/tree/release/2.0.0.

[2017-06-20 18:43] dazinator commented on #6956
I should note, I am using vs2017 latest version.

[2017-06-20 19:05] dazinator commented on #6956
Couple more questions if you don't mind!

If i install this newer tooling, i assume it will be uaed by default and therefore for solutions on older tooling they will now need to be locked down by adding global.json?

Where can I see about any reaking changes - im thinking of our Team City build process for the solution i.e the command line may now look different than it did for v1 of the the cli.

[2017-06-20 19:07] rainersigwald commented on #6114
Can you track https://github.com/Microsoft/msbuild/issues/2187 instead of  Microsoft/msbuild#2201 please? I closed the latter as a duplicate of the former.

[2017-06-20 19:08] rainersigwald commented on #6114
MSBuild PRs out for

- [ ] Microsoft/msbuild#2187
- [ ] https://github.com/Microsoft/msbuild/issues/2203

[2017-06-20 19:56] Ponant opened #6958 "Is it possible to publish latest build on Azure?"
Sorry if this is a nuts question. I am on .NET Core 2.0 Preview 2 (latest build) on the latest VS 2017 Preview (updated today) and I cannot publish to Azure the web app template, but I can publish  a template from .NET Core 2.0 Preview 1. Is that by design of latest builds until they are released?

[2017-06-20 20:12] Jonathan34 commented on #6911
@livarcocc my bad, the public sign does the trick. I had kept the `signassenbly` to `false` so setting it to true works fine:

[code]

[2017-06-20 20:13] livarcocc commented on #6958
You can not publish to azure a portable app. The reason for that is that the runtime that preview2 targets has not been deployed to azure yet. You can either modify you project so that it targets a runtime already deployed to azure (like the one that preview1 targets) or you can publish your app as a self contained application.

[2017-06-20 20:57] nguerrera commented on #6114
Fixed.

[2017-06-20 21:03] Ponant commented on #6958
thanks @livarcocc , that clarifies my doubt(s). Cheers

[2017-06-20 21:03] #6958 closed

[2017-06-20 21:21] livarcocc commented on #6911
Awesome. Glad it worked. Closing this for now. if anything else comes up, just re-activate.

[2017-06-20 21:21] #6911 closed

[2017-06-20 21:37] shanselman opened #6960 "DotNetCliReference causes multiple confusing "Restoring" messages"
## Steps to reproduce

With _n_ number of DotNetCliReferences you get _n+1_ "restoring packages" messages. One per tool, plus one for the actual package references.

## Expected behavior

You should get "restoring tools" once and "restoring packages" once.

## Actual behavior

![image](https://user-images.githubusercontent.com/2892/27357136-e16f434e-55c5-11e7-9859-d356c072e880.png)

## Environment

[2017-06-20 21:38] livarcocc commented on #4773
This no longer reproes on the latest CLI.

[2017-06-20 21:38] #4773 closed

[2017-06-20 21:40] livarcocc commented on #6862
This has been fixed now in the release/2.0.0-preview2 branch. We will merge it back into release/2.0.0 soon. This was fixed by taking a new fsharp compiler.

[2017-06-20 21:40] #6862 closed

[2017-06-20 21:42] livarcocc commented on #6960
This issue was moved to NuGet/Home#5462

[2017-06-20 21:42] #6960 closed

[2017-06-20 21:45] livarcocc commented on #6922
There has been talk about it but no concrete plans or timeline (or even real commitment) to do this so far.

[2017-06-20 21:45] livarcocc commented on #6912
@KevinRansom can you take a look at this?

[2017-06-20 21:46] livarcocc commented on #6863
@KevinRansom can you take a look at this?

[2017-06-20 21:58] cartermp commented on #6912
This is the same issue as #6863 - I think we can close this as use that as the canonical issue.  The fix is in for the compiler, but we need to get that version into the SDK.

[2017-06-20 21:58] cartermp commented on #6863
Remaining work here is to get the updated compiler into the SDK/CLI, then we can close this.

[2017-06-20 22:02] ncave commented on #6912
@livarcocc @cartermp Just tested with 2.0.0-preview2-006494, it's fixed. Closing.

[2017-06-20 22:02] #6912 closed

[2017-06-20 22:03] livarcocc commented on #6863
We got one in yesterday. Do we need another one?

[2017-06-20 22:09] cartermp commented on #6863
I don't think so.  Looks like @ncave was no longer able to see the issue: https://github.com/dotnet/cli/issues/6912#issuecomment-309904692

@AnthonyLloyd, can you verify that the issue is resolved?

[2017-06-20 22:51] #6507 closed

[2017-06-20 22:51] #6636 closed

[2017-06-20 22:54] livarcocc commented on #6909
Yep. Seems like it. Closing this one.

[2017-06-20 22:54] #6909 closed

[2017-06-20 22:55] livarcocc commented on #6878
@wli3 can you turn off the legs we don't need anymore?

[2017-06-20 23:50] dazinator commented on #6956
Thank you, much appreciated. Will give it a shot.

[2017-06-20 23:50] #6956 closed

[2017-06-21 03:06] wli3 commented on #6878
Done

[2017-06-21 03:14] wli3 commented on #6878
Removed trigger for these build definitions, if no problem this week, I will move them to an achieve folder

[2017-06-21 03:14] #6878 closed

[2017-06-21 03:27] Jose-CF commented on #6237
So what is the key tag to get the exe? I really do not care to run "dotnet acool.dll" but legacy tools are expecting my application to have an exe file.

[2017-06-21 05:04] livarcocc commented on #6950
Do you have both 1.0 and 2.0 CLI installed in the same location? The reason you are seeing this is because the 2.0 CLI does not bring with it the 1.0 runtimes. If we were doing that, we would have to keep adding runtimes to the CLI and it would grow very fast, very much in size.

Running 1.0 apps with/when 2.0 is installed is very much a supported scenario. What I suspect is going on here is that

[2017-06-21 07:08] Jose-CF commented on #5559
In which CLI version was that fixed? I am experiencing this problem on 2.0.0-preview1-005977

[2017-06-21 07:09] Jose-CF commented on #4268
+1 still happening over here.

[2017-06-21 08:08] AnthonyLloyd commented on #6863
@cartermp Having a problem building now. I just ran the latest installer and tried to build (dotnet restore & rebooted also). Is there another step?

`dotnet build` gives:

[code]

`dotnet --info` gives

[code]

[2017-06-21 08:15] enricosada commented on #6863
use `release/2.0.0` branch, not `master`

[2017-06-21 08:47] AnthonyLloyd commented on #6863
@enricosada Thanks. It works using `release/2.0.0-preview2` but not `release/2.0.0`. Happy for it to be closed if this in order. Many Thanks.

[2017-06-21 08:55] cwe1ss commented on #5131
Will this also cover "Service Fabric Applications" (*.sfproj)? It seems like they are currently also added incorrectly.

[2017-06-21 09:43] shimingsg opened #6965 "Hash Sum mismatch error when install dotnet-sdk-2.0.0-preview2-006497"
## Steps to reproduce
1. have a clean machine with Ubuntu 16.04
2. add debian source
sudo sh -c 'echo "deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/dotnet/ xenial main" > /etc/apt/sources.list.d/dotnetdev.list'
sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893
sudo apt-get update
3. list all  apt-cache search dotnet-sdk | grep 2.0.0
4. pick up the latest previe

[2017-06-21 09:53] shimingsg opened #6966 "NU1102 during restoring package"
## Steps to reproduce
1. have clean Ubuntu 16.04 VM
2. sudo apt-get install **dotnet-sdk-2.1.0-preview1-006491**
3. make a folder and cd to it
4. dotnet new console

## Expected  behavior
project created and restore successfully

## Actual behavior
restore failed

**the output message as following:**
puser@p-shige:~/testp$ dotnet new console
The template "Console Application" was created successfu

[2017-06-21 13:44] Jonathan34 commented on #6911
@livarcocc yes no problem, do you mind explaining what this `PublicSign` does (or does not do)?
Is the resulting signing of the assembly different? What are the implications of signing in a non windows environment?

thanks

[2017-06-21 14:37] nguerrera commented on #6911
@Jonathan34 Excellent question. There are consequences. Public signing is like delay signing: only the public key is needed and the binary is not actually signed with the private key. The only difference is a bit in the PE that allows most scenarios to run without registering for skip verification. However, since the binary is not truly, fully signed, it cannot be installed to the GAC, cannot be u

[2017-06-21 14:59] cartermp commented on #6863
@livarcocc Is `release/2.0.0-preview2` the correct branch?  Seems correct to me, but this isn't a repo I work in.

[2017-06-21 15:04] vRITHNER commented on #6952
Looks like it's not the same story between VS latest and dotNet/CLI latest (2.0.0-preview2-006497);

from CLI:
`dotnet new mvc --auth Individual -uld`

At least the build is successful.

From VS (latest 15.3.0 Preview 2.1), new project to create the same type of project:
I can't compile it

![2017-06-21_17h01_12](https://user-images.githubusercontent.com/238842/27391088-4270248c-56a3-11e7-9326-f7c

[2017-06-21 15:08] vRITHNER commented on #6952
if I change back the line in Csproj

   ` <AssetTargetFallback>$(AssetTargetFallback);portable-net45+win8+wp8+wpa81;</AssetTargetFallback>`

to

`    <PackageTargetFallback>$(PackageTargetFallback);portable-net45+win8+wp8+wpa81;</PackageTargetFallback>`

VS compile but not DotNet cli

[2017-06-21 17:17] wli3 commented on #6907
https://github.com/dotnet/core-setup/issues/2715

[2017-06-21 17:38] omajid opened #6970 "Shell completions let users bypass the first run message"
## Steps to reproduce

Using bash, load the shell completions and then try and use the before
invoking a `dotnet` command explicitly.

    $ . cli/scripts/register-completions.bash
    $ rm -rf ~/.dotnet/ ~/.nuget/ ~/.local/share/NuGet
    $ ls
    $ dotnet new c<TAB>
    classlib  console
    $ dotnet new console
    The template "Console Application" was created successfully.

    Processing pos

[2017-06-21 17:39] omajid commented on #6970
cc @wli3

[2017-06-21 18:30] codeWonderland opened #6971 "'dotnet new --install Microsoft.AspNetCore.SpaTemplates::*' fails with 'Segmentation fault: 11'"
## Steps to reproduce
dotnet new --install Microsoft.AspNetCore.SpaTemplates::*

## Expected  behavior
Installs the new templates into dotnet

## Actual behavior
Segmentation fault: 11
bash-3.2#   Restoring packages for /Users/codeWonderland/.templateengine/dotnetcli/v1.0.4/scratch/restore.csproj...

## Environment data
Running MacOS 10.13 Beta
`dotnet --info` output:

[2017-06-21 18:42] livarcocc commented on #6971
This issue was moved to dotnet/templating#977

[2017-06-21 18:42] #6971 closed

[2017-06-21 20:10] WilliamT-Streamba commented on #6723
I fixed this by changing all the project path strings to use / instead of \ in my .sln file.

[2017-06-21 21:31] enricosada opened #6976 "`dotnet run -p not.a.proj` crash"
## Steps to reproduce

i tried for error to run an sln

[code]

## Expected  behavior

An error about `-p` works only for msbuild projects

## Actual behavior

crash and stacktrace
[code]

## Environment data
`dotnet --info` output:

[code]

[2017-06-21 22:02] enricosada commented on #6863
PR with test https://github.com/dotnet/cli/pull/6975 for branch `release/2.0.0-preview2`

[2017-06-21 22:06] cartermp commented on #6863
Thanks for the smoke test @enricosada.  Closing!

[2017-06-21 22:06] #6863 closed

[2017-06-21 22:27] fedoranimus commented on #1201
@livarcocc Why is this issue closed? As far as I can tell, the issue hasn't actually been resolved as described.

[2017-06-21 22:28] enricosada commented on #6723
While i can repro in `1.0.4`, this is fixed in `2.0.0-preview2` (tested also in https://github.com/dotnet/cli/pull/6977 )

[2017-06-21 22:45] mattscheffer opened #6978 "Missing argument for unresolvedReference from reference created in CLI"
## Steps to reproduce
Use latest d15rel and 2.0.0 CLI preview.

1. In CLI create an empty solution and add a new C# console app to it.
2. Create a C# Class library.
3. Add a reference from the console app to the C# class library
4. Open the solution in VS.
5. In the solution explorer, expand the Dependencies tab to the class library. (Dependencies -> Projects -> (nameof Classlib))
6. Double click

[2017-06-21 23:22] livarcocc commented on #6978
@srivatsn can you take a look? I am not sure this is an issue with the CLI or the SDK.

[2017-06-22 02:21] chinmayapradhan commented on #4062
Any luck on this issue? I am still seeing that node_modules folder is not included as part of publish process.

[2017-06-22 04:44] ellismg commented on #6970
I'm guessing that we should just set `DOTNET_SKIP_FIRST_TIME_EXPERIENCE` in the local function that we register with complete?

[2017-06-22 05:06] livarcocc commented on #1201
What I mean is that you can discover tests for core in VS and debug them through VS.

[2017-06-22 06:12] omajid commented on #6970
Does `dotnet complete` send telemetry events? My impression was that we have show the users the first-run message if it does.

[2017-06-22 06:56] gerardkok opened #6984 "Mac package contains multiple versions of 'com.microsoft.dotnet.sharedhost.component.osx.x64'"
## Steps to reproduce

- Download 'macOS (x64) PKG' from https://www.microsoft.com/net/download/core, currently this gives you 'dotnet-dev-osx-x64.1.0.4.pkg'.
- expand the downloaded package ('pkgutil --expand dotnet-dev-osx-x64.1.0.4.pkg ~/Downloads/dotnet-1.0.4', for example)
- in the expanded folder, observe that the identifiers in 'com.microsoft.dotnet.sharedhost.1.0.1.component.osx.x64.pkg/Pa

[2017-06-22 09:17] avezenkov commented on #4062
I suggest using a workaround - copy what is needed using xcopy or msbuild. Certainly don't use gulp js as it's slow as hell, pipes blabla... slow as hell. Webpack is great if you are looking for a build package manager.

[2017-06-22 10:13] fedoranimus commented on #1201
Ah, okay.

I guess I assumed this issue was more about being able to add a flag such as `--debug` to `dotnet test` in order to allow the debugging of all discovered test cases via the CLI for use in applications like VSCode.

[2017-06-22 15:09] mattwhetton commented on #3959
I'm having the same issue with new csproj file format

[2017-06-22 16:03] #6682 closed

[2017-06-22 16:35] wli3 commented on #6897
I didn't realize that's a bug, while I am testing, I can keep install CLI and get a list of installation of the same version. However, if you uninstall them one by one, all of them are very fast to uninstall until you reach the last one. I don't think it hurt the functionality, but it does confuse people.

I have no idea of the solution, our installer is in petty vanilla setting, this should be th

[2017-06-22 17:34] ellismg commented on #6970
That's a good point, @omajid.  We could set `DOTNET_CLI_TELEMETRY_OPTOUT` as well?

[2017-06-22 18:25] omajid commented on #6970
Sure. Any other switches we should enable?

Also, I don't know *why* I am not seeing the first run message on complete. Can anyone else confirm/reproduce?

[2017-06-22 18:26] jonsequitur commented on #6970
@omajid Is complete working for you when the first run message has not yet been displayed for that CLI installation?

[2017-06-22 18:29] omajid commented on #6970
@jonsequitur I am using `rm -rf ~/.dotnet/ ~/.nuget/ ~/.local/share/NuGet` to simulate "fresh install on a fresh machine". Is there something else I should do to simulate such an environment?

[2017-06-22 19:37] andymcintosh commented on #4062
Following the comments on #3828 lead me to a solution for this issue as well. `mkdir node_modules` before calling published resulted in the node_modules directory, with all of its contents being published to the output folder

[2017-06-22 19:39] srivatsn commented on #6978
This is https://github.com/dotnet/project-system/issues/403

[2017-06-22 19:39] #6978 closed

[2017-06-22 19:47] livarcocc commented on #6970
That's good enough for preview2. For preview3, delete the sentinel file under dotnet/SDK/NUGetFallbackFolder, where dotnet is where you install the SDK.

I am confused here. Is the problem here that auto-complete is sending telemetry or that a command that was constructed with dotnet complete, when invoked, does not show the telemetry message?

[2017-06-22 19:48] jonsequitur commented on #6970
If the first run experience has not yet been triggered, then `dotnet complete` will trigger it (last I checked). If you run `dotnet complete` directly you can see the first run text followed by the completion results. But if you triggered tab completion, so that the shell completion script is the caller into `dotnet complete`, then what I've observed is that the shell doesn't know how to parse the

[2017-06-23 03:10] Jose-CF commented on #4965
Experiencing same issue... 2.0.0-preview1-005977

[2017-06-23 04:56] pjbgf commented on #4672
Hey @piotrpMSFT,

I have created a CLI version of ILDasm, here are the [source](https://github.com/pjbgf/dotnet-ildasm) and the [package](https://www.nuget.org/packages/dotnet-ildasm).

There are still a few things I need to implement to make it fully compatible with the native tool, however, it is already functional and working fine in both windows and linux.

Cheers,
Paulo

[2017-06-23 05:34] natidea opened #6989 "CLI Install Leaves behind empty NuGetFallbackFolder"
## Steps to reproduce

Installed 2.0.0-preview3-006546 on a new VM with VS already installed

## Actual behavior

After the install C:\Program Files\dotnet\sdk\NuGetFallbackFolder is created but empty.
This currently causes a NuGet restore error when creating a netcoreapp2.0 project, and changing the target framework to netcoreapp1.1 (https://github.com/NuGet/Home/issues/5478)

## Environment data

[2017-06-23 07:22] dasMulli commented on #4062
You could also remove the default node_modules exclude that the web-sdk adds by adding this to the csproj file:

[code]

[2017-06-23 08:03] gerchicov-bp commented on #3964
`Error: No available formula with the name "homebrew/versions/openssl101" `

[2017-06-23 13:22] Neutrino-Sunset commented on #3517
Surely it shouldn't be necessary to deploy a console app as a standalone app simply to invoke it via CreateProcess, as that comes with a lot of overhead and makes it no longer cross platform.

Is it not possible to create the process by spawning the dotnet.exe wth the console app supplied as an argument, and (most importantly) will the standard input and output function correctly if the process is

[2017-06-23 14:19] Neutrino-Sunset commented on #3517
Answer to my last question is yes.

[2017-06-23 19:19] jbagga opened #6995 "Consider replacing GetTempFileName with GetTempPath and GetRandomFileName"
`dotnet-install.ps1` uses [GetTempFileName](https://github.com/dotnet/cli/blob/master/scripts/obtain/dotnet-install.ps1#L480), [however](https://msdn.microsoft.com/en-us/library/system.io.path.gettempfilename(v=vs.110).aspx)

See https://github.com/aspnet/Coherence-Signed/issues/510 for more information.

cc @Eilon

[2017-06-23 21:11] TingluoHuang opened #6996 "dotnet publish self-contained app give weird executable name"
## Steps to reproduce

[code]

My console app is called `agent.listener` and `agent.worker`
after `dotnet publush --runtime linux-x64`,
i got following under bin:
`agent.listener.dll`,
`agent.listener.listener`,
`agent.worker.dll`,
`agent.worker.worker`

## Expected  behavior

i suppose to get `agent.listener` and `agent.worker`

[2017-06-23 21:22] MartinJohns commented on #5147
@piotrpMSFT Any updates?

[2017-06-23 23:38] monojoli1992 commented on #4447
[Run3](https://run3.me/) Game project. ?

[2017-06-24 06:37] daxian-dbw opened #6998 "`dotnet new console` and `dotnet restore` throw `System.IO.DirectoryNotFoundException`"
Summary
----------
This happens to the latest 2.0.0-preview3 dotnet CLI `2.0.0-preview3-006546` and `2.0.0-preview3-006540`

## Steps to reproduce
[code]
or
[code]

## Expected  behavior
They should work without error

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2017-06-24 07:08] mairaw commented on #5737
@livarcocc I won't be able to work on this now. But I'd still would like to review the CLI text. I need to understand if it's the same the process or if it changed with the introduction of parser, etc.

[2017-06-24 07:09] mairaw commented on #6344
@GuardRex since you're looking at the CLi commands, can you look at this issue? Thanks.

[2017-06-24 07:28] GuardRex commented on #6344
@mairaw Sure thing. I'll create a tracking issue in the morning and roll this into https://github.com/dotnet/docs/pull/2480.

@JohnRusk @WernerMairl I'll ping you on the issue. Thanks for researching it and describing your scenarios here. Let's follow-up over on the docs repo after I get the issue established, and we'll make sure we get some enhanced coverage in place.

[2017-06-24 07:31] borgdylan commented on #6237
@benaadams On Linux, I am getting an apphost binary that fails as mentioned previously.

What happened to just renaming the coreconsole binary to get a working self-contained app? This new apphost methodology is a regression :/ .

[2017-06-24 08:23] MrVibe commented on #3964
same issue. opensssl version returns : OpenSSL 0.9.8zh 14 Jan 2016
tried installing and uninstalling multiple times. Cant seem to update openSSL and cant seem to link it.

[2017-06-24 12:19] nguerrera commented on #5737
The only difference now is that the strings in `*LocalizableStrings.cs` have been moved to `*LocalizableStrings.resx` since we are actually localized now.

The parser has only a handful of strings of its own, but it has a mechanism to override them. On Monday, I'm going to use that, and all strings will be in this repo.

[2017-06-24 22:58] #6976 closed

[2017-06-24 23:03] livarcocc commented on #6998
Thanks for the bug report. This is a dup of https://github.com/dotnet/cli/issues/6989.

[2017-06-24 23:03] #6998 closed

[2017-06-25 20:45] colinbowern opened #7000 "dotnet does not generate fsproj.metaproj file, but build process seems to require it"
## Steps to reproduce
1. Install .NET Core on WSL Bash per the [.NET Core Step-by-Step instructions](https://www.microsoft.com/net/core#linuxubuntu)
2. Run through steps to get started with F# on the CLI through to completing "Writing a Class Library" on the [Get started with F# with the .NET CLI](https://docs.microsoft.com/en-us/dotnet/fsharp/tutorials/getting-started/getting-started-command-line

[2017-06-26 07:05] JustArchi opened #7002 "[Question] Any way for CLI app packaging?"
I plan on distributing command-line application based on .NET Core 2.0 to my users. The problem I'm facing right now is the fact that I have a lot of third-party libraries and resources (localization) in the output folder, making it super hard to navigate, and even harder when I decide to deploy my app in self-contained environment.

In .NET Framework I dealt with this issue by using **[Costura.Fo

[2017-06-26 07:28] gerchicov-bp commented on #3964
@syberkitten
before linking with that issue you should metion that it appears with osx 10.12 too

[2017-06-26 11:42] AlexByte opened #7003 "Cannot restore pre-release dependecies of the package"
## Steps to reproduce

[code]

## Expected  behavior

## Actual behavior

Pre-release [dependencies](https://www.myget.org/feed/imagesharp/package/nuget/ImageSharp/1.0.0-alpha9-00152) are not installing
[code]

## Environment data
`dotnet --info` output:

[code]

The original issue https://github.com/JimBobSquarePants/ImageSharp/issues/256

[2017-06-26 11:49] AlexByte commented on #7002
http://druss.co/2016/08/deploy-and-run-net-core-application-without-installed-runtime-self-contained-applications/
To create self-contained application run following command:

`dotnet publish --configuration Release --runtime ubuntu.14.04-x64`
founded from https://stackoverflow.com/questions/39873960/net-core-package-dependencies

[2017-06-26 16:36] ramon-garcia commented on #6730
What I don't understand: why can't one use the installed sdk as source for  Microsoft.NETCore.App and similar dependencies. Why must one go through nuget.org?

From my installation directory, I have
shared\Microsoft.NETCore.App\2.0.0-preview3-25415-01

Can I list <installation dir>\shared in NuGet.config?

[2017-06-26 16:37] ramon-garcia commented on #6966
This seems to be duplicated from #6730

[2017-06-26 17:08] livarcocc commented on #7002
.NET Core does not support producing a single EXE today that contains your entire application. We currently support two distribution models: portable apps and self-contained apps. Portable apps are applications that required the shared runtime in the machines where the application is going to run. They are executable through 'dotnet your_app.dll'. The advantage of this one is that you can publish

[2017-06-26 17:09] livarcocc commented on #7002
I am closing the issue for now, if there is anything else you need, please, re-activate.

[2017-06-26 17:09] #7002 closed

[2017-06-26 17:11] livarcocc commented on #6996
Duplicate of https://github.com/dotnet/cli/issues/6397.

[2017-06-26 17:11] #6996 closed

[2017-06-26 17:26] JustArchi commented on #7002
I know about both publishing methods that I'm using, the question is about producing a single binary in self-contained scenarios where user would have everything in a single binary he's about to run, whether it's e.g. exe on windows or elf on linux.

Anyway, you answered me, there is no way to do that at the moment. Thanks.

[2017-06-26 18:46] livarcocc commented on #6966
Yes. it is. Closing this one.

[2017-06-26 18:46] #6966 closed

[2017-06-26 19:11] livarcocc commented on #7003
This issue was moved to NuGet/Home#5489

[2017-06-26 19:11] #7003 closed

[2017-06-26 19:34] jhudsoncedaron opened #7004 "dotnet restore at solution-level doesn't follow ProjectReference with ReferenceOutputAssembly of false leading to random build failures"
## Steps to reproduce

The attached .zip contains a solution that reproduces the problem intermittently.

## Expected  behavior

dotnet restore on B finishes before C resulting in a good build of C

## Actual behavior

dotnet restore on C sometimes finishes too soon causing nonsense build errors.

## Environment data

Bug is partially mitigated by NTFS; please note that --disable-parallel and NTFS

[2017-06-26 19:50] livarcocc commented on #7004
This issue was moved to NuGet/Home#5490

[2017-06-26 19:50] #7004 closed

[2017-06-26 19:51] livarcocc commented on #6950
Closing this issue for now, since we haven't had activity on it in a while. Please, re-active where more info if the explanation above does not help.

[2017-06-26 19:51] #6950 closed

[2017-06-26 19:53] #6989 closed

[2017-06-26 19:58] jhudsoncedaron commented on #7004
The reference that's breaking isn't a nuget reference at all.

[2017-06-26 20:05] livarcocc commented on #7004
restore handles both Package references and project references and restore is owned by NuGet. That's why I moved the bug.

[2017-06-27 05:45] Miclebrick opened #7007 "Failed to initialize CoreCLR, HRESULT: 0x80004005"
## Steps to reproduce
1. Install dotnet
2. mkdir test
3. cd test
4. dotnet new mvc
5. dotnet restore
6. dotnet run

## Expected  behavior
Running of something

## Actual behavior
I merely get the error in the title.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.4)

Product Information:
 Version:            1.0.4
 Commit SHA-1 hash:  af1e6684fd

Runtime Environment:
 OS

[2017-06-27 12:18] dasMulli opened #7009 "Cannot pass /clp:NoSummary to dotnet build"
## Steps to reproduce

[code]

## Expected  behavior

No build summary shall be displayed (e.g. duplicated errors).

The behaviour should be the same as using it with msbuild:

[code]

## Actual behavior

Build summary is displayed:

[code]

This seems to be because the implementation of the `build` verb always appends `/clp:Summary` to the arguments, overriding the passed in arguments.

## Enviro

[2017-06-27 13:48] guardrex opened #7010 "dotnet store artifacts.xml file structure nits"
## Steps to reproduce

Use the `dotnet store` command and examine the `artifacts.xml` target manifest file output.

## Expected  behavior

Neat file structure.

## Actual behavior

Little bit messy file structure:

[code]

* Three space indent on `Package` lines (instead of 2-spaces)
* Two spaces between `Id` value and `Version` attribute (instead of 1-space)
* Extra space between `Version` and it

[2017-06-27 15:48] #6877 closed

[2017-06-27 17:41] livarcocc commented on #7007
How did you install dotnet? also, can you set COREHOST_TRACE=1 and invoke dotnet run again and share the log file with us.

@karelz This is the host crashing. Can you help take a look?

[2017-06-27 20:03] TingluoHuang commented on #6397
@livarcocc this is current block us adopt net core 2.0, i noticed you tag the milestone to 2.1.0, do you have idea about what the target date for 2.1.0?

[2017-06-27 20:38] nguerrera commented on #6936
I suspect this is due to the changes around assigning link metadata automatically in SDK. @dsplaisted

[2017-06-27 21:32] dsplaisted commented on #6936
Does this setup create MSBuild items for each file in the node modules folder?  If so, then the Link metadata feature could regress it.

[2017-06-28 04:44] #6841 closed

[2017-06-28 04:47] wli3 commented on #2400
The latest version of Windows installer is a lot simpler. Please reopen this issue if further discussion is needed
https://github.com/dotnet/cli/pull/6900

[2017-06-28 04:47] #2400 closed

[2017-06-28 05:49] daxian-dbw opened #7013 "'dotnet new console' fails with '2.0.0-preview3-006607' .NET Command Line Tools"
## Steps to reproduce
`dotnet new console`

## Expected  behavior
No error and successfully restored

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2017-06-28 06:02] JohnRusk commented on #5331
Is it possible to approximate the semantics of --no-build by using publish earlier in the build process.  I.e.

1. Run publish (instead of build)
2. Run unit tests
3. If they pass, then actually use the output from the publish

I can imagine this could be problematical for users who want to build lots of projects, but only publish some. (E.g. don't publish the unit test projects).  Any other issue

[2017-06-28 07:49] Roemer opened #7015 "Multi targetting with conditional references copies only one version to each output"
## Steps to reproduce
Create a multitargetting project which includes different versions of an assembly based on the target.
For example:
[code]

## Expected  behavior
In each output folder is the correct referenced file.
In this example, net35 should have the 3.5 version of the Interop.UIAutomationClient.dll and net40 and net45 should have the 4.5 version of the Interop.UIAutomationClient.dll.

#

[2017-06-28 08:03] MiaomiaoHuangfu opened #7016 "dotnet commands keep prompting welcome text even if it is not the first time to run on a cmd shell"
## Steps to reproduce
- md consoleApp1;
- cd consoleApp1;
- dotnet new console;
- dontet restore;
- dotnet build;
- dotnet run;

## Expected  behavior
all dotnet commands run succeeded with no errors or warnings, welcome text only prompts for the first time to run dotnet command on a cmd shell.

## Actual behavior
all dotnet commands print duplicate text info:
[code]
In addition:
Test .net core ms

[2017-06-28 08:11] MiaomiaoHuangfu commented on #7016
Install d15prerel.26627.3003 of bootstrappers\BuildTools, select Web Tool Bundle workload;
Test mvc from CLI, with the same issue.

[2017-06-28 09:49] shimingsg commented on #6965
the big build number dotnet-sdk-2.0.0-preview2-006497 **passed**, should be fixed.

[2017-06-28 12:47] JonathanLoscalzo commented on #7013
this happens for all templates too :(

[2017-06-28 13:19] JonathanLoscalzo commented on #7013
maybe [this issue](https://github.com/dotnet/cli/issues/3330) solve the problem?

Create a nuget.config local,
add =>
<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />

it solve my problem... or I think so

[2017-06-28 13:45] Roemer commented on #7015
The only workaround I could think of for now would be to not copy the dlls to the output and using post-build hooks to manually copy the files.

[2017-06-28 15:57] jaredpar commented on #5331
@JohnRusk that works on small projects but not on bigger ones. Consider Roslyn which has ~160+ projects in our solution and eventually will have ~10-20 test projects that in theory need publishing. There is really no way to publish all of them without rebuilding their shared dependencies.

Having an explicit, and supported, no build publish is the only reasonable solution here.

[2017-06-28 17:13] johnbeisner commented on #6709
@juergenhoetzel
This was addressed in PR: https://github.com/dotnet/cli/pull/6839

I would be interested to know if this is working for you after this change.

[2017-06-28 17:13] #6709 closed

[2017-06-28 17:29] livarcocc commented on #7015
@nguerrera can you take a look? @Roemer have you tried moving the condition into the ItemGroup and then having the 3.5 and 4.0/4.5 references inside these conditioned ItemGroups instead?

[2017-06-28 17:33] livarcocc commented on #7013
@JonathanLoscalzo, look under %appdata%/NuGet/NuGet.Config and remove any references to CLIFallbackFolder from it. This is an entry that we no longer need in preview3. If you do that, you will get the real error, which is that we can't find the M.NC.App package. The reason for that is that the runtime between the CLI and asp.net are out of sync and when that happens, you need the feed above.

Stil

[2017-06-28 17:33] livarcocc commented on #7013
This issue was moved to NuGet/Home#5504

[2017-06-28 17:33] #7013 closed

[2017-06-28 18:10] daxian-dbw commented on #7013
@livarcocc thanks for the reply. Is there a working `2.0.0-preview3` .NET CLI now? If there is one, can you please share the exact version?

[2017-06-28 18:37] livarcocc commented on #7013
You can work around this issue by adding '<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />' to your NuGet.Config. Given that, any preview3 CLI should be working.

[2017-06-28 18:51] daxian-dbw commented on #7013
In my case, I always have a `NuGet.Config` file in the parent folder that contains the dotnet-core feed and it doesn't work. I also tried moving the `NuGet.Config` to the same folder, and it still doesn't work.
Structure of the 'Test' folder:
[code]
Content of `NuGet.Config`:
[code]
Content of `Test.csproj`:
[code]
Then running `dotnet restore` fails in the folder:
[code]
The `dotnet --info`:
[cod

[2017-06-28 19:25] damircolak commented on #5287
It still does not work.

DLL file is generated but no EXE

dotnet publish -r win7-x64

[2017-06-28 19:33] damircolak commented on #6237
Same question here, I do dotnet publish -c Release -r win7-x64 and I get ONLY DLL.

What in a world will my clients do with a DLL?

[2017-06-28 19:35] danmosemsft commented on #6237
@livarcocc for feedback above (since issue is closed)

[2017-06-28 19:40] andrewlock commented on #6952
I can reproduce this too, when running `dotnet new mvc --auth Individual -uld`

[2017-06-28 19:41] damircolak commented on #6237
Why do you close issues when they were not fixed? See my post for more details.

[2017-06-28 19:42] GuardRex commented on #5287
@damircolak You have a **\<OutputType> of `Exe`? Here's a sample from one of my test projects ... this one happens to be a 2.0 self-contained test app that I use for nightly bleeding edge testing ...

[code]

There's guidance in https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-cli and https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-with-xplat-cli

[2017-06-28 19:51] danmosemsft commented on #6237
@damircolak I cited @livarcocc so he could see your comments. I think it would be better for you to open a new issue for what you're encountering.

[2017-06-28 19:57] nguerrera commented on #7015
@livarcocc The conditions are fine where they are.

@Roemer I cannot reproduce this issue. Here is my attempt showing the correct behavior:  [ct.zip](https://github.com/dotnet/cli/files/1110040/ct.zip)

Is it possible that an error has caused the 3.5 Interop.UIAutomationClient.dll to land in the .\libs\Interop\4.5\ folder? I ask because I had actually build authoring issue that caused this in my f

[2017-06-28 20:10] damircolak commented on #5287
Yes, I have output type exe.
`<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp1.1</TargetFramework>

	<RuntimeIdentifiers>
		<RuntimeIdentifiers>win10-x64;osx.10.11-x64;win7-x64;ubuntu.14.04-x64</RuntimeIdentifiers>
	</RuntimeIdentifiers>

  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Newtonsoft.Json" Version="

[2017-06-28 20:13] GuardRex commented on #5287
You have the **\<RuntimeIdentifiers>** element twice there ... try this ...

[code]

[2017-06-28 20:16] GuardRex commented on #5287
Also note that I think u were trying to publish with `-r win7-x64`, but you list `win10-x64` in the runtimes in the project file. Match them and see if it works. Either publish with `-r win10-x64` or change it in the project file to `win7-x64`.

[2017-06-28 20:16] damircolak commented on #5287
If I use your csproj I get:

/usr/local/share/dotnet/sdk/1.0.3/Sdks/Microsoft.NET.Sdk/build/Microsoft.NET.Sdk.targets(92,5): error : Assets file 'project.assets.json' doesn't have a target for '.NETCoreApp,Version=v1.1/win7-64'. Ensure you have restored this project for TargetFramework='netcoreapp1.1' and RuntimeIdentifier='win7-64'. [/timesheet.csproj]

[2017-06-28 20:18] GuardRex commented on #5287
`win7-64`??? .... `win7-x64` ... is it just due to a typo when you tried to execute the `dotnet publish` command?

[2017-06-28 20:18] damircolak commented on #5287
I had several different runtime identifiers. Building a self contained build for each of them.

w10-x64 worked, w7-x64 did not.

w10-x64 exe gives this error when you try to start it:

 Error: assembly specified in the dependencies manifest was not found -- package: 'microsoft.codeanalysis.common', version: '1.3.0', path: 'lib/netstandard1.3/Microsoft.CodeAnalysis.dll'

[2017-06-28 20:32] GuardRex commented on #5287
Those RID's are definitely supported, so not sure unless you have packages conflicting with each other.

Just to set a baseline for yourself again, (if you don't already have it), get *nuget.exe* by downloading it from https://dist.nuget.org/win-x86-commandline/latest/nuget.exe, put somewhere and on your PATH (or just run it from wherever you download it), then execute ...

[code]
... to clean out

[2017-06-28 20:43] damircolak commented on #5287
Thanks, I'll give it a try.

[2017-06-28 20:45] dasMulli commented on #5287
@GuardRex fyi the locals command also works using the included `dotnet nuget` command. No need to download the nuget cli for that 😉

[2017-06-28 20:47] GuardRex commented on #5287
@dasMulli I was hoping that you were watching this discussion! lol ..... Old habits die hard! It's true, I haven't been using the new command for that (YET).

[2017-06-28 20:52] Roemer commented on #7015
Hmm I must say I cannot reproduce it with the pc I am currently. Will double-check tomorrow with the one where I found the issue.

[2017-06-28 22:23] dagood opened #7020 "CLI makes two "thrashing" dotnet/versions changes per build"
Looking at the [dotnet/versions history for dotnet/cli/master](https://github.com/dotnet/versions/commits/master/build-info/dotnet/cli/master) shows two commits for each build since `preview1-006576`. For example, https://github.com/dotnet/versions/commit/08826eb9169f9f5e0d7e60ac2305fc001a076bb6 and https://github.com/dotnet/versions/commit/090428660c6f31c3379825f730c46bffd13a62c6. There should on

[2017-06-28 23:54] rrelyea commented on #6001
To clarify @rohit21agrawal's statement -- migrating a UWP/Project.json project to use PackageReferences inside of csproj was coming soon into VS 2017 15.2 (already available when you retarget TPMV to RS2 or later) -- there is no migration of UWP projects to use NetCore SDK projects planned.

[2017-06-29 00:09] shanselman commented on #5918
@davidfowl This started in RC4 timeframe. Is this handled in 2.0?

[2017-06-29 00:43] jerometerry commented on #5918
On the latest bits .net core 2.0 preview 2, mac os x (mac air), dotnet run times against a hello, world! console app take 4+ seconds to run, consistently. Roughly the same times on a Mac Pro i tried at work. I was assuming that since I didn't change anything, the second run should have been blazing fast.

![screen shot 2017-06-28 at 10 10 15 pm](https://user-images.githubusercontent.com/2245652/27

[2017-06-29 01:33] AerisG222 opened #7022 "[.netcore 2 preview 2] dotnet (restore | build | run) does not complete when symlinks are present"
## Steps to reproduce

### First - create a new test website:
[code]
_This works_

### Next - add a symlink then try to build
[code]
_This never completes_

## Expected  behavior
dotnet cli would restore, build or run the project regardless of the presence of symlinks

## Actual behavior
dotnet cli seems to run in an endless loop, consuming lots of CPU when symlinks are in project directories.  De

[2017-06-29 01:40] richlander opened #7023 "Enable building .NET Framework and PCL projects"
Goal: Enable building .NET Framework and PCL projects with the .NET Core SDK.

This should enable:

- All .NET Framework versions.
- All PCL profiles (if some pull in WinRT or have exceedingly low usage, we can skip those and wait for demand).

There are many things that you might need to building a .NET Framework projects. The .NET Core SDK should handle the case where reference assemblies are ne

[2017-06-29 03:51] dasMulli commented on #7023
Maybe related to https://github.com/dotnet/sdk/issues/335 ?
Building for net* on non-windows pops up frequently, I [summarized the current ways recently on SO](https://stackoverflow.com/a/44773795/784387).

[2017-06-29 04:24] JohnRusk commented on #6345
BTW, it is confusing that pages like this one: https://github.com/dotnet/core/blob/master/release-notes/download-archives/1.1.2-download.md, don't even acknowledge that the script-based install option exists

[2017-06-29 09:32] Roemer commented on #7015
The problem is actually something different. I Want to add those library files to the generated nuget assemblies as well. For that I use:
[code]
If I add the ```Condition```there as well it works.

To make it easier now, I thought about having a Interop\net35, Interop\net40 and Interop\net45 folder (where net40 and net45 have the same content) and just using the ```$(TargetFramework)``` variable i

[2017-06-29 09:34] Sunny-pu opened #7026 "Didn't get the latest build on Linux"
## Steps to reproduce
Got the latest build is 2.0.0-preview3-006609 in page https://github.com/dotnet/cli/tree/release/2.0.0
1. download the package via wget -O ~/dotnet-dev-linux-x64.latest.tar.gz https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0/dotnet-sdk-latest-linux-x64.tar.gz
2. extract the package
3. add the extract path to PATH
4. dotnet --info to check the build number

##

[2017-06-29 10:31] Roemer commented on #7015
I actually can't make this work with the csproj. Maybe someone of you got an idea. Otherwise I probably need to go back to nuspec or cake for building the nuget packages.

[2017-06-29 10:41] Roemer commented on #7015
The problem seems to be that the files to include into the nuget are "added" to the project (with `None`) and according to [this](https://blogs.msdn.microsoft.com/manishagarwal/2005/09/28/resolving-file-references-in-team-build-part-2/) it first searches in the project files. That is probably why it is using the "wrong" file in the output.
The correct solution should be to find a way to add files

[2017-06-29 12:18] AdamPD commented on #3073
@bravecobra - I have the exact same problem.  Do you know of any workaround?

[2017-06-29 15:27] Petermarcu opened #7027 "Cannot install on Linux when Preview1 is present"
Copied from: https://github.com/dotnet/core/issues/717#issuecomment-312000817

## Steps to reproduce
follow the install instructions on how to install the apt-get package.

## Expected  behavior
install succeeds

## Actual behavior
I have follow both installation instructions in GitHub and the .NET Core Download page. I'm getting the same error message:

`Unpacking dotnet-sdk-2.0.0-preview2-006497

[2017-06-29 16:16] dmbarbour commented on #7000
I'm seeing the same problem with any attempt to create a solution. Steps to reproduce:

    mkdir tmp; cd tmp
    mkdir A; cd A; dotnet new classlib -lang f#; cd ..
    dotnet new sln
    dotnet sln add A/A.fsproj
    dotnet build

Error at this point is: `/tmp/A/A.fsproj.metaproj : error MSB4025: The project file could not be loaded. Could not find file '/tmp/A/A.fsproj.metaproj'`. Same dotnet ve

[2017-06-29 16:24] daxian-dbw commented on #7013
@livarcocc Could you please comment? Moving the NuGet.config file to the same folder doesn't work for me, and I see the same problem with `2.0.0-preview3-006609`. This is on a win10 clean machine without `%appdata%/NuGet` folder.

[2017-06-29 17:00] Petermarcu opened #7030 "Short forms of CLI args are not working"
Moved from : https://github.com/dotnet/core/issues/711 @JeffreyMcBride

dotnet --version
dotnet --info
dotnet --diagnostics
All work fine

dotnet -v
dotnet -i
dotnet -d
All return Unknown option even though help indicates

-v|--version
-i|--info
-d|--diagnostics

## Environment data
`dotnet --info` output:
2.0 preview 2

[2017-06-29 17:03] livarcocc commented on #7030
If you look at the output of dotnet --help, -v is not short for version, it is short for verbose, and -i is not short for info. --info has no short. Lastly, -d and -v do work, but they are only used in conjunction with a command.

[code]

[2017-06-29 17:04] livarcocc commented on #7027
@wli3 can you take a look at this one when you have a chance?

[2017-06-29 17:07] nil4 commented on #7030
@livarcocc Using **CLI 2.0 preview 2**, here is the output I see:

[code]

Note the last three lines:

[code]

[2017-06-29 17:16] Petermarcu commented on #7027
It looks to me like the nuget cache is causing the SDK to no longer be SxS. We are not trying to update some components in place and the design of the installer is such that that is not supposed to happen.

[2017-06-29 17:22] livarcocc commented on #7027
The conflict above is in the runtime store, not the nuget cache though.

[2017-06-29 17:25] Petermarcu commented on #7027
Yeah, that would be the other place. :( I guess the Nuget cache doesn't conflict because it's not tracked by the installer but I bet the first run is overwriting or handling the fact that it's already there.

[2017-06-29 17:27] Petermarcu commented on #7027
@DamianEdwards @steveharter @muratg we probably need to meet to discuss this. I think the runtime store is going to need to go in a versioned folder.

[2017-06-29 17:34] Petermarcu commented on #7030
reopening because it looks like the usage info changes from 1.X to 2.0.

[2017-06-29 18:26] livarcocc commented on #7030
I am sorry. You guys are absolutely right. Those three options are wrong, version and info belong there, but without the short hand form and -d does even belong there. We will fix it.

[2017-06-29 18:30] DamianEdwards commented on #7027
Yeah when this was designed and discussed I believe in the room it was said that if the payloads were identical in the same path it would "just work". Seems that's not the case. I'm curious how *dotnet.exe* and things like that get around this though. Aren't they the same or updated between releases and in the same location on disk? Do we simply need to put the runtime store in its own package and

[2017-06-29 18:32] Petermarcu commented on #7027
I agree, the same thought occurred to me. I'm going to try to talk to some of the folks that know packaging options better as well.

[2017-06-29 18:32] Petermarcu commented on #7027
I'm guessing its because the identity of the package is changing and not just the version.

[2017-06-29 18:59] DamianEdwards commented on #7027
It is? Is that because we're putting the "preview2" moniker in the package id/name? Why do we do that?

[2017-06-29 19:00] DamianEdwards commented on #7027
I'm guessing this is a side-by-side enabling thing?

[2017-06-29 19:44] bricelam opened #7034 "Access to path '...\NuGetFallbackFolder\...\dotnet-ef.runtimeconfig.json' is denied"
(Copied from internal bug 456961)

## Steps to reproduce
1. File > New Project > ASP.NET Core Web Application (.NET Core) > Web App(Ind Auth) - 2.0.
2. In Solution Explorer, right click the Models folder > Add > Class. Name the class Movie and add the following properties and build.
[code]
3. Right-click the Controllers folder > Add > Controller, in the Add Scaffold dialog, tap MVC Controller with

[2017-06-29 19:45] bricelam commented on #7034
(Copied from comment on internal bug)

Not repro in Dev15.3 Preview 3 + CLI 2.0 Preview 2(2.0.0.6497).
Also repro with  ASP.NET Core Web Application (.NET Core) > Web App(No Auth) - 2.0.

[2017-06-29 20:14] wli3 opened #7035 "CLI cannot run on clean Windows 7"
https://github.com/dotnet/core-setup/issues/2759

[2017-06-29 20:20] Petermarcu commented on #7027
@leecow were discussing this. Apparently this isn't a new problem in preview releases and isn't specific to the runtime store. I'm going to be talking to a bunch of folks about installer options for fixing this. One step in the right direction is definitely to have the SDK depend on a package that is the runtime store. That way the runtime store can version independently of the SDK if needed and y

[2017-06-29 21:05] livarcocc commented on #7035
Why is this on the CLI?

[2017-06-29 21:07] livarcocc commented on #7034
@bricelam this is weird. we have no read access to that folder? Or are you trying to write to that folder?

[2017-06-29 21:08] wli3 commented on #7035
Book keeping? Since it is blocking Installer test now. If it is not necessary to have one on CLI i'll close this

[2017-06-29 21:17] wli3 commented on #7035
By design, update Windows first is required

[2017-06-29 21:17] #7035 closed

[2017-06-29 21:28] livarcocc commented on #7034
It seems like we are using the wrong constructor when creating the FileStream to read the runtimeconfig.json.

We should try with

[code]

[2017-06-29 22:35] dmbarbour commented on #5918
A related idea: during development, it's common to do LOTS of builds. So a useful feature would be to support partial AOT compilation (even if it's just JIT + caching) for the more stable parts of the dependency graph.

What would it take to add such a feature?

At the moment, it takes me a minute (a MINUTE) to run Suave via dotnet for a simple Hello World app. Support for AOT and fast startups is

[2017-06-29 22:56] dmbarbour commented on #6241
Just a note:
  `dotnet run` calls `dotnet exec bin/Debug/netcoreapp.1.1/app.dll`

A fresh build is very slow, as you might expect.

    Hello World from F#!

    real	0m4.716s
    user	0m4.216s
    sys	0m0.380s

It's a fair bit faster on subsequent runs, but still awfully slow.

    Hello World from F#!

    real	0m1.424s
    user	0m1.300s
    sys	0m0.084s

But if we call the executable directly..

[2017-06-29 23:12] dmbarbour commented on #6241
@tmds It seems #5918 is about build times, whereas this one is about the painful delay between `dotnet run` and `dotnet exec`.

[2017-06-29 23:13] dmbarbour commented on #5918
@jerometerry There seems to be a separate issue that delays `dotnet exec` after `dotnet run`, cf. #6241 .

[2017-06-29 23:21] dmbarbour commented on #6224
This may be more closely related to #6421, an issue with `dotnet run` specifically rather than build times or `dotnet exec`.

[2017-06-29 23:29] dmbarbour commented on #7000
I have a workaround: I'm just using a toplevel project instead of a toplevel solution.

[2017-06-30 00:55] Petermarcu opened #7037 "Installer doesn't finish at the end of the install"
Copied from https://github.com/dotnet/core/issues/721

Thanks for your interest in .NET Core.

Please note that this repo (dotnet/core) is not for filing product issues. Here are some repos where you can file an issue:

dotnet/cli - for CLI tools and questions
dotnet/corefx - for API issues and questions
dotnet/coreclr - for runtime issues
nuget/home - for NuGet questions and issues
Just an FYI as

[2017-06-30 00:55] Petermarcu commented on #7037
@MaximoTrinidad

[2017-06-30 01:23] livarcocc commented on #7016
This has been fixed and inserted into VS. Please, try tonight's build and re-activate if this still repros.

[2017-06-30 01:23] #7016 closed

[2017-06-30 03:07] #6739 closed

[2017-06-30 07:29] tmds commented on #6241
`dotnet run` = `dotnet build` + `dotnet exec`

[2017-06-30 08:55] Tealons commented on #6952
I have the same problem with 2.0.0-preview2-006497.

@livarcocc : Can you reopen this issue? Is seems to be back...

[2017-06-30 10:48] svick opened #7043 "Add option for installing prerelease packages to dotnet add package"
Currently, when I want to add a prerelease package to a project, I have to explicitly specify its version. For example: `dotnet add package System.Memory` does not work, but `dotnet add package System.Memory -v 4.4.0-preview2-25405-01` does.

This is inconvenient when I want to install the latest version of the package, even if it's prerelease. So I propose that a new `--prerelease` option should

[2017-06-30 14:49] ngbrown commented on #7016
I am experiencing this same behavior, with the same version (1.1.0-preview1-005051) of the `dotnet` tool by installing Visual Studio 2017.3 Preview (15.3.26621.02) on a fresh Windows 10 install.

Downloading and installing the latest dotnet sdk (2.1.0-preview1-006635) didn't resolve this.  It didn't try to restore the offline packages and fails on `dotnet new console`

[code]

[2017-06-30 15:00] dmbarbour commented on #6241
@tmds Okay, now I know some more underlying details. We could probably greatly improve `dotnet build` to check dependencies first, as per #5918. That said, there's still a ~20% performance advantage to `dotnet build && dotnet exec ...` over `dotnet run` across a few simple tests (both single and multi-project):

    time (dotnet build && dotnet exec bin/Debug/netcoreapp1.1/tst.dll)
    time (dotne

[2017-06-30 17:05] wli3 commented on #7037
@MaximoTrinidad what is behavior that you did not expect?

1. Having the message print out that doesn't look like installation?
2. The wait after installation? One of the process is priming the cache. This used to be at the first time the user use dotnet command.
3. Need to press something or it won't proceed? It should not happen, I am checking that. Also, your terminal doesn't look like the one

[2017-06-30 17:10] livarcocc commented on #7043
This issue was moved to NuGet/Home#5517

[2017-06-30 17:10] #7043 closed

[2017-06-30 17:11] livarcocc commented on #7007
@Petermarcu @steveharter can you guys help take a look?

[2017-06-30 17:21] livarcocc commented on #7016
@ngbrown what you are seeing is actually different. You picked up a version of the preview3 of the CLI. This version of the CLI requires you to add a NuGet.Config with `<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />` in the package sources, because the offline cache does not contain all the packages.

[2017-06-30 17:23] livarcocc commented on #6952
@mlorbetske @balachir can you guys take a look at this?

[2017-06-30 17:32] wli3 commented on #7037
@MaximoTrinidad Now I see, there is no clear message saying the installer are doing at the end of the process which Windows and Mac installer has today. The wait is necessary, but the experience is confusing

![deb-install](https://user-images.githubusercontent.com/6993335/27747227-2d6ea788-5d7f-11e7-971e-166c1a60fbcc.gif)

[2017-06-30 17:40] karelz commented on #7007
@steveharter is the right person to look at it.

[2017-06-30 17:44] ngbrown commented on #7016
@livarcocc you [had said](https://github.com/dotnet/cli/issues/7016#issuecomment-312149803) try last night's build, and that was the only build I found (https://github.com/dotnet/cli).  So maybe I should ask where is the build you are referring to.

[2017-06-30 17:44] kellermanrivero commented on #4865
Hi everyone, I found temporary workaround:

1. Get libicu-56 for Fedora 24
```wget ftp://fr2.rpmfind.net/linux/fedora/linux/releases/24/Everything/x86_64/os/Packages/l/libicu-56.1-4.fc24.x86_64.rpm```

2. Extract the rpm contents.
```rpm2cpio libicu-56.1-4.fc24.x86_64.rpm | cpio -idmv```

3. Move the required files
```sudo cp -v ./usr/lib64/* /usr/lib64 && rm -Rvf ./usr```

After that dotnet shoul

[2017-06-30 17:53] livarcocc commented on #7016
For the first run experience problem, it is a build under rel/1.1.0 branch. For 2.0. our builds are under release/2.0.0. If you want the latest 2.0 preview build that we officially release, you can get that here: https://www.microsoft.com/net/core/preview

[2017-06-30 17:57] ngbrown commented on #7016
The URL's on that page (https://github.com/dotnet/cli/tree/rel/1.1.0) all point installers and version files for release 1.0.1.  The `README.md` in the rel/1.1.0 branch needs updated.

[2017-06-30 18:00] ngbrown commented on #7016
I got the `dotnet` cli version `1.1.0-preview1-005051` from installing Visual Studio 2017.3 from (https://www.visualstudio.com/vs/preview/), so I wasn't clear on where the bits and pieces were to fix problems like this.

[2017-06-30 19:00] Petermarcu commented on #7007
@Miclebrick , how did you install? Did you use the zip or apt-get?

[2017-06-30 19:04] mlorbetske commented on #6952
I think this is because the change to support AssetTargetFallback came in 15.3 Preview 3, so updating VS to the very latest preview again should work.

[2017-06-30 21:57] livarcocc opened #7051 "Define a property to identify the SDK version"
_From @AArnott on December 19, 2016 5:2_

The cross-targeting / SDK project type offer new functionality that a build extension may want to detect in order to reliably leverage (as opposed to setting properties and blindly hoping the new functionality is present).

Please define a new property that a build extension can check for to detect the use of the new SDK attribute in the project file.

Per

[2017-06-30 21:57] livarcocc commented on #7051
_From @onovotny on December 21, 2016 16:49_

More than just a property, we need to know how to call it when referring to it in documentation. It needs a "marketing name" too.

[2017-06-30 21:57] livarcocc commented on #7051
_From @dsplaisted on December 30, 2016 1:5_

I'd suggest defining a property that indicates the version number of the .NET SDK that is being used.  That way if a NuGet package depends on functionality in a new version of an SDK, the package can have MSBuild logic that will generate an error saying you need to use a newer SDK if the current version isn't high enough.

[2017-06-30 21:57] livarcocc commented on #7051
_From @nguerrera on December 30, 2016 22:30_

@dsplaisted Makes sense. Which version should we use? I think it should be System.Version parse-able to be friendly to msbuild's support for semantically correct comparisons of those.

[2017-06-30 21:57] livarcocc commented on #7051
_From @dsplaisted on January 6, 2017 22:59_

@nguerrera yes, I think it should be a System.Version version, and it would be nice to have another property indicating the semantic version suffix (ie "alpha-1234" or whatever)

[2017-06-30 21:57] livarcocc commented on #7051
_From @ericstj on January 7, 2017 0:44_

+1 to this.  I'm actually blocked on this.  I'm creating a nuget package that needs to understand if its in nuget2 vs nuget3 vs nuget4 mode.  I thought I had a good condition for this: https://github.com/dotnet/standard/commit/09e9f9ecda4aa9eeedc2aadbd1b0bdaff8d6e010#diff-de762529dcf068a5867280f815198927R9 but it looks like the properties I was using are ac

[2017-06-30 21:57] livarcocc commented on #7051
_From @ericstj on May 11, 2017 16:55_

+1 again.  I'd like to poison our new framework packages and point folks to update their SDK.  I'd really like something explicit to trigger that on, rather than a side-effect of implementation.

[2017-06-30 21:57] livarcocc commented on #7051
_From @AArnott on May 11, 2017 17:14_

Maybe if folks +1 the top-level issue itself it will gain more visibility. :)

[2017-06-30 21:57] livarcocc commented on #7051
_From @nguerrera on May 11, 2017 17:26_

@dsplaisted can you poach this as part of your bug push?

[2017-06-30 21:57] livarcocc commented on #7051
_From @ericstj on May 11, 2017 18:40_

Ideally this is a property to identify both the SDK project type and the SDK version.

[2017-06-30 21:57] livarcocc commented on #7051
_From @nguerrera on May 11, 2017 18:50_

What do you mean by sdk project type?

[2017-06-30 21:57] livarcocc commented on #7051
_From @ericstj on May 11, 2017 18:51_

What @AArnott described initially.

[2017-06-30 21:57] livarcocc commented on #7051
_From @nguerrera on May 11, 2017 20:56_

So "is this an sdk project or not" not "what kind of sdk project is this". Got it.

[2017-06-30 21:57] livarcocc commented on #7051
_From @nguerrera on May 23, 2017 21:22_

Implementing the boolean part in #1242. Plumbing the version through is more problematic so keeping that separate.

[2017-06-30 21:57] livarcocc commented on #7051
Closing this issue in the SDK side and moving it to the CLI side to provide an SDK version property. We should do something similar to Microsoft.NETCoreSdk.BundledVersions.props.

[2017-06-30 22:54] #7030 closed

[2017-06-30 23:25] livarcocc commented on #5007
Closing this issue, the only missing piece is the Nuget satellite assemblies. We will track that through https://github.com/dotnet/cli/issues/6114.

[2017-06-30 23:25] #5007 closed

[2017-06-30 23:46] #7037 closed

[2017-06-30 23:48] ryanbrandenburg opened #7054 "Changing TFM without cleaning throws error"
## Steps to reproduce
1. "dotnet new console"
2. "dotnet build"
3. Change the TargetFramework from netcoreapp2.0 to net461.
4. "dotnet build"

## Expected  behavior
Build succeeds.

## Actual behavior
Build fails with
[code]

## Environment data
`dotnet --info` output:
[code]

[2017-07-01 00:00] livarcocc commented on #7015
Given that this is an issue with pack, I am moving this to NuGet. If there this turns out to require changes in the CLI/SDK, please, just move it back. We will be glad to help.

[2017-07-01 00:00] livarcocc commented on #7015
This issue was moved to NuGet/Home#5520

[2017-07-01 00:00] #7015 closed

[2017-07-01 00:02] livarcocc commented on #7054
This has been addressed in preview2, since we now do implicit restore during build.

[2017-07-01 00:02] #7054 closed

[2017-07-01 00:03] livarcocc commented on #7026
This is a dup of https://github.com/dotnet/cli/issues/6934.

[2017-07-01 00:03] #7026 closed

[2017-07-01 00:32] AArnott commented on #7051
So moving this issue to dotnet/cli shouldn't mean that only `dotnet build` invocations will see the new property, will it? I need it for MSBuild.exe too.

[2017-07-01 01:52] nguerrera commented on #7051
No, it's an implementation detail of how we generate version props. It'll be available to msbuild too.

[2017-07-01 03:44] ngbrown commented on #7016
The latest build at https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.1.0/dotnet-dev-win-x64.latest.exe is 1.1.0.5045, even older than what was packaged with Visual Studio 2017.3 Preview.  Installing it didn't resolve anything.

What is the exact URL to get nightly builds?

[2017-07-01 11:56] andrewlock commented on #6952
I'm only compiling via the command line (I haven't installed VS) and I see the restore warnings, namely

I assume `dotnet` build doesn't have a dependency on the VS version?

[2017-07-02 01:11] jdnichollsc opened #7058 "Execute targets building with dotnet cli"
Hi friends, I can't trigger my building targets using the dotnet cli.

## Steps to reproduce
Execute the following command:
`dotnet build ./project.json --build-profile --no-incremental`

## Expected  behavior
Execute my following targets with the cli:
[code]

## Actual behavior
The targets doesn't works building with the cli, only with Visual Studio.

## Environment data
[code]
Please, include mo

[2017-07-02 10:07] dasMulli commented on #6241
@dmbarbour @tmds which version are you using? in 2.0 preview 3 `dotnet run` is restore + build + exec. (with NuGet having implemented incremental restore)

[2017-07-02 12:15] dmbarbour commented on #6241
@dasMulli 1.0.4

[2017-07-02 12:29] whyleee commented on #6178
I have 2.0.0-preview2-006497 version installed on Mac and copying Microsoft.Docker.Sdk folder doesn't help there. I get another error with default .NET Core 2.0 api project and Docker support:
[code]

[2017-07-02 14:37] dasMulli commented on #6241
Another difference between `run` and `build` + `exec` is that `run` also evaluates the project to determine the command to run (by evaluating the properties `RunCommand`, `RunArguments`, and `RunWorkingDirectory` from the project which are [defaulted by the SDK](https://github.com/dotnet/sdk/blob/cd25d6bbfc2aac61cc790c511900427ac64fdaa8/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.t

[2017-07-02 19:55] wli3 commented on #7058
Hi @jdnichollsc The version you are using is pretty old. It is still project json based and it is preview for 1.0.(we just released preview 2 for 2.0 😄  ) And could you give me an minimal version of project you are using? It is project json based, however you are also invoking an msbuild target, I don't know how the target is configured to the project json file.

[2017-07-02 20:44] jdnichollsc commented on #7058
Hi @wli3, thanks for your quickly response!
Let me send it to you  later, I would like to know the way to work with Gulp using the last stable version with TeamCity, exist any example?
Thanks in avance, Nicholls

[2017-07-02 21:35] macsimiliano commented on #3199
After removing the "-" of the solution name and references and rebuild the namespaces has worked for me :-).

[2017-07-03 02:45] mcm-ham commented on #6044
Thanks @am11 for your final solution, note the last line can be replaced with `dotnet msbuild`.

[2017-07-03 12:29] stijnherreman commented on #4874
@GuardRex there's some useful info in there but they need updating, see dotnet/docs#2255

[2017-07-03 13:32] reecebradley commented on #4850
Watched the community stand-up - interesting background on how this bug really 'BUGGED' @shanselman  ;-)
Always interesting listening to community stand-ups, keep up the good work!

[2017-07-03 14:30] GuardRex commented on #4874
@stijnherreman Yes, since I wrote that :point_up: a few weeks ago, it's in the bullpen at the review stage with https://github.com/dotnet/docs/pull/2467. It's subject to changes (usually not major changes tho). We don't have a built version of that one that can be seen, but the raw GH version is at: https://github.com/GuardRex/docs-1/blob/85e025b022b2f37263f2dbfbd0ea59fbd04d49f3/docs/core/porting/

[2017-07-03 16:50] #6891 closed

[2017-07-03 17:48] aleslash opened #7062 "Using NuGet repository with password encription - Not Supporte on non-Windows Platforms"
## Steps to reproduce
Use local nuget repository that demands password encription
My nuget.config works fine in Windows environment, but on linux OS it doesn't.

## Expected  behavior
Successfully connect with local Nuget repository.

## Actual behavior
  Restoring packages for /opt/apl/testeDotnet/testeDotnet.csproj...
  Retrying 'FindPackagesByIdAsyncCore' for source 'http://<removed>/api/nuget/

[2017-07-03 17:59] livarcocc commented on #7062
This issue was moved to NuGet/Home#5526

[2017-07-03 17:59] #7062 closed

[2017-07-03 19:02] dluc commented on #3995
Issue still open with latest version. Any update?

[code]

[code]

[2017-07-03 21:38] mairaw opened #7065 "dotnet help opens cmd window"
## Steps to reproduce
Originally reported by issue #6587. Link issues have been fixed however I still think that the following two commands shouldn't be opening a new command window:
`dotnet help complete`
`dotnet help parse`

## Expected  behavior
No command window opens

## Actual behavior
Command window opens

## Environment data
`dotnet --info` output:
.NET Command Line Tools (2.1.0-preview1-0

[2017-07-04 03:42] jdnichollsc commented on #7058
Fixed with the last version of **.NET Core** using **Visual Studio 2017**.

[2017-07-04 03:42] #7058 closed

[2017-07-04 13:37] atsushieno opened #7070 "build issue: dotnet-install points to nonexistent file on azureedget.net on Linux build"
## Steps to reproduce

Check out the repository and run build.sh.

## Expected  behavior

It should build out of the box.

## Actual behavior

	/sources/dotnet/cli$ ./build.sh
	+ /sources/dotnet/cli/scripts/obtain/dotnet-install.sh --channel release/2.0.0 --install-dir /sources/dotnet/cli/.dotnet_stage0/x64 --architecture x64 --version 2.0.0-preview3-006628
	dotnet-install: Downloading link: https

[2017-07-04 17:34] am11 opened #7072 "Unable to get JITDisasm with dotnet-run"
## Description

The CLR configuration knobs documentation suggests that if we set the environment variables, the knobs variables set by the environment shall be abided.

https://github.com/dotnet/coreclr/blob/38a2a69/Documentation/project-docs/clr-configuration-knobs.md

This holds if we build CoreCLR and run the app via corerun, but not when running with dotnet.exe/corehost.exe.

## Steps to repr

[2017-07-04 22:50] Miclebrick commented on #7007
apt-get - Although I ended up just renting a SmarterASP server

[2017-07-05 03:13] albertopatino commented on #4865
@kellermanrivero Thanks! Workaround works for me !

[2017-07-05 03:19] rizamarhaban commented on #7070
Just adding, I got this error from the log when deploying to Azure App Service.

    It was not possible to find any compatible framework version
    The specified framework 'Microsoft.NETCore.App', version '2.0.0-preview2-25407-01' was not found.

      - Check application dependencies and target a framework version installed at:
      \
      - Alternatively, install the framework version '2.0.0

[2017-07-05 12:51] Tealons commented on #6763
@livarcocc : I got a simmilar error, even after adding the correct NuGet.Config reference. What is going wrong?

![image](https://user-images.githubusercontent.com/7141563/27865066-6a2bdb62-6191-11e7-86bb-7b1c68c22f63.png)

[2017-07-05 13:52] victorperin commented on #4865
Can someone reopen this bug? It still happening, we don't have libicu 57 support.

[2017-07-05 14:53] Tealons commented on #6763
@livarcocc Never mind, I was using the wrong docker image....

[2017-07-05 15:54] evildour opened #7075 "'dotnet build' assumes "Build Dependencies -> Project Dependencies" are project references"
## Steps to reproduce
Create new .NET Core class library (and solution) in VS 2017
Right click solution and add new .NET Core class library
Edit csproj file for the 2nd class library
Change its TargetFramework from netcoreapp1.1 to net45
Right click on the first class library's project and click "Build dependencies -> Project dependencies..."
Check the box to make it depend on the other class libr

[2017-07-05 16:46] livarcocc commented on #7070
These are two separate issues.

@atsushieno the 404 is a false alarm. The scripts first try to find the artifact from one location (fails with 404) and it falls back to another location. The issue you saw seems to be some issue with the downloaded file, since tar failed to complete. Did you retry?

@rizamarhaban I believe the preview2 release is still being rolled out to Azure. So, you can either

[2017-07-05 16:46] #7070 closed

[2017-07-05 16:55] wli3 commented on #6921
dotnet help is (I think the only) manually created description. It cannot scale well to other places.

To support this, suggest command as well as description from parser config should be a better way, however, it also requires new parser to be used for top level command as well

[2017-07-05 17:05] #6934 closed

[2017-07-05 18:01] mike-morr opened #7078 "Template fails dotnet restore after updating to dotnet core 2 preview 2"
## Steps to reproduce
[Install dotnet core](https://www.microsoft.com/net/core#windowscmd)
Install dotnet core 2 Preview 1
dotnet new -i Fable.Template
dotnet new fable -n TestProj
dotnet restore **(should work)**
[Install dotnet core 2 Preview 2](https://www.microsoft.com/net/core/preview#windowscmd)
dotnet new -i Fable.Template
dotnet new fable -n TestProj
dotnet restore

## Expected  behavior

[2017-07-05 18:52] livarcocc commented on #7078
I don't see how this belongs in the CLI repo. We do not own the Fable templates. Should you move this bug to the fable repo?

[2017-07-05 18:57] forki commented on #7078
No the problem is that the template source is fine. The template update process is somehow broken.
We have this behavior seen with multiple users.

[2017-07-05 18:57] livarcocc commented on #7078
We do not own this Paket.Restore.targets target. We do not know what it does.

[2017-07-05 18:59] livarcocc commented on #7078
I see this in the targets:

[code]

It is up to the template owners to figure out why this is not being set properly anymore.

@KevinRansom I wonder if this is due to preview2 moving to the new F# SDK?

[2017-07-05 19:07] forki commented on #7078
Yes we do understand that you don't own these files. As far as we already know these files are all correct in the template source. And this has nothing to do with F# sdk or paket.
The problem is simply that after dotnet new we have a diff between the fresh project and the original template.
Something is messing this up.

[2017-07-05 20:13] richlander commented on #7023
I passed this on to @terrajobst to think about. Thoughts?

[2017-07-05 20:24] danielwertheim opened #7079 "Project reference version when packing project"
I have a solution with two projects **A** and **B** where **B depends on A** as a project reference.

I've tried packing the csprojs using `dotnet pack` and `msbuild` with target "Pack" passing version. This works fine, how-ever, what I want is to set the passed version on the project reference to A from B. How do I do this? The result should be A.1.0.0.nupkg and B.1.0.0.nupkg where B -> A with fi

[2017-07-05 20:53] livarcocc commented on #7079
This issue was moved to NuGet/Home#5540

[2017-07-05 20:53] #7079 closed

[2017-07-05 21:07] schmitch commented on #4697
it would be great to have a command that can pin/update packages or at least a dotnet packages outdated command.

[2017-07-05 21:23] KevinRansom commented on #7078
@forki
Hey mate, I think your .targets may be slightly broken:

In the section bellow:

I believe PacketRootPath should be PacketToolsPath or vice-versa.

[code]

[code]

[code]