[2016-01-19 20:09] brthor commented on #844
Chatted with @victorhurdugaci and it looks like DNX looks next to the project.json for a NuGet.config in the directory where the project.json sits.

@piotrpMSFT Since the tool project.json is generated in a temporary directory, it likely isn't picking up the custom feed from the NuGet.config

/cc @Sridhar-MS

[2016-01-19 20:18] victorhurdugaci commented on #844
If you generate the temporary folder under a different folder than the project being restored it, then you have the resolve the nuget feeds yourself... Otherwise, only the global nuget config file is used

[2016-01-19 20:20] DamianEdwards commented on #792
@blackdwarf how do we get this looked at actively again? I'd like this done for RC2.

[2016-01-19 20:24] schellap commented on #889
Can you try specifying this as a workaround?

`export ComPlus_ThreadPool_ForceMinWorkerThreads=2`
`set ComPlus_ThreadPool_ForceMinWorkerThreads=2`

See ThreadPool_* here:
https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/clr-configuration-knobs.md

@gkhanna79, the configuration knobs for CoreCLR need to be exposed by the corhost interface. Is someone working on this? Or is t

[2016-01-19 20:35] blackdwarf commented on #792
@DamianEdwards the whole proposal you outlined above? I will move it to RC2 and then we can triage. Sounds OK?

[2016-01-19 20:35] benaadams commented on #889
@schellap yep that works used
[code]
For 1024 of synchronous blocking type connections and it worked happily

[2016-01-19 20:50] Sridhar-MS commented on #844
I made the fix to restore the tools dependencies in the temp folder last friday #877. And yes it picks up the nuget feed from %APPDATA%\NuGet\NuGet.Config. Let me fix this.

[2016-01-19 21:30] victorhurdugaci commented on #844
It seems that tools restore works if I manually pass all the feeds:

[code]

So the bug now it that it tools restore uses the wrong feeds.

[2016-01-19 21:32] brthor commented on #844
@Sridhar-MS What is your planned fix?

I'm not sure what is right here since we'd need to merge the NuGet.config in the project directory and any parent directories to get the full list of sources.

[2016-01-19 21:34] victorhurdugaci commented on #844
My 2c is that you should create the temp folder in the same folder as the project. That way you piggyback on nuget's feed resolution strategy. Otherwise, you have to implement the merging yourself.

[2016-01-19 21:42] DamianEdwards commented on #792
@blackdwarf thanks

[2016-01-19 21:43] Sridhar-MS commented on #844
My plan is to create the temp files in the project root directory. So the same nuget.config resolution happens for both `dependencies` and `tools`.

[2016-01-19 22:07] piotrpMSFT commented on #844
@sridhar-ms, that seems like the right fix!

[2016-01-19 22:49] piotrpMSFT commented on #620
This is being worked on as we speak. I'll try to link an issue later.

[2016-01-19 22:51] piotrpMSFT commented on #792
What about testRunner? It is currently a top-level property.

[2016-01-19 22:53] DamianEdwards commented on #792
Are there other properties it's logically related to? Why must it be top-level?

[2016-01-19 22:56] piotrpMSFT commented on #792
There is not a better node for it. At this time we don't have peer properties for it, but we may want to create a test peer to compilationOptions for future extensibility...

[2016-01-19 22:59] anurse opened #900 "Work around NuGet packaging bug"
We need to work around https://github.com/NuGet/Home/issues/1957

[2016-01-19 23:02] anurse opened #901 "corehost causes segfault sometimes?"
On the Ubuntu build agent, we got a segfault trying to run dotnet restore:

As far as I can tell, this isn't an issue in the application being run. We are going to work around this by using `corerun` instead, but this should probably be investigated.

[2016-01-19 23:17] blackdwarf opened #903 "Add the proper link to the custom conclusion file"
As discussed in #880 we need to add a proper dependencies document that describes what the user needs to install and how, and then we need to link to **that** file in the custom conclusion page in the PKG.

[2016-01-19 23:29] gkhanna79 commented on #889
@schellap COMPlus* configuration settings are intended to come from environment variables. However, the question about exposing ThreadPool configuration (either by adding a setting in runtime.config.json or FX API) is something @sergiy-k should comment on.

[2016-01-19 23:48] brthor commented on #212
We do not currently orchestrate a build of the corefx native components. We consume the components as packaged in NuGet.

I'm not sure how feasible building these from source in the CLI repo is. It would increase our build times even further and would introduce complexity around ensuring the packages we build against and the native components we build ourselves are built from the same commit.

It

[2016-01-19 23:57] #900 closed

[2016-01-20 00:07] ellismg commented on #212
Yes.  If/when we support that RID, CoreFX would handle the packaging and building of the native shims.  If your build process just consumes packages based on RIDs for the target, you'd also be OK.

[2016-01-20 00:23] brthor commented on #212
That we do. At that point, the only change required to produce a Ubuntu 15.10 compatible debian package would be creating an appropriate build definition (including ensuring we push to the right feed).

The updated libicu would be automatically picked up by the debian helper scripts used by the package tool.

[2016-01-20 00:54] piotrpMSFT commented on #674
Fixed by #880

[2016-01-20 00:54] #674 closed

[2016-01-20 00:56] natemcmaster commented on #881
+1 for testing SqlClient more. On EF7 we've continually seen sni.dll bug reports

[2016-01-20 00:58] tmat commented on #320
See proposal #5540

[2016-01-20 01:35] benaadams commented on #889
@gkhanna79 a config or api approach would be better than environment as its more likely to travel well with the component that has the constraint - whereas environment var feels like it needs to rely on good documentation/process and it being followed well.

[2016-01-20 03:00] brthor opened #904 "CLI Repo build should use "dotnet restore" with NuGet not dnu"
The build is currently using DNU still. Now that we have NuGet xplat in, we should use that.

https://github.com/dotnet/cli/blob/master/scripts/build/restore-packages.ps1#L21
https://github.com/dotnet/cli/blob/master/scripts/build/restore-packages.sh#L21

[2016-01-20 03:01] brthor commented on #904
Part 2 of:
https://github.com/dotnet/cli/issues/421

[2016-01-20 03:02] brthor commented on #904
This is currently blocking #875

[2016-01-20 03:14] piotrpMSFT commented on #500
now tracked as part of Beta release in #668

[2016-01-20 03:14] #500 closed

[2016-01-20 03:17] piotrpMSFT commented on #421
If there is remaining work here that is not covered by #904 it must be PR'd into the 1.0.0 release branch:

https://github.com/dotnet/cli/tree/rel/1.0.0

[2016-01-20 03:18] piotrpMSFT commented on #718
This PR will need to be retargetted to https://github.com/dotnet/cli/tree/rel/1.0.0

[2016-01-20 03:18] piotrpMSFT commented on #904
This PR should target https://github.com/dotnet/cli/tree/rel/1.0.0

[2016-01-20 04:33] piotrpMSFT commented on #18
did anyone have a chance to play with this today? Or did broken CLI packages slow us down?

[2016-01-20 06:11] andschwa commented on #18
I had a couple issues getting the right feeds added (needed aspnetvnext/ci
for MEPA). Had a runtime error in the test runner but still debugging. So
far looks promising!
On Jan 19, 2016 8:33 PM, "Piotr Puszkiewicz" <notifications@github.com>
wrote:

[2016-01-20 06:12] victorhurdugaci commented on #18
I was able to run the samples but couldn't get any ASPNET test to run. It fails to discover the runner. Still investigating

On Tue, Jan 19, 2016 at 10:11 PM -0800, "Andy Schwartzmeyer" <notifications@github.com<mailto:notifications@github.com>> wrote:

I had a couple issues getting the right feeds added (needed aspnetvnext/ci
for MEPA). Had a runtime error in the test runner but still debugging.

[2016-01-20 06:44] ewolfman commented on #535
Still having a problem. With the latest from http://dotnet.github.io/getting-started/ when running dotnet restore I get an exception:

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'Program' or one of its dependencies. The system cannot find the file specified.

It is followed by a crash:
![crash](https://cloud.githubusercontent.com/assets/5642226/12441649/f

[2016-01-20 07:00] ellismg opened #905 "Include SOS in Windows packages"
It would be helpful if SOS was included in the windows packages so you don't need to figure out where to get a corresponding version from when you want to debug the run-time.

[2016-01-20 07:04] sergiy-k commented on #889
If exposing this setting via runtime config file works for ASP.NET then I would prefer to go with this approach.

@kouvel, could you please take a closer look at this and see if there are any problems with exposing this option in the hosting APIs?
Also please see: https://github.com/dotnet/coreclr/issues/1606

[2016-01-20 07:24] davidfowl commented on #847
Do we still have a hardcoded `byte[]` in the CLI? I don't think we do..

[2016-01-20 07:35] schellap opened #907 "dotnet restore fails if NETStandardLibrary is missing in the dependency list"
[code]

[code]

@anurse  @piotrpMSFT

* If you add this line to the dependencies, then the error turns to a warning

` "NETStandard.Library": "1.0.0-rc2-23704"`

[code]

[2016-01-20 07:45] davidfowl commented on #907
That's by design. You need to use either the Standard Library or `Microsoft.NETCore.Platforms` to bring in the correct runtime dependencies.

[2016-01-20 07:46] troydai commented on #847
We don't. So should tooling just make their own public key or do we actually want to give them one?

[2016-01-20 07:51] troydai commented on #847
If user set the `publishSign` to true without giving a key file the who is assumed to give a publish key?

[2016-01-20 08:56] piotrpMSFT commented on #18
sounds good. Let me know if you want help debugging. I just started converting CLI tests, hoping I beat you to issues...

[2016-01-20 09:49] schellap commented on #907
@davidfowl, is there anyway this error can be turned into a warning and still be restored like what DNU did?

[code]

[code]

[2016-01-20 10:01] davidfowl commented on #907
No. Why are you referencing packages that aren't compatible? What does `Microsoft.DiaSymReader` work on?

[2016-01-20 10:42] Mpdreamz commented on #166
+1 to more descriptive --version

[code]

Does not indicate i'm on `000992-dev`

[2016-01-20 11:01] schellap commented on #907
You are right that it is not compatible and we should use one for dnxcore, but I am requesting a workaround. DiasymReader is for net45. DNU was silent about it.

[2016-01-20 11:27] piotrpMSFT opened #908 "Move PackageCommandTests onto dotnet-test-xunit"

[2016-01-20 11:56] Mpdreamz opened #910 "Proxy commands from global.json/project.json"
I'm new to the dotnet-cli tooling so please forgive any ignorance on this post

It would be nice if we could use the `dotnet` at the root of a checkout too.

Other then [putting executable on $PATH](https://github.com/dotnet/cli/blob/master/Documentation/intro-to-cli.md#adding-a-new-command-locally) it would be nice if we could override/add commands in global.json:

[code]

After checkout I could

[2016-01-20 12:03] davidfowl commented on #910
The CLI supports adding a tools section to projects that expose commands that can be run with dotnet {blah}. For e.g.

[code]

You can navigate to the project folder and go `dotnet sometool` and have that work. Similarly, you can replace inbox commands this way (I believe @piotrpMSFT correct me if I'm wrong).

The natural expansion would be to allow tools in `global.json` that apply to all project

[2016-01-20 12:45] Mpdreamz commented on #910
minus paket, will open that can of worms else where :smile:

I would love if `tools` can be renamed to `commands` (wasn't it commands in DNX?) and it supported more then just calling tools on the PATH.

I realise "tools" are our `devDependencies` but they should not double as our `scripts` too.

[code]

I'm looking for an ubiquitous command line experience when cloning a .NET repos. E.g in node la

[2016-01-20 13:36] Mpdreamz opened #911 "dotnet restore fails if CLI is installed in a path with spaces"
Getting the following when calling `dotnet restore` on https://github.com/elastic/elasticsearch-net/tree/vnext/dnx-support/src/Elasticsearch.Net

[2016-01-20 13:41] davidfowl commented on #911
Run `dotnet -v restore`

[2016-01-20 14:16] Ikarus76 commented on #911
Hi, I had the same issue. It seems to be an issue with the "program files" path. After installing the dotnet binaries to 'c:\dotnet' the problem is solved.

[2016-01-20 14:17] davidfowl commented on #911
ah, spaces in the path bug it looks like.

[2016-01-20 16:08] enricosada opened #912 "dotnet build exception if project.json doesnt exists"
at 6a5a220

After successful `dotnet restore` in `test\TestProjects`.
If i run `dotnet build` in a directory without `project.json`, i get the expection.
Expected is an error message

[code]

[2016-01-20 17:33] victorhurdugaci opened #913 "dotnet test doesn't discover the runner when the project targets dnx451 as the first framework"
Take the sample [here](https://github.com/piotrpMSFT/dotnet-test-samples/) and change the project.json to:

[code]

Then restore, build and test:

[code]

Remove `dnx451` and everything works.

cc @piotrpMSFT

[2016-01-20 17:33] victorhurdugaci commented on #18
The test runner fails when the project targets `dnx451` in addition to `dnxcore50`: https://github.com/dotnet/cli/issues/913

[2016-01-20 17:35] anurse commented on #907
DNU may have been silent but would not have provided a reference to the compiler so it still wouldn't have worked. Your project doesn't even have `net45` in it's list of supported frameworks. If you want your project to support `net45` by cross-compiling and use `DiaSymReader` in that version, you need to do something like this:

[code]

[2016-01-20 17:40] victorhurdugaci commented on #913
This is funny. It might be caused by this line: https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Test/Program.cs#L57

If you change the order of the TFMs (put dnxcore50 first and then dnx451), it seem to work.

[2016-01-20 17:41] ericstj opened #914 "Design time facades should be auto-ref'ed for any framework that has them"
For any classic framework that contains design-time facades (EG: desktop) all of those facades should be automatically referenced to match the behavior of MSBuild.

Folks were trying to workaround this by manually adding the framework assemblies to their project: https://github.com/dotnet/cli/issues/579
Which would work in DNX, but then fail in Visual Studio.

Similarly NuGet is trying to make a c

[2016-01-20 17:43] ericstj commented on #914
/cc @yishaigalatzer @piotrpMSFT @cartermp

[2016-01-20 17:46] midizyf commented on #535
There seems to be an issue with the space in "Program Files". After fooling around with the -v option, I found that instead of "dotnet restore", it works by using corerun and quoting the path to the NuGet dll:
C:\src\Hack\DotNetCore>corerun "C:\Program Files\dotnet\bin\NuGet.CommandLine.XPlat.dll" restore --runtime win7-x86 --runtime win7-x64

[2016-01-20 17:46] troydai commented on #847
Hi @piotrpMSFT,

We need your input for this issue. When user specify `publicSign` to `true` without gives a `keyFile`, today the error is `CS8102: Public signing was specified and requires a public key, but no public key was specified.`.

It appears to me we will not support the DNX scenario in which when `keyFile` is missing a hardcoded key is used for OSS signing. Could you confirm this is the

[2016-01-20 17:50] yishaigalatzer commented on #914
@ericstj would removing the reference from the package just make it work in visual studio msbuild based projects? In that case wouldn't a simpler fix would be to remove the reference for the desktop TFMs?

[2016-01-20 17:53] ericstj commented on #914
@yishaigalatzer yes that will work for VS Msbuild based projects and should be done regardless.

For the package to work in CLI as well, CLI needs to do this work.

If this work is done by CLI then the NuGet work would just be "nice to have" it wouldn't be blocking anything.

[2016-01-20 18:00] moozzyk commented on #905
:+1:

[2016-01-20 18:13] moozzyk commented on #847
My 2 cents: I guess this feature is gone. It might have been fine in dnx but having a hardcoded key in CLI feels wrong to me. Now users can provide their own .snk which is the right thing to do.
(One of the reasons we had this in DNX was that initially passing snk for oss signing was not supported)

[2016-01-20 18:14] blackdwarf commented on #911
@brthor is this the same root cause as #525?

[2016-01-20 18:32] brthor commented on #535
@ewolfman @midizyf I belive this is related to #525 where we are doing improper argument forwarding. I am working on a fix.

[2016-01-20 18:33] brthor commented on #911
@blackdwarf @Ikarus76 @Mpdreamz This looks like the same issue as #525, I am working on the fix

[2016-01-20 18:44] dsyme commented on #692
Thanks @davidfowl!

[2016-01-20 18:57] DamianEdwards opened #917 "Add commands to enable listing/installing/uninstalling/updating project tools"
To add a tool to a project, the `"tools"` section of the `project.json` file must be manually edited. This isn't great for IDE scenarios where installation of tools on-demand based on UI gestures is required, e.g. managing tools from the NuGet dialog, on-demand install of the Razor tooling services from the Razor editor. IDEs should not have to edit the `project.json` to do this.

We'd like to add

[2016-01-20 19:02] joepeer opened #918 "ExitCode of ConsoleApp on Linux is not preserved"
On Ubuntu, when I run a small sample that changes the exit code to a value different than 0, doing "$?" will return 1 instead of the actual exit code returned.

[code]

On windows it correctly gives back the exit code that was set.

[2016-01-20 19:12] davidfowl commented on #917
Compound command names kinda suck, should be:

[code]

Either tool or tools.

[2016-01-20 19:24] ericeil commented on #889
In general, the trouble with SetMinThreads is that it depends on the underlying thread pool having a notion of "min threads" in the first place, which not all do.

Which thread pool are we using in CoreRT?

Maybe this would be fine as a config option as long as it was clear that it was configuring the *CLR* thread pool, and has no effect if a different thread pool is being used (i.e., if the runti

[2016-01-20 19:27] schellap commented on #889
For CoreRT we would have a separate set of nativeOptions and for CoreCLR runtimeOptions in the runtime.config.json.

[2016-01-20 19:30] schellap commented on #889
@kouvel, hopefully we can pass on other CLRConfigValues too (ints and strings) than the current startup flags approach for bool values ex: server_gc.

[2016-01-20 19:48] DamianEdwards commented on #917
Not disagreeing, I was just following what appeared to be spec'ed for package management already #76

[2016-01-20 19:48] moozzyk commented on #918
On non-windows "exit takes only integer args in the range 0 - 255" - http://tldp.org/LDP/abs/html/exitcodes.html

[2016-01-20 19:50] joepeer commented on #918
Well take explain it.  Thanks

[2016-01-20 19:50] #918 closed

[2016-01-20 20:00] dbwz8 commented on #692
Another question on this. If I build and run a test without int comparisons (and without the above switches), everything works. If I build and run *with* int comparisons *and* the above switches, the build is fine, but the result of running the .exe is that it can't find any libraries (see below). What's the right way to make this happen correctly? Note, if I do a **dotnet publish** (which copies

[2016-01-20 20:02] KevinRansom commented on #692
Is it not the right solution?   I thought that test and publish were how you deployed runnable apps, am I wrong?

From: Dave Wecker [mailto:notifications@github.com]
Sent: Wednesday, January 20, 2016 12:01 PM
To: dotnet/cli <cli@noreply.github.com>
Cc: Kevin Ransom <Kevin.Ransom@microsoft.com>
Subject: Re: [cli] Cannot compile F# code that uses integer comparison (#692)

Another question on this.

[2016-01-20 20:22] blackdwarf commented on #792
@DamianEdwards one thing I didn't mention, I think we closed on runtime options being in a separate conf file that is copied as content over to output.

[2016-01-20 20:24] piotrpMSFT commented on #18
It should just skip the dnx451. Taking a look...

[2016-01-20 20:27] piotrpMSFT commented on #913
At the moment, the behavior will be to skip 451 [or any TFM for which we don't have a runner handy].

Can you re-order to get unblocked, @victorhurdugaci ?

[2016-01-20 20:31] blackdwarf commented on #917
@DamianEdwards yeah, that one (#76) will most likely change back to just `dotnet install`. Of course, then we will have the discussion about what it means. :)

Excuse my dumbness, but why wouldn't `dotnet install`, that is, "simple" package install work for this?

[2016-01-20 20:36] piotrpMSFT commented on #917
dotnet-install would have no way of knowing if this is a stand-alone tool package or a project dependency. It is, however, basically the same tech...

`dotnet-install --tool(s)`?

[2016-01-20 20:54] victorhurdugaci commented on #913
Yes, I can reorder. I still think this should be fixed for rc2. It's confusing and very hard to figure out what's wrong.

[2016-01-20 20:54] victorhurdugaci commented on #913
It is not really blocking for us

[2016-01-20 20:57] blackdwarf commented on #917
@piotrpMSFT got it. The problem with an option to `dotnet install` would be that you need multiple actions, so it could get unwieldy, i.e. `dotnet install --tool --list` or `dotnet install --tool list`.

[2016-01-20 21:03] piotrpMSFT commented on #913
totally agree, just want to keep you unblocked.

[2016-01-20 21:12] lodejard commented on #792
Isn't an Options suffix on all of those properties redundant?

[code]

at which point if you wanted to save keystrokes you could consider saing that on some nodes the "include" is the default member when the property is an array instead of an object:

[code]

however that second step isn't necessary if we want a single syntax

[2016-01-20 21:18] lodejard commented on #792
slight note on @davidfowl earlier json example - the word include probably doesn't need to be in both sets?

[code]

[2016-01-20 21:21] DamianEdwards commented on #792
@lodejard like both your suggestions here.
@blackdwarf that's unfortunate. Details please? ASP.NET templates are going to have to have this to enable server GC.

[2016-01-20 21:33] kouvel commented on #889
Yea it should be fine to pass ints and strings as well. I'll take a look.

[2016-01-20 21:40] blackdwarf commented on #792
@DamianEdwards sure, there is some discussion on #757 on that. From that I remeber that we will still have the runtimeOptions (we need it for various things) but just not as part of the `project.json` file. This should just mean that ASP.NET template will drop another file in there.

[2016-01-20 21:48] DamianEdwards commented on #792
The latest on those issues seems to be pointing back to having these settings in `project.json` which I much prefer.

[2016-01-20 21:56] benaadams commented on #889
Are the characteristics of these threadpools known? Will they be subject to jamming issues when too many interdependent things are blocked and their unblockers queued?

[2016-01-20 22:04] blackdwarf commented on #792
@DamianEdwards hm, I was thinking on [this comment](https://github.com/dotnet/cli/pull/757#issuecomment-171356688). @anurse where did we land on this?

Why do you prefer `project.json` for this?

[2016-01-20 22:10] piotrpMSFT commented on #917
yea, I'm just throwing out the option. It's an N*M matrix no matter how we slice it.

[2016-01-20 22:17] DamianEdwards commented on #792
@blackdwarf because each time we talk about adding files to our projects we get huge push back. Having one file for the vast majority of settings most customers will change is much easier to grok.

[2016-01-20 22:37] cdmihai commented on #912
Should the ProjectContextBuilder catch this, or the code that calls it?

If it's the code that calls it, then I can add the check when resolving the arguments: https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Compiler/CompilerCommandApp.cs#L100

That will make both Build and Compile resistant to this invalid input.

[2016-01-20 22:42] bricelam opened #925 "Standard output redirection hides current line"
The way stdout (and stderr) is redirected from chained commands prevents the last line from being show until after an end-of-line character. This causes weird interactions.

[code]

With a tool containing the above code, invoking it (e.g. via `dotnet mytool`) will...

1. Print a blank line
2. Wait for a keypress
3. Print `Press any key to continue . . . `

The expected behavior would be...

1. Pri

[2016-01-20 22:48] bricelam commented on #925
This could also be related to the color getting out of sync from time to time...

[2016-01-20 23:11] cdmihai commented on #790
Now that CLI is incremental, I suggest that instead of the copy script I introduce a `Dev` or `BuildAndTest` flag to the CLI build script that only compiles stage2 and runs the tests. This way, CLI developers would call build.cmd -Dev which would only compile stage2 and run tests. Incremental building will skip projects did do not have to be rebuilt.

[2016-01-20 23:17] NickCraver commented on #525
Is this resolved by https://github.com/dotnet/corefx/pull/5369? I just hit it with the latest installer posted but it looks like the fix landed after that was last updated, is that accurate?

[2016-01-20 23:19] brthor commented on #525
This issue is still open to track changes required in the CLI. Changes are on the way.

https://github.com/dotnet/corefx/pull/5369 was an associated blocking issue.

[2016-01-20 23:25] NickCraver commented on #525
@brthor gotcha, thanks! Might I suggest putting this on [the known issues list](https://github.com/dotnet/cli/blob/master/Documentation/known-issues.md) since it affects everyone using the installer with default options? I'd call this one pretty impactful until the installer is updated.

[2016-01-20 23:29] brthor commented on #525
cc @blackdwarf

[2016-01-20 23:50] moozzyk opened #928 "dotnet restore prints help for all dnu commands and then NREs"
If an option passed to `dotnet restore` is incorrect it will print help for some `dnu` commands and then will print `Object reference not set to an instance of an object.`

[code]

[2016-01-21 00:00] bricelam commented on #914
Dupe of #164

[2016-01-21 00:54] cdmihai commented on #912
The publish command also appears to not sanitize against missing project.json: https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Publish/PublishCommand.cs#L232

Now that we have 2 places that need to duplicate this sanitization, I propose that the `project.json is present` sanitization is done once, by ProjectContextBuilder.

[2016-01-21 00:59] cdmihai commented on #912
@davidfowl @piotrpMSFT

[2016-01-21 01:07] moozzyk opened #932 "dotnet publish fails in the target folder ends with `\`"
[code]

[2016-01-21 01:10] anurse opened #933 "Update project.json schema on schemastore"
The JSON editor in VS uses http://schemastore.org/ to locate JSON schemas in order to show IntelliSense. There is already a schema up there for project.json, but we have made changes since it was last updated and neglected to update the schema. All we need to do to update it is send a PR to https://github.com/SchemaStore/schemastore (specifically for schemas/json/project.json and the associated re

[2016-01-21 01:26] gkhanna79 commented on #490
I am closing this issue.

[2016-01-21 01:26] #490 closed

[2016-01-21 01:30] cdmihai commented on #382
Implemented in #625

[2016-01-21 01:30] #382 closed

[2016-01-21 01:32] cdmihai commented on #232
Implemented in #761

[2016-01-21 01:32] #232 closed

[2016-01-21 02:05] dburriss opened #934 "Msi 995 installs broken CLI"
Myself and a colleague both downloaded the msi 995 and installed it on Windows 8.1 (each of us downloaded seperately a few hours apart).
We both received error when running **dotnet restore** on a **dotnet new** Hello World app:
*Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'Program.cs'*
We tried uninstalling and reinstalling.
Using an msi (973) I had downl

[2016-01-21 03:26] troydai commented on #847
Ping @davidfowl @piotrpMSFT

[2016-01-21 03:29] brthor commented on #932
Duplicate of #280 ?

[2016-01-21 03:50] brthor commented on #907
@schellap I took a look at the diasymreader package in my local cache and it looks like it uses the old  portable style lib folder.

@anurse did DNX have some logic to make this compatible with dnxcore50?

I see the same issue in xunit packages (which were definitely used before) and am able to work around with this in the project.json.

[code]

[2016-01-21 03:53] piotrpMSFT commented on #933
Chatted with @davidfowl about this last night. We need to review recent additions to pj schema and make sure we are happy with the shape before doing this. TestRunner should probably be converted to a testOptions mode with a runner property, for example.

[2016-01-21 03:55] piotrpMSFT commented on #928
This no longer repros after nuget work went in... Unknown options now crash corerun.exe instead! Let's use this bug to track cleaning that up!

[2016-01-21 03:59] moozzyk commented on #932
@brthor Looks like it.

[2016-01-21 03:59] #932 closed

[2016-01-21 06:16] ewolfman commented on #535
@midizyf your solution works well. Thanks.

[2016-01-21 06:24] davidfowl commented on #847
The feature is gone and this is no longer valid. The user has to pass the keyFile. We just need to match what the cli does m.

[2016-01-21 06:27] blackdwarf commented on #934
@dburriss can you try to install the CLI in a path that does not contain spaces and retry?

[2016-01-21 06:38] dburriss commented on #934
@blackdwarf  ok will try c:\dotnet

[2016-01-21 06:40] GuardRex opened #937 "Request for published output directory structure"
The DNX project published output directory structure is (just showing a few levels deep) ...

[code]

Would someone mind commenting on what the directory structure for published output in `dotnet cli` looks like? I'm not quite ready to get into the weeds with it yet, but it would help me with some homebrew PS script planning.

[2016-01-21 06:43] dburriss commented on #934
Uninstalled 973 and installed 992 to c:\dotnet
Can run **dotnet restore**

[2016-01-21 06:45] davidfowl commented on #937
It's flat. Dlls in a folder with the content next to those dlls.

[2016-01-21 06:47] blackdwarf commented on #934
OK, we have #525 and others to track this, so I will close this issue as a duplicate. @brthor has a fix incoming for this issue.

[2016-01-21 06:47] #934 closed

[2016-01-21 06:49] blackdwarf commented on #937
I will take this one as a documentation issue (just write out a couple of lines).

[2016-01-21 06:50] blackdwarf commented on #911
OK, I'm renaming this to make it easier to find.

[2016-01-21 06:56] davidfowl commented on #914
Closing this as its a dupe. I'm more ok doing this but doing it that way msbuild does seems a bit horrible. Can we do something s little less bad? Another thing I dislike is the fact that it happens so late. Today the solution explorer shows the entire depends graph including facades but msbuild applies them at compile time which means you don't really know what you're referencing

[2016-01-21 07:05] GuardRex commented on #937
Ah ... I guess I should have added ... I'm asking from the perspective of how it will sit on an IIS server. I thought `wwwroot` was sticking around ... and `logs`.
[code]
? ... like that. Is there an executable?

[2016-01-21 07:16] davidfowl commented on #901
/cc @schellap

[2016-01-21 07:17] davidfowl commented on #897
We're going to be doing over the wrapping feature and general csproj integration support. Are you using it to pack?

[2016-01-21 07:18] davidfowl commented on #907
Yes, and the magic was hacky and is now dead. Now the magic must be put in project files :smile:

[2016-01-21 07:34] troydai commented on #847
I'll close this issue then, /cc @BillHiebert

[2016-01-21 07:34] #847 closed

[2016-01-21 09:13] schellap commented on #901
@anurse, are you able to repro on a VM reliably? Just dotnet restore causes this?

[2016-01-21 13:42] markrendle commented on #834
CoreFx/CoreCLR are working fine on my Arch installation. When I try to build `cli`, it's actual hard-coded distro checks (for either `ubuntu-14.04` or `centos-7.1`) in the shell scripts that are preventing things from working.

[2016-01-21 16:25] ericstj commented on #164
Since the CLI is replacing MSBuild here and there is existing precedent for these projects that CLI aims to be compatible with I'd recommend we match the existing precedent.

That means on desktop it auto-refs all the facades whenever a system.runtime-based DLL is referenced.  It also means that for platforms like NETCore and NETPortable it auto-references the entire targeting pack.  If you don't

[2016-01-21 17:37] blackdwarf commented on #792
@DamianEdwards point taken. However, that means that I have to rebuild my app/do some transformation if I want to change some runtime options. I cannot just push new changes. It may be fine leaving this out. The approach I advocated seemed to not add huge complexity for devs and left some flexibility.

[2016-01-21 17:39] piotrpMSFT commented on #710
@davidfowl you wanted to provide design notes on this one.

[2016-01-21 17:49] cdmihai opened #938 "Concurrent invocations of Build / Compile race on common intermediary output"
When running tests in parallel, I had failures due to races on the common csc response file in the intermediary output (csc failed with an unhandled exception). This was because dotnet-compile-csc creates a global response file that is not project specific, so during concurrent builds it happens for one project to end up using the response file of another project.

To fix the issue I had to manual

[2016-01-21 18:21] GuardRex commented on #911
The command of interest (thanks @alexkoeplinger) is ...
[code]

[2016-01-21 18:24] anurse commented on #901
I haven't been able to isolate a repro yet, but it was on the Ubuntu VSO agent when running dotnet-restore

[2016-01-21 18:33] anurse commented on #792
You don't have to rebuild your app to change runtime options. The compilation output includes a separate file: `MyApp.config.json` with only the runtime settings that you can edit. It's just that instead of having this file in the project directory as a separate file that gets copied through, the content comes from the existing project.json and is just copied to the output in a file for use by the

[2016-01-21 18:35] anurse commented on #933
Agreed. I would rather we just kept the schema up-to-date with the current status regardless of future throughts though. It's a minor thing and it ensure that wherever we land, we are always in sync.

[2016-01-21 18:38] moozzyk opened #941 "dotnet run NREs on project whose dependencies were not restored"
I cloned https://github.com/davidfowl/dotnetcli-aspnetcore and forgot to run restore:
[code]

(Not sure if it is relevant - I did not have `DOTNET_HOME` set)

[2016-01-21 18:43] anurse commented on #933
Ideally we'd have the schema in our own repo and synced with schemastore somehow (so our PRs can include changes), but that's a more complicated process than we have time to set up :)

[2016-01-21 18:51] muratg commented on #933
Agreed with @anurse.  We should keep a copy in this repo, and keep it up to date as project.json changes.  And we can update the copy in schemastore as we do releases.

[2016-01-21 19:00] Eilon commented on #468
@gkhanna79 I can get someone on my team to test this. However, we're doing our big rename right now so the test won't happen until at least next week.

[2016-01-21 19:06] GuardRex commented on #468
@Eilon I'm trying to do a "non-team" test now. `dotnet cli` is fighting me a little bit, but I'll see if/when I get my `dotnet cli` cook'in if I can get my test proj running on Nano by the end of the day.

[2016-01-21 19:14] anurse commented on #468
Cool. At this point a simple console app test would be enough I think. We already know that the ASP.NET managed code works on Nano, it's just the native host we're concerned about :)

[2016-01-21 19:23] GuardRex commented on #468
@anurse It's :dog:'in me a little on package sources, but I'll play with it when I get back. I'm actually going to try to get this meaty MVC app running, but I'll make a console app, too. I'm going out for a skate, but if you have a tip on these package sources not working, I'm all :ear: :ear: :ear:'s ...

![capture](https://cloud.githubusercontent.com/assets/1622880/12491638/0715cf5e-c031-11e5-8a

[2016-01-21 19:31] livarcocc commented on #760
@davidfowl @piotrpMSFT @BillHiebert Do we really need rid in the path here? What are the cases where it makes sense to have those? When I compile something, usually just have tfm there will be enough. In which cases will the code be platform specific? It feels to be like just going {Config}/{Tfm} is enough to disambiguate the bits.

[2016-01-21 19:37] BillHiebert commented on #760
What about when --arch is set? With your proposal the setter of the output path is required to disambiguate based on this value, if necessary. This is fine by me.

[2016-01-21 19:37] victorhurdugaci commented on #468
Are you running restore on nano?

[2016-01-21 19:38] GuardRex commented on #468
No ... locally .. my win10 dev machine
On Jan 21, 2016 11:37 AM, "Victor Hurdugaci" <notifications@github.com>
wrote:

[2016-01-21 20:29] Eilon commented on #468
CC @ryanbrandenburg who will try this out as well.

[2016-01-21 20:36] schellap commented on #901
@anurse, can we undo the workaround in the daily builds now, so we can see it more often and get it tracked down? I tried on the VSO machine by using corehost and it seems to be fine (this time.)

[2016-01-21 20:36] schellap commented on #901
It would be as simple as getting the stack trace.

[2016-01-21 21:19] prafullbhosale commented on #876
Ping

[2016-01-21 21:22] troydai commented on #848
Fixed in https://github.com/dotnet/cli/commit/1b8f3a00250d856564c10aecc5e90d43a98576a0

[2016-01-21 21:22] #848 closed

[2016-01-21 21:45] bruceyclee opened #948 "Restore of DotNet.exe is not working"
I downloaded the latest build of CLI at https://dotnetcli.blob.core.windows.net/dotnet/dev/Installers/Latest/dotnet-win-x64.latest.msi which is showed on the homepage of CLI.

Then I input "dotnet new" to create a sample console project. Three files will be generated as shown below,

Directory of C:\temp\WebApplication-dotnet

01/21/2016  11:42 AM    <DIR>          .
01/21/2016  11:42 AM    <DIR>

[2016-01-21 22:10] GuardRex commented on #948
Had this this morning. Install dot net cli at the root of your hd to avoid spaces in the path ("Program FIles"). Install at c:\dotnet

[2016-01-21 22:14] GuardRex commented on #948
Also get on ci nuget feed and grab -16401 runtime. I'm close to working, but all of this is necessary to reach even my current state of "almost" ,there.

[2016-01-21 22:18] #844 closed

[2016-01-21 22:19] anurse commented on #901
I think that should be OK, as long as it's only in the `master` branch. `rel/1.0.0` needs to stay as stable as possible in the short-term. But @piotrpMSFT should make the final call.

[2016-01-21 22:21] schellap commented on #901
Yes. Ofcourse, note the word `daily` builds :)

I have a PR out for @anurse, could you PTAL?

[2016-01-21 22:43] livarcocc opened #949 "Allow for custom assembly/package name in the CLI, instead of always matching folder name"
@davidfowl @piotrpMSFT @KrzysztofCwalina @mgravell Today, we are facing issues in Corefxlab and it is actually broken due to the lack of Project to Project dependencies in the CLI with a custom folder structure. This is also blocking corefx to move over to the CLI as seen in https://github.com/dotnet/corefx/issues/4544.

Our current folder structure in corefxlab is as follows:

System.Slices

[2016-01-21 22:49] andschwa opened #950 "Debian feed fails for dotnet-nightly"
Hey the `deb [arch=amd64] http://apt-mo.trafficmanager.net/repos/dotnet/ trusty main` feed is saying the latest `dotnet-nightly` is 1.0.1.001022-1, but this is hitting a 404:

[code]

[2016-01-21 22:52] zhili1208 opened #951 "NuGet just changed Machine wide feed location"
we just changed machine wide feed location. file a bug here in case the change might break cli.

https://github.com/NuGet/Home/issues/1899

Linux: /etc/opt/nuget/Config

OS X: /Library/Application Support/NuGet/Config
no changes on windows.

[2016-01-21 22:52] andschwa commented on #950
And fixed. Thanks for the quick response!

[2016-01-21 22:52] #950 closed

[2016-01-21 23:42] Sridhar-MS opened #952 "Hang up when required assembly is missing on Linux."
### Creating issue on behalf of @fsoikin. Original issue at https://github.com/dotnet/coreclr/issues/2429

When running a published (i.e. pre-compiled) app, if a dependency is missing, `dnx` will hang up without producing an error.

Some details:
* This happens only on Linux (specifically, CentOS 7.2 x64). Windows works fine.
* My runtime is `rc1-update1`, but it happens the same way on `rc2-16317

[2016-01-21 23:43] Sridhar-MS commented on #952
/cc @fsoikin

[2016-01-21 23:44] fsoikin commented on #952
Thank you, @Sridhar-MS

[2016-01-22 00:01] tijoytom opened #953 "Allow pass through arguments to backend compiler"
Trying to compile some unsafe code and hit this error from c# compiler

tijoytk@QUARKBOSON G:\tijoytest

Compiling tijoytest for DNXCore,Version=v5.0
G:\tijoytest\Program.cs(37,35): error CS0227: Unsafe code may only appear if compiling with /unsafe

Now i need to figure out how do i pass it to CLI  or what's equivalent command in CLI. Given that json options are not well documented , i think it's

[2016-01-22 00:03] tijoytom commented on #953
dotnet compile ``\unsafe``

[2016-01-22 00:06] cdmihai opened #954 "Crossgenning does not work on OSX"
I tried to build CLI on my local OSX vm (10.11) and I'm getting the following crossgen failure:

Crossgenning Roslyn compiler ...
Native image /Users/cdmihai/Dropbox/projects/cli/artifacts/osx.10.11-x64/stage1/bin/mscorlib.ni.dll generated successfully.
Warning:  while resolving 0x2000020 - System.Collections.Immutable.ImmutableHashSet`1.
Warning:  while resolving 0x200002f - System.Collections.Im

[2016-01-22 00:09] bricelam opened #955 "ProjectLoadContext fails to resolve strong-named assemblies"
This is noted in [a comment in the code](https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel.Loader/LoaderProjectContextExtensions.cs#L23-L24), but I just hit it so I thought I'd file an issue.

In my particular example, the loader is trying to resolve the assembly `EntityFramework.Sqlite, Version=7.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60`, but the `Proje

[2016-01-22 00:16] Sridhar-MS opened #956 "Mac OS X - DllNotFoundException for libcurl"
### Creating issue on behalf of @jflr. Original issue at dotnet/coreclr#2200

### Mac OS X - DllNotFoundException for libcurl
A DllNotFoundException is thrown when running `dnu restore`.

### Functional impact
`dnu restore` fails.

### Minimal repro steps
Run `dnu restore` with `CoreClr-x64-1.0.0-rc1-16202`.

### Expected result
`dnu restore` should succeed.

### Actual result
When running `dnu re

[2016-01-22 00:18] Sridhar-MS commented on #956
/cc @muratg @danroth27 @moozzyk @jflr @piotrpMSFT

[2016-01-22 00:24] hunter-xue opened #959 "dotnet restore dose not work on Mac OS X 10.11.2"
"dotnet new" is working well but "dotnet restore" looks like did nothing, there are no any packages downloaded from NuGet. Thus "dotnet run" and other subsequence commands cannot working.

[2016-01-22 00:30] mgravell commented on #949
If it turns out that this is a perf problem, I wonder if there is some kind of global lock file (like the project lock files for nuget) that could live alongside global.json and track - per path - the resolved project name and the hash/whatever for the corresponding project.json. just update the global lock file when building anything that has changed, or perhaps when running dnu restore.

Just a

[2016-01-22 00:42] livarcocc commented on #954
cc @JohnChen0 @agocke @jaredpar

[2016-01-22 00:43] brthor commented on #949
Is this not already possible using the "name" parameter in project.json?

https://github.com/dotnet/cli/blob/master/src/dotnet-restore/project.json
Outputs to dotnet-restore.exe

[2016-01-22 00:43] livarcocc commented on #954
I hit this too. When I cleaned up my artifacts folder and ran again, it passed. Though having to do that every time is not really productive and we lose incremental build.

[2016-01-22 00:46] agocke commented on #954
What is the actual failure? The messages say `...ni.exe generated succesfully`

[2016-01-22 00:52] blackdwarf commented on #959
@hunter-xue the commands are invoked properly? What it the version that you installed?

[2016-01-22 01:03] brthor opened #961 "Change Project.json files not to use * dependencies"
I am proposing that we remove all * dependencies in the repo.

It opens us to situations where upgraded dependencies break our build (it has happened a few times in the history of CLI) without any changes on our side.

It's also pretty difficult to diagnose when this happens.

thoughts? @Sridhar-MS @livarcocc @piotrpMSFT @anurse

[2016-01-22 01:05] GuardRex opened #962 "What are the current recommended package sources for dotnet cli"
I'm trying to use what @davidfowl has at https://github.com/davidfowl/dotnetcli-aspnetcore/blob/master/NuGet.Config ...
[code]
... but I'm getting nothing but 404's out the wazoo on a `dotnet restore` ...

![capture](https://cloud.githubusercontent.com/assets/1622880/12499636/25ec5508-c061-11e5-943f-d500f8d87f89.PNG)

[2016-01-22 01:08] cdmihai commented on #954
Looking closer at the output, the build is not failing because of crossgen:

Acquiring Native App Dependencies ***
~/Dropbox/projects/cli/artifacts/osx.10.11-x64/stage1/bin ~/Dropbox/projects/cli/artifacts/osx.10.11-x64/stage1
~/Dropbox/projects/cli/artifacts/osx.10.11-x64/stage1
~/Dropbox/projects/cli/src/Microsoft.DotNet.Tools.Compiler.Native/appdep ~/Dropbox/projects/cli/artifacts/osx.10.11-x6

[2016-01-22 02:48] hunter-xue commented on #959
@blackdwarf I downloaded the latest version 3 hours before. Yes, the command invoked correctly but nothing displayed and nothing done.

[2016-01-22 02:56] #962 closed

[2016-01-22 03:10] blackdwarf commented on #959
@hunter-xue can you do dotnet -v and send the output?

[2016-01-22 03:17] hunter-xue commented on #959
@blackdwarf
.NET Command Line Tools (1.0.0)
Usage: dotnet [common-options] [command] [arguments]

[2016-01-22 03:25] schellap opened #964 "Could not find exe from dependency package after dotnet publish"
Repro steps:
1. Clear the NuGet cache (not for first run) or the cached \*ILCompiler\* folders for subsequent run.
2. Unzip the **[temp.zip](https://github.com/dotnet/cli/files/100270/temp.zip)** file to say `H:\`
3. Issue dotnet restore as specified in command.txt (change the local paths as per your env)
4. Issue dotnet publish as specified in command.txt (change the local paths as per your env)

[2016-01-22 03:26] schellap commented on #964
Cc @davidfowl

It is not clear to me if I am doing something wrong... please advise.

[2016-01-22 03:40] piotrpMSFT opened #965 "File systems with second level granularity cause random failures in Builder tests"
We've seen several intermittent failures in `Microsoft.DotNet.Tools.Builder.Tests` today. Taking a brief look at sources, it seems there is at least a configuration issue.

https://github.com/dotnet/cli/blob/master/test/Microsoft.DotNet.Tools.Builder.Tests/IncrementalTests.cs#L17

Notice that the test name for the derived class is different than what is being passed to the base class.

Since we've

[2016-01-22 03:44] wjk commented on #911
:+1: This happens to me too. Not only that, I installed the .NET CLI on other computers in the past (using the same link as above), and it worked before, so this is in addition a regression. @brthor I noticed that you placed the RC2-Feb milestone on this issue. Does this mean that a fix won't be forthcoming until that date? This is a really inconvenient bug for me to have to deal with. Is there an

[2016-01-22 03:45] wjk commented on #911
In addition, #948 is a duplicate of this issue. You might want to close that one with a link here.

[2016-01-22 03:45] brthor commented on #964
Taking a look at the project.lock.json

I see "runtimes/any/lib/dotnet/ilc.exe" is not longer an export, it only exists under the 'files' object.

@anurse Do you know if NuGet treats ".exe" files under lib differently?

@schellap ILC.exe is really an IL application right? You could just rename it ILC.dll and we can make the corresponding changes. Alternatively you could put it under the native pie

[2016-01-22 03:46] schellap commented on #964
@brthor, basically, does this mean, `dotnet compile --native` is not possible in the `rel/1.0.0` branch?

[2016-01-22 03:49] brthor commented on #964
@schellap We still use dnu for restore currently so that's probably why we haven't seen this issue.

I think this means we need to make changes to make dotnet compile --native work right once we are using NuGet.

[2016-01-22 03:51] schellap commented on #964
In general, what is the recommended layout to package this exe file? I believe changing to `ilc.dll` requires CLI changes as well.

[2016-01-22 04:03] livarcocc commented on #949
@brthor Well, the name in project.json sets the name that the assembly will be created with, but it does not change the way that we find project to project dependencies.

Today, if I have a project.json under a src folder directly with name set to A, if another project B wants to depend on A, B to write src as the dependency. And this leads to even more problems when we have multiple projects unde

[2016-01-22 04:03] mattblagden opened #966 "Cannot restore project references"
There may be a proper/better way to reference projects that I don't know about, but the only way I can find appears to be malfunctioning right now.

In short:

* Referencing projects in sibling folders does not work without a ```global.json``` (it used to, in versions of the tools from a few days ago)
* Even with a ```global.json```, referencing a project that has project dependencies of its own t

[2016-01-22 04:51] GuardRex commented on #962
I'm having better luck allowing `dnu` via VS restore the packages. I'm in the process of figuring out how to have VS restore them to the `.nuget` packages and not the usual `.dnx` packages folder.

[2016-01-22 04:51] anurse commented on #961
:+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:
:+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:
:+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:
:+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:

[2016-01-22 04:53] anurse commented on #964
It looks like NuGet does not consider `.exe` a valid assembly. I'll submit a PR there to fix that.

https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Client/ManagedCodeConventions.cs#L35

[2016-01-22 04:55] anurse commented on #964
https://github.com/NuGet/NuGet.Client/pull/220

[2016-01-22 04:56] anurse commented on #964
In the case of all our other "executables" (NuGet, Csc, Fsc, etc.), the packages contain the managed executable as a `dll` and then the build script copies `corehost` in and renames as appropriate to make it runnable.

[2016-01-22 05:05] GuardRex commented on #948
... and I'm having to allow VS `dnu` restore the packages to `.dnx` packages and manually move them to `.nuget` packages folder until I figure it out. Oh, man.

[2016-01-22 06:49] livarcocc opened #967 "DNX Visual Studio Support for CLI projects Broken after migration to NuGet v3"
The  move of the NuGet package store from .dnx to .nuget broke VS's ability to provide Intellisense and other IDE services for CLI projects. We expect this to be fixed with the next release of Visual Studio tools but for the time being folks will experience a regression.

@livarcocc pointed out that you can re-enable Visual Studio experiences by manually duplicating  the .nuget directory as .dnx i

[2016-01-22 06:50] moozzyk opened #968 "Can't load System.Runtime.Extensions, Version=4.1.0.0"
[The publish-iis](https://github.com/aspnet/IISIntegration/tree/dev/src/dotnet-publish-iis) tool worked fine in the morning but now suddenly it started failing with:

"Could not load file or assembly 'System.Runtime.Extensions, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The loc
ated assembly's manifest definition does not match the assembly refer

[2016-01-22 15:06] davidfowl commented on #966
/cc @emgarten

`global.json` shouldn't be required, if that's the case then something broke hard after we shifted to use nuget. You need to restore both projects for nuget to place them in the lock file so make sure that's happening by manually restoring both then compiling.

[2016-01-22 15:43] mattblagden commented on #966
It's nice to hear ```global.json``` won't be needed; I liked it that way, heh.

Now that we can focus on that one case (should be able to reference siblings without a ```project.json```), here's a quick repro that just makes project ```One``` reference project ```Two``` (again, on most recent OSX):

[code]

See dependency:
```cat ./One/project.json```

[code]

Build Two (succeeds):

```cd Two && d

[2016-01-22 16:31] emgarten commented on #966
This has been fixed in NuGet. It should make it into the CLI build soon.

https://github.com/NuGet/Home/issues/1939

[2016-01-22 16:51] enricosada commented on #655
@blackdwarf i have done with `--type` and `--lang` in #647 .

after is merged i'll do `dotnet new [dirname] [lang]/[type]` .It's fast because it's already half implemented

- dirname:
    - if dir doesnt exists, create it. if exists error. ok @blackdwarf ?
    - `dotnet new .` create it in current directory
- `lang/type` => it's like use `--type` and `--lang`
    - alias, so `c#`, `csharp`, `cs` i

[2016-01-22 17:08] justinmchase commented on #655
:+1:

I think `--all` is ok but I would have probably gone with `--list` or `--ls` or in traditional microsoft robust style `--list-all`

[2016-01-22 17:13] enricosada commented on #655
really better @justinmchase i'll update my comment

[2016-01-22 17:31] blackdwarf commented on #655
@enricosada looks really good, thanks for the effort, you rock! Go with the error, it is a pretty predictable behavior. I'm worried about "." because it break symmetry with `dotnet run`, as in, `dotnet run` doesn't require a ".".

Agreed with @justinmchase on `--ls` actually. :)

[2016-01-22 17:35] chuck-mitchell opened #969 "newly installed dotnet cli not working on hello world"
Just installed dotnet cli on Windows and simplest test case doesn't work:

C:\git\repos\DotNet\Projects\Hello>dotnet --version
.NET Command Line Tools (1.0.0)
Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 Runtime Id:  win10-x64

C:\git\repos\DotNet\Projects\Hello>dotnet new
Created new project in C:\git\repos\DotNet\Projects\Hello.

C:\git\repos\DotNet\

[2016-01-22 17:43] enricosada commented on #655
@blackdwarf the `.` make deterministic the arguments ( first = dir (file), second = lang/type (list) ).
Maybe it's easier for autocomplete (i dont know, just askin, not really an expert about that)
I'll implement it, let's see, it's not too much a problem

[2016-01-22 17:45] livarcocc commented on #760
This piece is tracking the Rid work: https://github.com/dotnet/cli/issues/711

[2016-01-22 18:01] enricosada commented on #692
@dbwz8 you need FSharp.Core in the same path as the compiled .exe, otherwise then you run the exe the dotnet cannot find the fsharp.core assembly.

dotnet build **compile and add reference inside output directory**, so should work after #894 it's merged.
Manually you should compile and copy the required referenced assemblies.

The dotnet publish copy the whole coreclr, with the compiled exe and re

[2016-01-22 18:03] troydai opened #970 "dotnet build keeps prompting NU1006 warning"
I'm running on dotnet `1.0.1.001032`.

Even after `dotnet restore`, I keep getting following warnings. They don't fail the build.
[code]

Here's the project.json file: (the Lock file is too big to be copied here. I can provide it offline):
[code]

[2016-01-22 18:07] troydai commented on #970
Just talked to @anurse. He has some idea of it. I assign it to him.

[2016-01-22 18:10] zach-folwick commented on #953
I also have some unsafe code to compile in linux.  At the moment we just execute dotnet publish and run the executable, but it appears we'll need to do `dotnet compile --unsafe` and *then* `dotnet publish` ?  Some documentation on using dotnet with unsafe code would be nice.

[2016-01-22 18:17] davidfowl commented on #953
The json options are totally documented and you should set the allowUnsafe compilation option. It shouldn't be a command line argument.

[2016-01-22 18:19] davidfowl commented on #970
Probably comparison between lock file and project.jsom failing

[2016-01-22 18:19] anurse commented on #970
Yep, it's because we're using the ported DNX IsValidForProject, when we need to use the one in `NuGet.ProjectModel`

[2016-01-22 18:20] anurse commented on #970
But it doesn't cause the build to fail, so it's not my top priority right now :)

[2016-01-22 18:23] zach-folwick commented on #953
@tijoytom after some project.json sleuthing thanks to @davidfowl's input, I found the following:

{
         ....
     "compilationOptions": {
               "allowUnsafe": "true"
      }
    ....
}

thanks @davidfowl !

[2016-01-22 18:35] tijoytom commented on #953
@zach-folwick @davidfowl  I think it's not just about the unsafe option , the question is more "why do I have to figure out (after some project.json sleuthing) the json option for CLI when I know what I need to pass to the c# compiler". After all the error message from C#  compiler makes it very clear and if I was invoking the c# compiler directly it's no effort for me to add /unsafe to the comman

[2016-01-22 19:38] fsoikin commented on #586
Tried with that. Now it can find FSharp package, but fails to find `Microsoft.Netcore.Platforms >= 1.0.0-rc2-23616` (which is apparently referenced from FSharp).
Despite this, `dotnet restore` reports "complete" rather than "failed", but issuing `dotnet run` after that still leads to "unresolved dependency" errors.

**dotnet restore** output:
[code]

**project.json** (taken from [here](https://git

[2016-01-22 19:50] bruceyclee commented on #948
dnu resotres packages to ".dnx" folder and "dotnet restore" restores packages to ".nuget" folder. So in the meantime, copying packages from ".dnx" to ".nuget" looks like a temporary workaround.

[2016-01-22 19:55] piotrpMSFT commented on #948
Fixes for most of these issues are incoming today
#525
#421
#967  <-- this is further out

[2016-01-22 19:59] piotrpMSFT commented on #968
We see this when publishing multiple projects to the same directory. Dependency graph is not unified across projects so order of publishing can cause project2 to downgrade project1. See what in your solution is pulling in the 4.1.0 version of this package, and similarly see what is stomping on it with an earlier version.

[2016-01-22 20:16] enricosada commented on #586
It's ok. You miss that dependency inside project.jsonCheck the TestInteger app in my pr ( under test/FsharpTestProjects ). It's your use example ( i added it as regression test )

Inviato da Mobile

On Fri, Jan 22, 2016 at 11:38 AM -0800, "Fyodor Soikin" <notifications@github.com> wrote:

Tried with that. Now it can find FSharp package, but fails to find `Microsoft.Netcore.Platforms >= 1.0.0-rc2-2

[2016-01-22 20:18] moozzyk opened #974 "Cannot run published application without %DOTNET_HOME%"
If I publish an application and run it as a user who does not have DOTNET_HOME env variable (think IIS) it will fail to start due to the "Could not resolve coreclr path" error:

[code]

Here is the published output:

[code]

[2016-01-22 20:19] GuardRex commented on #948
@piotrpMSFT That's wonderful news! :beers: I said (in frustration yesterday) that I was going to wait a few weeks, but I **really** don't want to do that. We've have some huge company happenings here, and I want our apps on `dotnet cli` and Nano Server ASAP.

[2016-01-22 20:21] brthor commented on #974
Can you share your project.json?

You don't appear to have the runtime in your publish output.
Seems like putting a reference to the runtime/StdLib there could solve this?

[2016-01-22 20:24] piotrpMSFT commented on #948
We are making some huge changes this week and there has been a lot of turbulence. Thanks for hanging in there with us! After this push we are focusing on stabilization!

[2016-01-22 20:30] moozzyk commented on #974
Here is the project.json

[code]

If adding a reference to runtime fixes the issue - shouldn't this be a `dotnet publish` option? (like include runtime?)

[2016-01-22 20:34] fsoikin commented on #586
@enricosada I don't quite understand: which dependency am I missing exactly?

[2016-01-22 20:37] brthor commented on #974
Why not reference NETStandard.Library? It contains the reference to the runtime. I'm not sure what the eventual plan is there, but it should get you unblocked.

[2016-01-22 20:38] brthor commented on #969
How did you install @chuck-mitchell ? Also what version of windows are you on?

[2016-01-22 20:40] brthor commented on #954
This issue should be solved via #957

@cdmihai Are you still hitting this?

I would propose to leave this issue open to track cleaning up that crossgen spew. There's a lot going on there and at first glance it looks like a ton of errors.

[2016-01-22 20:43] chuck-mitchell commented on #969
Windows(X64) 10.0.10586

I installed following directions for Windows on "http://dotnet.github.io/getting-started/"

https://dotnetcli.blob.core.windows.net/dotnet/dev/Installers/Latest/dotnet-win-x64.latest.msi

[2016-01-22 20:44] bartw commented on #969
I get the same error.
I installed the msi and Visual C++ Redistributable for Visual Studio 2015 found on http://dotnet.github.io/getting-started/,

[2016-01-22 20:48] brthor commented on #969
There is a known issue with the default install location of the msi this week. I'm not sure if this has the same root cause but you may try installing to the drive root (e.g. C:\dotnet ) as a workaround.

Fixes for that particular issue should be incoming today.

[2016-01-22 20:51] moozzyk commented on #974
Yes, I will reference the NETStandard library for now, and this is not a problem. I was trying to say that having the option in dotnet publish makes it more obvious whether the runtime is getting published or not.
The issue is that is quite hard to troubleshoot and figure out if you are running behind Http Platform Handler (IIS) - because you run the published app from command line and it works an

[2016-01-22 21:01] enricosada commented on #586
See #894 the https://github.com/enricosada/cli/blob/10fbd54157afa2b61b37d0ded7237d49dda07769/test/FSharpTestProjects/TestAppWithInteger/project.json

Inviato da Mobile

On Fri, Jan 22, 2016 at 12:34 PM -0800, "Fyodor Soikin" <notifications@github.com> wrote:

@enricosada I don't quite understand: which dependency am I missing exactly?

---
Reply to this email directly or view it on GitHub:
https:/

[2016-01-22 21:10] agocke commented on #954
@brthor I don't think this is the right place for this bug. If we want crossgen to be quieter we should file a bug on coreclr.

[2016-01-22 21:17] brthor commented on #954
@agocke I'm not proposing to change crossgen, only the output in our build.

[2016-01-22 21:28] moozzyk commented on #974
Another related question - if I have a reference to NETStandard library in my project.json - how do I publish without runtime?

[2016-01-22 21:38] #970 closed

[2016-01-22 23:13] livarcocc opened #977 "Refactoring: Introduce a class that handles arguments creation for us"
Right now, it is spread out through the code logic that decides how to escape arguments, where to add double quote marks, etc. It requires a lot of knowledge from the person writing the code and the code itself doesn't really communicate the requirements for these APIs.

We should create an abstraction to encapsulate all that.

[2016-01-22 23:18] danroth27 commented on #974
@richlander @glennc @DamianEdwards @piotrpMSFT @davidfowl It feels like customers could easily run into this situation themselves. Is there something else we can do here to improve the experience?

[2016-01-22 23:46] pranavkm commented on #882
Any update on this? We're still blocked by this issue.

[2016-01-22 23:52] livarcocc commented on #882
I have #760 in the CI right now. Which might fix this, but CI is kind of nasty at the moment.

[2016-01-22 23:54] piotrpMSFT commented on #882
and I understand that @pranavkm is uploading logging 16011, so the circular dependency is complete!

[2016-01-22 23:56] tijoytom commented on #953
@zach-folwick @davidfowl btw, "allowUnsafe": "true" in project.json doesnt seem to work.

[2016-01-22 23:59] tmat commented on #320
The issue has been addressed by dotnet/roslyn#8040

[2016-01-23 00:06] cdmihai opened #980 "Flaky incremental test on OSX"
The following tests from https://github.com/dotnet/cli/blob/master/test/Microsoft.DotNet.Tools.Builder.Tests/IncrementalTests.cs are randomly failing:
- TestRebuildChangedLockFile
- TestRebuildChangedProjectFile

This problem only manifests on the OSX CI job so far.

[2016-01-23 00:26] brthor opened #982 "ScriptExecutor should not support builtins"
Currently the ScriptExecutor supports built in commands of cmd and bash.

With the introduction of Argument Forwarding Changes, this becomes very difficult to support while also being capable of determining whether a given command exists.

We should make the change for ScriptExecutor not to support built in commands of cmd and bash.

This issue will be used to track the test failure related to thi

[2016-01-23 00:28] livarcocc commented on #711
@davidfowl @piotrpMSFT Should we only add it if it has the emitEntryPoint: true? Does it make sense to include the rid for libraries?

[2016-01-23 00:36] #760 closed

[2016-01-23 00:36] #914 closed

[2016-01-23 00:49] cdmihai commented on #980
Closed as duplicate of #965

[2016-01-23 00:49] #980 closed

[2016-01-23 00:56] davidfowl opened #986 "Hide output of crossgen during build of the CLI"
It's too damn noisy :smile:

[2016-01-23 00:57] brthor commented on #986
:+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:

[2016-01-23 00:59] livarcocc commented on #882
There is another change that I need to make to get the packs filled out correctly for each Tfm. It is in the works. I should have a PR for it soon.

[2016-01-23 01:15] anurse opened #987 "Build places dependent project outputs wrong folder"
Right now, when you have project A depending on project B, we compile project B directly to project A's output directory. For example, consider the following projects:

A/project.json:
[code]

B/project.json:
[code]

Running `dotnet build` on `A` results in the following files under the `A` directory:

[code]

Notice that `B` was built into the `bin/Debug/dotnet5.4` folder (the TFM of `B`) rather

[2016-01-23 01:21] mellinoe opened #988 "dotnet-run, "Could not resolve coreclr path" on Ubuntu 15.04"
I'm always seeing the `Could not resolve coreclr path` error, and I've done the following:

* set DOTNET_HOME to my stage2 directory, alias dotnet, then use `dotnet run` from my project directory
* call `dotnet run -p <path-to-project>` from my stage2/bin directory
* call `dotnet-run -p <path-to-project>` from my stage2/bin directory

The project I'm testing is just a new blank project created fro

[2016-01-23 01:31] cdmihai commented on #987
This creates a bit of a problem for referencing the dependencies to the compile.

Let's say you have three projects, A -> B -> C, and you run dotnet build A --out binA.

C would build into its own binC directory, and copy its output to binA.
B intends to build into its own binB directory, but fails because it does not find the dll of project C, because C copied its output to binA

[2016-01-23 01:38] livarcocc commented on #882
PR https://github.com/dotnet/cli/pull/989 will fix this. I checked and the generated nupkg has all current tfm inside of it.

[2016-01-23 01:57] vors commented on #640
I often see it on build 10.0.10240

[2016-01-23 02:10] johanste opened #990 "Improvement: Add ability to generate runtime specific deps files at build time."
Today, deps files are generated by either dotnet-build or dotnet-restore. Since dotnet-build doesn't take a runtime parameter, however, it is not possible to target a platform other than the one that you are currently executing dotnet-build on.

If you generate the deps file on the install target (which is what dotnet-restore does), it will require a custom tool to run on the target machine to ins

[2016-01-23 02:17] johanste opened #991 "Add the capability for dotnet-publish to generate a folder structure corresponding to what nuget restore does + corresponding .deps file"
Today, when running publish, all output ends up smashed flat in the output directory. Given the number of assemblies you typically end up with (assuming you are not doing native compilation), the output ends up being pretty crowded. In addition to making it very hard to find the actual executable, installing two applications in the same directory leads to them violently stomping on each others dep

[2016-01-23 02:26] hynguyen2610 opened #992 "The type or namespace name 'Math' does not exist in the namespace 'System'"
Hi,
We knew that Math is a child of namespace "System". But if I change HelloWorld.cs example code, add a line in Main:

When compiling, it will throw an error:

It's not working with Console.WriteLine(Math.Sin(4)); too
How could I import something that imported before? (namespace System used)

[2016-01-23 02:58] piotrpMSFT commented on #988
What if you run 'dotnet run' directly from the project directory?

[2016-01-23 03:37] Jeffiy commented on #969
I get the same error. and fix it as @brthor say:

[2016-01-23 05:43] anurse commented on #987
FYI, I've updated the title and description to be more of a problem statement rather than a potential solution, to clarify the desired outcome.

[2016-01-23 05:49] anurse commented on #987
@cdmihai I don't actually think that would be a problem with my proposed solution, since the output of compiling project `P` would always be located in `P/bin/Debug/...`. My proposal was to have each project compiled to their own directories and then have `dotnet build` copy them into the final output directory. That wasn't clear in my original post though, and it's probably better to frame this a

[2016-01-23 05:51] victorhurdugaci commented on #987
Marking as `blocking-partner` because we cannot compile our code with the latest CLI.

[2016-01-23 06:06] livarcocc commented on #987
Even if we do copy the binaries to the project individual folder, how do we understand the relation from say dnx451 referencing net451. We need to understand that one is usable by the other and from there we could know from where tfm folder to pick up the dependency from, even if we still keep things compiled wherever, be it the first project folder, or the output folder passed in the command line

[2016-01-23 06:16] mellinoe commented on #988
Sorry, that's what my first bullet was supposed to say. You mean running `dotnet run` from the directory of my test project?

[2016-01-23 06:20] bartw commented on #969
The solution by @brthor fixed it for me too.

[2016-01-23 07:24] piotrpMSFT commented on #992
Check out the https://github.com/dotnet/corefx repo which produces the Framework packages. It looks like System.Math is in System.Runtime.Extensions. You can add this to the dependencies in your project.json:

[code]

[2016-01-23 07:24] #992 closed

[2016-01-23 07:28] piotrpMSFT commented on #988
Thanks @mellinoe I created a new tag to track 15.04 and put this in the backlog. When we start 15.04 bringup we'll take a look!

[2016-01-23 07:59] #882 closed

[2016-01-23 08:06] livarcocc commented on #987
It should just follow the lock file, to me, wether it will find files in a single output (appended with config/tfm), or each individual project folder (with config/tfm), I don't really have a strong opinion about. But I do believe that the mapping from one tfm to another should be happening magically as far as compile is concerned. It will just follow the references.

This way, if its target tfm i

[2016-01-23 08:24] blackdwarf commented on #655
@enricosada that is a very good point. OK, let's leave it in. It would make sense, as in, `dotnet run` is bound to a project (i.e. it cannot run without a project) while `dotnet new` is about making a **new** project. :) Symmetry is important... :)

[2016-01-23 08:30] davidfowl commented on #953
Because with *any* toolchain coordinating a system or tools you'd have to do the same. You just need to learn how the new system works. With msbuild it was a property in the csproj file. With `project.json` it's a property in  the `compilationOptions` section (and it does work).

I'd actually like to see you invoke the C# compiler directly to build *any* non trivial project :smile: . It's extremel

[2016-01-23 08:36] davidfowl commented on #990
You'd need to first restore for those platforms. Instead of command line arguments it should be persisted in the `project.json` so that all tools don't need to be coordinated with the right args:

[code]

Then you'd run dotnet restore and dotnet build. Maybe we need a way to enumerate all runtimes on compile (like we do for publish). If specified in the project file.

[2016-01-23 09:41] davidfowl commented on #987
That's how the lock file works already. We just need to produce output paths to the correct place. The reason we eventually copy those p2p refs is to run them. In fact, we need to drop them in a RID specific folder for non class libraries

[2016-01-23 10:27] xanather commented on #907
@davidfowl Could you tell us what the magic is? I would like to continue developing a project I am working on with the latest CLI, but can't compile until third-party libs target dnxcore50 properly.

[2016-01-23 12:45] oneaspnet opened #994 "dotnet-restore error"
[code]

[2016-01-23 16:25] gkhanna79 commented on #468
@Eilon Do you have a tentative timeframe to get this validated?

[2016-01-23 17:37] piotrpMSFT commented on #994
@ericstj have you seen something like this before?
`runtime.win7-x64.
Microsoft.NETCore.Runtime.CoreCLR.1.0.1-rc2-23704.dat is corrupt`

[2016-01-23 17:38] mattblagden commented on #966
Confirmed working in 1.0.1.001060. Great stuff! Thank you! :+1:

[2016-01-23 17:38] #966 closed

[2016-01-23 17:55] piotrpMSFT opened #995 "Remove --no-cache from CLI build scripts"
NuGet v3 does not support --no-cache at the moment, so eliminate the existing plumbing to reduce complexity.

[2016-01-23 18:03] piotrpMSFT opened #997 "Build Scripts: Seperate Test Restore from Product Restore"
Today, all package dependencies in the cli repo are restored in a single pass at the beginning of the build. This has a number of undesirable side effects:
* Restore is done through Stage0 bits, not Stage2 for the full build
* Projects, particularly test projects, that require test-specific NuPkgs must play games [project.json.template, for example], to keep out of the way of product restore until

[2016-01-23 18:51] #995 closed

[2016-01-23 19:15] emgarten commented on #994
This looks like a network issue caused an incomplete download.

@oneaspnet try clearing the %localappdata%/NuGet/v3-cache and restoring again.

[2016-01-23 20:49] GuardRex commented on #468
Here is some good Nano news this morning. I have the console app running on Nano. There are few rough edges, but it worked out ...

![capture](https://cloud.githubusercontent.com/assets/1622880/12532600/ee08c49c-c1cc-11e5-8c59-a433ade1478e.PNG)

#### Setup
* Used `dotnew new` to provide the console app, which was kept in a folder at `c:\newproj` locally.
* Nano Server TP4 configured with Reverse F

[2016-01-23 20:54] anurse commented on #468
This is fantastic! It sounds like the core issue (i.e. `corehost`, pun intended of course) is not going to be a big worry.

I would suggest we keep this issue open though, since ideally we should not require the reverse forwarders for `corehost`. That is not as high a priority for us though since we already needed the Reverse Forwarders to run Kestrel (since libuv is not built against the OneCore

[2016-01-23 21:03] GuardRex commented on #468
@anurse ... Right. That's kind'a what I thought. I am sort of personally curious though if it will run without the Reverse Forwarders packages on there (just the console app ... not via IIS ... not via HttpPlatformHandler of course with libuv's requirement for Reverse Forwarders right now). I think I will do that test when I get back from errands today.

My next big one is going back to the MVC6 t

[2016-01-23 21:11] piotrpMSFT commented on #997
#999

[2016-01-23 21:47] DamianEdwards commented on #468
I thought we built libuv against OneCore specifically for Kestrel? @moozzyk

[2016-01-23 21:49] GuardRex commented on #468
https://github.com/aspnet/Hosting/issues/539#issuecomment-167709309

[2016-01-23 22:44] moozzyk commented on #468
@DamianEdwards @GuardRex
No, libuv is not linked against OneCore - until libuv code is updated to not use APIs that are not part of OneCore it can't be done. I briefly looked at what needs to be changed to fix this and it looked like in most cases it should be easy but some would require more thought and I have not had a chance to spend more time on it.

In the libuv-build repo we built libuv diff

[2016-01-24 02:46] GuardRex commented on #468
@anurse Well, that didn't work out (bone stock Nano ... no Reverse Forwarders) ...

![capture](https://cloud.githubusercontent.com/assets/1622880/12534161/20e4965a-c201-11e5-883c-d8baa3224aa6.PNG)

There's nothing showing in Event Viewer when trying to execute the app. It crashes Hard, Fast, and Clean ... I think I have the title of my autobiography there! :smile:

[2016-01-24 04:00] GuardRex opened #1000 "Possible to display version on dotnet/cli page?"
Is it possible for you to display the current version ...

![capture](https://cloud.githubusercontent.com/assets/1622880/12534372/a480d12c-c20b-11e5-991e-cee6d0d8f7b1.PNG)

... in the vicinity of the CI build info ...

![capture2](https://cloud.githubusercontent.com/assets/1622880/12534375/c94a5a50-c20b-11e5-8de0-0fb4d74e940a.PNG)

... which would speed me up a bit and keep me a bit more current.

[2016-01-24 04:47] anurse commented on #468
I'd expect that. Even if you only use APIs available on Nano, you still have to link your app specially to work with the "OneCore" API set libraries in order to work on Nano without Forwarders. We don't do that (yet).

[2016-01-24 04:51] GuardRex commented on #468
@anurse Ok, that's cool.

I've gone back to trying to get the MVC6 test app running on Nano. So far, it's going as well as last time ... package issues ... like getting the `AppContext` package now. We'll see. I'm on JabbR "Rubber Duck" programming along and posting random '80's music videos and drinking a lot of cheap :beer:. We'll see how far I get this time with it.

[2016-01-24 04:55] piotrpMSFT commented on #1000
The version number == number of commits in the history of that build along the shortest path.

We would like to display the version on the page but that would mean each commit updating the markdown file which would be awfully noisy... Other approaches?

[2016-01-24 05:02] GuardRex commented on #1000
Idk .... It's an automated process. Just how may commits are there in a day ... several dozen but not hundreds, right?

I'd be fine if there was any place ... any feed page ... anywhere ... that I could just find out that a new MSI is available for the "latest" link. I think you see where I'm going with this: The changes to `dotnet cli` are so rapid right now and the fixes are coming so crazy fast

[2016-01-24 05:12] codemonkeyrawks opened #1001 "Issue with Debian: Not resolving packages in Jessie"
Debian "Jessie" has no package "liblldb-3.6". When it trys to install it fails.
https://packages.debian.org/search?keywords=liblldb-3.6

Here is what I get running:
#sudo dpkg -i dotnet-ubuntu-x64.latest.deb

#dpkg: dependency problems prevent configuration of dotnet-nightly:
 dotnet-nightly depends on liblldb-3.6; however:
  Package liblldb-3.6 is not installed. ( this is resolved)
 dotnet-nightl

[2016-01-24 05:34] GuardRex opened #1002 "Nit: Dark red exceptions on a black console background are not easy to read ..."
![capture](https://cloud.githubusercontent.com/assets/1622880/12534649/a01df328-c218-11e5-9174-0c10348ff545.PNG)

[2016-01-24 05:50] codemonkeyrawks opened #1003 "Issues with #dotnet restore command"
Running #dotnet restore results in not finding the package. Yet I followed this guide using dnx and it works: https://docs.asp.net/en/latest/dnx/console.html

info : NotFound https://api.nuget.org/v3-flatcontainer/netstandard.library/index.json 837ms
info : NotFound https://api.nuget.org/v3-flatcontainer/netstandard.platform/index.json 818ms

Is this also the official documentation:
https://docs.a

[2016-01-24 06:10] xanather commented on #1003
I think thats normal, it will get those packages from the other nuget sources (based on the NuGet.config file), dev builds are not available on the official nuget.org source yet (they're on myget).

[2016-01-24 06:50] codemonkeyrawks commented on #1003
Gotcha,

I went and deleted the nuget.config file still runs into issues.

info : All packages are compatible with DNXCore,Version=v5.0.
error: Microsoft.Win32.Primitives 4.0.1-rc2-23704 provides a compile-time reference assembly for Microsoft.Win32.Primitives on DNXCore,Version=v5.0, but there is no run-time assembly compatible with debian.8-x64.
error: System.Console 4.0.0-rc2-23704 provides a c

[2016-01-24 06:54] GuardRex commented on #468
@anurse Not happenig bro. Package issues out the wazoo. I even dropped back to @davidfowl `HelloMvc` and it's choking on package references big time. I fix one ... then go headlong right into another one. I'll try again in a few days. Until then, the :beer: and the :cherries: are quite good!

![cherries](https://cloud.githubusercontent.com/assets/1622880/12534934/11bcb8e2-c224-11e5-8ab5-6abacd0e3d

[2016-01-24 07:08] GuardRex commented on #1003
@codemonkeyrawks Same issue here. Had to go with `dnu restore` via VS, then copy from `.dnx\packages` to `.nuget\packages`, then ran into package nightmares :skull: after that ... same general outcome as my experience with this a couple of days ago. I had a successful console app experience this morning https://github.com/dotnet/cli/issues/468#issuecomment-174220308, but calling on many normal web

[2016-01-24 07:25] GuardRex commented on #468
@anurse

I kept the Nano without Reverse Forwarders ... deallocated in Azure but ready to go. Let me know when it should work, and I'll bring that puppy back online and call for a full spread of photon torpedoes. :rocket:

[2016-01-24 07:28] codemonkeyrawks commented on #1003
No Worries. I may play with it for a few days to see if there are any other bugs besides the other I have posted. This at least lets me run .net web applications without having to use a virtual machine :+1:

[2016-01-24 07:30] xanather commented on #1003
@codemonkeyrawks

Do you have

    "NETStandard.Library": "1.0.0-rc3-23722",

included in the dependencies part of the project.json? That pulls in the runtime libraries.

[2016-01-24 07:33] GuardRex commented on #1003
Interesting ... @davidfowl sample doesn't have that, but it was required for the successful console test this morning. I'm going to try again now with that package.

[2016-01-24 07:34] GuardRex commented on #1003
No ... no ... my bad ...
[code]
It's there. I've either had too many :beers: or not enough :beers:

[2016-01-24 07:35] xanather commented on #1003
Yea, not sure then. CLI is pretty unstable right now with breaking changes (as expected). I had to play around with it alittle to get my projects working (I couldn't get net461 compiling, only dnxcore50).

[2016-01-24 07:37] GuardRex commented on #1003
@xanather My :tophat: is tipped in your direction. I'm glad I saw the console app running this morning; but as it was for me two days ago, a more package-dependent MVC6 app just goes nuts with package problems. Even when it successfully compiles, it chokes when it's run.

[2016-01-24 07:43] GuardRex commented on #1003
I have no worries on this. @anurse is on the case ... and you know what @anurse does when the Earth quakes, and the poison arrows fall from the sky, and the pillars of Heaven shake ... yeah ... @anurse just looks that big ol' storm right square in the eye and he says, "Give me your best shot, pal. I can take it!"

[2016-01-24 07:51] codemonkeyrawks commented on #1001
I will take a look into this more tomorrow if I get a chance. It may be something that can be added to the deb file in resolving the package. It would be nice to have a built package something like what nodejs does: https://packages.debian.org/jessie/nodejs to where you could just install it.

[2016-01-24 07:57] GuardRex commented on #1003
@xanather Is this supposed to be live: http://www.xanather.com/

[2016-01-24 09:52] piotrpMSFT commented on #1000
@GuardRex let's leave this issue open. This is a common enough problem I expect others have solved it already. As @Petermarcu mentioned offline, something akin to CI badges should be fairly straightforward to implement. In fact, I just took a quick look around the web and found shields.io. We should be able to produce something like this as part of our build output just by downloading from them:

[2016-01-24 09:59] GuardRex commented on #1000
@piotrpMSFT Ok ... helps me get `dotnet cli` apps into production asap ... I'm all for it.

Side Note: I close issues I open in a few hours without response b/c many/most of my ideas are plumb stupid. If I don't get a positive response from a team member, I assume (usually correctly) that the idea is ... uh ... not up to par and perhaps the product of either too much :beer: ... or :alien: influenc

[2016-01-24 11:51] oneaspnet commented on #994
@emgarten  Thanks.
Yesterday, I tried to clean the cache, but still error.
Today, after a successful retry.

[2016-01-24 11:51] #994 closed

[2016-01-24 13:34] davidfowl opened #1005 "Running build.sh or build.cmd should clean artifacts folder"
Running build twice in a row doesn't work. Seems to stall at the crossgen phase without any error messages. It's pretty bad. We should do 2 things:

1. Make sure it fails properly when it fails.
2. Clean the artifacts out before building to make sure it's a clean build.

[2016-01-24 13:47] davidfowl opened #1006 "dotnet compile output still messed up"
[code]

[2016-01-24 13:48] davidfowl opened #1007 "Change help to show dotnet build instead of compile"
Compile should really never be used directly anymore.

[2016-01-24 16:19] gkhanna79 opened #1008 "Enable CLI to support OneCore based SKUs (e.g. Nano server)"
For CLI toolchain to run successfully on OneCore based SKUs, all native components in the toolchain and its dependencies (e.g. Roslyn, CoreCLR, ILC, Libuv, etc) need to be updated to build against OneCore libraries and CLI be updated to carry APISet forwarders so that it can then execute on downlevel OS (e.g. win7).

CC @anurse @schellap @jaredpar @davidfowl

[2016-01-24 16:21] gkhanna79 commented on #468
Nano is built on OneCore and until all native components (libuv, corehost, etc) are built for OneCore, reverse forwarders will be required.

BTW, this maybe bigger than just CoreHost. To make CLI work on any OneCore based SKU, all native components used in CLI toolchain need to be identified and fixed. Next, CLI toolchain will need to carry APISet forwarders to allow it to run on downlevel OS.

I

[2016-01-24 16:22] gkhanna79 commented on #1008
Related discussion is https://github.com/dotnet/cli/issues/468

[2016-01-24 17:00] atrauzzi opened #1009 "Always support current versions of ubuntu"
I've seen some language on the dotnet sites and documentation that seems to hint that you're only planning on supporting LTS releases of Ubuntu.

I'd really like to encourage you to take the same approach as many other runtime and software package vendors and maintain support for all versions of Ubuntu, up to the last LTS release.

I would really hate for my choice of language to limit my ability

[2016-01-24 17:29] kaaann opened #1010 "System.InvalidOperationException: The current runtime target framework is not compatible with 'ConsoleApp'. Current runtime target framework: 'DNX,Version=v4.5.1 (dnx451)'"
System.InvalidOperationException: The current runtime target framework is not compatible with 'ConsoleApp'.
Current runtime target framework: 'DNX,Version=v4.5.1 (dnx451)'

Why

[code]

[2016-01-24 18:51] davidfowl commented on #1010
This is a DNX bug not a CLI one.

You're running dnx-clr-* and the only target framework in your `project.json` in `dnxcore50`. You need to change your running DNX using dnvm to a coreclr dnx (`dnvm upgrade -r coreclr` or `dnvm use default -r coreclr`).

[2016-01-24 18:51] #1010 closed

[2016-01-24 19:02] thmulvany opened #1011 "Failed to initialize CoreCLR, HRESULT: 0x80070057"
This may be due to all the recent [name] changes but thought I'd post nonetheless.
This one is real easy to repro.
Base Win10 (nothing installed, no dev tools, no dnvm, no dnx, nothing but base OS), was working thru @DamianEdwards / @davidfowl labs (https://github.com/DamianEdwards/aspnet5-workshop/blob/master/Labs/.NET%20CLI.md), followed steps here: http://dotnet.github.io/getting-started/ , (in

[2016-01-25 00:29] GuardRex commented on #1011
@thmulvany https://github.com/dotnet/cli/issues/969#issuecomment-174042192

[2016-01-25 00:35] gkhanna79 commented on #453
We are not targeting CoreRT for CentOS yet. It will likely be a post-RTM effort.

[2016-01-25 00:56] #1011 closed

[2016-01-25 00:56] thmulvany commented on #1011
Thanks. It works, closed it.

[2016-01-25 01:28] gkhanna79 commented on #901
@anurse Are you still working around using CoreRun? If so, what scenarios are using the workaround? Workaround will not allow the hostimpl.dll to kickin using the policy implementation we have got in there, so it maybe help to remove the workaround from the RC2 Release branch too.

[2016-01-25 02:16] schellap commented on #901
Only `dotnet restore` is being worked around AFAIK.

[2016-01-25 04:25] moozzyk opened #1014 "dotnet publish no longer forwards the path the project it being published to (regression)"
The publish command used to pass the path the project was published to in the %publish:OutputPath% parameter. After this commit https://github.com/dotnet/cli/commit/ac2d0e36a9b1353f3461c01f60567d9dc541e0eb#diff-06bec5144cd01c123b4fd6d6c7f4c027R92 it no longer does. As a result pre/post publish scripts are useless since it they don't know where the project was published.

Note it is impossible to f

[2016-01-25 04:47] blackdwarf commented on #1007
@davidfowl did you fix this already? Most of the MD files use `dotnet build` now.

[2016-01-25 05:08] piotrpMSFT commented on #1014
Project publish produces multiple paths. Currently it is count(TFM). How do you propose passing these?

[2016-01-25 05:09] piotrpMSFT commented on #1014
@livarcocc

[2016-01-25 05:39] anurse commented on #468
At the moment, AFAIK, the only native component we use is the CoreCLR itself which is already compiled against APISets and includes the APISet forwarders on Windows.

Now that we have the other issue, I think we can close this one.

[2016-01-25 05:41] anurse commented on #1003
:blush: aww shucks

[2016-01-25 05:47] moozzyk commented on #1014
@piotrpMSFT - I spent some time with dotnet publish in the last few days and I actually liked the way it worked before much more (except that it would by default publish for all frameworks and the artifacts would stomp on each other). Why not make providing the framework mandatory (at least when output path is provided) and if the user wants to publish for more than one framework they would call i

[2016-01-25 05:56] moozzyk commented on #468
@anurse @gkhanna79 - if I have a native dll and I compiled it against OneCore should the package containing the dll also contain the api sets needed by this dll or should it rely on the ones that are shipped with CoreClr?

[2016-01-25 06:25] livarcocc opened #1016 "Dotnet publish publish:Framework script parameter passes incorrect framework name to script"
%publish.OutputPath%/%publish:Configuration%/%publish:Framework%  results in  C:\Temp\WebApp6IIS/Debug/DNXCore  but the project was actually published to  C:\Temp\WebApp6IIS\Debug\dnxcore50

Thanks @moozzyk for pointing this out.

[2016-01-25 06:25] livarcocc commented on #1014
@moozzyk First of all, I have opened #1016  to track why %publish:Framework% is not being consistent and giving the right framework name. Feels to me like a separate bug. Second, I believe the fix that you submitted here https://github.com/dotnet/cli/pull/1015 makes more sense.

And third, while I believe your suggestion is a great one, I believe requiring framework with the output path adds to th

[2016-01-25 07:02] livarcocc opened #1017 "Should compile fail when compiling for a tfm not supported in the project.json?"
If we try to compile a project for a tfm that it does not support (not present in the project.json), should we fail a pre-check? Or should we wait for it to fail due to missing dependencies for that tfm?
we currently do the later. Trying to see what is the best experience here.

Also, what if it support a Tfm for which we can map the passed one, say, it supports dotnet5.4 but we ask for it to be b

[2016-01-25 08:39] davidfowl commented on #1017
we currently do the later. Trying to see what is the best experience here.

It should fail up front. We support this but we aren't currently flowing the diagnostics properly:

https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.ProjectModel/ProjectReader.cs#L425

It broke when we ported from DNX.

Fail the build. The TFM passed in must be declared in `project.json`.

[2016-01-25 08:40] davidfowl commented on #1007
Not yet https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Cli/Program.cs#L30

[2016-01-25 11:13] schellap opened #1019 "Publish directory inconsistent between Windows and Ubuntu"
Ubuntu CLI is publishing to temp2, but Windows publishes to temp2/Debug/dnxcore50.

**Repro**
[code]

Could you please fix it to be consistent? Is this by design?

Needed for:
https://github.com/dotnet/corert/pull/717

[code]

[code]

[2016-01-25 13:38] TanukiSharp opened #1020 "dotnet restore failed"
Hello,

When I run `dotnet restore` (after running `dotnet new`) I get the following error:

    Failed to initialize CoreCLR, HRESULT: 0x80070057

Hereafter is the `dotnet --version` of my current installation:

    .NET Command Line Tools (1.0.0)
    Runtime Environment:
    OS Name:     Windows
    OS Version:  10.0.10240
    OS Platform: Windows
    Runtime Id:  win10-x64

This is my very firs

[2016-01-25 13:57] davidfowl commented on #1020
Set `COREHOST_TRACE=1` and re run the windows version.

[2016-01-25 15:40] blackdwarf commented on #1007
Ah, I read "documentation" instead of "help". :)

[2016-01-25 15:46] pranavkm commented on #882
Yup, looks like it's fixed in build `001064`.

[2016-01-25 15:59] BillWagner commented on #1020
I'm having the same problem. I turned out COREHOST_TRACE, and attached the log file.

[output.zip](https://github.com/dotnet/cli/files/103447/output.zip)

[2016-01-25 16:02] gkhanna79 commented on #468
CoreCLR carries api-set forwarders for what it requires. A native binary, not associated with CoreCLR, may consume other APIs that CoreCLR does not and thus, cannot rely on CoreCLR to carry APISet forwarders for it.

I believe the path ahead should be to package all APISets forwarders in a package that satisfy CLI native dependencies's requirements. This package could be a superset of APISets pack

[2016-01-25 16:02] gkhanna79 commented on #1008
This shoudl also account for APISet packaging for CLI native components.

[2016-01-25 16:05] Mpdreamz opened #1022 "version manager story"
Whats the long term vision in terms of versioning the tools?

https://github.com/dotnet/cli/blob/master/Documentation/beta-install-experience.md#local-install

How can I be sure that if I checkout an older tag it will be build using the exact same versions of all the commands?

[2016-01-25 16:16] BillWagner commented on #1020
I'm wondering if some of the problem might be that I'm getting a mix of the new dotnet core and older versions of dnx / dnu dlls. This machine has been used for dnx projects from beta 4 on. At the moment, the latest DNX bits are RC 1 (Nov 2015). Does that offer any clues @davidfowl ?

[2016-01-25 17:29] muratg commented on #987
@livarcocc @piotrpMSFT Hey folks, this is blocking our builds currently. Do you guys have an ETA for fixing it?

cc: @danroth27 @Eilon

[2016-01-25 17:31] danroth27 commented on #710
We are now working around this issue for Kestrel and SQLite using the scripts sections to copy the native binaries as needed.

[2016-01-25 17:34] danroth27 commented on #974
This isn't blocking, but the user experience can be poor.

[2016-01-25 17:45] cdmihai commented on #987
I also think this inconsistency of dependencies (project A built for framework X depends on project B built for framework Y) should be caught by Nuget restore, which should output an error like `mismatching frameworks`.

If this should not be an error, then there needs to be some logic somewhere with a compatibility table specifying how frameworks are compatible between themselves.
In this case, i

[2016-01-25 17:51] GuardRex opened #1024 "New dotnet publish command not working as advertised"
I'm getting
[code]
... with ...
[code]
... for ...
[code]
or
[code]
... as @davidfowl has in his sample for `dotnet cli`.

It's not clear what the problem is, and can the error message be more specific? I may have seen a ref somewhere that a package is required to make this work, but I've lost the ref.

Also, could you say why `"imports": "portable-net45+win8"` is required. This is for .NET Core o

[2016-01-25 18:04] davidfowl commented on #987
I'll take a look at this since it's blocking us.

[2016-01-25 18:15] enricosada opened #1026 "Run fsharp tests in the test suite"
I think the tests inside `test/FSharpTestProjects` should run in the ci test suite.

I added the F# tests inside `test/FSharpTestProjects` with the same structure and behaviour as `test/TestProjects`, to make it easier to run the same test as C#.
I'll complete with all test project types soon in the `rel/1.0.0` branch.

The tests project source are [copied](https://github.com/dotnet/cli/blob/ea434

[2016-01-25 18:36] moozzyk commented on #468
@gkhanna79 - yeah, packaging api sets should be fine. Otherwise if a package containing a dll would contain api sets that are used by CoreClr then during publish they would stomp on each other. Not sure if this is a big problem but having api sets in a package(s) could solve it.

[2016-01-25 18:43] brthor commented on #911
This should be resolved via #985, please reopen if you are still hitting this issue.

[2016-01-25 18:43] #911 closed

[2016-01-25 18:44] brthor commented on #948
This should be resolved via #985, please reopen if you are still hitting this issue.

[2016-01-25 18:44] #948 closed

[2016-01-25 18:45] brthor commented on #525
Fixed via #985

[2016-01-25 18:45] #525 closed

[2016-01-25 18:46] brthor commented on #181
closed via #985

[2016-01-25 18:46] #181 closed

[2016-01-25 18:46] brthor commented on #319
This should be resolved via #985, please reopen if you are still hitting this issue.

[2016-01-25 18:46] #319 closed

[2016-01-25 18:47] brthor commented on #381
@Sridhar-MS once we have NuGet in, do you know if we'll be able to do this?

[2016-01-25 18:47] blackdwarf commented on #1024
@GuardRex seems like you're on Windows, correct? The cross-platform publishing is not working yet, so the thing you're trying will fail.

[2016-01-25 18:47] brthor commented on #266
#832 is tracking the work here. Closing this one out.

[2016-01-25 18:47] #266 closed

[2016-01-25 18:48] gkhanna79 commented on #468
Closing this based upon the discussion above.

[2016-01-25 18:48] #468 closed

[2016-01-25 18:53] Sridhar-MS commented on #381
Yes, baring any issues that nuget has in docker.

[2016-01-25 18:59] brthor commented on #381
Which are hopefully none :smile:

[2016-01-25 19:14] GuardRex commented on #1024
Yes. Local dev box is Windows 10 and the proj is for Nano Server. This is a
temp regression? ... Workaround? .... can I `dotnet build` my way around
this?
On Jan 25, 2016 10:47 AM, "Zlatko Knezevic" <notifications@github.com>
wrote:

[2016-01-25 19:41] brthor commented on #1024
@GuardRex  I usually see this error when I haven't yet run restore on a project

[2016-01-25 19:47] GuardRex commented on #1024
I ran restore twice. The only thing I changed was going from Aspnet to Core
packages for things like Mvc and Diagnostics. Wherever I had a
Microsoft.AspNet.X, I changed to Microsoft.AspNetCore.X ... restore seemed
fine with those changes.
On Jan 25, 2016 11:41 AM, "Bryan Thornbury" <notifications@github.com>
wrote:

[2016-01-25 20:05] schellap commented on #279
@piotrpMSFT could you please move this to RTM? For RC, I am thinking about having the user pull the latest corehost from the dotnet/cli servicing drop.

[2016-01-25 20:09] brthor commented on #1019
@schellap The windows behavior you are seeing will be the correct behavior
Ubuntu builds are down in master on VSO currently which is the reason for the disconnect. #1029 should bring us closer to fixing that but there are some other issues as well.

[2016-01-25 21:16] moozzyk opened #1031 "`dotnet publish` publishes obj folder"
dotnet publish started publishing the obj folder. It contains some build files like .rsp and AssemblyInfo.cs

[code]

[2016-01-25 22:11] livarcocc commented on #1031
@moozzyk I believe this is how it was. When you don't specify an intermediate path, it uses the output path for it.

[2016-01-25 22:42] danroth27 opened #1032 "dotnet restore fails with exception when bad feed URL configured"
If you try a restore with a bad feed URL the `dotnet restore` command shows an exception stack trace instead of giving a decent error message.

NuGet.Config:
[code]
project.json:
[code]

[code]

[2016-01-25 22:47] anurse commented on #1032
This isn't really a CLI issue, since it occurs in NuGet. NuGet has already done some clean up of their error messages to reduce stack traces, and this should be covered there.

[2016-01-25 22:52] ryanbrandenburg commented on #468
Just to pile on the confirmation here, I was able to get @davidfowl 's HelloMvc app running on the Threshold2 release of Nano server (with reverse forwarders). I just ran "dotnet publish" on my local box (version 1.0.0 of dotnet) then copied that over and ran the exe. Once the server was running I made successful requests against it and got the expected results.

[2016-01-25 23:13] brthor opened #1033 "NullRef when Publishing a moved app with P2P Dependencies"
This is currently reproducible inside the repo.

Steps:
[code]

The exception looks like this:
[code]

I understand this is probably not a supported scenario but we should probably throw a more helpful error message (e.g. Can't find P2P dependency?)

cc @anurse @davidfowl @piotrpMSFT

[2016-01-25 23:16] anurse commented on #1033
Yep, makes sense we should clean up this error message.

[2016-01-25 23:29] ryanbrandenburg commented on #468
Just to pile on the confirmation, I was also able to get @davidfowl 's HelloMvc project running by doing "dotnet publish" (dotnet version 1.0.0) on my local machine, copying that to the Nano server and running the exe. The server responded with a 200 and the expected content.

[2016-01-25 23:40] moozzyk commented on #1031
I don't know/remember how it worked when the output folder was not passed to `dotnet publish` but I believe I did not see it because before `dotnet publish` only published the app itself if the output path was provided and the obj folder is above that folder so it was not published.

Anyway, I don't think there is any value in publishing this folder (not that this is a big issue or something).

[2016-01-25 23:51] GuardRex commented on #1024
This has simply turned out to be a package restore issue.

Conflicting comments are making it difficult to understand what package names, package sources, and command settings should be used (e.g., https://github.com/aspnet/Home/issues/1255#issuecomment-174515262).

@blackdwarf You asked elsewhere about doc troubles ...

* https://github.com/dotnet/cli
* http://dotnet.github.io/getting-started/
*

[2016-01-25 23:51] #1024 closed

[2016-01-26 00:49] schellap commented on #762
@davidfowl NuGet needs mono to run and CLI repo doesn't use mono. We can make it a requirement to install mono (CI machines already have this) to clone CLI, but this requirement sounds bad.

[2016-01-26 00:50] wjk opened #1034 "Can't resolve packages"
OK... After resolving the issue regarding spaces in the path that was causing dotnet-cli to crash immediately on launch, I now ran into _another_ issue. When I run `dotnet restore`, it fails to resolve any of the NuGet packages specified in my `project.json`. Here's the console output when I try:

[code]

Can anyone help me? @wtgodbe is waiting for my input to triage [coreclr#2143](https://github.

[2016-01-26 00:53] shahid-pk commented on #1034
what feeds are you using ? what does your nuget.config look like ?

[2016-01-26 00:55] wjk commented on #1034
AFAIK, only the official (nuget.org) one. I don't have a `nuget.config` file in my solution, either.

[2016-01-26 01:10] shahid-pk commented on #1034
create a NuGet.Config and add this to it.
[code]
If you are non-windows the name of NuGet.Config should be as is. Another way is to create a new project using "dotnet new" and copy the nuget.config to your project.

[2016-01-26 01:12] wjk commented on #1034
Thanks! That did it! The packages are now restoring. Just FYI, the code block your above post is garbled; the lines ending with `$` have been truncated. Thanks so much!

[2016-01-26 01:14] #1034 closed

[2016-01-26 01:20] brthor opened #1035 "Improve Error Message when using backslashes in Global.json"
Tested this out on Windows 10 with this path in global.json:

`C:\Users\brthor\code\cli_args\artifacts\tests\..\..\src`

Only error message is this, very misleading:

`Invalid charactor escape syntax. Unexpected \85.`

I imagine, depending on the character following the first `\`, this error would change

Why don't we support backslashes on Windows?

cc @anurse @davidfowl

[2016-01-26 01:57] pranavkm commented on #232
What build of dotnet-cli has this fix? I'm using 1.0.0.000973 and I don't see a `build-profile` flag.

[2016-01-26 02:18] cdmihai commented on #965
This happens only on OSX because HFS+ has second level timestamp granularity. Because Builder used the strict (greater than operator) to check for stale outputs, it caused false negatives incremental checks when an input file is changed within the same second as the previously built outputs.

The solution is to use >= when comparing the timestamps of inputs and outputs.

[2016-01-26 02:22] davidfowl commented on #711
That's correct. It only makes sense for applications

[2016-01-26 03:27] piotrpMSFT commented on #711
What about lobs with native dependencies?

[2016-01-26 03:36] davidfowl commented on #711
Different story. We aztuaklt designed something for this today and it's extremely touchy. Wil write something up about that.

[2016-01-26 04:00] piotrpMSFT commented on #711
*libs

[2016-01-26 06:58] piotrpMSFT opened #1036 "Bump NuGet package version to -531"
Update NuGet xplat bits.

[2016-01-26 07:38] vors commented on #809
Just hit it, thanks for the instruction to fix it :+1:

[2016-01-26 07:47] GuardRex commented on #1008
Cross ref (`ViewBag` bug on Nano): https://github.com/aspnet/Mvc/issues/3991

[2016-01-26 07:48] GuardRex commented on #468
Cross ref (`ViewBag` bug on Nano): https://github.com/aspnet/Mvc/issues/3991

[2016-01-26 08:52] #1014 closed

[2016-01-26 10:12] derpcoder opened #1038 "Avast detects virus when downloading"
Hello,

I'm having issues downloading the CLI tooling, whenever I start downloading, halfway through, Avast marks it as a virus. I'm attaching an image of the Avast message.

![Avast message](http://i.imgur.com/VLbJfme.png)

[2016-01-26 15:32] Raviuppa opened #1039 "SOS DLL is missing in .NET Core for Windows"
When you install .NET Core on Windows, the SOS file which is a key binary to debug any coreclr issues is missing from the installation folder. It does ship with Linux and OSX repositories but NOT with Windows.

Not having this binary on Windows makes it difficult to debug the apps especially when the issue is around .NET Core. Please address this ASAP.

Another thing noticed is, when you do a “dot

[2016-01-26 16:00] blackdwarf commented on #792
@anurse ah, ok, so I misunderstood. Thanks for the clarification.

That proposal however, has another problem which is keeping these two files in sync. If I change the config file, but someone else changes the PJ, won't that overwrite my changes on next deployment?

[2016-01-26 16:01] blackdwarf commented on #1039
/cc @Sridhar-MS @gkhanna79

[2016-01-26 16:08] AArnott opened #1040 "`dotnet build -n` fails with LNK1112 on x64 machine"
On 64-bit Windows 10, with VS 2015 U1 installed and ".NET Command Line Tools (1.0.0)":

[code]

The last command fails with this output:

[code]

[2016-01-26 16:09] gkhanna79 commented on #1039
This needs to be part  of .net core ask package and not runtime package.

@blackdwarf is there such sdk?

[2016-01-26 16:09] AArnott opened #1041 "`dotnet build -n` skips after `dotnet build`"
After building an IL assembly with `dotnet build`, if I decide I want a native image instead of an IL one, I try and it skips because it thinks it has already done the work:

[code]

[code]

[2016-01-26 16:13] blackdwarf commented on #1039
@gkhanna79 have no idea. Do we then move this then to dotnet/coreclr?

[2016-01-26 16:14] davidfowl commented on #1041
Yes, I'm finding a bunch of bugs with incremental build as well. It's a little aggressive.

/cc @cdmihai

[2016-01-26 17:14] cdmihai commented on #232
@pranavkm This is in master and rel/1.0.0. The flag is `--build-profile` and it's on the build verb

[2016-01-26 17:17] victorhurdugaci commented on #987
@davidfowl any updates on this one?

[2016-01-26 17:18] cdmihai commented on #1041
This means that build would need to check if native output is there when it receives the -n flag. What would be the best way to check if native output exists in the output folder?

[2016-01-26 17:18] anurse commented on #792
Yep, but that's no different from the other proposals so far (having a config file in the project directory that gets copied to the output), and the existing configuration model (`app.config` that gets copied to `[MyApp].exe.config`)

[2016-01-26 17:22] anurse commented on #1035
The problem is that JSON string literals use `\` as a string escaping syntax. So you have to double it up. This is why we try to allow most of our path properties to support `/`. This isn't an issue in our code, it's a limitation of using JSON as the serialization format.

[2016-01-26 17:24] natemcmaster commented on #897
Yes, we primarily used this to get pack to work correctly.

[2016-01-26 17:49] andschwa commented on #465
We are definitely going to need this for an internal project, sooner rather than later.

[2016-01-26 18:12] sokket opened #1042 "Support compileExclude in configuration blocks"
To support cross-platform PInvoke calls, the CLI + project.json should support compileExclude entries in the configuration blocks, for instance:

{
  "name": "System.Drawing.Graphics",
  …
  “configurations” : {
   “Windows” : {
             "compileExclude": [ "**/*.OSX.cs", "**/*.Linux.cs”],
    },
   "OSX": {
             "compileExclude": [ "**/*.Windows.cs", "**/*.Linux.cs”],
   }
  }
 …
  "d

[2016-01-26 18:15] livarcocc commented on #1040
Are you running from a VS2015 x64 Native Tools Command Prompt? If not, can you try that?

[2016-01-26 18:22] piotrpMSFT commented on #886
This was fixed by #525

[2016-01-26 18:22] #886 closed

[2016-01-26 18:23] piotrpMSFT commented on #969
Folks, can you give this a shot with default install path? This was fixed by #525. If you still see a repro, please reopen this issue.

[2016-01-26 18:23] #969 closed

[2016-01-26 18:24] davidfowl commented on #465
I'll write something up with how this might work. We have a design in mind

[2016-01-26 18:26] vors commented on #465
I (as a user) think it's a good design.

Also connected scenario: I want to be able to build my dependencies from sources, but at the same time, I want to be able to consume dependencies as packages from nuget. I would love to have it to provide an easier setup for people, who care only about a particular package in the project.

Looks like this feature will allow me to do it as well.

[2016-01-26 18:30] piotrpMSFT commented on #1039
@Petermarcu seems this should go into one of the SDK installers. Who can provide guidance?

[2016-01-26 18:32] piotrpMSFT commented on #1022
@Mpdreamz we thus far only publish nightlies. Once we have named releases [e.g. Beta, RTM, etc] each of these will have unique URLs that you can use in order to request consistent versions from build to build.

[2016-01-26 18:33] dburriss commented on #886
Is the msi DL a nightly build or will this only be available in February?

[2016-01-26 18:33] piotrpMSFT commented on #1038
@Sridhar-MS can you try to repro this?

[2016-01-26 18:34] Sridhar-MS commented on #1038
Initial intuition is because the MSI is not signed, but I will give it a try.

[2016-01-26 18:35] piotrpMSFT commented on #1032
@danroth27 we took latest bits from NuGet last night. If you're still seeing this repro, can you please open an issue on NuGet Home and link it from here?

[2016-01-26 18:42] andschwa opened #1043 "Use reference library without corresponding runtime implementation"
For an internal Microsoft project, we're building a legacy codebase across both Windows and Linux (and OS X) using `dotnet-cli`. Unfortunately, with the changes to `dotnet-cli` to use NuGet instead of DNX, we're crashing into some "guardrails" so to speak.

To this point, to port the codebase, we've added runtime guards around code that can't (and will never) work on Linux, but we still require th

[2016-01-26 18:46] Mpdreamz commented on #1022
That's part of the story and what I already assumed as a given :) what if I develop two applications in tandem on my local box?

Application X requires dotnet-cli 1.1 and Y dotnet-cli 1.0 (or 2.0 if the toolings is semver backwards compatible).

How can we avoid having to manually set and call `%DOTNETCLI20%\dotnet`.

It's be nice if the OOTB experience of `dotnet compile ` in any folder took this

[2016-01-26 18:53] ericstj commented on #1043
The difference with the 1.0.0-rc2-23712 packages is that System.Security.Principal.Windows is now packaged as a Windows-specific implementation.  https://github.com/dotnet/corefx/issues/4925  We do intend to fix up more of the packages System.*.AccessControl, MS.Win32.Registry, etc to do the same.  /cc @chcosta

[2016-01-26 19:01] brthor commented on #1035
:+1: Thanks for the quick and clear explanation!
Makes sense now.

[2016-01-26 19:06] brthor commented on #886
@dburriss The msi will build after every commit

[2016-01-26 19:10] anurse commented on #1043
To be clear, the `--no-guardrails` suggestion is purely a tactical fix. I don't think it's a good solution long term, since as @ericstj has pointed out before, it's good to have guardrails around. The suggestion was just to allow advanced usages to work around packaging issues.

[2016-01-26 19:10] anurse commented on #1035
There may be a place for improving the error messaging though, and making it clear that the error is a JSON error while parsing the global.json file.

[2016-01-26 19:14] brthor commented on #1035
Agreed, I'd like to leave this open on the backlog so we can look at it when we have the time.

[2016-01-26 19:15] anurse commented on #1035
:+1:

[2016-01-26 19:22] brthor commented on #969
Tested this out with the latest MSI and not hitting any issues. If anyone is still hitting this please share details!

![spaces_in_path](https://cloud.githubusercontent.com/assets/14280892/12591926/019e47e4-c41f-11e5-93b0-75b4d23164ee.PNG)

[2016-01-26 19:27] khellang opened #1044 "Running a native binary fails on Ubuntu 14.04.3 LTS"
I just installed the tooling and ran the following commands

[code]

Running the binary fails with the following message:

[code]

Any tips? Something's telling me that that I'm not really dealing with a fully native app, but...

[2016-01-26 19:34] andschwa commented on #1043
The other packages @ericstj we also have to use (for the types on Linux, and implementation on Windows).

I am not sure what the best solution is going to be for this, but I'm sure we'll come up with a way of doing it right. I do *want* guardrails, I totally understand having them, but yes, porting requires strange things.

[2016-01-26 20:18] piotrpMSFT commented on #1044
@glhanna79. Native is still maturing, so I expect the message is accurate and expected.

[2016-01-26 20:19] piotrpMSFT commented on #1044
@gkhanna79

[2016-01-26 20:21] pranavkm commented on #232
Perhaps I'm missing something obvious, but I ran `dotnet build` twice in a row and expected it to not recompile the second time around. Here's what I'm seeing:
[code]

This is using `v1.0.1.001096`. What am I doing wrong?

[2016-01-26 20:24] piotrpMSFT commented on #1022
We've discussed a story for this but haven't closed.

The basic idea is that, when invoked, CLI would scan up the directory hierarchy for a .dotnet folder. If it finds one with a different CLI inside it would let that CLI win. Build scripts can then download a specific CLI version into the repo root and any Machine Wide install of CLI (MSI, pkg, etc) would hook the PATH and redirect. As a final me

[2016-01-26 20:26] piotrpMSFT commented on #1022
/cc @petermarcu @davidfowl

[2016-01-26 20:30] piotrpMSFT commented on #1038
@livarcocc has a signed MSI we can use as a counter example if we see a repro.

[2016-01-26 20:46] davidfowl commented on #465
## Project file changes

**Foo/project.json**

[code]

We would infer the the following defines:

[code]

## Lock file changes

[code]

Notice the ({rid}) sections. These are new "compile time graphs".

## dotnet/nuget pack changes

### Foo.1.0.0.nupkg

[code]

## runtime.json

[code]

## Changes to nuget packages

[code]

You can't do both!

[2016-01-26 21:01] livarcocc commented on #1005
/cc @cdmihai Agree on 1, though I only see that in OSX. For 2, if we do that, we lose incremental building using the build scripts.

[2016-01-26 21:08] vors commented on #533
:+1: Any updates?

[2016-01-26 21:10] ericstj commented on #465
What happens if a dependency like this only shows up in the runtime graph?
Since runtime.jsons are only honored if the appear in the compile graph wouldn't the RID specific dependencies be ignored?

Foo is a library that has a Unix and Win build.  Unix build depends on Bar.  Bar gets listed in Foo's runtime.json.
Bar is a library that has a Linux and OSX build.  Linux build depends on Baz. Baz get

[2016-01-26 21:13] blackdwarf commented on #533
@vors yeah, working on that, we have some bugs that are blocking this. As soon as they are fixed, we will make a push to the Homebrew binary repo. :)

[2016-01-26 21:46] andschwa commented on #533
Home brew also has the 'bottles' feature for pre-built binaries. Defaults to use that unless a user wants to have it build from source. I'd go that way, it's the normal homebrew route.

[2016-01-26 21:57] livarcocc commented on #253
Just tried this out with dotnet pack --output and both ./MyTarget and .\MyTarget on windows. In both cases, the nupkg were generated correctly.

Closing this.

[2016-01-26 21:57] #253 closed

[2016-01-26 21:58] brthor commented on #1005
What if we add a "clean" parameter to the build script?

In general I don't think I'd want the build to force clean my artifacts directory. We don't get incremental compilation and many times I will be reusing pieces of the build to test other pieces.

[2016-01-26 22:01] brthor commented on #1041
@cdmihai Native currently outputs to the `native` subdirectory wherever the IL output usually is.

This is to prevent stomping on the IL binary.

I think you could look in this directory for the binary to determine if you should rebuild.

[2016-01-26 22:02] brthor commented on #1040
:+1: @livarcocc 's answer.

[2016-01-26 22:04] brthor commented on #1020
This is most likely resolved via #525. We were seeing similar issues due to a space in the default install path of the MSI.

@TanukiSharp Please try with the latest msi

[2016-01-26 22:09] brthor commented on #1001
@codemonkeyrawks Our debian package is currently targeted at Ubuntu 14.04, however it should still work on debian Jessie.

These error messages would be expected when using dpkg to configure your package.
If you use `apt-get install dotnet-nightly` do you see the same issues?

[2016-01-26 22:11] brthor commented on #997
@piotrpMSFT What did you have in mind here? Restoring tests after the build of stage2, or just removing the restore inside the tests themselves?

[2016-01-26 22:12] brthor opened #1046 "Tests besides E2E should not call restore."
In general (for most of our tests) a restore step is not necessary.

The test projects which are being restored have already been restored at the beginning of the build.

This issue is tracking removing the unnecessary restores to decrease build times.

cc @piotrpMSFT

[2016-01-26 22:15] brthor commented on #965
@cdmihai Might it be more reliable to use a hash rather than timestamp of the file?
I don't know how that would impact performance, but I think it's worth thinking about.

[2016-01-26 22:19] cdmihai commented on #965
I agree. Hashing is superior to timestamps. CLI vNext will use hashes. :)

[2016-01-26 22:33] cdmihai commented on #1041
Sounds good.

[2016-01-26 22:40] AArnott commented on #1040
I was not using that window. After 3 attempts at picking the right window (I first found VS2012 x64 Cross Tools command Prompt, then found VS2015 x64 x86 Cross Tools Command Prompt), I finally got a successful run. Note that it still produces a build warning, as shown below.

I had no interest in compiling 32-bit or 64-bit in particular. I just wanted to create a native binary. The fact that I'm o

[2016-01-26 22:42] cdmihai commented on #1005
True, we would loose incremental compilation. I'm also in favor of the clean parameter.

I also played with a `-Dev` parameter that just does stage2 and tests. It allows me to go faster through: edit code + build + edit code + build, etc

Ideally we could have a set of flags: restore, stage0, stage1, stage2, test, pack, all. While coding one could just call build -stage2 -test. For a clean build o

[2016-01-26 22:47] brthor commented on #1040
@AArnott Native is still very much in the early stages.
Thanks for the feedback on the UX there though :smile:

The Native Tools cmd prompt issue is unfortunate for usability, and is being tracked here: #301

[2016-01-26 23:04] GuardRex commented on #1040
@AArnott

Where is that? Perhaps, it's an option that I didn't install with VS2015.

@brthor

... you're referring to the tooling, correct? I mean you don't necessarily expect a Native version of an app that runs fine as an IL version to fail. I was just about to take my Core IL app that ran on Nano last night (perfectly! :tada:) and see if I could get it running as a Native app on Nano.

[2016-01-26 23:04] cesarbs commented on #548
You can work around this by adding the following to project.json:

    "namedResource": {
      "ConsoleApp.Resource": "Resources.resx"
    }

[2016-01-26 23:09] brthor commented on #1040
I am referring to the native portion of the toolchain as a whole. There is no guarantee your app will work.

Comes up in search for me.

@AArnott can we close this out?

[2016-01-26 23:10] livarcocc commented on #280
I checked across publish, build and compile. They are all working.

[2016-01-26 23:10] #280 closed

[2016-01-26 23:13] brthor opened #1047 "Binding Redirect Generation does not work for P2P dependencies."
PR with failing tests incoming for this.

This will block #1046

cc @piotrpMSFT @pakrym

[2016-01-26 23:35] troydai opened #1049 "Exception thrown when run dotnet-projectmodel-server"
[code]

[2016-01-26 23:52] livarcocc commented on #306
Hey Glenn, I tried this on windows and on OSX (zsh) and it worked normally for me. I will close. Please re-open if you see it again, in which case, please tell us where it happens.

[2016-01-26 23:52] #306 closed

[2016-01-26 23:59] livarcocc commented on #233
The output path fix should be placing the binaries in the right place now. Closing. If you guys still need something to happen here, please, re-open.

[2016-01-26 23:59] #233 closed

[2016-01-27 00:07] livarcocc commented on #772
Fixed with the addition of basePath parameter and with the fix to add {config}/{tfm} to output path.

[2016-01-27 00:07] #772 closed

[2016-01-27 00:08] AArnott commented on #1040
Yes. Thanks.

[2016-01-27 00:08] #1040 closed

[2016-01-27 00:10] cdmihai opened #1050 "--build-profile flag should mention if no preconditions exist"
If build is run with the `--build-profile` flag and no incremental preconditions are broken, then no message is printed. There should be a message saying all checks were fine.

Observed by @pranavkm here: https://github.com/dotnet/cli/issues/232#issuecomment-175208472

[2016-01-27 00:16] cdmihai commented on #232
@pranavkm

the --build-profile flag only searches for incremental preconditions that might make incremental unsafe. If such conditions are present, incrementality is turned off.

In your case, there are no preconditions, so nothing happens. I opened #1050 to improve on this message.

Regarding your situation, can you please run the above with verbosity logging (`dotnet --verbose build`)? That shou

[2016-01-27 00:36] davidfowl commented on #465
@ericstj We decided to put something in the nuspec. Updated the spec to respect this.

[2016-01-27 00:47] ericstj commented on #465
LGTM.  I'm guessing minClientVersion for this should be 3.4.0 or something.

So when consuming this package
 - compiling *anywhere* only uses the `<group targetFramework=".NETStandard1.3">` section
 - running on win7-x86 it would use the `<group targetFramework=".NETStandard1.3" targetRuntime="win7">` section
 - running on win-x86 it would use the `<group targetFramework=".NETStandard1.3">` sectio

[2016-01-27 00:50] davidfowl commented on #465
@ericstj
 We need to roll back the change to System.Security.Principal.Windows (WindowsPrincipal) and potentially the System.Windows.Registry until we have this feature because right now we (ASP.NET) are broken. https://github.com/dotnet/corefx/issues/5694

[2016-01-27 00:52] davidfowl commented on #465
@ericstj That's correct.

[2016-01-27 01:05] livarcocc opened #1053 "dotnet crashes when the project.json is in a invalid format"
Set project.json to something like below, missing coma between tfms and then do a dotnet build, it crashes. We should fail gracefully and display a nice error message to the user.
[code]

[2016-01-27 01:15] andschwa commented on #1019
We're hitting this, broke our Windows CI build and also appears to have regressed on OS X.

@brthor Why is `--output` going to be (essentially) ignored? Is there a new command to tell it to publish the flat list of DLLs to the folder we specify?

[2016-01-27 01:19] davidfowl commented on #1019
I'm fixing this as part of https://github.com/dotnet/cli/issues/987

[2016-01-27 01:20] moozzyk commented on #1019
:clap:

[2016-01-27 01:20] andschwa commented on #1019
I am against this new behavior. We *really* liked that `--output bin` gave me `./bin/program`. Very easy to use. Changing this means changing scripts, documentation, CI, and updating our developers and previewers for the new behavior.

Is there going to be a better way to publish?

[2016-01-27 01:21] davidfowl commented on #1019
@andschwa It's going to be flat. The changes I'm making will make it the way it was. If you publish multiple runtimes to the same output folder it'll tell you or fail or something.

[2016-01-27 01:22] andschwa commented on #1019
@davidfowl Perfecto! Thank you.

[2016-01-27 01:40] pranavkm opened #1054 "dotnet build fails if a package based framework (dotnet5.4) references package with framework assemblies"
Encountered this issue attempting to build https://github.com/aspnet/Mvc/tree/dev/src/Microsoft.AspNetCore.Mvc.Razor. The project transitively references `Microsoft.CodeAnalysis.Analyzers` which has a nuspec that looks like this:
[code]

Building for dotnet5.4 produces this error:
`error DOTNET1011: Framework not installed: .NETPlatform,Version=v5.6 in C:\Program Files (x86)\Reference Assemblies\M

[2016-01-27 01:47] BillWagner commented on #1020
@brthor That did fix it for me. I did not to uninstall the previous MSI, and then install the new one. (Install over the previous version did not work).

[2016-01-27 01:55] brthor commented on #1020
Glad to hear it @BillWagner

cc @Sridhar-MS on the MSI issue. Also hit that today but I had a very old version

[2016-01-27 02:05] ealexjordan commented on #18
This does not yet work for the internal project @andschwa and I are working on.

Even getting the sample working failed. I bumped NETStandard.Library to "1.0.0-rc3-23726", included `"imports": "portable-net45+win8"` to the `dnxcore50` framework, and included the `aspnetvnext feed in `nuget.config` to get `dotnet restore` to bring in `"xunit": "2.1.0"` and `"dotnet-test-xunit": "1.0.0-dev-*"` corre

[2016-01-27 02:11] Sridhar-MS commented on #1020
@BillWagner I recently enabled build-to-build upgrades in MSI - https://github.com/dotnet/cli/pull/836.  How old is the MSI that you had to uninstall?

[2016-01-27 02:32] BillWagner commented on #1020
@Sridhar-MS I don't have the version number handy. It was the MSI available at this link: https://dotnetcli.blob.core.windows.net/dotnet/dev/Installers/Latest/dotnet-win-x64.latest.msi on Sunday. I'm sorry I don't have more details.

[2016-01-27 02:39] andschwa commented on #465
I thought @anurse already had a [spec](https://github.com/dotnet/cli/blob/master/Documentation/specs/runtime-configuration-file.md) for this.

[2016-01-27 02:45] piotrpMSFT opened #1057 "Bump NuGet dependency to -536"

[2016-01-27 02:52] piotrpMSFT opened #1059 "Command Output Forwarding misses some output"
During NuGet push we faced an issue where NuGet was returning '1' despite no error messages. It was later discovered that this was due to a WriteLine from NuGet not being forwarded out through the CLI. I suspect this has to do with stream flushing behavior near process exit. We need to improve StreamForwarderTests to cover these scenarios.

[2016-01-27 02:55] #1054 closed

[2016-01-27 03:20] #83 closed

[2016-01-27 03:25] codemonkeyrawks commented on #1001
@brthor : Is there a deb-src line I should be adding in for installing dotnet-nightly.

[2016-01-27 03:46] davidfowl commented on #465
You can assume this supersedes that 😀

[2016-01-27 04:06] piotrpMSFT commented on #18
Thanks for reporting. I'm seeing this in the samples project. Working on an update.

[2016-01-27 04:29] anurse commented on #465
@andschwa That is not technically related, that is for configuration of `corehost`. It is derived from this data, but it a different spec.

[2016-01-27 04:31] piotrpMSFT commented on #18
Looks like our recent package madness broke dotnet-test... @piotrpmsft neglected to add unit tests for dotnet-test test test test.

I'll work on a fix asap.

[2016-01-27 04:40] moozzyk commented on #968
The issue fixed by itself. Closing.

[2016-01-27 04:40] #968 closed

[2016-01-27 05:01] danroth27 commented on #1032
The error is better now in that you don't get a stack trace, but it doesn't tell you which request failed:

[code]

[2016-01-27 05:05] danroth27 commented on #1032
https://github.com/NuGet/Home/issues/2000

[2016-01-27 05:18] weshaggard commented on #233
@livarcocc Perhaps I'm missing something but how does change #348 add the --nocompile option? It looks like it adds a way to publish a library but not a way to actually publish without compile, which is still an interesting scenario for publishing just a set of dependencies. We do that for corefx's BuildTools for example.

[2016-01-27 05:37] piotrpMSFT commented on #233
That is separate from the intent of this issue, but we should track it. This one was intended to enable a separate compile (and sign) step which @livarcocc recently enabled.

[2016-01-27 08:23] robmen opened #1064 "dotnet/cli Installation Bundle"
The [Getting Started](http://dotnet.github.io/getting-started/) page has these two "Oh, by the way..." requirements for installing:

1. You will need to install Visual C++ Redistributable for Visual Studio 2015 as well.
2. If you are using Windows 7 or Windows Server 2008 you will also need to install Visual C++ Redistributable for Visual Studio 2012 Update 4 too.

Also, the dotnet/cli MSI package

[2016-01-27 08:46] piotrpMSFT commented on #1064
@schellap @gkhanna79 do we still require VC++ to be installed? Or has @schellap removed these dependencies through static linking.

Even if they're not needed, I'd be quite happy to have @robmen take a pass at our MSI. Thanks for the offer!

@robmen have you found any reliable technology for testing MSIs in CI that doesn't require flattening the VM when we're done? I was hoping to use App-V to do

[2016-01-27 08:50] piotrpMSFT commented on #1064
@robmen, I cannot assign the issue to you because of github organization requirements. @joshfree is there a trick for assigning issue to folks from outside our org?

[2016-01-27 08:51] piotrpMSFT commented on #1057
Fixed by #1058

[2016-01-27 08:51] #1057 closed

[2016-01-27 08:56] piotrpMSFT commented on #1049
#1004 should resolve this when fixed. We've normalized Standard Library references.

[2016-01-27 08:57] piotrpMSFT commented on #1046
:+1:

[2016-01-27 08:59] robmen commented on #1064
Forgot about not being able to assign outside of the team. Frustrates me on [wixtoolset/issues](http://github.com/wixtoolset/issues) as well.

Anyway, if you're interested in a Bundle (and I do highly recommend it when shipping software over the internet), let me know and I can get the MSI wrapped up over the next couple days. Then any remaining CRTs can be added.

[2016-01-27 09:01] robmen commented on #1064
Oh, and I don't have anything better for testing MSIs than VMs at this point. Save/check points are your friend.

[2016-01-27 09:06] piotrpMSFT commented on #1036
This was fixed by #1037

[2016-01-27 09:06] #1036 closed

[2016-01-27 09:11] piotrpMSFT commented on #1043
I think the plan here is to:
1. Use --no-guardrails to get unblocked in the short term
2. Fix up NETStandard.Library dependencies a la  System.Security.Principal.Windows
3. Remove --no-guardrails

Do I have that right? If so, it seems we can link to a CoreFx repo issue and close this one out. Otherwise, what work do we need to do here?

@ericstj assigning to you, assuming my interpretation is righ

[2016-01-27 09:13] piotrpMSFT commented on #1042
@sokket take a look at this: https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.New/project.json#L17.

It seems we're already supporting compileExclude. Can you give it a shot?

[2016-01-27 09:19] piotrpMSFT commented on #1032
@danroth27 you are Nuget/Home's 2000th customer. Your prize: a lifetime supply of free NuPkg's!

Since this is an external issue, closing this copy.

[2016-01-27 09:19] #1032 closed

[2016-01-27 09:21] piotrpMSFT commented on #1026
@enricosada can you hold off until Monday? We're doing a pretty big test infra revamp and don't want to build more debt. We'll want to use the dotnet-test command for this.

[2016-01-27 09:23] piotrpMSFT commented on #1020
Seems like this is fixed. Please re-open if needed.

[2016-01-27 09:23] #1020 closed

[2016-01-27 09:27] piotrpMSFT commented on #1019
@livarcocc

[2016-01-27 09:31] piotrpMSFT commented on #1016
@brthor, can you pick this up?

[2016-01-27 09:33] piotrpMSFT commented on #1006
related to https://github.com/dotnet/cli/issues/1059

[2016-01-27 09:39] piotrpMSFT commented on #1005
@cdmihai can you open another issue for turning build steps on/off?

for this one, how about just `git clean -Xdf`` from root when build --clean is invoked?

[2016-01-27 09:44] piotrpMSFT commented on #1003
The `Not Found` was expected but overly verbose output from the tool [DNU would have found the same, but didn't print it since it's noise]. We took new NuGet bits that address this earlier tonight so...

Fixed by #1057

[2016-01-27 09:44] #1003 closed

[2016-01-27 09:45] piotrpMSFT commented on #1002
@GuardRex just turn up your screen brightness!

:trollface:

[2016-01-27 09:47] piotrpMSFT commented on #1002
That color is pretty annoying against most background colors. Care to make a PR with something equally menacing but more readable?

[2016-01-27 09:49] piotrpMSFT commented on #1001
@codemonkeyrawks have you tried http://dotnet.github.io/getting-started/? The feed setup instructions are all there. The dotnet-nightly package comes on the same feed [dotnet package does not exist yet. It will come to life when we ship Beta]

[2016-01-27 10:02] piotrpMSFT commented on #974
This needs some thought.

@schellap, you're creating Host nupkgs. What is your plan for how they are referenced by user projects? What is your plan for managing host/runtime relationship?

@moozzyk publishing without a runtime is really the 'publish to machine with shared framework' scenario, right? In this case, not only the runtime but NETStandard.Library need to get cleaned out. Isn't this what

[2016-01-27 10:05] piotrpMSFT commented on #964
@schellap looks like this got merged. Can  you validate and reopen if this is still an issue?

[2016-01-27 10:05] #964 closed

[2016-01-27 10:05] piotrpMSFT commented on #961
Please add a check to the validator.

[2016-01-27 10:08] piotrpMSFT opened #1065 "dotnet --version should display a 4-part version number + git hash"
The current --version output, 1.0.0 is not sufficient to understand what's in the binary and what came in a later version. We need to update this command to list the 4-part version and, ideally, the SHA that produced it.

[2016-01-27 10:08] piotrpMSFT commented on #959
https://github.com/dotnet/cli/issues/1065

[2016-01-27 10:09] piotrpMSFT commented on #959
This should already be fixed. Can you confirm @hunter-xue ?

[2016-01-27 10:10] enricosada commented on #1026
Sure, thx @piotrpMSFT for ping, i wrote how to add tests to current scripts but was only a possible solution, i was waiting for your feedback.

I'll wait the infra revamp before complete the f# test projects, and after we can discuss how to include fsharp scripts in the suite.

If you can, pls take a note about run f# tests with same structure/behaviour of c# in `test/TestProjects`, while improvin

[2016-01-27 10:10] Mpdreamz commented on #1022
Thanks for the heads up this is on the roadmap/backlog :+1:  appreciated :smile:

Ideally the dotnet command itself  can bootstrap different versions into %APPDATA%, the current package is 130mb it be nice if multiple projects can share these downloads.

The `.dotnet` special would still be great for development purposes of dotnet commands.

[2016-01-27 10:11] enricosada commented on #1065
:+1: about that, it's really useful

[2016-01-27 10:11] piotrpMSFT commented on #1064
Thanks. Save/checkpoint adds a lot of complexity to CI... someday/maybe...

[2016-01-27 10:11] piotrpMSFT commented on #1064
@Petermarcu, @Sridhar-MS  can  you weigh in on bundle?

[2016-01-27 10:16] enricosada commented on #647
i added `--lang` with #1027 , so f#/c# works.
Btw default it's c#, but command line it's pretty for all languages :smile: thx all for feedback.

Further improvement ( like `dotnet new fsharp/console` ) are discussed in #655

[2016-01-27 10:16] #647 closed

[2016-01-27 10:21] enricosada commented on #655
ok, #1027 got merged ( `--type`, `--lang` ).
i'll send another to make `dotnet new hello_world lang/type` as discussed in https://github.com/dotnet/cli/issues/655#issuecomment-173975250 .
we can discuss about `.` or optional dir in the pr

[2016-01-27 10:57] schellap commented on #1044
This is definitely not expected because we should be able to compile a "Hello World".

The really bizarre part is:

If I restored and published the below project.json and used the published directory as `--ilcpath` it succeeds in compiling.

The issue occurs only in the current ubuntu drop. Is this drop up to date and good? Cc @Sridhar-MS

[code]

@brthor the CI hello test is still enabled right?

[2016-01-27 11:03] khellang commented on #1044
@schellap Is there anything I can do to be able to run the native binary? Pass an extra flag or something? I'm going to demo the dotnet tools later today and would like to show the "Hello World" sample.

[2016-01-27 12:00] dtretyakov opened #1066 ".NET Core runtime management (ex DNVM)"
Since in the asp.net core [1.0-rc2](https://github.com/aspnet/Home/wiki/Roadmap#user-content-rc2---move-to-net-core-cli-and-net-platform-standard) DNX infrastructure will be superseded by [CLI toolchain](https://github.com/dotnet/cli) we have no ideas how DNVM runtime management use cases will be replaced.

We are considering case with automation of dotnet runtime installation on the build servers

[2016-01-27 12:23] codemonkeyrawks commented on #1001
@piotrpMSFT : I was following (http://docs.asp.net/en/latest/getting-started/installing-on-linux.html) and (http://docs.asp.net/en/latest/dnx/console.html).I will look at the getting started you provided.

[2016-01-27 12:53] davidfowl commented on #987
@victorhurdugaci I'm close.

[2016-01-27 13:22] TanukiSharp commented on #1020
Sorry for the late reply.

Thank you, I could get it to work using the MSI version 1.0.1.001109.
However `restore` is still very long the first time (`info : Restore completed in 219039ms.`)

[2016-01-27 15:13] gkhanna79 commented on #1044
"--native" switch is a compiler that is still under development and in early phases of the same. It is a long way from supporting anything that is more than just plain, vanilla "HelloWorld".

Are you unable to compile and run "HelloWorld" that is produced by doing "dotnet new" ?

[2016-01-27 15:57] davidfowl commented on #1066
There's no more runtime. `dotnet` is a tool chain only. The runtime is included with packages as part of the NETStandard.Library. There's no dnvm equivalent for the tool chain itself.

There no more information other than that document. Yes, we'll have it by RC2.

[2016-01-27 17:28] moozzyk commented on #974
@piotrpMSFT - publishing without a runtime is a scenario where the framework is shared. publish-iis is not touching any of the published files but web.config. Its only task (at least at the moment) is to create or update the web.config so that it points to the app based on the published output and configured webroot. Teaching publish-iis to distinguish runtime libraries from application libraries

[2016-01-27 17:31] bricelam commented on #1059
Possibly related to #925

[2016-01-27 17:50] sokket commented on #1042
compileExclude does work, but only globally; not based on a configuration. This issue is to allow different build configurations to exclude files, specified within the configuration block itself and not globally

[2016-01-27 17:57] blackdwarf commented on #655
@enricosada thanks! Great to see this come in!

[2016-01-27 18:07] andschwa commented on #1043
@piotrpMSFT Just to be clear, it is not `NETStandard.Library` that's causing me an issue. I really do need to pull in packages without runtime implementations; it's that or rewrite a lot of code that I don't own. So we'd continue to need `--no-guardrails` until there exists a better way to do the same thing.

[2016-01-27 18:09] bricelam opened #1068 "Consider removing ANSI Code Console Pass-Through"
`System.Console` now has [good Unix support](https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Unix.cs). The workaround of passing the ANSI escape sequences through in `AnsiConsole` (and `Reporter`) can be probably be removed now.

[2016-01-27 18:11] natemcmaster commented on #809
As a good sample case, try restore on [EntityFramework](https://github.com/aspnet/EntityFramework). It always fails with this error.

[2016-01-27 18:16] davidfowl commented on #1043
I don't think we should add a command line flag for this. I agree we need to do something but there are other options.

[2016-01-27 18:19] davidfowl commented on #1042
This doesn't make any sense as part of configuration. We have another issue that Eric filed that has more details about building platform specific libraries. Bare in mind that something like this is very impactful and will likely not happen in the short term. I suggest you work around it by doing runtime light up instead of compile time

[2016-01-27 18:23] sokket commented on #1042
I've had to disable the other OS-specific builds altogether since there is no way to do this with project.json and CLI with how CoreFX + CoreFXLabs are structured. Right now, there are Interop files specific for each OS; each of those files has the same variable names to specific what should be passed to DLLImport (or things of that nature), so runtime lightup doesn't work here.

What is the curre

[2016-01-27 18:37] moozzyk opened #1069 "dotnet build NRE"
I made a mistake in my project.json file and I believe it is pointing to non-existing package. I ran `dotnet restore` and it did not complain. Then I tried building and I got:

[code]

Repro:
1) clone my of dotnetcli-aspnetcore and sync to https://github.com/moozzyk/dotnetcli-aspnetcore/commit/7e037055d44b9c9f2cc08809c90e7c36323093e3
2) dotnet restore
3) dotnet build

The problem in the project.js

[2016-01-27 18:43] Sridhar-MS commented on #1064
We longer require to chain VC++ redist MSI. @schellap has made changes to statically link any CRT dependencies. So we may not need to bundle the MSI with pre-reqs.

@blackdwarf Can you remove the VC++ redist pre-reqs from getting started doc?

@robmen But still take a pass at our MSI. I feel it is very rudimentary at this stage (but helped to get us going quickly). If we can optimize on embedded c

[2016-01-27 18:45] gkhanna79 commented on #1064
@schellap I thought you were yet to make ILC side of changes and then make changes for static linking for the output of --native. Is this work done?

@Sridhar-MS Without the above, we cannot remove the dependency.

[2016-01-27 18:50] livarcocc commented on #961
Please do. It bit us so much last week. Can you follow Peter's suggestion and add a check to the validator? Could we have that check fail the build?

[2016-01-27 18:51] brthor commented on #1064
@gkhanna79 Does Native no longer have the dependency on a full VS2015 install?

[2016-01-27 18:53] schellap commented on #1064
We still compile and link with VS for dotnet native. Only the corehost dependency on VS is not there, as it is self contained now with the CRT.

[2016-01-27 18:54] brthor commented on #1016
@livarcocc Is the issue that %publish:Framework% is giving incorrect data?

[2016-01-27 18:55] livarcocc commented on #809
I will re-open the issue. Seems like we need to find a generic solution to make dotnet restore as a command work, not only for the CLI restore step.

[2016-01-27 18:56] brthor commented on #1005
@piotrpMSFT I don't think we should be forcing a git clean on the repo for a build. This is a really easy way to lose hours of work. Oftentimes I'll leave files untracked until I have finished testing them.

It will be tough to remember that for every build you need to ensure you don't have any untracked files.

[2016-01-27 18:58] livarcocc commented on #1016
Yes, it gives dnxcore instead of dnxcore50. It is probably using the a property from NugetFramework instead of the extension method.

[2016-01-27 19:00] brthor commented on #961
@livarcocc @piotrpMSFT I can build off of @dagood 's work in corefx to make this happen.

[2016-01-27 19:05] ericstj commented on #737
@blackdwarf this should probably go to someone working on NuGet in the CLI.  If we have an implicit package based on TFM that needs to be consistent with NuGet.  I'd like to see this be part of the framework definition file.

/cc @blackdwarf @yishaigalatzer @davidfowl

[2016-01-27 19:06] brthor commented on #1044
@schellap The current Ubuntu drop is not up to date. @Sridhar-MS has been dealing with some weird issues in the VSO CI.

[2016-01-27 19:08] Sridhar-MS commented on #1044
@brthor Ubuntu CI builds were failing in VSO but it has been fixed by #1060.

[2016-01-27 19:11] brthor commented on #1044
Nice, so when that goes through we should see some updated drops

[2016-01-27 19:48] glennc opened #1070 "dotnet restore --help is doing too much"
Output from this:

[code]

Looks like it is still trying to install the tools, I would expect that passing `--help` would mean that it not actually try to restore tools, or do anything really.

[2016-01-27 19:50] glennc commented on #1070
@piotrpMSFT

[2016-01-27 19:58] robmen commented on #1064
I believe the Bundle will add value independent of VCRedist (although Bundle adds **a lot** of value if/while VCRedist is still needed).

If you're good shipping a Bundle (.exe) instead of naked .msi (something I recommend on the internet anyway) then I'd be happy to get it built for you real quick... but someone else would probably need to update the publish scripts (I don't have great way to tes

[2016-01-27 20:01] Petermarcu commented on #1064
@robmen , Thanks for jumping in! :) Having a bundle would be a great addition in my mind.

[2016-01-27 20:01] joeloff commented on #1064
Is this a bundle for just the CLI? We are currently working on a bundle that will carry the CLI and tooling though that's primarily geared toward VS2015, though without VS it should just end up dropping the CLI

[2016-01-27 20:02] blackdwarf commented on #737
@ericstj is this a nuget cli feature? Should it then go to nuget repo?

[2016-01-27 20:04] ericstj commented on #737
I suppose that depends on the implementation.  Ideally this is nuget functionality so you get the same behavior from VS/MSbuild and DotNet-cli.

[2016-01-27 20:06] robmen commented on #1064
@joeloff I would recommend creating a Bundle for the pieces you expect users to install. If you only expect a user to install the CLI with the tooling, then a single Bundle with both is great. But I would recommend changing the Getting Started documentation to indicate installing that Bundle instead of just the CLI.

If installing the CLI as a standalone "thing" the a Bundle for the CLI is a very

[2016-01-27 20:12] joeloff commented on #1064
@robmen 100% agree. That's why the CLI MSI should already have dependency provider keys to support bundle reference counting. I just wasn't aware of the separate CLI only distribution.

[2016-01-27 20:15] NTaylorMullen opened #1071 "ProjectContext.CreateLoadContext can't load source Projects."
Assume we have a compiled class library that has the source format of:
[code]

And we do
[code]

Investigated this and it turns out when accumulating a projects exports [here](https://github.com/dotnet/cli/blob/e013deadd4d7ad19934fd0831c9574a32a2ef4cf/src/Microsoft.DotNet.ProjectModel.Loader/LoaderProjectContextExtensions.cs#L18) it doesn't take into account source projects.

Pulled @anurse in to

[2016-01-27 20:17] Petermarcu commented on #1064
@joeloff , the CLI Msi will definitely be something we want people to be able to install without having to get the VS tooling.

[2016-01-27 20:18] anurse commented on #1071
Looks like @davidfowl might have a fix for this in #1067

[2016-01-27 20:21] schellap commented on #974
The host will be dropped by `dotnet compile/publish` for the default case. When the user specifies `dotnet publish --no-host`, then they are responsible for bringing in a version of the host through either the project.json and renaming it to `app.exe` or specify to publish (TBD) `dotnet publish --host-package --host-version Version`.

An old host could get out of sync with a newer runtime (new pro

[2016-01-27 20:37] piotrpMSFT commented on #1064
Alright @robmen, all yours!

[2016-01-27 20:38] piotrpMSFT commented on #1059
@brthor, can you take a pass at this once #999 goes in?

[2016-01-27 21:00] gregg-miskelly opened #1072 "Windows installer uses 'Dotnet' instead of '.NET' in Add/Remove programs"
Repro steps:
1. Install the .NET CLI installer from http://dotnet.github.io/getting-started/
2. Go to Control Panel->Add/Remove programs

Result:
All the old .NET stuff is called '.NET' but the new CLI installer is called 'Microsoft Dotnet CLI for Windows'.

[2016-01-27 21:04] piotrpMSFT commented on #1072
@blackdwarf I believe this is bydesign. Can you confirm?

[2016-01-27 21:08] moozzyk commented on #809
Related: https://github.com/NuGet/Home/issues/2004

[2016-01-27 21:11] moozzyk commented on #1005
:-1: on bare `git clean -xdf` - I even committed once [this](https://github.com/moozzyk/MSBuild-Tasks/blob/master/common.targets#L4)

[2016-01-27 21:21] andschwa commented on #1043
I agree. I'd rather use something like:

[code]

For porting projects like ours where we just need to satisfy types at compile time.

[2016-01-27 21:24] brthor commented on #1005
@davidfowl @piotrpMSFT
I envision a clean build as doing the following steps:
1. Remove artifacts folder to ensure we are building clean bits and nothing gets reused
2. Delete Stage0 folder
3. Delete all project.lock.json recursively (not sure if this is really necessary but it will force a restore)

I would not want to touch anything where a dev might have work.

Thoughts?

[2016-01-27 21:31] piotrpMSFT commented on #737
This should be done in NuGet. If @yishaigalatzer needs then we can temporarily build it into CLI.

[2016-01-27 21:34] yishaigalatzer commented on #737
I don't think we should build it for RTM. "Curb your enthusiasm"

About NuGet or CLI, I believe inferring default dependencies would be nice if the .NET CLI **brought** the standard library with it, and it wasn't a NuGet package that you need to reference at all. Looking at node.js you don't need to pull in anything to get going, I don't get why all the basic stuff is a package?

[2016-01-27 21:37] livarcocc opened #1073 "dotnet build and compile --out parameter doesn't support path that ends with slash when the path is in double quotes"
We had a similar one for publish, I tried out other commands but this actually only happens when we have the output path in double quotes. It works otherwise.

[2016-01-27 22:03] glennc opened #1075 "publish doesn't accept a --packages arg"
If I restore an applications packages to a directory using `dotnet restore --packages <path>` then want to publish that app then I need to be able to have publish use the location I restored to.

I had expected to see --packages as an option on publish, compile, etc. Any command that will require looking for assemblies. Or am I missing something?

[2016-01-27 22:05] schellap commented on #1044
I had a suspicion of DLL stomping going on again -- the libryujit.so that was brought in conflicts with the ILC's dependency. To workaround for your presentation, you can replace the copy of libryujit.so from this package (replace .nupkg to .zip and libryujit.so is in runtimes/ubuntu.14.04-x64/native/)

`https://www.myget.org/F/dotnet/api/v2/package/toolchain.ubuntu.14.04-x64.Microsoft.DotNet.RyuJ

[2016-01-27 22:05] brthor commented on #1075
:+1:
There was some conversation on this a while back:
#261

[2016-01-27 22:07] livarcocc commented on #1075
Is this really an issue with publish or is this something that restore should have handled when generating the lock files?

[2016-01-27 22:09] brthor commented on #1044
@schellap AFAIK libryujit is only brought in by ILC?

[2016-01-27 22:10] glennc commented on #1075
I don't think baking base path knowledge into the lock file is the right approach. It doesn't have any knowledge of that now AFAIK, and I would be hesitant to add it.

[2016-01-27 22:20] livarcocc commented on #1075
You are absolutely right, it does not.

And I completely agree that this is needed, not only for publish, but for build and compile as well.

[2016-01-27 22:35] pranavkm commented on #232
The result of `dotnet --verbose build`: https://gist.github.com/pranavkm/e3df70b00d8677947767

I get the same output running it multiple times over.

[2016-01-27 22:36] schellap commented on #1044
From my .nuget cache. I think this dependency problem needs to be taken care of now that CLI is beyond beta. @piotrpMSFT, you were suggesting commands will go into their own folders, is that plan still on?

`/home/senthil/.nuget/packages/runtime.ubuntu.14.04-x64.Microsoft.NETCore.Runtime.CoreCLR/1.0.1-rc2-23704/runtimes/ubuntu.14.04-x64/native/libryujit.so`

[2016-01-27 22:37] schellap commented on #1044
@kyulee1, is there a reason `libryujit.so` gets included in the ubuntu CoreCLR package?

[2016-01-27 22:42] schellap commented on #1064
Since the CRT changes need to be fixed in both the repos, we need this issue https://github.com/dotnet/cli/issues/1019 fixed, so we no longer need to pin the CLI version to `1.0.0.000973` in CoreRT. Then we can push a new ILC package and make corresponding CLI changes.

[2016-01-27 22:44] schellap commented on #1064
I can get an ILC Package for the CLI just compiled with MT MTd without passing the CI though. I will do that for bootstrapping.

[2016-01-27 22:51] cdmihai commented on #232
That is really weird, no outpus are being printed. Though here is the code that prints them if they're there: https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.Tools.Builder/CompileContext.cs#L157

Are you sure you have the latest code and that dotnet.exe binds to the correct path?

Can you please do:
[code]

It should show the missing items (dll, pdb, etc).

[2016-01-27 23:06] ericstj commented on #737
Many of the packages that are referenced by default in standard library are standalone and can version independently.  In fact, that is one of the primary benefits we are driving towards in .NET core: a modular framework.  Coupling the libraries that are referenced by default with things that **must** come with the CLI is plain wrong and goes against this business goal.

The CLI does bring these p

[2016-01-27 23:32] giggio opened #1076 "Add support for ruleset files (or similar)"
With #83 recently closed we now have support for analyzers in the CLI. But there is no way to define what diagnostics should be enabled or disabled, or a way to define the severity of such diagnostics. For big .NET we have ruleset files. I suggest that you either add support for ruleset files, or, as the trend has already set, support a json file for the same thing (because xml is ugly, really, re

[2016-01-28 02:48] kkurni commented on #881
I just verified that dotnet CLI publish won't have this issue like DNX.
It will use the published runtime.

[2016-01-28 02:48] #881 closed

[2016-01-28 03:34] weidazhao opened #1079 "'dotnet publish' should generate exe.config as needed too"
Repro steps:
1. Unzip [repro.zip](https://github.com/dotnet/cli/files/107642/repro.zip). The project references two packages, and the two packages have dependencies on different versions of Newtonsoft.Json.
2. If run dotnet restore & dotnet publish, repro.exe.config is not generated.
3. If run dotnet restore & dotnet compile, repro.exe.config is generated next to the executable.

Expected:
Publish

[2016-01-28 03:37] piotrpMSFT opened #1080 "Make src/{projectdir} name match command name in that project"
Like src/dotnet-restore, other commands should be easy to find.

[2016-01-28 03:50] victorhurdugaci opened #1081 "dotnet build places the "obj" folder in the current directory"
1. Create a project
2. Go in one of the parent folders (can be the repo's root or the drive's root)
3. Run `dotnet build <path to project>` (e.g. `dotnet build test\Microsoft.Extensions.Options.Test`)

Notice:

1. The `bin` folder is placed under the project's folder.
2. The `obj` folder is placed under the current folder instead of the project's folder.

[2016-01-28 05:58] #1019 closed

[2016-01-28 05:58] #987 closed

[2016-01-28 06:05] davidfowl commented on #1081
@victorhurdugaci can you retry this now that https://github.com/dotnet/cli/commit/4ebc704e670f3c0addb0d7e19d9d4b72d169faea is in

[2016-01-28 06:06] NTaylorMullen opened #1084 "AssemblyLoadContext.LoadFromAssemblyName cannot load user initialized AssemblyNames"
If we have a project that references a package `Foo` you cannot do the following:

[code]

This is due to the following [Dictionary](https://github.com/dotnet/cli/blob/4ebc704e670f3c0addb0d7e19d9d4b72d169faea/src/Microsoft.DotNet.ProjectModel.Loader/LoaderProjectContextExtensions.cs#L15) having an `AssemblyName` key without a proper comparer.

[2016-01-28 06:10] davidfowl commented on #1075
@livarcocc Ugh, no. We should be careful where we add these command line arguments that augment where things look. The problem with argument is that there's different software looking at where to find packages and they all need to be in sync or the pipeline will fall apart:

- nuget restores packages to a specific location
- The MSBuild nuget target looks for packages
- `dotnet compile/build` and

[2016-01-28 06:50] piotrpMSFT opened #1087 "Normalize project.json dependencies"
Even after #1004 we have some project.jsons with inconsistent dependency version. We should get them all up to date so we're not seeing version conflicts.

[2016-01-28 07:46] livarcocc commented on #1075
@davidfowl My point was more in the sense that whatever we do, needs to be done across the commands, to your point.

However, it seems like we have a break of experience at the moment right? You can restore to a different cache location, but none of the commands that actually could use that cache will, because they are not aware of it.

The real issue is how do we make these commands aware of this

[2016-01-28 09:59] gep13 commented on #1064
@robmen piotrpMSFT once this is complete, and hosted "somewhere" if you let me know, I would be happy to wrap this in a chocolatey package, so would then be as simple as:

`choco install dotnet`

to get the necessary tooling installed on a Windows based machine (assuming they have Chocolatey already, obviously :smile: )

[2016-01-28 10:01] gep13 commented on #1064
@piotrpMSFT on a side note, how were you able to assign @robmen to this issue?  That is something we run into all the time.  Did you have to add him to your organisation on GitHub?

[2016-01-28 11:56] dtretyakov commented on #1066
Ok, thanks for explanation. Waiting for that part of toolchain.

[2016-01-28 11:56] #1066 closed

[2016-01-28 13:57] xanather commented on #710
I got this problem too... Pretty important issue if we want to allow third-party managed libraries which make use of native libraries (while directly referencing the source code of said project instead of a package).

[2016-01-28 14:25] kaaann commented on #1010
THX

[2016-01-28 15:18] xanather opened #1090 "When referencing a project directly allow content to be copied on publish."
When referencing a project directly make it possible to allow content to be copied on publish. For example, I have Project A reference Project B and both projects are on the local disk within the same directory. When compiling/publishing the source code of Project B is used instead of nuget packages since its a local reference. The problem is the content/asset files of Project B won't be copied ov

[2016-01-28 15:22] xanather commented on #1090
Would be nice if NuGet packages in general could support copying content over too on publish, just like how files in /runtimes/win7-x64/native of NuGet packages get copied.

[2016-01-28 15:38] xanather commented on #1090
Re-reading what I wrote seems complicated, trying to simplify:

**Any files:**
Using "content" of project.json when referencing as NuGet package results in:
Not contained within the .nupkg file so won't be included on publish.

Using "content" of project.json when referencing project as source code directly results in:
Not copied on publish.

**Native library files (related to https://github.com/d

[2016-01-28 15:58] khellang commented on #1064
@gep13 GitHub lets you add people as "outside collaborators", i.e. not a member of the organization; https://help.github.com/articles/adding-outside-collaborators-to-repositories-in-your-organization/

[2016-01-28 15:58] factormystic commented on #1064
@gep13 even better would be to publish via powershell package management. Add the project's package source, then something like `install-package dotnet-cli`. No third party dependencies required

[2016-01-28 16:53] victorhurdugaci opened #1091 "Support installing a particular version of the CLI"
It would be nice if the install scripts under `scripts\obtain` would support installing a particular version of the CLI, not only the latest. It would help us when we find a blocking bug and we need to stick to a particular version of the CLI for a while

[2016-01-28 17:04] danroth27 commented on #1049
@troydai @piotrpMSFT #1004 is now merged. Should this be closed?

[2016-01-28 17:11] piotrpMSFT commented on #1091
:+1:

[2016-01-28 17:51] Sridhar-MS opened #1092 "Enable MSI tests in CI"
https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/windows/testmsi.ps1#L50-L65

Investigate to find a reliable way to run MSI tests in CI.

[2016-01-28 18:35] victorhurdugaci opened #1093 "Build fails for build time dependencies"
Clone the aspnet/common repo and build `Microsoft.Extensions.Primitives`.

That repo has a dependency on `Microsoft.Extensions.HashCodeCombiner.Sources` which is a build time dependency. `HashCodeCombiner` is also a sources packages so it shouldn't produce any binaries.

However, `build` expect a dll from it:

[code]

Side note, probably related:

If you run `dotnet pack` on a sources package you

[2016-01-28 18:39] anurse commented on #1093
This isn't specific to build-time dependencies. This is just an issue with project-to-project references of sources projects.

[2016-01-28 18:56] brthor commented on #1080
:+1: :+1: :+1:

[2016-01-28 18:59] gep13 commented on #1064
even better would be to publish via powershell package management.

Certainly another option. No harm in having both though :+1:

[2016-01-28 19:00] weidazhao opened #1094 "#882 still can repro"
I'm using the following version of DotNet CLI:

d53b405ebd451b537636c7fcafa8697b69c85cf2
1.0.1.001134

The build still can repro https://github.com/dotnet/cli/issues/882.

Repro steps:
1. Unzip [repro.zip](https://github.com/dotnet/cli/files/108695/repro.zip)
2. dotnet restore
3. dotnet compile

Check out bin\Debug\net451\Microsoft.Extensions.DependencyModel.dll. It is not compatible with .NET 4.5

[2016-01-28 19:11] moozzyk opened #1096 "dotnet restore NREs when the feed cannot be reached"
Apparently there are some problems with myget today. When I run `dotnet restore` I get this:

[code]

[2016-01-28 19:38] BillHiebert opened #1098 "ProjectModelServer - am seeing an argument exception opening one of my projects"
dotnet version: 1.0.1.001134

The error is: An item with the same key has already been added. Key: fx/System.Collections
[code]

[2016-01-28 21:02] BillHiebert opened #1099 "ProjectModelServer - Argument null exception from NewtonSoft"
When I open a new project in Visual studio, I am seeing this error from the project model server. You can repro it by using dotnet new to create a project and then open it in Visual Studio.
[code]

[2016-01-28 22:21] cdmihai commented on #956
+1
[code]

[2016-01-28 22:25] victorhurdugaci commented on #18
@piotrpMSFT got a new build by any chance?

[2016-01-28 22:54] pranavkm opened #1101 "dotnet build throws Argument Null Exception for projects referencing projects with localized resx files"
ProjectA contains Test.fr.resx
ProjectB references ProjectA

dotnet build produces the following stack trace:

[code]

I am using a locally built copy of dotnet-cli that is at `rel/1.0.0`

[2016-01-28 23:20] neilhuiz opened #1102 ""dotnet restore" doesn't work with VSO (VSTS) package feeds"
I originally filed this against DNU (https://github.com/aspnet/dnx/issues/3314). The same issue exists in the latest bits when you run "dotnet restore". The logging is not nearly as verbose, but still a 401 when using a plain text password and "Specified method is not supported" when using an encrypted password. Nuget.exe does not display the same behavior and succeeds in restoring packages for th

[2016-01-28 23:24] schellap opened #1103 "Signing of the CoreHost"
A publishable version of the CoreHost should not be signed, but the dotnet-commands corehost have to be signed. The signed corehost should load only signed command DLLs.

[2016-01-28 23:26] troydai commented on #1049
This one is fixed along with #1004.

[2016-01-28 23:26] #1049 closed

[2016-01-28 23:42] brthor commented on #429
@piotrpMSFT @Sridhar-MS @livarcocc

I think we need to start looking at this. Dependency Stomping is causing us pain.

[2016-01-28 23:43] schellap commented on #429
Cc @tijoytom

@piotrpMSFT this might need our attention again when we go for a cleaner RC.

[2016-01-28 23:51] hunter-xue commented on #959
@piotrpMSFT yes, it worked for me, but get another error when execute "dotnet restore":

info : Restoring packages for /Users/xuehaitao/Coding/dnx/p2/project.json...
info : Retrying 'FindPackagesByIdAsync' for source https://api.nuget.org/v3-flatcontainer/.
Too many open files
info : Retrying 'FindPackagesByIdAsync' for source https://api.nuget.org/v3-flatcontainer/.
Too many open files
info : Ret

[2016-01-28 23:58] cdmihai commented on #429
Does this problem arise because each project dependency has its own lock file, each with possibly a different version of the same potential transitive dependency?

In this case, one solution would be for nuget restore to accept multiple projects (that need to be built for a greater metaproject) and construct a master lock file with the resolved dependencies across multiple projects.

For example,

[2016-01-29 00:14] brthor commented on #429
@cdmihai I like the general idea. I think we'd need to see what NuGet thinks but I can forsee at least one potential problem.

One issue we have right now is that some of our dependencies are forcing us to lower versions of FX libraries. In these cases we'd be forcing the entire toolchain to that low version rather than just the one command (which is part of the original problem).

[2016-01-29 00:19] brthor commented on #1102
I ran into this issue a while back and it looked like the method NuGet XPlat relied on in CoreCLR for crypto simply was not implemented.

[2016-01-29 00:23] neilhuiz commented on #1102
For the encrypted password, that sounds like a good explanation. The behavior when using a plain text password is also broken, though and I don't see a workaround. Is there a divergence between the XPlat library and NuGet.exe?

[2016-01-29 00:26] brthor commented on #1102
I would expect so, though I'm not too familiar with that code.

@emgarten Could provide much better information :smile:

[2016-01-29 00:34] NumberByColors commented on #704
# PDB generation plan:
* Build .NET Framework app/lib on Windows: Windows PDB by default, option for Portable PDB
* Build PCL lib on Windows: Windows PDB by default, option for Portable PDB
* Build .NET Core app/lib on Windows: Portable PDB by default, option for Windows PDB
* Build .NET Core app/lib on OS X or Linux: Portable PDB

We're not generating Portable PDBs in all cases because of the lac

[2016-01-29 00:40] cdmihai commented on #429
@brthor

True, the problem still persists.
I guess that to minimize this issue, restore could glob together project clusters that run in the same core clr instance: these projects are forced by the nature of the runtime to use the same dll for a dependency (can't load 2 versions of the same DLL at runtime).

However the problem still remains when 2 project clusters resolve to different versions of

[2016-01-29 01:58] cdmihai opened #1106 "CLI build scripts: add ability to turn individual build steps on / off to enable quick dev cycle"
It would be nice to have a set of flags that trigger different build stages: restore, stage0, stage1, stage2, test, pack, all. While coding one could just call build -stage2 -test. For a clean build one could do build -all. Or something like that.

The dev cycle would become much easier: `...write code...` + `build.cmd -stage2 -test` + `...write more code` + `build.cmd -stage2 -test`

[2016-01-29 03:33] davidfowl commented on #955
@NTaylorMullen added a custom assembly name comparer. Strong names shouldn't matter since there's only every one version at runtime.

[2016-01-29 03:54] scionwest opened #1109 "DOTNET_REFERENCE_ASSEMBLIES_PATH required when building on OS X?"
I downloaded the [.net core bits](https://dotnet.github.io/getting-started/) tonight and got it installed on OS X 10.11. I then cloned down a .Net Core project I had created and been working on from within Visual Studio 2015. When I run `dotnet build` it fails with the error below.

    Johnathons-MacBook-Pro:Lightmap.Core johnathonsullinger$ dotnet build
    Compiling Lightmap.Core for .NETFramew

[2016-01-29 03:59] NTaylorMullen commented on #955
I'll reference this issue as part of that PR.

[2016-01-29 04:06] NTaylorMullen commented on #1084
8ecef6b20d767fca7e0a76a81a9a855fe47ec0a3

[2016-01-29 04:06] #1084 closed

[2016-01-29 04:07] NTaylorMullen commented on #955
duplicate of #1084

[2016-01-29 04:07] #955 closed

[2016-01-29 05:31] piotrpMSFT commented on #1080
fixed by #1086

[2016-01-29 05:31] #1080 closed

[2016-01-29 05:35] piotrpMSFT commented on #1094
@davidfowl it looks like this may have been regressed by #1067. This scenario was validated after #989

[2016-01-29 05:55] xanather commented on #1090
Native library copying from project references doesn't seem supported on purpose. Due to requiring formal design on how it should work inside the project.json?
https://github.com/dotnet/cli/blob/d53b405ebd451b537636c7fcafa8697b69c85cf2/src/Microsoft.DotNet.ProjectModel/Compilation/LibraryExporter.cs#L200

Copy contents is also only ran on the project being published.
https://github.com/dotnet/cli/

[2016-01-29 06:04] piotrpMSFT opened #1110 "dotnet-restore -? throws an exception"
C:\Microsoft\visualfsharp>packages\dotnet\bin\dotnet.exe restore /?

Unhandled Exception: System.AggregateException: One or more errors occurred. ---> System.ArgumentException: Illegal character
s in path.
Parameter name: path
   at System.IO.Path.GetFullPath(String path)
   at NuGet.CommandLine.XPlat.Program.<>c__DisplayClass1_0.<<Main>b__1>d.MoveNext()
   --- End of inner exception stack trace -

[2016-01-29 06:12] tijoytom opened #1111 "Remove the special handling of System.RuntimExtensions from dotnet-mcg"
Both S.Private.Interop and System.RuntimeExtensions define Marshal class and this cause error/warning when compiling mcg generated code.Need to rename the Marshal class in System.RuntimeExtensions

[2016-01-29 06:21] JohnChen0 commented on #640
This issue is addressed with dotnet/coreclr#2901. The ReadyToRun image (csc.ni.exe) will need to be re-generated for the fix to be effective.

[2016-01-29 06:21] piotrpMSFT opened #1112 "Bump NuGet dependency to -559"

[2016-01-29 07:01] piotrpMSFT opened #1115 "rename rel/1.0.0 beta to preview"
We are not yet stable enough for a beta release, but we do want to have a baseline build folks can experiment with [signed, etc].

[2016-01-29 07:01] emgarten commented on #1102
Auth support in NuGet xplat is in the works.
https://github.com/NuGet/Home/issues/1988

[2016-01-29 07:54] livarcocc commented on #711
/cc @davidfowl @piotrpMSFT can we get the ball rolling on this bug? I am trying to validate the behavior regarding rid in the output path. Can you guys check the table below and tell me what you think?

![image](https://cloud.githubusercontent.com/assets/367554/12670020/d8ba6360-c619-11e5-8d93-1bd7b4ea3493.png)

[2016-01-29 09:50] troydai commented on #1098
Investigating. Working branch: https://github.com/dotnet/cli/tree/troy/1098

[2016-01-29 11:12] khellang opened #1118 "Feature Request: Ability to set default language for dotnet new"
Now that there are several commands, `dotnet repl` and `dotnet new`, that supports language arguments, I think it makes sense to be able to somehow specify a default language.

If you primarily work with F# projects, I think it'd be nice to not have to specify `--lang fsharp` every time you want to create a new project or start the repl.

Is there an existing configuration mechanism in place?

I p

[2016-01-29 12:34] enricosada commented on #1118
:+1: i can implement it, if it's approved

I think only `dotnet new` and `dotnet repl` should use it, the other commands doesnt required a lang argument as input.

[2016-01-29 12:36] khellang commented on #1118
Yeah, I was kinda just filing an issue before sending a PR, just to make sure I don't do any unnecessary work...

[2016-01-29 12:39] enricosada commented on #1118
@khellang sure, better to discuss about it before pr :smile:
I wrote about implement it because it's something i really like to use, no need to wait ms

[2016-01-29 14:02] davidfowl commented on #1118
Here's a potential problem with an environment variable:

- Who reads it? If you think about the set of things that need to know about that setting, VS tools, Omnisharp, the CLI itself. Any API that wants to reason about the project data.
- Project to project references can be multi language  and not having the language in the project file assumes that all projects have the same language (today C#

[2016-01-29 14:05] enricosada commented on #1118
`dotnet-new` and `dotnet-repl`, only these tools
Tools can just pass the argument `--lang` or similar if need specific language

i think `project.json` it's ok with `compilerName`, we use `"compilerName": "fsc"` so it's ok
I think default `compilerName` to `c#` it's not a problem, in F# we can explicit set it in `project.json`

[2016-01-29 14:07] davidfowl commented on #1118
The main point was trying to explain why an environment variable doesn't work as well as you would think.

[2016-01-29 14:09] davidfowl commented on #1109
When you target mono (which is what you are doing) you need to set `DOTNET_REFERENCE_ASSEMBLIES_PATH`, it will never ignore those targets. You either need to set it to the mono installation (if you have it) or remove that target entirely.

[2016-01-29 14:14] khellang commented on #1118
It'll be exactly the same as `DOTNET_BUILD_VERSION` and `DOTNET_ASSEMBLY_FILE_VERSION` ([here](https://github.com/dotnet/cli/blob/770026eef70752c8668946173e398186f51d5239/src/Microsoft.DotNet.Tools.Pack/Program.cs#L55-L56)).

That's why I asked:

If you think this would be a better place for it and make the CLI read that, it's fine for me.

This suggestion was specific for the CLI, not something t

[2016-01-29 14:19] davidfowl commented on #1118
Agreed it's the same. The difference is that the IDE and tool chain don't really need to know about those since it shells out to the command line to produce a build. You could imagine having a property page setting tool environment.

That's not a great experience. The CLI consists of a set of command line tools and libraries that all need to work together. When we designed the DNX we made sure to

[2016-01-29 14:29] enricosada commented on #1118
but global.json need to exists before i can do `dotnet new` or `repl`
I cannot open a prompt and do `dotnet new` in a specific folder, i need to copy the global.json.
If like that, it's better `dotnet new fsharp/console` or `dotnet new console --lang f#`

[2016-01-29 14:36] davidfowl commented on #1118
What if the environment variable was a default for dotnet new? Is that what we're talking about? I was under the impression that we were changing the default language without specifying any language in the file. If this is just a way to avoid the command line arg then it's fine.

[2016-01-29 14:36] davidfowl opened #1119 "Add dotnet-env command"
It should dump all of the known environment variables that affect the CLI tools (in box)

[2016-01-29 14:41] khellang commented on #1118
Yes, that's it. Just a simple way to "always pass `--lang fsharp`" :grin:

[2016-01-29 14:44] davidfowl commented on #1118
As long as the language ends up in the project file then we're fine. I thought the point was to avoid that.

[2016-01-29 14:51] enricosada commented on #1118
sure, np about `project` files.
i think it's better to have explicit `compilerName: fsc` in project.json, we dont want to change that

it's to avoid in `dotnet new` and `dotnet repl` only

[2016-01-29 14:52] shahid-pk commented on #1118
:+1:  yes plz

[2016-01-29 15:42] scionwest commented on #1109
I can't conditionally compile a 451 framework based on the environment i'm in? For instance, compiling in Visual Studio for both 451 and dotnet5.4, then only compiling against dotnet5.4 while on my Mac?

Is the guidance at the moment, if you want to target n-frameworks, then all platforms must have a runtime/bcl for those frameworks? It's not a big deal to install Mono, I'm kind of surprised I for

[2016-01-29 15:45] davidfowl commented on #1109
Nope.

Yes, you currently need to install mono to compile for those other platforms (non dotnet/netstandard).

PCLs don't really exist as they have before in this new world and those can be built anywhere. We're still discussing if we're going to ship reference assemblies as packages to allow compilation on other platforms.

[2016-01-29 15:48] scionwest commented on #1109
Thinking about it after I posted, I guess it makes sense. I keep forgetting that `project.json` isn't "solution-wide". I'll just break the `451` specific stuff into it's own project and have it reference the dotnetcore50 package.

[2016-01-29 16:15] blackdwarf commented on #959
@hunter-xue for the "too many open files" you can check out [this SuperUser article](http://superuser.com/questions/433746/is-there-a-fix-for-the-too-many-open-files-in-system-error-on-os-x-10-7-1) that can help you increase the limit. See if that helps.

[2016-01-29 16:16] scionwest commented on #1109
@davidfowl If I were to install mono, does mono add the `DOTNET_REFERENCE_ASSEMBLIES_PATH` to my `bash_profile` or do I have to? If so, what mono path is it expecting?

[2016-01-29 16:18] blackdwarf commented on #1119
I think that this should be a part of the driver, not a separate command. Running `dotnet` should give you this info, methinks.

[2016-01-29 16:20] davidfowl commented on #1119
it can be in the driver that's fine. go has `go env`

[2016-01-29 16:20] davidfowl commented on #1109
osx?

export DOTNET_REFERENCE_ASSEMBLIES_PATH=/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/xbuild-frameworks/

[2016-01-29 16:22] blackdwarf commented on #1102
Should we close this and/or move it to nuget repo?

[2016-01-29 16:23] scionwest commented on #1109
@davidfowl yeah OS X, thanks! I'll get those installed.

It would be awesome if you guys do end up shipping reference assemblies as packages. I'd like to remove my dependency on Mono altogether. They do a lot of good work but lag behind to much.

[2016-01-29 16:23] #1109 closed

[2016-01-29 17:32] GuardRex commented on #711
Excellent table! When the dust settles on everything, please add a table just like that to the docs.

[2016-01-29 18:15] pranavkm opened #1122 "dotnet-resgen should use a file to accept argument values"
Ran into this issue building a file with localized content. It seems like there's a character limit to the `ProcessStartInfo.Arguments` value (8192 since we have `UseShellExecute` = true) used to execute the `dotnet-resgen` command as part of `dotnet build`. In my application, the argument length was 13911. The recommended fix for this (https://support.microsoft.com/en-us/kb/830473) is to use a fi

[2016-01-29 18:29] Petermarcu commented on #1119
I believe it should be an argument to dotnet not just what dotnet does if there are not args. Whether we call that a command or its closer to help doesn't really matter to me.

[2016-01-29 18:40] blackdwarf commented on #1119
@Petermarcu all the same. Just trying to avoid "verb pollution". :)

[2016-01-29 19:07] enricosada commented on #655
ok added `dotnet new hello_world lang/type` in #1124 , pls review :smile:

I'll add `-ls` or `--list` after this one

[2016-01-29 19:16] #1112 closed

[2016-01-29 19:23] cdmihai opened #1125 "Common abstraction for specifying, extending, and parsing command arguments"
The CLI needs a common abstraction for specifying command arguments.

These abstractions need to be able to:
- be shared by multiple commands (command A and command B share some core arguments)
- be extended by commands (command A takes the arguments of command B with some extra ones)
- parse and provide the actual value at runtime
- construct their own tool arguments

I've seen multiple implement

[2016-01-29 19:44] brthor opened #1126 "dotnet-restore does not work when published Standalone"
Discovered this yesterday. New NuGet builds may fix this issue already.

Filing this issue to track.

This is happening because beta Managed Libraries are getting mixed with rc3 native shims during restore/publish. Errors in the lock file are present.

[2016-01-29 21:03] piotrpMSFT opened #1129 "corehost should not crash if dependency not found"
When corehost fails to find a dependency it crashes and pops a WER dialog. It should instead exit gracefully and provide useful feedback.

# Repro
dotnet-new
dotnet-restore
dotnet-build
delete the deps file
run the exe

# Actual
WER dialog +
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f

[2016-01-29 21:58] fearthecowboy commented on #232
I see this exact same behavior on projects that have resources.

It appears that `dotnet-build` will  rebuild any project that has resources, regardless of anything changing whatsoever.

[2016-01-29 22:06] pakrym commented on #1047
Closing, was fixed by another change

[2016-01-29 22:06] #1047 closed

[2016-01-29 22:06] #616 closed

[2016-01-30 00:16] moozzyk opened #1131 "`content` copied on build"
`dotnet build` copies items specified in the `content` section. These file should only be copied on publish but not on build.

[2016-01-30 00:16] moozzyk commented on #1131
/cc @davidfowl

[2016-01-30 00:42] balachir opened #1132 "dotnet compile does not work with net451 with --output and --temp-output"
1. Get the latest dotnetcli from http://dotnet.github.io/getting-started/
    -- I got version 1.0.1.001141

2. Open command prompt, cd C:\Projects\Project1
3. dotnet new
4. Change project.json to use net451 instead of dnxcore50
{
    "version": "1.0.0-*",
    "compilationOptions": {
        "emitEntryPoint": true
    },

    "dependencies": {
    },

    "frameworks": {
        "net451": { }

[2016-01-30 01:03] davidfowl commented on #711
Spoke to @livarcocc and @pakrym offline and this is the working spec:

https://gist.github.com/davidfowl/9931f6b9caa69b3b91dd

[2016-01-30 01:17] livarcocc commented on #1132
@balachir Did you run restore after updating the project.json? Also, you shouldn't use compile directly, you want to use dotnet build instead, as it resolves and builds any other dependences (project to project) that you might have.

[2016-01-30 01:19] livarcocc opened #1135 "dotnet build does not copy P2P dependencies to output folder for test projects."
dotnet build is not copying the built project dependencies when running against a test project (project with a testrunner). This causes dotnet test on that project to subsequently fail, as it can't find the P2P dependencies.

[2016-01-30 01:32] cdmihai opened #1136 "Dotnet-resgen does not generate resource. In consequence, dotnet-build will rebuild any project that has resources because of missing outputs"
Discovered by https://github.com/dotnet/cli/issues/232#issuecomment-176988459

[2016-01-30 01:33] cdmihai commented on #232
I opened an issue to track this: #1136

@pranavkm
Does your project have resources as well?

[2016-01-30 02:14] vors opened #1137 "dotnet-restore doesn't respect global.json"
Calling `dotnet restore` from a root folder with `global.json` does restore for all folders regardless are they listed in `projects` section of `global.json` or not.

[2016-01-30 02:27] davidfowl commented on #1137
It never did. It looks recursively for project.json files

[2016-01-30 03:01] wjk opened #1139 ".NET CLI vs. Visual Studio"
Today I just noticed that DNX has been retired, and all users of it should migrate to .NET CLI. This presents a bit of a problem for me. Due to past problems with .NET CLI, I am currently using DNX to build my app. (Due to being a GUI app with a custom C++-based entry point, my build procedure is quite complex.)

However, my main concern is Visual Studio's integration with DNX. As far as I know, V

[2016-01-30 03:09] wjk opened #1140 "dotnet-restore lock file crash"
When I run `dotnet restore` on a certain project of mine (private repo), I get the following error message:

[code]

Apparently, it cannot write out the `project.lock.json` file. Unfortunately, I don't have any more information that that. This is preventing me from moving from DNX to .NET CLI. Any pointers?

[2016-01-30 03:11] brthor commented on #1140
Please give us some more details.

What OS are you on? (which version too)
Can you share your project.json?

[2016-01-30 03:13] wjk commented on #1139
Apparently, through informal testing, running `dotnet restore` on an otherwise DNX-managed project produces _no churn whatsoever_ (`git status` reports no changes to `project.lock.json` or any other file). However, it seems I must keep DNX around if only because Visual Studio takes a dependency on it. No harm done there.

[2016-01-30 03:18] wjk commented on #1140
Here is the `dotnet --version` output:

[code]

And here is my `project.json`:

[code]

[2016-01-30 03:19] wjk commented on #1140
Also, I think I have managed to isolate the crash to [this code](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand.cs#L863-L881).

[2016-01-30 03:25] wjk opened #1141 "Restore Incompatible Runtime Error"
I am trying to run `dotnet restore` on a fairly simple project of mine (private repo); however, I get the following errors:

[code]

I have tried explicitly specified the runtime (`dotnet restore --runtime win7-x64`), but to no effect. Any idea what is going on?

[2016-01-30 03:26] wjk commented on #1141
Weirdly, `dotnet compile` succeeds with no errors when run on the same project.

[2016-01-30 03:29] brthor commented on #1141
try adding `Microsoft.NETCore.Platforms: 1.0.1-rc3-23729`

and then calling `dotnet build`

[2016-01-30 03:32] wjk commented on #1141
That did it, all right. Thanks!

[2016-01-30 03:32] #1141 closed

[2016-01-30 03:42] wjk commented on #1140
Yet, weirdly, it seems to work now! I'm keeping the issue open, though, because I am still curious as to the cause.

[2016-01-30 04:29] Petermarcu commented on #1139
Were in the middle of the transition but the high level answer is yes. You will see vs tooling on top of the. net CLI similar to your current DNX experience. Were still figuring out timeframes for when we be able to complete all the work. For now, the only vs experience we have is the RC1 of ASP.net.

[2016-01-30 04:53] GuardRex opened #1142 "Quick guidance request on pair of .pdb and .dll files in published output"
Just checking the most recent design and see that the publish output for a test app of mine appears to be ...
[code]
Why (and what's relevant about) the presence of two `myapp.dll` and `myapp.pdb` files?

As I test with such an app's published output, I need to know is it cool to only move the contents of the `win7-x64` folder to the IIS hosting server? Are the outer `.dll` and `.pdb` files releva

[2016-01-30 05:11] GuardRex opened #1143 "Relevant or irrelevant exception?"
Is this relevant or irrelevant given the present work? I'll provide a repro if you want more. Otherwise, I'll close and shove it in my :ear: if it's a "Luke, WAIT! please." issue.

![capture](https://cloud.githubusercontent.com/assets/1622880/12693827/b7dffbec-c6cc-11e5-9166-cd8adf785ea4.PNG)

[2016-01-30 05:15] davidfowl commented on #1143
@pakrym Fixed this today

[2016-01-30 05:15] GuardRex commented on #1143
I'll shove it in my :ear: now. thx.

[2016-01-30 05:16] davidfowl commented on #1139
@wjk We're updating DNX just enough to continue working with the CLI changes until we have a public VS release.

[2016-01-30 05:25] blackdwarf commented on #1072
@piotrpMSFT for now, yes.

[2016-01-30 05:29] blackdwarf opened #1144 "Warning should be displayed when dual-referencing the tool"
Inside `project.json` you can reference the tool you want to get off of NuGet as both a dependency as well as a tool. We should warn in these situations.

[2016-01-30 05:32] blackdwarf opened #1145 "Gracefully error out when tool is not found during restore"
Currently, if the tool is not found during `dotnet restore`, we will throw. We should instead gracefully error out.

[2016-01-30 06:30] GuardRex opened #1146 "Advice for "Could not load file or assembly ...""
For an exception following `dotnet publish` with 0 Warnings and 0 Errors ...
[code]
![capture](https://cloud.githubusercontent.com/assets/1622880/12694037/0330a0fe-c6d4-11e5-9e36-5c57898cf882.PNG)
... and `project.lock.json` shows ...

System.Runtime.Extensions Reference | Count of Requests
-------------------------------- | -----------------
System.Runtime.Extensions 4.0.0 | 27
System.Runtime.Ext

[2016-01-30 08:02] zhouyongtao commented on #1139
这个问题估计得等好久了，首先现在官方的文档基于VS2015都还是DNX的，CLI的迁移工作估计还是等3月份后才会有新的进展，也就是中国年后 ，哈哈。

[2016-01-30 13:48] blackdwarf commented on #792
@anurse yes, but it is much easier to grok if you have a separate file, is it not? It also seems a lot cleaner. You have one file which is your runtime config and that file gets copied around. Introducing this transformation step complicates things. Also, PJ data is oriented primarily towards design-time properties (e.g. compilation options, testing options, dependencies etc.).

[2016-01-30 16:17] davidfowl commented on #1146
There's tons problems with the existing BCL packages and @ericstj is working on fixing that. In the mean time, it's likely that you need to update your Standard.Library reference.

[2016-01-30 16:29] davidfowl commented on #1142
Project to project compile time assets are found in `bin\{configuration}\{tfm}\*`, while platform specific assets are put in `bin\{configuration}\{tfm}\{rid}\*`.

That's correct. Runnable assets will always be platform specific. We're still working on this and if it ends up being too confusing we might see if we can do something else but it's the cleanest thing to do right now. It allows project t

[2016-01-30 16:37] ericstj commented on #1146
@davidfowl I'd say that the current package dependencies stress NuGet a bit more than we need to.  We're changing them.  That will reduce the number of different versions in the graph.  The way to decode all those references is many different packages you're bringing in referenced different versions of S.R.E, but the NuGet should have chosen latest implementation rc3-23729.

@GuardRex the way to t

[2016-01-30 17:08] davidfowl commented on #1146
Very diplomatic :wink:

I didn't notice the exception was happening during publish itself. Are you using the latest CLI bits? I'm not sure if you're using the right branch since we split rel/1.0.0 and master, fixes just landed in both but I don't know if the places that have download links are giving you the right thing.

[2016-01-30 17:36] davidfowl opened #1147 "Compilation errors are hidden when using dotnet run"
This is the cause.

https://github.com/dotnet/cli/blob/master/src/dotnet-run/RunCommand.cs#L105

We'll likely need an `--errors-only` mode so that only errors show up when using `dotnet run`

[2016-01-30 18:05] davidfowl opened #1148 "Add dotnet build --no-dependencies"
In order to enable incremental builds in visual studio where msbuild coordinates the P2P graph, we need to have the ability to disable P2P graph walking but still allow incremental build for the main project. To enable this we need to add a `--no-dependencies` flag to `dotnet build`.

/cc @cdmihai @piotrpMSFT

[2016-01-30 19:51] GuardRex commented on #1142
Thanks.

[2016-01-30 19:51] #1142 closed

[2016-01-30 20:24] onovotny commented on #550
Ping? This affects localization and should be a priority for RC2/RTM...

[2016-01-30 20:51] GuardRex commented on #1146
`"NETStandard.Library": "1.0.0-*"` resolved to `1.0.0-rc3-23729`.

@ericstj I checked the section you mention, and yes, it's showing ...
[code]
I've posted the `project.lock.json` file here:https://gist.github.com/GuardRex/f074d0c7f2351af62e8e

Let me know if I should put the full proj up.

I use the MSI to obtain the CLI. The CLI was pulled down last night. It was `1.0.1.001186 dev` and is still

[2016-01-31 00:42] davidfowl commented on #550
@onovotny When other basic things work, we'll get to this. We're still trying to get back to a place where the basic build/test/run/debug cycle works (notice I didn't even mention publish/deploy).

[2016-01-31 02:09] onovotny commented on #550
Thanks for the update @davidfowl

[2016-01-31 02:43] davidfowl opened #1149 "Intrinsic CLI commands should be in a single project"
Today we're doing something pretty ridiculous, making each of the built in commands and making them separate projects and then publishing them to a single folder which ends up stomping all over each other. Instead of this madness, we should have a single project for the intrinsic commands and separate projects for the commands that aren't `built in`. Here's an example of what that could look like: