[2017-01-09 14:24] dasMulli commented on #5245
With the new `preview5` versions you should no longer need to reference `Microsoft.NETCore.App` in your `csproj`.
Did you update `<TargetFramework>netcoreapp1.0</TargetFramework>` to `<TargetFramework>netcoreapp1.1</TargetFramework>`?
See https://github.com/dotnet/sdk/pull/450 and https://github.com/dotnet/sdk/issues/596 for reference.

[2017-01-09 15:04] JohnGalt1717 commented on #3371
This also fails if you have VS.net 2017 RC installed with the RC C++ runtimes.

[2017-01-09 15:40] davidfowl commented on #5242
[code]

You need to use the newer version of the shared framework to use the nightlies. See https://github.com/aspnet/Security/blob/dev/samples/CookieSample/CookieSample.csproj#L33. You also need to download the latest ci shared framework https://github.com/dotnet/core-setup#daily-builds

[2017-01-09 16:05] blackdwarf commented on #3121
@abhi18av what is the insight you are looking for? This issue describes a very special approach to having a [self-contained deployment](https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/deploying/#self-contained-deployments-scd) that also carries with it .NET Core's native dependencies. Is this what you had in mind or something else?

[2017-01-09 16:09] blackdwarf commented on #4238
@livarcocc so how do people build SCDs for Sierra? Using El Capitan RID?

[2017-01-09 16:43] #5183 closed

[2017-01-09 18:09] krwq commented on #4732
I think this is not reproing anymore. Possibly one of my tools changes could've fixed that

[2017-01-09 18:09] #4732 closed

[2017-01-09 18:19] RichDef77 commented on #3199
Hi There,

I think you need to remove the .Net Core entry from your frameworks section. Try removing this part:

netcoreapp1.0": {
"imports": [
"dotnet5.6",
"dnxcore50",
"portable-net45+win8"
],
"dependencies": {
"Microsoft.NETCore.App": {
"version": "1.0.0",
"type": "platform"
}
}
Hope that helps!

[2017-01-09 18:26] livarcocc commented on #5245
You can also set the below in your project and keep you reference as is. We are looking at ways to improve this and make it clearer.

[code]

[2017-01-09 18:40] squid16 opened #5248 "Cannot build project after adding reference to a asp.net class library(non core) from a .NET Core Web Application"
## Steps to reproduce
Using Visual Studio 2015, update 3, on Windows 10:
1.Create a .NET Core Web Application (WebApplication1)
2. Modify WebApplication1's package.json to also support .NET 4.6.1. I copied the content of my package.json file after step #7 below.
3. Use nuget(version 3.5) to create a local nuget package for a ASP.NET class library (target frame work: .NET Framework 4.6.1), named XX

[2017-01-09 18:42] livarcocc commented on #5059
Can you try this one: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/1.0.0-preview5-004422/dotnet-sdk-ubuntu.16.04-x64.1.0.0-preview5-004422.deb?

[2017-01-09 18:51] krwq commented on #5070
Some of those are blocked on changes to resources (we need to generate cs files and be able to extract common localizable strings to seperate assembly)

[2017-01-09 18:54] krwq commented on #5070
@piotrpMSFT I do not believe the left items are required for preview5 (dependencies on CommonLocalizableStrings.cs)

[2017-01-09 18:56] #5103 closed

[2017-01-09 19:06] dasMulli commented on #5241
@kierenj does it work if you just remove / comment out the `RuntimeIdentifiers` property?

@livarcocc Maybe `RuntimeIdentifiers` should only be emitted if the project.json has `"emitEntryPoint": true`? I'm seeing the same error if I migrate a lib that targets both netstandard and full framework.

[2017-01-09 19:43] livarcocc commented on #5241
We need the runtime identifiers if the project target any full framework project. Even a library.

[2017-01-09 19:47] livarcocc commented on #4238
you target os.10.11-x64. Corefx does not have a separate rid for osx.10.12-x64.

[2017-01-09 19:52] eerhardt commented on #4238
It does have a RID for osx.10.12, but only if you are targeting `netcoreapp1.1` and `Microsoft.NETCore.App 1.1.0`.

https://github.com/dotnet/corefx/blob/73bf061349650cecd6df04fecce7f073b9cf584d/pkg/Microsoft.NETCore.Platforms/runtime.json#L175-L180

`netcoreapp1.0` shipped before OSX 10.12, so that wasn't a fully-supported OS version for `netcoreapp1.0`.

@nathanielcook - can you try targeting `n

[2017-01-09 20:01] livarcocc commented on #4238
Ah, fantastic. I did not remember that. Then I guess we just need to update the blog to say 10.12 for netcoreapp1.1 and Microsoft.NETCore.App 1.1, if it does say so already.

[2017-01-09 20:05] dasMulli commented on #5241
That is.. unfortunate..
`NetStandard.Library` cannot be restored if `RuntimeIdentifiers` is set and if you condition `RuntimeIdentifiers` on the target framework, no runtime assets are restored and `project.assets.json` doesn't contain entries for the RIDs.

[2017-01-09 21:42] karelz commented on #3396
@binoypatel hit the problem: https://github.com/dotnet/corefx/issues/14998#issuecomment-271415006 and https://github.com/dotnet/standard/issues/152#issuecomment-271414660

@piotrpMSFT what would be your advice?

[2017-01-09 22:02] ThadHouse commented on #4853
I am running into the .NET Standard issue as well, although I have a use case where it definitely breaks things. I have a project.json file located at https://github.com/robotdotnet/NativeLibraryUtilities/blob/master/src/NativeLibraryUtilities/project.json that builds for .NET 4.5 and .NET Standard 1.5. I #ifdef anything from .NET standard that would be used in .NET 4.5 so it compiles completely i

[2017-01-09 22:38] dasMulli commented on #4977
So apparently this has been translated (in the languages I checked): https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-run/xlf/LocalizableStrings.ja.xlf#L46
and used here: https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-run/RunCommand.cs#L77
So I guess this is going to be quite a ✨ surprise ✨ on `dotnet run -c Release`?

[2017-01-09 22:42] livarcocc commented on #4977
This is present in many different places. We need to do a pass through the code and fix it.

[2017-01-09 23:24] 333fred commented on #5224
I can also reproduce this issue with a different repo: https://github.com/robotdotnet/NativeLibraryUtilities. A single run of `dotnet migrate` produces the following output:
[code]

Tested with 1.0.0-preview5-004468.

[2017-01-09 23:25] mikeharder opened #5251 "Incorrect package version at https://www.microsoft.com/net/download/linux"
According to https://www.microsoft.com/net/core#linuxubuntu, the latest package for .NET Core 1.1 is `dotnet-dev-1.0.0-preview2.1-003177`.  However, the .NET Core 1.1 package at https://www.microsoft.com/net/download/linux is `dotnet-dev-1.0.0-preview2-003175`.

[2017-01-09 23:27] binoypatel opened #5252 "ResXFileCodeGenerator generates incorrect code for vs2017 rc1 .net standard assembly"
## Steps to reproduce
- Create .net standard library project and set version to 1.4
- Add mystrings.resx file and add few strings
- Save mystrings.resx file and set custom tool to ResXFileCodeGenerator for saved mystrings.resx file
- Open mystrings.resx file again and make some changes and save it
- It should now create mystrings.designer.cs
- Compile the assembly, it will failed to compile
- In g

[2017-01-09 23:29] ThadHouse commented on #5241
I'm running some migrations on my repositories, and running into this issue too. However if I do delete the runtime identifiers, it starts working again. I am building both a .NET 4.5 and a .NET Standard 1.5 project in most of my repos. So I'm confused on the runtime identifiers statement for targeting the full framework, as I'm not seeing that issue.

[2017-01-09 23:37] dasMulli commented on #5241
@livarcocc why exactly does a library need the RIDs? I'm a bit lost on that at the moment..
If so, that looks kind of blocking.. e.g. aspnet/ef seem to do it without RIDs (just saw an issue by @natemcmaster https://github.com/dotnet/sdk/issues/614)

[2017-01-09 23:49] binoypatel commented on #5252
Please ignore this issue, as it started working fine once I have enabled Desktop application development with VS2017 RC1. ResXFileCodeGenerator generates the code correctly and it compiled successfully.

Sorry for the inconvenience
Binoy

[2017-01-09 23:49] #5252 closed

[2017-01-09 23:50] 333fred opened #5253 "Migrate needs to turn off default globs if adding globs"
Migrate https://github.com/robotdotnet/NetworkTables, NetworkTables.xproj.sln. The resulting csproj's have include globs with `**\*.cs`, but do not have `<EnableDefaultItems>false</EnableDefaultItems>`. This causes https://github.com/dotnet/sdk/issues/604 to show up in all projects. There are a few issues with the resulting csproj:

* Multiple compile lines - one for the default globs and one for

[2017-01-10 00:02] nateb19866 opened #5254 "dotnet publish fails at csc task for new .NET Core class library - claims there are dupe source files"
## Steps to reproduce
1. Create a new .NET Core class library using VS 2017 RC and the latest preview bits (1.0.0-preview5-004468)
2. run "dotnet publish" from command line

## Expected  behavior
The project publishes successfully.

## Actual behavior
Receive the following error (with the verbosity flag set to diag)
[code]
## Environment data
[code]

One important note is that dotnet publish works

[2017-01-10 00:07] #5254 closed

[2017-01-10 00:53] livarcocc commented on #5241
I actually didn't realize this wasn't needed for libraries. I will try this here and fix migration to not add them when the output type is a library.

Thanks for educating me on this.

[2017-01-10 01:14] jgoshi commented on #4504
Does this still repro with the latest stuff? When I try running dotnet test on a net core app it doesn't hang and I get this (which seems correct?):
E:\_dotnetcli_samples\test> dotnet test
Build started, please wait...
Build completed.

Test run for E:\_dotnetcli_samples\test\bin\Debug\netcoreapp1.0\test.dll(.NETCoreApp,Version=v1.0)
Microsoft (R) Test Execution Command Line Tool Version 15.0.0.0

[2017-01-10 01:27] Banashek commented on #5245
So it looks like there _might_ be an actual bug here, but I'm not sure.

I looked at the `web.runtimeconfig.json` file and it still had a reference to `1.0.1`.

I blew away the published output folder and republished, and everything works now.

So it looks like that `web.runtimeconfig.json` file didn't get updated after updating the dependency version and building again.

[2017-01-10 01:28] natemcmaster commented on #4504
@jgoshi you're probably hitting https://github.com/Microsoft/vstest/issues/287, which is not the same as this issue. You can workaround by adding `<OutputType>exe</OutputType>` to your project.

[2017-01-10 01:31] jgoshi commented on #4826
So this one appears to need loc. Does this mean we need to push it out to RTM?

[2017-01-10 01:32] Banashek commented on #5245
Nevermind, it looks like the deprecated explicit reference does not update the runtime config, but the target node does.

Not sure if the distinction matters since it appears to be implicit from here on forward.

There probably should be some documentation, since changing

[code]

to

[code]

and running a new publish **will not** update the runtimeconfig.json file

Thanks for the help!

[2017-01-10 01:32] #5245 closed

[2017-01-10 01:49] jgoshi commented on #4504
Can you still repro this? According to the comments from 12/5 it looks like this might be fixed by now? I couldn't repro it (cancelling seemed to work for me). Unless I'm doing the repro steps wrong.

[2017-01-10 05:51] nathanielcook commented on #4238
@eerhardt Changed TargetFramework to `netcoreapp1.1` and the `Microsoft.NETCore.App` PackageReference Version to `1.1.0` and now `dotnet restore` succeeds; thank you for that! That makes sense now.

[2017-01-10 10:33] abhi18av commented on #3121
I just wanted to probe the idea whether I'd able to create `xwt` or `gtk#` applications based on `dotNET core`. The article you pointed me to, was helpful but I'd like to know your opinion about it.

[2017-01-10 15:14] alexvaluyskiy commented on #4837
@codito Good, the first bug was fixed. But I still should declare the different RuntimeIdentifiers for both frameworks, like this
[code]

[2017-01-10 16:35] squid16 commented on #3199
Hello @RichDef77 ,
Thanks so much for your advice and your time! That did it. I'm now able to build and run my project.
Can you please let me know if removing .Net Core entry from the frameworks section means that my project is no longer a .NET core Web Application project but instead is just a .NET Web Application project?
Thanks again!!

[2017-01-10 17:14] natemcmaster commented on #4504
It reproduced in 1.0.0-preview4-004233 but appears to be fixed in 1.0.0-preview5-004468.

Here are my test steps:

1. dotnet new -t xunittest
2. Add `while(true);` to the test method in Tests.cs
3. dotnet test
4. CTRL+C

Result:
When orphaned, the console begins to prints out this line every ~10 seconds, indefinitely

[2017-01-10 17:26] jgoshi commented on #4504
Yeah I tried your repro steps as well and it looks like this is fixed. Closing the issue. Please re-open if the issue resurfaces.

[2017-01-10 17:26] #4504 closed

[2017-01-10 18:15] RichDef77 commented on #3199
Hi @Squid16,

I'm pretty sure your app is still a .Net Core app - however its now running on top of the full .Net Framework 4.6.1 rather than the pared down cross-platform .Net Core 1.0 Framework. This means that you can reference and leverage full .Net Framework class libraries and projects - but it also means that you sacrifice the cross-platform capabilities.

Scott Hanselman has a great blog p

[2017-01-10 18:16] livarcocc commented on #4826
@nguerrera for comment on loc.

[2017-01-10 18:35] squid16 commented on #3199
@RichDef77 ,
Thanks so much for your explanation and the link! It's all making senses now :)

[2017-01-10 19:05] blackdwarf opened #5259 "Introduce a way to create a solution file"

[2017-01-10 20:17] blackdwarf commented on #5251
Thanks @mikeharder for catching this.

[2017-01-10 20:18] blackdwarf commented on #5213
@tmkn this exists already in the latest using the command `dotnet new3`. Please try it out.

[2017-01-10 21:00] steveoh opened #5262 "DllNotFoundException: Unable to load DLL 'sni.dll': Access is denied."
## Steps to reproduce
`dotnet public -c Production`
copy files to a windows 2012 r2 iis8.5 machine with the hosting bundle installed.

[code]

## Expected  behavior

I expect the application to work when published to IIS when using a sql client like it does when run on OSX.

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

[2017-01-10 21:01] Grasher134 commented on #3371
Same as JohnGalt717. Had to uninstall 2017 c++ manually

[2017-01-10 21:22] AndyGerlicher opened #5263 "Update MSBuild package version - RC3"
Approved changes to MSBuild affecting SDK implementation is going into VS today. Can you please update CLI to MSBuild package version `15.1.0-preview-000516-03`.

Package syncs to:
https://github.com/Microsoft/msbuild/tree/40cd4d090dfebddd5417bc4e976feebc081a02ed

[2017-01-10 21:44] jgoshi commented on #812
@schellap Using the code sample provided in https://github.com/dotnet/corefx/issues/5339, I noticed that just calling dotnet exec directly I see the same problem. It appears that nothing in the app cancel handler gets written out (Console.Writeline doesn't work for some reason). I also notice that Debug.Fail("Attach") causes a crash as well (doesn't let me attach).

Any thoughts or suggestions?

[2017-01-10 22:14] pranavkm commented on #5172
Tried this out with `1.0.0-preview5-004468` and now strong name signing fails:

[code]

Looking at https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/GenerateSatelliteAssemblies.cs, it looks like you might be missing some additional setup required for strong name signing to work: https://github.com/aspnet/MvcPrecompilation/blob/rel/1.1.0-msbuild3/src/Microsoft.AspNetCore

[2017-01-10 23:18] jinujoseph opened #5264 "Dotnet run --> failed with error dialog: "dotnet has stopped working""
## Steps to reproduce
- Copy the folder \\mlangfs1\public\Jinuj\TestCases\AspNetCoreWeb_IndAuth_WithAI_1 to your machine
- dotnet migrate
- dotnet restore
- dotnet build
- dotnet run
## Expected  behavior
runs successfully

## Actual behavior
Dotnet run  --> failed with error dialog: "dotnet has stopped working"
Unhandled Exception: System.Reflection.TargetInvocationException: Exception has been t

[2017-01-11 00:28] cesarbs opened #5268 "dotnet test exiting with code 132 on macOS"
## Steps to reproduce

We're seeing when running our functional tests for Kestrel: https://github.com/aspnet/KestrelHttpServer/tree/dev/test/Microsoft.AspNetCore.Server.Kestrel.FunctionalTests

It started with Travis runs failing consistently: https://travis-ci.org/aspnet/KestrelHttpServer/jobs/189348494

No indication of any particular test failing.

I can reproduce it on my personal Mac (running

[2017-01-11 02:52] codito commented on #4837
<RuntimeIdentifier>win7-x64</RuntimeIdentifier>

@alexvaluyskiy is there an error if RID is not specified for this scenario? Assume this test project is a `Library` output type. Can you share the diagnostic log in that case? (`dotnet test -d:log.txt`, attach the log.*txt files)

[2017-01-11 07:35] 717009629 opened #5271 "when i run dotnet command,dotnet alway initialize, 1.0.0-preview4-004233, on win10 sub system(ubuntu)"
## Steps to reproduce
![jto b teo 0xt9x 14tojom](https://cloud.githubusercontent.com/assets/16289643/21839552/431b7166-d813-11e6-84fd-041585ef6a3e.png)
`lius@DESKTOP-AVBTPSE:/mnt/c/Users/71700/test1$ dotnet new`
`Welcome to .NET Core!`
`---------------------`
`Learn more about .NET Core @ https://aka.ms/dotnet-docs. Use dotnet --help to see available commands or go to https://aka.ms/dotnet-cli-doc

[2017-01-11 12:11] xiexin36 commented on #5144
I have the same problem

[2017-01-11 13:05] sm-g commented on #3683
Warnings in stderr for `1.0.0-preview2-1-003177` and it stopes TeamCity to continue.

[code]

build.bat is `dotnet build`

[2017-01-11 15:33] blackdwarf commented on #4908
This is not a problem with `new3`, that is, it is fixed there.

[2017-01-11 15:37] blackdwarf commented on #4909
@piotrpMSFT since `new3` is coming in for our next release and definitively for RTM, I've taken a look at its behavior and it will fail/not create the template if the dir is not empty.

As discussed, we will have a different way to generate the SLN file so my comments above do not apply anymore.

[2017-01-11 16:45] MichaelSimons opened #5273 "CLI warmup logic fails with 1.0.0-rc3 bits"
## Steps to reproduce
Install 1.0.0-rc3-004481 and run a dotnet command to trigger the warmup logic

1. Build the following Dockerfile - docker build -t cli-test
[code]
2. docker run -it --rm cli-test
3. mkdir app
4. cd app
5. dotnet new

## Expected  behavior
CLI warmup logic should succeed

## Actual behavior
CLI warmup logic fails.  As a result, the warmup logic attempts to run each time a dotn

[2017-01-11 16:46] MichaelSimons commented on #5273
@livarcocc

[2017-01-11 17:53] eerhardt opened #5275 "Fix dockerrun.sh to dynamically add CLI build environment variables to the container"
The current way we pass environment variables to our docker containers leads to errors and duplication.  See https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/dockerrun.sh#L115-L134 where we need to keep updating the environment variables that are passed in. For example, #5274.

Instead, we should make this dynamic so we don't have to keep this list up to date.

One idea I had was to use `print

[2017-01-11 17:57] krwq commented on #5110
This is not closed yet, the update of MSbuild was to unblock the fixing. I will send a PR today with the actual fix.

[2017-01-11 18:09] dagood opened #5276 "Use VersionTools package to update the dotnet/versions repository"
Currently CLI uses a custom `VersionRepoUpdater`, and moving to the shared implementation would be helpful to get fixes.

For example, @MichaelSimons manually added a file for the CLI rc3 branch (https://github.com/dotnet/versions/pull/112) and that wouldn't have been necessary if CLI could easily uptake https://github.com/dotnet/buildtools/pull/1287.

/cc @eerhardt

[2017-01-11 18:27] krwq opened #5278 "Running tests manually after full rebuild requires cleaning TestAssets"
## Steps to reproduce
[code]

## Expected  behavior
Test pass

## Actual behavior
Test fail complaining about problems with TestAssests and recommending to clean that directory, `git clean -fdx` in TestAssets\ in fact fixes the issue

## Environment data
`dotnet --info` output:
[code]

Also Environement Variables:
[code]

[2017-01-11 18:37] livarcocc commented on #5273
Does this happen only on Debian or Docker?

[2017-01-11 18:49] rainersigwald commented on #5263
After the package-references-updated-too-far problem in #5266, version `15.1.0-preview-000517-01` should do the trick. I've confirmed that it doesn't change dependencies for .NET Core from the currently-dropped 503 version, even though the vsix for 517 still deploys the updated Collections.Immutable 1.2.1.

[2017-01-11 19:22] rjperes commented on #5262
I'm having the same problem on Windows 7. Never happened before.

[2017-01-11 19:30] MichaelSimons commented on #5273
IDK haven't tried it.  Supporting our Docker story should be a priority.

[2017-01-11 19:32] livarcocc commented on #5273
I wasn't saying it shouldn't. Just trying to narrow down an easier repro/debug story for me. I got one.

[2017-01-11 19:38] krwq commented on #4909
@piotrpMSFT should empty be defined as "no other files in a directory" (directories allowed)?

[2017-01-11 19:41] livarcocc commented on #5264
This is happening because during migration we update the tools versions to 1.0.0.msbuild3-final. One of these tools, likely EntityFrameworkCore.Tools, has a dependency on 1.0.3. However, the packages in PJ are still pointing to 1.0.0. We can see that because when we restore, there are downgrade warnings.

The issue here is that some tools package took a dependency on 1.0.3. Now, we can either chan

[2017-01-11 19:46] cesarbs commented on #5268
Sorry, upon further investigation I've figured out this is not a CLI bug. Closing.

[2017-01-11 19:46] #5268 closed

[2017-01-11 20:06] pranavkm opened #5280 "dotnet migrate downgrades 1.1.0 AspNetCore tools to 1.0.0 equivalents"
## Steps to reproduce
1. Start with a project.json that references a 1.1.0 AspNetCore tool:

[code]
2. Run `dotnet migrate`

## Expected  behavior
The tool gets migrated to `1.1.0-msbuild3-final`.

## Actual behavior
The tool gets downgraded to the `1.0.0-msbuild1-final` version

[2017-01-11 20:06] livarcocc commented on #5264
EF tools are being downgraded to https://github.com/aspnet/EntityFramework.Tools/pull/42. This is a no-op for migration.

[2017-01-11 20:06] pranavkm commented on #5280
cc @livarcocc \ @DamianEdwards

[2017-01-11 20:25] dagood opened #5281 "dotnet-install.sh can't install to path containing spaces"
Non-blocking bug, but I noticed this when making an upstream shell script handle spaces properly.

## Steps to reproduce
Run `scripts/obtain/dotnet-install.sh --install-dir a\ b\ c`

## Expected  behavior
The .NET CLI is installed into a folder in the current directory called "a b c".

## Actual behavior
The .NET CLI is installed into a folder in the current directory called "a".

Adding `--verbos

[2017-01-11 21:22] piotrpMSFT opened #5283 "Update MSBuild to latest"
Update MSBuild to latest which does not reference 1.1 NetCore.App packages

@rainersigwald

[2017-01-11 21:24] rainersigwald commented on #5283
Dupe of https://github.com/dotnet/cli/issues/5263#issuecomment-271958611 ? In any case, please use `15.1.0-preview-000517-01`

[2017-01-11 21:26] piotrpMSFT commented on #5283
We merged #5263 last night with latest MSBuild that did not pull in 1.1 binaries. Let's use this to track the yet-newer msbuild :)

[2017-01-11 21:42] piotrpMSFT commented on #5263
This was merged last night. Subsequent MSBuild update is tracked in #5283

[2017-01-11 21:42] #5263 closed

[2017-01-11 22:01] livarcocc commented on #5264
Jinu, this is now fixed. A new EF package has been published. I believe it will be inserted into tomorrow's VS build.

[2017-01-11 22:01] #5264 closed

[2017-01-11 22:04] PeterVenable commented on #2385
I'm getting the same error message on Windows whether or not HOME is set.

[2017-01-11 22:52] livarcocc commented on #5273
The issue here is that the lzma archive generated by windows is not consumable in unix. The other way around works. Our current archive in blob storage was generated by windows (because all CIs try to push it and windows won).

I have updated the archive in the blob and have changed our builds so that only OSX will upload the archive from now on.

[2017-01-11 22:56] MichaelSimons commented on #5273
@livarcocc, thanks for the update.  Curious if there are any checks (e.g. tests) in place to detect a regression like this in the future.

[2017-01-11 23:12] livarcocc opened #5284 "dotnet migrate should be able to migrate certain asp.net packages to LTS and FTS"
When migrating, we should check if the package was LTS and migrate to the msbuild LTS version of the package. Likewise for FTS. In a sense, we need to define a range of packages in origin (PJ side) migrates to a version in csproj.

This is the current list of mappings:

# Tools
Package Id | project.json version(s) | msbuild version
----------- | ---------------------- | ----------------
Microsoft.

[2017-01-11 23:15] livarcocc commented on #5280
Let's track this here: https://github.com/dotnet/cli/issues/5284.

[2017-01-11 23:15] #5280 closed

[2017-01-11 23:44] jgoshi commented on #4539
Discussed this with @blackdwarf and we decided to special case /? to be equivalent to --help. That's all we'll do since we cannot detect unknown args in cases we pass them blindly to msbuild. The latest version doesn't throw a null reference exception anymore and will just say that No executable found matching command "dotnet-unknowncmd" if you call dotnet unknowncmd

[2017-01-12 01:06] #5110 closed

[2017-01-12 01:44] piotrpMSFT commented on #5241
Thanks @jgoshi

[2017-01-12 01:44] #5241 closed

[2017-01-12 01:45] #5098 closed

[2017-01-12 02:02] jgoshi commented on #5253
The issue is the globs now come from the SDK. We shouldn't be inserting them into the csproj file. Will make that fix.

[2017-01-12 02:29] NickCraver commented on #5144
Also hitting this in my ASP.NET Core samples, unsure of the cause yet.

[2017-01-12 02:41] NickCraver commented on #5144
Okay so the issue is that transitive dependencies do not work. If Project A references Project B, then Project A must (at the moment) **directly** reference the projects referenced in Project B.

For example: if `A` references `B` and `B` references `C`, to get rid of this error `A` must reference `B` and `C` directly.

[2017-01-12 03:25] KKhurin opened #5287 "dotnet new / restore / publish do not generate EXE file"
I would like to generate a standalone exe file when publishing the app.
The app needs to consume the latest post-1.1 bits (e.g. 1.2.0-beta-249##).
Despite the csproj file having <OutputType>Exe</OutputType> I always get a .dll instead of .exe

## Steps to reproduce
install the latest tooling
create folder foo
dotnet new
dotnet restore
dotnet build
dotnet publish (or dotnet publish -r  win7-x64)

#

[2017-01-12 04:07] #5273 closed

[2017-01-12 04:27] GuardRex commented on #5287
@KKhurin Try it with ...
[code]
in the property group.`<PropertyGroup>`.

[2017-01-12 04:29] blackdwarf commented on #5287
Also: https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/deploying/#self-contained-deployments-scd.

With this, I'm going to close this issue. Please reopen if @GuardRex's suggestion or the document does not help you. Thanks!

[2017-01-12 04:29] #5287 closed

[2017-01-12 04:47] blackdwarf commented on #5281
@dagood a good catch. Will take a look.

[2017-01-12 04:51] blackdwarf commented on #5262
/cc @schellap

[2017-01-12 04:54] schellap commented on #5262
It looks like a pre-req issue. Can you confirm if you have the pre-reqs installed on Windows as described here? https://docs.microsoft.com/en-us/dotnet/articles/core/windows-prerequisites#net-core-dependencies

Esp., the ucrt update.

[2017-01-12 04:55] schellap commented on #5262
And this KB: For Windows 7 and Windows Server 2008 machines only:
Make sure that your Windows installation is up-to-date and includes hotfix KB2533623 installed through Windows Update.

[2017-01-12 05:06] blackdwarf commented on #5152
@jpierson sorry for the late reply. :(

VS2015 should not be bringing in Preview 3 bits as VS2015 is still project.json-based tooling. Now, when you say that running `dotnet --info` gives you older versions than what you installed, can you check if you have a `global.json` in your solution with a specified sdk version? This could actually impact that. Another thing could be the order of the direct

[2017-01-12 05:07] blackdwarf commented on #5150
@xperiandri please reopen this issue on dotnet/docs repo as this is a documentation issue that we need to fix. I will close this one. Thanks!

[2017-01-12 05:07] #5150 closed

[2017-01-12 05:10] blackdwarf commented on #5137
@daneb done. I will close this issue here so that the discussion can proceed on dotnet/core-setup#1126.

[2017-01-12 05:10] #5137 closed

[2017-01-12 05:11] blackdwarf commented on #5129
@jdscolam when you followed the instructions, you did create the symlinks to the brew installed openssl files?

[2017-01-12 05:12] blackdwarf commented on #5121
Since it seems that this issue was due to the incorrect package name and that the issue has been resolved, I will close it. Please reopen if you run into this again.

[2017-01-12 05:12] #5121 closed

[2017-01-12 05:23] steveoh commented on #5262
I am on windows server 2012 r2 so I will skip the windows 7 and 2008 instructions

[2017-01-12 05:28] steveoh commented on #5262
I have these vc++ items

![image](https://cloud.githubusercontent.com/assets/325813/21878091/fe33c92e-d84c-11e6-867b-40c8f21c9712.png)

[KB2533623](https://www.microsoft.com/en-us/download/details.aspx?id=26767) looks like another windows 7 update that was published in 2011.

My update history

![image](https://cloud.githubusercontent.com/assets/325813/21878134/55fc2ce6-d84d-11e6-84b4-49a91f6ccbe9

[2017-01-12 05:30] steveoh commented on #5262
What is the ucrt update @schellap?

[2017-01-12 05:34] blackdwarf commented on #4707
@gencebay where you able to make do with these answers?

[2017-01-12 05:38] blackdwarf commented on #4227
So, based on the discussion, it seems that the problem is not in the CLI itself but either in corefx (since we use .net APIs to access files) and Linux not supporting the native call corefx uses. Would I be right in my assesment?

[2017-01-12 05:47] blackdwarf commented on #4809
@Bidimus did you manage to verify this?

[2017-01-12 05:51] blackdwarf commented on #4956
@livarcocc did we fix this?

[2017-01-12 05:51] blackdwarf commented on #5009
OK, this is now fixed I believe so closing.

[2017-01-12 05:51] #5009 closed

[2017-01-12 05:52] blackdwarf commented on #5038
@Thealexbarney since #5079 is merged, I will close this issue. Please reopen if I've done it in error. Thanks!

[2017-01-12 05:52] #5038 closed

[2017-01-12 05:53] blackdwarf commented on #5042
@emgarten do we have an update for this?

[2017-01-12 06:03] blackdwarf commented on #5163
As @livarcocc mentioned, the right place for this issue is the SDK repo and potentially the MSBuild repo. The dotnet/sdk#335 issue already tracks this and @borgdylan mentioned on that issue that he opened another one on MSBuild. With all of that, I will close this issue and let the discussion continue on the SDK issue.

if you feel this is an error, please reopen. Thanks!

[2017-01-12 06:03] #5163 closed

[2017-01-12 06:06] emgarten commented on #5042
This has been fixed in NuGet.targets

https://github.com/NuGet/NuGet.Client/commit/d927c265e2061bc67bdf4e7eedce6004eba2dacb

[2017-01-12 06:06] #5042 closed

[2017-01-12 06:16] #4707 closed

[2017-01-12 06:17] gencebay commented on #4707
@blackdwarf sure, thanks!

[2017-01-12 06:20] blackdwarf commented on #4909
@krwq if you go down that path, you will have a problem with web templates because they will contain directories for controllers, views etc. I would say empty as in 0 inodes. :) @piotrpMSFT thoughts?

[2017-01-12 07:48] jyoungyun opened #5289 "Enabling Linux ARM32 for SDK"
Host: Ubuntu 14.04 x64
Target: Ubuntu 14.04 or(and) 16.04 ARM, Ubuntu 14.04 ARM Softfp and Tizen

**Cli**
- [ ] Support cross-build (#5290)
- [ ] Add RID for arm, armel and tizen
ubuntu.14.04-arm, ubuntu.16.04-arm, debian.8-armel, tizen.4.0.0-armel
- [ ] Version up to netcoreapp1.1 target framework

Related issue: https://github.com/dotnet/core-setup/issues/725

[2017-01-12 07:48] schellap commented on #5262
@steveoh I think you have the necessary pre-reqs. I got misled by the win7 comment above.

Can you guide me through how to publish your app from your repo -- what steps are you using?

I did the following:
[code]

Is the above your flow?

[2017-01-12 07:55] jyoungyun commented on #5289
Our arm and armel patches we worked on were merged into the master branch in CoreCLR, CoreFX and Core-setup. The master branch of those projects is targeting `netcoreapp1.1`. However, in the case of cli, it targets `netcoreapp1.0` so it does not match our output and version. I would like to suggest creating a new branch for `netcoreapp1.1` like `rel/1.1.0`. Can you share the plans you have about c

[2017-01-12 08:16] kierenj commented on #5242
Thank you - that did do the trick.

[2017-01-12 08:16] #5242 closed

[2017-01-12 08:25] jyoungyun commented on #5289
/cc @hqueue @hseok-oh @chunseoklee @gkhanna79 @janvorli @jkotas

[2017-01-12 09:52] Faizan2304 commented on #5171
I am seeing this issue repro on latest dotnet
.NET Command Line Tools (1.0.0-preview5-004478)

Product Information:
 Version:            1.0.0-preview5-004478
 Commit SHA-1 hash:  4d3e2872fe

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Users\faahmad\Desktop\dotnet-dev-win-x64.latest\sdk\1.0.0-preview5-004478

[2017-01-12 10:12] couven92 commented on #4227
Looks like it. I can reissue in a different repo if you like. Where?

[2017-01-12 14:33] ernstp commented on #5120
Have you seen: https://github.com/dotnet/core-setup/issues/725 ?

[2017-01-12 15:07] blackdwarf commented on #4227
@couven92 that would be splendid. dotnet/corefx is the right place, I think.

[2017-01-12 15:09] Tragetaschen commented on #5120
Yup, I'm following that as well as most of the linked issues there.

The biggest "problem" I can see is the concept of RIDs which is tailored towards definite distributions like Ubuntu or Tizen with their set of libraries and specific versions as opposed to meta distributions like Yocto/OpenEmbedded where the versions and especially the configuration of the various packages potentially varies grea

[2017-01-12 15:11] steveoh commented on #5262
Yes basically. [this issues](https://github.com/aspnet/IISIntegration/issues/315) explains it a bit more when I thought it was an IIS integration issue.

[2017-01-12 16:28] gkhanna79 commented on #5289
CC @livarcocc @piotrpMSFT

[2017-01-12 16:31] z-ji commented on #5144
same issue here.

[2017-01-12 16:44] pksorensen commented on #1396
I just ran into the same problem with todays dotnet core tooling. Any folder not created prior to dotnet publish call will not be published. My case is that I have prepublish tasks running that generate some files, but these files are not published due to the folders did not exists prior to calling dotnet publish.

[2017-01-12 16:48] GuardRex commented on #1396
@pksorensen Not sure if this will help in your case, but I needed an empty folder, and `Content Include` would only help me when there was a dummy file present in the folder, so I started using this ...
[code]
... so perhaps a `Copy` command in there instead of a `MakeDir` would work for you?

[2017-01-12 16:50] pksorensen commented on #1396
i solved it by adding mkdir commands in my build pipeline. just expected the tooling to include those files generated in prepublish steps.

[2017-01-12 16:53] blackdwarf commented on #1396
@pksorensen can you share your project? Or a simple repro somewhere?

/cc @nguerrera @srivatsn

[2017-01-12 18:02] couven92 commented on #4227
@blackdwarf done! Do we leave this one open until https://github.com/dotnet/corefx/issues/15120 is resolved?

[2017-01-12 19:21] blackdwarf commented on #4227
@couven92 thanks! We will close this one to not duplicate. :)

[2017-01-12 19:21] #4227 closed

[2017-01-12 20:28] pksorensen commented on #1396
here is a repro: https://github.com/pksorensen/dotnet-cli-publish-repro and you can run dotnet publish -o c:\test\out to see that it do not publish a artifacts folder, even though the prepublish scripts generate the folder.

[2017-01-12 20:31] blackdwarf commented on #1749
Guys, there is an issue opened on the dotnet/core#15120 as this is really something we should track and discuss there. Will close this one.

[2017-01-12 20:31] #1749 closed

[2017-01-12 20:33] blackdwarf commented on #2755
This does not repro on Preview 4 bits which means it is mitigated by the move to MSBuild. Will close, if it comes up again, please reopen.

[2017-01-12 20:33] #2755 closed

[2017-01-12 20:48] blackdwarf commented on #3176
Just checked this against preview 4 tooling. Took the above project.json, fixed up the references and then migrated it over to csproj. Ran `dotnet run` and modified the CSS file and appsettings.json and after re-running `dotnet run`, both changes are available in the output folder.

With this, I will close this change. If this behavior repros on latest tooling, please reopen. Thanks!

[2017-01-12 20:48] #3176 closed

[2017-01-12 20:54] blackdwarf commented on #2989
Since this issue is the same as #3176 and that one is verified to not repro in MSBuild, I took a look at this one as well. Also does not repro in the Preview 4 (MSBuild-based) tooling. I will close this issue as well. If this should repro, please reopen.

[2017-01-12 20:54] #2989 closed

[2017-01-12 21:16] blackdwarf commented on #1396
@pksorensen ah, I see you are using project.json tooling. This issue has been fixed in the MSBuild-based tooling (just verified, it works).

[2017-01-12 21:16] #5284 closed

[2017-01-12 21:28] livarcocc commented on #4966
We have already taken a MSBuild version with the fix in the CLI. Closing this issue now. If this still reproes for you, please, re-activate.

[2017-01-12 21:28] #4966 closed

[2017-01-12 21:32] krwq opened #5294 "Dotnet migrate is emiting condition rid for libraries. No rid should be emit for libraries unless the PJ already had them."
When performing dotnet-migrate in some cases generated project has following combination:
[code]
which makes RuntimeIdentifier always empty.

Here is what works in my workaround:
[code]

This should be plumbed in the dotnet-build.

That is causing the build to fail.

@piotrpMSFT @livarcocc @jonsequitur @piotroko @jgoshi @blackdwarf
Do we want that behemoth in the csproj or do we plan to clean-up s

[2017-01-12 21:41] blackdwarf commented on #3501
This issue is resolved with the new tooling using the SLN (solution files). You are able to do `dotnet build` in a folder with an SLN file and it will work.

With the latest Preview we've also created a way to add projects to an SLN file.

[2017-01-12 21:50] piotrpMSFT commented on #5294
help me understand...

[code]

Note the `s` which makes this the property that drives the outer build. Issuing a `/t:Build` will first do an outer loop which splits that property's value on `;` and uses it to generate a list of `<TargetFramework>` [no `s`]. It then calls the inner build using each  `<TargetFramework>`. The condition on the `RutimeIdentifier` looks at this derived property and shou

[2017-01-12 21:55] livarcocc commented on #4785
@mlorbetske Is this something that the Web SDK is handling already?

[2017-01-12 22:00] krwq commented on #5294
@piotrpMSFT I'm seeing the build is failing and fixing that by hand helps - haven't investigated what causes that exactly

[2017-01-12 22:02] piotrpMSFT commented on #5294
ok. I'm very curious.

[2017-01-12 22:08] livarcocc commented on #5294
We did this because net451 requires a rid. If we did not condition that rid to net451, then the portable app (netcoreapp1.0) would always work as a stand alone app.

Also, yeah, we don't need to do the split, because targetframework gets set automatically by the build.

What error are you seeing?

[2017-01-12 22:24] krwq commented on #5294
@livarcocc that runtime identifier is not specified, I'll try to get some more details

[2017-01-12 22:44] livarcocc commented on #4755
We are now giving you this error message:
[code]

So, I will close this bug in favor of https://github.com/dotnet/cli/issues/4166

[2017-01-12 22:44] #4755 closed

[2017-01-12 22:52] livarcocc commented on #5294
This is strange, we actually have a test in the CLI already covering this scenario. We use this test asset: https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/TestProjects/TestAppMultipleFrameworksNoRuntimes/project.json.

I wonder how your project.json differs from this one. Multiple RIDs should have been added with the conditional RID above.

[2017-01-12 22:54] krwq commented on #5294
@livarcocc Thanks for pointing me to that test. I'll take a look and try to get repro or see if there is something else wrong

[2017-01-12 22:57] krwq commented on #5294
@livarcocc , I think the problem might be with dotnet-build or msbuild part.
dotnet-migrate seems to produce something equivalent to below which looks right

[code]

but this is causing the dotnet-build to fail - seems like the TargetFramework is not being passed to msbuild

[2017-01-12 23:00] krwq opened #5295 "dotnet build -v without specifing verbosity level throws exception"
`-v` switch alone is pretty popular, since we require passing verbosity level here (i.e. `-v d`) we should at least produce some good error message

## Steps to reproduce
[code]

## Expected  behavior
reasonable error

## Actual behavior
exception

## Environment data
`dotnet --info` output:

[code]

[2017-01-12 23:02] natemcmaster commented on #5259
`dotnet new -t sln`?

[2017-01-12 23:03] krwq commented on #5294
@livarcocc when running `dotnet build -v d` I'm seeing this in the msbuild log:
[code]
which seems correct but some reason does not get picked up by `<RuntimeIdentifier Condition=" '$(TargetFramework)' == 'net451' ">win7-x86</RuntimeIdentifier>`

[2017-01-12 23:06] #5253 closed

[2017-01-12 23:13] livarcocc commented on #5294
This is the PJ in question: https://github.com/aspnet/HtmlAbstractions/blob/dev/test/Microsoft.AspNetCore.Html.Abstractions.Test/project.json.

The issue here is that the PJ is a library, for which we do not emit RIDs, however, we should not emit the single conditioned RID either.

@jgoshi you made the change to not emit RIDs, but it seems we have some left over from that work. Can you take a look

[2017-01-12 23:15] natemcmaster commented on #4746
Would it also be possible to support global-static properties?
[code]
Example:
[code]
Can open a separate issue if this is beyond the scope of what you're trying to accomplish here.

[2017-01-12 23:22] natemcmaster opened #5296 "`dotnet add package` with `--version` fails"
## Steps to reproduce
`dotnet new`
`dotnet add package Microsoft.AspNetCore --version 1.1.0`

## Expected  behavior
Adds PackageReference
[code]

## Actual behavior
Fails.

## Environment data
`dotnet --info` output:
[code]

[2017-01-12 23:23] mlorbetske commented on #4785
The inclusion of the typescript files in the project is handled by the WebSDK. For the actual integration with the Typescript build, we're working with that team to complete the story.

[2017-01-12 23:25] livarcocc commented on #5296
@mishra14 can you take a look?

[2017-01-12 23:45] blackdwarf commented on #4746
@natemcmaster a separate issue would be good, yes. Please provide as much details as you can and cc me. Thanks!

[2017-01-12 23:56] mishra14 commented on #5296
@livarcocc  @natemcmaster can you try `dotnet add package --version 1.1.0 Microsoft.AspNetCore `?

[2017-01-13 00:11] livarcocc commented on #5294
I just tried this out with the latest build from rel/1.0.0-rc3 and we do not emit the RuntimeIdentifier(s) properties, which is the correct thing to do. Closing this.

[2017-01-13 00:11] #5294 closed

[2017-01-13 00:11] krwq opened #5297 "dotnet-migrate shows wrong stack trace when showing error for unhandled exceptions"
the problem is with Program.cs for dotnet-migrate command. Instead of
[code]

we should just
[code]

currently the stack is being shown in a context of Main instead of where the exception occured.

[2017-01-13 00:14] blackdwarf commented on #3076
This issue is actually solved by MSBuild. It contains the `clp` switch which can accept various logging parameters, one of which is `ErrorsOnly` which will show only errors.

[2017-01-13 00:15] krwq commented on #5296
@mishra14 if the issue is that positional args need to go after named args then I think we need to reiterate some design of command line parser cc: @blackdwarf

[2017-01-13 00:17] blackdwarf commented on #3133
As you probably know, we are moving over to MSBuild and csproj in the CLI tooling. That work is under way and most of the recent Previews are based on that. I've tested the behavior of the new, MSBuild-based tooling to see what happens here and I've filed dotnet/sdk#638 to track its behavior.

[2017-01-13 00:17] livarcocc commented on #4849
I just tried this with the latest rel/1.0.0-rc3 build and I managed to migrate the .sln file successfully, at least the repo at the commit that was pasted here.

[2017-01-13 00:17] #4849 closed

[2017-01-13 00:25] krwq opened #5299 "dotnet-migrate System.IO.IOException: Cannot create a file when that file already exists"
## Steps to reproduce
When migrating https://github.com/aspnet/EventNotification
following exception occurs:
[code]

## Expected  behavior
migration successful or valid reason for failure

## Actual behavior
unhandled exception

## Environment data
`dotnet --info` output:

[code]

cc: @livarcocc @piotrpMSFT - I'm pretty sure I saw similar issue before but can't find it, please let me know if you k

[2017-01-13 00:27] livarcocc commented on #4785
Ok, seems like migration will get it for free then. I am closing this issue. If there is something else we should do as part of migration for this, please, re-activate.

[2017-01-13 00:27] #4785 closed

[2017-01-13 00:27] livarcocc commented on #4853
Migration is no longer adding these elements to your csproj. However, the SDK is implicitly doing so, but that is the plan for all NetCore projects.

[2017-01-13 00:27] #4853 closed

[2017-01-13 00:32] livarcocc commented on #5299
Likely the same as this: https://github.com/dotnet/cli/issues/5224.

[2017-01-13 00:33] krwq commented on #5299
@DustinCampbell could you confirm if this is the same and close this? If you pull the latest and cherry pick https://github.com/dotnet/cli/pull/5298/commits you should see the same stack trace in the other issue if this is the same.

[2017-01-13 00:54] DustinCampbell commented on #5299
will do. It does look similar

[2017-01-13 01:09] natemcmaster commented on #5296
Yes, changing order fixes issue. :+1: for order-insensitive command args parsing.

[2017-01-13 01:12] blackdwarf commented on #3286
@artiomchi I've used your project.json on a smaller stock app (from the templates), added the Area from your repo and the glob from the issue. Then I issued `dotnet publish -o pub` and the area's views were copied to the `pub` output folder.

This means that the move to MSBuild has mitigated the issue. I will close it as such. If you do see this repro with the latest CLI tooling and/or you think t

[2017-01-13 01:12] #3286 closed

[2017-01-13 01:18] natemcmaster opened #5300 "CRUD dotnet commands for MSBuild properties"
Would be nice if dotnet had commands to add/read/change/remove properties in an MSBuild file.

Example:
`dotnet prop set VersionSuffix beta`
Would update project to include, or would alter its value if it already exists
[code]

Example 2:
Reading properties values.
[code]

Scenarios:
 - Tools like dotnet-user-secrets may want to read or manipulate a property in the csproj. Example feature on this

[2017-01-13 01:19] natemcmaster commented on #4746
Opened that request here: https://github.com/dotnet/cli/issues/5300

[2017-01-13 01:21] blackdwarf commented on #5296
Yes, this is not good. It also breaks the overall pattern of invoking. Not horribly so, but still.

@krwq @livarcocc what would it take to fix this?

[2017-01-13 01:21] jgoshi opened #5301 "Migration: dropping dependencies that do not match a filter during uplift"

[2017-01-13 01:21] blackdwarf commented on #5259
`dotnet sln create`. It should behave as such:

1. Drop the SLN file named like the folder being dropped in.
2. Glob all of the proj-es in the directories beneath it.
3. If they exist, add them.
4. If not, exit.

Thoughts?

[2017-01-13 01:32] blackdwarf commented on #3460
There are two issues here:

1. **Allow adding a reference to the GAC** - this was not supported in the project.json tools and it seems that it will not be supported in the current MSBuild-based SDK. The issue for this, however, should live in dotnet/sdk repo.
2. **Allow adding DLL references** - this is a core MSBuild capability and it is supported via standard `<Reference>` element. I would advis

[2017-01-13 01:32] #3460 closed

[2017-01-13 02:20] blackdwarf commented on #3605
Looking at the repro, the key issue is that the script that was specified in the `postCompile` directive is not ran since the compilation is skipped. In MSBuild, this is easily solved using the targets and the script would, if I read it correctly, be replaced with a custom target that invokes a `<Copy>` task that is ran after `Build` or `CoreCompile` task. This will ensure that the task runs after

[2017-01-13 02:20] #3605 closed

[2017-01-13 02:25] blackdwarf commented on #3843
I have just validated that this issue is resolved with Preview 4, that is, with MSBuild-based tooling. With this, I will close this issue as "MSBuild mitigated". If you believe this was in error or you see this problem crop up again, please reopen. Thanks!

[2017-01-13 02:25] #3843 closed

[2017-01-13 02:26] livarcocc commented on #5044
As discussed at the tools sync meeting. We are closing this bug. The risks here far out weight its benefits.

[2017-01-13 02:26] #5044 closed

[2017-01-13 02:32] blackdwarf commented on #4851
This is a good solution. We should exit if the folder contains another csproj file.

[2017-01-13 02:44] livarcocc commented on #4761
I just tried migrating this.

I ran dotnet migrate <sln_file> and migration ran successfully.

I also managed to build the solution. Though, I had to make two adjustments:

1. Update the version in the GlobalAssembly.cs, I changed it to [assembly: AssemblyVersion("4.1.0")]. 4.1.* is not a valid version.
2. Being on a mac, I removed the net451 TFM from the projects.

[2017-01-13 02:44] #4761 closed

[2017-01-13 03:46] #5297 closed

[2017-01-13 04:07] #5301 closed

[2017-01-13 04:15] livarcocc commented on #5238
@blackdwarf do you have any issues with making this the migration order of preference:

dotnet migrate (no args)

- if the current folder has sln file, migrate the sln.
- if the current folder has global.json file, migrate global.json
- if the current folder has csproj file, migrate csproj.
- otherwise migrate the folder.

Any concerns?

[2017-01-13 05:07] blackdwarf commented on #3078
In the new MSBuild world, we get the errors and warnings form MSBuild. AFAIK, MSBuild by default first outputs warnings and then errors as a summary (depending on the verbosity level as well as what parameters are passed to the default console logger). I think this fixes the issue. Will close this one. If you think this was in error, please reopen.

[2017-01-13 05:07] #3078 closed

[2017-01-13 05:09] blackdwarf opened #5303 "dotnet clean for RID enabled projects says it needs a RID, but no way to set a RID outside of MSBuild properties"
## Steps to reproduce

1. Create a net46 project
2. Publish or build using the `--runtime` switch
3. Watch it pass
4. Run `dotnet clean`

## Expected  behavior
The command works and the project is cleaned.

## Actual behavior
`dotnet clean` shows the following:

[code]

When I try to use the `--runtime` version to pass in the RID (`dotnet clean --runtime win7-x86`) I get the following:

[code]

##

[2017-01-13 05:47] DustinCampbell opened #5304 "Should 'dotnet migrate' respect the "projects" node in global.json?"
## Steps to reproduce
[code]

## Expected  behavior

The global.json file is defined like so:

[code]

My expectation is that dotnet migrate would only attempt to migrate projects in the "src" and "tests" directories.

## Actual behavior
The projects in the "test-assets" directory were also modified (which definitely should not be changed!).

## Environment data
`dotnet --info` output:
[code]

[2017-01-13 05:49] DustinCampbell commented on #5304
Looking at the help for `dotnet migrate`, it seems pretty clear that it will search the directory. So, this behavior is by design. However, it's definitely initially surprising.

[2017-01-13 05:53] DustinCampbell opened #5305 "'dotnet migrate global.json' fails with 'path is not of a legal form'"
## Steps to reproduce
[code]

## Expected  behavior
Migrates the contents of the "src" and "tests" directories, since that's what's specified in the global.json

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

[2017-01-13 06:05] blackdwarf commented on #3082
I've just tried to repro some of these cases on the Preivew 4 tools (MSBuild-based). I've created the project.json file, then migrated using `dotnet migrate` and ran build. After that, I've checked the resulting assembly using dotpeek and the resources were embedded.

In general, however, with the new MSBuild-based tooling, I would expect most problems with embedding resources would be either dire

[2017-01-13 06:14] blackdwarf commented on #4481
MSBuild allows this very easily using the `<Content>` element. Is this what is looked for here?

[2017-01-13 06:53] blackdwarf commented on #3546
This is solved in Preview 3 and later tools (MSBuild-based ones). The easiest repro is to simply install the Preview 4 tools, for example, create a folder and run `dotnet new` in it.By default, the csproj name will be the folder name which will be the same as assembly name. You will be able to build this project.

So, this is mitigated by MSBuild. I will close this issue as such. If in error or th

[2017-01-13 06:53] #3546 closed

[2017-01-13 09:12] DustinCampbell commented on #5224
It looks like the problem here is the global.json. This always gets placed in the root of the backup folder. So, if the user migrates another project at the same level in the directory tree, the global.json's collide.

[2017-01-13 09:24] #4539 closed

[2017-01-13 09:48] DustinCampbell commented on #5299
Yup. This is a dupe of #5224

[2017-01-13 09:48] #5299 closed

[2017-01-13 10:02] tmds commented on #4481
@nicolasr75 try using `publishOptions` (see https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json)

[2017-01-13 10:16] DustinCampbell opened #5307 "'dotnet migrate' should show output in the Console as each project is migrated"
## Steps to reproduce
[code]

## Expected  behavior
See output as projects are migrated.

## Actual behavior
Wait about 20-30 seconds before any output appears.

## Environment data
`dotnet --info` output:
[code]

[2017-01-13 11:39] Mattacks commented on #3671
"specified very clearly that reference assemblies are missing"
Does it specify very clearly _exactly which_ reference assemblies are missing.

I have been fighting with this issue for most of this morning and cannot figure out exactly which of the innumerable versions is missing

[2017-01-13 13:04] Faizan2304 commented on #5171
Ignore last comment: My bad. Things are working fine. I was using old Microsoft.Net.sdk

[2017-01-13 15:22] pogarek opened #5308 "How to build for netcore50"
Hi
I apologize if I have asked this in a wrong place, but I don't know a better place and not so much experienced with .net core..

I want to build a console app, which uses Microsoft.AspNet.SignalR.Client .
However it seems, that SignalR.Client is not available on nuget for netcoreapp1.1 :
[code]

I would like to make my app as open/portable as possible (I don't distribute compiled binaries, only

[2017-01-13 16:28] caleblloyd commented on #5059
Fix confirmed in the preview5 link you sent me.  Thanks!

[2017-01-13 16:28] #5059 closed

[2017-01-13 17:52] krwq opened #5309 "dotnet-migrate should ignore `tags` in project.json"
## Steps to reproduce
When migrating aspnet/MetaPackages the migration fails because tags element in project.json is unrecognized.

## Expected  behavior
Ignore deprecated element - perhaps show a warning

## Actual behavior
migration fails

## Environment data
`dotnet --info` output:
[code]

[2017-01-13 18:07] livarcocc commented on #5304
@blackdwarf What do you think? Should we change the behavior here so that migrate, when finding (or using) a global.json file, if it contains project folders, will only migrate projects under those folders?

The offending line is here, btw: https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectJsonMigration/ProjectDependencyFinder.cs#L230. We always add the folder where dotnet m

[2017-01-13 18:08] livarcocc commented on #5309
This is a dup of https://github.com/dotnet/cli/issues/4166.

[2017-01-13 18:08] #5309 closed

[2017-01-13 18:22] livarcocc commented on #5239
It has been decided that global.json is not going to be a part of the templates and we only wanted to add this to migration if we were going to keep things consistent with the templates. So, closing this bug.

[2017-01-13 18:22] #5239 closed

[2017-01-13 18:34] blackdwarf commented on #5304
@livarcocc when we encounter the SLN file, we will only migrate the projects referenced in the SLN file, correct?

[2017-01-13 18:50] DustinCampbell commented on #5304
That wasn't my experience. OmniSharp also has an OmniSharp.sln that in the same directory where I executed 'dotnet migrate'. The sln doesn't include OmniSharp's test asset projects but they were migrated anyway.

[2017-01-13 18:52] blackdwarf commented on #5304
Then we need to fix that. SLN is the closure of the projects you care about, if we migrate based on it we should only ever migrate the projects in it.

I guess that also should go for `global.json` question seeing as how it is used as a solution-level artifact as well.

[2017-01-13 18:56] jgoshi opened #5310 "dotnet sln add should not add duplicate solution folders"
This happens during migration as well in cases where migration detects we should add a project to the solution.

[2017-01-13 19:02] krwq commented on #5310
dup of https://github.com/dotnet/cli/issues/5224

[2017-01-13 19:03] DustinCampbell commented on #5304
Yes, `global.json` was originally envisioned as your .sln replacement.

[2017-01-13 19:10] piotrpMSFT commented on #5076
Fixed by #5206

[2017-01-13 19:10] #5076 closed

[2017-01-13 19:23] emgarten commented on #3065
@WolfgangKluge can you try the latest dotnet preview4 or preview5? I would still expect nuget.exe and dotnet to work the same even in this unique situation. If you are still seeing issues please open a new issue to track this.

[2017-01-13 19:46] livarcocc commented on #5310
Would this happen if I did a dotnet add manually twice for the same project?

[2017-01-13 19:47] jgoshi commented on #5310
Should not because we check to make sure the project isn't added twice. This is the code for taking a project path (that we add) and ensuring we have solution folders.

[2017-01-13 19:52] DustinCampbell commented on #5304
FYI, it looks like solution file issue is tracked with #5238

[2017-01-13 20:33] WolfgangKluge commented on #3065
@emgarten thanks for replying. The latest I could find is preview 2.1 (https://www.microsoft.com/net/download/core#/current and https://github.com/dotnet/core/releases).

[code]

[2017-01-13 20:46] DustinCampbell opened #5311 "Large number of dotnet.exe processes during build slows machine (and build) to a crawl"
## Steps to reproduce
I was using Windows.

[code]

## Expected  behavior
A much smaller number, possibly aligned with the number of processor cores on my machine.

## Actual behavior
I counted ~30 dotnet.exe processes running at one point.

[2017-01-13 21:10] krwq opened #5312 "Migrating an sln with a xproj with different name results in the wrong csproj path in the sln"
## Steps to reproduce
migrate and build https://github.com/aspnet/AzureIntegration

## Expected  behavior
build succeeded

## Actual behavior
[code]

The name of csproj after migration does not have 's' in 'Tests' - name should be coming from xproj name or some attribute inside - it is coming from folder name instead

## Environment data
`dotnet --info` output:
[code]

[2017-01-13 21:18] livarcocc commented on #5312
Independently of where the name comes from, it should match in the sln file.

[2017-01-13 21:19] livarcocc commented on #5312
cc @jgoshi who might have some insight on this.

[2017-01-13 21:19] livarcocc commented on #5312
Btw, we made a call a while ago that the csproj name should match the folder name, since that defined the name in PJ world. We could revisit to maybe use the xproj name if one is found.

cc @blackdwarf

[2017-01-13 21:29] DustinCampbell commented on #5312
Matching the folder name makes sense to me since the .xproj was never *really* the project. It was always the project.json.

[2017-01-13 21:33] livarcocc commented on #5312
@DustinCampbell I agree. This means that the bug here is that migration is not putting the right csproj file name/path in the sln when it modifies it.

[2017-01-13 21:46] livarcocc commented on #5040
This actually seems to be a problem with MSBuild: https://github.com/Microsoft/msbuild/issues/1568.

[2017-01-13 22:00] natemcmaster opened #5314 "dotnet sln add shouldn't create redundant solution folder"
**Repro**
Given file layout
[code]
`dotnet sln add src/Microsoft.AspNetCore/Microsoft.AspNetCore.csproj`

**Expected**
Create a solution with this structure:
[code]

**Actual**
Created a solution with this structure:
[code]

**Using**
1.0.0-preview5-004478

[2017-01-13 22:16] livarcocc commented on #5314
@jgoshi

[2017-01-13 22:19] jgoshi commented on #5312
This works properly if you do dotnet migrate solution.sln. That is the only time we write the sln file. If you just call dotnet migrate we do not touch the sln file, and this is where we are running into problems.

[2017-01-13 22:20] DustinCampbell commented on #5312
I think that's tracked with https://github.com/dotnet/cli/issues/5238

[2017-01-13 22:21] livarcocc commented on #5312
@krwq Can you confirm how you ran migration for this repo? Did you do dotnet migrate or dotnet migrate <sln_file>? If the former, then yes, it is a dup of https://github.com/dotnet/cli/issues/5238 and we can close this one.

[2017-01-13 22:23] jgoshi commented on #5314
@blackdwarf I just want to make sure that this is what you had in mind? I thought we needed to introduce solution folders for each folder in the hierarchy.

[2017-01-13 22:30] blackdwarf commented on #5314
@natemcmaster just to make sure I understand, we are talking about the folders in the solution view in VS?

[2017-01-13 22:41] natemcmaster commented on #5314
Right. along with #5310, you end up with this:
![image](https://cloud.githubusercontent.com/assets/2696087/21948198/632e7336-d99e-11e6-8227-db69a011fb17.png)

[2017-01-13 23:04] blackdwarf commented on #5314
Nope, we should not do that. :)

[2017-01-13 23:05] blackdwarf commented on #5295
Agreed. We should have at least an error that states that the parameter value was not specified. I would think `CommandLineApplication` has this, right?

[2017-01-13 23:13] blackdwarf commented on #2257
Since we are moving to MSBuild and csproj, this issue is no longer applicable, and I will close it as such. Whatever validation is done for various tasks in the csproj, the MSBuild is the place where they should happend.

[2017-01-13 23:13] #2257 closed

[2017-01-13 23:14] krwq commented on #5312
@livarcocc - I've run the aspnet-migrate project which is running dotnet migrate in the root folder and fixes some stuff in the build script

[2017-01-13 23:16] blackdwarf commented on #3280
Since we are moving to MSBuild and csproj, this issue is not applicable anymore. Closing.

[2017-01-13 23:16] #3280 closed

[2017-01-13 23:17] dasMulli commented on #5259
I'd probably not add all projects by default.
`dotnet sln add **/*.*proj` should be the way to go.
Maybe even `dotnet sln create New.sln **/*.proj`? (Making it figure out that if you don't pass a `.sln` as first arg, the next ones are already projects to add)

[2017-01-13 23:19] livarcocc commented on #5312
Ok, closing this as a dup then.

[2017-01-13 23:19] #5312 closed

[2017-01-13 23:29] dasMulli commented on #5314
There are two issues here:
1. Don't create a new solution folder every folder in the hierarchy that already exists as solution folder.
2. Collapse solution folders that only contain one project **with the same name** (or look at the hierarchy?)

The first case is pretty serious:
[code]
=> two folders named "src"
[code]

[2017-01-13 23:31] dasMulli commented on #5314
oh, just saw that there is already #5310 for my first point

[2017-01-13 23:42] jgoshi opened #5316 "Migration: explicit compile include *.cs results in a build break"
If you have the following in your project.json file.
"compile": {
      "include": "*.cs",
}

The migrated file contains the *.cs compile item. But since this is already inserted by the SDK, this results in a build break (saying you have included the same file for compilation multiple times).

[2017-01-13 23:46] blackdwarf commented on #3363
Since we are [moving to csproj & MSBuild](https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/), this issue is not applicable anymore. Will close. If you believe this was in error, please reopen.

[2017-01-13 23:46] #3363 closed

[2017-01-13 23:49] divega opened #5317 "Invalid character in path running dotnet ef"
_From @veb128 on January 3, 2017 2:14_

After installing Visual Studio 2017 RC running the command 'dotnet ef' results in an error of:

Illegal characters in path.
Parameter name: path

I don't know what path it is referring to or how to correct it.

_Copied from original issue: aspnet/EntityFramework#7339_

[2017-01-13 23:49] divega commented on #5317
_From @bricelam on January 3, 2017 17:48_

Does specifying `--verbose` provide any additional context?

[2017-01-13 23:49] divega commented on #5317
_From @veb128 on January 3, 2017 21:26_

Well, that got me some more information but I'm still not clear as to what path it is referring to as having an illegal character.

Telemetry is: Enabled
projetfactory: MSBUILD_EXE_PATH = C:\Program Files\dotnet\sdk\1.0.0-preview4-004
233\MSBuild.dll
projetfactory: MSBuild project path = C:\Users\vbrown\Documents\Visual Studio 20
15\Projects\dotnetcore\ORCC

[2017-01-13 23:49] divega commented on #5317
_From @bricelam on January 4, 2017 17:3_

From the stack trace, this looks like a bug for the [dotnet/cli](https://github.com/dotnet/cli) repo. Could you  [submit a new issue](https://github.com/dotnet/cli/issues/new) there so they can follow up?

[2017-01-13 23:52] jgoshi opened #5318 "Migration: handle project.json "shared" key for internal types access"

[2017-01-13 23:56] blackdwarf commented on #3740
@pvlakshm I think you are right. This should not happen in the new world since we don't have two build systems.

[2017-01-13 23:57] blackdwarf commented on #3076
With the above, I will close this issue as "mitigated by the move to MSBuild". If needed, please reopen.

[2017-01-13 23:57] #3076 closed

[2017-01-13 23:58] #3133 closed

[2017-01-13 23:58] #3501 closed

[2017-01-14 00:01] blackdwarf commented on #1599
@NightWatchman `--include-symbols` should do the trick.

[2017-01-14 00:01] #1599 closed

[2017-01-14 00:16] livarcocc commented on #5318
Can you elaborate on this issue and add repro steps?

[2017-01-14 00:22] livarcocc commented on #5317
@divega What is your environment like? Can you share that? Like, path to dotnet, path to your csproj and version of the CLI that you are using?

[2017-01-14 00:35] livarcocc commented on #5316
I was trying to avoid this, having to do comparisons with the user's globing and the SDK's implicit globing.

I guess we could have a list and just remove that list of bad globing.

[2017-01-14 00:36] jgoshi opened #5319 "Migration: project.json that includes a non-existent file breaks the migrated csproj"
See the attached zip.

The project.json file has a compile statement that explicitly includes a file that does not exist. The project is still able to restore and build properly.

When we migrate we port over that compile include (as we should). But that causes the msbuild to fail saying the file does not exist.

[2017-01-14 00:39] jgoshi opened #5320 "Migration: We need to inject more implicit framework assemblies"
These are the ones that we've come across when migrating various projects that are not explicitly stated in the project.json file. But they are implicitly used in the build.

System.Security
System.ComponentModel.DataAnnotations
System.Runtime.Serialization

[2017-01-14 00:41] jgoshi commented on #5319
[missingfiles.zip](https://github.com/dotnet/cli/files/705627/missingfiles.zip)

[2017-01-14 00:53] jgoshi commented on #5318
Open the attached project. In the project.json world, the "shared": "*.cs" line in the TestLibrary project.json file allows it's internal class to be used in TestApp. After migration we cannot access the internal Helper class and the build fails.
[internal.zip](https://github.com/dotnet/cli/files/705635/internal.zip)

[2017-01-14 00:55] divega commented on #5317
@livarcocc you want to ask @veb128. I just copied the issue from the EF Core repo.

[2017-01-14 01:56] DustinCampbell commented on #5318
That's the first I've heard of that feature. :smile: Is this supported in a .csproj world yet?

[2017-01-14 01:58] DustinCampbell commented on #5318
I guess we'd link them?

[2017-01-14 03:12] jkommer commented on #4786
One of my projects seems to be able to reliably replicate this on AppVeyor - `dotnet build` fails with error CS2012 yet `dotnet msbuild /m:1` succeeds.

`dotnet build`: https://ci.appveyor.com/project/jkommer/gravatarhelper/build/4.0.0.29#L213
`dotnet msbuild /m:1`: https://ci.appveyor.com/project/jkommer/gravatarhelper/build/4.0.0.39

Source and CI setup: https://github.com/jkommer/GravatarHelper

[2017-01-14 07:01] livarcocc commented on #5320
@dsplaisted It seems like project.json was doing more implicit assemblies for full framework than we currently have in the SDK. Can we review which ones we have in the SDK?

[2017-01-14 07:02] livarcocc commented on #5319
@jgoshi What do you think we should do here? I am not keen on migration verifying that all files in the PJ's globs exist.

[2017-01-14 14:34] blackdwarf commented on #3263
Since the [move to MSBuild](), the CLI does not do any resolving of dependencies anymore. That work is now being done in the SDK. I've created a new issue to track this: dotnet/sdk#647. Will close this one. If you need more info or you think this was in error, please reopen. Thanks!

[2017-01-14 14:34] #3263 closed

[2017-01-14 14:35] blackdwarf commented on #3827
@fubar-coder can you provide a repo somewhere with a small repro of this? I would like to verify that it has been fixed in the Preview3+ tooling. Thanks!

[2017-01-14 14:36] rainersigwald commented on #3263
@dls314 But do note that MSBuild does have NuGet packages: https://www.nuget.org/packages/Microsoft.Build/. If they don't work for you please let us know: https://github.com/Microsoft/msbuild/issues/new

[2017-01-14 14:50] blackdwarf commented on #3740
Will close this one. If it repros again by any chance, please reopen. Thanks!

[2017-01-14 14:50] #3740 closed

[2017-01-14 15:08] blackdwarf commented on #2583
What is the status of this issue? From the lack of recent discussion and the overall thread, it seems to be the root issue has been solved?

[2017-01-14 15:15] blackdwarf commented on #2385
@PeterVenable can you provide more details? Which version of the tools are you using?

[2017-01-14 15:16] 304NotModified commented on #4770
I had also these problems and could not get preview3 or preview 4 installed. Running `dotnet-dev-win-x64.1.0.0-preview4-004233.exe` wasn't updating dotnet cli, because it was already dotnet 1.1.0.

I have unzipped the binaries of https://github.com/dotnet/core/blob/master/release-notes/preview4-download.md to C:\Program Files (x86)\dotnet.

Now `dotnet migrate` worked, but after opening in VS2017

[2017-01-14 15:26] blackdwarf commented on #2803
As was specified in this thread, the `--native` option has been removed at one point during development of the CLI. You can find the CoreRT bits on https://github.com/dotnet/corert which should have all the info you need to start using it. Will close this issue. Thanks!

[2017-01-14 15:26] #2803 closed

[2017-01-14 15:27] blackdwarf commented on #2788
@cdmihai would this happen with MSBuild as well?

[2017-01-14 15:34] blackdwarf commented on #3170
This has now been fixed. Closing.

[2017-01-14 15:34] #3170 closed

[2017-01-14 15:35] blackdwarf commented on #5154
The samples now contain the csproj files as well so they can work on both. Closing.

[2017-01-14 15:35] #5154 closed

[2017-01-14 15:39] blackdwarf commented on #4211
I believe the issue has been fixed in Nuget. Closing this. If it repros again, please reopen. Thanks!

[2017-01-14 15:39] #4211 closed

[2017-01-14 18:06] #3701 closed

[2017-01-14 18:06] blackdwarf commented on #3701
Closing the issue since there was no activity since July and the original question has been answered.

[2017-01-14 18:12] blackdwarf commented on #3594
As @eerhardt said, in the latest tooling `dotnet run` will print out just the app output or warnings or errors if there are any. With this, I will close the issue as "fixed". Please reopen if needed. Thanks!

[2017-01-14 18:12] #3594 closed

[2017-01-14 18:26] blackdwarf commented on #3250
I've verified with Preview 4 tooling that this is not a problem anymore. I've created a new Preview 2 project.json as such:

[code]

The `includes` directory is one level above the repro directory. I then migrated the project to csproj and built it. The files from the `includes` directory were copied over.

With this, I will close this issue as "mitigated y move to MSBuild". Please reopen if you b

[2017-01-14 18:26] #3250 closed

[2017-01-14 18:45] blackdwarf commented on #2896
Well, the good news is that this specific issue is not reproing on the latest tools. The bad news is that we need some better messages because the current ones are not that great. I've filed dotnet/sdk#648 to track that. Will close this one.

[2017-01-14 18:45] #2896 closed

[2017-01-14 19:40] 0xced commented on #3594
@blackdwarf What's *the latest tooling* exactly? I just downloaded **dotnet-dev-osx-x64.1.0.0-preview2-1-003177.pkg** a few seconds ago and it still has this issue.

[2017-01-14 19:59] petrsvihlik commented on #3136
@MarinAtanasov thanks! i've adjusted it a little bit for my [project](https://github.com/petrsvihlik/WopiHost/blob/master/appveyor.yml) to run only in folders containing tests and to output the test results...

`ForEach ($folder in (Get-ChildItem -Path .\ -Directory -Filter *.Tests)) { dotnet test $folder.FullName -xml ($folder.FullName + "\xunit-results.xml") }`

it'd be great if it supported run

[2017-01-14 20:12] mfbasha commented on #2925
Use this command
dotnet restore --no-cache

[2017-01-14 20:56] jdscolam commented on #5129
@blackdwarf yes I did, I followed the instructions step by step as listed on the site.  In addition I checked to make sure that the symlinks were listed in the directory as expected.

[2017-01-15 00:35] rrelyea opened #5325 "dotnet.exe unpacks a bunch of packages on first execution, even if VS use filled up the user package folder already"
## Steps to reproduce
1) in VS, go ahead and create some .net core 1.0.3 and .net core 1.1.0 apps.
2) Restore in VS.
3) launch dev command prompt
4) cd to a project directory
5) dotnet pack (or any command, I think)

## Expected  behavior
don't unpack a bunch of packages, if they aren't needed

## Actual behavior
A command is running to initially populate your local package cache, to improve resto

[2017-01-15 00:53] blackdwarf commented on #3594
@0xced the latest tooling is the latest from rel/1.0.0. Alternatively you can download the Preview 4 release. Links are in the README.

[2017-01-15 07:35] chadwackerman opened #5328 ""The data is collected by Microsoft and shared with the community." Where is it?"
There was quite the hubbub when telemetry appeared... #3093

I'm now seeing things in Microsoft press releases like "engagement and usage is up 62%" as well as claims by the various tools groups that they're razor focused on "inner loop" developer time. Presumably by endlessly futzing with project file formats, applying random names and version numbers to key platform technologies, and using wonky

[2017-01-15 08:48] tonysneed commented on #2583
I haven't seen this issue in the current dotnet image.

[2017-01-15 14:49] programatt opened #5329 "Enhancement Request: Better information when global.json sdk not used for dotnet commands"
## Steps to reproduce
1. Create global.json in project directory and specify sdk version other than any installed.
Example: versions installed `1.0.0-preview2-1-003177`, `1.0.0-preview4-004233`

global.json
[code]
2. Run `dotnet --version` from the directory
## Expected  behavior (Desired behavior in this case)
Should pick `1.0.0-preview4-004233` version of CLI because specified version is not ins

[2017-01-15 14:55] dopare opened #5330 "dotnet restore unable to resolve 'Microsoft.NETCore.App (>= 1.2.0)'"
## Steps to reproduce
1. Install `1.0.0-rc4-004527` [tooling](https://github.com/dotnet/cli#installers-and-binaries) - latest is ![](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/Windows_x64_Release_version_badge.svg) at the moment
2. Clone [demo repo](https://github.com/dopare/dotnet-core-nightly) (simple console app targeting .NET Core 1.2).
3. Run `dotnet restore`

## Expected  b

[2017-01-15 15:46] blackdwarf commented on #5325
/cc @livarcocc

[2017-01-15 15:46] nicolasr75 commented on #4481
@tmds thanks, indeed it seems to be as easy as

	"publishOptions": {
	    "include": [
			"My.dll"
		]
	}

I somehow thought I'd have to create all the runtime directories dynamically and copy the DLL to all of them. In my case the DLL is the same for all runtimes and it works by simply copying it to the publish base directory.

[2017-01-15 15:49] nicolasr75 commented on #4481
@blackdwarf yes, I guess <Content> may work. I will try it as soon as I port the project to VS2017.

[2017-01-15 16:01] blackdwarf commented on #2583
Thanks @tonysneed. Seems it is OK to close it then. Please reopen if the issue returns.

[2017-01-15 16:01] #2583 closed

[2017-01-15 16:04] blackdwarf commented on #2853
Just tested this on the Preview 4 tools (MSBuild-based) and the repro is not there. That is, the error is not there anymore and if I pass in `--no-incremental` and turn on normal verbosity, I can see that the `CoreCompile` task is running always (several retries).

I will go ahead and close this issue @billwert but please reopen if you see this repro or you think the closing was in error. Thanks!

[2017-01-15 16:04] #2853 closed

[2017-01-15 16:06] blackdwarf commented on #2748
Similar to #2853, the message is completely different/non-existent in the Preview 4 tooling, that is, MSBuild-based tools. Will close this down as well. @krwq feel free to reopen if you find this still repros or have more input.

[2017-01-15 16:06] #2748 closed

[2017-01-15 16:09] blackdwarf commented on #1935
@schellap what is the status of this?

[2017-01-15 16:11] blackdwarf commented on #2348
This is fixed in the latest tooling. Closing, but feel free to reopen if needed. Thanks!

[2017-01-15 16:11] #2348 closed

[2017-01-15 16:12] Korporal commented on #5188
@piotrpMSFT Your response says "...the 1.0.0-preview2-* you have..." but he installed 1.0.0-preview4-* NOT 2.

You mention preview-3 will installing that fix the problem?

Also preview 3 has name ".Net Core SDK 1.0 Preview 3" does that differ from .Net Core 1.0.1?

I posted in your "core" repo, issues that this stuff is utterly confusing and making very hard to get much done.

Bear in mind I was t

[2017-01-15 16:20] blackdwarf commented on #2590
OK, since it seems the issue has resolved with newer versions, closing. Please reopen if it repros again with latest.

[2017-01-15 16:20] #2590 closed

[2017-01-15 16:26] blackdwarf commented on #2556
@cydhaselton

If by "dotnet binary" you mean the muxer, the source is in https://github.com/dotnet/core-setup.

[2017-01-15 16:28] stevedesmond-ca commented on #2556
Yeah, ARM builds are actually pretty close -- see dotnet/core-setup#725 for details

[2017-01-15 17:00] programatt commented on #5329
Going to close this. After conversations on the dotnet-cli slack channel it appears this functionality is in the coresetup repo and there's already an open issue related to this. https://github.com/dotnet/core-setup/issues/626

[2017-01-15 17:00] #5329 closed

[2017-01-15 20:49] hongdai opened #5331 "Dotnet publish no-build switch disappeared"
## Steps to reproduce
Dotnet publish -no-build

## Expected  behavior
It is supported

## Actual behavior
No longer supported

## Environment data
`dotnet --info` output:

This is a useful switch. We would like to understand why it's removed and if there is a replacement.

[2017-01-15 20:52] volkanceylan opened #5332 "CLI tool can't prompt for input using ReadLine/ReadKey etc. properly"
## Steps to reproduce

When you run a dotnet tool (e.g. one that defined in project.json) you can't use ReadLine, ReadKey etc. properly as output is redirected somehow, and you don't see anything until you press Enter.

## Expected  behavior

I'd expect it to print characters while i'm typing

## Actual behavior

You don't see what you wrote until you press Enter.

I've seen some issues about *dot

[2017-01-15 21:53] CodingSamurai commented on #2578
I agree with @wilfredogr this issue should NOT be closed.  First of all, the underlying issue (that a nuget update suddenly breaks a working .NET Core Website by removing "type": "platform") is not fixed and is a critical issue.

Secondly the error message is crap as it's not clear that a nuget upgrade may have simply broken the project.json.  So a much better error message is needed, perhaps some

[2017-01-15 23:57] andresdsep commented on #3103
The Visual Studio settings fix didn't work for me, but upgrading the xunit packages did:

    "dependencies": {
        "dotnet-test-xunit": "2.2.0-preview2-build1029",
        "xunit": "2.2.0-beta4-build3444"
    },

[2017-01-16 05:02] gegagome opened #5333 ""Failed to process project file" using Unity on Sierra"
## Steps to reproduce
Install Unity on macOS Sierra
Install VSCode plugin

## Expected  behavior
Code should autocomplete, show references, etc

## Actual behavior
TextEdit/Notepad behavior, no intellisense, etc

Even after following Kendra Havens's guide and https://github.com/dotnet/cli/issues/4357 Unity project still behaves like TextEdit, meaning no real C# code editor without any functionalit

[2017-01-16 05:21] gegagome commented on #5333
Before Sierra this was never an issue and Code work effortlessly.

[2017-01-16 07:20] BizzyIzDizzy commented on #5144
Same issue - Is this behaviour intentional?

[2017-01-16 08:07] Alezis commented on #3205
We get stuck with the same issue. Our ASP.NET Core app (Web API)  references csproj (shared library that used by client).
And we get the same issue on TFS 2015 build server.
I read everything in this thread and others, tried various workarounds, but nothing works.
On build server I updated Nuget.exe to 3.5.0.1938. When I run 'nuget.exe restore <My Solution file.sln>'
got "classic" 'Unable to resol

[2017-01-16 08:32] pgatilov commented on #3205
@Alezis you should run `nuget restore <.sln file path>`. Just running `nuget restore` does not work.

See https://github.com/dotnet/cli/issues/3205#issuecomment-254406995

[2017-01-16 08:49] Alezis commented on #3205
@pgatilov. Sorry, I new on github. Due to formatting my comment missed [My Solution file.sln]. Fixed.
Obviously, I run  with sln file specified.

[2017-01-16 09:07] Alezis commented on #3205
Just tried NuGet 3.4.4 and 3.5.0 against my sln file. Same result.

My ASP.NET Core API includes these csproj files as follows:

[code]

[2017-01-16 09:13] pgatilov commented on #3205
@Alezis, that's weird, it should work. Does the sln file contain those referenced projects? Does your xproj contain them? Ours has
[code]
(names replaced). So, the referenced projects are present both in project.json, and in .xproj. Might be important. I would recommend using Add Reference dialog in VS to correctly reference projects.

[2017-01-16 09:43] Alezis commented on #3205
@pgatilov, I checked and didn't find all those references in my xproj files. I added it manually and NuGet 3.5 restored everything without errors. Thanks for help.

We are using only VS 2015 (c 14.0.254431.01 Update3) to manage project files.
Just tried add some extra csproj to the same xproj and found that project.json was updated, but xproj was not. It looks project.json is updated once I added

[2017-01-16 12:20] Alezis commented on #3205
I got another issue. Interesting thing. I have following project graph

xproj1 - are unit tests for our asp.net core (xproj2). As suggested @pgatilov I have edited xproj2 and added references to csproj1 and csproj2. Now when I run `nuget.exe restore [my.sln]`  I got error that xproj2 is not resolved. I did the same for xproj1 and added ref to xproj2:
` <ItemGroup>
    <ProjectReference Include="..

[2017-01-16 12:28] duncanawoods opened #5334 "rebuild will be triggered based on the character case of the current working directory"
This was discovered when using both visual studio and the CLI tools. Switching between the tools was  triggering a rebuild every time on a huge project without any source changes.

## Steps to reproduce

1. Start powershell prompt
2. cd c:\Users\\\<your user\>
3. mkdir scratch;
4. cd scratch
5. dotnet new
6. dotnet restore
7. dotnet build
8. cd c:\users\\\<your user>\scratch
9. dotnet build
10. c:

[2017-01-16 13:17] hqueue commented on #2556
FYI. You may also need CLI running on ARM to build CLI itself and it is being discussed at #5289 .

[2017-01-16 14:00] fsateler commented on #2565
Having a .deb package that installs on debian would be great. Is there any way I could help move this forward?

[2017-01-16 14:06] RussKahler commented on #3205
Yes, we do that same thing. in our solution.  We have xunit tests that reference our xproj which in tern references csproj.   Couple of things to make sure.

- Your csproj should only reference .Net system references and nuget packages.  You cannot use directly assembly references at all.
- Don't worry about build server until you get VS to build
- open a cmd prompt in the xproj folder and run dot

[2017-01-16 14:07] brgrz opened #5336 "dotnet new still project.json-based?"
## Steps to reproduce

Downloaded and installed the latest .NET Core 1.1 SDK with VS Code.

Entered either dotnet new or dotnet new -t web and both resulted in project.json based project.

## Expected  behavior

Create the new csproj/msbuild based project.

## Actual behavior

project.json is still there.

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-1-00317

[2017-01-16 14:13] brgrz commented on #5336
Oh shit https://github.com/dotnet/cli/issues/5152

[2017-01-16 14:26] brgrz commented on #5336
Solved this issue by installing the .NET Core SDK installer from this GitHub's repo readme https://github.com/dotnet/cli (the first one Windows x64).

However it makes little sense that the installers at https://www.microsoft.com/net/download/core don't include these latest bits when selecting the Current tab.

[2017-01-16 16:46] Bidimus commented on #4809
Actually I did not get a chance to verify but I did grab the latest update
to VS 2017 just last week and had a 100% successful conversion of the same
solution that caused me problems originally.  At this point this is no
longer an issue far as I can tell regardless of what the cause was.

---
Jim Davies

Bidi's World <http://www.bidiworld.net/>

"Live every day as if it were your last
 and one day

[2017-01-16 17:20] PeterVenable commented on #2385
DotNetCore.1.0.1-VS2016Tools.Preview2.0.3 and dotnet-dev-win-x64.1.0.0-preview2-003156 were installed. Unfortunately I don't have login access to the machine where the error occurred so it's hard to provide more details.

[2017-01-16 17:55] blackdwarf commented on #5333
/cc @DustinCampbell

This seems to be something that is better for the OmniSharp-vscode repo.

[2017-01-16 18:00] livarcocc commented on #5304
We should respect the Projects node in global.json and we should respect the projects in your SLN file as well.

[2017-01-16 18:06] blackdwarf commented on #5304
@livarcocc agreed. :)

[2017-01-16 18:17] blackdwarf commented on #5330
@dopare I cannot seem to repro this. I've installed the latest tools and cloned your repo. Ran `dotnet restore` and the project restored correctly. Can you try with the latest tooling? Just download the latest from the README links in this repo.

[2017-01-16 18:27] fearthecowboy opened #5338 "Implicit globbing breaks ability to do any code-gen before compile."
## Steps to reproduce
Have a tool that generates .cs files, and have it run in the `.csproj ` file before the Compile Step.

## Expected  behavior
This used to work back around build `4275`.  (before the implicit globbing)
While I can see why automatically including `**/*.cs` seems like a really good idea, it breaks any ability to support code generation in msbuild, since the globbing happens befo

[2017-01-16 18:28] dopare commented on #5330
I am using `1.0.0-rc4-004527` tooling.
Have you been able to run the application after `dotnet restore` ?

[2017-01-16 19:07] dasMulli commented on #5338
There is a property `<EnableDefaultCompileItems>False</EnableDefaultCompileItems>` that disables the implicit compile items. [see here](https://github.com/dotnet/sdk/blob/a237ed6ee95d3c8438635c13fed12cbccd79da7d/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.DefaultItems.props#L20 )

[2017-01-16 19:14] fearthecowboy commented on #5338
The other thing I noticed is that opening the project up in Visual Studio 2017, you don't see any .cs files in the solution explorer.

[2017-01-16 19:15] MattGertz opened #5340 "Migration confusion when two different dotnet.exe are on the machine"
## Steps to reproduce
Only the x64 version of dotnet.exe gets updated when VS is installed.  But %path% preferentially prefers x86 by default, so whatever version of dotnet is in there actually gets run by default.  Loading the subsequent csproj in VS results in non-intuitive behavior; VS doesn't recognize interim migrations.

This has bit me so many times.  We really need to figure out what to do

[2017-01-16 19:22] MattGertz opened #5341 "Migration results in unusable csproj"
## Steps to reproduce
Migration this project.json:
[code]
## Expected  behavior
Should be something like:
[code]
## Actual behavior
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netstandard1.5</TargetFramework>
    <DebugType>portable</DebugType>
    <AssemblyName>vigenere - original - Copy</AssemblyName>
    <OutputType>Exe</OutputType>
    <PackageId>vigenere - origin

[2017-01-16 19:46] eerhardt commented on #5341
@MattGertz -

The project.json has

[code]

but in the expected .csproj you list:

[code]

How should `dotnet migrate` know to do this mapping?  Does the original project.json work fully using a "preview2" CLI?  Does it work correctly if the project.json lists `netcoreapp1.0` instead?

[2017-01-16 19:56] MattGertz commented on #5341
According to Livar, the E2E used to be able to cope with this, and we wanted to talk about it, so filing this issue to do exactly that.  (FWIW, I had no problems running this app at the time.)

[2017-01-16 20:08] dsplaisted opened #5342 "Update version of xunit package referenced after dotnet migrate"
The versions of the xunit packages that are added by `dotnet migrate` should be updated to match the changes from https://github.com/dotnet/sdk/pull/615

[code]

[2017-01-16 20:26] onovotny opened #5343 "Dotnet migrate has error in sln"
- checkout rx master: https://github.com/Reactive-Extensions/Rx.NET
- go to \RxNet\Source
- delete global.json
- run dotnet migrate .\Rx.NET.sln

14 projects migrated
Error with sln

[code]

[2017-01-16 20:27] NickCraver opened #5344 "Importing .xproj Solution file doesn't use .csproj. It still points at .xproj."
## Steps to reproduce
1. Grab the Dapper repo here: https://github.com/StackExchange/dapper-dot-net/
2. Open `Dapper.sln` in VS 2017 RC
3. Upgrade all projects when prompted.

## Expected  behavior
The solution file should reference the new `.csproj` files.

## Actual behavior
Solution file is not updated, `.xproj` projects remain. The GUIDs for the projects change, but that's it.

## Environment

[2017-01-16 20:35] blackdwarf commented on #5330
It gave me a normal error for a portable application which is that I don't have 1.2 installed on the machine. If I publish with `dotnet publish -r win10-x64` it produces an exe that I can run, but the actual app fails because it cannot find a csx file of some kind.

[2017-01-16 20:38] bradwilson opened #5345 "Can't import xUnit.net xproj => csproj, fails to update the solution"
## Steps to reproduce

* Clone https://github.com/xunit/xunit (this is on SHA `f400140333e6b15065c16ed9a1b5d0b8c13da69a` which is the current master)
* Update `global.json` SDK version to `1.0.0-rc3-004504`
* Run `dotnet migrate xunit.vs2015.sln`

## Expected  behavior

Migration succeeds.

## Actual behavior

[code]

Note that the failed .csproj files names are not correct. We currently use `proj

[2017-01-16 20:42] dopare commented on #5330
@blackdwarf  Can you please install 1.2 runtime on your machine an try `dotnet restore`.
P.S.
Actual apps fails, because `dotnet publish` does not copy .csx files. Didn't figure out how setup these files for publish.

[2017-01-16 21:03] livarcocc commented on #5343
I believe this may be a dup of https://github.com/dotnet/cli/issues/5310.

@jgoshi can you confirm?

[2017-01-16 21:03] blackdwarf opened #5346 "The warning in the latest SDK on implicit package refs for metapackages"
With the latest SDK, the package references for `Microsoft.NETCore.App` and `Netstandard.Library` are implied by the SDK. If a project that is being built contains an explicit reference to any of the above metapackages, we will issue a warning that the explicit reference is not needed. This could be problematic because users may not know what to do with it and also because it may fail the build ba

[2017-01-16 21:07] NickCraver opened #5347 "Migrating project.json improperly converts EntityFramework and other packages to <ProjectReference>"
## Steps to reproduce
1. Grab the Dapper repo here: https://github.com/StackExchange/dapper-dot-net/
2. Open `Dapper.sln` in VS 2017 RC
3. Upgrade all projects when prompted.

[This is the previous `project.json` for quick reference](https://github.com/StackExchange/dapper-dot-net/blob/23e6b64c9ff0121ce1c9a9dcf80648be20780d5c/Dapper.Tests/project.json). Specifically:
[code]

## Expected  behavior

[2017-01-16 21:32] NickCraver opened #5349 "Migration of `project.json` with compile: { includeFiles } creates extra <Compile> elements."
## Steps to reproduce
1. Grab the Dapper repo here: https://github.com/StackExchange/dapper-dot-net/
2. Open `Dapper.sln` in VS 2017 RC
3. Upgrade all projects when prompted
4. Fix references as detailed in https://github.com/dotnet/cli/issues/5347
5. Build solution

Original source `project.json` is here, relevant section:
[code]

## Expected  behavior
`Dapper.Contrib\Dapper.Contrib.csproj` shoul

[2017-01-16 21:40] blackdwarf commented on #5330
@dopare installing a runtime on a machine does not impact restore in any way. Are you saying that for you the install of the runtime makes a significant change on the restore operation?

[2017-01-16 21:40] scottaddie opened #5350 "migrate command not resolving/expanding dot"
## Steps to reproduce
1. Open a command shell
1. `mkdir C:\working_folder&&cd C:\working_folder`
1. `git clone https://github.com/scottaddie/DotNetCoreSampleApp`
1. `cd DotNetCoreSampleApp`
1. `dotnet migrate .`, and notice the following error occurs:
![period_error](https://cloud.githubusercontent.com/assets/10702007/21999769/829bc954-dbf0-11e6-9cd2-ec35409b7b50.png)

## Expected  behavior
The do

[2017-01-16 22:02] blackdwarf commented on #5129
@jdscolam that is weird then, because those instructions have been there for a while. OK, I hope you don't mind me asking a couple of more questions to get to the root cause of this:

1. Which version of OpenSSL did you install?
2. You did use `brew` to install, correct?
3. Can you `ls -al` in the directory where you created the symlinks and share the output?

[2017-01-16 22:04] livarcocc commented on #5349
This is a dup of https://github.com/dotnet/cli/issues/5316.

[2017-01-16 22:04] #5349 closed

[2017-01-16 22:11] dopare commented on #5330
Found fix, thanks @dasMulli
Updated .NET Core app package reference in my .csproj
`<PackageReference Update="Microsoft.NETCore.App" Version="1.2.0-beta-001304-00" />`

[2017-01-16 22:13] #5330 closed

[2017-01-16 22:21] jpierson commented on #5152
@blackdwarf As for `global.json` I was running this command sans any project/solution (ex. `C:\`). I double checked that there was no `global.json` file in the root of where I'm running the command and still the same result.

Awesome! I'm excited to hear about it. I would love to be able to download a new project from GitHub for example and have some base level of the .NET Core tooling download th

[2017-01-16 22:52] NickCraver commented on #5344
cc @livarcocc for migrate tag

[2017-01-16 22:58] NickCraver opened #5351 "Migration doesn't cleanup global.json, project.json and .xproj files."
## Steps to reproduce
1. Grab the Dapper repo here: https://github.com/StackExchange/dapper-dot-net/tree/23e6b64c9ff0121ce1c9a9dcf80648be20780d5c
2. Open `Dapper.sln` in VS 2017 RC
3. Upgrade all projects when prompted.

## Expected  behavior
These files should no longer exist in the main or project folders:
- `project.json`
- `project.lock.json`
- `*.xproj`
- `*.xproj.user`
- `global.json`

## Ac

[2017-01-16 23:17] livarcocc commented on #5351
Can you please move this to https://github.com/dotnet/roslyn-project-system?

[2017-01-16 23:24] livarcocc commented on #5350
This is happening because you have a global.json in your root that points to preview2 CLI. Please, remove the global.json or edit it to change the SDK version in it or remove that entry entirely and then try migrating.

After doing that, the project did migrate for me.

[2017-01-16 23:24] #5350 closed

[2017-01-16 23:37] NickCraver opened #5353 "dotnet migrate should update VisualStudioVersion = and MinimumVisualStudioVersion ="
## Steps to reproduce
1. Get the `StackExchange.Redis` repo: `https://github.com/StackExchange/StackExchange.Redis/tree/d881e28c1b3366cc5ba908b74a34289767dd7d86`
2. Migrate via `dotnet migrate StackExchange.Redis.Core.sln`

## Expected  behavior
In `StackExchange.Redis.Core.sln`, `VisualStudioVersion` and `MinimumVisualStudioVersion` should be updated to a 15.x version.

## Actual behavior
`Visual

[2017-01-16 23:37] MarkMichaelis opened #5354 "Old version of dotnet.exe used for dotnet migrate by VS2017 (x86 dotnet.exe not updated with VS2017 RC3 install)"
**Issue:**
After installing Visual Studio 2017 RC3 (Version 15.0.26114.2 D15REL) and running a migrate with either the command line or Visual Studio 2017RC3, the migration fails because an "legacy" dotnet.exe (from x86) is used.  The problem seems to be that there is a "legacy" version of dotnet x86 that appears earlier in my path than the dotnet x64 which VS2017 installs.
**Expectation:**
When in

[2017-01-16 23:39] NickCraver commented on #5351
Migrated to https://github.com/dotnet/roslyn-project-system/issues/1184

[2017-01-16 23:39] #5351 closed

[2017-01-16 23:58] scottaddie opened #5355 "migrate command not removing global.json from solution file"
## Steps to reproduce
1. `mkdir C:\working_folder\test&&cd C:\working_folder\test`
1. `git clone git clone https://github.com/scottaddie/DotNetCoreSampleApp`
1. `cd DotNetCoreSampleApp`
1. Open `global.json` in text editor, change `version` property value to "1.0.0-rc3-004504", and save file
1. `dotnet migrate DotNetCoreSampleApp.sln`
1. Open migrated solution in VS 2017 RC3, and notice that the `

[2017-01-17 00:10] livarcocc commented on #5354
thanks for the bug @MarkMichaelis. We are already tracking this issue through https://github.com/dotnet/cli/issues/5340.

[2017-01-17 00:10] #5354 closed

[2017-01-17 00:45] piotrpMSFT commented on #5343
This was a dupe of #5345, but also exhibits another issue which I'm looking at now

[2017-01-17 01:04] livarcocc commented on #4956
Yes, but you still need to run dotnet migrate sln_file for the sln file to be updated.

[2017-01-17 01:05] blackdwarf commented on #4956
@jinujoseph does the above fix the issue?

[2017-01-17 08:58] piotrpMSFT commented on #5353
@srivatsn @333fred thoughts on this? As @NickCraver calls out, I'm not a fan of having CLI make changes to the sln file which affect only VS as I don't want to clash with other migration steps that VS may need to do. We can't have that logic in two places given the complexity of the VS implementation. Is there a way we can provide a good experience in 2015 without breaking upgrade in 2017?

[2017-01-17 09:00] piotrpMSFT commented on #5347
@livarcocc this is a more general problem due to project directories colliding on names with package references. Can you update the title and articulate the general problem?

[2017-01-17 09:02] piotrpMSFT commented on #5346
I believe this is a dupe of https://github.com/dotnet/sdk/issues/666

@srivatsn and @dsplaisted should comment, but I'm assuming we're tracking the external SDK issue here unless I hear otherwise.

Also, the SDK bug number is ominous.

[2017-01-17 09:03] piotrpMSFT commented on #5345
This should be fixed in #5357. @bradwilson can you verify? latest CLI on the repo's home change should have the fix.

[2017-01-17 09:04] piotrpMSFT commented on #5344
@333fred

SLN file updates are handled outside of the CLI in this scenario.

[2017-01-17 09:41] richb8 commented on #3419
We're also getting these access denied issues when our project is checked into TFS. Everytime we want to build or publish the project, we have to checkout all the files, delete the bin and obj directories and rebuild.

[2017-01-17 11:10] progrish commented on #3759
"Microsoft.DotNet.InternalAbstractions": "1.0.1-beta-003206" Fixed XUnit problem..

[2017-01-17 11:12] mkyjakova commented on #5118
Hi @livarcocc can you please have a look at this bug and reply? Thanks!

[2017-01-17 11:49] felix-b commented on #5105
The same happens to console application, both in ```dotnet build``` and ```dotnet publish```, no matter what RID I try.  My environment is identical to @pwasiewicz's except for ```OS Version:  10.0.14393```

[2017-01-17 12:21] pogarek commented on #5308
I've found the answer in another place. The changed file should be like this:

[code]

[2017-01-17 12:21] #5308 closed

[2017-01-17 12:45] JanEggers opened #5359 "dotnet build does not copy pdb of a nuget into bin folder"
## Steps to reproduce

create a project "a" in solution "a"
 "frameworks": {
    "net461": {
      "dependencies": {
      }
    },
    "netstandard1.61": {
      "dependencies": {
      }
    }
  },
  "buildOptions": {
    "debugType": "full"
  }

dotnet build
dotnet pack
nuget publish

create a project "b" in solution "b"
"dependencies": {
    "a": "1.0.0-*",
  },
 "frameworks": {
    "net461":

[2017-01-17 13:35] #5359 closed

[2017-01-17 13:36] JanEggers commented on #5359
seems to be another issue the pdbs are loaded from our symbol servers but line numbers are not present

[2017-01-17 15:09] DustinCampbell commented on #5304
Which wins if there're both present?

[2017-01-17 16:50] jgoshi commented on #5319
I'd say this is a won't fix. To me it's ok if we are a little more strict than PJ. If a file doesn't exist and they get a build error they should remove the reference.

[2017-01-17 16:52] jgoshi commented on #5318
There's InternalsVisibleToAttribute, but that's only to specify which friend assemblies can reference internals. I don't know of a way to say all internals are visible to all other assemblies which is what this PJ statement seems to say. I think we should just not support this feature :)

[2017-01-17 17:02] DustinCampbell commented on #5318
I suspect it's probably the right to just link the files in MSBuild. In fact, that's probably what "shared" is doing. It's akin to Shared Projects in VS. Something like...

[code]

[2017-01-17 17:03] cdmihai commented on #2788
@blackdwarf
Yes, same issue. MSBuild uses timestamp based incrementality, just like old CLI did, so if you do things to your files that does not update the timestamps (like copying and such), then you might get false negatives.

[2017-01-17 17:24] avanderhoorn commented on #5151
Any update on this?

[2017-01-17 17:27] rrelyea commented on #5151
If this is a nuget issue, let's port it over to http://github.com/nuget/home/issues please.

[2017-01-17 17:31] blackdwarf commented on #2788
@cdmihai should this move to the MSBuild repo then as an issue? Seems like something that, if we indeed do solve it, would be solved at that layer rather than the CLI?

[2017-01-17 18:14] livarcocc commented on #5304
I put the ordering on this issue: https://github.com/dotnet/cli/issues/5238.

[2017-01-17 18:15] DustinCampbell commented on #5238
That seems right to me.

[2017-01-17 18:16] jgoshi opened #5360 "Migration: migrate sln fails to add project if project.json uses outputName"
See attached project as an example.

outputName forces us to use the AssemblyName attribute, but for some reason causes us to be unable to write the sln file properly

[AssemblyName.zip](https://github.com/dotnet/cli/files/711937/AssemblyName.zip)

[2017-01-17 18:38] DustinCampbell opened #5361 "dotnet migrate fails if project.json includes deprecated options"
## Steps to reproduce

1. Download and unzip the following project: [test-project-with-projectUrl-migrate.zip](https://github.com/dotnet/cli/files/711963/test-project-with-projectUrl-migrate.zip).
2. Run `dotnet migrate`

## Expected  behavior
Migration successful but warning is outputted for the user due to deprecated property in project.json.

## Actual behavior
Migration fails due to deprecated

[2017-01-17 18:56] cdmihai commented on #2788
Yes, the layer at which this would be solved is MSBuild. Created an issue and linked it to this one. Closing this one.

[2017-01-17 18:56] #2788 closed

[2017-01-17 18:59] #5151 closed

[2017-01-17 19:10] bradwilson commented on #5345
@piotrpMSFT Verified fixed with `1.0.0-rc3-004512`. Thanks!

Now that this works, I'm blocked by dotnet/sdk#665.

[2017-01-17 19:16] jonsequitur commented on #5353
@333fred Can you specify the version numbers please?

[2017-01-17 19:22] jgoshi commented on #812
@schellap Any insights?

[2017-01-17 19:29] 333fred commented on #5353
`VisualStudioVersion = 15.0.26114.2`
`MinimumVisualStudioVersion = 10.0.40219.1`

[2017-01-17 19:30] blackdwarf commented on #5238
@livarcocc as we discussed offline, nope :)

[2017-01-17 19:33] DustinCampbell opened #5363 "VS 2017 migration fails if projects aren't in optimal order in the solution file"
## Steps to reproduce
1. Download and unzip [test-project-migrate.zip](https://github.com/dotnet/cli/files/712110/test-project-migrate.zip).
2. Open `test-project-migrate\test-project.sln` in VS 2017 RC.

## Expected  behavior
Project migrates successfully

## Actual behavior
Project migration fails with the following problem:

[code]

If you open the .sln file and swap `test-library` and `test-pr

[2017-01-17 19:52] livarcocc commented on #5360
I believe this is a dup of https://github.com/dotnet/cli/issues/5345. It fails to add to the sln projects that have an outputname set on it. @piotrpMSFT fixed this in rc3 yesterday.

[2017-01-17 19:52] livarcocc commented on #5360
cc @jgoshi

[2017-01-17 20:02] #5345 closed

[2017-01-17 20:03] livarcocc commented on #5363
This has been fixed in RC3 yesterday by https://github.com/dotnet/cli/pull/5352.

[2017-01-17 20:03] #5363 closed

[2017-01-17 20:03] livarcocc commented on #5361
This is a dup of https://github.com/dotnet/cli/issues/4166.

[2017-01-17 20:03] #5361 closed

[2017-01-17 20:10] jgoshi commented on #5353
@333fred Why does MinimumVisualStudioVersion stay at 10.0? Shouldn't it also be a 15.0 version?

[2017-01-17 20:13] jgoshi commented on #5353
In order to force the message telling the user to install a later version of VS.

[2017-01-17 20:26] DustinCampbell commented on #5361
Ah yes, I'd forgotten. :smile:

Note: I expect customers will hit this quite a bit. There are many who don't keep their projects clean of warnings, and each of these will fail to migrate.

[2017-01-17 20:27] DustinCampbell commented on #5363
woo-hoo! Awesome!

[2017-01-17 20:34] jgoshi commented on #5360
Yup it's a dup.

[2017-01-17 20:34] #5360 closed

[2017-01-17 20:45] blackdwarf commented on #4239
This is fixed in the latest tooling.

[2017-01-17 20:45] #4239 closed

[2017-01-17 20:51] jgoshi commented on #5353
@piotrpMSFT @livarcocc @333fred Just trying to make sure I understand this issue. Without the minimum visual studio version also being a 15.0 version, attempting to open in an older VS would still repro this issue right? So what should I use as the MinimumVisualStudioVersion?

[2017-01-17 20:59] blackdwarf commented on #4172
Due to lack of traffic on this issue and the fact that we cannot repro it, I will close it. If you can share a repro, please reopen, but do take into account that with the move to MSBuild this issue should go away.

[2017-01-17 20:59] #4172 closed

[2017-01-17 20:59] blackdwarf commented on #4150
@conniey it should be solved when we move to MSBuild. It would be great if someone can provide me with a repo so I can validate.

[2017-01-17 21:05] blackdwarf commented on #4076
Created the issue on dotnet/templating. Closing this one as it is not something we can act on in the CLI.

[2017-01-17 21:05] #4076 closed

[2017-01-17 21:19] blackdwarf commented on #4049
Since this is not really a CLI issue and there was no activity on the issue since Nov, I will go ahead and close. Please reopen if needed.

[2017-01-17 21:19] #4049 closed

[2017-01-17 21:26] blackdwarf commented on #3791
This is fixed in the MSBuild-based tools. If you install the latest from this repo and then do `dotnet new` and add the following: `<RuntimeIdentifiers>ubuntu.14.04-x64;osx.10.11-x64</RuntimeIdentifiers>` and then restore and publish with that runtime, you will see `libuv.dylib` in the output folder.

Will close this as mitigated by the move to MSBuild. If you see this reproing with the latest too

[2017-01-17 21:26] #3791 closed

[2017-01-17 21:32] blackdwarf commented on #3725
This is now done in the latest tooling via the `dotnet clean` command. If you get the bits from the links in the README on this repo, you can try it out! :)

Will close, please reopen if more info is needed.

[2017-01-17 21:32] #3725 closed

[2017-01-17 21:39] blackdwarf commented on #3659
Given the answers on this thread and lack of activity since summer last year, I will close this issue. Please reopen if you need more information. Thanks!

[2017-01-17 21:39] #3659 closed

[2017-01-17 21:45] blackdwarf commented on #3553
This is actually fixed in the latest tooling. Will close. If it repros, please reopen.

[2017-01-17 21:45] #3553 closed

[2017-01-17 21:46] onovotny opened #5365 "Meta: Blocking RTM issues"
As of today, the Rx.NET solution using xproj/project.json (Rx v3.1.1 in master) does not successfully migrate to the latest CLI tools.

There are several underlying issues that are mostly attributed to unrecognized TFM's.
- [ ] https://github.com/dotnet/sdk/issues/663
- [ ] https://github.com/dotnet/sdk/issues/492
- [ ] https://github.com/dotnet/sdk/issues/491
- [ ] https://github.com/dotnet/cli/i

[2017-01-17 21:46] jgoshi commented on #5353
Followed up offline. Leaving the minimum version is fine, by updating the VisualStudioVersion we ensure that double-click opens up in VS 2017.

[2017-01-17 21:47] srivatsn commented on #5172
This issue was moved to dotnet/sdk#673

[2017-01-17 21:47] #5172 closed

[2017-01-17 21:50] blackdwarf commented on #3391
@Angelixion I don't think this is related to the .NET Core CLI. @mlorbetske do you know what is the cause here?

[2017-01-17 21:52] blackdwarf commented on #3294
This issue falls into a class of similar issues and is being tracked on Nuget/Home#3935. Will close this one. If you feel this is in error, please reopen. Thanks!

[2017-01-17 21:52] #3294 closed

[2017-01-17 23:01] krwq opened #5367 "Visual Studio migration experience issues"
- For almost each project migrated we display a warning which seems weird in context of migration report:
[code]
- Some of the errors are quite not clear:
[code]
- Message on failed migration could be improved (i.e. link to cli repo/issues, error code with some normal number or hex instead of negative number)
[code]
- Unhandled exceptions in migration happen, we do display stack trace but it is un

[2017-01-17 23:21] mlorbetske commented on #3391
@vijayrkn is there a way to set in the publish profile that a particular directory should be ignored?

[2017-01-17 23:31] DustinCampbell commented on #4786
@piotrpMSFT: Do you have any ideas about what might be happening here? Is it possible that this is an MSBuild issue?

[2017-01-17 23:39] #5353 closed

[2017-01-17 23:47] #5347 closed

[2017-01-17 23:49] livarcocc commented on #5367
@333fred

@krwq I think you should move this bug to dotnet/roslyn-project-system.

Also, for not reading the report, that is because the CLI has not generated one. This is likely a migration ordering problem that we fixed last night for rc3.

[2017-01-17 23:51] 333fred commented on #5367
This issue was moved to dotnet/roslyn-project-system#1228

[2017-01-17 23:51] #5367 closed

[2017-01-18 00:15] blackdwarf commented on #3185
Is this still reproing for anyone recently? It seems that the discussion died down some time ago...

[2017-01-18 00:27] livarcocc commented on #5344
I believe this was happening because of https://github.com/dotnet/cli/pull/5352. I tried dapper yesterday and migration actually failed because of the PR above.

[2017-01-18 00:50] piotrpMSFT commented on #5365
@srivatsn @rrelyea

[2017-01-18 02:20] livarcocc opened #5369 "Fix portuguese translations"
See comments at https://github.com/dotnet/cli/pull/5335.

[2017-01-18 02:48] dopare opened #5370 "dotnet run throws Unhandled Exception: System.IO.FileLoadException"
## Steps to reproduce

1. Install `1.0.0-rc4-004530` dotnet cli
2. Install `2.0.0-beta-001368-00` shared runtime
3. Clone [demo app](https://github.com/dopare/dotnet-core-nightly) (simple console app)
4. Run `dotnet restore`
5. Run `dotnet run`

## Expected  behavior

Application runs without any exception.

## Actual behavior

Output:
[code]

# NOTES
1. Application runs if I remove
`    <PackageR

[2017-01-18 03:04] livarcocc commented on #5370
I believe this bug belongs in the dotnet/sdk repo. Could you please move it there?

[2017-01-18 03:05] livarcocc commented on #5370
@dsplaisted

[2017-01-18 03:10] dopare commented on #5370
Moved to https://github.com/dotnet/sdk/issues/676

[2017-01-18 03:10] #5370 closed

[2017-01-18 05:35] avinashl3175 commented on #3201
I am also facing below  error,
![image](https://cloud.githubusercontent.com/assets/14246174/22052080/e2fa6d54-dd6d-11e6-93c2-03fed137e84f.png)

**Logs:**
[1778:1D24][2017-01-18T10:57:26]i001: Burn v3.10.3.3007, Windows v6.3 (Build 9600: Service Pack 0), path: C:\Users\AvinashK\AppData\Local\Temp\{8A216E5A-9EB1-4439-8FAD-5C6D015DD8B0}\.cr\DotNetCore.1.0.1-VS2015Tools.Preview2.0.3.exe
[1778:1D24][20

[2017-01-18 05:49] vijayrkn commented on #3391
If you are using VS 2017, then you can add this to the pubxml & provided path will be skipped from publishing.
[code]

[2017-01-18 05:49] blackdwarf commented on #5281
@dagood what is the version of the shell you are using?

[2017-01-18 06:11] piotrpMSFT commented on #5346
We chatted about this offline. Since `<PackageReference>` is not the intended mechanism for describing the project's runtime version, we'll need to have migration handle converting the `dependency` element into the right csproj elements.

[2017-01-18 06:12] piotrpMSFT commented on #5344
@NickCraver can you try again with the latest CLI, per @livarcocc's note?

[2017-01-18 06:12] piotrpMSFT commented on #5343
@onovotny looked at this migration after yesterday's changes and found that it now works succesfully. @onovotny can you close the issue if there are no lingering problems/

[2017-01-18 06:13] #5342 closed

[2017-01-18 06:13] rohit21agrawal commented on #5365
i believe NuGet/Home#4137 has been fixed

[2017-01-18 06:24] piotrpMSFT commented on #5338
@fearthecowboy it looks like the original issue is unblocked. Can we close the issue?

The VS issue is fixed in recent builds.

[2017-01-18 06:24] piotrpMSFT commented on #5338
@srivatsn @dsplaisted to share the implicit reference feedback.

[2017-01-18 06:35] piotrpMSFT commented on #5336
@brgrz thanks for the issue. We'll be flipping the default download on https://www.microsoft.com/net/download/core as we approach RTM of the new tooling.

[2017-01-18 06:35] #5336 closed

[2017-01-18 06:38] piotrpMSFT commented on #5333
Moved to omnisharp-vscode

[2017-01-18 06:38] #5333 closed

[2017-01-18 06:38] livarcocc commented on #5346
@piotrpMSFT What are the right csproj elements (I hope element)?

[2017-01-18 06:40] livarcocc commented on #5331
@dsplaisted @nguerrera @eerhardt Is there a way to trigger a publish without build?

[2017-01-18 06:43] livarcocc commented on #5343
@onovotny I believe this is a flavor of https://github.com/dotnet/cli/issues/5310. @jgoshi, can you take a quick look and confirm?

[2017-01-18 06:45] livarcocc commented on #3391
@vijayrkn any chance we can make this more intuitive? And maybe more succinct?

cc @blackdwarf

[2017-01-18 06:46] livarcocc commented on #4956
@jinujoseph if you can still repro this, please re-activate. I have tried this a few times over the last couple days with success.

[2017-01-18 06:46] #4956 closed

[2017-01-18 06:49] piotrpMSFT commented on #5332
@volkanceylan I just tried to repro this with RC3 [available from the home page of this repo]. I used this repro:

[code]

I executed `dotnet run` and then typed an arbitrary string. The characters I typed appeared on the console even before I pressed `enter`. I'm closing the issue as no-repro. If you find that there is a repro atop rc3 or later please do open a new issue with repro steps for us t

[2017-01-18 06:49] #5332 closed

[2017-01-18 06:50] livarcocc commented on #4839
I believe we have gotten rid of this flakiness. We are still hitting two others: deps.json for tool missing and some .tam file issues. But this one is taken care of.

[2017-01-18 06:50] #4839 closed

[2017-01-18 06:59] dsplaisted commented on #5338
@fearthecowboy Before implicit globbing, did the project file have something like `<Compile Include="**\*.cs" />`, or did it list the files explicitly?  If it used a glob, then I would expect the same behavior whether the glob was explicitly in the project file or implicit in the SDK.  In either case the compile items would be evaluated before any targets are run.

Generally I would expect code-ge

[2017-01-18 07:05] piotrpMSFT commented on #5331
@hongdai It would be useful if you can share how you used this flag. I think there was some debate about whether it is still useful.

[2017-01-18 07:10] dsplaisted commented on #5346
Here's my recollection of the migrate behavior we discussed today:

- If the target framework from project.json is .NET Standard, than don't include the NETStandard.Library package reference in the migrated .csproj.
- If the target framework from project.json is netcoreapp, then don't include the Microsoft.NETCore.App package reference in the migrated .csproj.
  - If the package version of the Mic

[2017-01-18 07:15] piotrpMSFT commented on #5325
@rrelyea we have two ways to deal with this.

First, CLI offers an environment variable called DOTNET_SKIP_FIRST_TIME_EXPERIENCE which can be set when a hosting environment [VS, VS Dev Console] guarantees that the first-run experience has otherwise been accounted for.

Second, and likely better, we could do a better job of asking NuGet whether particular packages are already installed in the curre

[2017-01-18 07:18] volkanceylan commented on #5332
Could you kindly provide information about what is RC3? I don't see any links there about RC3. I see 1.0 SDK Preview 3 but there is no SDK Preview 3 for .NET 1.1. .NET Core versioning is really confusing.

This was an issue about running a tool defined in project.json through "dotnet toolname", not "dotnet run".

[2017-01-18 07:28] piotrpMSFT commented on #5311
@DustinCampbell this is likely a two-fold issue.

1. The CLI Build intentionally pushes your machine to the max during test execution. Microsoft.DotNet.Cli.Test.targets uses the `<MSBuild>` task to utilize all available cores for parallel test execution. You can disable this by invoking `build.cmd /m:{number of cores you want to give to the build}`

2. I've heard anecdotally that we have some `dot

[2017-01-18 07:39] piotrpMSFT commented on #5300
We won't get to this before RTM but it's something we should look at soon after. @blackdwarf @rainersigwald for their thoughts.

[2017-01-18 08:02] piotrpMSFT commented on #5296
We need to fix this. I see how we got here: `dotnet add project` supports adding multiple projects. That pattern was followed in `dotnet add package`, having it treat the package name, instead of accepting it as an argument. This is what gives an order to the expected inputs.

This approach is inappropriate because the rest of the command is not set up to support multiple packages in a single invo

[2017-01-18 08:03] piotrpMSFT commented on #5289
@jonsequitur can you take a look at this tomorrow?

[2017-01-18 08:04] #5283 closed

[2017-01-18 08:17] piotrpMSFT commented on #5334
I'm quite confident that @blackdwarf is right that this issue is fixed by the migration to msbuild, but whould love to hear a confirmation from @duncanawoods.

@duncanawoods can I ask you to:
1. Install VS2017 RC from https://www.visualstudio.com/vs/visual-studio-2017-rc/
2. Install the latest cli from the home page of this repo
3. make a copy of your solution
4. `cd` into the copy directory and r

[2017-01-18 08:29] piotrpMSFT commented on #5278
@krwq I've not seen this as a result of build. I have seen it, however, as a result of `git pull` that affect test assets. Are you sure that the build is the cause here? Do you have a repro  I can look at

[2017-01-18 08:34] piotrpMSFT commented on #5276
@dagood we're not familiar with the shared infrastructure, but if it will make cross-repo integration better then I don't see issue in adopting it. Is there someone that could make a PR?

[2017-01-18 08:42] piotrpMSFT commented on #5271
We're not going to be able to address this with a fix before RTM. However, you can side-step this problem by `export DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1` for the time being.

[2017-01-18 08:43] piotrpMSFT commented on #5262
Any updates here?

[2017-01-18 08:43] piotrpMSFT commented on #5251
@blackdwarf has this been fixed?

[2017-01-18 08:48] piotrpMSFT commented on #5248
Moved to the appropriate repro

[2017-01-18 08:48] #5248 closed

[2017-01-18 08:52] piotrpMSFT commented on #5236
Looks to me like dotnet/sdk#537 is closed. We should be able to resolve this now.

[2017-01-18 09:21] piotrpMSFT commented on #5230
We've crossed this issue a number of times in the past and determined the current behavior is most appropriate. The issue is many-fold but comes down to the fact that at the time that we're parsing global.json we don't yet have enough data to determine where we might want to look for an alternate global.json. In the example above, it is the global.json->determined version of `dotnet.dll` that dete

[2017-01-18 09:22] piotrpMSFT commented on #5213
@blackdwarf @mlorbetske what is the right cmd line to execute?

[2017-01-18 09:25] piotrpMSFT commented on #5202
@stuartbloom I believe MEF is maintained in https://github.com/dotnet/corefx. This repo doesn't typically have any MEF experts looking over issues.

[2017-01-18 09:25] #5202 closed

[2017-01-18 09:33] piotrpMSFT commented on #5194
Based on the symptoms and @eerhardt's insight, this appears likely to be a Shared Framework issue that happens to repro in CLI since CLI is an app that uses the Shared Framework. It would likely best be investigated by the core-setup folks. However, I've not had time to look into specifics so leaving this open for later investigation...

[2017-01-18 09:40] piotrpMSFT commented on #5188
@Korporal @alexidsa certainly did install preview4-004233, as you say. However, the project is being opened with preview2 tooling for Visual Studio 2015. preview3+ are not compatible with Visual Studio 2015. The workaround I offer will fix VS 2015 by locking the project to a preview2 CLI.

As you say, it's confusing. Once VS2017 ships you will be able to `dotnet migrate` these project.json project

[2017-01-18 09:40] #5188 closed

[2017-01-18 09:44] piotrpMSFT commented on #5185
We should ensure that MusicStore migrates successfuly.

[2017-01-18 09:48] piotrpMSFT commented on #5162
Do you have a linked SDK issue? The CLI portion of this work will primarily be a passthrough of a parameter...

[2017-01-18 09:50] piotrpMSFT commented on #5155
This issue should be moved to https://github.com/nuget/home

[2017-01-18 09:50] #5155 closed

[2017-01-18 09:59] piotrpMSFT commented on #5148
`dotnet` is put on the PATH by the host which is built from the core-setup repo. Moving the issue there.

[2017-01-18 10:00] piotrpMSFT commented on #5147
Global tools is something we want to pursue, but won't get to it during 1.0 release.

[2017-01-18 10:02] piotrpMSFT commented on #5144
@dsplaisted I believe this is fixed in most recent SDK. Can you confirm?

[2017-01-18 10:03] #5148 closed

[2017-01-18 10:09] piotrpMSFT commented on #5135
I created an issue for this in the dotnet test repo. Leaving this open for tracking.

[2017-01-18 10:12] piotrpMSFT commented on #5133
project.json build was only lightly optimized. Builds via msbuild in rc3 are generally faster, and rebuilds even more so due to improved incremetality logic. Please consider installing the latest CLI from the home page of this repo, `dotnet migrate`ing your project, and getting a sense for the new command line tools.

As this is a preview2/project.json issue I'm closing as we have no further relea

[2017-01-18 10:12] #5133 closed

[2017-01-18 10:16] piotrpMSFT commented on #5123
Thanks for the workaround @cjames9001. I'm closing the issue as this only affects the project.json tooling and we have no further releases planned for those tools. Please consider installing the latest RC3 bits from the home page of this repo and running `dotnet migrate` on your project to try out the new experience.

[2017-01-18 10:16] #5123 closed

[2017-01-18 10:21] piotrpMSFT commented on #5120
I'd certainly start with getting core-setup building. You will need a native build of the `dotnet` host executable as well as a properly laid out Shared Framework. Once those components are in-place the CLI should `just work` and we can help you figure out how to bootstrap the CLI build.

[2017-01-18 10:24] piotrpMSFT commented on #5113
Closing due to inactivity.

[2017-01-18 10:24] #5113 closed

[2017-01-18 10:25] piotrpMSFT commented on #5107
@Eilon, closing this issue as we don't have any further releases planned for the project.json tooling ;) If you happen to see a repro on rc3+ please do open an issue to track this.

[2017-01-18 10:25] #5107 closed

[2017-01-18 10:39] piotrpMSFT commented on #5095
@mdekrey the SDK repo is likely the right place for this issue as that is where the cs project system gets defined. Thanks for filing!

[2017-01-18 10:39] #5095 closed

[2017-01-18 10:42] piotrpMSFT commented on #5086
@vijayrkn looks like those issues are closed, and CLI currently has latest SDK. Is this fixed, then?

[2017-01-18 10:44] piotrpMSFT commented on #5081
Fixed, so closing

[2017-01-18 10:44] #5081 closed

[2017-01-18 10:45] piotrpMSFT commented on #5061
Sounds like there is resounding agreement for us to...

[2017-01-18 10:45] #5061 closed

[2017-01-18 10:48] piotrpMSFT commented on #5026
@ryanbrandenburg can you migrate your repo? We're not taking fixes for project.json anymore. Unless there is a blocker, can you close the issue?

[2017-01-18 10:52] piotrpMSFT commented on #5001
I see, this is a project.json issue. We don't have any more planned project.json tooling releases so I'm closing the issue. There were a bunch of causes for symptoms like these in project.json system. I recommend grabbing the latest rc3 bits from the root of this repo and `dotnet migrate`ing the project to csproj. If it still repro's there we'll be able to investigate and fix!

[2017-01-18 10:52] #5001 closed

[2017-01-18 11:00] piotrpMSFT commented on #4995
@thereapman ?

[2017-01-18 11:03] piotrpMSFT commented on #4967
I'm moving this to the SDK repo as that's where the in-box resgen tool lives.

[2017-01-18 11:05] #4967 closed

[2017-01-18 11:06] piotrpMSFT commented on #4965
@rohit21agrawal ?

[2017-01-18 11:08] piotrpMSFT commented on #4965
@Antaris if this seems blocked, it will likely get much better traction in the nuget/home repo. CLI is just a delivery mechanism and having the issue open here is likely reducing visibility from the nuget folks...

[2017-01-18 11:09] piotrpMSFT commented on #4952
Closing in favor of dotnet/sdk#550

[2017-01-18 11:09] #4952 closed

[2017-01-18 11:12] piotrpMSFT commented on #4927
In 2015, as in this bug, the adapters were quite different. Once you migrate the project to RC3 [really, anything > preview3] you will move onto the new unified experience, @ekumlin. You can grab a build from the home page of this repo and run `dotnet migrate` to move your project forward.

I'm closing this issue as we don't plan to ship any more updates to project.json/preview2 tooling

[2017-01-18 11:12] #4927 closed

[2017-01-18 11:12] piotrpMSFT commented on #4913
Fixed in #4936

[2017-01-18 11:13] #4913 closed

[2017-01-18 11:15] piotrpMSFT commented on #4874
@mpoettgen I don't think we have a doc yet. I've done the process a few times manually, though. Perhaps I can help with comments?

In general, I've had the most luck by:
1. `dotnet new` a core template
2. Add stuff to it until it builds your project
3. delete the old csproj file

[2017-01-18 11:15] piotrpMSFT commented on #4866
Anyone up for making a PR?

[2017-01-18 11:16] piotrpMSFT commented on #4865
Sounds like this one is fixed and #4866 is what's remaining.

[2017-01-18 11:16] #4865 closed

[2017-01-18 11:16] piotrpMSFT commented on #4862
Thanks, @svick

[2017-01-18 11:16] #4862 closed

[2017-01-18 11:18] #4861 closed

[2017-01-18 11:21] piotrpMSFT commented on #4857
moved to nuget/home

[2017-01-18 11:21] #4857 closed

[2017-01-18 11:22] piotrpMSFT commented on #4856
#812 is likely related.

[2017-01-18 11:23] #4820 closed

[2017-01-18 11:24] piotrpMSFT commented on #4815
@blackdwarf let's close on this...

[2017-01-18 11:25] piotrpMSFT commented on #4812
This is fixed.

[2017-01-18 11:25] #4812 closed

[2017-01-18 11:25] #4811 closed

[2017-01-18 11:26] #4809 closed

[2017-01-18 11:27] piotrpMSFT commented on #4786
it's possible. I've nto seen a local repro yet...

[2017-01-18 11:29] piotrpMSFT commented on #4746
@rrelyea when do we expect list package to land?

[2017-01-18 11:59] codito commented on #5035
The test is failing locally with build failure (path of some binaries copied are too long). I tried to run through the scenario manually.

1. Shorten the path manually. Use `G:\dd\gh\dotnet\dotnet-cli\test\dotnet-test.Tests\bin\Debug\netcoreapp1.0\1\VSTestDotNetCore` as working directory`.
2. `dotnet restore --packages pkgs`
3. `dotnet test`

I can run the test run successfully.

[2017-01-18 12:23] gimlichael commented on #3874
I solved this issue by doing to things;

1. delete the app.config from the root of the project.
2. delete obj and bin folder

Maybe this can provide a hint to the deeper issue?

[2017-01-18 12:36] lewislabs opened #5371 "Installing new sdk versions through dotnet"
I'm wondering if this is achievable, it's certainly something that's desirable from a portability standpoint.

If I specify an `"sdk":{ "version": "x.y.z"}` in the `global.json`, and i run `dotnet build` on a machine without the `x.y.z` version of the sdk, could `dotnet` go and install that version?

The main benefit of this is developer productivity and consistency of the build tools used across

[2017-01-18 12:54] hultqvist commented on #5230
I understand that putting a check in the host is risky. Placing it in the guest would probably be the only way.

The motivation for having the check at all is that the error messages that would otherwise appear are very hard to decode. I can vaguely recall messages about unsupported features and missing references or maybe one about unsupported project formats. These messages was presented to me o

[2017-01-18 13:56] DustinCampbell commented on #5333
Thanks!

[2017-01-18 14:44] steveoh commented on #5262
None from me

[2017-01-18 15:02] eerhardt commented on #5331
Agreed. Getting all the use cases for why this switch is useful helps us understand whether to put it back or not.

One of the use cases I've recently encountered was the F# team (specifically @KevinRansom) was using this switch to publish a project's references, but he didn't want the project's output (its .dll) published. The replacement in that case is to add the MSBuild property `<CopyBuildOut

[2017-01-18 15:09] eerhardt commented on #5276
It should be as simple as replacing our copy of
https://github.com/dotnet/cli/blob/rel/1.0.0/build_projects/shared-build-targets-utils/VersionRepoUpdater.cs
with
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.VersionTools/Automation/VersionsRepoUpdater.cs using the

[code]

that we already use in the update-dependencies script.  I'm not sure on the version that should be use

[2017-01-18 15:10] frankbuckley commented on #4786
@piotrpMSFT @DustinCampbell Try this for a repro:

https://github.com/frankbuckley/dotnetbuildcs2012repro

I reliably get results like:

    PS D:\frankdev\dotnetbuildcs2012repro> .\build.ps1
      Restoring packages for D:\frankdev\dotnetbuildcs2012repro\Library2\Library2.csproj...
      Restoring packages for D:\frankdev\dotnetbuildcs2012repro\Library6\Library6.csproj...
      Restoring packages

[2017-01-18 15:34] dagood commented on #5281
OSX: `bash --version`: `GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin15)`

Ubuntu: `bash --version`: `GNU bash, version 4.3.11(1)-release (x86_64-pc-linux-gnu)` (the script fails on `set -o pipefail` when running specifically with `sh`.)

[2017-01-18 15:38] leonpw commented on #4937
If you ship it in a container, then it will still not be supported. The underlying host of Docker will also be an ARM CPU.

[2017-01-18 15:51] dagood commented on #5276
Yeah, `00615-07` is just about as old as possible. Going for the most recent (say, `1.0.27-prerelease-01214-01`) should be fine. If there are any issues adopting it, making fixes to buildtools seems better than going back to an old version.

cc @dleeapho Maybe something that we could help with.

[2017-01-18 16:43] ektrah commented on #4746
Will `dotnet add package` be able to add `<DotNetCliToolReference` references to a project? If not, would it make sense to add `dotnet add tool` / `dotnet remove tool` / `dotnet list tools` commands?

[2017-01-18 16:47] krwq commented on #5278
this is happening after doing `git clean -fdx` and `build` and then building specific test projects. I've seen that on Windows machines and haven't tested any of the non-windows. I'll pull the latest and check if it still repros

[2017-01-18 16:48] fearthecowboy commented on #5338
Yes, @dsplaisted  it did have the `<Compile Include"**/*.cs" />` previously.  Initially removing that removed the conflict. (but when I removed the explicit one in my `.csproj` , visual studio stopped showing me source files)

Generally, I'd agree with you. Unfortunately, I **inherited** the aforementioned tool of the devil incarnate, and it's not built with msbuild in mind-given a folder, it recu

[2017-01-18 17:03] spboyer commented on #5213
@piotrpMSFT `dotnet new3 webapi`

[2017-01-18 17:11] jgoshi commented on #5343
This is a separate issue

[2017-01-18 17:52] blackdwarf commented on #4746
@ektrah not in this version. Your suggestion is something that has come up, and it is on our backlog.

[2017-01-18 17:54] vijayrkn commented on #5086
Yes, this issue should be fixed. This is the actual bug tracking the work needed for this - https://github.com/Microsoft/msbuild/issues/1345

[2017-01-18 17:59] mishra14 commented on #5296
PR: https://github.com/dotnet/cli/pull/5372

[2017-01-18 18:01] livarcocc commented on #5236
We can't. That's exactly what we are hitting and preventing us from taking a new NuGet right now. We need to fix the MSBuildSDKsPath problem during our build in order to do this.

[2017-01-18 18:29] livarcocc commented on #5341
@eerhardt @MattGertz I believe I understand this now. M.NC.App 1.0.0-rc2, which Matt was using before, was compatible with netstandard1.5. However, once we moved to 1.0.0, that is no longer the case.

Because we decided to update all packages to LTS, now that package is updated to 1.0.3, which is no longer compatible with netstandard1.5.

I am not sure what to do here. I am reticent to make migrat

[2017-01-18 18:37] livarcocc commented on #5319
@DustinCampbell Do you have any ideas on how to get around this?

[2017-01-18 18:45] DustinCampbell commented on #5319
Nope, and I actually think this is fine. I would expect it to be quite rare.

[2017-01-18 18:59] jgoshi commented on #5314
I'm going to do two things:
1. Don't create a new solution folder every folder in the hierarchy that already exists as solution folder. This is issue #5310
2. Do not create a solution folder for the folder containing the project.

[2017-01-18 19:12] gegagome commented on #5333
Thank you @piotrpMSFT

[2017-01-18 19:18] MattGertz commented on #5341
@livarcocc Thanks.  Please work with @blackdwarf  to document this, then punt.

[2017-01-18 19:41] nateb19866 commented on #5086
Yeah, I tried this with the latest SDKs, and it's working - thanks!

[2017-01-18 19:41] #5086 closed

[2017-01-18 19:51] blackdwarf commented on #4815
@dsplaisted @piotrpMSFT as discussed, the solution to this is to keep the commands separate because of added value that CLI commands bring on top of MSBuild. However, to avoid this situation we should have an error that will be shown to users if they pass in a `/t:<target>` or `/target:<target>` to point them to use `dotnet msbuild`, which is the right path for these scenarios.

[2017-01-18 20:24] nalla opened #5373 "Error when publishing an ASP.NET Core app (preview4)"
## Steps to reproduce
None. I ran `dotnet publish` on a private repo. Will try add then when I can reproduce with a public repo.

## Expected  behavior
The application gets published.

## Actual behavior
dotnet.exe fails with MSB error complaining that there is a missmatch between `SourceFiles` and `DestinationFiles`.

## Environment data
dotnet.exe preview4 (MSBuild based)

## Bug Hunt
While on t

[2017-01-18 20:28] dsplaisted commented on #4815
I've updated the bug title based on our discussion.

[2017-01-18 20:54] DustinCampbell opened #5375 "Provide guidance in VS 2015 about applying "sdk": "version" in global.json"
We should add guidance to help users when a newer .NET CLI is on the path that does not support project.json. I expect that project.json and I will be with us for a long while as not everyone will upgrade overnight.

Clearly, this would require servicing VS 2015 tooling which we likely wouldn't do just for this issue. However, if we *do* choose to service VS 2015 tooling, we should consider doing

[2017-01-18 20:58] peterblazejewicz commented on #5046
I hope it would not be too complicated and perplexing for users (`--framework` (`-f`/`--framework`), `--version`, `--core-version`, `--runtime`, `--list`, `--info`, `--sdk`). I would like to just be able to select current `dotnet` version a'la old-good dnvm, having option to use more then one runtime (`--current/--lts`). When doing Node based projects I could set version with `nvm` (ala `rvm` with

[2017-01-18 21:04] piotrpMSFT commented on #5373
@nalla 1.0.0-preview4-004233 is a fairly old build. Please upgrade to the latest [rc3] from the home page of this repo. If you still see issues, please open a new issue.

[2017-01-18 21:04] #5373 closed

[2017-01-18 21:05] piotrpMSFT commented on #5371
This is certainly something we want to enable, though we won't be able to get to it for 1.0.0.

[2017-01-18 21:07] piotrpMSFT commented on #5138
@mlorbetske @rrelyea I understand there are known issues in updating packages in ASP.NET projects. Can you guys take a look?

[2017-01-18 21:09] piotrpMSFT commented on #5375
Moved to asp.net/tooling repo which tracks VS 2015 tooling.

[2017-01-18 21:09] #5375 closed

[2017-01-18 21:14] danroth27 opened #5376 "Clarify build output when a build happens as part of another command"
The output of `dotnet build` tells you which projects are being built and their output:

[code]

In the context of a build, this makes sense. But sometimes you see the build output as part of another command, like pack, in which case it's not as clear what is going on:

[code]

It might be nice to say something like `Building <project> -> <output path>` to make the fact that this is build output c

[2017-01-18 21:19] piotrpMSFT commented on #4022
@rdghickman we had enabled msbuild tooling in CLI in preview3 [we've since shipped preview4 and are now working on rc3]. You can get the latest rc3 installer from the home page of this repo. You can run `dotnet migrate` from the root of your solution directory to move to the msbuild project system and try out the new project format + capabilities. Let us know if you see any issues!

@MelbourneDeve

[2017-01-18 21:19] #4022 closed

[2017-01-18 21:21] piotrpMSFT commented on #5376
Moved to SDK repo

[2017-01-18 21:21] #5376 closed

[2017-01-18 21:25] krwq commented on #5278
@piotrpMSFT still repros for me

[2017-01-18 21:25] piotrpMSFT commented on #3830
@sherlock1982 glad this isn't an issue with csproj projects. Since CLI is now moved over to MSBuild/csproj, the project.json repro is not something we are going to address. I'm therefore closing this issue. If you see problems with the current CLI [RC3, available from the home page of this repo] please let us know!

[2017-01-18 21:25] #3830 closed

[2017-01-18 21:27] piotrpMSFT commented on #3827
Moving this validation tracking issue to backlog. If we find there is still a problem here then let's move it to another milestone.

[2017-01-18 21:31] piotrpMSFT commented on #3800
I've tried repro'ing this on RC3 and did not see the same crash. Looks like it got resolved when we replaced project.json infrastructure with the new csproj infrastructure!

[2017-01-18 21:31] #3800 closed

[2017-01-18 21:32] piotrpMSFT commented on #3759
Ok, sounds like we have a workaround for project.json and no repro on current tooling. Closing the issue.

[2017-01-18 21:32] #3759 closed

[2017-01-18 21:36] piotrpMSFT commented on #3723
@dotnet/vstest this seems to still be an issue in the current `dotnet test` implementation. Can you open a tracking issue for this?

[2017-01-18 21:36] piotrpMSFT commented on #3661
Fixed in #5181

[2017-01-18 21:36] #3661 closed

[2017-01-18 21:49] piotrpMSFT commented on #3251
This was an issue with project.json publish. Publish is now natively implemented in msbuild, so there is no issue remaining to fix here.

[2017-01-18 21:49] #3251 closed

[2017-01-18 21:52] piotrpMSFT commented on #3082
If there is a repro, it would be atop the new csproj tooling and be disjoint from this original issue. Since you verified this is fixed after migration I'm closing this issue.

[2017-01-18 21:52] #3082 closed

[2017-01-18 21:53] piotrpMSFT commented on #2455
Looking closer, @mausch shared that this is still broken in `preview2` tooling which is project.json based and therefore affected. Current `rc3` tooling does not appear to repro this issue.

[2017-01-18 21:53] #2455 closed

[2017-01-18 21:54] piotrpMSFT commented on #2339
Rid Inference was removed with the move to msbuild.

[2017-01-18 21:54] #2339 closed

[2017-01-18 21:55] piotrpMSFT commented on #2278
since `dotnet test` was reimplemented as a wrapper on vstest.console, this approach to finding test runners is no longer in existence. Closing the issue.

[2017-01-18 21:55] #2278 closed

[2017-01-18 21:59] JonDouglas commented on #5373
@piotrpMSFT I also get a similar error when using VS 2017 RC(Which I believe invokes a different version of tooling). I've also tried downloading the most recent RC4 builds and can't get past the error defined above when publishing through VS 2017. Is there a way to work around this?

[2017-01-18 22:37] blackdwarf commented on #2295
This is now fixed with the new release feed.

[2017-01-18 22:37] #2295 closed

[2017-01-18 22:37] jgoshi opened #5378 "Migration: https://github.com/aspnet/Mvc"
1. Go to https://github.com/aspnet/Mvc
2. Download as zip
3. dotnet migrate mvc.sln
4. dotnet restore mvc.sln
5. dotnet build mvc.sln

There are many build errors and I haven't been able to track down the root causes yet.

[2017-01-18 22:46] blackdwarf commented on #2129
Moved to core-setup repo (dotnet/core-setup#669).

[2017-01-18 22:46] #2129 closed

[2017-01-18 22:47] blackdwarf commented on #2207
@livarcocc did we do this?

[2017-01-18 22:52] blackdwarf commented on #2373
This does not repro for me on PowerShell. The following command runs the app `dotnet ./bin/Debug/netcoreapp1.0/gjs.dll`.

[2017-01-18 22:52] #2373 closed

[2017-01-18 22:53] jgoshi opened #5379 "Migration: https://github.com/aspnet/MvcPrecompilation"
1. Go to https://github.com/aspnet/MvcPrecompilation
2. Download as zip
3. dotnet migrate TestApps.sln
4. dotnet restore TestApps.sln
5. dotnet build TestApps.sln

There are many build errors and I haven't been able to track down the root causes yet.

[2017-01-18 22:55] blackdwarf commented on #2395
This does not repro on the latest tooling. Will close. If it still repros on the latest from the rel/1.0.0, please reopen.

[2017-01-18 22:55] #2395 closed

[2017-01-18 22:59] jgoshi opened #5380 "Migration: https://github.com/aspnet/Scaffolding"
1. Go to https://github.com/aspnet/Scaffolding
2. Download as zip
3. dotnet migrate Scaffolding.sln
4. dotnet restore Scaffolding.sln
5. dotnet build Scaffolding.sln

For some reason I needed to manually insert a PackageDependency to System.Diagnostics.Contracts in test\Microsoft.VisualStudio.Web.CodeGeneration.Test.Sources. I don't know where this was coming from in the project.json build.

[2017-01-18 22:59] blackdwarf commented on #2562
Actually, this is fixed in the latest tooling, since it will specify what the user should do.

[2017-01-18 23:02] blackdwarf commented on #2625
This issue is not applicable to the new csproj based tooling.

[2017-01-18 23:02] #2625 closed

[2017-01-18 23:02] jgoshi opened #5381 "Migration: https://github.com/aspnet/SignalR"
1. Go to https://github.com/aspnet/SignalR
2. Download as zip
3. dotnet migrate signalR.sln
4. dotnet restore signalR.sln

There are a bunch of restore errors in ChatSample.csproj (but they don't seem to affect the build).

[2017-01-18 23:51] DustinCampbell opened #5382 "Request: Add dotnet command to show all installed versions of SDK"
Note: Should include x86 + x64 versions as well. Bonus points for showing which "dotnet" is the one being executed.

[2017-01-18 23:55] piotrpMSFT commented on #2221
The sub-components of CLI are not intended to be addressed directly. If you want to invoke CSC please do so via `dotnet build`.

[2017-01-18 23:55] #2221 closed

[2017-01-18 23:55] DustinCampbell opened #5383 "'dotnet add' with no arguments should probably show output of `dotnet add --help`"
This would be consistent with the behavior of `dotnet add package` and `dotnet add reference` when called with no other args.

## Steps to reproduce
[code]

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-rc4-004530)

Product Information:
 Version:            1.0.0-rc4-004530
 Commit SHA-1 hash:  4f0b7bd58c

Runti

[2017-01-18 23:55] piotrpMSFT commented on #2184
The `dotnet-test-xunit` runner no longer exists.

[2017-01-18 23:55] #2184 closed

[2017-01-18 23:59] DustinCampbell opened #5384 "'dotnet sln' with no arguments should probably show output of `dotnet sln --help`"
This would be consistent with the behavior of `dotnet sln add` and `dotnet sln remove` when called with no other args.

## Steps to reproduce
[code]

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-rc4-004530)

Product Information:
 Version:            1.0.0-rc4-004530
 Commit SHA-1 hash:  4f0b7bd58c

Runtime Envi

[2017-01-19 00:02] DustinCampbell opened #5385 "'dotnet new --info' crashes the CLI"
## Steps to reproduce
[code]

## Expected  behavior
Prints error message and doesn't crash

## Actual behavior
Crashes.

[code]

## Environment data
`dotnet --info` output:

[code]

[2017-01-19 00:04] piotrpMSFT commented on #1916
We don't have any planned future releases of project.json CLI, so closing this issue.

[2017-01-19 00:04] #1916 closed

[2017-01-19 00:04] DustinCampbell commented on #5259
I'm definitely all for this. I like @blackdwarf's suggestion and @dasMulli's refinement quite a bit.

[2017-01-19 00:05] piotrpMSFT commented on #1995
@dotnet/vstest I'm going to close this issue on CLI, but getting Code Coverage as a feature in the near future will be great :D

[2017-01-19 00:05] #1995 closed

[2017-01-19 00:07] piotrpMSFT commented on #2165
I've not seen repros of this since moving to MSBuild. Just failed to repro with 1.0.0-rc3. Let us know if you're seeing this on the new tools implementation by opening a new issue.

[2017-01-19 00:07] #2165 closed

[2017-01-19 00:10] DustinCampbell opened #5386 "dotnet add package should add PackageReference with Version attribute"
## Steps to reproduce
[code]

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

[2017-01-19 00:13] ryanbrandenburg commented on #5026
This does seem to work once converted to csproj/msbuild so sure, I'll close this out.

[2017-01-19 00:13] #5026 closed

[2017-01-19 00:13] piotrpMSFT commented on #5386
@rohit21agrawal can you fix this for RTM?

@rrelyea FYI

[2017-01-19 00:14] rohit21agrawal commented on #5386
tagging @mishra14  who wrote the original feature

[2017-01-19 00:14] piotrpMSFT commented on #5386
@rohit21agrawal thanks!

[2017-01-19 00:16] piotrpMSFT commented on #5385
@DustinCampbell for RTM we're replacing `new` with `new3`. I just validated that `new3` does not exhibit this failure [kudos, @mlorbetske!]

[2017-01-19 00:19] mishra14 commented on #5386
@piotrpMSFT @DustinCampbell This was blocked by https://github.com/Microsoft/msbuild/issues/1393 as [commented](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.CommandLine.XPlat/Utility/MSBuildAPIUtility.cs#L230)  in NuGet code.

[2017-01-19 00:19] DustinCampbell commented on #5385
Great! I didn't realize new3 hadn't moved over yet. Are there other commands that have not yet moved?

[2017-01-19 00:19] piotrpMSFT opened #5387 "Replace `dotnet new` with `dotnet new3`"
We can't ship with two templating engines :)

/cc @blackdwarf

[2017-01-19 00:20] piotrpMSFT commented on #5385
new3 is the last. Just opened #5387 to track!

[2017-01-19 00:21] piotrpMSFT commented on #5385
I'm closing this as dupe of #5387.

[2017-01-19 00:21] #5385 closed

[2017-01-19 00:22] rainersigwald commented on #5386
@mishra14 It shouldn't be blocked by that--the MSBuild issue would just provide some APIs to make it easier. Should just be a matter of taking the metadata you're already adding and flipping it to be an attribute.

[2017-01-19 00:23] DustinCampbell commented on #5385
Cool -- thanks!

[2017-01-19 00:24] DustinCampbell opened #5388 "'dotnet add package --info' incorrectly suggests adding multiple package references at once"
## Steps to reproduce
First, run `dotnet add package --help` and note that it offers the following help for `[args]`:

[code]

Next, try actually adding multiple references.

[code]

## Expected  behavior
Either it works or the `--help` doesn't suggest this.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

[2017-01-19 00:31] DustinCampbell opened #5389 "dotnet add package fails for package targeting portable profile with little guidance"
## Steps to reproduce
[code]

## Expected  behavior
Either adds PackageTargetFallback (probably a little too invasive) or provides guidance suggesting that the PackageTargetFallack be added. Right now, the user is left with google.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

[2017-01-19 01:07] Petermarcu commented on #5147
I assume no project file is required for someone to acquire a global tool. Many tools people want to deliver are not about projects. They are about debugging or reverse engineering already built assets.

[2017-01-19 01:20] noahfalk commented on #5147
We (the diagnostics folks) would love to use something like this to deliver some diagnostic tools we have in mind.

[2017-01-19 01:21] ramarag commented on #5162
builds over https://github.com/dotnet/sdk/issues/555

[2017-01-19 01:42] mishra14 commented on #5386
@piotrpMSFT : Spoke to @rrelyea, we are holding off till we get  ship room approval.

[2017-01-19 01:46] mishra14 commented on #5386
NuGet bug: https://github.com/NuGet/Home/issues/4325

[2017-01-19 05:51] gulshan commented on #5147
Can it be just `dotnet install` instead of `dotnet tools install`?

[2017-01-19 09:00] Antaris commented on #4965
@piotrpMSFT This problem seems to have disappeared now I am using `1.0.0-preview5-004275`, closing.

[2017-01-19 09:00] #4965 closed

[2017-01-19 09:06] duncanawoods commented on #5334
@piotrpMSFT I heard the 2017 RC can break 2015 so had to create a VM... anyway have a bald yak now.

* I do not see separate CLI tools at your link so I have only used the VS2017 install
* I have to use "dotnet build -v:n" to see the difference between a build & rebuild on the CLI
* I still see the casing issue when just changing the path case in powershell
* In VS2017 something seems wrong - ther

[2017-01-19 09:11] duncanawoods commented on #5334
Ok just seen you wanted me to install the CLI tools from this repo. I have just tried this but the installer fails with this error:

    0x80070001 - Incorrect function

[2017-01-19 09:13] piotrpMSFT commented on #2052
dupe of #5387

[2017-01-19 09:13] #2052 closed

[2017-01-19 09:15] piotrpMSFT commented on #2143
If wanting to use the muxer that spawned the current CLR, please use the [muxer](https://github.com/dotnet/cli/blob/9ad164a9dd9bf52f40b5aac415d7666bffbfd009/src/Microsoft.DotNet.Cli.Utils/Muxer.cs#L23) class to retrieve that paht.

[2017-01-19 09:15] #2143 closed

[2017-01-19 09:17] piotrpMSFT commented on #1693
As we approach RTW we'll need to ensure CLI has a pretty version [1.0.0!]

[2017-01-19 09:18] piotrpMSFT commented on #1935
If this is still an issue, it should be tracked in core-setup.

[2017-01-19 09:18] #1935 closed

[2017-01-19 09:18] duncanawoods commented on #5334
[error.txt](https://github.com/dotnet/cli/files/716119/error.txt)

[2017-01-19 09:19] piotrpMSFT commented on #2179
@schellap I'm closing this issue. If still necessary, please reopen in core-setup.

[2017-01-19 09:19] #2179 closed

[2017-01-19 09:21] piotrpMSFT commented on #2252
Fixed in VS Test Console [the back-end for preview4+ `dotnet test`]

[2017-01-19 09:21] #2252 closed

[2017-01-19 09:21] piotrpMSFT commented on #2265
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:21] #2265 closed

[2017-01-19 09:23] piotrpMSFT commented on #2492
If this is still needed, please reopen in core-setup @schellap.

[2017-01-19 09:23] #2492 closed

[2017-01-19 09:24] piotrpMSFT commented on #2390
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:24] #2390 closed

[2017-01-19 09:26] piotrpMSFT commented on #2385
@PeterVenable thanks for the context. As your version number and the callstack above suggest, this was an issue in the `project.json` back-end. The issue got resolved when we moved to MSBuild in preview3. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:27] piotrpMSFT commented on #2291
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:27] #2291 closed

[2017-01-19 09:27] piotrpMSFT commented on #2287
@schellap if this is still needed, please re-open in core-setup!

[2017-01-19 09:27] #2287 closed

[2017-01-19 09:29] piotrpMSFT commented on #2502
@schellap if this is still necessary then please re-open in core-setup!

[2017-01-19 09:29] #2502 closed

[2017-01-19 09:29] piotrpMSFT commented on #2509
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:29] #2509 closed

[2017-01-19 09:31] piotrpMSFT commented on #2668
Since installig both is supported already, closing this issue.

[2017-01-19 09:31] #2668 closed

[2017-01-19 09:34] piotrpMSFT commented on #2637
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:34] #2637 closed

[2017-01-19 09:34] piotrpMSFT commented on #2616
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:34] #2616 closed

[2017-01-19 09:36] piotrpMSFT commented on #2570
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:36] #2570 closed

[2017-01-19 09:37] piotrpMSFT commented on #2561
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

VS no longer invokes MSI to get the error list.

[2017-01-19 09:37] #2561 closed

[2017-01-19 09:37] piotrpMSFT commented on #2564
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:37] #2564 closed

[2017-01-19 09:38] piotrpMSFT commented on #2555
Fixed in RC3

[2017-01-19 09:38] #2555 closed

[2017-01-19 09:38] piotrpMSFT commented on #2551
This is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 09:38] #2551 closed

[2017-01-19 10:00] lewislabs commented on #5371
👍 thanks for the information @piotrpMSFT

[2017-01-19 10:51] AndyCJ commented on #2902
It looks like the return to the MSBuild approach will be available in VS2017, and only VS2017.

https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/

[2017-01-19 11:08] mausch commented on #2455
This still seems to be an issue with `preview3`:

[code]

[code]

[code]

[2017-01-19 12:35] velyo commented on #4759
We still expreiencing same problem on asp.net core application targetting net462.
Here is our .csproj file

[code]

When publishing from VS 2017 RC we got next error:
DestinationFiles" refers to 1 item(s), and "SourceFiles" refers to 2 item(s). They must have the same number of items.

Running dotnet publish with verbose diagnostic gave this problem highlighted

[code]

There is gets clear that wh

[2017-01-19 12:39] velyo commented on #5086
We still expreiencing same problem on asp.net core application targetting net462.
Here is our .csproj file

[code]

When publishing from VS 2017 RC we got next error:
DestinationFiles" refers to 1 item(s), and "SourceFiles" refers to 2 item(s). They must have the same number of items.

Running `dotnet publish` with verbose diagnostic, on `1.0.0-preview5-004262`, gave this problem highlighted

[cod

[2017-01-19 13:40] thegame8714 opened #5392 "dotnet migrate command not installed on Mac"
## Steps to reproduce
I've downloaded the .NET Core SDK installer from this link https://www.microsoft.com/net/core#macos
and I've followed the process. All good, no error.

## Expected  behavior
I'm expecting the dotnet migrate command to run normally

## Actual behavior
When I try to run the command ``dotnet migrate``  I receive the following error
``No executable found matching command "dotnet-

[2017-01-19 13:45] gortok commented on #2578
If you update `Microsoft.NETCore.App` to 1.1.0 (via Nuget), it removes the following:

[code]

and replaces it with this:

[code]

To resolve this issue, put the `type` and `version` properties back in and make the dependency an object instead of a string.

[2017-01-19 14:08] blackdwarf commented on #2751
Is this still an issue now that we have moved to MSBuild?

[2017-01-19 14:08] DustinCampbell commented on #5392
The problem is that the dotnet migrate command is only in more recent builds of recent builds of the .NET CLI. 'preview2' builds only support project.json and don't have the migrate command. If you want to try the latest and greatest, you can install a recent build from the front page of this repo (or directly from [here](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-osx-

[2017-01-19 14:47] blackdwarf commented on #2739
Given the thread and the solutions presented, as well as lack of activity I will close this issue.

[2017-01-19 14:47] #2739 closed

[2017-01-19 14:50] blackdwarf commented on #2752
This is fixed in the latest, MSBuild-based tooling. Invoking `dotnet test` in an empty directory does not throw and you can pass in a path to the project to run tests from which works. Closing the issue,

[2017-01-19 14:50] #2752 closed

[2017-01-19 14:50] thegame8714 commented on #5392
Thank you very much, it did work fine

[2017-01-19 15:08] blackdwarf commented on #2763
With the introduction of MSBuild, I believe this is not a problem anymore. @BillHiebert can you confirm?

[2017-01-19 15:10] Neutrino-Sunset commented on #4251
I don't understand what's going on here.

"Razor compilation is attempting to use the same refs to compile the view at runtime as the ones that the application used."

This suggests that there are two separate sets of dependencies.
1. The application's dependencies.
2. The dependencies used by Razor to compile the view.

But isn't the code compiling the view contained in the Microsoft.AspNetCore a

[2017-01-19 15:18] blackdwarf commented on #2836
This is a project.json-specific issue. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 15:18] #2836 closed

[2017-01-19 15:29] blackdwarf commented on #2884
This is not reproing in the latest tooling. You will now get an error (or many of them) saying that you didn't restore for that particular RID. I will move this out to 2.0 milestone to track it for changing the error potentially.

[2017-01-19 16:10] blackdwarf commented on #5392
Since this is the solution, closing the issue.

[2017-01-19 16:11] #5392 closed

[2017-01-19 16:16] joelharkes commented on #3187
I even run into this if I manually create dependency tree with a nodjs app. And build dependencies in parallel with dotnet build --no-dependency I wonder if the dotnet build process quits before fileshare flags are set properly?
I'll try adding some hard delays inside my node script/cli tool, and see if this prevents it.

(Had to build it because I want to build and run multiple startup projects)

[2017-01-19 16:18] blackdwarf commented on #2910
This does not repro in the latest msbuild-based tooling. An appropriate error is thrown that there are illegal characters in the path. Closing.

[2017-01-19 16:18] #2910 closed

[2017-01-19 16:23] blackdwarf commented on #2780
This does not repro for me in either of the following (using the Preview 4 tooling):

* PowerShell
* CMD
* iTerm2
* Default terminal on the Mac

Therefore, closing this. If it repros again, please reopen.

[2017-01-19 16:23] #2780 closed

[2017-01-19 16:26] blackdwarf commented on #2887
I'm pretty sure that this issue is not longer valid in the new world of MSBuild-based tooling. If it is, the most likely home for this issue is not the CLI but rather the dotnet/sdk repo.

@victorhurdugaci can you please install the latest RC of VS2017, install the .NET Core tools and see if this repros?

[2017-01-19 16:33] joeloff commented on #3201
@avinashl3175 The URLs are accessible. Do you have any AV software like McCaffee or Kaspersky installed? AV software can sometimes block requests. We've seen a few instances of that reported. Firewall settings can also interfere.

[2017-01-19 16:41] tmds commented on #2727
@blackdwarf will it be possible to target the linux-x64 rid in 2.0?

[2017-01-19 16:42] blackdwarf commented on #2911
With the move to MSBuild, the way data files are copied during build is governed by their behavior. I've opened a new issue on their repo (Microsoft/msbuild#1586) to track this. Will close this one. Thanks!

[2017-01-19 16:42] #2911 closed

[2017-01-19 16:47] blackdwarf commented on #2921
@schellap can you weigh in on the difference between `dotnet run` and self-contained case? Is that expected?

[2017-01-19 17:02] blackdwarf commented on #2727
@tmds we are working on our Linux story all-up for 2.0, so I would like to use this issue on the CLI part to track it. The actual mechanics of targeting are TBD at this point.

[2017-01-19 17:03] blackdwarf commented on #2925
I believe that this has been fixed in the latest tooling. Also, this is a project.json-specific bug. We don't have plans to ship additional project.json updates now that we've transitioned to msbuild. Closing the issue, therefore.

[2017-01-19 17:03] #2925 closed

[2017-01-19 17:07] blackdwarf commented on #2963
This has been fixed in the latest tooling. Closing.

[2017-01-19 17:07] #2963 closed

[2017-01-19 17:15] blackdwarf commented on #2964
So, in the latest tooling we will throw an error if the RID is not in the project file because the assets file will not contain the proper bits to wire them all up. However, adding a fictional RID to the project and then restoring and publishing works. However, we need a different issue to track this and I've created dotnet/sdk#690 to track the discussion of this work.

Will close this one.

[2017-01-19 17:15] #2964 closed

[2017-01-19 17:17] blackdwarf commented on #3117
I believe that this is a known issue for EF tools. @bricelam can you comment?

[2017-01-19 17:22] pranavkm commented on #4251
@Neutrino-Sunset - the two set of dependencies are

- Reference assemblies used to compile the application
- Binaries that are used to run the application.

If your application targets net451, it'll compile against the net451 reference assemblies. At runtime, it might end up using the net462 assemblies if that's installed on the machine since net451 -> net462 is an in-place upgrade. Razor compilat

[2017-01-19 17:25] blackdwarf commented on #3172
This issue does not apply anymore, as the syntax is completely different in csproj world, so closing.

[2017-01-19 17:25] #3172 closed

[2017-01-19 17:28] blackdwarf commented on #3656
With the move to MSBuild, this validation should be done in the targets. I've created dotnet/sdk#690 to track this work/discussion. Will close this one.

[2017-01-19 17:28] #3656 closed

[2017-01-19 17:40] blackdwarf commented on #4131
@svick can you try to repro this with the latest tooling?

[2017-01-19 17:50] #4908 closed

[2017-01-19 17:51] blackdwarf commented on #4854
@leecow @omajid do we need to add this for RTM?

[2017-01-19 17:56] vijayrkn commented on #4759
@velyo This issue is fixed - https://github.com/Microsoft/msbuild/issues/1345. To get the fix, you will have to wait for the next VS update if you trying publishing from inside VS.

[2017-01-19 17:59] blackdwarf commented on #4844
For me, with the latest tooling, the restore does not give out an error, but `dotnet publish -r ubuntu.16.10-x64` does not publish anything that looks like it is Linux-specific.

@ericstj is this RID valid? Do we have packages for it up on Nuget?

[2017-01-19 18:01] leecow commented on #4854
@blackdwarf yes, let's make sure it's added to whichever file makes the most sense.

[2017-01-19 18:05] blackdwarf commented on #4768
I think we backed away from this plan if I'm not mistaken. @DamianEdwards @mlorbetske can you comment?

[2017-01-19 18:12] GuardRex commented on #4996
This was a bad UE for me. I had a single TF, then added one without knowing about the singular-plural situation. The exception coming back ...
[code]
... is incredibly **unhelpful**. Although the phrase "only accepts a scalar value" makes perfect sense now, it's not easy to grok the problem from that.

[2017-01-19 18:33] blackdwarf commented on #2682
Is this fixed @schellap ?

[2017-01-19 19:05] #2753 closed

[2017-01-19 19:06] livarcocc commented on #2719
you can now use dotnet vstest to run tests on a dll directly.

@codito @Faizan2304 for more information.

[2017-01-19 19:06] #2719 closed

[2017-01-19 19:07] livarcocc commented on #2712
This is now supported across the verbs.

[2017-01-19 19:07] #2712 closed

[2017-01-19 19:19] JonDouglas commented on #5373
I can confirm that > `1.0.0-preview4-004233` solves this issue locally, unfortunately Azure is on that build and fails to publish:

[code]

[2017-01-19 19:24] blackdwarf commented on #2720
@krwq can you try to repro this with the latest tooling?

[2017-01-19 19:39] ericstj commented on #4844
@blackdwarf : it's in 1.1.0

https://github.com/dotnet/corefx/blob/release/1.1.0/pkg/Microsoft.NETCore.Platforms/runtime.json#L324
https://github.com/dotnet/corefx/commit/cb217c066c93e331059f0273f816074faf3f456c
/cc @mellinoe

[2017-01-19 19:40] livarcocc commented on #5304
We are already respecting the projects in global.json, when you do dotnet migrate global.json.

I will double check that we do that for dotnet migrate solution.sln.

We have a separate bug tracking running dotnet migrate in folder migrated the appropriate artifact.

[2017-01-19 20:40] blackdwarf commented on #4844
@ericstj ah, you're right. 16.10 was added for Current, not LTS. For me retargeting the application to `netcoreapp1.1` solves the problem. I will close this issue now since the solution is pretty clear. @simonech please reopen if you run into the same problem with `netcoreapp1.1`.

Thanks @ericstj!

[2017-01-19 20:40] #4844 closed

[2017-01-19 20:41] nalla opened #5397 "Documentation file is not being published"
## Steps to reproduce
    mkdir test ; cd test
    dotnet.exe new
    dotnet.exe restore
    vi test.csproj

Add the following line to the property group

    <DocumentationFile>bin\$(Configuration)\$(TargetFramework)\$(AssemblyName).xml</DocumentationFile>

Then run

    dotnet.exe build
    # check bin directory for XML file
    dotnet.exe publish
    # check publish directory for XML file

## E

[2017-01-19 20:50] livarcocc commented on #5397
Please, move this to the dotnet/sdk repo.

[2017-01-19 20:54] livarcocc commented on #2968
So, using the NuGet.Config above, restore runs without a problem.

Modifying the contents for it to be actually malformed, like removing the closing tag in an xml element, gives me this:

[code]

[2017-01-19 20:54] #2968 closed

[2017-01-19 21:19] gmartinezsan commented on #5113
@piotroko hi,  all our projects are xproj. I will try the nobuild switch and let you know if that solves the issue. Thanks!

[2017-01-19 21:47] livarcocc commented on #4851
@blackdwarf @jgoshi Can we talk to see if this is indeed the right solution? Should we really fail even if migration is able to continue?

[2017-01-19 22:09] jonsequitur commented on #4851
I think this depends on why there's a csproj there, e.g. is the csproj the result of a migration or is it something that was created by the user, e.g. to have different projects using the same source files.

[2017-01-19 22:19] jgoshi commented on #4851
Without knowing the intent, what should migration do? The current behavior is migration succeeds and just skips migrating the file. Is that ok? It could lead to subtle errors because the user will think their project.json file got migrated even when it didn't.

[2017-01-19 22:24] bricelam commented on #3117
The world has changed a lot with the switch to MSBuild. See aspnet/EntityFramework#7358 for instructions on using the latest bits. If you can't get things working there, please let us know.

[2017-01-19 22:29] NTaylorMullen commented on #2968
@livarcocc nice, must have been fixed 😄

[2017-01-19 22:39] jonsequitur commented on #4851
@blackdwarf @livarcocc @jgoshi I think an explicit error is clearer here in absence of an ability to infer intent, perhaps with a prompt that allows the user to specify that they'd like migration to continue and skip this project.

[2017-01-19 22:48] blackdwarf commented on #4851
I would say an error would be preferable for me. With a good error, the solution is a trivial `mv myoldproj.csproj myoldproj.backup && dotnet migrate`.

[2017-01-19 22:58] DustinCampbell opened #5400 "'dotnet migrate' should not delete 'project.json' file if it is to be copied to output"
This is really very low-pri, but I encountered a customer project where the project.json file copied itself to the output on build like so:

[code]

On migration, this results in the .csproj containing a reference to the project.json, but the project.json is missing because it was moved to the backup folder. I don't *think* this is a common pattern, so this should probably get a "won't fix", but I

[2017-01-19 23:00] brianrob commented on #2751
Not sure if this is already the case with MSBuild.  @jaredpar?

[2017-01-19 23:04] jgoshi commented on #4851
Sounds good. I'll go with the error message approach.

[2017-01-19 23:09] blackdwarf commented on #4851
Hate to rain on a parade, but do we have that error message?

[2017-01-19 23:09] jgoshi commented on #4851
I was going to use what Peter suggested above. You mean do we have a localized message? No, but can't I add one for RTM?

[2017-01-19 23:10] blackdwarf commented on #4851
Nope. Is this something that is blocking people and that can live with an English error message? Or is this something that we can release note and fix in RTM+?

[2017-01-19 23:11] jgoshi commented on #4851
We also have another problem with this approach that I'm not sure what to do...

Say we migrate and 1 project successfully migrated but the other didn't because of this error. Then when I rename that one project and try to run migration again the first one (that succeeded the first time) will have this error message. The reason is we don't move project.json files to backup directory unless all pro

[2017-01-19 23:12] blackdwarf commented on #4851
Ungh.

[2017-01-19 23:18] jaredpar commented on #2751
The move to MSBuild means the infrastructure for managing the server essentially comes for free.  There is still a bit of work to do to fully flesh out the prototype and package it.  In particular I'm unclear how CLI lays out MSBuild bits including the Roslyn binaries.  That is important as we will likely ship a different implementation of the server for CoreClr than we do for desktop.  Today I be

[2017-01-19 23:20] blackdwarf commented on #2751
@jaredpar thanks for the info. Since a lot more work remains, I imagine that this is not a 1.0.0 feature?

[2017-01-19 23:21] jaredpar commented on #2751
@blackdwarf 1.0.0 for which product?  CLI?

[2017-01-19 23:23] blackdwarf commented on #2751
@jaredpar yes, Core tools.

[2017-01-19 23:38] jgoshi commented on #4851
Here's a couple of options.
1. If we detect a project.json and a csproj with our output name at the start of migration, then rename their csproj file and run migration. If we already migrated the file as part of migrating dependencies, etc. then skip it. This means that in the case of a failed migration. Then running it a second time will cause us to re-migrate everything again (including projects

[2017-01-19 23:39] balachir opened #5401 "Run 'dotnet migrate' fails on a machine that has both VS 2015 and VS 2017 installed - No executable found matching command "dotnet-migrate""
## Steps to reproduce

1. Using a SxS machine VS 2015 U3 with .NET Core 1.0.1 Tooling x VS 2017 RC.3 (d15rel.26118.01)
       - 2 versions of CLI  are installed : 1.0.0-preview2-003131 and 1.0.0-rc3-004517
2. git clone https://github.com/balaTest/ProjectKTestProjects
3. cd Dev14_K101/Tooling202/AspNetCoreWebApp_OnCore_Empty_1
4. dotnet migrate

## Actual behavior
dotnet migrate fails

![image](htt

[2017-01-19 23:53] blackdwarf commented on #4851
I like the #1 the most, but we also need strings for that: you have to tell the user you moved her cheese around. SQL Server has the same thing when upon upgrading the DB (e.g. when attaching SQL2005 DB to a SQL2008 instance) it will rename certain objects that cause conflicts to a GUID. However, it gives you a very detailed report after that.

Do we have something like that in the migration? A fi

[2017-01-20 00:12] #5099 closed

[2017-01-20 00:39] jgoshi commented on #4851
Look at this file:
src\dotnet\commands\dotnet-migrate\MigrateCommand.cs in the function GetProjectReportSuccessContent. Looks like we are not localizing the strings in the migration report saying success. So, it should be fine to write out that we moved projects and not localize that part too.

I guess I should move all those strings to LocalizableStrings.cs anyway for whenever is the next time we

[2017-01-20 00:57] 717009629 commented on #5271
When I update sdk  to 1.0.0-rc4-004553, it is  OK ,thank you

[2017-01-20 00:57] #5271 closed

[2017-01-20 01:01] jonsequitur commented on #4851
Maybe the file should be renamed to its original migration date so people can correlate outputs to successive migration attempts?

[2017-01-20 02:36] livarcocc commented on #5401
The issue here is that the project has a global.json in it that has the skd version set to preview2. So, after you clone it and run dotnet migrate, the host is invoke the preview2 CLI which does not contain a migrate verb.

The fix here is to go ahead and delete the global.json and then run dotnet migrate.

[2017-01-20 02:36] #5401 closed

[2017-01-20 04:25] blackdwarf commented on #2762
@DamianEdwards is this still a problem in the latest tooling (MSBuild-based)?

[2017-01-20 04:31] blackdwarf commented on #2815
The same search now returns only test assets. Also, I'm pretty sure that whatever defines there are in the tools in MSBuild-based world, they would be in the SDK. Closing this and opening dotnet/sdk#694 to track it, if it is valid. Thanks!

[2017-01-20 04:31] #2815 closed

[2017-01-20 04:35] piotrpMSFT commented on #3500
This is fixed in the new `dotnet new`. You can preview it as `dotnet new3` and for RTM it will be renamed to `dotnet new`.

[2017-01-20 04:35] #3500 closed

[2017-01-20 04:36] #3440 closed

[2017-01-20 04:37] piotrpMSFT commented on #3416
looks like this should have been closed 6 mths ago :D

[2017-01-20 04:37] #3416 closed

[2017-01-20 04:38] piotrpMSFT commented on #3409
globbing is no longer accepted as an input to CLI commands. Instead, if wanting to act on multiple projects then a sln file should be used.

[2017-01-20 04:38] #3409 closed

[2017-01-20 04:38] blackdwarf commented on #2823
In the MSBuild-based world, the `projects` setting in global.json doesn't really have any semantics. Closing this.

[2017-01-20 04:38] #2823 closed

[2017-01-20 04:39] #5304 closed

[2017-01-20 04:44] #2888 closed

[2017-01-20 05:08] piotrpMSFT commented on #3396
Good news :)

I just tried this with CLI RC3 bits and successfully added Humanizer to a project. Caveats, of course, but solvable by Humanizer itself!

Details:
CLI 1.0.0-rc4-004536

- `dotnet new`
- manually add `<PackageTargetFallback>$(PackageTargetFallback);portable-net45+win8+wp8+wpa81</PackageTargetFallback>` to the csproj file. This is because Humanizer 2.0.1 is a PCL-style nupkg. I checked

[2017-01-20 05:09] piotrpMSFT commented on #3396
@karelz I would not be doing any new work atop project.json at this time...

[2017-01-20 05:09] #3396 closed

[2017-01-20 05:10] piotrpMSFT commented on #3392
`dotnet build` atop msbuild no longer accepts globs. Instead, we're using sln files to allow coorinating actions atop multiple projects.

[2017-01-20 05:10] #3392 closed

[2017-01-20 05:16] blackdwarf commented on #3381
This is fixed in the latest tooling. Just tried it and build did not throw this error. Will close, please reopen if it repros on the latest tooling.

[2017-01-20 05:16] #3381 closed

[2017-01-20 05:17] piotrpMSFT commented on #2859
The message is improved in RC3:

[code]

I think it would be better if we recommended Exe as the appropriate OutputType. Unfortunately, strings have been sent out for localization so we cannot make the change in 1.0.

/cc @blackdwarf

[2017-01-20 05:20] blackdwarf commented on #3062
Moved to dotnet/core-setup#1229, since the installer is generated there. Closing this one.

[2017-01-20 05:20] #3062 closed

[2017-01-20 05:21] piotrpMSFT commented on #2847
This issue was created with the project.json infrastructure and doesn't appear to repro in recent rc3 bits. If someone sees this repro atop rc3 or another build that supports csproj please open a new issue... ideally with a repro.

[2017-01-20 05:21] #2847 closed

[2017-01-20 05:21] piotrpMSFT commented on #2765
Closing. This was a bug in the PJ-based build command which is now removed.

[2017-01-20 05:21] #2765 closed

[2017-01-20 05:23] blackdwarf commented on #2926
The root cause of the issue has been solved. If we want to have better behavior with imports, as @livarcocc said we should create an issue on NuGet/Home and have a discussion there.

[2017-01-20 05:23] #2926 closed

[2017-01-20 05:24] piotrpMSFT commented on #2763
This doesn't seem to repro any longer in CLI [rc3]. Furthermore, VS now interacts with these commands through direct MSBuild invocations, making the multi-line output far less important for providing a great UX.

[2017-01-20 05:24] #2763 closed

[2017-01-20 05:26] piotrpMSFT commented on #2720
This was an issue in the project.json-based pack command. Now that CLI is using xplat nuget client, if this is still an issue for anyone then please open in nuget/home.

[2017-01-20 05:26] #2720 closed

[2017-01-20 05:28] piotrpMSFT commented on #2676
This is now fixed, since Pack is driven by csproj file which can easily include parametarized properties.

[2017-01-20 05:28] #2676 closed

[2017-01-20 05:29] piotrpMSFT commented on #2714
With preview3+, you can `restore --packages {path to packages dir}` and subsequent commands will find the right folder based on the packages directory path written to project.assets.json by restore!

[2017-01-20 05:30] blackdwarf commented on #4481
@nicolasr75 I will assume that this worked since MSbuild's `<Content>` is tried and true so will therefore close this issue. :) If you run into problems or it doesn't work, please reopen.

[2017-01-20 05:30] #4481 closed

[2017-01-20 05:34] blackdwarf commented on #4331
Moved to Nuget/Home#4339.

[2017-01-20 05:34] #4331 closed

[2017-01-20 05:44] blackdwarf commented on #3419
It would be good to test this with Preview3 and above tooling or provide us with a minimal repro, because I have a feeling that this issue is solved with MSBuild.

[2017-01-20 05:47] #3419 closed

[2017-01-20 05:50] blackdwarf commented on #4534
Is this fixed in the latest? We have the ability to pass in arbitrary MSBuild properties now using `/p:<param>:<value>`.

[2017-01-20 05:50] blackdwarf commented on #3773
Unfortunately, we are locked down with strings for 1.0.0. We will take a look at this post v1 and solve it then.

[2017-01-20 05:55] blackdwarf commented on #4826
We are closed down for strings, unfortunately, so will have to move it to post v1.

[2017-01-20 05:56] nalla commented on #5397
Closed in favor of dotnet/sdk#695

[2017-01-20 05:56] #5397 closed

[2017-01-20 06:01] blackdwarf commented on #4996
I guess the suggestion here is to add a better error message? If so, this should be tracked in dotnet/sdk, since that is where the errors for this would come from.

[2017-01-20 06:06] blackdwarf commented on #4992
Moving this to SDK (dotnet/sdk#696). Closing this one.

[2017-01-20 06:06] #4992 closed

[2017-01-20 06:07] blackdwarf commented on #4909
Actually, this was wrong assumption on my part. We cannot do the "0 inodes" because there is a valid case of creating a project next to an existing project.

Regardless, the `new3` command (which will become `new` at 1.0.0) already fails for a full template if the directory is not empty. This solves this issue. Closing. Please reopen if this repros with `new3` in the latest bits.

[2017-01-20 06:07] #4909 closed

[2017-01-20 06:15] blackdwarf commented on #2914
This is project.json specific issue. In MSBuild-based tools, we are beholden to whatever MSBuild does with the globs. If this issue is to be raised in that case as well, I guess it should be raised directly to MSBuild on Microsoft/MSBuild. Will close this one therefore.

[2017-01-20 06:15] #2914 closed

[2017-01-20 06:16] blackdwarf commented on #2922
@GuardRex does this apply to the MSBuild-based tooling?

[2017-01-20 06:18] GuardRex commented on #2922
@blackdwarf I'll test it right now and get back to you shortly.

[2017-01-20 06:26] blackdwarf commented on #2922
Thanks much! :)

Thanks,
Z
________________________________
From: Luke Latham <notifications@github.com>
Sent: Thursday, January 19, 2017 10:18:35 PM
To: dotnet/cli
Cc: Zlatko Knezevic; Mention
Subject: Re: [dotnet/cli] buildOptions>platform bitness mismatch with self-contained publish RID will compile/publish but will fail to run (#2922)

@blackdwarf<https://na01.safelinks.protection.outlook.com/

[2017-01-20 06:31] GuardRex commented on #2922
@blackdwarf Yes, it's still there with MSBuild. The setup is like this ...

[code]
It will compile without any indication of a problem using `dotnet publish -r win10-x64` ...

![capture](https://cloud.githubusercontent.com/assets/1622880/22138730/b364e37c-dea7-11e6-95ac-70a6d0de0a77.PNG)
When you try to run the app, it :boom: with ...
[code]

[2017-01-20 06:55] MartinJohns commented on #4996
My suggestion is to remove the distinction. Why have two element names for a single purpose? It just adds unnecessary complexity.

[2017-01-20 06:57] GuardRex commented on #4996
I was rather perplexed why it wasn't called `<TargetFrameworks>` right from day one. I imagine it's an artifact from ancient times.

[2017-01-20 07:01] davkean commented on #4996
Ignoring the name confusion, let's imagine we remove the concept of "TargetFramework", what condition would you write to have an item (say a package or project reference) only apply to a single framework?

[2017-01-20 07:19] livarcocc commented on #4534
@blackdwarf No, this needs us to change the APIs so that it supports passing arbitrary msbuild parameters to the tool.

We need to figure out the format that we are going to use for that when invoking the tool.

We are not going to get to this for RTM and I think the change at this point would be someone big.

[2017-01-20 07:21] piotrpMSFT commented on #2714
I reread the issue and realized I offered a workaround instead of a fix. Will open an issue on nuget/home instead, link to this one, and then close this one. It is up to nuget xplat to honor this configuration.

[2017-01-20 07:24] #2714 closed

[2017-01-20 07:25] piotrpMSFT opened #5402 "dotnet new3 --help results in NullRef"
## Steps to reproduce
`dotnet new3 --help`

## Expected  behavior
Help dialog

## Actual behavior
[code]

## Environment data
.NET Command Line Tools (1.0.0-rc4-004536)

Product Information:
 Version:            1.0.0-rc4-004536
 Commit SHA-1 hash:  f297144c48

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.11-x64

[2017-01-20 07:28] piotrpMSFT commented on #2501
@citizenmatt is tracking this issue offline with the @dotnet/vstest team. Closing the CLI issue as it is inactive. @citizenmatt if I'm missunderstanding the status please comment and I will help.

[2017-01-20 07:28] #2501 closed

[2017-01-20 07:30] piotrpMSFT commented on #2754
The CoreFx issue is still open, so moving this out of RTM.

[2017-01-20 07:31] piotrpMSFT commented on #2759
there are no planned future updates to project.json/xproj support.

[2017-01-20 07:31] #2759 closed

[2017-01-20 07:32] piotrpMSFT commented on #2817
This was an issue with the project.json-based `dotnet test`. We're not seeing this anymore since moving to csproj/vstest implementation.

[2017-01-20 07:32] #2817 closed

[2017-01-20 07:33] piotrpMSFT commented on #2523
Moving out of RTM as the NuGet issue is still open.

[2017-01-20 07:34] piotrpMSFT commented on #2682
The host fix is in, so closing.

[2017-01-20 07:34] #2682 closed

[2017-01-20 07:36] piotrpMSFT commented on #2840
`dotnet test` should not make assumptions about availability of TFMs on given platforms. This can be worked around by passing `-f` for whatever TFMs are desired.

[2017-01-20 07:36] #2840 closed

[2017-01-20 07:37] #2827 closed

[2017-01-20 07:39] piotrpMSFT commented on #2882
@rrelyea @srivatsn is this something that should be addressed in NuGet or in SDK?

[2017-01-20 07:40] piotrpMSFT commented on #2902
As @masaeedu suggested, this issue will not be fixed. We have no further releases planned for project.json-based CLI.

[2017-01-20 07:40] #2902 closed

[2017-01-20 07:44] piotrpMSFT commented on #2922
Moved to SDK repo as that will be the right place to fix.

[2017-01-20 07:44] #2922 closed

[2017-01-20 07:44] piotrpMSFT commented on #2952
@leecow is this still planned for 1.0.0?

[2017-01-20 07:47] piotrpMSFT commented on #2953
Moved to core-setup

[2017-01-20 07:47] #2953 closed

[2017-01-20 07:49] piotrpMSFT commented on #2976
Just tried atop rc3 bits and found this no longer repros for:

[code]

[2017-01-20 07:49] #2976 closed

[2017-01-20 07:52] piotrpMSFT commented on #3164
This is fixed in csproj. OutputType can be conditioned on TargetFramework.

[2017-01-20 07:52] #3164 closed

[2017-01-20 07:52] piotrpMSFT commented on #3166
Closing as we have no further planned releases of xproj/project.json tooling.

[2017-01-20 07:52] #3166 closed

[2017-01-20 07:54] velyo commented on #4759
@vijayrkn Thanks, Vijay. I'll do check for updates then.
Any chance it is coming early with donet core sdk/cli release?
Which I can use outside VS and get going with my publish.

[2017-01-20 07:59] piotrpMSFT commented on #3505
Moved to https://github.com/Microsoft/vstest/issues/367

[2017-01-20 07:59] #3505 closed

[2017-01-20 08:01] piotrpMSFT commented on #3733
Moving to 2.0.0 when channels become a priority again during the development cycle.

[2017-01-20 08:03] piotrpMSFT commented on #4067
@pvlakshm will this make RTM?

[2017-01-20 08:07] piotrpMSFT commented on #4292
@KevinRansom @enricosada this needs to be fixed in the F# SDK. Can you create a bug in an appropriate repo?

[2017-01-20 08:09] #4432 closed

[2017-01-20 08:09] piotrpMSFT commented on #4514
https://github.com/dotnet/cli/issues/4432 was related.

[2017-01-20 08:11] piotrpMSFT commented on #4514
@krwq, I discussed this with @mlorbetske and @nguerrera and we think this is what needs to happen:
- Force `dotnet build` to generate an app.config for the target project using a property. @nguerrera can provide the right property.
- Extract Binding Redirects from the generated config file
- If the tool did not carry an app.config, create one
- In the app.config [created or carried by the tool] ad

[2017-01-20 08:12] piotrpMSFT commented on #4628
@livarcocc thoughts?

[2017-01-20 08:14] piotrpMSFT commented on #4684
@livarcocc weren't you looking at this?

[2017-01-20 08:16] piotrpMSFT commented on #4708
@pvlakshm do we expect this to land for 1.0.0-rtm?

[2017-01-20 08:17] piotrpMSFT commented on #4746
@blackdwarf @rrelyea do we expect `list packages` to land for 1.0.0 rtm?

[2017-01-20 08:18] #4748 closed

[2017-01-20 08:19] #4768 closed

[2017-01-20 08:33] piotrpMSFT commented on #4786
@frankbuckley thanks for the repro. I just PR'd it with latest csproj file reductions to enable using latest CLI.

I did see a file-in-use issue, but it was nicely handled as a warning:

[code]

@frankbuckley @DustinCampbell this seems like a good experience to me. Great would be 'no file in use' but I don't believe that is achievable for 1.0.0.

Any concern with this being closed?

[2017-01-20 08:35] piotrpMSFT commented on #4786
I should add, after the warning [and retry] the build did flow through to completion without intervention.

[2017-01-20 08:35] piotrpMSFT commented on #4815
thanks!

[2017-01-20 08:48] piotrpMSFT commented on #5334
what a useful~less~ error message and log we produced...

by chance was insaller running from a non-elevated process?

[2017-01-20 08:48] piotrpMSFT commented on #5325
ping @rrelyea

[2017-01-20 08:54] piotrpMSFT commented on #5325
I opened a tracking issue in nuget/home. I agree with @rrelyea that being able to detect that the cache is already primed would be a nice UX improvement. I hope we can get an appropriate API in time.

[2017-01-20 08:56] duncanawoods commented on #5334
It was run in normal conditions on a fresh VM. Just ran again with "run as administrator", same result.

[2017-01-20 10:26] frankbuckley commented on #4786
@piotrpMSFT @DustinCampbell - thanks for looking at this. Sorry to say I am still seeing errors.

I have just applied your PR, checked out, downloaded and installed 1.0.0-rc4-004578 and I am still seeing CS2012 errors:

https://github.com/frankbuckley/dotnetbuildcs2012repro/tree/master/Results

    PS D:\frankdev\dotnetbuildcs2012repro> dotnet --info
    .NET Command Line Tools (1.0.0-rc4-004578)

[2017-01-20 11:09] avinashl3175 commented on #3201
@joeloff  : Yes , I am using McCaffee with proxy and firewall settings since i am working in corporate network environment.
I found one solution. I took all installation files as offline in other system then i installed manually.

We can refer below link to create an offline installer,

[](https://msdn.microsoft.com/en-us/library/mt706497.aspx)

[2017-01-20 11:47] rubens-senday commented on #4760
thanks three nine

Update Nuget Packages worked for me too.

[2017-01-20 12:10] cedrox commented on #4522
I tried a visual studio repair but don't work...

[2017-01-20 13:58] enricforn opened #5404 "The item "Class1.cs" was specified more than once in the "Sources" parameter. Duplicate items are not supported by the "Sources" parameter."
## Steps to reproduce

Clone repo https://github.com/enricforn/dotnetcore-webapi-sample-app.git

Use dotnetcore sdk version 1.0.0-rc4-004530

run dotnet restore

run dotnet build -v:n

## Expected  behavior

Compilation successful

## Actual behavior

Runs successfully on Visual Studio 2017RC environment Build 26020.00

Fails compiling in command line.
         C:\Program Files\dotnet\sdk\1.0.0-rc

[2017-01-20 14:15] Neutrino-Sunset commented on #4251
1) This is an ASP.Net Core (.Net Core) application. Therefore it is ASP.Net Core running on Dotnet Core. No Dotnet Framework. There should not be any Dotnet Framework involvement. Why would Dotnet Framework be involved at all? If ASP.Net Core did indeed have runtime dependence on the Dotnet Framework then how could it be cross platform?

2) The reference assembly behaviour you describe solves to t

[2017-01-20 14:44] NickCraver commented on #3773
FWIW, I just tried to explain this to someone...and I couldn't. They could not understand how things relate and how to correlate their `--version` to the website. I agree this really needs to change. People don't develop in the .NET tooling, the .NET runtime, and the .NET SDKs. This is a migration painpoint because users have gone from:

to

CLI: ________
SDK: _________
Runtime: _________

Basical

[2017-01-20 14:54] frankbuckley commented on #4786
@piotrpMSFT @DustinCampbell - just for fun I have tried the following on 2 VMs:

- Install SDK 1.0.0-rc4-004578
- git clone https://github.com/frankbuckley/dotnetbuildcs2012repro.git
- cd .\dotnetbuildcs2012repro\
- .\build.ps1 (a few times)

**VM1 is Azure Standard DS2 v2 (2 cores, 7 GB memory)**

Results: https://raw.githubusercontent.com/frankbuckley/dotnetbuildcs2012repro/master/Results/output

[2017-01-20 16:04] blackdwarf commented on #164
@piotrpMSFT @nguerrera what is the status of this?

[2017-01-20 16:07] blackdwarf commented on #4851
@jonsequitur I would say that the following would be a decent scheme: `<original_name>-moved-ddmmyyyy.<ext>`. Thoughts?

@livarcocc @nguerrera take a look at @jgoshi question above. I don't think we can add anymore strings anywhere, right?