[2017-09-15 14:22] sporty81 commented on #6237
How about on any build or publish you just automatically create a "*.bat*", "*.ps1*" or some other file that does the "dotnet myfile.dll".

It could even be named **myfile.exe.ps1**

On publish if you wanted to auto-create a Linux flavored one, you could do that too.

[2017-09-15 17:05] livarcocc commented on #7661
This issue was moved to dotnet/templating#1240

[2017-09-15 17:05] #7661 closed

[2017-09-15 17:08] livarcocc commented on #2440
Now, you actually get an error message during restore that M.NC.App is not compatible with the netstandard TFM.

[2017-09-15 17:08] #2440 closed

[2017-09-15 19:45] steveharter commented on #7247
I was able to repro the issue. It works with integrated VSCode console, fails with raw console or external console. However, my error is a bit different:
[code]

[2017-09-15 19:56] steveharter commented on #7247
@janvorli what do you suggest in terms of additional debugging from CLR side? Is there a way to enable diagnostics to see additional information on assembly loading failure (location, version)? Thanks

[2017-09-15 19:57] janvorli commented on #7247
@steveharter the "A device attached to the system is not functioning" could lead us to figure out the culprit. Could you please run it under `dtruss`? Like `sudo dtruss dotnet ./AvalonStudio.dll` That should show syscalls it was making and that means also file open requests. The error makes me think that we might be accessing some weird code path.

[2017-09-15 20:09] janvorli commented on #7247
You can also try to set the COREHOST_TRACE env var to 1 and see what it dumps.

[2017-09-15 20:58] wli3 opened #7667 "Separate the logic of including extra GeneratedInstallers from Package step"
This step is required for Publish target, however, Publish should not depends on Package. So the logic should be separated.

https://github.com/dotnet/cli/blob/c266e398cf55df0667b76b3afc7930b6caeeace9/build/package/Installer.MSI.targets#L47

[code]

Should be separated

[2017-09-15 21:01] wli3 commented on #7667
after that, https://github.com/dotnet/cli/pull/7666, can be reverted

[2017-09-15 21:03] livarcocc commented on #7247
@DustinCampbell since it works in vscode, he may be able to tell us if there is anything different there.

[2017-09-15 21:15] DustinCampbell commented on #7247
@danwalmsley: Could you set `"omnisharp.loggingLevel": "trace"` option in VS Code provide and the OmniSharp Log?

[2017-09-15 21:20] DustinCampbell commented on #7247
Adding @gregg-miskelly since this is really about running under the VS Code debugger (where it works). @danwalmsley: You can disregard my request above.

[2017-09-15 22:21] steveharter commented on #7247
Here's the dtrace output [dtraceoutput.txt](https://github.com/dotnet/cli/files/1307823/dtraceoutput.txt). Nothing special about the System.Text.Encoding.Extensions assembly there that I saw.

The method that is failing [System.Xml.XmlTextReaderImpl.DetectEncoding()](https://github.com/dotnet/corefx/blob/a27929935d2782cdc3e7be21653e8c4530274c6f/src/System.Private.Xml/src/System/Xml/Core/XmlTextRea

[2017-09-15 22:31] #5639 closed

[2017-09-15 22:48] fir3pho3nixx opened #7669 "Could not load file or assembly 'Microsoft.VisualStudio.TestPlatform.ObjectModel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies for net461"
I keep getting the assembly binding error for net461:

System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.VisualStudio.TestPlatform.ObjectModel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

It passes OK for netstandard2.0 test target library using netstandard2.0(target lib)/netco

[2017-09-15 22:59] livarcocc commented on #7669
This issue was moved to Microsoft/vstest#1099

[2017-09-15 22:59] #7669 closed

[2017-09-15 23:12] fir3pho3nixx commented on #7669
We now have 2 issues in the vstest project, can you close yours?

[2017-09-15 23:27] billpratt commented on #6178
@FelschR

The microsoft/aspnetcore-build:1.0-1.1 docker image "fixed" this by adding the SDK in the dotnet path.

[2017-09-15 23:30] fir3pho3nixx commented on #7669
https://github.com/nunit/nunit3-vs-adapter/issues/388

[2017-09-15 23:31] mairaw commented on #7631
The updates are now live at https://www.microsoft.com/net/core#linuxfedora

[2017-09-15 23:32] billpratt commented on #6178
@livarcocc @dazhao-msft @eerhardt Can we please have an update on this? Even a "we are working on it.." would be helpful. More and more people are coming to this issue as well as the [closed PR](6180) that would have fixed it.

[2017-09-15 23:43] FelschR commented on #6178
For all those trying to get the docker image (`microsoft/aspnetcore-build`) working see:
https://github.com/aspnet/aspnet-docker/issues/299

Apparently there is also a `microsoft/aspnetcore-build:1.0-2.0` image that comes with the Microsoft.Docker.Sdk.

Finally my build is working again thanks to @natemcmaster who provided that solution.

[2017-09-16 01:25] dsplaisted opened #7670 "Provide a way to have a single reference which brings in both libraries and tools"
Right now, `PackageReference` items are generally for NuGet packages that have libraries, and `DotNetCliToolReference` items are used for CLI tools which can be invoked with `dotnet <toolname>`.

For some scenarios, there are both libraries to be referenced as well as tools that should be added to the project (for example, Entity Framework provides libraries, but could also provide tools for EF mi

[2017-09-16 09:21] AhmedHussainy opened #7671 "Unable to create a dotnet project in debian x64 - Kali linux 2017.1"
## Steps to reproduce
dotnet new console  -o example --lang c#

## Expected  behavior
making a console application in the current directory.

## Actual behavior
## first time it showed me this ...
Getting ready...
Segmentation fault

## second time it showed me this...

[code]

## Environment data
`dotnet --info` output:
[code]

[2017-09-16 12:11] ibrahimbensalah commented on #7592
same issue here

[2017-09-16 12:37] ernestobarros opened #7672 "C:\Program Files\dotnet\sdk\2.1.0-preview1-007209\NuGet.targets(102,5): error : 'W8' is not a valid version string."
It's failing for all versions of dotnet sdk
Tried different dotnet sdk's
Tried: dotnet nuget locals -c all

## Steps to reproduce
dotnet new console -o SimpleApp

## Expected  behavior

## Actual behavior
The template "Console Application" was created successfully.

Processing post-creation actions...
Running 'dotnet restore' on SimpleApp\SimpleApp.csproj...
C:\Program Files\dotnet\sdk\2.1.0-previ

[2017-09-16 14:58] tarurar commented on #6225
@esquivalient thanks, it solved my issue )

[2017-09-16 15:08] gregg-miskelly commented on #7247
If you want to get a dtrace while running under the debugger -- there is no way to directly spawn the process both under dtrace and under the debugger at the same time. If dtrace supports attach you could try pausing the process at startup (ex: hitting a breakpoint), going to a separate command window and attaching with dtrace, and then continuing. All the debugger will be doing is running the equ

[2017-09-16 16:52] drake7707 commented on #6043
Would be great because dotnet doesn't run on armv6 while mono does.

[2017-09-16 20:46] anavarro9731 commented on #7556
I have the same issue. Works on my dev machine but fails on VSTS Build.
C:\Program Files\dotnet\sdk\2.0.0\Roslyn\Microsoft.CSharp.Core.targets(84,5): error MSB6006: "C:\Program Files\dotnet\sdk\2.0.0\Roslyn\RunCsc.cmd" exited with code -2146232797. [D:\a\1\s\XXXXXXX.csproj]
    0 Warning(s)
    1 Error(s)
Time Elapsed 00:00:43.52

[2017-09-17 10:58] xumingxiang commented on #7169
遇到同样的问题，删除之前安装的.nuget目录即可：
 rm -rf ~/.nuget
然后在 dotnet restore

[2017-09-17 12:00] dasMulli commented on #6043
@drake7707 this issue is about extending the `dotnet` based tooling to use the mono runtime, which can't be used on systems that the `dotnet` cli doesn't run on..
You can still call `mono myapp.dll` on these systems, which should work as long as the app only uses API surface that is available in both netcoreapp and mono.

Additional notice: The CLI uses whatever the project evaluates for `$(RunCom

[2017-09-17 12:05] dasMulli commented on #7592
`jspm_packages` is explicitly excluded in the web sdk [here](https://github.com/aspnet/websdk/blob/c4d0ae7e2a897870c82b9ee289e2046fb0876fce/src/ProjectSystem/Microsoft.NET.Sdk.Web.ProjectSystem.Targets/netstandard1.0/Microsoft.NET.Sdk.Web.ProjectSystem.props#L16), so the folder is likely missing due to being named `jspm_packages` and not just because of the underscore..

To include the folder, you

[2017-09-17 12:47] damageboy opened #7673 "Can't specify bitness when running dotnet test with nunit"
## Steps to reproduce
Run dotnet test on a assembly with nunit:
[code]

## Expected  behavior
Be able to specify bitness (x64 / x86)

## Actual behavior
Always runs on x86 in Windows by default

## Environment data
`dotnet --info` output:

[code]

[2017-09-17 13:00] ernestobarros commented on #7672
FIXED

removed the following key

[HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Control\Session Manager\Environment]
"VERSION"="W8"

[2017-09-17 13:00] #7672 closed

[2017-09-17 15:27] dasMulli commented on #7673
When you type `where dotnet` in the console, which path to `dotnet.exe` do you get? If you use the 32bit version in `Program Files (x86)`, then you can't run 64 bit tests and vice versa.

[2017-09-18 02:03] rhyek commented on #5918
I'm giving ASP.NET MVC Core a try and I personally use `dotnet watch run`. Every time I make the smallest change in code, for example a letter in a `string` somewhere, I hit save and it's a minimum of 6s for the app to be up again.

It's been a tedious development experience so far.

[2017-09-18 04:11] NightOwl888 commented on #1201
And what about tests that don't fail in Visual Studio but fail when running dotnet test? How do we debug those?

[2017-09-18 04:46] r03 commented on #5918
Is it possible that building is faster on Linux than on MacOS? I have a new laptop and use Linux now. Building seems a lot faster. But I also have more mem/cpu so it is hard to compare. If you have slow builds maybe also mention os/mem/cpu/disk here? Maybe also the number of files in the project ?

[2017-09-18 07:04] tmds commented on #6043
Should mono have a different TFM than .NET Core? e.g. `dotnet run -f mono50`

[2017-09-18 07:38] dasMulli commented on #6043
There's a NuGet issue for creating a `mono` TFM: https://github.com/NuGet/Home/issues/2320

I believe the overall scenario is blocked on https://github.com/dotnet/sdk/issues/335 but if this is ever implemented (targeting pack NuGets, mono ref assembly resolving, …) then this will be a needed feature or handled by the SDK targets transparently.

In the meantime `msbuild /t:Build,Run /p:TargetFramew

[2017-09-18 11:52] #6852 closed

[2017-09-18 12:48] lampersky commented on #6812
I have tried to compare what is the difference between "dotnet msbuild" and "msbuild" itself.
Bacause Microsoft says that both commands have the exact same capabilities.
[https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-msbuild](url)

![dotnet msbuild](https://user-images.githubusercontent.com/6403130/30542091-3f9a5e64-9c7e-11e7-8ed6-62996fa28931.JPG)

I was playing a bit with debugging "

[2017-09-18 13:57] pms1969 commented on #7495
looks like it might be a duplicate of https://github.com/dotnet/cli/issues/6178

[2017-09-18 14:11] steveharter commented on #7247
@Gregg-Miskelly I took the dtrace outside the debugger which is the failure case. Since there was nothing out of place in the dtrace log for the failing assembly, I don't plan on running dtrace under the debugger. Thanks.

[2017-09-18 14:13] janvorli commented on #7247
@steveharter have you also tried my second suggestion - set the COREHOST_TRACE env var to 1 and see what the dotnet command dumps when you try to run the failing app?

[2017-09-18 14:16] TheAngryByrd commented on #6043
A while back I made a tool `dotnet-mono` for running mono apps.  https://github.com/TheAngryByrd/dotnet-mono

[2017-09-18 14:55] zelliott commented on #4062
Is there a way to edit the `DefaultItemExcludes` so that only a handful of the modules in `node_modules` are included?

[2017-09-18 16:57] livarcocc commented on #7671
Do other commands work? How did you install the CLI?

@seancpeters @mlorbetske can you take a look?

[2017-09-18 17:04] steveharter commented on #7247
@janvorli  yes I ran with COREHOST_TRACE=1 with nothing obvious. Note also danwalmsley linked his output earlier in this issue.

Also I compared the tail end of the trace output with the output from running within the integrated terminal (success case) and didn't see any differences except for the exception. Here's the tail end:
[code]

[2017-09-18 17:04] livarcocc commented on #7673
There is no --TargetPlatform option for dotnet test. Am I missing something? Did you mean `/p:TargetPlatform=x64`?

[2017-09-18 17:05] steveharter commented on #7247
Going forward, I'll attempt a simple repro on the box trying to trigger\reference the failing assembly. If that doesn't lead to anything, I will likely do a local build of coreclr and debug that.

[2017-09-18 17:19] livarcocc commented on #7574
@emgarten is this something that you can help with?

[2017-09-18 17:28] janvorli commented on #7247
I have just realized that the error message has nothing to do with a device not being functioning. It is the generic ERROR_GEN_FAILURE that is reported when something fails and there is no suitable error code for that. There are just a few places where we generate such a code. We can ignore majority of those that are generated during PAL initialization and so there seem to be only two places left.

[2017-09-18 17:35] dasMulli commented on #4062
@zelliott haven't looked at it in detail but I guess these packages will pull in a lot of dependencies and tracing them all down would be hard..

Any folder or file that is not yet part of the project can still be imported manually (using `Include="…"` instead of `Update="…"`):

[code]

[2017-09-18 17:52] wli3 commented on #7673
[code]

is the count as a repo of this issue

![image](https://user-images.githubusercontent.com/6993335/30556347-5efee938-9c5f-11e7-87be-e86fc135bde1.png)

[2017-09-18 18:08] steveharter commented on #7247
@danwalmsley, where is the logged stored?

[2017-09-18 18:20] emgarten commented on #7574
This can happen if all packages exist in a fallback folder. Try disabling the `RestoreAdditionalProjectFallbackFolders` property from the SDK.

For `error FS0078` check the project.assets.json file, the `packageFolders` property contains the folders that NuGet uses for packages. Do one of those folders contain netstandard.dll and is it shown in the targets section?

[2017-09-18 18:45] d223chen opened #7675 "error: Value cannot be null. error: Parameter name: projectUniqueName"
## Steps to reproduce
`dotnet add package WindowsAzure.Storage --version 1.7.0`

## Expected  behavior
Some success message indicating that the package has been added as a reference to the *.csproj file in the current working directory.

## Actual behavior
Microsoft (R) Build Engine version 15.1.1012.6693
Copyright (C) Microsoft Corporation. All rights reserved.

  Writing C:\Users\dchen\AppData\L

[2017-09-18 18:49] johnbeisner commented on #6344
On April 17, 2017 this statement was true:
"to use https://dot.net/v1/dotnet-install.ps1 and it works with released versions but I was not be able to use one of the other channels"

However, the scripts at the aforementioned location have been updated recently and are working as expected. Be advised that the channels: "Preview" and "Future" are no longer supported.

[2017-09-18 18:49] #6344 closed

[2017-09-18 19:21] livarcocc commented on #7675
@wli3 can you check if this has been addressed in the 2.0 SDK?

[2017-09-18 19:34] livarcocc commented on #7427
Can you please try with the 2.0.0 CLI and if it still reproes, please, re-activate?

[2017-09-18 19:34] #7427 closed

[2017-09-18 19:37] livarcocc commented on #7345
Fixed in 2.0.0.

[2017-09-18 19:37] #7345 closed

[2017-09-18 19:38] steveharter commented on #7247
Success!

@janvorli with the custom coreclr, the error was indeed at the third location you thought it would be (FILEGetLastErrorFromErrno) and was returning:
[code]
I then ran from within my test console:
[code]
to bump the max number of open files from 256 to 512, which resulted in the success case of the AvalonStudio window in opening.

[2017-09-18 19:38] steveharter commented on #7247
Next steps? Add a release note? Make a call to `setrlimit` to increase the limit programmatically?

[2017-09-18 20:29] janvorli commented on #7247
@steveharter Great!
One of the next steps should be to fix the error translation so that it returns ERROR_TOO_MANY_OPEN_FILES for the errno 24 instead of ERROR_GEN_FAILURE.
I would also try to investigate to make sure we don't have a bug that would cause not closing some specific files correctly and leaving unnecessarily many files open.
As for setrlimit for file descriptors, we are actually calli

[2017-09-18 22:44] moozzyk opened #7677 "System.ArgumentOutOfRangeException thrown if verbosity has an incorrect value"
## Steps to reproduce
I used `debug` instead `d` for `-v` and instead of error saying that the used verbosity is not valid I got this:
[code]
## Expected  behavior
A meaningful error message

## Actual behavior
ArgumentOutOfRangeException

## Environment data
`dotnet --info` output:

[code]

[2017-09-19 00:12] janvorli commented on #7247
I've looked into the `rlimit` stuff. Although we call `setrlimit` and pass in the `rlim_max` that we get from `getrlimit`, the `setrlimit` with that value fails. In the PAL initialization, we consider this just a soft error and only report something to the PAL debug channel in debug builds of coreclr. So in our case here, nothing happens and the limit is not set.
The reason for that failure is act

[2017-09-19 00:38] janvorli commented on #7247
@anwalmsley could you please check if e.g. it `ulimit -S -n 10000` fixes the issue for you? That would confirm that it is really the same issue as @steveharter has reproduced.

[2017-09-19 03:22] ManfredLange commented on #5457
@ViktorHofer same issue here but using msbuild instead is not an option as it runs into a different set of problems in a solution of 50+ projects with assembly targeting either netstandard2.0 or net461. Some suggestion say use "dotnet build" instead of msbuild, some source suggest the opposite. Problem is none of the two works reliably. Running any of them against a solution file doesn't work at a

[2017-09-19 04:43] randomizedthinking commented on #7677
Just encountered the same issue today on dotnet SDK `2.0.0`.

[2017-09-19 04:52] randomizedthinking opened #7678 "dotnet: failed to create a F# project on Debian with SDK 2.0.0"
## Steps to reproduce

    dotnet new console -lang F#

## Expected  behavior

A F# project is created.

## Actual behavior

The following error is received.

    The template "Console Application" was created successfully.

    Processing post-creation actions...
    Running 'dotnet restore' on /home/xxx/fsharp/fsharp.fsproj...
      Restoring packages for /home/xxx/fsharp/fsharp.fsproj...

    R

[2017-09-19 06:25] lantrix commented on #3951
@urbanhusky I've also found the same in [.NET Core 1.0](https://github.com/dotnet/core/blob/master/release-notes/download-archive.md#net-core-10).

I migrated from `1.0.2 with SDK Preview 2 build 3148` to the latest full release `1.0.5 with SDK 1.0.4` and the `--output` also changed from relative to current path to the project path.

@mairaw will those commits you did on dotnet/docs#3042 also appl

[2017-09-19 07:48] mairaw commented on #3951
that's the change I made @lantrix. But if that's not correct, I'm happy to review that PR. I'm still waiting for review on that one from either @livarcocc or @nguerrera.

[2017-09-19 08:41] AhmedHussainy commented on #7671
all commands of dotnet new give the same result ....
but for dotnet --info  or version
it's working fine. I followed the official [doc from Microsoft in installing it on debian](https://www.microsoft.com/net/core#linuxdebian) ...

[2017-09-19 10:00] svick commented on #7678
Does it print a more specific error message?

[2017-09-19 10:43] QuantumHive commented on #6812
@lampersky nice work on finding out that there are missing files in the SDK!
@livarcocc any official confirmation from the team?

[2017-09-19 13:50] damageboy commented on #7673
I'm not sure I'm understanding this whole thing properly, but I guess the real question is: Are there common configuration switches / parameters shared by all unit test adapters in the dotnet-cli world?

Or is this something that has to get dealt with by every adapter separately?

The [vstest documentation](https://github.com/Microsoft/vstest-docs/blob/master/docs/configure.md#overview) seems to s

[2017-09-19 14:23] ShalokShalom commented on #3913
I am also interested.

[2017-09-19 15:12] TomasHubelbauer commented on #7585
Sorry, this did not end up working out after all. I am not receiving `CSC : warning CS2038: Language code cs in invalid`.

In my `<project>.AssemblyInfo.cs` file I have Czech generated comments. :-( The CLI is in English though…

Really hope there is a straightforward way to just switch everything to English and ignore the system language, because I sometimes have to work on a machine with Home ed

[2017-09-19 15:19] TomasHubelbauer commented on #7585
Might this help when adjusted for .NET Core paths?

[Change compiler errors language in Visual Studio 2013](https://stackoverflow.com/a/22529794/2715716)

[2017-09-19 15:34] TomasHubelbauer commented on #7585
And it stayed that way for exactly one compiler invocation. Deleted `1029` afterwards to no avail. It's in Czech again.

[2017-09-19 15:57] randomizedthinking commented on #7678
With any further options, the command emits no real useful information. Attached is the output when the option `-v detail` is set. One message caught my eyes is:

    Project file contains ToolsVersion="". This toolset may be unknown or missing, in which case you may be able to resolve this by installing the appropriate version of MSBuild, or the build may have been forced to a particular ToolsVer

[2017-09-19 15:58] livarcocc commented on #7585
cc @nguerrera

[2017-09-19 16:00] livarcocc commented on #7678
It seems to me like a crash is happening, because the logs seem to be interrupted. @steveharter can you take a look? How can we investigate if a crash is indeed happening?

[2017-09-19 16:07] randomizedthinking commented on #7678
I have two machines both Debian. Just tried, the same problem happened on both of them.

[2017-09-19 16:28] livarcocc commented on #7678
Are they both Debian 9? Do you have a debian 8 machine to try this at?

[2017-09-19 17:22] vanthao commented on #6186
I faced the same issue. I have a .net core web project and two others .net framework library. I can build and run the application using VS2017. But when I run the command  "C:\Program Files\dotnet\dotnet.exe" publish BRSWebHTML5.sln --configuration Release --output C:\temp\builds this command will build all three projects and publish the files to a folder. But I always get the errors that some dll

[2017-09-19 17:31] nguerrera commented on #7585
@TomasHubelbauer How are you invoking the compilation: `msbuild` or `dotnet build`?

[2017-09-19 17:42] TomasHubelbauer commented on #7585
@nguerrera `dotnet watch run`

[2017-09-19 17:46] wli3 commented on #7675
No repo in 2.0 SDK
![image](https://user-images.githubusercontent.com/6993335/30606789-bdf8885e-9d27-11e7-8276-80aa66f0c76e.png)

[2017-09-19 17:46] #7675 closed

[2017-09-19 18:17] mikkelbu commented on #7677
I think this will be solved by #7636

[2017-09-19 20:03] wli3 commented on #7677
Yes, this issue is fixed

[2017-09-19 20:03] #7677 closed

[2017-09-19 20:09] wli3 commented on #7673
dotnet cli does not have a standard way today. Things after -- is pass-through to vstest.

[2017-09-19 20:23] wli3 commented on #7671
Looks like this distro is based on Debian 7 and we don't have native installer for it. (We support Debian 8, and 9)

You can try using the tar.gz file

[2017-09-19 20:25] wli3 commented on #7671
Instruction is here
https://www.microsoft.com/net/download/linux

![image](https://user-images.githubusercontent.com/6993335/30613722-fb039692-9d3d-11e7-9435-29c1caa72bb5.png)

[2017-09-19 20:50] dasMulli commented on #3951
I made a last-minute PR (https://github.com/dotnet/cli/pull/7166) but that was too late to get into 2.* so it will have to wait for a major version increment to introduce this now breaking change..

[2017-09-19 22:19] randomizedthinking commented on #7678
Both of machines are Debian 9... sorry that I don't have a Debian 8 to test.

[2017-09-19 22:56] rogersachan commented on #3913
I don't think it's going to come back unless somebody pull requests it back in

[2017-09-19 23:58] nguerrera commented on #7532
By default, VS (and dotnet run) will just use the dotnet.exe that comes first on your PATH to run the application. If that is the x64 version of dotnet.exe, then you will not be able to debug x86 apps, and vice versa.

However, you can override the default run command. I suggest the following approach:

1. Install both the x86 and x64 .NET Core 2.0 SDKs from https://www.microsoft.com/net/download/

[2017-09-20 03:10] ahdung opened #7680 "dotnet x.dll get "An assembly specified in the application dependencies manifest""
![_20170920105746](https://user-images.githubusercontent.com/12094247/30624948-d81c8bba-9df2-11e7-8753-d2510ea56b9a.png)

## Environment and Description
- pc B installed dotnet core 2.0 runtime win64, os is windows server 2008 r2 x64 with SP1
- pc A use VS2017 write a asp.net core 2.0 project, and published to a dir, with `<PublishWithAspNetCoreTargetManifest>true</PublishWithAspNetCoreTargetManif

[2017-09-20 07:32] KellyR-STCU opened #7681 "dotnet pack does not produce nupkg for webapi project"
## Steps to reproduce
dotnet new webapi
dotnet pack

## Expected  behavior
nupkg should be generated for project

## Actual behavior
nupkg is not generated for project

## Environment data
`dotnet --info` output:

.NET Command Line Tools (2.0.0)

Product Information:
 Version:            2.0.0
 Commit SHA-1 hash:  cdcd1928c9

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15063
 OS

[2017-09-20 07:44] dasMulli commented on #7681
Duplicate of https://github.com/dotnet/cli/issues/7539 ?

[2017-09-20 08:44] ShalokShalom commented on #3913
Means there is some fundamental support for both, C# and F# missing in .Net Core and it is still meant to replace both, .Net and Mono?

[2017-09-20 09:32] codec-abc commented on #3913
What bothers me most is that the last comment before closing the issue is rather vague: "There is not a timeline for REPL commands at this time."

At this time, could mean that they are thinking about it and a REPL may be added in the (near) future or that there is no intent to implement this feature and it probably never come. I don't blame Microsoft for not implementing it (a REPL is clearly not

[2017-09-20 11:11] RheaAyase commented on #7631
We (the Fedora dotnet sig) were pointing the issue out on Slack and in our meetings, to have the website fixed for 4 months or so. Had given up.

@mikeharder please use our packages, not the Microsoft ones. Ours run on all versions of Fedora and may contain additional fixes for Fedora. http://copr.fedoraloves.net

@mairaw it should really say "Fedora 26 **and higher**" or something... Or on the ot

[2017-09-20 12:41] philcontrolf1 commented on #7495
@pms1969 Yep, definitely a duplicate.

[2017-09-20 14:12] badavid85 commented on #6178
Just to summarize the steps I had to perform to make it work on Windows and Linux (Ubuntu):

1. Copy the _Microsoft.Docker.Sdk_ folder from _C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Sdks_ (**Only** the Sdk subfolder. **Do not** copy _build_ and _tools_ subfolders).
2. Then paste it on _C:\Program Files\dotnet\sdk\2.0.0\Sdks_ on Windows and _/usr/share/dotnet/sdk/2.0

[2017-09-20 14:31] AhmedHussainy commented on #7671
is there a more simplified example for doing this.... like steps .... do 1 then 2 etc...

[2017-09-20 17:31] livarcocc commented on #7671
I wonder if this is related to this other issue: https://github.com/dotnet/core/issues/973.

Can you try doing `export DOTNET_CLI_TELEMETRY_OPTOUT=1` and seeing if that will fix the problem for you?

[2017-09-20 17:35] livarcocc commented on #7631
@RheaAyase I am sorry, I am not part of your meetings and I don't see messages about it in the dotnet-cli slack channel. Where should we be looking for these communications?

[2017-09-20 17:36] legomushroom commented on #1161
@blackdwarf the page has no the instructions anymore :/

[2017-09-20 17:37] livarcocc commented on #7681
Yep.

Please, file an issue at aspnet/websdk

@mlorbetske @vijayrkn

[2017-09-20 18:12] guardrex opened #7682 "dotnet store command failure"
## Steps to reproduce

Follow our topic sample for `dotnet store` at:

https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-store:

[code]
[code]
## Expected  behavior

Works ... it was working at the time I wrote the topic, but that may have been during pre-release. The cheese has apparently moved since then.

## Actual behavior

Breaks ...

![capture10](https://user-images.githubuserco

[2017-09-20 18:21] dasMulli commented on #7681
Btw this originated from gitter - @KellyR-STCU wanted to use the nuget for octopus deploy instead of the `dotnet publish` + `octo pack` that they recommend.

[2017-09-20 18:23] guardrex commented on #7682
Wrong framework ... `netcoreapp2.0` is required. Thanks @dasMulli!

[2017-09-20 18:23] #7682 closed

[2017-09-20 18:47] danpere opened #7683 "ctrl-c on `dotnet build` doesn't always stop build"
## Steps to reproduce
1. Run `dotnet build`.
2. Wait for version information notice to appear:
[code]
3. Hit `ctrl`+`c`.

## Expected  behavior
No further output.

## Actual behavior
The entire build runs displaying the normal output for the build.

This sounds similar to issues #4856 and #7426. I'm creating a separate issue because those are about `dotnet run`, not `dotnet build`.

## Environment

[2017-09-20 18:59] KellyR-STCU commented on #7681
@dasMulli
Actually for .net core applications they recommended using dotnet pack:
https://octopus.com/docs/packaging-applications

[2017-09-20 19:07] dasMulli commented on #7681
I was referring to this document:
https://octopus.com/docs/guides/deploying-asp.net-core-web-applications

[code]

Problem is that ASP.NET Core applications need a special handling here (in contrast to e.g. a .NET Core console application). Also, you would want MVC precompilation to be performed which is only done during publish.

It may be beneficial to follow up with octopus deploy on their reco

[2017-09-20 20:24] masaeedu commented on #7588
@johnbeisner I'm seeing this on Powershell as well. You can trivially reproduce it by running `docker run -it --rm microsoft/dotnet-framework powershell`, then run `iwr -UseBasicParsing https://dot.net/v1/dotnet-install.ps1 | iex`. This will end up killing the docker container. You can work around it by opening a sacrificial subshell, but then the path modifications are lost.

[2017-09-20 21:45] sstevenkang opened #7686 "dotnet-clean and project.assets.json in 2.0"
I would like to know why "dotnet clean" depends on project.assets.json file.  This new behavior in 2.0 is something we can work around, but I would like to understand why this change in behavior was introduced and what is the project structure expectation of dotnet cli.

Is multiple .csproj files in a single directory not supported/encouraged?

## Steps to reproduce
In our project, we have this fo

[2017-09-20 22:31] wli3 commented on #7678
I cannot repo it on a Debian 9 Azure VM https://azuremarketplace.microsoft.com/en-us/marketplace/apps/credativ.Debian9?tab=Overview
![image](https://user-images.githubusercontent.com/6993335/30670803-b1573248-9e18-11e7-985f-46249f76fcfc.png)

[2017-09-20 22:38] dcarl1 commented on #7590
I'm having exactly the same issue and I have no idea where to start.

Our solution is very large, a verbose output grew to ~500k before I cancelled the build so I can't really debug it that way.

[2017-09-20 23:44] mairaw commented on #7631
Ok, I'll change it to say Fedora 26 or later versions @RheaAyase.

[2017-09-21 06:47] MikeGale opened #7687 ""dotnet new mvc -lang f#" failing with switch "-au" on Windows 10 64 bit"
## Steps to reproduce

1. dotnet new mvc -lang F# -o AspNetCoreFS -au Individual

## Expected  behavior

Generate an F# mvc web site.  (--help says that this can be done.)

## Actual behavior

Fails with error:
[code]
(CSharp mvc is generated as expected.)

## Environment data
`dotnet --info` output:

.NET Command Line Tools (2.0.0)

Product Information:
 Version:            2.0.0
 Commit SHA-1 ha

[2017-09-21 08:30] ahdung commented on #6516
@livarcocc this issue still exists on dotnet core 2.0, please view my post https://github.com/dotnet/cli/issues/7680

[2017-09-21 09:52] psmolkin commented on #7426
Same problem with `dotnet test`. While terminating main process  (eg timeout) all his childs stays and locks assemblies, takes up processors time etc.

[2017-09-21 10:53] AhmedHussainy commented on #7671
root@Rival:~/Desktop# dotnet new -o ahmed -lang c#
Getting ready...
Error: Could not install "/usr/share/dotnet/sdk/2.0.0/Templates/microsoft.dotnet.web.projecttemplates.2.0.1.0.0-beta2-20170803-303.nupkg".
Error: Error reading JObject from JsonReader. Path '', line 0, position 0.
Error: Could not install "/usr/share/dotnet/sdk/2.0.0/Templates/microsoft.dotnet.web.itemtemplates.1.0.0-beta2-2017080

[2017-09-21 12:24] am11 commented on #7687
It seems like if any of the user supplied argument is meant for cli's top-level command (`dotnet-new` in this case), the argument parser considers all the rest of the arguments are meant for top-level command as well. In this case `-au Individual` was actually meant for `mvc` sub-command.

In case of `dotnet new mvc -au Individual` (which is supposed to be a shorthand of `dotnet new --language C#

[2017-09-21 15:41] AlphaCreative commented on #6812
We just encountered this issue too while setting up CI in VSTS.  We came up with a workaround for those using VSTS CI.  We replaced our ".NET Core" build with a "Visual Studio Build" step and then a publish with ".NET Core".  We considered the option @jonoliver82 posted but found this option for VSTS CI.

[2017-09-21 16:09] livarcocc commented on #7687
@wli3 can you take a look?

@mlorbetske @seancpeters FYI

[2017-09-21 17:05] Faizan2304 commented on #7497
Unfortunately `--list-tests` with `--filter` is not supported.

[2017-09-21 17:28] danmosemsft opened #7689 "Make it possible to invoke the compiler directly"
Not sure whether this belongs in the SDK repo instead.

In the desktop world, most people build with MSBuild on the command line or in VS. But for quick experimentation, learning c#, or custom scripts, one can invoke csc.exe directly. This has the advantage of being very fast, and not needing a project file. In that situation csc adds some default references so you simply run `csc Program.cs`. It

[2017-09-21 17:32] evil-shrike opened #7690 "Deploy pdb symbols for dependant assemblies from nuget packages (via PackageReference)"
## Steps to reproduce
`dotnet publish` in a project with nuget dependencies

## Expected  behavior
A folder with "published" version contains not only *.dll from nuget dependencies but *.pdb as well (they do exist in packages of cause).

## Actual behavior
No pdb's deployed for package dependencies. Symbols do deployed for application itself (current project and its dependent projects) but not for

[2017-09-21 17:41] dasMulli commented on #7689
Fyi there was a related question on StackOverflow: https://stackoverflow.com/questions/46065777/is-it-possible-to-compile-a-single-file-with-net-core

While using `RunCsc.sh` directly is possible, it would be nice to have a `dotnet csc` command that adds all the reference dlls. A problem here is that AFAIK .NET Core doesn’t include its own reference assemblies so there may be differences to a proj

[2017-09-21 17:46] mellinoe commented on #7689
If a command was exposed, I don't think it should automatically add any references, or do anything else "special" -- it should just be equivalent to using csc today where you need to provide such things.

[2017-09-21 17:47] ViktorHofer commented on #7689
I don't think that `dotnet csc` should automatically include required reference assemblies. The point of csc is that you define which assemblies you want to compile against.

[2017-09-21 17:48] shmao opened #7691 "Latest Nightly Build SDK (2.1.0-preview1-007214) Failed to Build netstandard2.0 Library"
## Steps to reproduce
1. Install the latest nightly build SDK. The one I used was of version (2.1.0-preview1-007214).
2. `dotnet new library`
3. Add the following code,

[code]
4. `dotnet restore`
5. `dotnet build`

## Expected  behavior
Build succeeds.

## Actual behavior
Build fails with the following error,

[code]

## Environment data
`dotnet --info` output:
[code]

[2017-09-21 17:54] livarcocc commented on #7691
This issue was moved to dotnet/corefx#24193

[2017-09-21 17:55] dasMulli commented on #7689
`csc.exe` adds mscorlib.dll automatically AFAIK.. Would it make sense to add `netstandard.dll` on .NET Core?

As I pointed out on SO, the current behaviour is:

[code]

[2017-09-21 17:58] livarcocc commented on #7689
This does not feel like a basic command like build, run, publish, test etc and we have been trying to keep the "native" CLI verbs to a minimum. So, I don't believe we would take building such a command in the CLI. We have been talking quite a bit about global commands and this seems like a good candidate for such a thing.

[2017-09-21 17:58] #7689 closed

[2017-09-21 17:59] shmao commented on #7691
Why moved this to corefx? Uninstall the SDK and build the app and the build would succeed. I don't think this is a library issue.

[2017-09-21 17:59] ViktorHofer commented on #7689
As you are closing the issue, do you note this request somewhere or can give a timeline for it?

[2017-09-21 18:02] dasMulli commented on #7689
There are currently two command wish lists that I know of:
https://github.com/dotnet/cli/issues/4672
https://github.com/dotnet/cli/issues/6223

[2017-09-21 18:08] omajid commented on #7631
Thanks @mairaw and @livarcocc !

[2017-09-21 18:15] ViktorHofer commented on #4672
Can you please add csc to the wishlist? https://github.com/dotnet/cli/issues/7689

[2017-09-21 18:15] ViktorHofer commented on #6223
csc - https://github.com/dotnet/cli/issues/7689

[2017-09-21 19:04] sstevenkang opened #7692 "app.runtimeconfig.json is not optional"
According to this documentation [Runtime Conifguraiton Files](https://github.com/dotnet/cli/blob/master/Documentation/specs/runtime-configuration-file.md), `app.runtimeconfig.json` is an optional configuration file.  However, it doesn't look like it's the case.

## Steps to reproduce
I have the following test app:
[code]

Run the following commands in sequence:

## Expected  behavior
Application w

[2017-09-21 19:13] JunTaoLuo commented on #7680
In addition to the .NET Core Runtime, you will need to install the ASP.NET Core Runtime Store on the target machine (in this case pc B). The Runtime Store is automatically installed via the Windows Server Hosting installer (see https://www.microsoft.com/net/download/core#/runtime for the most up to date download link). The reason this works on the developer machine (in this case pc A) is because t

[2017-09-21 20:34] livarcocc commented on #7691
You are absolutely right. This is a problem in our tooling. The problem is that we are referencing NetStandard.Library 1.6.1. We will produce a fix in the SDK, but because of signing problems, it will be a while until we can have a build out.

Meanwhile, you can work around it by setting `<NETStandardImplicitPackageVersion>2.0.0</NETStandardImplicitPackageVersion>`

[2017-09-21 20:38] shmao commented on #7691
Sounds good. Thanks for looking into the issue, @livarcocc

/cc: @huanwu

[2017-09-21 20:58] kromatic opened #7695 "dotnet new creates files with CRLF line endings on linux"
## Steps to reproduce

Run `dotnet new classlib` in new project folder.

## Expected  behavior

On Linux, this should create Class1.cs and .csproj files with LF line endings.

## Actual behavior

Class1.cs and the .csproj file are both created with CRLF line endings. (Files in bin and obj folders appear to all have the correct LF line endings.)

## Environment data
`dotnet --info` output:

.NET Co

[2017-09-21 20:58] Mpdreamz commented on #812
This seems pretty important to the `dotnet run` experience, has there been any update on this ticket or anywhere related?

[2017-09-21 21:10] livarcocc commented on #7695
This issue was moved to dotnet/templating#1248

[2017-09-21 21:10] #7695 closed

[2017-09-21 21:43] AndyGerlicher opened #7696 "Use MSBuild /restore for implicit restore"
Commands that perform an implicit restore (invoke MSBuild /t:Restore and then build normally) should move to use the `/restore` command-line flag to reduce JIT compile time.

See https://github.com/Microsoft/msbuild/pull/2414

[2017-09-21 22:23] RheaAyase commented on #7631
@livarcocc RedHat-Microsoft slack and weekly meetings. There was some effort but the communication got stuck a few times and never reached the right people... Communication is always an issue :P

[2017-09-21 22:35] SteveL-MSFT opened #7698 "dotnet-install.sh fails if LD_LIBRARY_PATH doesn't exist"
## Steps to reproduce
[code]

## Expected  behavior
dotnet installed

## Actual behavior

[code]

## Workaround

[code]

It appears on Ubuntu 16.04, this env var doesn't exist.  Script should check if it exists before using.

[2017-09-21 23:05] livarcocc commented on #7680
Like John indicated, you built your application using the asp.net store, which is on by default, so in order to run it, wherever you deploy it, you need the asp.net runtime store installed as well. Alternatively, you can turn off using the store when building your app by setting `<PublishWithAspNetCoreTargetManifest>false<PublishWithAspNetCoreTargetManifest>`. Note that if you set this, you will h

[2017-09-21 23:05] #7680 closed

[2017-09-21 23:18] SteveL-MSFT commented on #7698
This is breaking PowerShell Core Travis-CI on MacOS.  How quickly can this get fixed?

[2017-09-21 23:24] ssl9ek commented on #7521
Ran into this as well. All unit tests are passing but I'm getting exit code 1 due to this "No test is available in" output. I agree that this line should not be in stderr, but rather a warning.

For solutions with multiple test projects, running dotnet test *.sln is simplest, but returns exit code 1, due to the non-test projects. I've yet to figure out how to run dotnet test on multiple test proje

[2017-09-21 23:29] livarcocc commented on #7521
Please, continue this conversation in the vstest repo. This is something that primarily we would need to address there. Closing this one so that we can move the conversation there.

[2017-09-21 23:29] #7521 closed

[2017-09-21 23:29] livarcocc commented on #7698
We will probably look into it tomorrow.

[2017-09-21 23:45] SteveL-MSFT commented on #7698
I'll put the workaround in place then.

[2017-09-22 01:38] ahdung commented on #7680
@JunTaoLuo It's worked, thanks.

[2017-09-22 01:44] AlgorithmsAreCool opened #7699 "dotnet sln add malfunctions on windows"
This one is pretty weird

## Steps to reproduce
[code]

## Expected  behavior
The correct project is added to the sln file.
The console emits
[code]
(note the relative path)

## Actual behavior

The following is added to the sln
[code]

and the following is emitted
[code]

## Environment data
`dotnet --info` output:

.NET Command Line Tools (2.0.0)

Product Information:
 Version:            2.0.0

[2017-09-22 02:09] josemotta commented on #3390
@dejfcz 's answer solved this problem for me too!

[2017-09-22 04:31] mmillican commented on #7539
@dasMulli can you elaborate on this?

I am trying to create a similar project, to share common views between projects.  This would be targeting .net core 2.0

[2017-09-22 04:38] axot commented on #7590
Has same problem in OS X.

[2017-09-22 05:06] Vedant-Koditkar opened #7700 "Set global dotnet sdk version"
I've got two different versions of dotnet core sdk's installed on my machine. Currently, It is using dotnet core 2.0 but I want set it to use 1.1.0. I didn't find any way to do this using dotnet cli. It would be great if we have this thing in cli.

[2017-09-22 05:09] KoditkarVedant opened #7701 "list installed dotnet core sdk versions"
I do not see any way using CLI tool to list all installed versions on your machine. It will be really great if we have command something like:

`dotnet --versions `

[2017-09-22 05:11] Vedant-Koditkar commented on #7700
I'm thinking of command like

dotnet --version [version number to set]

[2017-09-22 07:57] dasMulli commented on #7563
So this is probably a NuGet bug since it emits the generated props file as if the project was multitargeting when it really isn't (because `TargetFramework` is defined in the project without any condition hence `TargetFrameworks` should be ignored).

Without `TargetFrameworks`:

[code]

With `TargetFrameworks` **and `TargetFramework`**:

[code]

This import is then never performed since `TargetFra

[2017-09-22 08:43] dasMulli commented on #7563
cc @emgarten @rohit21agrawal Do you thing it is reasonable to ignore `TargetFrameworks` for restore when when `TargetFramework` is set? I did a quick search through the NuGet code and changing the condition for `_RestoreCrossTargeting` in `NuGet.targets` helps for a single TFM but not for multiple..

[2017-09-22 11:47] rashidovich commented on #6561
VM Ubuntu 17.04
.net core 2.0

dotnet build throws same issue.

basically i cannot deploy to production.
on local machine (OSX) builds fine.

i don't see any '.keys' folder.

Thanks in advance,

[2017-09-22 13:47] patoncrispy commented on #2712
This isn't in the CLI help options.

[2017-09-22 15:13] omajid commented on #7701
Implemented in https://github.com/dotnet/core-setup/pull/3132

[2017-09-22 16:38] livarcocc commented on #7678
@emgarten can you help us debug this? From the logs, it seems like restore simply stops.

@randomizedthinking I wonder if you are hitting https://github.com/dotnet/core/issues/973. We had multiple people hitting seg faults in Debian when using libssl, because they are using an older version of libssl.

Do you have anything special in a NuGet.COnfig somewhere? How did you install the CLI?

[2017-09-22 17:15] #7701 closed

[2017-09-22 18:10] johncrim commented on #7447
Same issue appears to be covered here: [Allow dotnet test to run on all test projects in a given directory #705](https://github.com/Microsoft/vstest/issues/705).

[2017-09-22 18:28] livarcocc commented on #7156
No worries. We will triage and move as appropriate. Feel free to keep filing them here.

[2017-09-22 18:35] elsyms commented on #7670
+1.

Any chance we could also get a .NET CLI command to automatically add the Entity Framework tools? I was thinking something like

    dotnet add ef

It's a little annoying at the minute having to Google every time I need to add those command options (as I always forget!). It's such a common part of project initialization that I don't know why it isn't there.

cc @livarcocc

[2017-09-22 18:46] elsyms commented on #7700
I think this would be outside the remit of the CLI tools and more down to your operating system/the way your PATH environment variable is set up. I'd imagine your two installations are, for example, /opt/dotnet2 and /opt/dotnet1 and the newer version is getting prioritized.

Using older implementations of the SDK would require all new versions to contain that old code, which I don't think would ha

[2017-09-22 18:52] livarcocc commented on #7670
I don't believe we want to specialize part of the the CLI like that.

@mlorbetske Is there a template that comes with EF on it? Should we consider adding one?

[2017-09-22 19:06] #7698 closed

[2017-09-22 20:45] jcouv opened #7704 "CLI: namespace error on fresh VB project"
@jcouv commented on [Fri Sep 22 2017](https://github.com/dotnet/roslyn/issues/22292)

Repro:

1. `mkdir 22227-cli-vb`
2. `cd 22227-cli-vb`
3. `dotnet new console --language=vb`
4. `dotnet build` produces the namespace error below

[code]

[code]

Relates to https://github.com/dotnet/roslyn/issues/22227

---

@am11 commented on [Fri Sep 22 2017](https://github.com/dotnet/roslyn/issues/22292#issueco

[2017-09-22 20:49] randomizedthinking commented on #7678
@livarcocc @wli3 thanks for the help... now it works after removing the libssl1.0.0 library.

It didn't ring a bell to me at first since the csharp counterpart works. Likely, the dotnet did something slight different on fsharp projects from csharp projects.

[2017-09-22 20:49] #7678 closed

[2017-09-22 20:54] AnthonyDGreen commented on #7704
vbc does do this by design. C# doesn't have the feature of a root namespace so it's not really something that can be made consistent. That said, it is an issue that this doesn't work. We should discuss possible solutions.

[2017-09-22 21:11] emgarten commented on #7563
From the NuGet side I think we want to restore a super set of all frameworks that are needed. This would let restore noop when changing the TargetFramework value on build.

[2017-09-22 21:36] am11 commented on #7704
That's right. One thing I noticed that if we do something like:

[code]

It shows that namespace is set to sanitized dirname:

[code]

Could the same normalization be reused for VB root NS when setting the compiler arg in CLI?

[2017-09-22 22:16] omajid commented on #7700
@elsyms While I like the idea of `rbenv`, .NET Core has that built in, though it is done per-project. See https://www.hanselman.com/blog/ManagingDotnetCore20AndDotnetCore1xVersionedSDKsOnTheSameMachine.aspx

[2017-09-22 22:50] livarcocc commented on #7704
@mlorbetske is this something that we could do in the templates?

[2017-09-22 22:55] mlorbetske commented on #7704
It's certainly possible to have the template content for the vbproj include the rootnamespace property

cc @jmarolf

[2017-09-22 23:23] AnthonyDGreen commented on #7704
That sounds perfect!

[2017-09-22 23:29] mairaw commented on #7631
@RheaAyase The PR is created but I'm waiting for an approval. Should go live soon.

For issues with the docs or the dot.net site, feel free to create an issue at https://github.com/dotnet/docs/issues or reach out directly to me at mairaw at microsoft dot com. If there are any communication issues, we should try to fix that.

[2017-09-22 23:39] jmarolf commented on #7704
@mlorbetske what are the rules for how text is replaced in the templating engine?  `Company.ConsoleApplication1` gets replaced in code files but what about the project file?  would the template below work?

[code]

[2017-09-22 23:42] jmarolf commented on #7704
@AnthonyDGreen  I assume that this is the project file we want to generate for the repro steps in this bug:
[code]

As VB devs don't like having namespaces encapsulate their classes or modules if they are in the default namespace.

[2017-09-22 23:42] mlorbetske commented on #7704
@jmarolf I believe that would work (and the name would get replaced with the "safe namespace" flavor of the name). @seancpeters to confirm

[2017-09-23 00:04] seancpeters commented on #7704
Confirming what @mlorbetske stated above - yes the "safe namespace" flavor would be used.

@jmarolf - regarding the rules for what gets replaced in which files - by default every file in the template will have the replacements applied. If there are file(s) that shouldn't have replacements applied, they need to be specified as CopyOnly under the "sources" section of the template config.

[2017-09-23 00:07] jmarolf commented on #7704
@mlorbetske @seancpeters got it thanks guys!

[2017-09-23 06:14] mairaw commented on #7631
The change is live.

[2017-09-23 15:06] anavarro9731 commented on #7556
@nguerrera I have tracked down the problem, it is related to the scoping of variables in one class. In particular how variables declared at method-level scope are accessed by local functions within that method. Changing the structure of the code to pass the method-level variable to the local functions via an argument rather than having them access the enclosing outer scope directly solves the prob

[2017-09-23 17:40] livarcocc commented on #7556
@jaredpar it feels like we should move this issue to roslyn.

[2017-09-23 18:03] anavarro9731 commented on #7556
before we found the offending code we used the fix here:
https://developercommunity.visualstudio.com/content/problem/94629/error-msb6006-cscexe-exited-with-code-2146232797.html
which i suspect may be the same issue...

[2017-09-23 19:38] svick commented on #7556
@anavarro9731 That description makes it sound like https://github.com/dotnet/roslyn/issues/19033. But if you have a repro, it might still make sense to open an issue on Roslyn, to make sure it's indeed the same issue.

[2017-09-23 23:13] mlorbetske commented on #7671
It looks like it managed to get partially configured by the very first run & is now trying to read that partial configuration and failing. Could you try running `dotnet new --debug:reinit` and then your original command again?

[2017-09-24 18:12] alexsandro-xpt commented on #7426
I'm tool, same problem.

[2017-09-24 19:56] dan-i-am commented on #5918
Just curious if anyone experiencing the extremely slow build times (i.e. very minimal code, but 30+ seconds) has a `node_modules` folder inside another folder away from where the `.csproj` file sits.

In my project, I moved all of my Angular CLI project folder items (including the `node_modules` folder) to the same level as the `.csproj`, and the build times became much more reasonable (~3-5 secon

[2017-09-24 21:03] dasMulli commented on #5918
@dan-i-am yes the `node_modules` folder is excluded at every level, but at non-root level you are hitting a perf issue in msbuild: https://github.com/Microsoft/msbuild/issues/2000 (TL;DR msbuild scans the whole directory structure and then ignores it, but could do better since it knows it is going to ignore it).

A good workaround is to explicitly specify the full folder name that you are going to

[2017-09-25 00:38] lantrix commented on #3951
@mairaw Your documentation change is correct to document _current_ behaviour.

[2017-09-25 04:23] KoditkarVedant commented on #7700
@elsyms I like the idea about the `rbenv`for dotnet as we'll be having multiple versions of sdk installed on machine and we should be provide a way to easily jump between them using command line instead of editing in global.json file per projects. (for global version as well as local/project level sdk versions.)

[2017-09-25 05:33] mairaw commented on #3951
cool! Thanks for confirming that @lantrix!

[2017-09-25 09:42] MovGP0 commented on #5144
I had to delete the `.FileListAbsolute.txt` and `nuget.g.targets` files to make the build work for me:

[code]

[2017-09-25 13:47] Leonardo-Ferreira commented on #1995
Same for VS 2017...

[2017-09-25 14:17] auduchinok commented on #6707
@Patrickkk, although the issue is closed, I wanted to provide an example scenario when multiple projects are needed.
We use C# and F# together in a single solution, half of projects are written in each language.

[2017-09-25 17:21] nguerrera commented on #6707
@auduchinok The issue wasn't closed to indicate that it shouldn't be fixed or that there aren't scenarios for it. It was moved to the appropriate repository at NuGet/Home#5360, which in turn was closed as a duplicate of NuGet/Home#3891. I suggest that you follow up on NuGet/Home#3891, which is still open.

[2017-09-25 17:30] auduchinok commented on #6707
@nguerrera, thank you, I've already checked these issues. My response wasn't about the issue itself, it was a reaction to the @Patrickkk's response which I found worth answering.

[2017-09-25 17:34] wli3 commented on #7438
@leecow any progress on this issue?

[2017-09-25 19:07] benknoble commented on #5281
Repro'd with
[code]
on OSX when trying to build roslyn (see e.g. dotnet/roslyn#22259) and would be happy to submit a patch.

[2017-09-25 19:10] benknoble commented on #5281
I believe the problem lies here (though possibly elsewhere)
[code]
due to a lack of quotes. These are lines 470-496 in `cli/scripts/obtain/dotnet-install.sh`

[2017-09-25 20:00] djsowa opened #7706 "Random build/restore/publish errors on docker. (returned a non-zero code: 139)"
## Steps to reproduce
[code]

## Expected  behavior

Build succesfully

## Actual behavior

I'm receiving random errors, some times error occur on restore, sometimes on build and sometime on publish step, now(update) occurred even on dotnet new step.

Restore:

Build:

New:

[Diagnostic logs](https://pastebin.com/QdVH1XnR)

## Environment data
[code]

[2017-09-25 20:16] livarcocc commented on #7706
@steveharter can you take a look? This is a crash in native code.

[2017-09-25 20:19] djsowa commented on #7706
Update: similar errors occurred also on:
microsoft/dotnet:latest
microsoft/dotnet:2.0-sdk-jessie

[2017-09-25 20:51] rrelyea commented on #6952
Helping search engines find the right content: https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings#nu1003

[2017-09-25 21:19] leecow commented on #7438
Not from my end. We (the engineering team) need to investigate how to enable proper package version representation such that apt-get update / dnf update appropriately determine if updates are available. A random example:

[code]

We need to fix our package authoring (deb and rpm) such that we are making proper use of the version fields and enable the update scenario. eg after we ship 2.0.n, `sudo

[2017-09-25 21:21] livarcocc commented on #7706
This issue was moved to dotnet/core-setup#3233

[2017-09-25 21:21] #7706 closed

[2017-09-25 21:28] wli3 commented on #7690
might share the same root cause with
https://github.com/dotnet/sdk/issues/1458

[2017-09-25 21:31] livarcocc commented on #7625
I am marking this as a duplicate of https://github.com/dotnet/cli/issues/5289, which asks for support to running the SDK in ARM. Cross-compiling to ARM is already supported.

[2017-09-25 21:31] #7625 closed

[2017-09-25 21:32] livarcocc commented on #5973
This issue was moved to dotnet/cli-migrate#46

[2017-09-25 21:32] #5973 closed

[2017-09-25 21:35] livarcocc commented on #6104
This CLI right now support .NET Core and a subset of full framework projects. We don't currently have a timeline for supporting Xamarim on the CLI, though it is definitely something we would like to do. However, I will close this issue for now.

[2017-09-25 21:35] #6104 closed

[2017-09-25 22:02] livarcocc commented on #6805
This seems to be working now. Re-activate if this does not work with 2.0.0.

[2017-09-25 22:02] #6805 closed

[2017-09-25 22:22] livarcocc commented on #6770
This seems to be working on the latest 2.0.0 CLI on Windows. Closing for now. Please comment or re-activate if this still reproes using the 2.0.0 CLI.

[2017-09-25 23:20] code4clouds commented on #3390
It solves the problem, but not the real issue.  The application is not self-contained if it depends on a workaround.  A self-contain application should run using just the kernel (i.e. Go with Docker scratch image).

[2017-09-25 23:31] livarcocc commented on #7447
This issue was moved to Microsoft/vstest#1129

[2017-09-25 23:31] #7447 closed

[2017-09-25 23:35] livarcocc commented on #7420
Closing this since we haven't had activity on it for a month now and we need help in getting a repro for it. Please, re-activate or comment with additional information when possible.

[2017-09-25 23:39] livarcocc commented on #7412
This issue does not belong on this repo. Given that it is already being handled though, I am closing it.

[2017-09-25 23:39] #7412 closed

[2017-09-25 23:45] livarcocc commented on #7404
I noticed that you are on Windows. Globbing is only supported on Unix based operating systems, because on those systems, the shell itself is expanding the glob and passing that to the application. That is not the CLI evaluating the globbing.

[2017-09-25 23:45] #7404 closed

[2017-09-25 23:49] livarcocc commented on #7556
Moving this to Roslyn for now to see if it is indeed a duplicate. If this is something that needs to be addressed in the CLI, please re-activate.

[2017-09-25 23:49] livarcocc commented on #7556
This issue was moved to dotnet/roslyn#22332

[2017-09-25 23:49] #7556 closed

[2017-09-25 23:51] livarcocc commented on #7507
There is a --ignore-failed-sources flag that you can use for that.

[2017-09-25 23:51] #7507 closed

[2017-09-25 23:58] livarcocc commented on #7570
You can use dotnet vstest for that today. Is that not enough?

[2017-09-26 00:32] livarcocc commented on #7582
Closing this since a solution has been found.

[2017-09-26 00:32] #7582 closed

[2017-09-26 00:45] jeffhube commented on #5918
Is there any info I can provide that would help move this issue along? I don't have a `node_modules` folder, incremental builds are 10+ seconds, and non-incremental builds are 14+ seconds for a small asp net mvc project on .NET Core 2.0 (targeting `netcoreapp2.0`). This is especially frustrating when issuing multiple `dotnet ef` commands which repeatedly build the project.

[code]
[code]
https://g

[2017-09-26 01:08] davkean commented on #5918
@jeffhube and folks - performance is very top of mind at the moment, and we're actively working on it, we've got https://github.com/dotnet/project-system/issues/2789 which we're using as the uber issue.

We're first focusing on evaluation/target performance - which affects _all_ builds, then we'll peel off and start digging into individual scenarios such as command-line and VS performance - which

[2017-09-26 01:10] davkean commented on #5918
Some recent progress, for example, is: https://github.com/dotnet/standard/issues/442 and https://github.com/Microsoft/msbuild/issues/2392.

[2017-09-26 06:29] ibqn commented on #7420
@livarcocc this is still an issue, thank you for treating it the microsoft way!
@wli3  with `chsh -s /usr/bin/fish`, and than start a new shell, or re-login, you just need to make sure that you have switch to your new environment, after changing your user's default shell.

[2017-09-26 06:42] ibqn commented on #7375
C'mon, are you sure that clean Azure Debian 8 has fish shell package installed?

    chsh -s `which fish`
    exit

Are you sure that you command succeeded without error message?

To be honest, it looks like your results are grounded on false statements!

[2017-09-26 06:43] ibqn commented on #7375
@wli3 ^^

[2017-09-26 06:55] joelharkes commented on #5973
For those coming here, i recently regoogled it and i found this as a solution. it might not work if you reference not35 dlls though! then you'll still have to use `msbuild` directly, i heard they dropped official support for net35 in the dotnet CLI.

[code]

[2017-09-26 10:11] v6ak commented on #3681
* Is there any way to ignore one of the versions, or we have to wait until the next release?
* IIUC, DotNet Core on Debian Jessie is limited to an unsupported version of OpenSSL. (Moreover, this version will not be present in clean Jessie installations.) So, this version can contain vulnerabilities that will never be fixed in Jessie. Are there any plans to upgrade DotNet Core to use the newer Open

[2017-09-26 10:42] janvorli commented on #3681
@v6ak on Debian Jessie, the 1.0.1 is the supported version. See https://packages.debian.org/search?suite=jessie&searchon=names&keywords=openssl. The CURL that @cobrafast was using is not the version that's the standard version for Debian Jessie. His version was 7.55 while Debian Jessie has version 7.38. See
https://packages.debian.org/search?suite=jessie&section=all&arch=any&searchon=names&keyword

[2017-09-26 11:09] mpforce1 commented on #6770
@livarcocc The problem still persists on the latest CLI. Please could you reopen this issue.

[2017-09-26 11:53] dasMulli commented on #6770
The error indicates that the targeting packs for the targeted .net framework version aren't installed. You can get them from https://www.microsoft.com/net/targeting or via the "Individual Compontens" tab of the Visual Studio Installer when installing/modifying VS

[2017-09-26 11:54] dasMulli commented on #6770
You can check if a directory with the appropriate version is available in `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework`

[2017-09-26 11:58] mpforce1 commented on #6770
I have the appropriate targeting pack installed. I can build the solution by manually specifying the FrameworkPathOverride parameter which points at the `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6` directory.

[2017-09-26 12:33] Andresbu opened #7707 "dotnet restore fails when more than 100 artifacts match the package id"
Artifactory contains more than 100 packages matching id "Serilog". dotnet restore fails as it seems to read only the first 100 packages and not more. Reason seems to be an invalid GET for fetching the pages after the first one. See below.

## Steps to reproduce
Use any of the docker images (It fails for me with those, I havent tested others)
- microsoft/dotnet:2.0.0-sdk
- microsoft/dotnet:1.1.4-sd

[2017-09-26 17:04] livarcocc commented on #7707
This issue was moved to NuGet/Home#5942

[2017-09-26 17:04] #7707 closed

[2017-09-26 17:06] livarcocc commented on #7581
I am closing the issue here as it does not seem like something that the CLI is actually doing wrong. If there is something that needs to chance in the CLI, please re-activate.

[2017-09-26 17:06] #7581 closed

[2017-09-26 17:16] livarcocc commented on #7671
This issue was moved to dotnet/templating#1253

[2017-09-26 17:16] #7671 closed

[2017-09-26 17:22] livarcocc commented on #7580
This issue was moved to Microsoft/vstest#1134

[2017-09-26 17:22] #7580 closed

[2017-09-26 17:24] livarcocc commented on #7555
Closing in favor of https://github.com/dotnet/cli/issues/7550.

[2017-09-26 17:24] #7555 closed

[2017-09-26 17:32] livarcocc commented on #7420
@wli3 please go ahead and try @ibqn repro steps above and let us know what you find.

[2017-09-26 18:13] livarcocc commented on #7523
@steveharter can you comment? Since the missing dependency is on the runtime?

[2017-09-26 18:14] livarcocc commented on #7511
This seems to have been fixed on MSBuild.

[2017-09-26 18:17] livarcocc commented on #7502
Given the lack of information, I am closing this issue. Besides, this probably belongs in the CoreFX repo.

[2017-09-26 18:17] #7502 closed

[2017-09-26 18:18] livarcocc commented on #7494
Closing, since @wli3 have addressed the questions in this issue and we haven't had activity here in a while.

[2017-09-26 18:18] #7494 closed

[2017-09-26 18:23] livarcocc commented on #7495
Closing in favor of https://github.com/dotnet/cli/issues/6178.

[2017-09-26 18:23] #7495 closed

[2017-09-26 19:02] chubbsnes65 commented on #4357
I have an similar issue, when I try to run

dotnet /path/to/my/dll

I recieve the same error, but the diference is I'm trying to run in to a shell script in os x.

I hope someone can helpe

Thanks.

[2017-09-26 19:17] johnbeisner commented on #7392
@badersur
The install-scripts have been updated and are available at this location:
https://dot.net/v1/dotnet-install.sh (bash, UNIX)
https://dot.net/v1/dotnet-install.ps1 (powershell, Windows)

[2017-09-26 19:17] #7392 closed

[2017-09-26 19:18] johnbeisner commented on #6747
@WernerMairl
@artisticcheese
@guardrex
@anoordende
The install-scripts have been updated and are available at this location:
https://dot.net/v1/dotnet-install.sh (bash, UNIX)
https://dot.net/v1/dotnet-install.ps1 (powershell, Windows)

[2017-09-26 19:18] #6747 closed

[2017-09-26 19:31] guardrex commented on #6747
Thanks @johnbeisner ... the Nano topic was updated. That's the only topic we have in the aspnet/docs that reference the script, so I think we're good here. https://github.com/aspnet/Docs/pull/4234

On the dotnet/docs side, I see one reference to the GH URL in [Using .NET Core SDK and tools in Continuous Integration (CI)](https://docs.microsoft.com/en-us/dotnet/core/tools/using-ci-with-cli). Idk if

[2017-09-27 00:14] JustArchi commented on #3267
Bump, it'd be really nice if there was an option to do this without resorting to hacks and adding resources in post-compilation steps.

[2017-09-27 10:04] badersur commented on #7392
Hello @johnbeisner and thanks for fixing this issue but I'm trying to test your changes and the script doesn't seem to work!

I tried cloning the repo and running these:
./scripts/obtain/dotnet-install.sh -c master

./scripts/obtain/dotnet-install.sh -c 2.1

./scripts/obtain/dotnet-install.sh

then:
curl https://dot.net/v1/dotnet-install.sh | bash -s -- -c master

curl https://dot.net/v1/dotnet-in

[2017-09-27 10:23] ali198 opened #7714 "Not able to build .Net Standard Sln file on linux"
I am trying to build .Net Standard Sln file on linux. But it fails with below mentioned error.

## Steps to reproduce
1. dotnet build MyProj.sln

## Expected  behavior
Build successfully

## Actual behavior
/MyPath/MyPath.csproj.metaproj : error MSB4025: The project file could not be loaded. Could not find file '/MyPath/MyPath.csproj.metaproj'.

## Environment data
`dotnet --info` output:

[2017-09-27 12:46] fir3pho3nixx commented on #6561
I am also seeing the same thing on ubuntu:

dotnet --info

[code]

[2017-09-27 13:17] forki opened #7715 "Implicit restore for cli tools"
`dotnet build` now has implicit restore and it's considered a good thing.

Unfortunately we don't have it for cli tools.

Consider commands like: `dotnet fable webpack-dev-server` (see https://github.com/SAFE-Stack/SAFE-BookStore/blob/master/build.fsx#L212)

They just fail with something along the lines "Can't find command "dotnet-fable" not found"

![image](https://user-images.githubusercontent.c

[2017-09-27 14:28] alfonsogarciacaro commented on #7715
As devs are not still used to dotnet SDK CLI tools, it often happens that when they see the error message they think they need to install Fable (or any other cli tool) globally. So if dotnet SDK could detect if a restore is needed before giving up executing a command, that would prevent a lot of confusion.

It'd be also very nice if the CLI tools could be run in the solution and not the project di

[2017-09-27 15:02] cartermp commented on #7715
Definitely 👍 this.  Now with implicit restore in the SDK, I often forget to invoke restore for these tools (and I suspect others do too).  Getting implicit restore for CLI tools makes using Fable and the [ASP.NET tools](https://github.com/aspnet/DotNetTools) really low friction.

[2017-09-27 16:12] livarcocc commented on #7715
@emgarten any concerns?

[2017-09-27 16:13] livarcocc commented on #7714
Are you invoking MyPath.sln or MyProj.sln? What happens for sln files is that MSBuild generates a project for it behind the scenes, but I would expect it to be called after the sln file.

[2017-09-27 16:13] faGH commented on #6516
Still having this issue. Mine is with application insights.

Error:
  An assembly specified in the application dependencies manifest (XXX.deps.json) was not found:
    package: 'Microsoft.ApplicationInsights.AspNetCore', version: '2.1.1'
    path: 'lib/netstandard1.6/Microsoft.ApplicationInsights.AspNetCore.dll'
  This assembly was expected to be in the local runtime store as the application was p

[2017-09-27 16:15] livarcocc commented on #7570
Closing this for now since dotnet vstest should be able to do this for you. If you were asking for something different, please, re-activate.

[2017-09-27 16:22] livarcocc commented on #6516
@faGH do you have the asp.net core runtime store installed in the machine where you are trying to run your app? That's is required because by default, ASP.NET Apps are published with a dependency on the runtime store.

cc @JunTaoLuo

[2017-09-27 16:38] livarcocc commented on #4357
That happens when the host does not find the actual dll in the path you provided. When that happens, it does not treat the path as a dll and instead passes that to the CLI and the CLI ends up treating it as a command, which it does not find either and you end up with the error message you are seeing.

So, make sure that the path to your dll is correct and that the file actually exists in that loca

[2017-09-27 21:49] emgarten commented on #7715
I'm all in favor of implicit tool restore. Originally I think NuGet asked for this so that the CLI could pass the correct tool framework at runtime which would remove the guess work there. We didn't go that route, I can't recall why but some of the problems I see are with timing. The name of the command(s) available are not known until after the package has been restored.

Example for an unknown c

[2017-09-27 22:12] VictorioBerra commented on #5498
@JasonRowe 404 on that. Also how do you properly debug if you only copy Gulp/Grunt/Webpack/NPM compiled assets out on a publish?

[2017-09-27 22:13] cartermp commented on #7715
I think that (3) is the right behavior; that is, I expect that people would want all tools restored if they have them specified in their project files.

Then, if the command still doesn't exist, could we probe for commands which do exist and list them in the error message?

[code]

I'd assume that any error due to a long restore on a slow connection wouldn't be different than for any other package

[2017-09-27 22:23] emgarten commented on #7715
Listing available commands is a good idea. I agree that it isn't worse than a normal slow restore, the point I was trying to make is that it adds network calls to a scenario that did not have them before.

[2017-09-28 00:52] forki commented on #7715
Yes ordered by edit distance. This would make a huge usability win.

Am 28.09.2017 00:23 schrieb "Justin Emgarten" <notifications@github.com>:

[2017-09-28 08:35] alfonsogarciacaro commented on #7715
@emgarten has a good point, but this would only happen if the user *both* forget to restore and do a typo, right? At that point may be they deserve some network latency ;)

At a minimum the error message should be completed like: `No executable found matching command "dotnet-fable". Please restore the project and try again.`, but the ideal solution is the one proposed by Phillip so :+1:

[2017-09-28 08:45] forki commented on #7715
I don't think "dotnet build" vs, "dotnet builf" is a real issue.

let's look at the cases:

1) not restored yet + "dotnet build" => restore is implicitly run, user waits, stuff builds
2) already restored + "dotnet build" => stuff builds
3) already restored + "dotnet builf" => cli shows error directly
4) not restored yet + "dotnet builf" => restore is implicitly run, user waits, stuff doesn't build

[2017-09-28 09:13] luigiberrettini opened #7722 "Known issues document missing (404)"
## Steps to reproduce
 - Go to https://github.com/dotnet/cli/blob/master/Documentation/README.md
 - Click on _CLI Known Issues_

## Expected  behavior
A document displaying currently known issues

## Actual behavior
404

[2017-09-28 10:29] realityexists commented on #3093
@jankun I've raised an issue about this for my Linux distro (Linux Mint): https://bugs.launchpad.net/linuxmint/+bug/1720110 and I hope others do the same

[2017-09-28 13:45] chrisjsmith commented on #3093
Good idea.

More deafening silence from MSFT even though the telemetry is flawed as outlined by @jankun

[2017-09-28 14:23] leecow commented on #7523
This is a known issue on SUSE/OpenSUSE. I noted it in the getting started steps on dot.net but forgot to include in [2.0.0 Known Issues](https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0-known-issues.md).

Choosing solution '2' works as libcurl is already present on the systems. We need to update the native installers for runtime and sdk to account for this.

[2017-09-28 18:32] saurav-sahu opened #7724 "Unable to use @angular/cli commands in angular template"
## Steps to reproduce
dotnet new angular && npm install

## Expected  behavior
angular template

## Actual behavior
angular template with all files except a .angular-cli.json. No ng (@angular/cli) commands work.

## Environment data
`dotnet --info` output:

[code]

[2017-09-29 02:48] ahsonkhan opened #7726 "Process.Start() fails when a directory exists in the working directory with the same name as the executable"
## Steps to reproduce
1. Clone corefxlab repo https://github.com/dotnet/corefxlab
2. Run ./build.sh
3. Observe failure to restore pacakges (only on OSX and Ubuntu, package restore works fine on Windows).

From:
https://github.com/dotnet/corefxlab/pull/1787 https://ci.dot.net/job/dotnet_corefxlab/job/master/job/ubuntu16.04_release_prtest/807/consoleFull#7440085258bb52e59-de52-4f1c-b131-470db4c594cd

[2017-09-29 04:27] livarcocc commented on #7724
@SteveSandersonMS can you take a look? Is there a repo where this issue is more appropriate? Or else, we can just track it here.

[2017-09-29 04:30] livarcocc commented on #7726
@steveharter @stephentoub can you guys take a look?

[2017-09-29 08:41] SteveSandersonMS commented on #7724
The current template can be used to a limited extent with Angular CLI if you add your own `.angular-cli.json` file to point the `generate` commands to the correct paths.

Going forwards, we're in the process of [revamping the Angular template significantly](https://github.com/aspnet/JavaScriptServices/issues/1288). The new one is completely based around Angular CLI. We're hoping to ship this with

[2017-09-29 08:41] #7724 closed

[2017-09-29 09:19] s0n1cm commented on #2712
Still not working for me?

[2017-09-29 13:51] petronellius opened #7727 "Excluding web.config from publish"
## Steps to reproduce
Do not add web.config to Asp.Net Core project. Publish project through VS2017 to folder.
Publish output contains web.config.

Same happens even when web.config is explicitly excluded from publish in project file:
`<None Update="web.config" CopyToPublishDirectory="Never" />`

## Expected  behavior
Publish output will not contain web.config

## Actual behavior

## Environment d

[2017-09-29 14:05] EtharAlali commented on #4177
Allan, thanks for this tip. Given the structure of the new VS2017 .NET CSProj files, where in the project file tree should the `<BuildForIIS>true</BuildForIIS>` go?

[2017-09-29 14:10] aL3891 commented on #4177
it can go in any top level property group, for example:

[code]

(it doesn't have to have its own group though)

[2017-09-30 00:33] cdmihai opened #7736 "dotnet new mvc fails to restore"
## Steps to reproduce
dotnet new mvc
dotnet restore

## Expected  behavior
Restore succeeds.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

[2017-09-30 00:34] cdmihai commented on #7736
`dotnet msbuild /t:restore /bl`
[msbuild.zip](https://github.com/dotnet/cli/files/1345960/msbuild.zip)

The exception
[code]

[2017-09-30 03:05] netroby opened #7737 "Feature request, compile dotnet to one self contained executable file"
This is a feature request. The current dotnet build result (even self contained build) will output a executable file and much more dll.
Can we built them all in one single executable file?

golang/rust can build into one executable file(which good for redistribute). hope dotnet have the same ability

[2017-09-30 03:15] benknoble commented on #5281
@dagood were I to work on a patch, would you prefer a single, short change to fix this or something more like dotnet/roslyn#22320 where I go through and fix any potential quote problems?

[2017-09-30 07:47] poma commented on #3390
Or at least it should display a message that dependency is not installed

[2017-09-30 08:36] ipavlo commented on #6561
Getting same problem, but on second build. First time `dotnet build` is successful but second time files with same error:
`dotnet --info`

.NET Command Line Tools (2.0.0)

Product Information:
 Version:            2.0.0
 Commit SHA-1 hash:  cdcd1928c9

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Linux
 RID:         ubuntu.16.04-x64
 Base Path:   /usr/share/dotnet/sd

[2017-09-30 08:54] rashidovich commented on #6561
Not sure but it could be a problem with migration from .net core 1 to .net core 2.

If I start a new project (asp.net web/api) than everything is fine

[2017-09-30 12:45] matthid commented on #6465
ping.

[2017-09-30 13:26] dasMulli commented on #6465
@matthid are you still having trouble with f# or the executable name? last one should have been fixed by https://github.com/dotnet/sdk/pull/1378, if not, could you build using the `/bl` argument and upload the resulting `msbuild.binlog` file?

[2017-09-30 13:59] matthid commented on #6465
@dasMulli Thanks, indeed that seems to be the same or a related issue.

[2017-09-30 14:37] iiwaasnet commented on #3959
Why I can't decide myself, if I need to publish each project of a solution as separate nuget package or not? Projects might be used to enforce clear design for big solutions, although, they might not make sense as separate packages. .NET Core, it becomes a mess, instead of a progress...

[2017-09-30 15:59] VictorGavrish commented on #3959
I'm having to work around this it by using oldschool `nuget pack` and a `.nuspec`... I'd really like to just `dotnet pack` and let the tool figure out dependencies and metadata and stuff, but I unfortunately cannot do that.

[2017-09-30 16:03] dasMulli commented on #3959
There actually is ""simpler"" solution at the moment, involving adding and hooking up a custom target (tested on latest released bits):
[code]

[2017-09-30 16:06] svick commented on #7737
Related: https://github.com/dotnet/corefx/issues/13329

[2017-09-30 16:37] livarcocc commented on #7736
@emgarten @zhili1208 is this the empty NuGet.Config bug again? I will move it to nuget/home.

[2017-09-30 16:37] livarcocc commented on #7736
This issue was moved to NuGet/Home#5973

[2017-09-30 16:37] #7736 closed

[2017-09-30 21:27] mklement0 opened #7739 "Calling .NET Core executables via symlinks on Windows should be supported"
Trying to call a .NET Core 2.0 `*.exe` file via a symbolic link doesn't work as-is, resulting in the following error message:

    The managed DLL bound to this executable: '<original-name>.dll', did not match own
    name '<symlink-name>.dll'.
    A fatal error was encountered. This executable was not bound to load a managed DLL.

The idea is to **use a symlink to provide an efficient, shell-agno

[2017-10-01 01:36] jkoritzinsky commented on #7510
This is the same underlying issue as https://github.com/Microsoft/msbuild/issues/2484

[2017-10-01 17:56] cjqed opened #7740 "dotnet add package errors out if any source fails to resolve"
## Steps to reproduce
1. Add a nuget source `nuget sources add -Name xxx -Source https://my_local_nuget_server/nuget/...`
2. Take the nuget source offline (in my case, it's locked down behind a VPN I was not connected to)
3. Attempt to add a package that exists from public sources, e.g. `dotnet add package dapper`
4. The add package fails because the previous source is offline:

[code]

## Expecte

[2017-10-01 19:34] flaviofrancisco opened #7741 "Try to deploy my asp.net core 2.0 website - Unhandled Exception: System.FormatException: The short switch '-argFile' is not defined in the switch mappings."
Hi guys;

I'm trying to deploy my asp.net core 2.0 web site and I'm having the following error.

This is my Program.cs file:
    public class Program
    {
        public static void Main(string[] args)
        {
            BuildWebHost(args).Run();
        }

        public static IWebHost BuildWebHost(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                .UseStartup<S

[2017-10-01 19:44] dazinator commented on #3093
@chrisjsmith @jankun
I know this issue is closed but it's quite an interesting topic so just wanted to leave some feedback.
I agree that there should be a checkbox on the installer.
The only reason not to have a checkbox on the installer (or any other kind of Yes/no experience), is because **_it makes it too easy_** for users to express a desire to opt out. **You want to make this difficult**, rig

[2017-10-01 19:53] flaviofrancisco commented on #7741
I found the issue.

Just remove the:  -argFile IISExeLauncherArgs.txt on my web.config file.

Regards;
Flavio

[2017-10-02 05:23] guardrex commented on #7727
@petronellius Use ...
[code]
... in your project file. See: https://docs.microsoft.com/aspnet/core/publishing/iis#webconfig

[2017-10-02 06:32] #7741 closed

[2017-10-02 07:03] petronellius commented on #7727
@guardrex Fantastic, it's working. Thanks.

[2017-10-02 07:03] #7727 closed

[2017-10-02 08:15] chrisjsmith commented on #3093
It's very shady and the reason it's shady is because no one gives a crap if they get their data, thus proving again that the customer, even if paying like my good self, comes second.

The problem is not that there should be a check box in the installer. It is that the default assumption should benefit the user before the vendor, particularly as this is supposed to be a _good citizen_ open source p

[2017-10-02 11:00] xtmq opened #7742 "Possible mistake in ProjectInstanceExtensions"
Take a look at src/dotnet/ProjectInstanceExtensions.cs line 26.
You read a property value for "ProjectTypeGuid". But as far as I know there is only "ProjectTypeGuid**s**".
My case - dotnet sln add command. You incorrectly retrieve project type guid and write it in a solution file.

[2017-10-02 14:06] dagood commented on #5281
I don't work a whole lot in this repo, not sure. @livarcocc ?

[2017-10-02 14:27] omajid commented on #3093
To be fair, most Linux distributions compile software from source. If they were building .NET Core and packaging it, they could just disable telemetry by default.

[2017-10-02 15:23] benknoble commented on #5281
Quoting the variable expansions and command substitutions in just `dotnet-install.sh` is ~86 lines of change. Not sure if that counts as a localized change or not.

[2017-10-02 15:28] hardhub commented on #3093
@omajid

I do not agree. Maybe RHEL will do that and maybe CentOS maintainers (in the future) will include own packages in their repositories (with telemetry disabled?).
In any case current official documentation from MS says the following about CentOS:

![image](https://user-images.githubusercontent.com/4306334/31084899-5a497b5c-a79e-11e7-9e2f-b1f8b0f24e41.png)

And obviously this package contain

[2017-10-02 15:53] omajid commented on #3093
RHEL already does. I am working with CentOS folks to make that happen too (with telemetry disabled by default).

Yes, that is true. Sorry, I didn't mean to disagree with anyone here. I was speaking about a hypothetical future where .NET Core was built by and part of Linux distributions. I know that this is not the case right now and the packages published by Microsoft do not meet the packaging gui

[2017-10-02 16:41] realityexists commented on #3093
That's great to hear! I hope it also happens for Debian and Ubuntu and all their derivatives.

[2017-10-02 16:57] livarcocc commented on #7739
This issue was moved to dotnet/core-setup#3260

[2017-10-02 16:57] #7739 closed

[2017-10-02 16:57] livarcocc commented on #7740
This issue was moved to NuGet/Home#5978

[2017-10-02 16:57] #7740 closed

[2017-10-02 17:28] desmondgc commented on #6089
The originally reported issue persists in dotnet 2.0.0. In our case, I'm stuck using the old csproj format because Telerik Reporting tools don't yet support the new project file format.

I'd like to request that this issue be reopened.

[2017-10-02 17:41] livarcocc commented on #6089
The dotnet command line does not support old style csproj project files.

[2017-10-02 17:51] pchalamet opened #7744 ""dotnet test" works whereas "msbuild /t:VSTest" fails"
## Steps to reproduce
`dotnet test` works as expected but "msbuild /t:VSTest" does not work:

[code]

## Expected  behavior
Looks like `dotnet test` is just `/t:VSTest` underneath so I just expected this to work.

## Actual behavior
`dotnet /t:VSTest` fails

## Environment data
`dotnet --info` output:
[code]

`msbuild /version` output:
[code]

[2017-10-02 18:41] livarcocc commented on #7744
It is just /t:VSTest, however, I am not sure where the test targets/tasks are binplaced for full msbuild.

Can you try dotnet msbuild /t:VSTest, this will invoke the target using the portable MSBuild installed with the SDK. If this works, then I will move this issue to microsoft/vstest where they will be able to answer how to run it using full msbuild.

[2017-10-02 18:52] pchalamet commented on #7744
dotnet test & dotnet msbuild work OK.
So it's an msbuild related problem - you are probably right.

Will you move the issue to msbuild or should I ?
Thanks !

[2017-10-02 18:58] dasMulli commented on #7744
What system are you running it on? Maybe full-framework msbuild.exe via a VS 2017 Build Tools installation?

The msbuild distribution (whether it be the `dotnet`, VS / VS build tools or mono) need to contain the necessary VSTest bits.

[2017-10-02 19:08] pchalamet commented on #7744
Windows 10, Visual Studio Community 2017 (15.3.5), Developer Command Prompt for VS 2017

msbuild /version output:
[code]

How can I check I have the VSTest bits ?
But not other error in build output but `error MSB4057: The target "VSTest" does not exist in the project.`

[2017-10-02 20:02] kstarikov commented on #3093
Does it also disable the [telemetry during installation](https://github.com/dotnet/cli/issues/3093#issuecomment-326327218) that is independent to `DOTNET_CLI_TELEMETRY_OPTOUT`?

[2017-10-02 20:33] benaadams commented on #3093
Telemetry is disabled in every situation if the `DOTNET_CLI_TELEMETRY_OPTOUT` flag is set, as in the source for the [Telemetry.cs](https://github.com/dotnet/cli/blob/22cd85daf6ca63a48e35fc7e278a7dba4d81dc6f/src/dotnet/Telemetry/Telemetry.cs#L32-L34) component

[2017-10-02 20:51] livarcocc commented on #7744
Let me move this to the microsoft/vstest repo.

[2017-10-02 20:51] livarcocc commented on #7744
This issue was moved to Microsoft/vstest#1155

[2017-10-02 20:51] #7744 closed

[2017-10-02 20:54] livarcocc commented on #7714
I just tried this on OSX successfully.

slnfolder
  - lib folder
  - sln file

dotnet build slnfolder.sln and it succeeded.

Closing this issue. Please, comment or re-activate when you can give us more details.

[2017-10-02 20:54] #7714 closed

[2017-10-02 20:59] livarcocc commented on #7433
This is by design, the problem here is that some of these options (the ones without the shorthand version) are coming from dotnet restore, because of implicit restore. And there are potential conflicts of parameters between the restore options shorthands and some of those supported by commands with implicit restore. So, to work around that, implicit restore options in other commands support only t

[2017-10-02 20:59] #7433 closed

[2017-10-02 21:01] livarcocc commented on #7364
Incremental builds have been fixed in master.

[2017-10-03 02:49] hardhub commented on #3093
It is what I mentioned...
For now any regular user without enough background is affected.
Of course I agree the future can be better than nowadays :)

Thanks for that!

In any case I think @kstarikov has asked interesting question.

[2017-10-03 02:55] 19317362 opened #7749 "Where is the "update-database -TargetMigration " feature fore EF CORE MIG???"
It works very good in EF6.  But why you give up the BEST feature in EFCORE?

[2017-10-03 03:06] livarcocc commented on #7749
This issue was moved to aspnet/EntityFrameworkCore#9945

[2017-10-03 03:06] #7749 closed

[2017-10-03 03:06] 19317362 opened #7750 "It looks like EFCORE is still useless compared with EF6"
many issues.  migerations, reverse generations, Model  Creating s...

[2017-10-03 03:08] livarcocc commented on #7726
This is a regression for sure, but it happens because you have you have your toolset under a folder called dotnet. I haven't narrowed down why yet, but if I moved the dotnet folder to dt and execute dt/dotnet restore it works. I will investigate and figure out why, but maybe this will work for you as a workaround.

[2017-10-03 03:10] livarcocc commented on #7750
I am not sure exactly what you are trying to do, but if you provide more details about the issues you are running into, we may be able to help you. Also, there is a separate repo just for EF Core, under aspnet/entityframeworkcore, where it may be possible for you to get better and more timely answers to your questions/issues.

[2017-10-03 03:15] livarcocc commented on #7523
@leecow sounded like you were already aware of this issue when we chatted today. But want to make sure you are tagged here. Also, moving this issue to core-setup, where the native installer dependencies will have to be updated.

[2017-10-03 03:15] livarcocc commented on #7523
This issue was moved to dotnet/core-setup#3264

[2017-10-03 03:15] #7523 closed

[2017-10-03 03:20] livarcocc commented on #5967
I don't think the original issue related here is the scaffolding problem mentioned above. @prafullbhosale can you take a look and comment?

Also, @ravipal is this still happening to you?

[2017-10-03 03:39] livarcocc commented on #7726
Ok, I actually know what is going... when we shell out to execute dotnet msbuild and do the restore (or most of our other operations as well), we just shell out to dotnet from the location where the command is being run. It just so happens that when you invoke dotnet (without typing the full path), there will be a folder called dotnet there and the shell will believe you are invoking the folder an

[2017-10-03 03:49] livarcocc commented on #7726
All right, this seems to be a regression in corefx. This started happening once we updated the runtime version in the CLI to preview1-25719-04. I will move this folder to corefx.

[2017-10-03 08:07] mkoertgen commented on #6178
Ok, the suggested workaround fixes `dotnet restore` and `dotnet build`.

How about `dotnet run`?

[code]

Seems that the output type is not supported. Any idea on how to work around this, too?

[2017-10-03 08:13] chrisjsmith commented on #3093
@benaadams I'm getting a bit tired of the parroting of MVPs. If you say something over and over and over that doesn't change the point. Seeing as we're verging on the ridiculous evasion of the problem, lets throw a ridiculous analogy at the wall:

This is like walking into a public toilet and being mugged because I didn't write a magic symbol on the wall in one of the cubicles. Look at the problem

[2017-10-03 10:52] Nezz opened #7752 "Amazon linux cannot be detected by install script"
## Steps to reproduce
1. Spawn an elastic beanstalk instance with Amazon Linux. Current version is "64bit Amazon Linux 2017.03".
2. `wget https://dot.net/v1/dotnet-install.sh`
3. `bash dotnet-install.sh --verbose`

## Expected  behavior
Install is successful

## Actual behavior
Install fails. Verbose output:
[code]

## Environment data
`dotnet --info` output:
Irrevelant as the issue is with the in

[2017-10-03 11:39] svick commented on #3093
@chrisjsmith Someone (@kstarikov) asked a question, @benaadams provided an answer (AFAICT an accurate one). That's it.

Sure, if you fundamentally disagree with the whole thing, discussion about its technical details is probably irrelevant to you. But that doesn't mean others can't have that discussion or that if they do, they are somehow "evading".

[2017-10-03 12:57] mpforce1 commented on #6770
@dasMulli This issue has not been fixed, please reopen.

[2017-10-03 13:10] dasMulli commented on #6770
@mpforce1 I don't have permissions for that, you should have..
Does the same project build using the msbuild from the VS 2017 developer command prompt?

What now catches my eye is the `E:` program files path path and the `C:` x86 program files path, so it may be interesting which environment variables influence msbuild's lookup. Could yo do a `dotnet msbuild /bl` and upload the resulting `msbuild.

[2017-10-03 13:39] mpforce1 commented on #6770
@dasMulli Oh sorry, I didn't realise you wouldn't have permissions. I don't seem to either so I'm not sure what's wrong.
I don't use VS, I've been using Jetbrains Rider. I'm not sure about the VS 2017 developer command prompt.
[msbuild.binlog.log](https://github.com/dotnet/cli/files/1352459/msbuild.binlog.log)
I wasn't sure how people normally upload `binlog` files so I added a `log` extension. Ho

[2017-10-03 13:57] omajid commented on #3093
Please get involved and ask others from Debian and Ubuntu to get involved in https://github.com/dotnet/source-build/. This is where the work for building .NET Core from source for packaging is taking place.

We dont call any dotnet commands in our installation package steps (https://git.centos.org/blob/rpms!rh-dotnet20-dotnet.git/c7-dotnet/SPECS!dotnet.spec). It just copies files around.

[2017-10-03 14:34] omajid commented on #7752
Does `bash dotnet-install.sh --verbose --channel 2.0` work?

[2017-10-03 14:36] dasMulli commented on #6770
So msbuild expects the reference assemblies to be installed into whatever the 32bit program files is.

Your `ProgramFiles(x86)` environment variable points to `E:\Program Files (x86)`, but the reference assemblies are on your `C:` drive.. Probably installed before you changed this setting?
You could try reinstalling them, making a link or just copying them over..

[2017-10-03 15:07] kstarikov commented on #3093
I guess the issue mentioned [here](https://github.com/dotnet/cli/issues/3093#issuecomment-326327218) for the [OS X postinstall script](https://github.com/dotnet/cli/blob/cda49654dbb7f59a65232d4935fac9526847c680/packaging/osx/clisdk/scripts/postinstall) is that is runs the `internal-reportinstallsuccess` dotnet command, which sends telemetry *before* showing the user the message about `DOTNET_CLI_T

[2017-10-03 15:10] mpforce1 commented on #6770
Reinstalling the targeting pack doesn't seem to change anything. Interestingly, uninstalling it doesn't even seem to remove the assemblies from the C drive. Is there maybe a bug in the targeting pack installer? Is there a registry entry that shows where windows thinks the assemblies are installed?

[2017-10-03 16:04] prafullbhosale commented on #5967
The original issue doesn't have the `Microsoft.VisualStudio.Web.CodeGeneration.Design`  package reference.
The aspnet/scaffolding/issues/601 should only happen if you have this package reference.

[2017-10-03 16:25] sushihangover commented on #3093
FYI: Microsoft

The fact that this is an opt-out vs. opt-in and the opt-out procedure is based upon an env. var. just caused `dotnet` to fail an externally conducted HIPAA privacy/security audit at a genome testing lab in the backyard of your main campus.

Lucky for us, we were able to convert the runtime to use `Mono` and get a temporary pass, but this killed the future CIL-based projects with th

[2017-10-03 16:58] livarcocc commented on #7750
Closing this issue since it seems some progress has been made on the other issue I moved to aspnet/entityframeworkcore and this issue here is not actionable.

[2017-10-03 16:58] #7750 closed

[2017-10-03 17:03] livarcocc commented on #6770
I re-activated, but @dasMulli is right. I am not sure what else we could do here.

[2017-10-03 17:12] livarcocc commented on #7726
This issue was moved to dotnet/corefx#24402

[2017-10-03 17:12] #7726 closed

[2017-10-03 17:17] livarcocc commented on #6699
Seems like this issue has been resolved. Closing.

[2017-10-03 17:17] #6699 closed

[2017-10-03 17:22] mpforce1 commented on #6770
Copying the reference assemblies over to the E drive makes the build work. I'm not exactly happy with this solution but I'm convinced that this isn't a dotnet cli issue. Thanks for helping me.

[2017-10-03 17:22] #6770 closed

[2017-10-03 17:35] Nezz commented on #7752
@omajid No, that doesn't work either. The download link construction fails no matter what parameters are used.

[2017-10-03 17:53] johnbeisner commented on #7752
@omajid
Please provide the output to the call: "dotnet-install.sh --verbose --channel 2.0"

[2017-10-03 18:17] johnbeisner commented on #7752
@Nezz
Please provide the output to the call: "dotnet-install.sh --verbose --channel 2.0"

[2017-10-03 21:42] #7722 closed

[2017-10-03 21:44] livarcocc commented on #6723
@enricosada we are not servicing 1.0.0 or 1.0.1 anymore. Instead, we are servicing 1.1.0 from now on. Though, with 2.0.0 release and backwards compatible with 1.0 projects, do we still needs this fix for 1.1.0? If not, I would like to close this issue.

[2017-10-04 02:44] pichasepongc-tit opened #7758 "help me"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:
![2017-10-04_9-41-34](https://user-images.githubusercontent.com/19162319/31157945-918c2e3e-a8e8-11e7-8c75-46f7a0a8fbb2.jpg)
![2](https://user-images.githubusercontent.com/19162319/31157953-98f6229c-a8e8-11e7-9144-dba2fec9c363.jpg)
![3](https://user-images.githubusercontent.com/19162319/311

[2017-10-04 03:25] davidfowl commented on #7758
Can you fill in the bug details?

[2017-10-04 03:33] pichasepongc-tit commented on #7758
Yes,
The project is Load Fail.
Before Installed DotNetCore.1.0.0-SDK.Preview2-x64 And Add File global.json
It's still a problem.

[2017-10-04 03:39] davidfowl commented on #7758
There isn't enough information to help you.

[2017-10-04 03:58] pichasepongc-tit commented on #7758
i open Project Successful ,But
![2017-10-04_10-58-04](https://user-images.githubusercontent.com/19162319/31159414-02073c12-a8f3-11e7-8657-eb815ee0c981.jpg)

[2017-10-04 04:11] davidfowl commented on #7758
Sure, but you haven't provided anything but dialogs. Let me try to diagnose your problem with the limited information I have:

- Try uninstalling all versions of .NET Core
- Updated to VS 2017 then install .NET Core 1.0.0, don't use the unsupported preview versions https://www.visualstudio.com/downloads/.
- Delete your global.json

See if that works.

[2017-10-04 04:24] dasMulli commented on #6770
Another workaround would be to set the [`ReferenceAssemblyRoot` environment variable](https://github.com/Microsoft/msbuild/blob/538c23ba9f9e63858ce6f51f6742ae36651ec0e9/src/Shared/FrameworkLocationHelper.cs#L859) to the full path to `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework` on your system.

[2017-10-04 05:02] sheltonc opened #7759 "dotnet pack produces an invalid symbols package under linux"
The following repository contains scripts and a sample project to reproduce the issue. You will need docker installed.

https://bitbucket.org/sheltony/dotnetpackbug

The sample dotnet project contains two classes
- dotnetPackBug.Class1
- dotnetPackBug.Namespace.Class2

To run this, just execute **run.ps1**

You'll end up with two folders **WindowsOut** and **LinuxOut**, Each of which will have **d

[2017-10-04 05:23] robertmuehsig commented on #7290
The issue is not fixed in dotnet 2.0.0 - I'm having the same problem.

[2017-10-04 07:07] Nezz commented on #7752
@johnbeisner There you go:
[code]

[2017-10-04 07:14] JohnRusk commented on #7588
Just a note of another side effect of this issue.  The scripts recently started checking another dependency (libcurl).  For the users of my app, I'd written up instructions on how to install the necessary prerequisites. Now, there was a new prerequisite, not listed in my instructions. So bang!, the dotnet install script exited and closed their shell.

In other words, this issue magnifies the effec

[2017-10-04 08:26] pichasepongc-tit commented on #7758
if use VS 2015, How to Problme

[2017-10-04 09:32] vshapenko opened #7760 "dotnet new does not consider local nuget.config"
## Steps to reproduce

1. Configure some nuget sources in visual studio(2015,2017, no matter).
2. Create an empty folder.
3. Create nuget.config with a following content:
[code]

As we see, all other sources except nuget.org should be removed

4. Run, for example , dotnet new -i "giraffe-template::*" in folder.
5. See the message (something like this):

  Retrying 'FindPackagesByIdAsyncCore' for s

[2017-10-04 14:54] benknoble commented on #5281
Hoping someone can help here... I can't figure out why `cp` is failing.
The line being executed is something like
[code]
which is reporting this error in the tests
[code]

However, a simple attempt to repro that (make a directory with some files and an empty directory, then copy the a .txt file over using similar command line) isn't failing. If the directory to copy to doesn't exist, we should get

[2017-10-04 15:37] dagood commented on #5281
The problem is quoting `$override_switch`. When it's the empty string (rather than `-n`), `cp` receives it as another file arg. Try this for a repro in an empty dir:

[code]

`set -x` is very useful for diagnosing this kind of thing. For that `cp "" test.txt d/test.txt`, it makes the shell echo `+ cp '' test.txt d/test.txt`.

Not quoting there is probably the desired behavior, since it lets you pa

[2017-10-04 16:05] benknoble commented on #5281
Makes sense. Thanks

[2017-10-04 16:06] khyperia commented on #7752
Went to report a similar issue, but this one may be related. I am on an unofficially-supported distro (Arch Linux), and the script fails to fall back to RID `linux-x64`. I know for a fact dotnet-install used to work correctly and fall back, but no more. Specifying `--runtime-id linux-x64` is a workaround for now, but it would be nice if this was fixed. (There is code in the script to fall back, it

[2017-10-04 19:57] Nezz commented on #7752
Looking at our build server I can tell that it actually worked on `2017.09.25. 12:50` and started failing on `2017.09.27. 11:35` (UTC).

[2017-10-04 20:26] livarcocc commented on #7760
This issue was moved to dotnet/templating#1266

[2017-10-04 20:26] #7760 closed

[2017-10-04 21:28] livarcocc commented on #7758
This seems like you are trying to use VS2015 with a version of dotnet core that is higher than 1.0.0-preview2. That will not work. The last version of the CLI that supported VS2015 with project.json was 1.0.0-preview2. You cannot move to a higher version while working with the combination above.

[2017-10-04 23:18] livarcocc commented on #6723
Awesome, thanks for letting us know.

[2017-10-04 23:18] #6723 closed

[2017-10-05 00:42] cartermp opened #7761 "Merge latest F# bits in 15.5 branch"
This is a tracking bug.  @KevinRansom recently fixed a bug in assembly resolution which was resulting in a StackOverflow exception: https://github.com/Microsoft/visualfsharp/pull/3658

[2017-10-05 01:52] asyncx opened #7763 "dotnet store command fails for linux-arm"
## Steps to reproduce

Create a `packages.csproj` file with the following content

[code]

Then run `dotnet store` on the file like so

[code]

## Expected  behavior

Command finishes successfully and the `my-store` folder is populated with the specified runtime assemblies and artifact file.

## Actual behavior

Command produces the following output and no assemblies are saved to the folder

[code

[2017-10-05 03:37] pichasepongc-tit commented on #7758
Thank too @davidfowl  and @livarcocc

[2017-10-05 03:38] andrewsav-datacom commented on #6178
@mkoertgen The way I read this thread is that the visual studio functionality is not intended to work with dotnet core cli. The workaround resolves the inability to build the solution by skipping the docker compose project in it. Of course you cannot *run* it after this because it simply has not been built.

[2017-10-05 13:56] wojciechrak opened #7764 "nuget push can't handle paths with forward slash on windows"
## Steps to reproduce
`nuget push C:\dev/nugets\*.nupkg`

## Expected  behavior
All packages in directory C:\dev\nugets are pushed to nuget repository.

## Actual behavior
Error is returned
`File does not exist (c:\dev/nugets\*.nupkg).`

## Additional notes
`nuget pack -OutputDirectory C:\dev/nugets\` or `nuget pack solutiondir/projectdir/project.csproj` work correctly
I am using standalone nuget.

[2017-10-05 15:45] RheaAyase commented on #7438
I'd like to pitch in and suggest a perfect solution, as dotnet-sig lead on Fedora.
Stop building your packages and point to ours instead.
**=)**

---

To install dotnet on Fedora, built on Fedora, by Fedora (RedHat) people:
`$ sudo dnf copr enable @dotnet-sig/dotnet`
`$ sudo dnf install dotnet-sdk-2.0` (or runtime, etc)

Makes everything simple. `dnf update` does it's job, etc...

Note that copr i

[2017-10-05 16:22] livarcocc commented on #7764
This issue was moved to NuGet/Home#5992

[2017-10-05 16:22] #7764 closed

[2017-10-05 16:29] livarcocc commented on #7758
It seems like the issue has been addressed, from your comment above, so I am closing this issue. If that's not the case, please just comment and say so and I will re-activate it.

[2017-10-05 16:29] #7758 closed

[2017-10-05 16:29] danielzoeller opened #7765 "Can't build dotnet core 2.0 console apps after reinstall"
## Steps to reproduce
I previously had dotnet 2.0 and VS 2017 installed and working fine.  I had to do a system restore on my surface pro and then VS 2017 stopped working.  I uninstalled VS 2017 and dotnet core.  Then reinstalled both but I specifically can't get dotnet core 2.0 console apps to build.  Strangely enough, asp.net core 2.0 apps seem to be working just fine.  Also, I can build console

[2017-10-05 16:31] livarcocc commented on #7765
Can you try cleaning up that temp folder and doing a build again? Does it work if you build from the command line?

[2017-10-05 16:50] danielzoeller commented on #7765
Thanks for the quick reply.  Looks like I get the same output after trying your suggestion.

- Cleaned up my temp folder
- dotnet restore
- dotnet build

Same error :(

Any other ideas?

[2017-10-05 16:59] livarcocc commented on #7765
Can you run your build command with /bl:log.binlog to generate a binary log of your build and share that here?

[2017-10-05 17:03] danielzoeller commented on #7765
Attached.  Had to add .txt so that it would work on here.

[log.binlog.txt](https://github.com/dotnet/cli/files/1360229/log.binlog.txt)

[2017-10-05 20:14] wessiyad commented on #6516
@livarcocc how do I install the asp.net core runtime store?  I followed these instructions to install the .net core 2.0.0 runtime on Ubuntu: https://www.microsoft.com/net/download/linux

However I'm seeing this error when I run `dotnet xxx.dll `

Error:
  An assembly specified in the application dependencies manifest (xxx.deps.json) was not found:
    package: 'Microsoft.ApplicationInsights.AspNet

[2017-10-05 20:55] livarcocc commented on #6516
@JunTaoLuo @leecow can you provide instructions on how to install the store separately?

@wessiyad if possible, you can just install the SDK, which will bring the store with it.

[2017-10-05 21:08] leecow commented on #6516
The aspnetcore-store-2.0.0 package should be available in all of the feeds (just feeds the rpm and xenial feeds). `sudo apt-get aspnetcore-store-2.0.0` on Ubuntu.

[2017-10-05 21:11] JunTaoLuo commented on #6516
You can install the runtime store by itself on ubuntu via `sudo apt get install aspnetcore-store-2.0.0`. This part of our documentation is poor and we should update this somewhere.

However this isn't the expected mechanism for acquisition on Ubuntu. The runtime and runtime store are packaged into "Linux Server Hosting" installers with the package name `dotnet-hosting-2.0.0`. Those were built for

[2017-10-05 21:13] leecow commented on #6516
Looks like an oversight on my part. Will need to add them to the release list.

[2017-10-05 21:42] cartermp commented on #7761
@brettfo will be taking care of this in tandem with our insertion of F# tools for Preview 2

[2017-10-05 22:05] Petermarcu opened #7769 "Easy Acquisition via scripts and stable links"
@tannergooding filed a great issue over here: https://github.com/dotnet/core/issues/483

It hasn't been tracked because thats not a product repo but we should come up with a good plan across the board for how it should work.

@richlander @leecow @KathleenDollard

[2017-10-05 22:19] leecow commented on #7769
A start for the metadata can be seen in https://github.com/dotnet/core/blob/master/release-notes/releases.json. I need to make some schema adjustments but that's the idea.

[2017-10-05 22:44] Petermarcu opened #7770 "Cannot target portable or sl5"
@tpluscode opened this issue here: https://github.com/dotnet/core/issues/968

It's impossible to target some framework version (in my case portable or sl5) without adding a full framework too.

# General

In one project I multi-target for a wide variety of frameworks including Silverlight 5, .NET 3.5 and portable. It worked fine in .NET 1.1 SDK. Here's an example project file.

[code]

Not sure wh

[2017-10-05 23:09] #7691 closed

[2017-10-06 01:33] Petermarcu opened #7774 ".NET Core 2.0 SDK Build fail"
@wh1sp3r opened this issue here: https://github.com/dotnet/core/issues/946

Hello,
I updated my SDK to version 2.0 and I am not able to build my project for Framework 4.6.
I am using Microsoft.AspNetCore libraries in version **1.1.3**.

Output:
[code]

Well, my app.config is not used and is almost empty
`<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
`

[2017-10-06 07:51] alasdaircs commented on #5498
@VictorioBerra WebPack has its own webserver - we do all the dev & debugging on that with live-reload. The release Gulp is only required on publish, and we publish to test or staging.

[2017-10-06 14:09] nwoolls opened #7776 "Error publishing a project containing web.config in a path with pound / hash sign"
Attempting to publish a project with a `#` in the path that contains a `web.config` results in an error.

## Steps to reproduce

[code]

## Expected  behavior

Project should publish successfully. This worked with .NET Core 1.0 tooling.

## Actual behavior

[code]

This seems like a regression in .NET Core 2.0

## Environment data
`dotnet --info` output:

[code]

[2017-10-06 16:03] Petermarcu opened #7777 "Running test using .net core CLI on Mac crashes"
@m2b commented on [Thu Apr 20 2017](https://github.com/dotnet/core/issues/599)

**Here is the simple test project code**

using System;
using Xunit;

namespace ITVizion.ActionBoard.RepositoryInMemory
{
    public class Test
    {
        [Fact]
        public void Test1()
        {
            Assert.Equal(1,1);
        }
    }
}

===================================================================

[2017-10-06 16:08] Petermarcu opened #7778 "Network compile for IoT"
@Lewiscowles1986 commented on [Mon Mar 13 2017](https://github.com/dotnet/core/issues/549)

It would be really great to be able to cross-compile for IoT & low-power devices using the network. Any machine reachable by standard SSH has the ability to run commands and to send files. It's obviously a power-user feature but it'd be nice to be able to register another local PC as a build box, have a pro

[2017-10-06 16:16] livarcocc commented on #7777
This issue was moved to dotnet/core-setup#3279

[2017-10-06 16:16] #7777 closed

[2017-10-06 17:31] Petermarcu opened #7779 "Publish dotnet core SDK to Chocolatey"
@JeffJacobson commented on [Mon Aug 14 2017](https://github.com/dotnet/core/issues/829)

Publish the .NET Core 2.0 SDK to Chocolatey repository.

Responding to [blog](https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/) comment by @richlander

---

@crmckenzie commented on [Tue Aug 15 2017](https://github.com/dotnet/core/issues/829#issuecomment-322503373)

I'd love to see t

[2017-10-06 18:14] Petermarcu opened #7781 "Running any command in 2.0 causes trackpad to switch to 'scroll history'"
@mattcanty commented on [Thu Aug 24 2017](https://github.com/dotnet/core/issues/894)

I am - albeit experimentally - using Cloud9 IDE. I have just installed the latest version of .Net Core, and pulled down a repository I know works locally.

When I run any `dotnet` command, the terminal settings change. The trackpad begins scrolling through the command history instead of _normal_ scrolling.

Not s

[2017-10-06 18:23] Petermarcu opened #7782 "publish command with -o directive creating directories nested recursively"
@randolfrf commented on [Tue Aug 22 2017](https://github.com/dotnet/core/issues/885)

# Publish command with -o directive creates nested directories at the -o target

I have a brand new asp.net core 2 mvc web project. When I run:

`$dotnet publish -c release -o ./app/compiled`

App is built in release mode and published to /app/compiled. Everything works fine. I have the following structure:
..
/a

[2017-10-06 18:30] dasMulli commented on #7782
I believe this came up before but can't find the issue now.

The reason is that when you publish into a sub-directory of a project, the publish output becomes part of the project automatically. So if you publish `foo.json` to `app/foo.json`, then the next publish call will include `app/foo.json` and publish it to `app/app/foo.json` and so on.

[2017-10-06 18:33] livarcocc commented on #7779
We currently have no plans to support chocolatey ourselves. We encourage the community to do so, in this case.

[2017-10-06 18:33] #7779 closed

[2017-10-06 18:36] livarcocc commented on #7774
@wh1sp3r Can you share a repro of your issue with us?

[2017-10-06 18:40] Petermarcu commented on #7779
Note that the community already has this: https://chocolatey.org/packages/dotnetcore-sdk

[2017-10-06 18:41] #5281 closed

[2017-10-06 18:45] livarcocc commented on #7776
This issue was moved to aspnet/websdk#243

[2017-10-06 18:45] #7776 closed

[2017-10-06 18:48] #4660 closed

[2017-10-06 19:13] nwoolls opened #7783 "Fail to build project with transitive project references when specifying absolute path"
`dotnet build` fails to build a project if

* the absolute path is passed to the command
* and the project has transitive project references

## Steps to reproduce

[code]

Add the following reference to `ProjectA.csproj`:

[code]

Add the following reference to `ProjectB.csproj`:

[code]

Execute the following at the command-line:

[code]

## Expected  behavior

[code]

The expected behavior was

[2017-10-06 19:41] nschwerzler commented on #7657
Here is the pull request for response file support. It should be easy to move this code into dot.exe (and unit tests). This provide great flexibility when dealing with long command lines and command line profiles in automated build tool suites.
https://github.com/NuGet/NuGet.Client/pull/1735

[2017-10-06 19:50] ravipal commented on #5967
@livarcocc Yes it still happens.
Again, the repro steps are
1. Open the project \\\\scratch2\scratch\ravipal\share\5967 in VS 2017 and let it migrate.
2. Build.

[2017-10-06 20:12] Petermarcu commented on #7570
@livarcocc are there instructions on how to do that?

[2017-10-06 20:14] Petermarcu commented on #7570
Beyond dropping to the command line, is there a way to make the tests in the IDE run against the published output?

[2017-10-06 20:42] livarcocc commented on #7570
Not that I know of, but I will move this to the vstest repo and they should be able to say for sure.

[2017-10-06 21:49] Petermarcu opened #7784 "Invalid .csproj.nuget.g.props file generated on dotnet restore on Linux"
@AnisAli commented on [Mon Sep 11 2017](https://github.com/dotnet/core/issues/960)

# invalid csproj.nuget.g.props file generated by dotnet restore on Linux

I do have binary zip file and want to pack that zip file in nupkg as content therefore I am adding my binary file as content in csproj file

**basicmodule.csproj**

[code]

after packing basicmodule.csproj  getting nuget package "basicmodule.

[2017-10-06 21:50] Petermarcu commented on #7784
Moved this here for now. Not sure if NuGet is a better place or not...

[2017-10-06 23:22] dsplaisted commented on #7782
By default the contents of your project folder are part of your project, which is what's causing the items under `app` to be published.  Some information about this is here: https://docs.microsoft.com/en-us/dotnet/core/tools/csproj

To avoid including the published app as source for the next publish of your project, add the following to a `PropertyGroup` in the project file:

[code]

This will exc

[2017-10-07 00:22] livarcocc commented on #7782
Thanks @dsplaisted , this behavior is expected and we have a way to disable it as explained above. As such, I am closing this issue. If the solution above does not work for you, please comment and I will re-activate the issue and continue the discussion.

[2017-10-07 00:22] #7782 closed

[2017-10-07 00:28] ahsonkhan commented on #7726
Renaming the folder does not work. I still see restore failure:
https://github.com/dotnet/corefxlab/pull/1826
https://ci.dot.net/job/dotnet_corefxlab/job/master/job/osx10.12_release_prtest/833/consoleFull#7440085258bb52e59-de52-4f1c-b131-470db4c594cd

[2017-10-07 00:36] livarcocc commented on #7726
Because you also need to change how you are invoking dotnet:

[code]

This time it failed because it could not find a the file under ./dotnet/dotnetcli. And it won't because you renamed that folder.

[2017-10-07 00:37] livarcocc commented on #7765
Sorry for the delay in replying back, haven't had time to take a look at the log yet. Will try to see if anything comes up now.

[2017-10-07 00:40] ahsonkhan commented on #7726
Ah yes. Good catch. Tyvm.

[2017-10-07 01:28] livarcocc commented on #7765
Ok, here is what I think happened, for some reason, you nuget cache under `C:\Program Files\dotnet\sdk\NuGetFallbackFolder` seems to be broken. Can you please navigate to that location and check the contents of `C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.netcore.app\2.0.0\ref\netcoreapp2.0` and check what you have in there? You should have a bunch of dlls in it.

I am not sure how t

[2017-10-07 01:30] livarcocc commented on #7770
@dsplaisted can you please take a look?

[2017-10-07 01:37] livarcocc commented on #7643
It needs to evaluate the dependencies that we can discover what we need to copy to the final output of the project. I don't see how to get around that.

[2017-10-07 11:30] danielzoeller commented on #7765
Looks like this works!  Thank you so much for your time and expertise!

For posterity here is exactly what I did:

1. Uninstalled the entire .net core 2.0 library
2. Deleted (renamed actually, just to be safe) the entire NugetFallbackFolder
3. Reinstalled .net core 2.0
4. Ran a restore command on my project
Then the build worked!

Thanks again,
Dan

[2017-10-07 11:30] #7765 closed

[2017-10-07 15:46] Petermarcu opened #7786 "System.IO.FileNotFoundException when using PrivateAssets = "All""
@KshitizGIT commented on [Sun Sep 03 2017](https://github.com/dotnet/core/issues/933)

I have a project layout like this.

Assembly A -> Assembly B -> Assembly C.

Program lives in Assembly A.
ClassB lives in Assembly B.
ClassC lives in Assembly C.

I don't want AssemblyC to be directly accessible in AssemblyA. So I added   PrivateAssets = "All" in the ProjectReference element in the AssemblyB.csp

[2017-10-07 19:35] Leoat12 opened #7787 "Cannot run application in another machine due to wrong path for dependencies."
## Steps to reproduce

1) Create a project with the following .csproj.

[code]

2) Use the following commands:
[code]

3) Execute the program on Ubuntu machine.

## Expected  behavior

The applications is run successfully.

## Actual behavior

It throws an error:
`Error:
  An assembly specified in the application dependencies manifest (Twitter.deps.json) was not found:
    package: 'Autofac', vers

[2017-10-08 00:45] maikebing commented on #7737
executable file “”dotnet”,'dotnet.exe' looks like "java.exe" "jave", It is freak,Whether it is linux or windows, the process is a bunch of dotnet or java,After the deployment of dozens of folders or even hundreds of dll.

[2017-10-08 04:37] livarcocc commented on #7787
When you publish as a runtime specific app, all your dependencies should be copied to the publish folder: `bin/<configuration>/<target framework>/<runtime identifier>/publish`, for instance `bin/debug/netcoreapp2.0/ubuntu.16.04-x64/publish`. You should copy the whole content of the publish folder in order to run the application and you should invoke it by running <app_name>.

The runtimeconfig.dev

[2017-10-08 05:20] nguerrera commented on #7592
Closing since the websdk behavior is by design. You can override it as @dasMulli has shown.

[2017-10-08 05:20] #7592 closed

[2017-10-08 09:48] vvgrad commented on #3286
I use Asp.net Core 2 and after publish VIEWS folder is no. I written publishOption in project.json and appsettings.json but it not help. I tested the Asp.net Core 1.1 project and after publish the VIEWS folder is always. (by Default). What do I need to do to make the Views folder public?

[2017-10-08 09:55] dasMulli commented on #3286
@vvgrad asp.net core 2 doesn't really work with `project.json`. Upgrade to VS 2017 / csproj (`dotnet migrate`) to get a supported version of the tooling.

That aside, the default for publish now precompiles the vies to an additional .dll file and does not publish the `.csproj` files.

[2017-10-08 12:19] dasMulli commented on #7737
Also related:

1. [CoreRT project](https://github.com/dotnet/corert) which aims to create standalone native executables
2. https://github.com/dotnet/announcements/issues/30 IL Linker to create a minimum deployment (addressing the "hundreds of dll" issue).

[2017-10-08 12:38] maikebing commented on #7737
@dasMulli
There is no IDE support for corert or  il link  and hav't anything  options in IDE!

It seems that Microsoft did not think good? Or can not publish?

[2017-10-08 15:26] Leoat12 commented on #7787
I copied the entire ubuntu.16.04-x64 folder content as showed in the print below.
![capture](https://user-images.githubusercontent.com/5158198/31318126-6094cc9e-ac23-11e7-8f69-162d53434a52.PNG)
And then I run it on the Ubuntu machine as normal and the error comes.
![capture2](https://user-images.githubusercontent.com/5158198/31318132-8338a6a8-ac23-11e7-94f6-4235d7462db7.PNG)
Here is the publish fo

[2017-10-08 19:48] vvgrad commented on #3286
Clarify please!
I Can't  In Asp.net Core 2 include VIEWS Folder (for IIS Published) ?
I need include a folder VIEWS so that I can edit some an views files after published.

[2017-10-08 20:01] dasMulli commented on #3286
Yes that is the default, since the files aren't usually edited after development and startup times can be improved by precompilation.

You can disable this by putting the following snipped in your `.csproj` file:
[code]

[2017-10-08 22:51] livarcocc commented on #7787
You need to run it from the publish folder. Also, you just need to copy the publish folder.

For instance, cd into `~/Downloads/ubuntu.16..04-x64/publish`and then run ./Twitter.

[2017-10-09 03:00] felpel opened #7788 "dotnet restore fails with private feeds on MacOS Sierra"
## Steps to reproduce
- Create a private feed on VSTS;
- Clone VSTS' Git repository;
- Configure `NuGet.config` accordingly:
[code]
- Call `dotnet restore`

## Expected  behavior
I should be able to restore my private feeds' packages. It works fine in a similar Windows environment.

## Actual behavior
I'm unable to restore packages from our private VSTS feeds when I call `dotnet restore`:

[code]

[2017-10-09 03:13] Leoat12 commented on #7787
It worked, sorry for the huge mistake, I looked the documentation and other source and didn't find what was going on. Thanks for the help and patience!

[2017-10-09 05:50] vvgrad commented on #3286
dasMulli , Thank you so much!!!!
I didn't know about "MvcRazorCompileOnPublish" parametr.

[2017-10-09 09:21] dasMulli commented on #7563
The problem is that NuGet and MSBuild come to a different conclusion about whether or not the project is actually multitargeting, causing the build to behave incorrectly.
Though this configuration is unlikely to happen, it would be a nice-to-have if this was either made an error or changed on the NuGet side..

[2017-10-09 09:22] Mo2men20 commented on #5144
I restarted VS and it worked fine.

[2017-10-09 10:53] evil-shrike opened #7791 "[build] Passing a property (/property) with multiple values to msbuild isn't working"
I need to pass values for [`NoWarn` option](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/nowarn-compiler-option) to C# compiler. Previously with msbuild it was being passed as property:
[code]

But with dotnet cli it doesn't work anymore.
I tried both `build` and `msbuild` commands.

## Steps to reproduce
[code]
or
[code]
or
[code]

all result in
[code]
With `

[2017-10-09 15:19] jhudsoncedaron commented on #7643
Easy. Open <outputdllname>.deps.json.

[2017-10-09 15:59] chrisjsmith commented on #3093
@sushihangover this is exactly what I was whining about earlier. There are security policies that this will violate simply for existing.

Now you already screwed windows phone into the ground, let's not do the same with the CLR. It's not like I didn't invest 15 years of my life in the product...

[2017-10-09 17:00] livarcocc commented on #7788
This issue was moved to NuGet/Home#6003

[2017-10-09 17:00] #7788 closed

[2017-10-09 17:18] #7787 closed

[2017-10-09 18:03] tarurar commented on #6225
@esquivalient, can I make it globally? it works only until restart, then I need to execute this command again.

[2017-10-09 18:54] nathan-alden-inl commented on #3093
@chrisjsmith I appreciate your passion. I just read your comment on HN and wanted to say I'm equally frustrated about this decisions and others like this. Microsoft, we're talking about _command-line tooling for an application stack_. There is simply no excuse for this decision. Adopt a policy consistent with how other major vendors like Mozilla expose data collection: opt in only.

As a matter of

[2017-10-09 19:33] jpierson commented on #5576
I ran into the same error. Interesting thing is that it doesn't work when running from powershell either. Or perhaps the cmd issue is something run from within `dotnet run`? Either way it would be great that if this cli command isn't supported for UNC paths to see a better message to the user along those lines to help gently guide them into working around the issue without resorting to google.

[2017-10-09 20:42] johnbeisner opened #7793 "CLI and the Transport Feed"
Four steps to complete moving the CLI to the Transport Feed:
- [x] 1. Use the Transport Feed as the default feed
- [x] 2. Publish the CLI NuGet packages to the Transport Feed
- [ ] 3. use the transport feed exclusively - requirement: all dependencies are publishing to the new feed
- [x] 4. Stop publishing the CLI NuGet packages to MyGet

[2017-10-09 20:57] spottedmahn commented on #6773
I too am facing the same problem.  I don't understand why it wouldn't try the next `source`? I even re-order them in VS to put nuget.org on top and it still failed.

![image](https://user-images.githubusercontent.com/14079228/31358267-e28b77da-ad12-11e7-9bd5-544ce6a160dc.png)

[2017-10-09 23:06] livarcocc commented on #7786
This is a scenario that is currently not possible. I have marked it for 2.1.0.

[2017-10-10 04:28] voronoipotato commented on #3093
Microsoft let the train go off the rails again in open source. Their understanding of consent, dialogue, and community really needs to develop or nobody is going to want to work with them. They're going to see Microsoft as the place who can't even cope with free labor.

[2017-10-10 05:01] jtsagata commented on #3093
Is there any good fork out there without this crap ?

[2017-10-10 05:08] sushihangover commented on #3093
@richlander @terrajobst @migueldeicaza

As a followup to my last [post](https://github.com/dotnet/cli/issues/3093#issuecomment-333896396), got the word today that since the `dotnet` runtime will not allowed to be used in production, the `Xamarin.iOS` associated project is also dead as any C#/F# code sharing with the backend is now gone.

This *was* a 25K participant (patients/researchers/doctors)

[2017-10-10 05:15] benaadams commented on #3093
Build a standalone/self-contained app (which the `dotnet` cli allows you to do) with your dev or build server, then you don't even need the dotnet cli installed on you production machines and there is no telemetry to opt out of

[2017-10-10 05:42] sushihangover commented on #3093
@benaadams Thanks for the reply, but a static `publish` does nothing for this project as the `F#` genome models are dynamically created/compiled based upon the researchers and doctors queries against the patient's records.

They are taking TBs of graph structured data and morphing it into mobile friendly data that can be visualized "on-the-fly", the genetic researchers have designed/modeled this d

[2017-10-10 05:52] raymondSeger commented on #3093
@ghost Finally someone said what everyone else are thinking. <3

[2017-10-10 05:53] raymondSeger commented on #3093
@ghost You just said what everyone else are thinking.

@chrisjsmith *thumbs up*

[2017-10-10 06:00] hardhub commented on #3093
@sushihangover

Can you explain about Xamarin iOS?
Does it have any telemetry as well?
Or is it due to integration and code-base sharing?

[2017-10-10 06:16] sushihangover commented on #3093
@hardhub In terms of Xamarin, it is due to integration and code-sharing only.

Code-sharing was why a Microsoft stack was considered in the first place, each code module (and resulting assembly in this case) has a massive HIPAA, data accuracy, security, etc.. review and audit process attached to it so "code-sharing" would have saved about $400k on the project for the first year and another ~$200k

[2017-10-10 06:46] MaikuMori commented on #3093
I would assume that Microsoft uses .NET Core in their own projects. This should create enough data so that it's not needed to track normal users. At least it would make sense to have opt-in instead of opt-out.

[2017-10-10 07:29] hardhub commented on #3093
@sushihangover

Not sure I understand all exactly... What does "Xamarin" mean here?
Mobile runtimes does not have telemetry (you said that) and SGen is garbage collector that is implemented for Mono. And you have used Mono to pass audit... hmm.

[2017-10-10 07:39] sushihangover commented on #3093
@hardhub Sorry about the confusion (I updated my comment).

`mono-sgen64` via **Visual Studio** calls out to `api.mixpanel.com`

![screen shot 2017-10-10 at 12 36 27 am](https://user-images.githubusercontent.com/1294194/31374543-49dd9b44-ad53-11e7-88ea-78369528297a.png)

[2017-10-10 07:53] chrisjsmith commented on #3093
Can we stop the language games, the different configurations and madness and uncertainty around which bits of the CLR we are using. We’re not lawyers and don’t want to be.

Just remove it.

[2017-10-10 09:07] dasMulli commented on #7791
As a workaround, you should be able to escape the `;` character:

[code]

[2017-10-10 10:41] svick commented on #3093
@sushihangover

Do you actually need the .Net Core CLI for that? If you directly used the F# compiler and possibly MSBuild to compile the models, then I believe there wouldn't be any telemetry.

[2017-10-10 10:57] emente commented on #3093
Opt-In or complete removal.

Everything else is unacceptable.

[2017-10-10 11:35] 4creators commented on #3093
Telemetry issue is becoming really very serious once you get with your project into any kind of protected data. Just receiving IP of machines on which CLI is running violates privacy rules as IP is regarded in most EU countries as personal data - it may allow identification of an individual. Obviously one may **turn it off after install** but since it is set to on during install by default it viol

[2017-10-10 12:07] 4creators commented on #3093
There is an important from the perspective of this thread issue [What is the expected usage of source-built assets?](https://github.com/dotnet/source-build/issues/187) which indicates that every non MSFT distro will be able to patch their **offline** builds which otherwise should be binary compatible with MSFT build. This may solve issue of telemetry in general as it can be removed from CLI code.

[2017-10-10 12:16] b3nt0 commented on #3093
Maybe what MS should do is build a telemetry manager that all of their tools plug into. Then users would have a central place to opt-in or out of telemetry collection for an entire systems.

The people complaining about this are probably the same people complaining about telemetry collection in every product that performs that function. If you centralize it, provide a way for people to inspect wha

[2017-10-10 12:51] migueldeicaza commented on #3093
Mhm I have never heard of mono-sgen64 calling mixpanel.   This must be some third party library, not the runtime.

Got some repro step that shows this?

[2017-10-10 12:54] louislewis2 commented on #4037
Hi is anyone going to look into this issue?
I have had a workaround for this present in my code due to this for more than a year,
I think that is maybe a bit long, just a bit. :)

Thanks

[2017-10-10 12:58] realityexists commented on #3093
@b3nt0 Even if Microsoft implements a tool *they* can re-use to collect telemetry data across all products, I just don't see them building a client tool that makes it easy for the user to opt out for the simple reason that it's not in Microsoft's interest to do so. It's in their interest to make it *possible* to opt out, so the product can be used even in scenarios where telemetry is unacceptable,

[2017-10-10 13:24] markrendle commented on #3093
I'm working on a project related this sort of thing (not .NET specific), and I wondered if the more vocal anti-telemetry posters in this thread could maybe explain to me exactly what concerns them about this type of telemetry collection.

Genuine question, and no personally identifiable data will be collected :wink:

[2017-10-10 13:27] nathan-alden-inl commented on #3093
It's not the telemetry itself, it's:

1. the default being opt-out, not opt-in.
2. their stubbornness against making it opt-in.
3. their attempts to disguise their true motives.

[2017-10-10 13:32] cznic commented on #3093
Because telemetry always collects personal data, unless it calls "home" through some IP anonymizer service, which I doubt is the case.

Disclaimer: I don't use, nor I think I ever will, any MS SW. This thread shows just one of the reasons.

Disclaimer2: I do allow opt-in telemetry by some companies I _do_ trust, when they ask nicely for my opt-in and I think it can be indirectly helpful also for m

[2017-10-10 13:32] markrendle commented on #3093
@nathan-alden-inl But there is obviously some underlying "telemetry considered harmful" attitude, otherwise there would be no problem with it being on by default. There are plenty of things in life that are on-by-default but can be turned off - like the Electronic Stability Control in my car. I'm interested in what people consider to be so bad about seemingly innocuous telemetry that mean it shoul

[2017-10-10 13:33] markrendle commented on #3093
@cznic Why do you have a problem with your IP address being collected? Do you have a problem with it being attached to all your posts in this thread?

[2017-10-10 13:42] cznic commented on #3093
No, why I should? And if I would have a problem with it, I would hide it.

It depends on what one is doing and who collects the data. Especially the later is significant. I share much more than just an IP on Github, they also have my credit card info, for example. I consider Github trustworthy, no bad record I know of. MS? Not so much. (OK, TBH, %0 trustwothiness in my personal opinion.)

[2017-10-10 13:45] dotaheor commented on #3093
@markrendle
it is simple. Telemetry collects data I'm not aware of, but I'm aware of a client-server app will get my ip.
I HAVE TO provide my ip to use a client-server app. It is TOTALLY NOT essential to provide my ip to dotnet cli.

[2017-10-10 13:47] markrendle commented on #3093
@dotaheor What is wrong with a server getting your IP address?

[2017-10-10 13:49] dotaheor commented on #3093
@markrendle it is not problem for a server to get my ip. It is just that the server should let me be aware of it gets my ip.

[2017-10-10 13:50] markrendle commented on #3093
@cznic So for you it is important to easily determine who may and may not collect data at a "corporate entity" level?

[2017-10-10 13:54] markrendle commented on #3093
@dotaheor So if the data could be sent in a way which did not reveal your IP address to the telemeter, you wouldn't mind?

[2017-10-10 13:55] cznic commented on #3093
I see where are you trying to lead me ;-)

Recent illustration: https://betanews.com/2017/10/09/cortana-skype/

[2017-10-10 13:55] migueldeicaza commented on #3093
I looked into this, it is not mono-sgen64 that is calling into MixPanel, it is Visual Studio for Mac that does.   To disable this, go into Preferences -> Other -> Feedback and click to disable the option.

[2017-10-10 13:58] dotaheor commented on #3093
@markrendle

You must be kidding. Here is the "ip" is just an example of some private data.

[2017-10-10 13:59] markrendle commented on #3093
@cznic Not trying to lead you anywhere, just doing some research. Thank you for your answers, very helpful.

[2017-10-10 14:00] dotaheor commented on #3093
@markrendle
to state it again. I don't care about my private data is collected, but I must be aware of what of my private data is collected.

[2017-10-10 14:02] markrendle commented on #3093
@dotaheor OK, thanks, I think I get where you're coming from.

[2017-10-10 14:17] jkoberg commented on #3093
@markrendle did you miss the comments from the poster who's .net-based work in a HIPPA (US health privacy law) regulated project is now cancelled, because they can't permit tools that call home?

"I can't think of why it might be bad" is not a sufficient reason; it's an argument from ignorance.  Trust that it takes the tool out of consideration in high-security environments, and not for personal/m

[2017-10-10 14:29] markrendle commented on #3093
@jkoberg I saw them; I'm currently working in a finance org where the proxy blocks calls to a lot of telemetry servers (and many others: e.g. I can't install VS Code extensions through the application itself) for similar reasons. I appreciate that there are environments where any leakage of any data is in violation of regulations. My interest is in the *individuals* who instinctively resent the co

[2017-10-10 14:36] svick commented on #3093
@dotaheor Do you find [the notice](https://docs.microsoft.com/en-us/dotnet/core/tools/telemetry#disclosure) that's shown in the installer and before the first `dotnet` command is run insufficient? If so, what else can be done to make you better aware of it?

[2017-10-10 14:54] livarcocc commented on #4037
The project.json version of the tools have been out of support for quite some time now. In fact, the 1.0.0-preview2 release was our latest that supported project.json.

Instead, the tooling has moved over to msbuild. I would suggest migrating your project to msbuild. You can learn more about that here: https://github.com/dotnet/cli/blob/master/Documentation/ProjectJsonToCSProj.md.

After that, try

[2017-10-10 15:05] mbrameld opened #7798 "Make telemetry opt-in instead of opt-out"
Should be a very simple fix.

[2017-10-10 15:06] louislewis2 commented on #4037
Hi I should have mentioned, that I am experiencing this issue with the latest bits on core 2.

[2017-10-10 15:23] iigorr commented on #3093
The topic is trending on hacker news right now. https://news.ycombinator.com/item?id=15439001
Stupid decisions which ruin great projects... great job.

[2017-10-10 15:41] benaadams commented on #3093
My understanding, from reading the source, of what is happening

The runtime itself does not send telemetry so you shouldn't be sending any in telemetry production regardless of the environment setting by using the runtime package and running your pre-built app with the shared runtime by doing:

`dotnet my.dll`

This is also confirmed as the [intention from the documentation](https://docs.microsof

[2017-10-10 16:06] livarcocc commented on #4037
Can you give us a csproj based repro?

[2017-10-10 16:21] dotaheor commented on #3093
@benaadams can you make sure set the environment will take effect for the current opened terminal or not?

In my honest opinion, when first time run the cli, the cli should present a [Y/n] choice to user,
instead of letting users to set an environment. If you let you set an environment, the environment
will only take effect from the next time a terminal is opened.

And the user choice should be sa

[2017-10-10 16:47] benaadams commented on #3093
@dotaheor

for bash in linux for current session
`export DOTNET_CLI_TELEMETRY_OPTOUT="1"`
and add same line to
`~/.bashrc`
for future sessions; or whatever's appropriate for shell you use
`~/.profile` for [terminals on Ubuntu desktop](https://help.ubuntu.com/community/EnvironmentVariables) or equivalent for your distro

Windows cmd
Current session
`set DOTNET_CLI_TELEMETRY_OPTOUT=1`
Future session

[2017-10-10 16:50] dotaheor commented on #3093
@benaadams

for bash in linux for current session

I know this. But it doesn't take effect for the already opened terminals.

[2017-10-10 17:20] kspeakman commented on #3093
@markrendle I have a question for you. MS used to have opt-in telemetry for nearly all products. But in the last years has switched to opt-out for basically everything. Why?

You should also review the whole thread for other reasons why people don't like opt-out. It's like taking pictures and video of me and my home without asking. It's like reading someone's text messages over their shoulder. It'

[2017-10-10 17:21] CodeChief commented on #3135
Did this break the design according to https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior ??? The way it works now is very confusing for people trying to upgrade to project references and get rid of legacy project.json and package.config files.

Personally I think the documented design is better with a clear separation of the setting name when used in the solution/p

[2017-10-10 18:03] louislewis2 commented on #4037
@livarcocc Thanks for opening it again.
You can try use the repo below, I can repro it on their consistently.

clone,
restore
run tests

At this point it should be fine, then under src/Innovation.ServiceBus.InProcess/ InnovationRuntime.cs
Comment out lines 72 and 73, build and run tests again, they will now break due to the issue described.

https://github.com/louislewis2/innovation/blob/master/sr

[2017-10-10 18:09] kstarikov commented on #3093
I don't think I'll be able to use .NET Core at work until telemetry becomes opt-in.

[2017-10-10 18:10] louislewis2 commented on #4037
I must say that I miss the previous library implementation, which was replaced by DependencyContext.
What now takes quite a bit of code, used to take a single line. Its quite sad.

[2017-10-10 18:36] oaiey commented on #3093
Thanks @benaadams for the audit.

Regards the HIPAA violation of @sushihangover: I work for a healthcare business. We have 5-7 development stacks, one of them .NET Core. This issue is mitigated very easy and would never give us any troubles.
If the customer jumps off a platform that easy he either does not understand much about software engineering, is ill advised or (worst case) has no idea about

[2017-10-10 18:44] cznic commented on #3093
If a customer jumps on a spyware infested platform that easy she either does not understand much about software engineering, is ill advised or (worst case) has no idea about how to run a business in a regulated environment.

[2017-10-10 19:07] voronoipotato commented on #3093
Let's be clear it's an obvious breach of trust, and anyone working in environments with sensitive data should avoid dotnet core arguably indefinitely. @oaiey it is better to be safe than to be sorry, i'm glad you trust microsoft with your wellbeing but I can't always read every check in to make sure they aren't sliding in telemetry that likely increases the attack surface.

@kstarikov Same, and I'

[2017-10-10 19:17] voronoipotato commented on #3093
@markrendle  "But there is obviously some underlying "telemetry considered harmful" attitude, otherwise there would be no problem with it being on by default."

You have a clear issue understanding consent. Forcing me to drink tea, or trying to pour it in my mouth when I'm sleeping does not mean I object to tea. It means I object to microsoft being slimy and creepy around consent and I will use ot

[2017-10-10 20:33] migueldeicaza commented on #3093
@sushihangover  On MixPanel, we looked into this, and while we used it a few years ago, we do not see traces of it on the source code, or the binaries.   We are puzzled as to where this might be coming from, and wondering if perhaps you have some third-party add-ins installed, or some external tool and perhaps those are using it?

Would love to know how you triggered this.

[2017-10-10 21:01] svick commented on #3093
@voronoipotato

When you go to a concert, do you have to consent to being recorded by a clearly visible camera as [a face in the crowd](https://www.shutterstock.com/image-photo/odessa-ukraine-june-25-2016-crowd-444973378)? I think the situation here is similar to that.

You can decide that this kind of recording of your actions is not okay for you and not use a product that does it. But I don't th

[2017-10-10 22:15] #7798 closed

[2017-10-10 23:26] gregdegruy commented on #6911
GAC is the Global Assembly Cache for those who may not know.

[2017-10-11 00:15] hardhub commented on #3093
And how much minutes is it needed to create table for IPv4 addresses (which are mostly used everywhere.. 80% of all internet users)? Microsoft is kidding us... :)

You can compare concert and platform which will be invested in millions/billions dollars worldwide by software developers and different product vendors... hmm.

I think when you are on concert you know where you are... even when you are

[2017-10-11 04:57] oaiey commented on #3093
@voronoipotato trust is a valid point. However, I trust their commercial interest a lot that they do not do bullshit. A serious HIPAA violation would be e.g. access to patient data. But we are not talking about that here.

Also regards trust: whom should I trust? The Node platform with npm and their packages with anonymous author and missing public repos? The Java platform with their installer? Th

[2017-10-11 05:47] vmachacek commented on #4171
I have same issue, I'm trying to deploy .net core app for **net462** and after installing `DotNetCore.1.1.0.Preview1-WindowsHosting.exe` the iis understands the web.config, and routes the request to the ASP.NET however the ASP.NET core throws an exception.

**FileLoadException: Could not load file or assembly 'System.Runtime, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or on

[2017-10-11 05:50] bryanar commented on #3093
So, it is the case that after a year+ of this going on, that literally nothing of substantive has come from gathering this telemetry. I think it is time for it to go as it is just a leveraging point against dotnet, and does nothing to accomplish the real objective: wide-spread adoption of the CLI. In fact, it can be argued that it is now inhibiting this outcome.

Maybe other CLIs do it, and maybe

[2017-10-11 06:22] RheaAyase commented on #5371
I do not think that this is technically possible _everywhere_ (remember the multi-platform aspect?) Linux permissions.

[2017-10-11 07:13] olejorgensen commented on #3093
Windows 10 is the Miss Piggy Edition of Windows - under all that lipstick it's still just Windows. Kind of fitting that .NET Core also is the Miss Piggy Edition of .NET's

[2017-10-11 07:43] tmds commented on #5371
@RheaAyase Windows has permissions too :smile:

[2017-10-11 08:15] chrisjsmith commented on #3093
@oaiey I think the JVM is clearly the future. You don't need the Oracle installer. It's mature, cross platform, has a wealth of mature libraries, tools and integrations and the build and deployment infrastructure is done and dusted.  You don't have to use Java if you don't want to either. It was the birth place of a lot of the design methodologies and bits of infrastructure that are crudely copied

[2017-10-11 08:47] RheaAyase commented on #5371
@tmds Well, at least we can see how much I know about Windows. :D

[2017-10-11 10:41] markrendle commented on #3093
Interesting aside: I just installed Firefox Developer Edition, from noted privacy stalwarts Mozilla.

Here's the [privacy notice](https://www.mozilla.org/en-US/privacy/firefox/) you get when you first run it:

![image](https://user-images.githubusercontent.com/178242/31435910-126b970c-ae79-11e7-82a3-bf1fe389350d.png)

[2017-10-11 10:49] markrendle commented on #3093
Unrelated to my project research, but another thing occurred to me.

In the UK (where I live) we are changing to an opt-out model for organ donation. The rationale is that most people think that organ donation is a positive thing and are not opposed to it, but never get around to opting-in for it. By making it opt-out, the (estimated) minority who&mdash;for whatever reason&mdash;want to hold on to

[2017-10-11 10:51] kstarikov commented on #3093
But it looks like 'few' prefer opt-out telemetry in dotnet while 'many' want it to be opt-in or nonexistent.

[2017-10-11 10:56] markrendle commented on #3093
@kstarikov Can you link me to your statistical source on that?

[2017-10-11 11:39] dazinator commented on #3093
@markrendle - Perhaps Microsoft could gather some telemetry for you to use as a statistical source on this question. The installer and cli can have its message changed - "those that prefer an opt-in for telemetry should add an environment variable "I-PREFER-OPTIN" but leave telemetry enabled. Then the telemetry can call home with the value of that variable - and voilla you have a statistical sourc

[2017-10-11 11:40] dazinator commented on #3093
@markrendle - because the only answer for unknown questions is obviously more telemetry at this point :-)

[2017-10-11 11:46] markrendle commented on #3093
@dazinator I think they have, indirectly: the number of people using the `dotnet` SDK, minus the number of dissenters. Obviously that will not return a completely accurate number, since the subset of dissenters will probably have turned it off, so their numbers won't be included in the telemetry, but I'd hazard a guess that it would be within the margin of error anyway.

[2017-10-11 11:55] markrendle commented on #3093
@kspeakman

They probably read [Nudge](https://en.wikipedia.org/wiki/Nudge_(book)), by newly-minted Nobel Laureate Richard H. Thaler.

[2017-10-11 11:55] dazinator commented on #3093
@markrendle - How do you indicate that you are a dissenter? Microsoft love environment variables for yes no questions, so I propose we stick to these now for consistency. Keep the users happy.

[2017-10-11 12:05] markrendle commented on #3093
@dazinator You post in this issue or participate in HN threads.

[2017-10-11 12:06] markrendle commented on #3093
@dazinator My point being, most people *just don't care*.

[2017-10-11 12:37] dazinator commented on #3093
@markrendle - I agree to a degree. The fact that most people are simply _compliant_ though, doesn't mean you can use them as statistical weight for the support of telemetry on by default. If you did the same analysis by looking at how many people posted on the original github issue for the telemetry feature in the first place, you will find that - most people _just don't care._ about telemetry ful

[2017-10-11 12:39] rbq commented on #3093
@ghost Thanks for bringing this up. I was actually tempted to give .NET a try before I read this.

[2017-10-11 12:54] markrendle commented on #3093
@dazinator I just think the absolute numbers for "the carers" are so vanishingly small compared to the overall numbers shown in the telemetry that, given the value the telemetry itself provides to the teams, it's deemed not to be an issue (pun intended).

If anybody wants to prove this wrong, and that a significant number of people really do care about this, then some sort of online petition might

[2017-10-11 13:07] h3smith commented on #3093
If that is your metric for "carers" then _no one cares about dotnet core_. **This** is one of the most commented on Issues in all of the dotnet repos (outside of the technical issues soliciting technical feedback), _**it is the most commented issue**_.

To say not enough people have engaged when it is clearly driving some of the most engagement is ignoring the issue because it isn't convenient.

[2017-10-11 13:21] markrendle commented on #3093
@h3smith To put this in perspective: 142 people have 👍 the opening comment in this issue.

The telemetry shows more than 150,000,000 data points regarding [operating system version distribution](https://blogs.msdn.microsoft.com/dotnet/2017/07/21/what-weve-learned-from-net-core-sdk-telemetry/#operating-system-version-distribution).

[2017-10-11 13:33] chrisjsmith commented on #3093
Lots of people smoke. Look where that got us.

[2017-10-11 13:54] h3smith commented on #3093
So you are conflating people bringing up an issue with **_automatically configured and enabled telemetry_** is less of an issue because of the number of metrics gathered by **_automatically configured and enabled telemetry_**?

I don't even know where to begin if that is the dismissive stance you take, because they have nothing to do with one another, other than it is on by default when installed

[2017-10-11 14:01] markrendle commented on #3093
@h3smith I'm just suggesting that when fewer than one in every million users have enough of a problem with something to complain about it, that [might not be as big a deal as a 170-comment GitHub issue could make it seem](https://en.wikipedia.org/wiki/Selection_bias).

[2017-10-11 14:05] cznic commented on #3093
Should it be tolerable if I steal something from fewer than one in every million or should I go to jail like any other thief?

[2017-10-11 14:08] markrendle commented on #3093
@cznic False analogy. When you steal something from someone, they don't have it anymore.

Counter-analogy: if 250 Americans think a law is unjust, should the United States federal government even consider changing it?

[2017-10-11 14:10] chrisjsmith commented on #3093
@markrendle Other countries here have different moral and privacy standards than America. If you want to do business there you have to meet local regulations.

This isn't good behavior over here.

[2017-10-11 14:16] markrendle commented on #3093
@chrisjsmith I think you may have taken my analogy literally. I am saying that a vanishingly-small (0.000001%) minority, however vocal, cannot reasonably expect to effect change in the face of over-whelming indifference. We live in a world where almost everything we do is quantified in some way, mostly (as in this case) a completely benign way used to improve experiences. Every time you watch a sh

[2017-10-11 14:30] kspeakman commented on #3093
Thaler.

Nah, too busy counting money and watching our webcams to be bothered.

On Wed, Oct 11, 2017 at 6:55 AM, Mark Rendle <notifications@github.com>
wrote:

[2017-10-11 15:34] brainwipe commented on #5331
Another use case (after the horse has bolted):

We have a .NET Core solution with a number of docker containers with APIs. The solution also includes a developer-only console app for Dev investigation. When a Developer presses F5 and the whole solution builds and runs up docker, I want the console app (and only the console app) to republish itself to a Win 10 x64 target so that the devs can use th

[2017-10-11 16:15] markrendle commented on #3093
@kspeakman See, that's the thing. They're not watching your webcam, and the thing we're discussing is free.

Nobody inside Microsoft is going "oh my hecking gosh, Kasey just ran `dotnet new mvc` for *the fifth time today!*". There is absolutely no reason whatsoever for anybody inside Microsoft to brute-force the hashing algorithm used for the machine identifier to identify the IP address of a user

[2017-10-11 16:33] kspeakman commented on #3093
@markrendle Maybe it is harmless today, but there's no guarantee tomorrow.
Increased telemetry collection has already been announced.

The webcam comment was for the general policy of now everything from
Microsoft (free or not) gathers data and reports it back to them by
default. Some can't even be turned off. Who knows what they actually have
access to in total.

And I love the "everybody else is

[2017-10-11 17:02] leecow opened #7808 "No script for Ubuntu install of SDK"
@nathanaeljones commented on [Wed Sep 06 2017](https://github.com/dotnet/core/issues/947)

For 1.0, we were given a scriptable install for Trusty/Xenial, but not for 2.0 (gpg dependency was added).

Moving from 1.0 to 2.0 in the Dockerfiles has proven very difficult. I wasted most of a day on it, and I can't find any other Ubuntu Dockerfiles on github where others have succeeded in moving from 1.0

[2017-10-11 17:27] markrendle commented on #3093
@kspeakman That was not an "everybody else is doing it" argument. It was a ranking of where this kind of telemetry rates in the modern, pervasively-monitored world. You are no more identifiable, identified or interesting than a small hatchback triggering an "intelligent" traffic light. The world runs on data. Of course it is collected. But if you think anything you do ever registers anywhere excep

[2017-10-11 17:35] kspeakman commented on #3093
@markrendle "Everybody else is doing it" was referring to your exchanges
with others, not me. (and also things I've seen from MS employees)

It's fine that you implicitly trust what a company does with your
information until proven otherwise. But I don't. So you'll have to forgive
me for not trusting you to raise an issue on behalf of all of us when it
goes too far. It's already a demonstrated hol

[2017-10-11 17:44] svick commented on #3093
@kspeakman

If you don't trust Microsoft at all (and you also don't trust the community to keep them in check), then you will always have to think about it, because they could reintroduce telemetry at any moment.

So I don't see how removing the telemetry that you consider harmless improves the situation for you in any way.

[2017-10-11 17:48] kspeakman commented on #3093
@markrendle I know you don't see it. And that's why I'm closing my end of
the conversation for now. Good luck!

On Wed, Oct 11, 2017 at 12:45 PM, Petr Onderka <notifications@github.com>
wrote:

[2017-10-11 17:49] rustybox commented on #3093
No one said it needs to be removed, just that the default should be off and one should ask nicely for permission to capture the harmless data.

[2017-10-11 18:17] markrendle commented on #3093
@rustybox If the default were off and you had to set an environment variable to turn it on, they would get no data, because nobody cares enough one way or the other to do anything about it at all. "We're going to benignly collect anonymous numbers about how people use this software; you can turn this off if you want" is the default position these days, and software gets better (not to mention more

[2017-10-11 18:20] rustybox commented on #3093
If the installer is run with admin privileges it can set the env var itself.

   Would you like to help us make dotnet core better by allowing us to collect some harmless telemetry N/y?

[2017-10-11 18:27] markrendle commented on #3093
[Case in point](https://medium.com/firefox-test-pilot/firefox-containers-are-go-ed2e3533b6e3)

[2017-10-11 18:28] markrendle commented on #3093
@rustybox Not on Linux.

[2017-10-11 19:26] dazinator commented on #3093
@markrendle

Well, they would get data from those users that value the product and want to help make it better (like me). I would personally choose to enable telemetry **if I was offered a choice**. The only reason I now disable it as a matter of course is becuase I don't like the way the participation in telemetry is taken for granted - but I know why its taken for granted, like you say they will

[2017-10-11 19:26] khowling commented on #3913
+1 for REPL support
When learning nodejs, i used REPL all the time to try out snippits, it sped things up a lot.
I'm learning C# now, and really missing a REPL.

[2017-10-11 19:32] h3smith commented on #3093
When I setup my iPhone or Macbook - Apple asks me if I want to share diagnostic data with them. On the other hand, Microsoft, you can't disable all of their data tracking in Windows 10. It is virtually impossible.

If it can be done at the OS level, as Apple has shown, it can be done at the level of .NET Core. It is easy to do, the problem of asking is they are too lazy to implement an easy featur

[2017-10-11 19:34] sushihangover commented on #3093
@migueldeicaza Been staying away from this thread, its turned into a religious war.

No 3rd-party extensions installed, latest VS4M, latest Xamarin.XXXX (alpha channel normally), I "assumed" it was a part of the "Visual Studio Experience Improvement Program" that you can not turn off in non-stable releases. Really noticeable in the firewall reports at one client site since we have to review them w

[2017-10-11 19:35] sflanker commented on #7229
I don't think it's entirely accurate to say that "dotnet run don't have build involved other than to ensure the project is built already" Lets say you had a msbuild project parameter that was necessary for a build to complete successfully, for example a relative path to a referenced project (probably not a best practice, but just a contrived example):

[code]

This builds fine with `dotnet build /

[2017-10-11 20:52] livarcocc commented on #3913
Meanwhile, you might want to try https://try.dot.net/

[2017-10-11 23:55] rohit21agrawal opened #7812 "Failed to create prime the NuGet cache. new failed with: 5"
_From @Petermarcu on October 11, 2017 22:49_

@dinjonya opened this here: https://github.com/dotnet/core/issues/1022

on macOs version is 10.13

dotnet core install 1.04 & 2.0
my prj use .net core 1.04
when restore or build or run    console print

Welcome to .NET Core!
---------------------
Learn more about .NET Core @ https://aka.ms/dotnet-docs. Use dotnet --help to see available commands or go

[2017-10-12 00:02] livarcocc commented on #7812
This is likely a dup of https://github.com/dotnet/cli/issues/6550. Does the first run succeed if you uninstall the 2.0 CLI?

[2017-10-12 00:03] livarcocc commented on #7774
Closing this issue until we can get clearer repro steps. If someone can provide those, please comment and I will re-activate this issue.

[2017-10-12 00:03] #7774 closed

[2017-10-12 08:31] ShalokShalom commented on #3913
Thanks a lot. This seems to be meant to provide C#, while no F#?

The Run button on the down gets easily lost here on FF 57, when a massive stream of errors (20 lines) appear since the scroll button does not work anymore then.

And I like the REPL, since I can code and simply run it. Here, I would have to add ;; after nearly each command.

Thanks a lot for your suggestion.

[2017-10-12 08:34] ShalokShalom commented on #3913
I am simply wondering, why 600 commits floated into Mono from Core, as the second one got released.
Now, as we see such a wonderful and fundamental feature in a coma, does it seem impossible to do the other way around.

Seems again one of such a microsoftish move is happening?

[2017-10-12 15:45] johnbeisner commented on #7752
@Nezz
@omajid
Can someone try out a fix to this: https://raw.githubusercontent.com/johnbeisner/cli/UpdateInstallScriptSH/scripts/obtain/dotnet-install.sh

Thank you for your support.

[2017-10-12 16:29] livarcocc commented on #3913
@piotrpMSFT @jonsequitur to take a look at the feedback on try.dot.net.

[2017-10-12 17:07] jaen commented on #3913
A online REPL is not enough at all, one of the benefits of REPL-driven-development is the fact, that you can interactively interact with your whole codebase; that's just not possible with such simplistic online tool.

[2017-10-12 17:51] livarcocc commented on #3913
This is not a statement of we are not doing REPL because there is this "online" version of it. It is more of a "check that out while we don't have  a REPL in the command" statement. Just want to make that clear.

[2017-10-12 20:07] peterhuene commented on #7486
This may have been fixed with https://github.com/dotnet/cli/commit/e0e39d044dee8c519e269b66a69bc298276decf2. It appears that the `--diagnostics` switch was not properly setting verbose logging on, preventing the expected output.

[2017-10-12 20:22] theimowski opened #7822 ".net core version of System.Net.Mail is used when targeting .net461"
## Steps to reproduce

Reproduce repository:
* https://github.com/theimowski/repro-paket-system.net.mail/tree/csharp for C# branch
* https://github.com/theimowski/repro-paket-system.net.mail/tree/fsharp_nopaket for F# branch

(repository contains 'paket' in name cuz I initially though it was related to [paket](https://github.com/fsprojects/Paket/issues/2829), but is not)

Both branches contain sin

[2017-10-12 21:33] livarcocc commented on #7486
Hum, even in master I still don't see the verbose messages when doing tool resolution that I expected to see, so there is something still going on there.

[2017-10-12 21:39] peterhuene commented on #7486
I also do not see the exact same diagnostic information, but I'm ignorant of whether or not that is a result of running `dotnet` from the build location and not from an install.

For example, the `nuget packages root` message does not get printed because `MSBuildProject.GetTools` returns an empty collection for me in the `ProjectToolsCommandResolver`.

[2017-10-12 21:45] livarcocc commented on #7486
I tried it in a project with a tool, so I should have seen the whole diagnostics poping out, but I got nothing. Passing -d should give you diagnostics for a installed CLI or a CLI that you built locally.

[2017-10-12 21:58] peterhuene commented on #7486
2.0.0:
[code]

master:
[code]

I assume that had the project had tools (still a little ignorant with the design here), additional diagnostic logging would have occurred.

[2017-10-12 22:05] evil-shrike opened #7825 "dotnet publish incorrectly handles --source option (nuget source for restoring)"
I run dotnet publish to create a msdeploy package. I supplying an `-s` option with my NuGet private server. But I made a mistake in the repository url and got 404 error. It expected. But it means that nuget tried to restore my package from my nuget server.
[code]

Then I fixed error in the url and repeated:
[code]
but what I got is MSBUILD error for my `-s` option.
I would understand if dotnet pub

[2017-10-12 22:06] livarcocc commented on #7486
You are right. I figure out why I didn't see it. I built the CLI but then forgot to update my path and still had 2.0.0 in it. I am closing this issue. Thank you for taking a look.

[2017-10-12 22:06] #7486 closed

[2017-10-12 22:09] livarcocc commented on #7825
can you try with --source instead of -s. We don't support short hand parameters being passed to restore through other commands, because we ran into conflicts in the shorthands.

[2017-10-12 22:12] scott-stoltz commented on #6001
rrelyea, what's the process for updating a UWP/project.json?

[2017-10-12 22:13] livarcocc commented on #7825
I tried that command and I always get the -s is an invalid switch. I wonder if that source was available to NuGet through some other means or some caching that NuGet might have done from some previous command that you attempted.

cc @emgarten is case he has some insight. I don't believe that we are passing the URL using -s when the URL is invalid. We only respect --source in that case.

[2017-10-12 22:15] livarcocc commented on #7822
@dsplaisted can you take a look?

[2017-10-12 22:17] evil-shrike commented on #7825
`--source` works fine, thank

btw the option isn't mentioned in docs - https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=netcore2x for `publish` and `build` command (only for `restore`) but works.

[2017-10-12 22:25] livarcocc commented on #7825
This issue was moved to dotnet/docs#3388

[2017-10-12 22:25] #7825 closed

[2017-10-12 22:26] livarcocc commented on #7825
I moved the issue over to docs to have the documentation updated. Thanks for the feedback.

[2017-10-12 22:28] rohit21agrawal commented on #6001
if you open your project.json based UWP project in Visual Studio, and change the TPMinV or TPV to 15063 (RS2) or higher, the migration will happen automatically.

[2017-10-13 01:20] dinjonya commented on #7812
i tried delete global.json file.
it's ok

[2017-10-13 01:22] dinjonya commented on #7812
i uesd vscode by yo aspnet build project. the project auto create  global.json file. but  when i used vs for mac create project. the project not create global.json file.

[2017-10-13 03:10] livarcocc commented on #7812
Yeah, each of these tool has its own templating mechanism. I take it this is working for you now, so I am closing the issue. If that's not the case, just comment and I can re-activate it.

[2017-10-13 03:10] #7812 closed

[2017-10-13 04:23] Ghasan commented on #5147
.NET Standard is backward compatible, so it is safe to assume that it will work. I don't think it is a good idea to package a small tool to a size of 100mb+ just to make it standalone. And I am more inclined into tools being accessible from the terminal directly, with no need for 'dotnet tool'. Just like how we use npm tools.

In case of breaking changes, there should be enough time given for auth

[2017-10-13 07:45] tmds commented on #5147
3.0 can be side-by-side installed to 2.0. If you uninstall 2.0, the tool will give a message it doesn't find the appropriate runtime.
For 1.x, the versioning policy did not allow a 1.1 runtime to execute a 1.0 application. Fortunately, for 2.x this has changed. An application for 2.x will run on all runtimes 2.y (y>=x).

Considering runtimes can be installed side-by-side, tools should be published

[2017-10-13 08:23] ShalokShalom commented on #3913
Is this supposed to do work in F-Sharp?

[2017-10-13 08:33] John0King commented on #5147
@Ghasan  @tmds   Framework dependent applications will be great  only if the tools only serve for development .
Self-Contained app will be great for other daily work, for example: bundl and minify js css file, thing's like bower, processing images . those work don't require you to update .net core SDK/Runtime , and will not be effect if you clean up package cache.

and probably easier to implement

[2017-10-13 09:14] tmds commented on #5147
@John0King I don't see at what point a self-contained application would be created.
If I do `dotnet install GreatTool`. self-contained means I get a linux-x64 app on Linux, a win-x64 app on Windows and an osx-64 app on Mac.

This would be the framework dependent way:
Suppose _GreatTool_ is published as a framework dependent application on NuGet.
When a user does `dotnet install GreatTool`, `dotnet

[2017-10-13 10:20] John0King commented on #5147
Do you mean publish to Nuget as framework dependent application (platform irrelevant app) ?  If you do, I will agree with you.  Self-contained publish process should only happen when you install it.

[2017-10-13 10:25] raymondSeger commented on #3093
Microsoft should respect the privacy of it's users. And for a company that keeps tracking data, you sure do love to delete github comments.

[2017-10-13 10:37] tmds commented on #5147
The publish process for a self-contained application starts from the application source code. It doesn't start from a published framework-dependent application.
Self-containing the application means adding a runtime for the install platform. Instead of adding the runtime to the application, it makes more sense to require the runtime to be installed on the machine. Then all application can share th

[2017-10-13 12:59] sabras75 commented on #7590
same here on linux. Build time is still rather long (~6 to 10 seconds each time) even on the simplest hello world program.
This is especially impacting when doing continuous testing (dotnet watch test)

[2017-10-13 13:12] John0King commented on #5147
![default](https://user-images.githubusercontent.com/13639146/31546835-9d85936c-b057-11e7-9b83-05fe6da77385.jpg)
@tmds  this is a demo that I manual publish with   self-contained publish

project file:
[code]
Program.cs
[code]

add the folder to `Path`  environment variable  then it's done.

**this is the most easy way** , and can change the  long name to a short name (without the `dotnet-` prefix

[2017-10-13 13:35] tmds commented on #5147
Aha. You are suggesting that the way to make the FDD NuGet package callable via a short name is to create and publish a SCD that calls the FDD.
I leave it up to the people doing the implementation to figure out the proper way to do this.

So, we both think tools should be published to NuGet as FDD. That was what I was talking about.

[2017-10-13 16:42] khyperia commented on #7752
It still prints out the following errors, but it successfully installs.

[code]

---

Full verbose log:

<details><summary>Click to expand</summary><p>

[code]

</p></details>

[2017-10-13 17:45] Petermarcu opened #7836 "Misleading information shown when the dotnet command is passed duplicated arguments"
@nigurr commented on [Thu Oct 12 2017](https://github.com/dotnet/core/issues/1029)

`C:\Tests> dotnet test --logger trx --logger trx`
`MSBUILD : error MSB1009: Project file does not exist.
Switch: trx`

The same one works
`C:\Tests> dotnet test --logger trx`
`Build started, please wait...`

The error message is misleading or the duplicated arguments should be skipped

[2017-10-13 18:29] johnbeisner commented on #5281
@dagood
@benknoble
The https://dot.net/v1/dotnet-install.sh public location has been updated with this fix.

[2017-10-13 18:30] johnbeisner commented on #7752
@Nezz
@omajid
@khyperia
The https://dot.net/v1/dotnet-install.sh public location has been updated with this fix.

[2017-10-13 18:30] #7752 closed

[2017-10-13 19:52] evil-shrike opened #7838 "nuget: setting a source in nuget.config and using it with dotnet overrides creadentials for that source in global nuget.config"
## Steps to reproduce
Given a global nuget.config (in user's profile) with several nuget sources and packageSourceCredentials for them. That is sources require authentication.
Given a project with local nuget.config (besides csproj) which contains only a source url:
[code]
run any dotnet command requires contacting nuget, for example `dotnet add package ..`.
It'll fail as nuget will use the source

[2017-10-13 20:25] eerhardt commented on #2533
We have the `dotnet store` command now.  It will crossgen assemblies by default. Will that work?

[2017-10-13 20:49] peterhuene commented on #7699
Hi @AlgorithmsAreCool:

Thank you for your detailed report!  I have reproduced this issue in `master` and found a few causes: there is a bug that causes drive references without matching case to not be treated as relative and another bug that causes malformed project paths resulting in erroneous solution folders to be added to the solution.  I should have fixes for these issues up for review soon.

[2017-10-13 22:00] Petermarcu commented on #2533
I think we need to provide an option during publish to crossgen the content of the users folder.

[2017-10-13 22:45] livarcocc commented on #7838
This issue was moved to NuGet/Home#6030

[2017-10-13 22:45] #7838 closed

[2017-10-14 03:43] dzeignyc commented on #2544
`ln -s /usr/local/share/dotnet/dotnet /usr/local/bin/` tells me "File exists", however the dotnet command still returns `-bash: dotnet: command not found`

Restarting the terminal also, does not work

[2017-10-14 13:17] dasMulli commented on #2533
I've logged a similar feature request on the SDK repo for crossgen-on-publish: https://github.com/dotnet/sdk/issues/593

[2017-10-14 13:54] jamescrowley opened #7839 "Build consistently fails on first build, and succeeds on second."
## Steps to reproduce

1. Download attached zip. [SampleConcurrencyBuildIssue.zip]
[SampleConcurrencyBuildIssue.zip](https://github.com/dotnet/cli/files/1384725/SampleConcurrencyBuildIssue.zip)
2. Run build.cmd (build fails)
3. Run build.cmd (build passes)
4. Rename folder that you've extracted to, or delete contents of obj/bin
5. Run build.cmd (build fails)
6. Run build.cmd (build passes)

## Not

[2017-10-14 16:12] randolfrf commented on #7782
Understood, and it seems logic reasonably indeed. Thanks.

[2017-10-14 20:32] jankun commented on #3093
Everyone should take a step back and think what this is about - for me its about saying it's NOT ok to yet another step towards complete lack of any privacy, since "it's OK". Yet it might or might not be, the key problem is that companies push it every year slightly further and further, and if everyone won't stand against it - it will be OK at some point that your insurance company, bank, creditor

[2017-10-14 23:03] rendmath opened #7840 "dotnet new for --frameworks targeting the .NET Framework"
## Steps to reproduce
dotnet new console --framework net461

## Expected  behavior
dotnet creates a console (or other type of) application targeting the specified version of the .NET Framework.

## Actual behavior
Error message:
Error: Invalid parameter(s):
--framework net461
    'net461' is not a valid value for --framework (Framework).
Run dotnet new console --help for usage information.
See htt

[2017-10-14 23:30] rendmath commented on #7840
Current workaround: a PowerShell function to change the <TargetFramework>

[code]

[2017-10-15 22:59] mesteche commented on #3093
What if these 250 Americans are part of a minority which this law allows to oppress, for instance ?
It's not about the number of people who feel concerned, it's about why they do.
And in the current situation, no one is concerned about collecting data (even private data). The issue is about not explicitly asking.
No one decided to use .NET because "it has telemetry", it's not a feature for the use

[2017-10-15 23:48] danmosemsft opened #7841 "dotnet run does not work out of the box due to targeting 2.0"
## Steps to reproduce
Download and unzip `https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x86.zip` (link from the main page https://github.com/dotnet/cli)
`dotnet new console`
`dotnet run`

## Expected  behavior
It works.

## Actual behavior
[code]
I tried editing the csproj to target `netcoreapp2.1` then I get
[code]

## Environment data
`dotnet --info` output:

C:

[2017-10-15 23:55] danmosemsft commented on #7841
Ugh, looks like I used the wrong dotnet.exe to create the app.

[2017-10-15 23:56] danmosemsft commented on #7841
Nope, that still doesn't work:
[code]

[2017-10-16 02:37] Petermarcu commented on #1437
@davidfowl did you even finish the PR?

[2017-10-16 02:38] Petermarcu commented on #1224
Closing this one to track it here: https://github.com/dotnet/cli/issues/1437

[2017-10-16 02:38] #1224 closed

[2017-10-16 02:39] Petermarcu commented on #2533
Closing this one to track it here: https://github.com/dotnet/cli/issues/1437

[2017-10-16 02:39] #2533 closed

[2017-10-16 02:41] Petermarcu commented on #1437
Moving this into 2.1 so it isn't lost. This request has come up many many times. Let's see what we can do.

[2017-10-16 06:42] am11 commented on #5967
I was getting MSB3270 warning when running package target on SFPROJ, the fabric service was upgraded to netcoreapp2.0 and the fix in CSPROJ was to set `PlatformTarget` properties:

[code]

*if csproj already has RID `RuntimeIdentifier(s)` property set, the PlatformTarget is not required*

If you are targeting full framework, don't have/want AnyCpu configs in SLN (only x64), don't want to set RID p

[2017-10-16 09:00] mkontula commented on #7590
Experiencing similar results here. Our project's build time went up to ~8min from ~2min after upgrade to 2.0. Package restore takes a whopping 5min.

[2017-10-16 14:03] voronoipotato commented on #3093
I think the failure for many people in this discussion to understand consent is telling of the state of the industry.

[2017-10-16 16:55] FanrayMedia commented on #7426
I'm struggling with this too, the only way to stop it is to restart my machine.

[2017-10-16 17:58] wli3 commented on #7840
This issue was moved to dotnet/templating#1290

[2017-10-16 17:58] #7840 closed

[2017-10-16 19:26] livarcocc commented on #7841
This is by design. You are picking up a CLI from master, which is targeting 2.1.0 runtime. The packages for this runtime are not available in NuGet.org yet, and therefore restore does not know where to find them.

You need to add a NuGet.Config with a feed containing these packages (dotnet-core) in order for restore to work here.

[2017-10-16 20:30] dazinator commented on #3093
@markrendle

I don't think anyone is asking for this to be as equally cumbersome to enable as it is to disable. We just want the user to be asked for their consent (i.e show a checkbox on the installer, or ask a yes / no question on first use of the cli) - the default answer could still be yes, but atleast users could opt out there and then if they wish. There should be no need to have to come bac

[2017-10-16 23:36] mlowijs commented on #6178
As another workaround, one could run `dotnet sln MySolution.sln remove docker-compose.dcproj` to remove the project reference.

This is what I do in my VSTS build definition.

[2017-10-17 02:51] danmosemsft commented on #7841
The main page provides the install link but no indication that a myget feed needs to be added. It just says "When you have the .NET Command Line Interface installed on your OS of choice, you can try it out using some of the samples on the dotnet/core repo.". I imagine there will be others who are confused by this, it makes sense for your readme to mention that the install links are only useful if

[2017-10-17 03:34] livarcocc commented on #7841
We have this right at the top before the download links:

[code]

Maybe our assumption that people who downloaded from our master branch from github would know about the pre-release nature of the these bits was unfounded.

We can probably add a "myget feed may be needed" next to this is a pre-release build text.

[2017-10-17 04:41] danmosemsft commented on #7841
I did read that and did know the bits were pre release. The pr solves this.

[2017-10-17 05:37] Daniel15 opened #7851 "Referencing local version of .NET Core CLI tool"
I have a solution containing two projects: An ASP.NET Core website, and a .NET Core CLI utility that's designed to be ran via the `dotnet` command. The CLI utility uses `DotnetCliTool` as its package type, as per the docs at https://docs.microsoft.com/en-au/dotnet/core/tools/extensibility#per-project-based-extensibility and https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package

[2017-10-17 08:57] MichalTaratuta commented on #3936
The issue still present, today ^^

[2017-10-17 15:34] Kurira opened #7853 "DependencyContext.Load not loading compile library assemblies"
## Steps to reproduce
`dotnet new console`

[code]

[code]

## Expected  behavior
`context.CompileLibraries` having `Assemblies` property filled with assembly paths.
This used to work in previous versions.

## Actual behavior
`Assemblies` always empty.

## Environment data
[code]

Does my project needs to have some kind of configuration for this to work?
Or it has to be loaded in a different way t

[2017-10-17 16:51] #7841 closed

[2017-10-17 16:53] livarcocc commented on #7851
Unfortunately, that's not possible today.

Neither NuGet knows to restore the ProjectReference as a tool nor does the CLI knowns to look for the project reference as a possible tool.

[2017-10-17 17:04] wli3 commented on #3936
@MichalTaratuta this issue is about an preview version. What is the version you are using and having the problem?

[2017-10-17 21:00] ti24horas commented on #4674
@jonsequitur auto-complete only works for official nuget repository. For internal repos, it won't appear.

[2017-10-18 04:17] bradwilson opened #7861 "Documentation for .deps.json and friends is (wildly) out of date"
https://github.com/dotnet/cli/blob/master/Documentation/specs/runtime-configuration-file.md

Despite us being post 2.0, this documentation file is (a) incorrect (see, for example, how `runtimeTarget` shows as a string instead of an object), and (b) talks about `project.json`.

Please update it so those of us who are looking at these configuration files have up to date documentation to consult.

Th

[2017-10-18 07:36] kellypleahy opened #7863 "argument parsing treats --force:true argument special in user command line."
## Description

For some reason, `dotnet run` has special treatment for *user* arguments of the form `--force:foo`.  The `:` gets removed and the parameter gets split into two different entries in the `args[]` array.  This doesn't happen with other argument names (see below, with `--bob:true` it works as expected, but it **eats** the `:` on the `--force:true` argument.

## Steps to reproduce

1. d

[2017-10-18 10:16] raymondSeger commented on #3093
user should be asked every-time you want to store their private data.

~ Stallman

[2017-10-18 11:39] Stefanpu13 commented on #6680
Hi, the same error appears on my machine, too:

I have  the following sources (retrieved by `nuget sources`):

run `dotnet new -i Fable.Template` and result:

dotnet SDK - 2.0.0

[2017-10-18 12:24] kjbetz commented on #7483
I was using yarn last night and saw that this is an included feature for them. `yarn upgrade` and `yarn upgrade-interactive`

https://yarnpkg.com/lang/en/docs/cli/upgrade/

https://yarnpkg.com/lang/en/docs/cli/upgrade-interactive/

Definitely very handy! Very much needed in my opinion for .NET Core CLI users.

[2017-10-18 12:33] kjbetz commented on #7483
I suggest a `dotnet package upgrade` and `dotnet package upgrade-interactive` or `dotnet package upgrade --interactive`

As well as some of the other features listed in the yarn... we used `--latest` and it was very handy as we use absolute/exact version numbers.

[2017-10-18 13:13] VHaravy commented on #7510
Is there some workaround for this? I have a similar issue with a completely different project.

[2017-10-18 13:19] zivkan commented on #7510
Using version 9.0.1 of Newtonsoft.Json works, as BalassaMarton said, assuming you're also having a problem with Newtonsoft.Json.

[2017-10-18 13:28] VHaravy commented on #7510
@zivkan Yes, I have the exactly the same problem, but it is not very good solution. If .NET Core CLI will start shipping a different version of Newtonsoft.Json - we will have to upgrade as well and at this point, we will lose compatibility with the previous version. Note that the whole point is to achieve portability with using .NET Standard and .NET Core CLI.

[2017-10-18 13:52] sharwell commented on #7510
@zivkan I notice you are compiling your custom MSBuild task against the **net46** target framework. I was unable to get ANTLR 4's code generation task working in this form, but when I changed it to target **netstandard1.5**, it started working.

Also, after prolonged problems with Json.NET in various build-related scenarios, the StyleCop Analyzers project finally switched to using an embedded JSON

[2017-10-18 13:55] zivkan commented on #7510
@VHaravy You asked for a workaround, not a solution :)

Hopefully by the time the .NET Core CLI changes the version it bundles there will be a solution. Also, given that the .NET Core CLI from the earliest versions (the oldest version I have on my machine is 1.0.0-preview2), right to the current version, bundle the same version of Newtonsoft.Json, it appears that the team may be aware of the issue

[2017-10-18 13:58] zivkan commented on #7510
@sharwell When I first started playing around with MSBuild tasks running in .NET Core, I found that msbuild.exe on Windows would not load .NET Standard assemblies. Therefore, to make my task work both msbuild and dotnet cli, I need to ship both net46 and netstandard1.5 assemblies, and choose which one to load in my targets file: https://github.com/ADFCommunity/Adfc.Msbuild/blob/feature/crossplat/s

[2017-10-18 14:08] sharwell commented on #7510
Yes, I had to do the same thing as well.

[2017-10-18 14:09] jkoritzinsky commented on #7510
Same here.

[2017-10-18 15:58] livarcocc commented on #6680
It seems like you have a feed that is not correct and that NuGet cannot find, therefore failing restore. Do you actually need the feed that's failing?

[2017-10-18 15:59] livarcocc commented on #7483
I believe there is an issue under nuget/home for this already. I will move this issue there and have them close this one as a dup if that's the case.

[2017-10-18 15:59] livarcocc commented on #7483
This issue was moved to NuGet/Home#6054

[2017-10-18 15:59] #7483 closed

[2017-10-18 19:26] omajid commented on #7438
Does this issue also affect other distributions like Ubuntu?

[2017-10-18 21:35] jainaashish opened #7867 "Configure.PS1 fails installing .NET CLI"
Copied from https://github.com/NuGet/Home/issues/6049

After cloning the NuGet.Client repo and following the instructions to configure for a build. Configure.PS1 fails when attempting to download the .NET CLI. The output from the Powershell console is below:

`PS D:\Reference Source\Microsoft\nuget\nuget.client> .\configure.ps1
[17:10:09 +0] Configuring NuGet.Client build environment
[17:10:09 +0]

[2017-10-18 22:05] livarcocc commented on #7867
@mhsimkin is this 100% reproducible for you? Have you tried invoking the install script separately? These would be super useful information for us.

The script should work in win7 and we haven't had reports of failures of this nature on it so far. So, I am wondering if there is a chance for flakiness here or for some network problem.

[2017-10-18 22:06] livarcocc commented on #7867
@johnbeisner can you please try this out in a win7 box?

[2017-10-18 22:37] mhsimkin commented on #7867
@livarcocc I tried it a couple of time.  I rebooted in between each attempt.

I went to the the [DotNet Core archive page](https://github.com/dotnet/core/blob/master/release-notes/download-archive.md) to download the SDK to install it, just to make sure there where no issues.

Can you please elaborate on how you would like me to invoke the install script separately.

I wouldn't be surprised if it

[2017-10-18 22:54] livarcocc commented on #7867
It is trying to download https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.0/latest.version right now and failing. So, not download.microsoft.com nor github.com. Can you download the file above from a browser?

[2017-10-19 04:21] minvedacat commented on #2544
`ln -s /usr/local/share/dotnet/dotnet /usr/local/bin/`
It works for me with latest installer `dotnet-sdk-2.0.0-osx-gs-x64.pkg`

`dotnet --info` result:
[code]

[2017-10-19 09:09] Stefanpu13 commented on #6680
Hi, thanks for the suggestion.
Trying will other templates
Disabling the sources from VS-> Options -> NUGet Package Manager did not help (though it modified the global Nuget.Config file)
Deleting the sources from the global Nuget.Config file helped.
However, I still think that it is better to try all sources even if some of them fail - after all, my Nuget.Config`s "packageSources" tag has 3 keys,

[2017-10-19 13:29] Kemyke opened #7869 "nuget.exe list functionality"
## Steps to reproduce
There is no substituting functionality for 'nuget.exe list' feature. That would be great if it would be possible to use the dotnet CLI for automation on every platform. Currently the mono should be installed on Ubutnu to run nuget.exe. Is there a plan to add all the missing functionality to the dotnet CLI?

## Expected  behavior
dotnet nuget list <Filter expression>

## Actua

[2017-10-19 14:35] mhsimkin commented on #7867
@livarcocc My corporate firewall is blocking the request to the secure site[https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.0/latest.version](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.0/latest.version) but not to insecure site[http://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.0/latest.version](http://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.0/latest.version).

As an enhanceme

[2017-10-19 15:43] forki opened #7870 "dotnet build continues when restore fails"
## Steps to reproduce

1) git clone https://github.com/forki/restorebug.git
1) cd restorebug/console
1) dotnet build

## Expected  behavior

process stops after restore error (which we set from MyTargets,targets)

## Actual behavior

![image](https://user-images.githubusercontent.com/57396/31780129-1bf6d822-b4f5-11e7-8250-7706f9c1e602.png)

the build continues after restore. And if you still have

[2017-10-19 15:52] forki commented on #7870
This is really important for Paket since we try to let the build fail from targets file when certain conditions are not met. But instead it just continues. ¯\_(ツ)_/¯

[2017-10-19 16:13] livarcocc commented on #7869
This issue was moved to NuGet/Home#6060

[2017-10-19 16:13] #7869 closed

[2017-10-19 16:33] livarcocc commented on #7870
@forki Is this just a regular restore or are you doing some form of customization? I just tried it out on a project by updating a package reference to a non-existing version and I see that the restore failure is actually stopping the build.

Also, we have this piece of code in place: https://github.com/dotnet/cli/blob/master/src/dotnet/commands/RestoringCommand.cs#L52

So, if restore fails, it sho

[2017-10-19 16:37] forki commented on #7870
@livarcocc did you follow the repro steps? This is calling dotnet build on a project that has targets. And the targets have an error task to explicitly stop the build

[2017-10-19 16:41] forki commented on #7870
But it does not. The error is only shown on command line and then build continuous

[2017-10-19 16:46] forki commented on #7870
So in other words: it's not the nuget task that fails, but targets along the way in "dotnet restore".

[2017-10-19 16:52] livarcocc commented on #7870
This may be a regression in 2.0.2:

[code]

Trying that locally with 2.0.2 now.

[2017-10-19 16:57] livarcocc commented on #7870
Yes, this is a regression in NuGet. So, in 2.0.2 we took in a new version of NuGet. It seems like their targets have changed and now your targets are not causing the restore operation to fail anymore.

I am going to move this issue over to NuGet/Home to have the NuGet team take a look at it.

cc @emgarten @rrelyea

[2017-10-19 16:57] livarcocc commented on #7870
This issue was moved to NuGet/Home#6061

[2017-10-19 16:57] #7870 closed

[2017-10-19 17:08] johnbeisner commented on #7867
I cannot reproduce this error on Windows 7.
Is this behavior a recent change? Could it be that your corporate firewall has changed it's policies recently?

[2017-10-19 17:21] livarcocc commented on #7867
@johnbeisner this is happening because @mhsimkin company is blocking the URL. Nothing wrong with our scripts.

@mhsimkin I am not sure enabling a http URL option is the right approach here. Can't you just ask to have that URL enabled for https?

[2017-10-19 17:50] natemcmaster opened #7871 "Simplify consumption of aspnetcore in 2.0.x"
Backport the improvements https://github.com/dotnet/cli/pull/7424 (master branch) to the release/2.0.0 branch. This simplifies how the CLI consumes new builds of aspnetcore.

Requires coordination with aspnetcore's build output. cc @joeloff