[2016-11-28 17:40] moozzyk commented on #2956
@PinpointTownes - I have not verified and the issue is still open so I assume it's not fixed.

[2016-11-28 17:41] GuardRex commented on #2956
Yeah ... I was just going by lack of closure. I raised this b/c I'm reviewing Home, Hosting, IISIntegration, and ANCM repo issues for the Pub to IIS doc. I'm trying to review a lot of issues for this doc update.

[2016-11-28 17:56] mellinoe commented on #4853
No, not unless I added it to the project myself. But I'm used to regular .NET projects where that doesn't happen.

[2016-11-28 18:11] eegasai commented on #3759
Hi,
i am getting same error code and visual studio is not able to find the unit tests
'test-xunit' returned '-532462766'.
below are the xunit packages that we are using
 "dotnet-test-xunit": "2.2.0-preview2-build1029",
 "xunit": "2.2.0-beta3-build3402",

Is there any  workaround for this issue?

[2016-11-28 18:29] blackdwarf commented on #4609
@joelverhagen would this make the app self-contained? Or is it just there to satisfy the tooling?

[2016-11-28 19:46] dasMulli commented on #4853
related: If you remove `NETStandard.Library` and all resource-related stuff, compile errors may pop up at the moment because the SDK will autogenerate a `NeutralResourcesLanguageAttribute` attribute by default without an assembly referenced that defines it.. https://github.com/dotnet/sdk/issues/382

Also, @davidfowl recently pointed out to me: https://github.com/dotnet/sdk/issues/413#issuecomment-

[2016-11-28 19:53] mellinoe commented on #4853
Sure, that doesn't mean you need `NETStandard.Library`, though, just one small package that has the attributes.

For .NET Standard 2.0: sure it makes sense to just include the whole thing, since we eliminated the modularity that made it valuable. There's still a lot of value to be granular for the time being, though.

It is probably fine to include it in the default migration, I just find it a bit

[2016-11-28 19:53] Spongman commented on #4811
MSBuild on windows

[2016-11-28 20:20] inormis commented on #2385
May be it's related to https://github.com/dotnet/cli/issues/354

[2016-11-28 21:49] krwq commented on #4853
@mellinoe - I think that a lot of the stuff you mentioned here is nice to have feature but I would consider only stuff which create an invalid or non-compiling project as blockers. Everything else I believe is a personal preference and some of the people will want it and some other won't - I do not think we can satisfy everyone with defaults and since dotnet-migrate is a one time operation I do no

[2016-11-28 22:06] mdmoura opened #4855 "publish-iis command errors when migrating: 1.0.1 with project.json to 1.1 with csproj"
## Steps to reproduce
I migrated an ASP.NET Core 1.0.1 with project.json to ASP.NET Core 1.1 with .csproj and got:

    <Target Name="PostpublishScript" AfterTargets="Publish" Condition=" '$(IsCrossTargetingBuild)' != 'true' ">
      <Exec Command="dotnet publish-iis --publish-folder $(TargetDir) --framework $(TargetFrameworkIdentifier),Version=$(TargetFrameworkVersion)" />
    </Target>

## Actua

[2016-11-28 22:28] colemickens opened #4856 "SIGINT leaves dotnet processes running incorrectly. Causes problems on subsequent builds/runs."
## Steps to reproduce
1. `docker run .....`
2. `dotnet restore`
3. `dotnet run`
4. Press: `ctrl-c`
5. `dotnet run`

## Expected  behavior
Everything works because the relevant dotnet processes were stopped and can simply be started again.

## Actual behavior
There are old dotnet processes lying around that I must kill manually:

[code]

I have to manually kill the processes that stick around.

If

[2016-11-28 22:45] twsouthwick opened #4857 "RestoreTask fails with InvalidOperationException"
## Steps to reproduce

This solution has an ASP.NET Core project (targeting .NET 4.6) with a new csproj file and a number of libraries all targeting .NET 4.6 that are still using the old csproj format.

Run `dotnet restore`

I can build and run in Visual Studio 2017 RC, but fails at command line.

## Expected  behavior

Restores correctly

## Actual behavior

[code]

## Environment data
`dotnet --

[2016-11-28 23:26] GZidar commented on #4747
@piotrpMSFT will see if I can get a simple repro defined.

[2016-11-29 01:21] janvorli commented on #1488
@kamilosxd678 do you also happen to have grsecurity enabled on your Debian?

[2016-11-29 02:16] schellap commented on #4804
@jsgoupil, I agree it is convenient to use a `--sdk-version`. I had been under the impression that the tooling always placed the `global.json` file. We can take care of this in `dotnet.exe`

@blackdwarf the version messaging is confusing, could you give this some thought so it would be less confusing? The problem is: `dotnet.exe` prints a version, `dotnet.exe --version` prints one version when SDK

[2016-11-29 04:14] Allann opened #4859 "Version with build number (TFS or VSTS)"
This is more a question than an issue.

Any hints on how to update the version number to use the build number from TFS or VSTS?  Previously I used a powershell script that was run prior to the build step that changed the version number in the assembly information, but now the version is contained in the project json file this script is useless.

Must also include 3 numbers in the version now and s

[2016-11-29 06:54] blackdwarf commented on #4804
I am actually actively working on proposing a fix for the version issues.

[2016-11-29 07:48] blackdwarf commented on #4539
So, here is a plan of sorts. Since we currently have a relatively small number of commands still, I think we should stick with just showing a better output, with the option of "did you mean X" be available in the future.

For now, here is how I would like to see it:

* On unrecognized command, return the following: "Unrecognized command {0}. Please run dotnet --help for a list of commands".
* On a

[2016-11-29 08:39] stvndall opened #4860 "Linux cannot restore against protocol 2 nuget api"
## Steps to reproduce
~/.nuget/NuGet/NuGet.Config, add an api using v2 of the nuget server. IE Klondike.
```<add key="raphael" value="http://raphael:6400/api/odata" protocolVersion="2"/>```

## Expected  behavior
Be able to search on the v2 api, and find it a package is on the server. Return package if found. Move on if not found.

## Actual behavior
error: Response status code does not indicate s

[2016-11-29 11:48] mdmoura opened #4861 "dotnet razor-precompile cannot find project.json but I am using csproj"
## Steps to reproduce

I tried the following command on ASP.NET Core 1.1 project with .csproj file:
    dotnet razor-precompile --output OutputFolder

## Expected  behavior
   I expected the views to be compiled and placed on the OutputFolder

## Actual behavior
    I get error:
    Could not find file 'C:\...\project.json'

    My project is using ASP.NET Core 1.1 with **.csproj** file ... I do n

[2016-11-29 12:01] davidfowl commented on #4861
Our tools do not yet work with csproj. They are still project.json based

[2016-11-29 12:08] hyuksel commented on #4861
But yet you release a Visual Studio 2017 RC with go live? I have the same problem. If i want to run my solution on IIS on staging server, now my clients can not see the progress :-(

What's the point then for releasing 2017 RC and also moving forward to csproj instead of project.json if you don't support the whole bits? So I have to convert everything back to VSS 2015 now?

[2016-11-29 13:41] SteveDrakey commented on #4770
if the tool removes the project.json  then what about other bits that use the project json? such as `AddUserSecrets` from `Microsoft.Extensions.Configuration` I guess these will change.

I had some of the issues above, running `dotnet migrate` from the root worked fine but I had to re-add the projects back into the solution as the `sln` file is not modified , I had a few other issues but after a b

[2016-11-29 14:44] mdmoura commented on #4861
@davidfowl

Which tools? Are you talking about `dotnet publish-iis` and `dotnet razor-precompile`?
These were the ones that I found needed a project.json file ...

But isn't `dotnet publish-iis` going to be removed? Isn't `Microsoft.NET.Sdk.Web" Version="1.0.0-alpha-20161104-2-112` doing the Web.config transformation that `dotnet publish-iis` was doing?

You should clarify things because people ar

[2016-11-29 15:06] thangchung commented on #3103
@RehanSaeed You are my savior 👍

[2016-11-29 15:27] roshantarudkar commented on #3171
Guys- I have similar issue but its different i am not sure whether you face the same.
 I have below entries in project.json
` "frameworks": {
    "netcoreapp1.0": {
      "imports": [
        "dotnet5.6",
        "portable-net45+win8"
      ],
      "dependencies": {
        "Microsoft.NETCore.App": {
          "version": "1.0.1",
          "type": "platform"
        },
        "Microsoft.AspNetCo

[2016-11-29 15:33] roshantarudkar opened #4862 ".NerCoreApp and .Net 4.6.2 frameworks in same project gives compile error."
I am trying to get redissessionprovide package from .net 4.6.2 thats the reason i have two framework.. as shown in below project.json..when i compile the project it gives me error as mentioned in below screen shot,..Looks like it is looking for same assembly in both frameworks ,i suspect its conflicting..any resolution on this ? can we make assemblies point to core only default.
 I have below entr

[2016-11-29 15:51] svick commented on #4862
I think you misunderstood what specifying two frameworks does. It's not "I want to use packages from both frameworks at the same time", it's "I want to be able to run on both frameworks, possibly using different packages on each".

So, if you need to use a package that's only on `net462`, then your whole application needs to be on `net462` (and it won't have the advantages of .Net Core like being

[2016-11-29 16:19] tmds opened #4863 "Provide command to summarize packages used, their version and license"
Licenses from the open sources packages often require to publish the license text.

It would be great if a single command could create an overview of the packages used used, their version and license. This command should also download the license texts.

[2016-11-29 16:38] omajid opened #4864 "dotnet cli doesn't mention the .NET Core version"
`dotnet --version` mentions a version, but it doesn't correspond to the .NET Core version. I have had more than one person ask me about why their ".NET Core 1.1" installation is broken and shows "1.0.0-preview-2-1" as the version.

## Steps to reproduce

Run `dotnet --version`

## Expected  behavior

It should show the .NET Core version first and in the most obvious way. The CLI version should be

[2016-11-29 17:01] jseely commented on #4795
I used the above script from master and it's giving the same 404 response for version `1.0.0-preview2-003133`

[2016-11-29 17:20] twsouthwick commented on #4857
I don't see this when I run it against a `csproj` file, only when it is the `sln` file.

[2016-11-29 18:19] mickaelistria opened #4865 "Support for libicu 57 (default for Fedora 25)"
## Steps to reproduce

On Fedora 25, install dotnet following instructions for Fedora 24

## Expected  behavior

`dotnet --version` works

## Actual behavior

`dotnet --version` returns `Failed to initialize CoreCLR, HRESULT: 0x80131500`, typical of wrong libicu, as reported in https://github.com/dotnet/cli/issues/3717 and others

[2016-11-29 18:21] mickaelistria opened #4866 "Build RPMs"
Installation of Fedora currently require several steps, including preparing dependencies.
RPM are the solution for that, as they would also allow to express constraints (such as explicitly binding to the right version of icu at install time). It would be much better to have rpms to install dotnet on Fedora et al.

[2016-11-29 18:37] mickaelistria commented on #4865
On Fedora 25, issue #2018 is still relevant.
I've tried some workarounds similar to the ones that worked for Fedora 24 (using different libicu and tweaking LD_LIBRARY_PATH) but so far without success.

[2016-11-29 18:56] vcsjones commented on #4847
@onovotny

I'm not so sure this is a migration issue.

Even creating a scratch, clean, project, I can't use the `GuidAttribute` type. This type is a little funny because it's contract lives in corefx but the implementation is in coreclr.

Digging in a bit deeper, it looks like the `GuidAttribute` was erroneously made available in netstandard1.0 and fixed in https://github.com/dotnet/corefx/issues/

[2016-11-29 18:56] tmds commented on #4865
@mickaelistria give this a try: https://github.com/dotnet/core/pull/326#issuecomment-262479168
In the meanwhile the rover tool was merged on master.

[2016-11-29 19:05] vcsjones commented on #4864
Related / dupe: #3773

[2016-11-29 19:09] vcsjones commented on #3773
There have been a number of issues filed, confusion on Slack channels, and on twitter about the meaning of `dotnet --version`.

Proposal: `dotnet --version` should print *all* relevant information. Something like this:

[code]

The only reason I could think of as why this would be a bad idea is if the output of `--version` was meant to be parsable / consumable by other tools.

[2016-11-29 19:27] omajid commented on #3773
@vcsjones Agreed. The only suggestion I have for your proposal is that the most important version number should be displayed first. I think most users will care about the .NET Core version first and foremost, so, ideally, that should come first.

[2016-11-29 19:46] am11 commented on #3773
+1 for @vcsjones's proposal with an addition of NuGet version. :)

Agree, parsers will need to split by linefeed then by colon to get proper key value pairs, but if the `--version` output format and order is frozen once and for all (future tools listed at the bottom), that would be A-okay IMO.

[2016-11-29 19:47] nanopp commented on #4846
I have the exact same situation in Windows 7. This happens when I try "docker build" and fails when docker is trying to restore packages.

[2016-11-29 19:49] vcsjones commented on #3773
My concern is if there is a tool already that reads the entire string, like Visual Studio RC, to figure out the version of the SDK installed. That would mean changing this would break VS, which is probably a no-go.

If there is no tooling that already depends on this behavior, then line feeds are an option. Alternatively, `--version` could take an argument to return a specific thing, like `--versi

[2016-11-29 19:53] blackdwarf commented on #3773
I would disagree with changing the `--version` to this. It was introduced precisely because it gives back only the CLI version; this is how most of the other CLI toolkits out there that have two different ways to report versions work. Changing this would break people.

We do have the `--info` and we are exploring how to make that better. This suggestion is good and could/should go into `--info`.

[2016-11-29 19:56] vcsjones commented on #4826
+1.

I would propose:

1. If there is no csproj / sln, and there is a project.json or global.json, then print out a message about "dotnet migrate"
2. If there is no project.json, then the existing message is probably fine.
3. If there is a csproj and a project.json, the tooling should be happy to use whatever it wants to so users can have SxS tooling for a project, if they want.

[2016-11-29 20:05] vcsjones commented on #3773
Not to disagree with you, but really to answer my own curiosity, can you give an example?

That's great. I would also consider improving what is displayed when `dotnet` is run with no arguments at all. Most things that I use use that for the REPL, but I don't think that's coming down the pipe any time soon.

Here's a dump of all of my silly thoughts.

1. `--info` should include the runtime version

[2016-11-29 20:15] omajid commented on #3773
@blackdwarf If there's multiple possible versions and any of them will work, maybe list them all?

[2016-11-29 20:15] davidpeden3 opened #4867 "Preview 2+ tooling appears to ignore include directive in publishOptions"
## Steps to reproduce

- Create a project and add a `config.json`
- add a `publishOptions` to `project.json`:

`"publishOptions": {
		"include": "config.json"
	}`

- run `dotnet publish`

## Expected  behavior

The publish folder should contain `config.json`.

## Actual behavior

With SDK 1.0.0-preview1-002702, `config.json` is published.

With the following SDKs:
- 1.0.0-preview2-003131
- 1.0.0-p

[2016-11-29 20:24] davidpeden3 commented on #4867
Turns out that the path parameters passed to `dotnet publish` no longer tolerate  a leading `.\`.

doesn't work:	`dotnet publish .\src\Host\project.json --output .\src\Host\bin\release\publish --configuration Release`

works:		`dotnet publish src\Host\project.json --output src\Host\bin\release\publish --configuration Release`

[2016-11-29 20:31] vcsjones commented on #3704
@blackdwarf is this issue valid anymore? Should this be fixed here or should it be fixed in dotnet/core-setup?

[2016-11-29 21:50] srivatsn commented on #4848
@tmat - do you think the package can be fixed to not include the <Content> statically?

[2016-11-29 21:53] tmat commented on #4848
I have fixed it: https://github.com/dotnet/roslyn-internal/pull/1384/commits/b9fc00eb6b5f2a9f918b1a21fbefcd6db68feec1
Haven't rebuilt and published the new version yet.

[2016-11-29 22:20] prafullbhosale commented on #4514
cc @vkichline @mlorbetske

[2016-11-29 22:26] carlos-sarmiento commented on #4846
I'll leave this so if people find this, they know what was going wrong with my environment. The problem was that the global.json file was missing the "sdk" key.

This global.json works
[code]

[2016-11-29 22:26] #4846 closed

[2016-11-29 22:44] dasMulli commented on #3773
The wording is quite inconsistent at the moment.
`dotnet` tells me:
[code]

So. i just saw "Shared Framework Host version 1.1.0" and "--version tells me shared framework host version".
But `dotnet --version` really tells me the CLI version (`1.0.0-preview4-004079`).

[2016-11-29 22:47] dasMulli commented on #3773
Also there is `--version` and `--fx-version` which look similar, but one is actually a verb ("show version"), the other one is an option. This could be made more distinct (`--use-fx-version 1.0.3` for example. with `--fx-version` still being supported for compatibility).

[2016-11-29 23:22] blackdwarf commented on #3773
@vcsjones hm, I was sure I saw this behavior in `node` that it has two distinct outputs. Just tried it and it seems my memory is not what it was, since it has just one. To be fair though, both `node` and `python` display just their version on `--version`. To your other very good points, here is a summary reply (hope that works):

Yes, we are working on fixing this as it is super confusing to have

[2016-11-29 23:42] plioi commented on #3974
Now that `dotnet test` integration is changing dramatically with the move back to msbuild-based tooling, this request is probably a moot point and can be closed. It's still a shame that test frameworks have *any* need to care about AppDomains when the runner (msbuild now) could do that internally.

[2016-11-29 23:42] #3974 closed

[2016-11-29 23:52] omajid commented on #3773
@blackdwarf My primary concern is that I get the following question when I point someone to .NET Core 1.1: "Why is the version 1.0.0-preview2-1? Did I install it incorrectly?" (see also https://github.com/dotnet/cli/issues/4864). This happened with multiple people, some of them who are generally much more knowledgeable than me when it comes to .NET. It seems to me that it's not obvious to many peo

[2016-11-30 00:12] HakanL opened #4869 "Upgrading Microsoft.NETCore.App from 1.0.1 to 1.1.0 removes type: platform"
## Steps to reproduce

Visual Studio 2015 Update 3, all latest .NET Core tools/extensions installed (including .NET Core 1.1 SDK).

Creating a new .NET Core Command line project adds this dependency to the project.json:
`
  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.1"
    }
  },
`

If you then go under references and upgrade the NuGet packages

[2016-11-30 00:14] davidfowl commented on #4869
Seems like a nuget ui bug no?

[2016-11-30 00:14] HakanL commented on #4869
I apologize if this is not the right place for this issue, I wasn't sure where to report this, if it was related to NuGet or the Microsoft.NETCore.App issue.

[2016-11-30 00:15] HakanL commented on #4869
Whatever is updating the project.json file when upgrading from within Visual Studio, I guess.

[2016-11-30 00:15] davidfowl commented on #4869
Using the nuget ui right?

[2016-11-30 00:16] HakanL commented on #4869
Yes, "Manage NuGet Packages..." menu option in the solution explorer. I just wasn't sure what that ultimately ended up calling.

[2016-11-30 00:20] HakanL commented on #4869
If you think this belongs to the NuGet project then I'll be happy to move it over?

[2016-11-30 00:25] vcsjones commented on #3773
Yes. That's more or less the issue. The issue is too many version numbers and discoverability.

That's why I was advocating for a single option, like `--info`, that dumps *everything*. The Muxer, Runtime, MSBuild, CSC, etc.

The question boils down to what is "the" version of .NET you have installed. The latest runtime? The current version of the tooling? It's marketed as the version of the runtim

[2016-11-30 00:37] HakanL commented on #4869
Somewhat related item: https://github.com/dotnet/core/issues/267

[2016-11-30 00:39] davidfowl commented on #4869
Yep. The CLI isn't involved here. It's a nuget issue.

[2016-11-30 02:03] rohit21agrawal commented on #4726
@nguerrera @rainersigwald do we need to file an issue on msbuild for this? BuiltProjectGroupOutput should include runtimeconfig.json in the list of output files wherever appropriate.

[2016-11-30 03:40] lenew commented on #4171
I also have a similar problem here. A website with Aspnet Core + net462  and ClassLibrary with netstandard1.5.
I've tried to Nuget-install  the latest System.Runtime, but no use.  After I manually copied System.Runtime.dll from Nutget cache directory to website's Debug\bin, the problem solved.

[2016-11-30 07:04] GuardRex commented on #4855
Tools don't work with csproj yet. More important tho for this particular case, `Microsoft.NET.Sdk.Web` takes over for `publish iis` ... it's gone now ... so you can remove it from your project.

Check out the comments in https://github.com/aspnet/IISIntegration/pull/299

[2016-11-30 07:47] colemickens commented on #4856
Just noticed that the prompt switches back and forth in the repro block. It was just a mistake of how I wrote up the issue, I've edited it now to avoid any confusion.

[2016-11-30 13:39] rainersigwald commented on #4726
@rohit21agrawal It should be added to that item wherever it's created. Is it in core (MSBuild) targets, or in the new SDK?

[2016-11-30 15:13] blackdwarf commented on #3993
I actually did reconsider this, and I believe that @TrexinanF14 is right: dotnet run should not cause the host to throw on app's exception. This does drive me up the wall at least when coding. Asking me to put in a try-catch block in my Main method is fine, but that is 6 lines of code I have to do *every time* so I don't think it's ideal.

### Plan suggestion
`dotnet run` should catch any and all

[2016-11-30 16:18] ddrinka commented on #3636
It would be really great to get a patch for this issue for preview2, i.e. project.json.  Everything I've read warns that msbuild/csproj is alpha code and shouldn't be used for production projects.  My team is working to multi-target Docker on Linux with netcoreapp, and Windows with net452.  We're not ready to move to msbuild/csproj, but need working builds for netcoreapp.

Would you reconsider lab

[2016-11-30 16:48] blackdwarf commented on #3773
There seems to be a couple of issues that are conflating here, so let me try to tease them apart:

1. **I cannot find out the runtime I'm using from the CLI** - this is true as today there is nothing that reports on what runtimes you have installed. The challenge here is the `I'm using` part in the sentence above. That bit is governed by the project and you can have multiple versions of .NET Core

[2016-11-30 17:06] jeffkl opened #4871 "Multiple errors converting .net core to csproj"
Moving https://github.com/Microsoft/msbuild/issues/1410 on behalf of @gilmishal

I'm pretty certain that this is a one-way upgrade and that this project won't work in VS2015 any more after migration. This could be a problem with migration, which is owned by the CLI, or it could be an issue with the SDK, which is owned by another team.  The CLI folks should be able to rule out migration.

[2016-11-30 17:08] ddrinka commented on #3636
I've found a simple workaround for this issue:
`mkdir -p /usr/lib/mono/xbuild-frameworks/.NETFramework/v4.5.1`

There's no need to actually install mono.  Just create a folder for the .Net framework version you "need", and publish using `-f netcoreapp1.0`.  It will succeed.

If you want to create a complete list of available frameworks, the Debian package xbuild-frameworks 4.6.2.7-0xamarin2 contai

[2016-11-30 17:11] ddrinka commented on #3658
I've posted a workaround for this issue in the duplicate issue #3636 .

[2016-11-30 17:18] gilmishal commented on #4871
Thanks Jeff,

I kinda figured that the update was one way eventually... I must add that I somewhat managed to fix my issue eventually. I changed the .csproj to be exactly like the one of a new core class library, and reloaded the nuget packages. However, now my project only targets the netstandard1.6 and it is necessary that it targets the net461 as well. That however I couldn't fix.

[2016-11-30 17:30] TrexinanF14 commented on #3993
I think this is acceptable behavior. During development, just seeing the error on stderr is usually enough. I don't think it's much to ask for source-distributed apps to run `dotnet build`, then `dotnet <app.dll>`, rather than just `dotnet run`. An added benefit of declaring `dotnet run` a developer-only tool is that any future decisions around this command only needs to worry about developer happ

[2016-11-30 17:43] svick commented on #3993
Doing this would mean that Just-In-Time Debugging with `dotnet run` would no longer be possible, right?

I've found that feature to be useful sometimes, though it doesn't seem to work well currently with .Net Core (you're shown broken inside some framework code, not your app's code).

[2016-11-30 17:44] cheesemacfly commented on #2174
Could we have what was proposed here: https://github.com/dotnet/cli/issues/13#issuecomment-147847226 instead of just silent/verbose?

[2016-11-30 17:59] leecow opened #4872 "Windows and Mac SDK installer branding is incorrect for the 1.0.3 release"
Currently "Microsoft .NET Core 1.0.2 - SDK 1.0.0 Preview2-003154"

Should be "Microsoft .NET Core 1.0.3 - SDK 1.0.0 Preview2-003154"

Windows arp entry also needs the update.

[2016-11-30 18:01] gilmishal commented on #4871
Also, I am getting an error that it is unable to resolve the project for '.NETStandard,Version=v1.6'
when referencing from an other netstandard project - which is odd The project is there, and they are both .netstandard1.6

[2016-11-30 18:01] vcsjones commented on #3773
That is a very good summary. Thank you. Those are all correct, and I fully agree with them.

That said, I'm still not sure all of this should be buried in `--info` instead of `--version`. I've used no other tool that displays version info behind a CLI option other than "version" (whether it is `--version`, `version`, `-version` is an entirely different matter).

These issues come up to discoverabi

[2016-11-30 18:03] piotrpMSFT commented on #4872
Working on a fix now. Note, the suffix will change from 3154 to something larger.

[2016-11-30 18:14] gortok commented on #3773
I agree with @vcsjones on the discoverability part; and to a new user, the difference between "SDK Version", "CLI Version", and "Runtime Version" isn't at all clear; we love our bins to put things in, but there should be one command that shows all the information a user needs when filling out a bug report asking for the 'version', and that should be the `--version` command.

[2016-11-30 18:15] motowilliams commented on #3773
The expectations seem clear

[code]

[2016-11-30 18:20] rohit21agrawal commented on #4726
@rainersigwald not sure i understand your question...going to ping you on skype to discuss.

[2016-11-30 18:27] piotrpMSFT commented on #4872
Will be fixed by https://github.com/dotnet/cli/pull/4873

[2016-11-30 18:49] blackdwarf commented on #4869
Closing this one, please reopen on Nuget/Home.

[2016-11-30 18:49] #4869 closed

[2016-11-30 19:47] mpoettgen opened #4874 "'Migrating' from .NET Framework to .NET Standard"
What would be best practice when trying to convert a whole bunch of '.NET Framework' csproj-projects to '.NET Standard'/'.NET Core' csproj-projects, optionally targeting multiple frameworks?

The projects are mostly libraries that should be simple enough to compile targeting .NET Standard, but is there any (planned) tool support to convert the traditional csproj files into the new ones?

[2016-11-30 20:20] Spongman commented on #4811
were you able to repro?

[2016-11-30 20:25] jeffkl opened #4875 "Differentiate telemetry based on what is running dotnet.exe"
It would be nice if telemetry events had a property indicating what was running dotnet.exe.  For example, VSCode will be executing it and possible Visual Studio.  It would be great if we could differentiate the callers so we could have an idea about usage.

More callers of dotnet:
* Command window (bash or cmd)
* VSCode
* Visual Studio
* VSTS or other hosted build environments

CC @Sarabeth-Jaffe-

[2016-11-30 20:34] Sarabeth-Jaffe-Microsoft commented on #4875
@DustinCampbell @piotrpMSFT @blackdwarf

[2016-11-30 20:48] 333fred commented on #4871
Moved to dotnet/sdk#447

[2016-11-30 20:48] #4871 closed

[2016-11-30 20:59] livarcocc commented on #4855
Yep, publish-iis does not exist in CSProj.

We have a bug tracking removing the post publish script action for it. We are no longer migrating the package.

[2016-11-30 20:59] #4855 closed

[2016-11-30 21:18] nanopp commented on #4846
Thanks Carlos, my problem is still not solved, is there any chance I could see the "project.json" of your "Somesoft.V2.Libs.EventSourcing project"?

[2016-11-30 22:13] blackdwarf commented on #2174
@cheesemacfly in the next release of the CLI tools, we will accept `--verbosity` switch that will accept MSBuild values.

[2016-11-30 22:28] cheesemacfly commented on #2174
@blackdwarf ah sweet, I missed that information. Looking forward to the next release!

[2016-12-01 01:04] fearthecowboy commented on #4381
@eerhardt / @glennc

I'll tell you exactly what it'll take:
- documentation on how to do some of these things
- stable tools and libraries.

I run the team building AutoRest, which generates the client libraries for .NET/NodeJS/Python/Ruby/Go/Java/etc...

We currently do build a lot of the libraries for netstandard, more every day.

I'm spending some spare time trying to migrate the build scripts

[2016-12-01 02:32] wizarrc commented on #4688
@piotrpMSFT @xatabhk I found a workaround/fix in another repo. I believe the RuntimeIdentifiers needs to be singular, at least with preview4 tooling.

`<RuntimeIdentifier>win7-x86</RuntimeIdentifier>`

https://github.com/dotnet/cli/issues/4619#issuecomment-263067703.

I would imagine it's one of the many migration bugs. Hope that helps.

[2016-12-01 02:37] wizarrc commented on #4619
Does anyone know if this bug is filed for the xproj to csproj migration? I'm not sure if the vs tooling is on GitHub or not. It seems to make it plural every time I migrate. If I knew where to give feedback I could file a bug report.

[2016-12-01 02:48] piotrpMSFT commented on #4859
@Allann please try out the preview3 tooling which moves from project.json to csproj. I'll be curious if you run into issues with using your existing version number generators.

[2016-12-01 02:49] piotrpMSFT commented on #4804
@schellap can you link the issue tracking this?

@blackdwarf any pointers to a work-in-progress?

[2016-12-01 03:08] piotrpMSFT commented on #4860
Moved to NuGet repo

[2016-12-01 03:08] #4860 closed

[2016-12-01 03:17] piotrpMSFT commented on #354
Reopening. Do you get the exact same error? I just deleted `HOME` on OS X 10.12 and ran `dotnet new` and `dotnet restore` and `dotnet run` with no issues. I'm using `1.0.0-preview3-004056`.

[2016-12-01 03:32] piotrpMSFT commented on #354
Let's track this in #2385 as there is more recent context there.

[2016-12-01 03:32] #354 closed

[2016-12-01 04:02] coolcsh commented on #4861
I just have to apologize for the confusing place we are in. .NET Core 1.0 and 1.1 runtimes are both RTM and fully supported. Any application you build on either of those frameworks is completely go live, can be run in production and you can call and our support teams will help you out.

The **tooling** is what is in "preview" and it will RTM with Visual Studio 2017. We have the Visual Studio 2015

[2016-12-01 04:06] piotrpMSFT commented on #4863
@rrelyea is this something that is already under consideration in NuGet?

[2016-12-01 04:09] piotrpMSFT commented on #4795
@jseely are you able to download that package on the same machine without using the script? The binary itself is present... https://dotnetcli.azureedge.net/dotnet/preview/Binaries/1.0.0-preview2-003133/dotnet-dev-win-x64.1.0.0-preview2-003133.zip

[2016-12-01 04:09] piotrpMSFT commented on #4795
oi, also just noticed you said you got the script from `master`. Can you use the exact script @livarcocc recommended?

[2016-12-01 04:10] piotrpMSFT commented on #4857
@rrelyea thoughts?

[2016-12-01 04:11] piotrpMSFT commented on #4866
@ellismg any updates on this?

[2016-12-01 04:11] piotrpMSFT commented on #4865
@bartonjs

[2016-12-01 04:12] piotrpMSFT commented on #4847
@onovotny thoughts?

[2016-12-01 04:13] piotrpMSFT commented on #3759
@eegasai I haven't had a chance to see if this repro's in csproj/preview3 yet. Can you try migrating and giving it a shot?

[2016-12-01 04:15] piotrpMSFT commented on #3439
@radenkozec can you open a new issue with installed version, etc. ?

[2016-12-01 04:16] piotrpMSFT commented on #4864
Let's track in #3773

[2016-12-01 04:16] #4864 closed

[2016-12-01 04:17] piotrpMSFT commented on #4867
Thanks @davidpeden3. I'm sure this workaround will help many.

[2016-12-01 04:17] #4867 closed

[2016-12-01 04:18] piotrpMSFT commented on #4848
@tmat can you link an issue to track?

[2016-12-01 04:25] piotrpMSFT commented on #4856
This is related to https://github.com/dotnet/corefx/issues/1838. We don't have a great mechanism for passing Ctrl+C to other processes at the moment...

[2016-12-01 04:31] piotrpMSFT commented on #4874
@srivatsn thoughts?

[2016-12-01 04:33] piotrpMSFT commented on #4811
@srivatsn @rainersigwald can you guys take a look? We need some broader-than-cli context here :)

[2016-12-01 04:36] #4835 closed

[2016-12-01 04:36] #4792 closed

[2016-12-01 04:50] piotrpMSFT commented on #4381
@fearthecowboy what's causing other developers to become broken? You can run project.json and csproj tools SxS. Is this what you mean by documentation? Perhaps this will help...

https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/ProjectJsonToCSProj.md

[2016-12-01 05:46] colemickens opened #4881 "dotnet outputs executable files on linux"
## Steps to reproduce
`dotnet new`

## Expected  behavior
Read/write files are created

## Actual behavior
Read/write/executable files are created:

[code]

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview3-004056)

Product Information:
 Version:            1.0.0-preview3-004056
 Commit SHA-1 hash:  ccc4968bc3

Runtime Environment:
 OS Name:     debian
 OS Version

[2016-12-01 08:09] radenkozec commented on #3439
@piotrpMSFT I manage to workaround this by adding

Sorry for false report.

[2016-12-01 08:50] mickaelistria commented on #4865
Thanks @tmds . I managed to get dotnet working properly on Fedora 25. Can't wait to see rpms ;) #4866

[2016-12-01 09:42] FelschR commented on #3759
@eegasai Adding the following dependency into the test projects fixed it for me:

        "Microsoft.DotNet.InternalAbstractions": "1.0.1-beta-003206",

[2016-12-01 09:43] kurtdevocht commented on #4788
I have the same setup as @simonech describes in the first post. On top of that, I've also installed visual studio 2017 RC (Visualstudio/public.d15rel/15.0.25920.0).

When I manually update `<TargetFramework>netcoreapp1.0</TargetFramework>` to `<TargetFramework>netcoreapp1.1</TargetFramework>` in the .csproj file, Visual Studio is unable to open the project file (Error message: "Value cannot be nul

[2016-12-01 11:09] janvorli commented on #4856
@piotrpMSFT I was wondering few times before - why do we need to have two processes running for dotnet run (one for dotnet run, the other for its child dotnet exec)? If we didn't have that, we would not have this issue with ctrl-c

[2016-12-01 11:18] svick commented on #4881
This looks like a duplicate of https://github.com/dotnet/cli/issues/4260, whose root cause (https://github.com/dotnet/corefx/issues/13342) has already been fixed. So I think this should be fixed in the next version.

[2016-12-01 11:28] damtur opened #4883 "Adding NETCore.Appv1.1 cli tool to NETCore.App v1.1 Console app doesn't restore."
## Steps to reproduce

Create console app dependent on NETCore.App v 1.1.
Publish it to Nuget
Add that app in `tools` section in you NETCore.App v 1.1. console project.
Do `dotnet restore` for your project

project.json for my DEPENDENT app:

[code]

project.json for my ACTUAL app (where ther is problem)
[code]

NOTE: I don't have NETCoreApp v1.0 anywhere there and I don't know why it's expecting

[2016-12-01 13:06] onovotny commented on #4847
even after removing the `GuidAttribute` from the assembly info, it still fails to build:

[code]

[2016-12-01 16:17] damtur commented on #4883
Indeed duplicate. Closing.

[2016-12-01 16:17] #4883 closed

[2016-12-01 16:18] damtur commented on #4764
I had same problem https://github.com/dotnet/cli/issues/4883 (a little bit more detailed example). Closed my ticket and will follow this from now on.

[2016-12-01 16:45] dsplaisted opened #4884 "Allow MSBuildSDKsPath to be overridden with environment variable"
The CLI is [setting the MSBuildSDKsPath environment variable](https://github.com/dotnet/cli/blob/15d278a07f37bea939203113adbba405cbf67460/src/dotnet/commands/dotnet-msbuild/MSBuildForwardingApp.cs#L30) when invoking MSBuild.  In order to test the .NET SDK, we need to be able to use a different Sdk folder with the Sdk under test instead of the one that is part of the CLI.

Can you change this so th

[2016-12-01 17:10] Fujivato commented on #3759
@FelschR your solution also fixed it for me too, thanks for sharing.

[2016-12-01 17:32] livarcocc commented on #4612
@mlorbetske Can you answer @GuardRex's question about web.config? Is this something that the Web.Sdk is handling?

[2016-12-01 17:33] GuardRex commented on #4612
@livarcocc Thanks ... I'm good. Vijay got me straight on that.

[2016-12-01 18:00] #4066 closed

[2016-12-01 18:12] piotrpMSFT commented on #3439
@radenkozec thanks for following up. We want to get to the bottom of all of these issues so they don't get in folks way in the future. Glad you're unblocked!

[2016-12-01 18:13] piotrpMSFT commented on #4788
@srivatsn @nguerrera @dsplaisted any ideas on this one?

[2016-12-01 18:15] piotrpMSFT commented on #4856
@janvorli CLI is designed to run code it doesn't ship out-of-proc wherever it can. This comes down to assembly binding. `dotnet run` will pull in some dependencies e.g. a coreclr before even considering the app to be run. If those dependencies are different than what the app is built against then `run` will produce a different behavior than the app to be run would if executed directly.

[2016-12-01 18:19] piotrpMSFT commented on #4881
CLI is currently built atop the latest LTS corefx [e.g. 1.0.*]. The fix to #4260 went into the `Current` train of CoreFx, 1.1.*, which the CLI is not planned to target. We expect to get that fix once LTS moves to corefx 2.0.* and the fix is available on that train.

We are looking at some approaches for getting fixes from CoreFx to CLI faster but are not yet ready to change the plan.

[2016-12-01 18:27] nguerrera commented on #4788
Does the project build fine on the command line?

[2016-12-01 18:46] piotrpMSFT commented on #4847
@onovotny did you try to `git clean`? it looks like there is a bunch of leftover state [also interesting to clean up I think... @srivatsn?] that is causing a bunch of targets to skip. I removed the Guid attribute on a clean clone and build succeeded for netcoreapp1.0 and 1.3. It failed for net45 because OS X.

[2016-12-01 19:14] onovotny commented on #4847
Yes, no dice. It's failing on the Profile32 ones, the UAP10.0 one and the WP8 one:

[code]

[2016-12-01 19:19] piotrpMSFT commented on #4847
@srivatsn AFAIK we do not support those profiles atop the .NET Core SDK at this point.

[2016-12-01 19:25] onovotny commented on #4847
It works in the preview2 tooling and I would expect it to work by GA from a cross-compiling tooling perspective.

[2016-12-01 19:57] GrantErickson commented on #3064
I just installed an older version based on this known issue with the tooling. https://github.com/aspnet/Tooling/blob/master/known-issues-vs2015.md#missing-sdk

It wasn't clear why an upgrade to the project wouldn't work. I couldn't get it to work by changing the tooling version in the global.json. However, installing 3121 did get me going again.

[2016-12-01 20:40] fir3pho3nixx commented on #4623
Rather then sending people through a wormhole of issues and wiki markdown documents could you please re-open this issue and advise on the fix status?

Also rather than imposing laborious repro's as a burden on your consumers would it be too harsh to ask you guys to find and fix the problem?

After all you are the originators here and should probably take responsibility for finding and fixing the p

[2016-12-01 20:42] fir3pho3nixx commented on #4623
![image](https://cloud.githubusercontent.com/assets/607402/20811697/9eb223ee-b806-11e6-9184-b160e818bb5c.png)

[2016-12-01 20:47] fir3pho3nixx commented on #4623
To quote your markdown "To migrate a project open a command prompt and go to the project's root directory. From here, type dotnet migrate and let the tool do its work. For most projects, that's it!"

Nah dude ... it does not.

C:\code\amazon-micrososervices\lambda-has-gots-core>dotnet migrate

Unhandled Exception: System.IO.DirectoryNotFoundException: Could not find a part of the path 'C:\Users\Ga

[2016-12-01 22:06] TheSamsterZA commented on #4513
@blackdwarf I agree with you that the basic scenarios should be enabled and baked first before enhancing the tool to support more complex scenarios.

However, I do believe there should be some support for solution-level folders as a basic scenario, because one popular structure for .NET projects is:

![untitled-blur](https://cloud.githubusercontent.com/assets/4981594/20813622/67cd3134-b86a-11e6-9e

[2016-12-01 22:28] TheSamsterZA commented on #4513
For startup projects, currently, this information is stored in the .suo file. I would like this information to be stored in the .sln file instead.

Generally, by default the first project added to the solution is marked as the startup project. However, if I want to specify another project (or projects), I would do that with:

[code]

Then, as @sayedihashimi [mentioned before](https://github.com/do

[2016-12-01 22:45] #4884 closed

[2016-12-01 23:08] minddagap commented on #3759
@FelschR  I dont know how you got this. But its brilliant , thanks

[2016-12-01 23:10] piotrpMSFT commented on #4875
CLI already offers a [`DOTNET_CLI_TELEMETRY_PROFILE`](https://github.com/dotnet/cli/src/dotnet/Telemetry.cs#L94) environment variable that allows callers to identify the context in which the CLI is running. We treat this as a black-box string so anything can be passed in and will be reported. We typically use it as a `;`-delimited list to aggregate context from multiple components.

CLI builds use

[2016-12-01 23:12] piotrpMSFT commented on #4875
Closing the issue. If there is a gap I'm not seeing, please do reopen.

[2016-12-01 23:12] #4875 closed

[2016-12-01 23:17] piotrpMSFT commented on #4872
Fixed by #4873

[2016-12-01 23:17] #4872 closed

[2016-12-01 23:24] piotrpMSFT opened #4887 "Update CLI to include offline SDKs for Web and Core"
- [x] Update MSBuild to 15.1.0-preview-000451-02
 - [x] Add Core SDK to CLI layout
 - [x] Add Web SDK to CLI layout
 - [x] Add NuGet Pack SDK to CLI layout
 - [ ] Add Test SDK to CLI layout
 - [x] Update Core Template
 - [x] Update Web Template

/cc @srivatsn @dsplaisted @MattGertz @rainersigwald @AndyGerlicher @Sarabeth-Jaffe-Microsoft  @blackdwarf @livarcocc @mlorbetske @rrelyea

[2016-12-01 23:31] rainersigwald commented on #4887
Don't forget the NuGet Pack SDK.

[2016-12-01 23:47] piotrpMSFT commented on #4887
Thanks @rainersigwald. Updated, also adding Test SDK

[2016-12-01 23:48] piotrpMSFT commented on #4887
If folks could give me versions for all the Adds without versions, I can make fwd progress

[2016-12-02 00:16] rainersigwald commented on #4887
MSBuild for CLI should be version `15.1.0-preview-000451-02`.

(The off-by-one from the VS version is a long sad story, and we'll fix it before the next prerelease: https://github.com/Microsoft/msbuild/issues/1426. There is no code change between 450 and 451, just a version-number-bump commit that allowed the build to finish indexing symbols.)

[2016-12-02 00:20] piotrpMSFT commented on #4887
Fixed inline. PR for bumping the version is coming now.

[2016-12-02 00:25] DustinCampbell commented on #4875
That's not a terrible solution. :smile:

Is there a particular string you'd like the C# VS Code extension to use, since it's your telemetry reporting.

[2016-12-02 02:13] zfrolov commented on #3759
@FelschR
Thanks! Adding said dependency worked for me.

[2016-12-02 03:10] livarcocc commented on #4881
I am going to close this one in favor of #4260. I don't see the point of using two issues to track the same problem.

[2016-12-02 03:10] #4881 closed

[2016-12-02 03:18] carlos-sarmiento commented on #4846
Post your project.json and I can take a look

[2016-12-02 07:13] kurtdevocht commented on #4788
@nguerrera Yes, it does compile and run when built on the command line.

[2016-12-02 07:47] timotyweis commented on #3199
A lot of things are moving to solve this kind of scenarios. One may be the "[.NET Core Tools MSBuild 'alpha'](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/)" to convert the xproj in a csproj, which probably will solve the majority of the problems here. However, the most interesting direction is the one highlighted by the "[.NET Standard 2](https://gith

[2016-12-02 08:43] piotrpMSFT opened #4892 "VSTestXunitDesktopAndNetCore.csproj locked to old Microsoft.Net.Sdk"
@Faizan2304 FYI, perhaps you can fix?

We are trying to move CLI repo to a common Microsoft.Net.Sdk version. VSTestXunitDesktopAndNetCore.csproj is currently at version 1.0.0-alpha-20161026-2. Moving it forward to 1.0.0-alpha-20161104-2 causes a failure:

[code]

The test asset or test should be updated to pass when the Microsoft.Net.Sdk version is set to $(CLI_NETSDK_Version)

[2016-12-02 08:46] piotrpMSFT opened #4893 "PerformanceTestProjects cannot be rolled forward to latest sdk"

[2016-12-02 14:07] tommed commented on #3114
This doesn't seem to work now msbuild us used for testing? Or have I missed something?

[code]

[2016-12-02 16:30] MirKml commented on #3995
Yes, same here. With cmd.exe shell it works, with msys2 shell it doesn't. Error message is: ```An item with the same key has already been added. Key: tmp```
and content of tmp env variable is
[code]

[2016-12-02 17:02] nguerrera commented on #4788
@kurtdevocht Thanks for the report. I've filed https://github.com/dotnet/roslyn-project-system/issues/862 to look at this on the VS side.

[2016-12-02 18:18] danrozenberg opened #4896 "dotnet build does not bring correct System.Runtime to bin folder if project has reference to System.Collections.Immutable"
## Steps to reproduce

1. Create new project
2. Change project.json to the following:

[code]

3. Run ``dotnet restore``
4. Run ``dotnet build``

## Expected  behavior

``ProjectRoot\bin\Debug\net462\win7-x64`` folder should have ``System.Runtime.dll``. The version (verified with ILSpy or similar) should be 4.1.0

## Actual behavior

 ``System.Runtime.dll`` is not added to the bin folder. This cau

[2016-12-02 18:42] spboyer commented on #4887
Recommend adding Web API template to the CLI

[2016-12-02 18:44] livarcocc commented on #4445
Will keep it as is.

[2016-12-02 18:44] #4445 closed

[2016-12-02 18:46] livarcocc commented on #4532
@blackdwarf Is this something that you are going to be able to do?

@leecow Can you help with the changes to download#core?

[2016-12-02 18:48] livarcocc commented on #4480
Fixed by https://github.com/dotnet/cli/pull/4719/files.

[2016-12-02 18:48] #4480 closed

[2016-12-02 18:49] livarcocc commented on #4627
Duplicate of https://github.com/dotnet/cli/issues/4166.

[2016-12-02 18:49] #4627 closed

[2016-12-02 21:16] piotrpMSFT commented on #4887
@mlorbetske

[2016-12-02 22:40] alzuma commented on #3759
` "Microsoft.DotNet.InternalAbstractions": "1.0.0"` worked for me.

[2016-12-03 14:52] dazinator opened #4905 "DotNetRestore http cache and failed packages"
## Steps to reproduce
update project.json and change a dependency to a new version that doesn't yet exist on nuget.org.
do a `dotnet restore`
The restore will fail correctly
now publish that version of the package to nuget.org
do a `dotnet restore`
The restore continues to fail.
Do a `dotnet restore --no-cache`
The restore will pass.

## Expected  behavior
I would not expect the http cache to cach

[2016-12-03 17:42] davidfowl opened #4906 "Change PrivateAssets to be an attribute instead of an element"
The new templates still have PrivateAssets as an element when attributes work and are more succinct. I haven't heard a good reason why this is.

[2016-12-03 19:10] Ayoubexax opened #4907 "dotnet Error"
Hi every one , i'm trying to run dot net , but it's gave me this error
C:\Developpement\AspProject\ContactManager
λ dotnet run
Failed to load the dll from [C:\Program Files\dotnet\host\fxr\1.0.1\hostfxr.dll], HRESULT: 0x80070057

[2016-12-03 20:06] bradwilson commented on #3114
@tommed You should not expect to be able to use runner-specific features with `dotnet test` any more.

In the world of project.json (that is DNX, and .NET Core SDK prior to Preview 3), `dotnet test` was just a thin shim to a console application written by the unit test framework author. The code for `dotnet-test-xunit` was extremely similar to the code for `xunit.console.exe`.

In the world of MSB

[2016-12-03 21:26] Thealexbarney opened #4908 "dotnet-new doesn't cleanup when project already exists"
When running dotnet new multiple times with different templates, it leaves behind extra files instead of doing nothing.

## Steps to reproduce
Let's say our working directory is "install"
`dotnet new -t console`
`dotnet new -t lib`

## Expected  behavior
The working directory is left with the generated files from `dotnet new -t console`:
install.csproj
Program.cs

## Actual behavior
The working di

[2016-12-03 21:28] Thealexbarney opened #4909 "dotnet-new fails if "$projectName$.csproj" exists"
## Steps to reproduce
Create a file named "$projectName$.csproj"
Run `dotnet new` in that directory
## Expected  behavior
A new project is generated.

## Actual behavior
Fails with "Creating new C# project failed, directory already contains $projectName$.csproj"

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview4-004178)

Product Information:
Version: 1.0.0-previe

[2016-12-03 21:33] svick commented on #4909
Why would you expect it to succeed? You're trying to create a project in a directory that already contains one. I think doing nothing and showing an error message (so that you can delete the old project, if that's what you wanted) is the right thing to do here.

[2016-12-03 21:45] Thealexbarney commented on #4909
I would expect it to do nothing if the directory contained a .csproj with the same name as the directory. Here it fails if a file with the literal name "$projectName$.csproj" exists instead of creating a new project with the directory name, which is what it does if a .csproj with any other name already exists.

dotnet-new simply extracts the zip file containing the template to the current director

[2016-12-03 22:16] dlech commented on #291
This is still an issue for me on macOS Sierra, following the hello world example from <https://www.microsoft.com/net/core#macos>.

Following the steps provided in the link, (`dotnet new; dotnet restore; dotnet run`) I get the exception as described in the first comment of this issue when trying to run with `dotnet run`. The `dotnet restore --runtime osx.10.10-x64` workaround is still required in o

[2016-12-04 00:23] piotrpMSFT opened #4910 "CLI Usage of stdout v. stderr"
We need to identify how CLI takes advantage of the stdout and stderr streams to set good expectations and help folks consume the CLI effectively, particularly in pipelining scenarios. I'd love to first get the community's thoughts on what stdout and stderr mean to them. Once we come up with guidance we want to follow we can use the issue to track cleaning up the CLI and its scripts.

/cc a bunch o

[2016-12-04 01:31] blackdwarf commented on #291
@dletch we do have the `--version` option in the CLI. When you say you don't uave it what do you mean by that?

[2016-12-04 01:37] dlech commented on #291
I'm guessing that I have two versions of `dotnet` installed, one that I installed a year ago and one that I installed today. I haven't been using it in between. The older version must be in `$PATH` before the newer version. If I run `dotnet --version`, I get `Unknown option: --version`.

So, I imagine this bug is fixed and I am just seeing it still because I am running a very old `dotnet` that I n

[2016-12-04 01:58] dlech commented on #291
If found [this script](https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/obtain/uninstall/dotnet-uninstall-pkgs.sh) to uninstall the old version, so I am up and running now.

[2016-12-04 03:09] piotrpMSFT opened #4913 "StreamForwarder.cs can miss process output"
The attachment process for our StreamForwarders requires that the target Process be started before the StreamForwarder beigns capturing output. We have had flaky tests due to a target process closing before we even attempt to attach the Forwarders. I suspect we also have missing output in our build logs because some output got printed before the StreamForwarders attached... though there may be log

[2016-12-04 04:18] onovotny opened #4914 "dotnet test fails: dotnet exec needs a managed .dll or .exe extension. The application specified was 'C:\Program'"
## Steps to reproduce

clone https://github.com/onovotny/bc-csharp and check out the `netstandard` branch.

use dotnet restore, dotnet build and then dotnet test
## Expected  behavior
tests should run

## Actual behavior
Test run for C:\dev\bc-sharp\crypto\test\bin\Debug\net462\crypto.test.dll(.NETFramework,Version=v4.6.2)
dotnet exec needs a managed .dll or .exe extension. The application specifi

[2016-12-04 05:41] blackdwarf commented on #291
@dlech good, glad to see you're back on track. :)

[2016-12-04 09:58] piotrpMSFT commented on #4875
`invoker:VSCode;invoker{version|architecture|whatever};` ?

[2016-12-04 10:02] piotrpMSFT commented on #4788
Since the remaining issue is tracked by dotnet/roslyn-project-system#862, closing this one.

[2016-12-04 10:02] #4788 closed

[2016-12-04 10:22] piotrpMSFT commented on #4905
This issue belongs in https://github.com/nuget/home.

[2016-12-04 10:22] #4905 closed

[2016-12-04 10:34] piotrpMSFT commented on #4907
what version of CLI do you have installed?

[2016-12-04 10:35] piotrpMSFT commented on #4907
Try installing latest from http://dot.net/core

[2016-12-04 10:36] piotrpMSFT commented on #3114
It will also be possible to create custom loggers that output in another format like xunit v2 xml.

[2016-12-04 10:39] piotrpMSFT commented on #4914
Dupe of #4744 [which is fixed :)]

[2016-12-04 10:39] #4914 closed

[2016-12-04 13:27] onovotny commented on #4914
Do you know if the preview4-series tooling works with the current VS 2017 RC? Trying not to break things terribly ;)

[2016-12-04 13:42] dazinator commented on #4905
Ok thanks, have raised it there.

[2016-12-04 17:36] #4612 closed

[2016-12-04 20:12] onovotny commented on #4847
I see part of the issue...
When working with the profiles, the build tooling isn't auto-referencing all libraries in the profile like before. It needs to continue to do that. Instead, I had to add to get past the Profile32 issue and on to the next thing:

[code]

 "C:\dev\MegaLib\Preview3-migrate-bug\MegaLib.csproj" (default target) (2:6) ->
       (_CheckForUnsupportedTargetFramework target) ->

[2016-12-04 23:25] piotrpMSFT commented on #4887
#4675 tracks templates folks would like to see added, @spboyer. I'll make sure WebAPI is listed there.

[2016-12-05 02:12] plioi commented on #3114
@piotrpMSFT But report file format is just one example of how unusable preview3's `dotnet test` is, now. As is, "dotnet test" supports "any test framework as long as that test framework *doesn't have features*".

[2016-12-05 02:28] blackdwarf commented on #3993
@TrexinanF14 to be fair, `dotnet run` has always been a "dev-only scenario" focused due to the way it worked and how it resolved dependencies. This change would emphasize that further.  I want to see if others see any problem(s) with that.

@svick how so?

[2016-12-05 02:29] blackdwarf commented on #3114
@plioi what would be your suggestion?

[2016-12-05 02:36] blackdwarf commented on #4910
I would say, from my perspective, that we should use these two streams as they've been designed, that is:

* Operational output goes to STDOUT
* Errors and similar go to STDERR

Another thing we should consider doing, to be good \*nix citizens, is to identify `dotnet` in the error messages, that is, prefix each error message with `dotnet: `.

[2016-12-05 02:49] plioi commented on #3114
Passing the command line arguments through, like before. In the earlier previews, everything after the special positional "--" argument was intended for the test framework to receive. Test frameworks were therefore allowed to have features, were allowed to skip throwing resources at output file formats the user wasn't asking for, etc.

My understanding is that preview 3 does command line integrati

[2016-12-05 03:03] plioi commented on #3114
Better yet, IDE mode test running and CLI mode test running are simply different things, and ought to be separate. Allowing CLI runs to be lean and featureful wouldn't have to cripple IDE running, and IDE running wouldn't have to cripple CLI running.

[2016-12-05 03:04] Allann commented on #4859
I am unable to do that for a while.  unless there is an easy way to upgrade to that version without affecting the remaining applications.  Limited to using 1.0.0-preview2-003131 for now.

[2016-12-05 03:07] Allann commented on #4859
btw the link in the description for this project doesn't work.  Has a space in the hyperlink that fails to navigate.  (https://docs.microsoft.com/en-us/dotnet)

[2016-12-05 03:29] blackdwarf commented on #4513
@TheSamsterZA for the startup projects, I see what you mean, but unfortunately, changing the behavior of where startup project data is kept should come first from Visual Studio and then flow to the CLI and other tools. There needs to be unification on where this data is kept and not forking based on the toolset which can lead to some confusing situations.

[2016-12-05 03:29] blackdwarf commented on #4532
@livarcocc yes, I should be able to do it on Tue or Wed. I will also take on the changes to the download page as well, though they will need more thinking.

[2016-12-05 03:30] blackdwarf commented on #3114
@plioi thanks for the feedback, that is quite useful.

[2016-12-05 03:51] plioi commented on #3114
I'll write up a proposal in a separate issue first thing tomorrow, for what the imagined dotnet test CLI would be if the IDE concerns were separate.

[2016-12-05 04:43] LaAzteca opened #4918 "Worker"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2016-12-05 04:43] #4918 closed

[2016-12-05 05:41] vcsjones opened #4919 "Feature Request: command that runs ConfigureDotNetForFirstTimeUse"
## Steps to reproduce

When building our own custom images that have .NET Core on them, we would like to prime the nuget cache while the OS image is being built. Currently, we do this by having a dummy project.json in a temp directory, then calling `dotnet restore` on it. That way when OS images are spun up, they don't lose ~10-20 seconds.

This feels a little "duct-tapish" to me. It would be very

[2016-12-05 06:47] piotrpMSFT commented on #4919
@blackdwarf what do you think? I've heard this come up a few times.

`dotnet ensure-first-run-experience`?
`dotnet --ensure-first-run`?

I don't love either name, but we do need to provide this functionality...

@livarcocc

[2016-12-05 06:50] piotrpMSFT commented on #4910
@blackdwarf I've failed to find a good explanation of STDOUT vs. STDERR

@nguerrera brought up an interesting point that STDOUT may benefit from being pipelined to other apps/scripts. STDERR, in this scenario, would get things like diagnostic messages.

I think this topic merits some discussion and I'd love to get some community feedback before we write down what we intend.

[2016-12-05 07:14] blackdwarf commented on #4919
@piotrpMSFT I've already talked with @MichaelSimons about this a while back. My suggestion was that given that this was a configuration task that we expose this through a more general-purpose `configure` verb in the CLI.

[2016-12-05 07:18] blackdwarf commented on #4910
@piotrpMSFT http://www.jstorimer.com/blogs/workingwithcode/7766119-when-to-use-stderr-instead-of-stdout is a pretty nice explanation.

TL;DR: STDERR is for diagnostic messages, while STDOUT is for normal app output. Since they are separated, they can be redirected independently, which means that if I redirect STDOUT into a file, STDERR will still show error messages on the console. Actually, this

[2016-12-05 09:41] milla opened #4920 "dotnet pack detailed log?"
## Steps to reproduce
dotnet pack

## Expected  behavior
Successfully generate nuget package files

## Actual behavior
throw error:
Sequence contains no matching element
cannot find any other info, not able to identity issue

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-003133)

Product Information:
 Version:            1.0.0-preview2-003133
 Commit SHA-1 ha

[2016-12-05 10:36] svick commented on #3993
@blackdwarf As far as I know Just-In-Time Debugging activates when an exception is uncaught by an application. If `dotnet run` caught any exceptions thrown by user code, that would no longer happen and so Just-In-Time Debugging wouldn't activate.

[2016-12-05 10:43] marcofranssen commented on #576
Wondering what the status of this ticket is...

I'm using dotnet cli `1.0.0-preview2-003121`

Also added to my project.json

[code]

But it still shows me those warnings for missing XML comments

[2016-12-05 13:35] vcsjones commented on #4919
I'm happy to take a stab at a PR for whatever we decide is the correct thing to do.

[2016-12-05 14:54] plioi opened #4921 "Restore dotnet test functionality by separating it from IDE concerns"
This is in response to the breakage described by the xUnit team here: https://github.com/dotnet/cli/issues/3114#issuecomment-264662326

# Summary

By separating IDE integration from `dotnet test`, test frameworks' own features can be made available again to end users, and test frameworks can continue to be as lean as they always have been.

# Background

Before preview 3, `dotnet test` allowed for

[2016-12-05 17:18] livarcocc commented on #576
compilerOptions has been deprecated a long time ago, ever since we released preview2. Please, use buildOptions.

Also, we are not making improvements to project.json anymore. All our improvements are on top of MSBuild.

[2016-12-05 17:22] livarcocc commented on #4921
@Faizan2304

[2016-12-05 17:26] Meyce commented on #3592
using -o is still an issue as of 1.0.0-preview2-1-003177

[2016-12-05 17:28] livarcocc commented on #4555
@blackdwarf can you comment based on my last comment? Do we still need this now that we have ref add and that we are moving PJ to a backup folder?

[2016-12-05 17:37] livarcocc commented on #3592
what is the issue that you are seeing?

[2016-12-05 17:39] Meyce commented on #2871
still broken as of Preview 2-1-003177.  Attempted --output of --framework net462 and received the same error.

[2016-12-05 17:43] Meyce commented on #3592
Apologies.  Commented on the wrong post.

[2016-12-05 17:47] plioi commented on #3114
@blackdwarf I've proposed a simplification in #4921 that would restore this functionality.

[2016-12-05 18:04] blackdwarf commented on #4555
Sure, closing this down.

[2016-12-05 18:04] #4555 closed

[2016-12-05 18:32] blackdwarf commented on #3993
@svick ah, that feature, ok. Yes, that would fall into the "any OS (or other higher-level) facilities would not be usable".

[2016-12-05 18:43] aL3891 commented on #4453
I've started implementing project.json and several other methods of specifying references over at https://github.com/aL3891/CustomPackageReferences if you're interested. Early days but the concept works at least :) its a bit rougher than the "real" thing but its close. also, intellisense still works for project.json in the current vs builds, so that's kind of nice

[2016-12-05 19:00] livarcocc commented on #4745
@prafullbhosale Any news on whether you moved away from ProjectDependenciesCommandFactory or not? Or better yet, from Cli.Utils?

[2016-12-05 19:34] piotrpMSFT commented on #2454
Documentation bug is filed, and the `run`-time behavior is being tracked in dotnet/sdk#458. Closing this issue.

[2016-12-05 19:34] #2454 closed

[2016-12-05 19:36] piotrpMSFT commented on #2456
Once we migrate `shared` to content per NuGet/Home#3914 this should be resolved.

[2016-12-05 19:47] piotrpMSFT commented on #3528
PublishOutputPath becomes OutputDir in preview3+. OutputDir, like other directory paths in msbuild, are specified relative to the csproj file path. You can see the full mapping from Project.json to csproj here:

https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectJsonMigration/Rules/MigrateScriptsRule.cs#L143

[2016-12-05 19:47] #3528 closed

[2016-12-05 19:49] piotrpMSFT commented on #3736
Related to #2199

[2016-12-05 19:56] piotrpMSFT commented on #3828
Since we dont' have a repro, I'm closing this out. If it still repros on preview3+, please open a new issue.

[2016-12-05 19:56] #3828 closed

[2016-12-05 19:57] piotrpMSFT commented on #3995
potentially related to #354

[2016-12-05 20:05] piotrpMSFT commented on #4399
@naamunds is this still something we need to pursue? I've not seen any infra problems for some time...

[2016-12-05 20:07] piotrpMSFT commented on #4422
This change will need to be made in `dotnet build` and `dotnet restore`.

[2016-12-05 20:08] prafullbhosale commented on #4745
Haven't started looking into it yet.
Will update once I have made some progress.

[2016-12-05 20:14] #4250 closed

[2016-12-05 20:15] livarcocc commented on #4250
We migrated some of our old pack project.json tests to msbuild.

[2016-12-05 20:18] piotrpMSFT commented on #4422
@blackdwarf @richlander do we really want to make this breaking change?

[2016-12-05 20:19] piotrpMSFT commented on #4452
System.Diagnostics.Process.GetProcesses() is no longer invoked from dotnet-test

[2016-12-05 20:19] #4452 closed

[2016-12-05 20:21] piotrpMSFT commented on #4381
We've not had other issues regarding imports being missing from default templates since this change was introduced. I'm going to close this issue and remove the affected tests. I will continue the conversation with @fearthecowboy offline to help get the Azure team unblocked.

[2016-12-05 20:23] livarcocc commented on #4762
They are showing up on help now.

[2016-12-05 20:23] #4762 closed

[2016-12-05 20:24] piotrpMSFT commented on #4381
PR is out.

[2016-12-05 20:26] piotrpMSFT commented on #4461
I'm moving this into the backlog until we next bootstrap a new distro. I'm happy to work with folks on this once we're solving an immediate problem.

[2016-12-05 20:28] piotrpMSFT commented on #4504
I talked to @Faizan2304 last night and understood that this issue has been fixed in the VSTest repo and that a new drop will be coming to CLI this week.

[2016-12-05 20:29] piotrpMSFT commented on #4509
@blackdwarf the runtimes are not managed by the CLI. Please move this to the core-setup issue to be fixed in the host. Folks shouldn't need to install CLI just to see what state their Shared Frameworks are in.

[2016-12-05 20:29] #4509 closed

[2016-12-05 20:32] piotrpMSFT commented on #4532
@blackdwarf is this a dupe of #507 as well?

[2016-12-05 20:36] piotrpMSFT commented on #4609
Since there is nothing to do in CLI until nuget/home#4691 is fixed, closing the issue.

[2016-12-05 20:40] #4616 closed

[2016-12-05 20:51] livarcocc commented on #4649
Closing this in favor of the SDK issue above.

[2016-12-05 20:51] #4649 closed

[2016-12-05 20:53] piotrpMSFT commented on #4691
dupe of #4609

[2016-12-05 20:53] #4691 closed

[2016-12-05 20:56] piotrpMSFT commented on #4667
@nguerrera is this something that we can and should handle in SDK? de-dupe the EmbeddedResource list? are there valid scenarios where it is desirable to include duplicates? Also in Compile, etc.?

[2016-12-05 20:58] #4695 closed

[2016-12-05 21:00] piotrpMSFT commented on #4702
Microsoft/msbuild#1340 and Microsoft/msbuild#1378 are both fixed, merged, and inserted into CLI. @Petermarcu let us know if there is still a lingering issue here. I did not see a repro with today's build.

[2016-12-05 21:00] #4702 closed

[2016-12-05 21:01] ekumlin opened #4927 "When running tests via VSTest, only one framework (of multiple) will run"
## Steps to reproduce
1. Create a .NET Core class library, with a `project.json` containing two frameworks:
[code]
1. Create a second .NET Core class library as a test project containing MSTest/VSTest tests, also using two frameworks:
[code]
1. Add tests to the test library.
1. Run (from a developer prompt in the test library's directory): `vstest.console.exe project.json /UseVsixExtensions:true`

[2016-12-05 21:01] piotrpMSFT commented on #4703
@schellap we talked about this briefly offline. Is there a fix here you and @gkhanna79 would like to pursue in the host?

[2016-12-05 21:02] piotrpMSFT commented on #4704
This was discussed in WAR and we decided not to pursue the scenario at this time.

[2016-12-05 21:04] piotrpMSFT commented on #4716
Restore and Pack should not require a runtime property.

[2016-12-05 21:04] livarcocc commented on #4852
@mellinoe Can you please share your project.json?

[2016-12-05 21:06] piotrpMSFT commented on #4726
@rainersigwald @rohit21agrawal did this issue get figured out? I'm not sure what we're tracking in CLI for this. Please re-open is there is something you would like us to do.

[2016-12-05 21:06] #4726 closed

[2016-12-05 21:10] piotrpMSFT commented on #4727
@jgoshi do you have a sample PJ file that replicates this scenario?

[2016-12-05 21:10] livarcocc commented on #4727
Whenever the name is set in PJ, we set that as OutputName. The packageId I believe will stay the folder name.

[2016-12-05 21:11] piotrpMSFT commented on #4730
#2199 is related

[2016-12-05 21:11] #4730 closed

[2016-12-05 21:12] piotrpMSFT commented on #4734
#4696 is related

[2016-12-05 21:12] #4084 closed

[2016-12-05 21:12] #3704 closed

[2016-12-05 21:13] benjamincburns commented on #3736
@piotrpMSFT, I assume that since this has been assigned there's agreement that it should be done, but you don't need me to submit a PR?

[2016-12-05 21:18] piotrpMSFT commented on #4751
With the introduction of the Sdk attribute, the version of the SDK is now included in the CLI/VS itself and not expressed by migration in the project file. #4916

[2016-12-05 21:18] #4751 closed

[2016-12-05 21:20] piotrpMSFT commented on #4787
@enricosada are we still tracking anything here?

[2016-12-05 21:20] piotrpMSFT commented on #4787
Let's reopen this one if there is still some CLI issue here.

[2016-12-05 21:20] #4787 closed

[2016-12-05 21:23] piotrpMSFT commented on #4837
@Faizan2304 can you take a look?

[2016-12-05 21:23] enricosada commented on #4787
Please close, is tracked in netcorecli-fsc

There is a package to fix it in feed https://www.myget.org/F/netcorecli-fsc-preview2-1/api/v3/index.json waiting for publish on nuget.org

[2016-12-05 21:27] livarcocc commented on #4660
@piotrpMSFT Assigning to you since you have been chasing these guys down.

[2016-12-05 21:28] bradwilson commented on #4921
To be pedantic, prior to Preview 3 there was still a single plugin that works for both the IDE and the command line; it was just architected differently than the one that's in Preview 3 and later.

[2016-12-05 21:30] vcsjones commented on #4910
Yes I agree. Certain build tools and scripts treat output from each distinctly. For example, if we receive output on `stderr`, the build server may assume that the build has failed (in addition to checking the exit code).

Another common need is for redirection. Consider if we had a very noisy build on STDOUT, but we still wanted to receive STDERR to a log file. Perhaps we would do something like

[2016-12-05 21:46] piotrpMSFT commented on #3695
@joshfree @tarekgh does this still repro for you on preview3 or later? If so, please re-open the issue in the dotnet/sdk issue as that is where resource generation is being handled in the msbuild .NET Core toolchain.

[2016-12-05 21:46] #3695 closed

[2016-12-05 21:46] jaredpar commented on #4910
When making the decision for CLI I think we should take a look at our existing tooling and see if it sets up a  pattern here.  Looking at the tools involved in the CLI toolchain I know for instance the compilers never use StdErr.  Even error messages go to stdout.

I *believe* MSBuild is the same but wouldn't swear to it.

[2016-12-05 21:48] mellinoe commented on #4852
It's this one:

https://github.com/mellinoe/ImGui.NET/blob/master/src/ImGui.NET/project.json

[2016-12-05 22:10] blackdwarf commented on #4921
@plioi thanks for the writeup. I would like to take a slight step back and try to extract requirements from your writeup:

1. **Decouple the `dotnet test` from any IDE concerns** - this is mostly due to perceived performance impact of those concerns in purely CLI scenarios.
2. **Allow access to the underlying test runner** - this so that the user can access all of the specifics of the test framewo

[2016-12-05 22:14] plioi commented on #4921
That's correct. As you're getting at, my concerns are the overhead in CLI scenarios, and the ability to get test-framework-specific command line arguments through to the underlying test framework to enable their features. It's merely an opinion that the issues would be resolved by separating CLI mode from IDE mode as described.

[2016-12-05 22:21] blackdwarf commented on #4422
@piotrpMSFT no. When I created this issues it *seemed* like the right thing to do, however, on second thought, it is nitpicking on something that is common understanding. That coupled with the breaking change nature of it seems to me like we should close it, so I will do just that.

[2016-12-05 22:21] #4422 closed

[2016-12-05 22:22] bradwilson commented on #4921
FWIW, I don't feel like item 1 is an issue at all. Nobody complained in DNX or pre-Preview 3 SDK tooling about the fact that a single binary was used for IDE and CLI. It's a red herring. Fixing issue 2 is what you should focus on here (whether that means divorcing from IDE or not should be a secondary consequence of the design, rather than a primary goal).

[2016-12-05 22:25] naamunds commented on #4399
@piotrpMSFT It looks like this is still an issue.  https://github.com/dotnet/versions/blob/master/build-info/dotnet/cli/rel/1.0.0/Latest_Packages.txt has been empty since the last change to it, on Nov 4.  dotnet-docker-nightly depends on this file to update its preview3 CLI version, e.g. in https://github.com/dotnet/dotnet-docker-nightly/blob/master/1.0/debian/sdk/msbuild/Dockerfile#L30.

It doesn

[2016-12-05 23:00] blackdwarf commented on #4920
@milla can you share your project? Also, have you ran `restore` beforehand?

[2016-12-05 23:11] blackdwarf commented on #4859
@Allann by default, the tools install side-by-side. You can use a global.json file to constrain the version that a given project needs. More information is on https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/ProjectJsonToCSProj.md.

[2016-12-05 23:39] livarcocc commented on #4927
@Faizan2304

[2016-12-05 23:44] livarcocc commented on #4906
We don't have PrivateAssets in the templates anymore.

[2016-12-05 23:44] #4906 closed

[2016-12-05 23:46] livarcocc commented on #4850
@mellinoe Which console are you using? I see you are on windows, but I can't repro this in powershell.

[2016-12-05 23:47] #4381 closed

[2016-12-06 00:16] livarcocc commented on #4853
@mellinoe Migration has as one of its goals preserve as much of the behavior of project.json as possible in the csproj world. As such, it adds things that you may not necessarily need, but if you were working in PJ, you could count with. This is the reasoning behind have these extra elements in a migrated CSProj.

I understand that your particular project does not need it, but this is in par with

[2016-12-06 00:16] mellinoe commented on #4850
This was just using cmd.exe.

[2016-12-06 00:20] mellinoe commented on #4853
Yeah, I understand where you're coming from. Unfortunately, some of the changes, like including extra package references, considerably alter the output of my project. It would be nice if the output of the build was the same before and after, but I guess that isn't a goal.

[2016-12-06 01:37] livarcocc commented on #4853
Is the problem mainly with NetStandard.Library being added? Or is it all the things you pointed out above? How is the output of your project changing?

[2016-12-06 02:22] mellinoe commented on #4853
Yes, I mean that adding NETStandard.Library changes the output of my project.

[2016-12-06 02:24] piotrpMSFT commented on #4919
`configure` implies that we're going to be changing configuration. This really just unpacks nuget packages. I'd prefer to reserve configure for repeatable actions and give this its own verb.

`dotnet first-run`?

[2016-12-06 02:24] livarcocc commented on #4853
Let me discuss this with the team and get back to you.

[2016-12-06 02:28] piotrpMSFT commented on #4920
Once you migrate to preview3 you will have access to `dotnet pack /v:diag` which is very informative about what is happening. There is not a detailed log for pack in preview2 and, given the fundamental changes between preview2 and preview3 there won't be an opportunity for us to add one atop the project.json infrastructure.

[2016-12-06 02:28] #4920 closed

[2016-12-06 02:29] livarcocc commented on #4919
if you invoke that command and you had the SKIP_FIRST_RUN env variable set, should we still do the first run? Should we silent skip? Give a warning and return a non-zero error code?

@blackdwarf can you pick a verb and define the behavior given my question above? Once that's done, @vcsjones it would be great to get a PR from you.

[2016-12-06 02:31] blackdwarf commented on #4804
@piotrpMSFT not yet, should be this week I hope.

[2016-12-06 02:35] livarcocc commented on #4853
@mellinoe Also, for these kinds of issues, sharing at least the project.json would be extremely helpful. Could you do that?

[2016-12-06 03:30] piotrpMSFT commented on #4921
@plioi @bradwilson thanks for the conversation here. @bradwilson probably remembers some conversations we had a year or so ago where I echo'd @plioi quite strongly :)

`dotnet-test` in the PJ CLI swung pretty far in one direction where it was simply a wrapper around the test runner. This was inconvenient for new users in that they had '0' consistency across test runners.

In the MSBuild-driven CLI

[2016-12-06 03:50] mellinoe commented on #4853
Sure; same as the other issue: https://github.com/mellinoe/ImGui.NET/blob/master/src/ImGui.NET/project.json

[2016-12-06 04:33] michaeldaw opened #4935 "Specifying preview 2 SDK in global.json does not effect operation of dotnet commands"
I couldn't find an issue that detailed this problem, so maybe I'm just doing something wrong. According to this blog post: https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/ (in the section ".NET Core CLI Tools"), we should be able to create a global.json file in the project folder that indicates the dotnet cli should use the "1.0.0-preview2-003131" sdk. Ho

[2016-12-06 04:59] livarcocc commented on #4694
@krwq And App.Config was not a part of project.json at all? Can you share an example project?

[2016-12-06 05:03] blackdwarf commented on #4609
@joelverhagen @piotrpMSFT I cannot seem to find the nuget issue that is tracking this. What is the issue number?

[2016-12-06 05:07] livarcocc commented on #4667
@harshjain2 can you please share a project.json that would repro this?

[2016-12-06 05:20] nguerrera commented on #4667
It's possible to dedup in the SDK but there are lots of design considerations:

Do we do this for all items? E.g. Compile too?
If there's differing metadata, which one wins? Do we merge non overlapping metadata?

I'm reluctant to open up those questions and I think it should just remain an error for the user to resolve on a case by case basis.

[2016-12-06 05:23] livarcocc commented on #4667
This is what we migrate to now:

[code]

I am not sure what else to do. All these dedup issues would also exist if we tried to do it during migration. I would really like to take  a look at a PJ that reproes this to see what else we could do, both for embedded resources and compile.

Maybe, if a set of files is specified, used that and don't emit the generic all capturing ones?

Ideas?

[2016-12-06 05:50] livarcocc commented on #4570
The problem is that this PJ does not specify any target frameworks. This is the message that I will use. Hopefully.

[2016-12-06 06:12] #4734 closed

[2016-12-06 06:26] AllenMaz opened #4937 "Is .net core support ARM"
I have try to install .net core on my ubuntu16.04 on RASPBERRI PI
![image](https://cloud.githubusercontent.com/assets/16220839/20914646/ff8db4ea-bbbb-11e6-8938-42ddd14ea609.png)

But i got the errors:
![image](https://cloud.githubusercontent.com/assets/16220839/20914711/6da1985c-bbbc-11e6-979a-b848f77cf058.png)

Is that .net core not support arm arch?If i want to install or deploy my asp.net core

[2016-12-06 06:31] piotrpMSFT commented on #3995
@binki did you try this on preview3 or preview4? I'm trying to get this error on Windows and OSX and in both places CLI happily runs with all three of those environment variables set :-/

[2016-12-06 06:35] piotrpMSFT opened #4938 "CLI Preview3 installation links"
Folks are often looking for these installation links:
https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md

[2016-12-06 06:35] #4938 closed

[2016-12-06 07:58] piotrpMSFT opened #4939 "Malformatted help output for `dotnet restore`"
## Steps to reproduce
run `dotnet help`

## Expected  behavior
{LocalizableStrings... does not show up.

## Actual behavior
[code]

## Environment data
.NET Command Line Tools (1.0.0-preview5-004228)

Product Information:
 Version:            1.0.0-preview5-004228
 Commit SHA-1 hash:  1484b1b70b

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx

[2016-12-06 07:58] piotrpMSFT commented on #4939
@vsccarl

[2016-12-06 09:33] marcofranssen commented on #576
Awesome thanks... That did the trick `buildOptions` do work.

[2016-12-06 09:54] enricosada commented on #4521
the command is for cli, but is also useful because you can automate things (from ide/tools or script).

- dotnet new
- dotnet ref add Newtonsoft.Json
- copy Program.fs serializator example
- dotnet run

[2016-12-06 11:54] naammeinkyahai commented on #4770
Also ensure that there is no global.json specifying an older version of the sdk which causes the dotnet cli to downgrade in the current working directory.

[2016-12-06 12:40] citizenmatt commented on #4921
I just want to add that there are more IDE runners than just Visual Studio - we have both ReSharper and Rider to think about. And we want to continue offering existing functionality - running multiple or individual tests, debugging, profiling, and code coverage.

(And I have to again voice some frustration here. While we are in conversation with the responsible team, we're still waiting for detail

[2016-12-06 14:38] enrico-padovani commented on #4016
In the while I've changed my laptop and reinstalled everything from scratch with windows 10. Despite the fact that now it seems to work, I'm still on .net "old school" unless it will look like a solid thing.

[2016-12-06 14:38] #4016 closed

[2016-12-06 15:00] Petermarcu commented on #4704
Which WAR? For which release. This will need to come back, should it just be moved out past whatever your current milestone is?

[2016-12-06 15:10] Petermarcu commented on #4704
When we do need to support this additional dial, do we know who we will do it without a breaking change?

[2016-12-06 15:49] nguerrera commented on #4667
Based on that alone, a repro would be to have a .resx file in compiler\resources\**\*.

Consider:

[code]

[2016-12-06 15:50] vcsjones commented on #4919
@livarcocc

My opinion is that I think it should skip anyway, and not error-out. It seems like the environment variable should always take precedence. Since it's external, that is something might be setting it without being aware that this new command is even being used, I would think the environment variable should "win".

Example: you have a docker image with .NET Core on it that does a build. D

[2016-12-06 15:51] nguerrera commented on #4667
Are the above wildcards always emitted, even when there is an explicit list? Does that actually match the project.json behavior?

[2016-12-06 15:57] blackdwarf commented on #4919
As a point, I really, *really* dislike the idea of this being a top level switch/command.

Also @piotrpMSFT my idea was to introduce `configure` as a top-level verb and have this be one of the many things you can configure using that verb in the CLI.

[2016-12-06 15:58] nguerrera commented on #4667
Another idea, if semantically you need the generic ones and the user specified ones:

[code]

[2016-12-06 16:04] vcsjones commented on #4919
@blackdwarf

I tend to agree. Perhaps something like `dotnet configure --for-first-run`. That probably runs afoul with all of the naming guidelines, but I like the expressiveness of being able to read it as a sentence. An alternative would be `dotnet configure --first-run`.

[2016-12-06 16:35] AgentMC commented on #3064
Never installed .NetCore before. Installed according to manual. Only one version is installed. VS 2015. Same error as @weedkiller has. dotnet restore + dotnet run works fine though :)

[2016-12-06 16:51] dagood opened #4942 "In help text, include space between .NET and previous word"
## Steps to reproduce
Run `dotnet help`

## Expected  behavior
Help text has spaces between words.

## Actual behavior
In some cases, there is no space between `.NET` and the previous word:
[code]

https://github.com/dotnet/cli/blob/7b109e4b53d556d1fa01e20245f46e5a3ce0490b/src/dotnet/commands/dotnet-help/LocalizableStrings.cs#L33

@vsccarl Looks like it happened during loc work, just happened to n

[2016-12-06 18:01] thewavelength commented on #1488
@janvorli Same issue here. Running the Hello-World-App works fine. Compiling also works fine. But running my project does not work (neither with the source code available and `dotnet run` or using `dotnet mydll.dll`).

Do you need any further debugging information?

uname: `Linux faraway 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u2 (2016-10-19) x86_64 GNU/Linux`
dotnet version: `1.0.0-preview2-1-

[2016-12-06 18:24] harshjain2 commented on #4667
@livarcocc [project.json](https://github.com/harshjain2/samples/blob/master/ResourceRepro/project.json)

[2016-12-06 18:50] janvorli commented on #1488
@thewavelength if you could share the strace log for the failure, I could quickly check if it is the same or a different issue than the one we have discused here before.

[2016-12-06 19:31] livarcocc commented on #4942
@vsccarl Can you please fix this? I imagine your fix will have to go into rel/1.0.0-preview4 and then be back ported to rel/1.0.0.

cc @piotrpMSFT

[2016-12-06 20:10] pranavkm opened #4946 "Build of CLI that supports project.json + NuGet 3.5.0-rc1"
This is followup based on the discussion in https://github.com/dotnet/corefx/issues/14203.

The 4.4.0 CoreFx packages rely on the `netcoreapp1.1 => netstandard1.7` mapping added to NuGet as part of their 3.5.0-rc1 release. The `1.0.0-preview2-1-003177` does not support it and results in the package being restored incorrectly and consequently compilation to fail.

Is there a build of the CLI that s

[2016-12-06 20:21] piotrpMSFT commented on #4946
@pranavkm is the version in the preview2-1 branch too early? or too new?

[2016-12-06 20:54] pranavkm commented on #4946
We've tried using the following builds and it doesn't work:

[code]

[2016-12-06 21:18] livarcocc commented on #4946
I don't think we have updated the NuGet version for a while in preview2 and preview2-1.

Both Preview2 and Preview2-1 have the below version NuGet.

[code]

These are branches that we haven't been actively developing at, because they are project.json based. Why do you need this? Can't you achieve this using preview3, for instance?

[2016-12-06 21:34] krwq commented on #4694
@livarcocc App.Config was not part of project.json.

Any desktop targeting project with App.Config next to it will do. App.Config is being considered during the build but it is not explicitly in the project.json. I believe if you take a look at BindingRedirect TestAssests before they were being migrated that would be a good test case.

[2016-12-06 21:41] pranavkm commented on #4946
Does preview3 work with project.json? All I'm trying to do is update AspNet projects to consume CoreFx 4.4.0-* packages. I'd rather not lump it in with MsBuild migration since it would the scope of change and verification more extensive.

[2016-12-06 21:43] pranavkm commented on #4946
Out of curiosity, is your build capable of producing a one-off based on the preview2-* branch? I'd be open to sending a PR to make the update since it's most likely just a couple of NuGet package version updates.

[2016-12-06 21:44] livarcocc commented on #4946
When you submit a PR and it gets merged, a build will be automatically produced.

[2016-12-06 21:45] pranavkm commented on #4946
Great. I'll give it a try!

[2016-12-06 22:09] eerhardt commented on #4704
To enable this you need to add

[code]

property to your .csproj.

When you want to publish as a shared framework/portable app, just use `dotnet publish`.

When you want to publish as a standalone app for a specific runtime, you say `dotnet publish --runtime YYY`.  You need to pick one of the runtimes listed in the `RuntimeIdentifiers` property you added to the .csproj.

Does this help?

[2016-12-06 23:47] jgoshi commented on #4727
If you look at TestAssets\TestPackages\ToolWithOutputName\ToolWithOutputName.csproj you'll see it sets its assembly name to dotnet-tool-with-output-name. In order to get the pack to create the nugget package with name ToolWithOutputName I needed to add the PackageId property to the csproj file.

[2016-12-07 00:12] livarcocc commented on #4727
Are you saying that dotnet pack is using the assembly name to determine the package name?

[2016-12-07 00:30] jgoshi commented on #4727
Yes, unless I add PackageId, then it uses that.

[2016-12-07 00:32] livarcocc commented on #4727
@joelverhagen Is this by design? I remember that at one point we considered changing the csproj file name to change the assembly name, but we didn't because that's what was being used for the package.

Did that change?

[2016-12-07 00:42] tmat commented on #4848
Published new version of the package with fixed targets file:
https://www.nuget.org/packages/Microsoft.DiaSymReader.Native/1.5.0-beta2-24728

[2016-12-07 00:58] gkhanna79 commented on #4703
@piotrpMSFT @schellap Can you share the details of the discussion?

[2016-12-07 01:14] joelverhagen commented on #4727
We default `$(PackageId)` MSBuild property to `$(AssemblyName)`. Not sure how `$(AssemblyName)` is defaulted but empirically that seems to be the .csproj file name without file extension. We then use `$(PackageId)` in restore (apparent in the lock file) and pack (apparent in the `<id>` and file name of the produced .nupkg).

[2016-12-07 01:22] schellap commented on #4703
@piotrpMSFT I believe we landed on having a meeting on this as none of the fixes seemed ideal. Some options we discussed were:

- Update VS to drop a `global.json` always.
- Make users set an env variable `DOTNET_SDK_VERSION`.
- `--sdk-version` command line option to dotnet.
- Higher CLI asks user `y/n` for dropping a `global.json` in the project dir at first invocation.
- Detect project type and

[2016-12-07 01:24] livarcocc commented on #4727
thanks @joelverhagen. I guess we have a choice to make here. So, should we always emit the PackageId to the folder name when we emit the AssemblyName based on the output name?

This will mean that the dll will match the assembly name and the package will match the folder name. I believe this will maintain the PJ behavior, as @jgoshi suggests.

@piotrpMSFT, any concerns?

[2016-12-07 01:35] joelverhagen commented on #4727
Correct. The logic of defaulting `$(PackageId)` to `$(AssemblyName)` will yield the wrong result in that case.

[2016-12-07 02:12] srivatsn commented on #4811
@nguerrera can you take a look?

[2016-12-07 03:49] nguerrera commented on #4811
@Spongman I notice that this is using preview2 and xproj/project.json.  When I opened in VS 2017 RC, it migrated the project successfully to csproj and then things worked as you expect: the web app is published to c:\temp\blah and both console apps build as usual.

I think this fixed itself in the move to csproj / preview3. Are you able to move to that?

[2016-12-07 04:17] NickCraver opened #4952 "dotnet restore not restoring <PackageReference> elements in ASP.NET MVC5 application."
## Steps to reproduce
1. Download the repo here: https://github.com/MiniProfiler/dotnet/tree/5a8e9aa1e073fbdbc088293cd0cd0ca1f822e726
2. Navigate to `/samples/Sample.Mvc`
3. `dotnet restore`

## Expected  behavior
All packages are restored, both `<ProjectReference>` and `<PackageReference>`. Namespaces are available in VS.

## Actual behavior
Only `<ProjectReference>` elements are respected here.

[2016-12-07 04:21] livarcocc commented on #4952
Can you do dotnet build successfully after dotnet restore?

I am not sure if this is a restore issue or a vs issue.

@srivatsn can you take a look?

[2016-12-07 04:24] NickCraver commented on #4952
@livarcocc I am unable to, and the namespaces in those packages (e.g. `Dapper`) are not available. Here's a `dotnet build` run after a restore:

[code]

[2016-12-07 04:52] Petermarcu commented on #4704
Not quite. That is how I publish for a specific RuntimeIdentifier as a standalone app. This is about publishing for a RuntimeIdentifier and still being a "shared framework/portable" app.

[2016-12-07 04:54] Petermarcu commented on #4704
I think we should keep this open and get it into the next milestone if it's not going to fit into this one. I have seen multiple people using this feature in project.json for two scenarios.

1. Unit testing where they want to ensure they get the right RID assets running on a shared framework for testing.
2. Publishing an app for Windows or Mac and not wanting any of the other OS's assets. They the

[2016-12-07 05:16] eerhardt commented on #4704
How does the project.json look?  Does it have 'type: platform' and have the "runtimes" section filled with a set of RIDs?

Is this the "low-fat app" scenario that @davidfowl talks about?

[2016-12-07 05:47] shahabganji commented on #3915
I get the same error when using ```services.AddSignalR();```
I have no idea why, and by deleting bin and obj folders I still have the same error.

full error description :
[code]

dependencies section of project.json :

[code]

[2016-12-07 05:49] davidfowl commented on #3915
SignalR hasn't shipped and depends on newer things. You can't use it with 1.1.* or 1.0.0*.

[2016-12-07 05:50] shahabganji commented on #3915
By changing ```"Microsoft.Extensions.Options.ConfigurationExtensions": "1.1.0" ```  to ``` "Microsoft.Extensions.Options.ConfigurationExtensions": "1.2.0-*"``` the problem solved, ithink I need to change all related dependencies of SignalRCore to version ```1.2.0-*```

[2016-12-07 05:52] davidfowl commented on #4704
That's my guess though we never designed how it would work, we didn't block this either...

Yep.

[2016-12-07 06:10] livarcocc commented on #4952
Looking at your sample csproj, it feels to me like you have the wrong expectations regarding dotnet and msbuild.

The work in put in place is not for dotnet to work with every existing csproj (old ones included). It actually requires some things to be in csproj for this new system to work.

One of the things that I did not see in your csproj, for instance, was the Sdk attribute under project.

Lik

[2016-12-07 08:46] #4942 closed

[2016-12-07 11:16] NickCraver commented on #4952
@livarcocc I'm probably misunderstanding here - what I'm trying to do is port this `.csproj` to the much shorter format. I didn't need the `Sdk` attribute for any of the libraries in the solution, so just wasn't aware that was a thing. Is that only necessary for apps or some subset of the new features?

I'm perfectly okay of the test project only builds in VS honestly, but I can't seem to make tha

[2016-12-07 13:52] brockallen opened #4954 "1.1 branch for install scripts for Ubuntu"
Is there a 1.1 branch anywhere? I'm looking for a 1.1 version of the `scripts/obtain/dotnet-install.sh` file.

We're trying to programmatically install .NET Core 1.1 with project.json tooling on Ubuntu.

What's the magic?

[2016-12-07 14:50] oofpez commented on #3703
I still have this issue, even after making sure I updated VS, tooling,  and .Net Core SDK

[2016-12-07 15:06] am11 commented on #4954
Tag [<kbd>v1.0.0-preview2-1-3177</kbd>]( https://github.com/dotnet/cli/releases/tag/v1.0.0-preview2-1-3177) has .NET Core 1.1 support.

For the script to obtain it, I would do something like:

[code]

[2016-12-07 15:14] brockallen commented on #4954
Perhaps a more visible branch name would help. Thanks :)

[2016-12-07 15:16] vcsjones commented on #4937
Right now, no it does not official support. It is very much a work in-progress to get the CoreCLR running on ARM32: https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aissue%20ARM32

It is possible to build it and run on a Raspberry Pi at this point https://github.com/dotnet/coreclr/issues/3977#issuecomment-260608276, but to my knowledge it has not been packaged.

You should be able to

[2016-12-07 15:33] testfirstcoder commented on #4795
@Kieranties Following version [1.0.0-preview2-003121](https://dotnetcli.azureedge.net/dotnet/Sdk/1.0.0-preview2-003121/dotnet-dev-win-x64.1.0.0-preview2-003121.zip) can be downloaded.

[2016-12-07 16:31] Antaris opened #4955 "Sporadic file locks on obj artifacts during dotnet build using Preview5"
I'm finding sporadic file locks causing build failures when running `dotnet build`.

Here is an example build failure:

[code]

I'm executing `dotnet build` against a VS2017RC solution file using the command like:

[code]

It also happens with `Release` configuration. I first noticed this when my Cake build script started failing. Previously this had worked fine against the Preview3 SDK, but not a

[2016-12-07 16:42] roncain commented on #3800
This sounds like this might be similar or the same as issues encountered in https://github.com/dotnet/wcf/issues/1687 and discussed in https://github.com/xunit/xunit/issues/900, https://github.com/xunit/xunit/issues/850, and on [stackoverflow](http://stackoverflow.com/questions/38708034/unit-testing-code-targeting-several-frameworks-at-once-with-net-core-and-xunit) .

@livarcocc -- do these sound

[2016-12-07 17:19] rainersigwald commented on #4910
MSBuild does put everything on stdout. But I don't think that's the right design, and I'd rather go with the industry standard (primary output to stdout, warnings and errors to stderr) for any new tool.

[2016-12-07 17:20] tommed commented on #4921
@citizenmatt Agreed. Not currently having Resharper and NCrunch test runners for dotnet core is a real ache for our development team.

[2016-12-07 17:49] jaredpar commented on #4910
@rainersigwald Every MS tool I can find for dotnet uses stdout for all output.  Why have this tool be an outlier in our dotnet pipeline?

[2016-12-07 17:57] bricelam commented on #4910
Instead of asking what to log where using broad categories like "warnings" and "primary output" (no idea what that means), shouldn't we start at the consuming end: What text would I actually want to pipe to another command, or what text would get in the way of that?

[2016-12-07 18:05] bricelam commented on #4910
My opinion: Differentiating between stdout and stderr only makes sense when the all of stdout is expected to be in a well-defined consumable format, but you also need to report errors that don't match that format. (Think of tools like `diff` or `ls`.) Otherwise, I don't really see the point of using stderr at all. As stated, it just creates a big hassle with things that treat anything on stderr as

[2016-12-07 18:31] jinujoseph opened #4956 "Dotnet restore fails on solution level"
## Steps to reproduce
- Copy the project from \\scratch2\scratch\jinuj\TestSceanrio\VSMigrationDemo.zip
- Unzip to your machine
- run dotnet migrate under VSMigrationDemo\VSMigrationDemo
![image](https://cloud.githubusercontent.com/assets/12449387/20981082/ffae2e30-bc67-11e6-8ead-88b3a27087ac.png)

- run dotnet restore
![image](https://cloud.githubusercontent.com/assets/12449387/20981096/0cacec16-

[2016-12-07 18:45] jinujoseph commented on #4956
#4604 looks like same issue ?

[2016-12-07 18:46] livarcocc commented on #4956
Yes. it is the same issue.

[2016-12-07 18:46] Petermarcu commented on #4704
Yeah, I guess its a "low fat" app. :) We need more than one dial for going standalone. Specifying that you want to be RID specific shouldn't also mean that you have to be fully standalone.

[2016-12-07 18:47] Petermarcu commented on #4704
Whats the right milestone for the May timeframe next year?

[2016-12-07 18:48] jinujoseph commented on #4956
want me to reopen that and close this ?

[2016-12-07 18:55] livarcocc commented on #4956
No. Jinu, this is happening because today dotnet migrate does not update your solution files. It only migrates your project.json/xproj files.

The PR to update the SLN files is currently out: https://github.com/dotnet/cli/pull/4949.

This is really a missing feature that we are working on right now. If you want, you can keep this open until that PR gets merged, and then you can try again. Otherwis

[2016-12-07 18:59] jinujoseph commented on #4956
lets keep this open , to re-verify once the PR is merged. Thanks.

[2016-12-07 19:02] jinujoseph commented on #4956
This should also fix the warning on "dotnet build solition "

![image](https://cloud.githubusercontent.com/assets/12449387/20982278/a1a6dc9c-bc6c-11e6-8b94-179a8ba575f5.png)

[2016-12-07 19:03] Spongman commented on #4811
i'm specifically looking for a VS2015 fix.

[2016-12-07 19:42] piotrpMSFT opened #4957 "Include ASP.NET in Offline Package Cache"
Currently we're able to restore a Console application offline in CLI. We need to also make sure that the default Web template is also restorable offline.

This will impact the offline archiving build step. We need to make sure this continues to work well.

[2016-12-07 19:44] livarcocc commented on #4957
We can achieve this by using the web app template to generate the nuget cache that we archive. Should be a really simple change.

Though we should keep an eye on the size that the archive will grow to be now.

Also, will it still make sense to keep this archive in blob next to the shared framework? Now that it will include more than M.NC.App? We will also have to manually delete the lzma file from

[2016-12-07 20:42] nguerrera commented on #4811
@Spongman OK, it took me some time to get set up to build with VS2015 and Preview2.

Here is one workaround, override WebPublish in the core console project's xproj to do explicitly do nothing:

[code]

Will that do for you?

[2016-12-07 21:26] piotrpMSFT commented on #62
CLI already has Performance tests in place, and our build logic falls under overall SDK perf benchmarks. Closing this.

[2016-12-07 21:26] #62 closed

[2016-12-07 21:27] piotrpMSFT commented on #164
@davidfowl is this still needed? Who can we talk to about the work required?

[2016-12-07 21:28] piotrpMSFT commented on #496
@krwq, can you follow up with @markwilkie to see if there is something we need to do for RTM?

[2016-12-07 21:30] onovotny commented on #164
This seems to be needed...if I try to reference a PCL with by using the XML elements:
https://github.com/onovotny/Preview3-migrate-bug/blob/master/MegaLib.csproj#L11-L13

It still fails to compile unless I add in `<Reference>` elements for each façade assembly....that's bad.

[2016-12-07 21:30] piotrpMSFT commented on #533
@blackdwarf where are we here?

[2016-12-07 21:32] piotrpMSFT commented on #737
This will be fixed in SDK repo via https://github.com/dotnet/sdk/pull/450

[2016-12-07 21:32] #737 closed

[2016-12-07 21:57] jgoshi opened #4958 "Migration: Add comprehensive tests when migrating an sln file"
Consider the following scenarios:
1. Migrate a directory that already contains a .csproj file. This means after migration you will have two .csproj files in the directory. Ensure that the sln file references the correct one.

2. Migrate an sln file that references an xproj file where the xproj file contains a reference to another csproj file.

3. Migrate an sln file that references an xproj file w

[2016-12-07 21:58] jgoshi commented on #4958
This work will handle more complex cases. The fix for #4632 only handles basic scenarios.

[2016-12-07 21:58] piotrpMSFT commented on #812
https://github.com/dotnet/corefx/blob/3d3c8602a484d40c7729659525946b9c97a3a003/src/System.Console/tests/CancelKeyPress.cs

@jgoshi let's make sure that any time CLI spins off a process then we wire up passthrough similarly to how it's done in the CoreFx test above.

[2016-12-07 22:02] piotrpMSFT commented on #819
`dotnet-resgen` got replaced by the `Microsoft.Net.Sdk` implementation, so closing this.

[2016-12-07 22:02] #819 closed

[2016-12-07 22:18] srivatsn opened #4959 "Migration should stop raising transitive P2Ps once the project system supports them"
Once https://github.com/dotnet/roslyn-project-system/issues/199 is implemented, we should stop raising the closure of a project references to the top level.

[2016-12-07 22:19] livarcocc commented on #4959
Just let me know when we should stop doing it.

[2016-12-07 22:25] piotrpMSFT commented on #164
@onovotny is this a migration issue in your mind?

[2016-12-07 22:26] livarcocc commented on #4667
@nguerrera I like your idea above. I think that will work.

[2016-12-07 22:29] piotrpMSFT commented on #845
Thanks @jonico. I'm not able to reproduce this more generally so it seems like a local config issue. I'm going to close this. If someone hits it on preview3+ please open a new issue. Thanks for the workaround!

[2016-12-07 22:29] #845 closed

[2016-12-07 22:32] piotrpMSFT commented on #1008
@gkhanna79 reading through the description here, it seems this should be a core-setup issue as there are no native bits in CLI anymore. Can you close this one? Or let us know what is needed?

[2016-12-07 22:33] onovotny commented on #164
Absolutely....cannot easily use project types that work correctly with project.json today.

[2016-12-07 22:35] piotrpMSFT commented on #1119
perhaps this should be something that gets naturally printed to verbose output of CLI? e.g. `Disabling telemetry because environment variable `DOTNET_CLI_TELEMETRY_OPTOUT` is set to `true`?

This model scales more nicely to extensibility scenarios as it does not require a centralized knowledge of all impactful environment variables.

Thoughts?

[2016-12-07 22:36] piotrpMSFT commented on #1218
@gkhanna79 since CoreFx is now packaged in core-setup repo, can you validate and close this? Otherwise, move to core-setup and close?

[2016-12-07 22:37] piotrpMSFT commented on #1351
@blackdwarf do we have this content available for linking yet?

[2016-12-07 22:38] piotrpMSFT commented on #1351
If we can make progress in the near future please add details and move to preview5 milestone.

[2016-12-07 22:39] piotrpMSFT commented on #1410
@andschwa, right!

[2016-12-07 22:39] #1410 closed

[2016-12-07 22:39] gkhanna79 commented on #1218
@Raviuppa Do you still have any outstanding questions since symbols for all native components for .NET Core are available in Azure blob and also available off Download center?

[2016-12-07 22:40] piotrpMSFT commented on #1474
the scripts have been deprecated along with project.json

[2016-12-07 22:40] #1474 closed

[2016-12-07 22:40] #1008 closed

[2016-12-07 22:41] piotrpMSFT commented on #1413
@nguerrera it seems like this belongs in `sdk`?

[2016-12-07 22:42] Raviuppa commented on #1218
We are good Gaurav and can close this bug as resolved.

Thanks,
Ravi.

From: Gaurav Khanna [mailto:notifications@github.com]
Sent: Wednesday, December 7, 2016 4:40 PM
To: dotnet/cli <cli@noreply.github.com>
Cc: Ravi Uppaluru <raviuppa@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/cli] Please provide symbols for .NET Core native modules. (#1218)

@Raviuppa<https://github

[2016-12-07 22:42] #1218 closed

[2016-12-07 22:42] #4939 closed

[2016-12-07 22:48] piotrpMSFT commented on #1494
@krwq, can you add a test for this scenario and make sure it passes?

Take one of our existing PackagedCommand tests and modify it to restore using --packages. This should restore the tool to a new packages root [inside the test's directory] and put in the project lock file the path to that cache. Let's be sure we can then invoke the tool.

Per @victorhurdugaci's comment, we'll probably want to ad

[2016-12-07 22:49] #1521 closed

[2016-12-07 22:50] nguerrera commented on #1413
Is this still a priority? We have done no testing of targeting PCL profiles using the SDK.

[2016-12-07 22:52] piotrpMSFT commented on #1541
this issue was deprecated when we moved to msbuild in preview3.

[2016-12-07 22:52] #1541 closed

[2016-12-07 22:52] onovotny commented on #1413
IMO, we must be able to cross-compile to any and all targets for cross-compiling to be considered complete. It has to be a replacement for having a multi-headed project.

[2016-12-07 22:58] nguerrera commented on #1413
cc @srivatsn, @davkean

[2016-12-07 23:12] blackdwarf commented on #1476
In general, we have covered most of the things in this issue. If something crops up that is not covered, please open a new issue. Thanks!

[2016-12-07 23:12] #1476 closed

[2016-12-07 23:17] blackdwarf opened #4960 "dotnet test needs to have the same formatted options as the rest of the CLI"
## Steps to reproduce

* Install Preview 3+ bits (MSBuild based)
* Run `dotnet test --help`

## Expected  behavior
See properly formatted options that correspond to the rest of the CLI's options, like below:

[code]

## Actual behavior

[code]

I will be adding the suggested changes in a minute.

[2016-12-07 23:18] blackdwarf commented on #865
@krwq is this done? Do we still need it?

[2016-12-07 23:26] piotrpMSFT commented on #1542
@robmen is this still something you're able to take on?

[2016-12-07 23:30] #1543 closed

[2016-12-08 00:04] piotrpMSFT commented on #1545
Closing as I'm not seeing a repro of this on preview4 bits.

[2016-12-08 00:04] #1545 closed

[2016-12-08 00:06] prafullbhosale opened #4961 "dotnet build fails when new project has a ProjectReference to RC project"
## Steps to reproduce
Run `dotnet build` on the Root Project:

**Root.csproj**  -- Project created using `dotnet new`
[code]

**Library1.csproj**  -- RC project
[code]

## Expected  behavior
Build succeeds.

## Actual behavior
Build fails with the error:

[code]

**Running dotnet build on Library1.csproj succeeds.**

## Environment data
`dotnet --info` output:

[code]

[2016-12-08 00:09] livarcocc commented on #4961
I believe this belongs in the SDK repo. Can you move it there?

[2016-12-08 00:11] prafullbhosale commented on #4961
Moved.

[2016-12-08 00:11] #4961 closed

[2016-12-08 00:35] piotrpMSFT commented on #1549
the new `dotnet test` based on the `dotnet vstest` console is no longer a thin wrapper on the underlying console runner. The `--help` for `dotnet test` is now complete.

[2016-12-08 00:35] #1549 closed

[2016-12-08 00:36] Allann commented on #4859
@blackdwarf It appears to use the preview3 tools I also need to install VS2017RC, this implies it's a little more than a side-by-side install.  To install I also need to add/update the .NET Core and Docker (Preview).
**rant**
It's so hard to try and use old/new versions these days.  IMHO it's like going back to the old COM days with DLL hell.  Semantic versioning seems to be a thing of the past wi

[2016-12-08 00:37] piotrpMSFT commented on #1589
closing per @svick

[2016-12-08 00:37] #1589 closed

[2016-12-08 00:50] piotrpMSFT commented on #1570
We support SxS installs on the architecture pivot.

[2016-12-08 00:50] #1570 closed

[2016-12-08 00:50] #1573 closed

[2016-12-08 00:51] #1593 closed

[2016-12-08 00:51] #1625 closed

[2016-12-08 00:56] #1637 closed

[2016-12-08 01:01] piotrpMSFT commented on #1662
This is an internal type, so moving to backlog. Would be great to get it fixed, tho.

[2016-12-08 01:02] piotrpMSFT commented on #1680
This codepath was replaced entirely by the move to msbuild.

[2016-12-08 01:02] #1680 closed

[2016-12-08 01:02] #1682 closed

[2016-12-08 01:03] piotrpMSFT commented on #1695
closing as PR is merged. @schellap please reopen if this tracked something else, though in core-setup.

[2016-12-08 01:03] #1695 closed

[2016-12-08 01:05] #1742 closed

[2016-12-08 02:14] blackdwarf commented on #4859
@Allann that should not be the case. If you just need command line tooling you can install just that. command line tools will tive you acess to  buld tools you need. Of course, for full nice code editing experience, you do need VS or similar.

Can I ask why did you feel you need to install VS2017 as well? Was there a problem with just installing the CLI tools?

[2016-12-08 04:36] piotrpMSFT opened #4962 "MigrateWebSdkRule should be included in DefaultMigrationRuleSet"
## Steps to reproduce
Try to migrate an ASP.NET Web project

## Expected  behavior
Sdk="Microsoft.NET.Sdk.Web"

## Actual behavior
Sdk="Microsoft.NET.Sdk"

## Environment data
preview4

[2016-12-08 05:06] davidfowl commented on #1413
Does this work in msbuild land?

[2016-12-08 06:44] mlorbetske opened #4964 "Migration of publishOptions should result in a <Content Update="" />"
When migrating projects, encountering a `publishOptions` element in project.json should produce a `<Content Update="" CopyToPublishDirectory="PreserveNewest" />` in the resulting project file.

Ex. For a web project
[code]

Should produce
[code]

This will avoid adding duplicated items to the publish sources causing publish failures.

@piotrpMSFT @livarcocc

[2016-12-08 07:55] Allann commented on #4859
It was an assumption.  How I came to that:

1. Clicked on your link, and seeing no instructions on how to install just the cli,
2. I went to the root page for cli (https://github.com/dotnet/cli), still nothing, but used the Getting started page for Preview 2 bits.
3. There I found the Command line/other link
4. Selected all downloads from step one hoping there would be a an option
5. And there I f

[2016-12-08 08:18] tmds commented on #4863
Extending: also include metadata that points to the source repository and revision used to build the package (e.g. git url, commit id).

[2016-12-08 08:19] davkean commented on #1413
Yeah, we should do this. I reckon that we just reference all assemblies by default for all frameworks, unless opt'd out ("desktop")

[2016-12-08 09:25] Antaris opened #4965 "dotnet pack uses wrong path for obj artifact and fails on Preview5"
Executing `dotnet pack` in a project directory with a P2P dependency tries to pack using an incorrect artifact path:

[code]

My project file is as such:

[code]

The generated spec file is as follows:

[code]

Observations:

1. If I attempt to `dotnet pack` my `Fx.Common` project which has no P2P dependencies, it packs fine.
2. If I attempt to pack any of my other projects which have P2P dependen

[2016-12-08 10:06] threenine commented on #4760
Just thought I would add.  I had this same issue.
I did not install .NET Core 1.01

All I did to get this working on my Mac with .NET Core 1.1. is right click on the project file in the Solution Explorer and **Update Nuget Packages** and I was then able to run the application

[2016-12-08 10:17] sm-g opened #4966 "dotnet migrate adding dir\**\* in Content Include"
After installing VS2017RC (1.0.0-preview3-004056)
[code]
converted to
[code]

VS cannot load project:
System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Build.Shared.FileMatcher.GetFiles(String projectDirectoryUnescaped, String filespecUnescaped, IEnumerable`1 excludeSpecsUnescaped, GetFileSystemEntries getFileSystemEntries, DirectoryExists directo

[2016-12-08 10:42] MartinJohns commented on #1742
@piotrpMSFT You closed this issue, could you please elaborate on why? Will `dotnet build` call `dotnet restore` when the csproj file changed?

[2016-12-08 12:59] osblue13 commented on #1860
I have started to encounter this bug numerous times everyday. My workround is same as @ByronAP , delete the *.lock.json file and re-open the solution.

[2016-12-08 15:38] hishamco opened #4967 "Support Localization Resource Generation & Translation"
FYI the tool is under development, and may it needs a lot of improvements by the time

Moving this https://github.com/aspnet/DotNetTools/issues/203 to home repo

[2016-12-08 15:56] blackdwarf commented on #4859
@Allann sorry for the confusion. I will be making a PR to get the README and that doc updated with the links to Preview 3 and 4 (once it comes out). In the meantime, https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md
 is the link where you can find the Preview 3 pertinent information.

[2016-12-08 17:53] livarcocc commented on #4966
@srivatsn Can you take a look at the NRE coming from VS?

[2016-12-08 17:54] livarcocc commented on #4965
@joelverhagen Can you take a look?

[2016-12-08 17:54] #4962 closed

[2016-12-08 17:57] joelverhagen commented on #4965
/cc @rohit21agrawal who is investigating pack bugs right now.

[2016-12-08 18:13] krwq opened #4968 "Help text for dotnet-add-p2p and dotnet-add-proj"
`dotnet add p2p` and `dotnet add proj` (PR in progress) produce non-intuitive help text. This is caused by the fact that one of the arguments is implied from the command higher on the stack (i.e. `<project>` will be passed from `dotnet add` and never actually passed explicitly to `dotnet add p2p`).

We need some good help description for that.

Example:
[code]

[2016-12-08 19:07] jinujoseph opened #4969 "Dotnet build doesn't display the details any more , expected ?"
## Steps to reproduce
Run below command
dotnet new
dotnet restore
dotnet build

## Expected  behavior
RC behavior was this
![image](https://cloud.githubusercontent.com/assets/12449387/21023650/45aeecf2-bd36-11e6-8aa0-91dbe6c70c46.png)

## Actual behavior
RC.2 Behavior is

![image](https://cloud.githubusercontent.com/assets/12449387/21023673/5ab81e98-bd36-11e6-82c5-f2f28c75e105.png)

I no more see

[2016-12-08 19:14] livarcocc commented on #4969
Yes, this is expected. We set the verbosity to minimal across the board.

[2016-12-08 19:14] #4969 closed

[2016-12-08 19:36] hultqvist opened #4970 "Extra space"
There is an extra space in the URL next to the description in this github repo.

The URL looks like this https://docs.microsoft.com/dotnet/

but links to https://docs.microsoft.com/dotnet/%20

[2016-12-08 20:32] pranavkm commented on #4946
Thanks for merging this in!

[2016-12-08 20:32] #4946 closed

[2016-12-08 20:33] pranavkm commented on #4946
Fixed in https://github.com/dotnet/cli/commit/5fbbb40658274a6a971b65141ee00ac681f9e48b

[2016-12-08 20:38] Spongman commented on #4811
thanks, yes, that fixes the problem.

[2016-12-08 20:39] danmosemsft opened #4971 "dotnet run doesn't work out of the box"
A failed `dotnet run` used to suggest `dotnet restore` but it didn't do that for me here.

[code]

[2016-12-08 21:03] pranavkm commented on #4946
@livarcocc how would I know when the build is complete? Alternatively, could you point me to the installers \ versions for it once it's done?

[2016-12-08 21:24] nguerrera commented on #4791
Reopening because I believe this is a migration issue after all.

See https://github.com/peterblazejewicz/polymer-shop-dotnet

Migration turns:

[code]

in to:

[code]

For consistency, this is an error just as the following has always been an error in csproj:

[code]

It is possible to condition the copy on existence:

[code]

Perhaps migration should convert it that way to preserve project.json

[2016-12-08 21:26] peterblazejewicz commented on #4791
Thanks! Read this. Maybe this is too edge-case scenario?

[2016-12-08 21:42] livarcocc commented on #4791
I can add that condition to migration.

[2016-12-08 21:43] livarcocc commented on #4971
We already have https://github.com/dotnet/cli/issues/3736 tracking this.

[2016-12-08 21:43] #4971 closed

[2016-12-08 21:44] livarcocc commented on #4946
I can paste here once it is done. It is only missing windows, which is currently running.

[2016-12-08 22:12] danmosemsft opened #4973 "dotnet new .net core app builds against desktop reference assemblies"
Surely a dupe but I can't find it easily. I would not expect my new (default) app to build against the desktop reference assemblies (the ones in `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.0`)

[code]

[2016-12-08 22:16] danmosemsft commented on #4955
If it's another process doing it then [Process Monitor](https://technet.microsoft.com/en-US/sysinternals/processmonitor.aspx) should show which.

[2016-12-08 22:19] danmosemsft commented on #4909
I don't know why someone would create a file named `$projectName$.csproj`, but I know that if I do `dotnet new`, then delete the `program.cs`, then do `dotnet new` again, I get such a file created.

[2016-12-08 22:20] livarcocc commented on #4973
Yeah, we are tracking it here https://github.com/dotnet/cli/issues/3736 and here https://github.com/dotnet/cli/issues/2199

[2016-12-08 23:49] srivatsn commented on #4966
This seems to be in MSBuild - @cdmihai @raines - does this look familiar?

[2016-12-08 23:55] rainersigwald commented on #4966
Looks like https://github.com/Microsoft/msbuild/pull/1349 which should be fixed in the next prerelease.

[2016-12-09 00:55] nguerrera opened #4975 "Migration duplicates content items that are already provided by web sdk props leading to failed publish"
## Steps to reproduce

1. Migrate https://github.com/balaTest/ProjectKTestProjects/blob/master/Dev14_K101/Tooling202/AspNetCoreWebApp_NoAuth_1/src/AspNetCoreWebApp_NoAuth_1/project.json#L52
2. dotnet publish it

## Expected  behavior

It publishes successfully

## Actual behavior

[code]

## Environment data
[code]

[2016-12-09 01:09] piotrpMSFT commented on #4745
@livarcocc confirmed there are no remaining cyclic dependencies in the CLI product. This issue is now tracking ensuring that they don't sneak back in, which @livarcocc will do with a simple test.

[2016-12-09 01:18] livarcocc commented on #4975
@nguerrera Migration is moving content that is explicitly marked for publish in the project.json.

We need to find a way to keep these items in sync between migration and the web sdk without requiring changes from migration every time that the web sdk changes. Otherwise it will be a game of cat and mouse.

Right now, what is the the Web Sdk including?

[2016-12-09 02:58] piotrpMSFT opened #4976 "Remove custom SDK NuPkg installation for F#"
@enricosada this is really an issue for you but I wasn't sure where to open it :)

I don't want to have the pattern of custom build steps for SDK nupkg's become a common one, though was Ok with it for preview4 given the timing. I'd like to get an F# SDK package that contains only that SDK which we can copy during layout creation wholesale. We can then remove custom F# logic from the CLI build. Can

[2016-12-09 03:13] piotrpMSFT opened #4977 "localized strings used as property names in RunCommand"
https://github.com/dotnet/cli/blob/706b8a802d49be079fef570b354a70056aa2ad6f/src/dotnet/commands/dotnet-run/RunCommand.cs#L70

@vsccarl that dictionary should contain the concrete property names, not descriptors thereof. Can you revert the localization here?

Notice that the dictionary is built up and then sent to a project evaluator. If these strings get localized then the evaluator will produce d

[2016-12-09 03:31] jgoshi commented on #4968
Here is the new text from @blackdwarf

Usage: dotnet add <SOLUTION> proj [options] [args]

Arguments:
  <SOLUTION>  The solution file to modify. If a solution file is not specified, it searches the current working directory for a file that has a file extension that ends in `sln` and uses that file.

Options:
  -h|--help  Show help information

Args:
  Project to add to solution

[2016-12-09 08:24] Antaris commented on #4955
@danmosemsft

I had already discounted external processes - looks to be an issue with parallel builds, when you run with `/m:1` it builds fine.

[2016-12-09 08:42] dasMulli commented on #4977
Similar (own issue?): a translated string is used to translate the argument `TargetFramework` here: https://github.com/dotnet/cli/blob/706b8a802d49be079fef570b354a70056aa2ad6f/src/dotnet/commands/dotnet-run/Program.cs#L29

I wouldn't expect strings in those locations to pop up in e.g. German because `TargetFramework` is "a thing" in NuGet, csproj files and the corresponding MSBuild argument etc. I

[2016-12-09 10:18] enricosada commented on #4976
ok! i'll add another package `FSharp.Sdk` with `Sdk` only.

[2016-12-09 10:47] Tharunkumar opened #4981 "Unable to resolve log4net dependencies in Windows server 2012 R2 and ubuntu 14.04"
## Steps to reproduce
1) Create an app in ASP.netcore(1.0.0-preview2-1-003177) with log4net.netcore , log4netExtensions.netcore nuget packages installed.
2) Copy the source code to a server machine with Windows server 2012 R2 installed or ubuntu 14.04
3) Install .netcore framework sdk (1.0.0-preview2-1-003177) in the server machine.
4) open cli and navigate to directory where project.json is locat

[2016-12-09 13:38] TrexinanF14 commented on #3993
@blackdwarf The documentation on the `dotnet run` command explicitly calls out one non-development scenario, so I wasn't sure if it was truly intended to be dev-only even though that was the primary use.
'...and can also be used to run a source-distributed program (for example, a website).'

[2016-12-09 14:32] blackdwarf commented on #3993
@TrexinanF14 yes, that was my point with the notion that if this change goes in, `dotnet run` would become a pure dev-only concern.

[2016-12-09 14:37] enricosada opened #4982 "f# web sdk fails publish after updated web.sdk"
After #4948 was merged the `dotnet publish` of a f# web fails.

## Steps to reproduce

preview4 branch

- `dotnet new -l fsharp -t web`
- `dotnet restore`
- `dotnet publish`

## Expected  behavior

Ok

## Actual behavior

Error:

[code]

## Environment data
`dotnet --info` output:

[code]

[2016-12-09 14:51] AnotherDeveloper01 opened #4983 "Dotnet restore failed on Bamboo build server"
Hello
I have a dotnet core application and want to build on bamboo. I installed the required on the bamboo build server. The first step is "dotnet restore" and it fails when I run the plan. But, when I login remotely and run the it as cmd, it restores the packages in the project. Bamboo application on the build server is running as user Local System.

Tried the following too
1. add nuget.config to

[2016-12-09 15:19] enricosada commented on #4841
Closing because all templates are pretty much aligned.

Some newer commit changed templates again a bit, sent PR #4984 and #4985 to align

[2016-12-09 15:19] #4841 closed

[2016-12-09 15:51] blackdwarf commented on #4532
@piotrpMSFT yes, it seems like it is.

@naamunds just to confirm, the hashes are produced **only** for the CLI, not corefx?

[2016-12-09 16:42] enricosada commented on #4967
@hishamco maybe you can also copy the issue description from the referenced issue, so is easier to read

[2016-12-09 16:50] enricosada commented on #4722
@DamianEdwards sry for ping, but is to continue discussion about that before `preview5` is released 😄

[2016-12-09 16:56] naamunds commented on #4532
@blackdwarf Correct. https://github.com/dotnet/core-setup/issues/279 tracks adding checksums for core-setup.

[2016-12-09 16:59] enricosada opened #4988 "add option to configure locale of cli"
Now that dotnet/cli has localization i think is useful to have a way to tell the cli to use a specific language (for errors/descriptions/etc).

It's useful for:

- when the cli commands are invoked from other programs (ide/shell) who have a language set (different from os default). In windows is really hard for example without arg afaik.
- specify a language in ci servers
- tests who check error m

[2016-12-09 17:12] DamianEdwards commented on #4722
Yeah we spoke about this way back when we first did CLI tools and I'm supportive of it. Really just a scoping question for the next release as this isn't critical to the core scenarios we have to deliver, despite it being a nice and useful feature. Will leave to @blackdwarf to follow up as the CLI PM.

[2016-12-09 17:16] enricosada commented on #4722
thx @DamianEdwards.

i think main use case for this change is to "easy add existing console app as clitool, without require a change in the name".

@blackdwarf if it's approved i can send a PR.

[2016-12-09 17:35] MattGertz commented on #4977
@piotrpMSFT You should talk to the compiler guys; although most teams have a number of strings that need to avoid loc (properties, mostly), they in particular have lots of them because of the language itself.  IIRC, they use string constants for all of those, and in the file that defines them, they have a big warning notice that says "don't loc these."

[2016-12-09 18:14] #4570 closed

[2016-12-09 18:41] dasMulli commented on #4988
If implemented, it would be great to also have an environment variable controlling this.
e.g. `DOTNET_PREFERRED_UI_LANG`.
(Although `UI` seems weird for a pure console app here. `DOTNET_CLI_LANGUAGE`?)

[2016-12-09 18:45] jgoshi opened #4989 "Important code clean up"
Address the many issues (both source and test) mentioned in this PR https://github.com/dotnet/cli/pull/4978

I cannot address them now because we have a UX blocker to implement this as well as the rest of the CRUD operations (list and remove).

[2016-12-09 19:31] livarcocc commented on #4340
I took a stab at it a couple of days ago and I managed to get the code working, the test running, etc. But it required a new test runner and the one I managed to produce also depended on version from xunit that are not on Nuget, but in myget/xunit. Overall, I am dropping this for now, unless we come up with a concrete reason why we should take on this work at this point in time.

[2016-12-09 19:38] rrelyea opened #4991 "vsfeedback on migration"
See https://developercommunity.visualstudio.com/content/problem/4629/is-missing-after-upgrading-an-xproj.html

After upgrading a .NET Framework xproj file to csproj, the win7-x86 is missing from the csproj.
There is little to no documentation about that setting on how to have it set in the new csproj. I had to compare a newly created csproj from VS2017 to the generated one.

Error is
Error		Runtim

[2016-12-09 20:18] 0xFireball commented on #3030
`include` can no longer copy directories with the new `.csproj` MSBuild project format. What can I do instead?

[2016-12-09 20:18] livarcocc commented on #4991
any chance we can get the xproj/project.json that is migrating incorrectly? During migration we already add any RuntimeIdentifiers as long as they already existed in your project.json.

[2016-12-09 20:26] GuardRex commented on #3030
I have a post publish approach that works with empty folders. see ... https://github.com/GuardRex/testselfcontained_caching/blob/master/testselfcontained.csproj

[2016-12-09 21:07] cScarlson commented on #3199
I was trying to install *EntityFramework* in my `project.json` dependencies (**because of NuGet GUI install**), which looked like this:

    "EntityFramework": "6.0.1"

But when I looked into `project.json`, I noticed an error. What I needed was,

    "Microsoft.EntityFrameworkCore": "1.0.1"

Be sure you're not falling into *that* trap like me :-P

[2016-12-09 21:26] krwq commented on #4521
`dotnet add p2p` `dotnet remove p2p` and `dotnet list p2ps` are already here. Dlls are out of scope. Packages are done by NuGet team.

@piotrpMSFT, can we close this? We already have https://github.com/dotnet/cli/issues/4746

[2016-12-09 21:27] sbomer opened #4992 "Runtime-specific build fails for projects with P2P references"
## Steps to reproduce
[test_app.zip](https://github.com/dotnet/sdk/files/642914/test_app.zip)
in test_app\App:
- ```dotnet restore```
- ```dotnet build -r win10-x64```

## Expected  behavior
build succeeds

## Actual behavior
build fails with output:
[code]
## Environment data
`dotnet --info` output:
[code]

[2016-12-09 21:29] krwq commented on #4983
@AnotherDeveloper01 - is it possible that this is some intermittent connection issues on the build server?

[2016-12-09 21:48] AnotherDeveloper01 commented on #4983
@krwq , No. We don't see any

[2016-12-09 22:23] krwq commented on #4983
@AnotherDeveloper01, I believe this will be a NuGet bug. Please go ahead and create an issue in https://github.com/nuget/home/issues

[2016-12-09 23:15] AnotherDeveloper01 commented on #4983
@krwq , we now changed Bamboo application to run as a generic user from LocalSystem account and dotnet restore is working. One thing we observed is, dotnet restore is always looking in %appdata%/roaming/Nuget/Nuget.config, even though we specify a seperate nuget config file in the cmd.
Btw, we have other apps (.Net 4.6.1) on the build server and **Nuget** restore works there.

Thanks

[2016-12-10 00:10] #4727 closed

[2016-12-10 00:18] piotrpMSFT commented on #4992
@rrelyea @nguerrera thoughts on this?

[2016-12-10 00:19] piotrpMSFT commented on #4982
@enricosada I assume you'll tackle this?

[2016-12-10 00:19] piotrpMSFT commented on #4976
thanks!

[2016-12-10 00:39] piotrpMSFT commented on #4914
Towards the end they diverged due to the Sdk attribute.

[2016-12-10 00:40] nguerrera commented on #4992
I believe that the RID used at build time must be among the RIDs used at restore time.

I could swear there was a better error message for this but maybe I'm thinking of another case. At the very least, the diagnostics should be better

[2016-12-10 00:45] piotrpMSFT commented on #4513
@blackdwarf, I think the mini-spec above is out of date with the design we landed on. Can you update?

It would also be good to open another issue for the globbing approach that @TheSamsterZA is suggesting. Let's not track both here.

[2016-12-10 00:46] piotrpMSFT commented on #2871
@Meyce we're working on preview5 at this point.

[2016-12-10 00:52] piotrpMSFT commented on #3736
@benjamincburns the intent is something we want to address but this needs considerable design work before we can look to a PR. Specifically, you don't want to just execute 'restore' before each of the potentially affected verbs all the time due to the huge cost of a network hit + package graph evaluation. @livarcocc will be looking at opportunities to surgically determine that a restore simply has

[2016-12-10 00:57] piotrpMSFT commented on #3527
The code is in place, but we need to update build definitions.

[2016-12-10 00:59] piotrpMSFT commented on #4804
ping @schellap

[2016-12-10 01:01] piotrpMSFT commented on #4935
Can you share folder layout? In particular, where is the global.json, where are your project.json files, and where are you invoking the command?

The global.json should be in a common parent of the whole solution, and the command should be executed inside of that directory tree. Finally, you must have the specified version of the tools installed and available on the PATH [e.g. available to the CLI

[2016-12-10 01:01] piotrpMSFT commented on #4609
nuget/home#4691

[2016-12-10 01:05] piotrpMSFT commented on #4770
@333fred note the `global.json` comment above.

The next release of VS should bring migration closer in line with CLI.

Migrating solutions missed preview4 but will be in preview5. You can try this on latest builds.

[2016-12-10 01:05] #4770 closed

[2016-12-10 01:06] schellap commented on #4804
@piotrpMSFT filed https://github.com/dotnet/core-setup/issues/753 targeting for 1.2.0

[2016-12-10 01:07] piotrpMSFT commented on #4848
Thanks @tmat!

[2016-12-10 01:07] #4848 closed

[2016-12-10 06:00] michaeldaw commented on #4935
I have a single folder with global.json, project.json, and my source code. I thought this would be in line with the description in the blog post ("In order to continue using the earlier project.json-based tools on a per-project basis, create a global.json file in your project directory and add the “sdk” property to it.").

I have both preview2 and preview3 of the sdk installed. I'm not sure what I

[2016-12-10 06:00] #4935 closed

[2016-12-10 06:05] piotrpMSFT commented on #4952
@NickCraver I haven't seen anyone go through the exercise of porting old csproj file format to the .NET Core format. I believe it should be possible, given that .NET Core can target desktop CLR, but I expect there are demons in those details...

Assuming you want to go down the rabbit hole of the untested, we can try to help you along. There might be a good blog post waiting at the other end. Howe

[2016-12-10 06:21] piotrpMSFT commented on #4952
https://github.com/MiniProfiler/dotnet/blob/5a8e9aa1e073fbdbc088293cd0cd0ca1f822e726/samples/Sample.Mvc/Sample.Mvc.csproj#L1 : add an attribute `Sdk="Microsoft.NET.Sdk"`
https://github.com/MiniProfiler/dotnet/blob/5a8e9aa1e073fbdbc088293cd0cd0ca1f822e726/samples/Sample.Mvc/Sample.Mvc.csproj#L2 : remove this line
https://github.com/MiniProfiler/dotnet/blob/5a8e9aa1e073fbdbc088293cd0cd0ca1f822e726/s

[2016-12-10 07:07] piotrpMSFT commented on #4954
These are really orthogonal concerns. You don't actually care about the .NET Core version included in the SDK. This is just the one that the `dotnet` app runs on, and the one used by `dotnet new` templates. You can update those templates to target any `Microsoft.NetCore.App`... 1.0, 1.1, 1.2, whatever you like. You just need to be sure, if it's not a Standalone application, that you also install t

[2016-12-10 07:09] piotrpMSFT commented on #4937
Thanks @vcsjones

[2016-12-10 07:09] #4937 closed

[2016-12-10 07:09] piotrpMSFT commented on #4795
thanks for confirming.

[2016-12-10 07:09] #4795 closed

[2016-12-10 07:14] piotrpMSFT commented on #4704
Backlog for the time being...

[2016-12-10 07:17] piotrpMSFT commented on #164
@nguerrera does the SDK have any support here?

[2016-12-10 07:22] piotrpMSFT commented on #4863
@tmds can you move this to nuget/home repo? CLI doesn't have access to this data and we take drops of NuGet, we don't build it.

[2016-12-10 07:22] #4863 closed

[2016-12-10 07:25] piotrpMSFT commented on #1413
Moved to SDK

[2016-12-10 07:25] #1413 closed

[2016-12-10 07:31] piotrpMSFT commented on #1860
.lock.json means you're on some pre-preview3 version of CLI. the lock file was renamed to project.assets.json starting in preview3. Please move forward to a newer build.

[2016-12-10 07:35] piotrpMSFT commented on #4965
@rohit21agrawal ?

[2016-12-10 07:36] piotrpMSFT commented on #4969
@jinujoseph we respect MSBuild verbosity, just reduced the default. you can pass `/v:diag` if you need some light reading :)

[2016-12-10 07:41] jinujoseph commented on #4969
👍

[2016-12-10 07:43] piotrpMSFT commented on #4970
I didn't see this issue at https://github.com/dotnet/cli/blob/rel/1.0.0/README.md. I searched for ` )` in the md for that file with no hits. Please let me know if you still see it, and at what URL.

[2016-12-10 07:43] #4970 closed

[2016-12-10 07:51] piotrpMSFT commented on #4955
Likely a dupe of https://github.com/dotnet/sdk/issues/475

[2016-12-10 08:02] rohit21agrawal commented on #4965
This looks like a msbuild issue because nuget just gets the DLL paths from the BuiltProjectGroupt output msbuild target,  but I'll confirm this tomorrow or by Monday , and take the appropriate action.

[2016-12-10 08:04] piotrpMSFT commented on #4981
log4net is built using the old NuGet package format. It does not specify compatibility with Microsoft.NetCore.App and therefore is not restored. I can see that here: https://www.nuget.org/packages/log4net/ since there are no specified Frameworks, as there are for e.g. https://www.nuget.org/packages/Newtonsoft.Json/9.0.2-beta1.

If you think the package is compatible you will want to add a

[code]

[2016-12-10 08:04] #4981 closed

[2016-12-10 08:16] piotrpMSFT commented on #4967
@nguerrera thoughts?

[2016-12-10 08:17] piotrpMSFT commented on #4532
closing dupe

[2016-12-10 08:17] #4532 closed

[2016-12-10 08:19] piotrpMSFT commented on #4722
@enricosada how are you thinking to put the tools on the path and to invoke dotnet itself?

[2016-12-10 08:20] piotrpMSFT commented on #4977
@MattGertz thanks. We do need to figure out a CI story, however, if we're to have any confidence that these tools are being implemented meaningfully.

[2016-12-10 08:22] piotrpMSFT commented on #4977
@dasMulli yep, that's another. I may need to find time to implement  some pseudo-loc story so we can get ahead of loc'd content and loc'd CI. @nguerrera do we have any tools for pseudoloc'ing?

[2016-12-10 08:35] piotrpMSFT commented on #4988
@dasMulli @enricosada I think we'll need this feature to support testing of localization. Since the default setting comes from the environment, I think an environment variable will be a very natural override. `DOTNET_CLI_LANGUAGE` sounds quite good... @blackdwarf ?

@enricosada are there scenarios that are strictly better enabled by a switch? The implementation there would be much more involved si

[2016-12-10 08:42] piotrpMSFT commented on #3030
Thanks @GuardRex

[2016-12-10 08:42] #3030 closed

[2016-12-10 08:47] piotrpMSFT commented on #3199
Thanks @cScarlson

In general, this is a project.json issue and has been overridden by the preview3+ tooling and csproj. I'm going to close this one, but please open a new one if you see similar problems in csproj.

[2016-12-10 08:47] #3199 closed

[2016-12-10 08:57] piotrpMSFT commented on #4521
Yea, dotnet add p2p is done.

@enricosada make sure the add ref features you're asking for get logged in nuget/home.

[2016-12-10 08:57] #4521 closed

[2016-12-10 08:59] piotrpMSFT commented on #4983
Sounds good. Please move this to NuGet/Home so we can get the right team looking at it :)

/cc @rrelyea

[2016-12-10 08:59] #4983 closed

[2016-12-10 09:02] piotrpMSFT commented on #4992
@nguerrera NuGet or SDK?

[2016-12-10 09:05] piotrpMSFT commented on #4804
Thanks @schellap. Closing in favor of dotnet/core-setup#753

[2016-12-10 09:05] #4804 closed

[2016-12-10 09:06] piotrpMSFT commented on #4965
thanks!

[2016-12-10 09:13] enricosada commented on #4988
An env var is fine. I cannot think an use case where cmdarg is better than env var.

I think the only OS without an env var convention for locale is Windows AFAIK.

On osx/unix the cli should read the `LANG` env var or at least `LC_MESSAGES`.

[2016-12-10 11:36] NickCraver commented on #4952
I tried the suggestions above - unfortunately this makes VS 2017 crash (logs below) and `dotnet restore` unaware of the target:

[code]

Note: I am on the Preview 3 tooling and VS 2017 RC (latest public version as of today: `15.0.25928.0`). I'm guessing the Preview 5 tooling has new default behavior here - is the assumption here that I upgrade to that? If I do, does VS 2017 RC become unusable with

[2016-12-10 11:41] benjamincburns commented on #3736
Perhaps this is overly simplistic, but I'd imagine that whenever it is presently acceptable to print an error message which prompts the user to execute a restore, the tool should just execute the restore rather than print that error message, then carry on with its original task. Otherwise in cases where no error message would be printed, the tool shouldn't automatically execute a restore.

If anyt

[2016-12-10 11:42] NickCraver commented on #4952
Also, brutal honesty is fine here - is this just not something that *should* work in Preview 3/VS 2017 RC? If I'm better off waiting until the next RC for this to work, I'm happy to go back to the full project file format for now and progress on getting MiniProfiler out. My goals here are:

1. Get MiniProfiler supporting `netstandard` & ASP.NET Core
2. Test VS 2017, dotnet cli, and the new `.cspro

[2016-12-10 14:24] ByronAP commented on #1860
why is M$ not promoting or pushing preview3 anywhere? REF: https://www.microsoft.com/net/core#windowsvs2015 which specs to preview2 and VS update3 which specs to preview2 as well

[2016-12-10 15:31] ekiliqua commented on #3571
Hi all, first sorry for my English because isn't my native languaje...

I'm learning with this project and have the same problem. I resolve this searching at Google.

Quote: abhidotnet

I found this: https://www.microsoft.com/net/core#windowsvs2015 and work for me. Is the same solution but you have here the URL for download it.

[2016-12-10 16:30] nguerrera commented on #4977
Note that over-localization can be fixed without regard to freeze deadline.

I am thinking about how to do pseudo loc in this xlf world. Once we have a pipeline that generates resources during build, it will be easy to add to that, but we are going to have to do conversion outside build and check in converted files for RC.3 given the time constraint .

[2016-12-10 21:42] thereapman opened #4995 "dotnet restore ignoring changes in .csproj"
## Steps to reproduce

I can't 100% recall the steps i've done but here is roughly  what i did:

1. Create a dotnet core project in VS2017RC (i've used the asp.net core with auth)
2. Edit the `csproj` to update to the 1.1 runtime in 2 locations:
`<TargetFramework>netcoreapp1.1</TargetFramework>` to
` <TargetFramework>netcoreapp1.1</TargetFramework>`
and
`    <PackageReference Include="Microsoft.NE

[2016-12-10 22:16] verlyn-texas commented on #4760
+1 on threenine's solution.  Update Nuget Packages worked for me as well.

[2016-12-10 23:12] livarcocc commented on #4995
@emgarten Can you take a look?

[2016-12-11 02:23] blackdwarf commented on #4609
Reopening this since nuget/home#4691 is closed. I would like to know the following:

* Is this fixed in the latest `dotnet pack`, that is, `Pack` target?
* If not, what is the workaround?
* What is the exact semantics of the workaround?

[2016-12-11 03:06] blackdwarf commented on #4722
@piotrpMSFT asks a good question. I would like to avoid having `dotnet.dll` (so not the muxer) be a launcher of arbitrary binaries from NuGet packages/cache.

From a conceptual perspective, I understand the desire but the whole scope of the usage is unclear to me. @enricosada you mention existing tools, which makes sense. However, if I already have the existing tool on the $PATH for whatever reaso

[2016-12-11 04:58] Petermarcu commented on #4704
@piotrpMSFT , Thanks!

[2016-12-11 05:15] katopz commented on #3964
It's already close? I still getting this issue (all up to date) and I didn't see any correct step mention?

[2016-12-11 08:02] enricosada commented on #4982
@piotrpMSFT fixed by https://github.com/dotnet/cli/pull/4984

[2016-12-11 08:02] #4982 closed

[2016-12-11 08:08] dasMulli commented on #4722
I think that the logic of resolving tools from the $PATH shouldn't change, but for tools referenced explicitly from the csproj, it should be fine. Considering there are already NuGet packages with tools out there and stand-alone `packages.config` files only used to restore them, this could be a quick win for their authors.

[2016-12-11 10:03] MartinJohns opened #4996 "Multi framework targetting not working with VS2017 RC"
## Steps to reproduce
- Install Visual Studio 2017 RC with .NET Core support.
- Create a new .NET Core project. Type seemingly does not matter, tested with Web MVC and Console application.
- Right click on project in Solution Explorer and select "*Edit name.csproj*"
- Find the line with the `TargetFramework` element.
- Replace `netcoreapp1.0` with `netcoreapp1.0;net452`, as demonstrated in [this .

[2016-12-11 10:10] MartinJohns opened #4997 "How to seamlessly swap NuGet package with source?"
In the past you demonstrated a way to seamlessly replace referenced NuGet packages with the actual source of projects by simply cloning the source code of the NuGet package to a path that is referenced in the *global.json* file, without any further change required.

How is this behavior possibly with the new MSBuild tooling? Looking at the *csproj* file I can see that there are now distinct values

[2016-12-11 10:39] inwenis opened #4998 "Targeting Linux from Windows"
## Steps to reproduce
mkdir crossCIssue
cd crossCIssue
dotnet new
remove "type": "platform" from project.json
add "runtimes": { "ubuntu.16.04-x64": {} } in project.json
dotnet restore
dotnet build -r ubuntu.16.04-x64
dotnet publish -c release -r ubuntu.16.04-x64
move files to clean Ubuntu 16.04 machine
run ./crossCIssue.exe

## Expected  behavior
./crossCIssue.exe should run

## Actual behavior
ba

[2016-12-11 10:49] enricosada commented on #4722
@piotrpMSFT @blackdwarf in this issue I am speaking only about "tools" or `<DotnetCliToool` inside msbuild proj.
The tools in PATH are ok with dotnet- prefix.

But if you want also to remove prefix from others installed by `dotnet install` the easy way is to add create a directory tools and create symlink there. So `dotnet` can first search there.
Or add the dir for global commands to PATH (like r

[2016-12-11 12:11] mcmonkey4eva opened #4999 "Debian vs. Windows data incompatibility"
## Steps to reproduce

`$ dotnet restore`
`Project file does not exist.`
`$ dotnet restore project.json`
`/path/to/project.json(1,1): error MSB4025: The project file could not be loaded. Data at the root level is invalid. Line 1, position 1.`

Generic not-touched `package.json` from the command to create a new empty site that runs fine on Windows.

## Expected  behavior

Project should run restore

[2016-12-11 12:31] mcmonkey4eva commented on #4999
Welp. `$ dotnet migrate` is apparently required.

So new question:
Why does my Windows .NET-CLI install I did a few days ago give me a project.json based project, but Debian servers literally apparently require .csproj based projects?

[2016-12-11 12:38] tenshinhan commented on #3759
still getting "'test-xunit' returned '-2147450749'" error, using

`
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.1.0"
    },
    "dotnet-test-xunit": "2.2.0-preview2-build1029",
    "xunit": "2.2.0-beta4-build3444",
    "Microsoft.DotNet.InternalAbstractions": "1.0.500-preview2-1-003177"  },

  "testRunner": "xunit",

`
any workaround out there?

[2016-12-11 19:31] andreimcristof commented on #1860
have the exact same problems described here in detail with VS 2015 community edition. I did the dotnet restore --no-cache multiple times, I did the nuget locals clear command as well, I still hav the error:

Also tried as suggested above to delete the lock.json file, still the error persists. This is very frustrating. Any other suggestions please?

[2016-12-11 20:35] SuperSludge commented on #4937
You could use Docker and ship your .netCore app as a container

[2016-12-11 21:10] bartonjs commented on #3964
@katopz If the instructions at https://www.microsoft.com/net/core#macos (Install pre-requisites) don't work for you please open a new issue describing what you've done and what problem you're having.

[2016-12-12 03:08] TravisBoatman commented on #4998
You don't need to run `dotnet build` just run `dotnet publish -c release -r ubuntu.16.04-x64` after it's finished you can run the app with `dotnet myapp.dll`

[2016-12-12 05:28] milla opened #5000 "dotnet pack with --version-suffix causes nuget push 500 (Internal Server Error)."
## Steps to reproduce
dotnet pack {project_path} -o Output --version-suffix 15
nuget.exe push -apikey {APIKEY} -Source %NUGETURL%

## Expected  behavior
push to nuget server successfully

## Actual behavior
I tried nuget v3.3, v3.4.4., v3.5, all shows that the version with the suffix is incorrect, and shows **Response status code does not indicate success: 500 (Internal Server Error).**

## Enviro

[2016-12-12 05:35] milla commented on #5000
I got luck to tried by --version-suffix foo, and then found the suffix cannot be a digital number, so I added a  prefix "d" to the date. like

-version-suffix d20161212

now the error is gone

[2016-12-12 05:35] #5000 closed

[2016-12-12 07:10] inwenis commented on #4998
I don't have dotnet provided on my Ubuntu, this is why I want to create a self contained package. Besides - will skipping `build` fix the issue?

[2016-12-12 08:09] dasMulli commented on #4998
The file shouldn't be named `*.exe` if your build setup is correct.. `dotnet publish -c Release -r some-RID` should output an executable to `bin/Release/netcoreapp1.1/ubuntu.16.04-x64/publish/crossCIssue`. Copying the whole `publish` directory to the target machine is supposed to work, provided all system-prerequisites are met.

[2016-12-12 08:16] dasMulli commented on #4999
The preview 3-5 versions are msbuild based and use csproj instead of project.json. And they default to .net core 1.0.*.
You probably have a preview2-1-* version installed on windows (e.g. through vs2015 + tooling) and a bleeding edge CI build on your Debian machine (vs 2017 rc shipped with a preview3, no "official" preview5 build has been published yet).

You can however install multiple versions

[2016-12-12 08:40] inwenis commented on #4998
@dasMulli thanks! Now I've realised that I need to run the file:
`dotnetCross2\bin\release\netcoreapp1.1\ubuntu.16.04-x64\publish\dotnetCIssue`
All the time I was trying to run:
`dotnetCross2\bin\release\netcoreapp1.1\ubuntu.16.04-x64\dotnetCross2.exe`

What is the `dotnetCross2.exe` file for?

[2016-12-12 13:23] thewavelength commented on #1488
@janvorli This is coming `dotnet MyProject.dll` (using ASP.NET Core):
[strace.txt](https://github.com/dotnet/cli/files/646046/strace.txt)

Running `dotnet new -t Web`, restoring it and then do `dotnet run` works as expected:
[code]

[2016-12-12 14:14] mahamannu commented on #3439
I am encountering the same issue with core 1.1. The fix identified by @radenkozec didn't work.

[2016-12-12 14:19] abhijitajmera commented on #3439
I am having the same problem. Attached is my project.
[IdentityServerWithAspNetIdentity.zip](https://github.com/dotnet/cli/files/646177/IdentityServerWithAspNetIdentity.zip)

[2016-12-12 14:34] dasMulli commented on #4998
@inwenis
So that is a mixture of a bug/known issue and a limitation.. Cli copies a hosting binary there. If your development machen is the same runtime you develop for, this is what is can be run after a `dotnet build` for the runtime (you can specify multiple runtimes).
Issue: https://github.com/dotnet/cli/issues/2343
So it allows you to build and run things fast without copying too much. The bui

[2016-12-12 15:05] inwenis commented on #4998
@dasMulli I must admit I don't fully understand everything in your last comment, but my issue is solved anyway, thanks!

[2016-12-12 15:05] #4998 closed

[2016-12-12 15:44] Shadowman4205 opened #5001 "An item with the same key has already been added. Key: Microsoft.NETCore.App"
What is this error? After updating my project packages to version 1.1  i cannot restore packages or do any debug on visual studio and i get this error. Any suggestion?
Also i can run from cmd dotnet build/restore/run with success.

[2016-12-12 16:41] blackdwarf commented on #4996
@MartinJohns what happens if you change `<TargetFramework>` to be plural, that is, `<TargetFrameworks>`?

/cc @srivatsn @davkean @nguerrera

[2016-12-12 16:42] sbomer commented on #4992
@nguerrera: the app csproj (but not Library.csproj) has <RuntimeIdentifiers>win10-x64</RuntimeIdentifiers> already. Do I need to specify the RID elsewhere during restore time? I tried a few different configurations but couldn't get any to work. Thanks!

[2016-12-12 16:56] janvorli commented on #1488
@thewavelength this is actually a different issue than the one discussed here before. In your case, the error code is 0x80131500. This error means a managed exception has occured during the initialization.
Looking at the strace, I can see it was trying to open libicuuc.so.55, but it hasn't found one anywhere. Could you please check what version of that library you have installed?

[2016-12-12 17:00] MartinJohns commented on #4996
@blackdwarf

And

[2016-12-12 17:39] ByronAP commented on #1860
You must have not have delete all of the lock files (as it is the root src of the issue, deleting the files is the solution). Make sure Visual Studio is closed then browse to the solution directory and do a search for *.lock.json and delete ALL the files that come up (may take a minute depending on sln size). Now when you open the project Visual Studio will rebuild all those files.

[2016-12-12 18:28] nguerrera commented on #4996
@MartinJohns

The original issue was definitely using `TargetFramework` to specify multiple frameworks instead of `TargetFrameworks` (plural). The blog post has that right.

There are two other issues:

1. Currently, you do need to specify a RuntimeIdentifier if one of your targets is the full .NET Framework and you are building an exe. We are looking to improve this, see https://github.com/dotnet

[2016-12-12 18:49] rohit21agrawal commented on #4609
As per @joelverhagen comment (https://github.com/dotnet/cli/issues/4609#issuecomment-263318993) , the workaround is to specify a RID in the app .csproj, e.g.

<RuntimeIdentifier>win7-x86</RuntimeIdentifier>

[2016-12-12 19:01] MartinJohns commented on #4996
Hey @nguerrera,

I've indeed overlooked that there's a plural version in the blog post. Performing the changes that you mentioned allowed me to compile the project. But the way to this has been very rocky - I think the mistakes I made are very easily done and the tooling should at least inform me about solutions to the most common mistakes. That there's no schema (after the latest VS update) doesn

[2016-12-12 19:11] rohit21agrawal commented on #4965
@piotrpMSFT @Antaris  I tried to build a similar repro project with the latest version of dotnet pack, and i didn't see any issues. I have attached my project here:

[Fx.Core.zip](https://github.com/dotnet/cli/files/646922/Fx.Core.zip)

[2016-12-12 19:39] nguerrera commented on #4996
I agree this is rocky and I apologize for that. FWIW, cross-targeting exe projects is significantly more complicated by these RID issues than cross-targeting libraries. We still need to do better on the docs and diagnostics, but let me try to answer your questions here.

The failure to load hostpolicy.dll is because we set an x86 RID for all outputs and we're trying to run on x64 dotnet.

For defi

[2016-12-12 20:20] ravtakhar opened #5003 ""dotnet-publish-iis""
## Steps to reproduce
Try "Publish" within Visual Studio 2015

## Expected  behavior
I have been doing this for over a year now? This suddenly broke... The only thing I can think of being changed is a windows update.

## Actual behavior
Error		No executable found matching command "dotnet-publish-iis"

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-preview2-003131)

Prod

[2016-12-12 20:30] ravtakhar commented on #5003
Sorry I've also tried adding the following:
"Microsoft.AspNetCore.Server.IISIntegration.Tools": "1.1.0-preview4-final"
To tools but I'm unable to restore?

[2016-12-12 20:38] ravtakhar commented on #5003
Turns out I had to use the following :
"Microsoft.AspNetCore.Server.IISIntegration.Tools": "1.0.0-preview2-final"
Under tools? Is this issue going to happen once I decide to upgrade because I'm not using .net core?

[2016-12-12 20:40] cortex93 commented on #4896
Hi

Not sure if same causes produce similar behavior with a core project targetting net462. While I expect System.Net.Http  4.1.1.0 to be in bin directory with binding redirect generated for Framework version (4.0.0.0), it is not.
See above issue for complete details of repro

[2016-12-12 20:46] jgoshi opened #5004 "SLN reader/writer: Add comprehensive tests"

[2016-12-12 21:10] jgoshi opened #5006 "Localization: Do a pass on CommandLineApplication.cs"
Need to go through that class since it is responsible for printing out help text for all our commands.

[2016-12-12 21:42] andreimcristof commented on #1860
@ByronAP thank you very much!

[2016-12-12 21:44] nguerrera opened #5007 "CLI does not include satellite assemblies for msbuild, roslyn, fsharp, nuget"
We need to figure out how to distribute satellite assemblies for msbuild and Roslyn with CLI in order to get csc and msbuild output translated in addition to messages coming directly from the CLI. I don't know about msbuild yet, but for Roslyn, it appears that to date these satellite assemblies are packaged only in the VS language pack, but not in nuget packages.

## Steps to reproduce

* `dotnet

[2016-12-12 21:44] nguerrera commented on #5007
@piotrpMSFT

[2016-12-12 22:43] blackdwarf commented on #4609
@rohit21agrawal and that will have no effect, right, on my build and deployment concerns? I will still be able to build a portable app and whatnot?

[2016-12-12 23:04] krwq commented on #1494
I did some manual testing on new dotnet project:
`dotnet restore --packages test\` - works
`dotnet restore --packages test2` - works
`dotnet restore --packages full\path\here\` - works
`dotnet restore --packages full\path\here` - works
`dotnet restore --packages ..\some\other\path` - works
`dotnet restore --packages ..\..\idonotexist\foo\` - works

@victorhurdugaci - are you still seeing this issu

[2016-12-12 23:05] krwq commented on #1494
Actually reopening - I will add some tests for that

[2016-12-12 23:48] #4745 closed

[2016-12-12 23:54] livarcocc commented on #4696
I just tried this.

I ran:

[code]

If you were expecting dotnet test .\TestProject, without specifying a project to work, please, open a separate issue for dotnet test itself to handle that.

[2016-12-12 23:54] #4696 closed

[2016-12-13 00:37] krwq commented on #1494
Ehh.. I just noticed this was saying "for tools"

[2016-12-13 02:27] emgarten commented on #4995
The SqlServer reference is coming from EntityFramework.

[code]

Npgsql is showing up in the assets file under ``NpgSql/3.1.9`` so the package is being restored and I see references to ``lib/netstandard1.3/Npgsql.dll``

I don't see any issues with the output you've shared here, does restarting Visual Studio help? Are there other npsql packages that should be here?

[2016-12-13 05:56] weedkiller commented on #3064
@AgentMC glad someone else sees this, I was going crazy, install, re-install, uninstall and reboot!!! 🎲

Another issue is that uninstall from the programs and features or previous versions does not clean out the old versions.

[2016-12-13 07:29] #4960 closed

[2016-12-13 07:32] piotrpMSFT commented on #4952
@NickCraver yea, I think I jumped the gun on the [RC Update](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes). The SDK attribute was introduced as part of this update. Try upgrading and let's see where we are!

[2016-12-13 07:34] mcmonkey4eva commented on #4999
Hm. You are correct.
However, since I'm a nutjob, I chose to apply your solution in reverse: Grabbed a dev build for my local windows installation.
... now how do I get OmniSharp working with the new project file in VS Code? >.>

[2016-12-13 07:34] piotrpMSFT commented on #4970
Thanks for the extra detail, @hultqvist. Should be fixed now.

[2016-12-13 07:35] piotrpMSFT commented on #3571
Thanks @ekiliqua. Do also try [VS 2017 RC](https://docs.microsoft.com/en-us/dotnet/) if you get a chance. The tooling has come a long way since Preview 1!

[2016-12-13 07:37] piotrpMSFT commented on #4977
@nguerrera do you think we'll be able to override the locale used by dotnet as suggested in #4988?

[2016-12-13 07:53] piotrpMSFT commented on #4722
@enricosada I'm afraid I don't get it. `dotnet` is the thing on the PATH so it gives us a hook to get into the execution path. Is your concern only that the tools inside of nuget packages not have the `dotnet-` prefix but the invocation convention is `dotnet {toolname}` nonetheless?

[2016-12-13 07:59] piotrpMSFT commented on #3439
The `imports` section is necessary for older-style NuGet packages. The string in the `imports` section must match the directory name inside of the nuget package you are referencing. Open your NuGet packages folder [usually a .nuget folder in your user directory], find the package in question, and look inside for a directory name that follows the `portable-` naming convention.

As called out earlie

[2016-12-13 08:00] piotrpMSFT commented on #5001
Can you share versions of components in play?

[2016-12-13 08:03] piotrpMSFT commented on #5007
@jaredpar thoughts?

[2016-12-13 08:29] piotrpMSFT commented on #1494
The overall experience you were going after in #5008 is still useful to keep a test around. I'm particularly interested to see if `test` scenarios work this way. Adding a tool to the mix is also interesting, of course.

[2016-12-13 09:10] dasMulli commented on #4999
@mcmonkey4eva You can get prerelease versions of omnisharp-vscode here on GitHub: https://github.com/OmniSharp/omnisharp-vscode/releases
Also, Visual Studio 2017 RC has been updated yesterday to support the updated style of csproj files (the ones with `<Project Sdk="Microsoft.NET.Sdk">...`). The RC however uses `preview4-*` versions of the CLI/SDK but there aren't many differences yet.

[2016-12-13 09:48] mcmonkey4eva commented on #4999
1.6.0-beta3 still says `[ERROR:OmniSharp#ProjectFileInfo] The target "ResolveReferences" does not exist in the project.`
(Path is `....\.vscode\extensions\ms-vscode.csharp-1.6.0-beta3\bin\omnisharp\OmniSharp.exe` so it's loaded the correct version...) I think something got missed by the `migrate` potentially? Specifically, a `ResolveReferences` Target in the csproj?

[2016-12-13 10:36] glucaci commented on #3136
For example the `dotnet build` command accept agrument `**/project.json` and builds all the projects from subdirectories.
`dotnet build **/project.json`

I think this will be a good solution for `dotnet test` also.
`dotnet test **/project.json`

Actualy cannot parse the argument:
[code]

[2016-12-13 10:37] Shadowman4205 commented on #5001
Do you mean in project.json if yes this is
`{
  "dependencies": {
    "AircraftDailyReport.Dal": "1.0.0-*",
    "Microsoft.AspNetCore.Session": "1.1.0",
    "System.Linq.Dynamic.Core": "1.0.6.8",
    "MimeKit": "1.10.0",
    "BundlerMinifier.Core": "2.2.306",
    "MailKit": "1.10.1",
    "Microsoft.AspNetCore.Server.Kestrel": "1.1.0",
    "Microsoft.AspNetCore.StaticFiles": "1.1.0",
    "Microsoft

[2016-12-13 11:38] enricosada opened #5009 ".NET Core Sdk preview4 installer/zip are really hard to find"
Dont know if this is the best place to ask, but is related to dotnet cli discovery.

I think if it's confusing for me (i use and show that website a lot, and know exactly what i need), i think is really hard for new users.

Where i do download .net core preview4 sdk installer.zip (without VS 2017) ?
In the website is written to go in this repo for daily drop, and is ok but that's preview5, not lat

[2016-12-13 12:41] am11 commented on #5009
+1 would be nice to have a simple dist channel as well like https://nodejs.org/dist/ (easy to predict and script the URLs, enables others to write their own Version Managers like dnvm, nvm etc.)

[2016-12-13 12:42] gpiercey opened #5010 "Update cli build configurations for Fedora 24 and 25"
With Fedora 23 EOL on Dec 20, 2016 the cli build configurations should be updated to support source builds on Fedora 24 and 25.

rel/1.0.0-previewX:
- there is no branch yet for 1.1 so I looked at the preview branches
- needs build configurations for Fedora 24 and 25
- preview2.1 seems to have support for Fedora 24 but preview3 and preview4 do not. Have those branches been abandoned?
- build statu

[2016-12-13 13:02] frankbuckley commented on #4786
Just to confirm - I am still seeing this behaviour with RC2 - `dotnet build ` a solution with inter-dependent projects - results in:

`CSC : error CS2012: Cannot open 'C:\src\Project1\obj\Debug\netstandard1.4\Project1.dll' for writing -- 'The process cannot access the file 'C:\src\Project1\obj\Debug\netstandard1.4\Project1.dll' because it is being used by another process.' [C:\src\Project1\Project

[2016-12-13 16:00] nguerrera commented on #4977
Yes. I'll reply with details when I have a moment to get in to them.

[2016-12-13 16:14] rpokrovskij commented on #3199
@piotrpMSFT Could you help me and explain what is

and how to install it on VS 2015 Update 3 ? I expect that it should be those new csproj that should replace xproj and of course that it will be not too complex to migrate from xproj to "new csproj"... But where to get new csproj project template?

[2016-12-13 16:41] blackdwarf commented on #5009
@enricosada working on it. It will be placed next to this doc: https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md and linked from the README.md in this repo.

[2016-12-13 16:42] blackdwarf commented on #5003
/cc @danroth27 @DamianEdwards

[2016-12-13 16:44] blackdwarf commented on #4999
@mcmonkey4eva can you share your project?

[2016-12-13 16:48] jaredpar commented on #5007
Not something we've really considered yet.  The way our sattelite assemblies are produced doesn't really mesh up with how we produce NuGet packages today.

How do other repos handle this?

CC @OmarTawfik, @agocke

[2016-12-13 16:52] nguerrera commented on #5007
cc @cdmihai for msbuild perspective

[2016-12-13 18:34] nicolastakashi commented on #3703
I've the same issu with VS2017 .Net Core SDK 1.1 Preview

[2016-12-13 18:35] krwq commented on #496
Current status for symbols of corefx/coreclr: https://github.com/dotnet/core-eng/blob/master/Documentation/Symbols.md - there does not seem to be any need to do anything about symbols for cli at this point.
I'm trying to get some more info about local builds

[2016-12-13 18:40] #496 closed

[2016-12-13 18:41] OmarTawfik commented on #5007
@nguerrera @jaredpar I'm 99% sure there is a way to produce nuget packages from the build the produces satellite assemblies. Can you please tell me where do we produce the above mentioned nuget today? I'll try to look into it to confirm.

[2016-12-13 18:53] nguerrera commented on #4988
Yes, AFAICT, coreclr on *nix will initialize default CurrentUICulture based on LANG, LC_ALL, and/or LC_MESSAGES. I got lost in the code at the point it went to ICU, but basically if any of these are set, then we let ICU decide the default, otherwise we default  to InvariantCulture. cc @ellismg in cases I've misread that.

IMHO, there should be a separate override that is cross-platform, independen

[2016-12-13 18:55] ellismg commented on #4988
This is correct, Nick.  The relevant code in the CLR (for interested parities) is here: https://github.com/dotnet/coreclr/blob/master/src/corefx/System.Globalization.Native/locale.cpp#L123

[2016-12-13 19:27] nguerrera commented on #4988
As far as how to implement an override, since the CLI gets its own process and doesn't have to share threads with other components wanting different locales, it should be sufficient to simply set [CultureInfo.DefaultThreadCurrentUICulture](https://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo.defaultthreadcurrentculture(v=vs.110).aspx) early in Main().

Other things to note:

*

[2016-12-13 20:03] livarcocc commented on #4999
I suspect that you have a mismatch of versions across your system.

You have to match CLI + Omnisharp to support either project.json or csproj. I mean, the version of the CLI that you are using and the version of omnisharp that you are using need to support project.json, if that's what you are trying to use. And likewise for csproj.

Though, to be honest, I don't know what is the state of Omnishar

[2016-12-13 21:26] rohit21agrawal commented on #4214
@livarcocc @eerhardt has there been any update on this? We need to get this fixed to make integrations easier, and enable Pack to ship out of band without having to patch the DLLs in the sdk directory.

CC: @rrelyea @emgarten

[2016-12-13 22:27] nguerrera opened #5012 "Keep as much out of msbuild's directory as possible"
See the following trail of how roslyn got moved out of msbuild.exe's directory on desktop:

https://github.com/Microsoft/msbuild/issues/1183
https://github.com/Microsoft/msbuild/pull/1339
https://github.com/dotnet/roslyn/issues/14660
https://github.com/dotnet/roslyn/pull/15222

The CLI will need to absorb that (if it hasn't already). This bug doesn't track that because things will break now if you

[2016-12-13 22:38] piotrpMSFT commented on #2490
CLI no longer depends on DNX

[2016-12-13 22:38] #2490 closed

[2016-12-13 22:39] piotrpMSFT commented on #2475
Dotnet-build was swapped out for msbuild, so this code no longer exists.

[2016-12-13 22:39] #2475 closed

[2016-12-13 22:40] shanselman opened #5013 "Running "dotnet -v diag run" shows diagnostics but fails to run"
## Steps to reproduce

[code]

## Expected  behavior

Note that the diagnostics shows indicating that -v got the "diag" switch but then it tries to run dotnet-diag.

## Environment data
`dotnet --info` output:

[code]

[2016-12-13 22:41] piotrpMSFT commented on #2460
@blackdwarf are these docs done yet?

[2016-12-13 22:45] #2457 closed

[2016-12-13 22:53] piotrpMSFT commented on #2428
@anurse looks like this can be closed, then?

[2016-12-13 22:54] dbreshears commented on #4991
I was able to repro by creating an ASP.NET Core Web Application (.Net Framework) in VS2015U3.  Then migrated that using VS2017 RC.2

[2016-12-13 22:55] piotrpMSFT commented on #2425
closing as there is no more project.json

[2016-12-13 22:55] #2425 closed

[2016-12-13 22:59] piotrpMSFT commented on #2407
This behavior was deprecated along with project.json

[2016-12-13 22:59] #2407 closed

[2016-12-13 23:20] akusmin commented on #4778
@piotrpMSFT  I found solution described in the issue [1488](https://github.com/dotnet/cli/issues/1488)

Setting System.GC.Server to false allowed to start application. I suppose that my issue with initializing CoreCLR has the same root with described one in the issue above.

Regards

[2016-12-13 23:36] anurse commented on #2428
It would be something handled over in MSBuild land. I think it's safe to close this issue though.

[2016-12-13 23:36] #2428 closed

[2016-12-13 23:57] shanselman commented on #4428
I also hit this. I have internal emails on it also. I'll talk about it in #4850

[2016-12-14 00:01] shanselman commented on #4850
Here's the issue @livarcocc. If you have a foreground color that is "intense" like BRIGHT green or BRIGHT pink (not just regular) and then dotnet.exe changes it for an error, it FAILS to set it back WITH the intensity setting.

I believe there is a problem in https://github.com/dotnet/cli/blob/3a567e595773b61650f2dcd1c7ec2b53b91cd7a8/src/Microsoft.DotNet.Cli.Utils/AnsiConsole.cs#L34-L42 @stephento

[2016-12-14 00:08] danroth27 commented on #5003
This looks like a 1.1 project so I think you should be using "1.1.0-preview4-final". What restore error were you seeing?

[2016-12-14 00:21] rrelyea commented on #4214
Great. Thanks. Any eta yet? (trying to plan integration dates)

[2016-12-14 00:35] #4968 closed

[2016-12-14 00:40] livarcocc commented on #5013
@shanselman the problem here is that we have two -v flags that indicate verbosity. The -v passed before the command (run, build, restore, publish, etc) is used by the CLI itself for its own verbosity and it does not expect a parameter. Because of that, the command line parser assumes that diag is the command and run a parameter to it.

If you want to set the verbosity to msbuild, you need to pass

[2016-12-14 00:47] livarcocc commented on #4851
@jonsequitur Another one around the area that you are playing with right now. Assigning to you.

[2016-12-14 00:51] cdmihai commented on #5007
Same answer and @jaredpar. We currently include the satellite assemblies in the vsix package that goes into VS but not in the Nuget packages. We don't even produce localized builds for .net core, since our tooling that synchronizes the `xlf` files and generates the `resx` does not support .net core yet.

The Nuget documentation proposes two ways of providing localization files, either put satellit

[2016-12-14 01:01] shanselman commented on #5013
Ya that's totally confusing. I would assume that "outer" params would be for dotnet.exe and "inner" ones would be for the command. So:

`dotnet -foo run -foo`

Would send the first one to dotnet.exe and the rest to the run command.

[2016-12-14 01:07] livarcocc commented on #4991
This is not necessarily a bug.

The problem here is that when you have RuntimeIdentifiers (plural) set, you need to build/publish specifying which runtimeidentifier you want to use through the --runtime flag.

Like this:
[code]
The reason why we put all the runtimes during migration is because a Rid is required when working with a full framework application. Because you may also have a .net core T

[2016-12-14 01:34] andrewslavin commented on #1860
Same issue here. Whenever I add a nuget package to the solution, or add a reference from one project to another, multiple projects stop building with this error. The fix is to delete project.lock.json in those projects, but it's annoying to have to keep doing it all the time. Using VS 2015 update3 and tools 1.0.0-preview2-final.

[2016-12-14 01:55] piotrpMSFT commented on #5013
Our convention for passing stuff to the application being run is `dotnet run -foo -- -foo`, where `--` separates arguments to the command from arguments to the app.

`dotnet -foo run` is not exactly what we want because it implies that `-foo` is being passed to `dotnet` itself, which is not the case unless we want to configure the host itself [e.g. dotnet --fx-version 1.0.0-preview6 run --foo`. Th

[2016-12-14 02:08] nguerrera commented on #5007
The directory layout and naming conventions are the same.

No gotchas on the ResourceManager, but I just found one on Console vs non-UTF8 code page: https://github.com/dotnet/corefx/issues/10054. Expect dotnet/msbuild and dotnet/roslyn bugs on that.

I don't think so. I just tried copying VS's msbuild and roslyn satellites to dotnet's msbuild folder and my csc output is now localized even when run

[2016-12-14 02:33] piotrpMSFT commented on #5012
Sounds like a great issue for @jonsequitur to drive!

[2016-12-14 02:35] piotrpMSFT commented on #4778
@livarcocc we should really provide a better UX here. Do we have enough state to recommend action to the user? The investigation here was certainly frustrating for @akusmin and others.

[2016-12-14 02:36] piotrpMSFT commented on #4428
Yep, we're tracking in #4850.

[2016-12-14 02:37] piotrpMSFT commented on #4214
@jonsequitur should start looking at the issue this week. @rrelyea are you blocked? Or this would just make integrations easier?

[2016-12-14 02:39] piotrpMSFT commented on #4991
@livarcocc we should add back RID infrence on `run`...

[2016-12-14 02:48] shanselman commented on #5013
Forgive my ignorance, but is that - and -- thing a convention anywhere? Is that "a thing?"

Honestly, I'm sitting here reading your comment over and over and I'm still not sure which is which. I suspect that this isn't discoverable (unless I do learn that this is a standard *nixism)

I thought what I said made more sense and was similar to what you're saying. arguments to dotnet come to the right

[2016-12-14 02:56] lzybkr opened #5017 "dotnet run -h incorrectly describes what happens with extra args"
Help should say args are passed to the application

Help says:

Args:
  Any extra options that should be passed to MSBuild. See 'dotnet msbuild -h' for available options.

`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview4-004233)

Product Information:
 Version:            1.0.0-preview4-004233
 Commit SHA-1 hash:  8cec61c6f7

Runtime Environment:
 OS Name:     Windows
 OS Version:

[2016-12-14 03:11] VictorHaine commented on #4760
I had this same issue, but with visual studio for mac! When I tried to debug it outputs this:
`The specified framework 'Microsoft.NETCore.App', version '1.0.1' was not found.
  - Check application dependencies and target a framework version installed at:
      /usr/local/share/dotnet/shared/Microsoft.NETCore.App
  - The following versions are installed:
      1.0.0
      1.1.0
  - Alternatively, i

[2016-12-14 03:15] mcmonkey4eva commented on #4999
One whole csproj file, fresh off the VSCode, http://pastebin.com/VBxaXzwA

[2016-12-14 03:54] blackdwarf commented on #5013
I'm not sure I'm following the thread of discussion. So, here is my take:

* The arguments immidiatelly following `dotnet` will be sent to the muxer
* The arguments following the verb will be sent to the verb
* In case of `dotnet run`, the `--` is used as a separator to make it clear that whatever follows `--` is for the application that `dotnet run` is running; I believe this is something that ex

[2016-12-14 03:59] blackdwarf commented on #4999
/cc @DustinCampbell for the VS Code question

[2016-12-14 04:02] blackdwarf commented on #4921
I've been working through the recent comments about the Preview 3 "dotnet test" and how it changes one key behavior from Preview 2: accessing the underlying test runner. It seems that the new infrastructure that is based on vstest console and test adapters actually provides a mechanism by which users can pass parameters to the test adapter. The mechanism is called the run settings file. You can le

[2016-12-14 04:11] schellap commented on #5013
If the muxer understands arguments like `--sdk-version` for example, it will filter those until the first unknown argument. Starting from the first unknown argument, everything will pass on to the CLI command parser to be dealt with. It won't be in the business of understanding what is verb and what is option etc. (ex: `dotnet --sdk-version "1.2.0" --info`)

[2016-12-14 04:17] blackdwarf commented on #5017
@lzybkr true, thanks for reporting this.

[2016-12-14 04:26] blackdwarf commented on #5013
@schellap fully understand that. One dimension of the issue here is that we have two very similarly named options that are different in behavior. The user comes in, sees that there is a way to provide verbosity to the muxer, assumes that it can take the same verbosity levels as other commands (after all, it is all MSBuild-bsed now, right?) and an error comes up. That is not good UX.

That part can

[2016-12-14 04:32] schellap commented on #5013
@blackdwarf

Btw, there is no verbosity for the muxer or a `-v` option at all. The `-v` has been around even before the muxer and is used for logging when CLI shells out to other commands. The muxer verbosity is through the environment variable `COREHOST_TRACE`.

But, I think the issue here is slightly different. It is passing `-v` to the app under `run` vs. passing -v to the CLI itself. The follo

[2016-12-14 05:17] dasMulli commented on #4999
@mcmonkey4eva since this is a web app, you will want to use the web-sdk:
`Sdk="Microsoft.NET.Sdk.Web"`
This should allow you to remove the `<ItemGroup>` elements. But doesn't explain vscode behavior.

[2016-12-14 05:45] blackdwarf commented on #5013
@schellap thanks for the info. slightly_smiling_face: This changes my suggestion above insofar as the potential change is not in the muxer (and the fact that not all options preceeding the verb are muxer options) but in `dotnet.dll`. I still think that `dotnet -v run -v diag` is not super clear.

For `dotnet run`, we already have a convention that `--` is used to disambiguate between verb's and ap

[2016-12-14 07:38] DustinCampbell commented on #4999
@livarcocc isn't _quite_ right. You don't need to match up OmniSharp with the version of the CLI. However, the .csproj projects produced by the CLI are definitely a bit ahead of OmniSharp. The Sdk attribute isn't supported by OmniSharp yet, but referencing the Sdk as a PackageReference is supported. I've just merged this fairly significant PR which will allow the Sdk attribute to work in OmniSharp

[2016-12-14 07:40] yyjdelete commented on #4996
Seems `Update-Package` in `NuGet(PowerShell) 4.0.0.2098` not work well with `Condition` while `NuGet(Vs Client)` works well, tested with VS 2017RC.2(15.0.26009.0).
[code]

[2016-12-14 07:46] piotrpMSFT commented on #3527
updated rel/1.0.0

[2016-12-14 07:46] #3527 closed

[2016-12-14 08:07] nguerrera commented on #4996
@yyjdelete Please file a separate bug for that on https://github.com/nuget/home

[2016-12-14 08:11] HanSeoulOh commented on #3964
I am also still getting this issue following the steps outlined:

`brew update
brew install openssl
brew link --force openssl`

more specifically I'm also trying to update python's SSL but the following is not working for me as well.

`brew install python --with-brewed-openssl`

I resorted to building openssl myself following these steps:

http://stackoverflow.com/a/38710248

and using `openssl ve

[2016-12-14 08:39] atanasa commented on #3964
Check the instructions again, those do not use the `link` option any more. This would allow your python to use the standard OS implementation while managed code would use the one in `/usr/local/lib`.

[2016-12-14 14:39] kmute90 commented on #3855
i have the same error, but suggested solution did not solved my problem :(

[2016-12-14 15:15] blackdwarf commented on #3855
@kmute90 can you share what steps did you do and what version you are trying to install?

[2016-12-14 15:55] ravtakhar commented on #5003
@danroth27  Yeah that's what had me confused. I will try to change the project.json and produce a build with the 1.1.0-preview4-final again the next time I'm on our build machine.

[2016-12-14 17:11] #4791 closed

[2016-12-14 17:11] #4975 closed

[2016-12-14 17:12] #4964 closed

[2016-12-14 17:24] livarcocc commented on #4999
@DustinCampbell my bad. Is there a good way to keep track of what is compatible? Or maybe publish it? And just for my own understanding, VSCode will work with csproj even if the CLI is say, preview2?

[2016-12-14 17:28] CRodriguez25 commented on #5001
I'm having the same issue. It seems as though the only way to get it to actually compile is to go through all the projects and unload/reload them into the solution.

[2016-12-14 17:29] DustinCampbell commented on #4999
That's right. In general, so long as MSBuild is backward-compatible with updates (like it is for Sdk attributes vs. Sdk package references), VS Code will continue to work. It's usually just a matter of tasks and targets after all. :smile:

We're leaving the preview2 support in place for the foreseeable future to allow users to transition. It's not a nice experience when an update to an extension i

[2016-12-14 17:44] onovotny commented on #4847
This is related to the following issues:

https://github.com/dotnet/sdk/issues/477
https://github.com/dotnet/sdk/issues/491
https://github.com/dotnet/sdk/issues/492

I believe that addressing those three will fix this one as this project/migration hits all three of those issues.

[2016-12-14 17:46] hksingh commented on #2578
@Tgeo workaround by adding platform fixed the issue.

[2016-12-14 18:29] livarcocc commented on #4999
@DustinCampbell I didn't mean VS Code would stop work. I was talking about VS Code working with CSProj and/or project.json depending on what CLI you have in place.

[2016-12-14 18:33] DustinCampbell commented on #4999
Right I understood. The C# extension for VS Code does not actually depend much on the CLI. OmniSharp carries its own copy of MSBuild and SDKs for understanding CSProj. The only dependency that the extension has on the CLI is shelling out to "dotnet build" and "dotnet restore".

[2016-12-14 19:33] dasMulli commented on #4999
@DustinCampbell so there currently is no way to use daily SDK builds with vscode? like setting/overriding the sdk path for msbuild? (or manually replacing omnisharp's version in the download location)

[2016-12-14 19:37] DustinCampbell commented on #4999
@dasMulli: When you say "SDK" -- you mean SDKs like Microsoft.NET.Sdk and not the .NET Core SDK, correct? If you meant the former, the only way to stick with daily builds is to manually replace them in the OmniSharp download location.

[2016-12-14 19:51] krwq opened #5019 "bad error when tool invoked without restoring"
## Steps to reproduce
- Create a folder with tool dependency (dependency does not have to exist). Example:
[repro00.zip](https://github.com/dotnet/cli/files/652713/repro00.zip)
- go to the folder with tool: `dotnet portable2` `dotnet anything`
- anywhere else except for that working directory it works properly

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --

[2016-12-14 20:11] krwq opened #5020 "tool is not found when tool name is coming from external property"
This is happening only when property is external (passed by command line)

## Steps to reproduce
- Run repro.bat file in the zip:
[repro01.zip](https://github.com/dotnet/cli/files/652762/repro01.zip)
- observe that tool is not found
- uncomment hard coded property name in the AppWithToolDependency (and optionally change BATCH file to not pass property)
- observe that the tool is now found

## Expe

[2016-12-14 20:13] krwq commented on #1494
This might be related to: https://github.com/dotnet/cli/issues/5019
I'm seeing similar error there but I'll test separately as this is hard to write a test reliably with following issue https://github.com/dotnet/cli/issues/5020

[2016-12-14 20:39] Shadowman4205 commented on #5001
Nothing happend, still the same.

[2016-12-14 20:52] livarcocc commented on #5020
We may need to find a way to pass additional msbuild properties when evaluating the project containing the tool. This is something that we don't really have today, at all.

But keep in mind, that if we do this, then you would have to invoke the tool using something like this: dotnet /p:ToolName=dotnet-portable2 portable2 in order for it to work. Because the property value is not saved when it is u

[2016-12-14 21:01] jonsequitur opened #5021 "dotnet test -h is misleading on usage of --test-case-filter switch"
## Steps to reproduce

`dotnet test -h`

## Expected  behavior

The help text should give a clearer example of usage. The examples given are misleading.

## Actual behavior

[code]

The command actually requires, for example:

`dotnet test --test-case-filter "FullyQualifiedName=Microsoft.DotNet.Migration.T
ests.GivenThatIWantToMigrateTestApps.ItMigratesRootProjectAndReferences"`

This does not wor

[2016-12-14 21:05] NickCraver commented on #4952
@piotrpMSFT Okay, I came at this a different way: I took a knowingly good MVC 5 project (created in VS 2017), ported the bits over (all working), *then* tried a minimal/new `.csproj`. This separates out the steps much cleaner.

Here's where I got to: https://github.com/MiniProfiler/dotnet/commit/b97c34cd063d0fd08ccc14c40bba343408ffedc3

This compiles and runs. It does so from both the CLI and VS.

[2016-12-14 21:28] srivatsn commented on #4952
It looks like BundleConfig.cs is coming in through some other means as well and so when you include the *.cs glob it's duplicated. Can you run msbuild /pp on the project and see the output to see if it's being included by some target?

I don't know about the upgrade issue but the SDK attribute means that it's adding a web.sdk.targets at the bottom of the file right after this imports. I don't know

[2016-12-14 21:39] NickCraver commented on #4952
@srivatsn as expected, it's the web SDK doing the include:

[code]

So is this a tooling issue on the VS 2017 side that is doesn't know about that target doing the include or...? I'm just not sure where to go with this. Point me at the proper place and I'm happy to file it since it seems to not really be CLI related.

[2016-12-14 22:38] livarcocc commented on #5020
Ok, so, @krwq, the fix here is to pass any MSBuild arguments down to the tool when the tool is being invoked. But, like I mentioned, this means that if you pass such an argument to restore, then you will have to use that argument with the tool as well. And to be fair, this is true for other commands as well.

If you restore passing Intermediatepath, you will have to pass intermediatepath to build,

[2016-12-14 23:55] livarcocc commented on #4958
[code]

You can repro this by cloning https://github.com/balaTest/ProjectKTestProjects. Go to Dev14_K101/Tooling202/AspNetCoreWebApp_OnCore_Empty_1 under that repo
and run dotnet migrate <sln_file>

[2016-12-15 00:00] livarcocc opened #5023 "Migration should use attributes for version metadata"
Just migrate a project.

Notice that the project.json has this in it:

[code]

It should instead have this:

[code]

[2016-12-15 00:04] livarcocc opened #5024 "Clean up empty Target PostPublish"
## Steps to reproduce
git clone https://github.com/balaTest/ProjectKTestProjects
cd Dev14_K101/Tooling202/AspNetCoreWebApp_NoAuth_1/src/AspNetCoreWebApp_NoAuth_1
dotnet migrate
cat AspNetCoreWebApp_NoAuth_1.csproj

## Expected  behavior
The line below should not be in the csproj. We should not have empty targets in the csproj.

## Actual behavior
There is this line at the end of csproj:
[code]
Thi

[2016-12-15 00:07] livarcocc opened #5025 "Update the tools version used during migration to match the templates"
## Steps to reproduce
git clone https://github.com/balaTest/ProjectKTestProjects
cd Dev14_K101/Tooling202/AspNetCoreWebApp_NoAuth_1/src/AspNetCoreWeb_IndAuth_WithAI_1
dotnet migrate
cat AspNetCoreWeb_IndAuth_WithAI_1.csproj

## Expected  behavior
We need to update the asp.net tools version to the version we are going to ship as the RC3 version.

## Actual behavior
Currently, we still have msbuild1

[2016-12-15 00:08] rrelyea commented on #4214
This would make integrations much easier. If we wanted to integrate now, we'd have to do 4+ steps, including disabling tests, and re-enabling them. Instead of just 2 steps otherwise.
We'd love to be able to increase our integration velocity!

[2016-12-15 00:23] rohit21agrawal commented on #4609
@blackdwarf not sure what you mean by portable app?

cc: @joelverhagen

[2016-12-15 00:48] ryanbrandenburg opened #5026 "net451 projects don't find satellite resources if a keyFile is define"
## Steps to reproduce
1. Run the project in [this](https://github.com/aspnet/Localization/tree/4ea26fef201a71ab5a7ae12f36c07c7bd57d481d) branch against net451.
2. See that "Hello Hello Hello" is returned instead of french strings.
3. Remove the "keyFile" line from the project.json.
4. See that french strings are returned.

## Expected  behavior
Resource files should be acessable regardless of if t

[2016-12-15 02:19] livarcocc commented on #4958
I think this happens because I have the sln and the project in different folders. I checked our tests, and they have these files collocated.

[2016-12-15 02:22] livarcocc opened #5028 "Add sln should add solution items to the sln file"
When we do a dotnet add <sln> <src/project/project.csproj> we should make sure that we have src as a solution item in the sln file.

The sln should look similiar to this:

[code]

Note the src item in it. Without this, the project will not show properly on VS. Also, if we are already handling this, just close this issue.

[2016-12-15 08:36] mcmonkey4eva commented on #4999
Hey look, a beta4!
Hey look, it made things worse! :(
[code]

[2016-12-15 09:43] thirkcircus commented on #219
@piotrpMSFT , sorry to resurrect an old issue.
I have used different test frameworks within a single test project several times.  I tend to write mostly bdd style tests (mspec) but sometimes i'll also add in (for eg) xunit if I need theories or approvaltests for comparing result snapshots.

Is dotnet test supporting multiple test frameworks per project likely to happen at all or should i just crea

[2016-12-15 09:54] Antaris commented on #4965
@rohit21agrawal

When I try and pack your test `Fx.Core` project, I get this:

[code]

[2016-12-15 09:56] rpokrovskij opened #5030 "dotnet restore fails to resolve local dependencies with a DEFAULT folder strucutre"
## Steps to reproduce
1) Start VS 2015 Update 3
2) Create ASP.Core App project (.NET Framework)
3) Create .NET Framework Class library
4) Reference Class Library project in Asp.Core project
5) run dotnet restore for ASP.Core App

## Expected  behavior
dotnet restore works

## Actual behavior
dotnet restore ends with error

[code]

## Environment data
`dotnet --info` output:

.NET Command Line Tool

[2016-12-15 10:07] rpokrovskij commented on #3199
@milla it is easy to trick VS to do not show "referencing" errors by manipulating them. But e.g. core web app will still not work if you launch  it (or will stop worked when you will remove cache). `dotnet restore --no-cache` should work - that is only one guarantee that solution will work on other developer's machine.

[2016-12-15 12:45] SuperJMN commented on #3199
I'm getting this:

When running dotnet build.

This is my version:

Microsoft .NET Core Shared Framework Host

  Version  : 1.1.0
  Build    : 928f77c4bc3f49d892459992fb6e1d5542cb5e86

[2016-12-15 13:42] jcyamacho commented on #4996
The migration to MSBuild XML schema only give to us bad user experience, i not like vs2017.. i prefer vs2015 with json project format, easy and friendly. Nobody try to learn MSBuild schema before... the people are trying to do the things like with json project format and MSBuild is ugly.