[2016-04-28 19:06] #1323 closed

[2016-04-28 19:07] piotrpMSFT commented on #2727
Can you be more specific? Where do you suggest adding this behavior?

[2016-04-28 19:08] piotrpMSFT commented on #2731
@blackdwarf was looking at adding EULAs to https://dotnet.github.io. Those are supposed to handle our web-readable EULA needs.

[2016-04-28 19:09] abpiskunov commented on #2737
Use this zip: \\vwdbuild01\Temp\antonpis\repro\DotNetBuildFailed.zip

[2016-04-28 19:50] brthor commented on #2714
Given that this is scheduled for RC2 on the cli side, will you guys @emgarten @yishaigalatzer be providing the NuGet global api in that timeframe or do we need to do something temporary?

[2016-04-28 19:52] yishaigalatzer commented on #2714
We can bring it up in shiproom but you should be able to do it without a new API. Let's post the use sample here and decide

[2016-04-28 19:55] brthor commented on #2714
@emgarten Should we ignore `repositoryPath` altogether then in the cli, or should it be used as a pointer to the global packages location?

[2016-04-28 19:56] jterry75 opened #2739 "Dotnet publish now fails for netcore50 when no run-time assemblies are present in the nuget packages"
## Steps to reproduce

[code]

Using dotnet restore on the above project.json now fails when before the RC2 release this would succeed.
## Expected  behavior

The restore succeeds without failure and I can publish the app using dotnet publish
## Actual behavior

Restore fails with the error:

Errors in D:\gowork\src\github.com\Microsoft\Docker-PowerShell\src\Docker.DotNet\testapp\project.json

[2016-04-28 19:57] jterry75 commented on #2739
I also later tried to update to the nuget feed:

    <add key="nuget.org" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />

So that I could try the 4.1.0-* binary and it fails the same way even for the RC3 beta releases. How are we expected to do this?

[2016-04-28 19:58] frodestorhaug commented on #2556
It would be very nice to be able to build CLI for ARM and Raspberry pi. We have several projects where we are using rc1 on Pi, and it would be excellent to be able to try rc2

[2016-04-28 20:24] smbecker commented on #1302
You can do `dotnet build **/project.json`

[2016-04-28 20:26] smbecker commented on #602
I'm not even seeing a `--no-source` option in `dotnet pack`. Am I missing something? Is it planned for RTM?

[2016-04-28 20:40] muratg commented on #602
@smbecker This issue was copied over from DNX with which you could either deploy source based apps or compiled apps.  With dotnet, there's no option to deploy "source" apps. So that option will not be added to dotnet because it's the default.

[2016-04-28 20:44] haf opened #2740 "Tantalisingly slow download from dotnetcli.blob.core.windows.net"
## Steps to reproduce
Go to Sweden.

Alternatively use a VPN like [IPredator](https://ipredator.se/) which has 3 days for free on signup.

Run `curl -o tools/dotnet-dev-ubuntu-x64.1.0.0-beta-002071.tar.gz -L https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/1.0.0-beta-002071/dotnet-dev-ubuntu-x64.1.0.0-beta-002071.tar.gz`

Count sheep, fall asleep, cut some leek, gaze at a speed very me

[2016-04-28 20:49] smbecker commented on #602
But I still see value in --no-source to exclude source from symbols packages.

[2016-04-28 21:03] vijayrkn commented on #2616
We verified the feasibility of solution (1) and we should be able to trigger a VS build (when ever there is a change in the project) before invoking dotnet test. We can go with this solution for rc2.

I think we should still fix (2), adding an option in dotnet test to pass --no-dependencies.

Regarding (3), I am not sure if we can enforce all callers to make sure they pass unique paths for base pa

[2016-04-28 21:12] schaabs commented on #2714
I think there must be some way to configure where build and publish pull packages from.  The only way to do this currently is through global.json (or through repositoryPath once this is fixed), unless you take suggestion https://github.com/dotnet/cli/issues/2712

[2016-04-28 21:22] cdmihai opened #2741 "Getting System.TypeInitializationException on OSX"
I don't know how to reproduce this. On my machine, using either stage0 or stage1/2 gives me the following exception:
[code]

[code]

OSX 10.11.4

[2016-04-28 21:23] BillHiebert commented on #2427
We suspect this is a timing issue. After starting the project model server, VS waits up to 5 seconds to make the tcp connection. On slow VM's, we have noticed that the first run of dotnet.exe is really slow - haven't investigated why.  Most likely it is timing out, in which case the process is terminated.  We've increased the timeout and we should know in the next day or so.

[2016-04-28 21:38] Sridhar-MS commented on #2678
I am seeing the `FilesInUse` page hardcoding `A` - https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/windows/clisdk/bundle.thm#L50

@robmen Any idea on how to display the process list which are using the files?

[2016-04-28 22:14] brthor commented on #2714
I think we'll do `--packages` #2712 but an important question is should we support both and with what precedence?

[2016-04-28 22:21] Sridhar-MS commented on #2678
I am also seeing the `ShowFilesInUse` getting set correctly here - https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/windows/clisdk/bundle.wxs#L17

[2016-04-28 22:28] emgarten commented on #2714
The order should be:

1. ``--packages``
1. ``NUGET_PACKAGES``
1. ``globalPackagesFolder`` from nuget.config
1. default location

dotnet restore reads the packages parameter first here:
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/RestoreCommand/RequestFactory/RestoreArgs.cs#L68-L80

Then checks the environment variable and settings here:
https://github.com/NuGet/NuG

[2016-04-28 23:09] piotrpMSFT commented on #2729
@dazinator can you open this issue in https://github.com/nuget/home?

/cc @emgarten @yishaigalatzer

[2016-04-28 23:09] #2729 closed

[2016-04-28 23:09] brianrob commented on #2522
#2681 is merged.  Waiting on dev script to run performance tests for CLI.

[2016-04-28 23:10] brthor commented on #2714
Thanks @emgarten !

[2016-04-28 23:10] Sridhar-MS commented on #2730
@dazinator Which windows version are you using?

[2016-04-28 23:10] piotrpMSFT commented on #2741
@cdmihai we've tried to repro this on a few machines and it doesn't show. Can you provide a stable repro?

[2016-04-28 23:14] piotrpMSFT commented on #2740
Thanks @haf. I have a half dozenz engineers excited to repro this issue :)

I'm going to rename the issue. CLI builds do not get pushed to a CDN today, and so I expect this problem to exist globally. We need to fix.

[2016-04-28 23:17] piotrpMSFT commented on #2739
@ericstj can you take a look at this issue and give guidance?

[2016-04-28 23:18] piotrpMSFT commented on #2710
@jaredpar can you confirm that this is an issue your team should look at?

[2016-04-28 23:20] #2613 closed

[2016-04-28 23:22] piotrpMSFT commented on #2343
@BillHiebert @anurse this was discussed offline today and I understand we can kick it out to RTM. Ping me if I missunderstood something.

[2016-04-28 23:23] ericstj commented on #2739
@jterry75 what are you intending to do here?  `netcore50` is the TFM for UWP apps which aren't supported at all by dotnet CLI (its missing the APPx packaging, .NETNative toolchain, etc).

The CLI would have failed restore for this project ever since it move from using DNX to NuGet so this isn't a recent regression.  NuGet is correctly failing restore here since this app is compiling as standalone

[2016-04-28 23:31] piotrpMSFT commented on #2343
@krwq can you follow up with @BillHiebert to understand the plan for running both 32-bit and 64-bit standalone and portable apps from Visual Studio in RC2?

[2016-04-28 23:37] piotrpMSFT commented on #2522
Since the basic tests are in, pushing this out to RTM

[2016-04-28 23:37] Sridhar-MS opened #2743 "[MSI]: Installing x64 CLI on top of x86 does not work."
The previous install folder is detected wrongly for x64 - https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/windows/clisdk/bundle.wxs#L28

[2016-04-28 23:54] dazinator commented on #2730
Windows 10, latest update :)

[2016-04-28 23:55] dazinator commented on #2730
Oh wait.. sorry - this problem was actually when installing on our build server which is windows server 2012.

[2016-04-29 00:54] krwq opened #2748 "Not useful message when passing --no-incremental"
## Steps to reproduce

dotnet build --no-incremental
## Expected  behavior

build the project, no messages about improving compilation time
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-04-29 04:29] brianrob opened #2751 "Consider Implementing a Compiler Server to Eliminate Roslyn Start-Up Cost"
As an alternative to hosting Roslyn inside the dotnet build process, another option to be considered is to implement a compiler server.  This would mean only paying start-up cost once and having a compiler in-memory with caches primed and ready-to-go.

[2016-04-29 04:29] brianrob commented on #2751
@jaredpar, I believe you're already looking at this.

[2016-04-29 04:56] jaredpar commented on #2751
@brianrob indeed.  Have a couple of prototypes I've tested.  The actual server functionality is portable and already factored out into a portable layer.  The issues with moving it to CLI is around the following:

1. Picking a transport layer.  On Windows desktop we use named pipes in large part because we can set ACLs on them.  Need to think about a good equivalent which is portable.
2. Need to de

[2016-04-29 05:15] emgarten commented on #2729
@dazinator this looks related to: https://github.com/NuGet/Home/issues/2528 which is fixed in the latest dotnet CLI.

TeamCity returns a 204 with a blank response when there are no packages found. Other NuGet V2 servers return XML for an empty list. The missing root element error comes from NuGet trying to parse the non-XML response.

[2016-04-29 05:24] tmds commented on #2727
I think it means: native parts (e.g. runtime) have no dependencies provided by OS libraries and there are more generic versions of for runtime specific libraries which include their own dependencies as well. (e.g. linux-x64 version of a library would include some native library where the ubuntu.14.04-x64 would use the libraries provided by Ubuntu 14.04).

This would mean the generic system would b

[2016-04-29 07:07] thecodejunkie opened #2752 "dotnet test throws exception if it cannot find project.json"
## Steps to reproduce

Invoke `dotnet test` in a folder that does not contain a `project.json` file
## Expected  behavior

To get a message informing me that it could not find any tests or perhaps that it has to be invoked from a path that contains a `project.json` file
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-04-29 07:10] thecodejunkie opened #2753 "dotnet test throws exception if no testrunner has been declared"
## Steps to reproduce

Invoke `dotnet test` on a `project.json` that does not have a `testRunner` declared.
## Expected  behavior

To be informed that no `testRunner` has been declared in `project.json`.
## Actual behavior

[code]
## Environment data

`dotnet --info` output:

[code]

[2016-04-29 07:11] cdmihai commented on #2741
Looked a bit more into this. Apparently everything is fine if I call dotnet from inside a script:

[code]

[code]

where run.sh is
[code]

[2016-04-29 07:11] davidfowl commented on #2741
/cc @anurse

[2016-04-29 07:43] cdmihai commented on #2741
Problem solved. ...

I had the following three items in my ~/.bash_profile file:
[code]

After commenting those out, stuff works. No idea what tool wrote those lines there, I'll see if anything else starts breaking all of the sudden :)

[2016-04-29 07:43] #2741 closed

[2016-04-29 07:47] cdmihai commented on #2748
I'd leave the message there as a reminder that something is not right and the compilation times CAN be improved :)

It avoids the scenario where a user has a stuffy shell script that calls build --no-incremental, but the user forgets about the flag and then silently suffers long compilation times due to forced rebuilds.

[2016-04-29 09:19] dazinator commented on #2729
@emgarten - ah ok, thanks ;-)

[2016-04-29 11:59] tonysneed commented on #2583
@MichaelSimons I was able to create an image based on *microsoft/dotnet-preview*: https://github.com/tonysneed/Demo.DotNetCoreDocker.  However, I got the following error when running a container based on the image: **Project app does not have a lock file**. I posted a question regarding this on the [docker hub page](https://hub.docker.com/r/microsoft/dotnet-preview/). I was able to eliminate the e

[2016-04-29 15:36] pranavkm opened #2754 "Modify RuntimeEnvironment to use System.Runtime.InteropServices.RuntimeInformation"
The code ported from `Microsoft.Extensions.PlatformAbstractions` contains a bunch of pinvokes for APIs that are available via the RuntimeInformation package. However the package has issues in RC2 where it does not bring in runtime binaries in desktop applications. This is fixed in RTM (https://github.com/dotnet/corefx/issues/7863).

[2016-04-29 15:59] eerhardt commented on #1624
This is now fixed #2594

[2016-04-29 15:59] #1624 closed

[2016-04-29 16:30] jaredpar commented on #2710
@piotrpMSFT in the `dotnet` model how does setting of the current directory function?  Should `csc` assume it's being executed with current directory set to `src\project`?

[2016-04-29 16:35] eerhardt opened #2755 "If a project only targets a single framework, `dotnet build -o` shouldn't require user to pass --framework"
## Steps to reproduce
1. Have a project that only targets a single TFM.  (A good one is the src\dotnet project in this repo.)
2. `dotnet build -o C:\temp`
## Expected  behavior

The project should be built with its output in the specified location.
## Actual behavior

An error occurs with the following message:
`When the '--output' option is provided, the '--framework' option must also be provided

[2016-04-29 16:51] Sridhar-MS commented on #2633
Fixed by #2704

[2016-04-29 16:51] #2633 closed

[2016-04-29 16:51] moozzyk opened #2756 "A? (Installer wants to restart an app that does not exist or does not show what it is going to restart)"
![image](https://cloud.githubusercontent.com/assets/1438884/14922943/39df1d8a-0def-11e6-8fb0-9a1572b1daf1.png)

[code]

[2016-04-29 16:52] Sridhar-MS commented on #2756
Duplicate of #2678

[2016-04-29 16:52] #2756 closed

[2016-04-29 16:57] enricosada commented on #1351
no https://aka.ms pls, just use a link of the https://www.dotnetfoundation.org/
I am not against ms, but that's dotnet , so maybe having a shortener or a link of .net foundation is better

also, shortener is ok ( but ugly, it's not twitter) but a good link last longer ( https://dotnetcli.dotnet.org/cmd/build vs http://aka.ms/13xa3 )

[2016-04-29 17:44] RussKeldorph opened #2758 "Please document known failure in dotnet restore (#2545)"
Following the basic instructions available in several locations, `dotnet restore` fails out of the box for what to the uninitiated appear to be absurd reasons.  I believe this is issue #2545.  If we aren't going to fix this yesterday, at the very least the workaround should be documented front and center on the CLI GitHub home page, if not in other places.

## Steps to reproduce
Unpack dotnet RC2

[2016-04-29 17:44] agocke commented on #2710
Also, I should note that `additionalArguments` are, by design, applied verbatim. Parsing is explicitly *not* applied to the compiler arguments, since one of the things it's supposed to support is arguments and argument formats that `dotnet` doesn't necessarily understand.

[2016-04-29 17:48] balachir opened #2759 "Add reference from web app (net452 xproj) to class library (net452 csproj), change class lib to net46, solution builds fine when failure is expected"
## Steps to reproduce
1. New solution with Windows class lib (csproj targeting net451)
2. Add ASP.NET Core on .NET Framework empty web app (xproj targeting net451)
3. Add reference from xproj -> csproj, and build : works fine
4. Change target of class lib from net451 to net46
5. Build solution
## Actual behavior

Build succeeds

[code]
## Expected  behavior

Build fails

In step (2) above, if you

[2016-04-29 17:53] leecow commented on #2758
Acquisition feedback - @blackdwarf

[2016-04-29 17:57] jterry75 commented on #2739
@ericstj Oddly enough this wasn't failing when using CLI beta (1.0.0-beta-002252) before any of the people on my team updated to the RC2 release of the dotnet cli (1.0.0-rc2-002533). Either way maybe that is a red herring.

I was under the impression that as of  [NuGet 3.1](http://blog.nuget.org/20150729/Introducing-nuget-uwp.html) project.json support was available for UWP apps? Are you saying th

[2016-04-29 18:02] BillHiebert opened #2760 "Can't run console app built for win10-x64 (probably other rids as well)"
dotnet version: 1.0.0-rc2-002520

## Steps to reproduce
1. New console app
2. Remove type: platform from dependency
3. Add runtimes: {"win10-x64" : {}}
4. dotnet build
5 Output should be in bin\debug\netcoreapp10\win10-x64
6. run the built executable

See the following error
Could not resolve coreclr path

[2016-04-29 18:22] brthor commented on #2760
Is this using dotnet new, or a different template?

[2016-04-29 18:26] schellap opened #2761 "Embed version info into the binary"
Currently, the host binaries don't contain versioning information. The Commit SHA and the version info should be added to the host binaries.

See https://github.com/dotnet/cli/pull/2749

[2016-04-29 18:51] BillHiebert commented on #2760
@brthor
A different template. I turned on COREHOST_TRACE and it shows the following (with 1.0.0-rc2-002543):
Checking if CoreCLR path exists=[C:\Users\billhie\AppData\Local\dotnet\runtime\coreclr\coreclr.dll]
Checking if CoreCLR path exists=[C:\Program Files\dotnet\bin\coreclr.dll]
Could not resolve CoreCLR path. For more details, enable tracing by setting COREHOST_TRACE environment variable to 1

[2016-04-29 18:53] brthor commented on #2760
Can you share the project.json please?

[2016-04-29 18:56] BillHiebert commented on #2760
`{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "runtimes": {
    "win10-x64": { }
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0-rc2-3002426"
    }
  },

  "frameworks": {
    "netcoreapp1.0": {}
  }
}`

I suspect is the platform dependency which is causing the issue

[2016-04-29 18:59] DamianEdwards opened #2762 ""refs" and "runtimes" in the output folder could potentially conflict with the app's own content"
## Steps to reproduce

Create a project that references a "fat package" (one that includes platform-specific native assemblies, e.g. `Microsoft.AspNetCore.Server.Kestrel`) and sets the `"compilationOptions": { "preserveCompilationContext": true }`" configuration option.
## Expected  behavior

Implicit assets (one's added by the tool-chain) in my project's output should have a low risk of conflicti

[2016-04-29 19:00] BillHiebert opened #2763 "dotnet build dumps a single error across 3 lines which causes 3 error list items to be created"
## Steps to reproduce
1. Install dotnet 1.0.0-rc2-002543
2. From VS create a console application
3. Remove type:platform from dependency
   4 Add a win7-x64 runtime
   build

1>C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Common.Targets(241,5): error : Can not find runtime target for framework '.NETCoreApp,Version=v1.0' compatible with one of the target runti

[2016-04-29 19:06] sokket opened #2765 "PerfTrace CaptureTiming Graph Collection NRE"
## Steps to reproduce

Run `<root>\artifacts\win10-x64\stage1\dotnet.exe --debug "build" "--build-base-path" "<root>\artifacts\win10-x64\stage2compilation\forPackaging" "--configuration" "Debug" "<root>\src\Microsoft.DotNet.ProjectModel.Loader"``

Where `<root>` is your repo root
## Expected  behavior

Success!
## Actual behavior

NRE

System.NullReferenceException: Object reference not set to an

[2016-04-29 19:08] balachir opened #2766 "Incorrect name when CLI installer is blocked by VS being open"
## Steps to reproduce
1. Dev14 U2 RTW + AspNetCore Tools RC2 (build release.106) -- includes DotNetCoreCli.b002426
2. Open ASP.NET Core solution in VS, Ctrl-F5 --> works
3. With VS open, try to install a newer build of DotNetCoreCli : build b002520

## Actual behavior
Installer shows this dialog. The application name that needs to be closed is just "A"

![image](https://cloud.githubusercontent.com

[2016-04-29 19:14] brthor commented on #2765
related?
https://github.com/dotnet/cli/commit/cf6fdc6daca187d938da08bb9db3278963ef9561

[2016-04-29 19:28] Sridhar-MS commented on #2766
duplicate of #2678

[2016-04-29 19:28] #2766 closed

[2016-04-29 19:29] Sridhar-MS commented on #2766
Workign on a fix - #2764

[2016-04-29 19:30] brthor commented on #2714
@emgarten Is there any api available in NuGet to ready the NuGet.config? Looking through NuGet.Client I don't see anything obvious

[2016-04-29 19:44] emgarten commented on #2714
Use ``SettingsUtility.GetGlobalPackagesFolder`` from NuGet.Configuration

[2016-04-29 19:53] Petermarcu commented on #2740
For our RC2 build, we need to make sure it gets on an existing CDN. We should also make sure people downloading from our Azure storage have a good experience but its not blocking the RC2 release.

[2016-04-29 19:55] Petermarcu commented on #2613
@socket, should this be closed now that your change went in?

[2016-04-29 19:57] sokket commented on #2613
It is closed? :)

[2016-04-29 19:59] Petermarcu commented on #2496
All RC2 items are complete. Closing.

[2016-04-29 19:59] #2496 closed

[2016-04-29 20:05] eerhardt opened #2768 "BuiltInCommandTests is flaky because it changes Console.Out and expects no one else to write to it"
## Steps to reproduce

1. Run Microsoft.DotNet.Cli.Utils.Tests on a Linux box

## Expected  behavior

The test should pass always

## Actual behavior

It fails sometimes with an error like:

[code]

## Environment data
`dotnet --info` output:

N/A

## Notes

Probably the right thing to do is to mock out the Console during the tests.  For now, I am using XUnit Collections so the tests don't fail.

[2016-04-29 20:14] Petermarcu commented on #2485
@socket , can we get this in today?

[2016-04-29 20:16] Petermarcu commented on #2635
@rrelyea , @emgarten , Can we get this and the update to you using the latest CoreFX build in today?

[2016-04-29 20:19] krwq commented on #2763
try calling `dotnet restore` before building

[2016-04-29 20:22] emgarten commented on #2635
@Petermarcu sure, I'll get a new set of packages with those changes

[2016-04-29 20:22] Petermarcu commented on #2710
@piotrpMSFT , try to get this in for today.

[2016-04-29 20:23] Petermarcu commented on #2713
@Sridhar-MS , get this in today.

[2016-04-29 20:26] Petermarcu commented on #2730
@Sridhar-MS , Can you get this in today?

[2016-04-29 20:28] Sridhar-MS opened #2771 "Add more windows installer tests"
We are lacking windows installer tests which does various combinations of installing,uninstalling,SxS,upgrading the product.

Issues we have been seeing:
#2743
#2730
#2713

[2016-04-29 20:29] Petermarcu commented on #2613
Ha ha

[2016-04-29 20:31] Petermarcu commented on #2765
Do we need this for RC2 or can this be RTM?

[2016-04-29 20:32] Petermarcu commented on #2762
@DamianEdwards , RC2 blocking or RTM?

[2016-04-29 20:32] DamianEdwards commented on #2762
RTM

[2016-04-29 20:36] Petermarcu commented on #2753
@thecodejunkie , Thanks for filing all these issues!

[2016-04-29 20:40] Petermarcu commented on #2758
We should add instructions on the repo for people using dev builds to make sure they know exactly the NuGet.Config they need to have to be successful.

[2016-04-29 20:43] pakrym opened #2772 "Reference assemblies for packages in shared runtime should be shiped with shared runtime"
Decreases published application size by removing contents of `refs` folder
@DamianEdwards

[2016-04-29 20:47] piotrpMSFT commented on #2730
I just tested this with
[code]

And did not have any issues. Please re-open with a specific version of CLI if you're still seeing an issue.

https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x86.latest.exe

[2016-04-29 20:54] brthor commented on #2760
Thanks for the info @BillHiebert , looking into this now

[2016-04-29 20:54] DamianEdwards opened #2773 "Dependencies declared as type:build in project.json shouldn't end up in published output"
## Steps to reproduce
Create a new ASP.NET Core web site application using current VS tooling build. Publish the application using `dotnet publish`.

## Expected  behavior
Dependencies declared as `"type": "build"` and their dependencies should **not** be included in the published output.

## Actual behavior
The assets for the dependencies declared as `"type": "build"` and their dependencies are i

[2016-04-29 20:55] DamianEdwards commented on #2772
This is currently accounting for ~33% of the published application output size for File -> New -> ASP.NET Core web site. Fixing this will get us down to ~20MB output size (and fixing #2773 will get us down another 5MB).

[2016-04-29 20:58] brthor commented on #2760
@BillHiebert did you run restore in between steps 3 and 4?

[2016-04-29 21:33] piotrpMSFT commented on #2754
I looked at the dependencies of Microsoft.Extensions.PlatformAbstractions. It does not have any dependencies back into CLI, so as long as the package references shipping CoreFx packages I don't have concern about the cycle for RC2.

[2016-04-29 21:34] ellismg opened #2775 "Console.ReadLine() doesn't display input"
(From dotnet/corefx#8184, opened by @omajid)

On RHEL 7, when I run the following program (using `dotnet run`) and type some input, I don't see what I am typing until I hit ENTER. Then everything I have typed appears at once:

    public static void Main(string[] args)
    {
        Console.WriteLine("Name: ");
        var name = Console.ReadLine();
    }

    $ dotnet --version
    1.0.0-rc2-0025

[2016-04-29 21:35] ellismg commented on #2775
We confirmed that if you used `dotnet` to invoke the MSIL directly, you don't hit this issue, so @stephentoub and I suspect this is related to how dotnet run captures output.

[2016-04-29 21:35] piotrpMSFT commented on #2754
since the PR is out, let's leave this in :)

[2016-04-29 21:36] mellinoe opened #2776 "Strange behavior with Process creation and termination"
## Steps to reproduce

Consider this program:

[code]

NOTE: This is just an easy example, my use case is slightly different (using xdg-open to launch a browser). Ping works here because it usually takes a while to exit.
## Expected  behavior

The program starts a process, prints out "Process started", and terminates.
## Actual behavior

When executed via `dotnet run`, the program does not termina

[2016-04-29 21:36] ellismg opened #2777 "Console.Write() doesn't show output until a newline"
(from dotnet/corefx#8183 by @omajid)

On RHEL 7, `Console.Write()`'s output does not get displayed until a newline is used (or the program exits).

If you run the following application, you don't see anything as the output until 10 seconds have passed. Then all of "HelloWorld!" appears at once.

     public static void Main(string[] args)
     {
         Console.Write("Hello World");
         Cons

[2016-04-29 21:37] ellismg commented on #2777
Like #2775, this is only a problem when invoking the program via `dotnet run`.  If you invoke the MSIL directly, there are no issues.

[2016-04-29 21:43] mellinoe commented on #2776
Another point of data: If I execute `dotnet <test.dll>`, then the correct behavior is exhibited.

[2016-04-29 21:45] mellinoe commented on #2763
I think the issue is more about three errors being "generated" (or interpreted at such) rather than one, because they're on separate lines.

[2016-04-29 22:00] sokket commented on #2485
@Petermarcu this is blocked right now by the build break and Jenkins failures. @brthor is taking a look at the PR to make sure it is still ready to merge once the world is green

[2016-04-29 22:14] eerhardt commented on #2777
This is because our StreamForwarder that takes output from the real process and forwards it to the process running `dotnet run` only writes when it hits a newline:

https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Cli.Utils/StreamForwarder.cs#L70

/cc @brthor @anurse

[2016-04-29 22:17] brthor commented on #2777
This is to prevent interleaving characters in streams that are forwarded and is by design.

The plan was to remove the need for streamforwarder altogether but the work hasn't happened yet.

[2016-04-29 22:28] brthor commented on #2760
I've reproed this using the following steps:

1. Create Project.json
[code]

2. dotnet restore
3. remove "type":"platform"
4. dotnet build
5. run `bin\Debug\netcoreapp1.0\win10-x64\OUTPUT.exe`

The base cause here is that `dotnet restore` was not run in between steps 3 and 4, and it puts the project in a half-portable, half-standalone state. Build outputs a host and runtimeconfig.json like it's a

[2016-04-29 22:55] joshfree opened #2780 "Console.WindowWidth fails with IOException"
moved from https://github.com/dotnet/corefx/issues/7858
/cc @twsouthwick

Try the following:

Program.cs:

[code]

project.json:

[code]

The fails with the following exception:

[code]

[2016-04-29 22:59] brthor commented on #2760
The issue ended up being simple, build is keying off the wrong things to determine if the project is portable. Now we'll see this error, which tells you to restore again.

I'm not sure if the right thing is for build to succeed here, but this error seems acceptable and matches the state of the project (project.json and project.lock.json are mismatched)

[code]

[2016-04-29 23:10] JamesNK opened #2782 "[Perf] Use read and write on JObject directly"
https://github.com/dotnet/cli/blob/eb793c5cf85b2c6f611db7b7542a6651a863d9fd/scripts/dotnet-cli-build/Utils/JsonUtils.cs

Change these helper methods to use JObject.Load and JObject.WriteTo. They're what JsonSerializer uses internally with JObject.

Edit: Also use WriteTo here - https://github.com/dotnet/cli/blob/91fb67835d11f60bbe4763f0de6d3859236cb07a/src/dotnet/commands/dotnet-build/IncrementalC

[2016-04-29 23:15] JamesNK opened #2783 "[Perf] Use JObject.Load instead of JObject.Parse"
https://github.com/dotnet/cli/blob/91fb67835d11f60bbe4763f0de6d3859236cb07a/src/dotnet/commands/dotnet-build/IncrementalCache.cs#L61

This is unnecessarily loading the string into memory. Use JObject.Load with the StreamReader.

Edit: Also here - https://github.com/dotnet/cli/blob/ac4c6702d5d345dc9c397f80290f105fedebe98b/src/Microsoft.DotNet.ProjectModel/RuntimeConfig/RuntimeConfig.cs#L40

And her

[2016-04-29 23:17] radu-matei commented on #2758
Having the same behavior in OS X, environment info:

`
.NET Command Line Tools (1.0.0-rc2-002543)

Product Information:
 Version:     1.0.0-rc2-002543
 Commit Sha:  38d0c28a1e

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.11
 OS Platform: Darwin
 RID:         osx.10.11-x64
`

[2016-04-29 23:23] JamesNK opened #2784 "[Perf] Use System.Buffers with Json.NET"
Anywhere JSON is being read or written can be updated to use System.Buffers. It will avoid allocating the buffer arrays that JsonTextReader and JsonTextWriter use internally.

http://james.newtonking.com/archive/2015/12/20/json-net-8-0-release-1-allocations-and-bug-fixes

[2016-04-29 23:29] JamesNK opened #2785 "[Perf] Consider using JsonTextReader and JsonTextWriter"
There are places where JSON is being loaded into a JObject and then the JObject is being read to return a strongly typed class.

e.g. https://github.com/eerhardt/cli/blob/77da06b392190b1a952fd299236505f989d92f25/src/Microsoft.DotNet.ProjectModel/Graph/LockFileReader.cs

Using JsonTextReader to build the strongly type class will save allocating the intermediary JObject.

In cases where JSON is bein

[2016-04-29 23:29] brthor commented on #2485
Taking ownership here, to fix test failures associated with the PR

[2016-04-29 23:29] brianrob opened #2786 "Switch to Running Performance Tests via Dotnet Test"
For RTM, we'd like build and run of performance tests to occur via the dotnet test mechanism rather than a scripting layer on top.

This issue tracks switching the dotnet CLI performance tests to use this instead of the current python script.

[2016-04-29 23:31] JamesNK commented on #2784
Example: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Json/JsonOutputFormatter.cs#L98

[2016-04-29 23:35] JamesNK commented on #2624
FYI there is a .NET CLI version of Json.NET - https://github.com/JamesNK/Newtonsoft.Json/compare/master...dotnet-cli - but I can't put in on NuGet because the RC2 packages aren't on NuGet.

[2016-04-29 23:47] smile21prc opened #2788 "dotnet.exe rc2 build (1.0.0-rc2-002531) doesn't rebuild project upon Source file changes in some cases"
## Steps to reproduce
1. Create a new dotnet.exe RC2 app, restore and patch workaround NuGet.Config to make it buildable.
2. build the app.
3. Back up Program.cs into backup\Program.cs.
4. Make another copy of Program.cs under changed\Program.cs. Edit the file with notepad, for example, add a dummy function to the class like below:

using System;

namespace ConsoleApplication
{
    public class Pr

[2016-04-30 00:09] krwq commented on #2588
# Requirements for CLI SDK and shared framework installer
- Support side by side installation and can be compatible with older versions of themselves
- Supports removing of any side by side version

## Scenarios
- Installing the product produces registry value informing about full version of the product which is being installed
- Installing the product produces registry values informing about comp

[2016-04-30 00:43] brthor commented on #2701
Repro Here:

http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/rel_1.0.0/job/release_osx_x64_prtest/1676/

[2016-04-30 00:47] bleroy commented on #2454
@schellap 's comment "The second issue is the project.json targets 1.0.0-* picks up some framework potentially a higher version from the feed than even what CLI MSIs bring in. Thus this higher framework is not found on the box. Our roll-forward doesn't downgrade so the app has the FX missing." should be addressed. The star is too tempting, and does result in real head-scratchers.

[2016-04-30 00:48] piotrpMSFT commented on #2588
in case we need other values for an installer, can we create an `installedVersions` key between the `<installername>` and the version keys?

[2016-04-30 00:49] piotrpMSFT commented on #2588
When we're working on rc2 of 1.0.3, 1.0.1 and 1.0.2 would have already shipped. I'd expect that those versions would not include a suffix at this point in time.

[2016-04-30 00:52] piotrpMSFT commented on #2588
We don't want apps targeting RTM products to start running against a preview of the next RC. Imagine 1.0.1 has shipped. We don't want production apps targeting 1.0.1 to skip installation if 1.0.2-rc2 is present. I think that the "production back-compat" keys should be written until 1.0.2 reaches rtm itself.

[2016-04-30 00:57] piotrpMSFT commented on #2588
Can you show examples of a few scenarios?
- We install 1.0.0-rc2 to a clean machine
- We install first preview 1.0.0-rc3 installer and it installs on a clean machine
- We install preview 1.0.0-rc3 to a machine with RTM 1.0.0-rc2 installed
- We install 1.0.0 RTM to a clean machine
- We install 1.0.0 RTM to a machine with RC2 installed
- We install 1.0.0 RC2 preview to a machine with 1.0.0 RTM insta

[2016-04-30 01:19] brthor commented on #2760
After some more testing, this issue goes deeper.. The other fixed bug appears to have been unrelated or a red herring.

When we restore a "type": "platform" dependency, this is reflected in the project.lock.json as "type":"package"

[code]
However, the lock files generated with and without `"type":"platform"` are different. Notably "coreclr.dll" is not listed as a native export. What this means is

[2016-04-30 01:29] anurse commented on #2760
`type` in the lock file and `type` in the project file are completely different properties, they don't correlate.

`type:platform` implies the NuGet setting `exclude:runtime,native` which would explain why `coreclr.dll` is not a native export. This is a portable project.

[2016-04-30 01:33] brthor commented on #2760
That is pretty confusing.

Knowing that doesn't help solve the problem though. How can we determine from a lock file whether "type": "platform" was specified? This seems like an important scenario for cli to be able to determine whether the current project file is compatible with the current lock file.

[2016-04-30 01:46] brthor commented on #2760
@anurse Perhaps the issue here then is not that "type":"package" should be "type":"platform" in the lock file but that the `projectFileDependencyGroups` should reflect the types of the dependencies.

[2016-04-30 02:14] eerhardt commented on #2701
Perfect - that helped me figure out what is going on.

This is the same problem as #2768.  Basically the test doesn't expect any other test to write out to the console while it is running.  But in the link above, it shows:

[code]

Which means this other test is writing to the console at the exact time the BuiltInCommandTest has swapped out the console text writer for its in memory blocking stream

[2016-04-30 02:55] emgarten commented on #2635
The NuGet change is in, the workaround can be removed.

[2016-04-30 03:08] ibrmohammed opened #2791 "dotnet run throws error in startup.cs"
## Steps to reproduce
did a dotnet restore and a dotnet run.

## Expected  behavior
The application should run successfully

## Actual behavior
the application gets compiled but nothing happens after that
log.txt has the following error

The configuration file 'appsettings.json' was not found and is not optional.   at Microsoft.Extensions.Configuration.FileConfigurationProvider.Load()
   at Micros

[2016-04-30 06:19] kerryjiang commented on #2791
It seems your code tried to load a configuration file which doesn't exist.

Add the optional parameter true when you add a configuration file:

`.AddJsonFile($"app.{env.EnvironmentName}.json", optional: true);`

[2016-04-30 08:22] prasannavl commented on #615
Should this really use the Nuget.conf? One of the cool things about `dotnet` cli is that every ends up into that one cli and since `project.json` file. Can the nuget repos not be included into the it as well? Will simply developer usage a lot, instead of proliferating config files.

[2016-04-30 08:24] prasannavl commented on #615
Also, please rename title. "Drop" seems ambiguous. On first look I though **stop including the file** .

[2016-04-30 11:27] dazinator commented on #2730
@piotrpMSFT - Looks like your test was on Windows 10 with x86? I am having the problem on Windows Server 2012 (x64). - this is the installer I downloaded from the getting started io site: https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0.001598/dotnet-win-x64.1.0.0.001598.exe

No matter how many times I run this installer, uninstall, repair etc - It always completes successfully

[2016-04-30 11:28] dazinator commented on #2730
@piotrpMSFT - I would reopen this based on the above comment, but I don't have that power!

[2016-04-30 17:54] ciel opened #2793 "latest update breaks publishOptions"
## Steps to reproduce
use `dotnet new` to create a new application.
add a file called `config.json` to the root of the application directory.
add the following to the `project.json`
[code]
on the command line, run the following;
`dotnet restore` `dotnet publish`

## Expected  behavior
An output directory should be produced that also contains `config.json`.

## Actual behavior
`config.json` is not

[2016-04-30 18:19] ajaybhargavb opened #2794 "Need to add warnings for content and compile"
Using `content` and `compile` in the root of project.json should show deprecated warnings as they have been renamed/moved.

[2016-04-30 18:28] GuardRex commented on #2793
@ajaybhargavb You might want to revise this ... https://github.com/dotnet/cli/issues/792#issuecomment-215529055 ... in case someone accidentally comes across that.

We just learned that it should be ...
[code]

[2016-04-30 18:34] #2793 closed

[2016-04-30 19:47] piotrpMSFT commented on #2730
Thanks. Do you also have x64? We found and are fixing an issue which repros if you install both.

[2016-04-30 19:49] piotrpMSFT commented on #615
Once the packages are on nuget.org the config won't be needed.

[2016-04-30 21:37] onovotny opened #2796 "dotnet build (1.0.0-rc2-002543) - An item with the same key has already been added. Key: System.IO.Compression"
## Steps to reproduce
Clone https://github.com/Humanizr/Humanizer.git and checkout the dev branch. Checkout this commit: https://github.com/Humanizr/Humanizer/commit/c42e2cd03356824e7a68f93753c22c01143393ac
go to src\Humanizer and run restore on Humanizer and Humanizer.Tests.Dotnet
in src\Humanizer.Tests.DotNet, run `dotnet build`

## Expected  behavior
Build should succeed.

## Actual behavior
Bu

[2016-04-30 22:13] xied75 commented on #2042
:+1: Rather annoying.

[2016-04-30 22:45] xied75 commented on #2590
Just saw this on Ubuntu 14.04 running inside docker:

![image](https://cloud.githubusercontent.com/assets/1682456/14938907/a19e78f2-0f2b-11e6-8c59-ced62f60e0e0.png)

(sorry about the huge size, apparently it's the OneNote screen clipping not handling HiDPI correctly)

It's not really unicode, it's just an plain old ascii 0x1b, as proved like this:

[code]

[2016-04-30 22:59] xied75 commented on #371
Running inside docker:

[code]

[2016-05-01 14:37] xperiandri commented on #967
Tried this with https://github.com/aspnet/cli-samples
For projects targeting full .NET it works. For Core it does not.
Is it possible to enable debug on IIS Express?

[2016-05-01 14:59] jaylittle commented on #2598
++

I'm pretty eager to get this resolved on Ubuntu 16.04.  In addition I wonder whether limiting Linux distribution support in such a specific way is that great of an idea.  There are a lot of Linux distributions out there... just saying.

[2016-05-01 16:09] andela-tsolarin commented on #2005
@anorborg after some digging I was able to find that the PKG install files to `/usr/local/share/dotnet/bin`. Knowing this adding to PATH was no problem at all, I use zsh so a simple `export PATH=/usr/local/share/dotnet/bin:$PATH` did the trick. Hope this helps.

[2016-05-01 18:17] dmpx opened #2799 "the given key was not present in the dictionary"
## Steps to reproduce
dotnet run

## Expected  behavior

## Actual behavior
the given key was not present in the dictionary

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-rc2-002543)

Product Information:
Version: 1.0.0-rc2-002543
Commit Sha: 38d0c28a1e

Runtime Environment:
OS Name: Windows
OS Version: 10.0.10586
OS Platform: Windows
RID: win10-x64

[2016-05-01 18:42] davidfowl commented on #2799
@dmpx you need to provide better steps than this. Where's the repro project?

[2016-05-01 18:47] dmpx commented on #2799
first: dotnet new
second: dotnet restore
third: dotnet run

project.json file content
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0-rc2-3002543"
    }
  },
  "frameworks": {
    "netcoreapp1.0": {
      "imports": "dnxcore50"
    }
  }
}

error message:
the giv

[2016-05-01 20:27] jasonwilliams200OK opened #2800 "dotnet restore should print the path to packages directories"
All kinds of info/log about `GET https://nuget..` etc. is printed on screen except for the packages directory. Please print it, there is no value in hiding the dark secrets of nuget.

[2016-05-01 20:51] xperiandri opened #2801 "System.IO.DirectoryNotFoundException: Could not find a part of the path '%UserProfile%\.nuget\packages\.tools\dotnet-compile-fsc'."
## Steps to reproduce
dotnet new -l F#
modified project.json according to dotnet warning about compilationOptions
[code]
dotnet restore
dotnet run

## Expected  behavior
app executes

## Actual behavior
F# compiler is not downloaded
[code]

## Environment data
.NET Command Line Tools (1.0.0-rc2-002543)

Product Information:
 Version:     1.0.0-rc2-002543
 Commit Sha:  38d0c28a1e

Runtime Environme

[2016-05-01 21:54] jamesgibbs100 opened #2802 "Cannot Find File .deps.json"
## Steps to reproduce

Using a non-trivial STANDALONE aspnet application with many project dependencies
publish to win7-x64 runtime and ensure output directory is not the default.
run the resultant exe that is produced
## Expected  behavior

Kestrel should start and run normally
## Actual behavior

An exception is produced saying that .deps.json is not found. (It doesn't exist in the directory)
Co

[2016-05-01 22:01] hach-que commented on #2629
What section would you suggest is appropriate?  The packages are dependencies of the software, and I think it would feel odd or confusing to list it under another similar named section like "dependsOn" or "platformDependencies" or "platformPackages" etc.

[2016-05-01 22:08] yishaigalatzer commented on #2629
I'm saying it doesn't belong in the lock file or nuget.

[2016-05-01 22:13] hach-que commented on #2629
No, I don't think it does belong in NuGet - it's not NuGet, and it has a different set of features available to developers than NuGet does.

I'm not necessarily talking about the lock file here, my interest is in `project.json` and allowing people to reference Protobuild packages in the dependencies section of this file.

[2016-05-01 22:17] yishaigalatzer commented on #2629
I figured that 5 seconds after I replied, :). I would suggest to hold on to that thought for a little while longer while we lock down the rc2 release and revisit when in a few weeks.

[2016-05-01 22:17] hach-que commented on #2629
Fair enough :)

[2016-05-02 02:33] jeff-wu opened #2803 "dotnet build --native"
## Steps to reproduce

when i run the command `dotnet build --native`, i got the message

[code]

was the `--native` option removed?

`dotnet --info` output:

[code]

[2016-05-02 03:09] 717009629 commented on #2803
1.0版本应该不会支持了，后续版本应该会加入。

[2016-05-02 03:26] songdongsheng commented on #2598
Yes, I'm also wondered why not just running with general distribution name (Linux-x64, linux-arm64, Windows-x64, etc) like Java?

[2016-05-02 04:04] dasMulli commented on #2803
If you clone and build CoreRT, it will put a version of the CLI into `Tools/dotnetcli` that supports `build --native`.

[2016-05-02 05:12] blackdwarf commented on #2758
@leecow good one. Previously, `dotnet new` dropped a NuGet.config that had the configurations, but we removed it getting ready for RC2. This guidance won't be needed for any official release, since the packages for that release will be on NuGet.org.

[2016-05-02 05:16] blackdwarf commented on #1351
@enricosada we need a stable link since the docs may move in the future as we approach RTM. So, aka.ms is our service for this. We can use any other that can give us a readable stable link that can point to other places. :)

[2016-05-02 05:51] GuardRex commented on #2799
@dmpx You probably don't have a default NuGet config in your user profile (e.g., `C:\Users\<USER>\AppData\Roaming\NuGet\NuGet.Config`). Add a `NuGet.config` file to the project ...
[code]
Also ... change `compilationOptions` to `buildOptions` ... that was just updated but it hasn't hit `dotnet new` outputs yet.

[2016-05-02 07:04] tmds commented on #2598
@songdongsheng https://github.com/dotnet/cli/issues/2727

[2016-05-02 07:09] gitchomik commented on #2803
https://github.com/dotnet/cli/issues/2622#issuecomment-213442129
https://github.com/dotnet/cli/commit/3472aee5c9378bc885714e9b9580d0ba46119a62

[2016-05-02 08:32] ryzewu commented on #2803
i has konwn it, thanks.

[2016-05-02 08:56] Inumedia opened #2806 "Dotnet restore uses global temporary directory"
## Steps to reproduce

- Setup Ubuntu 14.04 instance to test on
- Install latest dotnet runtime
- Create new project as root
- Execute `dotnet restore`
- Login as another user
- Create new project as other user
- Attempt to execute `dotnet restore`
- You will see a permission error, attempting to access /tmp/NuGetScratch/lock

## Expected  behavior
`dotnet restore` should work as expected and my p

[2016-05-02 08:58] Inumedia commented on #2806
As a note, attempting to run `dotnet restore` with the packages argument still tries to lock the global tmp folder:

`dotnet restore --packages ~/.NuGet` :
log  : Restoring packages for /home/.../builds/aec560d5/0/.../.../project.json...
error: Access to the path '/tmp/NuGetScratch/lock' is denied.

[2016-05-02 11:19] sirentek opened #2807 "Null reference exception during compilation."
## Steps to reproduce
Change directory to parent (or any directory) from terminal, execute "dotnet run".

## Expected  behavior
project.json not found or similar warning.

## Actual behavior
object reference not set to an instance of an object message appears and it doesn't compile.

## Environment data
`dotnet --info` output:

.NET Command Line Tools (1.0.0-rc2-002543)

Product Information:
 Vers

[2016-05-02 14:55] jamesgibbs100 commented on #2802
Just downloaded the latest bit and the same it true here....

.NET Command Line Tools (1.0.0-rc2-002586)

Product Information:
 Version:     1.0.0-rc2-002586
 Commit Sha:  ac5432bff2

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64

[2016-05-02 15:15] GuardRex opened #2810 "Win x64 SDK Installer downloaded version doesn't match repo label version"
## Steps to reproduce
Download the `.NET Core SDK Installer` (MSI) for Windows x64

## Expected  behavior
Get version -2586
![capture](https://cloud.githubusercontent.com/assets/1622880/14958039/3f13670a-104e-11e6-9cd2-f31e6347d5b9.PNG)

## Actual behavior
Receive version -2543
![capture2](https://cloud.githubusercontent.com/assets/1622880/14958108/8f813f46-104e-11e6-8887-0731476eb195.PNG)

## Env

[2016-05-02 15:28] MichaelSimons commented on #2583
@tonysneed, Did you have a project.json.lock file in the app directory before running `docker build`?  What behavior do you see if you clone your repo into a clean directory?  Also can you explain the purpose of `VOLUME nuget:/root/.nuget`?  I am not sure I understand

[2016-05-02 15:37] DonSchenck opened #2811 "Running `dotnet restore` hangs"
## Steps to reproduce
`dotnet new`
`dotnet restore`

## Expected  behavior
Packages are downloaded

## Actual behavior
Hangs at first output line `Restoring packages for ....`

## Environment data
`dotnet --info` output:
`.NET Command Line Tools (1.0.0-rc2-002586)

Product Information:
 Version:     1.0.0-rc2-002586
 Commit Sha:  ac5432bff2

Runtime Environment:
 OS Name:     rhel
 OS Version:  7.

[2016-05-02 15:39] DonSchenck commented on #2811
Also;

[dschenck@localhost helloworld_cli]$ cat project.json
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0-rc2-3002586"
    }
  },
  "frameworks": {
    "netcoreapp1.0": {
      "imports": "dnxcore50"
    }
  }
}

[2016-05-02 16:17] rustd commented on #2624
//cc @davidfowl

[2016-05-02 16:20] DonSchenck commented on #2811
After waiting a long time, this:

error: Unable to load the service index for source https://api.nuget.org/v3/index.json.
error:   The HTTP request to 'GET https://api.nuget.org/v3/index.json' has timed out after 100000ms.

[2016-05-02 16:56] ericstj commented on #2739
@jterry75 build a portable library targeting (NETStandard) [https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#mapping-the-net-platform-standard-to-platforms].  If you want to go to .NET 4.5 you need to target NETStandard1.1 or lower.  If that doesn't provide enough API you can cross-compile for .NET 4.5 and target a higher version of NETStandard for t

[2016-05-02 17:03] blackdwarf commented on #2622
@piotrpMSFT I believed I already did that...I cannot seem to find any reference to `dotnet compile` anymore. But will take another pass.

[2016-05-02 17:21] piotrpMSFT commented on #2660
Confirmed with @cdmihai that this was fixed by #2744

[2016-05-02 17:21] #2660 closed

[2016-05-02 17:23] twsouthwick opened #2815 "Default compiler defines"
In previous versions of DNX (and K before) some compiler defines were added automatically (`DNXCORE`, `NET451`, `DNX451`, etc) depending on the framework being compiled for. Is this happening in DotNet CLI and if so, is there a list available?

[2016-05-02 18:05] brthor commented on #2802
@jamesgibbs100

Could you quickly provide a project.json and the command line you are using to publish (there are multiple options to redirect the output directory)

[2016-05-02 18:14] #2772 closed

[2016-05-02 18:16] #2635 closed

[2016-05-02 18:22] brthor commented on #2485
cc @livarcocc

Taking a second look at these docs,
https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/runtime-configuration-file.md#what-produces-the-files-and-where-are-they

The runtimeconfig.json is specified as being a file output by build, and not something which exists in your source directory.

It's explicitly stated that the content of this file is copied from project.json:
h

[2016-05-02 18:25] piotrpMSFT commented on #2485
@blackdwarf we may want to call this out in the docs. {app}.runtimeconfig.json is not a source artifact. It is a projection of project.json. Like the lock file and the deps file, these are artifacts that can be useful for debugging some classes of problems but are not intended to be produced manually.

[2016-05-02 18:25] #2485 closed

[2016-05-02 18:39] Sridhar-MS commented on #2743
Fixed by #2770

[2016-05-02 18:39] #2743 closed

[2016-05-02 18:46] brthor commented on #2775
This is the same issue as #2777 that the Streamforwarder buffers output of the child process by line, going to close this as a duplicate.

[2016-05-02 18:46] #2775 closed

[2016-05-02 18:48] brthor commented on #2777
Bringing over some context from #2775, this also causes console.readline not to display output until a newline is entered.

[2016-05-02 18:50] brthor commented on #2765
@sokket Is this a failure in our build or in our product? If we have an NRE in a common code path on the product, we might consider this for RC2, otherwise I think we should do this for RTM.

[2016-05-02 18:53] brthor commented on #2776
It seems like we should be a little more robust in how we manage child processes in `dotnet run` here, it sounds like we are waiting for the entire process tree instead of the immediate child.

I don't think this is a blocker for RC2 though, comment if you feel otherwise.

[2016-05-02 18:54] brthor commented on #2777
@ellismg do you see this as an RC2 blocker? The Console.Write issue has an easy workaround, but the Console.Readline UX issue makes me think we should consider taking this for RC2.

[2016-05-02 19:01] brthor commented on #2780
Going to put this for RTM for now, this could be worked around by executing the assembly directly using `dotnet` rather than `dotnet run` for the moment.

If you feel it should be RC2 please comment.

[2016-05-02 19:02] brthor commented on #2782
Putting this to RTM, as it is not a current blocker.

[2016-05-02 19:02] brthor commented on #2783
Putting this to RTM, as it is not a current blocker.

[2016-05-02 19:02] brthor commented on #2784
Putting this to RTM, as it is not a current blocker.

[2016-05-02 19:03] piotrpMSFT commented on #2754
Per conversation with @pranavkm this is tracking remaining work for RTM which will enable using RuntimeInformation in desktop projects. This is dependent on dotnet/corefx#7863 and so will be fixed in RTM once that is fixed.

[2016-05-02 19:04] brthor commented on #2785
Putting this to RTM, as it is not a current blocker.

[2016-05-02 19:06] brthor commented on #2788
Updated title, this seems like a fairly serious issue if we are not rebuilding upon source changes.

[2016-05-02 19:11] brthor commented on #2791
This file `appsettings.json` is not a cli artifact.

You may have a bug in your program, or perhaps it is in the aspnet stack, I haven't seen this file before.

Closing this out as this is not a cli issue.

[2016-05-02 19:11] #2791 closed

[2016-05-02 19:12] brthor commented on #2794
@ajaybhargavb Marked as RC2 since the PR is out. Is this intended for RC2?

[2016-05-02 19:13] ajaybhargavb commented on #2794
Yes it is.

[2016-05-02 19:14] pranavkm opened #2817 "dotnet-test runs tests per lock file target instead of per framework"
## Steps to reproduce

Noticed this as part of fixing updating coreclr.xunit.
1. Restore a test project targeting `netcoreapp1.0` and `net451` with `--infer-runtimes`
2. Run `dotnet test`
## Expected  behavior

Test runs once per TFM
## Actual behavior

Test runs 3 times (twice for `netcoreapp1.0` and once for `net451`.

When I debugged this, `BuildWorkdSpace.GetProjectContextCollection(projectPat

[2016-05-02 19:14] pranavkm commented on #2817
cc @anurse \ @pakrym

[2016-05-02 19:16] brthor commented on #2796
@onovotny

Any reason you need this in the project.json of `Humanizer.Tests.DotNet`?

[code]

`netstandardapp` has been replaced by `netcoreapp` I'd recommend removing this and seeing if this error still repros.

[2016-05-02 19:17] brthor commented on #2801
Hi @xperiandri can you show the end output of restore where it shows which config files/feeds were used.

We have tests covering this scenario so I suspect some machine state is involved here.

[2016-05-02 19:18] brthor commented on #2803
`native` support has been removed from build for the current release.

[2016-05-02 19:19] brthor commented on #2806
Please move this over to https://github.com/nuget/home as we do not control this behavior in the cli.

dotnet restore simply uses nuget.

[2016-05-02 19:19] #2806 closed

[2016-05-02 19:25] tonysneed commented on #2583
There's no project.json.lock file present before running `docker build`, because the [Dockerfile](https://github.com/tonysneed/Demo.DotNetCoreDocker/blob/master/Dockerfile) includes `RUN ["dotnet", "restore"]`, which generates the project.json.lock file.

After cloning the repo to a clean directory, I run these commands:

[code]

This will build the image, then run a container with a volume pointi

[2016-05-02 19:33] xperiandri commented on #2801
[code]

[2016-05-02 19:34] cdmihai commented on #2788
Going to look into it.

At face value, this might be caused due to how file timestamps are handled by file systems around copying files (not update timestamps):
1) is rebuilt because you changed the file in changed/Program.cs and thus updated the timestamp
2) is not rebuilt because you are copying the file from backup/Program.cs and thus do not get an updated timestamp
3) is not rebuilt because th

[2016-05-02 19:41] cdmihai commented on #2788
I verified it on Windows and NTFS via the file browser (copy paste, yes to override) and powershell (copy-item). In both cases the file's last modified timestamp is preserved, so file copies in windows on NTFS will cause false negatives with dotnet build's timestamp incremental mechanism

[2016-05-02 19:44] am11 commented on #2815
Based on https://github.com/dotnet/cli/search?l=csharp&q=NETSTANDARD1+OR+NETCOREAPP&utf8=%E2%9C%93:

For library project: `NETSTANDARD1_3`, `NETSTANDARD1_4,`, `NETSTANDARD1_5` etc.
For console project: `NETCOREAPP1_0`, `NETSTANDARD1_3`, `NETSTANDARD1_4` etc.

[2016-05-02 19:46] onovotny commented on #2796
I was copying the coreclr.xunit project.json:
https://github.com/dotnet/coreclr.xunit/blob/master/test/test.xunit.runner.dnx/project.json#L16-L28

[2016-05-02 19:51] ellismg commented on #2777
The customer experience is pretty bad, and it seems like most folks will hit this, so I'd consider it.

[2016-05-02 19:52] brthor commented on #2799
Thanks for the report @dmpx

This is an effect of #656 and will go away after the RC2 release.

Making the error message better is tracked here: https://github.com/dotnet/cli/issues/2504

Going to close this out for now.

[2016-05-02 19:52] #2799 closed

[2016-05-02 19:54] onovotny commented on #2796
I just tried removing the `netstandardapp1.5` framework, deleted and restored all lock files but I get the same error on build.

[2016-05-02 19:54] brthor commented on #2796
Can you share the new project.json? suspecting this may be an import issue causing some library to get brought in twice.

Sharing the lock file would be helpful as well.

[2016-05-02 19:55] brthor commented on #2800
Please move this to https://github.com/nuget/home

We cannot control this in the CLI 😄

[2016-05-02 19:55] #2800 closed

[2016-05-02 19:56] onovotny commented on #2796
I just pushed an update to the dev branch/repo that has the updated project.json. Here's the lock file:
https://gist.github.com/onovotny/c1efced398fdb96fd066d2e10c2cf36d

[2016-05-02 19:58] brthor commented on #2796
Indeed I see this weird duplicate entry in the lock file:

[code]

cc @anurse @ericstj
Any ideas here?

[2016-05-02 20:02] pranavkm opened #2819 "Adding buildOptions\embed causes resources to be skipped from being embedded"
## Steps to reproduce
1. Clone https://github.com/aspnet/Microsoft.Data.Sqlite/ and checkout e00935cd02226b112b49a5221106e0650c53bf4a
2. Build src/Microsft.Data.Sqlite. Notice that the generated binary has the resource file.
3. Modify the project.json to change `resource` node to `buildOptions/embed/include`. Build it again

## Expected  behavior
The generated binary should include the resx file.

[2016-05-02 20:02] pranavkm commented on #2819
cc @ajaybhargavb

[2016-05-02 20:03] twsouthwick commented on #2815
Awesome! Are there plans to add this to the documentation?

[2016-05-02 20:03] eerhardt commented on #2777
Maybe when we are running `dotnet run`, we don't batch up the lines in StreamForwarder.  This makes sense because `dotnet run` can only run a single app at a time, thus the output will only be interleaved if the actual app interleaves the output.

But when used elsewhere, we batch up the lines and only write out on `\n`.

Thoughts?

[2016-05-02 20:03] brthor commented on #2796
I strongly suspect this may be your issue:
`"imports": [ "dnxcore50", "portable-net45+win8" ],`

A little more investigation, the entry above is not part of the netcoreapp target, so shouldn't be *the* problem.

[code]

The imports for netcoreapp1.0 seem to be bringing in some non-existent runtime dll.

Although I don't know why it would cause this issue. You shouldn't need these imports anyways,

[2016-05-02 20:05] brthor commented on #2777
I think for dotnet run we can remove the stream forwarder altogether, why do we need to capture the output?

[2016-05-02 20:05] eerhardt commented on #2777
In order to write it to the screen so the user can read it.

[2016-05-02 20:05] onovotny commented on #2796
Don't we need the imports for xunit? xunit does not have a `netstandard` tfm in the packages yet.

[2016-05-02 20:07] brthor commented on #2807
This is a fit n' finish type scenario as if there is no project.json in your directory, I think it's fairly unsurprising that things don't work.

bumping this out to rtm.

[2016-05-02 20:08] brthor commented on #2796
xunit targets netcoreapp1.0 so I don't see why you'd need the imports for that.

I'm not too sure how transitive imports are handled in restore though.

[2016-05-02 20:09] brthor commented on #2810
cc @sokket @Sridhar-MS

This seems like a potential finalizer issue of some sort.

[2016-05-02 20:10] brthor commented on #2811
Recommend to check DNS and connectivity from your VM.

Anyways, this is a nuget issue, please move to https://github.com/nuget/home

Thanks!

[2016-05-02 20:10] #2811 closed

[2016-05-02 20:12] brthor commented on #2815
Yes this is happening in the CLI, there is some algorithm to convert framework names to a define.

All caps, `.` replaced with `_` IIRC.

cc @blackdwarf Think we should update this in the docs?

[2016-05-02 20:13] onovotny commented on #2796
xunit does not target netcoreapp -- only the xunit runner does. the main xunit libraries require the `portable-` imports for now.

If I just leave  `"imports": [ "portable-net45+win8" ]`  or all remove all imports, I get a restore error "One or more packages are incompatible with .NETCoreApp,Version=v1.0." (because xunit itself does not have netstandard tfm support in its packages). Also, xunit.ru

[2016-05-02 20:13] Sridhar-MS commented on #2810
This has been fixed with https://github.com/dotnet/cli/pull/2816

[2016-05-02 20:14] brthor commented on #2817
@pranavkm This doesn't seem like it's breaking anything so bumping out to RTM, please comment if you feel it should be in RC2.

[2016-05-02 20:16] brthor commented on #2810
Can we close this out?

[2016-05-02 20:17] brthor commented on #2796
Good point, I got confused between the runner and xunit.

In our test projects we use these imports:
[code]

Please try this out.

[2016-05-02 20:17] Sridhar-MS commented on #2810
Lets wait till we get a new build.

[2016-05-02 20:18] pranavkm commented on #2817
RTM should be fine.

[2016-05-02 20:18] onovotny commented on #2796
Just tried, restore was fine but same build error about the duplicate key.

[2016-05-02 20:19] brthor commented on #2810
Wasn't sure who to assign, thanks for reassigning 😄

[2016-05-02 20:21] brthor commented on #2796
Okay, it's looking like we'll need to debug.

cc @piotrpMSFT
This seems pretty weird, I think we should consider this for RC2.

[2016-05-02 20:23] brthor commented on #2777
I should've been more clear.

Using the corefx apis let's us redirect or capture the stdout/stderr streams. The stream forwarder exists so we can do both as I understand it, but we capture with the corefx apis.

We don't need to capture child process output in `dotnet run` so why don't we forward with corefx apis and remove stream forwarder interaction altogether in `dotnet run`

[2016-05-02 20:26] ajaybhargavb commented on #2794
a4487db94934136d4c787efd5674048ac0cd24b5

[2016-05-02 20:26] #2794 closed

[2016-05-02 20:32] Sridhar-MS commented on #2678
Fixed by #2764

[2016-05-02 20:32] #2678 closed

[2016-05-02 20:39] piotrpMSFT commented on #2777
Is this issue somehow specific to RHEL 7 [per title] or it exists everywhere?

[2016-05-02 20:44] anurse commented on #2817
I actually think I ran into something similar and might be fixing it as part of #2818. So we should come back and check on this when we have a build with that change in it.

[2016-05-02 20:53] sokket commented on #2765
This looks to be a common path problem, I've hit this on multiple machines now

[2016-05-02 21:01] schellap opened #2821 "dotnet publish should use host binaries from the project dependency graph"
## Steps to reproduce
`md standalone`
`cd standalone`
`dotnet new`

Edit project.json to target a version of `Microsoft.NETCore.App` that is lower than on the box.
Edit project.json to make the project a standalone app.

`dotnet restore`
`dotnet publish`
`cd /d bin\Debug\netcoreapp1.0\win7-x64`
`set COREHOST_TRACE=1`
`standalone.exe 2> log`

## Expected  behavior

The log file contains the version

[2016-05-02 21:02] sokket commented on #2810
Looks like the version information inside the .version file is correct but the overlay on the svg image is incorrect....looking now

[2016-05-02 21:04] sirentek commented on #2807
Ok, I am closing this for now then.

[2016-05-02 21:07] anurse commented on #2777
I'm pretty sure we don't ever need to capture **and** forward anymore... Forwarding is automatically handled by the CoreFX APIs, there's no need to capture and write it yourself. We only needed things like this when we captured AND forwarded, which I don't think we do anymore.

[2016-05-02 21:13] brthor commented on #2777
@piotrpMSFT This exists everywhere.

@anurse We still need it for build no?

[2016-05-02 21:14] brthor commented on #2765
Do you think we should consider taking this for RC2?

[2016-05-02 21:24] anurse commented on #2777
@brthor Nothing I know of in build needs to both capture and forward. When we launch csc we capture, but don't forward. Everything else is forwarded.

[2016-05-02 21:26] mikeharder opened #2823 "global.json in same directory as app doesn't override package with sources"
## Steps to reproduce
1. Create an application with all files in a single directory (`NuGet.config`, `Program.cs`, `project.json`)
2. `dotnet restore` and `dotnet run` work fine.
3. Add a `global.json` pointing to sources which should override a package.  For example:

[code]
## Expected  behavior

`dotnet restore` followed by `dotnet run` should build the reference from sources.
## Actual behavio

[2016-05-02 21:31] Sridhar-MS commented on #2730
@dazinator Can you give the installer log files in the %tmp% directory?

[2016-05-02 21:33] pranavkm commented on #2819
Possibly related: Adding items to `buildOptions\embed\include` does not exclude them. I have to explicitly add items to `buildOptions/compile/exclude`.

[2016-05-02 21:59] ajaybhargavb commented on #2819
I investigated this and it is not related to this issue. Could you please file a new issue?

[2016-05-02 22:06] joshfree opened #2824 "ASP.NET core (Kestrel) apps blocked from running on .NET 4.6 (S.N.V contains _._ in a non-empty ref folder)"
Moving issue from https://github.com/dotnet/corefx/issues/8189 per offline discussion

System.Numerics.Vectors 4.1.1-rc2-24018 contains ``_._`` in a folder that also contains dlls.

From ``ref/net46``:
![image](https://cloud.githubusercontent.com/assets/6381138/14932324/32c4319a-0e29-11e6-886d-604d93446be2.png)

Normally ``_._`` is added only to allow an empty folder in nupkgs (OPC does not allow

[2016-05-02 22:07] sokket commented on #2810
Looks like a GitHub caching problem...all the data is correct and we have the right no-cache flags set to prevent caching. Closing as external

[2016-05-02 22:07] #2810 closed

[2016-05-02 22:15] brthor commented on #2810
@sokket Why would the higher version be cached over the lower version? Isn't this the desired behavior?

the weird thing to me is that we are getting a lower msi version than the badge.

[2016-05-02 22:20] dazinator commented on #2730
@Sridhar-MS I can, I will probably have a lot of files in the temp directory though - how do I find the log files for the installer?

[2016-05-02 22:23] LakshanF opened #2825 "Improve Telemetry performance"
## Steps to reproduce
Run dotnet for any scenarios

## Expected  behavior
No discernable perf impact on the main thread

## Actual behavior
adds 450 to 800 ms in the main thread

## Environment data
`dotnet --info` output:

[2016-05-02 22:25] Sridhar-MS commented on #2730
Can you also try the latest x64 installer - https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-win-x64.latest.exe?

[2016-05-02 22:26] Sridhar-MS commented on #2730
Something like `Microsoft_Dotnet_CLI_for_Windows_(1.0.0.001598_)*.log` in the temp folder.

[2016-05-02 22:28] dazinator commented on #2730
@Sridhar-MS ok, ill send the logs and try new installer at some point tomorrow, thanks.

[2016-05-02 22:36] Sridhar-MS commented on #2810
I verified that the latest installer link was indeed pointing to the right version.

[2016-05-02 22:43] GuardRex commented on #2810
The (even weirder) thing that happened to me was that I came back about an hour ago and the badge was still showing -2586, then I received a -2600 MSI. I just re-checked, and now the badge and MSI do match. Some kind'a funky GH image caching I presume.

I just hope we don't go back to the days of having to always download because whatever is shown isn't the correct version ... or frequently an inc

[2016-05-02 22:43] ericstj commented on #2824
CLI is inconsistent with MSBuild here.  This package works fine in desktop project using MSBuild.

Issue is caused by https://github.com/dotnet/cli/pull/2597, specifically https://github.com/dotnet/cli/blob/4af795b9e8bcd5974d6087b9b4e631eb3e42886d/src/Microsoft.DotNet.ProjectModel/PackageDescription.cs#L39.

Seems like that should be using "All" as opposed to "Any".

In general, we should avoid an

[2016-05-02 22:49] mlorbetske opened #2826 "Project model server returns multiple restore errors for single items, sometimes on the wrong items"
## Steps to reproduce
In Visual Studio, create a new web app and use this as the contents of project.json

[code]

## Expected  behavior
Each restore error corresponds directly to entry in the dependencies section of project.json and only one error is returned per package.

## Actual behavior
Without the JSON editor open (to avoid confusion)
![image](https://cloud.githubusercontent.com/assets/1414

[2016-05-02 22:50] Sridhar-MS commented on #2810
GH does cache image a bit aggressively. We do [set](https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/dotnet-cli-build/Publishing/AzurePublisher.cs#L83) the `no-cache` property in the image header.

But @piotrpMSFT suggested some time back that

[2016-05-02 22:56] GuardRex commented on #2810
I know that you know: All of which ^^^ GH may ignore. Perhaps better to store the images in Azure where you can be sure they will not be cached.

[2016-05-02 22:58] sokket commented on #2765
I hit this all the time but it seems like nobody else does...so I'm not really sure. It isn't telemetry based since I looked at a really old version and it still hit then

[2016-05-02 22:58] Sridhar-MS opened #2827 "[MSI]: Host msi package enters into obsolete state making it uninstallable"
## Steps to reproduce
- Install v1
- Install v2
- Uninstall v2
- Uninstall v1

For more context the following comment thread is useful
https://github.com/dotnet/cli/pull/2789#issuecomment-216357037
https://github.com/dotnet/cli/pull/2789#issuecomment-216359950
## Expected  behavior

The host MSI is completely removed/uninstalled.
## Actual behavior

The host MSI is not removed.
## Environment data

[2016-05-02 23:05] GuardRex commented on #2810
Not happening ...

I just tried again ... the label is ... -2600

![capture1](https://cloud.githubusercontent.com/assets/1622880/14970641/68a4e034-1090-11e6-8e28-43cd64685bcd.PNG)

.... the MSI that came down ... -2604

![capture2](https://cloud.githubusercontent.com/assets/1622880/14970647/71b9db0c-1090-11e6-9846-d8ea97be59bd.PNG)

[2016-05-02 23:18] piotrpMSFT commented on #2826
@troydai if you feel this must make it for RC2 please adjust the milestone.

[2016-05-02 23:21] piotrpMSFT commented on #2819
@ajaybhargavb I assume you want to get this into RC2. Please move it out to RTM if that's not the case.

[2016-05-02 23:23] piotrpMSFT commented on #2796
@ericstj can you take a look at this?

[2016-05-02 23:28] piotrpMSFT commented on #2768
Moving to RC2. This is causing frequent build failures AND we have a fix ready.

[2016-05-02 23:37] sokket commented on #2810
Yeah, it looks like it is all 2604 for me on the site, so you're hitting it during the GitHub cache invalidation it seems :(

[2016-05-02 23:37] ericstj commented on #2796
Not sure what would cause this.  Nothing changed in the packages here.  I have a repro, looking at this callstack:
[code]

Where can I get CLI symbols?

[2016-05-02 23:40] GuardRex commented on #2810
Apparently it isn't very long ... it isn't more than an hour or two. Therefore, it's inconsequential to working with the latest bits. I'm good.

[2016-05-02 23:41] sokket commented on #2810
Cool, thanks for helping us validate everything! :)

[2016-05-02 23:45] anurse commented on #2796
@pakrym - this looks related to some of the `ProjectGraphCollector` stuff. Can you take a look?

[2016-05-02 23:50] ericstj commented on #2796
Looks like this code assumes that Library.Identity.Name is unique: https://github.com/dotnet/cli/blame/b98bc1289d2dbb14478789aa9291a4177845fafb/src/dotnet/commands/dotnet-build/ProjectGraphCollector.cs#L31
But that is not the case for a desktop project that has package references for 1:1 assemblies like Microsoft.CSharp, Microsoft.VisualBasic, System.IO.Compression, and System.Net.Http.  It seems

[2016-05-02 23:51] anurse commented on #2796
Ah yeah, I think @davidfowl had some plans to change that but I don't think they landed. The simple change is to filter out Reference Assemblies in this call since we don't need to traverse them for collecting projects.

[2016-05-02 23:53] pakrym commented on #2796
We got `Package` and `ReferenceAssembly` with the same name. /cc @davidfowl

[2016-05-02 23:53] #2710 closed

[2016-05-02 23:59] mellinoe commented on #2807
I think we want to keep this issue open, at least for tracking since we eventually need to fix it.

I just hit this as well. To clarify, the scenario is "run `dotnet run` from any directory that doesn't have a project.json in it"

[2016-05-03 00:01] brthor commented on #2807
Thanks for reopening @mellinoe

@sirentek I didn't mean to imply that it wasn't important, just that this won't be able to make it into RC2 given the time and resources available 😄

[2016-05-03 00:02] pranavkm commented on #2819
It would be nice to fix this in RC2. Adding a compile `exclude` causes `dotnet build` to succeed, but no binary is produced without this fix. It's not entirely intuitive what is required to fix it.

[2016-05-03 00:36] prafullbhosale opened #2829 "dotnet pack doesn't preserve directory structure for included files."
## Steps to reproduce
Run `dotnet pack` on the below project which has
[code]
https://github.com/prafullbhosale/PackRepro

## Expected  behavior
The generated nupkg has the directory structure

[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

[2016-05-03 00:39] pakrym commented on #2796
This happens because `NuGet.Common` references `System.IO.Compression` as `ReferenceAssembly` and it's brought as `Package` reference in `project.json` itself.

[2016-05-03 00:52] piotrpMSFT commented on #2829
@prafullbhosale what is this blocking? Do you think this should hold back RC2? Why is the bug coming so late?

[2016-05-03 00:58] pranavkm commented on #2829
We switched from using `packInclude` to `packOptions` today. This was discovered as part of the issue. With the incoming change to add additional warnings (https://github.com/dotnet/cli/commit/241175dcc398170d328358235ecc47c3fc7ff59a), there would be no way to avoid the warnings unless the issue is addressed.

[2016-05-03 01:00] pranavkm commented on #2829
We're working around the issue by switching back to `packInclude` in places that use globbing patterns.

[2016-05-03 01:38] piotrpMSFT commented on #2829
Ok, so we can move this to rtm?

[2016-05-03 01:40] piotrpMSFT commented on #2796
@pakrym are you driving the fix here?

[2016-05-03 01:52] onovotny commented on #2796
Thanks all for looking into this. It occurred to me that this particular error was made much easier by the inclusion of the key name for this exception - something not originally in the .NET FX. A shout out to @terrajobst for helping drive in that update!

[2016-05-03 02:26] davidfowl commented on #2796
@pakrym ugh, we still have these bugs. What a cluster 😄 . We just need to pick the reference assembly...

[2016-05-03 02:51] #2773 closed

[2016-05-03 03:08] ajaybhargavb commented on #2829
Another workaround for this without switching back to `packInclude` is to add a mapping for each folder. So for the above example,
[code]

[2016-05-03 03:42] Varorbc opened #2830 "windows x64 .net core installer cli version doesn't match install version"
## Steps to reproduce
install dotnet-win-x64.latest.exe(1.0.0-rc2-002609)
dotnet --info

## Expected  behavior
cli version is 1.0.0-rc2-002609

## Actual behavior
cli version is 1.0.0-rc2-002372

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.0-rc2-002372)

Product Information:
 Version:     1.0.0-rc2-002372
 Commit Sha:  bde7d72b8f

Runtime Environment:
 OS Name:     Win

[2016-05-03 04:36] gkhanna79 opened #2831 "Add support to consume JIT Nuget package"
We intend to load the JIT dynamically, as opposed to static linking, for the defaults. Thus, the following needs to happen:

1) CLI will need to be updated to consume the same when it invokes crossgen to precompile the SharedFX

2) SharedFX Meta package would need to be updated to ensure it carries clrjit.dll

3) Publish of standalone application also publishes clrjit.dll

CC @schellap @piotrpMSFT

[2016-05-03 05:00] 717009629 commented on #2830
Maybe you have another dotnet  in diffrent path.
you can try to enter "where dotnet" in CMD.

[2016-05-03 05:31] piotrpMSFT commented on #2829
Since we have ample workarounds, putting in rtm milestone.

[2016-05-03 05:42] Varorbc commented on #2830
@717009629 Thank you,i find at C:\Program Files\dotnet\sdk have two versions of the command line tool,maybe the last uninstall and residue

@piotrpMSFT If you can support the update command instead of downloading and installing each time

[2016-05-03 05:44] piotrpMSFT opened #2833 "Update CLI Branding and Versioning"
Update CLI version numbers and branding strings.

## THIS IS A BREAKING CHANGE
Anyone testing with an older build of CLI may be broken by this change. The SDK version is moving from `rc2` to `preview1`, a lower preview version string. Please uninstall/delete any older installation of dotnet prior to using a new version that includes this change.

Also note that folks depending on CLI-produced NuGe

[2016-05-03 06:44] tonysneed commented on #2583
If you look at @markrendle's [docknet-docker](https://github.com/rendlelabs/docknet-docker) repo, you'll see that he also needs to use `chown` to change ownership of created files to main user on host: [dotnetproxy](https://github.com/rendlelabs/docknet-docker/blob/master/dotnetproxy).

[2016-05-03 09:12] davidfowl commented on #2824
That won't work. We need to know if there is an empty folder at the very least. The check could be something like, if there's a folder and no compilation assemblies but it's not worth that complexity for rc2.

Also, MSBuild already traverses the assembly dependency graph so it's no concerned with packages at all it doesn't need to care about this.

The CLI is trying to fill a gap where the **Syste

[2016-05-03 09:49] cwe1ss opened #2835 ""The dependency Microsoft.Bcl >= 1.1.9 could not be resolved" on "dotnet build""
`dotnet build` (1.0.0-rc2-002610) for the following project.json fails with error `error NU1001: The dependency Microsoft.Bcl >= 1.1.9 could not be resolved.`

[code]

## Steps to reproduce

[code]

## Expected  behavior

The build should succeed.

## Actual behavior

`dotnet restore` output. As you can see, the package was found on nuget. I verified that it exists in my `.nuget` folder afterwards

[2016-05-03 10:43] mcliment opened #2836 "CLI should fail if scripts in the `scripts` section don't exit with code 0"
## Steps to reproduce

Add a scripts section to `project.json` with this content (assuming there's a global npm installed on the system):

[code]
## Expected  behavior

`dotnet publish` should fail, as it does if the command does not exist. At least optionally.

If using a CI tool to do the publish and something fails it's difficult to detect.
## Actual behavior

Silently continues the publish pro

[2016-05-03 10:53] cwe1ss commented on #2835
Same error on an AppVeyor build so it seems like it is not related to my machine: https://ci.appveyor.com/project/cwe1ss/issue-dotnetcli-restore/build/3

[2016-05-03 14:56] Petermarcu commented on #2718
@anurse , @troydai is this fixed now? Can it be closed?

[2016-05-03 15:31] #2768 closed

[2016-05-03 15:32] eerhardt commented on #2701
This is fixed with #2769.

[2016-05-03 15:32] #2701 closed

[2016-05-03 15:44] eerhardt commented on #2836
seems like a dupe (or at least highly related to) #443

[2016-05-03 15:52] Petermarcu commented on #2824
Fixed by https://github.com/dotnet/cli/pull/2834

[2016-05-03 15:52] #2824 closed

[2016-05-03 16:09] dazinator commented on #2730
@Sridhar-MS I just ran the problematic installer (build 001598) and did a "Repair". It says it completed successfully, but no `dotnetcli` available on the command line - and here is the log you asked for: https://gist.github.com/dazinator/0867728f86c0a145680c4a8838b87358

`

[2016-05-03 16:14] dazinator commented on #2730
@Sridhar-MS

I just tried this and this installer did successfully install dotnetcli. However it has also left the broken install in place:

![image](https://cloud.githubusercontent.com/assets/3176632/14989969/69922160-1152-11e6-9709-0f03470e3a19.png)

Perhaps that is meant to happen. I'll manually remove the old install now.

[2016-05-03 16:41] troydai commented on #2718
@Petermarcu the fix was merged 22 hours ago so the latest build has it. The fix comes with a test case covering the scenario. Now @BillHiebert is verifying it in VS.

[2016-05-03 16:54] prafullbhosale commented on #2829
Thanks, I removed the blocking-partner label.

[2016-05-03 17:01] pranavkm opened #2840 "dotnet-test attempts to run tests for net451 on Linux \ OSX"
## Steps to reproduce
1. Create a project that targets `netcoreapp1.0` and `net451`. Add a `testRunner` and `dotnet-test-xunit` as a shared dependency.
2. Restore and run `dotnet test`
## Expected  behavior

Test runs for only `netcoreapp1.0`
Alternatively, test successfully runs for `netcoreapp1.0` and `net451`
## Actual behavior

Test fails for `net451`:

[code]
## Environment data

`dotnet --in

[2016-05-03 17:01] pranavkm commented on #2840
This can be addressed in RTM.

[2016-05-03 17:24] nil4 opened #2841 "Project.json with compile/exclude does not build"
## Steps to reproduce
In an empty folder, run `dotnet new`. Change the generated `project.json` to:

[code]
Run `dotnet restore`, then `dotnet build`.

## Expected  behavior
The project is built and an executable is generated in the `bin` folder, since `Program.cs` is not matched by the `exclude` pattern.

## Actual behavior
The project is not built and no message is displayed.

## Environment dat

[2016-05-03 17:28] piotrpMSFT commented on #2730
Thanks for confirming. @sridhar-ms fixed this behavior only recently so what you saw is expected when uninstalling older builds. It is fixed moving forward.

[2016-05-03 17:28] #2730 closed

[2016-05-03 17:32] anurse commented on #2718
Assigning to @BillHiebert to verify and close. If this is still occurring, please reassign to me and ping this!

[2016-05-03 17:35] pakrym commented on #2796
@piotrpMSFT I have PR going, needs review #2839

[2016-05-03 18:02] schellap commented on #2452
Fixed by #2790

[2016-05-03 18:02] #2452 closed

[2016-05-03 18:20] brthor commented on #2583
@tonysneed We hit a similar issue in CLI with file permissions when using volumes in our build. By default the user in  a docker container is root.

I don't know if that's the exact issue you're hitting, but we found a good solution using docker build args:
https://github.com/docker/docker/issues/7198#issuecomment-159736577

[2016-05-03 18:28] BillHiebert commented on #2718
Verified it works on 1.0.0-rc2-002611

[2016-05-03 18:28] #2718 closed

[2016-05-03 18:34] tonysneed commented on #2583
Thanks @brthor, I'll give that a try.

[2016-05-03 18:47] MichaelSimons commented on #2583
@tonysneed, I'm confused by 'VOLUME nuget:/root/.nuget` so please excuse me if I am misunderstanding.  Isn't this creating a mount point within the image with the literal name 'nuget:/root/.nuget'?  I'm not making the connection on how `dotnet restore` is using this. I was thinking to achieve what you wanted you would either want to mount a host directory as a volume within the container or mount

[2016-05-03 18:56] brthor commented on #2737
@abpiskunov Are you able to provide any command line repro here or is this VS only?

[2016-05-03 19:00] kichalla opened #2843 "dotnet new doesn't create a project.json complying with new project.json schema"
## Steps to reproduce
Based on https://github.com/aspnet/Announcements/issues/175, I am using the `1.0.0-rc2-002543` version of CLI
- Do a `dotnet new` and check the generated `project.json`
- Instead of `buildOptions`, I still see `compilationOptions`

**Question**: Am I using the right version of CLI having these schema changes?

## Expected  behavior
- `buildOptions` in project.json

## Actual

[2016-05-03 19:09] mellinoe commented on #2819
I'm hitting this as well. I get no warning or anything, but the resource mentioned in the "embed" item is not included in the compiled binary.

[2016-05-03 19:11] joshfree opened #2844 "Update Debian/Ubuntu to use PPAs for acquisition / getting-started"
See https://help.launchpad.net/Packaging/PPA (related https://github.com/dotnet/corefx/issues/8234)

[2016-05-03 19:15] piotrpMSFT commented on #2737
@brthor I have a cmd line repro

[2016-05-03 19:18] dasMulli commented on #2843
Since #2798 is in, building the default `dotnet new` template also generates a warning.

[code]

[2016-05-03 19:21] mellinoe commented on #2819
I see this announcement now: https://github.com/aspnet/Announcements/issues/175. It seems that my syntax is wrong.

[2016-05-03 19:28] mikowiec opened #2845 "dotnet restore failed on OSX"
## Precondition
OSX 10.9.2
.NET Command Line Tools (1.0.0-beta-001598)

## Steps to reproduce
- make new test project: dotnet new
  generated files: NuGet.Config Program.cs   project.json
- dotnet restore
  failed, due to not compatible assembly with OSX 10.9

## Actual behavior
log  : Restoring packages for /Volumes/TM/prjTmp/sharpc/photoGalAng2/yo/gal1/project.json...
error: Microsoft.Win32.Prim

[2016-05-03 19:29] ajaybhargavb commented on #2819
@piotrpMSFT, is there any place in cli repo or the dotnet org that this announcement can be linked to?

[2016-05-03 19:31] tonysneed commented on #2583
It should create a mount point with the specified name `nuget` and mark it with a source that is outside the container, so that the data in that source is preserved, even if the container is deleted.  I've used this approach, for example, when creating containers for a `mongo` image, where I want data in mongodb to be preserved when I recreate containers for mongo.  I didn't want to mount a host d

[2016-05-03 20:19] mcliment commented on #2836
I agree, probably is the same. Anyway if script support is being dropped, this problem will not exist.

[2016-05-03 20:45] #2796 closed

[2016-05-03 20:45] piotrpMSFT commented on #2588
Fixed by #2828

[2016-05-03 20:45] #2588 closed

[2016-05-03 20:45] piotrpMSFT commented on #2713
Fixed by #2789

[2016-05-03 20:45] #2713 closed

[2016-05-03 20:46] piotrpMSFT commented on #2819
@blackdwarf can you help with communication here?

[2016-05-03 20:47] piotrpMSFT commented on #2819
Fixed by #2822

[2016-05-03 20:47] #2819 closed

[2016-05-03 20:49] nil4 opened #2847 "Build is significantly slower with a large node_modules folder"
## Steps to reproduce

In an empty folder, run `dotnet new`. Change the generated `project.json` file to:

[code]

Run `dotnet restore`; then run `dotnet build` and observe that the build banner (first two lines below) are displayed instantly, and the build finishes in less than 2 seconds:

[code]

In the folder containing `project.json`, create an NPM `package.json` file with the following conten

[2016-05-03 21:15] #2584 closed

[2016-05-03 21:25] piotrpMSFT commented on #2833
@Sridhar-MS let's use this bug to track adding `1.0.0-rc2` feature key to the MSI. We won't rev the NuGet Version Numbers.

[2016-05-03 21:37] billwert commented on #2748
I strongly agree with @krwq here. If the user tells the compiler not to be incremental, that should be the end of it.

[2016-05-03 21:59] billwert opened #2852 "--build-profile hint text in dotnet is confusing"
I happened to run a build with --no-incremental, which included this in the output at the end:

[code]

When I saw this, and then ran 'dotnet build --build-profile', I was just informed that my project was up to date.

While I'm at it, this line:

[code]

appears at the beginning of compilation, even if the user passes --build-profile.

Instead of having both messages, how about if the first messa

[2016-05-03 22:03] billwert opened #2853 "--no-incremental causes the user to never be notified their inputs changed"
In short, the check for "did the input files change" should go above the check for "can this be incremental", or both checks should happen and the user should be notified of both conditions.
## Steps to reproduce

dotnet new
dotnet build
change program.cs (change the string it prints, whatever)
dotnet build --no-incremental
## Expected  behavior

Project test (.NETCoreApp,Version=v1.0) will be com

[2016-05-03 22:14] jeremymeng opened #2854 "'\r' characters in resource string were stripped when being retrieved"
## Steps to reproduce

I have [a resource file](https://github.com/jeremymeng/resource-test/blob/master/src/Console-Core/project.json#L13) that is shared by a desktop project and a netcoreapp1.0 project.  In the resource file there's a resource string [that spans multiple lines](https://github.com/jeremymeng/resource-test/blob/master/src/Console-Desktop/Resource1.resx#L121-L123).  The projects sim

[2016-05-03 22:15] #2760 closed

[2016-05-03 22:16] piotrpMSFT commented on #2825
Fixed by #2724

[2016-05-03 22:16] #2825 closed

[2016-05-03 22:22] mellinoe commented on #2853
That warning message doesn't make sense anyways, does it? Isn't the default template project safe for incremental compilation?

[2016-05-03 22:28] billwert commented on #2853
It is. --no-incremental causes this to happen. See #2851 and #2748

[2016-05-03 22:28] schellap commented on #2833
`1.0.0-rc2` is SemVer < `1.0.0-rc2-*`, I suggest 1.0.0-rz2 :wink: or something like `1.0.0-rc2-final`

[2016-05-03 22:33] piotrpMSFT commented on #2833
;)

[2016-05-03 22:41] andela-tsolarin commented on #2005
@anorborg @igilham after some digging I was able to find that the PKG installs files to /usr/local/share/dotnet/bin. Knowing this adding to PATH was no problem at all, I use zsh so a simple export PATH=/usr/local/share/dotnet/bin:$PATH should do the trick. Hope this helps.

[2016-05-03 22:57] nil4 opened #2855 "Build and publish should (optionally?) clean output folder"
## Steps to reproduce

In an empty folder named `Test`, run `dotnet new`. Replace the generated `project.json` file with:

[code]

Run `dotnet restore` then `dotnet build`. The project builds; `Test.exe` and `Test.pdb` are created under `bin\Debug\net461` and `bin\Debug\net461\win7-x64`.

In the `Test` folder, create an `AppConfig.json` file. The content is irrelevant; in a real application this f

[2016-05-04 00:19] schellap commented on #468
Cc @pakrym

[2016-05-04 00:35] moozzyk opened #2859 "Useless and incorrect message if a tool does not have "emitEntryPoint": true"
## Steps to reproduce

Create a tool but don't put `"emitEntryPoint": true` in the project json.
Try to use the tool from a different project
## Expected  behavior

Either a warning/error during compilation or a helpful error when trying to run the tool
## Actual behavior

[code]

Note that the error is:
- incorrect - I don't think we ever should expect hostpolicy.dll in ~.nuget\packages.tools sub

[2016-05-04 00:42] #2737 closed

[2016-05-04 00:51] JunTaoLuo opened #2861 "Specified mapping of content directories does not match the build and publish outputs"
According to https://github.com/aspnet/Announcements/issues/175, I can use `mappings` nodes to specify how my content files are to be placed in the build and publish output. For example, if I want to reference out of directory content, I can specify custom mappings to the output files like so:
[code]
This works as expected for individual files but not directories. In my build and publish outputs,

[2016-05-04 00:51] hovsepm opened #2862 "Ubuntu build fails if project.json contains "delaySign": true option in compilationOptions section"
## Steps to reproduce

git clone git@github.com:hovsepm/azure-sdk-for-net.git
git checkout netcore
./test_on_linux.sh

My project.json file contains following section:

[code]
## Expected  behavior

Both Windows and Ubuntu builds succeed or there is a way to opt out for default signing options on a specific platform
## Actual behavior

Windows succeeds but Ubuntu 14.04 fails with following error:

[2016-05-04 01:03] svick commented on #2854
Have you tried running program using `dotnet <path-to-your-program>.dll` instead of `dotnet run`?

(Where the path is probably something like `bin\Debug\netcoreapp1.0\`.)

And how exactly do you figure out whether it prints `\r` or not?

[2016-05-04 01:08] victorhurdugaci commented on #468
What's are the few rough edges? :)

[2016-05-04 01:52] ajaybhargavb commented on #2841
This happens due to the defaults being ignored when builtIns was not specified. This is fixed in https://github.com/dotnet/cli/issues/2819.

[2016-05-04 01:55] ajaybhargavb commented on #2861
This is closely related to https://github.com/dotnet/cli/issues/2829. Fixing this should also fix that issue.

[2016-05-04 01:56] GuardRex commented on #468
@victorhurdugaci @schellap If you're asking about .NET Core on Nano: The only reported delta between TP4 and TP5 is that in TP4 a packages folder was included with the preview that contained the Reverse Forwarders and IIS packages but the packages folder is not present in the TP5 distro. A dev reported to me that he had to obtain the packages manually. I have yet to confirm this, and I'm planning

[2016-05-04 02:55] jeremymeng commented on #2854
Same result.

I just print `"\\r"` if the character is `\r`.  Anyway, the project is just a simplified repro.  What I really had was failing unit tests that expect "\r\n", as on Desktop, but end up without "\r" in the retrieved string.  Under debugger on .NET Core, the result from `ResourceManager.GetString(...)` does not contain "\r"
(https://github.com/jeremymeng/resource-test/blob/master/src/Co

[2016-05-04 03:37] pakrym commented on #1707
Fixed with #2757

[2016-05-04 03:37] #1707 closed

[2016-05-04 05:57] schellap commented on #2859
If there are no bugs, and this error is encountered it is too late at the host layer to be more useful.

@moozyk, Could you please paste with dotnet -v, verbose the command you are using?

@brthor, are tools activated with corehost? This could be an RC2 bug, can you help me understand this scenario?

[2016-05-04 06:39] cwe1ss commented on #2835
This is blocking me rather badly because `Microsoft.Bcl` is used by so many packages (e.g. almost every Azure package) so I can't get rid of it.

Here's the project.lock.json from my sample. As you can see, some of the folders only contain a `_._` file (which has 0 bytes) instead of actual assemblies. I downloaded the package through a browser from nuget.org and had the same contents there so it s

[2016-05-04 06:57] piotrpMSFT commented on #2861
#2829 is slated for rtm. I'm moving this to the same milestone. @muratg if you think this needs to be in rc2 please put back to that milestone ASAP and ping me.

[2016-05-04 07:00] piotrpMSFT commented on #2830
@Varorbc can you share the contents of your C:\Program Files\dotnet\sdk directory? Specifically, what versions do you see? Unless you have a global.json file that specifies an sdkVersion, you should see the latest dotnet [e.g. highest version] win.

[2016-05-04 07:08] piotrpMSFT commented on #2841
Fixed by #2847

[2016-05-04 07:08] #2841 closed

[2016-05-04 07:09] cwe1ss commented on #2835
Same happens for other libraries so this is not special to `Microsoft.Bcl`. Here's an example snippet from a project.lock.json that depends on a recent System.* library:

[code]

[2016-05-04 07:10] piotrpMSFT commented on #2845
1.0.0-beta-001598 is a very old build. We will be updating the LKG link soon. If you want to try out a newer build, you can install from https://github.com/dotnet/cli.

[2016-05-04 07:10] #2845 closed

[2016-05-04 07:19] schellap commented on #2859
https://github.com/dotnet/cli/blob/3e96a05f9cb2668dacabc5f8b6bd0aac9f3b823d/src/Microsoft.DotNet.Compiler.Common/Executable.cs#L102

This code doesn't copy the required library if entrypoint is false as an optimization. @brthor should these be copied for tools?

[2016-05-04 07:41] piotrpMSFT commented on #2862
@hovsepm thanks for filing this. This is a bug in CLI, specifically here: https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-compile-csc/Program.cs#L169. We cannot full-sign on Windows so if there is a keyfile and we're not on Windows then we automatically set PublicSign = true. The bug is that we don't account for Delay Sign when addressing this special case. If DelaySign is

[2016-05-04 08:02] piotrpMSFT commented on #2859
tools without entry point are not a thing. We can improve the experience here in two ways:
 - `dotnet.exe` should provide a useful message when passed any dll that does not have an entry point
 - restoring such tools should fail with a useful error

[2016-05-04 08:06] davunderscorei opened #2865 "Build not working on dnxcore50"
## Steps to reproduce
* `dotnet new` a project
* change the `project.json` to read

[code]

* `dotnet restore -s https://dotnet.myget.org/F/cli-deps/api/v3/index.json`
* `dotnet build`

## Expected  behavior
Builds successfully

## Actual behavior
[code]
## Environment data
`dotnet --info` output:
[code]

[2016-05-04 08:10] davunderscorei commented on #2865
Also, adding

[code]

to the `project.json` yields:

[code]

[2016-05-04 08:12] piotrpMSFT commented on #2854
@jeremymeng if you've already found that ResourceManager.GetString() does not contain the '\r' then can we move this bug over to https://github.com/dotnet/corefx?

[2016-05-04 08:13] schellap commented on #2859
The dotnet.exe does not know if the dll has entry point or not directly.  Coreclr already gives a entrypoint not found exception when run. But to execute managed code we need hostpolicy.dll which is not copied in this case as an optimization, this should be fixed. See code above. Otherwise host has to read compilationoptions from deps file... which is probably not the best way to solve this.

[2016-05-04 08:14] piotrpMSFT commented on #2865
`dnxcore50` is deprecated. Please move to `netcoreapp1.0` for apps and `netstandard1.5` for libraries.

[2016-05-04 08:14] #2865 closed

[2016-05-04 08:20] piotrpMSFT commented on #2836
We're avoiding breaking changes like this for RC2 but I'm adding this bug to RTM.

[2016-05-04 08:23] schellap commented on #2859
See related: #2098 same issue.

[2016-05-04 08:28] piotrpMSFT commented on #2835
@cwe1ss thanks for the detailed bug report! The restore operation + lock file creation are handled by NuGet. Can you open this bug in https://github.com/nuget/home?

/cc @emgarten

[2016-05-04 09:25] davunderscorei commented on #2865
@piotrpMSFT Thanks.

Do you need the `Microsoft.NETCore.App` dependency with `"type":"platform"` for libraries?

[2016-05-04 10:19] ibrmohammed commented on #2791
I have the connectionstring stored in appsettings.json
I did see in a few latest projects, they are using config.json. Is this what you are expecting to use instead of appsettings.json

[2016-05-04 12:22] cwe1ss commented on #2835
re-opened in https://github.com/NuGet/Home/issues/2715

[2016-05-04 14:24] patrickjamesbarry commented on #2510
I am on a Mac, running .NET Command Line Tools (1.0.0-rc2-002659) and  NuGet Version: 3.4.3.855. I am running into same Unauthorized issue with **dotnet restore**.  **nuget restore** works just fine. Hopefully whatever merge needs to be approved, happens soon!

[2016-05-04 14:24] gkhanna79 commented on #468
@GuardRex Please do share the results when you get them.

[2016-05-04 14:26] GuardRex commented on #468
@gkhanna79 Sure thing. I'll get to this no later than Sunday and ping back the result.

[2016-05-04 14:34] tonysneed commented on #2583
What I ended up doing was simply to include a `project.lock.json` file when building the docker image.  This eliminated the error: *Project app does not have a lock file*, and it obviated the need for running `chown`.  I also removed the `VOLUME` instruction from the updated [Dockerfile](https://github.com/tonysneed/Demo.DotNetCoreDocker/blob/master/Dockerfile).  This should serve as a viable work

[2016-05-04 14:44] MichaelSimons opened #2866 "Update to Debian 8.4"
This is related to https://github.com/dotnet/corefx/issues/8228.  CLI should be updated accordingly as well.  This includes the readme, CI, and Jenkins.

[2016-05-04 14:45] pranavkm commented on #2829
@ajaybhargavb - also noticed that this affects symbol package creation when we use globbing patterns in compile include. Could you make sure that you verify that's also covered when you sort this out?

[2016-05-04 15:47] muratg commented on #2861
cc @Eilon @danroth27 @DamianEdwards

[2016-05-04 15:51] mikowiec commented on #2845
- Installed .NET CLI 1.0.0-rc2-002659
- make link: ln -s /usr/local/share/dotnet/dotnet /usr/local/bin
➜  clrtest1 dotnet --version
1.0.0-rc2-002659
➜  clrtest1 dotnet new
Created new C# project in /Volumes/TM/prjTmp/sharpc/clrtest1.
➜  clrtest1 dotnet restore
log  : Restoring packages for /Volumes/TM/prjTmp/sharpc/clrtest1/project.json...
info :   GET https://api.nuget.org/v3-flatcontainer/micros

[2016-05-04 16:06] moozzyk commented on #2859
What @piotrpMSFT said. This is about experience - people will make mistakes and if they do they need to be able to understand the error messages enough to be able to fix the mistake.

[2016-05-04 16:08] svick opened #2867 "Confused about dotnet new --type"
I'm confused about the option `--type` of `dotnet new`:

* [`dotnet help new`](https://github.com/dotnet/cli/blob/44483dd/src/dotnet/commands/dotnet-new/Program.cs#L86) doesn't say anything about the possible values
* [README.md](https://github.com/dotnet/cli/blob/44483dd/src/dotnet/commands/dotnet-new/README.md#options) says the possible values are `console`, `lib` and `xunittest`
* [the actual p

[2016-05-04 16:09] moozzyk commented on #2859
@schellap dotnet -v output:

[code]

[2016-05-04 16:19] victorhurdugaci opened #2869 ""Project <name> does not have a lock file" when referencing csproj"
Duplicating the issue from [here](https://github.com/aspnet/Tooling-Internal/issues/513) because I believe this might be a CLI issue. I can reproduce it (after doing all the repro steps) by running `dotnet build` from the command line

----

[Scenario](https://github.com/aspnet/Release/issues/88) item: xproj -> csproj -> csproj

Do these steps in VS:

1. Create a dotnet (451) web app
2. Create a c

[2016-05-04 16:42] schellap commented on #2859
@moozzyk, just to confirm there are no functional issues going into RC, you have tried this out with emitEntryPoint true as well right? In that case, do you get the hostpolicy by the tool's side or in the .nuget packages cache? This could be a bug if tools relied on a hostpolicy.dll next to corehost instead of the above two locations. @brthor need some help understanding if the latter is true for

[2016-05-04 16:55] moozzyk commented on #2859
1) When I added emitEntryPoint the tool was successfully resolved and executed. No, hostpolicy.dll is still not in the folder (and I don't think it should be there). Here is what I have:
![image](https://cloud.githubusercontent.com/assets/1438884/15021796/8cc6bd7c-11dd-11e6-8cdd-b94e84e790a5.png)

2) As you can see in the screen dumps - I did not get the `MissingEntryPointException` (not sure if t

[2016-05-04 17:03] am11 opened #2871 "net451 - Failed to make the following project runnable"
## Description

I have ported an open-source .Net library [MaxMind.Db-Reader](https://github.com/maxmind/MaxMind-DB-Reader-dotnet) to .Net Core. There are three projects in the solution:
- MaxMind.Db - Library
- MaxMind.Db.Benchmark - Executable
- MaxMind.Db.Test - Executable

URL to .Net Core port branch: https://github.com/am11/MaxMind-DB-Reader-dotnet/tree/coreclr-port

Locally, with RID: win10

[2016-05-04 17:06] schellap commented on #2859
@moozzyk, thank you for confirming this works. We will give it some thought for RTM.

To answer your questions, this is like a fatal configuration error. Improper setup to run the app is the right word. There is no more context than this to give out unless we bake build time info in the runtimeconfig manifest.

"Could not load from dir" ... that directory.

"On the face" is a Windows error reporti

[2016-05-04 17:14] victorhurdugaci opened #2872 "Cannot update dotnet after installing the MSI"
It installs in program files and any upgrade attempt from a non elevated console fails because it doesn't have permissions to change files in that folder

[code]

[2016-05-04 17:24] blackdwarf opened #2873 "Install script issues"
Here are some things that we need to do with the install script to make it better. Some of these are bugs, some are deviations from the spec and some are good to have.

I'm using the following command, as seen in the installation spec to get and run the script:

`curl -sSL https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.sh | bash /dev/stdin --version 1.0.0-rc2-

[2016-05-04 17:30] brthor commented on #2859
@schellap

Tools are not activated using CoreHost, but when no entry point is present we don't emit a runtimeconfig.json IIRC. This would cause the tool to look as if it were standalone and it looks like the muxer is looking next to the deps file for `hostpolicy.dll`.

Since this isn't blocking functionality, I don't think there's any work for RC here, but we should definitely improve the error ex

[2016-05-04 17:33] moozzyk commented on #2859
@brthor - this is what I was just thinking about. This:

[code]

can only be executed once a tool was resolved. As a result this is not like we fail even before loading  CoreClr. Rather we do a bunch of work first where we could add some additional checks and return a better message.

[2016-05-04 17:40] joelverhagen opened #2874 ".NET CLI should look for restored assets using lowercase paths"
I'm working on an effort to make the package ID and version components of file paths generated by NuGet case insensitive. The most prevalent example of this is packages within the global packages folder (e.g. `~/.nuget/packages/{id}/{version}`). This effort requires changes in NuGet , .NET CLI, and DotNetHost. The associated NuGet item is here:
https://github.com/NuGet/Home/issues/2522

Work in .N

[2016-05-04 17:42] schellap commented on #2859
Yes. I agree with @moozzyk and @brthor, that this has to be handled before the activation.

[2016-05-04 17:44] moozzyk commented on #2590
For whatever reason I did not see this with 1.0.0-rc2-002476 but it is actually still happening on Win10 and 1.0.0-rc2-002655:
[code]

[2016-05-04 17:45] schellap commented on #2859
@brthor would it be a better idea for the non tool case, to wire this into `runtimeOptions: { entrypoint: false }` and use that to solve both.

[2016-05-04 17:46] moozzyk commented on #941
When I run `dotnet run` in a folder an application was published to:

[code]

[code]

[2016-05-04 17:59] blackdwarf commented on #2533
@gkhanna79 sure.

[2016-05-04 18:09] blackdwarf commented on #2400
@robmen don't know what we decided in the end, but I'm down with whatever @shanselman says. Honestly, the question was more for my education. :) Also, honestly, I click through that thing so fast... :)

[2016-05-04 18:21] smbecker commented on #2429
It looks like this issue happens whenever you have an issue anywhere in your dependency hierarchy. It gives no clues as to where that issue might be. Better diagnostics or messaging would be much appreciated.

[2016-05-04 18:42] cwe1ss commented on #2835
Re-opened after discussion with @emgarten - this seems to be an issue with `dotnet build`. I will re-post my comments from there for clarity.

[2016-05-04 18:42] cwe1ss commented on #2835
When I delete the `_._` file from `.nuget\packages\Microsoft.Bcl\1.1.9\lib\net45` and do a `dotnet restore`, the project.lock.json takes the files from net40 and the build succeeds!

I don't know the meaning of these `_._` files so I'm out of further ideas. Some tips for a quick fix would be great!

[code]

[2016-05-04 18:43] cwe1ss commented on #2835
@piotrpMSFT Are you sure this isn't an issue of `dotnet build`/`dotnet cli`? I tried to find out what `_._` means and found thid quote by @emgarten from https://github.com/dotnet/cli/issues/2250#issuecomment-206704507

This sounds like `dotnet build` should be able to deal with this. We haven't had issues with this until recently so maybe a recent change somewhere in dotnet cli broke this?!?

This

[2016-05-04 18:43] cwe1ss commented on #2835
I tried this with a few older CLI versions:

* 1.0.0-rc2-002439: success
* 1.0.0-rc2-002457: success
* 1.0.0-rc2-002474: failure

So it seems like this is an issue in dotnet/cli. Unfortunately, I don't have any version in between and I also don't know to which commit messages they relate so I'm having a hard time narrowing it further down.

[2016-05-04 18:49] krwq commented on #2873
I agree that installation directory is a bug. It seemed to be fine on Ubuntu where I tested it.

Progress for the download: I have mixed feelings about that, in interactive mode I agree it would be useful but since the script is mainly meant to be used in non-interactive mode it is not interesting to see a progress bar on the log. If the main intent is to be in interactive mode then should we ask

[2016-05-04 18:52] blackdwarf commented on #2873
@krwq the progress and the $PATH are not RC2 important, however, the install dir is since it will block people from installing properly. So you should fix that and we will leave the rest for RTM.

[2016-05-04 18:55] piotrpMSFT commented on #2874
@joelverhagen I just added this to the RTM milestone.

[2016-05-04 19:00] victorhurdugaci commented on #2872
Opened in the wrong place

[2016-05-04 19:00] #2872 closed

[2016-05-04 19:35] ajaybhargavb commented on #2829
Spoke to @pranavkm. Symbol packages have been using the wrong folder structure before the schema changes and using compile include actually fixes the problem but also breaks the assumptions. So no change is currently needed for this other that to add a test to verify this scenario. I'll file an issue in repos that need to be updated to use the new structure.

[2016-05-04 20:03] adamralph commented on #182
I would expect to just type `dotnet` to get a REPL, just like I type `node` to a REPL.

[2016-05-04 20:20] jeremymeng commented on #2854
@piotrpMSFT we haven't ruled out the possibility of the difference in embedding resource strings.  ILDasm shows the length of the embedded resource is exactly two less in the netcoreapp1.0 dll.
[code]
In the desktop executable, the length is 0xE5.

[2016-05-04 20:35] piotrpMSFT commented on #2833
Will be fixed by https://github.com/dotnet/cli/pull/2877

[2016-05-04 20:39] sokket opened #2879 "dotnet commands fail with just core installed"
## Steps to reproduce
1. Download the .NET Core Installer (x64 and x86)
2. Run ```dotnet --help``` (as specified by the output of running just ```dotnet```)

## Expected  behavior
A help text is displayed

## Actual behavior
"Did not find a suitable dotnet SDK at '<install path>'. Install dotnet SDK from <github path>"

## Environment data
`dotnet --info` output:

Same error as above

[2016-05-04 20:41] brthor commented on #2879
#2697

[2016-05-04 20:42] sokket commented on #2879
dotnet info doesn't work either :(

[2016-05-04 20:42] sokket commented on #2879
ie. dotnet --version or dotnet --info

[2016-05-04 20:43] brthor commented on #2871
@am11 Some changes went in yesterday which should append some more specific information to that error message, is that all the output you see?

[2016-05-04 20:45] brthor commented on #2869
We made changes just yesterday related to this scenario, please try with the latest cli.

[2016-05-04 20:45] Sridhar-MS commented on #2833
SDK branding still has `RC2`. Should that be dropped?

[2016-05-04 20:47] piotrpMSFT commented on #2833
no, that is the exact string we want to use.

[2016-05-04 20:48] piotrpMSFT commented on #2843
this is approved.

[2016-05-04 20:49] brthor commented on #2879
I don't know how these things can work without an SDK installed.

[2016-05-04 20:51] #2843 closed

[2016-05-04 20:57] sokket commented on #2879
The help text should describe what the ```dotnet``` command is and how to run it (like ```man dotnet```) would. Once the SDK is installed, that can be expanded to include the SDK help.

Version should always be available to output the version of whatever is installed; if no SDK is installed the it should show the runner version. Once the SDK is installed, show the runner and SDK version. Same with

[2016-05-04 21:05] am11 commented on #2871
@brthor, the CI is showing:

dotnet : Failed to make the following project runnable: MaxMind.Db.Benchmark (.NETFramework,Version=v4.5.1) reason: Could not read assembly info for
C:\projects\maxmind-db-reader-dotnet\MaxMind.Db.Benchmark\bin\Debug\net451\win7-x64\MaxMind.Db.Benchmark.exe
At line:21 char:1
+ dotnet build -c $env:Configuration -f $env:Framework -o ".\MaxMind.Db.Benchmark\ ...
+ ~~~~~~

[2016-05-04 21:17] victorhurdugaci commented on #2869
What's the build number that has the fix?

[2016-05-04 21:19] jonmill opened #2881 "Installing both 64bit and 32bit versions defaults to 32bit"
## Steps to reproduce
1. Install x64 Core
2. Install x86 Core
3. Run `dotnet`
## Expected  behavior

The `dotnet` command would follow the machine bitness and default to x64 version
## Actual behavior

Defaults to x86 version

[2016-05-04 21:20] piotrpMSFT commented on #2835
I chatted about this with @ericstj offline and it seems this library should no longer be used. @ericstj can you add some detail here?

[2016-05-04 21:33] khellang commented on #2833
Seriously? What's the reasoning behind this?

[2016-05-04 21:38] FransBouma commented on #2833
A preview of the **second** release candidate. And not 'the' preview, but the first, so more will follow. Is this the equivalent of a beta of a release candidate? If so, perhaps you guys/gals should look up what the term 'release candidate' is used for ;).

My suggestion would be to go back to beta -> RC1 -> RCn -> RTM and don't change the world after Beta anymore, so trust in this release policy

[2016-05-04 21:39] bleroy opened #2882 "Basic type resolution fails if compat problems are worked around using imports"
## Steps to reproduce

Add a PCL library that is not yet compatible with netstandard, such as JSON.NET 8, add the "imports": ["portable-net40+sl5+win8+wp8+wpa81", "dotnet"] to the project.json.
Using basic types such as object and string fails: it asks for mscorlib to resolve basic types.
## Expected  behavior

The error message identifies the actual cause and provides a suggestion on how to fix.

[2016-05-04 21:40] CoreyKaylor commented on #2833
Or just acknowledge that ship has sailed and there might be many more rc* releases until it's ready.

[2016-05-04 21:43] moozzyk opened #2883 "dotnet should verify parameters before using them"
dotnet should verify parameters before using them otherwise the errors may be not clear or refer to actual arguments
## Steps to reproduce

[code]

[code]
## Expected  behavior

dotnet tells exactly which parameter is not correct
## Actual behavior

[code]

`path` does not relate to any argument I provided.
## Environment data

`dotnet --info` output:

[code]

[2016-05-04 21:48] filipw commented on #2833
so for example `Microsoft.DotNet.ProjectModel` will be `rc2` but `Microsoft.DotNet.ProjectModel.Workspaces` will be `preview1`, this is quite confusing

[2016-05-04 21:48] cwe1ss commented on #2835
Hi Piotr, I understand that and I would not use it for my own libraries. Unfortunately, this library is quite popular on NuGet. One example is [Microsoft.Azure.Common](https://www.nuget.org/packages/Microsoft.Azure.Common/) which is used e.g. by the [Azure Key Vault Library](https://www.nuget.org/packages/Microsoft.Azure.KeyVault/).

They are not open-source so I can't even create a PR/fork. If th

[2016-05-04 21:50] moozzyk opened #2884 "-r argument ignored(?) when publishing an app"
## Steps to reproduce

Portable netcoreapp1.0 app.

[code]
## Expected  behavior

An error saying that the `--runtime` argument is not valid or a warning saying that the argument is being ignored for portable apps.
## Actual behavior

Application is getting published just fine
## Environment data

`dotnet --info` output:

[code]

[2016-05-04 21:50] ericstj commented on #2835
In this case it is OK to use it.  The project is targeting desktop.  Before I was mentioning how this package shouldn't be used when targeting NETCoreApp.

The `_._` are a nuget mechanism to indicate that the package is supported on that platform and doesn't need to provide any assets.  In the case of BCL this is because the whole purpose of that package is to add DLLs to other platforms (Silverli

[2016-05-04 21:51] sokket opened #2885 "Updating dotnet versions on OS X does not upgrade"
## Steps to reproduce
1. Have an old version of dotnet (I had beta-001598)
2. Download the new SDK installer + install
3. Restart terminal
4. Run dotnet --version

## Expected  behavior
The new version is displayed

## Actual behavior
The old version is displayed. Running ```ls /usr/local/share/dotnet/sdk``` shows that only the new version is installed

## Environment data
`dotnet --info` output:

[2016-05-04 21:52] cwe1ss commented on #2835
This is not an accurate research, but Google yields more than 4700 results for this search query: ["Microsoft.Bcl" site:nuget.org/packages](https://www.google.at/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=%22Microsoft.Bcl%22+site:nuget.org%2Fpackages). Even if there are a lot less packages that depend on that, it's still a lot.

[2016-05-04 21:57] ericstj commented on #2835
The logic here is busted:
https://github.com/dotnet/cli/pull/2597/files#diff-5c8786bd7f881c627f83a5a9b6620c07R388

Just because a package has a placeholder doesn't mean it represents an inbox facade.  Placeholders have been around in NuGet for a long time and folks use them for more reasons than representing an inbox asset.  I think it the framework reference is unresolved then CLI shouldn't muck

[2016-05-04 22:00] forki commented on #2833
It's not just confusing - it's breaking.
Just admit the rc mistake and go on with rc3, rc4, ..,  rc5023. It's still better than to break package managers.

[2016-05-04 22:04] DamianEdwards commented on #2833
My apologies, this change got communicated a little earlier than we intended without the context that it needs. We're working to put together the full communication around these (and related changes) so we can share it (with the required context) in the next few days. Thanks in advance for understanding.

[2016-05-04 22:04] sokket opened #2886 "OSX installer does not drop uninstaller"
## Steps to reproduce
1. Install OS X SDK
2. Look in the drop folder for an uninstaller
## Expected  behavior

An uninstall script should exist
## Actual behavior

No way to uninstall the OS X installation

[2016-05-04 22:06] victorhurdugaci opened #2887 "Incorrect error message (missing placeholder?)"
I think this error message is missing a placeholder after "Lock file":

[code]

[2016-05-04 22:11] piotrpMSFT commented on #2885
This is a known issue. Any pre-Shared Framework installers must be removed before a post-shared-framework installer is added. https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/known-issues.md has a pointer to details.

[2016-05-04 22:11] brthor commented on #2885
Is `1.0.0-beta-001598` pre shared framework? If so, we don't support upgrades.

Does this repro between later PKGs?

[2016-05-04 22:11] #2885 closed

[2016-05-04 22:14] brthor commented on #2871
This looks to be happening when it tries to read the AssemblyInfo for Binding Redirects.

@Sridhar-MS is our SME here

[2016-05-04 22:15] brthor commented on #2869
2665 should have it

[2016-05-04 22:16] piotrpMSFT commented on #2873
Fixed by https://github.com/dotnet/cli/issues/2873

[2016-05-04 22:16] #2873 closed

[2016-05-04 22:18] honestgrace commented on #1008
When I run musicstore.standalone.exe on the latest Nano server machine, I ran into this error.

.\MusicStore.Standalone.exe : Failed to load the dll from [D:\shared2\temp\AspnetCoreHandler_MusicStore\hostpolicy.dll], HRESULT: 0x8007007E
    + CategoryInfo          : NotSpecified: (Failed to load ...ULT: 0x8007007E:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
…

One

[2016-05-04 22:21] blackdwarf commented on #2886
@sokket what is the form of the uninstaller script? Just a bash script that does what is needed to remove dotnet?

[2016-05-04 22:22] mlacouture opened #2888 "Need Project System API for filtering project.json build-type dependencies out."
This is for the WCF Connected Service, a VS extension for adding SOAP service references (client proxy code) to Net Core projects.  Types from the project dependencies are considered when generating the proxy code.  The extension uses the Project System API to get the list of project dependencies (IFrameworkReferences.References), the problem is that build-time dependencies are included in the lis

[2016-05-04 22:23] XiaoFaye opened #2889 "RC2 is much slower than RC1??"
## Steps to reproduce

Any simple MVC projects using net core.

## Expected  behavior

similar speed when handling request

## Actual behavior

This ASP.NET 5 project was created using Visual Studio 2015, dnvm version 1.0.0-rc1-15540.
![speed1](https://cloud.githubusercontent.com/assets/6334728/15031160/ea4165c4-12aa-11e6-9b32-97bd25e8991c.png)

This project was created using dotnet new, cli versi

[2016-05-04 22:24] sokket commented on #2886
A bash script that will remove all the files as well as remove the package from the package listing....or we do the whole /Applications and /Frameworks thing, but that's a bigger change

[2016-05-04 22:27] brthor commented on #2879
I think having --help also output `dotnet app.dll` like it does if you type `dotnet` alone is reasonable, but for `--version`, it's current beauty is that you get a string you can easily pipe to other commands, or easily use in a build.

Perhaps a `--host-version` would satisfy the need while preserving this scenario?

[2016-05-04 22:28] sokket commented on #2879
What use cases do we see in this area? If anything, this seems like a developer-centric scenario that would not be involved if just core were installed...

[2016-05-04 22:29] moozzyk opened #2890 "Cannot publish ubuntu-x64 standalone app on windows"
## Steps to reproduce
1. Restore packages
2. `PS C:\Source\cli-samples\HelloMvc> dotnet publish -r ubuntu-x64`

[HelloMVC](https://github.com/aspnet/cli-samples/tree/master/HelloMvc) with the following project.json
[code]
## Expected  behavior
Publishing succeeds.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

[2016-05-04 22:36] blackdwarf commented on #2867
@svick ah, good catch on the README.md. Yes, the only available option is the console. We had an idea of adding more (like the ones you see in there), but `dotnet new` will be redone for RTM so it will be a lot different. You can see how in #2052 .

[2016-05-04 22:41] blackdwarf commented on #2886
@sokket nope, that is a bigger change. OK, we could do this easily for RTM. In the meantime, there is a workaround, that is, the known issues page lists out stuff to do to uninstall.

[2016-05-04 22:43] #2867 closed

[2016-05-04 22:46] javiercn opened #2892 "dotnet run app.dll throws null reference exception"
## Steps to reproduce
1. build a console app.
2. run dotnet publish
3. navigate to the publish folder
4. run dotnet run app.dll
## Expected  behavior

An error indicating that to use dotnet on a dll you shoud do dotne app.dll
## Actual behavior

Object reference not set to an instance of an object.
## Environment data

`dotnet --info` output:
.NET Command Line Tools (1.0.0-rc2-002611)

Product Inf

[2016-05-04 22:47] sokket commented on #2886
@blackdwarf the problem with the documentation around using ```pkgutil --files``` is that the file list isn't rooted; meaning the files are all relative to the installation location but the user has no way of finding the installation root without other commands

[2016-05-04 22:48] brthor commented on #2890
@moozzyk This error was added so Standalone Apps published without coreclr throw an error prior to host activation.

This means libcoreclr.so is not present in your package graph, probably because `ubuntu-x64` is not a rid we publish any runtime packages for (as far as I know).

Try it out with `ubuntu.14.04-x64` ?

[2016-05-04 22:56] brthor commented on #2879
There was some conversation here https://github.com/dotnet/cli/issues/1607#issuecomment-189930471

I see the use cases as primarily being around automation when verification needs to be done, or decisions made based on the current version of the cli being used.

With just core installed, the scenarios are likely different which is why I think a different option makes sense.

[2016-05-04 22:59] enricosada commented on #2833
Please use rc2. Or rc4 if rc3 was already used.
It's ok, it's just a number.

If you like preview, use `preview` next iteration, after rtm.

But beta -> rc -> rtm it's easy to understand. Preview of what?

[2016-05-04 23:12] piotrpMSFT commented on #2890
Please re-open if this still fails with a good RID.

[2016-05-04 23:12] #2890 closed

[2016-05-04 23:14] piotrpMSFT commented on #2889
We are going to be making additional perf improvements after this milestone is over. This is a dupe of #2515

[2016-05-04 23:14] #2889 closed

[2016-05-04 23:15] piotrpMSFT commented on #2888
@troydai let's try getting this into RTM?

[2016-05-04 23:16] pranavkm opened #2893 "Version range for dependencies produced by dotnet-pack should use legacy format"
`dotnet pack` takes a dependency of the format `ClassLibrary: "1.0.0"` and embeds it in the nuspec in the format `<dependency id="ClassLibrary" version="[1.0.0-build-1000, )" />`. Although this is correct, it's more common to represent this as `<dependency id="ClassLibrary" version="1.0.0-build-1000" />`

[2016-05-04 23:16] pranavkm commented on #2893
cc @emgarten

[2016-05-04 23:21] piotrpMSFT commented on #2881
The CLI bitness is selected by the OS before we start executing code. Whatever wins on the PATH wins. We can spend some more time thinking about this in the future but will need to involve more folks from the team as well as from various IDEs.

[2016-05-04 23:22] piotrpMSFT commented on #2893
dotnet-pack is going to be replaced by nuget pack, similarly to how restore works today. We're not making further investments in dotnet-pack, so closing this issue.

[2016-05-04 23:22] #2893 closed

[2016-05-04 23:22] moozzyk commented on #2890
How am I supposed to know that I need to use exact RID? My runtime section looks just like this:
`
  "runtimes": {
    "ubuntu-x64": {}
  }
`
so there is no version.

[2016-05-04 23:23] piotrpMSFT commented on #2879
This is a duplicate of #2697

[2016-05-04 23:23] #2879 closed

[2016-05-04 23:27] niemyjski commented on #2833
I think you guys should stop being so scared to increment a number suffix and call it beta 3 or rc 3. doesn't make you a failure. increment the number and lets stop confusing end users before we all give up.

[2016-05-04 23:28] piotrpMSFT commented on #2871
@brthor we discussed this issue offline. Let's experiment with -r here.

@am11 can you change your -o path to "someString" so we see what the build command is actually appending?

[2016-05-04 23:29] piotrpMSFT commented on #2869
@victorhurdugaci please re-open if this is still an issue in 2665 or later.

[2016-05-04 23:29] #2869 closed

[2016-05-04 23:31] piotrpMSFT commented on #2835
@davidfowl can you either provide a fix or guidance for a fix here? I know that this topic area is important to you...

[2016-05-04 23:35] piotrpMSFT commented on #2830
@Varorbc I just tested this with two recent installers [2611 and 2668] and did not repro the issue. If you're still seeing this with recent builds then please open a new issue. Closing no-repro for now.

[2016-05-04 23:35] #2830 closed

[2016-05-04 23:36] moozzyk commented on #2890
If I put `ubuntu.14.04-x64` in my project.json and use this as the -r value then I don't get an error. Still the experience sucks - if I use a RID I cannot publish for in my project.json I should get an error/warning (possibly during restore).

[2016-05-04 23:38] DamianEdwards commented on #2833
While we appreciate the feedback, as I stated above there is some more context coming soon that will hopefully clarify the changes. Until then, might I suggest we leave this issue to track the specific change it was intended to manage, rather than turn it into a general conversation regarding the versioning of .NET Core. Thanks again.

[2016-05-04 23:39] moozzyk commented on #2892
Hit this today as well and reopened https://github.com/dotnet/cli/issues/941

[2016-05-04 23:46] moozzyk opened #2894 "Need a warning/error if an application cannot be publish for the RID included in runtimes section"
## Steps to reproduce

If you use a general RID like this in the project.json file:

[code]

Then the application cannot be published or run.
## Expected  behavior

A warning or an error saying that the RID used in the runtimes section is not usable.
## Actual behavior

(Possibly) a technically correct yet completely useless from the user perspective message:

[code]
## Environment data

`dotnet -

[2016-05-05 00:06] jeremymeng opened #2895 "Build error in project-to-project reference scenario after reacting to the buildOptions changes"
## Steps to reproduce

[code]

## Expected  behavior

Build succeeds.

## Actual behavior

Project `ClassLibrary2`, which references project `ClassLibrary1`, failed to build.

[code]

### Notes

* The signing doesn't matter: same result after removing `keyFile` lines.

* The dependency `ClassLibrary1` seems to be found correctly, and was built first successfully as shown above.

* Before reacting

[2016-05-05 00:14] brthor commented on #2890
I think this is a documentation issue.

The issue here is that `ubuntu-x64` is not necessarily a "wrong" rid and indeed individual packages can create their own custom rid graphs using runtime.json. So at restore time, there's not necessarily a way to say that your rid is wrong.

Even at build/publish time the best we can do for a Standalone app is make sure that whatever package graph exists for

[2016-05-05 00:18] brthor commented on #2894
From #2890

The issue here is that ubuntu-x64 is not necessarily a "wrong" rid and indeed individual packages can create their own custom rid graphs using runtime.json. So at restore time, there's not necessarily a way to say that your rid is wrong.

Even at build/publish time the best we can do for a Standalone app is make sure that whatever package graph exists for the rid you've selected contai

[2016-05-05 00:26] moozzyk commented on #2890
That's OK. As long as it is documented it should be fine. The error message could and should be improved though.

[2016-05-05 00:41] moozzyk opened #2896 "Where is 1?"
## Steps to reproduce

[code]
## Expected  behavior

dunno, either no numbered list at all or the missing part of the message (if one exists)?
## Actual behavior

`2. The project does not support the desired framework: net452`
## Environment data

`dotnet --info` output:

[code]

[2016-05-05 01:20] moozzyk commented on #2572
Note that the message changed to:

[code]

Not sure if the old message was just rephrased or if I am hitting a different code path now but the  usefulness and correctness of the new message is about the same as of the original one (i.e. very low).

[2016-05-05 02:27] ryzewu opened #2897 "Does microsoft have a "change name department" ?"
Does microsoft have a "change name department" ?

[2016-05-05 02:37] ejsmith commented on #2833
I don't care what the context is, please don't do this. You're just making a bad situation worse. This is a great product, but people are losing confidence quickly. It's already been like 6 months and a crazy number of breaking changes from "RC1". I know you guys are think that you are going to release RC2 and it will be a real RC, but there have been WAY too many changes to just jump to that. You

[2016-05-05 02:39] piotrpMSFT commented on #2895
@ajaybhargavb can you take a look?

[2016-05-05 02:56] #2897 closed

[2016-05-05 03:19] coolcsh commented on #2833
Eric, as Damian has said you are not seeing the entire story, just a small piece of something that showed up in GitHub a little too early. We are very aware that the tooling has changed considerably since we shipped the RC1 release and we don't expect it to magically be done overnight. Please wait until we get the blog post out. It will explain the entire state of the project, our upcoming schedul

[2016-05-05 03:19] #2833 closed

[2016-05-05 03:22] ryzewu commented on #2833
I believe that it is necessary to maintain a version of a sexual, it's simple and easy to understand. If changes will seem very confusing. So please do not change, pleading.

[2016-05-05 03:30] Varorbc commented on #2833
Why not spend more time to fix issues, but to rename and update, please also clear schedule

[2016-05-05 03:38] jeremymeng commented on #2889
@piotrpMSFT I think this bug is about runtime performance (coreclr/corefx/asp.net/etc.) while #2515 is about performance of dotnet/cli tooling. Or am I overlooking anything?

[2016-05-05 05:27] DavidObando opened #2902 "Project.json's "copyToOutput" isn't transitive"
## Steps to reproduce

Have `ProjectA` which defines a `"copyToOutput"` element within its `"buildOptions"` section in `project.json`. When compiled, the file or files in the `"include"` section will be copied to the output, along with `ProjectA.dll`.
**ProjectA**
project.json _("include": ["ProgramA.cs"] is just as an example)_

[code]

ProgramA.cs

[code]

Now, have `ProjectB` which includes `Pr

[2016-05-05 06:12] robmen commented on #2881
@sokket can you share your PATH environment variable after each installation?

[2016-05-05 06:19] ajaybhargavb commented on #2895
Good catch @jeremymeng. Turns out I was using the wrong compilerOption in LibraryExporter. I've created a PR for this fix.

[2016-05-05 08:34] jamesgibbs100 commented on #2802
Hi there,

The command line is this
[code]
As part of my build script I manually copy the deps.json file into the --output directory specified above. If not there then the exception occurs

project.json attached
[project.json.zip](https://github.com/dotnet/cli/files/250120/project.json.zip)

[2016-05-05 08:58] am11 commented on #2871
@piotrpMSFT, with "someString" set for -o like this: https://github.com/am11/MaxMind-DB-Reader-dotnet/commit/c5f92cbc1fc8ac7c72cceb524152c839d6de8f72, the CI [output](https://ci.appveyor.com/project/am11/maxmind-db-reader-dotnet/build/1.0.44/job/0980w0oamfnu854i#L1277) is:

Project MaxMind.Db (.NETFramework,Version=v4.5.1) was previously compiled. Skipping compilation.
Project MaxMind.Db.Benchmark

[2016-05-05 09:12] sivabudh commented on #1405
Running into the same issue on OS X 10.11.4.

For other people on OS X, you can download from this link:
https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/1.0.0-beta-002071/dotnet-dev-osx-x64.1.0.0-beta-002071.tar.gz

[2016-05-05 11:43] sirentek commented on #2807
@brthor :+1:

[2016-05-05 14:02] eerhardt commented on #2865
No, for libraries you can use:

[code]

And replace the version number with the correct build you are targeting.

We have a few sample libraries under https://github.com/dotnet/cli/tree/rel/1.0.0/TestAssets/TestProjects.  They all start with "TestLibrary".

Or if you don't want all of the .NET standard libraries, you can reference each individual one that you need, like: https://github.com/dotnet/

[2016-05-05 15:33] okutlubay opened #2904 "NuGet packages created with dnu pack --out option ("
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

[2016-05-05 15:44] okutlubay opened #2905 "NuGet packages created with dnu pack --out option are not visible when added to another project"
I have a ps script that packs all the projects in the solution and sends to nuget server. And a separate project references them in the project.json. The command I use is:
`dnu pack --configuration Release`
This creates all the output `.nupkg` files under `($projectDir)\bin\Release` folder.

I then decided to consolidate all output under `($solutionDir)\artifacts\Release` folder. So I changed my s

[2016-05-05 15:46] #2904 closed

[2016-05-05 16:19] moozzyk opened #2906 "Can't build for net46 (net451, net452 works fine)"
## Steps to reproduce
Use the https://github.com/aspnet/cli-samples/tree/master/HelloMvc sample.
Add net46 as the target framework
Restore (restores fine)
Build (`dotnet build -f net46`)
## Expected  behavior
Project builds successfully

## Actual behavior
[code]

Note when targeting net451 or net452 the project builds just fine.

## Environment data
`dotnet --info` output:

[code]

[2016-05-05 16:23] davidfowl commented on #2906
Did you remove Microsoft.NETCore.App?

[2016-05-05 16:33] moozzyk commented on #2906
1. It works just fine for net451 and net452
2. Microsoft.NetCore.App is specific to netcoreapp1.0:
[code]
3. If I did not separate Microsoft.NETCore.App - the error I get does not tell me that Microsoft.NETCore.App is causing the problem so the experience is bad.

[2016-05-05 16:47] brendandixon opened #2907 "Grammar bug in CLI output"
## Steps to reproduce
- Compile anything
- Read the message

## Expected  behavior
`Project <redacted> (.NETCoreApp,Version=v1.0) will be compiled because some of its dependencies changed`

The message should use "its" vs. the contraction "it's".

## Actual behavior
`Project <redacted> (.NETCoreApp,Version=v1.0) will be compiled because some of it's dependencies changed`

## Environment data
.NET

[2016-05-05 17:33] brthor commented on #2905
@okutlubay

We appreciate the issue, but `dnu` is a separate product than the one in this repo.

Could you please try installing the `dotnet` cli, trying out with `dotnet pack` and reopening if you still find issues 😄

[2016-05-05 17:33] #2905 closed

[2016-05-05 17:50] okutlubay commented on #2905
Oh, snap. I Sorry about bringing this issue to the wrong place. So; can this new tool compile dnx46 framework projects?

[2016-05-05 17:57] brthor commented on #2905
I haven't personally seen the tfm `dnx46` used, but that doesn't mean it won't work :) It all depends on the packages.

There is another moniker `net46` which may be equivalent.

[2016-05-05 18:14] okutlubay commented on #2905
thanks alot.

[2016-05-05 18:47] ncave opened #2908 "Cannot restore dotnet-compile-fsc tool with fixed version"
## Steps to reproduce
[code]

## Expected  behavior
Restore succeeds.

## Actual behavior
Restore fails with:
[code]

Restore only works with *, and only if the latest NuGet version is matching the installed, like this:
[code]
## Environment data
[code]

[2016-05-05 19:34] DamianReeves commented on #1102
This still seems to be an issue (any updates)? Plain text and authenticated feeds are failing.

[2016-05-05 20:24] aficustree opened #2909 "does not drop binary"
## Steps to reproduce
dotnet new
dotnet restore
dotnet run
dotnet build

## Expected  behavior
binary in ./bin/Debug/netcoreapp1.0/

## Actual behavior
ls from ./bin/Debug/netcoreapp1.0/.
netcoretest6.deps.json              netcoretest6.runtimeconfig.dev.json
netcoretest6.dll                    netcoretest6.runtimeconfig.json
netcoretest6.pdb

## Environment data
`dotnet --info` output:
.NET Comma

[2016-05-05 21:22] jchannon commented on #1368
Same with Kestrel sample app with `.NET Command Line Tools (1.0.0-rc2-002339)`

[2016-05-05 21:46] moozzyk opened #2910 "The exception for invalid paths in project.json is too generic"
## Steps to reproduce

Use the following `include` `publishOptions`:

[code]
## Expected  behavior

[code]
## Actual behavior

The error message should say that the error is in project.json in the publishOptions section (ideally should also point to the property name and call out the value).
## Environment data

`dotnet --info` output:
1.0.0-rc2-002670

[2016-05-05 21:51] brthor commented on #2908
@ncave where are you getting the version `1.0.0-rc2-3002673` ? Can you try with version `1.0.0-rc2-002673` ?

[2016-05-05 22:13] moozzyk opened #2911 "dotnet publish should copy empty folders if they are specified in the include and exist on the disk"
## Steps to reproduce

If you include an empty folder in the publish options but the folder on the disk is empty it is not published.

[code]
## Expected  behavior

Empty folders are published.

This is very useful when you want to enable logging in IIS. IIS by default won't create a folder for you so even if logging is enabled no logs are written. Creating a log folder in the app and publishing i

[2016-05-05 22:22] russellhadley opened #2912 "Standalone exe failing to load clrcompression.dll to unzip file."
## Steps to reproduce

Build https://gist.github.com/russellhadley/63d8e4bdd856bc5e29c201cbde36c09e  as a stand alone exe.

Publish to a seperate "bin" directory

Run exe in a directory with the attached Product.zip.

## Expected  behavior

Product.zip will be unzipped and produce a Product directory and sub directories.

## Actual behavior

clrcompression.dll fails to load.  Under windbg this the

[2016-05-05 22:33] dsgouda opened #2913 "Building an app using dotnet cli without Microsoft.NETCoreApp dependency"
## Steps to reproduce

When trying to build an app with an entrypoint using the minimum set of dependencies (NETStandard.Library instead of the whole Microsoft.NetCoreApp), dotnet cli generates the following error

[code]

A sample project.json looks like:

[code]
## Expected  behavior

dotnet cli should be able to generate a cross-plat dll with an entrypoint
## Actual behavior
## Environment data

[2016-05-05 22:38] moozzyk opened #2914 "dotnet publish should warn if include globbing patterns did not catch anything"
## Steps to reproduce

[code]

`abcdef` does not exist on disk.
## Expected  behavior

A warning saying that no files/folders were found for this pattern. It would be useful to catch typos or incorrect globs after the application was restructured but before it is deployed/run
## Actual behavior

No warning.
## Environment data

`dotnet --info` output:

[code]

[2016-05-05 22:42] ncave commented on #2908
Well yes, of course it works! Thanks for the second pair of eyes!

[2016-05-05 22:42] #2908 closed

[2016-05-05 23:28] jasonwilliams200OK opened #2915 "Duplicate output files for net452"
## Steps to reproduce
Install latest cli build.
[code]

Replace the content with (adding net451 and inlining netcore deps):

[code]

Now run `tree /F bin` to find out what we got in `bin\Debug\net451` versus `bin\Debug\netcoreapp1.0`.

## Expected  behavior

Both output framework folders should have same structure and there shouldn't be duplicated exe+pdb in case of net452.

[code]

## Actual beha

[2016-05-06 00:15] kichalla opened #2916 "Restore fails for 'dotnet new -l F#' created project"
## Steps to reproduce
I am validating a tool called `dotnet watch` for the next release and as part of it, I would like to test it with a non-C# based project. I tried doing a `dotnet new -l F#` but the restore fails.

## Expected  behavior
Restore succeeds and able to run `dotnet run` successfully

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

The project.json th

[2016-05-06 00:21] kichalla commented on #2916
I just noticed there was a bug filed earlier for this: https://github.com/dotnet/cli/issues/2384

The workaround (updating nuget.config) mentioned in that issue doesn't work for me

[2016-05-06 00:23] brthor commented on #2916
@kichalla Share your updated NuGet.config please

[2016-05-06 00:26] kichalla commented on #2916
Its the following (as mentioned earlier, this was from the other issue where a user mentioned it worked for him)
[code]

Error
[code]

[2016-05-06 00:27] brthor commented on #2916
Add this:

[code]

To the NuGet.config you had earlier and give it a try.

[2016-05-06 00:37] kichalla commented on #2916
Thanks @brthor , that worked. (however I had to upgrade my CLI version to 2677 though)

just fyi: the output looks like below when i do `dotnet run`

[code]

[2016-05-06 00:39] brthor commented on #2916
What is `[||]` 😄

Where's that coming from?

[2016-05-06 00:48] piotrpMSFT commented on #2915
@jasonwilliams200OK this behavior is mostly by-design.

The net452 target is standalone, unlike the netcoreapp project which is portable. The behavior of CLI is to produce a runnable output for standalone targets in the context of a RID-specific directory like win7-x64. The parent directory, which duplicates the output, is to contain the RID-independent IL output.

I say that the behavior is mostl

[2016-05-06 00:51] piotrpMSFT commented on #2916
I'm going to assume that the `[||]` is an intended output of the app. If we're seeing that `dotnet run` is appending a funny string to the output then please open another issue to track :)

[2016-05-06 00:51] #2916 closed

[2016-05-06 00:54] piotrpMSFT commented on #2913
@blackdwarf @gkhanna79 @glennc can you guys weigh in on this one? Enabling the creation of libraries with emitEntryPoint seems quite reasonable and enables app entry points to come in as dependencies instead of having to be the core application itself.

However, I'm concerned that the library produced can be expected to be a runnable application though its dependency closure is not sufficient to a

[2016-05-06 00:56] piotrpMSFT commented on #2912
@schellap @gkhanna79 @ericstj it's not clear to me where the associated warning is coming from. Can any of you shed some light on this?

[2016-05-06 01:00] piotrpMSFT commented on #2909
This is by-design. The default project template produced by `dotnet new` creates a portable application. This application can be executed on any RID [otherwise, any supported OS+CPU Architecture] for which a .NET Shared Framework is available.

When the Shared Framework is installed an executable called `dotnet` is added to the path. You can now run your application by executing `dotnet path/to/yo

[2016-05-06 01:00] #2909 closed

[2016-05-06 01:02] piotrpMSFT commented on #2907
Great catch!

[2016-05-06 01:10] refaati commented on #468
@GuardRex , the packages folder *is* available on the ISO media, but not available in the Nano Server IaaS image on Azure, nor in the downloadable developer VHD.  Instead, people should use the Find-NanoServerPackage and Install-NanoServerPackage cmdlet to acquire and install the required packages from the cloud repository.
Please consult the Nano Server [documentation](https://technet.microsoft.c

[2016-05-06 01:14] GuardRex commented on #468
@refaati Ah! ... thank you. That will definitely speed me up this weekend.

[2016-05-06 01:18] aficustree commented on #2909
Thanks @piotrpMSFT . I didn't understand the change when i upgraded from the version on the landing page of 'get started'. Many thanks!

[2016-05-06 02:10] dasMulli commented on #2915
The difference between the two outputs seems to be that in the RID-specific directory, all non-framework/build dependencies will be dropped.

However, for net* targets you can apparently use arbitrary RIDs 😉
[code]

[2016-05-06 04:08] blackdwarf commented on #2913
@piotrpMSFT yeah, this is interesting. If we believe that the scenario is worthwhile, then guidance should be that these artifacts are not runnable and should not be ran on their own. Of course, that could lead to some confusion.

[2016-05-06 06:46] piotrpMSFT commented on #2902
@davidfowl @anurse @cdmihai @Sridhar-MS @brthor I think this is representative of a bigger design concern. copyToOutput is one example of how the output directory of a project might get mutated. scripts are another. I think that our policy should be to take the full output directory, less `publish`, and treat it as the set of assets that get copied to p2p references. What are your thoughts?

[2016-05-06 06:57] songdongsheng commented on #2727
RID break such a UNIX programming philosophy, check the feature, not the distribution.

Just use the feature, exit with a clear error message when no such a feature exist, to say the least of it.

[2016-05-06 07:04] davidfowl commented on #2727
@tmds I'm not sure I understand what you're asking for? The RID graph is here https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json. It's just a hierarchy of names and imports that form a relationship (fallback order etc). There's a generic unix and linux already and you can see the more specific RIDs inherit from them.

You have to think of a RID as a package p

[2016-05-06 07:06] davidfowl commented on #2902
What does msbuild do?

[2016-05-06 07:06] piotrpMSFT commented on #2906
@eerhardt can you please take a look and understand why this is failing for net46?

[2016-05-06 07:23] songdongsheng commented on #2727
No.

To be more clear, if an application running on RHEL 7.2, it should running correctly both on CentOS 7.2 and Oracle Linux 7.2.

But dotnet just report no runtimes compatible with RID  'ol.7.2-x64'.
Looks like a joke !

$ dotnet build -c Release
Can not find runtime target for framework '.NETCoreApp,Version=v1.0' compatible with one of the target runtimes: 'ol.7.2-x64'. Possible causes:
1. The

[2016-05-06 07:28] schellap commented on #2912
I took a look at this with @russellhadley and noticed that the DLL was present in the folder. The host passes the right path and coreclr passes the right path to `LoadLibraryExW`. One thing I noticed was the clrcompression.dll comes from `win10-x64`. My APISets alarms went off immediately. But this is a standalone app, so forwarders are present in the app base. From the exception message it appear

[2016-05-06 07:48] dasMulli commented on #2727
I can see two themes here:

1. Request to more visibly support the generic `linux` RID.
Probably this is just a documentation issue because people only see the samples using the distro+version RIDs.
I'm sure there are a lot of people putting together custom linux environments or using non-mainstream distributions wondering if and how they can get netcoreapp-s working there. Maybe something like "i

[2016-05-06 09:25] mikowiec opened #2917 "Unable to resolve 'Microsoft.NETCore.App on OSX"
## Precondition
OSX 10.9.2
.NET CLI 1.0.0-rc2-002659

## Actual behavior
- Installed .NET CLI 1.0.0-rc2-002659
- make link: ln -s /usr/local/share/dotnet/dotnet /usr/local/bin
➜  clrtest1 dotnet --version
1.0.0-rc2-002659

## Steps to reproduce
- make new test project: dotnet new
  generated files: NuGet.Config Program.cs   project.json
- dotnet restore
     error result obtained.

log  : Restorin

[2016-05-06 11:06] tmds commented on #2727
@davidfowl @dasMulli Thanks for clarifying. I wasn't aware of the RID graph. How well does the generic linux RID work today? My experience is dotnet only works on the supported linux flavors. E.g. if you try to run it in ubuntu 15.10, it doesn't use the generic linux RID bit fails because it cannot find assemblies for the more specific ubuntu 15.10 RID.

[2016-05-06 11:17] roji commented on #2429
Using 1.0.0-rc2-002678, simply trying to execute `dotnet run` in an empty directory gives an NRE.

[2016-05-06 11:55] tmds commented on #2727
@dasMulli How do you include the RID in your project.json?

[2016-05-06 12:00] BeelzeBu commented on #2917
which nuget packages are you using? please post your Nuget.config

[2016-05-06 12:49] blackdwarf commented on #2886
@sokket I will be making a PR to do this as soon as we finish the current work of shipping. So, ideally, I guess, the uninstall script should be placed in the root of the drop folder? Called something like "remove-dotnet.sh" or similar?

[2016-05-06 13:37] gkhanna79 commented on #2912
@piotrpMSFT This means that the binary was built with the AppX bit set that can only be used within the AppX container. It needs to have that flag unset. @weshaggard PTAL.

[2016-05-06 14:11] nonbackwards opened #2918 "build.sh isnt working in Fedora 23"
## Steps to reproduce
[code]

## Actual behavior
[code]

## Environment data
`Linux fedora-ll 4.4.8-300.fc23.x86_64 #1 SMP Wed Apr 20 16:59:27 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

[2016-05-06 14:25] GuardRex commented on #2912
From @ericstj in https://github.com/aspnet/dnx/issues/3378#issuecomment-200004525

Quick Side Question: Is that guidance still in effect for RC2 release and apps destined for WS 2016/Nano/Win10 that are web apps that will be running under IIS?

I'm partially asking for my own apps, but this is the advice we're giving on JabbR to those interested in creating self-contained apps (stick with `win81-x

[2016-05-06 14:25] am11 commented on #2918
Seems like the latest Unix packages are inaccessible/unavailable at the moment. I am using the install script (https://github.com/dotnet/cli/tree/b18df1c/scripts/obtain) for Travis CI and it is failing due to the very reason: https://travis-ci.org/am11/MaxMind-DB-Reader-dotnet/jobs/128309626. However, that was not the case few hours ago.

[2016-05-06 14:27] dasMulli commented on #2727
You would have a project.json like this:

[code]

But that will give you the restore error mentioned before:
[code]

But i'm still not sure if having a completely "generic linux" runtime is feasible (and don't know who to ask..). After all, there are native components that are built using headers provided by the distros.

[2016-05-06 14:51] GuardRex commented on #2911
@moozzyk Beat you to it bro ... dup of https://github.com/dotnet/cli/issues/1396

[2016-05-06 15:33] schellap commented on #2912
@russellhadley, this line seems like the cause:

https://github.com/russellhadley/mcgutils/blob/master/src/cijobs/project.json#L21

Could you please change it to `win7-x64` and give it a shot?

[2016-05-06 15:54] mikowiec commented on #2917
I've created the test project with "dotnet new" command. There are 2 files: Program.cs and project.json

--------------
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },
  "dependencies": {
    "Microsoft.NETCore.App": {
      "type": "platform",
      "version": "1.0.0-rc2-3002659"
    }
  },
  "frameworks": {
    "netcoreapp1.0": {
      "imports": "dnxcore50"

[2016-05-06 16:05] russellhadley commented on #2912
@schellap I can confirm that win81-x64 and win7-x64 works.    It was confusing to me since I think that I just used the dotnet --info to grab the rid for the machine I was on.  Where should I have gotten this guidance?  (for standalone command line exe)

[2016-05-06 16:13] natemcmaster commented on #2840
I wonder if this is a more general bug. I've hit an issue with `OutputPathCommandResolver`. It tries to look for a command in `bin/$config/$tfm/$rid` when the library is actually in `bin/$config/$tfm`.

[2016-05-06 16:20] natemcmaster opened #2919 "ProjectDependenciesCommandFactory cannot find command in desktop .NET class library project"
## Steps to reproduce
Create a sample project using dotnet-ef
[code]
[code]

## Expected  behavior
dotnet-ef.dll (in Microsoft.EntityFrameworkCore.Tools) should dispatch via ProjectDependenciesCommandFactory to Microsoft.EntityFrameworkCore.Tools.Cli.exe (a project dependency) and list all migrations in the project

## Actual behavior
[code]

`ProjectDependenciesCommandFactory` tries to find a com

[2016-05-06 16:23] mellinoe commented on #2912
@ericstj, @weshaggard I thought we fixed this in the Compression package? Only "aot" runtimes should get the AppX version of the native DLL.

[2016-05-06 16:24] eerhardt commented on #2906
It looks like the project.lock.json file is incorrect:

[code]

Notice the compile value of `"ref/net46/_._": {}`.  But when I look at the package for System.Diagnostics.FileVersionInfo in my nuget package cache `%userProfile%\.nuget\packages\System.Diagnostics.FileVersionInfo\4.0.0-rc2-24027\ref\net46` there is an actual assembly there: `System.Diagnostics.FileVersionInfo.dll`.

Looking through t

[2016-05-06 16:34] eerhardt commented on #2906
Looking at why these assemblies are getting included, they all come from `Microsoft.CodeAnalysis.Common`.  An interesting thing looking at that nuspec is that all the assemblies that are being complained about are all marked "exclude=Compile" in the nuspec:

[code]

[2016-05-06 16:43] eerhardt commented on #2906
One other question I have about this is: I thought net46 supported netstandard1.3?  If that's true, then why are there both net46 and netstandard1.3 folders in the NuGet package for `System.Diagnostics.FileVersionInfo`?  Shouldn't there only be the netstandard1.3 folder? And net46 uses netstandard1.3.

/cc @ericstj

[2016-05-06 16:46] weshaggard commented on #2912
I think @ianhays fixed it recently with PR https://github.com/dotnet/corefx/pull/7840.

[2016-05-06 16:51] davidfowl commented on #2906
This is a bug in the CLI, the code we have to infer reference assemblies from package references based on the placeholder is just busted. I can think of a few practical rc2 ways to fix this:
- remove that logic and force consumers to manually add the facades to the framework assemblies list
- remove the logic and always add all facades
- try to figure out if there's a placeholder in the package vs

[2016-05-06 16:52] ianhays commented on #2912
Yeah, I moved the AppX clrcompression to lib/netcore50 so it shouldn't be restoring on non-aot runtimes.

Either way though the RID used should be win7-x64

[2016-05-06 16:59] mellinoe commented on #2912
`win10-x64` should be fine, unless I'm missing something. You should only get the AppX version if you target `netcore50`.

[2016-05-06 17:02] ianhays commented on #2912
But we don't have a non-AppX version for win10, so wouldn't you just not get anything?

[2016-05-06 17:04] russellhadley commented on #2912
I am targeting netcore50.  The commandline tools I'm building need to run across Linux, Windows, and OSX so I was trying to target the portable surface available xplat.

[2016-05-06 17:14] eerhardt commented on #2906
What if we added all the files in the package file list that matched "ref/<targetFramework>/*" and weren't `_._`?  We "deduplicate" the libraries later, so even if it gets added multiple times, the right one will still get picked, right?

[2016-05-06 17:17] eerhardt commented on #2906
Another thought is - maybe this shouldn't be an error.  Maybe it should be a warning, and we continue with the compile step.  Only if the compiler needs the assembly, and it can't be found, will an actual error be created.

[2016-05-06 17:17] NTaylorMullen opened #2920 "net46, net461, net462 projects can't be built when trying to include Mvc as a dependency"
## Steps to reproduce
- Create the following `project.json`
[code]
*You can replace net46 with net461/net462 and get the same effect*.
- Add a class:
[code]
- Run `dotnet restore` (it completes successfully).
- Run `dotnet build`

## Expected  behavior
Works because the lock file is valid and contains the appropriate entries.

## Actual behavior
[code]

## Environment data
[code]

This seems like

[2016-05-06 17:19] Eilon commented on #2920
cc @pranavkm

[2016-05-06 17:19] sokket commented on #2886
That would be a good start; there still isn't a good way to find that script though :(

[2016-05-06 17:20] pakrym commented on #2920
Dup: https://github.com/dotnet/cli/issues/2906

[2016-05-06 17:25] #2920 closed

[2016-05-06 17:32] moozzyk opened #2921 "dotnet quit unexpectedly on Mac OS"
## Steps to reproduce

[code]
## Expected  behavior

no crash (or at least no pop up)
## Actual behavior

Process:               dotnet [817]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        dotnet [814]
Responsible:           iTerm [751]
User ID:               501

Date/Time:

[2016-05-06 17:37] emgarten commented on #1102
@DamianReeves please open a new issue on http://github.com/NuGet/Home/issues if you are still having trouble using basic auth with dotnet restore.

[2016-05-06 17:48] blackdwarf commented on #2886
@sokket ok, so where should it be then? Would symlinking it to `/usr/local/bin` help?

[2016-05-06 17:52] brthor commented on #2919
@natemcmaster

If you put
[code]

in your project.json does this work?

[2016-05-06 17:53] GuardRex opened #2922 "buildOptions>platform bitness mismatch with self-contained publish RID will compile/publish but will fail to run"
## Steps to reproduce
1. Add `"platform": "x86"` to `buildOptions`
2. Set the RID to a different bitness ... e.g, `x64` flavor RID, `win81-x64` in my case
3. Restore
4. `dotnet publish -r win81-x64`
5. Deploy
## Expected  behavior

At least a warning that this is going to fail ... but probably an error should be produced at compile/publish.
## Actual behavior

Application successfully compiles/pub

[2016-05-06 17:53] Sridhar-MS commented on #2919
@brthor I was about to comment the same thing :)

[2016-05-06 17:54] sokket commented on #2886
That would help on Ubuntu...on OS X I'm not entirely sure where would be a good place for it. Maybe in the User's Applications folder?

[2016-05-06 17:57] Sridhar-MS commented on #2919
I tried with the runtimes section but I get a different error

`Could not invoke this command on the project. Check that the version of Microsoft.EntityFrameworkCore.Tools in "tools" and "dependencies" are the same`

[2016-05-06 17:58] natemcmaster commented on #2919
It's the same error. Build output is still in `bin/Debug/net451/` :-/

[2016-05-06 18:00] brthor commented on #2919
@natemcmaster did you rerun restore?

[2016-05-06 18:02] brthor commented on #2919
Setting up a local repro

[2016-05-06 18:02] natemcmaster commented on #2919
@brthor yes. Deleted bin/ and obj/ and rebuilt too.

[2016-05-06 18:12] Sridhar-MS commented on #2919
@natemcmaster is this the correct Nuget.config?

[code]

[2016-05-06 18:15] natemcmaster commented on #2919
@Sridhar-MS yes, that's the feed.

[2016-05-06 18:19] brthor commented on #2919
If you make `emitEntryPoint` true, this works.

Looking into fixes for emitEntryPoint False.

[2016-05-06 18:21] blackdwarf commented on #2886
Well...there is another option. We put everything in the `/etc/paths.d` anyway, so that means that users will be able to invoke it from wherever. We document the command in the installer and the rest of the docs. Then it doesn't matter where it lives.

Applications are "ok" I guess, though I don't know what is the policy for shell scripts in that dir/

[2016-05-06 18:23] mikeandersun commented on #2919
`dotnet build` produces this error :
`An item with the same key has already been added. Key: Microsoft.DotNet.ProjectM
odel.ProjectContextBuilder+LibraryKey`

[2016-05-06 18:25] onovotny commented on #2796
I'm not sure we're out of the woods yet. Latest CLI and I get errors somehow. It's inconsistent but here's a bad lock file:
https://gist.github.com/onovotny/40c19dbddbab633f4424598829d1ed22

dotnet build fails with:
An item with the same key has already been added. Key: Humanizer

The latest code has been pushed to the Humanizer dev branch.

[2016-05-06 18:30] onovotny commented on #2796
Might this have something to do with xproj -> csproj refs?

[code]
This is wrong. Humanizer.DotNet.xproj uses project.json. The csproj Humanizer uses Humanizer.project.json.

[2016-05-06 18:39] brthor commented on #2919
@mikeandersun

Is this build break from the project above? I am not seeing this.

[2016-05-06 18:40] krwq commented on #2921
hey, could you share your repro? (project.json + some minimal .cs file if possible)

[2016-05-06 18:42] krwq commented on #2921
cc: @schellap @brthor @Sridhar-MS @eerhardt, anyone seen anything similar?

[2016-05-06 18:44] krwq commented on #2922
cc: @piotrpMSFT

[2016-05-06 18:45] brthor commented on #2921
@moozzyk From the error above, it's pretty clear the error is in libuv. What indicates this issue is caused by the cli?

[2016-05-06 18:49] krwq opened #2923 "install.sh should fail when OS is not detected correctly"
## Steps to reproduce
Go to not supported OS and install.sh

## Expected  behavior
Error about wrong OS

## Actual behavior
Error is being displayed but script keeps going

## Environment data
`dotnet --info` output:

See this for reference:
https://github.com/dotnet/cli/issues/2918

[2016-05-06 18:52] krwq commented on #2918
Your OS is not being detected correctly
https://github.com/dotnet/cli/blob/b18df1c51cfbfcbe4a27deb48b577737c9800751/scripts/obtain/dotnet-install.sh#L59

@am11, I'm not confident this is the same issue. Could you share a log with `./dotnet-install.sh --version`?

[2016-05-06 18:52] dasMulli commented on #2917
You need to create a NuGet.config to use the CI builds. See https://github.com/dotnet/cli/issues/2545#issuecomment-211062041

[2016-05-06 18:55] NTaylorMullen opened #2924 "Microsoft.NETCore.App cannot be restored on projects with netstandard1.0, netstandard1.1, netstandard1.2, netstandard1.3, netstandard1.4."
## Expectations
`Microsoft.NETCore.App` currently targets netstandard1.0 which lead me to believe it'd be possible (although not recommended) to use it in a >= netstandard1.0 project. However, it seems that the package is hand crafted and has dependencies that are inconsistent with its actual TFM.

## Steps to reproduce
- Create a project with the `project.json`:
[code]
*You can can change the net

[2016-05-06 18:57] mikeandersun opened #2925 "An item with the same key has already been added. Key: Microsoft.DotNet.ProjectM odel.ProjectContextBuilder+LibraryKey"
`dotnet`build produces this error :
`An item with the same key has already been added. Key: Microsoft.DotNet.ProjectM odel.ProjectContextBuilder+LibraryKey
`

[2016-05-06 19:03] am11 commented on #2918
@krwq, I was playing around with the script and just realized that this is not the same issue, as you noted.
Nonetheless, here is the log on OS X (running locally):

[code]

Looks the line line after "Zip path" has the jumbled URL string. Could be due to the `echo "";return 0 ` pattern used in construct_download_link routine. Same thing is happening in TravisCI. Yesterday, the same script was work

[2016-05-06 19:04] krwq commented on #2925
Hey @mikeandersun,

Please share following:
- `dotnet -v build` output
- `dotnet --info` output
- some repro (project.json + Program.cs)
- your OS information

[2016-05-06 19:06] mikary opened #2926 "dotnet-test NetCoreApp1.0 throws FileNotFoundException on win7-x64"
## Steps to reproduce

run `dotnet test` in project with `netcoreapp1.0` target framework on Windows 7-x64

project.json:

[code]
## Expected  behavior

Unit tests run with NetCoreApp1.0 TFM
## Actual behavior

opens dialog "dotnet.exe has stopped working"

Console output:

[code]
## Environment data

`dotnet --info` output:
.NET Command Line Tools (1.0.0-rc2-002678)

Product Information:
 Version

[2016-05-06 19:07] mikeandersun commented on #2925
dotnet -v  output:
[code]

[2016-05-06 19:10] piotrpMSFT commented on #2921
@moozzyk looks like an app issue with port in use. Do you see something deeper here?

[2016-05-06 19:11] piotrpMSFT commented on #2922
This seems to be a configuration issue in project.json. We should add a better warning/error to help folks track this down. Let's look at this for RTM.

[2016-05-06 19:14] brthor commented on #2926
Try: "dotnet-test-xunit": "1.0.0-rc2-173361-36"

[2016-05-06 19:16] piotrpMSFT commented on #2924
@weshaggard can you take a look at this one?

[2016-05-06 19:16] brthor commented on #2924
[code]

Has been intended to be used for runnable applications targeting netcoreapp1.0

When using netstandard tfms it is expected that you will use NETStandard.Library.

[2016-05-06 19:16] NTaylorMullen opened #2927 "Microsoft.NETCore.App type: platform can be restored but not built for netcore50 projects"
## Steps to reproduce
- Create a project with the `project.json`:
[code]
- Add a class
[code]
- Run dotnet restore (completes successfully, but shouldn't).
- Run dotnet build

## Expected  behavior
Restore should have failed with
[code]

## Actual behavior
Restore succeeds and build fails with:
`error NU1002: The dependency System.Runtime.Loader 4.0.0-rc2-24027 does not support framework .NETCore,

[2016-05-06 19:19] NTaylorMullen commented on #2924
@brthor of course, but the package should reflect that (aka denoting where a package can be restored). It targeting `netstandard1.0` breaks the promise of a nupkg. My suggestion is to up `Microsoft.NETCore.App` to `netstandard1.3`.

[2016-05-06 19:20] mikary commented on #2926
Is there a different package source for that? Doesn't appear to resolve from nuget.org

[code]

[2016-05-06 19:20] brthor commented on #2924
@NTaylorMullen deleted the comment right after I posted it, since I realized this issue was not about quite the same thing. 😄

[2016-05-06 19:21] piotrpMSFT commented on #2924
The project.json for Microsoft.NetCore.App actually states netstandard1.5. However, I see we're using pkgproj for the creation of this package and its configuration is out of sync:
https://github.com/dotnet/cli/blob/rel/1.0.0/pkg/projects/Microsoft.NETCore.App/Microsoft.NETCore.App.pkgproj#L12

@weshaggard please take a look. This does seem rather bad.

[2016-05-06 19:21] brthor commented on #2926
@Sridhar-MS @piotrpMSFT Is there a package source for dotnet-test-xunit?

[2016-05-06 19:25] lodejard opened #2928 "dotnet --version incorrect"
## Steps to reproduce
Download dotnet-dev-win-x64.latest.zip
run `dotnet --version`

## Expected  behavior
`1.0.0-preview1-002692`

## Actual behavior
`1.0.0-preview1-preview1-002692`

## Environment data
`dotnet --info` output:
[code]

[2016-05-06 19:27] piotrpMSFT commented on #2926
The issue here is likely the order of the imports. Please put dotnet first.

@mikeray already has a NuGet.config pulling an older dotnet-test-xunit from somewhere. I don't think we need to update here to fix the issue.

[2016-05-06 19:30] lodejard opened #2929 "corhost.exe Did not find a suitable dotnet SDK"
## Steps to reproduce
Download dotnet-dev-win-x64.latest.zip
[code]

## Expected  behavior
Help text

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
[code]

[2016-05-06 19:36] mikary commented on #2926
Moving `"dotnet-test-xunit": "1.0.0-rc2-173361-36"` to the first dependency doesn't appear to change the behavior

[code]

[2016-05-06 19:38] lodejard opened #2931 "shared Microsoft.NETCore.App folder commands are silent"
## Steps to reproduce
Download dotnet-dev-win-x64.latest.zip
cd `shared\Microsoft.NETCore.App\1.0.0-rc2-3002692`
Run various dotnet.exe and corehost.exe `--version` and `--help` switches

## Expected  behavior
Version and help information

## Actual behavior
[code]

**NOTE** these are not typos - this is literally cut and paste from a cmd prompt. The corehost.exe said "Usage: dotnet". And the sdk

[2016-05-06 19:46] moozzyk commented on #2921
I realized that I did not attach the screenshot. Yes, the application could not start because the port was in use. That's fine. But each time it crashed I got this popup window which I did not expect since all the details are already in the console. This popup windows wants to report the error to Apple - so I guess this is a counter part of Watson for Windows?

The details I pasted were copied fro

[2016-05-06 19:47] natemcmaster commented on #2919
This is related to https://github.com/dotnet/cli/issues/2645

[2016-05-06 19:55] brthor commented on #2926
@mikary @piotrpMSFT
I remember seeing issues with older dotnet-test-xunit pulling in an old dependency model, I suspect that is the issue here.

[2016-05-06 19:57] coolcsh commented on #2833
Here is the blog post that explains the renaming: https://blogs.msdn.microsoft.com/dotnet/2016/05/06/net-core-rc2-improvements-schedule-and-roadmap/

[2016-05-06 20:00] brthor commented on #2921
@schellap
Did you recently do some work to enable a similar popup on windows?

Could you take a look?

[2016-05-06 20:07] krwq commented on #2928
repros here, same thing is happening for dotnet --info

[2016-05-06 20:08] schellap commented on #2921
When an application crashes if the user has configured the OS to report errors then these dialogs pop up for privacy consent, discoverability of the error etc.

In windows, you can disable WER: https://technet.microsoft.com/en-us/library/cc754364(v=ws.11).aspx and similar for OSX: http://osxdaily.com/2010/02/15/disable-the-crash-reporter-dialog-in-mac-os-x/

[2016-05-06 20:08] Sridhar-MS commented on #2928
we are somehow messing up the option that is passed to here - https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Compiler.Common/AssemblyInfoOptions.cs#L22

[2016-05-06 20:11] moozzyk commented on #2921
Interestingly when I run a standalone app I don't get the popup but I do get `Abort trap: 6` - not sure if this is expected.

[code]

[2016-05-06 20:13] piotrpMSFT commented on #2919
Per #2645, running dependency commands for libraries is currently unsupported. We're fixing this issue by providing a cleaner error message.

[2016-05-06 20:14] piotrpMSFT commented on #2931
The CoreHost and Dotnet.exe in the SxS directory have both been superseded by the muxer in the root directory. After the next release we have a plan to remove both of these artifacts since they're not adding value and are creating considerable confusion.

[2016-05-06 20:15] piotrpMSFT commented on #2929
Same as in https://github.com/dotnet/cli/issues/2931, this binary is planned for removal after this release.

[2016-05-06 20:15] #2929 closed

[2016-05-06 20:15] moozzyk commented on #2921
@schellap - I don't have a deep understanding of Mac and don't know when the error reporting popup shows up. My understanding was that managed applications should not trigger this because we should be handling all errors and in the worst case the application should exit returning non-0 exit code.
For instance if I trigger a known dotnet bug it won't trigger the popup:

[code]

[2016-05-06 20:15] piotrpMSFT commented on #2928
@Sridhar-MS do we have a fix available?

[2016-05-06 20:17] piotrpMSFT commented on #2927
@NTaylorMullen is the issue here NuGet behavior? Or NetCore.App NuGet configuration?

[2016-05-06 20:18] lodejard commented on #2931
@piotrpMSFT how will someone specify exactly which coreclr they want to run directly? it sounds like this decision is different than any SxS runtime I've seen before (java, ruby, node, etc, etc, etc).

[2016-05-06 20:49] cdmihai commented on #2902
With MSBuild, it depends on what the user targets implement. Each project type has its own deployment targets and deployment logic. MSBuild itself has no knowledge of project models.

Looking into Microsoft.Common.CurrentVersion.targets, I found this [Publish](https://github.com/Microsoft/msbuild/blob/master/src/XMakeTasks/Microsoft.Common.CurrentVersion.targets#L4733) target which only applies to

[2016-05-06 20:58] mikeandersun commented on #2925
@krwq  I re-install last wervion on .NETCore SDK and the error go away. but this is  a new error when i run  `dotnet run` :
`Object reference not set to an instance of an object.
`

[2016-05-06 21:02] andschwa opened #2934 ".\install.ps1 version isn't working"
## Steps to reproduce

[code]

## Expected  behavior

Usable version is installed.

## Actual behavior

[code]

[2016-05-06 21:22] piotrpMSFT commented on #2934
@sridhar-ms it looks like version.txt is also broken by recent version change.

[2016-05-06 21:26] piotrpMSFT commented on #2925
@mikeandersun what --info produced that error?

[2016-05-06 21:31] piotrpMSFT commented on #2931
@lodejard this will be done via muxer param. Yep, it's different and simplifies a bunch of scenarios.

[2016-05-06 21:31] #2931 closed

[2016-05-06 21:43] gkhanna79 commented on #1374
@schellap PTAL if anything is required to be done.

[2016-05-06 21:43] gkhanna79 commented on #2531
Closing this since as it is no longer actionable.

[2016-05-06 21:43] #2531 closed

[2016-05-06 21:53] #2895 closed

[2016-05-06 22:08] troydai commented on #2928
Looks like blocks all SDK operations
[code]

[2016-05-06 22:08] Chandu opened #2935 "Installer (1.0.0.001598) fails on Windows 10"
## Steps to reproduce
1) Download the installer for windows from https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0.001598/dotnet-win-x64.1.0.0.001598.exe
2) Run the installer

## Expected  behavior
Should install dotnet cli successfilly.

## Actual behavior
The install fails right away:
![error](https://cloud.githubusercontent.com/assets/261027/15087283/945e67d6-13b5-11e6-9c0e-2

[2016-05-06 22:12] #2906 closed

[2016-05-06 22:25] piotrpMSFT commented on #2935
1598 is a very old build. You can get a newer preview build from https://github.com/dotnet/cli.

[2016-05-06 22:25] #2935 closed

[2016-05-06 22:30] Chandu commented on #2935
@piotrpMSFT Thanks. The page http://dotnet.github.io/getting-started/#/windows points to this build.

[2016-05-06 22:34] piotrpMSFT commented on #2928
can you `ls` `/Users/troydai/.dotnet/sdk` @troydai ?

[2016-05-06 23:09] shanselman commented on #2556
@moozzyk was able to build it a while back. I still need to get him his Raspberry Pi back, in fact.

[2016-05-06 23:14] moozzyk commented on #2556
I was actually thinking about trying to enable dotnet on ARM... CoreClr on ARM works and the cli itself does not have a lot awful of native code.

[2016-05-06 23:37] Sridhar-MS commented on #2928
Can someone build this branch and give it a try?
https://github.com/Sridhar-MS/cli/tree/version-suffix

`build.cmd -targets Prepare,Compile`

[2016-05-06 23:39] Sridhar-MS commented on #2928
@troydai can you set COREHOST_TRACE=1 and give it a try?

[2016-05-06 23:41] Sridhar-MS commented on #2934
Can you give the output of `./install.ps1 -Verbose`

cc @krwq

[2016-05-06 23:44] Sridhar-MS commented on #2934
The version.txt file has the right version in it - https://dotnetcli.blob.core.windows.net/dotnet/beta/dnvm/latest.win.x64.version

[2016-05-06 23:56] Sridhar-MS commented on #2934
This is side affect of this issue #2928 and MultiCoreJit feature.

[2016-05-07 00:07] troydai commented on #2928
[code]

[2016-05-07 00:07] troydai commented on #2928
i reinstall the `1.0.0-rc2-002678` build it covers. between `install.sh` and `dotnet-install.sh` which one should be used?

[2016-05-07 00:10] troydai commented on #2928
With trace
[code]

[2016-05-07 00:12] troydai commented on #2928
Files are unevenly distributed between two folders:
[code]

[2016-05-07 00:15] dsgouda opened #2937 "dotnet pack does not support the "suppressParam" flag"
## Steps to reproduce

When trying to build a cross plat app using dotnet cli with reference to Microsoft.NETCoreApp with a  `"suppressParent": "all"` set, the NETCoreApp dependency is not suppressed. It would be helpful in scenarios where we do not wish to take a dependency on the entire NETCoreApp framework as described here https://github.com/dotnet/cli/issues/2913
## Expected  behavior

NETCor

[2016-05-07 00:17] lajones commented on #2859
I just tested this for RC2. I see the same issue. Not having previously worked in this area, I would have liked to see a message like "Loaded matching assembly named <assembly_name> from package <package_name> but that assembly does not contain an entry point. This link <fwlink> explains how to properly create a tool." or some such thing. I.e. Help me identify where the problem is and then tell me

[2016-05-07 00:18] brthor commented on #2928
@troydai @Sridhar-MS  found the issue and has a fix incoming

[2016-05-07 00:31] moozzyk opened #2938 "Publishing net451 project with P2P references does not work - NullRefException"
## Steps to reproduce
1. Create a project that has a P2P reference to a net451 (e.g. use this: https://github.com/aspnet/cli-samples/commit/42bde3dcb47586567a175e3a6c30014821197b16)
2. Restore
3. Publish

## Expected  behavior
Publishing succeeds

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

[2016-05-07 00:37] lajones opened #2939 "Error Message when running a non-existent tool could be better"
VS build 14.0.25123.00 Update 2
 ASP.NET and Web Tools 2015.1 (RC2) 14.1.20425.0

## Steps to reproduce
Create a .NETCore Console App project called `XyzTool`.
Pack that into a nuget package `XyzTool`
Create a different .NETCore Console app project
Update the project.json to have `"XyzTool": "1.0.0"` in both the `dependencies` and `tools` sections.
Run `dotnet restore` on the Console app project
A

[2016-05-07 00:46] moozzyk opened #2940 "Installer - half of the name is not visible"
![image](https://cloud.githubusercontent.com/assets/1438884/15089158/7cb5893c-13b2-11e6-95db-457111440517.png)

[2016-05-07 01:02] moozzyk commented on #2938
I also see this:
[code]

[2016-05-07 01:07] brthor commented on #2938
@moozzyk I'm not sure what the issue is here but I suspect this may be caused by having a rid in the parent project and not in the P2P reference project (StringProvider) Could you please try adding one to the P2P project?

[2016-05-07 01:11] am11 commented on #2918
@krwq, it has started to work again since CLI `v1.0.0-preview1-preview1-002693`: https://travis-ci.org/am11/MaxMind-DB-Reader-dotnet/builds/128440939.
Can't tell what was the issue and how it was fixed by looking at the commit history. So thanks to you and everyone who has participated in fixing this mysterious anomaly. :)

[2016-05-07 01:13] moozzyk commented on #2938
rid or tfm? If I don't have a tfm in the child project then I can't restore:
[code]
and the error I get from publish is correct:

[code]

[2016-05-07 01:15] schellap commented on #2317
@weshaggard does this have to be solved still?

[2016-05-07 01:16] brthor commented on #2938
@moozzyk I think both should be consistent 😄

[2016-05-07 01:22] schellap commented on #1374
Mscorlib is next to CLR packages and the patch work that was done as part of `DOTNET_HOME` has been removed. So closing this issue...

[2016-05-07 01:22] #1374 closed

[2016-05-07 01:24] moozzyk opened #2942 "Incorrect message/behavior when publishing a project without restoring the project first"
## Steps to reproduce
Try publishing a project without restoring it first

## Expected  behavior
An error saying that the project needs to be restored

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

[2016-05-07 01:31] schellap commented on #2129
@piotrpMSFT, this is a problem because the `XUnit` and `dotnet run` activation of standalone apps is done with:

`standalone.exe --additionalprobingpath C:\ --depsfile standalone.deps.json`

These options will be filtered by the `standalone.exe`. By design, we shouldn't prevent users from choosing command line option names. The above restricts users from choosing `depsfile` which is a reasonable o

[2016-05-07 01:32] brthor commented on #2938
@moozzyk I checked out this branch, and I am not able to repro on win10.

[2016-05-07 01:38] brthor commented on #2938
I've tried a few different things here and I can't repro this.
[code]

I'm on a latest build so it's possible @eerhardt 's latest PR fixed this. Try it out with latest I'd say.
Going to close out for now.

[2016-05-07 01:38] #2938 closed

[2016-05-07 01:45] am11 opened #2944 "Error is printed twice with "dotnet build" without "dotnet restore" first"
Found this while reproducing #2942 with `v1.0.0-preview1-preview1-002693`.

## Steps to reproduce

[code]

## Expected  behavior

Telemetry is: Enabled
Project test does not have a lock file.

## Actual behavior

Telemetry is: Enabled
Project test does not have a lock file.
Project test does not have a lock file.

Issue: error is printed twice.
Note that there is only one framework specified in th

[2016-05-07 02:08] #1830 closed

[2016-05-07 03:22] eerhardt commented on #2942
More or less the same problem #2692. Except this is for publish and that issue is for test.

I have been working on a fix and it will fix this for both commands.

[2016-05-07 03:56] mikowiec commented on #2917
created "NuGet.config"
<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>

        <clear/>
        <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json"/>
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json"/>
    </packageSources>
</configuration>

-------------------------------
Installed:
    113 package(s) to .

[2016-05-07 06:22] NTaylorMullen commented on #2927
@piotrpMSFT I'm not entirely sure where the issue lies due to my lack of knowledge of how the inner cli bits are split but the issue is that trying to restore `Microsoft.NETCore.App` in a `netcore50` project should always fail (on restore) despite it having a `"type": "platform"`.

[2016-05-07 06:58] dasMulli commented on #2917
To publish a standalone app (including all dependencies), you need to remove the `"type": "platform"` part from the `Microsoft.NETCore.App` dependency and add a runtime section like the following to the root level of project.json:

[code]

then when you publish (e.g. `dotnet publish -r osx.10.10-x64`) it should put an OS X executable into `bin/Debug/netcoreapp1.0/osx.10.10-x64/publish` (no `exe` e

[2016-05-07 07:07] DanTup commented on #2556
I'm slightly confused from the last two comments about whether this is possible or needs work? :/

[2016-05-07 17:27] GuardRex opened #2947 "Regression in dotnet publish of self-contained apps? ... or new self-contained publishing model?"
## Steps to reproduce
[code]

## Expected  behavior
Usual self-contained output (with an `.exe`)

## Actual behavior
Looks like you want to bundle `dotnet.exe` for the self-contained app now and trigger it `dotnet .\myapp.dll`?? This was done on purpose?? If that's the case, did I miss a **major announcement**? If this is the new self-contained publishing model, this is a breaking change and opens

[2016-05-07 17:37] eerhardt commented on #2947
Your CLI is a little old 2392 and we are on 2697 now.

Can you try this with the latest version?

[2016-05-07 17:44] GuardRex commented on #2947
@eerhardt I updated that this morning. Something strange here ...

![capture1](https://cloud.githubusercontent.com/assets/1622880/15093552/5612d420-1451-11e6-8c04-242a620a12db.PNG)

... but `dotnet --info` is giving me that ^^ version. Any ideas?

[2016-05-07 17:48] GuardRex commented on #2947
Oh, wow ... look at all this stuff ...

![capture2](https://cloud.githubusercontent.com/assets/1622880/15093579/f7ac3b8c-1451-11e6-8bf1-ebc7756e6c82.PNG)

[2016-05-07 17:52] GuardRex commented on #2947
Uninstall didn't get all of the old registry keys out either ...

![capture3](https://cloud.githubusercontent.com/assets/1622880/15093611/89f653d8-1452-11e6-81c1-d8ea1dca4606.PNG)

I'm going to manually clean all of this up and install fresh and see if I can fix this.

[2016-05-07 17:55] eerhardt commented on #2947
If you delete all the old ones out do the repro steps work as expected?

Can you open a new issue for the upgrade/uninstall/install over the top not picking up the latest version?

[2016-05-07 17:56] GuardRex commented on #2947
@eerhardt Ok ... will do. I'll drop a note here and close this in a sec.

[2016-05-07 18:07] GuardRex opened #2948 "Upgrade/Uninstall/Install over the top not picking up the latest version"
## Steps to reproduce
Remove prior `dotnet cli` via `Programs & Features` ... remove them all, which only leaves the current one showing from an install of the latest `dotnet cli` from MSI ...

![capture1](https://cloud.githubusercontent.com/assets/1622880/15093686/6dcf4bae-1454-11e6-921d-7a3f412e2d3b.PNG)

## Expected  behavior
Old registry keys and SDK shared frameworks are removed.

## Actual b

[2016-05-07 18:07] GuardRex commented on #2947
Opened issue at https://github.com/dotnet/cli/issues/2948

[2016-05-07 18:07] #2947 closed

[2016-05-07 18:58] dasMulli opened #2949 "dotnet build puts wrong native executable/libraries into runtime specific output"
## Steps to reproduce

On OS X 10.11.4 (not tested on other OSes):
* Create a standalone app targeting `net451` and `netcoreapp1.0` for `win7-x64` and `osx.10.11-x64` runtimes.
* Add a native dependency for reference (e.g. `Libuv`).
* Build and Publish for all runtimes and frameworks (Release or Debug).

Repository with a repro is available here: [https://github.com/dasMulli/cli-build-artifact-iss

[2016-05-07 19:04] jstarks opened #2950 "dotnet build outputs wrong file paths in errors"
When building projects not in the current directory, dotnet build prints the wrong filenames in error messages. This makes it impossible to consume the error output in editors.

## Steps to reproduce
[code]

## Expected  behavior
[code]

## Actual behavior
[code]

Notice that the path contains `foo\foo\Program.cs` when in fact the path should just be `foo\Program.cs`.

## Environment data
`dotnet

[2016-05-08 02:10] am11 commented on #2950
This issue appears to be resolved in latest preview 002697.

[2016-05-08 03:14] XiaoFaye opened #2951 "dotnet restore fail on newly created project on Mac"
## Steps to reproduce

mkdir dotnettest
cd dotnettest
dotnet new
dotnet restore

## Expected  behavior

restore successfully

## Actual behavior

log  : Restoring packages for /Users/apple/Desktop/dotnettest1/project.json...
error: Unable to load the service index for source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json.
error:   The type initializer for 'Crypto' threw an exception.
err

[2016-05-08 03:39] GuardRex commented on #2951
@XiaoFaye I hate to jump in on a Mac issue (I'm way, way more Windows-ish these days), but given that it's Saturday night here ...

Use a different `NuGet.config` set of feeds for the app. Put a `NuGet.config` file (if it doesn't exist) that contains ..
[code]
... into the app and see if you can restore on that. This CI Release feed should give you good packages.

[2016-05-08 03:57] XiaoFaye commented on #2951
unfortunately same error message.

BTW: It seems with the latest version of CLI, the nuget.config file will be automatically created under windows, but not Mac???

[2016-05-08 04:00] GuardRex commented on #2951
Perhaps. idk on the Mac-side. Yes, they temporarily were creating it for Win. When RC2 hits, these packages will all be on NuGet.org, so the `NuGet.config` can go away for the `dotnet new` project. For now, yes.

[2016-05-08 04:01] GuardRex commented on #2951
I'll run `dotnet new` here and see what I get.

[2016-05-08 04:04] GuardRex commented on #2951
Yeah ... that went about as well as expected ...
[code]
Try a CLI sample project. https://github.com/aspnet/cli-samples

In the meantime, I'll add the `NuGet.config`, which actually didn't show up this time, and see what's what with `dotnet new`.

[2016-05-08 04:06] GuardRex commented on #2951
It will restore if you `*` the version of `Microsoft.NETCore.App` and use the `NuGet.config` that I posted.
[code]

[2016-05-08 04:15] leecow opened #2952 "Need machine servicing prereq script"
A script is needed which applies servicing prerequisites to Windows machines to enable Microsoft Update for "clean" machines which do not have either .NET Framework or the Shared Framework installed.

@gkhanna79 @ericstj

[2016-05-08 04:19] XiaoFaye commented on #2951
It's still not working, am I doing anything wrong? Do I need to remove previous installed RC1 dnx?

![mac](https://cloud.githubusercontent.com/assets/6334728/15095975/3dd3da3e-1538-11e6-9b04-07be0ff0f73d.png)

[2016-05-08 04:33] GuardRex commented on #2951
Not that I can see ... open an issue on that at https://github.com/dotnet/cli/issues

[2016-05-08 05:05] Sridhar-MS commented on #2951
@XiaoFaye Can you install openssl and give it a try - https://github.com/dotnet/coreclr/blob/master/Documentation/building/osx-instructions.md#openssl ?

[2016-05-08 05:05] Sridhar-MS commented on #2940
Fixed by #2943

[2016-05-08 05:05] #2940 closed

[2016-05-08 05:33] Sridhar-MS commented on #2948
@GuardRex Can you share one of the unsuccessful uninstall logs from the %temp% directory?

[2016-05-08 05:34] jstarks commented on #2950
Interesting, I just downloaded and installed the latest preview today, but it seems that 2339 somehow was left behind from an earlier installation and took precedence. Looks like another case of Windows installer technology problems.

After deleting it manually from Program Files and reinstalling 2697, I can confirm that this fixes the issue. Thanks.

[2016-05-08 05:34] #2950 closed

[2016-05-08 05:37] GuardRex commented on #2948
@Sridhar-MS Sure, but there's a ton of these files in there tho. Which one (or ones) would you like?

![capture1](https://cloud.githubusercontent.com/assets/1622880/15096209/fd02f7ca-14b4-11e6-9ac1-0f9bb69a2375.PNG)

![capture2](https://cloud.githubusercontent.com/assets/1622880/15096210/0034d986-14b5-11e6-9b88-d1eaa468e6dc.PNG)

![capture3](https://cloud.githubusercontent.com/assets/1622880/15096

[2016-05-08 05:38] Sridhar-MS commented on #2949
I think its a duplicate of https://github.com/dotnet/cli/issues/2343. We do not have support for cross-plat build yet.

[2016-05-08 05:58] schellap opened #2953 "Implement MU Opt-In as part of setups"
If Microsoft Update is not turned on in the box by default, the installing dotnet should allow to turn this on machine wide as part of installing Shared FX or perhaps any of our installers.

This would allow us to service all our components through MU.

@gkhanna79, @piotrpMSFT, @ericstj, @ellismg, @leecow.

[2016-05-08 08:18] XiaoFaye commented on #2951
Thanks Scidhar, this solve the problem!!!

But one thing I don't understand, my OSX has updated to the latest version, how come the open ssl is out of date? is this means any OSX machines need to take this action before running dotnet core?

[2016-05-08 08:26] ellismg commented on #2951
Apple has deprecated OpenSSL in OS X (they have their own libraries to accomplish similar things) and are no longer updating the legacy version that ships in the box.  This version is no longer supported by the OpenSSL maintainers, and so we made the decision to not link against it, but instead require a newer version that has to be installed manually.

Yes.  We are looking to make this better, bu

[2016-05-08 08:29] XiaoFaye commented on #2951
Thanks for your answers, this is really helpful. :laughing:

[2016-05-08 08:29] #2951 closed

[2016-05-08 09:13] dasMulli commented on #2949
Possibly. Didn't find that before but looking at it i see #2343 more as the "for all runtimes in one invocation" part. `dotnet build --help` shows that there is a runtime switch and if i invoke `dotnet build -f netcoreapp1.0 -r win7-x64` then a (runnable) OS X output is produced into `bin/Debug/netcoreapp1.0/win7-x64`.
However, if #2343 works correctly, that should fix this problem too.

[2016-05-08 15:02] GuardRex commented on #2949
@dasMulli ... that sounds very similar to this: https://github.com/dotnet/cli/issues/317#issuecomment-210562700 ... where we were told to either have the latest `Microsoft.NETCore.App` package or have the `Microsoft.NETCore.DotNetHostPolicy` package to get the host you need.

If that turns out to be the same thing you're seeing, you can either specify `Microsoft.NETCore.App` with a version of `1.0