[2016-02-16 20:00] gkhanna79 opened #1437 "dotnet crossgen support"
The "dotnet" command infrastructure should provision for allowing the user to crossgen the compiled binary or output of publish.

[2016-02-16 20:04] livarcocc commented on #1361
@andschwa I just tried this and it worked.

I did
[code]

This was a version of the CLI that I built myself in the Ubuntu machine.

[2016-02-16 20:05] davidfowl commented on #1437
I have a PR for this as part of publish but it needs some love

[2016-02-16 20:07] gkhanna79 commented on #1437
Thanks @davidfowl. Please keep @JohnChen0, @jkotas and me in loop of the PR.

[2016-02-16 20:15] livarcocc commented on #1410
@pakrym Where are we on honoring Content for dependencies?

[2016-02-16 20:25] pakrym commented on #1410
In progress on Project to Package, but not for P2P

[2016-02-16 20:31] gkhanna79 commented on #652
@davidfowl Which PR?

[2016-02-16 20:40] cheers00 commented on #1431
I updated my project.json. I removed all the dependency files under dnxcore50.
[code]

I am getting the following error during restore. Why is it looking for myapp/index.json on myget?

[code]

[2016-02-16 20:47] piotrpMSFT commented on #1352
this should be done today.

[2016-02-16 20:48] davidfowl commented on #1433
What version of windows?

[2016-02-16 21:07] MaherJendoubi commented on #1401
@robmen I succeeded to uninstall AspNet5.ENU.RC1_Update1_KB3137909.exe but I still trying to uninstall AspNet5.ENU.RC1 Update1.

[2016-02-16 21:13] nbarbettini commented on #587
:+1: Looking forward to VB.NET support.

[2016-02-16 21:23] bricelam opened #1440 "Incremental build skips building when source files deleted"
`dotnet build` does not re-build when `*.cs` files are removed from the project.

[2016-02-16 21:26] troydai commented on #1430
Fixed in 8058b42e9b11c4c815c77d2d8411ade27aab6620

[2016-02-16 21:26] #1430 closed

[2016-02-16 21:39] cheers00 commented on #1431
And I am using the following nuget.config
[code]

[2016-02-16 21:58] MaherJendoubi commented on #1401
@robmen it works thanks a lot Sir :+1:

[2016-02-16 22:09] piotrpMSFT commented on #1352
PR is out...

[2016-02-16 22:09] PinpointTownes commented on #1429
Actually, it's not specific to the `restore` command:

![image](https://cloud.githubusercontent.com/assets/6998306/13092822/4b087c44-d502-11e5-8c1c-c9cc5d561d24.png)

[2016-02-16 22:18] GuardRex commented on #1139
@jamesqo Reading the tea leaves, it looks like something will be delivered at Build time (around 3/30), but everything official is TBD (To Be Determined) right now. https://github.com/aspnet/Home/wiki/Roadmap

[2016-02-16 22:25] andschwa commented on #753
@piotrpMSFT Another scenario this unblocks: being able to use a test runner. When a test runner (like xunit) takes a dependency on the code that it is testing, the required content does not get published, and so the tests fail for no good reason.

[2016-02-16 22:27] andschwa commented on #753
Which actually means that the `emitEntryPoint` is not, in fact, the trigger. My tests have a dependency on a project that has it set to true, but building the tests does not cause the content to be published.

[2016-02-16 22:30] andschwa commented on #1361
@livarcocc It gets even funnier. Newest package does not error... but it places the content at `bin/Debug/dnxcore50/../`, that is, `bin/Debug`. How can I specify the destination of the content, without it being inferred from the path to the source?

[2016-02-16 22:31] andschwa commented on #1361
Also, the original failure continues to repro for `dotnet publish`, just not `dotnet build`.

[2016-02-16 22:34] piotrpMSFT commented on #1429
are folks seeing this on Windows only?

[2016-02-16 22:35] GuardRex commented on #1429
Win10 only here

[2016-02-16 22:38] #1352 closed

[2016-02-16 22:38] piotrpMSFT commented on #1429
do you have DOTNET_HOME set by chance? can you try deleting it? we recently removed the requirement but I worry that it's now overriding the default behavior...

[2016-02-16 22:44] susl commented on #1433
Windows 7 SP1

[2016-02-16 22:44] GuardRex commented on #1429
@piotrpMSFT

Yep, that licked it. I deleted the `DOTNET_HOME` env var and uninstalled. I rebooted and reinstalled `-1370`. It works. Thx. Go ahead and close when ready ... I'm good.

[2016-02-16 22:47] eerhardt opened #1445 "Update our WiX tools to 3.10.2 and do not use v.3.x NuGet packages"
See https://github.com/wixtoolset/issues/issues/5213#issuecomment-184901098

From @barnson

We should update our WiX tools dependencies and stop using the unofficial NuGet packages.

[2016-02-16 22:54] piotrpMSFT commented on #1429
Assigning to @schellap. Can CoreHost provide some useful diagnostics output in cases like this?

The scenario is legitimate. Someone has a DOTNET_HOME set which they used to point to a runtime installation directory. Later they deleted the runtime but forgot to unset DOTNET_HOME. How do we get them back into a good state?

[2016-02-16 23:13] jaredpar commented on #1433
CC @tmat

Looks like our PDB COM object doesn't implement `ISymUnmanagedWriter5`.  That interface should be present.  Wondering if Windows 7 has anything to do with it.

[2016-02-16 23:17] davidfowl commented on #1433
@tmat could this have anything to do with the update to 1.3.0 of System.Reflection.Metadata?

[2016-02-16 23:32] livarcocc commented on #753
We don't have P2P dependency content copying in place (or project to package for that matter). @pakrym is working on it and apparently is getting closer for project to package.

[2016-02-16 23:33] piotrpMSFT opened #1446 "Define platform support matrix for CLI"
Our support matrix is currently defined by where we run CI. We need to make sure that the matrix covers all the places where our partners expect to be able to ship. In particular, what versions of Windows do we intend to support? Win7?

[2016-02-16 23:33] livarcocc commented on #1361
@andschwa I need to check for publish. As for the bin/debug, that is also strange as I have fixed this a few weeks ago and the build I tried actually put it under bin/config/tfm/rid.

[2016-02-16 23:44] andschwa commented on #1361
That is strange indeed. We've worked around for now, but it's far from ideal. In this particular case... we copied the files from their original location into the project's tree. But they still live outside the tree, so we have to be careful about manually updating the copies.

[2016-02-16 23:44] jaredpar commented on #1433
@davidfowl doubtful. That error is coming from here

http://source.roslyn.io/#Microsoft.CodeAnalysis/NativePdbWriter/PdbWriter.cs,808

It's essentially an error casting the PDB COM object to an interface that it should definitely be implementing.

[2016-02-16 23:45] andschwa commented on #753
Thanks @livarcocc. With that being the case, I can add another work-around to my test wrapper script, to manually copy the content that needs to be published, with the goal of removing this once transitive content dependencies are fixed.

[2016-02-16 23:53] schellap commented on #1429
@GuardRex could you turn on `export COREHOST_TRACE=1` and pastebin the output or relevant portion (search for coreclr)?

[2016-02-16 23:54] GuardRex commented on #1429
@schellap Sure, I'll do it right after the Standup ends ... or when they get into the 4-hour Q&A part :smile:

[2016-02-17 00:01] schellap commented on #1429
@piotrpMSFT how is the host copied to the `stage2\bin`? I have a weird feeling the CoreHost added to the publish graph is stomping on this host?

[2016-02-17 00:05] piotrpMSFT commented on #1429
@schellap are you able to get a local repro? Point DOTNET_HOME to an empty directory?

[2016-02-17 00:08] schellap commented on #1429
Tried, no local repro with: https://dotnetcli.blob.core.windows.net/dotnet/beta/Binaries/Latest/dotnet-win-x64.latest.zip

[2016-02-17 00:09] GuardRex commented on #1429
@schellap I'll see if I can break it again for you (with trace) ... I'm really, really good at breaking stuff :monkey:

[2016-02-17 00:24] schellap commented on #652
@davidfowl please @ mention on the PR or commit message for the host, #WorldMovedUnderFeet

[2016-02-17 00:30] schellap commented on #1429
https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/1.0.0.1370/dotnet-win-x64.1.0.0.1370.exe MSI install doesn't repro as well for me. Will wait for @GuardRex inputs.

[2016-02-17 00:31] troydai opened #1447 "dotnet test doesn't support "-parallel""
[code]

[2016-02-17 00:40] GuardRex opened #1448 "Downgrade package to suit WindowsAzure.Storage met with poor response"
Posting here b/c I'm firmly all `dotnet cli` now, although let me know if I should ask in another repo.
[code]
... elicited this response from the `WindowsAzure.Storage` team ...
[code]
... and they immediately closed the issue on me.

Let me try over here on the friendlier-side of MS: Does the package downgrade mean that they need to update their package reference in the next preview of the `Wind

[2016-02-17 00:41] GuardRex commented on #1429
@schellap I'm going on it right now. I'll get back to you soon.

[2016-02-17 00:51] GuardRex commented on #1429
@schellap Good ... yep ... I re-broke it.

[Microsoft_Dotnet_CLI_for_Windows_(1.0.0.1370_)_20160216164533_000_dotnet_win_x64.1.0.0.1370.msi.txt](https://github.com/dotnet/cli/files/133498/Microsoft_Dotnet_CLI_for_Windows_.1.0.0.1370_._20160216164533_000_dotnet_win_x64.1.0.0.1370.msi.txt)

[2016-02-17 00:52] piotrpMSFT commented on #1429
@GuardRex strikes again!

[2016-02-17 00:53] schellap commented on #1429
Can you `set COREHOST_TRACE=1` and give me the trace of the `dotnet restore`?

[2016-02-17 00:53] GuardRex commented on #1429
oh, sure ... brb

[2016-02-17 00:56] GuardRex commented on #1429
[trace.txt](https://github.com/dotnet/cli/files/133507/trace.txt)

now ... let's see what else I break today :skull:

[2016-02-17 01:00] schellap commented on #1429
Do you have System.Linq app local?

[2016-02-17 01:00] schellap commented on #1429
or in the deps file?

[2016-02-17 01:02] GuardRex commented on #1429
no, but's pulled in by other packages. I'd have to dig into the lock file ... or do you want me to put it on gist (I mean the last good lock file that was produced by `dotnet cli` ver -1306, which is working)?

[2016-02-17 01:03] GuardRex commented on #1429
I don't reference it myself in `project.json`

[2016-02-17 01:05] GuardRex commented on #1429
it does get pulled in ... I see it in the lock file and I see it in published output

![capture](https://cloud.githubusercontent.com/assets/1622880/13096619/83964948-d4cf-11e5-8048-b3d0f40fcac3.PNG)

[2016-02-17 01:07] GuardRex commented on #1429
the lock file has 45 mentions of `"System.Linq": "4.0.2-rc2-23805",`

[2016-02-17 01:28] #1448 closed

[2016-02-17 01:29] tmat commented on #1433
@tannergooding I think we didn't include Microsoft.DiaSymReader.Native in dotnet cli and Tanner fixed that. If the library is not present then we fall back to the diasymreader.dll version that ships with the OS, which on Win7 might be quite old.

[2016-02-17 01:31] schellap commented on #1429
Sorry, I wanted to know if System.Linq is present along with dotnet.exe in your install base?

[2016-02-17 01:33] GuardRex commented on #1429
MIA

![capture](https://cloud.githubusercontent.com/assets/1622880/13097123/65276f38-d4d3-11e5-816e-36b852796d58.PNG)

[2016-02-17 01:33] schellap commented on #1429
In the host trace:

[code]

I don't see System.Linq.

[2016-02-17 01:33] schellap commented on #1429
Boom @piotrpMSFT could you please take over?

[2016-02-17 01:35] schellap commented on #1429
I am not sure why System.Linq is missing. Earlier you got lucky because DOTNET_HOME\runtime\ provided a fallback path for System.Linq. So dotnet is broken the moment System.Linq is not found in your case.

[2016-02-17 01:36] piotrpMSFT commented on #1429
@GuardRex only became fixed when we removed DOTNET_HOME, not when we added it.

@GuardRex can you share your deps file and lock file?

[2016-02-17 01:36] GuardRex commented on #1429
sure ... brb

[2016-02-17 01:36] piotrpMSFT commented on #1433
What's the fix here, then, @tmat?

[2016-02-17 01:37] schellap commented on #1429
@piotrpMSFT that would be dotnet.deps which I don't think is present in the `stage2\bin`

[2016-02-17 01:38] GuardRex commented on #1429
yeah ... I was about to ask ... on what path for these?

[2016-02-17 01:40] piotrpMSFT commented on #1429
@GuardRex what is the full [minus PII] path for the directory that is missing System.Linq.dll?

[2016-02-17 01:41] GuardRex commented on #1429
C:\Program Files\dotnet\bin

[2016-02-17 01:42] gregg-miskelly opened #1450 ".NET CLI binaries all have version '1.0.0.0'"
.NET CLI binaries should have a version resource so that it is easy to tell what version people have installed. For example:
PS C:\dd\vs1\src\debugger\concord> filever -v "C:\Program Files\dotnet\bin\dotnet-publish.dll"
--a-- W32i   APP   -         1.0.0.0 shp     32,256 02-01-2016 dotnet-publish.dll
        Language        0x0000 (Language Neutral)
        CharSet         0x04b0 Unicode
        O

[2016-02-17 01:43] piotrpMSFT commented on #1429
strange. Your MSI log seems to be implying that it is getting installed:

[code]

[2016-02-17 01:44] tmat commented on #1433
The fix should have been there already. @tannergooding, can you point at the commit?
You can double check whether  Microsoft.DiaSymReader.Native.x86.dll is deployed next to Microsoft.CodeAnalysis.dll in dotnet cli distro.

[2016-02-17 01:44] piotrpMSFT commented on #1429
does deleting DOTNET_HOME still fix the problem? Or was that a red herring?

[2016-02-17 01:46] GuardRex commented on #1429
I can try again ... What's the exact process that's best for this: Delete the env var, uninstall `dotnet cli`, re-install `dotnet cli` and see if gets put there. Then ... go back to the original break pattern: Remove the env var (if its there, which it shouldn't be), install -1306, install -1370 on-top ... that seems to repo the issue.

[2016-02-17 01:47] GuardRex commented on #1429
Let me try those two procedures. Those two series of steps should narrow it down a little bit now that I know what to look for.

[2016-02-17 01:48] piotrpMSFT commented on #1429
I wouldn't reinstall. What I thought had happened earlier was that you just deleted the Env Var... it sounds like there is more magic happening. What is the recipe for getting into a broken state?

[2016-02-17 01:50] GuardRex commented on #1429
Start with -1306 installed and the env var present and then just install -1370 over the top on it. That should break it.

Earlier, I think I removed the env var, uninstalled -1370 (via Programs and Features), rebooted, installed -1370, then it worked.

[2016-02-17 01:58] GuardRex commented on #1429
No, merely deleting the env var will not work even with a reboot.

You apparently cannot have the env var there when you do the install of -1370 in order for -1370 to work.

[2016-02-17 01:59] piotrpMSFT commented on #1429
@robmen @Sridhar-MS any ideas?

[2016-02-17 02:00] GuardRex commented on #1429
Confirmed: With the env var absent ... Programs and Features uninstall -1370 and immeditely re-install -1370 (no reboot needed) ... it :sparkles: works :sparkles:

[2016-02-17 02:02] GuardRex commented on #1429
... `System.Linq` makes it into the `bin` folder as long as that env var is not present when you do the install of -1370.

![capture](https://cloud.githubusercontent.com/assets/1622880/13097619/772d25f2-d4d7-11e5-97ad-bac8ab72c0a3.PNG)

[2016-02-17 02:38] tannergooding commented on #1433
See #1209. @piotrpMSFT, Can you confirm that the latest MSI installer (found from here: https://dotnet.github.io/getting-started/) contains at least commit 5f5a59a1363c89acabb760fac3589425a8e670ef?

[2016-02-17 02:40] davidfowl commented on #1450
Old yes yah know what I'm just going to fix this tonight 😀

[2016-02-17 03:35] piotrpMSFT commented on #1433
@tannergooding that change was first available in build 1312. I'm checking to see if that build has made it to the getting-started page. We had some build issues lately due to a big build system revamp.

[2016-02-17 04:02] davidfowl commented on #1429
@schellap Try the MSI

[2016-02-17 04:02] davidfowl commented on #1440
/cc @cdmihai

[2016-02-17 04:03] schellap commented on #1429
@davidfowl I tried the MSI couple of times. Are you able to repro?

[2016-02-17 04:14] schellap commented on #1429
@davidfowl I'm not sure I follow, System.Linq is missing app local and there is no deps file -- @GuardRex confirmed System.Linq is missing, you think that is because of some interaction between the MSI installer and the host?

[2016-02-17 04:15] piotrpMSFT commented on #1429
@Sridhar-MS should take a look. It seems like the presence of DOTNET_HOME is somehow affecting the behavior of the MSI...

[2016-02-17 06:28] robmen commented on #1429
Log files always go a long way in actually understanding what is going wrong.

[2016-02-17 06:30] piotrpMSFT commented on #1429
The log was shared above. Look for Microsoft_Dotnet_CLI_for_Windows_(1.0.0.1370_)_20160216164533_000_dotnet_win_x64.1.0.0.1370.msi.txt.

[2016-02-17 06:57] robmen commented on #1429
Thanks. Missed the log file in the long thread. Here is the problem:

    MSI (s) (10:B0) [16:45:38:193]: Disallowing installation of component: {1499AEB1-8270-42F0-9B79-A0747CAFFB9A} since the same component with higher versioned keyfile exists
    MSI (s) (10:B0) [16:45:38:408]: Disallowing installation of component: {89591D4D-F6D2-456F-8EE9-31E37D4FE920} since the same component with higher ver

[2016-02-17 07:28] schellap commented on #1429
FYI, in a good install on my local machine, System.Linq build date was 02/08. Most of the remaining ones  were 02/10 but that wasn't enough for me to say anything... @robmen's analysis ties it together.

[2016-02-17 09:49] aL3891 commented on #1407
Anyone?

[2016-02-17 09:58] ip28 opened #1453 "Integration of xunit tests (xprojs) with visual studio online (TFS)"
Hi Team,
I don't see option to configure xunit unit tests for MVC 6 projects (xproj extension) in visual studio online.
I also couldn't find any relevant article explaining the same.
Can you please help me configure unit tests in vso?

![image](https://cloud.githubusercontent.com/assets/8371740/13105837/1d470918-d58b-11e5-93ab-16162159d04b.png)

[2016-02-17 15:58] GuardRex commented on #1407
http://docs.nuget.org/consume/projectjson-format

[2016-02-17 16:16] aL3891 commented on #1407
I'm aware of that page. My question is if it is still supported since i cant didn't any reference to it in the [cli] code, and if so, where its implemented. The docs on nuget also don't provide a lot of information on what can be put in there.

[2016-02-17 16:17] GuardRex commented on #1407
yes ... https://github.com/aspnet/cli-samples/blob/master/HelloMvc/project.json

[2016-02-17 16:20] aL3891 commented on #1407
Well again, as i said in my original post, i can see it being used in various project.json files, but i have not found any references to it in the cli code, hence my question.

[2016-02-17 16:23] Petermarcu commented on #1429
@robmen , will switching to -ag be a breaking change at all?

[2016-02-17 16:25] GuardRex commented on #1407
Did you check in https://github.com/dotnet/corert

[2016-02-17 16:26] aL3891 commented on #1407
Not yet, are you saying that is where its being used?

[2016-02-17 16:27] GuardRex commented on #1407
Looks favorable ... https://github.com/dotnet/corert/blob/7ae0ee55ca2eaaa62fb7e3fdca217b1aac337598/src/System.Private.CoreLib/src/MembersMustExist.AnalyzerData#L81

[2016-02-17 16:41] aL3891 commented on #1407
Are you sure you linked to the correct file..? But sure, i can take a look in that repo..
In any case, based on the description of this property, id expect it to be used elsewhere than corert, so if anyone has any insights with regards to this property please feel free to fill them in.

[2016-02-17 16:54] shahid-pk commented on #1407
it is in nuget i have found its tests here https://github.com/NuGet/NuGet.Client/blob/4094086a0b6588dbc9c21dbd3ac8efecf93dac80/test/NuGet.Core.Tests/NuGet.ProjectModel.Test/ImportFrameworkTest.cs

[2016-02-17 16:54] GuardRex commented on #1407
Looks more NuGet-ish ... check these out ...

https://github.com/NuGetArchive/NuGet3/pull/42

https://github.com/NuGetArchive/NuGet3/blob/061a6365fd65fc5c18f218c3373f08242a043790/src/NuGet.Frameworks/DefaultPortableFrameworkMappings.cs

I'm guessing along and checking, but I don't see anyone else trying to help you strike gold.

The ID's are there, so it looks NuGet-ish in terms of where it is in

[2016-02-17 16:54] shahid-pk commented on #1407
@GuardRex  nice timing :smile:

[2016-02-17 16:55] GuardRex commented on #1407
@shahid-pk Truly ... It's a hunt in the wild.

[2016-02-17 17:21] robmen commented on #1429
To be clear, right now the Component Rules are being violated every build. So there would be one more violation then the GUIDs would be stable.

[2016-02-17 17:29] scottdorman commented on #1412
@davidfowl I think I have the code change completed. How do I test this (preferably inside Visual Studio) before checking in to my branch and submitting a pull request?

[2016-02-17 17:35] #1280 closed

[2016-02-17 17:55] Petermarcu commented on #1429
That's what I thought. Sounds like the right thing to do. I thought we were uninstalling before install on the upgrade. Do we know how this happened if that was the case?

[2016-02-17 17:58] robmen commented on #1429
Major upgrade *is* scheduled early. However, if you attempt to downgrade files this way, the Windows Installer will end up taking the newer ones away and not putting the older ones on the machine. So you have to repair afterwards.

Basically, downgrading files while upgrading packages doesn't work out so well.

[2016-02-17 17:58] brthor commented on #728
@anurse going to close this out, but could you quickly link to the nuget issue here?

[2016-02-17 17:58] #728 closed

[2016-02-17 18:07] Petermarcu commented on #1429
Yeah, @piotrpMSFT @Sridhar-MS , why are we downgrading files in newer builds? Did a regression come in that we had to back out or something?

[2016-02-17 18:09] brthor commented on #986
Fixed via https://github.com/dotnet/cli/commit/77dfbd8e43eaaae3d6a934e7b36c9d8ae7c0abee

[2016-02-17 18:09] #986 closed

[2016-02-17 18:11] Sridhar-MS commented on #1429
@Petermarcu I need to check out the MSIs `1.0.0.1370 beta` and `1.0.0.1306 beta`. We may bumped corefx version between those builds. I will give an update shortly.

[2016-02-17 18:45] davidfowl commented on #1412
There's no cli support for VS publicly available as yet. You can write a cli test and just do manual testing on the command line for now

[2016-02-17 18:55] Sridhar-MS commented on #1429
We somehow managed to downgrade `System.Linq` from `4.6.23811` to `4.6.23808`. I am looking into how that happened.

[2016-02-17 19:01] Sridhar-MS commented on #1429
With the latest builds we are somehow back to `System.Linq 4.6.23811`.

[2016-02-17 19:29] ellismg commented on #212
Opened dotnet/corefx#6170.  Should be an easy fix, the problem is a bunch of the packaging work is being transitioned from TFS to GH, so I don't know exactly where to make the fix this moment.  Chris will take a look.

[2016-02-17 19:30] scottdorman commented on #1412
Ok. I'll do some manual command line testing then.

[2016-02-17 19:53] markdall commented on #1433
Can confirm that as of about 10-15 minutes ago the change/fix had NOT made it to the installer, because I just ran into the same exact problem. More info: This repro'd on Windows 7 SP1 and then also on Windows 10 Pro 10.0.10586. Thanks!

[2016-02-17 19:57] piotrpMSFT commented on #1433
Thanks @markdall. That's interesting. We got Windows publishing unblocked this morning. Let me take a look at the MSI...

[2016-02-17 20:11] brthor opened #1456 "Ordering of args in dotnet test affects how they pass through to runner"
This is easy to repro with a current build:

Inside the cli repo

[code]

I expect this is not an issue with test but with the command line parser.

cc @livarcocc @piotrpMSFT

[2016-02-17 20:15] aL3891 commented on #1407
Thanks, i'll check it out. it still seems a little strange to me though. From what i understand, cli produces packages with dotnet-pack, and there are no references to "imports" there. Either they havent ported it over yet or its deprecated..

i'll just leave it in for now until we can get some official word.

[2016-02-17 20:23] #1162 closed

[2016-02-17 20:30] andschwa commented on #1043
This issue has resurfaced today. WIth the latest builds of CLI, our CI has started failing because it refuses to restore packages that don't support our runtime, so this is now blocking us (again). Any work-around?

/cc @brthor @piotrpMSFT

[2016-02-17 20:57] bricelam commented on #1150
I'm trying to follow this guidance in dotnet-Ed. How do I find dotnet.exe? Using my parent process's path?

[2016-02-17 20:59] bricelam commented on #1150
Should we flow it in using CommandContext and environment variables?

[2016-02-17 21:01] piotrpMSFT commented on #1043
Working with @andschwa

@blackdwarf @krwq the issue we're seeing from @andschwa is partially due to our installation guidance. Specifically, we need to add a section that tells folks how to use CLI from CI.

[2016-02-17 21:55] PhilipDaniels opened #1459 "Could someone explain what is necessary to build this repo?"
I have VS2015 installed. Followed the instructions in developer-guide.md. Was told I already have later versions of WebToolsExtensionsVS14.msi and DotNetVersionManager-x64.msi. Installed CMake and added it to the path. Also have git on the path (via Cygwin). Confirmed they both work from a CMD prompt.

Mentioned in the "Building from source" section is "ensure DOTNET_HOME" is set. It is. I also ha

[2016-02-17 21:58] brthor commented on #1447
Try out `-parallel None`

[code]

[2016-02-17 22:01] brthor commented on #1459
The build is primarily run from the command line. You did not miss anything.

VS Tooling is on the roadmap as I understand it.

You should have usable binaries now inside `artifacts\{RID}\stage2\bin` where {RID} is dependent on your OS. :smile:

[2016-02-17 22:09] PhilipDaniels commented on #1459
I do, thanks :-) I am thinking of trying to contribute a new command, but maybe my first pull request will be a slight documentation tweak to make this obvious.

[2016-02-17 22:18] MichaelSimons commented on #18
Per the documentation on the the [cli-deps feed](https://dotnet.myget.org/gallery/cli-deps/), "This feed is used internally for dotnet/cli. Please don't consume it from other projects."  It looks like the true source of the dotnet-test-xunit package is https://www.myget.org/F/coreclr-xunit/api/v3/index.json.  This would be a better location to reference it from.

[2016-02-17 22:35] brthor commented on #712
This is no longer reproing and the test is re-enabled.

[2016-02-17 22:35] #712 closed

[2016-02-17 22:39] markdall commented on #1433
@piotrpMSFT Thanks!

I saw the PR was merged so I thought I'd just clone the repo and build it for myself to get the fix that way, but running build.cmd after cloning the repository failed with the same error. Guess I'll just wait. :)

[2016-02-17 22:46] troydai commented on #1447
Case sensitive is new. But at least all lower case should be accepted. Here’s the help information:
[code]

[2016-02-17 23:06] brthor commented on #1447
I don't disagree, just happened upon the `None` and thought it might help you get unblocked :smile:

[2016-02-17 23:53] troydai commented on #1447
Thanks @brthor . This unblocked me yesterday: https://github.com/OmniSharp/omnisharp-roslyn/blob/troy/use.dotnet/tests/OmniSharp.Roslyn.CSharp.Tests/AssemblyInfo.cs.

So this is a low importance issue for me now.

[2016-02-18 04:22] victorhurdugaci commented on #1327
Removing the blocking flag. We found a workaround using `taskkill`/`pkill`

[2016-02-18 04:40] davidfowl commented on #1327
@stephentoub new API? `Process.KillAll()`?

[2016-02-18 04:56] davidfowl commented on #1459
@PhilipDaniels we're not adding any new commands in the core CLI. We are however working on an extension model so that other tools can plug in.

You can use the DNX tooling or VS code with DNX if you want to get a basic editing experience.

[2016-02-18 05:15] blackdwarf commented on #1446
Win7 SP1 should be supported, yes.

[2016-02-18 05:16] blackdwarf commented on #1404
@tugberkugurlu we are looking into it, but maybe we would expose it differently.

[2016-02-18 09:26] davidfowl opened #1472 "DependencyContext should function without preserveCompilationContext: true"
The dependency context should first try to get the embedded deps file and then fallback to the deps file on disk. When in the latter mode, there's only runtime information, no compile time data.

/cc @pakrym

[2016-02-18 10:49] davidfowl commented on #1450
Fixed via https://github.com/dotnet/cli/commit/8645031db8b6a62a10071578f4949b7094293bdc. Though we could probably match the MSI version on the file version.

[2016-02-18 11:50] tinchou commented on #18
What about [the aspvnext feed](https://www.myget.org/gallery/aspnetvnext)? It contains the `dotnet-test-xunit` package too, but with this [Nuget.config](https://github.com/dotnet/coreclr.xunit/blob/79e0afc921e9e9b5a0ffb5ede791564b4f74e7ff/NuGet.Config) and a very simple `project.json` file I'm getting

[code]

[2016-02-18 12:28] shayhatsor commented on #18
@tinchou, this works:
[code]

[2016-02-18 12:40] OlegKi opened #1473 "dotnet-win-x64.latest.exe can't be installed"
One get the error

![dotnetclierror](https://cloud.githubusercontent.com/assets/249117/13143238/d8979996-d642-11e5-8674-8ebbed323f08.png)

during the installation of the current `dotnet-win-x64.latest.exe` (from https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-win-x64.latest.exe, referenced on http://dotnet.github.io/getting-started/). The log files contains very strang

[2016-02-18 12:42] akoeplinger commented on #1473
See https://github.com/dotnet/cli/issues/1401. You need to uninstall the older version of the .NET CLI that you have installed first before installing the new one.

[2016-02-18 12:56] OlegKi commented on #1473
@akoeplinger : Sorry, but the main goal of my issue is in not the help of the installation of `dotnet-win-x64.latest.exe` on *my computer*. I want to report the bug in the installer. The requirement to uninstall the previous version could not be the standard way. "The official MSI installer" (see text on the "Step 1" on the page http://dotnet.github.io/getting-started/) can't have so dirty errors.

[2016-02-18 13:05] akoeplinger commented on #1473
Going forward the installer will recognize the older version and uninstall it automatically, so this is only required once because the version format changed.

[2016-02-18 13:51] OlegKi commented on #1473
@akoeplinger : I'm sorry, but the detection of the old versions and different scenarios of upgrading are basics of Windows Installer technology. The properties `UpgradeCode`, `PackageCode`, `ProductCode`, `UPGRADINGPRODUCTCODE`, tables like `Upgrade` table, actions like `FindRelatedProducts` and many other standard features of Windows Installer technology allows to detect old versions and to imple

[2016-02-18 15:01] pakrym commented on #1472
What about changing format of.Deps file to json, are we still doing it? Or it needs to read csv deps?

[2016-02-18 16:24] andschwa commented on #18
@MichaelSimons, the coreclr-xunit feed does not contain the package's dependencies, requiring you to use, say, aspnetvnext, which many people don't want. Likewise we don't to have to use cli-deps either.

The better fix would be to add the necessary dependences to coreclr-xunit still that it's standalone, and figure out why its gallery doesn't work.

[2016-02-18 16:30] jamesqo commented on #583
It would be nice if we were able to reference it through `frameworkAssemblies`:

[code]

[2016-02-18 16:35] enricosada opened #1474 "dotnet-resgen is called before precompile event"
I use the [dotnet-fssrgen tool](https://github.com/fsprojects/FsSrGen/tree/master/src/dotnet-fssrgen) to generate a .resx resource file from another file.

This tool runs in the `precompile` script and create a .resx file, but dotnet-resgen runs before the event, so in the final build, my generated resx it's ignored.

[code]

It's possibile to run the dotnet-resgen (called [there](https://github.c

[2016-02-18 16:38] victorhurdugaci commented on #18
@tinchou the ASP.NET team clones the packages on their feed. That's why you see it there too. Also, the package is only for coreclr; it doesn't work on desktop clr.

[2016-02-18 16:43] enricosada opened #1475 "dotnet compile check if source file exists before precompile event"
I generate some source files in the `precompile` event (using a tool), but atm i need to add a placeholder file  (empty it's ok) because `dotnet compile` check if all source file exists before calling `precompile` (ref source).

In the example below, a `Generated.cs` placeholder is needed because otherwise i get the error:

[code]

If i create an empty `Generated.cs`, everything it's ok

An exampl

[2016-02-18 16:51] davidfowl commented on #1472
@anurse tells me that someday it's going to change to JSON, in the short term, we can just read the csv file. I'm not sure what the timeline for the format change is.

[2016-02-18 17:19] anurse opened #1476 "Consistency in command line interface"
There are some inconsistencies in the command line interface for dotnet-cli that need to be resolved. This issue is to help track those (for larger items or items in other repos, create a new issue and link it here) /cc @piotrpMSFT @davidfowl @joelverhagen
- [x] NuGet console output is prefixed with `info:`, etc. and looks inconsistent. The consistent prefixing is kind of nice, but might be too ve

[2016-02-18 17:47] robmen commented on #1473
@OlegKi you are fundamentally correct. There was an attempt to do play some very complex games with the version number in older builds that ultimately created a string of issues. I believe the version number has been sorted out now so hopefully things will run smoothly now (once the older builds are cleared out).

The moral of the story is don't play around with your version numbers. They are more

[2016-02-18 17:57] bricelam commented on #1476
I wish verbosity was handled more consistently and globally. We currently have awkward things like the following.

    dotnet --verbose restore --verbosity verbose

[2016-02-18 18:05] brthor commented on #1476
@anurse I think @AustinWise PR #1212 fixed the color forwarding issue (On Windows at least)

That being said, not doing the line buffered forwarding by default does seem right. The only place we capture output is for `dotnet-compile-csc` and in tests.

[2016-02-18 18:40] andschwa commented on #1043
With .NET CLI 1.0.0 and some refactoring of our `project.json` files, this is now totally supported (please feel free to close the issue).

This is the structure we're using, tested on Linux, OS X, and Ubuntu for a project that was originally ported from FullCLR (and still runs there too, through a lot of magic).

## Top-level dependency that creates an executable

The key to be able to restore an

[2016-02-18 18:44] OlegKi commented on #1473
@robmen : I full agree with you. Everybody, who have experience with setups, knows that playing around with your version numbers is the worst thing, which one can do in setup.

I posted [the issue](https://github.com/aspnet/Home/issues/1222), where I warned about the flood of renaming of *packages*, which will be used de facto as **id** of the component in a lot of dependencies of existing project

[2016-02-18 18:46] RichardSilveira commented on #1290
Hi Lukasz, i am having this same issue, and after a lot of research i can´t found a reasonable solution for it...
You closed your issue, but you solved this?
I saw that project.json file has one property called ""packInclude", but i am working on this rigth now...

[2016-02-18 18:56] #1268 closed

[2016-02-18 19:18] tinchou commented on #18
Thanks, I managed to run some tests by adding `"imports": "portable-net451+win8"` as @shayhatsor mentioned!

[2016-02-18 20:03] sunsided commented on #1227
Same for me on 16357 using
[code]

[2016-02-18 20:20] piotrpMSFT commented on #1372
@DavidObando have you had a chance to verify the fix?

[2016-02-18 20:21] DavidObando commented on #1372
Working on it as we speak.

[2016-02-18 20:22] piotrpMSFT commented on #1132
@balachir since @BillHiebert said this no longer repros, I'm closing the issue. If it's still blocking you please reopen.

[2016-02-18 20:22] #1132 closed

[2016-02-18 20:24] piotrpMSFT commented on #1303
@GuardRex, though that is necessary it is not sufficient. The entry point application in both cases is not the library being built. The application is instead dotnet-test-xunit or dotnet-publish-iis.

We need @pakrym to define a pattern for loading the right compilationContext when the default is not appropriate.

[2016-02-18 20:25] piotrpMSFT commented on #1171
@victorhurdugaci @natemcmaster is this still blocking-partner? If so, can we please get a repro to investigate?

[2016-02-18 20:27] #1316 closed

[2016-02-18 20:29] natemcmaster commented on #1171
I haven't seen this error in the latest updates of cli. @victorhurdugaci okay to close this?

[2016-02-18 20:44] piotrpMSFT commented on #1473
@OlegKi thanks for posting. We do appreciate the importance of versioning and are very focused on getting our versioning story right before shipping our first release of CLI. The original CLI versions were generated fairly arbitrarily as we got bits on their feet. We since then invested rather heavily (#668) in aligning our version numbers across installation vectors and providing a great experien

[2016-02-18 20:44] #1473 closed

[2016-02-18 20:50] victorhurdugaci commented on #1171
Yup

[2016-02-18 20:50] #1171 closed

[2016-02-18 20:51] tushargupta51 commented on #1343
@livarcocc I am facing the exact same issue. It started showing up today.

Repo I am building: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet, KDev branch

dotnet version:
.NET Command Line Tools (1.0.0)
Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 Runtime Id:  win10-x64

Error:
info:   program: dotnet
info:   comm

[2016-02-18 21:49] cdmihai commented on #1440
This is a limitation of on-the-fly timestamp based incrementality.
dotnet build uses the project.json to compute the inputs and outputs on each run. It gets the input source files from the project model, which in turn gets them from the project.json file. Usually project.json projects do not explicitly reference each source file in the project (unlike csproj where you reference each source file),

[2016-02-18 21:52] cdmihai commented on #1148
Implemented in #1272

[2016-02-18 21:52] #1148 closed

[2016-02-18 21:56] cdmihai commented on #1041
According to the meeting we had, for RTM the users will have to manually call native, MCG, and other compilation pipeline commands. Post RTM we need to design a mechanism where commands can hook to each other to form a build execution graph.

[2016-02-18 21:56] #1041 closed

[2016-02-18 22:06] discostu105 opened #1480 "dotnet compile fails for net20 target, because of TargetFrameworkAttribute in AssemblyInfo.cs"
How to reproduce:
 * dotnet new
 * change configure project.json to target .net 2.0: _"frameworks": { "net20": { } }_
 * dotnet restore
 * dotnet build

Then the following error pops up:

D:\dev\coretestx\obj\Debug\net20\dotnet-compile.assemblyinfo.cs(4,37): error CS0234: The type or namespace name 'TargetFrameworkAttribute' does not exist in the namespace 'System.Runtime.Versioning' (are you miss

[2016-02-18 22:11] davidfowl commented on #1290
Can you be more specific? What do you mean?

[2016-02-18 22:13] #1296 closed

[2016-02-18 22:23] tushargupta51 commented on #1429
Having same issue with `dotnet test` command complaining about `System.Runtime` not found.

Repo I am building: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet, KDev branch

dotnet version:
.NET Command Line Tools (1.0.0)
Runtime Environment:
OS Name: Windows
OS Version: 10.0.10586
OS Platform: Windows
Runtime Id: win10-x64

Error:
info: program: dotnet
info: c

[2016-02-18 22:38] troydai opened #1481 "LibraryManager return diagnostics for missing DOTNET_REFERENCE_ASSEMBLIES_PATH"
`DOTNET_REFERENCE_ASSEMBLIES_PATH` is used to assist `FrameworkReferenceResolver` to find full CLR assemblies on platforms other than Windows. Missing the environment variable will cause all full CLR references become unresolved. It is misleading for tooling (OmniSharp in this case).

If a specific error is returned stating that this environment variable is missing tooling / IDE can feed user will

[2016-02-18 22:59] natemcmaster commented on #1447
Fixed in https://github.com/dotnet/coreclr.xunit/pull/7

[2016-02-18 22:59] #1447 closed

[2016-02-18 23:19] brthor commented on #1150
@bricelam any reason you couldn't use the path?

[2016-02-18 23:27] bricelam commented on #1150
Will it always be on the path? (It isn't on my local dev box :smile:)

[2016-02-18 23:37] brthor commented on #1150
I think our targeted installation experiences will generally put it on the path. I guess it depends on exact scenarios.

cc @krwq Are there any installation mechanisms which don't use the path?

[2016-02-19 00:00] bricelam commented on #1150
Sounds like using `Env.GetCommandPath("dotnet")` should work. This will look first next to `corehost.exe`, then search the path.

[2016-02-19 00:02] GuardRex commented on #1381
This has all been cleared up by clearing the package cache and moving on with new `dotnet cli` install(s).

@ToddThomson Just to wrap our quick-chat on VS Code ... check this out ... https://marketplace.visualstudio.com/items?itemName=GuardRex.status-bar-tasks

[2016-02-19 00:02] #1381 closed

[2016-02-19 00:02] piotrpMSFT commented on #1459
@PhilipDaniels regarding the confusion from `DOTNET_HOME`, @schellap and I just finished PR #1478  to clean up our docs and code.

[2016-02-19 00:02] #1459 closed

[2016-02-19 00:28] piotrpMSFT commented on #1481
What sets DOTNET_REFERENCE_ASSEMBLIES_PATH?

[2016-02-19 00:45] BillHiebert opened #1485 "DotNet build: specifying "--runtime win7-x86" still produces a 64 bit assembly"
...
1. DotNet new
2. DotNet restore
3. DoteNet build --runtime win7-x86
4 Run application. It is built to a win7-x86 folder but the runtime executable is 64 bit

@Sridhar-MS

[2016-02-19 01:43] Sridhar-MS opened #1486 "[MSI]: Rename 'DOTNETHOME' id to something more conventional like 'INSTALLDIR'"
https://github.com/dotnet/cli/pull/1478/files#r53383383

[2016-02-19 02:23] prafullbhosale opened #1488 "Failed to initialize CoreCLR, HRESULT: 0x80004005"
I have a project with a tool defined in the project.json's "tools" key.
dotnet restore is able to find the tool and restore it succesfully.

However when I try to invoke the tool, I get the error:
### `Failed to initialize CoreCLR, HRESULT: 0x80004005`
- [project.json](https://github.com/aspnet/Scaffolding/blob/pb/dotnettool/src/dotnet-aspnet-codegenerator/project.json) of the tool.
- [project.jso

[2016-02-19 03:56] wjk opened #1489 "RESX compilation still can't handle spaces"
This is a followup to #1280. Following the merge of #1434, I have redownloaded and reinstalled .NET CLI, and attempted to compile the test case [wjk/dotnet-cli-1280](https://github.com/wjk/dotnet-cli-1280). However, I still get errors relating to spaces in RESX paths. Here is the full output of `dotnet compile`:

[code]

The first of the two errors is the _exact same_ issue that prompted me to fil

[2016-02-19 05:40] robmen commented on #1486
What do you want it to be? `INSTALLFOLDER` or `INSTALLDIR`?

[2016-02-19 06:45] troydai commented on #1481
I think we can close this issue: https://github.com/dotnet/cli/blob/8645031db8b6a62a10071578f4949b7094293bdc/src/Microsoft.DotNet.ProjectModel/ProjectContextBuilder.cs#L231. It is actually already implemented.

Now we usually set the variable in build script.

[2016-02-19 06:45] davidfowl commented on #1489
The latest version `1.0.0.001483` does have changes that print the version as part of the CLI `dotnet --version`:

[code]

/cc @piotrpMSFT @Sridhar-MS

[2016-02-19 07:37] davidfowl commented on #1433
@markdall can yo update to the latest and try again?

[2016-02-19 10:58] macgyver76 commented on #716
I've got this same issue on Windows running ```dotnet run -f dnx46```. However ```dnx web``` works fine.

.NET CLI Version: 1.0.0-beta-001486

Here's my project.json file:
[code]

[2016-02-19 15:45] lukasz-pyrzyk commented on #1290
@davidfowl - I've updated the description

[2016-02-19 15:46] RichardSilveira commented on #1290
Hi @davidfowl, so...i would like to include an dll file from an internal referenced project in my nuget package...
I do have a class library project that is referenced in my main project, that is class library too, and this "main project" that will be packaged as nuget.
I can´t find a way to include this dll inside the nuget package, because i don´t want to create two packages for this, just one,

[2016-02-19 16:46] nbarbettini commented on #585
Also wondering about any roadmap status for this. For now, I've been creating a shim .csproj file and adding all my library code to it so I can generate the XML needed for API documentation. Not sure if there's a better way to go about it, but it works.

[2016-02-19 17:00] Eilon commented on #585
@nbarbettini I think it's already there, actually. In ASP.NET we started using these options: https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http/project.json#L12-L13

[2016-02-19 17:02] markwilkie commented on #496
The current high level POR is:
-	Publish symbols to VSTS for internal consumption.
-	Publish symbols to dotnet.myget.org for community consumption.  (http://docs.myget.org/docs/reference/symbols))
-	Publish symbols to the standard msft symbol server for our major official releases

@chcosta is the dev on point and we should know timing in the next few days.  The hope is that the symbols will be av

[2016-02-19 17:16] tillig commented on #585
@Eilon does that flag also tell the compiler to generate warnings about missing docs and/or broken `<see cref />` links?

[2016-02-19 17:17] Eilon commented on #585
I believe so. And I think that's the warning that is disabled in the link I gave.

[2016-02-19 17:37] #1366 closed

[2016-02-19 17:37] #1337 closed

[2016-02-19 17:37] #1320 closed

[2016-02-19 17:37] #1304 closed

[2016-02-19 17:40] #1251 closed

[2016-02-19 17:50] chrisjmccrum opened #1492 "Project won't build and produces generic error"
I'm trying to build my project and I keep getting a weird runtime error that I'm not sure how to resolve. I'm on windows and as instructed, I'm using the command line to build my project.
 Here's the output:
[code]

[2016-02-19 18:17] wjk commented on #1489
As it turned out, when I updated .NET CLI, I didn't realize that I had to uninstall the old version manually first. I will file a separate issue on this. The RESX compilation issue is officially resolved.

[2016-02-19 18:17] #1489 closed

[2016-02-19 18:19] wjk opened #1493 "WiX bundle doesn't handle updates correctly"
When running the WiX-based installer on a system that already has an older version of .NET CLI installed, it succeeds nearly instantaneously, but doesn't actually change anything on disk; the old version is still what will be used. I must manually uninstall .NET CLI through Programs and Features before installing the new version will succeed.

I don't know if this is because I was upgrading from a

[2016-02-19 18:20] nbarbettini commented on #585
Can confirm: `dnu build` on 1.0.0-rc1-update1 produces XML output when I have `"xmlDoc": true` in my project.json.

Thanks @Eilon! Does that mean this issue can be closed?

[2016-02-19 18:21] Eilon commented on #585
I believe so, but I'll leave it to the dotnet-cli team to close it. Not sure why it's sitting in Backlog, I'll move it out.

[2016-02-19 18:26] pakrym commented on #1492
Could you please provide your `project.json`?

[2016-02-19 18:29] robmen commented on #1493
Can you look in %TMP% for a log file and attach that here? That will allow us to understand exactly what is going wrong.

Note: There have been several bugs in the upgrade logic because older releases of .NET Core CLI used improper version numbers that could not be upgraded.

[2016-02-19 18:43] blackdwarf commented on #1043
@piotrpMSFT not a problem, we are working on it!

[2016-02-19 18:44] wjk commented on #1493
I found six logs in `%TMP%`; [here is a gist containing all six](https://gist.github.com/wjk/929ae1118707df7ed74b).

[2016-02-19 19:10] robmen commented on #1493
It looks like you have a pretty old .NET Core CLI on your machine before the version reset to 1.0. You'll want to uninstall that old package first, then you should be able to roll forward with upgrades smoothly (assuming there isn't some other SNAFU with version numbers again).

[2016-02-19 19:23] Sridhar-MS commented on #1486
Thanks @robmen, that will be very helpful. I am ok with either.

[2016-02-19 19:33] victorhurdugaci opened #1494 "dotnet restore with --packages fails for tools"
1. Create a project with a tool dependecy
2. Make sure the tool is not installed in the global packages folder.
3. Run `dotnet restore --packages <some folder>`

You'll get an error after restore: `Could not find a part of the path.`

I believe the code looks in the global packages folder for the tool instead of the folder specified in the argument.

cc @brthor @Sridhar-MS

[2016-02-19 19:35] brthor commented on #1494
This would be a quick fix, but there are significant design changes coming to this whole experience.

I'm not sure if we want to hold off or get the quick fix in? cc @piotrpMSFT

[2016-02-19 20:12] natemcmaster opened #1495 "Add support for analyzers as project references"
Add support for using an analyzer from a project reference.

Currently analyzers can only be included from a package reference. This relies on library file structure `<nupkg root>/analyzers/dotnet/cs/*.dll` to identify the package as an analyzer reference. This doesn't work for project references.

Loading a project-reference as an analyzer will require adding some way to identify a project as a a

[2016-02-19 20:19] chrisjmccrum commented on #1492
There's three projects so here's the three project.json files:

**PROJECT.MODELS**
[code]
**PROJECT.EF**
[code]
**PROJECT.CORE**
[code]

[2016-02-19 20:24] jeremymeng commented on #1001
Same issue after installing `dotnet-nightly` on Debian.  Had to add the llvm feed manually.  Worse that http://llvm.org/apt/ no longer lists version 3.6.  Users might have hard time finding out how to add a source feed to have `liblldb-3.6` package available on Debian.

[2016-02-19 20:43] jeremymeng opened #1496 "latest dotnet-nightly silently failed when restoring on Debian"
I installed the latest version `1.0.1.001569-1` on Debian Jessie.  After `dotnet new` I ran `dotnet restore` but it exited silently.  Nothing in the output after the following line
[code]

I noticed that `dotnet -v restore` doesn't print out the runtime anymore as previous versions do

[code]

Compare to dotnet-nightly 1.0.1.001252-1
[code]

The strace show an exit code of 139 (0x8b).

If I downgr

[2016-02-19 21:03] chrisjmccrum commented on #1492
FYI project core is what im trying to build. The other two projects are dependencies of project.core and build fine.

[2016-02-19 21:09] pakrym commented on #1492
Does `dotnet restore` succeeds in core project directory?

[2016-02-19 21:12] chrisjmccrum commented on #1492
Seems like it does
[code]

[2016-02-19 21:16] pakrym opened #1497 "Display better error message when runtime target is not found in project lock"
See https://github.com/dotnet/cli/issues/1492

[2016-02-19 21:16] pakrym commented on #1492
`dotnet5.4` is library TFM, use `dnxcore50` for projects with `"emitEntryPoint": true`. Error message itself is not very helpful, filed: https://github.com/dotnet/cli/issues/1497

[2016-02-19 21:16] vors commented on #819
Desperately need that

[2016-02-19 21:20] gkhanna79 commented on #819
@jaredpar @VSadov What do you think we can have an initial implementation?

[2016-02-19 21:21] chrisjmccrum commented on #1492
to be honest i'm still catching up with all these changes and terminologies  - if I want to use my core project just for an api endpoint, how can I continue to just use dotnet 5.4?  is it as simple as just removing emitEntryPoint?  (that was from my old dnxcore project that im migration to dotnet cli)

[2016-02-19 21:23] pakrym commented on #1492
Yes, if you want to keep it runable change framework to `dnxcore50`, if you want it to be a library remove `emitEntryPoint`

[2016-02-19 21:23] DavidObando commented on #1372
The issue is resolved.

[2016-02-19 21:23] #1372 closed

[2016-02-19 21:33] chrisjmccrum commented on #1492
your the man - thank you my project was built and runs now! Thank you

[2016-02-19 21:33] #1492 closed

[2016-02-19 21:40] markdall commented on #1433
@davidfowl After a pull just now, build.cmd still failed like so: http://pastebin.com/PbeTmbZ2 (Same error. Windows 7  6.1.7601)

Thanks though!

[2016-02-19 21:40] andschwa commented on #1492
@chrisjmccrum See my [post](https://github.com/dotnet/cli/issues/1043#issuecomment-185853314) if you want to use the latest `netstandardapp1.5` framework setup.

[2016-02-19 21:41] chrisjmccrum commented on #1492
will do - I'll try it tonight. it's that time of day over here... MEEEETINGS! haha

[2016-02-19 21:48] shahid-pk opened #1498 "dotnet --version NRE on Ubuntu 14.04"
happens both on dotnet and dotnet-nightly package.
for repro just do this with latest nightly or dotnet

`dotnet --version`

this comes out

caused by i think https://github.com/dotnet/cli/pull/1471

[2016-02-19 22:43] andschwa commented on #913
It also doesn't work if you target `netstandardapp1.5`, but fortunately you can target `dnxcore50` and import the former framework to get things working happily.

[2016-02-19 22:58] #381 closed

[2016-02-20 01:05] brthor opened #1503 "Add Conditional Targets to BuildFramework"
The build needs targets which run conditionally based of platform an potentially other factors.

See Conversation Here:
https://github.com/dotnet/cli/pull/1479

[2016-02-20 01:07] blackdwarf commented on #792
@anurse well, you are right. We are having this be a part of the `project.json` now.

[2016-02-20 01:55] joperezr opened #1505 "dotnet cli publish command doesn't support publishing content files"
Some packages have a root folder named content which according to nuget conventions may contain any type of folders and files. Currently, dotnet publish doesn't copy this assets over which then requires workarounds like going manually to the package and copying those files out

[2016-02-20 01:55] joperezr commented on #1505
Cc: @weshaggard

[2016-02-20 02:14] livarcocc commented on #1505
CC: @pakrym This seems to be around your area of interest.

[2016-02-20 02:26] livarcocc opened #1506 "dotnet-test fails to find the xunit runner if the tfm of the test project is netstandard1.5"

[2016-02-20 02:49] GuardRex opened #1507 "Please use Announcements for breaking changes on published output"
There was a change recently for published output (payload lands in a `publish` folder now) that I missed in the issues. I had an app go down due to the change (staged only ... no big deal). Please give us a heads up on breaking changes in Announcements, where it's less likely this would have gotten by me.

![capture](https://cloud.githubusercontent.com/assets/1622880/13194051/67b22ed8-d739-11e5-9e

[2016-02-20 02:49] #1507 closed

[2016-02-20 03:02] davidfowl commented on #1505
Nuget has support for a new type of content called contentFiles that will be supported in the CLI. The other content folder isn't supported.

[2016-02-20 03:05] brthor opened #1508 "Add coreclr dependencies check to build for OSX"
#1504 Added Coreclr dependency checks for Ubuntu and CentOS.

OSX should be added as well.

libssl is currently the only known dependency. Need to investigate to see if there are others.

[2016-02-20 03:25] piotrpMSFT commented on #1507
@pakrym

[2016-02-20 03:37] davidfowl commented on #1498
I'll fix this but where is the version file?

[2016-02-20 03:39] davidfowl commented on #819
How see you authoring the resx file on on Windows? By hand?

[2016-02-20 04:00] vors commented on #819
I do it by hands even on windows, it's just an xml. Easy peasy.

[2016-02-20 04:02] davidfowl commented on #819
@vors What tools are you using on windows?

[2016-02-20 04:05] vors commented on #819
SublimeText. But I may miss the point: do you mean creating a new one by authoring? I can see how creating a new one can be troublesome. But for editing existing resx files, you don't need a tooling support.

[2016-02-20 04:11] joperezr commented on #1505
@davidfowl I see, when will this contentFiles support come online? Is there an issue tracking the work for it for reference?

[2016-02-20 04:51] chrisjmccrum opened #1509 "appsettings.json not found"
After moving to dotnet cli - my project can't seem to find the appsettings.json file when i run it from the command line.  I have my connection string stored for each env in seperate files and call it dynamically in my startup.  Below my snippet is the error I get now that didn't exist when my project was pure dnx.

[code]

![image](https://cloud.githubusercontent.com/assets/1857216/13194539/15a84

[2016-02-20 04:58] davidfowl commented on #1303
This shouldn't matter anymore. There's a PR out to MVC to fix this by using the `IApplicationEnvironment.Name` instead of the EntryAssembly.

[2016-02-20 04:58] #1303 closed

[2016-02-20 05:26] pakrym commented on #1147
I think this is fixed.

[2016-02-20 05:27] chrisjmccrum commented on #1509
needed to add set base path to the Configuration Builder.

[code]

[2016-02-20 05:27] #1509 closed

[2016-02-20 05:30] #1147 closed

[2016-02-20 07:04] davidfowl commented on #1505
https://github.com/dotnet/cli/pull/1468

[2016-02-20 14:00] christiannagel commented on #1098
Not sure if this is related to the same problem. I'm seeing this error compiling an ASP.NET application:

An item with the same key has already been added. Key: Microsoft.DotNet.ProjectModel.ProjectContextBuilder+LibraryKey

Version: 1.0.0-beta-001492
OS Name: Windows
OS Version: 10.0.10586

[2016-02-20 15:59] davidfowl commented on #1098
@christiannagel can you provide your application? Preferably a github repo!

[2016-02-20 16:02] chrisjmccrum opened #1510 "Project Returning NullReferenceException on a simple GET Function"
I'm getting weird behavior in my application after migrating to dotnet cli.  As a test I decided to create a simple function for testing and was surprised to see that even this call failed which leads me to believe I either stumbled on a bug or I have something misconfigured.
[code]
When I call this function I get the following exception message

[code]

[2016-02-20 17:32] chrisjmccrum commented on #1510
added preserveCompilationContext to the project.json and it works fine now

[code]

[2016-02-20 17:32] #1510 closed

[2016-02-21 04:11] GuardRex commented on #937
Latest on this ...
[code]
... at this point, publishing the content of the `publish` folder to the server.

[2016-02-21 04:13] GuardRex commented on #1000
@piotrpMSFT We're done here, right? [btw- Thanks for adding that. It rocks!]

[2016-02-21 05:32] piotrpMSFT commented on #1000
Did you notice that switching to 'master' shows the right Dev stream numbers? :) @guardrex

[2016-02-21 05:32] #1000 closed

[2016-02-21 05:39] GuardRex commented on #1000
@piotrpMSFT Thanks for mentioning ... I didn't know that. I was looking at `rel/1.0.0`, so I set it to `master`.

[2016-02-21 10:27] StefH opened #1512 "Question : is it possible to create a separate project to build a nuget from multiple other projects?"
Question : is it possible to create a separate project to build a nuget from multiple other projects?

I've the following projects (dnx452 and dnxcore50):

- Library1
- Library2
- Library3

Is it posibble to use another project **Final** which creates a nuget package containing all the artifact outputs from Library1,2 and 3, but not any artifacts from Final? (I don't want any Final.dll or Final.pd

[2016-02-21 10:42] davidfowl commented on #1512
Are those components only ever used in a single package? Is it an internal implementation detail that is never embedded in any other package?

[2016-02-21 11:08] StefH commented on #1512
The purpose is to create a single nuget package which contains the artifacts (dll's) from these 3 Libraries.
The code is split into 3 projects to make the logic more separated, but all 3 dll's are needed when using this Final nuget.

Another solution would be to create a Final project which just includes and compiles the source files from all 3 projects and just creates 1 Final.dll, but I would li

[2016-02-21 14:14] sklivvz commented on #1286
This just bit me too, and I was merely following the [official getting started guide](https://dotnet.github.io/getting-started/). I found that this is a terrible first experience with the product, as it looks like it's *my fault* instead of the product's.

* The tutorial should always work or it should cover this.
* If encrypted passwords are not supported, `dotnet` should explain how to fix and n

[2016-02-21 23:13] Scarat commented on #1098
@christiannagel and @davidfowl  Hi, I was experiencing this too and in my case it was caused by having NETStandard.Library reference in project dependencies while referencing Microsoft.AspNetCore.Mvc at the same time. This was causing some version conflicts while doing *dotnet restore*.

[code]

I was able to fix this by moving NETStandard.Library as dnxcore50 dependency only.

[code]

Version
[co

[2016-02-22 00:19] wjk opened #1514 ".NET CLI Incompatible with Visual Studio"
Following a recent update to my copy of .NET CLI, I am now getting errors when building a .NET Core project from within Visual Studio. Every project in my dependency tree now gives me the following error:

[code]

These projects all compile correctly using `dotnet compile` or `dotnet publish`. It seems that the concerns that prompted me to file #1139 have finally come to pass: .NET CLI and Visual

[2016-02-22 00:27] davidfowl commented on #1514
The VS tooling for the .NET CLI isn't ready yet.

In the mean time, try updating your DNX tools to the latest.

[code]

We're going to keep the DNX tooling as in sync as we can until the CLI tooling in VS is public.

[2016-02-22 01:14] wjk commented on #1514
@davidfowl Didn't work; I still get NU1006. Doesn't really matter, though, because all this affects is a quick syntax-check of my project by doing a Build > Build in the IDE. When I build for debugging or release, I always use .NET CLI. If it's OK with you, I'm going to close this.

[2016-02-22 01:14] #1514 closed

[2016-02-22 02:49] piotrpMSFT commented on #1000
Rel/1.0.0 is the stabilization branch for 1.0, so keep your tools pointed there. Once we move onto vnext, however, tooling is already in place :)

[2016-02-22 03:50] replete opened #1515 "dotnet run looking in wrong place (missing hashed foldername) - "Could not find a part of the path '...exe'""
* 1.0.0-rc1-update1
* .NET Command Line Tools (1.0.0), win10-x64

As you can see below, I am unable to run my project because `dotnet` forgets all about the hash subfolder when trying to find the executable it just compiled.

[code]

[2016-02-22 04:12] davidfowl commented on #1515
Update your CLI install. Uninstall the old one before installing the new one. There's been a few installer problems.

[2016-02-22 04:32] davidfowl commented on #1512
I understand what you're trying to do, I'm just asking what you plan to do with the package. If you include those dlls in other packages then all hell will eventually break loose. If they are only ever used in this single package (as an implementation detail), then it's fine.

[2016-02-22 07:16] piotrpMSFT commented on #710
@davidfowl mentioned that @pakrym has a spec for this issue. If that is shared, we can find someone to implement...

[2016-02-22 07:17] piotrpMSFT commented on #1446
@blackdwarf what is the full matrix?

[2016-02-22 07:21] piotrpMSFT commented on #1450
MSI version has to be special since only the first three parts matter.

We opted to match the file version == NuGet package version == debian package version == PKG version.

[2016-02-22 07:21] #1450 closed

[2016-02-22 07:26] piotrpMSFT commented on #1453
Visual Studio integration for DotNet CLI is not ready yet. Let's revisit once it is ready!

[2016-02-22 07:26] #1453 closed

[2016-02-22 07:29] piotrpMSFT commented on #1485
@BillHiebert @Sridhar-MS is working on 32-bit support in CLI

[2016-02-22 07:33] piotrpMSFT commented on #1488
Does your environment have a DOTNET_HOME directory set? Does this repro without it? What is the associated `dotnet --version`?

[2016-02-22 07:54] davidfowl commented on #710
https://gist.github.com/pakrym/d9262e46a1d780ce9652

[2016-02-22 08:36] davidfowl commented on #1450
We still don't set the assembly file version

[2016-02-22 11:00] phenixdotnet commented on #1286
Hi.

We run into the same errors and now we have the same question: Is it will be supported in future release ? We are working with package management in VSTS and it required encrypted password.

dnu command support it, I guess dotnet cli will support it too

[2016-02-22 12:23] replete commented on #1515
@davidfowl I thought I'd done this, but on closer inspection I realised that _two_ version of dotnet CLI were installed - one was a dev1200 version.

This has worked for me, although now I have other compile errors. Thanks.

**Off-topic aside:**
I know this isn't the right place, but I really feel like the wider vnext project needs someone to _own_ a global _'Getting started with RC1'_ manual - pe

[2016-02-22 12:26] #1515 closed

[2016-02-22 12:38] enricosada commented on #1474
I think that's a bug because the resgen command is builtin, so should be called after the precompile event to make it easier to create and use generated files

If it's ok, i can implement the fix

[2016-02-22 12:40] enricosada commented on #1475
I think that's annoying because the precompile event it's useful to to create and use generated files (like a `dotnet-tt` tool).

If it's ok, i can implement the fix

[2016-02-22 13:46] mayabans opened #1517 "corehost.exe not throwing proper error while resolving run time dependency"
A run time dependency for user dll was created on some another dll, and while resolving this dependency corehost.exe did not throw a proper  Exception like System.IO.FileNotFoundException, but instead following error was thrown

[code]

[2016-02-22 13:59] atanasa opened #1518 "Restore fails with "An error occurred while sending the request." for some packages"
Restore of the package "NETStandard.Library" (and others) fails with:

[code]

I think all packages on myget fail with this error (or maybe rc2 packages).

The dependency is defined as:

[code]

Version of dotnet cli: 1.0.0-beta-001494

Steps to reproduce:
1. Create empty folder
2. Run there "dotnet new"
3. Run there "dotnet restore -v=debug > log.txt"

Using a browser to download the file 'https:

[2016-02-22 16:35] piotrpMSFT commented on #1517
@schellap

[2016-02-22 16:37] StefH commented on #1512
These 3 dll's are always and only used together.

So the question is if there is a way to achieve this using a dummy project **Final** ?

[2016-02-22 16:50] davidfowl commented on #1512
There's no first class support for this in the project system. You can use packInclude to include files from other projects:

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/project.json#L58

[2016-02-22 17:02] prafullbhosale commented on #876
@pranavkm  Just noticed that #1357 addresses only ProjectModel. Any plans for ProjectModel.Loader and ProjectModel.Workspaces?

[2016-02-22 17:50] GuardRex opened #1519 "Nit: Installer logo doesn't reflect .NET ... in any way apparently"
The MSI installer logo is ...

![capture](https://cloud.githubusercontent.com/assets/1622880/13226970/1e2ef50e-d949-11e5-9d81-1ef8c5a6172e.PNG)

There is no ASP.NET logo at http://www.asp.net/; however, it seems the (official?) logo is at the .NET website at https://www.microsoft.com/net ...

![capture1](https://cloud.githubusercontent.com/assets/1622880/13226987/3a8726ae-d949-11e5-9ffa-abdd9f7c68

[2016-02-22 18:01] GuardRex commented on #1519
I was just informed by @blowdart that this cannot be changed.

Personally, I would have rejected the installer technology if it couldn't support my brand.

[2016-02-22 18:08] robmen commented on #1519
It totally can be changed. I grabbed the only image I could find in the repository. Happy to work with anyone more graphically-inclined than I.

[2016-02-22 18:09] Eilon commented on #1519
Should definitely use an official logo in any installer.

[2016-02-22 18:20] robmen commented on #1519
@Eilon where were you when I asked for feedback on the installation UI? :smile_cat:

[2016-02-22 18:22] Eilon commented on #1519
I was, umm... busy? :smile:

@richlander off to you to decide which is the fairest logo of them all.

[2016-02-22 18:50] Jupakabra opened #1520 "Is assembly info still needed"
Got redirected form https://github.com/aspnet/Home/issues/1318.

Just wanted to know if assembly info file should be included in new dnx/dotnet cli projects or project.json will be sufficient for all our needs?

[2016-02-22 19:45] jeremymeng opened #1521 "OutOfMemoryException when `dotnet restore` on an Azure Debian Jessie VM with 1-CPU and 3.5 GB RAM"
Hit it a few times.  It does not always reproduce.  I noticed that CPU usage and memory usage are close to 100%.  Many `dotnet restore` processes, and `corerun "/usr/share/dotnet-nightly/bin/NuGet.CommandLine.XPlat.dll" "restore" "--runtime" "debian.8-x64"` processes spawned.

[2016-02-22 21:58] benaadams commented on #1371
[code]

[2016-02-22 22:20] davidfowl commented on #1371
Whats the version of dotnet?

[2016-02-22 22:22] benaadams commented on #1371
Mine's super helpful...
[code]

[2016-02-22 22:22] davidfowl commented on #1371
That's an old version. Uninstall and reinstall the version worked now.

[2016-02-22 22:27] brthor commented on #1508
CoreCLR docs list homebrew as the method of acquisition for it's openssl dependency.

https://github.com/dotnet/coreclr/blob/master/Documentation/building/osx-instructions.md

Should we consider requiring homebrew for our build on OSX?

cc @livarcocc @piotrpMSFT @Sridhar-MS

[2016-02-22 22:29] cartermp commented on #1371
I just downloaded the latest version and still have the same issue:

![dotnet-failed-again](https://cloud.githubusercontent.com/assets/6309070/13234995/75ef19e6-d970-11e5-98e3-d1e7f0cd55c8.PNG)

[2016-02-22 22:34] benaadams commented on #1371
/grumble grumble... installers

works for me after an uninstall of the multiple versions and a re-install

[2016-02-22 22:46] livarcocc opened #1525 "dotnet pack with -o -b specified does not compile the project and generates empty packages"
A command like this generates an empty package. This is causing all corefxlab nupkgs to be empty. I have worked around it by removing the -b for now.

C:\Users\licavalc\git\corefxlab\dotnet\bin\dotnet pack "C:\Users\licavalc\git\corefxlab\src\System.Collections.Generic.MultiValueDictionary/project.json" -o "C:\Users\licavalc\git\corefxlab\nuget" -c Release --version-suffix e160222-1 -b "C:\Users\l

[2016-02-22 22:47] GuardRex commented on #1371
@cartermp Do you have the `DOTNET_HOME` env var set on your system? If so, uninstall `dotnet cli` from Programs and Features, delete the env var, then re-install. https://github.com/dotnet/cli/issues/1429

[2016-02-22 23:09] dagood commented on #710
The PR I linked to this from doesn't really seem to be this issue--I missed this part from the description:

In that PR the reference was already a package reference and doesn't publish native artifacts. (Although there may be more conditions.) @ericstj and I are investigating further into what we're seeing.

[2016-02-22 23:29] cartermp commented on #1371
@GuardRex thanks, that worked!

[2016-02-22 23:29] #1371 closed

[2016-02-23 00:52] GuardRex opened #1527 "Is receiving the Stack Trace normal for a failed xUnit test?"
I'm experimenting with xUnit in a Core project (`dotnet cli` latest, VS Code)

When an test fails, the Stack Trace is shown ...
[code]
Is that normal? ... or did I configure something incorrectly? If it is normal can I stop the `Assert` from generating the Stack Trace but preserve the test failure? I would prefer to receive output like this (less chatty) ...
[code]

[2016-02-23 01:00] ericstj opened #1528 "Publish fails for packages with placeholders in lib/ref actual files in native"
Consider a package with
[code]
When published, foo.dll is not copied to the output directory.

This is happening because publish ends up calling [PackageDependencyProvider.GetDescription](https://github.com/dotnet/cli/blob/0bde93b57308172fac34a950267b1a3f3d06cbfe/src/Microsoft.DotNet.ProjectModel/Resolution/PackageDependencyProvider.cs#L27) more than once.  The first time through this method it co

[2016-02-23 01:02] ericstj commented on #710
The issue we are hitting is different, filed here: https://github.com/dotnet/cli/issues/1528

[2016-02-23 01:02] ericstj commented on #1528
This appears to have been a regression caused by https://github.com/dotnet/cli/commit/2807db8044397558208f986c147fdbb6244dadf5.

[2016-02-23 02:26] 18583690825 commented on #1488
#I got the same erro on CentOS6.5 .I updated my glibc & gcc. And i got the Binaries of Cli from #https://github.com/dotnet/cli and added it to the PATH. But when i run 'dotnet',it shows 'Failed to #initialize CoreCLR, HRESULT: 0x80131500'
#please help...

[root@Cent65-Core down]# mkdir demo
[root@Cent65-Core down]# cd demo/
[root@Cent65-Core demo]# dotnet new
Failed to initialize CoreCLR, HRESULT:

[2016-02-23 07:23] blackdwarf commented on #1521
@jeremymeng so with increased memory/cpu pressure a `dotnet restore` fails with the OOM exception? Can you share your `project.json` that you are using?

[2016-02-23 07:24] blackdwarf commented on #1520
@davidfowl @anurse any insight on this?

[2016-02-23 07:27] #79 closed

[2016-02-23 07:27] davidfowl commented on #1520
@Jupakabra depends on what assembly metadata you need. The `project.json` metadata maps to specific assembly attributes and nusepc metadata.

[2016-02-23 07:29] blackdwarf commented on #295
@Petermarcu I believe that you had a similar idea?

[2016-02-23 07:30] blackdwarf commented on #1519
@Eilon @robmen I believe the dotnet bot was something we put in back when we were starting. An official logo should be something to put in there (though I would leave the dotnetbot for kicks :)).

@richlander I believe we do have official logos somewhere we can use for this, no?

/cc @piotrpMSFT

[2016-02-23 07:32] blackdwarf commented on #1518
@atanasa which OS?

[2016-02-23 07:34] robmen commented on #1519
Fine by me. Let me be real clear. I'm not a designer. If someone provides the layout for the pages, I am happy to make them look like that (within reason). However, don't just say, "Here's a logo, make it look good."

My graphic-design-fu isn't strong enough to spend time doing all the layout, "wordsmithing", etc. :smile_cat:

[2016-02-23 07:35] blackdwarf commented on #1508
@brthor homebrew is the only sane way, I think, to update OpenSSL. I'm putting this for RTM, is that fine?

[2016-02-23 07:37] davidfowl commented on #1521
/cc @emgarten

[2016-02-23 07:40] blackdwarf commented on #1519
@robmen of course, of course, I meant we will provide all the necessary details. Just need to figure which details are those (pesky branding stuff and all that :)).

Which brings an interesting point...you mentioned above "layout for the pages"...can you elaborate? I don't know much about building installers/bundles, so I thought that there is just a logo (image) in there...

[2016-02-23 07:44] blackdwarf commented on #1493
@wjk I think this is solved now so will close. If you can still repro this with newer installs of the CLI, please reopen the issue.

[2016-02-23 07:44] #1493 closed

[2016-02-23 07:47] blackdwarf commented on #1485
@piotrpMSFT @Sridhar-MS do we have another issue for tracking the x32 support?

[2016-02-23 07:48] blackdwarf commented on #1481
@troydai IIUC, this issue is ok to be closed so will close. If I'm completely missing what you said above, please reopen. :)

[2016-02-23 07:48] #1481 closed

[2016-02-23 07:49] blackdwarf commented on #1480
@piotrpMSFT who to assign this to?

[2016-02-23 07:51] robmen commented on #1519
Click through the install if the latest package for Windows. Then click through the uninstall. You'll see 4 or so different pages that need layout. You can go pretty far with a layout for the welcome page (EULA, stuff to look at like version number, etc) and the rest (something that looks nice minimal controls... like just a progress bar and cancel button or success message and close button).

[2016-02-23 07:53] blackdwarf commented on #1519
These pages are...HTML pages or just "pages" as in, generic term? PKG uses HTML pages (or RTF I believe).

[2016-02-23 07:55] blackdwarf commented on #1431
@cheers00 did this resolve for you with latest? Also, can you try with this feed: <add key="cli-deps" value="https://dotnet.myget.org/F/cli-deps/api/v3/index.json" />?

[2016-02-23 07:59] blackdwarf commented on #1422
@piotrpMSFT is this solved? Should we close?

[2016-02-23 07:59] blackdwarf commented on #1414
@pakrym @davidfowl is this fixed? Should we close?

[2016-02-23 08:03] blackdwarf commented on #1396
@davidfowl @piotrpMSFT this seems like a reasonable expectation to me, actually. Thoughts?

[2016-02-23 08:06] blackdwarf commented on #1388
@danroth27 it needs to include either the "SDK" or "CLI tools" somewhere in there, since you are getting slightly more. We will have the full name this week, I believe, so I will update this issue with it.

[2016-02-23 08:08] blackdwarf commented on #1385
@anurse is this in your backyard, so to speak? :) I think this is a reasonable ask, given the fact that `dotnet run` is also used for quick testing of console apps.

[2016-02-23 08:32] davidfowl commented on #1385
This is a System.CommandLine issue I believe.

/cc @livarcocc @piotrpMSFT

[2016-02-23 09:09] jeremymeng commented on #1521
@blackdwarf I was using a customer's project, but I just reproduced it using `HelloMvc` from https://github.com/aspnet/cli-samples.git.
[code]

[2016-02-23 09:46] atanasa commented on #1518
Windows 7 64-bit

[2016-02-23 09:49] robmen commented on #1519
"pages" in generic terms. The [pages are defined in XML](https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/windows/bundle.thm) to create GDI based forms. Basically, no dependency UI (i.e. runs on WinXP and later) but pretty flexible. It can do owner draw as well if you want to go all in on graphics... not that I recommend that :smile_cat:

[2016-02-23 11:06] davidfowl commented on #1528
Resolved

[2016-02-23 11:06] #1528 closed

[2016-02-23 11:43] akoeplinger commented on #1519
Unrelated to this issue, but the installer should probably block on < Win7 since afaik that's the minimum supported OS by the CLI/.NET Core.

[2016-02-23 14:25] blackdwarf commented on #1497
@pakrym will close this since it seems it is fixed. If its not, please reopen.

[2016-02-23 14:25] #1497 closed

[2016-02-23 14:26] blackdwarf commented on #1496
@jeremymeng can you try the build on http://dotnet.github.io/getting-started/ and see if it still repros?

[2016-02-23 14:34] blackdwarf commented on #1407
@aL3891 you are reffering to the "import" property under "frameworks"?

[2016-02-23 14:35] blackdwarf commented on #1425
@piotrpMSFT who should be assigned to fix this?

[2016-02-23 14:37] blackdwarf commented on #1494
@brthor @piotrpMSFT I think we should fix this as part of the new changes. Thoughts?

[2016-02-23 14:55] blackdwarf commented on #1369
@Petermarcu actually, this is by design. `dotnet -?` fails with "unknown option" which prompts it to display the usage info. This is true for any uknown option. Will close this, reopen if you think the behavior is not correct.

[2016-02-23 14:55] #1369 closed

[2016-02-23 15:08] blackdwarf commented on #1519
@akoeplinger this is actually very true. :)

[2016-02-23 15:12] blackdwarf commented on #1405
Interesting...why is it trying to get access to the installed location of the CLI?

/cc @enricosada

[2016-02-23 15:15] blackdwarf commented on #1401
This issue is referencing two distinct things, one is an ask for a feature (32-bit installer) and another is a bug in the x64 installer that is resolved. I will close this one and @csdanping can you open another issue and cc me in it for the 32-bit installer?

[2016-02-23 15:15] #1401 closed

[2016-02-23 15:16] blackdwarf commented on #1518
@atanasa interesting enough, I cannot repro exactly this, but on my Win7 SP1 box with the latest rel/1.0.0 build 1.0.0-beta-001504 dotnet restore fails with HTTP timeout exceptions. Can you try the latest and see what is the result on your end? Thanks!

[2016-02-23 15:18] blackdwarf commented on #1361
@andschwa @livarcocc what is the status of this? Does it still repro?

[2016-02-23 15:20] blackdwarf commented on #1327
@anurse @livarcocc  wasn't there a discussion on how to solve this?

[2016-02-23 15:32] blackdwarf commented on #1311
@cheers00 I think @shahid-pk's answer solves this particular question/issue so will close. If you have more questions, feel free to reopen.

[2016-02-23 15:32] #1311 closed

[2016-02-23 15:35] blackdwarf commented on #1310
@russellhadley you should always use `dotnet build`. `dotnet compile` gets called within the flow.

@cdmihai about the error message, I seem to remember us having a discussion on it?

[2016-02-23 15:38] blackdwarf commented on #1307
@patrickjamesbarry I believe that this issue should be filed against nuget/home repo, since parsing of Nuget.config is done in the nuget client.

/cc @yishaigalatzer

[2016-02-23 15:39] blackdwarf commented on #1302
@Sridhar-MS agreed, this would be good.

@cdmihai thoughts?

/cc @piotrpMSFT

[2016-02-23 15:39] blackdwarf commented on #1299
@livarcocc what is the status of this?

[2016-02-23 15:42] yishaigalatzer commented on #1307
Can you file and have a sample of what chars are not working? Does it work on desktop?

[2016-02-23 15:44] blackdwarf commented on #907
@davidfowl @schellap should we close this? Seems like the solution is to be explicit about the StdLib and its version in the `project.json`.

[2016-02-23 15:46] blackdwarf commented on #928
This still repros on Windows latest bits (1.0.0-beta-001504). Who should be on point to fix this?

[2016-02-23 15:48] blackdwarf commented on #941
@moozzyk this doesn't repro for me on the latest bits. Will close this, plese reopen if you find it still repros.

[2016-02-23 15:49] blackdwarf commented on #959
@hunter-xue does this still repro for you?

[2016-02-23 15:56] blackdwarf commented on #1201
@livarcocc is this being worked on?

[2016-02-23 15:58] blackdwarf commented on #1188
@YEVHENO have you tried @marono's suggestion? Did it work?

[2016-02-23 15:59] atanasa commented on #1518
It has something to do with my proxy settings for the WinINET stack (i.e. the Internet Options proxy).
If I turn off the proxy, it works. If I run Fiddler (that sets a different proxy), the error is "security error" even though the fiddler certificate is trusted by windows. It is strange that if I have the proxy on, I can download the package using the browser.
It could be my corporate proxy filte

[2016-02-23 16:01] blackdwarf commented on #1161
@seesharper the higher version of libssl should solve the issue. Closing this, if it still repros please reopen.

[2016-02-23 16:01] #1161 closed

[2016-02-23 16:04] blackdwarf commented on #1152
@livarcocc @piotrpMSFT so what is the plan here? I think this is an important experience enhacement for using `dotnet test`.

[2016-02-23 16:12] patrickjamesbarry commented on #1307
I understand that nuget is probably used under the covers, but I was issuing a "dotnet restore" command and my repos/feeds were not  getting found (with no errors showing the reason).  Since I was interacting with dotnet cli, that is why I logged the ticket here.  Are you saying this is because that nuget is not throwing an error for dotnet cli to catch?   The character in our password was an aste

[2016-02-23 16:15] yishaigalatzer commented on #1307
Yes dotnet restore is a thin wrapper on nuget.

[2016-02-23 16:22] blackdwarf commented on #1307
@patrickjamesbarry yup, I'm just trying to get the issue routed to the best place for it to be taken care of. :)

[2016-02-23 16:29] schellap commented on #907
Closing...

[2016-02-23 16:29] #907 closed

[2016-02-23 16:38] blackdwarf commented on #1150
@brthor you're right, all of our proposed installation experiences (see #1482 for details) will put the tools on the path.

@davidfowl is this OK to be closed or do we need this for tracking still?

[2016-02-23 16:42] blackdwarf commented on #1290
To me this seems also like a guidance question. What is the process when you build a Nuget package out of a solution with multiple projects in which some are P2P dependencies? Is the guidance that everything should be separately packaged as a NuGet package?

/cc @piotrpMSFT

[2016-02-23 16:55] blackdwarf commented on #1274
@dougbu can you try this on the latest and see if it still repros?

[2016-02-23 16:57] ericstj commented on #1528
LGTM. Thanks for the quick fix.

[2016-02-23 16:57] blackdwarf commented on #1250
@Sridhar-MS @eerhardt is this work done? Can this issue be closed?

[2016-02-23 16:58] blackdwarf commented on #1233
@piotrpMSFT @davidfowl  thoughts on this?

[2016-02-23 17:03] eerhardt commented on #1250
The following tests still need to be renamed/moved as appropriate:

- ArgumentForwardingTests
- ArgumentsReflector
- ScriptExecutorTests

But I think that's the only thing left.

[2016-02-23 17:03] patrickjamesbarry commented on #1307
https://github.com/NuGet/Home/issues/2158

[2016-02-23 17:06] blackdwarf commented on #1245
@benaadams we do have the extensibilty support, maybe this could be an additional command that users can pull down if they need? Seems like something that would fit nicely into that scenario.

[2016-02-23 17:09] davidfowl commented on #1250
There's also this `https://github.com/dotnet/cli/tree/rel/1.0.0/testapp` that needs to be deleted /cc @troydai

[2016-02-23 17:11] dougbu commented on #1274
Just picked up new bits and the colours look right again :smiley_cat:

[2016-02-23 17:11] #1274 closed

[2016-02-23 17:25] #1505 closed

[2016-02-23 17:25] StefH opened #1531 "Copy paste a line with \\\" in the project.json in Visual Studio 2015 removes a \" ?"
Copy paste a line with \\\" in the project.json in Visual Studio 2015 removes a \" ?

Project.json before:
![2016-02-23_18h21_56](https://cloud.githubusercontent.com/assets/249938/13260163/9f8326c2-da5a-11e5-9b34-d4263afb1093.png)

Selecting the green part and doing a Ctrl-C , Ctrl-V on another line removes the \" ?
![2016-02-23_18h22_11](https://cloud.githubusercontent.com/assets/249938/13260204/

[2016-02-23 17:25] #1414 closed

[2016-02-23 17:29] benaadams commented on #1245
@blackdwarf quite possibility.

Caught me out post Core rename as not every package renamed and I was using `1.0.0-*` versions and didn't know what the previous version I referenced was (only .lock file knew it, which wasn't under source control); so was forced to migrate (was just trying to make a small patch).

Wasn't an issue, more a warning :)

[2016-02-23 17:40] blackdwarf commented on #1307
Thanks @patrickjamesbarry, closing this one.

[2016-02-23 17:40] #1307 closed

[2016-02-23 17:41] natemcmaster commented on #1381
The issue here appears to be with NuGet. See https://github.com/NuGet/Home/issues/2133

[2016-02-23 18:06] Sridhar-MS commented on #1485
@blackdwarf Do you mean xplat building/publishing support for x86 using x64 dotnet tools?

[2016-02-23 18:10] jasonwilliams200OK opened #1532 "How to build this repo from scratch on Banana Unix?"
Suppose there exists a Banana Unix OS (e.g. some BSD or Solaris like).

How do I build this project fully offline, such that it does not rely on anything from the internet?

[code]

Are there required components to build CLI project, which haven't been open sourced yet to accomplish this task? If there are, can we expect them to land on GitHub soon?

---

Before dotnet/cli (in dnx days), we were a

[2016-02-23 18:16] blackdwarf commented on #1485
@Sridhar-MS nope, I meant just having a 32-bit installer/bits on disk.

[2016-02-23 18:19] Sridhar-MS commented on #1485
https://github.com/dotnet/cli/issues/783

[2016-02-23 18:25] aL3891 commented on #1407
Yes, thats the one, @blackdwarf

[2016-02-23 18:31] blackdwarf commented on #1407
@aL3891 that one is used to essentially tell NuGet that assembiles from that framework will work in the target framework. So:

[code]
Tells Nuget that any package that is for "somethingelse" will work for your target of "dnxcore".

[2016-02-23 18:33] prafullbhosale commented on #1488
@piotrpMSFT
I don't have this issue anymore with dotnet cli 1.0.0-beta-001489.

With the earlier version, I did try with and without dotnet_home env variable and still had the issue

The only thing I observed (though I am not sure that it could be the cause) was that the tool was built with using older dotnet-cli version (a day older) than what the project was built with.

I will try to see if I c

[2016-02-23 18:38] jasonwilliams200OK commented on #1531
Steps to repro

Copy the following:

[code]

and paste in project.json in VS2015.

It will result in:

[code]

(workaround is to press Ctrl+Z once after the paste)

[2016-02-23 18:42] natemcmaster opened #1534 "dotnet-test fails to find executable"
dotnet test fails to find the executable dotnet-test-xunit.dll when executing on OSX and Linux even when executing from the same directory as the tests. (NB this is not the same as #1184 ) This occurs if dnxcore50 is not the first TFM listed in the test project.

Using OSX, dotnet v 1.0.0.001509
[code]
Example: https://travis-ci.org/aspnet/Microsoft.Data.Sqlite/jobs/111259306#L1877

[2016-02-23 19:08] aL3891 commented on #1407
i see, and "somethingelse" can be anything? or only valid tfms?
Also, how come this not found in dotnet-pack? (just curious)

[2016-02-23 19:17] blackdwarf commented on #1532
@jasonwilliams200OK why is internet a problem?

[2016-02-23 19:21] blackdwarf opened #1537 "Latest and versioned package names for OS X are different"
The latest package is named `dotnet-osx-x64.latest.pkg`. However, the versioned package is called `dotnet-osx-x64-cli.[version].pkg`.

The expected behavior is that they should be the same. There is probably a bug somewhere in the publish scripts on naming.

/cc @Sridhar-MS @piotrpMSFT @anurse

[2016-02-23 19:22] jasonwilliams200OK commented on #1532
@blackdwarf, if there is a dependency on native binary and the source is available, we can essentially build on [m]any platforms.

Besides, if "build everything from source" is also an option (in addition to packaged), that will make things more simpler and new platform outreach would be easier for dotnet maintainers as well IMVHO.

[2016-02-23 19:23] blackdwarf commented on #1537
@glennc is the name something that you need for chaining this into the aspnet PKG installer?

[2016-02-23 19:25] livarcocc commented on #1385
Yes. Today, we does not have a "remaing args" option to pass along. We are looking into it.

[2016-02-23 19:54] prafullbhosale opened #1540 "Target ProjectModel.Loader and ProjectModel.Workspaces for net 451"
#876 was closed after addressing only the ProjectModel project.
So opening a new one to track the Loader and Workspaces projects.

[2016-02-23 19:54] prafullbhosale commented on #1540
cc @pranavkm @pakrym @sayedihashimi

[2016-02-23 19:54] pranavkm opened #1541 "dotnet compile has incorrect paths when not run from project root."
When run from the current directory

[code]

When run from one directory above

[code]

Notice the path for Program.cs is incorrect (`dotnet-new` is repeated twice).

[2016-02-23 20:10] emgarten commented on #1521
@jeremymeng is this only on Debian 8 or are you seeing it on other OSes also?

[2016-02-23 20:29] aL3891 commented on #1310
Isn't this the intended behavior though? dotnet-compile just invokes csc and produces a dll, dotnet-build also embeds that dll in a platform specific exe file. If the project is already built, dotnet-build skips the dotnet-compile.

[2016-02-23 20:42] cdmihai commented on #1302
This means that there should also be one lock file for the global.json that resolves the dependencies for all the projects visitable from global.json. Otherwise build can't walk the project dependencies and topo sort them.

Also, wouldn't other dotnet verbs also need to be able to function with a global.json? Like restore, pack, test, etc. If yes, dotnet CLI would need to have a shared mechanism f

[2016-02-23 21:22] blackdwarf commented on #1310
@aL3891 I understood @russellhadley that the skip happens completely, that is, even though there is no executable dotnet build skips.

[2016-02-23 21:24] davidfowl commented on #1310
Yes, don't use `dotnet compile`, maybe we should remove it from running as a top level command.

/cc @cdmihai @piotrpMSFT

[2016-02-23 21:28] cdmihai commented on #1310
Build uses the output path calculator to get a list of output items. If the executable path is in that list but does not exist in the file system, build should rebuild. Could be a bug somewhere if build knows about the exe but does not rebuild when it's not there

[2016-02-23 21:33] akoeplinger opened #1542 "Windows installer should block on < Win7"
The CLI won't run there anyway: https://github.com/dotnet/cli/issues/1519#issuecomment-187733345

[2016-02-23 21:56] victorhurdugaci opened #1543 "dotnet build fails with COM exception on Win7"
You can use the code under https://github.com/aspnet/dnx-watch

[code]

[2016-02-23 22:00] victorhurdugaci commented on #1543
PS: This is on Win7 SP1 with the latest updates and the project I'm compiling only targets dnxcore50 (no desktop)

[2016-02-23 22:00] piotrpMSFT opened #1544 "Stabilize CLI Dependency Package Flow"
## Objective
dotnet/cli needs to achieve and maintain a stable dependency surface area while keeping up with improvements in dependency components. Moving to a private dependency myget feed was a big step in the right direction, ensuring consistent retention policy and fast build times, but is insufficient for CLI to reach production.

## Requirements
- [ ] CLI build times cannot regress
- [ ] CLI

[2016-02-23 22:20] piotrpMSFT commented on #1544
/cc @ellismg @gkhanna79 @jankotas @sergiy-k @markwilkie

[2016-02-23 22:20] gkhanna79 commented on #1544
CC @jkotas

[2016-02-23 22:21] andschwa commented on #1361
@blackdwarf Quick test this morning with 1.0.0.001504-1 no longer seemed to repro. I will test with the main project soon and update!

[2016-02-23 22:27] eerhardt commented on #1544
To solve `CLI must have immediate access to new builds of external dependencies.`, I plan on using the Web Hooks feature in MyGet to push new packages from dotnet-core (and any other feed we need immediate access to) into our private dependency feed as they come out.

See:  http://docs.myget.org/docs/reference/webhooks#Package_added and http://blog.myget.org/post/2014/10/16/Implementing-custom-pac

[2016-02-23 22:28] victorhurdugaci opened #1545 "Cannot find System.* types when building dnx451 on Win7."
Try to build https://github.com/aspnet/common on Win7 SP1 with the latest updates:

[code]

It seems that everything from `mscorlib` cannot be found

[2016-02-23 22:28] piotrpMSFT commented on #1544
/cc @agocke @emgarten @jaredpar

To truly fix this issue we're going to need to finish work already under way regarding getting CLI dependencies onto NETStandard.Library and keep those versions in sync.

[2016-02-23 22:33] hunter-xue commented on #959
@blackdwarf  though this issue is resolved but others, seems .net cannot work well on mac ox x 10.11.2 right now.

[2016-02-23 22:33] #959 closed

[2016-02-23 22:34] davkean commented on #1544
@piotrpMSFT can you expand on this? When designed the entire contract system that ".netstandard" is built on, it was always compatible to build against a lower version of a given contract and run against a higher version. It seems that the impression is being given to Roslyn that this isn't the case. Can you help me understand this?

[2016-02-23 22:35] davkean commented on #1544
Are are you only talking about pre-release dependencies?

[2016-02-23 22:37] victorhurdugaci commented on #1327
There's a workaround by invoking taskkill/pkill but it's hacky and it doesn't work everyone. For example nano server doesn't have `taskkill`

[2016-02-23 22:40] jeremymeng commented on #1496
@blackdwarf yes, `dotnet=1.0.0.001331-1` was the build we tried first but had the same issue.

[2016-02-23 22:41] eerhardt commented on #1544
Yes, the main issue here is pre-release dependencies. For example, when building the dotnet/cli repo today, we download 15 different versions of the `System.Runtime` package, each of which is between 30-60 MBs. It is a huge waste during our build to restore these multiple versions.

[2016-02-23 22:43] jeremymeng commented on #1521
@emgarten I haven't as I don't have other machines with limited resources.

[2016-02-23 22:44] davkean commented on #1544
Okay, so the ask is to unify pre-release dependencies, but Roslyn _does not_ have to upgrade dependencies on packages that are already released? Is a correct statement?

[2016-02-23 22:45] cheers00 commented on #1431
Yes. I will close this. Thanks.

[2016-02-23 22:45] #1431 closed

[2016-02-23 22:50] jeremymeng commented on #1496
Now saw another failure with exit code 137 this time
[code]
It is with `1.0.1.001252-1` on a 1 Core 3.5 GB Azure VM.  This version works fine on another Debian VM.

[2016-02-23 22:54] cheers00 opened #1547 "'dotnet build' options"
How do I specify runtime here? It was easy with ```dnu list``` but I am not sure how to get list of runtimes with ```dotnet cli```.
Framework ```dnxcore50``` works for me but are there any other options?
Any examples to use IL compiler options?

Is there any help documentation on dotnet build options?

Thanks

[code]

[2016-02-23 22:55] eerhardt commented on #1544
I didn't think that was possible. Once you release a package, the dependencies are fixed - right?  I don't think we are asking to upgrade dependencies on already released packages.

But, for example, we should upgrade the dependencies in Microsoft.Net.Compilers.netcore 1.2.0-beta1* packages to use the NETStandard.Library.

[2016-02-23 22:56] piotrpMSFT commented on #1544
Correct. The requirement will be that when new Roslyn [and NuGet and etc.] packages are PR'd into CLI then their mutual dependencies are version-identical.

[2016-02-23 22:56] davkean commented on #1544
Hold on, now we're talking about two different things.

[2016-02-23 23:07] davidfowl commented on #1545
What's the version? Does it only repro on win7 (32 bit 64 bit)?

[2016-02-23 23:13] muratg commented on #1327
:eyes:

[2016-02-23 23:17] andschwa opened #1548 "`dotnet publish /path/to/project` fails to parse JSON"
Ubuntu 14.04, CLI version 1.0.0.001509-1.

Works when run from the folder that contains the `project.json`.

[code]

[code]

[2016-02-23 23:21] piotrpMSFT commented on #1544
CLI installers should ship only one version of each library per target. Today we have 15 System.Runtimes that run just atop corefx/coreclr. That needs to be fixed.

So long as folks are referencing common libraries correctly [e.g. use the Metapackage where available] CLI can override their dependencies to unify. This will mean, though, that we will need to add false dependencies next to `roslyn` a

[2016-02-23 23:22] victorhurdugaci commented on #1545
Version: 1.0.0.001496
Win: 64bit

I am setting up a Win 2008 R2 machine to see if I can repro it there too

[2016-02-23 23:24] victorhurdugaci commented on #1548
You have an extra comma in the `runtimes` property: `"ubuntu.14.04-x64": { },`

[2016-02-23 23:24] andschwa commented on #1548
I caught that removed it, same result. Running it through a full linter right now (but was experiencing this with other valid `project.json` files.

[2016-02-23 23:26] davkean commented on #1544
@piotrpMSFT That's exactly how I would expect the system to work. You must unify dependencies to the highest version - that's just normal dependency management.

[2016-02-23 23:27] andschwa commented on #1548
JSON linter says it's valid (given the edit).

[2016-02-23 23:31] andschwa commented on #1548
Something *has* to be up with my machine I think, this used to work just fine, and it repros with every version of dotnet and dotnet-nightly I tried (and all the `project.json` files I have laying around).

[2016-02-23 23:34] davkean commented on #1544
@ericstj can you weigh in on this? There's a massive confusion on the Roslyn side - the compiler is being told to upgrade dependencies we have on stable releases of framework packages, which goes against everything we worked on for the last 5 years.

[2016-02-23 23:42] piotrpMSFT commented on #1544
@davkean this issue is intended to figure out the right answer. We know we need for CLI to ship on a consistent version, the question is how we get there. Agreed we need to work with @ericstj to determine the right guidance.

The thing that makes CLI dependencies 'special' is that we need to unify them across multiple projects. NuGet does this for us for any given project, but we ship many project

[2016-02-23 23:45] davkean commented on #1544
Your case is not that special, it's extremely common for packages to have binaries with different dependencies. Any package containing both a desktop and portable binary is that situation.

[2016-02-24 00:00] livarcocc commented on #1326
https://github.com/dotnet/cli/pull/1358

[2016-02-24 00:00] #1326 closed

[2016-02-24 00:02] andschwa commented on #1548
It has to be something effed up on my machine, I couldn't repro on a new VM. Time to make a new VM I guess.

[2016-02-24 00:02] #1548 closed

[2016-02-24 00:09] andschwa commented on #1548
Major case of PEBKAC. I had a malformed `project.json` in my home directory (where I was running from), which dotnet was picking up before the one in the folder. Sorry for filing!

[2016-02-24 00:09] victorhurdugaci opened #1549 "Get help from test runners"
If you run `dotnet test --help` you get the help for `dotnet-test` but not for the runner that's behind `dotnet-test`.

As far as I can tell, there's no way to get help about the arguments of the underlying runner.

[2016-02-24 00:10] victorhurdugaci commented on #1548
Curious... Why was that project picked up?

[2016-02-24 00:16] andschwa commented on #1548
Well, my `cwd` was my home directory. CLI probably ought to ignore anything in `cwd` entirely if a path to a `project.json` file (or project folder) is specified.

I'm refactoring a build script to be location agnostic, which is why I was running outside of the project tree.

[2016-02-24 00:18] tijoytom commented on #1111
This is removed now

[2016-02-24 00:18] #1111 closed

[2016-02-24 00:40] GuardRex commented on #1527
I have a good answer on this from @BradWilson on JabbR: It does two things ...

- It provides the line number. If there are many tests, it obviously helps you get to the method where the failure occurred.
- VS has an additional advantage in that it can jump you right to the failed test method in the VS UI, because VS can recognize the presence of the Stack Trace and enable this extra navigation fu

[2016-02-24 00:41] moozzyk commented on #1543
I wonder if this is Win7 or just a machine (including Win10) that does not have Visual Studio installed.

[2016-02-24 01:37] ericstj commented on #1544
There are two issues to consider here:
1. CLI needs to be able to upgrade to latest implementation and have a consistent set of packages at runtime & in the CLI package.
2. CLI needs to have a minimal restore footprint.

1 is a given and is the natural behavior for NuGet.  NuGet walks the entire graph to find the best version that satisfies all consumers.  So long as CLI is using a single resoluti

[2016-02-24 01:40] Sridhar-MS opened #1550 "dotnet-compile-native does not support Windows x86"
Currently `dotnet compile --native` produces only x64 binaries on Windows.

[2016-02-24 01:43] livarcocc commented on #1534
@natemcmaster I believe the problem here is the net451 that you have at frameworks in your project.json. For that framework, we don't know how to find dotnet-test-xunit, since you put the dependency inside the dnxcore50 only. So, dotnet test tries to run for that tfm (net451) and it fails. Why do you have net451 tfm in your test project as well? Remove it and you should be ok.

[2016-02-24 02:10] brthor commented on #1548
@andschwa sounds like there's a real bug with publish picking anything else up but the project you specified

[2016-02-24 02:16] bradwilson commented on #1527
Open a feature request. This would be a change in the runner.

We don't parse the stack frames (primarily because they vary by language), so we likely wouldn't do this.

UX. It puts values in a predictable place at a glance. Also, we use fixed pitch output in our messages to help even further:

[code]

[2016-02-24 03:11] GuardRex commented on #1527
@bradwilson Thanks ... thoroughly answered and I understand the reasoning here.

[2016-02-24 03:11] #1527 closed

[2016-02-24 06:35] StefH commented on #1512
For this moment I just combined all source files into 1 dll using :
[code]

Issue can be closed.

[2016-02-24 06:35] davidfowl commented on #1512
Nice!

[2016-02-24 06:35] #1512 closed

[2016-02-24 06:46] StefH opened #1555 "Difference between dnx/dnu and dotnet?"
Probably this question has been asked before, but I'm kind of lost here.

Is the **dnu/dnx** deprecated, and will the **dotnet** be the final solution?

[2016-02-24 06:52] davidfowl commented on #1555
In RC2 yes. The .NET CLI will supersede dnx and dnu.

[2016-02-24 06:55] StefH opened #1556 "Visual Studio 2015 integration?"
Is there already integration from dotnet with VS 2015 ?

[2016-02-24 07:00] davidfowl commented on #1556
Nope. It'll be released with RC2

[2016-02-24 07:02] StefH opened #1557 "Easy text file / list defining all the supported frameworks"
Some time ago I tried to create a simple list in a text-file which defines all the possible frameworks which are supported.

See this location for that text file:
https://raw.githubusercontent.com/StefH/UZipDotNet/master/UZipDotNet/src/UZipDotNet/_frameworks.txt

Can somebody please review and comment if something is missing or wrong ?

Many thanks !

[2016-02-24 07:03] StefH commented on #1556
What will be the release plan after RC2, will there a final version after this?
Or some more RC versions ?

Can you share more details about the release plan?

[2016-02-24 07:03] Eilon commented on #1556
@richlander this is your territory.

[2016-02-24 07:33] Boglen commented on #1335
Try
dotnet run -f net451

[2016-02-24 07:38] davidfowl commented on #1335
/cc @pakrym

[2016-02-24 07:57] davidfowl commented on #1544
Yes, but that's not happening right now. I agree that would be a nice way to solve this problem but it's just not a good short term solution.

[2016-02-24 08:03] davidfowl commented on #1547
Not sure what you mean. There is no runtime currently in the CLI, can you clarify?

[2016-02-24 08:06] davidfowl commented on #1476
/cc @emgarten

[2016-02-24 08:09] davidfowl commented on #1532
There's only a single native thing in the CLI (for the managed codez) and that's corhost. It's the native CLR host (https://github.com/dotnet/cli/tree/rel/1.0.0/src/corehost)

[2016-02-24 08:10] robmen commented on #1542
I can fix this if you'd like.

[2016-02-24 08:44] jasonwilliams200OK commented on #1532
@davidfowl, thanks. I am able to build corehost by running `cli/src/corehost/build.sh` on FreeBSD. Now I have `cli/src/corehost/cli/corehost`. Is there any way I can get `dotnet` produced (given CoreCLR and Roslyn, both build on FreeBSD at this moment)?

[2016-02-24 09:54] davidfowl commented on #1532
2 questions:
- Why does Roslyn need freebsd build? It's just managed code.
- Do you produce FreeBSD packages for those CoreCLR and CoreFx?

[2016-02-24 11:01] krytarowski commented on #1532
The corehost part already builds on NetBSD:

[code]

[2016-02-24 11:11] jasonwilliams200OK commented on #1532
I was just highlighting that the project builds on FreeBSD with mono and PCL assemblies installed.

I have just compiled CoreCRL on FreeBSD and NetBSD, then compiled CoreFX managed assemblies on Windows for these paltforms, scp'd over to VMs and ran tests. On FreeBSD, running the tests is throwing assertions.

If we get CLI building with confirmed RIDs, it would be easier for us to make progress (

[2016-02-24 11:13] krytarowski commented on #1532
@jasonwilliams200OK Can you run tests / managed code on NetBSD?

[2016-02-24 11:16] jasonwilliams200OK commented on #1532
@krytarowski, I haven't built CoreFX assemblies for NetBSD targets yet. It takes about ~20 minutes to cross-compile those assemblies on Windows. The entire size of corefx/bin folder that I copied over to FreeBSD was 7GB (FreeBSD_Debug target)

[2016-02-24 11:19] krytarowski commented on #1532
Keep us posted on the progress of trying it out.

[2016-02-24 13:39] ayende opened #1558 "dotnet build with emitEntryPoint = true doesn't product an exe"
I  have the following project, as you can see, it is set to emit an entry point:

https://github.com/ayende/ravendb/blob/temp/src/Raven.Server/project.json#L12

I'm pretty sure that I'm missing something fundamental, but I can't get this to produce an executable.
[code]

The code compiles file (that is, dotnet build reports no error).

[2016-02-24 13:42] ayende commented on #1558
Also:
[code]

[2016-02-24 14:00] Jupakabra commented on #1520
I usually used
[code]
And some times one or two xunit attributes, but the question is more about is it "completely not needed" or it will not be needed, unless used in advanced scenarios?

[2016-02-24 14:16] MichaCo commented on #1520
Following things will be set via project.json (if defined) now as far as I know:

[code]

If you need additional stuff, you can manually add an assembly info file later. In general, for the version etc, you don't need one at all.

If you want to mark your assembly as CLS compliant again for example, you have to add one.

[2016-02-24 14:37] akoeplinger commented on #1558
The reason is that the ".exe" in the dnxcore50 case is a native bootstrapper that boots coreclr and then runs the entrypoint in <name of exe>.dll, e.g. on OSX the native bootstrapper doesn't even have the .exe extension.

You need to build for e.g. "frameworks: net451" to get a managed .exe that contains IL.

[2016-02-24 14:40] akoeplinger commented on #1558
Oh, I missed the fact that it says "cannot find the file specified" (== the native bootstrapper), that looks like a bug.

[2016-02-24 14:46] Jupakabra commented on #1520
Got it, thanks.

[2016-02-24 14:46] #1520 closed

[2016-02-24 14:57] smitty92 commented on #1543
Running windows 8 and vs 2013 pro i have the same issue

[2016-02-24 15:02] regionbbs opened #1559 "Unable to install dotnet-win-x64.latest.exe in Windows 10 with 0x8002000a"
Hi,

I tried to install .NET Core CLI from dotnet-win-x64.latest.exe in Windows 10, and got error code 0x8002000a.

Log file content:
[20E4:23C8][2016-02-24T23:02:13]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: C:\Users\regio\AppData\Local\Temp\{4515863C-56E1-4FEC-9953-A10556434569}\.cr\dotnet-win-x64.latest.exe
[20E4:23C8][2016-02-24T23:02:13]i000: Initializing stri

[2016-02-24 15:03] akoeplinger commented on #1559
Please see https://github.com/dotnet/cli/issues/1473.

[2016-02-24 15:04] regionbbs commented on #1559
OK, it works.
Thank you.

[2016-02-24 15:13] citizenmatt commented on #1376
Can I just confirm that I understand this correctly? In order to debug, the IDE first starts `dotnet-test`, then asks for the process start info. The IDE will then use this command line to launch the actual runner, under the debugger. The actual runner will send messages to `dotnet-test`, which will relay them back to the IDE.

If the actual runner exits successfully, the debugging session will en

[2016-02-24 15:14] eerhardt commented on #1544
What makes CLI special is the fact that we want to release 4 separate repos (corefx, roslyn, nuget, cli) at the same time and in the same package (in this case an .msi or apt-get package). Normally, separate repos ship independently of each other.

It would be unfortunate if we shipped corefx-version823 in the same package as nuget and roslyn, where nuget referenced corefx-version818 and roslyn re

[2016-02-24 16:02] davkean commented on #1544
To summarize, Roslyn needs to upgrade their existing dependences on shipped .NET packages because NuGet downloads packages that are never actually used?

[2016-02-24 16:27] eerhardt commented on #1544
That is one reason. But the more important reason is this: when Roslyn ships its official version, it shouldn't have a dependency on a pre-release version of .NET. It should be dependent on the same version of .NET that is shipping in the official installer.

One issue we are trying to figure out is: how do we get daily builds to act more like how the officially shipped build is going to work? How

[2016-02-24 16:28] natemcmaster commented on #1534
`dotnet-test` finds and runs just fine if dnxcore50 is the first TFM listed. But if net451 is first it throws the error above.

We test both dnxcore50 and net451 because we cross compile to this and dotnet5.4.

[2016-02-24 16:32] davkean commented on #1544
I'm not talking about pre-release packages; that makes sense to me, if we ship dependencies on pre-release packages we should agree on them due to breaking changes, etc that happens during releases.

However, I'm talking about non-prerelease packages such as [System.Runtime](http://www.nuget.org/packages/System.Runtime/4.0.10).

[2016-02-24 16:41] #1559 closed

[2016-02-24 16:42] davidfowl commented on #1558
/cc @pakrym

[2016-02-24 17:01] davidfowl commented on #1374
Can this be done yet?

[2016-02-24 17:02] pakrym opened #1560 "Wrapper project pdb outputs location is resolved based on wrong base directory"
`D:\github\ravendb\src\Raven.Server\dnxcore50\GeoAPI.pdb'` instead of `d:\github\ravendb\libs\GeoAPI\dnxcore50\GeoAPI.pdb`
https://github.com/dotnet/cli/issues/1558

[2016-02-24 17:02] pakrym commented on #1558
https://github.com/dotnet/cli/issues/1560

[2016-02-24 17:08] gkhanna79 commented on #1374
This is waiting on https://github.com/dotnet/coreclr/pull/3214 to go through. @ellismg Were you able to validate your PR in the closed build?

[2016-02-24 17:21] troydai commented on #1250
It can be moved, but there are projects under `testapp` will fail the `dotnet restore` intentionally. Make sure it doesn't break build script.

[2016-02-24 17:24] davidfowl commented on #1560
Which wrapper project? This a `dnu wrap` thing?

[2016-02-24 17:24] anurse opened #1561 "Produce "portable app" publish layout"
In order to produce "portable apps", we need to adjust the publish behavior somewhat.

First, when publishing without the `--runtime` switch, we are no longer going to select an appropriate RID. Rather we will publish in the "portable app" mode, using only a TFM target. If `--framework` is specified, we will use that, however if it is not, we will default to the most appropriate TFM as we do today

[2016-02-24 17:25] pakrym commented on #1560
@davidfowl https://github.com/ayende/ravendb/blob/temp/libs/GeoAPI/project.json

[2016-02-24 17:26] davidfowl commented on #1560
Ah I see. This is dnu wrap left over :smile:

[2016-02-24 17:26] pakrym commented on #1560
We support this? Should i fix it?

[2016-02-24 17:27] ayende commented on #1558
@akoeplinger Yes, the issue isn't so much that the exe isn't being created.
It is that I can't run anything, because it doesn't find the right file.

Also, please note that I'm trying this on Windows.

This same code run fine when running it using dnx.

[2016-02-24 17:27] ayende commented on #1560
What would be the _proper_ way to handle such things in dotnet cli now?

[2016-02-24 17:28] anurse opened #1562 "Produce deps.json file"
We've outgrown the `deps` file :). This has been coming for a while, but I wanted to codify the full design to make sure we know what we're doing. I chatted with @muratg and it sounds like we're going to put @pakrym on this.

Rather than a `.deps` text file, we should generate a `.deps.json` file containing all necessary metadata from the lock file. As much as possible, we want this file to look l

[2016-02-24 17:29] anurse commented on #393
Happening as part of #1562

[2016-02-24 17:29] #393 closed

[2016-02-24 17:29] anurse commented on #394
Happening in #1562

[2016-02-24 17:29] #394 closed

[2016-02-24 17:31] davidfowl commented on #1560
I just took a look, we'll need to support this until we have a replacement for raw assembly refs.

[2016-02-24 18:09] cheers00 commented on #1547
I was asking about ```-r``` option.

[2016-02-24 18:57] livarcocc commented on #1376
Everything but the last part. At least so far, dotnet test won't be able to kill the child process as we don't really know what it is. We could add a message for it to send us its PID, but given that VS started it, should we be the ones to stop it?

We just need to discuss this last piece a bit.

[2016-02-24 19:14] GuardRex commented on #1547
@cheers00 I've used it in commands for publishing output. Take a `runtimes` section like this ...
[code]
In order to publish, which includes build, for each of those runtimes, I have task commands setup for VS Code thus ...
[code]
... so the runtime switch is targeting what will be published (built).

It turns out that if you have multiple runtimes specified in `project.json` that only either the

[2016-02-24 19:21] ellismg commented on #1374
There is additional closed work that needs to be done.  I'm going to try to get it it by EOW, but I have some higher priority CLI stuff that need to be wrapped up first.

[2016-02-24 19:30] enricosada commented on #692
that's fixed with #1285 (already in the binaries) and can be closed /cc @blackdwarf

[2016-02-24 19:33] GuardRex commented on #1561
@anurse Are `Debug` and `Release` relevant in the published output for the portable app projects?
[code]

[2016-02-24 19:35] enricosada commented on #1405
to execute [corerun fsc.exe](https://github.com/dotnet/cli/blob/3be6ca2b0ab0565017e7822a372835c969011223/src/dotnet/commands/dotnet-compile-fsc/Program.cs#L245-L252) is one option, but corerun is +x i think.

I can repro in the mac and travisci. I'll fix it

Btw @blackdwarf it's possibile to have a label `lang-f#` or something like that? There is lot of activity in this repo, it's easier for me (a

[2016-02-24 19:56] andschwa commented on #1361
@blackdwarf The error is gone on both Ubuntu 14.04 and OS X.

However, it copies the file to the full path (so if I say `../foo/bar/baz` I get `output/foo/bar/baz`, but I need just `output/baz`). Will there be support for specifying the destination of the file?

[2016-02-24 19:56] #1361 closed

[2016-02-24 20:00] anurse commented on #1561
No, Debug/Release will be pivoted as different `OUTPUTDIR`s altogether

[2016-02-24 20:01] andschwa commented on #1410
Wouldn't Project to Project be more important? We have a test project that depends on the main project, and since the content of the main project (as a dependency of the test project) doesn't get honored, it totally breaks the tests (we work-around by copying the files in the wrapper script...).

[2016-02-24 21:00] citizenmatt commented on #1376
I guess it depends who starts the child process (`dotnet-test-xunit`). I was assuming that VS would only start it when debugging, and `dotnet-test` would start it when VS was just running tests, but that doesn't have to be the case, right? VS could *always* start the child process, for debugging and running tests, couldn't it?

[2016-02-24 21:01] ayende commented on #1558
Just to add to this, based on the notes about dnx wrap, I stopped using a dll wrapped project and just used the source directly.
That gave me the ability to properly compile and generate an executable

[2016-02-24 21:13] AndyAyersMS opened #1566 "Where are the symbol files for the native components?"
The dotnet installer seems to drop a random set of pdb files for native components, but not useful ones. Eg I see `ryujit.pdb`  but not `coreclr.pdb`.

Is there a separate symbol package somewhere? Or are the windows PDBs indexed?

[2016-02-24 21:29] livarcocc commented on #1376
Yes, I believe that's the current design.

[2016-02-24 21:42] earlbalai opened #1567 "Issues installing on OSX using ZSH"
The path to dotnet was not added to my zshrc automatically during installation. After manually adding it myself it works like a charm.

os: 10.11
zsh version: zsh 5.0.8 (x86_64-apple-darwin15.0)
dotnet version: 1.0.0-beta-001517

@blackdwarf

[2016-02-24 21:46] agocke commented on #1567
Maybe if we detect a ~/.zshrc we can print a message suggesting they add the os x `path_helper` call to their zshrc? I don't think we should change peoples' `.rc` files without approval.

[2016-02-24 21:52] blackdwarf commented on #1567
@agocke no, changing people's .rc files is out of question. I'm still confused about why this works on my machine, so repro time. :)

[2016-02-24 21:54] brthor commented on #1567
This shouldn't beed to be added to the .rc file right, we symlink to /usr/bin?

[2016-02-24 21:59] abpiskunov opened #1569 "[DotNet.ProjectModel.Server] Exception when global.json has a syntax error"
I am opening existing project (simplest class lib), that has following global.json:

{
    "sources": [ "src", "test" ]1
}

DTH does not send any events and trace log contains this exception below. It blocks project completely, since we base on DTH event to initialize project (no references, no restore etc). It used to initialize OK, and sent a global error pointing to global.json error (compare w

[2016-02-24 22:06] abpiskunov commented on #1569
Same problem I see when I have global.json OK, but project.json have syntax error on one of the projects in solution. Note: something is wrong there since error in one project breaks whole model.server and other projects which are fine also don't receive any events from the DTH.

My project.json:

{
  "version": "1.0.0-*",
  "dependencies": {
  },

  "frameworks": {
    "dnx451": {
      "dependen

[2016-02-24 22:23] troydai commented on #1569
Ok. I take this.

[2016-02-24 22:27] jasonwilliams200OK commented on #1532
This issue is not tracking the progress of CoreFX build in particular, but it is focusing on steps required to build this repo from scratch on a new platform.

[2016-02-24 22:56] blackdwarf commented on #1534
@livarcocc so should we just fix this so that it fails only after all frameworks are exhausted from the `project.json` file and none has the test runner defined?

[2016-02-24 23:06] blackdwarf commented on #1336
@davidfowl @anurse you guys want to chime in?

[2016-02-24 23:41] victorhurdugaci commented on #1543
This error went away after installing VS2015. @piotrpMSFT is this an expected limitation, not being able to run without VS?

[2016-02-24 23:41] victorhurdugaci commented on #1545
This error went away after installing VS2015. Is this an expected limitation, not being able to run without VS? @piotrpMSFT

[2016-02-24 23:45] Sridhar-MS opened #1570 "Should we support side by side installations of x64 and x86 MSIs?"

[2016-02-24 23:48] robmen commented on #1570
What is the scenario where'd you want to do this?

[2016-02-24 23:52] cheers00 opened #1571 "Replacement for dnx clr"
In one of our projects, we are using couple of CLR classes like ```System.Timer``` and ```System.IO.Pipes```. We were able to run the project using dnx clr runtime.

example
[code]
Now, how can we access clr runtime using new dotnet cli? ```dotnet build``` fails to compile our code.

Thanks

[2016-02-25 01:18] blackdwarf commented on #1571
@cheers00 did you add proper packages that contain those APIs?

[2016-02-25 01:27] blackdwarf commented on #1531
An interesting problem, however, this sounds like a VS2015 issue rather than a CLI issue. Was this something that started to happen when you installed CLI bits?

[2016-02-25 01:38] #1472 closed

[2016-02-25 01:39] #1525 closed

[2016-02-25 01:40] #1335 closed

[2016-02-25 01:40] csdanping opened #1572 "Why not support install on Win7 SP1 32bit system"
ask for a feature (32-bit installer)

/cc:@blackdwarf

[2016-02-25 01:42] brthor commented on #1572
https://github.com/dotnet/cli/pull/1551

[2016-02-25 01:45] csdanping commented on #1572
@brthor thinks

[2016-02-25 01:45] #1572 closed

[2016-02-25 02:20] #832 closed

[2016-02-25 02:20] #1503 closed

[2016-02-25 04:34] bendono commented on #845
@anatay Sorry for the delay. I got a bit busy, too. Checking a little further, the folder "Application Data" does in fact exist, but by default it is not accessible. It is a virtual junction created for compatibility. While it is possible to take ownership of it, it is just a redirect to %APPDATA%. (On Windows Vista and up, this should be Users\<name>\AppData\Roaming.)
Perhaps the way that %APPDAT

[2016-02-25 05:11] piotrpMSFT opened #1573 "Remove embedInteropTypes from CLI"

[2016-02-25 05:24] davidfowl opened #1574 "Remove compile as a top level command"
It's no longer supposed to be used by anyone but `dotnet build` and since it's intrinsic, shouldn't be replaceable.

/cc @piotrpMSFT @blackdwarf

[2016-02-25 05:33] bendono opened #1575 "dotnet /? --> ArgumentException"
Wanting to see what arguments are available, I tried "dotnet /?", which resulted in an ArgumentException.
![error](https://cloud.githubusercontent.com/assets/846533/13310512/e6880b94-dbc9-11e5-8cfa-644cfe7fdf38.png)

Environment: Windows 10, English

[2016-02-25 05:35] bendono opened #1576 "SOS"
After the crash in #1575, I decided to review the dump. (I have procdump (SysInternals) setup on my machine to create a full (/ma) dump on any application crash). First things first, I checked the coreclr details in hopes of finding a compatible SOS.
![coreclr](https://cloud.githubusercontent.com/assets/846533/13310720/d0fe82a6-dbcb-11e5-99ff-33ecba7b2019.png)

Unknown to me, it turns out that it

[2016-02-25 05:39] cheers00 commented on #1571
@blackdwarf. Thanks. I found that corefx has ```System.IO.Pipes``` and nuget package is also available.
Wondering if I should use ```System.Threading.Timer``` instead of ```System.Timers```

[2016-02-25 05:41] #1480 closed

[2016-02-25 05:44] davidfowl commented on #1480
The community

[2016-02-25 06:00] davidfowl commented on #1576
/cc @noahfalk

[2016-02-25 06:02] blackdwarf commented on #1574
@davidfowl agreed, people are getting confused. Who do we assign this to?

[2016-02-25 06:05] blackdwarf commented on #1518
@atanasa to me it didn't repro on a Win10 machine with newest CLI. Will try on Win7 again and if it doesn't repro there will close the issue. This OK with you?

[2016-02-25 06:08] davidfowl commented on #1574
I'll do it. Let's see what breaks!

[2016-02-25 06:09] noahfalk commented on #1576
@mikem8361 @gkhanna79
I believe Gaurav recently put SOS into the coreclr NuGet packages adjacent to coreclr, and Mike can confirm that sos is being correctly duplicated from there into the final output produced for a CLI app.

[2016-02-25 06:09] blackdwarf commented on #1574
Go for it! Ya canna fix it unless its broken. :)

[2016-02-25 06:09] blackdwarf commented on #1575
Sounds like we should fail a bit more gracefully for this case. However @bendono CLI supports only - || -- style switches. The cmd-like /<arg> switches are not supported.

/cc @piotrpMSFT @brthor

[2016-02-25 06:16] blackdwarf commented on #905
@piotrpMSFT do we now have a plan to deal with this?

[2016-02-25 06:17] blackdwarf commented on #938
@cdmihai what is the status of this?

[2016-02-25 06:20] blackdwarf commented on #951
@piotrpMSFT @davidfowl is this valid for us? I would think that it is not, given the timeframe when it was file, but better to check. If its not, we should close.

[2016-02-25 06:24] blackdwarf commented on #1071
@anurse is this fixed?

[2016-02-25 06:24] blackdwarf commented on #1081
@victorhurdugaci did you try it again and does it repro still?

[2016-02-25 06:27] blackdwarf commented on #1118
@enricosada is the fix in? I think we do have the language information in the `project.json` now, correct?

[2016-02-25 06:30] blackdwarf commented on #1140
@wjk has the issue reproed/resurfaced with recent builds of the CLI? Or is it gone?

[2016-02-25 06:33] blackdwarf commented on #1137
@vors seems like this is by design. I will close this, feel free to reopen if more info is needed.

[2016-02-25 06:33] #1137 closed

[2016-02-25 06:33] davidfowl commented on #1574
Done

[2016-02-25 06:33] #1574 closed

[2016-02-25 06:38] blackdwarf commented on #1126
@brthor what is the status of this?

[2016-02-25 06:42] blackdwarf commented on #1179
@yigitgursoy does this still repro with latest bits?

[2016-02-25 06:43] blackdwarf commented on #1183
@livarcocc you mean something like `dotnet test path/to/test.dll`?

[2016-02-25 06:45] blackdwarf commented on #1156
@wjk @dionbr seems like there is a solution for this issue, so I will close this. Please reopen if needed.

[2016-02-25 06:45] #1156 closed

[2016-02-25 06:47] blackdwarf commented on #1099
@BillHiebert does this still repro?

[2016-02-25 06:48] blackdwarf commented on #1189
@brthor did your fix for quoting paths fix this as well?

[2016-02-25 06:52] davidfowl commented on #1099
/cc @troydai

[2016-02-25 06:54] blackdwarf commented on #1204
@livarcocc is this still valid? Also, as @sabastiaan said, I cannot repro. Latests bits on OS X give me a decent message that nonexistent package cannot be restored. I will close for now, and if you are still seeing this, please reopen.

[2016-02-25 06:54] #1204 closed

[2016-02-25 07:05] blackdwarf commented on #1163
@livarcocc agreed, we should have better error message in this case.

[2016-02-25 07:06] yigitgursoy commented on #1179
I installed Ubuntu v14 instead. Maybe @swgillespie still has v15.

[2016-02-25 07:07] blackdwarf commented on #15
@Sridhar-MS is this still valid?

[2016-02-25 07:10] blackdwarf commented on #35
Guys, since we have started using the System.CommandLine, I will close this issue. Please reopen if needed.

/cc @piotrpMSFT

[2016-02-25 07:10] #35 closed

[2016-02-25 07:12] blackdwarf commented on #39
Since compile native is a separate package now, we will need to solve this differently. I will close this issue. Please reopen if needed.

[2016-02-25 07:12] #39 closed

[2016-02-25 07:12] blackdwarf commented on #48
We moved these specs from the issues to actual MD files in the repo, so will close this one. Please reopen if needed.

[2016-02-25 07:12] #48 closed

[2016-02-25 07:13] StefH commented on #1531
@blackdwarf , indeed, this seems more like a VS2015 issue, and is probably not related to CLI.

Can you move this problem to the right issue list ?

[2016-02-25 07:14] blackdwarf commented on #59
We've moved the documentation for this into the proper MD file in the repo. Will close this, reopen if needed.

[2016-02-25 07:14] #59 closed

[2016-02-25 07:15] blackdwarf commented on #76
This will most likely become something different in the future. Will add a new issue to track new command proposals for the future that will subsume this. Closing this for now.

[2016-02-25 07:15] #76 closed

[2016-02-25 07:16] blackdwarf commented on #77
@dleeapho @Petermarcu  seems like the overall work that the issue targets is done for now. Let's open new issues if the Docker image(s) need to be refreshed with bits. Will close this one. If you think it should be reopened, please reopen.

[2016-02-25 07:16] #77 closed

[2016-02-25 07:18] blackdwarf commented on #106
Closing this as command such as this would be an excellent candidate for an extension. If needed, please reopen.

[2016-02-25 07:18] #106 closed

[2016-02-25 07:18] #129 closed

[2016-02-25 07:20] blackdwarf commented on #166
@davidfowl did you not add this in? If yes, can you please close this one out?

[2016-02-25 07:20] blackdwarf commented on #182
This issue is not valid anymore, so closing it out. If it is still needed, please reopen.

[2016-02-25 07:20] #182 closed

[2016-02-25 07:24] blackdwarf commented on #1531
@StefH I can try, but VS2015 issues are not on GH that I know of. :) Will close this and route where needed.

[2016-02-25 07:24] #1531 closed

[2016-02-25 07:26] blackdwarf commented on #16
I will add a new overall issue to track all of these that cover commands that are not yet implemented. Closing this for that.

[2016-02-25 07:26] #16 closed

[2016-02-25 07:30] blackdwarf commented on #32
Will close this issue because I will create a new one that will cover several of them. If this is still needed, please reopen.

[2016-02-25 07:30] #32 closed

[2016-02-25 07:31] blackdwarf opened #1578 "Commands to be reviewed for the future"
This issue lists the overall commands that need review and design on how they work.
## Commands
- [x] dotnet-commands (#2)
- [x] dotnet-clean (#16)
- [x] dotnet-install-package (#76)
- [x] dotnet-api (#106)
## Intra-command interaction
- [x] Dotnet + Nuget interaction (#32)

[2016-02-25 07:32] blackdwarf commented on #250
@Sridhar-MS is this done?

[2016-02-25 07:33] blackdwarf commented on #301
@piotrpMSFT should we move this to CoreRT repo now?

[2016-02-25 07:33] blackdwarf commented on #302
@piotrpMSFT @brthor should we move this to CoreRT repo now?

[2016-02-25 07:35] blackdwarf commented on #360
I don't think we are going to change the "restore" verb any time soon. :) Closing this. Please reopen if it is still needed.

[2016-02-25 07:35] #360 closed

[2016-02-25 07:36] blackdwarf commented on #375
@muratg I don't think that PKG needs to set up this env variable.

[2016-02-25 07:37] blackdwarf commented on #377
OK, closing this since we need more discussions on this topic and the stuff in this issue is not valid. I will reopen the issue as the need arises.

[2016-02-25 07:37] #377 closed

[2016-02-25 07:38] tlycken commented on #1179
I have 15.10 and could reproduce the other day. Don't remember if it was a build from source or whatever I got from `apt-get`, but I can do some testing this weekend. (Possibly I'll need someone to guide me through building process etc...)

[2016-02-25 07:40] blackdwarf commented on #417
@giggio since the original question from the issue has been answered, I will close this issue. Please reopen if needed.

[2016-02-25 07:40] #417 closed

[2016-02-25 07:41] blackdwarf commented on #418
@xanather seems like the question from the issue has been answered. I will close this issue. Please reopen if needed.

[2016-02-25 07:41] #418 closed

[2016-02-25 07:41] blackdwarf commented on #501
I believe this should be moved to CoreRT repo. @gkhanna79 thoughts?

[2016-02-25 07:43] blackdwarf commented on #2
Closing this since #1578 s opened. We will track the work there.

[2016-02-25 07:43] #2 closed

[2016-02-25 07:43] blackdwarf commented on #44
@piotrpMSFT should we move this to the proper spec in the repo and close this issue?

[2016-02-25 07:47] blackdwarf commented on #682
@atrauzzi what would this item entail Can you provide some more details?

[2016-02-25 07:49] blackdwarf commented on #683
@atrauzzi unfortunately, we don't plan on doing this at least for V1. I will close this issue for now, if you have any new details, please reopen it.

[2016-02-25 07:49] #683 closed

[2016-02-25 08:23] ayende opened #1579 "dotnet run generate System.BadImageFormatException"
To reproduce, get: github.com/ayende/ravendb - temp branch.

Go to `src/Raven.Server`.

Run dotnet restore.

run dotnet run

[code]

Using version:

[code]

[2016-02-25 08:23] ayende commented on #1579
This is on Windows machine, by the way

[2016-02-25 08:56] GeertVL opened #1580 "NO_PUBLICKEY B02C46DF417A0893"
sudo apt-key adv --keyserver apt-mo.trafficmanager.net --recv-keys 417A0893

gpgkeys: HTTP fetch error 7: couldn't connect: eof
gpg: no valid OpenPGP data found
gpg: Total number processed: 0

Is this changed and so the installation instructions not updated?

[2016-02-25 09:47] soeron opened #1581 "Publish folder structure"
Greetings,
Currently when publishing app using either `dotnet build` or `dotnet publish` and using `-o switch` flattens everything in single directory.
But I think there should be a way to copy the solution hierarchy in the published folder. Some more organization is always welcomed.
For example if I have sample solution folder structure:

[code]

When `dotnet build -o build\SomeApp "Executable Pr

[2016-02-25 10:15] mmalolepszy opened #1582 "Running dotnet in Dockerfile fails with "lttng-ust-comm.c:1446: lttng_ust_init: Assertion `!ret' failed.""
## Problem
When trying to create new docker image using dotnet command in Dockerfile, it fails with following error:
[code]
## Steps to reproduce
Example dockerfile:
[code]
## My environment
- host: Win 10 Enterprise x64
- docker: 1.10.2, build c3959b1
- dotnet: latest (1.0.0.001556, but observed also yesterday on 1.0.0.001517)

## Additional observations
- If you strip last two lines from the abo

[2016-02-25 12:28] Emyr42 commented on #1521
Adding options to dotnet-restore to limit parallelism would be helpful, but that'd probably need changes in nuget3.

On my Acer Aspire One (Atom CPU, 1GB? RAM) with Ubuntu 14.04 LTS, I can't do restores using nuget.org or myget. I have to do the restore on a different machine then copy the .nupkg files to a local repo.

[2016-02-25 12:49] ppanyukov commented on #1582
It fails the first time you run it, everything is ok after that. As a workaround I have this in my scripts:

[code]

A bit annoying but does the job (for now).

[2016-02-25 12:55] atrauzzi commented on #682
You'll likely have to reach out to the msys2 team to get a better idea of things.   Overall, it's bound to be a packaging process.  In the msys2 case, they use pacman.

After that, you'd be effectively setting up the cli to be able to recognize that it's running in a POSIX-style environment on a Windows platform.  And that would apply for all three of the compatibility layers I listed above.

[2016-02-25 13:47] enricosada commented on #1118
@blackdwarf f# works on Windows, `project.json` is ok, dotnet cli too.

This issue it's about reading an env var `DOTNET_DEFAULT_LANGUAGE` so `dotnet new` use the language of this env var as default. if not set the default is c#, the current behaviour

It's really useful, to stop continue to write `--lang f#` for f# users (and vb too)

`DOTNET_DEFAULT_LANGUAGE` **affect only dotnet new**. The othe

[2016-02-25 15:08] blackdwarf commented on #1582
@dleeapho have you guys encountered this?

[2016-02-25 15:11] blackdwarf commented on #1580
@GeertVL which distro? Also, did you retry, sounds like it could be transient (as in, gpgkeys has problems reaching the HTTP server).

/cc @brthor

[2016-02-25 15:12] blackdwarf commented on #1579
@ayende just for additional info, which version of Windows?

/cc @davidfowl @anurse

[2016-02-25 15:31] enricosada commented on #586
i added some useful info in a wiki specific to F# and .NET CLI

- [Getting Started](https://github.com/enricosada/fsharp-dotnet-cli-samples/wiki/Getting-Started)
- [Migrate fsproj to .NET CLI](https://github.com/enricosada/fsharp-dotnet-cli-samples/wiki/Migrate-fsproj-To-.NET-CLI)

[2016-02-25 15:39] gkhanna79 commented on #501
I used this to track the work for cross compiling/publishing for CLI. Is there a seperate work-item for that?

[2016-02-25 15:43] blackdwarf commented on #1566
/cc @piotrpMSFT

[2016-02-25 15:50] blackdwarf commented on #501
@gkhanna79 not that I know of. OK, if this is used to track the CLI work, that is fine. Can you label it and assign accordingly?

[2016-02-25 15:53] blackdwarf commented on #1518
Well, a restore problem reproed for me with the latest bits on my Win7 SP1 machine.

### Steps to reproduce

1. Install latest bits
2. Open up PowerShell
3. mkdir new followed by cd new
4. dotnet new
5. dotnet restore

### Expected behavior
The restore operation succeeds and lock file is written.

### Actual behavior
The restore operation is extremely slow and never completes. The console is fille

[2016-02-25 15:55] gkhanna79 commented on #501
@blackdwarf I have renamed the issue. Please assign as appropriate.

[2016-02-25 15:56] gkhanna79 commented on #501
CC @piotrpMSFT

[2016-02-25 16:15] gkhanna79 opened #1584 "Generate RID fallback graph in app.deps.json"
Based upon https://github.com/dotnet/cli/blob/anurse/update-deps-json-spec/Documentation/specs/runtime-configuration-file.md#portable-deployment-model, app.deps.json needs to have the RID fallback graph for the host to consume to handle FAT packages.

CC @davidfowl @anurse @glennc @schellap @ericstj

[2016-02-25 16:17] ayende commented on #1579
Windows 8 64 bits
On Feb 25, 2016 5:12 PM, "Zlatko Knezevic" <notifications@github.com> wrote:

[2016-02-25 16:18] gkhanna79 opened #1585 "Add RID support in universal host"
We need to have two scenarios supported:

1) Get the RID corresponding to OS on which the host is running. @ericstj @ellismg What is the way to get this information? This will be required in the shim part of the host.

2) Add support for fat package assets by parsing RID fallback graph. This needs https://github.com/dotnet/cli/issues/1584 to generate the graph in app.deps.json. https://github.com/

[2016-02-25 16:19] blackdwarf commented on #640
@JohnChen0 @tmat is this issue resolved?

[2016-02-25 16:26] gkhanna79 opened #1586 "API for OS<->RID Mapping"
This will be required by the universal host to commence RID fallback processing for FAT packages. Blocks https://github.com/dotnet/cli/issues/1585.

See https://github.com/dotnet/cli/issues/1584 for details.

[2016-02-25 16:39] #1560 closed

[2016-02-25 17:06] sayedihashimi commented on #1540
I've marked this as `blocking-partner`. I assume that the EF team also needs Workspaces (and maybe loader) supported on .net451 as well.

cc @rowanmiller @bricelam

[2016-02-25 18:00] swgillespie commented on #1179
@blackdwarf This still repros with the latest debian package:

[code]

[2016-02-25 18:11] yishaigalatzer commented on #1331
We are going to keep the info label, but we should write errors to the error stream.

[2016-02-25 18:15] livarcocc opened #1587 "run-build.ps1 uses DOTNET_INSTALL_DIR to install stage0, the build program should use the env variable as well"
Right now, if something else redefines DOTNET_INSTALL_DIR, it breaks the build script, as run-build.ps1 will check for stage0 using the environment variable, but the build script itself has that hard coded based on the root of the script.

[2016-02-25 18:16] livarcocc commented on #1587
To be clear, this is the part that does not use the environment variable:

[Target]
        public static BuildTargetResult LocateStage0(BuildTargetContext c)
        {
            // We should have been run in the repo root, so locate the stage 0 relative to current directory
            var stage0 = DotNetCli.Stage0.BinPath;

            if (!Directory.Exists(stage0))
            {

[2016-02-25 18:17] livarcocc commented on #1587
Fix can probably go here: https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/dotnet-cli-build/Utils/DotNetCli.cs#L34

[2016-02-25 18:17] brthor commented on #1126
Now that dotnet-restore is published as part of the same assembly as the other commands, this is no longer relevant.

[2016-02-25 18:17] #1126 closed

[2016-02-25 18:20] brthor commented on #1179
We don't currently do any testing on 15.10 and this looks like a rid issue in the packages.

I expect this to repro independently of being installed of the debian package.

[2016-02-25 18:20] pranavkm commented on #1331
:+1:

[2016-02-25 18:21] brthor commented on #1580
@GeertVL Can you please provide distro information, and the output of
`ping apt-mo.trafficmanager.net`

[2016-02-25 18:27] brthor commented on #1587
@livarcocc Given that this is the build, I feel that it should generally stick things in the same place.

What do you think of explicitly unsetting that environment variable prior to calling install.ps1 in the build scripts?

[2016-02-25 18:29] livarcocc commented on #1587
That would work for me as well. I guess my point is that the two "scripts" should be looking at the same place, no matter what. Given that, unsetting the variable or not becomes orthogonal. We should avoid duplication of code, which is what this is and it has bitten me just now.

[2016-02-25 18:30] brthor commented on #1179
As a workaround, you may be able to try this:
`dotnet restore --runtime ubuntu.14.04-x64'

Can't guarantee what results you will get though.

[2016-02-25 18:47] prafullbhosale opened #1588 "Running dotnet restore on a project which has tools, creates an artifacts folder in the project directory."
1. Create a new project
2. Add a tool (eg dotnet-publish-iis)  to the project.json
3. Run dotnet restore.

This ends up creating a artifacts folder in the project directory with the below hierarchy
 artifacts -> Tools -> dotnet-publish-iis -> project.lock.json
On VS this shows up as a folder under the project hierarchy on the solution explorer.

![artifacts in project folder](https://cloud.githubu

[2016-02-25 18:49] prafullbhosale commented on #1588
cc @BillHiebert @sayedihashimi

[2016-02-25 18:56] ericstj commented on #1586
Simple solution is to burn in the same RID that the host is being packaged with.  That'll work fine for the cases where we have granular hosts for every RID.

This is already not the case with RHEL/Centos, so I do think there is a need for something more here.

@anurse you've been maintaining an algo in the CLI and previously DNX that did this, what are your thoughts on what this should be?
/cc @e

[2016-02-25 19:00] blackdwarf commented on #1588
@prafullbhosale what is the issue? The fact that VS shows this?

[2016-02-25 19:02] blackdwarf commented on #954
@brthor @agocke what is the status of this? I guess the issue is not being hit anymore, but do we want to do the build cleaning thing?

[2016-02-25 19:03] emgarten commented on #1521
@Emyr42 ``--disable-parallel`` turns off concurrency

[2016-02-25 19:06] bricelam opened #1589 "Blank lines missing"
`dotnet-ef` does something similar to the following.

[code]

But the output unexpectedly looks like this:

[code]

I would expect a blank line to be printed between the lines.

[code]

[2016-02-25 19:06] blackdwarf commented on #1102
OK, closing this since this is Nuget work and @emgarten mentioned that it is being tracked at Nuget.

[2016-02-25 19:06] #1102 closed

[2016-02-25 19:07] BillHiebert commented on #1588
Yes, and as much as possible VS is moving towards getting temporary files out of the project directory especially with the move to using .tfsignore\.gitignore. Every time a temporary file is dropped into the project folder these files need to be manually updated, and the project system needs to be updated to exclude this folder\file. Control over the location of temporary outputs is really importa

[2016-02-25 19:11] blackdwarf commented on #1331
@yishaigalatzer since this pertains to NuGet, do we move it to the NuGet repo for tracking?

[2016-02-25 19:13] yishaigalatzer commented on #1331
It was moved, see the link above

[2016-02-25 19:13] pranavkm commented on #1331
This is tracked via https://github.com/NuGet/Home/issues/2176

[2016-02-25 19:13] #1331 closed

[2016-02-25 19:27] bricelam commented on #1540
`AssemblyLoadContext` doesn't exist on `net451`, so I don't think ProjectModel.Loader *can* `target net451`. On EF, we'll probably use an AppDomain-based strategy there similar to how our NuGet PowerShell commands work.

[2016-02-25 19:39] livarcocc opened #1591 "re-enable build tests for net2, net40 and net461"
I disabled these as part of https://github.com/dotnet/cli/pull/1590.

need to enable them back once we have net2, net40 and net461 installed in the VSO windows machines that run our builds.
# test/dotnet-build.Tests/BuildOutputTests.cs

Just add net20, net40 and net461 back.

[code]

[2016-02-25 19:47] sayedihashimi commented on #1376
FYI I've added `blocking-partner` to this issue. From discussions that I've had internally we are hoping to have a dogfood bulid with debuging unit testing available by next Friday 3/4. I think we'll need this fixed and have some extra time to review/try it out.

cc @barrytang @vijayrkn

[2016-02-25 19:51] ayende commented on #1579
@blackdwarf Anything on this? Is there any workaround? Something we can do?
This is blocking our move to dotnet CLI entirely.

[2016-02-25 19:51] blackdwarf commented on #1588
@BillHiebert is there a convention on names of things that VS hides by default?

[2016-02-25 20:22] livarcocc commented on #1376
@sayedihashimi I have provided a private build of the CLI that has all the communication protocol implemented. The code has been checked in, but our official builds have a minor issue right now.

[2016-02-25 20:27] livarcocc commented on #1591
I actually think that once we re-enable these tests, we should add having these frameworks as part of the pre-requisites of the cli, otherwise, people who try the build without having them are going to end up having a frustrating build failure.

Also, I do NOT think the right approach is to skip them if the frameworks are not installed, as that could lead to a false sense of security.

[2016-02-25 20:27] livarcocc commented on #1591
cc @pakrym

[2016-02-25 20:29] BillHiebert commented on #1099
@blackdwarf Doesn't seem to.repro anymore. Closing.

[2016-02-25 20:29] #1099 closed

[2016-02-25 21:03] emgarten commented on #1102
Basic auth has been added to dotnet restore. Encrypted passwords in nuget.config are not supported, the libraries needed do not exist in the CLI yet, but NuGet is looking at ways to fix this.

[2016-02-25 21:07] mateusrodrigues opened #1592 "dotnet build --native fails on Mac OS X"
The following code fails upon native build trial on Mac OS X El Capitan 10.11.3

[code]

Using version:

The error message displayed is:

[2016-02-25 21:31] piotrpMSFT opened #1593 "Dotnet Publish for Shared Framework and FAT Apps"
- [x] #1561
- [x] #1562
- [x] #1688

[2016-02-25 21:39] cdmihai commented on #938
I think it got mitigated with the change of having each project have its own intermediate path: https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-compile/ManagedCompiler.cs#L33

compile-csc still uses a unique looking filename for the response file: https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-compile-csc/Program.cs#L111

I'll close the issue

[2016-02-25 21:39] #938 closed

[2016-02-25 21:43] brthor commented on #1189
@blackdwarf yes this issue should be fixed. I am unable to repro, although I haven't tested on Win7. Test machines there are coming online soon.

@YEVHENO Can you please update to the latest CLI and see if you are still hitting this.

[2016-02-25 21:53] NumberByColors commented on #1405
I'm hitting this too.

[2016-02-25 21:56] brthor commented on #1592
@mateusrodrigues
There don't seem to be any error messages there, although there are definitely weird things happening.

Is there a native binary in `bin/Debug/dnxcore50/osx.10.11-x64/native`?

[2016-02-25 22:16] blackdwarf commented on #1579
@ayende I believe @davidfowl is taking a look at this, but I haven't got the latest.

[2016-02-25 22:20] brthor commented on #1588
There is a new design coming in for the tools experience which will ultimately remove this directory.

[2016-02-25 22:21] blackdwarf commented on #1588
@prafullbhosale can you provide more details on how is this blocking you?

[2016-02-25 22:24] brthor commented on #1575
I agree this should be handled more gracefully. Ultimately we should just decide what the proper error message is here.

We could show a CommandUnknownError fairly cheaply by simply try catching the ResolveExecutablePath function. (If it throws it didn't find a command)

Detecting that this is an old style switch would take some more thought and likely come with some caveats.

[2016-02-25 22:32] piotrpMSFT commented on #1562
This workitem will break unit testing. `dotnet-test` invokes the test runner by passing the deps file to CoreHost using --depsfile. We need to update --depsfile to reflect the new format before/in concert with checking in this change.

/cc @livarcocc @brthor @gkhanna79 @schellap

[2016-02-25 22:34] mateusrodrigues commented on #1592
@brthor
Looks like you're right. There is a native binary in that path.
When I run it, it outputs:

[code]

The non-native binary runs just as expected.

[2016-02-25 22:34] brthor commented on #1592
cc @schellap

[2016-02-25 22:35] blackdwarf commented on #1575
@brthor nope, no detection, just a graceful failure. We should not be surfacing exceptions to users for such small things. :)

[2016-02-25 22:37] piotrpMSFT commented on #1562
Just chatted with @pakrym. When this is checked in we will be producing both new-style and old-style deps files. I will open issues to track the --depsfile requirement along with tracking the removal of the old-style deps file.

[2016-02-25 22:41] piotrpMSFT opened #1596 "Convert CLI to Fat App"
- [ ] #1593
- [ ] https://github.com/nuget/home/issues/2185
- [ ] Convert TFM
- [ ] Update CLI Install Location
- [ ] Replace corehost with dotnet
- [ ] Update dotnet-test-xunit
- [ ] Add dependencies to Native Installers
- [ ] Update install.sh/install.ps1
- [ ] #1606

[2016-02-25 22:45] schellap commented on #1592
Expected, because http://github.com/dotnet/corert is still under development and many simple features are being brought up here: http://github.com/dotnet/corert/pulls.

[2016-02-25 22:49] brthor commented on #1592
I expected as much, just wanted to bring it to your attention :smile:

[2016-02-25 22:53] mateusrodrigues commented on #1592
All right, gentleman. As this is expected, I'll be closing the issue, if that's fine.

[2016-02-25 22:53] #1592 closed

[2016-02-25 23:04] sayedihashimi commented on #1376
@livarcocc thanks, that sounds great

[2016-02-25 23:18] jaredpar commented on #1433
I'm not seeing this bug repro anymore.  I created a new Win7 SP1 machine to test on and ran through the following repro steps:

1. Used the MSI installer from http://dotnet.github.io/getting-started/
    - Note: This was a clean machine without VS hence I did not run the patch for VS 2012.
2. Opened a cmd shell and moved into a temp directory
2. `dotnet new`
3. `dotnet restore`
4. `dotnet compile`

[2016-02-25 23:25] prafullbhosale commented on #1588
Its not a blocking issue.

[2016-02-25 23:27] mikem8361 commented on #1576
I installed the version 1.0.0.001540 msi which seems to be the latest on the cli GitHub page and sos.dll wasn't installed anywhere.  I assume that this is because it is older than the Ubuntu package because the Ubuntu version does have the libsos.so (and libsosplugin.so) files.

[2016-02-25 23:34] piotrpMSFT commented on #1591
@blackdwarf is this a real scenario? why is net20 and net40 at all in the picture?

[2016-02-25 23:35] piotrpMSFT commented on #1589
@brthor, can you take a look?

[2016-02-25 23:36] piotrpMSFT commented on #1588
@brthor can you resolve this against the issue you mentioned?

[2016-02-25 23:43] piotrpMSFT commented on #1587
@krwq is working on a rebuild of the scripts.

@krwq, can you link to the design doc + issue tracking your work?

[2016-02-25 23:45] piotrpMSFT commented on #1586
@gkhanna79 any API we have will be managed. How can the host take advantage of it?

[2016-02-25 23:47] piotrpMSFT commented on #1584
@gkhanna79 is this a duplicate of #1562?

[2016-02-25 23:51] piotrpMSFT commented on #1582
@MichaelSimons can you take a first stab at triaging & understanding this?

[2016-02-25 23:52] piotrpMSFT commented on #1581
@soeron, I think what you're asking for is exactly what -b does [not -o]. Can you take a look and confirm?

@pakrym FYI

[2016-02-26 01:42] livarcocc commented on #1534
@blackdwarf Not so sure that that is the right thing to do. If we iterate through the TFMs looking for one where we can run, what is the purpose of having multiples there to begin with?

I agree that we should support multiple TFMs, in the sense that we run tests for all of them, given that they support the runner, and if any of them fail, we fail.

It should be all or nothing and not 1.

Makes se

[2016-02-26 01:42] gkhanna79 commented on #1584
No, this is about generating RID fallback graph and I didn't see that reference in the issue you pointed to.

[2016-02-26 02:01] davidfowl commented on #1584
We decided that we didn't need this today

[2016-02-26 02:12] davidfowl commented on #1581
Why should we support this?

[2016-02-26 02:15] davidfowl commented on #1591
Not sure it should be a prerequisite. We're actually looking at ways to show targeting packs as packages so this won't be needed just to compile

[2016-02-26 02:27] livarcocc opened #1599 "dotnet pack --no-symbols"
Should we have an option to not create a symbols package in dotnet pack? Or maybe, have it not create a symbols pack by default and have an option to add it?

What is the purpose of always generating it?

cc @KrzysztofCwalina

[2016-02-26 02:40] natemcmaster commented on #1534
Fortunately reordering tfms fixes the issue easy enough (e.g. https://github.com/aspnet/Microsoft.Data.Sqlite/commit/c4e9cd2ec6def2e1c8c242a168f535fee4798f59).

My 2 cents: if a test runner doesn't supported all tfms, dotnet-test should warn but otherwise carry on to the other tfms.

[2016-02-26 02:46] livarcocc commented on #1534
@natemcmaster What is the purpose of having that non-supported Tfm in the test project at all then? And you are aware that we are not running tests for net451in your case right? We run them for dnxcore50 and stop.

@blackdwarf @piotrpMSFT This is my proposal, we run tests for every tfm in the project.json. Otherwise, I don't see the purpose of having them there. If any of them fail, we can warn or

[2016-02-26 02:51] natemcmaster commented on #1534
Although dotnet-test doesn't execute net451, we still want full .NET testing. @aspnet projects are currently configured to test net451 by running xunit.runner.console on the output of `dotnet publish --framework net451`.

At the very least, it would be nice to add `dotnet test -f|--framework [tfm]`.

[2016-02-26 02:55] livarcocc commented on #1534
@natemcmaster I see. You just want to build for the tfm.

We actually have plans to add that more parameters to dotnet test. See https://github.com/dotnet/cli/issues/1376. We are also working to add support on the runner for full .net framework.

[2016-02-26 02:58] gkhanna79 commented on #1584
@davidfowl can you share more details on what came out of the discussion?

[2016-02-26 03:05] natemcmaster commented on #1534
+1 for full .net test runner. Is there an issue tracking progress on that?

[2016-02-26 03:25] wjk commented on #1140
@blackdwarf This issue has not cropped up in a while, during which time I have updated the .NET CLI several times. I am now using version `1.0.0-beta-001483` (commit sha `f81ba05a7c`). I am therefore going to posit that this bug has been since resolved. I will reopen this issue if it reoccurs in the future.

[2016-02-26 03:25] #1140 closed

[2016-02-26 04:03] blackdwarf commented on #1394
@troydai @pakrym what is the status of this?

[2016-02-26 04:13] blackdwarf commented on #1255
@muratg I cannot repro this on 1.0.0-beta-001511 on OSX. Can you check to see if newest are reproing this?

[2016-02-26 04:22] markdall commented on #1433
I downloaded 1.0.0.1540 shp 40,685,674 02-25-2016 dotnet-win-x64.latest.exe and the issue still reproduced on my Windows 7 machine. My Windows 10 machine was able to succeed at home. Not sure what to tell you.

error CS0041: Unexpected error writing debug information -- 'Unable to cast COM object of type 'System.__ComObject' to interface type 'Microsoft.Cci.ISymUnmanagedWriter5'. This operation fa

[2016-02-26 05:04] xanather commented on #1561
Does this mean it will be possible to publish linux/mac binaries on windows (a nice feature of the older DNX/DNVM)?

[2016-02-26 05:16] troydai commented on #1394
It is fixed in latest dotnet build. Just verified. I close this one.

[2016-02-26 05:16] #1394 closed

[2016-02-26 05:43] davidfowl commented on #1579
I tried it and it works! I'm on windows 10 though.

[2016-02-26 05:53] JumpingYang001 commented on #1543
I meet same error and fixed when I install "Visual C++ Redistributable for Visual Studio 2015": https://www.microsoft.com/en-hk/download/details.aspx?id=48145

[2016-02-26 07:44] vors commented on #1543
. @JumpingYang001 used Windows Server 2012 R2

[2016-02-26 07:53] ayende commented on #1579
Correct, I'm able to run this successfully on Windows 10.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Feb 26, 2016 at 7:43 AM, David Fowler <notifications@github.com>
wrote:

[2016-02-26 09:33] soeron commented on #1581
Greetings,
@piotrpMSFT -b doesn't do what I was asking for. It produces something like this:
[code]
Just a deeper nesting, and the same structure for the other projects.
That is on `dontnet build`.
Using `dotnet publish` gives and error

Using `dotnet compile` doesn't compile dependencies and gives and error, that they can't be found. When compile the dependencies earlier it outputs the .exe only

[2016-02-26 09:51] piotrpMSFT commented on #1579
Can you try deleting your package cache? We will get a win8 image and investigate, but this may unblock you...

[2016-02-26 10:00] piotrpMSFT commented on #1189
Dotnet --version?

[2016-02-26 10:04] piotrpMSFT commented on #1566
Symbols will be published to symbol server and stripped for MSI. Zip should contain all symbols.

[2016-02-26 10:09] piotrpMSFT commented on #301
Yes

[2016-02-26 10:13] #951 closed

[2016-02-26 10:14] piotrpMSFT commented on #1571
That question will be better answered in CoreFx :)

[2016-02-26 10:14] #1571 closed

[2016-02-26 10:19] piotrpMSFT commented on #1545
This should improve once we get compile refs. Vs installed NetFX 451, giving the build time dependencies. Previously, the box had only 2.0.

Leaving open to track ugly UX...

[2016-02-26 10:25] piotrpMSFT commented on #1542
Yes please:)

[2016-02-26 10:29] piotrpMSFT commented on #1549
@livarcocc

[2016-02-26 10:34] piotrpMSFT commented on #1233
:+1:

[2016-02-26 10:40] piotrpMSFT commented on #1425
Fixed

[2016-02-26 10:40] #1425 closed

[2016-02-26 11:10] CarlosLanderas commented on #1582
Same problem with microsoft/dotnet:latest.

Step 4 : RUN dotnet new
 ---> Running in e1fe235968f7
dotnet: lttng-ust-comm.c:1446: lttng_ust_init: Assertion `!ret' failed.
Aborted
The command '/bin/sh -c dotnet new' returned a non-zero code: 134

[2016-02-26 11:17] mmalolepszy commented on #1582
@CarlosLanderas Workaround suggested by @ppanyukov works. For my case I made a dotnet.sh script:
[code]
and I use it from my Dockerfile like this:
[code]

[2016-02-26 11:20] CarlosLanderas commented on #1582
@mmalolepszy Thank you very much, It is working now using the script approach.

[2016-02-26 12:16] AlexeyRokhin opened #1600 "Could not load file or assembly 'dotnet.EXE.dll'"
I downloaded net cli binaries and executed dotnet restore within folder which contains asp.net core project. Some packages were restored and several errors about incompativlity were displayed.
Then I tried execute dotnet new within empty directory and got error
`Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'dotnet.EXE.dll' or one of its dependencies.`
I tri

[2016-02-26 13:19] ayende commented on #1579
C:\Users\Ayende\.nuget\packages ? Right?

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Feb 26, 2016 at 11:51 AM, Piotr Puszkiewicz <
notifications@github.com> wrote:

[2016-02-26 13:50] Gillardo opened #1601 "dotnet run applicationBasePath incorrect"
Updated my project to use latest rc2-16551, and installed the dotnet cli.

Now upon running my website, using the command `dotnet run`, my application base path seems to include the directories `\bin\Debug\dnx451\win7-x64\`

So instead of my application base path being C:\Website\wwwroot, it is now C:\Website\wwwroot\bin\Debug\dnx451\win7-x64\

In my project.json file i have added

[code]

which j

[2016-02-26 14:35] blackdwarf commented on #1600
@AlexeyRokhin which OS? Can you share your `project.json`?

[2016-02-26 14:51] blackdwarf commented on #1339
@jamesioppolo will close this, as @shahid-pk explained you can file this against the CoreRT repo.

[2016-02-26 14:51] #1339 closed

[2016-02-26 14:52] blackdwarf commented on #1319
@livarcocc what is the status of this, does it still repro?

[2016-02-26 14:58] blackdwarf commented on #1286
@yishaigalatzer for this.

@sklivvz just to fully understand (so I can fix the getting started) you had a global nuget.config on your machine that had a feed in it that required credentials, you installed the CLI, did the `dotnet new` and then `dotnet restore` and it failed with the same error as in the issue?

[2016-02-26 14:59] blackdwarf commented on #1273
@livarcocc @piotrpMSFT you ok with moving this over?

[2016-02-26 15:01] AlexeyRokhin commented on #1600
@blackdwarf
Windows 8.1 Professional x64.
Sorry, it was console (not asp.net) project with following json:
[code]
But now I got error when I execute any _dotnet xxx_ command within both console project directory and empty directory.

[2016-02-26 15:01] blackdwarf commented on #1196
@Raviuppa can you check the latest stable builds and see if this still repros?

[2016-02-26 15:05] yishaigalatzer commented on #1286
Encrypted credentials will not be supported in the current form in the near future. We could do something about the error message. Let's open an issue in nuget

[2016-02-26 15:17] Raviuppa commented on #1196
Yes, issue still happens with cli build 1.0.0.001331-1 which is now available at http://dotnet.github.io/gettingstarted as stable build.

Thanks,
Ravi.

From: Zlatko Knezevic [mailto:notifications@github.com]
Sent: Friday, February 26, 2016 9:02 AM
To: dotnet/cli <cli@noreply.github.com>
Cc: Ravi Uppaluru <raviuppa@microsoft.com>
Subject: Re: [cli] Keyboard input disappears in a Linux terminal win

[2016-02-26 15:20] jaredpar commented on #1433
@markdall can you run a `dir Microsoft.Dia*` command inside `c:\Program Files\dotnet\bin` and send us the results?  In particular I'm interested to see if your installation has the following files:

- Microsoft.DiaSymReader.dll
- Microsoft.DiaSymReader.Native.amd64.dll

[2016-02-26 15:20] blackdwarf commented on #1286
@yishaigalatzer (why the hell can I not just @ you???) thanks!

@mgravell if its ok with you, I would close this issue out and continue tracking on NuGet. @sklivvz I would open up an issue at dotnet/dotnet.github.io to fix the getting started to warn about this problem. This sound ok?

[2016-02-26 15:21] jaredpar commented on #1433
@markdall is your machine a 32 bit OS?

[2016-02-26 15:30] davidfowl commented on #1433
Is vs installed on the machine?

[2016-02-26 15:43] mgravell commented on #1286
Sure, close it if there's a better home for it - as long as someone
somewhere has some plan to make it less of a trap, because at the moment it
is not obvious what has happened. Just about anything would be better than
the current "fail with a misleading and non-obvious error".

On 26 February 2016 at 15:20, Zlatko Knezevic <notifications@github.com>
wrote:

--
Regards,

Marc

[2016-02-26 15:57] sklivvz commented on #1286
@blackdwarf yes: the global config had encrypted credentials, and the local config had a "clear", so I don't know why it needed them anyways.

Also, opening this somewhere else is fine by me, thank you!

[2016-02-26 16:21] abpiskunov opened #1602 "[DotNet.ProjectModel.Server] Error: An item with the same key has already been added. Key: Microsoft.CSharp"
When I have a dotnet project (no sdk/version in global.json) and following project.json, I see error:
"An item with the same key has already been added. Key: Microsoft.CSharp". Error is confusing since project.json has only one dependency with such name.

[code]

[2016-02-26 16:26] markwilkie commented on #1534
@MattGal is working on making our Helix test runners easier to extend.  Any takers to enable one for full .NET?

[2016-02-26 16:28] abpiskunov commented on #1602
Related issue:
If immediately after I saw error above, I remove "Microsoft.CSharp" dependency from project.json (keep other packages). I see following error (warning about dependencies are expected, but error is not)

Severity	Code	Description	Project	File	Line	Suppression State
**Error		Value cannot be null.**
**Parameter name: o	KProjectLibraryNonSrc		1	**
Warning	NU1007	Dependency specified was

[2016-02-26 16:56] blackdwarf commented on #1600
@AlexeyRokhin does running simply `dotnet` do anything on the system or does it not work?

[2016-02-26 16:57] ToddThomson opened #1603 "How to "find" referenced class libraries"
Since we cannot yet use VS2015 to build with dotnet cli, how do you reference class library packages ( these aren't coming from Nuget - they are created internally ) that are part of the overall project? I'm building from the command line.

[2016-02-26 17:02] blackdwarf commented on #1342
/cc @piotrpMSFT

[2016-02-26 17:07] yishaigalatzer opened #1604 "The CLI commands do not work well with non ASCII paths"
Try creating a folder named - Vigenère

Run command line dotnet restore/build/new

Result:
C:\temp>dotnet build C:\temp\Vigenère
Could not find a part of the path 'C:\temp\Vigen├â┬¿re\project.json'.

[2016-02-26 17:08] blackdwarf commented on #1286
Thanks guys, closing this, two new issues opened in their respective repos! :)

[2016-02-26 17:08] #1286 closed

[2016-02-26 17:12] muratg commented on #1255
@blackdwarf Yeah, it looks like all the build output is displayed now so the original issue seems to be fixed.

However, now simple Hello World output with `dotnet run` is like:

[code]
or
[code]

[2016-02-26 17:15] moozzyk commented on #1433
Related/Duplicate: https://github.com/dotnet/cli/issues/1543

[2016-02-26 17:20] victorhurdugaci commented on #1545
I had net 4.5.2 on the machine and that didn't solve the problem...

[2016-02-26 18:14] blackdwarf commented on #1604
@yishaigalatzer which version of Windows?

[2016-02-26 18:17] yishaigalatzer commented on #1604
Win 10 @billhiebert

[2016-02-26 18:19] troydai commented on #1602
The warnings is not related in this case. If you `dotnet build` following project on command line you got a similar warning.

[code]

[code]

My educated guess is that the conflict is introduced by this:
https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/Resolution/ProjectDependencyProvider.cs#L61

I believe the bigger problem here is that user specified “Microsoft.CSha

[2016-02-26 18:19] brthor commented on #1603
Check out an example here:
https://github.com/dotnet/cli/blob/rel/1.0.0/TestAssets/TestProjects/TestAppWithWrapperProjectDependency/TestLibrary/project.json

You create a project wrapping these dlls and then reference the project.

[2016-02-26 18:40] abpiskunov commented on #1602
See how I got second set of error + warnings. After I got duplicated CSharp dependency error, I removed it from project.json and next restore brought me a new exception:

**Error     Value cannot be null.**
**Parameter name: o KProjectLibraryNonSrc       1

If I reopen project there no that error anymore, so it can  be reproduced only after first error.

[2016-02-26 18:43] ToddThomson commented on #1603
@brthor Thank-you. To be clear, I want to reference Nuget packages that were originally created as "Class Library Packages" in VS2015. With DNX these were referenced as dependencies and were located using the "projects" property in the global.json file.
With your example, is it the case that I only reference the package dll ( and pdb ) and remove the dependency reference from the main project?

[2016-02-26 18:46] troydai commented on #1602
@abpiskunov let’s address the issue one by one. I’ll make a change in the https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.ProjectModel/Resolution/ProjectDependencyProvider.cs#L61 to ensure that there’s only one `Microsoft.CSharp` reference for a project reference. I’m not sure about the errors. Can you file a separate issue if you manage to build a standalone repo?

[2016-02-26 18:48] abpiskunov commented on #1602
Troy please read carefully again :). second issue reproes only after first issue and disappears after project is closed and reopened. If you just fix first issue you would never repro second one. However, the nature of that error and how it reproduces suggests that somewhere in model server code you have suspicious behavior that keeps state. See both errors as one issue please.

[2016-02-26 20:43] markdall commented on #1433
Hi! Thanks, here's the info:

 Volume in drive C is Windows
 Volume Serial Number is 008B-965B

 Directory of c:\Program Files\dotnet\bin

10/07/2015  11:48 AM            24,016 Microsoft.DiaSymReader.dll
11/03/2015  06:08 PM         1,212,688 Microsoft.DiaSymReader.Native.amd64.dll

and for that matter a filever of it instead of just a dir:

        c:\program files\dotnet\bin\Microsoft.DiaSymRea

[2016-02-26 20:53] jaredpar commented on #1433
@markdall did you install the C++ redist listed on the getting started page?

[2016-02-26 20:54] piotrpMSFT opened #1605 "dotnet commands fail when executed in a directory whose name contains unicode characters"
Repro:
mkdir "Ça va"
cd "Ça va"
dotnet new

[2016-02-26 20:55] blackdwarf commented on #1368
Yeah, this still repros. My data:

[code]

[2016-02-26 21:21] piotrpMSFT opened #1606 "`dotnet run` needs to pass NuGet cache probing path to dotnet.exe"
@schellap, this is tracking the work to provide dotnet.exe with an additional probing path in the `dotnet run` scenario. Can you provide a link for the relevant dotnet.exe issue so we can take a dependency on it?

/cc @gkhanna79

[2016-02-26 21:56] robmen commented on #1064
The bundle is now out there and working.

[2016-02-26 21:56] #1064 closed

[2016-02-26 21:56] robmen commented on #1542
@piotrpMSFT, can you assign to me to make it easier for me to track? Can you also look at:

https://github.com/dotnet/cli/issues/1519
https://github.com/dotnet/cli/issues/1486

I can fix those at the same time if I get answers to all the questions. :smile_cat:

[2016-02-26 21:58] gep13 commented on #1064
@robmen can you provide a link? Where can I get the bundle? Thanks!

[2016-02-26 21:58] NumberByColors commented on #1405
@enricosada Do you have an ETA for this?

[2016-02-26 22:12] markdall commented on #1433
@jaredpar Yes and it's installed (downloaded again and ran it and it offered uninstall/repair). Full disclosure though - that redist says it's for VS 2012 U4 and we're on U3 - can't go to U4 at work until they do it officially. Still, the C++ redist _is_ installed.

[2016-02-26 22:34] ryanbrandenburg opened #1607 "dotnet --version-minimal"
For our CoreClr gating mechanism and for anywhere else we want to machine read the version it would be very helpful if there was a "--version-minimal" which only returned the version without the OS version and everything else.

So, instead of
[code]
it would output
[code]

[2016-02-26 22:52] livarcocc commented on #1591
The compile piece is fine, the problem is that the test would later fail and stop the build. Which for unaware users of the repo would be frustrating.

[2016-02-26 23:01] livarcocc commented on #1376
https://github.com/dotnet/cli/pull/1609 should unblock the debugging experience and is the last bit in the communications protocol implementation. There is still work left to support extra parameters in dotnet test though.

[2016-02-26 23:43] ryanbrandenburg opened #1612 "Missing dll when running MVC functional tests on linux"
https://travis-ci.org/aspnet/Mvc/jobs/112065869#L5582

`System.InvalidOperationException : Can not find reference assembly 'System.Collections.dll' file for package System.Collections`

Assigning to @pakrym as he requested.

[2016-02-27 00:19] muratg commented on #1612
:eyes: :)

[2016-02-27 00:32] pakrym opened #1613 "DependencyModel compilation assembly resolution doesn't work on mono"
Because it lacks `FrameworkList.xml` support.

@davidfowl

[2016-02-27 00:32] pakrym commented on #1612
https://github.com/dotnet/cli/issues/1613

[2016-02-27 00:39] #1612 closed

[2016-02-27 01:05] GuardRex opened #1614 "Publishing doesn't publish modified Views when compilation is skipped"
If I modify a View manually (and that's all I do), then perform a `dotnet publish`, the modified View is not moved into the published output. Therefore, a deployment will deploy a stale View. This one is easy to repro: Just mod a View file and do nothing else, re-publish ... you will get ...
[code]
... check the published output. The View you modded will not get published to the output.

![capture

[2016-02-27 02:16] victorhurdugaci commented on #1607
Just my 2c: `--version` should return strictly the CLI version and then there should be a second option `--extended-version` (?) that displays what `--version` shows today.

[2016-02-27 02:31] stanshillis commented on #1405
is there a workaround to get it going before the fix is released?

[2016-02-27 03:00] davidfowl commented on #1607
Just parse the output.

[2016-02-27 05:18] blackdwarf commented on #1543
@vors did this repro for you on Windows Server 2012 R2? And if it did, did it go away after installing the CRT for VS2015?

[2016-02-27 05:37] blackdwarf commented on #1607
@ryanbrandenburg is parsing the output acceptable for now?

[2016-02-27 05:46] blackdwarf commented on #1222
@marono does this still repro with the latest bits?

[2016-02-27 05:48] blackdwarf commented on #1177
@pdelvo have you managed to rebase and merge the fix for this?

[2016-02-27 08:22] troydai commented on #1602
Fixed in https://github.com/dotnet/cli/commit/268dd603cce30208725f219a00506bb649a58f47

[2016-02-27 14:08] pdelvo commented on #1177
@blackdwarf I rebased it and created a new PR.

[2016-02-27 14:42] StefH opened #1616 "How to build only a specific framework"
If you have multiple frameworks defined in the **project.json**, how can I only build one of these or just some ?

[2016-02-27 15:10] StefH opened #1617 "Will there also be a Cloud Foundry container be available?"
Currently I see that Docker is supported, are there also plans to support Cloud Foundry container?

[2016-02-27 16:12] blackdwarf commented on #1617
@StefH we don't have any plans right now, honestly.

[2016-02-27 16:14] blackdwarf commented on #1616
@StefH `dotnet build -f <framework>` should do the trick. Also, better way to get support for these kinds of questions would be to go to our [gitter channel](https://gitter.im/dotnet/cli).

[2016-02-27 16:14] #1616 closed

[2016-02-27 16:15] blackdwarf commented on #1614
/cc @piotrpMSFT @anurse

[2016-02-27 16:15] blackdwarf commented on #1614
@GuardRex would be awesome if you could provide us with a repo with an easy repro.

[2016-02-27 16:16] blackdwarf commented on #1607
@victorhurdugaci also, I would actually leave `--version` to show just the version string and provide a `--info` to give you the full shebang.

[2016-02-27 16:18] blackdwarf commented on #1605
Similar: #1604 .

[2016-02-27 16:19] xanather opened #1618 "Update DNX tools to support netstandard targets"
Recently corefx updated its packages to no longer target dnxcore50.
This means intellisense in VSCode and visual studio broke.
Really difficult to write code with .net core at the moment due to this change.

Or release a preview of visual studio CLI tool integration :)

[2016-02-27 16:21] blackdwarf commented on #1267
@brthor @livarcocc is this still reproing?

[2016-02-27 16:21] blackdwarf commented on #1227
/cc @davidfowl

[2016-02-27 16:22] blackdwarf commented on #1227
@sunsided can you confirm that using newer version doesn't repro this?

[2016-02-27 16:26] barambani opened #1619 "Mac OSX package not installing"
The Mac OS X package downloaded from here

https://github.com/dotnet/cli

looks not able to install CLI. The installation procedure succeeds but the terminal cannot find the dotnet command.
Is there any way to verify that the installation was actually completed ? There's nothing in my /usr/local/bin

Thanks

[2016-02-27 16:27] blackdwarf commented on #1215
@piotrpMSFT @victorhurdugaci gents, what is the latest on this?

[2016-02-27 16:27] sunsided commented on #1227
Yup, works like a charm, also on 16549 as well.

[2016-02-27 16:31] blackdwarf commented on #1227
@sunsided thanks, will close then. Reopen if it still repros.

[2016-02-27 16:31] #1227 closed

[2016-02-27 16:38] GuardRex commented on #1614
@blackdwarf Any project should do with `content` (e.g., the HelloMvc `cli-sample` app will repro this https://github.com/aspnet/cli-samples/tree/master/HelloMvc).

1. Build/publish the project.
2. Open the `Views/Home/Index.cshtml` file and make a small text change. Add a character anywhere.
3. Build/Publish the project. You should get the "skipping compilation" message.
4. Check the built/publish

[2016-02-27 16:40] KyleGobel opened #1620 "Is there a way to change name of exe from project.json"
My standard folder structure is normally

[code]

When running a ``dotnet build`` or ``dotnet publish`` this produces a .exe with the name ``src.exe``.

Is there an option I can pass to dotnet, or something I can put in ``project.json`` to change the name of the generated binaries?

edit:  Also side question, is this the place to ask general questions or would asking on StackOverflow be the better

[2016-02-27 16:40] #1177 closed

[2016-02-27 16:57] blackdwarf commented on #585
Closing, verified that it works with the CLI.

[2016-02-27 16:57] #585 closed

[2016-02-27 17:02] blackdwarf commented on #1620
@KyleGobel yes, you can put in a top-level `name` property. Also, our [gitter channel](https://gitter.im/dotnet/cli) is a much better place to get help on these kinds of information.

[2016-02-27 17:02] #1620 closed

[2016-02-27 17:03] blackdwarf commented on #1619
@barambani which shell are you using? Can you check if there is something in `/usr/local/share/dotnet`?

[2016-02-27 17:05] blackdwarf commented on #1618
/cc @piotrpMSFT @davidfowl

[2016-02-27 17:07] davidfowl commented on #1618
https://github.com/aspnet/dnx/pull/3367

[2016-02-27 17:11] davidfowl commented on #1618
Also, omnisharp support is in the dev branch https://github.com/OmniSharp/omnisharp-roslyn/tree/dev

[2016-02-27 17:17] xanather commented on #1618
Omnisharp support looks interesting might actually use that otherwise regarding DNX VS support how do we install the changes (come through Extensions & Updates in visual studio) so intellisense works again?

[2016-02-27 17:29] GuardRex commented on #1618
btw - I tried building `omnisharp-roslyn` this morning (being on the edge with latest `dotnet cli`), and it wouldn't build cleanly. The `build` that comes with it broke badly on my unstable feed override (apparently). There were restore issues under `dnxcore50` when I tried `dotnet restore`, and when I stripped out all of the `dnxcore50` framework entries going for a `dnx451` version, it would res

[2016-02-27 17:37] davidfowl commented on #1618
You update the DNX. You don't have to update VS tooling.

You used the dev branch right?

[2016-02-27 17:40] GuardRex commented on #1618
@davidfowl Yes ... I used it from the link that @troydai provided in https://github.com/aspnet/Home/issues/1255#issuecomment-189524280 ... so yes, dev branch. Didn't go so well. However, I'm not blocked. I'm ok ... I can hold on until a VS Code update sets me right.

[2016-02-27 20:24] barambani commented on #1619
@blackdwarf thanks for the help. Both the folders contain files (see attachments). It looks like the installation is ok then.
I use zsh as shell

![screen shot 2016-02-27 at 20 22 13](https://cloud.githubusercontent.com/assets/201339/13375141/fb3db36e-dd8f-11e5-8f8c-10450c01e627.png)
![screen shot 2016-02-27 at 20 21 27](https://cloud.githubusercontent.com/assets/201339/13375143/028f1590-dd90-11e5

[2016-02-27 20:31] blackdwarf commented on #1619
@barambani yes, the problem is in the way path is getting built on OS X. If you start bash, you will have access. There is another issue on this at #1567. I will close this as a duplicate if that is ok with you.

In the meantime, you can get unblocked by simply adding `/usr/local/share/dotnet/bin/` to $PATH.

[2016-02-27 20:31] #1619 closed

[2016-02-27 20:36] barambani commented on #1619
Great, thanks a lot

[2016-02-27 20:40] blackdwarf commented on #1567
Found this http://unix.stackexchange.com/questions/22979/path-helper-and-zsh. According to this, `path_helper` is not getting called in zsh. This would explain @earlbalai and @barambani issues with not having the tools in the $PATH.

There are two ways to solve this:

1. We detect and modify the .zshrc file by `echo "export PATH=$PATH:/usr/local/share/dotnet >> .zshrc` or similar. This would solve

[2016-02-27 20:41] blackdwarf commented on #1567
Of course, this still doesn't explain why is it working for me :(

[2016-02-27 20:59] zpodlovics commented on #1405
Same problem here with Ubuntu 14.04 x86_64 and dotnet 1.0.0.001573-1 package.

Here is some strace related match to fs..exe:
[code]
Maybe I miss something coreclr specific arguments but a simple:
[code]

will fail with:
[code]

I have found the same error here (compiler fsharp.core resolution):
https://github.com/Microsoft/visualfsharp/pull/849

[2016-02-27 21:32] piotrpMSFT commented on #1614
/cc @cdmihai

[2016-02-27 21:36] piotrpMSFT commented on #1215
We have a workaround were using in a few places. Typically, using the tool in the repo that produces it means that we are testing the tool. To enable testing at the moment we put a global.json in the test's root directory to block p2p references. We then pack the tool during build and restore it to the test.

Tools are undergoing a small redesign right now to compensate for shared framework. Once

[2016-02-27 21:39] piotrpMSFT commented on #1617
@StefH what would we need to do to enable such a container to be created from outside CLI repo? I don't think we can support every container/packaging format out there, but I want to be sure we are not blocking the community from building these experiences.

[2016-02-27 21:49] victorhurdugaci commented on #1215
We workaround this by having a small test framework that copies the test project in a folder outside the repo root and then runs the tests in that folder.

[2016-02-27 23:09] livarcocc commented on #1152
@blackdwarf I just finished the VS debugging work for dotnet test, my next step is a series of improvements to dotnet test to support additional parameters. I will include the build work in there too. So, we should have it sometime this coming week.

[2016-02-28 02:47] davidfowl commented on #1614
The logic is currently very broken because publish is the only thing that should be copying content. It's currently also being copied on compile which is just plain wrong. I'm hoping that we do a single pass to clean up all of the broken behavior with output dirs and assumptions made around content and other things.

[2016-02-28 04:03] davidfowl commented on #1613
Hmmmmm

[2016-02-28 08:00] ayende commented on #1579
Right now, on Windows 8, I've deleted all the packages, run dotnet restore from scratch on the project root dir, and tried to run dotnet run. I'm getting:

[code]

This is on `1.0.0-beta-001517`, I wasn't able to find a way to make it give a better error message.

[2016-02-28 08:02] ayende commented on #1579
Okay, I run dotnet restore on each individual folder in the solution.
And I was finally able to run it again.
On Windows 8, after clearing all the packages are restoring from scratch, I'm still getting bad format exception

[2016-02-28 10:54] BusyJay commented on #1289
Now it complains

    % dotnet repl
    No executable found matching command "dotnet-repl-csi"

Though I can launch repl by `csi`。

[2016-02-28 13:02] peter-playtimesolutions commented on #1370
@livarcocc Is there a time frame for when net451 will be supported? For either via the command-line or test explorer?

[2016-02-28 16:45] xanather commented on #1618
The dev branch of omnisharp-roslyn doesn't even finish properly building for me. Can't work on any of my .net core projects for the time being because of it since I can't handle not having intellisense.

[2016-02-28 19:35] factormystic commented on #1607
`--version` should accept additional params for the part of the info you want to see. Then you could have `--version rid` ([same request here](https://github.com/dotnet/cli/pull/1235#issuecomment-186403648)), `--version x.y`, etc to your heart's content.

Or one param that indicates you'd like all the output in a parseable format, like `--version parseable` or whatever.

[2016-02-28 20:40] blackdwarf commented on #1607
@factormystic ugh, dunno...dislike it. I can understand the need to get **just** the version string, but I would really not like to have a `--version` subsystem of parsing out stuff for various special cases.

[2016-02-28 20:47] blackdwarf opened #1623 "dotnet restore needs a less chatty default verbosity level"
Currently, the default verbosity level is set to output the entire operation log to STDOUT. For new users this can be daungting. We should switch to a less chatty verbosity level by default.

/cc @billwert @piotrpMSFT

[2016-02-28 20:58] piotrpMSFT commented on #1215
Global.json seems much cheaper for the same benefit...

[2016-02-28 20:59] piotrpMSFT commented on #1605
This is a dupe.

[2016-02-28 20:59] #1605 closed

[2016-02-28 23:57] akoeplinger commented on #1613
We do have FrameworkList.xml in Mono, or do you mean the CLI doesn't read it yet?

[2016-02-29 04:21] JumpingYang001 commented on #1543
@blackdwarf I repro this on WS2012R2 as below picture:

![repro1](https://cloud.githubusercontent.com/assets/16585827/13385656/719f94ec-dede-11e5-97ff-98fe9bd343cb.PNG)

It works fine after install "Visual C++ Redistributable for Visual Studio 2015".
![repro2](https://cloud.githubusercontent.com/assets/16585827/13385699/e4eccfbe-dede-11e5-9870-cf14d4943bc8.PNG)

[2016-02-29 04:29] blackdwarf commented on #1543
@JumpingYang001 ok, so this seems like a pre-req/documentation issue then. Will update the docs.

[2016-02-29 04:37] blackdwarf commented on #1543
@piotrpMSFT would be good to know why we have this pre-req though.

[2016-02-29 05:50] pakrym commented on #1613
dotnet build reads it, but Microsoft.Extensions.DependencyModel (it's used for dynamic compilation) doesn't

[2016-02-29 07:07] AlexeyRokhin commented on #1600
@blackdwarf
`dotnet` without parameters causes the same exception.

[2016-02-29 07:08] blackdwarf commented on #511
Well, we've decided that we will not use this, so closing.

[2016-02-29 07:08] #511 closed

[2016-02-29 07:10] blackdwarf commented on #520
OK, so @krwq is changing the installer scripts and #1482 is tracking the spec. I will close this issue since it is out of date and this point.

[2016-02-29 07:10] #520 closed

[2016-02-29 07:11] blackdwarf commented on #804
This is an old issue so closing since we are not tracking beta anymore.

[2016-02-29 07:11] #804 closed

[2016-02-29 07:12] blackdwarf commented on #1007
This issues has been resolved in #1030.

[2016-02-29 07:12] #1007 closed

[2016-02-29 07:14] blackdwarf commented on #1349
@gregg-miskelly @piotrpMSFT I believe we have this now, correct?

[2016-02-29 10:59] marono commented on #1222
@blackdwarf haven' tried it recently, I will do so and report back

[2016-02-29 14:23] blackdwarf commented on #1600
@AlexeyRokhin can you try to upgrade to latest bits and see if it repros? It is a strange thing...

[2016-02-29 14:28] blackdwarf commented on #1601
/cc @davidfowl

[2016-02-29 14:48] AlexeyRokhin commented on #1600
@blackdwarf
Same exception. Here the xml form event viewer:
[code]

[2016-02-29 14:49] blackdwarf commented on #1567
@earlbalai @barambani can you guys check if you have a file in `/etc/` which is called `zprofile` and does it contain anything?

[2016-02-29 15:02] davidfowl commented on #1601
Yes it's expected. See https://github.com/aspnet/cli-samples. Also please file these types of bugs on the aspnet repository

[2016-02-29 15:02] #1601 closed

[2016-02-29 15:35] blackdwarf commented on #884
@davidfowl @jkotas @janvorli what is the status of this?

[2016-02-29 15:39] blackdwarf commented on #1599
/cc @piotrpMSFT @davidfowl @KrzysztofCwalina can you guys chime in?

[2016-02-29 15:58] jaredpar commented on #1433
I'm a bit stumped on this bug right now.  Based on all the data here my working theory is the following call in the compiler is failing:

http://source.roslyn.io/#Microsoft.CodeAnalysis/NativePdbWriter/PdbWriter.cs,793

If that call succeeded the returned COM object would absolutely be convertible to `ISymUnmanagedWriter5`.  The error though indicates this particular conversion is failing hence it

[2016-02-29 16:48] jkotas commented on #884
crossgen was changed to generate readytorun images by default, so the best way to get this fixed is to pickup a new coreclr build that has the change in defaults.

BTW: Do not forget to remove `ComPlus_ReadyToRun=0` workaround when you pick up the new coreclr build.

[2016-02-29 18:06] livarcocc commented on #1370
@pranavkm Is this something that you will take care of or should I take over?

[2016-02-29 18:10] pranavkm commented on #1370
Soryr, I haven't been paying attenting to this. For our scenarios in AspNet, we're using the desktop xunit runner after publish.

[2016-02-29 18:19] anurse commented on #1071
Yes, I believe this is fixed. @NTaylorMullen can you confirm?

[2016-02-29 18:19] #1071 closed

[2016-02-29 18:20] anurse commented on #1336
/cc @DamianEdwards

There are some differences between dotnet and dnx, and this is one of them. We're looking at tidying this up in a few ways, but for now this is the expected behavior.

[2016-02-29 18:27] NTaylorMullen commented on #1071
Yes it is.

[2016-02-29 18:31] KrzysztofCwalina commented on #1599
I agree with @livarcocc.

[2016-02-29 18:47] gregg-miskelly commented on #1349
I don't know the answer for sure. I can tell you that [http://dotnet.github.io/getting-started/](http://dotnet.github.io/getting-started/) still points at daily builds. But I am not sure if there is another place I should point to. Furthermore I can also say that we haven't run into the quality issues that we were having. But I don't know if that is because we have done a better job of not publish

[2016-02-29 18:55] brthor commented on #1567
@blackdwarf What if we symlink to /usr/bin again? Are the bugs preventing that still happening?

[2016-02-29 19:03] blackdwarf commented on #1567
@brthor no, but...seems *wrong* to do it. Also, would like to know if @earlbalai has El Capitan, 'cause it seems that the zprofile is something that El Capitan brings by default, which would explain why the installer "just worked" on my machine.

[2016-02-29 19:09] DamianEdwards commented on #1336
Yep. We're still working through this but it's fair to say there will be some default boilerplate in `project.json`, `Program.cs` and `Startup.cs` of an ASP.NET Core app to make this work.

[2016-02-29 19:22] cdmihai commented on #1614
Regarding incremental compilation, should the content files be part of incremental compilation?
Or should publish always copy the content files, regardless of what the compilation outcome was (build / skipped). It sounds like this should be the responsibility of publish, and build should not be aware of the content files.

[2016-02-29 19:23] #1537 closed

[2016-02-29 19:27] blackdwarf commented on #1349
@gregg-miskelly the GS content should change today to point to a versioned build (now that all the packages for all platforms are called the same).

[2016-02-29 19:30] GuardRex commented on #1614
I only hope for publish to be addressed. I only mentioned build to fully
describe the current behavior.
On Feb 29, 2016 11:22 AM, "Mihai Codoban" <notifications@github.com> wrote:

[2016-02-29 19:32] gregg-miskelly commented on #1349
Thanks. What version will be used? I think I would like to request today's build if possible.

[2016-02-29 19:39] livarcocc commented on #1614
@cdmihai Not sure I agree, that would mean that if I wanted to use something from Content, I would have to publish and I may have to do so just for Content. There are a bunch of cases where a publish hasn't been needed to far and just the deps file is fine.

[2016-02-29 19:41] eerhardt opened #1624 "CLI shouldn't be dependent on corefxlab"
The CLI code currently gets the System.CommandLine package from https://github.com/dotnet/corefxlab.  However, the corefxlab "is for experimentation and exploring new ideas that may or may not make it into the main corefx repo."

The official production bits from dotnet/cli shouldn't depend on code from a repo that is for experimentation.

To fix this, we will have to do one of the following:
- Mo

[2016-02-29 19:54] blackdwarf commented on #1349
@gregg-miskelly I think I will use the latest version, since we upped our test coverage and they are all pretty stable. Makes sense?

[2016-02-29 20:00] brthor commented on #954
This output is hidden in the new build system. We can close this out.

[2016-02-29 20:00] #954 closed

[2016-02-29 20:06] ellismg opened #1625 "Generating fallback chain for shared framework"
We've discussed dropping a file in the shared framework which describes the set of probing rids from the most specific all the way up to `any` that will be used when probing for assets in fat packages.

What process will actually generate this fallback list?  Is it something that will be generated by `dotnet publish` when the `--runtime` argument is published?  Will there be some other tool that d

[2016-02-29 20:06] ellismg commented on #1625
/cc @davidfowl @lodejard @piotrpMSFT

[2016-02-29 20:09] lodejard commented on #1625
/cc @anurse

[2016-02-29 20:18] susl commented on #1433
@jaredpar I have repaired my VC++ 2012 Redist and also installed 2013 and 2015.

And now everything seems to be working..

[2016-02-29 20:21] susl commented on #1433
Also, I installed version 1.0.0.1584, if that matters.
Now "dotnet run" works fine with HelloWorld, but "dotnet compile" shows me this:

[2016-02-29 20:22] gregg-miskelly commented on #1349
Sounds good to me.