[2015-12-09 00:27] schellap commented on #439
Is the rid different?

[2015-12-09 00:28] brthor commented on #439
RID for El Capitan is 'osx.10.11-x64' IIRC

[2015-12-09 00:29] schellap commented on #439
But I am not specifying any RID. Just running these steps. Should work or no?

[2015-12-09 00:30] #401 closed

[2015-12-09 00:30] brthor commented on #439
Can you try explicitly specifying the RID during restore and publish?
[code]

[2015-12-09 00:30] schellap commented on #439
This is only on el-capitan. It doesn't block the CoreRT PR as I specified because it is using Yosemite.

[2015-12-09 00:31] schellap commented on #439
Works with the RID.

[2015-12-09 00:51] brthor commented on #416
Agreed we need positional parameters for dotnet for things like verbose output `dotnet -v ...`, but the git separator adds a lot of complexity in the default case.

Would a user be expected to type: `dotnet run -- --project ...`?

[2015-12-09 01:03] victorhurdugaci commented on #416
Agree it adds complexity but you must have a way to distinguish between the arguments with the same name that are for different parts of the stack (the runtime and the app). So, yes, if you want `--project` just for the app then you run `dotnet run -- --project ...`

While you address this bug make sure that you allow multiple `--` because we need it for the `dotnet-watch` command. It's an extreme

[2015-12-09 01:14] Sridhar-MS commented on #432
The MSI needs to be authenticode signed. It has to be automated in the internal VSO CI builds. I have already started conversations regarding this. I am going to use this issue to track this in the open.

[2015-12-09 01:16] gkhanna79 opened #441 "Enable Mac RyuJIT for dotnet-compile-native"
1) Commit CLI support with updated ILCompiler package reference and enabling Mac JIT testing - blocked against https://github.com/dotnet/corert/issues/499

2) Enable Mac JIT tests in CoreRT
Update Wiki for CLI and CoreRT

[2015-12-09 01:18] Sridhar-MS commented on #437
Is this a duplicate of #423?

[2015-12-09 01:18] brthor commented on #416
I think this is getting away from the simplicity the cli aims to offer in default cases.

How is the user expected to use `dotnet-watch`?

[2015-12-09 01:19] schellap commented on #437
Yes.

[2015-12-09 01:19] #437 closed

[2015-12-09 01:24] Sridhar-MS commented on #439
This needs to be fixed here. We have a naive way to find the current RID and its broken.

https://github.com/dotnet/cli/blob/bfc4d46bee7571457a8e555dd57bab1b0c0f4653/src/Microsoft.DotNet.ProjectModel/RuntimeIdentifier.cs#L10

[2015-12-09 02:10] piotrpMSFT opened #442 "Packages generated by CLI repo have invalid version number"
From NuGet docs [http://docs.nuget.org/Create/Versioning]:

[code]

Our version number currently comes out as `1.0.0-16778.1449621033` which clearly violates the rule. We should change this to `1.0.0-alpha-16778-1449621033`

@krwq

[2015-12-09 02:14] davidfowl commented on #442
Yep

[2015-12-09 02:21] brthor commented on #442
What about just:  `1.0.0-alpha-1449621033` ?

Less to type and the two numbers have essentially the same information.

[2015-12-09 02:35] cdmihai commented on #232
Here is a proposal of the user experience with incremental compilation.

Incremental compilation requires some safety checks, so we need to check for these and only enable incremental compilation if all safety checks pass (issue #382).

If a project passes all safety checks, it compiles incrementally by default:

![1](https://cloud.githubusercontent.com/assets/2255729/11674703/2417402c-9dd8-11e5-9

[2015-12-09 02:52] krwq commented on #442
What about
[code]
I'm good with `alpha` too although alpha suggest version which you give to users which daily build isn't

[2015-12-09 03:33] krwq opened #443 "postcompile/precompile doesn't respect exit code of the command"
compile doesn't fail when the postcompile/pre command failed.

[2015-12-09 03:37] krwq opened #444 "place-binary file locking (causing pdbs to not match dll)"
place-binary step doesn't fully work on few projects. I.e:
[code]

Note: "sharing violation". This is coming from xcopy inside place-binary. Seems like "Microsoft.DotNet.ProjectModel.dll" is being used by dotnet-compile. We should be probably running that after the process is finished or unload the dll from memory (not sure if that is supported by runtime)

Succeeding build despite error is report

[2015-12-09 04:41] xanather opened #446 "Add an option to include VC++ runtime for --native"
On windows you're required to install the VC++ 2014 runtime to get the native executable working, there should be an option/parameter to include the runtime statically.

[2015-12-09 05:47] piotrpMSFT commented on #442
Dev is fine. The we need both numbers for now. First one is date second is time. If we don't keep both we won't have increasing versions.

We need to shorten for release builds. For Dev I think it's fine with the big number.

[2015-12-09 05:56] davidfowl commented on #408
Should be fixed by https://github.com/dotnet/cli/commit/02217b695f7d4f8ec79e13c12f918b650973759a

[2015-12-09 05:56] #408 closed

[2015-12-09 06:48] devigned opened #447 "ConsoleApplication.E2ETest.TestDotnetPublish [FAIL]"
Running ./build.sh from a fresh clone of master results in  on OS X 10.11 "ConsoleApplication.E2ETest.TestDotnetPublish [FAIL]" (cmake version 3.4.1).

### build output

[code]

[2015-12-09 07:27] piotrpMSFT commented on #442
I'm working on fixing this now.

[2015-12-09 07:31] piotrpMSFT commented on #447
we need to get 10.11 added to CI to ferret out these issues. Looks like the RID for 10.11 isn't being mapped yet...

[2015-12-09 07:35] piotrpMSFT commented on #446
@schellap, can you take a look at this? --native output should have no external dependencies...

[2015-12-09 07:51] krwq commented on #447
should we actually have separate RIDs for each version and subversion?

[2015-12-09 07:52] krwq commented on #442
i have it fixed on my branch already

[2015-12-09 07:54] piotrpMSFT commented on #442
send a PR :) I have another feature blocked on this that I need to get done tonight.

[2015-12-09 07:55] krwq commented on #442
ok, I was planning to clean this code a little bit tomorrow (i.e. move that settings class to context). let me just remove "WIP" commit and send it

[2015-12-09 08:35] davidfowl commented on #447
I see this too.

[2015-12-09 08:37] davidfowl commented on #435
This whole automagic copy feature will go away and instead will be implemented as https://github.com/dotnet/cli/issues/66

[2015-12-09 08:55] krwq opened #450 "Versioning convention"
What are we planning to call versions for dev and stable packages?
Currently this is 1.0.0-dev-12345

We need to in particular take a look what can have version and stick with one format.

[2015-12-09 09:26] piotrpMSFT opened #451 "Search paths DOTNET_HOME in host"
We need to add two more default paths to the host:
1. zip/layout
If running dotnet from build artifacts or from zip, the DOTNET_HOME directory for tools in the CLI will be in `..\runtime...`This is a very common scenario so the path should be considered.
2. When a deps file is present it should include a pointer to the runtime [does today if runtime package is referenced]. Host should take this in

[2015-12-09 16:57] Sridhar-MS opened #452 "dotnet-publish does not identify the default current runtime identifier 'centos.7-x64' on centos 7"
Currently the default runtime identifier on centos is 'ubuntu.14.04-x64'.

[2015-12-09 16:58] Sridhar-MS commented on #452
https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.ProjectModel/RuntimeIdentifier.cs

[2015-12-09 17:00] Sridhar-MS opened #453 "dotnet-compile-native does not work on centos"
There is no corert packages for centos 7 yet.

/cc: @schellap @brthor

[2015-12-09 17:02] Sridhar-MS opened #454 "Disable crossgen'ing mscorlib.dll on centos"
Console apps crash with crossgen'ed mscorlib.ni.dll on centos.

TBD: File a bug on coreclr and link it here.

[2015-12-09 17:33] andschwa commented on #408
Great to hear it :smile:

[2015-12-09 17:35] andschwa commented on #435
Precisely what I need. Thanks for the info @davidfowl! I'll keep working around with my own scripts for now.

[2015-12-09 17:35] #435 closed

[2015-12-09 19:06] brthor commented on #447
Related #439

[2015-12-09 22:01] krwq commented on #106
For the online version we can use this:
http://packagesearch.azurewebsites.net/Search/?searchTerm=XmlReader

[2015-12-09 23:04] anurse opened #459 "Catch 'corehost' up with the spec"
See https://github.com/dotnet/cli/pull/458

Specific Items:
* [ ] Correct the default path order for `DOTNET_HOME` on Unix
* [ ] Add Program Files location to default path order for `DOTNET_HOME` on Windows
* [ ] Close on package directories (blocked on NuGet updates and xplat porting)
* [ ] Add error if different assemblies found with the same name
* [ ] De-dupe `.ni.dll`/`.ni.exe` with `.dll`/`.

[2015-12-09 23:06] brthor opened #460 "Standardize Command Dependencies"
We need to solve the conflicting dependencies in our flat output folder.

### Steps
* [x] Move all commands to depend on Stdlib
* [x] Write Test to ensure there are no conflicting dependencies

[2015-12-10 03:12] loqix opened #462 "Generate binding redirect wrong"
Generate the following
[code]
Correct:
[code]

[2015-12-10 06:45] davidfowl commented on #462
Hah the culture and public key token are messed up

[2015-12-10 08:23] krwq opened #463 "Project working in VS doesn't work with cli (not fully restoring? + other issues)"
See https://github.com/krwq/cli/tree/dotnet_api/test/Microsoft.DotNet.Tools.Api
open in VS -> build and run - works

dotnet cli:
`dotnet restore` + `dotnet run anyarg`:
[code]

There is actually more issues. If you add that packages by hand to force restore then `dotnet run` actually crashes while throwing different exception...

[2015-12-10 08:40] Antaris opened #464 "Windows x64 dotnet CLI install location"
Following @davidfowl repo: https://github.com/davidfowl/dotnetcli-aspnet5

Example failed because it's looking to bind CoreCLR libs from `C:\Program Files\Microsoft\dotnet\runtime` but the installer dropped them at `C:\Program Files\dotnet\runtime`.

![image](https://cloud.githubusercontent.com/assets/255906/11710781/973a6470-9f19-11e5-9745-7bc4ece9c86c.png)

[2015-12-10 09:45] #462 closed

[2015-12-10 09:45] davidfowl commented on #462
Should be fixed

[2015-12-10 09:46] davidfowl commented on #397
@pakrym You need to also take exsting App.config files into account.

[2015-12-10 16:23] pakrym commented on #397
Should i search for existing redirects and edit them, or just add a new ones?

[2015-12-10 16:46] ericstj opened #465 "Need a way to specify RID-specific dependencies"
Folks often need to cross compile and use an OS-specific package.  Today the only way they can do this is to fork their project.json.

I think we need a "dependencies" section under the RID entry in runtimes.

This is related to https://github.com/NuGet/Home/issues/1660.

[2015-12-10 16:51] ericstj commented on #465
Dependencies under RID might not be the right design since RID has no impact on the compile graph today, but the basic problem is I need to produce an implementation on Windows that uses windows specific packages (which cannot be used for Unix and will fail to resolve any assets) and vice-versa.

/cc @davidfowl @anurse

[2015-12-10 17:12] krwq commented on #232
Hey @cdmihai, the analyze option which you are adding seems to be super useful in general although I have concern if this should be a switch --analyze or rather a separate command like dotnet-compile-analyze.

I personally feel like the code you are trying to add right now adds unnecessary complexity in here while it could probably be a self containing module. In example when I look at `dotnet com

[2015-12-10 17:17] TomPoulton commented on #291
I'm seeing this on Mac OSX as well (El Capitan 10.11.1)

[code]

[2015-12-10 17:18] #171 closed

[2015-12-10 17:19] davidfowl commented on #291
Yes El Capitan restore is broken. To work around it you have to do `dotnet restore osx.10.10-x64`

[2015-12-10 17:20] davidfowl commented on #291
@anurse We need to fix this.

[2015-12-10 17:25] TomPoulton commented on #291
I think you meant `dotnet restore --runtime osx.10.10-x64` ;) but yes that worked!

[2015-12-10 17:55] anurse opened #467 "dotnet-compile should preserve resource assembly info in deps file"
Right now, the deps file does not contain the resource assemblies. The data is in the lock file, we just need to transfer it to the deps file.

[2015-12-10 17:56] anurse opened #468 "Ensure that corehost works on Nano Server"
We had some issues with building `dnx` on Nano Server. We need to verify that `corehost` will work fine on Nano Server (which only supports the OneCore APIs).

[2015-12-10 19:21] cdmihai commented on #232
@krwq

I see your concerns, however there's a few things that are unclear to me.
Here are a few cases (all of which require some modifications of the `dotnet-compile` code)

Invariants to all cases:
- users cannot invoke incremental compilation if there are any failing safety checks

1. `dotnet-build` becomes the new entry command to compilation. Users invoke build and not compile. Build does safe

[2015-12-10 19:23] brthor commented on #460
Partially resolved by PR #445

[2015-12-10 20:06] troydai opened #470 "Add inter-project graph in WorkspaceContext"
Build a internal project dependencies graph in `WorkspaceContext`.

Usage:
* Track all projects require a restore after one or more lock file/project file are changed.
* Invalid a project entry when it's dependency is invalid.

[2015-12-10 20:13] Sridhar-MS commented on #464
@Antaris I am not able to repro the it with the [latest MSI](https://dotnetcli.blob.core.windows.net/dotnet/dev/Installers/Latest/dotnet-win-x64.latest.msi).

![image](https://cloud.githubusercontent.com/assets/9423246/11727190/65937af6-9f37-11e5-9482-d36e0f5bdf95.png)

There were some breaking changes in the MSI and upgrade from an older daily build may not work. Can you completely uninstall Dotn

[2015-12-10 20:20] anurse opened #471 "Default TFM define is truncated to two version digits"
If you specify a TFM with a three-digit version, we truncate it to two-digits :(. We do this in our code that is trying to work around a bug in NuGet where TFM short-names have one digit if the second digit is zero. I have a fix already, just filing a bug to track.

[2015-12-10 23:04] dannyvv commented on #232
If we can't do this work in dotnet-compile.exe then my vote would also be for the proposal of adding a new dotnet-build.exe.

Since the check and the incrementality are closely related and should go hand-in-hand, it will imply the logic for incrementality will also be outside of dotnet-compile into dotnet-build.exe.

Given those constrains dotnet-build would be the most reasonable.

[2015-12-10 23:40] krwq commented on #463
Couple of issues with that:
- [ ] Newtonsoft.Json nupkg is missing dependencies
- [ ] no errors that any packages are missing
- [ ] unhandled exception (caused by missing dlls) during the runtime show completely random error message
- [ ] dotnet-run crashes when trying to display the error message

[2015-12-10 23:49] cdmihai commented on #429
I also tried debugging and the dlls and pdbs do not match. Should I reopen this issue, or is there a newer one tracking this issue?

[2015-12-11 00:04] kichalla opened #473 "Exception is being thrown in when trying to run 'dotnet run --help'"
I wanted to find out the options available for the `run` command so was trying 'dotnet run --help'

[2015-12-11 00:13] brthor commented on #473
Hi @kichalla Thanks for the report. Can you post the exception and what platform you are on?

[2015-12-11 00:20] kichalla commented on #473
I am on Windows 10 and I do not have the symbols for coreclr to give you the exception details...where can find the symbols?

[2015-12-11 00:25] brthor commented on #429
Closed because #445 should solve the problem of having different dependencies.

As for the .pdb mismatch, I don't think it is the same issue. Most likely this is related to the postcompile scripts in some way. They fail to copy over the .pdb after the first publish. Right now the .dlls get overwritten after the first publish, so it may explain the mismatch. #445 might resolve this, but ultimately

[2015-12-11 00:28] brthor commented on #473
I'm not sure actually. Could always build it out of the coreclr repo :smile:

What about just posting the error though?

[2015-12-11 00:30] brthor commented on #463
Commented here:

https://github.com/JamesNK/Newtonsoft.Json/issues/618

[2015-12-11 03:12] rogah commented on #291
El Capitan (10.11.1) restore is broken. The work around worked for now but it's frustrating though.

[2015-12-11 06:06] krwq opened #476 "published app requires DOTNET_HOME"

[2015-12-11 06:07] krwq opened #477 "dotnet-publish does debug configuration by default"

[2015-12-11 06:12] krwq opened #478 "linker error during dotnet compile --native"
[code]

[2015-12-11 06:14] krwq commented on #478
More verbose output:
[code]

[2015-12-11 06:18] krwq opened #479 "not intuitive how to publish native binaries"
`dotnet publish --native` doesn't work
`dotnet publish --help` doesn't help too much

[2015-12-11 08:07] Antaris commented on #464
Hmmm, every time I go to install it...

![snip_20151211080629](https://cloud.githubusercontent.com/assets/255906/11738837/20497a7a-9fde-11e5-854f-da2149d71d1e.png)

I don't ever remember setting the install location when I install this (as in, I haven't ever changed it).

[2015-12-11 08:53] krwq opened #481 "Colors are broken in some places"
Colors are broken in some places and linux artifacts for colors are being displayed instead.
I have noticed that mostly happening when displaying warnings. I.e (simply run build for repro):
[code]

[2015-12-11 08:58] krwq commented on #478
related: https://github.com/dotnet/cli/pull/469

[2015-12-11 11:08] krwq commented on #479
related: https://github.com/dotnet/cli/pull/469

[2015-12-11 11:15] krwq commented on #106
Online version since practically no work: https://github.com/dotnet/cli/pull/475

[2015-12-11 17:31] #397 closed

[2015-12-11 17:40] anurse commented on #444
Yeah, that's a fairly common occurrence with these scripts. We had the problem with NuGet too. Generally you have to make sure you use a different `dotnet` to compile when you want to actually use `place-binary`'s feature. We could make it so the PDB only gets copied if the DLL copy succeeds. That would probably resolve the immediate issue.

In general, `place-binary` shouldn't be run during the f

[2015-12-11 17:41] anurse commented on #291
I'm actively working on improving the OS detection by porting some DNX code. Probably not going to be fully integrated until early next week, but it's on the way :).

[2015-12-11 17:43] jgowdy commented on #291
@anurse Excellent, thank you.

[2015-12-11 18:17] anurse opened #483 "Add support for NuGet 3.3 'contentFiles' in dotnet cli"
https://docs.nuget.org/create/nuspec-reference#contentfiles-with-visual-studio-2015-update-1-and-later

We should support these by mimicking MSBuild build actions. We can support "Compile" and "EmbeddedResource" in `dotnet-compile` and the "copyToOutput" flag in `dotnet-publish`

[2015-12-11 18:44] AlexGhiondea commented on #216
@piotrpMSFT I think the way the ApplicationName would be used would depend on the contract between the host and the app. If the host does not put in that value something that the app expects, the app won't be able to use it.

[2015-12-11 18:51] brthor commented on #479
Native is a single binary. What would `dotnet publish --native` do?

[2015-12-11 18:53] brthor commented on #478
@krwq See Here

https://github.com/dotnet/corert/blob/master/Documentation/how-to-build-and-run-ilcompiler-in-console-shell-prompt.md

*Note: On Windows, please ensure you have VS 2015 installed to get the native toolset and work within a VS 2015 x64 Native Tools command prompt.*

#301 Is tracking the removal of this.

[2015-12-11 18:56] brthor commented on #476
This shouldn't be true if you have installed one of the native installers.

[2015-12-11 19:20] Sridhar-MS opened #484 "Stage1 publishing copies binaries over to Stage2"
15:56:44 Publishing [33mdotnet[39m for [33mDNXCore,Version=v5.0[39m/[33mubuntu.14.04-x64[39m
15:56:46 Compiling [33mMicrosoft.DotNet.ProjectModel[39m for [33mDNXCore,Version=v5.0[39m
15:56:48 Copy From: /mnt/j/workspace/dotnet_cli/debug_ubuntu/artifacts/ubuntu.14.04-x64/stage1/bin/Microsoft.DotNet.ProjectModel.dll
15:56:48        To: /mnt/j/workspace/dotnet_cli/debug_ubuntu/artifacts/ubu

[2015-12-11 19:29] krwq commented on #479
Ok, so does that mean that in order to publish my binary as a single exe on Windows I do `dotnet compile --native`? Still feels slightly not intuitive, what if `dotnet publish native` would call the right thing for you?

[2015-12-11 19:42] cdmihai commented on #470
I was also intending, at some point, to do a project dependency graph for incremental (and potentially concurrent) compilation.

Wondering if we can use the same graph structure for both restore and compilation ...

I need to :
- traverse and build the graph in certain order
- make each node sensitive to all the requested target frameworks (project path -> project contexts)
- for each node, get it

[2015-12-11 19:53] anurse commented on #118
Filed https://github.com/dotnet/corefx/issues/4944 to track the weird error

[2015-12-11 19:59] bdukes opened #485 "Exception on "dotnet restore" when package source doesn't exist"
I have a `project.json` with one dependency, which exists on nuget.org (Microsoft.ApplicationBlocks.Data).  However, when I run `dotnet restore`, an exception is thrown because I have an additional package source defined in my `NuGet.Config` file, and that path doesn't exist (it's a network path for a network I'm not currently connected to).  I would expect this package source to be ignored, rathe

[2015-12-11 20:08] brthor commented on #477
Is this wrong?

[2015-12-11 20:36] brthor commented on #291
@anurse Nice! :smile:

[2015-12-11 20:41] MichaelSimons opened #486 "dotnet compile and run commands should support a runtime option"
The `dotnet compile` command depends on a RID in order to produce the .deps file.  The current implementation auto detects the RID.  There should be an option to override the auto detect logic just as there is for the `restore` and `publish` commands.  If this is added for the compile command then it also makes sense to add it to the run command since it wraps the compile command.

[2015-12-11 21:19] anurse commented on #118
Still needs clean-up, but now I get:

[code]

Which is at least more relevant

[2015-12-11 21:57] brthor commented on #470
@cdmihai The intention of  #445 is that there would be no confilicts in these cases

[2015-12-11 22:42] troydai commented on #470
@cdmihai It seems to be a good fit. The intention here is to enable scenario in which dependencies change of one project will be escalated to its dependents. The usage of this is in tooling like OmniSharp and VS project model server.

To help your purpose, the dependency graph can be exposed. I suppose the traverse algorithm to be implemented independently once the data structure is settled. The n

[2015-12-11 23:07] TomPoulton commented on #291
This is such a surreal experience, conversing with Microsoft on GitHub about a .NET bug on Mac OSX! Love it :)
Thanks for the quick turnaround @anurse

[2015-12-12 01:30] cdmihai commented on #470
Sounds good. Do you plan on making the entire graph unique to one runtime / framework / configuration combination, or will there be one graph to represent all, and then one can retrieve the desired runtime/framework/configuration combination at the node (project) level?

For me the implication is whether I'd have to recreate this graph for every combination, or only once.

@brthor
I'm still a begi

[2015-12-13 06:41] davidfowl commented on #486
Run and compile are about running on the "current" RID. publish is where you can choose.

[2015-12-13 19:57] blackdwarf commented on #479
@krwq yup, publishing the native binary is essentially compiling it. We could add the override to `dotnet publish`, but then we would have two commands that do **exactly** the same thing (drop the single binary in a well-known location), which I don't think would be good.

[2015-12-13 19:58] jasonwilliams200OK commented on #481
Probably this is happening:

[code]

To fix (preferred solution):

[code]

or (just ok solution):

[code]

[2015-12-13 20:00] blackdwarf commented on #476
@krwq can you give repro steps? Is it that if I publish the app and then run it on another machine that doesn't have the CLI installed I still have to set DOTNET_HOME?

[2015-12-13 22:38] schellap commented on #354
@anurse, are you guys tracking this in NuGet? Do you have an issue for it?

[2015-12-13 22:48] schellap opened #488 "Need runtimeOptions for dotnet-publish"
Currently we have compilationOptions which specify inputs to dotnet-compile. Similarly we need runtimeOptions which dotnet-publish converts into a config file for the corehost.

See the ask https://github.com/dotnet/cli/issues/423

@piotrpMSFT @Sridhar-MS, To fix this issue, I am planning to enable SERVER_GC by default in corehost and optionally provide an environment variable which will override

[2015-12-13 23:24] am11 opened #489 "Build failed at stage 1 with Lexer error crashing csc"
I cloned the current master (91acc03) and ran `build.cmd` on Windows 10 x64 Pro with VS2015 Community.

The compilation terminated with csc crash ("csc.exe has stopped working") as follow:

[code]

[2015-12-14 03:31] joepeer opened #490 "Loading dll with AssemblyLoadContext fails with dotnet cli"
I'm trying to figure out how without the dotnet cli to dynamically load dll.  I would need to be able to load some kind of a plugin.  Something like [Issue 2095](https://github.com/dotnet/coreclr/issues/2095) is talking about.

With dnx I was able to subclass System.Runtime.Loader.AssemblyLoadContext and make things work.
But when I'm simply running my test app with the dotnet run, I end up with

[2015-12-14 12:06] davidfowl commented on #488
Why not just put it in the config file directly? It's basically app.config

[2015-12-14 17:14] gkhanna79 commented on #488
@davidfowl Which config file are you referring to? and does that exist for regular console apps?

[2015-12-14 17:57] davidfowl commented on #488
The bug suggests that the runtimes options get converted into a config file that the runtime reads, or did I misread that. Why do we need any section in project.json if that's the case?

[2015-12-14 18:02] Sridhar-MS opened #491 "Contents do not get published by 'dotnet-publish' command"
Regression caused by https://github.com/dotnet/cli/pull/347
/cc: @anurse

[2015-12-14 18:06] schellap commented on #488
I do `dotnet new` and `publish` and got hello world. How will the CLR decide between server GC or client GC? If you require intervention (manually adding app.config) for every little hello world, that doesn't sound good.

What is app.config? Does it exist for console apps or is it for ASP.NET? If latter, are you suggesting we set the default to be client GC and ASP.NET use app.config to have serve

[2015-12-14 18:15] piotrpMSFT opened #492 "Permissions issue in PKG installer"
We've had a report that permissions were incorrectly set by PKG installer. Folks could not use the product without running `sudo chmod -R 555 /usr/local/share/dotnet`. Can you take a quick look?

[2015-12-14 18:19] davidfowl commented on #488
I'm saying `project.json` isn't a runtime artifact anymore and I don't see the point storing data in there and transforming it into a `runtime.config` file. The `app.config` file was an analogy.

[2015-12-14 18:20] davidfowl commented on #490
I'm seeing this too, the TPA list seems to ruin everything :smile:.

/cc @gkhanna79

[2015-12-14 18:22] gregg-miskelly commented on #492
I ran into this. I can't say for sure, but the issue may have been triggered for me because the account which setup the box originally is different from my account.

[2015-12-14 18:22] anurse commented on #354
@davidfowl @yishaigalatzer ?

[2015-12-14 18:23] blackdwarf commented on #492
@gregg-miskelly ah, that one again. Can you try to test out the PKG installer with the same account and see if it repros?

[2015-12-14 18:25] gregg-miskelly commented on #492
I don't have access to that account, so not easily. Can you see if you can repro the issue with a secondary account on your box?

[2015-12-14 18:27] blackdwarf commented on #492
OK, will do. This is something very weird with the PKGs and so far I haven't found a better solution for it than to just `sudo chmod 755` the install target in the postinstall script. Which is ugly, but it seems to be the only recourse available.

[2015-12-14 18:34] gkhanna79 commented on #490
Is there a repro? If an ALC is instantiated and LoadFromPath attempted against it, it will attempt to return assembly only from the ALC instance.

[2015-12-14 18:43] yishaigalatzer commented on #354
We don't have an issue for it. However this does also break on some windows ci machines when you log in a service account it will try to write stuff to the windows directory.

I'm also not in 100% agreement about sharing the cache across different builds. Yes it works for the simple scenarios but not when you change feeds across builds and isolation is highly desired.

I'm not sure however what th

[2015-12-14 18:47] davidfowl commented on #490
I don't see any calls to my ALC, so it looks like the TPA is taking over (or something). How do I get tracing for this thing?

Here's my sample:

https://github.com/davidfowl/dotnetcli-aspnet5/tree/davidfowl/hot-reload/dynamic-reload

[2015-12-14 18:47] blackdwarf commented on #492
OK, reproed. Will take a look.

[2015-12-14 19:14] gkhanna79 commented on #490
@davidfowl LoadFromAssemblyName is implemented to call into the custom Load implementation provided by you. there is no TPA coming into the picture yet. You dont see Console.WriteLine in your Load implementation?

[2015-12-14 19:15] pakrym opened #494 "Flow project metadata to assembly"

[2015-12-14 19:25] #374 closed

[2015-12-14 19:26] davidfowl commented on #494
This is a dupe of https://github.com/dotnet/cli/issues/398

[2015-12-14 19:26] #494 closed

[2015-12-14 19:27] #185 closed

[2015-12-14 19:41] davidfowl opened #495 "Generate symbol packages from dotnet pack"
Today we're embedding the pdb in the main package. We should revert to the dnu behavior.

[2015-12-14 19:44] davidfowl commented on #471
https://github.com/dotnet/cli/commit/b25c2743ca2cbcb925756c37ff6bfd74396bc43b

[2015-12-14 19:44] #471 closed

[2015-12-14 19:57] schellap commented on #354
If you really need a location set from the env, why overload HOME which has a specific meaning? Why not have NUGET_HOME or NUGET_TEMP to be set if $HOME or %TEMP% is not available by default?

About the feed namespace not part of the cache lookup is a bug, though low-pri. I'd imagine someone wouldn't upload different packages with same version/name in different feeds. Just in case, the CI had the

[2015-12-14 20:19] yishaigalatzer commented on #354
It's not a bad idea to add NUGET_HOME or NUGET_TEMP as alternate, but we do need a default location and the default location is under the home folder at the moment.

[2015-12-14 21:22] gkhanna79 opened #496 "Enable Build/symbol indexing"
This is being used to track the work we discussed today.

CC @livarcocc @schellap @piotrpMSFT @Petermarcu @russellhadley

[2015-12-14 21:54] brthor commented on #488
@davidfowl Where else would we store this info where it's easily accessible to the user? Would they need to create the `runtime.config` themselves? How do we then know to publish that file with the app?

@schellap Would we still have a default state where these options don't need to be specified?

[2015-12-14 21:55] brthor commented on #481
@krwq What platforms are you seeing these breaks on?

From what I have seen it is Windows only.

[2015-12-14 23:16] gkhanna79 commented on #490
@davidfowl Please share a repro for this.

[2015-12-14 23:17] piotrpMSFT commented on #489
Andy, can you take a quick look and triage?

[2015-12-14 23:20] piotrpMSFT commented on #488
Yea, project.json is not intended for runtime consumption. It's the wrong artifact.

We need a design for a runtime / application config concept.

@blackdwarf can you take a stab at this?

[2015-12-14 23:22] piotrpMSFT commented on #486
@davidfowl, I agree on `run` but `compile is less clear.

How do we cross-compile if `compile` doesn't take a runtime?

[2015-12-14 23:22] schellap commented on #488
With CoreRT the runtime is both static and dynamic. So your solution (say, config file) should be available statically (to dotnet-compile-native) and also at runtime.

[2015-12-14 23:23] gkhanna79 commented on #488
@piotrpMSFT Can project.json allow one to declare the attributes (under a runtime section), which are then converted to a file (e.g. app.exe.config of sorts) that is published with the app (for both compile and publish scenarios).

Isnt project.json analogous to a VS project that contains similar information?

[2015-12-14 23:23] piotrpMSFT commented on #485
we'll be replacing the current restore mechanism all-up by Beta, so this should not be a problem soon.

[2015-12-14 23:25] piotrpMSFT commented on #481
@krwq can you open bugs for specific places where this occurs? This is not specific enough to go after.

[2015-12-14 23:25] #481 closed

[2015-12-14 23:26] piotrpMSFT commented on #478
Looks like this is a duplicate of #301. Please reopen if this is wrong.

[2015-12-14 23:26] #478 closed

[2015-12-14 23:27] piotrpMSFT commented on #477
Yes. Publish is meant to produce ship-ready bits --> release.

[2015-12-14 23:28] piotrpMSFT commented on #476
@krwq can you include the console output & env vars from the machine where this repros?

[2015-12-14 23:32] brthor commented on #477
@piotrpMSFT Is publish not thought to be part of the development lifecycle, where I assume you'd need Debug bits?

The disconnect in behavior from other tools feels like it could be confusing.

[2015-12-14 23:33] piotrpMSFT commented on #454
Do we have a bug tracking fixing crossgen? If not, can you create one, @Sridhar-MS ?

[2015-12-14 23:34] piotrpMSFT commented on #452
The RIDs are currently defined by https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json

[2015-12-14 23:35] piotrpMSFT commented on #450
1.0.0-12345
1.0.0-rel-12345
1.0.0-dev-12345
?

[2015-12-14 23:37] piotrpMSFT commented on #447
@MichaelSimons can you take a first crack at getting our RIDs in order for OS X?

[2015-12-14 23:38] piotrpMSFT commented on #443
We expect to be dropping script support, so putting this off for now.

[2015-12-14 23:42] piotrpMSFT commented on #442
looks like this is fixed. Can you close it out, @krwq? Also, please include PR number when closing.

[2015-12-14 23:44] piotrpMSFT commented on #432
@livarcocc is taking on all of our signing needs.

[2015-12-14 23:44] piotrpMSFT commented on #431
This is being handled by #383

[2015-12-14 23:44] #431 closed

[2015-12-14 23:46] piotrpMSFT commented on #428
Thanks for the suggestion @factormystic

@blackdwarf can you take a look at how this fits with our packaging goals?

[2015-12-14 23:48] piotrpMSFT commented on #427
@krwq this seems like it belongs in the nuget repo. Once your concerns are addressed there, let's bring back any integration that needs to happen in CLI to take advantage!

[2015-12-14 23:48] #427 closed

[2015-12-14 23:49] piotrpMSFT commented on #426
This is a duplicate of #488. Let's track this there!

[yes, I know the other is a dupe, but since it has more traction let's still use it :)]

[2015-12-14 23:49] #426 closed

[2015-12-14 23:49] piotrpMSFT commented on #423
Let's track this as #488.

[2015-12-14 23:49] #423 closed

[2015-12-14 23:51] piotrpMSFT commented on #415
@blackdwarf @richlander let's make sure we RTM with the right name :)

[2015-12-14 23:51] piotrpMSFT commented on #366
It looks like there are less warnings now.

[2015-12-14 23:51] #366 closed

[2015-12-14 23:54] piotrpMSFT opened #498 "Properly detect RIDs"

[2015-12-14 23:55] piotrpMSFT commented on #447
Tracking in #498

[2015-12-14 23:55] #447 closed

[2015-12-14 23:55] piotrpMSFT commented on #439
Tracking in #498

[2015-12-14 23:55] #439 closed

[2015-12-14 23:56] agocke commented on #489
@piotrpMSFT Yup, attempting to repro now.

[2015-12-14 23:56] joepeer commented on #490
I think I found out what was causing my error.  I think it has to do with this dependency

As soon as I add it to my project.json it now works.

Can't even figure from which repo this dependency is from...  I'm kinda lost.

This dependency is now mandatory?

Will subclassing AssemblyLoadContext will allow me to load native image by calling LoadFromNativeImagePath?

[2015-12-14 23:56] piotrpMSFT commented on #151
#498 tracks the OS X RID issue
@blackdwarf can you reopen if this still repros?

[2015-12-14 23:56] #151 closed

[2015-12-14 23:57] piotrpMSFT commented on #136
Can you take care of this as part of moving to new CLI Library?

[2015-12-14 23:58] piotrpMSFT commented on #136
#35 is the primary issue here.

[2015-12-14 23:58] #136 closed

[2015-12-14 23:58] piotrpMSFT commented on #134
@davidfowl @anurse is this issue up to date? Do we need it for Beta?

[2015-12-14 23:59] gkhanna79 commented on #490
That will pull in CoreCLR - it always was required except DNX used to pull it in behind the scenes.

@davidfowl can comment on details.

[2015-12-14 23:59] piotrpMSFT commented on #129
@blackdwarf can you validate?

[2015-12-15 00:09] livarcocc opened #500 "Authenticode signing and strong name signing"

[2015-12-15 00:09] blackdwarf commented on #496
Tracking code signing separately, #500.

Also moving to RC2.

[2015-12-15 00:15] livarcocc opened #501 "Design cross compile/publish for CLI"

[2015-12-15 00:15] blackdwarf commented on #486
Tracking this in #501.

[2015-12-15 00:15] #486 closed

[2015-12-15 00:16] blackdwarf commented on #476
@krwq can you please change your reference to the shared lib and validate if it repros still? If yes, please reopen.

[2015-12-15 00:16] #476 closed

[2015-12-15 00:19] blackdwarf commented on #464
@Antaris can you please provide more info on your repro:

* Which Windows version you are using?
* Dump of PATH and DOTNET_HOME env variables after MSI install
* Version of the MSI (displayed in the control panel uninstall programs)

[2015-12-15 00:22] blackdwarf commented on #463
Closing as external in the @brthor's linked issue. @krwq can you please create a new issue for the remaining three issues that are not related to Json.net?

[2015-12-15 00:22] #463 closed

[2015-12-15 00:23] livarcocc opened #502 "No errors that any packages are missing"

[2015-12-15 00:24] livarcocc commented on #502
#463

[2015-12-15 00:24] livarcocc opened #503 "unhandled exception (caused by missing dlls) during the runtime show completely random error message"
#463

[2015-12-15 00:24] livarcocc opened #504 "dotnet-run crashes when trying to display the error message"
#463

[2015-12-15 00:25] agocke commented on #489
I can't seem to repro this, but KevinR hit it as well. Not sure what the root cause is yet -- this is an extremely hot function in the lexer that gets a lot of coverage and hasn't been changed in a long time.

[2015-12-15 00:25] blackdwarf commented on #451
@anurse is this part of the corehost spec?

[2015-12-15 00:27] livarcocc commented on #503
@krwq Can you give us a more detailed repro for this?

[2015-12-15 00:29] blackdwarf commented on #432
Tracked in #500.

[2015-12-15 00:29] #432 closed

[2015-12-15 00:32] blackdwarf commented on #407
@anurse can you link the corefx issue here for tracking? Thanks!

[2015-12-15 00:35] andschwa opened #505 "dotnet-publish forgets System.Native.so on Ubuntu 14.04"
Clone https://github.com/andschwa/System.Native.so

Build with `./build.sh` on an Ubuntu 14.04 system.

While `dotnet-run` works, `dotnet-publish` forgets to include `System.Native.so`, and thus fails.

[code]

[2015-12-15 00:40] blackdwarf commented on #365
Closing out.

[2015-12-15 00:40] #365 closed

[2015-12-15 00:41] blackdwarf commented on #362
This work will be tracked by #460 so closing this issue.

[2015-12-15 00:41] #362 closed

[2015-12-15 00:44] livarcocc commented on #316
Needs changes in the CommandLine.

[2015-12-15 00:44] #316 closed

[2015-12-15 00:46] blackdwarf commented on #345
@victorhurdugaci this doesn't repro for me with the latest PKG on OS X El Capitan. Can you specify which OS are you seeing this on?

[2015-12-15 00:46] victorhurdugaci commented on #345
It was on Windows 10

[2015-12-15 00:47] blackdwarf commented on #325
This is going to be tracked via #492, so closing this one out.

[2015-12-15 00:47] #325 closed

[2015-12-15 00:49] blackdwarf commented on #305
This is a System.CommandLine issue, so it should be filed on dotnet/corefxlab. Closing this.

[2015-12-15 00:49] #305 closed

[2015-12-15 00:50] blackdwarf commented on #304
Tracked in #500. Closing.

[2015-12-15 00:50] #304 closed

[2015-12-15 00:54] blackdwarf commented on #291
@anurse is this the same as #498? Should we close this one?

[2015-12-15 00:57] pakrym commented on #398
https://github.com/dotnet/cli/commit/ab5b16c00c9c7dc930231eefeef056d3579d69c9

[2015-12-15 00:58] pakrym commented on #403
https://github.com/dotnet/cli/commit/93158dc1be5e84294fdc82f93e7ab79fe69cc506

[2015-12-15 00:58] #403 closed

[2015-12-15 01:02] blackdwarf commented on #226
@piotrpMSFT what is the status of this?

[2015-12-15 01:04] livarcocc opened #506 "Document install experience for Beta"
- Document the dependencies for the zip install.

[2015-12-15 01:05] blackdwarf commented on #195
@Sridhar-MS can you take a look at this and answer @piotrpMSFT question above? We will use #506 to track what is the intended experience for installing for Beta timeframe.

[2015-12-15 01:06] blackdwarf commented on #181
@Sridhar-MS can you verify and test?

[2015-12-15 01:07] gkhanna79 commented on #246
@blackdwarf Isnt this dup of https://github.com/dotnet/cli/issues/441?

[2015-12-15 01:07] blackdwarf commented on #165
Tracking this in #500 so closing it.

[2015-12-15 01:07] #165 closed

[2015-12-15 01:10] blackdwarf commented on #30
This is not needed, so closing.

[2015-12-15 01:10] #30 closed

[2015-12-15 01:12] blackdwarf commented on #127
Doesn't repro anymore, closing.

[2015-12-15 01:12] #127 closed

[2015-12-15 01:14] blackdwarf commented on #90
@davidfowl is this happening?

[2015-12-15 01:16] anurse commented on #291
Kinda. They both refer to the same problem: We need accurate RID detection. Neither really captures that fully. Maybe create a new bug with that and dupe these to that bug.

[2015-12-15 01:17] #71 closed

[2015-12-15 01:19] anurse commented on #451
Not currently. I'm not a huge fan of it as-is. My concern is that it assumes a lot about the layout of files or adds path information to the deps file, which are both things I'm not a big fan of :).

The tools in `DOTNET_HOME\bin` already have an embedded runtime, so they don't need to use `..\runtime\coreclr` to find it. Also, `dotnet run` ensures `DOTNET_HOME` is set properly before launching th

[2015-12-15 01:20] livarcocc commented on #19
@piotrpMSFT can we close this issue?

[2015-12-15 01:20] anurse commented on #407
This wasn't a corefx issue and the specific exception has been resolved. @andschwa are you still encountering an error using `dotnet test`?

[2015-12-15 01:21] anurse commented on #134
The embedded deps file one is definitely not needed for Beta. We still have a bunch of open questions and it's really just a nice optimization.

@davidfowl can comment on the other one (about passing the packages directory). I think it is still valuable.

[2015-12-15 01:22] anurse commented on #35
It seems we've been transitioning to System.CommandLine. Should we just get everything switched over and remove the DNX parser?

[2015-12-15 01:23] anurse commented on #498
FYI, I should be able to resolve this soon. I'm working on adding the necessary OS detection to our Platform Abstractions library: https://github.com/aspnet/PlatformAbstractions - That library will be able to generate accurate RIDs for the current OS.

[2015-12-15 01:24] anurse commented on #366
Still some though ;). Need stdlib! Stdlib all the things!

[2015-12-15 01:26] anurse commented on #444
What's the desired outcome here? Generally this only occurs when you try to use your build output to compile `dotnet-compile` again. In general, using your build output to modify itself isn't going to work :)

[2015-12-15 01:31] anurse commented on #488
True, project.json is analogous to `csproj`, but I should note that Runtime information isn't stored in `csproj` today ;). I don't really mind hugely either way, but I'd kinda rather define this "runtime configuration" file if we need it and just make it a source file that gets copied as is (and renamed possibly) rather than transcribing between two (potentially different) formats.

[2015-12-15 01:55] gkhanna79 commented on #195
Which specific tools need these, aside from the shared host?

CC @schellap

[2015-12-15 01:58] gkhanna79 commented on #488
It needs to be a structured format that needs to be documented for folks to take advantage of it. Lets wait to see @blackdwarf spec for it.

[2015-12-15 02:23] brthor opened #507 "Publish Hash for .deb packages published via download link"
This is part of the signing plan for debian packages.

[2015-12-15 02:24] andschwa commented on #407
Nada:

[code]

Using `dotnet` Ubuntu package version: 1.0.16779.1449740690-1

When I get some time, I'll try building from source and see if I can capture the error message it's trying to print another way (before it fails to print the error).

[2015-12-15 03:31] blackdwarf commented on #345
@victorhurdugaci just checked on a Win10 install as well, I get the following:

[code]

[2015-12-15 03:33] blackdwarf commented on #246
@gkhanna79 seems like it. Or rather, the other way around since this one was first. Closing it out then.

[2015-12-15 03:33] #246 closed

[2015-12-15 03:37] blackdwarf commented on #77
@dleeapho can we close this issue?

[2015-12-15 03:41] blackdwarf commented on #41
@Sridhar-MS can we close this issue?

[2015-12-15 04:38] davidfowl commented on #488
We may as well preserve the project.json at runtime instead of moving between formats

[2015-12-15 04:51] davidfowl commented on #35
Yes and fix the bugs in system.commandline

[2015-12-15 04:52] davidfowl commented on #90
It better

[2015-12-15 06:51] Eilon commented on #35
@davidfowl anything specific?

[2015-12-15 07:36] davidfowl commented on #398
@pakrym You're missing the TargetFrameworkAttribute

[2015-12-15 07:40] davidfowl commented on #35
Might just be a bug in run right now but you can't flow arguments to the application. i.e.

`dotnet run --blag` won't work

[2015-12-15 07:52] davidfowl commented on #490
@gkhanna79 I'm seeing everything fail to load when I call Load on my custom load context. I get a single call and return a file:

https://github.com/davidfowl/dotnetcli-aspnet5/blob/davidfowl/hot-reload/dynamic-reload/DynamicLoadContext.cs#L58

Then it just says this:

[code]

[2015-12-15 10:57] schellap commented on #488
@davidfowler, I agree with the json. We used xml on desktop. For Jan, can we have a simple file that can be parsed easily by native host?

[2015-12-15 15:19] MichaelSimons commented on #498
@anurse, Can you help me understand your vision for how the changes you mention in the aspnet Platform Abstractions library will be of use to CLI?  How can the code be shared or are you suggesting the code is copied between the two?

[2015-12-15 16:44] davidfowl commented on #488
Sounds fine to have the simple file but there's no point transforming the json into this file. Just put that file in the root of your project and have compile copy it to the output folder as is

[2015-12-15 16:52] gkhanna79 commented on #496
@blackdwarf Why are we moving this to RC2? Are we not planning to have a story to debug the Jan-Beta deliverables when they crash in the wild?

[2015-12-15 16:52] gkhanna79 commented on #500
CC @schellap @russellhadley

[2015-12-15 17:02] #41 closed

[2015-12-15 18:31] richlander commented on #439
This worked for me:

`dotnet restore --runtime osx.10.10.10-x64`

[2015-12-15 18:40] blackdwarf commented on #129
This still repros. The deps file is +X. However, since the core functions are still working, I will punt this to Feb milestone, since it is not a huge priority.

[2015-12-15 19:23] cdmihai opened #510 "Introduce new verb between compile and publish / Allow users to add functionality between verbs"
There's a set of build functionality which sits somewhere between compile and publish:
- the logic in the current post compile `place-binaries` scripts
- setting the right file permissions per OS per file
- sign?
- analyze?
- fxcop?

I suggest we introduce a new build verb between compile and publish that covers this responsibility (possible names: `deploy`, `post-build`, `pre-publish`).

A quick

[2015-12-15 19:39] piotrpMSFT commented on #496
Once there is a plan here I'm happy to move it back. Until we hear from @markwilkie on what needs to be done, though, we cannot execute on this. Worst-case, crashes can be investigated by cloning the repo and compiling from source.

When we understand the work let's try to pull this back in.

[2015-12-15 19:49] gkhanna79 commented on #496
@piotrpMSFT Please ensure you have guidelines published/shared about the tag to sync to for debugging the failures.

[2015-12-15 19:54] piotrpMSFT commented on #496
makes sense. I'd really like to get this done properly, of course, so I'm looking forward to hearing from @markwilkie

[2015-12-15 20:00] blackdwarf opened #511 "dotnet update"
We need to discuss whether having a command to update the CLI tooling to the latest stable/unstable version is useful.

Relies on information from #506 somewhat.

[2015-12-15 20:00] blackdwarf commented on #511
/cc @richlander @gkhanna79 @piotrpMSFT

[2015-12-15 20:13] gkhanna79 commented on #498
@anurse If a library is marked for osx.10.10 and I am publishing the package on osx.10.x, where x>=10, will your solution work? I hope we are not going to be in situation where folks cannot perform repo builds because we cannot publish packages on OS versions higher than what libraries are marked for.

[2015-12-15 20:13] gkhanna79 commented on #498
Cc @davidfowl what are your thoughts?

[2015-12-15 20:24] gkhanna79 commented on #439
@richlander That didnt work for me on OSX 10.11. The thing that actually works is that I specify "--runtime osx.10.11-x64".

[2015-12-15 20:24] MichaelSimons commented on #498
@gkhanna79, My understanding is that this issue is regarding the logic that auto detects the RID of the current machine.  In talking with piotrpMSFT, our current goal is that CLI will explicitly declare support for the the platforms that it can run on.  When it is running on a supported platform, it should be able to target other platforms even if those platforms weren't supported at the time the

[2015-12-15 20:35] anurse commented on #498
The Platform Abstractions library, despite the repo name, is not an ASP.NET library, it is a purely standalone library that P/Invokes the necessary things to discover the OS version. The dotnet-cli will use this library to determine a sane default RID.

@gkhanna79 Yes, as with all other RIDs, we do walk down the graph through older versions to find compatible packages.

[2015-12-15 20:44] gkhanna79 opened #513 "dotnet restore multiple bugs"
Bug #1: It says it is dnu restore!
Bug #2: Why does publish support "-r" as shortcut for "--runtime" but not restore?

  Usage: dnu restore [arguments] [options]

  Arguments:
    [root]  List of projects and project folders to restore. Each value can be: a path to a project.json or global.json file, or a folder to recursively search for project.json files.

  Options:
    -s|--source <FEED>

[2015-12-15 20:46] brthor commented on #513
Using dnu as our restore mechanism is a point in time artifact until nuget x-plat comes along.
My understanding is that this is coming for Beta.

See #421

cc @piotrpMSFT

[2015-12-15 20:46] anurse commented on #488
Given how this file is growing in complexity (with good reason), I'm leaning towards just saying there is one file, it contains all the dependencies (deps file) and config, and it is in a well-known format like JSON. It means we have to parse JSON in the native host, but at least then we aren't inventing some weird format that no-one else understands. Just like we used XML in the desktop framework

[2015-12-15 20:49] gkhanna79 commented on #498
@anurse Thanks for the explanation. Are we planning to move this library to the CLI repo?

[2015-12-15 21:49] piotrpMSFT commented on #513
yep, point in time. xplat nugget is not yet available so this is the stopgap. @gkhanna79 can you open a bug in the NuGet repo to track option naming consistency and close this one out with a pointer to it?

[2015-12-15 21:51] anurse commented on #498
Not sure what the plans are yet. It's part of the `Microsoft.Extensions` namespace so it'll probably be among things like https://github.com/aspnet/Configuration, https://github.com/aspnet/Logging, etc.

It doesn't have to be in the CLI repo for the CLI to use it, so we just need to find a final home for these things. Ideally, these would all be CoreFX APIs anyway (the PlatformAbstractions library

[2015-12-15 21:52] piotrpMSFT opened #514 "dotnet-compile does not escape description text"
Consider this project.json:
[code]
the rsp file produced by dotnet-compile will include:
[code]
while it should include
[code]

[2015-12-15 21:58] piotrpMSFT commented on #514
@pakrym this issue only started occurring today. I think it might be associated with the work you're doing in the compile verb recently. Can you take a look?

[2015-12-15 22:04] prafullbhosale opened #515 "dotnet-scaffold command"
<h2>dotnet-scaffold</h2>
<h5>NAME</h5>
dotnet-scaffold -- Code Generation tools for .Net framework
<h5>SYNOPSIS</h5>
dotnet-scaffold <generator-name> [options] [generator specific options]
<h5>DESCRIPTION</h5>
The dotnet-scaffold command is used to scaffold code for your application. Scaffolded code is generated by code generators.  The code generators are specified as dependencies in the applicat

[2015-12-15 22:43] davidfowl commented on #513
Better to file individual bugs. We should treat this like a question and file real bugs and assign to devs

[2015-12-15 22:56] anurse commented on #407
The error in this case is almost always that dotnet-test is trying to invoke something and it can't find the executable. Maybe you don't have `dotnet-test-xunit`? /cc @piotrpMSFT

[2015-12-15 23:48] gkhanna79 opened #518 "dotnet restore does not support "-r""
dotnet publish supports "-r" as shortcut for "--runtime" but dotnet restore does not but should.

[2015-12-15 23:48] gkhanna79 commented on #513
Filed as https://github.com/dotnet/cli/issues/518

[2015-12-15 23:48] #513 closed

[2015-12-16 00:21] Sridhar-MS opened #519 "Follow up on the breaking changes in the debian package"
This is due to breaking changes in the version numbers - https://github.com/dotnet/cli/commit/bd6519d665404e1810eaae2d557722b77898d1a4.

[2015-12-16 00:31] Sridhar-MS opened #520 "Document the acquisition experience of tarballs/zip files"
Should we be using something like https://github.com/dotnet/cli/blob/master/scripts/install.sh?

[2015-12-16 01:43] brthor commented on #520
Currently we use this install script in our own build to install stage 0.

#375 is tracking the inconsistencies between that script and the deb/pkg installations.

Are there changes we need to make besides ironing out those inconsistencies?

[2015-12-16 01:50] brthor commented on #402
Thanks @weshaggard

Do you know the status of this TFM transition or who I could follow up with?

[2015-12-16 02:57] brthor commented on #518
Dotnet restore is just a wrapper for dnu and eventually nuget.

Changes to include -r would need to happen there. Should this be filed there?

[2015-12-16 03:45] krwq commented on #450
what would be the difference between the rel and no-rel?

[2015-12-16 03:46] krwq commented on #442
https://github.com/dotnet/cli/pull/449

[2015-12-16 03:46] #442 closed

[2015-12-16 05:23] gkhanna79 commented on #518
This issue is to track mismatch in the current experience. We spent sometime figuring this out in order to address a build break in CoreRT due to issues with restoration of packages on OSX 10.11.

Are you suggesting the actual bug is in DNU/Nuget? If so, feel free to forward the bug ahead.

[2015-12-16 06:49] Petermarcu commented on #402
@ericstj who is working with the NuGet team to get support added for the netstandard tfm's. Once NuGet supports them we can move a bunch of the rest of the system to it. For now, I think we can use the dotnet?? tfm's plus the aot RID to get these assets.

[2015-12-16 15:41] MichaelSimons commented on #498
dotnet/corefx#4741 may add some of the functionality in CoreFX provided by PlatformAbstractions.

[2015-12-16 17:02] #514 closed

[2015-12-16 17:04] ericstj commented on #402
Nuget work is being tracked in https://github.com/NuGet/Home/issues/1691. @davidfowl enumerated the work here: https://github.com/dotnet/corefx/issues/4367

Until that is done you can use "dotnetX.Y".  We'll need to do a mop up when the name change happens, but I expect NuGet to support both for some time to aide in transition.

[2015-12-16 17:50] cdmihai opened #523 "Command.Create should not transitively depend on hard coded paths"
The resolution of commands depend on Directory.GetCurrentDirectory() and AppContext.BaseDirectory(). This introduces an implicit dependency between command resolution and the process that requests it (basedirectory) and the root process that spawned everything (getcurrentdirectory).

Instead, these strings should be variables resolved / injected at runtime.

This change enables:
- decoupling comma

[2015-12-16 18:57] anurse commented on #498
As long as we get Distro name and version, it could be enough.

[2015-12-16 19:11] pakrym commented on #398
https://github.com/dotnet/cli/pull/509/files

[2015-12-16 19:11] #398 closed

[2015-12-16 19:12] pakrym commented on #495
https://github.com/dotnet/cli/pull/499

[2015-12-16 19:12] #495 closed

[2015-12-16 19:22] andschwa commented on #407
You're right, I don't have `dotnet-test-xunit`. Am I missing a package, what dependencies do I need for this?

[2015-12-16 20:05] andschwa commented on #505
@piotrpMSFT @anurse Any clue on this? It's quite annoying to have to manually deploy (yet another) patch to my publish folder. Or is there an alternative to `dotnet-publish` that will give me a flat list of all my dependencies?

[2015-12-16 20:07] andschwa commented on #511
Since `dotnet` already deploys distribution packages, as a user, personally, I prefer to update via the package manager, and would find it confusing to override the program installed from a package with a self-update command.

[2015-12-16 20:11] andschwa commented on #490
I've also recently had issues with `LoadFromPath`, which fails with a similar exception you see @davidfowl, and `LoadFromAssemblyName` simply seg-faults. This is using a custom `AssemblyLoadContext` with the latest `dotnet-core` MyGet feed packages (yesterday) on Ubuntu 14.04.

What's more, I have a custom native host as well, which might help to rule out some potential causes.

[2015-12-16 20:12] andschwa commented on #491
I reported this a week ago in #435:

I don't think this is getting fixed.

[2015-12-16 20:22] ochowie commented on #291
@anurse Will this fix the issue on Ubuntu 15.04. I can confirm that the temporary fix @adrian17 proposed works but it's really not a sustainable solution.

[2015-12-16 20:59] Sridhar-MS opened #525 "Publish fails when the output folder passed as argument has spaces"
Specify --help for a list of available options and commands.
Microsoft.Dnx.Runtime.Common.CommandLine.CommandParsingException: Unrecognized command or argument 'with'
   at Microsoft.Dnx.Runtime.Common.CommandLine.CommandLineApplication.HandleUnexpectedArg(CommandLineApplication command, String[] args, Int32 index, String argTypeName)
   at Microsoft.Dnx.Runtime.Common.CommandLine.CommandLineAppli

[2015-12-16 21:45] andschwa commented on #505
The package [`runtime.ubuntu.14.04-x64.runtime.native.system`](https://www.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.14.04-x64.runtime.native.System) pulls in the `System.Native.so` that I need to use, but I can't find the correct package to depend on that would depend on this in a platform-agnostic way. `Microsoft.NETCore.Runtime.Native` didn't do it.

For what it's worth, by direct

[2015-12-16 21:46] andschwa commented on #405
I ran into this in #505. It would appear that the shim I need is at least published in `runtime.ubuntu.14.04-x64.runtime.native.system`, but I can't depend directly on that long-term.

[2015-12-16 21:46] #505 closed

[2015-12-16 22:01] jeremymeng opened #526 "dotnet-compile should not copy unnecessary files to the output directory"
I happened to have some huge files under the project root directory and found that after `dotnet compile` they are copied to the output directory. For example, I did not expected `.xproj.user` and `.etl` files in the screenshot to be copied.

![image](https://cloud.githubusercontent.com/assets/7583839/11855104/0c4fa292-a3fd-11e5-89ae-0efd50b6e763.png)

[2015-12-16 22:03] andschwa commented on #408
This is indeed fixed with the latest package.

[2015-12-16 22:17] brthor commented on #405
@andschwa This issue is tracking publishing the native shims in static library format. This is separate from the issue in #505

[2015-12-16 22:34] andschwa commented on #505
Thanks @brthor: this is better solved by depending on `"NETStandard.Library": "1.0.0-rc2-23616"` (which should pull in, but doesn't: `"Microsoft.NETCore.Platforms": "1.0.1-rc2-23616"`).

[2015-12-16 22:59] brthor opened #527 "dotnet-compile-native ILC Ryujit Mode breaking on Ubuntu"
See PR #497

Workaround was to skip the test for the time being. When this is resolved, need to remove test skip.

[2015-12-16 23:06] blackdwarf opened #528 "The lastest bits for Windows in the .zip file are outdated"
Repro steps:

1. Download the `install.ps1` file from
2. Run it
3. Run `dotnet new`

Expected: a `Program.cs` and a `project.json` in the current directory.

Actual: 'dotnet-new' is not recognized as an internal or external command, operable program or batch file.

[2015-12-16 23:07] anurse commented on #291
It should

[2015-12-16 23:27] brthor opened #529 "Ubuntu/Mac build breaks with spaces in the path"
Easy to Repro:

[code]

Output on Ubuntu 14.04:
[code]

[2015-12-16 23:30] brthor commented on #529
This is causing some CI instability in mac builds. So scheduling for Jan

@Sridhar-MS

[2015-12-16 23:32] brthor commented on #528
Is `dotnet init` in that zip?

[2015-12-16 23:33] cdmihai commented on #354
We also encountered this issue with MSBuild: https://github.com/Microsoft/msbuild/pull/404

Our quick workaround was to set HOME if not set :)

[2015-12-16 23:34] brthor commented on #335
@blackdwarf
This is breaking `dotnet compile --native` default  experience on Windows, should we move this for Jan?

[2015-12-16 23:39] Sridhar-MS commented on #528
@blackdwarf When did you try this? I fixed some issues in CI to push the latest builds on windows today morning. And I also see the latest zip in the blob storage.

[2015-12-16 23:54] schellap commented on #335
@brthor, right now we have the capability to produce debug/release bits right?

[2015-12-17 00:00] gkhanna79 commented on #335
Supporting Debug and Release configurations for the app should still link against release versions of the CRT/CoreRT/Supporting libraries. There should not be a need to link against the debug versions of those - @schellap please let me know if I am missing something.

That said, @brthor, Debug or Release configuration of an app will differ in terms of what preprocessor defines are passed during th

[2015-12-17 00:03] Sridhar-MS commented on #528
Verified that the latest zip file does indeed have dotnet-new in it.

[2015-12-17 00:10] anurse commented on #450
Some SemVer quirks to be aware of (we hit some of these in ASP.NET ;)):

* `1.0.5-foo` is considered **older** than `1.0.5-foo-1234`
* The part after `-` is compared/sorted as a simple string, so make sure you zero-pad any numbers (i.e. `1.0.0-dev-00001` not `1.0.0-dev-1`. It also means that once you have `1.0.0-beta-something` you can't really decide later to have `1.0.0-alpha-something` because

[2015-12-17 00:18] anurse opened #531 "Probe for DOTNET_REFERENCE_ASSEMBLIES_PATH on Mono"
Right now, to build for `net451` on non-Windows, you have to set `DOTNET_REFERENCE_ASSEMBLIES_PATH` to a folder containing the Mono reference assemblies. We should support scanning a few default locations for this.

/cc @victorhurdugaci @davidfowl

[2015-12-17 00:22] blackdwarf commented on #528
@Sridhar-MS weird, I tried it 1-2hrs ago. I used the install.ps1 script, so could it be that it is pointing to the wrong location?

[2015-12-17 01:19] brthor commented on #335
@gkhanna79 Looks like defines and optimizations are already set up here based on passed in configuration (default Debug)
https://github.com/dotnet/cli/blob/master/src/Microsoft.DotNet.ProjectModel/ProjectReader.cs#L357

@schellap RyuJit can produce both, yes. Cpp mode is breaking on debug mode with this error:
C:\Users\brthor\code\testnative\bin\Debug\dnxcore50\native\testnative.exe : fatal error

[2015-12-17 01:23] schellap commented on #335
@gkhanna79, No. @brthor, debug version of the app native exe should be produced linking with runtime libraries from SDK.Debug (contains msvcrtd.lib references) and msvcrtd.lib

[2015-12-17 01:26] gkhanna79 commented on #335
@schellap Why should debug version of the app link against debug version of the runtime?

[2015-12-17 01:30] brthor commented on #335
@schellap  This is what I understood from our previous conversations :smile:

[2015-12-17 01:38] gkhanna79 commented on #405
@brthor The shim plan should account for both the static and dynamic versions of the shim libraries.

[2015-12-17 01:39] schellap commented on #335
@gkhanna79, I see the disconnect. There is a distinction that needs to be made for --ilcpath and when not specified.

For the app compilation scenario, we could always use MSVCRT.LIB and Runtime libs from ILCompiler.SDK. This is a policy decision whether we want to use ILCompiler.SDK.Debug for app compilation.

If --ilcpath is specified, we need to use MSVCRTD for Debug outputs and MSVCRT for Rele

[2015-12-17 01:45] gkhanna79 commented on #335
Lets chat tomorrow - for app compile, I believe we should always use the release version of the libraries since building an app in Release/Debug shouldnt be connected to debug/release version of toolchain/libraries.

I dont follow - can you please elaborate?

[2015-12-17 01:46] schellap commented on #335
If --ilcpath is specified, then our runtime libs from build is either Debug or Release containing corresponding CRT references. @brthor, I think your work will be quite minimal here.

[2015-12-17 01:52] schellap commented on #335
@gkhanna79, what does it mean for the app to be compiled in debug mode for CPP CodeGen?

[2015-12-17 01:59] cdmihai opened #532 "Extract Build verb from Compile"
Compile is having two main responsibilities (happy paths):
1. find dependencies and decide which of them to compile
2. know how to invoke the bytecode and the native compiler for a project

In preparing for incremental compilation we need to separate responsibility 1. into a new verb, `Build`.
Eventually, Build needs to also:
- compute incrementality safety checks for the whole dependency tree bef

[2015-12-17 02:01] gkhanna79 commented on #335
By default, it should be the same experience as JIT - the app specific debug configuration defines get passed to the C++ compiler but the executable is linked against release version of the binaries.

To link against debug libraries should be an explicit opt-in by the developer and not coupled with the configuration knobs used to indicate app's debug configuration (since any asserts coming out of

[2015-12-17 02:49] nathanboktae opened #533 "Homebrew formula"
I would love to install .NET via homebrew. Any plans to maintain a brew formula? I think the majority of Mac developers work this way.

[2015-12-17 03:13] davidfowl commented on #526
Yes we should fix this. We need to implement nuget v3 contest do that we have a replacement

[2015-12-17 04:15] #492 closed

[2015-12-17 04:16] blackdwarf commented on #533
@nathanboktae yep, we are working on that, hopefully I will have a PR for the formula this week or early next week. :)

[2015-12-17 04:58] piotrpMSFT commented on #528
Did you run in powershell or CMU? The ps1 does not update cmd's path when run with @powershell

[2015-12-17 05:05] blackdwarf commented on #528
Powershell.

[2015-12-17 06:30] davidfowl commented on #531
@anurse If you could expand the probing paths then we can just implement this. ASAP

[2015-12-17 07:49] davidfowl commented on #510
This is what scripts are for. How would this verb work?

[2015-12-17 07:50] davidfowl commented on #526
BTW you can exclude these in the exclude section :smile:

[2015-12-17 09:03] Antaris commented on #464
@blackdwarf Sorry for late reply, here's some info:

Windows Version

Path

Version

[2015-12-17 12:29] hunter-xue opened #535 "Unable to locate Dependency NETStandard.Library >= 1.0.0-rc2-23616"
On MAC OS X, I use "dotnet new" to create a new project, but get error when execute "dotnet restore".

[2015-12-17 15:13] tuespetre commented on #415
I think `dotnet` is just fine, but I don't see any existing command called `dn` out there for Windows or Star-nix, either.

[2015-12-17 15:42] gkhanna79 commented on #406
@brthor I would not expect upstack 3rd party libraries to have anything AOT specific unless there is a good reason for them to have one. Most of the upstack (1st and 3rd party) should be the general purpose netfcore TFM libs.

CC @weshaggard

[2015-12-17 17:07] weshaggard commented on #406
@gkhanna79 While I agree with you in general I do think there will likely be cases where upstack libraries will need to make this distinction. Particularly ones that generally rely on Ref.Emit and have to do something different for the aot case.

[2015-12-17 17:33] enricosada opened #539 "add command 'dotnet-compile-fsc'"
The project.json has the compilerName property, so i think the idea is to add "fsc" => `dotnet-compile-fsc`

F# is in priority P1, so i want to help with that

i think was easier to do #538 as a starting point of discussion

ref #586

[2015-12-17 17:47] gkhanna79 commented on #406
@weshaggard Can you please elaborate on the nature of things they have to do differently?

[2015-12-17 17:58] anurse commented on #531
Yeah, I should be able to do this before the holidays.

[2015-12-17 18:46] anurse opened #540 "Copy resource assemblies when copying dependencies to output"
When we copy dependencies to the output directory (in `dotnet-compile`, we copy proj-proj dependencies, in `dotnet-publish` we copy all dependencies), we should copy resource assemblies and lay them out properly. For example:

[code]

(Not a Beta priority, also pretty straightforward, all the necessary data is in the lock file already /cc @muratg @piotrpMSFT for scheduling)

[2015-12-17 18:49] anurse commented on #540
(Note, this is related to #467 but different. That bug is about putting resource information for **packages** into the deps file)

[2015-12-17 19:31] brthor commented on #460
Resolved through #487

[2015-12-17 19:33] brthor opened #541 "Make Project Validation Failures fail the build in Stable/Release Branch"
For the Project Dependency Validation changes made as part of #460...

Currently failures are treated as warnings, and the checks to fail the build are commented out.

When we create a stable/release branch of the cli, let's make sure these checks fail the build there.

[2015-12-17 19:35] #460 closed

[2015-12-17 19:49] brthor commented on #533
:+1:

[2015-12-17 19:51] livarcocc commented on #533
:+1:

[2015-12-17 19:55] brthor commented on #535
I think this may be due to the recent upgrade in #497 and the fact that this rc2 package doesn't exist in the default package source.

@hunter-xue if you do `dotnet restore -s https://myget.org/f/dotnet-core` do you see the same issue?

@blackdwarf @krwq
What libraries do you think should be referenced by default in the `dotnet new` template?

[2015-12-17 20:07] nathanboktae commented on #533
Great! Looking forward to it! :beers:

[2015-12-17 20:18] cdmihai commented on #510
I think the problem needs to be split in 2:
- functionality that absolutely has to be there and CLI should be implement it in c#, within the new `deploy` verb (or maybe even a `PostRestore` verb)
 - e.g. copying compiler output, setting the right permissions per OS, etc
- arbitrary functionality that users want to run after the compilation phase. These represent extension points into the CLI and w

[2015-12-17 21:33] agocke commented on #489
This appears to have been resolved by upgrading the compiler binaries. @am11 Can you still repro if you pull master?

[2015-12-17 22:40] weshaggard commented on #406
An example are libraries like System.Linq.Expressions where when they have Reflection.Emit they will use it but in the AOT case they cannot they have to do interpretation instead of runtime codegen. There are other 3rd party libraries in the ecosystem that will need to do something similar.

[2015-12-17 22:44] hunter-xue commented on #535
"dotnet restore -s https://myget.org/f/dotnet-core" is working for me, but "dotnet run" still get error below:
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

[2015-12-17 22:46] gkhanna79 commented on #246
Resolved with https://github.com/dotnet/cli/pull/413

[2015-12-17 22:47] gkhanna79 commented on #441
RyuJIT supported added via https://github.com/dotnet/cli/pull/413

[2015-12-17 23:35] blackdwarf commented on #535
@hunter-xue which version of OS X? El Capitan?

[2015-12-18 01:05] piotrpMSFT commented on #260
Was on a plane. Had to work offline. Fixed the issue [on Windows]. @brthor, can you port this to Linux?

[2015-12-18 01:09] blackdwarf commented on #532
@cdmihai we still need to define what this command does all-up. Can you add also a Readme.md that is tailored as with the rest of the commands in the repo that outlines this?

[2015-12-18 01:27] brthor commented on #260
Working on it

[2015-12-18 01:33] cdmihai commented on #532
Sure. I'll edit the readme and add it to the PR.

In short, given a root project, Build expands it into a graph of projects (root project + dependencies) and then compiles that graph either incrementally or non incrementally. For each node in the graph, Build invokes Compile to compile that node. Compile is then responsible for knowing how to setup and call the compiler.

For users, the difference

[2015-12-18 01:42] dannyvv commented on #532
Agreed we should have. I'm okay if that happens succinctly on a future pull request. Since lots of folks are blocked on this I wouldn't hold off the PR

[2015-12-18 01:49] brthor commented on #529
Plumbed through this today. Basically needed quotes everywhere.

The solution is blocked on #525

[2015-12-18 01:58] blackdwarf commented on #532
For sure, no need to block the pr on this. Just for tracking.

[2015-12-18 02:05] Sridhar-MS commented on #529
Is it possible to submit a partial PR for the build scripts alone? We can fix #525 independently.

[2015-12-18 02:15] brthor commented on #529
Yes, will do. It's hard to verify if there are further issues past where #525 is breaking though. So I would leave this issue open until #525 is closed.

[2015-12-18 02:21] brthor commented on #525
Ran into this today resolving #529

I think this is happening because when args are passed into a program `string[] args`, quoted parameters will be treated as one item in this array but with outer quotes stripped. These args then get forwarded by the driver to `dotnet publish` without the outer quotes, and are treated as separate args.

[2015-12-18 02:36] brthor commented on #529
@Sridhar-MS see #545

[2015-12-18 06:55] sinclairzx81 commented on #535
Hi there,

I note this issue isn't isolated to OSX, I have had the same problem on Windows with the current published MSI from https://dotnet.github.io/getting-started/. Its worth noting that I have installed several versions of the dotnet CLI over the past few weeks, so its possible the default endpoint had been configured from some from a previous version, or the ```NETStandard.Library``` simply

[2015-12-18 07:23] am11 commented on #489
@agocke, indeed it is resolved. I re-cloned the repo, ran `./build.cmd` in PS and it succeeded. Thank you very much! :trophy:

[2015-12-18 07:23] #489 closed

[2015-12-18 08:01] sqeezy commented on #535
Thanks for the workarround. It's really hard to get used to the fact that one should look up his issue in github when its dotnet related. I'm so glad though... :smiley:

[2015-12-18 14:35] teodimache opened #546 "dotnet-publish --runtime RID always uses host os corehost"
Hi,

I'm on a Windows 8.1 machine and trying to publish for osx.10. I've installed the latest dotnet tools via dotnet-win-x64.latest.msi.
When running dotnet-publish --framework dnxcore50 --runtime osx.10.10-x64 it runs fine, i get a dnxcore50\osx.10.10-x64\ folder with all the dll's and dylib as expected and a AppName.exe file. And as you probably guessed the exe file is just the windows corehost

[2015-12-18 15:53] muratg opened #547 "Versioning Questions"
_From @Fosol on December 4, 2015 15:26_

I used to use MsBuild.Community.Tasks to automate versioning.  It doesn't appear to work anymore.  Is this because the move to project.json?

I noticed that in new projects (since update 1) that Class Libraries now include an AssemblyInfo.cs.  How does this work along side the project.json file?  Is there a connection?

I'm missing the connection between Cl

[2015-12-18 15:53] muratg commented on #547
_From @davidfowl on December 5, 2015 17:43_

Yes. I assume you're hooking an msbuild event that no longer exists? What does the task do and when does it run?

Just like it used to work. If you use an AssemblyInfo file with attributes, those will be used instead of the `project.json` information.

You can think of the project.json as a nuspec.

[2015-12-18 15:53] muratg commented on #547
_From @Fosol on December 7, 2015 18:36_

I have a number of custom tasks.
One of them is supposed to automate versioning prebuild, but it no longer works with the new project.json files.

Another after build copies the nugget packages to a local share so our internal NuGet Package server has access to it.

Another aftercleanup does additional cleaning.

At some point I'll add DNX commands to the l

[2015-12-18 15:53] muratg opened #548 "resx resources get embedded with the wrong resource identifier if the project's default namespace differs from the project name"
_From @oliverw on December 1, 2015 9:27_

The compiler currently embeds resx resources with the wrong resource identifier if the project's default namespace differs from the project name.

**Scenario:**

- Project Name: `ConsoleApp1`
- Default Namespace: `ConsoleApp`
- Resource Name: `Resource.resx`

**Expected behavior:**

The resource would be embedded as `ConsoleApp.Resource.resources`

**Actua

[2015-12-18 15:54] muratg opened #549 "Getting the version (patch) incremented prior to build/publish"
_From @GuardRex on November 26, 2015 20:39_

The version that matches what we'll see in VS published output matches the version in `project.json`, so starting with ...
[code]
... will lead to folder named `1.0.9` in `<output_folder>/approot/packages/<project_package>`.

If I establish a PS script that would modify the `project.json` version and run that script in `prepare` or `build` ...
[code]
..

[2015-12-18 15:54] muratg commented on #549
_From @GuardRex on December 18, 2015 1:28_

In case anyone is looking for it, my (crappy) version updater is here ... https://github.com/GuardRex/net5-autoupdate-version ... just don't get your hopes up too much. It's a bit of a stinker. :poop:

[2015-12-18 15:54] muratg opened #550 "Localized resources from CSProj PCL P2P ref not resolved from XPROJ"
_From @onovotny on November 22, 2015 19:10_

I am in the middle of trying to get Humanizer tested under DNX. Humanizer is a regular PCL/Profile 259 as a CSPROJ. It has a ResX file with about 39 localized versions, so it generates about 39 `<locale>\Humanizer.resources.dll` files alongside its main library dll.

In the process, I created a DNX test library for Humanizer and added a reference to Hum

[2015-12-18 15:54] muratg commented on #550
_From @davidfowl on November 23, 2015 6:47_

/cc @kirthik

[2015-12-18 15:54] muratg commented on #550
_From @onovotny on November 23, 2015 13:13_

So I can confirm that when I switch to a NuGet reference to the same version of the Humanizer package, the tests execute correctly. This appears to be a local P2P issue.

[2015-12-18 15:54] muratg commented on #550
_From @kirthik on November 23, 2015 18:45_

Yes this is a bug. Its a dupe of - https://github.com/aspnet/dnx/issues/3047

[2015-12-18 15:55] muratg opened #551 "project.json's version property should be extensible"
_From @AArnott on November 18, 2015 0:1_

We want the libraries and packages we build with DNX to be stamped with a version as unique as the source code. And we want semver to roughly understand (assuming linear versioning) how to pick newer packages from older ones *independent of a particular build server*. We want reproducible builds, such that if I build a commit locally or in the cloud, the r

[2015-12-18 15:55] muratg commented on #551
_From @davidfowl on November 24, 2015 7:5_

You could just use assembly attributes for this. Specifically `[AssemblyMetadata]`

[2015-12-18 15:55] muratg commented on #551
_From @AArnott on November 24, 2015 16:22_

I don't think that resolves the issue. The values for these assembly metadata need to be computed at build time, and DNX (AFAIK) doesn't offer me a way to hook into that pipeline.
Also, that doesn't address the NuGet package version.

[2015-12-18 15:55] muratg commented on #551
_From @GuardRex on November 24, 2015 17:10_

@AArnott You can script your way to a new version for each publish operation. You can run a PS script on "prepare" and provide whatever versioning logic you want. I needed a new patch version for each publish, so I whipped this up: https://github.com/GuardRex/net5-autoupdate-version

[2015-12-18 15:55] muratg commented on #551
_From @AArnott on November 24, 2015 17:44_

Thanks, @GuardRex. But that requires a source code change to impact the build. Then to ensure the number keeps incrementing you have to check in the change. What I'm looking for is automation that can control the version *without* changing source code every time I build or publish.
And I want build and publish to be effectively the same thing. Every time

[2015-12-18 15:55] muratg opened #552 "dnu pack should pass developmentDependency from project.json into the .nuspec file"
_From @bradwilson on November 14, 2015 19:50_

The DNX runner (among other things) should be considered a development dependency in NuGet terms. This is a valid value in the .nuspec file as of NuGet 2.8, but project.json doesn't seem to respect it or pass it through into the generated .nuspec file.

Related: xunit/xunit#667

_Copied from original issue: aspnet/dnx#3172_

[2015-12-18 15:55] muratg commented on #552
_From @bradwilson on November 14, 2015 19:51_

Example: https://github.com/xunit/dnx.xunit/commit/bbafa29c1ef39d1c8d7174613c4cf2163b7b30dd

[2015-12-18 15:55] muratg commented on #552
_From @davidfowl on November 14, 2015 21:43_

While I agree this should be supported (in some form), why would you need it? Who is using the dnx xunit package in this way?

[2015-12-18 15:55] muratg commented on #552
_From @bradwilson on November 15, 2015 2:16_

I was doing it for completeness (marking all the runners with this flag) at the request of a user.

[2015-12-18 15:55] muratg commented on #552
_From @davidfowl on November 15, 2015 16:31_

That's what I thought 😀

[2015-12-18 15:55] muratg commented on #552
@davidfowl I hear pack is moving to nuget, not CLI.  Will talk to @yishaigalatzer later.

[2015-12-18 16:02] muratg opened #553 "Changing LibraryDependencyType in project.json is not working as expected"
_From @reliak on November 12, 2015 11:55_

I'm trying to achieve something similar to `devDependencies` in NPM (https://docs.npmjs.com/files/package.json#devdependencies).
In project.json I'm setting the LibraryDependencyType of a dependency as follows:
[code]
The above dependency is only defined in project.json, but not used anywhere in the code of the program.
By setting the type to `build` I ex

[2015-12-18 16:02] muratg commented on #553
_From @davidfowl on November 12, 2015 12:5_

If you have a dependency of type build and you do dnu pack, the package produced will not have that dependency. That's all the build flag does.

[2015-12-18 16:02] muratg commented on #553
_From @reliak on November 12, 2015 12:15_

Ok, thanks. But what if I want to use a dependency just for preprocessing as part of the build process?
If it is specified in project.json, it will also be published. Is there a way to use a dependency only in development and ignore it otherwise?

I elaborate my use case a bit. Lets say I have a package that I want to call before every build. Then I would

[2015-12-18 16:02] muratg commented on #553
_From @moozzyk on November 12, 2015 17:56_

@reliak - you may want to take a look at what we do in the [Kestrel](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/project.json#L73-L81) repo

[2015-12-18 16:02] muratg commented on #553
_From @reliak on November 12, 2015 20:57_

@moozzyk Thanks for the link to the repo.

However, as far as I can tell, the code does not use any dependencies within the scripts block. It only calls `dnx` to a relative project path.

Maybe there is another way for what I'm trying to do, but again, this is my problem:
1. I want to execute some code from a library (e.g. a package from NuGet) in pre- or

[2015-12-18 16:02] muratg commented on #553
_From @moozzyk on November 14, 2015 1:2_

@reliak - if you look at Kestrel you will see that libuv is a [build dependency](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/project.json#L16-L23). Then the LibuvCopier operates on these package and copies the contents. So, in a sense it is similar to your scenario with one more level of indirection (the LibuvCo

[2015-12-18 16:02] muratg commented on #553
_From @reliak on November 14, 2015 8:32_

@moozzyk The build dependency type works as @davidfowl mentioned when using `dnu pack`.
The only think that bothers me, is that `dnu publish` creates a package in the output's `packages` folder.

According to https://github.com/aspnet/Home/wiki/DNX-utility#publish-dnu-publish:

a dependency of type `build` should not be in the packages folder, because it i

[2015-12-18 16:02] muratg opened #554 "Per framework file exclude"
_From @JamesNK on August 22, 2015 1:45_

Right now exclude is for all frameworks. It would be useful to be able to exclude files for certain frameworks on build.

_Copied from original issue: aspnet/dnx#2540_

[2015-12-18 16:02] muratg commented on #554
_From @glennc on August 24, 2015 18:3_

I like the idea, but don't think it fits into any of the milestones we have at the moment. So backlog for now.

[2015-12-18 16:02] muratg commented on #554
_From @anurse on August 24, 2015 20:45_

As a workaround, and yes I know it's kinda gross, you can wrap the whole file in `#if`

[2015-12-18 16:02] muratg commented on #554
_From @JamesNK on August 24, 2015 21:33_

That's what I did. It was just a pain in the butt getting all files working with all frameworks: https://github.com/JamesNK/Newtonsoft.Json/commit/a9ea63da59cc90b474bee5a6f351e9fad55a44bf

Anyway, not blocking.

[2015-12-18 16:02] muratg commented on #554
_From @Mpdreamz on September 14, 2015 12:49_

Huge +1 to this, would reduce the number of needed ifdefs.

[2015-12-18 16:02] muratg opened #555 "project.json net20 - GAC bug"
_From @JamesNK on August 22, 2015 1:25_

https://github.com/aspnet/dnx/issues/1894#issuecomment-133388423

_Copied from original issue: aspnet/dnx#2539_

[2015-12-18 16:02] muratg commented on #555
@davidfowl GAC?  Isn't CLI CoreCLR only?

[2015-12-18 16:08] muratg opened #556 "Can't have files that are both resources as well as compiled"
_From @pranavkm on August 21, 2015 17:56_

Seems like anything that is listed in the `resources` node gets excluded from `compile` (even if it's explicitly called out). Perhaps we can change the behavior so that anything that is listed as `compile` always gets included?

_Copied from original issue: aspnet/dnx#2536_

[2015-12-18 16:08] muratg commented on #556
_From @davidfowl on August 22, 2015 4:40_

What's the scenario?

[2015-12-18 16:08] muratg commented on #556
_From @pranavkm on August 26, 2015 5:20_

Unusual scenario in the Razor precompilation tests where I want have the source of the files as well as the compiled types.

[2015-12-18 16:08] muratg commented on #556
_From @glennc on August 26, 2015 17:29_

How impact-full is it? Blocking the tests?

[2015-12-18 16:08] muratg commented on #556
_From @pranavkm on August 26, 2015 19:36_

No, I worked around it by creating a new project which included the files via `../other-project/resources/*.cs`

[2015-12-18 16:08] muratg opened #557 "Enable preparing machines for servicing"
_From @moozzyk on August 20, 2015 18:8_

We would like make it possible to prepare a machine for servicing (e.g. create a script that the user would run before running an ASPNET vNext app that would create the right folder structure etc.). This might be even more important given that it is now possible to set an environment variable that will block running any ASPNET vNext app if servicing is not

[2015-12-18 16:08] muratg commented on #557
@glennc Move out of this milestone?

[2015-12-18 16:08] muratg opened #558 "Large amount of duplicate string content consumes memory"
_From @troydai on August 20, 2015 17:3_

Open the MVC solution in VS with latest DNX (dnx-clr-win-x86.1.0.0-beta8-15109)

The GC consumption stable around 677M:
![image](https://cloud.githubusercontent.com/assets/1329240/9389810/dea6a3dc-4721-11e5-9e60-27365389c4cd.png)

If we peek into the strings in GC2, you can find a lot of duplicates. Here's the examples stands out:

__File paths__
![image](h

[2015-12-18 16:08] muratg commented on #558
_From @davidfowl on August 20, 2015 17:13_

Related https://github.com/aspnet/dnx/issues/1446

[2015-12-18 16:08] muratg opened #559 "Large amount of DependencyDescription messages instances are referenced in DTH"
_From @troydai on August 20, 2015 6:19_

After eliminating the breadcrumbs, the `Microsoft.Dnx.DesignTimeHost.Models.OutgoingMessages.DependenciesMessage` cost around 16% of the memory. [see source](https://github.com/aspnet/dnx/blob/fe93ce90df6e391d358437f7146103918f3e49ea/src/Microsoft.Dnx.DesignTimeHost/Models/OutgoingMessages/DependenciesMessage.cs)

The messages are referred in each `ProjectW

[2015-12-18 16:08] muratg commented on #559
_From @troydai on August 20, 2015 6:20_

/cc @rynowak MVC solution DTH performance case

[2015-12-18 16:08] muratg commented on #559
_From @davidfowl on August 20, 2015 6:21_

Referenced or retained?

[2015-12-18 16:08] muratg commented on #559
_From @troydai on August 20, 2015 6:29_

Retained (or at least I think)

`ApplicationContext -> World -> ProjectWorld -> DependencyDiagnostics:DiagnosticsListMessage`

The list is used to diff the local and remote world to decide if diagnostics message should be sent again.
https://github.com/aspnet/dnx/blob/fe93ce90df6e391d358437f7146103918f3e49ea/src/Microsoft.Dnx.DesignTimeHost/ApplicationConte

[2015-12-18 16:08] muratg commented on #559
_From @troydai on August 20, 2015 6:30_

To achieve that goal, I wondering if there is a cheaper way.

[2015-12-18 16:08] muratg commented on #559
_From @troydai on August 20, 2015 6:38_

Also look at this __Refs-To__ chart

Dictionary introduces huge overhead.
[code]

[2015-12-18 16:09] muratg opened #560 "DTH spent about 38M memory on IPathSegment (file globbing) when open MVC solution"
_From @troydai on August 20, 2015 3:3_

The `IPathSegment` instances are used in file globbing. It used only to list files.

__Excluding breadcrumbs__
[code]

__Including breadcrumbs__
[code]

_Copied from original issue: aspnet/dnx#2514_

[2015-12-18 16:09] muratg commented on #560
_From @troydai on August 20, 2015 6:20_

/cc @rynowak MVC solution DTH performance case

[2015-12-18 16:09] muratg commented on #560
_From @troydai on August 20, 2015 6:22_

__Note__

The `IPathSegments` are used during file globbing. But file globbing doesn't happen all the time. We can trade-off between regenerated these `IPathSegments` again vs. hold on to them.

[2015-12-18 16:09] muratg opened #561 "Handling of incorrectly cased project.json in dnu restore on Linux"
_From @akoeplinger on August 17, 2015 13:6_

I just tried `dnu restore` on a project that had `Project.json` instead of `project.json` on Linux. Restore just printed nothing. Only after running `dnu build` I found out that the file is incorrectly cased since it complained about not finding `project.json`.

Should `dnu restore` complain similarly?

_Copied from original issue: aspnet/dnx#2497_

[2015-12-18 16:09] muratg commented on #561
@davidfowl IMO, this should only go to nuget.  The restore feature in CLI is only temporary.

[2015-12-18 16:09] muratg opened #562 "Upon start, DNX should print all environment variables that it uses and their value"
_From @victorhurdugaci on August 14, 2015 0:7_

When running with `DNX_TRACE`, dnx should show the values of all the environment variables that are used to configure it (like `DNX_SERVICING_ROOT` or `DNX_REQUIRE_SERVICING`). It would help debugging and it would also make them more discoverable.

Example output:

    DNX_SERVICING_ROOT: C:/foo
    DNX_REQUIRE_SERVICING: <not set>

_Copied from orig

[2015-12-18 16:09] muratg commented on #562
_From @Eilon on August 15, 2015 16:41_

I like this.

[2015-12-18 16:09] muratg opened #563 "Passing arguments to project.json"
_From @JamesNK on August 11, 2015 1:23_

When building a csproj with msbuild you can pass it arguments. For example, treating errors as warnings can be enabled with this argument:

/p:TreatWarningsAsErrors=true

It was be useful to be able to pass arguments to a project.json on build (treat warnings as errors, strong name path, etc)

_Copied from original issue: aspnet/dnx#2450_

[2015-12-18 16:10] muratg commented on #563
_From @Eilon on August 11, 2015 5:42_

Hmm, interesting. I think there are a couple ways (at least) to go about this:

1. MSBuild style, where "everything's a variable/list" (you know, the PropertyGroup stuff)
2. Allow some sort of `$(variable)` syntax for variables that are either env-vars, or command-line params

I don't see (1) happening, but (2) is certainly interesting (to me). Might be other

[2015-12-18 16:10] muratg commented on #563
_From @JamesNK on August 11, 2015 6:9_

You could do option 1 with some kind of path (since Json isn't a flat list)

Eg compilationOptions.treatWarningsAsErrors=true

For now I'm going to have to transform the file myself in my build script and I'll probably use a path to insert the new value.

[2015-12-18 16:10] muratg commented on #563
_From @Eilon on August 11, 2015 6:18_

@JamesNK ah interesting. I hope you know a good JSON parser for your transformations :smile:

With paths we'd have to consider how some more complex items would be persisted, e.g. dictionaries that have complex property names, or arrays. For example, even with setting compilation options, you can have that vary per framework, and the "path name" for those cou

[2015-12-18 16:10] muratg commented on #563
_From @JamesNK on August 11, 2015 13:8_

Ok. I'm not a fan of (2) because it would force those params to always be passed it. Optionally passing them in as overrides is more flexible.

I ended up using PowerShell's JSON functionality to modify the project.json so didn't do anything with paths myself.

[2015-12-18 16:10] muratg commented on #563
_From @JamesNK on August 11, 2015 23:31_

FYI there are some cases where you can pass settings in via environment variables, e.g. DNX_BUILD_KEY_FILE

https://github.com/JamesNK/Newtonsoft.Json/commit/b7cfafb8ed5223a2cf9ea7a893292edaa63eb27b#commitcomment-12644907

[2015-12-18 16:10] muratg commented on #563
_From @moozzyk on August 11, 2015 23:50_

AFAIR we decided to leave DNX_BUILD_KEY_FILE to not break the CI... @davidfowl do you remember?

[2015-12-18 16:10] muratg commented on #563
_From @davidfowl on August 12, 2015 0:56_

We added it originally for the NuGet build.

[2015-12-18 16:10] muratg commented on #563
_From @anurse on August 14, 2015 0:53_

It's also a useful feature for cases where you want CI builds to do something but not dev builds. Having said that, a general purpose override system is also useful for that...

[2015-12-18 16:10] muratg commented on #563
_From @victorhurdugaci on October 2, 2015 19:25_

+1 for this. We need it for feature defines (like disabling the min version check on dev)

[2015-12-18 16:10] muratg commented on #563
_From @victorhurdugaci on October 5, 2015 19:43_

Related: https://github.com/aspnet/Home/issues/450#issuecomment-145644823

[2015-12-18 16:10] muratg opened #564 "Support extern aliases in DNX"
_From @PinpointTownes on August 8, 2015 20:9_

![image](https://cloud.githubusercontent.com/assets/6998306/9151979/bf283e20-3e17-11e5-924a-dc403b560d46.png)

Though not very popular, extern aliases are useful to work around `CS0433 Type 'X' already exists in both 'A.dll' and 'B.dll'` compilation errors, specially since we can't exclude transitive dependencies yet.

_Copied from original issue: asp

[2015-12-18 16:10] muratg opened #565 "dnu publish not excluding folders"
_From @kichalla on August 4, 2015 23:33_

From here: http://stackoverflow.com/questions/31820294/exclude-folders-on-publish-project-using-dnu-publish

I tried doing the following, but this doesn't seem to work...is this syntax ok?
[code]

_Copied from original issue: aspnet/dnx#2411_

[2015-12-18 16:10] muratg commented on #565
_From @glennc on August 5, 2015 17:33_

@troydai Do you have to put glob patterns in here or do we exclude folders?

[2015-12-18 16:10] muratg commented on #565
_From @troydai on August 11, 2015 3:37_

You need a trailing `/` to indicate it is a folder or append `/**/*.*` to it.

[2015-12-18 16:10] muratg commented on #565
_From @glennc on August 11, 2015 4:15_

Ok thanks, can you go and answer the SO question as well?

[2015-12-18 16:10] muratg commented on #565
_From @kichalla on August 11, 2015 13:17_

@troydai  But is this convention not true for top level folders?...example:
https://github.com/aspnet/Localization/blob/dev/samples/LocalizationSample/project.json#L27

[2015-12-18 16:10] muratg commented on #565
_From @cscleison on August 19, 2015 9:0_

@troydai same problem here. tried different patterns but doesn't work

[2015-12-18 16:10] muratg commented on #565
_From @troydai on August 19, 2015 20:47_

@kichalla can you still repo this issue?

[2015-12-18 16:10] muratg commented on #565
_From @kichalla on August 19, 2015 21:1_

@troydai yes, I am able to repro(with the suggested pattterns) it with beta6

[2015-12-18 16:10] muratg commented on #565
_From @troydai on August 19, 2015 21:22_

I'll take a look

[2015-12-18 16:10] muratg commented on #565
_From @troydai on August 19, 2015 21:23_

/cc @muratg I added labels. This looks like a potential regression. I'm investigating.

[2015-12-18 16:10] muratg commented on #565
_From @troydai on August 19, 2015 21:56_

It appears to me that __webroot__ folder doesn't participate in the globbing during the publish. It's not an regression. Should we go over the design decision? https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Tooling/Publish/PublishProject.cs#L637

/cc @davidfowl @glennc

[2015-12-18 16:10] muratg commented on #565
_From @awflierman on September 30, 2015 8:24_

Tried the same as @kichalla, and taking this [SO answer](http://stackoverflow.com/a/32790748/551030) into account it would be nice to be able to exclude some folder inside wwwroot.

[2015-12-18 16:10] muratg opened #566 "Shared project resources"
_From @max-vasin on July 31, 2015 8:8_

Add support for sharing project embedded resources among multiple dependent projects (like "shared" project.json property for code files).

_Copied from original issue: aspnet/dnx#2383_

[2015-12-18 16:11] muratg opened #567 "Port more compatibility check from NuGet"
_From @ChengTian on July 27, 2015 18:29_

Proposed by @davidfowl :

So we need to port some NuGet codez

https://github.com/NuGet/NuGet3/blob/dev/src/NuGet.Commands/CompatilibityChecker.cs#L76
to solve issues like these:

https://github.com/aspnet/Tooling-Internal/issues/420

Wei actually ported some of this logic already but we need to go further. The sad part is, having some of this logic actual

[2015-12-18 16:11] muratg commented on #567
_From @ChengTian on July 31, 2015 18:7_

@davidfowl @anurse @Eilon

Adding more explanation before I send out PRs to fix a bunch of `project.json` in our repos:

**Compatibility check we are adding here**
For some CoreCLR packages (e.g. `System.Globalization.4.0.0-beta`), they provide dnxcore50-compatible assemblies for compile-time in `ref` folder (e.g. `ref/dotnet/System.Globalization.dll`), but

[2015-12-18 16:11] muratg commented on #567
_From @ChengTian on August 13, 2015 18:38_

@davidfowl hosted a discussion and they think this is too aggressive. Putting to backlog.

[2015-12-18 16:11] muratg opened #568 "ArgumentNullException thrown attempting to add auto-wrapped references to new Portable Class libraries"
_From @MattGal on July 23, 2015 1:35_

I may be among the first people trying to do this.  When I add project-to-project references with PCLs, I consistently see this in the package manager output window:

Wrapping project 'ProjectName' for '.NETPortable,Version=v5.0'
  Source c:\Users\mattgal\Documents\Visual Studio 2015\Projects\ReferenceKPCLWithDifferentName\SameName\SameName.csproj
  Target c:

[2015-12-18 16:11] muratg commented on #568
_From @anurse on July 23, 2015 3:8_

It's definitely expected that this combination (`dnu wrap` and `dotnet`) would be a little broken. Thanks for the report though!

[2015-12-18 16:11] muratg commented on #568
_From @davidfowl on July 23, 2015 3:32_

Net portable 5.0 is what's broken. We read the tfm from he project file.

[2015-12-18 16:11] muratg commented on #568
_From @MattGal on July 23, 2015 17:1_

OK, will discuss with them.   There are quite a few challenges with trying to make this work currently.

[2015-12-18 16:11] muratg commented on #568
_From @davkean on July 23, 2015 17:12_

This is by design; we no longer have profiles in the "dotnet" world.

[2015-12-18 16:11] muratg commented on #568
Closing per @davkean's comment.

[2015-12-18 16:11] muratg commented on #568
_From @davkean on December 15, 2015 21:37_

No, it's by design that portable doesn't have profiles - it's not by design that you crash when you encounter that.

[2015-12-18 16:11] muratg commented on #568
Reopening per @davkean's comment.  :smile:

@piotrpmsft I'll move this one as well.

[2015-12-18 16:11] muratg opened #569 "Project references: Allow referencing with a name different than the containing folder"
_From @muratg on July 22, 2015 19:29_

_Copied from original issue: aspnet/dnx#2312_

[2015-12-18 16:11] muratg commented on #569
_From @anurse on July 23, 2015 0:9_

Thoughts (just a bit of a brain dump to facilitate discussion/design):
* We could allow a `path` property under the dependency. That starts to smell a lot like `HintPath` though...
* We could allow a project.json to have an **optional** `name` property to change the name of the project. This would mean someone has to scan all the project.json files in scope in

[2015-12-18 16:11] muratg commented on #569
I like the second option, although I'm sure @davidfowl will have some (probably reasonable) perf concerns.

[2015-12-18 16:11] muratg commented on #569
_From @troydai on July 23, 2015 23:56_

_Based on the discussion I had with @anurse_

Proposal 1: Lock file based project reference map

The motivation behind this change is to allow referencing different projects under folders with same name. With that been said, when referenced projects are indeed identical or different version/iteration of same projects the ambiguous should still be treated as

[2015-12-18 16:11] muratg commented on #569
_From @anurse on July 24, 2015 17:13_

This is my biggest concern but I don't see a better way if we want to support this.

Looks like a reasonable first pass at design to me. We'll discuss in the meeting :+1:

[2015-12-18 16:11] muratg commented on #569
_From @troydai on July 24, 2015 17:22_

I'm not absolutely sure about the `path` in locks file, either.

[2015-12-18 16:11] muratg commented on #569
_From @davidfowl on August 6, 2015 22:13_

See https://github.com/aspnet/dnx/issues/1559

[2015-12-18 16:11] muratg commented on #569
_From @davidfowl on August 8, 2015 6:11_

Lock file is the way to go here.

[2015-12-18 16:11] muratg commented on #569
_From @anurse on August 10, 2015 2:34_

Yeah, it's pretty much the only option, which is what we landed on. It's unfortunate that it makes the lock file no longer portable, but I think that was inevitable (and wasn't really something you could rely on anyway).

[2015-12-18 16:11] muratg commented on #569
_From @Eilon on August 14, 2015 20:0_

Moving to Backlog - we are not planning on doing this feature for v1. The workaround for now is to rename the folder to have the desired name.

@troydai can you close out the PR for now? We will revisit in the future.

[2015-12-18 16:12] muratg opened #570 "dnu publish doesn't exclude output folder"
_From @anurse on July 17, 2015 20:2_

I was seeing a weird recursive behavior with dnu publish when I did the following:

1. Create a project
2. In the project directory, run `dnu publish -o output`

Expected: dnu publish finishes and publishes the app properly

Actual: dnu publish crashes with a "path too long" error because it got into a recursive loop continually publishing the `output` subdire

[2015-12-18 16:12] davidfowl commented on #555
No it's .NET

[2015-12-18 16:13] muratg opened #571 "[Question] Externally providing version for dnu pack?"
_From @roji on July 4, 2015 18:29_

Apologies if this has been answered/discussed.

I am looking for a way to create nuget packages of my project with `dnu pack`, but with an externally-provided version (instead of the one specified in the project.json). The use-case is a tool like [GitVersion](https://github.com/GitTools/GitVersion), which automatically determines the version from gitflow; it is

[2015-12-18 16:13] muratg commented on #571
_From @davidfowl on July 4, 2015 18:41_

Today we do this but only with the prerelease suffix. You can make a `project.json` that looks like:

[code]

If you set the `DNX_BUILD_VERSION` environment variable, it'll replace the -* with -{DNX_BUILD_VERSION}. This is how we're producing our builds. We set `DNX_BUILD_VERSION` to the team city build number.

[2015-12-18 16:13] muratg commented on #571
_From @roji on July 4, 2015 18:43_

Thanks for the quick answer.

Any plans to make this work with the version itself and not just the prerelease? My current situation is that I can bump patch, minor and even major versions simply by performing git operations (and not modifying a single nuspec or AssemblyInfo.cs). I think it's important not to lose this capability in DNX...

[2015-12-18 16:13] muratg commented on #571
_From @davidfowl on July 4, 2015 18:47_

There are not plans currently to make this work. Is this a CI scenario or mostly just how things are controlled in general?

The scenario makes sense and I'm not opposed to bring back the version replacement token. I do have some questions about how that works with project references:

- Are you versioning the entire solution with the same version?

[2015-12-18 16:13] muratg commented on #571
_From @roji on July 4, 2015 18:54_

Well, it's how things are controlled in general, although the logic is important mainly for the CI (versions don't matter much for local developer builds, at least in my setup).

Normally when you go with an automated GitFlow-based versioning scheme (à la GitVersion) yes, you're constrained to the entire solution being versioned with the same version; this is a

[2015-12-18 16:13] muratg commented on #571
_From @davidfowl on July 4, 2015 19:1_

I know you're asking for a feature that exists in NuGet but I still want to understand the scenario better because in practice things are usually only used in a few ways. That's not an excuse for removing features, it's a way to figure out what a better workflow would be in the common case. For example, we're  looking at a feature to enable specifying the ve

[2015-12-18 16:13] muratg commented on #571
_From @roji on July 4, 2015 19:9_

The `global.json`-specified feature sounds like a good idea (regardless of allowing an external version from an environment variable). All the rest sounds good too.

My basic need in life is to be able to never touch (and commit) any file as part of a version bump operation, any scheme allowing that would probably be OK. I imagine that the easiest way to support

[2015-12-18 16:13] muratg commented on #571
_From @davidfowl on July 4, 2015 19:13_

Sounds good, care to do a pull request? The relevant code is here https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Framework.Runtime/Project.cs#L186

[2015-12-18 16:13] muratg commented on #571
_From @roji on July 4, 2015 19:21_

Sure, I'll be happy to contribute on this, but here are some design questions:

* Should the DNX_BUILD_VERSION envvar now simply contain an entire version (e.g. 2.2.0-rc1) rather than just the prerelease component now? Or should we have two schemes (i.e. one envvar for the prelease component only, like now, plus a new envvar for the entire version which would ta

[2015-12-18 16:13] muratg commented on #571
_From @roji on July 16, 2015 15:48_

Any ideas on the questions above?

[2015-12-18 16:13] muratg commented on #571
_From @Tasteful on July 29, 2015 7:6_

@davidfowl @roji Any news about this request?
In my situation I have about 20 projects in the solution that all should have the same version number when it is built so any progress regarding this will be lovely.

[2015-12-18 16:13] muratg commented on #571
_From @MiguelAlho on July 29, 2015 16:25_

Something that comes to my mind when considering this situation:

I'm a fan of the global version for the solution - normally changes are done in the context of a solution, builds in CI are in the solution's context, etc. So versioning at the solution makes it easy to relate changes to the set of projects as a cohesive unit. Cognitive load is reduced when

[2015-12-18 16:13] muratg commented on #571
_From @roji on September 13, 2015 7:36_

@davidfowl, @glennc or others, can we have a quick discussion on the design questions I asked above? After that I can work on a PR.

[2015-12-18 16:13] muratg commented on #571
_From @xanather on September 16, 2015 3:29_

Is there any chance this could get looked at @davidfowl or anyone who works on DNX?

[2015-12-18 16:13] muratg commented on #571
_From @davidfowl on September 16, 2015 3:31_

Sure @glennc can we setup a design meeting for this?

[2015-12-18 16:13] muratg commented on #571
_From @roji on September 16, 2015 10:13_

If you guys need any more input on usage scenarios etc. let me know!

[2015-12-18 16:13] muratg commented on #571
_From @roji on September 18, 2015 16:7_

Here are some input thoughts on what is needed and how to achieve it. Some common versioning scenarios (bumping refers to all version bumps, not just prerelease tags):

* Manual version bumping per project: update each project.json's version by hand (currently supported)
* Manual version bumping for all projects in a solution: update global.json by hand onc

[2015-12-18 16:13] muratg commented on #571
_From @pranavkm on September 18, 2015 16:42_

Should the variable be named `DNX_ASSEMBLY_VERSION`? `DNX_VERSION` sounds like something you'd use to specify the DNX version, not the application being built.

[2015-12-18 16:13] muratg commented on #571
_From @roji on September 18, 2015 17:1_

@pranavkm good point. `DNX_ASSEMBLY_VERSION` sounds a bit misleading to me since it seems to imply that the `AssemblyVersion` attribute is affected, which I don't think is the case (that could be a feature on its own). Maybe `DNX_PROJECT_VERSION`...

[2015-12-18 16:13] muratg commented on #571
_From @pranavkm on September 18, 2015 17:2_

`DNX_PROJECT_VERSION` sounds good to me.

[2015-12-18 16:13] muratg commented on #571
_From @RichiCoder1 on September 30, 2015 18:8_

Bump! I have a similar issue now.

[2015-12-18 16:13] muratg commented on #571
_From @tparnell8 on October 18, 2015 3:30_

:+1: I would most certainly enjoy this feature

[2015-12-18 16:13] muratg commented on #571
_From @roji on October 31, 2015 18:8_

@glennc @davidfowl any progress on this?

[2015-12-18 16:13] muratg commented on #571
_From @RehanSaeed on November 13, 2015 8:54_

+1 for @roji's latest list of requirements. Would really like to build projects in a CI scenario and it's not currently as easy as it should be.

[2015-12-18 16:13] muratg commented on #571
_From @RehanSaeed on November 13, 2015 17:6_

Has anyone been able to get the `DNX_BUILD_VERSION` environment variable to work from @davidfowl's comment? Here is my PowerShell script:

[code]

I'm still getting my `.nupkg` files output with a `1.0.0` version on Beta 8.

[2015-12-18 16:13] muratg commented on #571
_From @roji on November 13, 2015 17:25_

@RehanSaeed, don't forget the version in your project.json must contain "1.0.0-*" for the `DNX_BUILD_VERSION` to be taken into account.

[2015-12-18 16:13] muratg commented on #571
_From @RehanSaeed on November 13, 2015 17:26_

@roji I've done that, it's the default anyway:

[code]

[2015-12-18 16:13] muratg opened #572 "Create "dnu patch" commands to allow manual servicing of machines"
_From @DamianEdwards on July 2, 2015 4:51_

Creation of a new set of commands in `dnu` to enable management of machine-wide patches. This could be used by system admins to manage the installed servicing patches on servers on all platforms. On Windows of course we will be able to push out critical fixes via Windows Update but on Linux we expect machine-wide patches to be managed manually by the ser

[2015-12-18 16:13] muratg commented on #572
_From @moozzyk on July 8, 2015 23:59_

Should dnu patch also allow removing patches? If we want to use it Windows Update then it might need to be able to for scenarios when an update is uninstalled.

[2015-12-18 16:13] muratg opened #573 ""dnu pack" fails when using current directory (. or ./project.json) as an argument"
_From @ChengTian on June 26, 2015 1:28_

While `dnu pack ..\ConsoleApp21\project.json` works fine. (`..\ConsoleApp21\project.json` and `.\project.json` point to the same file)

![capture](https://cloud.githubusercontent.com/assets/1383883/8369010/dd126db6-1b67-11e5-94c2-fa7b48c72fd2.PNG)

_Copied from original issue: aspnet/dnx#2140_

[2015-12-18 16:13] muratg opened #574 "Cross plat servicing"
_From @muratg on June 24, 2015 17:18_

- [ ] Implement cross plat native code servicing
- [ ] Implement checks in package servicing (Mono case)
- [ ] Verify cross plat package servicing
- [ ] Consider Kestrel servicing

https://github.com/aspnet/dnx/issues/2175

cc: @moozzyk @victorhurdugaci @glennc @DamianEdwards

_Copied from original issue: aspnet/dnx#2123_

[2015-12-18 16:13] muratg commented on #574
@danroth27 FYI, we may have to move this to RC.

[2015-12-18 16:13] muratg commented on #574
Higher pri items in Beta 8, moving to RC1.

[2015-12-18 16:24] muratg opened #575 "'dnu wrap' does not add the framework assemblies list to the generated project.json files"
_From @kichalla on June 19, 2015 16:33_

The title of this issue is just my assumption of probably how it should have been. More details below:

I have a regular .Net class library whose references are like below:
Here all references except `Newtonsoft.Json` and `LibraryA` are from the GAC
![image](https://cloud.githubusercontent.com/assets/6559784/8257800/1560a938-1665-11e5-9dc5-0f4a09e95de1.png)

[2015-12-18 16:24] muratg opened #576 "Add ability to ignore particular build warnings"
_From @smudge202 on June 10, 2015 7:24_

There is currently no way to suppress specified compiler warnings akin the Build tab of old project properties.

http://puu.sh/hCNDe/6314b5a5ef.png

Issue first raised here: aspnet/home#564

_Copied from original issue: aspnet/dnx#2042_

[2015-12-18 16:24] muratg commented on #576
This is a good idea. Let's try it in beta 6.

[2015-12-18 16:24] muratg commented on #576
_From @Eilon on September 13, 2015 3:18_

Moving this out of backlog so we can reconsider.

[2015-12-18 16:24] muratg commented on #576
_From @bricelam on October 9, 2015 16:56_

I prototyped something in [bricelam:nowarn](https://github.com/aspnet/dnx/compare/dev...bricelam:nowarn), but it's probably not the design you're looking for...

Format would be
[code]

[2015-12-18 16:24] muratg commented on #576
I actually like @bricelam's design and implementation.  cc: @davidfowl

If we decide to go with it, I'd like Brice to add some tests :)

[2015-12-18 16:24] muratg commented on #576
_From @davidfowl on October 9, 2015 17:28_

Is it just suppressions? Do we want to expose this enum:

`ReportDiagnostic.XX`

[2015-12-18 16:24] muratg commented on #576
_From @smudge202 on October 9, 2015 19:34_

Just suppressions as @bricelam implemented looks ideal. Can always improve the model with fanciness later. Suppression is much closer to _need_.

[2015-12-18 16:24] muratg commented on #576
_From @Eilon on October 9, 2015 21:27_

I think just suppressions like `/nowarn:X` would be awesome for v1.

Could we just take @bricelam 's code as a PR?

BTW after doing this also need to send a PR to SchemaStore to add the new option to the `project.json` schema: https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/project.json

[2015-12-18 16:24] muratg commented on #576
_From @bricelam on October 10, 2015 0:29_

I'll add some tests and send an official PR.

[2015-12-18 16:24] muratg commented on #576
_From @davidfowl on October 17, 2015 9:49_

@bricelam Lets do it

[2015-12-18 16:24] muratg opened #577 "runtime returns incorrect framework short name when netcore451 is specified in project.json"
_From @abpiskunov on June 8, 2015 17:28_

See this issue for full details and repro: https://github.com/aspnet/Tooling-Internal/issues/344

_Copied from original issue: aspnet/dnx#2032_

[2015-12-18 16:24] muratg commented on #577
_From @davidfowl on September 20, 2015 1:1_

/cc @anurse

[2015-12-18 16:24] muratg commented on #577
_From @anurse on September 21, 2015 2:40_

`win81` is the correct normalized short-form name for `.NETCore, Version=v4.5.1`... The tooling should be using long-form names everywhere since they are unambiguous.

[2015-12-18 16:24] muratg commented on #577
_From @abpiskunov on September 21, 2015 14:36_

How do we get this correct-long-form name for each framework moniker ? We take monikers that runtime sends us and don't have our own name resolution logic.

[2015-12-18 16:24] muratg commented on #577
_From @abpiskunov on September 21, 2015 14:37_

In any case , runtime should be consistent with the info it sends us.

[2015-12-18 16:24] muratg commented on #577
_From @davidfowl on September 21, 2015 15:21_

We should fix this

[2015-12-18 16:24] muratg opened #578 "Design-time facades shouldn't be added to the nuspec for Full .NET"
_From @bricelam on June 8, 2015 16:27_

[code]
The reference to `System.Collections` is required to build on DNX, but if you try to install the resulting nupkg into a net45 project, you'll get the following error.

The workaround is to declare it as a built-time dependency.

[code]

_Copied from original issue: aspnet/dnx#2031_

[2015-12-18 16:25] muratg commented on #578
_From @herecydev on June 8, 2015 19:53_

May be related to [what I raised](https://github.com/aspnet/dnx/issues/2029) just hours ago.

[2015-12-18 16:25] muratg commented on #578
_From @Eilon on August 5, 2015 18:14_

Hmm but is this actually correct? Isn't the reference needed? Is the package itself just broken?

[2015-12-18 16:25] muratg commented on #578
_From @davidfowl on August 5, 2015 18:50_

The unfortunate thing about this is that the msbuild based projects fail instead of noop. I would love to get that fixed instead of mimicking that behavior in the dnx

[2015-12-18 16:25] muratg commented on #578
_From @jonesopolis on November 16, 2015 3:54_

thanks for the fix brice. Was killing me.

[2015-12-18 16:25] muratg opened #579 "Error installing nuget package with "facade" framework assembly reference"
_From @herecydev on June 8, 2015 12:47_

Given a `project.json` as follows:

![image](https://cloud.githubusercontent.com/assets/11328618/8034187/4512a3b0-0ddd-11e5-9dfb-2b68a66a96e1.png)

When packaged and installed into a net45 project. Throws the following exception:

![image](https://cloud.githubusercontent.com/assets/11328618/8034542/9109e9b0-0de0-11e5-9949-0f72c438e492.png)

This isn't prese

[2015-12-18 16:25] muratg opened #580 "Allow custom compilers to inject sources into symbol packages"
_From @Alxandr on May 30, 2015 17:58_

With how my new F# compiler for DNX work, I end up with empty symbol packages. Now, symbolsource doesn't support DNX targets yet so it's not that much of a problem ^^, but I would still like for a way for my compiler to DNU what sources/additional sources to include in the symbols package.

_Copied from original issue: aspnet/dnx#1995_

[2015-12-18 16:25] muratg opened #581 "Allow custom compilers to inject dependencies"
_From @Alxandr on May 30, 2015 17:56_

Any project that is build in F# will as a general rule depend on `FSharp.Core`. `YoloDev.Dnx.FSharp` itself also depends on `FSharp.Core`, but since it's normally added as a build time only dependency, it's dependency on `FSharp.Core` doesn't get transferred to the project produced by it. I think there should either be an API that allows me to inject dependen

[2015-12-18 16:26] muratg opened #582 "DTH should pass info about which project was responsible for determining which package version was used within a graph"
_From @DamianEdwards on May 29, 2015 18:53_

Right now, it's very hard to debug situations whereby multiple versions of a package are referenced in a graph and the version that "wins" is not what was expected. In these cases, it would really useful to know which project determined that a given version "won". As such, the DTH should pass this information over in the reference data.

This could then

[2015-12-18 16:26] muratg opened #583 "PCL for Windows 8.1 + Windows Phone 8.1 (Profile 32)"
_From @smudge202 on May 17, 2015 2:41_

In addition to #1837, Profile 32 targeted PCL's are able to work with phone API's such as `Windows.Storage.StorageFolder`.

I believe it does this by referencing the `Windows.winmd` file for the Phone's SDK:
`C:\Program Files (x86)\Microsoft SDKs\Portable\v14.0\110C4FEFF2BA61C0746933A9ED6E248D\`

We are not able to this within a vNext class library targeting

[2015-12-18 16:26] muratg opened #584 "SDK Support"
_From @smudge202 on May 11, 2015 8:10_

In essence, msbuild has a _special_ way of resolving _frameworkAssemblies_ when it comes to SDKs.

There are a series of registry entries located in the following locations:
`HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SDKS\`
`HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\Microsoft SDKS\`

From these registry entries you can retrieve both SDK install

[2015-12-18 16:26] muratg commented on #584
_From @onovotny on July 16, 2015 11:48_

During the design of this, please keep Xamarin support (MonoTouch, Xamarin.iOS and MonoAndroid) in mind whatever the solution winds up being.

Thanks

[2015-12-18 16:27] muratg opened #585 "Need a setting in project.json to enable xml doc comments"
_From @BillHiebert on April 27, 2015 15:6_

This option is needed to allow generation of xml doc comments. It would also be picked up by tooling to provide diagnostics for broken or missing comments.

_Copied from original issue: aspnet/dnx#1717_

[2015-12-18 16:27] muratg commented on #585
_From @barrytang on June 2, 2015 20:57_

Happening in beta5?

[2015-12-18 16:27] muratg commented on #585
_From @barrytang on June 2, 2015 20:57_

@Eilon, @davidfowl ?

[2015-12-18 16:27] muratg commented on #585
When we internalized the JSON parser (and moved away from json.net, we decided not to add comment support on json files, as they are not valid per the RFC.

[2015-12-18 16:27] muratg commented on #585
_From @GuardRex on June 2, 2015 23:54_

@BillHiebert If you mean comments in the project.json file, it was discussed here ...
https://github.com/aspnet/Announcements/issues/24
https://github.com/aspnet/dnx/issues/1816

[2015-12-18 16:27] muratg commented on #585
Or do you guys mean a switch which would enable/disable XML comment generation on source code?

[2015-12-18 16:27] muratg commented on #585
_From @Eilon on June 8, 2015 15:54_

This is about generating the doc XML file. Nothing to do with comments in JSON :smile:

[2015-12-18 16:27] muratg commented on #585
_From @Eilon on June 8, 2015 15:54_

And BTW I thought we always generate it now, don't we? At most I think we'd have an option to turn it off (though, do we even need that?).

[2015-12-18 16:27] muratg commented on #585
_From @BillHiebert on June 8, 2015 22:2_

@davidfowl
Looks like that is the case. So I should just enable it by default instead of having it disabled by default.

[2015-12-18 16:27] muratg commented on #585
_From @barrytang on June 10, 2015 5:28_

Moved to U1.

@BillHiebert's comment:

I put in a small change to enable document comments in the language service since the runtime is generating the xml file anyway. However, Roslyn does a lot of validation (kind of like fxcop) when doc comments are enabled and I see 260 warnings in the error list for a new Web Application.

[2015-12-18 16:27] muratg commented on #585
_From @barrytang on June 10, 2015 5:29_

![foo](https://cloud.githubusercontent.com/assets/1648865/8075595/05d8ba8e-0ef7-11e5-94ad-05b426422cd2.png)

[2015-12-18 16:27] muratg commented on #585
_From @davidfowl on June 10, 2015 5:43_

Uhhhh this cannot be on by default.

[2015-12-18 16:27] muratg commented on #585
_From @BillHiebert on June 10, 2015 15:45_

Nope. I punted the bug to update1 until there is a way to enable\disable the feature in project.json

[2015-12-18 16:27] muratg commented on #585
_From @davidfowl on June 10, 2015 15:46_

Sweet

[2015-12-18 16:27] muratg commented on #585
_From @barrytang on July 17, 2015 21:38_

@davidfowl, where are we at with the runtime change?

[2015-12-18 16:27] muratg commented on #585
_From @davidfowl on July 17, 2015 21:49_

@barrytang This bug isn't in a milestone and so it doesn't exist :smile:

[2015-12-18 16:27] muratg commented on #585
_From @barrytang on July 17, 2015 22:44_

@BillHiebert, can you update it? I don't seem to have permission to.

[2015-12-18 16:27] muratg commented on #585
_From @BillHiebert on July 17, 2015 23:39_

How do I do that?

[2015-12-18 16:27] muratg commented on #585
_From @BillHiebert on July 17, 2015 23:43_

Looks like I don't have permission either. I assume it is because this is in the Dnx project

[2015-12-18 16:27] muratg commented on #585
_From @barrytang on July 18, 2015 5:22_

@davidfowl, what kind of tool is this? :)

Can you set the milestone?

[2015-12-18 16:27] muratg commented on #585
_From @davidfowl on July 18, 2015 5:26_

/cc @muratg This needs to go through triage.

[2015-12-18 16:27] muratg commented on #585
_From @Anderman on October 22, 2015 10:33_

@muratg  I found a incorrect xml documetation. Is this something that will be fixed later or do must I make a new issue of this
[code]

[2015-12-18 16:27] muratg commented on #585
@Anderman That class is in MVC repo, please file a bug in that repo.  This bug in particular tracks ability to generate XML doc comments file for your libraries and apps.

[2015-12-18 16:27] muratg opened #586 "F# support"
_From @ErikSchierboom on April 26, 2015 7:10_

I'd love to see F# support, similar to how [VB support will be added](https://github.com/aspnet/dnx/issues/1706).

_Copied from original issue: aspnet/dnx#1714_

[2015-12-18 16:27] muratg commented on #586
_From @KodrAus on September 11, 2015 3:16_

+1 for F# support

[2015-12-18 16:27] muratg commented on #586
_From @spencerwi on September 14, 2015 15:49_

Another +1; F# is the whole reason that I'd try to do .NET work (as a Linux/OSX dev)

[2015-12-18 16:27] muratg commented on #586
_From @itajaja on September 14, 2015 15:50_

yay! +1

[2015-12-18 16:27] muratg commented on #586
Language support (including VB.NET) is not in scope for V1. Putting this one to Backlog as well.

[2015-12-18 16:27] muratg commented on #586
_From @jskulavik on September 14, 2015 18:59_

@davidfowl [pointed out how this could be achieved long ago](https://github.com/aspnet/dnx/issues/1706), @Alxandr already gave it a go, and we've now got beta 7+ to work with possibly using [this](https://github.com/davidfowl/vNextLanguageSupport) as a spring board.  Given that ASPNET5 is an OSS project, why shouldn't the 'community,' in this case the

[2015-12-18 16:27] muratg commented on #586
_From @spencerwi on September 14, 2015 19:25_

@jskulavik As you pointed out, @Alxandr did already give it a go. This issue is, as I understand it, about *official* support for F# (a Microsoft language) on Microsoft's own .NET language runtime, using *stabilized* APIs, rather than *unofficial* support against *beta* APIs.

Trust me, I've tried quite a bit using and digging into Alxandr's YoloDev w

[2015-12-18 16:28] muratg opened #587 "VB support"
_From @muratg on April 24, 2015 18:40_

_Copied from original issue: aspnet/dnx#1706_

[2015-12-18 16:28] muratg commented on #587
_From @ErikSchierboom on April 25, 2015 15:54_

Any chance for F# support too?

[2015-12-18 16:28] muratg commented on #587
_From @Eilon on April 25, 2015 21:49_

@ErikSchierboom not currently planned but that would be a good project for the community to start up.

[2015-12-18 16:28] muratg commented on #587
_From @davidfowl on April 25, 2015 21:52_

VB, F#, dylan.NET (yes this is a real language) support will all be via the same mechanism. This is a generic extensibility point. The real problems come when tooling support is added (intellisense support in Visual Studio etc.)

[2015-12-18 16:28] muratg commented on #587
_From @ErikSchierboom on April 26, 2015 7:1_

@davidfowl So the VB support will be like a template for how to do F# integration?

[2015-12-18 16:28] muratg commented on #587
_From @davidfowl on April 26, 2015 7:4_

Yes and just FYI this isn't new https://github.com/YoloDev/YoloDev.FSharp.AspNet. https://github.com/davidfowl/vNextLanguageSupport. Language support was refactored a while ago so that we can add more languages. That's not really the big problem, though it still needs to be cleaned up.

[2015-12-18 16:28] muratg commented on #587
_From @ErikSchierboom on April 26, 2015 7:12_

That looks promising! Will there be any kind of documentation on how new languages can be added, or will we be able to infer that from the added VB support?

[2015-12-18 16:28] muratg commented on #587
_From @davidfowl on April 26, 2015 7:14_

There'll be something documented once the churn ends. Talk to @Alxandr, he's spent a considerable amount of time experimenting with F# and the dnx compilation system (even got it working with in memory assemblies).

[2015-12-18 16:28] muratg commented on #587
_From @Alxandr on April 26, 2015 7:41_

Yes, and then, when I started looking at it again like 5 hrs ago, everything has blown up xD.

Well, unstable APIs and all that. I'll try to get F# support working again against beta5 soon~ish.

[2015-12-18 16:28] muratg opened #588 "Can't compile against MonoTouch/MonoAndroid"
_From @bricelam on April 21, 2015 15:41_

Similar to aspnet/dnx#1679, but it get's a bit further:

    Building Microsoft.Data.Sqlite for MonoTouch,Version=v0.0
      Using Project dependency Microsoft.Data.Sqlite 1.0.0
        Source: C:\Projects\DataCommon.SQLite\src\Microsoft.Data.Sqlite\project.json

      Unable to resolve dependency framework/mscorlib

_Copied from original issue: aspnet/dnx

[2015-12-18 16:28] muratg commented on #588
_From @davidfowl on April 21, 2015 16:16_

I assume you have those frameworks installed? If you do, then it's likely that we just don't recognize the TFM.

[2015-12-18 16:28] muratg commented on #588
_From @bricelam on April 21, 2015 16:42_

Yes, they're installed.

[2015-12-18 16:28] muratg commented on #588
@anurse.

Are we supporting this (and #1679) in V1?

[2015-12-18 16:28] muratg commented on #588
_From @anurse on September 11, 2015 18:50_

It shouldn't be too hard, but to do it right we'll want a CI that has the frameworks installed so we can test it

[2015-12-18 16:29] muratg opened #589 "Can't compile against Xamarin.iOS"
_From @bricelam on April 21, 2015 15:33_

Given the following `project.json`...
[code]
...build succeeds, but there is no assembly for the Xamarin.iOS framework.

_Copied from original issue: aspnet/dnx#1679_

[2015-12-18 16:29] muratg commented on #589
Do we need more TFMs? @anurse

[2015-12-18 16:29] muratg commented on #589
_From @davidfowl on December 7, 2015 10:32_

@bricelam does this work yet?

[2015-12-18 16:29] muratg commented on #589
_From @bricelam on December 7, 2015 18:12_

Haven't tried. @natemcmaster?

[2015-12-18 16:29] muratg commented on #589
_From @natemcmaster on December 7, 2015 18:16_

No.

[code]

[2015-12-18 16:29] muratg commented on #589
_From @davidfowl on December 7, 2015 18:20_

Try with the CLI

[2015-12-18 16:29] muratg commented on #589
_From @natemcmaster on December 7, 2015 18:30_

What's the cli incantation I need? Whatever I try for `DOTNET_REFERENCE_ASSEMBLIES_PATH` I get the same error:

[code]

[2015-12-18 16:29] muratg opened #590 "Set NuGet minClientVersion to 2.8.5 when using dnx* TFMs"
_From @anurse on March 30, 2015 17:50_

Older versions of NuGet will be unhappy with these TFMs :). Our packages should require this minimum version of NuGet.

/cc @yishaigalatzer

_Copied from original issue: aspnet/dnx#1544_

[2015-12-18 16:29] muratg commented on #590
_From @glennc on September 4, 2015 17:56_

@anurse Does this still need to happen?

[2015-12-18 16:29] muratg commented on #590
_From @anurse on September 4, 2015 18:13_

I think it should. We should ensure we set the minClientVersion appropriately. We'll need similar code to what NuGet has to determine the appropriate version. This can happen in RC though.

[2015-12-18 16:29] muratg opened #591 "Consider moving the .dnx directory on Windows to a subdirectory of %AppData%"
_From @pranavkm on March 26, 2015 21:54_

On Windows, everything under the `Users` directory with the exception of the `AppData` sub directory is indexed. Consequently restoring packages kicks off the search indexer. It doesn't look like it's actually indexing package contents, but it does index the file names. Moving it would avoid all the extra work.

_Copied from original issue: aspnet/dnx#1507

[2015-12-18 16:29] muratg commented on #591
_From @IRLeif on June 2, 2015 14:13_

I'm not sure if this is related, or if it's a separate issue.

My company limits the Windows profile storage space to 30 MB, and my `.dnx` directory currently takes up 120 MB in my user directory.

It would be very nice if it were possible to somehow move this folder to another location. Is there a config option to change the location of this folder?

I have a

[2015-12-18 16:29] muratg commented on #591
_From @Suchiman on July 2, 2015 21:42_

This also bugs me, but not only for the reasons already mentioned.

DNX behaves like a badly ported unix application on windows:
* being cmd focused (ok, it's still far away from release, expecting more complete tooling later)
* prefixing folders with `.` which is totally useless on windows, cheats on alphabetical sorting and is ugly
* being in the `%USERPRO

[2015-12-18 16:29] muratg commented on #591
_From @ghuntley on August 5, 2015 6:31_

See also https://twitter.com/davkean/status/628456517205823492

[2015-12-18 16:29] muratg commented on #591
_From @bitcrazed on August 5, 2015 6:47_

If only GitHub issues had a voting mechanism. I'd give this 100 thumbs up.

[2015-12-18 16:29] muratg commented on #591
_From @Suchiman on August 5, 2015 6:55_

I've asked this in a ASP.NET Community Standup and this is unlikely to happen http://blogs.msdn.com/b/webdev/archive/2015/07/07/asp-net-community-standup-july-7-2015.aspx see Q&A or the video

[2015-12-18 16:29] muratg commented on #591
_From @shiftkey on August 5, 2015 7:10_

:thumbsup: to this change. Here's the [MSDN reference](https://technet.microsoft.com/en-us/library/cc749104(v=ws.10).aspx) about %USERPROFILE% (well, it's alias %CSIDL_PROFILE%)

<img width="835" alt="screen shot 2015-08-05 at 5 08 25 pm" src="https://cloud.githubusercontent.com/assets/359239/9080170/aabe3686-3b94-11e5-9dab-26cb4b71ccfb.png">

[2015-12-18 16:29] muratg commented on #591
_From @RichiCoder1 on August 5, 2015 7:23_

Agree with all the above. I'm all for cross uniformity, but this is explicitly AppData.

[2015-12-18 16:30] smudge202 commented on #583
The issue mentioned (previously 1837) has been migrated to this repo as issue #584

[2015-12-18 16:30] muratg opened #592 "dnu restore/build/pack should allow globbing patterns"
_From @davidfowl on March 25, 2015 8:12_

dun build/restore/pack should should support globbing patterns so make recursive restore/build easier and more efficient.

[code]
By default, these commands should only work on the current project or allow passing in a target project.

_Copied from original issue: aspnet/dnx#1495_

[2015-12-18 16:30] muratg commented on #592
_From @davidfowl on July 7, 2015 7:54_

Build supports globbing but restore doesn't /cc @ChengTian

[2015-12-18 16:30] muratg commented on #592
_From @ChengTian on July 7, 2015 16:50_

Here is the "globbing" currently used by `dnu restore`:
For `dnu restore <path>`,
1. If `<path>` is a `project.json`, only restore for it
2. If `<path>` is a directory which contains a `project.json`, only restore for the `project.json`
3. If `<path>` is a directory which doesn't contain any `project.json`, recursively find all `project.json` and restore fo

[2015-12-18 16:30] muratg commented on #592
@davidfowl Are there any usage patterns you'd like that's not supported with the Wei's explanation above?  To me, it seems to cover all the important cases.

It's not the same syntax as build but I feel that's fine.

[2015-12-18 16:30] muratg commented on #592
_From @0xdeafcafe on October 19, 2015 0:23_

did this go anywhere? Having it behave in the same manor `dnu restore` would he fantastic.

[2015-12-18 16:30] muratg commented on #592
_From @khellang on October 19, 2015 8:36_

With all the globbing support being added here and there, is it worth proposing that this functionality is pulled into its own little library, i.e. `System.IO.FileSystem.Globbing` under [corefxlab](https://github.com/dotnet/corefxlab/)? Or has this already been done somewhere?

[2015-12-18 16:30] muratg opened #593 "DTH should help Tooling to avoid unnecessary restore"
_From @ChengTian on March 24, 2015 2:35_

We should come up with a smarter algorithm (smarter than `LockFile.IsValidForProject()`) that asks VS to do `kpm restore` only when there is real dependency change.

_Copied from original issue: aspnet/dnx#1466_

[2015-12-18 16:31] muratg opened #594 "Fail the build (or related operations) when the project.json still contains deprecated properties."
_From @troydai on March 6, 2015 21:33_

A few properties in project.json have been renamed. The old names are supported for compatibility for now but should be rejected by RTM/RC.

_Copied from original issue: aspnet/dnx#1329_

[2015-12-18 16:32] muratg opened #595 "Restore errors from the DTH no longer include the line and column number so are not squiggled in project.json"
_From @BillHiebert on November 12, 2015 18:25_

I verified that the same VS tooling running with Beta8 works fine. Looks like some recent change in DNX broke this feature.

_Updated by Troy_
We narrow down the scenario:
0. Set up a healthy project;
1. Change one reference's name so that the reference can't be resolved.
2. Save, VS restore the project, error message shows correct information.
3. Co

[2015-12-18 16:32] muratg commented on #595
_From @davidfowl on November 12, 2015 18:26_

Nothing changed here AFAIK. Do you have a repro?

/cc @troydai

[2015-12-18 16:32] muratg commented on #595
_From @troydai on November 12, 2015 18:34_

I scanned through the places we created `DiagnosticMessage` and didn't find any obvious change. The format is still [there](https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Extensions.PlatformAbstractions/DiagnosticMessage.cs#L19).

The one place that could change the outcome without our change is here: [DiagnosticExtensions](https://github.com/aspne

[2015-12-18 16:32] muratg commented on #595
_From @davidfowl on November 12, 2015 18:37_

Yea sounds like a tooling issue. @BillHiebert can you paste the DTH response.

[2015-12-18 16:32] muratg commented on #595
_From @BillHiebert on November 12, 2015 20:11_

  "Errors": [
    {
      "ErrorCode": "NU1001",
      "SourceFilePath": "C:\\Users\\billhie\\documents\\visual studio 2015\\Projects\\WebApplication1\\src\\WebApplication1\\project.json",
      "Message": "The dependency Microsoft.Extensions.Configuration.Json >= 1.0.0-rc1-final could not be resolved.",
      "Severity": 2,
      "StartLine": 0,

[2015-12-18 16:32] muratg commented on #595
_From @troydai on November 12, 2015 20:46_

The error position is indeed in the formatted message.

[2015-12-18 16:32] muratg commented on #595
_From @troydai on November 12, 2015 22:15_

Ah, I see what you mean. The value are not set correctly.

[2015-12-18 16:32] muratg commented on #595
_From @troydai on November 12, 2015 22:16_

/cc @muratg

[2015-12-18 16:32] muratg commented on #595
_From @BillHiebert on November 13, 2015 18:8_

Very unfortunate that the squiggle feature is broken in RC1. Obviously we need better test coverage to catch this sooner.

[2015-12-18 16:32] muratg commented on #595
_From @troydai on November 13, 2015 18:45_

I can't repo this on the RC1 test build. Talked with @BillHiebert , he's now narrowing down his repo scenario.

[2015-12-18 16:32] muratg commented on #595
_From @troydai on December 4, 2015 0:13_

@BillHiebert @muratg
Do we still need to fix this in RC2?

[2015-12-18 16:32] muratg commented on #595
Yes, let's decide if this is something we'll need to do in the new DTH.

[2015-12-18 16:32] muratg commented on #595
_From @davidfowl on December 4, 2015 6:36_

in the new DTH it should be fixed

[2015-12-18 16:32] muratg commented on #595
:+1:

[2015-12-18 16:32] muratg opened #596 "Support globbing in global.json"
_From @ChengTian on February 19, 2015 22:11_

It's convenient to have
[code]
instead of
[code]

_Copied from original issue: aspnet/dnx#1248_

[2015-12-18 16:32] muratg commented on #596
_From @ChengTian on February 19, 2015 22:20_

WARNING from @davidfowl : if not implemented properly, this globbing can hurt performance. Please remember to expand the pattern at most once in `ProjectResolver`.

[2015-12-18 16:32] muratg commented on #596
_From @ChengTian on July 29, 2015 22:0_

Our `FileSystemGlobbing` package doesn't support globbing directories. Although we can implicitly append `/*/project.json`, this workaround leads to suboptimal performance that we want to avoid.

I filed an issue for adding directory globbing: https://github.com/aspnet/FileSystem/issues/118

[2015-12-18 16:32] muratg commented on #596
_From @Eilon on August 14, 2015 20:1_

Moving this to the Backlog. We decided not to support this for the initial release. Will revisit in the future.

[2015-12-18 16:50] csunali commented on #549
@muratg Could you/someone possibly implement an official way of automatically incrementing the patch version "on demand" without a PS script or something while fixing the mentioned problem?

I quoted "on demand" because I know not everyone would like the patch number to increment at all times.

[2015-12-18 16:52] shahid-pk commented on #546
one work around is manually copying corehost from the package.

[2015-12-18 17:08] muratg opened #597 "Use Matcher to exclude files during bundling"
_From @troydai on February 14, 2015 5:59_

https://github.com/aspnet/XRE/blob/94add15fefff3484f2204bc977bd7373af5dd022/src/Microsoft.Framework.PackageManager/Bundle/BundleProject.cs#L264

There is logic in bundle to exclude specified files from final output. It looks like a proper candidate or matcher consumer.

_Copied from original issue: aspnet/dnx#1212_

[2015-12-18 17:08] muratg commented on #597
_From @troydai on March 5, 2015 16:29_

@glennc @muratg need triage. I think we need this.

[2015-12-18 17:08] muratg commented on #597
@ChengTian Would Matcher be applicable for this case?

[2015-12-18 17:08] muratg commented on #597
Backlogging for now.  We can bring it back if there's interest and we can get resources to work on it.

[2015-12-18 17:08] muratg commented on #597
_From @davidfowl on December 7, 2015 9:54_

@troydai Do we need this?

[2015-12-18 17:08] muratg opened #598 "DTH leaks a thread when clients disconnect"
_From @jrieken on January 29, 2015 12:54_

@davidfowl - as discussed and exposed by Omnisharp

_Copied from original issue: aspnet/dnx#1148_

[2015-12-18 17:08] muratg commented on #598
@troydai please sync-up on @davidfowl if you're not up to date on the leak. We can move this to beta 7 as well.

[2015-12-18 17:08] muratg commented on #598
_From @troydai on September 8, 2015 18:45_

@muratg talked to @davidfowl just now, let's move this out of beta8 for now.

[2015-12-18 17:08] muratg commented on #598
_From @troydai on October 6, 2015 22:47_

Hi @jrieken , it has been 9 months since this this issue was filed. Do you still repo this issue? If you haven't tried out this issue recently, can you let me know how you repo and detected this issue?

[2015-12-18 17:09] muratg commented on #598
_From @jrieken on October 7, 2015 7:44_

You can reproduce this when using OmniSharp and DTH. There is [code in OmniSharp](https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Dnx/DesignTimeHostManager.cs#L95) that tries to connect to DTH in short intervals such that [this message](https://github.com/aspnet/dnx/blob/6e6d83951a8d80dc43c82140e3cace69b0bc399d/src/Microsoft.Dnx.Desi

[2015-12-18 17:09] muratg commented on #598
_From @troydai on October 7, 2015 16:48_

Thanks @jrieken. I'll look into this.

[2015-12-18 17:09] muratg opened #599 "Inherit some project.json properties from global.json"
_From @djanosik on January 19, 2015 19:25_

I think some common `project.json` properties, like *authors*, *tags*, *projectUrl* and other metadata should inherit from `global.json`. It would make it possible to share some values across projects.

_Copied from original issue: aspnet/dnx#1100_

[2015-12-18 17:09] muratg commented on #599
_From @davidfowl on January 22, 2015 19:5_

Sounds like a great idea. I think we had another bug to do this.

[2015-12-18 17:09] muratg commented on #599
_From @smbecker on May 7, 2015 20:59_

Should dependency versions be apart of this? In a large system with a lot of projects, updating a reference to the latest version and ensuring that all projects are using the same version can become tedious and error prone. This would be a lot simpler if the dependency version was declared in global.json and then in the project.json, the version was left empt

[2015-12-18 17:09] muratg commented on #599
_From @djanosik on May 10, 2015 17:5_

@smbecker I think it shouldn't, it feels wrong to me. I have some large solutions and I can't imagine this to be an issue.

[2015-12-18 17:09] muratg commented on #599
_From @MiguelAlho on June 15, 2015 16:18_

I agree with @smbecker, especially because I've been through some projects that suffered from not having a way to manage packages globally, for the entire solution. Because packages were added per project, and as the project grew, there tended to be multiple versions of the same package being referenced (like castle, log4net, automapper...) which meant pr

[2015-12-18 17:09] muratg commented on #599
_From @MiguelAlho on June 16, 2015 9:26_

Just finished reading https://github.com/aspnet/dnx/issues/819 . Internalizing libraries in each solution project will help avoid the first problem mentioned (multiple versions of the same package conflicting). Not sure it solves it completely - for instance, if in the same solution project A refs library Bv1.1, project B refs project A AND library Bv1.2 a

[2015-12-18 17:09] muratg opened #600 "Figure out servicing index location on non windows machines"
_From @davidfowl on December 6, 2014 19:59_

/cc @lodejard @glennc

_Copied from original issue: aspnet/dnx#975_

[2015-12-18 17:09] muratg opened #601 "Enable building meta-packages"
_From @bricelam on December 4, 2014 0:23_

Calling `kpm build` on the following `project.json` file (with no source code)...

[code]

...should produce an empty package with a nuspec similar to the following.

[code]

_Copied from original issue: aspnet/dnx#958_

[2015-12-18 17:09] muratg opened #602 "Dependency resolution changes context during packing with --no-source"
_From @Tragetaschen on December 2, 2014 10:20_

I have the following setup:
[code]
The reason is that the Nuget's Ninject does not work with Mono due to missing System.Reflection functionality and I have to compile it with the MONO flag. MyProject references Microsoft.Framework.DependencyInjection.Ninject and I'm trying get dependency resolution to pick up Ninject from the local folder.

The probl

[2015-12-18 17:09] muratg commented on #602
_From @davidfowl on December 2, 2014 10:39_

Yes that sounds like a bug. Need to think about it a bit but at first glance it *should* be consistent.

[2015-12-18 17:09] muratg commented on #602
_From @Tragetaschen on December 4, 2014 9:56_

For now, I have temporarily removed global.json and DependencyInjection.sln from my Fork of DI.

The main issue I think is: what happens when (in my example) DependencyInjection in turn also has a submodule of Ninject and references that from its global.json?
What about the following:

Instead of "sources"ing a directory, global.json also supports inc

[2015-12-18 17:09] muratg commented on #602
_From @troydai on December 29, 2014 23:26_

A repo: https://github.com/troydai/kruntime-issue950

[2015-12-18 17:09] muratg commented on #602
_From @troydai on January 7, 2015 23:7_

I'll begin working on this issue now. My primary goal to to address the inconsistent behaviors between `kpm pack` and `kpm pack --no-source`. As an extended goal, I'll also look into the possibility of having a complete solution to the multiple `global.json` in a submodule git repository.

[2015-12-18 17:09] muratg commented on #602
_From @troydai on January 8, 2015 1:13_

## Notes

### The inconsistency between `pack` and `pack no source`

When a project is being packed the action to be taken are different (see [here](https://github.com/aspnet/KRuntime/blob/dev/src/Microsoft.Framework.PackageManager/Packing/PackProject.cs#L45)) By default the pack is just merely copying files, `global.json` is not participated in the procedu

[2015-12-18 17:09] muratg commented on #602
_From @Tragetaschen on January 8, 2015 8:25_

Yes, I'm pro-Option1. However, I wouldn't go as far as to make this automatic. When I add a submodule, already I have to change my own, primary global.json to include the submodule's (src-)path to the `source`-array. I think it's perfectly fine to instead "include" the submodule's global.json and add what `source`s are mentioned there. With that, I can

[2015-12-18 17:09] muratg commented on #602
_From @troydai on January 8, 2015 17:28_

Thanks for the feedback @Tragetaschen .

Now here's a dilemma we may face in option 1. Assuming this sample. An application has three external submodules. Among them, one of them referee to other external references, and one of them is the a different version of upper level dependency.

[code]

Here's the `global.json` of `lib2`
[code]

Now assume using fo

[2015-12-18 17:09] muratg commented on #602
_From @Tragetaschen on January 8, 2015 18:10_

I don't see a problem that doesn't exist today. Or I missed something fundamentally :)

Including a global.json is a shorthand for expanding its source-array. So the problem with lib1 also exists today when I use the following, primary global.json.
[code]
With this, the answer is as far as I understand: `external/lib1.version2/src` is exposed, which i

[2015-12-18 17:10] muratg opened #603 "dnu build, pack and publish commands should default to and require a meaningful configuration"
_From @mfrost66 on November 19, 2014 19:19_

Running kpm build without specifying a --configuration defaults to a "Debug" configuration.  If a config is defined in project.json, this should be the default.  If a configuration is specified that is not found in the project.json, this should error.

_Copied from original issue: aspnet/dnx#909_

[2015-12-18 17:10] muratg opened #604 "Enable Background GC"
_From @alinapopa on November 11, 2014 6:0_

Currently klr.exe runs with non-concurrent garbage collection. Background GC should be enabled by adding STARTUP_CONCURRENT_GC to startup flags in the host.

_Copied from original issue: aspnet/dnx#882_

[2015-12-18 17:10] muratg commented on #604
_From @davidfowl on November 11, 2014 6:4_

Looks like #464

[2015-12-18 17:10] muratg opened #605 "Throw when putting an invalid author name"
_From @Praburaj on August 21, 2014 20:39_

This is a negative case, but just trying to cover scenarios.

Create an app and put the authors value as null like below

[code]

Try doing a kpm build. Package is successfully generated. But when opening the package in nuget package explorer i see this error:

![image](https://cloud.githubusercontent.com/assets/2294732/4003106/416b1f84-2973-11e4-8005-569

[2015-12-18 17:10] muratg commented on #605
_From @StefH on February 4, 2015 19:3_

Same error occurs when using empty string or empty strings.

[code]

or

[code]

[2015-12-18 17:10] muratg opened #606 "k run/web and kpm build should have same set of restrictions on names"
_From @Praburaj on August 21, 2014 17:37_

For example create a console app with name (Notice a space in the folder name):
[code]

Try running k run in this folder to see the application successfully works.
Try running kpm build in this folder to see the following error:
[code]

_Copied from original issue: aspnet/dnx#557_

[2015-12-18 17:10] muratg commented on #606
_From @atrauzzi on September 20, 2014 5:56_

:+1:

[2015-12-18 17:10] muratg commented on #606
_From @DamianEdwards on June 15, 2015 9:54_

Some attendees just ran into this during our workshop at NDC Oslo. In this case it was an underscore in the project name. Everything works fine until they try to run `dnu publish --no-source` and then they get the invalid character message.

[2015-12-18 17:10] muratg opened #607 "Throw when putting an invalid author name"
_From @Praburaj on August 21, 2014 20:39_

This is a negative case, but just trying to cover scenarios.

Create an app and put the authors value as null like below

[code]

Try doing a kpm build. Package is successfully generated. But when opening the package in nuget package explorer i see this error:

![image](https://cloud.githubusercontent.com/assets/2294732/4003106/416b1f84-2973-11e4-8005-569

[2015-12-18 17:10] muratg commented on #607
_From @StefH on February 4, 2015 19:3_

Same error occurs when using empty string or empty strings.

[code]

or

[code]

[2015-12-18 17:10] muratg commented on #607
This issue was moved to dotnet/cli#605

[2015-12-18 17:11] muratg opened #608 "k run/web and kpm build should have same set of restrictions on names"
_From @Praburaj on August 21, 2014 17:37_

For example create a console app with name (Notice a space in the folder name):
[code]

Try running k run in this folder to see the application successfully works.
Try running kpm build in this folder to see the following error:
[code]

_Copied from original issue: aspnet/dnx#557_

[2015-12-18 17:11] muratg commented on #608
_From @atrauzzi on September 20, 2014 5:56_

:+1:

[2015-12-18 17:11] muratg commented on #608
_From @DamianEdwards on June 15, 2015 9:54_

Some attendees just ran into this during our workshop at NDC Oslo. In this case it was an underscore in the project name. Everything works fine until they try to run `dnu publish --no-source` and then they get the invalid character message.

[2015-12-18 17:11] muratg commented on #608
This issue was moved to dotnet/cli#606

[2015-12-18 17:11] muratg opened #609 "Should it be an error for project.json to have duplicate references?"
_From @Eilon on May 6, 2014 16:10_

Currently it is ignored, e.g.: https://github.com/aspnet/WebFx/blob/40e7fcc9ba9d747149dddf9796a61a582cc64077/test/Microsoft.AspNet.Mvc.Core.Test/project.json (which has since been "fixed")

I tried in a csproj file and it is OK to have dups, but I wonder if it makes sense to be more strict? I presume it's typically user error. I'm not sure what happens if you ha

[2015-12-18 17:11] muratg commented on #609
_From @glennc on May 27, 2014 21:28_

We should at least add a warning when you have the same thing defined twice

[2015-12-18 17:11] muratg commented on #609
_From @Praburaj on January 7, 2015 23:43_

Today tooling shows a squiggle when there are duplicate references within the same `dependencies` node. It does not show a squiggle if the same dependency is defined in both root level dependency and a specific target framework dependency.

![image](https://cloud.githubusercontent.com/assets/2294732/5655506/cb8ca1ce-9683-11e4-875b-95d1a9cc3945.png)

[2015-12-18 17:11] muratg commented on #609
_From @troydai on January 8, 2015 3:41_

The warning may be just caused by duplicate keys in json object.

[2015-12-18 17:11] muratg commented on #609
_From @Praburaj on January 8, 2015 3:44_

yeah that's right - its due to the JSON schema validation. I thought of mentioning this as there is something right now rather than nothing.

[2015-12-18 17:11] muratg commented on #609
_From @davidfowl on July 7, 2015 4:11_

Yes!

[2015-12-18 17:12] muratg opened #610 "kpm pack --no-source: should remove unused frameworks from project.json in the packed version"
_From @borgdylan on October 27, 2014 14:35_

Currently kpm pack only builds dependencies for the frameworks actually used by the packed app. This is ok but should also remove the unused frameworks from the dependency project.json. This means that dependencies of the unused frameworks will not be needed. Currently i have a dependency that uses a particular package only on net40. My app runs on aspn

[2015-12-18 17:12] muratg commented on #610
_From @davidfowl on December 7, 2015 9:22_

There's no such thing as an unused framework. Why is it in there in the first place.

[2015-12-18 17:29] enricosada commented on #260
:+1: also because are this zip is big ( dunno you internally at ms, but outside is really a big download )
the build.cmd is really nice to test a change

[2015-12-18 17:49] gkhanna79 commented on #496
@markwilkie Have you had a chance to think about this?

[2015-12-18 17:52] livarcocc commented on #278
3b9828404eab0aa07bfa266549fd37fa1acd5eff

[2015-12-18 17:52] #278 closed

[2015-12-18 17:54] livarcocc commented on #473
This is the same issue I fixed for compiler csc and compiler native. I will look into it.

[2015-12-18 17:59] markwilkie commented on #496
Yes - this is on my radar.  Limited folks in the office until the new year, but we'll get the right thoughts together.

[2015-12-18 18:35] livarcocc commented on #345
This is the same issue that was happening to compile csc and compile native. I have a fix for it in PR and there is another bug for it. I will close this bug and track it in the other one.

[2015-12-18 18:35] livarcocc commented on #345
Tracked in #473.

[2015-12-18 18:35] #345 closed

[2015-12-18 19:41] anurse commented on #260
It is pretty fast internally, but I totally agree about making it a skippable part of the build :). We intend to shrink the ZIP down a lot more, right now it has three complete copies of the CoreCLR (one for apps to use, one for the tools to use and one for the embedded DNX we use to hackily implement `dotnet restore` :)) so there's a lot of duplication to remove :)

[2015-12-18 19:57] brthor commented on #260
See #544

This will be great for developer builds :smile:

[2015-12-18 20:07] livarcocc commented on #473
Resolved by 64946cf7d75b9143020ea0b69ef4d04e683abd00

[2015-12-18 20:07] #473 closed

[2015-12-18 20:15] livarcocc commented on #500
- [ ] Authenticode sign
- [ ] Strong name signing

[2015-12-18 20:16] brthor opened #615 "Drop NuGet.Config with dotnet new"
Until we RC, it's expected for `NETStandard.Library` to be available via myget.

In order to provide a `dotnet new` template which leverages the StdLib, we should drop a NuGet.config when a user invokes `dotnet new` with an entry for `https://myget.org/f/dotnet-core`

cc @piotrpMSFT @Sridhar-MS

[2015-12-18 20:17] pakrym opened #616 "Move `refs` folder generation from dotnet-compile to dotnet-publish"
After https://github.com/dotnet/cli/pull/425 gets merged in we are always copying compile time dependencies to refs output folder when `preserverCompilationContext` option is enabled. This should be replaced by some resolution logic for non publish scenarios when we expect to run with all nuget packages already available and only used for flat publishing.

@anurse  @davidfowl

[2015-12-18 20:19] brthor commented on #535
This problem is caused by `NETStandard.Library` package not being available on NuGet yet. For the time being it will only be available on Myget.

Fix for this issue is being tracked here: #615

[2015-12-18 21:42] anurse commented on #53
We do this, and will do it better soon.

[2015-12-18 21:42] #53 closed

[2015-12-18 21:52] anurse commented on #498
I've adjusted the title to be a little more accurate and will use this issue to cover porting the RID detection that now exists in PlatformAbstractions.

[2015-12-18 22:01] anurse opened #618 "Fix dotnet-cli version numbers"
It looks like the version numbers have gotten a little weird. There have been some changes here that I'm not familiar with but now we're getting AssemblyInformationVersion set to `1.0.0-1.0.0.1450461120` which is invalid for a NuGet version... I think it's because we're setting `DOTNET_BUILD_VERSION` to a full version number, when it is expected to only be the part after `-` (for example `1.0.0-*`

[2015-12-18 22:08] brthor commented on #618
`DOTNET_BUILD_VERSION` does contain the full version right now, which is useful because it's used for the versions of the packages.

`VersionSuffix` contains the bit you are looking for.
( https://github.com/dotnet/cli/blob/master/scripts/build.ps1#L21 )

It doesn't look like we have an equivalent for Non-Windows. @krwq  ?

[2015-12-18 22:48] anurse opened #619 "Change lock file searching to use real RID graph"
Right now, `dnu restore` (and thus `dotnet restore`) always uses `win7-x64`/`win7-x86` as the RID when restoring on Windows. This is due to some legacy reasons around not wanting to force a re-restore and re-publish of a DNX app when transferring from a Win7 box to a different box. As a result, DNX had code to search through the lock file for an appropriate target. This was different than the logi

[2015-12-18 22:50] #260 closed

[2015-12-18 23:18] jeremymeng opened #620 "Bash completion for `dotnet`"
It would be nice to have completions for various `dotnet` commands/options.

[2015-12-19 00:11] hunter-xue commented on #535
@blackdwarf My MAC OS X version is: EI Capitan 10.11.2

[2015-12-19 00:55] cdmihai commented on #532
I created a readme for Build: https://github.com/cdmihai/cli/wiki/Build-readme
And also modified the readme for compile: https://github.com/cdmihai/cli/wiki/Compiler---readme

I'll include them in my current PR once I'm done resolving conflicts :)

[2015-12-19 06:22] #615 closed

[2015-12-19 06:26] krwq commented on #535
@hunter-xue, could you check if everything is working with the latest bits?

[2015-12-19 22:59] gkhanna79 opened #623 "Ubuntu build failures"
@Sridhar-MS After syncing to your changes, I see the following failure:

dpkg-buildpackage: source package dotnet-dev
dpkg-buildpackage: source version 1.0.0.1450562558-1
dpkg-buildpackage: source distribution unstable
dpkg-buildpackage: source changed by Microsoft <dotnetcore@microsoft.com>
 dpkg-source --before-build dotnet-dev-1.0.0.1450562558
dpkg-buildpackage: host architecture amd64
dpkg-che

[2015-12-19 23:11] gkhanna79 opened #624 "Add --ilcsdkpath support for native compilation"
This will enable to consume a custom build of ILCompiler.SDK when compiling an app.

Associated with PR: https://github.com/dotnet/cli/pull/622

[2015-12-19 23:30] jchannon commented on #620
Agree , Same here https://github.com/aspnet/dnvm/issues/498

[2015-12-19 23:57] hunter-xue commented on #535
@krwq Yes, everything is the last bits. In fact, dotnet never worked on my MAC OS X.

[2015-12-20 04:07] schellap commented on #624
We are already using the recently built ILC SDK in our build system in the project.json and issuing a publish on the just built SDK. Why is this an issue in the first place and why is this change necessary?

[2015-12-20 04:08] schellap commented on #624
If you want to have a cross compiler, this is not the right fix. We should relayout the package such that when we issue publish (with @brthor 's support to publish) we end up with the following structure:

x64\<ILC SDK contents>
x64_arm64\<ILC SDK contents>

[2015-12-20 09:26] schellap opened #627 "CoreHost should yield better exit codes than 1 on failure"
@gkhanna79 's comment on PR
https://github.com/dotnet/cli/pull/534

[2015-12-20 10:44] davidfowl opened #628 "Fix target frameworks for Class Libraries"
Libraries should be targeting a version of `dotnet5.x` TFMS not `dnxcore50` or `dnx451`

/cc @piotrpMSFT @anurse @pakrym

[2015-12-20 11:20] davidfowl opened #629 "libcoreclr shim out of date?"
[code]

I know dependencies are wrong somewhere but I'm not sure where. So here are a few questions:

- Should this still be in libcoreclr? I thought the only thing left was semaphores... (Didn't this move to **System.Native**)?
- If it did move, why would it still be loading? Is it my version of System.Console? I'm using **System.Console 4.0.0-rc2-23616**

/cc @anurse @stephentoub @ericstj

[2015-12-20 11:26] davidfowl commented on #629
Adding `"NETStandard.Library": "1.0.0-rc2-23616"` worked...

[2015-12-20 11:26] #629 closed

[2015-12-20 18:33] jonathansotoan commented on #585
Any hint about when this is going to be implemented?

[2015-12-21 00:01] blackdwarf commented on #532
Thanks, will take a look at the PR.

Thanks,
Z

Sent from my tricorder

On Fri, Dec 18, 2015 at 4:55 PM -0800, "Mihai Codoban" <notifications@github.com<mailto:notifications@github.com>> wrote:

I created a readme for Build: https://github.com/cdmihai/cli/wiki/Build-readme
And also modified the readme for compile: https://github.com/cdmihai/cli/wiki/Compiler---readme

I'll include them in my curre

[2015-12-21 00:48] hunter-xue opened #631 "Link to incorrect executable files on MAC OS X"
dotnet -> /usr/local/share/dotnet/cli/bin/dotnet
But "/usr/local/share/dotnet/cli" is empty.

[2015-12-21 07:50] ChengTian commented on #597
@muratg , yes, the idea is whenever we need pattern globbing, we should always use Matcher to do the work. The consistency ensures that users have a single set of rules to follow when they do file inclusion/exclusion for preprocessing/compilation/bundling.

[2015-12-21 08:31] flipchart commented on #591
Thought I'd weigh in. My .dnx folder is currently sitting at 2.06GB. This makes it a prime target to get off my primary drive (128 GB SSD drive, currently almost full due to the HUGE VS installation, along with the emulator VMs that want to be under AppData as well).

[2015-12-21 09:44] SirusDoma opened #633 "Native compilation failed"
I'm trying to compile the project with native compilation
However I got an error, here the console messages:

[code]

It's seems the compiler cannot find the header file (`stdint.h`) that included under the cppsdk...
While the application code itself is only a simple hello world:

[code]

any ideas?

[2015-12-21 18:37] SirusDoma commented on #633
I also tried 'dotnet compile --native` and it give me:
`LINK : fatal error LNK1104: cannot open file 'kernel32.lib'`

I tried to run the cmd as administrator and it still not working.
any ideas?

[2015-12-21 18:42] shahid-pk commented on #633
@SirusDoma  it looks like you are targeting .net framework 4.5 but compilation to native is only supported for coreclr.

[2015-12-21 19:28] pakrym commented on #422
Resolved by https://github.com/dotnet/cli/commit/3c1c747d9dfd582b34c4ef0eefd2c09c5c498ae4

[2015-12-21 19:28] #422 closed

[2015-12-21 19:53] victorhurdugaci opened #635 "dotnet pack doesn't generate XML docs"
`dnu pack` used to generate xml docs. It seems that `dotnet pack` doesn't do the same.

Unless I'm missing something, there doesn't seem to be any way to get xml docs generated with dotnet.

cc @anurse @davidfowl

[2015-12-21 20:11] blackdwarf commented on #631
@hunter-xue is this with the latest install?

[2015-12-21 20:11] blackdwarf commented on #628
@davidfowl is this our "official" TFM as of now?

[2015-12-21 20:14] blackdwarf commented on #546
@teodimache yes the cross-publishing story is not there yet.

[2015-12-21 20:19] davidfowl commented on #628
The official tfms will be netstandard when they come online. Dotnet5.x is the equivalent right now

[2015-12-21 20:28] blackdwarf commented on #291
@anurse is the change you mention above done?

[2015-12-21 20:30] blackdwarf commented on #390
I believe this is now done, so closing.

[2015-12-21 20:30] #390 closed

[2015-12-21 20:48] blackdwarf commented on #520
@brthor there are two things why I wanted this issue to exist:

1. In order to make a call on whether manual installing is using a script or using very manual works (i.e. curl the tarball, untar it, copy etc.)
2. If we make a call on using a script (a-la install.sh/install.ps1) to track the work needed to make sure that the script is ready for consumption.

For instance, if we are using the script

[2015-12-21 22:20] TJSoftware commented on #535
I am seeing the same issue with `Win 10` however the `-s` workaround does not work for me (see results in screenshot below).

I am able to open VS 2015 and let the restore happen from there.  Even after the restore processes in VS I am unable to run the command line restore.

The error that I see without the `-s` workaround is ...

[code]

![image](https://cloud.githubusercontent.com/assets/482341

[2015-12-21 23:26] hunter-xue commented on #631
@blackdwarf Yes, I download and install the package from https://github.com/dotnet/cli yesterday.

[2015-12-22 01:01] weshaggard commented on #531
What paths are you planning to probe? How does this relate to providing a targeting pack in a package? https://github.com/dotnet/cli/issues/191

[2015-12-22 01:06] davidfowl commented on #531
@weshaggard The default mono install locations on each OS. @anurse went on vacation though :smile:

OSX - `/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/xbuild-frameworks/`
Linux - ???

It's directly related to that bug. Though there's no way to target mono specifically today. If there was, this would be needed for that.

[2015-12-22 02:28] victorhurdugaci commented on #531
The paths are here: https://github.com/aspnet/Universe/blob/dev/KoreBuild-dotnet/build/KoreBuild.sh#L48-L56

[2015-12-22 02:47] SirusDoma commented on #633
So I found something like `"dnxcore4.5.1": {}` under `frameworks`, I deleted it.
here my `project.json`:
[code]
I still getting same error..

[2015-12-22 04:21] davidfowl commented on #635
Good catch! We should probably implement #312 as part of this.

/cc @pakrym @agocke @jaredpar

[2015-12-22 10:08] shahid-pk commented on #633
@SirusDoma  do you have visual studio 2015 with c++ support that is a requirement if you want to compile it c++  ? if yes than that is the limit of my knowledge , a team member can help you out better.

[2015-12-22 11:52] SirusDoma commented on #633
I have visual studio 2015 with C++ installed
Thanks for helping anyway!

[2015-12-22 14:30] blackdwarf commented on #535
@TJSoftware could you provide more details? How did you install the CLI tools? Was it MSI or local install?

[2015-12-22 15:04] TJSoftware commented on #535
@blackdwarf Sorry, I started a post elsewhere with that info and then I found this and I forgot to replicate all that info here.

#### Summary
I followed the steps on [dotnet getting started](http://dotnet.github.io/getting-started/) by downloading the exe and installing.  After running `dotnet new` I was unable to execute `dotnet restore` with the error I gave previously.

#### Workaround
Opening

[2015-12-22 15:16] davidfowl commented on #535
@TJSoftware There's no first class support for `dotnet` in visual studio. Anything you're doing today will be DNX based unless you know exactly the things to tweak (which are not documented anywhere). If you're still having trouble downloading the Standard library then your nuget feeds aren't configured to use the dotnet corefx feed.

[2015-12-22 15:37] TJSoftware commented on #535
@davidfowl Should I still be able to run the `dotnet restore` in command line?  Because that is where I originally saw the error.

[2015-12-22 15:55] gkhanna79 commented on #453
@Sridhar-MS @piotrpMSFT I dont see CentOs at https://github.com/dotnet/cli. Is CentOs support for CLI targeted for RC2?

[2015-12-22 18:44] gkhanna79 commented on #633
Please attempt the compilation from within VS 2015 X64 Native Tools command prompt.

[2015-12-22 18:46] gkhanna79 commented on #624
Fixed (see PR referenced above).

[2015-12-22 18:46] #624 closed

[2015-12-22 18:48] dannyvv opened #639 "Create a method on command called ExecuteWithForwarding"
.ForwardStdOut()
.ForwardStdErr()
.Execute();

is littereted throughout the tree, a helper ExecuteWithForwarding would be cleaner

[2015-12-22 18:50] gkhanna79 opened #640 "AV during CodeAnalysis"
A bunch of CLI Windows CI jobs are failing due to this (and for me, it fails locally too). Here is an example of the failing job:

http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/debug_windows_nt_prtest/256/console

Below is the failure call-stack:

16:46:06    at Microsoft.Cci.ISymUnmanagedWriter2.Close()
16:46:06    at Microsoft.Cci.PdbWriter.WriteTo(Stream stream)
16:46:06    at Microsoft.Code

[2015-12-22 18:51] gkhanna79 commented on #640
CC @piotrpMSFT @schellap @brthor

[2015-12-22 18:57] SirusDoma commented on #633
I tried it with VS 2015 X64 Native Tools command prompt
It give me different errors:

[code]

[2015-12-22 19:02] gkhanna79 commented on #633
Native compilation is expected to work for HelloWorld scenarios. How did you generate the project.json you shared above? Could you please try the following steps:

1) Make sure you have CLI tools installed.
2) Create a new Folder, HW, and switch to it.
3) Issue "dotnet new"
4) Issue "dotnet restore"
5) Issue "dotnet compile --native --cpp"

Does this work for you?

[2015-12-22 19:19] SirusDoma commented on #633
It's work!
But only works with VS 2015 X64 Native Tools command prompt

Maybe something was wrong with my sample project, I use Visual Studio project template to create that project using Console Application (Package), it says it able to target .NET Framework or .NET Core..

Anyway I noticed that the compiled exe needs the .dll and .deps files, but the .dll itself is not native..
It bring me to so

[2015-12-22 19:26] gkhanna79 commented on #633
This is by design since that gets us access to the native compilation tools (cl and link).

CLI based projects start with "dotnet new". @richlander Are you aware of VS project system implying compatibility with .NET Core/CLI?

The native binary will live under HW1\bin\Debug\dnxcore50\native. I think you are looking at contents of HW1\bin\Debug\dnxcore50\.

[2015-12-22 19:33] SirusDoma commented on #633
oops, it seems still not working, I was mistaken it is not only the warnings, but it also contains some errors.

native folder contains nothing but HW.pdb
when I try the native compilation, here what I got:
[code]

[2015-12-22 19:49] gkhanna79 commented on #633
I believe I know what is happening. Can you try "dotnet compile --native --cpp -c Release"?

[2015-12-22 19:57] glennc commented on #600
Not sure if there are other issues to talk about the breadcrumb location. But we need to think about permissions on that as well. It has very specific ACLs on Windows and I don't know what the equivalent is on Linux or OS X.

[2015-12-22 20:04] gkhanna79 commented on #335
I have a fix for it that I will commit with https://github.com/dotnet/cli/pull/632

[2015-12-22 20:08] jaredpar commented on #640
Assigned to @tmat as this appears to be an issue in the PDB layer

[2015-12-22 20:14] borgdylan opened #641 "dotnet-publish: Is there a limitation on what projects are publishable?"
I have managed to run dotnet-publish on the cli projects but not on a simple command line app that runs fine using dotnet-run.

[2015-12-22 23:01] krwq commented on #535
@TJSoftware, I can't seem to be able to repro.

- Are you using the freshest dotnet cli? ( https://github.com/dotnet/cli#installers )
- Do you have the freshest dotnet.exe in your environment var PATH and that you are running it? (use `where dotnet` for Windows and `which dotnet` for other OSes)

Here is what I do:
[code]

dotnet new should generate 3 files. Program.cs is a regular hello world. Pr

[2015-12-22 23:37] krwq commented on #503
I'm not sure how to repro when original issue isn't there. Probably something like this:
- create new project, make sure it has any runtime dependency
- remove the runtime dependency and make sure the exe will fail with missing assembly error
- run same exe using dotnet run and observe error

[2015-12-23 00:37] gkhanna79 commented on #640
This has pretty much hosed the Windows CI build of the repo!

[2015-12-23 02:41] jaredpar commented on #640
@gkhanna79 do you have a dump we can look at?  The callstack itself is completely expected.  Probably won't be able to make much progress on this without a dump to investigate.

[2015-12-23 04:01] SirusDoma commented on #633
I'm sorry for late reply
It give me an error:

[code]

[2015-12-23 04:07] davidfowl commented on #639
Yah. That sounds good.

[2015-12-23 04:17] davidfowl commented on #503
I don't understand this issue...

[2015-12-23 04:25] gkhanna79 commented on #633
You missed a "-c" in the command. See my response earlier.

[2015-12-23 06:12] xanather commented on #591
@flipchart if you've been using DNX for a while there is no doubt the packages folder within the .dnx directory is full of junk, its safe to delete it and only restore the latest packages your projects need (should clear up some space). Could also delete older runtimes too.

[2015-12-23 12:42] SirusDoma commented on #633
oops, my bad, still not working
[code]

[2015-12-23 16:27] TJSoftware commented on #535
@krwq Thank you for attempting to replicate this.  I downloaded the exe from the installers in the link you provided.  First I did a repair and I still saw the issue.  I then removed and reinstalled and I still see the issue.  The exe that I downloaded and the link that you provided both have the revision number `{107F8D22-2042-4C54-BBB6-9FBC2045A6A5}`.  I tested using both command prompt and powe

[2015-12-23 16:59] blackdwarf commented on #631
@hunter-xue did you remove all of the symlinks before installing the new package? That is, did you uninstall and then reinstall or just re-ran the PKG?

[2015-12-23 17:56] cdmihai commented on #510
I see that issue #237 discussed problem nr. 2 from my previous post: introducing a generic mechanism which allows users to hook up event listeners (or just script runs) on pre / post dotnet verb execution.

This again is different from problem 1. for which we need to create a `deploy` verb that performs actions which most / all projects need (maybe configurable through project.json or flags)

[2015-12-23 18:32] krwq commented on #641
I think that's a bug on our side. cc: @piotrpMSFT @blackdwarf @davidfowl

[2015-12-23 18:37] blackdwarf commented on #520
After some consideration, I think we should have two ways of getting the "local install" up and running:

1. 100% manual way
2. Install scripts (install.sh for *nix and install.ps1 for Windows)

The first is easy enough to reason about. The users download the archives (zip/tarball) and then unzip them to a given location. They need to set all of the environment variables manually and so forth. Thi

[2015-12-23 18:40] glennc commented on #520
Given that this is for end users we should check for pre-reqs as well if we can, and at least warn if they aren't there.

I see no reason at the moment why this script couldn't be used in the build as well though, no need to maintain two.

[2015-12-23 19:10] blackdwarf commented on #641
@borgdylan can you give us more info? What does your `project.json` look like? What is the OS and what is the version of the CLI you are using?

[2015-12-23 19:14] blackdwarf commented on #520
@glennc sure, whether they are separate or same is really just a decision of the implementer. ;) We can check for pre-reqs, that's a good idea.

[2015-12-23 19:32] cdmihai opened #643 "Support multiple file loggers in addition to console logging"
It's nice to see CLI output both in console and in a file (easier to search than to keep scrolling up).

I am currently using `& .\build.cmd | Tee-Object -FilePath out | Write-Host` to write to both, but some output still leaks to the console instead of to the file.

I propose the following flags to dotnet:
- `--no-console` - skips console
- `--file-logger <log path>` - prints to the specified fil

[2015-12-23 20:11] NikolaiTillmann commented on #510
Having PreCompile and PostCompile scripts tightly wrapping each actual compiler invocation is problematic for reliable incrementality, so we need to offer something better.

Options are a separate "deploy" verb that runs deployment scripts, or a new concept of a PostBuild script that runs after the entire build is done.

If the goal of the CLI is to tease apart pieces of functionality that are log

[2015-12-23 20:21] piotrpMSFT commented on #270
The build script complexity is making development quite expensive. I don't want to take on migrating to Cake or similar just yet since this will likely require a CoreCLR port. For the time being, I want to enable a few common scenarios:
* Full builds are predictable
* On a dev box, expensive tasks can be minimized in execution. Once a build is done, portions of the build should be repeatable witho

[2015-12-23 21:48] cdmihai commented on #270
It would be also nice for build.cmd to propagate dotnet arguments for dotnet like --verbose. It would be easier than editing the script in plance and then stashing that change :)

Another useful argument for build.cmd would be to just redo stage2

[2015-12-23 21:53] borgdylan commented on #641
I have meaning to close this since yesterday. This occurs only if the project is in a subdirectory of where the CLI is installed. If the project is moved out, publishing carries on normally.

I am using a custom build that targets mono rather than CoreCLR. I will be making all my changes public on github as soon as I get a proper build script fleshed out.

[2015-12-23 21:58] PaulDotNet commented on #633
Just a suggestion for dotnet utility. There should be some options to show what exactly it is doing. What compiler options does it use, what paths, environment variables, are there any temporary batch files, etc. I am stuck with different issues at the moment and this lack of visibility is frustrating.

[2015-12-23 22:13] NTaylorMullen opened #645 "Can't publish on OSX 10.11 - Travis-ci"
Just upped the aspnet/Common repository to run on OSX 10.11 and started encountering odd publish issues. See [here](https://travis-ci.org/aspnet/Common/jobs/98592698#L1662).

Looks like it can't find [matching project contexts](https://github.com/dotnet/cli/blob/568d343de9baa7c30fd1bcd0c26e9354d08f52f8/src/Microsoft.DotNet.Tools.Publish/PublishCommand.cs#L44-L49).

[2015-12-23 23:41] hunter-xue commented on #631
@blackdwarf  No, I did not remove the previous version before I install. But the symbol link in previous version is correct.,

[2015-12-24 00:08] blackdwarf commented on #631
@hunter-xue no, we've changed the install location. You can see that in #517. Can you remove all, re-install and see if it repros?

[2015-12-24 01:35] gkhanna79 commented on #335
Fixed with https://github.com/dotnet/cli/pull/632

[2015-12-24 01:35] #335 closed

[2015-12-24 09:06] borgdylan commented on #641
After updating the code, I can't seem to publish anything but the actual CLI bits. I conducted all tests with my CLI fork that targets mono that I installed using the debian package that the build script made for me.

[2015-12-24 12:41] enricosada opened #646 "add development dependencies to project.json"
I think it should be awesome to have some place to define the **build dependencies** ( nuget packages with coreclr target ) of the project instead of only the package dependencies.

for example, i have a tool `HelperStuff` program who run on coreclr.

i can add this on package on a

[code]

and i can run this program  on postbuild, prebuild event.

Each package can use his version of the `HelperSt

[2015-12-24 13:01] davidfowl commented on #646
See https://github.com/piotrpMSFT/cli/blob/PackagedCommands/test/PackagedCommands/Consumers/AppWithToolDependency/project.json

[2015-12-24 13:06] enricosada commented on #646
really nice, thx @davidfowl .
I tried to find docs and search code before opening this issue, but the code change fast :smile:

[2015-12-24 13:11] enricosada commented on #586
@muratg i added compile fsc with pr #538.

I'll add others issues and link this issue to track commands who require specific f# support ( new, etc )

ref Microsoft/visualfsharp#834 too

[2015-12-24 13:22] enricosada opened #647 "teach `dotnet new` how to create f# programs"
dotnet new should also scaffold f# program.

The template is not a problem.

What's the best way to specify the language?

- command line argument ( `--language F#` ), default `c#` ?
- new command `dotnet-new-fsharp.exe` ( like `dotnet compile` => `dotnet-compile-fsc.exe` )
- new argument `F#` without `--language`

#### A personal feedback

make `c#` explicit like `f#` for new, asking what languag

[2015-12-24 13:23] enricosada commented on #586
`dotnet new` issue #647

[2015-12-24 13:36] enricosada commented on #643
@cdmihai you can redirect output to file only ( both error and output ), and use `tail` or `less` instead of tee

[2015-12-24 13:38] davidfowl commented on #647
I'm pretty sure it'll be hard to convince anyone that c# shouldn't be the default. It is today in all cases.

[2015-12-24 13:47] enricosada commented on #647
@davidfowl i know, but i need to ask, now `dotnet` is in beta/rc, after rtm is pretty much impossibile to change this behaviour

I really think it's not much different for csharp

- `--lang c#` explicit
- without args, ask a switch ( `- 1 => C#, -2 => VB, -3 => F# )

but it can be **a really nice move to feel all dotnet languages like first class support in a shared dotnet cli**.

It's ok to do `-

[2015-12-24 13:48] enricosada opened #648 "add command `dotnet repl fsi` for F# interactive"
`dotnet repl fsi` should launch the standard interactive console for f# ( fsi )

ref #586

[2015-12-24 14:04] enricosada commented on #646
i'll leave it open, is a work in progress atm, so if someone search about it, can see the work of @piotrpMSFT

[2015-12-24 14:18] davidfowl commented on #647
There are default source globbing patterns that assume C# as well. It's not just new. When there's no language specified it assume csc is the compiler.

[2015-12-24 14:43] enricosada commented on #647
about compilerName, the default is csc, and that's ok for me, let me explain why.

I have not raised a question about that, because `project.json` is generated by tools usually, nobody care about that.

The tool the user run is `dotnet new`, the api for user, and that should be language agnostic.

If it's not possible it should be possible to change the default.
We can read from an `DOTNET_CLI_LAN

[2015-12-24 14:58] davidfowl commented on #647
project.json is not generated by tools, I'm. It sure what you mean. If you if you only care about new (which is pretty much a toy) then sure. It can be as complicated as it needs to be, I don't think it'll be used that much.

The point of having project.json be minimal and having defaults inferred is so that it is human friendly and can we author it without tools. I'd hate to see this turn into an

[2015-12-24 15:15] enricosada commented on #647
@davidfowl i am ok with minimal project.json ( thx man about that ) and sane default. as i said, i am ok for default compilerName = "csc". I dont want an explicit compilerName on project.json.

i see `dotnet new` as the first OOTB experience of dotnet cli ( http://dotnet.github.io/getting-started/ ) and **it's good** like that. It's not about me and you, but new users.

Maybe yeoman and other scaf

[2015-12-24 15:17] enricosada commented on #647
@davidfowl it's only a nice to have, really, i'd like to maintain language agnostic where possibile, the default like this one are a nice to have, but `--lang` is ok. The rest of dotnet suite is really ok

[2015-12-24 15:44] enricosada commented on #640
i get that every local build

[code]

at random, random projects if i rerun `build.cmd`.

@jaredpar how can i help you? what i can enable to write the dump?

[2015-12-24 16:18] shahid-pk commented on #647
:+1:  for dotnet new defaults to c#
 Reason 1 : I estimate almost 90% dotnet devs use c# for better or worse but that is the reality.
 Reason 2 : A tool defaulting to something that has an estimated 90% or more use case doesn't make                              any other use case of the tool less first class citizen. It is only a convenience to majority of the users of the tool.

[2015-12-24 16:44] jaredpar commented on #640
@enricosada the easiest way is to use [procdump](https://technet.microsoft.com/en-us/sysinternals/dd996900) to create a dump file when corerun crashes.

@gkhanna79 has anyone from CoreCLR looked into this?  As said before that call stack is completely expected.  The Roslyn compiler is run on Desktop CLR and CoreCLR in a large number of combinations every day in our repo and we haven't seen this cr

[2015-12-24 17:56] pootow commented on #77
docker run -it microsoft/dotnet
root@a968e82a2801:~# dotnet new

Unhandled Exception: System.ComponentModel.Win32Exception: No such file or directory
   at System.Diagnostics.Process.ResolvePath(String filename)
   at System.Diagnostics.Process.StartCore(ProcessStartInfo startInfo)
   at Microsoft.DotNet.Cli.Utils.Command.Execute()
   at Microsoft.DotNet.Cli.Program.Main(String[] args)
Aborted (co

[2015-12-24 20:21] blackdwarf commented on #77
@dleeapho can you take a look? Seems like the Dockerfile is not getting the newest bits (the exception means that the "new" command is not found).

@pootow can you try to issue `dotnet init` and see if you get the correct behavior?

[2015-12-24 20:44] enricosada commented on #640
i created a dump http://1drv.ms/1VdJp75

[2015-12-24 21:07] piotrpMSFT commented on #270
@brthor why do Linux build scripts consider Compile and Package in Docker as independently configurable? This adds complexity I'd love to do away with. Can we make docker an all/nothing proposition?

[2015-12-25 02:59] pootow commented on #77
@blackdwarf dotnet init works，thanks

[2015-12-25 06:04] Sridhar-MS opened #649 "Builds are often breaking due to missing roslyn packages"
Currently all the builds are breaking due to missing Roslyn package -
Microsoft.CodeAnalysis.CSharp 1.2.0-beta-20151215-01

The required version is not available in the myget feed @ https://www.myget.org/feed/roslyn-nightly/package/nuget/Microsoft.CodeAnalysis.CSharp

Failing builds
http://dotnet-ci.cloudapp.net/job/dotnet_cli/job/debug_osx/54/console
http://dotnet-ci.cloudapp.net/job/dotnet_cli/

[2015-12-25 06:43] TheBlueSky commented on #35
Now that dotnet is going to use System.CommandLine, is it safe to assume that System.CommandLine will make it to corefx repository?

[2015-12-25 06:47] piotrpMSFT commented on #649
Sounds gross, but maybe we should just take a * dependency until we get stable Roslyn pkgs...

[2015-12-25 06:49] piotrpMSFT commented on #77
Whoa... Those are really old CLI bits, then...

[2015-12-25 07:04] piotrpMSFT commented on #647
@blackdwarf, we've been going back and forth on extending new like this. What's the latest?

[2015-12-25 07:05] piotrpMSFT commented on #646
:) thanks!

[2015-12-25 09:23] borgdylan commented on #641
The bug was caused due to a context RID not matching the actual RID. The context RID made was ```ubuntu.15.10-x86``` yet the RID made was ```ubuntu.14.04-x64```. The ```dotnet-publish``` command was considering both ```ubuntu.15.10-x86``` and ```ubuntu.15.10-x64``` so I modified the code to ignore the Ubuntu version. That fixes the bug for me.

https://github.com/borgdylan/dotnet-cli/blob/master/s

[2015-12-25 10:58] borgdylan commented on #647
Couldn't dotnet-new just issue a message on the console how to set the compiler that gets used plus a list of know compiler names that comes bundled with the CLI ?

[2015-12-25 11:53] enricosada commented on #647
@borgdylan it's not only about compilerName, it's about also the files, Program.cs or Program.fs or Program.vb.
If i choose a language, i can add compilerName for f# ( and vb i think ) and correct source file..
i really think `dotnet new` is the first experience for **some** new developers ( for example `dotnet new` + notepad or vim ), so what's matter is the language ( c#/f#/vb/dylan/etc ).

Anyw

[2015-12-25 13:50] shahid-pk commented on #647
@enricosada  :+1:  for your work , really excited to use fsharp on linux (the ms version of fsharp).

[2015-12-25 18:01] blackdwarf commented on #77
Yeah, we should look into this.

[2015-12-25 21:44] VivekRagunathan commented on #291
Same error here:

[code]

I tried setting this: `DOTNET_HOME=/usr/local/share/dotnet/` too as suggested in one of the forums.

No solution yet? Any workarounds?

[2015-12-25 21:53] dlech commented on #291
Please read/search the previous comments. Someone is working on it, but it is not fixed yet. There are several workarounds that have been mentioned, including one for El Capitan.

[2015-12-26 01:16] VivekRagunathan commented on #291
Yes I already did. I am running on OSX 10.11.2, and the `dotnet restore --runtime osx.10.10-x64` does not work its magic. I guess I will have to wait for the real fix.

[2015-12-26 03:13] dlech commented on #291
FWIW, I just updated to OS X 10.11.2 and `dotnet restore --runtime osx.10.10-x64` still works for me.

[2015-12-26 03:25] hunter-xue commented on #631
@blackdwarf delete the previous version manually and install the latest pkg, the file link was resolved. But "dotnet run" still cannot work, get error below:
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

[2015-12-26 03:43] hunter-xue opened #651 ""dotnet run" cannot work on MAC OS X 10.11.2"
I created a hello world project with "dotnet new", then execute "dotnet run" get error:
Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

but "/usr/local/share/dotnet/bin/dnx/dnx run" can work well.

[2015-12-26 10:55] davidfowl opened #652 "Building the CLI gives a out of memory exception"
On OSX El Capitan.

[code]

[2015-12-26 16:33] blackdwarf commented on #647
@piotrpMSFT we're pretty much where we were, with some ideas to allow for language overriding (i.e. what this issue is proposing). However, I **do** thing that `dotnet new` could be slightly more powerful without too much added complexity, so will be making a proposal on Mon.

[2015-12-26 22:34] piotrpMSFT commented on #652
I'm seeing the same. This only started yesterday and only repros on el cap. Exception is getting swallowed so no idea where this is coming from...

[2015-12-26 22:35] davidfowl commented on #652
So 2 things:
- why is the ci passing?
- can we revert the change that is causing it?

[2015-12-26 22:36] piotrpMSFT commented on #647
Thanks @blackdwarf. Looks like folks are excited to light this up, so let's make sure the story matches our plans!

[2015-12-26 22:38] piotrpMSFT commented on #651
Adding El Cap support needs to happen soon. @blackswarf has a Known Issues doc that should already be merged, and which offers a workaround. You need to explicitly specify the RID for the time being.

[2015-12-26 22:40] piotrpMSFT commented on #652
CI is not on El Cap yet. Have you identified the offending PR?

[2015-12-27 07:36] hunter-xue commented on #651
Understand now. Many thanks for your reply.

[2015-12-27 07:36] #651 closed

[2015-12-27 09:11] enricosada commented on #647
i added f# with `-f#` and `--fsharp` arguments. default is c# ( `-c#` and `--csharp` )

@blackdwarf @piotrpMSFT i have done the implementation before reading your comments, if it's useless np :smile:

[2015-12-27 10:04] borgdylan commented on #647
The experience should allow plugins via more binaries being added just like dotnet-compile. The mechanism used by @enricosada requires the CLI to be modified.